openapi: 3.0.0
info:
  description: "\r\n<div style='line-height: 30px;'>\r\n    <strong>Welcome to the\
    \ Big Red Cloud API</strong><br/>\r\n    This API enables programmatic access\
    \ to Big Red Cloud data.<br/>\r\n    We have used Swagger to auto generate the\
    \ API documentation on this page, and it also enables direct interaction with\
    \ the API in this page. <br/>\r\n    To get started, you will require an API Key\
    \ - check out our guide at <a target='_blank' href='https://www.bigredcloud.com/support/generating-api-key-guide/'>https://www.bigredcloud.com/support/generating-api-key-guide/</a>\
    \ for information on how to get one. <br/>\r\n    Use the  'Enter API Key' button\
    \ below to enter your API key and start interacting with your Big Red Cloud data\
    \ right on this page. <br/>\r\n    The API key will be stored in your browsers\
    \ local storage for convenience, but you will be able to delete it at any time\
    \ if you wish. <br/>\r\n    For additional information on the API, check out our\
    \ support article at <a target='_blank' href='https://www.bigredcloud.com/support/api/'>https://www.bigredcloud.com/support/api/</a><br/>\r\
    \n</div>"
  title: Big Red Cloud API
  version: v1
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://www.bigredcloud.com/wp-content/uploads/BRCfavicon.gif
  x-origin:
  - format: swagger
    url: https://app.bigredcloud.com/api/swagger/docs/v1
    version: "2.0"
  x-providerName: bigredcloud.com
servers:
- url: https://app.bigredcloud.com/api
paths:
  /v1/accounts:
    get:
      operationId: accounts_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 3
                    Items:
                    - accountGroup: Sales
                      accountType: Profit and Loss
                      code: "000"
                      description: SALES
                      id: 355
                    - accountGroup: Sales
                      accountType: Profit and Loss
                      code: "008"
                      description: SALES STOCK
                      id: 428
                    - accountGroup: Other Income
                      accountType: Profit and Loss
                      code: "050"
                      description: DISCOUNT RECEIVED
                      id: 349
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_AccountDto_'
          description: OK
      summary: "Returns a list of company's Accounts. Supports OData querying protocol.\r\
        \nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"code\" fields."
      tags:
      - Accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /v1/analysisCategories:
    get:
      operationId: analysis_categories_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 3
                    Items:
                    - accountCode: "000"
                      accountId: 355
                      categoryTypeId: 19
                      description: AnCat1
                      id: 1
                      orderIndex: 1
                    - accountCode: "000"
                      accountId: 355
                      categoryTypeId: 19
                      description: AnCat2
                      id: 2
                      orderIndex: 2
                    - accountCode: "000"
                      accountId: 355
                      categoryTypeId: 19
                      description: AnCat3
                      id: 3
                      orderIndex: 3
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_AnalysisCategoryDto_'
          description: OK
      summary: "Returns a list of company's Analysis Categories. Supports OData querying\
        \ protocol.\r\nFiltering is allowed by \"categoryTypeId\" field.\r\nOrdering\
        \ is allowed by \"id\" and \"orderIndex\" fields."
      tags:
      - AnalysisCategories
      x-openapi-router-controller: openapi_server.controllers.analysis_categories_controller
  /v1/bankAccounts:
    get:
      operationId: bank_accounts_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - acCode: B1
                      accountName: ""
                      accountNumber: "83700896"
                      address:
                      - Address Line 1
                      - Address Line 2
                      bankFeedSource: 0
                      businessIdentifierCodes: AIBKIE2D
                      categoryId: 41704
                      creditorScheme: XXXX
                      details: Bank_111111111111111111
                      id: 1
                      internationalBankAccountNumber: IE67 BOFI 9027 0925 7277 59
                      isDefaultBank: false
                      lastChq: "000005"
                      nominalAcCode: B101
                      oBalance: 0
                      sortCode: "900284"
                      timestamp: QUFBQUFBQUFDcXc9
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_BankAccountQueryDto_'
          description: OK
      summary: "Returns a list of company's Bank Account. Supports OData querying\
        \ protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and\
        \ \"acCode\" fields."
      tags:
      - BankAccounts
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
    post:
      operationId: bank_accounts_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountDto'
        description: Information of Bank Account to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Bank Account.
      tags:
      - BankAccounts
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
      x-codegen-request-body-name: body
  /v1/bankAccounts/batch:
    put:
      operationId: bank_accounts_process_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchItem_BankAccountDto_'
              type: array
        description: Batch of Bank Accounts to process.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Processes a batch of Bank Accounts.
      tags:
      - BankAccounts
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
      x-codegen-request-body-name: body
  /v1/bankAccounts/{id}:
    delete:
      operationId: bank_accounts_delete
      parameters:
      - description: Id of Bank Account to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timestamp of Bank Account to remove. Should be encoded in Base64.
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Removes an existing Bank Account.
      tags:
      - BankAccounts
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
    get:
      operationId: v1_bank_accounts_id_get
      parameters:
      - description: Id of Bank Account to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    acCode: B1
                    accountName: ""
                    accountNumber: "83700896"
                    address:
                    - Address Line 1
                    - Address Line 2
                    bankFeedSource: 0
                    businessIdentifierCodes: AIBKIE2D
                    categoryId: 41704
                    creditorScheme: XXXX
                    details: Bank_1
                    id: 1
                    internationalBankAccountNumber: IE67 BOFI 9027 0925 7277 59
                    isDefaultBank: false
                    lastChq: "000005"
                    nominalAcCode: B101
                    oBalance: 0
                    sortCode: "900284"
                    timestamp: QUFBQUFBQUFDcXc9
              schema:
                $ref: '#/components/schemas/BankAccountDto'
          description: OK
      summary: Returns information about a single Bank Account.
      tags:
      - BankAccounts
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
    put:
      operationId: bank_accounts_put
      parameters:
      - description: Id of Bank Account to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountDto'
        description: Information of Bank Account to update.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Updates an existing Bank Account.
      tags:
      - BankAccounts
      x-openapi-router-controller: openapi_server.controllers.bank_accounts_controller
      x-codegen-request-body-name: body
  /v1/bookTranTypes:
    get:
      operationId: book_tran_types_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 5
                    Items:
                    - code: ""
                      description: Cash Receipt
                      id: 1
                    - code: ""
                      description: Cash Payment
                      id: 2
                    - code: ""
                      description: Cheques Entry
                      id: 3
                    - code: ""
                      description: Purchases Book Entry
                      id: 4
                    - code: ""
                      description: Sales Entry
                      id: 5
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_BookTranTypeDto_'
          description: OK
      summary: "Returns a list of global Book Transactions' Types. Supports OData\
        \ querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by\
        \ \"id\" field."
      tags:
      - BookTranTypes
      x-openapi-router-controller: openapi_server.controllers.book_tran_types_controller
  /v1/cashPayments:
    get:
      operationId: cash_payments_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - acCode: null
                      acEntries:
                      - accountCode: CP01
                        analysisCategoryId: 10433
                        description: Cash Pay 01
                        id: 62741
                        value: 200
                      bankAccountCode: BAK2
                      bankAccountId: 11111
                      bookTranTypeId: 2
                      customFields: []
                      detailCollection:
                      - test
                      discount: 0
                      entryDate: 2017-07-01T00:00:00
                      id: 12345
                      ledger: 100
                      lodgement: 0
                      note: Supplier 1
                      plaidTransactionId: null
                      procDate: 2017-07-26T00:00:00
                      supplierId: 70599
                      timestamp: Z5K1u9RD2wg=
                      total: 100
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_CashPaymentQueryDto_'
          description: OK
      summary: "Returns a list of company's Cash Payments. Supports OData querying\
        \ protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is\
        \ allowed by \"id\" field."
      tags:
      - CashPayments
      x-openapi-router-controller: openapi_server.controllers.cash_payments_controller
    post:
      operationId: cash_payments_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashPaymentDto'
        description: Information of Cash Receipt to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Cash Payment.
      tags:
      - CashPayments
      x-openapi-router-controller: openapi_server.controllers.cash_payments_controller
      x-codegen-request-body-name: body
  /v1/cashPayments/batch:
    put:
      operationId: cash_payments_process_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchItem_CashPaymentDto_'
              type: array
        description: Batch of Cash Receipts to process.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Processes a batch of Cash Payments.
      tags:
      - CashPayments
      x-openapi-router-controller: openapi_server.controllers.cash_payments_controller
      x-codegen-request-body-name: body
  /v1/cashPayments/{id}:
    delete:
      operationId: cash_payments_delete
      parameters:
      - description: Id of Cash Receipt to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timestamp of Cash Receipt to remove. Should be encoded in Base64.
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Removes an existing Cash Payment.
      tags:
      - CashPayments
      x-openapi-router-controller: openapi_server.controllers.cash_payments_controller
    get:
      operationId: v1_cash_payments_id_get
      parameters:
      - description: Id of Cash Receipt to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    acCode: null
                    acEntries:
                    - accountCode: CP01
                      analysisCategoryId: 10433
                      description: Cash Pay 01
                      id: 62741
                      value: 200
                    bankAccountCode: BAK2
                    bankAccountId: 11111
                    bookTranTypeId: 2
                    customFields: []
                    detailCollection:
                    - test
                    discount: 0
                    entryDate: 2017-07-01T00:00:00
                    id: 12345
                    ledger: 100
                    lodgement: 0
                    note: Supplier 1
                    plaidTransactionId: null
                    procDate: 2017-07-26T00:00:00
                    supplierId: 70599
                    timestamp: rfS3u9RD2wg=
                    total: 100
              schema:
                $ref: '#/components/schemas/CashPaymentDto'
          description: OK
      summary: Returns information about a single Cash Payment.
      tags:
      - CashPayments
      x-openapi-router-controller: openapi_server.controllers.cash_payments_controller
    put:
      operationId: cash_payments_put
      parameters:
      - description: Id of Cash Receipt to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashPaymentDto'
        description: Information of Cash Receipt to update.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Updates an existing Cash Payment.
      tags:
      - CashPayments
      x-openapi-router-controller: openapi_server.controllers.cash_payments_controller
      x-codegen-request-body-name: body
  /v1/cashReceipts:
    get:
      operationId: cash_receipts_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - acCode: null
                      acEntries:
                      - accountCode: "000"
                        analysisCategoryId: 1
                        description: AnCat1
                        id: 1
                        value: 30
                      bookTranTypeId: 1
                      customFields:
                      - description: acudf_1
                        id: 1
                        userDefinedFieldId: 1
                        value: acudfv_1
                      customerId: null
                      detailCollection:
                      - det_1
                      - det_2
                      - det_3
                      discount: 0
                      entryDate: 2011-01-01T00:00:00
                      id: 1
                      ledger: 0
                      note: note1
                      plaidTransactionId: null
                      procDate: 2011-01-05T00:00:00
                      timestamp: f7m8u9RD2wg=
                      total: 50
                      unallocated: 0
                      vatEntries:
                      - amount: 50
                        id: 1
                        percentage: 15
                        vatRateId: 1
                      vatTypeId: null
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_CashReceiptQueryDto_'
          description: OK
      summary: "Returns a list of company's Cash Receipts. Supports OData querying\
        \ protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is\
        \ allowed by \"id\" field."
      tags:
      - CashReceipts
      x-openapi-router-controller: openapi_server.controllers.cash_receipts_controller
    post:
      operationId: cash_receipts_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashReceiptDto'
        description: Information of Cash Receipt to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Cash Receipt.
      tags:
      - CashReceipts
      x-openapi-router-controller: openapi_server.controllers.cash_receipts_controller
      x-codegen-request-body-name: body
  /v1/cashReceipts/batch:
    put:
      operationId: cash_receipts_process_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchItem_CashReceiptDto_'
              type: array
        description: Batch of Cash Receipts to process.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Processes a batch of Cash Receipts.
      tags:
      - CashReceipts
      x-openapi-router-controller: openapi_server.controllers.cash_receipts_controller
      x-codegen-request-body-name: body
  /v1/cashReceipts/{id}:
    delete:
      operationId: cash_receipts_delete
      parameters:
      - description: Id of Cash Receipt to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timestamp of Cash Receipt to remove. Should be encoded in Base64.
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Removes an existing Cash Receipt.
      tags:
      - CashReceipts
      x-openapi-router-controller: openapi_server.controllers.cash_receipts_controller
    get:
      operationId: v1_cash_receipts_id_get
      parameters:
      - description: Id of Cash Receipt to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    acCode: null
                    acEntries:
                    - accountCode: "000"
                      analysisCategoryId: 1
                      description: AnCat1
                      id: 1
                      value: 30
                    bookTranTypeId: 1
                    customFields:
                    - description: acudf_1
                      id: 1
                      userDefinedFieldId: 1
                      value: acudfv_1
                    customerId: null
                    detailCollection:
                    - det_1
                    - det_2
                    - det_3
                    discount: 0
                    entryDate: 2011-01-01T00:00:00
                    id: 1
                    ledger: 0
                    note: note1
                    plaidTransactionId: null
                    procDate: 2011-01-05T00:00:00
                    timestamp: uhu/u9RD2wg=
                    total: 50
                    unallocated: 0
                    vatEntries:
                    - amount: 50
                      id: 1
                      percentage: 15
                      vatRateId: 1
                    vatTypeId: null
              schema:
                $ref: '#/components/schemas/CashReceiptDto'
          description: OK
      summary: Returns information about a single Cash Receipt.
      tags:
      - CashReceipts
      x-openapi-router-controller: openapi_server.controllers.cash_receipts_controller
    put:
      operationId: cash_receipts_put
      parameters:
      - description: Id of Cash Receipt to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashReceiptDto'
        description: Information of Cash Receipt to update.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Updates an existing Cash Receipt.
      tags:
      - CashReceipts
      x-openapi-router-controller: openapi_server.controllers.cash_receipts_controller
      x-codegen-request-body-name: body
  /v1/categoryTypes:
    get:
      operationId: category_types_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - description: Cash Receipts
                      id: 17
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_CategoryTypeDto_'
          description: OK
      summary: "Returns a list of company's Category Types. Supports OData querying\
        \ protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field."
      tags:
      - CategoryTypes
      x-openapi-router-controller: openapi_server.controllers.category_types_controller
  /v1/companySettings:
    get:
      operationId: company_settings_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    enableVOCRReporting: true
                    id: 20164
                    useAllocations: true
                    value: ""
                    vocrSettingValue: false
              schema:
                $ref: '#/components/schemas/PageResult_CompanySettingDto_'
          description: OK
      summary: "Returns a list of company settings. Supports OData querying protocol.\r\
        \nFiltering is forbidden."
      tags:
      - CompanySettings
      x-openapi-router-controller: openapi_server.controllers.company_settings_controller
  /v1/companySetupConfig:
    get:
      operationId: company_setup_config_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySetupConfigViewModel'
          description: OK
      summary: Returns the company configuration settings.
      tags:
      - CompanySetupConfig
      x-openapi-router-controller: openapi_server.controllers.company_setup_config_controller
  /v1/companySetupConfig/getCompanyOptions:
    get:
      operationId: company_setup_config_get_company_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyOptionDto'
          description: OK
      summary: Returns the company option setting.
      tags:
      - CompanySetupConfig
      x-openapi-router-controller: openapi_server.controllers.company_setup_config_controller
  /v1/companySetupConfig/getFinancialYear:
    get:
      operationId: company_setup_config_get_financial_year
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialYearDto'
          description: OK
      summary: Returns the financial year.
      tags:
      - CompanySetupConfig
      x-openapi-router-controller: openapi_server.controllers.company_setup_config_controller
  /v1/customers:
    get:
      operationId: customers_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - accountName: ""
                      accountNumber: "12345678"
                      additionalEmails:
                      - email2@example.com
                      - email2@example.com
                      address:
                      - Address Line 1
                      - Address Line 2
                      authCode: VATEXCODE222
                      bank:
                        branch: Bank
                        id: 1
                        name: bank Name
                        sortCode: B01
                      businessIdentifierCode: AIBI02
                      code: "12345678"
                      contact: John Smith
                      delivery:
                      - Delivery 1
                      - Delivery 2
                      eFTReference: Reference
                      email: customer@email.com
                      fax: "1234567890"
                      id: 10589
                      internationalBankAccountNumber: "1233432532"
                      mobile: "1234567890"
                      name: Customer Name 1
                      ourCode: OURCODE111
                      ownerTypeId: 1
                      phone: "1234596970"
                      timestamp: yULGu9RD2wg=
                      vatAnalysisTypeId: 1
                      vatReg: VATCODE0001
                      vatType: 2
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_CustomerQueryDto_'
          description: OK
      summary: "Returns a list of company's Customers. Supports OData querying protocol.\r\
        \nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"code\" fields."
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    post:
      operationId: customers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDto'
        description: Information of Customer to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Customer.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/customers/batch:
    put:
      operationId: customers_process_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchItem_CustomerDto_'
              type: array
        description: Batch of Customers to process.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Processes a batch of Customers.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/customers/{id}:
    delete:
      operationId: customers_delete
      parameters:
      - description: Id of Customer to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timestamp of Customer to remove. Should be encoded in Base64.
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Removes an existing Customer.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    get:
      operationId: v1_customers_id_get
      parameters:
      - description: Id of Customer to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: If "true" then Customer's ledger balance will be calculated;
          otherwise balance will be returned as 0.
        explode: true
        in: query
        name: needBalance
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
          description: OK
      summary: Returns information about a single Customer. You may specify that Customer's
        ledger balance should be calculated.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    put:
      operationId: customers_put
      parameters:
      - description: Id of Customer to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDto'
        description: Information of Customer to update.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Updates an existing Customer.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/customers/{itemId}/accountTrans:
    get:
      operationId: customers_get_account_trans
      parameters:
      - description: Id of Customer to return account transaction.
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - bookTranId: 0
                    bookTranTypeId: 0
                    bookTransactionReference: O/Bal
                    bookTypeDesc: Opening Balance
                    credit: 0
                    debit: 30
                    id: 2
                    procDate: 2012-12-31T00:00:00
                  - bookTranId: 0
                    bookTranTypeId: 0
                    bookTransactionReference: "0000001"
                    bookTypeDesc: Bank Payment
                    credit: 0
                    debit: 10
                    id: 9
                    procDate: 2012-12-31T00:00:00
              schema:
                items:
                  $ref: '#/components/schemas/AccountTranDto'
                type: array
          description: OK
      summary: Returns a list of Customer's account transactions.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /v1/customers/{itemId}/openingBalance:
    get:
      operationId: customers_get_opening_balance
      parameters:
      - description: Id of Customer to return opening balances.
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    currentMonth: 10
                    oneMonthOld: 20
                    threeMonthsOld: 40
                    twoMonthsOld: 30
              schema:
                $ref: '#/components/schemas/OwnerOpeningBalanceInPeriodsDto'
          description: OK
      summary: "Returns a Customer's opening balances, calculated for the next periods:\
        \ current month, one month old, two months old, three and more months old."
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /v1/customers/{itemId}/openingBalanceList:
    get:
      operationId: customers_get_opening_balance_list
      parameters:
      - description: Id of Customer to return opening balances transaction.
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - entryDate: 2011-01-01T00:00:00
                    id: 1
                    procDate: 2011-02-01T00:00:00
                    reference: O/Bal
                    timestamp: xWnNu9RD2wg=
                    total: 10
                    totalVAT: 1.3
                    unpaid: 0
                    vatEntries:
                    - amount: 8.7
                      vatRateId: 1
                  - entryDate: 2011-01-01T00:00:00
                    id: 2
                    procDate: 2011-02-01T00:00:00
                    reference: O/Bal
                    timestamp: xWnNu9RD2wg=
                    total: 20
                    totalVAT: 3.33
                    unpaid: 0
                    vatEntries:
                    - amount: 16.77
                      vatRateId: 2
              schema:
                items:
                  $ref: '#/components/schemas/OwnerOpeningBalanceDto'
                type: array
          description: OK
      summary: Returns a list of Customer's opening balance transactions.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /v1/customers/{itemId}/quotes:
    get:
      operationId: customers_get_quotes
      parameters:
      - description: Id of Customer to return quotes.
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/QuoteDto'
                type: array
          description: OK
      summary: Returns a list of Customer's quotes.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /v1/email/sendEmailStatement:
    post:
      operationId: email_send_email_statement
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailStatementDto'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: "Sends a Statement email.\r\nIf \"toAddress\" is not empty then email\
        \ will be sent to this address. Otherwise email will be sent to Statement\
        \ Customer's address."
      tags:
      - Email
      x-openapi-router-controller: openapi_server.controllers.email_controller
      x-codegen-request-body-name: body
  /v1/email/sendQuote:
    post:
      operationId: email_send_quote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailQuoteDto'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: "Sends a Quote email.\r\nIf \"toAddress\" is not empty then email will\
        \ be sent to this address. Otherwise email will be sent to Statement Customer's\
        \ address."
      tags:
      - Email
      x-openapi-router-controller: openapi_server.controllers.email_controller
      x-codegen-request-body-name: body
  /v1/email/sendSalesInvoice:
    post:
      operationId: email_send_sales_invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesInvoiceEmailInfoDto'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: "Sends a Sales Invoice email.\r\nIf \"toAddress\" is not empty then\
        \ email will be sent to this address. Otherwise email will be sent to Sales\
        \ Invoice Customer's address."
      tags:
      - Email
      x-openapi-router-controller: openapi_server.controllers.email_controller
      x-codegen-request-body-name: body
  /v1/ownerTypeGroups:
    get:
      operationId: owner_type_groups_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 2
                    Items:
                    - description: Customer
                      id: 1
                    - description: Supplier
                      id: 2
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_OwnerTypeGroupDto_'
          description: OK
      summary: "Returns a list of global Owner Type Groups. Supports OData querying\
        \ protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field."
      tags:
      - OwnerTypeGroups
      x-openapi-router-controller: openapi_server.controllers.owner_type_groups_controller
  /v1/ownerTypes:
    get:
      operationId: owner_types_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 3
                    Items:
                    - description: Prospect
                      id: 1
                      recordTypeGroupId: 1
                    - description: Customer
                      id: 2
                      recordTypeGroupId: 1
                    - description: Supplier
                      id: 3
                      recordTypeGroupId: 2
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_OwnerTypeDto_'
          description: OK
      summary: "Returns a list of global Owner Types. Supports OData querying protocol.\r\
        \nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field."
      tags:
      - OwnerTypes
      x-openapi-router-controller: openapi_server.controllers.owner_types_controller
  /v1/payments:
    get:
      operationId: payments_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - acCode: C1
                      acEntries: []
                      bankAccountCode: B1
                      bankAccountId: 1
                      bookTranTypeId: 3
                      customFields:
                      - description: F1
                        id: 1
                        userDefinedFieldId: 1
                        value: f1
                      - description: F2
                        id: 2
                        userDefinedFieldId: 2
                        value: f2
                      detailCollection:
                      - d1
                      - d2
                      discount: 2
                      entryDate: 2011-07-01T00:00:00
                      id: 2
                      note: "123"
                      plaidTransactionId: null
                      procDate: 2011-08-08T00:00:00
                      reference: "000002"
                      supplierId: 2
                      timestamp: pVXZu9RD2wg=
                      total: 155
                      transferBankCode: ""
                      transferBankId: 1
                      unallocated: 155
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_PaymentQueryDto_'
          description: OK
      summary: "Returns a list of company's Payments. Supports OData querying protocol.\r\
        \nFiltering is allowed by \"entryDate\" field.\r\nOrdering is allowed by \"\
        id\" field."
      tags:
      - Payments
      x-openapi-router-controller: openapi_server.controllers.payments_controller
    post:
      operationId: payments_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentDto'
        description: Information of Payment to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Payment.
      tags:
      - Payments
      x-openapi-router-controller: openapi_server.controllers.payments_controller
      x-codegen-request-body-name: body
  /v1/payments/batch:
    put:
      operationId: payments_process_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchItem_PaymentDto_'
              type: array
        description: Batch of Payments to process.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Processes a batch of Payments.
      tags:
      - Payments
      x-openapi-router-controller: openapi_server.controllers.payments_controller
      x-codegen-request-body-name: body
  /v1/payments/{id}:
    delete:
      operationId: payments_delete
      parameters:
      - description: Id of Payment to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timestamp of Payment to remove. Should be encoded in Base64.
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Removes an existing Payment.
      tags:
      - Payments
      x-openapi-router-controller: openapi_server.controllers.payments_controller
    get:
      operationId: v1_payments_id_get
      parameters:
      - description: Id of Payment to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    acCode: C1
                    acEntries: []
                    bankAccountCode: B1
                    bankAccountId: 1
                    bookTranTypeId: 3
                    customFields:
                    - description: F1
                      id: 1
                      userDefinedFieldId: 1
                      value: f1
                    - description: F2
                      id: 2
                      userDefinedFieldId: 2
                      value: f2
                    detailCollection:
                    - d1
                    - d2
                    discount: 2
                    entryDate: 2011-07-01T00:00:00
                    id: 2
                    note: "123"
                    plaidTransactionId: null
                    procDate: 2011-08-08T00:00:00
                    reference: "000002"
                    supplierId: 2
                    timestamp: M7jbu9RD2wg=
                    total: 155
                    transferBankCode: ""
                    transferBankId: 1
                    unallocated: 155
              schema:
                $ref: '#/components/schemas/PaymentDto'
          description: OK
      summary: Returns information about a single Payments.
      tags:
      - Payments
      x-openapi-router-controller: openapi_server.controllers.payments_controller
    put:
      operationId: payments_put
      parameters:
      - description: Id of Payment to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentDto'
        description: Information of Payment to update.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Updates an existing Payment.
      tags:
      - Payments
      x-openapi-router-controller: openapi_server.controllers.payments_controller
      x-codegen-request-body-name: body
  /v1/productTypes:
    get:
      operationId: product_types_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 3
                    Items:
                    - description: Prospect
                      id: 1
                      recordTypeGroupId: 1
                    - description: Customer
                      id: 2
                      recordTypeGroupId: 1
                    - description: Supplier
                      id: 3
                      recordTypeGroupId: 2
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_OwnerTypeDto_'
          description: OK
      summary: "Returns a list of global Product Types. Supports OData querying protocol.\r\
        \nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field."
      tags:
      - ProductTypes
      x-openapi-router-controller: openapi_server.controllers.product_types_controller
  /v1/products:
    get:
      operationId: products_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - details:
                      - det1
                      - det2
                      - det3
                      grossUnitPrice: false
                      hasDefaultVatRate: false
                      id: 9
                      productTypeId: 0
                      stockCode: PRO1
                      timestamp: fRreu9RD2wg=
                      unitPrice: 100
                      vatAnalysisTypeId: 1
                      vatRateId: null
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_ProductDto_'
          description: OK
      summary: "Returns a list of company's Products. Supports OData querying protocol.\r\
        \nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"stockCode\"\
        \ fields."
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    post:
      operationId: products_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDto'
        description: Information of Product to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Product.
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /v1/products/batch:
    put:
      operationId: products_process_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchItem_ProductDto_'
              type: array
        description: Batch of Products to process.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Processes a batch of Products.
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /v1/products/{id}:
    delete:
      operationId: products_delete
      parameters:
      - description: Id of Product to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timestamp of Product to remove. Should be encoded in Base64.
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Removes an existing Product.
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    get:
      operationId: v1_products_id_get
      parameters:
      - description: Id of Product to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    details:
                    - det1
                    - det2
                    - det3
                    grossUnitPrice: false
                    hasDefaultVatRate: false
                    id: 9
                    productTypeId: 0
                    stockCode: PRO1
                    timestamp: fRreu9RD2wg=
                    unitPrice: 100
                    vatAnalysisTypeId: 1
                    vatRateId: null
              schema:
                $ref: '#/components/schemas/ProductDto'
          description: OK
      summary: Returns information about a single Product.
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    put:
      operationId: products_put
      parameters:
      - description: Id of Product to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDto'
        description: Information of Product to update.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Updates an existing Product.
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /v1/purchases:
    get:
      operationId: purchases_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - acCode: SUP3
                      acEntries:
                      - accountCode: PU03
                        analysisCategoryId: 10441
                        description: PUR 3
                        id: 12518
                        value: 90.91
                      bookTranTypeId: 4
                      customFields: []
                      detailCollection: []
                      entryDate: 2016-06-01T00:00:00
                      id: 13380
                      isDiscrepancyAccepted: null
                      netGoods: 0
                      netServices: 0
                      note: Supplier 3
                      postponedAccounting: false
                      procDate: 2016-06-24T00:00:00
                      reference: "000001"
                      supplierId: 10173
                      timestamp: u3zgu9RD2wg=
                      total: 100
                      totalNet: 90.91
                      totalVAT: 9.09
                      unallocated: 100
                      unpaid: 100
                      vatEntries:
                      - amount: 90.91
                        id: 12267
                        percentage: 10
                        vatRateId: 10317
                      vatTypeId: 1
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_PurchaseQueryDto_'
          description: OK
      summary: "Returns a list of company's Purchases. Supports OData querying protocol.\r\
        \nFiltering is allowed by \"entryDate\" field.\r\nOrdering is allowed by \"\
        id\" field."
      tags:
      - Purchases
      x-openapi-router-controller: openapi_server.controllers.purchases_controller
    post:
      operationId: purchases_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseDto'
        description: Information of Purchase to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Purchase.
      tags:
      - Purchases
      x-openapi-router-controller: openapi_server.controllers.purchases_controller
      x-codegen-request-body-name: body
  /v1/purchases/batch:
    put:
      operationId: purchases_process_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchItem_PurchaseDto_'
              type: array
        description: Batch of Purchases to process.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Processes a batch of Purchases.
      tags:
      - Purchases
      x-openapi-router-controller: openapi_server.controllers.purchases_controller
      x-codegen-request-body-name: body
  /v1/purchases/{id}:
    delete:
      operationId: purchases_delete
      parameters:
      - description: Id of Purchase to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timestamp of Purchase to remove. Should be encoded in Base64.
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Removes an existing Purchase.
      tags:
      - Purchases
      x-openapi-router-controller: openapi_server.controllers.purchases_controller
    get:
      operationId: v1_purchases_id_get
      parameters:
      - description: Id of Purchase to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    acCode: SUP3
                    acEntries:
                    - accountCode: PU03
                      analysisCategoryId: 10441
                      description: PUR 3
                      id: 12518
                      value: 90.91
                    bookTranTypeId: 4
                    customFields: []
                    detailCollection: []
                    entryDate: 2016-06-01T00:00:00
                    id: 13380
                    isDiscrepancyAccepted: false
                    netGoods: 0
                    netServices: 0
                    note: Supplier 3
                    postponedAccounting: false
                    procDate: 2016-06-24T00:00:00
                    reference: "000001"
                    supplierId: 10173
                    timestamp: QN/iu9RD2wg=
                    total: 100
                    totalNet: 90.91
                    totalVAT: 9.09
                    unallocated: 100
                    unpaid: 100
                    vatEntries:
                    - amount: 90.91
                      id: 12267
                      percentage: 10
                      vatRateId: 10317
                    vatTypeId: 1
              schema:
                $ref: '#/components/schemas/PurchaseDto'
          description: OK
      summary: Returns information about a single Purchases.
      tags:
      - Purchases
      x-openapi-router-controller: openapi_server.controllers.purchases_controller
    put:
      operationId: purchases_put
      parameters:
      - description: Id of Purchase to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseDto'
        description: Information of Purchase to update.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Updates an existing Purchase.
      tags:
      - Purchases
      x-openapi-router-controller: openapi_server.controllers.purchases_controller
      x-codegen-request-body-name: body
  /v1/quotes:
    get:
      operationId: quote_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - acCode: null
                      closedDate: null
                      comments: Sample
                      companyId: 40449
                      customFields: null
                      customerOwnerId: 70583
                      customerOwnerName: Customer 1
                      ddNumber: Sample
                      deliveryList: null
                      deliveryTo: null
                      entryDate: 2017-01-01T00:00:00
                      id: 1
                      layoutType: 1
                      note: null
                      poNumber: Sample
                      procDate: 2017-01-05T00:00:00
                      productTrans:
                      - acEntries:
                        - accountCode: sample
                          analysisCategoryId: 40888
                          companyId: 40449
                          id: 1
                          quoteProductTranId: 40277
                          value: 100
                        amount: 10
                        companyId: 40449
                        id: 40277
                        percentage: 0
                        productCode: PRO1
                        productId: 20107
                        quantity: 1
                        tranNotes:
                        - Product
                        unitPrice: 100
                        vatAmount: 10
                        vatAnalysisTypeId: 0
                        vatRateId: 30657
                      reference: "000032"
                      saleInvoiceId: 30044
                      saleRepCode: null
                      saleRepId: 75783
                      timeStamp: lEHlu9RD2wg=
                      total: 110
                      totalNet: 100
                      totalVat: 10
                      vatTypeId: 1
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_QuoteDto_'
          description: OK
      summary: "Returns a list of company's Quotes.\r\nFiltering is forbidden.\r\n\
        Ordering is allowed by \"id\"."
      tags:
      - Quote
      x-openapi-router-controller: openapi_server.controllers.quote_controller
    post:
      operationId: quote_post
      requestBody:
        $ref: '#/components/requestBodies/QuoteDto'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Quote.
      tags:
      - Quote
      x-openapi-router-controller: openapi_server.controllers.quote_controller
      x-codegen-request-body-name: body
  /v1/quotes/batch:
    put:
      operationId: quote_process_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchItem_QuoteDto_'
              type: array
        description: Batch of Quote to process.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Processes a batch of Quote.
      tags:
      - Quote
      x-openapi-router-controller: openapi_server.controllers.quote_controller
      x-codegen-request-body-name: body
  /v1/quotes/close/{id}:
    put:
      operationId: quote_close
      parameters:
      - description: Id of Quote to close
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Close a Quote.
      tags:
      - Quote
      x-openapi-router-controller: openapi_server.controllers.quote_controller
  /v1/quotes/createQuoteWithGeneratingReference:
    post:
      operationId: quote_post_create_quote_with_generating_reference
      requestBody:
        $ref: '#/components/requestBodies/QuoteDto'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Quote with auto generating reference.
      tags:
      - Quote
      x-openapi-router-controller: openapi_server.controllers.quote_controller
      x-codegen-request-body-name: body
  /v1/quotes/generateSaleInvoice:
    post:
      operationId: quote_post_generate_sale_invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteGeneratingInvoiceDto'
        description: Id of Quote to generate
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: "Generate a sale invoice from a Quote.\r\nWhen sale invoice is empty,\
        \ new sale invoice will be generated from Quote."
      tags:
      - Quote
      x-openapi-router-controller: openapi_server.controllers.quote_controller
      x-codegen-request-body-name: body
  /v1/quotes/reopen/{id}:
    put:
      operationId: quote_reopen
      parameters:
      - description: Id of Quote to reopen
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Reopen a Quote.
      tags:
      - Quote
      x-openapi-router-controller: openapi_server.controllers.quote_controller
  /v1/quotes/{id}:
    delete:
      operationId: quote_delete
      parameters:
      - description: Id of Quote to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timestamp of Quote to remove. Should be encoded in Base64.
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Removes an existing Quote.
      tags:
      - Quote
      x-openapi-router-controller: openapi_server.controllers.quote_controller
    get:
      operationId: v1_quotes_id_get
      parameters:
      - description: Id of Sale Rep to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    acCode: null
                    closedDate: null
                    comments: Sample
                    companyId: 40449
                    customFields: null
                    customerOwnerId: 70583
                    customerOwnerName: Customer 1
                    ddNumber: Sample
                    deliveryList: null
                    deliveryTo: null
                    entryDate: 2017-01-01T00:00:00
                    id: 1
                    layoutType: 1
                    note: null
                    poNumber: Sample
                    procDate: 2017-01-05T00:00:00
                    productTrans:
                    - acEntries:
                      - accountCode: sample
                        analysisCategoryId: 40888
                        companyId: 40449
                        id: 1
                        quoteProductTranId: 40277
                        value: 100
                      amount: 10
                      companyId: 40449
                      id: 40277
                      percentage: 0
                      productCode: PRO1
                      productId: 20107
                      quantity: 1
                      tranNotes:
                      - Product
                      unitPrice: 100
                      vatAmount: 10
                      vatAnalysisTypeId: 0
                      vatRateId: 30657
                    reference: "000032"
                    saleInvoiceId: 30044
                    saleRepCode: null
                    saleRepId: 75783
                    timeStamp: SAbqu9RD2wg=
                    total: 110
                    totalNet: 100
                    totalVat: 10
                    vatTypeId: 1
              schema:
                $ref: '#/components/schemas/QuoteDto'
          description: OK
      summary: Returns information about a single Quote.
      tags:
      - Quote
      x-openapi-router-controller: openapi_server.controllers.quote_controller
    put:
      operationId: quote_put
      parameters:
      - description: Id of Quote to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteDto'
        description: Information of Quote to update.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Updates an existing Quote.
      tags:
      - Quote
      x-openapi-router-controller: openapi_server.controllers.quote_controller
      x-codegen-request-body-name: body
  /v1/sales:
    get:
      operationId: sales_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - acCode: code
                      acEntries:
                      - accountCode: "000"
                        analysisCategoryId: 1
                        description: AnCat 1
                        id: 1
                        value: 20
                      - accountCode: "000"
                        analysisCategoryId: 1
                        description: AnCat 2
                        id: 2
                        value: 10
                      bookTranTypeId: 6
                      customFields:
                      - description: acudf_1
                        id: 1
                        userDefinedFieldId: 1
                        value: acudfv_1
                      customerId: 1
                      details: detail_1
                      entryDate: 2011-01-01T00:00:00
                      id: 1
                      loType: "1"
                      note: note_1
                      procDate: 2011-01-01T00:00:00
                      reference: "000001"
                      timestamp: C8vuu9RD2wg=
                      total: 82.5
                      totalNet: 70
                      totalVAT: 12.5
                      unpaid: 12.5
                      vatEntries:
                      - amount: 30
                        id: 1
                        percentage: 15
                        vatRateId: 1
                      - amount: 40
                        id: 2
                        percentage: 20
                        vatRateId: 2
                      vatTypeId: 1
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_SalesQueryDto_'
          description: OK
      summary: "Returns a list of company's Sales Entries, Sales Invoices and Sales\
        \ Credit Notes. Supports OData querying protocol.\r\nFiltering is allowed\
        \ by \"entryDate\" field.\r\nOrdering is allowed by \"id\" field."
      tags:
      - Sales
      x-openapi-router-controller: openapi_server.controllers.sales_controller
  /v1/salesCreditNotes:
    get:
      operationId: sales_credit_notes_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - acCode: CUS3
                      bookTranTypeId: 7
                      customFields:
                      - description: acudf_1
                        id: 1
                        userDefinedFieldId: 1
                        value: acudfv_1
                      - description: acudf_2
                        id: 2
                        userDefinedFieldId: 1
                        value: acudfv_2
                      customerId: 70585
                      deliveryTo:
                      - dt_1
                      - dt_2
                      details: detail_1
                      entryDate: 2016-06-01T00:00:00
                      id: 75813
                      loType: "1"
                      netGoods: null
                      netServices: null
                      note: Customer 3
                      ourReference: ddNumber_1
                      procDate: 2016-06-24T00:00:00
                      productTrans:
                      - acEntries:
                        - accountCode: SA02
                          analysisCategoryId: 40889
                          description: AnCat1
                          id: 73455
                          value: -200
                        amount: -220
                        amountNet: -200
                        id: 51820
                        percentage: 10
                        productCode: PRO2
                        productId: 20108
                        quantity: -1
                        tranNotes:
                        - tn_1
                        - tn_2
                        unitPrice: 200
                        vat: -20
                        vatAnalysisTypeId: 0
                        vatRateId: 30657
                      quoteId: null
                      reference: "000001"
                      saleRepCode: null
                      saleRepId: 33110
                      timestamp: DfL1u9RD2wg=
                      total: -220
                      totalNet: -200
                      totalVAT: -20
                      unpaid: -220
                      vatTypeId: 1
                      yourReference: poNumber_1
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_SalesCreditNoteQueryDto_'
          description: OK
      summary: "Returns a list of company's Sales Credit Notes. Supports OData querying\
        \ protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is\
        \ allowed by \"id\" field."
      tags:
      - SalesCreditNotes
      x-openapi-router-controller: openapi_server.controllers.sales_credit_notes_controller
    post:
      operationId: sales_credit_notes_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesInvoiceCreditNoteDto'
        description: Information of Sales Credit Note to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Sales Credit Note.
      tags:
      - SalesCreditNotes
      x-openapi-router-controller: openapi_server.controllers.sales_credit_notes_controller
      x-codegen-request-body-name: body
  /v1/salesCreditNotes/batch:
    put:
      operationId: sales_credit_notes_process_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchItem_SalesInvoiceCreditNoteDto_'
              type: array
        description: Batch of Sales Credit Notes to process.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Processes a batch of Sales Credit Notes.
      tags:
      - SalesCreditNotes
      x-openapi-router-controller: openapi_server.controllers.sales_credit_notes_controller
      x-codegen-request-body-name: body
  /v1/salesCreditNotes/{id}:
    delete:
      operationId: sales_credit_notes_delete
      parameters:
      - description: Id of Sales Credit Note to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timestamp of Sales Credit Note to remove. Should be encoded in
          Base64.
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Removes an existing Sales Credit Note.
      tags:
      - SalesCreditNotes
      x-openapi-router-controller: openapi_server.controllers.sales_credit_notes_controller
    get:
      operationId: v1_sales_credit_notes_id_get
      parameters:
      - description: Id of Sales Credit Note to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    acCode: CUS3
                    bookTranTypeId: 7
                    customFields:
                    - description: acudf_1
                      id: 1
                      userDefinedFieldId: 1
                      value: acudfv_1
                    - description: acudf_2
                      id: 2
                      userDefinedFieldId: 1
                      value: acudfv_2
                    customerId: 70585
                    deliveryTo:
                    - dt_1
                    - dt_2
                    details: detail_1
                    entryDate: 2016-06-01T00:00:00
                    id: 75813
                    loType: "1"
                    netGoods: null
                    netServices: null
                    note: Customer 3
                    ourReference: ddNumber_1
                    procDate: 2016-06-24T00:00:00
                    productTrans:
                    - acEntries:
                      - accountCode: SA02
                        analysisCategoryId: 40889
                        description: AnCat1
                        id: 73455
                        value: -200
                      amount: -220
                      amountNet: -200
                      id: 51820
                      percentage: 10
                      productCode: PRO2
                      productId: 20108
                      quantity: -1
                      tranNotes:
                      - tn_1
                      - tn_2
                      unitPrice: 200
                      vat: -20
                      vatAnalysisTypeId: 0
                      vatRateId: 30657
                    quoteId: null
                    reference: "000001"
                    saleRepCode: null
                    saleRepId: 33110
                    timestamp: DfL1u9RD2wg=
                    total: -220
                    totalNet: -200
                    totalVAT: -20
                    unpaid: -220
                    vatTypeId: 1
                    yourReference: poNumber_1
              schema:
                $ref: '#/components/schemas/SalesInvoiceCreditNoteDto'
          description: OK
      summary: Returns information about a single Sales Credit Note.
      tags:
      - SalesCreditNotes
      x-openapi-router-controller: openapi_server.controllers.sales_credit_notes_controller
    put:
      operationId: sales_credit_notes_put
      parameters:
      - description: Id of Sales Credit Note to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesInvoiceCreditNoteDto'
        description: Information of Sales Credit Note to update.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Updates an existing Sales Credit Note.
      tags:
      - SalesCreditNotes
      x-openapi-router-controller: openapi_server.controllers.sales_credit_notes_controller
      x-codegen-request-body-name: body
  /v1/salesEntries:
    get:
      operationId: sales_entries_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - acCode: code
                      acEntries:
                      - accountCode: SA01
                        analysisCategoryId: 40888
                        description: SAL 1
                        id: 73450
                        value: 636.36
                      bookTranTypeId: 5
                      customFields:
                      - description: acudf_1
                        id: 1
                        userDefinedFieldId: 1
                        value: acudfv_1
                      - description: acudf_2
                        id: 2
                        userDefinedFieldId: 1
                        value: acudfv_2
                      customerId: 70583
                      detailCollection: []
                      details: detail_1
                      entryDate: 2011-01-01T00:00:00
                      id: 1
                      netGoods: 0
                      netServices: 0
                      note: Customer 1
                      procDate: 2011-01-01T00:00:00
                      reference: "000001"
                      timestamp: xLb6u9RD2wg=
                      total: 700
                      totalNet: 636.36
                      totalVAT: 63.64
                      unpaid: 0
                      vatEntries:
                      - amount: 636.36
                        id: 63649
                        percentage: 10
                        vatRateId: 30657
                      vatTypeId: 1
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_SalesEntryQueryDto_'
          description: OK
      summary: "Returns a list of company's Sales Entries. Supports OData querying\
        \ protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is\
        \ allowed by \"id\" field."
      tags:
      - SalesEntries
      x-openapi-router-controller: openapi_server.controllers.sales_entries_controller
    post:
      operationId: sales_entries_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesEntryDto'
        description: Information of Sales Entry to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Sales Entry.
      tags:
      - SalesEntries
      x-openapi-router-controller: openapi_server.controllers.sales_entries_controller
      x-codegen-request-body-name: body
  /v1/salesEntries/batch:
    put:
      operationId: sales_entries_process_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchItem_SalesEntryDto_'
              type: array
        description: Batch of Sales Entries to process.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Processes a batch of Sales Entries.
      tags:
      - SalesEntries
      x-openapi-router-controller: openapi_server.controllers.sales_entries_controller
      x-codegen-request-body-name: body
  /v1/salesEntries/{id}:
    delete:
      operationId: sales_entries_delete
      parameters:
      - description: Id of Sales Entry to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timestamp of Sales Entry to remove. Should be encoded in Base64.
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Removes an existing Sales Entry.
      tags:
      - SalesEntries
      x-openapi-router-controller: openapi_server.controllers.sales_entries_controller
    get:
      operationId: v1_sales_entries_id_get
      parameters:
      - description: Id of Sales Entry to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    acCode: code
                    acEntries:
                    - accountCode: SA01
                      analysisCategoryId: 40888
                      description: SAL 1
                      id: 73450
                      value: 636.36
                    bookTranTypeId: 5
                    customFields:
                    - description: acudf_1
                      id: 1
                      userDefinedFieldId: 1
                      value: acudfv_1
                    - description: acudf_2
                      id: 2
                      userDefinedFieldId: 1
                      value: acudfv_2
                    customerId: 70583
                    detailCollection: []
                    details: detail_1
                    entryDate: 2011-01-01T00:00:00
                    id: 1
                    netGoods: 0
                    netServices: 0
                    note: Customer 1
                    procDate: 2011-01-01T00:00:00
                    reference: "000001"
                    timestamp: Ehn9u9RD2wg=
                    total: 700
                    totalNet: 636.36
                    totalVAT: 63.64
                    unpaid: 0
                    vatEntries:
                    - amount: 636.36
                      id: 63649
                      percentage: 10
                      vatRateId: 30657
                    vatTypeId: 1
              schema:
                $ref: '#/components/schemas/SalesEntryDto'
          description: OK
      summary: Returns information about a single Sales Entry.
      tags:
      - SalesEntries
      x-openapi-router-controller: openapi_server.controllers.sales_entries_controller
    put:
      operationId: sales_entries_put
      parameters:
      - description: Id of Sales Entry to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesEntryDto'
        description: Information of Sales Entry to update.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Updates an existing Sales Entry.
      tags:
      - SalesEntries
      x-openapi-router-controller: openapi_server.controllers.sales_entries_controller
      x-codegen-request-body-name: body
  /v1/salesInvoices:
    get:
      operationId: sales_invoices_get
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    Count: 1
                    Items:
                    - acCode: CUS3
                      bookTranTypeId: 7
                      customFields:
                      - description: acudf_1
                        id: 1
                        userDefinedFieldId: 1
                        value: acudfv_1
                      - description: acudf_2
                        id: 2
                        userDefinedFieldId: 1
                        value: acudfv_2
                      customerId: 70585
                      deliveryTo:
                      - dt_1
                      - dt_2
                      details: detail_1
                      entryDate: 2016-06-01T00:00:00
                      id: 75813
                      loType: "1"
                      netGoods: null
                      netServices: null
                      note: Customer 3
                      ourReference: ddNumber_1
                      procDate: 2016-06-24T00:00:00
                      productTrans:
                      - acEntries:
                        - accountCode: SA02
                          analysisCategoryId: 40889
                          description: AnCat1
                          id: 73455
                          value: -200
                        amount: -220
                        amountNet: -200
                        id: 51820
                        percentage: 10
                        productCode: PRO2
                        productId: 20108
                        quantity: -1
                        tranNotes:
                        - tn_1
                        - tn_2
                        unitPrice: 200
                        vat: -20
                        vatAnalysisTypeId: 0
                        vatRateId: 30657
                      quoteId: null
                      reference: "000001"
                      saleRepCode: null
                      saleRepId: 33110
                      timestamp: fqIGvNRD2wg=
                      total: -220
                      totalNet: -200
                      totalVAT: -20
                      unpaid: -220
                      vatTypeId: 1
                      yourReference: poNumber_1
                    NextPageLink: ""
              schema:
                $ref: '#/components/schemas/PageResult_SalesInvoiceQueryDto_'
          description: OK
      summary: "Returns a list of company's Sales Invoices. Supports OData querying\
        \ protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is\
        \ allowed by \"id\" field."
      tags:
      - SalesInvoices
      x-openapi-router-controller: openapi_server.controllers.sales_invoices_controller
    post:
      operationId: sales_invoices_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesInvoiceCreditNoteDto'
        description: Information of Sales Invoice to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Sales Invoice.
      tags:
      - SalesInvoices
      x-openapi-router-controller: openapi_server.controllers.sales_invoices_controller
      x-codegen-request-body-name: body
  /v1/salesInvoices/batch:
    put:
      operationId: sales_invoices_process_batch
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchItem_SalesInvoiceCreditNoteDto_'
              type: array
        description: Batch of Sales Invoices to process.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Processes a batch of Sales Invoices.
      tags:
      - SalesInvoices
      x-openapi-router-controller: openapi_server.controllers.sales_invoices_controller
      x-codegen-request-body-name: body
  /v1/salesInvoices/createSaleInvoiceWithGeneratingReference:
    post:
      operationId: sales_invoices_post_create_sale_invoice_with_generating_reference
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesInvoiceCreditNoteDto'
        description: Information of Sale Invoice to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Creates a new Sale Invoice with auto generating reference.
      tags:
      - SalesInvoices
      x-openapi-router-controller: openapi_server.controllers.sales_invoices_controller
      x-codegen-request-body-name: body
  /v1/salesInvoices/{id}:
    delete:
      operationId: sales_invoices_delete
      parameters:
      - description: Id of Sales Invoice to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Timestamp of Sales Invoice to remove. Should be encoded in Base64.
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Removes an existing Sales Invoice.
      tags:
      - SalesInvoices
      x-openapi-router-controller: openapi_server.controllers.sales_invoices_controller
    get:
      operationId: v1_sales_invoices_id_get
      parameters:
[...]
