openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Provides a historical view of activity in Google Drive.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Drive Activity API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://driveactivity.googleapis.com/$discovery/rest?version=v2
    version: v1
  x-providerName: googleapis.com
  x-serviceName: driveactivity
externalDocs:
  url: https://developers.google.com/drive/activity/
servers:
- url: https://driveactivity.googleapis.com/
tags:
- name: activity
paths:
  /v2/activity:query:
    post:
      description: Query past activity in Google Drive.
      operationId: driveactivity.activity.query
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDriveActivityRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDriveActivityResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.activity
        Oauth2c:
        - https://www.googleapis.com/auth/drive.activity
      - Oauth2:
        - https://www.googleapis.com/auth/drive.activity.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.activity.readonly
      tags:
      - activity
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Action:
      description: Information about the action.
      example:
        actor:
          administrator: "{}"
          impersonation:
            impersonatedUser:
              knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
          system:
            type: TYPE_UNSPECIFIED
          anonymous: "{}"
          user:
            knownUser:
              personName: personName
              isCurrentUser: true
            deletedUser: "{}"
            unknownUser: "{}"
        detail:
          reference:
            type: UNSPECIFIED_REFERENCE_TYPE
          appliedLabelChange:
            changes:
            - types:
              - TYPE_UNSPECIFIED
              - TYPE_UNSPECIFIED
              label: label
              title: title
              fieldChanges:
              - newValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                displayName: displayName
                oldValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                fieldId: fieldId
              - newValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                displayName: displayName
                oldValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                fieldId: fieldId
            - types:
              - TYPE_UNSPECIFIED
              - TYPE_UNSPECIFIED
              label: label
              title: title
              fieldChanges:
              - newValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                displayName: displayName
                oldValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                fieldId: fieldId
              - newValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                displayName: displayName
                oldValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                fieldId: fieldId
          move:
            addedParents:
            - driveItem:
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                title: title
              teamDrive:
                name: name
                title: title
              drive:
                name: name
                title: title
            - driveItem:
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                title: title
              teamDrive:
                name: name
                title: title
              drive:
                name: name
                title: title
            removedParents:
            - driveItem:
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                title: title
              teamDrive:
                name: name
                title: title
              drive:
                name: name
                title: title
            - driveItem:
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                title: title
              teamDrive:
                name: name
                title: title
              drive:
                name: name
                title: title
          restore:
            type: TYPE_UNSPECIFIED
          edit: "{}"
          rename:
            newTitle: newTitle
            oldTitle: oldTitle
          dlpChange:
            type: TYPE_UNSPECIFIED
          settingsChange:
            restrictionChanges:
            - newRestriction: RESTRICTION_UNSPECIFIED
              feature: FEATURE_UNSPECIFIED
            - newRestriction: RESTRICTION_UNSPECIFIED
              feature: FEATURE_UNSPECIFIED
          create:
            new: "{}"
            upload: "{}"
            copy:
              originalObject:
                driveItem:
                  file: "{}"
                  folder:
                    type: TYPE_UNSPECIFIED
                  driveFolder:
                    type: TYPE_UNSPECIFIED
                  name: name
                  driveFile: "{}"
                  title: title
                teamDrive:
                  name: name
                  title: title
                drive:
                  name: name
                  title: title
          comment:
            post:
              subtype: SUBTYPE_UNSPECIFIED
            assignment:
              subtype: SUBTYPE_UNSPECIFIED
              assignedUser:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
            suggestion:
              subtype: SUBTYPE_UNSPECIFIED
            mentionedUsers:
            - knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
            - knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
          permissionChange:
            removedPermissions:
            - allowDiscovery: true
              role: ROLE_UNSPECIFIED
              anyone: "{}"
              domain:
                name: name
                legacyId: legacyId
              user:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
              group:
                title: title
                email: email
            - allowDiscovery: true
              role: ROLE_UNSPECIFIED
              anyone: "{}"
              domain:
                name: name
                legacyId: legacyId
              user:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
              group:
                title: title
                email: email
            addedPermissions:
            - allowDiscovery: true
              role: ROLE_UNSPECIFIED
              anyone: "{}"
              domain:
                name: name
                legacyId: legacyId
              user:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
              group:
                title: title
                email: email
            - allowDiscovery: true
              role: ROLE_UNSPECIFIED
              anyone: "{}"
              domain:
                name: name
                legacyId: legacyId
              user:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
              group:
                title: title
                email: email
          delete:
            type: TYPE_UNSPECIFIED
        target:
          driveItem:
            owner:
              teamDrive:
                name: name
                title: title
              domain:
                name: name
                legacyId: legacyId
              drive:
                name: name
                title: title
              user:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
            file: "{}"
            folder:
              type: TYPE_UNSPECIFIED
            driveFolder:
              type: TYPE_UNSPECIFIED
            name: name
            driveFile: "{}"
            mimeType: mimeType
            title: title
          fileComment:
            parent:
              owner:
                teamDrive:
                  name: name
                  title: title
                domain:
                  name: name
                  legacyId: legacyId
                drive:
                  name: name
                  title: title
                user:
                  knownUser:
                    personName: personName
                    isCurrentUser: true
                  deletedUser: "{}"
                  unknownUser: "{}"
              file: "{}"
              folder:
                type: TYPE_UNSPECIFIED
              driveFolder:
                type: TYPE_UNSPECIFIED
              name: name
              driveFile: "{}"
              mimeType: mimeType
              title: title
            legacyCommentId: legacyCommentId
            legacyDiscussionId: legacyDiscussionId
            linkToDiscussion: linkToDiscussion
          teamDrive:
            root:
              owner:
                teamDrive:
                  name: name
                  title: title
                domain:
                  name: name
                  legacyId: legacyId
                drive:
                  name: name
                  title: title
                user:
                  knownUser:
                    personName: personName
                    isCurrentUser: true
                  deletedUser: "{}"
                  unknownUser: "{}"
              file: "{}"
              folder:
                type: TYPE_UNSPECIFIED
              driveFolder:
                type: TYPE_UNSPECIFIED
              name: name
              driveFile: "{}"
              mimeType: mimeType
              title: title
            name: name
            title: title
          drive:
            root:
              owner:
                teamDrive:
                  name: name
                  title: title
                domain:
                  name: name
                  legacyId: legacyId
                drive:
                  name: name
                  title: title
                user:
                  knownUser:
                    personName: personName
                    isCurrentUser: true
                  deletedUser: "{}"
                  unknownUser: "{}"
              file: "{}"
              folder:
                type: TYPE_UNSPECIFIED
              driveFolder:
                type: TYPE_UNSPECIFIED
              name: name
              driveFile: "{}"
              mimeType: mimeType
              title: title
            name: name
            title: title
        timeRange:
          startTime: startTime
          endTime: endTime
        timestamp: timestamp
      properties:
        actor:
          $ref: '#/components/schemas/Actor'
        detail:
          $ref: '#/components/schemas/ActionDetail'
        target:
          $ref: '#/components/schemas/Target'
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        timestamp:
          description: The action occurred at this specific time.
          format: google-datetime
          type: string
      type: object
    ActionDetail:
      description: Data describing the type and additional information of an action.
      example:
        reference:
          type: UNSPECIFIED_REFERENCE_TYPE
        appliedLabelChange:
          changes:
          - types:
            - TYPE_UNSPECIFIED
            - TYPE_UNSPECIFIED
            label: label
            title: title
            fieldChanges:
            - newValue:
                date:
                  value: value
                textList:
                  values:
                  - value: value
                  - value: value
                userList:
                  values:
                  - value: value
                  - value: value
                selection:
                  displayName: displayName
                  value: value
                selectionList:
                  values:
                  - displayName: displayName
                    value: value
                  - displayName: displayName
                    value: value
                integer:
                  value: value
                text:
                  value: value
                user:
                  value: value
              displayName: displayName
              oldValue:
                date:
                  value: value
                textList:
                  values:
                  - value: value
                  - value: value
                userList:
                  values:
                  - value: value
                  - value: value
                selection:
                  displayName: displayName
                  value: value
                selectionList:
                  values:
                  - displayName: displayName
                    value: value
                  - displayName: displayName
                    value: value
                integer:
                  value: value
                text:
                  value: value
                user:
                  value: value
              fieldId: fieldId
            - newValue:
                date:
                  value: value
                textList:
                  values:
                  - value: value
                  - value: value
                userList:
                  values:
                  - value: value
                  - value: value
                selection:
                  displayName: displayName
                  value: value
                selectionList:
                  values:
                  - displayName: displayName
                    value: value
                  - displayName: displayName
                    value: value
                integer:
                  value: value
                text:
                  value: value
                user:
                  value: value
              displayName: displayName
              oldValue:
                date:
                  value: value
                textList:
                  values:
                  - value: value
                  - value: value
                userList:
                  values:
                  - value: value
                  - value: value
                selection:
                  displayName: displayName
                  value: value
                selectionList:
                  values:
                  - displayName: displayName
                    value: value
                  - displayName: displayName
                    value: value
                integer:
                  value: value
                text:
                  value: value
                user:
                  value: value
              fieldId: fieldId
          - types:
            - TYPE_UNSPECIFIED
            - TYPE_UNSPECIFIED
            label: label
            title: title
            fieldChanges:
            - newValue:
                date:
                  value: value
                textList:
                  values:
                  - value: value
                  - value: value
                userList:
                  values:
                  - value: value
                  - value: value
                selection:
                  displayName: displayName
                  value: value
                selectionList:
                  values:
                  - displayName: displayName
                    value: value
                  - displayName: displayName
                    value: value
                integer:
                  value: value
                text:
                  value: value
                user:
                  value: value
              displayName: displayName
              oldValue:
                date:
                  value: value
                textList:
                  values:
                  - value: value
                  - value: value
                userList:
                  values:
                  - value: value
                  - value: value
                selection:
                  displayName: displayName
                  value: value
                selectionList:
                  values:
                  - displayName: displayName
                    value: value
                  - displayName: displayName
                    value: value
                integer:
                  value: value
                text:
                  value: value
                user:
                  value: value
              fieldId: fieldId
            - newValue:
                date:
                  value: value
                textList:
                  values:
                  - value: value
                  - value: value
                userList:
                  values:
                  - value: value
                  - value: value
                selection:
                  displayName: displayName
                  value: value
                selectionList:
                  values:
                  - displayName: displayName
                    value: value
                  - displayName: displayName
                    value: value
                integer:
                  value: value
                text:
                  value: value
                user:
                  value: value
              displayName: displayName
              oldValue:
                date:
                  value: value
                textList:
                  values:
                  - value: value
                  - value: value
                userList:
                  values:
                  - value: value
                  - value: value
                selection:
                  displayName: displayName
                  value: value
                selectionList:
                  values:
                  - displayName: displayName
                    value: value
                  - displayName: displayName
                    value: value
                integer:
                  value: value
                text:
                  value: value
                user:
                  value: value
              fieldId: fieldId
        move:
          addedParents:
          - driveItem:
              file: "{}"
              folder:
                type: TYPE_UNSPECIFIED
              driveFolder:
                type: TYPE_UNSPECIFIED
              name: name
              driveFile: "{}"
              title: title
            teamDrive:
              name: name
              title: title
            drive:
              name: name
              title: title
          - driveItem:
              file: "{}"
              folder:
                type: TYPE_UNSPECIFIED
              driveFolder:
                type: TYPE_UNSPECIFIED
              name: name
              driveFile: "{}"
              title: title
            teamDrive:
              name: name
              title: title
            drive:
              name: name
              title: title
          removedParents:
          - driveItem:
              file: "{}"
              folder:
                type: TYPE_UNSPECIFIED
              driveFolder:
                type: TYPE_UNSPECIFIED
              name: name
              driveFile: "{}"
              title: title
            teamDrive:
              name: name
              title: title
            drive:
              name: name
              title: title
          - driveItem:
              file: "{}"
              folder:
                type: TYPE_UNSPECIFIED
              driveFolder:
                type: TYPE_UNSPECIFIED
              name: name
              driveFile: "{}"
              title: title
            teamDrive:
              name: name
              title: title
            drive:
              name: name
              title: title
        restore:
          type: TYPE_UNSPECIFIED
        edit: "{}"
        rename:
          newTitle: newTitle
          oldTitle: oldTitle
        dlpChange:
          type: TYPE_UNSPECIFIED
        settingsChange:
          restrictionChanges:
          - newRestriction: RESTRICTION_UNSPECIFIED
            feature: FEATURE_UNSPECIFIED
          - newRestriction: RESTRICTION_UNSPECIFIED
            feature: FEATURE_UNSPECIFIED
        create:
          new: "{}"
          upload: "{}"
          copy:
            originalObject:
              driveItem:
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                title: title
              teamDrive:
                name: name
                title: title
              drive:
                name: name
                title: title
        comment:
          post:
            subtype: SUBTYPE_UNSPECIFIED
          assignment:
            subtype: SUBTYPE_UNSPECIFIED
            assignedUser:
              knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
          suggestion:
            subtype: SUBTYPE_UNSPECIFIED
          mentionedUsers:
          - knownUser:
              personName: personName
              isCurrentUser: true
            deletedUser: "{}"
            unknownUser: "{}"
          - knownUser:
              personName: personName
              isCurrentUser: true
            deletedUser: "{}"
            unknownUser: "{}"
        permissionChange:
          removedPermissions:
          - allowDiscovery: true
            role: ROLE_UNSPECIFIED
            anyone: "{}"
            domain:
              name: name
              legacyId: legacyId
            user:
              knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
            group:
              title: title
              email: email
          - allowDiscovery: true
            role: ROLE_UNSPECIFIED
            anyone: "{}"
            domain:
              name: name
              legacyId: legacyId
            user:
              knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
            group:
              title: title
              email: email
          addedPermissions:
          - allowDiscovery: true
            role: ROLE_UNSPECIFIED
            anyone: "{}"
            domain:
              name: name
              legacyId: legacyId
            user:
              knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
            group:
              title: title
              email: email
          - allowDiscovery: true
            role: ROLE_UNSPECIFIED
            anyone: "{}"
            domain:
              name: name
              legacyId: legacyId
            user:
              knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
            group:
              title: title
              email: email
        delete:
          type: TYPE_UNSPECIFIED
      properties:
        appliedLabelChange:
          $ref: '#/components/schemas/AppliedLabelChange'
        comment:
          $ref: '#/components/schemas/Comment'
        create:
          $ref: '#/components/schemas/Create'
        delete:
          $ref: '#/components/schemas/Delete'
        dlpChange:
          $ref: '#/components/schemas/DataLeakPreventionChange'
        edit:
          description: An empty message indicating an object was edited.
          properties: {}
          type: object
        move:
          $ref: '#/components/schemas/Move'
        permissionChange:
          $ref: '#/components/schemas/PermissionChange'
        reference:
          $ref: '#/components/schemas/ApplicationReference'
        rename:
          $ref: '#/components/schemas/Rename'
        restore:
          $ref: '#/components/schemas/Restore'
        settingsChange:
          $ref: '#/components/schemas/SettingsChange'
      type: object
    Actor:
      description: The actor of a Drive activity.
      example:
        administrator: "{}"
        impersonation:
          impersonatedUser:
            knownUser:
              personName: personName
              isCurrentUser: true
            deletedUser: "{}"
            unknownUser: "{}"
        system:
          type: TYPE_UNSPECIFIED
        anonymous: "{}"
        user:
          knownUser:
            personName: personName
            isCurrentUser: true
          deletedUser: "{}"
          unknownUser: "{}"
      properties:
        administrator:
          description: Empty message representing an administrator.
          properties: {}
          type: object
        anonymous:
          description: Empty message representing an anonymous user or indicating
            the authenticated user should be anonymized.
          properties: {}
          type: object
        impersonation:
          $ref: '#/components/schemas/Impersonation'
        system:
          $ref: '#/components/schemas/SystemEvent'
        user:
          $ref: '#/components/schemas/User'
      type: object
    Administrator:
      description: Empty message representing an administrator.
      properties: {}
      type: object
    AnonymousUser:
      description: Empty message representing an anonymous user or indicating the
        authenticated user should be anonymized.
      properties: {}
      type: object
    Anyone:
      description: Represents any user (including a logged out user).
      properties: {}
      type: object
    ApplicationReference:
      description: Activity in applications other than Drive.
      example:
        type: UNSPECIFIED_REFERENCE_TYPE
      properties:
        type:
          description: The reference type corresponding to this event.
          enum:
          - UNSPECIFIED_REFERENCE_TYPE
          - LINK
          - DISCUSS
          type: string
      type: object
    AppliedLabelChange:
      description: Label changes that were made on the Target.
      example:
        changes:
        - types:
          - TYPE_UNSPECIFIED
          - TYPE_UNSPECIFIED
          label: label
          title: title
          fieldChanges:
          - newValue:
              date:
                value: value
              textList:
                values:
                - value: value
                - value: value
              userList:
                values:
                - value: value
                - value: value
              selection:
                displayName: displayName
                value: value
              selectionList:
                values:
                - displayName: displayName
                  value: value
                - displayName: displayName
                  value: value
              integer:
                value: value
              text:
                value: value
              user:
                value: value
            displayName: displayName
            oldValue:
              date:
                value: value
              textList:
                values:
                - value: value
                - value: value
              userList:
                values:
                - value: value
                - value: value
              selection:
                displayName: displayName
                value: value
              selectionList:
                values:
                - displayName: displayName
                  value: value
                - displayName: displayName
                  value: value
              integer:
                value: value
              text:
                value: value
              user:
                value: value
            fieldId: fieldId
          - newValue:
              date:
                value: value
              textList:
                values:
                - value: value
                - value: value
              userList:
                values:
                - value: value
                - value: value
              selection:
                displayName: displayName
                value: value
              selectionList:
                values:
                - displayName: displayName
                  value: value
                - displayName: displayName
                  value: value
              integer:
                value: value
              text:
                value: value
              user:
                value: value
            displayName: displayName
            oldValue:
              date:
                value: value
              textList:
                values:
                - value: value
                - value: value
              userList:
                values:
                - value: value
                - value: value
              selection:
                displayName: displayName
                value: value
              selectionList:
                values:
                - displayName: displayName
                  value: value
                - displayName: displayName
                  value: value
              integer:
                value: value
              text:
                value: value
              user:
                value: value
            fieldId: fieldId
        - types:
          - TYPE_UNSPECIFIED
          - TYPE_UNSPECIFIED
          label: label
          title: title
          fieldChanges:
          - newValue:
              date:
                value: value
              textList:
                values:
                - value: value
                - value: value
              userList:
                values:
                - value: value
                - value: value
              selection:
                displayName: displayName
                value: value
              selectionList:
                values:
                - displayName: displayName
                  value: value
                - displayName: displayName
                  value: value
              integer:
                value: value
              text:
                value: value
              user:
                value: value
            displayName: displayName
            oldValue:
              date:
                value: value
              textList:
                values:
                - value: value
                - value: value
              userList:
                values:
                - value: value
                - value: value
              selection:
                displayName: displayName
                value: value
              selectionList:
                values:
                - displayName: displayName
                  value: value
                - displayName: displayName
                  value: value
              integer:
                value: value
              text:
                value: value
              user:
                value: value
            fieldId: fieldId
          - newValue:
              date:
                value: value
              textList:
                values:
                - value: value
                - value: value
              userList:
                values:
                - value: value
                - value: value
              selection:
                displayName: displayName
                value: value
              selectionList:
                values:
                - displayName: displayName
                  value: value
                - displayName: displayName
                  value: value
              integer:
                value: value
              text:
                value: value
              user:
                value: value
            displayName: displayName
            oldValue:
              date:
                value: value
              textList:
                values:
                - value: value
                - value: value
              userList:
                values:
                - value: value
                - value: value
              selection:
                displayName: displayName
                value: value
              selectionList:
                values:
                - displayName: displayName
                  value: value
                - displayName: displayName
                  value: value
              integer:
                value: value
              text:
                value: value
              user:
                value: value
            fieldId: fieldId
      properties:
        changes:
          description: Changes that were made to the Label on the Target.
          items:
            $ref: '#/components/schemas/AppliedLabelChangeDetail'
          type: array
      type: object
    AppliedLabelChangeDetail:
      description: A change made to a Label on the Target.
      example:
        types:
        - TYPE_UNSPECIFIED
        - TYPE_UNSPECIFIED
        label: label
        title: title
        fieldChanges:
        - newValue:
            date:
              value: value
            textList:
              values:
              - value: value
              - value: value
            userList:
              values:
              - value: value
              - value: value
            selection:
              displayName: displayName
              value: value
            selectionList:
              values:
              - displayName: displayName
                value: value
              - displayName: displayName
                value: value
            integer:
              value: value
            text:
              value: value
            user:
              value: value
          displayName: displayName
          oldValue:
            date:
              value: value
            textList:
              values:
              - value: value
              - value: value
            userList:
              values:
              - value: value
              - value: value
            selection:
              displayName: displayName
              value: value
            selectionList:
              values:
              - displayName: displayName
                value: value
              - displayName: displayName
                value: value
            integer:
              value: value
            text:
              value: value
            user:
              value: value
          fieldId: fieldId
        - newValue:
            date:
              value: value
            textList:
              values:
              - value: value
              - value: value
            userList:
              values:
              - value: value
              - value: value
            selection:
              displayName: displayName
              value: value
            selectionList:
              values:
              - displayName: displayName
                value: value
              - displayName: displayName
                value: value
            integer:
              value: value
            text:
              value: value
            user:
              value: value
          displayName: displayName
          oldValue:
            date:
              value: value
            textList:
              values:
              - value: value
              - value: value
            userList:
              values:
              - value: value
              - value: value
            selection:
              displayName: displayName
              value: value
            selectionList:
              values:
              - displayName: displayName
                value: value
              - displayName: displayName
                value: value
            integer:
              value: value
            text:
              value: value
            user:
              value: value
          fieldId: fieldId
      properties:
        fieldChanges:
          description: Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.
          items:
            $ref: '#/components/schemas/FieldValueChange'
          type: array
        label:
          description: The Label name representing the Label that changed. This name
            always contains the revision of the Label that was used when this Action
            occurred. The format is `labels/id@revision`.
          type: string
        title:
          description: The human-readable title of the label that changed.
          type: string
        types:
          description: The types of changes made to the Label on the Target.
          items:
            enum:
            - TYPE_UNSPECIFIED
            - LABEL_ADDED
            - LABEL_REMOVED
            - LABEL_FIELD_VALUE_CHANGED
            - LABEL_APPLIED_BY_ITEM_CREATE
            type: string
          type: array
      type: object
    Assignment:
      description: A comment with an assignment.
      example:
        subtype: SUBTYPE_UNSPECIFIED
        assignedUser:
          knownUser:
            personName: personName
            isCurrentUser: true
          deletedUser: "{}"
          unknownUser: "{}"
      properties:
        assignedUser:
          $ref: '#/components/schemas/User'
        subtype:
          description: The sub-type of this event.
          enum:
          - SUBTYPE_UNSPECIFIED
          - ADDED
          - DELETED
          - REPLY_ADDED
          - REPLY_DELETED
          - RESOLVED
          - REOPENED
          - REASSIGNED
          type: string
      type: object
    Comment:
      description: A change about comments on an object.
      example:
        post:
          subtype: SUBTYPE_UNSPECIFIED
        assignment:
          subtype: SUBTYPE_UNSPECIFIED
          assignedUser:
            knownUser:
              personName: personName
              isCurrentUser: true
            deletedUser: "{}"
            unknownUser: "{}"
        suggestion:
          subtype: SUBTYPE_UNSPECIFIED
        mentionedUsers:
        - knownUser:
            personName: personName
            isCurrentUser: true
          deletedUser: "{}"
          unknownUser: "{}"
        - knownUser:
            personName: personName
            isCurrentUser: true
          deletedUser: "{}"
          unknownUser: "{}"
      properties:
        assignment:
          $ref: '#/components/schemas/Assignment'
        mentionedUsers:
          description: Users who are mentioned in this comment.
          items:
            $ref: '#/components/schemas/User'
          type: array
        post:
          $ref: '#/components/schemas/Post'
        suggestion:
          $ref: '#/components/schemas/Suggestion'
      type: object
    ConsolidationStrategy:
      description: "How the individual activities are consolidated. If a set of activities\
        \ is related they can be consolidated into one combined activity, such as\
        \ one actor performing the same action on multiple targets, or multiple actors\
        \ performing the same action on a single target. The strategy defines the\
        \ rules for which activities are related."
      example:
        legacy: "{}"
        none: "{}"
      properties:
        legacy:
          description: A strategy that consolidates activities using the grouping
            rules from the legacy V1 Activity API. Similar actions occurring within
            a window of time can be grouped across multiple targets (such as moving
            a set of files at once) or multiple actors (such as several users editing
            the same item). Grouping rules for this strategy are specific to each
            type of action.
          properties: {}
          type: object
        none:
          description: A strategy that does no consolidation of individual activities.
          properties: {}
          type: object
      type: object
    Copy:
      description: An object was created by copying an existing object.
      example:
        originalObject:
          driveItem:
            file: "{}"
            folder:
              type: TYPE_UNSPECIFIED
            driveFolder:
              type: TYPE_UNSPECIFIED
            name: name
            driveFile: "{}"
            title: title
          teamDrive:
            name: name
            title: title
          drive:
            name: name
            title: title
      properties:
        originalObject:
          $ref: '#/components/schemas/TargetReference'
      type: object
    Create:
      description: An object was created.
      example:
        new: "{}"
        upload: "{}"
        copy:
          originalObject:
            driveItem:
              file: "{}"
              folder:
                type: TYPE_UNSPECIFIED
              driveFolder:
                type: TYPE_UNSPECIFIED
              name: name
              driveFile: "{}"
              title: title
            teamDrive:
              name: name
              title: title
            drive:
              name: name
              title: title
      properties:
        copy:
          $ref: '#/components/schemas/Copy'
        new:
          description: An object was created from scratch.
          properties: {}
          type: object
        upload:
          description: An object was uploaded into Drive.
          properties: {}
          type: object
      type: object
    DataLeakPreventionChange:
      description: A change in the object's data leak prevention status.
      example:
        type: TYPE_UNSPECIFIED
      properties:
        type:
          description: The type of Data Leak Prevention (DLP) change.
          enum:
          - TYPE_UNSPECIFIED
          - FLAGGED
          - CLEARED
          type: string
      type: object
    Date:
      description: Wrapper for Date Field value.
      example:
        value: value
      properties:
        value:
          description: Date value.
          format: google-datetime
          type: string
      type: object
    Delete:
      description: An object was deleted.
      example:
        type: TYPE_UNSPECIFIED
      properties:
        type:
          description: The type of delete action taken.
          enum:
          - TYPE_UNSPECIFIED
          - TRASH
          - PERMANENT_DELETE
          type: string
      type: object
    DeletedUser:
      description: A user whose account has since been deleted.
      properties: {}
      type: object
    Domain:
      description: Information about a domain.
      example:
        name: name
        legacyId: legacyId
      properties:
        legacyId:
          description: An opaque string used to identify this domain.
          type: string
        name:
          description: "The name of the domain, e.g. `google.com`."
          type: string
      type: object
    Drive:
      description: Information about a shared drive.
      example:
        root:
          owner:
            teamDrive:
              name: name
              title: title
            domain:
              name: name
              legacyId: legacyId
            drive:
              name: name
              title: title
            user:
              knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
          file: "{}"
          folder:
            type: TYPE_UNSPECIFIED
          driveFolder:
            type: TYPE_UNSPECIFIED
          name: name
          driveFile: "{}"
          mimeType: mimeType
          title: title
        name: name
        title: title
      properties:
        name:
          description: The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`.
            Clients should not assume a specific collection ID for this resource name.
          type: string
        root:
          $ref: '#/components/schemas/DriveItem'
        title:
          description: The title of the shared drive.
          type: string
      type: object
    DriveActivity:
      description: "A single Drive activity comprising one or more Actions by one\
        \ or more Actors on one or more Targets. Some Action groupings occur spontaneously,\
        \ such as moving an item into a shared folder triggering a permission change.\
        \ Other groupings of related Actions, such as multiple Actors editing one\
        \ item or moving multiple files into a new folder, are controlled by the selection\
        \ of a ConsolidationStrategy in the QueryDriveActivityRequest."
      example:
        actors:
        - administrator: "{}"
          impersonation:
            impersonatedUser:
              knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
          system:
            type: TYPE_UNSPECIFIED
          anonymous: "{}"
          user:
            knownUser:
              personName: personName
              isCurrentUser: true
            deletedUser: "{}"
            unknownUser: "{}"
        - administrator: "{}"
          impersonation:
            impersonatedUser:
              knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
          system:
            type: TYPE_UNSPECIFIED
          anonymous: "{}"
          user:
            knownUser:
              personName: personName
              isCurrentUser: true
            deletedUser: "{}"
            unknownUser: "{}"
        primaryActionDetail:
          reference:
            type: UNSPECIFIED_REFERENCE_TYPE
          appliedLabelChange:
            changes:
            - types:
              - TYPE_UNSPECIFIED
              - TYPE_UNSPECIFIED
              label: label
              title: title
              fieldChanges:
              - newValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                displayName: displayName
                oldValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                fieldId: fieldId
              - newValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                displayName: displayName
                oldValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                fieldId: fieldId
            - types:
              - TYPE_UNSPECIFIED
              - TYPE_UNSPECIFIED
              label: label
              title: title
              fieldChanges:
              - newValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                displayName: displayName
                oldValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                fieldId: fieldId
              - newValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                displayName: displayName
                oldValue:
                  date:
                    value: value
                  textList:
                    values:
                    - value: value
                    - value: value
                  userList:
                    values:
                    - value: value
                    - value: value
                  selection:
                    displayName: displayName
                    value: value
                  selectionList:
                    values:
                    - displayName: displayName
                      value: value
                    - displayName: displayName
                      value: value
                  integer:
                    value: value
                  text:
                    value: value
                  user:
                    value: value
                fieldId: fieldId
          move:
            addedParents:
            - driveItem:
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                title: title
              teamDrive:
                name: name
                title: title
              drive:
                name: name
                title: title
            - driveItem:
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                title: title
              teamDrive:
                name: name
                title: title
              drive:
                name: name
                title: title
            removedParents:
            - driveItem:
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                title: title
              teamDrive:
                name: name
                title: title
              drive:
                name: name
                title: title
            - driveItem:
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                title: title
              teamDrive:
                name: name
                title: title
              drive:
                name: name
                title: title
          restore:
            type: TYPE_UNSPECIFIED
          edit: "{}"
          rename:
            newTitle: newTitle
            oldTitle: oldTitle
          dlpChange:
            type: TYPE_UNSPECIFIED
          settingsChange:
            restrictionChanges:
            - newRestriction: RESTRICTION_UNSPECIFIED
              feature: FEATURE_UNSPECIFIED
            - newRestriction: RESTRICTION_UNSPECIFIED
              feature: FEATURE_UNSPECIFIED
          create:
            new: "{}"
            upload: "{}"
            copy:
              originalObject:
                driveItem:
                  file: "{}"
                  folder:
                    type: TYPE_UNSPECIFIED
                  driveFolder:
                    type: TYPE_UNSPECIFIED
                  name: name
                  driveFile: "{}"
                  title: title
                teamDrive:
                  name: name
                  title: title
                drive:
                  name: name
                  title: title
          comment:
            post:
              subtype: SUBTYPE_UNSPECIFIED
            assignment:
              subtype: SUBTYPE_UNSPECIFIED
              assignedUser:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
            suggestion:
              subtype: SUBTYPE_UNSPECIFIED
            mentionedUsers:
            - knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
            - knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
          permissionChange:
            removedPermissions:
            - allowDiscovery: true
              role: ROLE_UNSPECIFIED
              anyone: "{}"
              domain:
                name: name
                legacyId: legacyId
              user:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
              group:
                title: title
                email: email
            - allowDiscovery: true
              role: ROLE_UNSPECIFIED
              anyone: "{}"
              domain:
                name: name
                legacyId: legacyId
              user:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
              group:
                title: title
                email: email
            addedPermissions:
            - allowDiscovery: true
              role: ROLE_UNSPECIFIED
              anyone: "{}"
              domain:
                name: name
                legacyId: legacyId
              user:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
              group:
                title: title
                email: email
            - allowDiscovery: true
              role: ROLE_UNSPECIFIED
              anyone: "{}"
              domain:
                name: name
                legacyId: legacyId
              user:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
              group:
                title: title
                email: email
          delete:
            type: TYPE_UNSPECIFIED
        actions:
        - actor:
            administrator: "{}"
            impersonation:
              impersonatedUser:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
            system:
              type: TYPE_UNSPECIFIED
            anonymous: "{}"
            user:
              knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
          detail:
            reference:
              type: UNSPECIFIED_REFERENCE_TYPE
            appliedLabelChange:
              changes:
              - types:
                - TYPE_UNSPECIFIED
                - TYPE_UNSPECIFIED
                label: label
                title: title
                fieldChanges:
                - newValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  displayName: displayName
                  oldValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  fieldId: fieldId
                - newValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  displayName: displayName
                  oldValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  fieldId: fieldId
              - types:
                - TYPE_UNSPECIFIED
                - TYPE_UNSPECIFIED
                label: label
                title: title
                fieldChanges:
                - newValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  displayName: displayName
                  oldValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  fieldId: fieldId
                - newValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  displayName: displayName
                  oldValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  fieldId: fieldId
            move:
              addedParents:
              - driveItem:
                  file: "{}"
                  folder:
                    type: TYPE_UNSPECIFIED
                  driveFolder:
                    type: TYPE_UNSPECIFIED
                  name: name
                  driveFile: "{}"
                  title: title
                teamDrive:
                  name: name
                  title: title
                drive:
                  name: name
                  title: title
              - driveItem:
                  file: "{}"
                  folder:
                    type: TYPE_UNSPECIFIED
                  driveFolder:
                    type: TYPE_UNSPECIFIED
                  name: name
                  driveFile: "{}"
                  title: title
                teamDrive:
                  name: name
                  title: title
                drive:
                  name: name
                  title: title
              removedParents:
              - driveItem:
                  file: "{}"
                  folder:
                    type: TYPE_UNSPECIFIED
                  driveFolder:
                    type: TYPE_UNSPECIFIED
                  name: name
                  driveFile: "{}"
                  title: title
                teamDrive:
                  name: name
                  title: title
                drive:
                  name: name
                  title: title
              - driveItem:
                  file: "{}"
                  folder:
                    type: TYPE_UNSPECIFIED
                  driveFolder:
                    type: TYPE_UNSPECIFIED
                  name: name
                  driveFile: "{}"
                  title: title
                teamDrive:
                  name: name
                  title: title
                drive:
                  name: name
                  title: title
            restore:
              type: TYPE_UNSPECIFIED
            edit: "{}"
            rename:
              newTitle: newTitle
              oldTitle: oldTitle
            dlpChange:
              type: TYPE_UNSPECIFIED
            settingsChange:
              restrictionChanges:
              - newRestriction: RESTRICTION_UNSPECIFIED
                feature: FEATURE_UNSPECIFIED
              - newRestriction: RESTRICTION_UNSPECIFIED
                feature: FEATURE_UNSPECIFIED
            create:
              new: "{}"
              upload: "{}"
              copy:
                originalObject:
                  driveItem:
                    file: "{}"
                    folder:
                      type: TYPE_UNSPECIFIED
                    driveFolder:
                      type: TYPE_UNSPECIFIED
                    name: name
                    driveFile: "{}"
                    title: title
                  teamDrive:
                    name: name
                    title: title
                  drive:
                    name: name
                    title: title
            comment:
              post:
                subtype: SUBTYPE_UNSPECIFIED
              assignment:
                subtype: SUBTYPE_UNSPECIFIED
                assignedUser:
                  knownUser:
                    personName: personName
                    isCurrentUser: true
                  deletedUser: "{}"
                  unknownUser: "{}"
              suggestion:
                subtype: SUBTYPE_UNSPECIFIED
              mentionedUsers:
              - knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
              - knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
            permissionChange:
              removedPermissions:
              - allowDiscovery: true
                role: ROLE_UNSPECIFIED
                anyone: "{}"
                domain:
                  name: name
                  legacyId: legacyId
                user:
                  knownUser:
                    personName: personName
                    isCurrentUser: true
                  deletedUser: "{}"
                  unknownUser: "{}"
                group:
                  title: title
                  email: email
              - allowDiscovery: true
                role: ROLE_UNSPECIFIED
                anyone: "{}"
                domain:
                  name: name
                  legacyId: legacyId
                user:
                  knownUser:
                    personName: personName
                    isCurrentUser: true
                  deletedUser: "{}"
                  unknownUser: "{}"
                group:
                  title: title
                  email: email
              addedPermissions:
              - allowDiscovery: true
                role: ROLE_UNSPECIFIED
                anyone: "{}"
                domain:
                  name: name
                  legacyId: legacyId
                user:
                  knownUser:
                    personName: personName
                    isCurrentUser: true
                  deletedUser: "{}"
                  unknownUser: "{}"
                group:
                  title: title
                  email: email
              - allowDiscovery: true
                role: ROLE_UNSPECIFIED
                anyone: "{}"
                domain:
                  name: name
                  legacyId: legacyId
                user:
                  knownUser:
                    personName: personName
                    isCurrentUser: true
                  deletedUser: "{}"
                  unknownUser: "{}"
                group:
                  title: title
                  email: email
            delete:
              type: TYPE_UNSPECIFIED
          target:
            driveItem:
              owner:
                teamDrive:
                  name: name
                  title: title
                domain:
                  name: name
                  legacyId: legacyId
                drive:
                  name: name
                  title: title
                user:
                  knownUser:
                    personName: personName
                    isCurrentUser: true
                  deletedUser: "{}"
                  unknownUser: "{}"
              file: "{}"
              folder:
                type: TYPE_UNSPECIFIED
              driveFolder:
                type: TYPE_UNSPECIFIED
              name: name
              driveFile: "{}"
              mimeType: mimeType
              title: title
            fileComment:
              parent:
                owner:
                  teamDrive:
                    name: name
                    title: title
                  domain:
                    name: name
                    legacyId: legacyId
                  drive:
                    name: name
                    title: title
                  user:
                    knownUser:
                      personName: personName
                      isCurrentUser: true
                    deletedUser: "{}"
                    unknownUser: "{}"
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                mimeType: mimeType
                title: title
              legacyCommentId: legacyCommentId
              legacyDiscussionId: legacyDiscussionId
              linkToDiscussion: linkToDiscussion
            teamDrive:
              root:
                owner:
                  teamDrive:
                    name: name
                    title: title
                  domain:
                    name: name
                    legacyId: legacyId
                  drive:
                    name: name
                    title: title
                  user:
                    knownUser:
                      personName: personName
                      isCurrentUser: true
                    deletedUser: "{}"
                    unknownUser: "{}"
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                mimeType: mimeType
                title: title
              name: name
              title: title
            drive:
              root:
                owner:
                  teamDrive:
                    name: name
                    title: title
                  domain:
                    name: name
                    legacyId: legacyId
                  drive:
                    name: name
                    title: title
                  user:
                    knownUser:
                      personName: personName
                      isCurrentUser: true
                    deletedUser: "{}"
                    unknownUser: "{}"
                file: "{}"
                folder:
                  type: TYPE_UNSPECIFIED
                driveFolder:
                  type: TYPE_UNSPECIFIED
                name: name
                driveFile: "{}"
                mimeType: mimeType
                title: title
              name: name
              title: title
          timeRange:
            startTime: startTime
            endTime: endTime
          timestamp: timestamp
        - actor:
            administrator: "{}"
            impersonation:
              impersonatedUser:
                knownUser:
                  personName: personName
                  isCurrentUser: true
                deletedUser: "{}"
                unknownUser: "{}"
            system:
              type: TYPE_UNSPECIFIED
            anonymous: "{}"
            user:
              knownUser:
                personName: personName
                isCurrentUser: true
              deletedUser: "{}"
              unknownUser: "{}"
          detail:
            reference:
              type: UNSPECIFIED_REFERENCE_TYPE
            appliedLabelChange:
              changes:
              - types:
                - TYPE_UNSPECIFIED
                - TYPE_UNSPECIFIED
                label: label
                title: title
                fieldChanges:
                - newValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  displayName: displayName
                  oldValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  fieldId: fieldId
                - newValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  displayName: displayName
                  oldValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  fieldId: fieldId
              - types:
                - TYPE_UNSPECIFIED
                - TYPE_UNSPECIFIED
                label: label
                title: title
                fieldChanges:
                - newValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  displayName: displayName
                  oldValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  fieldId: fieldId
                - newValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  displayName: displayName
                  oldValue:
                    date:
                      value: value
                    textList:
                      values:
                      - value: value
                      - value: value
                    userList:
                      values:
                      - value: value
                      - value: value
                    selection:
                      displayName: displayName
                      value: value
                    selectionList:
                      values:
                      - displayName: displayName
                        value: value
                      - displayName: displayName
                        value: value
                    integer:
                      value: value
                    text:
                      value: value
                    user:
                      value: value
                  fieldId: fieldId
            move:
              addedParents:
              - driveItem:
                  file: "{}"
                  folder:
                    type: TYPE_UNSPECIFIED
                  driveFolder:
                    type: TYPE_UNSPECIFIED
                  name: name
                  driveFile: "{}"
                  title: title
                teamDrive:
                  name: name
                  title: title
                drive:
                  name: name
[...]
