openapi: 3.0.1
info:
  contact:
    name: "U.S. EPA, OECA Integration, Targeting and Access Branch"
    url: https://echo.epa.gov/resources/general-info/contact-us
  description: "Enforcement and Compliance History Online (ECHO) is a tool developed\
    \ and maintained by EPA's Office of Enforcement and Compliance Assurance for public\
    \ use. ECHO provides integrated compliance and enforcement information for over\
    \ 1 million regulated facilities nationwide.\n CWA Rest Services provides multiple\
    \ service endpoints, each with specific capabilities, to search and retrieve data\
    \ on facilities regulated under the Clean Water Act (CWA) and managed under the\
    \ National Pollutant Discharge Elimination System (NPDES) program. The returned\
    \ results reflect data drawn from EPA's ICIS-NPDES database.\n\\\nThe get_facilities,\
    \ get_map, get_qid, and get_download end points are meant to be used together,\
    \ while the enhanced get_facility_info end point is self contained.\n  The get_facility_info\
    \ end point returns either an array of state, county or zip clusters with summary\
    \ statistics per cluster or an array of facilities.\n\\\nThe recommended use scenario\
    \ for get_facilities, get_qid, get_map, and get_downoad is:\n\\\n <b>1)</b>  Use\
    \ get_facilities to validate passed query parameters, obtain summary statistics\
    \ and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for\
    \ approximately 30 minutes.\n <b>2)</b>  Use get_qid, with the returned QID, to\
    \ paginate through arrays of facility results.\n <b>3)</b>  Use get_map, with\
    \ the returned QID, to zoom in/out and pan on the clustered and individual facility\
    \ coordinates that meet the QID query criteria.\n <b>4)</b>  Use get_download,\
    \ with the returned QID, to generate a Comma Separated Value (CSV) file of facility\
    \ information that meets the QID query criteria.\n\\\n\\\nUse the qcolumns parameter\
    \ to customize your search results.  Use the Metadata service endpoint for a list\
    \ of available output objects, their Column Ids, and their definitions to help\
    \ you build your customized output. \n\\\nAdditional ECHO Resources:   <a href=\"\
    https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\"\
    >About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\"\
    >Data Downloads</a>\n "
  license:
    name: U.S. Public Domain License
    url: https://edg.epa.gov/EPA_Data_License.html
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Clean Water Act
    (CWA) Rest Services
  version: 2019.10.15
  x-apisguru-categories:
  - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://pbs.twimg.com/profile_images/632233890594299904/DgRDU6dx_400x400.png
  x-origin:
  - format: swagger
    url: https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=CWA
    version: "2.0"
  x-providerName: epa.gov
  x-serviceName: cwa
servers:
- url: https://echodata.epa.gov/echo
paths:
  /cwa_rest_services.get_download:
    get:
      description: "Based on the QID obtained from a get_facilities or get_facility_info\
        \ query, return a comma separated value (CSV) file of the facilities found."
      operationId: cwa_rest_services_get_download_get
      parameters:
      - description: |-
          Output Format Flag.  Enter one of the following keywords:
          - CSV = Facility results formatted as comma delimited file download (default).
        in: query
        name: output
        schema:
          type: string
      - description: Query ID Selector.  Enter the QueryID number from a previously
          run query.
        in: query
        name: qid
        required: true
        schema:
          type: string
      - description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        in: query
        name: qcolumns
        schema:
          type: string
      - description: Optional flag to request GeoJSON formatted results to be pretty
          printed.  Only provide a numeric value when the output needs to be human
          readable as pretty printing has a performance cost.
        in: query
        name: p_pretty_print
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
      summary: Clean Water Act (CWA) Download Data Service
      tags:
      - Facility Information
      x-openapi-router-controller: openapi_server.controllers.facility_information_controller
    post:
      description: "Based on the QID obtained from a get_facilities or get_facility_info\
        \ query, return a comma separated value (CSV) file of the facilities found."
      operationId: cwa_rest_services_get_download_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_cwa_rest_services_get_download_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/xml:
              schema:
                format: binary
                type: string
          description: Results are a comma separated value (CSV) file or a file containing
            a GeoJSON feature collection.
      summary: Clean Water Act (CWA) Download Data Service
      tags:
      - Facility Information
      x-openapi-router-controller: openapi_server.controllers.facility_information_controller
      x-codegen-request-body-name: body
  /cwa_rest_services.get_facilities:
    get:
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      operationId: cwa_rest_services_get_facilities_get
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        schema:
          enum:
          - JSONP
          - JSON
          - XML
          type: string
      - description: Facility Name Filter. Enter one or more case-insensitive facility
          names to filter results.  Provide multiple values as a comma-delimited list.  See
          p_fntype for additional modifiers.
        in: query
        name: p_fn
        schema:
          type: string
      - description: Facility street address. Enter a complete or partial street address.
        in: query
        name: p_sa
        schema:
          type: string
      - description: Facility street address. Enter a complete or partial street address.   Note
          that p_sa1 is culmulative with p_sa.
        in: query
        name: p_sa1
        schema:
          type: string
      - description: Facility City Filter. Enter a single case-insensitive city name
          to filter results.
        in: query
        name: p_ct
        schema:
          type: string
      - description: Facility County Filter. Provide a single county name in combination
          with a state value provided via p_st.
        in: query
        name: p_co
        schema:
          type: string
      - description: "FIPS Code Filter.  Enter a single 5-character Federal Information\
          \ Processing Standards (FIPS) state + county value to restrict results.\
          \  E.g. to limit results to Kenosha County, Wisconsin, use 55059."
        in: query
        name: p_fips
        schema:
          type: string
      - description: Facility State and State-Equivalent Filter.  Provide one or more
          USPS postal abbreviations for states and state-equivalents to filter results.  Provide
          multiple values as a comma-delimited list.
        in: query
        name: p_st
        schema:
          type: string
      - description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip
          codes to filter results.  May contain multiple comma-separated values.
        in: query
        name: p_zip
        schema:
          type: string
      - description: Facility Registry Service ID Filter. Enter a single 12-digit
          FRS identifier to filter results.
        in: query
        name: p_frs
        schema:
          type: string
      - description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict
          results to a single EPA region.
        in: query
        name: p_reg
        schema:
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
          - "07"
          - "08"
          - "09"
          - "10"
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter.  Enter\
          \ a single 4-digit SIC Code to filter results.  If more complex filtering\
          \ is required, use p_sic2 and p_sic4."
        in: query
        name: p_sic
        schema:
          type: string
      - description: North American Industry Classification System Filter. Enter two
          to six digits to filter results to facilities having matching NAICS codes.  Digits
          less than six will match to all codes beginning with the provided values.
        in: query
        name: p_ncs
        schema:
          type: string
      - description: "Last Penality Date Qualifier Filter.  Enter one of the following:\
          \   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or\
          \ equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for\
          \ a facility with a penalty within previous 5 months.\n- GTXX = Greater\
          \ than XX months.  Provide a number in place of XX, eg. GT12, for a facility\
          \ with the last penalty greater than 12 months ago."
        in: query
        name: p_pen
        schema:
          type: string
      - description: In decimal degrees.  Latitude of 1st corner of box that bounds
          the resulting facilities. The latitude and longitude of both corners of
          the bounding box must be provided.
        in: query
        name: p_c1lat
        schema:
          type: number
      - description: In decimal degrees.  Longitude of 1st corner of box that bounds
          the resulting facilities. The latitude and longitude of both corners of
          the bounding box must be provided.
        in: query
        name: p_c1lon
        schema:
          type: number
      - description: In decimal degrees.  Latitude of 2nd corner of box that bounds
          the resulting facilities. The latitude and longitude of both corners of
          the bounding box must be provided.
        in: query
        name: p_c2lat
        schema:
          type: number
      - description: In decimal degrees.  Longitude of 2nd corner of box that bounds
          the resulting facilities. The latitude and longitude of both corners of
          the bounding box must be provided.
        in: query
        name: p_c2lon
        schema:
          type: number
      - description: US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities
          located within 100KM of the border.
        in: query
        name: p_usmex
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter Alternate\
          \ 2. Enter a wild-card search against SIC codes.  A final wild-card is always\
          \ present allowing \"22\" to match all SIC codes beginning with 22.  Use\
          \ the \"%\" character within strings to match any SIC values with the pattern.\
          \  For example, \"2%21\" matches 2021, 2121, 2221, etc."
        in: query
        name: p_sic2
        schema:
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter Alternate\
          \ 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities\
          \ having those code prefixes.  As this alternative does not utilize an index,\
          \ p_sic2 will generally be quicker."
        in: query
        name: p_sic4
        schema:
          type: string
      - description: Federal Agency. 1 character or 5-character values; may contain
          multiple comma-separated values. ALL will retrieve all facilities where
          the federal agency code is not null.  Use the Federal Agencies lookup service
          to obtain a list of values.
        in: query
        name: p_fa
        schema:
          type: string
      - description: Federal Facility Indicator Flag. Enter Y to restrict searches
          to federal facilities.
        in: query
        name: p_ff
        schema:
          enum:
          - "Y"
          type: string
      - description: "Active Permits/Facilities Flag.  Provide Y or N to filter results\
          \ to facilities with active permits.  A Y will select ICIS NPDES permits\
          \ with a status of effective, continued, or expired."
        in: query
        name: p_act
        schema:
          type: string
      - description: Major Facility Flag.  Enter Y to restrict results to Major facilities
          only.
        in: query
        name: p_maj
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: CAA Maximum Achievable Control Technology (MACT) Subpart codes
          (alpha ID between 1 and 7 characters) applicable to the facility.
        in: query
        name: p_mact
        schema:
          type: string
      - description: |-
          Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
          - W = within date range
          - N = not within date range
        in: query
        name: p_fea
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Years (1 to 5) Range.  This value is used to create a date range
          for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates
          whether to look within or outside of the date range) to find FEAs within
          (or not within) the number of years specified.
        in: query
        name: p_feay
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Agency associated with Formal Enforcement Actions:
          - E = EPA
          - S = State
          - A = All
        in: query
        name: p_feaa
        schema:
          enum:
          - A
          - E
          - S
          type: string
      - description: |-
          Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
          - W = within date range
          - N = not within date range
        in: query
        name: p_iea
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Years (1 to 5) Range.  This value is used to create a date range
          for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates
          whether to look within or outside of the date range) to find IEAs within
          (or not within) the number of years specified.
        in: query
        name: p_ieay
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
          - E = EPA
          - S = State
        in: query
        name: p_ieaa
        schema:
          enum:
          - E
          - S
          type: string
      - description: |-
          Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
          - Z = Zero quarters in noncompliance.
          - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
          - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
        in: query
        name: p_qiv
        schema:
          enum:
          - "0"
          - GT1
          - GT2
          - GT4
          - GT8
          - "12"
          type: string
      - description: "Facility has a violation status of 'In Viol' during any of the\
          \ selected quarters. \n\nRange: Fiscal Year 2020 Quarter 2 to Fiscal Year\
          \ 2017 Quarter 2\n\nMultiple values are comma delimited.\n\n\n||||||  Fiscal\
          \ Years ||||||\n- FY2020 or FY20 or 2020 or 20\n- FY2019 or FY19 or 2019\
          \ or 19\n- FY2018 or FY18 or 2018 or 18\n- FY2017 or FY17 or 2017 or 17\n\
          \n||||| Fiscal Quarters |||||\n- FY2020Q2 or FY20Q2 or 20202 or 202 or 13\n\
          - FY2020Q1 or FY20Q1 or 20201 or 201 or 12\n- FY2019Q4 or FY19Q4 or 20194\
          \ or 194 or 11\n- FY2019Q3 or FY19Q3 or 20193 or 193 or 10\n- FY2019Q2 or\
          \ FY19Q2 or 20192 or 192 or 9\n- FY2019Q1 or FY19Q1 or 20191 or 191 or 8\n\
          - FY2018Q4 or FY18Q4 or 20184 or 184 or 7\n- FY2018Q3 or FY18Q3 or 20183\
          \ or 183 or 6\n- FY2018Q2 or FY18Q2 or 20182 or 182 or 5\n- FY2018Q1 or\
          \ FY18Q1 or 20181 or 181 or 4\n- FY2017Q4 or FY17Q4 or 20174 or 174 or 3\n\
          - FY2017Q3 or FY17Q3 or 20173 or 173 or 2\n- FY2017Q2 or FY17Q2 or 20172\
          \ or 172 or 1"
        in: query
        name: p_iv
        schema:
          type: string
      - description: Discharging into Impaired Waters Flag. Enter Y to limit results
          to facilities with discharge to waterbodies listed as impaired in the ATTAINS
          database.
        in: query
        name: p_impw
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Facility is discharging a pollutant group causing a waterbody\
          \ to be impaired.  Enter 1 through 34 (the internal number of the pollutant\
          \ group); or enter a partial name such as Dioxin,Temp,tUrBidity."
        in: query
        name: p_imp_cau_grp
        schema:
          enum:
          - ALGAL GROWTH
          - AMMONIA
          - BIOTOXINS
          - CAUSE UNKNOWN
          - CAUSE UNKNOWN - FISH KILLS
          - CAUSE UNKNOWN - IMPAIRED BIOTA
          - CHLORINE
          - DIOXINS
          - FISH CONSUMPTION ADVISORY
          - FLOW ALTERATION(S)
          - HABITAT ALTERATIONS
          - MERCURY
          - METALS (OTHER THAN MERCURY)
          - NOXIOUS AQUATIC PLANTS
          - NUISANCE EXOTIC SPECIES
          - NUISANCE NATIVE SPECIES
          - NUTRIENTS
          - OIL AND GREASE
          - ORGANIC ENRICHMENT/OXYGEN DEPLETION
          - OTHER CAUSE
          - PATHOGENS
          - PESTICIDES
          - PH/ACIDITY/CAUSTIC CONDITIONS
          - POLYCHLORINATED BIPHENYLS (PCBS)
          - RADIATION
          - SALINITY/TOTAL DISSOLVED SOLIDS/CHLORIDES/SULFATES
          - SEDIMENT
          - "TASTE, COLOR AND ODOR"
          - TEMPERATURE
          - TOTAL TOXICS
          - TOXIC INORGANICS
          - TOXIC ORGANICS
          - TRASH
          - TURBIDITY
          type: string
      - description: Facility is discharging pollutants that are potentially contributing
          to the impairment of local waterbodies according to the ATTAINS database.
        in: query
        name: p_imp_pol
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: |-
          Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.
          - CURR = Current TRI reporter.
          - NONCURR = Has reported to TRI in the past but not for the current reporting year.
        in: query
        name: p_trep
        schema:
          enum:
          - CURR
          - NOTCURR
          type: string
      - description: |-
          Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.
          - NONE = 0%
          - GT5 = greater than 5%
          - GT10 = greater than 10%
          - GT25 = greater than 25%
          - GT50 = greater than 50%
          - GT75 = greater than 75%
        in: query
        name: p_pm
        schema:
          enum:
          - NONE
          - GT5
          - GT10
          - GT25
          - GT50
          - GT75
          type: string
      - description: |-
          Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.
          - NONE = 0 population density per square mile
          - GT100 = More than 100 population density per square mile
          - GT500 = More than 500 population density per square mile
          - GT1000 = More than 1000 population density per square mile
          - GT5000 = More than 5000 population density per square mile
          - GT10000 = More than 10000 population density per square mile
          - GT20000 = More than 20000 population density per square mile
        in: query
        name: p_pd
        schema:
          enum:
          - NONE
          - GT100
          - GT500
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          type: string
      - description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches
          to facilities inside or outside Indian Country.
        in: query
        name: p_ico
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "2-, 4-, 6-, or 8-character watershed code. May contain multiple\
          \ comma-separated values."
        in: query
        name: p_huc
        schema:
          type: string
      - description: Nine-digit permit IDs. May contain up to 2000 comma-separated
          values.
        in: query
        name: p_pid
        schema:
          type: string
      - description: |-
          Filter Results by Media.
          - A = Air
          - M = RMP (Risk Management Plan)
          - R = RCRA (Hazardous Waste)
          - S = SDWA (Public Drinking Water Systems)
          - ALL = Air and RCRA and Water
        in: query
        name: p_med
        schema:
          enum:
          - A
          - M
          - R
          - S
          - ALL
          type: string
      - description: |-
          Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
          - W = within date range
          - N = not within date range
        in: query
        name: p_ysl
        schema:
          enum:
          - W
          - "N"
          - NV
          type: string
      - description: Number of years (1 to 5) since last facility inspection.  A value
          of 1 means that it has been inspected within the year.
        in: query
        name: p_ysly
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
          - E = EPA
          - S = State
        in: query
        name: p_ysla
        schema:
          enum:
          - E
          - S
          - A
          type: string
      - description: "Quick Search. Allows entry for city, state, and/or zip code."
        in: query
        name: p_qs
        schema:
          type: string
      - description: "Single Facility Search Filter.  Provide a facility name or program\
          \ system identifier to limit results.  For the all data search, the FRS\
          \ registry identifier is also searched."
        in: query
        name: p_sfs
        schema:
          type: string
      - description: Numeric code for tribe (or list of tribes).
        in: query
        name: p_tribeid
        schema:
          type: number
      - description: Tribe Name Filter.  Enter a single tribe name to filter results.
        in: query
        name: p_tribename
        schema:
          type: string
      - description: Proximity to tribal land limiter. Enter an amount of mile between
          0 and 25 to filter results.  This parameter is only evaluated if p_tribeid
          is populated.
        in: query
        name: p_tribedist
        schema:
          type: number
      - description: |-
          Permit Status Filter.  Enter one or more of the following codes.  Provide multiple values as a comma-delimited list.
          - EFF = Effective
          - EXP = Expired
          - PND = Pending
          - TRM = Terminated
          - RET = Retired
          - NON = Not Needed
          - ADC = Admin Continued
        in: query
        name: p_pstat
        schema:
          type: string
      - description: |-
          Permit Type Filter. Enter one or more code values to filter results.  Provide multiple values as a comma-delimited list.
          - NPD = NPDES Individual Permit
          - NGP = NPDES Master General Permit
          - GPC = General Permit Covered Facility
          - SNN = State Issued Master General Permit (Non-NPDES)
          - IIU = Individual IU Permit (Non-NPDES)
          - SIN = Individual State Issued Permit (Non-NPDES)
          - APR = Associated Permit Record
          - UFT = Unpermitted Facility
        in: query
        name: p_ptype
        schema:
          type: string
      - description: |-
          Permit Component Code Filter.  Enter one or more codes to filter results.  Provide multiple values as a comma-delimited list.
          - PRE = Pretreatment
          - CAF = CAFO
          - CSO = CSO
          - POT = POTW
          - BIO = Biosolids
          - SWS = Storm Water Small MS4s
          - SWM = Storm Water Medium/Large MS4s
          - SWI = Storm Water Industrial
          - SWC = Storm Water Construction
        in: query
        name: p_pcomp
        schema:
          type: string
      - description: Permit Limits Present Flag.  Enter Y to limit results to facilities
          have present permit limits.
        in: query
        name: p_plimits
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: |-
          Combined Sewer Systems Outflows Limiter.  Enter one of the following to limit results to facilities having the given count of CSS outflows.
          - ALL = returns all facilities, regardless of the number of outflows.
          - GE1 = returns facilities with one or more outflows.
          - GE10 = returns facilities with ten or more outflows.
          - GE50 = returns facilities with fifty or more outflows.
        in: query
        name: p_pcss
        schema:
          enum:
          - ALL
          - GE1
          - GE10
          - GE50
          type: string
      - description: |-
          Permit Expired or Administratively Continued Limiter.  Enter one of the following values to filter results.
          - EXP = limit results to facilities with permits expired or administratively continued.
          - EXPLE1YR = limit resuls to facilities with permits expired administratively continued within the past year.
          - EXPGT1YR = limit resuls to facilities with permits expired administratively continued more than a year ago.
        in: query
        name: p_pexp
        schema:
          enum:
          - EXP
          - EXPLE1YR
          - EXPGT1YR
          type: string
      - description: |-
          Owner/Operator code filter.  Enter one of the following values to restrict results.
          - Federal = Federal facilities regulated under the NPDES program.
          - POTW = Publicly owned treatment works. Treatment works that are owned by a State, Tribe, or municipality.
          - Non-POTW = Non-publicly owned treatment works. Often referred to as "non-municipals" or "industrials".
        in: query
        name: p_owop
        schema:
          enum:
          - FEDERAL
          - POTW
          - NON-POTW
          type: string
      - in: query
        name: p_ipfti
        schema:
          type: string
      - description: Indicates whether to AND or OR the Owner/Operator parameter (p_owop)
          and the federal agency code (p_fa) parameters.
        in: query
        name: p_agoo
        schema:
          enum:
          - AND
          - OR
          type: string
      - description: Beginning of date range of most recent facility inspection.
        in: query
        name: p_idt1
        schema:
          type: string
      - description: End of date range of most recent facility inspection.
        in: query
        name: p_idt2
        schema:
          type: string
      - description: Inspection Type Code.  See ICIS Compliance Monitor Types lookup
          serivce for a list of available codes and descriptions.
        in: query
        name: p_pityp
        schema:
          type: string
      - description: Formal Enforcement Action Date Range Start.  Enter a date in
          MM/DD/YYYY format to set the start of the range for filtering by recent
          Formal Enforcement Action (FEA) taken against the facility within the last
          five years.
        in: query
        name: p_pfead1
        schema:
          type: string
      - description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY
          format to set the end of the date range for filtering by recent Formal Enforcement
          Action (FEA) taken against the facility within the last five years.
        in: query
        name: p_pfead2
        schema:
          type: string
      - description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more
          three-letter FEA codes to restrict results to facilities with these attributes.  Use
          p_fead1 and p_fead2 parameters to further restrict this filter by entering
          a date range.  Provide multiple codes as a comma-delimited list.
        in: query
        name: p_pfeat
        schema:
          type: string
      - description: "Current Compliance Status:\n||||||||||||||||||||||||||| \nSignificant\
          \ Noncompliance (SNC) \n|||||||||||||||||||||||||||\n- SNC = E, S, X, T,\
          \ D\n- E�= E(EffViol)\n- S�= S(CSchVio)\n- X = X(EffNMth)\n- T = T(CSchRpt)\n\
          - D�= D(DMR NR)\n\n|||||||||||||||||||||||||||\nNoncompliance (NC)\n|||||||||||||||||||||||||||\n\
          - NC = N, V\n- N�= N(RptViol)\n- V�= V(NonRNCV)\n\n|||||||||||||||||||||||||||\n\
          New Violations (PQV)\n|||||||||||||||||||||||||||\n- PQV = New Violations\
          \ (13th Quarter)\n\n|||||||||||||||||||||||||||\nNo Violations (NV)\n|||||||||||||||||||||||||||\n\
          - NV = R, P, M, U, W\n, Blank, and No New Violations (no PQV)\n- R�= R(Resolvd)\n\
          - P�= P(ResPend)\n- M�= C(Manual)\n- U = U(N/A)\n- W = W(N/A)\n- Blank =\
          \ (null)\n\nMay contain multiple comma-separated values."
        in: query
        name: p_pccs
        schema:
          type: string
      - description: |-
          3-Year Effluent Exceedances Limiter.  Enter a value to restrict results to facilities with the given amount of exceedances in the past 3 years.
          - 0 = facilities with no exceedances
          - GE0 = facilities with one or more exceedances
          - GE10 = facilities with ten or more exceedances
          - GE50 = facilities with fifty or more exceedances
          - GE100 = facilities with one hundred or more exceedances
        in: query
        name: p_pexcd
        schema:
          enum:
          - "0"
          - GE0
          - GE10
          - GE50
          - GE100
          type: string
      - description: |-
          Quarters in Significant Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of significant noncompliance.
          - Z = Zero quarters in significant noncompliance.
          - GEXX = Replacing XX with a numeric value, that number of quarterd or more in significant noncompliance.
          - GTXX = Replacing XX with a numeric value, more than that number of quarters in significant noncompliance.
        in: query
        name: p_psncq
        schema:
          enum:
          - GT1
          - GE1
          - GT2
          - GE2
          - GT4
          - GE4
          - GT8
          - GE8
          - GT12
          - GE12
          type: string
      - description: |-
          Compliance Tracking Limiter. Provide a keyword to indicate the extent to which data is being entered and effluent exceedances are being identified.
          - Off
          - Partial
          - On
        in: query
        name: p_pctrack
        schema:
          enum:
          - "false"
          - Partial
          - "true"
          type: string
      - description: Direct Water Discharges. Pounds of toxic chemicals released directly
          to surface water as reported to the Toxics Release Inventory.
        in: query
        name: p_dwd
        schema:
          enum:
          - "0"
          - GT0
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          - GT50000
          type: string
      - description: POTW Transfers. Pounds of toxic chemicals transferred to a Publicly
          Operated Treatment Works (POTW) as reported to the Toxics Release Inventory.
        in: query
        name: p_pt
        schema:
          enum:
          - "0"
          - GT0
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          - GT50000
          type: string
      - description: Distance (in miles) to downstream drinking water intake.
        in: query
        name: p_pdwdist
        schema:
          enum:
          - "N"
          - LT1
          - LT2
          - LT5
          - LT10
          - LT15
          type: string
      - description: "Pollutant Category Code:  Values: WTR for Water, AIR for Air"
        in: query
        name: p_pswdpc
        schema:
          type: string
      - description: Used to determine limit begin and end dates for surface water
          discharges. Number represents years from current date.
        in: query
        name: p_pswdmp
        schema:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          type: string
      - description: "For CWA, pollutant names for surface water discharges. for Drinking\
          \ Water, SDWIS Violation contaminant codes for unaddressed violations that\
          \ have occurred in the last 3 years. May contain multiple comma-separated\
          \ values."
        in: query
        name: p_pswpol
        schema:
          type: string
      - description: CAS numbers for surface water discharges. May contain multiple
          comma-separated values.
        in: query
        name: p_pswcas
        schema:
          type: string
      - description: Parameter codes for surface water discharges. May contain multiple
          comma-separated values.
        in: query
        name: p_pswparam
        schema:
          type: string
      - description: "Used in conjuction with parameters p_pswpol and p_pswparam,\
          \ indicates whether search should only include pollutants with violations."
        in: query
        name: p_pswvio
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the\
          \ USGS Watershed Boundary Dataset). May contain multiple comma-separated\
          \ values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value."
        in: query
        name: p_wbd
        schema:
          type: string
      - description: "2-, 4-, 6-, 8-, 10-, or 12 character watershed (WBD from the\
          \ USGS Watershed Boundary Dataset). May contain multiple comma-separated\
          \ values.  Will search against WBD values otained by \"reach indexing\"\
          \ NPDES permits against the medium resolution National Hydrography Dataset. "
        in: query
        name: p_radwbd
        schema:
          type: string
      - description: "Works exactly the same as the p_wbd parameter.  2-, 4-, 6-,\
          \ 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary\
          \ Dataset). May contain multiple comma-separated values.  Uses the FRS Best\
          \ Pick Coordinate to obtain the WBD12 Huc value."
        in: query
        name: p_frswbd
        schema:
          type: string
      - description: "Controls type of text search performed on facility name with\
          \ parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n\
          - BEGINS = Find facilities with names starting with the provided term(s).\n\
          - ALL = Find facilities using Oracle text search terms.\n- CONTAINS = "
        in: query
        name: p_fntype
        schema:
          enum:
          - ALL
          - CONTAINS
          - EXACT
          - BEGINS
          type: string
      - description: "Controls whether search is restricted to existing system. Y\
          \ means the search will match the p_pid parameter against all associated\
          \ permits (AIR, RCRA, SDWIS, etc)."
        in: query
        name: p_pidall
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: The number of months since the last Discharge Monitoring Report
          has been submitted.
        in: query
        name: p_months_last_dmr
        schema:
          type: number
      - description: W value returns facilities that have submitted DMRs within the
          number of months specified by p_months_last_dmr. An N value returns facilities
          that have not submitted a DMR within the specified number of months.
        in: query
        name: p_last_dmr_within
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Industrial Stormwater Permit Flag.  Enter a Y or N to filter
          results by this type of permit.
        in: query
        name: p_indsw
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: |-
          Multi-Sector General Purpose Permit Type.  Enter a value to filter results by MSGP Permit Type.
          - NOI = Notice of Intent
          - NOE = No Exposure Certification
        in: query
        name: p_msgp_ptype
        schema:
          enum:
          - NOI
          - NOE
          type: string
      - description: "For use with the Industrial Stormwater search only. Valid values\
          \ are BENCHGS fro Benchmark (Alert Limit) G2 Ore, BENCH for Benchmark (Alert\
          \ Limit), and ELG fro Effluent Limitation Guidelines(ELG)(Effluent Limit).\
          \  "
        in: query
        name: p_mon_type
        schema:
          enum:
          - BENCHG2
          - BENCH
          - ELG
          type: string
      - description: "Issuing Agency Limiter.  Enter a single value to filter results\
          \ by the issuing agency, e.g. \"State\" or \"EPA\"."
        in: query
        name: p_iagency
        schema:
          type: string
      - in: query
        name: p_permitting_agency
        schema:
          type: string
      - description: Multi-Sector General Purpose Permit Subsector Individual Identifier.  Enter
          a value to filter results.
        in: query
        name: p_isws
        schema:
          type: string
      - description: Multi-Sector General Purpose Permit Subsector Group Code.  Enter
          a value to filter results.
        in: query
        name: p_iswss
        schema:
          type: string
      - description: Multi-Sector General Purpose Permit Sector Code.  Enter a value
          to filter results.
        in: query
        name: p_iswssID
        schema:
          type: string
      - description: "Submitted Date Filter Start.  To filter by the date of submission,\
          \ enter a start date here and an end date in the p_ds2 parameter.  Both\
          \ dates are required for filtering."
        in: query
        name: p_ds1
        schema:
          type: string
      - description: "Submitted Date Filter End.  To filter by the date of submission,\
          \ enter an end date here and a start date in the p_ds1 parameter.  Both\
          \ dates are required for filtering."
        in: query
        name: p_ds2
        schema:
          type: string
      - description: "Active Date Filter Start.  To filter by the active date, enter\
          \ a start date here and an end date in the p_da2 parameter.  Both dates\
          \ are required for filtering."
        in: query
        name: p_da1
        schema:
          type: string
      - description: "Active Date Filter End.  To filter by the active date, enter\
          \ an end date here and a start date in the p_da1 parameter.  Both dates\
          \ are required for filtering."
        in: query
        name: p_da2
        schema:
          type: string
      - description: Municipal Separate Storm Water Sewer (MS4) Permit Flag.  Enter
          a Y or N to filter results by this type of permit.
        in: query
        name: p_MS4
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Owner/Operator Name. Enter the owner/operator name of the facility.
        in: query
        name: p_ooFN
        schema:
          type: string
      - description: 'Owner/Operator Name Multiple Selection Evaluator.  '
        in: query
        name: p_ooFNtype
        schema:
          enum:
          - ALL
          - EXACT
          - BEGINS
          - CONTAINS
          type: string
      - description: Owner/Operator Address.  Enter the address of the owner/operator
          of the facility.
        in: query
        name: p_ooSA
        schema:
          type: string
      - description: Owner/Operator Address Line 2.  Enter the line 2 address of the
          owner/operator of the facility.
        in: query
        name: p_ooSA1
        schema:
          type: string
      - description: Owner/Operator City. Enter the city where the owner/operator
          of the facility is located.
        in: query
        name: p_ooCt
        schema:
          type: string
      - description: Owner/Operator State.  Enter the standardized postal state code
          where the owner/operator of the facility is located.
        in: query
        name: p_ooSt
        schema:
          type: string
      - description: Owner/Operator Zip Code.  Enter the postal zip code where the
          owner/operator of the facility is located.
        in: query
        name: p_ooZip
        schema:
          type: string
      - description: FRS tribal land code flag.  Enter "Y" or "N" to include or exclude
          facilities based on FRS tribal land code.
        in: query
        name: p_fac_ico
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Indian country search and/or flag.  Enter \"Y\" to set indian\
          \ country search conditions to return any results found using p_ico, p_fac_ico\
          \ or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico\
          \ or p_fac_icoo conditions will be returned."
        in: query
        name: p_icoo
        schema:
          type: string
      - description: FRS tribal land spatial flag.  Enter "Y" or "N" to include or
          exclude facilities based on FRS tribal land spatial flag.
        in: query
        name: p_fac_icos
        schema:
          type: string
      - description: Enter "Y" to limit facilities to Census block groups where one
          of more Environmental Justice indexes above 80th percentile.
        in: query
        name: p_ejscreen
        schema:
          type: string
      - description: Alert Limits Exceedences Limiter.  Enter a numeric value to restrict
          results to facilities having the given amount or more of alert limits exceedances.
        in: query
        name: p_alrexceed
        schema:
          type: number
      - description: 'Limit Address Search Flag.  Enter Y to restrict facility searches
          to native data source only.  '
        in: query
        name: p_limit_addr
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Latitude location in decimal degrees.
        in: query
        name: p_lat
        schema:
          type: number
      - description: Longitude location in decimal degrees.
        in: query
        name: p_long
        schema:
          type: number
      - description: Spatial Search Radius.  Enter a radius up to 100 miles in which
          to spatially search for facilities.
        in: query
        name: p_radius
        schema:
          type: number
      - description: The number of Environmenmt Justice Indicators above the 80th
          percentile.  Valid values are 1 through 11.
        in: query
        name: p_ejscreen_over80cnt
        schema:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
          - "7"
          - "8"
          - "9"
          - "10"
          - "11"
          type: string
      - description: A Y value will select all biosolid-related permits.
        in: query
        name: p_bio_flag
        schema:
          type: string
      - description: |-
          The code indicating the reporting obligation reason:

          - POT = A POTW with a design flow rate equal to or greater than one million gallons per day
          - CLI = A Class I Sludge Management Facility as defined in 40 CFR 503.9
          - PPL = A POTW that serves 10,000 people or more
          - OTH = Otherwise required to report (e.g., permit condition, enforcement action)
          - NOA = None of the above
        in: query
        name: p_bio_fac_type
        schema:
          type: string
      - description: |-
          The biosolids or sewage sludge treatment process or processes at the facility:

          - AER = Aerobic Digestion
          - AIR = Air Drying (or Sludge Drying Beds)
          - ANA = Anaerobic Digestion
          - COD = Beta Ray Irradiation
          - COM = Lower Temperature Composting
          - DEW = Pasteurization
          - DIS = Gamma Ray Irradiation
          - HEA = Heat Drying (e.g., Flash Dryer, Spray Dryer, Rotary Dryer)
          - HET = Heat Treatment (Liquid Sewage Sludge Heated to 356 Deg. F/180 Deg. C or Higher for 30 min.)
          - HTC = Higher Temperature Composting
          - MET = Methane or Biogas Capture and Recovery
          - OTH = Other Treatment Process
          - PRE = Preliminary Operations (e.g., Sludge Grinding, Degritting, Blending)
          - SLU = Sludge Lagoon
          - STA = Lime Stabilization
          - THE = Temporary Sludge Storage (Sewage Sludge Stored on Land 2 Years or Less, Not in Sewage Sludge Unit)
          - THI = Thickening (Gravity and/or Flotation Thickening, Centrifugation, Belt Filter Press, Vacuum Filter)
          - THM = Thermophilic Aerobic Digestion
          - UND = Long-Term Sludge Storage (Sewage Sludge Stored on Land 2 Years or More, not in Sewage Sludge Unit)"
        in: query
        name: p_bio_trtmnt_procs
        schema:
          type: string
      - description: |-
          The unique code for the category of the analytic methods used by the facility to analyze regulated parameters (including enteric viruses, fecal coliforms, helminth ova, and Salmonella sp.) at the facility:

          - PAT = Pathogens
          - MET = Metals
          - NIT = Nitrogen Compounds
          - OTH = Other Analytes
        in: query
        name: p_bio_analy_method_catgry
        schema:
          type: string
      - description: |-
          Total annual amount (in dry metric tons) of biosolids or sewage sludge generated at the facility.

          - EQ0 = 0
          - IN0_1 = GT 0 but LT 1
          - IN0_289  =  GT 0 but LT 290 MT/year
          - IN290_1499  =  GE 290 but LT 1500 MT/year
          - IN1500_14999  =  GE 1500 but LT 15,000
          - GE15000  =  GE 15,000
        in: query
        name: p_bio_total_volume_amt
        schema:
          type: string
      - description: |-
          The unique code that identifies the type of biosolids or sewage sludge management practice (e.g., land application, surface disposal, incineration) used by the facility. The facility will separately report the management practice for each biosolids or sewage sludge form and pathogen class. This data element will also identify the management practices used by surface disposal site owners/operators (see 40 CFR 503.24):

          - BIN = Incineration
          - BLN = Land Application
          - BOT = Other Management Practice
          - BSD = Surface Disposal
        in: query
        name: p_bio_mgmt_prctce_type
        schema:
          type: string
      - description: |-
          This is the code indicating additional detail about the type of Management Practice used for a volume of Biosolids or Sewage Sludge:

          - ADV = Advanced Alkaline Stabilized Biosolids Distribution & Marketing
          - AGR = Agricultural Land Application
          - COM = Distribution and Marketing - Compost
          - DEE = Deep-well Injection Disposal
          - DIS = Disposal in a Municipal Landfill (under 40 CFR 258)
          - DMO = Distribution and Marketing - Other
          - HEA = Heat Dried Biosolids Distribution & Marketing
          - OTL = Other Land Application Management Practice Detail
          - OTO = Other Management Practice Detail
          - RSA = Reclamation Site Application
          - SEN = Sent to Cement Kiln for Use as Alternative Energy
          - STO = Storage
          - UIC = Use in Construction
          - UPS = Used in Production of Syngas
          - USE = Use as Daily Cover for Municipal Landfill (under 40 CFR 258)
        in: query
        name: p_bio_mgmt_prctce_stype
        schema:
          type: string
      - description: |-
          This is the code indicating the type of Biosolids or Sewage Sludge handlers/preparers.

          - OWN = Owner or Operator
          - OFF = Off-Site Third-Party Handler or Preparer
        in: query
        name: p_bio_mgmt_prctce_handler
        schema:
          type: string
      - description: |-
          The code that identifies the nature of each biosolids and sewage sludge material generated by the facility in terms of whether the material is a biosolid or sewage sludge and whether the material is ultimately conveyed off-site in bulk or in bags. The facility separately reports the form for each biosolids or sewage sludge management practice or practices used by the facility and pathogen class:

          - BUL = Bulk
          - BAG = Bag or Container
        in: query
        name: p_bio_mgmt_container
        schema:
          type: string
      - description: |-
          This code identifies the pathogen class [e.g., Class A, Class B, Not Applicable (Incineration)] for biosolids or sewage sludge generated by the facility. The facility will separately report the pathogen class for each biosolids or sewage sludge management practice used by the facility and by each biosolids or sewage sludge form. It also is used to filter applicable Pathogen Reduction and Vector Attraction Reduction Options as well as Land Application Management Practice Deficiencies. Only reqired for some of the mgmt. practice types:

          - AAA = Class A
          - AEQ = Class A EQ (sale/give away)
          - BBB = Class B
          - NAP = Not Applicable (Incineration)
        in: query
        name: p_bio_mgmt_pathogen
        schema:
          type: string
      - description: |-
          This is the description of the option used by the facility to control pathogen for a Biosolids Management Practice:

          - A1 = Class A - Alternative 1: Time/Temperature
          - A2 = Class A - Alternative 2: pH/Temperature/Percent Solids
          - A3 = Class A - Alternative 3: Test Enteric Viruses and Helminth ova; Operating Parameters
          - A4 = Class A - Alternative 4: Test Enteric Viruses and Helminth ova; No New Solids
          - A51 = Class A - Alternative 5: PFRP 1: Composting
          - A52 = Class A - Alternative 5: PFRP 2: Heat Drying
          - A53 = Class A - Alternative 5: PFRP 3: Liquid heat treatment
          - A54 = Class A - Alternative 5: PFRP 4: Thermophilic Aerobic Digestion (ATAD)
          - A55 = Class A - Alternative 5 PFPR 5: Beta Ray Irradiation
          - A56 = Class A - Alternative 5 PFPR 6: Gamma Ray Irradiation
          - A57 = Class A - Alternative 5: PFRP 7: Pasteurization
          - A6 = Class A - Alternative 6: PFRP Equivalency
          - B1 = Class B - Alternative 1: Fecal Coliform Geometric Mean
          - B21 = Class B - Alternative 2 PSRP 1: Aerobic Digestion
          - B22 = Class B - Alternative 2 PSRP 2: Air Drying
          - B23 = Class B - Alternative 2 PSRP 3: Anaerobic Digestion
          - B24 = Class B - Alternative 2 PSRP 4: Composting
          - B25 = Class B - Alternative 2 PSRP 5: Lime Stabilization
          - B3 = Class B - Alternative 3: PSRP Equivalency
          - PH = pH Adjustment (Domestic Septage)
        in: query
        name: p_bio_mgmt_pathred
        schema:
          type: string
      - description: |-
          The unique code that identifies the option used by the facility for vector attraction reduction. See a listing of these vector attraction reduction options at 40 CFR 503.33(b)(1) through (11). The facility will separately report the vector attraction reduction options for each biosolids or sewage sludge management practice used by the facility and by each biosolids or sewage sludge form as well as by each biosolids or sewage sludge pathogen class:

          - VR1 = Option 1 - Volatile Solids Reduction
          - VR2 = Option 2 - Bench-Scale Volatile Solids Reduction (Anaerobic Bench Test)
          - VR3 = Option 3 - Bench-Scale Volatile Solids Reduction (Aerobic Bench Test w/ Percent Solids - 2% or Less)
          - VR4 = Option 4 - Specific Oxygen Uptake Rate
          - VR5 = Option 5 - Aerobic Processing (Thermophilic Aerobic Digestion/Composting)
          - VR6 = Option 6 - Alkaline Treatment
          - VR7 = Option 7 - Drying (Equal to or Greater than 75 Percent)
          - VR8 = Option 8 - Drying (Equal to or Greater than 90 Percent)
          - VR9 = Option 9 - Sewage Sludge Injection
          - V10 = Option 10 - Sewage Sludge Timely Incorporation into Land
          - V11 = Option 11 - Sewage Sludge Covered at the End of Each Operating Day
        in: query
        name: p_bio_mgmt_vector
        schema:
          type: string
      - description: |-
          This is the code indicating the type of NPDES special regulatory program deficiency:

          - INC = Biosolids Incineration
          - LNA = Biosolids Land Application
          - LNB = Biosolids Land Application - Pathogen Class B
          - OTB = Biosolids Other Management Practice
          - SFD = Biosolids Surface Disposal
        in: query
        name: p_bio_mgmt_def_category
        schema:
          type: string
      - description: The number of times noncompliance was reported by the facility
          in the last 3 years. The results returned will include facilities whose
          number of reported noncompliance events is greater than or equal to the
          number entered.
        in: query
        name: p_bio_mgmt_deficiencies
        schema:
          type: number
      - description: The Biosolids Single Event Violation Code.  Enter one or mode
          codes.
        in: query
        name: p_bio_vio_code
        schema:
          type: string
      - description: |-
          Indicator of whether the facility is currently in violation for biosolids under the Clean Water Act, in the 12th or 13th quarter:

          - Y = Yes
          - N = No
        in: query
        name: p_bio_current_vio
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "The number of quarters, in the last three years, where the facility\
          \ was in violation for a biosolids violation type.  The results returned\
          \ will include facilities whose number of quarters with violations is greater\
          \ than or equal to the number entered."
        in: query
        name: p_bio_qtrs_in_vio
        schema:
          type: number
      - description: The last year that the permittee submitted an annual Biosolids
          report.  Valid values are NONE and any year greater or equal to 2016.
        in: query
        name: p_bio_rpt_year
        schema:
          type: string
      - description: Identifies if a biosolids violation has occured in the last year.  Valid
          values are Y and N.
        in: query
        name: p_bio_vio_last_year
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: The last year that a MSGP report was submitted for the permit.  Valid
          values are "NONE" and any year Greater or Eqal to 2015.
        in: query
        name: p_msgp_rpt_year
        schema:
          type: string
      - description: Identifies if a permit violation has occured in the last year.  Valid
          values are Y and N.
        in: query
        name: p_vio_last_year
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Query Limiter.  Enter a value to limit the number of records\
          \ returned for each query. Value cannot exceed 70,000."
        in: query
        name: queryset
        schema:
          type: number
      - description: "Response Set Limiter. Enter a value to limit the number of records\
          \ per page. Value cannot exceed 1,000."
        in: query
        name: responseset
        schema:
          type: number
      - description: Table List Flag. Enter a Y to display the first page of facility
          results.
        in: query
        name: tablelist
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Map List Flag.  Provide a Y to return mappable coordinates representing
          the full geographic extent of the queryset (all facilities that met the
          selection criteria).
        in: query
        name: maplist
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Summary List Flag.  Enter a Y to return a list of summary statistics
          based on the parameters submitted to the query service.
        in: query
        name: summarylist
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter
          a name of the function in which to wrap the JSON response.
        in: query
        name: callback
        schema:
          type: string
      - description: Used to customize service output.  A list of comma-separated
          column IDs of output objects that will be returned in the service query
          object or download.  Use the metadata service endpoint for a complete list
          of Ids and definitions.
        in: query
        name: qcolumns
        schema:
          type: string
      - description: Number of E90 Exceedances.  Identifies water permits with a number
          of E90 (Effluient Exceedances) >= the value provided for the last number
          of years provided by the p_e90_years value.
        in: query
        name: p_e90_count
        schema:
          type: number
      - description: Number of years for the p_e90_count search.  Identified the past
          number of years to be used for the p_e90_count search.
        in: query
        name: p_e90_years
        schema:
          type: number
      - description: Point Source Category.
        in: query
        name: p_psc
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cwa_rest_services_get_facilities_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_cwa_rest_services_get_facilities_get_200_response'
          description: Results are summary statistics for the query and a query identifier
            (QID).
      summary: Clean Water Act (CWA) Facility Search Service
      tags:
      - Facility Information
      x-openapi-router-controller: openapi_server.controllers.facility_information_controller
    post:
      description: Validates query search parameters and returns query identifier.  Use
        the responseset parameter to set the page size
      operationId: cwa_rest_services_get_facilities_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_cwa_rest_services_get_facilities_post_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cwa_rest_services_get_facilities_get_200_response'
            application/xml:
              schema:
                $ref: '#/components/schemas/_cwa_rest_services_get_facilities_get_200_response'
          description: Results are summary statistics for the query and a query identifier
            (QID).
      summary: Clean Water Act (CWA) Facility Search Service
      tags:
      - Facility Information
      x-openapi-router-controller: openapi_server.controllers.facility_information_controller
      x-codegen-request-body-name: body
  /cwa_rest_services.get_facility_info:
    get:
      description: Returns either an array of Facilities or an array of Clusters that
        meet the specified search criteria.
      operationId: cwa_rest_services_get_facility_info_get
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n\
          - JSON = Data model formatted as Javascript Object Notation (default).\n\
          - JSONP = Data model formatted as Javascript Object Notation with Padding.\
          \  \n- XML = Data model formatted as Extensible Markup Language.\n- CSV\
          \ = Facility results formatted as comma delimited file download.\n- GEOJSON\
          \ = Facility results formatted as GeoJSON feature collection.\n- GEOJSONP\
          \ = Facility results formatted as GeoJSON feature collection with Padding.\n\
          - GEOJSOND = Facility results formatted as GeoJSON feature collection download."
        in: query
        name: output
        schema:
          type: string
      - description: Facility Name Filter. Enter one or more case-insensitive facility
          names to filter results.  Provide multiple values as a comma-delimited list.  See
          p_fntype for additional modifiers.
        in: query
        name: p_fn
        schema:
          type: string
      - description: Facility street address. Enter a complete or partial street address.
        in: query
        name: p_sa
        schema:
          type: string
      - description: Facility street address. Enter a complete or partial street address.   Note
          that p_sa1 is culmulative with p_sa.
        in: query
        name: p_sa1
        schema:
          type: string
      - description: Facility City Filter. Enter a single case-insensitive city name
          to filter results.
        in: query
        name: p_ct
        schema:
          type: string
      - description: Facility County Filter. Provide a single county name in combination
          with a state value provided via p_st.
        in: query
        name: p_co
        schema:
          type: string
      - description: "FIPS Code Filter.  Enter a single 5-character Federal Information\
          \ Processing Standards (FIPS) state + county value to restrict results.\
          \  E.g. to limit results to Kenosha County, Wisconsin, use 55059."
        in: query
        name: p_fips
        schema:
          type: string
      - description: Facility State and State-Equivalent Filter.  Provide one or more
          USPS postal abbreviations for states and state-equivalents to filter results.  Provide
          multiple values as a comma-delimited list.
        in: query
        name: p_st
        schema:
          type: string
      - description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip
          codes to filter results.  May contain multiple comma-separated values.
        in: query
        name: p_zip
        schema:
          type: string
      - description: Facility Registry Service ID Filter. Enter a single 12-digit
          FRS identifier to filter results.
        in: query
        name: p_frs
        schema:
          type: string
      - description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict
          results to a single EPA region.
        in: query
        name: p_reg
        schema:
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
          - "07"
          - "08"
          - "09"
          - "10"
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter.  Enter\
          \ a single 4-digit SIC Code to filter results.  If more complex filtering\
          \ is required, use p_sic2 and p_sic4."
        in: query
        name: p_sic
        schema:
          type: string
      - description: North American Industry Classification System Filter. Enter two
          to six digits to filter results to facilities having matching NAICS codes.  Digits
          less than six will match to all codes beginning with the provided values.
        in: query
        name: p_ncs
        schema:
          type: string
      - description: "Last Penality Date Qualifier Filter.  Enter one of the following:\
          \   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or\
          \ equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for\
          \ a facility with a penalty within previous 5 months.\n- GTXX = Greater\
          \ than XX months.  Provide a number in place of XX, eg. GT12, for a facility\
          \ with the last penalty greater than 12 months ago."
        in: query
        name: p_pen
        schema:
          type: string
      - description: Minimum longitude value in decimal degrees.
        in: query
        name: xmin
        schema:
          type: number
      - description: Minimum latitude value in decimal degrees.
        in: query
        name: ymin
        schema:
          type: number
      - description: Maximum longitude value in decimal degrees.
        in: query
        name: xmax
        schema:
          type: number
      - description: Maximum latitude value in decimal degrees.
        in: query
        name: ymax
        schema:
          type: number
      - description: US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities
          located within 100KM of the border.
        in: query
        name: p_usmex
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter Alternate\
          \ 2. Enter a wild-card search against SIC codes.  A final wild-card is always\
          \ present allowing \"22\" to match all SIC codes beginning with 22.  Use\
          \ the \"%\" character within strings to match any SIC values with the pattern.\
          \  For example, \"2%21\" matches 2021, 2121, 2221, etc."
        in: query
        name: p_sic2
        schema:
          type: string
      - description: "Standard Industrial Classification (SIC) Code Filter Alternate\
          \ 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities\
          \ having those code prefixes.  As this alternative does not utilize an index,\
          \ p_sic2 will generally be quicker."
        in: query
        name: p_sic4
        schema:
          type: string
      - description: Federal Agency. 1 character or 5-character values; may contain
          multiple comma-separated values. ALL will retrieve all facilities where
          the federal agency code is not null.  Use the Federal Agencies lookup service
          to obtain a list of values.
        in: query
        name: p_fa
        schema:
          type: string
      - description: Federal Facility Indicator Flag. Enter Y to restrict searches
          to federal facilities.
        in: query
        name: p_ff
        schema:
          enum:
          - "Y"
          type: string
      - description: "Active Permits/Facilities Flag.  Provide Y or N to filter results\
          \ to facilities with active permits.  A Y will select ICIS NPDES permits\
          \ with a status of effective, continued, or expired."
        in: query
        name: p_act
        schema:
          type: string
      - description: Major Facility Flag.  Enter Y to restrict results to Major facilities
          only.
        in: query
        name: p_maj
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: CAA Maximum Achievable Control Technology (MACT) Subpart codes
          (alpha ID between 1 and 7 characters) applicable to the facility.
        in: query
        name: p_mact
        schema:
          type: string
      - description: |-
          Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
          - W = within date range
          - N = not within date range
        in: query
        name: p_fea
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Years (1 to 5) Range.  This value is used to create a date range
          for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates
          whether to look within or outside of the date range) to find FEAs within
          (or not within) the number of years specified.
        in: query
        name: p_feay
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Agency associated with Formal Enforcement Actions:
          - E = EPA
          - S = State
          - A = All
        in: query
        name: p_feaa
        schema:
          enum:
          - A
          - E
          - S
          type: string
      - description: |-
          Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
          - W = within date range
          - N = not within date range
        in: query
        name: p_iea
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Years (1 to 5) Range.  This value is used to create a date range
          for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates
          whether to look within or outside of the date range) to find IEAs within
          (or not within) the number of years specified.
        in: query
        name: p_ieay
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
          - E = EPA
          - S = State
        in: query
        name: p_ieaa
        schema:
          enum:
          - E
          - S
          type: string
      - description: |-
          Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
          - Z = Zero quarters in noncompliance.
          - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
          - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
        in: query
        name: p_qiv
        schema:
          enum:
          - "0"
          - GT1
          - GT2
          - GT4
          - GT8
          - "12"
          type: string
      - description: "Facility has a violation status of 'In Viol' during any of the\
          \ selected quarters. \n\nRange: Fiscal Year 2020 Quarter 2 to Fiscal Year\
          \ 2017 Quarter 2\n\nMultiple values are comma delimited.\n\n\n||||||  Fiscal\
          \ Years ||||||\n- FY2020 or FY20 or 2020 or 20\n- FY2019 or FY19 or 2019\
          \ or 19\n- FY2018 or FY18 or 2018 or 18\n- FY2017 or FY17 or 2017 or 17\n\
          \n||||| Fiscal Quarters |||||\n- FY2020Q2 or FY20Q2 or 20202 or 202 or 13\n\
          - FY2020Q1 or FY20Q1 or 20201 or 201 or 12\n- FY2019Q4 or FY19Q4 or 20194\
          \ or 194 or 11\n- FY2019Q3 or FY19Q3 or 20193 or 193 or 10\n- FY2019Q2 or\
          \ FY19Q2 or 20192 or 192 or 9\n- FY2019Q1 or FY19Q1 or 20191 or 191 or 8\n\
          - FY2018Q4 or FY18Q4 or 20184 or 184 or 7\n- FY2018Q3 or FY18Q3 or 20183\
          \ or 183 or 6\n- FY2018Q2 or FY18Q2 or 20182 or 182 or 5\n- FY2018Q1 or\
          \ FY18Q1 or 20181 or 181 or 4\n- FY2017Q4 or FY17Q4 or 20174 or 174 or 3\n\
          - FY2017Q3 or FY17Q3 or 20173 or 173 or 2\n- FY2017Q2 or FY17Q2 or 20172\
          \ or 172 or 1"
        in: query
        name: p_iv
        schema:
          type: string
      - description: Discharging into Impaired Waters Flag. Enter Y to limit results
          to facilities with discharge to waterbodies listed as impaired in the ATTAINS
          database.
        in: query
        name: p_impw
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Facility is discharging pollutants that are potentially contributing
          to the impairment of local waterbodies according to the ATTAINS database.
        in: query
        name: p_imp_pol
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "Facility is discharging a pollutant group causing a waterbody\
          \ to be impaired.  Enter 1 through 34 (the internal number of the pollutant\
          \ group); or enter a partial name such as Dioxin,Temp,tUrBidity."
        in: query
        name: p_imp_cau_grp
        schema:
          enum:
          - ALGAL GROWTH
          - AMMONIA
          - BIOTOXINS
          - CAUSE UNKNOWN
          - CAUSE UNKNOWN - FISH KILLS
          - CAUSE UNKNOWN - IMPAIRED BIOTA
          - CHLORINE
          - DIOXINS
          - FISH CONSUMPTION ADVISORY
          - FLOW ALTERATION(S)
          - HABITAT ALTERATIONS
          - MERCURY
          - METALS (OTHER THAN MERCURY)
          - NOXIOUS AQUATIC PLANTS
          - NUISANCE EXOTIC SPECIES
          - NUISANCE NATIVE SPECIES
          - NUTRIENTS
          - OIL AND GREASE
          - ORGANIC ENRICHMENT/OXYGEN DEPLETION
          - OTHER CAUSE
          - PATHOGENS
          - PESTICIDES
          - PH/ACIDITY/CAUSTIC CONDITIONS
          - POLYCHLORINATED BIPHENYLS (PCBS)
          - RADIATION
          - SALINITY/TOTAL DISSOLVED SOLIDS/CHLORIDES/SULFATES
          - SEDIMENT
          - "TASTE, COLOR AND ODOR"
          - TEMPERATURE
          - TOTAL TOXICS
          - TOXIC INORGANICS
          - TOXIC ORGANICS
          - TRASH
          - TURBIDITY
          type: string
      - description: |-
          Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.
          - CURR = Current TRI reporter.
          - NONCURR = Has reported to TRI in the past but not for the current reporting year.
        in: query
        name: p_trep
        schema:
          enum:
          - CURR
          - NOTCURR
          type: string
      - description: |-
          Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.
          - NONE = 0%
          - GT5 = greater than 5%
          - GT10 = greater than 10%
          - GT25 = greater than 25%
          - GT50 = greater than 50%
          - GT75 = greater than 75%
        in: query
        name: p_pm
        schema:
          enum:
          - NONE
          - GT5
          - GT10
          - GT25
          - GT50
          - GT75
          type: string
      - description: |-
          Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.
          - NONE = 0 population density per square mile
          - GT100 = More than 100 population density per square mile
          - GT500 = More than 500 population density per square mile
          - GT1000 = More than 1000 population density per square mile
          - GT5000 = More than 5000 population density per square mile
          - GT10000 = More than 10000 population density per square mile
          - GT20000 = More than 20000 population density per square mile
        in: query
        name: p_pd
        schema:
          enum:
          - NONE
          - GT100
          - GT500
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          type: string
      - description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches
          to facilities inside or outside Indian Country.
        in: query
        name: p_ico
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "2-, 4-, 6-, or 8-character watershed code. May contain multiple\
          \ comma-separated values."
        in: query
        name: p_huc
        schema:
          type: string
      - description: Nine-digit permit IDs. May contain up to 2000 comma-separated
          values.
        in: query
        name: p_pid
        schema:
          type: string
      - description: |-
          Filter Results by Media.
          - A = Air
          - M = RMP (Risk Management Plan)
          - R = RCRA (Hazardous Waste)
          - S = SDWA (Public Drinking Water Systems)
          - ALL = Air and RCRA and Water
        in: query
        name: p_med
        schema:
          enum:
          - A
          - M
          - R
          - S
          - ALL
          type: string
      - description: |-
          Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
          - W = within date range
          - N = not within date range
        in: query
        name: p_ysl
        schema:
          enum:
          - W
          - "N"
          - NV
          type: string
      - description: Number of years (1 to 5) since last facility inspection.  A value
          of 1 means that it has been inspected within the year.
        in: query
        name: p_ysly
        schema:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
      - description: |-
          Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
          - E = EPA
          - S = State
        in: query
        name: p_ysla
        schema:
          enum:
          - E
          - S
          - A
          type: string
      - description: "Quick Search. Allows entry for city, state, and/or zip code."
        in: query
        name: p_qs
        schema:
          type: string
      - description: "Single Facility Search Filter.  Provide a facility name or program\
          \ system identifier to limit results.  For the all data search, the FRS\
          \ registry identifier is also searched."
        in: query
        name: p_sfs
        schema:
          type: string
      - description: Numeric code for tribe (or list of tribes).
        in: query
        name: p_tribeid
        schema:
          type: number
      - description: Tribe Name Filter.  Enter a single tribe name to filter results.
        in: query
        name: p_tribename
        schema:
          type: string
      - description: Proximity to tribal land limiter. Enter an amount of mile between
          0 and 25 to filter results.  This parameter is only evaluated if p_tribeid
          is populated.
        in: query
        name: p_tribedist
        schema:
          type: number
      - description: |-
          Permit Status Filter.  Enter one or more of the following codes.  Provide multiple values as a comma-delimited list.
          - EFF = Effective
          - EXP = Expired
          - PND = Pending
          - TRM = Terminated
          - RET = Retired
          - NON = Not Needed
          - ADC = Admin Continued
        in: query
        name: p_pstat
        schema:
          type: string
      - description: |-
          Permit Type Filter. Enter one or more code values to filter results.  Provide multiple values as a comma-delimited list.
          - NPD = NPDES Individual Permit
          - NGP = NPDES Master General Permit
          - GPC = General Permit Covered Facility
          - SNN = State Issued Master General Permit (Non-NPDES)
          - IIU = Individual IU Permit (Non-NPDES)
          - SIN = Individual State Issued Permit (Non-NPDES)
          - APR = Associated Permit Record
          - UFT = Unpermitted Facility
        in: query
        name: p_ptype
        schema:
          type: string
      - description: |-
          Permit Component Code Filter.  Enter one or more codes to filter results.  Provide multiple values as a comma-delimited list.
          - PRE = Pretreatment
          - CAF = CAFO
          - CSO = CSO
          - POT = POTW
          - BIO = Biosolids
          - SWS = Storm Water Small MS4s
          - SWM = Storm Water Medium/Large MS4s
          - SWI = Storm Water Industrial
          - SWC = Storm Water Construction
        in: query
        name: p_pcomp
        schema:
          type: string
      - description: Permit Limits Present Flag.  Enter Y to limit results to facilities
          have present permit limits.
        in: query
        name: p_plimits
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: |-
          Combined Sewer Systems Outflows Limiter.  Enter one of the following to limit results to facilities having the given count of CSS outflows.
          - ALL = returns all facilities, regardless of the number of outflows.
          - GE1 = returns facilities with one or more outflows.
          - GE10 = returns facilities with ten or more outflows.
          - GE50 = returns facilities with fifty or more outflows.
        in: query
        name: p_pcss
        schema:
          enum:
          - ALL
          - GE1
          - GE10
          - GE50
          type: string
      - description: |-
          Permit Expired or Administratively Continued Limiter.  Enter one of the following values to filter results.
          - EXP = limit results to facilities with permits expired or administratively continued.
          - EXPLE1YR = limit resuls to facilities with permits expired administratively continued within the past year.
          - EXPGT1YR = limit resuls to facilities with permits expired administratively continued more than a year ago.
        in: query
        name: p_pexp
        schema:
          enum:
          - EXP
          - EXPLE1YR
          - EXPGT1YR
          type: string
      - description: |-
          Owner/Operator code filter.  Enter one of the following values to restrict results.
          - Federal = Federal facilities regulated under the NPDES program.
          - POTW = Publicly owned treatment works. Treatment works that are owned by a State, Tribe, or municipality.
          - Non-POTW = Non-publicly owned treatment works. Often referred to as "non-municipals" or "industrials".
        in: query
        name: p_owop
        schema:
          enum:
          - FEDERAL
          - POTW
          - NON-POTW
          type: string
      - in: query
        name: p_ipfti
        schema:
          type: string
      - description: Indicates whether to AND or OR the Owner/Operator parameter (p_owop)
          and the federal agency code (p_fa) parameters.
        in: query
        name: p_agoo
        schema:
          enum:
          - AND
          - OR
          type: string
      - description: Beginning of date range of most recent facility inspection.
        in: query
        name: p_idt1
        schema:
          type: string
      - description: End of date range of most recent facility inspection.
        in: query
        name: p_idt2
        schema:
          type: string
      - description: Inspection Type Code.  See ICIS Compliance Monitor Types lookup
          serivce for a list of available codes and descriptions.
        in: query
        name: p_pityp
        schema:
          type: string
      - description: Formal Enforcement Action Date Range Start.  Enter a date in
          MM/DD/YYYY format to set the start of the range for filtering by recent
          Formal Enforcement Action (FEA) taken against the facility within the last
          five years.
        in: query
        name: p_pfead1
        schema:
          type: string
      - description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY
          format to set the end of the date range for filtering by recent Formal Enforcement
          Action (FEA) taken against the facility within the last five years.
        in: query
        name: p_pfead2
        schema:
          type: string
      - description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more
          three-letter FEA codes to restrict results to facilities with these attributes.  Use
          p_fead1 and p_fead2 parameters to further restrict this filter by entering
          a date range.  Provide multiple codes as a comma-delimited list.
        in: query
        name: p_pfeat
        schema:
          type: string
      - description: "Current Compliance Status:\n||||||||||||||||||||||||||| \nSignificant\
          \ Noncompliance (SNC) \n|||||||||||||||||||||||||||\n- SNC = E, S, X, T,\
          \ D\n- E�= E(EffViol)\n- S�= S(CSchVio)\n- X = X(EffNMth)\n- T = T(CSchRpt)\n\
          - D�= D(DMR NR)\n\n|||||||||||||||||||||||||||\nNoncompliance (NC)\n|||||||||||||||||||||||||||\n\
          - NC = N, V\n- N�= N(RptViol)\n- V�= V(NonRNCV)\n\n|||||||||||||||||||||||||||\n\
          New Violations (PQV)\n|||||||||||||||||||||||||||\n- PQV = New Violations\
          \ (13th Quarter)\n\n|||||||||||||||||||||||||||\nNo Violations (NV)\n|||||||||||||||||||||||||||\n\
          - NV = R, P, M, U, W\n, Blank, and No New Violations (no PQV)\n- R�= R(Resolvd)\n\
          - P�= P(ResPend)\n- M�= C(Manual)\n- U = U(N/A)\n- W = W(N/A)\n- Blank =\
          \ (null)\n\nMay contain multiple comma-separated values."
        in: query
        name: p_pccs
        schema:
          type: string
      - description: |-
          3-Year Effluent Exceedances Limiter.  Enter a value to restrict results to facilities with the given amount of exceedances in the past 3 years.
          - 0 = facilities with no exceedances
          - GE0 = facilities with one or more exceedances
          - GE10 = facilities with ten or more exceedances
          - GE50 = facilities with fifty or more exceedances
          - GE100 = facilities with one hundred or more exceedances
        in: query
        name: p_pexcd
        schema:
          enum:
          - "0"
          - GE0
          - GE10
          - GE50
          - GE100
          type: string
      - description: |-
          Quarters in Significant Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of significant noncompliance.
          - Z = Zero quarters in significant noncompliance.
          - GEXX = Replacing XX with a numeric value, that number of quarterd or more in significant noncompliance.
          - GTXX = Replacing XX with a numeric value, more than that number of quarters in significant noncompliance.
        in: query
        name: p_psncq
        schema:
          enum:
          - GT1
          - GE1
          - GT2
          - GE2
          - GT4
          - GE4
          - GT8
          - GE8
          - GT12
          - GE12
          type: string
      - description: |-
          Compliance Tracking Limiter. Provide a keyword to indicate the extent to which data is being entered and effluent exceedances are being identified.
          - Off
          - Partial
          - On
        in: query
        name: p_pctrack
        schema:
          enum:
          - "false"
          - Partial
          - "true"
          type: string
      - description: Direct Water Discharges. Pounds of toxic chemicals released directly
          to surface water as reported to the Toxics Release Inventory.
        in: query
        name: p_dwd
        schema:
          enum:
          - "0"
          - GT0
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          - GT50000
          type: string
      - description: POTW Transfers. Pounds of toxic chemicals transferred to a Publicly
          Operated Treatment Works (POTW) as reported to the Toxics Release Inventory.
        in: query
        name: p_pt
        schema:
          enum:
          - "0"
          - GT0
          - GT1000
          - GT5000
          - GT10000
          - GT20000
          - GT50000
          type: string
      - description: Distance (in miles) to downstream drinking water intake.
        in: query
        name: p_pdwdist
        schema:
          enum:
          - "N"
          - LT1
          - LT2
          - LT5
          - LT10
          - LT15
          type: string
      - description: "Pollutant Category Code:  Values: WTR for Water, AIR for Air"
        in: query
        name: p_pswdpc
        schema:
          type: string
      - description: Used to determine limit begin and end dates for surface water
          discharges. Number represents years from current date.
        in: query
        name: p_pswdmp
        schema:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          type: string
      - description: "For CWA, pollutant names for surface water discharges. for Drinking\
          \ Water, SDWIS Violation contaminant codes for unaddressed violations that\
          \ have occurred in the last 3 years. May contain multiple comma-separated\
          \ values."
        in: query
        name: p_pswpol
        schema:
          type: string
      - description: CAS numbers for surface water discharges. May contain multiple
          comma-separated values.
        in: query
        name: p_pswcas
        schema:
          type: string
      - description: Parameter codes for surface water discharges. May contain multiple
          comma-separated values.
        in: query
        name: p_pswparam
        schema:
          type: string
      - description: "Used in conjuction with parameters p_pswpol and p_pswparam,\
          \ indicates whether search should only include pollutants with violations."
        in: query
        name: p_pswvio
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the\
          \ USGS Watershed Boundary Dataset). May contain multiple comma-separated\
          \ values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value."
        in: query
        name: p_wbd
        schema:
          type: string
      - description: "2-, 4-, 6-, 8-, 10-, or 12 character watershed (WBD from the\
          \ USGS Watershed Boundary Dataset). May contain multiple comma-separated\
          \ values.  Will search against WBD values otained by \"reach indexing\"\
          \ NPDES permits against the medium resolution National Hydrography Dataset. "
        in: query
        name: p_radwbd
        schema:
          type: string
      - description: "Works exactly the same as the p_wbd parameter.  2-, 4-, 6-,\
          \ 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary\
          \ Dataset). May contain multiple comma-separated values.  Uses the FRS Best\
          \ Pick Coordinate to obtain the WBD12 Huc value."
        in: query
        name: p_frswbd
        schema:
          type: string
      - description: "Controls type of text search performed on facility name with\
          \ parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n\
          - BEGINS = Find facilities with names starting with the provided term(s).\n\
          - ALL = Find facilities using Oracle text search terms.\n- CONTAINS = "
        in: query
        name: p_fntype
        schema:
          enum:
          - ALL
          - CONTAINS
          - EXACT
          - BEGINS
          type: string
      - description: "Controls whether search is restricted to existing system. Y\
          \ means the search will match the p_pid parameter against all associated\
          \ permits (AIR, RCRA, SDWIS, etc)."
        in: query
        name: p_pidall
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: The number of months since the last Discharge Monitoring Report
          has been submitted.
        in: query
        name: p_months_last_dmr
        schema:
          type: number
      - description: W value returns facilities that have submitted DMRs within the
          number of months specified by p_months_last_dmr. An N value returns facilities
          that have not submitted a DMR within the specified number of months.
        in: query
        name: p_last_dmr_within
        schema:
          enum:
          - W
          - "N"
          type: string
      - description: Industrial Stormwater Permit Flag.  Enter a Y or N to filter
          results by this type of permit.
        in: query
        name: p_indsw
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: |-
          Multi-Sector General Purpose Permit Type.  Enter a value to filter results by MSGP Permit Type.
          - NOI = Notice of Intent
          - NOE = No Exposure Certification
        in: query
        name: p_msgp_ptype
        schema:
          enum:
          - NOI
          - NOE
          type: string
      - description: "For use with the Industrial Stormwater search only. Valid values\
          \ are BENCHGS fro Benchmark (Alert Limit) G2 Ore, BENCH for Benchmark (Alert\
          \ Limit), and ELG fro Effluent Limitation Guidelines(ELG)(Effluent Limit).\
          \  "
        in: query
        name: p_mon_type
        schema:
          enum:
          - BENCHG2
          - BENCH
          - ELG
          type: string
      - description: "Issuing Agency Limiter.  Enter a single value to filter results\
          \ by the issuing agency, e.g. \"State\" or \"EPA\"."
        in: query
        name: p_iagency
        schema:
          type: string
      - in: query
        name: p_permitting_agency
        schema:
          type: string
      - description: Multi-Sector General Purpose Permit Subsector Individual Identifier.  Enter
          a value to filter results.
        in: query
        name: p_isws
        schema:
          type: string
      - description: Multi-Sector General Purpose Permit Subsector Group Code.  Enter
          a value to filter results.
        in: query
        name: p_iswss
        schema:
          type: string
      - description: Multi-Sector General Purpose Permit Sector Code.  Enter a value
          to filter results.
        in: query
        name: p_iswss_id
        schema:
          type: string
      - description: "Submitted Date Filter Start.  To filter by the date of submission,\
          \ enter a start date here and an end date in the p_ds2 parameter.  Both\
          \ dates are required for filtering."
        in: query
        name: p_ds1
        schema:
          type: string
      - description: "Submitted Date Filter End.  To filter by the date of submission,\
          \ enter an end date here and a start date in the p_ds1 parameter.  Both\
          \ dates are required for filtering."
        in: query
        name: p_ds2
        schema:
          type: string
      - description: "Active Date Filter Start.  To filter by the active date, enter\
          \ a start date here and an end date in the p_da2 parameter.  Both dates\
          \ are required for filtering."
        in: query
        name: p_da1
        schema:
          type: string
      - description: "Active Date Filter End.  To filter by the active date, enter\
          \ an end date here and a start date in the p_da1 parameter.  Both dates\
          \ are required for filtering."
        in: query
        name: p_da2
        schema:
          type: string
      - description: Municipal Separate Storm Water Sewer (MS4) Permit Flag.  Enter
          a Y or N to filter results by this type of permit.
        in: query
        name: p_ms4
        schema:
          enum:
          - "Y"
          - "N"
          type: string
      - description: Owner/Operator Name. Enter the owner/operator name of the facility.
        in: query
        name: p_oo_fn
        schema:
          type: string
      - description: 'Owner/Operator Name Multiple Selection Evaluator.  '
        in: query
        name: p_oo_f_ntype
        schema:
          enum:
          - ALL
          - EXACT
          - BEGINS
          - CONTAINS
          type: string
      - description: Owner/Operator Address.  Enter the address of the owner/operator
          of the facility.
        in: query
        name: p_oo_sa
[...]
