openapi: 3.0.1
info:
  description: Consumption management client provides access to consumption resources
    for Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: 2017-12-30-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/preview/2017-12-30-preview/consumption.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: consumption
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
tags:
- description: "Perform CRUD (Create, Update, Read, Delete) operations on the budget\
    \ entity at the Subscription scope."
  externalDocs:
    url: https://docs.microsoft.com/en-us/rest/api/consumption/
  name: Budgets-Preview
paths:
  /providers/Microsoft.Consumption/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: operations_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2017-12-30-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets:
    get:
      description: Lists all budgets for a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2017-12-30-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets-Preview
      x-ms-examples:
        BudgetsList:
          parameters:
            api-version: 2017-12-30-preview
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - eTag: '"1d34d012214157f"'
                  id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                  name: TestBudget
                  properties:
                    amount: 100.65
                    category: Cost
                    currentSpend:
                      amount: 80.89
                      unit: USD
                    notifications:
                      Actual_GreaterThanOrEqualTo_90_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThanOrEqualTo
                        threshold: 90
                      Actual_GreaterThan_80_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThan
                        threshold: 80
                    timeGrain: Monthly
                    timePeriod:
                      endDate: 2018-10-31T00:00:00Z
                      startDate: 2017-10-01T00:00:00Z
                  type: Microsoft.Consumption/budgets
                - eTag: '"1d34d012214157f"'
                  id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                  name: TestBudget
                  properties:
                    amount: 600.65
                    category: Cost
                    currentSpend:
                      amount: 120.89
                      unit: USD
                    notifications:
                      Actual_GreaterThanOrEqualTo_60_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThanOrEqualTo
                        threshold: 60
                      Actual_GreaterThan_40_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThan
                        threshold: 40
                    timeGrain: Monthly
                    timePeriod:
                      endDate: 2018-10-31T00:00:00Z
                      startDate: 2017-10-01T00:00:00Z
                  type: Microsoft.Consumption/budgets
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.budgets_preview_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets/{name}:
    delete:
      description: The operation to delete a budget.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_delete
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2017-12-30-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Budget name.
        in: path
        name: name
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets-Preview
      x-ms-examples:
        DeleteBudget:
          parameters:
            api-version: 2017-12-30-preview
            name: TestBudget
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.budgets_preview_controller
    get:
      description: Gets the budget for a subscription by budget name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_get
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2017-12-30-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Budget name.
        in: path
        name: name
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets-Preview
      x-ms-examples:
        Budget:
          parameters:
            api-version: 2017-12-30-preview
            name: TestBudget
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
      x-openapi-router-controller: openapi_server.controllers.budgets_preview_controller
    put:
      description: The operation to create or update a budget. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the latest
        eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_create_or_update
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2017-12-30-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Budget name.
        in: path
        name: name
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
        description: Parameters supplied to the Create Budget operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets-Preview
      x-ms-examples:
        CreateOrUpdateBudget:
          parameters:
            api-version: 2017-12-30-preview
            name: TestBudget
            parameters:
              eTag: '"1d34d016a593709"'
              properties:
                amount: 100.65
                category: Cost
                notifications:
                  Actual_GreaterThan_80_Percent:
                    contactEmails:
                    - johndoe@contoso.com
                    - janesmith@contoso.com
                    contactRoles:
                    - Contributor
                    - Reader
                    enabled: true
                    operator: GreaterThan
                    threshold: 80
                timeGrain: Monthly
                timePeriod:
                  endDate: 2018-10-31T00:00:00Z
                  startDate: 2017-10-01T00:00:00Z
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
            "201":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.budgets_preview_controller
components:
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request. The current
        version is 2017-12-30-preview.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    budgetNameParameter:
      description: Budget name.
      in: path
      name: name
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Budget:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: A budget resource.
      example:
        properties:
          amount: 0.8008281904610115
          timeGrain: Monthly
          currentSpend:
            amount: 6.027456183070403
            unit: unit
          timePeriod:
            endDate: 2000-01-23T04:56:07.000+00:00
            startDate: 2000-01-23T04:56:07.000+00:00
          category: Cost
          notifications:
            key:
              contactEmails:
              - contactEmails
              - contactEmails
              - contactEmails
              - contactEmails
              - contactEmails
              threshold: 1.4658129805029452
              enabled: true
              operator: EqualTo
              contactRoles:
              - contactRoles
              - contactRoles
      properties:
        properties:
          $ref: '#/components/schemas/BudgetProperties'
      title: Budget
    BudgetProperties:
      description: The properties of the budget.
      example:
        amount: 0.8008281904610115
        timeGrain: Monthly
        currentSpend:
          amount: 6.027456183070403
          unit: unit
        timePeriod:
          endDate: 2000-01-23T04:56:07.000+00:00
          startDate: 2000-01-23T04:56:07.000+00:00
        category: Cost
        notifications:
          key:
            contactEmails:
            - contactEmails
            - contactEmails
            - contactEmails
            - contactEmails
            - contactEmails
            threshold: 1.4658129805029452
            enabled: true
            operator: EqualTo
            contactRoles:
            - contactRoles
            - contactRoles
      properties:
        amount:
          description: The total amount of cost to track with the budget
          format: decimal
          title: amount
          type: number
        category:
          description: "The category of the budget, whether the budget tracks cost\
            \ or something else."
          enum:
          - Cost
          title: category
          type: string
          x-ms-enum:
            modelAsString: true
            name: CategoryType
        currentSpend:
          $ref: '#/components/schemas/CurrentSpend'
        notifications:
          additionalProperties:
            $ref: '#/components/schemas/Notification'
          description: Dictionary of notifications associated with the budget. Budget
            can have up to five notifications.
          title: notifications
          type: object
        timeGrain:
          description: The time covered by a budget. Tracking of the amount will be
            reset based on the time grain.
          enum:
          - Monthly
          - Quarterly
          - Annually
          title: timeGrain
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeGrainType
        timePeriod:
          $ref: '#/components/schemas/BudgetTimePeriod'
      required:
      - amount
      - category
      - timeGrain
      - timePeriod
      title: BudgetProperties
      type: object
    BudgetTimePeriod:
      description: The start and end date for a budget.
      example:
        endDate: 2000-01-23T04:56:07.000+00:00
        startDate: 2000-01-23T04:56:07.000+00:00
      properties:
        endDate:
          description: "The end date for the budget. If not provided, we default this\
            \ to 10 years from the start date."
          format: date-time
          title: endDate
          type: string
        startDate:
          description: The start date for the budget.
          format: date-time
          title: startDate
          type: string
      required:
      - startDate
      title: BudgetTimePeriod
      type: object
    BudgetsListResult:
      description: Result of listing budgets. It contains a list of available budgets
        in the scope provided.
      example:
        value:
        - properties:
            amount: 0.8008281904610115
            timeGrain: Monthly
            currentSpend:
              amount: 6.027456183070403
              unit: unit
            timePeriod:
              endDate: 2000-01-23T04:56:07.000+00:00
              startDate: 2000-01-23T04:56:07.000+00:00
            category: Cost
            notifications:
              key:
                contactEmails:
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                threshold: 1.4658129805029452
                enabled: true
                operator: EqualTo
                contactRoles:
                - contactRoles
                - contactRoles
        - properties:
            amount: 0.8008281904610115
            timeGrain: Monthly
            currentSpend:
              amount: 6.027456183070403
              unit: unit
            timePeriod:
              endDate: 2000-01-23T04:56:07.000+00:00
              startDate: 2000-01-23T04:56:07.000+00:00
            category: Cost
            notifications:
              key:
                contactEmails:
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                threshold: 1.4658129805029452
                enabled: true
                operator: EqualTo
                contactRoles:
                - contactRoles
                - contactRoles
      properties:
        value:
          description: The list of budgets.
          items:
            $ref: '#/components/schemas/Budget'
          readOnly: true
          title: value
          type: array
      title: BudgetsListResult
      type: object
    CurrentSpend:
      description: The current amount of cost which is being tracked for a budget.
      example:
        amount: 6.027456183070403
        unit: unit
      properties:
        amount:
          description: The total amount of cost which is being tracked by the budget.
          format: decimal
          readOnly: true
          title: amount
          type: number
        unit:
          description: The unit of measure for the budget amount.
          readOnly: true
          title: unit
          type: string
      title: CurrentSpend
      type: object
    ErrorDetails:
      description: The details of the error.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
      title: ErrorDetails
      type: object
    ErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      title: ErrorResponse
      type: object
    Notification:
      description: The notification associated with a budget.
      example:
        contactEmails:
        - contactEmails
        - contactEmails
        - contactEmails
        - contactEmails
        - contactEmails
        threshold: 1.4658129805029452
        enabled: true
        operator: EqualTo
        contactRoles:
        - contactRoles
        - contactRoles
      properties:
        contactEmails:
          description: Email addresses to send the budget notification to when the
            threshold is exceeded.
          items:
            type: string
          maxItems: 50
          minItems: 1
          title: contactEmails
          type: array
        contactRoles:
          description: Contact roles to send the budget notification to when the threshold
            is exceeded.
          items:
            type: string
          title: contactRoles
          type: array
        enabled:
          description: The notification is enabled or not.
          title: enabled
          type: boolean
        operator:
          description: The comparison operator.
          enum:
          - EqualTo
          - GreaterThan
          - GreaterThanOrEqualTo
          title: operator
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperatorType
        threshold:
          description: Threshold value associated with a notification. Notification
            is sent when the cost exceeded the threshold. It is always percent and
            has to be between 0 and 1000.
          format: decimal
          title: threshold
          type: number
      required:
      - contactEmails
      - enabled
      - operator
      - threshold
      title: Notification
      type: object
    Operation:
      description: A Consumption REST API operation.
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Result of listing consumption operations. It contains a list of
        operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of consumption operations supported by the Microsoft.Consumption
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationListResult
      type: object
    ProxyResource:
      description: The Resource model definition.
      properties:
        eTag:
          description: "eTag of the resource. To handle concurrent update scenario,\
            \ this field will be used to determine whether the user is updating the\
            \ latest version or not."
          title: eTag
          type: string
        id:
          description: Resource Id.
          readOnly: true
          title: id
          type: string
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: ProxyResource
      type: object
      x-ms-azure-resource: true
    Operation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          readOnly: true
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft.Consumption."
          readOnly: true
          title: provider
          type: string
        resource:
          description: "Resource on which the operation is performed: UsageDetail,\
            \ etc."
          readOnly: true
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
