openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on Diagnostic entity
    associated with your Azure API Management deployment. Diagnostics are used to
    log requests/responses in the APIM proxy.
  title: ApiManagementClient
  version: 2019-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimdiagnostics.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimdiagnostics
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics
  : get:
      description: Lists all diagnostics of the API Management service instance.
      operationId: Diagnostic_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "|   Field     |     Usage     |     Supported operators    \
          \ |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|\
          \ name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_200_response'
          description: Paged Result response of diagnostics.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostic
      x-ms-examples:
        ApiManagementListDiagnostics:
          parameters:
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/applicationinsights
                  name: applicationinsights
                  properties:
                    alwaysLog: allErrors
                    backend:
                      request:
                        body:
                          bytes: 512
                        headers:
                        - Content-type
                      response:
                        body:
                          bytes: 512
                        headers:
                        - Content-type
                    frontend:
                      request:
                        body:
                          bytes: 512
                        headers:
                        - Content-type
                      response:
                        body:
                          bytes: 512
                        headers:
                        - Content-type
                    loggerId: /loggers/applicationinsights
                    sampling:
                      percentage: 50
                      samplingType: fixed
                  type: Microsoft.ApiManagement/service/diagnostics
      x-ms-odata: ./definitions.json#/definitions/DiagnosticContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}
  : delete:
      description: Deletes the specified Diagnostic.
      operationId: Diagnostic_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The Diagnostic was successfully deleted.
        "204":
          content: {}
          description: The Diagnostic was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostic
      x-ms-examples:
        ApiManagementDeleteDiagnostic:
          parameters:
            If-Match: '*'
            api-version: 2019-01-01
            diagnosticId: applicationinsights
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the details of the Diagnostic specified by its identifier.
      operationId: Diagnostic_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_Get_200_response'
          description: The response body contains the specified Diagnostic entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostic
      x-ms-examples:
        ApiManagementGetDiagnostic:
          parameters:
            api-version: 2019-01-01
            diagnosticId: applicationinsights
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/applicationinsights
                name: applicationinsights
                properties:
                  alwaysLog: allErrors
                  backend:
                    request:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                    response:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                  frontend:
                    request:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                    response:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                  loggerId: /loggers/applicationinsights
                  sampling:
                    percentage: 50
                    samplingType: fixed
                type: Microsoft.ApiManagement/service/diagnostics
      x-accepts:
      - application/json
    head:
      description: Gets the entity state (Etag) version of the Diagnostic specified
        by its identifier.
      operationId: Diagnostic_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Gets the entity tag of the diagnostic
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostic
      x-ms-examples:
        ApiManagementHeadDiagnostic:
          parameters:
            api-version: 2019-01-01
            diagnosticId: applicationinsights
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    patch:
      description: Updates the details of the Diagnostic specified by its identifier.
      operationId: Diagnostic_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Diagnostic_Get_200_response'
        description: Diagnostic Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The Diagnostic was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostic
      x-ms-examples:
        ApiManagementUpdateDiagnostic:
          parameters:
            If-Match: '*'
            api-version: 2019-01-01
            diagnosticId: applicationinsights
            parameters:
              properties:
                alwaysLog: allErrors
                backend:
                  request:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                  response:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                frontend:
                  request:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                  response:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                loggerId: /loggers/applicationinsights
                sampling:
                  percentage: 50
                  samplingType: fixed
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a new Diagnostic or updates an existing one.
      operationId: Diagnostic_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Diagnostic_Get_200_response'
        description: Create parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_Get_200_response'
          description: Diagnostic successfully updated
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_Get_200_response'
          description: Diagnostic was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostic
      x-ms-examples:
        ApiManagementCreateDiagnostic:
          parameters:
            api-version: 2019-01-01
            diagnosticId: applicationinsights
            parameters:
              properties:
                alwaysLog: allErrors
                backend:
                  request:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                  response:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                frontend:
                  request:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                  response:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                loggerId: /loggers/azuremonitor
                sampling:
                  percentage: 50
                  samplingType: fixed
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/applicationinsights
                name: applicationinsights
                properties:
                  alwaysLog: allErrors
                  backend:
                    request:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                    response:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                  frontend:
                    request:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                    response:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                  loggerId: /loggers/applicationinsights
                  sampling:
                    percentage: 50
                    samplingType: fixed
                type: Microsoft.ApiManagement/service/diagnostics
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/applicationinsights
                name: applicationinsights
                properties:
                  alwaysLog: allErrors
                  backend:
                    request:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                    response:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                  frontend:
                    request:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                    response:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                  loggerId: /loggers/azuremonitor
                  sampling:
                    percentage: 50
                    samplingType: fixed
                type: Microsoft.ApiManagement/service/diagnostics
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    Diagnostic_Get_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Diagnostic details.
      example:
        properties:
          alwaysLog: allErrors
          enableHttpCorrelationHeaders: true
          httpCorrelationProtocol: None
          sampling:
            samplingType: fixed
            percentage: 60.27456183070403
          backend:
            request:
              headers:
              - headers
              - headers
              body:
                bytes: 656
            response:
              headers:
              - headers
              - headers
              body:
                bytes: 656
          loggerId: loggerId
          frontend:
            request:
              headers:
              - headers
              - headers
              body:
                bytes: 656
            response:
              headers:
              - headers
              - headers
              body:
                bytes: 656
          verbosity: verbose
      properties:
        properties:
          $ref: '#/components/schemas/Diagnostic_ListByService_200_response_value_inner_properties'
    Diagnostic_ListByService_200_response:
      description: Paged Diagnostic list representation.
      example:
        value:
        - properties:
            alwaysLog: allErrors
            enableHttpCorrelationHeaders: true
            httpCorrelationProtocol: None
            sampling:
              samplingType: fixed
              percentage: 60.27456183070403
            backend:
              request:
                headers:
                - headers
                - headers
                body:
                  bytes: 656
              response:
                headers:
                - headers
                - headers
                body:
                  bytes: 656
            loggerId: loggerId
            frontend:
              request:
                headers:
                - headers
                - headers
                body:
                  bytes: 656
              response:
                headers:
                - headers
                - headers
                body:
                  bytes: 656
            verbosity: verbose
        - properties:
            alwaysLog: allErrors
            enableHttpCorrelationHeaders: true
            httpCorrelationProtocol: None
            sampling:
              samplingType: fixed
              percentage: 60.27456183070403
            backend:
              request:
                headers:
                - headers
                - headers
                body:
                  bytes: 656
              response:
                headers:
                - headers
                - headers
                body:
                  bytes: 656
            loggerId: loggerId
            frontend:
              request:
                headers:
                - headers
                - headers
                body:
                  bytes: 656
              response:
                headers:
                - headers
                - headers
                body:
                  bytes: 656
            verbosity: verbose
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/Diagnostic_ListByService_200_response_value_inner'
          type: array
      type: object
    Diagnostic_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    Diagnostic_ListByService_200_response_value_inner_properties_backend_request_body:
      description: Body logging settings.
      example:
        bytes: 656
      properties:
        bytes:
          description: Number of request body bytes to log.
          format: int32
          maximum: 8192
          type: integer
      type: object
    Diagnostic_ListByService_200_response_value_inner_properties_sampling:
      description: Sampling settings for Diagnostic.
      example:
        samplingType: fixed
        percentage: 60.27456183070403
      properties:
        percentage:
          description: Rate of sampling for fixed-rate sampling.
          format: double
          maximum: 100
          minimum: 0
          type: number
        samplingType:
          description: Sampling type.
          enum:
          - fixed
          type: string
          x-ms-enum:
            modelAsString: true
            name: SamplingType
            values:
            - description: Fixed-rate sampling.
              value: fixed
      type: object
    Diagnostic_ListByService_200_response_value_inner_properties:
      description: Diagnostic Entity Properties
      example:
        alwaysLog: allErrors
        enableHttpCorrelationHeaders: true
        httpCorrelationProtocol: None
        sampling:
          samplingType: fixed
          percentage: 60.27456183070403
        backend:
          request:
            headers:
            - headers
            - headers
            body:
              bytes: 656
          response:
            headers:
            - headers
            - headers
            body:
              bytes: 656
        loggerId: loggerId
        frontend:
          request:
            headers:
            - headers
            - headers
            body:
              bytes: 656
          response:
            headers:
            - headers
            - headers
            body:
              bytes: 656
        verbosity: verbose
      properties:
        alwaysLog:
          description: Specifies for what type of messages sampling settings should
            not apply.
          enum:
          - allErrors
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlwaysLog
            values:
            - description: Always log all erroneous request regardless of sampling
                settings.
              value: allErrors
        backend:
          $ref: '#/components/schemas/Diagnostic_ListByService_200_response_value_inner_properties_backend'
        enableHttpCorrelationHeaders:
          description: Whether to process Correlation Headers coming to Api Management
            Service. Only applicable to Application Insights diagnostics. Default
            is true.
          type: boolean
        frontend:
          $ref: '#/components/schemas/Diagnostic_ListByService_200_response_value_inner_properties_backend'
        httpCorrelationProtocol:
          description: Sets correlation protocol to use for Application Insights diagnostics.
          enum:
          - None
          - Legacy
          - W3C
          type: string
          x-ms-enum:
            modelAsString: true
            name: HttpCorrelationProtocol
            values:
            - description: Do not read and inject correlation headers.
              value: None
            - description: Inject Request-Id and Request-Context headers with request
                correlation data. See https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/HttpCorrelationProtocol.md.
              value: Legacy
            - description: Inject Trace Context headers. See https://w3c.github.io/trace-context.
              value: W3C
        loggerId:
          description: Resource Id of a target logger.
          type: string
        sampling:
          $ref: '#/components/schemas/Diagnostic_ListByService_200_response_value_inner_properties_sampling'
        verbosity:
          description: The verbosity level applied to traces emitted by trace policies.
          enum:
          - verbose
          - information
          - error
          type: string
          x-ms-enum:
            modelAsString: true
            name: Verbosity
            values:
            - description: All the traces emitted by trace policies will be sent to
                the logger attached to this diagnostic instance.
              value: verbose
            - description: Traces with 'severity' set to 'information' and 'error'
                will be sent to the logger attached to this diagnostic instance.
              value: information
            - description: Only traces with 'severity' set to 'error' will be sent
                to the logger attached to this diagnostic instance.
              value: error
      required:
      - loggerId
      type: object
    Diagnostic_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Diagnostic_ListByService_default_response_error'
      type: object
    Diagnostic_ListByService_200_response_value_inner:
      description: Diagnostic details.
      example:
        properties:
          alwaysLog: allErrors
          enableHttpCorrelationHeaders: true
          httpCorrelationProtocol: None
          sampling:
            samplingType: fixed
            percentage: 60.27456183070403
          backend:
            request:
              headers:
              - headers
              - headers
              body:
                bytes: 656
            response:
              headers:
              - headers
              - headers
              body:
                bytes: 656
          loggerId: loggerId
          frontend:
            request:
              headers:
              - headers
              - headers
              body:
                bytes: 656
            response:
              headers:
              - headers
              - headers
              body:
                bytes: 656
          verbosity: verbose
      properties:
        properties:
          $ref: '#/components/schemas/Diagnostic_ListByService_200_response_value_inner_properties'
      type: object
    Diagnostic_ListByService_200_response_value_inner_properties_backend:
      description: Diagnostic settings for incoming/outgoing HTTP messages to the
        Gateway.
      example:
        request:
          headers:
          - headers
          - headers
          body:
            bytes: 656
        response:
          headers:
          - headers
          - headers
          body:
            bytes: 656
      properties:
        request:
          $ref: '#/components/schemas/Diagnostic_ListByService_200_response_value_inner_properties_backend_request'
        response:
          $ref: '#/components/schemas/Diagnostic_ListByService_200_response_value_inner_properties_backend_request'
      type: object
    Diagnostic_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Diagnostic_ListByService_default_response_error_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    Diagnostic_ListByService_200_response_value_inner_properties_backend_request:
      description: Http message diagnostic settings.
      example:
        headers:
        - headers
        - headers
        body:
          bytes: 656
      properties:
        body:
          $ref: '#/components/schemas/Diagnostic_ListByService_200_response_value_inner_properties_backend_request_body'
        headers:
          description: Array of HTTP Headers to log.
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

