openapi: 3.0.1
info:
  description: Azure Service Fabric Resource Provider API Client
  title: ServiceFabricManagementClient
  version: 2019-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2019-06-01-preview/cluster.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: servicefabric-cluster
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ServiceFabric/operations:
    get:
      description: Get the list of available Service Fabric resource provider API
        operations.
      operationId: Operations_List
      parameters:
      - description: The version of the Service Fabric resource provider API
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response describing why the operation failed.
      summary: Lists all of the available Service Fabric resource provider API operations.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusters:
    get:
      description: Gets all Service Fabric cluster resources created or in the process
        of being created in the subscription.
      operationId: Clusters_List
      parameters:
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-06-01-preview" for
          this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-06-01-preview
          enum:
          - 2019-06-01-preview
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Gets the list of Service Fabric cluster resources created in the specified
        subscription.
      tags:
      - Cluster
      x-ms-examples:
        List clusters:
          parameters:
            api-version: 2019-06-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - etag: W/"636462502169240745"
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                  location: eastus
                  name: myCluster
                  properties:
                    addOnFeatures:
                    - RepairManager
                    - DnsService
                    - BackupRestoreService
                    - ResourceMonitorService
                    availableClusterVersions:
                    - codeVersion: 6.1.480.9494
                      environment: Windows
                      supportExpiryUtc: 2018-06-15T23:59:59.9999999
                    azureActiveDirectory:
                      clientApplication: d151ad89-4bce-4ae8-b3d1-1dc79679fa75
                      clusterApplication: 5886372e-7bf4-4878-a497-8098aba608ae
                      tenantId: 6abcc6a0-8666-43f1-87b8-172cf86a9f9c
                    certificateCommonNames:
                      commonNames:
                      - certificateCommonName: abc.com
                        certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                      x509StoreName: My
                    clientCertificateCommonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      isAdmin: true
                    clientCertificateThumbprints:
                    - certificateThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      isAdmin: false
                    clusterCodeVersion: 6.1.480.9494
                    clusterEndpoint: https://eastus.servicefabric.azure.com
                    clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                    clusterState: WaitingForNodes
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://diag.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://diag.queue.core.windows.net/
                      storageAccountName: diag
                      tableEndpoint: https://diag.table.core.windows.net/
                    fabricSettings:
                    - name: UpgradeService
                      parameters:
                      - name: AppPollIntervalInSeconds
                        value: "60"
                    managementEndpoint: https://myCluster.eastus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 64000
                        startPort: 49000
                      httpGatewayEndpointPort: 19007
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    reverseProxyCertificateCommonNames:
                      commonNames:
                      - certificateCommonName: abc.com
                        certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                      x509StoreName: My
                    upgradeDescription:
                      deltaHealthPolicy:
                        applicationDeltaHealthPolicies:
                          fabric:/myApp1:
                            defaultServiceTypeDeltaHealthPolicy:
                              maxPercentDeltaUnhealthyServices: 0
                            serviceTypeDeltaHealthPolicies:
                              myServiceType1:
                                maxPercentDeltaUnhealthyServices: 0
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: false
                      healthCheckRetryTimeout: 00:05:00
                      healthCheckStableDuration: 00:00:30
                      healthCheckWaitDuration: 00:00:30
                      healthPolicy:
                        applicationHealthPolicies:
                          fabric:/myApp1:
                            defaultServiceTypeHealthPolicy:
                              maxPercentUnhealthyServices: 0
                            serviceTypeHealthPolicies:
                              myServiceType1:
                                maxPercentUnhealthyServices: 100
                        maxPercentUnhealthyApplications: 0
                        maxPercentUnhealthyNodes: 0
                      upgradeDomainTimeout: 00:15:00
                      upgradeReplicaSetCheckTimeout: 00:10:00
                      upgradeTimeout: 01:00:00
                    upgradeMode: Manual
                    vmImage: Windows
                  tags: {}
                  type: Microsoft.ServiceFabric/clusters
                - etag: W/"636462502164040075"
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster2
                  location: eastus
                  name: myCluster2
                  properties:
                    addOnFeatures:
                    - RepairManager
                    availableClusterVersions:
                    - codeVersion: 6.1.187.1
                      environment: Linux
                      supportExpiryUtc: 2018-06-15T23:59:59.9999999
                    clientCertificateCommonNames: []
                    clientCertificateThumbprints: []
                    clusterCodeVersion: 6.1.187.1
                    clusterEndpoint: https://eastus.servicefabric.azure.com
                    clusterId: 2747e469-b24e-4039-8a0a-46151419523f
                    clusterState: WaitingForNodes
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://diag.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://diag.queue.core.windows.net/
                      storageAccountName: diag
                      tableEndpoint: https://diag.table.core.windows.net/
                    fabricSettings:
                    - name: UpgradeService
                      parameters:
                      - name: AppPollIntervalInSeconds
                        value: "60"
                    managementEndpoint: http://myCluster2.eastus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 64000
                        startPort: 49000
                      httpGatewayEndpointPort: 19007
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    upgradeDescription:
                      deltaHealthPolicy:
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: false
                      healthCheckRetryTimeout: 00:05:00
                      healthCheckStableDuration: 00:00:30
                      healthCheckWaitDuration: 00:00:30
                      healthPolicy:
                        maxPercentUnhealthyApplications: 0
                        maxPercentUnhealthyNodes: 0
                      upgradeDomainTimeout: 00:15:00
                      upgradeReplicaSetCheckTimeout: 00:10:00
                      upgradeTimeout: 01:00:00
                    upgradeMode: Manual
                    vmImage: Ubuntu
                  tags: {}
                  type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions:
    get:
      description: Gets all available code versions for Service Fabric cluster resources
        by location.
      operationId: ClusterVersions_List
      parameters:
      - description: The location for the cluster code versions. This is different
          from cluster location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-06-01-preview" for
          this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-06-01-preview
          enum:
          - 2019-06-01-preview
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: The operation completed successfully.
      summary: Gets the list of Service Fabric cluster code versions available for
        the specified location.
      tags:
      - ClusterVersion
      x-ms-examples:
        List cluster versions:
          parameters:
            api-version: 2019-06-01-preview
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Windows/clusterVersions/6.1.480.9494
                  name: 6.1.480.9494
                  properties:
                    codeVersion: 6.1.480.9494
                    environment: Windows
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Linux/clusterVersions/6.1.187.1
                  name: 6.1.187.1
                  properties:
                    codeVersion: 6.1.187.1
                    environment: Linux
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions/{clusterVersion}:
    get:
      description: Gets information about an available Service Fabric cluster code
        version.
      operationId: ClusterVersions_Get
      parameters:
      - description: The location for the cluster code versions. This is different
          from cluster location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-06-01-preview" for
          this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-06-01-preview
          enum:
          - 2019-06-01-preview
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The cluster code version.
        in: path
        name: clusterVersion
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: The operation completed successfully.
      summary: Gets information about a Service Fabric cluster code version available
        in the specified location.
      tags:
      - ClusterVersion
      x-ms-examples:
        Get cluster version:
          parameters:
            api-version: 2019-06-01-preview
            clusterVersion: 6.1.480.9494
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Windows/clusterVersions/6.1.480.9494
                  name: 6.1.480.9494
                  properties:
                    codeVersion: 6.1.480.9494
                    environment: Windows
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions
  : get:
      description: Gets all available code versions for Service Fabric cluster resources
        by environment.
      operationId: ClusterVersions_ListByEnvironment
      parameters:
      - description: The location for the cluster code versions. This is different
          from cluster location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The operating system of the cluster. The default means all.
        in: path
        name: environment
        required: true
        schema:
          enum:
          - Windows
          - Linux
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-06-01-preview" for
          this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-06-01-preview
          enum:
          - 2019-06-01-preview
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: The operation completed successfully.
      summary: Gets the list of Service Fabric cluster code versions available for
        the specified environment.
      tags:
      - ClusterVersion
      x-ms-examples:
        List cluster versions by environment:
          parameters:
            api-version: 2019-06-01-preview
            environment: Windows
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Windows/clusterVersions/6.1.480.9494
                  name: 6.1.480.9494
                  properties:
                    codeVersion: 6.1.480.9494
                    environment: Windows
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions/{clusterVersion}
  : get:
      description: Gets information about an available Service Fabric cluster code
        version by environment.
      operationId: ClusterVersions_GetByEnvironment
      parameters:
      - description: The location for the cluster code versions. This is different
          from cluster location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The operating system of the cluster. The default means all.
        in: path
        name: environment
        required: true
        schema:
          enum:
          - Windows
          - Linux
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-06-01-preview" for
          this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-06-01-preview
          enum:
          - 2019-06-01-preview
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The cluster code version.
        in: path
        name: clusterVersion
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: The operation completed successfully.
      summary: Gets information about a Service Fabric cluster code version available
        for the specified environment.
      tags:
      - ClusterVersion
      x-ms-examples:
        Get cluster version by environment:
          parameters:
            api-version: 2019-06-01-preview
            clusterVersion: 6.1.480.9494
            environment: Windows
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Windows/clusterVersions/6.1.480.9494
                  name: 6.1.480.9494
                  properties:
                    codeVersion: 6.1.480.9494
                    environment: Windows
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}:
    delete:
      description: Delete a Service Fabric cluster resource with the specified name.
      operationId: Clusters_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-06-01-preview" for
          this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-06-01-preview
          enum:
          - 2019-06-01-preview
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: The operation completed successfully.
        "204":
          content: {}
          description: The resource was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Deletes a Service Fabric cluster resource.
      tags:
      - Cluster
      x-ms-examples:
        Delete a cluster:
          parameters:
            api-version: 2019-06-01-preview
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              headers: {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get a Service Fabric cluster resource created or in the process
        of being created in the specified resource group.
      operationId: Clusters_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-06-01-preview" for
          this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-06-01-preview
          enum:
          - 2019-06-01-preview
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Gets a Service Fabric cluster resource.
      tags:
      - Cluster
      x-ms-examples:
        Get a cluster:
          parameters:
            api-version: 2019-06-01-preview
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                etag: W/"636462502169240745"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: eastus
                name: myCluster
                properties:
                  addOnFeatures:
                  - RepairManager
                  - DnsService
                  - BackupRestoreService
                  - ResourceMonitorService
                  availableClusterVersions:
                  - codeVersion: 6.1.480.9494
                    environment: Windows
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  azureActiveDirectory:
                    clientApplication: d151ad89-4bce-4ae8-b3d1-1dc79679fa75
                    clusterApplication: 5886372e-7bf4-4878-a497-8098aba608ae
                    tenantId: 6abcc6a0-8666-43f1-87b8-172cf86a9f9c
                  certificateCommonNames:
                    commonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                    x509StoreName: My
                  clientCertificateCommonNames:
                  - certificateCommonName: abc.com
                    certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: true
                  clientCertificateThumbprints:
                  - certificateThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: true
                  clusterCodeVersion: 6.1.480.9494
                  clusterEndpoint: https://eastus.servicefabric.azure.com
                  clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                  clusterState: WaitingForNodes
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://diag.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://diag.queue.core.windows.net/
                    storageAccountName: diag
                    tableEndpoint: https://diag.table.core.windows.net/
                  fabricSettings:
                  - name: UpgradeService
                    parameters:
                    - name: AppPollIntervalInSeconds
                      value: "60"
                  managementEndpoint: https://myCluster.eastus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 64000
                      startPort: 49000
                    httpGatewayEndpointPort: 19007
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Silver
                  reverseProxyCertificateCommonNames:
                    commonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                    x509StoreName: My
                  upgradeDescription:
                    deltaHealthPolicy:
                      applicationDeltaHealthPolicies:
                        fabric:/myApp1:
                          defaultServiceTypeDeltaHealthPolicy:
                            maxPercentDeltaUnhealthyServices: 0
                          serviceTypeDeltaHealthPolicies:
                            myServiceType1:
                              maxPercentDeltaUnhealthyServices: 0
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: false
                    healthCheckRetryTimeout: 00:05:00
                    healthCheckStableDuration: 00:00:30
                    healthCheckWaitDuration: 00:00:30
                    healthPolicy:
                      applicationHealthPolicies:
                        fabric:/myApp1:
                          defaultServiceTypeHealthPolicy:
                            maxPercentUnhealthyServices: 0
                          serviceTypeHealthPolicies:
                            myServiceType1:
                              maxPercentUnhealthyServices: 100
                      maxPercentUnhealthyApplications: 0
                      maxPercentUnhealthyNodes: 0
                    upgradeDomainTimeout: 00:15:00
                    upgradeReplicaSetCheckTimeout: 00:10:00
                    upgradeTimeout: 01:00:00
                  upgradeMode: Manual
                  vmImage: Windows
                tags: {}
                type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-accepts:
      - application/json
    patch:
      description: Update the configuration of a Service Fabric cluster resource with
        the specified name.
      operationId: Clusters_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-06-01-preview" for
          this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-06-01-preview
          enum:
          - 2019-06-01-preview
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUpdateParameters'
        description: The parameters which contains the property value and property
          name which used to update the cluster configuration.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: The operation completed successfully.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: The request was accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Updates the configuration of a Service Fabric cluster resource.
      tags:
      - Cluster
      x-ms-examples:
        Patch a cluster:
          parameters:
            api-version: 2019-06-01-preview
            clusterName: myCluster
            parameters:
              properties:
                eventStoreServiceEnabled: true
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 64000
                    startPort: 49000
                  httpGatewayEndpointPort: 19007
                  isPrimary: true
                  name: nt1vm
                  vmInstanceCount: 5
                - applicationPorts:
                    endPort: 2000
                    startPort: 1000
                  clientConnectionEndpointPort: 0
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 4000
                    startPort: 3000
                  httpGatewayEndpointPort: 0
                  isPrimary: false
                  name: testnt1
                  vmInstanceCount: 3
                reliabilityLevel: Bronze
                upgradeMode: Automatic
              tags:
                a: b
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                etag: W/"636462502169240744"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: eastus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 6.1.480.9494
                    environment: Windows
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  certificateCommonNames:
                    commonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                    x509StoreName: My
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 6.1.480.9494
                  clusterEndpoint: https://eastus.servicefabric.azure.com
                  clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                  clusterState: WaitingForNodes
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://diag.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://diag.queue.core.windows.net/
                    storageAccountName: diag
                    tableEndpoint: https://diag.table.core.windows.net/
                  eventStoreServiceEnabled: true
                  fabricSettings:
                  - name: UpgradeService
                    parameters:
                    - name: AppPollIntervalInSeconds
                      value: "60"
                  managementEndpoint: http://myCluster.eastus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 64000
                      startPort: 49000
                    httpGatewayEndpointPort: 19007
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  - applicationPorts:
                      endPort: 2000
                      startPort: 1000
                    clientConnectionEndpointPort: 0
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 4000
                      startPort: 3000
                    httpGatewayEndpointPort: 0
                    isPrimary: false
                    name: testnt1
                    vmInstanceCount: 3
                  provisioningState: Succeeded
                  reliabilityLevel: Bronze
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: false
                    healthCheckRetryTimeout: 00:05:00
                    healthCheckStableDuration: 00:00:30
                    healthCheckWaitDuration: 00:00:30
                    healthPolicy:
                      maxPercentUnhealthyApplications: 0
                      maxPercentUnhealthyNodes: 0
                    upgradeDomainTimeout: 00:15:00
                    upgradeReplicaSetCheckTimeout: 00:10:00
                    upgradeTimeout: 01:00:00
                  upgradeMode: Automatic
                tags:
                  a: b
                type: Microsoft.ServiceFabric/clusters
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/1ca6e48d-70ca-4e43-b652-3b0522f64d67?api-version=2019-06-01-preview
                Retry-After: "10"
            "202":
              body:
                etag: W/"636462502169240744"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: eastus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 6.1.480.9494
                    environment: Windows
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  certificateCommonNames:
                    commonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                    x509StoreName: My
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 6.1.480.9494
                  clusterEndpoint: https://eastus.servicefabric.azure.com
                  clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                  clusterState: WaitingForNodes
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://diag.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://diag.queue.core.windows.net/
                    storageAccountName: diag
                    tableEndpoint: https://diag.table.core.windows.net/
                  eventStoreServiceEnabled: true
                  fabricSettings:
                  - name: UpgradeService
                    parameters:
                    - name: AppPollIntervalInSeconds
                      value: "60"
                  managementEndpoint: http://myCluster.eastus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 64000
                      startPort: 49000
                    httpGatewayEndpointPort: 19007
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  - applicationPorts:
                      endPort: 2000
                      startPort: 1000
                    clientConnectionEndpointPort: 0
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 4000
                      startPort: 3000
                    httpGatewayEndpointPort: 0
                    isPrimary: false
                    name: testnt1
                    vmInstanceCount: 3
                  provisioningState: Succeeded
                  reliabilityLevel: Bronze
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: false
                    healthCheckRetryTimeout: 00:05:00
                    healthCheckStableDuration: 00:00:30
                    healthCheckWaitDuration: 00:00:30
                    healthPolicy:
                      maxPercentUnhealthyApplications: 0
                      maxPercentUnhealthyNodes: 0
                    upgradeDomainTimeout: 00:15:00
                    upgradeReplicaSetCheckTimeout: 00:10:00
                    upgradeTimeout: 01:00:00
                  upgradeMode: Automatic
                tags:
                  a: b
                type: Microsoft.ServiceFabric/clusters
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/1ca6e48d-70ca-4e43-b652-3b0522f64d67?api-version=2019-06-01-preview
                Retry-After: "10"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a Service Fabric cluster resource with the specified
        name.
      operationId: Clusters_Create
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-06-01-preview" for
          this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-06-01-preview
          enum:
          - 2019-06-01-preview
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
        description: The cluster resource.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: The operation completed successfully.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: The request was accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Creates or updates a Service Fabric cluster resource.
      tags:
      - Cluster
      x-ms-examples:
        Put a cluster with maximum parameters:
          parameters:
            api-version: 2019-06-01-preview
            clusterName: myCluster
            parameters:
              id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
              location: eastus
              name: myCluster
              properties:
                addOnFeatures:
                - RepairManager
                - DnsService
                - BackupRestoreService
                - ResourceMonitorService
                azureActiveDirectory:
                  clientApplication: d151ad89-4bce-4ae8-b3d1-1dc79679fa75
                  clusterApplication: 5886372e-7bf4-4878-a497-8098aba608ae
                  tenantId: 6abcc6a0-8666-43f1-87b8-172cf86a9f9c
                certificateCommonNames:
                  commonNames:
                  - certificateCommonName: abc.com
                    certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                  x509StoreName: My
                clientCertificateCommonNames:
                - certificateCommonName: abc.com
                  certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  isAdmin: true
                clientCertificateThumbprints:
                - certificateThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  isAdmin: true
                clusterCodeVersion: 6.5.639.9590
                diagnosticsStorageAccountConfig:
                  blobEndpoint: https://diag.blob.core.windows.net/
                  protectedAccountKeyName: StorageAccountKey1
                  queueEndpoint: https://diag.queue.core.windows.net/
                  storageAccountName: diag
                  tableEndpoint: https://diag.table.core.windows.net/
                eventStoreServiceEnabled: true
                fabricSettings:
                - name: UpgradeService
                  parameters:
                  - name: AppPollIntervalInSeconds
                    value: "60"
                managementEndpoint: https://myCluster.eastus.cloudapp.azure.com:19080
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 64000
                    startPort: 49000
                  httpGatewayEndpointPort: 19007
                  isPrimary: true
                  name: nt1vm
                  vmInstanceCount: 5
                reliabilityLevel: Silver
                reverseProxyCertificateCommonNames:
                  commonNames:
                  - certificateCommonName: abc.com
                    certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                  x509StoreName: My
                upgradeDescription:
                  deltaHealthPolicy:
                    applicationDeltaHealthPolicies:
                      fabric:/myApp1:
                        defaultServiceTypeDeltaHealthPolicy:
                          maxPercentDeltaUnhealthyServices: 0
                        serviceTypeDeltaHealthPolicies:
                          myServiceType1:
                            maxPercentDeltaUnhealthyServices: 0
                    maxPercentDeltaUnhealthyApplications: 0
                    maxPercentDeltaUnhealthyNodes: 0
                    maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                  forceRestart: false
                  healthCheckRetryTimeout: 00:05:00
                  healthCheckStableDuration: 00:00:30
                  healthCheckWaitDuration: 00:00:30
                  healthPolicy:
                    applicationHealthPolicies:
                      fabric:/myApp1:
                        defaultServiceTypeHealthPolicy:
                          maxPercentUnhealthyServices: 0
                        serviceTypeHealthPolicies:
                          myServiceType1:
                            maxPercentUnhealthyServices: 100
                    maxPercentUnhealthyApplications: 0
                    maxPercentUnhealthyNodes: 0
                  upgradeDomainTimeout: 00:15:00
                  upgradeReplicaSetCheckTimeout: 00:10:00
                  upgradeTimeout: 01:00:00
                upgradeMode: Manual
                vmImage: Windows
              tags: {}
              type: Microsoft.ServiceFabric/clusters
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                etag: W/"636462502169240745"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: eastus
                name: myCluster
                properties:
                  addOnFeatures:
                  - RepairManager
                  - DnsService
                  - BackupRestoreService
                  - ResourceMonitorService
                  availableClusterVersions:
                  - codeVersion: 6.1.480.9494
                    environment: Windows
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  azureActiveDirectory:
                    clientApplication: d151ad89-4bce-4ae8-b3d1-1dc79679fa75
                    clusterApplication: 5886372e-7bf4-4878-a497-8098aba608ae
                    tenantId: 6abcc6a0-8666-43f1-87b8-172cf86a9f9c
                  certificateCommonNames:
                    commonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                    x509StoreName: My
                  clientCertificateCommonNames:
                  - certificateCommonName: abc.com
                    certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: true
                  clientCertificateThumbprints:
                  - certificateThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: false
                  clusterCodeVersion: 6.1.480.9494
                  clusterEndpoint: https://eastus.servicefabric.azure.com
                  clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                  clusterState: WaitingForNodes
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://diag.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://diag.queue.core.windows.net/
                    storageAccountName: diag
                    tableEndpoint: https://diag.table.core.windows.net/
                  eventStoreServiceEnabled: true
                  fabricSettings:
                  - name: UpgradeService
                    parameters:
                    - name: AppPollIntervalInSeconds
                      value: "60"
                  managementEndpoint: https://myCluster.eastus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 64000
                      startPort: 49000
                    httpGatewayEndpointPort: 19007
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Silver
                  reverseProxyCertificateCommonNames:
                    commonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                    x509StoreName: My
                  upgradeDescription:
                    deltaHealthPolicy:
                      applicationDeltaHealthPolicies:
                        fabric:/myApp1:
                          defaultServiceTypeDeltaHealthPolicy:
                            maxPercentDeltaUnhealthyServices: 0
                          serviceTypeDeltaHealthPolicies:
                            myServiceType1:
                              maxPercentDeltaUnhealthyServices: 0
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:05:00
                    healthCheckStableDuration: 00:00:30
                    healthCheckWaitDuration: 00:00:30
                    healthPolicy:
                      applicationHealthPolicies:
                        fabric:/myApp1:
                          defaultServiceTypeHealthPolicy:
                            maxPercentUnhealthyServices: 0
                          serviceTypeHealthPolicies:
                            myServiceType1:
                              maxPercentUnhealthyServices: 100
                      maxPercentUnhealthyApplications: 0
                      maxPercentUnhealthyNodes: 0
                    upgradeDomainTimeout: 00:15:00
                    upgradeReplicaSetCheckTimeout: 00:10:00
                    upgradeTimeout: 00:15:00
                  upgradeMode: Manual
                  vmImage: Windows
                tags: {}
                type: Microsoft.ServiceFabric/clusters
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/4b5f6709-bc12-4365-8df3-894984b2a221?api-version=2019-06-01-preview
                Retry-After: "10"
            "202":
              body:
                etag: W/"636462502169240745"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: eastus
                name: myCluster
                properties:
                  addOnFeatures:
                  - RepairManager
                  - DnsService
                  - BackupRestoreService
                  - ResourceMonitorService
                  availableClusterVersions:
                  - codeVersion: 6.1.480.9494
                    environment: Windows
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  azureActiveDirectory:
                    clientApplication: d151ad89-4bce-4ae8-b3d1-1dc79679fa75
                    clusterApplication: 5886372e-7bf4-4878-a497-8098aba608ae
                    tenantId: 6abcc6a0-8666-43f1-87b8-172cf86a9f9c
                  certificateCommonNames:
                    commonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                    x509StoreName: My
                  clientCertificateCommonNames:
                  - certificateCommonName: abc.com
                    certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: true
                  clientCertificateThumbprints:
                  - certificateThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: false
                  clusterCodeVersion: 6.1.480.9494
                  clusterEndpoint: https://eastus.servicefabric.azure.com
                  clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                  clusterState: WaitingForNodes
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://diag.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://diag.queue.core.windows.net/
                    storageAccountName: diag
                    tableEndpoint: https://diag.table.core.windows.net/
                  eventStoreServiceEnabled: true
                  fabricSettings:
                  - name: UpgradeService
                    parameters:
                    - name: AppPollIntervalInSeconds
                      value: "60"
                  managementEndpoint: https://myCluster.eastus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 64000
                      startPort: 49000
                    httpGatewayEndpointPort: 19007
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Silver
                  reverseProxyCertificateCommonNames:
                    commonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                    x509StoreName: My
                  upgradeDescription:
                    deltaHealthPolicy:
                      applicationDeltaHealthPolicies:
                        fabric:/myApp1:
                          defaultServiceTypeDeltaHealthPolicy:
                            maxPercentDeltaUnhealthyServices: 0
                          serviceTypeDeltaHealthPolicies:
                            myServiceType1:
                              maxPercentDeltaUnhealthyServices: 0
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:05:00
                    healthCheckStableDuration: 00:00:30
                    healthCheckWaitDuration: 00:00:30
                    healthPolicy:
                      applicationHealthPolicies:
                        fabric:/myApp1:
                          defaultServiceTypeHealthPolicy:
                            maxPercentUnhealthyServices: 0
                          serviceTypeHealthPolicies:
                            myServiceType1:
                              maxPercentUnhealthyServices: 100
                      maxPercentUnhealthyApplications: 0
                      maxPercentUnhealthyNodes: 0
                    upgradeDomainTimeout: 00:15:00
                    upgradeReplicaSetCheckTimeout: 00:10:00
                    upgradeTimeout: 00:15:00
                  upgradeMode: Manual
                  vmImage: Windows
                tags: {}
                type: Microsoft.ServiceFabric/clusters
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/4b5f6709-bc12-4365-8df3-894984b2a221?api-version=2019-06-01-preview
                Retry-After: "10"
        Put a cluster with minimum parameters:
          parameters:
            api-version: 2019-06-01-preview
            clusterName: myCluster
            parameters:
              id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
              location: eastus
              name: myCluster
              properties:
                diagnosticsStorageAccountConfig:
                  blobEndpoint: https://diag.blob.core.windows.net/
                  protectedAccountKeyName: StorageAccountKey1
                  queueEndpoint: https://diag.queue.core.windows.net/
                  storageAccountName: diag
                  tableEndpoint: https://diag.table.core.windows.net/
                fabricSettings:
                - name: UpgradeService
                  parameters:
                  - name: AppPollIntervalInSeconds
                    value: "60"
                managementEndpoint: http://myCluster.eastus.cloudapp.azure.com:19080
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 64000
                    startPort: 49000
                  httpGatewayEndpointPort: 19007
                  isPrimary: true
                  name: nt1vm
                  vmInstanceCount: 5
                reliabilityLevel: Silver
                upgradeMode: Automatic
              tags: {}
              type: Microsoft.ServiceFabric/clusters
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                etag: W/"636462502169240743"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: eastus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 6.1.480.9494
                    environment: Windows
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 6.1.480.9494
                  clusterEndpoint: https://eastus.servicefabric.azure.com
                  clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                  clusterState: WaitingForNodes
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://diag.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://diag.queue.core.windows.net/
                    storageAccountName: diag
                    tableEndpoint: https://diag.table.core.windows.net/
                  fabricSettings:
                  - name: UpgradeService
                    parameters:
                    - name: AppPollIntervalInSeconds
                      value: "60"
                  managementEndpoint: http://myCluster.eastus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 64000
                      startPort: 49000
                    httpGatewayEndpointPort: 19007
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: false
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                tags: {}
                type: Microsoft.ServiceFabric/clusters
              headers: {}
            "202":
              body:
                etag: W/"636462502169240743"
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: eastus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 6.1.480.9494
                    environment: Windows
                    supportExpiryUtc: 2018-06-15T23:59:59.9999999
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 6.1.480.9494
                  clusterEndpoint: https://eastus.servicefabric.azure.com
                  clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                  clusterState: WaitingForNodes
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://diag.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://diag.queue.core.windows.net/
                    storageAccountName: diag
                    tableEndpoint: https://diag.table.core.windows.net/
                  fabricSettings:
                  - name: UpgradeService
                    parameters:
                    - name: AppPollIntervalInSeconds
                      value: "60"
                  managementEndpoint: http://myCluster.eastus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 64000
                      startPort: 49000
                    httpGatewayEndpointPort: 19007
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: false
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                tags: {}
                type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters:
    get:
      description: Gets all Service Fabric cluster resources created or in the process
        of being created in the resource group.
      operationId: Clusters_ListByResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2019-06-01-preview" for
          this specification.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-06-01-preview
          enum:
          - 2019-06-01-preview
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The customer subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: The operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: The detailed error response.
      summary: Gets the list of Service Fabric cluster resources created in the specified
        resource group.
      tags:
      - Cluster
      x-ms-examples:
        List cluster by resource group:
          parameters:
            api-version: 2019-06-01-preview
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - etag: W/"636462502169240745"
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                  location: eastus
                  name: myCluster
                  properties:
                    addOnFeatures:
                    - RepairManager
                    - DnsService
                    - BackupRestoreService
                    - ResourceMonitorService
                    availableClusterVersions:
                    - codeVersion: 6.1.480.9494
                      environment: Windows
                      supportExpiryUtc: 2018-06-15T23:59:59.9999999
                    azureActiveDirectory:
                      clientApplication: d151ad89-4bce-4ae8-b3d1-1dc79679fa75
                      clusterApplication: 5886372e-7bf4-4878-a497-8098aba608ae
                      tenantId: 6abcc6a0-8666-43f1-87b8-172cf86a9f9c
                    certificateCommonNames:
                      commonNames:
                      - certificateCommonName: abc.com
                        certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                      x509StoreName: My
                    clientCertificateCommonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      isAdmin: true
                    clientCertificateThumbprints:
                    - certificateThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      isAdmin: false
                    clusterCodeVersion: 6.1.480.9494
                    clusterEndpoint: https://eastus.servicefabric.azure.com
                    clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                    clusterState: WaitingForNodes
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://diag.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://diag.queue.core.windows.net/
                      storageAccountName: diag
                      tableEndpoint: https://diag.table.core.windows.net/
                    fabricSettings:
                    - name: UpgradeService
                      parameters:
                      - name: AppPollIntervalInSeconds
                        value: "60"
                    managementEndpoint: https://myCluster.eastus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 64000
                        startPort: 49000
                      httpGatewayEndpointPort: 19007
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    reverseProxyCertificateCommonNames:
                      commonNames:
                      - certificateCommonName: abc.com
                        certificateIssuerThumbprint: 12599211F8F14C90AFA9532AD79A6F2CA1C00622
                      x509StoreName: My
                    upgradeDescription:
                      deltaHealthPolicy:
                        applicationDeltaHealthPolicies:
                          fabric:/myApp1:
                            defaultServiceTypeDeltaHealthPolicy:
                              maxPercentDeltaUnhealthyServices: 0
                            serviceTypeDeltaHealthPolicies:
                              myServiceType1:
                                maxPercentDeltaUnhealthyServices: 0
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: false
                      healthCheckRetryTimeout: 00:05:00
                      healthCheckStableDuration: 00:00:30
                      healthCheckWaitDuration: 00:00:30
                      healthPolicy:
                        applicationHealthPolicies:
                          fabric:/myApp1:
                            defaultServiceTypeHealthPolicy:
                              maxPercentUnhealthyServices: 0
                            serviceTypeHealthPolicies:
                              myServiceType1:
                                maxPercentUnhealthyServices: 100
                        maxPercentUnhealthyApplications: 0
                        maxPercentUnhealthyNodes: 0
                      upgradeDomainTimeout: 00:15:00
                      upgradeReplicaSetCheckTimeout: 00:10:00
                      upgradeTimeout: 01:00:00
                    upgradeMode: Manual
                    vmImage: Windows
                  tags: {}
                  type: Microsoft.ServiceFabric/clusters
                - etag: W/"636462502164040075"
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster2
                  location: eastus
                  name: myCluster2
                  properties:
                    addOnFeatures:
                    - RepairManager
                    availableClusterVersions:
                    - codeVersion: 6.1.187.1
                      environment: Linux
                      supportExpiryUtc: 2018-06-15T23:59:59.9999999
                    clientCertificateCommonNames: []
                    clientCertificateThumbprints: []
                    clusterCodeVersion: 6.1.187.1
                    clusterEndpoint: https://eastus.servicefabric.azure.com
                    clusterId: 2747e469-b24e-4039-8a0a-46151419523f
                    clusterState: WaitingForNodes
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://diag.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://diag.queue.core.windows.net/
                      storageAccountName: diag
                      tableEndpoint: https://diag.table.core.windows.net/
                    fabricSettings:
                    - name: UpgradeService
                      parameters:
                      - name: AppPollIntervalInSeconds
                        value: "60"
                    managementEndpoint: http://myCluster2.eastus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 64000
                        startPort: 49000
                      httpGatewayEndpointPort: 19007
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    upgradeDescription:
                      deltaHealthPolicy:
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: false
                      healthCheckRetryTimeout: 00:05:00
                      healthCheckStableDuration: 00:00:30
                      healthCheckWaitDuration: 00:00:30
                      healthPolicy:
                        maxPercentUnhealthyApplications: 0
                        maxPercentUnhealthyNodes: 0
                      upgradeDomainTimeout: 00:15:00
                      upgradeReplicaSetCheckTimeout: 00:10:00
                      upgradeTimeout: 01:00:00
                    upgradeMode: Manual
                    vmImage: Ubuntu
                  tags: {}
                  type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-accepts:
      - application/json
components:
  parameters:
    api-version:
      description: The version of the Service Fabric resource provider API. This is
        a required parameter and it's value must be "2019-06-01-preview" for this
        specification.
      in: query
      name: api-version
      required: true
      schema:
        default: 2019-06-01-preview
        enum:
        - 2019-06-01-preview
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    clusterNameParameter:
      description: The name of the cluster resource.
      in: path
      name: clusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    clusterVersion:
      description: The cluster code version.
      in: path
      name: clusterVersion
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    environment:
      description: The operating system of the cluster. The default means all.
      in: path
      name: environment
      required: true
      schema:
        enum:
        - Windows
        - Linux
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    locationForClusterCodeVersions:
      description: The location for the cluster code versions. This is different from
        cluster location.
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionId:
      description: The customer subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
  schemas:
    AddOnFeatures:
      description: Available cluster add-on features
      enum:
      - RepairManager
      - DnsService
      - BackupRestoreService
      - ResourceMonitorService
      type: string
    ApplicationDeltaHealthPolicy:
      description: |
        Defines a delta health policy used to evaluate the health of an application or one of its child entities when upgrading the cluster.
      example:
        defaultServiceTypeDeltaHealthPolicy:
          maxPercentDeltaUnhealthyServices: 70
        serviceTypeDeltaHealthPolicies:
          key:
            maxPercentDeltaUnhealthyServices: 70
      properties:
        defaultServiceTypeDeltaHealthPolicy:
          $ref: '#/components/schemas/ServiceTypeDeltaHealthPolicy'
        serviceTypeDeltaHealthPolicies:
          additionalProperties:
            $ref: '#/components/schemas/ServiceTypeDeltaHealthPolicy'
          description: |
            Defines a map that contains specific delta health policies for different service types.
            Each entry specifies as key the service type name and as value a ServiceTypeDeltaHealthPolicy used to evaluate the service health when upgrading the cluster.
            The map is empty by default.
          type: object
      type: object
    ApplicationDeltaHealthPolicyMap:
      additionalProperties:
        $ref: '#/components/schemas/ApplicationDeltaHealthPolicy'
      description: |
        Defines a map that contains specific application delta health policies for different applications.
        Each entry specifies as key the application name and as value an ApplicationDeltaHealthPolicy used to evaluate the application health when upgrading the cluster.
        The application name should include the 'fabric:' URI scheme.
        The map is empty by default.
      type: object
    ApplicationHealthPolicy:
      description: |
        Defines a health policy used to evaluate the health of an application or one of its children entities.
      example:
        defaultServiceTypeHealthPolicy:
          maxPercentUnhealthyServices: 41
        serviceTypeHealthPolicies:
          key:
            maxPercentUnhealthyServices: 41
      properties:
        defaultServiceTypeHealthPolicy:
          $ref: '#/components/schemas/ServiceTypeHealthPolicy'
        serviceTypeHealthPolicies:
          additionalProperties:
            $ref: '#/components/schemas/ServiceTypeHealthPolicy'
          description: |
            Defines a ServiceTypeHealthPolicy per service type name.

            The entries in the map replace the default service type health policy for each specified service type.
            For example, in an application that contains both a stateless gateway service type and a stateful engine service type, the health policies for the stateless and stateful services can be configured differently.
            With policy per service type, there's more granular control of the health of the service.

            If no policy is specified for a service type name, the DefaultServiceTypeHealthPolicy is used for evaluation.
          type: object
      type: object
    ApplicationHealthPolicyMap:
      additionalProperties:
        $ref: '#/components/schemas/ApplicationHealthPolicy'
      description: |
        Defines a map that contains specific application health policies for different applications.
        Each entry specifies as key the application name and as value an ApplicationHealthPolicy used to evaluate the application health.
        The application name should include the 'fabric:' URI scheme.
        The map is empty by default.
      type: object
    AvailableOperationDisplay:
      description: Operation supported by the Service Fabric resource provider
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Operation description
          type: string
        operation:
          description: The operation that can be performed.
          type: string
        provider:
          description: The name of the provider.
          type: string
        resource:
          description: The resource on which the operation is performed
          type: string
      type: object
    AzureActiveDirectory:
      description: The settings to enable AAD authentication on the cluster.
      example:
        clientApplication: clientApplication
        tenantId: tenantId
        clusterApplication: clusterApplication
      properties:
        clientApplication:
          description: Azure active directory client application id.
          type: string
        clusterApplication:
          description: Azure active directory cluster application id.
          type: string
        tenantId:
          description: Azure active directory tenant id.
          type: string
      type: object
    CertificateDescription:
      description: Describes the certificate details.
      example:
        x509StoreName: AddressBook
        thumbprint: thumbprint
        thumbprintSecondary: thumbprintSecondary
      properties:
        thumbprint:
          description: Thumbprint of the primary certificate.
          type: string
        thumbprintSecondary:
          description: Thumbprint of the secondary certificate.
          type: string
        x509StoreName:
          $ref: '#/components/schemas/StoreName'
      required:
      - thumbprint
      type: object
    ClientCertificateCommonName:
      description: Describes the client certificate details using common name.
      example:
        isAdmin: true
        certificateIssuerThumbprint: certificateIssuerThumbprint
        certificateCommonName: certificateCommonName
      properties:
        certificateCommonName:
          description: The common name of the client certificate.
          type: string
        certificateIssuerThumbprint:
          description: The issuer thumbprint of the client certificate.
          type: string
        isAdmin:
          description: Indicates if the client certificate has admin access to the
            cluster. Non admin clients can perform only read only operations on the
            cluster.
          type: boolean
      required:
      - certificateCommonName
      - certificateIssuerThumbprint
      - isAdmin
      type: object
    ClientCertificateThumbprint:
      description: Describes the client certificate details using thumbprint.
      example:
        certificateThumbprint: certificateThumbprint
        isAdmin: true
      properties:
        certificateThumbprint:
          description: The thumbprint of the client certificate.
          type: string
        isAdmin:
          description: Indicates if the client certificate has admin access to the
            cluster. Non admin clients can perform only read only operations on the
            cluster.
          type: boolean
      required:
      - certificateThumbprint
      - isAdmin
      type: object
    Cluster:
      allOf:
      - description: The cluster resource properties
        type: object
      - $ref: '#/components/schemas/Resource'
      - properties:
          properties:
            $ref: '#/components/schemas/ClusterProperties'
        type: object
      description: |
        The cluster resource
      example:
        name: name
        etag: etag
        location: location
        id: id
        type: type
        properties:
          clusterEndpoint: clusterEndpoint
          addOnFeatures:
          - RepairManager
          - RepairManager
          availableClusterVersions:
          - supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
          - supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
          certificate:
            x509StoreName: AddressBook
            thumbprint: thumbprint
            thumbprintSecondary: thumbprintSecondary
          reverseProxyCertificateCommonNames:
            x509StoreName: null
            commonNames:
            - certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
            - certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
          clusterId: clusterId
          provisioningState: Updating
          reverseProxyCertificate:
            x509StoreName: AddressBook
            thumbprint: thumbprint
            thumbprintSecondary: thumbprintSecondary
          upgradeDescription:
            healthCheckRetryTimeout: healthCheckRetryTimeout
            upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
            healthCheckWaitDuration: healthCheckWaitDuration
            forceRestart: true
            deltaHealthPolicy:
              maxPercentUpgradeDomainDeltaUnhealthyNodes: 20
              maxPercentDeltaUnhealthyApplications: 93
              applicationDeltaHealthPolicies:
                key:
                  defaultServiceTypeDeltaHealthPolicy:
                    maxPercentDeltaUnhealthyServices: 70
                  serviceTypeDeltaHealthPolicies:
                    key:
                      maxPercentDeltaUnhealthyServices: 70
              maxPercentDeltaUnhealthyNodes: 36
            healthPolicy:
              applicationHealthPolicies:
                key:
                  defaultServiceTypeHealthPolicy:
                    maxPercentUnhealthyServices: 41
                  serviceTypeHealthPolicies:
                    key:
                      maxPercentUnhealthyServices: 41
              maxPercentUnhealthyApplications: 73
              maxPercentUnhealthyNodes: 12
            healthCheckStableDuration: healthCheckStableDuration
            upgradeDomainTimeout: upgradeDomainTimeout
            upgradeTimeout: upgradeTimeout
          managementEndpoint: managementEndpoint
          vmImage: vmImage
          upgradeMode: Automatic
          eventStoreServiceEnabled: true
          azureActiveDirectory:
            clientApplication: clientApplication
            tenantId: tenantId
            clusterApplication: clusterApplication
          clientCertificateCommonNames:
          - isAdmin: true
            certificateIssuerThumbprint: certificateIssuerThumbprint
            certificateCommonName: certificateCommonName
          - isAdmin: true
            certificateIssuerThumbprint: certificateIssuerThumbprint
            certificateCommonName: certificateCommonName
          certificateCommonNames:
            x509StoreName: null
            commonNames:
            - certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
            - certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
          fabricSettings:
          - name: name
            parameters:
            - name: name
              value: value
            - name: name
              value: value
          - name: name
            parameters:
            - name: name
              value: value
            - name: name
              value: value
          nodeTypes:
          - ephemeralPorts:
              startPort: 6
              endPort: 0
            reverseProxyEndpointPort: 5
            applicationPorts:
              startPort: 6
              endPort: 0
            durabilityLevel: Bronze
            httpGatewayEndpointPort: 5
            isPrimary: true
            name: name
            capacities:
              key: capacities
            placementProperties:
              key: placementProperties
            clientConnectionEndpointPort: 1
            vmInstanceCount: 494379917
          - ephemeralPorts:
              startPort: 6
              endPort: 0
            reverseProxyEndpointPort: 5
            applicationPorts:
              startPort: 6
              endPort: 0
            durabilityLevel: Bronze
            httpGatewayEndpointPort: 5
            isPrimary: true
            name: name
            capacities:
              key: capacities
            placementProperties:
              key: placementProperties
            clientConnectionEndpointPort: 1
            vmInstanceCount: 494379917
          reliabilityLevel: None
          clusterState: WaitingForNodes
          diagnosticsStorageAccountConfig:
            protectedAccountKeyName: protectedAccountKeyName
            queueEndpoint: queueEndpoint
            storageAccountName: storageAccountName
            blobEndpoint: blobEndpoint
            tableEndpoint: tableEndpoint
            protectedAccountKeyName2: protectedAccountKeyName2
          clientCertificateThumbprints:
          - certificateThumbprint: certificateThumbprint
            isAdmin: true
          - certificateThumbprint: certificateThumbprint
            isAdmin: true
          clusterCodeVersion: clusterCodeVersion
        tags:
          key: tags
    ClusterCodeVersionsListResult:
      description: The list results of the Service Fabric runtime versions.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
        - name: name
          id: id
          type: type
          properties:
            supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          items:
            $ref: '#/components/schemas/ClusterCodeVersionsResult'
          type: array
      type: object
    ClusterCodeVersionsResult:
      description: The result of the Service Fabric runtime versions
      example:
        name: name
        id: id
        type: type
        properties:
          supportExpiryUtc: supportExpiryUtc
          environment: Windows
          codeVersion: codeVersion
      properties:
        id:
          description: The identification of the result
          type: string
        name:
          description: The name of the result
          type: string
        properties:
          $ref: '#/components/schemas/ClusterVersionDetails'
        type:
          description: The result resource type
          type: string
      type: object
    ClusterEnvironment:
      description: "Cluster operating system, the default will be Windows"
      enum:
      - Windows
      - Linux
      type: string
    ClusterHealthPolicy:
      description: |
        Defines a health policy used to evaluate the health of the cluster or of a cluster node.
      example:
        applicationHealthPolicies:
          key:
            defaultServiceTypeHealthPolicy:
              maxPercentUnhealthyServices: 41
            serviceTypeHealthPolicies:
              key:
                maxPercentUnhealthyServices: 41
        maxPercentUnhealthyApplications: 73
        maxPercentUnhealthyNodes: 12
[...]
