openapi: 3.0.1
info:
  description: Azure Application Insights workbook type.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/workbooks_API.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: applicationinsights-workbooks_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooks:
    get:
      description: Get all Workbooks defined within a specified resource group and
        category.
      operationId: Workbooks_ListByResourceGroup
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Category of workbook to return.
        in: query
        name: category
        required: true
        schema:
          enum:
          - workbook
          - TSG
          - performance
          - retention
          type: string
          x-ms-enum:
            modelAsString: true
            name: CategoryType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: CategoryType
        x-ms-parameter-location: method
      - description: Tags presents on each workbook returned.
        explode: false
        in: query
        name: tags
        schema:
          items:
            type: string
          type: array
          x-ms-parameter-location: method
        style: form
        x-ms-parameter-location: method
      - description: "Flag indicating whether or not to return the full content for\
          \ each applicable workbook. If false, only return summary content for workbooks."
        in: query
        name: canFetchContent
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbooksListResult'
          description: A list containing 0 or more workbook definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        WorkbooksList:
          parameters:
            api-version: 2015-05-01
            category: workbook
            resourceGroupName: my-resource-group
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
          responses:
            "200":
              body:
              - id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                location: westus
                name: deadb33f-8bee-4d3b-a059-9be8dac93960
                properties:
                  category: workbook
                  kind: shared
                  name: My Workbook 1
                  serializedData: "{\"verion\":\"Notebook/1.0\",\"items\":[{\"type\"\
                    :1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\\
                    r\\nWelcome to your new workbook.  This area will display text\
                    \ formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic\
                    \ analytics query to get you started. Use the `Edit` button below\
                    \ each section to configure it or add more sections.\"}\",\"halfWidth\"\
                    :null,\"conditionalVisibility\":null},{\"type\":3,\"content\"\
                    :\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName\
                    \ *\\n| summarize Count=count() by TableName\\n| render barchart\"\
                    ,\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\"\
                    :false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"\
                    isLocked\":false}"
                  userId: userId
                  version: ME
                  workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                tags: []
                type: ""
              - id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                location: westus
                name: deadb33f-8bee-4d3b-a059-9be8dac93960
                properties:
                  category: workbook
                  kind: shared
                  name: My Workbook 2
                  serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\"\
                    :1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\\
                    r\\nWelcome to your new workbook.  This area will display text\
                    \ formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic\
                    \ analytics query to get you started. Use the `Edit` button below\
                    \ each section to configure it or add more sections.\"}\",\"halfWidth\"\
                    :null,\"conditionalVisibility\":null},{\"type\":3,\"content\"\
                    :\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName\
                    \ *\\n| summarize Count=count() by TableName\\n| render barchart\"\
                    ,\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\"\
                    :false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"\
                    isLocked\":false}"
                  userId: userId
                  version: ME
                  workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                tags:
                - SampleTag01
                - SampleTag2
                type: ""
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooks/{resourceName}:
    delete:
      description: Delete a workbook.
      operationId: Workbooks_Delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "201":
          content: {}
          description: The workbook has been successfully deleted.
        "204":
          content: {}
          description: The resource doesn't exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        WorkbookDelete:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
            subscriptionId: subid
          responses:
            "201": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get a single workbook by its resourceName.
      operationId: Workbooks_Get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workbook'
          description: A workbook definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        WorkbookGet:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
          responses:
            "200":
              body:
                id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                location: westus
                name: deadb33f-8bee-4d3b-a059-9be8dac93960
                properties:
                  category: workbook
                  kind: shared
                  name: My New Workbook
                  serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\"\
                    :1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\\
                    r\\nWelcome to your new workbook.  This area will display text\
                    \ formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic\
                    \ analytics query to get you started. Use the `Edit` button below\
                    \ each section to configure it or add more sections.\"}\",\"halfWidth\"\
                    :null,\"conditionalVisibility\":null},{\"type\":3,\"content\"\
                    :\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName\
                    \ *\\n| summarize Count=count() by TableName\\n| render barchart\"\
                    ,\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\"\
                    :false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"\
                    isLocked\":false}"
                  userId: userId
                  version: ME
                  workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                tags:
                - TagSample01
                - TagSample02
                type: ""
      x-accepts:
      - application/json
    patch:
      description: Updates a workbook that has already been added.
      operationId: Workbooks_Update
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workbook'
        description: Properties that need to be specified to create a new workbook.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workbook'
          description: The workbook definition updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        WorkbookUpdate:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
            workbookProperties:
              location: west us
              name: deadb33f-8bee-4d3b-a059-9be8dac93960
              properties:
                category: workbook
                kind: shared
                name: Blah Blah Blah
                serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\"\
                  :1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\r\\\
                  nWelcome to your new workbook.  This area will display text formatted\
                  \ as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic analytics\
                  \ query to get you started. Use the `Edit` button below each section\
                  \ to configure it or add more sections.\"}\",\"halfWidth\":null,\"\
                  conditionalVisibility\":null},{\"type\":3,\"content\":\"{\"version\"\
                  :\"KqlItem/1.0\",\"query\":\"union withsource=TableName *\\n| summarize\
                  \ Count=count() by TableName\\n| render barchart\",\"showQuery\"\
                  :false,\"size\":1,\"aggregation\":0,\"showAnnotations\":false}\"\
                  ,\"halfWidth\":null,\"conditionalVisibility\":null}],\"isLocked\"\
                  :false}"
                userId: userId
                version: ME
                workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
              tags:
              - TagSample01
              - TagSample02
          responses:
            "200":
              body:
                id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                location: westus
                name: deadb33f-8bee-4d3b-a059-9be8dac93960
                properties:
                  category: workbook
                  kind: shared
                  name: Blah Blah Blah
                  serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\"\
                    :1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\\
                    r\\nWelcome to your new workbook.  This area will display text\
                    \ formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic\
                    \ analytics query to get you started. Use the `Edit` button below\
                    \ each section to configure it or add more sections.\"}\",\"halfWidth\"\
                    :null,\"conditionalVisibility\":null},{\"type\":3,\"content\"\
                    :\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName\
                    \ *\\n| summarize Count=count() by TableName\\n| render barchart\"\
                    ,\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\"\
                    :false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"\
                    isLocked\":false}"
                  userId: userId
                  version: ME
                  workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                tags:
                - TagSample01
                - TagSample02
                type: ""
      x-codegen-request-body-name: workbookProperties
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create a new workbook.
      operationId: Workbooks_CreateOrUpdate
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workbook'
        description: Properties that need to be specified to create a new workbook.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workbook'
          description: The newly created workbook.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workbook'
          description: The newly created workbook.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkbookError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        WorkbookAdd:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: deadb33f-8bee-4d3b-a059-9be8dac93960
            subscriptionId: subid
            workbookProperties:
              id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
              location: west us
              name: deadb33f-8bee-4d3b-a059-9be8dac93960
              properties:
                category: workbook
                kind: shared
                name: Blah Blah Blah
                serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\"\
                  :1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\r\\\
                  nWelcome to your new workbook.  This area will display text formatted\
                  \ as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic analytics\
                  \ query to get you started. Use the `Edit` button below each section\
                  \ to configure it or add more sections.\"}\",\"halfWidth\":null,\"\
                  conditionalVisibility\":null},{\"type\":3,\"content\":\"{\"version\"\
                  :\"KqlItem/1.0\",\"query\":\"union withsource=TableName *\\n| summarize\
                  \ Count=count() by TableName\\n| render barchart\",\"showQuery\"\
                  :false,\"size\":1,\"aggregation\":0,\"showAnnotations\":false}\"\
                  ,\"halfWidth\":null,\"conditionalVisibility\":null}],\"isLocked\"\
                  :false}"
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-00000000/resourceGroups/MyGroup/providers/Microsoft.Web/sites/MyTestApp-CodeLens
                userId: userId
                workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
              tags:
              - TagSample01
              - TagSample02
          responses:
            "200":
              body:
                id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                location: westus
                name: deadb33f-8bee-4d3b-a059-9be8dac93960
                properties:
                  category: workbook
                  kind: shared
                  name: Blah Blah Blah
                  serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\"\
                    :1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\\
                    r\\nWelcome to your new workbook.  This area will display text\
                    \ formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic\
                    \ analytics query to get you started. Use the `Edit` button below\
                    \ each section to configure it or add more sections.\"}\",\"halfWidth\"\
                    :null,\"conditionalVisibility\":null},{\"type\":3,\"content\"\
                    :\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName\
                    \ *\\n| summarize Count=count() by TableName\\n| render barchart\"\
                    ,\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\"\
                    :false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"\
                    isLocked\":false}"
                  userId: userId
                  version: ME
                  workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                tags:
                - TagSample01
                - TagSample02
                type: ""
            "201":
              body:
                id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                location: westus
                name: deadb33f-8bee-4d3b-a059-9be8dac93960
                properties:
                  category: workbook
                  kind: shared
                  name: Blah Blah Blah
                  serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\"\
                    :1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\\
                    r\\nWelcome to your new workbook.  This area will display text\
                    \ formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic\
                    \ analytics query to get you started. Use the `Edit` button below\
                    \ each section to configure it or add more sections.\"}\",\"halfWidth\"\
                    :null,\"conditionalVisibility\":null},{\"type\":3,\"content\"\
                    :\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName\
                    \ *\\n| summarize Count=count() by TableName\\n| render barchart\"\
                    ,\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\"\
                    :false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"\
                    isLocked\":false}"
                  userId: userId
                  version: ME
                  workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                tags:
                - TagSample01
                - TagSample02
                type: ""
      x-codegen-request-body-name: workbookProperties
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    CanFetchWorkbookContentParameter:
      description: "Flag indicating whether or not to return the full content for\
        \ each applicable workbook. If false, only return summary content for workbooks."
      in: query
      name: canFetchContent
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    CategoryParameter:
      description: Category of workbook to return.
      in: query
      name: category
      required: true
      schema:
        enum:
        - workbook
        - TSG
        - performance
        - retention
        type: string
        x-ms-enum:
          modelAsString: true
          name: CategoryType
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: CategoryType
      x-ms-parameter-location: method
    ResourceIdParameter:
      description: Azure Resource Id or any target workbook resource id.
      in: query
      name: resourceId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SourceIdParameter:
      description: Azure Resource Id that will fetch all linked workbooks.
      in: query
      name: sourceId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    TagsParameter:
      description: Tags presents on each workbook returned.
      explode: false
      in: query
      name: tags
      schema:
        items:
          type: string
        type: array
        x-ms-parameter-location: method
      style: form
      x-ms-parameter-location: method
    WorkbookResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ErrorFieldContract:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    LinkProperties:
      description: Contains a sourceId and workbook resource id to link two resources.
      properties:
        category:
          description: The category of workbook
          type: string
        sourceId:
          description: The source Azure resource id
          type: string
        targetId:
          description: The workbook Azure resource id
          type: string
      type: object
    Workbook:
      allOf:
      - $ref: '#/components/schemas/WorkbookResource'
      description: An Application Insights workbook definition.
      example:
        kind: user
        properties:
          serializedData: serializedData
          kind: shared
          name: name
          category: category
          timeModified: timeModified
          userId: userId
          version: version
          sourceResourceId: sourceResourceId
          workbookId: workbookId
          tags:
          - tags
          - tags
      properties:
        kind:
          description: The kind of workbook. Choices are user and shared.
          enum:
          - user
          - shared
          type: string
          x-ms-enum:
            modelAsString: true
            name: SharedTypeKind
        properties:
          $ref: '#/components/schemas/WorkbookProperties'
    WorkbookError:
      description: Error message body that will indicate why the operation failed.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/ErrorFieldContract'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    WorkbookProperties:
      description: Properties that contain a workbook.
      example:
        serializedData: serializedData
        kind: shared
        name: name
        category: category
        timeModified: timeModified
        userId: userId
        version: version
        sourceResourceId: sourceResourceId
        workbookId: workbookId
        tags:
        - tags
        - tags
      properties:
        category:
          description: "Workbook category, as defined by the user at creation time."
          type: string
        kind:
          default: shared
          description: Enum indicating if this workbook definition is owned by a specific
            user or is shared between all users with access to the Application Insights
            component.
          enum:
          - shared
          - user
          type: string
          x-ms-client-name: SharedTypeKind
          x-ms-enum:
            modelAsString: true
            name: SharedTypeKind
        name:
          description: The user-defined name of the workbook.
          type: string
        serializedData:
          description: Configuration of this particular workbook. Configuration data
            is a string containing valid JSON
          type: string
        sourceResourceId:
          description: Optional resourceId for a source resource.
          type: string
        tags:
          description: A list of 0 or more tags that are associated with this workbook
            definition
          items:
            type: string
          type: array
        timeModified:
          description: Date and time in UTC of the last modification that was made
            to this workbook definition.
          readOnly: true
          type: string
        userId:
          description: Unique user id of the specific user that owns this workbook.
          type: string
        version:
          description: This instance's version of the data model. This can change
            as new features are added that can be marked workbook.
          type: string
        workbookId:
          description: Internally assigned unique id of the workbook definition.
          type: string
      required:
      - category
      - kind
      - name
      - serializedData
      - userId
      - workbookId
      type: object
    WorkbookResource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Azure resource name
          readOnly: true
          type: string
        tags:
          description: Resource tags
          type: object
        type:
          description: Azure resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    WorkbooksListResult:
      description: Workbook list result.
      example:
        value:
        - kind: user
          properties:
            serializedData: serializedData
            kind: shared
            name: name
            category: category
            timeModified: timeModified
            userId: userId
            version: version
            sourceResourceId: sourceResourceId
            workbookId: workbookId
            tags:
            - tags
            - tags
        - kind: user
          properties:
            serializedData: serializedData
            kind: shared
            name: name
            category: category
            timeModified: timeModified
            userId: userId
            version: version
            sourceResourceId: sourceResourceId
            workbookId: workbookId
            tags:
            - tags
            - tags
      properties:
        value:
          description: An array of workbooks.
          items:
            $ref: '#/components/schemas/Workbook'
          readOnly: true
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

