openapi: 3.0.1
info:
  description: API to Add/Remove/List Guest Diagnostics Settings Association for Azure
    Resources
  title: Guest Diagnostic Settings Association
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2018-06-01-preview/guestDiagnosticSettingsAssociation_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-guestDiagnosticSettingsAssociation_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/guestDiagnosticSettingsAssociations:
    get:
      description: Get a list of all guest diagnostic settings association in a subscription.
      operationId: guest_diagnostics_settings_association_list
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationList'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the list of guest diagnostic settings
            association could not be retrieved.
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/guestDiagnosticSettingsAssociations
  : get:
      description: Get a list of all guest diagnostic settings association in a resource
        group.
      operationId: guest_diagnostics_settings_association_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationList'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the list of guest diagnostic settings
            association could not be retrieved.
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{resourceUri}/providers/microsoft.insights/guestDiagnosticSettingsAssociation/{associationName}:
    delete:
      description: Delete guest diagnostics association settings.
      operationId: guest_diagnostics_settings_association_delete
      parameters:
      - description: "The fully qualified ID of the resource, including the resource\
          \ name and resource type."
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the diagnostic settings association.
        in: path
        name: association_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The diagnostic settings association was successfully deleted.
        "204":
          content: {}
          description: The diagnostic settings association does not exist. It may
            have already been deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the diagnostic settings association could
            not be deleted.
      tags:
      - GuestDiagnosticsSettingsAssociation
      x-ms-examples:
        Create or update an guest diagnostic settings association:
          parameters:
            api-version: 2018-06-01-preview
            associationName: healthSystemMachineConfigAssociation
            resourceUri: subscriptions/8498f01b-8064-4e37-856e-318f3c6c685f/resourceGroups/healthsystem/providers/Microsoft.Compute/virtualMachines/eastussojai
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.guest_diagnostics_settings_association_controller
    get:
      description: Gets guest diagnostics association settings.
      operationId: guest_diagnostics_settings_association_get
      parameters:
      - description: "The fully qualified ID of the resource, including the resource\
          \ name and resource type."
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the diagnostic settings association.
        in: path
        name: associationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationResource'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the diagnostic settings association could
            not be retrieved.
      tags:
      - GuestDiagnosticsSettingsAssociation
      x-ms-examples:
        Create or update an guest diagnostic settings association:
          parameters:
            api-version: 2018-06-01-preview
            associationName: healthSystemMachineConfigAssociation
            resourceUri: subscriptions/8498f01b-8064-4e37-856e-318f3c6c685f/resourceGroups/healthsystem/providers/Microsoft.Compute/virtualMachines/eastussojai
          responses:
            "200":
              body:
                id: /subscriptions/8498f01b-8064-4e37-856e-318f3c6c685f/resourceGroups/healthsystem/providers/Microsoft.Compute/virtualMachines/eastussojai/providers/microsoft.insights/guestDiagnosticSettingsAssociation/healthSystemMachineConfigAssociation
                location: Global
                name: healthSystemMachineConfigAssociation
                properties:
                  guestDiagnosticSettingsName: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-Association-ResourceGroup/providers/providers/microsoft.insights/guestDiagnosticSettings/SampleDiagnosticSettingsName
                tags: {}
                type: Microsoft.Insights/GuestDiagnosticSettingsAssociation
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.guest_diagnostics_settings_association_controller
    patch:
      description: Updates an existing guestDiagnosticsSettingsAssociation Resource.
        To update other fields use the CreateOrUpdate method
      operationId: guest_diagnostics_settings_association_update
      parameters:
      - description: "The fully qualified ID of the resource, including the resource\
          \ name and resource type."
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the diagnostic settings association.
        in: path
        name: association_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationResourcePatch'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationResource'
          description: An existing guest diagnostics setting resource was successfully
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Update a service diagnostic setting:
          parameters:
            api-version: 2018-06-01-preview
            associationName: healthSystemMachineConfigAssociation
            parameters:
              properties:
                guestDiagnosticSettingsName: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-Association-ResourceGroup/providers/providers/microsoft.insights/guestDiagnosticSettings/vmSettingForSecurity
            resourceUri: subscriptions/8498f01b-8064-4e37-856e-318f3c6c685f/resourceGroups/healthsystem/providers/Microsoft.Compute/virtualMachines/eastussojai
          responses:
            "200":
              body:
                id: /subscriptions/8498f01b-8064-4e37-856e-318f3c6c685f/resourceGroups/healthsystem/providers/Microsoft.Compute/virtualMachines/eastussojai/providers/microsoft.insights/guestDiagnosticSettingsAssociation/healthSystemMachineConfigAssociation
                location: Global
                name: healthSystemMachineConfigAssociation
                properties:
                  guestDiagnosticSettingsName: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-Association-ResourceGroup/providers/providers/microsoft.insights/guestDiagnosticSettings/vmSettingForSecurity
                type: Microsoft.Insights/GuestDiagnosticSettingsAssociation
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Creates or updates guest diagnostics settings association.
      operationId: guest_diagnostics_settings_association_create_or_update
      parameters:
      - description: "The fully qualified ID of the resource, including the resource\
          \ name and resource type."
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the diagnostic settings association.
        in: path
        name: association_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationResource'
        description: The diagnostic settings association to create or update.
        required: true
        x-body-name: diagnosticSettingsAssociation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationResource'
          description: An existing guest diagnostic settings association was successfully
            updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationResource'
          description: A new guest diagnostic settings association was successfully
            created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the guest diagnostic settings association
            could not be created or updated.
      tags:
      - GuestDiagnosticsSettingsAssociation
      x-ms-examples:
        Create or update an guest diagnostic settings association:
          parameters:
            api-version: 2018-06-01-preview
            associationName: healthSystemMachineConfigAssociation
            diagnosticSettingsAssociation:
              location: Global
              properties:
                guestDiagnosticSettingsName: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-Association-ResourceGroup/providers/providers/microsoft.insights/guestDiagnosticSettings/vmSettingForSecurity
              tags: {}
            resourceUri: subscriptions/8498f01b-8064-4e37-856e-318f3c6c685f/resourceGroups/healthsystem/providers/Microsoft.Compute/virtualMachines/eastussojai
          responses:
            "200":
              body:
                id: /subscriptions/8498f01b-8064-4e37-856e-318f3c6c685f/resourceGroups/healthsystem/providers/Microsoft.Compute/virtualMachines/eastussojai/providers/microsoft.insights/guestDiagnosticSettingsAssociation/healthSystemMachineConfigAssociation
                location: Global
                name: healthSystemMachineConfigAssociation
                properties:
                  guestDiagnosticSettingsName: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-Association-ResourceGroup/providers/providers/microsoft.insights/guestDiagnosticSettings/vmSettingForSecurity
                tags: {}
                type: Microsoft.Insights/GuestDiagnosticSettingsAssociation
              headers: {}
            "201":
              body:
                id: /subscriptions/8498f01b-8064-4e37-856e-318f3c6c685f/resourceGroups/healthsystem/providers/Microsoft.Compute/virtualMachines/eastussojai/providers/microsoft.insights/guestDiagnosticSettingsAssociation/healthSystemMachineConfigAssociation
                location: Global
                name: healthSystemMachineConfigAssociation
                properties:
                  guestDiagnosticSettingsName: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-Association-ResourceGroup/providers/providers/microsoft.insights/guestDiagnosticSettings/vmSettingForSecurity
                tags: {}
                type: Microsoft.Insights/GuestDiagnosticSettingsAssociation
              headers: {}
      x-codegen-request-body-name: diagnosticSettingsAssociation
      x-openapi-router-controller: openapi_server.controllers.guest_diagnostics_settings_association_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    DiagnosticSettingsAssociationNameParameter:
      description: The name of the diagnostic settings association.
      in: path
      name: associationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Azure subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    GuestDiagnosticSettingsAssociation:
      description: A guest diagnostic settings association.
      example:
        guestDiagnosticSettingsName: guestDiagnosticSettingsName
      properties:
        guestDiagnosticSettingsName:
          description: The guest diagnostic settings name.
          title: guestDiagnosticSettingsName
          type: string
      required:
      - guestDiagnosticSettingsName
      title: GuestDiagnosticSettingsAssociation
      type: object
    GuestDiagnosticSettingsAssociationList:
      description: A list of guest diagnostic settings association.
      example:
        value:
        - properties:
            guestDiagnosticSettingsName: guestDiagnosticSettingsName
        - properties:
            guestDiagnosticSettingsName: guestDiagnosticSettingsName
        nextLink: nextLink
      properties:
        nextLink:
          description: Provides the link to retrieve the next set of elements.
          title: nextLink
          type: string
        value:
          description: The list of guest diagnostic settings association.
          items:
            $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationResource'
          title: value
          type: array
      title: GuestDiagnosticSettingsAssociationList
      type: object
    GuestDiagnosticSettingsAssociationResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Virtual machine guest diagnostic settings resource.
      example:
        properties:
          guestDiagnosticSettingsName: guestDiagnosticSettingsName
      properties:
        properties:
          $ref: '#/components/schemas/GuestDiagnosticSettingsAssociation'
      required:
      - properties
      title: GuestDiagnosticSettingsAssociationResource
    GuestDiagnosticSettingsAssociationResourcePatch:
      description: Guest diagnostic setting resource for patch operations
      example:
        properties:
          guestDiagnosticSettingsName: guestDiagnosticSettingsName
        tags: "{}"
      properties:
        properties:
          $ref: '#/components/schemas/GuestDiagnosticSettingsAssociation'
        tags:
          description: Resource tags
          title: tags
          type: object
      title: GuestDiagnosticSettingsAssociationResourcePatch
      type: object
    Resource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        tags:
          description: Resource tags
          title: tags
          type: object
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
