openapi: 3.0.1
info:
  description: Azure Log Analytics API reference
  title: Azure Log Analytics
  version: 2019-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/OperationalInsights.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: operationalinsights-OperationalInsights
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataExports
  : get:
      description: Lists the data export instances within a workspace.
      operationId: DataExport_ListByWorkspace
      parameters:
      - description: The workspace's resource subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The workspace's resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Log Analytics workspace name.
        in: path
        name: workspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExportListResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DataExport
      x-ms-examples:
        DataExportGet:
          parameters:
            api-version: 2019-08-01-preview
            resourceGroupName: RgTest1
            subscriptionId: 00000000-0000-0000-0000-00000000000
            workspaceName: DeWnTest1234
          responses:
            "200":
              body:
              - id: /subscriptions/00000000-0000-0000-0000-00000000000/resourcegroups/RgTest1/providers/microsoft.operationalinsights/workspaces/DeWnTest1234/export/export1
                name: export1
                properties:
                  allTables: false
                  createdDate: "Sun, 12 Jan 2020 12:51:10 GMT"
                  dataExportId: d5233afc-7829-4b89-c594-08d7975e19a5
                  destination:
                    resourceId: /subscriptions/192b9f85-a39a-4276-b96d-d5cd351703f9/resourceGroups/OIAutoRest1234/providers/Microsoft.EventHub/namespaces/test
                    type: EventHub
                  enable: true
                  lastModifiedDate: "Sun, 12 Jan 2020 12:51:10 GMT"
                  tableNames:
                  - Heartbeat
                type: Microsoft.OperationalInsights/workspaces/export
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataExports/{dataExportName}
  : delete:
      description: Deletes the specified data export in a given workspace..
      operationId: DataExport_Delete
      parameters:
      - description: The workspace's resource subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The workspace's resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Log Analytics workspace name.
        in: path
        name: workspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The data export rule name.
        in: path
        name: dataExportName
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK response definition.
        "404":
          content: {}
          description: Not found the specific data export.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DataExport
      x-ms-examples:
        DataExportDelete:
          parameters:
            api-version: 2019-08-01-preview
            dataExportName: export1
            resourceGroupName: RgTest1
            subscriptionId: 00000000-0000-0000-0000-00000000000
            workspaceName: DeWnTest1234
          responses:
            "200": {}
            "404": {}
      x-accepts:
      - application/json
    get:
      description: Gets a data export instance.
      operationId: DataExport_Get
      parameters:
      - description: The workspace's resource subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The workspace's resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Log Analytics workspace name.
        in: path
        name: workspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The data export rule name.
        in: path
        name: dataExportName
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExport'
          description: OK response definition.
        "404":
          content: {}
          description: Not found the specific data export.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DataExport
      x-ms-examples:
        DataExportGet:
          parameters:
            api-version: 2019-08-01-preview
            dataExportName: export1
            resourceGroupName: RgTest1
            subscriptionId: 00000000-0000-0000-0000-00000000000
            workspaceName: DeWnTest1234
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-00000000000/resourcegroups/RgTest1/providers/microsoft.operationalinsights/workspaces/DeWnTest1234/export/export1
                name: export1
                properties:
                  allTables: false
                  createdDate: "Sun, 12 Jan 2020 12:51:10 GMT"
                  dataExportId: d5233afc-7829-4b89-c594-08d7975e19a5
                  destination:
                    resourceId: /subscriptions/192b9f85-a39a-4276-b96d-d5cd351703f9/resourceGroups/OIAutoRest1234/providers/Microsoft.EventHub/namespaces/test
                    type: EventHub
                  enable: true
                  lastModifiedDate: "Sun, 12 Jan 2020 12:51:10 GMT"
                  tableNames:
                  - Heartbeat
                type: Microsoft.OperationalInsights/workspaces/export
            "404": {}
      x-accepts:
      - application/json
    put:
      description: Create or update a data export.
      operationId: DataExport_CreateOrUpdate
      parameters:
      - description: The workspace's resource subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The workspace's resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Log Analytics workspace name.
        in: path
        name: workspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The data export rule name.
        in: path
        name: dataExportName
        required: true
        schema:
          maxLength: 63
          minLength: 4
          pattern: "^[A-Za-z][A-Za-z0-9-]+[A-Za-z0-9]$"
          type: string
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataExport'
        description: The parameters required to create or update a data export.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExport'
          description: OK response definition.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExport'
          description: Created response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DataExport
      x-ms-examples:
        DataExportCreate:
          parameters:
            api-version: 2019-08-01-preview
            dataExportName: export1
            parameters:
              properties:
                destination:
                  resourceId: /subscriptions/192b9f85-a39a-4276-b96d-d5cd351703f9/resourceGroups/OIAutoRest1234/providers/Microsoft.EventHub/namespaces/test
                tableNames:
                - Heartbeat
            resourceGroupName: RgTest1
            subscriptionId: 00000000-0000-0000-0000-00000000000
            workspaceName: DeWnTest1234
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-00000000000/resourcegroups/RgTest1/providers/microsoft.operationalinsights/workspaces/DeWnTest1234/export/export1
                name: export1
                properties:
                  allTables: false
                  createdDate: "Sun, 12 Jan 2020 12:51:10 GMT"
                  dataExportId: d5233afc-7829-4b89-c594-08d7975e19a5
                  destination:
                    resourceId: /subscriptions/192b9f85-a39a-4276-b96d-d5cd351703f9/resourceGroups/OIAutoRest1234/providers/Microsoft.EventHub/namespaces/test
                    type: EventHub
                  enable: true
                  lastModifiedDate: "Sun, 12 Jan 2020 12:51:10 GMT"
                  tableNames:
                  - Heartbeat
                type: Microsoft.OperationalInsights/workspaces/export
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-00000000000/resourcegroups/RgTest1/providers/microsoft.operationalinsights/workspaces/DeWnTest1234/export/export1
                name: export1
                properties:
                  allTables: false
                  createdDate: "Sun, 12 Jan 2020 12:51:10 GMT"
                  dataExportId: d5233afc-7829-4b89-c594-08d7975e19a5
                  destination:
                    resourceId: /subscriptions/192b9f85-a39a-4276-b96d-d5cd351703f9/resourceGroups/OIAutoRest1234/providers/Microsoft.EventHub/namespaces/test
                    type: EventHub
                  enable: true
                  lastModifiedDate: "Sun, 12 Jan 2020 12:51:10 GMT"
                  tableNames:
                  - Heartbeat
                type: Microsoft.OperationalInsights/workspaces/export
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The workspace's resource group name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The workspace's resource subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    WorkspaceNameParameter:
      description: The Log Analytics workspace name.
      in: path
      name: workspaceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    DataExport:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: The top level data export resource container.
      example:
        properties:
          tableNames:
          - tableNames
          - tableNames
          createdDate: createdDate
          lastModifiedDate: lastModifiedDate
          dataExportId: dataExportId
          enable: true
          destination:
            metaData:
              eventHubName: eventHubName
            resourceId: resourceId
            type: StorageAccount
          allTables: true
      properties:
        properties:
          $ref: '#/components/schemas/DataExportProperties'
      x-ms-azure-resource: true
    DataExportListResult:
      description: Result of the request to list data exports.
      example:
        value:
        - properties:
            tableNames:
            - tableNames
            - tableNames
            createdDate: createdDate
            lastModifiedDate: lastModifiedDate
            dataExportId: dataExportId
            enable: true
            destination:
              metaData:
                eventHubName: eventHubName
              resourceId: resourceId
              type: StorageAccount
            allTables: true
        - properties:
            tableNames:
            - tableNames
            - tableNames
            createdDate: createdDate
            lastModifiedDate: lastModifiedDate
            dataExportId: dataExportId
            enable: true
            destination:
              metaData:
                eventHubName: eventHubName
              resourceId: resourceId
              type: StorageAccount
            allTables: true
      properties:
        value:
          description: List of data export instances within a workspace..
          items:
            $ref: '#/components/schemas/DataExport'
          type: array
      type: object
    DataExportProperties:
      description: Data Export properties.
      example:
        tableNames:
        - tableNames
        - tableNames
        createdDate: createdDate
        lastModifiedDate: lastModifiedDate
        dataExportId: dataExportId
        enable: true
        destination:
          metaData:
            eventHubName: eventHubName
          resourceId: resourceId
          type: StorageAccount
        allTables: true
      properties:
        allTables:
          description: "When ‘true’, all workspace's tables are exported."
          type: boolean
        createdDate:
          description: The latest data export rule modification time.
          type: string
        dataExportId:
          description: The data export rule ID.
          type: string
        destination:
          $ref: '#/components/schemas/Destination'
        enable:
          description: Active when enabled.
          type: boolean
        lastModifiedDate:
          description: Date and time when the export was last modified.
          type: string
        tableNames:
          description: "An array of tables to export, for example: [“Heartbeat, SecurityEvent”\
            ]."
          items:
            type: string
          type: array
      type: object
    Destination:
      description: Destination properties.
      example:
        metaData:
          eventHubName: eventHubName
        resourceId: resourceId
        type: StorageAccount
      properties:
        metaData:
          $ref: '#/components/schemas/DestinationMetaData'
        resourceId:
          description: The destination resource ID. This can be copied from the Properties
            entry of the destination resource in Azure.
          type: string
        type:
          description: The type of the destination resource
          enum:
          - StorageAccount
          - EventHub
          readOnly: true
          type: string
      required:
      - resourceId
      type: object
    DestinationMetaData:
      description: Destination meta data.
      example:
        eventHubName: eventHubName
      properties:
        eventHubName:
          description: Optional. Allows to define an Event Hub name. Not applicable
            when destination is Storage Account.
          type: string
      type: object
    ErrorDetails:
      description: The details of the error.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          type: string
        target:
          description: The target of the particular error.
          readOnly: true
          type: string
      type: object
    ErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      type: object
    ProxyResource:
      description: Common properties of proxy resource.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

