openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Search Ads 360 API allows developers to automate uploading conversions
    and downloading reports from Search Ads 360.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Search Ads 360 API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: openapi
    url: https://doubleclicksearch.googleapis.com/$discovery/rest?version=v2
    version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: doubleclicksearch
externalDocs:
  url: https://developers.google.com/search-ads
servers:
- url: https://doubleclicksearch.googleapis.com/
tags:
- name: conversion
- name: reports
- name: savedColumns
paths:
  /doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion:
    get:
      description: Retrieves a list of conversions from a DoubleClick Search engine
        account.
      operationId: doubleclicksearch_conversion_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Numeric ID of the agency.
        explode: false
        in: path
        name: agencyId
        required: true
        schema:
          type: string
        style: simple
      - description: Numeric ID of the advertiser.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      - description: Numeric ID of the engine account.
        explode: false
        in: path
        name: engineAccountId
        required: true
        schema:
          type: string
        style: simple
      - description: Last date (inclusive) on which to retrieve conversions. Format
          is yyyymmdd.
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          maximum: 99991231
          minimum: 20091101
          type: integer
        style: form
      - description: The number of conversions to return per call.
        explode: true
        in: query
        name: rowCount
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: First date (inclusive) on which to retrieve conversions. Format
          is yyyymmdd.
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          maximum: 99991231
          minimum: 20091101
          type: integer
        style: form
      - description: The 0-based starting index for retrieving conversions results.
        explode: true
        in: query
        name: startRow
        required: true
        schema:
          type: integer
        style: form
      - description: Numeric ID of the ad group.
        explode: true
        in: query
        name: adGroupId
        required: false
        schema:
          type: string
        style: form
      - description: Numeric ID of the ad.
        explode: true
        in: query
        name: adId
        required: false
        schema:
          type: string
        style: form
      - description: Numeric ID of the campaign.
        explode: true
        in: query
        name: campaignId
        required: false
        schema:
          type: string
        style: form
      - description: Numeric ID of the criterion.
        explode: true
        in: query
        name: criterionId
        required: false
        schema:
          type: string
        style: form
      - description: Customer ID of a client account in the new Search Ads 360 experience.
        explode: true
        in: query
        name: customerId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - conversion
      x-openapi-router-controller: openapi_server.controllers.conversion_controller
  /doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping:
    get:
      description: "Downloads a csv file(encoded in UTF-8) that contains ID mappings\
        \ between legacy SA360 and new SA360. The file includes all children entities\
        \ of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.)\
        \ that exist in both legacy SA360 and new SA360."
      operationId: doubleclicksearch_reports_get_id_mapping_file
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Legacy SA360 agency ID.
        explode: false
        in: path
        name: agencyId
        required: true
        schema:
          type: string
        style: simple
      - description: Legacy SA360 advertiser ID.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdMappingFile'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns:
    get:
      description: Retrieve the list of saved columns for a specified advertiser.
      operationId: doubleclicksearch_saved_columns_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: DS ID of the agency.
        explode: false
        in: path
        name: agencyId
        required: true
        schema:
          type: string
        style: simple
      - description: DS ID of the advertiser.
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedColumnList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - savedColumns
      x-openapi-router-controller: openapi_server.controllers.saved_columns_controller
  /doubleclicksearch/v2/conversion:
    post:
      description: Inserts a batch of new conversions into DoubleClick Search.
      operationId: doubleclicksearch_conversion_insert
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionList'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - conversion
      x-openapi-router-controller: openapi_server.controllers.conversion_controller
      x-codegen-request-body-name: body
    put:
      description: Updates a batch of conversions in DoubleClick Search.
      operationId: doubleclicksearch_conversion_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionList'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - conversion
      x-openapi-router-controller: openapi_server.controllers.conversion_controller
      x-codegen-request-body-name: body
  /doubleclicksearch/v2/conversion/updateAvailability:
    post:
      description: Updates the availabilities of a batch of floodlight activities
        in DoubleClick Search.
      operationId: doubleclicksearch_conversion_update_availability
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAvailabilityRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAvailabilityResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - conversion
      x-openapi-router-controller: openapi_server.controllers.conversion_controller
      x-codegen-request-body-name: body
  /doubleclicksearch/v2/customer/{customerId}/conversion:
    get:
      description: Retrieves a list of conversions from a DoubleClick Search engine
        account.
      operationId: doubleclicksearch_conversion_get_by_customer_id
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Customer ID of a client account in the new Search Ads 360 experience.
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: Last date (inclusive) on which to retrieve conversions. Format
          is yyyymmdd.
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          maximum: 99991231
          minimum: 20091101
          type: integer
        style: form
      - description: The number of conversions to return per call.
        explode: true
        in: query
        name: rowCount
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: First date (inclusive) on which to retrieve conversions. Format
          is yyyymmdd.
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          maximum: 99991231
          minimum: 20091101
          type: integer
        style: form
      - description: The 0-based starting index for retrieving conversions results.
        explode: true
        in: query
        name: startRow
        required: true
        schema:
          type: integer
        style: form
      - description: Numeric ID of the ad group.
        explode: true
        in: query
        name: adGroupId
        required: false
        schema:
          type: string
        style: form
      - description: Numeric ID of the ad.
        explode: true
        in: query
        name: adId
        required: false
        schema:
          type: string
        style: form
      - description: Numeric ID of the advertiser.
        explode: true
        in: query
        name: advertiserId
        required: false
        schema:
          type: string
        style: form
      - description: Numeric ID of the agency.
        explode: true
        in: query
        name: agencyId
        required: false
        schema:
          type: string
        style: form
      - description: Numeric ID of the campaign.
        explode: true
        in: query
        name: campaignId
        required: false
        schema:
          type: string
        style: form
      - description: Numeric ID of the criterion.
        explode: true
        in: query
        name: criterionId
        required: false
        schema:
          type: string
        style: form
      - description: Numeric ID of the engine account.
        explode: true
        in: query
        name: engineAccountId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - conversion
      x-openapi-router-controller: openapi_server.controllers.conversion_controller
  /doubleclicksearch/v2/reports:
    post:
      description: Inserts a report request into the reporting system.
      operationId: doubleclicksearch_reports_request
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
      x-codegen-request-body-name: body
  /doubleclicksearch/v2/reports/generate:
    post:
      description: Generates and returns a report immediately.
      operationId: doubleclicksearch_reports_generate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
      x-codegen-request-body-name: body
  /doubleclicksearch/v2/reports/{reportId}:
    get:
      description: Polls for the status of a report request.
      operationId: doubleclicksearch_reports_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: ID of the report request being polled.
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}:
    get:
      description: Downloads a report file encoded in UTF-8.
      operationId: doubleclicksearch_reports_get_file
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: ID of the report.
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      - description: The index of the report fragment to download.
        explode: false
        in: path
        name: reportFragment
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Availability:
      description: A message containing availability data relevant to DoubleClick
        Search.
      example:
        availabilityTimestamp: availabilityTimestamp
        customerId: customerId
        segmentationType: segmentationType
        agencyId: agencyId
        segmentationName: segmentationName
        segmentationId: segmentationId
        advertiserId: advertiserId
      properties:
        advertiserId:
          description: DS advertiser ID.
          format: int64
          title: advertiserId
          type: string
        agencyId:
          description: DS agency ID.
          format: int64
          title: agencyId
          type: string
        availabilityTimestamp:
          description: "The time by which all conversions have been uploaded, in epoch\
            \ millis UTC."
          format: int64
          title: availabilityTimestamp
          type: string
        customerId:
          description: Customer ID of a client account in the new Search Ads 360 experience.
          title: customerId
          type: string
        segmentationId:
          description: "The numeric segmentation identifier (for example, DoubleClick\
            \ Search Floodlight activity ID)."
          format: int64
          title: segmentationId
          type: string
        segmentationName:
          description: "The friendly segmentation identifier (for example, DoubleClick\
            \ Search Floodlight activity name)."
          title: segmentationName
          type: string
        segmentationType:
          description: The segmentation type that this availability is for (its default
            value is `FLOODLIGHT`).
          title: segmentationType
          type: string
      title: Availability
      type: object
    Conversion:
      description: A conversion containing data relevant to DoubleClick Search.
      example:
        inventoryAccountId: inventoryAccountId
        criterionId: criterionId
        channel: channel
        productGroupId: productGroupId
        clickId: clickId
        agencyId: agencyId
        floodlightOrderId: floodlightOrderId
        customMetric:
        - name: name
          value: 0.8008281904610115
        - name: name
          value: 0.8008281904610115
        segmentationName: segmentationName
        type: type
        adGroupId: adGroupId
        adUserDataConsent: UNKNOWN
        dsConversionId: dsConversionId
        customerId: customerId
        conversionModifiedTimestamp: conversionModifiedTimestamp
        customDimension:
        - name: name
          value: value
        - name: name
          value: value
        state: state
        conversionId: conversionId
        segmentationId: segmentationId
        quantityMillis: quantityMillis
        deviceType: deviceType
        productId: productId
        campaignId: campaignId
        storeId: storeId
        advertiserId: advertiserId
        attributionModel: attributionModel
        adId: adId
        productLanguage: productLanguage
        countMillis: countMillis
        segmentationType: segmentationType
        engineAccountId: engineAccountId
        productCountry: productCountry
        currencyCode: currencyCode
        revenueMicros: revenueMicros
        conversionTimestamp: conversionTimestamp
      properties:
        adGroupId:
          description: DS ad group ID.
          format: int64
          title: adGroupId
          type: string
        adId:
          description: DS ad ID.
          format: int64
          title: adId
          type: string
        adUserDataConsent:
          description: "Represents consent for core platform services (CPS) preferences\
            \ in settings. No default value. Acceptable values are: GRANTED: The desired\
            \ consent status is to grant. Read the CPS preferences from GTE settings.\
            \ DENIED: The desired consent status is to deny; CPS list is empty."
          enum:
          - UNKNOWN
          - GRANTED
          - DENIED
          title: adUserDataConsent
          type: string
        advertiserId:
          description: DS advertiser ID.
          format: int64
          title: advertiserId
          type: string
        agencyId:
          description: DS agency ID.
          format: int64
          title: agencyId
          type: string
        attributionModel:
          description: Available to advertisers only after contacting DoubleClick
            Search customer support.
          title: attributionModel
          type: string
        campaignId:
          description: DS campaign ID.
          format: int64
          title: campaignId
          type: string
        channel:
          description: "Sales channel for the product. Acceptable values are: - \"\
            `local`\": a physical store - \"`online`\": an online store "
          title: channel
          type: string
        clickId:
          description: DS click ID for the conversion.
          title: clickId
          type: string
        conversionId:
          description: "For offline conversions, advertisers provide this ID. Advertisers\
            \ can specify any ID that is meaningful to them. Each conversion in a\
            \ request must specify a unique ID, and the combination of ID and timestamp\
            \ must be unique amongst all conversions within the advertiser. For online\
            \ conversions, DS copies the `dsConversionId` or `floodlightOrderId` into\
            \ this property depending on the advertiser's Floodlight instructions."
          title: conversionId
          type: string
        conversionModifiedTimestamp:
          description: "The time at which the conversion was last modified, in epoch\
            \ millis UTC."
          format: int64
          title: conversionModifiedTimestamp
          type: string
        conversionTimestamp:
          description: "The time at which the conversion took place, in epoch millis\
            \ UTC."
          title: conversionTimestamp
          type: string
        countMillis:
          description: Available to advertisers only after contacting DoubleClick
            Search customer support.
          format: int64
          title: countMillis
          type: string
        criterionId:
          description: DS criterion (keyword) ID.
          format: int64
          title: criterionId
          type: string
        currencyCode:
          description: The currency code for the conversion's revenue. Should be in
            ISO 4217 alphabetic (3-char) format.
          title: currencyCode
          type: string
        customDimension:
          description: "Custom dimensions for the conversion, which can be used to\
            \ filter data in a report."
          items:
            $ref: '#/components/schemas/CustomDimension'
          title: customDimension
          type: array
        customMetric:
          description: Custom metrics for the conversion.
          items:
            $ref: '#/components/schemas/CustomMetric'
          title: customMetric
          type: array
        customerId:
          description: Customer ID of a client account in the new Search Ads 360 experience.
          title: customerId
          type: string
        deviceType:
          description: The type of device on which the conversion occurred.
          title: deviceType
          type: string
        dsConversionId:
          description: ID that DoubleClick Search generates for each conversion.
          format: int64
          title: dsConversionId
          type: string
        engineAccountId:
          description: DS engine account ID.
          format: int64
          title: engineAccountId
          type: string
        floodlightOrderId:
          description: The Floodlight order ID provided by the advertiser for the
            conversion.
          title: floodlightOrderId
          type: string
        inventoryAccountId:
          description: ID that DS generates and uses to uniquely identify the inventory
            account that contains the product.
          format: int64
          title: inventoryAccountId
          type: string
        productCountry:
          description: The country registered for the Merchant Center feed that contains
            the product. Use an ISO 3166 code to specify a country.
          title: productCountry
          type: string
        productGroupId:
          description: DS product group ID.
          format: int64
          title: productGroupId
          type: string
        productId:
          description: The product ID (SKU).
          title: productId
          type: string
        productLanguage:
          description: The language registered for the Merchant Center feed that contains
            the product. Use an ISO 639 code to specify a language.
          title: productLanguage
          type: string
        quantityMillis:
          description: "The quantity of this conversion, in millis."
          format: int64
          title: quantityMillis
          type: string
        revenueMicros:
          description: "The revenue amount of this `TRANSACTION` conversion, in micros\
            \ (value multiplied by 1000000, no decimal). For example, to specify a\
            \ revenue value of \"10\" enter \"10000000\" (10 million) in your request."
          title: revenueMicros
          type: string
        segmentationId:
          description: "The numeric segmentation identifier (for example, DoubleClick\
            \ Search Floodlight activity ID)."
          format: int64
          title: segmentationId
          type: string
        segmentationName:
          description: "The friendly segmentation identifier (for example, DoubleClick\
            \ Search Floodlight activity name)."
          title: segmentationName
          type: string
        segmentationType:
          description: "The segmentation type of this conversion (for example, `FLOODLIGHT`)."
          title: segmentationType
          type: string
        state:
          description: "The state of the conversion, that is, either `ACTIVE` or `REMOVED`.\
            \ Note: state DELETED is deprecated."
          title: state
          type: string
        storeId:
          description: The ID of the local store for which the product was advertised.
            Applicable only when the channel is "`local`".
          title: storeId
          type: string
        type:
          description: "The type of the conversion, that is, either `ACTION` or `TRANSACTION`.\
            \ An `ACTION` conversion is an action by the user that has no monetarily\
            \ quantifiable value, while a `TRANSACTION` conversion is an action that\
            \ does have a monetarily quantifiable value. Examples are email list signups\
            \ (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
          title: type
          type: string
      title: Conversion
      type: object
    ConversionList:
      description: A list of conversions.
      example:
        kind: kind
        conversion:
        - inventoryAccountId: inventoryAccountId
          criterionId: criterionId
          channel: channel
          productGroupId: productGroupId
          clickId: clickId
          agencyId: agencyId
          floodlightOrderId: floodlightOrderId
          customMetric:
          - name: name
            value: 0.8008281904610115
          - name: name
            value: 0.8008281904610115
          segmentationName: segmentationName
          type: type
          adGroupId: adGroupId
          adUserDataConsent: UNKNOWN
          dsConversionId: dsConversionId
          customerId: customerId
          conversionModifiedTimestamp: conversionModifiedTimestamp
          customDimension:
          - name: name
            value: value
          - name: name
            value: value
          state: state
          conversionId: conversionId
          segmentationId: segmentationId
          quantityMillis: quantityMillis
          deviceType: deviceType
          productId: productId
          campaignId: campaignId
          storeId: storeId
          advertiserId: advertiserId
          attributionModel: attributionModel
          adId: adId
          productLanguage: productLanguage
          countMillis: countMillis
          segmentationType: segmentationType
          engineAccountId: engineAccountId
          productCountry: productCountry
          currencyCode: currencyCode
          revenueMicros: revenueMicros
          conversionTimestamp: conversionTimestamp
        - inventoryAccountId: inventoryAccountId
          criterionId: criterionId
          channel: channel
          productGroupId: productGroupId
          clickId: clickId
          agencyId: agencyId
          floodlightOrderId: floodlightOrderId
          customMetric:
          - name: name
            value: 0.8008281904610115
          - name: name
            value: 0.8008281904610115
          segmentationName: segmentationName
          type: type
          adGroupId: adGroupId
          adUserDataConsent: UNKNOWN
          dsConversionId: dsConversionId
          customerId: customerId
          conversionModifiedTimestamp: conversionModifiedTimestamp
          customDimension:
          - name: name
            value: value
          - name: name
            value: value
          state: state
          conversionId: conversionId
          segmentationId: segmentationId
          quantityMillis: quantityMillis
          deviceType: deviceType
          productId: productId
          campaignId: campaignId
          storeId: storeId
          advertiserId: advertiserId
          attributionModel: attributionModel
          adId: adId
          productLanguage: productLanguage
          countMillis: countMillis
          segmentationType: segmentationType
          engineAccountId: engineAccountId
          productCountry: productCountry
          currencyCode: currencyCode
          revenueMicros: revenueMicros
          conversionTimestamp: conversionTimestamp
      properties:
        conversion:
          description: The conversions being requested.
          items:
            $ref: '#/components/schemas/Conversion'
          title: conversion
          type: array
        kind:
          description: "Identifies this as a ConversionList resource. Value: the fixed\
            \ string doubleclicksearch#conversionList."
          title: kind
          type: string
      title: ConversionList
      type: object
    CustomDimension:
      description: A message containing the custom dimension.
      example:
        name: name
        value: value
      properties:
        name:
          description: Custom dimension name.
          title: name
          type: string
        value:
          description: Custom dimension value.
          title: value
          type: string
      title: CustomDimension
      type: object
    CustomMetric:
      description: A message containing the custom metric.
      example:
        name: name
        value: 0.8008281904610115
      properties:
        name:
          description: Custom metric name.
          title: name
          type: string
        value:
          description: Custom metric numeric value.
          format: double
          title: value
          type: number
      title: CustomMetric
      type: object
    IdMappingFile:
      description: File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.
      properties: {}
      type: object
    Report:
      description: "A DoubleClick Search report. This object contains the report request,\
        \ some report metadata such as currency code, and the generated report rows\
        \ or report files."
      example:
        isReportReady: true
        request:
          maxRowsPerFile: 0
          startRow: 1
          columns:
          - productReportPerspective: productReportPerspective
            savedColumnName: savedColumnName
            headerText: headerText
            endDate: endDate
            customDimensionName: customDimensionName
            groupByColumn: true
            customMetricName: customMetricName
            startDate: startDate
            columnName: columnName
            platformSource: platformSource
          - productReportPerspective: productReportPerspective
            savedColumnName: savedColumnName
            headerText: headerText
            endDate: endDate
            customDimensionName: customDimensionName
            groupByColumn: true
            customMetricName: customMetricName
            startDate: startDate
            columnName: columnName
            platformSource: platformSource
          downloadFormat: downloadFormat
          orderBy:
          - sortOrder: sortOrder
            column:
              productReportPerspective: productReportPerspective
              savedColumnName: savedColumnName
              headerText: headerText
              endDate: endDate
              customDimensionName: customDimensionName
              groupByColumn: true
              customMetricName: customMetricName
              startDate: startDate
              columnName: columnName
              platformSource: platformSource
          - sortOrder: sortOrder
            column:
              productReportPerspective: productReportPerspective
              savedColumnName: savedColumnName
              headerText: headerText
              endDate: endDate
              customDimensionName: customDimensionName
              groupByColumn: true
              customMetricName: customMetricName
              startDate: startDate
              columnName: columnName
              platformSource: platformSource
          statisticsCurrency: statisticsCurrency
          filters:
          - values:
            - ""
            - ""
            column:
              productReportPerspective: productReportPerspective
              savedColumnName: savedColumnName
              headerText: headerText
              endDate: endDate
              customDimensionName: customDimensionName
              groupByColumn: true
              customMetricName: customMetricName
              startDate: startDate
              columnName: columnName
              platformSource: platformSource
            operator: operator
          - values:
            - ""
            - ""
            column:
              productReportPerspective: productReportPerspective
              savedColumnName: savedColumnName
              headerText: headerText
              endDate: endDate
              customDimensionName: customDimensionName
              groupByColumn: true
              customMetricName: customMetricName
              startDate: startDate
              columnName: columnName
              platformSource: platformSource
            operator: operator
          reportType: reportType
          verifySingleTimeZone: true
          includeDeletedEntities: true
          rowCount: 6
          includeRemovedEntities: true
          reportScope:
            keywordId: keywordId
            adId: adId
            campaignId: campaignId
            agencyId: agencyId
            engineAccountId: engineAccountId
            adGroupId: adGroupId
            advertiserId: advertiserId
          timeRange:
            changedMetricsSinceTimestamp: changedMetricsSinceTimestamp
            endDate: endDate
            changedAttributesSinceTimestamp: changedAttributesSinceTimestamp
            startDate: startDate
        statisticsCurrencyCode: statisticsCurrencyCode
        kind: kind
        files:
        - byteCount: byteCount
          url: url
        - byteCount: byteCount
          url: url
        id: id
        rowCount: 5
        rows:
        - null
        - null
        statisticsTimeZone: statisticsTimeZone
      properties:
        files:
          description: Asynchronous report only. Contains a list of generated report
            files once the report has successfully completed.
          items:
            $ref: '#/components/schemas/Report_files_inner'
          title: files
          type: array
        id:
          description: Asynchronous report only. Id of the report.
          title: id
          type: string
        isReportReady:
          description: Asynchronous report only. True if and only if the report has
            completed successfully and the report files are ready to be downloaded.
          title: isReportReady
          type: boolean
        kind:
          description: "Identifies this as a Report resource. Value: the fixed string\
            \ `doubleclicksearch#report`."
          title: kind
          type: string
        request:
          $ref: '#/components/schemas/ReportRequest'
        rowCount:
          description: "The number of report rows generated by the report, not including\
            \ headers."
          format: int32
          title: rowCount
          type: integer
        rows:
          description: Synchronous report only. Generated report rows.
          items:
            $ref: '#/components/schemas/ReportRow'
          title: rows
          type: array
        statisticsCurrencyCode:
          description: "The currency code of all monetary values produced in the report,\
            \ including values that are set by users (e.g., keyword bid settings)\
            \ and metrics (e.g., cost and revenue). The currency code of a report\
            \ is determined by the `statisticsCurrency` field of the report request."
          title: statisticsCurrencyCode
          type: string
        statisticsTimeZone:
          description: "If all statistics of the report are sourced from the same\
            \ time zone, this would be it. Otherwise the field is unset."
          title: statisticsTimeZone
          type: string
      title: Report
      type: object
    ReportApiColumnSpec:
      description: A request object used to create a DoubleClick Search report.
      example:
        productReportPerspective: productReportPerspective
        savedColumnName: savedColumnName
        headerText: headerText
        endDate: endDate
        customDimensionName: customDimensionName
        groupByColumn: true
        customMetricName: customMetricName
        startDate: startDate
        columnName: columnName
        platformSource: platformSource
      properties:
        columnName:
          description: Name of a DoubleClick Search column to include in the report.
          title: columnName
          type: string
        customDimensionName:
          description: "Segments a report by a custom dimension. The report must be\
            \ scoped to an advertiser or lower, and the custom dimension must already\
            \ be set up in DoubleClick Search. The custom dimension name, which appears\
            \ in DoubleClick Search, is case sensitive.\\ If used in a conversion\
            \ report, returns the value of the specified custom dimension for the\
            \ given conversion, if set. This column does not segment the conversion\
            \ report."
          title: customDimensionName
          type: string
        customMetricName:
          description: "Name of a custom metric to include in the report. The report\
            \ must be scoped to an advertiser or lower, and the custom metric must\
            \ already be set up in DoubleClick Search. The custom metric name, which\
            \ appears in DoubleClick Search, is case sensitive."
          title: customMetricName
          type: string
        endDate:
          description: "Inclusive day in YYYY-MM-DD format. When provided, this overrides\
            \ the overall time range of the report for this column only. Must be provided\
            \ together with `startDate`."
          title: endDate
          type: string
        groupByColumn:
          description: Synchronous report only. Set to `true` to group by this column.
            Defaults to `false`.
          title: groupByColumn
          type: boolean
        headerText:
          description: Text used to identify this column in the report output; defaults
            to `columnName` or `savedColumnName` when not specified. This can be used
            to prevent collisions between DoubleClick Search columns and saved columns
            with the same name.
          title: headerText
          type: string
        platformSource:
          description: The platform that is used to provide data for the custom dimension.
            Acceptable values are "floodlight".
          title: platformSource
          type: string
        productReportPerspective:
          description: "Returns metrics only for a specific type of product activity.\
            \ Accepted values are: - \"`sold`\": returns metrics only for products\
            \ that were sold - \"`advertised`\": returns metrics only for products\
            \ that were advertised in a Shopping campaign, and that might or might\
            \ not have been sold "
          title: productReportPerspective
          type: string
        savedColumnName:
          description: "Name of a saved column to include in the report. The report\
            \ must be scoped at advertiser or lower, and this saved column must already\
            \ be created in the DoubleClick Search UI."
          title: savedColumnName
          type: string
        startDate:
          description: "Inclusive date in YYYY-MM-DD format. When provided, this overrides\
            \ the overall time range of the report for this column only. Must be provided\
            \ together with `endDate`."
          title: startDate
          type: string
      title: ReportApiColumnSpec
      type: object
    ReportRequest:
      description: A request object used to create a DoubleClick Search report.
      example:
        maxRowsPerFile: 0
        startRow: 1
        columns:
        - productReportPerspective: productReportPerspective
          savedColumnName: savedColumnName
          headerText: headerText
          endDate: endDate
          customDimensionName: customDimensionName
          groupByColumn: true
          customMetricName: customMetricName
          startDate: startDate
          columnName: columnName
          platformSource: platformSource
        - productReportPerspective: productReportPerspective
          savedColumnName: savedColumnName
          headerText: headerText
          endDate: endDate
          customDimensionName: customDimensionName
          groupByColumn: true
          customMetricName: customMetricName
          startDate: startDate
          columnName: columnName
          platformSource: platformSource
        downloadFormat: downloadFormat
        orderBy:
        - sortOrder: sortOrder
          column:
            productReportPerspective: productReportPerspective
            savedColumnName: savedColumnName
            headerText: headerText
            endDate: endDate
            customDimensionName: customDimensionName
            groupByColumn: true
            customMetricName: customMetricName
            startDate: startDate
            columnName: columnName
            platformSource: platformSource
        - sortOrder: sortOrder
          column:
            productReportPerspective: productReportPerspective
            savedColumnName: savedColumnName
            headerText: headerText
            endDate: endDate
            customDimensionName: customDimensionName
            groupByColumn: true
            customMetricName: customMetricName
            startDate: startDate
            columnName: columnName
            platformSource: platformSource
        statisticsCurrency: statisticsCurrency
        filters:
        - values:
          - ""
          - ""
          column:
            productReportPerspective: productReportPerspective
            savedColumnName: savedColumnName
            headerText: headerText
            endDate: endDate
            customDimensionName: customDimensionName
            groupByColumn: true
            customMetricName: customMetricName
            startDate: startDate
            columnName: columnName
            platformSource: platformSource
          operator: operator
        - values:
          - ""
          - ""
          column:
            productReportPerspective: productReportPerspective
            savedColumnName: savedColumnName
            headerText: headerText
            endDate: endDate
            customDimensionName: customDimensionName
            groupByColumn: true
            customMetricName: customMetricName
            startDate: startDate
            columnName: columnName
            platformSource: platformSource
          operator: operator
        reportType: reportType
        verifySingleTimeZone: true
        includeDeletedEntities: true
        rowCount: 6
        includeRemovedEntities: true
        reportScope:
          keywordId: keywordId
          adId: adId
          campaignId: campaignId
          agencyId: agencyId
          engineAccountId: engineAccountId
          adGroupId: adGroupId
          advertiserId: advertiserId
        timeRange:
          changedMetricsSinceTimestamp: changedMetricsSinceTimestamp
          endDate: endDate
          changedAttributesSinceTimestamp: changedAttributesSinceTimestamp
          startDate: startDate
      properties:
        columns:
          description: "The columns to include in the report. This includes both DoubleClick\
            \ Search columns and saved columns. For DoubleClick Search columns, only\
            \ the `columnName` parameter is required. For saved columns only the `savedColumnName`\
            \ parameter is required. Both `columnName` and `savedColumnName` cannot\
            \ be set in the same stanza.\\ The maximum number of columns per request\
            \ is 300."
          items:
            $ref: '#/components/schemas/ReportApiColumnSpec'
          title: columns
          type: array
        downloadFormat:
          description: Format that the report should be returned in. Currently `csv`
            or `tsv` is supported.
          title: downloadFormat
          type: string
        filters:
          description: A list of filters to be applied to the report.\ The maximum
            number of filters per request is 300.
          items:
            $ref: '#/components/schemas/ReportRequest_filters_inner'
          title: filters
          type: array
        includeDeletedEntities:
          description: "Determines if removed entities should be included in the report.\
            \ Defaults to `false`. Deprecated, please use `includeRemovedEntities`\
            \ instead."
          title: includeDeletedEntities
          type: boolean
        includeRemovedEntities:
          description: Determines if removed entities should be included in the report.
            Defaults to `false`.
          title: includeRemovedEntities
          type: boolean
        maxRowsPerFile:
          description: "Asynchronous report only. The maximum number of rows per report\
            \ file. A large report is split into many files based on this field. Acceptable\
            \ values are `1000000` to `100000000`, inclusive."
          format: int32
          title: maxRowsPerFile
          type: integer
        orderBy:
          description: Synchronous report only. A list of columns and directions defining
            sorting to be performed on the report rows.\ The maximum number of orderings
            per request is 300.
          items:
            $ref: '#/components/schemas/ReportRequest_orderBy_inner'
          title: orderBy
          type: array
        reportScope:
          $ref: '#/components/schemas/ReportRequest_reportScope'
        reportType:
          description: "Determines the type of rows that are returned in the report.\
            \ For example, if you specify `reportType: keyword`, each row in the report\
            \ will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/)\
            \ reference for the columns that are available for each type."
          title: reportType
          type: string
        rowCount:
          description: "Synchronous report only. The maximum number of rows to return;\
            \ additional rows are dropped. Acceptable values are `0` to `10000`, inclusive.\
            \ Defaults to `10000`."
          format: int32
          title: rowCount
          type: integer
        startRow:
          description: "Synchronous report only. Zero-based index of the first row\
            \ to return. Acceptable values are `0` to `50000`, inclusive. Defaults\
            \ to `0`."
          format: int32
          title: startRow
          type: integer
        statisticsCurrency:
          description: "Specifies the currency in which monetary will be returned.\
            \ Possible values are: `usd`, `agency` (valid if the report is scoped\
            \ to agency or lower), `advertiser` (valid if the report is scoped to\
            \ * advertiser or lower), or `account` (valid if the report is scoped\
            \ to engine account or lower)."
          title: statisticsCurrency
          type: string
        timeRange:
          $ref: '#/components/schemas/ReportRequest_timeRange'
        verifySingleTimeZone:
          description: "If `true`, the report would only be created if all the requested\
            \ stat data are sourced from a single timezone. Defaults to `false`."
          title: verifySingleTimeZone
          type: boolean
      title: ReportRequest
      type: object
    ReportRow:
      additionalProperties:
        description: "Indicates the columns that are represented in this row. That\
          \ is, each key corresponds to a column with a non-empty cell in this row."
      description: A row in a DoubleClick Search report.
      title: ReportRow
      type: object
    SavedColumn:
      description: A saved column
      example:
        savedColumnName: savedColumnName
        kind: kind
        type: type
      properties:
        kind:
          description: "Identifies this as a SavedColumn resource. Value: the fixed\
            \ string doubleclicksearch#savedColumn."
          title: kind
          type: string
        savedColumnName:
          description: The name of the saved column.
          title: savedColumnName
          type: string
        type:
          description: The type of data this saved column will produce.
          title: type
          type: string
      title: SavedColumn
      type: object
    SavedColumnList:
      description: "A list of saved columns. Advertisers create saved columns to report\
        \ on Floodlight activities, Google Analytics goals, or custom KPIs. To request\
        \ reports with saved columns, you'll need the saved column names that are\
        \ available from this list."
      example:
        kind: kind
        items:
        - savedColumnName: savedColumnName
          kind: kind
          type: type
        - savedColumnName: savedColumnName
          kind: kind
          type: type
      properties:
        items:
          description: The saved columns being requested.
          items:
            $ref: '#/components/schemas/SavedColumn'
          title: items
          type: array
        kind:
          description: "Identifies this as a SavedColumnList resource. Value: the\
            \ fixed string doubleclicksearch#savedColumnList."
          title: kind
          type: string
      title: SavedColumnList
      type: object
    UpdateAvailabilityRequest:
      description: The request to update availability.
      example:
        availabilities:
        - availabilityTimestamp: availabilityTimestamp
          customerId: customerId
          segmentationType: segmentationType
          agencyId: agencyId
          segmentationName: segmentationName
          segmentationId: segmentationId
          advertiserId: advertiserId
        - availabilityTimestamp: availabilityTimestamp
          customerId: customerId
          segmentationType: segmentationType
          agencyId: agencyId
          segmentationName: segmentationName
          segmentationId: segmentationId
          advertiserId: advertiserId
      properties:
        availabilities:
          description: The availabilities being requested.
          items:
            $ref: '#/components/schemas/Availability'
          title: availabilities
          type: array
      title: UpdateAvailabilityRequest
      type: object
    UpdateAvailabilityResponse:
      description: The response to a update availability request.
      example:
        availabilities:
        - availabilityTimestamp: availabilityTimestamp
          customerId: customerId
          segmentationType: segmentationType
          agencyId: agencyId
          segmentationName: segmentationName
          segmentationId: segmentationId
          advertiserId: advertiserId
        - availabilityTimestamp: availabilityTimestamp
          customerId: customerId
          segmentationType: segmentationType
          agencyId: agencyId
          segmentationName: segmentationName
          segmentationId: segmentationId
          advertiserId: advertiserId
      properties:
        availabilities:
          description: The availabilities being returned.
          items:
            $ref: '#/components/schemas/Availability'
          title: availabilities
          type: array
      title: UpdateAvailabilityResponse
      type: object
    Report_files_inner:
      example:
        byteCount: byteCount
        url: url
      properties:
        byteCount:
          description: The size of this report file in bytes.
          format: int64
          title: byteCount
          type: string
        url:
          description: Use this url to download the report file.
          title: url
          type: string
      title: Report_files_inner
      type: object
    ReportRequest_filters_inner:
      example:
        values:
        - ""
        - ""
        column:
          productReportPerspective: productReportPerspective
          savedColumnName: savedColumnName
          headerText: headerText
          endDate: endDate
          customDimensionName: customDimensionName
          groupByColumn: true
          customMetricName: customMetricName
          startDate: startDate
          columnName: columnName
          platformSource: platformSource
        operator: operator
      properties:
        column:
          $ref: '#/components/schemas/ReportApiColumnSpec'
        operator:
          description: Operator to use in the filter. See the filter reference for
            a list of available operators.
          title: operator
          type: string
        values:
          description: A list of values to filter the column value against.\ The maximum
            number of filter values per request is 300.
          items: {}
          title: values
          type: array
      title: ReportRequest_filters_inner
      type: object
    ReportRequest_orderBy_inner:
      example:
        sortOrder: sortOrder
        column:
          productReportPerspective: productReportPerspective
          savedColumnName: savedColumnName
          headerText: headerText
          endDate: endDate
          customDimensionName: customDimensionName
          groupByColumn: true
          customMetricName: customMetricName
          startDate: startDate
          columnName: columnName
          platformSource: platformSource
      properties:
        column:
          $ref: '#/components/schemas/ReportApiColumnSpec'
        sortOrder:
          description: "The sort direction, which is either `ascending` or `descending`."
          title: sortOrder
          type: string
      title: ReportRequest_orderBy_inner
      type: object
    ReportRequest_reportScope:
      description: The reportScope is a set of IDs that are used to determine which
        subset of entities will be returned in the report. The full lineage of IDs
        from the lowest scoped level desired up through agency is required.
      example:
        keywordId: keywordId
        adId: adId
        campaignId: campaignId
        agencyId: agencyId
        engineAccountId: engineAccountId
        adGroupId: adGroupId
        advertiserId: advertiserId
      properties:
        adGroupId:
          description: DS ad group ID.
          format: int64
          title: adGroupId
          type: string
        adId:
          description: DS ad ID.
          format: int64
          title: adId
          type: string
        advertiserId:
          description: DS advertiser ID.
          format: int64
          title: advertiserId
          type: string
        agencyId:
          description: DS agency ID.
          format: int64
          title: agencyId
          type: string
        campaignId:
          description: DS campaign ID.
          format: int64
          title: campaignId
          type: string
        engineAccountId:
          description: DS engine account ID.
          format: int64
          title: engineAccountId
          type: string
        keywordId:
          description: DS keyword ID.
          format: int64
          title: keywordId
          type: string
      title: ReportRequest_reportScope
      type: object
    ReportRequest_timeRange:
      description: "If metrics are requested in a report, this argument will be used\
        \ to restrict the metrics to a specific time range."
      example:
        changedMetricsSinceTimestamp: changedMetricsSinceTimestamp
        endDate: endDate
        changedAttributesSinceTimestamp: changedAttributesSinceTimestamp
        startDate: startDate
      properties:
        changedAttributesSinceTimestamp:
          description: "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`.\
            \ See additional references on how changed attribute reports work."
          title: changedAttributesSinceTimestamp
          type: string
        changedMetricsSinceTimestamp:
          description: "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`.\
            \ See additional references on how changed metrics reports work."
          title: changedMetricsSinceTimestamp
          type: string
        endDate:
          description: Inclusive date in YYYY-MM-DD format.
          title: endDate
          type: string
        startDate:
          description: Inclusive date in YYYY-MM-DD format.
          title: startDate
          type: string
      title: ReportRequest_timeRange
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/doubleclicksearch: View and manage your
              advertising data in DoubleClick Search
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/doubleclicksearch: View and manage your
              advertising data in DoubleClick Search
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
