openapi: 3.0.1
info:
  contact:
    email: team@appveyor.com
    name: AppVeyor Team
    url: https://www.appveyor.com/about/
  description: |
    AppVeyor is a hosted continuous integration service which runs on Microsoft
    Windows.  The AppVeyor REST API provides a RESTful way to interact with the
    AppVeyor service.  This includes managing projects, builds, deployments,
    and the teams that build them.

    Additional help and discussion of the AppVeyor REST API is available at
    http://help.appveyor.com/discussions

    This Swagger definition is an **unofficial** description of the AppVeyor
    REST API maintained at https://github.com/kevinoid/appveyor-swagger
    Please report any issues or suggestions for this Swagger definition at
    https://github.com/kevinoid/appveyor-swagger/issues/new

    #### API Conventions

    Fields which are missing from update operations (`PUT` requests) are
    typically reset to their default values.  So although most fields are not
    technically required, they should usually be specified in practice.
  license:
    name: AppVeyor End User License Agreement (EULA)
    url: https://www.appveyor.com/eula/
  termsOfService: https://www.appveyor.com/terms-of-service/
  title: AppVeyor REST API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://www.appveyor.com/assets/img/appveyor-logo-256.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/kevinoid/appveyor-swagger/master/swagger.yaml
    version: "2.0"
  x-providerName: appveyor.com
  x-unofficialSpec: true
externalDocs:
  description: AppVeyor REST API Documentation
  url: https://www.appveyor.com/docs/api/
servers:
- url: https://ci.appveyor.com/api
security:
- apiToken: []
tags:
- externalDocs:
    url: https://www.appveyor.com/docs/api/team/
  name: Collaborator
- externalDocs:
    url: https://www.appveyor.com/docs/api/team/
  name: Role
- externalDocs:
    url: https://www.appveyor.com/docs/api/team/
  name: User
- externalDocs:
    url: https://www.appveyor.com/docs/api/projects-builds/
  name: Build
- externalDocs:
    url: https://www.appveyor.com/docs/api/projects-builds/
  name: Project
- externalDocs:
    url: https://www.appveyor.com/docs/api/environments-deployments/
  name: Deployment
- externalDocs:
    url: https://www.appveyor.com/docs/api/environments-deployments/
  name: Environment
paths:
  /account/encrypt:
    post:
      operationId: encryptValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncryptRequest'
        required: true
      responses:
        "200":
          content:
            text/plain:
              example: wsnoY4v1v1Uofj0xf8E6FA==
              schema:
                type: string
          description: Success
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Encrypt a value for use in StoredValue.
      tags:
      - Project
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - text/plain
  /buildjobs/{jobId}/artifacts:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/samples/download-artifacts-advanced-ps/
      operationId: getBuildArtifacts
      parameters:
      - description: Build ID (`jobId` property of `BuildJob`)
        in: path
        name: jobId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - fileName: README.md
                name: README.md
                size: 3600
                type: File
              - fileName: out/example.Release.x64.zip
                name: out\example.zip
                size: 15600
                type: Zip
              schema:
                items:
                  $ref: '#/components/schemas/ArtifactModel'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ArtifactModel'
                type: array
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security: []
      summary: Get build artifacts
      tags:
      - Build
      x-accepts:
      - application/json
      - application/xml
  /buildjobs/{jobId}/artifacts/{artifactFileName}:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/samples/download-artifacts-advanced-ps/
      operationId: getBuildArtifact
      parameters:
      - description: Build ID (`jobId` property of `BuildJob`)
        in: path
        name: jobId
        required: true
        schema:
          type: string
      - description: |-
          File name (or path) of a build artifact file.
          Corresponds to the `fileName` property of `ArtifactModel`.
          URL-encoding of slashes in parameter values is optional.
        in: path
        name: artifactFileName
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success
        default:
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security: []
      summary: Download build artifact
      tags:
      - Build
      x-accepts:
      - application/octet-stream
  /buildjobs/{jobId}/log:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#download-build-log
      operationId: getBuildLog
      parameters:
      - description: Build ID (`jobId` property of `BuildJob`)
        in: path
        name: jobId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: |-
            Success.
            Note:  Response content is plain text sent with Content-Type
            application/octet-stream.
        default:
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security: []
      summary: Download build log
      tags:
      - Build
      x-accepts:
      - application/octet-stream
  /builds:
    post:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#start-build-of-branch-most-recent-commit
      operationId: startBuild
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildStartRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                authorName: Feodor Fitsner
                authorUsername: FeodorFitsner
                branch: master
                buildId: 136709
                buildNumber: 7
                commitId: c2892a70d60c96c1b65a7c665ab806b7731fea8a
                committed: 2014-08-15T22:05:54+00:00
                committerName: Feodor Fitsner
                committerUsername: FeodorFitsner
                created: 2014-08-16T00:40:38.1703914+00:00
                jobs: []
                message: "replaced with command [skip ci]"
                messages: []
                status: queued
                version: 1.0.7
              schema:
                $ref: '#/components/schemas/Build'
            application/xml:
              schema:
                $ref: '#/components/schemas/Build'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Start build of branch most recent commit
      tags:
      - Build
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
    put:
      description: "If `reRunIncomplete` is `true` and all jobs in the referenced\
        \ build completed successfully, a 500 Internal Server Error is returned with\
        \ the message \"No failed or cancelled jobs in build with ID {buildId}\"."
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#re-run-build
      operationId: reRunBuild
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReRunBuildRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                authorName: Feodor Fitsner
                authorUsername: FeodorFitsner
                branch: master
                buildId: 136709
                buildNumber: 7
                commitId: c2892a70d60c96c1b65a7c665ab806b7731fea8a
                committed: 2014-08-15T22:05:54+00:00
                committerName: Feodor Fitsner
                committerUsername: FeodorFitsner
                created: 2014-08-16T00:40:38.1703914+00:00
                jobs: []
                message: "replaced with command [skip ci]"
                messages: []
                status: queued
                version: 1.0.7
              schema:
                $ref: '#/components/schemas/Build'
            application/xml:
              schema:
                $ref: '#/components/schemas/Build'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Re-run build
      tags:
      - Build
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
  /builds/{accountName}/{projectSlug}/{buildVersion}:
    delete:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#cancel-build
      operationId: cancelBuild
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      - description: Build Version (`version` property of `Build`)
        in: path
        name: buildVersion
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Cancel build
      tags:
      - Build
      x-accepts:
      - application/json
      - application/xml
  /collaborators:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#get-collaborators
      operationId: getCollaborators
      responses:
        "200":
          content:
            application/json:
              example:
              - accountId: 2
                accountName: FeodorFitsner
                created: 2014-02-03T20:29:26.6807307+00:00
                email: john@smith.com
                failedBuildNotification: all
                fullName: John Smith
                isCollaborator: true
                isOwner: false
                notifyWhenBuildStatusChangedOnly: true
                roleId: 3040
                roleName: My Role
                successfulBuildNotification: all
                updated: 2014-03-07T04:26:09.1051534+00:00
                userId: 2018
              schema:
                items:
                  $ref: '#/components/schemas/UserAccount'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/UserAccount'
                type: array
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get collaborators
      tags:
      - Collaborator
      x-accepts:
      - application/json
      - application/xml
    put:
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#update-collaborator
      operationId: updateCollaborator
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
        required: true
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Update collaborator
      tags:
      - Collaborator
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
  /collaborators/{userId}:
    delete:
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#delete-collaborator
      operationId: deleteCollaborator
      parameters:
      - description: User ID
        in: path
        name: userId
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Delete collaborator
      tags:
      - Collaborator
      x-accepts:
      - application/json
      - application/xml
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#get-collaborator
      operationId: getCollaborator
      parameters:
      - description: User ID
        in: path
        name: userId
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                roles:
                - created: 2013-09-26T19:23:39.3615105+00:00
                  isSystem: true
                  name: Administrator
                  roleId: 4
                - created: 2013-09-26T19:23:39.3645117+00:00
                  isSystem: true
                  name: User
                  roleId: 5
                - created: 2014-03-18T20:12:08.4749886+00:00
                  isSystem: false
                  name: My Role
                  roleId: 3040
                  updated: 2014-03-18T20:16:06.8803375+00:00
                user:
                  accountId: 2
                  accountName: FeodorFitsner
                  created: 2014-02-03T20:29:26.6807307+00:00
                  email: john@smith.com
                  failedBuildNotification: all
                  fullName: John Smith
                  isCollaborator: true
                  isOwner: false
                  notifyWhenBuildStatusChangedOnly: true
                  roleId: 3040
                  roleName: My Role
                  successfulBuildNotification: all
                  updated: 2014-03-07T04:26:09.1051534+00:00
                  userId: 2018
              schema:
                $ref: '#/components/schemas/UserAccountRolesResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/UserAccountRolesResults'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get collaborator
      tags:
      - Collaborator
      x-accepts:
      - application/json
      - application/xml
  /deployments:
    post:
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#start-deployment
      operationId: startDeployment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentStartRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                build:
                  authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  branch: master
                  buildId: 132746
                  buildNumber: 38
                  commitId: c397ba5d17dd17b994375405f560e4922207da1e
                  committed: 2014-08-12T22:56:00+00:00
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  created: 2014-08-12T22:56:09.9208493+00:00
                  finished: 2014-08-12T22:58:05.7595508+00:00
                  jobs: []
                  message: Removed Start-Website
                  messages: []
                  started: 2014-08-12T22:56:25.8575967+00:00
                  status: success
                  updated: 2014-08-12T22:58:05.7595508+00:00
                  version: 1.0.38
                created: 2014-08-12T23:06:07.9009315+00:00
                deploymentId: 19475
                environment:
                  created: 2014-04-01T17:56:41.30982+00:00
                  deploymentEnvironmentId: 27
                  name: agent test
                  provider: Agent
                  updated: 2014-08-12T22:35:51.9723883+00:00
                finished: 2014-08-12T23:06:25.0502019+00:00
                jobs:
                - created: 2014-08-12T23:06:07.9009315+00:00
                  finished: 2014-08-12T23:06:24.3361102+00:00
                  jobId: jnpbcc77s4w278e4
                  messagesCount: 0
                  name: Deployment
                  started: 2014-08-12T23:06:10.8776088+00:00
                  status: success
                  updated: 2014-08-12T23:06:24.9390847+00:00
                started: 2014-08-12T23:06:10.8776088+00:00
                status: success
                updated: 2014-08-12T23:06:25.0502019+00:00
              schema:
                $ref: '#/components/schemas/Deployment'
            application/xml:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Start deployment
      tags:
      - Deployment
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
  /deployments/stop:
    put:
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#cancel-deployment
      operationId: cancelDeployment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentCancellation'
        required: true
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Cancel deployment
      tags:
      - Deployment
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
  /deployments/{deploymentId}:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#get-deployment
      operationId: getDeployment
      parameters:
      - description: Deployment ID (`deploymentId` property of `Deployment`)
        in: path
        name: deploymentId
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                deployment:
                  build:
                    authorName: Feodor Fitsner
                    authorUsername: FeodorFitsner
                    branch: master
                    buildId: 132746
                    buildNumber: 38
                    commitId: c397ba5d17dd17b994375405f560e4922207da1e
                    committed: 2014-08-12T22:56:00+00:00
                    committerName: Feodor Fitsner
                    committerUsername: FeodorFitsner
                    created: 2014-08-12T22:56:09.9208493+00:00
                    finished: 2014-08-12T22:58:05.7595508+00:00
                    jobs: []
                    message: Removed Start-Website
                    messages: []
                    started: 2014-08-12T22:56:25.8575967+00:00
                    status: success
                    updated: 2014-08-12T22:58:05.7595508+00:00
                    version: 1.0.38
                  created: 2014-08-12T23:06:07.9009315+00:00
                  deploymentId: 19475
                  environment:
                    created: 2014-04-01T17:56:41.30982+00:00
                    deploymentEnvironmentId: 27
                    name: agent test
                    provider: Agent
                    updated: 2014-08-12T22:35:51.9723883+00:00
                  finished: 2014-08-12T23:06:25.0502019+00:00
                  jobs:
                  - created: 2014-08-12T23:06:07.9009315+00:00
                    finished: 2014-08-12T23:06:24.3361102+00:00
                    jobId: jnpbcc77s4w278e4
                    messagesCount: 0
                    name: Deployment
                    started: 2014-08-12T23:06:10.8776088+00:00
                    status: success
                    updated: 2014-08-12T23:06:24.9390847+00:00
                  started: 2014-08-12T23:06:10.8776088+00:00
                  status: success
                  updated: 2014-08-12T23:06:25.0502019+00:00
                project:
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  created: 2014-05-08T18:38:57.9163293+00:00
                  isPrivate: false
                  name: simple-web
                  projectId: 22321
                  repositoryName: AppVeyor/simple-web
                  repositoryScm: git
                  repositoryType: gitHub
                  securityDescriptor: {}
                  skipBranchesWithoutAppveyorYml: false
                  slug: simple-web
                  updated: 2014-07-14T10:16:26.9351867+00:00
              schema:
                $ref: '#/components/schemas/ProjectDeployment'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDeployment'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get deployment
      tags:
      - Deployment
      x-accepts:
      - application/json
      - application/xml
  /environments:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#get-environments
      operationId: getEnvironments
      responses:
        "200":
          content:
            application/json:
              example:
              - deploymentEnvironmentId: 14
                name: azure-blob-1
                provider: AzureBlob
              - deploymentEnvironmentId: 12
                name: azure-deploy-test
                provider: AzureCS
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentEnvironmentLookupModel'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentEnvironmentLookupModel'
                type: array
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get environments
      tags:
      - Environment
      x-accepts:
      - application/json
      - application/xml
    post:
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#add-environment
      operationId: addEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentEnvironmentAddition'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                created: 2014-08-15T23:57:16.1585268+00:00
                deploymentEnvironmentId: 3018
                environmentAccessKey: gi3ttevuk7a123
                name: production
                provider: FTP
                settings:
                  environmentVariables:
                  - name: my-var
                    value:
                      isEncrypted: false
                      value: "123"
                  providerSettings:
                  - name: server
                    value:
                      isEncrypted: false
                      value: ftp.myserver.com
                  - name: username
                    value:
                      isEncrypted: false
                      value: ftp-user
                  - name: password
                    value:
                      isEncrypted: true
                      value: password
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentWithSettings'
            application/xml:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentWithSettings'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Add environment
      tags:
      - Environment
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
    put:
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#update-environment
      operationId: updateEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentEnvironmentWithSettings'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                created: 2014-08-15T23:57:16.1585268+00:00
                deploymentEnvironmentId: 3018
                environmentAccessKey: gi3ttevuk7123
                name: production
                provider: FTP
                settings:
                  environmentVariables:
                  - name: my-var
                    value:
                      isEncrypted: false
                      value: "123"
                  providerSettings:
                  - name: server
                    value:
                      isEncrypted: false
                      value: ftp.myserver.com
                  - name: username
                    value:
                      isEncrypted: false
                      value: ftp-user
                  - name: password
                    value:
                      isEncrypted: true
                      value: password
                updated: 2014-08-16T00:00:37.6079863+00:00
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentWithSettings'
            application/xml:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentWithSettings'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Update environment
      tags:
      - Environment
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
  /environments/{deploymentEnvironmentId}:
    delete:
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#delete-environment
      operationId: deleteEnvironment
      parameters:
      - description: |
          Deployment Environment ID (`deploymentEnvironmentId` property of `DeploymentEnvironment`)
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Delete environment
      tags:
      - Environment
      x-accepts:
      - application/json
      - application/xml
  /environments/{deploymentEnvironmentId}/deployments:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#get-environment-deployments
      operationId: getEnvironmentDeployments
      parameters:
      - description: |
          Deployment Environment ID (`deploymentEnvironmentId` property of `DeploymentEnvironment`)
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                deployments:
                - deployment:
                    build:
                      authorName: Feodor Fitsner
                      authorUsername: FeodorFitsner
                      branch: master
                      buildId: 18665
                      buildNumber: 25
                      commitId: ed40bd27f732d162b2185d75921b1cd57191f83b
                      committed: 2014-05-08T19:11:38+00:00
                      committerName: Feodor Fitsner
                      committerUsername: FeodorFitsner
                      created: 2014-05-22T20:09:53.759355+00:00
                      finished: 2014-05-22T20:12:33.7806881+00:00
                      jobs: []
                      message: "Merge pull request #3 from FeodorFitsner/master"
                      messageExtended: Changes to AccountController
                      messages: []
                      started: 2014-05-22T20:12:11.4475134+00:00
                      status: success
                      updated: 2014-05-22T20:12:33.7806881+00:00
                      version: 1.0.25
                    created: 2014-06-02T18:20:07.2833871+00:00
                    deploymentId: 4120
                    environment:
                      created: 2014-01-23T18:13:52.2268502+00:00
                      deploymentEnvironmentId: 14
                      name: azure-blob-1
                      provider: AzureBlob
                      updated: 2014-06-02T18:13:32.5106126+00:00
                    finished: 2014-06-02T18:20:25.11916+00:00
                    jobs:
                    - created: 2014-07-27T09:59:57.0171035+00:00
                      finished: 2014-07-27T10:00:11.5995296+00:00
                      jobId: 1696fh3a2w5ng99y
                      messagesCount: 0
                      name: Deployment
                      started: 2014-07-27T09:59:58.3955159+00:00
                      status: success
                      updated: 2014-07-27T10:00:16.163082+00:00
                    started: 2014-06-02T18:20:07.9871288+00:00
                    status: success
                    updated: 2014-06-02T18:20:25.11916+00:00
                  project:
                    accountId: 2
                    accountName: FeodorFitsner
                    builds: []
                    created: 2014-05-06T16:38:14.7788393+00:00
                    isPrivate: false
                    name: simple-web
                    projectId: 15072
                    repositoryName: AppVeyor/simple-web
                    repositoryScm: git
                    repositoryType: gitHub
                    securityDescriptor: {}
                    skipBranchesWithoutAppveyorYml: false
                    slug: simple-web
                    updated: 2014-06-02T21:37:30.9378043+00:00
                environment:
                  created: 2014-01-23T18:13:52.2268502+00:00
                  deploymentEnvironmentId: 14
                  name: azure-blob-1
                  provider: AzureBlob
                  updated: 2014-06-02T18:13:32.5106126+00:00
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentDeploymentsResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentDeploymentsResults'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get environment deployments
      tags:
      - Environment
      x-accepts:
      - application/json
      - application/xml
  /environments/{deploymentEnvironmentId}/settings:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/environments-deployments/#get-environment-settings
      operationId: getEnvironmentSettings
      parameters:
      - description: |
          Deployment Environment ID (`deploymentEnvironmentId` property of `DeploymentEnvironment`)
        in: path
        name: deploymentEnvironmentId
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                environment:
                  created: 2014-01-23T18:13:52.2268502+00:00
                  deploymentEnvironmentId: 14
                  environmentAccessKey: aaabbb12345
                  name: azure-blob-1
                  provider: AzureBlob
                  settings:
                    environmentVariables: []
                    providerSettings:
                    - name: storage_account_name
                      value:
                        isEncrypted: false
                        value: myaccount
                    - name: storage_access_key
                      value:
                        isEncrypted: true
                        value: 4sc1c7/Qp5buQcZ8N486Ks46mLFbXJVqcJjyv98w==
                    - name: container
                      value:
                        isEncrypted: false
                        value: test
                    - name: folder
                      value:
                        isEncrypted: false
                        value: $(appveyor_build_version)
                    - name: artifact
                      value:
                        isEncrypted: false
                  updated: 2014-06-02T18:13:32.5106126+00:00
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentSettingsResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/DeploymentEnvironmentSettingsResults'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get environment settings
      tags:
      - Environment
      x-accepts:
      - application/json
      - application/xml
  /projects:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-projects
      operationId: getProjects
      responses:
        "200":
          content:
            application/json:
              example:
              - accountId: 2
                accountName: FeodorFitsner
                builds:
                - authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  branch: master
                  buildId: 23864
                  buildNumber: 3
                  commitId: c2892a70d60c96c1b65a7c665ab806b7731fea8a
                  committed: 2014-08-15T22:05:54+00:00
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  created: 2014-08-15T22:33:15.9833328+00:00
                  finished: 2014-08-15T22:37:00.6171479+00:00
                  jobs: []
                  message: "replaced with command [skip ci]"
                  messages: []
                  started: 2014-08-15T22:36:38.1757886+00:00
                  status: success
                  updated: 2014-08-15T22:37:00.6171479+00:00
                  version: 1.0.3
                created: 2014-08-15T22:04:19.2868375+00:00
                isPrivate: false
                name: appveyor-artifact-test
                nuGetFeed:
                  created: 2014-08-15T22:04:21.3111546+00:00
                  id: appveyor-artifact-test-j8kk0o
                  name: Project appveyor-artifact-test
                  publishingEnabled: false
                projectId: 19096
                repositoryBranch: master
                repositoryName: FeodorFitsner/appveyor-artifact-test
                repositoryScm: git
                repositoryType: gitHub
                skipBranchesWithoutAppveyorYml: false
                slug: appveyor-artifact-test
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get projects
      tags:
      - Project
      x-accepts:
      - application/json
      - application/xml
    post:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#add-project
      operationId: addProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectAddition'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                accountId: 2
                accountName: appvyr
                builds: []
                created: 2014-08-16T00:52:15.6604826+00:00
                isPrivate: false
                name: demo-app
                projectId: 43682
                repositoryName: FeodorFitsner/demo-app
                repositoryScm: git
                repositoryType: gitHub
                skipBranchesWithoutAppveyorYml: false
                slug: demo-app-335
              schema:
                $ref: '#/components/schemas/Project'
            application/xml:
              schema:
                $ref: '#/components/schemas/Project'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Add project
      tags:
      - Project
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
    put:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#update-project
      operationId: updateProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectWithConfiguration'
        required: true
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Update project
      tags:
      - Project
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
  /projects/status/{badgeRepoProvider}/{repoAccountName}/{repoSlug}:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/status-badges/
      operationId: getPublicProjectStatusBadge
      parameters:
      - description: Repository provider supported for badges
        in: path
        name: badgeRepoProvider
        required: true
        schema:
          enum:
          - bitBucket
          - gitHub
          type: string
      - description: Account name with repository provider
        in: path
        name: repoAccountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Slug (URL component) of repository.
        in: path
        name: repoSlug
        required: true
        schema:
          minLength: 1
          type: string
      - description: Repository Branch
        in: query
        name: branch
        schema:
          minLength: 1
          type: string
      - description: Return an SVG image instead of PNG?  Exclusive with `retina`.
        in: query
        name: svg
        schema:
          default: false
          type: boolean
      - description: Return a larger image suitable for retina displays?  Exclusive
          with `svg`.
        in: query
        name: retina
        schema:
          default: false
          type: boolean
      - description: Text to show in badge when build is passing.
        in: query
        name: passingText
        schema:
          minLength: 1
          type: string
      - description: Text to show in badge when build is failing.
        in: query
        name: failingText
        schema:
          minLength: 1
          type: string
      - description: Text to show in badge when build is pending.
        in: query
        name: pendingText
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
          description: Success
        default:
          content:
            image/svg+xml:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security: []
      summary: Get status badge image for a project with a public repository
      tags:
      - Project
      x-accepts:
      - image/png
      - image/svg+xml
  /projects/status/{statusBadgeId}:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/status-badges/
      operationId: getProjectStatusBadge
      parameters:
      - description: ID of the status badge (`statusBadgeId` from `ProjectWithConfiguration`).
        in: path
        name: statusBadgeId
        required: true
        schema:
          minLength: 1
          type: string
      - description: Return an SVG image instead of PNG?  Exclusive with `retina`.
        in: query
        name: svg
        schema:
          default: false
          type: boolean
      - description: Return a larger image suitable for retina displays?  Exclusive
          with `svg`.
        in: query
        name: retina
        schema:
          default: false
          type: boolean
      - description: Text to show in badge when build is passing.
        in: query
        name: passingText
        schema:
          minLength: 1
          type: string
      - description: Text to show in badge when build is failing.
        in: query
        name: failingText
        schema:
          minLength: 1
          type: string
      - description: Text to show in badge when build is pending.
        in: query
        name: pendingText
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
          description: Success
        default:
          content:
            image/svg+xml:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security: []
      summary: Get project status badge image
      tags:
      - Project
      x-accepts:
      - image/png
      - image/svg+xml
  /projects/status/{statusBadgeId}/branch/{buildBranch}:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/status-badges/
      operationId: getProjectBranchStatusBadge
      parameters:
      - description: ID of the status badge (`statusBadgeId` from `ProjectWithConfiguration`).
        in: path
        name: statusBadgeId
        required: true
        schema:
          minLength: 1
          type: string
      - description: Build Branch
        in: path
        name: buildBranch
        required: true
        schema:
          type: string
      - description: Return an SVG image instead of PNG?  Exclusive with `retina`.
        in: query
        name: svg
        schema:
          default: false
          type: boolean
      - description: Return a larger image suitable for retina displays?  Exclusive
          with `svg`.
        in: query
        name: retina
        schema:
          default: false
          type: boolean
      - description: Text to show in badge when build is passing.
        in: query
        name: passingText
        schema:
          minLength: 1
          type: string
      - description: Text to show in badge when build is failing.
        in: query
        name: failingText
        schema:
          minLength: 1
          type: string
      - description: Text to show in badge when build is pending.
        in: query
        name: pendingText
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
          description: Success
        default:
          content:
            image/svg+xml:
              schema:
                $ref: '#/components/schemas/Error'
            image/png:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security: []
      summary: Get project branch status badge image
      tags:
      - Project
      x-accepts:
      - image/png
      - image/svg+xml
  /projects/{accountName}/{projectSlug}:
    delete:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#delete-project
      operationId: deleteProject
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Delete project
      tags:
      - Project
      x-accepts:
      - application/json
      - application/xml
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-last-build
      operationId: getProjectLastBuild
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                build:
                  authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  branch: master
                  buildId: 134173
                  buildNumber: 45
                  commitId: 85da1fb810ae89744abad83e75c13483dd740258
                  committed: 2014-07-03T07:56:15+00:00
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  created: 2014-08-14T05:39:26.2946368+00:00
                  finished: 2014-08-14T05:42:45.5709599+00:00
                  jobs:
                  - allowFailure: false
                    artifactsCount: 0
                    compilationErrorsCount: 0
                    compilationMessagesCount: 0
                    compilationWarningsCount: 0
                    created: 2014-08-14T05:39:27.3902557+00:00
                    failedTestsCount: 0
                    finished: 2014-08-14T05:42:45.1102797+00:00
                    jobId: 9r2qufuu8
                    messagesCount: 0
                    name: ""
                    passedTestsCount: 0
                    started: 2014-08-14T05:41:49.1061831+00:00
                    status: success
                    testsCount: 0
                    updated: 2014-08-14T05:42:45.477213+00:00
                  message: AssemblyInfo patching
                  messages: []
                  started: 2014-08-14T05:41:49.1686804+00:00
                  status: success
                  updated: 2014-08-14T05:42:45.5709599+00:00
                  version: 1.0.45
                project:
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  created: 2014-07-19T10:23:03.8005134+00:00
                  isPrivate: false
                  name: nuget-test
                  nuGetFeed:
                    created: 2014-07-19T10:23:05.5160273+00:00
                    id: nuget-test-23spw2w
                    name: Project nuget-test
                    publishingEnabled: false
                  projectId: 38907
                  repositoryBranch: master
                  repositoryName: FeodorFitsner/nuget-test
                  repositoryScm: git
                  repositoryType: gitHub
                  securityDescriptor: {}
                  skipBranchesWithoutAppveyorYml: false
                  slug: nuget-test
                  updated: 2014-08-01T05:25:15.4119745+00:00
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security: []
      summary: Get project last build
      tags:
      - Project
      x-accepts:
      - application/json
      - application/xml
  /projects/{accountName}/{projectSlug}/artifacts/{artifactFileName}:
    get:
      description: The `job` parameter is mandatory if the build contains multiple
        jobs.
      externalDocs:
        url: https://www.appveyor.com/docs/packaging-artifacts/#permalink-to-the-last-successful-build-artifact
      operationId: getProjectArtifact
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      - description: |-
          File name (or path) of a build artifact file.
          Corresponds to the `fileName` property of `ArtifactModel`.
          URL-encoding of slashes in parameter values is optional.
        in: path
        name: artifactFileName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Repository Branch
        in: query
        name: branch
        schema:
          minLength: 1
          type: string
      - description: A git (or other VCS) tag
        in: query
        name: tag
        schema:
          minLength: 1
          type: string
      - description: Name of the build job.
        in: query
        name: job
        schema:
          type: string
      - description: |-
          Include not only `successful`, but also jobs with `failed`, and
          `cancelled` status.
        in: query
        name: all
        schema:
          default: false
          type: boolean
      - description: |
          Include PR builds in the search results?
          `true` - take artifact from PR builds only;
          `false` - do not look for artifact in PR builds;
          default/unspecified - look for artifact in both PR an non-PR builds.
        in: query
        name: pr
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success
        default:
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security: []
      summary: Get last successful build artifact
      tags:
      - Project
      x-accepts:
      - application/octet-stream
  /projects/{accountName}/{projectSlug}/branch/{buildBranch}:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-last-branch-build
      operationId: getProjectLastBuildBranch
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      - description: Build Branch
        in: path
        name: buildBranch
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                build:
                  authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  branch: master
                  buildId: 134173
                  buildNumber: 45
                  commitId: 85da1fb810ae89744abad83e75c13483dd740258
                  committed: 2014-07-03T07:56:15+00:00
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  created: 2014-08-14T05:39:26.2946368+00:00
                  finished: 2014-08-14T05:42:45.5709599+00:00
                  jobs:
                  - allowFailure: false
                    artifactsCount: 0
                    compilationErrorsCount: 0
                    compilationMessagesCount: 0
                    compilationWarningsCount: 0
                    created: 2014-08-14T05:39:27.3902557+00:00
                    failedTestsCount: 0
                    finished: 2014-08-14T05:42:45.1102797+00:00
                    jobId: 9r2qufuu8
                    messagesCount: 0
                    name: ""
                    passedTestsCount: 0
                    started: 2014-08-14T05:41:49.1061831+00:00
                    status: success
                    testsCount: 0
                    updated: 2014-08-14T05:42:45.477213+00:00
                  message: AssemblyInfo patching
                  messages: []
                  started: 2014-08-14T05:41:49.1686804+00:00
                  status: success
                  updated: 2014-08-14T05:42:45.5709599+00:00
                  version: 1.0.45
                project:
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  created: 2014-07-19T10:23:03.8005134+00:00
                  isPrivate: false
                  name: nuget-test
                  nuGetFeed:
                    created: 2014-07-19T10:23:05.5160273+00:00
                    id: nuget-test-23spw2w
                    name: Project nuget-test
                    publishingEnabled: false
                  projectId: 38907
                  repositoryBranch: master
                  repositoryName: FeodorFitsner/nuget-test
                  repositoryScm: git
                  repositoryType: gitHub
                  securityDescriptor: {}
                  skipBranchesWithoutAppveyorYml: false
                  slug: nuget-test
                  updated: 2014-08-01T05:25:15.4119745+00:00
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security: []
      summary: Get project last branch build
      tags:
      - Project
      x-accepts:
      - application/json
      - application/xml
  /projects/{accountName}/{projectSlug}/build/{buildVersion}:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-build-by-version
      operationId: getProjectBuildByVersion
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      - description: Build Version (`version` property of `Build`)
        in: path
        name: buildVersion
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                build:
                  authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  branch: master
                  buildId: 134173
                  buildNumber: 45
                  commitId: 85da1fb810ae89744abad83e75c13483dd740258
                  committed: 2014-07-03T07:56:15+00:00
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  created: 2014-08-14T05:39:26.2946368+00:00
                  finished: 2014-08-14T05:42:45.5709599+00:00
                  jobs:
                  - allowFailure: false
                    artifactsCount: 0
                    compilationErrorsCount: 0
                    compilationMessagesCount: 0
                    compilationWarningsCount: 0
                    created: 2014-08-14T05:39:27.3902557+00:00
                    failedTestsCount: 0
                    finished: 2014-08-14T05:42:45.1102797+00:00
                    jobId: 9r2qufuu8
                    messagesCount: 0
                    name: ""
                    passedTestsCount: 0
                    started: 2014-08-14T05:41:49.1061831+00:00
                    status: success
                    testsCount: 0
                    updated: 2014-08-14T05:42:45.477213+00:00
                  message: AssemblyInfo patching
                  messages: []
                  started: 2014-08-14T05:41:49.1686804+00:00
                  status: success
                  updated: 2014-08-14T05:42:45.5709599+00:00
                  version: 1.0.45
                project:
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  created: 2014-07-19T10:23:03.8005134+00:00
                  isPrivate: false
                  name: nuget-test
                  nuGetFeed:
                    created: 2014-07-19T10:23:05.5160273+00:00
                    id: nuget-test-23spw2w
                    name: Project nuget-test
                    publishingEnabled: false
                  projectId: 38907
                  repositoryBranch: master
                  repositoryName: FeodorFitsner/nuget-test
                  repositoryScm: git
                  repositoryType: gitHub
                  securityDescriptor: {}
                  skipBranchesWithoutAppveyorYml: false
                  slug: nuget-test
                  updated: 2014-08-01T05:25:15.4119745+00:00
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectBuildResults'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security: []
      summary: Get project build by version
      tags:
      - Project
      x-accepts:
      - application/json
      - application/xml
  /projects/{accountName}/{projectSlug}/buildcache:
    delete:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#delete-project-build-cache
      operationId: deleteProjectBuildCache
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Delete project build cache
      tags:
      - Project
      x-accepts:
      - application/json
      - application/xml
  /projects/{accountName}/{projectSlug}/deployments:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-deployments
      operationId: getProjectDeployments
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      - description: "Number of results to include in the response. getProjectDeployments\
          \ is documented to have a maximum of 20. It currently returns 500 Internal\
          \ Server Error for recordsNumber <= 5. In the past it has returned 500 Internal\
          \ Server Error for many different values which did not match the value used\
          \ by the ci.appveyor.com web interface at the time.  As of 2018-09-08, the\
          \ value used by the web interface is 10."
        in: query
        name: recordsNumber
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                deployments:
                - deployment:
                    build:
                      authorName: Feodor Fitsner
                      authorUsername: FeodorFitsner
                      branch: master
                      buildId: 132746
                      buildNumber: 38
                      commitId: c397ba5d17dd17b994375405f560e4922207da1e
                      committed: 2014-08-12T22:56:00+00:00
                      committerName: Feodor Fitsner
                      committerUsername: FeodorFitsner
                      created: 2014-08-12T22:56:09.9208493+00:00
                      finished: 2014-08-12T22:58:05.7595508+00:00
                      jobs: []
                      message: Removed Start-Website
                      messages: []
                      started: 2014-08-12T22:56:25.8575967+00:00
                      status: success
                      updated: 2014-08-12T22:58:05.7595508+00:00
                      version: 1.0.38
                    created: 2014-08-12T23:06:07.9009315+00:00
                    deploymentId: 19475
                    environment:
                      created: 2014-04-01T17:56:41.30982+00:00
                      deploymentEnvironmentId: 27
                      name: agent test
                      provider: Agent
                      updated: 2014-08-12T22:35:51.9723883+00:00
                    finished: 2014-08-12T23:06:25.0502019+00:00
                    jobs:
                    - created: 2014-08-12T23:06:07.9009315+00:00
                      finished: 2014-08-12T23:06:24.3361102+00:00
                      jobId: jnpbcc77s4w278e4
                      messagesCount: 0
                      name: Deployment
                      started: 2014-08-12T23:06:10.8776088+00:00
                      status: success
                      updated: 2014-08-12T23:06:24.9390847+00:00
                    - created: 2014-08-12T23:06:14.8148958+00:00
                      finished: 2014-08-12T23:06:21.9647266+00:00
                      jobId: nbgyf7pn65d4agyr
                      messagesCount: 0
                      name: TEST-AGENT-DEPL
                      started: 2014-08-12T23:06:14.8148958+00:00
                      status: success
                      updated: 2014-08-12T23:06:22.3768791+00:00
                    started: 2014-08-12T23:06:10.8776088+00:00
                    status: success
                    updated: 2014-08-12T23:06:25.0502019+00:00
                  environment:
                    created: 2014-04-01T17:56:41.30982+00:00
                    deploymentEnvironmentId: 27
                    name: agent test
                    provider: Agent
                    updated: 2014-08-12T22:35:51.9723883+00:00
                project:
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  created: 2014-05-08T18:38:57.9163293+00:00
                  isPrivate: false
                  name: simple-web
                  projectId: 22321
                  repositoryName: AppVeyor/simple-web
                  repositoryScm: git
                  repositoryType: gitHub
                  securityDescriptor: {}
                  skipBranchesWithoutAppveyorYml: false
                  slug: simple-web
                  updated: 2014-07-14T10:16:26.9351867+00:00
              schema:
                $ref: '#/components/schemas/ProjectDeploymentsResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentsResults'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get project deployments
      tags:
      - Project
      x-accepts:
      - application/json
      - application/xml
  /projects/{accountName}/{projectSlug}/history:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-history
      operationId: getProjectHistory
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      - description: "Number of results to include in the response. getProjectDeployments\
          \ is documented to have a maximum of 20. It currently returns 500 Internal\
          \ Server Error for recordsNumber <= 5. In the past it has returned 500 Internal\
          \ Server Error for many different values which did not match the value used\
          \ by the ci.appveyor.com web interface at the time.  As of 2018-09-08, the\
          \ value used by the web interface is 10."
        in: query
        name: recordsNumber
        required: true
        schema:
          minimum: 0
          type: integer
      - description: Maximum `buildId` to include in the results (exclusive).
        in: query
        name: startBuildId
        schema:
          minimum: 0
          type: integer
      - description: Repository Branch
        in: query
        name: branch
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                builds:
                - authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  branch: master
                  buildId: 134174
                  buildNumber: 5
                  commitId: d19740243e3ec5497345de0f7d828e66a7cd1a6b
                  committed: 2014-08-10T14:08:16+00:00
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  created: 2014-08-14T05:39:30.8845902+00:00
                  finished: 2014-08-14T05:43:47.4732355+00:00
                  jobs: []
                  message: Enabled diag mode
                  messages: []
                  started: 2014-08-14T05:42:17.2696755+00:00
                  status: success
                  updated: 2014-08-14T05:43:47.4732355+00:00
                  version: 1.0.5
                - authorName: Feodor Fitsner
                  authorUsername: FeodorFitsner
                  branch: master
                  buildId: 129289
                  buildNumber: 3
                  commitId: 28c6eec932c0e21eca5bb5571a722f850aa8bf6f
                  committed: 2014-08-09T00:33:34+00:00
                  committerName: Feodor Fitsner
                  committerUsername: FeodorFitsner
                  created: 2014-08-09T15:42:38.8315273+00:00
                  finished: 2014-08-09T15:44:15.5828009+00:00
                  jobs: []
                  message: Added appveyor.yml
                  messages: []
                  started: 2014-08-09T15:42:45.7878479+00:00
                  status: success
                  updated: 2014-08-09T15:44:15.5828009+00:00
                  version: 1.0.3
                project:
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  created: 2014-08-09T00:30:43.3327131+00:00
                  isPrivate: false
                  name: wix-test
                  projectId: 42438
                  repositoryName: FeodorFitsner/wix-test
                  repositoryScm: git
                  repositoryType: gitHub
                  skipBranchesWithoutAppveyorYml: false
                  slug: wix-test
              schema:
                $ref: '#/components/schemas/ProjectHistory'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectHistory'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security: []
      summary: Get project history
      tags:
      - Project
      x-accepts:
      - application/json
      - application/xml
  /projects/{accountName}/{projectSlug}/settings:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-settings
      operationId: getProjectSettings
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                images:
                - name: test-win2012-r2
                - name: Windows Server 2012
                - name: Windows Server 2012 R2
                project:
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  created: 2014-05-08T18:38:57.9163293+00:00
                  isPrivate: false
                  name: simple-web
                  projectId: 22321
                  repositoryName: AppVeyor/simple-web
                  repositoryScm: git
                  repositoryType: gitHub
                  securityDescriptor:
                    accessRightDefinitions:
                    - description: View
                      name: View
                    - description: Run build
                      name: RunBuild
                    - description: Update settings
                      name: Update
                    - description: Delete project
                      name: Delete
                    roleAces:
                    - accessRights:
                      - allowed: true
                        name: View
                      - allowed: true
                        name: RunBuild
                      - allowed: true
                        name: Update
                      - allowed: true
                        name: Delete
                      isAdmin: true
                      name: Administrator
                      roleId: 4
                    - accessRights:
                      - name: View
                      - name: RunBuild
                      - name: Update
                      - name: Delete
                      isAdmin: false
                      name: User
                      roleId: 5
                  skipBranchesWithoutAppveyorYml: false
                  slug: simple-web
                  updated: 2014-07-14T10:16:26.9351867+00:00
                settings:
                  accountId: 2
                  accountName: appvyr
                  builds: []
                  configuration:
                    afterBuildScripts: []
                    afterDeployScripts: []
                    afterTestScripts: []
                    artifacts: []
                    assemblyFileVersionFormat: "{version}"
                    assemblyInfoFile: '**\AssemblyInfo.*'
                    assemblyInformationalVersionFormat: "{version}"
                    assemblyVersionFormat: "{version}"
                    beforeBuildScripts: []
                    beforeDeployScripts: []
                    beforeTestScripts: []
                    buildMode: msbuild
                    buildScripts: []
                    configuration: []
                    deployMode: providers
                    deployScripts: []
                    deployments: []
                    environmentVariables: []
                    environmentVariablesMatrix: []
                    excludeBranches: []
                    hostsEntries: []
                    includeBranches: []
                    initScripts: []
                    installScripts: []
                    matrixAllowFailures: []
                    matrixFastFinish: false
                    msBuildVerbosity: minimal
                    notifications: []
                    onBuildErrorScripts: []
                    onBuildSuccessScripts: []
                    operatingSystem: []
                    packageAzureCloudServiceProjects: false
                    packageNuGetProjects: false
                    packageWebApplicationProjects: false
                    packageWebApplicationProjectsXCopy: false
                    patchAssemblyInfo: false
                    platform: []
                    services: []
                    shallowClone: false
                    testAssemblies: []
                    testCategories: []
                    testCategoriesMatrix: []
                    testMode: auto
                    testScripts: []
                  created: 2014-05-08T18:38:57.9163293+00:00
                  ignoreAppveyorYml: false
                  isPrivate: false
                  name: simple-web
                  nextBuildNumber: 41
                  nuGetFeed:
                    created: 2014-05-08T18:38:59.2455842+00:00
                    id: simple-web-0r50wgb1st6q
                    name: Project simple-web
                    publishingEnabled: false
                  projectId: 22321
                  repositoryBranch: master
                  repositoryName: AppVeyor/simple-web
                  repositoryScm: git
                  repositoryType: gitHub
                  securityDescriptor:
                    accessRightDefinitions:
                    - description: View
                      name: View
                    - description: Run build
                      name: RunBuild
                    - description: Update settings
                      name: Update
                    - description: Delete project
                      name: Delete
                    roleAces:
                    - accessRights:
                      - allowed: true
                        name: View
                      - allowed: true
                        name: RunBuild
                      - allowed: true
                        name: Update
                      - allowed: true
                        name: Delete
                      isAdmin: true
                      name: Administrator
                      roleId: 4
                    - accessRights:
                      - name: View
                      - name: RunBuild
                      - name: Update
                      - name: Delete
                      isAdmin: false
                      name: User
                      roleId: 5
                  skipBranchesWithoutAppveyorYml: false
                  slug: simple-web
                  updated: 2014-07-14T10:16:26.9351867+00:00
                  versionFormat: "1.0.{build}"
                  webhookId: k783di7br
                  webhookUrl: https://ci.appveyor.com/api/github/webhook?id=k783di7br
              schema:
                $ref: '#/components/schemas/ProjectSettingsResults'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectSettingsResults'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get project settings
      tags:
      - Project
      x-accepts:
      - application/json
      - application/xml
  /projects/{accountName}/{projectSlug}/settings/build-number:
    put:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#update-project-build-number
      operationId: updateProjectBuildNumber
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectBuildNumberUpdate'
        required: true
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Update project build number
      tags:
      - Project
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
  /projects/{accountName}/{projectSlug}/settings/environment-variables:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-environment-variables
      operationId: getProjectEnvironmentVariables
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - name: api_key
                value:
                  isEncrypted: true
                  value: very-secret-key-encrypted
              - name: var1
                value:
                  isEncrypted: false
                  value: current-value
              schema:
                items:
                  $ref: '#/components/schemas/StoredNameValue'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/StoredNameValue'
                type: array
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get project environment variables
      tags:
      - Project
      x-accepts:
      - application/json
      - application/xml
    put:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#update-project-environment-variables
      operationId: updateProjectEnvironmentVariables
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/StoredNameValue'
              type: array
        required: true
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Update project environment variables
      tags:
      - Project
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
  /projects/{accountName}/{projectSlug}/settings/yaml:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#get-project-settings-in-yaml
      operationId: getProjectSettingsYaml
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain:
              example: |
                version: 1.0.{build}
                build:
                  project: MySolution.sln
                  verbosity: minimal
                  publish_wap: true
                  ...
              schema:
                type: string
          description: |
            Success

            The schema type of this response could be specified as `file` to
            denote opaque binary data.  The generated Java code for `file`
            saves the response as a temporary file, making it a little more
            difficult to use and less efficient for common cases.  If `string`
            causes problems for other generators, can switch to `file` type.
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get project settings in YAML
      tags:
      - Project
      x-accepts:
      - text/plain
    put:
      externalDocs:
        url: https://www.appveyor.com/docs/api/projects-builds/#update-project-settings-in-yaml
      operationId: updateProjectSettingsYaml
      parameters:
      - description: |-
          AppVeyor account name on which to operate.
          Accounts for which a user has access are listed on the [Security page of
          the user profile](https://ci.appveyor.com/security) (when logged in).
          The user account is also the `accountName` property of `UserAccount`.
        in: path
        name: accountName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Project Slug
        in: path
        name: projectSlug
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              format: binary
              type: string
        description: |
          The body of requests should contain YAML data.  It is unclear how
          to specify this since the OpenAPI spec requires `schema` without
          `type` for `in: body` parameters and does not allow `type: file` in
          `schema`.  See https://github.com/OAI/OpenAPI-Specification/issues/326
          swagger-codegen (for Java, probably others) allows a binary
          string body parameter with non-application/json `consumes` to be
          passed through in the request body without conversion to JSON.
        required: true
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Update project settings in YAML
      tags:
      - Project
      x-codegen-request-body-name: body
      x-content-type: text/plain
      x-accepts:
      - application/json
      - application/xml
  /roles:
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#get-roles
      operationId: getRoles
      responses:
        "200":
          content:
            application/json:
              example:
              - created: 2013-09-26T19:23:39.3615105+00:00
                isSystem: true
                name: Administrator
                roleId: 4
              - created: 2013-09-26T19:23:39.3645117+00:00
                isSystem: true
                name: User
                roleId: 5
              schema:
                items:
                  $ref: '#/components/schemas/Role'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Role'
                type: array
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get roles
      tags:
      - Role
      x-accepts:
      - application/json
      - application/xml
    post:
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#add-role
      operationId: addRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleAddition'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleWithGroups'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleWithGroups'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Add role
      tags:
      - Role
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
    put:
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#update-role
      operationId: updateRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleWithGroups'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleWithGroups'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleWithGroups'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Update role
      tags:
      - Role
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/xml
  /roles/{roleId}:
    delete:
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#delete-role
      operationId: deleteRole
      parameters:
      - description: Role ID
        in: path
        name: roleId
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "204":
          content: {}
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Delete role
      tags:
      - Role
      x-accepts:
      - application/json
      - application/xml
    get:
      externalDocs:
        url: https://www.appveyor.com/docs/api/team/#get-role
      operationId: getRole
      parameters:
      - description: Role ID
        in: path
        name: roleId
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                created: 2014-03-18T20:12:08.4749886+00:00
                groups:
                - name: Projects
                  permissions:
                  - allowed: false
                    description: "Create, delete projects, update project settings"
                    name: ManageProjects
[...]
