openapi: 3.0.0
info:
  contact:
    email: devrel@vonage.com
    name: Vonage DevRel
    url: https://developer.nexmo.com/
  description: "The Number Insight API delivers real-time intelligence about the validity,\
    \ reachability and roaming status of a phone number and tells you how to format\
    \ the number correctly in your application. There are three levels of Number Insight\
    \ API available: [Basic, Standard and Advanced](https://developer.nexmo.com/number-insight/overview#basic-standard-and-advanced-apis).\
    \ The advanced API is available asynchronously as well as synchronously."
  license:
    name: The MIT License (MIT)
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.nexmo.com/terms-of-use
  title: Number Insight API
  version: 1.2.1
  x-logo:
    url: https://www.vonage.com/content/dam/vonage/us-en/api/illustrations/Mobile_APIs_Services.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/number-insight.yml
    version: "3.0"
  x-providerName: nexmo.com
  x-serviceName: number-insight
externalDocs:
  url: https://developer.nexmo.com/api/number-insight
  x-sha1: 081f6d985e2e4a75586da1654fde880a96885405
servers:
- url: https://api.nexmo.com/ni
security:
- apiKey: []
  apiSecret: []
paths:
  /advanced/async/{format}:
    get:
      description: |
        Provides [advanced number insight](/number-insight/overview#basic-standard-and-advanced-apis) number information **asynchronously** using the URL specified in the `callback` parameter.  recommends asynchronous use of the Number Insight Advanced API, to avoid timeouts.

        Note that this endpoint also supports `POST` requests.
      operationId: get_number_insight_async
      parameters:
      - description: The format of the response
        example: json
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - xml
          type: string
        style: simple
      - description: The callback URL
        example: https://example.com/callback
        explode: true
        in: query
        name: callback
        required: true
        schema:
          format: uriref
          type: string
        style: form
      - description: A single phone number that you need insight about in national
          or international format.
        example: "447700900000"
        explode: true
        in: query
        name: number
        required: true
        schema:
          pattern: "^[0-9-+\\(\\)\\s]*$"
          type: string
        style: form
      - description: "If a number does not have a country code or is uncertain, set\
          \ the two-character country code. This code must be in ISO 3166-1 alpha-2\
          \ format and in upper case. For example, GB or US. If you set country and\
          \ number is already in [E.164](https://en.wikipedia.org/wiki/E.164) format,\
          \ country must match the country code in number."
        example: GB
        explode: true
        in: query
        name: country
        required: false
        schema:
          pattern: "[A-Z]{2}"
          type: string
        style: form
      - description: Indicates if the name of the person who owns the phone number
          should be looked up and returned in the response. Set to true to receive
          phone number owner name in the response. This features is available for
          US numbers only and incurs an additional charge.
        example: true
        explode: true
        in: query
        name: cnam
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - deprecated: true
        description: 'This parameter is deprecated as we are no longer able to retrieve
          reliable IP data globally from carriers. '
        example: 123.0.0.255
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getNumberInsightAsync_200_response'
            text/xml:
              schema:
                $ref: '#/components/schemas/niResponseAsync'
          description: OK
      summary: Advanced Number Insight (async)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /advanced/{format}:
    get:
      description: |
        Provides [advanced number insight](/number-insight/overview#basic-standard-and-advanced-apis) information about a number synchronously, in the same way that the basic and standard endpoints do.

        Vonage recommends accessing the Advanced API **asynchronously** using the `/advanced/async` endpoint, to avoid timeouts.

        Note that this endpoint also supports `POST` requests.
      operationId: get_number_insight_advanced
      parameters:
      - description: The format of the response
        example: json
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - xml
          type: string
        style: simple
      - description: A boolean to choose whether to get real time data back in the
          response.
        example: "true"
        explode: true
        in: query
        name: real_time_data
        required: false
        schema:
          type: boolean
        style: form
      - description: A single phone number that you need insight about in national
          or international format.
        example: "447700900000"
        explode: true
        in: query
        name: number
        required: true
        schema:
          pattern: "^[0-9-+\\(\\)\\s]*$"
          type: string
        style: form
      - description: "If a number does not have a country code or is uncertain, set\
          \ the two-character country code. This code must be in ISO 3166-1 alpha-2\
          \ format and in upper case. For example, GB or US. If you set country and\
          \ number is already in [E.164](https://en.wikipedia.org/wiki/E.164) format,\
          \ country must match the country code in number."
        example: GB
        explode: true
        in: query
        name: country
        required: false
        schema:
          pattern: "[A-Z]{2}"
          type: string
        style: form
      - description: Indicates if the name of the person who owns the phone number
          should be looked up and returned in the response. Set to true to receive
          phone number owner name in the response. This features is available for
          US numbers only and incurs an additional charge.
        example: true
        explode: true
        in: query
        name: cnam
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - deprecated: true
        description: 'This parameter is deprecated as we are no longer able to retrieve
          reliable IP data globally from carriers. '
        example: 123.0.0.255
        explode: true
        in: query
        name: ip
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getNumberInsightAdvanced_200_response'
            text/xml:
              schema:
                $ref: '#/components/schemas/niResponseXmlAdvanced'
          description: OK
      summary: Advanced Number Insight (sync)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /basic/{format}:
    get:
      description: |
        Provides [basic number insight](/number-insight/overview#basic-standard-and-advanced-apis) information about a number.

        Note that this endpoint also supports `POST` requests.
      operationId: get_number_insight_basic
      parameters:
      - description: The format of the response
        example: json
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - xml
          type: string
        style: simple
      - description: A single phone number that you need insight about in national
          or international format.
        example: "447700900000"
        explode: true
        in: query
        name: number
        required: true
        schema:
          pattern: "^[0-9-+\\(\\)\\s]*$"
          type: string
        style: form
      - description: "If a number does not have a country code or is uncertain, set\
          \ the two-character country code. This code must be in ISO 3166-1 alpha-2\
          \ format and in upper case. For example, GB or US. If you set country and\
          \ number is already in [E.164](https://en.wikipedia.org/wiki/E.164) format,\
          \ country must match the country code in number."
        example: GB
        explode: true
        in: query
        name: country
        required: false
        schema:
          pattern: "[A-Z]{2}"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/niResponseJsonBasic'
            text/xml:
              schema:
                $ref: '#/components/schemas/niResponseXmlBasic'
          description: OK
      summary: Basic Number Insight
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /standard/{format}:
    get:
      description: |
        Provides [standard number insight](/number-insight/overview#basic-standard-and-advanced-apis) information about a number.

        Note that this endpoint also supports `POST` requests.
      operationId: get_number_insight_standard
      parameters:
      - description: The format of the response
        example: json
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - xml
          type: string
        style: simple
      - description: A single phone number that you need insight about in national
          or international format.
        example: "447700900000"
        explode: true
        in: query
        name: number
        required: true
        schema:
          pattern: "^[0-9-+\\(\\)\\s]*$"
          type: string
        style: form
      - description: "If a number does not have a country code or is uncertain, set\
          \ the two-character country code. This code must be in ISO 3166-1 alpha-2\
          \ format and in upper case. For example, GB or US. If you set country and\
          \ number is already in [E.164](https://en.wikipedia.org/wiki/E.164) format,\
          \ country must match the country code in number."
        example: GB
        explode: true
        in: query
        name: country
        required: false
        schema:
          pattern: "[A-Z]{2}"
          type: string
        style: form
      - description: Indicates if the name of the person who owns the phone number
          should be looked up and returned in the response. Set to true to receive
          phone number owner name in the response. This features is available for
          US numbers only and incurs an additional charge.
        example: true
        explode: true
        in: query
        name: cnam
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getNumberInsightStandard_200_response'
            text/xml:
              schema:
                $ref: '#/components/schemas/niResponseXmlStandard'
          description: OK
      summary: Standard Number Insight
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    callback:
      description: The callback URL
      example: https://example.com/callback
      explode: true
      in: query
      name: callback
      required: true
      schema:
        format: uriref
        type: string
      style: form
    cnam:
      description: Indicates if the name of the person who owns the phone number should
        be looked up and returned in the response. Set to true to receive phone number
        owner name in the response. This features is available for US numbers only
        and incurs an additional charge.
      example: true
      explode: true
      in: query
      name: cnam
      required: false
      schema:
        default: false
        type: boolean
      style: form
    country:
      description: "If a number does not have a country code or is uncertain, set\
        \ the two-character country code. This code must be in ISO 3166-1 alpha-2\
        \ format and in upper case. For example, GB or US. If you set country and\
        \ number is already in [E.164](https://en.wikipedia.org/wiki/E.164) format,\
        \ country must match the country code in number."
      example: GB
      explode: true
      in: query
      name: country
      required: false
      schema:
        pattern: "[A-Z]{2}"
        type: string
      style: form
    format:
      description: The format of the response
      example: json
      explode: false
      in: path
      name: format
      required: true
      schema:
        enum:
        - json
        - xml
        type: string
      style: simple
    ip:
      deprecated: true
      description: 'This parameter is deprecated as we are no longer able to retrieve
        reliable IP data globally from carriers. '
      example: 123.0.0.255
      explode: true
      in: query
      name: ip
      required: false
      schema:
        type: string
      style: form
    number:
      description: A single phone number that you need insight about in national or
        international format.
      example: "447700900000"
      explode: true
      in: query
      name: number
      required: true
      schema:
        pattern: "^[0-9-+\\(\\)\\s]*$"
        type: string
      style: form
    real_time_data:
      description: A boolean to choose whether to get real time data back in the response.
      example: "true"
      explode: true
      in: query
      name: real_time_data
      required: false
      schema:
        type: boolean
      style: form
  schemas:
    niAsyncResponse:
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        tag:
          type: string
      required:
      - id
      - name
    niBasicStatus:
      description: |
        Code | Text
        -- | --
        0 | Success - request accepted for delivery by .
        1 | Busy - you have made more requests in the last second than are permitted by your account. Please retry.
        3 | Invalid - your request is incomplete and missing some mandatory parameters.
        4 | Invalid credentials - the _api_key_ or _api_secret_ you supplied is either not valid or has been disabled.
        5 | Internal Error - the format of the recipient address is not valid.
        9 | Partner quota exceeded - your account does not have sufficient credit to process this request.
      enum:
      - 0
      - 1
      - 3
      - 4
      - 5
      - 9
      example: 0
      title: niBasicStatus
      type: integer
    niCallerIdentity:
      description: Information about the network `number` is currently connected to.
      example:
        caller_name: John Smith
        last_name: Smith
        first_name: John
        caller_type: consumer
      properties:
        caller_name:
          description: Full name of the person or business who owns the phone number.
            `unknown` if this information is not available. This parameter is only
            present if `cnam` had a value of `true` within the request.
          example: John Smith
          title: caller_name
          type: string
        caller_type:
          description: The value will be `business` if the owner of a phone number
            is a business. If the owner is an individual the value will be `consumer`.
            The value will be `unknown` if this information is not available. This
            parameter is only present if `cnam` had a value of `true` within the request.
          enum:
          - business
          - consumer
          - unknown
          example: consumer
          title: caller_type
          type: string
        first_name:
          description: First name of the person who owns the phone number if the owner
            is an individual. This parameter is only present if `cnam` had a value
            of `true` within the request.
          example: John
          title: first_name
          type: string
        last_name:
          description: Last name of the person who owns the phone number if the owner
            is an individual. This parameter is only present if `cnam` had a value
            of `true` within the request.
          example: Smith
          title: last_name
          type: string
      title: niCallerIdentity
      type: object
    niCurrentCarrierProperties:
      description: Information about the network `number` is currently connected to.
      example:
        country: GB
        network_code: "12345"
        name: Acme Inc
        network_type: mobile
      nullable: true
      properties:
        country:
          description: The country that `number` is associated with. This is in ISO
            3166-1 alpha-2   format.
          example: GB
          nullable: true
          title: country
          type: string
          xml:
            attribute: true
        name:
          description: The full name of the carrier that `number` is associated with.
          example: Acme Inc
          nullable: true
          title: name
          type: string
          xml:
            attribute: true
        network_code:
          description: "The [https://en.wikipedia.org/wiki/Mobile_country_code](https://en.wikipedia.org/wiki/Mobile_country_code)\
            \ for the carrier`number` is associated with. Unreal numbers are marked\
            \ as`null` and the request is rejected altogether if the number is impossible\
            \ according to the [E.164](https://en.wikipedia.org/wiki/E.164) guidelines."
          example: "12345"
          nullable: true
          title: network_code
          type: string
          xml:
            attribute: true
        network_type:
          description: The type of network that `number` is associated with.
          enum:
          - mobile
          - landline
          - landline_premium
          - landline_tollfree
          - virtual
          - unknown
          - pager
          - "null"
          example: mobile
          nullable: true
          title: network_type
          type: string
          xml:
            attribute: true
      title: niCurrentCarrierProperties
      type: object
      x-nexmo-developer-collection-description-shown: true
    niInitialCarrierProperties:
      description: Information about the network `number` was initially connected
        to.
      example:
        country: GB
        network_code: "12345"
        name: Acme Inc
        network_type: mobile
      nullable: true
      properties:
        country:
          description: The country that `number` is associated with. This is in ISO
            3166-1 alpha-2   format.
          example: GB
          nullable: true
          title: country
          type: string
          xml:
            attribute: true
        name:
          description: The full name of the carrier that `number` is associated with.
          example: Acme Inc
          nullable: true
          title: name
          type: string
          xml:
            attribute: true
        network_code:
          description: "The [https://en.wikipedia.org/wiki/Mobile_country_code](https://en.wikipedia.org/wiki/Mobile_country_code)\
            \ for the carrier`number` is associated with. Unreal numbers are marked\
            \ as`null` and the request is rejected altogether if the number is impossible\
            \ according to the [E.164](https://en.wikipedia.org/wiki/E.164) guidelines."
          example: "12345"
          nullable: true
          title: network_code
          type: string
          xml:
            attribute: true
        network_type:
          description: The type of network that `number` is associated with.
          enum:
          - mobile
          - landline
          - landline_premium
          - landline_tollfree
          - virtual
          - unknown
          - pager
          - "null"
          example: mobile
          nullable: true
          title: network_type
          type: string
          xml:
            attribute: true
      title: niInitialCarrierProperties
      type: object
      x-nexmo-developer-collection-description-shown: true
    niRealtimeData:
      description: Real time data about the `number`
      example:
        handset_status: "true"
        active_status: "true"
      nullable: true
      properties:
        active_status:
          description: "Whether the end-user's phone number is active within an operator's\
            \ `network`. Can be `active`, `inactive` or null."
          example: "true"
          title: active_status
          type: string
        handset_status:
          description: Whether the end-user's handset is turned on or off.
          example: "true"
          title: handset_status
          type: string
      title: niRealtimeData
      type: object
    niResponseAsync:
      example:
        number: "447700900000"
        request_price: "0.01500000"
        error_text: Success
        remaining_balance: "1.23456789"
        request_id: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        status: 0
      properties:
        error_text:
          description: "The status description of your request. Note: This field is\
            \ equivalent to `status_message` field in the other endpoints"
          example: Success
          title: error_text
          type: string
        number:
          description: The `number` in your request
          example: "447700900000"
          title: number
          type: string
        remaining_balance:
          description: Your account balance in EUR after this request.
          example: "1.23456789"
          title: remaining_balance
          type: string
          xml:
            name: remainingBalance
        request_id:
          description: The unique identifier for your request. This is a alphanumeric
            string up to 40 characters.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          maxLength: 40
          title: request_id
          type: string
          xml:
            name: requestId
        request_price:
          description: "If there is an internal lookup error, the `refund_price` will\
            \ reflect the lookup price. If `cnam` is requested for a non-US number\
            \ the `refund_price` will reflect the `cnam` price. If both of these conditions\
            \ occur, `refund_price` is the sum of the lookup price and `cnam` price."
          example: "0.01500000"
          title: request_price
          type: string
          xml:
            name: requestPrice
        status:
          $ref: '#/components/schemas/niStandardAdvancedStatus'
      title: niResponseAsync
      type: object
      xml:
        name: lookup
    niResponseJsonAdvancedAsync:
      description: Advanced Response (Async)
      properties:
        caller_identity:
          $ref: '#/components/schemas/niCallerIdentity'
        country_code:
          description: "Two character country code for `number`. This is in [ISO 3166-1\
            \ alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format."
          example: GB
          pattern: "[A-Z]{2}"
          type: string
        country_code_iso3:
          description: "Three character country code for `number`. This is in [ISO\
            \ 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format."
          example: GBR
          pattern: "[A-Z]{3}"
          type: string
        country_name:
          description: The full name of the country that `number` is registered in.
          example: United Kingdom
          type: string
        country_prefix:
          description: The numeric prefix for the country that `number` is registered
            in.
          example: "44"
          type: string
        current_carrier:
          $ref: '#/components/schemas/niCurrentCarrierProperties'
        international_format_number:
          description: The `number` in your request in international format.
          example: "447700900000"
          type: string
        lookup_outcome:
          description: |
            Shows if all information about a phone number has been returned. Possible values:

            Code | Text
            --- | ---
            0 | Success
            1 | Partial success - some fields populated
            2 | Failed
          enum:
          - 0
          - 1
          - 2
          example: 0
          type: integer
        lookup_outcome_message:
          description: Shows if all information about a phone number has been returned.
          example: Success
          type: string
        national_format_number:
          description: The `number` in your request in the format used by the country
            the number belongs to.
          example: 07700 900000
          type: string
        original_carrier:
          $ref: '#/components/schemas/niInitialCarrierProperties'
        ported:
          description: If the user has changed carrier for `number`. The assumed status
            means that the information supplier has replied to the request but has
            not said explicitly that the number is ported.
          enum:
          - unknown
          - ported
          - not_ported
          - assumed_not_ported
          - assumed_ported
          - "null"
          example: not_ported
          nullable: true
          type: string
        reachable:
          description: Can you call `number` now. This is applicable to mobile numbers
            only.
          enum:
          - unknown
          - reachable
          - undeliverable
          - absent
          - bad_number
          - blacklisted
          - "null"
          example: reachable
          nullable: true
          type: string
        refund_price:
          description: "If there is an internal lookup error, the `refund_price` will\
            \ reflect the lookup price. If `cnam` is requested for a non-US number\
            \ the `refund_price` will reflect the `cnam` price. If both of these conditions\
            \ occur, `refund_price` is the sum of the lookup price and `cnam` price."
          example: "0.01500000"
          type: string
        remaining_balance:
          description: Your account balance in EUR after this request.
          example: "1.23456789"
          type: string
        request_id:
          description: The unique identifier for your request. This is a alphanumeric
            string up to 40 characters.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          maxLength: 40
          type: string
        request_price:
          description: The amount in EUR charged to your account.
          example: "0.04000000"
          type: string
        roaming:
          $ref: '#/components/schemas/niRoaming'
        status:
          $ref: '#/components/schemas/niStandardAdvancedStatus'
        status_message:
          description: The status description of your request.
          example: Success
          type: string
        valid_number:
          description: Does `number` exist. `unknown` means the number could not be
            validated. `valid` means the number is valid. `not_valid` means the number
            is not valid. `inferred_not_valid` means that the number could not be
            determined as valid or invalid via an external system and the best guess
            is that the number is invalid. This is applicable to mobile numbers only.
          enum:
          - unknown
          - valid
          - not_valid
          - inferred
          - inferred_not_valid
          example: valid
          type: string
      required:
      - country_code
      - country_code_iso3
      - country_name
      - country_prefix
      - international_format_number
      - national_format_number
      - request_id
      - status
      - status_message
      type: object
    niResponseJsonAdvancedRoamingUnknown:
      description: Unknown Roaming
      properties:
        caller_identity:
          $ref: '#/components/schemas/niCallerIdentity'
        country_code:
          description: "Two character country code for `number`. This is in [ISO 3166-1\
            \ alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format."
          example: GB
          pattern: "[A-Z]{2}"
          title: country_code
          type: string
        country_code_iso3:
          description: "Three character country code for `number`. This is in [ISO\
            \ 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format."
          example: GBR
          pattern: "[A-Z]{3}"
          title: country_code_iso3
          type: string
        country_name:
          description: The full name of the country that `number` is registered in.
          example: United Kingdom
          title: country_name
          type: string
        country_prefix:
          description: The numeric prefix for the country that `number` is registered
            in.
          example: "44"
          title: country_prefix
          type: string
        current_carrier:
          $ref: '#/components/schemas/niCurrentCarrierProperties'
        international_format_number:
          description: The `number` in your request in international format.
          example: "447700900000"
          title: international_format_number
          type: string
        lookup_outcome:
          description: |
            Shows if all information about a phone number has been returned. Possible values:

            Code | Text
            --- | ---
            0 | Success
            1 | Partial success - some fields populated
            2 | Failed
          enum:
          - 0
          - 1
          - 2
          example: 0
          title: lookup_outcome
          type: integer
        lookup_outcome_message:
          description: Shows if all information about a phone number has been returned.
          example: Success
          title: lookup_outcome_message
          type: string
        national_format_number:
          description: The `number` in your request in the format used by the country
            the number belongs to.
          example: 07700 900000
          title: national_format_number
          type: string
        original_carrier:
          $ref: '#/components/schemas/niInitialCarrierProperties'
        ported:
          description: If the user has changed carrier for `number`. The assumed status
            means that the information supplier has replied to the request but has
            not said explicitly that the number is ported.
          enum:
          - unknown
          - ported
          - not_ported
          - assumed_not_ported
          - assumed_ported
          - "null"
          example: not_ported
          nullable: true
          title: ported
          type: string
        reachable:
          description: Can you call `number` now. This is applicable to mobile numbers
            only.
          enum:
          - unknown
          - reachable
          - undeliverable
          - absent
          - bad_number
          - blacklisted
          - "null"
          example: reachable
          nullable: true
          title: reachable
          type: string
        refund_price:
          description: "If there is an internal lookup error, the `refund_price` will\
            \ reflect the lookup price. If `cnam` is requested for a non-US number\
            \ the `refund_price` will reflect the `cnam` price. If both of these conditions\
            \ occur, `refund_price` is the sum of the lookup price and `cnam` price."
          example: "0.01500000"
          title: refund_price
          type: string
        remaining_balance:
          description: Your account balance in EUR after this request.
          example: "1.23456789"
          title: remaining_balance
          type: string
        request_id:
          description: The unique identifier for your request. This is a alphanumeric
            string up to 40 characters.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          maxLength: 40
          title: request_id
          type: string
        request_price:
          description: The amount in EUR charged to your account.
          example: "0.04000000"
          title: request_price
          type: string
        roaming:
          enum:
          - unknown
          example: unknown
          title: roaming
          type: string
        status:
          $ref: '#/components/schemas/niStandardAdvancedStatus'
        status_message:
          description: The status description of your request.
          example: Success
          title: status_message
          type: string
        valid_number:
          description: Does `number` exist. `unknown` means the number could not be
            validated. `valid` means the number is valid. `not_valid` means the number
            is not valid. `inferred_not_valid` means that the number could not be
            determined as valid or invalid via an external system and the best guess
            is that the number is invalid. This is applicable to mobile numbers only.
          enum:
          - unknown
          - valid
          - not_valid
          - inferred
          - inferred_not_valid
          example: valid
          title: valid_number
          type: string
      required:
      - country_code
      - country_code_iso3
      - country_name
      - country_prefix
      - international_format_number
      - national_format_number
      - request_id
      - status
      - status_message
      title: niResponseJsonAdvancedRoamingUnknown
      type: object
    niResponseJsonAdvancedSync:
      description: Advanced Response (sync)
      example:
        status_message: Success
        current_carrier:
          country: GB
          network_code: "12345"
          name: Acme Inc
          network_type: mobile
        roaming:
          roaming_network_name: Acme Inc
          roaming_country_code: US
          roaming_network_code: "12345"
          status: roaming
        remaining_balance: "1.23456789"
        country_prefix: "44"
        caller_identity:
          caller_name: John Smith
          last_name: Smith
          first_name: John
          caller_type: consumer
        reachable: reachable
        refund_price: "0.01500000"
        lookup_outcome_message: Success
        ported: not_ported
        country_code: GB
        country_code_iso3: GBR
        request_price: "0.04000000"
        real_time_data:
          handset_status: "true"
          active_status: "true"
        international_format_number: "447700900000"
        lookup_outcome: 0
        country_name: United Kingdom
        original_carrier:
          country: GB
          network_code: "12345"
          name: Acme Inc
          network_type: mobile
        valid_number: valid
        request_id: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        national_format_number: 07700 900000
        status: 0
      properties:
        caller_identity:
          $ref: '#/components/schemas/niCallerIdentity'
        country_code:
          description: "Two character country code for `number`. This is in [ISO 3166-1\
            \ alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format."
          example: GB
          pattern: "[A-Z]{2}"
          title: country_code
          type: string
        country_code_iso3:
          description: "Three character country code for `number`. This is in [ISO\
            \ 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format."
          example: GBR
          pattern: "[A-Z]{3}"
          title: country_code_iso3
          type: string
        country_name:
          description: The full name of the country that `number` is registered in.
          example: United Kingdom
          title: country_name
          type: string
        country_prefix:
          description: The numeric prefix for the country that `number` is registered
            in.
          example: "44"
          title: country_prefix
          type: string
        current_carrier:
          $ref: '#/components/schemas/niCurrentCarrierProperties'
        international_format_number:
          description: The `number` in your request in international format.
          example: "447700900000"
          title: international_format_number
          type: string
        lookup_outcome:
          description: |
            Shows if all information about a phone number has been returned. Possible values:

            Code | Text
            --- | ---
            0 | Success
            1 | Partial success - some fields populated
            2 | Failed
          enum:
          - 0
          - 1
          - 2
          example: 0
          title: lookup_outcome
          type: integer
        lookup_outcome_message:
          description: Shows if all information about a phone number has been returned.
          example: Success
          title: lookup_outcome_message
          type: string
        national_format_number:
          description: The `number` in your request in the format used by the country
            the number belongs to.
          example: 07700 900000
          title: national_format_number
          type: string
        original_carrier:
          $ref: '#/components/schemas/niInitialCarrierProperties'
        ported:
          description: If the user has changed carrier for `number`. The assumed status
            means that the information supplier has replied to the request but has
            not said explicitly that the number is ported.
          enum:
          - unknown
          - ported
          - not_ported
          - assumed_not_ported
          - assumed_ported
          - "null"
          example: not_ported
          nullable: true
          title: ported
          type: string
        reachable:
          description: Can you call `number` now. This is applicable to mobile numbers
            only.
          enum:
          - unknown
          - reachable
          - undeliverable
          - absent
          - bad_number
          - blacklisted
          - "null"
          example: reachable
          nullable: true
          title: reachable
          type: string
        real_time_data:
          $ref: '#/components/schemas/niRealtimeData'
        refund_price:
          description: "If there is an internal lookup error, the `refund_price` will\
            \ reflect the lookup price. If `cnam` is requested for a non-US number\
            \ the `refund_price` will reflect the `cnam` price. If both of these conditions\
            \ occur, `refund_price` is the sum of the lookup price and `cnam` price."
          example: "0.01500000"
          title: refund_price
          type: string
        remaining_balance:
          description: Your account balance in EUR after this request.
          example: "1.23456789"
          title: remaining_balance
          type: string
        request_id:
          description: The unique identifier for your request. This is a alphanumeric
            string up to 40 characters.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          maxLength: 40
          title: request_id
          type: string
        request_price:
          description: The amount in EUR charged to your account.
          example: "0.04000000"
          title: request_price
          type: string
        roaming:
          $ref: '#/components/schemas/niRoaming'
        status:
          $ref: '#/components/schemas/niStandardAdvancedStatus'
        status_message:
          description: The status description of your request.
          example: Success
          title: status_message
          type: string
        valid_number:
          description: Does `number` exist. `unknown` means the number could not be
            validated. `valid` means the number is valid. `not_valid` means the number
            is not valid. `inferred_not_valid` means that the number could not be
            determined as valid or invalid via an external system and the best guess
            is that the number is invalid. This is applicable to mobile numbers only.
          enum:
          - unknown
          - valid
          - not_valid
          - inferred
          - inferred_not_valid
          example: valid
          title: valid_number
          type: string
      required:
      - country_code
      - country_code_iso3
      - country_name
      - country_prefix
      - international_format_number
      - national_format_number
      - request_id
      - status
      - status_message
      title: niResponseJsonAdvancedSync
      type: object
    niResponseJsonBasic:
      example:
        status_message: Success
        country_code: GB
        country_code_iso3: GBR
        international_format_number: "447700900000"
        country_prefix: "44"
        country_name: United Kingdom
        request_id: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        national_format_number: 07700 900000
        status: 0
      properties:
        country_code:
          description: "Two character country code for `number`. This is in [ISO 3166-1\
            \ alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format."
          example: GB
          pattern: "[A-Z]{2}"
          title: country_code
          type: string
        country_code_iso3:
          description: "Three character country code for `number`. This is in [ISO\
            \ 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format."
          example: GBR
          pattern: "[A-Z]{3}"
          title: country_code_iso3
          type: string
        country_name:
          description: The full name of the country that `number` is registered in.
          example: United Kingdom
          title: country_name
          type: string
        country_prefix:
          description: The numeric prefix for the country that `number` is registered
            in.
          example: "44"
          title: country_prefix
          type: string
        international_format_number:
          description: The `number` in your request in international format.
          example: "447700900000"
          title: international_format_number
          type: string
        national_format_number:
          description: The `number` in your request in the format used by the country
            the number belongs to.
          example: 07700 900000
          title: national_format_number
          type: string
        request_id:
          description: The unique identifier for your request. This is a alphanumeric
            string up to 40 characters.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          maxLength: 40
          title: request_id
          type: string
        status:
          $ref: '#/components/schemas/niBasicStatus'
        status_message:
          description: The status description of your request.
          example: Success
          title: status_message
          type: string
      title: niResponseJsonBasic
      type: object
    niResponseJsonStandard:
      allOf:
      - $ref: '#/components/schemas/niResponseJsonBasic'
      - properties:
          caller_identity:
            $ref: '#/components/schemas/niCallerIdentity'
          caller_name:
            description: Full name of the person or business who owns the phone number.
              `unknown` if this information is not available. This parameter is only
              present if `cnam` had a value of `true` within the request.
            example: John Smith
            type: string
          caller_type:
            description: The value will be `business` if the owner of a phone number
              is a business. If the owner is an individual the value will be `consumer`.
              The value will be `unknown` if this information is not available. This
              parameter is only present if `cnam` had a value of `true` within the
              request.
            enum:
            - business
            - consumer
            - unknown
            example: consumer
            type: string
          current_carrier:
            allOf:
            - $ref: '#/components/schemas/niCurrentCarrierProperties'
            nullable: true
          first_name:
            description: First name of the person who owns the phone number if the
              owner is an individual. This parameter is only present if `cnam` had
              a value of `true` within the request.
            example: John
            type: string
          last_name:
            description: Last name of the person who owns the phone number if the
              owner is an individual. This parameter is only present if `cnam` had
              a value of `true` within the request.
            example: Smith
            type: string
          original_carrier:
            $ref: '#/components/schemas/niInitialCarrierProperties'
          ported:
            description: If the user has changed carrier for `number`. The assumed
              status means that the information supplier has replied to the request
              but has not said explicitly that the number is ported.
            enum:
            - unknown
            - ported
            - not_ported
            - assumed_not_ported
            - assumed_ported
            - "null"
            example: not_ported
            nullable: true
            type: string
          refund_price:
            description: "If there is an internal lookup error, the `refund_price`\
              \ will reflect the lookup price. If `cnam` is requested for a non-US\
              \ number the `refund_price` will reflect the `cnam` price. If both of\
              \ these conditions occur, `refund_price` is the sum of the lookup price\
              \ and `cnam` price."
            example: "0.01500000"
            type: string
          remaining_balance:
            description: Your account balance in EUR after this request.
            example: "1.23456789"
            type: string
          request_price:
            description: The amount in EUR charged to your account.
            example: "0.04000000"
            type: string
        type: object
      description: Standard Response
      example:
        status_message: Success
        current_carrier: ""
        remaining_balance: "1.23456789"
        country_prefix: "44"
        last_name: Smith
        caller_identity:
          caller_name: John Smith
          last_name: Smith
          first_name: John
          caller_type: consumer
        refund_price: "0.01500000"
        ported: not_ported
        country_code: GB
        country_code_iso3: GBR
        caller_name: John Smith
        request_price: "0.04000000"
        international_format_number: "447700900000"
        country_name: United Kingdom
        original_carrier:
          country: GB
          network_code: "12345"
          name: Acme Inc
          network_type: mobile
        request_id: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        first_name: John
        national_format_number: 07700 900000
        status: 0
        caller_type: consumer
      title: niResponseJsonStandard
    niResponseJsonStandardRoamingUnknown:
      allOf:
      - $ref: '#/components/schemas/niResponseJsonBasic'
      - properties:
          caller_identity:
            $ref: '#/components/schemas/niCallerIdentity'
          caller_name:
            description: Full name of the person or business who owns the phone number.
              `unknown` if this information is not available. This parameter is only
              present if `cnam` had a value of `true` within the request.
            example: John Smith
            type: string
          caller_type:
            description: The value will be `business` if the owner of a phone number
              is a business. If the owner is an individual the value will be `consumer`.
              The value will be `unknown` if this information is not available. This
              parameter is only present if `cnam` had a value of `true` within the
              request.
            enum:
            - business
            - consumer
            - unknown
            example: consumer
            type: string
          current_carrier:
            allOf:
            - $ref: '#/components/schemas/niCurrentCarrierProperties'
            nullable: true
          first_name:
            description: First name of the person who owns the phone number if the
              owner is an individual. This parameter is only present if `cnam` had
              a value of `true` within the request.
            example: John
            type: string
          last_name:
            description: Last name of the person who owns the phone number if the
              owner is an individual. This parameter is only present if `cnam` had
              a value of `true` within the request.
            example: Smith
            type: string
          original_carrier:
            $ref: '#/components/schemas/niInitialCarrierProperties'
          ported:
            description: If the user has changed carrier for `number`. The assumed
              status means that the information supplier has replied to the request
              but has not said explicitly that the number is ported.
            enum:
            - unknown
            - ported
            - not_ported
            - assumed_not_ported
            - assumed_ported
            - "null"
            example: not_ported
            nullable: true
            type: string
          refund_price:
            description: "If there is an internal lookup error, the `refund_price`\
              \ will reflect the lookup price. If `cnam` is requested for a non-US\
              \ number the `refund_price` will reflect the `cnam` price. If both of\
              \ these conditions occur, `refund_price` is the sum of the lookup price\
              \ and `cnam` price."
            example: "0.01500000"
            type: string
          remaining_balance:
            description: Your account balance in EUR after this request.
            example: "1.23456789"
            type: string
          request_price:
            description: The amount in EUR charged to your account.
            example: "0.04000000"
            type: string
        type: object
      description: Unknown Roaming
    niResponseXmlAdvanced:
      description: Advanced
      properties:
        caller_identity:
          $ref: '#/components/schemas/niResponseXmlAdvanced_caller_identity'
        caller_name:
          description: Full name of the person or business who owns the phone number.
            `unknown` if this information is not available. This parameter is only
            present if `cnam` had a value of `true` within the request.
          example: John Smith
          title: caller_name
          type: string
        caller_type:
          description: The value will be `business` if the owner of a phone number
            is a business. If the owner is an individual the value will be `consumer`.
            The value will be `unknown` if this information is not available. This
            parameter is only present if `cnam` had a value of `true` within the request.
          enum:
          - business
          - consumer
          - unknown
          example: consumer
          title: caller_type
          type: string
        current_carrier:
          $ref: '#/components/schemas/niCurrentCarrierProperties'
        error:
          $ref: '#/components/schemas/niResponseXmlAdvanced_error'
        firs_name:
          description: First name of the person who owns the phone number if the owner
            is an individual. This parameter is only present if `cnam` had a value
            of `true` within the request.
          example: John
          title: firs_name
          type: string
        international_format_number:
          description: The `number` in your request in international format.
          example: "447700900000"
          title: international_format_number
          type: string
        ip_warnings:
          description: This property is deprecated and can safely be ignored.
          example: unknown
          nullable: true
          title: ip_warnings
          type: string
        last_name:
          description: Last name of the person who owns the phone number if the owner
            is an individual. This parameter is only present if `cnam` had a value
            of `true` within the request.
          example: Smith
          title: last_name
          type: string
        local_number:
          $ref: '#/components/schemas/niResponseXmlAdvanced_local_number'
        lookup_outcome:
          $ref: '#/components/schemas/niResponseXmlAdvanced_lookup_outcome'
        original_carrier:
          $ref: '#/components/schemas/niInitialCarrierProperties'
        ported:
          $ref: '#/components/schemas/niResponseXmlAdvanced_ported'
        reachable:
          description: Can you call `number` now. This is applicable to mobile numbers
            only.
          enum:
          - unknown
          - reachable
          - undeliverable
          - absent
          - bad_number
          - blacklisted
          - "null"
          example: reachable
          nullable: true
          title: reachable
          type: string
        remaining_balance:
          description: Your account balance in EUR after this request.
          example: "1.23456789"
          title: remaining_balance
          type: string
        request_id:
          description: The unique identifier for your request. This is a alphanumeric
            string up to 40 characters.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          maxLength: 40
          title: request_id
          type: string
          xml:
            name: request_id
        request_price:
          description: "If there is an internal lookup error, the `refund_price` will\
            \ reflect the lookup price. If `cnam` is requested for a non-US number\
            \ the `refund_price` will reflect the `cnam` price. If both of these conditions\
            \ occur, `refund_price` is the sum of the lookup price and `cnam` price."
          example: "0.01500000"
          title: request_price
          type: string
        roaming:
          $ref: '#/components/schemas/niRoaming'
        valid_number:
          description: Does `number` exist. `unknown` means the number could not be
            validated. `valid` means the number is valid. `not_valid` means the number
            is not valid. `inferred_not_valid` means that the number could not be
            determined as valid or invalid via an external system and the best guess
            is that the number is invalid. This is applicable to mobile numbers only.
          enum:
          - unknown
          - valid
          - not_valid
          - inferred_not_valid
          example: valid
          title: valid_number
          type: string
      title: niResponseXmlAdvanced
      type: object
      xml:
        name: lookup
    niResponseXmlBasic:
      description: Basic
      properties:
        error:
          $ref: '#/components/schemas/niResponseXmlBasic_error'
        international_format_number:
          description: The `number` in your request in international format.
          example: "447700900000"
          title: international_format_number
          type: string
        local_number:
          $ref: '#/components/schemas/niResponseXmlBasic_local_number'
        request_id:
          description: The unique identifier for your request. This is a alphanumeric
            string up to 40 characters.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          maxLength: 40
          title: request_id
          type: string
          xml:
            name: request_id
      title: niResponseXmlBasic
      type: object
      xml:
        name: format
    niResponseXmlStandard:
      description: Standard
      properties:
        caller_identity:
          $ref: '#/components/schemas/niResponseXmlStandard_caller_identity'
        current_carrier:
          allOf:
          - $ref: '#/components/schemas/niCurrentCarrierProperties'
          nullable: true
          title: current_carrier
        error:
          $ref: '#/components/schemas/niResponseXmlBasic_error'
        international_format_number:
          description: The `number` in your request in international format.
          example: "447700900000"
          title: international_format_number
          type: string
        local_number:
          $ref: '#/components/schemas/niResponseXmlBasic_local_number'
        original_carrier:
          $ref: '#/components/schemas/niInitialCarrierProperties'
        ported:
          $ref: '#/components/schemas/niResponseXmlStandard_ported'
        remaining_balance:
          description: Your account balance in EUR after this request.
          example: "1.23456789"
          title: remaining_balance
          type: string
        request_id:
          description: The unique identifier for your request. This is a alphanumeric
            string up to 40 characters.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          maxLength: 40
          title: request_id
          type: string
          xml:
            name: request_id
        request_price:
          description: "If there is an internal lookup error, the `refund_price` will\
            \ reflect the lookup price. If `cnam` is requested for a non-US number\
            \ the `refund_price` will reflect the `cnam` price. If both of these conditions\
            \ occur, `refund_price` is the sum of the lookup price and `cnam` price."
          example: "0.01500000"
          title: request_price
          type: string
      title: niResponseXmlStandard
      type: object
      xml:
        name: lookup
    niRoaming:
      description: "Information about the roaming status for `number`. This is applicable\
        \ to mobile numbers only. If unknown, this may return a string of `unknown`\
        \ instead of an object."
      example:
        roaming_network_name: Acme Inc
        roaming_country_code: US
        roaming_network_code: "12345"
        status: roaming
      nullable: true
      properties:
        roaming_country_code:
          description: "If `number` is `roaming`, this is the [code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
            \ of the country `number` is roaming in."
          example: US
          title: roaming_country_code
          type: string
          xml:
            attribute: true
        roaming_network_code:
          description: "If `number` is `roaming`, this is the id of the carrier network\
            \ `number` is roaming in."
          example: "12345"
          title: roaming_network_code
          type: string
          xml:
            attribute: true
        roaming_network_name:
          description: "If `number` is `roaming`, this is the name of the carrier\
            \ network `number` is roaming in."
          example: Acme Inc
          title: roaming_network_name
          type: string
          xml:
            attribute: true
        status:
          description: Is `number` outside its home carrier network.
          enum:
          - roaming
          - not_roaming
          example: roaming
          title: status
          type: string
          xml:
            attribute: true
      title: niRoaming
      type: object
    niStandardAdvancedStatus:
      description: |
        Code | Text
        -- | --
        0 | Success - request accepted for delivery by .
        1 | Busy - you have made more requests in the last second than are permitted by your account. Please retry.
        3 | Invalid - your request is incomplete and missing some mandatory parameters.
        4 | Invalid credentials - the _api_key_ or _api_secret_ you supplied is either not valid or has been disabled.
        5 | Internal Error - the format of the recipient address is not valid.
        9 | Partner quota exceeded - your account does not have sufficient credit to process this request.
        19 | Facility Not Allowed - your request makes use of a facility that is not enabled on your account.
        43, 44, 45 | Live mobile lookup not returned. Not all return parameters are available.
        999 | Request unparseable.
      enum:
      - 0
      - 1
      - 3
      - 4
      - 5
      - 9
      - 19
      - 43
      - 44
      - 45
      - 999
      example: 0
      title: niStandardAdvancedStatus
      type: integer
    getNumberInsightAsync_200_response:
      oneOf:
      - $ref: '#/components/schemas/niResponseAsync'
      title: getNumberInsightAsync_200_response
    getNumberInsightAdvanced_200_response:
      oneOf:
      - $ref: '#/components/schemas/niResponseJsonAdvancedSync'
      - $ref: '#/components/schemas/niResponseJsonAdvancedRoamingUnknown'
      title: getNumberInsightAdvanced_200_response
    getNumberInsightStandard_200_response:
      oneOf:
      - $ref: '#/components/schemas/niResponseJsonStandard'
      title: getNumberInsightStandard_200_response
    niResponseXmlAdvanced_caller_identity:
      description: "Contains details of the number owner, if `cnam` was set to `true`\
        \ in the request."
      properties:
        caller-name:
          description: Full name of the person or business who owns the phone number.
            `unknown` if this information is not available. This parameter is only
            present if `cnam` had a value of `true` within the request.
          example: John Smith
          title: caller-name
          type: string
          xml:
            attribute: true
        caller-type:
          description: The value will be `business` if the owner of a phone number
            is a business. If the owner is an individual the value will be `consumer`.
            The value will be `unknown` if this information is not available. This
            parameter is only present if `cnam` had a value of `true` within the request.
          enum:
          - business
          - consumer
          - unknown
          example: consumer
          title: caller-type
          type: string
          xml:
            attribute: true
        first-name:
          description: First name of the person who owns the phone number if the owner
            is an individual. This parameter is only present if `cnam` had a value
            of `true` within the request.
          example: John
          title: first-name
          type: string
          xml:
            attribute: true
        last-name:
          description: Last name of the person who owns the phone number if the owner
            is an individual. This parameter is only present if `cnam` had a value
            of `true` within the request.
          example: Smith
          title: last-name
          type: string
          xml:
            attribute: true
      title: niResponseXmlAdvanced_caller_identity
    niResponseXmlAdvanced_error:
      description: The error code and status of your request
      properties:
        code:
          description: The status code
          example: "0"
          title: code
          type: string
          xml:
            attribute: true
        status_text:
          description: The status description of your request.
          example: Success
          title: status_text
          type: string
          xml:
            x-text: true
      title: niResponseXmlAdvanced_error
      type: object
      x-nexmo-developer-collection-description-shown: true
    niResponseXmlAdvanced_local_number:
      description: An object containing the `number` in your request in the format
        used by the country the number belongs to.
      properties:
        country_code:
          description: "Two character country code for `number`. This is in [ISO 3166-1\
            \ alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format."
          example: GB
          pattern: "[A-Z]{2}"
          title: country_code
          type: string
          xml:
            attribute: true
        country_code_iso3:
          description: "Three character country code for `number`. This is in [ISO\
            \ 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format."
          example: GBR
          pattern: "[A-Z]{3}"
          title: country_code_iso3
          type: string
          xml:
            attribute: true
        country_name:
          description: The full name of the country that `number` is registered in.
          example: United Kingdom
          title: country_name
          type: string
          xml:
            attribute: true
        country_prefix:
          description: The numeric prefix for the country that `number` is registered
            in.
          example: "44"
          title: country_prefix
          type: string
          xml:
            attribute: true
        number:
          description: The `number` in your request in the format used by the country
            the number belongs to.
          example: 07700 900000
          title: number
          type: string
          xml:
            x-text: true
      title: niResponseXmlAdvanced_local_number
      type: object
      x-nexmo-developer-collection-description-shown: true
    niResponseXmlAdvanced_lookup_outcome:
      description: An object indicating whether all information about a phone number
        has been returned.
      properties:
        code:
          description: |
            Shows if all information about a phone number has been returned. Possible values:

            Code | Text
            -- | --
            0 | Success
            1 | Partial success - some fields populated
            2 | Failed
          enum:
          - 0
          - 1
          - 2
          example: "0"
          title: code
          type: number
          xml:
            attribute: true
        lookup_outcome_message:
          description: Shows if all information about a phone number has been returned.
          example: Success
          title: lookup_outcome_message
          type: string
          xml:
            x-text: true
      title: niResponseXmlAdvanced_lookup_outcome
      type: object
      x-nexmo-developer-collection-description-shown: true
    niResponseXmlAdvanced_ported:
      description: If the user has changed carrier for `number`. The assumed status
        means that the information supplier has replied to the request but has not
        said explicitly that the number is ported.
      nullable: true
      properties:
        ported_message:
          description: If the user has changed carrier for `number`. The assumed status
            means that the information supplier has replied to the request but has
            not said explicitly that the number is ported.
          enum:
          - unknown
          - ported
          - not_ported
          - assumed_not_ported
          - assumed_ported
          example: not_ported
          title: ported_message
          type: string
          xml:
            x-text: true
      title: niResponseXmlAdvanced_ported
    niResponseXmlBasic_error:
      description: The error code and status of your request
      properties:
        code:
          description: The status code
          example: "0"
          title: code
          type: string
          xml:
            attribute: true
        status_text:
          description: The status description of your request.
          example: Success
          title: status_text
          type: string
          xml:
            x-text: true
      title: niResponseXmlBasic_error
      type: object
    niResponseXmlBasic_local_number:
      description: An object containing the `number` in your request in the format
        used by the country the number belongs to.
      properties:
        country_code:
          description: "Two character country code for `number`. This is in [ISO 3166-1\
            \ alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format."
          example: GB
          pattern: "[A-Z]{2}"
          title: country_code
          type: string
          xml:
            attribute: true
        country_code_iso3:
          description: "Three character country code for `number`. This is in [ISO\
            \ 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) format."
          example: GBR
          pattern: "[A-Z]{3}"
          title: country_code_iso3
          type: string
          xml:
            attribute: true
        country_name:
          description: The full name of the country that `number` is registered in.
          example: United Kingdom
          title: country_name
          type: string
          xml:
            attribute: true
        country_prefix:
          description: The numeric prefix for the country that `number` is registered
            in.
          example: "44"
          title: country_prefix
          type: string
          xml:
            attribute: true
        number:
          description: The `number` in your request in the format used by the country
            the number belongs to.
          example: 07700 900000
          title: number
          type: string
          xml:
            x-text: true
      title: niResponseXmlBasic_local_number
      type: object
    niResponseXmlStandard_caller_identity:
      description: "Contains details of the number owner, if `cnam` was set to `true`\
        \ in the request."
      properties:
        caller-name:
          description: Full name of the person or business who owns the phone number.
            `unknown` if this information is not available. This parameter is only
            present if `cnam` had a value of `true` within the request.
          example: John Smith
          title: caller-name
          type: string
          xml:
            attribute: true
        caller-type:
          description: The value will be `business` if the owner of a phone number
            is a business. If the owner is an individual the value will be `consumer`.
            The value will be `unknown` if this information is not available. This
            parameter is only present if `cnam` had a value of `true` within the request.
          enum:
          - business
          - consumer
          - unknown
          example: consumer
          title: caller-type
          type: string
          xml:
            attribute: true
        caller_name:
          description: Full name of the person or business who owns the phone number.
            `unknown` if this information is not available. This parameter is only
            present if `cnam` had a value of `true` within the request.
          example: John Smith
          title: caller_name
          type: string
        caller_type:
          description: The value will be `business` if the owner of a phone number
            is a business. If the owner is an individual the value will be `consumer`.
            The value will be `unknown` if this information is not available. This
            parameter is only present if `cnam` had a value of `true` within the request.
          enum:
          - business
          - consumer
          - unknown
          example: consumer
          title: caller_type
          type: string
        firs_name:
          description: First name of the person who owns the phone number if the owner
            is an individual. This parameter is only present if `cnam` had a value
            of `true` within the request.
          example: John
          title: firs_name
          type: string
        first-name:
          description: First name of the person who owns the phone number if the owner
            is an individual. This parameter is only present if `cnam` had a value
            of `true` within the request.
          example: John
          title: first-name
          type: string
          xml:
            attribute: true
        last-name:
          description: Last name of the person who owns the phone number if the owner
            is an individual. This parameter is only present if `cnam` had a value
            of `true` within the request.
          example: Smith
          title: last-name
          type: string
          xml:
            attribute: true
        last_name:
          description: Last name of the person who owns the phone number if the owner
            is an individual. This parameter is only present if `cnam` had a value
            of `true` within the request.
          example: Smith
          title: last_name
          type: string
      title: niResponseXmlStandard_caller_identity
      type: object
      x-nexmo-developer-collection-description-shown: true
    niResponseXmlStandard_ported:
      description: If the user has changed carrier for number. The assumed status
        means that the information supplier has replied to the request but has not
        said explicitly that the number is ported
      nullable: true
      properties:
        ported_message:
          description: If the user has changed carrier for `number`. The assumed status
            means that the information supplier has replied to the request but has
            not said explicitly that the number is ported.
          enum:
          - unknown
          - ported
          - not_ported
          - assumed_not_ported
          - assumed_ported
          example: not_ported
          title: ported_message
          type: string
          xml:
            x-text: true
      title: niResponseXmlStandard_ported
  securitySchemes:
    apiKey:
      description: "You can find your API key in your [account overview](https://dashboard.nexmo.com/account-overview)"
      in: query
      name: api_key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKey
    apiSecret:
      description: "You can find your API secret in your [account overview](https://dashboard.nexmo.com/account-overview)"
      in: query
      name: api_secret
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiSecret
x-webhooks:
  asyncResponse:
    '{$request.query.callback}':
      post:
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/niResponseJsonAdvancedAsync'
            text/xml:
              schema:
                $ref: '#/components/schemas/niResponseXmlAdvanced'
        responses:
          "200":
            description: OK
        summary: Asynchronous response
  asyncResponseUnknownRoaming:
    '{$request.query.callback}':
      post:
        description: Contains the response to your Number Insight Advanced API request.
        operationId: asyncCallbackRoamingUnknown
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/niResponseJsonAdvancedRoamingUnknown'
            text/xml:
              schema:
                $ref: '#/components/schemas/niResponseXmlAdvanced'
        responses:
          "200":
            description: OK
        summary: Asynchronous response with Unknown Roaming
