openapi: 3.0.1
info:
  description: The DNS Management Client.
  title: DnsManagementClient
  version: 2017-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/dns/resource-manager/Microsoft.Network/stable/2017-09-01/dns.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: dns
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/dnszones:
    get:
      description: Lists the DNS zones in all resource groups in a subscription.
      operationId: Zones_List
      parameters:
      - description: "The maximum number of DNS zones to return. If not specified,\
          \ returns up to 100 zones."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Zones
      x-ms-examples:
        List zones by subscription:
          parameters:
            api-version: 2017-09-01
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/providers/Microsoft.Network/dnsZones?api-version=2017-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                  location: global
                  name: zone1
                  properties:
                    maxNumberOfRecordSets: 5000
                    nameServers:
                    - ns1-01.azure-dns.com
                    - ns2-01.azure-dns.net
                    - ns3-01.azure-dns.org
                    - ns4-01.azure-dns.info
                    numberOfRecordSets: 2
                  tags:
                    key1: value1
                  type: Microsoft.Network/dnsZones
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/dnsZones/zone2
                  location: global
                  name: zone2
                  properties:
                    maxNumberOfRecordSets: 5000
                    nameServers:
                    - ns1-02.azure-dns.com
                    - ns2-02.azure-dns.net
                    - ns3-02.azure-dns.org
                    - ns4-02.azure-dns.info
                    numberOfRecordSets: 300
                  type: Microsoft.Network/dnsZones
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones:
    get:
      description: Lists the DNS zones within a resource group.
      operationId: Zones_ListByResourceGroup
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The maximum number of record sets to return. If not specified,\
          \ returns up to 100 record sets."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Zones
      x-ms-examples:
        List zones by resource group:
          parameters:
            api-version: 2017-09-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones?api-version=2017-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                  location: global
                  name: zone1
                  properties:
                    maxNumberOfRecordSets: 5000
                    nameServers:
                    - ns1-01.azure-dns.com
                    - ns2-01.azure-dns.net
                    - ns3-01.azure-dns.org
                    - ns4-01.azure-dns.info
                    numberOfRecordSets: 2
                  tags:
                    key1: value1
                  type: Microsoft.Network/dnsZones
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone2
                  location: global
                  name: zone2
                  properties:
                    maxNumberOfRecordSets: 5000
                    nameServers:
                    - ns1-02.azure-dns.com
                    - ns2-02.azure-dns.net
                    - ns3-02.azure-dns.org
                    - ns4-02.azure-dns.info
                    numberOfRecordSets: 300
                  type: Microsoft.Network/dnsZones
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}:
    delete:
      description: "Deletes a DNS zone. WARNING: All DNS records in the zone will\
        \ also be deleted. This operation cannot be undone."
      operationId: Zones_Delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: The etag of the DNS zone. Omit this value to always delete the
          current zone. Specify the last-seen etag value to prevent accidentally deleting
          any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content: {}
          description: The DNS zone has been deleted.
        "202":
          content: {}
          description: The DNS zone delete operation has been accepted and will complete
            asynchronously.
        "204":
          content: {}
          description: The DNS zone was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Zones
      x-ms-examples:
        Delete zone:
          parameters:
            api-version: 2017-09-01
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200": {}
            "202":
              headers:
                Azure-AsyncOperation: https://asyncoperationstatusurl
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: "Gets a DNS zone. Retrieves the zone properties, but not the record\
        \ sets within the zone."
      operationId: Zones_Get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Zones
      x-ms-examples:
        Get zone:
          parameters:
            api-version: 2017-09-01
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                location: global
                name: zone1
                properties:
                  maxNumberOfRecordSets: 5000
                  nameServers:
                  - ns1-01.azure-dns.com
                  - ns2-01.azure-dns.net
                  - ns3-01.azure-dns.org
                  - ns4-01.azure-dns.info
                  numberOfRecordSets: 2
                tags:
                  key1: value1
                type: Microsoft.Network/dnsZones
      x-accepts:
      - application/json
    put:
      description: Creates or updates a DNS zone. Does not modify DNS records within
        the zone.
      operationId: Zones_CreateOrUpdate
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: The etag of the DNS zone. Omit this value to always overwrite
          the current zone. Specify the last-seen etag value to prevent accidentally
          overwriting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: "Set to '*' to allow a new DNS zone to be created, but to prevent\
          \ updating an existing zone. Other values will be ignored."
        in: header
        name: If-None-Match
        schema:
          type: string
          x-ms-client-name: IfNoneMatch
        x-ms-client-name: IfNoneMatch
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zone'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: The DNS zone has been updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: The DNS zone has been created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Zones
      x-ms-examples:
        Create zone:
          parameters:
            api-version: 2017-09-01
            parameters:
              location: Global
              tags:
                key1: value1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                location: global
                name: zone1
                properties:
                  maxNumberOfRecordSets: 5000
                  nameServers:
                  - ns1-01.azure-dns.com
                  - ns2-01.azure-dns.net
                  - ns3-01.azure-dns.org
                  - ns4-01.azure-dns.info
                  numberOfRecordSets: 2
                tags:
                  key1: value1
                type: Microsoft.Network/dnsZones
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                location: global
                name: zone1
                properties:
                  maxNumberOfRecordSets: 5000
                  nameServers:
                  - ns1-01.azure-dns.com
                  - ns2-01.azure-dns.net
                  - ns3-01.azure-dns.org
                  - ns4-01.azure-dns.info
                  numberOfRecordSets: 2
                tags:
                  key1: value1
                type: Microsoft.Network/dnsZones
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/recordsets:
    get:
      description: Lists all record sets in a DNS zone.
      operationId: RecordSets_ListByDnsZone
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: "The maximum number of record sets to return. If not specified,\
          \ returns up to 100 record sets."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The suffix label of the record set name that has to be used\
          \ to filter the record set enumerations. If this parameter is specified,\
          \ Enumeration will return only records that end with .<recordSetNameSuffix>"
        in: query
        name: $recordsetnamesuffix
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        List recordsets by zone:
          parameters:
            api-version: 2017-09-01
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA?api-version=2017-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                  name: record1
                  properties:
                    TTL: 3600
                    caaRecords:
                    - flags: 0
                      tag: issue
                      value: ca.contoso.com
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/CAA
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/A/record1
                  name: record1
                  properties:
                    ARecords:
                    - ipv4Address: 127.0.0.1
                    TTL: 3600
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/A
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CNAME/record2
                  name: record2
                  properties:
                    CNAMERecord:
                      cname: contoso.com
                    TTL: 3600
                    fqdn: record2.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/CNAME
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}:
    get:
      description: Lists the record sets of a specified type in a DNS zone.
      operationId: RecordSets_ListByType
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: The type of record sets to enumerate.
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - MX
          - NS
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: "The maximum number of record sets to return. If not specified,\
          \ returns up to 100 record sets."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The suffix label of the record set name that has to be used\
          \ to filter the record set enumerations. If this parameter is specified,\
          \ Enumeration will return only records that end with .<recordSetNameSuffix>"
        in: query
        name: $recordsetnamesuffix
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        List CAA recordset:
          parameters:
            api-version: 2017-09-01
            recordType: CAA
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA?api-version=2017-09-01&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                  name: record1
                  properties:
                    TTL: 3600
                    caaRecords:
                    - flags: 0
                      tag: issue
                      value: ca.contoso.com
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/CAA
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}/{relativeRecordSetName}
  : delete:
      description: Deletes a record set from a DNS zone. This operation cannot be
        undone.
      operationId: RecordSets_Delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The type of DNS record in this record set. Record sets of type
          SOA cannot be deleted (they are deleted when the DNS zone is deleted).
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - MX
          - NS
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: The etag of the record set. Omit this value to always delete
          the current record set. Specify the last-seen etag value to prevent accidentally
          deleting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content: {}
          description: The record set has been deleted.
        "204":
          content: {}
          description: The record set was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        Delete CAA recordset:
          parameters:
            api-version: 2017-09-01
            recordType: CAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets a record set.
      operationId: RecordSets_Get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The type of DNS record in this record set.
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - MX
          - NS
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        Get CAA recordset:
          parameters:
            api-version: 2017-09-01
            recordType: CAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                name: record1
                properties:
                  TTL: 3600
                  caaRecords:
                  - flags: 0
                    tag: issue
                    value: ca.contoso.com
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/CAA
      x-accepts:
      - application/json
    patch:
      description: Updates a record set within a DNS zone.
      operationId: RecordSets_Update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The type of DNS record in this record set.
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - MX
          - NS
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: The etag of the record set. Omit this value to always overwrite
          the current record set. Specify the last-seen etag value to prevent accidentally
          overwriting concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the Update operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        Patch CAA recordset:
          parameters:
            api-version: 2017-09-01
            parameters:
              properties:
                metadata:
                  key2: value2
            recordType: CAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                name: record1
                properties:
                  TTL: 3600
                  caaRecords:
                  - flags: 0
                    tag: issue
                    value: ca.contoso.com
                  fqdn: record1.zone1
                  metadata:
                    key2: value2
                type: Microsoft.Network/dnsZones/CAA
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a record set within a DNS zone.
      operationId: RecordSets_CreateOrUpdate
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The type of DNS record in this record set. Record sets of type
          SOA can be updated but not created (they are created when the DNS zone is
          created).
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - MX
          - NS
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: The etag of the record set. Omit this value to always overwrite
          the current record set. Specify the last-seen etag value to prevent accidentally
          overwriting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: "Set to '*' to allow a new record set to be created, but to prevent\
          \ updating an existing record set. Other values will be ignored."
        in: header
        name: If-None-Match
        schema:
          type: string
          x-ms-client-name: IfNoneMatch
        x-ms-client-name: IfNoneMatch
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        Create CAA recordset:
          parameters:
            api-version: 2017-09-01
            parameters:
              properties:
                TTL: 3600
                caaRecords:
                - flags: 0
                  tag: issue
                  value: ca.contoso.com
                metadata:
                  key1: value1
            recordType: CAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                name: record1
                properties:
                  TTL: 3600
                  caaRecords:
                  - flags: 0
                    tag: issue
                    value: ca.contoso.com
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/CAA
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                name: record1
                properties:
                  TTL: 3600
                  caaRecords:
                  - flags: 0
                    tag: issue
                    value: ca.contoso.com
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/CAA
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    ARecord:
      description: An A record.
      example:
        ipv4Address: ipv4Address
      properties:
        ipv4Address:
          description: The IPv4 address of this A record.
          type: string
      type: object
    AaaaRecord:
      description: An AAAA record.
      example:
        ipv6Address: ipv6Address
      properties:
        ipv6Address:
          description: The IPv6 address of this AAAA record.
          type: string
      type: object
    CaaRecord:
      description: A CAA record.
      example:
        flags: 4
        tag: tag
        value: value
      properties:
        flags:
          description: The flags for this CAA record as an integer between 0 and 255.
          format: int32
          type: integer
        tag:
          description: The tag for this CAA record.
          type: string
        value:
          description: The value for this CAA record.
          type: string
      type: object
    CloudError:
      description: An error message
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: The body of an error message
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: The error code
          type: string
        details:
          description: Extra error information
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: A description of what caused the error
          type: string
        target:
          description: The target resource of the error message
          type: string
      type: object
      x-ms-external: true
    CnameRecord:
      description: A CNAME record.
      example:
        cname: cname
      properties:
        cname:
          description: The canonical name for this CNAME record.
          type: string
      type: object
    MxRecord:
      description: An MX record.
      example:
        preference: 0
        exchange: exchange
      properties:
        exchange:
          description: The domain name of the mail host for this MX record.
          type: string
        preference:
          description: The preference value for this MX record.
          format: int32
          type: integer
      type: object
    NsRecord:
      description: An NS record.
      example:
        nsdname: nsdname
      properties:
        nsdname:
          description: The name server name for this NS record.
          type: string
      type: object
    PtrRecord:
      description: A PTR record.
      example:
        ptrdname: ptrdname
      properties:
        ptrdname:
          description: The PTR target domain name for this PTR record.
          type: string
      type: object
    RecordSet:
      description: Describes a DNS record set (a collection of DNS records with the
        same name and type).
      example:
        name: name
        etag: etag
        id: id
        type: type
        properties:
          AAAARecords:
          - ipv6Address: ipv6Address
          - ipv6Address: ipv6Address
          metadata:
            key: metadata
          fqdn: fqdn
          NSRecords:
          - nsdname: nsdname
          - nsdname: nsdname
          MXRecords:
          - preference: 0
            exchange: exchange
          - preference: 0
            exchange: exchange
          SRVRecords:
          - port: 7
            weight: 3
            priority: 9
            target: target
          - port: 7
            weight: 3
            priority: 9
            target: target
          ARecords:
          - ipv4Address: ipv4Address
          - ipv4Address: ipv4Address
          TTL: 2
          CNAMERecord:
            cname: cname
          PTRRecords:
          - ptrdname: ptrdname
          - ptrdname: ptrdname
          TXTRecords:
          - value:
            - value
            - value
          - value:
            - value
            - value
          caaRecords:
          - flags: 4
            tag: tag
            value: value
          - flags: 4
            tag: tag
            value: value
          SOARecord:
            expireTime: 6
            serialNumber: 2
            minimumTTL: 1
            refreshTime: 5
            host: host
            retryTime: 5
            email: email
      properties:
        etag:
          description: The etag of the record set.
          type: string
        id:
          description: The ID of the record set.
          readOnly: true
          type: string
        name:
          description: The name of the record set.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/RecordSetProperties'
        type:
          description: The type of the record set.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    RecordSetListResult:
      description: The response to a record set List operation.
      example:
        value:
        - name: name
          etag: etag
          id: id
          type: type
          properties:
            AAAARecords:
            - ipv6Address: ipv6Address
            - ipv6Address: ipv6Address
            metadata:
              key: metadata
            fqdn: fqdn
            NSRecords:
            - nsdname: nsdname
            - nsdname: nsdname
            MXRecords:
            - preference: 0
              exchange: exchange
            - preference: 0
              exchange: exchange
            SRVRecords:
            - port: 7
              weight: 3
              priority: 9
              target: target
            - port: 7
              weight: 3
              priority: 9
              target: target
            ARecords:
            - ipv4Address: ipv4Address
            - ipv4Address: ipv4Address
            TTL: 2
            CNAMERecord:
              cname: cname
            PTRRecords:
            - ptrdname: ptrdname
            - ptrdname: ptrdname
            TXTRecords:
            - value:
              - value
              - value
            - value:
              - value
              - value
            caaRecords:
            - flags: 4
              tag: tag
              value: value
            - flags: 4
              tag: tag
              value: value
            SOARecord:
              expireTime: 6
              serialNumber: 2
              minimumTTL: 1
              refreshTime: 5
              host: host
              retryTime: 5
              email: email
        - name: name
          etag: etag
          id: id
          type: type
          properties:
            AAAARecords:
            - ipv6Address: ipv6Address
            - ipv6Address: ipv6Address
            metadata:
              key: metadata
            fqdn: fqdn
            NSRecords:
            - nsdname: nsdname
            - nsdname: nsdname
            MXRecords:
            - preference: 0
              exchange: exchange
            - preference: 0
              exchange: exchange
            SRVRecords:
            - port: 7
              weight: 3
              priority: 9
              target: target
            - port: 7
              weight: 3
              priority: 9
              target: target
            ARecords:
            - ipv4Address: ipv4Address
            - ipv4Address: ipv4Address
            TTL: 2
            CNAMERecord:
              cname: cname
            PTRRecords:
            - ptrdname: ptrdname
            - ptrdname: ptrdname
            TXTRecords:
            - value:
              - value
              - value
            - value:
              - value
              - value
            caaRecords:
            - flags: 4
              tag: tag
              value: value
            - flags: 4
              tag: tag
              value: value
            SOARecord:
              expireTime: 6
              serialNumber: 2
              minimumTTL: 1
              refreshTime: 5
              host: host
              retryTime: 5
              email: email
        nextLink: nextLink
      properties:
        nextLink:
          description: The continuation token for the next page of results.
          readOnly: true
          type: string
        value:
          description: Information about the record sets in the response.
          items:
            $ref: '#/components/schemas/RecordSet'
          type: array
      type: object
    RecordSetProperties:
      description: Represents the properties of the records in the record set.
      example:
        AAAARecords:
        - ipv6Address: ipv6Address
        - ipv6Address: ipv6Address
        metadata:
          key: metadata
        fqdn: fqdn
        NSRecords:
        - nsdname: nsdname
        - nsdname: nsdname
        MXRecords:
        - preference: 0
          exchange: exchange
        - preference: 0
          exchange: exchange
        SRVRecords:
        - port: 7
          weight: 3
          priority: 9
          target: target
        - port: 7
          weight: 3
          priority: 9
          target: target
        ARecords:
        - ipv4Address: ipv4Address
        - ipv4Address: ipv4Address
        TTL: 2
        CNAMERecord:
          cname: cname
        PTRRecords:
        - ptrdname: ptrdname
        - ptrdname: ptrdname
        TXTRecords:
        - value:
          - value
          - value
        - value:
          - value
          - value
        caaRecords:
        - flags: 4
          tag: tag
          value: value
        - flags: 4
          tag: tag
          value: value
        SOARecord:
          expireTime: 6
          serialNumber: 2
          minimumTTL: 1
          refreshTime: 5
          host: host
          retryTime: 5
          email: email
      properties:
        AAAARecords:
          description: The list of AAAA records in the record set.
          items:
            $ref: '#/components/schemas/AaaaRecord'
          type: array
          x-ms-client-name: AaaaRecords
        ARecords:
          description: The list of A records in the record set.
          items:
            $ref: '#/components/schemas/ARecord'
          type: array
        CNAMERecord:
          $ref: '#/components/schemas/CnameRecord'
        MXRecords:
          description: The list of MX records in the record set.
          items:
            $ref: '#/components/schemas/MxRecord'
          type: array
          x-ms-client-name: MxRecords
        NSRecords:
          description: The list of NS records in the record set.
          items:
            $ref: '#/components/schemas/NsRecord'
          type: array
          x-ms-client-name: NsRecords
        PTRRecords:
          description: The list of PTR records in the record set.
          items:
            $ref: '#/components/schemas/PtrRecord'
          type: array
          x-ms-client-name: PtrRecords
        SOARecord:
          $ref: '#/components/schemas/SoaRecord'
        SRVRecords:
          description: The list of SRV records in the record set.
          items:
            $ref: '#/components/schemas/SrvRecord'
          type: array
          x-ms-client-name: SrvRecords
        TTL:
          description: The TTL (time-to-live) of the records in the record set.
          format: int64
          type: integer
        TXTRecords:
          description: The list of TXT records in the record set.
          items:
            $ref: '#/components/schemas/TxtRecord'
          type: array
          x-ms-client-name: TxtRecords
        caaRecords:
          description: The list of CAA records in the record set.
          items:
            $ref: '#/components/schemas/CaaRecord'
          type: array
          x-ms-client-name: CaaRecords
        fqdn:
          description: Fully qualified domain name of the record set.
          readOnly: true
          type: string
        metadata:
          additionalProperties:
            type: string
          description: The metadata attached to the record set.
          type: object
      type: object
    RecordSetUpdateParameters:
      description: Parameters supplied to update a record set.
      properties:
        RecordSet:
          $ref: '#/components/schemas/RecordSet'
      type: object
    SoaRecord:
      description: An SOA record.
      example:
        expireTime: 6
        serialNumber: 2
        minimumTTL: 1
        refreshTime: 5
        host: host
        retryTime: 5
        email: email
      properties:
        email:
          description: The email contact for this SOA record.
          type: string
        expireTime:
          description: The expire time for this SOA record.
          format: int64
          type: integer
        host:
          description: The domain name of the authoritative name server for this SOA
            record.
          type: string
        minimumTTL:
          description: The minimum value for this SOA record. By convention this is
            used to determine the negative caching duration.
          format: int64
          type: integer
          x-ms-client-name: minimumTtl
        refreshTime:
          description: The refresh value for this SOA record.
          format: int64
          type: integer
        retryTime:
          description: The retry time for this SOA record.
          format: int64
          type: integer
        serialNumber:
          description: The serial number for this SOA record.
          format: int64
          type: integer
      type: object
    SrvRecord:
      description: An SRV record.
      example:
        port: 7
        weight: 3
        priority: 9
        target: target
      properties:
        port:
          description: The port value for this SRV record.
          format: int32
          type: integer
        priority:
          description: The priority value for this SRV record.
          format: int32
          type: integer
        target:
          description: The target domain name for this SRV record.
          type: string
        weight:
          description: The weight value for this SRV record.
          format: int32
          type: integer
      type: object
    SubResource:
      description: A reference to a another resource
      properties:
        id:
          description: Resource Id.
          type: string
      type: object
      x-ms-external: true
    TxtRecord:
      description: A TXT record.
      example:
        value:
        - value
        - value
      properties:
        value:
          description: The text value of this TXT record.
          items:
            type: string
          type: array
      type: object
    Zone:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
        required:
        - location
      description: Describes a DNS zone.
      example:
        etag: etag
        properties:
          numberOfRecordSets: 6
          nameServers:
          - nameServers
          - nameServers
          maxNumberOfRecordSets: 0
      properties:
        etag:
          description: The etag of the zone.
          type: string
        properties:
          $ref: '#/components/schemas/ZoneProperties'
    ZoneListResult:
      description: The response to a Zone List or ListAll operation.
      example:
        value:
        - etag: etag
          properties:
            numberOfRecordSets: 6
            nameServers:
            - nameServers
            - nameServers
            maxNumberOfRecordSets: 0
        - etag: etag
          properties:
            numberOfRecordSets: 6
            nameServers:
            - nameServers
            - nameServers
            maxNumberOfRecordSets: 0
        nextLink: nextLink
      properties:
        nextLink:
          description: The continuation token for the next page of results.
          readOnly: true
          type: string
        value:
          description: Information about the DNS zones.
          items:
            $ref: '#/components/schemas/Zone'
          type: array
      type: object
    ZoneProperties:
      description: Represents the properties of the zone.
      example:
        numberOfRecordSets: 6
        nameServers:
        - nameServers
        - nameServers
        maxNumberOfRecordSets: 0
      properties:
        maxNumberOfRecordSets:
          description: The maximum number of record sets that can be created in this
            DNS zone.  This is a read-only property and any attempt to set this value
            will be ignored.
          format: int64
          readOnly: true
          type: integer
        nameServers:
          description: The name servers for this DNS zone. This is a read-only property
            and any attempt to set this value will be ignored.
          items:
            type: string
          readOnly: true
          type: array
        numberOfRecordSets:
          description: The current number of record sets in this DNS zone.  This is
            a read-only property and any attempt to set this value will be ignored.
          format: int64
          readOnly: true
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

