openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2017-10-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/elasticPools.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: sql-elasticPools
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools:
    get:
      description: Gets all elastic pools in a server.
      operationId: elastic_pools_list_by_server
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of elements in the collection to skip.
        in: query
        name: $skip
        schema:
          type: integer
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPoolListResult'
          description: Succeeded
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 405 NotSupported - This functionality is not supported.

             * 409 ServerDisabled - Server is disabled.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - ElasticPools
      x-ms-examples:
        Get all elastic pools in a server:
          parameters:
            api-version: 2017-10-01
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-2729
                  location: Japan East
                  name: sqlcrudtest-2729
                  properties:
                    creationDate: 2017-02-10T01:27:21.32Z
                    licenseType: LicenseIncluded
                    maxSizeBytes: 5242880000
                    perDatabaseSettings:
                      maxCapacity: 1
                      minCapacity: 0.25
                    state: Ready
                    zoneRedundant: true
                  sku:
                    capacity: 2
                    name: GP_Gen4_2
                    tier: GeneralPurpose
                  type: Microsoft.Sql/servers/elasticPools
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-3191
                  location: Japan East
                  name: sqlcrudtest-3191
                  properties:
                    creationDate: 2017-02-10T01:26:26.45Z
                    maxSizeBytes: 5242880000
                    perDatabaseSettings:
                      maxCapacity: 5
                      minCapacity: 0
                    state: Ready
                  sku:
                    capacity: 50
                    name: BasicPool
                    tier: Basic
                  type: Microsoft.Sql/servers/elasticPools
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                  location: Japan East
                  name: sqlcrudtest-8102
                  properties:
                    creationDate: 2017-02-10T01:25:25.033Z
                    maxSizeBytes: 5242880000
                    perDatabaseSettings:
                      maxCapacity: 5
                      minCapacity: 0
                    state: Ready
                  sku:
                    capacity: 50
                    name: BasicPool
                    tier: Basic
                  type: Microsoft.Sql/servers/elasticPools
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.elastic_pools_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}
  : delete:
      description: Deletes an elastic pool.
      operationId: elastic_pools_delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the elastic pool.
        in: path
        name: elasticPoolName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Deleted the elastic pool
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: Elastic pool did not exist
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 405 NotSupported - This functionality is not supported.

             * 409 ServerDisabled - Server is disabled.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - ElasticPools
      x-ms-examples:
        Delete an elastic pool:
          parameters:
            api-version: 2017-10-01
            elasticPoolName: sqlcrudtest-3851
            resourceGroupName: sqlcrudtest-3129
            serverName: sqlcrudtest-228
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.elastic_pools_controller
    get:
      description: Gets an elastic pool.
      operationId: elastic_pools_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the elastic pool.
        in: path
        name: elasticPoolName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPool'
          description: Succeeded
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ResourceNotFound - The requested resource was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 ServerDisabled - Server is disabled.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - ElasticPools
      x-ms-examples:
        Get an elastic pool:
          parameters:
            api-version: 2017-10-01
            elasticPoolName: sqlcrudtest-8102
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: 2017-10-10T01:25:25.033Z
                  licenseType: LicenseIncluded
                  maxSizeBytes: 5242880000
                  perDatabaseSettings:
                    maxCapacity: 1
                    minCapacity: 0.25
                  state: Ready
                  zoneRedundant: true
                sku:
                  capacity: 2
                  name: GP_Gen4_2
                  tier: GeneralPurpose
                type: Microsoft.Sql/servers/elasticPools
      x-openapi-router-controller: openapi_server.controllers.elastic_pools_controller
    patch:
      description: Updates an elastic pool.
      operationId: elastic_pools_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the elastic pool.
        in: path
        name: elasticPoolName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElasticPoolUpdate'
        description: The elastic pool update parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPool'
          description: Updated the elastic pool
        "202":
          content: {}
          description: Accepted
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 400 InvalidSkuName - Invalid SKU name.

             * 400 MismatchedSkuNameAndCapacity - Mismatch between SKU name and capacity.

             * 400 MismatchedSkuNameAndTier - Mismatch between SKU name and tier.

             * 400 MismatchedSkuNameAndFamily - Mismatch between SKU name and family.

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 405 NotSupported - This functionality is not supported.

             * 405 NotSupported - This functionality is not supported.

             * 409 ServerDisabled - Server is disabled.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 ServerDisabled - Server is disabled.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - ElasticPools
      x-ms-examples:
        Update an elastic pool with all parameter:
          parameters:
            api-version: 2017-10-01
            elasticPoolName: sqlcrudtest-8102
            parameters:
              properties:
                licenseType: LicenseIncluded
                perDatabaseSettings:
                  maxCapacity: 1
                  minCapacity: 0.25
                zoneRedundant: true
              sku:
                capacity: 2
                name: BC_Gen4_2
                tier: BusinessCritical
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: 2017-02-10T01:27:21.32Z
                  licenseType: LicenseIncluded
                  maxSizeBytes: 5242880000
                  perDatabaseSettings:
                    maxCapacity: 1
                    minCapacity: 0.25
                  state: Ready
                  zoneRedundant: true
                sku:
                  capacity: 2
                  name: BC_Gen4_2
                  tier: BusinessCritical
                type: Microsoft.Sql/servers/elasticPools
            "202": {}
        Update an elastic pool with minimum parameters:
          parameters:
            api-version: 2017-10-01
            elasticPoolName: sqlcrudtest-8102
            parameters: {}
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: 2017-02-10T01:25:25.033Z
                  maxSizeBytes: 5242880000
                  perDatabaseSettings:
                    maxCapacity: 5
                    minCapacity: 0
                  state: Ready
                sku:
                  capacity: 50
                  name: BasicPool
                  tier: Basic
                type: Microsoft.Sql/servers/elasticPools
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.elastic_pools_controller
    put:
      description: Creates or updates an elastic pool.
      operationId: elastic_pools_create_or_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the elastic pool.
        in: path
        name: elasticPoolName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElasticPool'
        description: The elastic pool parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPool'
          description: Updated the elastic pool
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticPool'
          description: Created the elastic pool
        "202":
          content: {}
          description: Accepted
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 400 InvalidSkuName - Invalid SKU name.

             * 400 MismatchedSkuNameAndCapacity - Mismatch between SKU name and capacity.

             * 400 MismatchedSkuNameAndTier - Mismatch between SKU name and tier.

             * 400 MismatchedSkuNameAndFamily - Mismatch between SKU name and family.

             * 400 ElasticPoolStorageBelowLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 ElasticPoolStorageNotAllowedMB - Attempting to set the elastic pool storage limit in mb which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitMB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service tier from Premium to Standard or Basic since one or more of its databases use memory-optimized objects.

             * 400 ElasticPoolOverFileSpace - Insufficient file space in the elastic pool.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 400 ElasticPoolAlreadyExists - The server already contains an elastic pool with the specified name.

             * 400 InvalidInputValueForEdition - Specified edition is not supported for elastic pool provisioning.

             * 400 ElasticPoolDtuBelowLimit - The requested DTU value is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too high for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxBelowLimit - The requested per database DTU max is too low for the requested elastic pool service tier.

             * 400 ElasticPoolDbDtuMaxAboveLimit - The requested per database DTU max is too high for the requested elastic pool service tier.

             * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the DTU max per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min per database is too high for the requested service tier.

             * 400 InvalidInputValueForDatabaseDtuMin - Attempting to set the DTU min per database for the Resource Pool which doesn't match the allowed values.

             * 400 ElasticPoolStorageAboveLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in this region.

             * 400 ElasticPoolNotEmpty - Request to delete an elastic pool that is not empty.

             * 400 ElasticPoolStorageBelowLimitGB - Attempting to set the elastic pool storage limit below the supported limit.

             * 400 ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage limit in gb which doesn't match the allowed values.

             * 400 ElasticPoolDatabaseLimit - The elastic pool has reached its limit for number of databases.

             * 400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease the storage limit of the elastic pool below its storage usage.

             * 400 ElasticPoolBusy - A management operation was attempted on an elastic pool which is busy.

             * 400 InvalidInputValueDatabaseDtuMinLargerThanMax - Attempting to set the DTU min per database higher than the DTU max per database.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ElasticPoolNotFound - The specified elastic pool does not exist for the specified server.

             * 405 NotSupported - This functionality is not supported.

             * 405 NotSupported - This functionality is not supported.

             * 409 ServerDisabled - Server is disabled.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 ServerDisabled - Server is disabled.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - ElasticPools
      x-ms-examples:
        Create or update elastic pool with all parameter:
          parameters:
            api-version: 2017-10-01
            elasticPoolName: sqlcrudtest-8102
            parameters:
              location: Japan East
              properties:
                perDatabaseSettings:
                  maxCapacity: 2
                  minCapacity: 0.25
              sku:
                capacity: 2
                name: GP_Gen4_2
                tier: GeneralPurpose
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: 2017-02-10T01:25:25.033Z
                  maxSizeBytes: 5242880000
                  perDatabaseSettings:
                    maxCapacity: 2
                    minCapacity: 0.25
                  state: Ready
                sku:
                  capacity: 2
                  name: GP_Gen4_2
                  tier: GeneralPurpose
                type: Microsoft.Sql/servers/elasticPools
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: 2017-02-10T01:25:25.033Z
                  maxSizeBytes: 5242880000
                  perDatabaseSettings:
                    maxCapacity: 2
                    minCapacity: 0.25
                  state: Ready
                sku:
                  capacity: 2
                  name: GP_Gen4_2
                  tier: GeneralPurpose
                type: Microsoft.Sql/servers/elasticPools
            "202": {}
        Create or update elastic pool with minimum parameters:
          parameters:
            api-version: 2017-10-01
            elasticPoolName: sqlcrudtest-8102
            parameters:
              location: Japan East
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: 2017-02-10T01:25:25.033Z
                  maxSizeBytes: 102400
                  perDatabaseSettings:
                    maxCapacity: 100
                    minCapacity: 0
                  state: Ready
                sku:
                  capacity: 100
                  name: StandardPool
                  tier: Standard
                type: Microsoft.Sql/servers/elasticPools
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: 2017-02-10T01:25:25.033Z
                  maxSizeBytes: 102400
                  perDatabaseSettings:
                    maxCapacity: 100
                    minCapacity: 0
                  state: Ready
                sku:
                  capacity: 100
                  name: StandardPool
                  tier: Standard
                type: Microsoft.Sql/servers/elasticPools
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.elastic_pools_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
        - default
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ElasticPool:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM tracked top level resource.
        properties:
          location:
            description: Resource location.
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
        required:
        - location
      description: An elastic pool.
      example:
        kind: kind
        sku: "{}"
        properties:
          licenseType: LicenseIncluded
          perDatabaseSettings:
            maxCapacity: 6.027456183070403
            minCapacity: 1.4658129805029452
          maxSizeBytes: 0
          zoneRedundant: true
          state: Creating
          creationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        kind:
          description: Kind of elastic pool. This is metadata used for the Azure portal
            experience.
          readOnly: true
          title: kind
          type: string
        properties:
          $ref: '#/components/schemas/ElasticPoolProperties'
        sku:
          description: An ARM Resource SKU.
          properties:
            capacity:
              description: Capacity of the particular SKU.
              format: int32
              title: capacity
              type: integer
            family:
              description: "If the service has different generations of hardware,\
                \ for the same SKU, then that can be captured here."
              title: family
              type: string
            name:
              description: "The name of the SKU, typically, a letter + Number code,\
                \ e.g. P3."
              title: name
              type: string
            size:
              description: Size of the particular SKU
              title: size
              type: string
            tier:
              description: "The tier or edition of the particular SKU, e.g. Basic,\
                \ Premium."
              title: tier
              type: string
          required:
          - name
          title: sku
          type: object
      title: ElasticPool
    ElasticPoolListResult:
      description: The result of an elastic pool list request.
      example:
        value:
        - kind: kind
          sku: "{}"
          properties:
            licenseType: LicenseIncluded
            perDatabaseSettings:
              maxCapacity: 6.027456183070403
              minCapacity: 1.4658129805029452
            maxSizeBytes: 0
            zoneRedundant: true
            state: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
        - kind: kind
          sku: "{}"
          properties:
            licenseType: LicenseIncluded
            perDatabaseSettings:
              maxCapacity: 6.027456183070403
              minCapacity: 1.4658129805029452
            maxSizeBytes: 0
            zoneRedundant: true
            state: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/ElasticPool'
          readOnly: true
          title: value
          type: array
      title: ElasticPoolListResult
      type: object
    ElasticPoolPerDatabaseSettings:
      description: Per database settings of an elastic pool.
      example:
        maxCapacity: 6.027456183070403
        minCapacity: 1.4658129805029452
      properties:
        maxCapacity:
          description: The maximum capacity any one database can consume.
          format: double
          title: maxCapacity
          type: number
        minCapacity:
          description: The minimum capacity all databases are guaranteed.
          format: double
          title: minCapacity
          type: number
      title: ElasticPoolPerDatabaseSettings
      type: object
    ElasticPoolProperties:
      description: Properties of an elastic pool
      example:
        licenseType: LicenseIncluded
        perDatabaseSettings:
          maxCapacity: 6.027456183070403
          minCapacity: 1.4658129805029452
        maxSizeBytes: 0
        zoneRedundant: true
        state: Creating
        creationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        creationDate:
          description: The creation date of the elastic pool (ISO8601 format).
          format: date-time
          readOnly: true
          title: creationDate
          type: string
        licenseType:
          description: The license type to apply for this elastic pool.
          enum:
          - LicenseIncluded
          - BasePrice
          title: licenseType
          type: string
          x-ms-enum:
            modelAsString: true
            name: ElasticPoolLicenseType
        maxSizeBytes:
          description: The storage limit for the database elastic pool in bytes.
          format: int64
          title: maxSizeBytes
          type: integer
        perDatabaseSettings:
          $ref: '#/components/schemas/ElasticPoolPerDatabaseSettings'
        state:
          description: The state of the elastic pool.
          enum:
          - Creating
          - Ready
          - Disabled
          readOnly: true
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: ElasticPoolState
        zoneRedundant:
          description: "Whether or not this elastic pool is zone redundant, which\
            \ means the replicas of this elastic pool will be spread across multiple\
            \ availability zones."
          title: zoneRedundant
          type: boolean
      title: ElasticPoolProperties
      type: object
    ElasticPoolUpdate:
      description: An elastic pool update.
      example:
        sku:
          size: size
          tier: tier
          name: name
          family: family
          capacity: 6
        properties:
          licenseType: LicenseIncluded
          perDatabaseSettings:
            maxCapacity: 6.027456183070403
            minCapacity: 1.4658129805029452
          maxSizeBytes: 0
          zoneRedundant: true
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/ElasticPoolUpdateProperties'
        sku:
          $ref: '#/components/schemas/ElasticPoolUpdate_sku'
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      title: ElasticPoolUpdate
      type: object
    ElasticPoolUpdateProperties:
      description: Properties of an elastic pool
      example:
        licenseType: LicenseIncluded
        perDatabaseSettings:
          maxCapacity: 6.027456183070403
          minCapacity: 1.4658129805029452
        maxSizeBytes: 0
        zoneRedundant: true
      properties:
        licenseType:
          description: The license type to apply for this elastic pool.
          enum:
          - LicenseIncluded
          - BasePrice
          title: licenseType
          type: string
          x-ms-enum:
            modelAsString: true
            name: ElasticPoolLicenseType
        maxSizeBytes:
          description: The storage limit for the database elastic pool in bytes.
          format: int64
          title: maxSizeBytes
          type: integer
        perDatabaseSettings:
          $ref: '#/components/schemas/ElasticPoolPerDatabaseSettings'
        zoneRedundant:
          description: "Whether or not this elastic pool is zone redundant, which\
            \ means the replicas of this elastic pool will be spread across multiple\
            \ availability zones."
          title: zoneRedundant
          type: boolean
      title: ElasticPoolUpdateProperties
      type: object
    ElasticPoolUpdate_sku:
      description: An ARM Resource SKU.
      example:
        size: size
        tier: tier
        name: name
        family: family
        capacity: 6
      properties:
        capacity:
          description: Capacity of the particular SKU.
          format: int32
          title: capacity
          type: integer
        family:
          description: "If the service has different generations of hardware, for\
            \ the same SKU, then that can be captured here."
          title: family
          type: string
        name:
          description: "The name of the SKU, typically, a letter + Number code, e.g.\
            \ P3."
          title: name
          type: string
        size:
          description: Size of the particular SKU
          title: size
          type: string
        tier:
          description: "The tier or edition of the particular SKU, e.g. Basic, Premium."
          title: tier
          type: string
      required:
      - name
      title: ElasticPoolUpdate_sku
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
