openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: This is an invitation-only API.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Idea Hub API
  version: v1alpha
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://ideahub.googleapis.com/$discovery/rest?version=v1alpha
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: ideahub
externalDocs:
  url: https://console.cloud.google.com/apis/library/ideahub.googleapis.com
servers:
- url: https://ideahub.googleapis.com/
tags:
- name: ideas
- name: platforms
paths:
  /v1alpha/ideas:
    get:
      description: List ideas for a given Creator and filter and sort options.
      operationId: ideahub.ideas.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Allows filtering. Supported syntax: * Filter expressions are\
          \ made up of one or more restrictions. * Restrictions are implicitly combined,\
          \ as if the `AND` operator was always used. The `OR` operator is currently\
          \ unsupported. * Supported functions: - `saved(bool)`: If set to true, fetches\
          \ only saved ideas. If set to false, fetches all except saved ideas. Can't\
          \ be simultaneously used with `dismissed(bool)`. - `dismissed(bool)`: If\
          \ set to true, fetches only dismissed ideas. Can't be simultaneously used\
          \ with `saved(bool)`. The `false` value is currently unsupported. Examples:\
          \ * `saved(true)` * `saved(false)` * `dismissed(true)` The length of this\
          \ field should be no more than 500 characters."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Order semantics described below.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of ideas per page. If unspecified, at most\
          \ 10 ideas will be returned. The maximum value is 2000; values above 2000\
          \ will be coerced to 2000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Used to fetch next page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "If defined, specifies the creator for which to filter by. Format:\
          \ publishers/{publisher}/properties/{property}"
        explode: true
        in: query
        name: parent
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleSearchIdeahubV1alphaListIdeasResponse'
          description: Successful response
      tags:
      - ideas
      x-accepts:
      - application/json
  /v1alpha/{name}:
    patch:
      description: Update a topic state resource.
      operationId: ideahub.platforms.properties.topicStates.patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the topic state. Format: platforms/{platform}/properties/{property}/topicStates/{topic_state}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The list of fields to be updated.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleSearchIdeahubV1alphaTopicState'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleSearchIdeahubV1alphaTopicState'
          description: Successful response
      tags:
      - platforms
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha/{parent}/ideaActivities:
    post:
      description: Creates an idea activity entry.
      operationId: ideahub.platforms.properties.ideaActivities.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource where this idea activity will\
          \ be created. Format: platforms/{platform}/property/{property}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleSearchIdeahubV1alphaIdeaActivity'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleSearchIdeahubV1alphaIdeaActivity'
          description: Successful response
      tags:
      - platforms
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1alpha/{parent}/ideas:
    get:
      description: List ideas for a given Creator and filter and sort options.
      operationId: ideahub.platforms.properties.ideas.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "If defined, specifies the creator for which to filter by. Format:\
          \ publishers/{publisher}/properties/{property}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Allows filtering. Supported syntax: * Filter expressions are\
          \ made up of one or more restrictions. * Restrictions are implicitly combined,\
          \ as if the `AND` operator was always used. The `OR` operator is currently\
          \ unsupported. * Supported functions: - `saved(bool)`: If set to true, fetches\
          \ only saved ideas. If set to false, fetches all except saved ideas. Can't\
          \ be simultaneously used with `dismissed(bool)`. - `dismissed(bool)`: If\
          \ set to true, fetches only dismissed ideas. Can't be simultaneously used\
          \ with `saved(bool)`. The `false` value is currently unsupported. Examples:\
          \ * `saved(true)` * `saved(false)` * `dismissed(true)` The length of this\
          \ field should be no more than 500 characters."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Order semantics described below.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of ideas per page. If unspecified, at most\
          \ 10 ideas will be returned. The maximum value is 2000; values above 2000\
          \ will be coerced to 2000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Used to fetch next page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleSearchIdeahubV1alphaListIdeasResponse'
          description: Successful response
      tags:
      - platforms
      x-accepts:
      - application/json
  /v1alpha/{parent}/locales:
    get:
      description: Returns which locales ideas are available in for a given Creator.
      operationId: ideahub.platforms.properties.locales.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The web property to check idea availability for Format:\
          \ platforms/{platform}/property/{property}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of locales to return. The service may return\
          \ fewer than this value. If unspecified, at most 100 locales will be returned.\
          \ The maximum value is 100; values above 100 will be coerced to 100."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous `ListAvailableLocales`\
          \ call. Provide this to retrieve the subsequent page. When paginating, all\
          \ other parameters provided to `ListAvailableLocales` must match the call\
          \ that provided the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleSearchIdeahubV1alphaListAvailableLocalesResponse'
          description: Successful response
      tags:
      - platforms
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleSearchIdeahubV1alphaAvailableLocale:
      description: Represents locales that are available for a web property.
      example:
        name: name
        locale: locale
      properties:
        locale:
          description: "A string in BCP 47 format, without a resource prefix."
          type: string
        name:
          description: "A string in BCP 47 format, prefixed with the platform and\
            \ property name, and \"locales/\". Format: platforms/{platform}/properties/{property}/locales/{locale}"
          type: string
      type: object
    GoogleSearchIdeahubV1alphaIdea:
      description: A single Idea that we want to show the end user.
      example:
        topics:
        - displayName: displayName
          name: name
          mid: mid
        - displayName: displayName
          name: name
          mid: mid
        name: name
        text: text
      properties:
        name:
          description: "Unique identifier for the idea. Format: ideas/{ideaId}"
          type: string
        text:
          description: The idea’s text.
          type: string
        topics:
          description: The Topics that match the idea.
          items:
            $ref: '#/components/schemas/GoogleSearchIdeahubV1alphaTopic'
          type: array
      type: object
    GoogleSearchIdeahubV1alphaIdeaActivity:
      description: An idea activity entry.
      example:
        topics:
        - topics
        - topics
        name: name
        ideas:
        - ideas
        - ideas
        type: TYPE_UNSPECIFIED
        uri: uri
      properties:
        ideas:
          description: "The Idea IDs for this entry. If empty, topics should be set."
          items:
            type: string
          type: array
        name:
          description: "Unique identifier for the idea activity. The name is ignored\
            \ when creating an idea activity. Format: platforms/{platform}/properties/{property}/ideaActivities/{idea_activity}"
          type: string
        topics:
          description: "The Topic IDs for this entry. If empty, ideas should be set."
          items:
            type: string
          type: array
        type:
          description: The type of activity performed.
          enum:
          - TYPE_UNSPECIFIED
          - POST_DRAFTED
          - POST_PUBLISHED
          - POST_DELETED
          - POST_UNPUBLISHED
          type: string
        uri:
          description: The uri the activity relates to.
          type: string
      type: object
    GoogleSearchIdeahubV1alphaIdeaState:
      description: Represents idea state specific to a web property.
      properties:
        dismissed:
          description: Whether the idea is dismissed.
          type: boolean
        name:
          description: "Unique identifier for the idea state. Format: platforms/{platform}/properties/{property}/ideaStates/{idea_state}"
          type: string
        saved:
          description: Whether the idea is saved.
          type: boolean
      type: object
    GoogleSearchIdeahubV1alphaListAvailableLocalesResponse:
      description: "Response for whether ideas are available for a given web property\
        \ on a platform, for the currently logged-in user."
      example:
        nextPageToken: nextPageToken
        availableLocales:
        - name: name
          locale: locale
        - name: name
          locale: locale
      properties:
        availableLocales:
          description: Locales for which ideas are available for the given Creator.
          items:
            $ref: '#/components/schemas/GoogleSearchIdeahubV1alphaAvailableLocale'
          type: array
        nextPageToken:
          description: "A token that can be sent as `page_token` to retrieve the next\
            \ page. If this field is omitted, there are no subsequent pages."
          type: string
      type: object
    GoogleSearchIdeahubV1alphaListIdeasResponse:
      example:
        nextPageToken: nextPageToken
        ideas:
        - topics:
          - displayName: displayName
            name: name
            mid: mid
          - displayName: displayName
            name: name
            mid: mid
          name: name
          text: text
        - topics:
          - displayName: displayName
            name: name
            mid: mid
          - displayName: displayName
            name: name
            mid: mid
          name: name
          text: text
      properties:
        ideas:
          description: Results for the ListIdeasRequest.
          items:
            $ref: '#/components/schemas/GoogleSearchIdeahubV1alphaIdea'
          type: array
        nextPageToken:
          description: Used to fetch the next page in a subsequent request.
          type: string
      type: object
    GoogleSearchIdeahubV1alphaTopic:
      description: Represents a Topic umbrella for a list of questions that a Creator
        may want to respond to.
      example:
        displayName: displayName
        name: name
        mid: mid
      properties:
        displayName:
          description: String displayed to the creator indicating the name of the
            Topic.
          type: string
        mid:
          description: The mID of the topic.
          type: string
        name:
          description: "Unique identifier for the topic. Format: topics/{topic}"
          type: string
      type: object
    GoogleSearchIdeahubV1alphaTopicState:
      description: Represents topic state specific to a web property.
      example:
        saved: true
        dismissed: true
        name: name
      properties:
        dismissed:
          description: Whether the topic is dismissed.
          type: boolean
        name:
          description: "Unique identifier for the topic state. Format: platforms/{platform}/properties/{property}/topicStates/{topic_state}"
          type: string
        saved:
          description: Whether the topic is saved.
          type: boolean
      type: object

