openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Fax
  version: 1.29.1
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_fax_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_fax_v1
servers:
- url: https://fax.twilio.com
paths:
  /v1/Faxes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all faxes.
      operationId: list_fax
      parameters:
      - description: "Retrieve only those faxes sent from this phone number, specified\
          \ in [E.164](https://www.twilio.com/docs/glossary/what-e164) format."
        explode: true
        in: query
        name: From
        required: false
        schema:
          type: string
        style: form
      - description: "Retrieve only those faxes sent to this phone number, specified\
          \ in [E.164](https://www.twilio.com/docs/glossary/what-e164) format."
        explode: true
        in: query
        name: To
        required: false
        schema:
          type: string
        style: form
      - description: "Retrieve only those faxes with a `date_created` that is before\
          \ or equal to this value, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
          \ format."
        explode: true
        in: query
        name: DateCreatedOnOrBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Retrieve only those faxes with a `date_created` that is later\
          \ than this value, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
          \ format."
        explode: true
        in: query
        name: DateCreatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFaxResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.default_controller
    servers:
    - url: https://fax.twilio.com
    x-twilio:
      className: fax
      defaultOutputProperties:
      - sid
      - from
      - to
      - status
      - date_created
      pathType: list
  /v1/Faxes/{FaxSid}/Media:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all fax media instances for the specified fax.
      operationId: list_fax_media
      parameters:
      - description: The SID of the fax with the FaxMedia resources to read.
        explode: false
        in: path
        name: FaxSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFaxMediaResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.default_controller
    servers:
    - url: https://fax.twilio.com
    x-twilio:
      className: fax_media
      defaultOutputProperties:
      - content_type
      - url
      pathType: list
  /v1/Faxes/{FaxSid}/Media/{Sid}:
    delete:
      description: Delete a specific fax media instance.
      operationId: delete_fax_media
      parameters:
      - description: The SID of the fax with the FaxMedia resource to delete.
        explode: false
        in: path
        name: FaxSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the FaxMedia
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^ME[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.default_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific fax media instance.
      operationId: fetch_fax_media
      parameters:
      - description: The SID of the fax with the FaxMedia resource to fetch.
        explode: false
        in: path
        name: FaxSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the FaxMedia
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^ME[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fax.v1.fax.fax_media'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.default_controller
    servers:
    - url: https://fax.twilio.com
    x-twilio:
      className: fax_media
      defaultOutputProperties:
      - content_type
      - url
      pathType: instance
  /v1/Faxes/{Sid}:
    delete:
      description: Delete a specific fax and its associated media.
      operationId: delete_fax
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Fax resource
          to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.default_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific fax.
      operationId: fetch_fax
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Fax resource
          to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fax.v1.fax'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.default_controller
    servers:
    - url: https://fax.twilio.com
    x-twilio:
      className: fax
      defaultOutputProperties:
      - sid
      - from
      - to
      - status
      - date_created
      pathType: instance
components:
  schemas:
    fax.v1.fax:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        num_pages: 6
        media_sid: media_sid
        api_version: api_version
        media_url: media_url
        url: https://openapi-generator.tech
        quality: standard
        sid: sid
        duration: 0
        price_unit: price_unit
        price: 1.4658129805029452
        account_sid: account_sid
        from: from
        links: "{}"
        to: to
        direction: inbound
        status: queued
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        api_version:
          description: The API version used to transmit the fax
          nullable: true
          title: api_version
          type: string
        date_created:
          description: The ISO 8601 formatted date and time in GMT when the resource
            was created
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: The ISO 8601 formatted date and time in GMT when the resource
            was last updated
          format: date-time
          nullable: true
          title: date_updated
          type: string
        direction:
          description: The direction of the fax
          enum:
          - inbound
          - outbound
          nullable: true
          title: direction
          type: string
        duration:
          description: The time it took to transmit the fax
          nullable: true
          title: duration
          type: integer
        from:
          description: The number the fax was sent from
          nullable: true
          title: from
          type: string
        links:
          description: The URLs of the fax's related resources
          format: uri-map
          nullable: true
          title: links
          type: object
        media_sid:
          description: The SID of the FaxMedia resource that is associated with the
            Fax
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^ME[0-9a-fA-F]{32}$"
          title: media_sid
          type: string
        media_url:
          description: The Twilio-hosted URL that can be used to download fax media
          nullable: true
          title: media_url
          type: string
        num_pages:
          description: The number of pages contained in the fax document
          nullable: true
          title: num_pages
          type: integer
        price:
          description: The fax transmission price
          nullable: true
          title: price
          type: number
        price_unit:
          description: The ISO 4217 currency used for billing
          format: currency
          nullable: true
          title: price_unit
          type: string
        quality:
          description: The quality of the fax
          enum:
          - standard
          - fine
          - superfine
          nullable: true
          title: quality
          type: string
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FX[0-9a-fA-F]{32}$"
          title: sid
          type: string
        status:
          description: The status of the fax
          enum:
          - queued
          - processing
          - sending
          - delivered
          - receiving
          - received
          - no-answer
          - busy
          - failed
          - canceled
          nullable: true
          title: status
          type: string
        to:
          description: The phone number that received the fax
          nullable: true
          title: to
          type: string
        url:
          description: The absolute URL of the fax resource
          format: uri
          nullable: true
          title: url
          type: string
      title: fax.v1.fax
      type: object
    fax.v1.fax.fax_media:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        content_type: content_type
        fax_sid: fax_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        content_type:
          description: The content type of the stored fax media
          nullable: true
          title: content_type
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last
            updated
          format: date-time
          nullable: true
          title: date_updated
          type: string
        fax_sid:
          description: The SID of the fax the FaxMedia resource is associated with
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FX[0-9a-fA-F]{32}$"
          title: fax_sid
          type: string
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^ME[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the FaxMedia resource
          format: uri
          nullable: true
          title: url
          type: string
      title: fax.v1.fax.fax_media
      type: object
    ListFaxResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 5
        key: key
        url: https://openapi-generator.tech
        page_size: 5
      properties:
        first_page_url:
          format: uri
          title: first_page_url
          type: string
        key:
          title: key
          type: string
        next_page_url:
          format: uri
          title: next_page_url
          type: string
        page:
          title: page
          type: integer
        page_size:
          title: page_size
          type: integer
        previous_page_url:
          format: uri
          title: previous_page_url
          type: string
        url:
          format: uri
          title: url
          type: string
      title: ListFaxResponse_meta
      type: object
    ListFaxResponse:
      example:
        faxes:
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          num_pages: 6
          media_sid: media_sid
          api_version: api_version
          media_url: media_url
          url: https://openapi-generator.tech
          quality: standard
          sid: sid
          duration: 0
          price_unit: price_unit
          price: 1.4658129805029452
          account_sid: account_sid
          from: from
          links: "{}"
          to: to
          direction: inbound
          status: queued
        - date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          num_pages: 6
          media_sid: media_sid
          api_version: api_version
          media_url: media_url
          url: https://openapi-generator.tech
          quality: standard
          sid: sid
          duration: 0
          price_unit: price_unit
          price: 1.4658129805029452
          account_sid: account_sid
          from: from
          links: "{}"
          to: to
          direction: inbound
          status: queued
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 5
          key: key
          url: https://openapi-generator.tech
          page_size: 5
      properties:
        faxes:
          items:
            $ref: '#/components/schemas/fax.v1.fax'
          title: faxes
          type: array
        meta:
          $ref: '#/components/schemas/ListFaxResponse_meta'
      title: ListFaxResponse
      type: object
    ListFaxMediaResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 5
          key: key
          url: https://openapi-generator.tech
          page_size: 5
        media:
        - date_updated: 2000-01-23T04:56:07.000+00:00
          content_type: content_type
          fax_sid: fax_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          url: https://openapi-generator.tech
          sid: sid
        - date_updated: 2000-01-23T04:56:07.000+00:00
          content_type: content_type
          fax_sid: fax_sid
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          url: https://openapi-generator.tech
          sid: sid
      properties:
        media:
          items:
            $ref: '#/components/schemas/fax.v1.fax.fax_media'
          title: media
          type: array
        meta:
          $ref: '#/components/schemas/ListFaxResponse_meta'
      title: ListFaxMediaResponse
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: PLEASE NOTE that this is a Beta product that is subject to change.
    Use it with caution.
  name: Beta
