openapi: 3.0.1
info:
  title: StreamAnalyticsManagementClient
  version: 2016-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/functions.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: streamanalytics-functions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions
  : get:
      description: Lists all of the functions under the specified streaming job.
      operationId: functions_list_by_streaming_job
      parameters:
      - description: "The $select OData query parameter. This is a comma-separated\
          \ list of structural properties to include in the response, or \"*\" to\
          \ include all properties. By default, all properties are returned except\
          \ diagnostics. Currently only accepts '*' as a valid value."
        in: query
        name: $select
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: jobName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionListResult'
          description: Successfully listed the functions under the specified streaming
            job.
      tags:
      - Functions
      x-ms-examples:
        List all functions in a streaming job:
          parameters:
            api-version: 2016-03-01
            jobName: sj8653
            resourceGroupName: sjrg1637
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg1637/providers/Microsoft.StreamAnalytics/streamingjobs/sj8653/functions/function588
                  name: function588
                  properties:
                    etag: 281cbf11-cd50-4a44-b833-cf170ce74748
                    properties:
                      binding:
                        properties:
                          batchSize: 5000
                          endpoint: someAzureMLEndpointURL
                          inputs:
                            columnNames:
                            - dataType: string
                              mapTo: 0
                              name: tweet
                            name: input1
                          outputs:
                          - dataType: string
                            name: Sentiment
                        type: Microsoft.MachineLearning/WebService
                      inputs:
                      - dataType: nvarchar(max)
                      output:
                        dataType: nvarchar(max)
                    type: Scalar
                  type: Microsoft.StreamAnalytics/streamingjobs/functions
                - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg1637/providers/Microsoft.StreamAnalytics/streamingjobs/sj8653/functions/function8197
                  name: function8197
                  properties:
                    etag: 94a512d5-2f59-4e39-b9c8-bca4abd74b7e
                    properties:
                      binding:
                        properties:
                          script: "function (a, b) { return a * b; }"
                        type: Microsoft.StreamAnalytics/JavascriptUdf
                      inputs:
                      - dataType: Any
                      output:
                        dataType: Any
                    type: Scalar
                  type: Microsoft.StreamAnalytics/streamingjobs/functions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.functions_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}
  : delete:
      description: Deletes a function from the streaming job.
      operationId: functions_delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: job_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the function.
        in: path
        name: function_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The function was successfully deleted.
        "204":
          content: {}
          description: The function does not exist.
      tags:
      - Functions
      x-ms-examples:
        Delete a function:
          parameters:
            api-version: 2016-03-01
            functionName: function8197
            jobName: sj8653
            resourceGroupName: sjrg1637
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.functions_controller
    get:
      description: Gets details about the specified function.
      operationId: functions_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: job_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the function.
        in: path
        name: functionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
          description: Successfully retrieved the specified function.
          headers:
            ETag:
              description: The current entity tag for the function. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
      tags:
      - Functions
      x-ms-examples:
        Get a JavaScript function:
          parameters:
            api-version: 2016-03-01
            functionName: function8197
            jobName: sj8653
            resourceGroupName: sjrg1637
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg1637/providers/Microsoft.StreamAnalytics/streamingjobs/sj8653/functions/function8197
                name: function8197
                properties:
                  properties:
                    binding:
                      properties:
                        script: "function (x, y) { return x + y; }"
                      type: Microsoft.StreamAnalytics/JavascriptUdf
                    inputs:
                    - dataType: Any
                    output:
                      dataType: Any
                  type: Scalar
                type: Microsoft.StreamAnalytics/streamingjobs/functions
              headers:
                ETag: 07495b35-da28-4c28-a3ed-e0d75d0b6eff
        Get an Azure ML function:
          parameters:
            api-version: 2016-03-01
            functionName: function588
            jobName: sj9093
            resourceGroupName: sjrg7
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7/providers/Microsoft.StreamAnalytics/streamingjobs/sj9093/functions/function588
                name: function588
                properties:
                  properties:
                    binding:
                      properties:
                        batchSize: 1000
                        endpoint: someAzureMLEndpointURL
                        inputs:
                          columnNames:
                          - dataType: string
                            mapTo: 0
                            name: tweet
                          name: input1
                        outputs:
                        - dataType: string
                          name: Sentiment
                      type: Microsoft.MachineLearning/WebService
                    inputs:
                    - dataType: nvarchar(max)
                    output:
                      dataType: nvarchar(max)
                  type: Scalar
                type: Microsoft.StreamAnalytics/streamingjobs/functions
              headers:
                ETag: dac52a15-66be-4aa7-8a18-20c5409983df
      x-openapi-router-controller: openapi_server.controllers.functions_controller
    patch:
      description: Updates an existing function under an existing streaming job. This
        can be used to partially update (ie. update one or two properties) a function
        without affecting the rest the job or function definition.
      operationId: functions_update
      parameters:
      - description: The ETag of the function. Omit this value to always overwrite
          the current function. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: job_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the function.
        in: path
        name: function_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Function'
        description: A function object. The properties specified here will overwrite
          the corresponding properties in the existing function (ie. Those properties
          will be updated). Any properties that are set to null here will mean that
          the corresponding property in the existing function will remain the same
          and not change as a result of this PATCH operation.
        required: true
        x-body-name: function
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
          description: The function was successfully updated.
          headers:
            ETag:
              description: The current entity tag for the function. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
      tags:
      - Functions
      x-ms-examples:
        Update a JavaScript function:
          parameters:
            api-version: 2016-03-01
            function:
              properties:
                properties:
                  binding:
                    properties:
                      script: "function (a, b) { return a * b; }"
                    type: Microsoft.StreamAnalytics/JavascriptUdf
                type: Scalar
            functionName: function8197
            jobName: sj8653
            resourceGroupName: sjrg1637
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg1637/providers/Microsoft.StreamAnalytics/streamingjobs/sj8653/functions/function8197
                name: function8197
                properties:
                  properties:
                    binding:
                      properties:
                        script: "function (a, b) { return a * b; }"
                      type: Microsoft.StreamAnalytics/JavascriptUdf
                    inputs:
                    - dataType: Any
                    output:
                      dataType: Any
                  type: Scalar
                type: Microsoft.StreamAnalytics/streamingjobs/functions
              headers:
                ETag: 94a512d5-2f59-4e39-b9c8-bca4abd74b7e
        Update an Azure ML function:
          parameters:
            api-version: 2016-03-01
            function:
              properties:
                properties:
                  binding:
                    properties:
                      batchSize: 5000
                    type: Microsoft.MachineLearning/WebService
                type: Scalar
            functionName: function588
            jobName: sj9093
            resourceGroupName: sjrg7
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7/providers/Microsoft.StreamAnalytics/streamingjobs/sj9093/functions/function588
                name: function588
                properties:
                  properties:
                    binding:
                      properties:
                        batchSize: 5000
                        endpoint: someAzureMLEndpointURL
                        inputs:
                          columnNames:
                          - dataType: string
                            mapTo: 0
                            name: tweet
                          name: input1
                        outputs:
                        - dataType: string
                          name: Sentiment
                      type: Microsoft.MachineLearning/WebService
                    inputs:
                    - dataType: nvarchar(max)
                    output:
                      dataType: nvarchar(max)
                  type: Scalar
                type: Microsoft.StreamAnalytics/streamingjobs/functions
              headers:
                ETag: 281cbf11-cd50-4a44-b833-cf170ce74748
      x-codegen-request-body-name: function
      x-openapi-router-controller: openapi_server.controllers.functions_controller
    put:
      description: Creates a function or replaces an already existing function under
        an existing streaming job.
      operationId: functions_create_or_replace
      parameters:
      - description: The ETag of the function. Omit this value to always overwrite
          the current function. Specify the last-seen ETag value to prevent accidentally
          overwriting concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: "Set to '*' to allow a new function to be created, but to prevent\
          \ updating an existing function. Other values will result in a 412 Pre-condition\
          \ Failed response."
        in: header
        name: If-None-Match
        schema:
          type: string
          x-ms-client-name: IfNoneMatch
        x-ms-client-name: IfNoneMatch
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: job_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the function.
        in: path
        name: function_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Function'
        description: The definition of the function that will be used to create a
          new function or replace the existing one under the streaming job.
        required: true
        x-body-name: function
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
          description: The function was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the function. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
          description: The function was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the function. This is an opaque
                string. You can use it to detect whether the resource has changed
                between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              schema:
                type: string
      tags:
      - Functions
      x-ms-examples:
        Create a JavaScript function:
          parameters:
            api-version: 2016-03-01
            function:
              properties:
                properties:
                  binding:
                    properties:
                      script: "function (x, y) { return x + y; }"
                    type: Microsoft.StreamAnalytics/JavascriptUdf
                  inputs:
                  - dataType: Any
                  output:
                    dataType: Any
                type: Scalar
            functionName: function8197
            jobName: sj8653
            resourceGroupName: sjrg1637
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg1637/providers/Microsoft.StreamAnalytics/streamingjobs/sj8653/functions/function8197
                name: function8197
                properties:
                  properties:
                    binding:
                      properties:
                        script: "function (x, y) { return x + y; }"
                      type: Microsoft.StreamAnalytics/JavascriptUdf
                    inputs:
                    - dataType: Any
                    output:
                      dataType: Any
                  type: Scalar
                type: Microsoft.StreamAnalytics/streamingjobs/functions
              headers:
                ETag: 07495b35-da28-4c28-a3ed-e0d75d0b6eff
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg1637/providers/Microsoft.StreamAnalytics/streamingjobs/sj8653/functions/function8197
                name: function8197
                properties:
                  properties:
                    binding:
                      properties:
                        script: "function (x, y) { return x + y; }"
                      type: Microsoft.StreamAnalytics/JavascriptUdf
                    inputs:
                    - dataType: Any
                    output:
                      dataType: Any
                  type: Scalar
                type: Microsoft.StreamAnalytics/streamingjobs/functions
              headers:
                ETag: 07495b35-da28-4c28-a3ed-e0d75d0b6eff
        Create an Azure ML function:
          parameters:
            api-version: 2016-03-01
            function:
              properties:
                properties:
                  binding:
                    properties:
                      apiKey: someApiKey==
                      batchSize: 1000
                      endpoint: someAzureMLEndpointURL
                      inputs:
                        columnNames:
                        - dataType: string
                          mapTo: 0
                          name: tweet
                        name: input1
                      outputs:
                      - dataType: string
                        name: Sentiment
                    type: Microsoft.MachineLearning/WebService
                  inputs:
                  - dataType: nvarchar(max)
                  output:
                    dataType: nvarchar(max)
                type: Scalar
            functionName: function588
            jobName: sj9093
            resourceGroupName: sjrg7
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7/providers/Microsoft.StreamAnalytics/streamingjobs/sj9093/functions/function588
                name: function588
                properties:
                  properties:
                    binding:
                      properties:
                        batchSize: 1000
                        endpoint: someAzureMLEndpointURL
                        inputs:
                          columnNames:
                          - dataType: string
                            mapTo: 0
                            name: tweet
                          name: input1
                        outputs:
                        - dataType: string
                          name: Sentiment
                      type: Microsoft.MachineLearning/WebService
                    inputs:
                    - dataType: nvarchar(max)
                    output:
                      dataType: nvarchar(max)
                  type: Scalar
                type: Microsoft.StreamAnalytics/streamingjobs/functions
              headers:
                ETag: dac52a15-66be-4aa7-8a18-20c5409983df
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7/providers/Microsoft.StreamAnalytics/streamingjobs/sj9093/functions/function588
                name: function588
                properties:
                  properties:
                    binding:
                      properties:
                        batchSize: 1000
                        endpoint: someAzureMLEndpointURL
                        inputs:
                          columnNames:
                          - dataType: string
                            mapTo: 0
                            name: tweet
                          name: input1
                        outputs:
                        - dataType: string
                          name: Sentiment
                      type: Microsoft.MachineLearning/WebService
                    inputs:
                    - dataType: nvarchar(max)
                    output:
                      dataType: nvarchar(max)
                  type: Scalar
                type: Microsoft.StreamAnalytics/streamingjobs/functions
              headers:
                ETag: dac52a15-66be-4aa7-8a18-20c5409983df
      x-codegen-request-body-name: function
      x-openapi-router-controller: openapi_server.controllers.functions_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/RetrieveDefaultDefinition
  : post:
      description: Retrieves the default definition of a function based on the parameters
        specified.
      operationId: functions_retrieve_default_definition
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: job_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the function.
        in: path
        name: function_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionRetrieveDefaultDefinitionParameters'
        description: Parameters used to specify the type of function to retrieve the
          default definition for.
        required: false
        x-body-name: functionRetrieveDefaultDefinitionParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
          description: Successfully retrieved the function's default definition.
      tags:
      - Functions
      x-ms-examples:
        Retrieve the default definition for an Azure ML function:
          parameters:
            api-version: 2016-03-01
            functionName: function588
            functionRetrieveDefaultDefinitionParameters:
              bindingRetrievalProperties:
                executeEndpoint: someAzureMLExecuteEndpointUrl
                udfType: Scalar
              bindingType: Microsoft.MachineLearning/WebService
            jobName: sj9093
            resourceGroupName: sjrg7
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                name: function588
                properties:
                  properties:
                    binding:
                      properties:
                        batchSize: 1000
                        endpoint: someAzureMLExecuteEndpointUrl
                        inputs:
                          columnNames:
                          - dataType: string
                            mapTo: 0
                            name: tweet
                          name: input1
                        outputs:
                        - dataType: string
                          name: Sentiment
                      type: Microsoft.MachineLearning/WebService
                    inputs:
                    - dataType: nvarchar(max)
                    output:
                      dataType: nvarchar(max)
                  type: Scalar
      x-codegen-request-body-name: functionRetrieveDefaultDefinitionParameters
      x-openapi-router-controller: openapi_server.controllers.functions_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/test
  : post:
      description: Tests if the information provided for a function is valid. This
        can range from testing the connection to the underlying web service behind
        the function or making sure the function code provided is syntactically correct.
      operationId: functions_test
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: GUID which uniquely identify Microsoft Azure subscription. The
          subscription ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the streaming job.
        in: path
        name: job_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the function.
        in: path
        name: function_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Function'
        description: "If the function specified does not already exist, this parameter\
          \ must contain the full function definition intended to be tested. If the\
          \ function specified already exists, this parameter can be left null to\
          \ test the existing function as is or if specified, the properties specified\
          \ will overwrite the corresponding properties in the existing function (exactly\
          \ like a PATCH operation) and the resulting function will be tested."
        required: false
        x-body-name: function
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Functions_Test_200_response'
          description: The test operation completed successfully.
        "202":
          content: {}
          description: The test request was successfully initiated.
      tags:
      - Functions
      x-ms-examples:
        Test the connection for a JavaScript function:
          parameters:
            api-version: 2016-03-01
            functionName: function8197
            jobName: sj8653
            resourceGroupName: sjrg1637
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                error:
                  code: BadRequest
                  message: "Test operation is not supported for function type: Microsoft.StreamAnalytics/JavascriptUdf"
                status: TestFailed
            "202": {}
        Test the connection for an Azure ML function:
          parameters:
            api-version: 2016-03-01
            functionName: function588
            jobName: sj9093
            resourceGroupName: sjrg7
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                status: TestSucceeded
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: function
      x-openapi-router-controller: openapi_server.controllers.functions_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    FunctionNameParameter:
      description: The name of the function.
      in: path
      name: functionName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    StreamingJobNameParameter:
      description: The name of the streaming job.
      in: path
      name: jobName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: GUID which uniquely identify Microsoft Azure subscription. The
        subscription ID forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AzureMachineLearningWebServiceFunctionBinding:
      allOf:
      - $ref: '#/components/schemas/FunctionBinding'
      description: The binding to an Azure Machine Learning web service.
      properties:
        properties:
          $ref: '#/components/schemas/AzureMachineLearningWebServiceFunctionBindingProperties'
      x-ms-discriminator-value: Microsoft.MachineLearning/WebService
    AzureMachineLearningWebServiceFunctionBindingProperties:
      description: The binding properties associated with an Azure Machine learning
        web service.
      properties:
        apiKey:
          description: The API key used to authenticate with Request-Response endpoint.
          title: apiKey
          type: string
        batchSize:
          description: Number between 1 and 10000 describing maximum number of rows
            for every Azure ML RRS execute request. Default is 1000.
          format: int32
          title: batchSize
          type: integer
        endpoint:
          description: "The Request-Response execute endpoint of the Azure Machine\
            \ Learning web service. Find out more here: https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-consume-web-services#request-response-service-rrs"
          title: endpoint
          type: string
        inputs:
          $ref: '#/components/schemas/AzureMachineLearningWebServiceInputs'
        outputs:
          description: A list of outputs from the Azure Machine Learning web service
            endpoint execution.
          items:
            $ref: '#/components/schemas/AzureMachineLearningWebServiceOutputColumn'
          title: outputs
          type: array
      title: AzureMachineLearningWebServiceFunctionBindingProperties
      type: object
    AzureMachineLearningWebServiceFunctionBindingRetrievalProperties:
      description: The binding retrieval properties associated with an Azure Machine
        learning web service.
      properties:
        executeEndpoint:
          description: "The Request-Response execute endpoint of the Azure Machine\
            \ Learning web service. Find out more here: https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-consume-web-services#request-response-service-rrs"
          title: executeEndpoint
          type: string
        udfType:
          $ref: '#/components/schemas/UdfType'
      title: AzureMachineLearningWebServiceFunctionBindingRetrievalProperties
      type: object
    AzureMachineLearningWebServiceFunctionRetrieveDefaultDefinitionParameters:
      allOf:
      - $ref: '#/components/schemas/FunctionRetrieveDefaultDefinitionParameters'
      description: The parameters needed to retrieve the default function definition
        for an Azure Machine Learning web service function.
      properties:
        bindingRetrievalProperties:
          $ref: '#/components/schemas/AzureMachineLearningWebServiceFunctionBindingRetrievalProperties'
      x-ms-discriminator-value: Microsoft.MachineLearning/WebService
    AzureMachineLearningWebServiceInputColumn:
      description: Describes an input column for the Azure Machine Learning web service
        endpoint.
      properties:
        dataType:
          description: The (Azure Machine Learning supported) data type of the input
            column. A list of valid  Azure Machine Learning data types are described
            at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx .
          title: dataType
          type: string
        mapTo:
          description: The zero based index of the function parameter this input maps
            to.
          format: int32
          title: mapTo
          type: integer
        name:
          description: The name of the input column.
          title: name
          type: string
      title: AzureMachineLearningWebServiceInputColumn
      type: object
    AzureMachineLearningWebServiceInputs:
      description: The inputs for the Azure Machine Learning web service endpoint.
      properties:
        columnNames:
          description: A list of input columns for the Azure Machine Learning web
            service endpoint.
          items:
            $ref: '#/components/schemas/AzureMachineLearningWebServiceInputColumn'
          title: columnNames
          type: array
        name:
          description: The name of the input. This is the name provided while authoring
            the endpoint.
          title: name
          type: string
      title: AzureMachineLearningWebServiceInputs
      type: object
    AzureMachineLearningWebServiceOutputColumn:
      description: Describes an output column for the Azure Machine Learning web service
        endpoint.
      properties:
        dataType:
          description: The (Azure Machine Learning supported) data type of the output
            column. A list of valid  Azure Machine Learning data types are described
            at https://msdn.microsoft.com/en-us/library/azure/dn905923.aspx .
          title: dataType
          type: string
        name:
          description: The name of the output column.
          title: name
          type: string
      title: AzureMachineLearningWebServiceOutputColumn
      type: object
    Function:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: "A function object, containing all information associated with\
        \ the named function. All functions are contained under a streaming job."
      example:
        properties:
          etag: etag
          type: type
      properties:
        properties:
          $ref: '#/components/schemas/FunctionProperties'
      title: Function
    FunctionBinding:
      description: "The physical binding of the function. For example, in the Azure\
        \ Machine Learning web service’s case, this describes the endpoint."
      discriminator:
        propertyName: type
      properties:
        type:
          description: Indicates the function binding type.
          type: string
      title: FunctionBinding
      type: object
    FunctionInput:
      description: Describes one input parameter of a function.
      properties:
        dataType:
          description: The (Azure Stream Analytics supported) data type of the function
            input parameter. A list of valid Azure Stream Analytics data types are
            described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
          title: dataType
          type: string
        isConfigurationParameter:
          description: A flag indicating if the parameter is a configuration parameter.
            True if this input parameter is expected to be a constant. Default is
            false.
          title: isConfigurationParameter
          type: boolean
      title: FunctionInput
      type: object
    FunctionListResult:
      description: Object containing a list of functions under a streaming job.
      example:
        value:
        - properties:
            etag: etag
            type: type
        - properties:
            etag: etag
            type: type
        nextLink: nextLink
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: A list of functions under a streaming job. Populated by a 'List'
            operation.
          items:
            $ref: '#/components/schemas/Function'
          readOnly: true
          title: value
          type: array
      title: FunctionListResult
      type: object
    FunctionOutput:
      description: Describes the output of a function.
      properties:
        dataType:
          description: The (Azure Stream Analytics supported) data type of the function
            output. A list of valid Azure Stream Analytics data types are described
            at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx
          title: dataType
          type: string
      title: FunctionOutput
      type: object
    FunctionProperties:
      description: The properties that are associated with a function.
      discriminator:
        propertyName: type
      example:
        etag: etag
        type: type
      properties:
        etag:
          description: The current entity tag for the function. This is an opaque
            string. You can use it to detect whether the resource has changed between
            requests. You can also use it in the If-Match or If-None-Match headers
            for write operations for optimistic concurrency.
          readOnly: true
          title: etag
          type: string
        type:
          description: Indicates the type of function.
          type: string
      title: FunctionProperties
      type: object
    FunctionRetrieveDefaultDefinitionParameters:
      description: Parameters used to specify the type of function to retrieve the
        default definition for.
      discriminator:
        propertyName: bindingType
      example:
        bindingType: bindingType
      properties:
        bindingType:
          description: Indicates the function binding type.
          type: string
      title: FunctionRetrieveDefaultDefinitionParameters
      type: object
    JavaScriptFunctionBinding:
      allOf:
      - $ref: '#/components/schemas/FunctionBinding'
      description: The binding to a JavaScript function.
      properties:
        properties:
          $ref: '#/components/schemas/JavaScriptFunctionBindingProperties'
      x-ms-discriminator-value: Microsoft.StreamAnalytics/JavascriptUdf
    JavaScriptFunctionBindingProperties:
      description: The binding properties associated with a JavaScript function.
      properties:
        script:
          description: "The JavaScript code containing a single function definition.\
            \ For example: 'function (x, y) { return x + y; }'"
          title: script
          type: string
      title: JavaScriptFunctionBindingProperties
      type: object
    JavaScriptFunctionBindingRetrievalProperties:
      description: The binding retrieval properties associated with a JavaScript function.
      properties:
        script:
          description: "The JavaScript code containing a single function definition.\
            \ For example: 'function (x, y) { return x + y; }'."
          title: script
          type: string
        udfType:
          $ref: '#/components/schemas/UdfType'
      title: JavaScriptFunctionBindingRetrievalProperties
      type: object
    JavaScriptFunctionRetrieveDefaultDefinitionParameters:
      allOf:
      - $ref: '#/components/schemas/FunctionRetrieveDefaultDefinitionParameters'
      description: The parameters needed to retrieve the default function definition
        for a JavaScript function.
      properties:
        bindingRetrievalProperties:
          $ref: '#/components/schemas/JavaScriptFunctionBindingRetrievalProperties'
      x-ms-discriminator-value: Microsoft.StreamAnalytics/JavascriptUdf
    ScalarFunctionConfiguration:
      description: Describes the configuration of the scalar function.
      properties:
        binding:
          $ref: '#/components/schemas/FunctionBinding'
        inputs:
          description: A list of inputs describing the parameters of the function.
          items:
            $ref: '#/components/schemas/FunctionInput'
          title: inputs
          type: array
        output:
          $ref: '#/components/schemas/FunctionOutput'
      title: ScalarFunctionConfiguration
      type: object
    ScalarFunctionProperties:
      allOf:
      - $ref: '#/components/schemas/FunctionProperties'
      description: The properties that are associated with a scalar function.
      properties:
        properties:
          $ref: '#/components/schemas/ScalarFunctionConfiguration'
      x-ms-discriminator-value: Scalar
    SubResource:
      description: The base sub-resource model definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        name:
          description: Resource name
          title: name
          type: string
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      title: SubResource
      type: object
      x-ms-azure-resource: true
    UdfType:
      description: The function type.
      enum:
      - Scalar
      title: UdfType
      type: string
      x-ms-enum:
        modelAsString: false
        name: UdfType
    Functions_Test_200_response_error:
      description: Describes the error that occurred.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code associated with the error that occurred.
          readOnly: true
          title: code
          type: string
        message:
          description: Describes the error in detail.
          readOnly: true
          title: message
          type: string
      title: Functions_Test_200_response_error
      type: object
    Functions_Test_200_response:
      description: "Describes the status of the test operation along with error information,\
        \ if applicable."
      example:
        error:
          code: code
          message: message
        status: status
      properties:
        error:
          $ref: '#/components/schemas/Functions_Test_200_response_error'
        status:
          description: The status of the test operation.
          readOnly: true
          title: status
          type: string
      title: Functions_Test_200_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
