openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
  x-apisguru-categories:
  - tools
  x-logo:
    url: https://peoplegeneratorapi.live/static/Logo.svg
  x-origin:
  - format: openapi
    url: https://peoplegeneratorapi.live/v3/api-docs
    version: "3.0"
  x-providerName: peoplegeneratorapi.live
servers:
- description: Generated server url
  url: http://peoplegeneratorapi.live
paths:
  /api/address:
    get:
      operationId: generate_address
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Address'
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/address/:
    get:
      operationId: generate_address1
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Address'
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/lifestory:
    get:
      operationId: generate_life_story1
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Lifestory'
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/lifestory/:
    get:
      operationId: generate_life_story
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Lifestory'
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person:
    get:
      operationId: get_person1
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Person'
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/:
    get:
      operationId: get_person
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Person'
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/age:
    get:
      operationId: age1
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/age/:
    get:
      operationId: age
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/bloodtype:
    get:
      operationId: bloodtype1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/bloodtype/:
    get:
      operationId: bloodtype
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/creditcardnumber:
    get:
      operationId: creditcardnumber
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/creditcardnumber/:
    get:
      operationId: creditcardnumber1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/creditscore:
    get:
      operationId: creditscore1
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/creditscore/:
    get:
      operationId: creditscore
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/email:
    get:
      operationId: email
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/email/:
    get:
      operationId: email1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/eyecolor:
    get:
      operationId: eyecolor1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/eyecolor/:
    get:
      operationId: eyecolor
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/gender:
    get:
      operationId: gender
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/gender/:
    get:
      operationId: gender1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/gpa:
    get:
      operationId: gpa
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: double
                type: number
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/gpa/:
    get:
      operationId: gpa1
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: double
                type: number
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/haschildren:
    get:
      operationId: haschildren1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/haschildren/:
    get:
      operationId: haschildren
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/hasdegree:
    get:
      operationId: hasdegree
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/hasdegree/:
    get:
      operationId: hasdegree1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/height:
    get:
      operationId: height
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: double
                type: number
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/height/:
    get:
      operationId: height1
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: double
                type: number
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/income:
    get:
      operationId: income
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/income/:
    get:
      operationId: income1
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/job:
    get:
      operationId: job
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/job/:
    get:
      operationId: job1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/maritalstatus:
    get:
      operationId: maritalstatus1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/maritalstatus/:
    get:
      operationId: maritalstatus
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/name:
    get:
      operationId: name1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/name/:
    get:
      operationId: name
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/politicalleaning:
    get:
      operationId: political_leaning
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: double
                type: number
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/politicalleaning/:
    get:
      operationId: political_leaning1
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: double
                type: number
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/religion:
    get:
      operationId: religion1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/religion/:
    get:
      operationId: religion
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/username:
    get:
      operationId: username1
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/username/:
    get:
      operationId: username
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/weight:
    get:
      operationId: weight
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: double
                type: number
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/weight/:
    get:
      operationId: weight1
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: double
                type: number
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
  /api/person/{number}/:
    get:
      operationId: get_compressed_person
      parameters:
      - explode: false
        in: path
        name: number
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  format: byte
                  type: string
                type: array
          description: OK
      tags:
      - peoplegeneratorapi-application
      x-openapi-router-controller: openapi_server.controllers.peoplegeneratorapi_application_controller
components:
  schemas:
    Address:
      example:
        zip: zip
        country: country
        phoneNumber: phoneNumber
        city: city
        geonameId: 0
        streetAddress: streetAddress
        countryCode: countryCode
        ipAddress: ipAddress
        state: state
      properties:
        city:
          title: city
          type: string
        country:
          title: country
          type: string
        countryCode:
          title: countryCode
          type: string
        geonameId:
          format: int32
          title: geonameId
          type: integer
        ipAddress:
          title: ipAddress
          type: string
        phoneNumber:
          title: phoneNumber
          type: string
        state:
          title: state
          type: string
        streetAddress:
          title: streetAddress
          type: string
        zip:
          title: zip
          type: string
      title: Address
      type: object
    Lifestory:
      example:
        lifestory: lifestory
        person:
          creditScore: 6
          address:
            zip: zip
            country: country
            phoneNumber: phoneNumber
            city: city
            geonameId: 0
            streetAddress: streetAddress
            countryCode: countryCode
            ipAddress: ipAddress
            state: state
          gender: gender
          hasChildren: true
          incomeUSD: 5
          weight: 7.061401241503109
          bloodType: bloodType
          religion: religion
          ccNumber: ccNumber
          hasDegree: true
          eyeColor: eyeColor
          doB: doB
          name: name
          gpa: 1.4658129805029452
          job: job
          married: true
          age: 0
          email: email
          height: 5.962133916683182
          politicalLeaning: 2.3021358869347655
          username: username
      properties:
        lifestory:
          title: lifestory
          type: string
        person:
          $ref: '#/components/schemas/Person'
      title: Lifestory
      type: object
    Person:
      example:
        creditScore: 6
        address:
          zip: zip
          country: country
          phoneNumber: phoneNumber
          city: city
          geonameId: 0
          streetAddress: streetAddress
          countryCode: countryCode
          ipAddress: ipAddress
          state: state
        gender: gender
        hasChildren: true
        incomeUSD: 5
        weight: 7.061401241503109
        bloodType: bloodType
        religion: religion
        ccNumber: ccNumber
        hasDegree: true
        eyeColor: eyeColor
        doB: doB
        name: name
        gpa: 1.4658129805029452
        job: job
        married: true
        age: 0
        email: email
        height: 5.962133916683182
        politicalLeaning: 2.3021358869347655
        username: username
      properties:
        address:
          $ref: '#/components/schemas/Address'
        age:
          format: int32
          title: age
          type: integer
        bloodType:
          title: bloodType
          type: string
        ccNumber:
          title: ccNumber
          type: string
        creditScore:
          format: int32
          title: creditScore
          type: integer
        doB:
          title: doB
          type: string
        email:
          title: email
          type: string
        eyeColor:
          title: eyeColor
          type: string
        gender:
          title: gender
          type: string
        gpa:
          format: double
          title: gpa
          type: number
        hasChildren:
          title: hasChildren
          type: boolean
        hasDegree:
          title: hasDegree
          type: boolean
        height:
          format: double
          title: height
          type: number
        incomeUSD:
          format: int32
          title: incomeUSD
          type: integer
        job:
          title: job
          type: string
        married:
          title: married
          type: boolean
        name:
          title: name
          type: string
        politicalLeaning:
          format: double
          title: politicalLeaning
          type: number
        religion:
          title: religion
          type: string
        username:
          title: username
          type: string
        weight:
          format: double
          title: weight
          type: number
      title: Person
      type: object
