openapi: 3.0.1
info:
  title: MonitorManagementClient
  version: 2015-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/autoscale_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-autoscale_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/autoscalesettings:
    get:
      description: Lists the autoscale settings for a subscription
      operationId: autoscale_settings_list_by_subscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResourceCollection'
          description: Successful request for a list of autoscale settings
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - AutoscaleSettings
      x-ms-examples:
        List autoscale settings:
          parameters:
            api-version: 2015-04-01
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/########-####-####-####-############$skiptoken=######
                value:
                - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
                  location: West US
                  name: MySetting
                  properties:
                    enabled: true
                    name: MySetting
                    notifications:
                    - email:
                        customEmails:
                        - gu@ms.com
                        - ge@ns.net
                        sendToSubscriptionAdministrator: true
                        sendToSubscriptionCoAdministrators: true
                      operation: Scale
                      webhooks:
                      - properties: {}
                        serviceUri: http://myservice.com
                    profiles:
                    - capacity:
                        default: "1"
                        maximum: "10"
                        minimum: "1"
                      fixedDate:
                        end: 2015-03-05T14:30:00Z
                        start: 2015-03-05T14:00:00Z
                        timeZone: UTC
                      name: adios
                      rules:
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 10
                          timeAggregation: Average
                          timeGrain: PT1M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT5M
                          direction: Increase
                          type: ChangeCount
                          value: "1"
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 15
                          timeAggregation: Average
                          timeGrain: PT2M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT6M
                          direction: Decrease
                          type: ChangeCount
                          value: "2"
                    - capacity:
                        default: "1"
                        maximum: "10"
                        minimum: "1"
                      name: saludos
                      recurrence:
                        frequency: Week
                        schedule:
                          days:
                          - "1"
                          hours:
                          - 5
                          minutes:
                          - 15
                          timeZone: UTC
                      rules:
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 10
                          timeAggregation: Average
                          timeGrain: PT1M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT5M
                          direction: Increase
                          type: ChangeCount
                          value: "1"
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 15
                          timeAggregation: Average
                          timeGrain: PT2M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT6M
                          direction: Decrease
                          type: ChangeCount
                          value: "2"
                    targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                  tags:
                    $type: "Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,\
                      \ Microsoft.WindowsAzure.Management.Common.Storage"
                  type: Microsoft.Insights/autoscaleSettings
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.autoscale_settings_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/autoscalesettings:
    get:
      description: Lists the autoscale settings for a resource group
      operationId: autoscale_settings_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResourceCollection'
          description: Successful request for a list of autoscale settings
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - AutoscaleSettings
      x-ms-examples:
        List autoscale settings:
          parameters:
            api-version: 2015-04-01
            resourceGroupName: TestingMetricsScaleSet
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/########-####-####-####-############$skiptoken=######
                value:
                - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
                  location: West US
                  name: MySetting
                  properties:
                    enabled: true
                    name: MySetting
                    notifications:
                    - email:
                        customEmails:
                        - gu@ms.com
                        - ge@ns.net
                        sendToSubscriptionAdministrator: true
                        sendToSubscriptionCoAdministrators: true
                      operation: Scale
                      webhooks:
                      - properties: {}
                        serviceUri: http://myservice.com
                    profiles:
                    - capacity:
                        default: "1"
                        maximum: "10"
                        minimum: "1"
                      fixedDate:
                        end: 2015-03-05T14:30:00Z
                        start: 2015-03-05T14:00:00Z
                        timeZone: UTC
                      name: adios
                      rules:
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 10
                          timeAggregation: Average
                          timeGrain: PT1M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT5M
                          direction: Increase
                          type: ChangeCount
                          value: "1"
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 15
                          timeAggregation: Average
                          timeGrain: PT2M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT6M
                          direction: Decrease
                          type: ChangeCount
                          value: "2"
                    - capacity:
                        default: "1"
                        maximum: "10"
                        minimum: "1"
                      name: saludos
                      recurrence:
                        frequency: Week
                        schedule:
                          days:
                          - "1"
                          hours:
                          - 5
                          minutes:
                          - 15
                          timeZone: UTC
                      rules:
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 10
                          timeAggregation: Average
                          timeGrain: PT1M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT5M
                          direction: Increase
                          type: ChangeCount
                          value: "1"
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 15
                          timeAggregation: Average
                          timeGrain: PT2M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT6M
                          direction: Decrease
                          type: ChangeCount
                          value: "2"
                    targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                  tags:
                    $type: "Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,\
                      \ Microsoft.WindowsAzure.Management.Common.Storage"
                  type: Microsoft.Insights/autoscaleSettings
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.autoscale_settings_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/autoscalesettings/{autoscaleSettingName}
  : delete:
      description: Deletes and autoscale setting
      operationId: autoscale_settings_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The autoscale setting name.
        in: path
        name: autoscale_setting_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successful request to delete an autoscale setting
        "204":
          content: {}
          description: "No content: Successful request to delete an autoscale setting,\
            \ but the response is intentionally empty"
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - AutoscaleSettings
      x-ms-examples:
        Delete an autoscale setting:
          parameters:
            api-version: 2015-04-01
            autoscaleSettingName: MySetting
            resourceGroupName: TestingMetricsScaleSet
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.autoscale_settings_controller
    get:
      description: Gets an autoscale setting
      operationId: autoscale_settings_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The autoscale setting name.
        in: path
        name: autoscaleSettingName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResource'
          description: Successful request to get one autoscale setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - AutoscaleSettings
      x-ms-examples:
        Get an autoscale setting:
          parameters:
            api-version: 2015-04-01
            autoscaleSettingName: MySetting
            resourceGroupName: TestingMetricsScaleSet
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200":
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
                location: West US
                name: MySetting
                properties:
                  enabled: true
                  name: MySetting
                  notifications:
                  - email:
                      customEmails:
                      - gu@ms.com
                      - ge@ns.net
                      sendToSubscriptionAdministrator: true
                      sendToSubscriptionCoAdministrators: true
                    operation: Scale
                    webhooks:
                    - properties: {}
                      serviceUri: http://myservice.com
                  profiles:
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    fixedDate:
                      end: 2015-03-05T14:30:00Z
                      start: 2015-03-05T14:00:00Z
                      timeZone: UTC
                    name: adios
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    name: saludos
                    recurrence:
                      frequency: Week
                      schedule:
                        days:
                        - "1"
                        hours:
                        - 5
                        minutes:
                        - 15
                        timeZone: UTC
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                tags:
                  $type: "Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,\
                    \ Microsoft.WindowsAzure.Management.Common.Storage"
                type: Microsoft.Insights/autoscaleSettings
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.autoscale_settings_controller
    patch:
      description: Updates an existing AutoscaleSettingsResource. To update other
        fields use the CreateOrUpdate method.
      operationId: autoscale_settings_update
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The autoscale setting name.
        in: path
        name: autoscale_setting_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoscaleSettingResourcePatch'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: autoscaleSettingResource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResource'
          description: An existing autoscale setting resource was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Patch an autoscale setting:
          parameters:
            api-version: 2015-04-01
            autoscaleSettingName: MySetting
            autoscaleSettingResource:
              properties:
                enabled: true
                notifications:
                - email:
                    customEmails:
                    - gu@ms.com
                    - ge@ns.net
                    sendToSubscriptionAdministrator: true
                    sendToSubscriptionCoAdministrators: true
                  operation: Scale
                  webhooks:
                  - properties: {}
                    serviceUri: http://myservice.com
                profiles:
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  fixedDate:
                    end: 2015-03-05T14:30:00Z
                    start: 2015-03-05T14:00:00Z
                    timeZone: UTC
                  name: adios
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  name: saludos
                  recurrence:
                    frequency: Week
                    schedule:
                      days:
                      - "1"
                      hours:
                      - 5
                      minutes:
                      - 15
                      timeZone: UTC
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
              tags:
                $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary
            resourceGroupName: TestingMetricsScaleSet
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200":
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
                location: West US
                name: MySetting
                properties:
                  enabled: true
                  name: MySetting
                  notifications:
                  - email:
                      customEmails:
                      - gu@ms.com
                      - ge@ns.net
                      sendToSubscriptionAdministrator: true
                      sendToSubscriptionCoAdministrators: true
                    operation: Scale
                    webhooks:
                    - properties: {}
                      serviceUri: http://myservice.com
                  profiles:
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    fixedDate:
                      end: 2015-03-05T14:30:00Z
                      start: 2015-03-05T14:00:00Z
                      timeZone: UTC
                    name: adios
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    name: saludos
                    recurrence:
                      frequency: Week
                      schedule:
                        days:
                        - "1"
                        hours:
                        - 5
                        minutes:
                        - 15
                        timeZone: UTC
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary
                type: Microsoft.Insights/autoscaleSettings
              headers: {}
      x-codegen-request-body-name: autoscaleSettingResource
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Creates or updates an autoscale setting.
      operationId: autoscale_settings_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The autoscale setting name.
        in: path
        name: autoscale_setting_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoscaleSettingResource'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResource'
          description: Successful request to create or update an autoscale setting
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoscaleSettingResource'
          description: Created autoscale setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - AutoscaleSettings
      x-ms-examples:
        Create or update an autoscale setting:
          parameters:
            api-version: 2015-04-01
            autoscaleSettingName: MySetting
            parameters:
              location: West US
              properties:
                enabled: true
                notifications:
                - email:
                    customEmails:
                    - gu@ms.com
                    - ge@ns.net
                    sendToSubscriptionAdministrator: true
                    sendToSubscriptionCoAdministrators: true
                  operation: Scale
                  webhooks:
                  - properties: {}
                    serviceUri: http://myservice.com
                profiles:
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  fixedDate:
                    end: 2015-03-05T14:30:00Z
                    start: 2015-03-05T14:00:00Z
                    timeZone: UTC
                  name: adios
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  name: saludos
                  recurrence:
                    frequency: Week
                    schedule:
                      days:
                      - "1"
                      hours:
                      - 5
                      minutes:
                      - 15
                      timeZone: UTC
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
              tags: {}
            resourceGroupName: TestingMetricsScaleSet
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            "200":
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
                location: West US
                name: MySetting
                properties:
                  enabled: true
                  name: MySetting
                  notifications:
                  - email:
                      customEmails:
                      - gu@ms.com
                      - ge@ns.net
                      sendToSubscriptionAdministrator: true
                      sendToSubscriptionCoAdministrators: true
                    operation: Scale
                    webhooks:
                    - properties: {}
                      serviceUri: http://myservice.com
                  profiles:
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    fixedDate:
                      end: 2015-03-05T14:30:00Z
                      start: 2015-03-05T14:00:00Z
                      timeZone: UTC
                    name: adios
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    name: saludos
                    recurrence:
                      frequency: Week
                      schedule:
                        days:
                        - "1"
                        hours:
                        - 5
                        minutes:
                        - 15
                        timeZone: UTC
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                tags:
                  $type: "Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,\
                    \ Microsoft.WindowsAzure.Management.Common.Storage"
                type: Microsoft.Insights/autoscaleSettings
              headers: {}
            "201":
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
                location: West US
                name: MySetting
                properties:
                  enabled: true
                  name: MySetting
                  notifications:
                  - email:
                      customEmails:
                      - gu@ms.com
                      - ge@ns.net
                      sendToSubscriptionAdministrator: true
                      sendToSubscriptionCoAdministrators: true
                    operation: Scale
                    webhooks:
                    - properties: {}
                      serviceUri: http://myservice.com
                  profiles:
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    fixedDate:
                      end: 2015-03-05T14:30:00Z
                      start: 2015-03-05T14:00:00Z
                      timeZone: UTC
                    name: adios
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    name: saludos
                    recurrence:
                      frequency: Week
                      schedule:
                        days:
                        - "1"
                        hours:
                        - 5
                        minutes:
                        - 15
                        timeZone: UTC
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                tags:
                  $type: "Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,\
                    \ Microsoft.WindowsAzure.Management.Common.Storage"
                type: Microsoft.Insights/autoscaleSettings
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.autoscale_settings_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    AutoscaleSettingNameParameter:
      description: The autoscale setting name.
      in: path
      name: autoscaleSettingName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Azure subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AutoscaleNotification:
      description: Autoscale notification.
      example:
        webhooks:
        - serviceUri: serviceUri
          properties:
            key: properties
        - serviceUri: serviceUri
          properties:
            key: properties
        operation: Scale
        email:
          sendToSubscriptionAdministrator: true
          customEmails:
          - customEmails
          - customEmails
          sendToSubscriptionCoAdministrators: true
      properties:
        email:
          $ref: '#/components/schemas/EmailNotification'
        operation:
          description: the operation associated with the notification and its value
            must be "scale"
          enum:
          - Scale
          title: operation
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperationType
        webhooks:
          description: the collection of webhook notifications.
          items:
            $ref: '#/components/schemas/WebhookNotification'
          title: webhooks
          type: array
      required:
      - operation
      title: AutoscaleNotification
      type: object
    AutoscaleProfile:
      description: Autoscale profile.
      example:
        recurrence:
          schedule:
            hours:
            - 0
            - 0
            minutes:
            - 6
            - 6
            days:
            - days
            - days
            timeZone: timeZone
          frequency: None
        fixedDate:
          start: 2000-01-23T04:56:07.000+00:00
          timeZone: timeZone
          end: 2000-01-23T04:56:07.000+00:00
        name: name
        rules:
        - scaleAction:
            cooldown: cooldown
            type: ChangeCount
            value: "1"
            direction: None
          metricTrigger:
            metricResourceUri: metricResourceUri
            statistic: Average
            timeGrain: timeGrain
            timeWindow: timeWindow
            metricName: metricName
            timeAggregation: Average
            threshold: 1.4658129805029452
            operator: Equals
        - scaleAction:
            cooldown: cooldown
            type: ChangeCount
            value: "1"
            direction: None
          metricTrigger:
            metricResourceUri: metricResourceUri
            statistic: Average
            timeGrain: timeGrain
            timeWindow: timeWindow
            metricName: metricName
            timeAggregation: Average
            threshold: 1.4658129805029452
            operator: Equals
        capacity:
          default: default
          maximum: maximum
          minimum: minimum
      properties:
        capacity:
          $ref: '#/components/schemas/ScaleCapacity'
        fixedDate:
          $ref: '#/components/schemas/TimeWindow'
        name:
          description: the name of the profile.
          title: name
          type: string
        recurrence:
          $ref: '#/components/schemas/Recurrence'
        rules:
          description: the collection of rules that provide the triggers and parameters
            for the scaling action. A maximum of 10 rules can be specified.
          items:
            $ref: '#/components/schemas/ScaleRule'
          title: rules
          type: array
      required:
      - capacity
      - name
      - rules
      title: AutoscaleProfile
      type: object
    AutoscaleSetting:
      description: A setting that contains all of the configuration for the automatic
        scaling of a resource.
      example:
        targetResourceUri: targetResourceUri
        name: name
        profiles:
        - recurrence:
            schedule:
              hours:
              - 0
              - 0
              minutes:
              - 6
              - 6
              days:
              - days
              - days
              timeZone: timeZone
            frequency: None
          fixedDate:
            start: 2000-01-23T04:56:07.000+00:00
            timeZone: timeZone
            end: 2000-01-23T04:56:07.000+00:00
          name: name
          rules:
          - scaleAction:
              cooldown: cooldown
              type: ChangeCount
              value: "1"
              direction: None
            metricTrigger:
              metricResourceUri: metricResourceUri
              statistic: Average
              timeGrain: timeGrain
              timeWindow: timeWindow
              metricName: metricName
              timeAggregation: Average
              threshold: 1.4658129805029452
              operator: Equals
          - scaleAction:
              cooldown: cooldown
              type: ChangeCount
              value: "1"
              direction: None
            metricTrigger:
              metricResourceUri: metricResourceUri
              statistic: Average
              timeGrain: timeGrain
              timeWindow: timeWindow
              metricName: metricName
              timeAggregation: Average
              threshold: 1.4658129805029452
              operator: Equals
          capacity:
            default: default
            maximum: maximum
            minimum: minimum
        - recurrence:
            schedule:
              hours:
              - 0
              - 0
              minutes:
              - 6
              - 6
              days:
              - days
              - days
              timeZone: timeZone
            frequency: None
          fixedDate:
            start: 2000-01-23T04:56:07.000+00:00
            timeZone: timeZone
            end: 2000-01-23T04:56:07.000+00:00
          name: name
          rules:
          - scaleAction:
              cooldown: cooldown
              type: ChangeCount
              value: "1"
              direction: None
            metricTrigger:
              metricResourceUri: metricResourceUri
              statistic: Average
              timeGrain: timeGrain
              timeWindow: timeWindow
              metricName: metricName
              timeAggregation: Average
              threshold: 1.4658129805029452
              operator: Equals
          - scaleAction:
              cooldown: cooldown
              type: ChangeCount
              value: "1"
              direction: None
            metricTrigger:
              metricResourceUri: metricResourceUri
              statistic: Average
              timeGrain: timeGrain
              timeWindow: timeWindow
              metricName: metricName
              timeAggregation: Average
              threshold: 1.4658129805029452
              operator: Equals
          capacity:
            default: default
            maximum: maximum
            minimum: minimum
        - recurrence:
            schedule:
              hours:
              - 0
              - 0
              minutes:
              - 6
              - 6
              days:
              - days
              - days
              timeZone: timeZone
            frequency: None
          fixedDate:
            start: 2000-01-23T04:56:07.000+00:00
            timeZone: timeZone
            end: 2000-01-23T04:56:07.000+00:00
          name: name
          rules:
          - scaleAction:
              cooldown: cooldown
              type: ChangeCount
              value: "1"
              direction: None
            metricTrigger:
              metricResourceUri: metricResourceUri
              statistic: Average
              timeGrain: timeGrain
              timeWindow: timeWindow
              metricName: metricName
              timeAggregation: Average
              threshold: 1.4658129805029452
              operator: Equals
          - scaleAction:
              cooldown: cooldown
              type: ChangeCount
              value: "1"
              direction: None
            metricTrigger:
              metricResourceUri: metricResourceUri
              statistic: Average
              timeGrain: timeGrain
              timeWindow: timeWindow
              metricName: metricName
              timeAggregation: Average
              threshold: 1.4658129805029452
              operator: Equals
          capacity:
            default: default
            maximum: maximum
            minimum: minimum
        - recurrence:
            schedule:
              hours:
              - 0
              - 0
              minutes:
              - 6
              - 6
              days:
              - days
              - days
              timeZone: timeZone
            frequency: None
          fixedDate:
            start: 2000-01-23T04:56:07.000+00:00
            timeZone: timeZone
            end: 2000-01-23T04:56:07.000+00:00
          name: name
          rules:
          - scaleAction:
              cooldown: cooldown
              type: ChangeCount
              value: "1"
              direction: None
            metricTrigger:
              metricResourceUri: metricResourceUri
              statistic: Average
              timeGrain: timeGrain
              timeWindow: timeWindow
              metricName: metricName
              timeAggregation: Average
              threshold: 1.4658129805029452
              operator: Equals
          - scaleAction:
              cooldown: cooldown
              type: ChangeCount
              value: "1"
              direction: None
            metricTrigger:
              metricResourceUri: metricResourceUri
              statistic: Average
              timeGrain: timeGrain
              timeWindow: timeWindow
              metricName: metricName
              timeAggregation: Average
              threshold: 1.4658129805029452
              operator: Equals
          capacity:
            default: default
            maximum: maximum
            minimum: minimum
        - recurrence:
            schedule:
              hours:
              - 0
              - 0
              minutes:
              - 6
              - 6
              days:
              - days
              - days
              timeZone: timeZone
            frequency: None
          fixedDate:
            start: 2000-01-23T04:56:07.000+00:00
            timeZone: timeZone
            end: 2000-01-23T04:56:07.000+00:00
          name: name
          rules:
          - scaleAction:
              cooldown: cooldown
              type: ChangeCount
              value: "1"
              direction: None
            metricTrigger:
              metricResourceUri: metricResourceUri
              statistic: Average
              timeGrain: timeGrain
              timeWindow: timeWindow
              metricName: metricName
              timeAggregation: Average
              threshold: 1.4658129805029452
              operator: Equals
          - scaleAction:
              cooldown: cooldown
              type: ChangeCount
              value: "1"
              direction: None
            metricTrigger:
              metricResourceUri: metricResourceUri
              statistic: Average
              timeGrain: timeGrain
              timeWindow: timeWindow
              metricName: metricName
              timeAggregation: Average
              threshold: 1.4658129805029452
              operator: Equals
          capacity:
            default: default
            maximum: maximum
            minimum: minimum
        enabled: true
        notifications:
        - webhooks:
          - serviceUri: serviceUri
            properties:
              key: properties
          - serviceUri: serviceUri
            properties:
              key: properties
          operation: Scale
          email:
            sendToSubscriptionAdministrator: true
            customEmails:
            - customEmails
            - customEmails
            sendToSubscriptionCoAdministrators: true
        - webhooks:
          - serviceUri: serviceUri
            properties:
              key: properties
          - serviceUri: serviceUri
            properties:
              key: properties
          operation: Scale
          email:
            sendToSubscriptionAdministrator: true
            customEmails:
            - customEmails
            - customEmails
            sendToSubscriptionCoAdministrators: true
      properties:
        enabled:
          default: true
          description: the enabled flag. Specifies whether automatic scaling is enabled
            for the resource. The default value is 'true'.
          title: enabled
          type: boolean
        name:
          description: the name of the autoscale setting.
          title: name
          type: string
        notifications:
          description: the collection of notifications.
          items:
            $ref: '#/components/schemas/AutoscaleNotification'
          title: notifications
          type: array
        profiles:
          description: the collection of automatic scaling profiles that specify different
            scaling parameters for different time periods. A maximum of 20 profiles
            can be specified.
          items:
            $ref: '#/components/schemas/AutoscaleProfile'
          maxItems: 20
          title: profiles
          type: array
        targetResourceUri:
          description: the resource identifier of the resource that the autoscale
            setting should be added to.
          title: targetResourceUri
          type: string
      required:
      - profiles
      title: AutoscaleSetting
      type: object
    AutoscaleSettingResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The autoscale setting resource.
      example:
        properties:
          targetResourceUri: targetResourceUri
          name: name
          profiles:
          - recurrence:
              schedule:
                hours:
                - 0
                - 0
                minutes:
                - 6
                - 6
                days:
                - days
                - days
                timeZone: timeZone
              frequency: None
            fixedDate:
              start: 2000-01-23T04:56:07.000+00:00
              timeZone: timeZone
              end: 2000-01-23T04:56:07.000+00:00
            name: name
            rules:
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            capacity:
              default: default
              maximum: maximum
              minimum: minimum
          - recurrence:
              schedule:
                hours:
                - 0
                - 0
                minutes:
                - 6
                - 6
                days:
                - days
                - days
                timeZone: timeZone
              frequency: None
            fixedDate:
              start: 2000-01-23T04:56:07.000+00:00
              timeZone: timeZone
              end: 2000-01-23T04:56:07.000+00:00
            name: name
            rules:
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            capacity:
              default: default
              maximum: maximum
              minimum: minimum
          - recurrence:
              schedule:
                hours:
                - 0
                - 0
                minutes:
                - 6
                - 6
                days:
                - days
                - days
                timeZone: timeZone
              frequency: None
            fixedDate:
              start: 2000-01-23T04:56:07.000+00:00
              timeZone: timeZone
              end: 2000-01-23T04:56:07.000+00:00
            name: name
            rules:
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            capacity:
              default: default
              maximum: maximum
              minimum: minimum
          - recurrence:
              schedule:
                hours:
                - 0
                - 0
                minutes:
                - 6
                - 6
                days:
                - days
                - days
                timeZone: timeZone
              frequency: None
            fixedDate:
              start: 2000-01-23T04:56:07.000+00:00
              timeZone: timeZone
              end: 2000-01-23T04:56:07.000+00:00
            name: name
            rules:
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            capacity:
              default: default
              maximum: maximum
              minimum: minimum
          - recurrence:
              schedule:
                hours:
                - 0
                - 0
                minutes:
                - 6
                - 6
                days:
                - days
                - days
                timeZone: timeZone
              frequency: None
            fixedDate:
              start: 2000-01-23T04:56:07.000+00:00
              timeZone: timeZone
              end: 2000-01-23T04:56:07.000+00:00
            name: name
            rules:
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            capacity:
              default: default
              maximum: maximum
              minimum: minimum
          enabled: true
          notifications:
          - webhooks:
            - serviceUri: serviceUri
              properties:
                key: properties
            - serviceUri: serviceUri
              properties:
                key: properties
            operation: Scale
            email:
              sendToSubscriptionAdministrator: true
              customEmails:
              - customEmails
              - customEmails
              sendToSubscriptionCoAdministrators: true
          - webhooks:
            - serviceUri: serviceUri
              properties:
                key: properties
            - serviceUri: serviceUri
              properties:
                key: properties
            operation: Scale
            email:
              sendToSubscriptionAdministrator: true
              customEmails:
              - customEmails
              - customEmails
              sendToSubscriptionCoAdministrators: true
      properties:
        properties:
          $ref: '#/components/schemas/AutoscaleSetting'
      required:
      - properties
      title: AutoscaleSettingResource
    AutoscaleSettingResourceCollection:
      description: Represents a collection of autoscale setting resources.
      example:
        value:
        - properties:
            targetResourceUri: targetResourceUri
            name: name
            profiles:
            - recurrence:
                schedule:
                  hours:
                  - 0
                  - 0
                  minutes:
                  - 6
                  - 6
                  days:
                  - days
                  - days
                  timeZone: timeZone
                frequency: None
              fixedDate:
                start: 2000-01-23T04:56:07.000+00:00
                timeZone: timeZone
                end: 2000-01-23T04:56:07.000+00:00
              name: name
              rules:
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              capacity:
                default: default
                maximum: maximum
                minimum: minimum
            - recurrence:
                schedule:
                  hours:
                  - 0
                  - 0
                  minutes:
                  - 6
                  - 6
                  days:
                  - days
                  - days
                  timeZone: timeZone
                frequency: None
              fixedDate:
                start: 2000-01-23T04:56:07.000+00:00
                timeZone: timeZone
                end: 2000-01-23T04:56:07.000+00:00
              name: name
              rules:
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              capacity:
                default: default
                maximum: maximum
                minimum: minimum
            - recurrence:
                schedule:
                  hours:
                  - 0
                  - 0
                  minutes:
                  - 6
                  - 6
                  days:
                  - days
                  - days
                  timeZone: timeZone
                frequency: None
              fixedDate:
                start: 2000-01-23T04:56:07.000+00:00
                timeZone: timeZone
                end: 2000-01-23T04:56:07.000+00:00
              name: name
              rules:
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              capacity:
                default: default
                maximum: maximum
                minimum: minimum
            - recurrence:
                schedule:
                  hours:
                  - 0
                  - 0
                  minutes:
                  - 6
                  - 6
                  days:
                  - days
                  - days
                  timeZone: timeZone
                frequency: None
              fixedDate:
                start: 2000-01-23T04:56:07.000+00:00
                timeZone: timeZone
                end: 2000-01-23T04:56:07.000+00:00
              name: name
              rules:
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              capacity:
                default: default
                maximum: maximum
                minimum: minimum
            - recurrence:
                schedule:
                  hours:
                  - 0
                  - 0
                  minutes:
                  - 6
                  - 6
                  days:
                  - days
                  - days
                  timeZone: timeZone
                frequency: None
              fixedDate:
                start: 2000-01-23T04:56:07.000+00:00
                timeZone: timeZone
                end: 2000-01-23T04:56:07.000+00:00
              name: name
              rules:
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              capacity:
                default: default
                maximum: maximum
                minimum: minimum
            enabled: true
            notifications:
            - webhooks:
              - serviceUri: serviceUri
                properties:
                  key: properties
              - serviceUri: serviceUri
                properties:
                  key: properties
              operation: Scale
              email:
                sendToSubscriptionAdministrator: true
                customEmails:
                - customEmails
                - customEmails
                sendToSubscriptionCoAdministrators: true
            - webhooks:
              - serviceUri: serviceUri
                properties:
                  key: properties
              - serviceUri: serviceUri
                properties:
                  key: properties
              operation: Scale
              email:
                sendToSubscriptionAdministrator: true
                customEmails:
                - customEmails
                - customEmails
                sendToSubscriptionCoAdministrators: true
        - properties:
            targetResourceUri: targetResourceUri
            name: name
            profiles:
            - recurrence:
                schedule:
                  hours:
                  - 0
                  - 0
                  minutes:
                  - 6
                  - 6
                  days:
                  - days
                  - days
                  timeZone: timeZone
                frequency: None
              fixedDate:
                start: 2000-01-23T04:56:07.000+00:00
                timeZone: timeZone
                end: 2000-01-23T04:56:07.000+00:00
              name: name
              rules:
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              capacity:
                default: default
                maximum: maximum
                minimum: minimum
            - recurrence:
                schedule:
                  hours:
                  - 0
                  - 0
                  minutes:
                  - 6
                  - 6
                  days:
                  - days
                  - days
                  timeZone: timeZone
                frequency: None
              fixedDate:
                start: 2000-01-23T04:56:07.000+00:00
                timeZone: timeZone
                end: 2000-01-23T04:56:07.000+00:00
              name: name
              rules:
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              capacity:
                default: default
                maximum: maximum
                minimum: minimum
            - recurrence:
                schedule:
                  hours:
                  - 0
                  - 0
                  minutes:
                  - 6
                  - 6
                  days:
                  - days
                  - days
                  timeZone: timeZone
                frequency: None
              fixedDate:
                start: 2000-01-23T04:56:07.000+00:00
                timeZone: timeZone
                end: 2000-01-23T04:56:07.000+00:00
              name: name
              rules:
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              capacity:
                default: default
                maximum: maximum
                minimum: minimum
            - recurrence:
                schedule:
                  hours:
                  - 0
                  - 0
                  minutes:
                  - 6
                  - 6
                  days:
                  - days
                  - days
                  timeZone: timeZone
                frequency: None
              fixedDate:
                start: 2000-01-23T04:56:07.000+00:00
                timeZone: timeZone
                end: 2000-01-23T04:56:07.000+00:00
              name: name
              rules:
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              capacity:
                default: default
                maximum: maximum
                minimum: minimum
            - recurrence:
                schedule:
                  hours:
                  - 0
                  - 0
                  minutes:
                  - 6
                  - 6
                  days:
                  - days
                  - days
                  timeZone: timeZone
                frequency: None
              fixedDate:
                start: 2000-01-23T04:56:07.000+00:00
                timeZone: timeZone
                end: 2000-01-23T04:56:07.000+00:00
              name: name
              rules:
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              - scaleAction:
                  cooldown: cooldown
                  type: ChangeCount
                  value: "1"
                  direction: None
                metricTrigger:
                  metricResourceUri: metricResourceUri
                  statistic: Average
                  timeGrain: timeGrain
                  timeWindow: timeWindow
                  metricName: metricName
                  timeAggregation: Average
                  threshold: 1.4658129805029452
                  operator: Equals
              capacity:
                default: default
                maximum: maximum
                minimum: minimum
            enabled: true
            notifications:
            - webhooks:
              - serviceUri: serviceUri
                properties:
                  key: properties
              - serviceUri: serviceUri
                properties:
                  key: properties
              operation: Scale
              email:
                sendToSubscriptionAdministrator: true
                customEmails:
                - customEmails
                - customEmails
                sendToSubscriptionCoAdministrators: true
            - webhooks:
              - serviceUri: serviceUri
                properties:
                  key: properties
              - serviceUri: serviceUri
                properties:
                  key: properties
              operation: Scale
              email:
                sendToSubscriptionAdministrator: true
                customEmails:
                - customEmails
                - customEmails
                sendToSubscriptionCoAdministrators: true
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: the values for the autoscale setting resources.
          items:
            $ref: '#/components/schemas/AutoscaleSettingResource'
          title: value
          type: array
      required:
      - value
      title: AutoscaleSettingResourceCollection
      type: object
    AutoscaleSettingResourcePatch:
      description: The autoscale setting object for patch operations.
      example:
        properties:
          targetResourceUri: targetResourceUri
          name: name
          profiles:
          - recurrence:
              schedule:
                hours:
                - 0
                - 0
                minutes:
                - 6
                - 6
                days:
                - days
                - days
                timeZone: timeZone
              frequency: None
            fixedDate:
              start: 2000-01-23T04:56:07.000+00:00
              timeZone: timeZone
              end: 2000-01-23T04:56:07.000+00:00
            name: name
            rules:
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            capacity:
              default: default
              maximum: maximum
              minimum: minimum
          - recurrence:
              schedule:
                hours:
                - 0
                - 0
                minutes:
                - 6
                - 6
                days:
                - days
                - days
                timeZone: timeZone
              frequency: None
            fixedDate:
              start: 2000-01-23T04:56:07.000+00:00
              timeZone: timeZone
              end: 2000-01-23T04:56:07.000+00:00
            name: name
            rules:
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
                timeWindow: timeWindow
                metricName: metricName
                timeAggregation: Average
                threshold: 1.4658129805029452
                operator: Equals
            - scaleAction:
                cooldown: cooldown
                type: ChangeCount
                value: "1"
                direction: None
              metricTrigger:
                metricResourceUri: metricResourceUri
                statistic: Average
                timeGrain: timeGrain
[...]
