openapi: 3.0.1
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: 2015-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Location.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Location
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations:
    get:
      description: Get a list of all AzureStack location.
      operationId: Locations_List
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationList'
          description: OK
      tags:
      - Locations
      x-ms-examples:
        Get a list of all AzureStack location.:
          parameters:
            api-version: 2015-11-01
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - displayName: local
                  id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local
                  latitude: ""
                  longitude: ""
                  name: local
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}:
    get:
      description: Get the specified location.
      operationId: Locations_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The AzureStack location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: OK
      tags:
      - Locations
      x-ms-examples:
        Get the specified location.:
          parameters:
            api-version: 2015-11-01
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                displayName: local
                id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local
                latitude: ""
                longitude: ""
                name: local
      x-accepts:
      - application/json
    put:
      description: Updates the specified location.
      operationId: Locations_CreateOrUpdate
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The AzureStack location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
        description: The new location
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: OK
      tags:
      - Locations
      x-ms-examples:
        Updates the specified location.:
          parameters:
            api-version: 2015-11-01
            location: local
            newLocation:
              displayName: local
              latitude: "56"
              longitude: "65"
              name: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                displayName: local
                id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local
                latitude: ""
                longitude: ""
                name: local
      x-codegen-request-body-name: newLocation
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/operationsStatus/{operationsStatusName}
  : get:
      description: Get the operation status.
      operationId: Locations_GetOperationsStatus
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The AzureStack location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The operation status name.
        in: path
        name: operationsStatusName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsStatus'
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: Not Content
        "404":
          content: {}
          description: Not Found
      tags:
      - Locations
      x-ms-examples:
        Get the specified operation status.:
          parameters:
            api-version: 2015-11-01
            location: local
            operationsStatusName: subname
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                endTime: 2017-08-01T00:00:00.00Z
                error:
                  code: ""
                  message: ""
                id:
                  location: local
                  name: ""
                  subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
                percentComplete: 0
                properties: {}
                responseContent: {}
                retryAfter: ""
                startTime: 2017-08-01T00:00:00.00Z
                status: ""
                terminalHttpStatusCode: ""
            "202": {}
            "204": {}
            "404": {}
      x-accepts:
      - application/json
components:
  requestBodies:
    NewLocationParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Location'
      description: The new location
      required: true
      x-ms-parameter-location: method
  schemas:
    ExtendedErrorInfo:
      description: The extended error information.
      example:
        code: code
        details:
          value:
          - null
          - null
          nextLink: nextLink
        message: message
      properties:
        code:
          description: The error code.
          type: string
        details:
          $ref: '#/components/schemas/ExtendedErrorInfoList'
        message:
          description: The error message.
          type: string
      type: object
    ExtendedErrorInfoList:
      description: List of the extended error information.
      example:
        value:
        - null
        - null
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to next page.
          type: string
        value:
          description: List of the extended error information.
          items:
            $ref: '#/components/schemas/ExtendedErrorInfo'
          type: array
      type: object
    Location:
      description: Contains information about a geographical location where resource
        providers can be deployed.
      example:
        displayName: displayName
        latitude: latitude
        name: name
        id: id
        longitude: longitude
      properties:
        displayName:
          description: Display name of the location.
          type: string
        id:
          description: Location identifier.
          type: string
        latitude:
          description: Latitude of the location.
          type: string
        longitude:
          description: Longitude of the location.
          type: string
        name:
          description: Location name.
          type: string
      type: object
    LocationList:
      description: List of locations.
      example:
        value:
        - displayName: displayName
          latitude: latitude
          name: name
          id: id
          longitude: longitude
        - displayName: displayName
          latitude: latitude
          name: name
          id: id
          longitude: longitude
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to next page.
          type: string
        value:
          description: List of locations.
          items:
            $ref: '#/components/schemas/Location'
          type: array
      type: object
    OperationsStatus:
      description: A long running operation status.
      example:
        retryAfter: retryAfter
        terminalHttpStatusCode: terminalHttpStatusCode
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        id:
          name: name
          location: location
          subscriptionId: subscriptionId
        percentComplete: 0.8008281904610115
        error:
          code: code
          details:
            value:
            - null
            - null
            nextLink: nextLink
          message: message
        properties: "{}"
        responseContent: "{}"
        status: status
      properties:
        endTime:
          description: The end time of the operation.
          format: date-time
          type: string
        error:
          $ref: '#/components/schemas/ExtendedErrorInfo'
        id:
          $ref: '#/components/schemas/OperationsStatusIdentifier'
        percentComplete:
          description: The completion percentage of the operation.
          type: number
        properties:
          description: The internal operation properties.
          properties: {}
          type: object
        responseContent:
          description: The content of the response.
          properties: {}
          type: object
        retryAfter:
          description: The amount of time clients should wait..
          type: string
        startTime:
          description: The start time of the operation.
          format: date-time
          type: string
        status:
          description: The status of the operation.
          type: string
        terminalHttpStatusCode:
          description: The terminal http status code for the operation.
          type: string
      type: object
    OperationsStatusIdentifier:
      description: The admin offer identifier for the location wide SubscriptionsAdminResourceTypes.OperationsStatus
        resource type.
      example:
        name: name
        location: location
        subscriptionId: subscriptionId
      properties:
        location:
          description: The location of the operations status.
          type: string
        name:
          description: The name of the operations status.
          type: string
        subscriptionId:
          description: The subscription identifier..
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

