openapi: 3.0.1
info:
  description: These APIs allow end users to operate on Azure Machine Learning Workspace
    resources. They support CRUD operations for Azure Machine Learning Workspaces.
  title: Machine Learning Workspaces Management Client
  version: 2016-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2016-04-01/workspaces.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: machinelearning-workspaces
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.MachineLearning/operations:
    get:
      description: Lists all of the available Azure Machine Learning Studio REST API
        operations.
      operationId: operations_list
      parameters:
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Operation
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.operation_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/workspaces:
    get:
      description: Lists all the available machine learning workspaces under the specified
        subscription.
      operationId: workspaces_list
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceGetBySubscription:
          parameters:
            api-version: 2016-04-01
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace
                  location: East US
                  name: testworkspace
                  properties:
                    creationTime: 2017-03-01T23:14:37.0707808Z
                    keyVaultIdentifierId: kvid
                    ownerEmail: abc@microsoft.com
                    studioEndpoint: https://studioapi.azureml.net
                    userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1
                    workspaceId: 00000000-1111-2222-3333-444444444444
                    workspaceState: Enabled
                    workspaceType: PaidStandard
                  type: Microsoft.MachineLearning/workspaces
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace1
                  location: East US
                  name: testworkspace1
                  properties:
                    creationTime: 2017-03-01T23:16:37.0707808Z
                    keyVaultIdentifierId: kvid
                    ownerEmail: abc@microsoft.com
                    studioEndpoint: https://studioapi.azureml.net
                    userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1
                    workspaceId: 00000000-1111-2222-3333-444444444444
                    workspaceState: Enabled
                    workspaceType: PaidStandard
                  type: Microsoft.MachineLearning/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces:
    get:
      description: Lists all the available machine learning workspaces under the specified
        resource group.
      operationId: workspaces_list_by_resource_group
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          workspace belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceListResourceGroup:
          parameters:
            api-version: 2016-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace
                  location: East US
                  name: testworkspace
                  properties:
                    creationTime: 2017-03-01T23:14:37.0707808Z
                    keyVaultIdentifierId: kvid
                    ownerEmail: abc@microsoft.com
                    studioEndpoint: https://studioapi.azureml.net
                    userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1
                    workspaceId: 00000000-1111-2222-3333-444444444444
                    workspaceState: Enabled
                    workspaceType: PaidStandard
                  type: Microsoft.MachineLearning/workspaces
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace1
                  location: East US
                  name: testworkspace1
                  properties:
                    creationTime: 2017-03-01T23:16:37.0707808Z
                    keyVaultIdentifierId: kvid
                    ownerEmail: abc@microsoft.com
                    studioEndpoint: https://studioapi.azureml.net
                    userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1
                    workspaceId: 00000000-1111-2222-3333-444444444444
                    workspaceState: Enabled
                    workspaceType: PaidStandard
                  type: Microsoft.MachineLearning/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}
  : delete:
      description: Deletes a machine learning workspace.
      operationId: workspaces_delete
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          workspace belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "204":
          content: {}
          description: The machine learning workspace does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceDelete:
          parameters:
            api-version: 2016-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    get:
      description: Gets the properties of the specified machine learning workspace.
      operationId: workspaces_get
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          workspace belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceGet:
          parameters:
            api-version: 2016-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  keyVaultIdentifierId: kvid
                  ownerEmail: abc@microsoft.com
                  studioEndpoint: https://studioapi.azureml.net
                  userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage
                  workspaceId: 00000000-1111-2222-3333-444444444444
                  workspaceState: Enabled
                  workspaceType: PaidStandard
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearning/workspaces
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    patch:
      description: Updates a machine learning workspace with the specified parameters.
      operationId: workspaces_update
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          workspace belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateParameters'
        description: The parameters for updating a machine learning workspace.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceUpdate:
          parameters:
            api-version: 2016-04-01
            parameters:
              properties:
                keyVaultIdentifierId: kvidnew
              tags:
                tagKey1: TagValue1
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  keyVaultIdentifierId: kvidnew
                  ownerEmail: abc@microsoft.com
                  studioEndpoint: https://studioapi.azureml.net
                  userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage
                  workspaceId: 00000000-1111-2222-3333-444444444444
                  workspaceState: Enabled
                  workspaceType: PaidStandard
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearning/workspaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    put:
      description: Creates or updates a workspace with the specified parameters.
      operationId: workspaces_create_or_update
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the machine learning
          workspace belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the machine learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: The parameters for creating or updating a machine learning workspace.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The request was successful; the resource already exists and
            was updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceCreate:
          parameters:
            api-version: 2016-04-01
            parameters:
              location: West Europe
              properties:
                ownerEmail: abc@microsoft.com
                userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage
              tags:
                tagKey1: TagValue1
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  keyVaultIdentifierId: kvid
                  ownerEmail: abc@microsoft.com
                  studioEndpoint: https://studioapi.azureml.net
                  userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage
                  workspaceId: 00000000-1111-2222-3333-444444444444
                  workspaceState: Enabled
                  workspaceType: PaidStandard
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearning/workspaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}/listWorkspaceKeys
  : post:
      description: List the authorization keys associated with this workspace.
      operationId: workspaces_list_workspace_keys
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the machine learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group to which the machine learning
          workspace belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceKeysResponse'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        ListWorkspaceKeys:
          parameters:
            api-version: 2016-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                primaryToken: cZdmqKBYLEPcPo7dsfdfefeSlKpnxybJ86KSQGLarmLik2MYMxHijwsDIZ+d1mGtYJz3mlI5AEnxu8QqHcUjSA==
                secondaryToken: NPtbk8ksmLvsasasonFeTjw/k7QLz/SEdKN8+SyzKRcPzOVTQcR6C0O1fwmlELnCsYLjs+13yzdJ+4+Lxo3LtZ2g==
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}/resyncStorageKeys
  : post:
      description: Resync storage keys associated with this workspace.
      operationId: workspaces_resync_storage_keys
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the machine learning workspace.
        in: path
        name: workspace_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group to which the machine learning
          workspace belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed
      tags:
      - Workspaces
      x-ms-examples:
        ResyncStorageKeys:
          parameters:
            api-version: 2016-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
components:
  parameters:
    ApiVersionParameter:
      description: The client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: The name of the resource group to which the machine learning workspace
        belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Microsoft Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    WorkspaceNameParameter:
      description: The name of the machine learning workspace.
      in: path
      name: workspaceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ErrorResponse:
      description: The error response send when an operation fails.
      example:
        code: code
        message: message
      properties:
        code:
          description: error code
          title: code
          type: string
        message:
          description: error message
          title: message
          type: string
      required:
      - code
      - message
      title: ErrorResponse
      type: object
    Operation:
      description: Azure Machine Learning Studio REST API operation
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: An array of operations supported by the resource provider.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
      properties:
        value:
          description: List of AML Studio operations supported by the AML Studio resource
            provider.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The resource ID.
          readOnly: true
          title: id
          type: string
        location:
          description: The location of the resource. This cannot be changed after
            the resource is created.
          title: location
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          title: tags
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    Workspace:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An object that represents a machine learning workspace.
      example:
        properties:
          workspaceType: Production
          creationTime: creationTime
          studioEndpoint: studioEndpoint
          workspaceState: Deleted
          keyVaultIdentifierId: keyVaultIdentifierId
          ownerEmail: ownerEmail
          userStorageAccountId: userStorageAccountId
          workspaceId: workspaceId
      properties:
        properties:
          $ref: '#/components/schemas/WorkspaceProperties'
      title: Workspace
    WorkspaceKeysResponse:
      description: Workspace authorization keys for a workspace.
      example:
        secondaryToken: secondaryToken
        primaryToken: primaryToken
      properties:
        primaryToken:
          description: Primary authorization key for this workspace.
          title: primaryToken
          type: string
        secondaryToken:
          description: Secondary authorization key for this workspace.
          title: secondaryToken
          type: string
      title: WorkspaceKeysResponse
      type: object
    WorkspaceListResult:
      description: The result of a request to list machine learning workspace keys.
      example:
        value:
        - properties:
            workspaceType: Production
            creationTime: creationTime
            studioEndpoint: studioEndpoint
            workspaceState: Deleted
            keyVaultIdentifierId: keyVaultIdentifierId
            ownerEmail: ownerEmail
            userStorageAccountId: userStorageAccountId
            workspaceId: workspaceId
        - properties:
            workspaceType: Production
            creationTime: creationTime
            studioEndpoint: studioEndpoint
            workspaceState: Deleted
            keyVaultIdentifierId: keyVaultIdentifierId
            ownerEmail: ownerEmail
            userStorageAccountId: userStorageAccountId
            workspaceId: workspaceId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next list of machine
            learning workspaces.
          title: nextLink
          type: string
        value:
          description: "The list of machine learning workspaces. Since this list may\
            \ be incomplete, the nextLink field should be used to request the next\
            \ list of machine learning workspaces."
          items:
            $ref: '#/components/schemas/Workspace'
          title: value
          type: array
      title: WorkspaceListResult
      type: object
    WorkspaceProperties:
      description: The properties of a machine learning workspace.
      example:
        workspaceType: Production
        creationTime: creationTime
        studioEndpoint: studioEndpoint
        workspaceState: Deleted
        keyVaultIdentifierId: keyVaultIdentifierId
        ownerEmail: ownerEmail
        userStorageAccountId: userStorageAccountId
        workspaceId: workspaceId
      properties:
        creationTime:
          description: The creation time for this workspace resource.
          readOnly: true
          title: creationTime
          type: string
        keyVaultIdentifierId:
          description: The key vault identifier used for encrypted workspaces.
          title: keyVaultIdentifierId
          type: string
        ownerEmail:
          description: The email id of the owner for this workspace.
          title: ownerEmail
          type: string
        studioEndpoint:
          description: The regional endpoint for the machine learning studio service
            which hosts this workspace.
          readOnly: true
          title: studioEndpoint
          type: string
        userStorageAccountId:
          description: The fully qualified arm id of the storage account associated
            with this workspace.
          title: userStorageAccountId
          type: string
        workspaceId:
          description: The immutable id associated with this workspace.
          readOnly: true
          title: workspaceId
          type: string
        workspaceState:
          description: The current state of workspace resource.
          enum:
          - Deleted
          - Enabled
          - Disabled
          - Migrated
          - Updated
          - Registered
          - Unregistered
          readOnly: true
          title: workspaceState
          type: string
          x-ms-enum:
            modelAsString: false
            name: WorkspaceState
        workspaceType:
          description: The type of this workspace.
          enum:
          - Production
          - Free
          - Anonymous
          - PaidStandard
          - PaidPremium
          readOnly: true
          title: workspaceType
          type: string
          x-ms-enum:
            modelAsString: false
            name: WorkspaceType
      required:
      - ownerEmail
      - userStorageAccountId
      title: WorkspaceProperties
      type: object
    WorkspacePropertiesUpdateParameters:
      description: The parameters for updating the properties of a machine learning
        workspace.
      example:
        workspaceState: Deleted
        keyVaultIdentifierId: keyVaultIdentifierId
      properties:
        keyVaultIdentifierId:
          description: The key vault identifier used for encrypted workspaces.
          title: keyVaultIdentifierId
          type: string
        workspaceState:
          description: The current state of workspace resource.
          enum:
          - Deleted
          - Enabled
          - Disabled
          - Migrated
          - Updated
          - Registered
          - Unregistered
          title: workspaceState
          type: string
          x-ms-enum:
            modelAsString: false
            name: WorkspaceState
      title: WorkspacePropertiesUpdateParameters
      type: object
    WorkspaceUpdateParameters:
      description: The parameters for updating a machine learning workspace.
      example:
        properties:
          workspaceState: Deleted
          keyVaultIdentifierId: keyVaultIdentifierId
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/WorkspacePropertiesUpdateParameters'
        tags:
          additionalProperties:
            type: string
          description: The resource tags for the machine learning workspace.
          title: tags
          type: object
      title: WorkspaceUpdateParameters
      type: object
    Operation_display:
      description: Display name of operation
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description for the operation.
          title: description
          type: string
        operation:
          description: The operation that users can perform.
          title: operation
          type: string
        provider:
          description: "The resource provider name: Microsoft.MachineLearning"
          title: provider
          type: string
        resource:
          description: The resource on which the operation is performed.
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
