openapi: 3.0.0
info:
  contact:
    x-twitter: clever_cloud
  description: Public API for managing Clever-Cloud data and products
  title: Clever-Cloud API
  version: 1.0.0
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://twitter.com/clever_cloud/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://www.clever-cloud.com/doc/api/swagger.json
    version: "3.0"
  x-providerName: clever-cloud.com
servers:
- url: https://api.clever-cloud.com/v2
paths:
  //openapi:
    get:
      operationId: openapi_get
      responses:
        "200":
          description: The swagger documenting this API in yaml format.
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  //openapi.{type}: {}
  /application/{appId}/environment:
    get:
      operationId: application_app_id_environment_get
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Status 200
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: application_app_id_environment_put
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Status 200
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /authorize:
    post:
      description: Handled by our API.
      operationId: post_authorize
      responses:
        "200":
          description: authorize
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /events/event-socket:
    get:
      description: "Retrieve events as they come through a websocket connection. To\
        \ have authorization, you have to send a `{ \"message_type\": \"oauth\", \"\
        authorization\": \"oauth authorization string\" }` message"
      operationId: events_event_socket_get
      responses:
        default:
          description: <No description>
      tags:
      - all
      - events
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /github:
    get:
      operationId: get_github
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction_Id'
          description: startGithub
      tags:
      - all
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /github/applications:
    get:
      operationId: get_github_applications
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: getGithubApplications
      tags:
      - all
      - applications
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /github/callback:
    get:
      operationId: get_github_callback
      parameters:
      - explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: error
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: error_description
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: error_uri
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: githubCallback
      tags:
      - all
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /github/emails:
    get:
      operationId: get_github_emails
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: getGithubEmails
      tags:
      - all
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /github/keys:
    get:
      operationId: get_github_keys
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Key'
                type: array
          description: getGithubKeys
      tags:
      - all
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /github/link:
    delete:
      operationId: delete_github_link
      responses:
        "200":
          description: unlinkGithub
      tags:
      - all
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
    get:
      operationId: get_github_link
      parameters:
      - description: From GET /github
        explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: redirectUrl
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: linkGithub
      tags:
      - all
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /github/login:
    get:
      operationId: get_github_login
      parameters:
      - explode: true
        in: query
        name: redirectUrl
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: fromAuthorize
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: githubLogin
      tags:
      - all
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /github/redeploy:
    post:
      operationId: post_github_redeploy
      parameters:
      - explode: false
        in: header
        name: User-Agent
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Github-Event
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Hub-Signature
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: redeployApp
      tags:
      - all
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /github/signup:
    get:
      operationId: get_github_signup
      parameters:
      - explode: true
        in: query
        name: redirectUrl
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: fromAuthorize
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: githubSignup
      tags:
      - all
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      operationId: post_github_signup
      parameters:
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: otherId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: otherEmail
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: password
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: autoLink
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: terms
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: finsihGithubSignup
      tags:
      - all
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /github/username:
    get:
      operationId: get_github_username
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: getGithubUsername
      tags:
      - all
      - github
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /logs-socket/{appId}:
    get:
      description: WebSocket to get logs for :appID. Optional queryString arg bind_to_es=true
        to bind WS on log storage and not real time AMQP broker
      operationId: logs_socket_app_id_get
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /logs/drains:
    get:
      description: Fetch all the logs drains (ccadmin dedicated route)
      operationId: logs_drains_get
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /logs/drains/{drainId}:
    put:
      description: Fetch all the logs drains (ccadmin dedicated route)
      operationId: logs_drains_drain_id_put
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: drainId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /logs/logs-chunked/{appId}:
    get:
      description: "Retrieve logs as they come through a chunked, never-ending response"
      operationId: logs_logs_chunked_app_id_get
      parameters:
      - description: Application Id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: Tell the user-agent to download the body as a file
        explode: true
        in: query
        name: download
        required: false
        schema:
          type: boolean
        style: form
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /logs/logs-socket/{appId}:
    get:
      description: "Retrieve logs as they come through a websocket connection. To\
        \ have authorization, you have to send a `{ \"message_type\": \"oauth\", \"\
        authorization\": \"oauth authorization string\" }` message"
      operationId: logs_logs_socket_app_id_get
      parameters:
      - description: Application Id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: Only fetch logs newer than this (ISO-8601 formatted) date
        explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: A pattern to filter with
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Only fetch logs emitted by this deployment
        explode: true
        in: query
        name: deployment_id
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /logs/{appId}:
    get:
      description: Fetch the logs for a given application
      operationId: logs_app_id_get
      parameters:
      - description: Application Id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: Number of lines to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Logs order
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Lowest bound for logs date, ISO 8601"
        explode: true
        in: query
        name: after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Highest bounds for logs date, ISO 8601"
        explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: A pattern to filter with
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Only fetch logs emitted by this deployment
        explode: true
        in: query
        name: deployment_id
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /logs/{appId}/drains:
    get:
      description: Fetch the logs drains for a given application
      operationId: logs_app_id_drains_get
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      description: Add a log drain for a given application
      operationId: logs_app_id_drains_post
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /logs/{appId}/drains/:idOrUrl:
    delete:
      description: Delete the logs drain by id or url for a given application
      operationId: logs_app_id_drains_id_or_url_delete
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-openapi-router-controller: openapi_server.controllers.all_controller
    get:
      description: Fetch the logs drain by id or url for a given application
      operationId: logs_app_id_drains_id_or_url_get
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /logs/{appId}/sse:
    get:
      description: "Retrieve logs as they come through a sse connection. To have authorization,\
        \ you have to add `authorization=oAuthAuthorizationString` as query param."
      operationId: logs_app_id_sse_get
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      - logs
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /newsfeeds/blog:
    get:
      operationId: get_newsfeeds_blog
      responses:
        "200":
          description: getBlogFeed
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /newsfeeds/engineering:
    get:
      operationId: get_newsfeed_engineering
      responses:
        "200":
          description: getEngineeringFeed
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /notifications/emailhooks/{ownerId}:
    get:
      description: list created e-mail hooks
      operationId: notifications_emailhooks_owner_id_get
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      description: create a hook for e-mail notifications
      operationId: notifications_emailhooks_owner_id_post
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /notifications/emailhooks/{ownerId}/:id:
    delete:
      description: delete an e-mail hook
      operationId: notifications_emailhooks_owner_id_id_delete
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      description: edit an e-mail hook
      operationId: notifications_emailhooks_owner_id_id_put
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /notifications/info/events:
    get:
      description: list available events
      operationId: notifications_info_events_get
      responses:
        default:
          description: <No description>
      tags:
      - all
      - events
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /notifications/info/webhookformats:
    get:
      description: list available webhook formats
      operationId: notifications_info_webhookformats_get
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /notifications/webhooks/{ownerId}:
    get:
      description: list created hooks
      operationId: notifications_webhooks_owner_id_get
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      description: create a hook for notifications
      operationId: notifications_webhooks_owner_id_post
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /notifications/webhooks/{ownerId}/:id:
    delete:
      description: delete a hook
      operationId: notifications_webhooks_owner_id_id_delete
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      description: edit a hook
      operationId: notifications_webhooks_owner_id_id_put
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: ownerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: <No description>
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /oauth/access_token:
    post:
      operationId: post_oauth_access_token
      parameters:
      - explode: true
        in: query
        name: oauth_consumer_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_verifier
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback_confirmed
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: postAccessTokenRequest
      tags:
      - all
      - oauth
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /oauth/access_token_query:
    post:
      operationId: oauth_access_token_query_post
      parameters:
      - explode: true
        in: query
        name: oauth_consumer_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_verifier
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback_confirmed
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - oauth
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /oauth/authorize:
    get:
      operationId: get_oauth_authorize
      parameters:
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: authorizeForm
      tags:
      - all
      - oauth
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      operationId: post_oauth_authorize
      parameters:
      - explode: true
        in: query
        name: almighty
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_organisations
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_organisations
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_organisations_services
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_organisations_applications
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_organisations_members
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_organisations_bills
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_organisations_credit_count
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_organisations_consumption_statistics
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_personal_information
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_personal_information
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_ssh_keys
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_services
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: manage_applications
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_bills
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_credit_count
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: access_consumption_statistics
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Cookie
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: authorizeToken
      tags:
      - all
      - oauth
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /oauth/request_token:
    post:
      operationId: post_oauth_request_token
      parameters:
      - explode: true
        in: query
        name: oauth_consumer_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_verifier
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback_confirmed
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: postReqTokenRequest
      tags:
      - all
      - oauth
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /oauth/request_token_query:
    post:
      operationId: oauth_request_token_query_post
      parameters:
      - explode: true
        in: query
        name: oauth_consumer_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_verifier
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token_secret
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback_confirmed
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - oauth
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /oauth/rights:
    get:
      operationId: get_oauth_rights
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rights'
          description: getAvailableRights
      tags:
      - all
      - oauth
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /openapi.{type}:
    get:
      description: "Get the swagger for this API as {type}. Type can be either \"\
        yml\" or \"json\"."
      operationId: openapi_type_get
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: "This API swagger documentation in {type} format."
      summary: "Get the swagger for this API as {type}"
      tags:
      - all
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations:
    get:
      operationId: get_organisations
      parameters:
      - explode: true
        in: query
        name: user
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organisation'
                type: array
          description: getUserOrganisations
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      operationId: post_organisations
      requestBody:
        $ref: '#/components/requestBodies/WannabeOrganisation'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Organisation'
          description: createOrganisation
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}:
    delete:
      operationId: delete_organisations_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteOrganisation
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    get:
      operationId: get_organisations_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
          description: getOrganisation
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeOrganisation'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Organisation'
          description: editOrganisation
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/addonproviders:
    get:
      operationId: get_organisations_id_addonproviders
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Provider'
                type: array
          description: Get all informations about all providers.
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      operationId: post_organisations_id_addonproviders
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeAddonProvider'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Provider'
          description: createProvider
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/addonproviders/{providerId}:
    delete:
      description: "Remove a given add-on provider. providerId must be owned by organisation\
        \ {id}."
      operationId: organisations_id_addonproviders_provider_id_delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: If the deletion was successful.
        "403":
          content:
            application/json:
              examples:
                response:
                  value: "{\"type\":\"error\",\"id\":6200,\"message\":\"You do not\
                    \ belong to this organisation so you cannot access it\"}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "If user has no access to organisation {id} or provider or\
            \ if there still are add-ons of this provider."
        "404":
          description: If no such organisation/provider exists.
      summary: Remove an add-on provider
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    get:
      operationId: get_organisations_id_addonproviders_provider_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: Get all informations about given provider.
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id_addonproviders_provider_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeAddonProvider'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Provider'
          description: updateProviderInfos
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/addonproviders/{providerId}/features:
    get:
      operationId: get_organisations_id_addonproviders_provider_id_features
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Feature'
                type: array
          description: getProviderFeatures
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      operationId: post_organisations_id_addonproviders_provider_id_features
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabeFeature'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Feature'
          description: addProviderFeature
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/addonproviders/{providerId}/features/{featureId}:
    delete:
      operationId: delete_organisations_id_addonproviders_provider_id_features_feature_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: featureId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteProviderFeature
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/addonproviders/{providerId}/plans:
    get:
      operationId: get_organisations_id_addonproviders_provider_id_plans
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Plan'
                type: array
          description: getProviderPlans
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      operationId: post_organisations_id_addonproviders_provider_id_plans
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabePlan'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Plan'
          description: addProviderPlan
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/addonproviders/{providerId}/plans/{planId}:
    delete:
      operationId: delete_organisations_id_addonproviders_provider_id_plans_plan_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteProviderPlan
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    get:
      operationId: get_organisations_id_addonproviders_provider_id_plans_plan_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: getProviderPlan
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id_addonproviders_provider_id_plans_plan_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabePlan'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Plan'
          description: editProviderPlan
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/addonproviders/{providerId}/plans/{planId}/features/{featureName}:
    delete:
      operationId: delete_organisations_id_addonproviders_provider_id_plans_plan_id_features_feature_name
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: featureName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteProviderPlanFeature
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id_addonproviders_provider_id_plans_plan_id_features_feature_name
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: featureName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WannabePlanFeature'
        required: true
        x-body-name: body
      responses:
        "200":
          description: editProviderPlanFeature
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/addonproviders/{providerId}/sso:
    get:
      operationId: get_organisations_id_addons_addon_id_sso
      parameters:
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonProviderSso'
          description: getSSOData
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/addonproviders/{providerId}/tags:
    get:
      operationId: get_organisations_id_addonproviders_provider_id_tags
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: getProviderTags
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/addonproviders/{providerId}/testers:
    post:
      operationId: post_organisations_id_addonproviders_provider_id_testers
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: addBetaTester
      tags:
      - all
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/addons:
    get:
      operationId: get_organisations_id_addons
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Addon'
                type: array
          description: getAddons
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      operationId: post_organisations_id_addons
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeAddon'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Addon'
          description: provisionAddon
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/addons/preorders:
    post:
      operationId: organisations_id_addons_preorders_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeAddon'
        x-body-name: body
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/addons/{addonId}:
    delete:
      operationId: delete_organisations_id_addons_addon_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deprovisionAddon
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    get:
      operationId: get_organisations_id_addons_addon_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
          description: getAddon
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id_addons_addon_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeAddon'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Addon'
          description: Update addon information
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/addons/{addonId}/applications:
    get:
      operationId: get_organisations_id_addons_addon_id_applications
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: getApplicationsLinkedToAddon
      tags:
      - all
      - addons
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/addons/{addonId}/env:
    get:
      operationId: get_organisations_id_addons_addon_id_env
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListEnv'
                type: array
          description: getAddonEnv
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/addons/{addonId}/instances:
    get:
      operationId: organisations_id_addons_addon_id_instances_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: deploymentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: withDeleted
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                description: List of instances.
                items:
                  $ref: '#/components/schemas/SupernovaInstanceView'
                type: array
          description: The instance list
      summary: List instances for this add-on.
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/addons/{addonId}/instances/{instanceId}:
    get:
      operationId: organisations_id_addons_addon_id_instances_instance_id_get
      parameters:
      - explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupernovaInstanceView'
          description: An instance
      summary: "Get a specific instance for {addonId}"
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/addons/{addonId}/migrations:
    get:
      operationId: organisations_id_addons_addon_id_migrations_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value: "{\n   \"id\": \"<UUID>\",\n   \"addon_id\": \"addon_<uuid>\"\
                    ,\n   \"kind\": \"SHARED_TO_SHARED|SHARED_TO_DEDICATED|DEDICATED_TO_DEDICATED|DEDICATED_TO_SHARED\"\
                    ,\n   \"state\": \"??\",\n   \"hostname\": \"db.hostname\",\n\
                    \   \"database\": \"dbname\",\n   \"port\": 5432,\n   \"database_user\"\
                    : \"username\",\n   \"callback_url\": \"https://api.clever-cloud.com/v2/…\
                    \",\n   \"old_cluster_id\": \"acddc485-79c2-4c6b-a617-c92a06c0cb0b\"\
                    ,\n   \"old_cluster_label\": \"par2-01\",\n   \"old_instance_id\"\
                    : \"acddc485-79c2-4c6b-a617-c92a06c0cb0b\",\n   \"old_plan\":\
                    \ \"s\",\n   \"old_zone\": \"par2\",\n   \"old_recipient_hostname\"\
                    : \"postgresql-sdc-par2-clevercloud.services.clever-cloud.com\"\
                    , \n   \"new_cluster_id\": \"acddc485-79c2-4c6b-a617-c92a06c0cb0b\"\
                    ,\n   \"new_cluster_label\": \"par2-02\",\n   \"new_instance_id\"\
                    : \"acddc485-79c2-4c6b-a617-c92a06c0cb0b\",\n   \"new_plan\":\
                    \ \"m\",\n   \"new_zone\": \"par3\",\n   \"new_recipient_hostname\"\
                    : \"postgresql-sdc-par3-clevercloud.services.clever-cloud.com\"\
                    , \n   \"request_date\": \"2018-10-31T10:00:23Z\",\n   \"last_state_update_date\"\
                    :  \"2018-10-31T10:00:23Z\",\n   \"dump_restore_start_date\":\
                    \  \"2018-10-31T10:00:23Z\",\n   \"dump_restore_finished_date\"\
                    :  \"2018-10-31T10:00:23Z\",\n   \"end_date\":  \"2018-10-31T10:00:23Z\"\
                    ,\n   \"exit_message\": \"Success\" \n}"
              schema:
                items:
                  $ref: '#/components/schemas/AddonMigration'
                type: array
          description: List of migrations
      summary: Get past migrations from add-on.
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      operationId: organisations_id_addons_addon_id_migrations_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_organisations__id__addons__addonId__migrations_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                description: The output of the POST to the add-on API.
                type: object
          description: Migration has started.
      summary: Start a new add-on migration
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/addons/{addonId}/migrations/{migrationId}:
    get:
      operationId: organisations_id_addons_addon_id_migrations_migration_id_get
      parameters:
      - explode: false
        in: path
        name: migrationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonMigration'
          description: The migration object
      summary: Get a given migration
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/addons/{addonId}/sso:
    get:
      operationId: organisations_id_addons_addon_id_sso_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sso'
          description: getSSOData
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/addons/{addonId}/tags:
    get:
      operationId: get_organisations_id_addons_addon_id_tags
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: getAddonTags
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/addons/{addonId}/tags/{tag}:
    delete:
      operationId: delete_organisations_id_addons_addon_id_tags_tag
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteAddonTag
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id_addons_addon_id_tags_tag
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
        x-body-name: body
      responses:
        "200":
          description: addAddonTag
      tags:
      - all
      - addons
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/applications:
    get:
      operationId: get_organisations_id_applications
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: getAllApplications
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      description: "Creates an application. If you want to create a Github app, you\
        \ need to replace the oauthApp field with what you will find here: https://github.com/CleverCloud/doc.clever-cloud.com/issues/179"
      operationId: post_organisations_id_applications
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeApplication'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Application'
          description: addApplication
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/applications/{appId}:
    delete:
      operationId: delete_organisations_id_applications_app_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteApplication
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    get:
      operationId: get_organisations_id_applications_app_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: getApplication
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id_applications_app_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeApplication'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Application'
          description: editApplication
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/applications/{appId}/addons:
    get:
      operationId: get_organisations_id_applications_app_id_addons
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Addon'
                type: array
          description: getAddonsLinkedToApplication
      tags:
      - all
      - addons
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      operationId: post_organisations_id_applications_app_id_addons
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
        x-body-name: body
      responses:
        "200":
          description: linkAddonToApplication
      tags:
      - all
      - addons
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/applications/{appId}/addons/env:
    get:
      operationId: get_organisations_id_applications_app_id_addons_env
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Env'
                type: array
          description: getEnvOfAddonsLinkedToApplication
      tags:
      - all
      - addons
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/addons/{addonId}:
    delete:
      operationId: delete_organisations_id_applications_app_id_addons_addon_id
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: addonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: unlinkAddonFromApplication
      tags:
      - all
      - addons
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/branch:
    put:
      operationId: organisations_id_applications_app_id_branch_put
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/branches:
    get:
      operationId: organisations_id_applications_app_id_branches_get
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/buildflavor:
    put:
      operationId: organisations_id_applications_app_id_buildflavor_put
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/dependencies:
    get:
      operationId: get_organisations_id_applications_app_id_dependencies
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: getApplicationDependencies
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/dependencies/env:
    get:
      operationId: organisations_id_applications_app_id_dependencies_env_get
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/LinkedAppEnv'
                type: array
          description: Get env variables defined by application dependencies
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/dependencies/{dependencyId}:
    delete:
      operationId: delete_organisations_id_applications_app_id_dependencies_dependency_id
      parameters:
      - explode: false
        in: path
        name: dependencyId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteApplicationDependency
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id_applications_app_id_dependencies_dependency_id
      parameters:
      - explode: false
        in: path
        name: dependencyId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
        x-body-name: body
      responses:
        "200":
          description: addApplicationDependency
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/applications/{appId}/dependents:
    get:
      operationId: get_organisations_id_applications_app_id_dependents
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Application'
                type: array
          description: getApplicationDependents
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/deployments:
    get:
      operationId: get_organisations_id_applications_app_id_deployments
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: action
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Deployment'
                type: array
          description: getApplicationDeploymentsForOrga
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/deployments/{deploymentId}:
    get:
      operationId: organisations_id_applications_app_id_deployments_deployment_id_get
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/deployments/{deploymentId}/instances:
    delete:
      operationId: delete_organisations_id_applications_app_id_deployments_deployment_id_instances
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: deploymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: getApplicationDeploymentsForOrga
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/env:
    get:
      operationId: get_organisations_id_applications_app_id_env
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListEnv'
                type: array
          description: getApplicationEnv
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id_applications_app_id_env
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeEnv'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListEnv'
          description: editApplicationEnvironment
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/applications/{appId}/env/{envName}:
    delete:
      operationId: delete_organisations_id_applications_app_id_env_env_name
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: removeApplicationEnv
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id_applications_app_id_env_env_name
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: envName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/WannabeEnv'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListEnv'
          description: editApplicationEnv
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/applications/{appId}/exposed_env:
    get:
      operationId: organisations_id_applications_app_id_exposed_env_get
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: organisations_id_applications_app_id_exposed_env_put
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/instances:
    delete:
      operationId: delete_organisations_id_applications_app_id_instances
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: undeployApplication
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    get:
      operationId: get_organisations_id_applications_app_id_instances
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppInstance'
                type: array
          description: getApplicationInstances
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    post:
      operationId: post_organisations_id_applications_app_id_instances
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: commit
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: redeployApplication
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/instances/{instanceId}:
    get:
      operationId: organisations_id_applications_app_id_instances_instance_id_get
      parameters:
      - explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Status 200
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/tags:
    get:
      operationId: get_organisations_id_applications_app_id_tags
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: getApplicationTags
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/tags/{tag}:
    delete:
      operationId: delete_organisations_id_applications_app_id_tags_tag
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: deleteApplicationTag
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id_applications_app_id_tags_tag
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
        x-body-name: body
      responses:
        "200":
          description: addApplicationTag
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/applications/{appId}/vhosts:
    get:
      operationId: get_organisations_id_applications_app_id_vhosts
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Vhost'
                type: array
          description: getVhosts
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
  /organisations/{id}/applications/{appId}/vhosts/favourite:
    delete:
      operationId: delete_organisations_id_applications_app_id_vhosts_favourite
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: unmarkFavouriteVhost
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    get:
      operationId: get_organisations_id_applications_app_id_vhosts_favourite
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vhost'
          description: getFavouriteVhost
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
    put:
      operationId: put_organisations_id_applications_app_id_vhosts_favourite
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Vhost'
        x-body-name: body
      responses:
        "200":
          description: markFavouriteVhost
      tags:
      - all
      - applications
      - organisations
      x-openapi-router-controller: openapi_server.controllers.all_controller
      x-codegen-request-body-name: body
  /organisations/{id}/applications/{appId}/vhosts/{domain}:
    delete:
      operationId: delete_organisations_id_applications_app_id_vhosts_domain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
[...]
