openapi: 3.0.1
info:
  description: Mixed Reality Resource Provider Spatial Anchors Resource API
  title: Mixed Reality
  version: 2019-12-02-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/spatial-anchors.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: mixedreality-spatial-anchors
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/spatialAnchorsAccounts:
    get:
      description: List Spatial Anchors Accounts by Subscription
      operationId: spatial_anchors_accounts_list_by_subscription
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountPage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      - Proxy
      x-ms-examples:
        List spatial anchors accounts by subscription:
          parameters:
            api-version: 2019-02-28-preview
            resourceType: SpatialAnchorsAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                nextLink: https://aka.ms/&^FDKKAR
                value:
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                  location: eastus2euap
                  name: MyAccount
                  properties:
                    accountDomain: mixedreality.azure.com
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/SpatialAnchorsAccounts
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/omega
                  location: eastus2euap
                  name: omega
                  properties:
                    accountDomain: mixedreality.azure.com
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/SpatialAnchorsAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.resource_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts:
    get:
      description: List Resources by Resource Group
      operationId: spatial_anchors_accounts_list_by_resource_group
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccountPage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        List spatial anchor accounts by resource group:
          parameters:
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                nextLink: https://aka.ms/&^FDKKAR
                value:
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                  location: eastus2euap
                  name: MyAccount
                  properties:
                    accountDomain: mixedreality.azure.com
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/SpatialAnchorsAccounts
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/omega
                  location: eastus2euap
                  name: omega
                  properties:
                    accountDomain: mixedreality.azure.com
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/SpatialAnchorsAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{accountName}
  : delete:
      description: Delete a Spatial Anchors Account.
      operationId: spatial_anchors_accounts_delete
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        Delete spatial anchors account:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.resource_controller
    get:
      description: Retrieve a Spatial Anchors Account.
      operationId: spatial_anchors_accounts_get
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        Get spatial anchors account:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                location: eastus2euap
                name: MyAccount
                properties:
                  accountDomain: mixedreality.azure.com
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags: {}
                type: Microsoft.MixedReality/SpatialAnchorsAccounts
      x-openapi-router-controller: openapi_server.controllers.resource_controller
    patch:
      description: Updating a Spatial Anchors Account
      operationId: spatial_anchors_accounts_update
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnchorsAccount'
        description: Spatial Anchors Account parameter.
        required: true
        x-ms-parameter-location: method
        x-body-name: spatialAnchorsAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        Update spatial anchors account:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            spatialAnchorsAccount:
              Tags:
                hero: romeo
                heroine: juliet
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                location: eastus2euap
                name: MyAccount
                properties:
                  accountDomain: mixedreality.azure.com
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags:
                  hero: romeo
                  heroine: juliet
                type: Microsoft.MixedReality/SpatialAnchorsAccounts
      x-codegen-request-body-name: spatialAnchorsAccount
      x-openapi-router-controller: openapi_server.controllers.resource_controller
    put:
      description: Creating or Updating a Spatial Anchors Account.
      operationId: spatial_anchors_accounts_create
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnchorsAccount'
        description: Spatial Anchors Account parameter.
        required: true
        x-ms-parameter-location: method
        x-body-name: spatialAnchorsAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccount'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        Create spatial anchor account:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            spatialAnchorsAccount:
              location: eastus2euap
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                location: eastus2euap
                name: MyAccount
                properties:
                  accountDomain: mixedreality.azure.com
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags: {}
                type: Microsoft.MixedReality/SpatialAnchorsAccounts
            "201":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount
                location: eastus2euap
                name: MyAccount
                properties:
                  accountDomain: mixedreality.azure.com
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags: {}
                type: Microsoft.MixedReality/SpatialAnchorsAccounts
      x-codegen-request-body-name: spatialAnchorsAccount
      x-openapi-router-controller: openapi_server.controllers.resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{accountName}/keys
  : get:
      description: Get Both of the 2 Keys of a Spatial Anchors Account
      operationId: spatial_anchors_accounts_get_keys
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccounts_GetKeys_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Key
      x-ms-examples:
        Get spatial anchor account key:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                primaryKey: vMAlcI/j25TwDs8hjTorto3JQkoiqZAXKsFq0rYnSNc=
                secondaryKey: N4umIGhJt8LgnMMMBpwFOxVOS9zpxHxSHy1TJhN3hU4=
      x-openapi-router-controller: openapi_server.controllers.key_controller
    post:
      description: Regenerate specified Key of a Spatial Anchors Account
      operationId: spatial_anchors_accounts_regenerate_keys
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnchorsAccounts_RegenerateKeys_request'
        description: Required information for key regeneration.
        required: true
        x-ms-parameter-location: method
        x-body-name: regenerate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccounts_GetKeys_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnchorsAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Key
      x-ms-examples:
        Regenerate spatial anchors account keys:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            regenerate:
              serial: 1
            resourceGroupName: MyResourceGroup
            resourceType: SpatialAnchorsAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                primaryKey: vMAlcI/j25TwDs8hjTorto3JQkoiqZAXKsFq0rYnSNc=
                secondaryKey: N4umIGhJt8LgnMMMBpwFOxVOS9zpxHxSHy1TJhN3hU4=
      x-codegen-request-body-name: regenerate
      x-openapi-router-controller: openapi_server.controllers.key_controller
components:
  requestBodies:
    spatialAnchorsAccountParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SpatialAnchorsAccount'
      description: Spatial Anchors Account parameter.
      required: true
      x-ms-parameter-location: method
      x-body-name: spatialAnchorsAccount
  schemas:
    SpatialAnchorsAccount:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
        required:
        - location
      description: SpatialAnchorsAccount Response.
      example:
        properties: "{}"
      properties:
        properties:
          description: Common Properties shared by Mixed Reality Accounts
          properties:
            accountDomain:
              description: Correspond domain name of certain Spatial Anchors Account
              readOnly: true
              title: accountDomain
              type: string
            accountId:
              description: unique id of certain account.
              readOnly: true
              title: accountId
              type: string
          title: properties
          type: object
      title: SpatialAnchorsAccount
    SpatialAnchorsAccountPage:
      description: Result of the request to get resource collection. It contains a
        list of resources and a URL link to get the next set of results.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of resource list results if there are
            any.
          title: nextLink
          type: string
        value:
          description: List of resources supported by the Resource Provider.
          items:
            $ref: '#/components/schemas/SpatialAnchorsAccount'
          title: value
          type: array
      title: SpatialAnchorsAccountPage
      type: object
    SpatialAnchorsAccounts_ListBySubscription_default_response:
      description: Response on Error
      example:
        code: code
        details: details
        message: message
        target: target
      properties:
        code:
          description: String that can be used to programmatically identify the error.
          title: code
          type: string
        details:
          description: "An array of JSON objects that MUST contain name/value pairs\
            \ for code and message, and MAY contain a name/value pair for target,\
            \ as described above.The contents of this section are service-defined\
            \ but must adhere to the aforementioned schema."
          title: details
          type: string
        message:
          description: Describes the error in detail and provides debugging information
          title: message
          type: string
        target:
          description: The target of the particular error
          title: target
          type: string
      required:
      - code
      - message
      title: SpatialAnchorsAccounts_ListBySubscription_default_response
      type: object
    SpatialAnchorsAccounts_GetKeys_200_response:
      description: Developer Keys of account
      example:
        secondaryKey: secondaryKey
        primaryKey: primaryKey
      properties:
        primaryKey:
          description: value of primary key.
          readOnly: true
          title: primaryKey
          type: string
        secondaryKey:
          description: value of secondary key.
          readOnly: true
          title: secondaryKey
          type: string
      title: SpatialAnchorsAccounts_GetKeys_200_response
      type: object
    SpatialAnchorsAccounts_RegenerateKeys_request:
      description: Request for account key regeneration
      properties:
        serial:
          description: serial of key to be regenerated
          title: serial
          type: integer
          x-ms-enum:
            name: Serial
            values:
            - description: The Primary Key
              name: Primary
              value: 1
            - description: The Secondary Key
              name: Secondary
              value: 2
      title: SpatialAnchorsAccounts_RegenerateKeys_request
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
