openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/azureFirewall.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-azureFirewall
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewalls:
    get:
      description: Gets all the Azure Firewalls in a subscription.
      operationId: azure_firewalls_list_all
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewallListResult'
          description: Success. The operation returns a list of AzureFirewall resources.
      tags:
      - AzureFirewalls
      x-ms-examples:
        List all Azure Firewalls for a given subscription:
          parameters:
            api-version: 2019-06-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  location: West US
                  name: azurefirewall
                  properties:
                    applicationRuleCollections:
                    - name: apprulecoll
                      properties:
                        action:
                          type: Deny
                        priority: 110
                        rules:
                        - description: Deny inbound rule
                          name: rule1
                          protocols:
                          - port: 443
                            protocolType: Https
                          sourceAddresses:
                          - 216.58.216.164
                          - 10.0.0.0/24
                          targetFqdns:
                          - www.test.com
                    ipConfigurations:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azfirewallgw/ipConfigurations/azureFirewallIpConfiguration
                      name: azureFirewallIpConfiguration
                      properties:
                        privateIPAddress: 10.0.0.0
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                    natRuleCollections:
                    - name: natrulecoll
                      properties:
                        action:
                          type: Dnat
                        priority: 112
                        rules:
                        - description: D-NAT all outbound web traffic for inspection
                          destinationAddresses:
                          - 1.2.3.4
                          destinationPorts:
                          - "443"
                          name: DNAT-HTTPS-traffic
                          protocols:
                          - TCP
                          sourceAddresses:
                          - '*'
                          translatedAddress: 1.2.3.5
                          translatedPort: "8443"
                    networkRuleCollections:
                    - name: netrulecoll
                      properties:
                        action:
                          type: Deny
                        priority: 112
                        rules:
                        - description: Block traffic based on source IPs and ports
                          destinationAddresses:
                          - '*'
                          destinationPorts:
                          - 443-444
                          - "8443"
                          name: L4-traffic
                          protocols:
                          - TCP
                          sourceAddresses:
                          - 192.168.1.1-192.168.1.12
                          - 10.1.4.12-10.1.4.255
                    provisioningState: Succeeded
                    threatIntelMode: Alert
                  tags:
                    key1: value1
                  type: Microsoft.Network/azureFirewalls
                  zones: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.azure_firewalls_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls:
    get:
      description: Lists all Azure Firewalls in a resource group.
      operationId: azure_firewalls_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewallListResult'
          description: Success. The operation returns a list of AzureFirewall resources.
      tags:
      - AzureFirewalls
      x-ms-examples:
        List all Azure Firewalls for a given resource group:
          parameters:
            api-version: 2019-06-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  location: West US
                  name: azurefirewall
                  properties:
                    applicationRuleCollections:
                    - name: apprulecoll
                      properties:
                        action:
                          type: Deny
                        priority: 110
                        rules:
                        - description: Deny inbound rule
                          name: rule1
                          protocols:
                          - port: 443
                            protocolType: Https
                          sourceAddresses:
                          - 216.58.216.164
                          - 10.0.0.0/24
                          targetFqdns:
                          - www.test.com
                    ipConfigurations:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azfirewallgw/ipConfigurations/azureFirewallIpConfiguration
                      name: azureFirewallIpConfiguration
                      properties:
                        privateIPAddress: 10.0.0.0
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                    natRuleCollections:
                    - name: natrulecoll
                      properties:
                        action:
                          type: Dnat
                        priority: 112
                        rules:
                        - description: D-NAT all outbound web traffic for inspection
                          destinationAddresses:
                          - 1.2.3.4
                          destinationPorts:
                          - "443"
                          name: DNAT-HTTPS-traffic
                          protocols:
                          - TCP
                          sourceAddresses:
                          - '*'
                          translatedAddress: 1.2.3.5
                          translatedPort: "8443"
                    networkRuleCollections:
                    - name: netrulecoll
                      properties:
                        action:
                          type: Deny
                        priority: 112
                        rules:
                        - description: Block traffic based on source IPs and ports
                          destinationAddresses:
                          - '*'
                          destinationPorts:
                          - 443-444
                          - "8443"
                          name: L4-traffic
                          protocols:
                          - TCP
                          sourceAddresses:
                          - 192.168.1.1-192.168.1.12
                          - 10.1.4.12-10.1.4.255
                    provisioningState: Succeeded
                    threatIntelMode: Alert
                  tags:
                    key1: value1
                  type: Microsoft.Network/azureFirewalls
                  zones: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.azure_firewalls_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls/{azureFirewallName}
  : delete:
      description: Deletes the specified Azure Firewall.
      operationId: azure_firewalls_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Azure Firewall.
        in: path
        name: azureFirewallName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource with the specified name does not
            exist.
      tags:
      - AzureFirewalls
      x-ms-examples:
        Delete Azure Firewall:
          parameters:
            api-version: 2019-06-01
            azureFirewallName: azurefirewall
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.azure_firewalls_controller
    get:
      description: Gets the specified Azure Firewall.
      operationId: azure_firewalls_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Azure Firewall.
        in: path
        name: azureFirewallName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewall'
          description: Request successful. The operation returns an AzureFirewall
            resource.
      tags:
      - AzureFirewalls
      x-ms-examples:
        Get Azure Firewall:
          parameters:
            api-version: 2019-06-01
            azureFirewallName: azurefirewall
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                location: West US
                name: azurefirewall
                properties:
                  applicationRuleCollections:
                  - name: apprulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 110
                      rules:
                      - description: Deny inbound rule
                        name: rule1
                        protocols:
                        - port: 443
                          protocolType: Https
                        sourceAddresses:
                        - 216.58.216.164
                        - 10.0.0.0/24
                        targetFqdns:
                        - www.test.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewallgw/ipConfigurations/azureFirewallIpConfiguration
                    name: azureFirewallIpConfiguration
                    properties:
                      privateIPAddress: 10.0.0.0
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                  natRuleCollections:
                  - name: natrulecoll
                    properties:
                      action:
                        type: Dnat
                      priority: 112
                      rules:
                      - description: D-NAT all outbound web traffic for inspection
                        destinationAddresses:
                        - 1.2.3.4
                        destinationPorts:
                        - "443"
                        name: DNAT-HTTPS-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - '*'
                        translatedAddress: 1.2.3.5
                        translatedPort: "8443"
                  networkRuleCollections:
                  - name: netrulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 112
                      rules:
                      - description: Block traffic based on source IPs and ports
                        destinationAddresses:
                        - '*'
                        destinationPorts:
                        - 443-444
                        - "8443"
                        name: L4-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - 192.168.1.1-192.168.1.12
                        - 10.1.4.12-10.1.4.255
                  provisioningState: Succeeded
                  threatIntelMode: Alert
                tags:
                  key1: value1
                type: Microsoft.Network/azureFirewalls
                zones: []
        Get Azure Firewall With Zones:
          parameters:
            api-version: 2019-06-01
            azureFirewallName: azurefirewall
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                location: West US 2
                name: azurefirewall
                properties:
                  applicationRuleCollections:
                  - name: apprulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 110
                      rules:
                      - description: Deny inbound rule
                        name: rule1
                        protocols:
                        - port: 443
                          protocolType: Https
                        sourceAddresses:
                        - 216.58.216.164
                        - 10.0.0.0/24
                        targetFqdns:
                        - www.test.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewallgw/ipConfigurations/azureFirewallIpConfiguration
                    name: azureFirewallIpConfiguration
                    properties:
                      privateIPAddress: 10.0.0.0
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                  natRuleCollections:
                  - name: natrulecoll
                    properties:
                      action:
                        type: Dnat
                      priority: 112
                      rules:
                      - description: D-NAT all outbound web traffic for inspection
                        destinationAddresses:
                        - 1.2.3.4
                        destinationPorts:
                        - "443"
                        name: DNAT-HTTPS-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - '*'
                        translatedAddress: 1.2.3.5
                        translatedPort: "8443"
                  networkRuleCollections:
                  - name: netrulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 112
                      rules:
                      - description: Block traffic based on source IPs and ports
                        destinationAddresses:
                        - '*'
                        destinationPorts:
                        - 443-444
                        - "8443"
                        name: L4-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - 192.168.1.1-192.168.1.12
                        - 10.1.4.12-10.1.4.255
                  provisioningState: Succeeded
                  threatIntelMode: Alert
                tags:
                  key1: value1
                type: Microsoft.Network/azureFirewalls
                zones:
                - "1"
                - "2"
                - "3"
      x-openapi-router-controller: openapi_server.controllers.azure_firewalls_controller
    patch:
      description: Updates tags for an Azure Firewall resource.
      operationId: azure_firewalls_update_tags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Azure Firewall.
        in: path
        name: azureFirewallName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureFirewall'
        description: Parameters supplied to the create or update Azure Firewall operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewall'
          description: Update successful. The operation returns the resulting AzureFirewall
            resource.
      tags:
      - AzureFirewalls
      x-ms-examples:
        Update Azure Firewall Tags:
          parameters:
            api-version: 2019-06-01
            azureFirewallName: fw1
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: azfwtest
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/azfwtest/providers/Microsoft.Network/azureFirewalls/fw1
                location: brazilsouth
                name: fw1
                properties:
                  provisioningState: Succeeded
                  threatIntelMode: Alert
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/azureFirewalls
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.azure_firewalls_controller
    put:
      description: Creates or updates the specified Azure Firewall.
      operationId: azure_firewalls_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Azure Firewall.
        in: path
        name: azureFirewallName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureFirewall'
        description: Parameters supplied to the create or update Azure Firewall operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewall'
          description: Update successful. The operation returns the resulting AzureFirewall
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFirewall'
          description: Create successful. The operation returns the resulting AzureFirewall
            resource.
      tags:
      - AzureFirewalls
      x-ms-examples:
        Create Azure Firewall:
          parameters:
            api-version: 2019-06-01
            azureFirewallName: azurefirewall
            parameters:
              location: West US
              properties:
                applicationRuleCollections:
                - name: apprulecoll
                  properties:
                    action:
                      type: Deny
                    priority: 110
                    rules:
                    - description: Deny inbound rule
                      name: rule1
                      protocols:
                      - port: 443
                        protocolType: Https
                      sourceAddresses:
                      - 216.58.216.164
                      - 10.0.0.0/24
                      targetFqdns:
                      - www.test.com
                ipConfigurations:
                - name: azureFirewallIpConfiguration
                  properties:
                    publicIPAddress:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                    subnet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                natRuleCollections:
                - name: natrulecoll
                  properties:
                    action:
                      type: Dnat
                    priority: 112
                    rules:
                    - description: D-NAT all outbound web traffic for inspection
                      destinationAddresses:
                      - 1.2.3.4
                      destinationPorts:
                      - "443"
                      name: DNAT-HTTPS-traffic
                      protocols:
                      - TCP
                      sourceAddresses:
                      - '*'
                      translatedAddress: 1.2.3.5
                      translatedPort: "8443"
                networkRuleCollections:
                - name: netrulecoll
                  properties:
                    action:
                      type: Deny
                    priority: 112
                    rules:
                    - description: Block traffic based on source IPs and ports
                      destinationAddresses:
                      - '*'
                      destinationPorts:
                      - 443-444
                      - "8443"
                      name: L4-traffic
                      protocols:
                      - TCP
                      sourceAddresses:
                      - 192.168.1.1-192.168.1.12
                      - 10.1.4.12-10.1.4.255
                threatIntelMode: Alert
              tags:
                key1: value1
              zones: []
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                location: West US
                name: azurefirewall
                properties:
                  applicationRuleCollections:
                  - name: apprulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 110
                      rules:
                      - description: Deny inbound rule
                        name: rule1
                        protocols:
                        - port: 443
                          protocolType: Https
                        sourceAddresses:
                        - 216.58.216.164
                        - 10.0.0.0/24
                        targetFqdns:
                        - www.test.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azfirewallgw/ipConfigurations/azureFirewallIpConfiguration
                    name: azureFirewallIpConfiguration
                    properties:
                      privateIPAddress: 10.0.0.0
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                  natRuleCollections:
                  - name: natrulecoll
                    properties:
                      action:
                        type: Dnat
                      priority: 112
                      rules:
                      - description: D-NAT all outbound web traffic for inspection
                        destinationAddresses:
                        - 1.2.3.4
                        destinationPorts:
                        - "443"
                        name: DNAT-HTTPS-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - '*'
                        translatedAddress: 1.2.3.5
                        translatedPort: "8443"
                  networkRuleCollections:
                  - name: netrulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 112
                      rules:
                      - description: Block traffic based on source IPs and ports
                        destinationAddresses:
                        - '*'
                        destinationPorts:
                        - 443-444
                        - "8443"
                        name: L4-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - 192.168.1.1-192.168.1.12
                        - 10.1.4.12-10.1.4.255
                  provisioningState: Succeeded
                  threatIntelMode: Alert
                tags:
                  key1: value1
                type: Microsoft.Network/azureFirewalls
                zones: []
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                location: West US
                name: azurefirewall
                properties:
                  applicationRuleCollections:
                  - name: apprulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 110
                      rules:
                      - description: Deny inbound rule
                        name: rule1
                        protocols:
                        - port: 443
                          protocolType: Https
                        sourceAddresses:
                        - 216.58.216.164
                        - 10.0.0.0/24
                        targetFqdns:
                        - www.test.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azfirewallgw/ipConfigurations/azureFirewallIpConfiguration
                    name: azureFirewallIpConfiguration
                    properties:
                      privateIPAddress: 10.0.0.0
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                  natRuleCollections:
                  - name: natrulecoll
                    properties:
                      action:
                        type: Dnat
                      priority: 112
                      rules:
                      - description: D-NAT all outbound web traffic for inspection
                        destinationAddresses:
                        - 1.2.3.4
                        destinationPorts:
                        - "443"
                        name: DNAT-HTTPS-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - '*'
                        translatedAddress: 1.2.3.5
                        translatedPort: "8443"
                  networkRuleCollections:
                  - name: netrulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 112
                      rules:
                      - description: Block traffic based on source IPs and ports
                        destinationAddresses:
                        - '*'
                        destinationPorts:
                        - 443-444
                        - "8443"
                        name: L4-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - 192.168.1.1-192.168.1.12
                        - 10.1.4.12-10.1.4.255
                  provisioningState: Succeeded
                  threatIntelMode: Alert
                tags:
                  key1: value1
                type: Microsoft.Network/azureFirewalls
                zones: []
        Create Azure Firewall With Zones:
          parameters:
            api-version: 2019-06-01
            azureFirewallName: azurefirewall
            parameters:
              location: West US 2
              properties:
                applicationRuleCollections:
                - name: apprulecoll
                  properties:
                    action:
                      type: Deny
                    priority: 110
                    rules:
                    - description: Deny inbound rule
                      name: rule1
                      protocols:
                      - port: 443
                        protocolType: Https
                      sourceAddresses:
                      - 216.58.216.164
                      - 10.0.0.0/24
                      targetFqdns:
                      - www.test.com
                ipConfigurations:
                - name: azureFirewallIpConfiguration
                  properties:
                    publicIPAddress:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                    subnet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                natRuleCollections:
                - name: natrulecoll
                  properties:
                    action:
                      type: Dnat
                    priority: 112
                    rules:
                    - description: D-NAT all outbound web traffic for inspection
                      destinationAddresses:
                      - 1.2.3.4
                      destinationPorts:
                      - "443"
                      name: DNAT-HTTPS-traffic
                      protocols:
                      - TCP
                      sourceAddresses:
                      - '*'
                      translatedAddress: 1.2.3.5
                      translatedPort: "8443"
                networkRuleCollections:
                - name: netrulecoll
                  properties:
                    action:
                      type: Deny
                    priority: 112
                    rules:
                    - description: Block traffic based on source IPs and ports
                      destinationAddresses:
                      - '*'
                      destinationPorts:
                      - 443-444
                      - "8443"
                      name: L4-traffic
                      protocols:
                      - TCP
                      sourceAddresses:
                      - 192.168.1.1-192.168.1.12
                      - 10.1.4.12-10.1.4.255
                threatIntelMode: Alert
              tags:
                key1: value1
              zones:
              - "1"
              - "2"
              - "3"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                location: West US 2
                name: azurefirewall
                properties:
                  applicationRuleCollections:
                  - name: apprulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 110
                      rules:
                      - description: Deny inbound rule
                        name: rule1
                        protocols:
                        - port: 443
                          protocolType: Https
                        sourceAddresses:
                        - 216.58.216.164
                        - 10.0.0.0/24
                        targetFqdns:
                        - www.test.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azfirewallgw/ipConfigurations/azureFirewallIpConfiguration
                    name: azureFirewallIpConfiguration
                    properties:
                      privateIPAddress: 10.0.0.0
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                  natRuleCollections:
                  - name: natrulecoll
                    properties:
                      action:
                        type: Dnat
                      priority: 112
                      rules:
                      - description: D-NAT all outbound web traffic for inspection
                        destinationAddresses:
                        - 1.2.3.4
                        destinationPorts:
                        - "443"
                        name: DNAT-HTTPS-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - '*'
                        translatedAddress: 1.2.3.5
                        translatedPort: "8443"
                  networkRuleCollections:
                  - name: netrulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 112
                      rules:
                      - description: Block traffic based on source IPs and ports
                        destinationAddresses:
                        - '*'
                        destinationPorts:
                        - 443-444
                        - "8443"
                        name: L4-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - 192.168.1.1-192.168.1.12
                        - 10.1.4.12-10.1.4.255
                  provisioningState: Succeeded
                  threatIntelMode: Alert
                tags:
                  key1: value1
                type: Microsoft.Network/azureFirewalls
                zones:
                - "1"
                - "2"
                - "3"
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                location: West US 2
                name: azurefirewall
                properties:
                  applicationRuleCollections:
                  - name: apprulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 110
                      rules:
                      - description: Deny inbound rule
                        name: rule1
                        protocols:
                        - port: 443
                          protocolType: Https
                        sourceAddresses:
                        - 216.58.216.164
                        - 10.0.0.0/24
                        targetFqdns:
                        - www.test.com
                  ipConfigurations:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azfirewallgw/ipConfigurations/azureFirewallIpConfiguration
                    name: azureFirewallIpConfiguration
                    properties:
                      privateIPAddress: 10.0.0.0
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pipName
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/AzureFirewallSubnet
                  natRuleCollections:
                  - name: natrulecoll
                    properties:
                      action:
                        type: Dnat
                      priority: 112
                      rules:
                      - description: D-NAT all outbound web traffic for inspection
                        destinationAddresses:
                        - 1.2.3.4
                        destinationPorts:
                        - "443"
                        name: DNAT-HTTPS-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - '*'
                        translatedAddress: 1.2.3.5
                        translatedPort: "8443"
                  networkRuleCollections:
                  - name: netrulecoll
                    properties:
                      action:
                        type: Deny
                      priority: 112
                      rules:
                      - description: Block traffic based on source IPs and ports
                        destinationAddresses:
                        - '*'
                        destinationPorts:
                        - 443-444
                        - "8443"
                        name: L4-traffic
                        protocols:
                        - TCP
                        sourceAddresses:
                        - 192.168.1.1-192.168.1.12
                        - 10.1.4.12-10.1.4.255
                  provisioningState: Succeeded
                  threatIntelMode: Alert
                tags:
                  key1: value1
                type: Microsoft.Network/azureFirewalls
                zones:
                - "1"
                - "2"
                - "3"
        Create Azure Firewall in virtual Hub:
          parameters:
            api-version: 2019-06-01
            azureFirewallName: azurefirewall
            parameters:
              location: West US
              properties:
                firewallPolicy:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/policy1
                threatIntelMode: Alert
                virtualHub:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
              tags:
                key1: value1
              zones: []
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                location: West US
                name: azurefirewall
                properties:
                  firewallPolicy:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/policy1
                  hubIpAddresses:
                    privateIPAddress: 10.0.0.0
                    publicIPAddresses:
                    - address: 13.73.240.12
                  provisioningState: Succeeded
                  threatIntelMode: Alert
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                tags:
                  key1: value1
                type: Microsoft.Network/azureFirewalls
                zones: []
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                location: West US
                name: azurefirewall
                properties:
                  firewallPolicy:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/policy1
                  hubIpAddresses:
                    privateIPAddress: 10.0.0.0
                    publicIPAddresses:
                    - address: 13.73.240.12
                  provisioningState: Succeeded
                  threatIntelMode: Alert
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                tags:
                  key1: value1
                type: Microsoft.Network/azureFirewalls
                zones: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.azure_firewalls_controller
components:
  schemas:
    AzureFirewall:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Azure Firewall resource.
      example:
        etag: etag
        zones:
        - zones
        - zones
        properties:
          ipConfigurations:
          - name: name
            etag: etag
            properties:
              subnet:
                id: id
              privateIPAddress: privateIPAddress
              provisioningState: Succeeded
              publicIPAddress:
                id: id
          - name: name
            etag: etag
            properties:
              subnet:
                id: id
              privateIPAddress: privateIPAddress
              provisioningState: Succeeded
              publicIPAddress:
                id: id
          threatIntelMode: Alert
          firewallPolicy:
            id: id
          natRuleCollections:
          - name: name
            etag: etag
            properties:
              action:
                type: Snat
              rules:
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                translatedAddress: translatedAddress
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                translatedPort: translatedPort
                protocols:
                - TCP
                - TCP
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                translatedAddress: translatedAddress
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                translatedPort: translatedPort
                protocols:
                - TCP
                - TCP
              provisioningState: Succeeded
              priority: 9613
          - name: name
            etag: etag
            properties:
              action:
                type: Snat
              rules:
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                translatedAddress: translatedAddress
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                translatedPort: translatedPort
                protocols:
                - TCP
                - TCP
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                translatedAddress: translatedAddress
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                translatedPort: translatedPort
                protocols:
                - TCP
                - TCP
              provisioningState: Succeeded
              priority: 9613
          networkRuleCollections:
          - name: name
            etag: etag
            properties:
              action:
                type: Allow
              rules:
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                protocols:
                - null
                - null
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                protocols:
                - null
                - null
              provisioningState: Succeeded
              priority: 38794
          - name: name
            etag: etag
            properties:
              action:
                type: Allow
              rules:
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                protocols:
                - null
                - null
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                destinationPorts:
                - destinationPorts
                - destinationPorts
                name: name
                description: description
                destinationAddresses:
                - destinationAddresses
                - destinationAddresses
                protocols:
                - null
                - null
              provisioningState: Succeeded
              priority: 38794
          applicationRuleCollections:
          - name: name
            etag: etag
            properties:
              action:
                type: Allow
              rules:
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                targetFqdns:
                - targetFqdns
                - targetFqdns
                name: name
                description: description
                fqdnTags:
                - fqdnTags
                - fqdnTags
                protocols:
                - port: 38575
                  protocolType: Http
                - port: 38575
                  protocolType: Http
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                targetFqdns:
                - targetFqdns
                - targetFqdns
                name: name
                description: description
                fqdnTags:
                - fqdnTags
                - fqdnTags
                protocols:
                - port: 38575
                  protocolType: Http
                - port: 38575
                  protocolType: Http
              provisioningState: Succeeded
              priority: 5297
          - name: name
            etag: etag
            properties:
              action:
                type: Allow
              rules:
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                targetFqdns:
                - targetFqdns
                - targetFqdns
                name: name
                description: description
                fqdnTags:
                - fqdnTags
                - fqdnTags
                protocols:
                - port: 38575
                  protocolType: Http
                - port: 38575
                  protocolType: Http
              - sourceAddresses:
                - sourceAddresses
                - sourceAddresses
                targetFqdns:
                - targetFqdns
                - targetFqdns
                name: name
                description: description
                fqdnTags:
                - fqdnTags
                - fqdnTags
                protocols:
                - port: 38575
                  protocolType: Http
                - port: 38575
                  protocolType: Http
              provisioningState: Succeeded
              priority: 5297
          provisioningState: Succeeded
          hubIpAddresses:
            privateIPAddress: privateIPAddress
            publicIPAddresses:
            - address: address
            - address: address
          virtualHub:
            id: id
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/AzureFirewallPropertiesFormat'
        zones:
          description: A list of availability zones denoting where the resource needs
            to come from.
          items:
            type: string
          title: zones
          type: array
      title: AzureFirewall
    AzureFirewallApplicationRule:
      description: Properties of an application rule.
      example:
        sourceAddresses:
        - sourceAddresses
        - sourceAddresses
        targetFqdns:
        - targetFqdns
        - targetFqdns
        name: name
        description: description
        fqdnTags:
        - fqdnTags
        - fqdnTags
        protocols:
        - port: 38575
          protocolType: Http
        - port: 38575
          protocolType: Http
      properties:
        description:
          description: Description of the rule.
          title: description
          type: string
        fqdnTags:
          description: List of FQDN Tags for this rule.
          items:
            type: string
          title: fqdnTags
          type: array
        name:
          description: Name of the application rule.
          title: name
          type: string
        protocols:
          description: Array of ApplicationRuleProtocols.
          items:
            $ref: '#/components/schemas/AzureFirewallApplicationRuleProtocol'
          title: protocols
          type: array
        sourceAddresses:
          description: List of source IP addresses for this rule.
          items:
            type: string
          title: sourceAddresses
          type: array
        targetFqdns:
          description: List of FQDNs for this rule.
          items:
            type: string
          title: targetFqdns
          type: array
      title: AzureFirewallApplicationRule
      type: object
    AzureFirewallApplicationRuleCollection:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Application rule collection resource.
      example:
        name: name
        etag: etag
        properties:
          action:
            type: Allow
          rules:
          - sourceAddresses:
            - sourceAddresses
            - sourceAddresses
            targetFqdns:
            - targetFqdns
            - targetFqdns
            name: name
            description: description
            fqdnTags:
            - fqdnTags
            - fqdnTags
            protocols:
            - port: 38575
              protocolType: Http
            - port: 38575
              protocolType: Http
          - sourceAddresses:
            - sourceAddresses
            - sourceAddresses
            targetFqdns:
            - targetFqdns
            - targetFqdns
            name: name
            description: description
            fqdnTags:
            - fqdnTags
            - fqdnTags
            protocols:
            - port: 38575
              protocolType: Http
            - port: 38575
              protocolType: Http
          provisioningState: Succeeded
          priority: 5297
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        name:
          description: Gets name of the resource that is unique within a resource
            group. This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AzureFirewallApplicationRuleCollectionPropertiesFormat'
      title: AzureFirewallApplicationRuleCollection
    AzureFirewallApplicationRuleCollectionPropertiesFormat:
      description: Properties of the application rule collection.
      example:
        action:
          type: Allow
        rules:
        - sourceAddresses:
          - sourceAddresses
          - sourceAddresses
          targetFqdns:
          - targetFqdns
          - targetFqdns
          name: name
          description: description
          fqdnTags:
          - fqdnTags
          - fqdnTags
          protocols:
          - port: 38575
            protocolType: Http
          - port: 38575
            protocolType: Http
        - sourceAddresses:
          - sourceAddresses
          - sourceAddresses
          targetFqdns:
          - targetFqdns
          - targetFqdns
          name: name
          description: description
          fqdnTags:
          - fqdnTags
          - fqdnTags
          protocols:
          - port: 38575
            protocolType: Http
          - port: 38575
            protocolType: Http
        provisioningState: Succeeded
        priority: 5297
      properties:
        action:
          $ref: '#/components/schemas/AzureFirewallRCAction'
        priority:
          description: Priority of the application rule collection resource.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 65000
          minimum: 100
          title: priority
          type: integer
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        rules:
          description: Collection of rules used by a application rule collection.
          items:
            $ref: '#/components/schemas/AzureFirewallApplicationRule'
          title: rules
          type: array
      title: AzureFirewallApplicationRuleCollectionPropertiesFormat
      type: object
    AzureFirewallApplicationRuleProtocol:
      description: Properties of the application rule protocol.
      example:
        port: 38575
        protocolType: Http
      properties:
        port:
          description: "Port number for the protocol, cannot be greater than 64000.\
            \ This field is optional."
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 64000
          minimum: 0
          title: port
          type: integer
        protocolType:
          $ref: '#/components/schemas/AzureFirewallApplicationRuleProtocolType'
      title: AzureFirewallApplicationRuleProtocol
      type: object
    AzureFirewallApplicationRuleProtocolType:
      description: The protocol type of a Application Rule resource.
      enum:
      - Http
      - Https
      title: AzureFirewallApplicationRuleProtocolType
      type: string
      x-ms-enum:
        modelAsString: true
        name: AzureFirewallApplicationRuleProtocolType
    AzureFirewallIPConfiguration:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: IP configuration of an Azure Firewall.
      example:
        name: name
        etag: etag
        properties:
          subnet:
            id: id
          privateIPAddress: privateIPAddress
          provisioningState: Succeeded
          publicIPAddress:
            id: id
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        name:
          description: Name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AzureFirewallIPConfigurationPropertiesFormat'
      title: AzureFirewallIPConfiguration
    AzureFirewallIPConfigurationPropertiesFormat:
      description: Properties of IP configuration of an Azure Firewall.
      example:
        subnet:
          id: id
        privateIPAddress: privateIPAddress
        provisioningState: Succeeded
        publicIPAddress:
          id: id
      properties:
        privateIPAddress:
          description: The Firewall Internal Load Balancer IP to be used as the next
            hop in User Defined Routes.
          readOnly: true
          title: privateIPAddress
          type: string
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        publicIPAddress:
          $ref: '#/components/schemas/AzureFirewallIPConfigurationPropertiesFormat_publicIPAddress'
        subnet:
          $ref: '#/components/schemas/AzureFirewallIPConfigurationPropertiesFormat_publicIPAddress'
      title: AzureFirewallIPConfigurationPropertiesFormat
      type: object
    AzureFirewallListResult:
      description: Response for ListAzureFirewalls API service call.
      example:
        value:
        - etag: etag
          zones:
          - zones
          - zones
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAddress: privateIPAddress
                provisioningState: Succeeded
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAddress: privateIPAddress
                provisioningState: Succeeded
                publicIPAddress:
                  id: id
            threatIntelMode: Alert
            firewallPolicy:
              id: id
            natRuleCollections:
            - name: name
              etag: etag
              properties:
                action:
                  type: Snat
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  translatedAddress: translatedAddress
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  translatedPort: translatedPort
                  protocols:
                  - TCP
                  - TCP
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  translatedAddress: translatedAddress
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  translatedPort: translatedPort
                  protocols:
                  - TCP
                  - TCP
                provisioningState: Succeeded
                priority: 9613
            - name: name
              etag: etag
              properties:
                action:
                  type: Snat
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  translatedAddress: translatedAddress
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  translatedPort: translatedPort
                  protocols:
                  - TCP
                  - TCP
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  translatedAddress: translatedAddress
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  translatedPort: translatedPort
                  protocols:
                  - TCP
                  - TCP
                provisioningState: Succeeded
                priority: 9613
            networkRuleCollections:
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - null
                  - null
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - null
                  - null
                provisioningState: Succeeded
                priority: 38794
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - null
                  - null
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - null
                  - null
                provisioningState: Succeeded
                priority: 38794
            applicationRuleCollections:
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetFqdns:
                  - targetFqdns
                  - targetFqdns
                  name: name
                  description: description
                  fqdnTags:
                  - fqdnTags
                  - fqdnTags
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetFqdns:
                  - targetFqdns
                  - targetFqdns
                  name: name
                  description: description
                  fqdnTags:
                  - fqdnTags
                  - fqdnTags
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                provisioningState: Succeeded
                priority: 5297
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetFqdns:
                  - targetFqdns
                  - targetFqdns
                  name: name
                  description: description
                  fqdnTags:
                  - fqdnTags
                  - fqdnTags
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetFqdns:
                  - targetFqdns
                  - targetFqdns
                  name: name
                  description: description
                  fqdnTags:
                  - fqdnTags
                  - fqdnTags
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                provisioningState: Succeeded
                priority: 5297
            provisioningState: Succeeded
            hubIpAddresses:
              privateIPAddress: privateIPAddress
              publicIPAddresses:
              - address: address
              - address: address
            virtualHub:
              id: id
        - etag: etag
          zones:
          - zones
          - zones
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAddress: privateIPAddress
                provisioningState: Succeeded
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAddress: privateIPAddress
                provisioningState: Succeeded
                publicIPAddress:
                  id: id
            threatIntelMode: Alert
            firewallPolicy:
              id: id
            natRuleCollections:
            - name: name
              etag: etag
              properties:
                action:
                  type: Snat
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  translatedAddress: translatedAddress
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  translatedPort: translatedPort
                  protocols:
                  - TCP
                  - TCP
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  translatedAddress: translatedAddress
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  translatedPort: translatedPort
                  protocols:
                  - TCP
                  - TCP
                provisioningState: Succeeded
                priority: 9613
            - name: name
              etag: etag
              properties:
                action:
                  type: Snat
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  translatedAddress: translatedAddress
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  translatedPort: translatedPort
                  protocols:
                  - TCP
                  - TCP
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  translatedAddress: translatedAddress
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  translatedPort: translatedPort
                  protocols:
                  - TCP
                  - TCP
                provisioningState: Succeeded
                priority: 9613
            networkRuleCollections:
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - null
                  - null
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - null
                  - null
                provisioningState: Succeeded
                priority: 38794
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - null
                  - null
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  name: name
                  description: description
                  destinationAddresses:
                  - destinationAddresses
                  - destinationAddresses
                  protocols:
                  - null
                  - null
                provisioningState: Succeeded
                priority: 38794
            applicationRuleCollections:
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetFqdns:
                  - targetFqdns
                  - targetFqdns
                  name: name
                  description: description
                  fqdnTags:
                  - fqdnTags
                  - fqdnTags
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetFqdns:
                  - targetFqdns
                  - targetFqdns
                  name: name
                  description: description
                  fqdnTags:
                  - fqdnTags
                  - fqdnTags
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                provisioningState: Succeeded
                priority: 5297
            - name: name
              etag: etag
              properties:
                action:
                  type: Allow
                rules:
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetFqdns:
                  - targetFqdns
                  - targetFqdns
                  name: name
                  description: description
                  fqdnTags:
                  - fqdnTags
                  - fqdnTags
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                - sourceAddresses:
                  - sourceAddresses
                  - sourceAddresses
                  targetFqdns:
                  - targetFqdns
                  - targetFqdns
                  name: name
                  description: description
                  fqdnTags:
                  - fqdnTags
                  - fqdnTags
                  protocols:
                  - port: 38575
                    protocolType: Http
                  - port: 38575
                    protocolType: Http
                provisioningState: Succeeded
                priority: 5297
            provisioningState: Succeeded
            hubIpAddresses:
              privateIPAddress: privateIPAddress
              publicIPAddresses:
              - address: address
              - address: address
            virtualHub:
              id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: List of Azure Firewalls in a resource group.
          items:
            $ref: '#/components/schemas/AzureFirewall'
          title: value
          type: array
      title: AzureFirewallListResult
      type: object
    AzureFirewallNatRCAction:
      description: AzureFirewall NAT Rule Collection Action.
      example:
        type: Snat
      properties:
        type:
          $ref: '#/components/schemas/AzureFirewallNatRCActionType'
      title: AzureFirewallNatRCAction
      type: object
    AzureFirewallNatRCActionType:
      description: The action type of a NAT rule collection.
      enum:
      - Snat
      - Dnat
      title: AzureFirewallNatRCActionType
      type: string
      x-ms-enum:
        modelAsString: true
        name: AzureFirewallNatRCActionType
    AzureFirewallNatRule:
      description: Properties of a NAT rule.
      example:
        sourceAddresses:
        - sourceAddresses
        - sourceAddresses
        translatedAddress: translatedAddress
        destinationPorts:
        - destinationPorts
        - destinationPorts
        name: name
        description: description
        destinationAddresses:
        - destinationAddresses
        - destinationAddresses
        translatedPort: translatedPort
        protocols:
        - TCP
        - TCP
      properties:
        description:
          description: Description of the rule.
          title: description
          type: string
        destinationAddresses:
          description: "List of destination IP addresses for this rule. Supports IP\
            \ ranges, prefixes, and service tags."
          items:
            type: string
          title: destinationAddresses
          type: array
        destinationPorts:
          description: List of destination ports.
          items:
            type: string
          title: destinationPorts
          type: array
        name:
          description: Name of the NAT rule.
          title: name
          type: string
        protocols:
          description: Array of AzureFirewallNetworkRuleProtocols applicable to this
            NAT rule.
          items:
            $ref: '#/components/schemas/AzureFirewallNetworkRuleProtocol'
          title: protocols
          type: array
        sourceAddresses:
          description: List of source IP addresses for this rule.
          items:
            type: string
          title: sourceAddresses
          type: array
        translatedAddress:
          description: The translated address for this NAT rule.
          title: translatedAddress
          type: string
        translatedPort:
          description: The translated port for this NAT rule.
          title: translatedPort
          type: string
      title: AzureFirewallNatRule
      type: object
    AzureFirewallNatRuleCollection:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: NAT rule collection resource.
      example:
        name: name
        etag: etag
        properties:
          action:
            type: Snat
          rules:
          - sourceAddresses:
            - sourceAddresses
            - sourceAddresses
            translatedAddress: translatedAddress
            destinationPorts:
            - destinationPorts
            - destinationPorts
            name: name
            description: description
            destinationAddresses:
            - destinationAddresses
            - destinationAddresses
            translatedPort: translatedPort
            protocols:
            - TCP
            - TCP
          - sourceAddresses:
            - sourceAddresses
            - sourceAddresses
            translatedAddress: translatedAddress
            destinationPorts:
            - destinationPorts
            - destinationPorts
            name: name
            description: description
            destinationAddresses:
            - destinationAddresses
            - destinationAddresses
            translatedPort: translatedPort
            protocols:
            - TCP
            - TCP
          provisioningState: Succeeded
          priority: 9613
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        name:
          description: Gets name of the resource that is unique within a resource
            group. This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AzureFirewallNatRuleCollectionProperties'
      title: AzureFirewallNatRuleCollection
    AzureFirewallNatRuleCollectionProperties:
      description: Properties of the NAT rule collection.
      example:
        action:
          type: Snat
        rules:
        - sourceAddresses:
          - sourceAddresses
          - sourceAddresses
          translatedAddress: translatedAddress
          destinationPorts:
          - destinationPorts
          - destinationPorts
          name: name
          description: description
          destinationAddresses:
          - destinationAddresses
          - destinationAddresses
          translatedPort: translatedPort
          protocols:
          - TCP
          - TCP
        - sourceAddresses:
          - sourceAddresses
          - sourceAddresses
          translatedAddress: translatedAddress
          destinationPorts:
          - destinationPorts
          - destinationPorts
          name: name
          description: description
          destinationAddresses:
          - destinationAddresses
          - destinationAddresses
          translatedPort: translatedPort
          protocols:
          - TCP
          - TCP
        provisioningState: Succeeded
        priority: 9613
      properties:
        action:
          $ref: '#/components/schemas/AzureFirewallNatRCAction'
        priority:
          description: Priority of the NAT rule collection resource.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 65000
          minimum: 100
          title: priority
          type: integer
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        rules:
          description: Collection of rules used by a NAT rule collection.
          items:
            $ref: '#/components/schemas/AzureFirewallNatRule'
          title: rules
          type: array
      title: AzureFirewallNatRuleCollectionProperties
      type: object
    AzureFirewallNetworkRule:
      description: Properties of the network rule.
      example:
        sourceAddresses:
        - sourceAddresses
        - sourceAddresses
        destinationPorts:
        - destinationPorts
        - destinationPorts
        name: name
        description: description
        destinationAddresses:
        - destinationAddresses
        - destinationAddresses
        protocols:
        - null
        - null
      properties:
        description:
          description: Description of the rule.
          title: description
          type: string
        destinationAddresses:
          description: List of destination IP addresses.
          items:
            type: string
          title: destinationAddresses
          type: array
        destinationPorts:
          description: List of destination ports.
          items:
            type: string
          title: destinationPorts
          type: array
        name:
          description: Name of the network rule.
          title: name
          type: string
        protocols:
          description: Array of AzureFirewallNetworkRuleProtocols.
          items:
            $ref: '#/components/schemas/AzureFirewallNetworkRuleProtocol'
          title: protocols
          type: array
        sourceAddresses:
          description: List of source IP addresses for this rule.
          items:
            type: string
          title: sourceAddresses
          type: array
      title: AzureFirewallNetworkRule
      type: object
    AzureFirewallNetworkRuleCollection:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Network rule collection resource.
      example:
        name: name
        etag: etag
        properties:
          action:
            type: Allow
          rules:
          - sourceAddresses:
            - sourceAddresses
            - sourceAddresses
            destinationPorts:
            - destinationPorts
            - destinationPorts
            name: name
            description: description
            destinationAddresses:
            - destinationAddresses
            - destinationAddresses
            protocols:
            - null
            - null
          - sourceAddresses:
            - sourceAddresses
            - sourceAddresses
            destinationPorts:
            - destinationPorts
            - destinationPorts
            name: name
            description: description
            destinationAddresses:
            - destinationAddresses
            - destinationAddresses
            protocols:
            - null
            - null
          provisioningState: Succeeded
          priority: 38794
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        name:
          description: Gets name of the resource that is unique within a resource
            group. This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AzureFirewallNetworkRuleCollectionPropertiesFormat'
      title: AzureFirewallNetworkRuleCollection
    AzureFirewallNetworkRuleCollectionPropertiesFormat:
      description: Properties of the network rule collection.
      example:
        action:
          type: Allow
        rules:
        - sourceAddresses:
          - sourceAddresses
          - sourceAddresses
          destinationPorts:
          - destinationPorts
          - destinationPorts
          name: name
          description: description
          destinationAddresses:
          - destinationAddresses
          - destinationAddresses
          protocols:
          - null
          - null
        - sourceAddresses:
          - sourceAddresses
          - sourceAddresses
          destinationPorts:
          - destinationPorts
          - destinationPorts
          name: name
          description: description
          destinationAddresses:
          - destinationAddresses
          - destinationAddresses
          protocols:
          - null
          - null
        provisioningState: Succeeded
        priority: 38794
      properties:
        action:
          $ref: '#/components/schemas/AzureFirewallRCAction'
        priority:
          description: Priority of the network rule collection resource.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 65000
          minimum: 100
          title: priority
          type: integer
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        rules:
          description: Collection of rules used by a network rule collection.
          items:
            $ref: '#/components/schemas/AzureFirewallNetworkRule'
          title: rules
          type: array
      title: AzureFirewallNetworkRuleCollectionPropertiesFormat
      type: object
    AzureFirewallNetworkRuleProtocol:
      description: The protocol of a Network Rule resource.
      enum:
      - TCP
      - UDP
      - Any
      - ICMP
      title: AzureFirewallNetworkRuleProtocol
      type: string
      x-ms-enum:
        modelAsString: true
        name: AzureFirewallNetworkRuleProtocol
    AzureFirewallPropertiesFormat:
      description: Properties of the Azure Firewall.
      example:
        ipConfigurations:
        - name: name
          etag: etag
          properties:
            subnet:
              id: id
            privateIPAddress: privateIPAddress
            provisioningState: Succeeded
            publicIPAddress:
              id: id
        - name: name
          etag: etag
          properties:
            subnet:
              id: id
            privateIPAddress: privateIPAddress
            provisioningState: Succeeded
            publicIPAddress:
              id: id
        threatIntelMode: Alert
        firewallPolicy:
          id: id
        natRuleCollections:
        - name: name
          etag: etag
          properties:
            action:
              type: Snat
            rules:
            - sourceAddresses:
              - sourceAddresses
              - sourceAddresses
              translatedAddress: translatedAddress
              destinationPorts:
              - destinationPorts
              - destinationPorts
              name: name
[...]
