openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: An API to manage the running of batch resources on Google Cloud Platform.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Batch API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://batch.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: batch
externalDocs:
  url: https://cloud.google.com/batch/
servers:
- url: https://batch.googleapis.com/
tags:
- name: projects
paths:
  /v1/{name}:
    delete:
      description: "Deletes a long-running operation. This method indicates that the\
        \ client is no longer interested in the operation result. It does not cancel\
        \ the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      operationId: batch_projects_locations_operations_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be deleted.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Optional. Reason for this deletion.
        explode: true
        in: query
        name: reason
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. An optional request ID to identify requests. Specify\
          \ a unique request ID so that if you must retry your request, the server\
          \ will know to ignore the request if it has already been completed. The\
          \ server will guarantee that for at least 60 minutes after the first request.\
          \ For example, consider a situation where you make an initial request and\
          \ the request times out. If you make the request again with the same request\
          \ ID, the server can check if original operation with the same request ID\
          \ was received, and if so, will ignore the second request. This prevents\
          \ clients from accidentally creating duplicate commitments. The request\
          \ ID must be a valid UUID with the exception that zero UUID is not supported\
          \ (00000000-0000-0000-0000-000000000000)."
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Gets the latest state of a long-running operation. Clients can
        use this method to poll the operation result at intervals as recommended by
        the API service.
      operationId: batch_projects_locations_operations_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{name}/locations:
    get:
      description: Lists information about the supported locations for this service.
      operationId: batch_projects_locations_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The resource that owns the locations collection, if applicable."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "A filter to narrow down results to a preferred subset. The filtering\
          \ language accepts strings like `\"displayName=tokyo\"`, and is documented\
          \ in more detail in [AIP-160](https://google.aip.dev/160)."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of results to return. If not set, the service\
          \ selects a default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A page token received from the `next_page_token` field in the
          response. Send that page token to receive the subsequent page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{name}/operations:
    get:
      description: "Lists operations that match the specified filter in the request.\
        \ If the server doesn't support this method, it returns `UNIMPLEMENTED`."
      operationId: batch_projects_locations_operations_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation's parent resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{name}:cancel:
    post:
      description: "Starts asynchronous cancellation on a long-running operation.\
        \ The server makes a best effort to cancel the operation, but success is not\
        \ guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Clients can use Operations.GetOperation or other methods to check whether\
        \ the cancellation succeeded or whether the operation completed despite cancellation.\
        \ On successful cancellation, the operation is not deleted; instead, it becomes\
        \ an operation with an Operation.error value with a google.rpc.Status.code\
        \ of 1, corresponding to `Code.CANCELLED`."
      operationId: batch_projects_locations_operations_cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be cancelled.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOperationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/jobs:
    get:
      description: List all Jobs for a project within a region.
      operationId: batch_projects_locations_jobs_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Parent path.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: List filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Sort results. Supported are \"name\", \"name desc\"\
          , \"create_time\", and \"create_time desc\"."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Create a Job.
      operationId: batch_projects_locations_jobs_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource name where the Job will be created.\
          \ Pattern: \"projects/{project}/locations/{location}\""
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "ID used to uniquely identify the Job within its parent scope.\
          \ This field should contain at most 63 characters and must start with lowercase\
          \ characters. Only lowercase characters, numbers and '-' are accepted. The\
          \ '-' character cannot be the first or the last one. A system generated\
          \ ID will be used if the field is not set. The job.name field in the request\
          \ will be ignored and the created resource name of the Job will be \"{parent}/jobs/{job_id}\"\
          ."
        explode: true
        in: query
        name: jobId
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. An optional request ID to identify requests. Specify\
          \ a unique request ID so that if you must retry your request, the server\
          \ will know to ignore the request if it has already been completed. The\
          \ server will guarantee that for at least 60 minutes since the first request.\
          \ For example, consider a situation where you make an initial request and\
          \ the request times out. If you make the request again with the same request\
          \ ID, the server can check if original operation with the same request ID\
          \ was received, and if so, will ignore the second request. This prevents\
          \ clients from accidentally creating duplicate commitments. The request\
          \ ID must be a valid UUID with the exception that zero UUID is not supported\
          \ (00000000-0000-0000-0000-000000000000)."
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Job'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/state:report:
    post:
      description: "Report agent's state, e.g. agent status and tasks information"
      operationId: batch_projects_locations_state_report
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Format: projects/{project}/locations/{location} {project}\
          \ should be a project number."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportAgentStateRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportAgentStateResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/tasks:
    get:
      description: List Tasks associated with a job.
      operationId: batch_projects_locations_jobs_task_groups_tasks_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Name of a TaskGroup from which Tasks are being requested.\
          \ Pattern: \"projects/{project}/locations/{location}/jobs/{job}/taskGroups/{task_group}\""
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Task filter, null filter matches all Tasks. Filter string should\
          \ be of the format State=TaskStatus.State e.g. State=RUNNING"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTasksResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Accelerator:
      description: Accelerator describes Compute Engine accelerators to be attached
        to the VM.
      example:
        driverVersion: driverVersion
        count: count
        installGpuDrivers: true
        type: type
      properties:
        count:
          description: The number of accelerators of this type.
          format: int64
          title: count
          type: string
        driverVersion:
          description: "Optional. The NVIDIA GPU driver version that should be installed\
            \ for this type. You can define the specific driver version such as \"\
            470.103.01\", following the driver version requirements in https://cloud.google.com/compute/docs/gpus/install-drivers-gpu#minimum-driver.\
            \ Batch will install the specific accelerator driver if qualified."
          title: driverVersion
          type: string
        installGpuDrivers:
          deprecated: true
          description: "Deprecated: please use instances[0].install_gpu_drivers instead."
          title: installGpuDrivers
          type: boolean
        type:
          description: "The accelerator type. For example, \"nvidia-tesla-t4\". See\
            \ `gcloud compute accelerator-types list`."
          title: type
          type: string
      title: Accelerator
      type: object
    ActionCondition:
      description: Conditions for actions to deal with task failures.
      example:
        exitCodes:
        - 6
        - 6
      properties:
        exitCodes:
          description: "Exit codes of a task execution. If there are more than 1 exit\
            \ codes, when task executes with any of the exit code in the list, the\
            \ condition is met and the action will be executed."
          items:
            format: int32
            type: integer
          title: exitCodes
          type: array
      title: ActionCondition
      type: object
    AgentContainer:
      description: Container runnable representation on the agent side.
      example:
        imageUri: imageUri
        entrypoint: entrypoint
        options: options
        volumes:
        - volumes
        - volumes
        commands:
        - commands
        - commands
      properties:
        commands:
          description: Overrides the `CMD` specified in the container. If there is
            an ENTRYPOINT (either in the container image or with the entrypoint field
            below) then commands are appended as arguments to the ENTRYPOINT.
          items:
            type: string
          title: commands
          type: array
        entrypoint:
          description: Overrides the `ENTRYPOINT` specified in the container.
          title: entrypoint
          type: string
        imageUri:
          description: The URI to pull the container image from.
          title: imageUri
          type: string
        options:
          description: "Arbitrary additional options to include in the \"docker run\"\
            \ command when running this container, e.g. \"--network host\"."
          title: options
          type: string
        volumes:
          description: "Volumes to mount (bind mount) from the host machine files\
            \ or directories into the container, formatted to match docker run's --volume\
            \ option, e.g. /foo:/bar, or /foo:/bar:ro"
          items:
            type: string
          title: volumes
          type: array
      title: AgentContainer
      type: object
    AgentEnvironment:
      description: AgentEnvironment is the Environment representation between Agent
        and CLH communication. The environment is used in both task level and agent
        level.
      example:
        encryptedVariables:
          cipherText: cipherText
          keyName: keyName
        variables:
          key: variables
        secretVariables:
          key: secretVariables
      properties:
        encryptedVariables:
          $ref: '#/components/schemas/AgentKMSEnvMap'
        secretVariables:
          additionalProperties:
            type: string
          description: A map of environment variable names to Secret Manager secret
            names. The VM will access the named secrets to set the value of each environment
            variable.
          title: secretVariables
          type: object
        variables:
          additionalProperties:
            type: string
          description: A map of environment variable names to values.
          title: variables
          type: object
      title: AgentEnvironment
      type: object
    AgentInfo:
      description: VM Agent Info.
      example:
        jobId: jobId
        taskGroupId: taskGroupId
        state: AGENT_STATE_UNSPECIFIED
        tasks:
        - runnable: runnable
          taskId: taskId
          taskStatus:
            state: STATE_UNSPECIFIED
            statusEvents:
            - taskState: STATE_UNSPECIFIED
              eventTime: eventTime
              description: description
              taskExecution:
                exitCode: 0
              type: type
            - taskState: STATE_UNSPECIFIED
              eventTime: eventTime
              description: description
              taskExecution:
                exitCode: 0
              type: type
        - runnable: runnable
          taskId: taskId
          taskStatus:
            state: STATE_UNSPECIFIED
            statusEvents:
            - taskState: STATE_UNSPECIFIED
              eventTime: eventTime
              description: description
              taskExecution:
                exitCode: 0
              type: type
            - taskState: STATE_UNSPECIFIED
              eventTime: eventTime
              description: description
              taskExecution:
                exitCode: 0
              type: type
        reportTime: reportTime
      properties:
        jobId:
          description: Optional. The assigned Job ID
          title: jobId
          type: string
        reportTime:
          description: When the AgentInfo is generated.
          format: google-datetime
          title: reportTime
          type: string
        state:
          description: Agent state.
          enum:
          - AGENT_STATE_UNSPECIFIED
          - AGENT_STARTING
          - AGENT_RUNNING
          - AGENT_STOPPED
          title: state
          type: string
        taskGroupId:
          description: The assigned task group ID.
          title: taskGroupId
          type: string
        tasks:
          description: Task Info.
          items:
            $ref: '#/components/schemas/AgentTaskInfo'
          title: tasks
          type: array
      title: AgentInfo
      type: object
    AgentKMSEnvMap:
      description: AgentKMSEnvMap contains the encrypted key/value pair to be used
        in the environment on the Agent side.
      example:
        cipherText: cipherText
        keyName: keyName
      properties:
        cipherText:
          description: The value of the cipherText response from the `encrypt` method.
          title: cipherText
          type: string
        keyName:
          description: The name of the KMS key that will be used to decrypt the cipher
            text.
          title: keyName
          type: string
      title: AgentKMSEnvMap
      type: object
    AgentMetadata:
      description: VM Agent Metadata.
      example:
        imageVersion: imageVersion
        creator: creator
        instance: instance
        instanceId: instanceId
        creationTime: creationTime
        instancePreemptionNoticeReceived: true
        zone: zone
        version: version
        osRelease:
          key: osRelease
      properties:
        creationTime:
          deprecated: true
          description: When the VM agent started. Use agent_startup_time instead.
          format: google-datetime
          title: creationTime
          type: string
        creator:
          description: "Full name of the entity that created this vm. For MIG, this\
            \ path is: projects/{project}/regions/{region}/InstanceGroupManagers/{igm}\
            \ The value is retrieved from the vm metadata key of \"created-by\"."
          title: creator
          type: string
        imageVersion:
          description: image version for the VM that this agent is installed on.
          title: imageVersion
          type: string
        instance:
          description: GCP instance name (go/instance-name).
          title: instance
          type: string
        instanceId:
          description: GCP instance ID (go/instance-id).
          format: uint64
          title: instanceId
          type: string
        instancePreemptionNoticeReceived:
          description: If the GCP instance has received preemption notice.
          title: instancePreemptionNoticeReceived
          type: boolean
        osRelease:
          additionalProperties:
            type: string
          description: parsed contents of /etc/os-release
          title: osRelease
          type: object
        version:
          description: agent binary version running on VM
          title: version
          type: string
        zone:
          description: Agent zone.
          title: zone
          type: string
      title: AgentMetadata
      type: object
    AgentScript:
      description: Script runnable representation on the agent side.
      example:
        path: path
        text: text
      properties:
        path:
          description: "Script file path on the host VM. To specify an interpreter,\
            \ please add a `#!`(also known as [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix)))\
            \ as the first line of the file.(For example, to execute the script using\
            \ bash, `#!/bin/bash` should be the first line of the file. To execute\
            \ the script using`Python3`, `#!/usr/bin/env python3` should be the first\
            \ line of the file.) Otherwise, the file will by default be executed by\
            \ `/bin/sh`."
          title: path
          type: string
        text:
          description: "Shell script text. To specify an interpreter, please add a\
            \ `#!\\n` at the beginning of the text.(For example, to execute the script\
            \ using bash, `#!/bin/bash\\n` should be added. To execute the script\
            \ using`Python3`, `#!/usr/bin/env python3\\n` should be added.) Otherwise,\
            \ the script will by default be executed by `/bin/sh`."
          title: text
          type: string
      title: AgentScript
      type: object
    AgentTask:
      description: TODO(b/182501497) The message needs to be redefined when the Agent
        API server updates data in storage per the backend design.
      example:
        task: task
        agentTaskSpec:
          environment:
            encryptedVariables:
              cipherText: cipherText
              keyName: keyName
            variables:
              key: variables
            secretVariables:
              key: secretVariables
          userAccount:
            uid: uid
            gid: gid
          maxRunDuration: maxRunDuration
          runnables:
          - container:
              imageUri: imageUri
              entrypoint: entrypoint
              options: options
              volumes:
              - volumes
              - volumes
              commands:
              - commands
              - commands
            environment:
              encryptedVariables:
                cipherText: cipherText
                keyName: keyName
              variables:
                key: variables
              secretVariables:
                key: secretVariables
            background: true
            alwaysRun: true
            ignoreExitStatus: true
            script:
              path: path
              text: text
            timeout: timeout
          - container:
              imageUri: imageUri
              entrypoint: entrypoint
              options: options
              volumes:
              - volumes
              - volumes
              commands:
              - commands
              - commands
            environment:
              encryptedVariables:
                cipherText: cipherText
                keyName: keyName
              variables:
                key: variables
              secretVariables:
                key: secretVariables
            background: true
            alwaysRun: true
            ignoreExitStatus: true
            script:
              path: path
              text: text
            timeout: timeout
        intendedState: INTENDED_STATE_UNSPECIFIED
        reachedBarrier: reachedBarrier
        taskSource: TASK_SOURCE_UNSPECIFIED
        spec:
          environment:
            encryptedVariables:
              cipherText: cipherText
              keyName: keyName
            variables:
              key: variables
            secretVariables:
              key: secretVariables
          environments:
            key: environments
          lifecyclePolicies:
          - actionCondition:
              exitCodes:
              - 6
              - 6
            action: ACTION_UNSPECIFIED
          - actionCondition:
              exitCodes:
              - 6
              - 6
            action: ACTION_UNSPECIFIED
          volumes:
          - mountPath: mountPath
            gcs:
              remotePath: remotePath
            mountOptions:
            - mountOptions
            - mountOptions
            nfs:
              server: server
              remotePath: remotePath
            deviceName: deviceName
          - mountPath: mountPath
            gcs:
              remotePath: remotePath
            mountOptions:
            - mountOptions
            - mountOptions
            nfs:
              server: server
              remotePath: remotePath
            deviceName: deviceName
          maxRunDuration: maxRunDuration
          maxRetryCount: 1
          computeResource:
            bootDiskMib: bootDiskMib
            cpuMilli: cpuMilli
            memoryMib: memoryMib
          runnables:
          - container:
              imageUri: imageUri
              password: password
              enableImageStreaming: true
              entrypoint: entrypoint
              options: options
              volumes:
              - volumes
              - volumes
              blockExternalNetwork: true
              commands:
              - commands
              - commands
              username: username
            environment:
              encryptedVariables:
                cipherText: cipherText
                keyName: keyName
              variables:
                key: variables
              secretVariables:
                key: secretVariables
            barrier:
              name: name
            background: true
            displayName: displayName
            alwaysRun: true
            ignoreExitStatus: true
            script:
              path: path
              text: text
            timeout: timeout
            labels:
              key: labels
          - container:
              imageUri: imageUri
              password: password
              enableImageStreaming: true
              entrypoint: entrypoint
              options: options
              volumes:
              - volumes
              - volumes
              blockExternalNetwork: true
              commands:
              - commands
              - commands
              username: username
            environment:
              encryptedVariables:
                cipherText: cipherText
                keyName: keyName
              variables:
                key: variables
              secretVariables:
                key: secretVariables
            barrier:
              name: name
            background: true
            displayName: displayName
            alwaysRun: true
            ignoreExitStatus: true
            script:
              path: path
              text: text
            timeout: timeout
            labels:
              key: labels
        status:
          state: STATE_UNSPECIFIED
          statusEvents:
          - taskState: STATE_UNSPECIFIED
            eventTime: eventTime
            description: description
            taskExecution:
              exitCode: 0
            type: type
          - taskState: STATE_UNSPECIFIED
            eventTime: eventTime
            description: description
            taskExecution:
              exitCode: 0
            type: type
      properties:
        agentTaskSpec:
          $ref: '#/components/schemas/AgentTaskSpec'
        intendedState:
          description: The intended state of the task.
          enum:
          - INTENDED_STATE_UNSPECIFIED
          - ASSIGNED
          - CANCELLED
          - DELETED
          title: intendedState
          type: string
        reachedBarrier:
          description: The highest barrier reached by all tasks in the task's TaskGroup.
          format: int64
          title: reachedBarrier
          type: string
        spec:
          $ref: '#/components/schemas/TaskSpec'
        status:
          $ref: '#/components/schemas/TaskStatus'
        task:
          description: Task name.
          title: task
          type: string
        taskSource:
          description: TaskSource represents the source of the task.
          enum:
          - TASK_SOURCE_UNSPECIFIED
          - BATCH_INTERNAL
          - USER
          title: taskSource
          type: string
      title: AgentTask
      type: object
    AgentTaskInfo:
      description: Task Info
      example:
        runnable: runnable
        taskId: taskId
        taskStatus:
          state: STATE_UNSPECIFIED
          statusEvents:
          - taskState: STATE_UNSPECIFIED
            eventTime: eventTime
            description: description
            taskExecution:
              exitCode: 0
            type: type
          - taskState: STATE_UNSPECIFIED
            eventTime: eventTime
            description: description
            taskExecution:
              exitCode: 0
            type: type
      properties:
        runnable:
          description: The highest index of a runnable started by the agent for this
            task. The runnables are indexed from 1. Value 0 is undefined.
          format: int64
          title: runnable
          type: string
        taskId:
          description: ID of the Task
          title: taskId
          type: string
        taskStatus:
          $ref: '#/components/schemas/TaskStatus'
      title: AgentTaskInfo
      type: object
    AgentTaskRunnable:
      description: AgentTaskRunnable is the Runnable representation between Agent
        and CLH communication.
      example:
        container:
          imageUri: imageUri
          entrypoint: entrypoint
          options: options
          volumes:
          - volumes
          - volumes
          commands:
          - commands
          - commands
        environment:
          encryptedVariables:
            cipherText: cipherText
            keyName: keyName
          variables:
            key: variables
          secretVariables:
            key: secretVariables
        background: true
        alwaysRun: true
        ignoreExitStatus: true
        script:
          path: path
          text: text
        timeout: timeout
      properties:
        alwaysRun:
          description: "By default, after a Runnable fails, no further Runnable are\
            \ executed. This flag indicates that this Runnable must be run even if\
            \ the Task has already failed. This is useful for Runnables that copy\
            \ output files off of the VM or for debugging. The always_run flag does\
            \ not override the Task's overall max_run_duration. If the max_run_duration\
            \ has expired then no further Runnables will execute, not even always_run\
            \ Runnables."
          title: alwaysRun
          type: boolean
        background:
          description: This flag allows a Runnable to continue running in the background
            while the Task executes subsequent Runnables. This is useful to provide
            services to other Runnables (or to provide debugging support tools like
            SSH servers).
          title: background
          type: boolean
        container:
          $ref: '#/components/schemas/AgentContainer'
        environment:
          $ref: '#/components/schemas/AgentEnvironment'
        ignoreExitStatus:
          description: "Normally, a non-zero exit status causes the Task to fail.\
            \ This flag allows execution of other Runnables to continue instead."
          title: ignoreExitStatus
          type: boolean
        script:
          $ref: '#/components/schemas/AgentScript'
        timeout:
          description: Timeout for this Runnable.
          format: google-duration
          title: timeout
          type: string
      title: AgentTaskRunnable
      type: object
    AgentTaskSpec:
      description: AgentTaskSpec is the user's TaskSpec representation between Agent
        and CLH communication.
      example:
        environment:
          encryptedVariables:
            cipherText: cipherText
            keyName: keyName
          variables:
            key: variables
          secretVariables:
            key: secretVariables
        userAccount:
          uid: uid
          gid: gid
        maxRunDuration: maxRunDuration
        runnables:
        - container:
            imageUri: imageUri
            entrypoint: entrypoint
            options: options
            volumes:
            - volumes
            - volumes
            commands:
            - commands
            - commands
          environment:
            encryptedVariables:
              cipherText: cipherText
              keyName: keyName
            variables:
              key: variables
            secretVariables:
              key: secretVariables
          background: true
          alwaysRun: true
          ignoreExitStatus: true
          script:
            path: path
            text: text
          timeout: timeout
        - container:
            imageUri: imageUri
            entrypoint: entrypoint
            options: options
            volumes:
            - volumes
            - volumes
            commands:
            - commands
            - commands
          environment:
            encryptedVariables:
              cipherText: cipherText
              keyName: keyName
            variables:
              key: variables
            secretVariables:
              key: secretVariables
          background: true
          alwaysRun: true
          ignoreExitStatus: true
          script:
            path: path
            text: text
          timeout: timeout
      properties:
        environment:
          $ref: '#/components/schemas/AgentEnvironment'
        maxRunDuration:
          description: Maximum duration the task should run. The task will be killed
            and marked as FAILED if over this limit.
          format: google-duration
          title: maxRunDuration
          type: string
        runnables:
          description: AgentTaskRunnable is runanbles that will be executed on the
            agent.
          items:
            $ref: '#/components/schemas/AgentTaskRunnable'
          title: runnables
          type: array
        userAccount:
          $ref: '#/components/schemas/AgentTaskUserAccount'
      title: AgentTaskSpec
      type: object
    AgentTaskUserAccount:
      description: AgentTaskUserAccount contains the information of a POSIX account
        on the guest os which is used to execute the runnables.
      example:
        uid: uid
        gid: gid
      properties:
        gid:
          description: gid id an unique identifier of the POSIX account group corresponding
            to the user account.
          format: int64
          title: gid
          type: string
        uid:
          description: uid is an unique identifier of the POSIX account corresponding
            to the user account.
          format: int64
          title: uid
          type: string
      title: AgentTaskUserAccount
      type: object
    AgentTimingInfo:
      description: VM timing information
      example:
        agentStartupTime: agentStartupTime
        bootTime: bootTime
        scriptStartupTime: scriptStartupTime
      properties:
        agentStartupTime:
          description: Agent startup time
          format: google-datetime
          title: agentStartupTime
          type: string
        bootTime:
          description: Boot timestamp of the VM OS
          format: google-datetime
          title: bootTime
          type: string
        scriptStartupTime:
          description: Startup time of the Batch VM script.
          format: google-datetime
          title: scriptStartupTime
          type: string
      title: AgentTimingInfo
      type: object
    AllocationPolicy:
      description: "A Job's resource allocation policy describes when, where, and\
        \ how compute resources should be allocated for the Job."
      example:
        instances:
        - instanceTemplate: instanceTemplate
          installGpuDrivers: true
          policy:
            disks:
            - existingDisk: existingDisk
              newDisk:
                image: image
                sizeGb: sizeGb
                type: type
                diskInterface: diskInterface
                snapshot: snapshot
              deviceName: deviceName
            - existingDisk: existingDisk
              newDisk:
                image: image
                sizeGb: sizeGb
                type: type
                diskInterface: diskInterface
                snapshot: snapshot
              deviceName: deviceName
            minCpuPlatform: minCpuPlatform
            provisioningModel: PROVISIONING_MODEL_UNSPECIFIED
            accelerators:
            - driverVersion: driverVersion
              count: count
              installGpuDrivers: true
              type: type
            - driverVersion: driverVersion
              count: count
              installGpuDrivers: true
              type: type
            reservation: reservation
            bootDisk:
              image: image
              sizeGb: sizeGb
              type: type
              diskInterface: diskInterface
              snapshot: snapshot
            machineType: machineType
        - instanceTemplate: instanceTemplate
          installGpuDrivers: true
          policy:
            disks:
            - existingDisk: existingDisk
              newDisk:
                image: image
                sizeGb: sizeGb
                type: type
                diskInterface: diskInterface
                snapshot: snapshot
              deviceName: deviceName
            - existingDisk: existingDisk
              newDisk:
                image: image
                sizeGb: sizeGb
                type: type
                diskInterface: diskInterface
                snapshot: snapshot
              deviceName: deviceName
            minCpuPlatform: minCpuPlatform
            provisioningModel: PROVISIONING_MODEL_UNSPECIFIED
            accelerators:
            - driverVersion: driverVersion
              count: count
              installGpuDrivers: true
              type: type
            - driverVersion: driverVersion
              count: count
              installGpuDrivers: true
              type: type
            reservation: reservation
            bootDisk:
              image: image
              sizeGb: sizeGb
              type: type
              diskInterface: diskInterface
              snapshot: snapshot
            machineType: machineType
        location:
          allowedLocations:
          - allowedLocations
          - allowedLocations
        serviceAccount:
          scopes:
          - scopes
          - scopes
          email: email
        placement:
          collocation: collocation
          maxDistance: maxDistance
        labels:
          key: labels
        network:
          networkInterfaces:
          - noExternalIpAddress: true
            subnetwork: subnetwork
            network: network
          - noExternalIpAddress: true
            subnetwork: subnetwork
            network: network
        tags:
        - tags
        - tags
      properties:
        instances:
          description: "Describe instances that can be created by this AllocationPolicy.\
            \ Only instances[0] is supported now."
          items:
            $ref: '#/components/schemas/InstancePolicyOrTemplate'
          title: instances
          type: array
        labels:
          additionalProperties:
            type: string
          description: "Labels applied to all VM instances and other resources created\
            \ by AllocationPolicy. Labels could be user provided or system generated.\
            \ You can assign up to 64 labels. [Google Compute Engine label restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions)\
            \ apply. Label names that start with \"goog-\" or \"google-\" are reserved."
          title: labels
          type: object
        location:
          $ref: '#/components/schemas/LocationPolicy'
        network:
          $ref: '#/components/schemas/NetworkPolicy'
        placement:
          $ref: '#/components/schemas/PlacementPolicy'
        serviceAccount:
          $ref: '#/components/schemas/ServiceAccount'
        tags:
          description: "Optional. Tags applied to the VM instances. The tags identify\
            \ valid sources or targets for network firewalls. Each tag must be 1-63\
            \ characters long, and comply with [RFC1035](https://www.ietf.org/rfc/rfc1035.txt)."
          items:
            type: string
          title: tags
          type: array
      title: AllocationPolicy
      type: object
    AttachedDisk:
      description: A new or an existing persistent disk (PD) or a local ssd attached
        to a VM instance.
      example:
        existingDisk: existingDisk
        newDisk:
          image: image
          sizeGb: sizeGb
          type: type
          diskInterface: diskInterface
          snapshot: snapshot
        deviceName: deviceName
      properties:
        deviceName:
          description: "Device name that the guest operating system will see. It is\
            \ used by Runnable.volumes field to mount disks. So please specify the\
            \ device_name if you want Batch to help mount the disk, and it should\
            \ match the device_name field in volumes."
          title: deviceName
          type: string
        existingDisk:
          description: Name of an existing PD.
          title: existingDisk
          type: string
        newDisk:
          $ref: '#/components/schemas/Disk'
      title: AttachedDisk
      type: object
    Barrier:
      description: Barrier runnable blocks until all tasks in a taskgroup reach it.
      example:
        name: name
      properties:
        name:
          description: "Barriers are identified by their index in runnable list. Names\
            \ are not required, but if present should be an identifier."
          title: name
          type: string
      title: Barrier
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    CloudLoggingOption:
      description: '`CloudLoggingOption` contains additional settings for Cloud Logging
        logs generated by Batch job.'
      example:
        useGenericTaskMonitoredResource: true
      properties:
        useGenericTaskMonitoredResource:
          description: "Optional. Set this flag to true to change the [monitored resource\
            \ type](https://cloud.google.com/monitoring/api/resources) for Cloud Logging\
            \ logs generated by this Batch job from the [`batch.googleapis.com/Job`](https://cloud.google.com/monitoring/api/resources#tag_batch.googleapis.com/Job)\
            \ type to the formerly used [`generic_task`](https://cloud.google.com/monitoring/api/resources#tag_generic_task)\
            \ type."
          title: useGenericTaskMonitoredResource
          type: boolean
      title: CloudLoggingOption
      type: object
    ComputeResource:
      description: "Compute resource requirements. ComputeResource defines the amount\
        \ of resources required for each task. Make sure your tasks have enough resources\
        \ to successfully run. If you also define the types of resources for a job\
        \ to use with the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate)\
        \ field, make sure both fields are compatible with each other."
      example:
        bootDiskMib: bootDiskMib
        cpuMilli: cpuMilli
        memoryMib: memoryMib
      properties:
        bootDiskMib:
          description: Extra boot disk size in MiB for each task.
          format: int64
          title: bootDiskMib
          type: string
        cpuMilli:
          description: "The milliCPU count. `cpuMilli` defines the amount of CPU resources\
            \ per task in milliCPU units. For example, `1000` corresponds to 1 vCPU\
            \ per task. If undefined, the default value is `2000`. If you also define\
            \ the VM's machine type using the `machineType` in [InstancePolicy](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicy)\
            \ field or inside the `instanceTemplate` in the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate)\
            \ field, make sure the CPU resources for both fields are compatible with\
            \ each other and with how many tasks you want to allow to run on the same\
            \ VM at the same time. For example, if you specify the `n2-standard-2`\
            \ machine type, which has 2 vCPUs each, you are recommended to set `cpuMilli`\
            \ no more than `2000`, or you are recommended to run two tasks on the\
            \ same VM if you set `cpuMilli` to `1000` or less."
          format: int64
          title: cpuMilli
          type: string
        memoryMib:
          description: "Memory in MiB. `memoryMib` defines the amount of memory per\
            \ task in MiB units. If undefined, the default value is `2000`. If you\
            \ also define the VM's machine type using the `machineType` in [InstancePolicy](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicy)\
            \ field or inside the `instanceTemplate` in the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate)\
            \ field, make sure the memory resources for both fields are compatible\
            \ with each other and with how many tasks you want to allow to run on\
            \ the same VM at the same time. For example, if you specify the `n2-standard-2`\
            \ machine type, which has 8 GiB each, you are recommended to set `memoryMib`\
            \ to no more than `8192`, or you are recommended to run two tasks on the\
            \ same VM if you set `memoryMib` to `4096` or less."
          format: int64
          title: memoryMib
          type: string
      title: ComputeResource
      type: object
    Container:
      description: Container runnable.
      example:
        imageUri: imageUri
        password: password
        enableImageStreaming: true
        entrypoint: entrypoint
        options: options
        volumes:
        - volumes
        - volumes
        blockExternalNetwork: true
        commands:
        - commands
        - commands
        username: username
      properties:
        blockExternalNetwork:
          description: "If set to true, external network access to and from container\
            \ will be blocked, containers that are with block_external_network as\
            \ true can still communicate with each other, network cannot be specified\
            \ in the `container.options` field."
          title: blockExternalNetwork
          type: boolean
        commands:
          description: Overrides the `CMD` specified in the container. If there is
            an ENTRYPOINT (either in the container image or with the entrypoint field
            below) then commands are appended as arguments to the ENTRYPOINT.
          items:
            type: string
          title: commands
          type: array
        enableImageStreaming:
          description: "Optional. If set to true, this container runnable uses Image\
            \ streaming. Use Image streaming to allow the runnable to initialize without\
            \ waiting for the entire container image to download, which can significantly\
            \ reduce startup time for large container images. When `enableImageStreaming`\
            \ is set to true, the container runtime is [containerd](https://containerd.io/)\
            \ instead of Docker. Additionally, this container runnable only supports\
            \ the following `container` subfields: `imageUri`, `commands[]`, `entrypoint`,\
            \ and `volumes[]`; any other `container` subfields are ignored. For more\
            \ information about the requirements and limitations for using Image streaming\
            \ with Batch, see the [`image-streaming` sample on GitHub](https://github.com/GoogleCloudPlatform/batch-samples/tree/main/api-samples/image-streaming)."
          title: enableImageStreaming
          type: boolean
        entrypoint:
          description: Overrides the `ENTRYPOINT` specified in the container.
          title: entrypoint
          type: string
        imageUri:
          description: The URI to pull the container image from.
          title: imageUri
          type: string
        options:
          description: "Arbitrary additional options to include in the \"docker run\"\
            \ command when running this container, e.g. \"--network host\"."
          title: options
          type: string
        password:
          description: "Required if the container image is from a private Docker registry.\
            \ The password to login to the Docker registry that contains the image.\
            \ For security, it is strongly recommended to specify an encrypted password\
            \ by using a Secret Manager secret: `projects/*/secrets/*/versions/*`.\
            \ Warning: If you specify the password using plain text, you risk the\
            \ password being exposed to any users who can view the job or its logs.\
            \ To avoid this risk, specify a secret that contains the password instead.\
            \ Learn more about [Secret Manager](https://cloud.google.com/secret-manager/docs/)\
            \ and [using Secret Manager with Batch](https://cloud.google.com/batch/docs/create-run-job-secret-manager)."
          title: password
          type: string
        username:
          description: "Required if the container image is from a private Docker registry.\
            \ The username to login to the Docker registry that contains the image.\
            \ You can either specify the username directly by using plain text or\
            \ specify an encrypted username by using a Secret Manager secret: `projects/*/secrets/*/versions/*`.\
            \ However, using a secret is recommended for enhanced security. Caution:\
            \ If you specify the username using plain text, you risk the username\
            \ being exposed to any users who can view the job or its logs. To avoid\
            \ this risk, specify a secret that contains the username instead. Learn\
            \ more about [Secret Manager](https://cloud.google.com/secret-manager/docs/)\
            \ and [using Secret Manager with Batch](https://cloud.google.com/batch/docs/create-run-job-secret-manager)."
          title: username
          type: string
        volumes:
          description: "Volumes to mount (bind mount) from the host machine files\
            \ or directories into the container, formatted to match docker run's --volume\
            \ option, e.g. /foo:/bar, or /foo:/bar:ro If the `TaskSpec.Volumes` field\
            \ is specified but this field is not, Batch will mount each volume from\
            \ the host machine to the container with the same mount path by default.\
            \ In this case, the default mount option for containers will be read-only\
            \ (ro) for existing persistent disks and read-write (rw) for other volume\
            \ types, regardless of the original mount options specified in `TaskSpec.Volumes`.\
            \ If you need different mount settings, you can explicitly configure them\
            \ in this field."
          items:
            type: string
          title: volumes
          type: array
      title: Container
      type: object
    Disk:
      description: A new persistent disk or a local ssd. A VM can only have one local
        SSD setting but multiple local SSD partitions. See https://cloud.google.com/compute/docs/disks#pdspecs
        and https://cloud.google.com/compute/docs/disks#localssds.
      example:
        image: image
        sizeGb: sizeGb
        type: type
        diskInterface: diskInterface
        snapshot: snapshot
      properties:
        diskInterface:
          description: "Local SSDs are available through both \"SCSI\" and \"NVMe\"\
            \ interfaces. If not indicated, \"NVMe\" will be the default one for local\
            \ ssds. This field is ignored for persistent disks as the interface is\
            \ chosen automatically. See https://cloud.google.com/compute/docs/disks/persistent-disks#choose_an_interface."
          title: diskInterface
          type: string
        image:
          description: "URL for a VM image to use as the data source for this disk.\
            \ For example, the following are all valid URLs: * Specify the image by\
            \ its family name: projects/{project}/global/images/family/{image_family}\
            \ * Specify the image version: projects/{project}/global/images/{image_version}\
            \ You can also use Batch customized image in short names. The following\
            \ image values are supported for a boot disk: * `batch-debian`: use Batch\
            \ Debian images. * `batch-centos`: use Batch CentOS images. * `batch-cos`:\
            \ use Batch Container-Optimized images. * `batch-hpc-centos`: use Batch\
            \ HPC CentOS images. * `batch-hpc-rocky`: use Batch HPC Rocky Linux images."
          title: image
          type: string
        sizeGb:
          description: "Disk size in GB. **Non-Boot Disk**: If the `type` specifies\
            \ a persistent disk, this field is ignored if `data_source` is set as\
            \ `image` or `snapshot`. If the `type` specifies a local SSD, this field\
            \ should be a multiple of 375 GB, otherwise, the final size will be the\
            \ next greater multiple of 375 GB. **Boot Disk**: Batch will calculate\
            \ the boot disk size based on source image and task requirements if you\
            \ do not speicify the size. If both this field and the `boot_disk_mib`\
            \ field in task spec's `compute_resource` are defined, Batch will only\
            \ honor this field. Also, this field should be no smaller than the source\
            \ disk's size when the `data_source` is set as `snapshot` or `image`.\
            \ For example, if you set an image as the `data_source` field and the\
            \ image's default disk size 30 GB, you can only use this field to make\
            \ the disk larger or equal to 30 GB."
          format: int64
          title: sizeGb
          type: string
        snapshot:
          description: Name of a snapshot used as the data source. Snapshot is not
            supported as boot disk now.
          title: snapshot
          type: string
        type:
          description: "Disk type as shown in `gcloud compute disk-types list`. For\
            \ example, local SSD uses type \"local-ssd\". Persistent disks and boot\
            \ disks use \"pd-balanced\", \"pd-extreme\", \"pd-ssd\" or \"pd-standard\"\
            ."
          title: type
          type: string
      title: Disk
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Environment:
      description: An Environment describes a collection of environment variables
        to set when executing Tasks.
      example:
        encryptedVariables:
          cipherText: cipherText
          keyName: keyName
        variables:
          key: variables
        secretVariables:
          key: secretVariables
      properties:
        encryptedVariables:
          $ref: '#/components/schemas/KMSEnvMap'
        secretVariables:
          additionalProperties:
            type: string
          description: A map of environment variable names to Secret Manager secret
            names. The VM will access the named secrets to set the value of each environment
            variable.
          title: secretVariables
          type: object
        variables:
          additionalProperties:
            type: string
          description: A map of environment variable names to values.
          title: variables
          type: object
      title: Environment
      type: object
    GCS:
      description: Represents a Google Cloud Storage volume.
      example:
        remotePath: remotePath
      properties:
        remotePath:
          description: "Remote path, either a bucket name or a subdirectory of a bucket,\
            \ e.g.: bucket_name, bucket_name/subdirectory/"
          title: remotePath
          type: string
      title: GCS
      type: object
    InstancePolicy:
      description: InstancePolicy describes an instance type and resources attached
        to each VM created by this InstancePolicy.
      example:
        disks:
        - existingDisk: existingDisk
          newDisk:
            image: image
            sizeGb: sizeGb
            type: type
            diskInterface: diskInterface
            snapshot: snapshot
          deviceName: deviceName
        - existingDisk: existingDisk
          newDisk:
            image: image
            sizeGb: sizeGb
            type: type
            diskInterface: diskInterface
            snapshot: snapshot
          deviceName: deviceName
        minCpuPlatform: minCpuPlatform
        provisioningModel: PROVISIONING_MODEL_UNSPECIFIED
        accelerators:
        - driverVersion: driverVersion
          count: count
          installGpuDrivers: true
          type: type
        - driverVersion: driverVersion
          count: count
          installGpuDrivers: true
          type: type
        reservation: reservation
        bootDisk:
          image: image
          sizeGb: sizeGb
          type: type
          diskInterface: diskInterface
          snapshot: snapshot
        machineType: machineType
      properties:
        accelerators:
          description: The accelerators attached to each VM instance.
          items:
            $ref: '#/components/schemas/Accelerator'
          title: accelerators
          type: array
        bootDisk:
          $ref: '#/components/schemas/Disk'
        disks:
          description: Non-boot disks to be attached for each VM created by this InstancePolicy.
            New disks will be deleted when the VM is deleted. A non-boot disk is a
            disk that can be of a device with a file system or a raw storage drive
            that is not ready for data storage and accessing.
          items:
            $ref: '#/components/schemas/AttachedDisk'
          title: disks
          type: array
        machineType:
          description: The Compute Engine machine type.
          title: machineType
          type: string
        minCpuPlatform:
          description: The minimum CPU platform. See https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform.
          title: minCpuPlatform
          type: string
        provisioningModel:
          description: The provisioning model.
          enum:
          - PROVISIONING_MODEL_UNSPECIFIED
          - STANDARD
          - SPOT
          - PREEMPTIBLE
          title: provisioningModel
          type: string
        reservation:
          description: "Optional. If specified, VMs will consume only the specified\
            \ reservation. If not specified (default), VMs will consume any applicable\
            \ reservation."
          title: reservation
          type: string
      title: InstancePolicy
      type: object
    InstancePolicyOrTemplate:
      description: "InstancePolicyOrTemplate lets you define the type of resources\
        \ to use for this job either with an InstancePolicy or an instance template.\
        \ If undefined, Batch picks the type of VM to use and doesn't include optional\
        \ VM resources such as GPUs and extra disks."
      example:
        instanceTemplate: instanceTemplate
        installGpuDrivers: true
        policy:
          disks:
          - existingDisk: existingDisk
            newDisk:
              image: image
              sizeGb: sizeGb
              type: type
              diskInterface: diskInterface
              snapshot: snapshot
            deviceName: deviceName
          - existingDisk: existingDisk
            newDisk:
              image: image
              sizeGb: sizeGb
              type: type
              diskInterface: diskInterface
              snapshot: snapshot
            deviceName: deviceName
          minCpuPlatform: minCpuPlatform
          provisioningModel: PROVISIONING_MODEL_UNSPECIFIED
          accelerators:
          - driverVersion: driverVersion
            count: count
            installGpuDrivers: true
            type: type
          - driverVersion: driverVersion
            count: count
            installGpuDrivers: true
            type: type
          reservation: reservation
          bootDisk:
            image: image
            sizeGb: sizeGb
            type: type
            diskInterface: diskInterface
            snapshot: snapshot
          machineType: machineType
      properties:
        installGpuDrivers:
          description: "Set this field true if users want Batch to help fetch drivers\
            \ from a third party location and install them for GPUs specified in policy.accelerators\
            \ or instance_template on their behalf. Default is false. For Container-Optimized\
            \ Image cases, Batch will install the accelerator driver following milestones\
            \ of https://cloud.google.com/container-optimized-os/docs/release-notes.\
            \ For non Container-Optimized Image cases, following https://github.com/GoogleCloudPlatform/compute-gpu-installation/blob/main/linux/install_gpu_driver.py."
          title: installGpuDrivers
          type: boolean
        instanceTemplate:
          description: Name of an instance template used to create VMs. Named the
            field as 'instance_template' instead of 'template' to avoid c++ keyword
            conflict.
          title: instanceTemplate
          type: string
        policy:
          $ref: '#/components/schemas/InstancePolicy'
      title: InstancePolicyOrTemplate
      type: object
    InstanceStatus:
      description: VM instance status.
      example:
        provisioningModel: PROVISIONING_MODEL_UNSPECIFIED
        taskPack: taskPack
        bootDisk:
          image: image
          sizeGb: sizeGb
          type: type
          diskInterface: diskInterface
          snapshot: snapshot
        machineType: machineType
      properties:
        bootDisk:
          $ref: '#/components/schemas/Disk'
        machineType:
          description: The Compute Engine machine type.
          title: machineType
          type: string
        provisioningModel:
          description: The VM instance provisioning model.
          enum:
          - PROVISIONING_MODEL_UNSPECIFIED
          - STANDARD
          - SPOT
          - PREEMPTIBLE
          title: provisioningModel
          type: string
        taskPack:
          description: The max number of tasks can be assigned to this instance type.
          format: int64
          title: taskPack
          type: string
      title: InstanceStatus
      type: object
    Job:
      description: The Cloud Batch Job description.
      example:
        logsPolicy:
          cloudLoggingOption:
            useGenericTaskMonitoredResource: true
          logsPath: logsPath
          destination: DESTINATION_UNSPECIFIED
        uid: uid
        taskGroups:
        - requireHostsFile: true
          taskCount: taskCount
          taskCountPerNode: taskCountPerNode
          taskEnvironments:
          - encryptedVariables:
              cipherText: cipherText
              keyName: keyName
            variables:
              key: variables
            secretVariables:
              key: secretVariables
          - encryptedVariables:
              cipherText: cipherText
              keyName: keyName
            variables:
              key: variables
            secretVariables:
              key: secretVariables
          parallelism: parallelism
          name: name
          taskSpec:
            environment:
              encryptedVariables:
                cipherText: cipherText
                keyName: keyName
              variables:
                key: variables
              secretVariables:
                key: secretVariables
            environments:
              key: environments
            lifecyclePolicies:
            - actionCondition:
                exitCodes:
                - 6
                - 6
              action: ACTION_UNSPECIFIED
            - actionCondition:
                exitCodes:
                - 6
                - 6
              action: ACTION_UNSPECIFIED
            volumes:
            - mountPath: mountPath
              gcs:
                remotePath: remotePath
              mountOptions:
              - mountOptions
              - mountOptions
              nfs:
                server: server
                remotePath: remotePath
              deviceName: deviceName
            - mountPath: mountPath
              gcs:
                remotePath: remotePath
              mountOptions:
              - mountOptions
              - mountOptions
              nfs:
                server: server
                remotePath: remotePath
              deviceName: deviceName
            maxRunDuration: maxRunDuration
            maxRetryCount: 1
            computeResource:
              bootDiskMib: bootDiskMib
              cpuMilli: cpuMilli
              memoryMib: memoryMib
            runnables:
            - container:
                imageUri: imageUri
                password: password
                enableImageStreaming: true
                entrypoint: entrypoint
                options: options
                volumes:
                - volumes
                - volumes
                blockExternalNetwork: true
                commands:
                - commands
                - commands
                username: username
              environment:
                encryptedVariables:
                  cipherText: cipherText
                  keyName: keyName
                variables:
                  key: variables
                secretVariables:
                  key: secretVariables
              barrier:
                name: name
              background: true
              displayName: displayName
              alwaysRun: true
              ignoreExitStatus: true
              script:
                path: path
                text: text
              timeout: timeout
[...]
