openapi: 3.0.1
info:
  description: Use this REST API to get all the issues across an Azure Api Management
    service.
  title: ApiManagementClient
  version: 2019-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimissues.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: apimanagement-apimissues
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/issues
  : get:
      description: Lists a collection of issues in the specified service instance.
      operationId: issue_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "|   Field     |     Usage     |     Supported operators    \
          \ |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|\
          \ name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| apiId | filter | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith | </br>| title | filter | ge, le, eq, ne,\
          \ gt, lt | substringof, contains, startswith, endswith | </br>| description\
          \ | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| authorName | filter | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith | </br>| state | filter | eq |     | </br>"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue_ListByService_200_response'
          description: Lists a collection of Issue entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Issue
      x-ms-examples:
        ApiManagementListIssues:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/issues/57d2ef278aa04f0ad01d6cdc
                  name: 57d2ef278aa04f0ad01d6cdc
                  properties:
                    apiId: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a
                    createdDate: 2018-02-01T22:21:20.467Z
                    description: New API issue description
                    state: open
                    title: New API issue
                    userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                  type: Microsoft.ApiManagement/service/issues
      x-ms-odata: ./definitions.json#/definitions/IssueContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.issue_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/issues/{issueId}
  : get:
      description: Gets API Management issue details
      operationId: issue_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Issue identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: issueId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue_Get_200_response'
          description: Get the details of the issue.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Issue
      x-ms-examples:
        ApiManagementGetIssue:
          parameters:
            api-version: 2019-12-01-preview
            issueId: 57d2ef278aa04f0ad01d6cdc
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/issues/57d2ef278aa04f0ad01d6cdc
                name: 57d2ef278aa04f0ad01d6cdc
                properties:
                  apiId: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a
                  createdDate: 2018-02-01T22:21:20.467Z
                  description: New API issue description
                  state: open
                  title: New API issue
                  userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                type: Microsoft.ApiManagement/service/issues
      x-openapi-router-controller: openapi_server.controllers.issue_controller
components:
  schemas:
    Issue_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Issue_ListByService_default_response_error_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: Issue_ListByService_default_response_error
      type: object
    Issue_ListByService_200_response_value_inner:
      description: Issue Contract details.
      example:
        properties:
          description: description
          title: title
          userId: userId
      properties:
        properties:
          $ref: '#/components/schemas/Issue_ListByService_200_response_value_inner_properties'
      title: Issue_ListByService_200_response_value_inner
      type: object
    Issue_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Issue_ListByService_default_response_error'
      title: Issue_ListByService_default_response
      type: object
    Issue_ListByService_200_response_value_inner_properties:
      description: Issue contract Properties.
      example:
        description: description
        title: title
        userId: userId
      properties:
        description:
          description: Text describing the issue.
          title: description
          type: string
        title:
          description: The issue title.
          title: title
          type: string
        userId:
          description: A resource identifier for the user created the issue.
          title: userId
          type: string
      required:
      - description
      - title
      - userId
      title: Issue_ListByService_200_response_value_inner_properties
      type: object
    Issue_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: Issue_ListByService_default_response_error_details_inner
      type: object
    Issue_Get_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Issue Contract details.
      example:
        properties:
          description: description
          title: title
          userId: userId
      properties:
        properties:
          $ref: '#/components/schemas/Issue_ListByService_200_response_value_inner_properties'
      title: Issue_Get_200_response
    Issue_ListByService_200_response:
      description: Paged Issue list representation.
      example:
        value:
        - properties:
            description: description
            title: title
            userId: userId
        - properties:
            description: description
            title: title
            userId: userId
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Issue values.
          items:
            $ref: '#/components/schemas/Issue_ListByService_200_response_value_inner'
          readOnly: true
          title: value
          type: array
      title: Issue_ListByService_200_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
