openapi: 3.0.1
info:
  contact:
    name: API Support
    url: https://www.sheerseo.com/seo-monitoring-tools/support.html
  description: "Sheerseo API has 2 stages:<br>First stage - initiating the task: You\
    \ fill in your task and receive in return the task id. <br>Second stage - collecting\
    \ the results: send a request containing the task ids you got at the first stage\
    \ and collecting the results."
  title: SheerSEO API
  version: 0.0.1
  x-apisguru-categories:
  - hosting
  x-logo:
    url: https://twitter.com/sheerseo/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://www.sheerseo.com/api/swagger.yaml
    version: "2.0"
  x-providerName: sheerseo.com
servers:
- url: https://www.sheerseo.com/seo/api
paths:
  /rank-collect:
    post:
      description: Submit serp jobs
      operationId: rank_collect
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CollectRequest'
        description: The body of the reqest to collect SERPs
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/rankCollectResponse'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Overload
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /rank-submit:
    post:
      description: Submit rank jobs
      operationId: rank_submit
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/rankSubmitRequest'
        description: The body of the reqest to submit SERPs
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/rankSubmitResponse'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Overload
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
    x-swagger-router-controller: hello_world
  /serp-collect:
    post:
      description: Submit serp jobs
      operationId: serp_collect
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CollectRequest'
        description: The body of the reqest to collect SERPs
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/serpCollectResponse'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Overload
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /serp-submit:
    post:
      description: Submit serp jobs
      operationId: serp_submit
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/serpSubmitRequest'
        description: The body of the reqest to submit SERPs
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/serpSubmitResponse'
          description: Success
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Overload
      security:
      - ApiKeyAuth: []
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
    x-swagger-router-controller: hello_world
  /swagger:
    x-swagger-pipe: swagger_raw
components:
  schemas:
    CollectRequest:
      example:
        task_ids:
        - 16b088653a6x782501
        - 16b088653a6x782501
        - 16b088653a6x782501
        - 16b088653a6x782501
        - 16b088653a6x782501
      properties:
        task_ids:
          description: Receiving the request results through thier task id's
          items:
            example: 16b088653a6x782501
            type: string
          maxItems: 10
          minItems: 1
          title: task_ids
          type: array
      required:
      - task_ids
      title: CollectRequest
      type: object
    ErrorResponse:
      example:
        error_message: error_message
      properties:
        error_message:
          description: explanation of what was wrong
          title: error_message
          type: string
      required:
      - error_message
      title: ErrorResponse
      type: object
    KeywordJobRank:
      properties:
        domain:
          description: The domain you want to check its rank for the keyword entered
          example: www.sheerseo.com
          title: domain
          type: string
        keyword:
          description: keyword (search term)
          example: seo software
          title: keyword
          type: string
        localization_code:
          description: "A code for the localization, which is a combination of country\
            \ and language"
          enum:
          - us
          - uk
          - au
          - br
          - be_dutch
          - be_french
          - ca
          - de
          - es
          - ie
          - il
          - nl
          - sg
          - za
          - it
          - is
          - ch
          - fr
          - se
          - at
          - dk
          - nz
          - gr
          - in
          - ms
          - pl
          - hk
          - id
          - ru
          - ae
          - fi
          - pt
          - mx
          - tr
          - cl
          - jp
          - ar
          example: us
          title: localization_code
          type: string
        localization_zip:
          description: option to localize the results per zip code
          example: "90210"
          title: localization_zip
          type: string
        search_engine:
          default: google
          description: google/bing/google_mobile
          enum:
          - google
          - bing
          - google_mobile
          example: google
          title: search_engine
          type: string
      required:
      - keyword
      - localization_code
      title: KeywordJobRank
      type: object
    KeywordJobSerp:
      properties:
        keyword:
          description: keyword (search term)
          example: seo software
          title: keyword
          type: string
        localization_code:
          description: "A code for the localization, which is a combination of country\
            \ and language"
          enum:
          - us
          - uk
          - au
          - br
          - be_dutch
          - be_french
          - ca
          - de
          - es
          - ie
          - il
          - nl
          - sg
          - za
          - it
          - is
          - ch
          - fr
          - se
          - at
          - dk
          - nz
          - gr
          - in
          - ms
          - pl
          - hk
          - id
          - ru
          - ae
          - fi
          - pt
          - mx
          - tr
          - cl
          - jp
          - ar
          example: us
          title: localization_code
          type: string
        localization_zip:
          description: option to localize the results per zip code
          example: "90210"
          title: localization_zip
          type: string
        search_engine:
          default: google
          description: google/bing/google_mobile
          enum:
          - google
          - bing
          - google_mobile
          example: google
          title: search_engine
          type: string
      required:
      - keyword
      - localization_code
      title: KeywordJobSerp
      type: object
    KeywordTask:
      example:
        localization_code: us
        localization_zip: "90210"
        task_id: 16ad9957b23x140753
        keyword: seo software
        search_engine: google
        status: ok
      properties:
        keyword:
          description: keyword (search term)
          example: seo software
          title: keyword
          type: string
        localization_code:
          description: "A code for the localization, which is a combination of country\
            \ and language"
          enum:
          - us
          - uk
          - au
          - br
          - be_dutch
          - be_french
          - ca
          - de
          - es
          - ie
          - il
          - nl
          - sg
          - za
          - it
          - is
          - ch
          - fr
          - se
          - at
          - dk
          - nz
          - gr
          - in
          - ms
          - pl
          - hk
          - id
          - ru
          - ae
          - fi
          - pt
          - mx
          - tr
          - cl
          - jp
          - ar
          example: us
          title: localization_code
          type: string
        localization_zip:
          description: option to localize the results per zip code
          example: "90210"
          title: localization_zip
          type: string
        search_engine:
          description: google/bing/google_mobile
          enum:
          - google
          - bing
          - google_mobile
          example: google
          title: search_engine
          type: string
        status:
          description: status of this task request. "ok" means we're working on collecting
            it. "invalid" means there was an error and it won't be collected
          enum:
          - ok
          - invalid
          example: ok
          title: status
          type: string
        task_id:
          description: the assigned task id for this task. Should be used later in
            the serp-collect request
          example: 16ad9957b23x140753
          title: task_id
          type: string
      required:
      - keyword
      - localization_code
      title: KeywordTask
      type: object
    rankCollectResponse:
      example:
        tasks:
        - task_id:
            error_message: ""
            localization_code: us
            localization_zip: ""
            ready: "true"
            rank: 1
            local_pack_rank: 1
            keyword: seo software
            search_engine: google
            status: ok
        - task_id:
            error_message: ""
            localization_code: us
            localization_zip: ""
            ready: "true"
            rank: 1
            local_pack_rank: 1
            keyword: seo software
            search_engine: google
            status: ok
      properties:
        tasks:
          items:
            $ref: '#/components/schemas/rankCollectResponse_tasks_inner'
          title: tasks
          type: array
      title: Response for rank-collect request
      type: object
    rankSubmitRequest:
      properties:
        priority:
          description: The priority for the keyword jobs submitted. High priority
            costs double credits. Default value is low.
          enum:
          - low
          - high
          example: high
          title: priority
          type: string
        tasks:
          description: The keyword RANK jobs. Maximum 1000 jobs per a single request.
          items:
            $ref: '#/components/schemas/KeywordJobRank'
          title: tasks
          type: array
      required:
      - tasks
      title: rankSubmitRequest
      type: object
    rankSubmitResponse:
      description: Describes the result of uploading an image resource
      example:
        error_message: error_message
        response_code: 200
        tasks:
        - localization_code: us
          localization_zip: "90210"
          task_id: 16ad9957b23x140753
          keyword: seo software
          search_engine: google
          status: ok
        - localization_code: us
          localization_zip: "90210"
          task_id: 16ad9957b23x140753
          keyword: seo software
          search_engine: google
          status: ok
      properties:
        error_message:
          title: error_message
          type: string
        response_code:
          description: The request response_code.
          example: 200
          title: response_code
          type: integer
        tasks:
          items:
            $ref: '#/components/schemas/KeywordTask'
          title: tasks
          type: array
      required:
      - response_code
      title: Response for rank-submit request
      type: object
    serpCollectResponse:
      description: Describes the result of uploading an image resource
      example:
        tasks:
        - task_id:
            error_message: ""
            localization_code: us
            localization_zip: ""
            organic_results:
            - rank: "1"
              url: www.sheerseo.com
            - rank: "1"
              url: www.sheerseo.com
            ready: "true"
            keyword: seo software
            num_results: 100
            search_engine: google
            status: ok
        - task_id:
            error_message: ""
            localization_code: us
            localization_zip: ""
            organic_results:
            - rank: "1"
              url: www.sheerseo.com
            - rank: "1"
              url: www.sheerseo.com
            ready: "true"
            keyword: seo software
            num_results: 100
            search_engine: google
            status: ok
      properties:
        tasks:
          items:
            $ref: '#/components/schemas/serpCollectResponse_tasks_inner'
          title: tasks
          type: array
      title: Response for serp-collect request
      type: object
    serpSubmitRequest:
      properties:
        priority:
          description: The priority for the keyword jobs submitted. High priority
            costs double credits. Default value is low.
          enum:
          - low
          - high
          example: high
          title: priority
          type: string
        tasks:
          description: The keyword SERP jobs. Maximum 1000 jobs per a single request.
          items:
            $ref: '#/components/schemas/KeywordJobSerp'
          title: tasks
          type: array
      required:
      - tasks
      title: serpSubmitRequest
      type: object
    serpSubmitResponse:
      description: Describes the result of uploading an image resource
      example:
        error_message: error_message
        response_code: 200
        tasks:
        - localization_code: us
          localization_zip: "90210"
          task_id: 16ad9957b23x140753
          keyword: seo software
          search_engine: google
          status: ok
        - localization_code: us
          localization_zip: "90210"
          task_id: 16ad9957b23x140753
          keyword: seo software
          search_engine: google
          status: ok
      properties:
        error_message:
          title: error_message
          type: string
        response_code:
          description: The request response_code.
          example: 200
          title: response_code
          type: integer
        tasks:
          items:
            $ref: '#/components/schemas/KeywordTask'
          title: tasks
          type: array
      required:
      - response_code
      title: Response for serp-submit request
      type: object
    rankCollectResponse_tasks_inner_task_id:
      description: the id of the task you want to look for
      example:
        error_message: ""
        localization_code: us
        localization_zip: ""
        ready: "true"
        rank: 1
        local_pack_rank: 1
        keyword: seo software
        search_engine: google
        status: ok
      properties:
        error_message:
          description: error message in case task status is invalid
          example: ""
          title: error_message
          type: string
        keyword:
          description: keyword (search term)
          example: seo software
          title: keyword
          type: string
        local_pack_rank:
          description: "relevent only to google: show the local pack rank of the domain\
            \ in case exist"
          example: 1
          title: local_pack_rank
          type: integer
        localization_code:
          description: "A code for the localization, which is a combination of country\
            \ and language"
          enum:
          - us
          - uk
          - au
          - br
          - be_dutch
          - be_french
          - ca
          - de
          - es
          - ie
          - il
          - nl
          - sg
          - za
          - it
          - is
          - ch
          - fr
          - se
          - at
          - dk
          - nz
          - gr
          - in
          - ms
          - pl
          - hk
          - id
          - ru
          - ae
          - fi
          - pt
          - mx
          - tr
          - cl
          - jp
          - ar
          example: us
          title: localization_code
          type: string
        localization_zip:
          description: option to localize the results per zip code
          example: ""
          title: localization_zip
          type: string
        rank:
          description: the exact rank of the domain in the search engine asked
          example: 1
          title: rank
          type: integer
        ready:
          description: task ready indicator
          enum:
          - "true"
          - "false"
          example: "true"
          title: ready
          type: string
        search_engine:
          description: google/bing/google_mobile
          enum:
          - google
          - bing
          - google_mobile
          example: google
          title: search_engine
          type: string
        status:
          description: task status in terms of success
          enum:
          - ok
          - invalid
          example: ok
          title: status
          type: string
      title: rankCollectResponse_tasks_inner_task_id
      type: object
    rankCollectResponse_tasks_inner:
      example:
        task_id:
          error_message: ""
          localization_code: us
          localization_zip: ""
          ready: "true"
          rank: 1
          local_pack_rank: 1
          keyword: seo software
          search_engine: google
          status: ok
      properties:
        task_id:
          $ref: '#/components/schemas/rankCollectResponse_tasks_inner_task_id'
      title: rankCollectResponse_tasks_inner
      type: object
    serpCollectResponse_tasks_inner_task_id_organic_results_inner:
      example:
        rank: "1"
        url: www.sheerseo.com
      properties:
        rank:
          description: the url ranking number
          example: "1"
          title: rank
          type: string
        url:
          example: www.sheerseo.com
          title: url
          type: string
      title: serpCollectResponse_tasks_inner_task_id_organic_results_inner
      type: object
    serpCollectResponse_tasks_inner_task_id:
      example:
        error_message: ""
        localization_code: us
        localization_zip: ""
        organic_results:
        - rank: "1"
          url: www.sheerseo.com
        - rank: "1"
          url: www.sheerseo.com
        ready: "true"
        keyword: seo software
        num_results: 100
        search_engine: google
        status: ok
      properties:
        error_message:
          description: error message in case task status is invalid
          example: ""
          title: error_message
          type: string
        keyword:
          description: keyword (search term)
          example: seo software
          title: keyword
          type: string
        localization_code:
          description: "A code for the localization, which is a combination of country\
            \ and language"
          enum:
          - us
          - uk
          - au
          - br
          - be_dutch
          - be_french
          - ca
          - de
          - es
          - ie
          - il
          - nl
          - sg
          - za
          - it
          - is
          - ch
          - fr
          - se
          - at
          - dk
          - nz
          - gr
          - in
          - ms
          - pl
          - hk
          - id
          - ru
          - ae
          - fi
          - pt
          - mx
          - tr
          - cl
          - jp
          - ar
          example: us
          title: localization_code
          type: string
        localization_zip:
          description: option to localize the results per zip code
          example: ""
          title: localization_zip
          type: string
        num_results:
          description: number of results found in SERP
          example: 100
          title: num_results
          type: integer
        organic_results:
          items:
            $ref: '#/components/schemas/serpCollectResponse_tasks_inner_task_id_organic_results_inner'
          title: organic_results
          type: array
        ready:
          description: task ready indicator
          enum:
          - "true"
          - "false"
          example: "true"
          title: ready
          type: string
        search_engine:
          example: google
          title: search_engine
          type: string
        status:
          description: task status in terms of success
          enum:
          - ok
          - invalid
          example: ok
          title: status
          type: string
      title: serpCollectResponse_tasks_inner_task_id
      type: object
    serpCollectResponse_tasks_inner:
      example:
        task_id:
          error_message: ""
          localization_code: us
          localization_zip: ""
          organic_results:
          - rank: "1"
            url: www.sheerseo.com
          - rank: "1"
            url: www.sheerseo.com
          ready: "true"
          keyword: seo software
          num_results: 100
          search_engine: google
          status: ok
      properties:
        task_id:
          $ref: '#/components/schemas/serpCollectResponse_tasks_inner_task_id'
      title: serpCollectResponse_tasks_inner
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: apiKey
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_ApiKeyAuth
x-original-swagger-version: "2.0"
