openapi: 3.0.1
info:
  contact:
    name: Auckland Museum API Team
    url: http://www.aucklandmuseum.com
  description: |
    This is technical documentation for the Auckland Museum API
  license:
    name: Auckland Museum licence
    url: http://www.aucklandmuseum.com
  termsOfService: http://api.aucklandmuseum.com/terms/
  title: Auckland Museum API
  version: 2.0.0
  x-apisguru-categories:
  - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://twitter.com/aucklandmuseum/profile_image?size=original
  x-origin:
  - format: swagger
    url: http://api.aucklandmuseum.com/apidoc
    version: "2.0"
  x-providerName: aucklandmuseum.com
servers:
- url: //api.aucklandmuseum.com/
tags:
- description: media - images and documents
  name: media
- description: information about subjects
  name: subject
- description: search for interesting data
  name: search
- description: sparql queries
  name: sparql
paths:
  /id/media/{path}:
    get:
      description: |
        Gets `media` at a given path
      operationId: get_media
      parameters:
      - description: |
          The media `identifier`
        in: path
        name: path
        required: true
        schema:
          type: string
      - description: |
          The desired media `rendering`

          Possible values:
          * `original.jpg`
          * `original.pdf`
          * `thumbnail.jpg` (fixed with 70px)
          * `standard.jpg` (fixed width 440px and height 440px)
          * `preview.jpg` (fixed height 100px)
        in: query
        name: rendering
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: |
            `media` found
        "404":
          content: {}
          description: |
            `media` not found
      summary: Retrieve media associated with Collections and Cenotaph subjects in
        Auckland Museum
      tags:
      - media
      x-openapi-router-controller: openapi_server.controllers.media_controller
  /id/{identifier}:
    get:
      description: |
        Gets information about a `subject` identified by the `identifier`.

        The response format depends upon the `Accept` header.
          - `text/html` - the default response type. Returned data can be easily viewed in any modern Internet Browser
          - `application/ld+json` - the response will be in [JSON-LD](http://json-ld.org/)
          - `application/json` - the response will be a simple JSON Object with keys (predicates) and values (objects).
      operationId: get_subject
      parameters:
      - description: |
          The identifier path of the `subject` you're looking for
        in: path
        name: identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: |
            `subject` found
        "404":
          content: {}
          description: |
            `subject` not found
      summary: Explore details about a given subject node
      tags:
      - subject
      x-openapi-router-controller: openapi_server.controllers.subject_controller
  /search/{index}/{operation}:
    get:
      description: |
        Use this endpoint to perform simple search queries for finding information and subjects you may be interested in

        Searches performed via this endpoint run against an [Elastic](www.elastic.co) server. This endpoint mirrors the Elastic search API documented [here](https://www.elastic.co/guide/en/elasticsearch/reference/1.5/search-search.html)

        Use the
          - `collectionsonline` index to perform searches over other all
        Collections data
          - `cenotaph` index to perform searches over Cenotaph data
      operationId: get_search
      parameters:
      - description: |
          search index name
          Possible values:
          * `collectionsonline`
          * `cenotaph`
        in: path
        name: index
        required: true
        schema:
          type: string
      - description: One of the supported elasticsearch operations like `_search`
          or `_suggest`
        in: path
        name: operation
        required: true
        schema:
          type: string
      - description: One of the supported elasticsearch query parameter values for
          key `q`
        in: query
        name: q
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: search results found
        "400":
          content: {}
          description: bad request
        "404":
          content: {}
          description: not found
      summary: Perform simple search queries over Auckland Museum Collections and
        Cenotaph data
      tags:
      - search
      x-openapi-router-controller: openapi_server.controllers.search_controller
    post:
      description: |
        Searches performed via this endpoint run against an [Elastic](www.elastic.co) server. This endpoint mirrors the Elastic search API documented [here](https://www.elastic.co/guide/en/elasticsearch/reference/1.5/search-search.html)

        Use the
          - `collectionsonline` index to perform searches over other all Collections data
          - `cenotaph` index to perform searches over Cenotaph data
      operationId: post_search
      parameters:
      - description: |
          search index name
          Possible values:
          * `collectionsonline`
          * `cenotaph`
        in: path
        name: index
        required: true
        schema:
          type: string
      - description: One of the supported elasticsearch operations like `_search`
          or `_suggest`
        in: path
        name: operation
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              format: application/json
              type: object
        description: body
        required: false
        x-body-name: body
      responses:
        "200":
          content: {}
          description: search results found
        "400":
          content: {}
          description: bad request
        "404":
          content: {}
          description: not found
      summary: Perform complex search queries over Auckland Museum Collections and
        Cenotaph data
      tags:
      - search
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.search_controller
  /sparql:
    get:
      description: "You can execute your [SPARQL](http://www.w3.org/TR/rdf-sparql-query/)\
        \ queries against this endpoint.\n\nThe sparql query should be provided as\
        \ the value of the request parameter `query`.\nSet the `Accept` header to\
        \ `application/sparql-results+xml` to get results in XML. Set it to `application/sparql-results+json`\
        \ to get results in JSON. \n\n**Note:** This endpoints supports [JSON-P](http://json-p.org/).\
        \ In order to get a JSON-P response, set the query parameter `callback` to\
        \ your preferred callback function name. The default function name is `callback()`.\
        \ When using JSON-P, there is no need to set the `Accept` header because the\
        \ response will always be in `application/javascript`.\n"
      operationId: get_sparql
      parameters:
      - description: sparql query
        in: query
        name: query
        required: true
        schema:
          type: string
      - description: "The [JSON-P](http://json-p.org/) callback parameter"
        in: query
        name: callback
        schema:
          default: callback
          type: string
      - description: Whether to get inferred results in the response
        in: query
        name: infer
        schema:
          default: true
          type: boolean
      responses:
        "200":
          content:
            application/sparql-results+json:
              schema:
                title: json
                type: object
            application/sparql-results+xml:
              schema:
                title: json
                type: object
            application/javascript:
              schema:
                title: json
                type: object
          description: success
      summary: Auckland Museum SPARQL endpoint
      tags:
      - sparql
      x-openapi-router-controller: openapi_server.controllers.sparql_controller
    post:
      description: "You can execute your [SPARQL](http://www.w3.org/TR/rdf-sparql-query/)\
        \ queries against this endpoint.\nThe sparql query should be provided as the\
        \ value of the request parameter `query`.\nSet the `Accept` header to `application/sparql-results+xml`\
        \ to get results in XML. Set it to `application/sparql-results+json` to get\
        \ results in JSON. \n"
      operationId: post_sparql
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/post_sparql_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content: {}
          description: success
      summary: Auckland Museum SPARQL endpoint
      tags:
      - sparql
      x-openapi-router-controller: openapi_server.controllers.sparql_controller
      x-codegen-request-body-name: body
components:
  schemas:
    post_sparql_request:
      properties:
        query:
          description: sparql query
          type: string
        infer:
          default: true
          description: Whether to get inferred results in the response
          type: boolean
      required:
      - query
      type: object
x-original-swagger-version: "2.0"
