openapi: 3.0.1
info:
  description: Icons for Everything
  title: The Noun Project
  version: 1.0.0
  x-apisguru-categories:
  - media
  x-logo:
    url: https://twitter.com/nounproject/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.11
    format: swagger
    url: http://api.thenounproject.com/config/api-doc
    version: "1.2"
  x-providerName: thenounproject.com
externalDocs:
  url: https://thenounproject.com/developers/
servers:
- url: http://api.thenounproject.com/
tags:
- description: Operations on collection endpoints
  name: collection
- description: Operations on collections endpoints
  name: collections
- description: Operations on icon endpoints
  name: icon
- description: Operations on icons endpoints
  name: icons
- description: Operations on oauth endpoints
  name: oauth
- description: Operations on user endpoints
  name: user
paths:
  /collection/{id}:
    get:
      description: Returns a single collection
      operationId: getCollectionById
      parameters:
      - description: Collection id
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get collection by id
      tags:
      - collection
      x-accepts:
      - application/json
  /collection/{id}/icons:
    get:
      description: Returns a list of icons associated with a collection
      operationId: getCollectionIconsById
      parameters:
      - description: Collection id
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: Maximum number of results
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Number of results to displace or skip over
        in: query
        name: offset
        schema:
          format: int32
          type: integer
      - description: Number of results of limit length to displace or skip over
        in: query
        name: page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get collection icons by id
      tags:
      - collection
      x-accepts:
      - application/json
  /collection/{slug}:
    get:
      description: Returns a single collection
      operationId: getCollectionBySlug
      parameters:
      - description: Collection slug
        in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get collection by slug
      tags:
      - collection
      x-accepts:
      - application/json
  /collection/{slug}/icons:
    get:
      description: Returns a list of icons associated with a collection
      operationId: getCollectionIconsBySlug
      parameters:
      - description: Collection slug
        in: path
        name: slug
        required: true
        schema:
          type: string
      - description: Maximum number of results
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Number of results to displace or skip over
        in: query
        name: offset
        schema:
          format: int32
          type: integer
      - description: Number of results of limit length to displace or skip over
        in: query
        name: page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get collection icons by slug
      tags:
      - collection
      x-accepts:
      - application/json
  /collections:
    get:
      description: Return's a list of all collections
      operationId: getAllCollections
      parameters:
      - description: Maximum number of results
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Number of results to displace or skip over
        in: query
        name: offset
        schema:
          format: int32
          type: integer
      - description: Number of results of limit length to displace or skip over
        in: query
        name: page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get all collections
      tags:
      - collections
      x-accepts:
      - application/json
  /icon/{id}:
    get:
      description: Returns a single icon
      operationId: getIconById
      parameters:
      - description: Icon id
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get icon by id
      tags:
      - icon
      x-accepts:
      - application/json
  /icon/{term}:
    get:
      description: Returns a single icon
      operationId: getIconByTerm
      parameters:
      - description: Icon term
        in: path
        name: term
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get icon by term
      tags:
      - icon
      x-accepts:
      - application/json
  /icons/recent_uploads:
    get:
      description: Returns list of most recently uploaded icons
      operationId: getRecentIcons
      parameters:
      - description: Maximum number of results
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Number of results to displace or skip over
        in: query
        name: offset
        schema:
          format: int32
          type: integer
      - description: Number of results of limit length to displace or skip over
        in: query
        name: page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get recent icons
      tags:
      - icons
      x-accepts:
      - application/json
  /icons/{term}:
    get:
      description: Returns a list of icons
      operationId: getIconsByTerm
      parameters:
      - description: Icon term
        in: path
        name: term
        required: true
        schema:
          type: string
      - description: Limit results to public domain icons only
        in: query
        name: limit_to_public_domain
        schema:
          format: int32
          type: integer
      - description: Maximum number of results
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Number of results to displace or skip over
        in: query
        name: offset
        schema:
          format: int32
          type: integer
      - description: Number of results of limit length to displace or skip over
        in: query
        name: page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get icons by term
      tags:
      - icons
      x-accepts:
      - application/json
  /oauth/usage:
    get:
      description: Returns current oauth usage and limits
      operationId: getApiQuotaStatus
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get api quota status
      tags:
      - oauth
      x-accepts:
      - application/json
  /user/{user_id}/collections:
    get:
      description: Returns a list of collections associated with a user
      operationId: getUserCollections
      parameters:
      - description: User id
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get user collections
      tags:
      - user
      x-accepts:
      - application/json
  /user/{user_id}/collections/{slug}:
    get:
      description: Returns a single collection associated with a user
      operationId: getUserCollection
      parameters:
      - description: User id
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
      - description: Collection slug
        in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get user collection
      tags:
      - user
      x-accepts:
      - application/json
  /user/{username}/uploads:
    get:
      description: Returns a list of uploads associated with a user
      operationId: getUserUploadsWithUser
      parameters:
      - description: Username
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: Maximum number of results
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Number of results to displace or skip over
        in: query
        name: offset
        schema:
          format: int32
          type: integer
      - description: Number of results of limit length to displace or skip over
        in: query
        name: page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get user uploads with user
      tags:
      - user
      x-accepts:
      - application/json
components:
  schemas: {}
x-hasEquivalentPaths: true
x-original-swagger-version: "2.0"

