openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on Certificate entity\
    \ in your Azure API Management deployment. Certificates can be used to setup mutual\
    \ authentication with your Backend in API Management. For more information refer\
    \ to [How to secure backend using Mutual Auth Certificate](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates)."
  title: ApiManagementClient
  version: 2017-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimcertificates.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimcertificates
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates
  : get:
      description: Lists a collection of all certificates in the specified service
        instance.
      operationId: certificate_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field          | Supported operators    | Supported functions                         |
          |----------------|------------------------|---------------------------------------------|
          | id             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | subject        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | thumbprint     | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | expirationDate | ge, le, eq, ne, gt, lt | N/A                                         |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
          description: Returns a collection of Certificate entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Certificates
      x-ms-examples:
        ApiManagementListCertificates:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/certificates/kjoshiarmtemplateCert1
                  name: templateCert1
                  properties:
                    expirationDate: 2017-04-23T17:03:41Z
                    subject: CN=mutual-authcert
                    thumbprint: EBA************************48594A6
                  type: Microsoft.ApiManagement/service/certificates
      x-ms-odata: '#/definitions/CertificateContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates/{certificateId}
  : delete:
      description: Deletes specific certificate.
      operationId: certificate_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the certificate entity. Must be unique in the current
          API Management service instance.
        in: path
        name: certificate_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the certificate to delete.
          A value of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The certificate was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Certificates
      x-ms-examples:
        ApiManagementDeleteCertificate:
          parameters:
            If-Match: '*'
            api-version: 2017-03-01
            certificateId: tempcert
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    get:
      description: Gets the details of the certificate specified by its identifier.
      operationId: certificate_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the certificate entity. Must be unique in the current
          API Management service instance.
        in: path
        name: certificateId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateContract'
          description: The response body contains the specified Certificate entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Certificates
      x-ms-examples:
        ApiManagementGetCertificate:
          parameters:
            api-version: 2017-03-01
            certificateId: templateCert1
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/certificates/templateCert1
                name: templateCert1
                properties:
                  expirationDate: 2017-04-23T17:03:41Z
                  subject: CN=mutual-authcert
                  thumbprint: EBA**********************8594A6
                type: Microsoft.ApiManagement/service/certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    head:
      description: Gets the entity state (Etag) version of the certificate specified
        by its identifier.
      operationId: certificate_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the certificate entity. Must be unique in the current
          API Management service instance.
        in: path
        name: certificate_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified certificate entity exists and current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Certificates
      x-ms-examples:
        ApiManagementHeadCertificate:
          parameters:
            api-version: 2017-03-01
            certificateId: templateCert1
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    put:
      description: Creates or updates the certificate being used for authentication
        with the backend.
      externalDocs:
        description: How to secure back-end services using client certificate authentication
          in Azure API Management
        url: https://azure.microsoft.com/en-us/documentation/articles/api-management-howto-mutual-certificates/
      operationId: certificate_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the certificate entity. Must be unique in the current
          API Management service instance.
        in: path
        name: certificate_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the certificate to update.
          A value of "*" can be used for If-Match to unconditionally apply the operation..
        in: header
        name: If-Match
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateCreateOrUpdateParameters'
        description: Create or Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateContract'
          description: The certificate details were successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateContract'
          description: The new certificate was successfully added.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Certificates
      x-ms-examples:
        ApiManagementCreateCertificate:
          parameters:
            api-version: 2017-03-01
            certificateId: tempcert
            parameters:
              properties:
                data: '****************Base 64 Encoded Certificate *******************************'
                password: '****Certificate Password******'
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/certificates/tempcert
                name: tempcert
                properties:
                  expirationDate: 2018-03-17T21:55:07+00:00
                  subject: CN=contoso.com
                  thumbprint: '*******************3'
                type: Microsoft.ApiManagement/service/certificates
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/certificates/tempcert
                name: tempcert
                properties:
                  expirationDate: 2018-03-17T21:55:07+00:00
                  subject: CN=contoso.com
                  thumbprint: '*******************3'
                type: Microsoft.ApiManagement/service/certificates
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
components:
  parameters:
    CertificateIdParameter:
      description: Identifier of the certificate entity. Must be unique in the current
        API Management service instance.
      in: path
      name: certificateId
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    CertificateCollection:
      description: Paged Certificates list representation.
      example:
        value:
        - properties:
            subject: subject
            thumbprint: thumbprint
            expirationDate: 2000-01-23T04:56:07.000+00:00
        - properties:
            subject: subject
            thumbprint: thumbprint
            expirationDate: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/CertificateContract'
          title: value
          type: array
      title: CertificateCollection
      type: object
    CertificateContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Certificate details.
      example:
        properties:
          subject: subject
          thumbprint: thumbprint
          expirationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/CertificateContractProperties'
      title: CertificateContract
    CertificateContractProperties:
      description: Properties of the Certificate contract.
      example:
        subject: subject
        thumbprint: thumbprint
        expirationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        expirationDate:
          description: |
            Expiration date of the certificate. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: expirationDate
          type: string
        subject:
          description: Subject attribute of the certificate.
          title: subject
          type: string
        thumbprint:
          description: Thumbprint of the certificate.
          title: thumbprint
          type: string
      required:
      - expirationDate
      - subject
      - thumbprint
      title: CertificateContractProperties
      type: object
    CertificateCreateOrUpdateParameters:
      description: Certificate create or update details.
      example:
        properties:
          password: password
          data: data
      properties:
        properties:
          $ref: '#/components/schemas/CertificateCreateOrUpdateProperties'
      title: CertificateCreateOrUpdateParameters
      type: object
    CertificateCreateOrUpdateProperties:
      description: Parameters supplied to the CreateOrUpdate certificate operation.
      example:
        password: password
        data: data
      properties:
        data:
          description: Base 64 encoded certificate using the application/x-pkcs12
            representation.
          title: data
          type: string
        password:
          description: Password for the Certificate
          title: password
          type: string
      required:
      - data
      - password
      title: CertificateCreateOrUpdateProperties
      type: object
    Certificate_ListByService_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: Certificate_ListByService_default_response_details_inner
      type: object
    Certificate_ListByService_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Certificate_ListByService_default_response_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: Certificate_ListByService_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
