openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/dscNode.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: automation-dscNode
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation
  : get:
      description: Retrieve the automation agent registration information.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/agentregistrationoperations
      operationId: agent_registration_information_get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationInformation_Get_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - AgentRegistrationInformation
      x-ms-examples:
        Get Agent Registration Information:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                dscMetaConfiguration: "\r\n\tinstance of MSFT_WebDownloadManager as\
                  \ $MSFT_WebDownloadManager1ref\r\n\t{\r\n\tResourceID = \"[ConfigurationRepositoryWeb]AzureAutomationDSC\"\
                  ;\r\n\t SourceInfo = \"C:\\\\OaaS-RegistrationMetaConfig2.ps1::20::9::ConfigurationRepositoryWeb\"\
                  ;\r\n\t RegistrationKey = \"MDt********************************************************wEMg==\"\
                  ; \r\n\t ServerURL = \"https://wcus-agentservice-prod-1.azure-automation.net/accounts/ea8cd428-7887-4020-883d-ec6c5f2c06c2\"\
                  ;\r\n\t};\r\n\r\n\tinstance of MSFT_WebResourceManager as $MSFT_WebResourceManager1ref\r\
                  \n\t{\r\n\t SourceInfo = \"C:\\\\OaaS-RegistrationMetaConfig2.ps1::27::9::ResourceRepositoryWeb\"\
                  ;\r\n\t ServerURL = \"https://wcus-agentservice-prod-1.azure-automation.net/accounts/ea8cd428-7887-4020-883d-ec6c5f2c06c2\"\
                  ;\r\n\t ResourceID = \"[ResourceRepositoryWeb]AzureAutomationDSC\"\
                  ;\r\n\t RegistrationKey = \"MDt********************************************************wEMg==\"\
                  ; \r\n\t};\r\n\r\n\tinstance of MSFT_WebReportManager as $MSFT_WebReportManager1ref\r\
                  \n\t{\r\n\t SourceInfo = \"C:\\\\OaaS-RegistrationMetaConfig2.ps1::34::9::ReportServerWeb\"\
                  ;\r\n\t ServerURL = \"https://wcus-agentservice-prod-1.azure-automation.net/accounts/ea8cd428-7887-4020-883d-ec6c5f2c06c2\"\
                  ;\r\n\t ResourceID = \"[ReportServerWeb]AzureAutomationDSC\";\r\n\
                  \t RegistrationKey = \"MDt********************************************************wEMg==\"\
                  ; \r\n\t};\r\n\r\n\tinstance of MSFT_DSCMetaConfiguration as $MSFT_DSCMetaConfiguration1ref\r\
                  \n\t{\r\n\t RefreshMode = \"Pull\";\r\n\t AllowModuleOverwrite =\
                  \ False;\r\n\t ActionAfterReboot = \"ContinueConfiguration\";\r\n\
                  \t RefreshFrequencyMins = 30;\r\n\t RebootNodeIfNeeded = False;\r\
                  \n\t ConfigurationModeFrequencyMins = 15;\r\n\t ConfigurationMode\
                  \ = \"ApplyAndMonitor\";\r\n\r\n\t  ResourceModuleManagers = {\r\
                  \n\t  $MSFT_WebResourceManager1ref  \r\n\t};\r\n\t  ReportManagers\
                  \ = {\r\n\t  $MSFT_WebReportManager1ref  \r\n\t };\r\n\t  ConfigurationDownloadManagers\
                  \ = {\r\n\t  $MSFT_WebDownloadManager1ref  \r\n\t };\r\n\t};\r\n\
                  \r\n\tinstance of OMI_ConfigurationDocument\r\n\t{\r\n\t Version=\"\
                  2.0.0\";\r\n\t MinimumCompatibleVersion = \"2.0.0\";\r\n\t CompatibleVersionAdditionalProperties=\
                  \ { \"MSFT_DSCMetaConfiguration:StatusRetentionTimeInDays\" };\r\
                  \n\t Author=\"azureautomation\";\r\n\t GenerationDate=\"04/17/2015\
                  \ 11:41:09\";\r\n\t GenerationHost=\"azureautomation-01\";\r\n\t\
                  \ Name=\"RegistrationMetaConfig\";\r\n\t};\r\n\t"
                endpoint: https://wcus-agentservice-prod-1.azure-automation.net/accounts/ea8cd428-7887-4020-883d-ec6c5f2c06c2
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/agentRegistrationInformation/https://wcus-agentservice-prod-1.azure-automation.net/accounts/ea8cd428-7887-4020-883d-ec6c5f2c06c2
                keys:
                  primary: MDt********************************************************wEMg==
                  secondary: UM4A********************************************************66pg==
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.agent_registration_information_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation/regenerateKey
  : post:
      description: Regenerate a primary or secondary agent registration key
      externalDocs:
        url: http://aka.ms/azureautomationsdk/agentregistrationoperations
      operationId: agent_registration_information_regenerate_key
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRegistrationRegenerateKeyParameter'
        description: The name of the agent registration key to be regenerated
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistration'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationInformation_Get_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - AgentRegistrationInformation
      x-ms-examples:
        Regenerate the Primary Agent Registration Key:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            parameters:
              keyName: primary
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                endpoint: https://wcus-agentservice-prod-1.azure-automation.net/accounts/ea8cd428-7887-4020-883d-ec6c5f2c06c2
                keys:
                  primary: DXW********************************************************ZqnQ==
                  secondary: UM4A********************************************************66pg==
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.agent_registration_information_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes
  : get:
      description: Retrieve a list of dsc nodes.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeoperations
      operationId: dsc_node_list_by_automation_account
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationInformation_Get_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscNode
      x-ms-examples:
        List DSC nodes by Automation Account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId
                  ip: 172.16.2.5;127.0.0.1;fe80::4c51:9518:aa3c:256a%5;::2000:0:0:0;::1;::2000:0:0:0;2001:0:9d38:78cf:106b:130a:53ef:fdfa;fe80::106b:1
                  lastSeen: 2017-03-28T23:16:30.3192468+00:00
                  name: DSCCOMP
                  nodeConfiguration:
                    name: SetupServer.localhost
                  nodeId: nodeId
                  registrationTime: 2017-03-28T20:19:24.7915026+00:00
                  status: Pending
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.dsc_node_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}
  : delete:
      description: Delete the dsc node identified by node id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeoperations
      operationId: dsc_node_delete
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The node id.
        in: path
        name: nodeId
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNode'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationInformation_Get_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscNode
      x-ms-examples:
        Delete a DSC Node:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount9
            nodeId: e1243a76-a9bd-432f-bde3-ad8f317ee786
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.dsc_node_controller
    get:
      description: Retrieve the dsc node identified by node id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeoperations
      operationId: dsc_node_get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The node id.
        in: path
        name: nodeId
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNode'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationInformation_Get_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscNode
      x-ms-examples:
        Get a node:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            nodeId: nodeId
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId
                ip: ip
                lastSeen: 2017-03-28T23:16:30.3192468+00:00
                name: DSCCOMP
                nodeConfiguration:
                  name: SetupServer.localhost
                nodeId: nodeId
                registrationTime: 2017-03-28T20:19:24.7915026+00:00
                status: Pending
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.dsc_node_controller
    patch:
      description: Update the dsc node.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeoperations
      operationId: dsc_node_update
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Parameters supplied to the update dsc node.
        in: path
        name: nodeId
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DscNodeUpdateParameters'
        description: Parameters supplied to the update dsc node.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNode'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationInformation_Get_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - DscNode
      x-ms-examples:
        Update a node:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            nodeId: nodeId
            parameters:
              nodeConfiguration:
                name: SetupServer.localhost
              nodeId: nodeId
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId
                ip: 172.16.2.5;127.0.0.1;fe80::4c51:9518:aa3c:256a%5;::2000:0:0:0;::1;::2000:0:0:0;2001:0:9d38:78cf:106b:130a:53ef:fdfa;fe80::106b:1
                lastSeen: 2017-03-28T23:16:30.3192468+00:00
                name: DSCCOMP
                nodeConfiguration:
                  name: SetupServer.localhost
                nodeId: nodeId
                registrationTime: 2017-03-28T20:19:24.7915026+00:00
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.dsc_node_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports
  : get:
      description: Retrieve the Dsc node report list by node id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodereportoperations
      operationId: node_reports_list_by_node
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The parameters supplied to the list operation.
        in: path
        name: nodeId
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeReportListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationInformation_Get_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - NodeReports
      x-ms-examples:
        List DSC reports by node id.:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            nodeId: nodeId
            reportId: 903a5ead-140c-11e7-a943-000d3a6140c9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T23:16:27.587+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T23:16:29.4440401+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 903a5ead-140c-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T23:16:27.587+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T23:16:27.015+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5eac-140c-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T23:16:28.3813034+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 903a5eac-140c-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T23:16:26.015+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T23:01:26.986+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/77c280c2-140a-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T23:01:28.216963+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 77c280c2-140a-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T23:01:25.986+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:46:28.668+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5382-1408-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:46:29.0439184+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 5f4f5382-1408-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:46:27.668+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:46:26.957+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5381-1408-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:46:27.9498533+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 5f4f5381-1408-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:46:25.957+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:31:26.941+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/46d97d6a-1406-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:31:27.6825492+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 46d97d6a-1406-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:31:25.941+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:17:10.163+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/48c8e301-1404-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:17:11.0040472+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 48c8e301-1404-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:17:10.163+00:00
                  status: Failed
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:17:09.897+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/2e63fdbc-1404-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:16:27.3128731+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 2e63fdbc-1404-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:16:25.897+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:01:27.899+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/15ee63e4-1402-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:01:26.6282252+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 15ee63e4-1402-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:01:25.899+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:46:39.511+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/0508f316-1400-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:46:40.577983+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 0508f316-1400-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:46:38.511+00:00
                  status: Failed
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:46:37.843+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/fd799a51-13ff-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:46:28.4660077+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: fd799a51-13ff-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:46:25.843+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:31:27.818+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/e504ae1b-13fd-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:31:28.1503168+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: e504ae1b-13fd-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:31:25.818+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:16:59.538+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed224-13fb-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:16:37.1768158+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: cd3ed224-13fb-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:16:35.538+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:16:34.956+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed223-13fb-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:16:29.2370664+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: cd3ed223-13fb-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:16:26.956+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:02:02.916+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/b6915efa-13f9-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:01:31.875597+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: b6915efa-13f9-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:01:29.916+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T20:46:44.626+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/a3560dca-13f7-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T20:46:39.749649+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: a3560dca-13f7-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T20:46:38.626+00:00
                  status: Failed
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T20:46:37.676+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/9b9bb016-13f7-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T20:46:27.2602881+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 9b9bb016-13f7-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T20:46:25.676+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T20:40:24.805+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/833bd89b-13f5-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T20:31:27.1356547+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 833bd89b-13f5-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T20:31:25.805+00:00
                  status: Compliant
                  type: Consistency
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.node_reports_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}
  : get:
      description: Retrieve the Dsc node report data by node id and report id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodereportoperations
      operationId: node_reports_get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Dsc node id.
        in: path
        name: nodeId
        required: true
        schema:
          type: string
      - description: The report id.
        in: path
        name: reportId
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DscNodeReport'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationInformation_Get_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - NodeReports
      x-ms-examples:
        'Get Dsc node report data by node id and report id. ':
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            nodeId: nodeId
            reportId: 903a5ead-140c-11e7-a943-000d3a6140c9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                configurationVersion: 2.0.0
                endTime: 2017-03-28T23:16:27.587+00:00
                errors: []
                hostName: DSCCOMP
                iPV4Addresses:
                - 172.16.2.5
                - 127.0.0.1
                iPV6Addresses:
                - fe80::4c51:9518:aa3c:256a%5
                - ::2000:0:0:0
                - ::1
                - ::2000:0:0:0
                - 2001:0:9d38:78cf:106b:130a:53ef:fdfa
                - fe80::106b:130a:53ef:fdfa%7
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9
                lastModifiedTime: 2017-03-28T23:16:29.4440401+00:00
                metaConfiguration:
                  actionAfterReboot: ContinueConfiguration
                  allowModuleOverwrite: false
                  certificateId: certId
                  configurationMode: ApplyAndMonitor
                  configurationModeFrequencyMins: 15
                  rebootNodeIfNeeded: false
                  refreshFrequencyMins: 30
                numberOfResources: 1
                rebootRequested: "False"
                refreshMode: Pull
                reportFormatVersion: "2.0"
                reportId: 903a5ead-140c-11e7-a943-000d3a6140c9
                resources:
                - dependsOn: []
                  durationInSeconds: 0.25
                  moduleName: PsDesiredStateConfiguration
                  moduleVersion: "1.1"
                  resourceId: "[WindowsFeature]IIS"
                  resourceName: WindowsFeature
                  sourceInfo: ::4::32::WindowsFeature
                  startDate: 2017-03-28T23:16:28.181+00:00
                  status: Compliant
                startTime: 2017-03-28T23:16:27.587+00:00
                status: Compliant
                type: Consistency
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.node_reports_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}/content
  : get:
      description: Retrieve the Dsc node reports by node id and report id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodereportoperations
      operationId: node_reports_get_content
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Dsc node id.
        in: path
        name: nodeId
        required: true
        schema:
          type: string
      - description: The report id.
        in: path
        name: reportId
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationInformation_Get_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - NodeReports
      x-ms-examples:
        List DSC reports by node id.:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            nodeId: nodeId
            reportId: 903a5ead-140c-11e7-a943-000d3a6140c9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T23:16:27.587+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T23:16:29.4440401+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 903a5ead-140c-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T23:16:27.587+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T23:16:27.015+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5eac-140c-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T23:16:28.3813034+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 903a5eac-140c-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T23:16:26.015+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T23:01:26.986+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/77c280c2-140a-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T23:01:28.216963+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 77c280c2-140a-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T23:01:25.986+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:46:28.668+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5382-1408-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:46:29.0439184+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 5f4f5382-1408-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:46:27.668+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:46:26.957+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5381-1408-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:46:27.9498533+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 5f4f5381-1408-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:46:25.957+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:31:26.941+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/46d97d6a-1406-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:31:27.6825492+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 46d97d6a-1406-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:31:25.941+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:17:10.163+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/48c8e301-1404-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:17:11.0040472+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 48c8e301-1404-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:17:10.163+00:00
                  status: Failed
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:17:09.897+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/2e63fdbc-1404-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:16:27.3128731+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 2e63fdbc-1404-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:16:25.897+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T22:01:27.899+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/15ee63e4-1402-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T22:01:26.6282252+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 15ee63e4-1402-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T22:01:25.899+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:46:39.511+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/0508f316-1400-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:46:40.577983+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 0508f316-1400-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:46:38.511+00:00
                  status: Failed
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:46:37.843+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/fd799a51-13ff-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:46:28.4660077+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: fd799a51-13ff-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:46:25.843+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:31:27.818+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/e504ae1b-13fd-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:31:28.1503168+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: e504ae1b-13fd-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:31:25.818+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:16:59.538+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed224-13fb-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:16:37.1768158+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: cd3ed224-13fb-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:16:35.538+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:16:34.956+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed223-13fb-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:16:29.2370664+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: cd3ed223-13fb-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:16:26.956+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T21:02:02.916+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/b6915efa-13f9-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T21:01:31.875597+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: b6915efa-13f9-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T21:01:29.916+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T20:46:44.626+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/a3560dca-13f7-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T20:46:39.749649+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: a3560dca-13f7-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T20:46:38.626+00:00
                  status: Failed
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T20:46:37.676+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/9b9bb016-13f7-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T20:46:27.2602881+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 9b9bb016-13f7-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T20:46:25.676+00:00
                  status: Compliant
                  type: Consistency
                - configurationVersion: 2.0.0
                  endTime: 2017-03-28T20:40:24.805+00:00
                  id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/833bd89b-13f5-11e7-a943-000d3a6140c9
                  lastModifiedTime: 2017-03-28T20:31:27.1356547+00:00
                  rebootRequested: "False"
                  refreshMode: Pull
                  reportFormatVersion: "2.0"
                  reportId: 833bd89b-13f5-11e7-a943-000d3a6140c9
                  startTime: 2017-03-28T20:31:25.805+00:00
                  status: Compliant
                  type: Consistency
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.node_reports_controller
components:
  schemas:
    AgentRegistration:
      description: Definition of the agent registration information type.
      example:
        endpoint: endpoint
        dscMetaConfiguration: dscMetaConfiguration
        keys:
          secondary: secondary
          primary: primary
        id: id
      properties:
        dscMetaConfiguration:
          description: Gets or sets the dsc meta configuration.
          title: dscMetaConfiguration
          type: string
        endpoint:
          description: Gets or sets the dsc server endpoint.
          title: endpoint
          type: string
        id:
          description: Gets or sets the id.
          title: id
          type: string
        keys:
          $ref: '#/components/schemas/AgentRegistrationKeys'
      title: AgentRegistration
      type: object
    AgentRegistrationKeys:
      description: Definition of the agent registration keys.
      example:
        secondary: secondary
        primary: primary
      properties:
        primary:
          description: Gets or sets the primary key.
          title: primary
          type: string
        secondary:
          description: Gets or sets the secondary key.
          title: secondary
          type: string
      title: AgentRegistrationKeys
      type: object
    AgentRegistrationRegenerateKeyParameter:
      description: The parameters supplied to the regenerate keys operation.
      example:
        keyName: primary
        name: name
        location: location
        tags:
          key: tags
      properties:
        keyName:
          description: Gets or sets the agent registration key name - primary or secondary.
          enum:
          - primary
          - secondary
          title: keyName
          type: string
          x-ms-enum:
            modelAsString: true
            name: AgentRegistrationKeyName
        location:
          description: Gets or sets the location of the resource.
          title: location
          type: string
        name:
          description: Gets or sets the name of the resource.
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
          title: tags
          type: object
      required:
      - keyName
      title: AgentRegistrationRegenerateKeyParameter
      type: object
    DscConfigurationAssociationProperty:
      description: The Dsc configuration property associated with the entity.
      properties:
        name:
          description: Gets or sets the name of the Dsc configuration.
          type: string
      type: object
    DscMetaConfiguration:
      description: Definition of the DSC Meta Configuration.
      example:
        configurationMode: configurationMode
        refreshFrequencyMins: 6
        actionAfterReboot: actionAfterReboot
        certificateId: certificateId
        configurationModeFrequencyMins: 0
        rebootNodeIfNeeded: true
        allowModuleOverwrite: true
      properties:
        actionAfterReboot:
          description: Gets or sets the ActionAfterReboot value of the meta configuration.
          title: actionAfterReboot
          type: string
        allowModuleOverwrite:
          description: Gets or sets the AllowModuleOverwrite value of the meta configuration.
          title: allowModuleOverwrite
          type: boolean
        certificateId:
          description: Gets or sets the CertificateId value of the meta configuration.
          title: certificateId
          type: string
        configurationMode:
          description: Gets or sets the ConfigurationMode value of the meta configuration.
          title: configurationMode
          type: string
        configurationModeFrequencyMins:
          description: Gets or sets the ConfigurationModeFrequencyMins value of the
            meta configuration.
          format: int32
          title: configurationModeFrequencyMins
          type: integer
        rebootNodeIfNeeded:
          description: Gets or sets the RebootNodeIfNeeded value of the meta configuration.
          title: rebootNodeIfNeeded
          type: boolean
        refreshFrequencyMins:
          description: Gets or sets the RefreshFrequencyMins value of the meta configuration.
          format: int32
          title: refreshFrequencyMins
          type: integer
      title: DscMetaConfiguration
      type: object
    DscNode:
      allOf:
      - allOf:
        - description: The core properties of ARM resources
          properties:
            id:
              description: Fully qualified resource Id for the resource
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Definition of the dsc node type.
      example:
        registrationTime: 2000-01-23T04:56:07.000+00:00
        accountId: accountId
        nodeConfiguration:
          name: name
        extensionHandler:
        - name: name
          version: version
        - name: name
          version: version
        lastSeen: 2000-01-23T04:56:07.000+00:00
        ip: ip
        etag: etag
        nodeId: nodeId
        status: status
      properties:
        accountId:
          description: Gets or sets the account id of the node.
          title: accountId
          type: string
        etag:
          description: Gets or sets the etag of the resource.
          title: etag
          type: string
        extensionHandler:
          description: Gets or sets the list of extensionHandler properties for a
            Node.
          items:
            $ref: '#/components/schemas/DscNodeExtensionHandlerAssociationProperty'
          title: extensionHandler
          type: array
        ip:
          description: Gets or sets the ip of the node.
          title: ip
          type: string
        lastSeen:
          description: Gets or sets the last seen time of the node.
          format: date-time
          nullable: false
          title: lastSeen
          type: string
        nodeConfiguration:
          $ref: '#/components/schemas/DscNodeConfigurationAssociationProperty'
        nodeId:
          description: Gets or sets the node id.
          title: nodeId
          type: string
        registrationTime:
          description: Gets or sets the registration time of the node.
          format: date-time
          nullable: false
          title: registrationTime
          type: string
        status:
          description: Gets or sets the status of the node.
          title: status
          type: string
      title: DscNode
    DscNodeConfigurationAssociationProperty:
      description: The dsc node configuration property associated with the entity.
      example:
        name: name
      properties:
        name:
          description: Gets or sets the name of the dsc node configuration.
          title: name
          type: string
      title: DscNodeConfigurationAssociationProperty
      type: object
    DscNodeExtensionHandlerAssociationProperty:
      description: The dsc extensionHandler property associated with the node
      example:
        name: name
        version: version
      properties:
        name:
          description: Gets or sets the name of the extension handler.
          title: name
          type: string
        version:
          description: Gets or sets the version of the extension handler.
          title: version
          type: string
      title: DscNodeExtensionHandlerAssociationProperty
      type: object
    DscNodeListResult:
      description: The response model for the list dsc nodes operation.
      example:
        value:
        - registrationTime: 2000-01-23T04:56:07.000+00:00
          accountId: accountId
          nodeConfiguration:
            name: name
          extensionHandler:
          - name: name
            version: version
          - name: name
            version: version
          lastSeen: 2000-01-23T04:56:07.000+00:00
          ip: ip
          etag: etag
          nodeId: nodeId
          status: status
        - registrationTime: 2000-01-23T04:56:07.000+00:00
          accountId: accountId
          nodeConfiguration:
            name: name
          extensionHandler:
          - name: name
            version: version
          - name: name
            version: version
          lastSeen: 2000-01-23T04:56:07.000+00:00
          ip: ip
          etag: etag
          nodeId: nodeId
          status: status
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the next link.
          title: nextLink
          type: string
        value:
          description: Gets or sets a list of dsc nodes.
          items:
            $ref: '#/components/schemas/DscNode'
          title: value
          type: array
      title: DscNodeListResult
      type: object
    DscNodeReport:
      description: Definition of the dsc node report type.
      example:
        hostName: hostName
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        reportFormatVersion: reportFormatVersion
        reportId: reportId
        resources:
        - resourceId: resourceId
          sourceInfo: sourceInfo
          dependsOn:
          - resourceId: resourceId
          - resourceId: resourceId
          durationInSeconds: 5.962133916683182
          moduleVersion: moduleVersion
          moduleName: moduleName
          resourceName: resourceName
          error: error
          startDate: 2000-01-23T04:56:07.000+00:00
          status: status
        - resourceId: resourceId
          sourceInfo: sourceInfo
          dependsOn:
          - resourceId: resourceId
          - resourceId: resourceId
          durationInSeconds: 5.962133916683182
          moduleVersion: moduleVersion
          moduleName: moduleName
          resourceName: resourceName
          error: error
          startDate: 2000-01-23T04:56:07.000+00:00
          status: status
        type: type
        rebootRequested: rebootRequested
        iPV4Addresses:
        - iPV4Addresses
        - iPV4Addresses
        configurationVersion: configurationVersion
        refreshMode: refreshMode
        numberOfResources: 1
        rawErrors: rawErrors
        metaConfiguration:
          configurationMode: configurationMode
          refreshFrequencyMins: 6
          actionAfterReboot: actionAfterReboot
          certificateId: certificateId
          configurationModeFrequencyMins: 0
          rebootNodeIfNeeded: true
          allowModuleOverwrite: true
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        id: id
        errors:
        - resourceId: resourceId
          errorSource: errorSource
          errorMessage: errorMessage
          errorCode: errorCode
          locale: locale
          errorDetails: errorDetails
        - resourceId: resourceId
          errorSource: errorSource
          errorMessage: errorMessage
          errorCode: errorCode
          locale: locale
          errorDetails: errorDetails
        iPV6Addresses:
        - iPV6Addresses
        - iPV6Addresses
        status: status
      properties:
        configurationVersion:
          description: Gets or sets the configurationVersion of the node report.
          title: configurationVersion
          type: string
        endTime:
          description: Gets or sets the end time of the node report.
          format: date-time
          nullable: true
          title: endTime
          type: string
        errors:
          description: Gets or sets the errors for the node report.
          items:
            $ref: '#/components/schemas/DscReportError'
          title: errors
          type: array
        hostName:
          description: Gets or sets the hostname of the node that sent the report.
          title: hostName
          type: string
        iPV4Addresses:
          description: Gets or sets the IPv4 address of the node that sent the report.
          items:
            type: string
          title: iPV4Addresses
          type: array
        iPV6Addresses:
          description: Gets or sets the IPv6 address of the node that sent the report.
          items:
            type: string
          title: iPV6Addresses
          type: array
        id:
          description: Gets or sets the id.
          title: id
          type: string
        lastModifiedTime:
          description: Gets or sets the lastModifiedTime of the node report.
          format: date-time
          nullable: false
          title: lastModifiedTime
          type: string
        metaConfiguration:
          $ref: '#/components/schemas/DscMetaConfiguration'
        numberOfResources:
          description: Gets or sets the number of resource in the node report.
          format: int32
          title: numberOfResources
          type: integer
        rawErrors:
          description: Gets or sets the unparsed errors for the node report.
          title: rawErrors
          type: string
        rebootRequested:
          description: Gets or sets the rebootRequested of the node report.
          title: rebootRequested
          type: string
        refreshMode:
          description: Gets or sets the refreshMode of the node report.
          title: refreshMode
          type: string
        reportFormatVersion:
          description: Gets or sets the reportFormatVersion of the node report.
          title: reportFormatVersion
          type: string
        reportId:
          description: Gets or sets the id of the node report.
          title: reportId
          type: string
        resources:
          description: Gets or sets the resource for the node report.
          items:
            $ref: '#/components/schemas/DscReportResource'
          title: resources
          type: array
        startTime:
          description: Gets or sets the start time of the node report.
          format: date-time
          nullable: true
          title: startTime
          type: string
        status:
          description: Gets or sets the status of the node report.
          title: status
          type: string
        type:
          description: Gets or sets the type of the node report.
          title: type
          type: string
      title: DscNodeReport
      type: object
    DscNodeReportListResult:
      description: The response model for the list dsc nodes operation.
      example:
        value:
        - hostName: hostName
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          reportFormatVersion: reportFormatVersion
          reportId: reportId
          resources:
          - resourceId: resourceId
            sourceInfo: sourceInfo
            dependsOn:
            - resourceId: resourceId
            - resourceId: resourceId
            durationInSeconds: 5.962133916683182
            moduleVersion: moduleVersion
            moduleName: moduleName
            resourceName: resourceName
            error: error
            startDate: 2000-01-23T04:56:07.000+00:00
            status: status
          - resourceId: resourceId
            sourceInfo: sourceInfo
            dependsOn:
            - resourceId: resourceId
            - resourceId: resourceId
            durationInSeconds: 5.962133916683182
            moduleVersion: moduleVersion
            moduleName: moduleName
            resourceName: resourceName
            error: error
            startDate: 2000-01-23T04:56:07.000+00:00
            status: status
          type: type
          rebootRequested: rebootRequested
          iPV4Addresses:
          - iPV4Addresses
          - iPV4Addresses
          configurationVersion: configurationVersion
          refreshMode: refreshMode
          numberOfResources: 1
          rawErrors: rawErrors
          metaConfiguration:
            configurationMode: configurationMode
            refreshFrequencyMins: 6
            actionAfterReboot: actionAfterReboot
            certificateId: certificateId
            configurationModeFrequencyMins: 0
            rebootNodeIfNeeded: true
            allowModuleOverwrite: true
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          id: id
          errors:
          - resourceId: resourceId
            errorSource: errorSource
            errorMessage: errorMessage
            errorCode: errorCode
            locale: locale
            errorDetails: errorDetails
          - resourceId: resourceId
            errorSource: errorSource
            errorMessage: errorMessage
            errorCode: errorCode
            locale: locale
            errorDetails: errorDetails
          iPV6Addresses:
          - iPV6Addresses
          - iPV6Addresses
          status: status
        - hostName: hostName
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          reportFormatVersion: reportFormatVersion
          reportId: reportId
          resources:
          - resourceId: resourceId
            sourceInfo: sourceInfo
            dependsOn:
            - resourceId: resourceId
            - resourceId: resourceId
            durationInSeconds: 5.962133916683182
            moduleVersion: moduleVersion
            moduleName: moduleName
            resourceName: resourceName
            error: error
            startDate: 2000-01-23T04:56:07.000+00:00
            status: status
          - resourceId: resourceId
            sourceInfo: sourceInfo
            dependsOn:
            - resourceId: resourceId
            - resourceId: resourceId
            durationInSeconds: 5.962133916683182
            moduleVersion: moduleVersion
            moduleName: moduleName
            resourceName: resourceName
            error: error
            startDate: 2000-01-23T04:56:07.000+00:00
            status: status
          type: type
          rebootRequested: rebootRequested
          iPV4Addresses:
          - iPV4Addresses
          - iPV4Addresses
          configurationVersion: configurationVersion
          refreshMode: refreshMode
          numberOfResources: 1
          rawErrors: rawErrors
          metaConfiguration:
            configurationMode: configurationMode
            refreshFrequencyMins: 6
            actionAfterReboot: actionAfterReboot
            certificateId: certificateId
            configurationModeFrequencyMins: 0
            rebootNodeIfNeeded: true
            allowModuleOverwrite: true
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          id: id
          errors:
          - resourceId: resourceId
            errorSource: errorSource
            errorMessage: errorMessage
            errorCode: errorCode
            locale: locale
            errorDetails: errorDetails
          - resourceId: resourceId
            errorSource: errorSource
            errorMessage: errorMessage
            errorCode: errorCode
            locale: locale
            errorDetails: errorDetails
          iPV6Addresses:
          - iPV6Addresses
          - iPV6Addresses
          status: status
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the next link.
          title: nextLink
          type: string
        value:
          description: Gets or sets a list of dsc node reports.
          items:
            $ref: '#/components/schemas/DscNodeReport'
          title: value
          type: array
      title: DscNodeReportListResult
      type: object
    DscNodeUpdateParameters:
      description: The parameters supplied to the update dsc node operation.
      example:
        nodeConfiguration:
          name: name
        nodeId: nodeId
      properties:
        nodeConfiguration:
          $ref: '#/components/schemas/DscNodeConfigurationAssociationProperty'
        nodeId:
          description: Gets or sets the id of the dsc node.
          title: nodeId
          type: string
      title: DscNodeUpdateParameters
      type: object
    DscReportError:
      description: Definition of the dsc node report error type.
      example:
        resourceId: resourceId
        errorSource: errorSource
        errorMessage: errorMessage
        errorCode: errorCode
        locale: locale
        errorDetails: errorDetails
      properties:
        errorCode:
          description: Gets or sets the error code.
          title: errorCode
          type: string
        errorDetails:
          description: Gets or sets the error details.
          title: errorDetails
          type: string
        errorMessage:
          description: Gets or sets the error message.
          title: errorMessage
          type: string
        errorSource:
          description: Gets or sets the source of the error.
          title: errorSource
          type: string
        locale:
          description: Gets or sets the locale of the error.
          title: locale
          type: string
        resourceId:
          description: Gets or sets the resource ID which generated the error.
          title: resourceId
          type: string
      title: DscReportError
      type: object
    DscReportResource:
      description: Definition of the DSC Report Resource.
      example:
        resourceId: resourceId
        sourceInfo: sourceInfo
        dependsOn:
        - resourceId: resourceId
        - resourceId: resourceId
        durationInSeconds: 5.962133916683182
        moduleVersion: moduleVersion
        moduleName: moduleName
        resourceName: resourceName
        error: error
        startDate: 2000-01-23T04:56:07.000+00:00
        status: status
      properties:
        dependsOn:
          description: Gets or sets the Resource Navigation values for resources the
            resource depends on.
          items:
            $ref: '#/components/schemas/DscReportResourceNavigation'
          title: dependsOn
          type: array
        durationInSeconds:
          description: Gets or sets the duration in seconds for the resource.
          format: double
          title: durationInSeconds
          type: number
        error:
          description: Gets or sets the error of the resource.
          title: error
          type: string
        moduleName:
          description: Gets or sets the module name of the resource.
          title: moduleName
          type: string
        moduleVersion:
          description: Gets or sets the module version of the resource.
          title: moduleVersion
          type: string
        resourceId:
          description: Gets or sets the ID of the resource.
          title: resourceId
          type: string
        resourceName:
          description: Gets or sets the name of the resource.
          title: resourceName
          type: string
        sourceInfo:
          description: Gets or sets the source info of the resource.
          title: sourceInfo
          type: string
        startDate:
          description: Gets or sets the start date of the resource.
          format: date-time
          nullable: false
          title: startDate
          type: string
        status:
          description: Gets or sets the status of the resource.
          title: status
          type: string
      title: DscReportResource
      type: object
    DscReportResourceNavigation:
      description: Navigation for DSC Report Resource.
      example:
        resourceId: resourceId
      properties:
        resourceId:
          description: Gets or sets the ID of the resource to navigate to.
          title: resourceId
          type: string
      title: DscReportResourceNavigation
      type: object
    AgentRegistrationInformation_Get_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: AgentRegistrationInformation_Get_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
