openapi: 3.0.1
info:
  description: "These APIs allow end users to operate on Azure Machine Learning Commitment\
    \ Plans resources and their child Commitment Association resources. They support\
    \ CRUD operations for commitment plans, get and list operations for commitment\
    \ associations, moving commitment associations between commitment plans, and retrieving\
    \ commitment plan usage history."
  title: Azure ML Commitment Plans Management Client
  version: 2016-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearning/resource-manager/Microsoft.MachineLearning/preview/2016-05-01-preview/commitmentPlans.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: machinelearning-commitmentPlans
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.MachineLearning/operations:
    get:
      description: Lists all of the available Azure Machine Learning Studio Commitment
        Plan RP REST API operations.
      operationId: operations_list
      parameters:
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationEntityListResult'
          description: OK.
      tags:
      - Operation
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.operation_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/commitmentPlans:
    get:
      description: Retrieve all Azure ML commitment plans in a subscription.
      operationId: commitment_plans_list
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Continuation token for pagination.
        in: query
        name: $skipToken
        schema:
          type: string
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlanListResult'
          description: OK
      tags:
      - CommitmentPlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.commitment_plans_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/skus:
    get:
      description: Lists the available commitment plan SKUs.
      operationId: skus_list
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuListResult'
          description: OK
      tags:
      - Skus
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.skus_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans:
    get:
      description: Retrieve all Azure ML commitment plans in a resource group.
      operationId: commitment_plans_list_in_resource_group
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Continuation token for pagination.
        in: query
        name: $skipToken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlanListResult'
          description: OK
      tags:
      - CommitmentPlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.commitment_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}
  : delete:
      description: Remove an existing Azure ML commitment plan.
      operationId: commitment_plans_remove
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure ML commitment plan name.
        in: path
        name: commitment_plan_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - CommitmentPlans
      x-openapi-router-controller: openapi_server.controllers.commitment_plans_controller
    get:
      description: "Retrieve an Azure ML commitment plan by its subscription, resource\
        \ group and name."
      operationId: commitment_plans_get
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure ML commitment plan name.
        in: path
        name: commitmentPlanName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
          description: OK
      tags:
      - CommitmentPlans
      x-openapi-router-controller: openapi_server.controllers.commitment_plans_controller
    patch:
      description: Patch an existing Azure ML commitment plan resource.
      operationId: commitment_plans_patch
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure ML commitment plan name.
        in: path
        name: commitment_plan_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitmentPlanPatchPayload'
        description: The payload to use to patch the Azure ML commitment plan. Only
          tags and SKU may be modified on an existing commitment plan.
        required: true
        x-body-name: patchPayload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
          description: OK
      tags:
      - CommitmentPlans
      x-codegen-request-body-name: patchPayload
      x-openapi-router-controller: openapi_server.controllers.commitment_plans_controller
    put:
      description: Create a new Azure ML commitment plan resource or updates an existing
        one.
      operationId: commitment_plans_create_or_update
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure ML commitment plan name.
        in: path
        name: commitment_plan_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitmentPlan'
        description: The payload to create or update the Azure ML commitment plan.
        required: true
        x-body-name: createOrUpdatePayload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
          description: Created
      tags:
      - CommitmentPlans
      x-codegen-request-body-name: createOrUpdatePayload
      x-openapi-router-controller: openapi_server.controllers.commitment_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations
  : get:
      description: Get all commitment associations for a parent commitment plan.
      operationId: commitment_associations_list
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure ML commitment plan name.
        in: path
        name: commitment_plan_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Continuation token for pagination.
        in: query
        name: skip_token
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentAssociationListResult'
          description: OK
      tags:
      - CommitmentAssociations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.commitment_associations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations/{commitmentAssociationName}
  : get:
      description: Get a commitment association.
      operationId: commitment_associations_get
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure ML commitment plan name.
        in: path
        name: commitment_plan_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The commitment association name.
        in: path
        name: commitmentAssociationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentAssociation'
          description: OK
      tags:
      - CommitmentAssociations
      x-openapi-router-controller: openapi_server.controllers.commitment_associations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations/{commitmentAssociationName}/move
  : post:
      description: Re-parent a commitment association from one commitment plan to
        another.
      operationId: commitment_associations_move
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure ML commitment plan name.
        in: path
        name: commitment_plan_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The commitment association name.
        in: path
        name: commitment_association_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveCommitmentAssociationRequest'
        description: The move request payload.
        required: true
        x-body-name: movePayload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentAssociation'
          description: OK
      tags:
      - CommitmentAssociations
      x-codegen-request-body-name: movePayload
      x-openapi-router-controller: openapi_server.controllers.commitment_associations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/usageHistory
  : get:
      description: Retrieve the usage history for an Azure ML commitment plan.
      operationId: usage_history_list
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure ML commitment plan name.
        in: path
        name: commitment_plan_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Continuation token for pagination.
        in: query
        name: skip_token
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the Microsoft.MachineLearning resource provider
          API to use.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanUsageHistoryListResult'
          description: OK
      tags:
      - CommitmentPlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.commitment_plans_controller
components:
  parameters:
    APIVersionParameter:
      description: The version of the Microsoft.MachineLearning resource provider
        API to use.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    CommitmentAssociationNameParameter:
      description: The commitment association name.
      in: path
      name: commitmentAssociationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    CommitmentPlanNameParameter:
      description: The Azure ML commitment plan name.
      in: path
      name: commitmentPlanName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The resource group name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SkipTokenParameter:
      description: Continuation token for pagination.
      in: query
      name: $skipToken
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CatalogSku:
      description: Details of a commitment plan SKU.
      example:
        costs:
        - quantity: 5
          meterID: meterID
          extendedUnit: extendedUnit
        - quantity: 5
          meterID: meterID
          extendedUnit: extendedUnit
        capabilities:
        - name: name
          value: value
        - name: name
          value: value
        tier: tier
        name: name
        restrictions:
        - values:
          - values
          - values
          reasonCode: QuotaId
          type: location
        - values:
          - values
          - values
          reasonCode: QuotaId
          type: location
        locations:
        - locations
        - locations
        capacity:
          default: 0
          scaleType: Automatic
          maximum: 6
          minimum: 1
        resourceType: resourceType
      properties:
        capabilities:
          description: The capability information for the specified SKU.
          items:
            $ref: '#/components/schemas/SkuCapability'
          readOnly: true
          title: capabilities
          type: array
        capacity:
          $ref: '#/components/schemas/SkuCapacity'
        costs:
          description: The cost information for the specified SKU.
          items:
            $ref: '#/components/schemas/SkuCost'
          readOnly: true
          title: costs
          type: array
        locations:
          description: Regions where the SKU is available.
          items:
            type: string
          readOnly: true
          title: locations
          type: array
        name:
          description: SKU name
          readOnly: true
          title: name
          type: string
        resourceType:
          description: Resource type name
          readOnly: true
          title: resourceType
          type: string
        restrictions:
          description: Restrictions which would prevent a SKU from being used. This
            is empty if there are no restrictions.
          items:
            $ref: '#/components/schemas/SkuRestrictions'
          readOnly: true
          title: restrictions
          type: array
        tier:
          description: SKU tier
          readOnly: true
          title: tier
          type: string
      title: CatalogSku
      type: object
    CommitmentAssociation:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: "Represents the association between a commitment plan and some\
        \ other resource, such as a Machine Learning web service."
      example:
        etag: etag
        properties:
          commitmentPlanId: commitmentPlanId
          associatedResourceId: associatedResourceId
          creationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        etag:
          description: An entity tag used to enforce optimistic concurrency.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/CommitmentAssociationProperties'
      title: CommitmentAssociation
    CommitmentAssociationListResult:
      description: A page of commitment association resources.
      example:
        value:
        - etag: etag
          properties:
            commitmentPlanId: commitmentPlanId
            associatedResourceId: associatedResourceId
            creationDate: 2000-01-23T04:56:07.000+00:00
        - etag: etag
          properties:
            commitmentPlanId: commitmentPlanId
            associatedResourceId: associatedResourceId
            creationDate: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: A URI to retrieve the next page of results.
          title: nextLink
          type: string
        value:
          description: The set of results for this page.
          items:
            $ref: '#/components/schemas/CommitmentAssociation'
          title: value
          type: array
      title: CommitmentAssociationListResult
      type: object
    CommitmentAssociationProperties:
      description: Properties of an Azure ML commitment association.
      example:
        commitmentPlanId: commitmentPlanId
        associatedResourceId: associatedResourceId
        creationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        associatedResourceId:
          description: "The ID of the resource this association points to, such as\
            \ the ARM ID of an Azure ML web service."
          readOnly: true
          title: associatedResourceId
          type: string
        commitmentPlanId:
          description: The ARM ID of the parent Azure ML commitment plan.
          readOnly: true
          title: commitmentPlanId
          type: string
        creationDate:
          description: "The date at which this commitment association was created,\
            \ in ISO 8601 format."
          format: date-time
          readOnly: true
          title: creationDate
          type: string
      title: CommitmentAssociationProperties
      type: object
    CommitmentPlan:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An Azure ML commitment plan resource.
      example:
        etag: etag
        sku:
          tier: tier
          name: name
          capacity: 7
        properties:
          chargeForOverage: true
          chargeForPlan: true
          includedQuantities:
            key:
              overageMeter: overageMeter
              amount: 6.027456183070403
              includedQuantityMeter: includedQuantityMeter
              allowance: 0.8008281904610115
          maxAssociationLimit: 1
          creationDate: 2000-01-23T04:56:07.000+00:00
          maxCapacityLimit: 5
          minCapacityLimit: 5
          refillFrequencyInDays: 2
          planMeter: planMeter
          suspendPlanOnOverage: true
      properties:
        etag:
          description: An entity tag used to enforce optimistic concurrency.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/CommitmentPlanProperties'
        sku:
          $ref: '#/components/schemas/ResourceSku'
      title: CommitmentPlan
    CommitmentPlanListResult:
      description: A page of commitment plan resources.
      example:
        value:
        - etag: etag
          sku:
            tier: tier
            name: name
            capacity: 7
          properties:
            chargeForOverage: true
            chargeForPlan: true
            includedQuantities:
              key:
                overageMeter: overageMeter
                amount: 6.027456183070403
                includedQuantityMeter: includedQuantityMeter
                allowance: 0.8008281904610115
            maxAssociationLimit: 1
            creationDate: 2000-01-23T04:56:07.000+00:00
            maxCapacityLimit: 5
            minCapacityLimit: 5
            refillFrequencyInDays: 2
            planMeter: planMeter
            suspendPlanOnOverage: true
        - etag: etag
          sku:
            tier: tier
            name: name
            capacity: 7
          properties:
            chargeForOverage: true
            chargeForPlan: true
            includedQuantities:
              key:
                overageMeter: overageMeter
                amount: 6.027456183070403
                includedQuantityMeter: includedQuantityMeter
                allowance: 0.8008281904610115
            maxAssociationLimit: 1
            creationDate: 2000-01-23T04:56:07.000+00:00
            maxCapacityLimit: 5
            minCapacityLimit: 5
            refillFrequencyInDays: 2
            planMeter: planMeter
            suspendPlanOnOverage: true
        nextLink: nextLink
      properties:
        nextLink:
          description: A URI to retrieve the next page of results.
          title: nextLink
          type: string
        value:
          description: The set of results for this page.
          items:
            $ref: '#/components/schemas/CommitmentPlan'
          title: value
          type: array
      title: CommitmentPlanListResult
      type: object
    CommitmentPlanPatchPayload:
      description: The properties of a commitment plan which may be updated via PATCH.
      example:
        sku:
          tier: tier
          name: name
          capacity: 7
        tags:
          key: tags
      properties:
        sku:
          $ref: '#/components/schemas/ResourceSku'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: Tags
          type: object
      title: CommitmentPlanPatchPayload
      type: object
    CommitmentPlanProperties:
      description: Properties of an Azure ML commitment plan.
      example:
        chargeForOverage: true
        chargeForPlan: true
        includedQuantities:
          key:
            overageMeter: overageMeter
            amount: 6.027456183070403
            includedQuantityMeter: includedQuantityMeter
            allowance: 0.8008281904610115
        maxAssociationLimit: 1
        creationDate: 2000-01-23T04:56:07.000+00:00
        maxCapacityLimit: 5
        minCapacityLimit: 5
        refillFrequencyInDays: 2
        planMeter: planMeter
        suspendPlanOnOverage: true
      properties:
        chargeForOverage:
          description: Indicates whether usage beyond the commitment plan's included
            quantities will be charged.
          readOnly: true
          title: chargeForOverage
          type: boolean
        chargeForPlan:
          description: Indicates whether the commitment plan will incur a charge.
          readOnly: true
          title: chargeForPlan
          type: boolean
        creationDate:
          description: "The date at which this commitment plan was created, in ISO\
            \ 8601 format."
          format: date-time
          readOnly: true
          title: creationDate
          type: string
        includedQuantities:
          additionalProperties:
            $ref: '#/components/schemas/PlanQuantity'
          description: The included resource quantities this plan gives you.
          readOnly: true
          title: includedQuantities
          type: object
        maxAssociationLimit:
          description: The maximum number of commitment associations that can be children
            of this commitment plan.
          format: int32
          readOnly: true
          title: maxAssociationLimit
          type: integer
        maxCapacityLimit:
          description: The maximum scale-out capacity for this commitment plan.
          format: int32
          readOnly: true
          title: maxCapacityLimit
          type: integer
        minCapacityLimit:
          description: The minimum scale-out capacity for this commitment plan.
          format: int32
          readOnly: true
          title: minCapacityLimit
          type: integer
        planMeter:
          description: The Azure meter which will be used to charge for this commitment
            plan.
          readOnly: true
          title: planMeter
          type: string
        refillFrequencyInDays:
          description: The frequency at which this commitment plan's included quantities
            are refilled.
          format: int32
          readOnly: true
          title: refillFrequencyInDays
          type: integer
        suspendPlanOnOverage:
          description: Indicates whether this commitment plan will be moved into a
            suspended state if usage goes beyond the commitment plan's included quantities.
          readOnly: true
          title: suspendPlanOnOverage
          type: boolean
      title: CommitmentPlanProperties
      type: object
    MoveCommitmentAssociationRequest:
      description: Specifies the destination Azure ML commitment plan for a move operation.
      example:
        destinationPlanId: destinationPlanId
      properties:
        destinationPlanId:
          description: The ARM ID of the commitment plan to re-parent the commitment
            association to.
          title: destinationPlanId
          type: string
      title: MoveCommitmentAssociationRequest
      type: object
    OperationDisplayInfo:
      description: The API operation info.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description of the operation.
          readOnly: true
          title: description
          type: string
        operation:
          description: "The action that users can perform, based on their permission\
            \ level."
          readOnly: true
          title: operation
          type: string
        provider:
          description: The service provider.
          readOnly: true
          title: provider
          type: string
        resource:
          description: The resource on which the operation is performed.
          readOnly: true
          title: resource
          type: string
      title: OperationDisplayInfo
      type: object
    OperationEntity:
      description: An API operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayInfo'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          readOnly: true
          title: name
          type: string
      title: OperationEntity
      type: object
    OperationEntityListResult:
      description: The list of REST API operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
      properties:
        value:
          description: The list of operations.
          items:
            $ref: '#/components/schemas/OperationEntity'
          readOnly: true
          title: value
          type: array
      title: OperationEntityListResult
      type: object
    PlanQuantity:
      description: Represents the quantity a commitment plan provides of a metered
        resource.
      example:
        overageMeter: overageMeter
        amount: 6.027456183070403
        includedQuantityMeter: includedQuantityMeter
        allowance: 0.8008281904610115
      properties:
        allowance:
          description: The quantity added to the commitment plan at an interval specified
            by its allowance frequency.
          format: double
          readOnly: true
          title: allowance
          type: number
        amount:
          description: The quantity available to the plan the last time usage was
            calculated.
          format: double
          readOnly: true
          title: amount
          type: number
        includedQuantityMeter:
          description: The Azure meter for usage against included quantities.
          readOnly: true
          title: includedQuantityMeter
          type: string
        overageMeter:
          description: The Azure meter for usage which exceeds included quantities.
          readOnly: true
          title: overageMeter
          type: string
      title: PlanQuantity
      type: object
    PlanUsageHistory:
      description: Represents historical information about usage of the Azure resources
        associated with a commitment plan.
      example:
        usageDate: 2000-01-23T04:56:07.000+00:00
        planUsageOverage:
          key: 5.637376656633329
        planDeletionOverage:
          key: 0.8008281904610115
        planQuantitiesAfterUsage:
          key: 1.4658129805029452
        planMigrationOverage:
          key: 6.027456183070403
        usage:
          key: 2.3021358869347655
        planQuantitiesBeforeUsage:
          key: 5.962133916683182
      properties:
        planDeletionOverage:
          additionalProperties:
            format: double
            type: number
          description: Overage incurred as a result of deleting a commitment plan.
          title: planDeletionOverage
          type: object
        planMigrationOverage:
          additionalProperties:
            format: double
            type: number
          description: Overage incurred as a result of migrating a commitment plan
            from one SKU to another.
          title: planMigrationOverage
          type: object
        planQuantitiesAfterUsage:
          additionalProperties:
            format: double
            type: number
          description: Included quantities remaining after usage against the commitment
            plan's associated resources was calculated.
          title: planQuantitiesAfterUsage
          type: object
        planQuantitiesBeforeUsage:
          additionalProperties:
            format: double
            type: number
          description: Included quantities remaining before usage against the commitment
            plan's associated resources was calculated.
          title: planQuantitiesBeforeUsage
          type: object
        planUsageOverage:
          additionalProperties:
            format: double
            type: number
          description: Usage against the commitment plan's associated resources which
            was not covered by included quantities and is therefore overage.
          title: planUsageOverage
          type: object
        usage:
          additionalProperties:
            format: double
            type: number
          description: Usage against the commitment plan's associated resources.
          title: usage
          type: object
        usageDate:
          description: "The date of usage, in ISO 8601 format."
          format: date-time
          title: usageDate
          type: string
      title: PlanUsageHistory
      type: object
    PlanUsageHistoryListResult:
      description: A page of usage history.
      example:
        value:
        - usageDate: 2000-01-23T04:56:07.000+00:00
          planUsageOverage:
            key: 5.637376656633329
          planDeletionOverage:
            key: 0.8008281904610115
          planQuantitiesAfterUsage:
            key: 1.4658129805029452
          planMigrationOverage:
            key: 6.027456183070403
          usage:
            key: 2.3021358869347655
          planQuantitiesBeforeUsage:
            key: 5.962133916683182
        - usageDate: 2000-01-23T04:56:07.000+00:00
          planUsageOverage:
            key: 5.637376656633329
          planDeletionOverage:
            key: 0.8008281904610115
          planQuantitiesAfterUsage:
            key: 1.4658129805029452
          planMigrationOverage:
            key: 6.027456183070403
          usage:
            key: 2.3021358869347655
          planQuantitiesBeforeUsage:
            key: 5.962133916683182
        nextLink: nextLink
      properties:
        nextLink:
          description: A URI to retrieve the next page of results.
          title: nextLink
          type: string
        value:
          description: The set of results for this page.
          items:
            $ref: '#/components/schemas/PlanUsageHistory'
          title: value
          type: array
      title: PlanUsageHistoryListResult
      type: object
    Resource:
      description: Common properties of an ARM resource.
      properties:
        id:
          description: Resource Id.
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location.
          title: location
          type: string
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: Tags
          type: object
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceSku:
      description: The SKU of a resource.
      example:
        tier: tier
        name: name
        capacity: 7
      properties:
        capacity:
          description: "The scale-out capacity of the resource. 1 is 1x, 2 is 2x,\
            \ etc. This impacts the quantities and cost of any commitment plan resource."
          format: int32
          title: capacity
          type: integer
        name:
          description: "The SKU name. Along with tier, uniquely identifies the SKU."
          title: name
          type: string
        tier:
          description: "The SKU tier. Along with name, uniquely identifies the SKU."
          title: tier
          type: string
      title: ResourceSku
      type: object
    SkuCapability:
      description: Describes The SKU capabilities object.
      example:
        name: name
        value: value
      properties:
        name:
          description: The capability name.
          readOnly: true
          title: name
          type: string
        value:
          description: The capability value.
          readOnly: true
          title: value
          type: string
      title: SkuCapability
      type: object
    SkuCapacity:
      description: Describes scaling information of a SKU.
      example:
        default: 0
        scaleType: Automatic
        maximum: 6
        minimum: 1
      properties:
        default:
          description: The default capacity.
          format: int64
          readOnly: true
          title: default
          type: integer
        maximum:
          description: The maximum capacity that can be set.
          format: int64
          readOnly: true
          title: maximum
          type: integer
        minimum:
          description: The minimum capacity.
          format: int64
          readOnly: true
          title: minimum
          type: integer
        scaleType:
          description: The scale type applicable to the sku.
          enum:
          - Automatic
          - Manual
          - None
          readOnly: true
          title: scaleType
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuCapacityScaleType
      title: SkuCapacity
      type: object
    SkuCost:
      description: Describes metadata for SKU cost info.
      example:
        quantity: 5
        meterID: meterID
        extendedUnit: extendedUnit
      properties:
        extendedUnit:
          description: The overall duration represented by the quantity.
          readOnly: true
          title: extendedUnit
          type: string
        meterID:
          description: The meter used for this part of a SKU's cost.
          readOnly: true
          title: meterID
          type: string
        quantity:
          description: The multiplier for the meter ID.
          format: int64
          readOnly: true
          title: quantity
          type: integer
      title: SkuCost
      type: object
    SkuListResult:
      description: The list of commitment plan SKUs.
      example:
        value:
        - costs:
          - quantity: 5
            meterID: meterID
            extendedUnit: extendedUnit
          - quantity: 5
            meterID: meterID
            extendedUnit: extendedUnit
          capabilities:
          - name: name
            value: value
          - name: name
            value: value
          tier: tier
          name: name
          restrictions:
          - values:
            - values
            - values
            reasonCode: QuotaId
            type: location
          - values:
            - values
            - values
            reasonCode: QuotaId
            type: location
          locations:
          - locations
          - locations
          capacity:
            default: 0
            scaleType: Automatic
            maximum: 6
            minimum: 1
          resourceType: resourceType
        - costs:
          - quantity: 5
            meterID: meterID
            extendedUnit: extendedUnit
          - quantity: 5
            meterID: meterID
            extendedUnit: extendedUnit
          capabilities:
          - name: name
            value: value
          - name: name
            value: value
          tier: tier
          name: name
          restrictions:
          - values:
            - values
            - values
            reasonCode: QuotaId
            type: location
          - values:
            - values
            - values
            reasonCode: QuotaId
            type: location
          locations:
          - locations
          - locations
          capacity:
            default: 0
            scaleType: Automatic
            maximum: 6
            minimum: 1
          resourceType: resourceType
      properties:
        value:
          items:
            $ref: '#/components/schemas/CatalogSku'
          readOnly: true
          title: value
          type: array
      title: SkuListResult
      type: object
    SkuRestrictions:
      description: Describes restrictions which would prevent a SKU from being used.
      example:
        values:
        - values
        - values
        reasonCode: QuotaId
        type: location
      properties:
        reasonCode:
          description: The reason for restriction.
          enum:
          - QuotaId
          - NotAvailableForSubscription
          readOnly: true
          title: reasonCode
          type: string
          x-ms-enum:
            modelAsString: true
            name: ResourceSkuRestrictionsReasonCode
        type:
          description: The type of restrictions.
          enum:
          - location
          - zone
          readOnly: true
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ResourceSkuRestrictionsType
        values:
          description: The value of restrictions. If the restriction type is set to
            location. This would be different locations where the SKU is restricted.
          items:
            type: string
          readOnly: true
          title: values
          type: array
      title: SkuRestrictions
      type: object
    Tags:
      additionalProperties:
        type: string
      description: Resource tags
      title: Tags
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
