openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on User entity in Azure
    API Management deployment. The User entity in API Management represents the developers
    that call the APIs of the products to which they are subscribed.
  title: ApiManagementClient
  version: 2019-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimusers.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: apimanagement-apimusers
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users
  : get:
      description: Lists a collection of registered users in the specified service
        instance.
      operationId: user_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "|   Field     |     Usage     |     Supported operators    \
          \ |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|\
          \ name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| firstName | filter | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith | </br>| lastName | filter | ge, le, eq,\
          \ ne, gt, lt | substringof, contains, startswith, endswith | </br>| email\
          \ | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| state | filter | eq |     | </br>| registrationDate\
          \ | filter | ge, le, eq, ne, gt, lt |     | </br>| note | filter | ge, le,\
          \ eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>|\
          \ groups | expand |     |     | </br>"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Detailed Group in response.
        in: query
        name: expandGroups
        schema:
          type: boolean
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_200_response'
          description: Lists a collection of User entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-ms-examples:
        ApiManagementListUsers:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                  name: "1"
                  properties:
                    email: admin@live.com
                    firstName: Administrator
                    identities:
                    - id: admin@live.com
                      provider: Azure
                    lastName: ""
                    registrationDate: 2015-09-22T01:57:39.677Z
                    state: active
                  type: Microsoft.ApiManagement/service/users
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/56eaec62baf08b06e46d27fd
                  name: 56eaec62baf08b06e46d27fd
                  properties:
                    email: foo.bar.83@gmail.com
                    firstName: foo
                    identities:
                    - id: foo.bar.83@gmail.com
                      provider: Basic
                    lastName: bar
                    registrationDate: 2016-03-17T17:41:56.327Z
                    state: active
                  type: Microsoft.ApiManagement/service/users
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/5931a75ae4bbd512a88c680b
                  name: 5931a75ae4bbd512a88c680b
                  properties:
                    email: foobar@outlook.com
                    firstName: foo
                    identities:
                    - id: '*************'
                      provider: Microsoft
                    lastName: bar
                    registrationDate: 2017-06-02T17:58:50.357Z
                    state: active
                  type: Microsoft.ApiManagement/service/users
      x-ms-odata: ./definitions.json#/definitions/UserContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.user_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}
  : delete:
      description: Deletes specific user.
      operationId: user_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: userId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Whether to delete user's subscription or not.
        in: query
        name: deleteSubscriptions
        schema:
          type: boolean
      - description: Send an Account Closed Email notification to the User.
        in: query
        name: notify
        schema:
          type: boolean
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The user details were successfully deleted.
        "204":
          content: {}
          description: The user details were successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-ms-examples:
        ApiManagementDeleteUser:
          parameters:
            If-Match: '*'
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            userId: 5931a75ae4bbd512288c680b
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.user_controller
    get:
      description: Gets the details of the user specified by its identifier.
      operationId: user_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: userId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_Get_200_response'
          description: Gets the specified user entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-ms-examples:
        ApiManagementGetUser:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            userId: 5931a75ae4bbd512a88c680b
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/5931a75ae4bbd512a88c680b
                name: 5931a75ae4bbd512a88c680b
                properties:
                  email: foobar@outlook.com
                  firstName: foo
                  identities:
                  - id: '*************'
                    provider: Microsoft
                  lastName: bar
                  registrationDate: 2017-06-02T17:58:50.357Z
                  state: active
                type: Microsoft.ApiManagement/service/users
      x-openapi-router-controller: openapi_server.controllers.user_controller
    head:
      description: Gets the entity state (Etag) version of the user specified by its
        identifier.
      operationId: user_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: userId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified user entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-ms-examples:
        ApiManagementHeadUser:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            userId: 5931a75ae4bbd512a88c680b
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.user_controller
    patch:
      description: Updates the details of the user specified by its identifier.
      operationId: user_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: userId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User_Update_request'
        description: Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The user details were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-ms-examples:
        ApiManagementUpdateUser:
          parameters:
            If-Match: '*'
            api-version: 2019-12-01-preview
            parameters:
              properties:
                email: foobar@outlook.com
                firstName: foo
                lastName: bar
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            userId: 5931a75ae4bbd512288c680b
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.user_controller
    put:
      description: Creates or Updates a user.
      operationId: user_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: userId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User_CreateOrUpdate_request'
        description: Create or update parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_Get_200_response'
          description: User was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_Get_200_response'
          description: User was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - User
      x-ms-examples:
        ApiManagementCreateUser:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              properties:
                confirmation: signup
                email: foobar@outlook.com
                firstName: foo
                lastName: bar
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            userId: 5931a75ae4bbd512288c680b
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/5931a75ae4bbd512288c680b
                name: 5931a75ae4bbd512288c680b
                properties:
                  email: foobar@outlook.com
                  firstName: foo
                  groups: []
                  identities:
                  - id: foobar@outlook.com
                    provider: Basic
                  lastName: bar
                  registrationDate: 2018-01-07T21:21:29.16Z
                  state: active
                type: Microsoft.ApiManagement/service/users
            "201":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/5931a75ae4bbd512288c680b
                name: 5931a75ae4bbd512288c680b
                properties:
                  email: foobar@outlook.com
                  firstName: foo
                  groups: []
                  identities:
                  - id: foobar@outlook.com
                    provider: Basic
                  lastName: bar
                  registrationDate: 2018-01-07T21:21:29.16Z
                  state: active
                type: Microsoft.ApiManagement/service/users
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.user_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}/confirmations/password/send
  : post:
      description: Sends confirmation
      operationId: user_confirmation_password_send
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: userId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Notification successfully sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - UserConfirmationPasswordSend
      x-ms-examples:
        ApiManagementUserConfirmationPasswordSend:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            userId: 57127d485157a511ace86ae7
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.user_confirmation_password_send_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}/generateSsoUrl
  : post:
      description: Retrieves a redirection URL containing an authentication token
        for signing a given user into the developer portal.
      operationId: user_generate_sso_url
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: userId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_GenerateSsoUrl_200_response'
          description: The response body contains the single sign-on URL.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-ms-examples:
        ApiManagementUserGenerateSsoUrl:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            userId: 57127d485157a511ace86ae7
          responses:
            "200":
              body:
                value: https://apimService1.portal.azure-api.net/signin-sso?token=57127d485157a511ace86ae7%26201706051624%267VY18MlwAom***********2bYr2bDQHg21OzQsNakExQ%3d%3d
      x-openapi-router-controller: openapi_server.controllers.users_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}/groups
  : get:
      description: Lists all user groups.
      operationId: user_group_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: userId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "|   Field     |     Usage     |     Supported operators    \
          \ |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|\
          \ name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith | </br>| description | filter | ge, le,\
          \ eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup_List_200_response'
          description: Lists a collection of Group entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - UserGroup
      x-ms-examples:
        ApiManagementListUserGroups:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            userId: 57681833a40f7eb6c49f6acf
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/57681833a40f7eb6c49f6acf/groups/5600b57e7e8880006a020002
                  name: 5600b57e7e8880006a020002
                  properties:
                    builtIn: true
                    description: Developers is a built-in group. Its membership is
                      managed by the system. Signed-in users fall into this group.
                    displayName: Developers
                    type: system
                  type: Microsoft.ApiManagement/service/users/groups
      x-ms-odata: ./definitions.json#/definitions/GroupContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.user_group_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}/identities
  : get:
      description: List of all user identities.
      operationId: user_identities_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: userId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentities_List_200_response'
          description: Lists of User Identities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - UserIdentity
      x-ms-examples:
        ApiManagementListUserIdentities:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            userId: 57f2af53bb17172280f44057
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: 086cf9********55ab
                  provider: Microsoft
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.user_identity_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}/subscriptions
  : get:
      description: Lists the collection of subscriptions of the specified user.
      operationId: user_subscription_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: userId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "|   Field     |     Usage     |     Supported operators    \
          \ |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|\
          \ name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith | </br>| stateComment | filter | ge, le,\
          \ eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>|\
          \ ownerId | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| scope | filter | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith | </br>| userId | filter | ge, le, eq,\
          \ ne, gt, lt | substringof, contains, startswith, endswith | </br>| productId\
          \ | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSubscription_List_200_response'
          description: Lists a collection of Subscription entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - UserSubscription
      x-ms-examples:
        ApiManagementListUserSubscriptions:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            userId: 57681833a40f7eb6c49f6acf
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/57681833a40f7eb6c49f6acf/subscriptions/57681850a40f7eb6c49f6ae3
                  name: 57681850a40f7eb6c49f6ae3
                  properties:
                    createdDate: 2016-06-20T16:22:39.547Z
                    displayName: 57681850a40f7eb6c49f6ae5
                    ownerId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/57681833a40f7eb6c49f6acf
                    scope: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5768181ea40f7eb6c49f6ac7
                    startDate: 2016-06-20T00:00:00Z
                    state: active
                  type: Microsoft.ApiManagement/service/users/subscriptions
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/57681833a40f7eb6c49f6acf/subscriptions/57681850a40f7eb6c49f6b2b
                  name: 57681850a40f7eb6c49f6b2b
                  properties:
                    createdDate: 2016-06-20T16:22:41.103Z
                    displayName: 57681850a40f7eb6c49f6b2d
                    ownerId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/57681833a40f7eb6c49f6acf
                    scope: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5768181ea40f7eb6c49f6ac7
                    startDate: 2016-06-20T00:00:00Z
                    state: active
                  type: Microsoft.ApiManagement/service/users/subscriptions
      x-ms-odata: ./definitions.json#/definitions/SubscriptionContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.user_subscription_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}/token
  : post:
      description: Gets the Shared Access Authorization Token for the User.
      operationId: user_get_shared_access_token
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: userId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User_GetSharedAccessToken_request'
        description: Create Authorization Token parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_GetSharedAccessToken_200_response'
          description: The response body contains the authorization token for the
            user.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - UserToken
      x-ms-examples:
        ApiManagementUserToken:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              properties:
                expiry: 2019-04-21T00:44:24.2845269Z
                keyType: primary
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            userId: userId1718
          responses:
            "200":
              body:
                value: userId1718&201904210044&9A1GR1f5WIhFvFmzQG+xxxxxxxxxxx/kBeu87DWad3tkasUXuvPL+MgzlwUHyg==
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.user_token_controller
components:
  schemas:
    UserSubscription_List_200_response:
      description: Paged Subscriptions list representation.
      example:
        value:
        - properties:
            allowTracing: true
            secondaryKey: secondaryKey
            endDate: 2000-01-23T04:56:07.000+00:00
            displayName: displayName
            ownerId: ownerId
            createdDate: 2000-01-23T04:56:07.000+00:00
            scope: scope
            stateComment: stateComment
            state: suspended
            startDate: 2000-01-23T04:56:07.000+00:00
            expirationDate: 2000-01-23T04:56:07.000+00:00
            notificationDate: 2000-01-23T04:56:07.000+00:00
            primaryKey: primaryKey
        - properties:
            allowTracing: true
            secondaryKey: secondaryKey
            endDate: 2000-01-23T04:56:07.000+00:00
            displayName: displayName
            ownerId: ownerId
            createdDate: 2000-01-23T04:56:07.000+00:00
            scope: scope
            stateComment: stateComment
            state: suspended
            startDate: 2000-01-23T04:56:07.000+00:00
            expirationDate: 2000-01-23T04:56:07.000+00:00
            notificationDate: 2000-01-23T04:56:07.000+00:00
            primaryKey: primaryKey
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/UserSubscription_List_200_response_value_inner'
          title: value
          type: array
      title: UserSubscription_List_200_response
      type: object
    User_Update_request:
      description: User update parameters.
      properties:
        properties:
          $ref: '#/components/schemas/User_Update_request_properties'
      title: User_Update_request
      type: object
    UserSubscription_List_200_response_value_inner:
      description: Subscription details.
      example:
        properties:
          allowTracing: true
          secondaryKey: secondaryKey
          endDate: 2000-01-23T04:56:07.000+00:00
          displayName: displayName
          ownerId: ownerId
          createdDate: 2000-01-23T04:56:07.000+00:00
          scope: scope
          stateComment: stateComment
          state: suspended
          startDate: 2000-01-23T04:56:07.000+00:00
          expirationDate: 2000-01-23T04:56:07.000+00:00
          notificationDate: 2000-01-23T04:56:07.000+00:00
          primaryKey: primaryKey
      properties:
        properties:
          $ref: '#/components/schemas/UserSubscription_List_200_response_value_inner_properties'
      title: UserSubscription_List_200_response_value_inner
      type: object
    User_Get_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: User details.
      example:
        properties:
          firstName: firstName
          lastName: lastName
          registrationDate: 2000-01-23T04:56:07.000+00:00
          groups:
          - displayName: displayName
            builtIn: true
            description: description
            externalId: externalId
            type: custom
          - displayName: displayName
            builtIn: true
            description: description
            externalId: externalId
            type: custom
          email: email
      properties:
        properties:
          $ref: '#/components/schemas/User_ListByService_200_response_value_inner_properties'
      title: User_Get_200_response
    User_Update_request_properties:
      description: Parameters supplied to the Update User operation.
      properties:
        email:
          description: Email address. Must not be empty and must be unique within
            the service instance.
          maxLength: 254
          minLength: 1
          title: email
          type: string
        firstName:
          description: First name.
          maxLength: 100
          minLength: 1
          title: firstName
          type: string
        lastName:
          description: Last name.
          maxLength: 100
          minLength: 1
          title: lastName
          type: string
        password:
          description: User Password.
          title: password
          type: string
      title: User_Update_request_properties
      type: object
    User_ListByService_200_response:
      description: Paged Users list representation.
      example:
        value:
        - properties:
            firstName: firstName
            lastName: lastName
            registrationDate: 2000-01-23T04:56:07.000+00:00
            groups:
            - displayName: displayName
              builtIn: true
              description: description
              externalId: externalId
              type: custom
            - displayName: displayName
              builtIn: true
              description: description
              externalId: externalId
              type: custom
            email: email
        - properties:
            firstName: firstName
            lastName: lastName
            registrationDate: 2000-01-23T04:56:07.000+00:00
            groups:
            - displayName: displayName
              builtIn: true
              description: description
              externalId: externalId
              type: custom
            - displayName: displayName
              builtIn: true
              description: description
              externalId: externalId
              type: custom
            email: email
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/User_ListByService_200_response_value_inner'
          title: value
          type: array
      title: User_ListByService_200_response
      type: object
    User_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/User_ListByService_default_response_error'
      title: User_ListByService_default_response
      type: object
    UserGroup_List_200_response_value_inner:
      description: Contract details.
      example:
        properties:
          displayName: displayName
          builtIn: true
          description: description
          externalId: externalId
          type: custom
      properties:
        properties:
          $ref: '#/components/schemas/User_ListByService_200_response_value_inner_properties_groups_inner'
      title: UserGroup_List_200_response_value_inner
      type: object
    UserIdentities_List_200_response:
      description: List of Users Identity list representation.
      example:
        count: 0
        value:
        - provider: provider
          id: id
        - provider: provider
          id: id
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          title: count
          type: integer
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: User Identity values.
          items:
            $ref: '#/components/schemas/UserIdentities_List_200_response_value_inner'
          title: value
          type: array
      title: UserIdentities_List_200_response
      type: object
    User_GetSharedAccessToken_request_properties:
      description: Parameters supplied to the Get User Token operation.
      properties:
        expiry:
          description: |
            The Expiry time of the Token. Maximum token expiry time is set to 30 days. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: expiry
          type: string
        keyType:
          default: primary
          description: The Key to be used to generate token for user.
          enum:
          - primary
          - secondary
          title: keyType
          type: string
          x-ms-enum:
            modelAsString: false
            name: KeyType
      required:
      - expiry
      - keyType
      title: User_GetSharedAccessToken_request_properties
      type: object
    User_GetSharedAccessToken_200_response:
      description: Get User Token response details.
      example:
        value: value
      properties:
        value:
          description: Shared Access Authorization token for the User.
          title: value
          type: string
      title: User_GetSharedAccessToken_200_response
      type: object
    User_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/User_ListByService_default_response_error_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: User_ListByService_default_response_error
      type: object
    User_ListByService_200_response_value_inner_properties_groups_inner:
      description: Group contract Properties.
      example:
        displayName: displayName
        builtIn: true
        description: description
        externalId: externalId
        type: custom
      properties:
        builtIn:
          description: "true if the group is one of the three system groups (Administrators,\
            \ Developers, or Guests); otherwise false."
          readOnly: true
          title: builtIn
          type: boolean
        description:
          description: Group description. Can contain HTML formatting tags.
          maxLength: 1000
          title: description
          type: string
        displayName:
          description: Group name.
          maxLength: 300
          minLength: 1
          title: displayName
          type: string
        externalId:
          description: "For external groups, this property contains the id of the\
            \ group from the external identity provider, e.g. for Azure Active Directory\
            \ `aad://<tenant>.onmicrosoft.com/groups/<group object id>`; otherwise\
            \ the value is null."
          title: externalId
          type: string
        type:
          description: Group type.
          enum:
          - custom
          - system
          - external
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: GroupType
      required:
      - displayName
      title: User_ListByService_200_response_value_inner_properties_groups_inner
      type: object
    User_GenerateSsoUrl_200_response:
      description: Generate SSO Url operations response details.
      example:
        value: value
      properties:
        value:
          description: Redirect Url containing the SSO URL value.
          title: value
          type: string
      title: User_GenerateSsoUrl_200_response
      type: object
    UserIdentities_List_200_response_value_inner:
      description: User identity details.
      example:
        provider: provider
        id: id
      properties:
        id:
          description: Identifier value within provider.
          title: id
          type: string
        provider:
          description: Identity provider name.
          title: provider
          type: string
      title: UserIdentities_List_200_response_value_inner
      type: object
    User_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: User_ListByService_default_response_error_details_inner
      type: object
    UserGroup_List_200_response:
      description: Paged Group list representation.
      example:
        value:
        - properties:
            displayName: displayName
            builtIn: true
            description: description
            externalId: externalId
            type: custom
        - properties:
            displayName: displayName
            builtIn: true
            description: description
            externalId: externalId
            type: custom
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/UserGroup_List_200_response_value_inner'
          title: value
          type: array
      title: UserGroup_List_200_response
      type: object
    User_CreateOrUpdate_request_properties:
      description: Parameters supplied to the Create User operation.
      properties:
        appType:
          description: Determines the type of application which send the create user
            request. Default is old publisher portal.
          enum:
          - developerPortal
          title: appType
          type: string
          x-ms-enum:
            modelAsString: true
            name: AppType
            values:
            - description: User create request was sent by new developer portal.
              value: developerPortal
        confirmation:
          description: Determines the type of confirmation e-mail that will be sent
            to the newly created user.
          enum:
          - signup
          - invite
          title: confirmation
          type: string
          x-ms-enum:
            modelAsString: true
            name: Confirmation
            values:
            - description: Send an e-mail to the user confirming they have successfully
                signed up.
              value: signup
            - description: Send an e-mail inviting the user to sign-up and complete
                registration.
              value: invite
        email:
          description: Email address. Must not be empty and must be unique within
            the service instance.
          maxLength: 254
          minLength: 1
          title: email
          type: string
        firstName:
          description: First name.
          maxLength: 100
          minLength: 1
          title: firstName
          type: string
        lastName:
          description: Last name.
          maxLength: 100
          minLength: 1
          title: lastName
          type: string
        password:
          description: "User Password. If no value is provided, a default password\
            \ is generated."
          title: password
          type: string
      required:
      - email
      - firstName
      - lastName
      title: User_CreateOrUpdate_request_properties
      type: object
    User_CreateOrUpdate_request:
      description: User create details.
      properties:
        properties:
          $ref: '#/components/schemas/User_CreateOrUpdate_request_properties'
      title: User_CreateOrUpdate_request
      type: object
    UserSubscription_List_200_response_value_inner_properties:
      description: Subscription details.
      example:
        allowTracing: true
        secondaryKey: secondaryKey
        endDate: 2000-01-23T04:56:07.000+00:00
        displayName: displayName
        ownerId: ownerId
        createdDate: 2000-01-23T04:56:07.000+00:00
        scope: scope
        stateComment: stateComment
        state: suspended
        startDate: 2000-01-23T04:56:07.000+00:00
        expirationDate: 2000-01-23T04:56:07.000+00:00
        notificationDate: 2000-01-23T04:56:07.000+00:00
        primaryKey: primaryKey
      properties:
        allowTracing:
          description: Determines whether tracing is enabled
          title: allowTracing
          type: boolean
          x-apim-code-nillable: true
        createdDate:
          description: |
            Subscription creation date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          readOnly: true
          title: createdDate
          type: string
        displayName:
          description: "The name of the subscription, or null if the subscription\
            \ has no name."
          maxLength: 100
          minLength: 0
          title: displayName
          type: string
        endDate:
          description: |
            Date when subscription was cancelled or expired. The setting is for audit purposes only and the subscription is not automatically cancelled. The subscription lifecycle can be managed by using the `state` property. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: endDate
          type: string
        expirationDate:
          description: |
            Subscription expiration date. The setting is for audit purposes only and the subscription is not automatically expired. The subscription lifecycle can be managed by using the `state` property. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: expirationDate
          type: string
        notificationDate:
          description: |
            Upcoming subscription expiration notification date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: notificationDate
          type: string
        ownerId:
          description: "The user resource identifier of the subscription owner. The\
            \ value is a valid relative URL in the format of /users/{userId} where\
            \ {userId} is a user identifier."
          title: ownerId
          type: string
        primaryKey:
          description: Subscription primary key. This property will not be filled
            on 'GET' operations! Use '/listSecrets' POST request to get the value.
          maxLength: 256
          minLength: 1
          title: primaryKey
          type: string
          x-ms-secret: true
        scope:
          description: "Scope like /products/{productId} or /apis or /apis/{apiId}."
          title: scope
          type: string
        secondaryKey:
          description: Subscription secondary key. This property will not be filled
            on 'GET' operations! Use '/listSecrets' POST request to get the value.
          maxLength: 256
          minLength: 1
          title: secondaryKey
          type: string
          x-ms-secret: true
        startDate:
          description: |
            Subscription activation date. The setting is for audit purposes only and the subscription is not automatically activated. The subscription lifecycle can be managed by using the `state` property. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: startDate
          type: string
        state:
          description: "Subscription state. Possible states are * active – the subscription\
            \ is active, * suspended – the subscription is blocked, and the subscriber\
            \ cannot call any APIs of the product, * submitted – the subscription\
            \ request has been made by the developer, but has not yet been approved\
            \ or rejected, * rejected – the subscription request has been denied by\
            \ an administrator, * cancelled – the subscription has been cancelled\
            \ by the developer or administrator, * expired – the subscription reached\
            \ its expiration date and was deactivated."
          enum:
          - suspended
          - active
          - expired
          - submitted
          - rejected
          - cancelled
          title: state
          type: string
          x-ms-enum:
            modelAsString: false
            name: SubscriptionState
        stateComment:
          description: Optional subscription comment added by an administrator.
          title: stateComment
          type: string
      required:
      - scope
      - state
      title: UserSubscription_List_200_response_value_inner_properties
      type: object
    User_GetSharedAccessToken_request:
      description: Get User Token parameters.
      properties:
        properties:
          $ref: '#/components/schemas/User_GetSharedAccessToken_request_properties'
      title: User_GetSharedAccessToken_request
      type: object
    User_ListByService_200_response_value_inner_properties:
      description: User profile.
      example:
        firstName: firstName
        lastName: lastName
        registrationDate: 2000-01-23T04:56:07.000+00:00
        groups:
        - displayName: displayName
          builtIn: true
          description: description
          externalId: externalId
          type: custom
        - displayName: displayName
          builtIn: true
          description: description
          externalId: externalId
          type: custom
        email: email
      properties:
        email:
          description: Email address.
          title: email
          type: string
        firstName:
          description: First name.
          title: firstName
          type: string
        groups:
          description: Collection of groups user is part of.
          items:
            $ref: '#/components/schemas/User_ListByService_200_response_value_inner_properties_groups_inner'
          readOnly: true
          title: groups
          type: array
        lastName:
          description: Last name.
          title: lastName
          type: string
        registrationDate:
          description: |
            Date of user registration. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: registrationDate
          type: string
      title: User_ListByService_200_response_value_inner_properties
      type: object
    User_ListByService_200_response_value_inner:
      description: User details.
      example:
        properties:
          firstName: firstName
          lastName: lastName
          registrationDate: 2000-01-23T04:56:07.000+00:00
          groups:
          - displayName: displayName
            builtIn: true
            description: description
            externalId: externalId
            type: custom
          - displayName: displayName
            builtIn: true
            description: description
            externalId: externalId
            type: custom
          email: email
      properties:
        properties:
          $ref: '#/components/schemas/User_ListByService_200_response_value_inner_properties'
      title: User_ListByService_200_response_value_inner
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
