openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on API entity and their
    Operations associated with your Azure API Management deployment.
  title: ApiManagementClient
  version: 2019-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimapis.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: apimanagement-apimapis
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis:
    get:
      description: Lists all APIs of the API Management service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-apis
      operationId: api_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "|   Field     |     Usage     |     Supported operators    \
          \ |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|\
          \ name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith | </br>| description | filter | ge, le,\
          \ eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>|\
          \ serviceUrl | filter | ge, le, eq, ne, gt, lt | substringof, contains,\
          \ startswith, endswith | </br>| path | filter | ge, le, eq, ne, gt, lt |\
          \ substringof, contains, startswith, endswith | </br>"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Include tags in the response.
        in: query
        name: tags
        schema:
          type: string
      - description: Include full ApiVersionSet resource in response
        in: query
        name: expandApiVersionSet
        schema:
          type: boolean
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_200_response'
          description: Paged Result response of Apis.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Api
      x-ms-examples:
        ApiManagementListApis:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/a1
                  name: a1
                  properties:
                    apiRevision: "1"
                    apiVersionSetId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/c48f96c9-1385-4e2d-b410-5ab591ce0fc4
                    displayName: api1
                    isCurrent: true
                    path: api1
                    protocols:
                    - https
                    serviceUrl: http://echoapi.cloudapp.net/api
                  type: Microsoft.ApiManagement/service/apis
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5a73933b8f27f7cc82a2d533
                  name: 5a73933b8f27f7cc82a2d533
                  properties:
                    apiRevision: "1"
                    apiVersion: v1
                    apiVersionSetId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/c48f96c9-1385-4e2d-b410-5ab591ce0fc4
                    displayName: api1
                    isCurrent: true
                    path: api1
                    protocols:
                    - https
                    serviceUrl: http://echoapi.cloudapp.net/api
                  type: Microsoft.ApiManagement/service/apis
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api
                  name: echo-api
                  properties:
                    apiRevision: "1"
                    displayName: Echo API
                    isCurrent: true
                    path: echo
                    protocols:
                    - https
                    serviceUrl: http://echoapi.cloudapp.net/api
                  type: Microsoft.ApiManagement/service/apis
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5a7390baa5816a110435aee0
                  name: 5a7390baa5816a110435aee0
                  properties:
                    apiRevision: "1"
                    description: A sample API that uses a petstore as an example to
                      demonstrate features in the swagger-2.0 specification
                    displayName: Swagger Petstore Extensive
                    isCurrent: true
                    path: vvv
                    protocols:
                    - https
                    serviceUrl: http://petstore.swagger.wordnik.com/api
                  type: Microsoft.ApiManagement/service/apis
      x-ms-odata: ./definitions.json#/definitions/ApiContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.api_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}
  : delete:
      description: Deletes the specified API of the API Management service instance.
      operationId: api_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Delete all revisions of the Api.
        in: query
        name: deleteRevisions
        schema:
          type: boolean
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The API was successfully deleted.
        "204":
          content: {}
          description: The API was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Api
      x-ms-examples:
        ApiManagementDeleteApi:
          parameters:
            If-Match: '*'
            api-version: 2019-12-01-preview
            apiId: echo-api
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.api_controller
    get:
      description: Gets the details of the API specified by its identifier.
      operationId: api_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Get_200_response'
            application/vnd.sun.wadl+xml:
              schema:
                $ref: '#/components/schemas/Api_Get_200_response'
            application/vnd.swagger.doc+json:
              schema:
                $ref: '#/components/schemas/Api_Get_200_response'
            application/wsdl+xml:
              schema:
                $ref: '#/components/schemas/Api_Get_200_response'
            application/vnd.oai.openapi:
              schema:
                $ref: '#/components/schemas/Api_Get_200_response'
            application/vnd.oai.openapi+json:
              schema:
                $ref: '#/components/schemas/Api_Get_200_response'
          description: The response body contains the specified API entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
            application/vnd.sun.wadl+xml:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
            application/vnd.swagger.doc+json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
            application/wsdl+xml:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
            application/vnd.oai.openapi:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
            application/vnd.oai.openapi+json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Api
      x-ms-examples:
        ApiManagementGetApiContract:
          parameters:
            api-version: 2019-12-01-preview
            apiId: 57d1f7558aa04f15146d9d8a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a
                name: 57d1f7558aa04f15146d9d8a
                properties:
                  apiRevision: "1"
                  displayName: Service
                  isCurrent: true
                  isOnline: true
                  path: schulte
                  protocols:
                  - https
                  serviceUrl: https://api.plexonline.com/DataSource/Service.asmx
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  type: soap
                type: Microsoft.ApiManagement/service/apis
        ApiManagementGetApiRevisionContract:
          parameters:
            api-version: 2019-12-01-preview
            apiId: echo-api;rev=3
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api;rev=3
                name: echo-api;rev=3
                properties:
                  apiRevision: "3"
                  apiRevisionDescription: fixed bug in contract
                  displayName: Service
                  path: schulte
                  protocols:
                  - https
                  serviceUrl: https://api.plexonline.com/DataSource/Service.asmx
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
      x-openapi-router-controller: openapi_server.controllers.api_controller
    head:
      description: Gets the entity state (Etag) version of the API specified by its
        identifier.
      operationId: api_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified API entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Api
      x-ms-examples:
        ApiManagementHeadApi:
          parameters:
            api-version: 2019-12-01-preview
            apiId: 57d1f7558aa04f15146d9d8a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.api_controller
    patch:
      description: Updates the specified API of the API Management service instance.
      operationId: api_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api_Update_request'
        description: API Update Contract parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The API was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Api
      x-ms-examples:
        ApiManagementUpdateApi:
          parameters:
            If-Match: '*'
            api-version: 2019-12-01-preview
            apiId: echo-api
            parameters:
              properties:
                displayName: Echo API New
                path: newecho
                serviceUrl: http://echoapi.cloudapp.net/api2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_controller
    put:
      description: Creates new or updates existing specified API of the API Management
        service instance.
      operationId: api_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API revision identifier. Must be unique in the current API Management
          service instance. Non-current revision has ;rev=n as a suffix where n is
          the revision number.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api_CreateOrUpdate_request'
        description: Create or update parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Get_200_response'
          description: API was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Get_200_response'
          description: API was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "202":
          content: {}
          description: Request to create or update API was accepted. Location header
            contains the URL where the status of the long running operation can be
            checked.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Api
      x-ms-examples:
        ApiManagementCreateApi:
          parameters:
            api-version: 2019-12-01-preview
            apiId: tempgroup
            parameters:
              properties:
                authenticationSettings:
                  oAuth2:
                    authorizationServerId: authorizationServerId2283
                    scope: oauth2scope2580
                description: apidescription5200
                displayName: apiname1463
                path: newapiPath
                protocols:
                - https
                - http
                serviceUrl: http://newechoapi.cloudapp.net/api
                subscriptionKeyParameterNames:
                  header: header4520
                  query: query3037
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiid9419
                name: apiid9419
                properties:
                  apiRevision: "1"
                  authenticationSettings:
                    oAuth2:
                      authorizationServerId: authorizationServerId2283
                      scope: oauth2scope2580
                  description: apidescription5200
                  displayName: apiname1463
                  isCurrent: true
                  isOnline: true
                  path: newapiPath
                  protocols:
                  - http
                  - https
                  serviceUrl: http://newechoapi.cloudapp.net/api
                  subscriptionKeyParameterNames:
                    header: header4520
                    query: query3037
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiid9419
                name: apiid9419
                properties:
                  apiRevision: "1"
                  authenticationSettings:
                    oAuth2:
                      authorizationServerId: authorizationServerId2283
                      scope: oauth2scope2580
                  description: apidescription5200
                  displayName: apiname1463
                  isCurrent: true
                  isOnline: true
                  path: newapiPath
                  protocols:
                  - http
                  - https
                  serviceUrl: http://newechoapi.cloudapp.net/api
                  subscriptionKeyParameterNames:
                    header: header4520
                    query: query3037
                type: Microsoft.ApiManagement/service/apis
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/tempgroup?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
        ApiManagementCreateApiClone:
          parameters:
            api-version: 2019-12-01-preview
            apiId: echo-api2
            parameters:
              properties:
                description: Copy of Existing Echo Api including Operations.
                displayName: Echo API2
                isCurrent: true
                path: echo2
                protocols:
                - http
                - https
                serviceUrl: http://echoapi.cloudapp.net/api
                sourceApiId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/58a4aeac497000007d040001
                subscriptionRequired: true
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echoapi2
                name: echoapi2
                properties:
                  apiRevision: "1"
                  description: Copy of Existing Echo Api including Operations.
                  displayName: Echo API2
                  isCurrent: true
                  path: echo2
                  protocols:
                  - http
                  - https
                  serviceUrl: http://echoapi.cloudapp.net/api
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echoapi2
                name: echoapi2
                properties:
                  apiRevision: "1"
                  description: Copy of Existing Echo Api including Operations.
                  displayName: Echo API2
                  isCurrent: true
                  path: echo2
                  protocols:
                  - http
                  - https
                  serviceUrl: http://echoapi.cloudapp.net/api
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/apis
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/tempgroup?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
        ApiManagementCreateApiNewVersionUsingExistingApi:
          parameters:
            api-version: 2019-12-01-preview
            apiId: echoapiv3
            parameters:
              properties:
                apiVersion: v4
                apiVersionSetId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/aa9c59e6-c0cd-4258-9356-9ca7d2f0b458
                description: Create Echo API into a new Version using Existing Version
                  Set and Copy all Operations.
                displayName: Echo API2
                isCurrent: true
                path: echo2
                protocols:
                - http
                - https
                serviceUrl: http://echoapi.cloudapp.net/api
                sourceApiId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echoPath
                subscriptionRequired: true
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echoapiv3
                name: echoapiv3
                properties:
                  apiRevision: "1"
                  apiVersion: v4
                  apiVersionSet:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/aa9c59e6-c0cd-4258-9356-9ca7d2f0b458
                    name: Echo API2
                    versioningScheme: Segment
                  apiVersionSetId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/aa9c59e6-c0cd-4258-9356-9ca7d2f0b458
                  description: Create Echo API into a new Version using Existing Version
                    Set and Copy all Operations.
                  displayName: Echo API2
                  isCurrent: true
                  path: echo2
                  protocols:
                  - http
                  - https
                  serviceUrl: http://echoapi.cloudapp.net/api
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echoapiv3
                name: echoapiv3
                properties:
                  apiRevision: "1"
                  apiVersion: v4
                  apiVersionSet:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/aa9c59e6-c0cd-4258-9356-9ca7d2f0b458
                    name: Echo API2
                    versioningScheme: Segment
                  apiVersionSetId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/aa9c59e6-c0cd-4258-9356-9ca7d2f0b458
                  description: Create Echo API into a new Version using Existing Version
                    Set and Copy all Operations.
                  displayName: Echo API2
                  isCurrent: true
                  path: echo2
                  protocols:
                  - http
                  - https
                  serviceUrl: http://echoapi.cloudapp.net/api
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/apis
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/tempgroup?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
        ApiManagementCreateApiRevisionFromExistingApi:
          parameters:
            api-version: 2019-12-01-preview
            apiId: echo-api;rev=3
            parameters:
              properties:
                apiRevisionDescription: Creating a Revision of an existing API
                path: echo
                serviceUrl: http://echoapi.cloudapp.net/apiv3
                sourceApiId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api;rev=3
                name: echo-api;rev=3
                properties:
                  apiRevision: "3"
                  apiRevisionDescription: Creating a Revision of an existing API
                  displayName: Echo API
                  path: echo
                  protocols:
                  - https
                  serviceUrl: http://echoapi.cloudapp.net/apiv3
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api;rev=3
                name: echo-api;rev=3
                properties:
                  apiRevision: "3"
                  apiRevisionDescription: Creating a Revision of an existing API
                  displayName: Echo API
                  path: echo
                  protocols:
                  - https
                  serviceUrl: http://echoapi.cloudapp.net/apiv3
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/apis
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/tempgroup?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
        ApiManagementCreateApiUsingImportOverrideServiceUrl:
          parameters:
            api-version: 2019-12-01-preview
            apiId: apidocs
            parameters:
              properties:
                format: swagger-link
                path: petstoreapi123
                serviceUrl: http://petstore.swagger.wordnik.com/api
                value: http://apimpimportviaurl.azurewebsites.net/api/apidocs/
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apidocs
                name: apidocs
                properties:
                  apiRevision: "1"
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger \n    at <a href=\"http://swagger.wordnik.com\"\
                    >http://swagger.wordnik.com</a> or on irc.freenode.net, #swagger.\
                    \  For this sample,\n    you can use the api key \"special-key\"\
                    \ to test the authorization filters"
                  displayName: Swagger Sample App
                  isCurrent: true
                  path: petstoreapi123
                  protocols:
                  - https
                  serviceUrl: http://petstore.swagger.wordnik.com/api
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apidocs
                name: apidocs
                properties:
                  apiRevision: "1"
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger \n    at <a href=\"http://swagger.wordnik.com\"\
                    >http://swagger.wordnik.com</a> or on irc.freenode.net, #swagger.\
                    \  For this sample,\n    you can use the api key \"special-key\"\
                    \ to test the authorization filters"
                  displayName: Swagger Sample App
                  isCurrent: true
                  path: petstoreapi123
                  protocols:
                  - https
                  serviceUrl: http://petstore.swagger.wordnik.com/api
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apidocs?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
        ApiManagementCreateApiUsingOai3Import:
          parameters:
            api-version: 2019-12-01-preview
            apiId: petstore
            parameters:
              properties:
                format: openapi-link
                path: petstore
                value: https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v3.0/petstore.yaml
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/petstoreapi
                name: petstoreapi
                properties:
                  apiRevision: "1"
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                  - https
                  serviceUrl: http://petstore.swagger.io/v1
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/petstoreapi
                name: petstoreapi
                properties:
                  apiRevision: "1"
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                  - https
                  serviceUrl: http://petstore.swagger.io/v1
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/tempgroup?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
        ApiManagementCreateApiUsingSwaggerImport:
          parameters:
            api-version: 2019-12-01-preview
            apiId: petstore
            parameters:
              properties:
                format: swagger-link-json
                path: petstore
                value: http://petstore.swagger.io/v2/swagger.json
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/petstoreapi
                name: petstoreapi
                properties:
                  apiRevision: "1"
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger at [http://swagger.io](http://swagger.io)\
                    \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
                    \  For this sample, you can use the api key `special-key` to test\
                    \ the authorization filters."
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                  - http
                  serviceUrl: http://petstore.swagger.io/v2
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/petstoreapi
                name: petstoreapi
                properties:
                  apiRevision: "1"
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger at [http://swagger.io](http://swagger.io)\
                    \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
                    \  For this sample, you can use the api key `special-key` to test\
                    \ the authorization filters."
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                  - http
                  serviceUrl: http://petstore.swagger.io/v2
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/tempgroup?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
        ApiManagementCreateApiUsingWadlImport:
          parameters:
            api-version: 2019-12-01-preview
            apiId: petstore
            parameters:
              properties:
                format: wadl-link-json
                path: collector
                value: https://developer.cisco.com/media/wae-release-6-2-api-reference/wae-collector-rest-api/application.wadl
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/collectorwadl
                name: collectorwadl
                properties:
                  apiRevision: "1"
                  description: ""
                  displayName: http://localhost:8080/collector-northbound
                  isCurrent: true
                  path: collector
                  protocols:
                  - https
                  serviceUrl: http://localhost:8080/collector-northbound
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/collectorwadl
                name: collectorwadl
                properties:
                  apiRevision: "1"
                  description: ""
                  displayName: http://localhost:8080/collector-northbound
                  isCurrent: true
                  path: collector
                  protocols:
                  - https
                  serviceUrl: http://localhost:8080/collector-northbound
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/tempgroup?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
        ApiManagementCreateApiWithOpenIdConnect:
          parameters:
            api-version: 2019-12-01-preview
            apiId: tempgroup
            parameters:
              properties:
                authenticationSettings:
                  openid:
                    bearerTokenSendingMethods:
                    - authorizationHeader
                    openidProviderId: testopenid
                description: "This is a sample server Petstore server.  You can find\
                  \ out more about Swagger at [http://swagger.io](http://swagger.io)\
                  \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For\
                  \ this sample, you can use the api key `special-key` to test the\
                  \ authorization filters."
                displayName: Swagger Petstore
                path: petstore
                protocols:
                - https
                serviceUrl: http://petstore.swagger.io/v2
                subscriptionKeyParameterNames:
                  header: Ocp-Apim-Subscription-Key
                  query: subscription-key
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/58da4c4ccdae970a08121230
                name: 58da4c4ccdae970a08121230
                properties:
                  apiRevision: "1"
                  authenticationSettings:
                    openid:
                      bearerTokenSendingMethods:
                      - authorizationHeader
                      openidProviderId: testopenid
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger at [http://swagger.io](http://swagger.io)\
                    \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
                    \  For this sample, you can use the api key `special-key` to test\
                    \ the authorization filters."
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                  - https
                  serviceUrl: http://petstore.swagger.io/v2
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/58da4c4ccdae970a08121230
                name: 58da4c4ccdae970a08121230
                properties:
                  apiRevision: "1"
                  authenticationSettings:
                    openid:
                      bearerTokenSendingMethods:
                      - authorizationHeader
                      openidProviderId: testopenid
                  description: "This is a sample server Petstore server.  You can\
                    \ find out more about Swagger at [http://swagger.io](http://swagger.io)\
                    \ or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
                    \  For this sample, you can use the api key `special-key` to test\
                    \ the authorization filters."
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                  - https
                  serviceUrl: http://petstore.swagger.io/v2
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/tempgroup?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
        ApiManagementCreateSoapPassThroughApiUsingWsdlImport:
          parameters:
            api-version: 2019-12-01-preview
            apiId: soapApi
            parameters:
              properties:
                apiType: soap
                format: wsdl-link
                path: currency
                value: http://www.webservicex.net/CurrencyConvertor.asmx?WSDL
                wsdlSelector:
                  wsdlEndpointName: CurrencyConvertorSoap
                  wsdlServiceName: CurrencyConvertor
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: "1"
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                  - https
                  serviceUrl: http://www.webservicex.net
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  type: soap
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: "1"
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                  - https
                  serviceUrl: http://www.webservicex.net
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  type: soap
                type: Microsoft.ApiManagement/service/apis
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/tempgroup?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
        ApiManagementCreateSoapToRestApiUsingWsdlImport:
          parameters:
            api-version: 2019-12-01-preview
            apiId: soapApi
            parameters:
              properties:
                format: wsdl-link
                path: currency
                value: http://www.webservicex.net/CurrencyConvertor.asmx?WSDL
                wsdlSelector:
                  wsdlEndpointName: CurrencyConvertorSoap
                  wsdlServiceName: CurrencyConvertor
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: "1"
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                  - https
                  serviceUrl: http://www.webservicex.net
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: "1"
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                  - https
                  serviceUrl: http://www.webservicex.net
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/tempgroup?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics
  : get:
      description: Lists all diagnostics of an API.
      operationId: api_diagnostic_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "|   Field     |     Usage     |     Supported operators    \
          \ |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|\
          \ name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDiagnostic_ListByService_200_response'
          description: Paged Result response of diagnostics for an API.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostic
      x-ms-examples:
        ApiManagementListApiDiagnostics:
          parameters:
            api-version: 2019-12-01-preview
            apiId: echo-api
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api/diagnostics/applicationinsights
                  name: applicationinsights
                  properties:
                    alwaysLog: allErrors
                    backend:
                      request:
                        body:
                          bytes: 100
                        headers: []
                      response:
                        body:
                          bytes: 100
                        headers: []
                    frontend:
                      request:
                        body:
                          bytes: 100
                        headers: []
                      response:
                        body:
                          bytes: 100
                        headers: []
                    httpCorrelationProtocol: Legacy
                    logClientIp: true
                    loggerId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/aisamplingtest
                    sampling:
                      percentage: 100
                      samplingType: fixed
                  type: Microsoft.ApiManagement/service/apis/diagnostics
      x-ms-odata: ./definitions.json#/definitions/DiagnosticContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.api_diagnostic_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics/{diagnosticId}
  : delete:
      description: Deletes the specified Diagnostic from an API.
      operationId: api_diagnostic_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Diagnostic successfully removed
        "204":
          content: {}
          description: Diagnostic successfully removed by previous request or does
            not exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostic
      x-ms-examples:
        ApiManagementDeleteApiDiagnostic:
          parameters:
            If-Match: '*'
            api-version: 2019-12-01-preview
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: applicationinsights
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.api_diagnostic_controller
    get:
      description: Gets the details of the Diagnostic for an API specified by its
        identifier.
      operationId: api_diagnostic_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDiagnostic_Get_200_response'
          description: The response body contains the specified Diagnostic entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostic
      x-ms-examples:
        ApiManagementGetApiDiagnostic:
          parameters:
            api-version: 2019-12-01-preview
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: applicationinsights
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api/diagnostics/applicationinsights
                name: applicationinsights
                properties:
                  alwaysLog: allErrors
                  backend:
                    request:
                      body:
                        bytes: 100
                      headers: []
                    response:
                      body:
                        bytes: 100
                      headers: []
                  frontend:
                    request:
                      body:
                        bytes: 100
                      headers: []
                    response:
                      body:
                        bytes: 100
                      headers: []
                  httpCorrelationProtocol: Legacy
                  logClientIp: true
                  loggerId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/aisamplingtest
                  sampling:
                    percentage: 100
                    samplingType: fixed
                type: Microsoft.ApiManagement/service/apis/diagnostics
      x-openapi-router-controller: openapi_server.controllers.api_diagnostic_controller
    head:
      description: Gets the entity state (Etag) version of the Diagnostic for an API
        specified by its identifier.
      operationId: api_diagnostic_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostic
      x-ms-examples:
        ApiManagementHeadApiDiagnostic:
          parameters:
            api-version: 2019-12-01-preview
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: applicationinsights
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.api_diagnostic_controller
    patch:
      description: Updates the details of the Diagnostic for an API specified by its
        identifier.
      operationId: api_diagnostic_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiDiagnostic_Get_200_response'
        description: Diagnostic Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The Diagnostic was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostic
      x-ms-examples:
        ApiManagementUpdateApiDiagnostic:
          parameters:
            If-Match: '*'
            api-version: 2019-12-01-preview
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: applicationinsights
            parameters:
              properties:
                alwaysLog: allErrors
                backend:
                  request:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                  response:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                frontend:
                  request:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                  response:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                loggerId: /loggers/applicationinsights
                sampling:
                  percentage: 50
                  samplingType: fixed
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_diagnostic_controller
    put:
      description: Creates a new Diagnostic for an API or updates an existing one.
      operationId: api_diagnostic_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiDiagnostic_Get_200_response'
        description: Create parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDiagnostic_Get_200_response'
          description: Diagnostic was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDiagnostic_Get_200_response'
          description: Diagnostic was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiDiagnostic
      x-ms-examples:
        ApiManagementCreateApiDiagnostic:
          parameters:
            api-version: 2019-12-01-preview
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: applicationinsights
            parameters:
              properties:
                alwaysLog: allErrors
                backend:
                  request:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                  response:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                frontend:
                  request:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                  response:
                    body:
                      bytes: 512
                    headers:
                    - Content-type
                loggerId: /loggers/applicationinsights
                sampling:
                  percentage: 50
                  samplingType: fixed
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/applicationinsights
                name: applicationinsights
                properties:
                  alwaysLog: allErrors
                  backend:
                    request:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                    response:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                  frontend:
                    request:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                    response:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                  loggerId: /loggers/applicationinsights
                  sampling:
                    percentage: 50
                    samplingType: fixed
                type: Microsoft.ApiManagement/service/apis/diagnostics
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/applicationinsights
                name: applicationinsights
                properties:
                  alwaysLog: allErrors
                  backend:
                    request:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                    response:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                  frontend:
                    request:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                    response:
                      body:
                        bytes: 512
                      headers:
                      - Content-type
                  loggerId: /loggers/applicationinsights
                  sampling:
                    percentage: 50
                    samplingType: fixed
                type: Microsoft.ApiManagement/service/apis/diagnostics
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_diagnostic_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues
  : get:
      description: Lists all issues associated with the specified API.
      operationId: api_issue_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "|   Field     |     Usage     |     Supported operators    \
          \ |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|\
          \ name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| userId | filter | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith | </br>| state | filter | eq |     | </br>"
        in: query
        name: $filter
        schema:
          type: string
      - description: 'Expand the comment attachments. '
        in: query
        name: expandCommentsAttachments
        schema:
          type: boolean
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIssue_ListByService_200_response'
          description: Paged Result response of issues for the API.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiIssue
      x-ms-examples:
        ApiManagementListApiIssues:
          parameters:
            api-version: 2019-12-01-preview
            apiId: 57d1f7558aa04f15146d9d8a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/issues/57d2ef278aa04f0ad01d6cdc
                  name: 57d2ef278aa04f0ad01d6cdc
                  properties:
                    apiId: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a
                    createdDate: 2018-02-01T22:21:20.467Z
                    description: New API issue description
                    state: open
                    title: New API issue
                    userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                  type: Microsoft.ApiManagement/service/apis/issues
      x-ms-odata: ./definitions.json#/definitions/IssueContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.api_issue_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues/{issueId}
  : delete:
      description: Deletes the specified Issue from an API.
      operationId: api_issue_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Issue identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: issueId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Issue successfully removed
        "204":
          content: {}
          description: Issue successfully removed by previous request or does not
            exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiIssue
      x-ms-examples:
        ApiManagementDeleteApiIssue:
          parameters:
            If-Match: '*'
            api-version: 2019-12-01-preview
            apiId: 57d1f7558aa04f15146d9d8a
            issueId: 57d2ef278aa04f0ad01d6cdc
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.api_issue_controller
    get:
      description: Gets the details of the Issue for an API specified by its identifier.
      operationId: api_issue_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Issue identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: issueId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: 'Expand the comment attachments. '
        in: query
        name: expandCommentsAttachments
        schema:
          type: boolean
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIssue_Get_200_response'
          description: The response body contains the specified Issue entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiIssue
      x-ms-examples:
        ApiManagementGetApiIssue:
          parameters:
            api-version: 2019-12-01-preview
            apiId: 57d2ef278aa04f0888cba3f3
            issueId: 57d2ef278aa04f0ad01d6cdc
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/issues/57d2ef278aa04f0ad01d6cdc
                name: 57d2ef278aa04f0ad01d6cdc
                properties:
                  apiId: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a
                  createdDate: 2018-02-01T22:21:20.467Z
                  description: New API issue description
                  state: open
                  title: New API issue
                  userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                type: Microsoft.ApiManagement/service/apis/issues
      x-openapi-router-controller: openapi_server.controllers.api_issue_controller
    head:
      description: Gets the entity state (Etag) version of the Issue for an API specified
        by its identifier.
      operationId: api_issue_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
[...]
