openapi: 3.0.0
info:
  description: "The Nookipedia API provides endpoints for retrieving *Animal Crossing*\
    \ data pulled from the [Nookipedia wiki](https://nookipedia.com/wiki/Main_Page).\
    \ A couple of the key benefits of using the Nookipedia API is access to data spanning\
    \ the entire *Animal Crossing* series, as well as information that is constantly\
    \ updated and expanding as editors work on the wiki.<br><br>Access to the Nookipedia\
    \ API requires obtaining a key. This is so we can manage our scale and provide\
    \ better support for our users. To request access to the API, please fill out\
    \ [this form](https://forms.gle/wLwtXLerKhfDrRLY8)."
  title: Nookipedia
  version: 1.6.0
  x-origin:
  - format: openapi
    url: https://api.nookipedia.com/static/doc.yaml
    version: "3.0"
  x-providerName: dodo.ac
servers:
- url: https://api.nookipedia.com/
paths:
  /nh/art:
    get:
      description: "Get a list of all artwork and their details in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_art_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "When set to `true`, only artwork that has a fake will be returned.\
          \ When set to `false`, only artwork without fakes will be returned."
        explode: true
        in: query
        name: hasfake
        required: false
        schema:
          type: string
        style: form
      - description: "When set to `true`, only artwork names are returned. Instead\
          \ of an array of objects with all details, the return will be an array of\
          \ strings."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL. Note\
          \ that requesting specific image sizes for long lists may result in a very\
          \ long response time."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHArtwork'
                type: array
          description: A JSON array of artwork.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons artwork
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/art/{artwork}:
    get:
      description: "Retrieve information about a specific artwork in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_art_artwork_get
      parameters:
      - description: The name of the artwork you wish to retrieve information about.
        explode: false
        in: path
        name: artwork
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHArtwork'
          description: A JSON object describing the artwork.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons artwork
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/bugs:
    get:
      description: "Get a list of all bugs and their details in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_bugs_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Retrive only the bug that are available in a specific month.\
          \ Value may be the month's name (`jan`, `january`), the integer representing\
          \ the month (`01`, `1`), or `current` for the current month. When `current`\
          \ is specified, the return body will be an object with two arrays inside,\
          \ one called `north` and the other `south` containing the bug available\
          \ in each respective hemisphere. Note that the current month is calculated\
          \ based off the API server's time, so it may be slightly off for you at\
          \ the beginning or end of the month."
        explode: true
        in: query
        name: month
        required: false
        schema:
          type: string
        style: form
      - description: "When set to `true`, only bug names are returned. Instead of\
          \ an array of objects with all details, the return will be an array of strings.\
          \ This is particularly useful when used with the `month` filter, for users\
          \ who want just a list of bugs in a given month but not all their respective\
          \ details."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL. Note\
          \ that requesting specific image sizes for long lists may result in a very\
          \ long response time."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHBug'
                type: array
          description: A JSON array of bugs.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons bugs
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/bugs/{bug}:
    get:
      description: "Retrieve information about a specific bug in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_bugs_bug_get
      parameters:
      - description: The name of the bug you wish to retrieve information about.
        explode: false
        in: path
        name: bug
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHBug'
          description: A JSON object describing the bug.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
          description: Could not find the specified bug.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons bug
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/clothing:
    get:
      description: "Get a list of all clothing items and their details in *Animal\
        \ Crossing: New Horizons*."
      operationId: nh_clothing_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: Specify the category of clothing to return.
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - Tops
          - Bottoms
          - Dress-up
          - Headwear
          - Accessories
          - Socks
          - Shoes
          - Bags
          - Umbrellas
          type: string
        style: form
      - description: Return clothing that matches the provided colors (may specify
          one or two colors). Colors are used for gifting villagers.
        explode: true
        in: query
        name: color
        required: false
        schema:
          items:
            enum:
            - Aqua
            - Beige
            - Black
            - Blue
            - Brown
            - Colorful
            - Gray
            - Green
            - Orange
            - Pink
            - Purple
            - Red
            - White
            - Yellow
            type: string
          type: array
        style: form
      - description: Return clothing that matches the provided styles (may specify
          one or two styles). Styles are used for gifting villagers.
        explode: true
        in: query
        name: style
        required: false
        schema:
          items:
            enum:
            - Active
            - Cool
            - Cute
            - Elegant
            - Gorgeous
            - Simple
            type: string
          type: array
        style: form
      - description: "Return clothing that have the specified Label theme. This is\
          \ used for completing the requested outfit theme for [Label](https://nookipedia.com/wiki/Label)\
          \ when she visits the player's island."
        explode: true
        in: query
        name: labeltheme
        required: false
        schema:
          enum:
          - Comfy
          - Everyday
          - Fairy tale
          - Formal
          - Goth
          - Outdoorsy
          - Party
          - Sporty
          - Theatrical
          - Vacation
          - Work
          type: string
        style: form
      - description: "When set to `true`, only clothing names are returned. Instead\
          \ of an array of objects with all details, the return will be an array of\
          \ strings."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHClothing'
                type: array
          description: A JSON array of clothing.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons clothing
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/clothing/{clothing}:
    get:
      description: "Retrieve information about a specific clothing item in *Animal\
        \ Crossing: New Horizons*."
      operationId: nh_clothing_clothing_get
      parameters:
      - description: The name of the clothing you wish to retrieve information about.
        explode: false
        in: path
        name: clothing
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHClothing'
          description: A JSON object describing the clothing.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons clothing
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/events:
    get:
      description: "Get a list of events and dates in *Animal Crossing: New Horizons*,\
        \ filterable to specific years, months, or days. Data is available for the\
        \ current and next year."
      operationId: nh_events_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify a specific date (in the current or next year) to retrieve\
          \ events for. Accepts many date formats, such as `YYYY-MM-DD` or `Month\
          \ Day, Year`, as well as `today` to retrieve the current day's events (UTC\
          \ time)."
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: Specify the year to retrieve events for. Must be the current
          or next year.
        explode: true
        in: query
        name: year
        required: false
        schema:
          type: string
        style: form
      - description: "Specify the month to retrieve events for (accepts multiple formats,\
          \ such as `Oct`, `October`, or `10`). Most likely want to use alongside\
          \ `year`, otherwise events in both the current and next year are returned."
        explode: true
        in: query
        name: month
        required: false
        schema:
          type: string
        style: form
      - description: Specify the day of the month to retrieve events for.
        explode: true
        in: query
        name: day
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHEvent'
                type: array
          description: A JSON array of events.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons events
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/fish:
    get:
      description: Get a list of all fish and their details in *New Horizons*.
      operationId: nh_fish_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Retrive only the fish that are available in a specific month.\
          \ Value may be the month's name (`jan`, `january`), the integer representing\
          \ the month (`01`, `1`), or `current` for the current month. When `current`\
          \ is specified, the return body will be an object with two arrays inside,\
          \ one called `north` and the other `south` containing the fish available\
          \ in each respective hemisphere. Note that the current month is calculated\
          \ based off the API server's time, so it may be slightly off for you at\
          \ the beginning or end of the month."
        explode: true
        in: query
        name: month
        required: false
        schema:
          type: string
        style: form
      - description: "When set to `true`, only fish names are returned. Instead of\
          \ an array of objects with all details, the return will be an array of strings.\
          \ This is particularly useful when used with the `month` filter, for users\
          \ who want just a list of fish in a given month but not all their respective\
          \ details."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL. Note\
          \ that requesting specific image sizes for long lists may result in a very\
          \ long response time."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHFish'
                type: array
          description: A JSON array of fish.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons fish
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/fish/{fish}:
    get:
      description: "Retrieve information about a specific fish in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_fish_fish_get
      parameters:
      - description: The name of the fish you wish to retrieve information about.
        explode: false
        in: path
        name: fish
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHFish'
          description: A JSON object describing the fish.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
          description: Could not find the specified fish.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons fish
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/fossils/all:
    get:
      description: "Get a list of all the fossil groups with their respective individual\
        \ fossils in *Animal Crossing: New Horizons*."
      operationId: nh_fossils_all_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHFossilGroupWithIndividualFossilsNoMatched'
                type: array
          description: A JSON array of fossil groups.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons fossil groups or individual fossil
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/fossils/all/{fossil}:
    get:
      description: "Retrieve information about a specific fossil group with their\
        \ respective individual fossils in *Animal Crossing: New Horizons*."
      operationId: nh_fossils_all_fossil_get
      parameters:
      - description: "The name of the fossil OR fossil group you wish to retrieve\
          \ information about. If a fossil is provided, a fossil group that the specified\
          \ fossil belongs to will be returned."
        explode: false
        in: path
        name: fossil
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHFossilGroupWithIndividualFossils'
          description: A JSON object describing the fossil group.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons fossil group with individual fossils
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/fossils/groups:
    get:
      description: "Get a list of all the fossil groups in *Animal Crossing: New Horizons*."
      operationId: nh_fossils_groups_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHFossilGroup'
                type: array
          description: A JSON array of fossil groups.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons fossil groups
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/fossils/groups/{fossil_group}:
    get:
      description: "Retrieve information about a specific fossil group in *Animal\
        \ Crossing: New Horizons*."
      operationId: nh_fossils_groups_fossil_group_get
      parameters:
      - description: The name of the fossil group you wish to retrieve information
          about.
        explode: false
        in: path
        name: fossil_group
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHFossilGroup'
          description: A JSON object describing the fossil group.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons fossil group
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/fossils/individuals:
    get:
      description: "Get a list of all the individual fossils in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_fossils_individuals_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHIndividualFossil'
                type: array
          description: A JSON array of individual fossils.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons fossils
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/fossils/individuals/{fossil}:
    get:
      description: "Retrieve information about a specific individual fossil in *Animal\
        \ Crossing: New Horizons*."
      operationId: nh_fossils_individuals_fossil_get
      parameters:
      - description: The name of the individual fossil you wish to retrieve fossil
          information about.
        explode: false
        in: path
        name: fossil
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHIndividualFossil'
          description: A JSON object describing the individual fossil.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons fossil
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/furniture:
    get:
      description: "Get a list of all furniture and their details in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_furniture_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the category of furniture to return (houswares, miscellaneous,\
          \ or wall-mounted)."
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - Housewares
          - Miscellaneous
          - Wall-mounted
          type: string
        style: form
      - description: Return furniture that matches the provided colors (may specify
          one or two colors).
        explode: true
        in: query
        name: color
        required: false
        schema:
          items:
            enum:
            - Aqua
            - Beige
            - Black
            - Blue
            - Brown
            - Colorful
            - Gray
            - Green
            - Orange
            - Pink
            - Purple
            - Red
            - White
            - Yellow
            type: string
          type: array
        style: form
      - description: "When set to `true`, only furniture names are returned. Instead\
          \ of an array of objects with all details, the return will be an array of\
          \ strings."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHFurniture'
                type: array
          description: A JSON array of furniture.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons furniture
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/furniture/{furniture}:
    get:
      description: "Retrieve information about a specific furniture in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_furniture_furniture_get
      parameters:
      - description: The name of the furniture you wish to retrieve information about.
        explode: false
        in: path
        name: furniture
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHFurniture'
          description: A JSON object describing the furniture.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons furniture
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/interior:
    get:
      description: "Get a list of all interior items (flooring, wallpaper, and rugs)\
        \ and their details in *Animal Crossing: New Horizons*."
      operationId: nh_interior_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: Return furniture that matches the provided colors (may specify
          one or two colors).
        explode: true
        in: query
        name: color
        required: false
        schema:
          items:
            enum:
            - Aqua
            - Beige
            - Black
            - Blue
            - Brown
            - Colorful
            - Gray
            - Green
            - Orange
            - Pink
            - Purple
            - Red
            - White
            - Yellow
            type: string
          type: array
        style: form
      - description: "When set to `true`, only interior item names are returned. Instead\
          \ of an array of objects with all details, the return will be an array of\
          \ strings."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHInterior'
                type: array
          description: A JSON array of interior items.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons interior items
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/interior/{item}:
    get:
      description: "Retrieve information about a specific interior item in *Animal\
        \ Crossing: New Horizons*."
      operationId: nh_interior_item_get
      parameters:
      - description: The name of the interior item you wish to retrieve information
          about.
        explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: Return furniture that matches the provided colors (may specify
          one or two colors).
        explode: true
        in: query
        name: color
        required: false
        schema:
          items:
            enum:
            - Aqua
            - Beige
            - Black
            - Blue
            - Brown
            - Colorful
            - Gray
            - Green
            - Orange
            - Pink
            - Purple
            - Red
            - White
            - Yellow
            type: string
          type: array
        style: form
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHInterior'
          description: A JSON object describing the interior item.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons interior item
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/items:
    get:
      description: "Get a list of all miscellaneous items (such as materials, star\
        \ fragments, fruits, fences, and plants) and their details in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_items_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "When set to `true`, only item names are returned. Instead of\
          \ an array of objects with all details, the return will be an array of strings."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHItem'
                type: array
          description: A JSON array of items.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Miscellaneous New Horizons items
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/items/{item}:
    get:
      description: "Retrieve information about a miscellaneous item (such as materials,\
        \ star fragments, fruits, fences, and plants) in *Animal Crossing: New Horizons*."
      operationId: nh_items_item_get
      parameters:
      - description: The name of the interior item you wish to retrieve information
          about.
        explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHItem'
          description: A JSON object describing the item.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons miscellaneous item
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/photos:
    get:
      description: "Get a list of all character photos+posters and their details in\
        \ *Animal Crossing: New Horizons*."
      operationId: nh_photos_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "When set to `true`, only item names are returned. Instead of\
          \ an array of objects with all details, the return will be an array of strings."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHPhoto'
                type: array
          description: A JSON array of photos and posters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons photos and posters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/photos/{item}:
    get:
      description: "Retrieve information about a character photo or poster in *Animal\
        \ Crossing: New Horizons*."
      operationId: nh_photos_item_get
      parameters:
      - description: The name of the photo or poster you wish to retrieve information
          about.
        explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHPhoto'
          description: A JSON object describing the photo or poster.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons photo or poster
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/recipes:
    get:
      description: "Get a list of all recipes and their details in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_recipes_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: Specify a material to only get recipes that use that material.
          You can specify `material` up to six times (no recipe uses more than six
          materials).
        explode: true
        in: query
        name: material
        required: false
        schema:
          type: string
        style: form
      - description: "When set to `true`, only recipe names are returned. Instead\
          \ of an array of objects with all details, the return will be an array of\
          \ strings."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL. Note\
          \ that requesting specific image sizes for long lists may result in a very\
          \ long response time."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHRecipe'
                type: array
          description: A JSON array of recipes.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons recipes
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/recipes/{item}:
    get:
      description: "Retrieve information about a specific recipe in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_recipes_item_get
      parameters:
      - description: The name of the item you wish to retrieve recipe information
          about.
        explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHRecipe'
          description: A JSON object describing the recipe.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons recipe
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/sea:
    get:
      description: "Get a list of all sea creatures and their details in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_sea_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Retrive only the sea creature that are available in a specific\
          \ month. Value may be the month's name (`jan`, `january`), the integer representing\
          \ the month (`01`, `1`), or `current` for the current month. When `current`\
          \ is specified, the return body will be an object with two arrays inside,\
          \ one called `north` and the other `south` containing the sea creature available\
          \ in each respective hemisphere. Note that the current month is calculated\
          \ based off the API server's time, so it may be slightly off for you at\
          \ the beginning or end of the month."
        explode: true
        in: query
        name: month
        required: false
        schema:
          type: string
        style: form
      - description: "When set to `true`, only sea creature names are returned. Instead\
          \ of an array of objects with all details, the return will be an array of\
          \ strings. This is particularly useful when used with the `month` filter,\
          \ for users who want just a list of sea creatures in a given month but not\
          \ all their respective details."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL. Note\
          \ that requesting specific image sizes for long lists may result in a very\
          \ long response time."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHSeaCreature'
                type: array
          description: A JSON array of sea creatures.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons sea creatures
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/sea/{sea_creature}:
    get:
      description: "Retrieve information about a specific sea creature in *Animal\
        \ Crossing: New Horizons*."
      operationId: nh_sea_sea_creature_get
      parameters:
      - description: The name of the sea creature you wish to retrieve information
          about.
        explode: false
        in: path
        name: sea_creature
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHSeaCreature'
          description: A JSON object describing the sea creature.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
          description: Could not find the specified sea creature.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons sea creature
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/tools:
    get:
      description: "Get a list of all tools and their details in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_tools_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "When set to `true`, only tool names are returned. Instead of\
          \ an array of objects with all details, the return will be an array of strings."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NHTool'
                type: array
          description: A JSON array of interior items.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: All New Horizons tools
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /nh/tools/{tool}:
    get:
      description: "Retrieve information about a specific tool in *Animal Crossing:\
        \ New Horizons*."
      operationId: nh_tools_tool_get
      parameters:
      - description: The name of the interior item you wish to retrieve information
          about.
        explode: false
        in: path
        name: tool
        required: true
        schema:
          type: string
        style: simple
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NHTool'
          description: A JSON object describing the tool.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Single New Horizons tool
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /villagers:
    get:
      description: "This endpoint retrieves villager information from the entire *Animal\
        \ Crossing* series, with the option to filter by species, personality, game,\
        \ and/or birthday. Filters use the AND operator (e.g. asking for villagers\
        \ who have species `frog` and personality `smug` will return all smug frogs).\
        \ Note that villagers only include the animals that act as residents. Special\
        \ characters, such as Tom Nook and Isabelle, are not accessed through this\
        \ endpoint."
      operationId: villagers_get
      parameters:
      - description: "Your UUID secret key, granted to you by the Nookipedia team.\
          \ Required for accessing the API."
        explode: false
        in: header
        name: X-API-KEY
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "The version of the API you are calling, written as `1.0.0`.\
          \ This is specified as required as good practice, but it is not actually\
          \ enforced by the API. If you do not specify a version, you will be served\
          \ the latest version, which may eventually result in breaking changes."
        explode: false
        in: header
        name: Accept-Version
        required: true
        schema:
          type: string
        style: simple
      - description: "Villager name. For most names you will get back an array with\
          \ one object, but note that names are not a unique identifier across the\
          \ series, as there are 3 names that are shared by multiple villagers (Lulu,\
          \ Petunia, Carmen). For those 3 names you will get back an array with 2\
          \ objects. How you disambiguate between these villagers is up to you."
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Retrieve villagers of a certain species.
        explode: true
        in: query
        name: species
        required: false
        schema:
          enum:
          - alligator
          - anteater
          - bear
          - bear cub
          - bird
          - bull
          - cat
          - cub
          - chicken
          - cow
          - deer
          - dog
          - duck
          - eagle
          - elephant
          - frog
          - goat
          - gorilla
          - hamster
          - hippo
          - horse
          - koala
          - kangaroo
          - lion
          - monkey
          - mouse
          - octopus
          - ostrich
          - penguin
          - pig
          - rabbit
          - rhino
          - rhinoceros
          - sheep
          - squirrel
          - tiger
          - wolf
          type: string
        style: form
      - description: "Retrieve villagers with a certain personality. For 'sisterly',\
          \ note that the community often also calls it 'uchi' or 'big sister'."
        explode: true
        in: query
        name: personality
        required: false
        schema:
          enum:
          - big sister
          - cranky
          - jock
          - lazy
          - normal
          - peppy
          - sisterly
          - smug
          - snooty
          type: string
        style: form
      - description: "Retrieve villagers that appear in all listed games. For example,\
          \ if you want only villagers that appear in both *New Horizons* and *Pocket\
          \ Camp*, you would send in `?game=nh&game=pc`."
        explode: true
        in: query
        name: game
        required: false
        schema:
          items:
            enum:
            - DNM
            - AC
            - E_PLUS
            - WW
            - CF
            - NL
            - WA
            - NH
            - FILM
            - HHD
            - PC
            type: string
          type: array
        style: form
      - description: "Retrieve villagers born in a specific month. Value may be the\
          \ month's name (`jan`, `january`) or the integer representing the month\
          \ (`01`, `1`)."
        explode: true
        in: query
        name: birthmonth
        required: false
        schema:
          type: string
        style: form
      - description: "Use with `birthmonth` to get villager(s) born on a specific\
          \ day. Value should be an int, 1 through 31."
        explode: true
        in: query
        name: birthday
        required: false
        schema:
          type: string
        style: form
      - description: "When set to `true`, an `nh_details` object will be included\
          \ that contains *New Horizons* details about the villager. If the villager\
          \ does not appear in *New Horizons*, the returned `nh_details` field will\
          \ be set to null."
        explode: true
        in: query
        name: nhdetails
        required: false
        schema:
          type: string
        style: form
      - description: "When set to `true`, only villager names are returned. Instead\
          \ of an array of objects with all details, the return will be an array of\
          \ strings."
        explode: true
        in: query
        name: excludedetails
        required: false
        schema:
          type: string
        style: form
      - description: "Specify the desired width of returned image URLs. When unspecified,\
          \ the linked image(s) returned by the API will be full-resolution. Note\
          \ that images can only be reduced in size; specifying a width greater than\
          \ than the maximum size will return the default full-size image URL. Note\
          \ that requesting specific image sizes for long lists may result in a very\
          \ long response time."
        explode: true
        in: query
        name: thumbsize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Villager'
                type: array
          description: A JSON array of villagers.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: One of the inputs (usually query parameters) has an invalid
            value.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
          description: Failed to authenticate user from `X-API-KEY`.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: There was an error fetching the requested data.
      summary: Villagers
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Error400:
      description: Bad request (often an invalid input).
      example:
        details: Provided month filter jonuary was not recognized as a valid month.
        title: Failed to identify the provided month filter.
      properties:
        details:
          description: "A more in-depth description of the issue, including parameters\
            \ and/or error text when available."
          example: Provided month filter jonuary was not recognized as a valid month.
          title: details
          type: string
        title:
          description: A brief title describing the error.
          example: Failed to identify the provided month filter.
          title: title
          type: string
      title: Error400
      type: object
    Error401:
      description: Unauthorized.
      example:
        details: "UUID is either missing or invalid; or, unspecified server occured."
        title: Failed to validate UUID.
      properties:
        details:
          description: "A more in-depth description of the issue, including parameters\
            \ and/or error text when available."
          example: "UUID is either missing or invalid; or, unspecified server occured."
          title: details
          type: string
        title:
          description: A brief title describing the error.
          example: Failed to validate UUID.
          title: title
          type: string
      title: Error401
      type: object
    Error404:
      description: Not found.
      example:
        details: "MediaWiki Cargo request succeeded by nothing was returned for the\
          \ parameters: {}"
        title: No data was found for the given query.
      properties:
        details:
          description: "A more in-depth description of the issue, including parameters\
            \ and/or error text when available."
          example: "MediaWiki Cargo request succeeded by nothing was returned for\
            \ the parameters: {}"
          title: details
          type: string
        title:
          description: A brief title describing the error.
          example: No data was found for the given query.
          title: title
          type: string
      title: Error404
      type: object
    Error500:
      description: Internal server error.
      example:
        details: Details unknown.
        title: API experienced a fatal error.
      properties:
        details:
          description: "A more in-depth description of the issue, including parameters\
            \ and/or error text when available."
          example: Details unknown.
          title: details
          type: string
        title:
          description: A brief title describing the error.
          example: API experienced a fatal error.
          title: title
          type: string
      title: Error500
      type: object
    NHArtwork:
      example:
        has_fake: true
        year: circa 1487
        author: Leonardo da Vinci
        buy: 4980
        sell: 1245
        length: 1
        availability: Jolly Redd's Treasure Trawler
        real_info:
          image_url: https://dodo.ac/np/images/e/e8/Academic_Painting_NH_Icon.png
          description: "This drawing is based on the \"ideal\" human-body ratio, as\
            \ stated in \"De architectura.\" \"De architectura\" was a treatise by\
            \ Vitruvius, an architect from the early 1st century BCE."
          texture_url: https://dodo.ac/np/images/f/f6/Academic_Painting_NH_Texture.png
        art_type: Painting
        fake_info:
          image_url: https://dodo.ac/np/images/4/46/Academic_Painting_%28Fake%29_NH_Icon.png
          description: "In the forgery, there is a coffee stain in the top right corner.\
            \ The forgery also has a key taped to the back of the canvas. If there\
            \ is no stain and key, it is genuine."
          texture_url: https://dodo.ac/np/images/0/03/Academic_Painting_%28Fake%29_NH_Texture.png
        url: https://nookipedia.com/wiki/Academic_Painting
        name: Academic Painting
        width: 1
        art_style: Pen and ink on paper
        art_name: Vitruvian Man
      properties:
        art_name:
          description: The name of the real-life analog to the artwork.
          example: Vitruvian Man
          title: art_name
          type: string
        art_style:
          description: The art style of the artwork.
          example: Pen and ink on paper
          title: art_style
          type: string
        art_type:
          description: The type of artwork (either a painting or statue).
          enum:
          - Painting
          - Statue
          example: Painting
          title: art_type
          type: string
        author:
          description: The author of the real-life analog to the artwork.
          example: Leonardo da Vinci
          title: author
          type: string
        availability:
          description: The availability of the artwork.
          example: Jolly Redd's Treasure Trawler
          title: availability
          type: string
        buy:
          description: The number of Bells the artwork may be purchased for.
          example: 4980
          title: buy
          type: integer
        fake_info:
          $ref: '#/components/schemas/NHArtwork_fake_info'
        has_fake:
          description: Whether the artwork has a fake or not.
          example: true
          title: has_fake
          type: boolean
        length:
          description: The length of the artwork.
          example: 1
          format: float
          title: length
          type: number
        name:
          description: Name of the artwork.
          example: Academic Painting
          title: name
          type: string
        real_info:
          $ref: '#/components/schemas/NHArtwork_real_info'
        sell:
          description: "The number of Bells the artwork can be sold to Nook's store\
            \ for, when it is genuine."
          example: 1245
          title: sell
          type: integer
        url:
          description: Link to the respective Nookipedia article.
          example: https://nookipedia.com/wiki/Academic_Painting
          title: url
          type: string
        width:
          description: The width of the artwork.
          example: 1
          format: float
          title: width
          type: number
        year:
          description: "The year that the real-life analog was made. May be an exact\
            \ year, an estimate (\"circa\"), or a range."
          example: circa 1487
          title: year
          type: string
      title: NHArtwork
      type: object
    NHBug:
      example:
        tank_length: 1
        sell_nook: 160
        south:
          months_array:
          - 1
          - 2
          - 3
          times_by_month:
            "1": 8 AM – 5 PM
            "2": 8 AM – 5 PM
            "3": 8 AM – 5 PM
            "4": NA
            "5": NA
            "6": NA
            "7": NA
            "8": NA
            "9": NA
            "10": NA
            "11": NA
            "12": NA
          months: Jan – Mar
          availability_array:
          - months: Jan – Mar
            time: 8 AM – 5 PM
        catchphrases:
        - I caught a grasshopper! They're a grass act!
        image_url: https://dodo.ac/np/images/3/37/Grasshopper_NH_Icon.png
        north:
          months_array:
          - 7
          - 8
          - 9
          times_by_month:
            "1": NA
            "2": NA
            "3": NA
            "4": NA
            "5": NA
            "6": NA
            "7": 8 AM – 5 PM
            "8": 8 AM – 5 PM
            "9": 8 AM – 5 PM
            "10": NA
            "11": NA
            "12": NA
          months: Jul – Sep
          availability_array:
          - months: Jul – Sep
            time: 8 AM – 5 PM
        total_catch: 0
        url: https://nookipedia.com/wiki/Grasshopper
        number: 19
        render_url: https://dodo.ac/np/images/1/1d/Grasshopper_NH.png
        sell_flick: 240
        name: Grasshopper
        location: On the ground
        tank_width: 1
        rarity: Uncommon
      properties:
        catchphrases:
          description: "An array of possible catchphrases the player says after catching\
            \ the bug. Most critters have just one, but some can have multiple."
          example:
          - I caught a grasshopper! They're a grass act!
          items:
            type: string
          title: catchphrases
          type: array
        image_url:
          description: Image of the bug.
          example: https://dodo.ac/np/images/3/37/Grasshopper_NH_Icon.png
          title: image_url
          type: string
        location:
          description: Short descriptor of where the bug can be found.
          example: On the ground
          title: location
          type: string
        name:
          description: Name of the bug.
          example: Grasshopper
          title: name
          type: string
        north:
          $ref: '#/components/schemas/NHBug_north'
        number:
          description: "In-game bug number, marking position in the Critterpedia."
          example: 19
          title: number
          type: integer
        rarity:
          description: How rare the bug is. Note that this field is currently empty
            for most bugs as we do not yet know how exactly bug rarities are calculated
            in the game code.
          example: Uncommon
          title: rarity
          type: string
        render_url:
          description: Render of the bug.
          example: https://dodo.ac/np/images/1/1d/Grasshopper_NH.png
          title: render_url
          type: string
        sell_flick:
          description: The number of Bells the bug can be sold to Flick for. This
            value is always 1.5x that of `sell_nook`.
          example: 240
          title: sell_flick
          type: integer
        sell_nook:
          description: The number of Bells the bug can be sold to Nook's store for.
          example: 160
          title: sell_nook
          type: integer
        south:
          $ref: '#/components/schemas/NHBug_south'
        tank_length:
          description: The length of the tank when the bug is placed as a furniture
            item.
          example: 1
          format: float
          title: tank_length
          type: number
        tank_width:
          description: The width of the tank when the bug is placed as a furniture
            item.
          example: 1
          format: float
          title: tank_width
          type: number
        total_catch:
          description: The total number of bug the player has to have caught before
            this bug will start spawning.
          example: 0
          title: total_catch
          type: integer
        url:
          description: Link to the respective Nookipedia article.
          example: https://nookipedia.com/wiki/Grasshopper
          title: url
          type: string
      title: NHBug
      type: object
    NHClothing:
      example:
        notes: ""
        buy:
        - currency: Bells
          price: 490
        sell: 122
        vill_equip: true
        availability:
        - from: Able Sisters
          note: ""
        version_added: 1.0.0
        unlocked: true
        url: https://nookipedia.com/wiki/Item:3D_Glasses_(New_Horizons)
        label_themes:
        - Party
        variations:
        - colors:
          - White
          - Colorful
          image_url: https://dodo.ac/np/images/1/15/3D_Glasses_%28White%29_NH_Icon.png
[...]
