openapi: 3.0.1
info:
  title: DomainRegistrationProvider API Client
  version: 2018-02-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.DomainRegistration/stable/2018-02-01/DomainRegistrationProvider.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: web-DomainRegistrationProvider
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.DomainRegistration/operations:
    get:
      description: Implements Csm operations Api to exposes the list of available
        Csm Apis under the resource provider
      operationId: domain_registration_provider_list_operations
      parameters:
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_default_response'
          description: App Service error response.
      summary: Implements Csm operations Api to exposes the list of available Csm
        Apis under the resource provider
      tags:
      - DomainRegistrationProvider
      x-ms-examples:
        List operations:
          parameters:
            api-version: 2018-02-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Get the list of domains
                    operation: Get Domains
                    provider: Microsoft Domains
                    resource: Domain
                  name: Microsoft.DomainRegistration/domains/Read
                  origin: "user,system"
                - display:
                    description: Add a new Domain or update an existing one
                    operation: Add or Update Domain
                    provider: Microsoft Domains
                    resource: Domain
                  name: Microsoft.DomainRegistration/domains/Write
                  origin: "user,system"
                - display:
                    description: Delete an existing domain.
                    operation: Delete Domain
                    provider: Microsoft Domains
                    resource: Domain
                  name: Microsoft.DomainRegistration/domains/Delete
                  origin: "user,system"
                - display:
                    description: Get a domain operation
                    operation: Get Domain Operation
                    provider: Microsoft Domains
                    resource: Domain operation
                  name: Microsoft.DomainRegistration/domains/operationresults/Read
                  origin: "user,system"
                - display:
                    description: Generate a request for signing into domain control
                      center.
                    operation: Generate Domain Control Center Single Sign On Request
                    provider: Microsoft Domains
                    resource: Domain Control Center Single Sign On Request
                  name: Microsoft.DomainRegistration/generateSsoRequest/Action
                  origin: "user,system"
                - display:
                    description: Validate domain purchase object without submitting
                      it
                    operation: Domain Purchase Info Validation
                    provider: Microsoft Domains
                    resource: Domain Validation
                  name: Microsoft.DomainRegistration/validateDomainRegistrationInformation/Action
                  origin: "user,system"
                - display:
                    description: Check if a domain is available for purchase
                    operation: Check Domain Availability
                    provider: Microsoft Domains
                    resource: Domain Availability Result
                  name: Microsoft.DomainRegistration/checkDomainAvailability/Action
                  origin: "user,system"
                - display:
                    description: Retrieve the list domain recommendations based on
                      keywords
                    operation: Retrieve Domain Recommendations
                    provider: Microsoft Domains
                    resource: Domain Recommendations
                  name: Microsoft.DomainRegistration/listDomainRecommendations/Action
                  origin: "user,system"
                - display:
                    description: Register the Microsoft Domains resource provider
                      for the subscription
                    operation: Register Microsoft Domains resource provider
                    provider: Microsoft Domains
                    resource: Microsoft Domains resource provider
                  name: Microsoft.DomainRegistration/register/action
                  origin: "user,system"
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.domain_registration_provider_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ? DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_availabilities_inner
    : description: Retention policy of a resource metric.
      example:
        timeGrain: timeGrain
        blobDuration: blobDuration
      properties:
        blobDuration:
          title: blobDuration
          type: string
        timeGrain:
          title: timeGrain
          type: string
      title: DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_availabilities_inner
      type: object
    ? DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_dimensions_inner
    : description: "Dimension of a resource metric. For e.g. instance specific HTTP\
        \ requests for a web app, \nwhere instance name is dimension of the metric\
        \ HTTP request"
      example:
        internalName: internalName
        displayName: displayName
        name: name
        toBeExportedForShoebox: true
      properties:
        displayName:
          title: displayName
          type: string
        internalName:
          title: internalName
          type: string
        name:
          title: name
          type: string
        toBeExportedForShoebox:
          title: toBeExportedForShoebox
          type: boolean
      title: DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_dimensions_inner
      type: object
    DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification:
      description: Resource metrics service provided by Microsoft.Insights resource
        provider.
      example:
        logSpecifications:
        - blobDuration: blobDuration
          displayName: displayName
          name: name
        - blobDuration: blobDuration
          displayName: displayName
          name: name
        metricSpecifications:
        - displayDescription: displayDescription
          aggregationType: aggregationType
          sourceMdmNamespace: sourceMdmNamespace
          availabilities:
          - timeGrain: timeGrain
            blobDuration: blobDuration
          - timeGrain: timeGrain
            blobDuration: blobDuration
          displayName: displayName
          enableRegionalMdmAccount: true
          isInternal: true
          unit: unit
          supportsInstanceLevelAggregation: true
          fillGapWithZero: true
          name: name
          sourceMdmAccount: sourceMdmAccount
          category: category
          metricFilterPattern: metricFilterPattern
          dimensions:
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
        - displayDescription: displayDescription
          aggregationType: aggregationType
          sourceMdmNamespace: sourceMdmNamespace
          availabilities:
          - timeGrain: timeGrain
            blobDuration: blobDuration
          - timeGrain: timeGrain
            blobDuration: blobDuration
          displayName: displayName
          enableRegionalMdmAccount: true
          isInternal: true
          unit: unit
          supportsInstanceLevelAggregation: true
          fillGapWithZero: true
          name: name
          sourceMdmAccount: sourceMdmAccount
          category: category
          metricFilterPattern: metricFilterPattern
          dimensions:
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
      properties:
        logSpecifications:
          items:
            $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_logSpecifications_inner'
          title: logSpecifications
          type: array
        metricSpecifications:
          items:
            $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner'
          title: metricSpecifications
          type: array
      title: DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification
      type: object
    DomainRegistrationProvider_ListOperations_default_response_error_details_inner:
      description: Detailed errors.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: DomainRegistrationProvider_ListOperations_default_response_error_details_inner
      type: object
    DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner:
      description: Definition of a single resource metric.
      example:
        displayDescription: displayDescription
        aggregationType: aggregationType
        sourceMdmNamespace: sourceMdmNamespace
        availabilities:
        - timeGrain: timeGrain
          blobDuration: blobDuration
        - timeGrain: timeGrain
          blobDuration: blobDuration
        displayName: displayName
        enableRegionalMdmAccount: true
        isInternal: true
        unit: unit
        supportsInstanceLevelAggregation: true
        fillGapWithZero: true
        name: name
        sourceMdmAccount: sourceMdmAccount
        category: category
        metricFilterPattern: metricFilterPattern
        dimensions:
        - internalName: internalName
          displayName: displayName
          name: name
          toBeExportedForShoebox: true
        - internalName: internalName
          displayName: displayName
          name: name
          toBeExportedForShoebox: true
      properties:
        aggregationType:
          title: aggregationType
          type: string
        availabilities:
          items:
            $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_availabilities_inner'
          title: availabilities
          type: array
        category:
          title: category
          type: string
        dimensions:
          items:
            $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_dimensions_inner'
          title: dimensions
          type: array
        displayDescription:
          title: displayDescription
          type: string
        displayName:
          title: displayName
          type: string
        enableRegionalMdmAccount:
          title: enableRegionalMdmAccount
          type: boolean
        fillGapWithZero:
          title: fillGapWithZero
          type: boolean
        isInternal:
          title: isInternal
          type: boolean
        metricFilterPattern:
          title: metricFilterPattern
          type: string
        name:
          title: name
          type: string
        sourceMdmAccount:
          title: sourceMdmAccount
          type: string
        sourceMdmNamespace:
          title: sourceMdmNamespace
          type: string
        supportsInstanceLevelAggregation:
          title: supportsInstanceLevelAggregation
          type: boolean
        unit:
          title: unit
          type: string
      title: DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner
      type: object
    DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_logSpecifications_inner:
      description: Log Definition of a single resource metric.
      example:
        blobDuration: blobDuration
        displayName: displayName
        name: name
      properties:
        blobDuration:
          title: blobDuration
          type: string
        displayName:
          title: displayName
          type: string
        name:
          title: name
          type: string
      title: DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_logSpecifications_inner
      type: object
    DomainRegistrationProvider_ListOperations_200_response_value_inner_properties:
      description: Properties available for a Microsoft.Web resource provider operation.
      example:
        serviceSpecification:
          logSpecifications:
          - blobDuration: blobDuration
            displayName: displayName
            name: name
          - blobDuration: blobDuration
            displayName: displayName
            name: name
          metricSpecifications:
          - displayDescription: displayDescription
            aggregationType: aggregationType
            sourceMdmNamespace: sourceMdmNamespace
            availabilities:
            - timeGrain: timeGrain
              blobDuration: blobDuration
            - timeGrain: timeGrain
              blobDuration: blobDuration
            displayName: displayName
            enableRegionalMdmAccount: true
            isInternal: true
            unit: unit
            supportsInstanceLevelAggregation: true
            fillGapWithZero: true
            name: name
            sourceMdmAccount: sourceMdmAccount
            category: category
            metricFilterPattern: metricFilterPattern
            dimensions:
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
          - displayDescription: displayDescription
            aggregationType: aggregationType
            sourceMdmNamespace: sourceMdmNamespace
            availabilities:
            - timeGrain: timeGrain
              blobDuration: blobDuration
            - timeGrain: timeGrain
              blobDuration: blobDuration
            displayName: displayName
            enableRegionalMdmAccount: true
            isInternal: true
            unit: unit
            supportsInstanceLevelAggregation: true
            fillGapWithZero: true
            name: name
            sourceMdmAccount: sourceMdmAccount
            category: category
            metricFilterPattern: metricFilterPattern
            dimensions:
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification'
      title: DomainRegistrationProvider_ListOperations_200_response_value_inner_properties
      type: object
    DomainRegistrationProvider_ListOperations_200_response_value_inner:
      description: Description of an operation available for Microsoft.Web resource
        provider.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
        properties:
          serviceSpecification:
            logSpecifications:
            - blobDuration: blobDuration
              displayName: displayName
              name: name
            - blobDuration: blobDuration
              displayName: displayName
              name: name
            metricSpecifications:
            - displayDescription: displayDescription
              aggregationType: aggregationType
              sourceMdmNamespace: sourceMdmNamespace
              availabilities:
              - timeGrain: timeGrain
                blobDuration: blobDuration
              - timeGrain: timeGrain
                blobDuration: blobDuration
              displayName: displayName
              enableRegionalMdmAccount: true
              isInternal: true
              unit: unit
              supportsInstanceLevelAggregation: true
              fillGapWithZero: true
              name: name
              sourceMdmAccount: sourceMdmAccount
              category: category
              metricFilterPattern: metricFilterPattern
              dimensions:
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
            - displayDescription: displayDescription
              aggregationType: aggregationType
              sourceMdmNamespace: sourceMdmNamespace
              availabilities:
              - timeGrain: timeGrain
                blobDuration: blobDuration
              - timeGrain: timeGrain
                blobDuration: blobDuration
              displayName: displayName
              enableRegionalMdmAccount: true
              isInternal: true
              unit: unit
              supportsInstanceLevelAggregation: true
              fillGapWithZero: true
              name: name
              sourceMdmAccount: sourceMdmAccount
              category: category
              metricFilterPattern: metricFilterPattern
              dimensions:
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
      properties:
        display:
          $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_200_response_value_inner_display'
        name:
          title: name
          type: string
        origin:
          title: origin
          type: string
        properties:
          $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_200_response_value_inner_properties'
      title: DomainRegistrationProvider_ListOperations_200_response_value_inner
      type: object
    DomainRegistrationProvider_ListOperations_default_response_error:
      description: Error model.
      example:
        code: code
        innererror: innererror
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        details:
          items:
            $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_default_response_error_details_inner'
          title: details
          type: array
        innererror:
          description: More information to debug error.
          readOnly: true
          title: innererror
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: DomainRegistrationProvider_ListOperations_default_response_error
      type: object
    DomainRegistrationProvider_ListOperations_200_response_value_inner_display:
      description: Meta data about operation used for display in portal.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          title: description
          type: string
        operation:
          title: operation
          type: string
        provider:
          title: provider
          type: string
        resource:
          title: resource
          type: string
      title: DomainRegistrationProvider_ListOperations_200_response_value_inner_display
      type: object
    DomainRegistrationProvider_ListOperations_200_response:
      description: Collection of Azure resource manager operation metadata.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
          properties:
            serviceSpecification:
              logSpecifications:
              - blobDuration: blobDuration
                displayName: displayName
                name: name
              - blobDuration: blobDuration
                displayName: displayName
                name: name
              metricSpecifications:
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                supportsInstanceLevelAggregation: true
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                category: category
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                supportsInstanceLevelAggregation: true
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                category: category
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
          properties:
            serviceSpecification:
              logSpecifications:
              - blobDuration: blobDuration
                displayName: displayName
                name: name
              - blobDuration: blobDuration
                displayName: displayName
                name: name
              metricSpecifications:
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                supportsInstanceLevelAggregation: true
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                category: category
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                supportsInstanceLevelAggregation: true
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                category: category
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_200_response_value_inner'
          title: value
          type: array
      required:
      - value
      title: DomainRegistrationProvider_ListOperations_200_response
      type: object
    DomainRegistrationProvider_ListOperations_default_response:
      description: App Service error response.
      example:
        error:
          code: code
          innererror: innererror
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/DomainRegistrationProvider_ListOperations_default_response_error'
      title: DomainRegistrationProvider_ListOperations_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
