openapi: 3.0.1
info:
  description: The Azure Storage Management API.
  title: StorageManagementClient
  version: 2019-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/file.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: storage-file
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices
  : get:
      description: List all file services in storage accounts
      operationId: FileServices_List
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileServiceItems'
          description: OK -- List file services operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - FileService
      x-ms-examples:
        ListFileServices:
          parameters:
            accountName: sto1590
            api-version: 2019-06-01
            monitor: "true"
            resourceGroupName: res9290
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/res4410/providers/Microsoft.Storage/storageAccounts/sto8607/fileServices/default"
                  name: default
                  properties:
                    cors:
                      corsRules:
                      - allowedHeaders:
                        - x-ms-meta-abc
                        - x-ms-meta-data*
                        - x-ms-meta-target*
                        allowedMethods:
                        - GET
                        - HEAD
                        - POST
                        - OPTIONS
                        - MERGE
                        - PUT
                        allowedOrigins:
                        - http://www.contoso.com
                        - http://www.fabrikam.com
                        exposedHeaders:
                        - x-ms-meta-*
                        maxAgeInSeconds: 100
                      - allowedHeaders:
                        - '*'
                        allowedMethods:
                        - GET
                        allowedOrigins:
                        - '*'
                        exposedHeaders:
                        - '*'
                        maxAgeInSeconds: 2
                      - allowedHeaders:
                        - x-ms-meta-12345675754564*
                        allowedMethods:
                        - GET
                        - PUT
                        allowedOrigins:
                        - http://www.abc23.com
                        - https://www.fabrikam.com/*
                        exposedHeaders:
                        - x-ms-meta-abc
                        - x-ms-meta-data*
                        - x-ms-meta-target*
                        maxAgeInSeconds: 2000
                  sku:
                    name: Standard_GRS
                    tier: Standard
                  type: Microsoft.Storage/storageAccounts/fileServices
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares
  : get:
      description: Lists all shares.
      operationId: FileShares_List
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: Optional. Specified maximum number of shares that can be included
          in the list.
        in: query
        name: $maxpagesize
        schema:
          type: string
      - description: "Optional. When specified, only share names starting with the\
          \ filter will be listed."
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShareItems'
          description: OK -- List Shares operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - FileShares
      x-ms-examples:
        ListShares:
          parameters:
            accountName: sto1590
            api-version: 2019-06-01
            monitor: "true"
            resourceGroupName: res9290
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: "https://sto1590endpoint/subscriptions/{subscription-id}/resourceGroups/res9290/providers/Microsoft.Storage/storageAccounts/sto1590/fileServices/default/shares?api-version=2019-06-01&$maxpagesize=2&$skipToken=/sto1590/share5103"
                value:
                - etag: '"0x8D589847D51C7DE"'
                  id: "/subscriptions/{subscription-id}/resourceGroups/res9290/providers/Microsoft.Storage/storageAccounts/sto1590/fileServices/default/shares/share1644"
                  name: share1644
                  properties:
                    lastModifiedTime: 2019-05-14T08:20:47Z
                    shareQuota: 1024
                  type: Microsoft.Storage/storageAccounts/fileServices/shares
                - etag: '"0x8D589847DAB5AF9"'
                  id: "/subscriptions/{subscription-id}/resourceGroups/res9290/providers/Microsoft.Storage/storageAccounts/sto1590/fileServices/default/shares/share4052"
                  name: share4052
                  properties:
                    lastModifiedTime: 2019-05-14T08:20:47Z
                    shareQuota: 1024
                  type: Microsoft.Storage/storageAccounts/fileServices/shares
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares/{shareName}
  : delete:
      description: Deletes specified share under its account.
      operationId: FileShares_Delete
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the file share within the specified storage account.\
          \ File share names must be between 3 and 63 characters in length and use\
          \ numbers, lower-case letters and dash (-) only. Every dash (-) character\
          \ must be immediately preceded and followed by a letter or number."
        in: path
        name: shareName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content: {}
          description: OK -- Delete Share operation completed successfully.
        "204":
          content: {}
          description: No Content -- The Share not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - FileShares
      x-ms-examples:
        DeleteShares:
          parameters:
            accountName: sto4506
            api-version: 2019-06-01
            monitor: "true"
            resourceGroupName: res4079
            shareName: share9689
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets properties of a specified share.
      operationId: FileShares_Get
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the file share within the specified storage account.\
          \ File share names must be between 3 and 63 characters in length and use\
          \ numbers, lower-case letters and dash (-) only. Every dash (-) character\
          \ must be immediately preceded and followed by a letter or number."
        in: path
        name: shareName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShare'
          description: OK -- Get Share operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - FileShares
      x-ms-examples:
        GetShares:
          parameters:
            accountName: sto6217
            api-version: 2019-06-01
            monitor: "true"
            resourceGroupName: res9871
            shareName: share1634
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                etag: '"0x8D592D74CC20EBA"'
                id: "/subscriptions/{subscription-id}/resourceGroups/res9871/providers/Microsoft.Storage/storageAccounts/sto6217/fileServices/default/shares/share1634"
                name: share1634
                properties:
                  lastModifiedTime: 2019-05-26T05:06:14Z
                  shareQuota: 1024
                type: Microsoft.Storage/storageAccounts/fileServices/shares
      x-accepts:
      - application/json
    patch:
      description: 'Updates share properties as specified in request body. Properties
        not mentioned in the request will not be changed. Update fails if the specified
        share does not already exist. '
      operationId: FileShares_Update
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the file share within the specified storage account.\
          \ File share names must be between 3 and 63 characters in length and use\
          \ numbers, lower-case letters and dash (-) only. Every dash (-) character\
          \ must be immediately preceded and followed by a letter or number."
        in: path
        name: shareName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileShare'
        description: Properties to update for the file share.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShare'
          description: OK -- Update Share operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - FileShares
      x-ms-examples:
        UpdateShares:
          parameters:
            accountName: sto328
            api-version: 2019-06-01
            fileShare:
              properties:
                metadata:
                  type: image
            monitor: "true"
            resourceGroupName: res3376
            shareName: share6185
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/res3376/providers/Microsoft.Storage/storageAccounts/sto328/fileServices/default/shares/share6185"
                name: share6185
                properties:
                  metadata:
                    type: image
                type: Microsoft.Storage/storageAccounts/fileServices/shares
      x-codegen-request-body-name: fileShare
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: 'Creates a new share under the specified account as described by
        request body. The share resource includes metadata and properties for that
        share. It does not include a list of the files contained by the share. '
      operationId: FileShares_Create
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the file share within the specified storage account.\
          \ File share names must be between 3 and 63 characters in length and use\
          \ numbers, lower-case letters and dash (-) only. Every dash (-) character\
          \ must be immediately preceded and followed by a letter or number."
        in: path
        name: shareName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileShare'
        description: Properties of the file share to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShare'
          description: OK -- The Share is already created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShare'
          description: Created -- Create Share operation completed successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - FileShares
      x-ms-examples:
        PutShares:
          parameters:
            accountName: sto328
            api-version: 2019-06-01
            fileShare: {}
            monitor: "true"
            resourceGroupName: res3376
            shareName: share6185
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/res3376/providers/Microsoft.Storage/storageAccounts/sto328/fileServices/default/shares/share6185"
                name: share6185
                type: Microsoft.Storage/storageAccounts/fileServices/shares
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/res3376/providers/Microsoft.Storage/storageAccounts/sto328/fileServices/default/shares/share6185"
                name: share6185
                type: Microsoft.Storage/storageAccounts/fileServices/shares
      x-codegen-request-body-name: fileShare
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/{FileServicesName}
  : get:
      description: "Gets the properties of file services in storage accounts, including\
        \ CORS (Cross-Origin Resource Sharing) rules."
      operationId: FileServices_GetServiceProperties
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the file Service within the specified storage account.
          File Service Name must be "default"
        in: path
        name: FileServicesName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileServiceProperties'
          description: OK -- returned the properties of a storage account’s File service.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - FileService
      x-ms-examples:
        GetFileServices:
          parameters:
            FileServicesName: default
            accountName: sto8607
            api-version: 2019-06-01
            monitor: "true"
            resourceGroupName: res4410
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/res4410/providers/Microsoft.Storage/storageAccounts/sto8607/fileServices/default"
                name: default
                properties:
                  cors:
                    corsRules:
                    - allowedHeaders:
                      - x-ms-meta-abc
                      - x-ms-meta-data*
                      - x-ms-meta-target*
                      allowedMethods:
                      - GET
                      - HEAD
                      - POST
                      - OPTIONS
                      - MERGE
                      - PUT
                      allowedOrigins:
                      - http://www.contoso.com
                      - http://www.fabrikam.com
                      exposedHeaders:
                      - x-ms-meta-*
                      maxAgeInSeconds: 100
                    - allowedHeaders:
                      - '*'
                      allowedMethods:
                      - GET
                      allowedOrigins:
                      - '*'
                      exposedHeaders:
                      - '*'
                      maxAgeInSeconds: 2
                    - allowedHeaders:
                      - x-ms-meta-12345675754564*
                      allowedMethods:
                      - GET
                      - PUT
                      allowedOrigins:
                      - http://www.abc23.com
                      - https://www.fabrikam.com/*
                      exposedHeaders:
                      - x-ms-meta-abc
                      - x-ms-meta-data*
                      - x-ms-meta-target*
                      maxAgeInSeconds: 2000
                sku:
                  name: Standard_GRS
                  tier: Standard
                type: Microsoft.Storage/storageAccounts/fileServices
      x-accepts:
      - application/json
    put:
      description: "Sets the properties of file services in storage accounts, including\
        \ CORS (Cross-Origin Resource Sharing) rules. "
      operationId: FileServices_SetServiceProperties
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the file Service within the specified storage account.
          File Service Name must be "default"
        in: path
        name: FileServicesName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileServiceProperties'
        description: "The properties of file services in storage accounts, including\
          \ CORS (Cross-Origin Resource Sharing) rules."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileServiceProperties'
          description: OK -- Sets The properties of a storage account’s File service
            successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - FileService
      x-ms-examples:
        PutFileServices:
          parameters:
            FileServicesName: default
            accountName: sto8607
            api-version: 2019-06-01
            monitor: "true"
            parameters:
              properties:
                cors:
                  corsRules:
                  - allowedHeaders:
                    - x-ms-meta-abc
                    - x-ms-meta-data*
                    - x-ms-meta-target*
                    allowedMethods:
                    - GET
                    - HEAD
                    - POST
                    - OPTIONS
                    - MERGE
                    - PUT
                    allowedOrigins:
                    - http://www.contoso.com
                    - http://www.fabrikam.com
                    exposedHeaders:
                    - x-ms-meta-*
                    maxAgeInSeconds: 100
                  - allowedHeaders:
                    - '*'
                    allowedMethods:
                    - GET
                    allowedOrigins:
                    - '*'
                    exposedHeaders:
                    - '*'
                    maxAgeInSeconds: 2
                  - allowedHeaders:
                    - x-ms-meta-12345675754564*
                    allowedMethods:
                    - GET
                    - PUT
                    allowedOrigins:
                    - http://www.abc23.com
                    - https://www.fabrikam.com/*
                    exposedHeaders:
                    - x-ms-meta-abc
                    - x-ms-meta-data*
                    - x-ms-meta-target*
                    maxAgeInSeconds: 2000
            resourceGroupName: res4410
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/res4410/providers/Microsoft.Storage/storageAccounts/sto8607/fileServices/default"
                name: default
                properties:
                  cors:
                    corsRules:
                    - allowedHeaders:
                      - x-ms-meta-abc
                      - x-ms-meta-data*
                      - x-ms-meta-target*
                      allowedMethods:
                      - GET
                      - HEAD
                      - POST
                      - OPTIONS
                      - MERGE
                      - PUT
                      allowedOrigins:
                      - http://www.contoso.com
                      - http://www.fabrikam.com
                      exposedHeaders:
                      - x-ms-meta-*
                      maxAgeInSeconds: 100
                    - allowedHeaders:
                      - '*'
                      allowedMethods:
                      - GET
                      allowedOrigins:
                      - '*'
                      exposedHeaders:
                      - '*'
                      maxAgeInSeconds: 2
                    - allowedHeaders:
                      - x-ms-meta-12345675754564*
                      allowedMethods:
                      - GET
                      - PUT
                      allowedOrigins:
                      - http://www.abc23.com
                      - https://www.fabrikam.com/*
                      exposedHeaders:
                      - x-ms-meta-abc
                      - x-ms-meta-data*
                      - x-ms-meta-target*
                      maxAgeInSeconds: 2000
                sku:
                  name: Standard_GRS
                  tier: Standard
                type: Microsoft.Storage/storageAccounts/fileServices
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    FileServicesName:
      description: The name of the file Service within the specified storage account.
        File Service Name must be "default"
      in: path
      name: FileServicesName
      required: true
      schema:
        enum:
        - default
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ShareName:
      description: "The name of the file share within the specified storage account.\
        \ File share names must be between 3 and 63 characters in length and use numbers,\
        \ lower-case letters and dash (-) only. Every dash (-) character must be immediately\
        \ preceded and followed by a letter or number."
      in: path
      name: shareName
      required: true
      schema:
        maxLength: 63
        minLength: 3
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    CloudError:
      description: An error response from the Storage service.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from the Storage service.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          type: string
        target:
          description: "The target of the particular error. For example, the name\
            \ of the property in error."
          type: string
      type: object
      x-ms-external: true
    FileServiceItems:
      example:
        value:
        - sku: "{}"
          properties: "{}"
        - sku: "{}"
          properties: "{}"
      properties:
        value:
          description: List of file services returned.
          items:
            $ref: '#/components/schemas/FileServiceProperties'
          readOnly: true
          type: array
      type: object
    FileServiceProperties:
      allOf:
      - properties:
          id:
            description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
              or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: The properties of File services in storage account.
      example:
        sku: "{}"
        properties: "{}"
      properties:
        properties:
          description: The properties of File services in storage account.
          properties:
            cors:
              description: 'Sets the CORS rules. You can include up to five CorsRule
                elements in the request. '
              properties:
                corsRules:
                  description: 'The List of CORS rules. You can include up to five
                    CorsRule elements in the request. '
                  items:
                    description: Specifies a CORS rule for the Blob service.
                    properties:
                      allowedHeaders:
                        description: Required if CorsRule element is present. A list
                          of headers allowed to be part of the cross-origin request.
                        items:
                          type: string
                        type: array
                      allowedMethods:
                        description: Required if CorsRule element is present. A list
                          of HTTP methods that are allowed to be executed by the origin.
                        items:
                          enum:
                          - DELETE
                          - GET
                          - HEAD
                          - MERGE
                          - POST
                          - OPTIONS
                          - PUT
                          type: string
                        type: array
                      allowedOrigins:
                        description: "Required if CorsRule element is present. A list\
                          \ of origin domains that will be allowed via CORS, or \"\
                          *\" to allow all domains"
                        items:
                          type: string
                        type: array
                      exposedHeaders:
                        description: Required if CorsRule element is present. A list
                          of response headers to expose to CORS clients.
                        items:
                          type: string
                        type: array
                      maxAgeInSeconds:
                        description: Required if CorsRule element is present. The
                          number of seconds that the client/browser should cache a
                          preflight response.
                        type: integer
                    required:
                    - allowedHeaders
                    - allowedMethods
                    - allowedOrigins
                    - exposedHeaders
                    - maxAgeInSeconds
                    type: object
                  type: array
              type: object
            shareDeleteRetentionPolicy:
              description: The service properties for soft delete.
              properties:
                days:
                  description: Indicates the number of days that the deleted item
                    should be retained. The minimum specified value can be 1 and the
                    maximum value can be 365.
                  maximum: 365
                  minimum: 1
                  type: integer
                enabled:
                  description: Indicates whether DeleteRetentionPolicy is enabled.
                  type: boolean
              type: object
          type: object
          x-ms-client-name: FileServiceProperties
          x-ms-client-flatten: true
        sku:
          description: The SKU of the storage account.
          properties:
            name:
              description: "The SKU name. Required for account creation; optional\
                \ for update. Note that in older versions, SKU name was called accountType."
              enum:
              - Standard_LRS
              - Standard_GRS
              - Standard_RAGRS
              - Standard_ZRS
              - Premium_LRS
              - Premium_ZRS
              - Standard_GZRS
              - Standard_RAGZRS
              type: string
              x-ms-enum:
                modelAsString: true
                name: SkuName
            tier:
              description: The SKU tier. This is based on the SKU name.
              enum:
              - Standard
              - Premium
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: SkuTier
          required:
          - name
          type: object
    FileShare:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a Azure Resource Manager resource
          with an etag.
        properties:
          etag:
            description: Resource Etag.
            readOnly: true
            type: string
        x-ms-client-name: AzureEntityResource
      description: "Properties of the file share, including Id, resource name, resource\
        \ type, Etag."
      example:
        properties:
          shareQuota: 8201
          metadata:
            key: metadata
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/FileShareProperties'
    FileShareItem:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a Azure Resource Manager resource
          with an etag.
        properties:
          etag:
            description: Resource Etag.
            readOnly: true
            type: string
        x-ms-client-name: AzureEntityResource
      description: The file share properties be listed out.
      example:
        properties:
          shareQuota: 8201
          metadata:
            key: metadata
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/FileShareProperties'
    FileShareItems:
      description: "Response schema. Contains list of shares returned, and if paging\
        \ is requested or required, a URL to next page of shares."
      example:
        value:
        - properties:
            shareQuota: 8201
            metadata:
              key: metadata
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        - properties:
            shareQuota: 8201
            metadata:
              key: metadata
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Request URL that can be used to query next page of shares.
            Returned when total number of requested shares exceed maximum page size.
          readOnly: true
          type: string
        value:
          description: List of file shares returned.
          items:
            $ref: '#/components/schemas/FileShareItem'
          readOnly: true
          type: array
      type: object
    FileShareProperties:
      description: The properties of the file share.
      example:
        shareQuota: 8201
        metadata:
          key: metadata
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
      properties:
        lastModifiedTime:
          description: Returns the date and time the share was last modified.
          format: date-time
          readOnly: true
          type: string
        metadata:
          additionalProperties:
            type: string
          description: A name-value pair to associate with the share as metadata.
          type: object
        shareQuota:
          description: "The maximum size of the share, in gigabytes. Must be greater\
            \ than 0, and less than or equal to 5TB (5120). For Large File Shares,\
            \ the maximum size is 102400."
          maximum: 102400
          minimum: 1
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

