openapi: 3.0.0
info:
  contact:
    name: Vonage Business Cloud Support
    url: https://businesssupport.vonage.com/contactus
  description: |
    The Vonage Business Cloud Account API enables you to retrieve information about accounts.

    Your application must subscribe to the Provisioning API suite to use this API.
  termsOfService: https://www.vonage.com/business/legal-policy-center/business-cloud/tos
  title: Account API
  version: 1.11.8
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/vonage-business-cloud/account.yml
    version: "3.0"
  x-providerName: vonage.com
  x-serviceName: account
servers:
- url: https://api.vonage.com/t/vbc.prod/provisioning
paths:
  /api/accounts/{account_id}:
    get:
      operationId: account_ctrl_get_account_services_by_account_id
      parameters:
      - description: The Vonage Business Cloud account ID
        example: 571700
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHalResponse'
          description: Success
        "404":
          description: Account not found
      security:
      - bearerAuth: []
      summary: Get account data by ID
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /api/accounts/{account_id}/locations:
    get:
      operationId: account_ctrl_get_locations_by_account_id
      parameters:
      - description: The Vonage Business Cloud account ID
        example: 571700
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsHalResponse'
          description: Success
      security:
      - bearerAuth: []
      summary: Get account locations data by account ID
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /api/accounts/{account_id}/locations/{location_id}:
    get:
      operationId: account_ctrl_get_location_by_id
      parameters:
      - description: The Vonage Business Cloud account ID
        example: 571700
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: number
        style: simple
      - description: The Vonage Business Cloud location ID
        example: 327910
        explode: false
        in: path
        name: location_id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationHalResponse'
          description: Success
        "404":
          description: Location not found
      security:
      - bearerAuth: []
      summary: Get location data by account ID and location ID
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    AccountID:
      description: The Vonage Business Cloud account ID
      example: 571700
      explode: false
      in: path
      name: account_id
      required: true
      schema:
        type: number
      style: simple
  schemas:
    Account:
      example:
        address:
          country: US
          city: Holmdel
          address_1: 123 Example Street
          address_2: Apt. 456
          state: NJ
          postal_code: "07733"
        name: Vonage
        id: 571700
        status: ACTIVE
      properties:
        address:
          $ref: '#/components/schemas/Address'
        id:
          description: Unique identifier of the account
          example: 571700
          title: id
          type: number
        name:
          description: Name of the account
          example: Vonage
          title: name
          type: string
        status:
          description: Status of the account
          example: ACTIVE
          title: status
          type: string
      title: Account
      type: object
    AccountEmbeddedObject:
      description: Account object
      example:
        data:
          address:
            country: US
            city: Holmdel
            address_1: 123 Example Street
            address_2: Apt. 456
            state: NJ
            postal_code: "07733"
          name: Vonage
          id: 571700
          status: ACTIVE
      properties:
        data:
          $ref: '#/components/schemas/Account'
      title: AccountEmbeddedObject
      type: object
    AccountHalResponse:
      example:
        _embedded:
          data:
            address:
              country: US
              city: Holmdel
              address_1: 123 Example Street
              address_2: Apt. 456
              state: NJ
              postal_code: "07733"
            name: Vonage
            id: 571700
            status: ACTIVE
        _links:
          next:
            href: href
          last:
            href: href
          prev:
            href: href
          self:
            href: href
          first:
            href: href
        page: 1
        total_pages: 10
        total_items: 100
        page_size: 100
      properties:
        _embedded:
          $ref: '#/components/schemas/AccountEmbeddedObject'
        _links:
          $ref: '#/components/schemas/Links'
        page:
          description: Current page number
          example: 1
          title: page
          type: number
        page_size:
          description: Number of records per page
          example: 100
          title: page_size
          type: number
        total_items:
          description: Total number of records
          example: 100
          title: total_items
          type: number
        total_pages:
          description: Total number of pages
          example: 10
          title: total_pages
          type: number
      title: AccountHalResponse
      type: object
    Address:
      example:
        country: US
        city: Holmdel
        address_1: 123 Example Street
        address_2: Apt. 456
        state: NJ
        postal_code: "07733"
      properties:
        address_1:
          description: Street portion of the address
          example: 123 Example Street
          title: address_1
          type: string
        address_2:
          description: Additional address information
          example: Apt. 456
          title: address_2
          type: string
        city:
          description: City name
          example: Holmdel
          title: city
          type: string
        country:
          description: Country code
          example: US
          title: country
          type: string
        postal_code:
          description: Postal code
          example: "07733"
          title: postal_code
          type: string
        state:
          description: State/Province code
          example: NJ
          title: state
          type: string
      title: Address
      type: object
    AddressWithTimeZone:
      example:
        country: US
        city: Holmdel
        address_1: 123 Example Street
        address_2: Apt. 456
        state: NJ
        postal_code: "07733"
        time_zone: America/New York
      properties:
        address_1:
          description: Street portion of the address
          example: 123 Example Street
          title: address_1
          type: string
        address_2:
          description: Additional address information
          example: Apt. 456
          title: address_2
          type: string
        city:
          description: City name
          example: Holmdel
          title: city
          type: string
        country:
          description: Country code
          example: US
          title: country
          type: string
        postal_code:
          description: Postal code
          example: "07733"
          title: postal_code
          type: string
        state:
          description: State/Province code
          example: NJ
          title: state
          type: string
        time_zone:
          description: Time zone
          example: America/New York
          title: time_zone
          type: string
      title: AddressWithTimeZone
      type: object
    FirstHref:
      description: URL to the first page of records
      example:
        href: href
      properties:
        href:
          title: href
          type: string
      title: FirstHref
      type: object
    LastHref:
      description: URL to the last page of records
      example:
        href: href
      properties:
        href:
          title: href
          type: string
      title: LastHref
      type: object
    Links:
      example:
        next:
          href: href
        last:
          href: href
        prev:
          href: href
        self:
          href: href
        first:
          href: href
      properties:
        first:
          $ref: '#/components/schemas/FirstHref'
        last:
          $ref: '#/components/schemas/LastHref'
        next:
          $ref: '#/components/schemas/NextHref'
        prev:
          $ref: '#/components/schemas/PrevHref'
        self:
          $ref: '#/components/schemas/SelfHref'
      title: Links
      type: object
    Location:
      example:
        address:
          country: US
          city: Holmdel
          address_1: 123 Example Street
          address_2: Apt. 456
          state: NJ
          postal_code: "07733"
          time_zone: America/New York
        name: Headquarters
        id: 327910
      properties:
        address:
          $ref: '#/components/schemas/AddressWithTimeZone'
        id:
          description: Unique identifier of the location
          example: 327910
          title: id
          type: number
        name:
          description: Name of the location
          example: Headquarters
          title: name
          type: string
      title: Location
      type: object
    LocationEmbeddedObject:
      description: Location object
      example:
        data:
          address:
            country: US
            city: Holmdel
            address_1: 123 Example Street
            address_2: Apt. 456
            state: NJ
            postal_code: "07733"
            time_zone: America/New York
          name: Headquarters
          id: 327910
      properties:
        data:
          $ref: '#/components/schemas/Location'
      title: LocationEmbeddedObject
      type: object
    LocationHalResponse:
      example:
        _embedded:
          data:
            address:
              country: US
              city: Holmdel
              address_1: 123 Example Street
              address_2: Apt. 456
              state: NJ
              postal_code: "07733"
              time_zone: America/New York
            name: Headquarters
            id: 327910
        _links:
          next:
            href: href
          last:
            href: href
          prev:
            href: href
          self:
            href: href
          first:
            href: href
        page: 1
        total_pages: 10
        total_items: 100
        page_size: 100
      properties:
        _embedded:
          $ref: '#/components/schemas/LocationEmbeddedObject'
        _links:
          $ref: '#/components/schemas/Links'
        page:
          description: Current page number
          example: 1
          title: page
          type: number
        page_size:
          description: Number of records per page
          example: 100
          title: page_size
          type: number
        total_items:
          description: Total number of records
          example: 100
          title: total_items
          type: number
        total_pages:
          description: Total number of pages
          example: 10
          title: total_pages
          type: number
      title: LocationHalResponse
      type: object
    LocationsEmbeddedObject:
      description: Collection of location objects
      example:
        data:
        - address:
            country: US
            city: Holmdel
            address_1: 123 Example Street
            address_2: Apt. 456
            state: NJ
            postal_code: "07733"
            time_zone: America/New York
          name: Headquarters
          id: 327910
        - address:
            country: US
            city: Holmdel
            address_1: 123 Example Street
            address_2: Apt. 456
            state: NJ
            postal_code: "07733"
            time_zone: America/New York
          name: Headquarters
          id: 327910
      properties:
        data:
          items:
            $ref: '#/components/schemas/Location'
          title: data
          type: array
      title: LocationsEmbeddedObject
      type: object
    LocationsHalResponse:
      example:
        _embedded:
          data:
          - address:
              country: US
              city: Holmdel
              address_1: 123 Example Street
              address_2: Apt. 456
              state: NJ
              postal_code: "07733"
              time_zone: America/New York
            name: Headquarters
            id: 327910
          - address:
              country: US
              city: Holmdel
              address_1: 123 Example Street
              address_2: Apt. 456
              state: NJ
              postal_code: "07733"
              time_zone: America/New York
            name: Headquarters
            id: 327910
        _links:
          next:
            href: href
          last:
            href: href
          prev:
            href: href
          self:
            href: href
          first:
            href: href
        page: 1
        total_pages: 10
        total_items: 100
        page_size: 100
      properties:
        _embedded:
          $ref: '#/components/schemas/LocationsEmbeddedObject'
        _links:
          $ref: '#/components/schemas/Links'
        page:
          example: 1
          title: page
          type: number
        page_size:
          example: 100
          title: page_size
          type: number
        total_items:
          example: 100
          title: total_items
          type: number
        total_pages:
          example: 10
          title: total_pages
          type: number
      title: LocationsHalResponse
      type: object
    NextHref:
      description: URL to the next page of records
      example:
        href: href
      properties:
        href:
          title: href
          type: string
      title: NextHref
      type: object
    PrevHref:
      description: URL to the previous page of records
      example:
        href: href
      properties:
        href:
          title: href
          type: string
      title: PrevHref
      type: object
    SelfHref:
      description: URL to the current page of records
      example:
        href: href
      properties:
        href:
          title: href
          type: string
      title: SelfHref
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: OAuth
      scheme: bearer
      type: http
      x-bearerInfoFunc: openapi_server.controllers.security_controller.info_from_bearerAuth
