openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Reads and writes Google Slides presentations.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Slides API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://slides.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: slides
externalDocs:
  url: https://developers.google.com/slides/
servers:
- url: https://slides.googleapis.com/
tags:
- name: presentations
paths:
  /v1/presentations:
    post:
      description: "Creates a blank presentation using the title given in the request.\
        \ If a `presentationId` is provided, it is used as the ID of the new presentation.\
        \ Otherwise, a new ID is generated. Other fields in the request, including\
        \ any provided content, are ignored. Returns the created presentation."
      operationId: slides_presentations_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Presentation'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Presentation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/presentations
        Oauth2c:
        - https://www.googleapis.com/auth/presentations
      tags:
      - presentations
      x-openapi-router-controller: openapi_server.controllers.presentations_controller
      x-codegen-request-body-name: body
  /v1/presentations/{presentationId}:
    get:
      description: Gets the latest version of the specified presentation.
      operationId: slides_presentations_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the presentation to retrieve.
        explode: false
        in: path
        name: presentationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Presentation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/presentations
        Oauth2c:
        - https://www.googleapis.com/auth/presentations
      - Oauth2:
        - https://www.googleapis.com/auth/presentations.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/presentations.readonly
      tags:
      - presentations
      x-openapi-router-controller: openapi_server.controllers.presentations_controller
  /v1/presentations/{presentationId}/pages/{pageObjectId}:
    get:
      description: Gets the latest version of the specified page in the presentation.
      operationId: slides_presentations_pages_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the presentation to retrieve.
        explode: false
        in: path
        name: presentationId
        required: true
        schema:
          type: string
        style: simple
      - description: The object ID of the page to retrieve.
        explode: false
        in: path
        name: pageObjectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/presentations
        Oauth2c:
        - https://www.googleapis.com/auth/presentations
      - Oauth2:
        - https://www.googleapis.com/auth/presentations.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/presentations.readonly
      tags:
      - presentations
      x-openapi-router-controller: openapi_server.controllers.presentations_controller
  /v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail:
    get:
      description: "Generates a thumbnail of the latest version of the specified page\
        \ in the presentation and returns a URL to the thumbnail image. This request\
        \ counts as an [expensive read request](/slides/limits) for quota purposes."
      operationId: slides_presentations_pages_get_thumbnail
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the presentation to retrieve.
        explode: false
        in: path
        name: presentationId
        required: true
        schema:
          type: string
        style: simple
      - description: The object ID of the page whose thumbnail to retrieve.
        explode: false
        in: path
        name: pageObjectId
        required: true
        schema:
          type: string
        style: simple
      - description: "The optional mime type of the thumbnail image. If you don't\
          \ specify the mime type, the mime type defaults to PNG."
        explode: true
        in: query
        name: thumbnailProperties.mimeType
        required: false
        schema:
          enum:
          - PNG
          type: string
        style: form
      - description: "The optional thumbnail image size. If you don't specify the\
          \ size, the server chooses a default size of the image."
        explode: true
        in: query
        name: thumbnailProperties.thumbnailSize
        required: false
        schema:
          enum:
          - THUMBNAIL_SIZE_UNSPECIFIED
          - LARGE
          - MEDIUM
          - SMALL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thumbnail'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/presentations
        Oauth2c:
        - https://www.googleapis.com/auth/presentations
      - Oauth2:
        - https://www.googleapis.com/auth/presentations.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/presentations.readonly
      tags:
      - presentations
      x-openapi-router-controller: openapi_server.controllers.presentations_controller
  /v1/presentations/{presentationId}:batchUpdate:
    post:
      description: "Applies one or more updates to the presentation. Each request\
        \ is validated before being applied. If any request is not valid, then the\
        \ entire request will fail and nothing will be applied. Some requests have\
        \ replies to give you some information about how they are applied. Other requests\
        \ do not need to return information; these each return an empty reply. The\
        \ order of replies matches that of the requests. For example, suppose you\
        \ call batchUpdate with four updates, and only the third one returns information.\
        \ The response would have two empty replies: the reply to the third request,\
        \ and another empty reply, in that order. Because other users may be editing\
        \ the presentation, the presentation might not exactly reflect your changes:\
        \ your changes may be altered with respect to collaborator changes. If there\
        \ are no collaborators, the presentation should reflect your changes. In any\
        \ case, the updates in your request are guaranteed to be applied together\
        \ atomically."
      operationId: slides_presentations_batch_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The presentation to apply the updates to.
        explode: false
        in: path
        name: presentationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdatePresentationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdatePresentationResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/presentations
        Oauth2c:
        - https://www.googleapis.com/auth/presentations
      - Oauth2:
        - https://www.googleapis.com/auth/spreadsheets
        Oauth2c:
        - https://www.googleapis.com/auth/spreadsheets
      - Oauth2:
        - https://www.googleapis.com/auth/spreadsheets.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/spreadsheets.readonly
      tags:
      - presentations
      x-openapi-router-controller: openapi_server.controllers.presentations_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AffineTransform:
      description: "AffineTransform uses a 3x3 matrix with an implied last row of\
        \ [ 0 0 1 ] to transform source coordinates (x,y) into destination coordinates\
        \ (x', y') according to: x' x = shear_y scale_y translate_y 1 [ 1 ] After\
        \ transformation, x' = scale_x * x + shear_x * y + translate_x; y' = scale_y\
        \ * y + shear_y * x + translate_y; This message is therefore composed of these\
        \ six matrix elements."
      example:
        scaleX: 7.457744773683766
        scaleY: 1.1730742509559433
        shearX: 4.965218492984954
        unit: UNIT_UNSPECIFIED
        translateY: 9.369310271410669
        translateX: 9.965781217890562
        shearY: 5.025004791520295
      properties:
        scaleX:
          description: The X coordinate scaling element.
          format: double
          title: scaleX
          type: number
        scaleY:
          description: The Y coordinate scaling element.
          format: double
          title: scaleY
          type: number
        shearX:
          description: The X coordinate shearing element.
          format: double
          title: shearX
          type: number
        shearY:
          description: The Y coordinate shearing element.
          format: double
          title: shearY
          type: number
        translateX:
          description: The X coordinate translation element.
          format: double
          title: translateX
          type: number
        translateY:
          description: The Y coordinate translation element.
          format: double
          title: translateY
          type: number
        unit:
          description: The units for translate elements.
          enum:
          - UNIT_UNSPECIFIED
          - EMU
          - PT
          title: unit
          type: string
      title: AffineTransform
      type: object
    AutoText:
      description: A TextElement kind that represents auto text.
      example:
        style:
          backgroundColor:
            opaqueColor:
              rgbColor:
                red: 7.386282
                green: 4.145608
                blue: 2.027123
              themeColor: THEME_COLOR_TYPE_UNSPECIFIED
          fontFamily: fontFamily
          underline: true
          link:
            pageObjectId: pageObjectId
            relativeLink: RELATIVE_SLIDE_LINK_UNSPECIFIED
            slideIndex: 9
            url: url
          fontSize:
            unit: UNIT_UNSPECIFIED
            magnitude: 1.2315135367772556
          foregroundColor:
            opaqueColor:
              rgbColor:
                red: 7.386282
                green: 4.145608
                blue: 2.027123
              themeColor: THEME_COLOR_TYPE_UNSPECIFIED
          bold: true
          strikethrough: true
          baselineOffset: BASELINE_OFFSET_UNSPECIFIED
          italic: true
          weightedFontFamily:
            fontFamily: fontFamily
            weight: 6
          smallCaps: true
        type: TYPE_UNSPECIFIED
        content: content
      properties:
        content:
          description: "The rendered content of this auto text, if available."
          title: content
          type: string
        style:
          $ref: '#/components/schemas/TextStyle'
        type:
          description: The type of this auto text.
          enum:
          - TYPE_UNSPECIFIED
          - SLIDE_NUMBER
          title: type
          type: string
      title: AutoText
      type: object
    Autofit:
      description: The autofit properties of a Shape.
      example:
        autofitType: AUTOFIT_TYPE_UNSPECIFIED
        fontScale: 6.4384236
        lineSpacingReduction: 3.5571952
      properties:
        autofitType:
          description: "The autofit type of the shape. If the autofit type is AUTOFIT_TYPE_UNSPECIFIED,\
            \ the autofit type is inherited from a parent placeholder if it exists.\
            \ The field is automatically set to NONE if a request is made that might\
            \ affect text fitting within its bounding text box. In this case the font_scale\
            \ is applied to the font_size and the line_spacing_reduction is applied\
            \ to the line_spacing. Both properties are also reset to default values."
          enum:
          - AUTOFIT_TYPE_UNSPECIFIED
          - NONE
          - TEXT_AUTOFIT
          - SHAPE_AUTOFIT
          title: autofitType
          type: string
        fontScale:
          description: "The font scale applied to the shape. For shapes with autofit_type\
            \ NONE or SHAPE_AUTOFIT, this value is the default value of 1. For TEXT_AUTOFIT,\
            \ this value multiplied by the font_size gives the font size that is rendered\
            \ in the editor. This property is read-only."
          format: float
          title: fontScale
          type: number
        lineSpacingReduction:
          description: "The line spacing reduction applied to the shape. For shapes\
            \ with autofit_type NONE or SHAPE_AUTOFIT, this value is the default value\
            \ of 0. For TEXT_AUTOFIT, this value subtracted from the line_spacing\
            \ gives the line spacing that is rendered in the editor. This property\
            \ is read-only."
          format: float
          title: lineSpacingReduction
          type: number
      title: Autofit
      type: object
    BatchUpdatePresentationRequest:
      description: Request message for PresentationsService.BatchUpdatePresentation.
      example:
        requests:
        - rerouteLine:
            objectId: objectId
          createTable:
            columns: 5
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            rows: 2
            objectId: objectId
          updateParagraphStyle:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            textRange:
              startIndex: 6
              endIndex: 0
              type: RANGE_TYPE_UNSPECIFIED
            style:
              indentEnd:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              indentFirstLine:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              indentStart:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              spaceAbove:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              spacingMode: SPACING_MODE_UNSPECIFIED
              alignment: ALIGNMENT_UNSPECIFIED
              lineSpacing: 6.778325
              direction: TEXT_DIRECTION_UNSPECIFIED
              spaceBelow:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
            fields: fields
            objectId: objectId
          replaceImage:
            imageObjectId: imageObjectId
            imageReplaceMethod: IMAGE_REPLACE_METHOD_UNSPECIFIED
            url: url
          ungroupObjects:
            objectIds:
            - objectIds
            - objectIds
          updatePageProperties:
            pageProperties:
              pageBackgroundFill:
                stretchedPictureFill:
                  contentUrl: contentUrl
                  size:
                    width:
                      unit: UNIT_UNSPECIFIED
                      magnitude: 1.2315135367772556
                    height:
                      unit: UNIT_UNSPECIFIED
                      magnitude: 1.2315135367772556
                propertyState: RENDERED
                solidFill:
                  color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 3.6160767
              colorScheme:
                colors:
                - color:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  type: THEME_COLOR_TYPE_UNSPECIFIED
                - color:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  type: THEME_COLOR_TYPE_UNSPECIFIED
            fields: fields
            objectId: objectId
          createLine:
            lineCategory: STRAIGHT
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            category: LINE_CATEGORY_UNSPECIFIED
            objectId: objectId
          insertTableRows:
            number: 9
            insertBelow: true
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            tableObjectId: tableObjectId
          updateTableCellProperties:
            tableCellProperties:
              contentAlignment: CONTENT_ALIGNMENT_UNSPECIFIED
              tableCellBackgroundFill:
                propertyState: RENDERED
                solidFill:
                  color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 3.6160767
            tableRange:
              columnSpan: 2
              rowSpan: 4
              location:
                columnIndex: 3
                rowIndex: 3
            fields: fields
            objectId: objectId
          createParagraphBullets:
            bulletPreset: BULLET_DISC_CIRCLE_SQUARE
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            textRange:
              startIndex: 6
              endIndex: 0
              type: RANGE_TYPE_UNSPECIFIED
            objectId: objectId
          updatePageElementTransform:
            transform:
              scaleX: 7.457744773683766
              scaleY: 1.1730742509559433
              shearX: 4.965218492984954
              unit: UNIT_UNSPECIFIED
              translateY: 9.369310271410669
              translateX: 9.965781217890562
              shearY: 5.025004791520295
            applyMode: APPLY_MODE_UNSPECIFIED
            objectId: objectId
          updateVideoProperties:
            videoProperties:
              outline:
                dashStyle: DASH_STYLE_UNSPECIFIED
                propertyState: RENDERED
                weight:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                outlineFill:
                  solidFill:
                    color:
                      rgbColor:
                        red: 7.386282
                        green: 4.145608
                        blue: 2.027123
                      themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                    alpha: 3.6160767
              start: 0
              end: 6
              mute: true
              autoPlay: true
            fields: fields
            objectId: objectId
          createVideo:
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            id: id
            source: SOURCE_UNSPECIFIED
            objectId: objectId
          insertText:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            text: text
            insertionIndex: 3
            objectId: objectId
          updateTableRowProperties:
            tableRowProperties:
              minRowHeight:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
            rowIndices:
            - 1
            - 1
            fields: fields
            objectId: objectId
          deleteText:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            textRange:
              startIndex: 6
              endIndex: 0
              type: RANGE_TYPE_UNSPECIFIED
            objectId: objectId
          createSheetsChart:
            chartId: 1
            linkingMode: NOT_LINKED_IMAGE
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            spreadsheetId: spreadsheetId
            objectId: objectId
          duplicateObject:
            objectId: objectId
            objectIds:
              key: objectIds
          replaceAllShapesWithSheetsChart:
            pageObjectIds:
            - pageObjectIds
            - pageObjectIds
            containsText:
              matchCase: true
              text: text
            chartId: 7
            linkingMode: NOT_LINKED_IMAGE
            spreadsheetId: spreadsheetId
          deleteObject:
            objectId: objectId
          unmergeTableCells:
            tableRange:
              columnSpan: 2
              rowSpan: 4
              location:
                columnIndex: 3
                rowIndex: 3
            objectId: objectId
          updateSlidesPosition:
            slideObjectIds:
            - slideObjectIds
            - slideObjectIds
            insertionIndex: 1
          createShape:
            shapeType: TYPE_UNSPECIFIED
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            objectId: objectId
          deleteParagraphBullets:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            textRange:
              startIndex: 6
              endIndex: 0
              type: RANGE_TYPE_UNSPECIFIED
            objectId: objectId
          updateTextStyle:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            textRange:
              startIndex: 6
              endIndex: 0
              type: RANGE_TYPE_UNSPECIFIED
            style:
              backgroundColor:
                opaqueColor:
                  rgbColor:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  themeColor: THEME_COLOR_TYPE_UNSPECIFIED
              fontFamily: fontFamily
              underline: true
              link:
                pageObjectId: pageObjectId
                relativeLink: RELATIVE_SLIDE_LINK_UNSPECIFIED
                slideIndex: 9
                url: url
              fontSize:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              foregroundColor:
                opaqueColor:
                  rgbColor:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  themeColor: THEME_COLOR_TYPE_UNSPECIFIED
              bold: true
              strikethrough: true
              baselineOffset: BASELINE_OFFSET_UNSPECIFIED
              italic: true
              weightedFontFamily:
                fontFamily: fontFamily
                weight: 6
              smallCaps: true
            fields: fields
            objectId: objectId
          createImage:
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            objectId: objectId
            url: url
          updatePageElementAltText:
            description: description
            title: title
            objectId: objectId
          replaceAllShapesWithImage:
            pageObjectIds:
            - pageObjectIds
            - pageObjectIds
            containsText:
              matchCase: true
              text: text
            imageUrl: imageUrl
            imageReplaceMethod: IMAGE_REPLACE_METHOD_UNSPECIFIED
            replaceMethod: CENTER_INSIDE
          updateTableColumnProperties:
            columnIndices:
            - 1
            - 1
            tableColumnProperties:
              columnWidth:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
            fields: fields
            objectId: objectId
          groupObjects:
            childrenObjectIds:
            - childrenObjectIds
            - childrenObjectIds
            groupObjectId: groupObjectId
          updateImageProperties:
            imageProperties:
              cropProperties:
                topOffset: 7.0614014
                bottomOffset: 5.962134
                rightOffset: 2.302136
                leftOffset: 5.637377
                angle: 1.4658129
              outline:
                dashStyle: DASH_STYLE_UNSPECIFIED
                propertyState: RENDERED
                weight:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                outlineFill:
                  solidFill:
                    color:
                      rgbColor:
                        red: 7.386282
                        green: 4.145608
                        blue: 2.027123
                      themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                    alpha: 3.6160767
              brightness: 0.8008282
              shadow:
                transform:
                  scaleX: 7.457744773683766
                  scaleY: 1.1730742509559433
                  shearX: 4.965218492984954
                  unit: UNIT_UNSPECIFIED
                  translateY: 9.369310271410669
                  translateX: 9.965781217890562
                  shearY: 5.025004791520295
                rotateWithShape: true
                color:
                  rgbColor:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                blurRadius:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                alpha: 6.846853
                propertyState: RENDERED
                alignment: RECTANGLE_POSITION_UNSPECIFIED
                type: SHADOW_TYPE_UNSPECIFIED
              contrast: 6.0274563
              recolor:
                name: NONE
                recolorStops:
                - color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 1.0246457
                  position: 1.4894159
                - color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 1.0246457
                  position: 1.4894159
              transparency: 6.6835623
              link:
                pageObjectId: pageObjectId
                relativeLink: RELATIVE_SLIDE_LINK_UNSPECIFIED
                slideIndex: 9
                url: url
            fields: fields
            objectId: objectId
          insertTableColumns:
            number: 7
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            tableObjectId: tableObjectId
            insertRight: true
          updateShapeProperties:
            shapeProperties:
              contentAlignment: CONTENT_ALIGNMENT_UNSPECIFIED
              shapeBackgroundFill:
                propertyState: RENDERED
                solidFill:
                  color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 3.6160767
              outline:
                dashStyle: DASH_STYLE_UNSPECIFIED
                propertyState: RENDERED
                weight:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                outlineFill:
                  solidFill:
                    color:
                      rgbColor:
                        red: 7.386282
                        green: 4.145608
                        blue: 2.027123
                      themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                    alpha: 3.6160767
              shadow:
                transform:
                  scaleX: 7.457744773683766
                  scaleY: 1.1730742509559433
                  shearX: 4.965218492984954
                  unit: UNIT_UNSPECIFIED
                  translateY: 9.369310271410669
                  translateX: 9.965781217890562
                  shearY: 5.025004791520295
                rotateWithShape: true
                color:
                  rgbColor:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                blurRadius:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                alpha: 6.846853
                propertyState: RENDERED
                alignment: RECTANGLE_POSITION_UNSPECIFIED
                type: SHADOW_TYPE_UNSPECIFIED
              autofit:
                autofitType: AUTOFIT_TYPE_UNSPECIFIED
                fontScale: 6.4384236
                lineSpacingReduction: 3.5571952
              link:
                pageObjectId: pageObjectId
                relativeLink: RELATIVE_SLIDE_LINK_UNSPECIFIED
                slideIndex: 9
                url: url
            fields: fields
            objectId: objectId
          deleteTableColumn:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            tableObjectId: tableObjectId
          createSlide:
            placeholderIdMappings:
            - layoutPlaceholderObjectId: layoutPlaceholderObjectId
              layoutPlaceholder:
                parentObjectId: parentObjectId
                index: 8
                type: NONE
              objectId: objectId
            - layoutPlaceholderObjectId: layoutPlaceholderObjectId
              layoutPlaceholder:
                parentObjectId: parentObjectId
                index: 8
                type: NONE
              objectId: objectId
            insertionIndex: 5
            slideLayoutReference:
              predefinedLayout: PREDEFINED_LAYOUT_UNSPECIFIED
              layoutId: layoutId
            objectId: objectId
          deleteTableRow:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            tableObjectId: tableObjectId
          mergeTableCells:
            tableRange:
              columnSpan: 2
              rowSpan: 4
              location:
                columnIndex: 3
                rowIndex: 3
            objectId: objectId
          refreshSheetsChart:
            objectId: objectId
          updatePageElementsZOrder:
            pageElementObjectIds:
            - pageElementObjectIds
            - pageElementObjectIds
            operation: Z_ORDER_OPERATION_UNSPECIFIED
          updateTableBorderProperties:
            tableBorderProperties:
              tableBorderFill:
                solidFill:
                  color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 3.6160767
              dashStyle: DASH_STYLE_UNSPECIFIED
              weight:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
            tableRange:
              columnSpan: 2
              rowSpan: 4
              location:
                columnIndex: 3
                rowIndex: 3
            fields: fields
            borderPosition: ALL
            objectId: objectId
          updateLineCategory:
            lineCategory: LINE_CATEGORY_UNSPECIFIED
            objectId: objectId
          updateLineProperties:
            lineProperties:
              startArrow: ARROW_STYLE_UNSPECIFIED
              dashStyle: DASH_STYLE_UNSPECIFIED
              lineFill:
                solidFill:
                  color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 3.6160767
              link:
                pageObjectId: pageObjectId
                relativeLink: RELATIVE_SLIDE_LINK_UNSPECIFIED
                slideIndex: 9
                url: url
              startConnection:
                connectionSiteIndex: 9
                connectedObjectId: connectedObjectId
              weight:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              endConnection:
                connectionSiteIndex: 9
                connectedObjectId: connectedObjectId
              endArrow: ARROW_STYLE_UNSPECIFIED
            fields: fields
            objectId: objectId
          updateSlideProperties:
            slideProperties:
              notesPage: null
              isSkipped: true
              masterObjectId: masterObjectId
              layoutObjectId: layoutObjectId
            fields: fields
            objectId: objectId
          replaceAllText:
            pageObjectIds:
            - pageObjectIds
            - pageObjectIds
            replaceText: replaceText
            containsText:
              matchCase: true
              text: text
        - rerouteLine:
            objectId: objectId
          createTable:
            columns: 5
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            rows: 2
            objectId: objectId
          updateParagraphStyle:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            textRange:
              startIndex: 6
              endIndex: 0
              type: RANGE_TYPE_UNSPECIFIED
            style:
              indentEnd:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              indentFirstLine:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              indentStart:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              spaceAbove:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              spacingMode: SPACING_MODE_UNSPECIFIED
              alignment: ALIGNMENT_UNSPECIFIED
              lineSpacing: 6.778325
              direction: TEXT_DIRECTION_UNSPECIFIED
              spaceBelow:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
            fields: fields
            objectId: objectId
          replaceImage:
            imageObjectId: imageObjectId
            imageReplaceMethod: IMAGE_REPLACE_METHOD_UNSPECIFIED
            url: url
          ungroupObjects:
            objectIds:
            - objectIds
            - objectIds
          updatePageProperties:
            pageProperties:
              pageBackgroundFill:
                stretchedPictureFill:
                  contentUrl: contentUrl
                  size:
                    width:
                      unit: UNIT_UNSPECIFIED
                      magnitude: 1.2315135367772556
                    height:
                      unit: UNIT_UNSPECIFIED
                      magnitude: 1.2315135367772556
                propertyState: RENDERED
                solidFill:
                  color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 3.6160767
              colorScheme:
                colors:
                - color:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  type: THEME_COLOR_TYPE_UNSPECIFIED
                - color:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  type: THEME_COLOR_TYPE_UNSPECIFIED
            fields: fields
            objectId: objectId
          createLine:
            lineCategory: STRAIGHT
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            category: LINE_CATEGORY_UNSPECIFIED
            objectId: objectId
          insertTableRows:
            number: 9
            insertBelow: true
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            tableObjectId: tableObjectId
          updateTableCellProperties:
            tableCellProperties:
              contentAlignment: CONTENT_ALIGNMENT_UNSPECIFIED
              tableCellBackgroundFill:
                propertyState: RENDERED
                solidFill:
                  color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 3.6160767
            tableRange:
              columnSpan: 2
              rowSpan: 4
              location:
                columnIndex: 3
                rowIndex: 3
            fields: fields
            objectId: objectId
          createParagraphBullets:
            bulletPreset: BULLET_DISC_CIRCLE_SQUARE
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            textRange:
              startIndex: 6
              endIndex: 0
              type: RANGE_TYPE_UNSPECIFIED
            objectId: objectId
          updatePageElementTransform:
            transform:
              scaleX: 7.457744773683766
              scaleY: 1.1730742509559433
              shearX: 4.965218492984954
              unit: UNIT_UNSPECIFIED
              translateY: 9.369310271410669
              translateX: 9.965781217890562
              shearY: 5.025004791520295
            applyMode: APPLY_MODE_UNSPECIFIED
            objectId: objectId
          updateVideoProperties:
            videoProperties:
              outline:
                dashStyle: DASH_STYLE_UNSPECIFIED
                propertyState: RENDERED
                weight:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                outlineFill:
                  solidFill:
                    color:
                      rgbColor:
                        red: 7.386282
                        green: 4.145608
                        blue: 2.027123
                      themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                    alpha: 3.6160767
              start: 0
              end: 6
              mute: true
              autoPlay: true
            fields: fields
            objectId: objectId
          createVideo:
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            id: id
            source: SOURCE_UNSPECIFIED
            objectId: objectId
          insertText:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            text: text
            insertionIndex: 3
            objectId: objectId
          updateTableRowProperties:
            tableRowProperties:
              minRowHeight:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
            rowIndices:
            - 1
            - 1
            fields: fields
            objectId: objectId
          deleteText:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            textRange:
              startIndex: 6
              endIndex: 0
              type: RANGE_TYPE_UNSPECIFIED
            objectId: objectId
          createSheetsChart:
            chartId: 1
            linkingMode: NOT_LINKED_IMAGE
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            spreadsheetId: spreadsheetId
            objectId: objectId
          duplicateObject:
            objectId: objectId
            objectIds:
              key: objectIds
          replaceAllShapesWithSheetsChart:
            pageObjectIds:
            - pageObjectIds
            - pageObjectIds
            containsText:
              matchCase: true
              text: text
            chartId: 7
            linkingMode: NOT_LINKED_IMAGE
            spreadsheetId: spreadsheetId
          deleteObject:
            objectId: objectId
          unmergeTableCells:
            tableRange:
              columnSpan: 2
              rowSpan: 4
              location:
                columnIndex: 3
                rowIndex: 3
            objectId: objectId
          updateSlidesPosition:
            slideObjectIds:
            - slideObjectIds
            - slideObjectIds
            insertionIndex: 1
          createShape:
            shapeType: TYPE_UNSPECIFIED
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            objectId: objectId
          deleteParagraphBullets:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            textRange:
              startIndex: 6
              endIndex: 0
              type: RANGE_TYPE_UNSPECIFIED
            objectId: objectId
          updateTextStyle:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            textRange:
              startIndex: 6
              endIndex: 0
              type: RANGE_TYPE_UNSPECIFIED
            style:
              backgroundColor:
                opaqueColor:
                  rgbColor:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  themeColor: THEME_COLOR_TYPE_UNSPECIFIED
              fontFamily: fontFamily
              underline: true
              link:
                pageObjectId: pageObjectId
                relativeLink: RELATIVE_SLIDE_LINK_UNSPECIFIED
                slideIndex: 9
                url: url
              fontSize:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              foregroundColor:
                opaqueColor:
                  rgbColor:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  themeColor: THEME_COLOR_TYPE_UNSPECIFIED
              bold: true
              strikethrough: true
              baselineOffset: BASELINE_OFFSET_UNSPECIFIED
              italic: true
              weightedFontFamily:
                fontFamily: fontFamily
                weight: 6
              smallCaps: true
            fields: fields
            objectId: objectId
          createImage:
            elementProperties:
              pageObjectId: pageObjectId
              transform:
                scaleX: 7.457744773683766
                scaleY: 1.1730742509559433
                shearX: 4.965218492984954
                unit: UNIT_UNSPECIFIED
                translateY: 9.369310271410669
                translateX: 9.965781217890562
                shearY: 5.025004791520295
              size:
                width:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                height:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
            objectId: objectId
            url: url
          updatePageElementAltText:
            description: description
            title: title
            objectId: objectId
          replaceAllShapesWithImage:
            pageObjectIds:
            - pageObjectIds
            - pageObjectIds
            containsText:
              matchCase: true
              text: text
            imageUrl: imageUrl
            imageReplaceMethod: IMAGE_REPLACE_METHOD_UNSPECIFIED
            replaceMethod: CENTER_INSIDE
          updateTableColumnProperties:
            columnIndices:
            - 1
            - 1
            tableColumnProperties:
              columnWidth:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
            fields: fields
            objectId: objectId
          groupObjects:
            childrenObjectIds:
            - childrenObjectIds
            - childrenObjectIds
            groupObjectId: groupObjectId
          updateImageProperties:
            imageProperties:
              cropProperties:
                topOffset: 7.0614014
                bottomOffset: 5.962134
                rightOffset: 2.302136
                leftOffset: 5.637377
                angle: 1.4658129
              outline:
                dashStyle: DASH_STYLE_UNSPECIFIED
                propertyState: RENDERED
                weight:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                outlineFill:
                  solidFill:
                    color:
                      rgbColor:
                        red: 7.386282
                        green: 4.145608
                        blue: 2.027123
                      themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                    alpha: 3.6160767
              brightness: 0.8008282
              shadow:
                transform:
                  scaleX: 7.457744773683766
                  scaleY: 1.1730742509559433
                  shearX: 4.965218492984954
                  unit: UNIT_UNSPECIFIED
                  translateY: 9.369310271410669
                  translateX: 9.965781217890562
                  shearY: 5.025004791520295
                rotateWithShape: true
                color:
                  rgbColor:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                blurRadius:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                alpha: 6.846853
                propertyState: RENDERED
                alignment: RECTANGLE_POSITION_UNSPECIFIED
                type: SHADOW_TYPE_UNSPECIFIED
              contrast: 6.0274563
              recolor:
                name: NONE
                recolorStops:
                - color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 1.0246457
                  position: 1.4894159
                - color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 1.0246457
                  position: 1.4894159
              transparency: 6.6835623
              link:
                pageObjectId: pageObjectId
                relativeLink: RELATIVE_SLIDE_LINK_UNSPECIFIED
                slideIndex: 9
                url: url
            fields: fields
            objectId: objectId
          insertTableColumns:
            number: 7
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            tableObjectId: tableObjectId
            insertRight: true
          updateShapeProperties:
            shapeProperties:
              contentAlignment: CONTENT_ALIGNMENT_UNSPECIFIED
              shapeBackgroundFill:
                propertyState: RENDERED
                solidFill:
                  color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 3.6160767
              outline:
                dashStyle: DASH_STYLE_UNSPECIFIED
                propertyState: RENDERED
                weight:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                outlineFill:
                  solidFill:
                    color:
                      rgbColor:
                        red: 7.386282
                        green: 4.145608
                        blue: 2.027123
                      themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                    alpha: 3.6160767
              shadow:
                transform:
                  scaleX: 7.457744773683766
                  scaleY: 1.1730742509559433
                  shearX: 4.965218492984954
                  unit: UNIT_UNSPECIFIED
                  translateY: 9.369310271410669
                  translateX: 9.965781217890562
                  shearY: 5.025004791520295
                rotateWithShape: true
                color:
                  rgbColor:
                    red: 7.386282
                    green: 4.145608
                    blue: 2.027123
                  themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                blurRadius:
                  unit: UNIT_UNSPECIFIED
                  magnitude: 1.2315135367772556
                alpha: 6.846853
                propertyState: RENDERED
                alignment: RECTANGLE_POSITION_UNSPECIFIED
                type: SHADOW_TYPE_UNSPECIFIED
              autofit:
                autofitType: AUTOFIT_TYPE_UNSPECIFIED
                fontScale: 6.4384236
                lineSpacingReduction: 3.5571952
              link:
                pageObjectId: pageObjectId
                relativeLink: RELATIVE_SLIDE_LINK_UNSPECIFIED
                slideIndex: 9
                url: url
            fields: fields
            objectId: objectId
          deleteTableColumn:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            tableObjectId: tableObjectId
          createSlide:
            placeholderIdMappings:
            - layoutPlaceholderObjectId: layoutPlaceholderObjectId
              layoutPlaceholder:
                parentObjectId: parentObjectId
                index: 8
                type: NONE
              objectId: objectId
            - layoutPlaceholderObjectId: layoutPlaceholderObjectId
              layoutPlaceholder:
                parentObjectId: parentObjectId
                index: 8
                type: NONE
              objectId: objectId
            insertionIndex: 5
            slideLayoutReference:
              predefinedLayout: PREDEFINED_LAYOUT_UNSPECIFIED
              layoutId: layoutId
            objectId: objectId
          deleteTableRow:
            cellLocation:
              columnIndex: 3
              rowIndex: 3
            tableObjectId: tableObjectId
          mergeTableCells:
            tableRange:
              columnSpan: 2
              rowSpan: 4
              location:
                columnIndex: 3
                rowIndex: 3
            objectId: objectId
          refreshSheetsChart:
            objectId: objectId
          updatePageElementsZOrder:
            pageElementObjectIds:
            - pageElementObjectIds
            - pageElementObjectIds
            operation: Z_ORDER_OPERATION_UNSPECIFIED
          updateTableBorderProperties:
            tableBorderProperties:
              tableBorderFill:
                solidFill:
                  color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 3.6160767
              dashStyle: DASH_STYLE_UNSPECIFIED
              weight:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
            tableRange:
              columnSpan: 2
              rowSpan: 4
              location:
                columnIndex: 3
                rowIndex: 3
            fields: fields
            borderPosition: ALL
            objectId: objectId
          updateLineCategory:
            lineCategory: LINE_CATEGORY_UNSPECIFIED
            objectId: objectId
          updateLineProperties:
            lineProperties:
              startArrow: ARROW_STYLE_UNSPECIFIED
              dashStyle: DASH_STYLE_UNSPECIFIED
              lineFill:
                solidFill:
                  color:
                    rgbColor:
                      red: 7.386282
                      green: 4.145608
                      blue: 2.027123
                    themeColor: THEME_COLOR_TYPE_UNSPECIFIED
                  alpha: 3.6160767
              link:
                pageObjectId: pageObjectId
                relativeLink: RELATIVE_SLIDE_LINK_UNSPECIFIED
                slideIndex: 9
                url: url
              startConnection:
                connectionSiteIndex: 9
                connectedObjectId: connectedObjectId
              weight:
                unit: UNIT_UNSPECIFIED
                magnitude: 1.2315135367772556
              endConnection:
                connectionSiteIndex: 9
                connectedObjectId: connectedObjectId
              endArrow: ARROW_STYLE_UNSPECIFIED
            fields: fields
            objectId: objectId
          updateSlideProperties:
            slideProperties:
              notesPage: null
              isSkipped: true
              masterObjectId: masterObjectId
              layoutObjectId: layoutObjectId
            fields: fields
            objectId: objectId
          replaceAllText:
            pageObjectIds:
            - pageObjectIds
            - pageObjectIds
            replaceText: replaceText
            containsText:
              matchCase: true
              text: text
        writeControl:
          requiredRevisionId: requiredRevisionId
      properties:
        requests:
          description: A list of updates to apply to the presentation.
          items:
            $ref: '#/components/schemas/Request'
          title: requests
          type: array
        writeControl:
          $ref: '#/components/schemas/WriteControl'
      title: BatchUpdatePresentationRequest
      type: object
    BatchUpdatePresentationResponse:
      description: Response message from a batch update.
      example:
        presentationId: presentationId
        replies:
        - createShape:
            objectId: objectId
          createSlide:
            objectId: objectId
          createTable:
            objectId: objectId
          createImage:
            objectId: objectId
          createSheetsChart:
            objectId: objectId
          duplicateObject:
            objectId: objectId
          replaceAllShapesWithSheetsChart:
            occurrencesChanged: 6
          replaceAllShapesWithImage:
            occurrencesChanged: 0
          createLine:
            objectId: objectId
          groupObjects:
            objectId: objectId
          replaceAllText:
            occurrencesChanged: 1
          createVideo:
            objectId: objectId
        - createShape:
            objectId: objectId
          createSlide:
            objectId: objectId
          createTable:
            objectId: objectId
          createImage:
            objectId: objectId
          createSheetsChart:
            objectId: objectId
          duplicateObject:
            objectId: objectId
          replaceAllShapesWithSheetsChart:
            occurrencesChanged: 6
          replaceAllShapesWithImage:
            occurrencesChanged: 0
          createLine:
            objectId: objectId
          groupObjects:
            objectId: objectId
          replaceAllText:
            occurrencesChanged: 1
          createVideo:
            objectId: objectId
        writeControl:
          requiredRevisionId: requiredRevisionId
      properties:
        presentationId:
          description: The presentation the updates were applied to.
          title: presentationId
          type: string
        replies:
          description: "The reply of the updates. This maps 1:1 with the updates,\
            \ although replies to some requests may be empty."
          items:
            $ref: '#/components/schemas/Response'
          title: replies
          type: array
        writeControl:
          $ref: '#/components/schemas/WriteControl'
      title: BatchUpdatePresentationResponse
      type: object
    Bullet:
      description: Describes the bullet of a paragraph.
      example:
        listId: listId
        nestingLevel: 2
        glyph: glyph
        bulletStyle:
          backgroundColor:
            opaqueColor:
              rgbColor:
                red: 7.386282
                green: 4.145608
                blue: 2.027123
              themeColor: THEME_COLOR_TYPE_UNSPECIFIED
          fontFamily: fontFamily
          underline: true
          link:
            pageObjectId: pageObjectId
            relativeLink: RELATIVE_SLIDE_LINK_UNSPECIFIED
            slideIndex: 9
            url: url
          fontSize:
            unit: UNIT_UNSPECIFIED
            magnitude: 1.2315135367772556
          foregroundColor:
            opaqueColor:
              rgbColor:
                red: 7.386282
                green: 4.145608
                blue: 2.027123
              themeColor: THEME_COLOR_TYPE_UNSPECIFIED
          bold: true
          strikethrough: true
          baselineOffset: BASELINE_OFFSET_UNSPECIFIED
          italic: true
          weightedFontFamily:
            fontFamily: fontFamily
            weight: 6
          smallCaps: true
      properties:
        bulletStyle:
          $ref: '#/components/schemas/TextStyle'
        glyph:
          description: The rendered bullet glyph for this paragraph.
          title: glyph
          type: string
        listId:
          description: The ID of the list this paragraph belongs to.
          title: listId
          type: string
        nestingLevel:
          description: The nesting level of this paragraph in the list.
          format: int32
          title: nestingLevel
          type: integer
      title: Bullet
      type: object
    ColorScheme:
      description: The palette of predefined colors for a page.
      example:
        colors:
        - color:
            red: 7.386282
            green: 4.145608
            blue: 2.027123
          type: THEME_COLOR_TYPE_UNSPECIFIED
        - color:
            red: 7.386282
            green: 4.145608
            blue: 2.027123
          type: THEME_COLOR_TYPE_UNSPECIFIED
      properties:
        colors:
          description: The ThemeColorType and corresponding concrete color pairs.
          items:
            $ref: '#/components/schemas/ThemeColorPair'
          title: colors
          type: array
      title: ColorScheme
      type: object
    ColorStop:
      description: A color and position in a gradient band.
      example:
        color:
          rgbColor:
            red: 7.386282
            green: 4.145608
            blue: 2.027123
          themeColor: THEME_COLOR_TYPE_UNSPECIFIED
        alpha: 1.0246457
        position: 1.4894159
      properties:
        alpha:
          description: "The alpha value of this color in the gradient band. Defaults\
            \ to 1.0, fully opaque."
          format: float
          title: alpha
          type: number
        color:
          $ref: '#/components/schemas/OpaqueColor'
        position:
          description: "The relative position of the color stop in the gradient band\
            \ measured in percentage. The value should be in the interval [0.0, 1.0]."
          format: float
          title: position
          type: number
      title: ColorStop
      type: object
    CreateImageRequest:
      description: Creates an image.
      example:
        elementProperties:
          pageObjectId: pageObjectId
          transform:
            scaleX: 7.457744773683766
            scaleY: 1.1730742509559433
            shearX: 4.965218492984954
            unit: UNIT_UNSPECIFIED
            translateY: 9.369310271410669
            translateX: 9.965781217890562
            shearY: 5.025004791520295
          size:
            width:
              unit: UNIT_UNSPECIFIED
              magnitude: 1.2315135367772556
            height:
              unit: UNIT_UNSPECIFIED
              magnitude: 1.2315135367772556
        objectId: objectId
        url: url
      properties:
        elementProperties:
          $ref: '#/components/schemas/PageElementProperties'
        objectId:
          description: "A user-supplied object ID. If you specify an ID, it must be\
            \ unique among all pages and page elements in the presentation. The ID\
            \ must start with an alphanumeric character or an underscore (matches\
            \ regex `[a-zA-Z0-9_]`); remaining characters may include those as well\
            \ as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of\
            \ the ID must not be less than 5 or greater than 50. If you don't specify\
            \ an ID, a unique one is generated."
          title: objectId
          type: string
        url:
          description: "The image URL. The image is fetched once at insertion time\
            \ and a copy is stored for display inside the presentation. Images must\
            \ be less than 50 MB in size, can't exceed 25 megapixels, and must be\
            \ in one of PNG, JPEG, or GIF formats. The provided URL must be publicly\
            \ accessible and up to 2 KB in length. The URL is saved with the image,\
            \ and exposed through the Image.source_url field."
          title: url
          type: string
      title: CreateImageRequest
      type: object
    CreateImageResponse:
      description: The result of creating an image.
      example:
        objectId: objectId
      properties:
        objectId:
          description: The object ID of the created image.
          title: objectId
          type: string
      title: CreateImageResponse
      type: object
    CreateLineRequest:
      description: Creates a line.
      example:
        lineCategory: STRAIGHT
        elementProperties:
          pageObjectId: pageObjectId
          transform:
            scaleX: 7.457744773683766
            scaleY: 1.1730742509559433
            shearX: 4.965218492984954
            unit: UNIT_UNSPECIFIED
            translateY: 9.369310271410669
            translateX: 9.965781217890562
            shearY: 5.025004791520295
          size:
            width:
              unit: UNIT_UNSPECIFIED
              magnitude: 1.2315135367772556
            height:
              unit: UNIT_UNSPECIFIED
              magnitude: 1.2315135367772556
        category: LINE_CATEGORY_UNSPECIFIED
        objectId: objectId
      properties:
        category:
          description: "The category of the line to be created. The exact line type\
            \ created is determined based on the category and how it's routed to connect\
            \ to other page elements. If you specify both a `category` and a `line_category`,\
            \ the `category` takes precedence. If you do not specify a value for `category`,\
            \ but specify a value for `line_category`, then the specified `line_category`\
            \ value is used. If you do not specify either, then STRAIGHT is used."
          enum:
          - LINE_CATEGORY_UNSPECIFIED
          - STRAIGHT
          - BENT
          - CURVED
          title: category
          type: string
        elementProperties:
          $ref: '#/components/schemas/PageElementProperties'
        lineCategory:
          deprecated: true
          description: "The category of the line to be created. *Deprecated*: use\
            \ `category` instead. The exact line type created is determined based\
            \ on the category and how it's routed to connect to other page elements.\
            \ If you specify both a `category` and a `line_category`, the `category`\
            \ takes precedence."
          enum:
          - STRAIGHT
          - BENT
          - CURVED
          title: lineCategory
          type: string
        objectId:
          description: "A user-supplied object ID. If you specify an ID, it must be\
            \ unique among all pages and page elements in the presentation. The ID\
            \ must start with an alphanumeric character or an underscore (matches\
            \ regex `[a-zA-Z0-9_]`); remaining characters may include those as well\
            \ as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of\
            \ the ID must not be less than 5 or greater than 50. If you don't specify\
            \ an ID, a unique one is generated."
          title: objectId
          type: string
      title: CreateLineRequest
      type: object
    CreateLineResponse:
      description: The result of creating a line.
      example:
        objectId: objectId
      properties:
        objectId:
          description: The object ID of the created line.
          title: objectId
          type: string
      title: CreateLineResponse
      type: object
    CreateParagraphBulletsRequest:
      description: "Creates bullets for all of the paragraphs that overlap with the\
        \ given text index range. The nesting level of each paragraph will be determined\
        \ by counting leading tabs in front of each paragraph. To avoid excess space\
        \ between the bullet and the corresponding paragraph, these leading tabs are\
        \ removed by this request. This may change the indices of parts of the text.\
        \ If the paragraph immediately before paragraphs being updated is in a list\
        \ with a matching preset, the paragraphs being updated are added to that preceding\
        \ list."
      example:
        bulletPreset: BULLET_DISC_CIRCLE_SQUARE
        cellLocation:
          columnIndex: 3
          rowIndex: 3
        textRange:
          startIndex: 6
          endIndex: 0
          type: RANGE_TYPE_UNSPECIFIED
        objectId: objectId
      properties:
        bulletPreset:
          description: The kinds of bullet glyphs to be used. Defaults to the `BULLET_DISC_CIRCLE_SQUARE`
            preset.
          enum:
          - BULLET_DISC_CIRCLE_SQUARE
          - BULLET_DIAMONDX_ARROW3D_SQUARE
          - BULLET_CHECKBOX
          - BULLET_ARROW_DIAMOND_DISC
          - BULLET_STAR_CIRCLE_SQUARE
          - BULLET_ARROW3D_CIRCLE_SQUARE
          - BULLET_LEFTTRIANGLE_DIAMOND_DISC
          - BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE
          - BULLET_DIAMOND_CIRCLE_SQUARE
          - NUMBERED_DIGIT_ALPHA_ROMAN
          - NUMBERED_DIGIT_ALPHA_ROMAN_PARENS
          - NUMBERED_DIGIT_NESTED
          - NUMBERED_UPPERALPHA_ALPHA_ROMAN
          - NUMBERED_UPPERROMAN_UPPERALPHA_DIGIT
          - NUMBERED_ZERODIGIT_ALPHA_ROMAN
          title: bulletPreset
          type: string
        cellLocation:
          $ref: '#/components/schemas/TableCellLocation'
        objectId:
          description: The object ID of the shape or table containing the text to
            add bullets to.
          title: objectId
          type: string
        textRange:
          $ref: '#/components/schemas/Range'
      title: CreateParagraphBulletsRequest
      type: object
    CreateShapeRequest:
      description: Creates a new shape.
      example:
        shapeType: TYPE_UNSPECIFIED
        elementProperties:
          pageObjectId: pageObjectId
          transform:
            scaleX: 7.457744773683766
            scaleY: 1.1730742509559433
            shearX: 4.965218492984954
            unit: UNIT_UNSPECIFIED
            translateY: 9.369310271410669
            translateX: 9.965781217890562
            shearY: 5.025004791520295
          size:
            width:
              unit: UNIT_UNSPECIFIED
              magnitude: 1.2315135367772556
            height:
              unit: UNIT_UNSPECIFIED
              magnitude: 1.2315135367772556
        objectId: objectId
      properties:
        elementProperties:
          $ref: '#/components/schemas/PageElementProperties'
        objectId:
          description: "A user-supplied object ID. If you specify an ID, it must be\
            \ unique among all pages and page elements in the presentation. The ID\
            \ must start with an alphanumeric character or an underscore (matches\
            \ regex `[a-zA-Z0-9_]`); remaining characters may include those as well\
            \ as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of\
            \ the ID must not be less than 5 or greater than 50. If empty, a unique\
            \ identifier will be generated."
          title: objectId
          type: string
        shapeType:
          description: The shape type.
          enum:
          - TYPE_UNSPECIFIED
          - TEXT_BOX
          - RECTANGLE
          - ROUND_RECTANGLE
          - ELLIPSE
          - ARC
          - BENT_ARROW
          - BENT_UP_ARROW
          - BEVEL
          - BLOCK_ARC
          - BRACE_PAIR
          - BRACKET_PAIR
          - CAN
          - CHEVRON
          - CHORD
          - CLOUD
          - CORNER
          - CUBE
          - CURVED_DOWN_ARROW
          - CURVED_LEFT_ARROW
          - CURVED_RIGHT_ARROW
          - CURVED_UP_ARROW
          - DECAGON
          - DIAGONAL_STRIPE
          - DIAMOND
          - DODECAGON
          - DONUT
          - DOUBLE_WAVE
          - DOWN_ARROW
          - DOWN_ARROW_CALLOUT
          - FOLDED_CORNER
          - FRAME
          - HALF_FRAME
          - HEART
          - HEPTAGON
          - HEXAGON
          - HOME_PLATE
          - HORIZONTAL_SCROLL
          - IRREGULAR_SEAL_1
          - IRREGULAR_SEAL_2
          - LEFT_ARROW
          - LEFT_ARROW_CALLOUT
          - LEFT_BRACE
          - LEFT_BRACKET
          - LEFT_RIGHT_ARROW
          - LEFT_RIGHT_ARROW_CALLOUT
          - LEFT_RIGHT_UP_ARROW
          - LEFT_UP_ARROW
          - LIGHTNING_BOLT
          - MATH_DIVIDE
          - MATH_EQUAL
          - MATH_MINUS
          - MATH_MULTIPLY
          - MATH_NOT_EQUAL
          - MATH_PLUS
          - MOON
          - NO_SMOKING
          - NOTCHED_RIGHT_ARROW
          - OCTAGON
          - PARALLELOGRAM
          - PENTAGON
          - PIE
          - PLAQUE
          - PLUS
          - QUAD_ARROW
          - QUAD_ARROW_CALLOUT
          - RIBBON
          - RIBBON_2
          - RIGHT_ARROW
          - RIGHT_ARROW_CALLOUT
          - RIGHT_BRACE
          - RIGHT_BRACKET
          - ROUND_1_RECTANGLE
          - ROUND_2_DIAGONAL_RECTANGLE
          - ROUND_2_SAME_RECTANGLE
          - RIGHT_TRIANGLE
          - SMILEY_FACE
          - SNIP_1_RECTANGLE
          - SNIP_2_DIAGONAL_RECTANGLE
          - SNIP_2_SAME_RECTANGLE
          - SNIP_ROUND_RECTANGLE
          - STAR_10
          - STAR_12
          - STAR_16
          - STAR_24
          - STAR_32
          - STAR_4
          - STAR_5
          - STAR_6
          - STAR_7
          - STAR_8
          - STRIPED_RIGHT_ARROW
          - SUN
          - TRAPEZOID
          - TRIANGLE
          - UP_ARROW
          - UP_ARROW_CALLOUT
          - UP_DOWN_ARROW
          - UTURN_ARROW
          - VERTICAL_SCROLL
          - WAVE
          - WEDGE_ELLIPSE_CALLOUT
          - WEDGE_RECTANGLE_CALLOUT
          - WEDGE_ROUND_RECTANGLE_CALLOUT
          - FLOW_CHART_ALTERNATE_PROCESS
          - FLOW_CHART_COLLATE
          - FLOW_CHART_CONNECTOR
          - FLOW_CHART_DECISION
          - FLOW_CHART_DELAY
          - FLOW_CHART_DISPLAY
          - FLOW_CHART_DOCUMENT
          - FLOW_CHART_EXTRACT
          - FLOW_CHART_INPUT_OUTPUT
          - FLOW_CHART_INTERNAL_STORAGE
          - FLOW_CHART_MAGNETIC_DISK
          - FLOW_CHART_MAGNETIC_DRUM
          - FLOW_CHART_MAGNETIC_TAPE
          - FLOW_CHART_MANUAL_INPUT
          - FLOW_CHART_MANUAL_OPERATION
          - FLOW_CHART_MERGE
          - FLOW_CHART_MULTIDOCUMENT
          - FLOW_CHART_OFFLINE_STORAGE
          - FLOW_CHART_OFFPAGE_CONNECTOR
          - FLOW_CHART_ONLINE_STORAGE
          - FLOW_CHART_OR
          - FLOW_CHART_PREDEFINED_PROCESS
          - FLOW_CHART_PREPARATION
          - FLOW_CHART_PROCESS
          - FLOW_CHART_PUNCHED_CARD
          - FLOW_CHART_PUNCHED_TAPE
          - FLOW_CHART_SORT
          - FLOW_CHART_SUMMING_JUNCTION
          - FLOW_CHART_TERMINATOR
          - ARROW_EAST
          - ARROW_NORTH_EAST
          - ARROW_NORTH
          - SPEECH
          - STARBURST
          - TEARDROP
          - ELLIPSE_RIBBON
          - ELLIPSE_RIBBON_2
          - CLOUD_CALLOUT
          - CUSTOM
          title: shapeType
          type: string
      title: CreateShapeRequest
      type: object
    CreateShapeResponse:
      description: The result of creating a shape.
      example:
        objectId: objectId
      properties:
        objectId:
          description: The object ID of the created shape.
          title: objectId
          type: string
      title: CreateShapeResponse
      type: object
    CreateSheetsChartRequest:
      description: "Creates an embedded Google Sheets chart. NOTE: Chart creation\
        \ requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly,\
        \ drive.file, or drive OAuth scopes."
      example:
        chartId: 1
        linkingMode: NOT_LINKED_IMAGE
        elementProperties:
          pageObjectId: pageObjectId
          transform:
            scaleX: 7.457744773683766
            scaleY: 1.1730742509559433
            shearX: 4.965218492984954
            unit: UNIT_UNSPECIFIED
            translateY: 9.369310271410669
            translateX: 9.965781217890562
            shearY: 5.025004791520295
          size:
            width:
              unit: UNIT_UNSPECIFIED
              magnitude: 1.2315135367772556
            height:
              unit: UNIT_UNSPECIFIED
              magnitude: 1.2315135367772556
        spreadsheetId: spreadsheetId
        objectId: objectId
      properties:
        chartId:
          description: The ID of the specific chart in the Google Sheets spreadsheet.
          format: int32
          title: chartId
          type: integer
        elementProperties:
          $ref: '#/components/schemas/PageElementProperties'
        linkingMode:
          description: "The mode with which the chart is linked to the source spreadsheet.\
            \ When not specified, the chart will be an image that is not linked."
          enum:
          - NOT_LINKED_IMAGE
          - LINKED
          title: linkingMode
          type: string
        objectId:
[...]
