openapi: 3.0.0
info:
  license:
    name: MIT
  title: Mailscript
  version: 0.4.0
  x-apisguru-categories:
  - email
  x-logo:
    url: https://mailscript.com/images/favicon.png
  x-origin:
  - format: openapi
    url: http://api.mailscript.com/v2/swagger
    version: "3.0"
  x-providerName: mailscript.com
servers:
- description: API server
  url: https://api.mailscript.com/v2
security:
- bearerAuth: []
paths:
  /actions:
    get:
      operationId: getAllActions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllActionsResponse'
          description: Successful operation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
      summary: Get all actions for the user
      tags:
      - actions
      x-accepts:
      - application/json
    post:
      operationId: addAction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addAction_request'
        description: Add action body
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                list:
                  value: |-
                    [
                    "hielle.com"
                    ]
              schema:
                $ref: '#/components/schemas/AddActionResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not authorized or bad code
      summary: Add an action
      tags:
      - actions
      x-content-type: application/json
      x-accepts:
      - application/json
  /actions/{action}:
    delete:
      operationId: deleteAction
      parameters:
      - description: ID of the action
        explode: false
        in: path
        name: action
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful delete operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Key not found
      summary: Delete an action
      tags:
      - actions
      x-accepts:
      - application/json
    put:
      operationId: updateAction
      parameters:
      - description: ID of action
        explode: false
        in: path
        name: action
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addAction_request'
        description: Action body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: Successful update operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Key not found
      summary: Update an action key
      tags:
      - actions
      x-content-type: application/json
      x-accepts:
      - application/json
  /addresses:
    get:
      description: ""
      operationId: getAllAddresses
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllAddressesResponse'
          description: successful operation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Get all addresses you have access to
      tags:
      - addresses
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: addAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAddressRequest'
        description: Address body
        required: true
      responses:
        "200":
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Claim a new Mailscript address
      tags:
      - addresses
      x-content-type: application/json
      x-accepts:
      - application/json
  /addresses/{address}:
    delete:
      description: ""
      operationId: deleteAddress
      parameters:
      - description: ID of address
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: successful delete operation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Delete a mailscript address
      tags:
      - addresses
      x-accepts:
      - application/json
  /addresses/{address}/keys:
    get:
      operationId: getAllKeys
      parameters:
      - description: ID of address
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllKeysResponse'
          description: successful operation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Address not found
      summary: List address keys
      tags:
      - keys
      x-accepts:
      - application/json
    post:
      operationId: addKey
      parameters:
      - description: ID of address
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddKeyRequest'
        description: Key body
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddKeyResponse'
          description: successful operation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Address not found
      summary: Add address key
      tags:
      - keys
      x-content-type: application/json
      x-accepts:
      - application/json
  /addresses/{address}/keys/{key}:
    delete:
      operationId: deleteKey
      parameters:
      - description: ID of address
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      - description: ID of key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful delete operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Key not found
      summary: Delete address key
      tags:
      - keys
      x-accepts:
      - application/json
    get:
      operationId: getKey
      parameters:
      - description: ID of address
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      - description: ID of key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: successful operation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Key not found
      summary: Get address key
      tags:
      - keys
      x-accepts:
      - application/json
    put:
      operationId: updateKey
      parameters:
      - description: ID of address
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      - description: ID of key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKeyRequest'
        description: Key body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Key not found
      summary: Update an address key
      tags:
      - keys
      x-content-type: application/json
      x-accepts:
      - application/json
  /daemons/{daemon}/token:
    get:
      operationId: getDaemonToken
      parameters:
      - description: name of Daemon
        explode: false
        in: path
        name: daemon
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDaemonToken_200_response'
          description: Successful get operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
      summary: Get a token for opening a daemon connection
      tags:
      - daemon
      x-accepts:
      - application/json
  /domains:
    get:
      description: ""
      operationId: getAllDomains
      responses:
        "200":
          content:
            application/json:
              examples:
                list:
                  value: |-
                    {
                    "list": ["hielle.com"]
                    }
              schema:
                $ref: '#/components/schemas/GetAllDomainsResponse'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Get all domains you have access to
      tags:
      - domains
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: addDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDomainRequest'
        description: Domain body
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Add:
                  value: |-
                    {
                      "id": "hielle.com",
                      "records": [
                        {
                          "type:" "TXT",
                          "name": "@",
                          "value": "ms_verify=eecbb911-d940-41ea-8fc2-2c83295f418b"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/DomainResponse'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Claim a new Domain
      tags:
      - domains
      x-content-type: application/json
      x-accepts:
      - application/json
  /domains/verify/{domain}:
    get:
      description: ""
      operationId: getDomainVerify
      parameters:
      - description: Full Top-level domain name
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Domain verification record:
                  value: |-
                    {
                      "id": "hielle.com",
                      "records": [
                        {
                          "type:" "TXT",
                          "name": "@",
                          "value": "ms_verify=eecbb911-d940-41ea-8fc2-2c83295f418b"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/DomainResponse'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Get domain verification
      tags:
      - domains
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CheckDomainVerify
      parameters:
      - description: Full Top-level domain name
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                checkDomainVerify:
                  value: |-
                    {
                    "id":"hielle.com",
                    "success": true
                    }
              schema:
                $ref: '#/components/schemas/CheckDomainVerify'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authorization failed
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Check a new Domain
      tags:
      - domains
      x-accepts:
      - application/json
  /domains/{domain}:
    delete:
      description: ""
      operationId: removeDomainVerify
      parameters:
      - description: Full Top-level domain name
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Remove a domain
      tags:
      - domains
      x-accepts:
      - application/json
  /inputs:
    get:
      description: ""
      operationId: getAllInputs
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllInputsResponse'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
      summary: Get all inputs you have access to
      tags:
      - inputs
      x-accepts:
      - application/json
  /integrations:
    get:
      operationId: getAllIntegrations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllIntegrationsResponse'
          description: Successful operation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
      summary: Get all integrations for the user
      tags:
      - integrations
      x-accepts:
      - application/json
  /integrations/{integration}:
    delete:
      operationId: deleteIntegration
      parameters:
      - description: ID of the integration
        explode: false
        in: path
        name: integration
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful delete operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Key not found
      summary: Delete an integration
      tags:
      - integrations
      x-accepts:
      - application/json
  /send:
    post:
      operationId: send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendRequest'
        description: request body
        required: true
      responses:
        "200":
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
      summary: Send an email
      tags:
      - send
      x-content-type: application/json
      x-accepts:
      - application/json
  /triggers:
    get:
      description: ""
      operationId: getAllTriggers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllTriggersResponse'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
      summary: Get all triggers you have access to
      tags:
      - triggers
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: addTrigger
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTriggerRequest'
        description: Trigger body
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTriggerResponse'
          description: successful add operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
      summary: Setup a trigger
      tags:
      - triggers
      x-content-type: application/json
      x-accepts:
      - application/json
  /triggers/{trigger}:
    delete:
      operationId: deleteTrigger
      parameters:
      - description: ID of the trigger
        explode: false
        in: path
        name: trigger
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful delete operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Key not found
      summary: Delete a trigger
      tags:
      - triggers
      x-accepts:
      - application/json
    put:
      operationId: updateTrigger
      parameters:
      - description: ID of the trigger
        explode: false
        in: path
        name: trigger
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTriggerRequest'
        description: Trigger body
        required: true
      responses:
        "200":
          description: Successful update operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Key not found
      summary: Update a trigger
      tags:
      - triggers
      x-content-type: application/json
      x-accepts:
      - application/json
  /user:
    get:
      operationId: getAuthenticatedUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: successful operation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
      summary: Get the authenticated user
      tags:
      - user
      x-accepts:
      - application/json
    put:
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        description: User body
        required: true
      responses:
        "200":
          description: Successful update operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
      summary: Update a user
      tags:
      - user
      x-content-type: application/json
      x-accepts:
      - application/json
  /verifications:
    get:
      operationId: getAllVerifications
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllVerificationsResponse'
          description: Successful operation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
      summary: Get all verificats for the user
      tags:
      - verifications
      x-accepts:
      - application/json
    post:
      operationId: addVerification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addVerification_request'
        description: Key body
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddVerificationResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
      summary: Start verification process for external email address or sms number
      tags:
      - verifications
      x-content-type: application/json
      x-accepts:
      - application/json
  /verifications/{verification}/verify:
    post:
      operationId: verify
      parameters:
      - description: ID of the verification entry
        explode: false
        in: path
        name: verification
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verify_request'
        description: Verify action body
        required: true
      responses:
        "200":
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not authorized or bad code
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
      summary: Verify an email address or sms number with a code
      tags:
      - verifications
      x-content-type: application/json
      x-accepts:
      - application/json
  /workflows:
    get:
      description: ""
      operationId: getAllWorkflows
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllWorkflowsResponse'
          description: successful operation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Get all workflows you have access to
      tags:
      - workflows
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: addWorkflow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddWorkflowRequest'
        description: Workflow body
        required: true
      responses:
        "201":
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Setup workflow
      tags:
      - workflows
      x-content-type: application/json
      x-accepts:
      - application/json
  /workflows/set:
    post:
      operationId: setWorkflow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetWorkflowRequest'
        description: Set Workflow body
        required: true
      responses:
        "204":
          description: Successful update operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Key not found
      summary: Set a property on a workflow
      tags:
      - workflows
      x-content-type: application/json
      x-accepts:
      - application/json
  /workflows/{workflow}:
    delete:
      operationId: deleteWorkflow
      parameters:
      - description: ID of the workflow
        explode: false
        in: path
        name: workflow
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful delete operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Key not found
      summary: Delete a workflow
      tags:
      - workflows
      x-accepts:
      - application/json
    put:
      operationId: updateWorkflow
      parameters:
      - description: ID of the workflow
        explode: false
        in: path
        name: workflow
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddWorkflowRequest'
        description: Workflow body
        required: true
      responses:
        "200":
          description: Successful update operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Failure
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Key not found
      summary: Update an workflow
      tags:
      - workflows
      x-content-type: application/json
      x-accepts:
      - application/json
  /workspaces:
    get:
      description: ""
      operationId: getAllWorkspaces
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllWorkspacesResponse'
          description: successful operation
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Get all workspaces you have access to
      tags:
      - workspaces
      x-accepts:
      - application/json
    post:
      description: An attendant address will be created as well
      operationId: addWorkspace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddWorkspaceRequest'
        description: request body
        required: true
      responses:
        "201":
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad credentials
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid input
      summary: Claim a Mailscript workspace
      tags:
      - workspaces
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    ActionCombine:
      properties:
        createdAt:
          format: date-time
          type: string
        createdBy:
          type: string
        id:
          type: string
        list:
          items:
            type: string
          type: array
        name:
          type: string
        owner:
          type: string
      required:
      - config
      - createdAt
      - createdBy
      - id
      - name
      - output
      - owner
    ActionSend:
      example:
        output: output
        owner: owner
        createdAt: 2000-01-23T04:56:07.000+00:00
        createdBy: createdBy
        name: name
        id: id
        config:
          subject: subject
          html: html
          text: text
          type: type
      properties:
        config:
          $ref: '#/components/schemas/ActionSend_config'
        createdAt:
          format: date-time
          type: string
        createdBy:
          type: string
        id:
          type: string
        name:
          type: string
        output:
          type: string
        owner:
          type: string
      required:
      - config
      - createdAt
      - createdBy
      - id
      - name
      - output
      - owner
    AddActionAliasRequest:
      properties:
        config:
          $ref: '#/components/schemas/AddActionAliasRequest_config'
        name:
          type: string
        type:
          enum:
          - mailscript-email
          type: string
      required:
      - config
      - name
      - type
    AddActionCombineRequest:
      properties:
        list:
          items:
            type: string
          type: array
        name:
          type: string
      required:
      - list
      - name
    AddActionDaemonRequest:
      properties:
        config:
          $ref: '#/components/schemas/AddActionDaemonRequest_config'
        name:
          type: string
        type:
          enum:
          - daemon
          type: string
      required:
      - config
      - name
      - type
    AddActionForwardRequest:
      properties:
        config:
          $ref: '#/components/schemas/AddActionForwardRequest_config'
        name:
          type: string
        type:
          enum:
          - mailscript-email
          type: string
      required:
      - config
      - name
      - type
    AddActionReplyAllRequest:
      properties:
        config:
          $ref: '#/components/schemas/AddActionReplyAllRequest_config'
        name:
          type: string
        type:
          enum:
          - mailscript-email
          type: string
      required:
      - config
      - name
      - type
    AddActionReplyRequest:
      properties:
        config:
          $ref: '#/components/schemas/AddActionReplyRequest_config'
        name:
          type: string
        type:
          enum:
          - mailscript-email
          type: string
      required:
      - config
      - name
      - type
    AddActionResponse:
      example:
        id: id
      properties:
        id:
          type: string
      required:
      - id
    AddActionSendRequest:
      properties:
        config:
          $ref: '#/components/schemas/AddActionSendRequest_config'
        name:
          type: string
        type:
          enum:
          - mailscript-email
          type: string
      required:
      - config
      - name
      - type
    AddActionSmsRequest:
      properties:
        config:
          $ref: '#/components/schemas/AddActionSmsRequest_config'
        name:
          type: string
        type:
          enum:
          - sms
          type: string
      required:
      - config
      - name
      - type
    AddActionWebhookRequest:
      properties:
        config:
          $ref: '#/components/schemas/AddActionWebhookRequest_config'
        name:
          type: string
        type:
          enum:
          - webhook
          type: string
      required:
      - config
      - name
      - type
    AddAddressRequest:
      example:
        address: address
      properties:
        address:
          type: string
      required:
      - address
    AddDomainRequest:
      example:
        domain: domain
      properties:
        domain:
          type: string
      required:
      - domain
    AddEmailVerificationRequest:
      properties:
        email:
          type: string
        type:
          enum:
          - email
          type: string
      required:
      - email
      - type
    AddKeyRequest:
      example:
        read: true
        name: name
        write: true
      properties:
        name:
          type: string
        read:
          type: boolean
        write:
          type: boolean
      required:
      - name
      - read
      - write
    AddKeyResponse:
      example:
        id: id
      properties:
        id:
          type: string
    AddSmsVerificationRequest:
      properties:
        sms:
          type: string
        type:
          enum:
          - sms
          type: string
      required:
      - sms
      - type
    AddTriggerRequest:
      example:
        criteria:
          sentTo: sentTo
          domain: domain
          from: from
          subjectContains: subjectContains
          hasAttachments: true
          hasTheWords: hasTheWords
        name: name
      properties:
        criteria:
          $ref: '#/components/schemas/AddTriggerRequest_criteria'
        name:
          type: string
      required:
      - criteria
      - name
    AddTriggerResponse:
      example:
        id: id
      properties:
        id:
          type: string
      required:
      - id
    AddVerificationResponse:
      example:
        id: id
      properties:
        id:
          type: string
      required:
      - id
    AddWorkflowRequest:
      example:
        input: input
        name: name
        action: action
        active: true
        trigger: trigger
      properties:
        action:
          type: string
        active:
          type: boolean
        input:
          type: string
        name:
          type: string
        trigger:
          type: string
      required:
      - action
      - input
      - name
    AddWorkspaceRequest:
      example:
        workspace: workspace
      properties:
        workspace:
          type: string
      required:
      - workspace
    Address:
      example:
        owner: owner
        createdAt: 2000-01-23T04:56:07.000+00:00
        createdBy: createdBy
        displayName: displayName
        id: id
      properties:
        createdAt:
          format: date-time
          type: string
        createdBy:
          type: string
        displayName:
          type: string
        id:
          type: string
        owner:
          type: string
      required:
      - createdAt
      - createdBy
      - id
      - owner
    CheckDomainVerify:
      example:
        success: true
        domain: domain
      properties:
        domain:
          type: string
        success:
          type: boolean
      required:
      - domain
      - success
    Criteria:
      example:
        sentTo: sentTo
        domain: domain
        from: from
        subjectContains: subjectContains
        hasAttachments: true
        hasTheWords: hasTheWords
      minProperties: 1
      properties:
        domain:
          type: string
        from:
          type: string
        hasAttachments:
          type: boolean
        hasTheWords:
          type: string
        sentTo:
          type: string
        subjectContains:
          type: string
    CriteriaOperand:
      minProperties: 1
      properties:
        and:
          items:
            type: string
          type: array
        or:
          items:
            type: string
          type: array
    DomainResponse:
      example:
        records:
        - name: name
          type: type
          value: value
        - name: name
          type: type
          value: value
        domain: domain
      properties:
        domain:
          type: string
        records:
          items:
            $ref: '#/components/schemas/DomainResponse_records_inner'
          type: array
      required:
      - domain
      - records
    ErrorResponse:
      example:
        error: error
      properties:
        error:
          type: string
      required:
      - error
    GetAllActionsResponse:
      example:
        list:
        - output: output
          owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          name: name
          id: id
          config:
            subject: subject
            html: html
            text: text
            type: type
        - output: output
          owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          name: name
          id: id
          config:
            subject: subject
            html: html
            text: text
            type: type
      properties:
        list:
          items:
            $ref: '#/components/schemas/GetAllActionsResponse_list_inner'
          type: array
      required:
      - list
    GetAllAddressesResponse:
      example:
        list:
        - owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          displayName: displayName
          id: id
        - owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          displayName: displayName
          id: id
      properties:
        list:
          items:
            $ref: '#/components/schemas/GetAllAddressesResponse_list_inner'
          type: array
      required:
      - list
    GetAllDomainsResponse:
      example:
        id:
        - id
        - id
      properties:
        id:
          items:
            type: string
          type: array
      required:
      - list
    GetAllInputsResponse:
      example:
        list:
        - owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          address: address
          createdBy: createdBy
          name: name
          id: id
          type: mailescript-email
        - owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          address: address
          createdBy: createdBy
          name: name
          id: id
          type: mailescript-email
      properties:
        list:
          items:
            $ref: '#/components/schemas/GetAllInputsResponse_list_inner'
          type: array
      required:
      - list
    GetAllIntegrationsResponse:
      example:
        list:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: google
        - createdAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: google
      properties:
        list:
          items:
            $ref: '#/components/schemas/GetAllIntegrationsResponse_list_inner'
          type: array
      required:
      - list
    GetAllKeysResponse:
      example:
        list:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          read: true
          createdBy: createdBy
          name: name
          id: id
          write: true
        - createdAt: 2000-01-23T04:56:07.000+00:00
          read: true
          createdBy: createdBy
          name: name
          id: id
          write: true
      properties:
        list:
          items:
            $ref: '#/components/schemas/GetAllKeysResponse_list_inner'
          type: array
      required:
      - list
    GetAllTriggersResponse:
      example:
        list:
        - owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          criteria:
            sentTo: sentTo
            domain: domain
            from: from
            subjectContains: subjectContains
            hasAttachments: true
            hasTheWords: hasTheWords
          displayName: displayName
          name: name
          id: id
        - owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          criteria:
            sentTo: sentTo
            domain: domain
            from: from
            subjectContains: subjectContains
            hasAttachments: true
            hasTheWords: hasTheWords
          displayName: displayName
          name: name
          id: id
      properties:
        list:
          items:
            $ref: '#/components/schemas/GetAllTriggersResponse_list_inner'
          type: array
      required:
      - list
    GetAllVerificationsResponse:
      example:
        list:
        - verified: true
          verifiedAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: email
          verifiedBy: verifiedBy
          email: email
        - verified: true
          verifiedAt: 2000-01-23T04:56:07.000+00:00
          id: id
          type: email
          verifiedBy: verifiedBy
          email: email
      properties:
        list:
          items:
            $ref: '#/components/schemas/GetAllVerificationsResponse_list_inner'
          type: array
      required:
      - list
    GetAllWorkflowsResponse:
      example:
        list:
        - owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          input: input
          createdBy: createdBy
          name: name
          action: action
          active: true
          id: id
          trigger: trigger
        - owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          input: input
          createdBy: createdBy
          name: name
          action: action
          active: true
          id: id
          trigger: trigger
      properties:
        list:
          items:
            $ref: '#/components/schemas/GetAllWorkflowsResponse_list_inner'
          type: array
      required:
      - list
    GetAllWorkspacesResponse:
      example:
        list:
        - owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          id: id
        - owner: owner
          createdAt: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          id: id
      properties:
        list:
          items:
            $ref: '#/components/schemas/GetAllWorkspacesResponse_list_inner'
          type: array
      required:
      - list
    Integration:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        id: id
        type: google
      properties:
        createdAt:
          format: date-time
          type: string
        id:
          type: string
        type:
          enum:
          - google
          type: string
      required:
      - createdAt
      - id
      - type
    Key:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        read: true
        createdBy: createdBy
        name: name
        id: id
        write: true
      properties:
        createdAt:
          format: date-time
          type: string
        createdBy:
          type: string
        id:
          type: string
        name:
          type: string
        read:
          type: boolean
        write:
          type: boolean
      required:
      - createdAt
      - createdBy
      - id
      - name
      - read
      - write
    KeyValuePair:
      example:
        value: value
        key: key
      properties:
        key:
          type: string
        value:
          type: string
      required:
      - key
      - value
    MailscriptEmailInput:
      example:
        owner: owner
        createdAt: 2000-01-23T04:56:07.000+00:00
        address: address
        createdBy: createdBy
        name: name
        id: id
        type: mailescript-email
      properties:
        address:
          type: string
        createdAt:
          format: date-time
          type: string
        createdBy:
          type: string
        id:
          type: string
        name:
          type: string
        owner:
          type: string
        type:
          enum:
          - mailescript-email
          type: string
      required:
      - address
      - createdAt
      - createdBy
      - id
      - name
      - owner
      - type
    SendRequest:
      example:
        subject: subject
        from: from
        html: html
        text: text
        to: to
      properties:
        from:
          type: string
        html:
          type: string
        subject:
          type: string
        text:
          type: string
        to:
          type: string
      required:
      - from
      - subject
      - to
    SetWorkflowRequest:
      example:
        id: id
        pairs:
        - value: value
          key: key
        - value: value
          key: key
      properties:
        id:
          type: string
        pairs:
          items:
            $ref: '#/components/schemas/SetWorkflowRequest_pairs_inner'
          type: array
    Trigger:
      example:
        owner: owner
        createdAt: 2000-01-23T04:56:07.000+00:00
        createdBy: createdBy
        criteria:
          sentTo: sentTo
          domain: domain
          from: from
          subjectContains: subjectContains
          hasAttachments: true
          hasTheWords: hasTheWords
        displayName: displayName
        name: name
        id: id
      properties:
        createdAt:
          format: date-time
          type: string
        createdBy:
          type: string
        criteria:
          $ref: '#/components/schemas/Criteria'
        displayName:
          type: string
        id:
          type: string
        name:
          type: string
        owner:
          type: string
      required:
      - createdAt
      - createdBy
      - criteria
      - id
      - name
      - owner
    UpdateKeyRequest:
      example:
        read: true
        name: name
        write: true
      properties:
        name:
          type: string
        read:
          type: boolean
        write:
          type: boolean
      required:
      - name
      - read
      - write
    UpdateUserRequest:
      example:
        displayName: displayName
      properties:
        displayName:
          type: string
      required:
      - displayName
    User:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        photoURL: photoURL
        displayName: displayName
        id: id
        email: email
      properties:
        createdAt:
          format: date-time
          type: string
        displayName:
          type: string
        email:
          type: string
        id:
          type: string
        photoURL:
          type: string
      required:
      - createdAt
      - displayName
      - email
      - id
    VerificationEmail:
      example:
        verified: true
        verifiedAt: 2000-01-23T04:56:07.000+00:00
        id: id
        type: email
        verifiedBy: verifiedBy
        email: email
      properties:
        email:
          type: string
        id:
          type: string
        type:
          enum:
          - email
          type: string
        verified:
          type: boolean
        verifiedAt:
          format: date-time
          type: string
        verifiedBy:
          type: string
    VerificationSms:
      properties:
        id:
          type: string
        sms:
          type: string
        type:
          enum:
          - sms
          type: string
        verified:
          type: boolean
        verifiedAt:
          format: date-time
          type: string
        verifiedBy:
          type: string
    VerifyEmailRequest:
      properties:
        code:
          type: string
        email:
          type: string
      required:
      - code
      - email
    VerifySmsRequest:
      properties:
        code:
          type: string
        sms:
          type: string
      required:
      - code
      - sms
    Workflow:
      example:
        owner: owner
        createdAt: 2000-01-23T04:56:07.000+00:00
        input: input
        createdBy: createdBy
        name: name
        action: action
        active: true
        id: id
        trigger: trigger
      properties:
        action:
          type: string
        active:
          type: boolean
        createdAt:
          format: date-time
          type: string
        createdBy:
          type: string
        id:
          type: string
        input:
          type: string
        name:
          type: string
        owner:
          type: string
        trigger:
          type: string
      required:
      - action
      - createdAt
      - createdBy
      - id
      - input
      - name
      - owner
      - trigger
    Workspace:
      example:
        owner: owner
        createdAt: 2000-01-23T04:56:07.000+00:00
        createdBy: createdBy
        id: id
      properties:
        createdAt:
          format: date-time
          type: string
        createdBy:
          type: string
        id:
          type: string
        owner:
          type: string
      required:
      - createdAt
      - createdBy
      - id
      - owner
    addAction_request:
      oneOf:
      - $ref: '#/components/schemas/AddActionCombineRequest'
      - $ref: '#/components/schemas/AddActionSmsRequest'
      - $ref: '#/components/schemas/AddActionWebhookRequest'
      - $ref: '#/components/schemas/AddActionDaemonRequest'
      - $ref: '#/components/schemas/AddActionSendRequest'
      - $ref: '#/components/schemas/AddActionForwardRequest'
      - $ref: '#/components/schemas/AddActionForwardRequest'
      - $ref: '#/components/schemas/AddActionReplyRequest'
      - $ref: '#/components/schemas/AddActionReplyAllRequest'
      - $ref: '#/components/schemas/AddActionAliasRequest'
    getDaemonToken_200_response:
      example:
        token: token
      properties:
        token:
          type: string
      required:
      - token
    addVerification_request:
      oneOf:
      - $ref: '#/components/schemas/AddEmailVerificationRequest'
      - $ref: '#/components/schemas/AddSmsVerificationRequest'
    verify_request:
      oneOf:
      - $ref: '#/components/schemas/VerifyEmailRequest'
      - $ref: '#/components/schemas/VerifySmsRequest'
    ActionSend_config:
      example:
        subject: subject
        html: html
        text: text
        type: type
      properties:
        html:
          type: string
        subject:
          type: string
        text:
          type: string
        type:
          type: string
      required:
      - subject
      - type
      type: object
    AddActionAliasRequest_config:
      properties:
        alias:
          type: string
        type:
          enum:
          - alias
          type: string
      type: object
    AddActionDaemonRequest_config:
      properties:
        body:
          type: string
        daemon:
          type: string
      required:
      - body
      type: object
    AddActionForwardRequest_config:
      properties:
        forward:
          type: string
        from:
          type: string
        key:
          type: string
        type:
          enum:
          - forward
          type: string
      required:
      - forward
      - from
      - key
      - type
      type: object
    AddActionReplyAllRequest_config:
      properties:
        from:
          type: string
        html:
          type: string
        key:
          type: string
        text:
          type: string
        type:
          enum:
          - replyAll
          type: string
      required:
      - from
      - key
      - type
      type: object
    AddActionReplyRequest_config:
      properties:
        from:
          type: string
        html:
          type: string
        key:
          type: string
        text:
          type: string
        type:
          enum:
          - reply
          type: string
      required:
      - from
      - key
      - type
      type: object
    AddActionSendRequest_config:
      properties:
        from:
          type: string
        html:
          type: string
        key:
          type: string
        subject:
          type: string
        text:
          type: string
        to:
          type: string
        type:
          enum:
          - send
          type: string
      required:
      - from
      - key
      - send
      - subject
      type: object
    AddActionSmsRequest_config:
      properties:
        number:
          type: string
        text:
          type: string
      required:
      - number
      - text
      type: object
    AddActionWebhookRequest_config_opts:
      properties:
        headers:
          type: object
        method:
          enum:
          - POST
          - GET
          - DELETE
          type: string
      required:
      - headers
      - method
      type: object
    AddActionWebhookRequest_config:
      properties:
        body:
          type: string
        opts:
          $ref: '#/components/schemas/AddActionWebhookRequest_config_opts'
        url:
          type: string
      required:
      - body
      - opts
      - url
      type: object
    AddTriggerRequest_criteria:
      oneOf:
      - $ref: '#/components/schemas/Criteria'
      - $ref: '#/components/schemas/CriteriaOperand'
    DomainResponse_records_inner:
      example:
        name: name
        type: type
        value: value
      properties:
        name:
          type: string
        type:
          type: string
        value:
          type: string
      required:
      - name
      - type
      - value
      type: object
    GetAllActionsResponse_list_inner:
      oneOf:
      - $ref: '#/components/schemas/ActionSend'
      - $ref: '#/components/schemas/ActionCombine'
    GetAllAddressesResponse_list_inner:
      oneOf:
      - $ref: '#/components/schemas/Address'
      type: object
    GetAllInputsResponse_list_inner:
      oneOf:
      - $ref: '#/components/schemas/MailscriptEmailInput'
    GetAllIntegrationsResponse_list_inner:
      oneOf:
      - $ref: '#/components/schemas/Integration'
    GetAllKeysResponse_list_inner:
      oneOf:
      - $ref: '#/components/schemas/Key'
      type: object
    GetAllTriggersResponse_list_inner:
      oneOf:
      - $ref: '#/components/schemas/Trigger'
    GetAllVerificationsResponse_list_inner:
      oneOf:
      - $ref: '#/components/schemas/VerificationEmail'
      - $ref: '#/components/schemas/VerificationSms'
    GetAllWorkflowsResponse_list_inner:
      oneOf:
      - $ref: '#/components/schemas/Workflow'
      type: object
    GetAllWorkspacesResponse_list_inner:
      oneOf:
      - $ref: '#/components/schemas/Workspace'
      type: object
    SetWorkflowRequest_pairs_inner:
      oneOf:
      - $ref: '#/components/schemas/KeyValuePair'
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http

