openapi: 3.0.1
info:
  description: Azure Cosmos DB Database Service Resource Provider REST API
  title: Cosmos DB
  version: 2015-11-06
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-11-06/cosmos-db.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cosmos-db
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.DocumentDB/databaseAccountNames/{accountName}:
    head:
      description: "Checks that the Azure Cosmos DB account name already exists. A\
        \ valid account name may contain only lowercase letters, numbers, and the\
        \ '-' character, and must be between 3 and 50 characters."
      operationId: DatabaseAccounts_CheckNameExists
      parameters:
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The account name is valid but is already in use.
        "404":
          content: {}
          description: Not Found. The account name is available and valid.
      x-ms-examples:
        CosmosDBDatabaseAccountCheckNameExists:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
          responses:
            "200": {}
            "404": {}
      x-accepts:
      - application/json
  /providers/Microsoft.DocumentDB/operations:
    get:
      description: Lists all of the available Cosmos DB Resource Provider operations.
      operationId: Operations_List
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
      tags:
      - Operations
      x-ms-examples:
        CosmosDBOperationsList:
          parameters:
            api-version: 2015-11-06
          responses:
            "200":
              body:
                value:
                - display:
                    Description: description
                    Operation: operationName
                    Provider: providerName
                    Resource: resourceName
                  name: operationName
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/databaseAccounts:
    get:
      description: Lists all the Azure Cosmos DB database accounts available under
        the subscription.
      operationId: DatabaseAccounts_List
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAccountsListResult'
          description: The operation completed successfully.
      x-ms-examples:
        CosmosDBDatabaseAccountList:
          parameters:
            api-version: 2015-11-06
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                  kind: GlobalDocumentDB
                  location: West US
                  name: ddb1
                  properties:
                    consistencyPolicy:
                      defaultConsistencyLevel: Session
                      maxIntervalInSeconds: 5
                      maxStalenessPrefix: 100
                    databaseAccountOfferType: Standard
                    documentEndpoint: https://ddb1.documents.azure.com:443/
                    failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                    ipRangeFilter: ""
                    provisioningState: Succeeded
                    readLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                    writeLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts:
    get:
      description: Lists all the Azure Cosmos DB database accounts available under
        the given resource group.
      operationId: DatabaseAccounts_ListByResourceGroup
      parameters:
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAccountsListResult'
          description: The operation completed successfully.
      x-ms-examples:
        CosmosDBDatabaseAccountListByResourceGroup:
          parameters:
            api-version: 2015-11-06
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                  kind: GlobalDocumentDB
                  location: West US
                  name: ddb1
                  properties:
                    consistencyPolicy:
                      defaultConsistencyLevel: Session
                      maxIntervalInSeconds: 5
                      maxStalenessPrefix: 100
                    databaseAccountOfferType: Standard
                    documentEndpoint: https://ddb1.documents.azure.com:443/
                    failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                    ipRangeFilter: ""
                    provisioningState: Succeeded
                    readLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                    writeLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}
  : delete:
      description: Deletes an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_Delete
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: The database account delete operation will complete asynchronously.
        "204":
          content: {}
          description: The specified account does not exist in the subscription.
      x-ms-examples:
        CosmosDBDatabaseAccountDelete:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Retrieves the properties of an existing Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_Get
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAccount'
          description: The database account properties were retrieved successfully.
      x-ms-examples:
        CosmosDBDatabaseAccountGet:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  documentEndpoint: https://ddb1.documents.azure.com:443/
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                  ipRangeFilter: ""
                  isVirtualNetworkFilterEnabled: false
                  provisioningState: Succeeded
                  readLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                  virtualNetworkRules: []
                  writeLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
      x-accepts:
      - application/json
    patch:
      description: Patches the properties of an existing Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_Patch
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseAccountPatchParameters'
        description: The tags parameter to patch for the current database account.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAccount'
          description: The properties of the database account were patched successfully.
      x-ms-examples:
        CosmosDBDatabaseAccountPatch:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            resourceGroupName: rg1
            subscriptionId: subid
            updateParameters:
              tags:
                dept: finance
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  documentEndpoint: https://ddb1.documents.azure.com:443/
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                  ipRangeFilter: ""
                  provisioningState: Succeeded
                  readLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                  writeLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
      x-codegen-request-body-name: updateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates an Azure Cosmos DB database account.
      operationId: DatabaseAccounts_CreateOrUpdate
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseAccountCreateUpdateParameters'
        description: The parameters to provide for the current database account.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseAccount'
          description: The database account create or update operation will complete
            asynchronously.
      x-ms-examples:
        CosmosDBDatabaseAccountCreateMax:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            createUpdateParameters:
              kind: GlobalDocumentDB
              location: westus
              properties:
                consistencyPolicy:
                  defaultConsistencyLevel: BoundedStaleness
                  maxIntervalInSeconds: 10
                  maxStalenessPrefix: 200
                databaseAccountOfferType: Standard
                ipRangeFilter: 10.10.10.10
                isVirtualNetworkFilterEnabled: true
                locations:
                - failoverPriority: 0
                  isZoneRedundant: false
                  locationName: southcentralus
                - failoverPriority: 1
                  isZoneRedundant: false
                  locationName: eastus
                virtualNetworkRules:
                - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  ignoreMissingVNetServiceEndpoint: false
              tags: {}
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: BoundedStaleness
                    maxIntervalInSeconds: 10
                    maxStalenessPrefix: 200
                  databaseAccountOfferType: Standard
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    locationName: South Central US
                  - failoverPriority: 1
                    id: ddb1-eastus
                    locationName: East US
                  ipRangeFilter: 10.10.10.10
                  isVirtualNetworkFilterEnabled: true
                  provisioningState: Initializing
                  readLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    isZoneRedundant: false
                    locationName: South Central US
                    provisioningState: Initializing
                  - failoverPriority: 1
                    id: ddb1-eastus
                    isZoneRedundant: false
                    locationName: East US
                    provisioningState: Initializing
                  virtualNetworkRules:
                  - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  writeLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    isZoneRedundant: false
                    locationName: South Central US
                    provisioningState: Initializing
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
        CosmosDBDatabaseAccountCreateMin:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            createUpdateParameters:
              location: westus
              properties:
                databaseAccountOfferType: Standard
                locations:
                - failoverPriority: 0
                  isZoneRedundant: false
                  locationName: southcentralus
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    locationName: South Central US
                  ipRangeFilter: ""
                  provisioningState: Initializing
                  readLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    isZoneRedundant: false
                    locationName: South Central US
                    provisioningState: Initializing
                  writeLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    isZoneRedundant: false
                    locationName: South Central US
                    provisioningState: Initializing
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
      x-codegen-request-body-name: createUpdateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces
  : get:
      description: Lists the Cassandra keyspaces under an existing Azure Cosmos DB
        database account.
      operationId: DatabaseAccounts_ListCassandraKeyspaces
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraKeyspaceListResult'
          description: The Cassandra keyspace properties were retrieved successfully.
      x-ms-examples:
        CosmosDBCassandraKeyspaceList:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: keyspaceName
                  name: keyspaceName
                  properties:
                    id: keyspaceName
                  type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}
  : delete:
      description: Deletes an existing Azure Cosmos DB Cassandra keyspace.
      operationId: DatabaseAccounts_DeleteCassandraKeyspace
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: The Cassandra keyspace delete operation will complete asynchronously.
        "204":
          content: {}
          description: The Cassandra keyspace delete operation was completed successfully.
      x-ms-examples:
        CosmosDBCassandraKeyspaceDelete:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the Cassandra keyspaces under an existing Azure Cosmos DB
        database account with the provided name.
      operationId: DatabaseAccounts_GetCassandraKeyspace
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraKeyspace'
          description: The Cassandra keyspace property was retrieved successfully.
      x-ms-examples:
        CosmosDBCassandraKeyspaceGet:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: keyspaceName
                name: keyspaceName
                properties:
                  id: keyspaceName
                type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces
      x-accepts:
      - application/json
    put:
      description: Create or update an Azure Cosmos DB Cassandra keyspace
      operationId: DatabaseAccounts_CreateUpdateCassandraKeyspace
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CassandraKeyspaceCreateUpdateParameters'
        description: The parameters to provide for the current Cassandra keyspace.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraKeyspace'
          description: The Cassandra keyspace create or update operation was completed
            successfully.
        "202":
          content: {}
          description: The Cassandra keyspace create or update operation will complete
            asynchronously.
      x-ms-examples:
        CosmosDBCassandraKeyspaceCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            createUpdateCassandraKeyspaceParameters:
              properties:
                options: {}
                resource:
                  id: keyspaceName
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: keyspaceName
                name: keyspaceName
                properties:
                  id: keyspaceName
                type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: createUpdateCassandraKeyspaceParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/settings/throughput
  : get:
      description: Gets the RUs per second of the Cassandra Keyspace under an existing
        Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetCassandraKeyspaceThroughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Throughput'
          description: The RUs per second of the Cassandra Keyspace was retrieved
            successfully.
      x-ms-examples:
        CosmosDBCassandraKeyspaceThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  throughput: 400
      x-accepts:
      - application/json
    put:
      description: Update RUs per second of an Azure Cosmos DB Cassandra Keyspace
      operationId: DatabaseAccounts_UpdateCassandraKeyspaceThroughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThroughputUpdateParameters'
        description: The RUs per second of the parameters to provide for the current
          Cassandra Keyspace.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Throughput'
          description: The RUs per second of the Cassandra Keyspace update operation
            was completed successfully.
        "202":
          content: {}
          description: The RUs per second of the Cassandra Keyspace update operation
            will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraKeyspaceThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              properties:
                resource:
                  throughput: 400
          responses:
            "200":
              body:
                properties:
                  throughput: 400
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: updateThroughputParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/tables
  : get:
      description: Lists the Cassandra table under an existing Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_ListCassandraTables
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraTableListResult'
          description: The Cassandra table properties were retrieved successfully.
      x-ms-examples:
        CosmosDBCassandraTableList:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            keyspaceName: keyspaceName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: tableName
                  name: tableName
                  properties:
                    defaultTtl: 100
                    id: tableName
                    schema:
                      clusterKeys:
                      - name: columnA
                        orderBy: Asc
                      columns:
                      - name: columnA
                        type: Ascii
                      partitionKeys:
                      - name: columnA
                  type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces/tables
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/tables/{tableName}
  : delete:
      description: Deletes an existing Azure Cosmos DB Cassandra table.
      operationId: DatabaseAccounts_DeleteCassandraTable
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB table name.
        in: path
        name: tableName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: The Cassandra table delete operation will complete asynchronously.
        "204":
          content: {}
          description: The Cassandra table delete operation was completed successfully.
      x-ms-examples:
        CosmosDBCassandraTableDelete:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the Cassandra table under an existing Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_GetCassandraTable
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB table name.
        in: path
        name: tableName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraTable'
          description: The Cassandra table property was retrieved successfully.
      x-ms-examples:
        CosmosDBCassandraTableGet:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                id: tableName
                name: tableName
                properties:
                  defaultTtl: 100
                  id: tableName
                  schema:
                    clusterKeys:
                    - name: columnA
                      orderBy: Asc
                    columns:
                    - name: columnA
                      type: Ascii
                    partitionKeys:
                    - name: columnA
                type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces/tables
      x-accepts:
      - application/json
    put:
      description: Create or update an Azure Cosmos DB Cassandra Table
      operationId: DatabaseAccounts_CreateUpdateCassandraTable
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB table name.
        in: path
        name: tableName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CassandraTableCreateUpdateParameters'
        description: The parameters to provide for the current Cassandra Table.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CassandraTable'
          description: The Cassandra Table create or update operation was completed
            successfully.
        "202":
          content: {}
          description: The Cassandra Table create or update operation will complete
            asynchronously.
      x-ms-examples:
        CosmosDBCassandraTableCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            createUpdateCassandraTableParameters:
              properties:
                options: {}
                resource:
                  defaultTtl: 100
                  id: tableName
                  schema:
                    clusterKeys:
                    - name: columnA
                      orderBy: Asc
                    columns:
                    - name: columnA
                      type: Ascii
                    partitionKeys:
                    - name: columnA
            keyspaceName: tableName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                id: tableName
                name: tableName
                properties:
                  defaultTtl: 100
                  id: tableName
                  schema:
                    clusterKeys:
                    - name: columnA
                      orderBy: Asc
                    columns:
                    - name: columnA
                      type: Ascii
                    partitionKeys:
                    - name: columnA
                type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces/tables
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: createUpdateCassandraTableParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/tables/{tableName}/settings/throughput
  : get:
      description: Gets the RUs per second of the Cassandra table under an existing
        Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetCassandraTableThroughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB table name.
        in: path
        name: tableName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Throughput'
          description: The RUs per second of the Cassandra table was retrieved successfully.
      x-ms-examples:
        CosmosDBCassandraTableThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                properties:
                  throughput: 400
      x-accepts:
      - application/json
    put:
      description: Update RUs per second of an Azure Cosmos DB Cassandra table
      operationId: DatabaseAccounts_UpdateCassandraTableThroughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB keyspace name.
        in: path
        name: keyspaceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB table name.
        in: path
        name: tableName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThroughputUpdateParameters'
        description: The RUs per second of the parameters to provide for the current
          Cassandra table.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Throughput'
          description: The RUs per second of the Cassandra table update operation
            was completed successfully.
        "202":
          content: {}
          description: The RUs per second of the Cassandra table update operation
            will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraTableThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
            updateThroughputParameters:
              properties:
                resource:
                  throughput: 400
          responses:
            "200":
              body:
                properties:
                  throughput: 400
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: updateThroughputParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases
  : get:
      description: Lists the Gremlin databases under an existing Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_ListGremlinDatabases
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GremlinDatabaseListResult'
          description: The Gremlin database properties were retrieved successfully.
      x-ms-examples:
        CosmosDBGremlinDatabaseList:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: databaseName
                  name: databaseName
                  properties:
                    _etag: '"00000a00-0000-0000-0000-56672f920000"'
                    _rid: CqNBAA==
                    _ts: 1449602962
                    id: databaseName
                  type: Microsoft.DocumentDB/databaseAccounts/apis/databases
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}
  : delete:
      description: Deletes an existing Azure Cosmos DB Gremlin database.
      operationId: DatabaseAccounts_DeleteGremlinDatabase
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: The Gremlin database delete operation will complete asynchronously.
        "204":
          content: {}
          description: The Gremlin database delete operation was completed successfully.
      x-ms-examples:
        CosmosDBGremlinDatabaseDelete:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the Gremlin databases under an existing Azure Cosmos DB database
        account with the provided name.
      operationId: DatabaseAccounts_GetGremlinDatabase
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GremlinDatabase'
          description: The Gremlin database property was retrieved successfully.
      x-ms-examples:
        CosmosDBGremlinDatabaseGet:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: databaseName
                name: databaseName
                properties:
                  _etag: '"00000a00-0000-0000-0000-56672f920000"'
                  _rid: CqNBAA==
                  _ts: 1449602962
                  id: databaseName
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases
      x-accepts:
      - application/json
    put:
      description: Create or update an Azure Cosmos DB Gremlin database
      operationId: DatabaseAccounts_CreateUpdateGremlinDatabase
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GremlinDatabaseCreateUpdateParameters'
        description: The parameters to provide for the current Gremlin database.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GremlinDatabase'
          description: The Gremlin database create or update operation was completed
            successfully.
        "202":
          content: {}
          description: The Gremlin database create or update operation will complete
            asynchronously.
      x-ms-examples:
        CosmosDBGremlinDatabaseCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            createUpdateGremlinDatabaseParameters:
              properties:
                options: {}
                resource:
                  id: databaseName
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: databaseName
                name: databaseName
                properties:
                  _etag: '"00000a00-0000-0000-0000-56672f920000"'
                  _rid: CqNBAA==
                  _ts: 1449602962
                  id: databaseName
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: createUpdateGremlinDatabaseParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/graphs
  : get:
      description: Lists the Gremlin graph under an existing Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_ListGremlinGraphs
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GremlinGraphListResult'
          description: The Gremlin graph properties were retrieved successfully.
      x-ms-examples:
        CosmosDBGremlinGraphList:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            databaseName: databaseName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: testgrf
                  name: testgrf
                  properties:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    conflictResolutionPolicy:
                      conflictResolutionPath: /path
                      mode: LastWriterWins
                    defaultTtl: 100
                    id: testgrf
                    indexingPolicy:
                      automatic: true
                      excludedPaths: []
                      includedPaths:
                      - indexes:
                        - dataType: String
                          kind: Range
                          precision: -1
                        - dataType: Number
                          kind: Range
                          precision: -1
                        path: /*
                      indexingMode: Consistent
                    partitionKey:
                      kind: Hash
                      paths:
                      - /AccountNumber
                    uniqueKeyPolicy:
                      uniqueKeys:
                      - paths:
                        - /testPath
                  type: Microsoft.DocumentDB/databaseAccounts/apis/databases/graphs
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/graphs/{graphName}
  : delete:
      description: Deletes an existing Azure Cosmos DB Gremlin graph.
      operationId: DatabaseAccounts_DeleteGremlinGraph
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB graph name.
        in: path
        name: graphName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: The Gremlin graph delete operation will complete asynchronously.
        "204":
          content: {}
          description: The Gremlin graph delete operation was completed successfully.
      x-ms-examples:
        CosmosDBGremlinGraphDelete:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the Gremlin graph under an existing Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_GetGremlinGraph
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB graph name.
        in: path
        name: graphName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GremlinGraph'
          description: The Gremlin graph property was retrieved successfully.
      x-ms-examples:
        CosmosDBGremlinGraphGet:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                id: graphName
                name: graphName
                properties:
                  _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                  _rid: PD5DALigDgw=
                  _ts: 1459200611
                  conflictResolutionPolicy:
                    conflictResolutionPath: /path
                    mode: LastWriterWins
                  defaultTtl: 100
                  id: graphName
                  indexingPolicy:
                    automatic: true
                    excludedPaths: []
                    includedPaths:
                    - indexes:
                      - dataType: String
                        kind: Range
                        precision: -1
                      - dataType: Number
                        kind: Range
                        precision: -1
                      path: /*
                    indexingMode: Consistent
                  partitionKey:
                    kind: Hash
                    paths:
                    - /AccountNumber
                  uniqueKeyPolicy:
                    uniqueKeys:
                    - paths:
                      - /testPath
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases/graphs
      x-accepts:
      - application/json
    put:
      description: Create or update an Azure Cosmos DB Gremlin graph
      operationId: DatabaseAccounts_CreateUpdateGremlinGraph
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB graph name.
        in: path
        name: graphName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GremlinGraphCreateUpdateParameters'
        description: The parameters to provide for the current Gremlin graph.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GremlinGraph'
          description: The Gremlin graph create or update operation was completed
            successfully.
        "202":
          content: {}
          description: The Gremlin graph create or update operation will complete
            asynchronously.
      x-ms-examples:
        CosmosDBGremlinGraphCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            createUpdateGremlinGraphParameters:
              properties:
                options: {}
                resource:
                  conflictResolutionPolicy:
                    conflictResolutionPath: /path
                    mode: LastWriterWins
                  defaultTtl: 100
                  id: graphName
                  indexingPolicy:
                    automatic: true
                    excludedPaths: []
                    includedPaths:
                    - indexes:
                      - dataType: String
                        kind: Range
                        precision: -1
                      - dataType: Number
                        kind: Range
                        precision: -1
                      path: /*
                    indexingMode: Consistent
                  partitionKey:
                    kind: Hash
                    paths:
                    - /AccountNumber
                  uniqueKeyPolicy:
                    uniqueKeys:
                    - paths:
                      - /testPath
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: graphName
                name: graphName
                properties:
                  _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                  _rid: PD5DALigDgw=
                  _ts: 1459200611
                  conflictResolutionPolicy:
                    conflictResolutionPath: /path
                    mode: LastWriterWins
                  defaultTtl: 100
                  id: graphName
                  indexingPolicy:
                    automatic: true
                    excludedPaths: []
                    includedPaths:
                    - indexes:
                      - dataType: String
                        kind: Range
                        precision: -1
                      - dataType: Number
                        kind: Range
                        precision: -1
                      path: /*
                    indexingMode: Consistent
                  partitionKey:
                    kind: Hash
                    paths:
                    - /AccountNumber
                  uniqueKeyPolicy:
                    uniqueKeys:
                    - paths:
                      - /testPath
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases/graphs
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: createUpdateGremlinGraphParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/graphs/{graphName}/settings/throughput
  : get:
      description: Gets the Gremlin graph throughput under an existing Azure Cosmos
        DB database account with the provided name.
      operationId: DatabaseAccounts_GetGremlinGraphThroughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB graph name.
        in: path
        name: graphName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Throughput'
          description: The RUs per second of the Gremlin graph was retrieved successfully.
      x-ms-examples:
        CosmosDBGremlinGraphThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  throughput: 400
      x-accepts:
      - application/json
    put:
      description: Update RUs per second of an Azure Cosmos DB Gremlin graph
      operationId: DatabaseAccounts_UpdateGremlinGraphThroughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB graph name.
        in: path
        name: graphName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThroughputUpdateParameters'
        description: The RUs per second of the parameters to provide for the current
          Gremlin graph.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Throughput'
          description: The RUs per second of the Gremlin graph update operation was
            completed successfully.
        "202":
          content: {}
          description: The RUs per second of the Gremlin graph update operation will
            complete asynchronously.
      x-ms-examples:
        CosmosDBGremlinGraphThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              properties:
                resource:
                  throughput: 400
          responses:
            "200":
              body:
                properties:
                  throughput: 400
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: updateThroughputParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/settings/throughput
  : get:
      description: Gets the RUs per second of the Gremlin database under an existing
        Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetGremlinDatabaseThroughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Throughput'
          description: The RUs per second of the Gremlin database was retrieved successfully.
      x-ms-examples:
        CosmosDBGremlinDatabaseThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  throughput: 400
      x-accepts:
      - application/json
    put:
      description: Update RUs per second of an Azure Cosmos DB Gremlin database
      operationId: DatabaseAccounts_UpdateGremlinDatabaseThroughput
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThroughputUpdateParameters'
        description: The RUs per second of the parameters to provide for the current
          Gremlin database.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Throughput'
          description: The RUs per second of the Gremlin database update operation
            was completed successfully.
        "202":
          content: {}
          description: The RUs per second of the Gremlin database update operation
            will complete asynchronously.
      x-ms-examples:
        CosmosDBGremlinDatabaseThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              properties:
                resource:
                  throughput: 400
          responses:
            "200":
              body:
                properties:
                  throughput: 400
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: updateThroughputParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases
  : get:
      description: Lists the MongoDB databases under an existing Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_ListMongoDBDatabases
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MongoDBDatabaseListResult'
          description: The MongoDB database properties were retrieved successfully.
      x-ms-examples:
        CosmosDBMongoDBDatabaseList:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: databaseName
                  name: databaseName
                  properties:
                    id: databaseName
                  type: Microsoft.DocumentDB/databaseAccounts/apis/databases
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}
  : delete:
      description: Deletes an existing Azure Cosmos DB MongoDB database.
      operationId: DatabaseAccounts_DeleteMongoDBDatabase
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Cosmos DB database name.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2015-04-08.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: The MongoDB database delete operation will complete asynchronously.
        "204":
          content: {}
          description: The MongoDB database delete operation was completed successfully.
      x-ms-examples:
        CosmosDBMongoDBDatabaseDelete:
          parameters:
            accountName: ddb1
            api-version: 2015-11-06
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the MongoDB databases under an existing Azure Cosmos DB database
        account with the provided name.
      operationId: DatabaseAccounts_GetMongoDBDatabase
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
[...]
