openapi: 3.0.1
info:
  title: AppServicePlans API Client
  version: 2018-02-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServicePlans.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: web-AppServicePlans
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms:
    get:
      description: Get all App Service plans for a subscription.
      operationId: AppServicePlans_List
      parameters:
      - description: |-
          Specify <code>true</code> to return all App Service plan properties. The default is <code>false</code>, which returns a subset of the properties.
           Retrieval of all properties may increase the API latency.
        in: query
        name: detailed
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Get all App Service plans for a subscription.
      tags:
      - AppServicePlans
      x-ms-examples:
        List App Service plans:
          parameters:
            api-version: 2016-09-01
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                  kind: app
                  location: East US
                  name: testsf6141
                  properties:
                    currentNumberOfWorkers: 1
                    currentWorkerSize: Default
                    geoRegion: East US
                    isSpot: false
                    kind: app
                    maximumNumberOfWorkers: 20
                    mdmId: waws-prod-blu-033_4740
                    name: testsf6141
                    numberOfSites: 4
                    numberOfWorkers: 1
                    provisioningState: Succeeded
                    reserved: false
                    status: Ready
                    targetWorkerCount: 0
                    targetWorkerSizeId: 0
                    workerSize: Default
                  sku:
                    capacity: 1
                    family: P
                    name: P1
                    size: P1
                    tier: Premium
                  type: Microsoft.Web/serverfarms
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf7252
                  kind: app
                  location: East US
                  name: testsf7252
                  properties:
                    currentNumberOfWorkers: 1
                    currentWorkerSize: Default
                    geoRegion: East US
                    isSpot: false
                    kind: app
                    maximumNumberOfWorkers: 20
                    mdmId: waws-prod-blu-033_5680
                    name: testsf7252
                    numberOfSites: 4
                    numberOfWorkers: 1
                    provisioningState: Succeeded
                    reserved: false
                    status: Ready
                    targetWorkerCount: 0
                    targetWorkerSizeId: 0
                    workerSize: Default
                  sku:
                    capacity: 1
                    family: P
                    name: P1
                    size: P1
                    tier: Premium
                  type: Microsoft.Web/serverfarms
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms:
    get:
      description: Get all App Service plans in a resource group.
      operationId: AppServicePlans_ListByResourceGroup
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Get all App Service plans in a resource group.
      tags:
      - AppServicePlans
      x-ms-examples:
        List App Service plans by resource group:
          parameters:
            api-version: 2016-09-01
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                  kind: app
                  location: East US
                  name: testsf6141
                  properties:
                    currentNumberOfWorkers: 1
                    currentWorkerSize: Default
                    geoRegion: East US
                    isSpot: false
                    kind: app
                    maximumNumberOfWorkers: 20
                    mdmId: waws-prod-blu-033_4740
                    name: testsf6141
                    numberOfSites: 4
                    numberOfWorkers: 1
                    provisioningState: Succeeded
                    reserved: false
                    status: Ready
                    targetWorkerCount: 0
                    targetWorkerSizeId: 0
                    workerSize: Default
                  sku:
                    capacity: 1
                    family: P
                    name: P1
                    size: P1
                    tier: Premium
                  type: Microsoft.Web/serverfarms
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf7252
                  kind: app
                  location: East US
                  name: testsf7252
                  properties:
                    currentNumberOfWorkers: 1
                    currentWorkerSize: Default
                    geoRegion: East US
                    isSpot: false
                    kind: app
                    maximumNumberOfWorkers: 20
                    mdmId: waws-prod-blu-033_5680
                    name: testsf7252
                    numberOfSites: 4
                    numberOfWorkers: 1
                    provisioningState: Succeeded
                    reserved: false
                    status: Ready
                    targetWorkerCount: 0
                    targetWorkerSizeId: 0
                    workerSize: Default
                  sku:
                    capacity: 1
                    family: P
                    name: P1
                    size: P1
                    tier: Premium
                  type: Microsoft.Web/serverfarms
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}:
    delete:
      description: Delete an App Service plan.
      operationId: AppServicePlans_Delete
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK.
        "204":
          content: {}
          description: OK.
      summary: Delete an App Service plan.
      tags:
      - AppServicePlans
      x-ms-examples:
        Delete App Service plan:
          parameters:
            api-version: 2016-09-01
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get an App Service plan.
      operationId: AppServicePlans_Get
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: OK.
        "404":
          content: {}
          description: Not found.
      summary: Get an App Service plan.
      tags:
      - AppServicePlans
      x-ms-examples:
        Get App Service plan:
          parameters:
            api-version: 2016-09-01
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  isSpot: false
                  kind: app
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers: {}
            "404": {}
      x-accepts:
      - application/json
    patch:
      description: Creates or updates an App Service Plan.
      operationId: AppServicePlans_Update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServicePlanPatchResource'
        description: Details of the App Service plan.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: Operation is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Creates or updates an App Service Plan.
      tags:
      - AppServicePlans
      x-ms-examples:
        Patch Service plan:
          parameters:
            api-version: 2016-09-01
            appServicePlan:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
              kind: app
              name: testsf6141
              properties:
                name: testsf6141
              type: Microsoft.Web/serverfarms
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers: {}
            "202":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  isSpot: false
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0
                location: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0
      x-codegen-request-body-name: appServicePlan
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates an App Service Plan.
      operationId: AppServicePlans_CreateOrUpdate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServicePlans_Get_200_response'
        description: Details of the App Service plan.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: OK.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: Created.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: Operation is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Creates or updates an App Service Plan.
      tags:
      - AppServicePlans
      x-ms-examples:
        Create Or Update App Service plan:
          parameters:
            api-version: 2016-09-01
            appServicePlan:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
              kind: app
              location: East US
              name: testsf6141
              properties:
                name: testsf6141
              sku:
                capacity: 1
                family: P
                name: P1
                size: P1
                tier: Premium
              type: Microsoft.Web/serverfarms
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers: {}
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers: {}
            "202":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  isSpot: false
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0
                location: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0
      x-ms-long-running-operation: true
      x-codegen-request-body-name: appServicePlan
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/capabilities:
    get:
      description: List all capabilities of an App Service plan.
      operationId: AppServicePlans_ListCapabilities
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_sku_capabilities_inner'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: List all capabilities of an App Service plan.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}
  : delete:
      description: Delete a Hybrid Connection in use in an App Service plan.
      operationId: AppServicePlans_DeleteHybridConnection
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Service Bus namespace.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Name of the Service Bus relay.
        in: path
        name: relayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted hybrid connection
        "204":
          content: {}
          description: Hybrid connection does not exist
      summary: Delete a Hybrid Connection in use in an App Service plan.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
    get:
      description: Retrieve a Hybrid Connection in use in an App Service plan.
      operationId: AppServicePlans_GetHybridConnection
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Service Bus namespace.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Name of the Service Bus relay.
        in: path
        name: relayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_GetHybridConnection_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Retrieve a Hybrid Connection in use in an App Service plan.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}/listKeys
  : post:
      description: Get the send key name and value of a Hybrid Connection.
      operationId: AppServicePlans_ListHybridConnectionKeys
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The name of the Service Bus namespace.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The name of the Service Bus relay.
        in: path
        name: relayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_ListHybridConnectionKeys_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Get the send key name and value of a Hybrid Connection.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}/sites
  : get:
      description: Get all apps that use a Hybrid Connection in an App Service Plan.
      operationId: AppServicePlans_ListWebAppsByHybridConnection
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Hybrid Connection namespace.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Name of the Hybrid Connection relay.
        in: path
        name: relayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Get all apps that use a Hybrid Connection in an App Service Plan.
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionPlanLimits/limit
  : get:
      description: Get the maximum number of Hybrid Connections allowed in an App
        Service plan.
      operationId: AppServicePlans_GetHybridConnectionPlanLimit
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridConnectionLimits'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Get the maximum number of Hybrid Connections allowed in an App Service
        plan.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionRelays
  : get:
      description: Retrieve all Hybrid Connections in use in an App Service plan.
      operationId: AppServicePlans_ListHybridConnections
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridConnectionCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Retrieve all Hybrid Connections in use in an App Service plan.
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/metricdefinitions:
    get:
      description: "Get metrics that can be queried for an App Service plan, and their\
        \ definitions."
      operationId: AppServicePlans_ListMetricDefintions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_ListMetricDefintions_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: "Get metrics that can be queried for an App Service plan, and their\
        \ definitions."
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/metrics:
    get:
      description: Get metrics for an App Service plan.
      operationId: AppServicePlans_ListMetrics
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Specify <code>true</code> to include instance details. The default
          is <code>false</code>.
        in: query
        name: details
        schema:
          type: boolean
      - description: "Return only usages/metrics specified in the filter. Filter conforms\
          \ to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value\
          \ eq 'Metric2') and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z\
          \ and timeGrain eq duration'[Hour|Minute|Day]'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_ListMetrics_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Get metrics for an App Service plan.
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/restartSites:
    post:
      description: Restart all apps in an App Service plan.
      operationId: AppServicePlans_RestartWebApps
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify <code>true</code> to perform a soft restart, applies\
          \ the configuration settings and restarts the apps if necessary. The default\
          \ is <code>false</code>, which always restarts and reprovisions the apps"
        in: query
        name: softRestart
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
      summary: Restart all apps in an App Service plan.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/sites:
    get:
      description: Get all apps associated with an App Service plan.
      operationId: AppServicePlans_ListWebApps
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Skip to a web app in the list of webapps associated with app\
          \ service plan. If specified, the resulting list will contain web apps starting\
          \ from (including) the skipToken. Otherwise, the resulting list contains\
          \ web apps from the start of the list"
        in: query
        name: $skipToken
        schema:
          type: string
      - description: "Supported filter: $filter=state eq running. Returns only web\
          \ apps that are currently running"
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: "List page size. If specified, results are paged."
        in: query
        name: $top
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_ListWebApps_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Get all apps associated with an App Service plan.
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/skus:
    get:
      description: Gets all selectable SKUs for a given App Service Plan
      operationId: AppServicePlans_GetServerFarmSkus
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of App Service Plan
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Gets all selectable SKUs for a given App Service Plan
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/usages:
    get:
      description: Gets server farm usage information
      operationId: AppServicePlans_ListUsages
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of App Service Plan
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Return only usages/metrics specified in the filter. Filter conforms\
          \ to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value\
          \ eq 'Metric2')."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_ListUsages_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Gets server farm usage information
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections
  : get:
      description: Get all Virtual Networks associated with an App Service plan.
      operationId: AppServicePlans_ListVnets
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppServicePlans_ListVnets_200_response_inner'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Get all Virtual Networks associated with an App Service plan.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}
  : get:
      description: Get a Virtual Network associated with an App Service plan.
      operationId: AppServicePlans_GetVnetFromServerFarm
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_GetVnetFromServerFarm_200_response'
          description: OK.
        "404":
          content: {}
          description: Virtual network could not be found.
      summary: Get a Virtual Network associated with an App Service plan.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/gateways/{gatewayName}
  : get:
      description: Get a Virtual Network gateway.
      operationId: AppServicePlans_GetVnetGateway
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the gateway. Only the 'primary' gateway is supported.
        in: path
        name: gatewayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_GetVnetGateway_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Get a Virtual Network gateway.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
    put:
      description: Update a Virtual Network gateway.
      operationId: AppServicePlans_UpdateVnetGateway
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the gateway. Only the 'primary' gateway is supported.
        in: path
        name: gatewayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServicePlans_GetVnetGateway_200_response'
        description: Definition of the gateway.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_GetVnetGateway_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Update a Virtual Network gateway.
      tags:
      - AppServicePlans
      x-codegen-request-body-name: connectionEnvelope
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/routes
  : get:
      description: Get all routes that are associated with a Virtual Network in an
        App Service plan.
      operationId: AppServicePlans_ListRoutesForVnet
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppServicePlans_ListVnets_200_response_inner_properties_routes_inner'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_default_response'
          description: App Service error response.
      summary: Get all routes that are associated with a Virtual Network in an App
        Service plan.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/routes/{routeName}
  : delete:
      description: Delete a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_DeleteVnetRoute
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network route.
        in: path
        name: routeName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted Virtual Network route.
        "404":
          content: {}
          description: Specified Virtual Network route does not exist.
      summary: Delete a Virtual Network route in an App Service plan.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
    get:
      description: Get a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_GetRouteForVnet
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network route.
        in: path
        name: routeName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppServicePlans_ListVnets_200_response_inner_properties_routes_inner'
                type: array
          description: OK.
        "404":
          content: {}
          description: Specified route does not exist.
      summary: Get a Virtual Network route in an App Service plan.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
    patch:
      description: Create or update a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_UpdateVnetRoute
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network route.
        in: path
        name: routeName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServicePlans_CreateOrUpdateVnetRoute_request'
        description: Definition of the Virtual Network route.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_CreateOrUpdateVnetRoute_request'
          description: OK.
        "400":
          content: {}
          description: "Invalid request. Ensure that required parameters are given,\
            \ and that addresses and address spaces are valid."
        "404":
          content: {}
          description: Route not found.
      summary: Create or update a Virtual Network route in an App Service plan.
      tags:
      - AppServicePlans
      x-codegen-request-body-name: route
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a Virtual Network route in an App Service plan.
      operationId: AppServicePlans_CreateOrUpdateVnetRoute
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network route.
        in: path
        name: routeName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServicePlans_CreateOrUpdateVnetRoute_request'
        description: Definition of the Virtual Network route.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_CreateOrUpdateVnetRoute_request'
          description: OK.
        "400":
          content: {}
          description: "Invalid request. Ensure that required parameters are given,\
            \ and that addresses and address spaces are valid."
        "404":
          content: {}
          description: Route not found.
      summary: Create or update a Virtual Network route in an App Service plan.
      tags:
      - AppServicePlans
      x-codegen-request-body-name: route
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/workers/{workerName}/reboot
  : post:
      description: Reboot a worker machine in an App Service plan.
      operationId: AppServicePlans_RebootWorker
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Name of worker machine, which typically starts with RD."
        in: path
        name: workerName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
      summary: Reboot a worker machine in an App Service plan.
      tags:
      - AppServicePlans
      x-accepts:
      - application/json
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AppServicePlanPatchResource:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: ARM resource for a app service plan.
      example:
        properties: "{}"
      properties:
        properties:
          description: AppServicePlanPatchResource resource specific properties
          properties:
            freeOfferExpirationTime:
              description: The time when the server farm free offer expires.
              format: date-time
              type: string
            geoRegion:
              description: Geographical location for the App Service plan.
              readOnly: true
              type: string
            hostingEnvironmentProfile:
              description: Specification for an App Service Environment to use for
                this resource.
              properties:
                id:
                  description: Resource ID of the App Service Environment.
                  type: string
                name:
                  description: Name of the App Service Environment.
                  readOnly: true
                  type: string
                type:
                  description: Resource type of the App Service Environment.
                  readOnly: true
                  type: string
              type: object
            hyperV:
              default: false
              description: "If Hyper-V container app service plan <code>true</code>,\
                \ <code>false</code> otherwise."
              type: boolean
              x-ms-mutability:
              - create
              - read
            isSpot:
              description: "If <code>true</code>, this App Service Plan owns spot\
                \ instances."
              type: boolean
            isXenon:
              default: false
              description: "Obsolete: If Hyper-V container app service plan <code>true</code>,\
                \ <code>false</code> otherwise."
              type: boolean
              x-ms-mutability:
              - create
              - read
            maximumElasticWorkerCount:
              description: Maximum number of total workers allowed for this ElasticScaleEnabled
                App Service Plan
              format: int32
              type: integer
            maximumNumberOfWorkers:
              description: Maximum number of instances that can be assigned to this
                App Service plan.
              format: int32
              readOnly: true
              type: integer
            numberOfSites:
              description: Number of apps assigned to this App Service plan.
              format: int32
              readOnly: true
              type: integer
            perSiteScaling:
              default: false
              description: |-
                If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
                If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
              type: boolean
            provisioningState:
              description: Provisioning state of the App Service Environment.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            reserved:
              default: false
              description: "If Linux app service plan <code>true</code>, <code>false</code>\
                \ otherwise."
              type: boolean
              x-ms-mutability:
              - create
              - read
            resourceGroup:
              description: Resource group of the App Service plan.
              readOnly: true
              type: string
            spotExpirationTime:
              description: The time when the server farm expires. Valid only if it
                is a spot server farm.
              format: date-time
              type: string
            status:
              description: App Service plan status.
              enum:
              - Ready
              - Pending
              - Creating
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: StatusOptions
            subscription:
              description: App Service plan subscription.
              readOnly: true
              type: string
            targetWorkerCount:
              description: Scaling worker count.
              format: int32
              type: integer
            targetWorkerSizeId:
              description: Scaling worker size ID.
              format: int32
              type: integer
            workerTierName:
              description: Target worker tier assigned to the App Service plan.
              type: string
          type: object
          x-ms-client-flatten: true
    HybridConnectionCollection:
      description: Collection of hostname bindings.
      example:
        value:
        - properties:
            hostname: hostname
            serviceBusNamespace: serviceBusNamespace
            port: 0
            relayArmUri: relayArmUri
            relayName: relayName
            sendKeyValue: sendKeyValue
            serviceBusSuffix: serviceBusSuffix
            sendKeyName: sendKeyName
        - properties:
            hostname: hostname
            serviceBusNamespace: serviceBusNamespace
            port: 0
            relayArmUri: relayArmUri
            relayName: relayName
            sendKeyValue: sendKeyValue
            serviceBusSuffix: serviceBusSuffix
            sendKeyName: sendKeyName
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/HybridConnectionCollection_value_inner'
          type: array
      required:
      - value
      type: object
    HybridConnectionLimits:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Hybrid Connection limits contract. This is used to return the plan
        limits of Hybrid Connections.
      example:
        properties: "{}"
      properties:
        properties:
          description: HybridConnectionLimits resource specific properties
          properties:
            current:
              description: The current number of Hybrid Connections.
              format: int32
              readOnly: true
              type: integer
            maximum:
              description: The maximum number of Hybrid Connections allowed.
              format: int32
              readOnly: true
              type: integer
          type: object
          x-ms-client-flatten: true
    ResourceCollection:
      description: Collection of resources.
      example:
        value:
        - value
        - value
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            type: string
          type: array
      required:
      - value
      type: object
    AppServicePlans_List_200_response_value_inner_properties_hostingEnvironmentProfile:
      description: Specification for an App Service Environment to use for this resource.
      example:
        name: name
        id: id
        type: type
      properties:
        id:
          description: Resource ID of the App Service Environment.
          type: string
        name:
          description: Name of the App Service Environment.
          readOnly: true
          type: string
        type:
          description: Resource type of the App Service Environment.
          readOnly: true
          type: string
      type: object
    AppServicePlans_List_200_response_value_inner_properties:
      description: AppServicePlan resource specific properties
      example:
        targetWorkerSizeId: 5
        resourceGroup: resourceGroup
        isSpot: true
        geoRegion: geoRegion
        isXenon: false
        workerTierName: workerTierName
        targetWorkerCount: 5
        provisioningState: Succeeded
        spotExpirationTime: 2000-01-23T04:56:07.000+00:00
        subscription: subscription
        maximumElasticWorkerCount: 0
        perSiteScaling: false
        maximumNumberOfWorkers: 6
        numberOfSites: 1
        freeOfferExpirationTime: 2000-01-23T04:56:07.000+00:00
        hostingEnvironmentProfile:
          name: name
          id: id
          type: type
        reserved: false
        hyperV: false
        status: Ready
      properties:
        freeOfferExpirationTime:
          description: The time when the server farm free offer expires.
          format: date-time
          type: string
        geoRegion:
          description: Geographical location for the App Service plan.
          readOnly: true
          type: string
        hostingEnvironmentProfile:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_properties_hostingEnvironmentProfile'
        hyperV:
          default: false
          description: "If Hyper-V container app service plan <code>true</code>, <code>false</code>\
            \ otherwise."
          type: boolean
          x-ms-mutability:
          - create
          - read
        isSpot:
          description: "If <code>true</code>, this App Service Plan owns spot instances."
          type: boolean
        isXenon:
          default: false
          description: "Obsolete: If Hyper-V container app service plan <code>true</code>,\
            \ <code>false</code> otherwise."
          type: boolean
          x-ms-mutability:
          - create
          - read
        maximumElasticWorkerCount:
          description: Maximum number of total workers allowed for this ElasticScaleEnabled
            App Service Plan
          format: int32
          type: integer
        maximumNumberOfWorkers:
          description: Maximum number of instances that can be assigned to this App
            Service plan.
          format: int32
          readOnly: true
          type: integer
        numberOfSites:
          description: Number of apps assigned to this App Service plan.
          format: int32
          readOnly: true
          type: integer
        perSiteScaling:
          default: false
          description: |-
            If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
            If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
          type: boolean
        provisioningState:
          description: Provisioning state of the App Service Environment.
          enum:
          - Succeeded
          - Failed
          - Canceled
          - InProgress
          - Deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProvisioningState
        reserved:
          default: false
          description: "If Linux app service plan <code>true</code>, <code>false</code>\
            \ otherwise."
          type: boolean
          x-ms-mutability:
          - create
          - read
        resourceGroup:
          description: Resource group of the App Service plan.
          readOnly: true
          type: string
        spotExpirationTime:
          description: The time when the server farm expires. Valid only if it is
            a spot server farm.
          format: date-time
          type: string
        status:
          description: App Service plan status.
          enum:
          - Ready
          - Pending
          - Creating
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: StatusOptions
        subscription:
          description: App Service plan subscription.
          readOnly: true
          type: string
        targetWorkerCount:
          description: Scaling worker count.
          format: int32
          type: integer
        targetWorkerSizeId:
          description: Scaling worker size ID.
          format: int32
          type: integer
        workerTierName:
          description: Target worker tier assigned to the App Service plan.
          type: string
      type: object
      x-ms-client-flatten: true
    AppServicePlans_List_200_response_value_inner_sku_capabilities_inner:
      description: Describes the capabilities/features allowed for a specific SKU.
      example:
        reason: reason
        name: name
        value: value
      properties:
        name:
          description: Name of the SKU capability.
          type: string
        reason:
          description: Reason of the SKU capability.
          type: string
        value:
          description: Value of the SKU capability.
          type: string
      type: object
    AppServicePlans_List_200_response_value_inner_sku_skuCapacity:
      description: Description of the App Service plan scale options.
      example:
        default: 7
        scaleType: scaleType
        maximum: 9
        minimum: 3
      properties:
        default:
          description: Default number of workers for this App Service plan SKU.
          format: int32
          type: integer
        maximum:
          description: Maximum number of workers for this App Service plan SKU.
          format: int32
          type: integer
        minimum:
          description: Minimum number of workers for this App Service plan SKU.
          format: int32
          type: integer
        scaleType:
          description: Available scale configurations for an App Service plan.
          type: string
      type: object
    AppServicePlans_List_200_response_value_inner_sku:
      description: Description of a SKU for a scalable resource.
      example:
        capabilities:
        - reason: reason
          name: name
          value: value
        - reason: reason
          name: name
          value: value
        skuCapacity:
          default: 7
          scaleType: scaleType
          maximum: 9
          minimum: 3
        size: size
        tier: tier
        name: name
        locations:
        - locations
        - locations
        family: family
        capacity: 2
      properties:
        capabilities:
          description: "Capabilities of the SKU, e.g., is traffic manager enabled?"
          items:
            $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_sku_capabilities_inner'
          type: array
        capacity:
          description: Current number of instances assigned to the resource.
          format: int32
          type: integer
        family:
          description: Family code of the resource SKU.
          type: string
        locations:
          description: Locations of the SKU.
          items:
            type: string
          type: array
        name:
          description: Name of the resource SKU.
          type: string
        size:
          description: Size specifier of the resource SKU.
          type: string
        skuCapacity:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_sku_skuCapacity'
        tier:
          description: Service tier of the resource SKU.
          type: string
      type: object
    AppServicePlans_List_200_response_value_inner:
      description: App Service plan.
      example:
        sku:
          capabilities:
          - reason: reason
            name: name
            value: value
          - reason: reason
            name: name
            value: value
          skuCapacity:
            default: 7
            scaleType: scaleType
            maximum: 9
            minimum: 3
          size: size
          tier: tier
          name: name
          locations:
          - locations
          - locations
          family: family
          capacity: 2
        properties:
          targetWorkerSizeId: 5
          resourceGroup: resourceGroup
          isSpot: true
          geoRegion: geoRegion
          isXenon: false
          workerTierName: workerTierName
          targetWorkerCount: 5
          provisioningState: Succeeded
          spotExpirationTime: 2000-01-23T04:56:07.000+00:00
          subscription: subscription
          maximumElasticWorkerCount: 0
          perSiteScaling: false
          maximumNumberOfWorkers: 6
          numberOfSites: 1
          freeOfferExpirationTime: 2000-01-23T04:56:07.000+00:00
          hostingEnvironmentProfile:
            name: name
            id: id
            type: type
          reserved: false
          hyperV: false
          status: Ready
      properties:
        properties:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_properties'
        sku:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_sku'
      type: object
    AppServicePlans_List_200_response:
      description: Collection of App Service plans.
      example:
        value:
        - sku:
            capabilities:
            - reason: reason
              name: name
              value: value
            - reason: reason
              name: name
              value: value
            skuCapacity:
              default: 7
              scaleType: scaleType
              maximum: 9
              minimum: 3
            size: size
            tier: tier
            name: name
            locations:
            - locations
            - locations
            family: family
            capacity: 2
          properties:
            targetWorkerSizeId: 5
            resourceGroup: resourceGroup
            isSpot: true
            geoRegion: geoRegion
            isXenon: false
            workerTierName: workerTierName
            targetWorkerCount: 5
            provisioningState: Succeeded
            spotExpirationTime: 2000-01-23T04:56:07.000+00:00
            subscription: subscription
            maximumElasticWorkerCount: 0
            perSiteScaling: false
            maximumNumberOfWorkers: 6
            numberOfSites: 1
            freeOfferExpirationTime: 2000-01-23T04:56:07.000+00:00
            hostingEnvironmentProfile:
              name: name
              id: id
              type: type
            reserved: false
            hyperV: false
            status: Ready
        - sku:
            capabilities:
            - reason: reason
              name: name
              value: value
            - reason: reason
              name: name
              value: value
            skuCapacity:
              default: 7
              scaleType: scaleType
              maximum: 9
              minimum: 3
            size: size
            tier: tier
            name: name
            locations:
            - locations
            - locations
            family: family
            capacity: 2
          properties:
            targetWorkerSizeId: 5
            resourceGroup: resourceGroup
            isSpot: true
            geoRegion: geoRegion
            isXenon: false
            workerTierName: workerTierName
            targetWorkerCount: 5
            provisioningState: Succeeded
            spotExpirationTime: 2000-01-23T04:56:07.000+00:00
            subscription: subscription
            maximumElasticWorkerCount: 0
            perSiteScaling: false
            maximumNumberOfWorkers: 6
            numberOfSites: 1
            freeOfferExpirationTime: 2000-01-23T04:56:07.000+00:00
            hostingEnvironmentProfile:
              name: name
              id: id
              type: type
            reserved: false
            hyperV: false
            status: Ready
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner'
          type: array
      required:
      - value
      type: object
    AppServicePlans_List_default_response_error_details_inner:
      description: Detailed errors.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
      readOnly: true
      type: object
    AppServicePlans_List_default_response_error:
      description: Error model.
      example:
        code: code
        innererror: innererror
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          type: string
        details:
          items:
            $ref: '#/components/schemas/AppServicePlans_List_default_response_error_details_inner'
          type: array
        innererror:
          description: More information to debug error.
          readOnly: true
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
      readOnly: true
      type: object
    AppServicePlans_List_default_response:
      description: App Service error response.
      example:
        error:
          code: code
          innererror: innererror
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/AppServicePlans_List_default_response_error'
      type: object
    AppServicePlans_Get_200_response:
      allOf:
      - description: Azure resource. This resource is tracked in Azure Resource Manager
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          location:
            description: Resource Location.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        required:
        - location
        type: object
        x-ms-azure-resource: true
      description: App Service plan.
      example:
        sku:
          capabilities:
          - reason: reason
            name: name
            value: value
          - reason: reason
            name: name
            value: value
          skuCapacity:
            default: 7
            scaleType: scaleType
            maximum: 9
            minimum: 3
          size: size
          tier: tier
          name: name
          locations:
          - locations
          - locations
          family: family
          capacity: 2
        properties:
          targetWorkerSizeId: 5
          resourceGroup: resourceGroup
          isSpot: true
          geoRegion: geoRegion
          isXenon: false
          workerTierName: workerTierName
          targetWorkerCount: 5
          provisioningState: Succeeded
          spotExpirationTime: 2000-01-23T04:56:07.000+00:00
          subscription: subscription
          maximumElasticWorkerCount: 0
          perSiteScaling: false
          maximumNumberOfWorkers: 6
          numberOfSites: 1
          freeOfferExpirationTime: 2000-01-23T04:56:07.000+00:00
          hostingEnvironmentProfile:
            name: name
            id: id
            type: type
          reserved: false
          hyperV: false
          status: Ready
      properties:
        properties:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_properties'
        sku:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_sku'
    AppServicePlans_GetHybridConnection_200_response_properties:
      description: HybridConnection resource specific properties
      example:
        hostname: hostname
        serviceBusNamespace: serviceBusNamespace
        port: 0
        relayArmUri: relayArmUri
        relayName: relayName
[...]
