openapi: 3.0.1
info:
  contact:
    email: support@jirafe.com
  description: API endpoins for sending Jirafe events
  termsOfService: https://jirafe.com/policies/terms/
  title: Jirafe Events
  version: 2.0.0
  x-apisguru-categories:
  - marketing
  x-logo:
    backgroundColor: '#4BC9C5'
    url: https://twitter.com/jirafe/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: swagger
    url: https://event.jirafe.com/api-docs
    version: "1.2"
  x-providerName: jirafe.com
externalDocs:
  url: https://docs.jirafe.com/api/
servers:
- url: https://event.jirafe.com/v2
tags:
- description: Batch events
  name: batch
- description: Cart events
  name: cart
- description: Category events
  name: category
- description: Customer events
  name: customer
- description: Order events
  name: order
- description: Product events
  name: product
paths:
  /{siteId}/batch:
    post:
      operationId: postBatch
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Batch'
        description: batch json of events
        required: true
      responses:
        "200":
          content: {}
          description: No response was specified
        "400":
          content: {}
          description: validation
        "403":
          content: {}
          description: authorization
        "503":
          content: {}
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a batch for the given site
      tags:
      - batch
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /{siteId}/cart:
    post:
      operationId: postCart
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Cart'
        description: cart json for the event
        required: true
      responses:
        "200":
          content: {}
          description: No response was specified
        "400":
          content: {}
          description: validation
        "403":
          content: {}
          description: authorization
        "503":
          content: {}
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a cart for the given site
      tags:
      - cart
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /{siteId}/category:
    post:
      operationId: postCategory
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Category'
        description: category json for the event
        required: true
      responses:
        "200":
          content: {}
          description: No response was specified
        "400":
          content: {}
          description: validation
        "403":
          content: {}
          description: authorization
        "503":
          content: {}
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a category for the given site
      tags:
      - category
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /{siteId}/customer:
    post:
      operationId: postCustomer
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Customer'
        description: customer json for the event
        required: true
      responses:
        "200":
          content: {}
          description: No response was specified
        "400":
          content: {}
          description: validation
        "403":
          content: {}
          description: authorization
        "503":
          content: {}
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a customer for the given site
      tags:
      - customer
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /{siteId}/order:
    post:
      operationId: postOrderCancelled
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OrderCancelled'
        description: order json for the event
        required: true
      responses:
        "200":
          content: {}
          description: No response was specified
        "400":
          content: {}
          description: validation
        "403":
          content: {}
          description: authorization
        "503":
          content: {}
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a order for the given site
      tags:
      - order
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
  /{siteId}/product:
    post:
      operationId: postProduct
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Product'
        description: product json for the event
        required: true
      responses:
        "200":
          content: {}
          description: No response was specified
        "400":
          content: {}
          description: validation
        "403":
          content: {}
          description: authorization
        "503":
          content: {}
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a product for the given site
      tags:
      - product
      x-codegen-request-body-name: body
      x-content-type: '*/*'
      x-accepts:
      - application/json
components:
  schemas:
    Address:
      type: object
    Attribute:
      example:
        name: name
        id: id
        value: value
      properties:
        id:
          type: string
        name:
          type: string
        value:
          type: string
      required:
      - id
      - name
      - value
      type: object
    BaseProduct:
      example:
        code: code
        name: name
        id: id
      properties:
        code:
          type: string
        id:
          type: string
        name:
          type: string
      type: object
    Batch:
      example:
        product:
        - images:
          - null
          - null
          code: code
          base_product:
            code: code
            name: name
            id: id
          catalog:
            name: name
            id: id
            version_id: version_id
          change_date: 2000-01-23T04:56:07.000+00:00
          is_sku: true
          rating: 1.4658129805029452
          is_order: true
          urls:
            admin: https://openapi-generator.tech
            store: https://openapi-generator.tech
          name: name
          attributes:
          - name: name
            id: id
            value: value
          - name: name
            id: id
            value: value
          categories:
          - name: name
            id: id
          - name: name
            id: id
          id: id
          ancestors:
          - ancestors
          - ancestors
          create_date: 2000-01-23T04:56:07.000+00:00
          brand: brand
          vendors:
          - name: name
            id: id
          - name: name
            id: id
        - images:
          - null
          - null
          code: code
          base_product:
            code: code
            name: name
            id: id
          catalog:
            name: name
            id: id
            version_id: version_id
          change_date: 2000-01-23T04:56:07.000+00:00
          is_sku: true
          rating: 1.4658129805029452
          is_order: true
          urls:
            admin: https://openapi-generator.tech
            store: https://openapi-generator.tech
          name: name
          attributes:
          - name: name
            id: id
            value: value
          - name: name
            id: id
            value: value
          categories:
          - name: name
            id: id
          - name: name
            id: id
          id: id
          ancestors:
          - ancestors
          - ancestors
          create_date: 2000-01-23T04:56:07.000+00:00
          brand: brand
          vendors:
          - name: name
            id: id
          - name: name
            id: id
        category:
        - name: name
          id: id
        - name: name
          id: id
        employee:
        - null
        - null
        cart:
        - previous_items:
          - product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: 2147483647
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 7.213219080296E14
            price: 5.429049884013572E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            cart_item_number: cart_item_number
          - product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: 2147483647
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 7.213219080296E14
            price: 5.429049884013572E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            cart_item_number: cart_item_number
          change_date: 2000-01-23T04:56:07.000+00:00
          total_payment_cost: 8.377996166196439E15
          total_tax: 1.825870098205482E15
          cookies: "{}"
          total_discounts: 6.360344799989392E15
          cart_id: cart_id
          total: 2.073579664511131E15
          subtotal: 5.637376656633329
          total_shipping: 3.257072380094804E15
          currency: currency
          id: id
          visit:
            pageview_id: pageview_id
            last_pageview_id: last_pageview_id
            visitor_id: visitor_id
            visit_id: visit_id
          create_date: 2000-01-23T04:56:07.000+00:00
          items:
          - product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: 2147483647
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 7.213219080296E14
            price: 5.429049884013572E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            cart_item_number: cart_item_number
          - product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: 2147483647
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 7.213219080296E14
            price: 5.429049884013572E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            cart_item_number: cart_item_number
          customer:
            change_date: 2000-01-23T04:56:07.000+00:00
            last_name: last_name
            active_flag: true
            cookies: "{}"
            phone: phone
            name: name
            company: company
            id: id
            position: position
            create_date: 2000-01-23T04:56:07.000+00:00
            department: department
            first_name: first_name
            marketing_opt_in: true
            email: email
        - previous_items:
          - product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: 2147483647
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 7.213219080296E14
            price: 5.429049884013572E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            cart_item_number: cart_item_number
          - product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: 2147483647
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 7.213219080296E14
            price: 5.429049884013572E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            cart_item_number: cart_item_number
          change_date: 2000-01-23T04:56:07.000+00:00
          total_payment_cost: 8.377996166196439E15
          total_tax: 1.825870098205482E15
          cookies: "{}"
          total_discounts: 6.360344799989392E15
          cart_id: cart_id
          total: 2.073579664511131E15
          subtotal: 5.637376656633329
          total_shipping: 3.257072380094804E15
          currency: currency
          id: id
          visit:
            pageview_id: pageview_id
            last_pageview_id: last_pageview_id
            visitor_id: visitor_id
            visit_id: visit_id
          create_date: 2000-01-23T04:56:07.000+00:00
          items:
          - product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: 2147483647
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 7.213219080296E14
            price: 5.429049884013572E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            cart_item_number: cart_item_number
          - product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: 2147483647
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 7.213219080296E14
            price: 5.429049884013572E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            cart_item_number: cart_item_number
          customer:
            change_date: 2000-01-23T04:56:07.000+00:00
            last_name: last_name
            active_flag: true
            cookies: "{}"
            phone: phone
            name: name
            company: company
            id: id
            position: position
            create_date: 2000-01-23T04:56:07.000+00:00
            department: department
            first_name: first_name
            marketing_opt_in: true
            email: email
        customer:
        - change_date: 2000-01-23T04:56:07.000+00:00
          last_name: last_name
          active_flag: true
          cookies: "{}"
          phone: phone
          name: name
          company: company
          id: id
          position: position
          create_date: 2000-01-23T04:56:07.000+00:00
          department: department
          first_name: first_name
          marketing_opt_in: true
          email: email
        - change_date: 2000-01-23T04:56:07.000+00:00
          last_name: last_name
          active_flag: true
          cookies: "{}"
          phone: phone
          name: name
          company: company
          id: id
          position: position
          create_date: 2000-01-23T04:56:07.000+00:00
          department: department
          first_name: first_name
          marketing_opt_in: true
          email: email
        order:
        - previous_items:
          - order_item_number: order_item_number
            product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: -2147483648
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 3.734031755721886E15
            price: 6.652971326080818E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            status: accepted
          - order_item_number: order_item_number
            product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: -2147483648
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 3.734031755721886E15
            price: 6.652971326080818E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            status: accepted
          change_date: 2000-01-23T04:56:07.000+00:00
          total_payment_cost: 7.457744773683766
          order_number: order_number
          total_tax: 4.965218492984954
          total_discounts: 6.84685269835264
          cart_id: cart_id
          order_date: 2000-01-23T04:56:07.000+00:00
          total: 1.4894159098541704
          subtotal: 1.0246457001441578
          total_shipping: 1.1730742509559433
          currency: currency
          create_date: 2000-01-23T04:56:07.000+00:00
          items:
          - order_item_number: order_item_number
            product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: -2147483648
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 3.734031755721886E15
            price: 6.652971326080818E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            status: accepted
          - order_item_number: order_item_number
            product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: -2147483648
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 3.734031755721886E15
            price: 6.652971326080818E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            status: accepted
          customer:
            change_date: 2000-01-23T04:56:07.000+00:00
            last_name: last_name
            active_flag: true
            cookies: "{}"
            phone: phone
            name: name
            company: company
            id: id
            position: position
            create_date: 2000-01-23T04:56:07.000+00:00
            department: department
            first_name: first_name
            marketing_opt_in: true
            email: email
          status: accepted
        - previous_items:
          - order_item_number: order_item_number
            product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: -2147483648
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 3.734031755721886E15
            price: 6.652971326080818E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            status: accepted
          - order_item_number: order_item_number
            product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: -2147483648
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 3.734031755721886E15
            price: 6.652971326080818E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            status: accepted
          change_date: 2000-01-23T04:56:07.000+00:00
          total_payment_cost: 7.457744773683766
          order_number: order_number
          total_tax: 4.965218492984954
          total_discounts: 6.84685269835264
          cart_id: cart_id
          order_date: 2000-01-23T04:56:07.000+00:00
          total: 1.4894159098541704
          subtotal: 1.0246457001441578
          total_shipping: 1.1730742509559433
          currency: currency
          create_date: 2000-01-23T04:56:07.000+00:00
          items:
          - order_item_number: order_item_number
            product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: -2147483648
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 3.734031755721886E15
            price: 6.652971326080818E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            status: accepted
          - order_item_number: order_item_number
            product:
              images:
              - null
              - null
              code: code
              base_product:
                code: code
                name: name
                id: id
              catalog:
                name: name
                id: id
                version_id: version_id
              change_date: 2000-01-23T04:56:07.000+00:00
              is_sku: true
              rating: 1.4658129805029452
              is_order: true
              urls:
                admin: https://openapi-generator.tech
                store: https://openapi-generator.tech
              name: name
              attributes:
              - name: name
                id: id
                value: value
              - name: name
                id: id
                value: value
              categories:
              - name: name
                id: id
              - name: name
                id: id
              id: id
              ancestors:
              - ancestors
              - ancestors
              create_date: 2000-01-23T04:56:07.000+00:00
              brand: brand
              vendors:
              - name: name
                id: id
              - name: name
                id: id
            quantity: -2147483648
            change_date: 2000-01-23T04:56:07.000+00:00
            discount_price: 3.734031755721886E15
            price: 6.652971326080818E15
            id: id
            create_date: 2000-01-23T04:56:07.000+00:00
            status: accepted
          customer:
            change_date: 2000-01-23T04:56:07.000+00:00
            last_name: last_name
            active_flag: true
            cookies: "{}"
            phone: phone
            name: name
            company: company
            id: id
            position: position
            create_date: 2000-01-23T04:56:07.000+00:00
            department: department
            first_name: first_name
            marketing_opt_in: true
            email: email
          status: accepted
      properties:
        cart:
          items:
            $ref: '#/components/schemas/Cart'
          type: array
        category:
          items:
            $ref: '#/components/schemas/Category'
          type: array
        customer:
          items:
            $ref: '#/components/schemas/Customer'
          type: array
        employee:
          items:
            $ref: '#/components/schemas/Employee'
          type: array
        order:
          items:
            $ref: '#/components/schemas/Order'
          type: array
        product:
          items:
            $ref: '#/components/schemas/Product'
          type: array
      type: object
    Cart:
      example:
        previous_items:
        - product:
            images:
            - null
            - null
            code: code
            base_product:
              code: code
              name: name
              id: id
            catalog:
              name: name
              id: id
              version_id: version_id
            change_date: 2000-01-23T04:56:07.000+00:00
            is_sku: true
            rating: 1.4658129805029452
            is_order: true
            urls:
              admin: https://openapi-generator.tech
              store: https://openapi-generator.tech
            name: name
            attributes:
            - name: name
              id: id
              value: value
            - name: name
              id: id
              value: value
            categories:
            - name: name
              id: id
            - name: name
              id: id
            id: id
            ancestors:
            - ancestors
            - ancestors
            create_date: 2000-01-23T04:56:07.000+00:00
            brand: brand
            vendors:
            - name: name
              id: id
            - name: name
              id: id
          quantity: 2147483647
          change_date: 2000-01-23T04:56:07.000+00:00
          discount_price: 7.213219080296E14
          price: 5.429049884013572E15
          id: id
          create_date: 2000-01-23T04:56:07.000+00:00
          cart_item_number: cart_item_number
        - product:
            images:
            - null
            - null
            code: code
            base_product:
              code: code
              name: name
              id: id
            catalog:
              name: name
              id: id
              version_id: version_id
            change_date: 2000-01-23T04:56:07.000+00:00
            is_sku: true
            rating: 1.4658129805029452
            is_order: true
            urls:
              admin: https://openapi-generator.tech
              store: https://openapi-generator.tech
            name: name
            attributes:
            - name: name
              id: id
              value: value
            - name: name
              id: id
              value: value
            categories:
            - name: name
              id: id
            - name: name
              id: id
            id: id
            ancestors:
            - ancestors
            - ancestors
            create_date: 2000-01-23T04:56:07.000+00:00
            brand: brand
            vendors:
            - name: name
              id: id
            - name: name
              id: id
          quantity: 2147483647
          change_date: 2000-01-23T04:56:07.000+00:00
          discount_price: 7.213219080296E14
          price: 5.429049884013572E15
          id: id
          create_date: 2000-01-23T04:56:07.000+00:00
          cart_item_number: cart_item_number
        change_date: 2000-01-23T04:56:07.000+00:00
        total_payment_cost: 8.377996166196439E15
        total_tax: 1.825870098205482E15
        cookies: "{}"
        total_discounts: 6.360344799989392E15
        cart_id: cart_id
        total: 2.073579664511131E15
        subtotal: 5.637376656633329
        total_shipping: 3.257072380094804E15
        currency: currency
        id: id
        visit:
          pageview_id: pageview_id
          last_pageview_id: last_pageview_id
          visitor_id: visitor_id
          visit_id: visit_id
        create_date: 2000-01-23T04:56:07.000+00:00
        items:
        - product:
            images:
            - null
            - null
            code: code
            base_product:
              code: code
              name: name
              id: id
            catalog:
              name: name
              id: id
              version_id: version_id
            change_date: 2000-01-23T04:56:07.000+00:00
            is_sku: true
            rating: 1.4658129805029452
            is_order: true
            urls:
              admin: https://openapi-generator.tech
              store: https://openapi-generator.tech
            name: name
            attributes:
            - name: name
              id: id
              value: value
            - name: name
              id: id
              value: value
            categories:
            - name: name
              id: id
            - name: name
              id: id
            id: id
            ancestors:
            - ancestors
            - ancestors
            create_date: 2000-01-23T04:56:07.000+00:00
            brand: brand
            vendors:
            - name: name
              id: id
            - name: name
              id: id
          quantity: 2147483647
          change_date: 2000-01-23T04:56:07.000+00:00
          discount_price: 7.213219080296E14
          price: 5.429049884013572E15
          id: id
          create_date: 2000-01-23T04:56:07.000+00:00
          cart_item_number: cart_item_number
        - product:
            images:
            - null
            - null
            code: code
            base_product:
              code: code
              name: name
              id: id
            catalog:
              name: name
              id: id
              version_id: version_id
            change_date: 2000-01-23T04:56:07.000+00:00
            is_sku: true
            rating: 1.4658129805029452
            is_order: true
            urls:
              admin: https://openapi-generator.tech
              store: https://openapi-generator.tech
            name: name
            attributes:
            - name: name
              id: id
              value: value
            - name: name
              id: id
              value: value
            categories:
            - name: name
              id: id
            - name: name
              id: id
            id: id
            ancestors:
            - ancestors
            - ancestors
            create_date: 2000-01-23T04:56:07.000+00:00
            brand: brand
            vendors:
            - name: name
              id: id
            - name: name
              id: id
          quantity: 2147483647
          change_date: 2000-01-23T04:56:07.000+00:00
          discount_price: 7.213219080296E14
          price: 5.429049884013572E15
          id: id
          create_date: 2000-01-23T04:56:07.000+00:00
          cart_item_number: cart_item_number
        customer:
          change_date: 2000-01-23T04:56:07.000+00:00
          last_name: last_name
          active_flag: true
          cookies: "{}"
          phone: phone
          name: name
          company: company
          id: id
          position: position
          create_date: 2000-01-23T04:56:07.000+00:00
          department: department
          first_name: first_name
          marketing_opt_in: true
          email: email
      properties:
        cart_id:
          type: string
        change_date:
          format: date-time
          type: string
        cookies:
          properties: {}
          type: object
        create_date:
          format: date-time
          type: string
        currency:
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        id:
          type: string
        items:
          items:
            $ref: '#/components/schemas/CartItem'
          type: array
        previous_items:
          items:
            $ref: '#/components/schemas/CartItem'
          type: array
        subtotal:
          type: number
        total:
          maximum: 9007199254740992
          minimum: 0
          type: number
        total_discounts:
          maximum: 9007199254740992
          minimum: 0
          type: number
        total_payment_cost:
          maximum: 9007199254740992
          minimum: 0
          type: number
        total_shipping:
          maximum: 9007199254740992
          minimum: 0
          type: number
        total_tax:
          maximum: 9007199254740992
          minimum: 0
          type: number
        visit:
          $ref: '#/components/schemas/Visit'
      required:
      - change_date
      - create_date
      - currency
      - customer
      - id
      - items
      - subtotal
      - total
      - total_discounts
      - total_payment_cost
      - total_shipping
      - total_tax
      type: object
    CartItem:
      example:
        product:
          images:
          - null
          - null
          code: code
          base_product:
            code: code
            name: name
            id: id
          catalog:
            name: name
            id: id
            version_id: version_id
          change_date: 2000-01-23T04:56:07.000+00:00
          is_sku: true
          rating: 1.4658129805029452
          is_order: true
          urls:
            admin: https://openapi-generator.tech
            store: https://openapi-generator.tech
          name: name
          attributes:
          - name: name
            id: id
            value: value
          - name: name
            id: id
            value: value
          categories:
          - name: name
            id: id
          - name: name
            id: id
          id: id
          ancestors:
          - ancestors
          - ancestors
          create_date: 2000-01-23T04:56:07.000+00:00
          brand: brand
          vendors:
          - name: name
            id: id
          - name: name
            id: id
        quantity: 2147483647
        change_date: 2000-01-23T04:56:07.000+00:00
        discount_price: 7.213219080296E14
        price: 5.429049884013572E15
        id: id
        create_date: 2000-01-23T04:56:07.000+00:00
        cart_item_number: cart_item_number
      properties:
        cart_item_number:
          type: string
        change_date:
          format: date-time
          type: string
        create_date:
          format: date-time
          type: string
        discount_price:
          maximum: 9007199254740992
          minimum: 0
          type: number
        id:
          type: string
        price:
          maximum: 9007199254740992
          minimum: 0
          type: number
        product:
          $ref: '#/components/schemas/Product'
        quantity:
          maximum: 9007199254740992
          minimum: -9007199254740992
          type: integer
      required:
      - cart_item_number
      - change_date
      - create_date
      - discount_price
      - id
      - price
      - product
      - quantity
      type: object
    Catalog:
      example:
        name: name
        id: id
        version_id: version_id
      properties:
        id:
          type: string
        name:
          type: string
        version_id:
          type: string
      required:
      - id
      type: object
    Category:
      example:
        name: name
        id: id
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      - name
      type: object
    Customer:
      example:
        change_date: 2000-01-23T04:56:07.000+00:00
        last_name: last_name
        active_flag: true
        cookies: "{}"
        phone: phone
        name: name
        company: company
        id: id
        position: position
        create_date: 2000-01-23T04:56:07.000+00:00
        department: department
        first_name: first_name
        marketing_opt_in: true
        email: email
      properties:
        active_flag:
          default: true
          type: boolean
        change_date:
          format: date-time
          type: string
        company:
          type: string
        cookies:
          properties: {}
          type: object
        create_date:
          format: date-time
          type: string
        department:
          type: string
        email:
          type: string
        first_name:
          type: string
        id:
          type: string
        last_name:
          type: string
        marketing_opt_in:
          type: boolean
        name:
          type: string
        phone:
          type: string
        position:
          type: string
      required:
      - change_date
      - create_date
      - id
      type: object
    Employee:
      type: object
    Image:
      type: object
    Order:
      example:
        previous_items:
        - order_item_number: order_item_number
          product:
            images:
            - null
            - null
            code: code
            base_product:
              code: code
              name: name
              id: id
            catalog:
              name: name
              id: id
              version_id: version_id
            change_date: 2000-01-23T04:56:07.000+00:00
            is_sku: true
            rating: 1.4658129805029452
            is_order: true
            urls:
              admin: https://openapi-generator.tech
              store: https://openapi-generator.tech
            name: name
            attributes:
            - name: name
              id: id
              value: value
            - name: name
              id: id
              value: value
            categories:
            - name: name
              id: id
            - name: name
              id: id
            id: id
            ancestors:
            - ancestors
            - ancestors
            create_date: 2000-01-23T04:56:07.000+00:00
            brand: brand
            vendors:
            - name: name
              id: id
            - name: name
              id: id
          quantity: -2147483648
          change_date: 2000-01-23T04:56:07.000+00:00
          discount_price: 3.734031755721886E15
          price: 6.652971326080818E15
          id: id
          create_date: 2000-01-23T04:56:07.000+00:00
          status: accepted
        - order_item_number: order_item_number
          product:
            images:
            - null
            - null
            code: code
            base_product:
              code: code
              name: name
              id: id
            catalog:
              name: name
              id: id
              version_id: version_id
            change_date: 2000-01-23T04:56:07.000+00:00
            is_sku: true
            rating: 1.4658129805029452
            is_order: true
            urls:
              admin: https://openapi-generator.tech
              store: https://openapi-generator.tech
            name: name
            attributes:
            - name: name
              id: id
              value: value
            - name: name
              id: id
              value: value
            categories:
            - name: name
              id: id
            - name: name
              id: id
            id: id
            ancestors:
            - ancestors
            - ancestors
            create_date: 2000-01-23T04:56:07.000+00:00
            brand: brand
            vendors:
            - name: name
              id: id
            - name: name
              id: id
          quantity: -2147483648
          change_date: 2000-01-23T04:56:07.000+00:00
          discount_price: 3.734031755721886E15
          price: 6.652971326080818E15
          id: id
          create_date: 2000-01-23T04:56:07.000+00:00
          status: accepted
        change_date: 2000-01-23T04:56:07.000+00:00
        total_payment_cost: 7.457744773683766
        order_number: order_number
        total_tax: 4.965218492984954
        total_discounts: 6.84685269835264
        cart_id: cart_id
        order_date: 2000-01-23T04:56:07.000+00:00
        total: 1.4894159098541704
        subtotal: 1.0246457001441578
        total_shipping: 1.1730742509559433
        currency: currency
        create_date: 2000-01-23T04:56:07.000+00:00
        items:
        - order_item_number: order_item_number
          product:
            images:
            - null
            - null
            code: code
            base_product:
              code: code
              name: name
              id: id
            catalog:
              name: name
              id: id
              version_id: version_id
            change_date: 2000-01-23T04:56:07.000+00:00
            is_sku: true
            rating: 1.4658129805029452
            is_order: true
            urls:
              admin: https://openapi-generator.tech
              store: https://openapi-generator.tech
            name: name
            attributes:
            - name: name
              id: id
              value: value
            - name: name
              id: id
              value: value
            categories:
            - name: name
              id: id
            - name: name
              id: id
            id: id
            ancestors:
            - ancestors
            - ancestors
            create_date: 2000-01-23T04:56:07.000+00:00
            brand: brand
            vendors:
            - name: name
              id: id
            - name: name
              id: id
          quantity: -2147483648
          change_date: 2000-01-23T04:56:07.000+00:00
          discount_price: 3.734031755721886E15
          price: 6.652971326080818E15
          id: id
          create_date: 2000-01-23T04:56:07.000+00:00
          status: accepted
        - order_item_number: order_item_number
          product:
            images:
            - null
            - null
            code: code
            base_product:
              code: code
              name: name
              id: id
            catalog:
              name: name
              id: id
              version_id: version_id
            change_date: 2000-01-23T04:56:07.000+00:00
            is_sku: true
            rating: 1.4658129805029452
            is_order: true
            urls:
              admin: https://openapi-generator.tech
              store: https://openapi-generator.tech
            name: name
            attributes:
            - name: name
              id: id
              value: value
            - name: name
              id: id
              value: value
            categories:
            - name: name
              id: id
            - name: name
              id: id
            id: id
            ancestors:
            - ancestors
            - ancestors
            create_date: 2000-01-23T04:56:07.000+00:00
            brand: brand
            vendors:
            - name: name
              id: id
            - name: name
              id: id
          quantity: -2147483648
          change_date: 2000-01-23T04:56:07.000+00:00
          discount_price: 3.734031755721886E15
          price: 6.652971326080818E15
          id: id
          create_date: 2000-01-23T04:56:07.000+00:00
          status: accepted
        customer:
          change_date: 2000-01-23T04:56:07.000+00:00
          last_name: last_name
          active_flag: true
          cookies: "{}"
          phone: phone
          name: name
          company: company
          id: id
          position: position
          create_date: 2000-01-23T04:56:07.000+00:00
          department: department
          first_name: first_name
          marketing_opt_in: true
          email: email
        status: accepted
      properties:
        cart_id:
          type: string
        change_date:
          format: date-time
          type: string
        create_date:
          format: date-time
          type: string
        currency:
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        items:
          items:
            $ref: '#/components/schemas/OrderItem'
          type: array
        order_date:
          format: date-time
          type: string
        order_number:
          type: string
        previous_items:
          items:
            $ref: '#/components/schemas/OrderItem'
          type: array
        status:
          default: accepted
          enum:
          - accepted
          type: string
        subtotal:
          type: number
        total:
          type: number
        total_discounts:
          type: number
        total_payment_cost:
          type: number
        total_shipping:
          type: number
        total_tax:
          type: number
      required:
      - change_date
      - create_date
      - currency
      - customer
      - items
      - order_date
      - order_number
      - status
      - subtotal
      - total
      - total_discounts
      - total_payment_cost
      - total_shipping
      - total_tax
      type: object
    OrderCancelled:
      example:
        order_number: order_number
        cancel_date: 2000-01-23T04:56:07.000+00:00
        status: cancelled
      properties:
        cancel_date:
          format: date-time
          type: string
        order_number:
          type: string
        status:
          default: cancelled
          enum:
          - cancelled
          type: string
      required:
      - cancel_date
      - order_number
      - status
      type: object
    OrderItem:
      example:
        order_item_number: order_item_number
        product:
          images:
          - null
          - null
          code: code
          base_product:
            code: code
            name: name
            id: id
          catalog:
            name: name
            id: id
            version_id: version_id
          change_date: 2000-01-23T04:56:07.000+00:00
          is_sku: true
          rating: 1.4658129805029452
          is_order: true
          urls:
            admin: https://openapi-generator.tech
            store: https://openapi-generator.tech
          name: name
          attributes:
          - name: name
            id: id
            value: value
          - name: name
            id: id
            value: value
          categories:
          - name: name
            id: id
          - name: name
            id: id
          id: id
          ancestors:
          - ancestors
          - ancestors
          create_date: 2000-01-23T04:56:07.000+00:00
          brand: brand
          vendors:
          - name: name
            id: id
          - name: name
            id: id
        quantity: -2147483648
        change_date: 2000-01-23T04:56:07.000+00:00
        discount_price: 3.734031755721886E15
        price: 6.652971326080818E15
        id: id
        create_date: 2000-01-23T04:56:07.000+00:00
        status: accepted
      properties:
        change_date:
          format: date-time
          type: string
        create_date:
          format: date-time
          type: string
        discount_price:
          maximum: 9007199254740992
          minimum: 0
          type: number
        id:
          type: string
        order_item_number:
          type: string
        price:
          maximum: 9007199254740992
          minimum: 0
          type: number
        product:
          $ref: '#/components/schemas/Product'
        quantity:
          maximum: 9007199254740992
          minimum: -9007199254740992
          type: integer
        status:
          enum:
          - accepted
          - cancelled
          type: string
      required:
      - change_date
      - create_date
      - discount_price
      - id
      - order_item_number
      - price
      - product
      - quantity
      - status
      type: object
    ParentCategory:
      properties:
        id:
          type: string
      required:
      - id
      type: object
    Product:
      example:
        images:
        - null
        - null
        code: code
        base_product:
          code: code
          name: name
          id: id
        catalog:
          name: name
          id: id
          version_id: version_id
        change_date: 2000-01-23T04:56:07.000+00:00
        is_sku: true
        rating: 1.4658129805029452
        is_order: true
        urls:
          admin: https://openapi-generator.tech
          store: https://openapi-generator.tech
        name: name
        attributes:
        - name: name
          id: id
          value: value
        - name: name
          id: id
          value: value
        categories:
        - name: name
          id: id
        - name: name
          id: id
        id: id
        ancestors:
        - ancestors
        - ancestors
        create_date: 2000-01-23T04:56:07.000+00:00
        brand: brand
        vendors:
        - name: name
          id: id
        - name: name
          id: id
      properties:
        ancestors:
          items:
            type: string
          type: array
        attributes:
          items:
            $ref: '#/components/schemas/Attribute'
          type: array
          uniqueItems: true
        base_product:
          $ref: '#/components/schemas/BaseProduct'
        brand:
          type: string
        catalog:
          $ref: '#/components/schemas/Catalog'
        categories:
          items:
            $ref: '#/components/schemas/Category'
          type: array
          uniqueItems: true
        change_date:
          format: date-time
          type: string
        code:
          type: string
        create_date:
          format: date-time
          type: string
        id:
          type: string
        images:
          items:
            $ref: '#/components/schemas/Image'
          type: array
        is_order:
          type: boolean
        is_sku:
          type: boolean
        name:
          type: string
        rating:
          type: number
        urls:
          $ref: '#/components/schemas/Url'
        vendors:
          items:
            $ref: '#/components/schemas/Vendor'
          type: array
      required:
      - change_date
      - code
      - create_date
      - id
      - is_order
      - is_sku
      type: object
    Url:
      example:
        admin: https://openapi-generator.tech
        store: https://openapi-generator.tech
      properties:
        admin:
          format: uri
          type: string
        store:
          format: uri
          type: string
      type: object
    Vendor:
      example:
        name: name
        id: id
      properties:
        id:
          type: string
        name:
          type: string
      type: object
    Visit:
      example:
        pageview_id: pageview_id
        last_pageview_id: last_pageview_id
        visitor_id: visitor_id
        visit_id: visit_id
      properties:
        last_pageview_id:
          type: string
        pageview_id:
          type: string
        visit_id:
          type: string
        visitor_id:
          type: string
      required:
      - last_pageview_id
      - pageview_id
      - visit_id
      - visitor_id
      type: object
  securitySchemes:
    oauth2_accessCode:
      flows:
        authorizationCode:
          authorizationUrl: https://account.jirafe.com/oauth2/auth_token
          scopes:
            write: Send events
          tokenUrl: https://account.jirafe.com/oauth2/code
      type: oauth2
    oauth2_implicit:
      flows:
        implicit:
          authorizationUrl: https://account.jirafe.com/oauth2/authorize
          scopes:
            write: Send events
      type: oauth2
x-original-swagger-version: "2.0"

