openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Exchange data and analytics assets securely and efficiently.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Analytics Hub API
  version: v1beta1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://analyticshub.googleapis.com/$discovery/rest?version=v1beta1
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: analyticshub
externalDocs:
  url: https://cloud.google.com/bigquery/docs/analytics-hub-introduction
servers:
- url: https://analyticshub.googleapis.com/
tags:
- name: organizations
- name: projects
paths:
  /v1beta1/{name}:
    delete:
      description: Deletes a listing.
      operationId: analyticshub_projects_locations_data_exchanges_listings_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Resource name of the listing to delete. e.g. `projects/myproject/locations/US/dataExchanges/123/listings/456`.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Gets the details of a listing.
      operationId: analyticshub_projects_locations_data_exchanges_listings_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The resource name of the listing. e.g. `projects/myproject/locations/US/dataExchanges/123/listings/456`.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: Updates an existing listing.
      operationId: analyticshub_projects_locations_data_exchanges_listings_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Output only. The resource name of the listing. e.g. `projects/myproject/locations/US/dataExchanges/123/listings/456`
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Required. Field mask specifies the fields to update in the listing
          resource. The fields specified in the `updateMask` are relative to the resource
          and are not a full request.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Listing'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{name}:subscribe:
    post:
      description: "Subscribes to a listing. Currently, with Analytics Hub, you can\
        \ create listings that reference only BigQuery datasets. Upon subscription\
        \ to a listing for a BigQuery dataset, Analytics Hub creates a linked dataset\
        \ in the subscriber's project."
      operationId: analyticshub_projects_locations_data_exchanges_listings_subscribe
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Resource name of the listing that you want to subscribe
          to. e.g. `projects/myproject/locations/US/dataExchanges/123/listings/456`.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscribeListingRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribeListingResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{organization}/dataExchanges:
    get:
      description: Lists all data exchanges from projects in a given organization
        and location.
      operationId: analyticshub_organizations_locations_data_exchanges_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The organization resource path of the projects containing
          DataExchanges. e.g. `organizations/myorg/locations/US`.
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of results to return in a single response
          page. Leverage the page tokens to iterate through the entire collection.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page token, returned by a previous call, to request the next\
          \ page of results."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgDataExchangesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - organizations
      x-openapi-router-controller: openapi_server.controllers.organizations_controller
  /v1beta1/{parent}/dataExchanges:
    get:
      description: Lists all data exchanges in a given project and location.
      operationId: analyticshub_projects_locations_data_exchanges_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The parent resource path of the data exchanges. e.g.
          `projects/myproject/locations/US`.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of results to return in a single response
          page. Leverage the page tokens to iterate through the entire collection.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page token, returned by a previous call, to request the next\
          \ page of results."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDataExchangesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates a new data exchange.
      operationId: analyticshub_projects_locations_data_exchanges_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The parent resource path of the data exchange. e.g.
          `projects/myproject/locations/US`.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The ID of the data exchange. Must contain only Unicode\
          \ letters, numbers (0-9), underscores (_). Should not use characters that\
          \ require URL-escaping, or characters outside of ASCII, spaces. Max length:\
          \ 100 bytes."
        explode: true
        in: query
        name: dataExchangeId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataExchange'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExchange'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{parent}/listings:
    get:
      description: Lists all listings in a given project and location.
      operationId: analyticshub_projects_locations_data_exchanges_listings_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The parent resource path of the listing. e.g. `projects/myproject/locations/US/dataExchanges/123`.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of results to return in a single response
          page. Leverage the page tokens to iterate through the entire collection.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page token, returned by a previous call, to request the next\
          \ page of results."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListListingsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates a new listing.
      operationId: analyticshub_projects_locations_data_exchanges_listings_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The parent resource path of the listing. e.g. `projects/myproject/locations/US/dataExchanges/123`.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The ID of the listing to create. Must contain only\
          \ Unicode letters, numbers (0-9), underscores (_). Should not use characters\
          \ that require URL-escaping, or characters outside of ASCII, spaces. Max\
          \ length: 100 bytes."
        explode: true
        in: query
        name: listingId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Listing'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{resource}:getIamPolicy:
    post:
      description: Gets the IAM policy.
      operationId: analyticshub_projects_locations_data_exchanges_listings_get_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being requested.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetIamPolicyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{resource}:setIamPolicy:
    post:
      description: Sets the IAM policy.
      operationId: analyticshub_projects_locations_data_exchanges_listings_set_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being specified.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetIamPolicyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{resource}:testIamPermissions:
    post:
      description: Returns the permissions that a caller has.
      operationId: analyticshub_projects_locations_data_exchanges_listings_test_iam_permissions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy detail is being\
          \ requested. See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestIamPermissionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestIamPermissionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/bigquery
        Oauth2c:
        - https://www.googleapis.com/auth/bigquery
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AuditConfig:
      description: "Specifies the audit configuration for a service. The configuration\
        \ determines which permission types are logged, and what identities, if any,\
        \ are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.\
        \ If there are AuditConfigs for both `allServices` and a specific service,\
        \ the union of the two AuditConfigs is used for that service: the log_types\
        \ specified in each AuditConfig are enabled, and the exempted_members in each\
        \ AuditLogConfig are exempted. Example Policy with multiple AuditConfigs:\
        \ { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\"\
        : [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\"\
        \ ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" }\
        \ ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\"\
        : [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\"\
        : [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy\
        \ enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com`\
        \ from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      example:
        auditLogConfigs:
        - logType: LOG_TYPE_UNSPECIFIED
          exemptedMembers:
          - exemptedMembers
          - exemptedMembers
        - logType: LOG_TYPE_UNSPECIFIED
          exemptedMembers:
          - exemptedMembers
          - exemptedMembers
        service: service
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: '#/components/schemas/AuditLogConfig'
          title: auditLogConfigs
          type: array
        service:
          description: "Specifies a service that will be enabled for audit logging.\
            \ For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices`\
            \ is a special value that covers all services."
          title: service
          type: string
      title: AuditConfig
      type: object
    AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions.\
        \ Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\"\
        : [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This\
        \ enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com\
        \ from DATA_READ logging."
      example:
        logType: LOG_TYPE_UNSPECIFIED
        exemptedMembers:
        - exemptedMembers
        - exemptedMembers
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this
            type of permission. Follows the same format of Binding.members.
          items:
            type: string
          title: exemptedMembers
          type: array
        logType:
          description: The log type that this config enables.
          enum:
          - LOG_TYPE_UNSPECIFIED
          - ADMIN_READ
          - DATA_WRITE
          - DATA_READ
          title: logType
          type: string
      title: AuditLogConfig
      type: object
    BigQueryDatasetSource:
      description: "A reference to a shared dataset. It is an existing BigQuery dataset\
        \ with a collection of objects such as tables and views that you want to share\
        \ with subscribers. When subscriber's subscribe to a listing, Analytics Hub\
        \ creates a linked dataset in the subscriber's project. A Linked dataset is\
        \ an opaque, read-only BigQuery dataset that serves as a _symbolic link_ to\
        \ a shared dataset."
      example:
        dataset: dataset
      properties:
        dataset:
          description: Resource name of the dataset source for this listing. e.g.
            `projects/myproject/datasets/123`
          title: dataset
          type: string
      title: BigQueryDatasetSource
      type: object
    Binding:
      description: "Associates `members`, or principals, with a `role`."
      example:
        condition:
          expression: expression
          description: description
          location: location
          title: title
        role: role
        members:
        - members
        - members
      properties:
        condition:
          $ref: '#/components/schemas/Expr'
        members:
          description: "Specifies the principals requesting access for a Google Cloud\
            \ resource. `members` can have the following values: * `allUsers`: A special\
            \ identifier that represents anyone who is on the internet; with or without\
            \ a Google account. * `allAuthenticatedUsers`: A special identifier that\
            \ represents anyone who is authenticated with a Google account or a service\
            \ account. Does not include identities that come from external identity\
            \ providers (IdPs) through identity federation. * `user:{emailid}`: An\
            \ email address that represents a specific Google account. For example,\
            \ `alice@example.com` . * `serviceAccount:{emailid}`: An email address\
            \ that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`.\
            \ * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`:\
            \ An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts).\
            \ For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`.\
            \ * `group:{emailid}`: An email address that represents a Google group.\
            \ For example, `admins@example.com`. * `domain:{domain}`: The G Suite\
            \ domain (primary) that represents all the users of that domain. For example,\
            \ `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`:\
            \ All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`:\
            \ All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`:\
            \ A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All identities in a workload identity pool with a certain attribute.\
            \ * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`:\
            \ All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a user that has\
            \ been recently deleted. For example, `alice@example.com?uid=123456789012345678901`.\
            \ If the user is recovered, this value reverts to `user:{emailid}` and\
            \ the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a service account\
            \ that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\
            \ If the service account is undeleted, this value reverts to `serviceAccount:{emailid}`\
            \ and the undeleted service account retains the role in the binding. *\
            \ `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\
            \ identifier) representing a Google group that has been recently deleted.\
            \ For example, `admins@example.com?uid=123456789012345678901`. If the\
            \ group is recovered, this value reverts to `group:{emailid}` and the\
            \ recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          items:
            type: string
          title: members
          type: array
        role:
          description: "Role that is assigned to the list of `members`, or principals.\
            \ For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an\
            \ overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview).\
            \ For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          title: role
          type: string
      title: Binding
      type: object
    DataExchange:
      description: "A data exchange is a container that lets you share data. Along\
        \ with the descriptive information about the data exchange, it contains listings\
        \ that reference shared datasets."
      example:
        listingCount: 0
        displayName: displayName
        documentation: documentation
        primaryContact: primaryContact
        icon: icon
        name: name
        description: description
      properties:
        description:
          description: "Optional. Description of the data exchange. The description\
            \ must not contain Unicode non-characters as well as C0 and C1 control\
            \ codes except tabs (HT), new lines (LF), carriage returns (CR), and page\
            \ breaks (FF). Default value is an empty string. Max length: 2000 bytes."
          title: description
          type: string
        displayName:
          description: "Required. Human-readable display name of the data exchange.\
            \ The display name must contain only Unicode letters, numbers (0-9), underscores\
            \ (_), dashes (-), spaces ( ), ampersands (&) and must not start or end\
            \ with spaces. Default value is an empty string. Max length: 63 bytes."
          title: displayName
          type: string
        documentation:
          description: Optional. Documentation describing the data exchange.
          title: documentation
          type: string
        icon:
          description: "Optional. Base64 encoded image representing the data exchange.\
            \ Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however\
            \ the API only performs validation on size of the encoded data. Note:\
            \ For byte fields, the content of the fields are base64-encoded (which\
            \ increases the size of the data by 33-36%) when using JSON on the wire."
          format: byte
          title: icon
          type: string
        listingCount:
          description: Output only. Number of listings contained in the data exchange.
          format: int32
          readOnly: true
          title: listingCount
          type: integer
        name:
          description: Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/US/dataExchanges/123`.
          readOnly: true
          title: name
          type: string
        primaryContact:
          description: "Optional. Email or URL of the primary point of contact of\
            \ the data exchange. Max Length: 1000 bytes."
          title: primaryContact
          type: string
      title: DataExchange
      type: object
    DataProvider:
      description: Contains details of the data provider.
      example:
        primaryContact: primaryContact
        name: name
      properties:
        name:
          description: Optional. Name of the data provider.
          title: name
          type: string
        primaryContact:
          description: "Optional. Email or URL of the data provider. Max Length: 1000\
            \ bytes."
          title: primaryContact
          type: string
      title: DataProvider
      type: object
    DestinationDataset:
      description: Defines the destination bigquery dataset.
      example:
        description: description
        location: location
        datasetReference:
          datasetId: datasetId
          projectId: projectId
        friendlyName: friendlyName
        labels:
          key: labels
      properties:
        datasetReference:
          $ref: '#/components/schemas/DestinationDatasetReference'
        description:
          description: Optional. A user-friendly description of the dataset.
          title: description
          type: string
        friendlyName:
          description: Optional. A descriptive name for the dataset.
          title: friendlyName
          type: string
        labels:
          additionalProperties:
            type: string
          description: Optional. The labels associated with this dataset. You can
            use these to organize and group your datasets. You can set this property
            when inserting or updating a dataset. See https://cloud.google.com/resource-manager/docs/creating-managing-labels
            for more information.
          title: labels
          type: object
        location:
          description: Required. The geographic location where the dataset should
            reside. See https://cloud.google.com/bigquery/docs/locations for supported
            locations.
          title: location
          type: string
      title: DestinationDataset
      type: object
    DestinationDatasetReference:
      description: Contains the reference that identifies a destination bigquery dataset.
      example:
        datasetId: datasetId
        projectId: projectId
      properties:
        datasetId:
          description: "Required. A unique ID for this dataset, without the project\
            \ name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or\
            \ underscores (_). The maximum length is 1,024 characters."
          title: datasetId
          type: string
        projectId:
          description: Required. The ID of the project containing this dataset.
          title: projectId
          type: string
      title: DestinationDatasetReference
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Expr:
      description: "Represents a textual expression in the Common Expression Language\
        \ (CEL) syntax. CEL is a C-like expression language. The syntax and semantics\
        \ of CEL are documented at https://github.com/google/cel-spec. Example (Comparison):\
        \ title: \"Summary size limit\" description: \"Determines if a summary is\
        \ less than 100 chars\" expression: \"document.summary.size() < 100\" Example\
        \ (Equality): title: \"Requestor is owner\" description: \"Determines if requestor\
        \ is the document owner\" expression: \"document.owner == request.auth.claims.email\"\
        \ Example (Logic): title: \"Public documents\" description: \"Determine whether\
        \ the document should be publicly visible\" expression: \"document.type !=\
        \ 'private' && document.type != 'internal'\" Example (Data Manipulation):\
        \ title: \"Notification string\" description: \"Create a notification string\
        \ with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\"\
        \ The exact variables and functions that may be referenced within an expression\
        \ are determined by the service that evaluates it. See the service documentation\
        \ for additional information."
      example:
        expression: expression
        description: description
        location: location
        title: title
      properties:
        description:
          description: "Optional. Description of the expression. This is a longer\
            \ text which describes the expression, e.g. when hovered over it in a\
            \ UI."
          title: description
          type: string
        expression:
          description: Textual representation of an expression in Common Expression
            Language syntax.
          title: expression
          type: string
        location:
          description: "Optional. String indicating the location of the expression\
            \ for error reporting, e.g. a file name and a position in the file."
          title: location
          type: string
        title:
          description: "Optional. Title for the expression, i.e. a short string describing\
            \ its purpose. This can be used e.g. in UIs which allow to enter the expression."
          title: title
          type: string
      title: Expr
      type: object
    GetIamPolicyRequest:
      description: Request message for `GetIamPolicy` method.
      example:
        options:
          requestedPolicyVersion: 0
      properties:
        options:
          $ref: '#/components/schemas/GetPolicyOptions'
      title: GetIamPolicyRequest
      type: object
    GetPolicyOptions:
      description: Encapsulates settings provided to GetIamPolicy.
      example:
        requestedPolicyVersion: 0
      properties:
        requestedPolicyVersion:
          description: "Optional. The maximum policy version that will be used to\
            \ format the policy. Valid values are 0, 1, and 3. Requests specifying\
            \ an invalid value will be rejected. Requests for policies with any conditional\
            \ role bindings must specify version 3. Policies with no conditional role\
            \ bindings may specify any valid value or leave the field unset. The policy\
            \ in the response might use the policy version that you specified, or\
            \ it might use a lower policy version. For example, if you specify version\
            \ 3, but the policy has no conditional role bindings, the response uses\
            \ version 1. To learn which resources support conditions in their IAM\
            \ policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          format: int32
          title: requestedPolicyVersion
          type: integer
      title: GetPolicyOptions
      type: object
    LinkedResource:
      description: Reference to a linked resource tracked by this Subscription.
      properties:
        linkedDataset:
          description: "Output only. Name of the linked dataset, e.g. projects/subscriberproject/datasets/linked_dataset"
          readOnly: true
          title: linkedDataset
          type: string
      title: LinkedResource
      type: object
    ListDataExchangesResponse:
      description: Message for response to the list of data exchanges.
      example:
        nextPageToken: nextPageToken
        dataExchanges:
        - listingCount: 0
          displayName: displayName
          documentation: documentation
          primaryContact: primaryContact
          icon: icon
          name: name
          description: description
        - listingCount: 0
          displayName: displayName
          documentation: documentation
          primaryContact: primaryContact
          icon: icon
          name: name
          description: description
      properties:
        dataExchanges:
          description: The list of data exchanges.
          items:
            $ref: '#/components/schemas/DataExchange'
          title: dataExchanges
          type: array
        nextPageToken:
          description: A token to request the next page of results.
          title: nextPageToken
          type: string
      title: ListDataExchangesResponse
      type: object
    ListListingsResponse:
      description: Message for response to the list of Listings.
      example:
        listings:
        - restrictedExportConfig:
            restrictDirectTableAccess: true
            restrictQueryResult: true
            enabled: true
          displayName: displayName
          documentation: documentation
          icon: icon
          description: description
          requestAccess: requestAccess
          bigqueryDataset:
            dataset: dataset
          primaryContact: primaryContact
          name: name
          publisher:
            primaryContact: primaryContact
            name: name
          categories:
          - CATEGORY_UNSPECIFIED
          - CATEGORY_UNSPECIFIED
          dataProvider:
            primaryContact: primaryContact
            name: name
          state: STATE_UNSPECIFIED
        - restrictedExportConfig:
            restrictDirectTableAccess: true
            restrictQueryResult: true
            enabled: true
          displayName: displayName
          documentation: documentation
          icon: icon
          description: description
          requestAccess: requestAccess
          bigqueryDataset:
            dataset: dataset
          primaryContact: primaryContact
          name: name
          publisher:
            primaryContact: primaryContact
            name: name
          categories:
          - CATEGORY_UNSPECIFIED
          - CATEGORY_UNSPECIFIED
          dataProvider:
            primaryContact: primaryContact
            name: name
          state: STATE_UNSPECIFIED
        nextPageToken: nextPageToken
      properties:
        listings:
          description: The list of Listing.
          items:
            $ref: '#/components/schemas/Listing'
          title: listings
          type: array
        nextPageToken:
          description: A token to request the next page of results.
          title: nextPageToken
          type: string
      title: ListListingsResponse
      type: object
    ListOrgDataExchangesResponse:
      description: Message for response to listing data exchanges in an organization
        and location.
      example:
        nextPageToken: nextPageToken
        dataExchanges:
        - listingCount: 0
          displayName: displayName
          documentation: documentation
          primaryContact: primaryContact
          icon: icon
          name: name
          description: description
        - listingCount: 0
          displayName: displayName
          documentation: documentation
          primaryContact: primaryContact
          icon: icon
          name: name
          description: description
      properties:
        dataExchanges:
          description: The list of data exchanges.
          items:
            $ref: '#/components/schemas/DataExchange'
          title: dataExchanges
          type: array
        nextPageToken:
          description: A token to request the next page of results.
          title: nextPageToken
          type: string
      title: ListOrgDataExchangesResponse
      type: object
    Listing:
      description: A listing is what gets published into a data exchange that a subscriber
        can subscribe to. It contains a reference to the data source along with descriptive
        information that will help subscribers find and subscribe the data.
      example:
        restrictedExportConfig:
          restrictDirectTableAccess: true
          restrictQueryResult: true
          enabled: true
        displayName: displayName
        documentation: documentation
        icon: icon
        description: description
        requestAccess: requestAccess
        bigqueryDataset:
          dataset: dataset
        primaryContact: primaryContact
        name: name
        publisher:
          primaryContact: primaryContact
          name: name
        categories:
        - CATEGORY_UNSPECIFIED
        - CATEGORY_UNSPECIFIED
        dataProvider:
          primaryContact: primaryContact
          name: name
        state: STATE_UNSPECIFIED
      properties:
        bigqueryDataset:
          $ref: '#/components/schemas/BigQueryDatasetSource'
        categories:
          description: Optional. Categories of the listing. Up to two categories are
            allowed.
          items:
            enum:
            - CATEGORY_UNSPECIFIED
            - CATEGORY_OTHERS
            - CATEGORY_ADVERTISING_AND_MARKETING
            - CATEGORY_COMMERCE
            - CATEGORY_CLIMATE_AND_ENVIRONMENT
            - CATEGORY_DEMOGRAPHICS
            - CATEGORY_ECONOMICS
            - CATEGORY_EDUCATION
            - CATEGORY_ENERGY
            - CATEGORY_FINANCIAL
            - CATEGORY_GAMING
            - CATEGORY_GEOSPATIAL
            - CATEGORY_HEALTHCARE_AND_LIFE_SCIENCE
            - CATEGORY_MEDIA
            - CATEGORY_PUBLIC_SECTOR
            - CATEGORY_RETAIL
            - CATEGORY_SPORTS
            - CATEGORY_SCIENCE_AND_RESEARCH
            - CATEGORY_TRANSPORTATION_AND_LOGISTICS
            - CATEGORY_TRAVEL_AND_TOURISM
            type: string
          title: categories
          type: array
        dataProvider:
          $ref: '#/components/schemas/DataProvider'
        description:
          description: "Optional. Short description of the listing. The description\
            \ must not contain Unicode non-characters and C0 and C1 control codes\
            \ except tabs (HT), new lines (LF), carriage returns (CR), and page breaks\
            \ (FF). Default value is an empty string. Max length: 2000 bytes."
          title: description
          type: string
        displayName:
          description: "Required. Human-readable display name of the listing. The\
            \ display name must contain only Unicode letters, numbers (0-9), underscores\
            \ (_), dashes (-), spaces ( ), ampersands (&) and can't start or end with\
            \ spaces. Default value is an empty string. Max length: 63 bytes."
          title: displayName
          type: string
        documentation:
          description: Optional. Documentation describing the listing.
          title: documentation
          type: string
        icon:
          description: "Optional. Base64 encoded image representing the listing. Max\
            \ Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the\
            \ API only performs validation on size of the encoded data. Note: For\
            \ byte fields, the contents of the field are base64-encoded (which increases\
            \ the size of the data by 33-36%) when using JSON on the wire."
          format: byte
          title: icon
          type: string
        name:
          description: Output only. The resource name of the listing. e.g. `projects/myproject/locations/US/dataExchanges/123/listings/456`
          readOnly: true
          title: name
          type: string
        primaryContact:
          description: "Optional. Email or URL of the primary point of contact of\
            \ the listing. Max Length: 1000 bytes."
          title: primaryContact
          type: string
        publisher:
          $ref: '#/components/schemas/Publisher'
        requestAccess:
          description: "Optional. Email or URL of the request access of the listing.\
            \ Subscribers can use this reference to request access. Max Length: 1000\
            \ bytes."
          title: requestAccess
          type: string
        restrictedExportConfig:
          $ref: '#/components/schemas/RestrictedExportConfig'
        state:
          description: Output only. Current state of the listing.
          enum:
          - STATE_UNSPECIFIED
          - ACTIVE
          readOnly: true
          title: state
          type: string
      title: Listing
      type: object
    OperationMetadata:
      description: Represents the metadata of a long-running operation in Analytics
        Hub.
      properties:
        apiVersion:
          description: Output only. API version used to start the operation.
          readOnly: true
          type: string
        createTime:
          description: Output only. The time the operation was created.
          format: google-datetime
          readOnly: true
          type: string
        endTime:
          description: Output only. The time the operation finished running.
          format: google-datetime
          readOnly: true
          type: string
        requestedCancellation:
          description: "Output only. Identifies whether the user has requested cancellation\
            \ of the operation. Operations that have successfully been cancelled have\
            \ Operation.error value with a google.rpc.Status.code of 1, corresponding\
            \ to `Code.CANCELLED`."
          readOnly: true
          type: boolean
        statusMessage:
          description: "Output only. Human-readable status of the operation, if any."
          readOnly: true
          type: string
        target:
          description: Output only. Server-defined resource path for the target of
            the operation.
          readOnly: true
          type: string
        verb:
          description: Output only. Name of the verb executed by the operation.
          readOnly: true
          type: string
      type: object
    Policy:
      description: "An Identity and Access Management (IAM) policy, which specifies\
        \ access controls for Google Cloud resources. A `Policy` is a collection of\
        \ `bindings`. A `binding` binds one or more `members`, or principals, to a\
        \ single `role`. Principals can be user accounts, service accounts, Google\
        \ groups, and domains (such as G Suite). A `role` is a named list of permissions;\
        \ each `role` can be an IAM predefined role or a user-created custom role.\
        \ For some types of Google Cloud resources, a `binding` can also specify a\
        \ `condition`, which is a logical expression that allows access to a resource\
        \ only if the expression evaluates to `true`. A condition can add constraints\
        \ based on attributes of the request, the resource, or both. To learn which\
        \ resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).\
        \ **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\"\
        , \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\",\
        \ \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\
        \ ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\"\
        : [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\"\
        , \"description\": \"Does not grant access after Sep 2020\", \"expression\"\
        : \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\"\
        : \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: -\
        \ members: - user:mike@example.com - group:admins@example.com - domain:google.com\
        \ - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin\
        \ - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer\
        \ condition: title: expirable access description: Does not grant access after\
        \ Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z')\
        \ etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features,\
        \ see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      example:
        bindings:
        - condition:
            expression: expression
            description: description
            location: location
            title: title
          role: role
          members:
          - members
          - members
        - condition:
            expression: expression
            description: description
            location: location
            title: title
          role: role
          members:
          - members
          - members
        etag: etag
        version: 0
        auditConfigs:
        - auditLogConfigs:
          - logType: LOG_TYPE_UNSPECIFIED
            exemptedMembers:
            - exemptedMembers
            - exemptedMembers
          - logType: LOG_TYPE_UNSPECIFIED
            exemptedMembers:
            - exemptedMembers
            - exemptedMembers
          service: service
        - auditLogConfigs:
          - logType: LOG_TYPE_UNSPECIFIED
            exemptedMembers:
            - exemptedMembers
            - exemptedMembers
          - logType: LOG_TYPE_UNSPECIFIED
            exemptedMembers:
            - exemptedMembers
            - exemptedMembers
          service: service
      properties:
        auditConfigs:
          description: Specifies cloud audit logging configuration for this policy.
          items:
            $ref: '#/components/schemas/AuditConfig'
          title: auditConfigs
          type: array
        bindings:
          description: "Associates a list of `members`, or principals, with a `role`.\
            \ Optionally, may specify a `condition` that determines how and when the\
            \ `bindings` are applied. Each of the `bindings` must contain at least\
            \ one principal. The `bindings` in a `Policy` can refer to up to 1,500\
            \ principals; up to 250 of these principals can be Google groups. Each\
            \ occurrence of a principal counts towards these limits. For example,\
            \ if the `bindings` grant 50 different roles to `user:alice@example.com`,\
            \ and not to any other principal, then you can add another 1,450 principals\
            \ to the `bindings` in the `Policy`."
          items:
            $ref: '#/components/schemas/Binding'
          title: bindings
          type: array
        etag:
          description: "`etag` is used for optimistic concurrency control as a way\
            \ to help prevent simultaneous updates of a policy from overwriting each\
            \ other. It is strongly suggested that systems make use of the `etag`\
            \ in the read-modify-write cycle to perform policy updates in order to\
            \ avoid race conditions: An `etag` is returned in the response to `getIamPolicy`,\
            \ and systems are expected to put that etag in the request to `setIamPolicy`\
            \ to ensure that their change will be applied to the same version of the\
            \ policy. **Important:** If you use IAM Conditions, you must include the\
            \ `etag` field whenever you call `setIamPolicy`. If you omit this field,\
            \ then IAM allows you to overwrite a version `3` policy with a version\
            \ `1` policy, and all of the conditions in the version `3` policy are\
            \ lost."
          format: byte
          title: etag
          type: string
        version:
          description: "Specifies the format of the policy. Valid values are `0`,\
            \ `1`, and `3`. Requests that specify an invalid value are rejected. Any\
            \ operation that affects conditional role bindings must specify version\
            \ `3`. This requirement applies to the following operations: * Getting\
            \ a policy that includes a conditional role binding * Adding a conditional\
            \ role binding to a policy * Changing a conditional role binding in a\
            \ policy * Removing any role binding, with or without a condition, from\
            \ a policy that includes conditions **Important:** If you use IAM Conditions,\
            \ you must include the `etag` field whenever you call `setIamPolicy`.\
            \ If you omit this field, then IAM allows you to overwrite a version `3`\
            \ policy with a version `1` policy, and all of the conditions in the version\
            \ `3` policy are lost. If a policy does not include any conditions, operations\
            \ on that policy may specify any valid version or leave the field unset.\
            \ To learn which resources support conditions in their IAM policies, see\
            \ the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          format: int32
          title: version
          type: integer
      title: Policy
      type: object
    Publisher:
      description: Contains details of the listing publisher.
      example:
        primaryContact: primaryContact
        name: name
      properties:
        name:
          description: Optional. Name of the listing publisher.
          title: name
          type: string
        primaryContact:
          description: "Optional. Email or URL of the listing publisher. Max Length:\
            \ 1000 bytes."
          title: primaryContact
          type: string
      title: Publisher
      type: object
    RefreshSubscriptionResponse:
      description: Message for response when you refresh a subscription.
      properties:
        subscription:
          $ref: '#/components/schemas/Subscription'
      type: object
    RestrictedExportConfig:
      description: "Restricted export config, used to configure restricted export\
        \ on linked dataset."
      example:
        restrictDirectTableAccess: true
        restrictQueryResult: true
        enabled: true
      properties:
        enabled:
          description: "Optional. If true, enable restricted export."
          title: enabled
          type: boolean
        restrictDirectTableAccess:
          description: "Output only. If true, restrict direct table access(read api/tabledata.list)\
            \ on linked table."
          readOnly: true
          title: restrictDirectTableAccess
          type: boolean
        restrictQueryResult:
          description: "Optional. If true, restrict export of query result derived\
            \ from restricted linked dataset table."
          title: restrictQueryResult
          type: boolean
      title: RestrictedExportConfig
      type: object
    SetIamPolicyRequest:
      description: Request message for `SetIamPolicy` method.
      example:
        updateMask: updateMask
        policy:
          bindings:
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            role: role
            members:
            - members
            - members
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            role: role
            members:
            - members
            - members
          etag: etag
          version: 0
          auditConfigs:
          - auditLogConfigs:
            - logType: LOG_TYPE_UNSPECIFIED
              exemptedMembers:
              - exemptedMembers
              - exemptedMembers
            - logType: LOG_TYPE_UNSPECIFIED
              exemptedMembers:
              - exemptedMembers
              - exemptedMembers
            service: service
          - auditLogConfigs:
            - logType: LOG_TYPE_UNSPECIFIED
              exemptedMembers:
              - exemptedMembers
              - exemptedMembers
            - logType: LOG_TYPE_UNSPECIFIED
              exemptedMembers:
              - exemptedMembers
              - exemptedMembers
            service: service
      properties:
        policy:
          $ref: '#/components/schemas/Policy'
        updateMask:
          description: "OPTIONAL: A FieldMask specifying which fields of the policy\
            \ to modify. Only the fields in the mask will be modified. If no mask\
            \ is provided, the following default mask is used: `paths: \"bindings,\
            \ etag\"`"
          format: google-fieldmask
          title: updateMask
          type: string
      title: SetIamPolicyRequest
      type: object
    SubscribeDataExchangeResponse:
      description: Message for response when you subscribe to a Data Exchange.
      properties:
        subscription:
          $ref: '#/components/schemas/Subscription'
      type: object
    SubscribeListingRequest:
      description: Message for subscribing to a listing.
      example:
        destinationDataset:
          description: description
          location: location
          datasetReference:
            datasetId: datasetId
            projectId: projectId
          friendlyName: friendlyName
          labels:
            key: labels
      properties:
        destinationDataset:
          $ref: '#/components/schemas/DestinationDataset'
      title: SubscribeListingRequest
      type: object
    SubscribeListingResponse:
      description: Message for response when you subscribe to a listing.
      properties: {}
      type: object
    Subscription:
      description: "A subscription represents a subscribers' access to a particular\
        \ set of published data. It contains references to associated listings, data\
        \ exchanges, and linked datasets."
      properties:
        creationTime:
          description: Output only. Timestamp when the subscription was created.
          format: google-datetime
          readOnly: true
          title: creationTime
          type: string
        dataExchange:
          description: Output only. Resource name of the source Data Exchange. e.g.
            projects/123/locations/US/dataExchanges/456
          readOnly: true
          title: dataExchange
          type: string
        lastModifyTime:
          description: Output only. Timestamp when the subscription was last modified.
          format: google-datetime
          readOnly: true
          title: lastModifyTime
          type: string
        linkedDatasetMap:
          additionalProperties:
            $ref: '#/components/schemas/LinkedResource'
          description: "Output only. Map of listing resource names to associated linked\
            \ resource, e.g. projects/123/locations/US/dataExchanges/456/listings/789\
            \ -> projects/123/datasets/my_dataset For listing-level subscriptions,\
            \ this is a map of size 1. Only contains values if state == STATE_ACTIVE."
          readOnly: true
          title: linkedDatasetMap
          type: object
        listing:
          description: Output only. Resource name of the source Listing. e.g. projects/123/locations/US/dataExchanges/456/listings/789
          readOnly: true
          title: listing
          type: string
        name:
          description: Output only. The resource name of the subscription. e.g. `projects/myproject/locations/US/subscriptions/123`.
          readOnly: true
          title: name
          type: string
        organizationDisplayName:
          description: Output only. Display name of the project of this subscription.
          readOnly: true
          title: organizationDisplayName
          type: string
        organizationId:
          description: Output only. Organization of the project this subscription
            belongs to.
          readOnly: true
          title: organizationId
          type: string
        state:
          description: Output only. Current state of the subscription.
          enum:
          - STATE_UNSPECIFIED
          - STATE_ACTIVE
          - STATE_STALE
          - STATE_INACTIVE
          readOnly: true
          title: state
          type: string
        subscriberContact:
          description: Output only. Email of the subscriber.
          readOnly: true
          title: subscriberContact
          type: string
      title: Subscription
      type: object
    TestIamPermissionsRequest:
      description: Request message for `TestIamPermissions` method.
      example:
        permissions:
        - permissions
        - permissions
      properties:
        permissions:
          description: "The set of permissions to check for the `resource`. Permissions\
            \ with wildcards (such as `*` or `storage.*`) are not allowed. For more\
            \ information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          items:
            type: string
          title: permissions
          type: array
      title: TestIamPermissionsRequest
      type: object
    TestIamPermissionsResponse:
      description: Response message for `TestIamPermissions` method.
      example:
        permissions:
        - permissions
        - permissions
      properties:
        permissions:
          description: A subset of `TestPermissionsRequest.permissions` that the caller
            is allowed.
          items:
            type: string
          title: permissions
          type: array
      title: TestIamPermissionsResponse
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/bigquery: View and manage your data in
[...]
