openapi: 3.0.1
info:
  description: "The Azure Analysis Services Web API provides a RESTful set of web\
    \ services that enables users to create, retrieve, update, and delete Analysis\
    \ Services servers"
  title: AzureAnalysisServices
  version: 2017-07-14
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: AnalysisServicesManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-07-14/analysisservices.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: analysisservices
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/checkNameAvailability:
    post:
      description: Check the name availability in the target location.
      operationId: servers_check_name_availability
      parameters:
      - description: The region name which the operation will lookup into.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckServerNameAvailabilityParameters'
        description: Contains the information used to provision the Analysis Services
          server.
        required: true
        x-body-name: serverParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckServerNameAvailabilityResult'
          description: OK. The request has succeeded.
      tags:
      - Servers
      x-ms-examples:
        Get details of a server:
          parameters:
            api-version: 2017-07-14
            location: West US
            serverParameters:
              name: azsdktest
              type: Microsoft.AnalysisServices/servers
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                nameAvailable: true
              headers: {}
      x-codegen-request-body-name: serverParameters
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationresults/{operationId}:
    get:
      description: List the result of the specified operation.
      operationId: servers_list_operation_results
      parameters:
      - description: The region name which the operation will lookup into.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: The target operation Id.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The operation completed.
        "202":
          content: {}
          description: Accepted. The operation is ongoing.
      tags:
      - Servers
      x-ms-examples:
        Get details of a server:
          parameters:
            api-version: 2017-07-14
            location: West US
            operationId: "00000000000000000000000000000000"
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              headers: {}
            "202":
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationstatuses/{operationId}:
    get:
      description: List the status of operation.
      operationId: servers_list_operation_statuses
      parameters:
      - description: The region name which the operation will lookup into.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: The target operation Id.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: OK. The operation completed.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Accepted. The operation is ongoing.
      tags:
      - Servers
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/servers:
    get:
      description: Lists all the Analysis Services servers for the given subscription.
      operationId: servers_list
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServers'
          description: OK
      tags:
      - Servers
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/skus:
    get:
      description: Lists eligible SKUs for Analysis Services resource provider.
      operationId: servers_list_skus_for_new
      parameters:
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuEnumerationForNewResourceResult'
          description: OK
      x-ms-examples:
        List eligible SKUs for a new server:
          parameters:
            api-version: 2017-07-14
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                value:
                - name: B1
                - name: B2
                - name: D1
                - name: S0
                - name: S1
                - name: S2
                - name: S3
                - name: S4
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers:
    get:
      description: Gets all the Analysis Services servers for the given resource group.
      operationId: servers_list_by_resource_group
      parameters:
      - description: "The name of the Azure Resource group of which a given Analysis\
          \ Services server is part. This name must be at least 1 character in length,\
          \ and no more than 90."
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServers'
          description: OK
      tags:
      - Servers
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}:
    delete:
      description: Deletes the specified Analysis Services server.
      operationId: servers_delete
      parameters:
      - description: "The name of the Azure Resource group of which a given Analysis\
          \ Services server is part. This name must be at least 1 character in length,\
          \ and no more than 90."
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the Analysis Services server. It must be at least\
          \ 3 characters in length, and no more than 63."
        in: path
        name: serverName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[a-z][a-z0-9]*$"
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK.
        "202":
          content: {}
          description: Accepted.
        "204":
          content: {}
          description: No Content.
      tags:
      - Servers
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.servers_controller
    get:
      description: Gets details about the specified Analysis Services server.
      operationId: servers_get_details
      parameters:
      - description: "The name of the Azure Resource group of which a given Analysis\
          \ Services server is part. This name must be at least 1 character in length,\
          \ and no more than 90."
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the Analysis Services server. It must be a minimum\
          \ of 3 characters, and a maximum of 63."
        in: path
        name: serverName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[a-z][a-z0-9]*$"
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServer'
          description: OK. The operation was successful.
      tags:
      - Servers
      x-openapi-router-controller: openapi_server.controllers.servers_controller
    patch:
      description: Updates the current state of the specified Analysis Services server.
      operationId: servers_update
      parameters:
      - description: "The name of the Azure Resource group of which a given Analysis\
          \ Services server is part. This name must be at least 1 character in length,\
          \ and no more than 90."
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the Analysis Services server. It must be at least\
          \ 3 characters in length, and no more than 63."
        in: path
        name: serverName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[a-z][a-z0-9]*$"
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisServicesServerUpdateParameters'
        description: Request object that contains the updated information for the
          server.
        required: true
        x-body-name: serverUpdateParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServer'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServer'
          description: Accepted
      tags:
      - Servers
      x-ms-long-running-operation: true
      x-codegen-request-body-name: serverUpdateParameters
      x-openapi-router-controller: openapi_server.controllers.servers_controller
    put:
      description: Provisions the specified Analysis Services server based on the
        configuration specified in the request.
      operationId: servers_create
      parameters:
      - description: "The name of the Azure Resource group of which a given Analysis\
          \ Services server is part. This name must be at least 1 character in length,\
          \ and no more than 90."
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the Analysis Services server. It must be a minimum\
          \ of 3 characters, and a maximum of 63."
        in: path
        name: serverName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[a-z][a-z0-9]*$"
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisServicesServer'
        description: Contains the information used to provision the Analysis Services
          server.
        required: true
        x-body-name: serverParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServer'
          description: OK. The operation completed successfully.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisServicesServer'
          description: InProgress. The operation is still completing.
      tags:
      - Servers
      x-ms-long-running-operation: true
      x-codegen-request-body-name: serverParameters
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/dissociateGateway
  : post:
      description: Dissociates a Unified Gateway associated with the server.
      operationId: servers_dissociate_gateway
      parameters:
      - description: "The name of the Azure Resource group of which a given Analysis\
          \ Services server is part. This name must be at least 1 character in length,\
          \ and no more than 90."
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the Analysis Services server. It must be at least\
          \ 3 characters in length, and no more than 63."
        in: path
        name: serverName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[a-z][a-z0-9]*$"
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK.
      tags:
      - Servers
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/listGatewayStatus
  : post:
      description: Return the gateway status of the specified Analysis Services server
        instance.
      operationId: servers_list_gateway_status
      parameters:
      - description: "The name of the Azure Resource group of which a given Analysis\
          \ Services server is part. This name must be at least 1 character in length,\
          \ and no more than 90."
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the Analysis Services server. It must be at least\
          \ 3 characters in length, and no more than 63."
        in: path
        name: serverName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[a-z][a-z0-9]*$"
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayListStatusLive'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayListStatusError'
          description: Default response as an error
      tags:
      - Servers
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/resume
  : post:
      description: Resumes operation of the specified Analysis Services server instance.
      operationId: servers_resume
      parameters:
      - description: "The name of the Azure Resource group of which a given Analysis\
          \ Services server is part. This name must be at least 1 character in length,\
          \ and no more than 90."
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the Analysis Services server. It must be at least\
          \ 3 characters in length, and no more than 63."
        in: path
        name: serverName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[a-z][a-z0-9]*$"
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - Servers
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/skus
  : get:
      description: Lists eligible SKUs for an Analysis Services resource.
      operationId: servers_list_skus_for_existing
      parameters:
      - description: "The name of the Azure Resource group of which a given Analysis\
          \ Services server is part. This name must be at least 1 character in length,\
          \ and no more than 90."
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the Analysis Services server. It must be at least\
          \ 3 characters in length, and no more than 63."
        in: path
        name: serverName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[a-z][a-z0-9]*$"
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuEnumerationForExistingResourceResult'
          description: OK
      tags:
      - Servers
      x-ms-examples:
        List eligible SKUs for an existing server:
          parameters:
            api-version: 2017-07-14
            resourceGroupName: TestRG
            serverName: azsdktest
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                value:
                - sku:
                    name: B1
                    tier: Basic
                - sku:
                    name: B2
                    tier: Basic
                - sku:
                    name: S0
                    tier: Standard
                - sku:
                    name: S1
                    tier: Standard
                - sku:
                    name: S2
                    tier: Standard
                - sku:
                    name: S3
                    tier: Standard
                - sku:
                    name: S4
                    tier: Standard
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/suspend
  : post:
      description: Suspends operation of the specified Analysis Services server instance.
      operationId: servers_suspend
      parameters:
      - description: "The name of the Azure Resource group of which a given Analysis\
          \ Services server is part. This name must be at least 1 character in length,\
          \ and no more than 90."
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The name of the Analysis Services server. It must be at least\
          \ 3 characters in length, and no more than 63."
        in: path
        name: serverName
        required: true
        schema:
          maxLength: 63
          minLength: 3
          pattern: "^[a-z][a-z0-9]*$"
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK.
        "202":
          content: {}
          description: Accepted.
      tags:
      - Servers
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.servers_controller
components:
  parameters:
    ApiVersionParameter:
      description: The client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: "The name of the Azure Resource group of which a given Analysis\
        \ Services server is part. This name must be at least 1 character in length,\
        \ and no more than 90."
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: A unique identifier for a Microsoft Azure subscription. The subscription
        ID forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AnalysisServicesServer:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Represents an instance of an Analysis Services resource.
      example:
        properties:
          serverFullName: serverFullName
          provisioningState: Deleting
          state: Deleting
      properties:
        properties:
          $ref: '#/components/schemas/AnalysisServicesServerProperties'
      title: AnalysisServicesServer
    AnalysisServicesServerMutableProperties:
      description: An object that represents a set of mutable Analysis Services resource
        properties.
      example:
        gatewayDetails:
          dmtsClusterUri: dmtsClusterUri
          gatewayResourceId: gatewayResourceId
          gatewayObjectId: gatewayObjectId
        backupBlobContainerUri: backupBlobContainerUri
        asAdministrators:
          members:
          - members
          - members
      properties:
        asAdministrators:
          $ref: '#/components/schemas/ServerAdministrators'
        backupBlobContainerUri:
          description: The SAS container URI to the backup container.
          title: backupBlobContainerUri
          type: string
        gatewayDetails:
          $ref: '#/components/schemas/GatewayDetails'
      title: AnalysisServicesServerMutableProperties
      type: object
    AnalysisServicesServerProperties:
      allOf:
      - $ref: '#/components/schemas/AnalysisServicesServerMutableProperties'
      description: Properties of Analysis Services resource.
      example:
        serverFullName: serverFullName
        provisioningState: Deleting
        state: Deleting
      properties:
        provisioningState:
          description: The current deployment state of Analysis Services resource.
            The provisioningState is to indicate states for resource provisioning.
          enum:
          - Deleting
          - Succeeded
          - Failed
          - Paused
          - Suspended
          - Provisioning
          - Updating
          - Suspending
          - Pausing
          - Resuming
          - Preparing
          - Scaling
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        serverFullName:
          description: The full name of the Analysis Services resource.
          readOnly: true
          title: serverFullName
          type: string
        state:
          description: The current state of Analysis Services resource. The state
            is to indicate more states outside of resource provisioning.
          enum:
          - Deleting
          - Succeeded
          - Failed
          - Paused
          - Suspended
          - Provisioning
          - Updating
          - Suspending
          - Pausing
          - Resuming
          - Preparing
          - Scaling
          readOnly: true
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: State
      title: AnalysisServicesServerProperties
    AnalysisServicesServerUpdateParameters:
      description: Provision request specification
      example:
        sku:
          tier: Development
          name: name
        properties:
          gatewayDetails:
            dmtsClusterUri: dmtsClusterUri
            gatewayResourceId: gatewayResourceId
            gatewayObjectId: gatewayObjectId
          backupBlobContainerUri: backupBlobContainerUri
          asAdministrators:
            members:
            - members
            - members
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/AnalysisServicesServerMutableProperties'
        sku:
          $ref: '#/components/schemas/ResourceSku'
        tags:
          additionalProperties:
            type: string
          description: Key-value pairs of additional provisioning properties.
          title: tags
          type: object
      title: AnalysisServicesServerUpdateParameters
      type: object
    AnalysisServicesServers:
      description: An array of Analysis Services resources.
      example:
        value:
        - properties:
            serverFullName: serverFullName
            provisioningState: Deleting
            state: Deleting
        - properties:
            serverFullName: serverFullName
            provisioningState: Deleting
            state: Deleting
      properties:
        value:
          description: An array of Analysis Services resources.
          items:
            $ref: '#/components/schemas/AnalysisServicesServer'
          title: value
          type: array
      required:
      - value
      title: AnalysisServicesServers
      type: object
    CheckServerNameAvailabilityParameters:
      description: Details of server name request body.
      example:
        name: name
        type: Microsoft.AnalysisServices/servers
      properties:
        name:
          description: Name for checking availability.
          maxLength: 63
          minLength: 3
          pattern: "^[a-z][a-z0-9]*$"
          title: name
          type: string
        type:
          default: Microsoft.AnalysisServices/servers
          description: The resource type of azure analysis services.
          title: type
          type: string
      title: CheckServerNameAvailabilityParameters
      type: object
    CheckServerNameAvailabilityResult:
      description: The checking result of server name availability.
      example:
        reason: reason
        nameAvailable: true
        message: message
      properties:
        message:
          description: The detailed message of the request unavailability.
          title: message
          type: string
        nameAvailable:
          description: Indicator of available of the server name.
          title: nameAvailable
          type: boolean
        reason:
          description: The reason of unavailability.
          title: reason
          type: string
      title: CheckServerNameAvailabilityResult
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    GatewayDetails:
      description: The gateway details.
      example:
        dmtsClusterUri: dmtsClusterUri
        gatewayResourceId: gatewayResourceId
        gatewayObjectId: gatewayObjectId
      properties:
        dmtsClusterUri:
          description: Uri of the DMTS cluster.
          readOnly: true
          title: dmtsClusterUri
          type: string
        gatewayObjectId:
          description: Gateway object id from in the DMTS cluster for the gateway
            resource.
          readOnly: true
          title: gatewayObjectId
          type: string
        gatewayResourceId:
          description: Gateway resource to be associated with the server.
          title: gatewayResourceId
          type: string
      title: GatewayDetails
      type: object
    GatewayError:
      description: Detail of gateway errors
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code of list gateway.
          title: code
          type: string
        message:
          description: Error message of list gateway.
          title: message
          type: string
      title: GatewayError
      type: object
    GatewayListStatusError:
      description: Status of gateway is error
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/GatewayError'
      title: GatewayListStatusError
      type: object
    GatewayListStatusLive:
      description: Status of gateway is live
      example:
        status: Live
      properties:
        status:
          description: Live message of list gateway.
          enum:
          - Live
          title: status
          type: string
          x-ms-enum:
            modelAsString: false
            name: Status
      title: GatewayListStatusLive
      type: object
    OperationStatus:
      description: The status of operation.
      example:
        name: name
        startTime: startTime
        endTime: endTime
        id: id
        error:
          code: code
          message: message
        status: status
      properties:
        endTime:
          description: The end time of the operation.
          title: endTime
          type: string
        error:
          $ref: '#/components/schemas/ErrorResponse'
        id:
          description: The operation Id.
          title: id
          type: string
        name:
          description: The operation name.
          title: name
          type: string
        startTime:
          description: The start time of the operation.
          title: startTime
          type: string
        status:
          description: The status of the operation.
          title: status
          type: string
      title: OperationStatus
      type: object
    Resource:
      description: Represents an instance of an Analysis Services resource.
      properties:
        id:
          description: An identifier that represents the Analysis Services resource.
          readOnly: true
          title: id
          type: string
        location:
          description: Location of the Analysis Services resource.
          title: location
          type: string
        name:
          description: The name of the Analysis Services resource.
          readOnly: true
          title: name
          type: string
        sku:
          $ref: '#/components/schemas/ResourceSku'
        tags:
          additionalProperties:
            type: string
          description: Key-value pairs of additional resource provisioning properties.
          title: tags
          type: object
        type:
          description: The type of the Analysis Services resource.
          readOnly: true
          title: type
          type: string
      required:
      - location
      - sku
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceSku:
      description: Represents the SKU name and Azure pricing tier for Analysis Services
        resource.
      example:
        tier: Development
        name: name
      properties:
        name:
          description: Name of the SKU level.
          title: name
          type: string
        tier:
          description: The name of the Azure pricing tier to which the SKU applies.
          enum:
          - Development
          - Basic
          - Standard
          title: tier
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuTier
      required:
      - name
      title: ResourceSku
      type: object
    ServerAdministrators:
      description: An array of administrator user identities
      example:
        members:
        - members
        - members
      properties:
        members:
          description: An array of administrator user identities.
          items:
            description: "The UPN of the user. For example: johnsmith@contoso.com."
            type: string
          title: members
          type: array
      title: ServerAdministrators
      type: object
    SkuDetailsForExistingResource:
      description: An object that represents SKU details for existing resources
      example:
        sku:
          tier: Development
          name: name
      properties:
        sku:
          $ref: '#/components/schemas/ResourceSku'
      title: SkuDetailsForExistingResource
      type: object
    SkuEnumerationForExistingResourceResult:
      description: An object that represents enumerating SKUs for existing resources
      example:
        value:
        - sku:
            tier: Development
            name: name
        - sku:
            tier: Development
            name: name
      properties:
        value:
          description: The collection of available SKUs for existing resources
          items:
            $ref: '#/components/schemas/SkuDetailsForExistingResource'
          title: value
          type: array
      title: SkuEnumerationForExistingResourceResult
      type: object
    SkuEnumerationForNewResourceResult:
      description: An object that represents enumerating SKUs for new resources
      example:
        value:
        - tier: Development
          name: name
        - tier: Development
          name: name
      properties:
        value:
          description: The collection of available SKUs for new resources
          items:
            $ref: '#/components/schemas/ResourceSku'
          title: value
          type: array
      title: SkuEnumerationForNewResourceResult
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
