openapi: 3.0.0
info:
  description: |-
    Circuit REST API to interact with the Circuit system.

    [Learn more about the Circuit Development Community](https://www.circuit.com/web/developers/home)
  title: REST API Version 2
  version: 2.9.235
  x-apisguru-categories:
  - messaging
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://pbs.twimg.com/profile_images/927933988269903874/4jU82-IJ_400x400.jpg
  x-origin:
  - format: openapi
    url: https://circuitsandbox.net/rest/v2/swagger
    version: "3.0"
  x-providerName: circuitsandbox.net
servers:
- url: https://circuitsandbox.net/rest/v2
paths:
  /conversations:
    get:
      description: |-
        Gets a list of conversations and communities the authenticated user participates in.
        OauthScopes: READ_CONVERSATIONS
      operationId: getConversations
      parameters:
      - description: "The modification time of the conversation in UTC format. During\
          \ the query the conversations before (<i>default</i>) or after this timestamp\
          \ are returned. In case no timestamp is specified the current server time\
          \ in UTC is used, i.e. the last 25 modified conversations are returned"
        explode: true
        in: query
        name: modTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The direction of the search based on the modification time. Valid
          values are either BEFORE (default) or AFTER
        explode: true
        in: query
        name: direction
        required: false
        schema:
          default: BEFORE
          enum:
          - BEFORE
          - AFTER
          maxLength: 2048
          type: string
        style: form
      - description: The maximum number of returned results (default 25). The maximum
          allowed value is 100.
        explode: true
        in: query
        name: results
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Conversation'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Conversation'
                type: array
          description: The matching conversations
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>a\
            \ field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Gets a list of conversations
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/byIds:
    get:
      description: |-
        Gets conversation based on the given IDs.
        OauthScopes: READ_CONVERSATIONS
      operationId: getConversationsById
      parameters:
      - description: The array of IDs of the conversations which should be retrieved
        explode: true
        in: query
        name: convIds
        required: true
        schema:
          items:
            maxLength: 2048
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Conversation'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Conversation'
                type: array
          description: List of existing conversations successfully retrieved.
        "400":
          description: missing documentation
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Gets conversations
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/community:
    get:
      description: |-
        Gets a list of communities. This endpoint can be used to explore the communities the authenticated user could join.
        OauthScopes: READ_CONVERSATIONS
      operationId: getCommunityConversations
      parameters:
      - description: Defines the type of sorting for the community conversations (default
          is alphabetical)
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: ALPHABETICALLY
          enum:
          - ALPHABETICALLY
          - RECENT_ACTIVITY
          - POPULARITY
          maxLength: 2048
          type: string
        style: form
      - description: Defines the ordering of the conversations (default is ascending)
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: ASCENDING
          enum:
          - ASCENDING
          - DESCENDING
          maxLength: 2048
          type: string
        style: form
      - description: "If set to false only conversations are returned where the user\
          \ is no member of, otherwise all community conversations are returned"
        explode: true
        in: query
        name: includeOwn
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The index of the conversation that is the first one that has
          to be returned. E.g. if a request starts with startIndex 40 and results
          20 the conversations 40 to 60 are returned
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 255
          minimum: 0
          type: number
        style: form
      - description: The maximum number of returned results (default 25). The maximum
          allowed value is 100.
        explode: true
        in: query
        name: results
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Conversation'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Conversation'
                type: array
          description: The matching conversations
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul>a field\
            \ constraint is violated</ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Gets a list of communities
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
    post:
      description: |-
        Creates a community. Communities are open conversations that anyone in a Circuit domain (tenant) can join without having to be added by another user.
        OauthScopes: WRITE_CONVERSATIONS, MANAGE_CONVERSATIONS
      operationId: createCommunityConversation
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createCommunityConversation_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: The conversation was created successfully and can be accessed
            via the conversation ID
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ userIds passed as parameter are not provided in the correct format</li><li>\
            \ or an valid email address</li><li>or one or more of the user do not\
            \ exist</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MANAGE_CONVERSATIONS
      summary: Creates a community conversation
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /conversations/community/{convId}:
    put:
      description: |-
        Updates the information of the given community.
        OauthScopes: WRITE_CONVERSATIONS, MANAGE_CONVERSATIONS
      operationId: updateConversationCommunity
      parameters:
      - description: The ID of the conversation which should be updated
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/updateConversationCommunity_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Gets the updated conversation object with the new topic / description
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the conversation is not of type\
            \ COMMUNITY</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MANAGE_CONVERSATIONS
      summary: Updates the information of a community
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /conversations/community/{convId}/join:
    post:
      description: |-
        Adds the authenticated user to the given community (i.e., allows the user to join this community). Contrary to the operation of adding a new participant, this operation can only be performed by a user who is not yet a member of the community.
        OauthScopes: WRITE_CONVERSATIONS, MANAGE_CONVERSATIONS
      operationId: joinCommunityConversation
      parameters:
      - description: The ID of the conversation which the user will join
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Gets the conversation object to which the participants was
            added
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ userIds passed as parameter are not provided in the correct format</li><li>\
            \ or an valid email address</li><li>or one or more of the user do not\
            \ exist</li><li>the conversation does not exist</li><li>the conversation\
            \ is not of type COMMUNITY</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MANAGE_CONVERSATIONS
      summary: Adds the authenticated user to a community
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/community/{convId}/participants:
    delete:
      description: |-
        Removes one or more participants from the given community. The last participant of a community cannot be removed. This operation can only be performed by a user who is already a member of the community.
        OauthScopes: WRITE_CONVERSATIONS, MANAGE_CONVERSATIONS
      operationId: removeParticipantCommunity
      parameters:
      - description: The ID of the conversation from which the participant have to
          be removed
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The IDs or the unique email addresses of the Circuit users that
          have to be removed
        explode: true
        in: query
        name: participants
        required: true
        schema:
          items:
            maxLength: 6500
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Gets the conversation object from which the participants were
            removed.
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul></li>the\
            \ userIds passed as parameter are not provided in the correct format</li><li>\
            \ or an valid email address</li><li>or one or more of the user do not\
            \ exist</li><li>the conversation does not exist</li><li>the conversation\
            \ is not of type COMMUNITY</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MANAGE_CONVERSATIONS
      summary: Removes participants from a community
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
    post:
      description: |-
        Adds one or more participants to the given community. This operation can only be performed by a user who is already a member of the community.
        OauthScopes: WRITE_CONVERSATIONS, MANAGE_CONVERSATIONS
      operationId: addParticipantCommunity
      parameters:
      - description: The ID of the conversation to which the participant has to be
          added.
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/addParticipantCommunity'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Gets the conversation object to which the participants were
            added.
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ userIds passed as parameter are not provided in the correct format</li><li>\
            \ or an valid email address</li><li>or one or more of the user do not\
            \ exist</li><li>the conversation does not exist</li><li>the conversation\
            \ is not of type COMMUNITY</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MANAGE_CONVERSATIONS
      summary: Adds participants to a community
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /conversations/conversationdetails:
    get:
      description: |-
        Gets the conference details of the given conversations. Conference details include the URL, which is used to join the conference through a web or mobile application, as well as the dial-in phone numbers and conference PIN, which are used to join the conference by phone.
        OauthScopes: READ_CONVERSATIONS
      operationId: getJoinDetailsMultiple
      parameters:
      - description: An array of IDs of the conversations for which the join details
          should be returned
        explode: true
        in: query
        name: convIds
        required: true
        schema:
          items:
            maxLength: 2048
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConversationDetails'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ConversationDetails'
                type: array
          description: The join details.
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Gets the conference details for multiple conversations
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/direct:
    get:
      description: |-
        Checks if a 1-to-1 conversation between the authenticated user and the user with the provided userId exists.
        OauthScopes: READ_CONVERSATIONS
      operationId: getDirectConversation
      parameters:
      - description: "The participant that will be part of this conversation together\
          \ with the creator, specified by the Circuit user ID or the unique email\
          \ address"
        explode: true
        in: query
        name: participant
        required: true
        schema:
          maxLength: 2048
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: The conversation was found and can be accessed via the conversation
            ID
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ data format of the passed user does not match either a UUID (user primary\
            \ key)</li><li> or an valid email address</li><li>or the user does not\
            \ exist</li><li>or the user is the same who initiates the request</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Checks for a 1-to-1 conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
    post:
      description: |-
        Creates a 1-to-1 conversation between the authenticated user and the user with the provided userId. In case there is already an existing 1-to-1 conversation between these users, the endpoint returns the existing conversation.
        OauthScopes: WRITE_CONVERSATIONS, MANAGE_CONVERSATIONS
      operationId: createDirectConversation
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createDirectConversation_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: The conversation was created successfully and can be accessed
            via the conversation ID
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ data format of the passed user does not match either a UUID (user primary\
            \ key)</li><li> or an valid email address</li><li>or the user does not\
            \ exist</li><li>or the user is the same who initiates the request</li></ul>"
        "401":
          description: The authentication was not successful
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: A conversation already exists. The response contains this conversation.
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MANAGE_CONVERSATIONS
      summary: Creates a 1-to-1 conversation
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /conversations/favorite:
    get:
      description: |-
        Gets the conversationIds which are marked as favorites.
        OauthScopes: READ_CONVERSATIONS
      operationId: getFavoriteConversations
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/String'
                type: array
          description: A list of marked conversations or an empty response.
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the user is no participant of the\
            \ conversation</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Gets favorite conversations
      tags:
      - Conversations
      x-accepts:
      - '*/*'
  /conversations/group:
    post:
      description: |-
        Creates a group conversation between three or more users. The authenticated user is directly added to this conversation.
        OauthScopes: WRITE_CONVERSATIONS, MANAGE_CONVERSATIONS
      operationId: createGroupConversation
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createGroupConversation_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: The conversation was created successfully and can be accessed
            via the conversation ID
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ userIds passed as parameter are not provided in the correct format</li><li>\
            \ or an valid email address</li><li>or one or more of the user do not\
            \ exist</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MANAGE_CONVERSATIONS
      summary: Creates a group conversation
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /conversations/group/{convId}:
    put:
      description: |-
        Updates the information of the given group conversation.
        OauthScopes: WRITE_CONVERSATIONS, MANAGE_CONVERSATIONS
      operationId: updateConversationGroup
      parameters:
      - description: The ID of the conversation which should be updated
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/updateConversationGroup_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Gets the updated conversation object with the new topic
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the conversation is not of type\
            \ GROUP</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MANAGE_CONVERSATIONS
      summary: Updates the information of a group conversation
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /conversations/group/{convId}/participants:
    delete:
      description: |-
        Removes one or more participants from the given group conversation. The last participant of a group conversation cannot be removed. This operation can only be performed on behalf of a user who is already a member of the conversation.
        OauthScopes: WRITE_CONVERSATIONS, MANAGE_CONVERSATIONS
      operationId: removeParticipantGroup
      parameters:
      - description: The ID of the conversation from which the participant have to
          be removed
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The IDs or the unique email addresses of the Circuit users that
          have to be removed
        explode: true
        in: query
        name: participants
        required: true
        schema:
          items:
            maxLength: 6500
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Gets the conversation object from which the participants were
            removed.
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ userIds passed as parameter are not provided in the correct format</li><li>\
            \ or an valid email address</li><li>or one or more of the user do not\
            \ exist</li><li>the conversation does not exist</li><li>the conversation\
            \ is not of type GROUP</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MANAGE_CONVERSATIONS
      summary: Removes participants from a group conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
    post:
      description: |-
        Adds one or more participants to the given group conversation. This operation can only be performed by a user who is already a member of the conversation.
        OauthScopes: WRITE_CONVERSATIONS, MANAGE_CONVERSATIONS
      operationId: addParticipantGroup
      parameters:
      - description: The ID of the conversation to which the participant has to be
          added.
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/addParticipantCommunity'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Gets the conversation object to which the participants were
            added.
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ userIds passed as parameter are not provided in the correct format</li><li>\
            \ or an valid email address</li><li>or one or more of the user do not\
            \ exist</li><li>the conversation does not exist</li><li>the conversation\
            \ is not of type GROUP</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MANAGE_CONVERSATIONS
      summary: Adds participants to a group conversation
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /conversations/label/{labelId}:
    get:
      description: "Returns conversations with matching labels and paginated \nOauthScopes:\
        \ READ_CONVERSATIONS"
      operationId: getConversationsByLabel
      parameters:
      - description: Id of the label to look for
        explode: false
        in: path
        name: labelId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: Pointer to the next page of conversations if there are any
        explode: true
        in: query
        name: nextPagePointer
        required: false
        schema:
          maxLength: 2048
          type: string
        style: form
      - description: Numbers of max conversations per page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationsPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConversationsPage'
          description: Returns a list of conversations that are tagged with a certain
            label
        "400":
          description: he request cannot be fulfilled due to bad syntax
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Returns conversations with a certain label
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/messages/flag:
    get:
      description: |-
        Gets a list of all the messages the authenticated user has flagged. This endpoint should be used carefully in case where the authenticated user has a lot of flagged messages.
        OauthScopes: READ_CONVERSATIONS
      operationId: getFlagItemConv
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ConversationItem'
                type: array
          description: Gets the list of flagged items
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Gets a list of the flagged messages
      tags:
      - Conversations
      x-accepts:
      - '*/*'
  /conversations/messages/{itemId}:
    get:
      description: |-
        Returns a text item for a given item id
        OauthScopes: READ_CONVERSATIONS
      operationId: getSingleConversationtem
      parameters:
      - description: The ID of the item that will be returned
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConversationItem'
          description: The item was successful returned
        "400":
          description: The item with the given id was not found
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Returns a text item
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/moderate/{convId}:
    post:
      description: |-
        Set a conversation in moderatd mode. Moderators can be added and removed
        OauthScopes: WRITE_CONVERSATIONS, MODERATE_CONVERSATIONS
      operationId: moderateConversation
      parameters:
      - description: The ID of the conversation which will be set to moderated state
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          description: The conversation is in moderated mode
        "401":
          description: Permission denied
        "403":
          description: Forbidden to edit this conversation
        "500":
          description: Internal server error
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MODERATE_CONVERSATIONS
      summary: Set conversation moderated
      tags:
      - Conversations
      x-accepts:
      - application/json
  /conversations/resolveinvitetoken:
    get:
      description: |-
        Resolves an invite token to a conversation
        OauthScopes: READ_CONVERSATIONS
      operationId: resolveInvitationToken
      parameters:
      - description: The invite token to resolve
        explode: true
        in: query
        name: token
        required: true
        schema:
          maxLength: 2048
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Returns the conversation object that belongs to the invite
            token if you are member of the conversation
        "400":
          description: In case no invitation token was send
        "401":
          description: The authentication was not successful
        "404":
          description: 'If the token does not exist or you are not member of the conversation '
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Resolves an invite token to a conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/search:
    get:
      description: |-
        Performs a search for conversation content. A maximum of 100 conversations is returned. If you hit this limit you should refine the search term.
        OauthScopes: READ_CONVERSATIONS
      operationId: searchConversations
      parameters:
      - description: The search term
        explode: true
        in: query
        name: term
        required: true
        schema:
          maxLength: 2048
          type: string
        style: form
      - description: Optional parameter to specify if a deep or normal search is executed.
          In a deep search all matching item IDs inside every conversation are returned
          (up to a maximum of 100). For a normal search only the conversation IDs
          are returned. Default is a normal search (without item IDs).
        explode: true
        in: query
        name: includeItemIds
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "The search scope, FILES||PEOPLE||MEMBERS||MESSAGES||SENTBY||ALL||CONVERSATIONS||LABEL||FILTER"
        explode: true
        in: query
        name: scope
        required: false
        schema:
          default: ALL
          enum:
          - FILES
          - PEOPLE
          - MEMBERS
          - MESSAGES
          - SENTBY
          - ALL
          - CONVERSATIONS
          - LABEL
          - FILTER
          maxLength: 2048
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationSearchResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConversationSearchResult'
          description: A list of conversations and items that match the term
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ user is no participant of the conversation</li><li>a field constraint\
            \ is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Performs a conversation search
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/unmoderate/{convId}:
    post:
      description: |-
        Set a conversation to unmoderatd mode
        OauthScopes: WRITE_CONVERSATIONS, MODERATE_CONVERSATIONS
      operationId: unmoderateConversation
      parameters:
      - description: The ID of the conversation which will be set to unmoderated state
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          description: The conversation is in unmoderated mode
        "401":
          description: Forbidden to edit this conversation
        "403":
          description: Permission denied
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MODERATE_CONVERSATIONS
      summary: Set conversation unmoderated
      tags:
      - Conversations
      x-accepts:
      - application/json
  /conversations/{convId}:
    get:
      description: |-
        Gets a conversation based on the given ID.
        OauthScopes: READ_CONVERSATIONS
      operationId: getConversationbyId
      parameters:
      - description: The ID of the conversation which should be updated
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Gets the conversation object
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Gets a conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/{convId}/archive:
    delete:
      description: |-
        The conversation will no longer be archived but active again
        OauthScopes: WRITE_CONVERSATIONS
      operationId: undoArchiveConversation
      parameters:
      - description: The ID of the conversation which will be unmarked as muted
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          description: The conversation was successfully unmarked
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the user is no participant of the\
            \ conversation</li><li>a field constraint is violated</li><li>the conversation\
            \ was not marked before</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
      summary: Unmute conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
    post:
      description: |-
        Archives a conversation by muting it
        OauthScopes: WRITE_CONVERSATIONS
      operationId: archiveConversation
      parameters:
      - description: The ID of the conversation which will be archived
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          description: The conversation was successfully archived
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the user is no participant of the\
            \ conversation</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
      summary: Archives conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
  /conversations/{convId}/conversationdetails:
    get:
      description: |-
        Gets the conference details of the given conversation. Conference details include the URL, which is used to join the conference through a web or mobile application, as well as the dial-in phone numbers and conference PIN, which are used to join the conference by phone.
        OauthScopes: READ_CONVERSATIONS
      operationId: getJoinDetails
      parameters:
      - description: The ID of the conversation for which the join details should
          be returned
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConversationDetails'
          description: The join details.
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Gets the conference details of a conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/{convId}/favorite:
    delete:
      description: |-
        Removes a conversation from favorites. Favorites can be displayed in a separate side tab inside of the Circuit client to have a better overview of important conversations.
        OauthScopes: WRITE_CONVERSATIONS
      operationId: deleteFavorite
      parameters:
      - description: The ID of the conversation which will be unmarked as favorite
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          description: The conversation was successfully unmarked
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the user is no participant of the\
            \ conversation</li><li>a field constraint is violated</li><li>the conversation\
            \ was not marked before</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
      summary: Removes a conversation from favorites
      tags:
      - Conversations
      x-accepts:
      - application/json
    post:
      description: |-
        Adds a conversation to the favorites. Favorites can be displayed in a separate side tab inside of the Circuit client to have a better overview of important conversations.
        OauthScopes: WRITE_CONVERSATIONS
      operationId: addFavorite
      parameters:
      - description: The ID of the conversation which will be marked as favorite
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          description: The conversation was successfully marked
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the user is no participant of the\
            \ conversation</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
      summary: Adds a conversation to the favorites
      tags:
      - Conversations
      x-accepts:
      - application/json
  /conversations/{convId}/items:
    get:
      description: |-
        Gets a list of conversation items.
        OauthScopes: READ_CONVERSATIONS
      operationId: getConversationItems
      parameters:
      - description: The ID of the conversation to which the items belong
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: "The modification time of the item in UTC format. During the\
          \ query the items before (default) or after this timestamps are returned.\
          \ In case no timestamp is specified the current server time in UTC is used,\
          \ i.e. the last 25 modified items are returned"
        explode: true
        in: query
        name: modTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The direction of the search based on the modification time. Valid
          values are either BEFORE (default) or AFTER
        explode: true
        in: query
        name: direction
        required: false
        schema:
          default: BEFORE
          enum:
          - BEFORE
          - AFTER
          maxLength: 2048
          type: string
        style: form
      - description: The maximum number of returned results (default 25). The maximum
          allowed value is 100.
        explode: true
        in: query
        name: results
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConversationItem'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ConversationItem'
                type: array
          description: The matching conversation items
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>a\
            \ field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Gets a list of conversation items
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/{convId}/label:
    post:
      description: |-
        Adds a label to a conversation, you can search and organize your conversations based on these labels
        OauthScopes: WRITE_CONVERSATIONS, ORGANIZE_CONVERSATIONS
      operationId: assignLabel
      parameters:
      - description: The ID of the conversation to which the label is added
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/assignLabel_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
            application/xml:
              schema:
                $ref: '#/components/schemas/Label'
          description: The label was successfully added
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>a\
            \ field constraint is violated</li><li>you reached the maximum of 250\
            \ labels</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - ORGANIZE_CONVERSATIONS
      summary: Adds a label to a conversation
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /conversations/{convId}/label/{labelId}:
    delete:
      description: |-
        Removes a label from a conversation, you can search and organize your conversations based on these labels
        OauthScopes: WRITE_CONVERSATIONS
      operationId: unassignLabel
      parameters:
      - description: The ID of the conversation from which the label is removed
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: 'The actual label '
        explode: false
        in: path
        name: labelId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
            application/xml:
              schema:
                $ref: '#/components/schemas/Label'
          description: The label was successfully removed
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>a\
            \ field constraint is violated</li><li>the label was not assigned to the\
            \ conversation</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
      summary: Removes a label from a conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/{convId}/messages:
    post:
      description: |-
        Adds a message to the given conversation. This operation can be only performed on behalf of a user who is already a member of the conversation.
        OauthScopes: WRITE_CONVERSATIONS, CREATE_CONVERSATIONS_CONTENT
      operationId: addTextItem
      parameters:
      - description: The ID of the conversation to which the new item has to be added
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/addTextItem_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConversationItem'
          description: Gets the new text item object
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the user is no participant of the\
            \ conversation</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - CREATE_CONVERSATIONS_CONTENT
      summary: Adds a message to a conversation
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /conversations/{convId}/messages/flag:
    get:
      description: |-
        Gets a list of all the flagged messages in the given conversation.
        OauthScopes: READ_CONVERSATIONS, ORGANIZE_CONVERSATIONS
      operationId: getFlagItem
      parameters:
      - description: The ID of the conversation to which the item belongs
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConversationItem'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ConversationItem'
                type: array
          description: Gets the list of flagged items
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
        - ORGANIZE_CONVERSATIONS
      summary: Gets a list of the flagged messages of a conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/{convId}/messages/{itemId}:
    delete:
      description: |-
        Marks a message in the given conversation as deleted. Deleted messages are still part of the conversation, but their content is no more visible. This operation can only be performed on behalf of the message's creator.
        OauthScopes: WRITE_CONVERSATIONS, DELETE_CONVERSATIONS_CONTENT
      operationId: deleteTextItem
      parameters:
      - description: The ID of the conversation to which the item belongs
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The ID of the item that will be deleted
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConversationItem'
          description: Gets the deleted text item object
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the item does not exist</li><li>the\
            \ user is no participant of the conversation</li><li>a field constraint\
            \ is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - DELETE_CONVERSATIONS_CONTENT
      summary: Deletes a message from a conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
    post:
      description: |-
        Adds a message to the existing item. The added message will be a child item of the message with the given itemId.
        OauthScopes: WRITE_CONVERSATIONS
      operationId: addTextItemWithParent
      parameters:
      - description: The ID of the conversation to which the new item has to be added
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The ID of the item to which the new one has to be added as child
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/addTextItemWithParent_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConversationItem'
          description: Gets the new text item object
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the parent item does not exist</li><li>the\
            \ user is no participant of the conversation</li><li>a field constraint\
            \ is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
      summary: Adds a message to an item
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
    put:
      description: |-
        Updates the content or subject of the existing message. Only the creator of the message is allowed to perform this operation.
        OauthScopes: WRITE_CONVERSATIONS, UPDATE_CONVERSATION_CONTENT
      operationId: updateTextItem
      parameters:
      - description: The ID of the conversation to which the item belongs
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The ID of the item to update
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/updateTextItem_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConversationItem'
          description: Gets the modified text item object
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the user is no participant of the\
            \ conversation</li><li>a field constraint is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - UPDATE_CONVERSATION_CONTENT
      summary: Updates a message
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /conversations/{convId}/messages/{itemId}/flag:
    delete:
      description: |-
        Removes the flag from a given message that is posted to the given conversation.
        OauthScopes: WRITE_CONVERSATIONS, ORGANIZE_CONVERSATIONS
      operationId: unFlagItem
      parameters:
      - description: The ID of the conversation to which the item belongs
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The ID of the item that will be flagged
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          description: The flagged state of item was successfully removed
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the item does not exist</li><li>the\
            \ user is no participant of the conversation</li><li>a field constraint\
            \ is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - ORGANIZE_CONVERSATIONS
      summary: Removes the flag from a message
      tags:
      - Conversations
      x-accepts:
      - application/json
    post:
      description: |-
        Adds a flag to the given message in the given conversation.
        OauthScopes: WRITE_CONVERSATIONS, ORGANIZE_CONVERSATIONS
      operationId: flagItem
      parameters:
      - description: The ID of the conversation to which the item belongs
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The ID of the item that will be flagged
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/flagItem_request'
      responses:
        "200":
          description: The item was successful flagged
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the item does not exist</li><li>the\
            \ user is no participant of the conversation</li><li>a field constraint\
            \ is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - ORGANIZE_CONVERSATIONS
      summary: Adds a flag to a message in a conversation
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /conversations/{convId}/messages/{itemId}/like:
    delete:
      description: |-
        Removes a "like" from the given message in the given conversation
        OauthScopes: WRITE_CONVERSATIONS, UPDATE_CONVERSATION_CONTENT
      operationId: unlikeItem
      parameters:
      - description: The ID of the conversation to which the item belongs
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The ID of the item that will be unliked
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          description: The item was successful unliked
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the item does not exist</li><li>the\
            \ user is no participant of the conversation</li><li>a field constraint\
            \ is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - UPDATE_CONVERSATION_CONTENT
      summary: Removes a "like" from a message
      tags:
      - Conversations
      x-accepts:
      - application/json
    post:
      description: |-
        Adds a "like" to the given message in the given conversation
        OauthScopes: WRITE_CONVERSATIONS, UPDATE_CONVERSATION_CONTENT
      operationId: likeItem
      parameters:
      - description: The ID of the conversation to which the item belongs
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The ID of the item that will be liked
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          description: The item was successful liked
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ conversation does not exist</li><li>the item does not exist</li><li>the\
            \ user is no participant of the conversation</li><li>a field constraint\
            \ is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - UPDATE_CONVERSATION_CONTENT
      summary: Adds a "like" to a message
      tags:
      - Conversations
      x-accepts:
      - application/json
  /conversations/{convId}/moderators:
    delete:
      description: |-
        Removes a list of moderators from a conversation
        OauthScopes: WRITE_CONVERSATIONS, MODERATE_CONVERSATIONS
      operationId: removeModerators
      parameters:
      - description: The ID of the conversation where the moderators are removed
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/removeModerators_request'
        required: true
      responses:
        "200":
          description: The moderators were successfully removed
        "400":
          description: Failure in moderators list
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MODERATE_CONVERSATIONS
      summary: Remove moderators
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    post:
      description: |-
        Adds a list of moderators to a conversation
        OauthScopes: WRITE_CONVERSATIONS, MANAGE_CONVERSATIONS
      operationId: addModerators
      parameters:
      - description: The ID of the conversation to which the moderators are added
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/addModerators_request'
        required: true
      responses:
        "200":
          description: The moderators were successfully added
        "400":
          description: Error reading list of moderators to add
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_CONVERSATIONS
        - MANAGE_CONVERSATIONS
      summary: Add moderators
      tags:
      - Conversations
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
  /conversations/{convId}/participants:
    get:
      description: |-
        Performs a search for participants. The max number of participants is configurable. If more participants are available a search pointer is returned for consecutive calls.
        OauthScopes: READ_CONVERSATIONS
      operationId: getParticipantsByConvId
      parameters:
      - description: The id of the conversation the participants are searched for.
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The page size of the hit list
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          format: int32
          maximum: 25
          minimum: 1
          type: number
        style: form
      - description: Part of name to filter the results
        explode: true
        in: query
        name: name
        required: false
        schema:
          maxLength: 2048
          type: string
        style: form
      - description: Type of participant to filter the results
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: REGULAR
          enum:
          - REGULAR
          - MODERATOR
          - GUEST
          - FORMER
          - BOT
          maxLength: 2048
          type: string
        style: form
      - description: Pointer for paged output. Add to consecutive request to get next
          page
        explode: true
        in: query
        name: searchPointer
        required: false
        schema:
          maxLength: 2048
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConversationParticipantsList'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ConversationParticipantsList'
                type: array
          description: A list of conversations and items that match the term
        "400":
          description: "The request cannot be fulfilled due to bad syntax: <ul><li>the\
            \ user is no participant of the conversation</li><li>a field constraint\
            \ is violated</li></ul>"
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Performs a list of participants
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/{convId}/pins:
    get:
      description: |-
        Returns pinned topics of a conversation
        OauthScopes: READ_CONVERSATIONS
      operationId: getPinnedConversations
      parameters:
      - description: ID of the conversation
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PinnedTopic'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/PinnedTopic'
                type: array
          description: The pinned topics
        "400":
          description: The request cannot be fulfilled due to bad syntax
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Returns pinned topics of a conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /conversations/{convId}/pins/{itemId}:
    delete:
      description: |-
        Unpins a topic of a conversation
        OauthScopes: READ_CONVERSATIONS
      operationId: unPinAConversation
      parameters:
      - description: The ID of the conversation
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The ID of the topic
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Returns the pinned conversation conversation after unpinning
            a topic
        "400":
          description: The request cannot be fulfilled due to bad syntax
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Unpins a topic of a conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
    post:
      description: |-
        Pins a topic of a conversation
        OauthScopes: READ_CONVERSATIONS
      operationId: pinAConversation
      parameters:
      - description: The ID of the conversation
        explode: false
        in: path
        name: convId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      - description: The ID of the topic
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Returns the pinned conversation conversation after pinning
            a topic
        "400":
          description: The request cannot be fulfilled due to bad syntax
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_CONVERSATIONS
      summary: Pins a topic of a conversation
      tags:
      - Conversations
      x-accepts:
      - application/json
      - application/xml
  /rtc/sessions:
    get:
      description: |-
        Gets a list of active RTCsessions
        OauthScopes: CALLS
      operationId: getActiveSessions
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Label'
          description: The list of active RTCsessions was returned
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - CALLS
      summary: Gets a list of active sessions
      tags:
      - RTC
      x-accepts:
      - '*/*'
  /spaces:
    get:
      description: |-
        Get the spaces
        OauthScopes: READ_SPACE
      operationId: getSpaces
      parameters:
      - description: a beautiful timestamp
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: the number of results you want
        explode: true
        in: query
        name: numberOfResults
        required: false
        schema:
          format: int32
          maximum: 255
          minimum: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpacesResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetSpacesResult'
          description: Spaces successfully retrieved.
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_SPACE
      summary: Get the spaces
      tags:
      - Spaces
      x-accepts:
      - application/json
      - application/xml
  /spaces/create:
    post:
      description: |-
        Create a space
        OauthScopes: WRITE_SPACE, MANAGE_SPACE, CREATE_SPACE_CONTENT
      operationId: createSpace
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createSpace_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantSpaceWrapper'
            application/xml:
              schema:
                $ref: '#/components/schemas/ParticipantSpaceWrapper'
          description: Space successfully created.
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_SPACE
        - MANAGE_SPACE
        - CREATE_SPACE_CONTENT
      summary: Create a space
      tags:
      - Spaces
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/xml
  /spaces/directory:
    get:
      description: |-
        Get the directory by a search query in ordered way
        OauthScopes: READ_SPACE
      operationId: getDirectory
      parameters:
      - description: "sort the spaces by LAST_CONTENT, NAME, NUMBER_OF_USERS or CREATION_DATE"
        explode: true
        in: query
        name: sortBy
        required: true
        schema:
          default: LAST_CONTENT
          enum:
          - LAST_CONTENT
          - NAME
          - NUMBER_OF_USERS
          - CREATION_DATE
          maxLength: 2048
          type: string
        style: form
      - description: ascending or descending
        explode: true
        in: query
        name: sortOrder
        required: true
        schema:
          default: ASCENDING
          enum:
          - ASCENDING
          - DESCENDING
          maxLength: 2048
          type: string
        style: form
      - description: "filter for spaces (JOINED, REQUESTED, OPEN, CLOSED or NOT_JOINED_REQUESTED)"
        explode: true
        in: query
        name: filter
        required: true
        schema:
          default: NONE
          enum:
          - NONE
          - JOINED
          - REQUESTED
          - OPEN
          - CLOSED
          - NOT_JOINED_REQUESTED
          maxLength: 2048
          type: string
        style: form
      - description: some sort of query
        explode: true
        in: query
        name: query
        required: false
        schema:
          maxLength: 2048
          type: string
        style: form
      - description: "page pointer, start with nothing and for next query use returned\
          \ pointer"
        explode: true
        in: query
        name: pagePointer
        required: false
        schema:
          maxLength: 2048
          type: string
        style: form
      - description: "number of results to return, 25 by default."
        explode: true
        in: query
        name: numberOfResults
        required: false
        schema:
          default: 25
          format: int32
          maximum: 255
          minimum: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/DirectoryResult'
          description: Spaces successfully retrieved.
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_SPACE
      summary: Get the directory
      tags:
      - Spaces
      x-accepts:
      - application/json
      - application/xml
  /spaces/exists/{name}:
    get:
      description: |-
        Find out if a space name already exists for non-secret spaces.
        OauthScopes: READ_SPACE
      operationId: existsSpaceName
      parameters:
      - description: The name to check for existence.
        explode: false
        in: path
        name: name
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          description: "Check performed successfully, returning true if found, false\
            \ if not found."
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_SPACE
      summary: Space name exists
      tags:
      - Spaces
      x-accepts:
      - application/json
  /spaces/flag/{itemId}:
    put:
      description: |-
        flag a space item
        OauthScopes: WRITE_SPACE, UPDATE_SPACE_CONTENT
      operationId: flagSpaceItem
      parameters:
      - description: the id of the item you want to flag
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
          description: Space item successfully flagged
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - WRITE_SPACE
        - UPDATE_SPACE_CONTENT
      summary: flag a space item
      tags:
      - Spaces
      x-accepts:
      - application/json
  /spaces/flagged:
    get:
      description: |-
        Get flagged items
        OauthScopes: READ_SPACE
      operationId: getFlaggedItems
      parameters:
      - description: before or after the time stamp
        explode: true
        in: query
        name: searchDirection
        required: true
        schema:
          default: BEFORE
          enum:
          - BEFORE
          - AFTER
          maxLength: 2048
          type: string
        style: form
      - description: The timestamp according to which you want to retrieve the flagged
          items
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: The searchpointer for the search (initially not set).
        explode: true
        in: query
        name: searchPointer
        required: false
        schema:
          maxLength: 2048
          type: string
        style: form
      - description: The number of results you want to retrieve.
        explode: true
        in: query
        name: numberOfResults
        required: false
        schema:
          default: 25
          format: int32
          maximum: 255
          minimum: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedItemsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/FlaggedItemsResult'
          description: Flagged items successfully retrieved
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_SPACE
      summary: Get flagged items
      tags:
      - Spaces
      x-accepts:
      - application/json
      - application/xml
  /spaces/ids:
    get:
      description: |-
        Get the spaces by their ids
        OauthScopes: READ_SPACE
      operationId: getSpacesByIds
      parameters:
      - description: an array of ids
        explode: true
        in: query
        name: ids
        required: true
        schema:
          items:
            maxLength: 2048
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpacesResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/GetSpacesResult'
          description: Spaces successfully retrieved.
        "401":
          description: The authentication was not successful
        "500":
          description: The server encountered an internal error and the operation
            could not be completed.
        "503":
          description: The server is currently unable to receive requests.
      security:
      - oauth:
        - ALL
        - READ_SPACE
      summary: Get the spaces by their ids
      tags:
      - Spaces
      x-accepts:
      - application/json
      - application/xml
  /spaces/item/{itemId}:
    delete:
      description: |-
        deletes a space item
        OauthScopes: WRITE_SPACE, DELETE_SPACE_CONTENT
      operationId: deleteSpaceItem
      parameters:
      - description: the id of the spaceItem
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          maxLength: 2048
          type: string
        style: simple
      responses:
        "200":
[...]
