openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/pricings.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: security-pricings
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings:
    get:
      description: Security pricing configurations in the subscription
      operationId: pricings_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
                  name: default
                  properties:
                    pricingTier: Standard
                  type: Microsoft.Security/pricings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}:
    get:
      description: Security pricing configuration in the subscriptionSecurity pricing
        configuration in the subscription
      operationId: pricings_get_subscription_pricing
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: name of the pricing configuration
        in: path
        name: pricingName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            pricingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
                name: default
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
    put:
      description: Security pricing configuration in the subscription
      operationId: pricings_update_subscription_pricing
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: name of the pricing configuration
        in: path
        name: pricing_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing'
        description: Pricing object
        required: true
        x-ms-parameter-location: method
        x-body-name: pricing
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Update pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            pricing:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
              name: default
              properties:
                pricingTier: Standard
              type: Microsoft.Security/pricings
            pricingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
                name: default
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
      x-codegen-request-body-name: pricing
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings:
    get:
      description: Security pricing configurations in the resource group
      operationId: pricings_list_by_resource_group
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg
                  name: myRg
                  properties:
                    pricingTier: Standard
                  type: Microsoft.Security/pricings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings/{pricingName}:
    get:
      description: Security pricing configuration in the resource group
      operationId: pricings_get_resource_group_pricing
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: name of the pricing configuration
        in: path
        name: pricing_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            pricingName: myRg
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg
                name: myRg
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
    put:
      description: Security pricing configuration in the resource group
      operationId: pricings_create_or_update_resource_group_pricing
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: name of the pricing configuration
        in: path
        name: pricing_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing'
        description: Pricing object
        required: true
        x-ms-parameter-location: method
        x-body-name: pricing
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Update pricings on resource group:
          parameters:
            api-version: 2017-08-01-preview
            pricing:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/pricings/myRg
              name: myRg
              properties:
                pricingTier: Standard
              type: Microsoft.Security/pricings
            pricingName: myRg
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg
                name: myRg
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
      x-codegen-request-body-name: pricing
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
components:
  parameters:
    PricingName:
      description: name of the pricing configuration
      in: path
      name: pricingName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    Pricing:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Pricing'
      description: Pricing object
      required: true
      x-ms-parameter-location: method
      x-body-name: pricing
  schemas:
    Pricing:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Pricing tier will be applied for the scope based on the resource
        ID
      example:
        properties:
          pricingTier: Free
      properties:
        properties:
          $ref: '#/components/schemas/PricingProperties'
      title: Pricing
    PricingList:
      description: List of pricing configurations response
      example:
        value:
        - properties:
            pricingTier: Free
        - properties:
            pricingTier: Free
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of pricing configurations
          items:
            $ref: '#/components/schemas/Pricing'
          title: value
          type: array
      required:
      - value
      title: PricingList
      type: object
    PricingProperties:
      description: Pricing data
      example:
        pricingTier: Free
      properties:
        pricingTier:
          description: Pricing tier type
          enum:
          - Free
          - Standard
          title: pricingTier
          type: string
          x-ms-enum:
            modelAsString: true
            name: pricingTier
            values:
            - description: Get free Azure security center experience with basic security
                features
              value: Free
            - description: Get the standard Azure security center experience with
                advanced security features
              value: Standard
      required:
      - pricingTier
      title: PricingProperties
      type: object
    Pricings_List_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: Pricings_List_default_response_error
      type: object
      x-ms-external: true
    Pricings_List_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Pricings_List_default_response_error'
      title: Pricings_List_default_response
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
