openapi: 3.0.1
info:
  description: Use these API to manage Azure Relay resources through Azure Resources
    Manager.
  title: Relay
  version: 2016-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: RelayManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/relay/resource-manager/Microsoft.Relay/stable/2016-07-01/relay.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: relay
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Relay/operations:
    get:
      description: Lists all of the available Relay REST API operations.
      operationId: Operations_List
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Operations
      x-ms-examples:
        RelayOperationsList:
          parameters:
            api-version: 2016-07-01
          responses:
            "200":
              body:
                value:
                - display:
                    operation: Get namespace availability.
                    provider: Microsoft Azure Relay
                    resource: Non Resource Operation
                  name: Microsoft.Relay/checkNamespaceAvailability/action
                - display:
                    operation: Registers the Relay Resource Provider
                    provider: Microsoft Azure Relay
                    resource: Relay and Hybridconnection Resource Provider
                  name: Microsoft.Relay/register/action
                - display:
                    operation: 'Create Or Update Namespace '
                    provider: Microsoft Azure Relay
                    resource: Namespace
                  name: Microsoft.Relay/namespaces/write
                - display:
                    operation: Get Namespace Resource
                    provider: Microsoft Azure Relay
                    resource: Namespace
                  name: Microsoft.Relay/namespaces/read
                - display:
                    operation: Delete Namespace
                    provider: Microsoft Azure Relay
                    resource: Namespace
                  name: Microsoft.Relay/namespaces/Delete
                - display:
                    operation: Create or Update Namespace Authorization Rules
                    provider: Microsoft Azure Relay
                    resource: AuthorizationRules
                  name: Microsoft.Relay/namespaces/authorizationRules/write
                - display:
                    operation: Delete Namespace Authorization Rule
                    provider: Microsoft Azure Relay
                    resource: AuthorizationRules
                  name: Microsoft.Relay/namespaces/authorizationRules/delete
                - display:
                    operation: Get Namespace Listkeys
                    provider: Microsoft Azure Relay
                    resource: AuthorizationRules
                  name: Microsoft.Relay/namespaces/authorizationRules/listkeys/action
                - display:
                    operation: Create or Update HybridConnection
                    provider: Microsoft Azure Relay
                    resource: HybridConnection
                  name: Microsoft.Relay/namespaces/HybridConnections/write
                - display:
                    operation: Get HybridConnection
                    provider: Microsoft Azure Relay
                    resource: HybridConnection
                  name: Microsoft.Relay/namespaces/HybridConnections/read
                - display:
                    operation: Delete HybridConnection
                    provider: Microsoft Azure Relay
                    resource: HybridConnection
                  name: Microsoft.Relay/namespaces/HybridConnections/Delete
                - display:
                    operation: Create or Update HybridConnection Authorization Rule
                    provider: Microsoft Azure Relay
                    resource: HybridConnection AuthorizationRules
                  name: Microsoft.Relay/namespaces/HybridConnections/authorizationRules/write
                - display:
                    operation: Delete HybridConnection Authorization Rules
                    provider: Microsoft Azure Relay
                    resource: HybridConnection AuthorizationRules
                  name: Microsoft.Relay/namespaces/HybridConnections/authorizationRules/delete
                - display:
                    operation: List HybridConnection keys
                    provider: Microsoft Azure Relay
                    resource: HybridConnection AuthorizationRules
                  name: Microsoft.Relay/namespaces/HybridConnections/authorizationRules/listkeys/action
                - display:
                    operation: Create or Update WcfRelay
                    provider: Microsoft Azure Relay
                    resource: WcfRelay
                  name: Microsoft.Relay/namespaces/WcfRelays/write
                - display:
                    operation: Get WcfRelay
                    provider: Microsoft Azure Relay
                    resource: WcfRelay
                  name: Microsoft.Relay/namespaces/WcfRelays/read
                - display:
                    operation: Delete WcfRelay
                    provider: Microsoft Azure Relay
                    resource: WcfRelay
                  name: Microsoft.Relay/namespaces/WcfRelays/Delete
                - display:
                    operation: Create or Update WcfRelay Authorization Rule
                    provider: Microsoft Azure Relay
                    resource: WcfRelay AuthorizationRules
                  name: Microsoft.Relay/namespaces/WcfRelays/authorizationRules/write
                - display:
                    operation: Delete WcfRelay Authorization Rules
                    provider: Microsoft Azure Relay
                    resource: WcfRelay AuthorizationRules
                  name: Microsoft.Relay/namespaces/WcfRelays/authorizationRules/delete
                - display:
                    operation: List WcfRelay keys
                    provider: Microsoft Azure Relay
                    resource: WcfRelay AuthorizationRules
                  name: Microsoft.Relay/namespaces/WcfRelays/authorizationRules/listkeys/action
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Relay/CheckNameAvailability:
    post:
      description: Check the give namespace name availability.
      operationId: Namespaces_CheckNameAvailability
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailability'
        description: Parameters to check availability of the given namespace name
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: check availability returned successfully.
      tags:
      - Namespaces
      x-ms-examples:
        RelayCheckNameAvailability:
          parameters:
            api-version: 2016-07-01
            parameters:
              name: sdk-Namespace1321
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                message: ""
                nameAvailable: true
                reason: None
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Relay/Namespaces:
    get:
      description: Lists all the available namespaces within the subscription irrespective
        of the resourceGroups.
      operationId: Namespaces_List
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayNamespaceListResult'
          description: Namespaces returned successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceListBySubscription:
          parameters:
            api-version: 2016-07-01
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG1-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01
                  location: West US
                  name: sdk-RelayNamespace-01
                  properties:
                    createdAt: 2017-01-23T20:34:49.4131724Z
                    metricId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef:sdk-RelayNamespace-01
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-RelayNamespace-01.servicebus.windows.net:443/
                    updatedAt: 2017-01-23T20:34:59.4131724Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.Relay/Namespaces
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG1-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-02
                  location: West US
                  name: sdk-RelayNamespace-02
                  properties:
                    createdAt: 2017-01-23T20:34:39.4131724Z
                    metricId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef:sdk-RelayNamespace-02
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-RelayNamespace-02.servicebus.windows.net:443/
                    updatedAt: 2017-01-23T20:34:49.4131724Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.Relay/Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/Namespaces:
    get:
      description: Lists all the available namespaces within the ResourceGroup.
      operationId: Namespaces_ListByResourceGroup
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayNamespaceListResult'
          description: Namespaces by resourcegroup returned successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceListByResourceGroup:
          parameters:
            api-version: 2016-07-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01
                  location: West US
                  name: sdk-RelayNamespace-01
                  properties:
                    createdAt: 2017-01-23T20:34:49.4131724Z
                    metricId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef:sdk-RelayNamespace-01
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-RelayNamespace-01.servicebus.windows.net:443/
                    updatedAt: 2017-01-23T20:34:59.4131724Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.Relay/Namespaces
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-02
                  location: West US
                  name: sdk-RelayNamespace-02
                  properties:
                    createdAt: 2017-01-23T20:34:39.4131724Z
                    metricId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef:sdk-RelayNamespace-02
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-RelayNamespace-02.servicebus.windows.net:443/
                    updatedAt: 2017-01-23T20:34:49.4131724Z
                  sku:
                    name: Standard
                    tier: Standard
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.Relay/Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}:
    delete:
      description: Deletes an existing namespace. This operation also removes all
        associated resources under the namespace.
      operationId: Namespaces_Delete
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace delete Request succeeded
        "202":
          content: {}
          description: Namespace delete request has been accepted for processing and
            the operation will complete asynchronously.
        "204":
          content: {}
          description: "Namespace delete request has been accepted, but the Namespace\
            \ not found"
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceDelete:
          parameters:
            api-version: 2016-07-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Returns the description for the specified namespace.
      operationId: Namespaces_Get
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayNamespace'
          description: Namespace returned successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceGet:
          parameters:
            api-version: 2016-07-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01
                location: West US
                name: sdk-RelayNamespace-01
                properties:
                  createdAt: 2017-01-23T20:38:12.46Z
                  metricId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef:sdk-RelayNamespace-01
                  provisioningState: Succeeded
                  serviceBusEndpoint: https://sdk-RelayNamespace-01.servicebus.windows.net:443/
                  updatedAt: 2017-01-23T20:38:34.533Z
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Relay/Namespaces
      x-accepts:
      - application/json
    patch:
      description: "Creates or updates a namespace. Once created, this namespace's\
        \ resource manifest is immutable. This operation is idempotent."
      operationId: Namespaces_Update
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelayNamespaceUpdateParameter'
        description: Parameters for updating a namespace resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayNamespace'
          description: Namespace successfuly updated.
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create Azure Relay namespace.
      operationId: Namespaces_CreateOrUpdate
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelayNamespace'
        description: Parameters supplied to create a Namespace Resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayNamespace'
          description: Namespace create request succeeded
        "202":
          content: {}
          description: Namespace create request accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNamespaceCreate:
          parameters:
            api-version: 2016-07-01
            namespaceName: sdk-RelayNamespace-01
            parameters:
              location: West US
              sku:
                name: Standard
                tier: Standard
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01
                location: West US
                name: sdk-RelayNamespace-01
                properties:
                  metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-relaynamespace-01
                  provisioningState: Unknown
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Relay/Namespaces
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/AuthorizationRules
  : get:
      description: Authorization rules for a namespace.
      operationId: Namespaces_ListAuthorizationRules
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRuleListResult'
          description: Namespace Authorization rule returned successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceAutorizationRuleListAll:
          parameters:
            api-version: 2016-07-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/AuthorizationRules/RootManageSharedAccessKey
                  name: RootManageSharedAccessKey
                  properties:
                    rights:
                    - Listen
                    - Manage
                    - Send
                  type: Microsoft.Relay/Namespaces/AuthorizationRules
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/AuthorizationRules/sdk-RelayAuthRules-01
                  name: sdk-RelayAuthRules-01
                  properties:
                    rights:
                    - Listen
                    - Send
                  type: Microsoft.Relay/Namespaces/AuthorizationRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
    post:
      description: Authorization rules for a namespace.
      operationId: Namespaces_ListPostAuthorizationRules
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRuleListResult'
          description: Namespace Authorization rule returned successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceAutorizationRuleListAll:
          parameters:
            api-version: 2016-07-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/AuthorizationRules/RootManageSharedAccessKey
                  name: RootManageSharedAccessKey
                  properties:
                    rights:
                    - Listen
                    - Manage
                    - Send
                  type: Microsoft.Relay/Namespaces/AuthorizationRules
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/AuthorizationRules/sdk-RelayAuthRules-01
                  name: sdk-RelayAuthRules-01
                  properties:
                    rights:
                    - Listen
                    - Send
                  type: Microsoft.Relay/Namespaces/AuthorizationRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a namespace authorization rule
      operationId: Namespaces_DeleteAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request to delete Namespace Authorization rule succeeded.
        "204":
          content: {}
          description: No Content. The request has been accepted but the Namespace
            Authorization rule was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceAutorizationRuleDelete:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Authorization rule for a namespace by name.
      operationId: Namespaces_GetAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRule'
          description: Namespace Authorization rule returned successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceAutorizationRuleGet:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/AuthorizationRules/sdk-RelayAuthRules-01
                name: sdk-RelayAuthRules-01
                properties:
                  rights:
                  - Listen
                type: Microsoft.Relay/Namespaces/AuthorizationRules
      x-accepts:
      - application/json
    post:
      description: Authorization rule for a namespace by name.
      operationId: Namespaces_PostAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRule'
          description: Namespace Authorization rule returned successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceAutorizationRuleGet:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/AuthorizationRules/sdk-RelayAuthRules-01
                name: sdk-RelayAuthRules-01
                properties:
                  rights:
                  - Listen
                type: Microsoft.Relay/Namespaces/AuthorizationRules
      x-accepts:
      - application/json
    put:
      description: Creates or Updates an authorization rule for a namespace
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationRule'
        description: The authorization rule parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRule'
          description: Request to create Namespace Authorization rule succeeded
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceAuthorizationRuleCreate:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            namespaceName: sdk-RelayNamespace-01
            parameters:
              properties:
                rights:
                - Listen
                - Send
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/AuthorizationRules/sdk-RelayAuthRules-01
                name: sdk-RelayAuthRules-01
                properties:
                  rights:
                  - Listen
                  - Send
                type: Microsoft.Relay/Namespaces/AuthorizationRules
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      description: 'Primary and Secondary ConnectionStrings to the namespace '
      operationId: Namespaces_ListKeys
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRuleKeys'
          description: Successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceAuthorizationRuleListKey:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                keyName: sdk-RelayAuthRules-01
                primaryConnectionString: Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################
                primaryKey: '############################################'
                secondaryConnectionString: Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################
                secondaryKey: '############################################'
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      description: 'Regenerates the Primary or Secondary ConnectionStrings to the
        namespace '
      operationId: Namespaces_RegenerateKeys
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateKeysParameters'
        description: Parameters supplied to regenerate Auth Rule.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRuleKeys'
          description: Successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - Namespaces
      x-ms-examples:
        RelayNameSpaceAuthorizationRuleRegenrateKey:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            namespaceName: sdk-RelayNamespace-01
            parameters:
              policyKey: PrimaryKey
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                keyName: sdk-RelayAuthRules-01
                primaryConnectionString: Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################
                primaryKey: '############################################'
                secondaryConnectionString: Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################
                secondaryKey: '############################################'
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections
  : get:
      description: Lists the HybridConnection within the namespace.
      operationId: HybridConnections_ListByNamespace
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridConnectionListResult'
          description: Request to retrieve HybridConnections by NameSpace succeeded
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridConnectionListAll:
          parameters:
            api-version: 2016-07-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01
                  name: sdk-Relay-Hybrid-01
                  properties:
                    createdAt: 2017-01-23T20:34:49.4131724Z
                    listenerCount: 1
                    requiresClientAuthorization: true
                    updatedAt: 2017-01-23T20:34:49.4131724Z
                    userMetadata: "usermetadata is a placeholder to store user-defined\
                      \ string data for the HybridConnection endpoint.e.g. it can\
                      \ be used to store  descriptive data, such as list of teams\
                      \ and their contact information also user-defined configuration\
                      \ settings can be stored."
                  type: Microsoft.Relay/Namespaces/HybridConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections/{hybridConnectionName}
  : delete:
      description: Deletes a HybridConnection .
      operationId: HybridConnections_Delete
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid connection name.
        in: path
        name: hybridConnectionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request to delete Hybrid Connections succeeded.
        "204":
          content: {}
          description: No Content. The request has been accepted but the Hybrid Connections
            was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridconnectionDelete:
          parameters:
            api-version: 2016-07-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Returns the description for the specified HybridConnection.
      operationId: HybridConnections_Get
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid connection name.
        in: path
        name: hybridConnectionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridConnection'
          description: Successfully retrieved hybridConnection description
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridConnectionGet:
          parameters:
            api-version: 2016-07-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01
                name: sdk-Relay-Hybrid-01
                properties:
                  createdAt: 2017-01-23T20:34:49.4131724Z
                  listenerCount: 1
                  requiresClientAuthorization: true
                  updatedAt: 2017-01-23T20:34:49.4131724Z
                  userMetadata: "usermetadata is a placeholder to store user-defined\
                    \ string data for the HybridConnection endpoint.e.g. it can be\
                    \ used to store  descriptive data, such as list of teams and their\
                    \ contact information also user-defined configuration settings\
                    \ can be stored."
                type: Microsoft.Relay/Namespaces/HybridConnections
      x-accepts:
      - application/json
    put:
      description: Creates or Updates a service HybridConnection. This operation is
        idempotent.
      operationId: HybridConnections_CreateOrUpdate
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid connection name.
        in: path
        name: hybridConnectionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HybridConnection'
        description: Parameters supplied to create a HybridConnection.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridConnection'
          description: Request to Create Hybrid Connections succeeded
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridConnectionCreate:
          parameters:
            api-version: 2016-07-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            parameters:
              properties:
                requiresClientAuthorization: true
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01
                name: sdk-Relay-Hybrid-01
                properties:
                  createdAt: 2017-01-23T20:34:49.4131724Z
                  requiresClientAuthorization: true
                  updatedAt: 2017-01-23T20:34:49.4131724Z
                type: Microsoft.Relay/Namespaces/HybridConnections
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections/{hybridConnectionName}/authorizationRules
  : get:
      description: Authorization rules for a HybridConnection.
      operationId: HybridConnections_ListAuthorizationRules
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid connection name.
        in: path
        name: hybridConnectionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRuleListResult'
          description: Authorization rules successfully returned.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridConnectionAutorizationRuleListAll:
          parameters:
            api-version: 2016-07-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01/AuthorizationRules/sdk-RelayAuthRules-01
                  name: sdk-RelayAuthRules-01
                  properties:
                    rights:
                    - Listen
                    - Send
                  type: Microsoft.Relay/Namespaces/Hybridconnections/AuthorizationRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
    post:
      description: Authorization rules for a HybridConnection.
      operationId: HybridConnections_ListPostAuthorizationRules
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid connection name.
        in: path
        name: hybridConnectionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRuleListResult'
          description: Authorization rules successfully returned.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridConnectionAutorizationRuleListAll:
          parameters:
            api-version: 2016-07-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01/AuthorizationRules/sdk-RelayAuthRules-01
                  name: sdk-RelayAuthRules-01
                  properties:
                    rights:
                    - Listen
                    - Send
                  type: Microsoft.Relay/Namespaces/Hybridconnections/AuthorizationRules
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a HybridConnection authorization rule
      operationId: HybridConnections_DeleteAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid connection name.
        in: path
        name: hybridConnectionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: HybridConnection authorizationRule deleted
        "204":
          content: {}
          description: Authorization rule does not exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridConnectionAutorizationRuleDelete:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: HybridConnection authorizationRule for a HybridConnection by name.
      operationId: HybridConnections_GetAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid connection name.
        in: path
        name: hybridConnectionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRule'
          description: HybridConnection AuthorizationRule returned successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridConnectionAutorizationRuleGet:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01/AuthorizationRules/sdk-RelayAuthRules-01
                name: sdk-RelayAuthRules-01
                properties:
                  rights:
                  - Listen
                type: Microsoft.Relay/Namespaces/Hybridconnections/AuthorizationRules
      x-accepts:
      - application/json
    post:
      description: HybridConnection authorizationRule for a HybridConnection by name.
      operationId: HybridConnections_PostAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid connection name.
        in: path
        name: hybridConnectionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRule'
          description: HybridConnection AuthorizationRule returned successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridConnectionAutorizationRuleGet:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01/AuthorizationRules/sdk-RelayAuthRules-01
                name: sdk-RelayAuthRules-01
                properties:
                  rights:
                  - Listen
                type: Microsoft.Relay/Namespaces/Hybridconnections/AuthorizationRules
      x-accepts:
      - application/json
    put:
      description: Creates or Updates an authorization rule for a HybridConnection
      operationId: HybridConnections_CreateOrUpdateAuthorizationRule
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid connection name.
        in: path
        name: hybridConnectionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationRule'
        description: The authorization rule parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRule'
          description: HybridConnection Authorization rule created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridConnectionAuthorizationRuleCreate:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            parameters:
              properties:
                rights:
                - Listen
                - Send
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01/AuthorizationRules/sdk-RelayAuthRules-01
                name: sdk-RelayAuthRules-01
                properties:
                  rights:
                  - Listen
                  - Send
                type: Microsoft.Relay/Namespaces/Hybridconnections/AuthorizationRules
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}/ListKeys
  : post:
      description: Primary and Secondary ConnectionStrings to the HybridConnection.
      operationId: HybridConnections_ListKeys
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid connection name.
        in: path
        name: hybridConnectionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRuleKeys'
          description: Request to retirve ConnectionStrings to the HybridConnection
            succeeded
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridConnectionAuthorizationRuleListKey:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                keyName: sdk-RelayAuthRules-01
                primaryConnectionString: Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################
                primaryKey: '############################################'
                secondaryConnectionString: Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################
                secondaryKey: '############################################'
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/HybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      description: Regenerates the Primary or Secondary ConnectionStrings to the HybridConnection
      operationId: HybridConnections_RegenerateKeys
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The hybrid connection name.
        in: path
        name: hybridConnectionName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorizationRule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateKeysParameters'
        description: Parameters supplied to regenerate Auth Rule.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRuleKeys'
          description: Request to regenerate ConnectionStrings to HybridConnection
            succeeded
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - HybridConnections
      x-ms-examples:
        RelayHybridConnectionAuthorizationRuleRegenrateKey:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-RelayAuthRules-01
            hybridConnectionName: sdk-Relay-Hybrid-01
            namespaceName: sdk-RelayNamespace-01
            parameters:
              policyKey: PrimaryKey
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                keyName: sdk-RelayAuthRules-01
                primaryConnectionString: Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################
                primaryKey: '############################################'
                secondaryConnectionString: Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################
                secondaryKey: '############################################'
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/WcfRelays
  : get:
      description: Lists the WCFRelays within the namespace.
      operationId: WCFRelays_ListByNamespace
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WcfRelaysListResult'
          description: WCF Relays returned successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - WCFRelays
      x-ms-examples:
        RelayListAll:
          parameters:
            api-version: 2016-07-01
            namespaceName: sdk-RelayNamespace-01
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG1-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/WcfRelays/sdk-Relay-Wcf-01
                  name: sdk-Relay-Wcf-01
                  properties:
                    createdAt: 2017-01-24T00:46:27.0049983Z
                    isDynamic: false
                    relayType: NetTcp
                    requiresClientAuthorization: true
                    requiresTransportSecurity: true
                    updatedAt: 2017-01-24T00:46:27.0049983Z
                    userMetadata: "usermetadata is a placeholder to store user-defined\
                      \ string data for the HybridConnection endpoint.e.g. it can\
                      \ be used to store  descriptive data, such as list of teams\
                      \ and their contact information also user-defined configuration\
                      \ settings can be stored"
                  type: Microsoft.Relay/Namespaces/WcfRelays
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/WcfRelays/{relayName}
  : delete:
      description: Deletes a WCFRelays .
      operationId: WCFRelays_Delete
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The relay name
        in: path
        name: relayName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: WCFRelays deleted.
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - WCFRelays
      x-ms-examples:
        RelayDelete:
          parameters:
            api-version: 2016-07-01
            namespaceName: sdk-RelayNamespace-01
            relayName: sdk-Relay-wcf-01
            resourceGroupName: RG-eg
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Returns the description for the specified WCFRelays.
      operationId: WCFRelays_Get
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The relay name
        in: path
        name: relayName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WcfRelay'
          description: Successfully retrieved WCFRelays description
        "204":
          content: {}
          description: WCFRelays not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Relay error response describing why the operation failed.
      tags:
      - WCFRelays
      x-ms-examples:
        RelayGet:
          parameters:
            api-version: 2016-07-01
            namespaceName: sdk-RelayNamespace-9953
            relayName: sdk-Relay-Wcf-1194
            resourceGroupName: RG-eg
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-9953/WcfRelays/sdk-Relay-Wcf-1194
                name: sdk-Relay-Wcf-1194
                properties:
                  createdAt: 2017-03-16T00:26:17.5014661Z
                  isDynamic: false
                  listenerCount: 0
                  relayType: NetTcp
                  requiresClientAuthorization: true
                  requiresTransportSecurity: true
                  updatedAt: 2017-03-16T00:26:17.5014661Z
                type: Microsoft.Relay/WcfRelays
            "204": {}
      x-accepts:
      - application/json
    put:
      description: Creates or Updates a WCFRelay. This operation is idempotent.
      operationId: WCFRelays_CreateOrUpdate
      parameters:
      - description: Name of the Resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace Name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The relay name
        in: path
        name: relayName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
[...]
