openapi: 3.0.0
info:
  description: Auto-generated OpenAPI schema
  title: Telegram Bot API
  version: 5.0.0
  x-apisguru-categories:
  - messaging
  x-origin:
  - format: openapi
    url: https://josxa.stoplight.io/api/v1/projects/josxa/bot-api/nodes/openapi.json?branch=main
    version: "3.0"
  x-providerName: telegram.org
externalDocs:
  description: The Bot API is an HTTP-based interface created for developers keen
    on building bots for Telegram.
  url: https://core.telegram.org/bots/api
servers:
- url: "https://api.telegram.org/bot{token}"
  variables:
    token:
      default: 123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
      description: Each bot is given a unique authentication token when it is created.
paths:
  /addStickerToSet:
    post:
      description: Use this method to add a new sticker to a set created by the bot.
        You **must** use exactly one of the fields *png\_sticker* or *tgs\_sticker*.
        Animated stickers can be added to animated sticker sets and only to them.
        Animated sticker sets can have up to 50 stickers. Static sticker sets can
        have up to 120 stickers. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#addstickertoset
      operationId: add_sticker_to_set_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_addStickerToSet_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /answerCallbackQuery:
    post:
      description: |-
        Use this method to send answers to callback queries sent from [inline keyboards](/bots#inline-keyboards-and-on-the-fly-updating). The answer will be displayed to the user as a notification at the top of the chat screen or as an alert. On success, *True* is returned.

        Alternatively, the user can be redirected to the specified Game URL. For this option to work, you must first create a game for your bot via [@Botfather](https://t.me/botfather) and accept the terms. Otherwise, you may use links like `t.me/your_bot?start=XXXX` that open your bot with a parameter.
      externalDocs:
        url: https://core.telegram.org/bots/api/#answercallbackquery
      operationId: answer_callback_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_answerCallbackQuery_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_answerCallbackQuery_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_answerCallbackQuery_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /answerInlineQuery:
    post:
      description: "Use this method to send answers to an inline query. On success,\
        \ *True* is returned.  \nNo more than **50** results per query are allowed."
      externalDocs:
        url: https://core.telegram.org/bots/api/#answerinlinequery
      operationId: answer_inline_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_answerInlineQuery_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_answerInlineQuery_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_answerInlineQuery_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /answerPreCheckoutQuery:
    post:
      description: "Once the user has confirmed their payment and shipping details,\
        \ the Bot API sends the final confirmation in the form of an [Update](https://core.telegram.org/bots/api/#update)\
        \ with the field *pre\\_checkout\\_query*. Use this method to respond to such\
        \ pre-checkout queries. On success, True is returned. **Note:** The Bot API\
        \ must receive an answer within 10 seconds after the pre-checkout query was\
        \ sent."
      externalDocs:
        url: https://core.telegram.org/bots/api/#answerprecheckoutquery
      operationId: answer_pre_checkout_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_answerPreCheckoutQuery_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_answerPreCheckoutQuery_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_answerPreCheckoutQuery_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /answerShippingQuery:
    post:
      description: "If you sent an invoice requesting a shipping address and the parameter\
        \ *is\\_flexible* was specified, the Bot API will send an [Update](https://core.telegram.org/bots/api/#update)\
        \ with a *shipping\\_query* field to the bot. Use this method to reply to\
        \ shipping queries. On success, True is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#answershippingquery
      operationId: answer_shipping_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_answerShippingQuery_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_answerShippingQuery_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_answerShippingQuery_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /close:
    post:
      description: Use this method to close the bot instance before moving it from
        one local server to another. You need to delete the webhook before calling
        this method to ensure that the bot isn't launched again after server restart.
        The method will return error 429 in the first 10 minutes after the bot is
        launched. Returns *True* on success. Requires no parameters.
      externalDocs:
        url: https://core.telegram.org/bots/api/#close
      operationId: close_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /copyMessage:
    post:
      description: "Use this method to copy messages of any kind. The method is analogous\
        \ to the method [forwardMessages](https://core.telegram.org/bots/api/#forwardmessages),\
        \ but the copied message doesn't have a link to the original message. Returns\
        \ the [MessageId](https://core.telegram.org/bots/api/#messageid) of the sent\
        \ message on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#copymessage
      operationId: copy_message_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_copyMessage_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_copyMessage_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_copyMessage_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_copyMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /createNewStickerSet:
    post:
      description: Use this method to create a new sticker set owned by a user. The
        bot will be able to edit the sticker set thus created. You **must** use exactly
        one of the fields *png\_sticker* or *tgs\_sticker*. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#createnewstickerset
      operationId: create_new_sticker_set_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_createNewStickerSet_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /deleteChatPhoto:
    post:
      description: Use this method to delete a chat photo. Photos can't be changed
        for private chats. The bot must be an administrator in the chat for this to
        work and must have the appropriate admin rights. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#deletechatphoto
      operationId: delete_chat_photo_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_deleteChatPhoto_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_deleteChatPhoto_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_deleteChatPhoto_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /deleteChatStickerSet:
    post:
      description: "Use this method to delete a group sticker set from a supergroup.\
        \ The bot must be an administrator in the chat for this to work and must have\
        \ the appropriate admin rights. Use the field *can\\_set\\_sticker\\_set*\
        \ optionally returned in [getChat](https://core.telegram.org/bots/api/#getchat)\
        \ requests to check if the bot can use this method. Returns *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#deletechatstickerset
      operationId: delete_chat_sticker_set_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_deleteChatStickerSet_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_deleteChatStickerSet_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_deleteChatStickerSet_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /deleteMessage:
    post:
      description: "Use this method to delete a message, including service messages,\
        \ with the following limitations:  \n\\- A message can only be deleted if\
        \ it was sent less than 48 hours ago.  \n\\- A dice message in a private chat\
        \ can only be deleted if it was sent more than 24 hours ago.  \n\\- Bots can\
        \ delete outgoing messages in private chats, groups, and supergroups.  \n\\\
        - Bots can delete incoming messages in private chats.  \n\\- Bots granted\
        \ *can\\_post\\_messages* permissions can delete outgoing messages in channels.\
        \  \n\\- If the bot is an administrator of a group, it can delete any message\
        \ there.  \n\\- If the bot has *can\\_delete\\_messages* permission in a supergroup\
        \ or a channel, it can delete any message there.  \nReturns *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#deletemessage
      operationId: delete_message_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_deleteMessage_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_deleteMessage_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_deleteMessage_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /deleteStickerFromSet:
    post:
      description: Use this method to delete a sticker from a set created by the bot.
        Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#deletestickerfromset
      operationId: delete_sticker_from_set_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_deleteStickerFromSet_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_deleteStickerFromSet_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_deleteStickerFromSet_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /deleteWebhook:
    post:
      description: "Use this method to remove webhook integration if you decide to\
        \ switch back to [getUpdates](https://core.telegram.org/bots/api/#getupdates).\
        \ Returns *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#deletewebhook
      operationId: delete_webhook_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_deleteWebhook_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_deleteWebhook_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_deleteWebhook_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /editMessageCaption:
    post:
      description: "Use this method to edit captions of messages. On success, if the\
        \ edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned, otherwise *True* is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#editmessagecaption
      operationId: edit_message_caption_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_editMessageCaption_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_editMessageCaption_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_editMessageCaption_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_editMessageCaption_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /editMessageLiveLocation:
    post:
      description: "Use this method to edit live location messages. A location can\
        \ be edited until its *live\\_period* expires or editing is explicitly disabled\
        \ by a call to [stopMessageLiveLocation](https://core.telegram.org/bots/api/#stopmessagelivelocation).\
        \ On success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned, otherwise *True* is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#editmessagelivelocation
      operationId: edit_message_live_location_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_editMessageLiveLocation_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_editMessageLiveLocation_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_editMessageLiveLocation_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_editMessageCaption_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /editMessageMedia:
    post:
      description: "Use this method to edit animation, audio, document, photo, or\
        \ video messages. If a message is part of a message album, then it can be\
        \ edited only to an audio for audio albums, only to a document for document\
        \ albums and to a photo or a video otherwise. When an inline message is edited,\
        \ a new file can't be uploaded. Use a previously uploaded file via its file\\\
        _id or specify a URL. On success, if the edited message was sent by the bot,\
        \ the edited [Message](https://core.telegram.org/bots/api/#message) is returned,\
        \ otherwise *True* is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#editmessagemedia
      operationId: edit_message_media_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_editMessageMedia_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_editMessageCaption_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /editMessageReplyMarkup:
    post:
      description: "Use this method to edit only the reply markup of messages. On\
        \ success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned, otherwise *True* is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#editmessagereplymarkup
      operationId: edit_message_reply_markup_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_editMessageReplyMarkup_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_editMessageReplyMarkup_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_editMessageReplyMarkup_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_editMessageCaption_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /editMessageText:
    post:
      description: "Use this method to edit text and [game](https://core.telegram.org/bots/api/#games)\
        \ messages. On success, if the edited message is not an inline message, the\
        \ edited [Message](https://core.telegram.org/bots/api/#message) is returned,\
        \ otherwise *True* is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#editmessagetext
      operationId: edit_message_text_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_editMessageText_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_editMessageText_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_editMessageText_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_editMessageCaption_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /exportChatInviteLink:
    post:
      description: Use this method to generate a new invite link for a chat; any previously
        generated link is revoked. The bot must be an administrator in the chat for
        this to work and must have the appropriate admin rights. Returns the new invite
        link as *String* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#exportchatinvitelink
      operationId: export_chat_invite_link_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_deleteChatPhoto_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_deleteChatPhoto_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_deleteChatPhoto_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_exportChatInviteLink_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /forwardMessage:
    post:
      description: "Use this method to forward messages of any kind. On success, the\
        \ sent [Message](https://core.telegram.org/bots/api/#message) is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#forwardmessage
      operationId: forward_message_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_forwardMessage_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_forwardMessage_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_forwardMessage_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /getChat:
    post:
      description: "Use this method to get up to date information about the chat (current\
        \ name of the user for one-on-one conversations, current username of a user,\
        \ group or channel, etc.). Returns a [Chat](https://core.telegram.org/bots/api/#chat)\
        \ object on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#getchat
      operationId: get_chat_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getChat_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /getChatAdministrators:
    post:
      description: "Use this method to get a list of administrators in a chat. On\
        \ success, returns an Array of [ChatMember](https://core.telegram.org/bots/api/#chatmember)\
        \ objects that contains information about all chat administrators except other\
        \ bots. If the chat is a group or a supergroup and no administrators were\
        \ appointed, only the creator will be returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#getchatadministrators
      operationId: get_chat_administrators_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getChatAdministrators_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /getChatMember:
    post:
      description: "Use this method to get information about a member of a chat. Returns\
        \ a [ChatMember](https://core.telegram.org/bots/api/#chatmember) object on\
        \ success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#getchatmember
      operationId: get_chat_member_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_getChatMember_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_getChatMember_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_getChatMember_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getChatMember_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /getChatMembersCount:
    post:
      description: Use this method to get the number of members in a chat. Returns
        *Int* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getchatmemberscount
      operationId: get_chat_members_count_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getChatMembersCount_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /getFile:
    post:
      description: "Use this method to get basic info about a file and prepare it\
        \ for downloading. For the moment, bots can download files of up to 20MB in\
        \ size. On success, a [File](https://core.telegram.org/bots/api/#file) object\
        \ is returned. The file can then be downloaded via the link `https://api.telegram.org/file/bot<token>/<file_path>`,\
        \ where `<file_path>` is taken from the response. It is guaranteed that the\
        \ link will be valid for at least 1 hour. When the link expires, a new one\
        \ can be requested by calling [getFile](https://core.telegram.org/bots/api/#getfile)\
        \ again."
      externalDocs:
        url: https://core.telegram.org/bots/api/#getfile
      operationId: get_file_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_getFile_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_getFile_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_getFile_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getFile_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /getGameHighScores:
    post:
      description: |-
        Use this method to get data for high score tables. Will return the score of the specified user and several of their neighbors in a game. On success, returns an *Array* of [GameHighScore](https://core.telegram.org/bots/api/#gamehighscore) objects.

        This method will currently return scores for the target user, plus two of their closest neighbors on each side. Will also return the top three users if the user and his neighbors are not among them. Please note that this behavior is subject to change.
      externalDocs:
        url: https://core.telegram.org/bots/api/#getgamehighscores
      operationId: get_game_high_scores_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_getGameHighScores_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_getGameHighScores_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_getGameHighScores_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getGameHighScores_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /getMe:
    post:
      description: "A simple method for testing your bot's auth token. Requires no\
        \ parameters. Returns basic information about the bot in form of a [User](https://core.telegram.org/bots/api/#user)\
        \ object."
      externalDocs:
        url: https://core.telegram.org/bots/api/#getme
      operationId: get_me_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getMe_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /getMyCommands:
    post:
      description: "Use this method to get the current list of the bot's commands.\
        \ Requires no parameters. Returns Array of [BotCommand](https://core.telegram.org/bots/api/#botcommand)\
        \ on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#getmycommands
      operationId: get_my_commands_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getMyCommands_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /getStickerSet:
    post:
      description: "Use this method to get a sticker set. On success, a [StickerSet](https://core.telegram.org/bots/api/#stickerset)\
        \ object is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#getstickerset
      operationId: get_sticker_set_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_getStickerSet_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_getStickerSet_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_getStickerSet_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getStickerSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /getUpdates:
    post:
      description: "Use this method to receive incoming updates using long polling\
        \ ([wiki](https://en.wikipedia.org/wiki/Push_technology#Long_polling)). An\
        \ Array of [Update](https://core.telegram.org/bots/api/#update) objects is\
        \ returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#getupdates
      operationId: get_updates_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_getUpdates_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_getUpdates_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_getUpdates_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getUpdates_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /getUserProfilePhotos:
    post:
      description: "Use this method to get a list of profile pictures for a user.\
        \ Returns a [UserProfilePhotos](https://core.telegram.org/bots/api/#userprofilephotos)\
        \ object."
      externalDocs:
        url: https://core.telegram.org/bots/api/#getuserprofilephotos
      operationId: get_user_profile_photos_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_getUserProfilePhotos_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_getUserProfilePhotos_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_getUserProfilePhotos_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getUserProfilePhotos_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /getWebhookInfo:
    post:
      description: "Use this method to get current webhook status. Requires no parameters.\
        \ On success, returns a [WebhookInfo](https://core.telegram.org/bots/api/#webhookinfo)\
        \ object. If the bot is using [getUpdates](https://core.telegram.org/bots/api/#getupdates),\
        \ will return an object with the *url* field empty."
      externalDocs:
        url: https://core.telegram.org/bots/api/#getwebhookinfo
      operationId: get_webhook_info_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_getWebhookInfo_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /kickChatMember:
    post:
      description: "Use this method to kick a user from a group, a supergroup or a\
        \ channel. In the case of supergroups and channels, the user will not be able\
        \ to return to the group on their own using invite links, etc., unless [unbanned](https://core.telegram.org/bots/api/#unbanchatmember)\
        \ first. The bot must be an administrator in the chat for this to work and\
        \ must have the appropriate admin rights. Returns *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#kickchatmember
      operationId: kick_chat_member_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_kickChatMember_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_kickChatMember_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_kickChatMember_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /leaveChat:
    post:
      description: "Use this method for your bot to leave a group, supergroup or channel.\
        \ Returns *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#leavechat
      operationId: leave_chat_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_getChat_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /logOut:
    post:
      description: "Use this method to log out from the cloud Bot API server before\
        \ launching the bot locally. You **must** log out the bot before running it\
        \ locally, otherwise there is no guarantee that the bot will receive updates.\
        \ After a successful call, you can immediately log in on a local server, but\
        \ will not be able to log in back to the cloud Bot API server for 10 minutes.\
        \ Returns *True* on success. Requires no parameters."
      externalDocs:
        url: https://core.telegram.org/bots/api/#logout
      operationId: log_out_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /pinChatMessage:
    post:
      description: "Use this method to add a message to the list of pinned messages\
        \ in a chat. If the chat is not a private chat, the bot must be an administrator\
        \ in the chat for this to work and must have the 'can\\_pin\\_messages' admin\
        \ right in a supergroup or 'can\\_edit\\_messages' admin right in a channel.\
        \ Returns *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#pinchatmessage
      operationId: pin_chat_message_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_pinChatMessage_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_pinChatMessage_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_pinChatMessage_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /promoteChatMember:
    post:
      description: Use this method to promote or demote a user in a supergroup or
        a channel. The bot must be an administrator in the chat for this to work and
        must have the appropriate admin rights. Pass *False* for all boolean parameters
        to demote a user. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#promotechatmember
      operationId: promote_chat_member_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_promoteChatMember_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_promoteChatMember_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_promoteChatMember_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /restrictChatMember:
    post:
      description: Use this method to restrict a user in a supergroup. The bot must
        be an administrator in the supergroup for this to work and must have the appropriate
        admin rights. Pass *True* for all permissions to lift restrictions from a
        user. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#restrictchatmember
      operationId: restrict_chat_member_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_restrictChatMember_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_restrictChatMember_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_restrictChatMember_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendAnimation:
    post:
      description: "Use this method to send animation files (GIF or H.264/MPEG-4 AVC\
        \ video without sound). On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned. Bots can currently send animation files of up to 50 MB in size,\
        \ this limit may be changed in the future."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendanimation
      operationId: send_animation_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendAnimation_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendAudio:
    post:
      description: |-
        Use this method to send audio files, if you want Telegram clients to display them in the music player. Your audio must be in the .MP3 or .M4A format. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send audio files of up to 50 MB in size, this limit may be changed in the future.

        For sending voice messages, use the [sendVoice](https://core.telegram.org/bots/api/#sendvoice) method instead.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendaudio
      operationId: send_audio_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendAudio_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendChatAction:
    post:
      description: |-
        Use this method when you need to tell the user that something is happening on the bot's side. The status is set for 5 seconds or less (when a message arrives from your bot, Telegram clients clear its typing status). Returns *True* on success.

        Example: The [ImageBot](https://t.me/imagebot) needs some time to process a request and upload the image. Instead of sending a text message along the lines of “Retrieving image, please wait…”, the bot may use [sendChatAction](https://core.telegram.org/bots/api/#sendchataction) with *action* = *upload\_photo*. The user will see a “sending photo” status for the bot.

        We only recommend using this method when a response from the bot will take a **noticeable** amount of time to arrive.
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendchataction
      operationId: send_chat_action_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_sendChatAction_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sendChatAction_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendChatAction_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendContact:
    post:
      description: "Use this method to send phone contacts. On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendcontact
      operationId: send_contact_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_sendContact_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sendContact_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendContact_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendDice:
    post:
      description: "Use this method to send an animated emoji that will display a\
        \ random value. On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#senddice
      operationId: send_dice_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_sendDice_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sendDice_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendDice_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendDocument:
    post:
      description: "Use this method to send general files. On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned. Bots can currently send files of any type of up to 50 MB in\
        \ size, this limit may be changed in the future."
      externalDocs:
        url: https://core.telegram.org/bots/api/#senddocument
      operationId: send_document_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendDocument_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendGame:
    post:
      description: "Use this method to send a game. On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendgame
      operationId: send_game_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_sendGame_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sendGame_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendGame_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendInvoice:
    post:
      description: "Use this method to send invoices. On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendinvoice
      operationId: send_invoice_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_sendInvoice_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sendInvoice_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendInvoice_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendLocation:
    post:
      description: "Use this method to send point on the map. On success, the sent\
        \ [Message](https://core.telegram.org/bots/api/#message) is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendlocation
      operationId: send_location_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_sendLocation_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sendLocation_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendLocation_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendMediaGroup:
    post:
      description: "Use this method to send a group of photos, videos, documents or\
        \ audios as an album. Documents and audio files can be only grouped in an\
        \ album with messages of the same type. On success, an array of [Messages](https://core.telegram.org/bots/api/#message)\
        \ that were sent is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendmediagroup
      operationId: send_media_group_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendMediaGroup_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_sendMediaGroup_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendMessage:
    post:
      description: "Use this method to send text messages. On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendmessage
      operationId: send_message_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_sendMessage_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sendMessage_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendMessage_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendPhoto:
    post:
      description: "Use this method to send photos. On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendphoto
      operationId: send_photo_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendPhoto_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendPoll:
    post:
      description: "Use this method to send a native poll. On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendpoll
      operationId: send_poll_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_sendPoll_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sendPoll_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendPoll_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendSticker:
    post:
      description: "Use this method to send static .WEBP or [animated](https://telegram.org/blog/animated-stickers)\
        \ .TGS stickers. On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendsticker
      operationId: send_sticker_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendSticker_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendVenue:
    post:
      description: "Use this method to send information about a venue. On success,\
        \ the sent [Message](https://core.telegram.org/bots/api/#message) is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendvenue
      operationId: send_venue_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_sendVenue_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_sendVenue_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendVenue_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendVideo:
    post:
      description: "Use this method to send video files, Telegram clients support\
        \ mp4 videos (other formats may be sent as [Document](https://core.telegram.org/bots/api/#document)).\
        \ On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned. Bots can currently send video files of up to 50 MB in size,\
        \ this limit may be changed in the future."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendvideo
      operationId: send_video_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendVideo_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendVideoNote:
    post:
      description: "As of [v.4.0](https://telegram.org/blog/video-messages-and-telescope),\
        \ Telegram clients support rounded square mp4 videos of up to 1 minute long.\
        \ Use this method to send video messages. On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendvideonote
      operationId: send_video_note_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendVideoNote_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /sendVoice:
    post:
      description: "Use this method to send audio files, if you want Telegram clients\
        \ to display the file as a playable voice message. For this to work, your\
        \ audio must be in an .OGG file encoded with OPUS (other formats may be sent\
        \ as [Audio](https://core.telegram.org/bots/api/#audio) or [Document](https://core.telegram.org/bots/api/#document)).\
        \ On success, the sent [Message](https://core.telegram.org/bots/api/#message)\
        \ is returned. Bots can currently send voice messages of up to 50 MB in size,\
        \ this limit may be changed in the future."
      externalDocs:
        url: https://core.telegram.org/bots/api/#sendvoice
      operationId: send_voice_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_sendVoice_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_forwardMessage_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setChatAdministratorCustomTitle:
    post:
      description: Use this method to set a custom title for an administrator in a
        supergroup promoted by the bot. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchatadministratorcustomtitle
      operationId: set_chat_administrator_custom_title_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_setChatAdministratorCustomTitle_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_setChatAdministratorCustomTitle_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setChatAdministratorCustomTitle_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setChatDescription:
    post:
      description: "Use this method to change the description of a group, a supergroup\
        \ or a channel. The bot must be an administrator in the chat for this to work\
        \ and must have the appropriate admin rights. Returns *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchatdescription
      operationId: set_chat_description_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_setChatDescription_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_setChatDescription_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setChatDescription_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setChatPermissions:
    post:
      description: Use this method to set default chat permissions for all members.
        The bot must be an administrator in the group or a supergroup for this to
        work and must have the *can\_restrict\_members* admin rights. Returns *True*
        on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchatpermissions
      operationId: set_chat_permissions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_setChatPermissions_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_setChatPermissions_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setChatPermissions_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setChatPhoto:
    post:
      description: Use this method to set a new profile photo for the chat. Photos
        can't be changed for private chats. The bot must be an administrator in the
        chat for this to work and must have the appropriate admin rights. Returns
        *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchatphoto
      operationId: set_chat_photo_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setChatPhoto_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setChatStickerSet:
    post:
      description: "Use this method to set a new group sticker set for a supergroup.\
        \ The bot must be an administrator in the chat for this to work and must have\
        \ the appropriate admin rights. Use the field *can\\_set\\_sticker\\_set*\
        \ optionally returned in [getChat](https://core.telegram.org/bots/api/#getchat)\
        \ requests to check if the bot can use this method. Returns *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchatstickerset
      operationId: set_chat_sticker_set_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_setChatStickerSet_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_setChatStickerSet_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setChatStickerSet_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setChatTitle:
    post:
      description: Use this method to change the title of a chat. Titles can't be
        changed for private chats. The bot must be an administrator in the chat for
        this to work and must have the appropriate admin rights. Returns *True* on
        success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setchattitle
      operationId: set_chat_title_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_setChatTitle_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_setChatTitle_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setChatTitle_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setGameScore:
    post:
      description: "Use this method to set the score of the specified user in a game.\
        \ On success, if the message was sent by the bot, returns the edited [Message](https://core.telegram.org/bots/api/#message),\
        \ otherwise returns *True*. Returns an error, if the new score is not greater\
        \ than the user's current score in the chat and *force* is *False*."
      externalDocs:
        url: https://core.telegram.org/bots/api/#setgamescore
      operationId: set_game_score_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_setGameScore_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_setGameScore_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setGameScore_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_editMessageCaption_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setMyCommands:
    post:
      description: Use this method to change the list of the bot's commands. Returns
        *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setmycommands
      operationId: set_my_commands_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_setMyCommands_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_setMyCommands_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setMyCommands_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setPassportDataErrors:
    post:
      description: |-
        Informs a user that some of the Telegram Passport elements they provided contains errors. The user will not be able to re-submit their Passport to you until the errors are fixed (the contents of the field for which you returned the error must change). Returns *True* on success.

        Use this if the data submitted by the user doesn't satisfy the standards your service requires for any reason. For example, if a birthday date seems invalid, a submitted document is blurry, a scan shows evidence of tampering, etc. Supply some details in the error message to make sure the user knows how to correct the issues.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setpassportdataerrors
      operationId: set_passport_data_errors_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_setPassportDataErrors_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_setPassportDataErrors_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setPassportDataErrors_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setStickerPositionInSet:
    post:
      description: Use this method to move a sticker in a set created by the bot to
        a specific position. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setstickerpositioninset
      operationId: set_sticker_position_in_set_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_setStickerPositionInSet_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_setStickerPositionInSet_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setStickerPositionInSet_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setStickerSetThumb:
    post:
      description: Use this method to set the thumbnail of a sticker set. Animated
        thumbnails can be set for animated sticker sets only. Returns *True* on success.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setstickersetthumb
      operationId: set_sticker_set_thumb_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setStickerSetThumb_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /setWebhook:
    post:
      description: |-
        Use this method to specify a url and receive incoming updates via an outgoing webhook. Whenever there is an update for the bot, we will send an HTTPS POST request to the specified url, containing a JSON-serialized [Update](https://core.telegram.org/bots/api/#update). In case of an unsuccessful request, we will give up after a reasonable amount of attempts. Returns *True* on success.

        If you'd like to make sure that the Webhook request comes from Telegram, we recommend using a secret path in the URL, e.g. `https://www.example.com/<token>`. Since nobody else knows your bot's token, you can be pretty sure it's us.
      externalDocs:
        url: https://core.telegram.org/bots/api/#setwebhook
      operationId: set_webhook_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_setWebhook_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /stopMessageLiveLocation:
    post:
      description: "Use this method to stop updating a live location message before\
        \ *live\\_period* expires. On success, if the message was sent by the bot,\
        \ the sent [Message](https://core.telegram.org/bots/api/#message) is returned,\
        \ otherwise *True* is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#stopmessagelivelocation
      operationId: stop_message_live_location_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_stopMessageLiveLocation_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_stopMessageLiveLocation_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_stopMessageLiveLocation_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_editMessageCaption_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /stopPoll:
    post:
      description: "Use this method to stop a poll which was sent by the bot. On success,\
        \ the stopped [Poll](https://core.telegram.org/bots/api/#poll) with the final\
        \ results is returned."
      externalDocs:
        url: https://core.telegram.org/bots/api/#stoppoll
      operationId: stop_poll_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_stopPoll_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_stopPoll_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_stopPoll_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_stopPoll_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /unbanChatMember:
    post:
      description: "Use this method to unban a previously kicked user in a supergroup\
        \ or channel. The user will **not** return to the group or channel automatically,\
        \ but will be able to join via link, etc. The bot must be an administrator\
        \ for this to work. By default, this method guarantees that after the call\
        \ the user is not a member of the chat, but will be able to join it. So if\
        \ the user is a member of the chat they will also be **removed** from the\
        \ chat. If you don't want this, use the parameter *only\\_if\\_banned*. Returns\
        \ *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#unbanchatmember
      operationId: unban_chat_member_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_unbanChatMember_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_unbanChatMember_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_unbanChatMember_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /unpinAllChatMessages:
    post:
      description: "Use this method to clear the list of pinned messages in a chat.\
        \ If the chat is not a private chat, the bot must be an administrator in the\
        \ chat for this to work and must have the 'can\\_pin\\_messages' admin right\
        \ in a supergroup or 'can\\_edit\\_messages' admin right in a channel. Returns\
        \ *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#unpinallchatmessages
      operationId: unpin_all_chat_messages_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_deleteChatPhoto_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_deleteChatPhoto_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_deleteChatPhoto_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /unpinChatMessage:
    post:
      description: "Use this method to remove a message from the list of pinned messages\
        \ in a chat. If the chat is not a private chat, the bot must be an administrator\
        \ in the chat for this to work and must have the 'can\\_pin\\_messages' admin\
        \ right in a supergroup or 'can\\_edit\\_messages' admin right in a channel.\
        \ Returns *True* on success."
      externalDocs:
        url: https://core.telegram.org/bots/api/#unpinchatmessage
      operationId: unpin_chat_message_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_unpinChatMessage_post_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_unpinChatMessage_post_request'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_unpinChatMessage_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_addStickerToSet_post_200_response'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ""
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /uploadStickerFile:
    post:
[...]
