openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/applicationGateway.json
    version: "2.0"
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/applicationGateway.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-applicationGateway
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableRequestHeaders:
    get:
      description: Lists all available request headers.
      operationId: ApplicationGateways_ListAvailableRequestHeaders
      parameters:
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayAvailableRequestHeadersResult'
          description: Success. The operation returns a list of all available request
            headers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.Network~1applicationGatewayAvailableServerVariables/get/responses/default/schema'
          description: Unexpected error.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Get Available Request Headers:
          parameters:
            api-version: 2019-08-01
            subscriptionId: 72f988bf-86f1-41af-91ab-2d7cd0dddd4
          responses:
            "200":
              body:
              - Accept-Charset
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableResponseHeaders:
    get:
      description: Lists all available response headers.
      operationId: ApplicationGateways_ListAvailableResponseHeaders
      parameters:
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayAvailableResponseHeadersResult'
          description: Success. The operation returns a list of all available response
            headers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.Network~1applicationGatewayAvailableServerVariables/get/responses/default/schema'
          description: Unexpected error.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Get Available Response Headers:
          parameters:
            api-version: 2019-08-01
            subscriptionId: 72f988bf-86f1-41af-91ab-2d7cd0dddd4
          responses:
            "200":
              body:
              - Access-Control-Allow-Origin
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableServerVariables:
    get:
      description: Lists all available server variables.
      operationId: ApplicationGateways_ListAvailableServerVariables
      parameters:
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayAvailableServerVariablesResult'
          description: Success. The operation returns a list of all available server
            variables.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateways_ListAvailableServerVariables_default_response'
          description: Unexpected error.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Get Available Server Variables:
          parameters:
            api-version: 2019-08-01
            subscriptionId: 72f988bf-86f1-41af-91ab-2d7cd0dddd4
          responses:
            "200":
              body:
              - request_query
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default:
    get:
      description: Lists available Ssl options for configuring Ssl policy.
      operationId: ApplicationGateways_ListAvailableSslOptions
      parameters:
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayAvailableSslOptions'
          description: Success. The operation returns all available Ssl options for
            configuring Ssl policy.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Get Available Ssl Options:
          parameters:
            api-version: 2019-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default
                name: default
                properties:
                  availableCipherSuites:
                  - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                  - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                  - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                  - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                  - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
                  - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
                  - TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
                  - TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
                  - TLS_DHE_RSA_WITH_AES_256_CBC_SHA
                  - TLS_DHE_RSA_WITH_AES_128_CBC_SHA
                  - TLS_RSA_WITH_AES_256_GCM_SHA384
                  - TLS_RSA_WITH_AES_128_GCM_SHA256
                  - TLS_RSA_WITH_AES_256_CBC_SHA256
                  - TLS_RSA_WITH_AES_128_CBC_SHA256
                  - TLS_RSA_WITH_AES_256_CBC_SHA
                  - TLS_RSA_WITH_AES_128_CBC_SHA
                  - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                  - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                  - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
                  - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
                  - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                  - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                  - TLS_DHE_DSS_WITH_AES_256_CBC_SHA256
                  - TLS_DHE_DSS_WITH_AES_128_CBC_SHA256
                  - TLS_DHE_DSS_WITH_AES_256_CBC_SHA
                  - TLS_DHE_DSS_WITH_AES_128_CBC_SHA
                  - TLS_RSA_WITH_3DES_EDE_CBC_SHA
                  - TLS_DHE_DSS_WITH_3DES_EDE_CBC_SHA
                  availableProtocols:
                  - TLSv1_0
                  - TLSv1_1
                  - TLSv1_2
                  defaultPolicy: AppGwSslPolicy20150501
                  predefinedPolicies:
                  - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                  - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401
                  - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401S
                type: Microsoft.Network/ApplicationGatewayAvailableSslOptions
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies:
    get:
      description: Lists all SSL predefined policies for configuring Ssl policy.
      operationId: ApplicationGateways_ListAvailableSslPredefinedPolicies
      parameters:
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayAvailableSslPredefinedPolicies'
          description: Success. The operation returns a lists of all Ssl predefined
            policies for configuring Ssl policy.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Get Available Ssl Predefined Policies:
          parameters:
            api-version: 2019-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                  name: AppGwSslPolicy20150501
                  properties:
                    cipherSuites:
                    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
                    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
                    - TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_DHE_RSA_WITH_AES_256_CBC_SHA
                    - TLS_DHE_RSA_WITH_AES_128_CBC_SHA
                    - TLS_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_RSA_WITH_AES_256_CBC_SHA256
                    - TLS_RSA_WITH_AES_128_CBC_SHA256
                    - TLS_RSA_WITH_AES_256_CBC_SHA
                    - TLS_RSA_WITH_AES_128_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                    - TLS_DHE_DSS_WITH_AES_256_CBC_SHA256
                    - TLS_DHE_DSS_WITH_AES_128_CBC_SHA256
                    - TLS_DHE_DSS_WITH_AES_256_CBC_SHA
                    - TLS_DHE_DSS_WITH_AES_128_CBC_SHA
                    - TLS_RSA_WITH_3DES_EDE_CBC_SHA
                    - TLS_DHE_DSS_WITH_3DES_EDE_CBC_SHA
                    minProtocolVersion: TLSv1_0
                - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401
                  name: AppGwSslPolicy20170401
                  properties:
                    cipherSuites:
                    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
                    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
                    - TLS_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_RSA_WITH_AES_256_CBC_SHA256
                    - TLS_RSA_WITH_AES_128_CBC_SHA256
                    - TLS_RSA_WITH_AES_256_CBC_SHA
                    - TLS_RSA_WITH_AES_128_CBC_SHA
                    minProtocolVersion: TLSv1_1
                - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401S
                  name: AppGwSslPolicy20170401S
                  properties:
                    cipherSuites:
                    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
                    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
                    - TLS_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_RSA_WITH_AES_256_CBC_SHA256
                    - TLS_RSA_WITH_AES_128_CBC_SHA256
                    - TLS_RSA_WITH_AES_256_CBC_SHA
                    - TLS_RSA_WITH_AES_128_CBC_SHA
                    minProtocolVersion: TLSv1_2
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies/{predefinedPolicyName}
  : get:
      description: Gets Ssl predefined policy with the specified policy name.
      operationId: ApplicationGateways_GetSslPredefinedPolicy
      parameters:
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      - description: Name of Ssl predefined policy.
        in: path
        name: predefinedPolicyName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewaySslPredefinedPolicy'
          description: Success. The operation returns a Ssl predefined policy with
            the specified policy name.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Get Available Ssl Predefined Policy by name:
          parameters:
            api-version: 2019-08-01
            predefinedPolicyName: AppGwSslPolicy20150501
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                name: AppGwSslPolicy20150501
                properties:
                  cipherSuites:
                  - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                  - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                  - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                  - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                  - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
                  - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
                  - TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
                  - TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
                  - TLS_DHE_RSA_WITH_AES_256_CBC_SHA
                  - TLS_DHE_RSA_WITH_AES_128_CBC_SHA
                  - TLS_RSA_WITH_AES_256_GCM_SHA384
                  - TLS_RSA_WITH_AES_128_GCM_SHA256
                  - TLS_RSA_WITH_AES_256_CBC_SHA256
                  - TLS_RSA_WITH_AES_128_CBC_SHA256
                  - TLS_RSA_WITH_AES_256_CBC_SHA
                  - TLS_RSA_WITH_AES_128_CBC_SHA
                  - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                  - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                  - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
                  - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
                  - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                  - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                  - TLS_DHE_DSS_WITH_AES_256_CBC_SHA256
                  - TLS_DHE_DSS_WITH_AES_128_CBC_SHA256
                  - TLS_DHE_DSS_WITH_AES_256_CBC_SHA
                  - TLS_DHE_DSS_WITH_AES_128_CBC_SHA
                  - TLS_RSA_WITH_3DES_EDE_CBC_SHA
                  - TLS_DHE_DSS_WITH_3DES_EDE_CBC_SHA
                  minProtocolVersion: TLSv1_0
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableWafRuleSets:
    get:
      description: Lists all available web application firewall rule sets.
      operationId: ApplicationGateways_ListAvailableWafRuleSets
      parameters:
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayAvailableWafRuleSetsResult'
          description: Success. The operation returns a list of all available web
            application firewall rule sets.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Get Available Waf Rule Sets:
          parameters:
            api-version: 2019-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions//resourceGroups//providers/Microsoft.Network/applicationGatewayAvailableWafRuleSets/
                  name: OWASP_3.0
                  properties:
                    provisioningState: Succeeded
                    ruleGroups:
                    - description: ""
                      ruleGroupName: General
                      rules:
                      - description: Possible Multipart Unmatched Boundary.
                        ruleId: 200004
                    ruleSetType: OWASP
                    ruleSetVersion: "3.0"
                  type: Microsoft.Network/applicationGatewayAvailableWafRuleSets
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways:
    get:
      description: Gets all the application gateways in a subscription.
      operationId: ApplicationGateways_ListAll
      parameters:
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
          description: Success. The operation returns a list of ApplicationGateway
            resources.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Lists all application gateways in a subscription:
          parameters:
            api-version: 2019-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - location: southcentralus
                  name: appgw
                  properties:
                    backendAddressPools:
                    - name: appgwpool
                      properties:
                        backendAddresses:
                        - ipAddress: 10.0.1.1
                        - ipAddress: 10.0.1.2
                    backendHttpSettingsCollection:
                    - name: appgwbhs
                      properties:
                        cookieBasedAffinity: Disabled
                        port: 80
                        protocol: Http
                        requestTimeout: 30
                    frontendIPConfigurations:
                    - name: appgwfip
                      properties:
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                    frontendPorts:
                    - name: appgwfp
                      properties:
                        port: 443
                    gatewayIPConfigurations:
                    - name: appgwipc
                      properties:
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/appgwsubnet
                    httpListeners:
                    - name: appgwhl
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                        protocol: Https
                        requireServerNameIndication: false
                        sslCertificate:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                    requestRoutingRules:
                    - name: appgwrule
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                        ruleType: Basic
                    sku:
                      capacity: 3
                      name: Standard_Medium
                      tier: Standard
                    sslCertificates:
                    - name: sslcert
                      properties:
                        data: base64-pfxData
                        password: pass1
                  type: Microsoft.Network/applicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways:
    get:
      description: Lists all application gateways in a resource group.
      operationId: ApplicationGateways_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
          description: Success. The operation returns a list of ApplicationGateway
            resources.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Lists all application gateways in a resource group:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - location: southcentralus
                  name: appgw
                  properties:
                    backendAddressPools:
                    - name: appgwpool
                      properties:
                        backendAddresses:
                        - ipAddress: 10.0.1.1
                        - ipAddress: 10.0.1.2
                    backendHttpSettingsCollection:
                    - name: appgwbhs
                      properties:
                        cookieBasedAffinity: Disabled
                        port: 80
                        protocol: Http
                        requestTimeout: 30
                    frontendIPConfigurations:
                    - name: appgwfip
                      properties:
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                    frontendPorts:
                    - name: appgwfp
                      properties:
                        port: 443
                    gatewayIPConfigurations:
                    - name: appgwipc
                      properties:
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/appgwsubnet
                    httpListeners:
                    - name: appgwhl
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                        protocol: Https
                        requireServerNameIndication: false
                        sslCertificate:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                    requestRoutingRules:
                    - name: appgwrule
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                        ruleType: Basic
                    sku:
                      capacity: 3
                      name: Standard_Medium
                      tier: Standard
                    sslCertificates:
                    - name: sslcert
                      properties:
                        data: base64-pfxData
                        password: pass1
                  type: Microsoft.Network/applicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}
  : delete:
      description: Deletes the specified application gateway.
      operationId: ApplicationGateways_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource with the specified name does not
            exist.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Delete ApplicationGateway:
          parameters:
            api-version: 2019-08-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
    get:
      description: Gets the specified application gateway.
      operationId: ApplicationGateways_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: Request successful. The operation returns an ApplicationGateway
            resource.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Get ApplicationGateway:
          parameters:
            api-version: 2019-08-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw
                location: southcentralus
                name: appgw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                    name: appgwpool
                    properties:
                      backendAddresses: []
                      provisioningState: Succeeded
                  backendHttpSettingsCollection:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                    name: appgwbhs
                    properties:
                      cookieBasedAffinity: Disabled
                      port: 80
                      protocol: Http
                      provisioningState: Succeeded
                      requestTimeout: 30
                  frontendIPConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                    name: appgwfip
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                  frontendPorts:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                    name: appgwfp
                    properties:
                      port: 443
                      provisioningState: Succeeded
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                    name: appgwfp80
                    properties:
                      port: 80
                      provisioningState: Succeeded
                  gatewayIPConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/gatewayIPConfigurations/appgwipc
                    name: appgwipc
                    properties:
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/virtualNetwork1/subnets/appgwsubnet
                  httpListeners:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                    name: appgwhl
                    properties:
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      frontendPort:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                      protocol: Https
                      provisioningState: Succeeded
                      requireServerNameIndication: false
                      sslCertificate:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                    name: appgwhttplistener
                    properties:
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      frontendPort:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                      protocol: Http
                      provisioningState: Succeeded
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  requestRoutingRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwrule
                    name: appgwrule
                    properties:
                      backendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      backendHttpSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      httpListener:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                      priority: 10
                      provisioningState: Succeeded
                      rewriteRuleSet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      ruleType: Basic
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwPathBasedRule
                    name: appgwPathBasedRule
                    properties:
                      httpListener:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                      priority: 20
                      provisioningState: Succeeded
                      ruleType: PathBasedRouting
                      urlPathMap:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                  rewriteRuleSets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                    name: rewriteRuleSet1
                    properties:
                      provisioningState: Succeeded
                      rewriteRules:
                      - actionSet:
                          requestHeaderConfigurations:
                          - headerName: X-Forwarded-For
                            headerValue: "{var_remote-addr}"
                          responseHeaderConfigurations:
                          - headerName: Strict-Transport-Security
                            headerValue: max-age=31536000
                        conditions:
                        - ignoreCase: true
                          negate: false
                          pattern: ^Bearer
                          variable: http_req_Authorization
                        name: Set X-Forwarded-For
                        ruleSequence: 102
                  sku:
                    capacity: 3
                    name: Standard_Medium
                    tier: Standard
                  sslCertificates:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                    name: sslcert
                    properties:
                      provisioningState: Succeeded
                      publicCertData: '*****'
                  urlPathMaps:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                    name: pathMap1
                    properties:
                      defaultBackendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      defaultBackendHttpSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      defaultRewriteRuleSet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      pathRules:
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1/pathRules/apiPaths
                        name: apiPaths
                        properties:
                          backendAddressPool:
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                          backendHttpSettings:
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                          paths:
                          - /api
                          - /v1/api
                          provisioningState: Succeeded
                          rewriteRuleSet:
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      provisioningState: Succeeded
                type: Microsoft.Network/applicationGateways
      x-accepts:
      - application/json
    patch:
      description: Updates the specified application gateway tags.
      operationId: ApplicationGateways_UpdateTags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateways_UpdateTags_request'
        description: Parameters supplied to update application gateway tags.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: Update successful. The operation returns the resulting ApplicationGateway
            resource.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Update Application Gateway tags:
          parameters:
            api-version: 2019-08-01
            applicationGatewayName: AppGw
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw
                location: westus
                name: AppGw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendAddressPools/Pool01
                    name: Pool01
                    properties:
                      backendAddresses:
                      - ipAddress: 10.10.10.1
                      - ipAddress: 10.10.10.2
                      - ipAddress: 10.10.10.3
                      provisioningState: Succeeded
                  backendHttpSettingsCollection:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendHttpSettingsCollection/PoolSetting01
                    name: PoolSetting01
                    properties:
                      cookieBasedAffinity: Disabled
                      pickHostNameFromBackendAddress: false
                      port: 80
                      protocol: Http
                      provisioningState: Succeeded
                      requestTimeout: 30
                  frontendIPConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendIPConfigurations/FrontEndConfig01
                    name: FrontEndConfig01
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/publicIp1
                  frontendPorts:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendPorts/FrontEndPort01
                    name: FrontEndPort01
                    properties:
                      port: 80
                      provisioningState: Succeeded
                  gatewayIPConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/gatewayIPConfigurations/GatewayIp01
                    name: GatewayIp01
                    properties:
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1
                  httpListeners:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/httpListeners/listener1
                    name: listener1
                    properties:
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendIPConfigurations/FrontEndConfig01
                      frontendPort:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendPorts/FrontEndPort01
                      protocol: Http
                      provisioningState: Succeeded
                      requireServerNameIndication: false
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  redirectConfigurations: []
                  requestRoutingRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/requestRoutingRules/Rule01
                    name: Rule01
                    properties:
                      backendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendAddressPools/Pool01
                      backendHttpSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendHttpSettingsCollection/PoolSetting01
                      httpListener:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/httpListeners/listener1
                      provisioningState: Succeeded
                      ruleType: Basic
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 2
                    name: Standard_Small
                    tier: Standard
                  sslCertificates: []
                  urlPathMaps: []
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/applicationGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates the specified application gateway.
      operationId: ApplicationGateways_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateway'
        description: Parameters supplied to the create or update application gateway
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: Update successful. The operation returns the resulting ApplicationGateway
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: Create successful. The operation returns the resulting ApplicationGateway
            resource.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Create Application Gateway:
          parameters:
            api-version: 2019-08-01
            applicationGatewayName: appgw
            parameters:
              identity:
                type: UserAssigned
                userAssignedIdentities:
                  /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1: {}
              location: eastus
              properties:
                backendAddressPools:
                - name: appgwpool
                  properties:
                    backendAddresses:
                    - ipAddress: 10.0.1.1
                    - ipAddress: 10.0.1.2
                backendHttpSettingsCollection:
                - name: appgwbhs
                  properties:
                    cookieBasedAffinity: Disabled
                    port: 80
                    protocol: Http
                    requestTimeout: 30
                frontendIPConfigurations:
                - name: appgwfip
                  properties:
                    publicIPAddress:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                frontendPorts:
                - name: appgwfp
                  properties:
                    port: 443
                - name: appgwfp80
                  properties:
                    port: 80
                gatewayIPConfigurations:
                - name: appgwipc
                  properties:
                    subnet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/appgwsubnet
                httpListeners:
                - name: appgwhl
                  properties:
                    frontendIPConfiguration:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                    frontendPort:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                    protocol: Https
                    requireServerNameIndication: false
                    sslCertificate:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                - name: appgwhttplistener
                  properties:
                    frontendIPConfiguration:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                    frontendPort:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                    protocol: Http
                requestRoutingRules:
                - name: appgwrule
                  properties:
                    backendAddressPool:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                    backendHttpSettings:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                    httpListener:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                    priority: 10
                    rewriteRuleSet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                    ruleType: Basic
                - name: appgwPathBasedRule
                  properties:
                    httpListener:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                    priority: 20
                    ruleType: PathBasedRouting
                    urlPathMap:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                rewriteRuleSets:
                - name: rewriteRuleSet1
                  properties:
                    rewriteRules:
                    - actionSet:
                        requestHeaderConfigurations:
                        - headerName: X-Forwarded-For
                          headerValue: "{var_add_x_forwarded_for_proxy}"
                        responseHeaderConfigurations:
                        - headerName: Strict-Transport-Security
                          headerValue: max-age=31536000
                      conditions:
                      - ignoreCase: true
                        negate: false
                        pattern: ^Bearer
                        variable: http_req_Authorization
                      name: Set X-Forwarded-For
                      ruleSequence: 102
                sku:
                  capacity: 3
                  name: Standard_v2
                  tier: Standard_v2
                sslCertificates:
                - name: sslcert
                  properties:
                    data: '****'
                    password: '****'
                - name: sslcert2
                  properties:
                    keyVaultSecretId: https://kv/secret
                trustedRootCertificates:
                - name: rootcert
                  properties:
                    data: '****'
                - name: rootcert1
                  properties:
                    keyVaultSecretId: https://kv/secret
                urlPathMaps:
                - name: pathMap1
                  properties:
                    defaultBackendAddressPool:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                    defaultBackendHttpSettings:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                    defaultRewriteRuleSet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                    pathRules:
                    - name: apiPaths
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        paths:
                        - /api
                        - /v1/api
                        rewriteRuleSet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw
                location: southcentralus
                name: appgw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                    name: appgwpool
                    properties:
                      backendAddresses: []
                      provisioningState: Succeeded
                  backendHttpSettingsCollection:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                    name: appgwbhs
                    properties:
                      cookieBasedAffinity: Disabled
                      port: 80
                      protocol: Http
                      provisioningState: Succeeded
                      requestTimeout: 30
                  frontendIPConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                    name: appgwfip
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                  frontendPorts:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                    name: appgwfp
                    properties:
                      port: 443
                      provisioningState: Succeeded
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                    name: appgwfp80
                    properties:
                      port: 80
                      provisioningState: Succeeded
                  gatewayIPConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/gatewayIPConfigurations/appgwipc
                    name: appgwipc
                    properties:
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/virtualNetwork1/subnets/appgwsubnet
                  httpListeners:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                    name: appgwhl
                    properties:
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      frontendPort:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                      protocol: Https
                      provisioningState: Succeeded
                      requireServerNameIndication: false
                      sslCertificate:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                    name: appgwhttplistener
                    properties:
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      frontendPort:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                      protocol: Http
                      provisioningState: Succeeded
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  requestRoutingRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwrule
                    name: appgwrule
                    properties:
                      backendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      backendHttpSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      httpListener:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                      provisioningState: Succeeded
                      rewriteRuleSet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      ruleType: Basic
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwPathBasedRule
                    name: appgwPathBasedRule
                    properties:
                      httpListener:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                      provisioningState: Succeeded
                      ruleType: PathBasedRouting
                      urlPathMap:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                  rewriteRuleSets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                    name: rewriteRuleSet1
                    properties:
                      provisioningState: Succeeded
                      rewriteRules:
                      - actionSet:
                          requestHeaderConfigurations:
                          - headerName: X-Forwarded-For
                            headerValue: "{var_remote-addr}"
                          responseHeaderConfigurations:
                          - headerName: Strict-Transport-Security
                            headerValue: max-age=31536000
                        conditions:
                        - ignoreCase: true
                          negate: false
                          pattern: ^Bearer
                          variable: http_req_Authorization
                        name: Set X-Forwarded-For
                        ruleSequence: 102
                  sku:
                    capacity: 3
                    name: Standard_Medium
                    tier: Standard
                  sslCertificates:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                    name: sslcert
                    properties:
                      provisioningState: Succeeded
                      publicCertData: '*****'
                  urlPathMaps:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                    name: pathMap1
                    properties:
                      defaultBackendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      defaultBackendHttpSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      defaultRewriteRuleSet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      pathRules:
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1/pathRules/apiPaths
                        name: apiPaths
                        properties:
                          backendAddressPool:
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                          backendHttpSettings:
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                          paths:
                          - /api
                          - /v1/api
                          provisioningState: Succeeded
                          rewriteRuleSet:
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      provisioningState: Succeeded
                type: Microsoft.Network/applicationGateways
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw
                location: southcentralus
                name: appgw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                    name: appgwpool
                    properties:
                      backendAddresses: []
                      provisioningState: Succeeded
                  backendHttpSettingsCollection:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                    name: appgwbhs
                    properties:
                      cookieBasedAffinity: Disabled
                      port: 80
                      protocol: Http
                      provisioningState: Succeeded
                      requestTimeout: 30
                  frontendIPConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                    name: appgwfip
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                  frontendPorts:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                    name: appgwfp
                    properties:
                      port: 443
                      provisioningState: Succeeded
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                    name: appgwfp80
                    properties:
                      port: 80
                      provisioningState: Succeeded
                  gatewayIPConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/gatewayIPConfigurations/appgwipc
                    name: appgwipc
                    properties:
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/virtualNetwork1/subnets/appgwsubnet
                  httpListeners:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                    name: appgwhl
                    properties:
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      frontendPort:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                      protocol: Https
                      provisioningState: Succeeded
                      requireServerNameIndication: false
                      sslCertificate:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                    name: appgwhttplistener
                    properties:
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      frontendPort:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                      protocol: Http
                      provisioningState: Succeeded
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  requestRoutingRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwrule
                    name: appgwrule
                    properties:
                      backendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      backendHttpSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      httpListener:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                      provisioningState: Succeeded
                      rewriteRuleSet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      ruleType: Basic
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwPathBasedRule
                    name: appgwPathBasedRule
                    properties:
                      httpListener:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                      provisioningState: Succeeded
                      ruleType: PathBasedRouting
                      urlPathMap:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                  rewriteRuleSets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                    name: rewriteRuleSet1
                    properties:
                      provisioningState: Succeeded
                      rewriteRules:
                      - actionSet:
                          requestHeaderConfigurations:
                          - headerName: X-Forwarded-For
                            headerValue: "{var_remote-addr}"
                          responseHeaderConfigurations:
                          - headerName: Strict-Transport-Security
                            headerValue: max-age=31536000
                        conditions:
                        - ignoreCase: true
                          negate: false
                          pattern: ^Bearer
                          variable: http_req_Authorization
                        name: Set X-Forwarded-For
                        ruleSequence: 102
                  sku:
                    capacity: 3
                    name: Standard_Medium
                    tier: Standard
                  sslCertificates:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                    name: sslcert
                    properties:
                      provisioningState: Succeeded
                      publicCertData: '*****'
                  urlPathMaps:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                    name: pathMap1
                    properties:
                      defaultBackendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      defaultBackendHttpSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      defaultRewriteRuleSet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      pathRules:
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1/pathRules/apiPaths
                        name: apiPaths
                        properties:
                          backendAddressPool:
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                          backendHttpSettings:
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                          paths:
                          - /api
                          - /v1/api
                          provisioningState: Succeeded
                          rewriteRuleSet:
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      provisioningState: Succeeded
                type: Microsoft.Network/applicationGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/backendhealth
  : post:
      description: Gets the backend health of the specified application gateway in
        a resource group.
      operationId: ApplicationGateways_BackendHealth
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands BackendAddressPool and BackendHttpSettings referenced
          in backend health.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayBackendHealth'
          description: Request successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Get Backend Health:
          parameters:
            api-version: 2019-08-01
            applicationGatewayName: appgw
            resourceGroupName: appgw
            subscriptionId: subid
          responses:
            "200":
              body:
                backendAddressPools:
                - backendAddressPool:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendaddressPools/MFAnalyticsPool
                  backendHttpSettingsCollection:
                  - backendHttpSettings:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/MFPoolSettings
                    servers:
                    - address: 10.220.1.8
                      health: Up
                - backendAddressPool:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendaddressPools/MFPool
                  backendHttpSettingsCollection:
                  - backendHttpSettings:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/MFPoolSettings
                    servers:
                    - address: 10.220.1.4
                      health: Up
                    - address: 10.220.1.5
                      health: Up
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/getBackendHealthOnDemand
  : post:
      description: Gets the backend health for given combination of backend pool and
        http setting of the specified application gateway in a resource group.
      operationId: ApplicationGateways_BackendHealthOnDemand
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      - description: Expands BackendAddressPool and BackendHttpSettings referenced
          in backend health.
        in: query
        name: $expand
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGatewayOnDemandProbe'
        description: Request body for on-demand test probe operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayBackendHealthOnDemand'
          description: Request successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Test Backend Health:
          parameters:
            api-version: 2019-08-01
            applicationGatewayName: appgw
            probeRequest:
              backendAddressPool:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendaddressPools/MFAnalyticsPool
              backendHttpSettings:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/MFPoolSettings
              path: /
              pickHostNameFromBackendHttpSettings: true
              protocol: Http
              timeout: 30
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                backendAddressPool:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendaddressPools/MFAnalyticsPool
                backendHealthHttpSettings:
                  backendHttpSettings:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/MFPoolSettings
                  servers:
                  - address: 10.220.1.4
                    health: Up
                  - address: 10.220.1.5
                    health: Up
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: probeRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start
  : post:
      description: Starts the specified application gateway.
      operationId: ApplicationGateways_Start
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content: {}
          description: Request successful. The operation starts the ApplicationGateway
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Start Application Gateway:
          parameters:
            api-version: 2019-08-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop
  : post:
      description: Stops the specified application gateway in a resource group.
      operationId: ApplicationGateways_Stop
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2'
      - $ref: '#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3'
      responses:
        "200":
          content: {}
          description: Request successful. The operation stops the ApplicationGateway
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Stop Application Gateway:
          parameters:
            api-version: 2019-08-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
components:
  schemas:
    ApplicationGateway:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Application gateway resource.
      example:
        identity: "{}"
        etag: etag
        zones:
        - zones
        - zones
        properties:
          sslPolicy:
            policyName: AppGwSslPolicy20150501
            cipherSuites:
            - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
            - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
            policyType: Predefined
            disabledSslProtocols:
            - TLSv1_0
            - TLSv1_0
            minProtocolVersion: null
          backendHttpSettingsCollection:
          - name: name
            etag: etag
            type: type
            properties:
              affinityCookieName: affinityCookieName
              hostName: hostName
              probeEnabled: true
              cookieBasedAffinity: Enabled
              provisioningState: "{}"
              pickHostNameFromBackendAddress: true
              trustedRootCertificates:
              - "{}"
              - "{}"
              probe: "{}"
              authenticationCertificates:
              - "{}"
              - "{}"
              path: path
              protocol: Http
              port: 5
              connectionDraining:
                drainTimeoutInSec: 528
                enabled: true
              requestTimeout: 5
          - name: name
            etag: etag
            type: type
            properties:
              affinityCookieName: affinityCookieName
              hostName: hostName
              probeEnabled: true
              cookieBasedAffinity: Enabled
              provisioningState: "{}"
              pickHostNameFromBackendAddress: true
              trustedRootCertificates:
              - "{}"
              - "{}"
              probe: "{}"
              authenticationCertificates:
              - "{}"
              - "{}"
              path: path
              protocol: Http
              port: 5
              connectionDraining:
                drainTimeoutInSec: 528
                enabled: true
              requestTimeout: 5
          customErrorConfigurations:
          - customErrorPageUrl: customErrorPageUrl
            statusCode: HttpStatus403
          - customErrorPageUrl: customErrorPageUrl
            statusCode: HttpStatus403
          requestRoutingRules:
          - name: name
            etag: etag
            type: type
            properties:
              redirectConfiguration: "{}"
              httpListener: "{}"
              ruleType: Basic
              backendAddressPool: "{}"
              rewriteRuleSet: "{}"
              provisioningState: "{}"
              priority: 14772
              urlPathMap: "{}"
              backendHttpSettings: "{}"
          - name: name
            etag: etag
            type: type
            properties:
              redirectConfiguration: "{}"
              httpListener: "{}"
              ruleType: Basic
              backendAddressPool: "{}"
              rewriteRuleSet: "{}"
              provisioningState: "{}"
              priority: 14772
              urlPathMap: "{}"
              backendHttpSettings: "{}"
          autoscaleConfiguration:
            maxCapacity: 2
            minCapacity: 0
          probes:
          - name: name
            etag: etag
            type: type
            properties:
              path: path
              protocol: null
              port: 23698
              host: host
              match:
                statusCodes:
                - statusCodes
                - statusCodes
                body: body
              unhealthyThreshold: 4
              interval: 7
              minServers: 9
              pickHostNameFromBackendHttpSettings: true
              provisioningState: "{}"
              timeout: 2
          - name: name
            etag: etag
            type: type
            properties:
              path: path
              protocol: null
              port: 23698
              host: host
              match:
                statusCodes:
                - statusCodes
                - statusCodes
                body: body
              unhealthyThreshold: 4
              interval: 7
              minServers: 9
              pickHostNameFromBackendHttpSettings: true
              provisioningState: "{}"
              timeout: 2
          backendAddressPools:
          - name: name
            etag: etag
            type: type
            properties:
              backendIPConfigurations:
              - "{}"
              - "{}"
              provisioningState: "{}"
              backendAddresses:
              - fqdn: fqdn
                ipAddress: ipAddress
              - fqdn: fqdn
                ipAddress: ipAddress
          - name: name
            etag: etag
            type: type
            properties:
              backendIPConfigurations:
              - "{}"
              - "{}"
              provisioningState: "{}"
              backendAddresses:
              - fqdn: fqdn
                ipAddress: ipAddress
              - fqdn: fqdn
                ipAddress: ipAddress
          sku:
            tier: Standard
            name: Standard_Small
            capacity: 1
          httpListeners:
          - name: name
            etag: etag
            type: type
            properties:
              hostName: hostName
              protocol: null
              sslCertificate: "{}"
              frontendIPConfiguration: "{}"
              customErrorConfigurations:
              - customErrorPageUrl: customErrorPageUrl
                statusCode: HttpStatus403
              - customErrorPageUrl: customErrorPageUrl
                statusCode: HttpStatus403
              frontendPort: "{}"
              provisioningState: Succeeded
              requireServerNameIndication: true
          - name: name
            etag: etag
            type: type
            properties:
              hostName: hostName
              protocol: null
              sslCertificate: "{}"
              frontendIPConfiguration: "{}"
              customErrorConfigurations:
              - customErrorPageUrl: customErrorPageUrl
                statusCode: HttpStatus403
              - customErrorPageUrl: customErrorPageUrl
                statusCode: HttpStatus403
              frontendPort: "{}"
              provisioningState: Succeeded
              requireServerNameIndication: true
          firewallPolicy: "{}"
          sslCertificates:
          - name: name
            etag: etag
            type: type
            properties:
              password: password
              data: data
              provisioningState: "{}"
              publicCertData: publicCertData
              keyVaultSecretId: keyVaultSecretId
          - name: name
            etag: etag
            type: type
            properties:
              password: password
              data: data
              provisioningState: "{}"
              publicCertData: publicCertData
              keyVaultSecretId: keyVaultSecretId
          resourceGuid: resourceGuid
          redirectConfigurations:
          - name: name
            etag: etag
            type: type
            properties:
              targetListener: "{}"
              pathRules:
              - "{}"
              - "{}"
              urlPathMaps:
              - "{}"
              - "{}"
              includePath: true
              redirectType: Permanent
              targetUrl: targetUrl
              requestRoutingRules:
              - "{}"
              - "{}"
              includeQueryString: true
          - name: name
            etag: etag
            type: type
            properties:
              targetListener: "{}"
              pathRules:
              - "{}"
              - "{}"
              urlPathMaps:
              - "{}"
              - "{}"
              includePath: true
              redirectType: Permanent
              targetUrl: targetUrl
              requestRoutingRules:
              - "{}"
[...]
