openapi: 3.0.1
info:
  description: The User Subscription Management Client.
  title: SubscriptionClient
  version: 2015-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/user-subscriptions/Microsoft.Subscriptions/preview/2015-11-01/Subscriptions.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Subscriptions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions:
    get:
      description: Get the list of subscriptions.
      operationId: subscriptions_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionList'
          description: OK
      tags:
      - Subscriptions
      x-ms-examples:
        Get the list of subscriptions.:
          parameters:
            api-version: 2015-11-01
          responses:
            "200":
              body:
              - displayName: Test User-user1@contoso.com
                id: /subscriptions/17c22a2f-9a79-4f90-a34c-aa8d9b942071
                offerId: /delegatedProviders/default/offers/TestOffer-def2432b-81ef-4480-9211-c18e808c3d1b
                state: Enabled
                subscriptionId: 17c22a2f-9a79-4f90-a34c-aa8d9b942071
                tenantId: 1e64bce5-9f3b-4add-8be8-e550e05014d0
              - displayName: Test User-user1@contoso.com
                id: /subscriptions/7d3c5374-0180-4743-b468-d87bec909693
                offerId: /delegatedProviders/default/offers/TestOffer-c2e9d93a-d8a2-4ec9-970e-3dcd8c47c525
                state: Disabled
                subscriptionId: 7d3c5374-0180-4743-b468-d87bec909693
                tenantId: 1e64bce5-9f3b-4add-8be8-e550e05014d0
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
  /subscriptions/{subscriptionId}:
    delete:
      description: Delete the specified subscription.
      operationId: subscriptions_delete
      parameters:
      - description: Id of the subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - Subscriptions
      x-ms-examples:
        Delete the specified subscription:
          parameters:
            api-version: 2015-11-01
            location: local
            subscription: test
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
    get:
      description: Gets details about particular subscription.
      operationId: subscriptions_get
      parameters:
      - description: Id of the subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: ""
      tags:
      - Subscriptions
      x-ms-examples:
        Get the specified subscription.:
          parameters:
            api-version: 2015-11-01
            subscriptionId: 7d3c5374-0180-4743-b468-d87bec909693
          responses:
            "200":
              body:
                displayName: Test User-user1@msazurestack.onmicrosoft.com
                id: /subscriptions/7d3c5374-0180-4743-b468-d87bec909693
                offerId: /delegatedProviders/default/offers/TestOffer-c2e9d93a-d8a2-4ec9-970e-3dcd8c47c525
                state: Disabled
                subscriptionId: 7d3c5374-0180-4743-b468-d87bec909693
                tenantId: 1e64bce5-9f3b-4add-8be8-e550e05014d0
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
    put:
      description: Create or updates a subscription.
      operationId: subscriptions_create_or_update
      parameters:
      - description: Id of the subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-11-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
        description: Subscription parameter.
        required: true
        x-ms-parameter-location: method
        x-body-name: newSubscription
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Created
      tags:
      - Subscriptions
      x-ms-examples:
        Create or updates a subscription:
          parameters:
            api-version: 2015-11-01
            location: local
            newSubscription:
              properties:
                displayName: Test User-user1@contoso.com
                id: ""
                offerId: /delegatedProviders/default/offers/TestOffer-0892f99c-8d1c-48d1-a2b3-128a931afc09
                state: Enabled
                subscriptionId: a7aeb2dd-1b1d-458c-a3dc-09070c2ece5e
                tenantId: ""
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                displayName: Test User-user1@contoso.com
                id: /subscriptions/a7aeb2dd-1b1d-458c-a3dc-09070c2ece5e
                offerId: /delegatedProviders/default/offers/TestOffer-0892f99c-8d1c-48d1-a2b3-128a931afc09
                state: Enabled
                subscriptionId: a7aeb2dd-1b1d-458c-a3dc-09070c2ece5e
                tenantId: 1e64bce5-9f3b-4add-8be8-e550e05014d0
            "201":
              body:
                displayName: Test User-user1@contoso.com
                id: /subscriptions/a7aeb2dd-1b1d-458c-a3dc-09070c2ece5e
                offerId: /delegatedProviders/default/offers/TestOffer-0892f99c-8d1c-48d1-a2b3-128a931afc09
                state: Enabled
                subscriptionId: a7aeb2dd-1b1d-458c-a3dc-09070c2ece5e
                tenantId: 1e64bce5-9f3b-4add-8be8-e550e05014d0
      x-codegen-request-body-name: newSubscription
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2015-11-01
        type: string
    SubscriptionIdParameter:
      description: Id of the subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    NewSubscriptionParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Subscription'
      description: Subscription parameter.
      required: true
      x-ms-parameter-location: method
      x-body-name: newSubscription
  schemas:
    Resource:
      description: Base Resource Object
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Location of the resource
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key-value pairs.
          readOnly: true
          type: object
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Subscription:
      description: List of supported operations.
      example:
        displayName: displayName
        tenantId: tenantId
        offerId: offerId
        id: id
        state: NotDefined
        subscriptionId: subscriptionId
      properties:
        displayName:
          description: Subscription name.
          title: displayName
          type: string
        id:
          description: Fully qualified identifier.
          title: id
          type: string
        offerId:
          description: Identifier of the offer under the scope of a delegated provider.
          title: offerId
          type: string
        state:
          $ref: '#/components/schemas/SubscriptionState'
        subscriptionId:
          description: Subscription identifier.
          title: subscriptionId
          type: string
        tenantId:
          description: Directory tenant identifier.
          title: tenantId
          type: string
      title: Subscription
      type: object
    SubscriptionList:
      description: List of subscriptions.
      example:
        value:
        - displayName: displayName
          tenantId: tenantId
          offerId: offerId
          id: id
          state: NotDefined
          subscriptionId: subscriptionId
        - displayName: displayName
          tenantId: tenantId
          offerId: offerId
          id: id
          state: NotDefined
          subscriptionId: subscriptionId
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          title: nextLink
          type: string
        value:
          description: Subscription definition.
          items:
            $ref: '#/components/schemas/Subscription'
          title: value
          type: array
      title: SubscriptionList
      type: object
    SubscriptionState:
      description: Subscription notification state.
      enum:
      - NotDefined
      - Enabled
      - Warned
      - PastDue
      - Disabled
      - Deleted
      title: SubscriptionState
      type: string
      x-ms-enum:
        modelAsString: true
        name: SubscriptionState
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
