openapi: 3.0.0
info:
  contact:
    x-twitter: HighwaysEngland
  title: Highways England API
  version: v1
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://twitter.com/HighwaysEngland/profile_image?size=original
  x-origin:
  - format: openapi
    url: http://webtris.highwaysengland.co.uk/api/swagger/docs/v1
    version: "3.0"
  x-providerName: highwaysengland.co.uk
servers:
- url: https://webtris.highwaysengland.co.uk/api
paths:
  /v{version}/areas:
    get:
      deprecated: false
      operationId: areas_get
      parameters:
      - explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreaResponse'
          description: ""
        "400":
          description: Bad request
        "500":
          description: Internal Server Error
      summary: Returns list of areas
      tags:
      - Areas
      x-openapi-router-controller: openapi_server.controllers.areas_controller
  /v{version}/areas/{area_Ids}:
    get:
      deprecated: false
      operationId: vversion_areas_area_ids_get
      parameters:
      - explode: false
        in: path
        name: area_Ids
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreaResponse'
          description: ""
        "400":
          description: Bad request
        "500":
          description: Internal Server Error
      summary: Returns details of selected area
      tags:
      - Areas
      x-openapi-router-controller: openapi_server.controllers.areas_controller
  /v{version}/quality/daily:
    get:
      deprecated: false
      operationId: quality_get_daily_data_quality_for_site
      parameters:
      - explode: true
        in: query
        name: siteId
        required: true
        schema:
          type: string
        style: form
      - description: The start date of the report in the format ddmmyyyy (i.e 31012016)
        explode: true
        in: query
        name: start_date
        required: true
        schema:
          type: string
        style: form
      - description: The end date of the report in the format ddmmyyyy (i.e 31012016)
        explode: true
        in: query
        name: end_date
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyQualityResponse'
          description: ""
        "400":
          description: Bad request
        "500":
          description: Internal Server Error
      summary: Get Site DailyQuality
      tags:
      - Quality
      x-openapi-router-controller: openapi_server.controllers.quality_controller
  /v{version}/quality/overall:
    get:
      deprecated: false
      operationId: quality_get_overall_data_quality_for_sites
      parameters:
      - description: "Get site quality by site id delimited by ,"
        explode: true
        in: query
        name: sites
        required: true
        schema:
          type: string
        style: form
      - description: The start date of the report in the format ddmmyyyy (i.e 31012016)
        explode: true
        in: query
        name: start_date
        required: true
        schema:
          type: string
        style: form
      - description: The end date of the report in the format ddmmyyyy (i.e 31012016)
        explode: true
        in: query
        name: end_date
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverallQualityResponse'
          description: ""
        "400":
          description: Bad request
        "500":
          description: Internal Server Error
      summary: Get Site OverallQuality
      tags:
      - Quality
      x-openapi-router-controller: openapi_server.controllers.quality_controller
  /v{version}/reports/{report_type}:
    get:
      deprecated: false
      description: Get's the report.
      operationId: reports_index
      parameters:
      - description: "Report Type Id (i.e Daily, Monthly, Annual)"
        explode: false
        in: path
        name: report_type
        required: true
        schema:
          type: string
        style: simple
      - description: Comma separated list of site Ids.
        explode: true
        in: query
        name: sites
        required: true
        schema:
          type: string
        style: form
      - description: The start date of the report in the format ddmmyyyy (i.e 31012016)
        explode: true
        in: query
        name: start_date
        required: true
        schema:
          type: string
        style: form
      - description: The end date of the report in the format ddmmyyyy (i.e 31012016)
        explode: true
        in: query
        name: end_date
        required: true
        schema:
          type: string
        style: form
      - description: The page offset to return.
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The number of rows to return.
        explode: true
        in: query
        name: page_size
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: reportSubTypeId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: ""
        "400":
          description: Bad request
        "500":
          description: Internal Server Error
      summary: Gets the daily report.
      tags:
      - Reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /v{version}/reports/{start_date}/to/{end_date}/{report_type}:
    get:
      deprecated: false
      description: Get's the report.
      operationId: vversion_reports_start_date_to_end_date_report_type_get
      parameters:
      - description: "Report Type Id (i.e Daily, Monthly, Annual)"
        explode: false
        in: path
        name: report_type
        required: true
        schema:
          type: string
        style: simple
      - description: Comma separated list of site Ids.
        explode: true
        in: query
        name: sites
        required: true
        schema:
          type: string
        style: form
      - description: The start date of the report in the format ddmmyyyy (i.e 31012016)
        explode: false
        in: path
        name: start_date
        required: true
        schema:
          type: string
        style: simple
      - description: The end date of the report in the format ddmmyyyy (i.e 31012016)
        explode: false
        in: path
        name: end_date
        required: true
        schema:
          type: string
        style: simple
      - description: The page offset to return.
        explode: true
        in: query
        name: page
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The number of rows to return.
        explode: true
        in: query
        name: page_size
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: reportSubTypeId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: ""
        "400":
          description: Bad request
        "500":
          description: Internal Server Error
      summary: Gets the daily report.
      tags:
      - Reports
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /v{version}/sites:
    get:
      deprecated: false
      operationId: sites_index
      parameters:
      - explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteResponse'
          description: ""
        "400":
          description: Bad request
        "500":
          description: Internal Server Error
      summary: Get a list of sites
      tags:
      - Sites
      x-openapi-router-controller: openapi_server.controllers.sites_controller
  /v{version}/sites/{site_Ids}:
    get:
      deprecated: false
      operationId: vversion_sites_site_ids_get
      parameters:
      - description: site id
        explode: false
        in: path
        name: site_Ids
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteResponse'
          description: ""
        "400":
          description: Bad request
        "500":
          description: Internal Server Error
      summary: Get selected sites
      tags:
      - Sites
      x-openapi-router-controller: openapi_server.controllers.sites_controller
  /v{version}/sitetypes:
    get:
      deprecated: false
      operationId: site_types_index
      parameters:
      - explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteTypeResponse'
          description: ""
        "400":
          description: Bad request
        "500":
          description: Internal Server Error
      summary: Return list of site types
      tags:
      - SiteTypes
      x-openapi-router-controller: openapi_server.controllers.site_types_controller
  /v{version}/sitetypes/{siteType_Id}/sites:
    get:
      deprecated: false
      operationId: site_types_get_sites_for_public_facing_api
      parameters:
      - description: "1 = MIDAS, 2 = TAME, 3 = TMU, 4 = TRADS Legacy"
        explode: false
        in: path
        name: siteType_Id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteTypeLayer'
          description: ""
        "400":
          description: Bad request
        "404":
          description: Layer not found
        "500":
          description: Internal Server Error
      summary: Returns the layer metadata for the LayerId specified.
      tags:
      - SiteTypes
      x-openapi-router-controller: openapi_server.controllers.site_types_controller
components:
  schemas:
    Area:
      example:
        Description: Description
        YLatitude: YLatitude
        XLongitude: XLongitude
        XLatitude: XLatitude
        Id: Id
        YLongitude: YLongitude
        Name: Name
      properties:
        Description:
          title: Description
          type: string
        Id:
          title: Id
          type: string
        Name:
          title: Name
          type: string
        XLatitude:
          pattern: "^(\\+|-)?(?:180(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\\\
            .[0-9]{1,15})?))$"
          title: XLatitude
          type: string
        XLongitude:
          pattern: "^(\\+|-)?(?:90(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\\\
            .[0-9]{1,15})?))$"
          title: XLongitude
          type: string
        YLatitude:
          pattern: "^(\\+|-)?(?:180(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\\\
            .[0-9]{1,15})?))$"
          title: YLatitude
          type: string
        YLongitude:
          pattern: "^(\\+|-)?(?:90(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\\\
            .[0-9]{1,15})?))$"
          title: YLongitude
          type: string
      required:
      - Description
      - Name
      - XLatitude
      - XLongitude
      - YLatitude
      - YLongitude
      title: Area
      type: object
    AreaResponse:
      example:
        areas:
        - Description: Description
          YLatitude: YLatitude
          XLongitude: XLongitude
          XLatitude: XLatitude
          Id: Id
          YLongitude: YLongitude
          Name: Name
        - Description: Description
          YLatitude: YLatitude
          XLongitude: XLongitude
          XLatitude: XLatitude
          Id: Id
          YLongitude: YLongitude
          Name: Name
        row_count: 0
      properties:
        areas:
          items:
            $ref: '#/components/schemas/Area'
          title: areas
          type: array
        row_count:
          format: int32
          title: row_count
          type: integer
      title: AreaResponse
      type: object
    DailyQualityResponse:
      example:
        Qualities:
        - Quality: 0
          Date: 2000-01-23T04:56:07.000+00:00
        - Quality: 0
          Date: 2000-01-23T04:56:07.000+00:00
        row_count: 6
      properties:
        Qualities:
          items:
            $ref: '#/components/schemas/Qualities'
          title: Qualities
          type: array
        row_count:
          format: int32
          title: row_count
          type: integer
      title: DailyQualityResponse
      type: object
    Object:
      properties: {}
      type: object
    OverallQualityResponse:
      example:
        end_date: end_date
        data_quality: 0
        sites: sites
        row_count: 6
        start_date: start_date
      properties:
        data_quality:
          format: int32
          title: data_quality
          type: integer
        end_date:
          title: end_date
          type: string
        row_count:
          format: int32
          title: row_count
          type: integer
        sites:
          title: sites
          type: string
        start_date:
          title: start_date
          type: string
      title: OverallQualityResponse
      type: object
    Qualities:
      example:
        Quality: 0
        Date: 2000-01-23T04:56:07.000+00:00
      properties:
        Date:
          format: date-time
          title: Date
          type: string
        Quality:
          format: int32
          title: Quality
          type: integer
      title: Qualities
      type: object
    SiteResponse:
      example:
        sites:
        - Status: Status
          Description: Description
          Latitude: 6.027456183070403
          Id: Id
          Longitude: 1.4658129805029452
          Name: Name
        - Status: Status
          Description: Description
          Latitude: 6.027456183070403
          Id: Id
          Longitude: 1.4658129805029452
          Name: Name
        row_count: 0
      properties:
        row_count:
          format: int32
          title: row_count
          type: integer
        sites:
          items:
            $ref: '#/components/schemas/SiteResult'
          title: sites
          type: array
      title: SiteResponse
      type: object
    SiteResult:
      example:
        Status: Status
        Description: Description
        Latitude: 6.027456183070403
        Id: Id
        Longitude: 1.4658129805029452
        Name: Name
      properties:
        Description:
          title: Description
          type: string
        Id:
          title: Id
          type: string
        Latitude:
          format: double
          title: Latitude
          type: number
        Longitude:
          format: double
          title: Longitude
          type: number
        Name:
          title: Name
          type: string
        Status:
          title: Status
          type: string
      title: SiteResult
      type: object
    SiteType:
      example:
        Description: Description
        Id: Id
      properties:
        Description:
          title: Description
          type: string
        Id:
          title: Id
          type: string
      title: SiteType
      type: object
    SiteTypeLayer:
      example:
        Sites:
        - Lattitude:
          - 0.8008281904610115
          - 0.8008281904610115
          Active:
          - true
          - true
          SiteId:
          - SiteId
          - SiteId
          Description:
          - Description
          - Description
          Id:
          - Id
          - Id
          Longitude:
          - 6.027456183070403
          - 6.027456183070403
        - Lattitude:
          - 0.8008281904610115
          - 0.8008281904610115
          Active:
          - true
          - true
          SiteId:
          - SiteId
          - SiteId
          Description:
          - Description
          - Description
          Id:
          - Id
          - Id
          Longitude:
          - 6.027456183070403
          - 6.027456183070403
      properties:
        Sites:
          items:
            $ref: '#/components/schemas/Sites'
          title: Sites
          type: array
      title: SiteTypeLayer
      type: object
    SiteTypeResponse:
      example:
        sitetypes:
        - Description: Description
          Id: Id
        - Description: Description
          Id: Id
        row_count: 0
      properties:
        row_count:
          format: int32
          title: row_count
          type: integer
        sitetypes:
          items:
            $ref: '#/components/schemas/SiteType'
          title: sitetypes
          type: array
      title: SiteTypeResponse
      type: object
    Sites:
      example:
        Lattitude:
        - 0.8008281904610115
        - 0.8008281904610115
        Active:
        - true
        - true
        SiteId:
        - SiteId
        - SiteId
        Description:
        - Description
        - Description
        Id:
        - Id
        - Id
        Longitude:
        - 6.027456183070403
        - 6.027456183070403
      properties:
        Active:
          items:
            type: boolean
          title: Active
          type: array
        Description:
          items:
            type: string
          title: Description
          type: array
        Id:
          items:
            type: string
          title: Id
          type: array
        Lattitude:
          items:
            format: double
            type: number
          title: Lattitude
          type: array
        Longitude:
          items:
            format: double
            type: number
          title: Longitude
          type: array
        SiteId:
          items:
            type: string
          title: SiteId
          type: array
      title: Sites
      type: object
