openapi: 3.0.0
info:
  contact:
    email: RGD.Data2@mcw.edu
    name: Rat Genome Database
    url: http://rgd.mcw.edu
    x-twitter: medicalcollege
  description: The RGD REST API provides programmatic access to information and annotation
    stored in the Rat Genome Database
  license:
    name: Creative Commons
    url: https://creativecommons.org/licenses/by/4.0/legalcode
  termsOfService: http://rgd.mcw.edu/wg/citing-rgd
  title: Rat Genome Database REST API
  version: "1.1"
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://twitter.com/medicalcollege/profile_image?size=original
  x-origin:
  - format: swagger
    url: http://rest.rgd.mcw.edu/rgdws/v2/api-docs
    version: "2.0"
  - format: openapi
    url: http://rest.rgd.mcw.edu/rgdws/v2/api-docs
    version: "3.0"
  x-providerName: mcw.edu
servers:
- url: //rest.rgd.mcw.edu/rgdws
tags:
- description: Alliance of Genome Resources
  name: AGR
- name: Annotation
- name: Gene
- name: Lookup
- description: Map Web Service
  name: Map
- description: NIH Data Commons
  name: NIHdatacommons
- description: Ontology Web Service
  name: Ontology
- name: Pathway
- name: Phenotype
- name: QTL
- description: Phenotype Web Service
  name: Quantitative Phenotype
- name: Rat Strain
- description: SSLP Web Service
  name: SSLP
- description: Stats Web Service
  name: Statistics
- description: Enrichment Web Service
  name: enrichment-web-service
paths:
  /agr/affectedGenomicModels/{taxonId}:
    get:
      operationId: getAffectedGenomicModelsUsingGET
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get affected genomic models (rat strains with gene alleles) submitted
        by RGD to AGR by taxonId
      tags:
      - AGR
      x-accepts:
      - '*/*'
  /agr/alleles/{taxonId}:
    get:
      operationId: getAllelesForTaxonUsingGET
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get gene allele records submitted by RGD to AGR by taxonId
      tags:
      - AGR
      x-accepts:
      - '*/*'
  /agr/expression/{taxonId}:
    get:
      operationId: getExpressionForTaxonUsingGET
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get expression annotations submitted by RGD to AGR by taxonId
      tags:
      - AGR
      x-accepts:
      - '*/*'
  /agr/phenotypes/{taxonId}:
    get:
      operationId: getPhenotypesForTaxonUsingGET
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get phenotype annotations submitted by RGD to AGR by taxonId
      tags:
      - AGR
      x-accepts:
      - '*/*'
  /agr/variants/{taxonId}:
    get:
      operationId: getVariantsForTaxonUsingGET
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get basic variant records submitted by RGD to AGR by taxonId
      tags:
      - AGR
      x-accepts:
      - '*/*'
  /agr/{taxonId}:
    get:
      operationId: getGenesForLatestAssemblyUsingGET
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get gene records submitted by RGD to AGR by taxonId
      tags:
      - AGR
      x-accepts:
      - '*/*'
  /annotations/:
    post:
      operationId: getAnnotationsUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnotationRequest'
        description: data
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes annotated to an ontology term
      tags:
      - Annotation
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /annotations/accId/{rgdId}:
    get:
      operationId: getTermAccIdsUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MapPair'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list ontology term accession IDs annotated to an rgd object
      tags:
      - Annotation
      x-accepts:
      - '*/*'
  /annotations/count/{accId}/{includeChildren}:
    get:
      operationId: getAnnotationCountByAccIdUsingGET
      parameters:
      - description: Ontology term accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: "true: return annotations for the term and children, false: return\
          \ annotations for the term only "
        explode: false
        in: path
        name: includeChildren
        required: true
        schema:
          type: boolean
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns annotation count for ontology accession ID
      tags:
      - Annotation
      x-accepts:
      - '*/*'
  /annotations/count/{accId}/{speciesTypeKey}/{includeChildren}:
    get:
      operationId: getAnnotationCountByAccIdAndSpeciesUsingGET
      parameters:
      - description: Ontology term accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: A list of species type keys can be found using the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "true: return annotations for the term and children, false: return\
          \ annotations for the term only "
        explode: false
        in: path
        name: includeChildren
        required: true
        schema:
          type: boolean
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns annotation count for ontology accession ID and speicies
      tags:
      - Annotation
      x-accepts:
      - '*/*'
  /annotations/count/{accId}/{speciesTypeKey}/{includeChildren}/{objectType}:
    get:
      operationId: getAnnotationCountByAccIdAndObjectTypeUsingGET
      parameters:
      - description: Ontology term accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: A list of species type keys can be found using the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "true: return annotations for the term and children, false: return\
          \ annotations for the term only "
        explode: false
        in: path
        name: includeChildren
        required: true
        schema:
          type: boolean
        style: simple
      - description: A list of object types can be found using the lookup service
        explode: false
        in: path
        name: objectType
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns annotation count for ontology accession ID and object type
      tags:
      - Annotation
      x-accepts:
      - '*/*'
  /annotations/reference/{refRgdId}:
    get:
      operationId: getAnnotsByRefrerenceUsingGET
      parameters:
      - description: Reference RGD ID
        explode: false
        in: path
        name: refRgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list of annotations for a reference
      tags:
      - Annotation
      x-accepts:
      - '*/*'
  /annotations/rgdId/{rgdId}:
    get:
      operationId: getAnnotationsByRgdIdUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list of annotations by RGD ID
      tags:
      - Annotation
      x-accepts:
      - '*/*'
  /annotations/rgdId/{rgdId}/{ontologyPrefix}:
    get:
      operationId: getAnnotationsByRgdIdAndOntologyUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "Ontology Prefix.  The prefix can be found left of the semicolon\
          \ in an ontology term accession ID.  As an example, term accession PW:0000034\
          \ has the ontology prefix PW"
        explode: false
        in: path
        name: ontologyPrefix
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list of annotations by RGD ID and ontology prefix
      tags:
      - Annotation
      x-accepts:
      - '*/*'
  /annotations/{accId}/{rgdId}:
    get:
      operationId: getAnnotationsByAccIdAndRgdIdUsingGET
      parameters:
      - description: Ontology Term Accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list of annotations by RGD ID and ontology term accession
        ID
      tags:
      - Annotation
      x-accepts:
      - '*/*'
  /annotations/{accId}/{speciesTypeKey}/{includeChildren}:
    get:
      operationId: getAnnotationsUsingGET
      parameters:
      - description: Ontology term accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: A list of species type keys can be found using the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "true: return annotations for the term and children, false: return\
          \ annotations for the term only "
        explode: false
        in: path
        name: includeChildren
        required: true
        schema:
          type: boolean
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list annotations for an ontology term or a term and it's
        children
      tags:
      - Annotation
      x-accepts:
      - '*/*'
  /enrichment/annotatedGenes:
    post:
      operationId: getEnrichmentDataUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichmentGeneRequest'
        description: geneRequest
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes annotated to the term.Genes are rgdids separated
        by comma.Species type is an integer value.term is the ontology
      tags:
      - enrichment-web-service
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /enrichment/data:
    post:
      operationId: getEnrichmentDataUsingPOST_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichmentRequest'
        description: enrichmentRequest
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a chart of ontology terms annotated to the genes.Genes are rgdids
        separated by comma.Species type is an integer value.Aspect is the Ontology
        group
      tags:
      - enrichment-web-service
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /genes/affyId/{affyId}/{speciesTypeKey}:
    get:
      operationId: getGenesByAffyIdUsingGET
      parameters:
      - description: Affymetrix ID
        explode: false
        in: path
        name: affyId
        required: true
        schema:
          type: string
        style: simple
      - description: A list of RGD species type keys can be found in the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes for an affymetrix ID
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/alias/{aliasSymbol}/{speciesTypeKey}:
    get:
      operationId: getGenesByAliasSymbolUsingGET
      parameters:
      - description: Gene alias symbol
        explode: false
        in: path
        name: aliasSymbol
        required: true
        schema:
          type: string
        style: simple
      - description: A list of RGD species type keys can be found in the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes for an alias and species
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/allele/{rgdId}:
    get:
      operationId: getGeneAllelesUsingGET
      parameters:
      - description: RGD ID of gene
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of gene alleles
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/annotation:
    post:
      operationId: getAnnotatedGenesUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnotatedGeneRequest'
        description: data
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes annotated to an ontology term
      tags:
      - Gene
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /genes/annotation/{accId}:
    get:
      operationId: getAllAnnotatedGenesUsingGET
      parameters:
      - description: Accesstion ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes annotated to an ontology term
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/annotation/{accId}/{speciesTypeKey}:
    get:
      operationId: getGenesAnnotatedUsingGET
      parameters:
      - description: Ontology term accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: Species type key.  A list of species type keys can be found in
          the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes annotated to an ontology term
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/keyword/{keyword}/{speciesTypeKey}:
    get:
      operationId: getGenesByKeywordUsingGET
      parameters:
      - description: Search keyword
        explode: false
        in: path
        name: keyword
        required: true
        schema:
          type: string
        style: simple
      - description: Species type key.  A list of species type keys can be found in
          the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes by keyword and species type key
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/map/{mapKey}:
    get:
      operationId: getGeneByMapKeyUsingGET
      parameters:
      - description: A list of RGD assembly map keys can be found in the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MappedGene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of all genes with position information for an assembly
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/mapped/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: getMappedGenesByPositionUsingGET
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of RGD assembly map keys can be found in the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MappedGene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes position and map key
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/orthologs:
    post:
      operationId: getOrthologsByListUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrthologRequest'
        description: orthologRequest
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/Gene'
                  type: array
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of gene orthologs
      tags:
      - Gene
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /genes/orthologs/{rgdId}:
    get:
      operationId: getGeneOrthologsUsingGET
      parameters:
      - description: RGD ID of a gene
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of gene orthologs
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/region/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: getGenesInRegionUsingGET
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of RGD assembly map keys can be found in the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MappedGenePosition'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes in region
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/species/{speciesTypeKey}:
    get:
      operationId: getGenesBySpeciesUsingGET
      parameters:
      - description: A list of RGD species type keys can be found in the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of all genes for a species in RGD
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: getGenesByPositionUsingGET
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of RGD assembly map keys can be found in the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes position and map key
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/{rgdId}:
    get:
      operationId: getGeneByRgdIdUsingGET
      parameters:
      - description: The RGD ID of a Gene in RGD
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Gene'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get a gene record by RGD ID
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /genes/{symbol}/{speciesTypeKey}:
    get:
      operationId: getGeneBySymbolUsingGET
      parameters:
      - description: Gene Symbol
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      - description: Species type key.  A list of species type keys can be found in
          the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Gene'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get a gene record by symbol and species type key
      tags:
      - Gene
      x-accepts:
      - '*/*'
  /lookup/geneTypes:
    get:
      operationId: getGeneTypesUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list of gene types avialable in RGD
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/id/map/EnsemblGene:
    post:
      operationId: getEnsemblGeneMappingUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to Ensembl Gene IDs
      tags:
      - Lookup
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /lookup/id/map/EnsemblGene/{rgdId}:
    get:
      operationId: getEnsemblGeneMappingUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an Ensembl Gene  ID
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/id/map/EnsemblProtein:
    post:
      operationId: getEnsemblProteinMappingUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to Ensembl Protein IDs
      tags:
      - Lookup
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /lookup/id/map/EnsemblProtein/{rgdId}:
    get:
      operationId: getEnsemblProteinMappingUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an Ensembl Protein ID
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/id/map/EnsemblTranscript:
    post:
      operationId: getEnsemblTranscriptMappingUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to Ensembl Transcript IDs
      tags:
      - Lookup
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /lookup/id/map/EnsemblTranscript/{rgdId}:
    get:
      operationId: getEnsemblTranscriptMappingUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an Ensembl Transcript ID
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/id/map/GTEx:
    post:
      operationId: getGTEXMappingUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to GTEx IDs
      tags:
      - Lookup
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /lookup/id/map/GTEx/{rgdId}:
    get:
      operationId: getGTEXMappingUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an GTEx ID
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/id/map/GenBankNucleotide:
    post:
      operationId: getGenBankNucleotideMappingUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to GenBank Nucleotide IDs
      tags:
      - Lookup
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /lookup/id/map/GenBankNucleotide/{rgdId}:
    get:
      operationId: getGenBankNucleotideMappingUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to a GenBank Nucleotide ID
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/id/map/GenBankProtein:
    post:
      operationId: getGenBankProteinMappingUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to GenBank Protein IDs
      tags:
      - Lookup
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /lookup/id/map/GenBankProtein/{rgdId}:
    get:
      operationId: getGenBankProteinMappingUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to a GenBank Protein ID
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/id/map/HGNC:
    post:
      operationId: getHGNCMappingUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to HGNC IDs
      tags:
      - Lookup
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /lookup/id/map/HGNC/{rgdId}:
    get:
      operationId: getHGNCMappingUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an HGNC ID
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/id/map/MGI:
    post:
      operationId: getMGIMappingUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to MGI IDs
      tags:
      - Lookup
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /lookup/id/map/MGI/{rgdId}:
    get:
      operationId: getMGIMappingUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an MGI ID
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/id/map/NCBIGene:
    post:
      operationId: getNCBIGeneMappingUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to NCBI Gene IDs
      tags:
      - Lookup
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /lookup/id/map/NCBIGene/{rgdId}:
    get:
      operationId: getNCBIGeneMappingUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an NCBI Gene ID
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/id/map/UniProt:
    post:
      operationId: getUniProtMappingUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to UniProt IDs
      tags:
      - Lookup
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /lookup/id/map/UniProt/{rgdId}:
    get:
      operationId: getUniProtMappingUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to a UniProt ID
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/maps/{speciesTypeKey}:
    get:
      operationId: getMapsUsingGET
      parameters:
      - description: "RGD species type key. A full list of keys is available throught\
          \ the lookup service.  1=human, 2=mouse, 3=rat,ect"
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Map'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list assembly maps for a species
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/speciesTypeKeys:
    get:
      operationId: getSpeciesTypesUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a Map of species type keys available in RGD
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /lookup/standardUnit/{accId}:
    get:
      operationId: getMapsUsingGET_1
      parameters:
      - description: RGD term acc
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a standardUnit for an ontology if it exists
      tags:
      - Lookup
      x-accepts:
      - '*/*'
  /maps/chr/{chromosome}/{mapKey}:
    get:
      operationId: getChromosomeByAssemblyUsingGET
      parameters:
      - description: chromosome
        explode: false
        in: path
        name: chromosome
        required: true
        schema:
          type: string
        style: simple
      - description: mapKey
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Chromosome'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of chromosomes
      tags:
      - Chromosome
      - Map
      x-accepts:
      - '*/*'
  /maps/chr/{mapKey}:
    get:
      operationId: getChromosomesByAssemblyUsingGET
      parameters:
      - description: mapKey
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of chromosomes
      tags:
      - Chromosome
      - Map
      x-accepts:
      - '*/*'
  /maps/{speciesTypeKey}:
    get:
      operationId: getMapsBySpeciesUsingGET
      parameters:
      - description: species Key
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Map'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of assemblies
      tags:
      - Map
      x-accepts:
      - '*/*'
  /ontology/ont/{accId}:
    get:
      operationId: getOntDagsUsingGET
      parameters:
      - description: Accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns child and parent terms for Accession ID
      tags:
      - Ontology
      x-accepts:
      - '*/*'
  /ontology/term/{accId1}/{accId2}:
    get:
      operationId: isDescendantOfUsingGET
      parameters:
      - description: Child Term Accession ID
        explode: false
        in: path
        name: accId1
        required: true
        schema:
          type: string
        style: simple
      - description: Parent Term Accession ID
        explode: false
        in: path
        name: accId2
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns true or false for terms
      tags:
      - Ontology
      x-accepts:
      - '*/*'
  /ontology/term/{accId}:
    get:
      operationId: getTermUsingGET
      parameters:
      - description: Term Accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Term'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns term for Accession ID
      tags:
      - Ontology
      x-accepts:
      - '*/*'
  /pathways/diagrams/search/{searchString}:
    get:
      operationId: searchPathwaysUsingGET
      parameters:
      - description: Free text search string
        explode: false
        in: path
        name: searchString
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Pathway'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of pathways based on search term
      tags:
      - Pathway
      x-accepts:
      - '*/*'
  /pathways/diagramsForCategory/{category}:
    get:
      operationId: getPathwaysWithDiagramsForCategoryUsingGET
      parameters:
      - description: Pathway Category
        explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Pathway'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of pathways based on category provided
      tags:
      - Pathway
      x-accepts:
      - '*/*'
  /phenotype/phenominer/chart/{speciesTypeKey}/{refRgdId}/{termString}:
    get:
      operationId: getChartInfoUsingGET
      parameters:
      - description: 'Species Type Key - 3=rat 4=chinchilla '
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Reference RGD ID for a study
        explode: false
        in: path
        name: refRgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: List of term accession IDs
        explode: false
        in: path
        name: termString
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Return a list of quantitative phenotypes values based on a combination\
        \ of Clinical Measurement, Experimental Condition, Rat Strain, and/or Measurement\
        \ Method ontology terms.  Results will be all records that match all terms\
        \ submitted.  Ontology ids should be submitted as a comma delimited list (ex.\
        \ RS:0000029,CMO:0000155,CMO:0000139).  Species type is an integer value (3=rat,\
        \ 4=chinchilla).  Reference RGD ID for a study works like a filter."
      tags:
      - Quantitative Phenotype
      x-accepts:
      - '*/*'
  /phenotype/phenominer/chart/{speciesTypeKey}/{termString}:
    get:
      operationId: getChartInfoUsingGET_1
      parameters:
      - description: 'Species Type Key - 3=rat 4=chinchilla '
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: List of term accession IDs
        explode: false
        in: path
        name: termString
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Return a list of quantitative phenotypes values based on a combination\
        \ of Clinical Measurement, Experimental Condition, Rat Strain, and/or Measurement\
        \ Method ontology terms.  Results will be all records that match all terms\
        \ submitted.  Ontology ids should be submitted as a comma delimited list (ex.\
        \ RS:0000029,CMO:0000155,CMO:0000139).  Species type is an integer value (3=rat,\
        \ 4=chinchilla)"
      tags:
      - Quantitative Phenotype
      x-accepts:
      - '*/*'
  /qtls/mapped/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: getMappedQTLByPositionUsingGET
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of assembly map keys can be found using the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MappedQTL'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list QTL for given position and assembly map
      tags:
      - QTL
      x-accepts:
      - '*/*'
  /qtls/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: getQtlListByPositionUsingGET
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of assembly map keys can be found using the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/QTL'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list QTL for given position and assembly map
      tags:
      - QTL
      x-accepts:
      - '*/*'
  /qtls/{rgdId}:
    get:
      operationId: getQTLByRgdIdUsingGET
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QTL'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a QTL for provided RGD ID
      tags:
      - QTL
      x-accepts:
      - '*/*'
  /sslps/mapped/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: getMappedSSLPByPositionUsingGET
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of assembly map keys can be found using the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MappedSSLP'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list SSLP for given position and assembly map
      tags:
      - SSLP
      x-accepts:
      - '*/*'
  /stats/count/activeObject/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getActiveObjectCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of active objects by type, for specified species and date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/count/geneType/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getGeneTypeCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of gene types, for specified species and date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/count/objectStatus/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getObjectStatusCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of objects with given status, for specified species and date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/count/objectWithRefSeq/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getObjectsWithRefSeqCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of objects with reference sequence(s), by object type, for specified\
        \ species and date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/count/objectWithReference/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getObjectsWithReferenceCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of objects with reference, by object type, for specified species\
        \ and date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/count/objectWithXdb/{speciesTypeKey}/{objectKey}/{dateYYYYMMDD}:
    get:
      operationId: getObjectsWithXDBsCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: objectKey
        explode: false
        in: path
        name: objectKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of objects with external database ids, by database id, for specified\
        \ species, object type and date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/count/proteinInteraction/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getProteinInteractionCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of protein interactions, for specified species and date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/count/qtlInheritanceType/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getQtlInheritanceTypeCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of strains, by qtl inheritance type, for specified species and\
        \ date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/count/retiredObject/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getRetiredObjectCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of retired objects by type, for specified species and date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/count/strainType/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getStrainTypeCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of strain types, for specified species and date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/count/withdrawnObject/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getWithdrawnObjectCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of withdrawn objects by type, for specified species and date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/count/xdb/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getXdbsCountUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of external database ids, for specied species and date"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/activeObject/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getActiveObjectDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of active objects, by type, for specified species\
        \ and date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/geneType/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getGeneTypeDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of gene types, for specified species and date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/objectStatus/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getObjectStatusDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of objects with given status, for specified species\
        \ and date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/objectWithRefSeq/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getObjectsWithRefSeqDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of objects with reference sequence(s), by object\
        \ type, for specified species and date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/objectWithReference/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getObjectsWithReferenceDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of objects with reference, by object type, for specified\
        \ species and date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/objectWithXdb/{speciesTypeKey}/{objectKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getObjectsWithXDBsDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: objectKey
        explode: false
        in: path
        name: objectKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of objects with external database ids, by database\
        \ id, for specified species, object type and date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/proteinInteraction/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getProteinInteractionDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of protein interactions, for specified species and\
        \ date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/qtlInheritanceType/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getQtlInheritanceTypeDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of strains, by qtl inheritance type, for specified\
        \ species and date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/retiredObject/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getRetiredObjectDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of retired objects, by type, for specified species\
        \ and date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/strainType/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getStrainTypeDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of strain types, for specified species and date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/withdrawnObject/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getWithdrawnObjectDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of withdrawn objects, by type, for specified species\
        \ and date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/diff/xdb/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getXdbsDiffUsingGET
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of external database ids, for specified species and\
        \ date range"
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /stats/term/{accId}/{filterAccId}:
    get:
      operationId: getTermStatsUsingGET
      parameters:
      - description: accId
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: filterAccId
        explode: false
        in: path
        name: filterAccId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  format: int32
                  type: integer
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: getTermStats
      tags:
      - Statistics
      x-accepts:
      - '*/*'
  /strains/all:
    get:
      operationId: getAllStrainsUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Strain'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return all active strains in RGD
      tags:
      - Rat Strain
      x-accepts:
      - '*/*'
  /strains/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: getStrainsByPositionUsingGET
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: RGD Map Key (available through lookup service)
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Strain'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return all active strains by position
      tags:
      - Rat Strain
      x-accepts:
      - '*/*'
  /strains/{rgdId}:
    get:
      operationId: getStrainByRgdIdUsingGET
      parameters:
      - description: RGD ID of the strain
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Strain'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a strain by RGD ID
      tags:
      - Rat Strain
      x-accepts:
      - '*/*'
components:
  requestBodies:
    RGDIDListRequest:
      content:
        application/json:
          schema:
[...]
