

# TestResult

Contains the result of testing a CloudFront function with <code>TestFunction</code>.

## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**functionSummary** | [**TestResultFunctionSummary**](TestResultFunctionSummary.md) |  |  [optional] |
|**computeUtilization** | [**String**](String.md) |  |  [optional] |
|**functionExecutionLogs** | [**List**](List.md) |  |  [optional] |
|**functionErrorMessage** | [**String**](String.md) |  |  [optional] |
|**functionOutput** | [**String**](String.md) |  |  [optional] |



