openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Sends application trace data to Cloud Trace for viewing. Trace data\
    \ is collected for all App Engine applications by default. Trace data from other\
    \ applications can be provided using this API. This library is used to interact\
    \ with the Cloud Trace API directly. If you are looking to instrument your application\
    \ for Cloud Trace, we recommend using OpenTelemetry. "
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Trace API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: openapi
    url: https://cloudtrace.googleapis.com/$discovery/rest?version=v2
    version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: cloudtrace
externalDocs:
  url: https://cloud.google.com/trace
servers:
- url: https://cloudtrace.googleapis.com/
tags:
- name: projects
paths:
  /v2/{name}:
    post:
      description: Creates a new span.
      operationId: cloudtrace.projects.traces.spans.createSpan
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the span in the following format:\
          \ * `projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/[SPAN_ID]` `[TRACE_ID]`\
          \ is a unique identifier for a trace within a project; it is a 32-character\
          \ hexadecimal encoding of a 16-byte array. It should not be zero. `[SPAN_ID]`\
          \ is a unique identifier for a span within a trace; it is a 16-character\
          \ hexadecimal encoding of an 8-byte array. It should not be zero. ."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Span'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Span'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/trace.append
        Oauth2c:
        - https://www.googleapis.com/auth/trace.append
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/{name}/traces:batchWrite:
    post:
      description: Batch writes new spans to new or existing traces. You cannot update
        existing spans.
      operationId: cloudtrace.projects.traces.batchWrite
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the project where the spans belong. The\
          \ format is `projects/[PROJECT_ID]`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchWriteSpansRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/trace.append
        Oauth2c:
        - https://www.googleapis.com/auth/trace.append
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Annotation:
      description: Text annotation with a set of attributes.
      example:
        description:
          truncatedByteCount: 0
          value: value
        attributes:
          attributeMap:
            key:
              stringValue:
                truncatedByteCount: 0
                value: value
              intValue: intValue
              boolValue: true
          droppedAttributesCount: 6
      properties:
        attributes:
          $ref: '#/components/schemas/Attributes'
        description:
          $ref: '#/components/schemas/TruncatableString'
      type: object
    AttributeValue:
      description: "The allowed types for `[VALUE]` in a `[KEY]:[VALUE]` attribute."
      example:
        stringValue:
          truncatedByteCount: 0
          value: value
        intValue: intValue
        boolValue: true
      properties:
        boolValue:
          description: A Boolean value represented by `true` or `false`.
          type: boolean
        intValue:
          description: A 64-bit signed integer.
          format: int64
          type: string
        stringValue:
          $ref: '#/components/schemas/TruncatableString'
      type: object
    Attributes:
      description: A set of attributes as key-value pairs.
      example:
        attributeMap:
          key:
            stringValue:
              truncatedByteCount: 0
              value: value
            intValue: intValue
            boolValue: true
        droppedAttributesCount: 6
      properties:
        attributeMap:
          additionalProperties:
            $ref: '#/components/schemas/AttributeValue'
          description: "A set of attributes. Each attribute's key can be up to 128\
            \ bytes long. The value can be a string up to 256 bytes, a signed 64-bit\
            \ integer, or the boolean values `true` or `false`. For example: \"/instance_id\"\
            : { \"string_value\": { \"value\": \"my-instance\" } } \"/http/request_bytes\"\
            : { \"int_value\": 300 } \"example.com/myattribute\": { \"bool_value\"\
            : false }"
          type: object
        droppedAttributesCount:
          description: The number of attributes that were discarded. Attributes can
            be discarded because their keys are too long or because there are too
            many attributes. If this value is 0 then all attributes are valid.
          format: int32
          type: integer
      type: object
    BatchWriteSpansRequest:
      description: The request message for the `BatchWriteSpans` method.
      example:
        spans:
        - displayName:
            truncatedByteCount: 0
            value: value
          spanKind: SPAN_KIND_UNSPECIFIED
          parentSpanId: parentSpanId
          spanId: spanId
          childSpanCount: 1
          name: name
          attributes:
            attributeMap:
              key:
                stringValue:
                  truncatedByteCount: 0
                  value: value
                intValue: intValue
                boolValue: true
            droppedAttributesCount: 6
          links:
            droppedLinksCount: 5
            link:
            - spanId: spanId
              traceId: traceId
              attributes:
                attributeMap:
                  key:
                    stringValue:
                      truncatedByteCount: 0
                      value: value
                    intValue: intValue
                    boolValue: true
                droppedAttributesCount: 6
              type: TYPE_UNSPECIFIED
            - spanId: spanId
              traceId: traceId
              attributes:
                attributeMap:
                  key:
                    stringValue:
                      truncatedByteCount: 0
                      value: value
                    intValue: intValue
                    boolValue: true
                droppedAttributesCount: 6
              type: TYPE_UNSPECIFIED
          startTime: startTime
          endTime: endTime
          sameProcessAsParentSpan: true
          stackTrace:
            stackFrames:
              droppedFramesCount: 5
              frame:
              - fileName:
                  truncatedByteCount: 0
                  value: value
                originalFunctionName:
                  truncatedByteCount: 0
                  value: value
                columnNumber: columnNumber
                functionName:
                  truncatedByteCount: 0
                  value: value
                sourceVersion:
                  truncatedByteCount: 0
                  value: value
                loadModule:
                  module:
                    truncatedByteCount: 0
                    value: value
                  buildId:
                    truncatedByteCount: 0
                    value: value
                lineNumber: lineNumber
              - fileName:
                  truncatedByteCount: 0
                  value: value
                originalFunctionName:
                  truncatedByteCount: 0
                  value: value
                columnNumber: columnNumber
                functionName:
                  truncatedByteCount: 0
                  value: value
                sourceVersion:
                  truncatedByteCount: 0
                  value: value
                loadModule:
                  module:
                    truncatedByteCount: 0
                    value: value
                  buildId:
                    truncatedByteCount: 0
                    value: value
                lineNumber: lineNumber
            stackTraceHashId: stackTraceHashId
          timeEvents:
            droppedMessageEventsCount: 9
            droppedAnnotationsCount: 7
            timeEvent:
            - annotation:
                description:
                  truncatedByteCount: 0
                  value: value
                attributes:
                  attributeMap:
                    key:
                      stringValue:
                        truncatedByteCount: 0
                        value: value
                      intValue: intValue
                      boolValue: true
                  droppedAttributesCount: 6
              messageEvent:
                compressedSizeBytes: compressedSizeBytes
                id: id
                type: TYPE_UNSPECIFIED
                uncompressedSizeBytes: uncompressedSizeBytes
              time: time
            - annotation:
                description:
                  truncatedByteCount: 0
                  value: value
                attributes:
                  attributeMap:
                    key:
                      stringValue:
                        truncatedByteCount: 0
                        value: value
                      intValue: intValue
                      boolValue: true
                  droppedAttributesCount: 6
              messageEvent:
                compressedSizeBytes: compressedSizeBytes
                id: id
                type: TYPE_UNSPECIFIED
                uncompressedSizeBytes: uncompressedSizeBytes
              time: time
          status:
            code: 2
            details:
            - key: ""
            - key: ""
            message: message
        - displayName:
            truncatedByteCount: 0
            value: value
          spanKind: SPAN_KIND_UNSPECIFIED
          parentSpanId: parentSpanId
          spanId: spanId
          childSpanCount: 1
          name: name
          attributes:
            attributeMap:
              key:
                stringValue:
                  truncatedByteCount: 0
                  value: value
                intValue: intValue
                boolValue: true
            droppedAttributesCount: 6
          links:
            droppedLinksCount: 5
            link:
            - spanId: spanId
              traceId: traceId
              attributes:
                attributeMap:
                  key:
                    stringValue:
                      truncatedByteCount: 0
                      value: value
                    intValue: intValue
                    boolValue: true
                droppedAttributesCount: 6
              type: TYPE_UNSPECIFIED
            - spanId: spanId
              traceId: traceId
              attributes:
                attributeMap:
                  key:
                    stringValue:
                      truncatedByteCount: 0
                      value: value
                    intValue: intValue
                    boolValue: true
                droppedAttributesCount: 6
              type: TYPE_UNSPECIFIED
          startTime: startTime
          endTime: endTime
          sameProcessAsParentSpan: true
          stackTrace:
            stackFrames:
              droppedFramesCount: 5
              frame:
              - fileName:
                  truncatedByteCount: 0
                  value: value
                originalFunctionName:
                  truncatedByteCount: 0
                  value: value
                columnNumber: columnNumber
                functionName:
                  truncatedByteCount: 0
                  value: value
                sourceVersion:
                  truncatedByteCount: 0
                  value: value
                loadModule:
                  module:
                    truncatedByteCount: 0
                    value: value
                  buildId:
                    truncatedByteCount: 0
                    value: value
                lineNumber: lineNumber
              - fileName:
                  truncatedByteCount: 0
                  value: value
                originalFunctionName:
                  truncatedByteCount: 0
                  value: value
                columnNumber: columnNumber
                functionName:
                  truncatedByteCount: 0
                  value: value
                sourceVersion:
                  truncatedByteCount: 0
                  value: value
                loadModule:
                  module:
                    truncatedByteCount: 0
                    value: value
                  buildId:
                    truncatedByteCount: 0
                    value: value
                lineNumber: lineNumber
            stackTraceHashId: stackTraceHashId
          timeEvents:
            droppedMessageEventsCount: 9
            droppedAnnotationsCount: 7
            timeEvent:
            - annotation:
                description:
                  truncatedByteCount: 0
                  value: value
                attributes:
                  attributeMap:
                    key:
                      stringValue:
                        truncatedByteCount: 0
                        value: value
                      intValue: intValue
                      boolValue: true
                  droppedAttributesCount: 6
              messageEvent:
                compressedSizeBytes: compressedSizeBytes
                id: id
                type: TYPE_UNSPECIFIED
                uncompressedSizeBytes: uncompressedSizeBytes
              time: time
            - annotation:
                description:
                  truncatedByteCount: 0
                  value: value
                attributes:
                  attributeMap:
                    key:
                      stringValue:
                        truncatedByteCount: 0
                        value: value
                      intValue: intValue
                      boolValue: true
                  droppedAttributesCount: 6
              messageEvent:
                compressedSizeBytes: compressedSizeBytes
                id: id
                type: TYPE_UNSPECIFIED
                uncompressedSizeBytes: uncompressedSizeBytes
              time: time
          status:
            code: 2
            details:
            - key: ""
            - key: ""
            message: message
      properties:
        spans:
          description: "Required. A list of new spans. The span names must not match\
            \ existing spans, otherwise the results are undefined."
          items:
            $ref: '#/components/schemas/Span'
          type: array
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Link:
      description: "A pointer from the current span to another span in the same trace\
        \ or in a different trace. For example, this can be used in batching operations,\
        \ where a single batch handler processes multiple requests from different\
        \ traces or when the handler receives a request from a different project."
      example:
        spanId: spanId
        traceId: traceId
        attributes:
          attributeMap:
            key:
              stringValue:
                truncatedByteCount: 0
                value: value
              intValue: intValue
              boolValue: true
          droppedAttributesCount: 6
        type: TYPE_UNSPECIFIED
      properties:
        attributes:
          $ref: '#/components/schemas/Attributes'
        spanId:
          description: "The `[SPAN_ID]` for a span within a trace."
          type: string
        traceId:
          description: "The `[TRACE_ID]` for a trace within a project."
          type: string
        type:
          description: The relationship of the current span relative to the linked
            span.
          enum:
          - TYPE_UNSPECIFIED
          - CHILD_LINKED_SPAN
          - PARENT_LINKED_SPAN
          type: string
      type: object
    Links:
      description: "A collection of links, which are references from this span to\
        \ a span in the same or different trace."
      example:
        droppedLinksCount: 5
        link:
        - spanId: spanId
          traceId: traceId
          attributes:
            attributeMap:
              key:
                stringValue:
                  truncatedByteCount: 0
                  value: value
                intValue: intValue
                boolValue: true
            droppedAttributesCount: 6
          type: TYPE_UNSPECIFIED
        - spanId: spanId
          traceId: traceId
          attributes:
            attributeMap:
              key:
                stringValue:
                  truncatedByteCount: 0
                  value: value
                intValue: intValue
                boolValue: true
            droppedAttributesCount: 6
          type: TYPE_UNSPECIFIED
      properties:
        droppedLinksCount:
          description: "The number of dropped links after the maximum size was enforced.\
            \ If this value is 0, then no links were dropped."
          format: int32
          type: integer
        link:
          description: A collection of links.
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
    MessageEvent:
      description: An event describing a message sent/received between Spans.
      example:
        compressedSizeBytes: compressedSizeBytes
        id: id
        type: TYPE_UNSPECIFIED
        uncompressedSizeBytes: uncompressedSizeBytes
      properties:
        compressedSizeBytes:
          description: "The number of compressed bytes sent or received. If missing,\
            \ the compressed size is assumed to be the same size as the uncompressed\
            \ size."
          format: int64
          type: string
        id:
          description: An identifier for the MessageEvent's message that can be used
            to match `SENT` and `RECEIVED` MessageEvents.
          format: int64
          type: string
        type:
          description: Type of MessageEvent. Indicates whether the message was sent
            or received.
          enum:
          - TYPE_UNSPECIFIED
          - SENT
          - RECEIVED
          type: string
        uncompressedSizeBytes:
          description: The number of uncompressed bytes sent or received.
          format: int64
          type: string
      type: object
    Module:
      description: Binary module.
      example:
        module:
          truncatedByteCount: 0
          value: value
        buildId:
          truncatedByteCount: 0
          value: value
      properties:
        buildId:
          $ref: '#/components/schemas/TruncatableString'
        module:
          $ref: '#/components/schemas/TruncatableString'
      type: object
    Span:
      description: "A span represents a single operation within a trace. Spans can\
        \ be nested to form a trace tree. Often, a trace contains a root span that\
        \ describes the end-to-end latency, and one or more subspans for its sub-operations.\
        \ A trace can also contain multiple root spans, or none at all. Spans do not\
        \ need to be contiguous. There might be gaps or overlaps between spans in\
        \ a trace."
      example:
        displayName:
          truncatedByteCount: 0
          value: value
        spanKind: SPAN_KIND_UNSPECIFIED
        parentSpanId: parentSpanId
        spanId: spanId
        childSpanCount: 1
        name: name
        attributes:
          attributeMap:
            key:
              stringValue:
                truncatedByteCount: 0
                value: value
              intValue: intValue
              boolValue: true
          droppedAttributesCount: 6
        links:
          droppedLinksCount: 5
          link:
          - spanId: spanId
            traceId: traceId
            attributes:
              attributeMap:
                key:
                  stringValue:
                    truncatedByteCount: 0
                    value: value
                  intValue: intValue
                  boolValue: true
              droppedAttributesCount: 6
            type: TYPE_UNSPECIFIED
          - spanId: spanId
            traceId: traceId
            attributes:
              attributeMap:
                key:
                  stringValue:
                    truncatedByteCount: 0
                    value: value
                  intValue: intValue
                  boolValue: true
              droppedAttributesCount: 6
            type: TYPE_UNSPECIFIED
        startTime: startTime
        endTime: endTime
        sameProcessAsParentSpan: true
        stackTrace:
          stackFrames:
            droppedFramesCount: 5
            frame:
            - fileName:
                truncatedByteCount: 0
                value: value
              originalFunctionName:
                truncatedByteCount: 0
                value: value
              columnNumber: columnNumber
              functionName:
                truncatedByteCount: 0
                value: value
              sourceVersion:
                truncatedByteCount: 0
                value: value
              loadModule:
                module:
                  truncatedByteCount: 0
                  value: value
                buildId:
                  truncatedByteCount: 0
                  value: value
              lineNumber: lineNumber
            - fileName:
                truncatedByteCount: 0
                value: value
              originalFunctionName:
                truncatedByteCount: 0
                value: value
              columnNumber: columnNumber
              functionName:
                truncatedByteCount: 0
                value: value
              sourceVersion:
                truncatedByteCount: 0
                value: value
              loadModule:
                module:
                  truncatedByteCount: 0
                  value: value
                buildId:
                  truncatedByteCount: 0
                  value: value
              lineNumber: lineNumber
          stackTraceHashId: stackTraceHashId
        timeEvents:
          droppedMessageEventsCount: 9
          droppedAnnotationsCount: 7
          timeEvent:
          - annotation:
              description:
                truncatedByteCount: 0
                value: value
              attributes:
                attributeMap:
                  key:
                    stringValue:
                      truncatedByteCount: 0
                      value: value
                    intValue: intValue
                    boolValue: true
                droppedAttributesCount: 6
            messageEvent:
              compressedSizeBytes: compressedSizeBytes
              id: id
              type: TYPE_UNSPECIFIED
              uncompressedSizeBytes: uncompressedSizeBytes
            time: time
          - annotation:
              description:
                truncatedByteCount: 0
                value: value
              attributes:
                attributeMap:
                  key:
                    stringValue:
                      truncatedByteCount: 0
                      value: value
                    intValue: intValue
                    boolValue: true
                droppedAttributesCount: 6
            messageEvent:
              compressedSizeBytes: compressedSizeBytes
              id: id
              type: TYPE_UNSPECIFIED
              uncompressedSizeBytes: uncompressedSizeBytes
            time: time
        status:
          code: 2
          details:
          - key: ""
          - key: ""
          message: message
      properties:
        attributes:
          $ref: '#/components/schemas/Attributes'
        childSpanCount:
          description: "Optional. The number of child spans that were generated while\
            \ this span was active. If set, allows implementation to detect missing\
            \ child spans."
          format: int32
          type: integer
        displayName:
          $ref: '#/components/schemas/TruncatableString'
        endTime:
          description: "Required. The end time of the span. On the client side, this\
            \ is the time kept by the local machine where the span execution ends.\
            \ On the server side, this is the time when the server application handler\
            \ stops running."
          format: google-datetime
          type: string
        links:
          $ref: '#/components/schemas/Links'
        name:
          description: "Required. The resource name of the span in the following format:\
            \ * `projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/[SPAN_ID]` `[TRACE_ID]`\
            \ is a unique identifier for a trace within a project; it is a 32-character\
            \ hexadecimal encoding of a 16-byte array. It should not be zero. `[SPAN_ID]`\
            \ is a unique identifier for a span within a trace; it is a 16-character\
            \ hexadecimal encoding of an 8-byte array. It should not be zero. ."
          type: string
        parentSpanId:
          description: "The `[SPAN_ID]` of this span's parent span. If this is a root\
            \ span, then this field must be empty."
          type: string
        sameProcessAsParentSpan:
          description: "Optional. Set this parameter to indicate whether this span\
            \ is in the same process as its parent. If you do not set this parameter,\
            \ Trace is unable to take advantage of this helpful information."
          type: boolean
        spanId:
          description: "Required. The `[SPAN_ID]` portion of the span's resource name."
          type: string
        spanKind:
          description: "Optional. Distinguishes between spans generated in a particular\
            \ context. For example, two spans with the same name may be distinguished\
            \ using `CLIENT` (caller) and `SERVER` (callee) to identify an RPC call."
          enum:
          - SPAN_KIND_UNSPECIFIED
          - INTERNAL
          - SERVER
          - CLIENT
          - PRODUCER
          - CONSUMER
          type: string
        stackTrace:
          $ref: '#/components/schemas/StackTrace'
        startTime:
          description: "Required. The start time of the span. On the client side,\
            \ this is the time kept by the local machine where the span execution\
            \ starts. On the server side, this is the time when the server's application\
            \ handler starts running."
          format: google-datetime
          type: string
        status:
          $ref: '#/components/schemas/Status'
        timeEvents:
          $ref: '#/components/schemas/TimeEvents'
      type: object
    StackFrame:
      description: Represents a single stack frame in a stack trace.
      example:
        fileName:
          truncatedByteCount: 0
          value: value
        originalFunctionName:
          truncatedByteCount: 0
          value: value
        columnNumber: columnNumber
        functionName:
          truncatedByteCount: 0
          value: value
        sourceVersion:
          truncatedByteCount: 0
          value: value
        loadModule:
          module:
            truncatedByteCount: 0
            value: value
          buildId:
            truncatedByteCount: 0
            value: value
        lineNumber: lineNumber
      properties:
        columnNumber:
          description: "The column number where the function call appears, if available.\
            \ This is important in JavaScript because of its anonymous functions."
          format: int64
          type: string
        fileName:
          $ref: '#/components/schemas/TruncatableString'
        functionName:
          $ref: '#/components/schemas/TruncatableString'
        lineNumber:
          description: The line number in `file_name` where the function call appears.
          format: int64
          type: string
        loadModule:
          $ref: '#/components/schemas/Module'
        originalFunctionName:
          $ref: '#/components/schemas/TruncatableString'
        sourceVersion:
          $ref: '#/components/schemas/TruncatableString'
      type: object
    StackFrames:
      description: "A collection of stack frames, which can be truncated."
      example:
        droppedFramesCount: 5
        frame:
        - fileName:
            truncatedByteCount: 0
            value: value
          originalFunctionName:
            truncatedByteCount: 0
            value: value
          columnNumber: columnNumber
          functionName:
            truncatedByteCount: 0
            value: value
          sourceVersion:
            truncatedByteCount: 0
            value: value
          loadModule:
            module:
              truncatedByteCount: 0
              value: value
            buildId:
              truncatedByteCount: 0
              value: value
          lineNumber: lineNumber
        - fileName:
            truncatedByteCount: 0
            value: value
          originalFunctionName:
            truncatedByteCount: 0
            value: value
          columnNumber: columnNumber
          functionName:
            truncatedByteCount: 0
            value: value
          sourceVersion:
            truncatedByteCount: 0
            value: value
          loadModule:
            module:
              truncatedByteCount: 0
              value: value
            buildId:
              truncatedByteCount: 0
              value: value
          lineNumber: lineNumber
      properties:
        droppedFramesCount:
          description: "The number of stack frames that were dropped because there\
            \ were too many stack frames. If this value is 0, then no stack frames\
            \ were dropped."
          format: int32
          type: integer
        frame:
          description: Stack frames in this call stack.
          items:
            $ref: '#/components/schemas/StackFrame'
          type: array
      type: object
    StackTrace:
      description: A call stack appearing in a trace.
      example:
        stackFrames:
          droppedFramesCount: 5
          frame:
          - fileName:
              truncatedByteCount: 0
              value: value
            originalFunctionName:
              truncatedByteCount: 0
              value: value
            columnNumber: columnNumber
            functionName:
              truncatedByteCount: 0
              value: value
            sourceVersion:
              truncatedByteCount: 0
              value: value
            loadModule:
              module:
                truncatedByteCount: 0
                value: value
              buildId:
                truncatedByteCount: 0
                value: value
            lineNumber: lineNumber
          - fileName:
              truncatedByteCount: 0
              value: value
            originalFunctionName:
              truncatedByteCount: 0
              value: value
            columnNumber: columnNumber
            functionName:
              truncatedByteCount: 0
              value: value
            sourceVersion:
              truncatedByteCount: 0
              value: value
            loadModule:
              module:
                truncatedByteCount: 0
                value: value
              buildId:
                truncatedByteCount: 0
                value: value
            lineNumber: lineNumber
        stackTraceHashId: stackTraceHashId
      properties:
        stackFrames:
          $ref: '#/components/schemas/StackFrames'
        stackTraceHashId:
          description: The hash ID is used to conserve network bandwidth for duplicate
            stack traces within a single trace. Often multiple spans will have identical
            stack traces. The first occurrence of a stack trace should contain both
            the `stackFrame` content and a value in `stackTraceHashId`. Subsequent
            spans within the same request can refer to that stack trace by only setting
            `stackTraceHashId`.
          format: int64
          type: string
      type: object
    Status:
      description: "The `Status` type defines a logical error model that is suitable\
        \ for different programming environments, including REST APIs and RPC APIs.\
        \ It is used by [gRPC](https://github.com/grpc). Each `Status` message contains\
        \ three pieces of data: error code, error message, and error details. You\
        \ can find out more about this error model and how to work with it in the\
        \ [API Design Guide](https://cloud.google.com/apis/design/errors)."
      example:
        code: 2
        details:
        - key: ""
        - key: ""
        message: message
      properties:
        code:
          description: "The status code, which should be an enum value of google.rpc.Code."
          format: int32
          type: integer
        details:
          description: A list of messages that carry the error details. There is a
            common set of message types for APIs to use.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type
                URL.
            type: object
          type: array
        message:
          description: "A developer-facing error message, which should be in English.\
            \ Any user-facing error message should be localized and sent in the google.rpc.Status.details\
            \ field, or localized by the client."
          type: string
      type: object
    TimeEvent:
      description: A time-stamped annotation or message event in the Span.
      example:
        annotation:
          description:
            truncatedByteCount: 0
            value: value
          attributes:
            attributeMap:
              key:
                stringValue:
                  truncatedByteCount: 0
                  value: value
                intValue: intValue
                boolValue: true
            droppedAttributesCount: 6
        messageEvent:
          compressedSizeBytes: compressedSizeBytes
          id: id
          type: TYPE_UNSPECIFIED
          uncompressedSizeBytes: uncompressedSizeBytes
        time: time
      properties:
        annotation:
          $ref: '#/components/schemas/Annotation'
        messageEvent:
          $ref: '#/components/schemas/MessageEvent'
        time:
          description: The timestamp indicating the time the event occurred.
          format: google-datetime
          type: string
      type: object
    TimeEvents:
      description: "A collection of `TimeEvent`s. A `TimeEvent` is a time-stamped\
        \ annotation on the span, consisting of either user-supplied key:value pairs,\
        \ or details of a message sent/received between Spans."
      example:
        droppedMessageEventsCount: 9
        droppedAnnotationsCount: 7
        timeEvent:
        - annotation:
            description:
              truncatedByteCount: 0
              value: value
            attributes:
              attributeMap:
                key:
                  stringValue:
                    truncatedByteCount: 0
                    value: value
                  intValue: intValue
                  boolValue: true
              droppedAttributesCount: 6
          messageEvent:
            compressedSizeBytes: compressedSizeBytes
            id: id
            type: TYPE_UNSPECIFIED
            uncompressedSizeBytes: uncompressedSizeBytes
          time: time
        - annotation:
            description:
              truncatedByteCount: 0
              value: value
            attributes:
              attributeMap:
                key:
                  stringValue:
                    truncatedByteCount: 0
                    value: value
                  intValue: intValue
                  boolValue: true
              droppedAttributesCount: 6
          messageEvent:
            compressedSizeBytes: compressedSizeBytes
            id: id
            type: TYPE_UNSPECIFIED
            uncompressedSizeBytes: uncompressedSizeBytes
          time: time
      properties:
        droppedAnnotationsCount:
          description: "The number of dropped annotations in all the included time\
            \ events. If the value is 0, then no annotations were dropped."
          format: int32
          type: integer
        droppedMessageEventsCount:
          description: "The number of dropped message events in all the included time\
            \ events. If the value is 0, then no message events were dropped."
          format: int32
          type: integer
        timeEvent:
          description: A collection of `TimeEvent`s.
          items:
            $ref: '#/components/schemas/TimeEvent'
          type: array
      type: object
    TruncatableString:
      description: Represents a string that might be shortened to a specified length.
      example:
        truncatedByteCount: 0
        value: value
      properties:
        truncatedByteCount:
          description: "The number of bytes removed from the original string. If this\
            \ value is 0, then the string was not shortened."
          format: int32
          type: integer
        value:
          description: "The shortened string. For example, if the original string\
            \ is 500 bytes long and the limit of the string is 128 bytes, then `value`\
            \ contains the first 128 bytes of the 500-byte string. Truncation always\
            \ happens on a UTF8 character boundary. If there are multi-byte characters\
            \ in the string, then the length of the shortened string might be less\
            \ than the size limit."
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
            https://www.googleapis.com/auth/trace.append: Write Trace data for a project
              or application
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
            https://www.googleapis.com/auth/trace.append: Write Trace data for a project
              or application
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2

