openapi: 3.0.0
info:
  contact:
    x-twitter: envoicein
  description: "[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/80638214aa04722c9203)\r\
    \n<span style='margin-left: 0.5em;'>or</span>\r\n<a href='https://documenter.getpostman.com/view/3559821/TVeqcn2L'\
    \ class='openapi-button' _ngcontent-c6>View Postman docs</a>\r\n\r\n# Quickstart\r\
    \n\r\nVisit [github](https://github.com/EmitKnowledge/Envoice) to view the quickstart\
    \ tutorial.\r\n\r\n<div class='postman-tutorial'>\r\n\r\n# Tutorial for running\
    \ the API in postman\r\n\r\nClick on \"\"Run in Postman\"\" button\r\n<br /><br\
    \ />\r\n![postman - tutorial - 1](/Assets/images/api/postman-tutorial/postman-tutorial-1.png)\r\
    \n\r\n --- \r\n\r\nA new page will open.\r\nClick the \"\"Postman for windows\"\
    \" to run postman as a desktop app.\r\nMake sure you have already [installed](https://www.getpostman.com/docs/postman/launching_postman/installation_and_updates)\
    \ Postman.\r\n<br /><br />\r\n![postman - tutorial - 2](/Assets/images/api/postman-tutorial/postman-tutorial-2.png)\r\
    \n\r\n --- \r\n\r\nIn chrome an alert might show up to set a default app for opening\
    \ postman links. Click on \"\"Open Postman\"\".\r\n<br /><br />\r\n![postman -\
    \ tutorial - 3](/Assets/images/api/postman-tutorial/postman-tutorial-3.png)\r\n\
    \r\n --- \r\n\r\nThe OpenAPI specification will be imported in Postman as a new\
    \ collection named \"\"Envoice api\"\"\r\n<br /><br />\r\n![postman - tutorial\
    \ - 4](/Assets/images/api/postman-tutorial/postman-tutorial-4.png)\r\n\r\n ---\
    \ \r\n\r\nWhen testing be sure to check and modify the environment variables to\
    \ suit your api key and secret. The domain is set to envoice's endpoint so you\
    \ don't really need to change that.  \r\n<sub>\\*Eye button in top right corner\
    \ </sub>\r\n<br /><br /> \r\n![postman - tutorial - 5](/Assets/images/api/postman-tutorial/postman-tutorial-5.png)\r\
    \n<br /><br /> \r\n![postman - tutorial - 6](/Assets/images/api/postman-tutorial/postman-tutorial-6.png)\r\
    \n\r\n --- \r\n\r\nYou don't need to change the values of the header parameters,\
    \ because they will be replaced automatically when you send a request with real\
    \ values from the environment configured in the previous step.\r\n<br /><br />\r\
    \n![postman - tutorial - 7](/Assets/images/api/postman-tutorial/postman-tutorial-7.png)\r\
    \n\r\n --- \r\n\r\nModify the example data to suit your needs and send a request.\r\
    \n<br /><br />\r\n![postman - tutorial - 8](/Assets/images/api/postman-tutorial/postman-tutorial-8.png)\r\
    \n</div>\r\n\r\n# Webhooks\r\n\r\nWebhooks allow you to build or set up Envoice\
    \ Apps which subscribe to invoice activities. \r\nWhen one of those events is\
    \ triggered, we'll send a HTTP POST payload to the webhook's configured URL. \r\
    \nWebhooks can be used to update an external invoice data storage.\r\n\r\nIn order\
    \ to use webhooks visit [this link](/account/settings#api-tab) and add upto 10\
    \ webhook urls that will return status `200` in order to signal that the webhook\
    \ is working.\r\nAll nonworking webhooks will be ignored after a certain period\
    \ of time and several retry attempts.\r\nIf after several attempts the webhook\
    \ starts to work, we will send you all activities, both past and present, in chronological\
    \ order.\r\n\r\nThe payload of the webhook is in format:\r\n```\r\n{\r\n    Signature:\
    \ \"\"sha256 string\"\",\r\n    Timestamp: \"\"YYYY-MM-DDTHH:mm:ss.FFFFFFFZ\"\"\
    ,\r\n    Activity: {\r\n        Message: \"string\",\r\n        Link: \"share\
    \ url\",\r\n        Type: int,        \r\n        InvoiceNumber: \"string\",\r\
    \n        InvoiceId: int,        \r\n        OrderNumber: \"string\",\r\n    \
    \    OrderId: int,\r\n        Id: int,\r\n        CreatedOn: \"YYYY-MM-DDTHH:mm:ss.FFFFFFFZ\"\
    \r\n    }\r\n}\r\n```            "
  title: API v1.0.0
  version: v1
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://twitter.com/envoicein/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://www.envoice.in/docs/api/v1/specification
    version: "3.0"
  x-providerName: envoice.in
servers:
- url: https://www.envoice.in
paths:
  /api/client/all:
    get:
      operationId: client_api_all
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ClientDetailsApiModel'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ClientDetailsApiModel'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/ClientDetailsApiModel'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/ClientDetailsApiModel'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ClientDetailsApiModel'
                type: array
          description: OK
      summary: Return all clients for the account
      tags:
      - Client
      x-openapi-router-controller: openapi_server.controllers.client_controller
  /api/client/candelete:
    get:
      operationId: client_api_can_delete
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/html:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
          description: OK
      summary: Check if the provided client can be deleted
      tags:
      - Client
      x-openapi-router-controller: openapi_server.controllers.client_controller
  /api/client/delete:
    post:
      operationId: client_api_delete
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientDeleteApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ClientDeleteApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/ClientDeleteApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/ClientDeleteApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ClientDeleteApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/ClientDeleteApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Delete an existing client
      tags:
      - Client
      x-openapi-router-controller: openapi_server.controllers.client_controller
      x-codegen-request-body-name: body
  /api/client/details:
    get:
      operationId: client_api_details
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDetailsApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClientDetailsApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/ClientDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ClientDetailsApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ClientDetailsApiModel'
          description: OK
      summary: Return client details. Activities and invoices included.
      tags:
      - Client
      x-openapi-router-controller: openapi_server.controllers.client_controller
  /api/client/new:
    post:
      operationId: client_api_new
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreateApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ClientCreateApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/ClientCreateApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/ClientCreateApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ClientCreateApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/ClientCreateApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Create a client
      tags:
      - Client
      x-openapi-router-controller: openapi_server.controllers.client_controller
      x-codegen-request-body-name: body
  /api/client/update:
    post:
      operationId: client_api_update
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientUpdateApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ClientUpdateApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/ClientUpdateApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/ClientUpdateApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ClientUpdateApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/ClientUpdateApiModel'
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
      summary: Update an existing client
      tags:
      - Client
      x-openapi-router-controller: openapi_server.controllers.client_controller
      x-codegen-request-body-name: body
  /api/estimation/all:
    get:
      operationId: estimation_api_all
      parameters:
      - explode: true
        in: query
        name: queryOptions.page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: queryOptions.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResult_EstimationDetailsApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/ListResult_EstimationDetailsApiModel_'
            text/html:
              schema:
                $ref: '#/components/schemas/ListResult_EstimationDetailsApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/ListResult_EstimationDetailsApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/ListResult_EstimationDetailsApiModel_'
          description: OK
      summary: Return all estimation for the account
      tags:
      - Estimation
      x-openapi-router-controller: openapi_server.controllers.estimation_controller
  /api/estimation/changestatus:
    post:
      operationId: estimation_api_change_status
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimationChangeStatusApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EstimationChangeStatusApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/EstimationChangeStatusApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/EstimationChangeStatusApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/EstimationChangeStatusApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/EstimationChangeStatusApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/html:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
          description: OK
      summary: Change estimation status
      tags:
      - Estimation
      x-openapi-router-controller: openapi_server.controllers.estimation_controller
      x-codegen-request-body-name: body
  /api/estimation/convert:
    post:
      operationId: estimation_api_convert
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              format: int32
              type: integer
          application/x-www-form-urlencoded:
            schema:
              format: int32
              type: integer
          application/xml:
            schema:
              format: int32
              type: integer
          text/html:
            schema:
              format: int32
              type: integer
          text/json:
            schema:
              format: int32
              type: integer
          text/xml:
            schema:
              format: int32
              type: integer
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
          description: OK
      summary: Convert the estimation to an invoice
      tags:
      - Estimation
      x-openapi-router-controller: openapi_server.controllers.estimation_controller
      x-codegen-request-body-name: body
  /api/estimation/delete:
    post:
      operationId: estimation_api_delete
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimationDeleteApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EstimationDeleteApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/EstimationDeleteApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/EstimationDeleteApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/EstimationDeleteApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/EstimationDeleteApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Delete an existing estimation
      tags:
      - Estimation
      x-openapi-router-controller: openapi_server.controllers.estimation_controller
      x-codegen-request-body-name: body
  /api/estimation/details:
    get:
      operationId: estimation_api_details
      parameters:
      - description: ""
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
          description: OK
      summary: Return estimation data
      tags:
      - Estimation
      x-openapi-router-controller: openapi_server.controllers.estimation_controller
  /api/estimation/new:
    post:
      operationId: estimation_api_new
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimationCreateApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EstimationCreateApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/EstimationCreateApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/EstimationCreateApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/EstimationCreateApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/EstimationCreateApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
          description: OK
      summary: Create an estimation
      tags:
      - Estimation
      x-openapi-router-controller: openapi_server.controllers.estimation_controller
      x-codegen-request-body-name: body
  /api/estimation/sendtoclient:
    post:
      operationId: estimation_api_send_to_client
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEstimationToClientApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendEstimationToClientApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/SendEstimationToClientApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/SendEstimationToClientApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/SendEstimationToClientApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/SendEstimationToClientApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Send the provided estimation to the client
      tags:
      - Estimation
      x-openapi-router-controller: openapi_server.controllers.estimation_controller
      x-codegen-request-body-name: body
  /api/estimation/status:
    get:
      operationId: estimation_api_status
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                enum:
                - Draft
                - Accepted
                - Rejected
                type: string
            application/xml:
              schema:
                enum:
                - Draft
                - Accepted
                - Rejected
                type: string
            text/html:
              schema:
                enum:
                - Draft
                - Accepted
                - Rejected
                type: string
            text/json:
              schema:
                enum:
                - Draft
                - Accepted
                - Rejected
                type: string
            text/xml:
              schema:
                enum:
                - Draft
                - Accepted
                - Rejected
                type: string
          description: OK
      summary: Retrieve the status of the estimation
      tags:
      - Estimation
      x-openapi-router-controller: openapi_server.controllers.estimation_controller
  /api/estimation/update:
    post:
      operationId: estimation_api_update
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimationUpdateApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EstimationUpdateApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/EstimationUpdateApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/EstimationUpdateApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/EstimationUpdateApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/EstimationUpdateApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/EstimationFullDetailsApiModel'
          description: OK
      summary: Update an existing estimation
      tags:
      - Estimation
      x-openapi-router-controller: openapi_server.controllers.estimation_controller
      x-codegen-request-body-name: body
  /api/estimation/uri:
    get:
      operationId: estimation_api_uri
      parameters:
      - description: ""
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimationUriApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/EstimationUriApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/EstimationUriApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EstimationUriApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/EstimationUriApiModel'
          description: OK
      summary: Return the unique url to the client's invoice
      tags:
      - Estimation
      x-openapi-router-controller: openapi_server.controllers.estimation_controller
  /api/general/countries:
    get:
      operationId: general_api_countries
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CountryDetailsApiModel'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CountryDetailsApiModel'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/CountryDetailsApiModel'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CountryDetailsApiModel'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CountryDetailsApiModel'
                type: array
          description: OK
      summary: Return all of the platform supported countries
      tags:
      - General
      x-openapi-router-controller: openapi_server.controllers.general_controller
  /api/general/currencies:
    get:
      operationId: general_api_currencies
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CurrencyDetailsApiModel'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CurrencyDetailsApiModel'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/CurrencyDetailsApiModel'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CurrencyDetailsApiModel'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CurrencyDetailsApiModel'
                type: array
          description: OK
      summary: Return all of the platform supported currencies
      tags:
      - General
      x-openapi-router-controller: openapi_server.controllers.general_controller
  /api/general/dateformats:
    get:
      operationId: general_api_date_formats
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/html:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Return all of the platform supported Date Formats
      tags:
      - General
      x-openapi-router-controller: openapi_server.controllers.general_controller
  /api/general/uilanguages:
    get:
      operationId: general_api_ui_languages
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UILanguageDetailsApiModel'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/UILanguageDetailsApiModel'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/UILanguageDetailsApiModel'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UILanguageDetailsApiModel'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/UILanguageDetailsApiModel'
                type: array
          description: OK
      summary: Return all of the platform supported UI languages
      tags:
      - General
      x-openapi-router-controller: openapi_server.controllers.general_controller
  /api/invoice/all:
    get:
      operationId: invoice_api_all
      parameters:
      - explode: true
        in: query
        name: queryOptions.page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: queryOptions.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResult_InvoiceDetailsApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/ListResult_InvoiceDetailsApiModel_'
            text/html:
              schema:
                $ref: '#/components/schemas/ListResult_InvoiceDetailsApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/ListResult_InvoiceDetailsApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/ListResult_InvoiceDetailsApiModel_'
          description: OK
      summary: Return all invoices for the account
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
  /api/invoice/allcategories:
    get:
      operationId: api_invoice_allcategories_get
      parameters:
      - explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResult_InvoiceCategoryApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/ListResult_InvoiceCategoryApiModel_'
            text/html:
              schema:
                $ref: '#/components/schemas/ListResult_InvoiceCategoryApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/ListResult_InvoiceCategoryApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/ListResult_InvoiceCategoryApiModel_'
          description: OK
      summary: Return all invoice categories for the account
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
  /api/invoice/changestatus:
    post:
      operationId: invoice_api_change_status
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeStatusApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChangeStatusApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/ChangeStatusApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/ChangeStatusApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeStatusApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/ChangeStatusApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/html:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
          description: OK
      summary: Change invoice status
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
      x-codegen-request-body-name: body
  /api/invoice/delete:
    post:
      operationId: invoice_api_delete
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceDeleteApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InvoiceDeleteApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/InvoiceDeleteApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/InvoiceDeleteApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/InvoiceDeleteApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/InvoiceDeleteApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Delete an existing invoice
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
      x-codegen-request-body-name: body
  /api/invoice/deletecategory:
    post:
      operationId: api_invoice_deletecategory_post
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryDeleteApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryDeleteApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryDeleteApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryDeleteApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryDeleteApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryDeleteApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Delete an existing invoice category
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
      x-codegen-request-body-name: body
  /api/invoice/details:
    get:
      operationId: invoice_api_details
      parameters:
      - description: ""
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
          description: OK
      summary: Return invoice data
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
  /api/invoice/new:
    post:
      operationId: invoice_api_new
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreateApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InvoiceCreateApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/InvoiceCreateApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/InvoiceCreateApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreateApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/InvoiceCreateApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
          description: OK
      summary: Create an invoice
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
      x-codegen-request-body-name: body
  /api/invoice/newcategory:
    post:
      operationId: api_invoice_newcategory_post
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryCreateApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryCreateApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryCreateApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryCreateApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryCreateApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryCreateApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCategoryApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceCategoryApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/InvoiceCategoryApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceCategoryApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceCategoryApiModel'
          description: OK
      summary: Create an invoice category
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
      x-codegen-request-body-name: body
  /api/invoice/pdf:
    get:
      operationId: invoice_api_pdf
      parameters:
      - description: ""
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: signedVersion
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceUriApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceUriApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/InvoiceUriApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceUriApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceUriApiModel'
          description: OK
      summary: Return the PDF for the invoice
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
  /api/invoice/sendtoaccountant:
    post:
      operationId: invoice_api_send_to_accountant
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendInvoiceToAccountantApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendInvoiceToAccountantApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/SendInvoiceToAccountantApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/SendInvoiceToAccountantApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/SendInvoiceToAccountantApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/SendInvoiceToAccountantApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Send the provided invoice to the accountant
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
      x-codegen-request-body-name: body
  /api/invoice/sendtoclient:
    post:
      operationId: invoice_api_send_to_client
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendInvoiceToClientApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendInvoiceToClientApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/SendInvoiceToClientApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/SendInvoiceToClientApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/SendInvoiceToClientApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/SendInvoiceToClientApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Send the provided invoice to the client
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
      x-codegen-request-body-name: body
  /api/invoice/status:
    get:
      operationId: invoice_api_status
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                enum:
                - Draft
                - Paid
                - Unpaid
                - Overdue
                - Void
                type: string
            application/xml:
              schema:
                enum:
                - Draft
                - Paid
                - Unpaid
                - Overdue
                - Void
                type: string
            text/html:
              schema:
                enum:
                - Draft
                - Paid
                - Unpaid
                - Overdue
                - Void
                type: string
            text/json:
              schema:
                enum:
                - Draft
                - Paid
                - Unpaid
                - Overdue
                - Void
                type: string
            text/xml:
              schema:
                enum:
                - Draft
                - Paid
                - Unpaid
                - Overdue
                - Void
                type: string
          description: OK
      summary: Retrieve the status of the invoice
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
  /api/invoice/update:
    post:
      operationId: invoice_api_update
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceUpdateApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InvoiceUpdateApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/InvoiceUpdateApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/InvoiceUpdateApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/InvoiceUpdateApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/InvoiceUpdateApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceFullDetailsApiModel'
          description: OK
      summary: Update an existing invoice
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
      x-codegen-request-body-name: body
  /api/invoice/updatecategory:
    post:
      operationId: api_invoice_updatecategory_post
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryUpdateApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryUpdateApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryUpdateApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryUpdateApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryUpdateApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/InvoiceCategoryUpdateApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCategoryApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceCategoryApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/InvoiceCategoryApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceCategoryApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceCategoryApiModel'
          description: OK
      summary: Update an existing invoice category
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
      x-codegen-request-body-name: body
  /api/invoice/uri:
    get:
      operationId: invoice_api_uri
      parameters:
      - description: ""
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceUriApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceUriApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/InvoiceUriApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceUriApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceUriApiModel'
          description: OK
      summary: Return the unique url to the client's invoice
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
  /api/order/all:
    get:
      operationId: order_api_all
      parameters:
      - explode: true
        in: query
        name: queryOptions.page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: queryOptions.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResult_OrderDetailsApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/ListResult_OrderDetailsApiModel_'
            text/html:
              schema:
                $ref: '#/components/schemas/ListResult_OrderDetailsApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/ListResult_OrderDetailsApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/ListResult_OrderDetailsApiModel_'
          description: OK
      summary: Return all orders for the account
      tags:
      - Order
      x-openapi-router-controller: openapi_server.controllers.order_controller
  /api/order/changeshippingdetails:
    post:
      operationId: order_api_change_shipping_details
      parameters:
      - explode: true
        in: query
        name: orderId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderShippingDetailsApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrderShippingDetailsApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderShippingDetailsApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/OrderShippingDetailsApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/OrderShippingDetailsApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/OrderShippingDetailsApiModel'
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
      summary: Change order shipping details
      tags:
      - Order
      x-openapi-router-controller: openapi_server.controllers.order_controller
      x-codegen-request-body-name: body
  /api/order/changestatus:
    post:
      operationId: order_api_change_status
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeOrderStatusApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChangeOrderStatusApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/ChangeOrderStatusApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/ChangeOrderStatusApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeOrderStatusApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/ChangeOrderStatusApiModel'
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
      summary: Change order status
      tags:
      - Order
      x-openapi-router-controller: openapi_server.controllers.order_controller
      x-codegen-request-body-name: body
  /api/order/delete:
    post:
      operationId: order_api_delete
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderDeleteApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrderDeleteApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderDeleteApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/OrderDeleteApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/OrderDeleteApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/OrderDeleteApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Delete an existing order
      tags:
      - Order
      x-openapi-router-controller: openapi_server.controllers.order_controller
      x-codegen-request-body-name: body
  /api/order/details:
    get:
      operationId: order_api_details
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFullDetailsApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderFullDetailsApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/OrderFullDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderFullDetailsApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrderFullDetailsApiModel'
          description: OK
      summary: Return order details
      tags:
      - Order
      x-openapi-router-controller: openapi_server.controllers.order_controller
  /api/order/new:
    post:
      operationId: order_api_new
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrderCreateApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderCreateApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/OrderCreateApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/OrderCreateApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/OrderCreateApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Create an order
      tags:
      - Order
      x-openapi-router-controller: openapi_server.controllers.order_controller
      x-codegen-request-body-name: body
  /api/payment/supported:
    get:
      operationId: payment_api_supported
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PaymentGatewayDetailsApiModel'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/PaymentGatewayDetailsApiModel'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/PaymentGatewayDetailsApiModel'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/PaymentGatewayDetailsApiModel'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/PaymentGatewayDetailsApiModel'
                type: array
          description: OK
      summary: Return all supported payment gateways (no currencies means all are
        supported)
      tags:
      - Payment
      x-openapi-router-controller: openapi_server.controllers.payment_controller
  /api/paymentlink/all:
    get:
      operationId: payment_link_api_all
      parameters:
      - explode: true
        in: query
        name: queryOptions.page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: queryOptions.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResult_PaymentLink_'
            application/xml:
              schema:
                $ref: '#/components/schemas/ListResult_PaymentLink_'
            text/html:
              schema:
                $ref: '#/components/schemas/ListResult_PaymentLink_'
            text/json:
              schema:
                $ref: '#/components/schemas/ListResult_PaymentLink_'
            text/xml:
              schema:
                $ref: '#/components/schemas/ListResult_PaymentLink_'
          description: OK
      summary: Create a payment link
      tags:
      - PaymentLink
      x-openapi-router-controller: openapi_server.controllers.payment_link_controller
  /api/paymentlink/delete:
    post:
      operationId: payment_link_api_delete
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PaymentLink'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Delete an existing payment link
      tags:
      - PaymentLink
      x-openapi-router-controller: openapi_server.controllers.payment_link_controller
      x-codegen-request-body-name: body
  /api/paymentlink/new:
    post:
      operationId: payment_link_api_new
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PaymentLink'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Create a payment link
      tags:
      - PaymentLink
      x-openapi-router-controller: openapi_server.controllers.payment_link_controller
      x-codegen-request-body-name: body
  /api/paymentlink/uri:
    get:
      operationId: payment_link_api_uri
      parameters:
      - description: ""
        explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkUriApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaymentLinkUriApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/PaymentLinkUriApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkUriApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaymentLinkUriApiModel'
          description: OK
      summary: Return the unique url to the client's payment link
      tags:
      - PaymentLink
      x-openapi-router-controller: openapi_server.controllers.payment_link_controller
  /api/product/all:
    get:
      operationId: product_api_all
      parameters:
      - explode: true
        in: query
        name: queryOptions.page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: queryOptions.pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResult_ProductDetailsApiModel_'
            application/xml:
              schema:
                $ref: '#/components/schemas/ListResult_ProductDetailsApiModel_'
            text/html:
              schema:
                $ref: '#/components/schemas/ListResult_ProductDetailsApiModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/ListResult_ProductDetailsApiModel_'
            text/xml:
              schema:
                $ref: '#/components/schemas/ListResult_ProductDetailsApiModel_'
          description: OK
      summary: Return all products for the account
      tags:
      - Product
      x-openapi-router-controller: openapi_server.controllers.product_controller
  /api/product/delete:
    post:
      operationId: product_api_delete
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDeleteApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductDeleteApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProductDeleteApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/ProductDeleteApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ProductDeleteApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProductDeleteApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Delete an existing product
      tags:
      - Product
      x-openapi-router-controller: openapi_server.controllers.product_controller
      x-codegen-request-body-name: body
  /api/product/details:
    get:
      operationId: product_api_details
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFullDetailsApiModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProductFullDetailsApiModel'
            text/html:
              schema:
                $ref: '#/components/schemas/ProductFullDetailsApiModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ProductFullDetailsApiModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProductFullDetailsApiModel'
          description: OK
      summary: Return product details
      tags:
      - Product
      x-openapi-router-controller: openapi_server.controllers.product_controller
  /api/product/new:
    post:
      operationId: product_api_new
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductCreateApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProductCreateApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/ProductCreateApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ProductCreateApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProductCreateApiModel'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/html:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
      summary: Create a product
      tags:
      - Product
      x-openapi-router-controller: openapi_server.controllers.product_controller
      x-codegen-request-body-name: body
  /api/product/update:
    post:
      operationId: product_api_update
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductUpdateApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProductUpdateApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/ProductUpdateApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateApiModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProductUpdateApiModel'
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
      summary: Update an existing product
      tags:
      - Product
      x-openapi-router-controller: openapi_server.controllers.product_controller
      x-codegen-request-body-name: body
  /api/tax/all:
    get:
      operationId: tax_api_all
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TaxDetailsApiModel'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TaxDetailsApiModel'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/TaxDetailsApiModel'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/TaxDetailsApiModel'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TaxDetailsApiModel'
                type: array
          description: OK
      summary: Return all taxes for the account
      tags:
      - Tax
      x-openapi-router-controller: openapi_server.controllers.tax_controller
  /api/tax/delete:
    post:
      operationId: tax_api_delete
      parameters:
      - description: ""
        explode: false
        in: header
        name: x-auth-key
        required: true
        schema:
          default: "[authentication key]"
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: x-auth-secret
        required: true
        schema:
          default: "[authentication secret]"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxDeleteApiModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TaxDeleteApiModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/TaxDeleteApiModel'
          text/html:
            schema:
              $ref: '#/components/schemas/TaxDeleteApiModel'
          text/json:
            schema:
              $ref: '#/components/schemas/TaxDeleteApiModel'
          text/xml:
            schema:
[...]
