openapi: 3.0.1
info:
  description: "Azure Blueprints Client provides access to blueprint definitions,\
    \ assignments, and artifacts, and related blueprint operations."
  title: BlueprintClient
  version: 2018-11-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: blueprint-blueprintDefinition
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /{scope}/providers/Microsoft.Blueprint/blueprints:
    get:
      description: List blueprint definitions.
      operationId: blueprints_list
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlueprintList'
          description: OK -- retrieved list of blueprint definitions.
      tags:
      - Blueprint
      x-ms-examples:
        ManagementGroupBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                  name: simpleBlueprint
                  properties:
                    description: "blueprint contains all artifact kinds {'template',\
                      \ 'rbac', 'policy'}"
                    parameters:
                      costCenter:
                        metadata:
                          displayName: force cost center tag for all resources under
                            given subscription.
                        type: string
                      owners:
                        metadata:
                          displayName: assign owners to subscription along with blueprint
                            assignment.
                        type: array
                      storageAccountType:
                        metadata:
                          displayName: storage account type.
                        type: string
                    resourceGroups:
                      storageRG:
                        metadata:
                          description: Contains storageAccounts that collect all shoebox
                            logs.
                          displayName: storage resource group
                    targetScope: subscription
                  type: Microsoft.Blueprint/blueprints
        SubscriptionBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                  name: simpleBlueprint
                  properties:
                    description: "blueprint contains all artifact kinds {'template',\
                      \ 'rbac', 'policy'}"
                    parameters:
                      costCenter:
                        metadata:
                          displayName: force cost center tag for all resources under
                            given subscription.
                        type: string
                      owners:
                        metadata:
                          displayName: assign owners to subscription along with blueprint
                            assignment.
                        type: array
                      storageAccountType:
                        metadata:
                          displayName: storage account type.
                        type: string
                    resourceGroups:
                      storageRG:
                        metadata:
                          description: Contains storageAccounts that collect all shoebox
                            logs.
                          displayName: storage resource group
                    targetScope: subscription
                  type: Microsoft.Blueprint/blueprints
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.blueprint_controller
  /{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}:
    delete:
      description: Delete a blueprint definition.
      operationId: blueprints_delete
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blueprint'
          description: OK -- blueprint definition deleted.
        "204":
          content: {}
          description: No Content
      tags:
      - Blueprint
      x-ms-examples:
        ManagementGroupBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: simpleBlueprint
                properties:
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints
            "204": {}
        SubscriptionBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: simpleBlueprint
                properties:
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.blueprint_controller
    get:
      description: Get a blueprint definition.
      operationId: blueprints_get
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprintName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blueprint'
          description: OK -- blueprint definition retrieved.
      tags:
      - Blueprint
      x-ms-examples:
        ManagementGroupBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: simpleBlueprint
                properties:
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints
        SubscriptionBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: simpleBlueprint
                properties:
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints
      x-openapi-router-controller: openapi_server.controllers.blueprint_controller
    put:
      description: Create or update a blueprint definition.
      operationId: blueprints_create_or_update
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Blueprint'
        description: Blueprint definition.
        required: true
        x-body-name: blueprint
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blueprint'
          description: Created -- blueprint definition saved.
      tags:
      - Blueprint
      x-ms-examples:
        ManagementGroupBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprint:
              properties:
                description: "blueprint contains all artifact kinds {'template', 'rbac',\
                  \ 'policy'}"
                parameters:
                  costCenter:
                    metadata:
                      displayName: force cost center tag for all resources under given
                        subscription.
                    type: string
                  owners:
                    metadata:
                      displayName: assign owners to subscription along with blueprint
                        assignment.
                    type: array
                  storageAccountType:
                    metadata:
                      displayName: storage account type.
                    type: string
                resourceGroups:
                  storageRG:
                    metadata:
                      description: Contains storageAccounts that collect all shoebox
                        logs.
                      displayName: storage resource group
                targetScope: subscription
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "201":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: simpleBlueprint
                properties:
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints
        ResourceGroupWithTags:
          parameters:
            api-version: 2018-11-01-preview
            blueprint:
              properties:
                description: An example blueprint containing an RG with two tags.
                resourceGroups:
                  myRGName:
                    location: westus
                    metadata:
                      displayName: My Resource Group
                    name: myRGName
                    tags:
                      costcenter: "123456"
                      nameOnlyTag: ""
                targetScope: subscription
            blueprintName: simpleBlueprint
            scope: "providers/Microsoft.Management/managementGroups/{ManagementGroupId}"
          responses:
            "201":
              body:
                id: "/providers/Microsoft.Management/managementGroups/{ManagementGroupId}/providers/Microsoft.Blueprint/blueprints/RGTaggingExample"
                name: RGTaggingExample
                properties:
                  description: An example blueprint containing an RG with two tags.
                  parameters: {}
                  resourceGroups:
                    myRGName:
                      dependsOn: []
                      location: westus
                      metadata:
                        displayName: My Resource Group
                      name: myRGName
                      tags:
                        costcenter: "123456"
                        tagWithNoValue: ""
                  status:
                    lastModified: 2019-04-29T20:52:56+00:00
                    timeCreated: 2019-04-29T20:52:56+00:00
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints
        SubscriptionBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprint:
              properties:
                description: "blueprint contains all artifact kinds {'template', 'rbac',\
                  \ 'policy'}"
                parameters:
                  costCenter:
                    metadata:
                      displayName: force cost center tag for all resources under given
                        subscription.
                    type: string
                  owners:
                    metadata:
                      displayName: assign owners to subscription along with blueprint
                        assignment.
                    type: array
                  storageAccountType:
                    metadata:
                      displayName: storage account type.
                    type: string
                resourceGroups:
                  storageRG:
                    metadata:
                      description: Contains storageAccounts that collect all shoebox
                        logs.
                      displayName: storage resource group
                targetScope: subscription
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: simpleBlueprint
                properties:
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints
      x-codegen-request-body-name: blueprint
      x-openapi-router-controller: openapi_server.controllers.blueprint_controller
  /{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts:
    get:
      description: List artifacts for a given blueprint definition.
      operationId: artifacts_list
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
          description: OK -- blueprint artifacts retrieved.
      tags:
      - Artifact
      x-ms-examples:
        MG-ArtifactList:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/ownerAssignment
                  kind: roleAssignment
                  name: ownerAssignment
                  properties:
                    displayName: enforce owners of given subscription
                    principalIds: "[parameters('owners')]"
                    roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
                  type: Microsoft.Blueprint/blueprints/artifacts
                - id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/costCenterPolicy
                  kind: policyAssignment
                  name: costCenterPolicy
                  properties:
                    displayName: force costCenter tag on all resources
                    parameters:
                      tagName:
                        value: costCenter
                      tagValue:
                        value: "[parameter('costCenter')]"
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
                  type: Microsoft.Blueprint/blueprints/artifacts
                - id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/storageTemplate
                  kind: template
                  name: storageTemplate
                  properties:
                    parameters:
                      storageAccountType:
                        value: "[parameters('storageAccountType')]"
                    resourceGroup: storageRG
                    template:
                      contentVersion: 1.0.0.0
                      outputs:
                        storageAccountName:
                          type: string
                          value: "[variables('storageAccountName')]"
                      parameters:
                        storageAccountType:
                          allowedValues:
                          - Standard_LRS
                          - Standard_GRS
                          - Standard_ZRS
                          - Premium_LRS
                          defaultValue: Standard_LRS
                          metadata:
                            description: Storage Account type
                          type: string
                      resources:
                      - apiVersion: 2016-01-01
                        kind: Storage
                        location: "[resourceGroup().location]"
                        name: "[variables('storageAccountName')]"
                        properties: {}
                        sku:
                          name: "[parameters('storageAccountType')]"
                        type: Microsoft.Storage/storageAccounts
                      variables:
                        storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                          \ 'standardsa')]"
                  type: Microsoft.Blueprint/blueprints/artifacts
        Sub-ArtifactList:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/ownerAssignment
                  kind: roleAssignment
                  name: ownerAssignment
                  properties:
                    displayName: enforce owners of given subscription
                    principalIds: "[parameters('owners')]"
                    roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
                  type: Microsoft.Blueprint/blueprints/artifacts
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/costCenterPolicy
                  kind: policyAssignment
                  name: costCenterPolicy
                  properties:
                    displayName: force costCenter tag on all resources
                    parameters:
                      tagName:
                        value: costCenter
                      tagValue:
                        value: "[parameter('costCenter')]"
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
                  type: Microsoft.Blueprint/blueprints/artifacts
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/storageTemplate
                  kind: template
                  name: storageTemplate
                  properties:
                    parameters:
                      storageAccountType:
                        value: "[parameters('storageAccountType')]"
                    resourceGroup: storageRG
                    template:
                      contentVersion: 1.0.0.0
                      outputs:
                        storageAccountName:
                          type: string
                          value: "[variables('storageAccountName')]"
                      parameters:
                        storageAccountType:
                          allowedValues:
                          - Standard_LRS
                          - Standard_GRS
                          - Standard_ZRS
                          - Premium_LRS
                          defaultValue: Standard_LRS
                          metadata:
                            description: Storage Account type
                          type: string
                      resources:
                      - apiVersion: 2016-01-01
                        kind: Storage
                        location: "[resourceGroup().location]"
                        name: "[variables('storageAccountName')]"
                        properties: {}
                        sku:
                          name: "[parameters('storageAccountType')]"
                        type: Microsoft.Storage/storageAccounts
                      variables:
                        storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                          \ 'standardsa')]"
                  type: Microsoft.Blueprint/blueprints/artifacts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.artifact_controller
  /{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts/{artifactName}:
    delete:
      description: Delete a blueprint artifact.
      operationId: artifacts_delete
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the blueprint artifact.
        in: path
        name: artifact_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: OK -- blueprint artifact deleted.
        "204":
          content: {}
          description: No Content
      tags:
      - Artifact
      x-ms-examples:
        MG-ARMTemplateArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: storageTemplate
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/storageTemplate
                kind: template
                name: storageTemplate
                properties:
                  parameters:
                    storageAccountType:
                      value: "[parameters('storageAccountType')]"
                  resourceGroup: storageRG
                  template:
                    contentVersion: 1.0.0.0
                    outputs:
                      storageAccountName:
                        type: string
                        value: "[variables('storageAccountName')]"
                    parameters:
                      storageAccountType:
                        allowedValues:
                        - Standard_LRS
                        - Standard_GRS
                        - Standard_ZRS
                        - Premium_LRS
                        defaultValue: Standard_LRS
                        metadata:
                          description: Storage Account type
                        type: string
                    resources:
                    - apiVersion: 2016-01-01
                      kind: Storage
                      location: "[resourceGroup().location]"
                      name: "[variables('storageAccountName')]"
                      properties: {}
                      sku:
                        name: "[parameters('storageAccountType')]"
                      type: Microsoft.Storage/storageAccounts
                    variables:
                      storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                        \ 'standardsa')]"
                type: Microsoft.Blueprint/blueprints/artifacts
            "204": {}
        MG-PolicyAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: costCenterPolicy
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/costCenterPolicy
                kind: policyAssignment
                name: costCenterPolicy
                properties:
                  displayName: force costCenter tag on all resources
                  parameters:
                    tagName:
                      value: costCenter
                    tagValue:
                      value: "[parameter('costCenter')]"
                  policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
                type: Microsoft.Blueprint/blueprints/artifacts
            "204": {}
        MG-RoleAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: ownerAssignment
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/ownerAssignment
                kind: roleAssignment
                name: ownerAssignment
                properties:
                  displayName: enforce owners of given subscription
                  principalIds: "[parameters('owners')]"
                  roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
                type: Microsoft.Blueprint/blueprints/artifacts
            "204": {}
        Sub-ARMTemplateArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: storageTemplate
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/storageTemplate
                kind: template
                name: storageTemplate
                properties:
                  parameters:
                    storageAccountType:
                      value: "[parameters('storageAccountType')]"
                  resourceGroup: storageRG
                  template:
                    contentVersion: 1.0.0.0
                    outputs:
                      storageAccountName:
                        type: string
                        value: "[variables('storageAccountName')]"
                    parameters:
                      storageAccountType:
                        allowedValues:
                        - Standard_LRS
                        - Standard_GRS
                        - Standard_ZRS
                        - Premium_LRS
                        defaultValue: Standard_LRS
                        metadata:
                          description: Storage Account type
                        type: string
                    resources:
                    - apiVersion: 2016-01-01
                      kind: Storage
                      location: "[resourceGroup().location]"
                      name: "[variables('storageAccountName')]"
                      properties: {}
                      sku:
                        name: "[parameters('storageAccountType')]"
                      type: Microsoft.Storage/storageAccounts
                    variables:
                      storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                        \ 'standardsa')]"
                type: Microsoft.Blueprint/blueprints/artifacts
            "204": {}
        Sub-PolicyAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: costCenterPolicy
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/costCenterPolicy
                kind: policyAssignment
                name: costCenterPolicy
                properties:
                  displayName: force costCenter tag on all resources
                  parameters:
                    tagName:
                      value: costCenter
                    tagValue:
                      value: "[parameter('costCenter')]"
                  policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
                type: Microsoft.Blueprint/blueprints/artifacts
            "204": {}
        Sub-RoleAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: ownerAssignment
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/ownerAssignment
                kind: roleAssignment
                name: ownerAssignment
                properties:
                  displayName: enforce owners of given subscription
                  principalIds: "[parameters('owners')]"
                  roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
                type: Microsoft.Blueprint/blueprints/artifacts
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.artifact_controller
    get:
      description: Get a blueprint artifact.
      operationId: artifacts_get
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the blueprint artifact.
        in: path
        name: artifactName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: OK -- blueprint artifact retrieved.
      tags:
      - Artifact
      x-ms-examples:
        MG-ARMTemplateArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: storageTemplate
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/storageTemplate
                kind: template
                name: storageTemplate
                properties:
                  parameters:
                    storageAccountType:
                      value: "[parameters('storageAccountType')]"
                  resourceGroup: storageRG
                  template:
                    contentVersion: 1.0.0.0
                    outputs:
                      storageAccountName:
                        type: string
                        value: "[variables('storageAccountName')]"
                    parameters:
                      storageAccountType:
                        allowedValues:
                        - Standard_LRS
                        - Standard_GRS
                        - Standard_ZRS
                        - Premium_LRS
                        defaultValue: Standard_LRS
                        metadata:
                          description: Storage Account type
                        type: string
                    resources:
                    - apiVersion: 2016-01-01
                      kind: Storage
                      location: "[resourceGroup().location]"
                      name: "[variables('storageAccountName')]"
                      properties: {}
                      sku:
                        name: "[parameters('storageAccountType')]"
                      type: Microsoft.Storage/storageAccounts
                    variables:
                      storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                        \ 'standardsa')]"
                type: Microsoft.Blueprint/blueprints/artifacts
        MG-PolicyAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: costCenterPolicy
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/costCenterPolicy
                kind: policyAssignment
                name: costCenterPolicy
                properties:
                  displayName: force costCenter tag on all resources
                  parameters:
                    tagName:
                      value: costCenter
                    tagValue:
                      value: "[parameter('costCenter')]"
                  policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
                type: Microsoft.Blueprint/blueprints/artifacts
        MG-RoleAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: ownerAssignment
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/ownerAssignment
                kind: roleAssignment
                name: ownerAssignment
                properties:
                  displayName: enforce owners of given subscription
                  principalIds: "[parameters('owners')]"
                  roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
                type: Microsoft.Blueprint/blueprints/artifacts
        Sub-ARMTemplateArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: storageTemplate
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/storageTemplate
                kind: template
                name: storageTemplate
                properties:
                  parameters:
                    storageAccountType:
                      value: "[parameters('storageAccountType')]"
                  resourceGroup: storageRG
                  template:
                    contentVersion: 1.0.0.0
                    outputs:
                      storageAccountName:
                        type: string
                        value: "[variables('storageAccountName')]"
                    parameters:
                      storageAccountType:
                        allowedValues:
                        - Standard_LRS
                        - Standard_GRS
                        - Standard_ZRS
                        - Premium_LRS
                        defaultValue: Standard_LRS
                        metadata:
                          description: Storage Account type
                        type: string
                    resources:
                    - apiVersion: 2016-01-01
                      kind: Storage
                      location: "[resourceGroup().location]"
                      name: "[variables('storageAccountName')]"
                      properties: {}
                      sku:
                        name: "[parameters('storageAccountType')]"
                      type: Microsoft.Storage/storageAccounts
                    variables:
                      storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                        \ 'standardsa')]"
                type: Microsoft.Blueprint/blueprints/artifacts
        Sub-PolicyAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: costCenterPolicy
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/costCenterPolicy
                kind: policyAssignment
                name: costCenterPolicy
                properties:
                  displayName: force costCenter tag on all resources
                  parameters:
                    tagName:
                      value: costCenter
                    tagValue:
                      value: "[parameter('costCenter')]"
                  policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
                type: Microsoft.Blueprint/blueprints/artifacts
        Sub-RoleAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifactName: ownerAssignment
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/ownerAssignment
                kind: roleAssignment
                name: ownerAssignment
                properties:
                  displayName: enforce owners of given subscription
                  principalIds: "[parameters('owners')]"
                  roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
                type: Microsoft.Blueprint/blueprints/artifacts
      x-openapi-router-controller: openapi_server.controllers.artifact_controller
    put:
      description: Create or update blueprint artifact.
      operationId: artifacts_create_or_update
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the blueprint artifact.
        in: path
        name: artifact_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Artifact'
        description: Blueprint artifact to create or update.
        required: true
        x-body-name: artifact
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: Created -- blueprint artifact created/updated.
      tags:
      - Artifact
      x-ms-examples:
        MG-ARMTemplateArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifact:
              kind: template
              properties:
                parameters:
                  storageAccountType:
                    value: "[parameters('storageAccountType')]"
                resourceGroup: storageRG
                template:
                  contentVersion: 1.0.0.0
                  outputs:
                    storageAccountName:
                      type: string
                      value: "[variables('storageAccountName')]"
                  parameters:
                    storageAccountType:
                      allowedValues:
                      - Standard_LRS
                      - Standard_GRS
                      - Standard_ZRS
                      - Premium_LRS
                      defaultValue: Standard_LRS
                      metadata:
                        description: Storage Account type
                      type: string
                  resources:
                  - apiVersion: 2016-01-01
                    kind: Storage
                    location: "[resourceGroup().location]"
                    name: "[variables('storageAccountName')]"
                    properties: {}
                    sku:
                      name: "[parameters('storageAccountType')]"
                    type: Microsoft.Storage/storageAccounts
                  variables:
                    storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                      \ 'standardsa')]"
            artifactName: storageTemplate
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "201":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/storageTemplate
                kind: template
                name: storageTemplate
                properties:
                  parameters:
                    storageAccountType:
                      value: "[parameters('storageAccountType')]"
                  resourceGroup: storageRG
                  template:
                    contentVersion: 1.0.0.0
                    outputs:
                      storageAccountName:
                        type: string
                        value: "[variables('storageAccountName')]"
                    parameters:
                      storageAccountType:
                        allowedValues:
                        - Standard_LRS
                        - Standard_GRS
                        - Standard_ZRS
                        - Premium_LRS
                        defaultValue: Standard_LRS
                        metadata:
                          description: Storage Account type
                        type: string
                    resources:
                    - apiVersion: 2016-01-01
                      kind: Storage
                      location: "[resourceGroup().location]"
                      name: "[variables('storageAccountName')]"
                      properties: {}
                      sku:
                        name: "[parameters('storageAccountType')]"
                      type: Microsoft.Storage/storageAccounts
                    variables:
                      storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                        \ 'standardsa')]"
                type: Microsoft.Blueprint/blueprints/artifacts
        MG-PolicyAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifact:
              kind: policyAssignment
              properties:
                displayName: force costCenter tag on all resources
                parameters:
                  tagName:
                    value: costCenter
                  tagValue:
                    value: "[parameter('costCenter')]"
                policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
            artifactName: costCenterPolicy
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "201":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/costCenterPolicy
                kind: policyAssignment
                name: costCenterPolicy
                properties:
                  displayName: force costCenter tag on all resources
                  parameters:
                    tagName:
                      value: costCenter
                    tagValue:
                      value: "[parameter('costCenter')]"
                  policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
                type: Microsoft.Blueprint/blueprints/artifacts
        MG-RoleAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifact:
              kind: roleAssignment
              properties:
                displayName: enforce owners of given subscription
                principalIds: "[parameters('owners')]"
                roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
            artifactName: ownerAssignment
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "201":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/ownerAssignment
                kind: roleAssignment
                name: ownerAssignment
                properties:
                  displayName: enforce owners of given subscription
                  principalIds: "[parameters('owners')]"
                  roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
                type: Microsoft.Blueprint/blueprints/artifacts
        Sub-ARMTemplateArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifact:
              kind: template
              properties:
                parameters:
                  storageAccountType:
                    value: "[parameters('storageAccountType')]"
                resourceGroup: storageRG
                template:
                  contentVersion: 1.0.0.0
                  outputs:
                    storageAccountName:
                      type: string
                      value: "[variables('storageAccountName')]"
                  parameters:
                    storageAccountType:
                      allowedValues:
                      - Standard_LRS
                      - Standard_GRS
                      - Standard_ZRS
                      - Premium_LRS
                      defaultValue: Standard_LRS
                      metadata:
                        description: Storage Account type
                      type: string
                  resources:
                  - apiVersion: 2016-01-01
                    kind: Storage
                    location: "[resourceGroup().location]"
                    name: "[variables('storageAccountName')]"
                    properties: {}
                    sku:
                      name: "[parameters('storageAccountType')]"
                    type: Microsoft.Storage/storageAccounts
                  variables:
                    storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                      \ 'standardsa')]"
            artifactName: storageTemplate
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/storageTemplate
                kind: template
                name: storageTemplate
                properties:
                  parameters:
                    storageAccountType:
                      value: "[parameters('storageAccountType')]"
                  resourceGroup: storageRG
                  template:
                    contentVersion: 1.0.0.0
                    outputs:
                      storageAccountName:
                        type: string
                        value: "[variables('storageAccountName')]"
                    parameters:
                      storageAccountType:
                        allowedValues:
                        - Standard_LRS
                        - Standard_GRS
                        - Standard_ZRS
                        - Premium_LRS
                        defaultValue: Standard_LRS
                        metadata:
                          description: Storage Account type
                        type: string
                    resources:
                    - apiVersion: 2016-01-01
                      kind: Storage
                      location: "[resourceGroup().location]"
                      name: "[variables('storageAccountName')]"
                      properties: {}
                      sku:
                        name: "[parameters('storageAccountType')]"
                      type: Microsoft.Storage/storageAccounts
                    variables:
                      storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                        \ 'standardsa')]"
                type: Microsoft.Blueprint/blueprints/artifacts
        Sub-PolicyAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifact:
              kind: policyAssignment
              properties:
                displayName: force costCenter tag on all resources
                parameters:
                  tagName:
                    value: costCenter
                  tagValue:
                    value: "[parameter('costCenter')]"
                policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
            artifactName: costCenterPolicy
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/costCenterPolicy
                kind: policyAssignment
                name: costCenterPolicy
                properties:
                  displayName: force costCenter tag on all resources
                  parameters:
                    tagName:
                      value: costCenter
                    tagValue:
                      value: "[parameter('costCenter')]"
                  policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
                type: Microsoft.Blueprint/blueprints/artifacts
        Sub-RoleAssignmentArtifact:
          parameters:
            api-version: 2018-11-01-preview
            artifact:
              kind: roleAssignment
              properties:
                displayName: enforce owners of given subscription
                principalIds: "[parameters('owners')]"
                roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
            artifactName: ownerAssignment
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/artifacts/ownerAssignment
                kind: roleAssignment
                name: ownerAssignment
                properties:
                  displayName: enforce owners of given subscription
                  principalIds: "[parameters('owners')]"
                  roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
                type: Microsoft.Blueprint/blueprints/artifacts
      x-codegen-request-body-name: artifact
      x-openapi-router-controller: openapi_server.controllers.artifact_controller
  /{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions:
    get:
      description: List published versions of given blueprint definition.
      operationId: published_blueprints_list
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishedBlueprintList'
          description: OK -- all published versions of blueprint definition retrieved.
      tags:
      - PublishedBlueprint
      x-ms-examples:
        PublishedManagementGroupBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/versions/v1
                  name: v1
                  properties:
                    blueprintName: simpleBlueprint
                    description: "blueprint contains all artifact kinds {'template',\
                      \ 'rbac', 'policy'}"
                    parameters:
                      costCenter:
                        metadata:
                          displayName: force cost center tag for all resources under
                            given subscription.
                        type: string
                      owners:
                        metadata:
                          displayName: assign owners to subscription along with blueprint
                            assignment.
                        type: array
                      storageAccountType:
                        metadata:
                          displayName: storage account type.
                        type: string
                    resourceGroups:
                      storageRG:
                        metadata:
                          description: Contains storageAccounts that collect all shoebox
                            logs.
                          displayName: storage resource group
                    targetScope: subscription
                  type: Microsoft.Blueprint/blueprints/versions
        PublishedSubscriptionBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/versions/v1
                  name: v1
                  properties:
                    blueprintName: simpleBlueprint
                    description: "blueprint contains all artifact kinds {'template',\
                      \ 'rbac', 'policy'}"
                    parameters:
                      costCenter:
                        metadata:
                          displayName: force cost center tag for all resources under
                            given subscription.
                        type: string
                      owners:
                        metadata:
                          displayName: assign owners to subscription along with blueprint
                            assignment.
                        type: array
                      storageAccountType:
                        metadata:
                          displayName: storage account type.
                        type: string
                    resourceGroups:
                      storageRG:
                        metadata:
                          description: Contains storageAccounts that collect all shoebox
                            logs.
                          displayName: storage resource group
                    targetScope: subscription
                  type: Microsoft.Blueprint/blueprints/versions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.published_blueprint_controller
  /{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}:
    delete:
      description: Delete a published version of a blueprint definition.
      operationId: published_blueprints_delete
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the published blueprint definition.
        in: path
        name: version_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishedBlueprint'
          description: OK -- published version of blueprint definition deleted.
        "204":
          content: {}
          description: No Content
      tags:
      - PublishedBlueprint
      x-ms-examples:
        PublishedManagementGroupBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
            versionId: v2
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: v2
                properties:
                  blueprintName: simpleBlueprint
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints/versions
            "204": {}
        PublishedSubscriptionBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            versionId: v2
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: v2
                properties:
                  blueprintName: simpleBlueprint
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints/versions
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.published_blueprint_controller
    get:
      description: Get a published version of a blueprint definition.
      operationId: published_blueprints_get
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the published blueprint definition.
        in: path
        name: versionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishedBlueprint'
          description: OK -- published blueprint definition retrieved.
      tags:
      - PublishedBlueprint
      x-ms-examples:
        PublishedManagementGroupBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
            versionId: v2
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: v2
                properties:
                  blueprintName: simpleBlueprint
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints/versions
        PublishedSubscriptionBlueprint:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            versionId: v2
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: v2
                properties:
                  blueprintName: simpleBlueprint
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints/versions
      x-openapi-router-controller: openapi_server.controllers.published_blueprint_controller
    put:
      description: Publish a new version of the blueprint definition with the latest
        artifacts. Published blueprint definitions are immutable.
      operationId: published_blueprints_create
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the published blueprint definition.
        in: path
        name: version_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishedBlueprint'
        description: Published Blueprint to create or update.
        required: false
        x-body-name: publishedBlueprint
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishedBlueprint'
          description: Created -- blueprint definition published.
      tags:
      - PublishedBlueprint
      x-ms-examples:
        PublishedManagementGroupBlueprint_Publish:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
            versionId: v2
          responses:
            "201":
              body:
                id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: v2
                properties:
                  blueprintName: simpleBlueprint
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints/versions
        PublishedSubscriptionBlueprint_Publish:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            versionId: v2
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                name: v2
                properties:
                  blueprintName: simpleBlueprint
                  description: "blueprint contains all artifact kinds {'template',\
                    \ 'rbac', 'policy'}"
                  parameters:
                    costCenter:
                      metadata:
                        displayName: force cost center tag for all resources under
                          given subscription.
                      type: string
                    owners:
                      metadata:
                        displayName: assign owners to subscription along with blueprint
                          assignment.
                      type: array
                    storageAccountType:
                      metadata:
                        displayName: storage account type.
                      type: string
                  resourceGroups:
                    storageRG:
                      metadata:
                        description: Contains storageAccounts that collect all shoebox
                          logs.
                        displayName: storage resource group
                  targetScope: subscription
                type: Microsoft.Blueprint/blueprints/versions
      x-codegen-request-body-name: publishedBlueprint
      x-openapi-router-controller: openapi_server.controllers.published_blueprint_controller
  /{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts:
    get:
      description: List artifacts for a version of a published blueprint definition.
      operationId: published_artifacts_list
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the published blueprint definition.
        in: path
        name: version_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
          description: OK -- artifacts of a version of published blueprint definition
            retrieved.
      tags:
      - PublishedArtifact
      x-ms-examples:
        MG-ArtifactList:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: providers/Microsoft.Management/managementGroups/ContosoOnlineGroup
            versionId: V2
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/versions/V2/artifacts/ownerAssignment
                  kind: roleAssignment
                  name: ownerAssignment
                  properties:
                    displayName: enforce owners of given subscription
                    principalIds: "[parameters('owners')]"
                    roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
                  type: Microsoft.Blueprint/blueprints/versions/artifacts
                - id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/versions/V2/artifacts/costCenterPolicy
                  kind: policyAssignment
                  name: costCenterPolicy
                  properties:
                    displayName: force costCenter tag on all resources
                    parameters:
                      tagName:
                        value: costCenter
                      tagValue:
                        value: "[parameter('costCenter')]"
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
                  type: Microsoft.Blueprint/blueprints/versions/artifacts
                - id: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/versions/V2/artifacts/storageTemplate
                  kind: template
                  name: storageTemplate
                  properties:
                    parameters:
                      storageAccountType:
                        value: "[parameters('storageAccountType')]"
                    resourceGroup: storageRG
                    template:
                      contentVersion: 1.0.0.0
                      outputs:
                        storageAccountName:
                          type: string
                          value: "[variables('storageAccountName')]"
                      parameters:
                        storageAccountType:
                          allowedValues:
                          - Standard_LRS
                          - Standard_GRS
                          - Standard_ZRS
                          - Premium_LRS
                          defaultValue: Standard_LRS
                          metadata:
                            description: Storage Account type
                          type: string
                      resources:
                      - apiVersion: 2016-01-01
                        kind: Storage
                        location: "[resourceGroup().location]"
                        name: "[variables('storageAccountName')]"
                        properties: {}
                        sku:
                          name: "[parameters('storageAccountType')]"
                        type: Microsoft.Storage/storageAccounts
                      variables:
                        storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                          \ 'standardsa')]"
                  type: Microsoft.Blueprint/blueprints/versions/artifacts
        Sub-ArtifactList:
          parameters:
            api-version: 2018-11-01-preview
            blueprintName: simpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            versionId: V2
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/versions/V2/artifacts/ownerAssignment
                  kind: roleAssignment
                  name: ownerAssignment
                  properties:
                    displayName: enforce owners of given subscription
                    principalIds: "[parameters('owners')]"
                    roleDefinitionId: /providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7
                  type: Microsoft.Blueprint/blueprints/versions/artifacts
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/versions/V2/artifacts/costCenterPolicy
                  kind: policyAssignment
                  name: costCenterPolicy
                  properties:
                    displayName: force costCenter tag on all resources
                    parameters:
                      tagName:
                        value: costCenter
                      tagValue:
                        value: "[parameter('costCenter')]"
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62
                  type: Microsoft.Blueprint/blueprints/versions/artifacts
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprints/simpleBlueprint/versions/V2/artifacts/storageTemplate
                  kind: template
                  name: storageTemplate
                  properties:
                    parameters:
                      storageAccountType:
                        value: "[parameters('storageAccountType')]"
                    resourceGroup: storageRG
                    template:
                      contentVersion: 1.0.0.0
                      outputs:
                        storageAccountName:
                          type: string
                          value: "[variables('storageAccountName')]"
                      parameters:
                        storageAccountType:
                          allowedValues:
                          - Standard_LRS
                          - Standard_GRS
                          - Standard_ZRS
                          - Premium_LRS
                          defaultValue: Standard_LRS
                          metadata:
                            description: Storage Account type
                          type: string
                      resources:
                      - apiVersion: 2016-01-01
                        kind: Storage
                        location: "[resourceGroup().location]"
                        name: "[variables('storageAccountName')]"
                        properties: {}
                        sku:
                          name: "[parameters('storageAccountType')]"
                        type: Microsoft.Storage/storageAccounts
                      variables:
                        storageAccountName: "[concat(uniquestring(resourceGroup().id),\
                          \ 'standardsa')]"
                  type: Microsoft.Blueprint/blueprints/versions/artifacts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.published_artifact_controller
  /{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts/{artifactName}:
    get:
      description: Get an artifact for a published blueprint definition.
      operationId: published_artifacts_get
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint definition.
        in: path
        name: blueprint_name
        required: true
        schema:
          type: string
[...]
