openapi: 3.0.1
info:
  title: CostManagementClient
  version: 2019-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/costmanagement.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cost-management-costmanagement
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/Forecast
  : post:
      description: Forecast the usage data for department.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: forecast_usage_by_department
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billingAccountId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Department ID
        in: path
        name: departmentId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Forecast
      x-ms-examples:
        DepartmentForecast:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            departmentId: "123"
            parameters:
              dataset:
                filter:
                  and:
                  - or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                        - Azure Dev Subscription
                        - Azure Prod Subscription
                        - Azure PPE Subscription
                    - tag:
                        name: Environment
                        operator: In
                        values:
                        - Dev
                        - PPE
                        - Prod
                  - dimension:
                      name: AccountName
                      operator: In
                      values:
                      - Azure Account
                granularity: Daily
              timePeriod:
                from: 2018-10-01T00:00:00.000Z
                to: 2018-12-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: UsageDate
                      type: Number
                    - name: CostStatus
                      type: String
                    - name: Currency
                      type: String
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Forecast?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                    rows:
                    - - 19.545363672276512
                      - 20181026
                      - Actual
                      - USD
                    - - 20.41179241293923
                      - 20181027
                      - Actual
                      - USD
                    - - 21.35941656262545
                      - 20181028
                      - Actual
                      - USD
                    - - 22.545363672276512
                      - 20181029
                      - Forecast
                      - USD
                    - - 23.41979241290323
                      - 20181030
                      - Forecast
                      - USD
                    - - 24.35941656262545
                      - 20181031
                      - Forecast
                      - USD
                  type: microsoft.costmanagement/Forecast
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.forecast_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/Query
  : post:
      description: Query the usage data for department.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: query_usage_by_department
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Query
      x-ms-examples:
        DepartmentQuery:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            departmentId: "123"
            parameters:
              dataset:
                filter:
                  and:
                  - or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                        - Azure Dev Subscription
                        - Azure Prod Subscription
                        - Azure PPE Subscription
                    - tag:
                        name: Environment
                        operator: In
                        values:
                        - Dev
                        - PPE
                        - Prod
                  - dimension:
                      name: AccountName
                      operator: In
                      values:
                      - Azure Account
                granularity: Daily
              timePeriod:
                from: 2018-10-01T00:00:00.000Z
                to: 2018-12-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: UsageDate
                      type: Number
                    - name: Currency
                      type: String
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                    rows:
                    - - 19.545363672276512
                      - 20181031
                      - USD
                    - - 173.41979241290323
                      - 20181031
                      - USD
                    - - 20.35941656262545
                      - 20181031
                      - USD
                  type: microsoft.costmanagement/Query
        DepartmentQueryGroupingUsage:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            departmentId: "123"
            parameters:
              dataset:
                aggregation:
                  totalCost:
                    function: Sum
                    name: PreTaxCost
                granularity: None
                grouping:
                - name: AccountName
                  type: Dimension
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: AccountName
                      type: String
                    - name: Currency
                      type: String
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                    rows:
                    - - 19.545363672276512
                      - Azure Dev Account
                      - USD
                    - - 173.41979241290323
                      - Azure PPE Account
                      - USD
                    - - 20.35941656262545
                      - Azure Prod Account
                      - USD
                  type: microsoft.costmanagement/Query
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.query_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/dimensions
  : get:
      description: Lists the dimensions by Department Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: dimensions_list_by_department
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to filter dimensions by properties/category, properties/usageStart,\
          \ properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "May be used to expand the properties/data within a dimension\
          \ category. By default, data is not included when listing dimensions."
        in: query
        name: $expand
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N dimension data.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dimensions
      x-ms-examples:
        DepartmentDimensionsList:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            departmentId: "123"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31
                  name: dimensions_ResourceGroup_2018-12-01_2018-12-31
                  properties:
                    category: ResourceGroup
                    data: []
                    description: Resource group
                    filterEnabled: true
                    groupingEnabled: true
                    total: 377
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31
                  name: dimensions_ResourceType_2018-12-01_2018-12-31
                  properties:
                    category: ResourceType
                    data: []
                    description: Resource type
                    filterEnabled: true
                    groupingEnabled: true
                    total: 37
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
        DepartmentDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            departmentId: "123"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                  name: dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                  properties:
                    category: ResourceGroup
                    data:
                    - thoroetrg01
                    - default-notificationhubs-westus
                    - jedikeyvaultrg
                    - contosocodeflow8d4a
                    - noobaa
                    description: Resource group
                    filterEnabled: true
                    groupingEnabled: true
                    total: 377
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31_5
                  name: dimensions_ResourceType_2018-12-01_2018-12-31_5
                  properties:
                    category: ResourceType
                    data:
                    - microsoft.automation/automationaccounts
                    - microsoft.databricks/workspaces
                    - microsoft.dbformysql/servers
                    - microsoft.containerregistry/registries
                    - microsoft.search/searchservices
                    description: Resource type
                    filterEnabled: true
                    groupingEnabled: true
                    total: 37
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
        DepartmentDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            departmentId: "123"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceId_2018-12-01_2018-12-31_5
                  name: dimensions_ResourceId_2018-12-01_2018-12-31_5
                  properties:
                    category: ResourceId
                    data:
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                    - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                    - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                    description: Resource Id
                    filterEnabled: true
                    groupingEnabled: true
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/Microsoft.Consumption/Dimensions?$filter=properties/category
                      eq 'resourceId'&$top=5&api-version=2019-03-01-preview&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                    total: 1409
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
      x-ms-odata: '#/definitions/Dimension'
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.dimensions_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/Forecast
  : post:
      description: Forecast the usage data for an enrollment account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: forecast_usage_by_enrollment_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Enrollment Account ID
        in: path
        name: enrollmentAccountId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Forecast
      x-ms-examples:
        EnrollmentAccountForecast:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            enrollmentAccountId: "456"
            parameters:
              dataset:
                filter:
                  or:
                  - dimension:
                      name: SubscriptionName
                      operator: In
                      values:
                      - Azure Dev Subscription
                      - Azure Prod Subscription
                      - Azure PPE Subscription
                  - tag:
                      name: Environment
                      operator: In
                      values:
                      - Dev
                      - PPE
                      - Prod
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: UsageDate
                      type: Number
                    - name: CostStatus
                      type: String
                    - name: Currency
                      type: String
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Forecast?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                    rows:
                    - - 168.54532346722763
                      - 20180826
                      - Actual
                      - USD
                    - - 169.41979241290343
                      - 20180927
                      - Actual
                      - USD
                    - - 170.35941656233845
                      - 20181028
                      - Actual
                      - USD
                    - - 172.54536323427652
                      - 20180829
                      - Forecast
                      - USD
                    - - 173.41979241290323
                      - 20180930
                      - Forecast
                      - USD
                    - - 174.35941656262546
                      - 20181031
                      - Forecast
                      - USD
                  type: microsoft.costmanagement/Forecast
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.forecast_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/Query
  : post:
      description: Query the usage data for an enrollment account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: query_usage_by_enrollment_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Enrollment Account ID
        in: path
        name: enrollment_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Query
      x-ms-examples:
        EnrollmentAccountQuery:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            enrollmentAccountId: "456"
            parameters:
              dataset:
                filter:
                  or:
                  - dimension:
                      name: SubscriptionName
                      operator: In
                      values:
                      - Azure Dev Subscription
                      - Azure Prod Subscription
                      - Azure PPE Subscription
                  - tag:
                      name: Environment
                      operator: In
                      values:
                      - Dev
                      - PPE
                      - Prod
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: UsageDate
                      type: Number
                    - name: Currency
                      type: String
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                    rows:
                    - - 19.545363672276512
                      - 20180831
                      - USD
                    - - 173.41979241290323
                      - 20180930
                      - USD
                    - - 20.35941656262545
                      - 20181031
                      - USD
                  type: microsoft.costmanagement/Query
        EnrollmentAccountQueryGroupingUsage:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            enrollmentAccountId: "456"
            parameters:
              dataset:
                aggregation:
                  totalCost:
                    function: Sum
                    name: PreTaxCost
                granularity: Daily
                grouping:
                - name: SubscriptionName
                  type: Dimension
                sorting:
                - name: UsageDate
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: SubscriptionName
                      type: String
                    - name: UsageDate
                      type: Number
                    - name: Currency
                      type: String
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                    rows:
                    - - 19.545363672276512
                      - Azure Dev Subscription
                      - 20180831
                      - USD
                    - - 173.41979241290323
                      - Azure PPE Subscription
                      - 20180930
                      - USD
                    - - 20.35941656262545
                      - Azure Prod Subscription
                      - 20181031
                      - USD
                  type: microsoft.costmanagement/Query
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.query_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/dimensions
  : get:
      description: Lists the dimensions by Enrollment Account Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: dimensions_list_by_enrollment_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Enrollment Account ID
        in: path
        name: enrollment_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to filter dimensions by properties/category, properties/usageStart,\
          \ properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "May be used to expand the properties/data within a dimension\
          \ category. By default, data is not included when listing dimensions."
        in: query
        name: $expand
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N dimension data.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dimensions
      x-ms-examples:
        EnrollmentAccountDimensionsList:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            enrollmentAccountId: "456"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31
                  name: dimensions_ResourceGroup_2018-12-01_2018-12-31
                  properties:
                    category: ResourceGroup
                    data: []
                    description: Resource group
                    filterEnabled: true
                    groupingEnabled: true
                    total: 377
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31
                  name: dimensions_ResourceType_2018-12-01_2018-12-31
                  properties:
                    category: ResourceType
                    data: []
                    description: Resource type
                    filterEnabled: true
                    groupingEnabled: true
                    total: 37
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
        EnrollmentAccountDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            enrollmentAccountId: "456"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                  name: dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                  properties:
                    category: ResourceGroup
                    data:
                    - thoroetrg01
                    - default-notificationhubs-westus
                    - jedikeyvaultrg
                    - contosocodeflow8d4a
                    - noobaa
                    description: Resource group
                    filterEnabled: true
                    groupingEnabled: true
                    total: 377
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31_5
                  name: dimensions_ResourceType_2018-12-01_2018-12-31_5
                  properties:
                    category: ResourceType
                    data:
                    - microsoft.automation/automationaccounts
                    - microsoft.databricks/workspaces
                    - microsoft.dbformysql/servers
                    - microsoft.containerregistry/registries
                    - microsoft.search/searchservices
                    description: Resource type
                    filterEnabled: true
                    groupingEnabled: true
                    total: 37
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
        EnrollmentAccountDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            enrollmentAccountId: "456"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceId_2018-12-01_2018-12-31_5
                  name: dimensions_ResourceId_2018-12-01_2018-12-31_5
                  properties:
                    category: ResourceId
                    data:
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                    - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                    - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                    description: Resource Id
                    filterEnabled: true
                    groupingEnabled: true
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/Microsoft.Consumption/Dimensions?$filter=properties/category
                      eq 'resourceId'&$top=5&api-version=2019-03-01-preview&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                    total: 1409
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
      x-ms-odata: '#/definitions/Dimension'
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.dimensions_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Forecast:
    post:
      description: Forecast the usage data for billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: forecast_usage_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Forecast
      x-ms-examples:
        BillingAccountForecast:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            parameters:
              dataset:
                filter:
                  and:
                  - or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                        - Azure Dev
                        - Azure Prod
                        - Azure PPE
                    - tag:
                        name: Environment
                        operator: In
                        values:
                        - Dev
                        - PPE
                        - Prod
                  - dimension:
                      name: DepartmentName
                      operator: In
                      values:
                      - Azure Dept
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: UsageDate
                      type: Number
                    - name: CostStatus
                      type: String
                    - name: Currency
                      type: String
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Forecast?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                    rows:
                    - - 19.545363672276512
                      - 20180831
                      - Actual
                      - USD
                    - - 20.41979233490323
                      - 20180930
                      - Actual
                      - USD
                    - - 21.322216562625453
                      - 20181031
                      - Actual
                      - USD
                    - - 22.545363672276533
                      - 20180831
                      - Actual
                      - USD
                    - - 23.41979675590323
                      - 20180930
                      - Forecast
                      - USD
                    - - 24.359416562626652
                      - 20181031
                      - Forecast
                      - USD
                  type: microsoft.costmanagement/Forecast
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.forecast_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Query:
    post:
      description: Query the usage data for billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: query_usage_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Query
      x-ms-examples:
        BillingAccountQuery:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            parameters:
              dataset:
                filter:
                  and:
                  - or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                        - Azure Dev
                        - Azure Prod
                        - Azure PPE
                    - tag:
                        name: Environment
                        operator: In
                        values:
                        - Dev
                        - PPE
                        - Prod
                  - dimension:
                      name: DepartmentName
                      operator: In
                      values:
                      - Azure Dept
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: UsageDate
                      type: Number
                    - name: Currency
                      type: String
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                    rows:
                    - - 19.545363672276512
                      - 20180831
                      - USD
                    - - 173.41979241290323
                      - 20180930
                      - USD
                    - - 20.35941656262545
                      - 20181031
                      - USD
                  type: microsoft.costmanagement/Query
        BillingAccountQueryGroupingUsage:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            parameters:
              dataset:
                aggregation:
                  totalCost:
                    function: Sum
                    name: PreTaxCost
                granularity: None
                grouping:
                - name: SubscriptionName
                  type: Dimension
              timePeriod:
                from: 2018-10-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: SubscriptionName
                      type: String
                    - name: Currency
                      type: String
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                    rows:
                    - - 19.545363672276512
                      - Trial Subscription
                      - USD
                    - - 173.41979241290323
                      - DEV Subscription
                      - USD
                    - - 20.35941656262545
                      - Cost Management Subscrioption
                      - USD
                  type: microsoft.costmanagement/Query
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.query_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions:
    get:
      description: Lists the dimensions by billingAccount Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: dimensions_list_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to filter dimensions by properties/category, properties/usageStart,\
          \ properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "May be used to expand the properties/data within a dimension\
          \ category. By default, data is not included when listing dimensions."
        in: query
        name: $expand
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N dimension data.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dimensions
      x-ms-examples:
        BillingAccountDimensionsList:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31
                  name: dimensions_ResourceGroup_2018-12-01_2018-12-31
                  properties:
                    category: SubscriptionGuid
                    data: []
                    description: Subscription Guid
                    filterEnabled: true
                    groupingEnabled: true
                    total: 3
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31
                  name: dimensions_ResourceType_2018-12-01_2018-12-31
                  properties:
                    category: Account Name
                    data: []
                    description: Resource type
                    filterEnabled: true
                    groupingEnabled: true
                    total: 37
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
        BillingAccountDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                  name: dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                  properties:
                    category: ResourceGroup
                    data:
                    - thoroetrg01
                    - default-notificationhubs-westus
                    - jedikeyvaultrg
                    - contosocodeflow8d4a
                    - noobaa
                    description: Resource group
                    filterEnabled: true
                    groupingEnabled: true
                    total: 377
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-12-31_2018-12-31_5
                  name: dimensions_ResourceType_2018-12-01_2018-12-31_5
                  properties:
                    category: ResourceType
                    data:
                    - microsoft.automation/automationaccounts
                    - microsoft.databricks/workspaces
                    - microsoft.dbformysql/servers
                    - microsoft.containerregistry/registries
                    - microsoft.search/searchservices
                    description: Resource type
                    filterEnabled: true
                    groupingEnabled: true
                    total: 37
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
        BillingAccountDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceId_2018-12-01_2018-12-31_5
                  name: dimensions_ResourceId_2018-12-01_2018-12-31_5
                  properties:
                    category: ResourceId
                    data:
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                    - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                    - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                    description: Resource Id
                    filterEnabled: true
                    groupingEnabled: true
                    nextLink: http://management.azure.com/ccmapi/providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.Consumption/Dimensions?$filter=properties/category
                      eq 'resourceId'&$top=5&api-version=2019-03-01-preview&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                    total: 1409
                    usageEnd: 2018-12-31T00:00:00-07:00
                    usageStart: 2018-12-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
      x-ms-odata: '#/definitions/Dimension'
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.dimensions_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/showbackRules:
    get:
      description: Get list all Showback Rules.
      operationId: showback_rules_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowbackRuleListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ShowbackRules
      x-ms-examples:
        ShowbackRules_List:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.CostManagement/showbackRules/testRule
                  name: testRule
                  properties:
                    creationTime: 2019-01-16T09:18:20.8665509Z
                    deprecationTime: 2019-03-16T09:18:20.8665509Z
                    description: This is a testRule
                    details:
                      benefits:
                      - None
                      pricesheet: Pay-As-You-Go (0003P)
                    modificationTime: 2019-01-17T09:18:20.8665509Z
                    ruleType: CustomPrice
                    status: NotActive
                    version: 1
                  type: Microsoft.CostManagement/showbackRules
      x-openapi-router-controller: openapi_server.controllers.showback_rules_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/showbackRules/{ruleName}:
    get:
      description: Gets the showback rule by rule name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: showback_rule_get_billing_account_id
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Showback rule name
        in: path
        name: ruleName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowbackRule'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ShowbackRules
      x-ms-examples:
        ShowbackRules:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            ruleName: testRule
          responses:
            "200":
              body:
                id: providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.CostManagement/showbackRules/testRule
                name: testRule
                properties:
                  creationTime: 2019-01-16T09:18:20.8665509Z
                  deprecationTime: 2019-03-16T09:18:20.8665509Z
                  description: This is a testRule
                  details:
                    benefits:
                    - None
                    pricesheet: Pay-As-You-Go (0003P)
                  modificationTime: 2019-01-17T09:18:20.8665509Z
                  ruleType: CustomPrice
                  status: NotActive
                  version: 1
                type: Microsoft.CostManagement/showbackRules
      x-openapi-router-controller: openapi_server.controllers.showback_rules_controller
    put:
      description: Create/Update showback rule for billing account.
      operationId: showback_rule_create_update_rule
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Showback rule name
        in: path
        name: rule_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShowbackRule'
        description: Showback rule to create or update.
        required: true
        x-body-name: showbackRule
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowbackRule'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ShowbackRules
      x-ms-examples:
        ShowbackRules:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            ruleName: testRule
            showbackRule:
              name: demo
              properties:
                description: Welcome to Showback demo
                details:
                  benefits:
                  - None
                  markups:
                  - percentage: "1.1"
                  pricesheet: Pay-As-You-Go (0003P)
                ruleType: CustomPrice
                scopes:
                - id: 292105a9-680d-48cf-bdad-1d023104d69f
                  type: Enrollment
                status: Active
          responses:
            "200":
              body:
                id: providers/Microsoft.Billing/billingAccounts/71824150/providers/Microsoft.CostManagement/showbackRules/demo
                name: demo
                properties:
                  creationTime: 2019-01-16T09:18:20.8665509Z
                  deprecationTime: 2019-03-16T09:18:20.8665509Z
                  description: Welcome to Showback demo
                  details:
                    benefits:
                    - None
                    markups:
                    - percentage: "1.1"
                    pricesheet: Pay-As-You-Go (0003P)
                  modificationTime: 2019-01-17T09:18:20.8665509Z
                  ruleType: CustomPrice
                  status: NotActive
                  version: 999
                type: Microsoft.CostManagement/showbackRules
      x-codegen-request-body-name: showbackRule
      x-openapi-router-controller: openapi_server.controllers.showback_rules_controller
  /providers/Microsoft.CostManagement/cloudConnectors:
    get:
      description: List all cloud connector definitions
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: cloud_connector_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinitionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - CloudConnectors
      x-ms-examples:
        CloudConnector_List:
          parameters:
            api-version: 2019-03-01-preview
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                  kind: aws
                  name: aws-123456789012
                  properties:
                    billingModel: autoUpgrade
                    createdOn: 2018-05-15T13:25:48Z
                    credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                    daysTrialRemaining: 62
                    defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                    displayName: AWS-Consolidated-1
                    externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                    modifiedOn: 2018-05-23T09:21:11Z
                    providerBillingAccountDisplayName: MyCompany Consolidated
                    providerBillingAccountId: "123456789012"
                    reportId: HourlyWithResources
                    status: active
                    subscriptionId: 22222222-3333-4444-1111-777777777777
                  type: Microsoft.CostManagement/cloudConnectors
                - id: /providers/Microsoft.CostManagement/cloudConnectors/aws-100000000007
                  kind: aws
                  name: aws-100000000007
                  properties:
                    billingModel: premium
                    createdOn: 2018-06-16T11:23:44Z
                    credentialsKey: arn:aws:iam::100000000007:role/AzureCostManagementRole
                    defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                    displayName: AWS-Consolidated-2
                    externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-100000000007
                    modifiedOn: 2018-06-21T17:33:28Z
                    providerBillingAccountId: "100000000007"
                    reportId: CURHourlyWithResources
                    status: active
                    subscriptionId: 22222222-3333-4444-1111-777777777777
                  type: Microsoft.CostManagement/cloudConnectors
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.cloud_connectors_controller
  /providers/Microsoft.CostManagement/cloudConnectors/{connectorName}:
    delete:
      description: Delete a cloud connector definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: cloud_connector_delete
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Connector Name.
        in: path
        name: connector_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - CloudConnectors
      x-ms-examples:
        CloudConnector_Delete:
          parameters:
            api-version: 2019-03-01-preview
            connectorName: aws-123456789012
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.cloud_connectors_controller
    get:
      description: Get a cloud connector definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: cloud_connector_get
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Connector Name.
        in: path
        name: connectorName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to expand the collectionInfo property. By default,\
          \ collectionInfo is not included."
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - CloudConnectors
      x-ms-examples:
        CloudConnector_Get:
          parameters:
            api-version: 2019-03-01-preview
            connectorName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  billingModel: autoUpgrade
                  createdOn: 2018-05-15T13:25:48Z
                  credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                  daysTrialRemaining: 62
                  defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  displayName: AWS-Consolidated-1
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  modifiedOn: 2018-05-23T09:21:11Z
                  providerBillingAccountDisplayName: MyCompany Consolidated
                  providerBillingAccountId: "123456789012"
                  reportId: HourlyWithResources
                  status: active
                  subscriptionId: 22222222-3333-4444-1111-777777777777
                type: Microsoft.CostManagement/cloudConnectors
        CloudConnector_Get_Expand:
          parameters:
            $expand: collectionInfo
            api-version: 2019-03-01-preview
            connectorName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  billingModel: autoUpgrade
                  collectionInfo:
                    error:
                      errorCode: FailedToAssumeRole
                      errorInnerMessage: Insufficient access to assume role arn:aws:iam::123456789012:role/AzureCostManagementRole
                      errorMessage: Failed to assume role
                      errorStartTime: 2018-06-12T21:41:03Z
                    lastChecked: 2018-06-15T03:21:08Z
                    lastUpdated: 2018-06-12T17:25:28Z
                    sourceLastUpdated: 2018-06-12T16:41:28Z
                  createdOn: 2018-05-15T13:25:48Z
                  credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                  daysTrialRemaining: 62
                  defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  displayName: AWS-Consolidated-1
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  modifiedOn: 2018-05-23T09:21:11Z
                  providerBillingAccountDisplayName: MyCompany Consolidated
                  providerBillingAccountId: "123456789012"
                  reportId: HourlyWithResources
                  status: warning
                  subscriptionId: 22222222-3333-4444-1111-777777777777
                type: Microsoft.CostManagement/cloudConnectors
      x-openapi-router-controller: openapi_server.controllers.cloud_connectors_controller
    patch:
      description: Update a cloud connector definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: cloud_connector_update
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Connector Name.
        in: path
        name: connector_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorDefinition'
        description: Connector details
        required: true
        x-body-name: connector
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - CloudConnectors
      x-ms-examples:
        CloudConnector_Update:
          parameters:
            api-version: 2019-03-01-preview
            connector: {}
            connectorName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  billingModel: autoUpgrade
                  createdOn: 2018-05-15T13:25:48Z
                  credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                  daysTrialRemaining: 62
                  defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  displayName: AWS-Consolidated-3
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  modifiedOn: 2018-05-23T09:21:11Z
                  providerBillingAccountId: "123456789012"
                  reportId: HourlyWithResources
                  status: active
                  subscriptionId: 22222222-3333-4444-1111-777777777777
                type: Microsoft.CostManagement/cloudConnectors
      x-codegen-request-body-name: connector
      x-openapi-router-controller: openapi_server.controllers.cloud_connectors_controller
    put:
      description: Create or update a cloud connector definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: cloud_connector_create_or_update
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Connector Name.
        in: path
        name: connector_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorDefinition'
        description: Connector details
        required: true
        x-body-name: connector
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinition'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - CloudConnectors
      x-ms-examples:
        CloudConnector_Put:
          parameters:
            api-version: 2019-03-01-preview
            connector:
              properties:
                credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                credentialsSecret: external-id
                displayName: AWS-Consolidated-1
                reportId: HourlyWithResources
            connectorName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  billingModel: autoUpgrade
                  createdOn: 2018-05-15T13:25:48Z
                  credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                  daysTrialRemaining: 62
                  defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  displayName: AWS-Consolidated-1
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  modifiedOn: 2018-05-23T09:21:11Z
                  providerBillingAccountId: "123456789012"
                  reportId: HourlyWithResources
                  status: active
                  subscriptionId: 22222222-3333-4444-1111-777777777777
                type: Microsoft.CostManagement/cloudConnectors
            "201":
              body:
                id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  billingModel: autoUpgrade
                  createdOn: 2018-05-15T13:25:48Z
                  credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                  daysTrialRemaining: 62
                  defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  displayName: AWS-Consolidated-1
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  modifiedOn: 2018-05-23T09:21:11Z
                  providerBillingAccountId: "123456789012"
                  reportId: HourlyWithResources
                  status: active
                  subscriptionId: 22222222-3333-4444-1111-777777777777
                type: Microsoft.CostManagement/cloudConnectors
      x-codegen-request-body-name: connector
      x-openapi-router-controller: openapi_server.controllers.cloud_connectors_controller
  /providers/Microsoft.CostManagement/externalBillingAccounts:
    get:
      description: List all ExternalBillingAccount definitions
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: external_billing_account_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalBillingAccountDefinitionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ExternalBillingAccounts
      x-ms-examples:
        ExternalBillingAccount_List:
          parameters:
            api-version: 2019-03-01-preview
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  kind: aws
                  name: aws-123456789012
                  properties:
                    connectorId: /providers/Microsoft.CostManagement/cloudConnectors/12345678-9012-3456-7890-111111111111
                    displayName: MyCompany Consolidated
                    providerBillingAccountId: "123456789012"
                  type: Microsoft.CostManagement/externalBillingAccounts
                - id: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-112233445566
                  kind: aws
                  name: aws-112233445566
                  properties:
                    connectorId: /providers/Microsoft.CostManagement/cloudConnectors/11111111-2222-3333-4444-555555555555
                    displayName: MyCompany Consolidated2
                    providerBillingAccountId: "112233445566"
                  type: Microsoft.CostManagement/externalBillingAccounts
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.external_billing_accounts_controller
  /providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}:
    get:
      description: Get a ExternalBillingAccount definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: external_billing_account_get
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "External Billing Account Name. (eg 'aws-{PayerAccountId}')"
        in: path
        name: externalBillingAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to expand the collectionInfo property. By default,\
          \ collectionInfo is not included."
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalBillingAccountDefinition'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ExternalBillingAccounts
      x-ms-examples:
        ExternalBillingAccount_Get:
          parameters:
            api-version: 2019-03-01-preview
            externalBillingAccountName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  connectorId: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                  displayName: MyCompany Consolidated
                  providerBillingAccountId: "123456789012"
                type: Microsoft.CostManagement/externalBillingAccounts
        ExternalBillingAccount_Get_Expand:
          parameters:
            $expand: collectionInfo
            api-version: 2019-03-01-preview
            externalBillingAccountName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  collectionInfo:
                    lastUpdated: 2018-06-12T17:25:28Z
                    sourceLastUpdated: 2018-06-12T16:41:28Z
                  connectorId: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                  displayName: MyCompany Consolidated
                  providerBillingAccountId: "123456789012"
                type: Microsoft.CostManagement/externalBillingAccounts
      x-openapi-router-controller: openapi_server.controllers.external_billing_accounts_controller
  /providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}/Forecast:
    post:
      description: Forecast the usage data for external billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: forecast_usage_by_external_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "External Billing Account Name. (eg 'aws-{PayerAccountId}')"
        in: path
        name: external_billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Forecast
      x-ms-examples:
        ExternalBillingAccountForecast:
          parameters:
            api-version: 2019-03-01-preview
            externalBillingAccountName: aws-123456789012
            parameters:
              dataset:
                filter:
                  and:
                  - or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                        - Azure Dev
                        - Azure Prod
                        - Azure PPE
                    - tag:
                        name: Environment
                        operator: In
                        values:
                        - Dev
                        - PPE
                        - Prod
                  - dimension:
                      name: DepartmentName
                      operator: In
                      values:
                      - Azure Dept
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: UsageDate
                      type: Number
                    - name: CostStatus
                      type: String
                    - name: Currency
                      type: String
                    rows:
                    - - 19.545363672276512
                      - 20180831
                      - Actual
                      - USD
                    - - 20.41979233490323
                      - 20180930
                      - Actual
                      - USD
                    - - 21.322216562625453
                      - 20181031
                      - Actual
                      - USD
                    - - 22.545363672276533
                      - 20180831
                      - Actual
                      - USD
                    - - 23.41979675590323
                      - 20180930
                      - Forecast
                      - USD
                    - - 24.359416562626652
                      - 20181031
                      - Forecast
                      - USD
                  type: Microsoft.CostManagement/forecast
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.forecast_controller
  /providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}/externalSubscriptions:
    get:
      description: List all ExternalSubscriptions by ExternalBillingAccount definitions
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: external_subscription_list_by_external_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "External Billing Account Name. (eg 'aws-{PayerAccountId}')"
        in: path
        name: external_billing_account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSubscriptionDefinitionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ExternalSubscriptions
      x-ms-examples:
        ExternalBillingAccountExternalSubscription_List:
          parameters:
            api-version: 2019-03-01-preview
            externalBillingAccountName: aws-123456789012
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.CostManagement/externalSubscriptions/aws-654321654321
                  kind: aws
                  name: aws-654321654321
                  properties:
                    displayName: MyUsageAccount1
                    externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                    managementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                    providerAccountId: "654321654321"
                    providerBillingAccountId: "123456789012"
                  type: Microsoft.CostManagement/externalSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.external_subscriptions_controller
  /providers/Microsoft.CostManagement/externalSubscriptions:
    get:
      description: List all ExternalSubscription definitions
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: external_subscription_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSubscriptionDefinitionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ExternalSubscriptions
      x-ms-examples:
        ExternalSubscription_List:
          parameters:
            api-version: 2019-03-01-preview
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.CostManagement/externalSubscriptions/aws-654321654321
                  kind: aws
                  name: aws-654321654321
                  properties:
                    displayName: MyUsageAccount1
                    externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                    managementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                    providerAccountId: "654321654321"
                    providerBillingAccountId: "123456789012"
                  type: Microsoft.CostManagement/externalSubscriptions
                - id: /providers/Microsoft.CostManagement/externalSubscriptions/aws-110011001100
                  kind: aws
                  name: aws-110011001100
                  properties:
                    displayName: MyUsageAccount2
                    externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-112233445566
                    managementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                    providerAccountId: "110011001100"
                    providerBillingAccountId: "112233445566"
                  type: Microsoft.CostManagement/externalSubscriptions
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.external_subscriptions_controller
  /providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}:
    get:
      description: Get an ExternalSubscription definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
[...]
