openapi: 3.0.1
info:
  description: Provides create and read functionality for Import/Export operations
    on Azure SQL databases.
  title: Azure SQL Database Import/Export spec
  version: 2014-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/importExport.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-importExport
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/export
  : post:
      description: Exports a database to a bacpac.
      operationId: databases_export
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database to be exported.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
        description: The required parameters for exporting a database.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportExportResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - ImportExport
      x-ms-examples:
        Export a database into a new bacpac file with SAS key:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              administratorLogin: dummyLogin
              administratorLoginPassword: Un53cuRE!
              authenticationType: SQL
              storageKey: ?sr=b&sp=rw&se=2018-01-01T00%3A00%3A00Z&sig=sdfsdfklsdjflSLIFJLSIEJFLKSDJFDd/%2wdfskdjf3%3D&sv=2015-07-08
              storageKeyType: SharedAccessKey
              storageUri: https://test.blob.core.windows.net/bacpacs/testbacpac.bacpac
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/importExportOperationResult/f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                name: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                properties:
                  blobUri: https://test.blob.core.windows.net/bacpacs/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 3/1/2017 12:16:33 AM
                  queuedTime: 3/1/2017 12:14:25 AM
                  requestId: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                  requestType: Export
                  serverName: test
                  status: Completed
                type: Microsoft.Sql/servers/importExportOperationResults
            "202": {}
        Export a database into a new bacpac file with storage key:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              administratorLogin: dummyLogin
              administratorLoginPassword: Un53cuRE!
              authenticationType: SQL
              storageKey: sdlfkjdsf+sdlfkjsdlkfsjdfLDKFJSDLKFDFKLjsdfksjdflsdkfD2342309432849328479324/3RSD==
              storageKeyType: StorageAccessKey
              storageUri: https://test.blob.core.windows.net/bacpacs/testbacpac.bacpac
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/importExportOperationResult/f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                name: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                properties:
                  blobUri: https://test.blob.core.windows.net/bacpacs/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 3/1/2017 12:16:33 AM
                  queuedTime: 3/1/2017 12:14:25 AM
                  requestId: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                  requestType: Export
                  serverName: test
                  status: Completed
                type: Microsoft.Sql/servers/importExportOperationResults
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.import_export_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/extensions/{extensionName}
  : put:
      description: Creates an import operation that imports a bacpac into an existing
        database. The existing database must be empty.
      operationId: databases_create_import_operation
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database to import into
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the operation to perform
        in: path
        name: extensionName
        required: true
        schema:
          enum:
          - import
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExtensionName
        x-ms-enum:
          modelAsString: true
          name: ExtensionName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportExtensionRequest'
        description: The required parameters for importing a Bacpac into a database.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportExportResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - ImportExport
      x-ms-examples:
        Import bacpac into an existing database Max with SAS key:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            extensionName: import
            parameters:
              name: Import
              properties:
                administratorLogin: dummyLogin
                administratorLoginPassword: Un53cuRE!
                authenticationType: SQL
                operationMode: Import
                storageKey: ?sr=b&sp=rw&se=2018-01-01T00%3A00%3A00Z&sig=sdfsdfklsdjflSLIFJLSIEJFLKSDJFDd/%2wdfskdjf3%3D&sv=2015-07-08
                storageKeyType: SharedAccessKey
                storageUri: https://test.blob.core.windows.net/bacpacs/testbacpac.bacpac
              type: Microsoft.Sql/servers/databases/extensions
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/importExportOperationResult/f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                name: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                properties:
                  blobUri: https://test.blob.core.windows.net/bacpacs/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 3/1/2017 12:16:33 AM
                  queuedTime: 3/1/2017 12:14:25 AM
                  requestId: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                  requestType: Import
                  serverName: test
                  status: Completed
                type: Microsoft.Sql/servers/importExportOperationResults
            "202": {}
        Import bacpac into an existing database Max with storage key:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            extensionName: import
            parameters:
              name: Import
              properties:
                administratorLogin: dummyLogin
                administratorLoginPassword: Un53cuRE!
                authenticationType: SQL
                operationMode: Import
                storageKey: sdlfkjdsf+sdlfkjsdlkfsjdfLDKFJSDLKFDFKLjsdfksjdflsdkfD2342309432849328479324/3RSD==
                storageKeyType: StorageAccessKey
                storageUri: https://test.blob.core.windows.net/bacpacs/testbacpac.bacpac
              type: Microsoft.Sql/servers/databases/extensions
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/importExportOperationResult/f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                name: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                properties:
                  blobUri: https://test.blob.core.windows.net/bacpacs/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 3/1/2017 12:16:33 AM
                  queuedTime: 3/1/2017 12:14:25 AM
                  requestId: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                  requestType: Import
                  serverName: test
                  status: Completed
                type: Microsoft.Sql/servers/importExportOperationResults
            "202": {}
        Import bacpac into an existing database Min with SAS key:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            extensionName: import
            parameters:
              properties:
                administratorLogin: dummyLogin
                administratorLoginPassword: Un53cuRE!
                operationMode: Import
                storageKey: ?sr=b&sp=rw&se=2018-01-01T00%3A00%3A00Z&sig=sdfsdfklsdjflSLIFJLSIEJFLKSDJFDd/%2wdfskdjf3%3D&sv=2015-07-08
                storageKeyType: SharedAccessKey
                storageUri: https://test.blob.core.windows.net/bacpacs/testbacpac.bacpac
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/importExportOperationResult/f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                name: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                properties:
                  blobUri: https://test.blob.core.windows.net/bacpacs/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 3/1/2017 12:16:33 AM
                  queuedTime: 3/1/2017 12:14:25 AM
                  requestId: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                  requestType: Import
                  serverName: test
                  status: Completed
                type: Microsoft.Sql/servers/importExportOperationResults
            "202": {}
        Import bacpac into an existing database Min with storage key:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            extensionName: import
            parameters:
              properties:
                administratorLogin: dummyLogin
                administratorLoginPassword: Un53cuRE!
                operationMode: Import
                storageKey: sdlfkjdsf+sdlfkjsdlkfsjdfLDKFJSDLKFDFKLjsdfksjdflsdkfD2342309432849328479324/3RSD==
                storageKeyType: StorageAccessKey
                storageUri: https://test.blob.core.windows.net/bacpacs/testbacpac.bacpac
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/importExportOperationResult/f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                name: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                properties:
                  blobUri: https://test.blob.core.windows.net/bacpacs/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 3/1/2017 12:16:33 AM
                  queuedTime: 3/1/2017 12:14:25 AM
                  requestId: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                  requestType: Import
                  serverName: test
                  status: Completed
                type: Microsoft.Sql/servers/importExportOperationResults
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.import_export_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/import:
    post:
      description: 'Imports a bacpac into a new database. '
      operationId: databases_import
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportRequest'
        description: The required parameters for importing a Bacpac into a database.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportExportResponse'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - ImportExport
      x-ms-examples:
        Import bacpac into new database Max with SAS key:
          parameters:
            api-version: 2014-04-01
            parameters:
              administratorLogin: dummyLogin
              administratorLoginPassword: Un53cuRE!
              authenticationType: SQL
              databaseName: TestDbImport
              edition: Basic
              maxSizeBytes: "2147483648"
              serviceObjectiveName: Basic
              storageKey: ?sr=b&sp=rw&se=2018-01-01T00%3A00%3A00Z&sig=sdfsdfklsdjflSLIFJLSIEJFLKSDJFDd/%2wdfskdjf3%3D&sv=2015-07-08
              storageKeyType: SharedAccessKey
              storageUri: https://test.blob.core.windows.net/bacpacs/testbacpac.bacpac
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/importExportOperationResult/f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                name: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                properties:
                  blobUri: https://test.blob.core.windows.net/bacpacs/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 3/1/2017 12:16:33 AM
                  queuedTime: 3/1/2017 12:14:25 AM
                  requestId: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                  requestType: Import
                  serverName: test
                  status: Completed
                type: Microsoft.Sql/servers/importExportOperationResults
            "202": {}
        Import bacpac into new database Max with storage key:
          parameters:
            api-version: 2014-04-01
            parameters:
              administratorLogin: dummyLogin
              administratorLoginPassword: Un53cuRE!
              authenticationType: SQL
              databaseName: TestDbImport
              edition: Basic
              maxSizeBytes: "2147483648"
              serviceObjectiveName: Basic
              storageKey: sdlfkjdsf+sdlfkjsdlkfsjdfLDKFJSDLKFDFKLjsdfksjdflsdkfD2342309432849328479324/3RSD==
              storageKeyType: StorageAccessKey
              storageUri: https://test.blob.core.windows.net/bacpacs/testbacpac.bacpac
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/importExportOperationResult/f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                name: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                properties:
                  blobUri: https://test.blob.core.windows.net/bacpacs/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 3/1/2017 12:16:33 AM
                  queuedTime: 3/1/2017 12:14:25 AM
                  requestId: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                  requestType: Import
                  serverName: test
                  status: Completed
                type: Microsoft.Sql/servers/importExportOperationResults
            "202": {}
        Import bacpac into new database Min with SAS key:
          parameters:
            api-version: 2014-04-01
            parameters:
              administratorLogin: dummyLogin
              administratorLoginPassword: Un53cuRE!
              databaseName: TestDbImport
              edition: Basic
              maxSizeBytes: "2147483648"
              serviceObjectiveName: Basic
              storageKey: ?sr=b&sp=rw&se=2018-01-01T00%3A00%3A00Z&sig=sdfsdfklsdjflSLIFJLSIEJFLKSDJFDd/%2wdfskdjf3%3D&sv=2015-07-08
              storageKeyType: SharedAccessKey
              storageUri: https://test.blob.core.windows.net/bacpacs/testbacpac.bacpac
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/importExportOperationResult/f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                name: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                properties:
                  blobUri: https://test.blob.core.windows.net/bacpacs/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 3/1/2017 12:16:33 AM
                  queuedTime: 3/1/2017 12:14:25 AM
                  requestId: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                  requestType: Import
                  serverName: test
                  status: Completed
                type: Microsoft.Sql/servers/importExportOperationResults
            "202": {}
        Import bacpac into new database Min with storage key:
          parameters:
            api-version: 2014-04-01
            parameters:
              administratorLogin: dummyLogin
              administratorLoginPassword: Un53cuRE!
              databaseName: TestDbImport
              edition: Basic
              maxSizeBytes: "2147483648"
              serviceObjectiveName: Basic
              storageKey: sdlfkjdsf+sdlfkjsdlkfsjdfLDKFJSDLKFDFKLjsdfksjdflsdkfD2342309432849328479324/3RSD==
              storageKeyType: StorageAccessKey
              storageUri: https://test.blob.core.windows.net/bacpacs/testbacpac.bacpac
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/importExportOperationResult/f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                name: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                properties:
                  blobUri: https://test.blob.core.windows.net/bacpacs/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 3/1/2017 12:16:33 AM
                  queuedTime: 3/1/2017 12:14:25 AM
                  requestId: f01d7bfe-7162-44e7-9350-f1c85ce83e4c
                  requestType: Import
                  serverName: test
                  status: Completed
                type: Microsoft.Sql/servers/importExportOperationResults
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.import_export_controller
components:
  parameters:
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ExportRequest:
      description: Export database parameters.
      example:
        administratorLogin: administratorLogin
        storageKeyType: StorageAccessKey
        administratorLoginPassword: administratorLoginPassword
        storageUri: storageUri
        authenticationType: SQL
        storageKey: storageKey
      properties:
        administratorLogin:
          description: The name of the SQL administrator.
          title: administratorLogin
          type: string
        administratorLoginPassword:
          description: The password of the SQL administrator.
          title: administratorLoginPassword
          type: string
        authenticationType:
          default: SQL
          description: The authentication type.
          enum:
          - SQL
          - ADPassword
          title: authenticationType
          type: string
          x-ms-enum:
            name: AuthenticationType
        storageKey:
          description: "The storage key to use.  If storage key type is SharedAccessKey,\
            \ it must be preceded with a \"?.\""
          title: storageKey
          type: string
        storageKeyType:
          description: The type of the storage key to use.
          enum:
          - StorageAccessKey
          - SharedAccessKey
          title: storageKeyType
          type: string
          x-ms-enum:
            name: StorageKeyType
        storageUri:
          description: The storage uri to use.
          title: storageUri
          type: string
      required:
      - administratorLogin
      - administratorLoginPassword
      - storageKey
      - storageKeyType
      - storageUri
      title: ExportRequest
      type: object
    ImportExportResponse:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Response for Import/Export Get operation.
      example:
        properties:
          lastModifiedTime: lastModifiedTime
          queuedTime: queuedTime
          databaseName: databaseName
          requestType: requestType
          requestId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          blobUri: blobUri
          errorMessage: errorMessage
          serverName: serverName
          status: status
      properties:
        properties:
          $ref: '#/components/schemas/ImportExportResponseProperties'
      title: ImportExportResponse
    ImportExportResponseProperties:
      description: Response for Import/Export Status operation.
      example:
        lastModifiedTime: lastModifiedTime
        queuedTime: queuedTime
        databaseName: databaseName
        requestType: requestType
        requestId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        blobUri: blobUri
        errorMessage: errorMessage
        serverName: serverName
        status: status
      properties:
        blobUri:
          description: The blob uri.
          readOnly: true
          title: blobUri
          type: string
        databaseName:
          description: The name of the database.
          readOnly: true
          title: databaseName
          type: string
        errorMessage:
          description: The error message returned from the server.
          readOnly: true
          title: errorMessage
          type: string
        lastModifiedTime:
          description: The operation status last modified time.
          readOnly: true
          title: lastModifiedTime
          type: string
        queuedTime:
          description: The operation queued time.
          readOnly: true
          title: queuedTime
          type: string
        requestId:
          description: The request type of the operation.
          format: uuid
          readOnly: true
          title: requestId
          type: string
        requestType:
          description: The request type of the operation.
          readOnly: true
          title: requestType
          type: string
        serverName:
          description: The name of the server.
          readOnly: true
          title: serverName
          type: string
        status:
          description: The status message returned from the server.
          readOnly: true
          title: status
          type: string
      title: ImportExportResponseProperties
      type: object
    ImportExtensionProperties:
      allOf:
      - $ref: '#/components/schemas/ExportRequest'
      description: Represents the properties for an import operation
      example:
        operationMode: Import
      properties:
        operationMode:
          description: The type of import operation being performed. This is always
            Import.
          enum:
          - Import
          title: operationMode
          type: string
          x-ms-enum:
            name: ImportOperationMode
      required:
      - operationMode
      title: ImportExtensionProperties
    ImportExtensionRequest:
      description: Import database parameters.
      example:
        name: name
        type: type
        properties:
          operationMode: Import
      properties:
        name:
          description: The name of the extension.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ImportExtensionProperties'
        type:
          description: The type of the extension.
          title: type
          type: string
      title: ImportExtensionRequest
      type: object
    ImportRequest:
      allOf:
      - $ref: '#/components/schemas/ExportRequest'
      description: Import database parameters.
      example:
        databaseName: databaseName
        maxSizeBytes: maxSizeBytes
        serviceObjectiveName: System
        edition: Web
      properties:
        databaseName:
          description: The name of the database to import.
          title: databaseName
          type: string
        edition:
          description: "The edition for the database being created.\r\n\r\nThe list\
            \ of SKUs may vary by region and support offer. To determine the SKUs\
            \ (including the SKU name, tier/edition, family, and capacity) that are\
            \ available to your subscription in an Azure region, use the `Capabilities_ListByLocation`\
            \ REST API or one of the following commands:\r\n\r\n```azurecli\r\naz\
            \ sql db list-editions -l <location> -o table\r\n````\r\n\r\n```powershell\r\
            \nGet-AzSqlServerServiceObjective -Location <location>\r\n````\r\n"
          enum:
          - Web
          - Business
          - Basic
          - Standard
          - Premium
          - PremiumRS
          - Free
          - Stretch
          - DataWarehouse
          - System
          - System2
          - GeneralPurpose
          - BusinessCritical
          - Hyperscale
          title: edition
          type: string
          x-ms-enum:
            modelAsString: true
            name: DatabaseEdition
        maxSizeBytes:
          description: The maximum size for the newly imported database.
          title: maxSizeBytes
          type: string
        serviceObjectiveName:
          description: The name of the service objective to assign to the database.
          enum:
          - System
          - System0
          - System1
          - System2
          - System3
          - System4
          - System2L
          - System3L
          - System4L
          - Free
          - Basic
          - S0
          - S1
          - S2
          - S3
          - S4
          - S6
          - S7
          - S9
          - S12
          - P1
          - P2
          - P3
          - P4
          - P6
          - P11
          - P15
          - PRS1
          - PRS2
          - PRS4
          - PRS6
          - DW100
          - DW200
          - DW300
          - DW400
          - DW500
          - DW600
          - DW1000
          - DW1200
          - DW1000c
          - DW1500
          - DW1500c
          - DW2000
          - DW2000c
          - DW3000
          - DW2500c
          - DW3000c
          - DW6000
          - DW5000c
          - DW6000c
          - DW7500c
          - DW10000c
          - DW15000c
          - DW30000c
          - DS100
          - DS200
          - DS300
          - DS400
          - DS500
          - DS600
          - DS1000
          - DS1200
          - DS1500
          - DS2000
          - ElasticPool
          title: serviceObjectiveName
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceObjectiveName
      required:
      - databaseName
      - edition
      - maxSizeBytes
      - serviceObjectiveName
      title: ImportRequest
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
