openapi: 3.0.1
info:
  description: The Compute Management Client.
  title: ComputeManagementClient
  version: 2019-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: compute
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Compute/operations:
    get:
      description: Gets a list of compute operations.
      operationId: Operations_List
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeOperationListResult'
          description: OK
      tags:
      - ComputeOperations
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/availabilitySets:
    get:
      description: Lists all availability sets in a subscription.
      operationId: AvailabilitySets_ListBySubscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The expand expression to apply to the operation.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySetListResult'
          description: OK
      tags:
      - AvailabilitySets
      x-ms-examples:
        List availability sets in a subscription.:
          parameters:
            $expand: virtualMachines\$ref
            api-version: 2019-07-01
            subscriptionId: "{subscriptionId}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                  location: australiasoutheast
                  name: "{availabilitySetName}"
                  properties:
                    platformFaultDomainCount: 3
                    platformUpdateDomainCount: 5
                    virtualMachines:
                    - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}"
                  sku:
                    name: Classic
                  type: Microsoft.Compute/availabilitySets
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                  location: australiasoutheast
                  name: "{availabilitySetName}"
                  properties:
                    platformFaultDomainCount: 3
                    platformUpdateDomainCount: 5
                    virtualMachines:
                    - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}"
                  sku:
                    name: Classic
                  type: Microsoft.Compute/availabilitySets
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                  location: westcentralus
                  name: "{availabilitySetName}"
                  properties:
                    platformFaultDomainCount: 3
                    platformUpdateDomainCount: 5
                    virtualMachines: []
                  sku:
                    name: Classic
                  tags:
                    '{tagName}': "{tagValue}"
                  type: Microsoft.Compute/availabilitySets
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                  location: westcentralus
                  name: "{availabilitySetName}"
                  properties:
                    platformFaultDomainCount: 3
                    platformUpdateDomainCount: 5
                    virtualMachines: []
                  sku:
                    name: Classic
                  tags:
                    '{tagName}': "{tagValue}"
                  type: Microsoft.Compute/availabilitySets
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/hostGroups:
    get:
      description: Lists all of the dedicated host groups in the subscription. Use
        the nextLink property in the response to get the next page of dedicated host
        groups.
      operationId: DedicatedHostGroups_ListBySubscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHostGroupListResult'
          description: OK
      tags:
      - DedicatedHostGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/images:
    get:
      description: Gets the list of Images in the subscription. Use nextLink property
        in the response to get the next page of Images. Do this till nextLink is null
        to fetch all the Images.
      operationId: Images_List
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageListResult'
          description: OK
      tags:
      - Images
      x-ms-examples:
        List all virtual machine images in a subscription.:
          parameters:
            api-version: 2019-07-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage"
                  location: West US
                  name: myImage
                  properties:
                    provisioningState: created
                    storageProfile:
                      dataDisks:
                      - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                        lun: 1
                        managedDisk:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                        snapshot:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                        storageAccountType: Standard_LRS
                      osDisk:
                        blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                        managedDisk:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                        osState: Generalized
                        osType: Windows
                        snapshot:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                        storageAccountType: Standard_LRS
                  type: Microsoft.Compute/images
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getRequestRateByInterval
  : post:
      description: Export logs that show Api requests made by this subscription in
        the given time window to show throttling activities.
      operationId: LogAnalytics_ExportRequestRateByInterval
      parameters:
      - description: The location upon which virtual-machine-sizes is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestRateByIntervalInput'
        description: Parameters supplied to the LogAnalytics getRequestRateByInterval
          Api.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsOperationResult'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - LogAnalytics
      x-ms-examples:
        ? Export logs which contain all Api requests made to Compute Resource Provider
          within the given time period broken down by intervals.
        : parameters:
            api-version: 2019-07-01
            location: westus
            parameters:
              blobContainerSasUri: https://somesasuri
              fromTime: 2018-01-21T01:54:06.862601Z
              groupByResourceName: true
              intervalLength: FiveMins
              toTime: 2018-01-23T01:54:06.862601Z
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                properties:
                  output: https://crptestar4227.blob.core.windows.net:443/sascontainer/RequestRateByInterval_20180121-0154_20180123-0154.csv
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getThrottledRequests:
    post:
      description: Export logs that show total throttled Api requests for this subscription
        in the given time window.
      operationId: LogAnalytics_ExportThrottledRequests
      parameters:
      - description: The location upon which virtual-machine-sizes is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThrottledRequestsInput'
        description: Parameters supplied to the LogAnalytics getThrottledRequests
          Api.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogAnalyticsOperationResult'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - LogAnalytics
      x-ms-examples:
        Export logs which contain all throttled Api requests made to Compute Resource Provider within the given time period.:
          parameters:
            api-version: 2019-07-01
            location: westus
            parameters:
              blobContainerSasUri: https://somesasuri
              fromTime: 2018-01-21T01:54:06.862601Z
              groupByOperationName: true
              groupByResourceName: false
              toTime: 2018-01-23T01:54:06.862601Z
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                properties:
                  output: https://crptestar4227.blob.core.windows.net:443/sascontainer/ThrottledRequests_20180121-0154_20180123-0154.csv
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers:
    get:
      description: Gets a list of virtual machine image publishers for the specified
        Azure location.
      operationId: VirtualMachineImages_ListPublishers
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types
  : get:
      description: Gets a list of virtual machine extension image types.
      operationId: VirtualMachineExtensionImages_ListTypes
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineExtensionImage'
                type: array
          description: OK
      tags:
      - VirtualMachineExtensionImages
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions
  : get:
      description: Gets a list of virtual machine extension image versions.
      operationId: VirtualMachineExtensionImages_ListVersions
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - in: path
        name: publisherName
        required: true
        schema:
          type: string
      - in: path
        name: type
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderby
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineExtensionImage'
                type: array
          description: OK
      tags:
      - VirtualMachineExtensionImages
      x-ms-odata: '#/definitions/VirtualMachineExtensionImage'
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}
  : get:
      description: Gets a virtual machine extension image.
      operationId: VirtualMachineExtensionImages_Get
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - in: path
        name: publisherName
        required: true
        schema:
          type: string
      - in: path
        name: type
        required: true
        schema:
          type: string
      - in: path
        name: version
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineExtensionImage'
          description: OK
      tags:
      - VirtualMachineExtensionImages
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers
  : get:
      description: Gets a list of virtual machine image offers for the specified location
        and publisher.
      operationId: VirtualMachineImages_ListOffers
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus
  : get:
      description: "Gets a list of virtual machine image SKUs for the specified location,\
        \ publisher, and offer."
      operationId: VirtualMachineImages_ListSkus
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: A valid image publisher offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions
  : get:
      description: "Gets a list of all virtual machine image versions for the specified\
        \ location, publisher, offer, and SKU."
      operationId: VirtualMachineImages_List
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: A valid image publisher offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
      - description: A valid image SKU.
        in: path
        name: skus
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $top
        schema:
          format: int32
          type: integer
      - in: query
        name: $orderby
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirtualMachineImageResource'
                type: array
          description: OK
      tags:
      - VirtualMachineImages
      x-ms-odata: '#/definitions/VirtualMachineImageResource'
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}
  : get:
      description: Gets a virtual machine image.
      operationId: VirtualMachineImages_Get
      parameters:
      - description: The name of a supported Azure region.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: A valid image publisher.
        in: path
        name: publisherName
        required: true
        schema:
          type: string
      - description: A valid image publisher offer.
        in: path
        name: offer
        required: true
        schema:
          type: string
      - description: A valid image SKU.
        in: path
        name: skus
        required: true
        schema:
          type: string
      - description: A valid image SKU version.
        in: path
        name: version
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineImage'
          description: OK
      tags:
      - VirtualMachineImages
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/usages:
    get:
      description: "Gets, for the specified location, the current compute resource\
        \ usage information as well as the limits for compute resources under the\
        \ subscription."
      operationId: Usage_List
      parameters:
      - description: The location for which resource usage is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsagesResult'
          description: OK
      tags:
      - Usage
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachines:
    get:
      description: Gets all the virtual machines under the specified subscription
        for the specified location.
      operationId: VirtualMachines_ListByLocation
      parameters:
      - description: The location for which virtual machines under the subscription
          are queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineListResult'
          description: OK
      tags:
      - VirtualMachines
      x-ms-examples:
        Lists all the virtual machines under the specified subscription for the specified location.:
          parameters:
            api-version: 2019-07-01
            location: eastus
            subscriptionId: "{subscriptionId}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}"
                  location: eastus
                  name: "{virtualMachineName}"
                  properties:
                    availabilitySet:
                      id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                    hardwareProfile:
                      vmSize: Standard_A0
                    networkProfile:
                      networkInterfaces:
                      - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}"
                    osProfile:
                      adminUsername: Foo12
                      allowExtensionOperations: true
                      computerName: Test
                      secrets: []
                      windowsConfiguration:
                        enableAutomaticUpdates: true
                        provisionVMAgent: true
                    provisioningState: Succeeded
                    storageProfile:
                      dataDisks: []
                      imageReference:
                        offer: WindowsServer
                        publisher: MicrosoftWindowsServer
                        sku: 2012-R2-Datacenter
                        version: 4.127.20170406
                      osDisk:
                        caching: None
                        createOption: FromImage
                        diskSizeGB: 127
                        name: test
                        osType: Windows
                        vhd:
                          uri: "https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd"
                    vmId: "{vmId}"
                  tags:
                    RG: rg
                    testTag: "1"
                  type: Microsoft.Compute/virtualMachines
                - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}"
                  location: eastus
                  name: "{virtualMachineName}"
                  properties:
                    availabilitySet:
                      id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                    hardwareProfile:
                      vmSize: Standard_A0
                    networkProfile:
                      networkInterfaces:
                      - id: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}"
                    osProfile:
                      adminUsername: Foo12
                      allowExtensionOperations: true
                      computerName: Test
                      secrets: []
                      windowsConfiguration:
                        enableAutomaticUpdates: true
                        provisionVMAgent: true
                    provisioningState: Succeeded
                    storageProfile:
                      dataDisks: []
                      imageReference:
                        offer: WindowsServer
                        publisher: MicrosoftWindowsServer
                        sku: 2012-R2-Datacenter
                        version: 4.127.20170406
                      osDisk:
                        caching: None
                        createOption: FromImage
                        diskSizeGB: 127
                        name: test
                        osType: Windows
                        vhd:
                          uri: "https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd"
                    vmId: "{vmId}"
                  tags:
                    RG: rg
                    testTag: "1"
                  type: Microsoft.Compute/virtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/vmSizes:
    get:
      description: "This API is deprecated. Use [Resources Skus](https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list)"
      operationId: VirtualMachineSizes_List
      parameters:
      - description: The location upon which virtual-machine-sizes is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineSizeListResult'
          description: OK
      tags:
      - VirtualMachineSizes
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/proximityPlacementGroups:
    get:
      description: Lists all proximity placement groups in a subscription.
      operationId: ProximityPlacementGroups_ListBySubscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProximityPlacementGroupListResult'
          description: OK
      tags:
      - ProximityPlacementGroups
      x-ms-examples:
        Create a proximity placement group.:
          parameters:
            api-version: 2019-07-01
            parameters: {}
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: string
                value:
                - id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup"
                  location: westus
                  name: myProximityPlacementGroup
                  properties:
                    availabilitySets:
                    - id: string
                    proximityPlacementGroupType: Standard
                    virtualMachineScaleSets:
                    - id: string
                    virtualMachines:
                    - id: string
                  type: Microsoft.Compute/proximityPlacementGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachineScaleSets:
    get:
      description: "Gets a list of all VM Scale Sets in the subscription, regardless\
        \ of the associated resource group. Use nextLink property in the response\
        \ to get the next page of VM Scale Sets. Do this till nextLink is null to\
        \ fetch all the VM Scale Sets."
      operationId: VirtualMachineScaleSets_ListAll
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineScaleSetListWithLinkResult'
          description: OK
      tags:
      - VirtualMachineScaleSets
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachines:
    get:
      description: Lists all of the virtual machines in the specified subscription.
        Use the nextLink property in the response to get the next page of virtual
        machines.
      operationId: VirtualMachines_ListAll
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: statusOnly=true enables fetching run time status of all Virtual
          Machines in the subscription.
        in: query
        name: statusOnly
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineListResult'
          description: OK
      tags:
      - VirtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets:
    get:
      description: Lists all availability sets in a resource group.
      operationId: AvailabilitySets_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySetListResult'
          description: OK
      tags:
      - AvailabilitySets
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
  : delete:
      description: Delete an availability set.
      operationId: AvailabilitySets_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - AvailabilitySets
      x-accepts:
      - application/json
    get:
      description: Retrieves information about an availability set.
      operationId: AvailabilitySets_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySet'
          description: OK
      tags:
      - AvailabilitySets
      x-accepts:
      - application/json
    patch:
      description: Update an availability set.
      operationId: AvailabilitySets_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilitySetUpdate'
        description: Parameters supplied to the Update Availability Set operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySet'
          description: OK
      tags:
      - AvailabilitySets
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update an availability set.
      operationId: AvailabilitySets_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilitySet'
        description: Parameters supplied to the Create Availability Set operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilitySet'
          description: OK
      tags:
      - AvailabilitySets
      x-ms-examples:
        Create an availability set.:
          parameters:
            api-version: 2019-07-01
            availabilitySetName: myAvailabilitySet
            parameters:
              location: westus
              properties:
                platformFaultDomainCount: 2
                platformUpdateDomainCount: 20
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/availabilitySets/myAvailabilitySet"
                location: westus
                name: myAvailabilitySet
                properties:
                  platformFaultDomainCount: 2
                  platformUpdateDomainCount: 20
                sku:
                  name: Classic
                type: Microsoft.Compute/availabilitySets
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/vmSizes
  : get:
      description: Lists all available virtual machine sizes that can be used to create
        a new virtual machine in an existing availability set.
      operationId: AvailabilitySets_ListAvailableSizes
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the availability set.
        in: path
        name: availabilitySetName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachineSizeListResult'
          description: OK
      tags:
      - AvailabilitySets
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups:
    get:
      description: Lists all of the dedicated host groups in the specified resource
        group. Use the nextLink property in the response to get the next page of dedicated
        host groups.
      operationId: DedicatedHostGroups_ListByResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHostGroupListResult'
          description: OK
      tags:
      - DedicatedHostGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}:
    delete:
      description: Delete a dedicated host group.
      operationId: DedicatedHostGroups_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host group.
        in: path
        name: hostGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - DedicatedHostGroups
      x-accepts:
      - application/json
    get:
      description: Retrieves information about a dedicated host group.
      operationId: DedicatedHostGroups_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host group.
        in: path
        name: hostGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHostGroup'
          description: OK
      tags:
      - DedicatedHostGroups
      x-ms-examples:
        Create a dedicated host group.:
          parameters:
            api-version: 2018-10-01
            hostGroupName: myDedicatedHostGroup
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscriptionId}"
          responses:
            "200":
              body:
                location: westus
                name: myDedicatedHostGroup
                properties:
                  hosts:
                  - id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/myDedicatedHostGroup/myHostGroup/Hosts/myHost1"
                  - id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/myDedicatedHostGroup/myHostGroup/Hosts/myHost2"
                  platformFaultDomainCount: 3
                tags:
                  '{tagName}': "{tagValue}"
                zones:
                - "3"
      x-accepts:
      - application/json
    patch:
      description: Update an dedicated host group.
      operationId: DedicatedHostGroups_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host group.
        in: path
        name: hostGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedHostGroupUpdate'
        description: Parameters supplied to the Update Dedicated Host Group operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHostGroup'
          description: OK
      tags:
      - DedicatedHostGroups
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Create or update a dedicated host group. For details of Dedicated\
        \ Host and Dedicated Host Groups please see [Dedicated Host Documentation]\
        \ (https://go.microsoft.com/fwlink/?linkid=2082596)"
      operationId: DedicatedHostGroups_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host group.
        in: path
        name: hostGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedHostGroup'
        description: Parameters supplied to the Create Dedicated Host Group.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHostGroup'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHostGroup'
          description: Created
      tags:
      - DedicatedHostGroups
      x-ms-examples:
        Create or update a dedicated host group.:
          parameters:
            api-version: 2018-10-01
            hostGroupName: myDedicatedHostGroup
            parameters:
              location: westus
              properties:
                platformFaultDomainCount: 3
              tags:
                department: finance
              zones:
              - "1"
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/HostGroups/myDedicatedHostGroup"
                location: westus
                name: myDedicatedHostGroup
                properties:
                  hosts: []
                  platformFaultDomainCount: 3
                tags:
                  department: finance
                  owner: myCompany
                zones:
                - "1"
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/HostGroups/myDedicatedHostGroup"
                location: westus
                name: myDedicatedHostGroup
                properties:
                  hosts: []
                  platformFaultDomainCount: 3
                tags:
                  department: finance
                zones:
                - "1"
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts:
    get:
      description: Lists all of the dedicated hosts in the specified dedicated host
        group. Use the nextLink property in the response to get the next page of dedicated
        hosts.
      operationId: DedicatedHosts_ListByHostGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host group.
        in: path
        name: hostGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHostListResult'
          description: OK
      tags:
      - DedicatedHost
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}
  : delete:
      description: Delete a dedicated host.
      operationId: DedicatedHosts_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host group.
        in: path
        name: hostGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host.
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
      tags:
      - DedicatedHosts
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Retrieves information about a dedicated host.
      operationId: DedicatedHosts_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host group.
        in: path
        name: hostGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host.
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: The expand expression to apply on the operation.
        in: query
        name: $expand
        schema:
          enum:
          - instanceView
          type: string
          x-ms-enum:
            modelAsString: false
            name: InstanceViewTypes
        x-ms-enum:
          modelAsString: false
          name: InstanceViewTypes
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHost'
          description: OK
      tags:
      - DedicatedHosts
      x-ms-examples:
        Get a dedicated host.:
          parameters:
            api-version: 2018-10-01
            hostGroupName: myDedicatedHostGroup
            hostName: myHost
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscriptionId}"
          responses:
            "200":
              body:
                location: westus
                name: myHost
                properties:
                  autoReplaceOnFailure: true
                  hostId: "{GUID}"
                  instanceView:
                    assetId: eb3f58b8-b4e8-4882-b69f-301a01812407
                    availableCapacity:
                      allocatableVMs:
                      - count: 10
                        vmSize: Standard_A1
                    statuses:
                    - code: ProvisioningState/succeeded
                      displayStatus: Provisioning succeeded
                      level: Info
                    - code: HealthState/available
                      displayStatus: Host available
                      level: Info
                  platformFaultDomain: 1
                  provisioningState: Succeeded
                  provisioningTime: 2019-06-27T01:02:38.3138469+00:00
                  virtualMachines:
                  - id: /subscriptions/subId/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/vm1
                sku:
                  name: DSv3-Type1
                tags:
                  department: HR
      x-accepts:
      - application/json
    patch:
      description: Update an dedicated host .
      operationId: DedicatedHosts_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host group.
        in: path
        name: hostGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host .
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedHostUpdate'
        description: Parameters supplied to the Update Dedicated Host operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHost'
          description: OK
      tags:
      - DedicatedHosts
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a dedicated host .
      operationId: DedicatedHosts_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host group.
        in: path
        name: hostGroupName
        required: true
        schema:
          type: string
      - description: The name of the dedicated host .
        in: path
        name: hostName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedHost'
        description: Parameters supplied to the Create Dedicated Host.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHost'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHost'
          description: Created
      tags:
      - DedicatedHosts
      x-ms-examples:
        Create or update a dedicated host .:
          parameters:
            api-version: 2018-10-01
            hostGroupName: myDedicatedHostGroup
            hostName: myDedicatedHost
            parameters:
              location: westus
              properties:
                platformFaultDomain: 1
              sku:
                name: DSv3-Type1
              tags:
                department: HR
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/HostGroups/myDedicatedHostGroup/hosts/myDedicatedHost"
                location: westus
                name: myDedicatedHost
                properties:
                  autoReplaceOnFailure: false
                  hostId: "{GUID}"
                  licenseType: Windows_Server_Hybrid
                  platformFaultDomain: 1
                sku:
                  name: DSv3-Type1
                tags:
                  department: HR
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/HostGroups/myDedicatedHostGroup/hosts/myDedicatedHost"
                location: westus
                name: myDedicatedHost
                properties:
                  autoReplaceOnFailure: true
                  hostId: "{GUID}"
                  platformFaultDomain: 1
                sku:
                  name: DSv3-Type1
                tags:
                  department: HR
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/images:
    get:
      description: Gets the list of images under a resource group.
      operationId: Images_ListByResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageListResult'
          description: OK
      tags:
      - Images
      x-ms-examples:
        List all virtual machine images in a resource group.:
          parameters:
            api-version: 2019-07-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage"
                  location: West US
                  name: myImage
                  properties:
                    provisioningState: created
                    storageProfile:
                      dataDisks:
                      - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                        lun: 1
                        managedDisk:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                        snapshot:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                        storageAccountType: Standard_LRS
                      osDisk:
                        blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                        managedDisk:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                        osState: Generalized
                        osType: Windows
                        snapshot:
                          id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                        storageAccountType: Standard_LRS
                  type: Microsoft.Compute/images
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/images/{imageName}:
    delete:
      description: Deletes an Image.
      operationId: Images_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the image.
        in: path
        name: imageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
      tags:
      - Images
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets an image.
      operationId: Images_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the image.
        in: path
        name: imageName
        required: true
        schema:
          type: string
      - description: The expand expression to apply on the operation.
        in: query
        name: $expand
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: OK
      tags:
      - Images
      x-ms-examples:
        Get information about a virtual machine image.:
          parameters:
            api-version: 2019-07-01
            imageName: myImage
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage"
                location: West US
                name: myImage
                properties:
                  provisioningState: created
                  storageProfile:
                    dataDisks:
                    - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                      lun: 1
                      managedDisk:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                      snapshot:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                      storageAccountType: Standard_LRS
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      diskSizeGB: 20
                      managedDisk:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                      osState: Generalized
                      osType: Windows
                      snapshot:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                      storageAccountType: Standard_LRS
                    zoneResilient: true
                type: Microsoft.Compute/images
      x-accepts:
      - application/json
    patch:
      description: Update an image.
      operationId: Images_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the image.
        in: path
        name: imageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUpdate'
        description: Parameters supplied to the Update Image operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: Created
      tags:
      - Images
      x-ms-examples:
        Updates tags of an Image.:
          parameters:
            api-version: 2019-07-01
            imageName: myImage
            parameters:
              properties:
                hyperVGeneration: V1
                sourceVirtualMachine:
                  id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM"
              tags:
                department: HR
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage"
                location: West US
                name: myImage
                properties:
                  provisioningState: created
                  storageProfile:
                    dataDisks:
                    - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                      lun: 1
                      managedDisk:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                      snapshot:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                      storageAccountType: Standard_LRS
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      diskSizeGB: 20
                      managedDisk:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                      osState: Generalized
                      osType: Windows
                      snapshot:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                      storageAccountType: Standard_LRS
                    zoneResilient: true
                tags:
                  department: HR
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage"
                location: West US
                name: myImage
                properties:
                  provisioningState: created
                  storageProfile:
                    dataDisks:
                    - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                      lun: 1
                      managedDisk:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                      snapshot:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                      storageAccountType: Standard_LRS
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      diskSizeGB: 20
                      managedDisk:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                      osState: Generalized
                      osType: Windows
                      snapshot:
                        id: "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                      storageAccountType: Standard_LRS
                    zoneResilient: true
                tags:
                  department: HR
                type: Microsoft.Compute/images
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update an image.
      operationId: Images_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the image.
        in: path
        name: imageName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
        description: Parameters supplied to the Create Image operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: Created
      tags:
      - Images
      x-ms-examples:
        Create a virtual machine image from a blob with DiskEncryptionSet resource.:
          parameters:
            api-version: 2019-07-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    diskEncryptionSet:
                      id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/{existing-diskEncryptionSet-name}"
                    osState: Generalized
                    osType: Linux
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      diskEncryptionSet:
                        id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/{existing-diskEncryptionSet-name}"
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      diskEncryptionSet:
                        id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/{existing-diskEncryptionSet-name}"
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image from a blob.:
          parameters:
            api-version: 2019-07-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    osState: Generalized
                    osType: Linux
                  zoneResilient: true
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                    zoneResilient: true
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                    zoneResilient: true
                type: Microsoft.Compute/images
        Create a virtual machine image from a managed disk with DiskEncryptionSet resource.:
          parameters:
            api-version: 2019-07-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    diskEncryptionSet:
                      id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/{existing-diskEncryptionSet-name}"
                    managedDisk:
                      id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                    osState: Generalized
                    osType: Linux
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      diskEncryptionSet:
                        id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/{existing-diskEncryptionSet-name}"
                      managedDisk:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      diskEncryptionSet:
                        id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/{existing-diskEncryptionSet-name}"
                      managedDisk:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image from a managed disk.:
          parameters:
            api-version: 2019-07-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    managedDisk:
                      id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                    osState: Generalized
                    osType: Linux
                  zoneResilient: true
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                      osState: Generalized
                      osType: Linux
                    zoneResilient: true
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                      osState: Generalized
                      osType: Linux
                    zoneResilient: true
                type: Microsoft.Compute/images
        Create a virtual machine image from a snapshot with DiskEncryptionSet resource.:
          parameters:
            api-version: 2019-07-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    diskEncryptionSet:
                      id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/{existing-diskEncryptionSet-name}"
                    osState: Generalized
                    osType: Linux
                    snapshot:
                      id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      diskEncryptionSet:
                        id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/{existing-diskEncryptionSet-name}"
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      diskEncryptionSet:
                        id: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/{existing-diskEncryptionSet-name}"
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                type: Microsoft.Compute/images
        Create a virtual machine image from a snapshot.:
          parameters:
            api-version: 2019-07-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    osState: Generalized
                    osType: Linux
                    snapshot:
                      id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                  zoneResilient: false
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                    zoneResilient: false
                type: Microsoft.Compute/images
            "201":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage"
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                    zoneResilient: false
                type: Microsoft.Compute/images
        Create a virtual machine image from an existing virtual machine.:
          parameters:
            api-version: 2019-07-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                sourceVirtualMachine:
[...]
