openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Deploy and manage user provided container images that scale automatically\
    \ based on incoming requests. The Cloud Run Admin API v1 follows the Knative Serving\
    \ API specification, while v2 is aligned with Google Cloud AIP-based API standards,\
    \ as described in https://google.aip.dev/."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Run Admin API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://run.googleapis.com/$discovery/rest?version=v2
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: run
externalDocs:
  url: https://cloud.google.com/run/
servers:
- url: https://run.googleapis.com/
tags:
- name: projects
paths:
  /v2/{name}:
    delete:
      description: Deletes a Revision.
      operationId: run_projects_locations_services_revisions_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the Revision to delete. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: A system-generated fingerprint for this version of the resource.
          This may be used to detect modification conflict during updates.
        explode: true
        in: query
        name: etag
        required: false
        schema:
          type: string
        style: form
      - description: Indicates that the request should be validated without actually
          deleting any resources.
        explode: true
        in: query
        name: validateOnly
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Gets information about a Revision.
      operationId: run_projects_locations_services_revisions_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The full name of the Revision. Format: projects/{project}/locations/{location}/services/{service}/revisions/{revision}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRunV2Revision'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: Updates a Service.
      operationId: run_projects_locations_services_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The fully qualified name of this Service. In CreateServiceRequest,\
          \ this field is ignored, and instead composed from CreateServiceRequest.parent\
          \ and CreateServiceRequest.service_id. Format: projects/{project}/locations/{location}/services/{service_id}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "If set to true, and if the Service does not exist, it will create\
          \ a new one. The caller must have 'run.services.create' permissions if this\
          \ is set to true and the Service does not exist."
        explode: true
        in: query
        name: allowMissing
        required: false
        schema:
          type: boolean
        style: form
      - description: "Indicates that the request should be validated and default values\
          \ populated, without persisting the request or updating any resources."
        explode: true
        in: query
        name: validateOnly
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudRunV2Service'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v2/{name}/operations:
    get:
      description: "Lists operations that match the specified filter in the request.\
        \ If the server doesn't support this method, it returns `UNIMPLEMENTED`."
      operationId: run_projects_locations_operations_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. To query for all of the operations for a project.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. A filter for matching the completed or in-progress\
          \ operations. The supported formats of *filter* are: To query for only completed\
          \ operations: done:true To query for only ongoing operations: done:false\
          \ Must be empty to query for all of the latest operations for the given\
          \ parent project."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of records that should be returned. Requested\
          \ page size cannot exceed 100. If not set or set to less than or equal to\
          \ 0, the default page size is 100. ."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Token identifying which result to start with, which is returned\
          \ by a previous list call."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v2/{name}:cancel:
    post:
      description: Cancels an Execution.
      operationId: run_projects_locations_jobs_executions_cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the Execution to cancel. Format: `projects/{project}/locations/{location}/jobs/{job}/executions/{execution}`,\
          \ where `{project}` can be project id or number."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudRunV2CancelExecutionRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v2/{name}:run:
    post:
      description: Triggers creation of a new Execution of this Job.
      operationId: run_projects_locations_jobs_run
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The full name of the Job. Format: projects/{project}/locations/{location}/jobs/{job},\
          \ where {project} can be project id or number."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudRunV2RunJobRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v2/{name}:wait:
    post:
      description: "Waits until the specified long-running operation is done or reaches\
        \ at most a specified timeout, returning the latest state. If the operation\
        \ is already done, the latest state is immediately returned. If the timeout\
        \ specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout\
        \ is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Note that this method is on a best-effort basis. It may return the latest\
        \ state before the specified timeout (including immediately), meaning even\
        \ an immediate response is no guarantee that the operation is done."
      operationId: run_projects_locations_operations_wait
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to wait on.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleLongrunningWaitOperationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v2/{parent}/executions:
    get:
      description: Lists Executions from a Job.
      operationId: run_projects_locations_jobs_executions_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The Execution from which the Executions should be\
          \ listed. To list all Executions across Jobs, use \"-\" instead of Job name.\
          \ Format: `projects/{project}/locations/{location}/jobs/{job}`, where `{project}`\
          \ can be project id or number."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of Executions to return in this call.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A page token received from a previous call to ListExecutions.
          All other parameters must match.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "If true, returns deleted (but unexpired) resources along with\
          \ active ones."
        explode: true
        in: query
        name: showDeleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRunV2ListExecutionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v2/{parent}/jobs:
    get:
      description: Lists Jobs.
      operationId: run_projects_locations_jobs_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The location and project to list resources on. Format:\
          \ projects/{project}/locations/{location}, where {project} can be project\
          \ id or number."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of Jobs to return in this call.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A page token received from a previous call to ListJobs. All other
          parameters must match.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "If true, returns deleted (but unexpired) resources along with\
          \ active ones."
        explode: true
        in: query
        name: showDeleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRunV2ListJobsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates a Job.
      operationId: run_projects_locations_jobs_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The location and project in which this Job should\
          \ be created. Format: projects/{project}/locations/{location}, where {project}\
          \ can be project id or number."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The unique identifier for the Job. The name of the\
          \ job becomes {parent}/jobs/{job_id}."
        explode: true
        in: query
        name: jobId
        required: false
        schema:
          type: string
        style: form
      - description: "Indicates that the request should be validated and default values\
          \ populated, without persisting the request or creating any resources."
        explode: true
        in: query
        name: validateOnly
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudRunV2Job'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v2/{parent}/revisions:
    get:
      description: "Lists Revisions from a given Service, or from a given location."
      operationId: run_projects_locations_services_revisions_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The Service from which the Revisions should be listed.\
          \ To list all Revisions across Services, use \"-\" instead of Service name.\
          \ Format: projects/{project}/locations/{location}/services/{service}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of revisions to return in this call.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A page token received from a previous call to ListRevisions.
          All other parameters must match.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "If true, returns deleted (but unexpired) resources along with\
          \ active ones."
        explode: true
        in: query
        name: showDeleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRunV2ListRevisionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v2/{parent}/services:
    get:
      description: Lists Services.
      operationId: run_projects_locations_services_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The location and project to list resources on. Location\
          \ must be a valid Google Cloud region, and cannot be the \"-\" wildcard.\
          \ Format: projects/{project}/locations/{location}, where {project} can be\
          \ project id or number."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of Services to return in this call.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A page token received from a previous call to ListServices. All
          other parameters must match.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "If true, returns deleted (but unexpired) resources along with\
          \ active ones."
        explode: true
        in: query
        name: showDeleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRunV2ListServicesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates a new Service in a given project and location.
      operationId: run_projects_locations_services_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The location and project in which this service should\
          \ be created. Format: projects/{project}/locations/{location}, where {project}\
          \ can be project id or number. Only lowercase characters, digits, and hyphens."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The unique identifier for the Service. It must begin\
          \ with letter, and cannot end with hyphen; must contain fewer than 50 characters.\
          \ The name of the service becomes {parent}/services/{service_id}."
        explode: true
        in: query
        name: serviceId
        required: false
        schema:
          type: string
        style: form
      - description: "Indicates that the request should be validated and default values\
          \ populated, without persisting the request or creating any resources."
        explode: true
        in: query
        name: validateOnly
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudRunV2Service'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v2/{parent}/tasks:
    get:
      description: Lists Tasks from an Execution of a Job.
      operationId: run_projects_locations_jobs_executions_tasks_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The Execution from which the Tasks should be listed.\
          \ To list all Tasks across Executions of a Job, use \"-\" instead of Execution\
          \ name. To list all Tasks across Jobs, use \"-\" instead of Job name. Format:\
          \ projects/{project}/locations/{location}/jobs/{job}/executions/{execution}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of Tasks to return in this call.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A page token received from a previous call to ListTasks. All
          other parameters must match.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "If true, returns deleted (but unexpired) resources along with\
          \ active ones."
        explode: true
        in: query
        name: showDeleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRunV2ListTasksResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v2/{resource}:getIamPolicy:
    get:
      description: Gets the IAM Access Control policy currently in effect for the
        given Cloud Run Service. This result does not include any inherited policies.
      operationId: run_projects_locations_services_get_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being requested.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The maximum policy version that will be used to format\
          \ the policy. Valid values are 0, 1, and 3. Requests specifying an invalid\
          \ value will be rejected. Requests for policies with any conditional role\
          \ bindings must specify version 3. Policies with no conditional role bindings\
          \ may specify any valid value or leave the field unset. The policy in the\
          \ response might use the policy version that you specified, or it might\
          \ use a lower policy version. For example, if you specify version 3, but\
          \ the policy has no conditional role bindings, the response uses version\
          \ 1. To learn which resources support conditions in their IAM policies,\
          \ see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        explode: true
        in: query
        name: options.requestedPolicyVersion
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleIamV1Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v2/{resource}:setIamPolicy:
    post:
      description: Sets the IAM Access control policy for the specified Service. Overwrites
        any existing policy.
      operationId: run_projects_locations_services_set_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being specified.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleIamV1SetIamPolicyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleIamV1Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v2/{resource}:testIamPermissions:
    post:
      description: Returns permissions that a caller has on the specified Project.
        There are no permissions required for making this API call.
      operationId: run_projects_locations_services_test_iam_permissions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy detail is being\
          \ requested. See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleIamV1TestIamPermissionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleIamV1TestIamPermissionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleCloudRunV2BinaryAuthorization:
      description: Settings for Binary Authorization feature.
      example:
        breakglassJustification: breakglassJustification
        useDefault: true
      properties:
        breakglassJustification:
          description: "If present, indicates to use Breakglass using this justification.\
            \ If use_default is False, then it must be empty. For more information\
            \ on breakglass, see https://cloud.google.com/binary-authorization/docs/using-breakglass"
          title: breakglassJustification
          type: string
        useDefault:
          description: "If True, indicates to use the default project's binary authorization\
            \ policy. If False, binary authorization will be disabled."
          title: useDefault
          type: boolean
      title: GoogleCloudRunV2BinaryAuthorization
      type: object
    GoogleCloudRunV2CancelExecutionRequest:
      description: Request message for deleting an Execution.
      example:
        validateOnly: true
        etag: etag
      properties:
        etag:
          description: A system-generated fingerprint for this version of the resource.
            This may be used to detect modification conflict during updates.
          title: etag
          type: string
        validateOnly:
          description: Indicates that the request should be validated without actually
            cancelling any resources.
          title: validateOnly
          type: boolean
      title: GoogleCloudRunV2CancelExecutionRequest
      type: object
    GoogleCloudRunV2CloudSqlInstance:
      description: "Represents a set of Cloud SQL instances. Each one will be available\
        \ under /cloudsql/[instance]. Visit https://cloud.google.com/sql/docs/mysql/connect-run\
        \ for more information on how to connect Cloud SQL and Cloud Run."
      example:
        instances:
        - instances
        - instances
      properties:
        instances:
          description: "The Cloud SQL instance connection names, as can be found in\
            \ https://console.cloud.google.com/sql/instances. Visit https://cloud.google.com/sql/docs/mysql/connect-run\
            \ for more information on how to connect Cloud SQL and Cloud Run. Format:\
            \ {project}:{location}:{instance}"
          items:
            type: string
          title: instances
          type: array
      title: GoogleCloudRunV2CloudSqlInstance
      type: object
    GoogleCloudRunV2Condition:
      description: Defines a status condition for a resource.
      example:
        severity: SEVERITY_UNSPECIFIED
        reason: COMMON_REASON_UNDEFINED
        revisionReason: REVISION_REASON_UNDEFINED
        executionReason: EXECUTION_REASON_UNDEFINED
        state: STATE_UNSPECIFIED
        lastTransitionTime: lastTransitionTime
        message: message
        type: type
      properties:
        executionReason:
          description: A reason for the execution condition.
          enum:
          - EXECUTION_REASON_UNDEFINED
          - JOB_STATUS_SERVICE_POLLING_ERROR
          - NON_ZERO_EXIT_CODE
          - CANCELLED
          - CANCELLING
          - DELETED
          title: executionReason
          type: string
        lastTransitionTime:
          description: Last time the condition transitioned from one status to another.
          format: google-datetime
          title: lastTransitionTime
          type: string
        message:
          description: Human readable message indicating details about the current
            status.
          title: message
          type: string
        reason:
          description: A common (service-level) reason for this condition.
          enum:
          - COMMON_REASON_UNDEFINED
          - UNKNOWN
          - REVISION_FAILED
          - PROGRESS_DEADLINE_EXCEEDED
          - CONTAINER_MISSING
          - CONTAINER_PERMISSION_DENIED
          - CONTAINER_IMAGE_UNAUTHORIZED
          - CONTAINER_IMAGE_AUTHORIZATION_CHECK_FAILED
          - ENCRYPTION_KEY_PERMISSION_DENIED
          - ENCRYPTION_KEY_CHECK_FAILED
          - SECRETS_ACCESS_CHECK_FAILED
          - WAITING_FOR_OPERATION
          - IMMEDIATE_RETRY
          - POSTPONED_RETRY
          - INTERNAL
          title: reason
          type: string
        revisionReason:
          description: A reason for the revision condition.
          enum:
          - REVISION_REASON_UNDEFINED
          - PENDING
          - RESERVE
          - RETIRED
          - RETIRING
          - RECREATING
          - HEALTH_CHECK_CONTAINER_ERROR
          - CUSTOMIZED_PATH_RESPONSE_PENDING
          - MIN_INSTANCES_NOT_PROVISIONED
          - ACTIVE_REVISION_LIMIT_REACHED
          - NO_DEPLOYMENT
          - HEALTH_CHECK_SKIPPED
          - MIN_INSTANCES_WARMING
          title: revisionReason
          type: string
        severity:
          description: "How to interpret failures of this condition, one of Error,\
            \ Warning, Info"
          enum:
          - SEVERITY_UNSPECIFIED
          - ERROR
          - WARNING
          - INFO
          title: severity
          type: string
        state:
          description: State of the condition.
          enum:
          - STATE_UNSPECIFIED
          - CONDITION_PENDING
          - CONDITION_RECONCILING
          - CONDITION_FAILED
          - CONDITION_SUCCEEDED
          title: state
          type: string
        type:
          description: "type is used to communicate the status of the reconciliation\
            \ process. See also: https://github.com/knative/serving/blob/main/docs/spec/errors.md#error-conditions-and-reporting\
            \ Types common to all resources include: * \"Ready\": True when the Resource\
            \ is ready."
          title: type
          type: string
      title: GoogleCloudRunV2Condition
      type: object
    GoogleCloudRunV2Container:
      description: "A single application container. This specifies both the container\
        \ to run, the command to run in the container and the arguments to supply\
        \ to it. Note that additional arguments can be supplied by the system to the\
        \ container at runtime."
      example:
        args:
        - args
        - args
        image: image
        livenessProbe:
          failureThreshold: 0
          periodSeconds: 5
          tcpSocket:
            port: 2
          timeoutSeconds: 7
          initialDelaySeconds: 5
          grpc:
            port: 6
            service: service
          httpGet:
            path: path
            port: 1
            httpHeaders:
            - name: name
              value: value
            - name: name
              value: value
        dependsOn:
        - dependsOn
        - dependsOn
        workingDir: workingDir
        name: name
        resources:
          startupCpuBoost: true
          cpuIdle: true
          limits:
            key: limits
        startupProbe:
          failureThreshold: 0
          periodSeconds: 5
          tcpSocket:
            port: 2
          timeoutSeconds: 7
          initialDelaySeconds: 5
          grpc:
            port: 6
            service: service
          httpGet:
            path: path
            port: 1
            httpHeaders:
            - name: name
              value: value
            - name: name
              value: value
        env:
        - name: name
          value: value
          valueSource:
            secretKeyRef:
              secret: secret
              version: version
        - name: name
          value: value
          valueSource:
            secretKeyRef:
              secret: secret
              version: version
        ports:
        - name: name
          containerPort: 9
        - name: name
          containerPort: 9
        command:
        - command
        - command
        volumeMounts:
        - mountPath: mountPath
          name: name
        - mountPath: mountPath
          name: name
      properties:
        args:
          description: Arguments to the entrypoint. The docker image's CMD is used
            if this is not provided.
          items:
            type: string
          title: args
          type: array
        command:
          description: Entrypoint array. Not executed within a shell. The docker image's
            ENTRYPOINT is used if this is not provided.
          items:
            type: string
          title: command
          type: array
        dependsOn:
          description: Names of the containers that must start before this container.
          items:
            type: string
          title: dependsOn
          type: array
        env:
          description: List of environment variables to set in the container.
          items:
            $ref: '#/components/schemas/GoogleCloudRunV2EnvVar'
          title: env
          type: array
        image:
          description: "Required. Name of the container image in Dockerhub, Google\
            \ Artifact Registry, or Google Container Registry. If the host is not\
            \ provided, Dockerhub is assumed."
          title: image
          type: string
        livenessProbe:
          $ref: '#/components/schemas/GoogleCloudRunV2Probe'
        name:
          description: Name of the container specified as a DNS_LABEL (RFC 1123).
          title: name
          type: string
        ports:
          description: "List of ports to expose from the container. Only a single\
            \ port can be specified. The specified ports must be listening on all\
            \ interfaces (0.0.0.0) within the container to be accessible. If omitted,\
            \ a port number will be chosen and passed to the container through the\
            \ PORT environment variable for the container to listen on."
          items:
            $ref: '#/components/schemas/GoogleCloudRunV2ContainerPort'
          title: ports
          type: array
        resources:
          $ref: '#/components/schemas/GoogleCloudRunV2ResourceRequirements'
        startupProbe:
          $ref: '#/components/schemas/GoogleCloudRunV2Probe'
        volumeMounts:
          description: Volume to mount into the container's filesystem.
          items:
            $ref: '#/components/schemas/GoogleCloudRunV2VolumeMount'
          title: volumeMounts
          type: array
        workingDir:
          description: "Container's working directory. If not specified, the container\
            \ runtime's default will be used, which might be configured in the container\
            \ image."
          title: workingDir
          type: string
      title: GoogleCloudRunV2Container
      type: object
    GoogleCloudRunV2ContainerOverride:
      description: Per-container override specification.
      example:
        args:
        - args
        - args
        name: name
        env:
        - name: name
          value: value
          valueSource:
            secretKeyRef:
              secret: secret
              version: version
        - name: name
          value: value
          valueSource:
            secretKeyRef:
              secret: secret
              version: version
        clearArgs: true
      properties:
        args:
          description: Optional. Arguments to the entrypoint. Will replace existing
            args for override.
          items:
            type: string
          title: args
          type: array
        clearArgs:
          description: Optional. True if the intention is to clear out existing args
            list.
          title: clearArgs
          type: boolean
        env:
          description: List of environment variables to set in the container. Will
            be merged with existing env for override.
          items:
            $ref: '#/components/schemas/GoogleCloudRunV2EnvVar'
          title: env
          type: array
        name:
          description: The name of the container specified as a DNS_LABEL.
          title: name
          type: string
      title: GoogleCloudRunV2ContainerOverride
      type: object
    GoogleCloudRunV2ContainerPort:
      description: ContainerPort represents a network port in a single container.
      example:
        name: name
        containerPort: 9
      properties:
        containerPort:
          description: "Port number the container listens on. This must be a valid\
            \ TCP port number, 0 < container_port < 65536."
          format: int32
          title: containerPort
          type: integer
        name:
          description: "If specified, used to specify which protocol to use. Allowed\
            \ values are \"http1\" and \"h2c\"."
          title: name
          type: string
      title: GoogleCloudRunV2ContainerPort
      type: object
    GoogleCloudRunV2EmptyDirVolumeSource:
      description: "In memory (tmpfs) ephemeral storage. It is ephemeral in the sense\
        \ that when the sandbox is taken down, the data is destroyed with it (it does\
        \ not persist across sandbox runs)."
      example:
        sizeLimit: sizeLimit
        medium: MEDIUM_UNSPECIFIED
      properties:
        medium:
          description: "The medium on which the data is stored. Acceptable values\
            \ today is only MEMORY or none. When none, the default will currently\
            \ be backed by memory but could change over time. +optional"
          enum:
          - MEDIUM_UNSPECIFIED
          - MEMORY
          title: medium
          type: string
        sizeLimit:
          description: "Limit on the storage usable by this EmptyDir volume. The size\
            \ limit is also applicable for memory medium. The maximum usage on memory\
            \ medium EmptyDir would be the minimum value between the SizeLimit specified\
            \ here and the sum of memory limits of all containers. The default is\
            \ nil which means that the limit is undefined. More info: https://cloud.google.com/run/docs/configuring/in-memory-volumes#configure-volume.\
            \ Info in Kubernetes: https://kubernetes.io/docs/concepts/storage/volumes/#emptydir"
          title: sizeLimit
          type: string
      title: GoogleCloudRunV2EmptyDirVolumeSource
      type: object
    GoogleCloudRunV2EnvVar:
      description: EnvVar represents an environment variable present in a Container.
      example:
        name: name
        value: value
        valueSource:
          secretKeyRef:
            secret: secret
            version: version
      properties:
        name:
          description: Required. Name of the environment variable. Must not exceed
            32768 characters.
          title: name
          type: string
        value:
          description: "Variable references $(VAR_NAME) are expanded using the previous\
            \ defined environment variables in the container and any route environment\
            \ variables. If a variable cannot be resolved, the reference in the input\
            \ string will be unchanged. The $(VAR_NAME) syntax can be escaped with\
            \ a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded,\
            \ regardless of whether the variable exists or not. Defaults to \"\",\
            \ and the maximum length is 32768 bytes."
          title: value
          type: string
        valueSource:
          $ref: '#/components/schemas/GoogleCloudRunV2EnvVarSource'
      title: GoogleCloudRunV2EnvVar
      type: object
    GoogleCloudRunV2EnvVarSource:
      description: EnvVarSource represents a source for the value of an EnvVar.
      example:
        secretKeyRef:
          secret: secret
          version: version
      properties:
        secretKeyRef:
          $ref: '#/components/schemas/GoogleCloudRunV2SecretKeySelector'
      title: GoogleCloudRunV2EnvVarSource
      type: object
    GoogleCloudRunV2Execution:
      description: Execution represents the configuration of a single execution. A
        execution an immutable resource that references a container image which is
        run to completion.
      example:
        template:
          maxRetries: 9
          volumes:
          - cloudSqlInstance:
              instances:
              - instances
              - instances
            gcs:
              bucket: bucket
              readOnly: true
            emptyDir:
              sizeLimit: sizeLimit
              medium: MEDIUM_UNSPECIFIED
            name: name
            nfs:
              path: path
              server: server
              readOnly: true
            secret:
              defaultMode: 1
              secret: secret
              items:
              - mode: 1
                path: path
                version: version
              - mode: 1
                path: path
                version: version
          - cloudSqlInstance:
              instances:
              - instances
              - instances
            gcs:
              bucket: bucket
              readOnly: true
            emptyDir:
              sizeLimit: sizeLimit
              medium: MEDIUM_UNSPECIFIED
            name: name
            nfs:
              path: path
              server: server
              readOnly: true
            secret:
              defaultMode: 1
              secret: secret
              items:
              - mode: 1
                path: path
                version: version
              - mode: 1
                path: path
                version: version
          vpcAccess:
            networkInterfaces:
            - subnetwork: subnetwork
              network: network
              tags:
              - tags
              - tags
            - subnetwork: subnetwork
              network: network
              tags:
              - tags
              - tags
            connector: connector
            egress: VPC_EGRESS_UNSPECIFIED
          containers:
          - args:
            - args
            - args
            image: image
            livenessProbe:
              failureThreshold: 0
              periodSeconds: 5
              tcpSocket:
                port: 2
              timeoutSeconds: 7
              initialDelaySeconds: 5
              grpc:
                port: 6
                service: service
              httpGet:
                path: path
                port: 1
                httpHeaders:
                - name: name
                  value: value
                - name: name
                  value: value
            dependsOn:
            - dependsOn
            - dependsOn
            workingDir: workingDir
            name: name
            resources:
              startupCpuBoost: true
              cpuIdle: true
              limits:
                key: limits
            startupProbe:
              failureThreshold: 0
              periodSeconds: 5
              tcpSocket:
                port: 2
              timeoutSeconds: 7
              initialDelaySeconds: 5
              grpc:
                port: 6
                service: service
              httpGet:
                path: path
                port: 1
                httpHeaders:
                - name: name
                  value: value
                - name: name
                  value: value
            env:
            - name: name
              value: value
              valueSource:
                secretKeyRef:
                  secret: secret
                  version: version
            - name: name
              value: value
              valueSource:
                secretKeyRef:
                  secret: secret
                  version: version
            ports:
            - name: name
              containerPort: 9
            - name: name
              containerPort: 9
            command:
            - command
            - command
            volumeMounts:
            - mountPath: mountPath
              name: name
            - mountPath: mountPath
              name: name
          - args:
            - args
            - args
            image: image
            livenessProbe:
              failureThreshold: 0
              periodSeconds: 5
              tcpSocket:
                port: 2
              timeoutSeconds: 7
              initialDelaySeconds: 5
              grpc:
                port: 6
                service: service
              httpGet:
                path: path
                port: 1
                httpHeaders:
                - name: name
                  value: value
                - name: name
                  value: value
            dependsOn:
            - dependsOn
            - dependsOn
            workingDir: workingDir
            name: name
            resources:
              startupCpuBoost: true
              cpuIdle: true
              limits:
                key: limits
            startupProbe:
              failureThreshold: 0
              periodSeconds: 5
              tcpSocket:
                port: 2
              timeoutSeconds: 7
              initialDelaySeconds: 5
              grpc:
                port: 6
                service: service
              httpGet:
                path: path
                port: 1
                httpHeaders:
                - name: name
                  value: value
                - name: name
                  value: value
            env:
            - name: name
              value: value
              valueSource:
                secretKeyRef:
                  secret: secret
                  version: version
            - name: name
              value: value
              valueSource:
                secretKeyRef:
                  secret: secret
                  version: version
            ports:
            - name: name
              containerPort: 9
            - name: name
              containerPort: 9
            command:
[...]
