openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Monitor
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_monitor_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_monitor_v1
servers:
- url: https://monitor.twilio.com
tags:
- name: MonitorV1Alert
- name: MonitorV1Event
paths:
  /v1/Alerts:
    description: Debugger alerts
    get:
      description: ""
      operationId: ListAlert
      parameters:
      - description: "Only show alerts for this log-level.  Can be: `error`, `warning`,\
          \ `notice`, or `debug`."
        explode: true
        in: query
        name: LogLevel
        required: false
        schema:
          type: string
        style: form
      - description: Only include alerts that occurred on or after this date and time.
          Specify the date and time in GMT and format as `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ssZ`.
          Queries for alerts older than 30 days are not supported.
        explode: true
        in: query
        name: StartDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only include alerts that occurred on or before this date and
          time. Specify the date and time in GMT and format as `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ssZ`.
          Queries for alerts older than 30 days are not supported.
        explode: true
        in: query
        name: EndDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MonitorV1Alert
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://monitor.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - error_code
      - log_level
      - alert_text
      pathType: list
  /v1/Alerts/{Sid}:
    description: Debugger alerts
    get:
      description: ""
      operationId: FetchAlert
      parameters:
      - description: The SID of the Alert resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^NO[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/monitor.v1.alert-instance'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MonitorV1Alert
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://monitor.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - error_code
      - log_level
      - alert_text
      pathType: instance
  /v1/Events:
    description: Debugger events
    get:
      description: "Returns a list of events in the account, sorted by event-date."
      operationId: ListEvent
      parameters:
      - description: Only include events initiated by this Actor. Useful for auditing
          actions taken by specific users or API credentials.
        explode: true
        in: query
        name: ActorSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^US[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "Only include events of this [Event Type](https://www.twilio.com/docs/usage/monitor-events#event-types)."
        explode: true
        in: query
        name: EventType
        required: false
        schema:
          type: string
        style: form
      - description: Only include events that refer to this resource. Useful for discovering
          the history of a specific resource.
        explode: true
        in: query
        name: ResourceSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: Only include events that originated from this IP address. Useful
          for tracking suspicious activity originating from the API or the Twilio
          Console.
        explode: true
        in: query
        name: SourceIpAddress
        required: false
        schema:
          type: string
        style: form
      - description: "Only include events that occurred on or after this date. Specify\
          \ the date in GMT and [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
          \ format."
        explode: true
        in: query
        name: StartDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only include events that occurred on or before this date. Specify\
          \ the date in GMT and [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
          \ format."
        explode: true
        in: query
        name: EndDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEventResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MonitorV1Event
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://monitor.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - event_type
      - event_type
      - description
      pathType: list
  /v1/Events/{Sid}:
    description: Debugger events
    get:
      description: ""
      operationId: FetchEvent
      parameters:
      - description: The SID of the Event resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AE[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/monitor.v1.event'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MonitorV1Event
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://monitor.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - event_type
      - event_type
      - description
      pathType: instance
components:
  schemas:
    monitor.v1.alert:
      example:
        alert_text: alert_text
        date_generated: 2000-01-23T04:56:07.000+00:00
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        resource_sid: resource_sid
        log_level: log_level
        more_info: more_info
        request_method: HEAD
        api_version: api_version
        request_url: request_url
        url: https://openapi-generator.tech
        sid: sid
        service_sid: service_sid
        account_sid: account_sid
        error_code: error_code
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Alert resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        alert_text:
          description: The text of the alert.
          nullable: true
          type: string
        api_version:
          description: The API version used when the alert was generated.  Can be
            empty for events that don't have a specific API version.
          nullable: true
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          type: string
        date_generated:
          description: "The date and time in GMT when the alert was generated specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#UTC) format.  Due\
            \ to buffering, this can be different than `date_created`."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          type: string
        error_code:
          description: "The error code for the condition that generated the alert.\
            \ See the [Error Dictionary](https://www.twilio.com/docs/api/errors) for\
            \ possible causes and solutions to the error."
          nullable: true
          type: string
        log_level:
          description: "The log level.  Can be: `error`, `warning`, `notice`, or `debug`."
          nullable: true
          type: string
        more_info:
          description: "The URL of the page in our [Error Dictionary](https://www.twilio.com/docs/api/errors)\
            \ with more information about the error condition."
          nullable: true
          type: string
        request_method:
          description: "The method used by the request that generated the alert. If\
            \ the alert was generated by a request we made to your server, this is\
            \ the method we used. If the alert was generated by a request from your\
            \ application to our API, this is the method your application used."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        request_url:
          description: "The URL of the request that generated the alert. If the alert\
            \ was generated by a request we made to your server, this is the URL on\
            \ your server that generated the alert. If the alert was generated by\
            \ a request from your application to our API, this is the URL of the resource\
            \ requested."
          nullable: true
          type: string
        resource_sid:
          description: "The SID of the resource for which the alert was generated.\
            \  For instance, if your server failed to respond to an HTTP request during\
            \ the flow of a particular call, this value would be the SID of the server.\
            \  This value is empty if the alert was not generated for a particular\
            \ resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          type: string
        service_sid:
          description: The SID of the service or resource that generated the alert.
            Can be `null`.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          type: string
        sid:
          description: The unique string that we created to identify the Alert resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^NO[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the Alert resource.
          format: uri
          nullable: true
          type: string
      type: object
    monitor.v1.alert-instance:
      example:
        alert_text: alert_text
        date_generated: 2000-01-23T04:56:07.000+00:00
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        resource_sid: resource_sid
        log_level: log_level
        more_info: more_info
        response_body: response_body
        request_method: HEAD
        api_version: api_version
        request_url: request_url
        url: https://openapi-generator.tech
        sid: sid
        service_sid: service_sid
        response_headers: response_headers
        request_headers: request_headers
        account_sid: account_sid
        request_variables: request_variables
        error_code: error_code
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Alert resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        alert_text:
          description: The text of the alert.
          nullable: true
          type: string
        api_version:
          description: The API version used when the alert was generated.  Can be
            empty for events that don't have a specific API version.
          nullable: true
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          type: string
        date_generated:
          description: "The date and time in GMT when the alert was generated specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#UTC) format.  Due\
            \ to buffering, this can be different than `date_created`."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          type: string
        error_code:
          description: "The error code for the condition that generated the alert.\
            \ See the [Error Dictionary](https://www.twilio.com/docs/api/errors) for\
            \ possible causes and solutions to the error."
          nullable: true
          type: string
        log_level:
          description: "The log level.  Can be: `error`, `warning`, `notice`, or `debug`."
          nullable: true
          type: string
        more_info:
          description: "The URL of the page in our [Error Dictionary](https://www.twilio.com/docs/api/errors)\
            \ with more information about the error condition."
          nullable: true
          type: string
        request_headers:
          description: The request headers of the request that generated the alert.
            This value is only returned when a single Alert resource is fetched.
          nullable: true
          type: string
        request_method:
          description: "The method used by the request that generated the alert. If\
            \ the alert was generated by a request we made to your server, this is\
            \ the method we used. If the alert was generated by a request from your\
            \ application to our API, this is the method your application used."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          type: string
        request_url:
          description: "The URL of the request that generated the alert. If the alert\
            \ was generated by a request we made to your server, this is the URL on\
            \ your server that generated the alert. If the alert was generated by\
            \ a request from your application to our API, this is the URL of the resource\
            \ requested."
          nullable: true
          type: string
        request_variables:
          description: The variables passed in the request that generated the alert.
            This value is only returned when a single Alert resource is fetched.
          nullable: true
          type: string
        resource_sid:
          description: "The SID of the resource for which the alert was generated.\
            \  For instance, if your server failed to respond to an HTTP request during\
            \ the flow of a particular call, this value would be the SID of the server.\
            \  This value is empty if the alert was not generated for a particular\
            \ resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          type: string
        response_body:
          description: The response body of the request that generated the alert.
            This value is only returned when a single Alert resource is fetched.
          nullable: true
          type: string
        response_headers:
          description: The response headers of the request that generated the alert.
            This value is only returned when a single Alert resource is fetched.
          nullable: true
          type: string
        service_sid:
          description: The SID of the service or resource that generated the alert.
            Can be `null`.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          type: string
        sid:
          description: The unique string that we created to identify the Alert resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^NO[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the Alert resource.
          format: uri
          nullable: true
          type: string
      type: object
    monitor.v1.event:
      example:
        actor_type: actor_type
        resource_sid: resource_sid
        resource_type: resource_type
        description: description
        event_data: ""
        source: source
        url: https://openapi-generator.tech
        sid: sid
        source_ip_address: source_ip_address
        event_type: event_type
        actor_sid: actor_sid
        event_date: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        links: "{}"
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Event resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        actor_sid:
          description: "The SID of the actor that caused the event, if available.\
            \ Can be `null`."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^US[0-9a-fA-F]{32}$"
          type: string
        actor_type:
          description: "The type of actor that caused the event. Can be: `user` for\
            \ a change made by a logged-in user in the Twilio Console, `account` for\
            \ an event caused by an API request by an authenticating Account, `twilio-admin`\
            \ for an event caused by a Twilio employee, and so on."
          nullable: true
          type: string
        description:
          description: A description of the event. Can be `null`.
          nullable: true
          type: string
        event_data:
          description: "An object with additional data about the event. The  contents\
            \ depend on `event_type`. For example, event-types of the form `RESOURCE.updated`,\
            \ this value contains a `resource_properties` dictionary that describes\
            \ the previous and updated properties of the resource."
          nullable: true
        event_date:
          description: "The date and time in GMT when the event was recorded specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          type: string
        event_type:
          description: "The event's type. Event-types are typically in the form: `RESOURCE_TYPE.ACTION`,\
            \ where `RESOURCE_TYPE` is the type of resource that was affected and\
            \ `ACTION` is what happened to it. For example, `phone-number.created`.\
            \ For a full list of all event-types, see the [Monitor Event Types](https://www.twilio.com/docs/usage/monitor-events#event-types)."
          nullable: true
          type: string
        links:
          description: The absolute URLs of related resources.
          format: uri-map
          nullable: true
          type: object
        resource_sid:
          description: The SID of the resource that was affected.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^[a-zA-Z]{2}[0-9a-fA-F]{32}$"
          type: string
        resource_type:
          description: "The type of resource that was affected. For a full list of\
            \ all resource-types, see the [Monitor Event Types](https://www.twilio.com/docs/usage/monitor-events#event-types)."
          nullable: true
          type: string
        sid:
          description: The unique string that we created to identify the Event resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AE[0-9a-fA-F]{32}$"
          type: string
        source:
          description: "The originating system or interface that caused the event.\
            \  Can be: `web` for events caused by user action in the Twilio Console,\
            \ `api` for events caused by a request to our API, or   `twilio` for events\
            \ caused by an automated or internal Twilio system."
          nullable: true
          type: string
        source_ip_address:
          description: "The IP address of the source, if the source is outside the\
            \ Twilio cloud. This value is `null` for events with `source` of `twilio`"
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource that was affected. Can be
            `null`.
          format: uri
          nullable: true
          type: string
      type: object
    ListAlertResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 0
        key: key
        url: https://openapi-generator.tech
        page_size: 6
      properties:
        first_page_url:
          format: uri
          type: string
        key:
          type: string
        next_page_url:
          format: uri
          nullable: true
          type: string
        page:
          type: integer
        page_size:
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          type: string
        url:
          format: uri
          type: string
      type: object
    ListAlertResponse:
      example:
        alerts:
        - alert_text: alert_text
          date_generated: 2000-01-23T04:56:07.000+00:00
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          resource_sid: resource_sid
          log_level: log_level
          more_info: more_info
          request_method: HEAD
          api_version: api_version
          request_url: request_url
          url: https://openapi-generator.tech
          sid: sid
          service_sid: service_sid
          account_sid: account_sid
          error_code: error_code
        - alert_text: alert_text
          date_generated: 2000-01-23T04:56:07.000+00:00
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          resource_sid: resource_sid
          log_level: log_level
          more_info: more_info
          request_method: HEAD
          api_version: api_version
          request_url: request_url
          url: https://openapi-generator.tech
          sid: sid
          service_sid: service_sid
          account_sid: account_sid
          error_code: error_code
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        alerts:
          items:
            $ref: '#/components/schemas/monitor.v1.alert'
          type: array
        meta:
          $ref: '#/components/schemas/ListAlertResponse_meta'
      title: ListAlertResponse
      type: object
    ListEventResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        events:
        - actor_type: actor_type
          resource_sid: resource_sid
          resource_type: resource_type
          description: description
          event_data: ""
          source: source
          url: https://openapi-generator.tech
          sid: sid
          source_ip_address: source_ip_address
          event_type: event_type
          actor_sid: actor_sid
          event_date: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
        - actor_type: actor_type
          resource_sid: resource_sid
          resource_type: resource_type
          description: description
          event_data: ""
          source: source
          url: https://openapi-generator.tech
          sid: sid
          source_ip_address: source_ip_address
          event_type: event_type
          actor_sid: actor_sid
          event_date: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
      properties:
        events:
          items:
            $ref: '#/components/schemas/monitor.v1.event'
          type: array
        meta:
          $ref: '#/components/schemas/ListAlertResponse_meta'
      title: ListEventResponse
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
- description: This product is Generally Available.
  name: GA

