

# ValidationResult

The launch profile validation result.

## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**state** | [**LaunchProfileValidationState**](LaunchProfileValidationState.md) |  |  |
|**statusCode** | [**LaunchProfileValidationStatusCode**](LaunchProfileValidationStatusCode.md) |  |  |
|**statusMessage** | [**String**](String.md) |  |  |
|**type** | [**LaunchProfileValidationType**](LaunchProfileValidationType.md) |  |  |



