openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: Soccer v3 Scores
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/soccer-v3-scores.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: soccer-v3-scores
servers:
- url: http://azure-api.sportsdata.io/v3/soccer/scores
- url: https://azure-api.sportsdata.io/v3/soccer/scores
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/ActiveMemberships:
    get:
      operationId: memberships_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships (Active)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Areas:
    get:
      operationId: areas_countries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Area'
                type: array
          description: ""
      summary: Areas (Countries)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CanceledMemberships:
    get:
      operationId: canceled_memberships
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledMembership'
          description: ""
      summary: Canceled Memberships
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CompetitionDetails/{competition}:
    get:
      operationId: competition_fixtures_league_details
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "An indication of a soccer competition/league. This value can\
          \ be the CompetitionId or the Competition Key. Possible values include:\
          \ <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc."
        explode: false
        in: path
        name: competition
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionDetail'
          description: ""
      summary: Competition Fixtures (League Details)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CompetitionHierarchy:
    get:
      operationId: competition_hierarchy_league_hierarchy
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Area'
                type: array
          description: ""
      summary: Competition Hierarchy (League Hierarchy)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Competitions:
    get:
      operationId: competitions_leagues
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Competition'
                type: array
          description: ""
      summary: Competitions (Leagues)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/GamesByDate/{date}:
    get:
      operationId: games_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/HistoricalMemberships:
    get:
      operationId: memberships_historical
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships (Historical)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/HistoricalMembershipsByCompetition/{competition}:
    get:
      operationId: memberships_by_competition_historical
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "An indication of a soccer competition/league. This value can\
          \ be the CompetitionId or the Competition Key. Possible values include:\
          \ <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc."
        explode: false
        in: path
        name: competition
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships by Competition (Historical)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/HistoricalMembershipsByTeam/{teamid}:
    get:
      operationId: memberships_by_team_historical
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>516</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships by Team (Historical)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/MembershipsByCompetition/{competition}:
    get:
      operationId: memberships_by_competition_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "An indication of a soccer competition/league. This value can\
          \ be the CompetitionId or the Competition Key. Possible values include:\
          \ <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc."
        explode: false
        in: path
        name: competition
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships by Competition (Active)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/MembershipsByTeam/{teamid}:
    get:
      operationId: memberships_by_team_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>516</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships by Team (Active)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Player/{playerid}:
    get:
      operationId: player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>90026231</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players:
    get:
      operationId: players
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayersByTeam/{teamid}:
    get:
      operationId: players_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>516</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/RecentlyChangedMemberships/{days}:
    get:
      operationId: memberships_recently_changed
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "The number of days since memberships were updated. For example,\
          \ if you pass <code>3</code>, you'll receive all memberships that have been\
          \ updated in the past 3 days. Valid entries are: <code>1</code>, <code>2</code>\
          \ ... <code>30</code>"
        explode: false
        in: path
        name: days
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships (Recently Changed)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Schedule/{roundid}:
    get:
      operationId: schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Round ID. RoundIDs can be found in the Competition\
          \ Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>,\
          \ <code>3</code>, etc"
        explode: false
        in: path
        name: roundid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedule
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/SeasonTeams/{seasonid}:
    get:
      operationId: season_teams
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Season ID. SeasonIDs can be found in the\
          \ Competition Hierarchy (League Hierarchy). \nExamples: <code>1</code>,\
          \ <code>2</code>, <code>3</code>, etc"
        explode: false
        in: path
        name: seasonid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SeasonTeam'
                type: array
          description: ""
      summary: Season Teams
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Standings/{roundid}:
    get:
      operationId: standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Round ID. RoundIDs can be found in the Competition\
          \ Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>,\
          \ <code>3</code>, etc"
        explode: false
        in: path
        name: roundid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: team_game_stats_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamSeasonStats/{roundid}:
    get:
      operationId: team_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Round ID. RoundIDs can be found in the Competition\
          \ Hierarchy (League Hierarchy). \nExamples: <code>1</code>, <code>2</code>,\
          \ <code>3</code>, etc"
        explode: false
        in: path
        name: roundid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Teams:
    get:
      operationId: teams
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/UpcomingScheduleByPlayer/{playerid}:
    get:
      operationId: upcoming_schedule_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>90026231</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Upcoming Schedule By Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Venues:
    get:
      operationId: venues
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Venue'
                type: array
          description: ""
      summary: Venues
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Area:
      example:
        Competitions:
        - AreaName: AreaName
          Type: Type
          Format: Format
          AreaId: 6
          Gender: Gender
          Seasons:
          - StartDate: StartDate
            Rounds:
            - RoundId: 3
              CurrentRound: true
              CurrentWeek: 5
              EndDate: EndDate
              TeamSeasons:
              - RedCards: 0.30134145536422907
                Minutes: 6.458262756685686
                Name: Name
                Passes: 6.4280627569296165
                ShotsOnGoal: 0.11859130807119977
                Fouled: 7.3718573971919445
                Touches: 6.176386745020588
                StatId: 4
                PassesCompleted: 0.8411762798681321
                Updated: Updated
                OwnGoals: 2.058822123984536
                FantasyPointsFanDuel: 1.0639121808530916
                GlobalTeamId: 9
                PenaltyKickSaves: 6.749525837406151
                PenaltiesWon: 5.747795090145878
                Assists: 3.812761638325517
                Score: 9.456612101333725
                PenaltyKickGoals: 0.7012260588964747
                YellowCards: 2.0981949483881577
                FantasyPointsDraftKings: 3.8008573585058016
                GoalkeeperWins: 2.9805393113464476
                Games: 7
                BlockedShots: 5.6644160867523485
                Goals: 9.146339979307802
                UpdatedUtc: UpdatedUtc
                Fouls: 7.726998920545485
                GoalkeeperCleanSheets: 1.7045651386993
                Offsides: 4.141296055235948
                PenaltyKickMisses: 7.3842318535314
                FantasyPointsYahoo: 9.785002165136461
                PenaltiesConceded: 2.9679475177256287
                Crosses: 4.372688051310086
                LastManTackle: 8.276461147928103
                Team: Team
                GoalkeeperSingleGoalAgainst: 8.262795412896967
                Shots: 6.918231485891953
                Season: 9
                YellowRedCards: 4.1661834558007
                FantasyPoints: 5.974942028545841
                GoalkeeperGoalsAgainst: 4.4935252719377825
                RoundId: 0
                TeamId: 1
                FantasyPointsMondogoal: 3.2841216543560217
                Interceptions: 4.010300976654761
                SeasonType: 7
                Tackles: 0.36062689002149373
                CornersWon: 1.5970080735609526
                Possession: 4.943637496515336
                TacklesWon: 7.390706075830692
                DefenderCleanSheets: 5.7911894223693885
                GoalkeeperSaves: 3.209082285545927
                OpponentScore: 8.910869026866926
              - RedCards: 0.30134145536422907
                Minutes: 6.458262756685686
                Name: Name
                Passes: 6.4280627569296165
                ShotsOnGoal: 0.11859130807119977
                Fouled: 7.3718573971919445
                Touches: 6.176386745020588
                StatId: 4
                PassesCompleted: 0.8411762798681321
                Updated: Updated
                OwnGoals: 2.058822123984536
                FantasyPointsFanDuel: 1.0639121808530916
                GlobalTeamId: 9
                PenaltyKickSaves: 6.749525837406151
                PenaltiesWon: 5.747795090145878
                Assists: 3.812761638325517
                Score: 9.456612101333725
                PenaltyKickGoals: 0.7012260588964747
                YellowCards: 2.0981949483881577
                FantasyPointsDraftKings: 3.8008573585058016
                GoalkeeperWins: 2.9805393113464476
                Games: 7
                BlockedShots: 5.6644160867523485
                Goals: 9.146339979307802
                UpdatedUtc: UpdatedUtc
                Fouls: 7.726998920545485
                GoalkeeperCleanSheets: 1.7045651386993
                Offsides: 4.141296055235948
                PenaltyKickMisses: 7.3842318535314
                FantasyPointsYahoo: 9.785002165136461
                PenaltiesConceded: 2.9679475177256287
                Crosses: 4.372688051310086
                LastManTackle: 8.276461147928103
                Team: Team
                GoalkeeperSingleGoalAgainst: 8.262795412896967
                Shots: 6.918231485891953
                Season: 9
                YellowRedCards: 4.1661834558007
                FantasyPoints: 5.974942028545841
                GoalkeeperGoalsAgainst: 4.4935252719377825
                RoundId: 0
                TeamId: 1
                FantasyPointsMondogoal: 3.2841216543560217
                Interceptions: 4.010300976654761
                SeasonType: 7
                Tackles: 0.36062689002149373
                CornersWon: 1.5970080735609526
                Possession: 4.943637496515336
                TacklesWon: 7.390706075830692
                DefenderCleanSheets: 5.7911894223693885
                GoalkeeperSaves: 3.209082285545927
                OpponentScore: 8.910869026866926
              Name: Name
              StartDate: StartDate
              Type: Type
              SeasonType: 0
              Games:
              - HomeTeamPointSpreadPayout: 8
                HomeTeamScorePeriod2: 1
                HomeTeamMoneyLine: 6
                HomeTeamScorePeriod1: 6
                Clock: 1
                DateTime: DateTime
                AwayTeamCountryCode: AwayTeamCountryCode
                AwayTeamScorePenalty: 7
                ClockExtra: 6
                OverPayout: 2
                Status: Status
                Updated: Updated
                Period: Period
                HomeTeamId: 9
                AwayTeamId: 7
                AwayTeamKey: AwayTeamKey
                Winner: Winner
                ClockDisplay: ClockDisplay
                AwayTeamFormation: AwayTeamFormation
                HomeTeamScorePenalty: 3
                HomeTeamCountryCode: HomeTeamCountryCode
                VenueType: VenueType
                AwayTeamScoreExtraTime: 4
                AwayTeamScore: 2
                UpdatedUtc: UpdatedUtc
                VenueId: 4
                AwayTeamMoneyLine: 9
                Week: 8
                AwayTeamPointSpreadPayout: 3
                GlobalGameId: 5
                Group: Group
                IsClosed: true
                AwayTeamName: AwayTeamName
                HomeTeamScoreExtraTime: 6
                DrawMoneyLine: 7
                HomeTeamKey: HomeTeamKey
                UnderPayout: 0
                AwayTeamScorePeriod2: 1
                GlobalAwayTeamId: 4
                AwayTeamScorePeriod1: 1
                Season: 7
                Attendance: 2
                RoundId: 0
                OverUnder: 6.778324963048013
                HomeTeamName: HomeTeamName
                PlayoffAggregateScore:
                  TeamA_AggregateScore: 6
                  TeamB_AggregateScore: 6
                  Updated: Updated
                  TeamB_Id: 3
                  WinningTeamId: 3
                  TeamA_Id: 5
                  Created: Created
                SeasonType: 6
                HomeTeamScore: 9
                PointSpread: 7.143538047012306
                HomeTeamFormation: HomeTeamFormation
                GlobalHomeTeamId: 9
                Day: Day
                GameId: 1
              - HomeTeamPointSpreadPayout: 8
                HomeTeamScorePeriod2: 1
                HomeTeamMoneyLine: 6
                HomeTeamScorePeriod1: 6
                Clock: 1
                DateTime: DateTime
                AwayTeamCountryCode: AwayTeamCountryCode
                AwayTeamScorePenalty: 7
                ClockExtra: 6
                OverPayout: 2
                Status: Status
                Updated: Updated
                Period: Period
                HomeTeamId: 9
                AwayTeamId: 7
                AwayTeamKey: AwayTeamKey
                Winner: Winner
                ClockDisplay: ClockDisplay
                AwayTeamFormation: AwayTeamFormation
                HomeTeamScorePenalty: 3
                HomeTeamCountryCode: HomeTeamCountryCode
                VenueType: VenueType
                AwayTeamScoreExtraTime: 4
                AwayTeamScore: 2
                UpdatedUtc: UpdatedUtc
                VenueId: 4
                AwayTeamMoneyLine: 9
                Week: 8
                AwayTeamPointSpreadPayout: 3
                GlobalGameId: 5
                Group: Group
                IsClosed: true
                AwayTeamName: AwayTeamName
                HomeTeamScoreExtraTime: 6
                DrawMoneyLine: 7
                HomeTeamKey: HomeTeamKey
                UnderPayout: 0
                AwayTeamScorePeriod2: 1
                GlobalAwayTeamId: 4
                AwayTeamScorePeriod1: 1
                Season: 7
                Attendance: 2
                RoundId: 0
                OverUnder: 6.778324963048013
                HomeTeamName: HomeTeamName
                PlayoffAggregateScore:
                  TeamA_AggregateScore: 6
                  TeamB_AggregateScore: 6
                  Updated: Updated
                  TeamB_Id: 3
                  WinningTeamId: 3
                  TeamA_Id: 5
                  Created: Created
                SeasonType: 6
                HomeTeamScore: 9
                PointSpread: 7.143538047012306
                HomeTeamFormation: HomeTeamFormation
                GlobalHomeTeamId: 9
                Day: Day
                GameId: 1
              SeasonId: 4
              Standings:
              - Order: 6
                Group: Group
                RoundId: 6
                GoalsAgainst: 2
                GlobalTeamID: 4
                ShortName: ShortName
                TeamId: 1
                Name: Name
                GoalsDifferential: 9
                Points: 4
                Losses: 2
                Scope: Scope
                StandingId: 9
                Games: 7
                GoalsScored: 0
                Draws: 0
                Wins: 1
              - Order: 6
                Group: Group
                RoundId: 6
                GoalsAgainst: 2
                GlobalTeamID: 4
                ShortName: ShortName
                TeamId: 1
                Name: Name
                GoalsDifferential: 9
                Points: 4
                Losses: 2
                Scope: Scope
                StandingId: 9
                Games: 7
                GoalsScored: 0
                Draws: 0
                Wins: 1
              PlayerSeasons:
              - RedCards: 9.183123594773994
                ShortName: ShortName
                Minutes: 4.459605034958679
                Name: Name
                Passes: 1.7325933120207193
                ShotsOnGoal: 7.606863723092579
                Fouled: 1.041444916118296
                Touches: 0.4768402382624515
                StatId: 3
                PlayerId: 3
                PassesCompleted: 8.28965939814297
                Updated: Updated
                Position: Position
                OwnGoals: 2.9409642974827896
                FantasyPointsFanDuel: 0.2025324113236393
                GlobalTeamId: 9
                PenaltyKickSaves: 1.8268702177058116
                PenaltiesWon: 4.573936264232251
                Assists: 7.740351818741173
                Score: 0.4182561061793122
                PenaltyKickGoals: 8.863729185622827
                YellowCards: 3.1497903714250555
                FantasyPointsDraftKings: 4.078845849666752
                GoalkeeperWins: 5.507386964179881
                Games: 7
                BlockedShots: 3.0205796992916243
                Goals: 4.86315908102884
                UpdatedUtc: UpdatedUtc
                Fouls: 4.678947989005849
                GoalkeeperCleanSheets: 0.8774076871421566
                Offsides: 3.901545264248647
                PenaltyKickMisses: 9.254183946267839
                Started: 3
                FantasyPointsYahoo: 4.258773108174356
                PenaltiesConceded: 6.623518433804886
                Crosses: 7.04836565559697
                LastManTackle: 8.251625748923757
                Team: Team
                GoalkeeperSingleGoalAgainst: 7.933506881737151
                Shots: 8.37823741034869
                Season: 5
                YellowRedCards: 2.380090174313445
                FantasyPoints: 3.2588565619047607
                GoalkeeperGoalsAgainst: 9.702963800023566
                RoundId: 8
                PositionCategory: PositionCategory
                TeamId: 7
                FantasyPointsMondogoal: 6.628464275087742
                Interceptions: 6.073898085781152
                SeasonType: 5
                Tackles: 9.897492629215506
                CornersWon: 3.0576100241049344
                TacklesWon: 5.877124706116695
                DefenderCleanSheets: 5.533258397034986
                GoalkeeperSaves: 0.5199002018724985
                OpponentScore: 0.43431398824148815
              - RedCards: 9.183123594773994
                ShortName: ShortName
                Minutes: 4.459605034958679
                Name: Name
                Passes: 1.7325933120207193
                ShotsOnGoal: 7.606863723092579
                Fouled: 1.041444916118296
                Touches: 0.4768402382624515
                StatId: 3
                PlayerId: 3
                PassesCompleted: 8.28965939814297
                Updated: Updated
                Position: Position
                OwnGoals: 2.9409642974827896
                FantasyPointsFanDuel: 0.2025324113236393
                GlobalTeamId: 9
                PenaltyKickSaves: 1.8268702177058116
                PenaltiesWon: 4.573936264232251
                Assists: 7.740351818741173
                Score: 0.4182561061793122
                PenaltyKickGoals: 8.863729185622827
                YellowCards: 3.1497903714250555
                FantasyPointsDraftKings: 4.078845849666752
                GoalkeeperWins: 5.507386964179881
                Games: 7
                BlockedShots: 3.0205796992916243
                Goals: 4.86315908102884
                UpdatedUtc: UpdatedUtc
                Fouls: 4.678947989005849
                GoalkeeperCleanSheets: 0.8774076871421566
                Offsides: 3.901545264248647
                PenaltyKickMisses: 9.254183946267839
                Started: 3
                FantasyPointsYahoo: 4.258773108174356
                PenaltiesConceded: 6.623518433804886
                Crosses: 7.04836565559697
                LastManTackle: 8.251625748923757
                Team: Team
                GoalkeeperSingleGoalAgainst: 7.933506881737151
                Shots: 8.37823741034869
                Season: 5
                YellowRedCards: 2.380090174313445
                FantasyPoints: 3.2588565619047607
                GoalkeeperGoalsAgainst: 9.702963800023566
                RoundId: 8
                PositionCategory: PositionCategory
                TeamId: 7
                FantasyPointsMondogoal: 6.628464275087742
                Interceptions: 6.073898085781152
                SeasonType: 5
                Tackles: 9.897492629215506
                CornersWon: 3.0576100241049344
                TacklesWon: 5.877124706116695
                DefenderCleanSheets: 5.533258397034986
                GoalkeeperSaves: 0.5199002018724985
                OpponentScore: 0.43431398824148815
              Season: 8
            - RoundId: 3
              CurrentRound: true
              CurrentWeek: 5
              EndDate: EndDate
              TeamSeasons:
              - RedCards: 0.30134145536422907
                Minutes: 6.458262756685686
                Name: Name
                Passes: 6.4280627569296165
                ShotsOnGoal: 0.11859130807119977
                Fouled: 7.3718573971919445
                Touches: 6.176386745020588
                StatId: 4
                PassesCompleted: 0.8411762798681321
                Updated: Updated
                OwnGoals: 2.058822123984536
                FantasyPointsFanDuel: 1.0639121808530916
                GlobalTeamId: 9
                PenaltyKickSaves: 6.749525837406151
                PenaltiesWon: 5.747795090145878
                Assists: 3.812761638325517
                Score: 9.456612101333725
                PenaltyKickGoals: 0.7012260588964747
                YellowCards: 2.0981949483881577
                FantasyPointsDraftKings: 3.8008573585058016
                GoalkeeperWins: 2.9805393113464476
                Games: 7
                BlockedShots: 5.6644160867523485
                Goals: 9.146339979307802
                UpdatedUtc: UpdatedUtc
                Fouls: 7.726998920545485
                GoalkeeperCleanSheets: 1.7045651386993
                Offsides: 4.141296055235948
                PenaltyKickMisses: 7.3842318535314
                FantasyPointsYahoo: 9.785002165136461
                PenaltiesConceded: 2.9679475177256287
                Crosses: 4.372688051310086
                LastManTackle: 8.276461147928103
                Team: Team
                GoalkeeperSingleGoalAgainst: 8.262795412896967
                Shots: 6.918231485891953
                Season: 9
                YellowRedCards: 4.1661834558007
                FantasyPoints: 5.974942028545841
                GoalkeeperGoalsAgainst: 4.4935252719377825
                RoundId: 0
                TeamId: 1
                FantasyPointsMondogoal: 3.2841216543560217
                Interceptions: 4.010300976654761
                SeasonType: 7
                Tackles: 0.36062689002149373
                CornersWon: 1.5970080735609526
                Possession: 4.943637496515336
                TacklesWon: 7.390706075830692
                DefenderCleanSheets: 5.7911894223693885
                GoalkeeperSaves: 3.209082285545927
                OpponentScore: 8.910869026866926
              - RedCards: 0.30134145536422907
                Minutes: 6.458262756685686
                Name: Name
                Passes: 6.4280627569296165
                ShotsOnGoal: 0.11859130807119977
                Fouled: 7.3718573971919445
                Touches: 6.176386745020588
                StatId: 4
                PassesCompleted: 0.8411762798681321
                Updated: Updated
                OwnGoals: 2.058822123984536
                FantasyPointsFanDuel: 1.0639121808530916
                GlobalTeamId: 9
                PenaltyKickSaves: 6.749525837406151
                PenaltiesWon: 5.747795090145878
                Assists: 3.812761638325517
                Score: 9.456612101333725
                PenaltyKickGoals: 0.7012260588964747
                YellowCards: 2.0981949483881577
                FantasyPointsDraftKings: 3.8008573585058016
                GoalkeeperWins: 2.9805393113464476
                Games: 7
                BlockedShots: 5.6644160867523485
                Goals: 9.146339979307802
                UpdatedUtc: UpdatedUtc
                Fouls: 7.726998920545485
                GoalkeeperCleanSheets: 1.7045651386993
                Offsides: 4.141296055235948
                PenaltyKickMisses: 7.3842318535314
                FantasyPointsYahoo: 9.785002165136461
                PenaltiesConceded: 2.9679475177256287
                Crosses: 4.372688051310086
                LastManTackle: 8.276461147928103
                Team: Team
                GoalkeeperSingleGoalAgainst: 8.262795412896967
                Shots: 6.918231485891953
                Season: 9
                YellowRedCards: 4.1661834558007
                FantasyPoints: 5.974942028545841
                GoalkeeperGoalsAgainst: 4.4935252719377825
                RoundId: 0
                TeamId: 1
                FantasyPointsMondogoal: 3.2841216543560217
                Interceptions: 4.010300976654761
                SeasonType: 7
                Tackles: 0.36062689002149373
                CornersWon: 1.5970080735609526
                Possession: 4.943637496515336
                TacklesWon: 7.390706075830692
                DefenderCleanSheets: 5.7911894223693885
                GoalkeeperSaves: 3.209082285545927
                OpponentScore: 8.910869026866926
              Name: Name
              StartDate: StartDate
              Type: Type
              SeasonType: 0
              Games:
              - HomeTeamPointSpreadPayout: 8
                HomeTeamScorePeriod2: 1
                HomeTeamMoneyLine: 6
                HomeTeamScorePeriod1: 6
                Clock: 1
                DateTime: DateTime
                AwayTeamCountryCode: AwayTeamCountryCode
                AwayTeamScorePenalty: 7
                ClockExtra: 6
                OverPayout: 2
                Status: Status
                Updated: Updated
                Period: Period
                HomeTeamId: 9
                AwayTeamId: 7
                AwayTeamKey: AwayTeamKey
                Winner: Winner
                ClockDisplay: ClockDisplay
                AwayTeamFormation: AwayTeamFormation
                HomeTeamScorePenalty: 3
                HomeTeamCountryCode: HomeTeamCountryCode
                VenueType: VenueType
                AwayTeamScoreExtraTime: 4
                AwayTeamScore: 2
                UpdatedUtc: UpdatedUtc
                VenueId: 4
                AwayTeamMoneyLine: 9
                Week: 8
                AwayTeamPointSpreadPayout: 3
                GlobalGameId: 5
                Group: Group
                IsClosed: true
                AwayTeamName: AwayTeamName
                HomeTeamScoreExtraTime: 6
                DrawMoneyLine: 7
                HomeTeamKey: HomeTeamKey
                UnderPayout: 0
                AwayTeamScorePeriod2: 1
                GlobalAwayTeamId: 4
                AwayTeamScorePeriod1: 1
                Season: 7
                Attendance: 2
                RoundId: 0
                OverUnder: 6.778324963048013
                HomeTeamName: HomeTeamName
                PlayoffAggregateScore:
                  TeamA_AggregateScore: 6
                  TeamB_AggregateScore: 6
                  Updated: Updated
                  TeamB_Id: 3
                  WinningTeamId: 3
                  TeamA_Id: 5
                  Created: Created
                SeasonType: 6
                HomeTeamScore: 9
                PointSpread: 7.143538047012306
                HomeTeamFormation: HomeTeamFormation
                GlobalHomeTeamId: 9
                Day: Day
                GameId: 1
              - HomeTeamPointSpreadPayout: 8
                HomeTeamScorePeriod2: 1
                HomeTeamMoneyLine: 6
                HomeTeamScorePeriod1: 6
                Clock: 1
                DateTime: DateTime
                AwayTeamCountryCode: AwayTeamCountryCode
                AwayTeamScorePenalty: 7
                ClockExtra: 6
                OverPayout: 2
                Status: Status
                Updated: Updated
                Period: Period
                HomeTeamId: 9
                AwayTeamId: 7
                AwayTeamKey: AwayTeamKey
                Winner: Winner
                ClockDisplay: ClockDisplay
                AwayTeamFormation: AwayTeamFormation
                HomeTeamScorePenalty: 3
                HomeTeamCountryCode: HomeTeamCountryCode
                VenueType: VenueType
                AwayTeamScoreExtraTime: 4
                AwayTeamScore: 2
                UpdatedUtc: UpdatedUtc
                VenueId: 4
                AwayTeamMoneyLine: 9
                Week: 8
                AwayTeamPointSpreadPayout: 3
                GlobalGameId: 5
                Group: Group
                IsClosed: true
                AwayTeamName: AwayTeamName
                HomeTeamScoreExtraTime: 6
                DrawMoneyLine: 7
                HomeTeamKey: HomeTeamKey
                UnderPayout: 0
                AwayTeamScorePeriod2: 1
                GlobalAwayTeamId: 4
                AwayTeamScorePeriod1: 1
                Season: 7
                Attendance: 2
                RoundId: 0
                OverUnder: 6.778324963048013
                HomeTeamName: HomeTeamName
                PlayoffAggregateScore:
                  TeamA_AggregateScore: 6
                  TeamB_AggregateScore: 6
                  Updated: Updated
                  TeamB_Id: 3
                  WinningTeamId: 3
                  TeamA_Id: 5
                  Created: Created
                SeasonType: 6
                HomeTeamScore: 9
                PointSpread: 7.143538047012306
                HomeTeamFormation: HomeTeamFormation
                GlobalHomeTeamId: 9
                Day: Day
                GameId: 1
              SeasonId: 4
              Standings:
              - Order: 6
                Group: Group
                RoundId: 6
                GoalsAgainst: 2
                GlobalTeamID: 4
                ShortName: ShortName
                TeamId: 1
                Name: Name
                GoalsDifferential: 9
                Points: 4
                Losses: 2
                Scope: Scope
                StandingId: 9
                Games: 7
                GoalsScored: 0
                Draws: 0
                Wins: 1
              - Order: 6
                Group: Group
                RoundId: 6
                GoalsAgainst: 2
                GlobalTeamID: 4
                ShortName: ShortName
                TeamId: 1
                Name: Name
                GoalsDifferential: 9
                Points: 4
                Losses: 2
                Scope: Scope
                StandingId: 9
                Games: 7
                GoalsScored: 0
                Draws: 0
                Wins: 1
              PlayerSeasons:
              - RedCards: 9.183123594773994
                ShortName: ShortName
                Minutes: 4.459605034958679
                Name: Name
                Passes: 1.7325933120207193
                ShotsOnGoal: 7.606863723092579
                Fouled: 1.041444916118296
                Touches: 0.4768402382624515
                StatId: 3
                PlayerId: 3
                PassesCompleted: 8.28965939814297
                Updated: Updated
                Position: Position
                OwnGoals: 2.9409642974827896
                FantasyPointsFanDuel: 0.2025324113236393
                GlobalTeamId: 9
                PenaltyKickSaves: 1.8268702177058116
                PenaltiesWon: 4.573936264232251
                Assists: 7.740351818741173
                Score: 0.4182561061793122
                PenaltyKickGoals: 8.863729185622827
                YellowCards: 3.1497903714250555
                FantasyPointsDraftKings: 4.078845849666752
                GoalkeeperWins: 5.507386964179881
                Games: 7
                BlockedShots: 3.0205796992916243
                Goals: 4.86315908102884
                UpdatedUtc: UpdatedUtc
                Fouls: 4.678947989005849
                GoalkeeperCleanSheets: 0.8774076871421566
                Offsides: 3.901545264248647
                PenaltyKickMisses: 9.254183946267839
                Started: 3
                FantasyPointsYahoo: 4.258773108174356
                PenaltiesConceded: 6.623518433804886
                Crosses: 7.04836565559697
                LastManTackle: 8.251625748923757
                Team: Team
                GoalkeeperSingleGoalAgainst: 7.933506881737151
                Shots: 8.37823741034869
                Season: 5
                YellowRedCards: 2.380090174313445
                FantasyPoints: 3.2588565619047607
                GoalkeeperGoalsAgainst: 9.702963800023566
                RoundId: 8
                PositionCategory: PositionCategory
                TeamId: 7
                FantasyPointsMondogoal: 6.628464275087742
                Interceptions: 6.073898085781152
                SeasonType: 5
                Tackles: 9.897492629215506
                CornersWon: 3.0576100241049344
                TacklesWon: 5.877124706116695
                DefenderCleanSheets: 5.533258397034986
                GoalkeeperSaves: 0.5199002018724985
                OpponentScore: 0.43431398824148815
              - RedCards: 9.183123594773994
                ShortName: ShortName
                Minutes: 4.459605034958679
                Name: Name
                Passes: 1.7325933120207193
                ShotsOnGoal: 7.606863723092579
                Fouled: 1.041444916118296
                Touches: 0.4768402382624515
                StatId: 3
                PlayerId: 3
                PassesCompleted: 8.28965939814297
                Updated: Updated
                Position: Position
                OwnGoals: 2.9409642974827896
                FantasyPointsFanDuel: 0.2025324113236393
                GlobalTeamId: 9
                PenaltyKickSaves: 1.8268702177058116
                PenaltiesWon: 4.573936264232251
                Assists: 7.740351818741173
                Score: 0.4182561061793122
                PenaltyKickGoals: 8.863729185622827
                YellowCards: 3.1497903714250555
                FantasyPointsDraftKings: 4.078845849666752
                GoalkeeperWins: 5.507386964179881
                Games: 7
                BlockedShots: 3.0205796992916243
                Goals: 4.86315908102884
                UpdatedUtc: UpdatedUtc
                Fouls: 4.678947989005849
                GoalkeeperCleanSheets: 0.8774076871421566
                Offsides: 3.901545264248647
                PenaltyKickMisses: 9.254183946267839
                Started: 3
                FantasyPointsYahoo: 4.258773108174356
                PenaltiesConceded: 6.623518433804886
                Crosses: 7.04836565559697
                LastManTackle: 8.251625748923757
                Team: Team
                GoalkeeperSingleGoalAgainst: 7.933506881737151
                Shots: 8.37823741034869
                Season: 5
                YellowRedCards: 2.380090174313445
                FantasyPoints: 3.2588565619047607
                GoalkeeperGoalsAgainst: 9.702963800023566
                RoundId: 8
                PositionCategory: PositionCategory
                TeamId: 7
                FantasyPointsMondogoal: 6.628464275087742
                Interceptions: 6.073898085781152
                SeasonType: 5
                Tackles: 9.897492629215506
                CornersWon: 3.0576100241049344
                TacklesWon: 5.877124706116695
                DefenderCleanSheets: 5.533258397034986
                GoalkeeperSaves: 0.5199002018724985
                OpponentScore: 0.43431398824148815
              Season: 8
            CurrentSeason: true
            CompetitionName: CompetitionName
            SeasonId: 3
            Season: 2
            CompetitionId: 5
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Rounds:
            - RoundId: 3
              CurrentRound: true
              CurrentWeek: 5
              EndDate: EndDate
              TeamSeasons:
              - RedCards: 0.30134145536422907
                Minutes: 6.458262756685686
                Name: Name
                Passes: 6.4280627569296165
                ShotsOnGoal: 0.11859130807119977
                Fouled: 7.3718573971919445
                Touches: 6.176386745020588
                StatId: 4
                PassesCompleted: 0.8411762798681321
                Updated: Updated
                OwnGoals: 2.058822123984536
                FantasyPointsFanDuel: 1.0639121808530916
                GlobalTeamId: 9
                PenaltyKickSaves: 6.749525837406151
                PenaltiesWon: 5.747795090145878
                Assists: 3.812761638325517
                Score: 9.456612101333725
                PenaltyKickGoals: 0.7012260588964747
                YellowCards: 2.0981949483881577
                FantasyPointsDraftKings: 3.8008573585058016
                GoalkeeperWins: 2.9805393113464476
                Games: 7
                BlockedShots: 5.6644160867523485
                Goals: 9.146339979307802
                UpdatedUtc: UpdatedUtc
                Fouls: 7.726998920545485
                GoalkeeperCleanSheets: 1.7045651386993
                Offsides: 4.141296055235948
                PenaltyKickMisses: 7.3842318535314
                FantasyPointsYahoo: 9.785002165136461
                PenaltiesConceded: 2.9679475177256287
                Crosses: 4.372688051310086
                LastManTackle: 8.276461147928103
                Team: Team
                GoalkeeperSingleGoalAgainst: 8.262795412896967
                Shots: 6.918231485891953
                Season: 9
                YellowRedCards: 4.1661834558007
                FantasyPoints: 5.974942028545841
                GoalkeeperGoalsAgainst: 4.4935252719377825
                RoundId: 0
                TeamId: 1
                FantasyPointsMondogoal: 3.2841216543560217
                Interceptions: 4.010300976654761
                SeasonType: 7
                Tackles: 0.36062689002149373
                CornersWon: 1.5970080735609526
                Possession: 4.943637496515336
                TacklesWon: 7.390706075830692
                DefenderCleanSheets: 5.7911894223693885
                GoalkeeperSaves: 3.209082285545927
                OpponentScore: 8.910869026866926
              - RedCards: 0.30134145536422907
                Minutes: 6.458262756685686
                Name: Name
                Passes: 6.4280627569296165
                ShotsOnGoal: 0.11859130807119977
                Fouled: 7.3718573971919445
                Touches: 6.176386745020588
                StatId: 4
                PassesCompleted: 0.8411762798681321
                Updated: Updated
                OwnGoals: 2.058822123984536
                FantasyPointsFanDuel: 1.0639121808530916
                GlobalTeamId: 9
                PenaltyKickSaves: 6.749525837406151
                PenaltiesWon: 5.747795090145878
                Assists: 3.812761638325517
                Score: 9.456612101333725
                PenaltyKickGoals: 0.7012260588964747
                YellowCards: 2.0981949483881577
                FantasyPointsDraftKings: 3.8008573585058016
                GoalkeeperWins: 2.9805393113464476
                Games: 7
                BlockedShots: 5.6644160867523485
                Goals: 9.146339979307802
                UpdatedUtc: UpdatedUtc
                Fouls: 7.726998920545485
                GoalkeeperCleanSheets: 1.7045651386993
                Offsides: 4.141296055235948
                PenaltyKickMisses: 7.3842318535314
                FantasyPointsYahoo: 9.785002165136461
                PenaltiesConceded: 2.9679475177256287
                Crosses: 4.372688051310086
                LastManTackle: 8.276461147928103
                Team: Team
                GoalkeeperSingleGoalAgainst: 8.262795412896967
                Shots: 6.918231485891953
                Season: 9
                YellowRedCards: 4.1661834558007
                FantasyPoints: 5.974942028545841
                GoalkeeperGoalsAgainst: 4.4935252719377825
                RoundId: 0
                TeamId: 1
                FantasyPointsMondogoal: 3.2841216543560217
                Interceptions: 4.010300976654761
                SeasonType: 7
                Tackles: 0.36062689002149373
                CornersWon: 1.5970080735609526
                Possession: 4.943637496515336
                TacklesWon: 7.390706075830692
                DefenderCleanSheets: 5.7911894223693885
                GoalkeeperSaves: 3.209082285545927
                OpponentScore: 8.910869026866926
              Name: Name
              StartDate: StartDate
              Type: Type
              SeasonType: 0
              Games:
              - HomeTeamPointSpreadPayout: 8
                HomeTeamScorePeriod2: 1
                HomeTeamMoneyLine: 6
                HomeTeamScorePeriod1: 6
                Clock: 1
                DateTime: DateTime
                AwayTeamCountryCode: AwayTeamCountryCode
                AwayTeamScorePenalty: 7
                ClockExtra: 6
                OverPayout: 2
                Status: Status
                Updated: Updated
                Period: Period
                HomeTeamId: 9
                AwayTeamId: 7
                AwayTeamKey: AwayTeamKey
                Winner: Winner
                ClockDisplay: ClockDisplay
                AwayTeamFormation: AwayTeamFormation
                HomeTeamScorePenalty: 3
                HomeTeamCountryCode: HomeTeamCountryCode
                VenueType: VenueType
                AwayTeamScoreExtraTime: 4
                AwayTeamScore: 2
                UpdatedUtc: UpdatedUtc
                VenueId: 4
                AwayTeamMoneyLine: 9
                Week: 8
                AwayTeamPointSpreadPayout: 3
                GlobalGameId: 5
                Group: Group
                IsClosed: true
                AwayTeamName: AwayTeamName
                HomeTeamScoreExtraTime: 6
                DrawMoneyLine: 7
                HomeTeamKey: HomeTeamKey
                UnderPayout: 0
                AwayTeamScorePeriod2: 1
                GlobalAwayTeamId: 4
                AwayTeamScorePeriod1: 1
                Season: 7
                Attendance: 2
                RoundId: 0
                OverUnder: 6.778324963048013
                HomeTeamName: HomeTeamName
                PlayoffAggregateScore:
                  TeamA_AggregateScore: 6
                  TeamB_AggregateScore: 6
                  Updated: Updated
                  TeamB_Id: 3
                  WinningTeamId: 3
                  TeamA_Id: 5
                  Created: Created
                SeasonType: 6
                HomeTeamScore: 9
                PointSpread: 7.143538047012306
                HomeTeamFormation: HomeTeamFormation
                GlobalHomeTeamId: 9
                Day: Day
                GameId: 1
              - HomeTeamPointSpreadPayout: 8
                HomeTeamScorePeriod2: 1
                HomeTeamMoneyLine: 6
                HomeTeamScorePeriod1: 6
                Clock: 1
                DateTime: DateTime
                AwayTeamCountryCode: AwayTeamCountryCode
                AwayTeamScorePenalty: 7
                ClockExtra: 6
                OverPayout: 2
                Status: Status
                Updated: Updated
                Period: Period
                HomeTeamId: 9
                AwayTeamId: 7
                AwayTeamKey: AwayTeamKey
                Winner: Winner
                ClockDisplay: ClockDisplay
                AwayTeamFormation: AwayTeamFormation
                HomeTeamScorePenalty: 3
                HomeTeamCountryCode: HomeTeamCountryCode
                VenueType: VenueType
                AwayTeamScoreExtraTime: 4
                AwayTeamScore: 2
                UpdatedUtc: UpdatedUtc
                VenueId: 4
                AwayTeamMoneyLine: 9
                Week: 8
                AwayTeamPointSpreadPayout: 3
                GlobalGameId: 5
                Group: Group
                IsClosed: true
                AwayTeamName: AwayTeamName
                HomeTeamScoreExtraTime: 6
                DrawMoneyLine: 7
                HomeTeamKey: HomeTeamKey
                UnderPayout: 0
                AwayTeamScorePeriod2: 1
                GlobalAwayTeamId: 4
                AwayTeamScorePeriod1: 1
                Season: 7
                Attendance: 2
                RoundId: 0
                OverUnder: 6.778324963048013
                HomeTeamName: HomeTeamName
                PlayoffAggregateScore:
                  TeamA_AggregateScore: 6
                  TeamB_AggregateScore: 6
                  Updated: Updated
                  TeamB_Id: 3
                  WinningTeamId: 3
                  TeamA_Id: 5
                  Created: Created
                SeasonType: 6
                HomeTeamScore: 9
                PointSpread: 7.143538047012306
                HomeTeamFormation: HomeTeamFormation
                GlobalHomeTeamId: 9
                Day: Day
                GameId: 1
              SeasonId: 4
              Standings:
              - Order: 6
                Group: Group
                RoundId: 6
                GoalsAgainst: 2
                GlobalTeamID: 4
                ShortName: ShortName
                TeamId: 1
                Name: Name
                GoalsDifferential: 9
                Points: 4
                Losses: 2
                Scope: Scope
                StandingId: 9
                Games: 7
                GoalsScored: 0
                Draws: 0
                Wins: 1
              - Order: 6
                Group: Group
                RoundId: 6
                GoalsAgainst: 2
                GlobalTeamID: 4
                ShortName: ShortName
                TeamId: 1
                Name: Name
                GoalsDifferential: 9
                Points: 4
                Losses: 2
                Scope: Scope
                StandingId: 9
                Games: 7
                GoalsScored: 0
                Draws: 0
                Wins: 1
              PlayerSeasons:
              - RedCards: 9.183123594773994
                ShortName: ShortName
                Minutes: 4.459605034958679
                Name: Name
                Passes: 1.7325933120207193
                ShotsOnGoal: 7.606863723092579
                Fouled: 1.041444916118296
                Touches: 0.4768402382624515
                StatId: 3
                PlayerId: 3
                PassesCompleted: 8.28965939814297
                Updated: Updated
                Position: Position
                OwnGoals: 2.9409642974827896
                FantasyPointsFanDuel: 0.2025324113236393
                GlobalTeamId: 9
                PenaltyKickSaves: 1.8268702177058116
                PenaltiesWon: 4.573936264232251
                Assists: 7.740351818741173
                Score: 0.4182561061793122
                PenaltyKickGoals: 8.863729185622827
                YellowCards: 3.1497903714250555
                FantasyPointsDraftKings: 4.078845849666752
                GoalkeeperWins: 5.507386964179881
                Games: 7
                BlockedShots: 3.0205796992916243
                Goals: 4.86315908102884
                UpdatedUtc: UpdatedUtc
                Fouls: 4.678947989005849
                GoalkeeperCleanSheets: 0.8774076871421566
                Offsides: 3.901545264248647
                PenaltyKickMisses: 9.254183946267839
                Started: 3
                FantasyPointsYahoo: 4.258773108174356
                PenaltiesConceded: 6.623518433804886
                Crosses: 7.04836565559697
                LastManTackle: 8.251625748923757
                Team: Team
                GoalkeeperSingleGoalAgainst: 7.933506881737151
                Shots: 8.37823741034869
                Season: 5
                YellowRedCards: 2.380090174313445
                FantasyPoints: 3.2588565619047607
                GoalkeeperGoalsAgainst: 9.702963800023566
                RoundId: 8
                PositionCategory: PositionCategory
                TeamId: 7
                FantasyPointsMondogoal: 6.628464275087742
                Interceptions: 6.073898085781152
                SeasonType: 5
                Tackles: 9.897492629215506
                CornersWon: 3.0576100241049344
                TacklesWon: 5.877124706116695
                DefenderCleanSheets: 5.533258397034986
                GoalkeeperSaves: 0.5199002018724985
                OpponentScore: 0.43431398824148815
              - RedCards: 9.183123594773994
                ShortName: ShortName
                Minutes: 4.459605034958679
                Name: Name
                Passes: 1.7325933120207193
                ShotsOnGoal: 7.606863723092579
                Fouled: 1.041444916118296
                Touches: 0.4768402382624515
                StatId: 3
                PlayerId: 3
                PassesCompleted: 8.28965939814297
                Updated: Updated
                Position: Position
                OwnGoals: 2.9409642974827896
                FantasyPointsFanDuel: 0.2025324113236393
                GlobalTeamId: 9
                PenaltyKickSaves: 1.8268702177058116
                PenaltiesWon: 4.573936264232251
                Assists: 7.740351818741173
                Score: 0.4182561061793122
                PenaltyKickGoals: 8.863729185622827
                YellowCards: 3.1497903714250555
                FantasyPointsDraftKings: 4.078845849666752
                GoalkeeperWins: 5.507386964179881
                Games: 7
                BlockedShots: 3.0205796992916243
                Goals: 4.86315908102884
                UpdatedUtc: UpdatedUtc
                Fouls: 4.678947989005849
                GoalkeeperCleanSheets: 0.8774076871421566
                Offsides: 3.901545264248647
                PenaltyKickMisses: 9.254183946267839
                Started: 3
                FantasyPointsYahoo: 4.258773108174356
                PenaltiesConceded: 6.623518433804886
                Crosses: 7.04836565559697
                LastManTackle: 8.251625748923757
                Team: Team
                GoalkeeperSingleGoalAgainst: 7.933506881737151
                Shots: 8.37823741034869
                Season: 5
                YellowRedCards: 2.380090174313445
                FantasyPoints: 3.2588565619047607
                GoalkeeperGoalsAgainst: 9.702963800023566
                RoundId: 8
                PositionCategory: PositionCategory
                TeamId: 7
                FantasyPointsMondogoal: 6.628464275087742
                Interceptions: 6.073898085781152
                SeasonType: 5
                Tackles: 9.897492629215506
                CornersWon: 3.0576100241049344
                TacklesWon: 5.877124706116695
                DefenderCleanSheets: 5.533258397034986
                GoalkeeperSaves: 0.5199002018724985
                OpponentScore: 0.43431398824148815
              Season: 8
            - RoundId: 3
              CurrentRound: true
              CurrentWeek: 5
              EndDate: EndDate
              TeamSeasons:
              - RedCards: 0.30134145536422907
                Minutes: 6.458262756685686
                Name: Name
                Passes: 6.4280627569296165
                ShotsOnGoal: 0.11859130807119977
                Fouled: 7.3718573971919445
                Touches: 6.176386745020588
                StatId: 4
                PassesCompleted: 0.8411762798681321
                Updated: Updated
                OwnGoals: 2.058822123984536
                FantasyPointsFanDuel: 1.0639121808530916
                GlobalTeamId: 9
                PenaltyKickSaves: 6.749525837406151
                PenaltiesWon: 5.747795090145878
                Assists: 3.812761638325517
                Score: 9.456612101333725
                PenaltyKickGoals: 0.7012260588964747
                YellowCards: 2.0981949483881577
                FantasyPointsDraftKings: 3.8008573585058016
                GoalkeeperWins: 2.9805393113464476
                Games: 7
                BlockedShots: 5.6644160867523485
                Goals: 9.146339979307802
                UpdatedUtc: UpdatedUtc
                Fouls: 7.726998920545485
                GoalkeeperCleanSheets: 1.7045651386993
                Offsides: 4.141296055235948
                PenaltyKickMisses: 7.3842318535314
                FantasyPointsYahoo: 9.785002165136461
                PenaltiesConceded: 2.9679475177256287
                Crosses: 4.372688051310086
                LastManTackle: 8.276461147928103
                Team: Team
                GoalkeeperSingleGoalAgainst: 8.262795412896967
                Shots: 6.918231485891953
                Season: 9
                YellowRedCards: 4.1661834558007
                FantasyPoints: 5.974942028545841
                GoalkeeperGoalsAgainst: 4.4935252719377825
                RoundId: 0
                TeamId: 1
                FantasyPointsMondogoal: 3.2841216543560217
                Interceptions: 4.010300976654761
                SeasonType: 7
                Tackles: 0.36062689002149373
                CornersWon: 1.5970080735609526
                Possession: 4.943637496515336
                TacklesWon: 7.390706075830692
                DefenderCleanSheets: 5.7911894223693885
                GoalkeeperSaves: 3.209082285545927
                OpponentScore: 8.910869026866926
              - RedCards: 0.30134145536422907
                Minutes: 6.458262756685686
                Name: Name
                Passes: 6.4280627569296165
                ShotsOnGoal: 0.11859130807119977
                Fouled: 7.3718573971919445
                Touches: 6.176386745020588
                StatId: 4
                PassesCompleted: 0.8411762798681321
                Updated: Updated
                OwnGoals: 2.058822123984536
                FantasyPointsFanDuel: 1.0639121808530916
                GlobalTeamId: 9
                PenaltyKickSaves: 6.749525837406151
                PenaltiesWon: 5.747795090145878
                Assists: 3.812761638325517
                Score: 9.456612101333725
                PenaltyKickGoals: 0.7012260588964747
                YellowCards: 2.0981949483881577
                FantasyPointsDraftKings: 3.8008573585058016
                GoalkeeperWins: 2.9805393113464476
                Games: 7
                BlockedShots: 5.6644160867523485
                Goals: 9.146339979307802
                UpdatedUtc: UpdatedUtc
                Fouls: 7.726998920545485
                GoalkeeperCleanSheets: 1.7045651386993
                Offsides: 4.141296055235948
                PenaltyKickMisses: 7.3842318535314
                FantasyPointsYahoo: 9.785002165136461
                PenaltiesConceded: 2.9679475177256287
                Crosses: 4.372688051310086
                LastManTackle: 8.276461147928103
                Team: Team
                GoalkeeperSingleGoalAgainst: 8.262795412896967
                Shots: 6.918231485891953
                Season: 9
                YellowRedCards: 4.1661834558007
                FantasyPoints: 5.974942028545841
                GoalkeeperGoalsAgainst: 4.4935252719377825
                RoundId: 0
                TeamId: 1
                FantasyPointsMondogoal: 3.2841216543560217
                Interceptions: 4.010300976654761
                SeasonType: 7
                Tackles: 0.36062689002149373
                CornersWon: 1.5970080735609526
                Possession: 4.943637496515336
                TacklesWon: 7.390706075830692
                DefenderCleanSheets: 5.7911894223693885
                GoalkeeperSaves: 3.209082285545927
                OpponentScore: 8.910869026866926
              Name: Name
              StartDate: StartDate
              Type: Type
              SeasonType: 0
              Games:
              - HomeTeamPointSpreadPayout: 8
                HomeTeamScorePeriod2: 1
                HomeTeamMoneyLine: 6
                HomeTeamScorePeriod1: 6
                Clock: 1
                DateTime: DateTime
                AwayTeamCountryCode: AwayTeamCountryCode
                AwayTeamScorePenalty: 7
                ClockExtra: 6
                OverPayout: 2
                Status: Status
                Updated: Updated
                Period: Period
                HomeTeamId: 9
                AwayTeamId: 7
                AwayTeamKey: AwayTeamKey
                Winner: Winner
                ClockDisplay: ClockDisplay
                AwayTeamFormation: AwayTeamFormation
                HomeTeamScorePenalty: 3
                HomeTeamCountryCode: HomeTeamCountryCode
                VenueType: VenueType
                AwayTeamScoreExtraTime: 4
                AwayTeamScore: 2
                UpdatedUtc: UpdatedUtc
                VenueId: 4
                AwayTeamMoneyLine: 9
                Week: 8
                AwayTeamPointSpreadPayout: 3
                GlobalGameId: 5
                Group: Group
                IsClosed: true
                AwayTeamName: AwayTeamName
                HomeTeamScoreExtraTime: 6
                DrawMoneyLine: 7
                HomeTeamKey: HomeTeamKey
                UnderPayout: 0
                AwayTeamScorePeriod2: 1
                GlobalAwayTeamId: 4
                AwayTeamScorePeriod1: 1
                Season: 7
                Attendance: 2
                RoundId: 0
                OverUnder: 6.778324963048013
                HomeTeamName: HomeTeamName
                PlayoffAggregateScore:
                  TeamA_AggregateScore: 6
                  TeamB_AggregateScore: 6
                  Updated: Updated
                  TeamB_Id: 3
                  WinningTeamId: 3
                  TeamA_Id: 5
                  Created: Created
                SeasonType: 6
                HomeTeamScore: 9
                PointSpread: 7.143538047012306
                HomeTeamFormation: HomeTeamFormation
                GlobalHomeTeamId: 9
                Day: Day
                GameId: 1
              - HomeTeamPointSpreadPayout: 8
                HomeTeamScorePeriod2: 1
                HomeTeamMoneyLine: 6
                HomeTeamScorePeriod1: 6
                Clock: 1
                DateTime: DateTime
                AwayTeamCountryCode: AwayTeamCountryCode
                AwayTeamScorePenalty: 7
                ClockExtra: 6
                OverPayout: 2
                Status: Status
                Updated: Updated
                Period: Period
                HomeTeamId: 9
                AwayTeamId: 7
                AwayTeamKey: AwayTeamKey
                Winner: Winner
                ClockDisplay: ClockDisplay
                AwayTeamFormation: AwayTeamFormation
                HomeTeamScorePenalty: 3
                HomeTeamCountryCode: HomeTeamCountryCode
                VenueType: VenueType
                AwayTeamScoreExtraTime: 4
                AwayTeamScore: 2
                UpdatedUtc: UpdatedUtc
                VenueId: 4
                AwayTeamMoneyLine: 9
                Week: 8
                AwayTeamPointSpreadPayout: 3
                GlobalGameId: 5
                Group: Group
                IsClosed: true
                AwayTeamName: AwayTeamName
                HomeTeamScoreExtraTime: 6
                DrawMoneyLine: 7
                HomeTeamKey: HomeTeamKey
                UnderPayout: 0
                AwayTeamScorePeriod2: 1
                GlobalAwayTeamId: 4
                AwayTeamScorePeriod1: 1
                Season: 7
                Attendance: 2
                RoundId: 0
                OverUnder: 6.778324963048013
                HomeTeamName: HomeTeamName
                PlayoffAggregateScore:
                  TeamA_AggregateScore: 6
                  TeamB_AggregateScore: 6
                  Updated: Updated
                  TeamB_Id: 3
                  WinningTeamId: 3
                  TeamA_Id: 5
                  Created: Created
                SeasonType: 6
                HomeTeamScore: 9
                PointSpread: 7.143538047012306
                HomeTeamFormation: HomeTeamFormation
                GlobalHomeTeamId: 9
                Day: Day
                GameId: 1
              SeasonId: 4
              Standings:
              - Order: 6
                Group: Group
                RoundId: 6
                GoalsAgainst: 2
                GlobalTeamID: 4
                ShortName: ShortName
                TeamId: 1
                Name: Name
                GoalsDifferential: 9
                Points: 4
                Losses: 2
                Scope: Scope
                StandingId: 9
                Games: 7
                GoalsScored: 0
                Draws: 0
                Wins: 1
              - Order: 6
                Group: Group
                RoundId: 6
                GoalsAgainst: 2
                GlobalTeamID: 4
                ShortName: ShortName
                TeamId: 1
                Name: Name
                GoalsDifferential: 9
                Points: 4
                Losses: 2
                Scope: Scope
                StandingId: 9
                Games: 7
                GoalsScored: 0
                Draws: 0
                Wins: 1
              PlayerSeasons:
              - RedCards: 9.183123594773994
                ShortName: ShortName
                Minutes: 4.459605034958679
                Name: Name
                Passes: 1.7325933120207193
                ShotsOnGoal: 7.606863723092579
                Fouled: 1.041444916118296
                Touches: 0.4768402382624515
                StatId: 3
                PlayerId: 3
                PassesCompleted: 8.28965939814297
                Updated: Updated
                Position: Position
                OwnGoals: 2.9409642974827896
                FantasyPointsFanDuel: 0.2025324113236393
                GlobalTeamId: 9
                PenaltyKickSaves: 1.8268702177058116
                PenaltiesWon: 4.573936264232251
                Assists: 7.740351818741173
                Score: 0.4182561061793122
                PenaltyKickGoals: 8.863729185622827
                YellowCards: 3.1497903714250555
                FantasyPointsDraftKings: 4.078845849666752
                GoalkeeperWins: 5.507386964179881
                Games: 7
                BlockedShots: 3.0205796992916243
                Goals: 4.86315908102884
                UpdatedUtc: UpdatedUtc
                Fouls: 4.678947989005849
                GoalkeeperCleanSheets: 0.8774076871421566
                Offsides: 3.901545264248647
                PenaltyKickMisses: 9.254183946267839
                Started: 3
                FantasyPointsYahoo: 4.258773108174356
                PenaltiesConceded: 6.623518433804886
                Crosses: 7.04836565559697
                LastManTackle: 8.251625748923757
                Team: Team
                GoalkeeperSingleGoalAgainst: 7.933506881737151
                Shots: 8.37823741034869
                Season: 5
                YellowRedCards: 2.380090174313445
                FantasyPoints: 3.2588565619047607
                GoalkeeperGoalsAgainst: 9.702963800023566
                RoundId: 8
                PositionCategory: PositionCategory
                TeamId: 7
                FantasyPointsMondogoal: 6.628464275087742
                Interceptions: 6.073898085781152
                SeasonType: 5
                Tackles: 9.897492629215506
                CornersWon: 3.0576100241049344
                TacklesWon: 5.877124706116695
                DefenderCleanSheets: 5.533258397034986
                GoalkeeperSaves: 0.5199002018724985
                OpponentScore: 0.43431398824148815
              - RedCards: 9.183123594773994
                ShortName: ShortName
                Minutes: 4.459605034958679
                Name: Name
                Passes: 1.7325933120207193
                ShotsOnGoal: 7.606863723092579
                Fouled: 1.041444916118296
                Touches: 0.4768402382624515
                StatId: 3
                PlayerId: 3
                PassesCompleted: 8.28965939814297
                Updated: Updated
                Position: Position
                OwnGoals: 2.9409642974827896
                FantasyPointsFanDuel: 0.2025324113236393
                GlobalTeamId: 9
                PenaltyKickSaves: 1.8268702177058116
                PenaltiesWon: 4.573936264232251
                Assists: 7.740351818741173
                Score: 0.4182561061793122
                PenaltyKickGoals: 8.863729185622827
                YellowCards: 3.1497903714250555
                FantasyPointsDraftKings: 4.078845849666752
                GoalkeeperWins: 5.507386964179881
                Games: 7
                BlockedShots: 3.0205796992916243
                Goals: 4.86315908102884
                UpdatedUtc: UpdatedUtc
                Fouls: 4.678947989005849
                GoalkeeperCleanSheets: 0.8774076871421566
                Offsides: 3.901545264248647
                PenaltyKickMisses: 9.254183946267839
                Started: 3
                FantasyPointsYahoo: 4.258773108174356
                PenaltiesConceded: 6.623518433804886
                Crosses: 7.04836565559697
                LastManTackle: 8.251625748923757
                Team: Team
                GoalkeeperSingleGoalAgainst: 7.933506881737151
                Shots: 8.37823741034869
                Season: 5
                YellowRedCards: 2.380090174313445
                FantasyPoints: 3.2588565619047607
                GoalkeeperGoalsAgainst: 9.702963800023566
                RoundId: 8
                PositionCategory: PositionCategory
                TeamId: 7
                FantasyPointsMondogoal: 6.628464275087742
                Interceptions: 6.073898085781152
                SeasonType: 5
                Tackles: 9.897492629215506
                CornersWon: 3.0576100241049344
                TacklesWon: 5.877124706116695
                DefenderCleanSheets: 5.533258397034986
                GoalkeeperSaves: 0.5199002018724985
                OpponentScore: 0.43431398824148815
              Season: 8
            CurrentSeason: true
            CompetitionName: CompetitionName
            SeasonId: 3
            Season: 2
            CompetitionId: 5
            EndDate: EndDate
            Name: Name
          CompetitionId: 1
          Key: Key
          Name: Name
        - AreaName: AreaName
          Type: Type
          Format: Format
          AreaId: 6
          Gender: Gender
          Seasons:
          - StartDate: StartDate
            Rounds:
            - RoundId: 3
              CurrentRound: true
              CurrentWeek: 5
              EndDate: EndDate
              TeamSeasons:
              - RedCards: 0.30134145536422907
                Minutes: 6.458262756685686
                Name: Name
                Passes: 6.4280627569296165
                ShotsOnGoal: 0.11859130807119977
                Fouled: 7.3718573971919445
                Touches: 6.176386745020588
                StatId: 4
                PassesCompleted: 0.8411762798681321
                Updated: Updated
                OwnGoals: 2.058822123984536
                FantasyPointsFanDuel: 1.0639121808530916
                GlobalTeamId: 9
                PenaltyKickSaves: 6.749525837406151
                PenaltiesWon: 5.747795090145878
                Assists: 3.812761638325517
                Score: 9.456612101333725
                PenaltyKickGoals: 0.7012260588964747
                YellowCards: 2.0981949483881577
                FantasyPointsDraftKings: 3.8008573585058016
                GoalkeeperWins: 2.9805393113464476
                Games: 7
                BlockedShots: 5.6644160867523485
                Goals: 9.146339979307802
                UpdatedUtc: UpdatedUtc
                Fouls: 7.726998920545485
                GoalkeeperCleanSheets: 1.7045651386993
                Offsides: 4.141296055235948
                PenaltyKickMisses: 7.3842318535314
                FantasyPointsYahoo: 9.785002165136461
                PenaltiesConceded: 2.9679475177256287
                Crosses: 4.372688051310086
                LastManTackle: 8.276461147928103
                Team: Team
                GoalkeeperSingleGoalAgainst: 8.262795412896967
                Shots: 6.918231485891953
                Season: 9
                YellowRedCards: 4.1661834558007
                FantasyPoints: 5.974942028545841
                GoalkeeperGoalsAgainst: 4.4935252719377825
                RoundId: 0
                TeamId: 1
                FantasyPointsMondogoal: 3.2841216543560217
                Interceptions: 4.010300976654761
                SeasonType: 7
                Tackles: 0.36062689002149373
                CornersWon: 1.5970080735609526
                Possession: 4.943637496515336
                TacklesWon: 7.390706075830692
                DefenderCleanSheets: 5.7911894223693885
                GoalkeeperSaves: 3.209082285545927
                OpponentScore: 8.910869026866926
              - RedCards: 0.30134145536422907
                Minutes: 6.458262756685686
                Name: Name
                Passes: 6.4280627569296165
                ShotsOnGoal: 0.11859130807119977
                Fouled: 7.3718573971919445
                Touches: 6.176386745020588
                StatId: 4
                PassesCompleted: 0.8411762798681321
                Updated: Updated
                OwnGoals: 2.058822123984536
                FantasyPointsFanDuel: 1.0639121808530916
                GlobalTeamId: 9
                PenaltyKickSaves: 6.749525837406151
                PenaltiesWon: 5.747795090145878
                Assists: 3.812761638325517
                Score: 9.456612101333725
                PenaltyKickGoals: 0.7012260588964747
                YellowCards: 2.0981949483881577
                FantasyPointsDraftKings: 3.8008573585058016
                GoalkeeperWins: 2.9805393113464476
                Games: 7
                BlockedShots: 5.6644160867523485
                Goals: 9.146339979307802
                UpdatedUtc: UpdatedUtc
                Fouls: 7.726998920545485
                GoalkeeperCleanSheets: 1.7045651386993
                Offsides: 4.141296055235948
                PenaltyKickMisses: 7.3842318535314
                FantasyPointsYahoo: 9.785002165136461
                PenaltiesConceded: 2.9679475177256287
                Crosses: 4.372688051310086
                LastManTackle: 8.276461147928103
                Team: Team
                GoalkeeperSingleGoalAgainst: 8.262795412896967
                Shots: 6.918231485891953
                Season: 9
                YellowRedCards: 4.1661834558007
                FantasyPoints: 5.974942028545841
                GoalkeeperGoalsAgainst: 4.4935252719377825
                RoundId: 0
                TeamId: 1
                FantasyPointsMondogoal: 3.2841216543560217
                Interceptions: 4.010300976654761
                SeasonType: 7
                Tackles: 0.36062689002149373
                CornersWon: 1.5970080735609526
                Possession: 4.943637496515336
                TacklesWon: 7.390706075830692
                DefenderCleanSheets: 5.7911894223693885
                GoalkeeperSaves: 3.209082285545927
                OpponentScore: 8.910869026866926
              Name: Name
              StartDate: StartDate
              Type: Type
              SeasonType: 0
              Games:
              - HomeTeamPointSpreadPayout: 8
                HomeTeamScorePeriod2: 1
                HomeTeamMoneyLine: 6
                HomeTeamScorePeriod1: 6
                Clock: 1
                DateTime: DateTime
                AwayTeamCountryCode: AwayTeamCountryCode
                AwayTeamScorePenalty: 7
                ClockExtra: 6
                OverPayout: 2
                Status: Status
                Updated: Updated
                Period: Period
                HomeTeamId: 9
                AwayTeamId: 7
                AwayTeamKey: AwayTeamKey
                Winner: Winner
                ClockDisplay: ClockDisplay
                AwayTeamFormation: AwayTeamFormation
                HomeTeamScorePenalty: 3
                HomeTeamCountryCode: HomeTeamCountryCode
                VenueType: VenueType
                AwayTeamScoreExtraTime: 4
                AwayTeamScore: 2
                UpdatedUtc: UpdatedUtc
                VenueId: 4
                AwayTeamMoneyLine: 9
                Week: 8
                AwayTeamPointSpreadPayout: 3
                GlobalGameId: 5
                Group: Group
                IsClosed: true
                AwayTeamName: AwayTeamName
                HomeTeamScoreExtraTime: 6
                DrawMoneyLine: 7
                HomeTeamKey: HomeTeamKey
                UnderPayout: 0
                AwayTeamScorePeriod2: 1
                GlobalAwayTeamId: 4
                AwayTeamScorePeriod1: 1
                Season: 7
                Attendance: 2
                RoundId: 0
                OverUnder: 6.778324963048013
                HomeTeamName: HomeTeamName
                PlayoffAggregateScore:
                  TeamA_AggregateScore: 6
                  TeamB_AggregateScore: 6
                  Updated: Updated
                  TeamB_Id: 3
                  WinningTeamId: 3
                  TeamA_Id: 5
                  Created: Created
                SeasonType: 6
                HomeTeamScore: 9
                PointSpread: 7.143538047012306
                HomeTeamFormation: HomeTeamFormation
                GlobalHomeTeamId: 9
                Day: Day
                GameId: 1
              - HomeTeamPointSpreadPayout: 8
                HomeTeamScorePeriod2: 1
                HomeTeamMoneyLine: 6
                HomeTeamScorePeriod1: 6
                Clock: 1
                DateTime: DateTime
                AwayTeamCountryCode: AwayTeamCountryCode
                AwayTeamScorePenalty: 7
                ClockExtra: 6
                OverPayout: 2
                Status: Status
                Updated: Updated
                Period: Period
                HomeTeamId: 9
                AwayTeamId: 7
                AwayTeamKey: AwayTeamKey
                Winner: Winner
                ClockDisplay: ClockDisplay
                AwayTeamFormation: AwayTeamFormation
                HomeTeamScorePenalty: 3
                HomeTeamCountryCode: HomeTeamCountryCode
                VenueType: VenueType
                AwayTeamScoreExtraTime: 4
                AwayTeamScore: 2
                UpdatedUtc: UpdatedUtc
                VenueId: 4
                AwayTeamMoneyLine: 9
                Week: 8
                AwayTeamPointSpreadPayout: 3
                GlobalGameId: 5
                Group: Group
                IsClosed: true
                AwayTeamName: AwayTeamName
                HomeTeamScoreExtraTime: 6
                DrawMoneyLine: 7
                HomeTeamKey: HomeTeamKey
                UnderPayout: 0
                AwayTeamScorePeriod2: 1
                GlobalAwayTeamId: 4
                AwayTeamScorePeriod1: 1
                Season: 7
                Attendance: 2
                RoundId: 0
                OverUnder: 6.778324963048013
                HomeTeamName: HomeTeamName
                PlayoffAggregateScore:
                  TeamA_AggregateScore: 6
                  TeamB_AggregateScore: 6
                  Updated: Updated
                  TeamB_Id: 3
                  WinningTeamId: 3
                  TeamA_Id: 5
                  Created: Created
                SeasonType: 6
                HomeTeamScore: 9
                PointSpread: 7.143538047012306
                HomeTeamFormation: HomeTeamFormation
                GlobalHomeTeamId: 9
                Day: Day
                GameId: 1
              SeasonId: 4
              Standings:
              - Order: 6
                Group: Group
                RoundId: 6
                GoalsAgainst: 2
                GlobalTeamID: 4
                ShortName: ShortName
                TeamId: 1
                Name: Name
                GoalsDifferential: 9
                Points: 4
                Losses: 2
                Scope: Scope
                StandingId: 9
                Games: 7
                GoalsScored: 0
                Draws: 0
                Wins: 1
              - Order: 6
                Group: Group
                RoundId: 6
                GoalsAgainst: 2
                GlobalTeamID: 4
                ShortName: ShortName
                TeamId: 1
                Name: Name
                GoalsDifferential: 9
                Points: 4
                Losses: 2
                Scope: Scope
                StandingId: 9
                Games: 7
                GoalsScored: 0
                Draws: 0
                Wins: 1
              PlayerSeasons:
              - RedCards: 9.183123594773994
                ShortName: ShortName
                Minutes: 4.459605034958679
                Name: Name
                Passes: 1.7325933120207193
                ShotsOnGoal: 7.606863723092579
                Fouled: 1.041444916118296
                Touches: 0.4768402382624515
                StatId: 3
                PlayerId: 3
                PassesCompleted: 8.28965939814297
                Updated: Updated
                Position: Position
                OwnGoals: 2.9409642974827896
                FantasyPointsFanDuel: 0.2025324113236393
                GlobalTeamId: 9
                PenaltyKickSaves: 1.8268702177058116
                PenaltiesWon: 4.573936264232251
                Assists: 7.740351818741173
                Score: 0.4182561061793122
                PenaltyKickGoals: 8.863729185622827
                YellowCards: 3.1497903714250555
                FantasyPointsDraftKings: 4.078845849666752
                GoalkeeperWins: 5.507386964179881
                Games: 7
                BlockedShots: 3.0205796992916243
                Goals: 4.86315908102884
                UpdatedUtc: UpdatedUtc
                Fouls: 4.678947989005849
                GoalkeeperCleanSheets: 0.8774076871421566
                Offsides: 3.901545264248647
                PenaltyKickMisses: 9.254183946267839
                Started: 3
                FantasyPointsYahoo: 4.258773108174356
                PenaltiesConceded: 6.623518433804886
                Crosses: 7.04836565559697
                LastManTackle: 8.251625748923757
                Team: Team
                GoalkeeperSingleGoalAgainst: 7.933506881737151
                Shots: 8.37823741034869
                Season: 5
                YellowRedCards: 2.380090174313445
                FantasyPoints: 3.2588565619047607
                GoalkeeperGoalsAgainst: 9.702963800023566
                RoundId: 8
                PositionCategory: PositionCategory
                TeamId: 7
                FantasyPointsMondogoal: 6.628464275087742
                Interceptions: 6.073898085781152
                SeasonType: 5
                Tackles: 9.897492629215506
                CornersWon: 3.0576100241049344
                TacklesWon: 5.877124706116695
                DefenderCleanSheets: 5.533258397034986
                GoalkeeperSaves: 0.5199002018724985
                OpponentScore: 0.43431398824148815
              - RedCards: 9.183123594773994
                ShortName: ShortName
                Minutes: 4.459605034958679
                Name: Name
                Passes: 1.7325933120207193
                ShotsOnGoal: 7.606863723092579
                Fouled: 1.041444916118296
                Touches: 0.4768402382624515
                StatId: 3
                PlayerId: 3
                PassesCompleted: 8.28965939814297
                Updated: Updated
                Position: Position
                OwnGoals: 2.9409642974827896
                FantasyPointsFanDuel: 0.2025324113236393
                GlobalTeamId: 9
                PenaltyKickSaves: 1.8268702177058116
                PenaltiesWon: 4.573936264232251
                Assists: 7.740351818741173
                Score: 0.4182561061793122
                PenaltyKickGoals: 8.863729185622827
                YellowCards: 3.1497903714250555
[...]
