openapi: 3.0.1
info:
  contact:
    email: api@pocketsmith.com
    name: API Support
  description: The PocketSmith API
  title: PocketSmith
  version: "2.0"
  x-apisguru-categories:
  - financial
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/pocketsmith/api/master/openapi.json
    version: "3.0"
  x-providerName: pocketsmith.com
servers:
- description: Production
  url: https://api.pocketsmith.com/v2
security:
- developerKey: []
paths:
  /accounts/{id}:
    delete:
      description: "Deletes an account and all its data by ID, optionally merge scenarios\
        \ into another account."
      parameters:
      - description: The unique identifier of the account.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Delete account
      tags:
      - Accounts
      x-accepts:
      - application/json
    get:
      description: Gets an account by its ID.
      parameters:
      - description: The unique identifier of the account.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get account
      tags:
      - Accounts
      x-accepts:
      - application/json
    put:
      description: Updates and returns an account by its ID.
      parameters:
      - description: The unique identifier of the account.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_accounts__id__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Update account
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts:
      - application/json
  /accounts/{id}/transactions:
    get:
      description: Lists transactions belonging to an account by its ID.
      parameters:
      - description: The unique identifier of the account.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Limit to transactions on or after this date. Required if end_date\
          \ is provided. If not provided, defaults to the furtherest date allowed\
          \ by the user's subscription."
        example: 2016-11-01
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: "Limit to transactions on or before this date. Required if start_date\
          \ is provided. If not provided, defaults to today's date."
        example: 2016-11-30
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Limit to transactions updated since an ISO 8601 timestamp.
        example: 2020-10-14T09:20:33+13:00
        explode: true
        in: query
        name: updated_since
        required: false
        schema:
          type: string
        style: form
      - description: Limit to uncategorised transactions.
        example: 1
        explode: true
        in: query
        name: uncategorised
        required: false
        schema:
          type: integer
        style: form
      - description: Limit to transactions of this type.
        example: debit
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - debit
          - credit
          type: string
        style: form
      - description: Limit to transactions that need to be reviewed.
        example: 1
        explode: true
        in: query
        name: needs_review
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit to transactions matching a keyword search string. The\
          \ provided string is matched against the transaction amount, account name,\
          \ payee, category title, note, labels, and the date in ISO 8601 format."
        example: Paypal
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Choose a particular page of the results.
        example: 3
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Transaction'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List transactions in account
      tags:
      - Transactions
      x-accepts:
      - application/json
  /attachments/{id}:
    delete:
      description: Deletes a particular attachment by its ID.
      parameters:
      - description: The unique identifier of the attachment.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Delete attachment
      tags:
      - Attachments
      x-accepts:
      - application/json
    get:
      description: Gets a particular attachment by its ID.
      parameters:
      - description: The unique identifier of the attachment.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get attachment
      tags:
      - Attachments
      x-accepts:
      - application/json
    put:
      description: Updates the title of the attachment.
      parameters:
      - description: The unique identifier of the attachment.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_attachments__id__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Update attachment
      tags:
      - Attachments
      x-content-type: application/json
      x-accepts:
      - application/json
  /categories/{id}:
    delete:
      description: "Deletes a particular category by its ID. This will delete all\
        \ budgets within the category, and uncategorize all transactions assigned\
        \ to the category."
      parameters:
      - description: The unique identifier of the category.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Delete category
      tags:
      - Categories
      x-accepts:
      - application/json
    get:
      description: Gets a particular category by its ID.
      parameters:
      - description: The unique identifier of the category.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get category
      tags:
      - Categories
      x-accepts:
      - application/json
    put:
      description: Updates a category by its ID.
      parameters:
      - description: The unique identifier of the category.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_categories__id__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Update category
      tags:
      - Categories
      x-content-type: application/json
      x-accepts:
      - application/json
  /categories/{id}/category_rules:
    post:
      description: Creates a rule to allocate a category to transactions.
      parameters:
      - description: The unique identifier of the category.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_categories__id__category_rules_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryRule'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Create category rule in category
      tags:
      - Category Rules
      x-content-type: application/json
      x-accepts:
      - application/json
  /categories/{id}/transactions:
    get:
      description: Lists transactions belonging to one or more categories by their
        IDs.
      parameters:
      - description: A comma-separated list of category IDs.
        example: "42,43"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Limit to transactions on or after this date. Required if end_date\
          \ is provided. If not provided, defaults to the furtherest date allowed\
          \ by the user's subscription."
        example: 2016-11-01
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: "Limit to transactions on or before this date. Required if start_date\
          \ is provided. If not provided, defaults to today's date."
        example: 2016-11-30
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Limit to transactions updated since an ISO 8601 timestamp.
        example: 2020-10-14T09:20:33+13:00
        explode: true
        in: query
        name: updated_since
        required: false
        schema:
          type: string
        style: form
      - description: Limit to uncategorised transactions.
        example: 1
        explode: true
        in: query
        name: uncategorised
        required: false
        schema:
          type: integer
        style: form
      - description: Limit to transactions of this type.
        example: debit
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - debit
          - credit
          type: string
        style: form
      - description: Limit to transactions that need to be reviewed.
        example: 1
        explode: true
        in: query
        name: needs_review
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit to transactions matching a keyword search string. The\
          \ provided string is matched against the transaction amount, account name,\
          \ payee, category title, note, labels, and the date in ISO 8601 format."
        example: Paypal
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Choose a particular page of the results.
        example: 3
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Transaction'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List transactions in categories
      tags:
      - Transactions
      x-accepts:
      - application/json
  /currencies:
    get:
      description: Lists currencies supported by PocketSmith.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Currency'
                type: array
          description: Success
      summary: List currencies
      tags:
      - Currencies
      x-accepts:
      - application/json
  /currencies/{id}:
    get:
      description: Gets a particular currency by its ID.
      parameters:
      - description: The unique identifier of the currency.
        example: nzd
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get currency
      tags:
      - Currencies
      x-accepts:
      - application/json
  /events/{id}:
    delete:
      description: Deletes an event by its ID.
      parameters:
      - description: The unique identifier of the event.
        example: 42-1601942400
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Whether the delete applies only to this event, to all events\
          \ within the series from this event or to all events within the series."
        explode: true
        in: query
        name: behaviour
        required: true
        schema:
          enum:
          - one
          - forward
          - all
          type: string
        style: form
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Conflict
      summary: Delete event
      tags:
      - Events
      x-accepts:
      - application/json
    get:
      description: Gets a particular event by its ID.
      parameters:
      - description: The unique identifier of the event.
        example: 42-1601942400
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get event
      tags:
      - Events
      x-accepts:
      - application/json
    put:
      description: Updates an event by its ID.
      parameters:
      - description: The unique identifier of the event.
        example: 42-1601942400
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_events__id__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Update event
      tags:
      - Events
      x-content-type: application/json
      x-accepts:
      - application/json
  /institutions/{id}:
    delete:
      description: "Deletes an institution and all data within. Alternatively, another\
        \ institution can be provided to merge the data into to avoid losing it."
      parameters:
      - description: The unique identifier of the institution.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The unique identifier of the institution to merge into.
        example: 44
        explode: true
        in: query
        name: merge_into_institution_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "204":
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Delete institution
      tags:
      - Institutions
      x-accepts:
      - application/json
    get:
      description: Gets an institution by its ID.
      parameters:
      - description: The unique identifier of the institution.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get institution
      tags:
      - Institutions
      x-accepts:
      - application/json
    put:
      description: Updates the title and currency code for an institution.
      parameters:
      - description: The unique identifier of the institution.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_institutions__id__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Update institution
      tags:
      - Institutions
      x-content-type: application/json
      x-accepts:
      - application/json
  /institutions/{id}/accounts:
    get:
      description: Lists accounts belonging to an institution by its ID.
      parameters:
      - description: The unique identifier of the institution.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List accounts in institution
      tags:
      - Accounts
      x-accepts:
      - application/json
  /me:
    get:
      description: Gets the user that corresponds to the access token used in the
        request.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
      summary: Get the authorised user
      tags:
      - Users
      x-accepts:
      - application/json
  /scenarios/{id}/events:
    get:
      description: Lists events belonging to a scenario by their ID.
      parameters:
      - description: The unique identifier of the scenario.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Return the events from and including this date.
        example: 2020-10-01
        explode: true
        in: query
        name: start_date
        required: true
        schema:
          type: string
        style: form
      - description: Return the events until and including this date.
        example: 2020-10-30
        explode: true
        in: query
        name: end_date
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List events in scenario.
      tags:
      - Events
      x-accepts:
      - application/json
    post:
      description: Creates an event in a scenario by its ID.
      parameters:
      - description: The unique identifier of the scenario.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_scenarios__id__events_post_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Create event in scenario
      tags:
      - Events
      x-content-type: application/json
      x-accepts:
      - application/json
  /time_zones:
    get:
      description: Lists time zones.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TimeZone'
                type: array
          description: Success
      summary: List time zones
      tags:
      - Time Zones
      x-accepts:
      - application/json
  /transaction_accounts/{id}:
    get:
      description: Gets a transaction account by its ID.
      parameters:
      - description: The unique identifier of the transaction account.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionAccount'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get transaction account
      tags:
      - Transaction Accounts
      x-accepts:
      - application/json
    put:
      description: Updates the transaction account by its ID.
      parameters:
      - description: The unique identifier of the transaction account.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_transaction_accounts__id__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionAccount'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Update transaction account
      tags:
      - Transaction Accounts
      x-content-type: application/json
      x-accepts:
      - application/json
  /transaction_accounts/{id}/transactions:
    get:
      description: Lists transactions belonging to a transaction account by its ID.
      parameters:
      - description: The unique identifier of the transaction account.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Limit to transactions on or after this date. Required if end_date\
          \ is provided. If not provided, defaults to the furtherest date allowed\
          \ by the user's subscription."
        example: 2016-11-01
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: "Limit to transactions on or before this date. Required if start_date\
          \ is provided. If not provided, defaults to today's date."
        example: 2016-11-30
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Limit to transactions updated since an ISO 8601 timestamp.
        example: 2020-10-14T09:20:33+13:00
        explode: true
        in: query
        name: updated_since
        required: false
        schema:
          type: string
        style: form
      - description: Limit to uncategorised transactions.
        example: 1
        explode: true
        in: query
        name: uncategorised
        required: false
        schema:
          type: integer
        style: form
      - description: Limit to transactions of this type.
        example: debit
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - debit
          - credit
          type: string
        style: form
      - description: Limit to transactions that need to be reviewed.
        example: 1
        explode: true
        in: query
        name: needs_review
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit to transactions matching a keyword search string. The\
          \ provided string is matched against the transaction amount, account name,\
          \ payee, category title, note, labels, and the date in ISO 8601 format."
        example: Paypal
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Choose a particular page of the results.
        example: 3
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Transaction'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List transactions in transaction account
      tags:
      - Transactions
      x-accepts:
      - application/json
    post:
      description: Creates a transaction in a transaction account by its ID.
      parameters:
      - description: The unique identifier of the transaction account.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_transaction_accounts__id__transactions_post_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Create a transaction in transaction account
      tags:
      - Transactions
      x-content-type: application/json
      x-accepts:
      - application/json
  /transactions/{id}:
    delete:
      description: Deletes a transaction and all its data by ID.
      parameters:
      - description: The unique identifier of the transaction.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Delete transaction
      tags:
      - Transactions
      x-accepts:
      - application/json
    get:
      description: Gets a transaction by its ID.
      parameters:
      - description: The unique identifier of the transaction.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get a transaction
      tags:
      - Transactions
      x-accepts:
      - application/json
    put:
      description: Updates a transaction by its ID.
      parameters:
      - description: The unique identifier of the transaction.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_transactions__id__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Update a transaction
      tags:
      - Transactions
      x-content-type: application/json
      x-accepts:
      - application/json
  /transactions/{id}/attachments:
    get:
      description: Lists attachments belonging to a transaction by their ID.
      parameters:
      - description: The unique identifier of the transaction.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Attachment'
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List attachments in transaction
      tags:
      - Attachments
      x-accepts:
      - application/json
    post:
      description: Assigns an attachment to the transaction by their ID.
      parameters:
      - description: The unique identifier of the transaction.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_transactions__id__attachments_post_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Assigns attachment to transaction
      tags:
      - Attachments
      x-content-type: application/json
      x-accepts:
      - application/json
  /transactions/{transaction_id}/attachments/{attachment_id}:
    delete:
      description: "Unassigns a particular attachment by its ID from the transaction\
        \ ID. This does not delete the attachment, it only removes its association\
        \ from the transaction."
      parameters:
      - description: The unique identifier of the transaction.
        example: 42
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          type: integer
        style: simple
      - description: The unique identifier of the attachment.
        example: 1438154
        explode: false
        in: path
        name: attachment_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Unassigns attachment in transaction
      tags:
      - Attachments
      x-accepts:
      - application/json
  /users/{id}:
    get:
      description: Gets a user by ID. You must be authorised as the target user in
        order to make this request.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get user
      tags:
      - Users
      x-accepts:
      - application/json
    put:
      description: Updates the user by their ID. You must be authorised as the target
        user in order to make this request.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users__id__put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Update user
      tags:
      - Users
      x-content-type: application/json
      x-accepts:
      - application/json
  /users/{id}/accounts:
    get:
      description: Lists all accounts belonging to the user by their ID.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List accounts in user
      tags:
      - Accounts
      x-accepts:
      - application/json
    post:
      description: Creates and returns an account belonging to the user by their ID.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users__id__accounts_post_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Create an account in user
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Updates the display order of accounts belonging to the user, by\
        \ accepting an array of accounts in their new display order."
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users__id__accounts_put_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Update the display order of accounts in user
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts:
      - application/json
  /users/{id}/attachments:
    get:
      description: Lists attachments belonging to a user by their ID.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "If set, returns unassigned attachments, that are available for\
          \ assigning to a transaction."
        example: 1
        explode: true
        in: query
        name: unassigned
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Attachment'
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Lists attachments in user
      tags:
      - Attachments
      x-accepts:
      - application/json
    post:
      description: Creates an attachment belonging to the user by their ID.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users__id__attachments_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Create attachment in user
      tags:
      - Attachments
      x-content-type: application/json
      x-accepts:
      - application/json
  /users/{id}/budget:
    get:
      description: "Lists the user's budget, consisting of one or more budget analysis\
        \ packages, one per category. Akin to the list on the Budget page in PocketSmith."
      parameters:
      - description: The unique identifier of the account.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Whether parent categories should have their children rolled\
          \ up into them. When used, the children will still appear in the collection\
          \ on their own, but their actual and forecast figures will be rolled up\
          \ to the root parent."
        example: true
        explode: true
        in: query
        name: roll_up
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BudgetAnalysisPackage'
                type: array
          description: Success
      summary: List budget for user
      tags:
      - Budgeting
      x-accepts:
      - application/json
  /users/{id}/budget_summary:
    get:
      description: "Get the user's budget summary, containing an expense and income\
        \ analysis for all categories (excluding transfer categories) for the given\
        \ period and date range. Akin to the overall budget shown on the Budget page\
        \ in PocketSmith."
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "The period to analyse in, one of `weeks`, `months` or `years`.\
          \ Also supported is `event`, although event period analysis is only possible\
          \ when the budget events gathered align, so in this case where all categories\
          \ are analysed together, it's highly unlikely that event period analysis\
          \ will be possible."
        example: weeks
        explode: true
        in: query
        name: period
        required: true
        schema:
          enum:
          - weeks
          - months
          - years
          - event
          type: string
        style: form
      - description: "The period interval, e.g. if the interval is 2 and the period\
          \ is weeks, the budget will be analysed fortnightly."
        example: 2
        explode: true
        in: query
        name: interval
        required: true
        schema:
          type: integer
        style: form
      - description: The date to start analysing the budget from. This will be bumped
          out to make full periods as necessary.
        example: 2016-11-01
        explode: true
        in: query
        name: start_date
        required: true
        schema:
          type: string
        style: form
      - description: The date to stop analysing the budget from. This will be bumped
          out to make full periods as necessary.
        example: 2016-11-30
        explode: true
        in: query
        name: end_date
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BudgetAnalysisPackage'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Get budget summary for user
      tags:
      - Budgeting
      x-accepts:
      - application/json
  /users/{id}/categories:
    get:
      description: Lists all categories belonging to a user by their ID.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category'
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List categories in user
      tags:
      - Categories
      x-accepts:
      - application/json
    post:
      description: Creates a category belonging to the user by their ID.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users__id__categories_post_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Create category in user
      tags:
      - Categories
      x-content-type: application/json
      x-accepts:
      - application/json
  /users/{id}/category_rules:
    get:
      description: Lists all category rules belonging to a user by their ID.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryRule'
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List category rules in user
      tags:
      - Category Rules
      x-accepts:
      - application/json
  /users/{id}/events:
    get:
      description: Lists events belonging to a user by their ID.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Return the events from and including this date.
        example: 2020-10-01
        explode: true
        in: query
        name: start_date
        required: true
        schema:
          type: string
        style: form
      - description: Return the events until and including this date.
        example: 2020-10-30
        explode: true
        in: query
        name: end_date
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List events in user.
      tags:
      - Events
      x-accepts:
      - application/json
  /users/{id}/forecast_cache:
    delete:
      description: Delete the user's cached forecast by recalculating the forecast.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Delete forecast cache for user
      tags:
      - Budgeting
      x-accepts:
      - application/json
  /users/{id}/institutions:
    get:
      description: Lists all the institutions belonging to the user.
      parameters:
      - description: The unique identifier of the user
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Institution'
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List institutions in user
      tags:
      - Institutions
      x-accepts:
      - application/json
    post:
      description: Creates an institution belonging to a user.
      parameters:
      - description: The unique identifier of the user
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_users__id__institutions_post_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Create institution in user
      tags:
      - Institutions
      x-content-type: application/json
      x-accepts:
      - application/json
  /users/{id}/labels:
    get:
      description: Lists labels belonging to a user by their ID.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - craftbeer
              - bargains
              - gaming
              - Trip to Auckland
              schema:
                items:
                  type: string
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List labels in user
      tags:
      - Labels
      x-accepts:
      - application/json
  /users/{id}/saved_searches:
    get:
      description: Lists saved searches belonging to a user by their ID.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SavedSearch'
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List saved searches in user
      tags:
      - Saved Searches
      x-accepts:
      - application/json
  /users/{id}/transaction_accounts:
    get:
      description: List all transaction accounts belonging to a user.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TransactionAccount'
                type: array
          description: Success
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List transaction accounts in user
      tags:
      - Transaction Accounts
      x-accepts:
      - application/json
  /users/{id}/transactions:
    get:
      description: Lists transactions belonging to a user by their ID.
      parameters:
      - description: The unique identifier of the account.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Limit to transactions on or after this date. Required if end_date\
          \ is provided. If not provided, defaults to the furtherest date allowed\
          \ by the user's subscription."
        example: 2016-11-01
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: "Limit to transactions on or before this date. Required if start_date\
          \ is provided. If not provided, defaults to today's date."
        example: 2016-11-30
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: Limit to transactions updated since an ISO 8601 timestamp.
        example: 2020-10-14T09:20:33+13:00
        explode: true
        in: query
        name: updated_since
        required: false
        schema:
          type: string
        style: form
      - description: Limit to uncategorised transactions.
        example: 1
        explode: true
        in: query
        name: uncategorised
        required: false
        schema:
          type: integer
        style: form
      - description: Limit to transactions of this type.
        example: debit
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - debit
          - credit
          type: string
        style: form
      - description: Limit to transactions that need to be reviewed.
        example: 1
        explode: true
        in: query
        name: needs_review
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit to transactions matching a keyword search string. The\
          \ provided string is matched against the transaction amount, account name,\
          \ payee, category title, note, labels, and the date in ISO 8601 format."
        example: Paypal
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Choose a particular page of the results.
        example: 3
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Transaction'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List transactions in user
      tags:
      - Transactions
      x-accepts:
      - application/json
  /users/{id}/trend_analysis:
    get:
      description: Get an income and/or expense budget analysis for the given date
        range and period across any number of categories and scenarios. Akin to the
        Trends page in PocketSmith.
      parameters:
      - description: The unique identifier of the user.
        example: 42
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "The period to analyse in, one of `weeks`, `months` or `years`.\
          \ Also supported is `event`, although event period analysis is only possible\
          \ when the budget events gathered align, so in this case where all categories\
          \ are analysed together, it's highly unlikely that event period analysis\
          \ will be possible."
        example: weeks
        explode: true
        in: query
        name: period
        required: true
        schema:
          enum:
          - weeks
          - months
          - years
          - event
          type: string
        style: form
      - description: "The period interval, e.g. if the interval is 2 and the period\
          \ is weeks, the budget will be analysed fortnightly."
        example: true
        explode: true
        in: query
        name: interval
        required: true
        schema:
          type: integer
        style: form
      - description: The date to start analysing the budget from. This will be bumped
          out to make full periods as necessary.
        example: 2016-11-01
        explode: true
        in: query
        name: start_date
        required: true
        schema:
          type: string
        style: form
      - description: The date to stop analysing the budget from. This will be bumped
          out to make full periods as necessary.
        example: 2016-11-30
        explode: true
        in: query
        name: end_date
        required: true
        schema:
          type: string
        style: form
      - description: A comma-separated list of category IDs to analyse.
        example: "42,49"
        explode: true
        in: query
        name: categories
        required: true
        schema:
          type: string
        style: form
      - description: "A comma-separated list of scenario IDs to analyse. You're likely\
          \ going to want to include all a user's scenarios here, unless you have\
          \ reason to only analyse for a subset of scenarios. Regardless of what scenarios\
          \ are analysed, all actuals (transactions) across all accounts will be included."
        example: "11,29"
        explode: true
        in: query
        name: scenarios
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BudgetAnalysisPackage'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Allowed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation Error
      summary: Get trend analysis for user
      tags:
      - Budgeting
      x-accepts:
      - application/json
components:
  parameters:
    eventId:
      description: The unique identifier of the event.
      example: 42-1601942400
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    scenarioId:
      description: The unique identifier of the scenario.
      example: 42
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: integer
      style: simple
    userId:
      description: The unique identifier of the user.
      example: 42
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: integer
      style: simple
  responses:
    "400":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad Request
    "403":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Not Allowed
    "404":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Not Found
    "409":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Conflict
    "422":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Validation Error
  schemas:
    Account:
      example:
        safe_balance: 2694.39
        current_balance_in_base_currency: 4041.59
        created_at: 2018-02-27
        scenarios:
        - closing_balance_date: 2018-02-27
          safe_balance: 5431.2
          current_balance_in_base_currency: 8146.8
          minimum-value: 4000
          created_at: 2015-04-21T22:42:22Z
          description: description
          title: Wedding
          type: no-interest
          starting_balance: 2450
          starting_balance_date: 2018-02-27
          maximum-value: 42
          current_balance_date: 2018-02-27
          current_balance_exchange_rate: 1.5
          updated_at: 2015-04-21T22:42:22Z
          closing_balance: 5431.2
          current_balance: 5431.2
          interest_rate: 2.4
          interest_rate_repeat_id: 4
          safe_balance_in_base_currency: 8146.8
          id: 42
          achieve_date: achieve_date
        - closing_balance_date: 2018-02-27
          safe_balance: 5431.2
          current_balance_in_base_currency: 8146.8
          minimum-value: 4000
          created_at: 2015-04-21T22:42:22Z
          description: description
          title: Wedding
          type: no-interest
          starting_balance: 2450
          starting_balance_date: 2018-02-27
          maximum-value: 42
          current_balance_date: 2018-02-27
          current_balance_exchange_rate: 1.5
          updated_at: 2015-04-21T22:42:22Z
          closing_balance: 5431.2
          current_balance: 5431.2
          interest_rate: 2.4
          interest_rate_repeat_id: 4
          safe_balance_in_base_currency: 8146.8
          id: 42
          achieve_date: achieve_date
        title: Bank of Foo
        type: bank
        currency_code: NZD
        current_balance_date: 2018-02-27
        current_balance_exchange_rate: 1.5
        updated_at: 2018-02-27
        current_balance: 2694.39
        transaction_accounts:
        - safe_balance: 2694.39
          current_balance_in_base_currency: 4041.59
          created_at: 2015-03-17T02:42:10Z
          type: bank
          starting_balance: 3547.45
          currency_code: NZD
          institution:
            updated_at: 2015-04-21T22:42:22Z
            created_at: 2015-04-21T22:42:22Z
            id: 57
            title: Bank of Foo
            currency_code: NZD
          number: ASBCRD44554
          starting_balance_date: 2015-03-15
          current_balance_date: 2015-07-03
          current_balance_exchange_rate: 1.5
          updated_at: 2015-07-02T22:14:49Z
          name: Sample Credit
          current_balance: 2694.39
          safe_balance_in_base_currency: 4041.59
          id: 96027
        - safe_balance: 2694.39
          current_balance_in_base_currency: 4041.59
          created_at: 2015-03-17T02:42:10Z
          type: bank
          starting_balance: 3547.45
          currency_code: NZD
          institution:
            updated_at: 2015-04-21T22:42:22Z
            created_at: 2015-04-21T22:42:22Z
            id: 57
            title: Bank of Foo
            currency_code: NZD
          number: ASBCRD44554
          starting_balance_date: 2015-03-15
          current_balance_date: 2015-07-03
          current_balance_exchange_rate: 1.5
          updated_at: 2015-07-02T22:14:49Z
          name: Sample Credit
          current_balance: 2694.39
          safe_balance_in_base_currency: 4041.59
          id: 96027
        safe_balance_in_base_currency: 4041.59
        id: 42
        primary_transaction_account:
          safe_balance: 2694.39
          current_balance_in_base_currency: 4041.59
          created_at: 2015-03-17T02:42:10Z
          type: bank
          starting_balance: 3547.45
          currency_code: NZD
          institution:
            updated_at: 2015-04-21T22:42:22Z
            created_at: 2015-04-21T22:42:22Z
            id: 57
            title: Bank of Foo
            currency_code: NZD
          number: ASBCRD44554
          starting_balance_date: 2015-03-15
          current_balance_date: 2015-07-03
          current_balance_exchange_rate: 1.5
          updated_at: 2015-07-02T22:14:49Z
          name: Sample Credit
          current_balance: 2694.39
          safe_balance_in_base_currency: 4041.59
          id: 96027
        primary_scenario:
          closing_balance_date: 2018-02-27
          safe_balance: 5431.2
          current_balance_in_base_currency: 8146.8
          minimum-value: 4000
          created_at: 2015-04-21T22:42:22Z
          description: description
          title: Wedding
          type: no-interest
          starting_balance: 2450
          starting_balance_date: 2018-02-27
          maximum-value: 42
          current_balance_date: 2018-02-27
          current_balance_exchange_rate: 1.5
          updated_at: 2015-04-21T22:42:22Z
          closing_balance: 5431.2
          current_balance: 5431.2
          interest_rate: 2.4
          interest_rate_repeat_id: 4
          safe_balance_in_base_currency: 8146.8
          id: 42
          achieve_date: achieve_date
        is_net_worth: false
      properties:
        created_at:
          description: When the account was created.
          example: 2018-02-27
          type: string
        currency_code:
          description: The currency code for the account.
          example: NZD
          type: string
        current_balance:
          description: The current balance of the account.
          example: 2694.39
          type: number
        current_balance_date:
          description: The date of the current balance.
          example: 2018-02-27
          type: string
        current_balance_exchange_rate:
          description: "The exchange rate between the account's currency and the user's\
            \ base currency, when different. If the currencies are the same, null\
            \ is returned."
          example: 1.5
          type: number
        current_balance_in_base_currency:
          description: The current balance of the account in the user's base currency.
          example: 4041.59
          type: number
        id:
          description: The unique identifier of the account.
          example: 42
          type: integer
        is_net_worth:
          description: Whether the account is a net worth asset.
          example: false
          type: boolean
        primary_scenario:
          $ref: '#/components/schemas/Scenario'
        primary_transaction_account:
          $ref: '#/components/schemas/TransactionAccount'
        safe_balance:
          description: "The current safe balance, if safe balance is activated on\
            \ the account. If safe balance is not activated, then null is returned."
          example: 2694.39
          type: number
        safe_balance_in_base_currency:
          description: "The current safe balance in the user's base currency, if safe\
            \ balance is activated on the account. If safe balance is not activated,\
            \ then null is returned."
          example: 4041.59
          type: number
        scenarios:
          description: "All scenarios that compose the account, including the primary."
          items:
            $ref: '#/components/schemas/Scenario'
          type: array
        title:
          description: The title of the account.
          example: Bank of Foo
          type: string
        transaction_accounts:
          description: "All transaction accounts that compose the account, including\
            \ the primary."
          items:
            $ref: '#/components/schemas/TransactionAccount'
          type: array
        type:
          description: The type of the account.
          enum:
          - bank
          - credits
          - cash
          - stocks
          - mortgage
          - loans
          - vehicle
          - property
          - insurance
          - other_asset
          - other_liability
          example: bank
          type: string
        updated_at:
          description: When the account was last updated.
          example: 2018-02-27
          type: string
      type: object
    Attachment:
      example:
        content_type: image/png
        updated_at: 2015-08-16T02:17:02Z
        content_type_meta:
          extension: png
          description: PNG image
          title: PNG
        original_url: https://image.com/image.png
        file_name: taxi.png
        created_at: 2015-08-16T02:17:02Z
        id: 42
        variants:
          thumb_url: https://image.com/image.png
          large_url: https://image.com/image.png
        title: Invoice for taxi
        type: image
      properties:
        content_type:
          description: The content type of the attachment.
          example: image/png
          type: string
        content_type_meta:
          $ref: '#/components/schemas/Attachment_content_type_meta'
        created_at:
          description: When the attachment was created.
          example: 2015-08-16T02:17:02Z
          format: ISO 8601 timestamp
          type: string
        file_name:
          description: The file name of the attachment.
          example: taxi.png
          type: string
        id:
          description: The unique identifier of the attachment
          example: 42
          type: integer
        original_url:
          description: The url of the attachment.
          example: https://image.com/image.png
          type: string
        title:
          description: "The title of the attachment. If blank or not provided, the\
            \ title will be derived from the file name."
          example: Invoice for taxi
          type: string
        type:
          description: The type of attachment.
          example: image
          type: string
        updated_at:
          description: When the attachment was last updated.
          example: 2015-08-16T02:17:02Z
          format: ISO 8601 timestamp
          type: string
        variants:
          $ref: '#/components/schemas/Attachment_variants'
      type: object
    BudgetAnalysis:
      example:
        end_date: 2016-11-30
        average_forecast_amount: -60
        periods:
        - end_date: 2016-11-30
          current: true
          over_budget: false
          over_by: 0
          forecast_amount: -60
          percentage_used: 70.5
          actual_amount: -42.3
          refund_amount: 5.6
          under_budget: true
          currency_code: nzd
          under_by: 17.7
          start_date: 2016-11-01
        - end_date: 2016-11-30
          current: true
          over_budget: false
          over_by: 0
          forecast_amount: -60
          percentage_used: 70.5
          actual_amount: -42.3
          refund_amount: 5.6
          under_budget: true
          currency_code: nzd
          under_by: 17.7
          start_date: 2016-11-01
        total_over_by: 0
        average_actual_amount: -42.3
        total_actual_amount: -42.3
        total_forecast_amount: -60
        currency_code: nzd
        start_date: 2016-11-01
        total_under_by: 17.7
      properties:
        average_actual_amount:
          description: The average actual (transactions) amount across all periods.
          example: -42.3
          type: number
        average_forecast_amount:
          description: The average budgeted amount across all periods.
          example: -60
          type: number
        currency_code:
          description: The currency of the budget analysis.
          example: nzd
          type: string
        end_date:
          description: The end date of the budget analysis.
          example: 2016-11-30
          type: string
        periods:
          description: The period analyses that this budget analysis comprises.
          items:
            $ref: '#/components/schemas/Period'
          type: array
        start_date:
          description: The start date of the budget analysis.
          example: 2016-11-01
          type: string
        total_actual_amount:
          description: The total actual (transactions) amount across all periods.
          example: -42.3
          type: number
        total_forecast_amount:
          description: The total budgeted amount across all periods.
          example: -60
          type: number
        total_over_by:
          description: The total amount the budget was exceeded across all periods.
          example: 0
          type: number
        total_under_by:
          description: The total amount the budget was under by across all periods.
          example: 17.7
          type: number
      type: object
    BudgetAnalysisPackage:
      example:
        income:
          end_date: 2016-11-30
          average_forecast_amount: -60
          periods:
          - end_date: 2016-11-30
            current: true
            over_budget: false
            over_by: 0
            forecast_amount: -60
            percentage_used: 70.5
            actual_amount: -42.3
            refund_amount: 5.6
            under_budget: true
            currency_code: nzd
            under_by: 17.7
            start_date: 2016-11-01
          - end_date: 2016-11-30
            current: true
            over_budget: false
            over_by: 0
            forecast_amount: -60
            percentage_used: 70.5
            actual_amount: -42.3
            refund_amount: 5.6
            under_budget: true
            currency_code: nzd
            under_by: 17.7
            start_date: 2016-11-01
          total_over_by: 0
          average_actual_amount: -42.3
          total_actual_amount: -42.3
          total_forecast_amount: -60
          currency_code: nzd
          start_date: 2016-11-01
          total_under_by: 17.7
        is_transfer: false
        category:
          colour: '#00ff00'
          updated_at: 2015-08-16T02:17:02Z
          children:
          - null
          - null
          parent_id: 42
          is_bill: true
          created_at: 2015-08-16T02:17:02Z
          is_transfer: false
          roll_up: false
          id: 1438154
          title: Beer
          refund_behaviour: credits_are_refunds
        expense:
          end_date: 2016-11-30
          average_forecast_amount: -60
          periods:
          - end_date: 2016-11-30
            current: true
            over_budget: false
            over_by: 0
            forecast_amount: -60
            percentage_used: 70.5
            actual_amount: -42.3
            refund_amount: 5.6
            under_budget: true
            currency_code: nzd
            under_by: 17.7
            start_date: 2016-11-01
          - end_date: 2016-11-30
            current: true
            over_budget: false
            over_by: 0
            forecast_amount: -60
            percentage_used: 70.5
            actual_amount: -42.3
            refund_amount: 5.6
            under_budget: true
            currency_code: nzd
            under_by: 17.7
            start_date: 2016-11-01
          total_over_by: 0
          average_actual_amount: -42.3
          total_actual_amount: -42.3
          total_forecast_amount: -60
          currency_code: nzd
          start_date: 2016-11-01
          total_under_by: 17.7
      properties:
        category:
          $ref: '#/components/schemas/Category'
        expense:
          $ref: '#/components/schemas/BudgetAnalysis'
        income:
          $ref: '#/components/schemas/BudgetAnalysis'
        is_transfer:
          description: "Whether the expense budget analysis looks like a transfer\
            \ to the income budget analysis, based on a number of heuristics."
          example: false
          type: boolean
      type: object
    Category:
      example:
        colour: '#00ff00'
        updated_at: 2015-08-16T02:17:02Z
        children:
        - null
        - null
        parent_id: 42
        is_bill: true
        created_at: 2015-08-16T02:17:02Z
        is_transfer: false
        roll_up: false
        id: 1438154
        title: Beer
        refund_behaviour: credits_are_refunds
      properties:
        children:
          description: The category's child categories.
          items:
            $ref: '#/components/schemas/Category'
          type: array
        colour:
          description: The colour for the category.
          example: '#00ff00'
          format: CSS-style hex triplet
          type: string
        created_at:
          description: When the category was created.
          example: 2015-08-16T02:17:02Z
          format: ISO 8601 timestamp
          type: string
        id:
          description: The unique identifier of the category.
          example: 1438154
          type: integer
        is_bill:
          description: "Whether the category is a bill category. A bill category is\
            \ when budgeted amounts are normally spent at once, instead of spread\
            \ across a budgeting period. This category will be included in the bill\
            \ reminder email when set to true."
          example: true
          type: boolean
        is_transfer:
          description: Whether this category has been marked as a transfer category.
          example: false
          type: boolean
        parent_id:
          description: "The unique identifier of the parent category of this category,\
            \ or null if this category has no parent (i.e. is a top-level category)"
          example: 42
          type: integer
        refund_behaviour:
          description: How the category's refunds or deductions should be reported
            on.
          enum:
          - debits_are_deductions
          - credits_are_refunds
          - null
          example: credits_are_refunds
          nullable: true
          type: string
        roll_up:
          description: "Whether the category's budget is rolled up into its parent\
            \ category, if a parent category is present."
          example: false
          type: boolean
        title:
          description: The title of the category.
          example: Beer
          type: string
        updated_at:
          description: When the category was last updated.
          example: 2015-08-16T02:17:02Z
          format: ISO 8601 timestamp
          type: string
      type: object
    CategoryRule:
      example:
        updated_at: 2019-07-09T10:06:02Z
        created_at: 2019-07-09T10:06:02Z
        id: 1438154
        category:
          colour: '#00ff00'
          updated_at: 2015-08-16T02:17:02Z
          children:
          - null
          - null
          parent_id: 42
          is_bill: true
          created_at: 2015-08-16T02:17:02Z
          is_transfer: false
          roll_up: false
          id: 1438154
          title: Beer
          refund_behaviour: credits_are_refunds
        payee_matches: Countdown
      properties:
        category:
          $ref: '#/components/schemas/Category'
        created_at:
          description: When the category rule was created.
          example: 2019-07-09T10:06:02Z
          format: ISO 8601 timestamp
          type: string
        id:
          description: The unique identifier of the category rule.
          example: 1438154
          type: integer
        payee_matches:
          description: The keyword/s to match the transactions payees.
          example: Countdown
          type: string
        updated_at:
          description: When the category rule was last updated.
[...]
