openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: Golf v2
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/golf-v2.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: golf-v2
servers:
- url: http://azure-api.sportsdata.io/golf/v2
- url: https://azure-api.sportsdata.io/golf/v2
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/CurrentSeason:
    get:
      operationId: CurrentSeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
          description: ""
      summary: Current Season
      x-accepts:
      - application/json
  /{format}/DfsSlatesByTournament/{tournamentid}:
    get:
      operationId: DfsSlates
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The TournamentID of a tournament.  TournamentIDs can be found\
          \ in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>,\
          \ etc."
        explode: false
        in: path
        name: tournamentid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates
      x-accepts:
      - application/json
  /{format}/Injuries:
    get:
      operationId: Injuries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Injury'
                type: array
          description: ""
      summary: Injuries
      x-accepts:
      - application/json
  /{format}/InjuriesByHistorical:
    get:
      operationId: InjuriesHistorical
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Injury'
                type: array
          description: ""
      summary: Injuries (Historical)
      x-accepts:
      - application/json
  /{format}/Leaderboard/{tournamentid}:
    get:
      operationId: Leaderboard
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The TournamentID of a tournament.  TournamentIDs can be found\
          \ in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>,\
          \ etc."
        explode: false
        in: path
        name: tournamentid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leaderboard'
          description: ""
      summary: Leaderboard
      x-accepts:
      - application/json
  /{format}/News:
    get:
      operationId: News
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News
      x-accepts:
      - application/json
  /{format}/NewsByDate/{date}:
    get:
      operationId: NewsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Date
      x-accepts:
      - application/json
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: NewsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>40000019</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Player
      x-accepts:
      - application/json
  /{format}/Player/{playerid}:
    get:
      operationId: Player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>40000019</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player
      x-accepts:
      - application/json
  /{format}/PlayerSeasonStats/{season}:
    get:
      operationId: PlayerSeasonStatsWWorldGolfRankings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2016</code>, <code>2017</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats (w/ World Golf Rankings)
      x-accepts:
      - application/json
  /{format}/PlayerTournamentProjectionStats/{tournamentid}:
    get:
      operationId: PlayerTournamentProjectedStatsWDraftkingsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The TournamentID of a tournament.  TournamentIDs can be found\
          \ in the Tournaments API.  Valid entries are <code>78</code>, <code>79</code>,\
          \ <code>80</code>, etc."
        explode: false
        in: path
        name: tournamentid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerTournamentProjection'
                type: array
          description: ""
      summary: Player Tournament Projected Stats (w/ DraftKings Salaries)
      x-accepts:
      - application/json
  /{format}/PlayerTournamentStatsByPlayer/{tournamentid}/{playerid}:
    get:
      operationId: PlayerTournamentStatsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The TournamentID of a tournament.  TournamentIDs can be found\
          \ in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>,\
          \ etc."
        explode: false
        in: path
        name: tournamentid
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>40000019</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerTournament'
          description: ""
      summary: Player Tournament Stats By Player
      x-accepts:
      - application/json
  /{format}/Players:
    get:
      operationId: Players
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players
      x-accepts:
      - application/json
  /{format}/Tournaments:
    get:
      operationId: Schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tournament'
                type: array
          description: ""
      summary: Schedule
      x-accepts:
      - application/json
  /{format}/Tournaments/{season}:
    get:
      operationId: ScheduleBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2016</code>, <code>2017</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tournament'
                type: array
          description: ""
      summary: Schedule by Season
      x-accepts:
      - application/json
components:
  schemas:
    DfsSlate:
      example:
        Operator: Operator
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        IsMultiDaySlate: true
        SlateID: 5
        SlateRosterSlots:
        - SlateRosterSlots
        - SlateRosterSlots
        OperatorStartTime: OperatorStartTime
        RemovedByOperator: true
        NumberOfTournaments: 1
        OperatorGameType: OperatorGameType
        DfsSlatePlayers:
        - PlayerID: 6
          OperatorSalary: 0
          RemovedByOperator: true
          SlateTournamentID: 2
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorPosition: OperatorPosition
          OperatorSlatePlayerID: OperatorSlatePlayerID
          OperatorPlayerName: OperatorPlayerName
          SlateID: 5
          OperatorPlayerID: OperatorPlayerID
          SlatePlayerID: 5
          PlayerTournamentProjectionID: 1
        - PlayerID: 6
          OperatorSalary: 0
          RemovedByOperator: true
          SlateTournamentID: 2
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorPosition: OperatorPosition
          OperatorSlatePlayerID: OperatorSlatePlayerID
          OperatorPlayerName: OperatorPlayerName
          SlateID: 5
          OperatorPlayerID: OperatorPlayerID
          SlatePlayerID: 5
          PlayerTournamentProjectionID: 1
        OperatorSlateID: 4
        DfsSlateTournaments:
        - RemovedByOperator: true
          SlateTournamentID: 3
          SlateID: 9
          OperatorTournamentID: 7
          TournamentID: 7
          Tournament:
            Par: 2
            Purse: 4.145608029883936
            Venue: Venue
            Rounds:
            - Number: 7
              RoundID: 1
              TournamentID: 1
              Day: Day
            - Number: 7
              RoundID: 1
              TournamentID: 1
              Day: Day
            ZipCode: ZipCode
            SportRadarTournamentID: SportRadarTournamentID
            Yards: 6
            City: City
            EndDate: EndDate
            Covered: true
            Name: Name
            IsInProgress: true
            StartDate: StartDate
            IsOver: true
            TimeZone: TimeZone
            Format: Format
            StartDateTime: StartDateTime
            OddsCoverage: OddsCoverage
            State: State
            Country: Country
            TournamentID: 1
            Canceled: true
            Location: Location
        - RemovedByOperator: true
          SlateTournamentID: 3
          SlateID: 9
          OperatorTournamentID: 7
          TournamentID: 7
          Tournament:
            Par: 2
            Purse: 4.145608029883936
            Venue: Venue
            Rounds:
            - Number: 7
              RoundID: 1
              TournamentID: 1
              Day: Day
            - Number: 7
              RoundID: 1
              TournamentID: 1
              Day: Day
            ZipCode: ZipCode
            SportRadarTournamentID: SportRadarTournamentID
            Yards: 6
            City: City
            EndDate: EndDate
            Covered: true
            Name: Name
            IsInProgress: true
            StartDate: StartDate
            IsOver: true
            TimeZone: TimeZone
            Format: Format
            StartDateTime: StartDateTime
            OddsCoverage: OddsCoverage
            State: State
            Country: Country
            TournamentID: 1
            Canceled: true
            Location: Location
      properties:
        DfsSlatePlayers:
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          type: array
        DfsSlateTournaments:
          items:
            $ref: '#/components/schemas/DfsSlateTournament'
          type: array
        IsMultiDaySlate:
          nullable: true
          type: boolean
        NumberOfTournaments:
          nullable: true
          type: integer
        Operator:
          nullable: true
          type: string
        OperatorDay:
          nullable: true
          type: string
        OperatorGameType:
          nullable: true
          type: string
        OperatorName:
          nullable: true
          type: string
        OperatorSlateID:
          nullable: true
          type: integer
        OperatorStartTime:
          nullable: true
          type: string
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateID:
          nullable: false
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          type: array
    DfsSlatePlayer:
      example:
        PlayerID: 6
        OperatorSalary: 0
        RemovedByOperator: true
        SlateTournamentID: 2
        OperatorRosterSlots:
        - OperatorRosterSlots
        - OperatorRosterSlots
        OperatorPosition: OperatorPosition
        OperatorSlatePlayerID: OperatorSlatePlayerID
        OperatorPlayerName: OperatorPlayerName
        SlateID: 5
        OperatorPlayerID: OperatorPlayerID
        SlatePlayerID: 5
        PlayerTournamentProjectionID: 1
      properties:
        OperatorPlayerID:
          nullable: true
          type: string
        OperatorPlayerName:
          nullable: true
          type: string
        OperatorPosition:
          nullable: true
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          type: array
        OperatorSalary:
          nullable: true
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          type: string
        PlayerID:
          nullable: true
          type: integer
        PlayerTournamentProjectionID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateID:
          nullable: false
          type: integer
        SlatePlayerID:
          nullable: false
          type: integer
        SlateTournamentID:
          nullable: true
          type: integer
    DfsSlateTournament:
      example:
        RemovedByOperator: true
        SlateTournamentID: 3
        SlateID: 9
        OperatorTournamentID: 7
        TournamentID: 7
        Tournament:
          Par: 2
          Purse: 4.145608029883936
          Venue: Venue
          Rounds:
          - Number: 7
            RoundID: 1
            TournamentID: 1
            Day: Day
          - Number: 7
            RoundID: 1
            TournamentID: 1
            Day: Day
          ZipCode: ZipCode
          SportRadarTournamentID: SportRadarTournamentID
          Yards: 6
          City: City
          EndDate: EndDate
          Covered: true
          Name: Name
          IsInProgress: true
          StartDate: StartDate
          IsOver: true
          TimeZone: TimeZone
          Format: Format
          StartDateTime: StartDateTime
          OddsCoverage: OddsCoverage
          State: State
          Country: Country
          TournamentID: 1
          Canceled: true
          Location: Location
      properties:
        OperatorTournamentID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateID:
          nullable: false
          type: integer
        SlateTournamentID:
          nullable: false
          type: integer
        Tournament:
          $ref: '#/components/schemas/Tournament'
        TournamentID:
          nullable: true
          type: integer
    Injury:
      example:
        StartDate: StartDate
        Status: Status
        BodyPart: BodyPart
        PlayerID: 6
        Active: true
        InjuryID: 0
        ExpectedReturn: ExpectedReturn
        Name: Name
      properties:
        Active:
          nullable: false
          type: boolean
        BodyPart:
          nullable: true
          type: string
        ExpectedReturn:
          nullable: true
          type: string
        InjuryID:
          nullable: false
          type: integer
        Name:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        StartDate:
          nullable: true
          type: string
        Status:
          nullable: true
          type: string
    Leaderboard:
      example:
        Tournament:
          Par: 2
          Purse: 4.145608029883936
          Venue: Venue
          Rounds:
          - Number: 7
            RoundID: 1
            TournamentID: 1
            Day: Day
          - Number: 7
            RoundID: 1
            TournamentID: 1
            Day: Day
          ZipCode: ZipCode
          SportRadarTournamentID: SportRadarTournamentID
          Yards: 6
          City: City
          EndDate: EndDate
          Covered: true
          Name: Name
          IsInProgress: true
          StartDate: StartDate
          IsOver: true
          TimeZone: TimeZone
          Format: Format
          StartDateTime: StartDateTime
          OddsCoverage: OddsCoverage
          State: State
          Country: Country
          TournamentID: 1
          Canceled: true
          Location: Location
        Players:
        - PlayerID: 6
          BogeyFreeRounds: 6.027456183070403
          Rounds:
          - Par: 0
            IncludesStreakOfFourBirdiesOrBetter: true
            Bogeys: 3
            WorseThanTripleBogey: 5
            Eagles: 6
            DoubleBogeys: 2
            TripleBogeys: 3
            IncludesStreakOfThreeBirdiesOrBetter: true
            ConsecutiveBirdieOrBetterCount: 1.284659006116532
            Number: 6
            BogeyFree: true
            IncludesStreakOfSixBirdiesOrBetter: true
            IncludesFiveOrMoreBirdiesOrBetter: true
            Birdies: 6
            IncludesStreakOfFiveBirdiesOrBetter: true
            Score: 3
            LongestBirdieOrBetterStreak: 7.058770351582356
            DoubleEagles: 6
            BackNineStart: true
            Pars: 4
            PlayerTournamentID: 7
            WorseThanDoubleBogey: 7
            BounceBackCount: 6.965117697638846
            Holes:
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            TeeTime: TeeTime
            PlayerRoundID: 8
            Day: Day
            HoleInOnes: 5
          - Par: 0
            IncludesStreakOfFourBirdiesOrBetter: true
            Bogeys: 3
            WorseThanTripleBogey: 5
            Eagles: 6
            DoubleBogeys: 2
            TripleBogeys: 3
            IncludesStreakOfThreeBirdiesOrBetter: true
            ConsecutiveBirdieOrBetterCount: 1.284659006116532
            Number: 6
            BogeyFree: true
            IncludesStreakOfSixBirdiesOrBetter: true
            IncludesFiveOrMoreBirdiesOrBetter: true
            Birdies: 6
            IncludesStreakOfFiveBirdiesOrBetter: true
            Score: 3
            LongestBirdieOrBetterStreak: 7.058770351582356
            DoubleEagles: 6
            BackNineStart: true
            Pars: 4
            PlayerTournamentID: 7
            WorseThanDoubleBogey: 7
            BounceBackCount: 6.965117697638846
            Holes:
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            TeeTime: TeeTime
            PlayerRoundID: 8
            Day: Day
            HoleInOnes: 5
          Bogeys: 1.4658129805029452
          RoundsUnderSeventy: 3.2588565619047607
          WorseThanTripleBogey: 5.507386964179881
          Eagles: 3.616076749251911
          FantasyPointsYahoo: 7.457744773683766
          StreaksOfThreeBirdiesOrBetter: 1.041444916118296
          DoubleBogeys: 2.3021358869347655
          RoundsWithFiveOrMoreBirdiesOrBetter: 4.078845849666752
          TotalStrokes: 7.260521264802104
          DraftKingsSalary: 9
          Name: Name
          TripleBogeys: 9.702963800023566
          StreaksOfFourBirdiesOrBetter: 6.628464275087742
          StreaksOfSixBirdiesOrBetter: 4.258773108174356
          ConsecutiveBirdieOrBetterCount: 5.637376656633329
          FantasyPointsFantasyDraft: 6.84685269835264
          FedExPoints: 1
          TournamentID: 0
          TotalScore: 4.678947989005849
          FanDuelSalary: 4
          FantasyPoints: 1.2315135367772556
          Birdies: 0.8008281904610115
          OddsToWinDescription: OddsToWinDescription
          TournamentStatus: TournamentStatus
          TotalThrough: 9
          IsWithdrawn: true
          FantasyDraftSalary: 7
          FantasyPointsFanDuel: 1.4894159098541704
          IsAlternate: true
          Rank: 9
          OddsToWin: 9.965781217890562
          FantasyPointsDraftKings: 1.0246457001441578
          MadeCutDidNotFinish: true
          DoubleEagles: 7.061401241503109
          Pars: 9.369310271410669
          PlayerTournamentID: 8
          StreaksOfFiveBirdiesOrBetter: 0.2025324113236393
          WorseThanDoubleBogey: 7.933506881737151
          BounceBackCount: 5.962133916683182
          Country: Country
          TeeTime: TeeTime
          MadeCut: 5.025004791520295
          Earnings: 2.027123023002322
          Win: 0.5199002018724985
          HoleInOnes: 4.965218492984954
        - PlayerID: 6
          BogeyFreeRounds: 6.027456183070403
          Rounds:
          - Par: 0
            IncludesStreakOfFourBirdiesOrBetter: true
            Bogeys: 3
            WorseThanTripleBogey: 5
            Eagles: 6
            DoubleBogeys: 2
            TripleBogeys: 3
            IncludesStreakOfThreeBirdiesOrBetter: true
            ConsecutiveBirdieOrBetterCount: 1.284659006116532
            Number: 6
            BogeyFree: true
            IncludesStreakOfSixBirdiesOrBetter: true
            IncludesFiveOrMoreBirdiesOrBetter: true
            Birdies: 6
            IncludesStreakOfFiveBirdiesOrBetter: true
            Score: 3
            LongestBirdieOrBetterStreak: 7.058770351582356
            DoubleEagles: 6
            BackNineStart: true
            Pars: 4
            PlayerTournamentID: 7
            WorseThanDoubleBogey: 7
            BounceBackCount: 6.965117697638846
            Holes:
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            TeeTime: TeeTime
            PlayerRoundID: 8
            Day: Day
            HoleInOnes: 5
          - Par: 0
            IncludesStreakOfFourBirdiesOrBetter: true
            Bogeys: 3
            WorseThanTripleBogey: 5
            Eagles: 6
            DoubleBogeys: 2
            TripleBogeys: 3
            IncludesStreakOfThreeBirdiesOrBetter: true
            ConsecutiveBirdieOrBetterCount: 1.284659006116532
            Number: 6
            BogeyFree: true
            IncludesStreakOfSixBirdiesOrBetter: true
            IncludesFiveOrMoreBirdiesOrBetter: true
            Birdies: 6
            IncludesStreakOfFiveBirdiesOrBetter: true
            Score: 3
            LongestBirdieOrBetterStreak: 7.058770351582356
            DoubleEagles: 6
            BackNineStart: true
            Pars: 4
            PlayerTournamentID: 7
            WorseThanDoubleBogey: 7
            BounceBackCount: 6.965117697638846
            Holes:
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            - Par: 3
              Birdie: true
              IsPar: true
              Score: 7
              Number: 6
              HoleInOne: true
              ToPar: 0
              DoubleEagle: true
              WorseThanDoubleBogey: true
              Bogey: true
              DoubleBogey: true
              PlayerRoundID: 3
              Eagle: true
            TeeTime: TeeTime
            PlayerRoundID: 8
            Day: Day
            HoleInOnes: 5
          Bogeys: 1.4658129805029452
          RoundsUnderSeventy: 3.2588565619047607
          WorseThanTripleBogey: 5.507386964179881
          Eagles: 3.616076749251911
          FantasyPointsYahoo: 7.457744773683766
          StreaksOfThreeBirdiesOrBetter: 1.041444916118296
          DoubleBogeys: 2.3021358869347655
          RoundsWithFiveOrMoreBirdiesOrBetter: 4.078845849666752
          TotalStrokes: 7.260521264802104
          DraftKingsSalary: 9
          Name: Name
          TripleBogeys: 9.702963800023566
          StreaksOfFourBirdiesOrBetter: 6.628464275087742
          StreaksOfSixBirdiesOrBetter: 4.258773108174356
          ConsecutiveBirdieOrBetterCount: 5.637376656633329
          FantasyPointsFantasyDraft: 6.84685269835264
          FedExPoints: 1
          TournamentID: 0
          TotalScore: 4.678947989005849
          FanDuelSalary: 4
          FantasyPoints: 1.2315135367772556
          Birdies: 0.8008281904610115
          OddsToWinDescription: OddsToWinDescription
          TournamentStatus: TournamentStatus
          TotalThrough: 9
          IsWithdrawn: true
          FantasyDraftSalary: 7
          FantasyPointsFanDuel: 1.4894159098541704
          IsAlternate: true
          Rank: 9
          OddsToWin: 9.965781217890562
          FantasyPointsDraftKings: 1.0246457001441578
          MadeCutDidNotFinish: true
          DoubleEagles: 7.061401241503109
          Pars: 9.369310271410669
          PlayerTournamentID: 8
          StreaksOfFiveBirdiesOrBetter: 0.2025324113236393
          WorseThanDoubleBogey: 7.933506881737151
          BounceBackCount: 5.962133916683182
          Country: Country
          TeeTime: TeeTime
          MadeCut: 5.025004791520295
          Earnings: 2.027123023002322
          Win: 0.5199002018724985
          HoleInOnes: 4.965218492984954
      properties:
        Players:
          items:
            $ref: '#/components/schemas/PlayerTournament'
          type: array
        Tournament:
          $ref: '#/components/schemas/Tournament'
    News:
      example:
        PlayerID: 6
        OriginalSourceUrl: OriginalSourceUrl
        Updated: Updated
        Categories: Categories
        TermsOfUse: TermsOfUse
        Content: Content
        OriginalSource: OriginalSource
        Author: Author
        Title: Title
        Source: Source
        Url: Url
        NewsID: 0
      properties:
        Author:
          nullable: true
          type: string
        Categories:
          nullable: true
          type: string
        Content:
          nullable: true
          type: string
        NewsID:
          nullable: false
          type: integer
        OriginalSource:
          nullable: true
          type: string
        OriginalSourceUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: true
          type: integer
        Source:
          nullable: true
          type: string
        TermsOfUse:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        Url:
          nullable: true
          type: string
    Player:
      example:
        PlayerID: 7
        FantasyDraftPlayerID: 5
        PgaDebut: 5
        FanDuelPlayerID: 6
        FirstName: FirstName
        BirthState: BirthState
        FanDuelName: FanDuelName
        DraftKingsName: DraftKingsName
        RotoworldPlayerID: 3
        Weight: 2
        PgaTourPlayerID: 2
        RotoWirePlayerID: 9
        FantasyAlarmPlayerID: 1
        SportRadarPlayerID: SportRadarPlayerID
        DraftKingsPlayerID: 0
        Swings: Swings
        BirthCity: BirthCity
        College: College
        Country: Country
        LastName: LastName
        PhotoUrl: PhotoUrl
        YahooPlayerID: 4
        BirthDate: BirthDate
        FantasyDraftName: FantasyDraftName
      properties:
        BirthCity:
          nullable: true
          type: string
        BirthDate:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        College:
          nullable: true
          type: string
        Country:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        LastName:
          nullable: true
          type: string
        PgaDebut:
          nullable: true
          type: integer
        PgaTourPlayerID:
          nullable: true
          type: integer
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        SportRadarPlayerID:
          nullable: true
          type: string
        Swings:
          nullable: true
          type: string
        Weight:
          nullable: true
          type: integer
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerHole:
      example:
        Par: 3
        Birdie: true
        IsPar: true
        Score: 7
        Number: 6
        HoleInOne: true
        ToPar: 0
        DoubleEagle: true
        WorseThanDoubleBogey: true
        Bogey: true
        DoubleBogey: true
        PlayerRoundID: 3
        Eagle: true
      properties:
        Birdie:
          nullable: false
          type: boolean
        Bogey:
          nullable: false
          type: boolean
        DoubleBogey:
          nullable: false
          type: boolean
        DoubleEagle:
          nullable: false
          type: boolean
        Eagle:
          nullable: false
          type: boolean
        HoleInOne:
          nullable: false
          type: boolean
        IsPar:
          nullable: false
          type: boolean
        Number:
          nullable: true
          type: integer
        Par:
          nullable: true
          type: integer
        PlayerRoundID:
          nullable: false
          type: integer
        Score:
          nullable: true
          type: integer
        ToPar:
          nullable: true
          type: integer
        WorseThanDoubleBogey:
          nullable: false
          type: boolean
    PlayerRound:
      example:
        Par: 0
        IncludesStreakOfFourBirdiesOrBetter: true
        Bogeys: 3
        WorseThanTripleBogey: 5
        Eagles: 6
        DoubleBogeys: 2
        TripleBogeys: 3
        IncludesStreakOfThreeBirdiesOrBetter: true
        ConsecutiveBirdieOrBetterCount: 1.284659006116532
        Number: 6
        BogeyFree: true
        IncludesStreakOfSixBirdiesOrBetter: true
        IncludesFiveOrMoreBirdiesOrBetter: true
        Birdies: 6
        IncludesStreakOfFiveBirdiesOrBetter: true
        Score: 3
        LongestBirdieOrBetterStreak: 7.058770351582356
        DoubleEagles: 6
        BackNineStart: true
        Pars: 4
        PlayerTournamentID: 7
        WorseThanDoubleBogey: 7
        BounceBackCount: 6.965117697638846
        Holes:
        - Par: 3
          Birdie: true
          IsPar: true
          Score: 7
          Number: 6
          HoleInOne: true
          ToPar: 0
          DoubleEagle: true
          WorseThanDoubleBogey: true
          Bogey: true
          DoubleBogey: true
          PlayerRoundID: 3
          Eagle: true
        - Par: 3
          Birdie: true
          IsPar: true
          Score: 7
          Number: 6
          HoleInOne: true
          ToPar: 0
          DoubleEagle: true
          WorseThanDoubleBogey: true
          Bogey: true
          DoubleBogey: true
          PlayerRoundID: 3
          Eagle: true
        TeeTime: TeeTime
        PlayerRoundID: 8
        Day: Day
        HoleInOnes: 5
      properties:
        BackNineStart:
          nullable: true
          type: boolean
        Birdies:
          nullable: true
          type: integer
        BogeyFree:
          nullable: false
          type: boolean
        Bogeys:
          nullable: true
          type: integer
        BounceBackCount:
          nullable: true
          type: number
        ConsecutiveBirdieOrBetterCount:
          nullable: true
          type: number
        Day:
          nullable: true
          type: string
        DoubleBogeys:
          nullable: true
          type: integer
        DoubleEagles:
          nullable: true
          type: integer
        Eagles:
          nullable: true
          type: integer
        HoleInOnes:
          nullable: true
          type: integer
        Holes:
          items:
            $ref: '#/components/schemas/PlayerHole'
          type: array
        IncludesFiveOrMoreBirdiesOrBetter:
          nullable: false
          type: boolean
        IncludesStreakOfFiveBirdiesOrBetter:
          nullable: false
          type: boolean
        IncludesStreakOfFourBirdiesOrBetter:
          nullable: false
          type: boolean
        IncludesStreakOfSixBirdiesOrBetter:
          nullable: false
          type: boolean
        IncludesStreakOfThreeBirdiesOrBetter:
          nullable: false
          type: boolean
        LongestBirdieOrBetterStreak:
          nullable: true
          type: number
        Number:
          nullable: true
          type: integer
        Par:
          nullable: true
          type: integer
        Pars:
          nullable: true
          type: integer
        PlayerRoundID:
          nullable: false
          type: integer
        PlayerTournamentID:
          nullable: false
          type: integer
        Score:
          nullable: true
          type: integer
        TeeTime:
          nullable: true
          type: string
        TripleBogeys:
          nullable: true
          type: integer
        WorseThanDoubleBogey:
          nullable: true
          type: integer
        WorseThanTripleBogey:
          nullable: true
          type: integer
    PlayerSeason:
      example:
        PlayerID: 1
        AveragePoints: 0.8008281904610115
        WorldGolfRank: 3
        PointsLost: 2.3021358869347655
        Events: 6
        PointsGained: 5.637376656633329
        PlayerSeasonID: 5
        WorldGolfRankLastWeek: 2
        Season: 7
        TotalPoints: 9.301444243932576
        Name: Name
      properties:
        AveragePoints:
          nullable: true
          type: number
        Events:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        PlayerSeasonID:
          nullable: false
          type: integer
        PointsGained:
          nullable: true
          type: number
        PointsLost:
          nullable: true
          type: number
        Season:
          nullable: false
          type: integer
        TotalPoints:
          nullable: true
          type: number
        WorldGolfRank:
          nullable: true
          type: integer
        WorldGolfRankLastWeek:
          nullable: true
          type: integer
    PlayerTournament:
      example:
        PlayerID: 6
        BogeyFreeRounds: 6.027456183070403
        Rounds:
        - Par: 0
          IncludesStreakOfFourBirdiesOrBetter: true
          Bogeys: 3
          WorseThanTripleBogey: 5
          Eagles: 6
          DoubleBogeys: 2
          TripleBogeys: 3
          IncludesStreakOfThreeBirdiesOrBetter: true
          ConsecutiveBirdieOrBetterCount: 1.284659006116532
          Number: 6
          BogeyFree: true
          IncludesStreakOfSixBirdiesOrBetter: true
          IncludesFiveOrMoreBirdiesOrBetter: true
          Birdies: 6
          IncludesStreakOfFiveBirdiesOrBetter: true
          Score: 3
          LongestBirdieOrBetterStreak: 7.058770351582356
          DoubleEagles: 6
          BackNineStart: true
          Pars: 4
          PlayerTournamentID: 7
          WorseThanDoubleBogey: 7
          BounceBackCount: 6.965117697638846
          Holes:
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          TeeTime: TeeTime
          PlayerRoundID: 8
          Day: Day
          HoleInOnes: 5
        - Par: 0
          IncludesStreakOfFourBirdiesOrBetter: true
          Bogeys: 3
          WorseThanTripleBogey: 5
          Eagles: 6
          DoubleBogeys: 2
          TripleBogeys: 3
          IncludesStreakOfThreeBirdiesOrBetter: true
          ConsecutiveBirdieOrBetterCount: 1.284659006116532
          Number: 6
          BogeyFree: true
          IncludesStreakOfSixBirdiesOrBetter: true
          IncludesFiveOrMoreBirdiesOrBetter: true
          Birdies: 6
          IncludesStreakOfFiveBirdiesOrBetter: true
          Score: 3
          LongestBirdieOrBetterStreak: 7.058770351582356
          DoubleEagles: 6
          BackNineStart: true
          Pars: 4
          PlayerTournamentID: 7
          WorseThanDoubleBogey: 7
          BounceBackCount: 6.965117697638846
          Holes:
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          TeeTime: TeeTime
          PlayerRoundID: 8
          Day: Day
          HoleInOnes: 5
        Bogeys: 1.4658129805029452
        RoundsUnderSeventy: 3.2588565619047607
        WorseThanTripleBogey: 5.507386964179881
        Eagles: 3.616076749251911
        FantasyPointsYahoo: 7.457744773683766
        StreaksOfThreeBirdiesOrBetter: 1.041444916118296
        DoubleBogeys: 2.3021358869347655
        RoundsWithFiveOrMoreBirdiesOrBetter: 4.078845849666752
        TotalStrokes: 7.260521264802104
        DraftKingsSalary: 9
        Name: Name
        TripleBogeys: 9.702963800023566
        StreaksOfFourBirdiesOrBetter: 6.628464275087742
        StreaksOfSixBirdiesOrBetter: 4.258773108174356
        ConsecutiveBirdieOrBetterCount: 5.637376656633329
        FantasyPointsFantasyDraft: 6.84685269835264
        FedExPoints: 1
        TournamentID: 0
        TotalScore: 4.678947989005849
        FanDuelSalary: 4
        FantasyPoints: 1.2315135367772556
        Birdies: 0.8008281904610115
        OddsToWinDescription: OddsToWinDescription
        TournamentStatus: TournamentStatus
        TotalThrough: 9
        IsWithdrawn: true
        FantasyDraftSalary: 7
        FantasyPointsFanDuel: 1.4894159098541704
        IsAlternate: true
        Rank: 9
        OddsToWin: 9.965781217890562
        FantasyPointsDraftKings: 1.0246457001441578
        MadeCutDidNotFinish: true
        DoubleEagles: 7.061401241503109
        Pars: 9.369310271410669
        PlayerTournamentID: 8
        StreaksOfFiveBirdiesOrBetter: 0.2025324113236393
        WorseThanDoubleBogey: 7.933506881737151
        BounceBackCount: 5.962133916683182
        Country: Country
        TeeTime: TeeTime
        MadeCut: 5.025004791520295
        Earnings: 2.027123023002322
        Win: 0.5199002018724985
        HoleInOnes: 4.965218492984954
      properties:
        Birdies:
          nullable: true
          type: number
        BogeyFreeRounds:
          nullable: true
          type: number
        Bogeys:
          nullable: true
          type: number
        BounceBackCount:
          nullable: true
          type: number
        ConsecutiveBirdieOrBetterCount:
          nullable: true
          type: number
        Country:
          nullable: true
          type: string
        DoubleBogeys:
          nullable: true
          type: number
        DoubleEagles:
          nullable: true
          type: number
        DraftKingsSalary:
          nullable: true
          type: integer
        Eagles:
          nullable: true
          type: number
        Earnings:
          nullable: true
          type: number
        FanDuelSalary:
          nullable: true
          type: integer
        FantasyDraftSalary:
          nullable: true
          type: integer
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FedExPoints:
          nullable: true
          type: integer
        HoleInOnes:
          nullable: true
          type: number
        IsAlternate:
          nullable: true
          type: boolean
        IsWithdrawn:
          nullable: false
          type: boolean
        MadeCut:
          nullable: true
          type: number
        MadeCutDidNotFinish:
          nullable: true
          type: boolean
        Name:
          nullable: true
          type: string
        OddsToWin:
          nullable: true
          type: number
        OddsToWinDescription:
          nullable: true
          type: string
        Pars:
          nullable: true
          type: number
        PlayerID:
          nullable: false
          type: integer
        PlayerTournamentID:
          nullable: false
          type: integer
        Rank:
          nullable: true
          type: integer
        Rounds:
          items:
            $ref: '#/components/schemas/PlayerRound'
          type: array
        RoundsUnderSeventy:
          nullable: true
          type: number
        RoundsWithFiveOrMoreBirdiesOrBetter:
          nullable: true
          type: number
        StreaksOfFiveBirdiesOrBetter:
          nullable: true
          type: number
        StreaksOfFourBirdiesOrBetter:
          nullable: true
          type: number
        StreaksOfSixBirdiesOrBetter:
          nullable: true
          type: number
        StreaksOfThreeBirdiesOrBetter:
          nullable: true
          type: number
        TeeTime:
          nullable: true
          type: string
        TotalScore:
          nullable: true
          type: number
        TotalStrokes:
          nullable: true
          type: number
        TotalThrough:
          nullable: true
          type: integer
        TournamentID:
          nullable: false
          type: integer
        TournamentStatus:
          nullable: true
          type: string
        TripleBogeys:
          nullable: true
          type: number
        Win:
          nullable: true
          type: number
        WorseThanDoubleBogey:
          nullable: true
          type: number
        WorseThanTripleBogey:
          nullable: true
          type: number
    PlayerTournamentProjection:
      example:
        PlayerID: 6
        BogeyFreeRounds: 6.027456183070403
        Rounds:
        - Par: 0
          IncludesStreakOfFourBirdiesOrBetter: true
          Bogeys: 3
          WorseThanTripleBogey: 5
          Eagles: 6
          DoubleBogeys: 2
          TripleBogeys: 3
          IncludesStreakOfThreeBirdiesOrBetter: true
          ConsecutiveBirdieOrBetterCount: 1.284659006116532
          Number: 6
          BogeyFree: true
          IncludesStreakOfSixBirdiesOrBetter: true
          IncludesFiveOrMoreBirdiesOrBetter: true
          Birdies: 6
          IncludesStreakOfFiveBirdiesOrBetter: true
          Score: 3
          LongestBirdieOrBetterStreak: 7.058770351582356
          DoubleEagles: 6
          BackNineStart: true
          Pars: 4
          PlayerTournamentID: 7
          WorseThanDoubleBogey: 7
          BounceBackCount: 6.965117697638846
          Holes:
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          TeeTime: TeeTime
          PlayerRoundID: 8
          Day: Day
          HoleInOnes: 5
        - Par: 0
          IncludesStreakOfFourBirdiesOrBetter: true
          Bogeys: 3
          WorseThanTripleBogey: 5
          Eagles: 6
          DoubleBogeys: 2
          TripleBogeys: 3
          IncludesStreakOfThreeBirdiesOrBetter: true
          ConsecutiveBirdieOrBetterCount: 1.284659006116532
          Number: 6
          BogeyFree: true
          IncludesStreakOfSixBirdiesOrBetter: true
          IncludesFiveOrMoreBirdiesOrBetter: true
          Birdies: 6
          IncludesStreakOfFiveBirdiesOrBetter: true
          Score: 3
          LongestBirdieOrBetterStreak: 7.058770351582356
          DoubleEagles: 6
          BackNineStart: true
          Pars: 4
          PlayerTournamentID: 7
          WorseThanDoubleBogey: 7
          BounceBackCount: 6.965117697638846
          Holes:
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          - Par: 3
            Birdie: true
            IsPar: true
            Score: 7
            Number: 6
            HoleInOne: true
            ToPar: 0
            DoubleEagle: true
            WorseThanDoubleBogey: true
            Bogey: true
            DoubleBogey: true
            PlayerRoundID: 3
            Eagle: true
          TeeTime: TeeTime
          PlayerRoundID: 8
          Day: Day
          HoleInOnes: 5
        Bogeys: 1.4658129805029452
        RoundsUnderSeventy: 6.438423552598547
        WorseThanTripleBogey: 7.058770351582356
        Eagles: 3.616076749251911
        FantasyPointsYahoo: 7.457744773683766
        StreaksOfThreeBirdiesOrBetter: 6.778324963048013
        DoubleBogeys: 2.3021358869347655
        RoundsWithFiveOrMoreBirdiesOrBetter: 3.5571952270680973
        TotalStrokes: 5.944895607614016
        DraftKingsSalary: 9
        Name: Name
        TripleBogeys: 3.0937452626664474
        StreaksOfFourBirdiesOrBetter: 1.284659006116532
        StreaksOfSixBirdiesOrBetter: 2.8841621266687802
        ConsecutiveBirdieOrBetterCount: 5.637376656633329
        FantasyPointsFantasyDraft: 6.84685269835264
        FedExPoints: 1
        TournamentID: 3
        TotalScore: 6.878052220127876
        FanDuelSalary: 4
        FantasyPoints: 1.2315135367772556
        Birdies: 0.8008281904610115
        OddsToWinDescription: OddsToWinDescription
        TournamentStatus: TournamentStatus
        TotalThrough: 6
        IsWithdrawn: true
        FantasyDraftSalary: 7
        FantasyPointsFanDuel: 1.4894159098541704
        IsAlternate: true
        Rank: 9
        OddsToWin: 9.965781217890562
        FantasyPointsDraftKings: 1.0246457001441578
        MadeCutDidNotFinish: true
        DoubleEagles: 7.061401241503109
        Pars: 9.369310271410669
        PlayerTournamentID: 8
        StreaksOfFiveBirdiesOrBetter: 6.965117697638846
        WorseThanDoubleBogey: 0.8851374739011653
        BounceBackCount: 5.962133916683182
        Country: Country
        TeeTime: TeeTime
        MadeCut: 5.025004791520295
        Earnings: 2.027123023002322
        Win: 7.143538047012306
        HoleInOnes: 4.965218492984954
      properties:
        Birdies:
          nullable: true
          type: number
        BogeyFreeRounds:
          nullable: true
          type: number
        Bogeys:
          nullable: true
          type: number
        BounceBackCount:
          nullable: true
          type: number
        ConsecutiveBirdieOrBetterCount:
          nullable: true
          type: number
        Country:
          nullable: true
          type: string
        DoubleBogeys:
          nullable: true
          type: number
        DoubleEagles:
          nullable: true
          type: number
        DraftKingsSalary:
          nullable: true
          type: integer
        Eagles:
          nullable: true
          type: number
        Earnings:
          nullable: true
          type: number
        FanDuelSalary:
          nullable: true
          type: integer
        FantasyDraftSalary:
          nullable: true
          type: integer
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FedExPoints:
          nullable: true
          type: integer
        HoleInOnes:
          nullable: true
          type: number
        IsAlternate:
          nullable: true
          type: boolean
        IsWithdrawn:
          nullable: false
          type: boolean
        MadeCut:
          nullable: true
          type: number
        MadeCutDidNotFinish:
          nullable: true
          type: boolean
        Name:
          nullable: true
          type: string
        OddsToWin:
          nullable: true
          type: number
        OddsToWinDescription:
          nullable: true
          type: string
        Pars:
          nullable: true
          type: number
        PlayerID:
          nullable: false
          type: integer
        PlayerTournamentID:
          nullable: false
          type: integer
        Rank:
          nullable: true
          type: integer
        Rounds:
          items:
            $ref: '#/components/schemas/PlayerRound'
          type: array
        RoundsUnderSeventy:
          nullable: true
          type: number
        RoundsWithFiveOrMoreBirdiesOrBetter:
          nullable: true
          type: number
        StreaksOfFiveBirdiesOrBetter:
          nullable: true
          type: number
        StreaksOfFourBirdiesOrBetter:
          nullable: true
          type: number
        StreaksOfSixBirdiesOrBetter:
          nullable: true
          type: number
        StreaksOfThreeBirdiesOrBetter:
          nullable: true
          type: number
        TeeTime:
          nullable: true
          type: string
        TotalScore:
          nullable: true
          type: number
        TotalStrokes:
          nullable: true
          type: number
        TotalThrough:
          nullable: true
          type: integer
        TournamentID:
          nullable: false
          type: integer
        TournamentStatus:
          nullable: true
          type: string
        TripleBogeys:
          nullable: true
          type: number
        Win:
          nullable: true
          type: number
        WorseThanDoubleBogey:
          nullable: true
          type: number
        WorseThanTripleBogey:
          nullable: true
          type: number
    Round:
      example:
        Number: 7
        RoundID: 1
        TournamentID: 1
        Day: Day
      properties:
        Day:
          nullable: true
          type: string
        Number:
          nullable: true
          type: integer
        RoundID:
          nullable: false
          type: integer
        TournamentID:
          nullable: false
          type: integer
    Season:
      example:
        StartDate: StartDate
        Description: Description
        SeasonID: 0
        EndDate: EndDate
      properties:
        Description:
          nullable: true
          type: string
        EndDate:
          nullable: true
          type: string
        SeasonID:
          nullable: false
          type: integer
        StartDate:
          nullable: true
          type: string
    Tournament:
      example:
        Par: 2
        Purse: 4.145608029883936
        Venue: Venue
        Rounds:
        - Number: 7
          RoundID: 1
          TournamentID: 1
          Day: Day
        - Number: 7
          RoundID: 1
          TournamentID: 1
          Day: Day
        ZipCode: ZipCode
        SportRadarTournamentID: SportRadarTournamentID
        Yards: 6
        City: City
        EndDate: EndDate
        Covered: true
        Name: Name
        IsInProgress: true
        StartDate: StartDate
        IsOver: true
        TimeZone: TimeZone
        Format: Format
        StartDateTime: StartDateTime
        OddsCoverage: OddsCoverage
        State: State
        Country: Country
        TournamentID: 1
        Canceled: true
        Location: Location
      properties:
        Canceled:
          nullable: true
          type: boolean
        City:
          nullable: true
          type: string
        Country:
          nullable: true
          type: string
        Covered:
          nullable: true
          type: boolean
        EndDate:
          nullable: true
          type: string
        Format:
          nullable: true
          type: string
        IsInProgress:
          nullable: false
          type: boolean
        IsOver:
          nullable: false
          type: boolean
        Location:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        OddsCoverage:
          nullable: true
          type: string
        Par:
          nullable: true
          type: integer
        Purse:
          nullable: true
          type: number
        Rounds:
          items:
            $ref: '#/components/schemas/Round'
          type: array
        SportRadarTournamentID:
          nullable: true
          type: string
        StartDate:
          nullable: true
          type: string
        StartDateTime:
          nullable: true
          type: string
        State:
          nullable: true
          type: string
        TimeZone:
          nullable: true
          type: string
        TournamentID:
          nullable: false
          type: integer
        Venue:
          nullable: true
          type: string
        Yards:
          nullable: true
          type: integer
        ZipCode:
          nullable: true
          type: string
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

