openapi: 3.0.1
info:
  description: The APIs listed in this specification can be used to manage Deployment
    Scripts resource through the Azure Resource Manager.
  title: DeploymentScriptsClient
  version: 2019-10-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Resources/preview/2019-10-01-preview/deploymentScripts.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: resources-deploymentScripts
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deploymentScripts:
    get:
      description: Lists all deployment scripts for a given subscription.
      operationId: deployment_scripts_list_by_subscription
      parameters:
      - description: Subscription Id which forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client Api version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptListResult'
          description: OK -- Returns a list of deployment scripts.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentScripts
      x-ms-examples:
        DeploymentScriptsListBySubscription:
          parameters:
            api-version: 2019-10-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - identity:
                    type: UserAssigned
                    userAssignedIdentities:
                      ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
                      : {}
                  kind: AzurePowerShell
                  location: westus
                  properties:
                    arguments: -Location 'westus' -Name "*rg2"
                    azPowerShellVersion: 1.7.0
                    cleanupPreference: Always
                    outputs:
                      output1: value1
                    provisioningState: Succeeded
                    retentionInterval: PT7D
                    scriptContent: "Param([string]$Location,[string]$Name) $deploymentScriptOutputs['test']\
                      \ = 'value' Get-AzResourceGroup -Location $Location -Name $Name"
                    status:
                      containerInstanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ContainerInstance/containerGroups/scriptContainer
                      endTime: 2018-11-13T15:19:45-08:00
                      expirationTime: 2018-11-13T15:19:45-08:00
                      startTime: 2018-11-13T15:19:45-08:00
                      storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.Storage/storageAccounts/scriptStorage
                    timeout: PT1H
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.deployment_scripts_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts:
    get:
      description: Lists deployments scripts.
      operationId: deployment_scripts_list_by_resource_group
      parameters:
      - description: Subscription Id which forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptListResult'
          description: OK -- Returns a list of deployment scripts.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentScripts
      x-ms-examples:
        DeploymentScriptsList:
          parameters:
            api-version: 2019-10-01-preview
            resourceGroupName: script-rg
            scriptName: MyDeploymentScript
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - identity:
                    type: UserAssigned
                    userAssignedIdentities:
                      ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
                      : {}
                  kind: AzurePowerShell
                  location: westus
                  properties:
                    arguments: -Location 'westus' -Name "*rg2"
                    azPowerShellVersion: 1.7.0
                    cleanupPreference: Always
                    outputs:
                      output1: value1
                    provisioningState: Succeeded
                    retentionInterval: P7D
                    scriptContent: "Param([string]$Location,[string]$Name) $deploymentScriptOutputs['test']\
                      \ = 'value' Get-AzResourceGroup -Location $Location -Name $Name"
                    status:
                      containerInstanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ContainerInstance/containerGroups/scriptContainer
                      endTime: 2018-11-13T15:19:45-08:00
                      expirationTime: 2018-11-13T15:19:45-08:00
                      startTime: 2018-11-13T15:19:45-08:00
                      storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.Storage/storageAccounts/scriptStorage
                    supportingScriptUris:
                    - https://uri1.to.supporting.script
                    - https://uri2.to.supporting.script
                    timeout: PT1H
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.deployment_scripts_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}:
    delete:
      description: "Deletes a deployment script. When operation completes, status\
        \ code 200 returned without content."
      operationId: deployment_scripts_delete
      parameters:
      - description: Subscription Id which forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the deployment script.
        in: path
        name: script_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: OK -- Deployment script deleted.
        "204":
          content: {}
          description: Deployment script does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentScripts
      x-ms-examples:
        DeploymentScriptsDelete:
          parameters:
            api-version: 2019-10-01-preview
            deploymentScript:
              identity:
                type: UserAssigned
                userAssignedIdentities:
                  ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
                  : {}
              kind: AzurePowerShell
              location: westus
              properties:
                arguments: user script arguments
                azPowerShellVersion: 1.7.0
                cleanupPreference: Always
                outputs:
                  output1: value1
                provisioningState: Succeeded
                results:
                  aciId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ContainerInstance/containerGroups/scriptContainer
                  endTime: 2018-11-13T15:19:45-08:00
                  expirationTime: 2018-11-13T15:19:45-08:00
                  startTime: 2018-11-13T15:19:45-08:00
                  storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.Storage/storageAccounts/scriptStorage
                retentionInterval: PT7D
                scriptContent: user script body
                supportingScriptUris:
                - https://uri1.to.supporting.script
                - https://uri2.to.supporting.script
                timeout: PT1H
            resourceGroupName: script-rg
            scriptName: MyDeploymentScript
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.deployment_scripts_controller
    get:
      description: Gets a deployment script with a given name.
      operationId: deployment_scripts_get
      parameters:
      - description: Subscription Id which forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the deployment script.
        in: path
        name: scriptName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScript'
          description: OK -- Returns information about the deployment script.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentScripts
      x-ms-examples:
        DeploymentScriptsGet:
          parameters:
            api-version: 2019-10-01-preview
            resourceGroupName: script-rg
            scriptName: MyDeploymentScript
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                identity:
                  type: UserAssigned
                  userAssignedIdentities:
                    ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
                    : {}
                kind: AzurePowerShell
                location: westus
                properties:
                  arguments: -Location 'westus' -Name "*rg2"
                  azPowerShellVersion: 1.7.0
                  cleanupPreference: Always
                  outputs:
                    output1: value1
                  provisioningState: Succeeded
                  retentionInterval: PT7D
                  scriptContent: "Param([string]$Location,[string]$Name) $deploymentScriptOutputs['test']\
                    \ = 'value' Get-AzResourceGroup -Location $Location -Name $Name"
                  status:
                    containerInstanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ContainerInstance/containerGroups/scriptContainer
                    endTime: 2018-11-13T15:19:45-08:00
                    expirationTime: 2018-11-13T15:19:45-08:00
                    startTime: 2018-11-13T15:19:45-08:00
                    storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.Storage/storageAccounts/scriptStorage
                  timeout: PT1H
      x-openapi-router-controller: openapi_server.controllers.deployment_scripts_controller
    patch:
      description: Updates deployment script tags with specified values.
      operationId: deployment_scripts_update
      parameters:
      - description: Subscription Id which forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the deployment script.
        in: path
        name: script_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentScriptUpdateParameter'
        description: Deployment script resource with the tags to be updated.
        required: false
        x-body-name: deploymentScript
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScript'
          description: OK -- Deployment script tags are updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentScripts
      x-ms-examples:
        DeploymentScriptsUpdate:
          parameters:
            api-version: 2019-10-01-preview
            deploymentScript:
              tags: {}
            resourceGroupName: script-rg
            scriptName: MyDeploymentScript
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                identity:
                  type: UserAssigned
                  userAssignedIdentities:
                    ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
                    : {}
                kind: AzurePowerShell
                location: westus
                properties:
                  arguments: -Location 'westus' -Name "*rg2"
                  azPowerShellVersion: 1.7.0
                  cleanupPreference: Always
                  outputs:
                    output1: value1
                  provisioningState: Succeeded
                  retentionInterval: P7D
                  scriptContent: "Param([string]$Location,[string]$Name) $deploymentScriptOutputs['test']\
                    \ = 'value' Get-AzResourceGroup -Location $Location -Name $Name"
                  status:
                    containerInstanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ContainerInstance/containerGroups/scriptContainer
                    endTime: 2018-11-13T15:19:45-08:00
                    expirationTime: 2018-11-13T15:19:45-08:00
                    startTime: 2018-11-13T15:19:45-08:00
                    storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.Storage/storageAccounts/scriptStorage
                  supportingScriptUris:
                  - https://uri1.to.supporting.script
                  - https://uri2.to.supporting.script
                  timeout: PT1H
                tags: {}
      x-codegen-request-body-name: deploymentScript
      x-openapi-router-controller: openapi_server.controllers.deployment_scripts_controller
    put:
      description: Creates a deployment script.
      operationId: deployment_scripts_create
      parameters:
      - description: Subscription Id which forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the deployment script.
        in: path
        name: script_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentScript'
        description: Deployment script supplied to the operation.
        required: true
        x-body-name: deploymentScript
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScript'
          description: OK -- Deployment script is updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScript'
          description: Created -- Deployment script created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentScripts
      x-ms-examples:
        DeploymentScriptsCreate:
          parameters:
            api-version: 2019-10-01-preview
            deploymentScript:
              identity:
                type: UserAssigned
                userAssignedIdentities:
                  ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
                  : {}
              kind: AzurePowerShell
              location: westus
              properties:
                arguments: -Location 'westus' -Name "*rg2"
                azPowerShellVersion: 1.7.0
                cleanupPreference: Always
                retentionInterval: PT7D
                scriptContent: "Param([string]$Location,[string]$Name) $deploymentScriptOutputs['test']\
                  \ = 'value' Get-AzResourceGroup -Location $Location -Name $Name"
                supportingScriptUris:
                - https://uri1.to.supporting.script
                - https://uri2.to.supporting.script
                timeout: PT1H
            resourceGroupName: script-rg
            scriptName: MyDeploymentScript
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                identity:
                  type: UserAssigned
                  userAssignedIdentities:
                    ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
                    : {}
                kind: AzurePowerShell
                location: westus
                properties:
                  arguments: -Location 'westus' -Name "*rg2"
                  azPowerShellVersion: 1.7.0
                  cleanupPreference: Always
                  outputs:
                    output1: value1
                  provisioningState: Succeeded
                  retentionInterval: P7D
                  scriptContent: "Param([string]$Location,[string]$Name) $deploymentScriptOutputs['test']\
                    \ = 'value' Get-AzResourceGroup -Location $Location -Name $Name"
                  status:
                    containerInstanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ContainerInstance/containerGroups/scriptContainer
                    endTime: 2018-11-13T15:19:45-08:00
                    expirationTime: 2018-11-13T15:19:45-08:00
                    startTime: 2018-11-13T15:19:45-08:00
                    storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.Storage/storageAccounts/scriptStorage
                  supportingScriptUris:
                  - https://uri1.to.supporting.script
                  - https://uri2.to.supporting.script
                  timeout: PT1H
            "201":
              body:
                identity:
                  type: UserAssigned
                  userAssignedIdentities:
                    ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
                    : {}
                kind: AzurePowerShell
                location: westus
                properties:
                  arguments: -Location 'westus' -Name "*rg2"
                  azPowerShellVersion: 1.7.0
                  cleanupPreference: Always
                  provisioningState: Creating
                  retentionInterval: P7D
                  scriptContent: "Param([string]$Location,[string]$Name) $deploymentScriptOutputs['test']\
                    \ = 'value' Get-AzResourceGroup -Location $Location -Name $Name"
                  status:
                    containerInstanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ContainerInstance/containerGroups/scriptContainer
                    endTime: 2018-11-13T15:19:45-08:00
                    expirationTime: 2018-11-13T15:19:45-08:00
                    startTime: 2018-11-13T15:19:45-08:00
                    storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.Storage/storageAccounts/scriptStorage
                  supportingScriptUris:
                  - https://uri1.to.supporting.script
                  - https://uri2.to.supporting.script
                  timeout: PT1H
        DeploymentScriptsCreate_MinCreate:
          parameters:
            api-version: 2019-10-01-preview
            deploymentScript:
              identity:
                type: UserAssigned
                userAssignedIdentities:
                  ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
                  : {}
              kind: AzurePowerShell
              location: westus
              properties:
                arguments: -Location 'westus' -Name "*rg2"
                azPowerShellVersion: 1.7.0
                retentionInterval: P7D
                scriptContent: "Param([string]$Location,[string]$Name) $deploymentScriptOutputs['test']\
                  \ = 'value' Get-AzResourceGroup -Location $Location -Name $Name"
            resourceGroupName: script-rg
            scriptName: MyDeploymentScript
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                identity:
                  type: UserAssigned
                  userAssignedIdentities:
                    ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
                    : {}
                kind: AzurePowerShell
                location: westus
                properties:
                  arguments: -Location 'westus' -Name "*rg2"
                  azPowerShellVersion: 1.7.0
                  cleanupPreference: Always
                  outputs:
                    output1: value1
                  provisioningState: Succeeded
                  retentionInterval: P7D
                  scriptContent: "Param([string]$Location,[string]$Name) $deploymentScriptOutputs['test']\
                    \ = 'value' Get-AzResourceGroup -Location $Location -Name $Name"
                  status:
                    containerInstanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ContainerInstance/containerGroups/scriptContainer
                    endTime: 2018-11-13T15:19:45-08:00
                    expirationTime: 2018-11-13T15:19:45-08:00
                    startTime: 2018-11-13T15:19:45-08:00
                    storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.Storage/storageAccounts/scriptStorage
                  timeout: PT1H
            "201":
              body:
                identity:
                  type: UserAssigned
                  userAssignedIdentities:
                    ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai
                    : {}
                kind: AzurePowerShell
                location: westus
                properties:
                  arguments: -Location 'westus' -Name "*rg2"
                  azPowerShellVersion: 1.7.0
                  cleanupPreference: Always
                  provisioningState: Creating
                  retentionInterval: P7D
                  scriptContent: "Param([string]$Location,[string]$Name) $deploymentScriptOutputs['test']\
                    \ = 'value' Get-AzResourceGroup -Location $Location -Name $Name"
                  status:
                    containerInstanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.ContainerInstance/containerGroups/scriptContainer
                    endTime: 2018-11-13T15:19:45-08:00
                    expirationTime: 2018-11-13T15:19:45-08:00
                    startTime: 2018-11-13T15:19:45-08:00
                    storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/scriptRG/providers/Microsoft.Storage/storageAccounts/scriptStorage
                  timeout: PT1H
      x-ms-long-running-operation: true
      x-codegen-request-body-name: deploymentScript
      x-openapi-router-controller: openapi_server.controllers.deployment_scripts_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}/logs
  : get:
      description: Gets deployment script logs for a given deployment script name.
      operationId: deployment_scripts_get_logs
      parameters:
      - description: Subscription Id which forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the deployment script.
        in: path
        name: script_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptLogsList'
          description: OK -- Returns deployment script logs if available.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentScripts
      x-ms-examples:
        DeploymentScriptsGetLogs:
          parameters:
            api-version: 2019-10-01-preview
            resourceGroupName: script-rg
            scriptName: MyDeploymentScript
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - properties:
                    log: script execution stdout/stderr logs
      x-openapi-router-controller: openapi_server.controllers.deployment_scripts_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}/logs/default
  : get:
      description: Gets deployment script logs for a given deployment script name.
      operationId: deployment_scripts_get_logs_default
      parameters:
      - description: Subscription Id which forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the deployment script.
        in: path
        name: script_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptLog'
          description: OK -- Returns deployment script logs if available.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DeploymentScripts
      x-ms-examples:
        DeploymentScriptsGetLogs:
          parameters:
            api-version: 2019-10-01-preview
            resourceGroupName: script-rg
            scriptName: MyDeploymentScript
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                properties:
                  log: script execution stdout/stderr logs
      x-openapi-router-controller: openapi_server.controllers.deployment_scripts_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    ResourceGroupNameParameter:
      description: The name of the resource group. The name is case insensitive.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ScriptNameParameter:
      description: Name of the deployment script.
      in: path
      name: scriptName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription Id which forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
  schemas:
    AzureCliScript:
      allOf:
      - $ref: '#/components/schemas/DeploymentScript'
      description: Object model for the Azure CLI script.
      properties:
        properties:
          $ref: '#/components/schemas/AzureCliScriptProperties'
      required:
      - properties
      x-ms-discriminator-value: AzureCLI
    AzureCliScriptProperties:
      allOf:
      - $ref: '#/components/schemas/DeploymentScriptPropertiesBase'
      - $ref: '#/components/schemas/ScriptConfigurationBase'
      description: Properties of the Azure CLI script object.
      properties:
        azCliVersion:
          description: Azure CLI module version to be used.
          title: azCliVersion
          type: string
      required:
      - azCliVersion
      title: AzureCliScriptProperties
    AzurePowerShellScript:
      allOf:
      - $ref: '#/components/schemas/DeploymentScript'
      description: Object model for the Azure PowerShell script.
      properties:
        properties:
          $ref: '#/components/schemas/AzurePowerShellScriptProperties'
      required:
      - properties
      x-ms-discriminator-value: AzurePowerShell
    AzurePowerShellScriptProperties:
      allOf:
      - $ref: '#/components/schemas/DeploymentScriptPropertiesBase'
      - $ref: '#/components/schemas/ScriptConfigurationBase'
      description: Properties of the Azure PowerShell script object.
      properties:
        azPowerShellVersion:
          description: Azure PowerShell module version to be used.
          title: azPowerShellVersion
          type: string
      required:
      - azPowerShellVersion
      title: AzurePowerShellScriptProperties
    AzureResourceBase:
      description: Common properties for all Azure resources.
      properties:
        id:
          description: String Id used to locate any resource on Azure.
          readOnly: true
          title: id
          type: string
        name:
          description: Name of this resource.
          readOnly: true
          title: name
          type: string
        type:
          description: Type of this resource.
          readOnly: true
          title: type
          type: string
      title: AzureResourceBase
      type: object
      x-ms-azure-resource: true
    DefaultErrorResponse:
      description: The details of the error.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: One of a server-defined set of error codes.
          title: code
          type: string
        details:
          description: Detailed errors.
          items:
            $ref: '#/components/schemas/DefaultErrorResponse'
          title: details
          type: array
        message:
          description: A human-readable representation of the error.
          title: message
          type: string
        target:
          description: The target of the particular error.
          title: target
          type: string
      title: DefaultErrorResponse
      type: object
    DeploymentScript:
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      description: Deployment script object.
      example:
        identity:
          userAssignedIdentities:
            key:
              clientId: clientId
              principalId: principalId
          type: UserAssigned
        kind: AzurePowerShell
        location: location
        tags:
          key: tags
      properties:
        identity:
          $ref: '#/components/schemas/ManagedServiceIdentity'
        kind:
          description: Type of the script.
          enum:
          - AzurePowerShell
          - AzureCLI
          title: kind
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScriptType
        location:
          description: The location of the ACI and the storage account for the deployment
            script.
          title: location
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      required:
      - identity
      - kind
      - location
      title: DeploymentScript
    DeploymentScriptListResult:
      description: List of deployment scripts.
      example:
        value:
        - identity:
            userAssignedIdentities:
              key:
                clientId: clientId
                principalId: principalId
            type: UserAssigned
          kind: AzurePowerShell
          location: location
          tags:
            key: tags
        - identity:
            userAssignedIdentities:
              key:
                clientId: clientId
                principalId: principalId
            type: UserAssigned
          kind: AzurePowerShell
          location: location
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: An array of deployment scripts.
          items:
            $ref: '#/components/schemas/DeploymentScript'
          title: value
          type: array
      title: DeploymentScriptListResult
      type: object
    DeploymentScriptPropertiesBase:
      description: Common properties for the deployment script.
      properties:
        cleanupPreference:
          description: The clean up preference when the script execution gets in a
            terminal state. Default setting is 'Always'.
          enum:
          - Always
          - OnSuccess
          - OnExpiration
          title: cleanupPreference
          type: string
          x-ms-enum:
            modelAsString: true
            name: cleanupOptions
        outputs:
          additionalProperties:
            description: "Script output in <name, value> pair."
            properties: {}
            type: object
          description: List of script outputs.
          readOnly: true
          title: outputs
          type: object
        provisioningState:
          description: State of the script execution. This only appears in the response.
          enum:
          - Creating
          - ProvisioningResources
          - Running
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScriptProvisioningState
        status:
          $ref: '#/components/schemas/ScriptStatus'
      title: DeploymentScriptPropertiesBase
      type: object
      x-ms-external: true
    DeploymentScriptUpdateParameter:
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      description: 'Deployment script parameters to be updated. '
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags to be updated.
          title: tags
          type: object
      title: DeploymentScriptUpdateParameter
    EnvironmentVariable:
      description: The environment variable to pass to the script in the container
        instance.
      properties:
        name:
          description: The name of the environment variable.
          title: name
          type: string
        secureValue:
          description: The value of the secure environment variable.
          title: secureValue
          type: string
        value:
          description: The value of the environment variable.
          title: value
          type: string
      required:
      - name
      title: EnvironmentVariable
      type: object
    LogProperties:
      description: Script log properties.
      example:
        log: log
      properties:
        log:
          description: Script execution logs in text format.
          readOnly: true
          title: log
          type: string
      title: LogProperties
      type: object
    ManagedServiceIdentity:
      description: Managed identity generic object.
      example:
        userAssignedIdentities:
          key:
            clientId: clientId
            principalId: principalId
        type: UserAssigned
      properties:
        type:
          description: Type of the managed identity.
          enum:
          - UserAssigned
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedServiceIdentityType
        userAssignedIdentities:
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
          description: The list of user-assigned managed identities associated with
            the resource. Key is the Azure resource Id of the managed identity.
          title: userAssignedIdentities
          type: object
      title: ManagedServiceIdentity
      type: object
    ScriptConfigurationBase:
      description: Common configuration settings for both Azure PowerShell and Azure
        CLI scripts.
      properties:
        arguments:
          description: "Command line arguments to pass to the script. Arguments are\
            \ separated by spaces. ex: -Name blue* -Location 'West US 2' "
          title: arguments
          type: string
        environmentVariables:
          description: The environment variables to pass over to the script.
          items:
            $ref: '#/components/schemas/EnvironmentVariable'
          title: environmentVariables
          type: array
        forceUpdateTag:
          description: Gets or sets how the deployment script should be forced to
            execute even if the script resource has not changed. Can be current time
            stamp or a GUID.
          title: forceUpdateTag
          type: string
        primaryScriptUri:
          description: Uri for the script. This is the entry point for the external
            script.
          title: primaryScriptUri
          type: string
        retentionInterval:
          description: Interval for which the service retains the script resource
            after it reaches a terminal state. Resource will be deleted when this
            duration expires. Duration is based on ISO 8601 pattern (for example P7D
            means one week).
          format: duration
          title: retentionInterval
          type: string
        scriptContent:
          description: Script body.
          maxLength: 32000
          title: scriptContent
          type: string
        supportingScriptUris:
          description: Supporting files for the external script.
          items:
            description: Supporting file Uri.
            type: string
          title: supportingScriptUris
          type: array
        timeout:
          description: Maximum allowed script execution time specified in ISO 8601
            format. Default value is PT1H
          format: duration
          title: timeout
          type: string
      required:
      - retentionInterval
      title: ScriptConfigurationBase
      type: object
      x-ms-external: true
    ScriptLog:
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      description: Script execution log object.
      example:
        properties:
          log: log
      properties:
        properties:
          $ref: '#/components/schemas/LogProperties'
      title: ScriptLog
    ScriptLogsList:
      description: Deployment script execution logs.
      example:
        value:
        - properties:
            log: log
        - properties:
            log: log
      properties:
        value:
          description: Deployment scripts logs.
          items:
            $ref: '#/components/schemas/ScriptLog'
          title: value
          type: array
      title: ScriptLogsList
      type: object
    ScriptStatus:
      description: Generic object modeling results of script execution.
      properties:
        containerInstanceId:
          description: ACI resource Id.
          readOnly: true
          title: containerInstanceId
          type: string
        endTime:
          description: End time of the script execution.
          format: date-time
          readOnly: true
          title: endTime
          type: string
        error:
          $ref: '#/components/schemas/DefaultErrorResponse'
        expirationTime:
          description: Time the deployment script resource will expire.
          format: date-time
          readOnly: true
          title: expirationTime
          type: string
        startTime:
          description: Start time of the script execution.
          format: date-time
          readOnly: true
          title: startTime
          type: string
        storageAccountId:
          description: Storage account resource Id.
          readOnly: true
          title: storageAccountId
          type: string
      title: ScriptStatus
      type: object
    UserAssignedIdentity:
      description: User-assigned managed identity.
      example:
        clientId: clientId
        principalId: principalId
      properties:
        clientId:
          description: Client App Id associated with this identity.
          title: clientId
          type: string
        principalId:
          description: Azure Active Directory principal ID associated with this identity.
          title: principalId
          type: string
      title: UserAssignedIdentity
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
