openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Sync
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_sync_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_sync_v1
servers:
- url: https://sync.twilio.com
tags:
- name: SyncV1Document
- name: SyncV1DocumentPermission
- name: SyncV1Service
- name: SyncV1StreamMessage
- name: SyncV1SyncList
- name: SyncV1SyncListItem
- name: SyncV1SyncListPermission
- name: SyncV1SyncMap
- name: SyncV1SyncMapItem
- name: SyncV1SyncMapPermission
- name: SyncV1SyncStream
paths:
  /v1/Services:
    description: Containers for sync objects
    get:
      description: ""
      operationId: list_service
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_service_controller
    post:
      description: ""
      operationId: create_service
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        documents:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Documents"
        sync_lists:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Lists"
        sync_maps:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Maps"
        sync_streams:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Streams"
      pathType: list
  /v1/Services/{ServiceSid}/Documents:
    description: Sync Document objects
    get:
      description: ""
      operationId: list_document
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Document resources to read."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDocumentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1Document
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_document_controller
    post:
      description: ""
      operationId: create_document
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ to create the new Document resource in."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDocumentRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.document'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1Document
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_document_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - revision
      dependentProperties:
        document_permissions:
          mapping:
            document_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Documents/{document_sid}/Permissions"
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions:
    description: Sync document permissions
    get:
      description: Retrieve a list of all Permissions applying to a Sync Document.
      operationId: list_document_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Document Permission resources to read."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Document with the Document Permission resources
          to read. Can be the Document resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: DocumentSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDocumentPermissionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1DocumentPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_document_permission_controller
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - identity
      - read
      - write
      - manage
      mountName: document_permissions
      parent: "/Services/{ServiceSid}/Documents/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions/{Identity}:
    delete:
      description: Delete a specific Sync Document Permission.
      operationId: delete_document_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Document Permission resource to delete."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Document with the Document Permission resource
          to delete. Can be the Document resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: DocumentSid
        required: true
        schema:
          type: string
        style: simple
      - description: The application-defined string that uniquely identifies the User's
          Document Permission resource to delete.
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1DocumentPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_document_permission_controller
    description: Sync document permissions
    get:
      description: Fetch a specific Sync Document Permission.
      operationId: fetch_document_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Document Permission resource to fetch."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Document with the Document Permission resource
          to fetch. Can be the Document resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: DocumentSid
        required: true
        schema:
          type: string
        style: simple
      - description: The application-defined string that uniquely identifies the User's
          Document Permission resource to fetch.
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.document.document_permission'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1DocumentPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_document_permission_controller
    post:
      description: Update an identity's access to a specific Sync Document.
      operationId: update_document_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Document Permission resource to update."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Document with the Document Permission resource
          to update. Can be the Document resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: DocumentSid
        required: true
        schema:
          type: string
        style: simple
      - description: The application-defined string that uniquely identifies the User's
          Document Permission resource to update.
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDocumentPermissionRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.document.document_permission'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1DocumentPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_document_permission_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - identity
      - read
      - write
      - manage
      mountName: document_permissions
      parent: "/Services/{ServiceSid}/Documents/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Documents/{Sid}:
    delete:
      description: ""
      operationId: delete_document
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Document resource to delete."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Document resource to delete. Can be the Document
          resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1Document
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_document_controller
    description: Sync Document objects
    get:
      description: ""
      operationId: fetch_document
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Document resource to fetch."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Document resource to fetch. Can be the Document
          resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.document'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1Document
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_document_controller
    post:
      description: ""
      operationId: update_document
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Document resource to update."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Document resource to update. Can be the Document
          resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      - description: The If-Match HTTP request header
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDocumentRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.document'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1Document
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_document_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - revision
      dependentProperties:
        document_permissions:
          mapping:
            document_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Documents/{document_sid}/Permissions"
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Lists:
    description: Sync list objects
    get:
      description: ""
      operationId: list_sync_list
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync List resources to read."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncListResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncList
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_controller
    post:
      description: ""
      operationId: create_sync_list
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ to create the new Sync List in."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSyncListRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_list'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncList
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - revision
      dependentProperties:
        sync_list_items:
          mapping:
            list_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Lists/{list_sid}/Items"
        sync_list_permissions:
          mapping:
            list_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Lists/{list_sid}/Permissions"
      mountName: sync_lists
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Lists/{ListSid}/Items:
    description: Items in a sync list
    get:
      description: ""
      operationId: list_sync_list_item
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the List Item resources to read."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List with the List Items to read. Can be
          the Sync List resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How to order the List Items returned by their `index` value.\
          \ Can be: `asc` (ascending) or `desc` (descending) and the default is ascending."
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/sync_list_item_enum_query_result_order'
        style: form
      - description: The `index` of the first Sync List Item resource to read. See
          also `bounds`.
        explode: true
        in: query
        name: From
        required: false
        schema:
          type: string
        style: form
      - description: "Whether to include the List Item referenced by the `from` parameter.\
          \ Can be: `inclusive` to include the List Item referenced by the `from`\
          \ parameter or `exclusive` to start with the next List Item. The default\
          \ value is `inclusive`."
        explode: true
        in: query
        name: Bounds
        required: false
        schema:
          $ref: '#/components/schemas/sync_list_item_enum_query_from_bound_type'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncListItemResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncListItem
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_item_controller
    post:
      description: ""
      operationId: create_sync_list_item
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ to create the new List Item in."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List to add the new List Item to. Can be
          the Sync List resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSyncListItemRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_list.sync_list_item'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncListItem
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_item_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - index
      - revision
      - created_by
      mountName: sync_list_items
      parent: "/Services/{ServiceSid}/Lists/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Lists/{ListSid}/Items/{Index}:
    delete:
      description: ""
      operationId: delete_sync_list_item
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync List Item resource to delete."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List with the Sync List Item resource to
          delete. Can be the Sync List resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: The index of the Sync List Item resource to delete.
        explode: false
        in: path
        name: Index
        required: true
        schema:
          type: integer
        style: simple
      - description: "If provided, applies this mutation if (and only if) the “revision”\
          \ field of this [map item] matches the provided value. This matches the\
          \ semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match)."
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncListItem
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_item_controller
    description: Items in a sync list
    get:
      description: ""
      operationId: fetch_sync_list_item
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync List Item resource to fetch."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List with the Sync List Item resource to
          fetch. Can be the Sync List resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: The index of the Sync List Item resource to fetch.
        explode: false
        in: path
        name: Index
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_list.sync_list_item'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncListItem
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_item_controller
    post:
      description: ""
      operationId: update_sync_list_item
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync List Item resource to update."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List with the Sync List Item resource to
          update. Can be the Sync List resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: The index of the Sync List Item resource to update.
        explode: false
        in: path
        name: Index
        required: true
        schema:
          type: integer
        style: simple
      - description: "If provided, applies this mutation if (and only if) the “revision”\
          \ field of this [map item] matches the provided value. This matches the\
          \ semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match)."
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSyncListItemRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_list.sync_list_item'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncListItem
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_item_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - index
      - revision
      - created_by
      mountName: sync_list_items
      parent: "/Services/{ServiceSid}/Lists/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Lists/{ListSid}/Permissions:
    description: Permissions for Sync list items
    get:
      description: Retrieve a list of all Permissions applying to a Sync List.
      operationId: list_sync_list_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync List Permission resources to read."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List with the Sync List Permission resources
          to read. Can be the Sync List resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncListPermissionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncListPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_permission_controller
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - identity
      - read
      - write
      - manage
      mountName: sync_list_permissions
      parent: "/Services/{ServiceSid}/Lists/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Lists/{ListSid}/Permissions/{Identity}:
    delete:
      description: Delete a specific Sync List Permission.
      operationId: delete_sync_list_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync List Permission resource to delete."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List with the Sync List Permission resource
          to delete. Can be the Sync List resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: The application-defined string that uniquely identifies the User's
          Sync List Permission resource to delete.
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncListPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_permission_controller
    description: Permissions for Sync list items
    get:
      description: Fetch a specific Sync List Permission.
      operationId: fetch_sync_list_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync List Permission resource to fetch."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List with the Sync List Permission resource
          to fetch. Can be the Sync List resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: The application-defined string that uniquely identifies the User's
          Sync List Permission resource to fetch.
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_list.sync_list_permission'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncListPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_permission_controller
    post:
      description: Update an identity's access to a specific Sync List.
      operationId: update_sync_list_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync List Permission resource to update."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List with the Sync List Permission resource
          to update. Can be the Sync List resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: ListSid
        required: true
        schema:
          type: string
        style: simple
      - description: The application-defined string that uniquely identifies the User's
          Sync List Permission resource to update.
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSyncListPermissionRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_list.sync_list_permission'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncListPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_permission_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - identity
      - read
      - write
      - manage
      mountName: sync_list_permissions
      parent: "/Services/{ServiceSid}/Lists/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Lists/{Sid}:
    delete:
      description: ""
      operationId: delete_sync_list
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync List resource to delete."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List resource to delete. Can be the Sync
          List resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncList
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_controller
    description: Sync list objects
    get:
      description: ""
      operationId: fetch_sync_list
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync List resource to fetch."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List resource to fetch. Can be the Sync List
          resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_list'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncList
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_controller
    post:
      description: ""
      operationId: update_sync_list
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync List resource to update."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync List resource to update. Can be the Sync
          List resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSyncListRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_list'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncList
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_list_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - revision
      dependentProperties:
        sync_list_items:
          mapping:
            list_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Lists/{list_sid}/Items"
        sync_list_permissions:
          mapping:
            list_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Lists/{list_sid}/Permissions"
      mountName: sync_lists
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Maps:
    description: Sync map objects
    get:
      description: ""
      operationId: list_sync_map
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Map resources to read."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncMapResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMap
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_controller
    post:
      description: ""
      operationId: create_sync_map
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ to create the Sync Map in."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSyncMapRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_map'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMap
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - revision
      dependentProperties:
        sync_map_items:
          mapping:
            map_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Maps/{map_sid}/Items"
        sync_map_permissions:
          mapping:
            map_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Maps/{map_sid}/Permissions"
      mountName: sync_maps
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Maps/{MapSid}/Items:
    description: Keys in a sync map
    get:
      description: ""
      operationId: list_sync_map_item
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Map Item resources to read."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map with the Sync Map Item resource to fetch.
          Can be the Sync Map resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How to order the Map Items returned by their `key` value. Can\
          \ be: `asc` (ascending) or `desc` (descending) and the default is ascending.\
          \ Map Items are [ordered lexicographically](https://en.wikipedia.org/wiki/Lexicographical_order)\
          \ by Item key."
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/sync_map_item_enum_query_result_order'
        style: form
      - description: The `key` of the first Sync Map Item resource to read. See also
          `bounds`.
        explode: true
        in: query
        name: From
        required: false
        schema:
          type: string
        style: form
      - description: "Whether to include the Map Item referenced by the `from` parameter.\
          \ Can be: `inclusive` to include the Map Item referenced by the `from` parameter\
          \ or `exclusive` to start with the next Map Item. The default value is `inclusive`."
        explode: true
        in: query
        name: Bounds
        required: false
        schema:
          $ref: '#/components/schemas/sync_map_item_enum_query_from_bound_type'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncMapItemResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMapItem
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_item_controller
    post:
      description: ""
      operationId: create_sync_map_item
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ to create the Map Item in."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map to add the new Map Item to. Can be the
          Sync Map resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSyncMapItemRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_map.sync_map_item'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMapItem
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_item_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - key
      - revision
      - created_by
      mountName: sync_map_items
      parent: "/Services/{ServiceSid}/Maps/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Maps/{MapSid}/Items/{Key}:
    delete:
      description: ""
      operationId: delete_sync_map_item
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Map Item resource to delete."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map with the Sync Map Item resource to delete.
          Can be the Sync Map resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      - description: The `key` value of the Sync Map Item resource to delete.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "If provided, applies this mutation if (and only if) the “revision”\
          \ field of this [map item] matches the provided value. This matches the\
          \ semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match)."
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMapItem
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_item_controller
    description: Keys in a sync map
    get:
      description: ""
      operationId: fetch_sync_map_item
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Map Item resource to fetch."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map with the Sync Map Item resource to fetch.
          Can be the Sync Map resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      - description: The `key` value of the Sync Map Item resource to fetch.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_map.sync_map_item'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMapItem
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_item_controller
    post:
      description: ""
      operationId: update_sync_map_item
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Map Item resource to update."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map with the Sync Map Item resource to update.
          Can be the Sync Map resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      - description: 'The `key` value of the Sync Map Item resource to update. '
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "If provided, applies this mutation if (and only if) the “revision”\
          \ field of this [map item] matches the provided value. This matches the\
          \ semantics of (and is implemented with) the HTTP [If-Match header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match)."
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSyncMapItemRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_map.sync_map_item'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMapItem
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_item_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - key
      - revision
      - created_by
      mountName: sync_map_items
      parent: "/Services/{ServiceSid}/Maps/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Maps/{MapSid}/Permissions:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Permissions applying to a Sync Map.
      operationId: list_sync_map_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Map Permission resources to read. Can be the Service's `sid`\
          \ value or `default`."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map with the Permission resources to read.
          Can be the Sync Map resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncMapPermissionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMapPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_permission_controller
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - identity
      - read
      - write
      - manage
      mountName: sync_map_permissions
      parent: "/Services/{ServiceSid}/Maps/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Maps/{MapSid}/Permissions/{Identity}:
    delete:
      description: Delete a specific Sync Map Permission.
      operationId: delete_sync_map_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Map Permission resource to delete. Can be the Service's\
          \ `sid` value or `default`."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map with the Sync Map Permission resource
          to delete. Can be the Sync Map resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      - description: The application-defined string that uniquely identifies the User's
          Sync Map Permission resource to delete.
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMapPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_permission_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Sync Map Permission.
      operationId: fetch_sync_map_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Map Permission resource to fetch. Can be the Service's `sid`\
          \ value or `default`."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map with the Sync Map Permission resource
          to fetch. Can be the Sync Map resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      - description: The application-defined string that uniquely identifies the User's
          Sync Map Permission resource to fetch.
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_map.sync_map_permission'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMapPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_permission_controller
    post:
      description: Update an identity's access to a specific Sync Map.
      operationId: update_sync_map_permission
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Map Permission resource to update. Can be the Service's\
          \ `sid` value or `default`."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map with the Sync Map Permission resource
          to update. Can be the Sync Map resource's `sid` or its `unique_name`.
        explode: false
        in: path
        name: MapSid
        required: true
        schema:
          type: string
        style: simple
      - description: The application-defined string that uniquely identifies the User's
          Sync Map Permission resource to update.
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSyncMapPermissionRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_map.sync_map_permission'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMapPermission
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_permission_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - identity
      - read
      - write
      - manage
      mountName: sync_map_permissions
      parent: "/Services/{ServiceSid}/Maps/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Maps/{Sid}:
    delete:
      description: ""
      operationId: delete_sync_map
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Map resource to delete."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map resource to delete. Can be the Sync Map's
          `sid` or its `unique_name`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMap
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_controller
    description: Sync map objects
    get:
      description: ""
      operationId: fetch_sync_map
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Map resource to fetch."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map resource to fetch. Can be the Sync Map's
          `sid` or its `unique_name`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_map'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMap
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_controller
    post:
      description: ""
      operationId: update_sync_map
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Map resource to update."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Map resource to update. Can be the Sync Map's
          `sid` or its `unique_name`.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSyncMapRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_map'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncMap
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_map_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - revision
      dependentProperties:
        sync_map_items:
          mapping:
            map_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Maps/{map_sid}/Items"
        sync_map_permissions:
          mapping:
            map_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Maps/{map_sid}/Permissions"
      mountName: sync_maps
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Streams:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Streams in a Service Instance.
      operationId: list_sync_stream
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Stream resources to read."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSyncStreamResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncStream
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_stream_controller
    post:
      description: Create a new Stream.
      operationId: create_sync_stream
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ to create the new Stream in."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSyncStreamRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_stream'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncStream
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_stream_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - created_by
      dependentProperties:
        stream_messages:
          mapping:
            service_sid: service_sid
            stream_sid: sid
          resource_url: "/v1/Services/{service_sid}/Streams/{stream_sid}/Messages"
      mountName: sync_streams
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Streams/{Sid}:
    delete:
      description: Delete a specific Stream.
      operationId: delete_sync_stream
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Stream resource to delete."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Stream resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncStream
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_stream_controller
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Stream.
      operationId: fetch_sync_stream
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Stream resource to fetch."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Stream resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_stream'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncStream
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_stream_controller
    post:
      description: Update a specific Stream.
      operationId: update_sync_stream
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ with the Sync Stream resource to update."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Stream resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSyncStreamRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_stream'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1SyncStream
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_sync_stream_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - created_by
      dependentProperties:
        stream_messages:
          mapping:
            service_sid: service_sid
            stream_sid: sid
          resource_url: "/v1/Services/{service_sid}/Streams/{stream_sid}/Messages"
      mountName: sync_streams
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Streams/{StreamSid}/Messages:
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Stream Message.
      operationId: create_stream_message
      parameters:
      - description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
          \ to create the new Stream Message in."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Sync Stream to create the new Stream Message resource
          for.
        explode: false
        in: path
        name: StreamSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateStreamMessageRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service.sync_stream.stream_message'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1StreamMessage
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_stream_message_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      mountName: stream_messages
      parent: "/Services/{ServiceSid}/Streams/{Sid}"
      pathType: list
  /v1/Services/{Sid}:
    delete:
      description: ""
      operationId: delete_service
      parameters:
      - description: The SID of the Service resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_service_controller
    description: Containers for sync objects
    get:
      description: ""
      operationId: fetch_service
      parameters:
      - description: The SID of the Service resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_service_controller
    post:
      description: ""
      operationId: update_service
      parameters:
      - description: The SID of the Service resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sync.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - SyncV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.sync_v1_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://sync.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        documents:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Documents"
        sync_lists:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Lists"
        sync_maps:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Maps"
        sync_streams:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Streams"
      pathType: instance
components:
  schemas:
    sync.v1.service:
      example:
        acl_enabled: true
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        webhook_url: https://openapi-generator.tech
        date_created: 2000-01-23T04:56:07.000+00:00
        reachability_debouncing_enabled: true
        url: https://openapi-generator.tech
        sid: sid
        unique_name: unique_name
        reachability_webhooks_enabled: true
        webhooks_from_rest_enabled: true
        account_sid: account_sid
        links: "{}"
        reachability_debouncing_window: 1
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Service resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        acl_enabled:
          description: "Whether token identities in the Service must be granted access\
            \ to Sync objects by using the [Permissions](https://www.twilio.com/docs/sync/api/sync-permissions)\
            \ resource. It is disabled (false) by default."
          nullable: true
          title: acl_enabled
          type: boolean
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 7
              handling: standard
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        reachability_debouncing_enabled:
          description: "Whether every `endpoint_disconnected` event should occur after\
            \ a configurable delay. The default is `false`, where the `endpoint_disconnected`\
            \ event occurs immediately after disconnection. When `true`, intervening\
            \ reconnections can prevent the `endpoint_disconnected` event."
          nullable: true
          title: reachability_debouncing_enabled
          type: boolean
        reachability_debouncing_window:
          description: "The reachability event delay in milliseconds if `reachability_debouncing_enabled`\
            \ = `true`.  Must be between 1,000 and 30,000 and defaults to 5,000. This\
            \ is the number of milliseconds after the last running client disconnects,\
            \ and a Sync identity is declared offline, before `webhook_url` is called,\
            \ if all endpoints remain offline. A reconnection from the same identity\
            \ by any endpoint during this interval prevents the reachability event\
            \ from occurring."
          nullable: true
          title: reachability_debouncing_window
          type: integer
        reachability_webhooks_enabled:
          description: Whether the service instance calls `webhook_url` when client
            endpoints connect to Sync. The default is `false`.
          nullable: true
          title: reachability_webhooks_enabled
          type: boolean
        sid:
          description: The unique string that we created to identify the Service resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: sid
          type: string
        unique_name:
          description: "An application-defined string that uniquely identifies the\
            \ resource. It can be used in place of the resource's `sid` in the URL\
            \ to address the resource. It is a read-only property, it cannot be assigned\
            \ using REST API."
          nullable: true
          title: unique_name
          type: string
        url:
          description: The absolute URL of the Service resource.
          format: uri
          nullable: true
          title: url
          type: string
        webhook_url:
          description: The URL we call when Sync objects are manipulated.
          format: uri
          nullable: true
          title: webhook_url
          type: string
        webhooks_from_rest_enabled:
          description: Whether the Service instance should call `webhook_url` when
            the REST API is used to update Sync objects. The default is `false`.
          nullable: true
          title: webhooks_from_rest_enabled
          type: boolean
      title: sync.v1.service
      type: object
    sync.v1.service.document:
      example:
        service_sid: service_sid
        unique_name: unique_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        data: ""
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        date_expires: 2000-01-23T04:56:07.000+00:00
        links: "{}"
        created_by: created_by
        url: https://openapi-generator.tech
        revision: revision
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Document resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        created_by:
          description: "The identity of the Sync Document's creator. If the Sync Document\
            \ is created from the client SDK, the value matches the Access Token's\
            \ `identity` field. If the Sync Document was created from the REST API,\
            \ the value is `system`."
          nullable: true
          title: created_by
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        data:
          description: "An arbitrary, schema-less object that the Sync Document stores.\
            \ Can be up to 16 KiB in length."
          nullable: true
          title: data
          x-twilio:
            pii:
              deleteSla: 7
              handling: sensitive
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_expires:
          description: "The date and time in GMT when the Sync Document expires and\
            \ will be deleted, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format. If the Sync Document does not expire, this value is `null`.\
            \ The Document resource might not be deleted immediately after it expires."
          format: date-time
          nullable: true
          title: date_expires
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        links:
          description: The URLs of resources related to the Sync Document.
          format: uri-map
          nullable: true
          title: links
          type: object
        revision:
          description: "The current revision of the Sync Document, represented as\
            \ a string. The `revision` property is used with conditional updates to\
            \ ensure data consistency."
          nullable: true
          title: revision
          type: string
        service_sid:
          description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: The unique string that we created to identify the Document
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^ET[0-9a-fA-F]{32}$"
          title: sid
          type: string
        unique_name:
          description: An application-defined string that uniquely identifies the
            resource. It can be used in place of the resource's `sid` in the URL to
            address the resource and can be up to 320 characters long.
          nullable: true
          title: unique_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        url:
          description: The absolute URL of the Document resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: sync.v1.service.document
      type: object
    sync.v1.service.document.document_permission:
      example:
        service_sid: service_sid
        read: true
        identity: identity
        account_sid: account_sid
        write: true
        url: https://openapi-generator.tech
        document_sid: document_sid
        manage: true
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Document Permission resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        document_sid:
          description: The SID of the Sync Document to which the Document Permission
            applies.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^ET[0-9a-fA-F]{32}$"
          title: document_sid
          type: string
        identity:
          description: The application-defined string that uniquely identifies the
            resource's User within the Service to an FPA token.
          nullable: true
          title: identity
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        manage:
          description: Whether the identity can delete the Sync Document.
          nullable: true
          title: manage
          type: boolean
        read:
          description: Whether the identity can read the Sync Document.
          nullable: true
          title: read
          type: boolean
        service_sid:
          description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        url:
          description: The absolute URL of the Sync Document Permission resource.
          format: uri
          nullable: true
          title: url
          type: string
        write:
          description: Whether the identity can update the Sync Document.
          nullable: true
          title: write
          type: boolean
      title: sync.v1.service.document.document_permission
      type: object
    sync.v1.service.sync_list:
      example:
        service_sid: service_sid
        unique_name: unique_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        date_expires: 2000-01-23T04:56:07.000+00:00
        links: "{}"
        created_by: created_by
        url: https://openapi-generator.tech
        revision: revision
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Sync List resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        created_by:
          description: "The identity of the Sync List's creator. If the Sync List\
            \ is created from the client SDK, the value matches the Access Token's\
            \ `identity` field. If the Sync List was created from the REST API, the\
            \ value is `system`."
          nullable: true
          title: created_by
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_expires:
          description: "The date and time in GMT when the Sync List expires and will\
            \ be deleted, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format. If the Sync List does not expire, this value is `null`. The\
            \ Sync List might not be deleted immediately after it expires."
          format: date-time
          nullable: true
          title: date_expires
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        links:
          description: The URLs of the Sync List's nested resources.
          format: uri-map
          nullable: true
          title: links
          type: object
        revision:
          description: "The current revision of the Sync List, represented as a string."
          nullable: true
          title: revision
          type: string
        service_sid:
          description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: The unique string that we created to identify the Sync List
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^ES[0-9a-fA-F]{32}$"
          title: sid
          type: string
        unique_name:
          description: An application-defined string that uniquely identifies the
            resource. It can be used in place of the resource's `sid` in the URL to
            address the resource.
          nullable: true
          title: unique_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        url:
          description: The absolute URL of the Sync List resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: sync.v1.service.sync_list
      type: object
    sync.v1.service.sync_list.sync_list_item:
      example:
        service_sid: service_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        data: ""
        date_created: 2000-01-23T04:56:07.000+00:00
        list_sid: list_sid
        account_sid: account_sid
        index: 0
        date_expires: 2000-01-23T04:56:07.000+00:00
        created_by: created_by
        url: https://openapi-generator.tech
        revision: revision
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the List Item resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        created_by:
          description: "The identity of the List Item's creator. If the item is created\
            \ from the client SDK, the value matches the Access Token's `identity`\
            \ field. If the item was created from the REST API, the value is `system`."
          nullable: true
          title: created_by
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        data:
          description: "An arbitrary, schema-less object that the List Item stores.\
            \ Can be up to 16 KiB in length."
          nullable: true
          title: data
          x-twilio:
            pii:
              deleteSla: 7
              handling: sensitive
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_expires:
          description: "The date and time in GMT when the List Item expires and will\
            \ be deleted, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format. If the List Item does not expire, this value is `null`. The\
            \ List Item resource might not be deleted immediately after it expires."
          format: date-time
          nullable: true
          title: date_expires
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        index:
          description: The automatically generated index of the List Item. The `index`
            values of the List Items in a Sync List can have gaps in their sequence.
          nullable: true
          title: index
          type: integer
        list_sid:
          description: The SID of the Sync List that contains the List Item.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^ES[0-9a-fA-F]{32}$"
          title: list_sid
          type: string
        revision:
          description: "The current revision of the item, represented as a string."
          nullable: true
          title: revision
          type: string
        service_sid:
          description: "The SID of the [Sync Service](https://www.twilio.com/docs/sync/api/service)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
[...]
