openapi: 3.0.1
info:
  description: Microsoft Customer Engagement Fabric
  title: EngagementFabric
  version: 2018-09-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/engagementfabric/resource-manager/Microsoft.EngagementFabric/preview/2018-09-01/EngagementFabric.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: engagementfabric-EngagementFabric
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.EngagementFabric/operations:
    get:
      operationId: operations_list
      parameters:
      - description: API version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: List operation of EngagementFabric resources
      tags:
      - Operations
      x-ms-examples:
        OperationsListExample:
          parameters:
            api-version: 2018-09-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: List or get the EngagementFabric account
                    operation: List or get the EngagementFabric account
                    provider: Microsoft Customer Engagement Fabric
                    resource: Accounts
                  name: Microsoft.EngagementFabric/Accounts/read
                - display:
                    description: Create or update the EngagementFabric account
                    operation: Create or update the EngagementFabric account
                    provider: Microsoft Customer Engagement Fabric
                    resource: Accounts
                  name: Microsoft.EngagementFabric/Accounts/write
                - display:
                    description: Delete the EngagementFabric account
                    operation: Delete the EngagementFabric account
                    provider: Microsoft Customer Engagement Fabric
                    resource: Accounts
                  name: Microsoft.EngagementFabric/Accounts/delete
                - display:
                    description: Get all keys of the EngagementFabric account
                    operation: Get all keys of the EngagementFabric account
                    provider: Microsoft Customer Engagement Fabric
                    resource: Accounts
                  name: Microsoft.EngagementFabric/Accounts/ListKeys/action
                - display:
                    description: Regenerate the EngagementFabric account key
                    operation: Regenerate the EngagementFabric account key
                    provider: Microsoft Customer Engagement Fabric
                    resource: Accounts
                  name: Microsoft.EngagementFabric/Accounts/RegenerateKey/action
                - display:
                    description: List available EngagementFabric channel types and
                      functions
                    operation: List available EngagementFabric channel types and functions
                    provider: Microsoft Customer Engagement Fabric
                    resource: Accounts
                  name: Microsoft.EngagementFabric/Accounts/ListChannelTypes/action
                - display:
                    description: List or get the EngagementFabric channel
                    operation: List or get the EngagementFabric channel
                    provider: Microsoft Customer Engagement Fabric
                    resource: Channels
                  name: Microsoft.EngagementFabric/Accounts/Channels/read
                - display:
                    description: Create or update the EngagementFabric channel
                    operation: Create or update the EngagementFabric channel
                    provider: Microsoft Customer Engagement Fabric
                    resource: Channels
                  name: Microsoft.EngagementFabric/Accounts/Channels/write
                - display:
                    description: Delete the EngagementFabric channel
                    operation: Delete the EngagementFabric channel
                    provider: Microsoft Customer Engagement Fabric
                    resource: Channels
                  name: Microsoft.EngagementFabric/Accounts/Channels/delete
                - display:
                    description: Check name availability
                    operation: Check name availability
                    provider: Microsoft Customer Engagement Fabric
                    resource: Accounts
                  name: Microsoft.EngagementFabric/checkNameAvailability/action
                - display:
                    description: List available operations
                    operation: List available operations
                    provider: Microsoft Customer Engagement Fabric
                    resource: Operations
                  name: Microsoft.EngagementFabric/operations/read
                - display:
                    description: List available SKUs
                    operation: List available SKUs
                    provider: Microsoft Customer Engagement Fabric
                    resource: Accounts
                  name: Microsoft.EngagementFabric/skus/read
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EngagementFabric/Accounts:
    get:
      operationId: accounts_list
      parameters:
      - description: Subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: List the EngagementFabric accounts in given subscription
      tags:
      - Accounts
      x-ms-examples:
        AccountsListExample:
          parameters:
            api-version: 2018-09-01-preview
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                value:
                - id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount
                  location: WestUS
                  name: ExampleAccount
                  sku:
                    name: B1
                    tier: Basic
                  type: Microsoft.EngagementFabric/Accounts
                - id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount2
                  location: WestUS
                  name: ExampleAccount2
                  sku:
                    name: S1
                    tier: Standard
                  type: Microsoft.EngagementFabric/Accounts
                - id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount3
                  location: WestUS
                  name: ExampleAccount3
                  sku:
                    name: P1
                    tier: Premium
                  type: Microsoft.EngagementFabric/Accounts
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EngagementFabric/skus:
    get:
      operationId: s_kus_list
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: List available SKUs of EngagementFabric resource
      tags:
      - Skus
      x-ms-examples:
        SKUsListExample:
          parameters:
            api-version: 2018-09-01-preview
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                value:
                - locationInfo:
                  - location: Central US
                  - location: North Europe
                  - location: West Europe
                  locations:
                  - Central US
                  - North Europe
                  - West Europe
                  name: B1
                  resourceType: Microsoft.EngagementFabric/Accounts
                  restrictions: []
                  tier: Basic
                - locationInfo:
                  - location: Central US
                  - location: North Europe
                  - location: West Europe
                  locations:
                  - Central US
                  - North Europe
                  - West Europe
                  name: S1
                  resourceType: Microsoft.EngagementFabric/Accounts
                  restrictions: []
                  tier: Standard
                - locationInfo:
                  - location: Central US
                  - location: North Europe
                  - location: West Europe
                  locations:
                  - Central US
                  - North Europe
                  - West Europe
                  name: P1
                  resourceType: Microsoft.EngagementFabric/Accounts
                  restrictions: []
                  tier: Premium
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.skus_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts:
    get:
      operationId: accounts_list_by_resource_group
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: List EngagementFabric accounts in given resource group
      tags:
      - Accounts
      x-ms-examples:
        AccountsListByResourceGroupExample:
          parameters:
            api-version: 2018-09-01-preview
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                value:
                - id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount
                  location: WestUS
                  name: ExampleAccount
                  sku:
                    name: B1
                    tier: Basic
                  type: Microsoft.EngagementFabric/Accounts
                - id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount2
                  location: WestUS
                  name: ExampleAccount2
                  sku:
                    name: S1
                    tier: Standard
                  type: Microsoft.EngagementFabric/Accounts
                - id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount3
                  location: WestUS
                  name: ExampleAccount3
                  sku:
                    name: P1
                    tier: Premium
                  type: Microsoft.EngagementFabric/Accounts
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}:
    delete:
      operationId: accounts_delete
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Account Name
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: Delete the EngagementFabric account
      tags:
      - Accounts
      x-ms-examples:
        AccountsDeleteExample:
          parameters:
            accountName: ExampleAccount
            api-version: 2018-09-01-preview
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    get:
      operationId: accounts_get
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Account Name
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: Get the EngagementFabric account
      tags:
      - Accounts
      x-ms-examples:
        AccountsGetExample:
          parameters:
            accountName: ExampleAccount
            api-version: 2018-09-01-preview
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount
                location: WestUS
                name: ExampleAccount
                sku:
                  name: B1
                  tier: Basic
                type: Microsoft.EngagementFabric/Accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    patch:
      operationId: accounts_update
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Account Name
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPatch'
        description: The account patch
        required: true
        x-body-name: accountPatch
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: Update EngagementFabric account
      tags:
      - Accounts
      x-ms-examples:
        AccountsUpdateExample:
          parameters:
            accountName: ExampleAccount
            accountPatch:
              tags:
                tagName: tagValue
            api-version: 2018-09-01-preview
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount
                location: WestUS
                name: ExampleAccount
                sku:
                  name: B1
                  tier: Basic
                tags:
                  tagName: tagValue
                type: Microsoft.EngagementFabric/Accounts
      x-codegen-request-body-name: accountPatch
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    put:
      operationId: accounts_create_or_update
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Account Name
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        description: The EngagementFabric account description
        required: true
        x-body-name: account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: Create or Update the EngagementFabric account
      tags:
      - Accounts
      x-ms-examples:
        AccountsCreateOrUpdateExample:
          parameters:
            account:
              location: WestUS
              sku:
                name: B1
            accountName: ExampleAccount
            api-version: 2018-09-01-preview
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount
                location: WestUS
                name: ExampleAccount
                sku:
                  name: B1
                  tier: Basic
                type: Microsoft.EngagementFabric/Accounts
      x-codegen-request-body-name: account
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/Channels
  : get:
      operationId: channels_list_by_account
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Account Name
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: List the EngagementFabric channels
      tags:
      - Channels
      x-ms-examples:
        ChannelsListExample:
          parameters:
            accountName: ExampleAccount
            api-version: 2018-09-01-preview
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                value:
                - id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount/Channels/ExampleChannel
                  name: ExampleChannel
                  properties:
                    channelFunctions:
                    - MockFunction1
                    - MockFunction2
                    channelType: MockChannel
                    credentials:
                      AppId: exampleApp
                      AppKey: ""
                  type: Microsoft.EngagementFabric/Accounts/Channels
                - id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount/Channels/ExampleChannel2
                  name: ExampleChannel2
                  properties:
                    channelFunctions:
                    - MockFunction1
                    - MockFunction3
                    channelType: MockChannel2
                    credentials:
                      AppId: exampleApp2
                      AppKey: ""
                  type: Microsoft.EngagementFabric/Accounts/Channels
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.channels_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/Channels/{channelName}
  : delete:
      operationId: channels_delete
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Account Name
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The EngagementFabric channel name
        in: path
        name: channelName
        required: true
        schema:
          type: string
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: Delete the EngagementFabric channel
      tags:
      - Channels
      x-ms-examples:
        ChannelsDeleteExample:
          parameters:
            accountName: ExampleAccount
            api-version: 2018-09-01-preview
            channelName: ExampleChannel
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.channels_controller
    get:
      operationId: channels_get
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Account Name
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Channel Name
        in: path
        name: channelName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: Get the EngagementFabric channel
      tags:
      - Channels
      x-ms-examples:
        ChannelsGetExample:
          parameters:
            accountName: ExampleAccount
            api-version: 2018-09-01-preview
            channelName: ExampleChannel
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount/Channels/ExampleChannel
                name: ExampleChannel
                properties:
                  channelFunctions:
                  - MockFunction1
                  - MockFunction2
                  channelType: MockChannel
                  credentials:
                    AppId: exampleApp
                    AppKey: ""
                type: Microsoft.EngagementFabric/Accounts/Channels
      x-openapi-router-controller: openapi_server.controllers.channels_controller
    put:
      operationId: channels_create_or_update
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Account Name
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Channel Name
        in: path
        name: channel_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        description: The EngagementFabric channel description
        required: true
        x-body-name: channel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: Create or Update the EngagementFabric channel
      tags:
      - Channels
      x-ms-examples:
        ChannelsCreateOrUpdateExample:
          parameters:
            accountName: ExampleAccount
            api-version: 2018-09-01-preview
            channel:
              properties:
                channelFunctions:
                - MockFunction1
                - MockFunction2
                channelType: MockChannel
                credentials:
                  AppId: exampleApp
                  AppKey: exampleAppKey
            channelName: ExampleChannel
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                id: subscriptions/EDBF0095-A524-4A84-95FB-F72DA41AA6A1/resourceGroups/ExampleRg/providers/Microsoft.EngagementFabric/Accounts/ExampleAccount/Channels/ExampleChannel
                name: ExampleChannel
                properties:
                  channelFunctions:
                  - MockFunction1
                  - MockFunction2
                  channelType: MockChannel
                  credentials:
                    AppId: exampleApp
                    AppKey: ""
                type: Microsoft.EngagementFabric/Accounts/Channels
      x-codegen-request-body-name: channel
      x-openapi-router-controller: openapi_server.controllers.channels_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/listChannelTypes
  : post:
      operationId: accounts_list_channel_types
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Account Name
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelTypeDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: List available EngagementFabric channel types and functions
      tags:
      - Accounts
      x-ms-examples:
        AccountsListChannelTypesExample:
          parameters:
            accountName: ExampleAccount
            api-version: 2018-09-01-preview
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                value:
                - channelDescription: Description of mockChannel1
                  channelFunctions:
                  - MockFunction1
                  - MockFunction2
                  channelType: MockChannel1
                - channelDescription: Description of mockChannel2
                  channelFunctions:
                  - MockFunction1
                  - MockFunction3
                  channelType: MockChannel2
                - channelDescription: Description of mockChannel3
                  channelFunctions:
                  - MockFunction1
                  - MockFunction2
                  - MockFunction3
                  channelType: MockChannel3
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/listKeys
  : post:
      operationId: accounts_list_keys
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Account Name
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyDescriptionList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: List keys of the EngagementFabric account
      tags:
      - Accounts
      x-ms-examples:
        AccountsListKeysExample:
          parameters:
            accountName: ExampleAccount
            api-version: 2018-09-01-preview
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                value:
                - name: Full
                  rank: PrimaryKey
                  value: <ExampleFullPrimaryKeyValue>
                - name: Full
                  rank: SecondaryKey
                  value: <ExampleFullSecondaryKeyValue>
                - name: Device
                  rank: PrimaryKey
                  value: <ExampleDevicePrimaryKeyValue>
                - name: Device
                  rank: SecondaryKey
                  value: <ExampleDeviceSecondaryKeyValue>
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/regenerateKey
  : post:
      operationId: accounts_regenerate_key
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Account Name
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateKeyParameter'
        description: Parameters specifying the key to be regenerated
        required: true
        x-body-name: parameter
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyDescription'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: Regenerate key of the EngagementFabric account
      tags:
      - Accounts
      x-ms-examples:
        AccountsRegenerateKeyExample:
          parameters:
            accountName: ExampleAccount
            api-version: 2018-09-01-preview
            name: Full
            rank: PrimaryKey
            resourceGroupName: ExampleRg
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
          responses:
            "200":
              body:
                name: Full
                rank: PrimaryKey
                value: <ExampleFullPrimaryKeyValue>
      x-codegen-request-body-name: parameter
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/checkNameAvailability:
    post:
      operationId: check_name_availability
      parameters:
      - description: Subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource Group Name
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameter'
        description: Parameter describing the name to be checked
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response
      summary: Check availability of EngagementFabric resource
      tags:
      - NameAvailability
      x-ms-examples:
        CheckNameAvailabilityExample:
          parameters:
            api-version: 2018-09-01-preview
            name: ExampleAccount
            subscriptionId: EDBF0095-A524-4A84-95FB-F72DA41AA6A1
            type: Microsoft.EngagementFabric/Accounts
          responses:
            "200":
              body:
                message: Account 'ExampleAccount' already exists
                nameAvailable: false
                reason: AlreadyExists
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.name_availability_controller
components:
  parameters:
    AccountNameParameter:
      description: Account Name
      in: path
      name: accountName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: API version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ChannelNameParameter:
      description: Channel Name
      in: path
      name: channelName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: Resource Group Name
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription ID
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Account:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: The EngagementFabric account
      example:
        location: location
        sku:
          tier: tier
          name: name
        tags:
          key: tags
      title: Account
    AccountList:
      description: The list of the EngagementFabric accounts
      example:
        value:
        - location: location
          sku:
            tier: tier
            name: name
          tags:
            key: tags
        - location: location
          sku:
            tier: tier
            name: name
          tags:
            key: tags
      properties:
        value:
          description: EngagementFabric accounts
          items:
            $ref: '#/components/schemas/Account'
          title: value
          type: array
      title: AccountList
      type: object
    AccountPatch:
      description: The patch of EngagementFabric account
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource
          title: tags
          type: object
      title: AccountPatch
      type: object
    Channel:
      allOf:
      - $ref: '#/components/schemas/ProxyOnlyResource'
      description: The EngagementFabric channel
      example:
        properties:
          credentials:
            key: credentials
          channelFunctions:
          - channelFunctions
          - channelFunctions
          channelType: channelType
      properties:
        properties:
          $ref: '#/components/schemas/ChannelProperties'
      title: Channel
    ChannelList:
      description: The list of the EngagementFabric channels
      example:
        value:
        - properties:
            credentials:
              key: credentials
            channelFunctions:
            - channelFunctions
            - channelFunctions
            channelType: channelType
        - properties:
            credentials:
              key: credentials
            channelFunctions:
            - channelFunctions
            - channelFunctions
            channelType: channelType
      properties:
        value:
          description: EngagementFabric channels
          items:
            $ref: '#/components/schemas/Channel'
          title: value
          type: array
      title: ChannelList
      type: object
    ChannelProperties:
      description: The EngagementFabric channel properties
      example:
        credentials:
          key: credentials
        channelFunctions:
        - channelFunctions
        - channelFunctions
        channelType: channelType
      properties:
        channelFunctions:
          description: The functions to be enabled for the channel
          items:
            type: string
          title: channelFunctions
          type: array
        channelType:
          description: The channel type
          title: channelType
          type: string
        credentials:
          additionalProperties:
            type: string
          description: The channel credentials
          title: credentials
          type: object
      required:
      - channelType
      title: ChannelProperties
      type: object
    ChannelTypeDescription:
      description: EngagementFabric channel description
      example:
        channelDescription: channelDescription
        channelFunctions:
        - channelFunctions
        - channelFunctions
        channelType: channelType
      properties:
        channelDescription:
          description: Text description for the channel
          title: channelDescription
          type: string
        channelFunctions:
          description: All the available functions for the channel
          items:
            type: string
          title: channelFunctions
          type: array
        channelType:
          description: Channel type
          title: channelType
          type: string
      title: ChannelTypeDescription
      type: object
    ChannelTypeDescriptionList:
      description: List of the EngagementFabric channel descriptions
      example:
        value:
        - channelDescription: channelDescription
          channelFunctions:
          - channelFunctions
          - channelFunctions
          channelType: channelType
        - channelDescription: channelDescription
          channelFunctions:
          - channelFunctions
          - channelFunctions
          channelType: channelType
      properties:
        value:
          description: Channel descriptions
          items:
            $ref: '#/components/schemas/ChannelTypeDescription'
          title: value
          type: array
      title: ChannelTypeDescriptionList
      type: object
    CheckNameAvailabilityParameter:
      description: The parameter for name availability check
      example:
        name: name
        type: type
      properties:
        name:
          description: The name to be checked
          title: name
          type: string
        type:
          description: The fully qualified resource type for the name to be checked
          title: type
          type: string
      required:
      - name
      - type
      title: CheckNameAvailabilityParameter
      type: object
    CheckNameAvailabilityResult:
      description: The result of name availability check
      example:
        reason: Invalid
        nameAvailable: true
        message: message
      properties:
        message:
          description: The message if name is unavailable
          readOnly: true
          title: message
          type: string
        nameAvailable:
          description: The name to be checked
          readOnly: true
          title: nameAvailable
          type: boolean
        reason:
          $ref: '#/components/schemas/CheckNameUnavailableReason'
      title: CheckNameAvailabilityResult
      type: object
    CheckNameUnavailableReason:
      description: The reason of name availability result
      enum:
      - Invalid
      - AlreadyExists
      title: CheckNameUnavailableReason
      type: string
      x-ms-enum:
        modelAsString: true
        name: CheckNameUnavailableReason
    CloudError:
      description: The default error response
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: Content of the default error response
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: The error code
          title: code
          type: string
        details:
          description: The list of additional details
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          title: details
          type: array
        message:
          description: The error message
          title: message
          type: string
        target:
          description: The target of the particular error
          title: target
          type: string
      title: CloudErrorBody
      type: object
      x-ms-external: true
    KeyDescription:
      description: The description of the EngagementFabric account key
      example:
        name: name
        rank: PrimaryKey
        value: value
      properties:
        name:
          description: The name of the key
          readOnly: true
          title: name
          type: string
        rank:
          $ref: '#/components/schemas/KeyRank'
        value:
          description: The value of the key
          readOnly: true
          title: value
          type: string
      title: KeyDescription
      type: object
    KeyDescriptionList:
      description: The list of the EngagementFabric account keys
      example:
        value:
        - name: name
          rank: PrimaryKey
          value: value
        - name: name
          rank: PrimaryKey
          value: value
      properties:
        value:
          description: Account keys
          items:
            $ref: '#/components/schemas/KeyDescription'
          readOnly: true
          title: value
          type: array
      title: KeyDescriptionList
      type: object
    KeyRank:
      description: The rank of the EngagementFabric account key
      enum:
      - PrimaryKey
      - SecondaryKey
      title: KeyRank
      type: string
      x-ms-enum:
        modelAsString: true
        name: KeyRank
    Operation:
      description: The EngagementFabric operation
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: The name of the EngagementFabric operation
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationDisplay:
      description: The display information of the EngagementFabric operation
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description of the EngagementFabric operation
          readOnly: true
          title: description
          type: string
        operation:
          description: The name of the EngagementFabric operation
          readOnly: true
          title: operation
          type: string
        provider:
          description: The resource provider namespace of the EngagementFabric operation
          readOnly: true
          title: provider
          type: string
        resource:
          description: The resource type of the EngagementFabric operation
          readOnly: true
          title: resource
          type: string
      title: OperationDisplay
      type: object
    OperationList:
      description: The list of the EngagementFabric operations
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
      properties:
        value:
          description: The EngagementFabric operations
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationList
      type: object
    ProxyOnlyResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The base model for the proxy-only Azure resource
      title: ProxyOnlyResource
    RegenerateKeyParameter:
      description: The parameter to regenerate single EngagementFabric account key
      example:
        name: name
        rank: PrimaryKey
      properties:
        name:
          description: The name of key to be regenerated
          title: name
          type: string
        rank:
          $ref: '#/components/schemas/KeyRank'
      required:
      - name
      - rank
      title: RegenerateKeyParameter
      type: object
    Resource:
      description: The base model for Azure resource
      properties:
        id:
          description: The ID of the resource
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the resource
          readOnly: true
          title: name
          type: string
        type:
          description: The fully qualified type of the resource
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    SKU:
      description: The EngagementFabric SKU
      example:
        tier: tier
        name: name
      properties:
        name:
          description: The name of the SKU
          title: name
          type: string
        tier:
          description: The price tier of the SKU
          title: tier
          type: string
      required:
      - name
      title: SKU
      type: object
    SkuDescription:
      description: The EngagementFabric SKU description of given resource type
      example:
        locationInfo:
        - location: location
          zones:
          - zones
          - zones
        - location: location
          zones:
          - zones
          - zones
        tier: tier
        name: name
        restrictions:
        - "{}"
        - "{}"
        locations:
        - locations
        - locations
        resourceType: resourceType
      properties:
        locationInfo:
          description: Locations and zones
          items:
            $ref: '#/components/schemas/SkuLocationInfoItem'
          readOnly: true
          title: locationInfo
          type: array
        locations:
          description: The set of locations that the SKU is available
          items:
            type: string
          readOnly: true
          title: locations
          type: array
        name:
          description: The name of the SKU
          readOnly: true
          title: name
          type: string
        resourceType:
          description: The fully qualified resource type
          readOnly: true
          title: resourceType
          type: string
        restrictions:
          description: The restrictions because of which SKU cannot be used
          items:
            properties: {}
            type: object
          readOnly: true
          title: restrictions
          type: array
        tier:
          description: The price tier of the SKU
          readOnly: true
          title: tier
          type: string
      title: SkuDescription
      type: object
    SkuDescriptionList:
      description: The list of the EngagementFabric SKU descriptions
      example:
        value:
        - locationInfo:
          - location: location
            zones:
            - zones
            - zones
          - location: location
            zones:
            - zones
            - zones
          tier: tier
          name: name
          restrictions:
          - "{}"
          - "{}"
          locations:
          - locations
          - locations
          resourceType: resourceType
        - locationInfo:
          - location: location
            zones:
            - zones
            - zones
          - location: location
            zones:
            - zones
            - zones
          tier: tier
          name: name
          restrictions:
          - "{}"
          - "{}"
          locations:
          - locations
          - locations
          resourceType: resourceType
      properties:
        value:
          description: SKU descriptions
          items:
            $ref: '#/components/schemas/SkuDescription'
          readOnly: true
          title: value
          type: array
      title: SkuDescriptionList
      type: object
    SkuLocationInfoItem:
      description: The Locations and zones info for SKU
      example:
        location: location
        zones:
        - zones
        - zones
      properties:
        location:
          description: The available location of the SKU
          title: location
          type: string
        zones:
          description: The available zone of the SKU
          items:
            type: string
          title: zones
          type: array
      title: SkuLocationInfoItem
      type: object
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The base model for the tracked Azure resource
      properties:
        location:
          description: The location of the resource
          title: location
          type: string
          x-ms-mutability:
          - create
          - read
        sku:
          $ref: '#/components/schemas/SKU'
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource
          title: tags
          type: object
      required:
      - location
      - sku
      title: TrackedResource
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
