openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on entities like API,\
    \ Product, and Subscription associated with your Azure API Management deployment."
  title: ApiManagementClient
  version: 2017-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimanagement.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies
  : get:
      description: Lists all the Global Policy definitions of the Api Management service.
      operationId: Policy_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Policy scope.
        in: query
        name: scope
        schema:
          enum:
          - Tenant
          - Product
          - Api
          - Operation
          - All
          type: string
          x-ms-enum:
            modelAsString: false
            name: PolicyScopeContract
        x-ms-enum:
          modelAsString: false
          name: PolicyScopeContract
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyCollection'
          description: Returns an array of Policy Contracts.
      tags:
      - Policy
      x-ms-examples:
        ApiManagementListPolicies:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                  name: policy
                  properties:
                    policyContent: "<!--\r\n    IMPORTANT:\r\n    - Policy elements\
                      \ can appear only within the <inbound>, <outbound>, <backend>\
                      \ section elements.\r\n    - Only the <forward-request> policy\
                      \ element can appear within the <backend> section element.\r\
                      \n    - To apply a policy to the incoming request (before it\
                      \ is forwarded to the backend service), place a corresponding\
                      \ policy element within the <inbound> section element.\r\n \
                      \   - To apply a policy to the outgoing response (before it\
                      \ is sent back to the caller), place a corresponding policy\
                      \ element within the <outbound> section element.\r\n    - To\
                      \ add a policy position the cursor at the desired insertion\
                      \ point and click on the round button associated with the policy.\r\
                      \n    - To remove a policy, delete the corresponding policy\
                      \ statement from the policy document.\r\n    - Policies are\
                      \ applied in the order of their appearance, from the top down.\r\
                      \n-->\r\n<policies>\r\n  <inbound />\r\n  <backend>\r\n    <forward-request\
                      \ />\r\n  </backend>\r\n  <outbound />\r\n</policies>"
                  type: Microsoft.ApiManagement/service/policies
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies/{policyId}
  : delete:
      description: Deletes the global policy configuration of the Api Management Service.
      operationId: Policy_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identifier of the Policy.
        in: path
        name: policyId
        required: true
        schema:
          enum:
          - policy
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the policy to be deleted.
          A value of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successfully deleted the policy configuration at the Global
            level.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Policy
      x-ms-examples:
        ApiManagementDeletePolicy:
          parameters:
            If-Match: '*'
            api-version: 2017-03-01
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get the Global policy definition of the Api Management service.
      operationId: Policy_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identifier of the Policy.
        in: path
        name: policyId
        required: true
        schema:
          enum:
          - policy
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyContract'
            application/vnd.ms-azure-apim.policy+xml:
              schema:
                $ref: '#/components/schemas/PolicyContract'
            application/vnd.ms-azure-apim.policy.raw+xml:
              schema:
                $ref: '#/components/schemas/PolicyContract'
          description: Returns the Policy Contracts.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/vnd.ms-azure-apim.policy+xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/vnd.ms-azure-apim.policy.raw+xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Policy
      x-ms-examples:
        ApiManagementGetPolicy:
          parameters:
            api-version: 2017-03-01
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                name: policy
                properties:
                  policyContent: "<!--\r\n    IMPORTANT:\r\n    - Policy elements\
                    \ can appear only within the <inbound>, <outbound>, <backend>\
                    \ section elements.\r\n    - Only the <forward-request> policy\
                    \ element can appear within the <backend> section element.\r\n\
                    \    - To apply a policy to the incoming request (before it is\
                    \ forwarded to the backend service), place a corresponding policy\
                    \ element within the <inbound> section element.\r\n    - To apply\
                    \ a policy to the outgoing response (before it is sent back to\
                    \ the caller), place a corresponding policy element within the\
                    \ <outbound> section element.\r\n    - To add a policy position\
                    \ the cursor at the desired insertion point and click on the round\
                    \ button associated with the policy.\r\n    - To remove a policy,\
                    \ delete the corresponding policy statement from the policy document.\r\
                    \n    - Policies are applied in the order of their appearance,\
                    \ from the top down.\r\n-->\r\n<policies>\r\n  <inbound />\r\n\
                    \  <backend>\r\n    <forward-request />\r\n  </backend>\r\n  <outbound\
                    \ />\r\n</policies>"
                type: Microsoft.ApiManagement/service/policies
      x-accepts:
      - application/json
      - application/vnd.ms-azure-apim.policy+xml
      - application/vnd.ms-azure-apim.policy.raw+xml
    put:
      description: Creates or updates the global policy configuration of the Api Management
        service.
      operationId: Policy_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identifier of the Policy.
        in: path
        name: policyId
        required: true
        schema:
          enum:
          - policy
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyContract'
          application/vnd.ms-azure-apim.policy+xml:
            schema:
              $ref: '#/components/schemas/PolicyContract'
          application/vnd.ms-azure-apim.policy.raw+xml:
            schema:
              $ref: '#/components/schemas/PolicyContract'
        description: The policy contents to apply.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyContract'
          description: Global policy configuration of the Api Management service was
            successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyContract'
          description: Global policy configuration was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Policy
      x-ms-examples:
        ApiManagementCreatePolicy:
          parameters:
            api-version: 2017-03-01
            parameters:
              properties:
                policyContent: "<policies>\r\n  <inbound />\r\n  <backend>\r\n   \
                  \ <forward-request />\r\n  </backend>\r\n  <outbound />\r\n</policies>"
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound />\r\n  <backend>\r\n \
                    \   <forward-request />\r\n  </backend>\r\n  <outbound />\r\n\
                    </policies>"
                type: Microsoft.ApiManagement/service/policies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound />\r\n  <backend>\r\n \
                    \   <forward-request />\r\n  </backend>\r\n  <outbound />\r\n\
                    </policies>"
                type: Microsoft.ApiManagement/service/policies
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policySnippets
  : get:
      description: Lists all policy snippets.
      operationId: PolicySnippets_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Policy scope.
        in: query
        name: scope
        schema:
          enum:
          - Tenant
          - Product
          - Api
          - Operation
          - All
          type: string
          x-ms-enum:
            modelAsString: false
            name: PolicyScopeContract
        x-ms-enum:
          modelAsString: false
          name: PolicyScopeContract
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySnippetsCollection'
          description: Returns an array of Policy Contracts.
      tags:
      - PolicySnippets
      x-ms-examples:
        ApiManagementListPolicySnippets:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            scope: Api
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
              - content: <authentication-basic username="username" password="password"
                  />
                name: Authenticate with Basic
                scope: 268435471
                toolTip: Authenticate with the backend service using Basic authentication.
                  Use in the inbound section at API scope.
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/regions
  : get:
      description: Lists all azure regions in which the service exists.
      operationId: Regions_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionListResult'
          description: Lists of Regions in which the service is deployed.
      tags:
      - Regions
      x-ms-examples:
        ApiManagementListRegions:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                count: 1
                nextLink: ""
                value:
                - isDeleted: false
                  isMasterRegion: true
                  name: West US
      x-ms-pageable:
        nextLinkName: ""
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    PolicyIdParameter:
      description: The identifier of the Policy.
      in: path
      name: policyId
      required: true
      schema:
        enum:
        - policy
        type: string
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: PolicyIdName
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServiceNameParameter:
      description: The name of the API Management service.
      in: path
      name: serviceName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SkipQueryParameter:
      description: Number of records to skip.
      in: query
      name: $skip
      schema:
        format: int32
        minimum: 0
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    TopQueryParameter:
      description: Number of records to return.
      in: query
      name: $top
      schema:
        format: int32
        minimum: 1
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ErrorFieldContract:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    ErrorResponse:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/ErrorFieldContract'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    PolicyCollection:
      description: The response of the list policy operation.
      example:
        value:
        - properties:
            policyContent: policyContent
        - properties:
            policyContent: policyContent
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Policy Contract value.
          items:
            $ref: '#/components/schemas/PolicyContract'
          type: array
      type: object
    PolicyContract:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Policy Contract details.
      example:
        properties:
          policyContent: policyContent
      properties:
        properties:
          $ref: '#/components/schemas/PolicyContractProperties'
    PolicyContractProperties:
      description: Policy contract Properties.
      example:
        policyContent: policyContent
      properties:
        policyContent:
          description: Json escaped Xml Encoded contents of the Policy.
          type: string
      required:
      - policyContent
      type: object
    PolicySnippetContract:
      description: Policy snippet.
      example:
        scope: 0
        name: name
        toolTip: toolTip
        content: content
      properties:
        content:
          description: Snippet content.
          readOnly: true
          type: string
        name:
          description: Snippet name.
          readOnly: true
          type: string
        scope:
          description: Binary OR value of the Snippet scope.
          readOnly: true
          type: integer
        toolTip:
          description: Snippet toolTip.
          readOnly: true
          type: string
      type: object
    PolicySnippetsCollection:
      description: The response of the list policy snippets operation.
      example:
        value:
        - scope: 0
          name: name
          toolTip: toolTip
          content: content
        - scope: 0
          name: name
          toolTip: toolTip
          content: content
      properties:
        value:
          description: Policy snippet value.
          items:
            $ref: '#/components/schemas/PolicySnippetContract'
          type: array
      type: object
    RegionContract:
      description: Region profile.
      example:
        isDeleted: true
        isMasterRegion: true
        name: name
      properties:
        isDeleted:
          description: whether Region is deleted.
          type: boolean
        isMasterRegion:
          description: whether Region is the master region.
          type: boolean
        name:
          description: Region name.
          readOnly: true
          type: string
      type: object
    RegionListResult:
      description: Lists Regions operation response details.
      example:
        count: 0
        value:
        - isDeleted: true
          isMasterRegion: true
          name: name
        - isDeleted: true
          isMasterRegion: true
          name: name
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Lists of Regions.
          items:
            $ref: '#/components/schemas/RegionContract'
          type: array
      type: object
    Resource:
      description: The Resource definition.
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type for API Management resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

