openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Api
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_api_v2010.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: api
servers:
- url: https://api.twilio.com
tags:
- name: Api20100401Account
- name: Api20100401AddOnResult
- name: Api20100401Address
- name: Api20100401AllTime
- name: Api20100401Application
- name: Api20100401AssignedAddOn
- name: Api20100401AssignedAddOnExtension
- name: Api20100401AuthCallsCredentialListMapping
- name: Api20100401AuthCallsIpAccessControlListMapping
- name: Api20100401AuthRegistrationsCredentialListMapping
- name: Api20100401AuthorizedConnectApp
- name: Api20100401AvailablePhoneNumberCountry
- name: Api20100401Balance
- name: Api20100401Call
- name: Api20100401Conference
- name: Api20100401ConnectApp
- name: Api20100401Credential
- name: Api20100401CredentialList
- name: Api20100401CredentialListMapping
- name: Api20100401Daily
- name: Api20100401DependentPhoneNumber
- name: Api20100401Domain
- name: Api20100401Event
- name: Api20100401Feedback
- name: Api20100401HealthCheck
- name: Api20100401IncomingPhoneNumber
- name: Api20100401IpAccessControlList
- name: Api20100401IpAccessControlListMapping
- name: Api20100401IpAddress
- name: Api20100401Key
- name: Api20100401LastMonth
- name: Api20100401Local
- name: Api20100401MachineToMachine
- name: Api20100401Media
- name: Api20100401Member
- name: Api20100401Message
- name: Api20100401Mobile
- name: Api20100401Monthly
- name: Api20100401National
- name: Api20100401NewKey
- name: Api20100401NewSigningKey
- name: Api20100401Notification
- name: Api20100401OutgoingCallerId
- name: Api20100401Participant
- name: Api20100401Payload
- name: Api20100401Payment
- name: Api20100401Queue
- name: Api20100401Record
- name: Api20100401Recording
- name: Api20100401SharedCost
- name: Api20100401ShortCode
- name: Api20100401SigningKey
- name: Api20100401Siprec
- name: Api20100401Stream
- name: Api20100401ThisMonth
- name: Api20100401Today
- name: Api20100401Token
- name: Api20100401TollFree
- name: Api20100401Transcription
- name: Api20100401Trigger
- name: Api20100401UserDefinedMessage
- name: Api20100401UserDefinedMessageSubscription
- name: Api20100401ValidationRequest
- name: Api20100401Voip
- name: Api20100401Yearly
- name: Api20100401Yesterday
paths:
  /2010-04-01/Accounts.json:
    description: Twilio accounts (aka Project) or subaccounts
    get:
      description: Retrieves a collection of Accounts belonging to the account used
        to make the request
      operationId: list_account
      parameters:
      - description: Only return the Account resources with friendly names that exactly
          match this name.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "Only return Account resources with the given status. Can be\
          \ `closed`, `suspended` or `active`."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/account_enum_status'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Account
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_account_controller
    post:
      description: Create a new Twilio Subaccount from the account making the request
      operationId: create_account
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Account
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_account_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      dependentProperties:
        addresses:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Addresses.json"
        applications:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Applications.json"
        authorized_connect_apps:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/AuthorizedConnectApps.json"
        available_phone_numbers:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers.json"
        balance:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Balance.json"
        calls:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Calls.json"
        conferences:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Conferences.json"
        connect_apps:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/ConnectApps.json"
        incoming_phone_numbers:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/IncomingPhoneNumbers.json"
        keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Keys.json"
        messages:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Messages.json"
        new_keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Keys.json"
        new_signing_keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SigningKeys.json"
        notifications:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Notifications.json"
        outgoing_caller_ids:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/OutgoingCallerIds.json"
        queues:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Queues.json"
        recordings:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Recordings.json"
        short_codes:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SMS/ShortCodes.json"
        signing_keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SigningKeys.json"
        sip:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SIP.json"
        sms:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SMS.json"
        tokens:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Tokens.json"
        transcriptions:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Transcriptions.json"
        usage:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Usage.json"
        validation_requests:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/OutgoingCallerIds.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Addresses.json:
    description: "An Address instance resource represents your or your customer's\
      \ physical location within a country. Around the world, some local authorities\
      \ require the name and address of the user to be on file with Twilio to purchase\
      \ and own a phone number."
    get:
      description: ""
      operationId: list_address
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to read."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The `customer_name` of the Address resources to read.
        explode: true
        in: query
        name: CustomerName
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: The string that identifies the Address resources to read.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: The ISO country code of the Address resources to read.
        explode: true
        in: query
        name: IsoCountry
        required: false
        schema:
          format: iso-country-code
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAddressResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Address
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_address_controller
    post:
      description: ""
      operationId: create_address
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that will be responsible for the new Address resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAddressRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.address'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Address
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_address_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - validated
      - verified
      dependentProperties:
        dependent_phone_numbers:
          mapping:
            account_sid: account_sid
            address_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Addresses/{address_sid}/DependentPhoneNumbers.json"
      parent: "/Accounts/{Sid}.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Addresses/{AddressSid}/DependentPhoneNumbers.json:
    description: Phone numbers dependent on an Address resource
    get:
      description: ""
      operationId: list_dependent_phone_number
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the DependentPhoneNumber resources to read."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Address resource associated with the phone number.
        explode: false
        in: path
        name: AddressSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDependentPhoneNumberResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401DependentPhoneNumber
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_dependent_phone_number_controller
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - phone_number
      - friendly_name
      parent: "/Accounts/{AccountSid}/Addresses/{Sid}.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Addresses/{Sid}.json:
    delete:
      description: ""
      operationId: delete_address
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to delete."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Address
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Address
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_address_controller
    description: "An Address instance resource represents your or your customer's\
      \ physical location within a country. Around the world, some local authorities\
      \ require the name and address of the user to be on file with Twilio to purchase\
      \ and own a phone number."
    get:
      description: ""
      operationId: fetch_address
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to fetch."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Address
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.address'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Address
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_address_controller
    post:
      description: ""
      operationId: update_address
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to update."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Address
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateAddressRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.address'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Address
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_address_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - validated
      - verified
      dependentProperties:
        dependent_phone_numbers:
          mapping:
            account_sid: account_sid
            address_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Addresses/{address_sid}/DependentPhoneNumbers.json"
      parent: "/Accounts/{Sid}.json"
      pathType: instance
  /2010-04-01/Accounts/{AccountSid}/Applications.json:
    description: An Application instance resource represents an application that you
      have created with Twilio. An application inside of Twilio is just a set of URLs
      and other configuration data that tells Twilio how to behave when one of your
      Twilio numbers receives a call or SMS message.
    get:
      description: Retrieve a list of applications representing an application within
        the requesting account
      operationId: list_application
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resources to read."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The string that identifies the Application resources to read.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApplicationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Application
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_application_controller
    post:
      description: Create a new application within your account
      operationId: create_application
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that will create the resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.application'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Application
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_application_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      parent: "/Accounts/{Sid}.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Applications/{Sid}.json:
    delete:
      description: Delete the application by the specified application sid
      operationId: delete_application
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resources to delete."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Application
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AP[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Application
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_application_controller
    description: An Application instance resource represents an application that you
      have created with Twilio. An application inside of Twilio is just a set of URLs
      and other configuration data that tells Twilio how to behave when one of your
      Twilio numbers receives a call or SMS message.
    get:
      description: Fetch the application specified by the provided sid
      operationId: fetch_application
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resource to fetch."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Application
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AP[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.application'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Application
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_application_controller
    post:
      description: Updates the application's properties
      operationId: update_application
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resources to update."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Application
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AP[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.application'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Application
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_application_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      parent: "/Accounts/{Sid}.json"
      pathType: instance
  /2010-04-01/Accounts/{AccountSid}/AuthorizedConnectApps.json:
    description: Authorized Twilio Connect apps
    get:
      description: Retrieve a list of authorized-connect-apps belonging to the account
        used to make the request
      operationId: list_authorized_connect_app
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the AuthorizedConnectApp resources to read."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuthorizedConnectAppResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401AuthorizedConnectApp
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_authorized_connect_app_controller
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - connect_app_sid
      - connect_app_friendly_name
      parent: "/Accounts/{Sid}.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AuthorizedConnectApps/{ConnectAppSid}.json:
    description: Authorized Twilio Connect apps
    get:
      description: Fetch an instance of an authorized-connect-app
      operationId: fetch_authorized_connect_app
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the AuthorizedConnectApp resource to fetch."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Connect App to fetch.
        explode: false
        in: path
        name: ConnectAppSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.authorized_connect_app'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401AuthorizedConnectApp
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_authorized_connect_app_controller
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - connect_app_sid
      - connect_app_friendly_name
      parent: "/Accounts/{Sid}.json"
      pathType: instance
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers.json:
    description: Country codes with available phone numbers
    get:
      description: ""
      operationId: list_available_phone_number_country
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the available phone number Country resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberCountryResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401AvailablePhoneNumberCountry
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_available_phone_number_country_controller
    servers:
    - url: https://api.twilio.com
    x-twilio:
      className: available_phone_number_country
      defaultOutputProperties:
      - country_code
      - country
      - beta
      dependentProperties:
        local:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Local.json"
        machine_to_machine:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/MachineToMachine.json"
        mobile:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Mobile.json"
        national:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/National.json"
        shared_cost:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/SharedCost.json"
        toll_free:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/TollFree.json"
        voip:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Voip.json"
      parent: "/Accounts/{Sid}.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json:
    description: Country codes with available phone numbers
    get:
      description: ""
      operationId: fetch_available_phone_number_country
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the available phone number Country resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country to fetch available phone number information\
          \ about."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.available_phone_number_country'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401AvailablePhoneNumberCountry
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_available_phone_number_country_controller
    servers:
    - url: https://api.twilio.com
    x-twilio:
      className: available_phone_number_country
      defaultOutputProperties:
      - country_code
      - country
      - beta
      dependentProperties:
        local:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Local.json"
        machine_to_machine:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/MachineToMachine.json"
        mobile:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Mobile.json"
        national:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/National.json"
        shared_cost:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/SharedCost.json"
        toll_free:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/TollFree.json"
        voip:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Voip.json"
      parent: "/Accounts/{Sid}.json"
      pathType: instance
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Local.json:
    description: Available local phone numbers
    get:
      description: ""
      operationId: list_available_phone_number_local
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumberlocal-resource?code-sample=code-find-phone-numbers-by-number-pattern)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumberlocal-resource?code-sample=code-find-phone-numbers-by-character-pattern).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberLocalResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Local
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_local_controller
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      parent: "/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/MachineToMachine.json:
    description: Available machine-to-machine phone numbers
    get:
      description: ""
      operationId: list_available_phone_number_machine_to_machine
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberMachineToMachineResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401MachineToMachine
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_machine_to_machine_controller
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      parent: "/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Mobile.json:
    description: Available mobile phone numbers
    get:
      description: ""
      operationId: list_available_phone_number_mobile
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberMobileResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401Mobile
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_mobile_controller
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      parent: "/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/National.json:
    description: Available national phone numbers
    get:
      description: ""
      operationId: list_available_phone_number_national
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberNationalResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401National
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_national_controller
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      parent: "/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/SharedCost.json:
    description: Available shared cost numbers
    get:
      description: ""
      operationId: list_available_phone_number_shared_cost
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberSharedCostResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401SharedCost
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_shared_cost_controller
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      parent: "/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/TollFree.json:
    description: Available toll free phone numbers
    get:
      description: ""
      operationId: list_available_phone_number_toll_free
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberTollFreeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - Api20100401TollFree
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.api20100401_toll_free_controller
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      parent: "/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json"
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Voip.json:
    description: Available VoIP phone numbers
    get:
      description: ""
      operationId: list_available_phone_number_voip
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
[...]
