openapi: 3.0.1
info:
  description: The Admin Backup Management Client.
  title: BackupManagementClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/Backups.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azsadmin-Backups
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups
  : get:
      description: Returns a list of backups from a location.
      operationId: Backups_List
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the backup location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupList'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - Backups
      x-ms-examples:
        Returns a list of backups from a location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 11111111-2222-3333-4444-555555555555
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local/backups/de038ae0-294d-468d-90a1-fbe5ae028ce2
                  location: local
                  name: de038ae0-294d-468d-90a1-fbe5ae028ce2
                  properties:
                    backupInfo:
                      backupDataVersion: ""
                      backupId: de038ae0-294d-468d-90a1-fbe5ae028ce2
                      createdDateTime: 2018-02-16T16:06:10.1160531Z
                      deploymentID: ""
                      oemVersion: ""
                      roleStatus:
                      - roleName: NRP
                        status: Succeeded
                      - roleName: SRP
                        status: Succeeded
                      - roleName: CRP
                        status: Succeeded
                      - roleName: KeyVaultInternalControlPlane
                        status: Succeeded
                      - roleName: KeyVaultInternalDataPlane
                        status: Succeeded
                      - roleName: KeyVaultControlPlane
                        status: Succeeded
                      - roleName: KeyVaultDataPlane
                        status: Succeeded
                      - roleName: KeyVaultNamingService
                        status: Succeeded
                      - roleName: WAS
                        status: Succeeded
                      - roleName: ECE
                        status: Succeeded
                      - roleName: CA
                        status: Succeeded
                      - roleName: ACS
                        status: Succeeded
                      stampVersion: ""
                      status: Succeeded
                      timeTakenToCreate: PT5M1.5611298S
                  tags: {}
                  type: Microsoft.Backup.Admin/backupLocations/backups
            "404": {}
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}
  : get:
      description: Returns a backup from a location based on name.
      operationId: Backups_Get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the backup location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the backup.
        in: path
        name: backup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - Backups
      x-ms-examples:
        Returns a backup from a location based on name.:
          parameters:
            api-version: 2016-05-01
            backup: de038ae0-294d-468d-90a1-fbe5ae028ce2
            location: local
            resourceGroupName: System.local
            subscriptionId: 11111111-2222-3333-4444-555555555555
          responses:
            "200":
              body:
                id: /subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local/backups/de038ae0-294d-468d-90a1-fbe5ae028ce2
                location: local
                name: de038ae0-294d-468d-90a1-fbe5ae028ce2
                properties:
                  backupInfo:
                    backupDataVersion: ""
                    backupId: de038ae0-294d-468d-90a1-fbe5ae028ce2
                    createdDateTime: 2018-02-16T16:06:10.1160531Z
                    deploymentID: ""
                    oemVersion: ""
                    roleStatus:
                    - roleName: NRP
                      status: Succeeded
                    - roleName: SRP
                      status: Succeeded
                    - roleName: CRP
                      status: Succeeded
                    - roleName: KeyVaultInternalControlPlane
                      status: Succeeded
                    - roleName: KeyVaultInternalDataPlane
                      status: Succeeded
                    - roleName: KeyVaultControlPlane
                      status: Succeeded
                    - roleName: KeyVaultDataPlane
                      status: Succeeded
                    - roleName: KeyVaultNamingService
                      status: Succeeded
                    - roleName: WAS
                      status: Succeeded
                    - roleName: ECE
                      status: Succeeded
                    - roleName: CA
                      status: Succeeded
                    - roleName: ACS
                      status: Succeeded
                    stampVersion: ""
                    status: Succeeded
                    timeTakenToCreate: PT5M1.5611298S
                tags: {}
                type: Microsoft.Backup.Admin/backupLocations/backups
            "404": {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}/restore
  : post:
      description: Restore a backup.
      operationId: Backups_Restore
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the backup location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the backup.
        in: path
        name: backup
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: ACCEPTED
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - Backups
      x-ms-examples:
        Restore a backup.:
          parameters:
            api-version: 2016-05-01
            backup: de038ae0-294d-468d-90a1-fbe5ae028ce2
            location: local
            resourceGroupName: System.local
            subscriptionId: 11111111-2222-3333-4444-555555555555
          responses:
            "200": {}
            "202": {}
            "404": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
components:
  parameters:
    BackupParameter:
      description: Name of the backup.
      in: path
      name: backup
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Backup:
      allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Information related to a backup.
      example:
        properties:
          backupInfo:
            timeTakenToCreate: timeTakenToCreate
            stampVersion: stampVersion
            oemVersion: oemVersion
            backupDataVersion: backupDataVersion
            backupId: backupId
            deploymentID: deploymentID
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            roleStatus:
            - roleName: roleName
              status: Creating
            - roleName: roleName
              status: Creating
            status: null
      properties:
        properties:
          $ref: '#/components/schemas/BackupModel'
    BackupInfo:
      description: Holds information for a backup.
      example:
        timeTakenToCreate: timeTakenToCreate
        stampVersion: stampVersion
        oemVersion: oemVersion
        backupDataVersion: backupDataVersion
        backupId: backupId
        deploymentID: deploymentID
        createdDateTime: 2000-01-23T04:56:07.000+00:00
        roleStatus:
        - roleName: roleName
          status: Creating
        - roleName: roleName
          status: Creating
        status: null
      properties:
        backupDataVersion:
          description: Version of the backup data.
          readOnly: true
          type: string
        backupId:
          description: Unique GUID for the backup.
          readOnly: true
          type: string
        createdDateTime:
          description: Creation time of the backup.
          format: date-time
          readOnly: true
          type: string
        deploymentID:
          description: Deployment Id of the stamp.
          readOnly: true
          type: string
        oemVersion:
          description: OEM version.
          readOnly: true
          type: string
        roleStatus:
          description: object
          items:
            $ref: '#/components/schemas/RoleOperationStatus'
          type: array
        stampVersion:
          description: Current version.
          readOnly: true
          type: string
        status:
          $ref: '#/components/schemas/OperationStatus'
        timeTakenToCreate:
          description: Duration to create the backup.
          readOnly: true
          type: string
      type: object
    BackupList:
      description: List of backups.
      example:
        value:
        - properties:
            backupInfo:
              timeTakenToCreate: timeTakenToCreate
              stampVersion: stampVersion
              oemVersion: oemVersion
              backupDataVersion: backupDataVersion
              backupId: backupId
              deploymentID: deploymentID
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              roleStatus:
              - roleName: roleName
                status: Creating
              - roleName: roleName
                status: Creating
              status: null
        - properties:
            backupInfo:
              timeTakenToCreate: timeTakenToCreate
              stampVersion: stampVersion
              oemVersion: oemVersion
              backupDataVersion: backupDataVersion
              backupId: backupId
              deploymentID: deploymentID
              createdDateTime: 2000-01-23T04:56:07.000+00:00
              roleStatus:
              - roleName: roleName
                status: Creating
              - roleName: roleName
                status: Creating
              status: null
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of backups.
          items:
            $ref: '#/components/schemas/Backup'
          type: array
      type: object
    BackupModel:
      description: Properties for a backup.
      example:
        backupInfo:
          timeTakenToCreate: timeTakenToCreate
          stampVersion: stampVersion
          oemVersion: oemVersion
          backupDataVersion: backupDataVersion
          backupId: backupId
          deploymentID: deploymentID
          createdDateTime: 2000-01-23T04:56:07.000+00:00
          roleStatus:
          - roleName: roleName
            status: Creating
          - roleName: roleName
            status: Creating
          status: null
      properties:
        backupInfo:
          $ref: '#/components/schemas/BackupInfo'
      type: object
    OperationStatus:
      description: Status of an operation.
      enum:
      - Creating
      - Queued
      - Running
      - Deleted
      - Failed
      - PartialSucceeded
      - Succeeded
      type: string
      x-ms-enum:
        modelAsString: false
        name: OperationStatus
    RoleOperationStatus:
      description: Backup status for a role.
      example:
        roleName: roleName
        status: Creating
      properties:
        roleName:
          description: Name of the role.
          type: string
        status:
          $ref: '#/components/schemas/OperationStatus'
      type: object
    RoleOperationStatusList:
      description: object
      items:
        $ref: '#/components/schemas/RoleOperationStatus'
      type: array
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

