openapi: 3.0.0
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: "This API provides geographic information for a global telephone number,\
    \ including city and country information, primary languages spoken, and mobile\
    \ device identification."
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid Get Global Phone Number Information API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/interzoid/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://oas.interzoid.com/api/getglobalnumberinfo.json
    version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: getglobalnumberinfo
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/getglobalnumberinfo
servers:
- url: https://api.interzoid.com
paths:
  /getglobalnumberinfo:
    get:
      description: "Get demographic information for a global telephone number, including\
        \ city and country information, primary languages spoken, and mobile device\
        \ identification."
      operationId: getglobalnumberinfo
      parameters:
      - description: Your Interzoid license API key. Register at www.interzoid.com/register
        explode: true
        in: query
        name: license
        required: true
        schema:
          type: string
        style: form
      - description: International number (with country code) to retrieve information
          for
        explode: true
        in: query
        name: intlnumber
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getglobalnumberinfo_200_response'
          description: Global telephone demographic information
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "404":
          description: telephone number not found
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Get demographic information for a global telephone number
      tags:
      - Global Phone Number Information
      x-openapi-router-controller: openapi_server.controllers.global_phone_number_information_controller
components:
  schemas:
    getglobalnumberinfo_200_response:
      example:
        Credits: Credits
        PrimaryCity: PrimaryCity
        Country: Country
        Region: Region
        Language3: Language3
        Language2: Language2
        Code: Code
        Mobile: Mobile
        PrimaryLanguage: PrimaryLanguage
        Wealth: Wealth
      properties:
        Code:
          title: Code
          type: string
        Country:
          title: Country
          type: string
        Credits:
          title: Credits
          type: string
        Language2:
          title: Language2
          type: string
        Language3:
          title: Language3
          type: string
        Mobile:
          title: Mobile
          type: string
        PrimaryCity:
          title: PrimaryCity
          type: string
        PrimaryLanguage:
          title: PrimaryLanguage
          type: string
        Region:
          title: Region
          type: string
        Wealth:
          title: Wealth
          type: string
      title: getglobalnumberinfo_200_response
      type: object
