openapi: 3.0.0
info:
  contact:
    email: integrations@reverb.com
    name: Reverb API
    url: https://www.reverb-api.com
  description: reverb
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://reverb.com/page/terms
  title: reverb
  version: "3.0"
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://d1g5417jjjo7sf.cloudfront.net/assets/top-level/reverb-logo-d2c75af0b020521f0bc5e90c883a13b5.svg
  x-origin:
  - format: openapi
    url: https://s3.amazonaws.com/swagger.reverb.com/swagger.json
    version: "3.0"
  x-providerName: reverb.com
externalDocs:
  url: https://dev.reverb.com/
servers:
- url: https://api.reverb.com/api
paths:
  /articles:
    get:
      operationId: articles_get
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: What's being searched for
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Number of featured articles to exclude
        explode: true
        in: query
        name: exclude_featured
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      tags:
      - articles
      x-openapi-router-controller: openapi_server.controllers.articles_controller
  /articles/categories:
    get:
      description: List of all article categories
      operationId: articles_categories_get
      responses:
        default:
          description: Unexpected error
      summary: List of all article categories
      tags:
      - articles
      x-openapi-router-controller: openapi_server.controllers.articles_controller
  /categories:
    get:
      description: List of supported product categories
      operationId: categories_get
      responses:
        default:
          description: Unexpected error
      summary: List of supported product categories
      tags:
      - categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /categories/flat:
    get:
      operationId: categories_flat_get
      responses:
        default:
          description: Unexpected error
      tags:
      - categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /categories/taxonomy:
    get:
      description: Full taxonomy tree of categories including middle categories
      operationId: categories_taxonomy_get
      responses:
        default:
          description: Unexpected error
      summary: Full taxonomy tree of categories including middle categories
      tags:
      - categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /categories/{product_type}/{category}:
    get:
      description: Get subcategory details
      operationId: categories_product_type_category_get
      parameters:
      - explode: false
        in: path
        name: product_type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Get subcategory details
      tags:
      - categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /categories/{uuid}:
    get:
      description: Get category details
      operationId: categories_uuid_get
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Get category details
      tags:
      - categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /comparison_shopping_pages:
    get:
      description: Returns a set of comparison shopping pages based on the current
        params
      operationId: comparison_shopping_pages_get
      responses:
        default:
          description: Unexpected error
      summary: Returns a set of comparison shopping pages based on the current params
      tags:
      - comparison_shopping_pages
      x-openapi-router-controller: openapi_server.controllers.comparison_shopping_pages_controller
  /comparison_shopping_pages/find:
    get:
      description: Show comparison shopping page
      operationId: comparison_shopping_pages_find_get
      parameters:
      - description: ID of the comparison shopping page
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Slug of the comparison shopping page
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: Unexpected error
      summary: Show comparison shopping page
      tags:
      - comparison_shopping_pages
      x-openapi-router-controller: openapi_server.controllers.comparison_shopping_pages_controller
  /comparison_shopping_pages/{id}:
    get:
      operationId: comparison_shopping_pages_id_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - comparison_shopping_pages
      x-openapi-router-controller: openapi_server.controllers.comparison_shopping_pages_controller
  /comparison_shopping_pages/{id}/listings:
    get:
      description: Return new or used listings for a comparison shopping page
      operationId: comparison_shopping_pages_id_listings_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Condition of the listing
        explode: true
        in: query
        name: condition
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      summary: Return new or used listings for a comparison shopping page
      tags:
      - comparison_shopping_pages
      x-openapi-router-controller: openapi_server.controllers.comparison_shopping_pages_controller
  /comparison_shopping_pages/{id}/reviews:
    get:
      description: View reviews of a comparison shopping page
      operationId: comparison_shopping_pages_id_reviews_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: View reviews of a comparison shopping page
      tags:
      - comparison_shopping_pages
      x-openapi-router-controller: openapi_server.controllers.comparison_shopping_pages_controller
  /conversations/{conversation_id}/offer:
    post:
      description: Make an offer to the other participant in the conversation
      operationId: conversations_conversation_id_offer_post
      parameters:
      - explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Make an offer to the other participant in the conversation
      tags:
      - conversations
      x-openapi-router-controller: openapi_server.controllers.conversations_controller
      x-codegen-request-body-name: body
  /conversations/{id}/offer:
    post:
      description: Make an offer to the other participant in the conversation
      operationId: conversations_id_offer_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body3'
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Make an offer to the other participant in the conversation
      tags:
      - conversations
      x-openapi-router-controller: openapi_server.controllers.conversations_controller
      x-codegen-request-body-name: body
  /countries:
    get:
      description: Retrieve a list of country codes with corresponding subregions
      operationId: countries_get
      responses:
        default:
          description: Unexpected error
      summary: Retrieve a list of country codes with corresponding subregions
      tags:
      - countries
      x-openapi-router-controller: openapi_server.controllers.countries_controller
  /csps:
    get:
      description: Returns a set of comparison shopping pages based on the current
        params
      operationId: csps_get
      responses:
        default:
          description: Unexpected error
      summary: Returns a set of comparison shopping pages based on the current params
      tags:
      - csps
      x-openapi-router-controller: openapi_server.controllers.csps_controller
  /csps/categories:
    get:
      operationId: csps_categories_get
      responses:
        default:
          description: Unexpected error
      tags:
      - csps
      x-openapi-router-controller: openapi_server.controllers.csps_controller
  /csps/find:
    get:
      description: Show comparison shopping page
      operationId: csps_find_get
      parameters:
      - description: ID of the comparison shopping page
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Slug of the comparison shopping page
        explode: true
        in: query
        name: slug
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: Unexpected error
      summary: Show comparison shopping page
      tags:
      - csps
      x-openapi-router-controller: openapi_server.controllers.csps_controller
  /csps/{id}:
    get:
      operationId: csps_id_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - csps
      x-openapi-router-controller: openapi_server.controllers.csps_controller
  /curated_sets/{slug}:
    get:
      operationId: curated_sets_slug_get
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - curated_sets
      x-openapi-router-controller: openapi_server.controllers.curated_sets_controller
  /currencies/display:
    get:
      description: List of supported display currencies for browsing listings
      operationId: currencies_display_get
      responses:
        default:
          description: Unexpected error
      summary: List of supported display currencies for browsing listings
      tags:
      - currencies
      x-openapi-router-controller: openapi_server.controllers.currencies_controller
  /currencies/listing:
    get:
      description: List of supported listing currencies for shops
      operationId: currencies_listing_get
      responses:
        default:
          description: Unexpected error
      summary: List of supported listing currencies for shops
      tags:
      - currencies
      x-openapi-router-controller: openapi_server.controllers.currencies_controller
  /feedback/{feedback_id}:
    get:
      description: Feedback details
      operationId: feedback_feedback_id_get
      parameters:
      - explode: false
        in: path
        name: feedback_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Feedback details
      tags:
      - feedback
      x-openapi-router-controller: openapi_server.controllers.feedback_controller
  /handpicked/{slug}:
    get:
      description: Get results from a handpicked collection
      operationId: handpicked_slug_get
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      - description: Search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum current auction price
        explode: true
        in: query
        name: auction_price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Category slug from /api/categories
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Product type slug from /api/categories
        explode: true
        in: query
        name: product_type
        required: false
        schema:
          type: string
        style: form
      - description: "Condition: all,new,b-stock,used,non-functioning,all-but-new,poor,fair,good,very-good,excellent,mint"
        explode: false
        in: query
        name: conditions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Decade: e.g. 1970s, early 70s"
        explode: true
        in: query
        name: decade
        required: false
        schema:
          type: string
        style: form
      - description: "Visual finish of the item, common for guitars"
        explode: true
        in: query
        name: finish
        required: false
        schema:
          type: string
        style: form
      - description: Handmade items only
        explode: true
        in: query
        name: handmade
        required: false
        schema:
          type: boolean
        style: form
      - description: City where item is located
        explode: true
        in: query
        name: item_city
        required: false
        schema:
          type: string
        style: form
      - description: DEPRECATED - Country code where item is located
        explode: true
        in: query
        name: item_country
        required: false
        schema:
          type: string
        style: form
      - description: Country code where item is located
        explode: true
        in: query
        name: item_region
        required: false
        schema:
          type: string
        style: form
      - description: State or region code where item is located
        explode: true
        in: query
        name: item_state
        required: false
        schema:
          type: string
        style: form
      - description: Make(s)/brand of item (e.g. Fender). Can take a single value
          or an array.
        explode: false
        in: query
        name: make
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Model of item (e.g. Stratocaster)
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: "Search term negation. If you want to exclude a term, add it\
          \ here"
        explode: true
        in: query
        name: must_not
        required: false
        schema:
          type: string
        style: form
      - description: Maximum price of search results (USD)
        explode: true
        in: query
        name: price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Minimum price of search results (USD)
        explode: true
        in: query
        name: price_min
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The currency to be used for the price filters
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Maximum year of manufacture
        explode: true
        in: query
        name: year_max
        required: false
        schema:
          type: integer
        style: form
      - description: Minumum year of manufacture
        explode: true
        in: query
        name: year_min
        required: false
        schema:
          type: integer
        style: form
      - description: "If true, include only items that accept gift cards"
        explode: true
        in: query
        name: accepts_gift_cards
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, include only items by Reverb Preferred Sellers"
        explode: true
        in: query
        name: preferred_seller
        required: false
        schema:
          type: boolean
        style: form
      - description: Slug of shop to search
        explode: true
        in: query
        name: shop
        required: false
        schema:
          type: string
        style: form
      - description: ID of shop to search
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: string
        style: form
      - description: "Type of listing: auctions,offers"
        explode: true
        in: query
        name: listing_type
        required: false
        schema:
          type: string
        style: form
      - description: Limit search to items that ship to this country code
        explode: true
        in: query
        name: ships_to
        required: false
        schema:
          type: string
        style: form
      - description: "If true, exclude auctions"
        explode: true
        in: query
        name: exclude_auctions
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, only show items that can be purchased with a payment\
          \ plan"
        explode: true
        in: query
        name: accepts_payment_plans
        required: false
        schema:
          type: boolean
        style: form
      - description: Minimum number of watchers (used to find popular items)
        explode: true
        in: query
        name: watchers_count_min
        required: false
        schema:
          type: integer
        style: form
      - description: "Listing ID negation. If you want to exclude a listing, add it\
          \ here."
        explode: false
        in: query
        name: not_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only items that offer local pickup
        explode: true
        in: query
        name: local_pickup
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      summary: Get results from a handpicked collection
      tags:
      - handpicked
      x-openapi-router-controller: openapi_server.controllers.handpicked_controller
  /listing_conditions:
    get:
      description: List of supported product conditions
      operationId: listing_conditions_get
      responses:
        default:
          description: Unexpected error
      summary: List of supported product conditions
      tags:
      - listing_conditions
      x-openapi-router-controller: openapi_server.controllers.listing_conditions_controller
  /listings:
    get:
      description: Default search of listings includes only used & handmade. Add a
        filter to view all listings or use the /listings/all endpoint.
      operationId: listings_get
      parameters:
      - description: Search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum current auction price
        explode: true
        in: query
        name: auction_price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Category slug from /api/categories
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Product type slug from /api/categories
        explode: true
        in: query
        name: product_type
        required: false
        schema:
          type: string
        style: form
      - description: "Condition: all,new,b-stock,used,non-functioning,all-but-new,poor,fair,good,very-good,excellent,mint"
        explode: false
        in: query
        name: conditions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Decade: e.g. 1970s, early 70s"
        explode: true
        in: query
        name: decade
        required: false
        schema:
          type: string
        style: form
      - description: "Visual finish of the item, common for guitars"
        explode: true
        in: query
        name: finish
        required: false
        schema:
          type: string
        style: form
      - description: Handmade items only
        explode: true
        in: query
        name: handmade
        required: false
        schema:
          type: boolean
        style: form
      - description: City where item is located
        explode: true
        in: query
        name: item_city
        required: false
        schema:
          type: string
        style: form
      - description: DEPRECATED - Country code where item is located
        explode: true
        in: query
        name: item_country
        required: false
        schema:
          type: string
        style: form
      - description: Country code where item is located
        explode: true
        in: query
        name: item_region
        required: false
        schema:
          type: string
        style: form
      - description: State or region code where item is located
        explode: true
        in: query
        name: item_state
        required: false
        schema:
          type: string
        style: form
      - description: Make(s)/brand of item (e.g. Fender). Can take a single value
          or an array.
        explode: false
        in: query
        name: make
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Model of item (e.g. Stratocaster)
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: "Search term negation. If you want to exclude a term, add it\
          \ here"
        explode: true
        in: query
        name: must_not
        required: false
        schema:
          type: string
        style: form
      - description: Maximum price of search results (USD)
        explode: true
        in: query
        name: price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Minimum price of search results (USD)
        explode: true
        in: query
        name: price_min
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The currency to be used for the price filters
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Maximum year of manufacture
        explode: true
        in: query
        name: year_max
        required: false
        schema:
          type: integer
        style: form
      - description: Minumum year of manufacture
        explode: true
        in: query
        name: year_min
        required: false
        schema:
          type: integer
        style: form
      - description: "If true, include only items that accept gift cards"
        explode: true
        in: query
        name: accepts_gift_cards
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, include only items by Reverb Preferred Sellers"
        explode: true
        in: query
        name: preferred_seller
        required: false
        schema:
          type: boolean
        style: form
      - description: Slug of shop to search
        explode: true
        in: query
        name: shop
        required: false
        schema:
          type: string
        style: form
      - description: ID of shop to search
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: string
        style: form
      - description: "Type of listing: auctions,offers"
        explode: true
        in: query
        name: listing_type
        required: false
        schema:
          type: string
        style: form
      - description: Limit search to items that ship to this country code
        explode: true
        in: query
        name: ships_to
        required: false
        schema:
          type: string
        style: form
      - description: "If true, exclude auctions"
        explode: true
        in: query
        name: exclude_auctions
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, only show items that can be purchased with a payment\
          \ plan"
        explode: true
        in: query
        name: accepts_payment_plans
        required: false
        schema:
          type: boolean
        style: form
      - description: Minimum number of watchers (used to find popular items)
        explode: true
        in: query
        name: watchers_count_min
        required: false
        schema:
          type: integer
        style: form
      - description: "Listing ID negation. If you want to exclude a listing, add it\
          \ here."
        explode: false
        in: query
        name: not_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only items that offer local pickup
        explode: true
        in: query
        name: local_pickup
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      summary: Default search of listings includes only used & handmade. Add a filter
        to view all listings or use the /listings/all endpoint.
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
    post:
      description: Create a listing
      operationId: listings_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_listings_post_request'
        description: the content of the request
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
        - write_listings_for_others
      summary: Create a listing
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
      x-codegen-request-body-name: body
  /listings/all:
    get:
      description: "All listings including used, handmade, and brand new"
      operationId: listings_all_get
      parameters:
      - description: Search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum current auction price
        explode: true
        in: query
        name: auction_price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Category slug from /api/categories
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Product type slug from /api/categories
        explode: true
        in: query
        name: product_type
        required: false
        schema:
          type: string
        style: form
      - description: "Condition: all,new,b-stock,used,non-functioning,all-but-new,poor,fair,good,very-good,excellent,mint"
        explode: false
        in: query
        name: conditions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Decade: e.g. 1970s, early 70s"
        explode: true
        in: query
        name: decade
        required: false
        schema:
          type: string
        style: form
      - description: "Visual finish of the item, common for guitars"
        explode: true
        in: query
        name: finish
        required: false
        schema:
          type: string
        style: form
      - description: Handmade items only
        explode: true
        in: query
        name: handmade
        required: false
        schema:
          type: boolean
        style: form
      - description: City where item is located
        explode: true
        in: query
        name: item_city
        required: false
        schema:
          type: string
        style: form
      - description: DEPRECATED - Country code where item is located
        explode: true
        in: query
        name: item_country
        required: false
        schema:
          type: string
        style: form
      - description: Country code where item is located
        explode: true
        in: query
        name: item_region
        required: false
        schema:
          type: string
        style: form
      - description: State or region code where item is located
        explode: true
        in: query
        name: item_state
        required: false
        schema:
          type: string
        style: form
      - description: Make(s)/brand of item (e.g. Fender). Can take a single value
          or an array.
        explode: false
        in: query
        name: make
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Model of item (e.g. Stratocaster)
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: "Search term negation. If you want to exclude a term, add it\
          \ here"
        explode: true
        in: query
        name: must_not
        required: false
        schema:
          type: string
        style: form
      - description: Maximum price of search results (USD)
        explode: true
        in: query
        name: price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Minimum price of search results (USD)
        explode: true
        in: query
        name: price_min
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The currency to be used for the price filters
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Maximum year of manufacture
        explode: true
        in: query
        name: year_max
        required: false
        schema:
          type: integer
        style: form
      - description: Minumum year of manufacture
        explode: true
        in: query
        name: year_min
        required: false
        schema:
          type: integer
        style: form
      - description: "If true, include only items that accept gift cards"
        explode: true
        in: query
        name: accepts_gift_cards
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, include only items by Reverb Preferred Sellers"
        explode: true
        in: query
        name: preferred_seller
        required: false
        schema:
          type: boolean
        style: form
      - description: Slug of shop to search
        explode: true
        in: query
        name: shop
        required: false
        schema:
          type: string
        style: form
      - description: ID of shop to search
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: string
        style: form
      - description: "Type of listing: auctions,offers"
        explode: true
        in: query
        name: listing_type
        required: false
        schema:
          type: string
        style: form
      - description: Limit search to items that ship to this country code
        explode: true
        in: query
        name: ships_to
        required: false
        schema:
          type: string
        style: form
      - description: "If true, exclude auctions"
        explode: true
        in: query
        name: exclude_auctions
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, only show items that can be purchased with a payment\
          \ plan"
        explode: true
        in: query
        name: accepts_payment_plans
        required: false
        schema:
          type: boolean
        style: form
      - description: Minimum number of watchers (used to find popular items)
        explode: true
        in: query
        name: watchers_count_min
        required: false
        schema:
          type: integer
        style: form
      - description: "Listing ID negation. If you want to exclude a listing, add it\
          \ here."
        explode: false
        in: query
        name: not_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only items that offer local pickup
        explode: true
        in: query
        name: local_pickup
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      summary: "All listings including used, handmade, and brand new"
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
  /listings/facets/seller_location:
    get:
      description: Individual facets
      operationId: listings_facets_seller_location_get
      responses:
        default:
          description: Unexpected error
      summary: Individual facets
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
  /listings/{id}/negotiation:
    get:
      description: Returns the latest negotiation for the requesting user given a
        listing id
      operationId: listings_id_negotiation_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_offers
      summary: Returns the latest negotiation for the requesting user given a listing
        id
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
  /listings/{id}/offer:
    post:
      description: Make an offer to the seller of a listing
      operationId: listings_id_offer_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body3'
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Make an offer to the seller of a listing
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
      x-codegen-request-body-name: body
  /listings/{listing_id}/bump:
    get:
      description: View available bump tiers and stats for a listing
      operationId: listings_listing_id_bump_get
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_listings
      summary: View available bump tiers and stats for a listing
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
  /listings/{listing_id}/bump/{budget_type}:
    post:
      description: Bump a listing
      operationId: listings_listing_id_bump_budget_type_post
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: budget_type
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: Bump a listing
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
  /listings/{listing_id}/conversations:
    post:
      description: Start a conversation with a seller
      operationId: listings_listing_id_conversations_post
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body2'
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_messages
      summary: Start a conversation with a seller
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
      x-codegen-request-body-name: body
  /listings/{listing_id}/images:
    get:
      description: View the images associated with a particular listing
      operationId: listings_listing_id_images_get
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_listings
      summary: View the images associated with a particular listing
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
  /listings/{listing_id}/images/{image_id}:
    delete:
      description: Delete an image from a listing
      operationId: listings_listing_id_images_image_id_delete
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: image_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: Delete an image from a listing
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
  /listings/{listing_id}/sales:
    get:
      description: See all sales that include a listing.
      operationId: listings_listing_id_sales_get
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: See all sales that include a listing.
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
  /listings/{slug}:
    delete:
      description: Delete a draft listing. Cannot be used on non-drafts.
      operationId: listings_slug_delete
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: Delete a draft listing. Cannot be used on non-drafts.
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
    get:
      description: Listing details
      operationId: listings_slug_get
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Listing details
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
    put:
      description: Update a listing
      operationId: listings_slug_put
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_listings_post_request'
        description: the content of the request
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: Update a listing
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
      x-codegen-request-body-name: body
  /listings/{slug}/edit:
    get:
      description: Edit listing.
      operationId: listings_slug_edit_get
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: Edit listing.
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
  /listings/{slug}/flag:
    post:
      description: Flag a listing for inappropriate content or fraud
      operationId: listings_slug_flag_post
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_listings__slug__flag_post_request'
        description: the content of the request
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      summary: Flag a listing for inappropriate content or fraud
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
      x-codegen-request-body-name: body
  /listings/{slug}/reviews:
    get:
      description: View reviews of a listing
      operationId: listings_slug_reviews_get
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: View reviews of a listing
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
    post:
      description: Create a review for a listing
      operationId: listings_slug_reviews_post
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_reviews
      summary: Create a review for a listing
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
  /listings/{slug}/similar_listings:
    get:
      description: Listing details
      operationId: listings_slug_similar_listings_get
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      summary: Listing details
      tags:
      - listings
      x-openapi-router-controller: openapi_server.controllers.listings_controller
  /my/account:
    get:
      description: Get account details
      operationId: my_account_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_profile
      summary: Get account details
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    put:
      description: Update account details
      operationId: my_account_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_account_put_request'
        description: the content of the request
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_profile
      summary: Update account details
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
      x-codegen-request-body-name: body
  /my/addresses:
    get:
      description: See all addresses in your address book
      operationId: my_addresses_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_profile
      summary: See all addresses in your address book
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      description: Create a new address in your address book
      operationId: my_addresses_post
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_profile
      summary: Create a new address in your address book
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/addresses/{address_id}:
    delete:
      description: Delete an existing address in your address book
      operationId: my_addresses_address_id_delete
      parameters:
      - explode: false
        in: path
        name: address_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_profile
      summary: Delete an existing address in your address book
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    put:
      description: Update an existing address in your address book
      operationId: my_addresses_address_id_put
      parameters:
      - explode: false
        in: path
        name: address_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_profile
      summary: Update an existing address in your address book
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/conversations:
    get:
      description: Get a list of your conversations
      operationId: my_conversations_get
      parameters:
      - description: Query string to search conversations by
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Show unread conversations only
        explode: true
        in: query
        name: unread_only
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_messages
      summary: Get a list of your conversations
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      description: Start a conversation
      operationId: my_conversations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_conversations_post_request'
        description: the content of the request
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_messages
      summary: Start a conversation
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
      x-codegen-request-body-name: body
  /my/conversations/{conversation_id}/messages:
    post:
      description: Send a message
      operationId: my_conversations_conversation_id_messages_post
      parameters:
      - explode: false
        in: path
        name: conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body2'
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_messages
      summary: Send a message
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
      x-codegen-request-body-name: body
  /my/conversations/{id}:
    get:
      description: Display conversation details with messages in natural time order
        (oldest to newest)
      operationId: my_conversations_id_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_messages
      summary: Display conversation details with messages in natural time order (oldest
        to newest)
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    put:
      description: Mark a conversation read/unread
      operationId: my_conversations_id_put
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_conversations__id__put_request'
        description: the content of the request
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_messages
      summary: Mark a conversation read/unread
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
      x-codegen-request-body-name: body
  /my/counts:
    get:
      description: Get your actionable status counts
      operationId: my_counts_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_profile
      summary: Get your actionable status counts
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/curated_set/product/{product_id}:
    delete:
      operationId: my_curated_set_product_product_id_delete
      parameters:
      - explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      operationId: my_curated_set_product_product_id_post
      parameters:
      - explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/feed:
    get:
      description: Get listings from your feed
      operationId: my_feed_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Get listings from your feed
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/feed/customize:
    get:
      description: get your feed customization options
      operationId: my_feed_customize_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: get your feed customization options
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/feed/grid:
    get:
      description: get your feed
      operationId: my_feed_grid_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: get your feed
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/feedback/received:
    get:
      description: List of received feedback
      operationId: my_feedback_received_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_feedback
      summary: List of received feedback
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/feedback/sent:
    get:
      description: List of sent feedback
      operationId: my_feedback_sent_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_feedback
      summary: List of sent feedback
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/follows:
    get:
      description: See what the user is following
      operationId: my_follows_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: See what the user is following
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/follows/articles:
    get:
      description: Returns a user's ArticleCategoryFollows
      operationId: my_follows_articles_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Returns a user's ArticleCategoryFollows
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      description: Set a user's ArticleCategoryFollows
      operationId: my_follows_articles_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_follows_articles_post_request'
        description: the content of the request
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Set a user's ArticleCategoryFollows
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
      x-codegen-request-body-name: body
  /my/follows/brands/{slug}:
    delete:
      description: Unfollow a brand
      operationId: my_follows_brands_slug_delete
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a brand
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    get:
      description: Follow status for a brand
      operationId: my_follows_brands_slug_get
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a brand
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      description: Follow a brand
      operationId: my_follows_brands_slug_post
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a brand
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/follows/categories/{category}/{subcategory}:
    delete:
      description: Unfollow a subcategory
      operationId: my_follows_categories_category_subcategory_delete
      parameters:
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: subcategory
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a subcategory
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    get:
      description: Follow status for a subcategory
      operationId: my_follows_categories_category_subcategory_get
      parameters:
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: subcategory
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a subcategory
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      description: Follow a subcategory
      operationId: my_follows_categories_category_subcategory_post
      parameters:
      - explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: subcategory
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a subcategory
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/follows/categories/{identifier}:
    delete:
      description: Unfollow a category
      operationId: my_follows_categories_identifier_delete
      parameters:
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a category
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    get:
      description: Follow status for a category
      operationId: my_follows_categories_identifier_get
      parameters:
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a category
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      description: Follow a category
      operationId: my_follows_categories_identifier_post
      parameters:
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a category
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/follows/categories/{uuid}:
    post:
      description: Follow a category
      operationId: my_follows_categories_uuid_post
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a category
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/follows/collections/{slug}:
    delete:
      description: Unfollow a collection
      operationId: my_follows_collections_slug_delete
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a collection
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    get:
      description: Follow status for a collection
      operationId: my_follows_collections_slug_get
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a collection
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      description: Follow a collection
      operationId: my_follows_collections_slug_post
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a collection
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/follows/handpicked/{slug}:
    delete:
      description: Unfollow a handpicked collection
      operationId: my_follows_handpicked_slug_delete
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a handpicked collection
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    get:
      description: Follow status for a handpicked collection
      operationId: my_follows_handpicked_slug_get
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a handpicked collection
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      description: Follow a handpicked collection
      operationId: my_follows_handpicked_slug_post
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a handpicked collection
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/follows/search:
    get:
      description: Follow status for a search
      operationId: my_follows_search_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a search
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      description: Follow a search
      operationId: my_follows_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_follows_search_post_request'
        description: the content of the request
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a search
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
      x-codegen-request-body-name: body
  /my/follows/shops/{slug}:
    delete:
      description: Unfollow a shop
      operationId: my_follows_shops_slug_delete
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Unfollow a shop
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    get:
      description: Follow status for a shop
      operationId: my_follows_shops_slug_get
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: Follow status for a shop
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      description: Follow a shop
      operationId: my_follows_shops_slug_post
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Follow a shop
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/follows/{follow_id}:
    delete:
      description: Delete a follow
      operationId: my_follows_follow_id_delete
      parameters:
      - explode: false
        in: path
        name: follow_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_lists
      summary: Delete a follow
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/follows/{follow_id}/alert:
    delete:
      operationId: my_follows_follow_id_alert_delete
      parameters:
      - explode: false
        in: path
        name: follow_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
    post:
      operationId: my_follows_follow_id_alert_post
      parameters:
      - explode: false
        in: path
        name: follow_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/listings:
    get:
      description: Retrieve a list of live listings for the seller. To search all
        listings specify state=all
      operationId: my_listings_get
      parameters:
      - description: Search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum current auction price
        explode: true
        in: query
        name: auction_price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Category slug from /api/categories
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Product type slug from /api/categories
        explode: true
        in: query
        name: product_type
        required: false
        schema:
          type: string
        style: form
      - description: "Condition: all,new,b-stock,used,non-functioning,all-but-new,poor,fair,good,very-good,excellent,mint"
        explode: false
        in: query
        name: conditions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Decade: e.g. 1970s, early 70s"
        explode: true
        in: query
        name: decade
        required: false
        schema:
          type: string
        style: form
      - description: "Visual finish of the item, common for guitars"
        explode: true
        in: query
        name: finish
        required: false
        schema:
          type: string
        style: form
      - description: Handmade items only
        explode: true
        in: query
        name: handmade
        required: false
        schema:
          type: boolean
        style: form
      - description: City where item is located
        explode: true
        in: query
        name: item_city
        required: false
        schema:
          type: string
        style: form
      - description: DEPRECATED - Country code where item is located
        explode: true
        in: query
        name: item_country
        required: false
        schema:
          type: string
        style: form
      - description: Country code where item is located
        explode: true
        in: query
        name: item_region
        required: false
        schema:
          type: string
        style: form
      - description: State or region code where item is located
        explode: true
        in: query
        name: item_state
        required: false
        schema:
          type: string
        style: form
      - description: Make(s)/brand of item (e.g. Fender). Can take a single value
          or an array.
        explode: false
        in: query
        name: make
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Model of item (e.g. Stratocaster)
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: "Search term negation. If you want to exclude a term, add it\
          \ here"
        explode: true
        in: query
        name: must_not
        required: false
        schema:
          type: string
        style: form
      - description: Maximum price of search results (USD)
        explode: true
        in: query
        name: price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Minimum price of search results (USD)
        explode: true
        in: query
        name: price_min
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The currency to be used for the price filters
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Maximum year of manufacture
        explode: true
        in: query
        name: year_max
        required: false
        schema:
          type: integer
        style: form
      - description: Minumum year of manufacture
        explode: true
        in: query
        name: year_min
        required: false
        schema:
          type: integer
        style: form
      - description: "If true, include only items that accept gift cards"
        explode: true
        in: query
        name: accepts_gift_cards
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, include only items by Reverb Preferred Sellers"
        explode: true
        in: query
        name: preferred_seller
        required: false
        schema:
          type: boolean
        style: form
      - description: Slug of shop to search
        explode: true
        in: query
        name: shop
        required: false
        schema:
          type: string
        style: form
      - description: ID of shop to search
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: string
        style: form
      - description: "Type of listing: auctions,offers"
        explode: true
        in: query
        name: listing_type
        required: false
        schema:
          type: string
        style: form
      - description: Limit search to items that ship to this country code
        explode: true
        in: query
        name: ships_to
        required: false
        schema:
          type: string
        style: form
      - description: "If true, exclude auctions"
        explode: true
        in: query
        name: exclude_auctions
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, only show items that can be purchased with a payment\
          \ plan"
        explode: true
        in: query
        name: accepts_payment_plans
        required: false
        schema:
          type: boolean
        style: form
      - description: Minimum number of watchers (used to find popular items)
        explode: true
        in: query
        name: watchers_count_min
        required: false
        schema:
          type: integer
        style: form
      - description: "Listing ID negation. If you want to exclude a listing, add it\
          \ here."
        explode: false
        in: query
        name: not_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only items that offer local pickup
        explode: true
        in: query
        name: local_pickup
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available: [\"all\", \"draft\", \"ended\", \"live\", \"ordered\"\
          , \"sold_out\", \"suspended\", \"seller_unavailable\"]. Defaults to 'live'"
        explode: true
        in: query
        name: state
        required: false
        schema:
          default: live
          type: string
        style: form
      - description: Find a listing by sku
        explode: true
        in: query
        name: sku
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_listings
      summary: Retrieve a list of live listings for the seller. To search all listings
        specify state=all
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/listings/drafts:
    get:
      description: Retrieve a list your draft listings
      operationId: my_listings_drafts_get
      parameters:
      - description: Search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Maximum current auction price
        explode: true
        in: query
        name: auction_price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Category slug from /api/categories
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Product type slug from /api/categories
        explode: true
        in: query
        name: product_type
        required: false
        schema:
          type: string
        style: form
      - description: "Condition: all,new,b-stock,used,non-functioning,all-but-new,poor,fair,good,very-good,excellent,mint"
        explode: false
        in: query
        name: conditions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Decade: e.g. 1970s, early 70s"
        explode: true
        in: query
        name: decade
        required: false
        schema:
          type: string
        style: form
      - description: "Visual finish of the item, common for guitars"
        explode: true
        in: query
        name: finish
        required: false
        schema:
          type: string
        style: form
      - description: Handmade items only
        explode: true
        in: query
        name: handmade
        required: false
        schema:
          type: boolean
        style: form
      - description: City where item is located
        explode: true
        in: query
        name: item_city
        required: false
        schema:
          type: string
        style: form
      - description: DEPRECATED - Country code where item is located
        explode: true
        in: query
        name: item_country
        required: false
        schema:
          type: string
        style: form
      - description: Country code where item is located
        explode: true
        in: query
        name: item_region
        required: false
        schema:
          type: string
        style: form
      - description: State or region code where item is located
        explode: true
        in: query
        name: item_state
        required: false
        schema:
          type: string
        style: form
      - description: Make(s)/brand of item (e.g. Fender). Can take a single value
          or an array.
        explode: false
        in: query
        name: make
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Model of item (e.g. Stratocaster)
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
      - description: "Search term negation. If you want to exclude a term, add it\
          \ here"
        explode: true
        in: query
        name: must_not
        required: false
        schema:
          type: string
        style: form
      - description: Maximum price of search results (USD)
        explode: true
        in: query
        name: price_max
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Minimum price of search results (USD)
        explode: true
        in: query
        name: price_min
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: The currency to be used for the price filters
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: Maximum year of manufacture
        explode: true
        in: query
        name: year_max
        required: false
        schema:
          type: integer
        style: form
      - description: Minumum year of manufacture
        explode: true
        in: query
        name: year_min
        required: false
        schema:
          type: integer
        style: form
      - description: "If true, include only items that accept gift cards"
        explode: true
        in: query
        name: accepts_gift_cards
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, include only items by Reverb Preferred Sellers"
        explode: true
        in: query
        name: preferred_seller
        required: false
        schema:
          type: boolean
        style: form
      - description: Slug of shop to search
        explode: true
        in: query
        name: shop
        required: false
        schema:
          type: string
        style: form
      - description: ID of shop to search
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          type: string
        style: form
      - description: "Type of listing: auctions,offers"
        explode: true
        in: query
        name: listing_type
        required: false
        schema:
          type: string
        style: form
      - description: Limit search to items that ship to this country code
        explode: true
        in: query
        name: ships_to
        required: false
        schema:
          type: string
        style: form
      - description: "If true, exclude auctions"
        explode: true
        in: query
        name: exclude_auctions
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, only show items that can be purchased with a payment\
          \ plan"
        explode: true
        in: query
        name: accepts_payment_plans
        required: false
        schema:
          type: boolean
        style: form
      - description: Minimum number of watchers (used to find popular items)
        explode: true
        in: query
        name: watchers_count_min
        required: false
        schema:
          type: integer
        style: form
      - description: "Listing ID negation. If you want to exclude a listing, add it\
          \ here."
        explode: false
        in: query
        name: not_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Only items that offer local pickup
        explode: true
        in: query
        name: local_pickup
        required: false
        schema:
          type: boolean
        style: form
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_listings
      summary: Retrieve a list your draft listings
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/listings/negotiations:
    get:
      description: Get a list of active negotiations as a seller
      operationId: my_listings_negotiations_get
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_offers
      summary: Get a list of active negotiations as a seller
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/listings/{slug}/state/end:
    put:
      description: End a listing
      operationId: my_listings_slug_state_end_put
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_listings__slug__state_end_put_request'
        description: the content of the request
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_listings
      summary: End a listing
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
      x-codegen-request-body-name: body
  /my/lists:
    get:
      description: "Get a list of your lists (wishlist, watch list, etc)"
      operationId: my_lists_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_lists
      summary: "Get a list of your lists (wishlist, watch list, etc)"
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/negotiations/buying:
    get:
      description: Get a list of active negotiations as a buyer
      operationId: my_negotiations_buying_get
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_offers
      summary: Get a list of active negotiations as a buyer
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/negotiations/{id}:
    get:
      description: Get offer details
      operationId: my_negotiations_id_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_offers
      summary: Get offer details
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/negotiations/{id}/accept:
    post:
      description: Accept an offer
      operationId: my_negotiations_id_accept_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_my_negotiations__id__accept_post_request'
        description: the content of the request
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Accept an offer
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
      x-codegen-request-body-name: body
  /my/negotiations/{id}/counter:
    post:
      description: Counter an offer
      operationId: my_negotiations_id_counter_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Body'
        x-body-name: body
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Counter an offer
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
      x-codegen-request-body-name: body
  /my/negotiations/{id}/decline:
    post:
      description: Decline an offer
      operationId: my_negotiations_id_decline_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_offers
      summary: Decline an offer
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/awaiting_feedback:
    get:
      description: List of orders that need feedback
      operationId: my_orders_awaiting_feedback_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_feedback
      summary: List of orders that need feedback
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/buying/all:
    get:
      description: "Returns all orders, newest first."
      operationId: my_orders_buying_all_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: "Returns all orders, newest first."
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/buying/by_uuid/{uuid}:
    get:
      operationId: my_orders_buying_by_uuid_uuid_get
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/buying/unpaid:
    get:
      description: "Returns unpaid orders, newest first."
      operationId: my_orders_buying_unpaid_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: "Returns unpaid orders, newest first."
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/buying/{id}:
    get:
      description: Returns order details for a buyer
      operationId: my_orders_buying_id_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: Returns order details for a buyer
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/buying/{id}/mark_received:
    post:
      description: Marks an order as received by the buyer
      operationId: my_orders_buying_id_mark_received_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - write_orders
      summary: Marks an order as received by the buyer
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/selling/all:
    get:
      description: "Get all seller orders, newest first."
      operationId: my_orders_selling_all_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: "Get all seller orders, newest first."
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/selling/awaiting_shipment:
    get:
      description: "Get unpaid seller orders, newest first."
      operationId: my_orders_selling_awaiting_shipment_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: "Get unpaid seller orders, newest first."
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/selling/buyer_history/{buyer_id}:
    get:
      description: See previous orders from buyer
      operationId: my_orders_selling_buyer_history_buyer_id_get
      parameters:
      - explode: false
        in: path
        name: buyer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: See previous orders from buyer
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/selling/by_uuid/{uuid}:
    get:
      operationId: my_orders_selling_by_uuid_uuid_get
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: Unexpected error
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/selling/unpaid:
    get:
      description: "Get unpaid seller orders, newest first."
      operationId: my_orders_selling_unpaid_get
      responses:
        default:
          description: Unexpected error
      security:
      - oauth2:
        - read_orders
      summary: "Get unpaid seller orders, newest first."
      tags:
      - my
      x-openapi-router-controller: openapi_server.controllers.my_controller
  /my/orders/selling/{id}:
    get:
      description: Returns order details for a seller
      operationId: my_orders_selling_id_get
      parameters:
      - explode: false
        in: path
[...]
