openapi: 3.0.0
info:
  contact:
    x-twitter: hello_iqualify
  description: |+
    The iQualify API offers management responses for building
    learning experiences using your iQualify instance data.

    Once you’ve registered with iQualify, you can request an API access token by
    navigating to the API access section of the "Account Settings" area.

    Find out how to [Request your API access token](https://www.iqualify.com/help/connecting-iqualify-to-other-systems/api/how-to-access-and-manage-your-api-token)
    on our Knowledge base.

    All endpoints are only accessible via https and are located at
    api.iqualify.com. For instance: you can find your current offerings by
    accessing the following URL:

        https://api.iqualify.com/v1/offerings/current

  title: iQualify Management API
  version: v1
  x-apisguru-categories:
  - education
  x-logo:
    url: https://twitter.com/hello_iqualify/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://api.iqualify.com/v1/management.json
    version: "3.0"
  x-providerName: iqualify.com
servers:
- url: https://api.iqualify.com/v1
security:
- Authorization: []
paths:
  /:
    get:
      description: Responds with all supported endpoints URLs for v2 version.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Supported endpoints
      summary: List supported endpoints URLs
      tags:
      - API info
      x-accepts:
      - application/json
  /course-mappings:
    get:
      description: Returns all course mappings for course offerings.
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                title: course mappings
                type: object
          description: Course Mappings
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
      summary: Find course mappings
      tags:
      - Course mappings
      x-accepts:
      - application/json
  /course-mappings/externalcourse/{externalCourseId}:
    get:
      description: Responds with course mapping details by externalCourseId.
      parameters:
      - description: external course's id
        explode: false
        in: path
        name: externalCourseId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Course Mapping
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find course mappings by externalCourseId
      tags:
      - Course mappings
      x-accepts:
      - application/json
  /course-mappings/{offeringId}:
    get:
      description: Responds with course mapping details by offeringId.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Course Mapping
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find course mappings by offeringId
      tags:
      - Course mappings
      x-accepts:
      - application/json
  /course-mappings/{offeringId}/{externalCourseId}:
    delete:
      description: Removes the course mapping between the offering and the externalCourseId.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: external course's id
        explode: false
        in: path
        name: externalCourseId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Course Mapping
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Remove course mapping
      tags:
      - Course mappings
      x-accepts:
      - application/json
    put:
      description: Creates a mapping between the offering and the externalCourseId.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: external course's id
        explode: false
        in: path
        name: externalCourseId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Course Mapping
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Add course mapping
      tags:
      - Course mappings
      x-accepts:
      - application/json
  /courses:
    get:
      description: Responds with all courses (draft and published.)
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CourseResponse'
                title: Courses
                type: array
          description: All courses (draft and published) in the organisation.
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
      summary: Find courses
      tags:
      - Courses
      x-accepts:
      - application/json
  /courses/{contentId}:
    get:
      description: Responds with a course matching the contentId.
      parameters:
      - description: The content Id
        explode: false
        in: path
        name: contentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseMetaResponse'
          description: Course detail
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find course by contentId
      tags:
      - Courses
      x-accepts:
      - application/json
  /courses/{contentId}/activations:
    get:
      description: Responds with all activations for the contentId provided.
      parameters:
      - description: The content Id
        explode: false
        in: path
        name: contentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResponse'
          description: Activation list.
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find activations for a contentId
      tags:
      - Courses
      x-accepts:
      - application/json
  /courses/{contentId}/metadata/category:
    put:
      description: Add or update course category in the metadata of a course.
      parameters:
      - description: The content Id
        explode: false
        in: path
        name: contentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_courses__contentId__metadata_category_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseMetaResponse'
          description: Course detail
        "400":
          content:
            application/json:
              examples:
                SchemaAdditionalPropertiesError:
                  $ref: '#/components/examples/SchemaAdditionalPropertiesError'
                SchemaRequiredError:
                  $ref: '#/components/examples/SchemaRequiredError'
                SchemaTypeError:
                  $ref: '#/components/examples/SchemaTypeError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Update course category
      tags:
      - Course metadata
      x-content-type: application/json
      x-accepts:
      - application/json
  /courses/{contentId}/metadata/level:
    put:
      description: Add or update the course level in the metadata of a course.
      parameters:
      - description: The content Id
        explode: false
        in: path
        name: contentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_courses__contentId__metadata_level_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseMetaResponse'
          description: Course detail
        "400":
          content:
            application/json:
              examples:
                SchemaAdditionalPropertiesError:
                  $ref: '#/components/examples/SchemaAdditionalPropertiesError'
                SchemaRequiredError:
                  $ref: '#/components/examples/SchemaRequiredError'
                SchemaTypeError:
                  $ref: '#/components/examples/SchemaTypeError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Update course level
      tags:
      - Course metadata
      x-content-type: application/json
      x-accepts:
      - application/json
  /courses/{contentId}/metadata/tags:
    put:
      description: Add or update course tags in the metadata of a course.
      parameters:
      - description: The content Id
        explode: false
        in: path
        name: contentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_courses__contentId__metadata_tags_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseMetaResponse'
          description: Course detail
        "400":
          content:
            application/json:
              examples:
                SchemaAdditionalPropertiesError:
                  $ref: '#/components/examples/SchemaAdditionalPropertiesError'
                SchemaRequiredError:
                  $ref: '#/components/examples/SchemaRequiredError'
                SchemaTypeError:
                  $ref: '#/components/examples/SchemaTypeError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Update course tags
      tags:
      - Course metadata
      x-content-type: application/json
      x-accepts:
      - application/json
  /courses/{contentId}/metadata/topic:
    put:
      description: Add or update the course topic in the metadata of a course.
      parameters:
      - description: The content Id
        explode: false
        in: path
        name: contentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_courses__contentId__metadata_topic_put_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseMetaResponse'
          description: Course detail
        "400":
          content:
            application/json:
              examples:
                SchemaAdditionalPropertiesError:
                  $ref: '#/components/examples/SchemaAdditionalPropertiesError'
                SchemaRequiredError:
                  $ref: '#/components/examples/SchemaRequiredError'
                SchemaTypeError:
                  $ref: '#/components/examples/SchemaTypeError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Update course topic
      tags:
      - Course metadata
      x-content-type: application/json
      x-accepts:
      - application/json
  /courses/{contentId}/permissions:
    get:
      description: Responds with users who have access to a specific course by contentId.
      parameters:
      - description: The content Id
        explode: false
        in: path
        name: contentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPermission'
          description: List of users who have access to the content ID provided.
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find users who have access to the contentId provided
      tags:
      - Courses
      x-accepts:
      - application/json
  /courses/{rootContentId}/permissions/{userEmail}:
    post:
      description: Provide a user with access to a specific course by rootContentId.
      parameters:
      - description: The content Id
        explode: false
        in: path
        name: rootContentId
        required: true
        schema:
          type: string
        style: simple
      - description: The user email
        explode: false
        in: path
        name: userEmail
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/permission_to_be_granted_to_the_user_'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_courses__rootContentId__permissions__userEmail__post_201_response'
          description: user successfully added to the course with the specified permission.
        "400":
          content:
            application/json:
              examples:
                MultipleObjectsError:
                  $ref: '#/components/examples/MultipleObjectsError'
                ObjectIsNotError:
                  $ref: '#/components/examples/ObjectIsNotError'
                SchemaRequiredError:
                  $ref: '#/components/examples/SchemaRequiredError'
                SchemaTypeError:
                  $ref: '#/components/examples/SchemaTypeError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Update course access
      tags:
      - Courses
      x-content-type: application/json
      x-accepts:
      - application/json
  /offerings:
    get:
      description: Responds with all offerings for your organisation.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OfferingMetadataResponse'
                title: Offerings
                type: array
          description: "all offerings (current, past and future ones)"
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
      summary: "Find current, past and future offerings"
      tags:
      - Offerings
      x-accepts:
      - application/json
    post:
      description: Creates a new offering.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferingRequired'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferingMetadataResponse'
          description: offering created
        "400":
          content:
            application/json:
              examples:
                IncompatibleParametersError:
                  $ref: '#/components/examples/IncompatibleParametersError'
                InvalidContentError:
                  $ref: '#/components/examples/InvalidContentError'
                MissingInfoError:
                  $ref: '#/components/examples/MissingInfoError'
                OfferingIncompatibleDatesError:
                  $ref: '#/components/examples/OfferingIncompatibleDatesError'
                SchemaFormatError:
                  $ref: '#/components/examples/SchemaFormatError'
                SchemaRequiredError:
                  $ref: '#/components/examples/SchemaRequiredError'
                SchemaTypeError:
                  $ref: '#/components/examples/SchemaTypeError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Create offering
      tags:
      - Offerings
      x-content-type: application/json
      x-accepts:
      - application/json
  /offerings/current:
    get:
      description: Responds with active offerings for your organisation.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OfferingMetadataResponse'
                title: Offerings
                type: array
          description: current offerings
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
      summary: Find active offerings
      tags:
      - Offerings
      x-accepts:
      - application/json
  /offerings/future:
    get:
      description: Responds with scheduled offerings for your organisation. Scheduled
        offerings have a start date after today's date (inclusive).
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OfferingMetadataResponse'
                title: Offerings
                type: array
          description: future offerings
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
      summary: Find scheduled offerings
      tags:
      - Offerings
      x-accepts:
      - application/json
  /offerings/info/{textPattern}:
    get:
      description: Find offerings where info field matches the specified text pattern.
      parameters:
      - description: Text pattern to search for (minimum of 3 characters length).
        explode: false
        in: path
        name: textPattern
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PortfolioActivations'
                title: Offerings
                type: array
          description: Offerings
        "400":
          content:
            application/json:
              examples:
                TextPatternError:
                  $ref: '#/components/examples/TextPatternError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find offerings where info field matches the specified textPattern
      tags:
      - Offerings
      x-accepts:
      - application/json
  /offerings/past:
    get:
      description: Responds with past offerings for your organisation.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OfferingMetadataResponse'
                title: Offerings
                type: array
          description: past offerings
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
      summary: Find past offerings
      tags:
      - Offerings
      x-accepts:
      - application/json
  /offerings/summary:
    get:
      description: Responds with a summary of all offerings for your organisation.
      parameters:
      - description: Returns only the first n results.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: "50"
          type: string
        style: form
      - description: Sorts the results.
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          type: string
        style: form
      - allowReserved: true
        description: "Filters the results, based on a Boolean condition."
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PortfolioActivations'
                title: Offerings
                type: array
          description: all offerings.
        "400":
          content:
            application/json:
              examples:
                ApiValidationError:
                  $ref: '#/components/examples/ApiValidationError'
                SchemaQueryError:
                  $ref: '#/components/examples/SchemaQueryError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
      summary: Offerings summary
      tags:
      - Offerings
      x-accepts:
      - application/json
  /offerings/{offeringId}:
    get:
      description: Responds with an offering matching the offeringId.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferingMetadataResponse'
          description: offering
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find offering by ID
      tags:
      - Offerings
      x-accepts:
      - application/json
    patch:
      description: Updates the offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offering'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferingMetadataResponse'
          description: offering updated
        "400":
          content:
            application/json:
              examples:
                IncompatibleParametersError:
                  $ref: '#/components/examples/IncompatibleParametersError'
                MissingInfoError:
                  $ref: '#/components/examples/MissingInfoError'
                ObjectExistsError:
                  $ref: '#/components/examples/ObjectExistsError'
                OfferingIncompatibleDatesError:
                  $ref: '#/components/examples/OfferingIncompatibleDatesError'
                SchemaFormatError:
                  $ref: '#/components/examples/SchemaFormatError'
                SchemaTypeError:
                  $ref: '#/components/examples/SchemaTypeError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Update offering
      tags:
      - Offerings
      x-content-type: application/json
      x-accepts:
      - application/json
  /offerings/{offeringId}/activities/openresponse:
    get:
      description: Responds with the activities in a specific offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OfferingActivitiesResponse'
                title: Activities
                type: array
          description: offering's learners
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find offering's activities
      tags:
      - Assessment management
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/activities/responses:
    get:
      description: Responds with all learner activity attempts for open response activities
        in an offering matching the offeringId.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ActivityAttemptOpenResponse'
                title: OfferingActivityAttemptOpenResponses
                type: array
          description: Offering activity attempt open responses
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find open response activity attempts
      tags:
      - Assessment data
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/channels/{channelId}/comments:
    get:
      description: "Responds with a list of comments made in any posts in a specified\
        \ channel, within an offering."
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: channel's id
        explode: false
        in: path
        name: channelId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Comment'
                title: Comments
                type: array
          description: Successful response
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find comments
      tags:
      - Channels
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/channels/{channelId}/posts:
    get:
      description: "Responds with a list of posts made in a specified channel, within\
        \ an offering."
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: channel's id
        explode: false
        in: path
        name: channelId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/httpPost'
                title: Posts
                type: array
          description: Successful response
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find posts
      tags:
      - Channels
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/channels/{channelId}/replies:
    get:
      description: "Responds with a list of replies to comments in any posts in a\
        \ specified channel, within an offering."
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: channel's id
        explode: false
        in: path
        name: channelId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Comment'
                title: Comments
                type: array
          description: Successful response
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find replies
      tags:
      - Channels
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/learners-progress:
    get:
      description: Responds with all learner progress in the offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LearnerProgressResponse'
                title: LearnersProgress
                type: array
          description: Learners progress
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find learner progress in a specified offering
      tags:
      - Learner activity
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/marks/assignments:
    get:
      description: Responds with all learner assessment marks in an offering matching
        the offeringId.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssignmentMarkResponse'
                title: AssignmentsMarks
                type: array
          description: Assignments marks
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find assessment marks
      tags:
      - Assessment data
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/marks/quizzes:
    get:
      description: Responds with all learner quiz marks in an offering matching the
        offeringId.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/QuizMarkResponse'
                title: QuizzesMarks
                type: array
          description: Quizzes marks
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find quiz marks
      tags:
      - Assessment data
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/pulses:
    get:
      description: Responds with the IDs of all pulses that learners have responded
        to in a specified offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Pulses' ids
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find all pulse IDs in the specified offering
      tags:
      - Pulses
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/pulses/responses:
    get:
      description: Responds with pulse's responses in an offering matching the offeringId.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: Filter pulse responses by type.
        explode: true
        in: query
        name: pulseType
        required: false
        schema:
          enum:
          - submit_text
          - MCQ
          - spatial_triangular
          - spatial_planar
          - spatial_linear
          type: string
        style: form
      - allowReserved: true
        description: "Filter pulse responses by responseTime. Lower then (`lt`), lower\
          \ then or equal (`lte`), greater then (`gt`) and greater then or equal (`gte`)\
          \ operators are available. Example of filtering by time range __gte__2017-03-14T07:30:00Z__"
        explode: true
        in: query
        name: responseTime
        required: false
        schema:
          $ref: '#/components/schemas/_offerings__offeringId__analytics_pulses_responses_get_responseTime_parameter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PulseResponse'
                title: Pulses
                type: array
          description: All pulses' responses
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find pulses by offeringId
      tags:
      - Pulses
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/pulses/{pulseId}/responses:
    get:
      description: "Responds with pulse's responses, matching the pulseId, in an offering\
        \ matching the offeringId."
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: pulse's base id
        explode: false
        in: path
        name: pulseId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PulseResponse'
                title: Pulses
                type: array
          description: Pulse data matching pulseId
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find pulses by offeringId and pulseId
      tags:
      - Pulses
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/social-notes:
    get:
      description: Responds with all shared social notes in a specified offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SocialNotesResponse'
                title: OfferingSocialNotes
                type: array
          description: Offering social notes
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find shared social notes in an offering
      tags:
      - Learner activity
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/submissions/assignments:
    get:
      description: "Responds with all learner assessment submissions and marks, if\
        \ any, in an offering matching the offeringId."
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssignmentMarkResponse'
                title: AssignmentsSubmissions
                type: array
          description: Assignments submissions
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: "Find submissions to assessments, including marks if any"
      tags:
      - Assessment data
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/submissions/open-response/{assessmentId}:
    get:
      description: "Responds with all learner assessment submissions and marks, if\
        \ any, in a specified open response assessment."
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: assessment's id
        explode: false
        in: path
        name: assessmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SubmissionMarkResponse'
                title: SubmissionMarkResponse
                type: array
          description: Responds with assignment submissions for the specified assignment.
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: "Find submissions to a specified open response assessment, including\
        \ marks if any"
      tags:
      - Assessment data
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/submissions/{userEmail}/assignments/{assessmentId}:
    get:
      description: Responds with the learner's assessment submission and any marks
        for the submission.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: user's email
        explode: false
        in: path
        name: userEmail
        required: true
        schema:
          format: email
          type: string
        style: simple
      - description: assessment's id
        explode: false
        in: path
        name: assessmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SubmissionMarkResponse'
                title: SubmissionMarkResponse
                type: array
          description: Responds with the learner's assessment submission and any marks
            for the submission.
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: "Find a learner's submission to a specified assessment, including marks\
        \ if any"
      tags:
      - Assessment data
      x-accepts:
      - application/json
  /offerings/{offeringId}/analytics/unit-reactions:
    get:
      description: Responds with user reactions to units in a specified offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UnitReactionsAnalyticsResponse'
                title: UnitReactiosAnalytics
                type: array
          description: Unit Reactions
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find unit reactions
      tags:
      - Learner activity
      x-accepts:
      - application/json
  /offerings/{offeringId}/assessments:
    get:
      description: Responds with all assessments in an offering matching the offeringId.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssessmentResponse'
                title: Assessments
                type: array
          description: offering's assessments
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find offering's assessments
      tags:
      - Assessment management
      x-accepts:
      - application/json
  /offerings/{offeringId}/assessments/{assessmentId}:
    patch:
      description: Updates the assessment details for a specified assessment in an
        offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: assessment's id
        explode: false
        in: path
        name: assessmentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assessment'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentResponse'
          description: assessment successfully updated
        "400":
          content:
            application/json:
              examples:
                SchemaFormatError:
                  $ref: '#/components/examples/SchemaFormatError'
                SchemaMinLengthError:
                  $ref: '#/components/examples/SchemaMinLengthError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Update assessment details
      tags:
      - Assessment management
      x-content-type: application/json
      x-accepts:
      - application/json
  /offerings/{offeringId}/assessments/{assessmentId}/documents: {}
  /offerings/{offeringId}/assessments/{assessmentId}/documents/{documentId}:
    delete:
      description: Removes the assessment document file for a specified assessment
        in an offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: assessment's id
        explode: false
        in: path
        name: assessmentId
        required: true
        schema:
          type: string
        style: simple
      - description: documents's id
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: assessment document successfully removed
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Remove assessment document
      tags:
      - Assessment management
      x-accepts:
      - application/json
  /offerings/{offeringId}/assessments/{assessmentId}/{userEmail}:
    patch:
      description: Updates the due dates for a learner's quiz attempt specified by
        the assessmentId.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: assessment's id
        explode: false
        in: path
        name: assessmentId
        required: true
        schema:
          type: string
        style: simple
      - description: user's email
        explode: false
        in: path
        name: userEmail
        required: true
        schema:
          format: email
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_offerings__offeringId__assessments__assessmentId___userEmail__patch_request'
        required: true
      responses:
        "204":
          description: Successfully updated assessment due date.
        "400":
          content:
            application/json:
              examples:
                InvalidParameterError:
                  $ref: '#/components/examples/InvalidParameterError'
                ObjectInvalidPropertyError:
                  $ref: '#/components/examples/ObjectInvalidPropertyError'
                SchemaFormatError:
                  $ref: '#/components/examples/SchemaFormatError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Update the due dates for a learner's quiz attempt
      tags:
      - Assessment management
      x-content-type: application/json
      x-accepts:
      - application/json
  /offerings/{offeringId}/badges:
    get:
      description: Responds with the badge for an offering matching the offeringId.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Badge'
          description: badges
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find offering badges
      tags:
      - Badges
      x-accepts:
      - application/json
  /offerings/{offeringId}/channels:
    get:
      description: Responds with a list of channels in an offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ChannelResponse'
                title: List of channels in a offering
                type: array
          description: Succesful response
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find channels
      tags:
      - Channels
      x-accepts:
      - application/json
    post:
      description: Adds new channel to the specified offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelRequired'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
          description: channel successfully added
        "400":
          content:
            application/json:
              examples:
                SchemaMinLengthError:
                  $ref: '#/components/examples/SchemaMinLengthError'
                SchemaRequiredError:
                  $ref: '#/components/examples/SchemaRequiredError'
                SchemaTypeError:
                  $ref: '#/components/examples/SchemaTypeError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Add channel
      tags:
      - Channels
      x-content-type: application/json
      x-accepts:
      - application/json
  /offerings/{offeringId}/channels/{channelId}:
    patch:
      description: Updates a channel in an offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: channel's id
        explode: false
        in: path
        name: channelId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
          description: channel successfully updated
        "400":
          content:
            application/json:
              examples:
                SchemaMinLengthError:
                  $ref: '#/components/examples/SchemaMinLengthError'
                SchemaRequiredError:
                  $ref: '#/components/examples/SchemaRequiredError'
                SchemaTypeError:
                  $ref: '#/components/examples/SchemaTypeError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Update channel
      tags:
      - Channels
      x-content-type: application/json
      x-accepts:
      - application/json
  /offerings/{offeringId}/channels/{channelId}/learners:
    delete:
      description: Removes a learner from the specified group channel.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: channel's id
        explode: false
        in: path
        name: channelId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_offerings__offeringId__channels__channelId__learners_post_request'
        required: true
      responses:
        "204":
          description: Learner successfully removed from the channel.
        "400":
          content:
            application/json:
              examples:
                InvalidGroupChannelError:
                  $ref: '#/components/examples/InvalidGroupChannelError'
                UserNotInOfferingError:
                  $ref: '#/components/examples/UserNotInOfferingError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Remove learners from a group channel
      tags:
      - Channels
      x-content-type: application/json
      x-accepts:
      - application/json
    get:
      description: Finds all learners in a specified group channel.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: channel's id
        explode: false
        in: path
        name: channelId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResponse'
          description: channel data
        "400":
          content:
            application/json:
              examples:
                InvalidGroupChannelError:
                  $ref: '#/components/examples/InvalidGroupChannelError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find learners in a group channel
      tags:
      - Channels
      x-accepts:
      - application/json
    post:
      description: Adds a learner to a specified group channel.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      - description: channel's id
        explode: false
        in: path
        name: channelId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_offerings__offeringId__channels__channelId__learners_post_request'
        required: true
      responses:
        "204":
          description: Learner successfully added to the channel.
        "400":
          content:
            application/json:
              examples:
                InvalidGroupChannelError:
                  $ref: '#/components/examples/InvalidGroupChannelError'
                ObjectExistsError:
                  $ref: '#/components/examples/ObjectExistsError'
                SchemaMinLengthError:
                  $ref: '#/components/examples/SchemaMinLengthError'
                SchemaRequiredError:
                  $ref: '#/components/examples/SchemaRequiredError'
                SchemaTypeError:
                  $ref: '#/components/examples/SchemaTypeError'
                UserNotInOfferingError:
                  $ref: '#/components/examples/UserNotInOfferingError'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Add learners to a group channel
      tags:
      - Channels
      x-content-type: application/json
      x-accepts:
      - application/json
  /offerings/{offeringId}/cover-image: {}
  /offerings/{offeringId}/groups:
    get:
      description: Responds with a list of assessment groups in an offering.
      parameters:
      - description: offering's id
        explode: false
        in: path
        name: offeringId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssessmentGroupResponse'
                title: List of assessment groups in an offering
                type: array
          description: Succesful response
        "401":
          content:
            application/json:
              example:
                details: No authorization token was found.
                name: NotAuthorizedError
              schema:
                $ref: '#/components/schemas/Error'
          description: No authorization token was found.
        "403":
          content:
            application/json:
              example:
                details: You are not allowed to access this resource
                name: AccessDeniedError
              schema:
                $ref: '#/components/schemas/Error'
          description: You are not allowed to access this resource.
        "404":
          content:
            application/json:
              example:
                details: The content badcontentId was not found.
                name: ObjectNotFoundError
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Find assessment groups
      tags:
      - Assessment groups
      x-accepts:
      - application/json
    post:
      description: Creates a new assessment group in an offering.
      parameters:
[...]
