openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "This API converts video files into formats suitable for consumer distribution.\
    \ For more information, see the Transcoder API overview. "
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Transcoder API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://transcoder.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: transcoder
externalDocs:
  url: https://cloud.google.com/transcoder/docs/
servers:
- url: https://transcoder.googleapis.com/
tags:
- name: projects
paths:
  /v1/{name}:
    delete:
      description: Deletes a job template.
      operationId: transcoder_projects_locations_job_templates_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "If set to true, and the job template is not found, the request\
          \ will succeed but no action will be taken on the server."
        explode: true
        in: query
        name: allowMissing
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Returns the job template data.
      operationId: transcoder_projects_locations_job_templates_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the job template to retrieve. Format:\
          \ `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTemplate'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{parent}/jobTemplates:
    get:
      description: Lists job templates in the specified region.
      operationId: transcoder_projects_locations_job_templates_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent location from which to retrieve the collection\
          \ of job templates. Format: `projects/{project}/locations/{location}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The filter expression, following the syntax outlined in https://google.aip.dev/160."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: One or more fields to compare and use to sort the output. See
          https://google.aip.dev/132#ordering.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of items to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "The `next_page_token` value returned from a previous List request,\
          \ if any."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobTemplatesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates a job template in the specified region.
      operationId: transcoder_projects_locations_job_templates_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent location to create this job template. Format:\
          \ `projects/{project}/locations/{location}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The ID to use for the job template, which will become\
          \ the final component of the job template's resource name. This value should\
          \ be 4-63 characters, and valid characters must match the regular expression\
          \ `a-zA-Z*`."
        explode: true
        in: query
        name: jobTemplateId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobTemplate'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTemplate'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/jobs:
    get:
      description: Lists jobs in the specified region.
      operationId: transcoder_projects_locations_jobs_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Format: `projects/{project}/locations/{location}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The filter expression, following the syntax outlined in https://google.aip.dev/160."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: One or more fields to compare and use to sort the output. See
          https://google.aip.dev/132#ordering.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of items to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "The `next_page_token` value returned from a previous List request,\
          \ if any."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates a job in the specified region.
      operationId: transcoder_projects_locations_jobs_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent location to create and process this job.\
          \ Format: `projects/{project}/locations/{location}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Job'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AdBreak:
      description: Ad break.
      example:
        startTimeOffset: startTimeOffset
      properties:
        startTimeOffset:
          description: "Start time in seconds for the ad break, relative to the output\
            \ file timeline. The default is `0s`."
          format: google-duration
          title: startTimeOffset
          type: string
      title: AdBreak
      type: object
    Aes128Encryption:
      description: Configuration for AES-128 encryption.
      properties: {}
      title: aes128
      type: object
    Animation:
      description: Animation types.
      example:
        animationStatic:
          xy:
            x: 3.2588565619047607
            "y": 4.078845849666752
          startTimeOffset: startTimeOffset
        animationFade:
          xy:
            x: 3.2588565619047607
            "y": 4.078845849666752
          endTimeOffset: endTimeOffset
          fadeType: FADE_TYPE_UNSPECIFIED
          startTimeOffset: startTimeOffset
        animationEnd:
          startTimeOffset: startTimeOffset
      properties:
        animationEnd:
          $ref: '#/components/schemas/AnimationEnd'
        animationFade:
          $ref: '#/components/schemas/AnimationFade'
        animationStatic:
          $ref: '#/components/schemas/AnimationStatic'
      title: Animation
      type: object
    AnimationEnd:
      description: "End previous overlay animation from the video. Without `AnimationEnd`,\
        \ the overlay object will keep the state of previous animation until the end\
        \ of the video."
      example:
        startTimeOffset: startTimeOffset
      properties:
        startTimeOffset:
          description: "The time to end overlay object, in seconds. Default: 0"
          format: google-duration
          title: startTimeOffset
          type: string
      title: AnimationEnd
      type: object
    AnimationFade:
      description: Display overlay object with fade animation.
      example:
        xy:
          x: 3.2588565619047607
          "y": 4.078845849666752
        endTimeOffset: endTimeOffset
        fadeType: FADE_TYPE_UNSPECIFIED
        startTimeOffset: startTimeOffset
      properties:
        endTimeOffset:
          description: "The time to end the fade animation, in seconds. Default: `start_time_offset`\
            \ + 1s"
          format: google-duration
          title: endTimeOffset
          type: string
        fadeType:
          description: "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`."
          enum:
          - FADE_TYPE_UNSPECIFIED
          - FADE_IN
          - FADE_OUT
          title: fadeType
          type: string
        startTimeOffset:
          description: "The time to start the fade animation, in seconds. Default:\
            \ 0"
          format: google-duration
          title: startTimeOffset
          type: string
        xy:
          $ref: '#/components/schemas/NormalizedCoordinate'
      title: AnimationFade
      type: object
    AnimationStatic:
      description: Display static overlay object.
      example:
        xy:
          x: 3.2588565619047607
          "y": 4.078845849666752
        startTimeOffset: startTimeOffset
      properties:
        startTimeOffset:
          description: "The time to start displaying the overlay object, in seconds.\
            \ Default: 0"
          format: google-duration
          title: startTimeOffset
          type: string
        xy:
          $ref: '#/components/schemas/NormalizedCoordinate'
      title: AnimationStatic
      type: object
    Audio:
      description: Audio preprocessing configuration.
      example:
        lufs: 3.353193347011243
        lowBoost: true
        highBoost: true
      properties:
        highBoost:
          description: Enable boosting high frequency components. The default is `false`.
            **Note:** This field is not supported.
          title: highBoost
          type: boolean
        lowBoost:
          description: Enable boosting low frequency components. The default is `false`.
            **Note:** This field is not supported.
          title: lowBoost
          type: boolean
        lufs:
          description: "Specify audio loudness normalization in loudness units relative\
            \ to full scale (LUFS). Enter a value between -24 and 0 (the default),\
            \ where: * -24 is the Advanced Television Systems Committee (ATSC A/85)\
            \ standard * -23 is the EU R128 broadcast standard * -19 is the prior\
            \ standard for online mono audio * -18 is the ReplayGain standard * -16\
            \ is the prior standard for stereo audio * -14 is the new online audio\
            \ standard recommended by Spotify, as well as Amazon Echo * 0 disables\
            \ normalization"
          format: double
          title: lufs
          type: number
      title: Audio
      type: object
    AudioMapping:
      description: The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.
      example:
        atomKey: atomKey
        outputChannel: 2
        gainDb: 1.4658129805029452
        inputKey: inputKey
        inputTrack: 5
        inputChannel: 5
      properties:
        atomKey:
          description: Required. The EditAtom.key that references the atom with audio
            inputs in the JobConfig.edit_list.
          title: atomKey
          type: string
        gainDb:
          description: "Audio volume control in dB. Negative values decrease volume,\
            \ positive values increase. The default is 0."
          format: double
          title: gainDb
          type: number
        inputChannel:
          description: Required. The zero-based index of the channel in the input
            audio stream.
          format: int32
          title: inputChannel
          type: integer
        inputKey:
          description: Required. The Input.key that identifies the input file.
          title: inputKey
          type: string
        inputTrack:
          description: Required. The zero-based index of the track in the input file.
          format: int32
          title: inputTrack
          type: integer
        outputChannel:
          description: Required. The zero-based index of the channel in the output
            audio stream.
          format: int32
          title: outputChannel
          type: integer
      title: AudioMapping
      type: object
    AudioStream:
      description: Audio stream resource.
      example:
        sampleRateHertz: 7
        channelCount: 6
        channelLayout:
        - channelLayout
        - channelLayout
        codec: codec
        mapping:
        - atomKey: atomKey
          outputChannel: 2
          gainDb: 1.4658129805029452
          inputKey: inputKey
          inputTrack: 5
          inputChannel: 5
        - atomKey: atomKey
          outputChannel: 2
          gainDb: 1.4658129805029452
          inputKey: inputKey
          inputTrack: 5
          inputChannel: 5
        displayName: displayName
        languageCode: languageCode
        bitrateBps: 0
      properties:
        bitrateBps:
          description: "Required. Audio bitrate in bits per second. Must be between\
            \ 1 and 10,000,000."
          format: int32
          title: bitrateBps
          type: integer
        channelCount:
          description: Number of audio channels. Must be between 1 and 6. The default
            is 2.
          format: int32
          title: channelCount
          type: integer
        channelLayout:
          description: "A list of channel names specifying layout of the audio channels.\
            \ This only affects the metadata embedded in the container headers, if\
            \ supported by the specified format. The default is `[\"fl\", \"fr\"]`.\
            \ Supported channel names: - `fl` - Front left channel - `fr` - Front\
            \ right channel - `sl` - Side left channel - `sr` - Side right channel\
            \ - `fc` - Front center channel - `lfe` - Low frequency"
          items:
            type: string
          title: channelLayout
          type: array
        codec:
          description: "The codec for this audio stream. The default is `aac`. Supported\
            \ audio codecs: - `aac` - `aac-he` - `aac-he-v2` - `mp3` - `ac3` - `eac3`"
          title: codec
          type: string
        displayName:
          description: The name for this particular audio stream that will be added
            to the HLS/DASH manifest. Not supported in MP4 files.
          title: displayName
          type: string
        languageCode:
          description: "The BCP-47 language code, such as `en-US` or `sr-Latn`. For\
            \ more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.\
            \ Not supported in MP4 files."
          title: languageCode
          type: string
        mapping:
          description: The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.
          items:
            $ref: '#/components/schemas/AudioMapping'
          title: mapping
          type: array
        sampleRateHertz:
          description: The audio sample rate in Hertz. The default is 48000 Hertz.
          format: int32
          title: sampleRateHertz
          type: integer
      title: AudioStream
      type: object
    BwdifConfig:
      description: Bob Weaver Deinterlacing Filter Configuration.
      example:
        mode: mode
        parity: parity
        deinterlaceAllFrames: true
      properties:
        deinterlaceAllFrames:
          description: Deinterlace all frames rather than just the frames identified
            as interlaced. The default is `false`.
          title: deinterlaceAllFrames
          type: boolean
        mode:
          description: "Specifies the deinterlacing mode to adopt. The default is\
            \ `send_frame`. Supported values: - `send_frame`: Output one frame for\
            \ each frame - `send_field`: Output one frame for each field"
          title: mode
          type: string
        parity:
          description: "The picture field parity assumed for the input interlaced\
            \ video. The default is `auto`. Supported values: - `tff`: Assume the\
            \ top field is first - `bff`: Assume the bottom field is first - `auto`:\
            \ Enable automatic detection of field parity"
          title: parity
          type: string
      title: BwdifConfig
      type: object
    Clearkey:
      description: Clearkey configuration.
      properties: {}
      title: clearkey
      type: object
    Color:
      description: Color preprocessing configuration. **Note:** This configuration
        is not supported.
      example:
        saturation: 0.8851374739011653
        brightness: 3.0937452626664474
        contrast: 7.143538047012306
      properties:
        brightness:
          description: "Control brightness of the video. Enter a value between -1\
            \ and 1, where -1 is minimum brightness and 1 is maximum brightness. 0\
            \ is no change. The default is 0."
          format: double
          title: brightness
          type: number
        contrast:
          description: "Control black and white contrast of the video. Enter a value\
            \ between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast.\
            \ 0 is no change. The default is 0."
          format: double
          title: contrast
          type: number
        saturation:
          description: "Control color saturation of the video. Enter a value between\
            \ -1 and 1, where -1 is fully desaturated and 1 is maximum saturation.\
            \ 0 is no change. The default is 0."
          format: double
          title: saturation
          type: number
      title: Color
      type: object
    Crop:
      description: Video cropping configuration for the input video. The cropped input
        video is scaled to match the output resolution.
      example:
        topPixels: 4
        bottomPixels: 7
        rightPixels: 0
        leftPixels: 6
      properties:
        bottomPixels:
          description: The number of pixels to crop from the bottom. The default is
            0.
          format: int32
          title: bottomPixels
          type: integer
        leftPixels:
          description: The number of pixels to crop from the left. The default is
            0.
          format: int32
          title: leftPixels
          type: integer
        rightPixels:
          description: The number of pixels to crop from the right. The default is
            0.
          format: int32
          title: rightPixels
          type: integer
        topPixels:
          description: The number of pixels to crop from the top. The default is 0.
          format: int32
          title: topPixels
          type: integer
      title: Crop
      type: object
    DashConfig:
      description: '`DASH` manifest configuration.'
      example:
        segmentReferenceScheme: SEGMENT_REFERENCE_SCHEME_UNSPECIFIED
      properties:
        segmentReferenceScheme:
          description: The segment reference scheme for a `DASH` manifest. The default
            is `SEGMENT_LIST`.
          enum:
          - SEGMENT_REFERENCE_SCHEME_UNSPECIFIED
          - SEGMENT_LIST
          - SEGMENT_TEMPLATE_NUMBER
          title: segmentReferenceScheme
          type: string
      title: DashConfig
      type: object
    Deblock:
      description: Deblock preprocessing configuration. **Note:** This configuration
        is not supported.
      example:
        strength: 8.969578798196912
        enabled: true
      properties:
        enabled:
          description: Enable deblocker. The default is `false`.
          title: enabled
          type: boolean
        strength:
          description: "Set strength of the deblocker. Enter a value between 0 and\
            \ 1. The higher the value, the stronger the block removal. 0 is no deblocking.\
            \ The default is 0."
          format: double
          title: strength
          type: number
      title: Deblock
      type: object
    Deinterlace:
      description: Deinterlace configuration for input video.
      example:
        bwdif:
          mode: mode
          parity: parity
          deinterlaceAllFrames: true
        yadif:
          mode: mode
          disableSpatialInterlacing: true
          parity: parity
          deinterlaceAllFrames: true
      properties:
        bwdif:
          $ref: '#/components/schemas/BwdifConfig'
        yadif:
          $ref: '#/components/schemas/YadifConfig'
      title: Deinterlace
      type: object
    Denoise:
      description: Denoise preprocessing configuration. **Note:** This configuration
        is not supported.
      example:
        strength: 7.740351818741173
        tune: tune
      properties:
        strength:
          description: "Set strength of the denoise. Enter a value between 0 and 1.\
            \ The higher the value, the smoother the image. 0 is no denoising. The\
            \ default is 0."
          format: double
          title: strength
          type: number
        tune:
          description: "Set the denoiser mode. The default is `standard`. Supported\
            \ denoiser modes: - `standard` - `grain`"
          title: tune
          type: string
      title: Denoise
      type: object
    DrmSystems:
      description: Defines configuration for DRM systems in use.
      example:
        playready: "{}"
        fairplay: "{}"
        widevine: "{}"
        clearkey: "{}"
      properties:
        clearkey:
          description: Clearkey configuration.
          properties: {}
          title: clearkey
          type: object
        fairplay:
          description: Fairplay configuration.
          properties: {}
          title: fairplay
          type: object
        playready:
          description: Playready configuration.
          properties: {}
          title: playready
          type: object
        widevine:
          description: Widevine configuration.
          properties: {}
          title: widevine
          type: object
      title: DrmSystems
      type: object
    EditAtom:
      description: Edit atom.
      example:
        endTimeOffset: endTimeOffset
        inputs:
        - inputs
        - inputs
        startTimeOffset: startTimeOffset
        key: key
      properties:
        endTimeOffset:
          description: "End time in seconds for the atom, relative to the input file\
            \ timeline. When `end_time_offset` is not specified, the `inputs` are\
            \ used until the end of the atom."
          format: google-duration
          title: endTimeOffset
          type: string
        inputs:
          description: List of Input.key values identifying files that should be used
            in this atom. The listed `inputs` must have the same timeline.
          items:
            type: string
          title: inputs
          type: array
        key:
          description: A unique key for this atom. Must be specified when using advanced
            mapping.
          title: key
          type: string
        startTimeOffset:
          description: "Start time in seconds for the atom, relative to the input\
            \ file timeline. The default is `0s`."
          format: google-duration
          title: startTimeOffset
          type: string
      title: EditAtom
      type: object
    ElementaryStream:
      description: "Encoding of an input file such as an audio, video, or text track.\
        \ Elementary streams must be packaged before mapping and sharing between different\
        \ output formats."
      example:
        videoStream:
          h264:
            sdr: "{}"
            entropyCoder: entropyCoder
            hlg: "{}"
            pixelFormat: pixelFormat
            enableTwoPass: true
            profile: profile
            crfLevel: 7
            heightPixels: 1
            preset: preset
            bitrateBps: 4
            frameRateConversionStrategy: FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
            tune: tune
            widthPixels: 1
            frameRate: 1.2315135367772556
            vbvSizeBits: 7
            bFrameCount: 2
            gopDuration: gopDuration
            allowOpenGop: true
            aqStrength: 3.616076749251911
            bPyramid: true
            gopFrameCount: 1
            vbvFullnessBits: 6
            rateControlMode: rateControlMode
          h265:
            sdr: "{}"
            hlg: "{}"
            pixelFormat: pixelFormat
            enableTwoPass: true
            profile: profile
            crfLevel: 9
            heightPixels: 9
            preset: preset
            bitrateBps: 9
            frameRateConversionStrategy: FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
            tune: tune
            widthPixels: 6
            frameRate: 6.683562403749608
            vbvSizeBits: 3
            bFrameCount: 5
            gopDuration: gopDuration
            allowOpenGop: true
            aqStrength: 4.965218492984954
            bPyramid: true
            gopFrameCount: 8
            vbvFullnessBits: 6
            hdr10: "{}"
            rateControlMode: rateControlMode
          vp9:
            sdr: "{}"
            hlg: "{}"
            pixelFormat: pixelFormat
            profile: profile
            crfLevel: 2
            heightPixels: 5
            bitrateBps: 1
            frameRateConversionStrategy: FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
            widthPixels: 6
            frameRate: 6.778324963048013
            gopDuration: gopDuration
            gopFrameCount: 6
            rateControlMode: rateControlMode
        audioStream:
          sampleRateHertz: 7
          channelCount: 6
          channelLayout:
          - channelLayout
          - channelLayout
          codec: codec
          mapping:
          - atomKey: atomKey
            outputChannel: 2
            gainDb: 1.4658129805029452
            inputKey: inputKey
            inputTrack: 5
            inputChannel: 5
          - atomKey: atomKey
            outputChannel: 2
            gainDb: 1.4658129805029452
            inputKey: inputKey
            inputTrack: 5
            inputChannel: 5
          displayName: displayName
          languageCode: languageCode
          bitrateBps: 0
        textStream:
          codec: codec
          mapping:
          - atomKey: atomKey
            inputKey: inputKey
            inputTrack: 9
          - atomKey: atomKey
            inputKey: inputKey
            inputTrack: 9
          displayName: displayName
          languageCode: languageCode
        key: key
      properties:
        audioStream:
          $ref: '#/components/schemas/AudioStream'
        key:
          description: A unique key for this elementary stream.
          title: key
          type: string
        textStream:
          $ref: '#/components/schemas/TextStream'
        videoStream:
          $ref: '#/components/schemas/VideoStream'
      title: ElementaryStream
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Encryption:
      description: Encryption settings.
      example:
        drmSystems:
          playready: "{}"
          fairplay: "{}"
          widevine: "{}"
          clearkey: "{}"
        aes128: "{}"
        mpegCenc:
          scheme: scheme
        sampleAes: "{}"
        id: id
        secretManagerKeySource:
          secretVersion: secretVersion
      properties:
        aes128:
          description: Configuration for AES-128 encryption.
          properties: {}
          title: aes128
          type: object
        drmSystems:
          $ref: '#/components/schemas/DrmSystems'
        id:
          description: Required. Identifier for this set of encryption options.
          title: id
          type: string
        mpegCenc:
          $ref: '#/components/schemas/MpegCommonEncryption'
        sampleAes:
          description: Configuration for SAMPLE-AES encryption.
          properties: {}
          title: sampleAes
          type: object
        secretManagerKeySource:
          $ref: '#/components/schemas/SecretManagerSource'
      title: Encryption
      type: object
    Fairplay:
      description: Fairplay configuration.
      properties: {}
      title: fairplay
      type: object
    Fmp4Config:
      description: '`fmp4` container configuration.'
      example:
        codecTag: codecTag
      properties:
        codecTag:
          description: "Optional. Specify the codec tag string that will be used in\
            \ the media bitstream. When not specified, the codec appropriate value\
            \ is used. Supported H265 codec tags: - `hvc1` (default) - `hev1`"
          title: codecTag
          type: string
      title: Fmp4Config
      type: object
    H264CodecSettings:
      description: H264 codec settings.
      example:
        sdr: "{}"
        entropyCoder: entropyCoder
        hlg: "{}"
        pixelFormat: pixelFormat
        enableTwoPass: true
        profile: profile
        crfLevel: 7
        heightPixels: 1
        preset: preset
        bitrateBps: 4
        frameRateConversionStrategy: FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
        tune: tune
        widthPixels: 1
        frameRate: 1.2315135367772556
        vbvSizeBits: 7
        bFrameCount: 2
        gopDuration: gopDuration
        allowOpenGop: true
        aqStrength: 3.616076749251911
        bPyramid: true
        gopFrameCount: 1
        vbvFullnessBits: 6
        rateControlMode: rateControlMode
      properties:
        allowOpenGop:
          description: Specifies whether an open Group of Pictures (GOP) structure
            should be allowed or not. The default is `false`.
          title: allowOpenGop
          type: boolean
        aqStrength:
          description: "Specify the intensity of the adaptive quantizer (AQ). Must\
            \ be between 0 and 1, where 0 disables the quantizer and 1 maximizes the\
            \ quantizer. A higher value equals a lower bitrate but smoother image.\
            \ The default is 0."
          format: double
          title: aqStrength
          type: number
        bFrameCount:
          description: The number of consecutive B-frames. Must be greater than or
            equal to zero. Must be less than H264CodecSettings.gop_frame_count if
            set. The default is 0.
          format: int32
          title: bFrameCount
          type: integer
        bPyramid:
          description: Allow B-pyramid for reference frame selection. This may not
            be supported on all decoders. The default is `false`.
          title: bPyramid
          type: boolean
        bitrateBps:
          description: "Required. The video bitrate in bits per second. The minimum\
            \ value is 1,000. The maximum value is 800,000,000."
          format: int32
          title: bitrateBps
          type: integer
        crfLevel:
          description: "Target CRF level. Must be between 10 and 36, where 10 is the\
            \ highest quality and 36 is the most efficient compression. The default\
            \ is 21."
          format: int32
          title: crfLevel
          type: integer
        enableTwoPass:
          description: Use two-pass encoding strategy to achieve better video quality.
            H264CodecSettings.rate_control_mode must be `vbr`. The default is `false`.
          title: enableTwoPass
          type: boolean
        entropyCoder:
          description: "The entropy coder to use. The default is `cabac`. Supported\
            \ entropy coders: - `cavlc` - `cabac`"
          title: entropyCoder
          type: string
        frameRate:
          description: Required. The target video frame rate in frames per second
            (FPS). Must be less than or equal to 120.
          format: double
          title: frameRate
          type: number
        frameRateConversionStrategy:
          description: Optional. Frame rate conversion strategy for desired frame
            rate. The default is `DOWNSAMPLE`.
          enum:
          - FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
          - DOWNSAMPLE
          - DROP_DUPLICATE
          title: frameRateConversionStrategy
          type: string
        gopDuration:
          description: "Select the GOP size based on the specified duration. The default\
            \ is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings),\
            \ and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`."
          format: google-duration
          title: gopDuration
          type: string
        gopFrameCount:
          description: Select the GOP size based on the specified frame count. Must
            be greater than zero.
          format: int32
          title: gopFrameCount
          type: integer
        heightPixels:
          description: "The height of the video in pixels. Must be an even integer.\
            \ When not specified, the height is adjusted to match the specified width\
            \ and input aspect ratio. If both are omitted, the input height is used.\
            \ For portrait videos that contain horizontal ASR and rotation metadata,\
            \ provide the height, in pixels, per the horizontal ASR. The API calculates\
            \ the width per the horizontal ASR. The API detects any rotation metadata\
            \ and swaps the requested height and width for the output."
          format: int32
          title: heightPixels
          type: integer
        hlg:
          description: Convert the input video to a Hybrid Log Gamma (HLG) video.
          properties: {}
          title: H264ColorFormatHLG
          type: object
        pixelFormat:
          description: "Pixel format to use. The default is `yuv420p`. Supported pixel\
            \ formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p`\
            \ pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit\
            \ HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12`\
            \ 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12`\
            \ 12-bit HDR pixel format"
          title: pixelFormat
          type: string
        preset:
          description: "Enforces the specified codec preset. The default is `veryfast`.\
            \ The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Preset).\
            \ Note that certain values for this field may cause the transcoder to\
            \ override other fields you set in the `H264CodecSettings` message."
          title: preset
          type: string
        profile:
          description: "Enforces the specified codec profile. The following profiles\
            \ are supported: * `baseline` * `main` * `high` (default) The available\
            \ options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune).\
            \ Note that certain values for this field may cause the transcoder to\
            \ override other fields you set in the `H264CodecSettings` message."
          title: profile
          type: string
        rateControlMode:
          description: "Specify the mode. The default is `vbr`. Supported rate control\
            \ modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
          title: rateControlMode
          type: string
        sdr:
          description: Convert the input video to a Standard Dynamic Range (SDR) video.
          properties: {}
          title: H264ColorFormatSDR
          type: object
        tune:
          description: "Enforces the specified codec tune. The available options are\
            \ [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune).\
            \ Note that certain values for this field may cause the transcoder to\
            \ override other fields you set in the `H264CodecSettings` message."
          title: tune
          type: string
        vbvFullnessBits:
          description: Initial fullness of the Video Buffering Verifier (VBV) buffer
            in bits. Must be greater than zero. The default is equal to 90% of H264CodecSettings.vbv_size_bits.
          format: int32
          title: vbvFullnessBits
          type: integer
        vbvSizeBits:
          description: Size of the Video Buffering Verifier (VBV) buffer in bits.
            Must be greater than zero. The default is equal to H264CodecSettings.bitrate_bps.
          format: int32
          title: vbvSizeBits
          type: integer
        widthPixels:
          description: "The width of the video in pixels. Must be an even integer.\
            \ When not specified, the width is adjusted to match the specified height\
            \ and input aspect ratio. If both are omitted, the input width is used.\
            \ For portrait videos that contain horizontal ASR and rotation metadata,\
            \ provide the width, in pixels, per the horizontal ASR. The API calculates\
            \ the height per the horizontal ASR. The API detects any rotation metadata\
            \ and swaps the requested height and width for the output."
          format: int32
          title: widthPixels
          type: integer
      title: H264CodecSettings
      type: object
    H264ColorFormatHLG:
      description: Convert the input video to a Hybrid Log Gamma (HLG) video.
      properties: {}
      title: H264ColorFormatHLG
      type: object
    H264ColorFormatSDR:
      description: Convert the input video to a Standard Dynamic Range (SDR) video.
      properties: {}
      title: H264ColorFormatSDR
      type: object
    H265CodecSettings:
      description: H265 codec settings.
      example:
        sdr: "{}"
        hlg: "{}"
        pixelFormat: pixelFormat
        enableTwoPass: true
        profile: profile
        crfLevel: 9
        heightPixels: 9
        preset: preset
        bitrateBps: 9
        frameRateConversionStrategy: FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
        tune: tune
        widthPixels: 6
        frameRate: 6.683562403749608
        vbvSizeBits: 3
        bFrameCount: 5
        gopDuration: gopDuration
        allowOpenGop: true
        aqStrength: 4.965218492984954
        bPyramid: true
        gopFrameCount: 8
        vbvFullnessBits: 6
        hdr10: "{}"
        rateControlMode: rateControlMode
      properties:
        allowOpenGop:
          description: Specifies whether an open Group of Pictures (GOP) structure
            should be allowed or not. The default is `false`.
          title: allowOpenGop
          type: boolean
        aqStrength:
          description: "Specify the intensity of the adaptive quantizer (AQ). Must\
            \ be between 0 and 1, where 0 disables the quantizer and 1 maximizes the\
            \ quantizer. A higher value equals a lower bitrate but smoother image.\
            \ The default is 0."
          format: double
          title: aqStrength
          type: number
        bFrameCount:
          description: The number of consecutive B-frames. Must be greater than or
            equal to zero. Must be less than H265CodecSettings.gop_frame_count if
            set. The default is 0.
          format: int32
          title: bFrameCount
          type: integer
        bPyramid:
          description: Allow B-pyramid for reference frame selection. This may not
            be supported on all decoders. The default is `false`.
          title: bPyramid
          type: boolean
        bitrateBps:
          description: "Required. The video bitrate in bits per second. The minimum\
            \ value is 1,000. The maximum value is 800,000,000."
          format: int32
          title: bitrateBps
          type: integer
        crfLevel:
          description: "Target CRF level. Must be between 10 and 36, where 10 is the\
            \ highest quality and 36 is the most efficient compression. The default\
            \ is 21."
          format: int32
          title: crfLevel
          type: integer
        enableTwoPass:
          description: Use two-pass encoding strategy to achieve better video quality.
            H265CodecSettings.rate_control_mode must be `vbr`. The default is `false`.
          title: enableTwoPass
          type: boolean
        frameRate:
          description: Required. The target video frame rate in frames per second
            (FPS). Must be less than or equal to 120.
          format: double
          title: frameRate
          type: number
        frameRateConversionStrategy:
          description: Optional. Frame rate conversion strategy for desired frame
            rate. The default is `DOWNSAMPLE`.
          enum:
          - FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
          - DOWNSAMPLE
          - DROP_DUPLICATE
          title: frameRateConversionStrategy
          type: string
        gopDuration:
          description: "Select the GOP size based on the specified duration. The default\
            \ is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings),\
            \ and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`."
          format: google-duration
          title: gopDuration
          type: string
        gopFrameCount:
          description: Select the GOP size based on the specified frame count. Must
            be greater than zero.
          format: int32
          title: gopFrameCount
          type: integer
        hdr10:
          description: Convert the input video to a High Dynamic Range 10 (HDR10)
            video.
          properties: {}
          title: H265ColorFormatHDR10
          type: object
        heightPixels:
          description: "The height of the video in pixels. Must be an even integer.\
            \ When not specified, the height is adjusted to match the specified width\
            \ and input aspect ratio. If both are omitted, the input height is used.\
            \ For portrait videos that contain horizontal ASR and rotation metadata,\
            \ provide the height, in pixels, per the horizontal ASR. The API calculates\
            \ the width per the horizontal ASR. The API detects any rotation metadata\
            \ and swaps the requested height and width for the output."
          format: int32
          title: heightPixels
          type: integer
        hlg:
          description: Convert the input video to a Hybrid Log Gamma (HLG) video.
          properties: {}
          title: hlg
          type: object
        pixelFormat:
          description: "Pixel format to use. The default is `yuv420p`. Supported pixel\
            \ formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p`\
            \ pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit\
            \ HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12`\
            \ 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12`\
            \ 12-bit HDR pixel format"
          title: pixelFormat
          type: string
        preset:
          description: "Enforces the specified codec preset. The default is `veryfast`.\
            \ The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265).\
            \ Note that certain values for this field may cause the transcoder to\
            \ override other fields you set in the `H265CodecSettings` message."
          title: preset
          type: string
        profile:
          description: "Enforces the specified codec profile. The following profiles\
            \ are supported: * 8-bit profiles * `main` (default) * `main-intra` *\
            \ `mainstillpicture` * 10-bit profiles * `main10` (default) * `main10-intra`\
            \ * `main422-10` * `main422-10-intra` * `main444-10` * `main444-10-intra`\
            \ * 12-bit profiles * `main12` (default) * `main12-intra` * `main422-12`\
            \ * `main422-12-intra` * `main444-12` * `main444-12-intra` The available\
            \ options are [FFmpeg-compatible](https://x265.readthedocs.io/). Note\
            \ that certain values for this field may cause the transcoder to override\
            \ other fields you set in the `H265CodecSettings` message."
          title: profile
          type: string
        rateControlMode:
          description: "Specify the mode. The default is `vbr`. Supported rate control\
            \ modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
          title: rateControlMode
          type: string
        sdr:
          description: Convert the input video to a Standard Dynamic Range (SDR) video.
          properties: {}
          title: sdr
          type: object
        tune:
          description: "Enforces the specified codec tune. The available options are\
            \ [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note\
            \ that certain values for this field may cause the transcoder to override\
            \ other fields you set in the `H265CodecSettings` message."
          title: tune
          type: string
        vbvFullnessBits:
          description: Initial fullness of the Video Buffering Verifier (VBV) buffer
            in bits. Must be greater than zero. The default is equal to 90% of H265CodecSettings.vbv_size_bits.
          format: int32
          title: vbvFullnessBits
          type: integer
        vbvSizeBits:
          description: Size of the Video Buffering Verifier (VBV) buffer in bits.
            Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.
          format: int32
          title: vbvSizeBits
          type: integer
        widthPixels:
          description: "The width of the video in pixels. Must be an even integer.\
            \ When not specified, the width is adjusted to match the specified height\
            \ and input aspect ratio. If both are omitted, the input width is used.\
            \ For portrait videos that contain horizontal ASR and rotation metadata,\
            \ provide the width, in pixels, per the horizontal ASR. The API calculates\
            \ the height per the horizontal ASR. The API detects any rotation metadata\
            \ and swaps the requested height and width for the output."
          format: int32
          title: widthPixels
          type: integer
      title: H265CodecSettings
      type: object
    H265ColorFormatHDR10:
      description: Convert the input video to a High Dynamic Range 10 (HDR10) video.
      properties: {}
      title: H265ColorFormatHDR10
      type: object
    H265ColorFormatHLG:
      description: Convert the input video to a Hybrid Log Gamma (HLG) video.
      properties: {}
      title: hlg
      type: object
    H265ColorFormatSDR:
      description: Convert the input video to a Standard Dynamic Range (SDR) video.
      properties: {}
      title: sdr
      type: object
    Image:
      description: Overlaid image.
      example:
        alpha: 0.2025324113236393
        resolution:
          x: 3.2588565619047607
          "y": 4.078845849666752
        uri: uri
      properties:
        alpha:
          description: "Target image opacity. Valid values are from `1.0` (solid,\
            \ default) to `0.0` (transparent), exclusive. Set this to a value greater\
            \ than `0.0`."
          format: double
          title: alpha
          type: number
        resolution:
          $ref: '#/components/schemas/NormalizedCoordinate'
        uri:
          description: "Required. URI of the image in Cloud Storage. For example,\
            \ `gs://bucket/inputs/image.png`. Only PNG and JPEG images are supported."
          title: uri
          type: string
      title: Image
      type: object
    Input:
      description: Input asset.
      example:
        preprocessingConfig:
          pad:
            topPixels: 5
            bottomPixels: 3
            rightPixels: 7
            leftPixels: 3
          denoise:
            strength: 7.740351818741173
            tune: tune
          color:
            saturation: 0.8851374739011653
            brightness: 3.0937452626664474
            contrast: 7.143538047012306
          deinterlace:
            bwdif:
              mode: mode
              parity: parity
              deinterlaceAllFrames: true
            yadif:
              mode: mode
              disableSpatialInterlacing: true
              parity: parity
              deinterlaceAllFrames: true
          audio:
            lufs: 3.353193347011243
            lowBoost: true
            highBoost: true
          deblock:
            strength: 8.969578798196912
            enabled: true
          crop:
            topPixels: 4
            bottomPixels: 7
            rightPixels: 0
            leftPixels: 6
        uri: uri
        key: key
      properties:
        key:
          description: A unique key for this input. Must be specified when using advanced
            mapping and edit lists.
          title: key
          type: string
        preprocessingConfig:
          $ref: '#/components/schemas/PreprocessingConfig'
        uri:
          description: "URI of the media. Input files must be at least 5 seconds in\
            \ duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`).\
            \ If empty, the value is populated from Job.input_uri. See [Supported\
            \ input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
          title: uri
          type: string
      title: Input
      type: object
    Job:
      description: Transcoding job resource.
      example:
        ttlAfterCompletionDays: 1
        batchModePriority: 0
        outputUri: outputUri
        error:
          code: 6
          details:
          - key: ""
          - key: ""
          message: message
        inputUri: inputUri
        templateId: templateId
        labels:
          key: labels
        mode: PROCESSING_MODE_UNSPECIFIED
        createTime: createTime
        optimization: OPTIMIZATION_STRATEGY_UNSPECIFIED
        name: name
        startTime: startTime
        endTime: endTime
        state: PROCESSING_STATE_UNSPECIFIED
        config:
          output:
            uri: uri
          adBreaks:
          - startTimeOffset: startTimeOffset
          - startTimeOffset: startTimeOffset
          editList:
          - endTimeOffset: endTimeOffset
            inputs:
            - inputs
            - inputs
            startTimeOffset: startTimeOffset
            key: key
          - endTimeOffset: endTimeOffset
            inputs:
            - inputs
            - inputs
            startTimeOffset: startTimeOffset
            key: key
          spriteSheets:
          - endTimeOffset: endTimeOffset
            spriteWidthPixels: 7
            format: format
            interval: interval
            columnCount: 6
            rowCount: 1
            filePrefix: filePrefix
            startTimeOffset: startTimeOffset
            totalCount: 9
            spriteHeightPixels: 4
            quality: 4
          - endTimeOffset: endTimeOffset
            spriteWidthPixels: 7
            format: format
            interval: interval
            columnCount: 6
            rowCount: 1
            filePrefix: filePrefix
            startTimeOffset: startTimeOffset
            totalCount: 9
            spriteHeightPixels: 4
            quality: 4
          muxStreams:
          - container: container
            fileName: fileName
            segmentSettings:
              segmentDuration: segmentDuration
              individualSegments: true
            elementaryStreams:
            - elementaryStreams
            - elementaryStreams
            fmp4:
              codecTag: codecTag
            key: key
            encryptionId: encryptionId
          - container: container
            fileName: fileName
            segmentSettings:
              segmentDuration: segmentDuration
              individualSegments: true
            elementaryStreams:
            - elementaryStreams
            - elementaryStreams
            fmp4:
              codecTag: codecTag
            key: key
            encryptionId: encryptionId
          pubsubDestination:
            topic: topic
          inputs:
          - preprocessingConfig:
              pad:
                topPixels: 5
                bottomPixels: 3
                rightPixels: 7
                leftPixels: 3
              denoise:
                strength: 7.740351818741173
                tune: tune
              color:
                saturation: 0.8851374739011653
                brightness: 3.0937452626664474
                contrast: 7.143538047012306
              deinterlace:
                bwdif:
                  mode: mode
                  parity: parity
                  deinterlaceAllFrames: true
                yadif:
                  mode: mode
                  disableSpatialInterlacing: true
                  parity: parity
                  deinterlaceAllFrames: true
              audio:
                lufs: 3.353193347011243
                lowBoost: true
                highBoost: true
              deblock:
                strength: 8.969578798196912
                enabled: true
              crop:
                topPixels: 4
                bottomPixels: 7
                rightPixels: 0
                leftPixels: 6
            uri: uri
            key: key
          - preprocessingConfig:
              pad:
                topPixels: 5
                bottomPixels: 3
                rightPixels: 7
                leftPixels: 3
              denoise:
                strength: 7.740351818741173
                tune: tune
              color:
                saturation: 0.8851374739011653
                brightness: 3.0937452626664474
                contrast: 7.143538047012306
              deinterlace:
                bwdif:
                  mode: mode
                  parity: parity
                  deinterlaceAllFrames: true
                yadif:
                  mode: mode
                  disableSpatialInterlacing: true
                  parity: parity
                  deinterlaceAllFrames: true
              audio:
                lufs: 3.353193347011243
                lowBoost: true
                highBoost: true
              deblock:
                strength: 8.969578798196912
                enabled: true
              crop:
                topPixels: 4
                bottomPixels: 7
                rightPixels: 0
                leftPixels: 6
            uri: uri
            key: key
          overlays:
          - image:
              alpha: 0.2025324113236393
              resolution:
                x: 3.2588565619047607
                "y": 4.078845849666752
              uri: uri
            animations:
            - animationStatic:
                xy:
                  x: 3.2588565619047607
                  "y": 4.078845849666752
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 3.2588565619047607
                  "y": 4.078845849666752
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
            - animationStatic:
                xy:
                  x: 3.2588565619047607
                  "y": 4.078845849666752
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 3.2588565619047607
                  "y": 4.078845849666752
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
          - image:
              alpha: 0.2025324113236393
              resolution:
                x: 3.2588565619047607
                "y": 4.078845849666752
              uri: uri
            animations:
            - animationStatic:
                xy:
                  x: 3.2588565619047607
                  "y": 4.078845849666752
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 3.2588565619047607
                  "y": 4.078845849666752
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
            - animationStatic:
                xy:
                  x: 3.2588565619047607
                  "y": 4.078845849666752
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 3.2588565619047607
                  "y": 4.078845849666752
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
          manifests:
          - fileName: fileName
            muxStreams:
            - muxStreams
            - muxStreams
            dash:
              segmentReferenceScheme: SEGMENT_REFERENCE_SCHEME_UNSPECIFIED
            type: MANIFEST_TYPE_UNSPECIFIED
          - fileName: fileName
            muxStreams:
            - muxStreams
            - muxStreams
            dash:
              segmentReferenceScheme: SEGMENT_REFERENCE_SCHEME_UNSPECIFIED
            type: MANIFEST_TYPE_UNSPECIFIED
          elementaryStreams:
          - videoStream:
              h264:
                sdr: "{}"
                entropyCoder: entropyCoder
                hlg: "{}"
                pixelFormat: pixelFormat
                enableTwoPass: true
                profile: profile
                crfLevel: 7
                heightPixels: 1
                preset: preset
                bitrateBps: 4
                frameRateConversionStrategy: FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
                tune: tune
                widthPixels: 1
                frameRate: 1.2315135367772556
                vbvSizeBits: 7
                bFrameCount: 2
                gopDuration: gopDuration
                allowOpenGop: true
                aqStrength: 3.616076749251911
                bPyramid: true
                gopFrameCount: 1
                vbvFullnessBits: 6
                rateControlMode: rateControlMode
              h265:
                sdr: "{}"
                hlg: "{}"
                pixelFormat: pixelFormat
                enableTwoPass: true
                profile: profile
                crfLevel: 9
                heightPixels: 9
                preset: preset
                bitrateBps: 9
                frameRateConversionStrategy: FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
                tune: tune
                widthPixels: 6
                frameRate: 6.683562403749608
                vbvSizeBits: 3
                bFrameCount: 5
                gopDuration: gopDuration
                allowOpenGop: true
                aqStrength: 4.965218492984954
                bPyramid: true
                gopFrameCount: 8
                vbvFullnessBits: 6
                hdr10: "{}"
                rateControlMode: rateControlMode
              vp9:
                sdr: "{}"
                hlg: "{}"
                pixelFormat: pixelFormat
                profile: profile
                crfLevel: 2
                heightPixels: 5
                bitrateBps: 1
                frameRateConversionStrategy: FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
                widthPixels: 6
                frameRate: 6.778324963048013
                gopDuration: gopDuration
                gopFrameCount: 6
                rateControlMode: rateControlMode
            audioStream:
              sampleRateHertz: 7
              channelCount: 6
              channelLayout:
              - channelLayout
              - channelLayout
              codec: codec
              mapping:
              - atomKey: atomKey
                outputChannel: 2
                gainDb: 1.4658129805029452
                inputKey: inputKey
                inputTrack: 5
                inputChannel: 5
              - atomKey: atomKey
                outputChannel: 2
                gainDb: 1.4658129805029452
                inputKey: inputKey
                inputTrack: 5
                inputChannel: 5
              displayName: displayName
              languageCode: languageCode
              bitrateBps: 0
            textStream:
              codec: codec
              mapping:
              - atomKey: atomKey
                inputKey: inputKey
                inputTrack: 9
              - atomKey: atomKey
                inputKey: inputKey
                inputTrack: 9
              displayName: displayName
              languageCode: languageCode
            key: key
          - videoStream:
              h264:
                sdr: "{}"
                entropyCoder: entropyCoder
                hlg: "{}"
                pixelFormat: pixelFormat
                enableTwoPass: true
                profile: profile
                crfLevel: 7
                heightPixels: 1
                preset: preset
                bitrateBps: 4
                frameRateConversionStrategy: FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
                tune: tune
                widthPixels: 1
                frameRate: 1.2315135367772556
                vbvSizeBits: 7
                bFrameCount: 2
                gopDuration: gopDuration
                allowOpenGop: true
                aqStrength: 3.616076749251911
                bPyramid: true
                gopFrameCount: 1
                vbvFullnessBits: 6
                rateControlMode: rateControlMode
              h265:
                sdr: "{}"
                hlg: "{}"
                pixelFormat: pixelFormat
                enableTwoPass: true
                profile: profile
                crfLevel: 9
                heightPixels: 9
                preset: preset
                bitrateBps: 9
                frameRateConversionStrategy: FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
                tune: tune
                widthPixels: 6
                frameRate: 6.683562403749608
                vbvSizeBits: 3
                bFrameCount: 5
                gopDuration: gopDuration
                allowOpenGop: true
                aqStrength: 4.965218492984954
                bPyramid: true
                gopFrameCount: 8
                vbvFullnessBits: 6
                hdr10: "{}"
                rateControlMode: rateControlMode
              vp9:
                sdr: "{}"
                hlg: "{}"
                pixelFormat: pixelFormat
                profile: profile
                crfLevel: 2
                heightPixels: 5
                bitrateBps: 1
                frameRateConversionStrategy: FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED
                widthPixels: 6
                frameRate: 6.778324963048013
                gopDuration: gopDuration
                gopFrameCount: 6
                rateControlMode: rateControlMode
            audioStream:
              sampleRateHertz: 7
              channelCount: 6
              channelLayout:
              - channelLayout
              - channelLayout
              codec: codec
              mapping:
              - atomKey: atomKey
                outputChannel: 2
                gainDb: 1.4658129805029452
                inputKey: inputKey
                inputTrack: 5
                inputChannel: 5
              - atomKey: atomKey
                outputChannel: 2
                gainDb: 1.4658129805029452
                inputKey: inputKey
                inputTrack: 5
                inputChannel: 5
              displayName: displayName
              languageCode: languageCode
              bitrateBps: 0
            textStream:
              codec: codec
              mapping:
              - atomKey: atomKey
                inputKey: inputKey
                inputTrack: 9
              - atomKey: atomKey
                inputKey: inputKey
                inputTrack: 9
              displayName: displayName
              languageCode: languageCode
            key: key
          encryptions:
          - drmSystems:
              playready: "{}"
              fairplay: "{}"
              widevine: "{}"
              clearkey: "{}"
            aes128: "{}"
            mpegCenc:
              scheme: scheme
            sampleAes: "{}"
            id: id
            secretManagerKeySource:
              secretVersion: secretVersion
          - drmSystems:
              playready: "{}"
              fairplay: "{}"
              widevine: "{}"
              clearkey: "{}"
            aes128: "{}"
            mpegCenc:
              scheme: scheme
            sampleAes: "{}"
            id: id
            secretManagerKeySource:
              secretVersion: secretVersion
      properties:
        batchModePriority:
          description: The processing priority of a batch job. This field can only
            be set for batch mode jobs. The default value is 0. This value cannot
            be negative. Higher values correspond to higher priorities for the job.
          format: int32
          title: batchModePriority
          type: integer
        config:
          $ref: '#/components/schemas/JobConfig'
        createTime:
          description: Output only. The time the job was created.
          format: google-datetime
          readOnly: true
          title: createTime
          type: string
        endTime:
          description: Output only. The time the transcoding finished.
          format: google-datetime
          readOnly: true
          title: endTime
          type: string
        error:
          $ref: '#/components/schemas/Status'
        inputUri:
          description: "Input only. Specify the `input_uri` to populate empty `uri`\
            \ fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs`\
            \ when using template. URI of the media. Input files must be at least\
            \ 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`).\
            \ See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
          title: inputUri
          type: string
        labels:
          additionalProperties:
            type: string
          description: The labels associated with this job. You can use these to organize
            and group your jobs.
          title: labels
          type: object
        mode:
          description: The processing mode of the job. The default is `PROCESSING_MODE_INTERACTIVE`.
          enum:
          - PROCESSING_MODE_UNSPECIFIED
          - PROCESSING_MODE_INTERACTIVE
          - PROCESSING_MODE_BATCH
          title: mode
          type: string
        name:
          description: "The resource name of the job. Format: `projects/{project_number}/locations/{location}/jobs/{job}`"
          title: name
          type: string
        optimization:
          description: Optional. The optimization strategy of the job. The default
            is `AUTODETECT`.
          enum:
          - OPTIMIZATION_STRATEGY_UNSPECIFIED
          - AUTODETECT
          - DISABLED
          title: optimization
          type: string
        outputUri:
          description: "Input only. Specify the `output_uri` to populate an empty\
            \ `Job.config.output.uri` or `JobTemplate.config.output.uri` when using\
            \ template. URI for the output file(s). For example, `gs://my-bucket/outputs/`.\
            \ See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
          title: outputUri
          type: string
        startTime:
          description: Output only. The time the transcoding started.
          format: google-datetime
          readOnly: true
          title: startTime
          type: string
        state:
          description: Output only. The current state of the job.
          enum:
          - PROCESSING_STATE_UNSPECIFIED
          - PENDING
          - RUNNING
          - SUCCEEDED
          - FAILED
          readOnly: true
          title: state
          type: string
        templateId:
          description: "Input only. Specify the `template_id` to use for populating\
            \ `Job.config`. The default is `preset/web-hd`, which is the only supported\
            \ preset. User defined JobTemplate: `{job_template_id}`"
          title: templateId
          type: string
        ttlAfterCompletionDays:
          description: "Job time to live value in days, which will be effective after\
            \ job completion. Job should be deleted automatically after the given\
            \ TTL. Enter a value between 1 and 90. The default is 30."
          format: int32
          title: ttlAfterCompletionDays
          type: integer
      title: Job
      type: object
    JobConfig:
      description: Job configuration
      example:
        output:
          uri: uri
        adBreaks:
        - startTimeOffset: startTimeOffset
        - startTimeOffset: startTimeOffset
        editList:
        - endTimeOffset: endTimeOffset
          inputs:
          - inputs
          - inputs
          startTimeOffset: startTimeOffset
          key: key
        - endTimeOffset: endTimeOffset
          inputs:
          - inputs
          - inputs
          startTimeOffset: startTimeOffset
          key: key
        spriteSheets:
        - endTimeOffset: endTimeOffset
          spriteWidthPixels: 7
          format: format
          interval: interval
          columnCount: 6
          rowCount: 1
          filePrefix: filePrefix
          startTimeOffset: startTimeOffset
          totalCount: 9
          spriteHeightPixels: 4
          quality: 4
        - endTimeOffset: endTimeOffset
          spriteWidthPixels: 7
          format: format
          interval: interval
          columnCount: 6
          rowCount: 1
          filePrefix: filePrefix
          startTimeOffset: startTimeOffset
          totalCount: 9
          spriteHeightPixels: 4
          quality: 4
        muxStreams:
        - container: container
          fileName: fileName
          segmentSettings:
            segmentDuration: segmentDuration
            individualSegments: true
          elementaryStreams:
          - elementaryStreams
          - elementaryStreams
          fmp4:
            codecTag: codecTag
          key: key
          encryptionId: encryptionId
        - container: container
          fileName: fileName
          segmentSettings:
            segmentDuration: segmentDuration
            individualSegments: true
          elementaryStreams:
          - elementaryStreams
          - elementaryStreams
          fmp4:
            codecTag: codecTag
          key: key
          encryptionId: encryptionId
        pubsubDestination:
          topic: topic
        inputs:
        - preprocessingConfig:
            pad:
              topPixels: 5
              bottomPixels: 3
              rightPixels: 7
              leftPixels: 3
            denoise:
              strength: 7.740351818741173
              tune: tune
            color:
              saturation: 0.8851374739011653
              brightness: 3.0937452626664474
              contrast: 7.143538047012306
            deinterlace:
              bwdif:
                mode: mode
                parity: parity
                deinterlaceAllFrames: true
              yadif:
                mode: mode
                disableSpatialInterlacing: true
                parity: parity
                deinterlaceAllFrames: true
            audio:
              lufs: 3.353193347011243
              lowBoost: true
              highBoost: true
            deblock:
              strength: 8.969578798196912
              enabled: true
            crop:
              topPixels: 4
              bottomPixels: 7
              rightPixels: 0
              leftPixels: 6
          uri: uri
          key: key
        - preprocessingConfig:
            pad:
              topPixels: 5
              bottomPixels: 3
              rightPixels: 7
              leftPixels: 3
            denoise:
              strength: 7.740351818741173
              tune: tune
            color:
              saturation: 0.8851374739011653
              brightness: 3.0937452626664474
              contrast: 7.143538047012306
            deinterlace:
              bwdif:
                mode: mode
                parity: parity
                deinterlaceAllFrames: true
              yadif:
                mode: mode
                disableSpatialInterlacing: true
                parity: parity
                deinterlaceAllFrames: true
            audio:
              lufs: 3.353193347011243
              lowBoost: true
              highBoost: true
            deblock:
              strength: 8.969578798196912
              enabled: true
            crop:
              topPixels: 4
              bottomPixels: 7
              rightPixels: 0
              leftPixels: 6
          uri: uri
          key: key
        overlays:
        - image:
            alpha: 0.2025324113236393
            resolution:
              x: 3.2588565619047607
              "y": 4.078845849666752
            uri: uri
          animations:
          - animationStatic:
              xy:
                x: 3.2588565619047607
                "y": 4.078845849666752
              startTimeOffset: startTimeOffset
            animationFade:
              xy:
                x: 3.2588565619047607
                "y": 4.078845849666752
              endTimeOffset: endTimeOffset
              fadeType: FADE_TYPE_UNSPECIFIED
              startTimeOffset: startTimeOffset
            animationEnd:
              startTimeOffset: startTimeOffset
          - animationStatic:
              xy:
                x: 3.2588565619047607
                "y": 4.078845849666752
              startTimeOffset: startTimeOffset
            animationFade:
              xy:
                x: 3.2588565619047607
                "y": 4.078845849666752
              endTimeOffset: endTimeOffset
              fadeType: FADE_TYPE_UNSPECIFIED
              startTimeOffset: startTimeOffset
            animationEnd:
              startTimeOffset: startTimeOffset
        - image:
            alpha: 0.2025324113236393
            resolution:
              x: 3.2588565619047607
              "y": 4.078845849666752
            uri: uri
          animations:
          - animationStatic:
              xy:
                x: 3.2588565619047607
                "y": 4.078845849666752
              startTimeOffset: startTimeOffset
            animationFade:
              xy:
                x: 3.2588565619047607
                "y": 4.078845849666752
              endTimeOffset: endTimeOffset
              fadeType: FADE_TYPE_UNSPECIFIED
              startTimeOffset: startTimeOffset
            animationEnd:
              startTimeOffset: startTimeOffset
          - animationStatic:
              xy:
                x: 3.2588565619047607
                "y": 4.078845849666752
              startTimeOffset: startTimeOffset
            animationFade:
              xy:
                x: 3.2588565619047607
                "y": 4.078845849666752
              endTimeOffset: endTimeOffset
              fadeType: FADE_TYPE_UNSPECIFIED
              startTimeOffset: startTimeOffset
            animationEnd:
              startTimeOffset: startTimeOffset
        manifests:
        - fileName: fileName
          muxStreams:
          - muxStreams
          - muxStreams
          dash:
            segmentReferenceScheme: SEGMENT_REFERENCE_SCHEME_UNSPECIFIED
          type: MANIFEST_TYPE_UNSPECIFIED
        - fileName: fileName
          muxStreams:
          - muxStreams
          - muxStreams
          dash:
            segmentReferenceScheme: SEGMENT_REFERENCE_SCHEME_UNSPECIFIED
          type: MANIFEST_TYPE_UNSPECIFIED
        elementaryStreams:
        - videoStream:
            h264:
              sdr: "{}"
              entropyCoder: entropyCoder
              hlg: "{}"
              pixelFormat: pixelFormat
              enableTwoPass: true
              profile: profile
              crfLevel: 7
              heightPixels: 1
              preset: preset
              bitrateBps: 4
[...]
