openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Insights
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_insights_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_insights_v1
servers:
- url: https://insights.twilio.com
tags:
- name: InsightsV1Annotation
- name: InsightsV1Call
- name: InsightsV1CallSummaries
- name: InsightsV1CallSummary
- name: InsightsV1Conference
- name: InsightsV1ConferenceParticipant
- name: InsightsV1Event
- name: InsightsV1Metric
- name: InsightsV1Participant
- name: InsightsV1Room
- name: InsightsV1Setting
paths:
  /v1/Conferences:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Conference Summaries.
      operationId: list_conference
      parameters:
      - description: The SID of the conference.
        explode: true
        in: query
        name: ConferenceSid
        required: false
        schema:
          type: string
        style: form
      - description: "Custom label for the conference resource, up to 64 characters."
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: Conference status.
        explode: true
        in: query
        name: Status
        required: false
        schema:
          type: string
        style: form
      - description: Conferences created after the provided timestamp specified in
          ISO 8601 format
        explode: true
        in: query
        name: CreatedAfter
        required: false
        schema:
          type: string
        style: form
      - description: Conferences created before the provided timestamp specified in
          ISO 8601 format.
        explode: true
        in: query
        name: CreatedBefore
        required: false
        schema:
          type: string
        style: form
      - description: Twilio region where the conference media was mixed.
        explode: true
        in: query
        name: MixerRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Tags applied by Twilio for common potential configuration, quality,\
          \ or performance issues."
        explode: true
        in: query
        name: Tags
        required: false
        schema:
          type: string
        style: form
      - description: Account SID for the subaccount whose resources you wish to retrieve.
        explode: true
        in: query
        name: Subaccount
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "Potential configuration, behavior, or performance issues detected\
          \ during the conference."
        explode: true
        in: query
        name: DetectedIssues
        required: false
        schema:
          type: string
        style: form
      - description: "Conference end reason; e.g. last participant left, modified\
          \ by API, etc."
        explode: true
        in: query
        name: EndReason
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConferenceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Conference
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.insights_v1_conference_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - conference_sid
      - account_sid
      dependentProperties:
        conference_participants:
          mapping:
            conference_sid: conference_sid
          resource_url: "/v1/Conferences/{conference_sid}/Participants"
      pathType: list
  /v1/Conferences/{ConferenceSid}:
    description: "TODO: Resource-level docs"
    get:
      description: Get a specific Conference Summary.
      operationId: fetch_conference
      parameters:
      - description: The unique SID identifier of the Conference.
        explode: false
        in: path
        name: ConferenceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insights.v1.conference'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Conference
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.insights_v1_conference_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - conference_sid
      - account_sid
      dependentProperties:
        conference_participants:
          mapping:
            conference_sid: conference_sid
          resource_url: "/v1/Conferences/{conference_sid}/Participants"
      pathType: instance
  /v1/Conferences/{ConferenceSid}/Participants:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Conference Participants Summaries for a Conference.
      operationId: list_conference_participant
      parameters:
      - description: The unique SID identifier of the Conference.
        explode: false
        in: path
        name: ConferenceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique SID identifier of the Participant.
        explode: true
        in: query
        name: ParticipantSid
        required: false
        schema:
          type: string
        style: form
      - description: User-specified label for a participant.
        explode: true
        in: query
        name: Label
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "Conference events generated by application or participant activity;\
          \ e.g. `hold`, `mute`, etc."
        explode: true
        in: query
        name: Events
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConferenceParticipantResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1ConferenceParticipant
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.insights_v1_conference_participant_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - participant_sid
      - conference_sid
      - call_sid
      - account_sid
      mountName: conference_participants
      parent: "/Conferences/{ConferenceSid}"
      pathType: list
  /v1/Conferences/{ConferenceSid}/Participants/{ParticipantSid}:
    description: "TODO: Resource-level docs"
    get:
      description: Get a specific Conference Participant Summary for a Conference.
      operationId: fetch_conference_participant
      parameters:
      - description: The unique SID identifier of the Conference.
        explode: false
        in: path
        name: ConferenceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique SID identifier of the Participant.
        explode: false
        in: path
        name: ParticipantSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CP[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Conference events generated by application or participant activity;\
          \ e.g. `hold`, `mute`, etc."
        explode: true
        in: query
        name: Events
        required: false
        schema:
          type: string
        style: form
      - description: Object. Contains participant call quality metrics.
        explode: true
        in: query
        name: Metrics
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insights.v1.conference.conference_participant'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1ConferenceParticipant
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.insights_v1_conference_participant_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - participant_sid
      - conference_sid
      - call_sid
      - account_sid
      mountName: conference_participants
      parent: "/Conferences/{ConferenceSid}"
      pathType: instance
  /v1/Video/Rooms:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Programmable Video Rooms.
      operationId: list_video_room_summary
      parameters:
      - description: "Type of room. Can be `go`, `peer_to_peer`, `group`, or `group_small`."
        explode: true
        in: query
        name: RoomType
        required: false
        schema:
          items:
            $ref: '#/components/schemas/video_room_summary_enum_room_type'
          type: array
        style: form
      - description: "Codecs used by participants in the room. Can be `VP8`, `H264`,\
          \ or `VP9`."
        explode: true
        in: query
        name: Codec
        required: false
        schema:
          items:
            $ref: '#/components/schemas/video_room_summary_enum_codec'
          type: array
        style: form
      - description: Room friendly name.
        explode: true
        in: query
        name: RoomName
        required: false
        schema:
          type: string
        style: form
      - description: Only read rooms that started on or after this ISO 8601 timestamp.
        explode: true
        in: query
        name: CreatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only read rooms that started before this ISO 8601 timestamp.
        explode: true
        in: query
        name: CreatedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVideoRoomSummaryResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Room
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.insights_v1_room_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - room_sid
      - create_time
      dependentProperties:
        participants:
          mapping:
            room_sid: room_sid
          resource_url: "/v1/Video/Rooms/{room_sid}/Participants"
      pathType: list
  /v1/Video/Rooms/{RoomSid}:
    description: "TODO: Resource-level docs"
    get:
      description: Get Video Log Analyzer data for a Room.
      operationId: fetch_video_room_summary
      parameters:
      - description: The SID of the Room resource.
        explode: false
        in: path
        name: RoomSid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insights.v1.video_room_summary'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Room
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.insights_v1_room_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - room_sid
      - create_time
      dependentProperties:
        participants:
          mapping:
            room_sid: room_sid
          resource_url: "/v1/Video/Rooms/{room_sid}/Participants"
      pathType: instance
  /v1/Video/Rooms/{RoomSid}/Participants:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of room participants.
      operationId: list_video_participant_summary
      parameters:
      - description: The SID of the Room resource.
        explode: false
        in: path
        name: RoomSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVideoParticipantSummaryResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Participant
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.insights_v1_participant_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - participant_sid
      parent: "/Video/Rooms/{RoomSid}"
      pathType: list
  /v1/Video/Rooms/{RoomSid}/Participants/{ParticipantSid}:
    description: "TODO: Resource-level docs"
    get:
      description: Get Video Log Analyzer data for a Room Participant.
      operationId: fetch_video_participant_summary
      parameters:
      - description: The SID of the Room resource.
        explode: false
        in: path
        name: RoomSid
        required: true
        schema:
          type: string
        style: simple
      - description: The SID of the Participant resource.
        explode: false
        in: path
        name: ParticipantSid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insights.v1.video_room_summary.video_participant_summary'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Participant
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.insights_v1_participant_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - participant_sid
      parent: "/Video/Rooms/{RoomSid}"
      pathType: instance
  /v1/Voice/Settings:
    description: "TODO: Resource-level docs"
    get:
      description: Get the Voice Insights Settings.
      operationId: fetch_account_settings
      parameters:
      - description: The unique SID identifier of the Subaccount.
        explode: true
        in: query
        name: SubaccountSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insights.v1.account_settings'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Setting
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.insights_v1_setting_controller
    post:
      description: Update a specific Voice Insights Setting.
      operationId: update_account_settings
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateAccountSettingsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insights.v1.account_settings'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Setting
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.insights_v1_setting_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - advanced_features
      - voice_trace
      pathType: instance
  /v1/Voice/Summaries:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Call Summaries.
      operationId: list_call_summaries
      parameters:
      - description: "A calling party. Could be an E.164 number, a SIP URI, or a Twilio\
          \ Client registered name."
        explode: true
        in: query
        name: From
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "A called party. Could be an E.164 number, a SIP URI, or a Twilio\
          \ Client registered name."
        explode: true
        in: query
        name: To
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: An origination carrier.
        explode: true
        in: query
        name: FromCarrier
        required: false
        schema:
          type: string
        style: form
      - description: A destination carrier.
        explode: true
        in: query
        name: ToCarrier
        required: false
        schema:
          type: string
        style: form
      - description: A source country code based on phone number in From.
        explode: true
        in: query
        name: FromCountryCode
        required: false
        schema:
          type: string
        style: form
      - description: A destination country code. Based on phone number in To.
        explode: true
        in: query
        name: ToCountryCode
        required: false
        schema:
          type: string
        style: form
      - description: A boolean flag indicating whether or not the calls were branded
          using Twilio Branded Calls.
        explode: true
        in: query
        name: Branded
        required: false
        schema:
          type: boolean
        style: form
      - description: A boolean flag indicating whether or not the caller was verified
          using SHAKEN/STIR.
        explode: true
        in: query
        name: VerifiedCaller
        required: false
        schema:
          type: boolean
        style: form
      - description: "A boolean flag indicating the presence of one or more [Voice\
          \ Insights Call Tags](https://www.twilio.com/docs/voice/voice-insights/api/call/details-call-tags)."
        explode: true
        in: query
        name: HasTag
        required: false
        schema:
          type: boolean
        style: form
      - description: "A Start time of the calls. xm (x minutes), xh (x hours), xd\
          \ (x days), 1w, 30m, 3d, 4w or datetime-ISO. Defaults to 4h."
        explode: true
        in: query
        name: StartTime
        required: false
        schema:
          type: string
        style: form
      - description: "An End Time of the calls. xm (x minutes), xh (x hours), xd (x\
          \ days), 1w, 30m, 3d, 4w or datetime-ISO. Defaults to 0m."
        explode: true
        in: query
        name: EndTime
        required: false
        schema:
          type: string
        style: form
      - description: "A Call Type of the calls. One of `carrier`, `sip`, `trunking`\
          \ or `client`."
        explode: true
        in: query
        name: CallType
        required: false
        schema:
          type: string
        style: form
      - description: "A Call State of the calls. One of `ringing`, `completed`, `busy`,\
          \ `fail`, `noanswer`, `canceled`, `answered`, `undialed`."
        explode: true
        in: query
        name: CallState
        required: false
        schema:
          type: string
        style: form
      - description: "A Direction of the calls. One of `outbound_api`, `outbound_dial`,\
          \ `inbound`, `trunking_originating`, `trunking_terminating`."
        explode: true
        in: query
        name: Direction
        required: false
        schema:
          type: string
        style: form
      - description: "A Processing State of the Call Summaries. One of `completed`,\
          \ `partial` or `all`."
        explode: true
        in: query
        name: ProcessingState
        required: false
        schema:
          $ref: '#/components/schemas/call_summaries_enum_processing_state_request'
        style: form
      - description: A Sort By criterion for the returned list of Call Summaries.
          One of `start_time` or `end_time`.
        explode: true
        in: query
        name: SortBy
        required: false
        schema:
          $ref: '#/components/schemas/call_summaries_enum_sort_by'
        style: form
      - description: A unique SID identifier of a Subaccount.
        explode: true
        in: query
        name: Subaccount
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: A boolean flag indicating an abnormal session where the last
          SIP response was not 200 OK.
        explode: true
        in: query
        name: AbnormalSession
        required: false
        schema:
          type: boolean
        style: form
      - description: "An Answered By value for the calls based on `Answering Machine\
          \ Detection (AMD)`. One of `unknown`, `machine_start`, `machine_end_beep`,\
          \ `machine_end_silence`, `machine_end_other`, `human` or `fax`."
        explode: true
        in: query
        name: AnsweredBy
        required: false
        schema:
          $ref: '#/components/schemas/call_summaries_enum_answered_by'
        style: form
      - description: Either machine or human.
        explode: true
        in: query
        name: AnsweredByAnnotation
        required: false
        schema:
          type: string
        style: form
      - description: "A Connectivity Issue with the calls. One of `no_connectivity_issue`,\
          \ `invalid_number`, `caller_id`, `dropped_call`, or `number_reachability`."
        explode: true
        in: query
        name: ConnectivityIssueAnnotation
        required: false
        schema:
          type: string
        style: form
      - description: "A subjective Quality Issue with the calls. One of `no_quality_issue`,\
          \ `low_volume`, `choppy_robotic`, `echo`, `dtmf`, `latency`, `owa`, `static_noise`."
        explode: true
        in: query
        name: QualityIssueAnnotation
        required: false
        schema:
          type: string
        style: form
      - description: A boolean flag indicating spam calls.
        explode: true
        in: query
        name: SpamAnnotation
        required: false
        schema:
          type: boolean
        style: form
      - description: "A Call Score of the calls. Use a range of 1-5 to indicate the\
          \ call experience score, with the following mapping as a reference for the\
          \ rated call [5: Excellent, 4: Good, 3 : Fair, 2 : Poor, 1: Bad]."
        explode: true
        in: query
        name: CallScoreAnnotation
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCallSummariesResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1CallSummaries
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.insights_v1_call_summaries_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      className: call_summaries
      defaultOutputProperties:
      - account_sid
      - call_sid
      - create_time
      - start_time
      - end_time
      - duration
      - connect_duration
      - call_type
      - call_state
      mountName: call_summaries
      pathType: list
  /v1/Voice/{CallSid}/Annotation:
    description: "TODO: Resource-level docs"
    get:
      description: Get the Annotation for a specific Call.
      operationId: fetch_annotation
      parameters:
      - description: The unique SID identifier of the Call.
        explode: false
        in: path
        name: CallSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insights.v1.call.annotation'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Annotation
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.insights_v1_annotation_controller
    post:
      description: Update an Annotation for a specific Call.
      operationId: update_annotation
      parameters:
      - description: The unique string that Twilio created to identify this Call resource.
          It always starts with a CA.
        explode: false
        in: path
        name: CallSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateAnnotationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insights.v1.call.annotation'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Annotation
      x-maturity:
      - Beta
      x-openapi-router-controller: openapi_server.controllers.insights_v1_annotation_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - call_sid
      - account_sid
      parent: "/Voice/{Sid}"
      pathType: instance
  /v1/Voice/{CallSid}/Events:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Call Insight Events for a Call.
      operationId: list_event
      parameters:
      - description: The unique SID identifier of the Call.
        explode: false
        in: path
        name: CallSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The Edge of this Event. One of `unknown_edge`, `carrier_edge`,\
          \ `sip_edge`, `sdk_edge` or `client_edge`."
        explode: true
        in: query
        name: Edge
        required: false
        schema:
          $ref: '#/components/schemas/event_enum_twilio_edge'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEventResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Event
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.insights_v1_event_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - timestamp
      - call_sid
      - account_sid
      - edge
      - name
      parent: "/Voice/{Sid}"
      pathType: list
  /v1/Voice/{CallSid}/Metrics:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Call Metrics for a Call.
      operationId: list_metric
      parameters:
      - description: The unique SID identifier of the Call.
        explode: false
        in: path
        name: CallSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The Edge of this Metric. One of `unknown_edge`, `carrier_edge`,\
          \ `sip_edge`, `sdk_edge` or `client_edge`."
        explode: true
        in: query
        name: Edge
        required: false
        schema:
          $ref: '#/components/schemas/metric_enum_twilio_edge'
        style: form
      - description: "The Direction of this Metric. One of `unknown`, `inbound`, `outbound`\
          \ or `both`."
        explode: true
        in: query
        name: Direction
        required: false
        schema:
          $ref: '#/components/schemas/metric_enum_stream_direction'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMetricResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Metric
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.insights_v1_metric_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
      - timestamp
      - call_sid
      - account_sid
      - edge
      - direction
      parent: "/Voice/{Sid}"
      pathType: list
  /v1/Voice/{CallSid}/Summary:
    description: "TODO: Resource-level docs"
    get:
      description: Get a specific Call Summary.
      operationId: fetch_summary
      parameters:
      - description: The unique SID identifier of the Call.
        explode: false
        in: path
        name: CallSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The Processing State of this Call Summary. One of `complete`,\
          \ `partial` or `all`."
        explode: true
        in: query
        name: ProcessingState
        required: false
        schema:
          $ref: '#/components/schemas/summary_enum_processing_state'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insights.v1.call.summary'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1CallSummary
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.insights_v1_call_summary_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      className: call_summary
      defaultOutputProperties:
      - call_type
      - call_state
      - processing_state
      - duration
      parent: "/Voice/{Sid}"
      pathType: instance
  /v1/Voice/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: fetch_call
      parameters:
      - description: ""
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insights.v1.call'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - InsightsV1Call
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.insights_v1_call_controller
    servers:
    - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties: []
      dependentProperties:
        annotation:
          mapping:
            call_sid: sid
          resource_url: "/v1/Voice/{call_sid}/Annotation"
        events:
          mapping:
            call_sid: sid
          resource_url: "/v1/Voice/{call_sid}/Events"
        metrics:
          mapping:
            call_sid: sid
          resource_url: "/v1/Voice/{call_sid}/Metrics"
        summary:
          mapping:
            call_sid: sid
          resource_url: "/v1/Voice/{call_sid}/Summary"
      mountName: calls
      pathType: instance
components:
  schemas:
    annotation_enum_answered_by:
      enum:
      - unknown_answered_by
      - human
      - machine
      title: annotation_enum_answered_by
      type: string
    annotation_enum_connectivity_issue:
      enum:
      - unknown_connectivity_issue
      - no_connectivity_issue
      - invalid_number
      - caller_id
      - dropped_call
      - number_reachability
      title: annotation_enum_connectivity_issue
      type: string
    annotation_enum_quality_issues:
      enum:
      - unknown_quality_issue
      - no_quality_issue
      - low_volume
      - choppy_robotic
      - echo
      - dtmf
      - latency
      - owa
      - static_noise
      type: string
    call_summaries_enum_answered_by:
      enum:
      - unknown
      - machine_start
      - machine_end_beep
      - machine_end_silence
      - machine_end_other
      - human
      - fax
      title: call_summaries_enum_answered_by
      type: string
    call_summaries_enum_call_direction:
      enum:
      - outbound_api
      - outbound_dial
      - inbound
      - trunking_originating
      - trunking_terminating
      type: string
    call_summaries_enum_call_state:
      enum:
      - ringing
      - completed
      - busy
      - fail
      - noanswer
      - canceled
      - answered
      - undialed
      title: call_summaries_enum_call_state
      type: string
    call_summaries_enum_call_type:
      enum:
      - carrier
      - sip
      - trunking
      - client
      title: call_summaries_enum_call_type
      type: string
    call_summaries_enum_processing_state:
      enum:
      - complete
      - partial
      title: call_summaries_enum_processing_state
      type: string
    call_summaries_enum_processing_state_request:
      enum:
      - completed
      - started
      - partial
      - all
      title: call_summaries_enum_processing_state_request
      type: string
    call_summaries_enum_sort_by:
      enum:
      - start_time
      - end_time
      title: call_summaries_enum_sort_by
      type: string
    conference_enum_conference_end_reason:
      enum:
      - last_participant_left
      - conference_ended_via_api
      - participant_with_end_conference_on_exit_left
      - last_participant_kicked
      - participant_with_end_conference_on_exit_kicked
      title: conference_enum_conference_end_reason
      type: string
    conference_enum_conference_status:
      enum:
      - in_progress
      - not_started
      - completed
      - summary_timeout
      title: conference_enum_conference_status
      type: string
    conference_enum_processing_state:
      enum:
      - complete
      - in_progress
      - timeout
      title: conference_enum_processing_state
      type: string
    conference_enum_region:
      enum:
      - us1
      - au1
      - br1
      - ie1
      - jp1
      - sg1
      - de1
      title: conference_enum_region
      type: string
    conference_enum_tag:
      enum:
      - invalid_requested_region
      - duplicate_identity
      - start_failure
      - region_configuration_issues
      - quality_warnings
      - participant_behavior_issues
      - high_packet_loss
      - high_jitter
      - high_latency
      - low_mos
      - detected_silence
      title: conference_enum_tag
      type: string
    conference_participant_enum_call_direction:
      enum:
      - inbound
      - outbound
      title: conference_participant_enum_call_direction
      type: string
    conference_participant_enum_call_status:
      enum:
      - answered
      - completed
      - busy
      - fail
      - noanswer
      - ringing
      - canceled
      title: conference_participant_enum_call_status
      type: string
    conference_participant_enum_call_type:
      enum:
      - carrier
      - client
      - sip
      title: conference_participant_enum_call_type
      type: string
    conference_participant_enum_jitter_buffer_size:
      enum:
      - large
      - small
      - medium
      - "false"
      title: conference_participant_enum_jitter_buffer_size
      type: string
    conference_participant_enum_processing_state:
      enum:
      - complete
      - in_progress
      - timeout
      title: conference_participant_enum_processing_state
      type: string
    conference_participant_enum_region:
      enum:
      - us1
      - us2
      - au1
      - br1
      - ie1
      - jp1
      - sg1
      - de1
      title: conference_participant_enum_region
      type: string
    event_enum_level:
      enum:
      - UNKNOWN
      - DEBUG
      - INFO
      - WARNING
      - ERROR
      title: event_enum_level
      type: string
    event_enum_twilio_edge:
      enum:
      - unknown_edge
      - carrier_edge
      - sip_edge
      - sdk_edge
      - client_edge
      title: event_enum_twilio_edge
      type: string
    insights.v1.account_settings:
      example:
        account_sid: account_sid
        advanced_features: true
        voice_trace: true
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        advanced_features:
          description: A boolean flag indicating whether Advanced Features for Voice
            Insights are enabled.
          nullable: true
          title: advanced_features
          type: boolean
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
        voice_trace:
          description: A boolean flag indicating whether Voice Trace is enabled.
          nullable: true
          title: voice_trace
          type: boolean
      title: insights.v1.account_settings
      type: object
    insights.v1.call:
      example:
        links: "{}"
        url: https://openapi-generator.tech
        sid: sid
      properties:
        links:
          format: uri-map
          nullable: true
          title: links
          type: object
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CA[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: insights.v1.call
      type: object
    insights.v1.call.annotation:
      example:
        quality_issues:
        - quality_issues
        - quality_issues
        answered_by: answered_by
        call_score: 0
        call_sid: call_sid
        account_sid: account_sid
        comment: comment
        spam: true
        incident: incident
        connectivity_issue: connectivity_issue
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        answered_by:
          $ref: '#/components/schemas/annotation_enum_answered_by'
        call_score:
          description: "Specifies the Call Score, if available. This is of type integer.\
            \ Use a range of 1-5 to indicate the call experience score, with the following\
            \ mapping as a reference for rating the call [5: Excellent, 4: Good, 3\
            \ : Fair, 2 : Poor, 1: Bad]."
          nullable: true
          title: call_score
          type: integer
        call_sid:
          description: The unique SID identifier of the Call.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CA[0-9a-fA-F]{32}$"
          title: call_sid
          type: string
        comment:
          description: "Specifies any comments pertaining to the call. Twilio does\
            \ not treat this field as PII, so no PII should be included in comments."
          nullable: true
          title: comment
          type: string
        connectivity_issue:
          $ref: '#/components/schemas/annotation_enum_connectivity_issue'
        incident:
          description: "Incident or support ticket associated with this call. The\
            \ `incident` property is of type string with a maximum character limit\
            \ of 100. Twilio does not treat this field as PII, so no PII should be\
            \ included in `incident`."
          nullable: true
          title: incident
          type: string
        quality_issues:
          description: "Specifies if the call had any subjective quality issues. Possible\
            \ values are one or more of `no_quality_issue`, `low_volume`, `choppy_robotic`,\
            \ `echo`, `dtmf`, `latency`, `owa`, or `static_noise`."
          items:
            type: string
          nullable: true
          title: quality_issues
          type: array
        spam:
          description: "Specifies if the call was a spam call. Use this to provide\
            \ feedback on whether calls placed from your account were marked as spam,\
            \ or if inbound calls received by your account were unwanted spam. Is\
            \ of type Boolean: true, false. Use true if the call was a spam call."
          nullable: true
          title: spam
          type: boolean
        url:
          format: uri
          nullable: true
          title: url
          type: string
      title: insights.v1.call.annotation
      type: object
    insights.v1.call.event:
      example:
        edge: edge
        sdk_edge: ""
        level: level
        call_sid: call_sid
        name: name
        account_sid: account_sid
        sip_edge: ""
        carrier_edge: ""
        client_edge: ""
        group: group
        timestamp: timestamp
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        call_sid:
          description: The unique SID identifier of the Call.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CA[0-9a-fA-F]{32}$"
          title: call_sid
          type: string
        carrier_edge:
          description: Represents the connection between Twilio and our immediate
            carrier partners. The events here describe the call lifecycle as reported
            by Twilio's carrier media gateways.
          nullable: true
          title: carrier_edge
        client_edge:
          description: Represents the Twilio media gateway for Client calls. The events
            here describe the call lifecycle as reported by Twilio's Voice SDK media
            gateways.
          nullable: true
          title: client_edge
        edge:
          $ref: '#/components/schemas/event_enum_twilio_edge'
        group:
          description: Event group.
          nullable: true
          title: group
          type: string
        level:
          $ref: '#/components/schemas/event_enum_level'
        name:
          description: Event name.
          nullable: true
          title: name
          type: string
        sdk_edge:
          description: "Represents the Voice SDK running locally in the browser or\
            \ in the Android/iOS application. The events here are emitted by the Voice\
            \ SDK in response to certain call progress events, network changes, or\
            \ call quality conditions."
          nullable: true
          title: sdk_edge
        sip_edge:
          description: Represents the Twilio media gateway for SIP interface and SIP
            trunking calls. The events here describe the call lifecycle as reported
            by Twilio's public media gateways.
          nullable: true
          title: sip_edge
        timestamp:
          description: Event time.
          nullable: true
          title: timestamp
          type: string
      title: insights.v1.call.event
      type: object
    insights.v1.call.metric:
      example:
        edge: edge
        sdk_edge: ""
        call_sid: call_sid
        account_sid: account_sid
        sip_edge: ""
        carrier_edge: ""
        client_edge: ""
        direction: direction
        timestamp: timestamp
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        call_sid:
          description: The unique SID identifier of the Call.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CA[0-9a-fA-F]{32}$"
          title: call_sid
          type: string
        carrier_edge:
          description: Contains metrics and properties for the Twilio media gateway
            of a PSTN call.
          nullable: true
          title: carrier_edge
        client_edge:
          description: Contains metrics and properties for the Twilio media gateway
            of a Client call.
          nullable: true
          title: client_edge
        direction:
          $ref: '#/components/schemas/metric_enum_stream_direction'
        edge:
          $ref: '#/components/schemas/metric_enum_twilio_edge'
        sdk_edge:
          description: Contains metrics and properties for the SDK sensor library
            for Client calls.
          nullable: true
          title: sdk_edge
        sip_edge:
          description: Contains metrics and properties for the Twilio media gateway
            of a SIP Interface or Trunking call.
          nullable: true
          title: sip_edge
        timestamp:
          description: Timestamp of metric sample. Samples are taken every 10 seconds
            and contain the metrics for the previous 10 seconds.
          nullable: true
          title: timestamp
          type: string
      title: insights.v1.call.metric
      type: object
    insights.v1.call.summary:
      example:
        annotation: ""
        trust: ""
        created_time: 2000-01-23T04:56:07.000+00:00
        answered_by: answered_by
        end_time: 2000-01-23T04:56:07.000+00:00
        call_state: call_state
        processing_state: processing_state
        url: https://openapi-generator.tech
        carrier_edge: ""
        client_edge: ""
        tags:
        - tags
        - tags
        duration: 6
        start_time: 2000-01-23T04:56:07.000+00:00
        connect_duration: 0
        sdk_edge: ""
        call_sid: call_sid
        account_sid: account_sid
        attributes: ""
        from: ""
        to: ""
        sip_edge: ""
        call_type: call_type
        properties: ""
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        annotation:
          description: Programmatically labeled annotations for the Call. Developers
            can update the Call Summary records with Annotation during or after a
            Call. Annotations can be updated as long as the Call Summary record is
            addressable via the API.
          nullable: true
          title: annotation
        answered_by:
          $ref: '#/components/schemas/summary_enum_answered_by'
        attributes:
          description: Attributes capturing call-flow-specific details.
          nullable: true
          title: attributes
        call_sid:
          description: The unique SID identifier of the Call.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CA[0-9a-fA-F]{32}$"
          title: call_sid
          type: string
        call_state:
          $ref: '#/components/schemas/summary_enum_call_state'
        call_type:
          $ref: '#/components/schemas/summary_enum_call_type'
        carrier_edge:
          description: Contains metrics and properties for the Twilio media gateway
            of a PSTN call.
          nullable: true
          title: carrier_edge
        client_edge:
          description: Contains metrics and properties for the Twilio media gateway
            of a Client call.
          nullable: true
          title: client_edge
        connect_duration:
          description: Duration between when the call was answered and when it ended
          nullable: true
          title: connect_duration
          type: integer
        created_time:
          description: "The time at which the Call was created, given in ISO 8601\
            \ format. Can be different from `start_time` in the event of queueing\
            \ due to CPS"
          format: date-time
          nullable: true
          title: created_time
          type: string
        duration:
          description: Duration between when the call was initiated and the call was
            ended
          nullable: true
          title: duration
          type: integer
        end_time:
          description: "The time at which the Call was ended, given in ISO 8601 format."
          format: date-time
          nullable: true
          title: end_time
          type: string
        from:
          description: The calling party.
          nullable: true
          title: from
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        processing_state:
          $ref: '#/components/schemas/summary_enum_processing_state'
        properties:
          description: Contains edge-agnostic call-level details.
          nullable: true
          title: properties
        sdk_edge:
          description: Contains metrics and properties for the SDK sensor library
            for Client calls.
          nullable: true
          title: sdk_edge
        sip_edge:
          description: Contains metrics and properties for the Twilio media gateway
            of a SIP Interface or Trunking call.
          nullable: true
          title: sip_edge
        start_time:
          description: "The time at which the Call was started, given in ISO 8601\
            \ format."
          format: date-time
          nullable: true
          title: start_time
          type: string
        tags:
          description: Tags applied to calls by Voice Insights analysis indicating
            a condition that could result in subjective degradation of the call quality.
          items:
            type: string
          nullable: true
          title: tags
          type: array
        to:
          description: The called party.
          nullable: true
          title: to
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        trust:
          description: Contains trusted communications details including Branded Call
            and verified caller ID.
          nullable: true
          title: trust
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: insights.v1.call.summary
      type: object
    insights.v1.call_summaries:
      example:
        annotation: ""
        trust: ""
        created_time: 2000-01-23T04:56:07.000+00:00
        answered_by: answered_by
        end_time: 2000-01-23T04:56:07.000+00:00
        call_state: call_state
        processing_state: processing_state
        url: https://openapi-generator.tech
        carrier_edge: ""
        client_edge: ""
        tags:
        - tags
        - tags
        duration: 6
        start_time: 2000-01-23T04:56:07.000+00:00
        connect_duration: 0
        sdk_edge: ""
        call_sid: call_sid
        account_sid: account_sid
        attributes: ""
        from: ""
        to: ""
        sip_edge: ""
        call_type: call_type
        properties: ""
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        annotation:
          nullable: true
          title: annotation
        answered_by:
          $ref: '#/components/schemas/call_summaries_enum_answered_by'
        attributes:
          description: Attributes capturing call-flow-specific details.
          nullable: true
          title: attributes
        call_sid:
          description: The unique SID identifier of the Call.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CA[0-9a-fA-F]{32}$"
          title: call_sid
          type: string
        call_state:
          $ref: '#/components/schemas/call_summaries_enum_call_state'
        call_type:
          $ref: '#/components/schemas/call_summaries_enum_call_type'
        carrier_edge:
          description: Contains metrics and properties for the Twilio media gateway
            of a PSTN call.
          nullable: true
          title: carrier_edge
        client_edge:
          description: Contains metrics and properties for the Twilio media gateway
            of a Client call.
          nullable: true
          title: client_edge
        connect_duration:
          description: Duration between when the call was answered and when it ended
          nullable: true
          title: connect_duration
          type: integer
        created_time:
          description: "The time at which the Call was created, given in ISO 8601\
            \ format. Can be different from `start_time` in the event of queueing\
            \ due to CPS"
          format: date-time
          nullable: true
          title: created_time
          type: string
        duration:
          description: Duration between when the call was initiated and the call was
            ended
          nullable: true
          title: duration
          type: integer
        end_time:
          description: "The time at which the Call was ended, given in ISO 8601 format."
          format: date-time
          nullable: true
          title: end_time
          type: string
        from:
          description: The calling party.
          nullable: true
          title: from
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        processing_state:
          $ref: '#/components/schemas/call_summaries_enum_processing_state'
        properties:
          description: Contains edge-agnostic call-level details.
          nullable: true
          title: properties
        sdk_edge:
          description: Contains metrics and properties for the SDK sensor library
            for Client calls.
          nullable: true
          title: sdk_edge
        sip_edge:
          description: Contains metrics and properties for the Twilio media gateway
            of a SIP Interface or Trunking call.
          nullable: true
          title: sip_edge
        start_time:
          description: "The time at which the Call was started, given in ISO 8601\
            \ format."
          format: date-time
          nullable: true
          title: start_time
          type: string
        tags:
          description: Tags applied to calls by Voice Insights analysis indicating
            a condition that could result in subjective degradation of the call quality.
          items:
            type: string
          nullable: true
          title: tags
          type: array
        to:
          description: The called party.
          nullable: true
          title: to
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        trust:
          description: Contains trusted communications details including Branded Call
            and verified caller ID.
          nullable: true
          title: trust
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: insights.v1.call_summaries
      type: object
    insights.v1.conference:
      example:
        duration_seconds: 6
        friendly_name: friendly_name
        create_time: 2000-01-23T04:56:07.000+00:00
        end_reason: end_reason
        recording_enabled: true
        conference_sid: conference_sid
        tag_info: ""
        connect_duration_seconds: 0
        end_time: 2000-01-23T04:56:07.000+00:00
        unique_participants: 5
        processing_state: processing_state
        url: https://openapi-generator.tech
        max_participants: 5
        tags:
        - tags
        - tags
        mixer_region: mixer_region
        start_time: 2000-01-23T04:56:07.000+00:00
        mixer_region_requested: mixer_region_requested
        max_concurrent_participants: 1
        detected_issues: ""
        account_sid: account_sid
        ended_by: ended_by
        links: "{}"
        status: status
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        conference_sid:
          description: The unique SID identifier of the Conference.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CF[0-9a-fA-F]{32}$"
          title: conference_sid
          type: string
        connect_duration_seconds:
          description: Duration of the between conference start event and conference
            end event in seconds.
          nullable: true
          title: connect_duration_seconds
          type: integer
        create_time:
          description: Conference creation date and time in ISO 8601 format.
          format: date-time
          nullable: true
          title: create_time
          type: string
        detected_issues:
          description: Potential issues detected by Twilio during the conference.
          nullable: true
          title: detected_issues
        duration_seconds:
          description: Conference duration in seconds.
          nullable: true
          title: duration_seconds
          type: integer
        end_reason:
          $ref: '#/components/schemas/conference_enum_conference_end_reason'
        end_time:
          description: Conference end date and time in ISO 8601 format.
          format: date-time
          nullable: true
          title: end_time
          type: string
        ended_by:
          description: Call SID of the participant whose actions ended the conference.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CA[0-9a-fA-F]{32}$"
          title: ended_by
          type: string
        friendly_name:
          description: "Custom label for the conference resource, up to 64 characters."
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        links:
          description: Contains a dictionary of URL links to nested resources of this
            Conference.
          format: uri-map
          nullable: true
          title: links
          type: object
        max_concurrent_participants:
          description: Actual maximum number of concurrent participants in the conference.
          nullable: true
          title: max_concurrent_participants
          type: integer
        max_participants:
          description: Maximum number of concurrent participants as specified by the
            configuration.
          nullable: true
          title: max_participants
          type: integer
        mixer_region:
          $ref: '#/components/schemas/conference_enum_region'
        mixer_region_requested:
          $ref: '#/components/schemas/conference_enum_region'
        processing_state:
          $ref: '#/components/schemas/conference_enum_processing_state'
        recording_enabled:
          description: Boolean. Indicates whether recording was enabled at the conference
            mixer.
          nullable: true
          title: recording_enabled
          type: boolean
        start_time:
          description: "Timestamp in ISO 8601 format when the conference started.\
            \ Conferences do not start until at least two participants join, at least\
            \ one of whom has startConferenceOnEnter=true."
          format: date-time
          nullable: true
          title: start_time
          type: string
        status:
          $ref: '#/components/schemas/conference_enum_conference_status'
        tag_info:
          description: Object. Contains details about conference tags including severity.
          nullable: true
          title: tag_info
        tags:
          description: Tags for detected conference conditions and participant behaviors
            which may be of interest.
          items:
            $ref: '#/components/schemas/conference_enum_tag'
          nullable: true
          title: tags
          type: array
        unique_participants:
          description: Unique conference participants based on caller ID.
          nullable: true
          title: unique_participants
          type: integer
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: insights.v1.conference
      type: object
    insights.v1.conference.conference_participant:
      example:
        conference_region: conference_region
        conference_sid: conference_sid
        jitter_buffer_size: jitter_buffer_size
        is_coach: true
        join_time: 2000-01-23T04:56:07.000+00:00
        outbound_time_in_queue: 1
        call_status: call_status
        call_sid: call_sid
        account_sid: account_sid
        from: from
        participant_region: participant_region
        call_type: call_type
        events: ""
        duration_seconds: 0
        leave_time: 2000-01-23T04:56:07.000+00:00
        coached_participants:
        - coached_participants
        - coached_participants
        call_direction: call_direction
        participant_sid: participant_sid
        label: label
        is_moderator: true
        processing_state: processing_state
        url: https://openapi-generator.tech
        country_code: country_code
        outbound_queue_length: 6
        metrics: ""
        to: to
        properties: ""
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        call_direction:
          $ref: '#/components/schemas/conference_participant_enum_call_direction'
        call_sid:
          description: Unique SID identifier of the call that generated the Participant
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CA[0-9a-fA-F]{32}$"
          title: call_sid
          type: string
        call_status:
          $ref: '#/components/schemas/conference_participant_enum_call_status'
        call_type:
          $ref: '#/components/schemas/conference_participant_enum_call_type'
        coached_participants:
          description: Call SIDs coached by this participant.
          items:
            type: string
          nullable: true
          title: coached_participants
          type: array
        conference_region:
          $ref: '#/components/schemas/conference_participant_enum_region'
        conference_sid:
          description: The unique SID identifier of the Conference.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CF[0-9a-fA-F]{32}$"
          title: conference_sid
          type: string
        country_code:
          description: ISO alpha-2 country code of the participant based on caller
            ID or called number.
          nullable: true
          title: country_code
          type: string
        duration_seconds:
          description: Participant durations in seconds.
          nullable: true
          title: duration_seconds
          type: integer
        events:
          description: Object containing information of actions taken by participants.
            Contains a dictionary of URL links to nested resources of this Conference
            Participant.
          nullable: true
          title: events
        from:
          description: Caller ID of the calling party.
          nullable: true
          title: from
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        is_coach:
          description: Boolean. Indicated whether participant was a coach.
          nullable: true
          title: is_coach
          type: boolean
        is_moderator:
          description: Boolean. Indicates whether participant had startConferenceOnEnter=true
            or endConferenceOnExit=true.
          nullable: true
          title: is_moderator
          type: boolean
        jitter_buffer_size:
          $ref: '#/components/schemas/conference_participant_enum_jitter_buffer_size'
        join_time:
          description: ISO 8601 timestamp of participant join event.
          format: date-time
          nullable: true
          title: join_time
          type: string
        label:
          description: The user-specified label of this participant.
          nullable: true
          title: label
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        leave_time:
          description: ISO 8601 timestamp of participant leave event.
          format: date-time
          nullable: true
          title: leave_time
          type: string
        metrics:
          description: Object. Contains participant call quality metrics.
          nullable: true
          title: metrics
        outbound_queue_length:
          description: Add Participant API only. Estimated time in queue at call creation.
          nullable: true
          title: outbound_queue_length
          type: integer
        outbound_time_in_queue:
          description: Add Participant API only. Actual time in queue in seconds.
          nullable: true
          title: outbound_time_in_queue
          type: integer
        participant_region:
          $ref: '#/components/schemas/conference_participant_enum_region'
        participant_sid:
          description: SID for this participant.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CP[0-9a-fA-F]{32}$"
          title: participant_sid
          type: string
        processing_state:
          $ref: '#/components/schemas/conference_participant_enum_processing_state'
        properties:
          description: Participant properties and metadata.
          nullable: true
          title: properties
        to:
          description: Called party.
          nullable: true
          title: to
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: insights.v1.conference.conference_participant
      type: object
    insights.v1.video_room_summary:
      example:
        recording_enabled: true
        status_callback_method: HEAD
        media_region: media_region
        unique_participants: 9
        total_participant_duration_sec: 5
        concurrent_participants: 0
        duration_sec: 6
        total_recording_duration_sec: 2
        max_participants: 5
        created_method: created_method
        account_sid: account_sid
        links: "{}"
        room_sid: room_sid
        create_time: 2000-01-23T04:56:07.000+00:00
        end_reason: end_reason
        unique_participant_identities: 7
        codecs:
        - codecs
        - codecs
        end_time: 2000-01-23T04:56:07.000+00:00
        status_callback: https://openapi-generator.tech
        processing_state: processing_state
        url: https://openapi-generator.tech
        room_status: room_status
        room_name: room_name
        max_concurrent_participants: 1
        edge_location: edge_location
        room_type: room_type
      properties:
        account_sid:
          description: Account SID associated with this room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        codecs:
          description: "Codecs used by participants in the room. Can be `VP8`, `H264`,\
            \ or `VP9`."
          items:
            $ref: '#/components/schemas/video_room_summary_enum_codec'
          nullable: true
          title: codecs
          type: array
        concurrent_participants:
          description: Actual number of concurrent participants.
          nullable: true
          title: concurrent_participants
          type: integer
        create_time:
          description: Creation time of the room.
          format: date-time
          nullable: true
          title: create_time
          type: string
        created_method:
          $ref: '#/components/schemas/video_room_summary_enum_created_method'
        duration_sec:
          description: Total room duration from create time to end time.
          format: int64
          nullable: true
          title: duration_sec
          type: integer
        edge_location:
          $ref: '#/components/schemas/video_room_summary_enum_edge_location'
        end_reason:
          $ref: '#/components/schemas/video_room_summary_enum_end_reason'
        end_time:
          description: End time for the room.
          format: date-time
          nullable: true
          title: end_time
          type: string
        links:
          description: Room subresources.
          format: uri-map
          nullable: true
          title: links
          type: object
        max_concurrent_participants:
          description: Maximum number of participants allowed in the room at the same
            time allowed by the application settings.
          nullable: true
          title: max_concurrent_participants
          type: integer
        max_participants:
          description: Max number of total participants allowed by the application
            settings.
          nullable: true
          title: max_participants
          type: integer
        media_region:
          $ref: '#/components/schemas/video_room_summary_enum_twilio_realm'
        processing_state:
          $ref: '#/components/schemas/video_room_summary_enum_processing_state'
        recording_enabled:
          description: Boolean indicating if recording is enabled for the room.
          nullable: true
          title: recording_enabled
          type: boolean
        room_name:
          description: Room friendly name.
          nullable: true
          title: room_name
          type: string
        room_sid:
          description: Unique identifier for the room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RM[0-9a-fA-F]{32}$"
          title: room_sid
          type: string
        room_status:
          $ref: '#/components/schemas/video_room_summary_enum_room_status'
        room_type:
          $ref: '#/components/schemas/video_room_summary_enum_room_type'
        status_callback:
          description: Webhook provided for status callbacks.
          format: uri
          nullable: true
          title: status_callback
          type: string
        status_callback_method:
          description: HTTP method provided for status callback URL.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          title: status_callback_method
          type: string
        total_participant_duration_sec:
          description: Combined amount of participant time in the room.
          format: int64
          nullable: true
          title: total_participant_duration_sec
          type: integer
        total_recording_duration_sec:
          description: Combined amount of recorded seconds for participants in the
            room.
          format: int64
          nullable: true
          title: total_recording_duration_sec
          type: integer
        unique_participant_identities:
          description: Unique number of participant identities.
          nullable: true
          title: unique_participant_identities
          type: integer
        unique_participants:
          description: Number of participants. May include duplicate identities for
            participants who left and rejoined.
          nullable: true
          title: unique_participants
          type: integer
        url:
          description: URL for the room resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: insights.v1.video_room_summary
      type: object
    insights.v1.video_room_summary.video_participant_summary:
      example:
        leave_time: 2000-01-23T04:56:07.000+00:00
        end_reason: end_reason
        participant_identity: participant_identity
        media_region: media_region
        codecs:
        - codecs
        - codecs
        participant_sid: participant_sid
        duration_sec: 0
        join_time: 2000-01-23T04:56:07.000+00:00
        url: https://openapi-generator.tech
        error_code_url: error_code_url
        account_sid: account_sid
        publisher_info: ""
        error_code: 6
        room_sid: room_sid
        properties: ""
        edge_location: edge_location
        status: status
      properties:
        account_sid:
          description: Account SID associated with the room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        codecs:
          description: "Codecs detected from the participant. Can be `VP8`, `H264`,\
            \ or `VP9`."
          items:
            $ref: '#/components/schemas/video_participant_summary_enum_codec'
          nullable: true
          title: codecs
          type: array
        duration_sec:
          description: Amount of time in seconds the participant was in the room.
          format: int64
          nullable: true
          title: duration_sec
          type: integer
        edge_location:
          $ref: '#/components/schemas/video_participant_summary_enum_edge_location'
        end_reason:
          description: "Reason the participant left the room. See [the list of possible\
            \ values here](https://www.twilio.com/docs/video/troubleshooting/video-log-analyzer-api#end_reason)."
          nullable: true
          title: end_reason
          type: string
        error_code:
          description: Errors encountered by the participant.
          nullable: true
          title: error_code
          type: integer
        error_code_url:
          description: Twilio error code dictionary link.
          nullable: true
          title: error_code_url
          type: string
        join_time:
          description: When the participant joined the room.
          format: date-time
          nullable: true
          title: join_time
          type: string
        leave_time:
          description: When the participant left the room.
          format: date-time
          nullable: true
          title: leave_time
          type: string
        media_region:
          $ref: '#/components/schemas/video_participant_summary_enum_twilio_realm'
        participant_identity:
          description: The application-defined string that uniquely identifies the
            participant within a Room.
          nullable: true
          title: participant_identity
          type: string
        participant_sid:
          description: Unique identifier for the participant.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^PA[0-9a-fA-F]{32}$"
          title: participant_sid
          type: string
        properties:
          description: "Object containing information about the participant's data\
            \ from the room. See [below](https://www.twilio.com/docs/video/troubleshooting/video-log-analyzer-api#properties)\
            \ for more information."
          nullable: true
          title: properties
        publisher_info:
          description: "Object containing information about the SDK name and version.\
            \ See [below](https://www.twilio.com/docs/video/troubleshooting/video-log-analyzer-api#publisher_info)\
            \ for more information."
          nullable: true
          title: publisher_info
        room_sid:
          description: Unique identifier for the room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RM[0-9a-fA-F]{32}$"
          title: room_sid
          type: string
        status:
          $ref: '#/components/schemas/video_participant_summary_enum_room_status'
        url:
          description: URL of the participant resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: insights.v1.video_room_summary.video_participant_summary
      type: object
    metric_enum_stream_direction:
      enum:
      - unknown
      - inbound
      - outbound
      - both
      title: metric_enum_stream_direction
      type: string
    metric_enum_twilio_edge:
      enum:
      - unknown_edge
      - carrier_edge
      - sip_edge
      - sdk_edge
      - client_edge
      title: metric_enum_twilio_edge
      type: string
    summary_enum_answered_by:
      enum:
      - unknown
      - machine_start
      - machine_end_beep
      - machine_end_silence
      - machine_end_other
      - human
      - fax
      title: summary_enum_answered_by
      type: string
    summary_enum_call_state:
      enum:
      - ringing
      - completed
      - busy
      - fail
      - noanswer
      - canceled
      - answered
      - undialed
      title: summary_enum_call_state
      type: string
    summary_enum_call_type:
      enum:
      - carrier
      - sip
      - trunking
      - client
      title: summary_enum_call_type
      type: string
    summary_enum_processing_state:
      enum:
      - complete
      - partial
      title: summary_enum_processing_state
      type: string
    video_participant_summary_enum_codec:
      enum:
      - VP8
      - H264
      - VP9
      title: video_participant_summary_enum_codec
      type: string
    video_participant_summary_enum_edge_location:
      enum:
      - ashburn
      - dublin
      - frankfurt
      - singapore
      - sydney
      - sao_paulo
      - roaming
      - umatilla
      - tokyo
      title: video_participant_summary_enum_edge_location
      type: string
    video_participant_summary_enum_room_status:
      enum:
      - in_progress
      - completed
      title: video_participant_summary_enum_room_status
      type: string
    video_participant_summary_enum_twilio_realm:
      enum:
      - us1
      - us2
      - au1
      - br1
      - ie1
      - jp1
      - sg1
      - in1
      - de1
      - gll
      title: video_participant_summary_enum_twilio_realm
      type: string
    video_room_summary_enum_codec:
      enum:
      - VP8
      - H264
      - VP9
      title: video_room_summary_enum_codec
      type: string
    video_room_summary_enum_created_method:
      enum:
      - sdk
      - ad_hoc
      - api
      title: video_room_summary_enum_created_method
      type: string
    video_room_summary_enum_edge_location:
      enum:
      - ashburn
      - dublin
      - frankfurt
      - singapore
      - sydney
      - sao_paulo
      - roaming
      - umatilla
      - tokyo
      title: video_room_summary_enum_edge_location
      type: string
    video_room_summary_enum_end_reason:
      enum:
      - room_ended_via_api
      - timeout
      title: video_room_summary_enum_end_reason
      type: string
    video_room_summary_enum_processing_state:
      enum:
      - complete
      - in_progress
      title: video_room_summary_enum_processing_state
      type: string
    video_room_summary_enum_room_status:
      enum:
      - in_progress
      - completed
      title: video_room_summary_enum_room_status
      type: string
    video_room_summary_enum_room_type:
      enum:
      - go
      - peer_to_peer
      - group
      - group_small
      title: video_room_summary_enum_room_type
      type: string
    video_room_summary_enum_twilio_realm:
      enum:
      - us1
      - us2
      - au1
      - br1
      - ie1
      - jp1
      - sg1
      - in1
      - de1
      - gll
      title: video_room_summary_enum_twilio_realm
      type: string
    ListConferenceResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 2
        key: key
        url: https://openapi-generator.tech
        page_size: 7
      properties:
        first_page_url:
          format: uri
          title: first_page_url
          type: string
        key:
          title: key
          type: string
        next_page_url:
          format: uri
          nullable: true
          title: next_page_url
          type: string
        page:
          title: page
          type: integer
        page_size:
          title: page_size
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          title: previous_page_url
          type: string
        url:
          format: uri
          title: url
          type: string
      title: ListConferenceResponse_meta
      type: object
    ListConferenceResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 2
          key: key
          url: https://openapi-generator.tech
          page_size: 7
        conferences:
        - duration_seconds: 6
          friendly_name: friendly_name
          create_time: 2000-01-23T04:56:07.000+00:00
          end_reason: end_reason
          recording_enabled: true
          conference_sid: conference_sid
          tag_info: ""
          connect_duration_seconds: 0
          end_time: 2000-01-23T04:56:07.000+00:00
          unique_participants: 5
          processing_state: processing_state
          url: https://openapi-generator.tech
          max_participants: 5
          tags:
          - tags
          - tags
          mixer_region: mixer_region
          start_time: 2000-01-23T04:56:07.000+00:00
          mixer_region_requested: mixer_region_requested
          max_concurrent_participants: 1
          detected_issues: ""
          account_sid: account_sid
          ended_by: ended_by
          links: "{}"
          status: status
        - duration_seconds: 6
          friendly_name: friendly_name
          create_time: 2000-01-23T04:56:07.000+00:00
          end_reason: end_reason
          recording_enabled: true
          conference_sid: conference_sid
          tag_info: ""
          connect_duration_seconds: 0
          end_time: 2000-01-23T04:56:07.000+00:00
          unique_participants: 5
          processing_state: processing_state
          url: https://openapi-generator.tech
          max_participants: 5
          tags:
          - tags
          - tags
          mixer_region: mixer_region
          start_time: 2000-01-23T04:56:07.000+00:00
          mixer_region_requested: mixer_region_requested
          max_concurrent_participants: 1
          detected_issues: ""
          account_sid: account_sid
          ended_by: ended_by
          links: "{}"
          status: status
      properties:
        conferences:
          items:
            $ref: '#/components/schemas/insights.v1.conference'
          title: conferences
          type: array
        meta:
          $ref: '#/components/schemas/ListConferenceResponse_meta'
      title: ListConferenceResponse
      type: object
    ListConferenceParticipantResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 2
          key: key
          url: https://openapi-generator.tech
          page_size: 7
        participants:
        - conference_region: conference_region
          conference_sid: conference_sid
          jitter_buffer_size: jitter_buffer_size
          is_coach: true
          join_time: 2000-01-23T04:56:07.000+00:00
          outbound_time_in_queue: 1
          call_status: call_status
          call_sid: call_sid
          account_sid: account_sid
          from: from
          participant_region: participant_region
          call_type: call_type
          events: ""
          duration_seconds: 0
          leave_time: 2000-01-23T04:56:07.000+00:00
          coached_participants:
          - coached_participants
          - coached_participants
          call_direction: call_direction
          participant_sid: participant_sid
          label: label
          is_moderator: true
          processing_state: processing_state
          url: https://openapi-generator.tech
          country_code: country_code
          outbound_queue_length: 6
          metrics: ""
          to: to
          properties: ""
        - conference_region: conference_region
          conference_sid: conference_sid
          jitter_buffer_size: jitter_buffer_size
          is_coach: true
          join_time: 2000-01-23T04:56:07.000+00:00
          outbound_time_in_queue: 1
          call_status: call_status
          call_sid: call_sid
          account_sid: account_sid
          from: from
          participant_region: participant_region
          call_type: call_type
          events: ""
          duration_seconds: 0
          leave_time: 2000-01-23T04:56:07.000+00:00
          coached_participants:
          - coached_participants
          - coached_participants
          call_direction: call_direction
          participant_sid: participant_sid
          label: label
          is_moderator: true
          processing_state: processing_state
          url: https://openapi-generator.tech
          country_code: country_code
          outbound_queue_length: 6
          metrics: ""
          to: to
          properties: ""
      properties:
        meta:
          $ref: '#/components/schemas/ListConferenceResponse_meta'
        participants:
          items:
            $ref: '#/components/schemas/insights.v1.conference.conference_participant'
          title: participants
          type: array
      title: ListConferenceParticipantResponse
      type: object
    ListVideoRoomSummaryResponse:
      example:
        rooms:
        - recording_enabled: true
          status_callback_method: HEAD
          media_region: media_region
          unique_participants: 9
          total_participant_duration_sec: 5
          concurrent_participants: 0
          duration_sec: 6
          total_recording_duration_sec: 2
          max_participants: 5
          created_method: created_method
          account_sid: account_sid
          links: "{}"
          room_sid: room_sid
          create_time: 2000-01-23T04:56:07.000+00:00
          end_reason: end_reason
          unique_participant_identities: 7
          codecs:
          - codecs
          - codecs
          end_time: 2000-01-23T04:56:07.000+00:00
          status_callback: https://openapi-generator.tech
          processing_state: processing_state
          url: https://openapi-generator.tech
          room_status: room_status
          room_name: room_name
          max_concurrent_participants: 1
          edge_location: edge_location
          room_type: room_type
        - recording_enabled: true
          status_callback_method: HEAD
          media_region: media_region
          unique_participants: 9
          total_participant_duration_sec: 5
          concurrent_participants: 0
          duration_sec: 6
          total_recording_duration_sec: 2
          max_participants: 5
          created_method: created_method
          account_sid: account_sid
          links: "{}"
          room_sid: room_sid
          create_time: 2000-01-23T04:56:07.000+00:00
          end_reason: end_reason
          unique_participant_identities: 7
          codecs:
          - codecs
          - codecs
          end_time: 2000-01-23T04:56:07.000+00:00
          status_callback: https://openapi-generator.tech
          processing_state: processing_state
          url: https://openapi-generator.tech
          room_status: room_status
          room_name: room_name
          max_concurrent_participants: 1
          edge_location: edge_location
          room_type: room_type
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 2
          key: key
          url: https://openapi-generator.tech
          page_size: 7
      properties:
        meta:
          $ref: '#/components/schemas/ListConferenceResponse_meta'
        rooms:
          items:
            $ref: '#/components/schemas/insights.v1.video_room_summary'
          title: rooms
          type: array
      title: ListVideoRoomSummaryResponse
      type: object
    ListVideoParticipantSummaryResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 2
          key: key
          url: https://openapi-generator.tech
          page_size: 7
        participants:
        - leave_time: 2000-01-23T04:56:07.000+00:00
          end_reason: end_reason
          participant_identity: participant_identity
          media_region: media_region
          codecs:
          - codecs
          - codecs
          participant_sid: participant_sid
          duration_sec: 0
          join_time: 2000-01-23T04:56:07.000+00:00
          url: https://openapi-generator.tech
          error_code_url: error_code_url
          account_sid: account_sid
          publisher_info: ""
          error_code: 6
          room_sid: room_sid
          properties: ""
          edge_location: edge_location
          status: status
        - leave_time: 2000-01-23T04:56:07.000+00:00
          end_reason: end_reason
          participant_identity: participant_identity
          media_region: media_region
          codecs:
          - codecs
          - codecs
          participant_sid: participant_sid
          duration_sec: 0
          join_time: 2000-01-23T04:56:07.000+00:00
          url: https://openapi-generator.tech
          error_code_url: error_code_url
          account_sid: account_sid
          publisher_info: ""
          error_code: 6
          room_sid: room_sid
          properties: ""
          edge_location: edge_location
          status: status
      properties:
        meta:
          $ref: '#/components/schemas/ListConferenceResponse_meta'
        participants:
          items:
            $ref: '#/components/schemas/insights.v1.video_room_summary.video_participant_summary'
[...]
