openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2018-01-15
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2018-01-15/dscNodeCounts.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-dscNodeCounts
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodecounts/{countType}
  : get:
      description: Retrieve counts for Dsc Nodes.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/nodecounts
      operationId: node_count_information_get
      parameters:
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The type of counts to retrieve
        in: path
        name: countType
        required: true
        schema:
          enum:
          - status
          - nodeconfiguration
          type: string
          x-ms-enum:
            modelAsString: true
            name: CountType
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: CountType
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeCounts'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeCountInformation_Get_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - NodeCountInformation
      x-ms-examples:
        Get node's node configuration counts:
          parameters:
            $inlinecount: allpages
            $skip: 0
            $top: 2
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            countType: nodeconfiguration
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                totalCount: 16
                value:
                - name: client.localhost
                  properties:
                    count: 24
                - name: server.localhost
                  properties:
                    count: 3
              headers: {}
        Get node's status counts:
          parameters:
            $inlinecount: allpages
            $skip: 0
            $top: 20
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            countType: status
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                totalCount: 6
                value:
                - name: Compliant
                  properties:
                    count: 10
                - name: Failed
                  properties:
                    count: 1
                - name: InProgress
                  properties:
                    count: 1
                - name: NotCompliant
                  properties:
                    count: 3
                - name: Pending
                  properties:
                    count: 0
                - name: Unresponsive
                  properties:
                    count: 4
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.node_count_information_controller
components:
  parameters:
    CountTypeParameter:
      description: The type of counts to retrieve
      in: path
      name: countType
      required: true
      schema:
        enum:
        - status
        - nodeconfiguration
        type: string
        x-ms-enum:
          modelAsString: true
          name: CountType
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: CountType
      x-ms-parameter-location: method
  schemas:
    NodeCount:
      description: Number of nodes based on the Filter
      example:
        name: name
        properties:
          count: 6
      properties:
        name:
          description: Gets the name of a count type
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/NodeCountProperties'
      title: NodeCount
      type: object
    NodeCountProperties:
      example:
        count: 6
      properties:
        count:
          description: Gets the count for the name
          title: count
          type: integer
      title: NodeCountProperties
      type: object
    NodeCounts:
      description: Gets the count of nodes by count type
      example:
        totalCount: 0
        value:
        - name: name
          properties:
            count: 6
        - name: name
          properties:
            count: 6
      properties:
        totalCount:
          description: Gets the total number of records matching countType criteria.
          title: totalCount
          type: integer
        value:
          description: Gets an array of counts
          items:
            $ref: '#/components/schemas/NodeCount'
          title: value
          type: array
      title: NodeCounts
      type: object
    NodeCountInformation_Get_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: NodeCountInformation_Get_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
