openapi: 3.0.1
info:
  description: ARM managed applications (appliances)
  title: ManagedApplicationClient
  version: 2016-09-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Solutions/preview/2016-09-01-preview/managedapplications.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources-managedapplications
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Solutions/operations:
    get:
      description: Lists all of the available Microsoft.Solutions REST API operations.
      operationId: list_operations
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Solutions/appliances:
    get:
      description: Gets all the appliances within a subscription.
      operationId: appliances_list_by_subscription
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceListResult'
          description: OK - Returns an array of appliances.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Appliances
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.appliances_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applianceDefinitions:
    get:
      description: Lists the appliance definitions in a resource group.
      operationId: appliance_definitions_list_by_resource_group
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinitionListResult'
          description: OK - Returns an array of appliance definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplianceDefinitions
      x-ms-examples:
        List appliance definitions:
          parameters:
            api-version: 2016-09-01-preview
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applianceDefinitions/myApplianceDef
                  location: East US 2
                  name: myApplianceDef
                  properties:
                    artifacts:
                    - name: CreateUiDefinition
                      type: Custom
                      uri: https://path/to/applianceCreateUiDefinition.json
                    - name: ApplianceResourceTemplate
                      type: Template
                      uri: https://path/to/mainTemplate.json
                    authorizations:
                    - principalId: validprincipalguid
                      roleDefinitionId: validroleguid
                    description: myApplianceDef description
                    displayName: myApplianceDef
                    packageFileUri: https://path/to/packagezipfile
                  resourceGroup: rg
                  type: Microsoft.Solutions/applianceDefinitions
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applianceDefinitions/myApplianceDef2
                  location: West US
                  name: myApplianceDef2
                  properties:
                    artifacts:
                    - name: CreateUiDefinition
                      type: Custom
                      uri: https://path/to/applianceCreateUiDefinition.json
                    - name: ApplianceResourceTemplate
                      type: Template
                      uri: https://path/to/mainTemplate.json
                    authorizations:
                    - principalId: validprincipalguid
                      roleDefinitionId: validroleguid
                    description: myApplianceDef2 description
                    displayName: myApplianceDef2
                    packageFileUri: https://path/to/packagezipfile
                  resourceGroup: rg
                  type: Microsoft.Solutions/applianceDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.appliance_definitions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applianceDefinitions/{applianceDefinitionName}
  : delete:
      description: Deletes the appliance definition.
      operationId: appliance_definitions_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the appliance definition to delete.
        in: path
        name: applianceDefinitionName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplianceDefinitions
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.appliance_definitions_controller
    get:
      description: Gets the appliance definition.
      operationId: appliance_definitions_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the appliance definition.
        in: path
        name: applianceDefinitionName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: OK - Returns the appliance definition.
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplianceDefinitions
      x-ms-examples:
        Get appliance definition:
          parameters:
            api-version: 2016-09-01-preview
            applianceName: myApplianceDef
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applianceDefinitions/myApplianceDef
                location: East US 2
                name: myApplianceDef
                properties:
                  artifacts:
                  - name: CreateUiDefinition
                    type: Custom
                    uri: https://path/to/applianceCreateUiDefinition.json
                  - name: ApplianceResourceTemplate
                    type: Template
                    uri: https://path/to/mainTemplate.json
                  authorizations:
                  - principalId: validprincipalguid
                    roleDefinitionId: validroleguid
                  description: myApplianceDef description
                  displayName: myApplianceDef
                  packageFileUri: https://path/to/packagezipfile
                resourceGroup: rg
                type: Microsoft.Solutions/applianceDefinitions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.appliance_definitions_controller
    put:
      description: Creates a new appliance definition.
      operationId: appliance_definitions_create_or_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the appliance definition.
        in: path
        name: applianceDefinitionName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplianceDefinition'
        description: Parameters supplied to the create or update an appliance definition.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: "OK - Returns information about the appliance definition, including\
            \ provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: "Created - Returns information about the appliance definition,\
            \ including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplianceDefinitions
      x-ms-examples:
        Create or update appliance definition:
          parameters:
            api-version: 2016-09-01-preview
            applianceDefinitionName: myApplianceDef
            parameters:
              location: East US 2
              properties:
                authorizations:
                - principalId: validprincipalguid
                  roleDefinitionId: validroleguid
                description: myApplianceDef description
                displayName: myApplianceDef
                lockLevel: None
                packageFileUri: https://path/to/packagezipfile
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applianceDefinitions/myApplianceDef
                location: East US 2
                name: myApplianceDef
                properties:
                  artifacts:
                  - name: CreateUiDefinition
                    type: Custom
                    uri: https://path/to/applianceCreateUiDefinition.json
                  - name: ApplianceResourceTemplate
                    type: Template
                    uri: https://path/to/mainTemplate.json
                  authorizations:
                  - principalId: validprincipalguid
                    roleDefinitionId: validroleguid
                  description: myApplianceDef description
                  displayName: myApplianceDef
                  packageFileUri: https://path/to/packagezipfile
                resourceGroup: rg
                type: Microsoft.Solutions/applianceDefinitions
              headers: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.appliance_definitions_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/appliances:
    get:
      description: Gets all the appliances within a resource group.
      operationId: appliances_list_by_resource_group
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceListResult'
          description: OK - Returns an array of appliances.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Appliances
      x-ms-examples:
        Lists appliances:
          parameters:
            api-version: 2016-09-01-preview
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/appliances/myAppliance
                  kind: ServiceCatalog
                  location: East US 2
                  name: myAppliance
                  properties:
                    applianceDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applianceDefinitions/myAppDef
                    managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                    provisioningState: Created
                    uiDefinitionUri: https://path/to/applianceCreateUiDefinition.json
                  resourceGroup: rg
                  type: Microsoft.Solutions/appliances
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/appliances/myAppliance2
                  kind: ServiceCatalog
                  location: West US
                  name: myAppliance2
                  properties:
                    applianceDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applianceDefinitions/myAppDef2
                    managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                    provisioningState: Created
                    uiDefinitionUri: https://path/to/applianceCreateUiDefinition.json
                  resourceGroup: rg
                  type: Microsoft.Solutions/appliances
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.appliances_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/appliances/{applianceName}:
    delete:
      description: Deletes the appliance.
      operationId: appliances_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the appliance.
        in: path
        name: applianceName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Appliances
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.appliances_controller
    get:
      description: Gets the appliance.
      operationId: appliances_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the appliance.
        in: path
        name: applianceName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: OK - Returns the appliance.
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Appliances
      x-ms-examples:
        Get an appliance:
          parameters:
            api-version: 2016-09-01-preview
            applianceName: myAppliance
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/appliances/myAppliance
                kind: ServiceCatalog
                location: East US 2
                name: myAppliance
                properties:
                  applianceDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applianceDefinitions/myAppDef
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  provisioningState: Created
                  uiDefinitionUri: https://path/to/applianceCreateUiDefinition.json
                resourceGroup: rg
                type: Microsoft.Solutions/appliances
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.appliances_controller
    patch:
      description: Updates an existing appliance. The only value that can be updated
        via PATCH currently is the tags.
      operationId: appliances_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the appliance.
        in: path
        name: applianceName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to update an existing appliance.
        required: false
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: "Created - Returns information about the appliance, including\
            \ provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Appliances
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.appliances_controller
    put:
      description: Creates a new appliance.
      operationId: appliances_create_or_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the appliance.
        in: path
        name: applianceName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to the create or update an appliance.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: "Created - Returns information about the appliance, including\
            \ provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: "Created - Returns information about the appliance, including\
            \ provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Appliances
      x-ms-examples:
        Create or update appliance:
          parameters:
            api-version: 2016-09-01-preview
            applianceName: myAppliance
            parameters:
              kind: ServiceCatalog
              location: East US 2
              name: myAppliance
              properties:
                applianceDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applianceDefinitions/myAppDef
                managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/appliances/myAppliance
                kind: ServiceCatalog
                location: East US 2
                name: myAppliance
                properties:
                  applianceDefinitionId: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applianceDefinitions/myAppDef
                  managedResourceGroupId: /subscriptions/subid/resourceGroups/myManagedRG
                  provisioningState: Created
                  uiDefinitionUri: https://path/to/applianceCreateUiDefinition.json
                resourceGroup: rg
                type: Microsoft.Solutions/appliances
              headers: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.appliances_controller
  /{applianceDefinitionId}:
    delete:
      description: Deletes the appliance definition.
      operationId: appliance_definitions_delete_by_id
      parameters:
      - description: "The fully qualified ID of the appliance definition, including\
          \ the appliance name and the appliance definition resource type. Use the\
          \ format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}"
        in: path
        name: applianceDefinitionId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplianceDefinitions
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.appliance_definitions_controller
    get:
      description: Gets the appliance definition.
      operationId: appliance_definitions_get_by_id
      parameters:
      - description: "The fully qualified ID of the appliance definition, including\
          \ the appliance name and the appliance definition resource type. Use the\
          \ format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}"
        in: path
        name: applianceDefinitionId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: OK - Returns the appliance definition.
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplianceDefinitions
      x-openapi-router-controller: openapi_server.controllers.appliance_definitions_controller
    put:
      description: Creates a new appliance definition.
      operationId: appliance_definitions_create_or_update_by_id
      parameters:
      - description: "The fully qualified ID of the appliance definition, including\
          \ the appliance name and the appliance definition resource type. Use the\
          \ format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}"
        in: path
        name: applianceDefinitionId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplianceDefinition'
        description: Parameters supplied to the create or update an appliance definition.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: "OK - Returns information about the appliance definition, including\
            \ provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
          description: "Created - Returns information about the appliance definition,\
            \ including provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ApplianceDefinitions
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.appliance_definitions_controller
  /{applianceId}:
    delete:
      description: Deletes the appliance.
      operationId: appliances_delete_by_id
      parameters:
      - description: "The fully qualified ID of the appliance, including the appliance\
          \ name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}"
        in: path
        name: applianceId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Appliances
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.appliances_controller
    get:
      description: Gets the appliance.
      operationId: appliances_get_by_id
      parameters:
      - description: "The fully qualified ID of the appliance, including the appliance\
          \ name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}"
        in: path
        name: applianceId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: OK - Returns the appliance.
        "404":
          content: {}
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Appliances
      x-openapi-router-controller: openapi_server.controllers.appliances_controller
    patch:
      description: Updates an existing appliance. The only value that can be updated
        via PATCH currently is the tags.
      operationId: appliances_update_by_id
      parameters:
      - description: "The fully qualified ID of the appliance, including the appliance\
          \ name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}"
        in: path
        name: applianceId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to update an existing appliance.
        required: false
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: "Created - Returns information about the appliance, including\
            \ provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Appliances
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.appliances_controller
    put:
      description: Creates a new appliance.
      operationId: appliances_create_or_update_by_id
      parameters:
      - description: "The fully qualified ID of the appliance, including the appliance\
          \ name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}"
        in: path
        name: applianceId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for this operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to the create or update an appliance.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: "Created - Returns information about the appliance, including\
            \ provisioning status."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
          description: "Created - Returns information about the appliance, including\
            \ provisioning status."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Appliances
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.appliances_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for this operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Appliance:
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about appliance.
      example:
        kind: kind
        plan:
          product: product
          name: name
          promotionCode: promotionCode
          publisher: publisher
          version: version
        properties:
          outputs: "{}"
          uiDefinitionUri: uiDefinitionUri
          managedResourceGroupId: managedResourceGroupId
          provisioningState: Accepted
          parameters: "{}"
          applianceDefinitionId: applianceDefinitionId
      properties:
        kind:
          description: The kind of the appliance. Allowed values are MarketPlace and
            ServiceCatalog.
          pattern: "^[-\\w\\._,\\(\\)]+$"
          title: kind
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
        properties:
          $ref: '#/components/schemas/ApplianceProperties'
      title: Appliance
    ApplianceArtifact:
      description: Appliance artifact.
      example:
        name: name
        type: Template
        uri: uri
      properties:
        name:
          description: The appliance artifact name.
          title: name
          type: string
        type:
          $ref: '#/components/schemas/ApplianceArtifactType'
        uri:
          description: The appliance artifact blob uri.
          title: uri
          type: string
      title: ApplianceArtifact
      type: object
    ApplianceArtifactType:
      description: The appliance artifact type.
      enum:
      - Template
      - Custom
      title: ApplianceArtifactType
      type: string
      x-ms-enum:
        modelAsString: false
        name: ApplianceArtifactType
    ApplianceDefinition:
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about appliance definition.
      example:
        properties:
          displayName: displayName
          lockLevel: CanNotDelete
          packageFileUri: packageFileUri
          authorizations:
          - roleDefinitionId: roleDefinitionId
            principalId: principalId
          - roleDefinitionId: roleDefinitionId
            principalId: principalId
          description: description
          artifacts:
          - name: name
            type: Template
            uri: uri
          - name: name
            type: Template
            uri: uri
      properties:
        properties:
          $ref: '#/components/schemas/ApplianceDefinitionProperties'
      required:
      - properties
      title: ApplianceDefinition
    ApplianceDefinitionListResult:
      description: List of appliance definitions.
      example:
        value:
        - properties:
            displayName: displayName
            lockLevel: CanNotDelete
            packageFileUri: packageFileUri
            authorizations:
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            description: description
            artifacts:
            - name: name
              type: Template
              uri: uri
            - name: name
              type: Template
              uri: uri
        - properties:
            displayName: displayName
            lockLevel: CanNotDelete
            packageFileUri: packageFileUri
            authorizations:
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            - roleDefinitionId: roleDefinitionId
              principalId: principalId
            description: description
            artifacts:
            - name: name
              type: Template
              uri: uri
            - name: name
              type: Template
              uri: uri
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          description: The array of appliance definitions.
          items:
            $ref: '#/components/schemas/ApplianceDefinition'
          title: value
          type: array
      title: ApplianceDefinitionListResult
      type: object
    ApplianceDefinitionProperties:
      description: The appliance definition properties.
      example:
        displayName: displayName
        lockLevel: CanNotDelete
        packageFileUri: packageFileUri
        authorizations:
        - roleDefinitionId: roleDefinitionId
          principalId: principalId
        - roleDefinitionId: roleDefinitionId
          principalId: principalId
        description: description
        artifacts:
        - name: name
          type: Template
          uri: uri
        - name: name
          type: Template
          uri: uri
      properties:
        artifacts:
          description: The collection of appliance artifacts. The portal will use
            the files specified as artifacts to construct the user experience of creating
            an appliance from an appliance definition.
          items:
            $ref: '#/components/schemas/ApplianceArtifact'
          title: artifacts
          type: array
        authorizations:
          description: The appliance provider authorizations.
          items:
            $ref: '#/components/schemas/ApplianceProviderAuthorization'
          title: authorizations
          type: array
        description:
          description: The appliance definition description.
          title: description
          type: string
        displayName:
          description: The appliance definition display name.
          title: displayName
          type: string
        lockLevel:
          $ref: '#/components/schemas/ApplianceLockLevel'
        packageFileUri:
          description: The appliance definition package file Uri.
          title: packageFileUri
          type: string
      required:
      - authorizations
      - lockLevel
      - packageFileUri
      title: ApplianceDefinitionProperties
      type: object
    ApplianceListResult:
      description: List of appliances.
      example:
        value:
        - kind: kind
          plan:
            product: product
            name: name
            promotionCode: promotionCode
            publisher: publisher
            version: version
          properties:
            outputs: "{}"
            uiDefinitionUri: uiDefinitionUri
            managedResourceGroupId: managedResourceGroupId
            provisioningState: Accepted
            parameters: "{}"
            applianceDefinitionId: applianceDefinitionId
        - kind: kind
          plan:
            product: product
            name: name
            promotionCode: promotionCode
            publisher: publisher
            version: version
          properties:
            outputs: "{}"
            uiDefinitionUri: uiDefinitionUri
            managedResourceGroupId: managedResourceGroupId
            provisioningState: Accepted
            parameters: "{}"
            applianceDefinitionId: applianceDefinitionId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          description: The array of appliances.
          items:
            $ref: '#/components/schemas/Appliance'
          title: value
          type: array
      title: ApplianceListResult
      type: object
    ApplianceLockLevel:
      description: The appliance lock level.
      enum:
      - CanNotDelete
      - ReadOnly
      - None
      title: ApplianceLockLevel
      type: string
      x-ms-enum:
        modelAsString: false
        name: ApplianceLockLevel
    AppliancePatchable:
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about appliance.
      properties:
        kind:
          description: The kind of the appliance. Allowed values are MarketPlace and
            ServiceCatalog.
          pattern: "^[-\\w\\._,\\(\\)]+$"
          type: string
        plan:
          $ref: '#/components/schemas/PlanPatchable'
        properties:
          $ref: '#/components/schemas/AppliancePropertiesPatchable'
    ApplianceProperties:
      description: The appliance properties.
      example:
        outputs: "{}"
        uiDefinitionUri: uiDefinitionUri
        managedResourceGroupId: managedResourceGroupId
        provisioningState: Accepted
        parameters: "{}"
        applianceDefinitionId: applianceDefinitionId
      properties:
        applianceDefinitionId:
          description: The fully qualified path of appliance definition Id.
          title: applianceDefinitionId
          type: string
        managedResourceGroupId:
          description: The managed resource group Id.
          title: managedResourceGroupId
          type: string
        outputs:
          description: Name and value pairs that define the appliance outputs.
          properties: {}
          readOnly: true
          title: outputs
          type: object
        parameters:
          description: Name and value pairs that define the appliance parameters.
            It can be a JObject or a well formed JSON string.
          properties: {}
          title: parameters
          type: object
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        uiDefinitionUri:
          description: The blob URI where the UI definition file is located.
          title: uiDefinitionUri
          type: string
      required:
      - managedResourceGroupId
      title: ApplianceProperties
      type: object
    AppliancePropertiesPatchable:
      description: The appliance properties.
      properties:
        applianceDefinitionId:
          description: The fully qualified path of appliance definition Id.
          title: applianceDefinitionId
          type: string
        managedResourceGroupId:
          description: The managed resource group Id.
          title: managedResourceGroupId
          type: string
        outputs:
          description: Name and value pairs that define the appliance outputs.
          properties: {}
          readOnly: true
          title: outputs
          type: object
        parameters:
          description: Name and value pairs that define the appliance parameters.
            It can be a JObject or a well formed JSON string.
          properties: {}
          title: parameters
          type: object
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        uiDefinitionUri:
          description: The blob URI where the UI definition file is located.
          title: uiDefinitionUri
          type: string
      title: AppliancePropertiesPatchable
      type: object
    ApplianceProviderAuthorization:
      description: The appliance provider authorization.
      example:
        roleDefinitionId: roleDefinitionId
        principalId: principalId
      properties:
        principalId:
          description: The provider's principal identifier. This is the identity that
            the provider will use to call ARM to manage the appliance resources.
          title: principalId
          type: string
        roleDefinitionId:
          description: The provider's role definition identifier. This role will define
            all the permissions that the provider must have on the appliance's container
            resource group. This role definition cannot have permission to delete
            the resource group.
          title: roleDefinitionId
          type: string
      required:
      - principalId
      - roleDefinitionId
      title: ApplianceProviderAuthorization
      type: object
    ErrorResponse:
      description: Error response indicates ARM appliance is not able to process the
        incoming request. The reason is provided in the error message.
      example:
        httpStatus: httpStatus
        errorMessage: errorMessage
        errorCode: errorCode
      properties:
        errorCode:
          description: Error code.
          title: errorCode
          type: string
        errorMessage:
          description: Error message indicating why the operation failed.
          title: errorMessage
          type: string
        httpStatus:
          description: Http status code.
          title: httpStatus
          type: string
      title: ErrorResponse
      type: object
    GenericResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information.
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        managedBy:
          description: ID of the resource that manages this resource.
          title: managedBy
          type: string
        sku:
          $ref: '#/components/schemas/Sku'
      title: GenericResource
    Identity:
      description: Identity for the resource.
      properties:
        principalId:
          description: The principal ID of resource identity.
          readOnly: true
          title: principalId
          type: string
        tenantId:
          description: The tenant ID of resource.
          readOnly: true
          title: tenantId
          type: string
        type:
          description: The identity type.
          enum:
          - SystemAssigned
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: ResourceIdentityType
      title: Identity
      type: object
    Operation:
      description: Microsoft.Solutions operation
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Result of the request to list Microsoft.Solutions operations. It
        contains a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          title: nextLink
          type: string
        value:
          description: List of Microsoft.Solutions operations.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    Plan:
      description: Plan for the appliance.
      example:
        product: product
        name: name
        promotionCode: promotionCode
        publisher: publisher
        version: version
      properties:
        name:
          description: The plan name.
          title: name
          type: string
        product:
          description: The product code.
          title: product
          type: string
        promotionCode:
          description: The promotion code.
          title: promotionCode
          type: string
        publisher:
          description: The publisher ID.
          title: publisher
          type: string
        version:
          description: The plan's version.
          title: version
          type: string
      required:
      - name
      - product
      - publisher
      - version
      title: Plan
      type: object
    PlanPatchable:
      description: Plan for the appliance.
      properties:
        name:
          description: The plan name.
          title: name
          type: string
        product:
          description: The product code.
          title: product
          type: string
        promotionCode:
          description: The promotion code.
          title: promotionCode
          type: string
        publisher:
          description: The publisher ID.
          title: publisher
          type: string
        version:
          description: The plan's version.
          title: version
          type: string
      title: PlanPatchable
      type: object
    ProvisioningState:
      description: Provisioning status of the appliance.
      enum:
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Updating
      title: ProvisioningState
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    Resource:
      description: Resource information.
      properties:
        id:
          description: Resource ID
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    Sku:
      description: SKU for the resource.
      properties:
        capacity:
          description: The SKU capacity.
          format: int32
          title: capacity
          type: integer
        family:
          description: The SKU family.
          title: family
          type: string
        model:
          description: The SKU model.
          title: model
          type: string
        name:
          description: The SKU name.
          title: name
          type: string
        size:
          description: The SKU size.
          title: size
          type: string
        tier:
          description: The SKU tier.
          title: tier
          type: string
      required:
      - name
      title: Sku
      type: object
    Operation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft.Solutions"
          title: provider
          type: string
        resource:
          description: "Resource on which the operation is performed: Profile, endpoint,\
            \ etc."
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-hasEquivalentPaths: true
x-original-swagger-version: "2.0"
