openapi: 3.0.0
info:
  contact: {}
  description: This is an online openapi generator server.  You can find out more
    at https://github.com/OpenAPITools/openapi-generator.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: OpenAPI Generator Online
  version: 6.5.0
  x-apisguru-categories:
  - developer_tools
  x-origin:
  - format: openapi
    url: http://api.openapi-generator.tech/api-docs
    version: "3.0"
  x-providerName: openapi-generator.tech
servers:
- url: //api.openapi-generator.tech
tags:
- description: the gen API
  name: gen-api-controller
paths:
  /api/gen/clients:
    get:
      operationId: client_options
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: successful operation
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Gets languages supported by the client generator
      tags:
      - clients
      x-responsesObject:
        "200":
          description: successful operation
          schema:
            items:
              type: string
            type: array
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      x-openapi-router-controller: openapi_server.controllers.clients_controller
  /api/gen/clients/{language}:
    get:
      operationId: get_client_options
      parameters:
      - description: The target language for the client library
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/CliOption'
                type: object
          description: successful operation
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns options for a client library
      tags:
      - clients
      x-responsesObject:
        "200":
          description: successful operation
          schema:
            additionalProperties:
              $ref: '#/components/schemas/CliOption'
            type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      x-openapi-router-controller: openapi_server.controllers.clients_controller
    post:
      description: Accepts a `GeneratorInput` options map for spec location and generation
        options
      operationId: generate_client
      parameters:
      - description: The target language for the client library
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratorInput'
        description: Configuration for building the client library
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseCode'
          description: successful operation
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Generates a client library
      tags:
      - clients
      x-responsesObject:
        "200":
          description: successful operation
          schema:
            $ref: '#/components/schemas/ResponseCode'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      x-openapi-router-controller: openapi_server.controllers.clients_controller
      x-codegen-request-body-name: body
  /api/gen/download/{fileId}:
    get:
      description: "A valid `fileId` is generated by the `/clients/{language}` or\
        \ `/servers/{language}` POST operations.  The fileId code can be used just\
        \ once, after which a new `fileId` will need to be requested."
      operationId: download_file
      parameters:
      - description: fileId
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: successful operation
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Downloads a pre-generated file
      tags:
      - clients
      - servers
      x-responsesObject:
        "200":
          description: successful operation
          schema:
            type: file
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      x-openapi-router-controller: openapi_server.controllers.clients_controller
  /api/gen/servers:
    get:
      operationId: server_options
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: successful operation
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Gets languages supported by the server generator
      tags:
      - servers
      x-responsesObject:
        "200":
          description: successful operation
          schema:
            items:
              type: string
            type: array
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  /api/gen/servers/{framework}:
    get:
      operationId: get_server_options
      parameters:
      - description: The target language for the server framework
        explode: false
        in: path
        name: framework
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/CliOption'
                type: object
          description: successful operation
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns options for a server framework
      tags:
      - servers
      x-responsesObject:
        "200":
          description: successful operation
          schema:
            additionalProperties:
              $ref: '#/components/schemas/CliOption'
            type: object
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      x-openapi-router-controller: openapi_server.controllers.servers_controller
    post:
      description: Accepts a `GeneratorInput` options map for spec location and generation
        options.
      operationId: generate_server_for_language
      parameters:
      - description: framework
        explode: false
        in: path
        name: framework
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratorInput'
        description: parameters
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseCode'
          description: successful operation
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Generates a server library
      tags:
      - servers
      x-responsesObject:
        "200":
          description: successful operation
          schema:
            $ref: '#/components/schemas/ResponseCode'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      x-openapi-router-controller: openapi_server.controllers.servers_controller
      x-codegen-request-body-name: body
components:
  schemas:
    AuthorizationValue:
      example:
        urlMatcher: "{}"
        keyName: keyName
        type: type
        value: value
      properties:
        keyName:
          title: keyName
          type: string
        type:
          title: type
          type: string
        urlMatcher:
          title: PredicateOfURL
          type: object
        value:
          title: value
          type: string
      title: AuthorizationValue
      type: object
    CliOption:
      properties:
        default:
          title: default
          type: string
        description:
          title: description
          type: string
        enum:
          additionalProperties:
            type: string
          title: enum
          type: object
        opt:
          title: opt
          type: string
        optValue:
          title: optValue
          type: string
        type:
          title: type
          type: string
      title: CliOption
      type: object
    GeneratorInput:
      example:
        options:
          key: options
        authorizationValue:
          urlMatcher: "{}"
          keyName: keyName
          type: type
          value: value
        openAPIUrl: https://raw.githubusercontent.com/OpenAPITools/openapi-generator/master/modules/openapi-generator/src/test/resources/2_0/petstore.yaml
        spec: "{}"
      properties:
        authorizationValue:
          $ref: '#/components/schemas/AuthorizationValue'
        openAPIUrl:
          example: https://raw.githubusercontent.com/OpenAPITools/openapi-generator/master/modules/openapi-generator/src/test/resources/2_0/petstore.yaml
          title: openAPIUrl
          type: string
        options:
          additionalProperties:
            type: string
          title: options
          type: object
        spec:
          title: spec
          type: object
      title: GeneratorInput
      type: object
    PredicateOfURL:
      title: PredicateOfURL
      type: object
    ResponseCode:
      example:
        code: d40029be-eda6-4d62-b1ef-d05e2e91a72a
        link: http://localhost:8080/api/gen/download/d40029be-eda6-4d62-b1ef-d05e2e91a72a
      properties:
        code:
          description: File download code
          example: d40029be-eda6-4d62-b1ef-d05e2e91a72a
          title: code
          type: string
        link:
          description: URL for fetching the generated client
          example: http://localhost:8080/api/gen/download/d40029be-eda6-4d62-b1ef-d05e2e91a72a
          title: link
          type: string
      title: ResponseCode
      type: object
    URLStreamHandler:
      title: URLStreamHandler
      type: object
