

# TestReport


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**appUploadId** | **String** |  |  |
|**date** | **String** |  |  |
|**dateFinished** | **String** |  |  |
|**deviceLogs** | [**List&lt;TestGetTestReport200ResponseDeviceLogsInner&gt;**](TestGetTestReport200ResponseDeviceLogsInner.md) |  |  |
|**errorMessage** | **String** |  |  [optional] |
|**features** | [**List&lt;TestGetTestReport200ResponseFeaturesInner&gt;**](TestGetTestReport200ResponseFeaturesInner.md) |  |  |
|**finishedDeviceSnapshots** | **List&lt;String&gt;** |  |  |
|**id** | **String** |  |  |
|**platform** | **String** |  |  |
|**revision** | **BigDecimal** |  |  |
|**schemaVersion** | **BigDecimal** |  |  |
|**snapshotFatalErrors** | [**List&lt;TestGetTestReport200ResponseSnapshotFatalErrorsInner&gt;**](TestGetTestReport200ResponseSnapshotFatalErrorsInner.md) |  |  [optional] |
|**stats** | [**TestGetTestReport200ResponseStats**](TestGetTestReport200ResponseStats.md) |  |  |
|**testType** | **String** |  |  |



