openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/networkWatcherConnectionMonitorV1.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: network-networkWatcherConnectionMonitorV1
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors
  : get:
      description: Lists all connection monitors for the specified Network Watcher.
      operationId: connection_monitors_list
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorListResult'
          description: Successful connection monitor enumeration request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitors_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        List connection monitors:
          parameters:
            api-version: 2019-06-01
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                  location: centraluseuap
                  name: cm1
                  properties:
                    autoStart: true
                    destination:
                      address: bing.com
                      port: 80
                    monitoringIntervalInSeconds: 60
                    monitoringStatus: Running
                    provisioningState: Succeeded
                    source:
                      port: 0
                      resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                    startTime: 2018-01-08T03:42:33.3387305Z
                  type: Microsoft.Network/networkWatchers/connectionMonitors
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm2
                  location: centraluseuap
                  name: cm2
                  properties:
                    autoStart: true
                    destination:
                      address: google.com
                      port: 80
                    monitoringIntervalInSeconds: 30
                    monitoringStatus: Running
                    provisioningState: Succeeded
                    source:
                      port: 0
                      resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm2
                    startTime: 2018-01-08T05:42:33.3387305Z
                  type: Microsoft.Network/networkWatchers/connectionMonitors
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}
  : delete:
      description: Deletes the specified connection monitor.
      operationId: connection_monitors_delete
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted. The operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitors_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Delete connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
    get:
      description: Gets a connection monitor by name.
      operationId: connection_monitors_get
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
          description: Request successful. The operation returns a connection monitor.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitors_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Get connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: centraluseuap
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: Running
                  provisioningState: Succeeded
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                  startTime: 2018-01-08T03:42:33.3387305Z
                type: Microsoft.Network/networkWatchers/connectionMonitors
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
    patch:
      description: Update tags of the specified connection monitor.
      operationId: connection_monitors_update_tags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionMonitors_UpdateTags_request'
        description: Parameters supplied to update connection monitor tags.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
          description: Request successful. The operation returns updated connection
            monitor.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitors_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Update connection monitor tags:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/`/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: westcentralus
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: Running
                  provisioningState: Succeeded
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                  startTime: 2019-09-04T02:48:10.6797393Z
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/networkWatchers/connectionMonitors
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
    put:
      description: Create or update a connection monitor.
      operationId: connection_monitors_create_or_update
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionMonitor'
        description: Parameters that define the operation to create a connection monitor.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
          description: Update successful. The operation returns the resulting network
            watcher resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
          description: Create successful. The operation returns the resulting network
            watcher resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitors_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Create connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            parameters:
              location: eastus
              properties:
                destination:
                  address: bing.com
                  port: 80
                monitoringIntervalInSeconds: 60
                source:
                  resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"e7497f26-5f09-4559-900b-fe98f3dedb6f"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: eastus
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: NotStarted
                  provisioningState: Updating
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                type: Microsoft.Network/networkWatchers/connectionMonitors
            "201":
              body:
                etag: W/"e7497f26-5f09-4559-900b-fe98f3dedb6f"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: eastus
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: NotStarted
                  provisioningState: Updating
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                type: Microsoft.Network/networkWatchers/connectionMonitors
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/query
  : post:
      description: Query a snapshot of the most recent connection states.
      operationId: connection_monitors_query
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name given to the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorQueryResult'
          description: Successful query of connection states.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorQueryResult'
          description: Accepted query of connection states.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitors_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Query connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                sourceStatus: Active
                states:
                - connectionState: Reachable
                  endTime: 2018-01-08T05:12:41.5265438Z
                  evaluationState: Completed
                  hops:
                  - address: 10.1.1.4
                    id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                    issues: []
                    nextHopIds:
                    - 75c8d819-b208-4584-a311-1aa45ce753f9
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                    type: Source
                  - address: 192.168.100.4
                    id: 75c8d819-b208-4584-a311-1aa45ce753f9
                    issues: []
                    nextHopIds: []
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                    type: VirtualNetwork
                  startTime: 2018-01-08T03:42:33.3387305Z
            "202":
              body:
                sourceStatus: Active
                states:
                - connectionState: Reachable
                  endTime: 2018-01-08T05:12:41.5265438Z
                  evaluationState: Completed
                  hops:
                  - address: 10.1.1.4
                    id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                    issues: []
                    nextHopIds:
                    - 75c8d819-b208-4584-a311-1aa45ce753f9
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                    type: Source
                  - address: 192.168.100.4
                    id: 75c8d819-b208-4584-a311-1aa45ce753f9
                    issues: []
                    nextHopIds: []
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                    type: VirtualNetwork
                  startTime: 2018-01-08T03:42:33.3387305Z
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/start
  : post:
      description: Starts the specified connection monitor.
      operationId: connection_monitors_start
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation starts the connection monitor.
        "202":
          content: {}
          description: Accepted. The operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitors_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Start connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/stop
  : post:
      description: Stops the specified connection monitor.
      operationId: connection_monitors_stop
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation stops the connection monitor.
        "202":
          content: {}
          description: Accepted. The operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitors_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Stop connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
components:
  schemas:
    ConnectionMonitor:
      description: Parameters that define the operation to create a connection monitor.
      example:
        location: location
        properties:
          destination:
            resourceId: resourceId
            address: address
            port: 0
          source:
            resourceId: resourceId
            port: 1
          monitoringIntervalInSeconds: 6
          autoStart: true
        tags:
          key: tags
      properties:
        location:
          description: Connection monitor location.
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/ConnectionMonitorParameters'
        tags:
          additionalProperties:
            type: string
          description: Connection monitor tags.
          title: tags
          type: object
      required:
      - properties
      title: ConnectionMonitor
      type: object
    ConnectionMonitorDestination:
      description: Describes the destination of connection monitor.
      example:
        resourceId: resourceId
        address: address
        port: 0
      properties:
        address:
          description: Address of the connection monitor destination (IP or domain
            name).
          title: address
          type: string
        port:
          description: The destination port used by connection monitor.
          title: port
          type: integer
        resourceId:
          description: The ID of the resource used as the destination by connection
            monitor.
          title: resourceId
          type: string
      title: ConnectionMonitorDestination
      type: object
    ConnectionMonitorListResult:
      description: List of connection monitors.
      example:
        value:
        - name: name
          etag: A unique read-only string that changes whenever the resource is updated.
          location: location
          id: id
          type: type
          properties:
            monitoringStatus: monitoringStatus
            startTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: Succeeded
          tags:
            key: tags
        - name: name
          etag: A unique read-only string that changes whenever the resource is updated.
          location: location
          id: id
          type: type
          properties:
            monitoringStatus: monitoringStatus
            startTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: Succeeded
          tags:
            key: tags
      properties:
        value:
          description: Information about connection monitors.
          items:
            $ref: '#/components/schemas/ConnectionMonitorResult'
          title: value
          type: array
      title: ConnectionMonitorListResult
      type: object
    ConnectionMonitorParameters:
      description: Parameters that define the operation to create a connection monitor.
      example:
        destination:
          resourceId: resourceId
          address: address
          port: 0
        source:
          resourceId: resourceId
          port: 1
        monitoringIntervalInSeconds: 6
        autoStart: true
      properties:
        autoStart:
          default: true
          description: Determines if the connection monitor will start automatically
            once created.
          title: autoStart
          type: boolean
        destination:
          $ref: '#/components/schemas/ConnectionMonitorDestination'
        monitoringIntervalInSeconds:
          description: Monitoring interval in seconds.
          title: monitoringIntervalInSeconds
          type: integer
        source:
          $ref: '#/components/schemas/ConnectionMonitorSource'
      required:
      - destination
      - source
      title: ConnectionMonitorParameters
      type: object
    ConnectionMonitorQueryResult:
      description: List of connection states snapshots.
      example:
        sourceStatus: Unknown
        states:
        - maxLatencyInMs: 6
          avgLatencyInMs: 0
          connectionState: Reachable
          probesFailed: 5
          hops:
          - resourceId: resourceId
            address: address
            nextHopIds:
            - nextHopIds
            - nextHopIds
            id: id
            type: type
            issues:
            - severity: Error
              origin: Local
              context:
              - key: context
              - key: context
              type: Unknown
            - severity: Error
              origin: Local
              context:
              - key: context
              - key: context
              type: Unknown
          - resourceId: resourceId
            address: address
            nextHopIds:
            - nextHopIds
            - nextHopIds
            id: id
            type: type
            issues:
            - severity: Error
              origin: Local
              context:
              - key: context
              - key: context
              type: Unknown
            - severity: Error
              origin: Local
              context:
              - key: context
              - key: context
              type: Unknown
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          minLatencyInMs: 1
          probesSent: 5
          evaluationState: NotStarted
        - maxLatencyInMs: 6
          avgLatencyInMs: 0
          connectionState: Reachable
          probesFailed: 5
          hops:
          - resourceId: resourceId
            address: address
            nextHopIds:
            - nextHopIds
            - nextHopIds
            id: id
            type: type
            issues:
            - severity: Error
              origin: Local
              context:
              - key: context
              - key: context
              type: Unknown
            - severity: Error
              origin: Local
              context:
              - key: context
              - key: context
              type: Unknown
          - resourceId: resourceId
            address: address
            nextHopIds:
            - nextHopIds
            - nextHopIds
            id: id
            type: type
            issues:
            - severity: Error
              origin: Local
              context:
              - key: context
              - key: context
              type: Unknown
            - severity: Error
              origin: Local
              context:
              - key: context
              - key: context
              type: Unknown
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          minLatencyInMs: 1
          probesSent: 5
          evaluationState: NotStarted
      properties:
        sourceStatus:
          description: Status of connection monitor source.
          enum:
          - Unknown
          - Active
          - Inactive
          title: sourceStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConnectionMonitorSourceStatus
        states:
          description: Information about connection states.
          items:
            $ref: '#/components/schemas/ConnectionStateSnapshot'
          title: states
          type: array
      title: ConnectionMonitorQueryResult
      type: object
    ConnectionMonitorResult:
      description: Information about the connection monitor.
      example:
        name: name
        etag: A unique read-only string that changes whenever the resource is updated.
        location: location
        id: id
        type: type
        properties:
          monitoringStatus: monitoringStatus
          startTime: 2000-01-23T04:56:07.000+00:00
          provisioningState: Succeeded
        tags:
          key: tags
      properties:
        etag:
          default: A unique read-only string that changes whenever the resource is
            updated.
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        id:
          description: ID of the connection monitor.
          readOnly: true
          title: id
          type: string
        location:
          description: Connection monitor location.
          title: location
          type: string
        name:
          description: Name of the connection monitor.
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ConnectionMonitorResultProperties'
        tags:
          additionalProperties:
            type: string
          description: Connection monitor tags.
          title: tags
          type: object
        type:
          description: Connection monitor type.
          readOnly: true
          title: type
          type: string
      title: ConnectionMonitorResult
      type: object
      x-ms-azure-resource: true
    ConnectionMonitorResultProperties:
      allOf:
      - $ref: '#/components/schemas/ConnectionMonitorParameters'
      description: Describes the properties of a connection monitor.
      example:
        monitoringStatus: monitoringStatus
        startTime: 2000-01-23T04:56:07.000+00:00
        provisioningState: Succeeded
      properties:
        monitoringStatus:
          description: The monitoring status of the connection monitor.
          title: monitoringStatus
          type: string
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        startTime:
          description: The date and time when the connection monitor was started.
          format: date-time
          title: startTime
          type: string
      title: ConnectionMonitorResultProperties
    ConnectionMonitorSource:
      description: Describes the source of connection monitor.
      example:
        resourceId: resourceId
        port: 1
      properties:
        port:
          description: The source port used by connection monitor.
          title: port
          type: integer
        resourceId:
          description: The ID of the resource used as the source by connection monitor.
          title: resourceId
          type: string
      required:
      - resourceId
      title: ConnectionMonitorSource
      type: object
    ConnectionStateSnapshot:
      description: Connection state snapshot.
      example:
        maxLatencyInMs: 6
        avgLatencyInMs: 0
        connectionState: Reachable
        probesFailed: 5
        hops:
        - resourceId: resourceId
          address: address
          nextHopIds:
          - nextHopIds
          - nextHopIds
          id: id
          type: type
          issues:
          - severity: Error
            origin: Local
            context:
            - key: context
            - key: context
            type: Unknown
          - severity: Error
            origin: Local
            context:
            - key: context
            - key: context
            type: Unknown
        - resourceId: resourceId
          address: address
          nextHopIds:
          - nextHopIds
          - nextHopIds
          id: id
          type: type
          issues:
          - severity: Error
            origin: Local
            context:
            - key: context
            - key: context
            type: Unknown
          - severity: Error
            origin: Local
            context:
            - key: context
            - key: context
            type: Unknown
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        minLatencyInMs: 1
        probesSent: 5
        evaluationState: NotStarted
      properties:
        avgLatencyInMs:
          description: Average latency in ms.
          title: avgLatencyInMs
          type: integer
        connectionState:
          description: The connection state.
          enum:
          - Reachable
          - Unreachable
          - Unknown
          title: connectionState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConnectionState
        endTime:
          description: The end time of the connection snapshot.
          format: date-time
          title: endTime
          type: string
        evaluationState:
          description: Connectivity analysis evaluation state.
          enum:
          - NotStarted
          - InProgress
          - Completed
          title: evaluationState
          type: string
          x-ms-enum:
            modelAsString: true
            name: EvaluationState
        hops:
          description: List of hops between the source and the destination.
          items:
            $ref: '#/components/schemas/ConnectionStateSnapshot_hops_inner'
          readOnly: true
          title: hops
          type: array
        maxLatencyInMs:
          description: Maximum latency in ms.
          title: maxLatencyInMs
          type: integer
        minLatencyInMs:
          description: Minimum latency in ms.
          title: minLatencyInMs
          type: integer
        probesFailed:
          description: The number of failed probes.
          title: probesFailed
          type: integer
        probesSent:
          description: The number of sent probes.
          title: probesSent
          type: integer
        startTime:
          description: The start time of the connection snapshot.
          format: date-time
          title: startTime
          type: string
      title: ConnectionStateSnapshot
      type: object
    ConnectionMonitors_List_default_response_error:
      description: Common error details representation.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Error code.
          title: code
          type: string
        message:
          description: Error message.
          title: message
          type: string
        target:
          description: Error target.
          title: target
          type: string
      title: ConnectionMonitors_List_default_response_error
      type: object
    ConnectionMonitors_List_default_response:
      description: The error object.
      example:
        error:
          code: code
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ConnectionMonitors_List_default_response_error'
      title: ConnectionMonitors_List_default_response
      type: object
    ConnectionMonitors_UpdateTags_request:
      description: Tags object for patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      title: ConnectionMonitors_UpdateTags_request
      type: object
    ConnectionStateSnapshot_hops_inner_issues_inner:
      description: Information about an issue encountered in the process of checking
        for connectivity.
      example:
        severity: Error
        origin: Local
        context:
        - key: context
        - key: context
        type: Unknown
      properties:
        context:
          description: Provides additional context on the issue.
          items:
            additionalProperties:
              type: string
            description: A key-value pair that provides additional context on the
              issue.
            type: object
          readOnly: true
          title: context
          type: array
        origin:
          description: The origin of the issue.
          enum:
          - Local
          - Inbound
          - Outbound
          readOnly: true
          title: origin
          type: string
          x-ms-enum:
            modelAsString: true
            name: Origin
        severity:
          description: The severity of the issue.
          enum:
          - Error
          - Warning
          readOnly: true
          title: severity
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
        type:
          description: The type of issue.
          enum:
          - Unknown
          - AgentStopped
          - GuestFirewall
          - DnsResolution
          - SocketBind
          - NetworkSecurityRule
          - UserDefinedRoute
          - PortThrottled
          - Platform
          readOnly: true
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: IssueType
      title: ConnectionStateSnapshot_hops_inner_issues_inner
      type: object
    ConnectionStateSnapshot_hops_inner:
      description: Information about a hop between the source and the destination.
      example:
        resourceId: resourceId
        address: address
        nextHopIds:
        - nextHopIds
        - nextHopIds
        id: id
        type: type
        issues:
        - severity: Error
          origin: Local
          context:
          - key: context
          - key: context
          type: Unknown
        - severity: Error
          origin: Local
          context:
          - key: context
          - key: context
          type: Unknown
      properties:
        address:
          description: The IP address of the hop.
          readOnly: true
          title: address
          type: string
        id:
          description: The ID of the hop.
          readOnly: true
          title: id
          type: string
        issues:
          description: List of issues.
          items:
            $ref: '#/components/schemas/ConnectionStateSnapshot_hops_inner_issues_inner'
          readOnly: true
          title: issues
          type: array
        nextHopIds:
          description: List of next hop identifiers.
          items:
            type: string
          readOnly: true
          title: nextHopIds
          type: array
        resourceId:
          description: The ID of the resource corresponding to this hop.
          readOnly: true
          title: resourceId
          type: string
        type:
          description: The type of the hop.
          readOnly: true
          title: type
          type: string
      title: ConnectionStateSnapshot_hops_inner
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
