openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on logger entity Azure
    API Management deployment.The Logger entity in API Management represents an event
    sink that you can use to log API Management events. Currently the Logger entity
    supports logging API Management events to Azure EventHub.
  title: ApiManagementClient
  version: 2018-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimloggers.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimloggers
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/loggers
  : get:
      description: Lists a collection of loggers in the specified service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-log-event-hubs
      operationId: logger_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field | Supported operators    | Supported functions                         |
          |-------|------------------------|---------------------------------------------|
          | id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | type  | eq                     |                                             |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoggerCollection'
          description: Lists a collection of Logger entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logger_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementListLoggers:
          parameters:
            api-version: 2018-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/buffered111
                  name: buffered111
                  properties:
                    credentials:
                      connectionString: Endpoint=sb://apimaccounts.servicebus.windows.net/;SharedAccessKeyName=Send;SharedAccessKey=*******************h=****
                    description: Sample description
                    isBuffered: true
                    loggerType: azureEventHub
                  type: Microsoft.ApiManagement/service/loggers
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/loggerId
                  name: loggerId
                  properties:
                    credentials:
                      connectionString: "{{Logger-Credentials-59544ef2e4bbd50d9468c618}}"
                      name: hydraeventhub
                    description: adding a new logger
                    isBuffered: true
                    loggerType: azureEventHub
                  type: Microsoft.ApiManagement/service/loggers
      x-ms-odata: '#/definitions/LoggerContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.loggers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/loggers/{loggerid}
  : delete:
      description: Deletes the specified logger.
      operationId: logger_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The logger was successfully deleted.
        "204":
          content: {}
          description: The logger was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logger_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementDeleteLogger:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            loggerid: loggerId
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.loggers_controller
    get:
      description: Gets the details of the logger specified by its identifier.
      operationId: logger_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoggerContract'
          description: The response body contains the specified Logger entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logger_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementGetLogger:
          parameters:
            api-version: 2018-01-01
            loggerid: templateLogger
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/kloudapilogger1
                name: kloudapilogger1
                properties:
                  credentials:
                    connectionString: Endpoint=sb://eventhubapim.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=************
                    name: testeventhub4
                  description: testeventhub3again
                  isBuffered: true
                  loggerType: azureEventHub
                type: Microsoft.ApiManagement/service/loggers
      x-openapi-router-controller: openapi_server.controllers.loggers_controller
    head:
      description: Gets the entity state (Etag) version of the logger specified by
        its identifier.
      operationId: logger_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified logger entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logger_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementHeadLogger:
          parameters:
            api-version: 2018-01-01
            loggerid: templateLogger
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.loggers_controller
    patch:
      description: Updates an existing logger.
      operationId: logger_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoggerUpdateContract'
        description: Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The existing logger was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logger_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementUpdateLogger:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            loggerid: loggerId
            parameters:
              properties:
                credentials:
                  connectionString: Endpoint=sb://hydraeventhub-ns.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=********=
                  name: hydraeventhub
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.loggers_controller
    put:
      description: Creates or Updates a logger.
      operationId: logger_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 80
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoggerContract'
        description: Create parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoggerContract'
          description: The existing logger was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoggerContract'
          description: Logger was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logger_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementCreateAILogger:
          parameters:
            api-version: 2018-01-01
            loggerid: loggerId
            parameters:
              properties:
                credentials:
                  instrumentationKey: 11................a1
                description: adding a new logger
                loggerType: applicationInsights
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/loggerId
                name: loggerId
                properties:
                  credentials:
                    instrumentationKey: "{{5a.......2a}}"
                  isBuffered: false
                  loggerType: applicationInsights
                type: Microsoft.ApiManagement/service/loggers
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/loggerId
                name: loggerId
                properties:
                  credentials:
                    instrumentationKey: "{{5a.......2a}}"
                  isBuffered: false
                  loggerType: applicationInsights
                type: Microsoft.ApiManagement/service/loggers
        ApiManagementCreateEHLogger:
          parameters:
            api-version: 2018-01-01
            loggerid: loggerId
            parameters:
              properties:
                credentials:
                  connectionString: Endpoint=sb://hydraeventhub-ns.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=********=
                  name: hydraeventhub
                description: adding a new logger
                loggerType: azureEventHub
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/loggerId
                name: loggerId
                properties:
                  credentials:
                    connectionString: "{{59544ef2e4bbd50d9468c617}}"
                    name: hydraeventhub
                  description: adding a new logger
                  isBuffered: true
                  loggerType: azureEventHub
                type: Microsoft.ApiManagement/service/loggers
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/loggerId
                name: loggerId
                properties:
                  credentials:
                    connectionString: "{{59544ef2e4bbd50d9468c617}}"
                    name: hydraeventhub
                  description: adding a new logger
                  isBuffered: true
                  loggerType: azureEventHub
                type: Microsoft.ApiManagement/service/loggers
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.loggers_controller
components:
  parameters:
    LoggerIdParameter:
      description: Logger identifier. Must be unique in the API Management service
        instance.
      in: path
      name: loggerid
      required: true
      schema:
        maxLength: 80
        pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    LoggerCollection:
      description: Paged Logger list representation.
      example:
        count: 0
        value:
        - properties:
            loggerType: azureEventHub
            credentials:
              connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
              name: apim
            isBuffered: true
            description: description
        - properties:
            loggerType: azureEventHub
            credentials:
              connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
              name: apim
            isBuffered: true
            description: description
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          title: count
          type: integer
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Logger values.
          items:
            $ref: '#/components/schemas/LoggerContract'
          title: value
          type: array
      title: LoggerCollection
      type: object
    LoggerContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Logger details.
      example:
        properties:
          loggerType: azureEventHub
          credentials:
            connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
            name: apim
          isBuffered: true
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/LoggerContractProperties'
      title: LoggerContract
    LoggerContractProperties:
      description: The Logger entity in API Management represents an event sink that
        you can use to log API Management events. Currently the Logger entity supports
        logging API Management events to Azure Event Hubs.
      example:
        loggerType: azureEventHub
        credentials:
          connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
          name: apim
        isBuffered: true
        description: description
      properties:
        credentials:
          additionalProperties:
            type: string
          description: |-
            The name and SendRule connection string of the event hub for azureEventHub logger.
            Instrumentation key for applicationInsights logger.
          example:
            connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
            name: apim
          title: credentials
          type: object
        description:
          description: Logger description.
          maxLength: 256
          title: description
          type: string
        isBuffered:
          description: Whether records are buffered in the logger before publishing.
            Default is assumed to be true.
          title: isBuffered
          type: boolean
        loggerType:
          description: Logger type.
          enum:
          - azureEventHub
          - applicationInsights
          title: loggerType
          type: string
          x-ms-enum:
            modelAsString: true
            name: LoggerType
            values:
            - description: Azure Event Hub as log destination.
              value: azureEventHub
            - description: Azure Application Insights as log destination.
              value: applicationInsights
      required:
      - credentials
      - loggerType
      title: LoggerContractProperties
      type: object
    LoggerUpdateContract:
      description: Logger update contract.
      example:
        properties:
          loggerType: azureEventHub
          credentials:
            key: credentials
          isBuffered: true
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/LoggerUpdateParameters'
      title: LoggerUpdateContract
      type: object
    LoggerUpdateParameters:
      description: Parameters supplied to the Update Logger operation.
      example:
        loggerType: azureEventHub
        credentials:
          key: credentials
        isBuffered: true
        description: description
      properties:
        credentials:
          additionalProperties:
            type: string
          description: Logger credentials.
          title: credentials
          type: object
        description:
          description: Logger description.
          title: description
          type: string
        isBuffered:
          description: Whether records are buffered in the logger before publishing.
            Default is assumed to be true.
          title: isBuffered
          type: boolean
        loggerType:
          description: Logger type.
          enum:
          - azureEventHub
          - applicationInsights
          title: loggerType
          type: string
          x-ms-enum:
            modelAsString: true
            name: LoggerType
            values:
            - description: Azure Event Hub as log destination.
              value: azureEventHub
            - description: Azure Application Insights as log destination.
              value: applicationInsights
      title: LoggerUpdateParameters
      type: object
    Logger_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: Logger_ListByService_default_response_error_details_inner
      type: object
    Logger_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Logger_ListByService_default_response_error_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: Logger_ListByService_default_response_error
      type: object
    Logger_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Logger_ListByService_default_response_error'
      title: Logger_ListByService_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
