openapi: 3.0.1
info:
  description: "The Microsoft Azure management API provides create, read, update,\
    \ and delete functionality for Azure MariaDB resources including servers, databases,\
    \ firewall rules, VNET rules, security alert policies, log files and configurations\
    \ with new business model."
  title: MariaDBManagementClient
  version: 2018-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01/PrivateLinkResources.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: mariadb-PrivateLinkResources
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/privateLinkResources
  : get:
      description: Gets the private link resources for MariaDB server.
      operationId: private_link_resources_list_by_server
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
          description: Successfully retrieved private link resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateLinkResources
      x-ms-examples:
        Gets private link resources for MariaDB.:
          parameters:
            api-version: 2018-06-01
            resourceGroupName: Default
            serverName: test-svr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMariaDB/servers/test-svr/privateLinkResources/plr
                  name: plr
                  properties:
                    groupId: mariadbServer
                    requiredMembers:
                    - mariadbServer
                  type: Microsoft.DBforMariaDB/servers/privateLinkResources
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.private_link_resources_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/privateLinkResources/{groupName}
  : get:
      description: Gets a private link resource for MariaDB server.
      operationId: private_link_resources_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the private link resource.
        in: path
        name: groupName
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
          description: Successfully retrieved private link resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateLinkResources
      x-ms-examples:
        Gets a private link resource for MariaDB.:
          parameters:
            api-version: 2018-06-01
            groupName: plr
            resourceGroupName: Default
            serverName: test-svr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMariaDB/servers/test-svr/privateLinkResources/plr
                name: plr
                properties:
                  groupId: mariadbServer
                  requiredMembers:
                  - mariadbServer
                type: Microsoft.DBforMariaDB/servers/privateLinkResources
      x-openapi-router-controller: openapi_server.controllers.private_link_resources_controller
components:
  parameters:
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    CloudError:
      description: An error response from the Batch service.
      example:
        error:
          code: code
          additionalInfo:
          - type: type
            info: "{}"
          - type: type
            info: "{}"
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudError_error'
      title: CloudError
      type: object
      x-ms-external: true
    ErrorResponse:
      title: ErrorResponse
      type: object
    PrivateLinkResource:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource. It will
          have everything other than required location and tags
      description: A private link resource
      example:
        properties:
          requiredMembers:
          - requiredMembers
          - requiredMembers
          groupId: groupId
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
      title: PrivateLinkResource
    PrivateLinkResourceListResult:
      description: A list of private link resources
      example:
        value:
        - properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            groupId: groupId
        - properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            groupId: groupId
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          readOnly: true
          title: value
          type: array
      title: PrivateLinkResourceListResult
      type: object
    PrivateLinkResourceProperties:
      description: Properties of a private link resource.
      example:
        requiredMembers:
        - requiredMembers
        - requiredMembers
        groupId: groupId
      properties:
        groupId:
          description: The private link resource group id.
          readOnly: true
          title: groupId
          type: string
        requiredMembers:
          description: The private link resource required member names.
          items:
            type: string
          readOnly: true
          title: requiredMembers
          type: array
      title: PrivateLinkResourceProperties
      type: object
    CloudError_error_additionalInfo_inner:
      description: The resource management error additional info.
      example:
        type: type
        info: "{}"
      properties:
        info:
          description: The additional info.
          properties: {}
          readOnly: true
          title: info
          type: object
        type:
          description: The additional info type.
          readOnly: true
          title: type
          type: string
      title: CloudError_error_additionalInfo_inner
      type: object
    CloudError_error:
      description: The resource management error response.
      example:
        code: code
        additionalInfo:
        - type: type
          info: "{}"
        - type: type
          info: "{}"
        details:
        - null
        - null
        message: message
        target: target
      properties:
        additionalInfo:
          description: The error additional info.
          items:
            $ref: '#/components/schemas/CloudError_error_additionalInfo_inner'
          readOnly: true
          title: additionalInfo
          type: array
        code:
          description: The error code.
          readOnly: true
          title: code
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/ErrorResponse'
          readOnly: true
          title: details
          type: array
        message:
          description: The error message.
          readOnly: true
          title: message
          type: string
        target:
          description: The error target.
          readOnly: true
          title: target
          type: string
      title: CloudError_error
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
