openapi: 3.0.1
info:
  description: This Swagger was generated by the API Framework.
  title: Azure Media Services
  version: 2018-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-05-01-preview/StreamingPoliciesAndStreamingLocators.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: mediaservices-StreamingPoliciesAndStreamingLocators
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/streamingLocators
  : get:
      description: Lists the Streaming Locators in the account
      operationId: streaming_locators_list
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Restricts the set of items returned.
        in: query
        name: $filter
        schema:
          type: string
      - description: Specifies a non-negative integer n that limits the number of
          items returned from a collection. The service returns the number of available
          items up to but not greater than the specified value n.
        in: query
        name: $top
        schema:
          type: integer
      - description: Specifies the key by which the result collection should be ordered.
        in: query
        name: $orderby
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingLocatorCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: List Streaming Locators
      x-ms-examples:
        Lists Streaming Locators:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingLocators/clearStreamingLocator
                  name: clearStreamingLocator
                  properties:
                    assetName: ClimbingMountRainier
                    contentKeys: []
                    created: 2018-08-08T18:29:31.9341192Z
                    endTime: 9999-12-31T23:59:59.9999999Z
                    streamingLocatorId: 6a116ec6-0c85-441f-9c31-89a5bc3adf0a
                    streamingPolicyName: clearStreamingPolicy
                  type: Microsoft.Media/mediaservices/streamingLocators
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingLocators/secureStreamingLocator
                  name: secureStreamingLocator
                  properties:
                    assetName: ClimbingMountRainier
                    contentKeys: []
                    created: 2018-08-08T18:29:31.9544387Z
                    endTime: 9999-12-31T23:59:59.9999999Z
                    streamingLocatorId: 7338ef90-ffc8-42de-8bff-de8f99973300
                    streamingPolicyName: secureStreamingPolicy
                  type: Microsoft.Media/mediaservices/streamingLocators
      x-ms-odata: '#/definitions/StreamingLocator'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/streamingLocators/{streamingLocatorName}
  : delete:
      description: Deletes a Streaming Locator in the Media Services account
      operationId: streaming_locators_delete
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Streaming Locator name.
        in: path
        name: streamingLocatorName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Delete a Streaming Locator
      x-ms-examples:
        Delete a Streaming Locator:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contoso
            streamingLocatorName: clearStreamingLocator
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Get the details of a Streaming Locator in the Media Services account
      operationId: streaming_locators_get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Streaming Locator name.
        in: path
        name: streamingLocatorName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingLocator'
          description: OK
        "404":
          content: {}
          description: NotFound
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Get a Streaming Locator
      x-ms-examples:
        Get a Streaming Locator by name:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contoso
            streamingLocatorName: clearStreamingLocator
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingLocators/clearStreamingLocator
                name: clearStreamingLocator
                properties:
                  assetName: ClimbingMountRainier
                  contentKeys: []
                  created: 2018-08-08T18:29:32.1154071Z
                  endTime: 9999-12-31T23:59:59.9999999Z
                  filters: []
                  streamingLocatorId: 7684043b-f6d1-44a7-8bed-8a4aa474c5a4
                  streamingPolicyName: clearStreamingPolicy
                type: Microsoft.Media/mediaservices/streamingLocators
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Create a Streaming Locator in the Media Services account
      operationId: streaming_locators_create
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Streaming Locator name.
        in: path
        name: streamingLocatorName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamingLocator'
        description: The request parameters
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingLocator'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Create a Streaming Locator
      x-ms-examples:
        Creates a Streaming Locator with clear streaming:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            parameters:
              properties:
                assetName: ClimbingMountRainier
                streamingPolicyName: clearStreamingPolicy
            resourceGroupName: contoso
            streamingLocatorName: UserCreatedClearStreamingLocator
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingLocators/UserCreatedClearStreamingLocator
                name: UserCreatedClearStreamingLocator
                properties:
                  assetName: ClimbingMountRainier
                  contentKeys: []
                  created: 2019-06-06T17:28:03.7992857Z
                  endTime: 9999-12-31T23:59:59.9999999Z
                  filters: []
                  streamingLocatorId: 7ccb6b56-686c-4d93-a267-8117ee145878
                  streamingPolicyName: clearStreamingPolicy
                type: Microsoft.Media/mediaservices/streamingLocators
        Creates a Streaming Locator with secure streaming:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            parameters:
              properties:
                assetName: ClimbingMountRainier
                endTime: 2028-12-31T23:59:59.9999999Z
                startTime: 2018-03-01T00:00:00Z
                streamingPolicyName: secureStreamingPolicy
            resourceGroupName: contoso
            streamingLocatorName: UserCreatedSecureStreamingLocator
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingLocators/UserCreatedSecureStreamingLocator
                name: UserCreatedSecureStreamingLocator
                properties:
                  assetName: ClimbingMountRainier
                  contentKeys:
                  - id: 41ddc803-579c-4fe8-b298-b37be5924d9e
                    labelReferenceInStreamingPolicy: cbcsDefaultKey
                    tracks: []
                    type: CommonEncryptionCbcs
                  - id: 68a5fd6e-ed9e-4cdf-b276-40304299dc4a
                    labelReferenceInStreamingPolicy: cencDefaultKey
                    tracks: []
                    type: CommonEncryptionCenc
                  - id: bfb7cbf3-5834-4d43-a87d-f25ed1b88ed3
                    labelReferenceInStreamingPolicy: aesDefaultKey
                    tracks: []
                    type: EnvelopeEncryption
                  created: 2019-06-06T17:28:03.9392829Z
                  endTime: 2028-12-31T23:59:59.9999999Z
                  filters: []
                  startTime: 2018-03-01T00:00:00Z
                  streamingLocatorId: 1f5db621-0c21-43d7-a340-2b143d62d4e7
                  streamingPolicyName: secureStreamingPolicy
                type: Microsoft.Media/mediaservices/streamingLocators
        Creates a Streaming Locator with user defined content keys:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            parameters:
              properties:
                assetName: ClimbingMountRainier
                contentKeys:
                - id: 60000000-0000-0000-0000-000000000001
                  labelReferenceInStreamingPolicy: aesDefaultKey
                  value: 1UqLohAfWsEGkULYxHjYZg==
                - id: 60000000-0000-0000-0000-000000000004
                  labelReferenceInStreamingPolicy: cencDefaultKey
                  value: 4UqLohAfWsEGkULYxHjYZg==
                - id: 60000000-0000-0000-0000-000000000007
                  labelReferenceInStreamingPolicy: cbcsDefaultKey
                  value: 7UqLohAfWsEGkULYxHjYZg==
                streamingLocatorId: 90000000-0000-0000-0000-00000000000A
                streamingPolicyName: secureStreamingPolicy
            resourceGroupName: contoso
            streamingLocatorName: UserCreatedSecureStreamingLocatorWithUserDefinedContentKeys
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingLocators/UserCreatedSecureStreamingLocatorWithUserDefinedContentKeys
                name: UserCreatedSecureStreamingLocatorWithUserDefinedContentKeys
                properties:
                  assetName: ClimbingMountRainier
                  contentKeys:
                  - id: 60000000-0000-0000-0000-000000000007
                    labelReferenceInStreamingPolicy: cbcsDefaultKey
                    tracks: []
                    type: CommonEncryptionCbcs
                  - id: 60000000-0000-0000-0000-000000000004
                    labelReferenceInStreamingPolicy: cencDefaultKey
                    tracks: []
                    type: CommonEncryptionCenc
                  - id: 60000000-0000-0000-0000-000000000001
                    labelReferenceInStreamingPolicy: aesDefaultKey
                    tracks: []
                    type: EnvelopeEncryption
                  created: 2019-06-06T18:00:49.849356Z
                  endTime: 9999-12-31T23:59:59.9999999Z
                  filters: []
                  streamingLocatorId: 90000000-0000-0000-0000-00000000000a
                  streamingPolicyName: secureStreamingPolicy
                type: Microsoft.Media/mediaservices/streamingLocators
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/streamingLocators/{streamingLocatorName}/listContentKeys
  : post:
      description: List Content Keys used by this Streaming Locator
      operationId: streaming_locators_list_content_keys
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Streaming Locator name.
        in: path
        name: streamingLocatorName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContentKeysResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: List Content Keys
      x-ms-examples:
        List Content Keys:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contoso
            streamingLocatorName: secureStreamingLocator
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                contentKeys:
                - id: 9259eb06-eeee-4f77-987f-48f4ea5c649f
                  labelReferenceInStreamingPolicy: aesDefaultKey
                  policyName: PolicyWithMultipleOptions
                  tracks: []
                  type: EnvelopeEncryption
                  value: QpiqeQROdN5xamnfUF2Wdw==
                - id: 06bfeff1-2bb6-4f58-af27-a2767f058bca
                  labelReferenceInStreamingPolicy: cencDefaultKey
                  policyName: PolicyWithMultipleOptions
                  tracks: []
                  type: CommonEncryptionCenc
                  value: ZjgWhNnqnqcov/h+wrYusw==
                - id: 799e78a0-ed6f-4179-9222-ed4ec4223cec
                  labelReferenceInStreamingPolicy: cbcsDefaultKey
                  policyName: PolicyWithMultipleOptions
                  tracks: []
                  type: CommonEncryptionCbcs
                  value: FjZ3n3yRcVxRFftdYFbe9g==
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/streamingLocators/{streamingLocatorName}/listPaths
  : post:
      description: List Paths supported by this Streaming Locator
      operationId: streaming_locators_list_paths
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Streaming Locator name.
        in: path
        name: streamingLocatorName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPathsResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: List Paths
      x-ms-examples:
        List Paths which has streaming paths and download paths:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contoso
            streamingLocatorName: clearStreamingLocator
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                downloadPaths:
                - /262a87b6-b538-4657-bac1-b6897924471d/textTrack.vtt
                - /262a87b6-b538-4657-bac1-b6897924471d/video1.mp4
                - /262a87b6-b538-4657-bac1-b6897924471d/video2.mp4
                - /262a87b6-b538-4657-bac1-b6897924471d/video3.mp4
                streamingPaths:
                - encryptionScheme: NoEncryption
                  paths:
                  - /262a87b6-b538-4657-bac1-b6897924471d/videoManifest1.ism/manifest(format=m3u8-aapl)
                  - /262a87b6-b538-4657-bac1-b6897924471d/videoManifest2.ism/manifest(format=m3u8-aapl)
                  - /262a87b6-b538-4657-bac1-b6897924471d/videoManifest3.ism/manifest(format=m3u8-aapl)
                  streamingProtocol: Hls
                - encryptionScheme: NoEncryption
                  paths:
                  - /262a87b6-b538-4657-bac1-b6897924471d/videoManifest1.ism/manifest(format=mpd-time-csf)
                  - /262a87b6-b538-4657-bac1-b6897924471d/videoManifest2.ism/manifest(format=mpd-time-csf)
                  - /262a87b6-b538-4657-bac1-b6897924471d/videoManifest3.ism/manifest(format=mpd-time-csf)
                  streamingProtocol: Dash
                - encryptionScheme: NoEncryption
                  paths:
                  - /262a87b6-b538-4657-bac1-b6897924471d/videoManifest1.ism/manifest
                  - /262a87b6-b538-4657-bac1-b6897924471d/videoManifest2.ism/manifest
                  - /262a87b6-b538-4657-bac1-b6897924471d/videoManifest3.ism/manifest
                  streamingProtocol: SmoothStreaming
        List Paths which has streaming paths only:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contoso
            streamingLocatorName: secureStreamingLocator
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                downloadPaths: []
                streamingPaths:
                - encryptionScheme: EnvelopeEncryption
                  paths:
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest1.ism/manifest(format=m3u8-aapl,encryption=cbc)"
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest2.ism/manifest(format=m3u8-aapl,encryption=cbc)"
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest3.ism/manifest(format=m3u8-aapl,encryption=cbc)"
                  streamingProtocol: Hls
                - encryptionScheme: EnvelopeEncryption
                  paths:
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest1.ism/manifest(format=mpd-time-csf,encryption=cbc)"
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest2.ism/manifest(format=mpd-time-csf,encryption=cbc)"
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest3.ism/manifest(format=mpd-time-csf,encryption=cbc)"
                  streamingProtocol: Dash
                - encryptionScheme: EnvelopeEncryption
                  paths:
                  - /c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest1.ism/manifest(encryption=cbc)
                  - /c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest2.ism/manifest(encryption=cbc)
                  - /c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest3.ism/manifest(encryption=cbc)
                  streamingProtocol: SmoothStreaming
                - encryptionScheme: CommonEncryptionCenc
                  paths:
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest1.ism/manifest(format=mpd-time-csf,encryption=cenc)"
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest2.ism/manifest(format=mpd-time-csf,encryption=cenc)"
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest3.ism/manifest(format=mpd-time-csf,encryption=cenc)"
                  streamingProtocol: Dash
                - encryptionScheme: CommonEncryptionCenc
                  paths:
                  - /c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest1.ism/manifest(encryption=cenc)
                  - /c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest2.ism/manifest(encryption=cenc)
                  - /c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest3.ism/manifest(encryption=cenc)
                  streamingProtocol: SmoothStreaming
                - encryptionScheme: CommonEncryptionCbcs
                  paths:
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest1.ism/manifest(format=m3u8-aapl,encryption=cbcs-aapl)"
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest2.ism/manifest(format=m3u8-aapl,encryption=cbcs-aapl)"
                  - "/c3cd62e3-d117-4619-bcbd-99f96edd8dbe/videoManifest3.ism/manifest(format=m3u8-aapl,encryption=cbcs-aapl)"
                  streamingProtocol: Hls
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/streamingPolicies
  : get:
      description: Lists the Streaming Policies in the account
      operationId: streaming_policies_list
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Restricts the set of items returned.
        in: query
        name: $filter
        schema:
          type: string
      - description: Specifies a non-negative integer n that limits the number of
          items returned from a collection. The service returns the number of available
          items up to but not greater than the specified value n.
        in: query
        name: $top
        schema:
          type: integer
      - description: Specifies the key by which the result collection should be ordered.
        in: query
        name: $orderby
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingPolicyCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: List Streaming Policies
      x-ms-examples:
        Lists Streaming Policies:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                '@odata.nextLink': http://server/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaServices/contosomedia/streamingPolicies?api-version=2018-07-01&$skiptoken=secureStreamingPolicyWithEnvelopeEncryptionOnly
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingPolicies/clearStreamingPolicy
                  name: clearStreamingPolicy
                  properties:
                    created: 2018-08-08T18:29:30.676067Z
                    noEncryption:
                      enabledProtocols:
                        dash: true
                        download: true
                        hls: true
                        smoothStreaming: true
                  type: Microsoft.Media/mediaservices/streamingPolicies
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingPolicies/secureStreamingPolicy
                  name: secureStreamingPolicy
                  properties:
                    commonEncryptionCbcs:
                      clearTracks: []
                      contentKeys:
                        defaultKey:
                          label: cbcsDefaultKey
                        keyToTrackMappings: []
                      drm:
                        fairPlay:
                          allowPersistentLicense: true
                          customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/fairplay/{ContentKeyId}"
                      enabledProtocols:
                        dash: false
                        download: false
                        hls: true
                        smoothStreaming: false
                    commonEncryptionCenc:
                      clearTracks:
                      - trackSelections:
                        - operation: Unknown
                          property: FourCC
                          value: hev1
                      contentKeys:
                        defaultKey:
                          label: cencDefaultKey
                        keyToTrackMappings: []
                      drm:
                        playReady:
                          customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/playready/{ContentKeyId}"
                          playReadyCustomAttributes: PlayReady CustomAttributes
                        widevine:
                          customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/widevine/{ContentKeyId"
                      enabledProtocols:
                        dash: true
                        download: false
                        hls: false
                        smoothStreaming: true
                    created: 2018-08-08T18:29:30.6781134Z
                    defaultContentKeyPolicyName: PolicyWithMultipleOptions
                    envelopeEncryption:
                      clearTracks: []
                      contentKeys:
                        defaultKey:
                          label: aesDefaultKey
                        keyToTrackMappings: []
                      customKeyAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/envelope/{ContentKeyId}"
                      enabledProtocols:
                        dash: true
                        download: false
                        hls: true
                        smoothStreaming: true
                  type: Microsoft.Media/mediaservices/streamingPolicies
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingPolicies/secureStreamingPolicyWithCommonEncryptionCbcsOnly
                  name: secureStreamingPolicyWithCommonEncryptionCbcsOnly
                  properties:
                    commonEncryptionCbcs:
                      clearTracks: []
                      contentKeys:
                        defaultKey:
                          label: cbcsDefaultKey
                        keyToTrackMappings: []
                      drm:
                        fairPlay:
                          allowPersistentLicense: true
                          customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/fairplay/{ContentKeyId}"
                      enabledProtocols:
                        dash: false
                        download: false
                        hls: true
                        smoothStreaming: false
                    created: 2018-08-08T18:29:30.6781134Z
                    defaultContentKeyPolicyName: PolicyWithMultipleOptions
                  type: Microsoft.Media/mediaservices/streamingPolicies
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingPolicies/secureStreamingPolicyWithCommonEncryptionCencOnly
                  name: secureStreamingPolicyWithCommonEncryptionCencOnly
                  properties:
                    commonEncryptionCenc:
                      clearTracks:
                      - trackSelections:
                        - operation: Unknown
                          property: FourCC
                          value: hev1
                      contentKeys:
                        defaultKey:
                          label: cencDefaultKey
                        keyToTrackMappings: []
                      drm:
                        playReady:
                          customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/playready/{ContentKeyId}"
                          playReadyCustomAttributes: PlayReady CustomAttributes
                        widevine:
                          customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/widevine/{ContentKeyId"
                      enabledProtocols:
                        dash: true
                        download: false
                        hls: false
                        smoothStreaming: true
                    created: 2018-08-08T18:29:30.6781134Z
                    defaultContentKeyPolicyName: PolicyWithMultipleOptions
                  type: Microsoft.Media/mediaservices/streamingPolicies
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingPolicies/secureStreamingPolicyWithEnvelopeEncryptionOnly
                  name: secureStreamingPolicyWithEnvelopeEncryptionOnly
                  properties:
                    created: 2018-08-08T18:29:30.6781134Z
                    defaultContentKeyPolicyName: PolicyWithClearKeyOptionAndTokenRestriction
                    envelopeEncryption:
                      clearTracks: []
                      contentKeys:
                        defaultKey:
                          label: aesDefaultKey
                        keyToTrackMappings: []
                      customKeyAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/envelope/{ContentKeyId}"
                      enabledProtocols:
                        dash: true
                        download: false
                        hls: true
                        smoothStreaming: true
                  type: Microsoft.Media/mediaservices/streamingPolicies
      x-ms-odata: '#/definitions/StreamingPolicy'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/streamingPolicies/{streamingPolicyName}
  : delete:
      description: Deletes a Streaming Policy in the Media Services account
      operationId: streaming_policies_delete
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Streaming Policy name.
        in: path
        name: streamingPolicyName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Delete a Streaming Policy
      x-ms-examples:
        Delete a Streaming Policy:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contoso
            streamingPolicyName: secureStreamingPolicyWithCommonEncryptionCbcsOnly
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Get the details of a Streaming Policy in the Media Services account
      operationId: streaming_policies_get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Streaming Policy name.
        in: path
        name: streamingPolicyName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingPolicy'
          description: OK
        "404":
          content: {}
          description: NotFound
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Get a Streaming Policy
      x-ms-examples:
        Get a Streaming Policy by name:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contoso
            streamingPolicyName: clearStreamingPolicy
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingPolicies/clearStreamingPolicy
                name: clearStreamingPolicy
                properties:
                  created: 2018-08-08T18:29:30.8501486Z
                  noEncryption:
                    enabledProtocols:
                      dash: true
                      download: true
                      hls: true
                      smoothStreaming: true
                type: Microsoft.Media/mediaservices/streamingPolicies
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Create a Streaming Policy in the Media Services account
      operationId: streaming_policies_create
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: account_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Streaming Policy name.
        in: path
        name: streamingPolicyName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamingPolicy'
        description: The request parameters
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingPolicy'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Create a Streaming Policy
      x-ms-examples:
        Creates a Streaming Policy with clear streaming:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            parameters:
              properties:
                noEncryption:
                  enabledProtocols:
                    dash: true
                    download: true
                    hls: true
                    smoothStreaming: true
            resourceGroupName: contoso
            streamingPolicyName: UserCreatedClearStreamingPolicy
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingPolicies/UserCreatedClearStreamingPolicy
                name: UserCreatedClearStreamingPolicy
                properties:
                  created: 2018-08-08T18:29:31.1535417Z
                  noEncryption:
                    enabledProtocols:
                      dash: true
                      download: true
                      hls: true
                      smoothStreaming: true
                type: Microsoft.Media/mediaservices/streamingPolicies
        Creates a Streaming Policy with commonEncryptionCbcs only:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            parameters:
              properties:
                commonEncryptionCbcs:
                  contentKeys:
                    defaultKey:
                      label: cbcsDefaultKey
                  drm:
                    fairPlay:
                      allowPersistentLicense: true
                      customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/fairplay/{ContentKeyId}"
                  enabledProtocols:
                    dash: false
                    download: false
                    hls: true
                    smoothStreaming: false
                defaultContentKeyPolicyName: PolicyWithMultipleOptions
            resourceGroupName: contoso
            streamingPolicyName: UserCreatedSecureStreamingPolicyWithCommonEncryptionCbcsOnly
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingPolicies/UserCreatedSecureStreamingPolicyWithCommonEncryptionCbcsOnly
                name: UserCreatedSecureStreamingPolicyWithCommonEncryptionCbcsOnly
                properties:
                  commonEncryptionCbcs:
                    clearTracks: []
                    contentKeys:
                      defaultKey:
                        label: cbcsDefaultKey
                      keyToTrackMappings: []
                    drm:
                      fairPlay:
                        allowPersistentLicense: true
                        customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/fairplay/{ContentKeyId}"
                    enabledProtocols:
                      dash: false
                      download: false
                      hls: true
                      smoothStreaming: false
                  created: 2018-08-08T18:29:31.6197199Z
                  defaultContentKeyPolicyName: PolicyWithMultipleOptions
                type: Microsoft.Media/mediaservices/streamingPolicies
        Creates a Streaming Policy with commonEncryptionCenc only:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            parameters:
              properties:
                commonEncryptionCenc:
                  clearTracks:
                  - trackSelections:
                    - operation: Equal
                      property: FourCC
                      value: hev1
                  contentKeys:
                    defaultKey:
                      label: cencDefaultKey
                  drm:
                    playReady:
                      customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/playready/{ContentKeyId}"
                      playReadyCustomAttributes: PlayReady CustomAttributes
                    widevine:
                      customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/widevine/{ContentKeyId"
                  enabledProtocols:
                    dash: true
                    download: false
                    hls: false
                    smoothStreaming: true
                defaultContentKeyPolicyName: PolicyWithPlayReadyOptionAndOpenRestriction
            resourceGroupName: contoso
            streamingPolicyName: UserCreatedSecureStreamingPolicyWithCommonEncryptionCencOnly
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingPolicies/UserCreatedSecureStreamingPolicyWithCommonEncryptionCencOnly
                name: UserCreatedSecureStreamingPolicyWithCommonEncryptionCencOnly
                properties:
                  commonEncryptionCenc:
                    clearTracks:
                    - trackSelections:
                      - operation: Equal
                        property: FourCC
                        value: hev1
                    contentKeys:
                      defaultKey:
                        label: cencDefaultKey
                      keyToTrackMappings: []
                    drm:
                      playReady:
                        customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/playready/{ContentKeyId}"
                        playReadyCustomAttributes: PlayReady CustomAttributes
                      widevine:
                        customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/widevine/{ContentKeyId"
                    enabledProtocols:
                      dash: true
                      download: false
                      hls: false
                      smoothStreaming: true
                  created: 2018-08-08T18:29:31.4678543Z
                  defaultContentKeyPolicyName: PolicyWithPlayReadyOptionAndOpenRestriction
                type: Microsoft.Media/mediaservices/streamingPolicies
        Creates a Streaming Policy with envelopeEncryption only:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            parameters:
              properties:
                defaultContentKeyPolicyName: PolicyWithClearKeyOptionAndTokenRestriction
                envelopeEncryption:
                  contentKeys:
                    defaultKey:
                      label: aesDefaultKey
                  customKeyAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/envelope/{ContentKeyId}"
                  enabledProtocols:
                    dash: true
                    download: false
                    hls: true
                    smoothStreaming: true
            resourceGroupName: contoso
            streamingPolicyName: UserCreatedSecureStreamingPolicyWithEnvelopeEncryptionOnly
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingPolicies/UserCreatedSecureStreamingPolicyWithEnvelopeEncryptionOnly
                name: UserCreatedSecureStreamingPolicyWithEnvelopeEncryptionOnly
                properties:
                  created: 2018-08-08T18:29:31.3055712Z
                  defaultContentKeyPolicyName: PolicyWithClearKeyOptionAndTokenRestriction
                  envelopeEncryption:
                    clearTracks: []
                    contentKeys:
                      defaultKey:
                        label: aesDefaultKey
                      keyToTrackMappings: []
                    customKeyAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/envelope/{ContentKeyId}"
                    enabledProtocols:
                      dash: true
                      download: false
                      hls: true
                      smoothStreaming: true
                type: Microsoft.Media/mediaservices/streamingPolicies
        Creates a Streaming Policy with secure streaming:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            parameters:
              properties:
                commonEncryptionCbcs:
                  contentKeys:
                    defaultKey:
                      label: cbcsDefaultKey
                  drm:
                    fairPlay:
                      allowPersistentLicense: true
                      customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/fairplay/{ContentKeyId}"
                  enabledProtocols:
                    dash: false
                    download: false
                    hls: true
                    smoothStreaming: false
                commonEncryptionCenc:
                  clearTracks:
                  - trackSelections:
                    - operation: Equal
                      property: FourCC
                      value: hev1
                  contentKeys:
                    defaultKey:
                      label: cencDefaultKey
                  drm:
                    playReady:
                      customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/playready/{ContentKeyId}"
                      playReadyCustomAttributes: PlayReady CustomAttributes
                    widevine:
                      customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/widevine/{ContentKeyId"
                  enabledProtocols:
                    dash: true
                    download: false
                    hls: false
                    smoothStreaming: true
                defaultContentKeyPolicyName: PolicyWithMultipleOptions
                envelopeEncryption:
                  contentKeys:
                    defaultKey:
                      label: aesDefaultKey
                  customKeyAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/envelope/{ContentKeyId}"
                  enabledProtocols:
                    dash: true
                    download: false
                    hls: true
                    smoothStreaming: true
            resourceGroupName: contoso
            streamingPolicyName: UserCreatedSecureStreamingPolicy
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/streamingPolicies/UserCreatedSecureStreamingPolicy
                name: UserCreatedSecureStreamingPolicy
                properties:
                  commonEncryptionCbcs:
                    clearTracks: []
                    contentKeys:
                      defaultKey:
                        label: cbcsDefaultKey
                      keyToTrackMappings: []
                    drm:
                      fairPlay:
                        allowPersistentLicense: true
                        customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/fairplay/{ContentKeyId}"
                    enabledProtocols:
                      dash: false
                      download: false
                      hls: true
                      smoothStreaming: false
                  commonEncryptionCenc:
                    clearTracks:
                    - trackSelections:
                      - operation: Equal
                        property: FourCC
                        value: hev1
                    contentKeys:
                      defaultKey:
                        label: cencDefaultKey
                      keyToTrackMappings: []
                    drm:
                      playReady:
                        customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/playready/{ContentKeyId}"
                        playReadyCustomAttributes: PlayReady CustomAttributes
                      widevine:
                        customLicenseAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/widevine/{ContentKeyId"
                    enabledProtocols:
                      dash: true
                      download: false
                      hls: false
                      smoothStreaming: true
                  created: 2018-08-08T18:29:31.7715696Z
                  defaultContentKeyPolicyName: PolicyWithMultipleOptions
                  envelopeEncryption:
                    clearTracks: []
                    contentKeys:
                      defaultKey:
                        label: aesDefaultKey
                      keyToTrackMappings: []
                    customKeyAcquisitionUrlTemplate: "https://contoso.com/{AssetAlternativeId}/envelope/{ContentKeyId}"
                    enabledProtocols:
                      dash: true
                      download: false
                      hls: true
                      smoothStreaming: true
                type: Microsoft.Media/mediaservices/streamingPolicies
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ApiVersion:
      description: The Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    MediaServicesAccountName:
      description: The Media Services account name.
      in: path
      name: accountName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupName:
      description: The name of the resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The unique identifier for a Microsoft Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiError:
      description: The API error.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ODataError'
      title: ApiError
      type: object
    CbcsDrmConfiguration:
      description: Class to specify DRM configurations of CommonEncryptionCbcs scheme
        in Streaming Policy
      example:
        fairPlay:
          allowPersistentLicense: true
          customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
        playReady:
          playReadyCustomAttributes: playReadyCustomAttributes
          customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
        widevine:
          customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
      properties:
        fairPlay:
          $ref: '#/components/schemas/StreamingPolicyFairPlayConfiguration'
        playReady:
          $ref: '#/components/schemas/StreamingPolicyPlayReadyConfiguration'
        widevine:
          $ref: '#/components/schemas/StreamingPolicyWidevineConfiguration'
      title: CbcsDrmConfiguration
      type: object
    CencDrmConfiguration:
      description: Class to specify DRM configurations of CommonEncryptionCenc scheme
        in Streaming Policy
      example:
        playReady:
          playReadyCustomAttributes: playReadyCustomAttributes
          customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
        widevine:
          customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
      properties:
        playReady:
          $ref: '#/components/schemas/StreamingPolicyPlayReadyConfiguration'
        widevine:
          $ref: '#/components/schemas/StreamingPolicyWidevineConfiguration'
      title: CencDrmConfiguration
      type: object
    CommonEncryptionCbcs:
      description: Class for CommonEncryptionCbcs encryption scheme
      example:
        enabledProtocols:
          download: true
          smoothStreaming: true
          dash: true
          hls: true
        contentKeys:
          keyToTrackMappings:
          - policyName: policyName
            label: label
            tracks:
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
          - policyName: policyName
            label: label
            tracks:
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
          defaultKey:
            policyName: policyName
            label: label
        clearTracks:
        - trackSelections:
          - property: Unknown
            operation: Unknown
            value: value
          - property: Unknown
            operation: Unknown
            value: value
        - trackSelections:
          - property: Unknown
            operation: Unknown
            value: value
          - property: Unknown
            operation: Unknown
            value: value
        drm:
          fairPlay:
            allowPersistentLicense: true
            customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
          playReady:
            playReadyCustomAttributes: playReadyCustomAttributes
            customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
          widevine:
            customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
      properties:
        clearTracks:
          description: Representing which tracks should not be encrypted
          items:
            $ref: '#/components/schemas/TrackSelection'
          title: clearTracks
          type: array
        contentKeys:
          $ref: '#/components/schemas/StreamingPolicyContentKeys'
        drm:
          $ref: '#/components/schemas/CbcsDrmConfiguration'
        enabledProtocols:
          $ref: '#/components/schemas/EnabledProtocols'
      title: CommonEncryptionCbcs
      type: object
    CommonEncryptionCenc:
      description: Class for envelope encryption scheme
      example:
        enabledProtocols:
          download: true
          smoothStreaming: true
          dash: true
          hls: true
        contentKeys:
          keyToTrackMappings:
          - policyName: policyName
            label: label
            tracks:
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
          - policyName: policyName
            label: label
            tracks:
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
          defaultKey:
            policyName: policyName
            label: label
        clearTracks:
        - trackSelections:
          - property: Unknown
            operation: Unknown
            value: value
          - property: Unknown
            operation: Unknown
            value: value
        - trackSelections:
          - property: Unknown
            operation: Unknown
            value: value
          - property: Unknown
            operation: Unknown
            value: value
        drm:
          playReady:
            playReadyCustomAttributes: playReadyCustomAttributes
            customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
          widevine:
            customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
      properties:
        clearTracks:
          description: Representing which tracks should not be encrypted
          items:
            $ref: '#/components/schemas/TrackSelection'
          title: clearTracks
          type: array
        contentKeys:
          $ref: '#/components/schemas/StreamingPolicyContentKeys'
        drm:
          $ref: '#/components/schemas/CencDrmConfiguration'
        enabledProtocols:
          $ref: '#/components/schemas/EnabledProtocols'
      title: CommonEncryptionCenc
      type: object
    DefaultKey:
      description: Class to specify properties of default content key for each encryption
        scheme
      example:
        policyName: policyName
        label: label
      properties:
        label:
          description: Label can be used to specify Content Key when creating a Streaming
            Locator
          title: label
          type: string
        policyName:
          description: Policy used by Default Key
          title: policyName
          type: string
      title: DefaultKey
      type: object
    EnabledProtocols:
      description: Class to specify which protocols are enabled
      example:
        download: true
        smoothStreaming: true
        dash: true
        hls: true
      properties:
        dash:
          description: Enable DASH protocol or not
          title: dash
          type: boolean
        download:
          description: Enable Download protocol or not
          title: download
          type: boolean
        hls:
          description: Enable HLS protocol or not
          title: hls
          type: boolean
        smoothStreaming:
          description: Enable SmoothStreaming protocol or not
          title: smoothStreaming
          type: boolean
      required:
      - dash
      - download
      - hls
      - smoothStreaming
      title: EnabledProtocols
      type: object
    EnvelopeEncryption:
      description: Class for EnvelopeEncryption encryption scheme
      example:
        enabledProtocols:
          download: true
          smoothStreaming: true
          dash: true
          hls: true
        contentKeys:
          keyToTrackMappings:
          - policyName: policyName
            label: label
            tracks:
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
          - policyName: policyName
            label: label
            tracks:
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
          defaultKey:
            policyName: policyName
            label: label
        clearTracks:
        - trackSelections:
          - property: Unknown
            operation: Unknown
            value: value
          - property: Unknown
            operation: Unknown
            value: value
        - trackSelections:
          - property: Unknown
            operation: Unknown
            value: value
          - property: Unknown
            operation: Unknown
            value: value
        customKeyAcquisitionUrlTemplate: customKeyAcquisitionUrlTemplate
      properties:
        clearTracks:
          description: Representing which tracks should not be encrypted
          items:
            $ref: '#/components/schemas/TrackSelection'
          title: clearTracks
          type: array
        contentKeys:
          $ref: '#/components/schemas/StreamingPolicyContentKeys'
        customKeyAcquisitionUrlTemplate:
          description: "Template for the URL of the custom service delivering keys\
            \ to end user players.  Not required when using Azure Media Services for\
            \ issuing keys.  The template supports replaceable tokens that the service\
            \ will update at runtime with the value specific to the request.  The\
            \ currently supported token values are {AlternativeMediaId}, which is\
            \ replaced with the value of StreamingLocatorId.AlternativeMediaId, and\
            \ {ContentKeyId}, which is replaced with the value of identifier of the\
            \ key being requested."
          title: customKeyAcquisitionUrlTemplate
          type: string
        enabledProtocols:
          $ref: '#/components/schemas/EnabledProtocols'
      title: EnvelopeEncryption
      type: object
    ListContentKeysResponse:
      description: Class of response for listContentKeys action
      example:
        contentKeys:
        - policyName: policyName
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          labelReferenceInStreamingPolicy: labelReferenceInStreamingPolicy
          type: CommonEncryptionCenc
          value: value
          tracks:
          - trackSelections:
            - property: Unknown
              operation: Unknown
              value: value
            - property: Unknown
              operation: Unknown
              value: value
          - trackSelections:
            - property: Unknown
              operation: Unknown
              value: value
            - property: Unknown
              operation: Unknown
              value: value
        - policyName: policyName
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          labelReferenceInStreamingPolicy: labelReferenceInStreamingPolicy
          type: CommonEncryptionCenc
          value: value
          tracks:
          - trackSelections:
            - property: Unknown
              operation: Unknown
              value: value
            - property: Unknown
              operation: Unknown
              value: value
          - trackSelections:
            - property: Unknown
              operation: Unknown
              value: value
            - property: Unknown
              operation: Unknown
              value: value
      properties:
        contentKeys:
          description: ContentKeys used by current Streaming Locator
          items:
            $ref: '#/components/schemas/StreamingLocatorContentKey'
          title: contentKeys
          type: array
      title: ListContentKeysResponse
      type: object
    ListPathsResponse:
      description: Class of response for listPaths action
      example:
        streamingPaths:
        - streamingProtocol: Hls
          paths:
          - paths
          - paths
          encryptionScheme: NoEncryption
        - streamingProtocol: Hls
          paths:
          - paths
          - paths
          encryptionScheme: NoEncryption
        downloadPaths:
        - downloadPaths
        - downloadPaths
      properties:
        downloadPaths:
          description: Download Paths supported by current Streaming Locator
          items:
            type: string
          title: downloadPaths
          type: array
        streamingPaths:
          description: Streaming Paths supported by current Streaming Locator
          items:
            $ref: '#/components/schemas/StreamingPath'
          title: streamingPaths
          type: array
      title: ListPathsResponse
      type: object
    NoEncryption:
      description: Class for NoEncryption scheme
      example:
        enabledProtocols:
          download: true
          smoothStreaming: true
          dash: true
          hls: true
      properties:
        enabledProtocols:
          $ref: '#/components/schemas/EnabledProtocols'
      title: NoEncryption
      type: object
    ODataError:
      description: Information about an error.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: A language-independent error name.
          title: code
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/ODataError'
          title: details
          type: array
        message:
          description: The error message.
          title: message
          type: string
        target:
          description: "The target of the error (for example, the name of the property\
            \ in error)."
          title: target
          type: string
      title: ODataError
      type: object
    StreamingLocator:
      allOf:
      - allOf:
        - description: The core properties of ARM resources.
          properties:
            id:
              description: Fully qualified resource ID for the resource.
              readOnly: true
              type: string
            name:
              description: The name of the resource.
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource.
      description: A Streaming Locator resource
      example:
        properties:
          defaultContentKeyPolicyName: defaultContentKeyPolicyName
          contentKeys:
          - policyName: policyName
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            labelReferenceInStreamingPolicy: labelReferenceInStreamingPolicy
            type: CommonEncryptionCenc
            value: value
            tracks:
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
          - policyName: policyName
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            labelReferenceInStreamingPolicy: labelReferenceInStreamingPolicy
            type: CommonEncryptionCenc
            value: value
            tracks:
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
          alternativeMediaId: alternativeMediaId
          created: 2000-01-23T04:56:07.000+00:00
          streamingPolicyName: streamingPolicyName
          assetName: assetName
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          filters:
          - filters
          - filters
          streamingLocatorId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        properties:
          $ref: '#/components/schemas/StreamingLocatorProperties'
      title: StreamingLocator
    StreamingLocatorCollection:
      description: A collection of StreamingLocator items.
      example:
        '@odata.nextLink': '@odata.nextLink'
        value:
        - properties:
            defaultContentKeyPolicyName: defaultContentKeyPolicyName
            contentKeys:
            - policyName: policyName
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              labelReferenceInStreamingPolicy: labelReferenceInStreamingPolicy
              type: CommonEncryptionCenc
              value: value
              tracks:
              - trackSelections:
                - property: Unknown
                  operation: Unknown
                  value: value
                - property: Unknown
                  operation: Unknown
                  value: value
              - trackSelections:
                - property: Unknown
                  operation: Unknown
                  value: value
                - property: Unknown
                  operation: Unknown
                  value: value
            - policyName: policyName
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              labelReferenceInStreamingPolicy: labelReferenceInStreamingPolicy
              type: CommonEncryptionCenc
              value: value
              tracks:
              - trackSelections:
                - property: Unknown
                  operation: Unknown
                  value: value
                - property: Unknown
                  operation: Unknown
                  value: value
              - trackSelections:
                - property: Unknown
                  operation: Unknown
                  value: value
                - property: Unknown
                  operation: Unknown
                  value: value
            alternativeMediaId: alternativeMediaId
            created: 2000-01-23T04:56:07.000+00:00
            streamingPolicyName: streamingPolicyName
            assetName: assetName
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            filters:
            - filters
            - filters
            streamingLocatorId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - properties:
            defaultContentKeyPolicyName: defaultContentKeyPolicyName
            contentKeys:
            - policyName: policyName
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              labelReferenceInStreamingPolicy: labelReferenceInStreamingPolicy
              type: CommonEncryptionCenc
              value: value
              tracks:
              - trackSelections:
                - property: Unknown
                  operation: Unknown
                  value: value
                - property: Unknown
                  operation: Unknown
                  value: value
              - trackSelections:
                - property: Unknown
                  operation: Unknown
                  value: value
                - property: Unknown
                  operation: Unknown
                  value: value
            - policyName: policyName
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              labelReferenceInStreamingPolicy: labelReferenceInStreamingPolicy
              type: CommonEncryptionCenc
              value: value
              tracks:
              - trackSelections:
                - property: Unknown
                  operation: Unknown
                  value: value
                - property: Unknown
                  operation: Unknown
                  value: value
              - trackSelections:
                - property: Unknown
                  operation: Unknown
                  value: value
                - property: Unknown
                  operation: Unknown
                  value: value
            alternativeMediaId: alternativeMediaId
            created: 2000-01-23T04:56:07.000+00:00
            streamingPolicyName: streamingPolicyName
            assetName: assetName
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            filters:
            - filters
            - filters
            streamingLocatorId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        '@odata.nextLink':
          description: A link to the next page of the collection (when the collection
            contains too many results to return in one response).
          title: '@odata.nextLink'
          type: string
        value:
          description: A collection of StreamingLocator items.
          items:
            $ref: '#/components/schemas/StreamingLocator'
          title: value
          type: array
      title: StreamingLocatorCollection
      type: object
    StreamingLocatorContentKey:
      description: Class for content key in Streaming Locator
      example:
        policyName: policyName
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        labelReferenceInStreamingPolicy: labelReferenceInStreamingPolicy
        type: CommonEncryptionCenc
        value: value
        tracks:
        - trackSelections:
          - property: Unknown
            operation: Unknown
            value: value
          - property: Unknown
            operation: Unknown
            value: value
        - trackSelections:
          - property: Unknown
            operation: Unknown
            value: value
          - property: Unknown
            operation: Unknown
            value: value
      properties:
        id:
          description: ID of Content Key
          format: uuid
          title: id
          type: string
        labelReferenceInStreamingPolicy:
          description: Label of Content Key as specified in the Streaming Policy
          title: labelReferenceInStreamingPolicy
          type: string
        policyName:
          description: ContentKeyPolicy used by Content Key
          readOnly: true
          title: policyName
          type: string
        tracks:
          description: Tracks which use this Content Key
          items:
            $ref: '#/components/schemas/TrackSelection'
          readOnly: true
          title: tracks
          type: array
        type:
          description: Encryption type of Content Key
          enum:
          - CommonEncryptionCenc
          - CommonEncryptionCbcs
          - EnvelopeEncryption
          nullable: false
          readOnly: true
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: StreamingLocatorContentKeyType
            values:
            - description: Common Encryption using CENC
              value: CommonEncryptionCenc
            - description: Common Encryption using CBCS
              value: CommonEncryptionCbcs
            - description: Envelope Encryption
              value: EnvelopeEncryption
        value:
          description: Value of Content Key
          title: value
          type: string
      required:
      - id
      title: StreamingLocatorContentKey
      type: object
    StreamingLocatorProperties:
      description: Properties of the Streaming Locator.
      example:
        defaultContentKeyPolicyName: defaultContentKeyPolicyName
        contentKeys:
        - policyName: policyName
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          labelReferenceInStreamingPolicy: labelReferenceInStreamingPolicy
          type: CommonEncryptionCenc
          value: value
          tracks:
          - trackSelections:
            - property: Unknown
              operation: Unknown
              value: value
            - property: Unknown
              operation: Unknown
              value: value
          - trackSelections:
            - property: Unknown
              operation: Unknown
              value: value
            - property: Unknown
              operation: Unknown
              value: value
        - policyName: policyName
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          labelReferenceInStreamingPolicy: labelReferenceInStreamingPolicy
          type: CommonEncryptionCenc
          value: value
          tracks:
          - trackSelections:
            - property: Unknown
              operation: Unknown
              value: value
            - property: Unknown
              operation: Unknown
              value: value
          - trackSelections:
            - property: Unknown
              operation: Unknown
              value: value
            - property: Unknown
              operation: Unknown
              value: value
        alternativeMediaId: alternativeMediaId
        created: 2000-01-23T04:56:07.000+00:00
        streamingPolicyName: streamingPolicyName
        assetName: assetName
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        filters:
        - filters
        - filters
        streamingLocatorId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        alternativeMediaId:
          description: Alternative Media ID of this Streaming Locator
          title: alternativeMediaId
          type: string
        assetName:
          description: Asset Name
          title: assetName
          type: string
        contentKeys:
          description: The ContentKeys used by this Streaming Locator.
          items:
            $ref: '#/components/schemas/StreamingLocatorContentKey'
          title: contentKeys
          type: array
        created:
          description: The creation time of the Streaming Locator.
          format: date-time
          nullable: false
          readOnly: true
          title: created
          type: string
        defaultContentKeyPolicyName:
          description: Name of the default ContentKeyPolicy used by this Streaming
            Locator.
          title: defaultContentKeyPolicyName
          type: string
        endTime:
          description: The end time of the Streaming Locator.
          format: date-time
          title: endTime
          type: string
        filters:
          description: A list of asset or account filters which apply to this streaming
            locator
          items:
            type: string
          title: filters
          type: array
        startTime:
          description: The start time of the Streaming Locator.
          format: date-time
          title: startTime
          type: string
        streamingLocatorId:
          description: The StreamingLocatorId of the Streaming Locator.
          format: uuid
          title: streamingLocatorId
          type: string
        streamingPolicyName:
          description: "Name of the Streaming Policy used by this Streaming Locator.\
            \ Either specify the name of Streaming Policy you created or use one of\
            \ the predefined Streaming Policies. The predefined Streaming Policies\
            \ available are: 'Predefined_DownloadOnly', 'Predefined_ClearStreamingOnly',\
            \ 'Predefined_DownloadAndClearStreaming', 'Predefined_ClearKey', 'Predefined_MultiDrmCencStreaming'\
            \ and 'Predefined_MultiDrmStreaming'"
          title: streamingPolicyName
          type: string
      required:
      - assetName
      - streamingPolicyName
      title: StreamingLocatorProperties
      type: object
    StreamingPath:
      description: Class of paths for streaming
      example:
        streamingProtocol: Hls
        paths:
        - paths
        - paths
        encryptionScheme: NoEncryption
      properties:
        encryptionScheme:
          description: Encryption scheme
          enum:
          - NoEncryption
          - EnvelopeEncryption
          - CommonEncryptionCenc
          - CommonEncryptionCbcs
          title: encryptionScheme
          type: string
          x-ms-enum:
            modelAsString: true
            name: EncryptionScheme
            values:
            - description: NoEncryption scheme
              value: NoEncryption
            - description: EnvelopeEncryption scheme
              value: EnvelopeEncryption
            - description: CommonEncryptionCenc scheme
              value: CommonEncryptionCenc
            - description: CommonEncryptionCbcs scheme
              value: CommonEncryptionCbcs
        paths:
          description: Streaming paths for each protocol and encryptionScheme pair
          items:
            type: string
          title: paths
          type: array
        streamingProtocol:
          description: Streaming protocol
          enum:
          - Hls
          - Dash
          - SmoothStreaming
          - Download
          title: streamingProtocol
          type: string
          x-ms-enum:
            modelAsString: true
            name: StreamingPolicyStreamingProtocol
            values:
            - description: HLS protocol
              value: Hls
            - description: DASH protocol
              value: Dash
            - description: SmoothStreaming protocol
              value: SmoothStreaming
            - description: Download protocol
              value: Download
      required:
      - encryptionScheme
      - streamingProtocol
      title: StreamingPath
      type: object
    StreamingPolicy:
      allOf:
      - allOf:
        - description: The core properties of ARM resources.
          properties:
            id:
              description: Fully qualified resource ID for the resource.
              readOnly: true
              type: string
            name:
              description: The name of the resource.
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource.
      description: A Streaming Policy resource
      example:
        properties:
          defaultContentKeyPolicyName: defaultContentKeyPolicyName
          noEncryption:
            enabledProtocols:
              download: true
              smoothStreaming: true
              dash: true
              hls: true
          created: 2000-01-23T04:56:07.000+00:00
          envelopeEncryption:
            enabledProtocols:
              download: true
              smoothStreaming: true
              dash: true
              hls: true
            contentKeys:
              keyToTrackMappings:
              - policyName: policyName
                label: label
                tracks:
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
              - policyName: policyName
                label: label
                tracks:
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
              defaultKey:
                policyName: policyName
                label: label
            clearTracks:
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            customKeyAcquisitionUrlTemplate: customKeyAcquisitionUrlTemplate
          commonEncryptionCenc:
            enabledProtocols:
              download: true
              smoothStreaming: true
              dash: true
              hls: true
            contentKeys:
              keyToTrackMappings:
              - policyName: policyName
                label: label
                tracks:
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
              - policyName: policyName
                label: label
                tracks:
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
              defaultKey:
                policyName: policyName
                label: label
            clearTracks:
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            drm:
              playReady:
                playReadyCustomAttributes: playReadyCustomAttributes
                customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
              widevine:
                customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
          commonEncryptionCbcs:
            enabledProtocols:
              download: true
              smoothStreaming: true
              dash: true
              hls: true
            contentKeys:
              keyToTrackMappings:
              - policyName: policyName
                label: label
                tracks:
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
              - policyName: policyName
                label: label
                tracks:
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
                - trackSelections:
                  - property: Unknown
                    operation: Unknown
                    value: value
                  - property: Unknown
                    operation: Unknown
                    value: value
              defaultKey:
                policyName: policyName
                label: label
            clearTracks:
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            - trackSelections:
              - property: Unknown
                operation: Unknown
                value: value
              - property: Unknown
                operation: Unknown
                value: value
            drm:
              fairPlay:
                allowPersistentLicense: true
                customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
              playReady:
                playReadyCustomAttributes: playReadyCustomAttributes
                customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
              widevine:
                customLicenseAcquisitionUrlTemplate: customLicenseAcquisitionUrlTemplate
      properties:
        properties:
[...]
