openapi: 3.0.1
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: https://github.com/mermade/mashery2openapi
  description: Test our API services using I/O Docs.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Rotten Tomatoes
  version: "1.0"
  x-apisguru-categories:
  - media
  x-logo:
    url: https://twitter.com/RottenTomatoes/profile_image?size=original
  x-mashery-id: "1217"
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Mermade/openapi_specifications/master/mashery/api.rottentomatoes.com/Rotten-Tomatoes/1.0/swagger.json
    version: "2.0"
  x-providerName: rottentomatoes.com
  x-unofficialSpec: true
externalDocs:
  description: You can also view our written documentation.
  url: http://developer.rottentomatoes.com/io-docs/docs
servers:
- url: http://api.rottentomatoes.com/api/public/v1.0
security:
- key: []
tags:
- name: Movie Lists
- name: DVD Lists
- name: Detailed Info
- name: Search
- name: Top Level Lists
paths:
  /lists.json:
    get:
      operationId: lists_directory_top_level_lists
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Top Level Lists
      x-openapi-router-controller: openapi_server.controllers.top_level_lists_controller
  /lists/dvds.json:
    get:
      operationId: d_vd_lists_directory_top_level_lists
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Top Level Lists
      x-openapi-router-controller: openapi_server.controllers.top_level_lists_controller
  /lists/dvds/current_releases.json:
    get:
      operationId: current_release_dvds_dvd_lists
      parameters:
      - description: The amount of new release dvds to show per page
        in: query
        name: page_limit
        schema:
          default: "16"
          type: string
      - description: The selected page of current DVD releases
        in: query
        name: page
        schema:
          default: "1"
          type: string
      - description: "Provides localized data for the selected country (ISO 3166-1\
          \ alpha-2) if available. Otherwise, returns US data."
        in: query
        name: country
        schema:
          default: us
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - DVD Lists
      x-openapi-router-controller: openapi_server.controllers.dvd_lists_controller
  /lists/dvds/new_releases.json:
    get:
      operationId: new_release_dvds_dvd_lists
      parameters:
      - description: The amount of new release dvds to show per page
        in: query
        name: page_limit
        schema:
          default: "16"
          type: string
      - description: The selected page of new release DVDs
        in: query
        name: page
        schema:
          default: "1"
          type: string
      - description: "Provides localized data for the selected country (ISO 3166-1\
          \ alpha-2) if available. Otherwise, returns US data."
        in: query
        name: country
        schema:
          default: us
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - DVD Lists
      x-openapi-router-controller: openapi_server.controllers.dvd_lists_controller
  /lists/dvds/top_rentals.json:
    get:
      operationId: top_rentals_dvd_lists
      parameters:
      - description: Limits the number of top rentals returned
        in: query
        name: limit
        schema:
          default: "10"
          type: string
      - description: "Provides localized data for the selected country (ISO 3166-1\
          \ alpha-2) if available. Otherwise, returns US data."
        in: query
        name: country
        schema:
          default: us
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - DVD Lists
      x-openapi-router-controller: openapi_server.controllers.dvd_lists_controller
  /lists/dvds/upcoming.json:
    get:
      operationId: upcoming_dvds_dvd_lists
      parameters:
      - description: The amount of upcoming dvds to show per page
        in: query
        name: page_limit
        schema:
          default: "16"
          type: string
      - description: The selected page of upcoming DVDs
        in: query
        name: page
        schema:
          default: "1"
          type: string
      - description: "Provides localized data for the selected country (ISO 3166-1\
          \ alpha-2) if available. Otherwise, returns US data."
        in: query
        name: country
        schema:
          default: us
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - DVD Lists
      x-openapi-router-controller: openapi_server.controllers.dvd_lists_controller
  /lists/movies.json:
    get:
      operationId: movie_lists_directory_top_level_lists
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Top Level Lists
      x-openapi-router-controller: openapi_server.controllers.top_level_lists_controller
  /lists/movies/box_office.json:
    get:
      operationId: box_office_movie_lists
      parameters:
      - description: Limits the number of movies returned
        in: query
        name: limit
        schema:
          default: "16"
          type: string
      - description: "Provides localized data for the selected country (ISO 3166-1\
          \ alpha-2) if available. Otherwise, returns US data."
        in: query
        name: country
        schema:
          default: us
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Movie Lists
      x-openapi-router-controller: openapi_server.controllers.movie_lists_controller
  /lists/movies/in_theaters.json:
    get:
      operationId: in_theaters_movie_lists
      parameters:
      - description: The amount of movies in theaters to show per page
        in: query
        name: page_limit
        schema:
          default: "16"
          type: string
      - description: The selected page of in theaters movies
        in: query
        name: page
        schema:
          default: "1"
          type: string
      - description: "Provides localized data for the selected country (ISO 3166-1\
          \ alpha-2) if available. Otherwise, returns US data."
        in: query
        name: country
        schema:
          default: us
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Movie Lists
      x-openapi-router-controller: openapi_server.controllers.movie_lists_controller
  /lists/movies/opening.json:
    get:
      operationId: opening_movies_movie_lists
      parameters:
      - description: Limits the number of opening movies returned
        in: query
        name: limit
        schema:
          default: "16"
          type: string
      - description: "Provides localized data for the selected country (ISO 3166-1\
          \ alpha-2) if available. Otherwise, returns US data."
        in: query
        name: country
        schema:
          default: us
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Movie Lists
      x-openapi-router-controller: openapi_server.controllers.movie_lists_controller
  /lists/movies/upcoming.json:
    get:
      operationId: upcoming_movies_movie_lists
      parameters:
      - description: The amount of upcoming movies to show per page
        in: query
        name: page_limit
        schema:
          default: "16"
          type: string
      - description: The selected page of upcoming movies
        in: query
        name: page
        schema:
          default: "1"
          type: string
      - description: "Provides localized data for the selected country (ISO 3166-1\
          \ alpha-2) if available. Otherwise, returns US data."
        in: query
        name: country
        schema:
          default: us
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Movie Lists
      x-openapi-router-controller: openapi_server.controllers.movie_lists_controller
  /movie_alias.json:
    get:
      operationId: movies_alias_detailed_info
      parameters:
      - description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: query
        name: id
        schema:
          default: "0031381"
          type: string
      - description: Only supports imdb lookup at this time
        in: query
        name: type
        schema:
          default: imdb
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Detailed Info
      x-openapi-router-controller: openapi_server.controllers.detailed_info_controller
  /movies.json:
    get:
      operationId: movies_search_search
      parameters:
      - description: The plain text search query to search for a movie. Remember to
          URI encode this!
        in: query
        name: q
        schema:
          type: string
      - description: The amount of movie search results to show per page
        in: query
        name: page_limit
        schema:
          default: "10"
          type: string
      - description: The selected page of movie search results
        in: query
        name: page
        schema:
          default: "1"
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Search
      x-openapi-router-controller: openapi_server.controllers.search_controller
  /movies/{id}.json:
    get:
      operationId: movies_info_detailed_info
      parameters:
      - description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: path
        name: id
        required: true
        schema:
          default: "770672122"
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Detailed Info
      x-openapi-router-controller: openapi_server.controllers.detailed_info_controller
  /movies/{id}/cast.json:
    get:
      operationId: cast_info_detailed_info
      parameters:
      - description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: path
        name: id
        required: true
        schema:
          default: "770672122"
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Detailed Info
      x-openapi-router-controller: openapi_server.controllers.detailed_info_controller
  /movies/{id}/clips.json:
    get:
      operationId: movie_clips_detailed_info
      parameters:
      - description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: path
        name: id
        required: true
        schema:
          default: "770672122"
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Detailed Info
      x-openapi-router-controller: openapi_server.controllers.detailed_info_controller
  /movies/{id}/reviews.json:
    get:
      operationId: movies_reviews_detailed_info
      parameters:
      - description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: path
        name: id
        required: true
        schema:
          default: "770672122"
          type: string
      - description: "3 different review types are possible: 'all', 'top_critic' and\
          \ 'dvd'. 'top_critic' shows all the Rotten Tomatoes designated top critics.\
          \ 'dvd' pulls the reviews given on the DVD of the movie. 'all' as the name\
          \ implies retrieves all reviews."
        in: query
        name: review_type
        schema:
          default: top_critic
          type: string
      - description: The number of reviews to show per page
        in: query
        name: page_limit
        schema:
          default: "20"
          type: string
      - description: The selected page of reviews
        in: query
        name: page
        schema:
          default: "1"
          type: string
      - description: "Provides localized data for the selected country (ISO 3166-1\
          \ alpha-2) if available. Otherwise, returns US data."
        in: query
        name: country
        schema:
          default: us
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Detailed Info
      x-openapi-router-controller: openapi_server.controllers.detailed_info_controller
  /movies/{id}/similar.json:
    get:
      operationId: movies_similar_detailed_info
      parameters:
      - description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: path
        name: id
        required: true
        schema:
          default: "770672122"
          type: string
      - description: Limit the number of similar movies to show
        in: query
        name: limit
        schema:
          default: "5"
          type: string
      responses:
        "200":
          content: {}
          description: Success
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      tags:
      - Detailed Info
      x-openapi-router-controller: openapi_server.controllers.detailed_info_controller
components:
  schemas: {}
  securitySchemes:
    key:
      in: query
      name: apikey
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_key
x-original-swagger-version: "2.0"
