openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: "NFL schedules, scores, odds, weather, and news API."
  title: NFL v3 Scores
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nfl-v3-scores.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nfl-v3-scores
servers:
- url: http://azure-api.sportsdata.io/v3/nfl/scores
- url: https://azure-api.sportsdata.io/v3/nfl/scores
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/AllTeams:
    get:
      description: "Gets all teams, including pro bowl teams."
      operationId: TeamsAll
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (All)
      x-accepts:
      - application/json
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-accepts:
      - application/json
  /{format}/Byes/{season}:
    get:
      description: 'Get bye weeks for the teams during a specified NFL season. '
      operationId: ByeWeeks
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Bye'
                type: array
          description: ""
      summary: Bye Weeks
      x-accepts:
      - application/json
  /{format}/CurrentSeason:
    get:
      description: Year of the current NFL season. This value changes at the start
        of the new NFL league year. The earliest season for Fantasy data is 2001.
        The earliest season for Team data is 1985. The earliest season for Fantasy
        data is 2001. The earliest season for Team data is 1985.
      operationId: SeasonCurrent
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Current
      x-accepts:
      - application/json
  /{format}/CurrentWeek:
    get:
      description: Number of the current week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekCurrent
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Current
      x-accepts:
      - application/json
  /{format}/DepthCharts:
    get:
      description: "Depth charts for all NFL teams split by offensive, defensive,\
        \ and special teams position groupings."
      operationId: DepthCharts
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamDepthChart'
                type: array
          description: ""
      summary: Depth Charts
      x-accepts:
      - application/json
  /{format}/FreeAgents:
    get:
      operationId: PlayerDetailsByFreeAgents
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Free Agents
      x-accepts:
      - application/json
  /{format}/GameStats/{season}:
    get:
      operationId: GameStatsBySeasonDeprecatedUseTeamGameStatsInstead
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season and the season type. If no season type is\
          \ provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: "Game Stats by Season (Deprecated, use Team Game Stats instead)"
      x-accepts:
      - application/json
  /{format}/GameStatsByWeek/{season}/{week}:
    get:
      operationId: GameStatsByWeekDeprecatedUseTeamGameStatsInstead
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: "Game Stats by Week (Deprecated, use Team Game Stats instead)"
      x-accepts:
      - application/json
  /{format}/LastCompletedSeason:
    get:
      description: Year of the most recently completed season. this value changes
        immediately after the Super Bowl. The earliest season for Fantasy data is
        2001. The earliest season for Team data is 1985.
      operationId: SeasonLastCompleted
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Last Completed
      x-accepts:
      - application/json
  /{format}/LastCompletedWeek:
    get:
      description: Number of the last completed week of the NFL season. This value
        usually changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekLastCompleted
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Last Completed
      x-accepts:
      - application/json
  /{format}/News:
    get:
      operationId: News
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News
      x-accepts:
      - application/json
  /{format}/NewsByDate/{date}:
    get:
      operationId: NewsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the news.
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Date
      x-accepts:
      - application/json
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: NewsByPlayer
      parameters:
      - description: "\n          Desired response format. Valid entries are <code>XML</code>\
          \ or <code>JSON</code>.\n        "
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Player
      x-accepts:
      - application/json
  /{format}/NewsByTeam/{team}:
    get:
      operationId: NewsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Team
      x-accepts:
      - application/json
  /{format}/Ping/{seconds}:
    get:
      description: Ping NFL API
      operationId: XPing
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: Number of seconds to sleep before responding
        explode: false
        in: path
        name: seconds
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
          description: ""
      summary: X Ping
      x-accepts:
      - application/json
  /{format}/Player/{playerid}:
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>732</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerDetail'
          description: ""
      summary: Player Details by Player
      x-accepts:
      - application/json
  /{format}/Players:
    get:
      operationId: PlayerDetailsByAvailable
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Available
      x-accepts:
      - application/json
  /{format}/Players/{team}:
    get:
      operationId: PlayerDetailsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerDetail'
                type: array
          description: ""
      summary: Player Details by Team
      x-accepts:
      - application/json
  /{format}/PlayersBasic/{team}:
    get:
      operationId: PlayersByTeamBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Abbreviation of the team. Example: <code>WAS</code>."
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
          description: ""
      summary: Players by Team (Basic)
      x-accepts:
      - application/json
  /{format}/Referees:
    get:
      description: Returns full list of NFL Referees
      operationId: Referees
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Referee'
                type: array
          description: ""
      summary: Referees
      x-accepts:
      - application/json
  /{format}/Rookies/{season}:
    get:
      operationId: PlayerDetailsByRookieDraftYear
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season.<br>Examples: <code>2018</code>, <code>2019</code>,\
          \ etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Rookie Draft Year
      x-accepts:
      - application/json
  /{format}/Schedules/{season}:
    get:
      description: Game schedule for a specified season.
      operationId: Schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Schedule'
                type: array
          description: ""
      summary: Schedule
      x-accepts:
      - application/json
  /{format}/SchedulesBasic/{season}:
    get:
      description: Game schedule for a specified season.
      operationId: ScheduleBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
                type: array
          description: ""
      summary: Schedule (Basic)
      x-accepts:
      - application/json
  /{format}/Scores/{season}:
    get:
      description: Game scores for a specified season.
      operationId: ScoresBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: 'Scores by Season '
      x-accepts:
      - application/json
  /{format}/ScoresBasic/{season}/{week}:
    get:
      description: Get game scores for a specified week of a season.
      operationId: ScoresByWeekBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScoreBasic'
                type: array
          description: ""
      summary: Scores by Week (Basic)
      x-accepts:
      - application/json
  /{format}/ScoresByDate/{date}:
    get:
      description: Get game scores for a specified week of a season.
      operationId: ScoresByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the games.<br>Examples: <code>2021-SEP-12</code>,\
          \ <code>2021-NOV-28</code>."
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Date
      x-accepts:
      - application/json
  /{format}/ScoresByWeek/{season}/{week}:
    get:
      description: Get game scores for a specified week of a season.
      operationId: ScoresByWeek
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Week
      x-accepts:
      - application/json
  /{format}/SimulatedScores/{numberofplays}:
    get:
      description: "Gets simulated live scores of NFL games, covering the Conference\
        \ Championship games on January 21, 2018."
      operationId: ScoresByWeekSimulation
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The number of plays to progress in this NFL live game simulation.\
          \ Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>,\
          \ <code>150</code>, <code>200</code>, etc."
        explode: false
        in: path
        name: numberofplays
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Score'
                type: array
          description: ""
      summary: Scores by Week Simulation
      x-accepts:
      - application/json
  /{format}/Stadiums:
    get:
      description: This method returns all stadiums.
      operationId: Stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-accepts:
      - application/json
  /{format}/Standings/{season}:
    get:
      operationId: Standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-accepts:
      - application/json
  /{format}/TeamGameStats/{season}/{week}:
    get:
      operationId: TeamGameStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "\n          Week of the season. Valid values are as follows:\
          \ Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.\n       \
          \   Example: <code>1</code>\n        "
        explode: false
        in: path
        name: week
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats
      x-accepts:
      - application/json
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game by game log of total team statistics.
      operationId: TeamGameLogsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>\
          \        "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 8 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-accepts:
      - application/json
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: TeamSeasonStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-accepts:
      - application/json
  /{format}/Teams:
    get:
      description: Gets all active teams.
      operationId: TeamsActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (Active)
      x-accepts:
      - application/json
  /{format}/Teams/{season}:
    get:
      description: List of teams playing in a specified season.
      operationId: TeamsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "\n          Year of the season and the season type. If no season\
          \ type is provided, then the default is regular season.\n          <br>Examples:\
          \ <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.\n \
          \       "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams by Season
      x-accepts:
      - application/json
  /{format}/TeamsBasic:
    get:
      description: "Gets all teams, including pro bowl teams."
      operationId: TeamsBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamBasic'
                type: array
          description: ""
      summary: Teams (Basic)
      x-accepts:
      - application/json
  /{format}/Timeframes/{type}:
    get:
      description: "Get detailed information about past, present, and future timeframes."
      operationId: Timeframes
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: The type of timeframes to return.  Valid entries are <code>current</code>
          or <code>upcoming</code> or <code>completed</code> or <code>recent</code>
          or <code>all</code>.
        explode: false
        in: path
        name: type
        required: true
        schema:
          default: current
          enum:
          - current
          - upcoming
          - completed
          - recent
          - all
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Timeframe'
                type: array
          description: ""
      summary: Timeframes
      x-accepts:
      - application/json
  /{format}/UpcomingSeason:
    get:
      description: "Year of the current NFL season, if we are in the mid-season. If\
        \ we are in the off-season, then year of the next upcoming season. This value\
        \ changes immediately after the Super Bowl. The earliest season for Fantasy\
        \ data is 2001. The earliest season for Team data is 1985."
      operationId: SeasonUpcoming
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Season Upcoming
      x-accepts:
      - application/json
  /{format}/UpcomingWeek:
    get:
      description: Number of the upcoming week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight ET.
      operationId: WeekUpcoming
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: true
                type: integer
          description: ""
      summary: Week Upcoming
      x-accepts:
      - application/json
components:
  schemas:
    Bye:
      example:
        Team: Team
        Season: 0
        Week: 6
      properties:
        Season:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        Week:
          nullable: false
          type: integer
    DepthChart:
      example:
        PlayerID: 1
        Updated: Updated
        DepthOrder: 6
        Position: Position
        PositionCategory: PositionCategory
        DepthChartID: 0
        TeamID: 5
        Name: Name
      properties:
        DepthChartID:
          nullable: false
          type: integer
        DepthOrder:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        PlayerID:
          nullable: true
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        TeamID:
          nullable: false
          type: integer
        Updated:
          nullable: true
          type: string
    Game:
      example:
        AwayFieldGoalsHadBlocked: 6
        HomeFieldGoalReturnTouchdowns: 3
        AwayTurnoverDifferential: 8
        HomePuntNetAverage: 6.176386745020588
        WindSpeed: 5
        AwaySacks: 3
        AwayPuntsHadBlocked: 3
        HomeTimeOfPossession: HomeTimeOfPossession
        AwayExtraPointKickingAttempts: 2
        HomePuntYards: 3
        AwayKickReturnYards: 7
        AwaySackYards: 1
        HomeRedZoneConversions: 7
        GameID: 0
        AwayPuntReturnYards: 4
        AwayRushingTouchdowns: 4
        HomeThirdDownConversions: 3
        HomeInterceptionReturnTouchdowns: 4
        AwayGoalToGoConversions: 5
        AwayPuntYards: 8
        HomePassingYards: 6
        AwayFieldGoalReturnYards: 1
        HomeExtraPointKickingAttempts: 0
        AwayThirdDownAttempts: 5
        Week: 8
        HomeOffensiveYards: 7
        AwayPuntNetAverage: 9.702963800023566
        HomeFourthDownConversions: 9
        AwayTimeOfPossession: AwayTimeOfPossession
        AwayFumblesForced: 6
        AwayFumbles: 3
        HomeCompletionPercentage: 9.386524999783381
        HomePasserRating: 4.943637496515336
        AwayPasserRating: 7.04836565559697
        HomePassesDefended: 0
        Humidity: 2
        AwayRushingYardsPerAttempt: 9.254183946267839
        AwayKickoffs: 4
        HomeInterceptionReturnYards: 8
        Season: 5
        AwayPuntAverage: 0.8774076871421566
        PlayingSurface: PlayingSurface
        AwayFirstDownsByPenalty: 5
        HomeFirstDownsByPenalty: 3
        HomeKickReturnTouchdowns: 8
        HomeFieldGoalsMade: 4
        HomePenaltyYards: 7
        HomeFirstDowns: 5
        HomeFourthDownAttempts: 3
        HomeFourthDownPercentage: 7.3718573971919445
        AwayFumblesRecovered: 2
        AwayExtraPointRushingConversions: 4
        AwayBlockedKickReturnYards: 1
        AwayFirstDownsByPassing: 4
        HomeThirdDownPercentage: 9.007961177824221
        AwayFieldGoalReturnTouchdowns: 1
        HomePuntNetYards: 2
        HomeKickoffTouchbacks: 0
        HomePassingYardsPerAttempt: 0.11859130807119977
        AwayGoalToGoAttempts: 6
        HomeOffensivePlays: 0
        HomeThirdDownAttempts: 1
        HomeExtraPointRushingAttempts: 6
        HomePuntReturnLong: 4
        HomeFumblesRecovered: 3
        HomeRushingTouchdowns: 0
        HomeOffensiveYardsPerPlay: 6.749525837406151
        HomeReturnYards: 2
        HomeBlockedKickReturnYards: 4
        HomePuntReturnYards: 3
        AwayRushingAttempts: 6
        HomeInterceptionReturns: 6
        AwayInterceptionReturns: 3
        HomeBlockedKickReturnTouchdowns: 7
        AwayPassingYardsPerAttempt: 1.041444916118296
        AwayTakeaways: 9
        AwayFirstDowns: 1
        HomeAssistedTackles: 0
        HomeExtraPointPassingConversions: 4
        HomeKickReturns: 6
        HomePassingYardsPerCompletion: 4.637509675190766
        HomeExtraPointKickingConversions: 2
        AwayExtraPointPassingConversions: 3
        HomePassingCompletions: 9
        HomeTimesSacked: 1
        AwayPassingTouchdowns: 6
        HomeBlockedKicks: 2
        HomeSackYards: 3
        AwayOffensivePlays: 7
        AwayInterceptionReturnYards: 3
        HomePassingTouchdowns: 7
        AwayReturnYards: 8
        AwayExtraPointKickingConversions: 7
        AwayPuntReturns: 6
        HomeScoreOvertime: 7
        AwayKickoffsInEndZone: 8
        AwayRushingYards: 8
        HomeFumblesForced: 1
        ScoreID: 8
        SeasonType: 0
        AwayFieldGoalsMade: 7
        HomeTwoPointConversionReturns: 8
        HomeFumbleReturnTouchdowns: 7
        HomeTakeaways: 6
        AwayKickReturns: 6
        AwayOffensiveYardsPerPlay: 3.0576100241049344
        HomeGiveaways: 8
        AwayTeam: AwayTeam
        HomeFumbleReturnYards: 7
        AwayKickReturnTouchdowns: 0
        HomeExtraPointPassingAttempts: 6
        AwayBlockedKicks: 5
        AwayPassingYardsPerCompletion: 4.678947989005849
        AwayPassingAttempts: 3
        HomeFumbles: 9
        AwayThirdDownPercentage: 0.4768402382624515
        AwayKickReturnLong: 7
        AwayScoreQuarter4: 7
        HomeKickoffsInEndZone: 5
        HomeTeam: HomeTeam
        AwayScoreQuarter1: 5
        AwayScoreQuarter3: 8
        AwayScoreQuarter2: 5
        HomeRedZoneAttempts: 8
        HomeExtraPointRushingConversions: 9
        AwayPuntReturnTouchdowns: 5
        AwaySoloTackles: 3
        HomeSacks: 5
        AwayExtraPointRushingAttempts: 2
        AwayFirstDownsByRushing: 9
        AwayInterceptionReturnTouchdowns: 6
        IsGameOver: true
        AwayThirdDownConversions: 7
        AwayFourthDownPercentage: 8.762042012749001
        HomeKickReturnLong: 4
        HomePuntReturns: 5
        AwayFourthDownAttempts: 9
        AwayKickoffTouchbacks: 0
        AwayCompletionPercentage: 5.637376656633329
        HomePuntAverage: 1.0502890910539986
        AwayTwoPointConversionReturns: 4
        GameKey: GameKey
        HomeTouchdowns: 2
        HomeFieldGoalAttempts: 1
        HomeFieldGoalsHadBlocked: 1
        AwayTouchdowns: 3
        HomeQuarterbackHits: 3
        HomeTurnoverDifferential: 2
        HomePunts: 1
        OverUnder: 6.345503614942988
        AwayTimesSacked: 3
        AwayBlockedKickReturnTouchdowns: 6
        HomeTimesSackedYards: 4
        AwayPenalties: 7
        PointSpread: 5.499986845135928
        HomeSafeties: 9
        AwayScoreOvertime: 0
        HomeScoreQuarter2: 6
        HomeScoreQuarter1: 7
        AwayFumblesLost: 1
        HomeScoreQuarter4: 9
        HomeScoreQuarter3: 6
        AwayPassesDefended: 5
        AwayPenaltyYards: 9
        HomeFirstDownsByRushing: 1
        AwayFumbleReturnYards: 6
        HomeFirstDownsByPassing: 5
        HomePuntReturnTouchdowns: 2
        AwayTacklesForLoss: 3
        HomeRushingYards: 2
        HomeFumblesLost: 4
        HomeKickoffs: 2
        AwayOffensiveYards: 3
        HomeRushingAttempts: 8
        AwayFieldGoalAttempts: 1
        AwayPuntNetYards: 0
        AwayScore: 8
        HomePenalties: 0
        HomeKickReturnYards: 2
        AwayFumbleReturnTouchdowns: 9
        AwayAssistedTackles: 0
        StadiumID: 1
        AwayRedZoneConversions: 1
        AwayPassingInterceptions: 0
        HomePuntsHadBlocked: 5
        AwayFourthDownConversions: 6
        AwaySafeties: 9
        AwayExtraPointsHadBlocked: 7
        HomeTacklesForLoss: 2
        AwayPunts: 4
        Stadium: Stadium
        AwayPuntReturnLong: 7
        Temperature: 8
        HomeRushingYardsPerAttempt: 4.432841187680573
        AwayPassingCompletions: 4
        HomeScore: 2
        HomeGoalToGoAttempts: 2
        TotalScore: 2
        StadiumDetails:
          Type: Type
          GeoLat: 7.386281948385884
          Capacity: 4
          State: State
          Country: Country
          GeoLong: 1.2315135367772556
          City: City
          Name: Name
          PlayingSurface: PlayingSurface
          StadiumID: 1
        HomeExtraPointsHadBlocked: 1
        AwayQuarterbackHits: 0
        HomeGoalToGoConversions: 9
        AwayRedZoneAttempts: 2
        AwayTimesSackedYards: 2
        Date: Date
        AwayExtraPointPassingAttempts: 9
        AwayPassingYards: 4
        HomePassingAttempts: 0
        HomeSoloTackles: 8
        AwayGiveaways: 6
        HomePassingInterceptions: 9
        HomeFieldGoalReturnYards: 5
      properties:
        AwayAssistedTackles:
          nullable: true
          type: integer
        AwayBlockedKickReturnTouchdowns:
          nullable: true
          type: integer
        AwayBlockedKickReturnYards:
          nullable: true
          type: integer
        AwayBlockedKicks:
          nullable: true
          type: integer
        AwayCompletionPercentage:
          nullable: true
          type: number
        AwayExtraPointKickingAttempts:
          nullable: true
          type: integer
        AwayExtraPointKickingConversions:
          nullable: true
          type: integer
        AwayExtraPointPassingAttempts:
          nullable: true
          type: integer
        AwayExtraPointPassingConversions:
          nullable: true
          type: integer
        AwayExtraPointRushingAttempts:
          nullable: true
          type: integer
        AwayExtraPointRushingConversions:
          nullable: true
          type: integer
        AwayExtraPointsHadBlocked:
          nullable: true
          type: integer
        AwayFieldGoalAttempts:
          nullable: true
          type: integer
        AwayFieldGoalReturnTouchdowns:
          nullable: true
          type: integer
        AwayFieldGoalReturnYards:
          nullable: true
          type: integer
        AwayFieldGoalsHadBlocked:
          nullable: true
          type: integer
        AwayFieldGoalsMade:
          nullable: true
          type: integer
        AwayFirstDowns:
          nullable: true
          type: integer
        AwayFirstDownsByPassing:
          nullable: true
          type: integer
        AwayFirstDownsByPenalty:
          nullable: true
          type: integer
        AwayFirstDownsByRushing:
          nullable: true
          type: integer
        AwayFourthDownAttempts:
          nullable: true
          type: integer
        AwayFourthDownConversions:
          nullable: true
          type: integer
        AwayFourthDownPercentage:
          nullable: true
          type: number
        AwayFumbleReturnTouchdowns:
          nullable: true
          type: integer
        AwayFumbleReturnYards:
          nullable: true
          type: integer
        AwayFumbles:
          nullable: true
          type: integer
        AwayFumblesForced:
          nullable: true
          type: integer
        AwayFumblesLost:
          nullable: true
          type: integer
        AwayFumblesRecovered:
          nullable: true
          type: integer
        AwayGiveaways:
          nullable: true
          type: integer
        AwayGoalToGoAttempts:
          nullable: true
          type: integer
        AwayGoalToGoConversions:
          nullable: true
          type: integer
        AwayInterceptionReturnTouchdowns:
          nullable: true
          type: integer
        AwayInterceptionReturnYards:
          nullable: true
          type: integer
        AwayInterceptionReturns:
          nullable: true
          type: integer
        AwayKickReturnLong:
          nullable: true
          type: integer
        AwayKickReturnTouchdowns:
          nullable: true
          type: integer
        AwayKickReturnYards:
          nullable: true
          type: integer
        AwayKickReturns:
          nullable: true
          type: integer
        AwayKickoffTouchbacks:
          nullable: true
          type: integer
        AwayKickoffs:
          nullable: true
          type: integer
        AwayKickoffsInEndZone:
          nullable: true
          type: integer
        AwayOffensivePlays:
          nullable: true
          type: integer
        AwayOffensiveYards:
          nullable: true
          type: integer
        AwayOffensiveYardsPerPlay:
          nullable: true
          type: number
        AwayPasserRating:
          nullable: true
          type: number
        AwayPassesDefended:
          nullable: true
          type: integer
        AwayPassingAttempts:
          nullable: true
          type: integer
        AwayPassingCompletions:
          nullable: true
          type: integer
        AwayPassingInterceptions:
          nullable: true
          type: integer
        AwayPassingTouchdowns:
          nullable: true
          type: integer
        AwayPassingYards:
          nullable: true
          type: integer
        AwayPassingYardsPerAttempt:
          nullable: true
          type: number
        AwayPassingYardsPerCompletion:
          nullable: true
          type: number
        AwayPenalties:
          nullable: true
          type: integer
        AwayPenaltyYards:
          nullable: true
          type: integer
        AwayPuntAverage:
          nullable: true
          type: number
        AwayPuntNetAverage:
          nullable: true
          type: number
        AwayPuntNetYards:
          nullable: true
          type: integer
        AwayPuntReturnLong:
          nullable: true
          type: integer
        AwayPuntReturnTouchdowns:
          nullable: true
          type: integer
        AwayPuntReturnYards:
          nullable: true
          type: integer
        AwayPuntReturns:
          nullable: true
          type: integer
        AwayPuntYards:
          nullable: true
          type: integer
        AwayPunts:
          nullable: true
          type: integer
        AwayPuntsHadBlocked:
          nullable: true
          type: integer
        AwayQuarterbackHits:
          nullable: true
          type: integer
        AwayRedZoneAttempts:
          nullable: true
          type: integer
        AwayRedZoneConversions:
          nullable: true
          type: integer
        AwayReturnYards:
          nullable: true
          type: integer
        AwayRushingAttempts:
          nullable: true
          type: integer
        AwayRushingTouchdowns:
          nullable: true
          type: integer
        AwayRushingYards:
          nullable: true
          type: integer
        AwayRushingYardsPerAttempt:
          nullable: true
          type: number
        AwaySackYards:
          nullable: true
          type: integer
        AwaySacks:
          nullable: true
          type: integer
        AwaySafeties:
          nullable: true
          type: integer
        AwayScore:
          nullable: false
          type: integer
        AwayScoreOvertime:
          nullable: true
          type: integer
        AwayScoreQuarter1:
          nullable: true
          type: integer
        AwayScoreQuarter2:
          nullable: true
          type: integer
        AwayScoreQuarter3:
          nullable: true
          type: integer
        AwayScoreQuarter4:
          nullable: true
          type: integer
        AwaySoloTackles:
          nullable: true
          type: integer
        AwayTacklesForLoss:
          nullable: true
          type: integer
        AwayTakeaways:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayThirdDownAttempts:
          nullable: true
          type: integer
        AwayThirdDownConversions:
          nullable: true
          type: integer
        AwayThirdDownPercentage:
          nullable: true
          type: number
        AwayTimeOfPossession:
          nullable: true
          type: string
        AwayTimesSacked:
          nullable: true
          type: integer
        AwayTimesSackedYards:
          nullable: true
          type: integer
        AwayTouchdowns:
          nullable: true
          type: integer
        AwayTurnoverDifferential:
          nullable: true
          type: integer
        AwayTwoPointConversionReturns:
          nullable: true
          type: integer
        Date:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GameKey:
          nullable: true
          type: string
        HomeAssistedTackles:
          nullable: true
          type: integer
        HomeBlockedKickReturnTouchdowns:
          nullable: true
          type: integer
        HomeBlockedKickReturnYards:
          nullable: true
          type: integer
        HomeBlockedKicks:
          nullable: true
          type: integer
        HomeCompletionPercentage:
          nullable: true
          type: number
        HomeExtraPointKickingAttempts:
          nullable: true
          type: integer
        HomeExtraPointKickingConversions:
          nullable: true
          type: integer
        HomeExtraPointPassingAttempts:
          nullable: true
          type: integer
        HomeExtraPointPassingConversions:
          nullable: true
          type: integer
        HomeExtraPointRushingAttempts:
          nullable: true
          type: integer
        HomeExtraPointRushingConversions:
          nullable: true
          type: integer
        HomeExtraPointsHadBlocked:
          nullable: true
          type: integer
        HomeFieldGoalAttempts:
          nullable: true
          type: integer
        HomeFieldGoalReturnTouchdowns:
          nullable: true
          type: integer
        HomeFieldGoalReturnYards:
          nullable: true
          type: integer
        HomeFieldGoalsHadBlocked:
          nullable: true
          type: integer
        HomeFieldGoalsMade:
          nullable: true
          type: integer
        HomeFirstDowns:
          nullable: true
          type: integer
        HomeFirstDownsByPassing:
          nullable: true
          type: integer
        HomeFirstDownsByPenalty:
          nullable: true
          type: integer
        HomeFirstDownsByRushing:
          nullable: true
          type: integer
        HomeFourthDownAttempts:
          nullable: true
          type: integer
        HomeFourthDownConversions:
          nullable: true
          type: integer
        HomeFourthDownPercentage:
          nullable: true
          type: number
        HomeFumbleReturnTouchdowns:
          nullable: true
          type: integer
        HomeFumbleReturnYards:
          nullable: true
          type: integer
        HomeFumbles:
          nullable: true
          type: integer
        HomeFumblesForced:
          nullable: true
          type: integer
        HomeFumblesLost:
          nullable: true
          type: integer
        HomeFumblesRecovered:
          nullable: true
          type: integer
        HomeGiveaways:
          nullable: true
          type: integer
        HomeGoalToGoAttempts:
          nullable: true
          type: integer
        HomeGoalToGoConversions:
          nullable: true
          type: integer
        HomeInterceptionReturnTouchdowns:
          nullable: true
          type: integer
        HomeInterceptionReturnYards:
          nullable: true
          type: integer
        HomeInterceptionReturns:
          nullable: true
          type: integer
        HomeKickReturnLong:
          nullable: true
          type: integer
        HomeKickReturnTouchdowns:
          nullable: true
          type: integer
        HomeKickReturnYards:
          nullable: true
          type: integer
        HomeKickReturns:
          nullable: true
          type: integer
        HomeKickoffTouchbacks:
          nullable: true
          type: integer
        HomeKickoffs:
          nullable: true
          type: integer
        HomeKickoffsInEndZone:
          nullable: true
          type: integer
        HomeOffensivePlays:
          nullable: true
          type: integer
        HomeOffensiveYards:
          nullable: true
          type: integer
        HomeOffensiveYardsPerPlay:
          nullable: true
          type: number
        HomePasserRating:
          nullable: true
          type: number
        HomePassesDefended:
          nullable: true
          type: integer
        HomePassingAttempts:
          nullable: true
          type: integer
        HomePassingCompletions:
          nullable: true
          type: integer
        HomePassingInterceptions:
          nullable: true
          type: integer
        HomePassingTouchdowns:
          nullable: true
          type: integer
        HomePassingYards:
          nullable: true
          type: integer
        HomePassingYardsPerAttempt:
          nullable: true
          type: number
        HomePassingYardsPerCompletion:
          nullable: true
          type: number
        HomePenalties:
          nullable: true
          type: integer
        HomePenaltyYards:
          nullable: true
          type: integer
        HomePuntAverage:
          nullable: true
          type: number
        HomePuntNetAverage:
          nullable: true
          type: number
        HomePuntNetYards:
          nullable: true
          type: integer
        HomePuntReturnLong:
          nullable: true
          type: integer
        HomePuntReturnTouchdowns:
          nullable: true
          type: integer
        HomePuntReturnYards:
          nullable: true
          type: integer
        HomePuntReturns:
          nullable: true
          type: integer
        HomePuntYards:
          nullable: true
          type: integer
        HomePunts:
          nullable: true
          type: integer
        HomePuntsHadBlocked:
          nullable: true
          type: integer
        HomeQuarterbackHits:
          nullable: true
          type: integer
        HomeRedZoneAttempts:
          nullable: true
          type: integer
        HomeRedZoneConversions:
          nullable: true
          type: integer
        HomeReturnYards:
          nullable: true
          type: integer
        HomeRushingAttempts:
          nullable: true
          type: integer
        HomeRushingTouchdowns:
          nullable: true
          type: integer
        HomeRushingYards:
          nullable: true
          type: integer
        HomeRushingYardsPerAttempt:
          nullable: true
          type: number
        HomeSackYards:
          nullable: true
          type: integer
        HomeSacks:
          nullable: true
          type: integer
        HomeSafeties:
          nullable: true
          type: integer
        HomeScore:
          nullable: false
          type: integer
        HomeScoreOvertime:
          nullable: true
          type: integer
        HomeScoreQuarter1:
          nullable: true
          type: integer
        HomeScoreQuarter2:
          nullable: true
          type: integer
        HomeScoreQuarter3:
          nullable: true
          type: integer
        HomeScoreQuarter4:
          nullable: true
          type: integer
        HomeSoloTackles:
          nullable: true
          type: integer
        HomeTacklesForLoss:
          nullable: true
          type: integer
        HomeTakeaways:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeThirdDownAttempts:
          nullable: true
          type: integer
        HomeThirdDownConversions:
          nullable: true
          type: integer
        HomeThirdDownPercentage:
          nullable: true
          type: number
        HomeTimeOfPossession:
          nullable: true
          type: string
        HomeTimesSacked:
          nullable: true
          type: integer
        HomeTimesSackedYards:
          nullable: true
          type: integer
        HomeTouchdowns:
          nullable: true
          type: integer
        HomeTurnoverDifferential:
          nullable: true
          type: integer
        HomeTwoPointConversionReturns:
          nullable: true
          type: integer
        Humidity:
          nullable: true
          type: integer
        IsGameOver:
          nullable: true
          type: boolean
        OverUnder:
          nullable: true
          type: number
        PlayingSurface:
          nullable: true
          type: string
        PointSpread:
          nullable: true
          type: number
        ScoreID:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Stadium:
          nullable: true
          type: string
        StadiumDetails:
          $ref: '#/components/schemas/Stadium'
        StadiumID:
          nullable: true
          type: integer
        Temperature:
          nullable: true
          type: integer
        TotalScore:
          nullable: true
          type: integer
        Week:
          nullable: false
          type: integer
        WindSpeed:
          nullable: true
          type: integer
    News:
      example:
        PlayerID: 6
        OriginalSourceUrl: OriginalSourceUrl
        Updated: Updated
        Categories: Categories
        TermsOfUse: TermsOfUse
        Title: Title
        PlayerID2: 1
        TeamID: 5
        Source: Source
        Url: Url
        NewsID: 0
        TeamID2: 5
        Content: Content
        OriginalSource: OriginalSource
        Author: Author
        Team: Team
        Team2: Team2
        TimeAgo: TimeAgo
      properties:
        Author:
          nullable: true
          type: string
        Categories:
          nullable: true
          type: string
        Content:
          nullable: true
          type: string
        NewsID:
          nullable: false
          type: integer
        OriginalSource:
          nullable: true
          type: string
        OriginalSourceUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: true
          type: integer
        PlayerID2:
          nullable: true
          type: integer
        Source:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        Team2:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        TeamID2:
          nullable: true
          type: integer
        TermsOfUse:
          nullable: true
          type: string
        TimeAgo:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        Url:
          nullable: true
          type: string
    Player:
      example:
        PlayerID: 4
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        UpcomingGameOpponent: UpcomingGameOpponent
        GlobalTeamID: 1
        ShortName: ShortName
        UpcomingYahooSalary: 6
        FanDuelName: FanDuelName
        InjuryStatus: InjuryStatus
        BirthDateString: BirthDateString
        Name: Name
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        UpcomingGameWeek: 3
        SportsDirectPlayerID: 9
        UsaTodayPlayerID: 6
        PhotoUrl: PhotoUrl
        UpcomingSalary: 2
        DepthPosition: DepthPosition
        Status: Status
        Position: Position
        FanDuelPlayerID: 4
        DepthPositionCategory: DepthPositionCategory
        CollegeDraftPick: 5
        CollegeDraftRound: 5
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        XmlTeamPlayerID: 6
        Weight: 5
        Active: true
        Experience: 2
        InjuryPractice: InjuryPractice
        SportRadarPlayerID: SportRadarPlayerID
        DepthOrder: 9
        HeightFeet: 6
        College: College
        IsUndraftedFreeAgent: true
        LastName: LastName
        BirthDate: BirthDate
        CollegeDraftYear: 2
        UpcomingOpponentPositionRank: 6
        FantasyDraftPlayerID: 1
        UpcomingFanDuelSalary: 6
        AverageDraftPosition: 6.027456183070403
        RotoworldPlayerID: 9
        TeamID: 8
        Number: 1
        DraftKingsPlayerID: 3
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: Height
        Team: Team
        YahooPlayerID: 3
        UpcomingDraftKingsSalary: 9
        Age: 0
        InjuryPracticeDescription: InjuryPracticeDescription
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 6
        CollegeDraftTeam: CollegeDraftTeam
        CurrentStatus: CurrentStatus
        FirstName: FirstName
        PositionCategory: PositionCategory
        CurrentTeam: CurrentTeam
        ExperienceString: ExperienceString
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        HeightInches: 7
        ByeWeek: 1
        DraftKingsName: DraftKingsName
        InjuryBodyPart: InjuryBodyPart
        DeclaredInactive: true
        InjuryNotes: InjuryNotes
        FantasyPosition: FantasyPosition
        RotoWirePlayerID: 5
        FantasyAlarmPlayerID: 7
        FantasyPositionDepthOrder: 1
        DepthDisplayOrder: 7
        UpcomingOpponentRank: 1
      properties:
        Active:
          nullable: true
          type: boolean
        Age:
          nullable: true
          type: integer
        AverageDraftPosition:
          nullable: true
          type: number
        BirthDate:
          nullable: true
          type: string
        BirthDateString:
          nullable: true
          type: string
        ByeWeek:
          nullable: true
          type: integer
        College:
          nullable: true
          type: string
        CollegeDraftPick:
          nullable: true
          type: integer
        CollegeDraftRound:
          nullable: true
          type: integer
        CollegeDraftTeam:
          nullable: true
          type: string
        CollegeDraftYear:
          nullable: true
          type: integer
        CurrentStatus:
          nullable: true
          type: string
        CurrentTeam:
          nullable: true
          type: string
        DeclaredInactive:
          nullable: false
          type: boolean
        DepthDisplayOrder:
          nullable: true
          type: integer
        DepthOrder:
          nullable: true
          type: integer
        DepthPosition:
          nullable: true
          type: string
        DepthPositionCategory:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        Experience:
          nullable: true
          type: integer
        ExperienceString:
          nullable: true
          type: string
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FantasyPosition:
          nullable: true
          type: string
        FantasyPositionDepthOrder:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: string
        HeightFeet:
          nullable: true
          type: integer
        HeightInches:
          nullable: true
          type: integer
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryPractice:
          nullable: true
          type: string
        InjuryPracticeDescription:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        IsUndraftedFreeAgent:
          nullable: false
          type: boolean
        LastName:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        Number:
          nullable: true
          type: integer
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        ShortName:
          nullable: true
          type: string
        SportRadarPlayerID:
          nullable: true
          type: string
        SportsDirectPlayerID:
          nullable: true
          type: integer
        StatsPlayerID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        UpcomingDraftKingsSalary:
          nullable: true
          type: integer
        UpcomingFanDuelSalary:
          nullable: true
          type: integer
        UpcomingGameOpponent:
          nullable: true
          type: string
        UpcomingGameWeek:
          nullable: false
          type: integer
        UpcomingOpponentPositionRank:
          nullable: true
          type: integer
        UpcomingOpponentRank:
          nullable: true
          type: integer
        UpcomingSalary:
          nullable: true
          type: integer
        UpcomingYahooSalary:
          nullable: true
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          type: string
        UsaTodayPlayerID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
        XmlTeamPlayerID:
          nullable: true
          type: integer
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerDetail:
      example:
        PlayerID: 4
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        UpcomingGameOpponent: UpcomingGameOpponent
        GlobalTeamID: 1
        ShortName: ShortName
        UpcomingYahooSalary: 9
        FanDuelName: FanDuelName
        InjuryStatus: InjuryStatus
        BirthDateString: BirthDateString
        Name: Name
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        UpcomingGameWeek: 2
        SportsDirectPlayerID: 8
        UsaTodayPlayerID: 2
        PhotoUrl: PhotoUrl
        UpcomingSalary: 5
        DepthPosition: DepthPosition
        Status: Status
        PlayerSeason:
          BlockedKicks: 6.778324963048013
          PlayerID: 7
          Safeties: 8.276461147928103
          FumblesRecovered: 4.86315908102884
          RushingTouchdowns: 3.209082285545927
          DefensiveSnapsPlayed: 6
          TwoPointConversionReturns: 5.296102445648278
          PlayerSeasonID: 4
          WindSpeed: 1
          PassingLong: 7.835035282970782
          AverageDraftPositionPPR: 3.5571952270680973
          Activated: 5
          PuntLong: 0.58919091925136
          ReceivingLong: 3.8008573585058016
          FantasyPointsPPR: 4.652396432933246
          Fumbles: 0.8774076871421566
          InterceptionReturnTouchdowns: 4.459605034958679
          FumblesOutOfBounds: 7.933506881737151
          Position: Position
          FumblesForced: 9.702963800023566
          TacklesForLoss: 1.0502890910539986
          FieldGoalPercentage: 7.740351818741173
          PassingAttempts: 3.7814124730767915
          PassingInterceptions: 5.877124706116695
          ScoringDetails:
          - PlayerID: 2
            GameKey: GameKey
            ScoringDetailID: 0
            SeasonType: 0
            PlayerGameID: 8
            Length: 4
            ScoringPlayID: 2
            Team: Team
            ScoreID: 6
            ScoringType: ScoringType
            Season: 5
            Week: 7
          - PlayerID: 2
            GameKey: GameKey
            ScoringDetailID: 0
            SeasonType: 0
            PlayerGameID: 8
            Length: 4
            ScoringPlayID: 2
            Team: Team
            ScoreID: 6
            ScoringType: ScoringType
            Season: 5
            Week: 7
          PuntReturns: 3.812761638325517
          SpecialTeamsSoloTackles: 6.918231485891953
          FantasyPointsDraftKings: 7.058770351582356
          FumblesOwnRecoveries: 5.507386964179881
          AverageDraftPositionRookie: 6.965117697638846
          ExtraPointsMade: 7.143538047012306
          BlockedKickReturnYards: 2.8841621266687802
          SpecialTeamsFumblesRecovered: 9.721723570087065
          SafetiesAllowed: 6.458262756685686
          PassesDefended: 7.606863723092579
          MiscFumblesRecovered: 3.502657762086401
          KickReturnYards: 6.623518433804886
          Started: 0
          OffensiveFumbleRecoveryTouchdowns: 0
          KickReturnFairCatches: 2.9409642974827896
          PuntReturnTouchdowns: 9.806951670467935
          TeamID: 6
          ExtraPointsAttempted: 3.353193347011243
          PuntReturnYards: 1.3949519358941398
          ReceivingYardsPerTarget: 7.726998920545485
          Played: 0
          SoloTackles: 0.30134145536422907
          KickReturnLong: 1.7325933120207193
          Humidity: 8
          OffensiveTeamSnaps: 5
          OffensiveTouchdowns: 8.37823741034869
          QuarterbackHits: 5.974942028545841
          Team: Team
          Season: 6
          MiscAssistedTackles: 9.254183946267839
          AverageDraftPositionDynasty: 6.438423552598547
          MiscSoloTackles: 9.183123594773994
          Sacks: 4.010300976654761
          ExtraPointsHadBlocked: 3.0937452626664474
          FieldGoalsMade50Plus: 4.678947989005849
          MiscFumblesForced: 1.8268702177058116
          ReceptionPercentage: 7.92839742024475
          FieldGoalsMade0to19: 0.2025324113236393
          Interceptions: 0.43431398824148815
          FantasyPosition: FantasyPosition
          PuntTouchbacks: 5.6644160867523485
          PassingCompletions: 9.897492629215506
          FieldGoalsMade: 4.078845849666752
          FumblesLost: 0.5199002018724985
          RushingLong: 4.4935252719377825
          PuntReturnLong: 6.966044574347761
          PassingYardsPerCompletion: 0.4833312865174044
          PassingYardsPerAttempt: 4.518309517874243
          SpecialTeamsTouchdowns: 4.637509675190766
          FieldGoalsLongestMade: 3.2588565619047607
          ReceivingTouchdowns: 3.2841216543560217
          Receptions: 9.402167524121316
          GlobalTeamID: 6
          ShortName: ShortName
          Name: Name
          FieldGoalsMade20to29: 6.628464275087742
          ReceivingTargets: 1.0639121808530916
          ReceivingYardsPerReception: 7.3718573971919445
          AuctionValuePPR: 6.683562403749608
          SpecialTeamsTeamSnaps: 0
          RushingAttempts: 1.7045651386993
          FieldGoalReturnTouchdowns: 3.0205796992916243
          KickReturns: 8.863729185622827
          AssistedTackles: 9.965781217890562
          FieldGoalsMade40to49: 1.041444916118296
          SpecialTeamsSnapsPlayed: 7
          PuntReturnFairCatches: 4.8789878742268815
          FieldGoalsMade30to39: 4.258773108174356
          FantasyPointsFanDuel: 6.519180951018382
          PassingTouchdowns: 3.804112695731078
          FieldGoalsHadBlocked: 5.533258397034986
          KickReturnTouchdowns: 8.28965939814297
          PuntReturnYardsPerAttempt: 1.2555055362323109
          PuntYards: 1.5970080735609526
          PuntNetYards: 6.173804034172511
          Punts: 4.372688051310086
          TwoPointConversionPasses: 2.026856458177285
          TwoPointConversionReceptions: 3.196820582978078
          Touchdowns: 4.1661834558007
          FieldGoalReturnYards: 3.0576100241049344
          InterceptionReturnYards: 3.901545264248647
          Temperature: 2
          FumbleReturnTouchdowns: 7.260521264802104
          AverageDraftPosition: 8.762042012749001
          FantasyPointsYahoo: 8.969578798196912
          PassingSackYards: 3.1497903714250555
          TwoPointConversionRuns: 3.8156682252305574
          BlockedKickReturnTouchdowns: 1.284659006116532
          DefensiveTeamSnaps: 5
          FieldGoalsAttempted: 7.04836565559697
          Number: 8
          KickReturnYardsPerAttempt: 4.573936264232251
          RushingYardsPerAttempt: 2.9805393113464476
          DefensiveTouchdowns: 6.704019297950036
          FantasyPointsFantasyDraft: 0.10263654006109402
          AuctionValue: 9.369310271410669
          PuntsHadBlocked: 5.7911894223693885
          PassingCompletionPercentage: 3.111202833403195
          PassingSacks: 2.380090174313445
          FantasyPoints: 0.8851374739011653
          AverageDraftPosition2QB: 9.018348186070783
          SpecialTeamsAssistedTackles: 0.4867146239815201
          PassingRating: 0.4768402382624515
          PositionCategory: PositionCategory
          ReceivingYards: 9.785002165136461
          PuntNetAverage: 2.535258963197524
          FumbleReturnYards: 9.132027271330688
          PassingYards: 8.675064425986758
          SeasonType: 4
          Tackles: 7.390706075830692
          PuntInside20: 9.386524999783381
          SackYards: 9.146339979307802
          RushingYards: 8.262795412896967
          PuntAverage: 2.7977867356748476
          SpecialTeamsFumblesForced: 9.456612101333725
          OffensiveSnapsPlayed: 5
        Position: Position
        FanDuelPlayerID: 4
        DepthPositionCategory: DepthPositionCategory
        CollegeDraftPick: 5
        CollegeDraftRound: 5
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        XmlTeamPlayerID: 7
        Weight: 7
        Active: true
        Experience: 2
        InjuryPractice: InjuryPractice
        SportRadarPlayerID: SportRadarPlayerID
        DepthOrder: 9
        HeightFeet: 6
        College: College
        IsUndraftedFreeAgent: true
        LastName: LastName
        BirthDate: BirthDate
        CollegeDraftYear: 2
        UpcomingOpponentPositionRank: 4
        FantasyDraftPlayerID: 1
        UpcomingFanDuelSalary: 0
        LatestNews:
        - PlayerID: 6
          OriginalSourceUrl: OriginalSourceUrl
          Updated: Updated
          Categories: Categories
          TermsOfUse: TermsOfUse
          Title: Title
          PlayerID2: 1
          TeamID: 5
          Source: Source
          Url: Url
          NewsID: 0
          TeamID2: 5
          Content: Content
          OriginalSource: OriginalSource
          Author: Author
          Team: Team
          Team2: Team2
          TimeAgo: TimeAgo
        - PlayerID: 6
          OriginalSourceUrl: OriginalSourceUrl
          Updated: Updated
          Categories: Categories
          TermsOfUse: TermsOfUse
          Title: Title
          PlayerID2: 1
          TeamID: 5
          Source: Source
          Url: Url
          NewsID: 0
          TeamID2: 5
          Content: Content
          OriginalSource: OriginalSource
          Author: Author
          Team: Team
          Team2: Team2
          TimeAgo: TimeAgo
        AverageDraftPosition: 6.027456183070403
        RotoworldPlayerID: 3
        TeamID: 2
        Number: 1
        DraftKingsPlayerID: 3
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: Height
        Team: Team
        YahooPlayerID: 6
        UpcomingDraftKingsSalary: 8
        Age: 0
        InjuryPracticeDescription: InjuryPracticeDescription
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 7
        CollegeDraftTeam: CollegeDraftTeam
        CurrentStatus: CurrentStatus
        FirstName: FirstName
        PositionCategory: PositionCategory
        CurrentTeam: CurrentTeam
        ExperienceString: ExperienceString
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        HeightInches: 7
        ByeWeek: 1
        DraftKingsName: DraftKingsName
        InjuryBodyPart: InjuryBodyPart
        DeclaredInactive: true
        InjuryNotes: InjuryNotes
        FantasyPosition: FantasyPosition
        RotoWirePlayerID: 5
        FantasyAlarmPlayerID: 7
        FantasyPositionDepthOrder: 1
        DepthDisplayOrder: 7
        UpcomingOpponentRank: 3
      properties:
        Active:
          nullable: true
          type: boolean
        Age:
          nullable: true
          type: integer
        AverageDraftPosition:
          nullable: true
          type: number
        BirthDate:
          nullable: true
          type: string
        BirthDateString:
          nullable: true
          type: string
        ByeWeek:
          nullable: true
          type: integer
        College:
          nullable: true
          type: string
        CollegeDraftPick:
          nullable: true
          type: integer
        CollegeDraftRound:
          nullable: true
          type: integer
        CollegeDraftTeam:
          nullable: true
          type: string
        CollegeDraftYear:
          nullable: true
          type: integer
        CurrentStatus:
          nullable: true
          type: string
        CurrentTeam:
          nullable: true
          type: string
        DeclaredInactive:
          nullable: false
          type: boolean
        DepthDisplayOrder:
          nullable: true
          type: integer
        DepthOrder:
          nullable: true
          type: integer
        DepthPosition:
          nullable: true
          type: string
        DepthPositionCategory:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        Experience:
          nullable: true
          type: integer
        ExperienceString:
          nullable: true
          type: string
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FantasyPosition:
          nullable: true
          type: string
        FantasyPositionDepthOrder:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: string
        HeightFeet:
          nullable: true
          type: integer
        HeightInches:
          nullable: true
          type: integer
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryPractice:
          nullable: true
          type: string
        InjuryPracticeDescription:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        IsUndraftedFreeAgent:
          nullable: false
          type: boolean
        LastName:
          nullable: true
          type: string
        LatestNews:
          items:
            $ref: '#/components/schemas/News'
          type: array
        Name:
          nullable: true
          type: string
        Number:
          nullable: true
          type: integer
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        PlayerSeason:
          $ref: '#/components/schemas/PlayerSeason'
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        ShortName:
          nullable: true
          type: string
        SportRadarPlayerID:
          nullable: true
          type: string
        SportsDirectPlayerID:
          nullable: true
          type: integer
        StatsPlayerID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        UpcomingDraftKingsSalary:
          nullable: true
          type: integer
        UpcomingFanDuelSalary:
          nullable: true
          type: integer
        UpcomingGameOpponent:
          nullable: true
          type: string
        UpcomingGameWeek:
          nullable: false
          type: integer
        UpcomingOpponentPositionRank:
          nullable: true
          type: integer
        UpcomingOpponentRank:
          nullable: true
          type: integer
        UpcomingSalary:
          nullable: true
          type: integer
        UpcomingYahooSalary:
          nullable: true
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          type: string
        UsaTodayPlayerID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
        XmlTeamPlayerID:
          nullable: true
          type: integer
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerSeason:
      example:
        BlockedKicks: 6.778324963048013
        PlayerID: 7
        Safeties: 8.276461147928103
        FumblesRecovered: 4.86315908102884
        RushingTouchdowns: 3.209082285545927
        DefensiveSnapsPlayed: 6
        TwoPointConversionReturns: 5.296102445648278
        PlayerSeasonID: 4
        WindSpeed: 1
        PassingLong: 7.835035282970782
        AverageDraftPositionPPR: 3.5571952270680973
        Activated: 5
        PuntLong: 0.58919091925136
        ReceivingLong: 3.8008573585058016
        FantasyPointsPPR: 4.652396432933246
        Fumbles: 0.8774076871421566
        InterceptionReturnTouchdowns: 4.459605034958679
        FumblesOutOfBounds: 7.933506881737151
        Position: Position
        FumblesForced: 9.702963800023566
        TacklesForLoss: 1.0502890910539986
        FieldGoalPercentage: 7.740351818741173
        PassingAttempts: 3.7814124730767915
        PassingInterceptions: 5.877124706116695
        ScoringDetails:
        - PlayerID: 2
          GameKey: GameKey
          ScoringDetailID: 0
          SeasonType: 0
          PlayerGameID: 8
          Length: 4
          ScoringPlayID: 2
          Team: Team
          ScoreID: 6
          ScoringType: ScoringType
          Season: 5
          Week: 7
        - PlayerID: 2
          GameKey: GameKey
          ScoringDetailID: 0
          SeasonType: 0
          PlayerGameID: 8
          Length: 4
          ScoringPlayID: 2
          Team: Team
          ScoreID: 6
          ScoringType: ScoringType
          Season: 5
          Week: 7
        PuntReturns: 3.812761638325517
        SpecialTeamsSoloTackles: 6.918231485891953
        FantasyPointsDraftKings: 7.058770351582356
        FumblesOwnRecoveries: 5.507386964179881
        AverageDraftPositionRookie: 6.965117697638846
        ExtraPointsMade: 7.143538047012306
        BlockedKickReturnYards: 2.8841621266687802
        SpecialTeamsFumblesRecovered: 9.721723570087065
        SafetiesAllowed: 6.458262756685686
        PassesDefended: 7.606863723092579
        MiscFumblesRecovered: 3.502657762086401
        KickReturnYards: 6.623518433804886
        Started: 0
        OffensiveFumbleRecoveryTouchdowns: 0
        KickReturnFairCatches: 2.9409642974827896
        PuntReturnTouchdowns: 9.806951670467935
        TeamID: 6
        ExtraPointsAttempted: 3.353193347011243
        PuntReturnYards: 1.3949519358941398
        ReceivingYardsPerTarget: 7.726998920545485
        Played: 0
        SoloTackles: 0.30134145536422907
        KickReturnLong: 1.7325933120207193
        Humidity: 8
        OffensiveTeamSnaps: 5
        OffensiveTouchdowns: 8.37823741034869
        QuarterbackHits: 5.974942028545841
        Team: Team
        Season: 6
        MiscAssistedTackles: 9.254183946267839
        AverageDraftPositionDynasty: 6.438423552598547
        MiscSoloTackles: 9.183123594773994
        Sacks: 4.010300976654761
        ExtraPointsHadBlocked: 3.0937452626664474
        FieldGoalsMade50Plus: 4.678947989005849
        MiscFumblesForced: 1.8268702177058116
        ReceptionPercentage: 7.92839742024475
        FieldGoalsMade0to19: 0.2025324113236393
        Interceptions: 0.43431398824148815
        FantasyPosition: FantasyPosition
        PuntTouchbacks: 5.6644160867523485
        PassingCompletions: 9.897492629215506
        FieldGoalsMade: 4.078845849666752
        FumblesLost: 0.5199002018724985
        RushingLong: 4.4935252719377825
        PuntReturnLong: 6.966044574347761
        PassingYardsPerCompletion: 0.4833312865174044
        PassingYardsPerAttempt: 4.518309517874243
        SpecialTeamsTouchdowns: 4.637509675190766
        FieldGoalsLongestMade: 3.2588565619047607
        ReceivingTouchdowns: 3.2841216543560217
        Receptions: 9.402167524121316
        GlobalTeamID: 6
        ShortName: ShortName
        Name: Name
        FieldGoalsMade20to29: 6.628464275087742
        ReceivingTargets: 1.0639121808530916
        ReceivingYardsPerReception: 7.3718573971919445
        AuctionValuePPR: 6.683562403749608
        SpecialTeamsTeamSnaps: 0
        RushingAttempts: 1.7045651386993
        FieldGoalReturnTouchdowns: 3.0205796992916243
        KickReturns: 8.863729185622827
        AssistedTackles: 9.965781217890562
        FieldGoalsMade40to49: 1.041444916118296
        SpecialTeamsSnapsPlayed: 7
        PuntReturnFairCatches: 4.8789878742268815
        FieldGoalsMade30to39: 4.258773108174356
        FantasyPointsFanDuel: 6.519180951018382
        PassingTouchdowns: 3.804112695731078
        FieldGoalsHadBlocked: 5.533258397034986
        KickReturnTouchdowns: 8.28965939814297
        PuntReturnYardsPerAttempt: 1.2555055362323109
        PuntYards: 1.5970080735609526
        PuntNetYards: 6.173804034172511
        Punts: 4.372688051310086
        TwoPointConversionPasses: 2.026856458177285
        TwoPointConversionReceptions: 3.196820582978078
        Touchdowns: 4.1661834558007
        FieldGoalReturnYards: 3.0576100241049344
        InterceptionReturnYards: 3.901545264248647
        Temperature: 2
        FumbleReturnTouchdowns: 7.260521264802104
        AverageDraftPosition: 8.762042012749001
        FantasyPointsYahoo: 8.969578798196912
        PassingSackYards: 3.1497903714250555
        TwoPointConversionRuns: 3.8156682252305574
        BlockedKickReturnTouchdowns: 1.284659006116532
        DefensiveTeamSnaps: 5
        FieldGoalsAttempted: 7.04836565559697
        Number: 8
        KickReturnYardsPerAttempt: 4.573936264232251
        RushingYardsPerAttempt: 2.9805393113464476
        DefensiveTouchdowns: 6.704019297950036
        FantasyPointsFantasyDraft: 0.10263654006109402
        AuctionValue: 9.369310271410669
        PuntsHadBlocked: 5.7911894223693885
        PassingCompletionPercentage: 3.111202833403195
        PassingSacks: 2.380090174313445
        FantasyPoints: 0.8851374739011653
        AverageDraftPosition2QB: 9.018348186070783
        SpecialTeamsAssistedTackles: 0.4867146239815201
        PassingRating: 0.4768402382624515
        PositionCategory: PositionCategory
        ReceivingYards: 9.785002165136461
        PuntNetAverage: 2.535258963197524
        FumbleReturnYards: 9.132027271330688
        PassingYards: 8.675064425986758
        SeasonType: 4
        Tackles: 7.390706075830692
        PuntInside20: 9.386524999783381
        SackYards: 9.146339979307802
        RushingYards: 8.262795412896967
        PuntAverage: 2.7977867356748476
        SpecialTeamsFumblesForced: 9.456612101333725
        OffensiveSnapsPlayed: 5
      properties:
        Activated:
          nullable: false
          type: integer
        AssistedTackles:
          nullable: false
          type: number
        AuctionValue:
          nullable: true
          type: number
        AuctionValuePPR:
          nullable: true
          type: number
        AverageDraftPosition:
          nullable: true
          type: number
[...]
