openapi: 3.0.1
info:
  title: MonitorManagementClient
  version: 2017-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/subscriptionDiagnosticsSettings_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-subscriptionDiagnosticsSettings_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/diagnosticSettings:
    get:
      description: Gets the active subscription diagnostic settings list for the specified
        subscriptionId.
      operationId: subscription_diagnostic_settings_list
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDiagnosticSettingsResourceCollection'
          description: Successful request to get more information about subscription
            diagnostic setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - SubscriptionDiagnosticSettings
      x-ms-examples:
        Gets the subscription diagnostic setting:
          parameters:
            api-version: 2017-05-01-preview
            subscriptionId: fb9f25f9-5785-4510-a38f-a62f188eb9f8
          responses:
            "200":
              body:
                value:
                - id: subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/providers/AzureResourceManager/diagnosticSettings/ds4
                  name: ds4
                  properties:
                    eventHubAuthorizationRuleId: /subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                    logs:
                    - category: Security
                      enabled: true
                    - category: Administrative
                      enabled: true
                    - category: ServiceHealth
                      enabled: true
                    - category: Alert
                      enabled: true
                    - category: Recommendation
                      enabled: true
                    - category: Policy
                      enabled: true
                    - category: Autoscale
                      enabled: true
                    - category: ResourceHealth
                      enabled: true
                    storageAccountId: /subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                    workspaceId: /subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/Microsoft.OperationalInsights/workspaces/test1
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.subscription_diagnostic_settings_controller
  /subscriptions/{subscriptionId}/providers/microsoft.insights/diagnosticSettings/{name}:
    delete:
      description: Deletes existing subscription diagnostic settings for the specified
        resource.
      operationId: subscription_diagnostic_settings_delete
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the diagnostic setting.
        in: path
        name: name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Successful request to remove a subscription diagnostic setting
        "204":
          content: {}
          description: Successful request to remove a subscription diagnostic setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - SubscriptionDiagnosticSettings
      x-ms-examples:
        Deletes the subscription diagnostic setting:
          parameters:
            api-version: 2017-05-01-preview
            name: ds4
            subscriptionId: 1a66ce04-b633-4a0b-b2bc-a912ec8986a6
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.subscription_diagnostic_settings_controller
    get:
      description: Gets the active subscription diagnostic settings for the specified
        resource.
      operationId: subscription_diagnostic_settings_get
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the diagnostic setting.
        in: path
        name: name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDiagnosticSettingsResource'
          description: Successful request to get more information about diagnostic
            setting.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - SubscriptionDiagnosticSettings
      x-ms-examples:
        Gets the subscription diagnostic setting:
          parameters:
            api-version: 2017-05-01-preview
            name: mysetting
            subscriptionId: fb9f25f9-5785-4510-a38f-a62f188eb9f8
          responses:
            "200":
              body:
                id: subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/providers/AzureResourceManager/diagnosticSettings/ds4
                location: global
                name: ds4
                properties:
                  eventHubAuthorizationRuleId: /subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                  logs:
                  - category: Security
                    enabled: true
                  - category: Administrative
                    enabled: true
                  - category: ServiceHealth
                    enabled: true
                  - category: Alert
                    enabled: true
                  - category: Recommendation
                    enabled: true
                  - category: Policy
                    enabled: true
                  - category: Autoscale
                    enabled: true
                  - category: ResourceHealth
                    enabled: true
                  storageAccountId: /subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                  workspaceId: /subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/Microsoft.OperationalInsights/workspaces/test1
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.subscription_diagnostic_settings_controller
    put:
      description: Creates or updates subscription diagnostic settings for the specified
        resource.
      operationId: subscription_diagnostic_settings_create_or_update
      parameters:
      - description: The subscription id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the diagnostic setting.
        in: path
        name: name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionDiagnosticSettingsResource'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDiagnosticSettingsResource'
          description: Successful request to create a subscription diagnostic setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - SubscriptionDiagnosticSettings
      x-ms-examples:
        Creates or Updates the subscription diagnostic setting:
          parameters:
            api-version: 2017-05-01-preview
            name: ds4
            parameters:
              properties:
                eventHubAuthorizationRuleId: /subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                eventHubName: myeventhub
                logs:
                - category: Security
                  enabled: true
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                workspaceId: ""
            subscriptionId: fb9f25f9-5785-4510-a38f-a62f188eb9f8
          responses:
            "200":
              body:
                id: subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/providers/AzureResourceManager/diagnosticSettings/ds4
                location: global
                name: ds4
                properties:
                  eventHubAuthorizationRuleId: /subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                  logs:
                  - category: Security
                    enabled: true
                  - category: Administrative
                    enabled: true
                  - category: ServiceHealth
                    enabled: true
                  - category: Alert
                    enabled: true
                  - category: Recommendation
                    enabled: true
                  - category: Policy
                    enabled: true
                  - category: Autoscale
                    enabled: true
                  - category: ResourceHealth
                    enabled: true
                  storageAccountId: /subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                  workspaceId: /subscriptions/fb9f25f9-5785-4510-a38f-a62f188eb9f8/resourceGroups/apptest/providers/Microsoft.OperationalInsights/workspaces/test1
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.subscription_diagnostic_settings_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    NameParameter:
      description: The name of the diagnostic setting.
      in: path
      name: name
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    SubscriptionDiagnosticSettings:
      description: The subscription diagnostic settings.
      example:
        serviceBusRuleId: serviceBusRuleId
        storageAccountId: storageAccountId
        eventHubAuthorizationRuleId: eventHubAuthorizationRuleId
        eventHubName: eventHubName
        logs:
        - category: category
          enabled: true
        - category: category
          enabled: true
        workspaceId: workspaceId
      properties:
        eventHubAuthorizationRuleId:
          description: The resource Id for the event hub authorization rule.
          title: eventHubAuthorizationRuleId
          type: string
        eventHubName:
          description: "The name of the event hub. If none is specified, the default\
            \ event hub will be selected."
          title: eventHubName
          type: string
        logs:
          description: The list of logs settings.
          items:
            $ref: '#/components/schemas/SubscriptionLogSettings'
          title: logs
          type: array
        serviceBusRuleId:
          description: The service bus rule Id of the diagnostic setting. This is
            here to maintain backwards compatibility.
          title: serviceBusRuleId
          type: string
        storageAccountId:
          description: The resource ID of the storage account to which you would like
            to send Diagnostic Logs.
          title: storageAccountId
          type: string
        workspaceId:
          description: "The full ARM resource ID of the Log Analytics workspace to\
            \ which you would like to send Diagnostic Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2"
          title: workspaceId
          type: string
      title: SubscriptionDiagnosticSettings
      type: object
    SubscriptionDiagnosticSettingsResource:
      allOf:
      - $ref: '#/components/schemas/SubscriptionProxyOnlyResource'
      description: The subscription diagnostic setting resource.
      example:
        properties:
          serviceBusRuleId: serviceBusRuleId
          storageAccountId: storageAccountId
          eventHubAuthorizationRuleId: eventHubAuthorizationRuleId
          eventHubName: eventHubName
          logs:
          - category: category
            enabled: true
          - category: category
            enabled: true
          workspaceId: workspaceId
      properties:
        properties:
          $ref: '#/components/schemas/SubscriptionDiagnosticSettings'
      title: SubscriptionDiagnosticSettingsResource
    SubscriptionDiagnosticSettingsResourceCollection:
      description: Represents a collection of subscription diagnostic settings resources.
      example:
        value:
        - properties:
            serviceBusRuleId: serviceBusRuleId
            storageAccountId: storageAccountId
            eventHubAuthorizationRuleId: eventHubAuthorizationRuleId
            eventHubName: eventHubName
            logs:
            - category: category
              enabled: true
            - category: category
              enabled: true
            workspaceId: workspaceId
        - properties:
            serviceBusRuleId: serviceBusRuleId
            storageAccountId: storageAccountId
            eventHubAuthorizationRuleId: eventHubAuthorizationRuleId
            eventHubName: eventHubName
            logs:
            - category: category
              enabled: true
            - category: category
              enabled: true
            workspaceId: workspaceId
      properties:
        value:
          description: The collection of subscription diagnostic settings resources.
          items:
            $ref: '#/components/schemas/SubscriptionDiagnosticSettingsResource'
          title: value
          type: array
      title: SubscriptionDiagnosticSettingsResourceCollection
      type: object
    SubscriptionLogSettings:
      description: Part of Subscription diagnostic setting. Specifies the settings
        for a particular log.
      example:
        category: category
        enabled: true
      properties:
        category:
          description: Name of a Subscription Diagnostic Log category for a resource
            type this setting is applied to.
          title: category
          type: string
        enabled:
          description: a value indicating whether this log is enabled.
          title: enabled
          type: boolean
      required:
      - enabled
      title: SubscriptionLogSettings
      type: object
    SubscriptionProxyOnlyResource:
      description: A proxy only azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Location of the resource
          title: location
          type: string
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      title: SubscriptionProxyOnlyResource
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
