openapi: 3.0.1
info:
  contact:
    name: Mohamed Enein
  description: APIs for managing software update configurations.
  title: Update Management
  version: 2017-05-15-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/softwareUpdateConfiguration.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-softwareUpdateConfiguration
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations
  : get:
      description: Get all software update configurations for the account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations
      operationId: SoftwareUpdateConfigurations_List
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Identifies this specific client request.
        in: header
        name: clientRequestId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareUpdateConfigurationListResult'
          description: Return list of software update configurations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareUpdateConfigurations_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Software Update Configuration
      x-ms-examples:
        List software update configurations:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            body: {}
            resourceGroupName: mygroup
            subscriptionId: 1a7d4044-286c-4acb-969a-96639265bf2e
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/Mo-Resources-WCUS/providers/Microsoft.Automation/automationAccounts/Mo-AAA-WCUS/softwareUpdateConfigurations/testpatch-01
                  name: testpatch-01
                  properties:
                    creationTime: 2017-10-19T18:54:50.5233333+00:00
                    frequency: Week
                    lastModifiedTime: 2017-10-19T18:54:50.68+00:00
                    nextRun: 2017-10-23T12:22:00-07:00
                    provisioningState: Succeeded
                    startTime: 2017-10-19T12:22:00-07:00
                    tasks:
                      postTask:
                        source: GetCache
                      preTask:
                        parameters:
                          COMPUTERNAME: Computer1
                        source: HelloWorld
                    updateConfiguration:
                      azureVirtualMachines:
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03
                      duration: PT2H
                      operatingSystem: Windows
                      targets:
                        azureQueries:
                        - scope:
                          - /subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/a-stasku-rg0
                          - /subscriptions/422b6c61-95b0-4213-b3be-7282315df71d
                          tagSettings:
                            filterOperator: All
                            tags:
                              tag1:
                              - tag1Value1
                              - tag1Value2
                              tag2:
                              - tag2Value1
                              - tag2Value2
                      windows:
                        includedUpdateClassifications: "Critical, Security, UpdateRollup,\
                          \ FeaturePack, ServicePack, Definition, Tools, Updates"
                - id: /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/Mo-Resources-WCUS/providers/Microsoft.Automation/automationAccounts/Mo-AAA-WCUS/softwareUpdateConfigurations/testpatch-02
                  name: testpatch-02
                  properties:
                    creationTime: 2017-08-11T21:52:02.7733333+00:00
                    frequency: Hour
                    lastModifiedTime: 2017-08-11T21:52:22.88+00:00
                    nextRun: 2018-05-05T12:26:00-07:00
                    provisioningState: Succeeded
                    startTime: 2018-05-05T12:26:00-07:00
                    tasks:
                      postTask:
                        source: GetCache
                      preTask:
                        parameters:
                          COMPUTERNAME: Computer1
                        source: HelloWorld
                    updateConfiguration:
                      azureVirtualMachines:
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-04
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-05
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-06
                      duration: PT2H30M
                      operatingSystem: Windows
                      targets:
                        azureQueries:
                        - locations:
                          - Japan East
                          - UK South
                          scope:
                          - /subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/a-stasku-rg0
                          - /subscriptions/422b6c61-95b0-4213-b3be-7282315df71d
                          tagSettings:
                            filterOperator: All
                            tags:
                              tag1:
                              - tag1Value1
                              - tag1Value2
                              tag2:
                              - tag2Value1
                              - tag2Value2
                      windows:
                        includedUpdateClassifications: "Critical, FeaturePack"
        List software update configurations Targeting a specific azure virtual machine:
          parameters:
            $filter: "properties/updateConfiguration/azureVirtualMachines/any(m: m\
              \ eq '/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01')"
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            body: {}
            resourceGroupName: mygroup
            subscriptionId: 1a7d4044-286c-4acb-969a-96639265bf2e
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/Mo-Resources-WCUS/providers/Microsoft.Automation/automationAccounts/Mo-AAA-WCUS/softwareUpdateConfigurations/testpatch-01
                  name: testpatch-01
                  properties:
                    creationTime: 2017-10-19T18:54:50.5233333+00:00
                    frequency: Week
                    lastModifiedTime: 2017-10-19T18:54:50.68+00:00
                    nextRun: 2017-10-23T12:22:00-07:00
                    provisioningState: Succeeded
                    startTime: 2017-10-19T12:22:00-07:00
                    tasks:
                      postTask:
                        source: GetCache
                      preTask:
                        parameters:
                          COMPUTERNAME: Computer1
                        source: HelloWorld
                    updateConfiguration:
                      azureVirtualMachines:
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03
                      duration: PT2H
                      operatingSystem: Windows
                      windows:
                        includedUpdateClassifications: "Critical, Security, UpdateRollup,\
                          \ FeaturePack, ServicePack, Definition, Tools, Updates"
                - id: /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/Mo-Resources-WCUS/providers/Microsoft.Automation/automationAccounts/Mo-AAA-WCUS/softwareUpdateConfigurations/testpatch-02
                  name: testpatch-02
                  properties:
                    creationTime: 2017-08-11T21:52:02.7733333+00:00
                    frequency: Hour
                    lastModifiedTime: 2017-08-11T21:52:22.88+00:00
                    nextRun: 2018-05-05T12:26:00-07:00
                    provisioningState: Succeeded
                    startTime: 2018-05-05T12:26:00-07:00
                    tasks:
                      postTask:
                        source: GetCache
                      preTask:
                        parameters:
                          COMPUTERNAME: Computer1
                        source: HelloWorld
                    updateConfiguration:
                      azureVirtualMachines:
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-05
                      - /subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-06
                      duration: PT2H30M
                      operatingSystem: Windows
                      windows:
                        includedUpdateClassifications: "Critical, FeaturePack"
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations/{softwareUpdateConfigurationName}
  : delete:
      description: delete a specific software update configuration.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations
      operationId: SoftwareUpdateConfigurations_Delete
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the software update configuration to be created.
        in: path
        name: softwareUpdateConfigurationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Identifies this specific client request.
        in: header
        name: clientRequestId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The software update configuration has been deleted.
        "204":
          content: {}
          description: The software update configuration does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareUpdateConfigurations_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Software Update Configuration
      x-ms-examples:
        Delete software update configuration:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            body: {}
            resourceGroupName: mygroup
            softwareUpdateConfigurationName: mypatch
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get a single software update configuration by name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations
      operationId: SoftwareUpdateConfigurations_GetByName
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the software update configuration to be created.
        in: path
        name: softwareUpdateConfigurationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Identifies this specific client request.
        in: header
        name: clientRequestId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareUpdateConfiguration'
          description: A single software update configuration.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareUpdateConfigurations_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Software Update Configuration
      x-ms-examples:
        Get software update configuration by name:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            body: {}
            resourceGroupName: mygroup
            softwareUpdateConfigurationName: mypatch
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurations/testpatch
                name: testpatch
                properties:
                  createdBy: eve@contoso.com
                  creationTime: 2017-10-19T18:54:50.5233333+00:00
                  error: {}
                  lastModifiedBy: ""
                  lastModifiedTime: 2017-10-19T18:54:50.68+00:00
                  provisioningState: Provisioning
                  scheduleInfo:
                    creationTime: 2017-10-19T18:54:50.5233333+00:00
                    description: ""
                    expiryTime: 2018-11-09T11:22:00-08:00
                    expiryTimeOffsetMinutes: -480
                    frequency: Week
                    interval: 1
                    isEnabled: true
                    lastModifiedTime: 2017-10-19T18:54:50.5233333+00:00
                    nextRun: 2017-10-19T12:22:00-07:00
                    nextRunOffsetMinutes: -420
                    startTime: 2017-10-19T12:22:00-07:00
                    startTimeOffsetMinutes: -420
                    timeZone: America/Los_Angeles
                  tasks:
                    postTask:
                      source: GetCache
                    preTask:
                      parameters:
                        COMPUTERNAME: Computer1
                      source: HelloWorld
                  updateConfiguration:
                    azureVirtualMachines:
                    - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01
                    - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02
                    - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03
                    duration: PT2H
                    linux: {}
                    nonAzureComputerNames:
                    - box1.contoso.com
                    - box2.contoso.com
                    operatingSystem: Windows
                    targets:
                      azureQueries:
                      - scope:
                        - /subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/a-stasku-rg0
                        - /subscriptions/422b6c61-95b0-4213-b3be-7282315df71d
                        tagSettings:
                          filterOperator: All
                          tags:
                            tag1:
                            - tag1Value1
                            - tag1Value2
                            tag2:
                            - tag2Value1
                            - tag2Value2
                    windows:
                      excludedKbNumbers:
                      - "168934"
                      - "168973"
                      includedUpdateClassifications: Critical
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Create a new software update configuration with the name given
        in the URI.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations
      operationId: SoftwareUpdateConfigurations_Create
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the software update configuration to be created.
        in: path
        name: softwareUpdateConfigurationName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Identifies this specific client request.
        in: header
        name: clientRequestId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/softwareUpdateConfiguration'
        description: Request body.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareUpdateConfiguration'
          description: Software update configuration with the same name and properties
            already exists.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareUpdateConfiguration'
          description: Software update configuration is created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareUpdateConfigurations_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Software Update Configuration
      x-ms-examples:
        Create software update configuration:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            parameters:
              properties:
                scheduleInfo:
                  advancedSchedule:
                    weekDays:
                    - Monday
                    - Thursday
                  expiryTime: 2018-11-09T11:22:57+00:00
                  frequency: Hour
                  interval: 1
                  startTime: 2017-10-19T12:22:57+00:00
                  timeZone: America/Los_Angeles
                tasks:
                  postTask:
                    source: GetCache
                  preTask:
                    parameters:
                      COMPUTERNAME: Computer1
                    source: HelloWorld
                updateConfiguration:
                  azureVirtualMachines:
                  - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01
                  - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02
                  - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03
                  duration: PT2H0M
                  nonAzureComputerNames:
                  - box1.contoso.com
                  - box2.contoso.com
                  operatingSystem: Windows
                  targets:
                    azureQueries:
                    - locations:
                      - Japan East
                      - UK South
                      scope:
                      - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources
                      - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067
                      tagSettings:
                        filterOperator: All
                        tags:
                        - tag1:
                          - tag1Value1
                          - tag1Value2
                          - tag1Value3
                        - tag2:
                          - tag2Value1
                          - tag2Value2
                          - tag2Value3
                    nonAzureQueries:
                    - functionAlias: SavedSearch1
                      workspaceId: WorkspaceId1
                    - functionAlias: SavedSearch2
                      workspaceId: WorkspaceId2
                  windows:
                    excludedKbNumbers:
                    - "168934"
                    - "168973"
                    includedUpdateClassifications: Critical
                    rebootSetting: IfRequired
            resourceGroupName: mygroup
            softwareUpdateConfigurationName: testpatch
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurations/testpatch
                name: testpatch
                properties:
                  createdBy: adam@contoso.com
                  creationTime: 2017-10-19T18:54:50.5233333+00:00
                  error: {}
                  lastModifiedBy: adam@contoso.com
                  lastModifiedTime: 2017-10-19T18:54:50.68+00:00
                  provisioningState: Provisioning
                  scheduleInfo:
                    advancedSchedule: {}
                    creationTime: 2017-10-19T18:54:50.5233333+00:00
                    description: ""
                    expiryTime: 2018-11-09T11:22:00-08:00
                    expiryTimeOffsetMinutes: -480
                    frequency: Week
                    interval: 1
                    isEnabled: true
                    lastModifiedTime: 2017-10-19T18:54:50.5233333+00:00
                    nextRun: 2017-10-19T12:22:00-07:00
                    nextRunOffsetMinutes: -420
                    startTime: 2017-10-19T12:22:00-07:00
                    startTimeOffsetMinutes: -420
                    timeZone: America/Los_Angeles
                  tasks:
                    postTask:
                      source: GetCache
                    preTask:
                      parameters:
                        COMPUTERNAME: Computer1
                      source: HelloWorld
                  updateConfiguration:
                    azureVirtualMachines:
                    - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01
                    - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02
                    - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03
                    duration: PT2H
                    linux: {}
                    nonAzureComputerNames:
                    - box1.contoso.com
                    - box2.contoso.com
                    operatingSystem: Windows
                    targets:
                      azureQueries:
                      - locations:
                        - Japan East
                        - UK South
                        scope:
                        - /subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/a-stasku-rg0
                        - /subscriptions/422b6c61-95b0-4213-b3be-7282315df71d
                        tagSettings:
                          filterOperator: All
                          tags:
                            tag1:
                            - tag1Value1
                            - tag1Value2
                            tag2:
                            - tag2Value1
                            - tag2Value2
                    windows:
                      excludedKbNumbers:
                      - "168934"
                      - "168973"
                      includedUpdateClassifications: Critical
              headers: {}
            "201":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurations/testpatch
                name: testpatch
                properties:
                  creationTime: 2017-10-19T18:54:50.5233333+00:00
                  error: {}
                  lastModifiedBy: ""
                  lastModifiedTime: 2017-10-19T18:54:50.68+00:00
                  provisioningState: Provisioning
                  scheduleInfo:
                    creationTime: 2017-10-19T18:54:50.5233333+00:00
                    description: ""
                    expiryTime: 2018-11-09T11:22:00-08:00
                    expiryTimeOffsetMinutes: -480
                    frequency: Week
                    interval: 1
                    isEnabled: true
                    lastModifiedTime: 2017-10-19T18:54:50.5233333+00:00
                    nextRun: 2017-10-19T12:22:00-07:00
                    nextRunOffsetMinutes: -420
                    startTime: 2017-10-19T12:22:00-07:00
                    startTimeOffsetMinutes: -420
                    timeZone: America/Los_Angeles
                  tasks:
                    postTask:
                      source: GetCache
                    preTask:
                      parameters:
                        COMPUTERNAME: Computer1
                      source: HelloWorld
                  updateConfiguration:
                    azureVirtualMachines:
                    - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01
                    - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02
                    - /subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03
                    duration: PT2H
                    linux: {}
                    nonAzureComputerNames:
                    - box1.contoso.com
                    - box2.contoso.com
                    operatingSystem: Windows
                    targets:
                      azureQueries:
                      - locations:
                        - Japan East
                        - UK South
                        scope:
                        - /subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/a-stasku-rg0
                        - /subscriptions/422b6c61-95b0-4213-b3be-7282315df71d
                        tagSettings:
                          filterOperator: All
                          tags:
                            tag1:
                            - tag1Value1
                            - tag1Value2
                            tag2:
                            - tag2Value1
                            - tag2Value2
                    windows:
                      excludedKbNumbers:
                      - "168934"
                      - "168973"
                      includedUpdateClassifications: Critical
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    AdvancedSchedule:
      description: The properties of the create Advanced Schedule.
      example:
        monthlyOccurrences:
        - occurrence: 6
          day: Monday
        - occurrence: 6
          day: Monday
        weekDays:
        - weekDays
        - weekDays
        monthDays:
        - 0
        - 0
      properties:
        monthDays:
          description: Days of the month that the job should execute on. Must be between
            1 and 31.
          items:
            format: int32
            nullable: false
            type: integer
          type: array
        monthlyOccurrences:
          description: Occurrences of days within a month.
          items:
            $ref: '#/components/schemas/AdvancedScheduleMonthlyOccurrence'
          type: array
        weekDays:
          description: Days of the week that the job should execute on.
          items:
            type: string
          type: array
      type: object
    AdvancedScheduleMonthlyOccurrence:
      description: The properties of the create advanced schedule monthly occurrence.
      example:
        occurrence: 6
        day: Monday
      properties:
        day:
          description: "Day of the occurrence. Must be one of monday, tuesday, wednesday,\
            \ thursday, friday, saturday, sunday."
          enum:
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          - Sunday
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScheduleDay
        occurrence:
          description: Occurrence of the week within the month. Must be between 1
            and 5
          format: int32
          type: integer
      type: object
    AzureQueryProperties:
      description: Azure query for the update configuration.
      example:
        scope:
        - scope
        - scope
        tagSettings:
          filterOperator: All
          tags:
            key:
            - tags
            - tags
        locations:
        - locations
        - locations
      properties:
        locations:
          description: List of locations to scope the query to.
          items:
            description: Location to scope the query to.
            type: string
          type: array
        scope:
          description: List of Subscription or Resource Group ARM Ids.
          items:
            description: Subscription or Resource Group ARM Id.
            type: string
          type: array
        tagSettings:
          $ref: '#/components/schemas/TagSettingsProperties'
      type: object
    LinuxProperties:
      description: Linux specific update configuration.
      example:
        includedPackageNameMasks:
        - includedPackageNameMasks
        - includedPackageNameMasks
        rebootSetting: rebootSetting
        includedPackageClassifications: Unclassified
        excludedPackageNameMasks:
        - excludedPackageNameMasks
        - excludedPackageNameMasks
      properties:
        excludedPackageNameMasks:
          description: packages excluded from the software update configuration.
          items:
            type: string
          type: array
        includedPackageClassifications:
          description: Update classifications included in the software update configuration.
          enum:
          - Unclassified
          - Critical
          - Security
          - Other
          type: string
          x-ms-enum:
            modelAsString: true
            name: LinuxUpdateClasses
        includedPackageNameMasks:
          description: packages included from the software update configuration.
          items:
            type: string
          type: array
        rebootSetting:
          description: Reboot setting for the software update configuration.
          type: string
      type: object
    NonAzureQueryProperties:
      description: Non Azure query for the update configuration.
      example:
        functionAlias: functionAlias
        workspaceId: workspaceId
      properties:
        functionAlias:
          description: Log Analytics Saved Search name.
          type: string
        workspaceId:
          description: Workspace Id for Log Analytics in which the saved Search is
            resided.
          type: string
      type: object
    ScheduleProperties:
      description: Definition of schedule parameters.
      example:
        expiryTimeOffsetMinutes: 1.4658129805029452
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        creationTime: 2000-01-23T04:56:07.000+00:00
        startTimeOffsetMinutes: 2.3021358869347655
        description: description
        timeZone: timeZone
        nextRunOffsetMinutes: 5.637376656633329
        advancedSchedule:
          monthlyOccurrences:
          - occurrence: 6
            day: Monday
          - occurrence: 6
            day: Monday
          weekDays:
          - weekDays
          - weekDays
          monthDays:
          - 0
          - 0
        frequency: OneTime
        nextRun: 2000-01-23T04:56:07.000+00:00
        isEnabled: false
        expiryTime: 2000-01-23T04:56:07.000+00:00
        interval: 5
        startTime: 2000-01-23T04:56:07.000+00:00
      properties:
        advancedSchedule:
          $ref: '#/components/schemas/AdvancedSchedule'
        creationTime:
          description: Gets or sets the creation time.
          format: date-time
          nullable: false
          type: string
        description:
          description: Gets or sets the description.
          type: string
        expiryTime:
          description: Gets or sets the end time of the schedule.
          format: date-time
          nullable: true
          type: string
        expiryTimeOffsetMinutes:
          description: Gets or sets the expiry time's offset in minutes.
          format: double
          nullable: false
          type: number
        frequency:
          description: Gets or sets the frequency of the schedule.
          enum:
          - OneTime
          - Day
          - Hour
          - Week
          - Month
          - Minute
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScheduleFrequency
            values:
            - value: OneTime
            - value: Day
            - value: Hour
            - value: Week
            - value: Month
            - description: The minimum allowed interval for Minute schedules is 15
                minutes.
              value: Minute
        interval:
          description: Gets or sets the interval of the schedule.
          type: integer
        isEnabled:
          default: false
          description: Gets or sets a value indicating whether this schedule is enabled.
          type: boolean
        lastModifiedTime:
          description: Gets or sets the last modified time.
          format: date-time
          nullable: false
          type: string
        nextRun:
          description: Gets or sets the next run time of the schedule.
          format: date-time
          nullable: true
          type: string
        nextRunOffsetMinutes:
          description: Gets or sets the next run time's offset in minutes.
          format: double
          nullable: false
          type: number
        startTime:
          description: Gets or sets the start time of the schedule.
          format: date-time
          nullable: false
          type: string
        startTimeOffsetMinutes:
          description: Gets the start time's offset in minutes.
          format: double
          nullable: false
          readOnly: true
          type: number
        timeZone:
          description: Gets or sets the time zone of the schedule.
          type: string
      type: object
    TagSettingsProperties:
      description: Tag filter information for the VM.
      example:
        filterOperator: All
        tags:
          key:
          - tags
          - tags
      properties:
        filterOperator:
          description: Filter VMs by Any or All specified tags.
          enum:
          - All
          - Any
          type: string
          x-ms-enum:
            modelAsString: false
            name: TagOperators
        tags:
          additionalProperties:
            items:
              description: List of tag values for a tag.
              type: string
            type: array
          description: Dictionary of tags with its list of values.
          type: object
      type: object
    TargetProperties:
      description: Group specific to the update configuration.
      example:
        azureQueries:
        - scope:
          - scope
          - scope
          tagSettings:
            filterOperator: All
            tags:
              key:
              - tags
              - tags
          locations:
          - locations
          - locations
        - scope:
          - scope
          - scope
          tagSettings:
            filterOperator: All
            tags:
              key:
              - tags
              - tags
          locations:
          - locations
          - locations
        nonAzureQueries:
        - functionAlias: functionAlias
          workspaceId: workspaceId
        - functionAlias: functionAlias
          workspaceId: workspaceId
      properties:
        azureQueries:
          description: List of Azure queries in the software update configuration.
          items:
            $ref: '#/components/schemas/AzureQueryProperties'
          type: array
        nonAzureQueries:
          description: List of non Azure queries in the software update configuration.
          items:
            $ref: '#/components/schemas/NonAzureQueryProperties'
          type: array
      type: object
    WindowsProperties:
      description: Windows specific update configuration.
      example:
        excludedKbNumbers:
        - excludedKbNumbers
        - excludedKbNumbers
        includedUpdateClassifications: Unclassified
        rebootSetting: rebootSetting
        includedKbNumbers:
        - includedKbNumbers
        - includedKbNumbers
      properties:
        excludedKbNumbers:
          description: KB numbers excluded from the software update configuration.
          items:
            type: string
          type: array
        includedKbNumbers:
          description: KB numbers included from the software update configuration.
          items:
            type: string
          type: array
        includedUpdateClassifications:
          description: Update classification included in the software update configuration.
            A comma separated string with required values
          enum:
          - Unclassified
          - Critical
          - Security
          - UpdateRollup
          - FeaturePack
          - ServicePack
          - Definition
          - Tools
          - Updates
          type: string
          x-ms-enum:
            modelAsString: true
            name: WindowsUpdateClasses
        rebootSetting:
          description: Reboot setting for the software update configuration.
          type: string
      type: object
    collectionItemUpdateConfiguration:
      description: object returned when requesting a collection of software update
        configuration
      example:
        duration: duration
        azureVirtualMachines:
        - azureVirtualMachines
        - azureVirtualMachines
      properties:
        azureVirtualMachines:
          description: List of azure resource Ids for azure virtual machines targeted
            by the software update configuration.
          items:
            description: Azure Resource Manager Id for a virtual machine.
            type: string
          type: array
        duration:
          description: "Maximum time allowed for the software update configuration\
            \ run. Duration needs to be specified using the format PT[n]H[n]M[n]S\
            \ as per ISO8601"
          format: duration
          type: string
      type: object
    operatingSystemType:
      description: Target operating system for the software update configuration.
      enum:
      - Windows
      - Linux
      type: string
      x-ms-enum:
        modelAsString: false
        name: OperatingSystemType
    softwareUpdateConfiguration:
      description: Software update configuration properties.
      example:
        name: name
        id: id
        type: type
        properties:
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          scheduleInfo:
            expiryTimeOffsetMinutes: 1.4658129805029452
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            startTimeOffsetMinutes: 2.3021358869347655
            description: description
            timeZone: timeZone
            nextRunOffsetMinutes: 5.637376656633329
            advancedSchedule:
              monthlyOccurrences:
              - occurrence: 6
                day: Monday
              - occurrence: 6
                day: Monday
              weekDays:
              - weekDays
              - weekDays
              monthDays:
              - 0
              - 0
            frequency: OneTime
            nextRun: 2000-01-23T04:56:07.000+00:00
            isEnabled: false
            expiryTime: 2000-01-23T04:56:07.000+00:00
            interval: 5
            startTime: 2000-01-23T04:56:07.000+00:00
          lastModifiedBy: lastModifiedBy
          provisioningState: provisioningState
          error:
            code: code
            message: message
          updateConfiguration:
            duration: duration
            linux:
              includedPackageNameMasks:
              - includedPackageNameMasks
              - includedPackageNameMasks
              rebootSetting: rebootSetting
              includedPackageClassifications: Unclassified
              excludedPackageNameMasks:
              - excludedPackageNameMasks
              - excludedPackageNameMasks
            azureVirtualMachines:
            - azureVirtualMachines
            - azureVirtualMachines
            nonAzureComputerNames:
            - nonAzureComputerNames
            - nonAzureComputerNames
            windows:
              excludedKbNumbers:
              - excludedKbNumbers
              - excludedKbNumbers
              includedUpdateClassifications: Unclassified
              rebootSetting: rebootSetting
              includedKbNumbers:
              - includedKbNumbers
              - includedKbNumbers
            operatingSystem: Windows
            targets:
              azureQueries:
              - scope:
                - scope
                - scope
                tagSettings:
                  filterOperator: All
                  tags:
                    key:
                    - tags
                    - tags
                locations:
                - locations
                - locations
              - scope:
                - scope
                - scope
                tagSettings:
                  filterOperator: All
                  tags:
                    key:
                    - tags
                    - tags
                locations:
                - locations
                - locations
              nonAzureQueries:
              - functionAlias: functionAlias
                workspaceId: workspaceId
              - functionAlias: functionAlias
                workspaceId: workspaceId
          tasks:
            preTask:
              source: source
              parameters:
                key: parameters
            postTask:
              source: source
              parameters:
                key: parameters
      properties:
        id:
          description: Resource Id.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/softwareUpdateConfigurationProperties'
        type:
          description: Resource type
          readOnly: true
          type: string
      required:
      - properties
      type: object
      x-ms-azure-resource: true
    softwareUpdateConfigurationCollectionItem:
      description: Software update configuration collection item properties.
      example:
        name: name
        id: id
        properties:
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          startTime: 2000-01-23T04:56:07.000+00:00
          provisioningState: provisioningState
          updateConfiguration:
            duration: duration
            azureVirtualMachines:
            - azureVirtualMachines
            - azureVirtualMachines
          frequency: OneTime
          nextRun: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Resource Id of the software update configuration
          readOnly: true
          type: string
        name:
          description: Name of the software update configuration.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/softwareUpdateConfigurationCollectionItemProperties'
      required:
      - properties
      type: object
    softwareUpdateConfigurationCollectionItemProperties:
      description: Software update configuration collection item properties.
      example:
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        creationTime: 2000-01-23T04:56:07.000+00:00
        startTime: 2000-01-23T04:56:07.000+00:00
        provisioningState: provisioningState
        updateConfiguration:
          duration: duration
          azureVirtualMachines:
          - azureVirtualMachines
          - azureVirtualMachines
        frequency: OneTime
        nextRun: 2000-01-23T04:56:07.000+00:00
      properties:
        creationTime:
          description: "Creation time of the software update configuration, which\
            \ only appears in the response."
          format: date-time
          nullable: false
          readOnly: true
          type: string
        frequency:
          description: Gets or sets the frequency of the schedule.
          enum:
          - OneTime
          - Day
          - Hour
          - Week
          - Month
          - Minute
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScheduleFrequency
            values:
            - value: OneTime
            - value: Day
            - value: Hour
            - value: Week
            - value: Month
            - description: The minimum allowed interval for Minute schedules is 15
                minutes.
              value: Minute
        lastModifiedTime:
          description: "Last time software update configuration was modified, which\
            \ only appears in the response."
          format: date-time
          nullable: false
          readOnly: true
          type: string
        nextRun:
          description: ext run time of the update.
          format: date-time
          nullable: true
          type: string
        provisioningState:
          description: "Provisioning state for the software update configuration,\
            \ which only appears in the response."
          readOnly: true
          type: string
        startTime:
          description: the start time of the update.
          format: date-time
          nullable: false
          type: string
        updateConfiguration:
          $ref: '#/components/schemas/collectionItemUpdateConfiguration'
      type: object
    softwareUpdateConfigurationListResult:
      description: result of listing all software update configuration
      example:
        value:
        - name: name
          id: id
          properties:
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            startTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            updateConfiguration:
              duration: duration
              azureVirtualMachines:
              - azureVirtualMachines
              - azureVirtualMachines
            frequency: OneTime
            nextRun: 2000-01-23T04:56:07.000+00:00
        - name: name
          id: id
          properties:
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            startTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: provisioningState
            updateConfiguration:
              duration: duration
              azureVirtualMachines:
              - azureVirtualMachines
              - azureVirtualMachines
            frequency: OneTime
            nextRun: 2000-01-23T04:56:07.000+00:00
      properties:
        value:
          description: outer object returned when listing all software update configurations
          items:
            $ref: '#/components/schemas/softwareUpdateConfigurationCollectionItem'
          type: array
      type: object
    softwareUpdateConfigurationProperties:
      description: Software update configuration properties.
      example:
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        creationTime: 2000-01-23T04:56:07.000+00:00
        createdBy: createdBy
        scheduleInfo:
          expiryTimeOffsetMinutes: 1.4658129805029452
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          startTimeOffsetMinutes: 2.3021358869347655
          description: description
          timeZone: timeZone
          nextRunOffsetMinutes: 5.637376656633329
          advancedSchedule:
            monthlyOccurrences:
            - occurrence: 6
              day: Monday
            - occurrence: 6
              day: Monday
            weekDays:
            - weekDays
            - weekDays
            monthDays:
            - 0
            - 0
          frequency: OneTime
          nextRun: 2000-01-23T04:56:07.000+00:00
          isEnabled: false
          expiryTime: 2000-01-23T04:56:07.000+00:00
          interval: 5
          startTime: 2000-01-23T04:56:07.000+00:00
        lastModifiedBy: lastModifiedBy
        provisioningState: provisioningState
        error:
          code: code
          message: message
        updateConfiguration:
          duration: duration
          linux:
            includedPackageNameMasks:
            - includedPackageNameMasks
            - includedPackageNameMasks
            rebootSetting: rebootSetting
            includedPackageClassifications: Unclassified
            excludedPackageNameMasks:
            - excludedPackageNameMasks
            - excludedPackageNameMasks
          azureVirtualMachines:
          - azureVirtualMachines
          - azureVirtualMachines
          nonAzureComputerNames:
          - nonAzureComputerNames
          - nonAzureComputerNames
          windows:
            excludedKbNumbers:
            - excludedKbNumbers
            - excludedKbNumbers
            includedUpdateClassifications: Unclassified
            rebootSetting: rebootSetting
            includedKbNumbers:
            - includedKbNumbers
            - includedKbNumbers
          operatingSystem: Windows
          targets:
            azureQueries:
            - scope:
              - scope
              - scope
              tagSettings:
                filterOperator: All
                tags:
                  key:
                  - tags
                  - tags
              locations:
              - locations
              - locations
            - scope:
              - scope
              - scope
              tagSettings:
                filterOperator: All
                tags:
                  key:
                  - tags
                  - tags
              locations:
              - locations
              - locations
            nonAzureQueries:
            - functionAlias: functionAlias
              workspaceId: workspaceId
            - functionAlias: functionAlias
              workspaceId: workspaceId
        tasks:
          preTask:
            source: source
            parameters:
              key: parameters
          postTask:
            source: source
            parameters:
              key: parameters
      properties:
        createdBy:
          description: "CreatedBy property, which only appears in the response."
          readOnly: true
          type: string
        creationTime:
          description: "Creation time of the resource, which only appears in the response."
          format: date-time
          nullable: false
          readOnly: true
          type: string
        error:
          $ref: '#/components/schemas/SoftwareUpdateConfigurations_List_default_response'
        lastModifiedBy:
          description: "LastModifiedBy property, which only appears in the response."
          readOnly: true
          type: string
        lastModifiedTime:
          description: "Last time resource was modified, which only appears in the\
            \ response."
          format: date-time
          nullable: false
          readOnly: true
          type: string
        provisioningState:
          description: "Provisioning state for the software update configuration,\
            \ which only appears in the response."
          readOnly: true
          type: string
        scheduleInfo:
          $ref: '#/components/schemas/ScheduleProperties'
        tasks:
          $ref: '#/components/schemas/softwareUpdateConfigurationTasks'
        updateConfiguration:
          $ref: '#/components/schemas/updateConfiguration'
      required:
      - scheduleInfo
      - updateConfiguration
      type: object
    softwareUpdateConfigurationTasks:
      description: Task properties of the software update configuration.
      example:
        preTask:
          source: source
          parameters:
            key: parameters
        postTask:
          source: source
          parameters:
            key: parameters
      properties:
        postTask:
          $ref: '#/components/schemas/taskProperties'
        preTask:
          $ref: '#/components/schemas/taskProperties'
      type: object
    taskProperties:
      description: Task properties of the software update configuration.
      example:
        source: source
        parameters:
          key: parameters
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the task.
          type: object
        source:
          description: Gets or sets the name of the runbook.
          type: string
      type: object
    updateConfiguration:
      description: Update specific properties of the software update configuration.
      example:
        duration: duration
        linux:
          includedPackageNameMasks:
          - includedPackageNameMasks
          - includedPackageNameMasks
          rebootSetting: rebootSetting
          includedPackageClassifications: Unclassified
          excludedPackageNameMasks:
          - excludedPackageNameMasks
          - excludedPackageNameMasks
        azureVirtualMachines:
        - azureVirtualMachines
        - azureVirtualMachines
        nonAzureComputerNames:
        - nonAzureComputerNames
        - nonAzureComputerNames
        windows:
          excludedKbNumbers:
          - excludedKbNumbers
          - excludedKbNumbers
          includedUpdateClassifications: Unclassified
          rebootSetting: rebootSetting
          includedKbNumbers:
          - includedKbNumbers
          - includedKbNumbers
        operatingSystem: Windows
        targets:
          azureQueries:
          - scope:
            - scope
            - scope
            tagSettings:
              filterOperator: All
              tags:
                key:
                - tags
                - tags
            locations:
            - locations
            - locations
          - scope:
            - scope
            - scope
            tagSettings:
              filterOperator: All
              tags:
                key:
                - tags
                - tags
            locations:
            - locations
            - locations
          nonAzureQueries:
          - functionAlias: functionAlias
            workspaceId: workspaceId
          - functionAlias: functionAlias
            workspaceId: workspaceId
      properties:
        azureVirtualMachines:
          description: List of azure resource Ids for azure virtual machines targeted
            by the software update configuration.
          items:
            description: Azure Resource Manager Id for a virtual machine.
            type: string
          type: array
        duration:
          description: "Maximum time allowed for the software update configuration\
            \ run. Duration needs to be specified using the format PT[n]H[n]M[n]S\
            \ as per ISO8601"
          format: duration
          type: string
        linux:
          $ref: '#/components/schemas/LinuxProperties'
        nonAzureComputerNames:
          description: List of names of non-azure machines targeted by the software
            update configuration.
          items:
            description: Name of Non-Azure OMS Computer.
            type: string
          type: array
        operatingSystem:
          $ref: '#/components/schemas/operatingSystemType'
        targets:
          $ref: '#/components/schemas/TargetProperties'
        windows:
          $ref: '#/components/schemas/WindowsProperties'
      required:
      - operatingSystem
      type: object
    SoftwareUpdateConfigurations_List_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

