

# ValidationReport

A resource that aggregates errors across import job files.

## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**fileValidations** | [**List&lt;FileValidationReport&gt;**](FileValidationReport.md) | List of errors found in files. |  [optional] |
|**jobErrors** | [**List&lt;ImportError&gt;**](ImportError.md) | List of job level errors. |  [optional] |



