openapi: 3.0.3
info:
  description: ""
  title: Currencytick API Documentation
  version: 1.0.0
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://dashboard.currencytick.com/svg/logo.svg
  x-origin:
  - format: openapi
    url: https://dashboard.currencytick.com/docs/openapi.yaml
    version: "3.0"
  x-providerName: currencytick.com
servers:
- url: https://api.currencytick.com
security:
- default: []
tags:
- description: ""
  name: Endpoints
paths:
  /healthcheck:
    get:
      description: |-
        Check that the service is up. If everything is okay, you'll get a 200 OK response.

        Otherwise, the request will fail with a 400 error, and a response listing the failed services.
      operationId: healthcheck
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthcheck_200_response'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthcheck_400_response'
          description: Service is unhealthy
      security: []
      summary: Healthcheck
      tags:
      - Endpoints
      x-accepts:
      - application/json
  /historical:
    get:
      description: Get the exchange rate on a specific date
      operationId: historicalExchangeRate
      parameters:
      - description: Authentication key.
        example: YOUR_API_KEY
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          description: Authentication key.
          example: YOUR_API_KEY
          type: string
        style: form
      - description: The source currency.
        example: USD
        explode: true
        in: query
        name: base
        required: true
        schema:
          description: The source currency.
          example: USD
          type: string
        style: form
      - description: The target currency.
        example: EUR
        explode: true
        in: query
        name: target
        required: true
        schema:
          description: The target currency.
          example: EUR
          type: string
        style: form
      - description: The date to get the exchange rate.
        example: 2023-04-18
        explode: true
        in: query
        name: date
        required: true
        schema:
          description: The date to get the exchange rate.
          example: 2023-04-18
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/historicalExchangeRate_200_response'
          description: Success
      summary: Historical Exchange Rate
      tags:
      - Endpoints
      x-accepts:
      - application/json
  /live:
    get:
      description: Get the exchange rate between two currencies.
      operationId: liveCurrencyExchangeRate
      parameters:
      - description: Authentication key.
        example: YOUR_API_KEY
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          description: Authentication key.
          example: YOUR_API_KEY
          type: string
        style: form
      - description: The source currency.
        example: USD
        explode: true
        in: query
        name: base
        required: true
        schema:
          description: The source currency.
          example: USD
          type: string
        style: form
      - description: The target currency.
        example: EUR
        explode: true
        in: query
        name: target
        required: true
        schema:
          description: The target currency.
          example: EUR
          type: string
        style: form
      - description: optional The amount to convert.
        example: 1
        explode: true
        in: query
        name: amount
        required: false
        schema:
          description: optional The amount to convert.
          example: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/historicalExchangeRate_200_response'
          description: Success
      summary: Live currency exchange rate
      tags:
      - Endpoints
      x-accepts:
      - application/json
  /supported_currencies:
    get:
      description: "Get the list of supported currencies, currently 220 currencies\
        \ are supported."
      operationId: listOfSupportedCurrencies
      parameters:
      - description: Authentication key.
        example: YOUR_API_KEY
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          description: Authentication key.
          example: YOUR_API_KEY
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                example: "{ \"list\" : [\"USD\", \"EUR\", ..]}"
                type: string
          description: Success
      summary: List of supported currencies
      tags:
      - Endpoints
      x-accepts:
      - text/plain
components:
  schemas:
    historicalExchangeRate_200_response:
      example:
        amount: "1"
        date: 2023-04-18
        from: USD
        rate: 0.911463076
        to: EUR
      properties:
        amount:
          example: "1"
          type: string
        date:
          example: 2023-04-18
          type: string
        from:
          example: USD
          type: string
        rate:
          example: 0.911463076
          type: number
        to:
          example: EUR
          type: string
      type: object
    healthcheck_400_response:
      example:
        status: down
      properties:
        status:
          description: The status of this API (`up` or `down`).
          example: down
          type: string
      type: object
    healthcheck_200_response:
      example:
        status: up
      properties:
        status:
          description: The status of this API (`up` or `down`).
          example: up
          type: string
      type: object
  securitySchemes:
    default:
      description: ""
      in: query
      name: apikey
      type: apiKey

