openapi: 3.0.1
info:
  contact:
    email: contact@wordassociations.net
  description: "The Word Associations Network API allows developers to embed the ability\
    \ to find associations for a word or phrase into their mobile apps or web services.\
    \ Words are grouped by semantics, meaning, and psychological perception. The Word\
    \ Associations Network API currently supports English, French, Spanish, German,\
    \ Italian, Portuguese, and Russian vocabulary. Please [register and subscribe](https://api.wordassociations.net/subscriptions/)\
    \ to one of available tariff plans to get a valid API key."
  termsOfService: https://wordassociations.net/en/api
  title: Word Associations API
  version: "1.0"
  x-apisguru-categories:
  - text
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://wordassociations.net/en/images/network.png
  x-origin:
  - format: swagger
    url: https://api.wordassociations.net/documentation/swagger.json
    version: "2.0"
  x-providerName: wordassociations.net
servers:
- url: https://api.wordassociations.net/associations/v1.0
security:
- internalApiKey: []
paths:
  /json/search:
    get:
      description: |
        Gets associations with the given word or phrase.
      operationId: json_search_get
      parameters:
      - description: |
          Word or phrase to find associations with.
          Tip. You can use multiple parameters 'text' in a request (from 1 to 10 inclusive). This way you can get associations for several input words or phrases in one response.
          Restriction: regardless of the size of the text association lookup is always performed by the first 10 words of the text.
        explode: true
        in: query
        name: text
        required: true
        schema:
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        style: form
      - description: |
          Query language. Use language code for the language of the text:
          * de - German;
          * en - English;
          * es - Spanish;
          * fr - French;
          * it - Italian;
          * pt - Portuguese;
          * ru - Russian;
        in: query
        name: lang
        required: true
        schema:
          enum:
          - de
          - en
          - es
          - fr
          - it
          - pt
          - ru
          type: string
      - description: "Type of result.\nPossible values: \n* stimulus - an input data\
          \ (the text parameter) is considered as a response word. The service returns\
          \ a list of stimuli words, which evoke a given response word;\n* response\
          \ - an input data (the text parameter) is considered as a stimulus word.\
          \ The service returns a list of response words, which come to mind for a\
          \ given stimulus word.\n"
        in: query
        name: type
        schema:
          default: stimulus
          enum:
          - stimulus
          - response
          type: string
      - description: |
          Maximum number of results to return.
          Allows to limit the number of results (associations) in response.
          The value of this parameter is an integer number from 1 to 300 inclusive.
        in: query
        name: limit
        schema:
          default: 50
          maximum: 300
          minimum: 1
          type: integer
      - description: |
          Parts of speech to return.
          Allows to limit results by specified parts of speech. The value of this parameter is a list of parts of speech separated by comma.
          The following parts of speech codes are supported:
          * noun
          * adjective
          * verb
          * adverb
        explode: false
        in: query
        name: pos
        schema:
          default: "[\"noun\",\"adjective\",\"verb\",\"adverb\"]"
          items:
            enum:
            - noun
            - adjective
            - verb
            - adverb
            type: string
          type: array
        style: form
      - description: |
          Indentation switch for pretty printing of JSON response.
          Allows to either turn on or off space indentation for a response.
          The following values are allowed:
          * yes - turns indentation with spaces on;
          * no - turn indentation with spaces off;
        in: query
        name: indent
        schema:
          default: "true"
          enum:
          - "true"
          - "false"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Body'
          description: Successful response
        "401":
          content: {}
          description: Invalid API key
        "429":
          content: {}
          description: The monthly limit on the number of requests is exceeded
        "501":
          content: {}
          description: The specified language is not supported
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: |
        Gets associations with the given word or phrase.
      operationId: json_search_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_json_search_post_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Body'
          description: Successful response
        "401":
          content: {}
          description: Invalid API key
        "429":
          content: {}
          description: The monthly limit on the number of requests is exceeded
        "501":
          content: {}
          description: The specified language is not supported
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
components:
  schemas:
    Body:
      example:
        request:
          indent: indent
          pos: pos
          limit: 6
          text:
          - text
          - text
          lang: lang
          type: type
        code: 0
        response:
        - text: text
          items:
          - item: item
            pos: pos
            weight: 1.4658129805029452
          - item: item
            pos: pos
            weight: 1.4658129805029452
        - text: text
          items:
          - item: item
            pos: pos
            weight: 1.4658129805029452
          - item: item
            pos: pos
            weight: 1.4658129805029452
        version: version
      properties:
        code:
          format: int32
          title: code
          type: integer
        request:
          $ref: '#/components/schemas/Request'
        response:
          items:
            $ref: '#/components/schemas/Response'
          title: response
          type: array
        version:
          title: version
          type: string
      title: Body
      type: object
    Item:
      example:
        item: item
        pos: pos
        weight: 1.4658129805029452
      properties:
        item:
          title: item
          type: string
        pos:
          title: pos
          type: string
        weight:
          title: weight
          type: number
      title: Item
      type: object
    Request:
      example:
        indent: indent
        pos: pos
        limit: 6
        text:
        - text
        - text
        lang: lang
        type: type
      properties:
        indent:
          title: indent
          type: string
        lang:
          title: lang
          type: string
        limit:
          title: limit
          type: integer
        pos:
          title: pos
          type: string
        text:
          items:
            type: string
          title: text
          type: array
        type:
          title: type
          type: string
      title: Request
      type: object
    Response:
      example:
        text: text
        items:
        - item: item
          pos: pos
          weight: 1.4658129805029452
        - item: item
          pos: pos
          weight: 1.4658129805029452
      properties:
        items:
          items:
            $ref: '#/components/schemas/Item'
          title: items
          type: array
        text:
          title: text
          type: string
      title: Response
      type: object
    _json_search_post_request:
      properties:
        text:
          description: |
            Word or phrase to find associations with.
            Tip. You can use multiple parameters 'text' in a request (from 1 to 10 inclusive). This way you can get associations for several input words or phrases in one response.
            Restriction: regardless of the size of the text association lookup is always performed by the first 10 words of the text.
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
        lang:
          description: |
            Query language. Use language code for the language of the text:
            * de - German;
            * en - English;
            * es - Spanish;
            * fr - French;
            * it - Italian;
            * pt - Portuguese;
            * ru - Russian;
          enum:
          - de
          - en
          - es
          - fr
          - it
          - pt
          - ru
          type: string
        type:
          default: stimulus
          description: "Type of result.\nPossible values: \n* stimulus - an input\
            \ data (the text parameter) is considered as a response word. The service\
            \ returns a list of stimuli words, which evoke a given response word;\n\
            * response - an input data (the text parameter) is considered as a stimulus\
            \ word. The service returns a list of response words, which come to mind\
            \ for a given stimulus word.\n"
          enum:
          - stimulus
          - response
          type: string
        limit:
          default: 50
          description: |
            Maximum number of results to return.
            Allows to limit the number of results (associations) in response.
            The value of this parameter is an integer number from 1 to 300 inclusive.
          format: int32
          maximum: 300
          minimum: 1
          type: integer
        pos:
          default: "[\"noun\",\"adjective\",\"verb\",\"adverb\"]"
          description: |
            Parts of speech to return.
            Allows to limit results by specified parts of speech. The value of this parameter is a list of parts of speech separated by comma.
            The following parts of speech codes are supported:
            * noun
            * adjective
            * verb
            * adverb
          items:
            enum:
            - noun
            - adjective
            - verb
            - adverb
            type: string
          type: array
        indent:
          default: "true"
          description: |
            Indentation switch for pretty printing of JSON response.
            Allows to either turn on or off space indentation for a response.
            The following values are allowed:
            * yes - turns indentation with spaces on;
            * no - turn indentation with spaces off;
          enum:
          - "true"
          - "false"
          type: string
      required:
      - lang
      - text
      type: object
  securitySchemes:
    internalApiKey:
      description: API key. Please register and subscribe to one of available tariff
        plans to get a valid API key https://api.wordassociations.net/subscriptions/.
      in: query
      name: apikey
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_internalApiKey
x-original-swagger-version: "2.0"
