openapi: 3.0.1
info:
  description: "Hydra Movies is a streaming service that holds information on thousands\
    \ of popular movies. \n\nThe Hydra Movies API gives you access to [their entire\
    \ collection of full movies.](https://hydramovies.com)\n\nEach film returned provides\
    \ you with the following data:\n\n- Movie Title\n- Movie Release Year\n- Genre\n\
    - Movie Summary\n- Movie Poster\n- IMDB ID\n- IMDB Rating\n- Runtime\n- Language\n\
    - YouTube trailer"
  title: Hydra Movies
  version: "1.1"
  x-apisguru-categories:
  - entertainment
  x-origin:
  - format: swagger
    url: http://hydramovies.com/api-v2/swagger.yaml
    version: "2.0"
  x-providerName: hydramovies.com
servers:
- url: https://hydramovies.com/api-v2/%3Fsource=http:/hydramovies.com/api-v2
paths:
  /current-Movie-Data.csv&imdb_id={IMDBid}:
    get:
      description: Returns a movie using the films unique IMDB identifier
      operationId: current_movie_data_csv_get
      parameters:
      - description: IMDB ID of the movie to return
        in: path
        name: IMDBid
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: successful operation
      security: []
      summary: getMovieByIMDBid
      tags:
      - Movies
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-openapi-router-controller: openapi_server.controllers.movies_controller
  /current-Movie-Data.csv&movie_year={MovieYear}:
    get:
      description: Returns a movie based on the year of its release
      operationId: current_movie_data_csv_get2
      parameters:
      - description: Release year of the movies to return
        in: path
        name: MovieYear
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: successful operation
      security: []
      summary: getMovieByYear
      tags:
      - Movies
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-openapi-router-controller: openapi_server.controllers.movies_controller
components:
  schemas: {}
x-original-swagger-version: "2.0"
