openapi: 3.0.1
info:
  title: Compute Admin Client
  version: 2015-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/Quotas.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azsadmin-Quotas
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/quotas:
    get:
      description: Get a list of existing quotas.
      operationId: Quotas_List
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-12-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaList'
          description: OK
      summary: Lists all quotas.
      tags:
      - Quotas
      x-ms-examples:
        Get a list of existing quotas.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/quotas/Default
                    Quota
                  location: local
                  name: Default Quota
                  properties:
                    availabilitySetCount: 10
                    coresLimit: 50
                    virtualMachineCount: 20
                    vmScaleSetCount: 20
                  type: Microsoft.Compute.Admin/quotas
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/quotas/{quotaName}:
    delete:
      description: Delete an existing quota.
      operationId: Quotas_Delete
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the quota.
        in: path
        name: quotaName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-12-01-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Deletes specified quota
      tags:
      - Quotas
      x-ms-examples:
        Deletes specified quota.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            quotaName: testQuotaCreateUpdateDelete
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      description: Get an existing Quota.
      operationId: Quotas_Get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the quota.
        in: path
        name: quotaName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-12-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quota'
          description: OK
      summary: Returns the requested quota.
      tags:
      - Quotas
      x-ms-examples:
        Get an existing Quota.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            quotaName: testQuotaCreateUpdateDelete
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/quotas/testQuotaCreateUpdateDelete
                location: local
                name: testQuotaCreateUpdateDelete
                properties:
                  availabilitySetCount: 1
                  coresLimit: 1
                  virtualMachineCount: 1
                  vmScaleSetCount: 1
                type: Microsoft.Compute.Admin/quotas
      x-accepts:
      - application/json
    put:
      description: Creates or Updates a Quota.
      operationId: Quotas_CreateOrUpdate
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the quota.
        in: path
        name: quotaName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-12-01-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Quota'
        description: New quota to create.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quota'
          description: OK
      summary: Creates or Updates a Quota.
      tags:
      - Quotas
      x-ms-examples:
        Creates or Updates a Quota.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            newQuota:
              location: local
              properties:
                availabilitySetCount: 2
                coresLimit: 2
                virtualMachineCount: 2
                vmScaleSetCount: 2
            quotaName: testQuotaCreateUpdateDelete
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/quotas/testQuotaCreateUpdateDelete
                location: local
                name: testQuotaCreateUpdateDelete
                properties:
                  availabilitySetCount: 2
                  coresLimit: 2
                  virtualMachineCount: 2
                  vmScaleSetCount: 2
                type: Microsoft.Compute.Admin/quotas
      x-codegen-request-body-name: newQuota
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    QuotaParameter:
      description: Name of the quota.
      in: path
      name: quotaName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    NewQuotaParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Quota'
      description: New quota to create.
      required: true
      x-ms-parameter-location: method
  schemas:
    Quota:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Holds quota information used to control resource allocation.
      example:
        properties:
          vmScaleSetCount: 0
          availabilitySetCount: 0
          virtualMachineCount: 0
          coresLimit: 0
      properties:
        properties:
          $ref: '#/components/schemas/QuotaProperties'
    QuotaList:
      description: List of quotas
      example:
        value:
        - properties:
            vmScaleSetCount: 0
            availabilitySetCount: 0
            virtualMachineCount: 0
            coresLimit: 0
        - properties:
            vmScaleSetCount: 0
            availabilitySetCount: 0
            virtualMachineCount: 0
            coresLimit: 0
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of quotas
          items:
            $ref: '#/components/schemas/Quota'
          type: array
      type: object
    QuotaProperties:
      description: Properties for a Quota
      example:
        vmScaleSetCount: 0
        availabilitySetCount: 0
        virtualMachineCount: 0
        coresLimit: 0
      properties:
        availabilitySetCount:
          description: Maximum number of availability sets allowed.
          format: int32
          minimum: 0
          type: integer
        coresLimit:
          description: Maximum number of core allowed.
          format: int32
          minimum: 0
          type: integer
        virtualMachineCount:
          description: Maximum number of virtual machines allowed.
          format: int32
          minimum: 0
          type: integer
        vmScaleSetCount:
          description: Maximum number of scale sets allowed.
          format: int32
          minimum: 0
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

