openapi: 3.0.1
info:
  title: Azure Action Groups
  version: 2017-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2017-04-01/actionGroups_API.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: monitor-actionGroups_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/actionGroups:
    get:
      description: Get a list of all action groups in a subscription.
      operationId: action_groups_list_by_subscription_id
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupList'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the list of action groups could not be
            retrieved.
      x-ms-examples:
        List action groups:
          parameters:
            api-version: 2017-04-01
            resourceGroupName: Default-NotificationRules
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup
                  location: Global
                  name: SampleActionGroup
                  properties:
                    emailReceivers:
                    - emailAddress: johndoe@email.com
                      name: John Doe's email
                      status: Enabled
                    - emailAddress: janesmith@email.com
                      name: Jane Smith's email
                      status: Disabled
                    enabled: true
                    groupShortName: sample
                    smsReceivers:
                    - countryCode: "1"
                      name: John Doe's mobile
                      phoneNumber: "1234567890"
                      status: Disabled
                    - countryCode: "1"
                      name: Jane Smith's mobile
                      phoneNumber: "0987654321"
                      status: Enabled
                    webhookReceivers:
                    - name: Sample webhook
                      serviceUri: http://www.example.com/webhook
                  tags: {}
                  type: Microsoft.Insights/ActionGroups
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup2
                  location: Global
                  name: SampleActionGroup2
                  properties:
                    emailReceivers:
                    - emailAddress: johndoe@email.com
                      name: John Doe's email
                      status: Enabled
                    enabled: false
                    groupShortName: sample2
                    smsReceivers:
                    - countryCode: "1"
                      name: Jane Smith's mobile
                      phoneNumber: "0987654321"
                      status: Enabled
                    webhookReceivers: []
                  tags: {}
                  type: Microsoft.Insights/ActionGroups
              headers: {}
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups:
    get:
      description: Get a list of all action groups in a resource group.
      operationId: action_groups_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupList'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the list of action groups could not be
            retrieved.
      x-ms-examples:
        List action groups:
          parameters:
            api-version: 2017-04-01
            resourceGroupName: Default-NotificationRules
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup
                  location: Global
                  name: SampleActionGroup
                  properties:
                    emailReceivers:
                    - emailAddress: johndoe@email.com
                      name: John Doe's email
                      status: Enabled
                    - emailAddress: janesmith@email.com
                      name: Jane Smith's email
                      status: Disabled
                    enabled: true
                    groupShortName: sample
                    smsReceivers:
                    - countryCode: "1"
                      name: John Doe's mobile
                      phoneNumber: "1234567890"
                      status: Disabled
                    - countryCode: "1"
                      name: Jane Smith's mobile
                      phoneNumber: "0987654321"
                      status: Enabled
                    webhookReceivers:
                    - name: Sample webhook
                      serviceUri: http://www.example.com/webhook
                  tags: {}
                  type: Microsoft.Insights/ActionGroups
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup2
                  location: Global
                  name: SampleActionGroup2
                  properties:
                    emailReceivers:
                    - emailAddress: johndoe@email.com
                      name: John Doe's email
                      status: Enabled
                    enabled: false
                    groupShortName: sample2
                    smsReceivers:
                    - countryCode: "1"
                      name: Jane Smith's mobile
                      phoneNumber: "0987654321"
                      status: Enabled
                    webhookReceivers: []
                  tags: {}
                  type: Microsoft.Insights/ActionGroups
              headers: {}
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups/{actionGroupName}:
    delete:
      description: Delete an action group.
      operationId: action_groups_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the action group.
        in: path
        name: action_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The action group was successfully deleted.
        "204":
          content: {}
          description: The action group does not exist. It may have already been deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the action group could not be deleted.
      x-ms-examples:
        Delete an action group:
          parameters:
            actionGroupName: SampleActionGroup
            api-version: 2017-04-01
            resourceGroupName: Default-NotificationRules
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Get an action group.
      operationId: action_groups_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the action group.
        in: path
        name: actionGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "An error occurred and the action group could not be retrieved.\
            \ 404: The action group does not exist."
      x-ms-examples:
        Get an action group:
          parameters:
            actionGroupName: SampleActionGroup
            api-version: 2017-04-01
            resourceGroupName: Default-NotificationRules
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200":
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup
                location: Global
                name: SampleActionGroup
                properties:
                  emailReceivers:
                  - emailAddress: johndoe@email.com
                    name: John Doe's email
                    status: Enabled
                  - emailAddress: janesmith@email.com
                    name: Jane Smith's email
                    status: Disabled
                  enabled: true
                  groupShortName: sample
                  smsReceivers:
                  - countryCode: "1"
                    name: John Doe's mobile
                    phoneNumber: "1234567890"
                    status: Disabled
                  - countryCode: "1"
                    name: Jane Smith's mobile
                    phoneNumber: "0987654321"
                    status: Enabled
                  webhookReceivers:
                  - name: Sample webhook
                    serviceUri: http://www.example.com/webhook
                tags: {}
                type: Microsoft.Insights/ActionGroups
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Updates an existing action group's tags. To update other fields
        use the CreateOrUpdate method.
      operationId: action_groups_update
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the action group.
        in: path
        name: action_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionGroupPatchBody'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: actionGroupPatch
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
          description: An existing action group was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Patch an action group:
          parameters:
            actionGroupName: SampleActionGroup
            actionGroupPatch:
              properties:
                enabled: false
              tags:
                key1: value1
                key2: value2
            api-version: 2017-04-01
            resourceGroupName: Default-NotificationRules
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200":
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup
                location: Global
                name: SampleActionGroup
                properties:
                  emailReceivers:
                  - emailAddress: johndoe@email.com
                    name: John Doe's email
                    status: Enabled
                  - emailAddress: janesmith@email.com
                    name: Jane Smith's email
                    status: Enabled
                  enabled: true
                  groupShortName: sample
                  smsReceivers:
                  - countryCode: "1"
                    name: John Doe's mobile
                    phoneNumber: "1234567890"
                    status: Enabled
                  - countryCode: "1"
                    name: Jane Smith's mobile
                    phoneNumber: "0987654321"
                    status: Enabled
                  webhookReceivers:
                  - name: Sample webhook
                    serviceUri: http://www.example.com/webhook
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Insights/ActionGroups
              headers: {}
      x-codegen-request-body-name: actionGroupPatch
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Create a new action group or update an existing one.
      operationId: action_groups_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the action group.
        in: path
        name: action_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionGroupResource'
        description: The action group to create or use for the update.
        required: true
        x-body-name: actionGroup
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
          description: An existing action group was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
          description: A new action group was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the action group could not be created
            or updated.
      x-ms-examples:
        Create or update an action group:
          parameters:
            actionGroup:
              location: Global
              properties:
                automationRunbookReceivers:
                - automationAccountId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/runbookTest/providers/Microsoft.Automation/automationAccounts/runbooktest
                  isGlobalRunbook: false
                  name: testRunbook
                  runbookName: Sample runbook
                  serviceUri: https://s13events.azure-automation.net/webhooks?token=iimE%2fD19Eg%2bvDy22yUMecIZY6Uiz%2bHfuQ67r8r1wY%2fI%3d
                  webhookResourceId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/runbookTest/providers/Microsoft.Automation/automationAccounts/runbooktest/webhooks/Alert1510184037084
                azureAppPushReceivers:
                - emailAddress: johndoe@email.com
                  name: Sample azureAppPush
                emailReceivers:
                - emailAddress: johndoe@email.com
                  name: John Doe's email
                - emailAddress: janesmith@email.com
                  name: Jane Smith's email
                enabled: true
                groupShortName: sample
                itsmReceivers:
                - connectionId: a3b9076c-ce8e-434e-85b4-aff10cb3c8f1
                  name: Sample itsm
                  region: westcentralus
                  ticketConfiguration: "{\"PayloadRevision\":0,\"WorkItemType\":\"\
                    Incident\",\"UseTemplate\":false,\"WorkItemData\":\"{}\",\"CreateOneWIPerCI\"\
                    :false}"
                  workspaceId: 5def922a-3ed4-49c1-b9fd-05ec533819a3|55dfd1f8-7e59-4f89-bf56-4c82f5ace23c
                smsReceivers:
                - countryCode: "1"
                  name: John Doe's mobile
                  phoneNumber: "1234567890"
                - countryCode: "1"
                  name: Jane Smith's mobile
                  phoneNumber: "0987654321"
                webhookReceivers:
                - name: Sample webhook
                  serviceUri: http://www.example.com/webhook
              tags: {}
            actionGroupName: SampleActionGroup
            api-version: 2017-04-01
            resourceGroupName: Default-NotificationRules
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200":
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup
                location: Global
                name: SampleActionGroup
                properties:
                  automationRunbookReceivers:
                  - automationAccountId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/runbookTest/providers/Microsoft.Automation/automationAccounts/runbooktest
                    isGlobalRunbook: false
                    name: testRunbook
                    runbookName: Sample runbook
                    serviceUri: https://s13events.azure-automation.net/webhooks?token=iimE%2fD19Eg%2bvDy22yUMecIZY6Uiz%2bHfuQ67r8r1wY%2fI%3d
                    webhookResourceId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/runbookTest/providers/Microsoft.Automation/automationAccounts/runbooktest/webhooks/Alert1510184037084
                  azureAppPushReceivers:
                  - emailAddress: johndoe@email.com
                    name: Sample azureAppPush
                  emailReceivers:
                  - emailAddress: johndoe@email.com
                    name: John Doe's email
                    status: Enabled
                  - emailAddress: janesmith@email.com
                    name: Jane Smith's email
                    status: Enabled
                  enabled: true
                  groupShortName: sample
                  itsmReceivers:
                  - connectionId: a3b9076c-ce8e-434e-85b4-aff10cb3c8f1
                    name: Sample itsm
                    region: westcentralus
                    ticketConfiguration: "{\"PayloadRevision\":0,\"WorkItemType\"\
                      :\"Incident\",\"UseTemplate\":false,\"WorkItemData\":\"{}\"\
                      ,\"CreateOneWIPerCI\":false}"
                    workspaceId: 5def922a-3ed4-49c1-b9fd-05ec533819a3|55dfd1f8-7e59-4f89-bf56-4c82f5ace23c
                  smsReceivers:
                  - countryCode: "1"
                    name: John Doe's mobile
                    phoneNumber: "1234567890"
                    status: Enabled
                  - countryCode: "1"
                    name: Jane Smith's mobile
                    phoneNumber: "0987654321"
                    status: Enabled
                  webhookReceivers:
                  - name: Sample webhook
                    serviceUri: http://www.example.com/webhook
                tags: {}
                type: Microsoft.Insights/ActionGroups
              headers: {}
            "201":
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup
                location: Global
                name: SampleActionGroup
                properties:
                  automationRunbookReceivers:
                  - automationAccountId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/runbookTest/providers/Microsoft.Automation/automationAccounts/runbooktest
                    isGlobalRunbook: false
                    name: testRunbook
                    runbookName: Sample runbook
                    serviceUri: https://s13events.azure-automation.net/webhooks?token=iimE%2fD19Eg%2bvDy22yUMecIZY6Uiz%2bHfuQ67r8r1wY%2fI%3d
                    webhookResourceId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/runbookTest/providers/Microsoft.Automation/automationAccounts/runbooktest/webhooks/Alert1510184037084
                  azureAppPushReceivers:
                  - emailAddress: johndoe@email.com
                    name: Sample azureAppPush
                  emailReceivers:
                  - emailAddress: johndoe@email.com
                    name: John Doe's email
                    status: Enabled
                  - emailAddress: janesmith@email.com
                    name: Jane Smith's email
                    status: Enabled
                  enabled: true
                  groupShortName: sample
                  itsmReceivers:
                  - connectionId: a3b9076c-ce8e-434e-85b4-aff10cb3c8f1
                    name: Sample itsm
                    region: westcentralus
                    ticketConfiguration: "{\"PayloadRevision\":0,\"WorkItemType\"\
                      :\"Incident\",\"UseTemplate\":false,\"WorkItemData\":\"{}\"\
                      ,\"CreateOneWIPerCI\":false}"
                    workspaceId: 5def922a-3ed4-49c1-b9fd-05ec533819a3|55dfd1f8-7e59-4f89-bf56-4c82f5ace23c
                  smsReceivers:
                  - countryCode: "1"
                    name: John Doe's mobile
                    phoneNumber: "1234567890"
                    status: Enabled
                  - countryCode: "1"
                    name: Jane Smith's mobile
                    phoneNumber: "0987654321"
                    status: Enabled
                  webhookReceivers:
                  - name: Sample webhook
                    serviceUri: http://www.example.com/webhook
                tags: {}
                type: Microsoft.Insights/ActionGroups
              headers: {}
      x-codegen-request-body-name: actionGroup
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups/{actionGroupName}/subscribe
  : post:
      description: Enable a receiver in an action group. This changes the receiver's
        status from Disabled to Enabled.
      operationId: action_groups_enable_receiver
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the action group.
        in: path
        name: action_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableRequest'
        description: The receiver to re-enable.
        required: true
        x-body-name: enableRequest
      responses:
        "200":
          content: {}
          description: The receiver was successfully enabled.
        "409":
          content: {}
          description: The receiver is already enabled in the action group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "An error occurred and the receiver could not be enabled, e.g.:\
            \ 404: The action group was not found or no matching receiver was found\
            \ in the action group."
      x-ms-examples:
        Enable the receiver:
          parameters:
            actionGroupName: SampleActionGroup
            api-version: 2017-04-01
            enableRequest:
              receiverName: John Doe's mobile
            resourceGroupName: Default-NotificationRules
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200": {}
            "409": {}
      x-codegen-request-body-name: enableRequest
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ActionGroupNameParameter:
      description: The name of the action group.
      in: path
      name: actionGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Azure subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ActionGroup:
      description: An Azure action group.
      example:
        smsReceivers:
        - phoneNumber: phoneNumber
          countryCode: countryCode
          name: name
          status: null
        - phoneNumber: phoneNumber
          countryCode: countryCode
          name: name
          status: null
        groupShortName: groupShortName
        webhookReceivers:
        - serviceUri: serviceUri
          name: name
        - serviceUri: serviceUri
          name: name
        emailReceivers:
        - emailAddress: emailAddress
          name: name
          status: NotSpecified
        - emailAddress: emailAddress
          name: name
          status: NotSpecified
        enabled: true
        itsmReceivers:
        - name: name
          connectionId: connectionId
          region: region
          ticketConfiguration: ticketConfiguration
          workspaceId: workspaceId
        - name: name
          connectionId: connectionId
          region: region
          ticketConfiguration: ticketConfiguration
          workspaceId: workspaceId
        automationRunbookReceivers:
        - serviceUri: serviceUri
          webhookResourceId: webhookResourceId
          runbookName: runbookName
          name: name
          automationAccountId: automationAccountId
          isGlobalRunbook: true
        - serviceUri: serviceUri
          webhookResourceId: webhookResourceId
          runbookName: runbookName
          name: name
          automationAccountId: automationAccountId
          isGlobalRunbook: true
        azureAppPushReceivers:
        - emailAddress: emailAddress
          name: name
        - emailAddress: emailAddress
          name: name
      properties:
        automationRunbookReceivers:
          description: The list of AutomationRunbook receivers that are part of this
            action group.
          items:
            $ref: '#/components/schemas/AutomationRunbookReceiver'
          title: automationRunbookReceivers
          type: array
        azureAppPushReceivers:
          description: The list of AzureAppPush receivers that are part of this action
            group.
          items:
            $ref: '#/components/schemas/AzureAppPushReceiver'
          title: azureAppPushReceivers
          type: array
        emailReceivers:
          description: The list of email receivers that are part of this action group.
          items:
            $ref: '#/components/schemas/EmailReceiver'
          title: emailReceivers
          type: array
        enabled:
          default: true
          description: "Indicates whether this action group is enabled. If an action\
            \ group is not enabled, then none of its receivers will receive communications."
          title: enabled
          type: boolean
        groupShortName:
          description: The short name of the action group. This will be used in SMS
            messages.
          maxLength: 12
          title: groupShortName
          type: string
        itsmReceivers:
          description: The list of ITSM receivers that are part of this action group.
          items:
            $ref: '#/components/schemas/ItsmReceiver'
          title: itsmReceivers
          type: array
        smsReceivers:
          description: The list of SMS receivers that are part of this action group.
          items:
            $ref: '#/components/schemas/SmsReceiver'
          title: smsReceivers
          type: array
        webhookReceivers:
          description: The list of webhook receivers that are part of this action
            group.
          items:
            $ref: '#/components/schemas/WebhookReceiver'
          title: webhookReceivers
          type: array
      required:
      - enabled
      - groupShortName
      title: ActionGroup
      type: object
    ActionGroupList:
      description: A list of action groups.
      example:
        value:
        - properties:
            smsReceivers:
            - phoneNumber: phoneNumber
              countryCode: countryCode
              name: name
              status: null
            - phoneNumber: phoneNumber
              countryCode: countryCode
              name: name
              status: null
            groupShortName: groupShortName
            webhookReceivers:
            - serviceUri: serviceUri
              name: name
            - serviceUri: serviceUri
              name: name
            emailReceivers:
            - emailAddress: emailAddress
              name: name
              status: NotSpecified
            - emailAddress: emailAddress
              name: name
              status: NotSpecified
            enabled: true
            itsmReceivers:
            - name: name
              connectionId: connectionId
              region: region
              ticketConfiguration: ticketConfiguration
              workspaceId: workspaceId
            - name: name
              connectionId: connectionId
              region: region
              ticketConfiguration: ticketConfiguration
              workspaceId: workspaceId
            automationRunbookReceivers:
            - serviceUri: serviceUri
              webhookResourceId: webhookResourceId
              runbookName: runbookName
              name: name
              automationAccountId: automationAccountId
              isGlobalRunbook: true
            - serviceUri: serviceUri
              webhookResourceId: webhookResourceId
              runbookName: runbookName
              name: name
              automationAccountId: automationAccountId
              isGlobalRunbook: true
            azureAppPushReceivers:
            - emailAddress: emailAddress
              name: name
            - emailAddress: emailAddress
              name: name
        - properties:
            smsReceivers:
            - phoneNumber: phoneNumber
              countryCode: countryCode
              name: name
              status: null
            - phoneNumber: phoneNumber
              countryCode: countryCode
              name: name
              status: null
            groupShortName: groupShortName
            webhookReceivers:
            - serviceUri: serviceUri
              name: name
            - serviceUri: serviceUri
              name: name
            emailReceivers:
            - emailAddress: emailAddress
              name: name
              status: NotSpecified
            - emailAddress: emailAddress
              name: name
              status: NotSpecified
            enabled: true
            itsmReceivers:
            - name: name
              connectionId: connectionId
              region: region
              ticketConfiguration: ticketConfiguration
              workspaceId: workspaceId
            - name: name
              connectionId: connectionId
              region: region
              ticketConfiguration: ticketConfiguration
              workspaceId: workspaceId
            automationRunbookReceivers:
            - serviceUri: serviceUri
              webhookResourceId: webhookResourceId
              runbookName: runbookName
              name: name
              automationAccountId: automationAccountId
              isGlobalRunbook: true
            - serviceUri: serviceUri
              webhookResourceId: webhookResourceId
              runbookName: runbookName
              name: name
              automationAccountId: automationAccountId
              isGlobalRunbook: true
            azureAppPushReceivers:
            - emailAddress: emailAddress
              name: name
            - emailAddress: emailAddress
              name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: Provides the link to retrieve the next set of elements.
          title: nextLink
          type: string
        value:
          description: The list of action groups.
          items:
            $ref: '#/components/schemas/ActionGroupResource'
          title: value
          type: array
      title: ActionGroupList
      type: object
    ActionGroupPatch:
      description: An Azure action group for patch operations.
      example:
        enabled: true
      properties:
        enabled:
          default: true
          description: "Indicates whether this action group is enabled. If an action\
            \ group is not enabled, then none of its actions will be activated."
          title: enabled
          type: boolean
      title: ActionGroupPatch
      type: object
    ActionGroupPatchBody:
      description: An action group object for the body of patch operations.
      example:
        properties:
          enabled: true
        tags: "{}"
      properties:
        properties:
          $ref: '#/components/schemas/ActionGroupPatch'
        tags:
          description: Resource tags
          title: tags
          type: object
      title: ActionGroupPatchBody
      type: object
    ActionGroupResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An action group resource.
      example:
        properties:
          smsReceivers:
          - phoneNumber: phoneNumber
            countryCode: countryCode
            name: name
            status: null
          - phoneNumber: phoneNumber
            countryCode: countryCode
            name: name
            status: null
          groupShortName: groupShortName
          webhookReceivers:
          - serviceUri: serviceUri
            name: name
          - serviceUri: serviceUri
            name: name
          emailReceivers:
          - emailAddress: emailAddress
            name: name
            status: NotSpecified
          - emailAddress: emailAddress
            name: name
            status: NotSpecified
          enabled: true
          itsmReceivers:
          - name: name
            connectionId: connectionId
            region: region
            ticketConfiguration: ticketConfiguration
            workspaceId: workspaceId
          - name: name
            connectionId: connectionId
            region: region
            ticketConfiguration: ticketConfiguration
            workspaceId: workspaceId
          automationRunbookReceivers:
          - serviceUri: serviceUri
            webhookResourceId: webhookResourceId
            runbookName: runbookName
            name: name
            automationAccountId: automationAccountId
            isGlobalRunbook: true
          - serviceUri: serviceUri
            webhookResourceId: webhookResourceId
            runbookName: runbookName
            name: name
            automationAccountId: automationAccountId
            isGlobalRunbook: true
          azureAppPushReceivers:
          - emailAddress: emailAddress
            name: name
          - emailAddress: emailAddress
            name: name
      properties:
        properties:
          $ref: '#/components/schemas/ActionGroup'
      title: ActionGroupResource
    AutomationRunbookReceiver:
      description: The Azure Automation Runbook notification receiver.
      example:
        serviceUri: serviceUri
        webhookResourceId: webhookResourceId
        runbookName: runbookName
        name: name
        automationAccountId: automationAccountId
        isGlobalRunbook: true
      properties:
        automationAccountId:
          description: The Azure automation account Id which holds this runbook and
            authenticate to Azure resource.
          title: automationAccountId
          type: string
        isGlobalRunbook:
          description: Indicates whether this instance is global runbook.
          title: isGlobalRunbook
          type: boolean
        name:
          description: Indicates name of the webhook.
          title: name
          type: string
        runbookName:
          description: The name for this runbook.
          title: runbookName
          type: string
        serviceUri:
          description: The URI where webhooks should be sent.
          title: serviceUri
          type: string
        webhookResourceId:
          description: The resource id for webhook linked to this runbook.
          title: webhookResourceId
          type: string
      required:
      - automationAccountId
      - isGlobalRunbook
      - runbookName
      - webhookResourceId
      title: AutomationRunbookReceiver
      type: object
    AzureAppPushReceiver:
      description: The Azure mobile App push notification receiver.
      example:
        emailAddress: emailAddress
        name: name
      properties:
        emailAddress:
          description: The email address registered for the Azure mobile app.
          title: emailAddress
          type: string
        name:
          description: The name of the Azure mobile app push receiver. Names must
            be unique across all receivers within an action group.
          title: name
          type: string
      required:
      - emailAddress
      - name
      title: AzureAppPushReceiver
      type: object
    EmailReceiver:
      description: An email receiver.
      example:
        emailAddress: emailAddress
        name: name
        status: NotSpecified
      properties:
        emailAddress:
          description: The email address of this receiver.
          title: emailAddress
          type: string
        name:
          description: The name of the email receiver. Names must be unique across
            all receivers within an action group.
          title: name
          type: string
        status:
          $ref: '#/components/schemas/ReceiverStatus'
      required:
      - emailAddress
      - name
      title: EmailReceiver
      type: object
    EnableRequest:
      description: Describes a receiver that should be resubscribed.
      example:
        receiverName: receiverName
      properties:
        receiverName:
          description: The name of the receiver to resubscribe.
          title: receiverName
          type: string
      required:
      - receiverName
      title: EnableRequest
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    ItsmReceiver:
      description: An Itsm receiver.
      example:
        name: name
        connectionId: connectionId
        region: region
        ticketConfiguration: ticketConfiguration
        workspaceId: workspaceId
      properties:
        connectionId:
          description: Unique identification of ITSM connection among multiple defined
            in above workspace.
          title: connectionId
          type: string
        name:
          description: The name of the Itsm receiver. Names must be unique across
            all receivers within an action group.
          title: name
          type: string
        region:
          description: "Region in which workspace resides. Supported values:'centralindia','japaneast','southeastasia','australiasoutheast','uksouth','westcentralus','canadacentral','eastus','westeurope'"
          title: region
          type: string
        ticketConfiguration:
          description: JSON blob for the configurations of the ITSM action. CreateMultipleWorkItems
            option will be part of this blob as well.
          title: ticketConfiguration
          type: string
        workspaceId:
          description: OMS LA instance identifier.
          title: workspaceId
          type: string
      required:
      - connectionId
      - name
      - region
      - ticketConfiguration
      - workspaceId
      title: ItsmReceiver
      type: object
    ReceiverStatus:
      description: Indicates the status of the receiver. Receivers that are not Enabled
        will not receive any communications.
      enum:
      - NotSpecified
      - Enabled
      - Disabled
      title: ReceiverStatus
      type: string
      x-ms-enum:
        modelAsString: false
        name: ReceiverStatus
    Resource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        tags:
          description: Resource tags
          title: tags
          type: object
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    SmsReceiver:
      description: An SMS receiver.
      example:
        phoneNumber: phoneNumber
        countryCode: countryCode
        name: name
        status: null
      properties:
        countryCode:
          description: The country code of the SMS receiver.
          title: countryCode
          type: string
        name:
          description: The name of the SMS receiver. Names must be unique across all
            receivers within an action group.
          title: name
          type: string
        phoneNumber:
          description: The phone number of the SMS receiver.
          title: phoneNumber
          type: string
        status:
          $ref: '#/components/schemas/ReceiverStatus'
      required:
      - countryCode
      - name
      - phoneNumber
      title: SmsReceiver
      type: object
    WebhookReceiver:
      description: A webhook receiver.
      example:
        serviceUri: serviceUri
        name: name
      properties:
        name:
          description: The name of the webhook receiver. Names must be unique across
            all receivers within an action group.
          title: name
          type: string
        serviceUri:
          description: The URI where webhooks should be sent.
          title: serviceUri
          type: string
      required:
      - name
      - serviceUri
      title: WebhookReceiver
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
