openapi: 3.0.1
info:
  description: The Admin Fabric Management Client.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/Fabric.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Fabric
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Fabric.Admin/operations:
    get:
      description: Returns the list of support REST operations.
      operationId: fabric_list_operations
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
      - Fabric
      x-ms-examples:
        Returns the list of support REST operations.:
          parameters:
            api-version: 2016-05-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Add a Node to a Scale Unit
                    operation: Add a Node to a Scale Unit
                    provider: Microsoft Fabric Resource Provider
                    resource: Scale Unit
                  name: Microsoft.Fabric.Admin/scaleUnits/ScaleIn
                - display:
                    description: Powers off a Scale Unit Node
                    operation: Power off Scale Unit Node
                    provider: Microsoft Fabric Resource Provider
                    resource: Scale Unit Node
                  name: Microsoft.Fabric.Admin/scaleUnitNodes/PowerOff
                - display:
                    description: Powers on a Scale Unit Node
                    operation: Power on Scale Unit Node
                    provider: Microsoft Fabric Resource Provider
                    resource: Scale Unit Node
                  name: Microsoft.Fabric.Admin/scaleUnitNodes/PowerOn
                - display:
                    operation: Shut down Scale Unit Node
                    provider: Microsoft Fabric Resource Provider
                    resource: Scale Unit Node
                  name: Microsoft.Fabric.Admin/scaleUnitNodes/ShutDown
                - display:
                    description: Starts maintenance on a Scale Unit Node
                    operation: Start maintenance Scale Unit Node
                    provider: Microsoft Fabric Resource Provider
                    resource: Scale Unit Node
                  name: Microsoft.Fabric.Admin/scaleUnitNodes/StartMaintenanceMode
                - display:
                    description: Stops maintenance on a Scale Unit Node
                    operation: Stop maintenance Scale Unit Node
                    provider: Microsoft Fabric Resource Provider
                    resource: Scale Unit Node
                  name: Microsoft.Fabric.Admin/scaleUnitNodes/StopMaintenanceMode
                - display:
                    description: Repairs a Scale Unit Node
                    operation: Repair Scale Unit Node
                    provider: Microsoft Fabric Resource Provider
                    resource: Scale Unit Node
                  name: Microsoft.Fabric.Admin/scaleUnitNodes/Repair
                - display:
                    description: Powers off an Infrastructure Role Instance
                    operation: Power off Infrastructure Role Instance
                    provider: Microsoft Fabric Resource Provider
                    resource: Infrastructure Role Instance
                  name: Microsoft.Fabric.Admin/infraRoleInstances/PowerOff
                - display:
                    description: Powers on an Infrastructure Role Instance
                    operation: Power on Infrastructure Role Instance
                    provider: Microsoft Fabric Resource Provider
                    resource: Infrastructure Role Instance
                  name: Microsoft.Fabric.Admin/infraRoleInstances/PowerOn
                - display:
                    description: Shutdown an Infrastructure Role Instance
                    operation: Shutdown an Infrastructure Role Instance
                    provider: Microsoft Fabric Resource Provider
                    resource: Infrastructure Role Instance
                  name: Microsoft.Fabric.Admin/infraRoleInstances/Shutdown
                - display:
                    description: Reboot an Infrastructure Role Instance
                    operation: Reboot an Infrastructure Role Instance
                    provider: Microsoft Fabric Resource Provider
                    resource: Infrastructure Role Instance
                  name: Microsoft.Fabric.Admin/infraRoleInstances/Reboot
                - display:
                    description: Creates or updates an IP Pool
                    operation: Create or update IP Pool
                    provider: Microsoft Fabric Resource Provider
                    resource: IP Pool
                  name: Microsoft.Fabric.Admin/ipPools/action
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.fabric_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2016-05-01
        type: string
    FilterParameter:
      description: OData filter parameter.
      in: query
      name: $filter
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    LocationParameter:
      description: Location of the resource.
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: Name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Display:
      description: Contains the localized display information for this particular
        operation / action.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: "The localized, friendly description for the operation. The\
            \ description will be displayed to the user. It should be thorough and\
            \ concise for used in both tooltips and detailed views."
          title: description
          type: string
        operation:
          description: "The localized, friendly name for the operation. Use the name\
            \ as it will be displayed to the user."
          title: operation
          type: string
        provider:
          description: The localized friendly form of the resource provider name –
            it is expected to also include the publisher/company responsible. It should
            use Title Casing and begin with "Microsoft" for 1st party services. e.g.
            "Microsoft Monitoring Insights" or "Microsoft Compute.".
          title: provider
          type: string
        resource:
          description: "The localized, friendly version of the resource type related\
            \ to this action or operation; the resource type should match the public\
            \ documentation for the resource provider."
          title: resource
          type: string
      title: Display
      type: object
    Operation:
      description: Describes the supported REST operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Display'
        name:
          description: The name of the operation being performed on this particular
            object. This name should match the name that appears in RBAC or the event
            service.
          title: name
          type: string
      title: Operation
      type: object
    OperationList:
      description: A pageable list of supported operations objects.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to next page.
          title: nextLink
          type: string
        value:
          description: List of supported operations.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationList
      type: object
    ProvisioningState:
      description: Provisioning status of the resource.
      properties:
        properties:
          $ref: '#/components/schemas/ProvisioningStateProperties'
      type: object
    ProvisioningStateProperties:
      description: Provisioning status of the resource.
      properties:
        provisioningState:
          description: Provisioning status of the resource.
          title: provisioningState
          type: string
      title: ProvisioningStateProperties
      type: object
    Resource:
      description: Base resource object.
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: The region where the resource is located.
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key-value pairs.
          type: object
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
