openapi: 3.0.0
info:
  contact:
    name: Trello
    url: https://trello.com/home
  description: |-
    This document describes the REST API of Trello as published by Trello.com.
     - <a href='https://trello.com/docs/index.html' target='_blank'>Official Documentation</a>
     - <a href='https://trello.com/docs/api' target='_blank'>The HTML pages that were scraped in order to generate this specification.</a>
  license:
    name: "Trello : Terms of Service"
    url: https://trello.com/legal
  termsOfService: https://trello.com/legal
  title: Trello
  version: "1.0"
  x-apisguru-categories:
  - collaboration
  x-logo:
    url: https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/c13d1cd96a2cff30f0460a5e1860c5ea/header-logo-blue.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/trello.com/1.0/swagger.yaml
    version: "3.0"
  x-providerName: trello.com
  x-unofficialSpec: true
externalDocs:
  url: https://developers.trello.com
servers:
- url: https://trello.com/1
tags:
- description: https://trello.com/docs/api/action/index.html
  name: action
- description: https://trello.com/docs/api/batch/index.html
  name: batch
- description: https://trello.com/docs/api/board/index.html
  name: board
- description: https://trello.com/docs/api/card/index.html
  name: card
- description: https://trello.com/docs/api/checklist/index.html
  name: checklist
- description: https://trello.com/docs/api/label/index.html
  name: label
- description: https://trello.com/docs/api/list/index.html
  name: list
- description: https://trello.com/docs/api/member/index.html
  name: member
- description: https://trello.com/docs/api/notification/index.html
  name: notification
- description: https://trello.com/docs/api/organization/index.html
  name: organization
- description: https://trello.com/docs/api/search/index.html
  name: search
- description: https://trello.com/docs/api/session/index.html
  name: session
- description: https://trello.com/docs/api/token/index.html
  name: token
- description: https://trello.com/docs/api/type/index.html
  name: type
- description: https://trello.com/docs/api/webhook/index.html
  name: webhook
paths:
  /actions/{idAction}:
    delete:
      operationId: delete_actions_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: deleteActionsByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
    get:
      operationId: get_actions_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: ' true or false'
        explode: true
        in: query
        name: display
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: entities
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: member
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: member_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: memberCreator
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: memberCreator_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
    put:
      operationId: update_actions_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/actions'
        description: Attributes of "Actions" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateActionsByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
      x-codegen-request-body-name: body
  /actions/{idAction}/board:
    get:
      operationId: get_actions_board_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: closed, dateLastActivity,\
          \ dateLastView, desc, descData, idOrganization, invitations, invited, labelNames,\
          \ memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred,\
          \ subscribed or url"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsBoardByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/board/{field}:
    get:
      operationId: get_actions_board_by_id_action_by_field
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsBoardByIdActionByField()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/card:
    get:
      operationId: get_actions_card_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsCardByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/card/{field}:
    get:
      operationId: get_actions_card_by_id_action_by_field
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsCardByIdActionByField()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/display:
    get:
      operationId: get_actions_display_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsDisplayByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/entities:
    get:
      operationId: get_actions_entities_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsEntitiesByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/list:
    get:
      operationId: get_actions_list_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: closed, idBoard, name, pos\
          \ or subscribed"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsListByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/list/{field}:
    get:
      operationId: get_actions_list_by_id_action_by_field
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsListByIdActionByField()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/member:
    get:
      operationId: get_actions_member_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: avatarHash, avatarSource,\
          \ bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned,\
          \ idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed,\
          \ prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash,\
          \ url or username"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsMemberByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/member/{field}:
    get:
      operationId: get_actions_member_by_id_action_by_field
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsMemberByIdActionByField()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/memberCreator:
    get:
      operationId: get_actions_member_creator_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: avatarHash, avatarSource,\
          \ bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned,\
          \ idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed,\
          \ prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash,\
          \ url or username"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsMemberCreatorByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/memberCreator/{field}:
    get:
      operationId: get_actions_member_creator_by_id_action_by_field
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsMemberCreatorByIdActionByField()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/organization:
    get:
      operationId: get_actions_organization_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: billableMemberCount, desc,\
          \ descData, displayName, idBoards, invitations, invited, logoHash, memberships,\
          \ name, powerUps, prefs, premiumFeatures, products, url or website"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsOrganizationByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/organization/{field}:
    get:
      operationId: get_actions_organization_by_id_action_by_field
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getActionsOrganizationByIdActionByField()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /actions/{idAction}/text:
    put:
      operationId: update_actions_text_by_id_action
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/actions_text'
        description: Attributes of "Actions Text" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateActionsTextByIdAction()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
      x-codegen-request-body-name: body
  /actions/{idAction}/{field}:
    get:
      operationId: get_actions_by_id_action_by_field
      parameters:
      - description: idAction
        explode: false
        in: path
        name: idAction
        required: true
        schema:
          type: string
        style: simple
      - description: field
        explode: false
        in: path
        name: field
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      summary: getActionsByIdActionByField()
      tags:
      - action
      x-openapi-router-controller: openapi_server.controllers.action_controller
  /batch:
    get:
      operationId: get_batch
      parameters:
      - description: "list of API v1 GET routes, not including the version prefix"
        explode: true
        in: query
        name: urls
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      summary: getBatch()
      tags:
      - batch
      x-openapi-router-controller: openapi_server.controllers.batch_controller
  /boards:
    post:
      operationId: add_boards
      parameters:
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards'
        description: Attributes of "Boards" to be added.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoards()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}:
    get:
      operationId: get_boards_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        explode: true
        in: query
        name: actions
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: actions_entities
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: actions_display
        required: false
        schema:
          type: string
        style: form
      - description: "One of: count, list or minimal"
        explode: true
        in: query
        name: actions_format
        required: false
        schema:
          default: list
          type: string
        style: form
      - description: "A date, null or lastView"
        explode: true
        in: query
        name: actions_since
        required: false
        schema:
          type: string
        style: form
      - description: a number from 0 to 1000
        explode: true
        in: query
        name: actions_limit
        required: false
        schema:
          default: "50"
          type: string
        style: form
      - description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        explode: true
        in: query
        name: action_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: action_member
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: action_member_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: action_memberCreator
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: action_memberCreator_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          type: string
        style: form
      - description: "One of: all, closed, none, open or visible"
        explode: true
        in: query
        name: cards
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: card_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: A boolean value or &quot;cover&quot; for only card cover attachments
        explode: true
        in: query
        name: card_attachments
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: bytes, date, edgeColor, idMember,\
          \ isUpload, mimeType, name, previews or url"
        explode: true
        in: query
        name: card_attachment_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: card_checklists
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: card_stickers
        required: false
        schema:
          type: string
        style: form
      - description: "One of: mine or none"
        explode: true
        in: query
        name: boardStars
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: labels
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: "all or a comma-separated list of: color, idBoard, name or uses"
        explode: true
        in: query
        name: label_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: a number from 0 to 1000
        explode: true
        in: query
        name: labels_limit
        required: false
        schema:
          default: "50"
          type: string
        style: form
      - description: "One of: all, closed, none or open"
        explode: true
        in: query
        name: lists
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: "all or a comma-separated list of: closed, idBoard, name, pos\
          \ or subscribed"
        explode: true
        in: query
        name: list_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: "all or a comma-separated list of: active, admin, deactivated,\
          \ me or normal"
        explode: true
        in: query
        name: memberships
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: memberships_member
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: memberships_member_fields
        required: false
        schema:
          default: fullName and username
          type: string
        style: form
      - description: "One of: admins, all, none, normal or owners"
        explode: true
        in: query
        name: members
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: member_fields
        required: false
        schema:
          default: "avatarHash, initials, fullName, username and confirmed"
          type: string
        style: form
      - description: "One of: admins, all, none, normal or owners"
        explode: true
        in: query
        name: membersInvited
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: membersInvited_fields
        required: false
        schema:
          default: "avatarHash, initials, fullName and username"
          type: string
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: checklists
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: "all or a comma-separated list of: idBoard, idCard, name or pos"
        explode: true
        in: query
        name: checklist_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: organization
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: billableMemberCount, desc,\
          \ descData, displayName, idBoards, invitations, invited, logoHash, memberships,\
          \ name, powerUps, prefs, premiumFeatures, products, url or website"
        explode: true
        in: query
        name: organization_fields
        required: false
        schema:
          default: name and displayName
          type: string
        style: form
      - description: "all or a comma-separated list of: active, admin, deactivated,\
          \ me or normal"
        explode: true
        in: query
        name: organization_memberships
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: myPrefs
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: closed, dateLastActivity,\
          \ dateLastView, desc, descData, idOrganization, invitations, invited, labelNames,\
          \ memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred,\
          \ subscribed or url"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: "name, desc, descData, closed, idOrganization, pinned, url, shortUrl,\
            \ prefs and labelNames"
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
    put:
      operationId: update_boards_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards'
        description: Attributes of "Boards" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/actions:
    get:
      operationId: get_boards_actions_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: ' true or false'
        explode: true
        in: query
        name: entities
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: display
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: a number from 0 to 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: "50"
          type: string
        style: form
      - description: "One of: count, list or minimal"
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: list
          type: string
        style: form
      - description: "A date, null or lastView"
        explode: true
        in: query
        name: since
        required: false
        schema:
          type: string
        style: form
      - description: "A date, or null"
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: Page * limit must be less than 1000
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: "0"
          type: string
        style: form
      - description: Only return actions related to these model ids
        explode: true
        in: query
        name: idModels
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: member
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: member_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: memberCreator
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: memberCreator_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsActionsByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
  /boards/{idBoard}/boardStars:
    get:
      operationId: get_boards_board_stars_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "One of: mine or none"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: mine
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsBoardStarsByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
  /boards/{idBoard}/calendarKey/generate:
    post:
      operationId: add_boards_calendar_key_generate_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoardsCalendarKeyGenerateByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
  /boards/{idBoard}/cards:
    get:
      operationId: get_boards_cards_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        explode: true
        in: query
        name: actions
        required: false
        schema:
          type: string
        style: form
      - description: A boolean value or &quot;cover&quot; for only card cover attachments
        explode: true
        in: query
        name: attachments
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: bytes, date, edgeColor, idMember,\
          \ isUpload, mimeType, name, previews or url"
        explode: true
        in: query
        name: attachment_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: stickers
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: members
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: member_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: checkItemStates
        required: false
        schema:
          type: string
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: checklists
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: a number from 1 to 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      - description: "A date, or null"
        explode: true
        in: query
        name: since
        required: false
        schema:
          type: string
        style: form
      - description: "A date, or null"
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: "One of: all, closed, none, open or visible"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: visible
          type: string
        style: form
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsCardsByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
  /boards/{idBoard}/cards/{filter}:
    get:
      operationId: get_boards_cards_by_id_board_by_filter
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: filter
        explode: false
        in: path
        name: filter
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      summary: getBoardsCardsByIdBoardByFilter()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
  /boards/{idBoard}/cards/{idCard}:
    get:
      operationId: get_boards_cards_by_id_board_by_id_card
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: idCard
        explode: false
        in: path
        name: idCard
        required: true
        schema:
          type: string
        style: simple
      - description: A boolean value or &quot;cover&quot; for only card cover attachments
        explode: true
        in: query
        name: attachments
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: bytes, date, edgeColor, idMember,\
          \ isUpload, mimeType, name, previews or url"
        explode: true
        in: query
        name: attachment_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard,\
          \ addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard,\
          \ commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,\
          \ createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard,\
          \ deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp,\
          \ emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization,\
          \ makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard,\
          \ moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard,\
          \ removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,\
          \ updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList,\
          \ updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList,\
          \ updateList:closed, updateList:name, updateMember or updateOrganization"
        explode: true
        in: query
        name: actions
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: actions_entities
        required: false
        schema:
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: actions_display
        required: false
        schema:
          type: string
        style: form
      - description: a number from 0 to 1000
        explode: true
        in: query
        name: actions_limit
        required: false
        schema:
          default: "50"
          type: string
        style: form
      - description: "all or a comma-separated list of: data, date, idMemberCreator\
          \ or type"
        explode: true
        in: query
        name: action_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: action_memberCreator_fields
        required: false
        schema:
          default: "avatarHash, fullName, initials and username"
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: members
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: avatarHash, bio, bioData,\
          \ confirmed, fullName, idPremOrgsAdmin, initials, memberType, products,\
          \ status, url or username"
        explode: true
        in: query
        name: member_fields
        required: false
        schema:
          default: "avatarHash, initials, fullName and username"
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: checkItemStates
        required: false
        schema:
          type: string
        style: form
      - description: "all or a comma-separated list of: idCheckItem or state"
        explode: true
        in: query
        name: checkItemState_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: ' true or false'
        explode: true
        in: query
        name: labels
        required: false
        schema:
          type: string
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: checklists
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: "all or a comma-separated list of: idBoard, idCard, name or pos"
        explode: true
        in: query
        name: checklist_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsCardsByIdBoardByIdCard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
  /boards/{idBoard}/checklists:
    get:
      operationId: get_boards_checklists_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "One of: all, closed, none, open or visible"
        explode: true
        in: query
        name: cards
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: card_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: checkItems
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: "all or a comma-separated list of: name, nameData, pos, state\
          \ or type"
        explode: true
        in: query
        name: checkItem_fields
        required: false
        schema:
          default: "name, nameData, pos and state"
          type: string
        style: form
      - description: "One of: all or none"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: "all or a comma-separated list of: idBoard, idCard, name or pos"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsChecklistsByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
    post:
      operationId: add_boards_checklists_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_checklists'
        description: Attributes of "Boards Checklists" to be added.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoardsChecklistsByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/closed:
    put:
      operationId: update_boards_closed_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_closed'
        description: Attributes of "Boards Closed" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsClosedByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/deltas:
    get:
      operationId: get_boards_deltas_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: A valid tag for subscribing
        explode: true
        in: query
        name: tags
        required: true
        schema:
          type: string
        style: form
      - description: a number from -1 to Infinity
        explode: true
        in: query
        name: ixLastUpdate
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsDeltasByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
  /boards/{idBoard}/desc:
    put:
      operationId: update_boards_desc_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_desc'
        description: Attributes of "Boards Desc" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsDescByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/emailKey/generate:
    post:
      operationId: add_boards_email_key_generate_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoardsEmailKeyGenerateByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
  /boards/{idBoard}/idOrganization:
    put:
      operationId: update_boards_id_organization_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_idOrganization'
        description: Attributes of "Boards Id Organization" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsIdOrganizationByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/labelNames/blue:
    put:
      operationId: update_boards_label_names_blue_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_blue'
        description: Attributes of "Label Names Blue" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesBlueByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/labelNames/green:
    put:
      operationId: update_boards_label_names_green_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_green'
        description: Attributes of "Label Names Green" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesGreenByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/labelNames/orange:
    put:
      operationId: update_boards_label_names_orange_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_orange'
        description: Attributes of "Label Names Orange" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesOrangeByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/labelNames/purple:
    put:
      operationId: update_boards_label_names_purple_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_purple'
        description: Attributes of "Label Names Purple" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesPurpleByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/labelNames/red:
    put:
      operationId: update_boards_label_names_red_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_red'
        description: Attributes of "Label Names Red" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesRedByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/labelNames/yellow:
    put:
      operationId: update_boards_label_names_yellow_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_yellow'
        description: Attributes of "Label Names Yellow" to be updated.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: updateBoardsLabelNamesYellowByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/labels:
    get:
      operationId: get_boards_labels_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: color, idBoard, name or uses"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: a number from 0 to 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: "50"
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsLabelsByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
    post:
      operationId: add_boards_labels_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_labels'
        description: Attributes of "Boards Labels" to be added.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoardsLabelsByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/labels/{idLabel}:
    get:
      operationId: get_boards_labels_by_id_board_by_id_label
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: idLabel
        explode: false
        in: path
        name: idLabel
        required: true
        schema:
          type: string
        style: simple
      - description: "all or a comma-separated list of: color, idBoard, name or uses"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsLabelsByIdBoardByIdLabel()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
  /boards/{idBoard}/lists:
    get:
      operationId: get_boards_lists_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: "One of: all, closed, none, open or visible"
        explode: true
        in: query
        name: cards
        required: false
        schema:
          default: none
          type: string
        style: form
      - description: "all or a comma-separated list of: badges, checkItemStates, closed,\
          \ dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard,\
          \ idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels,\
          \ manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
        explode: true
        in: query
        name: card_fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: "One of: all, closed, none or open"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: open
          type: string
        style: form
      - description: "all or a comma-separated list of: closed, idBoard, name, pos\
          \ or subscribed"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          type: string
        style: form
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: getBoardsListsByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
    post:
      operationId: add_boards_lists_by_id_board
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_lists'
        description: Attributes of "Boards Lists" to be added.
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
      - api_key: []
      - api_token: []
      summary: addBoardsListsByIdBoard()
      tags:
      - board
      x-openapi-router-controller: openapi_server.controllers.board_controller
      x-codegen-request-body-name: body
  /boards/{idBoard}/lists/{filter}:
    get:
      operationId: get_boards_lists_by_id_board_by_filter
      parameters:
      - description: board_id
        explode: false
        in: path
        name: idBoard
        required: true
        schema:
          type: string
        style: simple
      - description: filter
        explode: false
        in: path
        name: filter
        required: true
        schema:
          type: string
        style: simple
      - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate
          your application key</a>
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting
          a token from a user</a>
        explode: true
        in: query
        name: token
        required: true
        schema:
[...]
