openapi: 3.0.0
info:
  contact:
    x-twitter: clever
  description: Serves the Clever Data API
  title: Data API
  version: 1.2.0
  x-apisguru-categories:
  - education
  x-logo:
    url: https://twitter.com/clever/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/Clever/swagger-api/master/v1.2.yml
    version: "3.0"
  x-providerName: clever.com
servers:
- url: https://api.clever.com/v1.2
security:
- oauth: []
paths:
  /contacts:
    get:
      description: Returns a list of student contacts
      operationId: getContacts
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentContactsResponse'
          description: OK Response
      tags:
      - Contacts
      x-accepts:
      - application/json
  /contacts/{id}:
    get:
      description: Returns a specific student contact
      operationId: getContact
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentContactResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Contacts
      x-accepts:
      - application/json
  /contacts/{id}/district:
    get:
      description: Returns the district for a student contact
      operationId: getDistrictForStudentContact
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Contacts
      x-accepts:
      - application/json
  /contacts/{id}/student:
    get:
      description: Returns the student for a student contact
      operationId: getStudentForContact
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Contacts
      x-accepts:
      - application/json
  /district_admins:
    get:
      description: Returns a list of district admins
      operationId: getDistrictAdmins
      parameters:
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: show_links
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictAdminsResponse'
          description: OK Response
      tags:
      - District Admins
      x-accepts:
      - application/json
  /district_admins/{id}:
    get:
      description: Returns a specific district admin
      operationId: getDistrictAdmin
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictAdminResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - District Admins
      x-accepts:
      - application/json
  /districts:
    get:
      description: Returns a list of districts. In practice this will only return
        the one district associated with the bearer token
      operationId: getDistricts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictsResponse'
          description: OK Response
      tags:
      - Districts
      x-accepts:
      - application/json
  /districts/{id}:
    get:
      description: Returns a specific district
      operationId: getDistrict
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Districts
      x-accepts:
      - application/json
  /districts/{id}/admins:
    get:
      description: Returns the admins for a district
      operationId: getAdminsForDistrict
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictAdminsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Districts
      x-accepts:
      - application/json
  /districts/{id}/schools:
    get:
      description: Returns the schools for a district
      operationId: getSchoolsForDistrict
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Districts
      x-accepts:
      - application/json
  /districts/{id}/sections:
    get:
      description: Returns the sections for a district
      operationId: getSectionsForDistrict
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Districts
      x-accepts:
      - application/json
  /districts/{id}/status:
    get:
      description: Returns the status of the district
      operationId: getDistrictStatus
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictStatusResponses'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Districts
      x-accepts:
      - application/json
  /districts/{id}/students:
    get:
      description: Returns the students for a district
      operationId: getStudentsForDistrict
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Districts
      x-accepts:
      - application/json
  /districts/{id}/teachers:
    get:
      description: Returns the teachers for a district
      operationId: getTeachersForDistrict
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeachersResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Districts
      x-accepts:
      - application/json
  /school_admins:
    get:
      description: Returns a list of school admins
      operationId: getSchoolAdmins
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolAdminsResponse'
          description: OK Response
      tags:
      - School Admins
      x-accepts:
      - application/json
  /school_admins/{id}:
    get:
      description: Returns a specific school admin
      operationId: getSchoolAdmin
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolAdminResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - School Admins
      x-accepts:
      - application/json
  /school_admins/{id}/schools:
    get:
      description: Returns the schools for a school admin
      operationId: getSchoolsForSchoolAdmin
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - School Admins
      x-accepts:
      - application/json
  /schools:
    get:
      description: Returns a list of schools
      operationId: getSchools
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolsResponse'
          description: OK Response
      tags:
      - Schools
      x-accepts:
      - application/json
  /schools/{id}:
    get:
      description: Returns a specific school
      operationId: getSchool
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Schools
      x-accepts:
      - application/json
  /schools/{id}/district:
    get:
      description: Returns the district for a school
      operationId: getDistrictForSchool
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Schools
      x-accepts:
      - application/json
  /schools/{id}/sections:
    get:
      description: Returns the sections for a school
      operationId: getSectionsForSchool
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Schools
      x-accepts:
      - application/json
  /schools/{id}/students:
    get:
      description: Returns the students for a school
      operationId: getStudentsForSchool
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Schools
      x-accepts:
      - application/json
  /schools/{id}/teachers:
    get:
      description: Returns the teachers for a school
      operationId: getTeachersForSchool
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeachersResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Schools
      x-accepts:
      - application/json
  /sections:
    get:
      description: Returns a list of sections
      operationId: getSections
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
          description: OK Response
      tags:
      - Sections
      x-accepts:
      - application/json
  /sections/{id}:
    get:
      description: Returns a specific section
      operationId: getSection
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Sections
      x-accepts:
      - application/json
  /sections/{id}/district:
    get:
      description: Returns the district for a section
      operationId: getDistrictForSection
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Sections
      x-accepts:
      - application/json
  /sections/{id}/school:
    get:
      description: Returns the school for a section
      operationId: getSchoolForSection
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Sections
      x-accepts:
      - application/json
  /sections/{id}/students:
    get:
      description: Returns the students for a section
      operationId: getStudentsForSection
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Sections
      x-accepts:
      - application/json
  /sections/{id}/teacher:
    get:
      description: Returns the primary teacher for a section
      operationId: getTeacherForSection
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeacherResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Sections
      x-accepts:
      - application/json
  /sections/{id}/teachers:
    get:
      description: Returns the teachers for a section
      operationId: getTeachersForSection
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeachersResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Sections
      x-accepts:
      - application/json
  /students:
    get:
      description: Returns a list of students
      operationId: getStudents
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentsResponse'
          description: OK Response
      tags:
      - Students
      x-accepts:
      - application/json
  /students/{id}:
    get:
      description: Returns a specific student
      operationId: getStudent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Students
      x-accepts:
      - application/json
  /students/{id}/contacts:
    get:
      description: Returns the contacts for a student
      operationId: getContactsForStudent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentContactsForStudentResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Students
      x-accepts:
      - application/json
  /students/{id}/district:
    get:
      description: Returns the district for a student
      operationId: getDistrictForStudent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Students
      x-accepts:
      - application/json
  /students/{id}/school:
    get:
      description: Returns the primary school for a student
      operationId: getSchoolForStudent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Students
      x-accepts:
      - application/json
  /students/{id}/sections:
    get:
      description: Returns the sections for a student
      operationId: getSectionsForStudent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Students
      x-accepts:
      - application/json
  /students/{id}/teachers:
    get:
      description: Returns the teachers for a student
      operationId: getTeachersForStudent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeachersResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Students
      x-accepts:
      - application/json
  /teachers:
    get:
      description: Returns a list of teachers
      operationId: getTeachers
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeachersResponse'
          description: OK Response
      tags:
      - Teachers
      x-accepts:
      - application/json
  /teachers/{id}:
    get:
      description: Returns a specific teacher
      operationId: getTeacher
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeacherResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Teachers
      x-accepts:
      - application/json
  /teachers/{id}/district:
    get:
      description: Returns the district for a teacher
      operationId: getDistrictForTeacher
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Teachers
      x-accepts:
      - application/json
  /teachers/{id}/grade_levels:
    get:
      description: Returns the grade levels for sections a teacher teaches
      operationId: getGradeLevelsForTeacher
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeLevelsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Teachers
      x-accepts:
      - application/json
  /teachers/{id}/school:
    get:
      description: Retrieves school info for a teacher.
      operationId: getSchoolForTeacher
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Teachers
      x-accepts:
      - application/json
  /teachers/{id}/sections:
    get:
      description: Returns the sections for a teacher
      operationId: getSectionsForTeacher
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Teachers
      x-accepts:
      - application/json
  /teachers/{id}/students:
    get:
      description: Returns the students for a teacher
      operationId: getStudentsForTeacher
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentsResponse'
          description: OK Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Entity Not Found
      tags:
      - Teachers
      x-accepts:
      - application/json
components:
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequest'
      description: Bad Request
    InternalError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalError'
      description: Internal Error
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFound'
      description: Entity Not Found
  schemas:
    BadRequest:
      properties:
        message:
          type: string
      type: object
    Credentials:
      example:
        district_username: district_username
      properties:
        district_username:
          type: string
      type: object
    District:
      example:
        mdr_number: mdr_number
        name: name
        id: id
      properties:
        id:
          type: string
          x-validation: true
        mdr_number:
          nullable: true
          type: string
        name:
          type: string
      type: object
    DistrictAdmin:
      example:
        district: district
        name:
          middle: middle
          last: last
          first: first
        id: id
        title: title
        email: email
      properties:
        district:
          type: string
          x-validation: true
        email:
          type: string
        id:
          type: string
          x-validation: true
        name:
          $ref: '#/components/schemas/Name'
        title:
          nullable: true
          type: string
      type: object
    DistrictAdminResponse:
      example:
        data:
          district: district
          name:
            middle: middle
            last: last
            first: first
          id: id
          title: title
          email: email
      properties:
        data:
          $ref: '#/components/schemas/DistrictAdmin'
      type: object
    DistrictAdminsResponse:
      example:
        data:
        - district: district
          name:
            middle: middle
            last: last
            first: first
          id: id
          title: title
          email: email
        - district: district
          name:
            middle: middle
            last: last
            first: first
          id: id
          title: title
          email: email
      properties:
        data:
          items:
            $ref: '#/components/schemas/DistrictAdmin'
          type: array
      type: object
    DistrictResponse:
      example:
        data:
          mdr_number: mdr_number
          name: name
          id: id
      properties:
        data:
          $ref: '#/components/schemas/District'
      type: object
    DistrictStatus:
      example:
        instant_login: true
        last_sync: last_sync
        pause_start: pause_start
        pause_end: pause_end
        sis_type: sis_type
        id: id
        launch_date: launch_date
        state: running
        error: error
      properties:
        error:
          type: string
        id:
          type: string
          x-validation: true
        instant_login:
          type: boolean
        last_sync:
          format: datetime
          nullable: true
          type: string
          x-validation: true
        launch_date:
          format: datetime
          type: string
          x-validation: true
        pause_end:
          format: datetime
          nullable: true
          type: string
          x-validation: true
        pause_start:
          format: datetime
          nullable: true
          type: string
          x-validation: true
        sis_type:
          type: string
          x-validation: true
        state:
          enum:
          - running
          - pending
          - error
          - paused
          type: string
          x-validation: true
      type: object
    DistrictStatusResponse:
      example:
        data:
          instant_login: true
          last_sync: last_sync
          pause_start: pause_start
          pause_end: pause_end
          sis_type: sis_type
          id: id
          launch_date: launch_date
          state: running
          error: error
      properties:
        data:
          $ref: '#/components/schemas/DistrictStatus'
      type: object
    DistrictStatusResponses:
      example:
        data:
        - data:
            instant_login: true
            last_sync: last_sync
            pause_start: pause_start
            pause_end: pause_end
            sis_type: sis_type
            id: id
            launch_date: launch_date
            state: running
            error: error
        - data:
            instant_login: true
            last_sync: last_sync
            pause_start: pause_start
            pause_end: pause_end
            sis_type: sis_type
            id: id
            launch_date: launch_date
            state: running
            error: error
      properties:
        data:
          items:
            $ref: '#/components/schemas/DistrictStatusResponse'
          type: array
      type: object
    DistrictsResponse:
      example:
        data:
        - data:
            mdr_number: mdr_number
            name: name
            id: id
        - data:
            mdr_number: mdr_number
            name: name
            id: id
      properties:
        data:
          items:
            $ref: '#/components/schemas/DistrictResponse'
          type: array
      type: object
    GradeLevelsResponse:
      example:
        data:
        - data
        - data
      properties:
        data:
          items:
            type: string
          type: array
      type: object
    InternalError:
      properties:
        message:
          type: string
      type: object
    Location:
      example:
        zip: zip
        address: address
        city: city
        lon: lon
        state: state
        lat: lat
      properties:
        address:
          nullable: true
          type: string
        city:
          nullable: true
          type: string
        lat:
          nullable: true
          type: string
        lon:
          nullable: true
          type: string
        state:
          nullable: true
          type: string
        zip:
          nullable: true
          type: string
      type: object
    Name:
      example:
        middle: middle
        last: last
        first: first
      properties:
        first:
          nullable: true
          type: string
        last:
          nullable: true
          type: string
        middle:
          nullable: true
          type: string
      type: object
    NotFound:
      example:
        message: message
      properties:
        message:
          type: string
      type: object
    Principal:
      example:
        name: name
        email: email
      properties:
        email:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
      type: object
    School:
      example:
        mdr_number: mdr_number
        created: created
        sis_id: sis_id
        low_grade: "1"
        principal:
          name: name
          email: email
        nces_id: nces_id
        phone: phone
        district: district
        school_number: school_number
        name: name
        location:
          zip: zip
          address: address
          city: city
          lon: lon
          state: state
          lat: lat
        id: id
        state_id: state_id
        last_modified: last_modified
        high_grade: "1"
      properties:
        created:
          format: datetime
          type: string
          x-validation: true
        district:
          type: string
          x-validation: true
        high_grade:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
          - "7"
          - "8"
          - "9"
          - "10"
          - "11"
          - "12"
          - PreKindergarten
          - Kindergarten
          - PostGraduate
          - Other
          nullable: true
          type: string
          x-validation: true
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        location:
          $ref: '#/components/schemas/Location'
        low_grade:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
          - "7"
          - "8"
          - "9"
          - "10"
          - "11"
          - "12"
          - PreKindergarten
          - Kindergarten
          - PostGraduate
          - Other
          nullable: true
          type: string
          x-validation: true
        mdr_number:
          nullable: true
          type: string
        name:
          type: string
        nces_id:
          nullable: true
          type: string
        phone:
          nullable: true
          type: string
        principal:
          $ref: '#/components/schemas/Principal'
        school_number:
          type: string
        sis_id:
          type: string
        state_id:
          nullable: true
          type: string
      type: object
    SchoolAdmin:
      example:
        credentials:
          district_username: district_username
        schools:
        - schools
        - schools
        district: district
        staff_id: staff_id
        name:
          middle: middle
          last: last
          first: first
        id: id
        title: title
        email: email
      properties:
        credentials:
          $ref: '#/components/schemas/Credentials'
        district:
          type: string
          x-validation: true
        email:
          type: string
        id:
          type: string
          x-validation: true
        name:
          $ref: '#/components/schemas/Name'
        schools:
          items:
            type: string
          type: array
          x-validation: true
        staff_id:
          type: string
        title:
          nullable: true
          type: string
      type: object
    SchoolAdminResponse:
      example:
        data:
          credentials:
            district_username: district_username
          schools:
          - schools
          - schools
          district: district
          staff_id: staff_id
          name:
            middle: middle
            last: last
            first: first
          id: id
          title: title
          email: email
      properties:
        data:
          $ref: '#/components/schemas/SchoolAdmin'
      type: object
    SchoolAdminsResponse:
      example:
        data:
        - data:
            credentials:
              district_username: district_username
            schools:
            - schools
            - schools
            district: district
            staff_id: staff_id
            name:
              middle: middle
              last: last
              first: first
            id: id
            title: title
            email: email
        - data:
            credentials:
              district_username: district_username
            schools:
            - schools
            - schools
            district: district
            staff_id: staff_id
            name:
              middle: middle
              last: last
              first: first
            id: id
            title: title
            email: email
      properties:
        data:
          items:
            $ref: '#/components/schemas/SchoolAdminResponse'
          type: array
      type: object
    SchoolResponse:
      example:
        data:
          mdr_number: mdr_number
          created: created
          sis_id: sis_id
          low_grade: "1"
          principal:
            name: name
            email: email
          nces_id: nces_id
          phone: phone
          district: district
          school_number: school_number
          name: name
          location:
            zip: zip
            address: address
            city: city
            lon: lon
            state: state
            lat: lat
          id: id
          state_id: state_id
          last_modified: last_modified
          high_grade: "1"
      properties:
        data:
          $ref: '#/components/schemas/School'
      type: object
    SchoolsResponse:
      example:
        data:
        - data:
            mdr_number: mdr_number
            created: created
            sis_id: sis_id
            low_grade: "1"
            principal:
              name: name
              email: email
            nces_id: nces_id
            phone: phone
            district: district
            school_number: school_number
            name: name
            location:
              zip: zip
              address: address
              city: city
              lon: lon
              state: state
              lat: lat
            id: id
            state_id: state_id
            last_modified: last_modified
            high_grade: "1"
        - data:
            mdr_number: mdr_number
            created: created
            sis_id: sis_id
            low_grade: "1"
            principal:
              name: name
              email: email
            nces_id: nces_id
            phone: phone
            district: district
            school_number: school_number
            name: name
            location:
              zip: zip
              address: address
              city: city
              lon: lon
              state: state
              lat: lat
            id: id
            state_id: state_id
            last_modified: last_modified
            high_grade: "1"
      properties:
        data:
          items:
            $ref: '#/components/schemas/SchoolResponse'
          type: array
      type: object
    Section:
      example:
        period: period
        course_number: course_number
        course_name: course_name
        created: created
        subject: english/language arts
        sis_id: sis_id
        students:
        - students
        - students
        teacher: teacher
        school: school
        teachers:
        - teachers
        - teachers
        district: district
        grade: "1"
        name: name
        term:
          end_date: end_date
          name: name
          start_date: start_date
        id: id
        last_modified: last_modified
        course_description: course_description
        section_number: section_number
      properties:
        course_description:
          nullable: true
          type: string
        course_name:
          nullable: true
          type: string
        course_number:
          nullable: true
          type: string
        created:
          format: datetime
          type: string
          x-validation: true
        district:
          type: string
          x-validation: true
        grade:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
          - "7"
          - "8"
          - "9"
          - "10"
          - "11"
          - "12"
          - PreKindergarten
          - Kindergarten
          - PostGraduate
          - Other
          nullable: true
          type: string
          x-validation: true
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        name:
          type: string
        period:
          nullable: true
          type: string
        school:
          type: string
          x-validation: true
        section_number:
          nullable: true
          type: string
        sis_id:
          type: string
        students:
          items:
            type: string
          type: array
          x-validation: true
        subject:
          enum:
          - english/language arts
          - math
          - science
          - social studies
          - language
          - homeroom/advisory
          - interventions/online learning
          - technology and engineering
          - PE and health
          - arts and music
          - other
          type: string
          x-validation: true
        teacher:
          nullable: true
          type: string
          x-validation: true
        teachers:
          items:
            type: string
          type: array
          x-validation: true
        term:
          $ref: '#/components/schemas/Term'
      type: object
    SectionResponse:
      example:
        data:
          period: period
          course_number: course_number
          course_name: course_name
          created: created
          subject: english/language arts
          sis_id: sis_id
          students:
          - students
          - students
          teacher: teacher
          school: school
          teachers:
          - teachers
          - teachers
          district: district
          grade: "1"
          name: name
          term:
            end_date: end_date
            name: name
            start_date: start_date
          id: id
          last_modified: last_modified
          course_description: course_description
          section_number: section_number
      properties:
        data:
          $ref: '#/components/schemas/Section'
      type: object
    SectionsResponse:
      example:
        data:
        - data:
            period: period
            course_number: course_number
            course_name: course_name
            created: created
            subject: english/language arts
            sis_id: sis_id
            students:
            - students
            - students
            teacher: teacher
            school: school
            teachers:
            - teachers
            - teachers
            district: district
            grade: "1"
            name: name
            term:
              end_date: end_date
              name: name
              start_date: start_date
            id: id
            last_modified: last_modified
            course_description: course_description
            section_number: section_number
        - data:
            period: period
            course_number: course_number
            course_name: course_name
            created: created
            subject: english/language arts
            sis_id: sis_id
            students:
            - students
            - students
            teacher: teacher
            school: school
            teachers:
            - teachers
            - teachers
            district: district
            grade: "1"
            name: name
            term:
              end_date: end_date
              name: name
              start_date: start_date
            id: id
            last_modified: last_modified
            course_description: course_description
            section_number: section_number
      properties:
        data:
          items:
            $ref: '#/components/schemas/SectionResponse'
          type: array
      type: object
    Student:
      example:
        gender: M
        race: Caucasian
        credentials:
          district_username: district_username
        created: created
        graduation_year: graduation_year
        sis_id: sis_id
        hispanic_ethnicity: "Y"
        student_number: student_number
        school: school
        schools:
        - schools
        - schools
        dob: dob
        district: district
        grade: "1"
        name:
          middle: middle
          last: last
          first: first
        ell_status: "Y"
        location:
          zip: zip
          address: address
          city: city
          lon: lon
          state: state
          lat: lat
        id: id
        state_id: state_id
        last_modified: last_modified
        email: email
      properties:
        created:
          format: datetime
          type: string
          x-validation: true
        credentials:
          $ref: '#/components/schemas/Credentials'
        district:
          type: string
          x-validation: true
        dob:
          nullable: true
          pattern: "(?:[0-9]{1,2})/([0-9]{1,2})/([0-9]{4})"
          type: string
          x-validation: true
        ell_status:
          enum:
          - "Y"
          - "N"
          - ""
          nullable: true
          type: string
          x-validation: true
        email:
          nullable: true
          type: string
        gender:
          enum:
          - M
          - F
          - ""
          nullable: true
          type: string
          x-validation: true
        grade:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
          - "7"
          - "8"
          - "9"
          - "10"
          - "11"
          - "12"
          - PreKindergarten
          - Kindergarten
          - PostGraduate
          - Other
          nullable: true
          type: string
          x-validation: true
        graduation_year:
          nullable: true
          type: string
          x-validation: true
        hispanic_ethnicity:
          enum:
          - "Y"
          - "N"
          - ""
          nullable: true
          type: string
          x-validation: true
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        location:
          $ref: '#/components/schemas/Location'
        name:
          $ref: '#/components/schemas/Name'
        race:
          enum:
          - Caucasian
          - Asian
          - Black or African American
          - American Indian
          - Hawaiian or Other Pacific Islander
          - Two or More Races
          - Unknown
          - ""
          nullable: true
          type: string
          x-validation: true
        school:
          type: string
          x-validation: true
        schools:
          items:
            type: string
          type: array
          x-validation: true
        sis_id:
          type: string
        state_id:
          nullable: true
          type: string
        student_number:
          nullable: true
          type: string
      type: object
    StudentContact:
      example:
        phone_type: phone_type
        phone: phone
        student: student
        district: district
        sis_id: sis_id
        name: name
        id: id
        relationship: relationship
        type: type
        email: email
      properties:
        district:
          type: string
          x-validation: true
        email:
          nullable: true
          type: string
        id:
          type: string
          x-validation: true
        name:
          type: string
        phone:
          nullable: true
          type: string
        phone_type:
          nullable: true
          type: string
        relationship:
          nullable: true
          type: string
        sis_id:
          nullable: true
          type: string
        student:
          type: string
          x-validation: true
        type:
          type: string
      type: object
    StudentContactResponse:
      example:
        data:
          phone_type: phone_type
          phone: phone
          student: student
          district: district
          sis_id: sis_id
          name: name
          id: id
          relationship: relationship
          type: type
          email: email
      properties:
        data:
          $ref: '#/components/schemas/StudentContact'
      type: object
    StudentContactsForStudentResponse:
      example:
        data:
        - phone_type: phone_type
          phone: phone
          student: student
          district: district
          sis_id: sis_id
          name: name
          id: id
          relationship: relationship
          type: type
          email: email
        - phone_type: phone_type
          phone: phone
          student: student
          district: district
          sis_id: sis_id
          name: name
          id: id
          relationship: relationship
          type: type
          email: email
      properties:
        data:
          items:
            $ref: '#/components/schemas/StudentContact'
          type: array
      type: object
    StudentContactsResponse:
      example:
        data:
        - data:
            phone_type: phone_type
            phone: phone
            student: student
            district: district
            sis_id: sis_id
            name: name
            id: id
            relationship: relationship
            type: type
            email: email
        - data:
            phone_type: phone_type
            phone: phone
            student: student
            district: district
            sis_id: sis_id
            name: name
            id: id
            relationship: relationship
            type: type
            email: email
      properties:
        data:
          items:
            $ref: '#/components/schemas/StudentContactResponse'
          type: array
      type: object
    StudentResponse:
      example:
        data:
          gender: M
          race: Caucasian
          credentials:
            district_username: district_username
          created: created
          graduation_year: graduation_year
          sis_id: sis_id
          hispanic_ethnicity: "Y"
          student_number: student_number
          school: school
          schools:
          - schools
          - schools
          dob: dob
          district: district
          grade: "1"
          name:
            middle: middle
            last: last
            first: first
          ell_status: "Y"
          location:
            zip: zip
            address: address
            city: city
            lon: lon
            state: state
            lat: lat
          id: id
          state_id: state_id
          last_modified: last_modified
          email: email
      properties:
        data:
          $ref: '#/components/schemas/Student'
      type: object
    StudentsResponse:
      example:
        data:
        - data:
            gender: M
            race: Caucasian
            credentials:
              district_username: district_username
            created: created
            graduation_year: graduation_year
            sis_id: sis_id
            hispanic_ethnicity: "Y"
            student_number: student_number
            school: school
            schools:
            - schools
            - schools
            dob: dob
            district: district
            grade: "1"
            name:
              middle: middle
              last: last
              first: first
            ell_status: "Y"
            location:
              zip: zip
              address: address
              city: city
              lon: lon
              state: state
              lat: lat
            id: id
            state_id: state_id
            last_modified: last_modified
            email: email
        - data:
            gender: M
            race: Caucasian
            credentials:
              district_username: district_username
            created: created
            graduation_year: graduation_year
            sis_id: sis_id
            hispanic_ethnicity: "Y"
            student_number: student_number
            school: school
            schools:
            - schools
            - schools
            dob: dob
            district: district
            grade: "1"
            name:
              middle: middle
              last: last
              first: first
            ell_status: "Y"
            location:
              zip: zip
              address: address
              city: city
              lon: lon
              state: state
              lat: lat
            id: id
            state_id: state_id
            last_modified: last_modified
            email: email
      properties:
        data:
          items:
            $ref: '#/components/schemas/StudentResponse'
          type: array
      type: object
    Teacher:
      example:
        credentials:
          district_username: district_username
        created: created
        sis_id: sis_id
        title: title
        teacher_number: teacher_number
        school: school
        schools:
        - schools
        - schools
        district: district
        name:
          middle: middle
          last: last
          first: first
        id: id
        state_id: state_id
        last_modified: last_modified
        email: email
      properties:
        created:
          format: datetime
          type: string
          x-validation: true
        credentials:
          $ref: '#/components/schemas/Credentials'
        district:
          type: string
          x-validation: true
        email:
          nullable: true
          type: string
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        name:
          $ref: '#/components/schemas/Name'
        school:
          type: string
          x-validation: true
        schools:
          items:
            type: string
          type: array
          x-validation: true
        sis_id:
          type: string
        state_id:
          nullable: true
          type: string
        teacher_number:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
      type: object
    TeacherResponse:
      example:
        data:
          credentials:
            district_username: district_username
          created: created
          sis_id: sis_id
          title: title
          teacher_number: teacher_number
          school: school
          schools:
          - schools
          - schools
          district: district
          name:
            middle: middle
            last: last
            first: first
          id: id
          state_id: state_id
          last_modified: last_modified
          email: email
      properties:
        data:
          $ref: '#/components/schemas/Teacher'
      type: object
    TeachersResponse:
      example:
        data:
        - data:
            credentials:
              district_username: district_username
            created: created
            sis_id: sis_id
            title: title
            teacher_number: teacher_number
            school: school
            schools:
            - schools
            - schools
            district: district
            name:
              middle: middle
              last: last
              first: first
            id: id
            state_id: state_id
            last_modified: last_modified
            email: email
        - data:
            credentials:
              district_username: district_username
            created: created
            sis_id: sis_id
            title: title
            teacher_number: teacher_number
            school: school
            schools:
            - schools
            - schools
            district: district
            name:
              middle: middle
              last: last
              first: first
            id: id
            state_id: state_id
            last_modified: last_modified
            email: email
      properties:
        data:
          items:
            $ref: '#/components/schemas/TeacherResponse'
          type: array
      type: object
    Term:
      example:
        end_date: end_date
        name: name
        start_date: start_date
      properties:
        end_date:
          format: datetime
          nullable: true
          type: string
          x-validation: true
        name:
          nullable: true
          type: string
        start_date:
          format: datetime
          nullable: true
          type: string
          x-validation: true
      type: object
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://clever.com/oauth/authorize
          scopes: {}
          tokenUrl: https://clever.com/oauth/tokens
      type: oauth2
x-samples-languages:
- curl
- node
- ruby
- python
- php
- java
- go

