openapi: 3.0.1
info:
  description: Use this API to manage the IoT hubs in your Azure subscription.
  title: iotHubClient
  version: 2018-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/iothub/resource-manager/Microsoft.Devices/preview/2018-12-01-preview/iothub.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: iothub
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Devices/operations:
    get:
      description: Lists all of the available IoT Hub REST API operations.
      operationId: operations_list
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2018-12-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Register the subscription for the IotHub resource
                      provider and enables the creation of IotHub resources
                    operation: Register Resource Provider
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/register/action
                - display:
                    description: Gets the diagnostic setting for the resource
                    operation: Get Diagnostic Setting
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/IotHubs/diagnosticSettings/read
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource
                    operation: Set Diagnostic Setting
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/IotHubs/diagnosticSettings/write
                - display:
                    description: Gets the available metrics for the IotHub service
                    operation: Read IotHub service metric definitions
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/IotHubs/metricDefinitions/read
                - display:
                    description: Gets the available log definitions for the IotHub
                      Service
                    operation: Read IotHub service log definitions
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/IotHubs/logDefinitions/read
                - display:
                    description: Get All ResourceProvider Operations
                    operation: Get All ResourceProvider Operations
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/operations/Read
                - display:
                    description: Check If IotHub name is available
                    operation: Check If IotHub name is available
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/checkNameAvailability/Action
                - display:
                    description: Get subscription usage details for this provider.
                    operation: Get Subscription Usages
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/usages/Read
                - display:
                    description: Gets the IotHub resource(s)
                    operation: Get IotHub(s)
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/Read
                - display:
                    description: Create or update IotHub Resource
                    operation: Create or update IotHub Resource
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/Write
                - display:
                    description: Delete IotHub Resource
                    operation: Delete IotHub Resource
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/Delete
                - display:
                    description: Get IotHub Statistics
                    operation: Get IotHub Statistics
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/iotHubStats/Read
                - display:
                    description: Get valid IotHub Skus
                    operation: Get valid IotHub Skus
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/skus/Read
                - display:
                    description: Get all IotHub Keys
                    operation: Get all IotHub Keys
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/listkeys/Action
                - display:
                    description: Get IotHub Key for the given name
                    operation: Get IotHub Key for the given name
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/iotHubKeys/listkeys/Action
                - display:
                    description: Create EventHub Consumer Group
                    operation: Create EventHub Consumer Group
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Write
                - display:
                    description: Get EventHub Consumer Group(s)
                    operation: Get EventHub Consumer Group(s)
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Read
                - display:
                    description: Delete EventHub Consumer Group
                    operation: Delete EventHub Consumer Group
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Delete
                - display:
                    description: Export Devices
                    operation: Export Devices
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/exportDevices/Action
                - display:
                    description: Import Devices
                    operation: Import Devices
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/importDevices/Action
                - display:
                    description: Get Job(s) details submitted on given IotHub
                    operation: Get the Job(s) on IotHub
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/jobs/Read
                - display:
                    description: Get Quota Metrics
                    operation: Get Quota Metrics
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/quotaMetrics/Read
                - display:
                    description: Test a message against all existing Routes
                    operation: Routing Rule Test All
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/routing/routes/$testall/Action
                - display:
                    description: Test a message against a provided test Route
                    operation: Routing Rule Test Route
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/routing/routes/$testnew/Action
                - display:
                    description: Gets the health of all routing Endpoints for an IotHub
                    operation: Get Endpoint Health
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/iotHubs/routingEndpointsHealth/Read
                - display:
                    description: Gets the diagnostic setting for the resource
                    operation: Get Diagnostic Setting
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/ProvisioningServices/diagnosticSettings/read
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource
                    operation: Set Diagnostic Setting
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/ProvisioningServices/diagnosticSettings/write
                - display:
                    description: Gets the available metrics for the DPS service
                    operation: Read DPS service metric definitions
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/ProvisioningServices/metricDefinitions/read
                - display:
                    description: Gets the available log definitions for the DPS Service
                    operation: Read DPS service log definitions
                    provider: Microsoft Devices
                    resource: IotHubs
                  name: Microsoft.Devices/ProvisioningServices/logDefinitions/read
                - display:
                    description: Check If Provisioning Service name is available
                    operation: Check If Provisioning Service name is available
                    provider: Microsoft Devices
                    resource: ProvisioningServives
                  name: Microsoft.Devices/checkProvisioningServiceNameAvailability/Action
                - display:
                    description: Get Provisioning Service resource
                    operation: Get Provisioning Service resource
                    provider: Microsoft Devices
                    resource: ProvisioningServices
                  name: Microsoft.Devices/provisioningServices/Read
                - display:
                    description: Create Provisioning Service resource
                    operation: Create Provisioning Service resource
                    provider: Microsoft Devices
                    resource: ProvisioningServices
                  name: Microsoft.Devices/provisioningServices/Write
                - display:
                    description: Delete Provisioning Service resource
                    operation: Delete Provisioning Service resource
                    provider: Microsoft Devices
                    resource: ProvisioningServices
                  name: Microsoft.Devices/provisioningServices/Delete
                - display:
                    description: Delete Provisioning Service resource
                    operation: Delete Provisioning Service resource
                    provider: Microsoft Devices
                    resource: ProvisioningServices
                  name: Microsoft.Devices/provisioningServices/skus/Read
                - display:
                    description: get security related metadata
                    operation: get security related metadata
                    provider: Microsoft Devices
                    resource: ProvisioningServices
                  name: Microsoft.Devices/provisioningServices/listkeys/Action
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/IotHubs:
    get:
      deprecated: false
      description: Get all the IoT hubs in a subscription.
      operationId: iot_hub_resource_list_by_subscription
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the IoT hubs in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get all the IoT hubs in a subscription
      tags:
      - GET
      x-ms-examples:
        IotHubResource_ListBySubscription:
          parameters:
            api-version: 2018-12-01-preview
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                value:
                - etag: AAAAAAFD6M4=
                  id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                  location: centraluseuap
                  name: testHub
                  properties:
                    cloudToDevice:
                      defaultTtlAsIso8601: PT1H
                      feedback:
                        lockDurationAsIso8601: PT1M
                        maxDeliveryCount: 10
                        ttlAsIso8601: PT1H
                      maxDeliveryCount: 10
                    enableFileUploadNotifications: false
                    eventHubEndpoints:
                      events:
                        endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                        partitionCount: 2
                        partitionIds:
                        - "0"
                        - "1"
                        path: iot-dps-cit-hub-1
                        retentionTimeInDays: 1
                    features: None
                    hostName: iot-dps-cit-hub-1.azure-devices.net
                    ipFilterRules: []
                    messagingEndpoints:
                      fileNotifications:
                        lockDurationAsIso8601: PT1M
                        maxDeliveryCount: 10
                        ttlAsIso8601: PT1H
                    provisioningState: Succeeded
                    routing:
                      endpoints:
                        eventHubs: []
                        serviceBusQueues: []
                        serviceBusTopics: []
                        storageContainers: []
                      fallbackRoute:
                        condition: "true"
                        endpointNames:
                        - events
                        isEnabled: true
                        name: $fallback
                        source: DeviceMessages
                      routes: []
                    state: Active
                    storageEndpoints:
                      $default:
                        connectionString: ""
                        containerName: ""
                        sasTtlAsIso8601: PT1H
                  sku:
                    capacity: 1
                    name: S1
                    tier: Standard
                  tags: {}
                  type: Microsoft.Devices/IotHubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkNameAvailability:
    post:
      deprecated: false
      description: Check if an IoT hub name is available.
      operationId: iot_hub_resource_check_name_availability
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationInputs'
        description: Set the name parameter in the OperationInputs structure to the
          name of the IoT hub to check.
        required: true
        x-body-name: operationInputs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubNameAvailabilityInfo'
          description: "This is a synchronous operation. The body contains a JSON-serialized\
            \ response that specifies whether the IoT hub name is available. If the\
            \ name is not available, the body contains the reason."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Check if an IoT hub name is available
      tags:
      - POST
      x-ms-examples:
        IotHubResource_CheckNameAvailability:
          parameters:
            api-version: 2018-12-01-preview
            operationInputs:
              name: test-request
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                message: ""
                nameAvailable: true
                reason: Invalid
      x-codegen-request-body-name: operationInputs
      x-openapi-router-controller: openapi_server.controllers.post_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/usages:
    get:
      deprecated: false
      description: Get the number of free and paid iot hubs in the subscription
      operationId: resource_provider_common_get_subscription_quota
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSubscriptionQuotaListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the number of iot hubs in the subscription
      tags:
      - GET
      x-ms-examples:
        ResourceProviderCommon_GetSubscriptionQuota:
          parameters:
            api-version: 2018-12-01-preview
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                value:
                - currentValue: 1
                  id: /subscription/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/usages/freeHubCount
                  limit: 1
                  name:
                    localizedValue: Free Hub Count
                    value: FreeHubCount
                  type: /subscription/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/usages
                  unit: count
      x-openapi-router-controller: openapi_server.controllers.get_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs:
    get:
      deprecated: false
      description: Get all the IoT hubs in a resource group.
      operationId: iot_hub_resource_list_by_resource_group
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the IoT hubs in the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get all the IoT hubs in a resource group
      tags:
      - GET
      x-ms-examples:
        IotHubResource_ListByResourceGroup:
          parameters:
            api-version: 2018-12-01-preview
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                value:
                - etag: AAAAAAFD6M4=
                  id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                  location: centraluseuap
                  name: testHub
                  properties:
                    cloudToDevice:
                      defaultTtlAsIso8601: PT1H
                      feedback:
                        lockDurationAsIso8601: PT1M
                        maxDeliveryCount: 10
                        ttlAsIso8601: PT1H
                      maxDeliveryCount: 10
                    enableFileUploadNotifications: false
                    eventHubEndpoints:
                      events:
                        endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                        partitionCount: 2
                        partitionIds:
                        - "0"
                        - "1"
                        path: iot-dps-cit-hub-1
                        retentionTimeInDays: 1
                    features: None
                    hostName: iot-dps-cit-hub-1.azure-devices.net
                    ipFilterRules: []
                    messagingEndpoints:
                      fileNotifications:
                        lockDurationAsIso8601: PT1M
                        maxDeliveryCount: 10
                        ttlAsIso8601: PT1H
                    provisioningState: Succeeded
                    routing:
                      endpoints:
                        eventHubs: []
                        serviceBusQueues: []
                        serviceBusTopics: []
                        storageContainers: []
                      fallbackRoute:
                        condition: "true"
                        endpointNames:
                        - events
                        isEnabled: true
                        name: $fallback
                        source: DeviceMessages
                      routes: []
                    state: Active
                    storageEndpoints:
                      $default:
                        connectionString: ""
                        containerName: ""
                        sasTtlAsIso8601: PT1H
                  sku:
                    capacity: 1
                    name: S1
                    tier: Standard
                  tags: {}
                  type: Microsoft.Devices/IotHubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routing/routes/$testall
  : post:
      deprecated: false
      description: Test all routes configured in this Iot Hub
      operationId: iot_hub_resource_test_all_routes
      parameters:
      - description: IotHub to be tested
        in: path
        name: iotHubName
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: resource group which Iot Hub belongs to
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestAllRoutesInput'
        description: Input for testing all routes
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestAllRoutesResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Test all routes
      tags:
      - POST
      x-ms-examples:
        IotHubResource_TestAllRoutes:
          parameters:
            api-version: 2018-12-01-preview
            input:
              message:
                appProperties: App Properties
                body: Body of message
                systemProperties: System Properties
              routingSource: DeviceMessages
            iotHubName: testHub
            resourceGroupName: myResourceGroup
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                routes:
                - properties:
                    endpointNames:
                    - id1
                    isEnabled: true
                    name: Routeid
                    source: DeviceMessages
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.post_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routing/routes/$testnew
  : post:
      deprecated: false
      description: Test the new route for this Iot Hub
      operationId: iot_hub_resource_test_route
      parameters:
      - description: IotHub to be tested
        in: path
        name: iotHubName
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: resource group which Iot Hub belongs to
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestRouteInput'
        description: Route that needs to be tested
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRouteResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Test the new route
      tags:
      - POST
      x-ms-examples:
        IotHubResource_TestRoute:
          parameters:
            api-version: 2018-12-01-preview
            input:
              message:
                appProperties: App Properties
                body: Body of message
                systemProperties: System Properties
              route:
                endpointNames:
                - id1
                isEnabled: true
                name: Routeid
                source: DeviceMessages
            iotHubName: testHub
            resourceGroupName: myResourceGroup
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                details:
                  compilationErrors:
                  - location:
                      end:
                        column: 24
                        line: 12
                      start:
                        column: 12
                        line: 12
                    message: string response
                    severity: error
                result: "false"
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.post_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routingEndpointsHealth
  : get:
      deprecated: false
      description: Get the health for routing endpoints.
      operationId: iot_hub_resource_get_endpoint_health
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - in: path
        name: iotHubName
        required: true
        schema:
          type: string
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointHealthDataListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the health for routing endpoints
      tags:
      - GET
      x-ms-examples:
        IotHubResource_GetEndpointHealth:
          parameters:
            api-version: 2018-12-01-preview
            iotHubName: testHub
            resourceGroupName: myResourceGroup
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                value:
                - endpointId: id1
                  healthStatus: healthy
                - endpointId: id2
                  healthStatus: unknown
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}:
    delete:
      deprecated: false
      description: Delete an IoT hub.
      operationId: iot_hub_resource_delete
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
          description: This is returned as a response to the status polling request
            for the delete operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
          description: "The Iot Hub resource provider always returns a 202 Accepted\
            \ status code with valid Location and Retry-After headers. The resource\
            \ provider also sets the Azure-AsyncOperation header with a URL that points\
            \ to the operation resource for this operation. Subsequent GET attempts\
            \ on the resource after a DELETE operation return a resource representation\
            \ that indicates a transitional provisioning state (such as Terminating).\
            \ To retrieve the status of the operation, a client can either poll the\
            \ URL returned in the Location header after the Retry-After interval,\
            \ get the IoT Hub service status directly, or query the operation resource."
        "204":
          content: {}
          description: "Once the long running delete operation completes successfully,\
            \ a 204 No Content status code is returned when the status polling request\
            \ finds the Iot hub metadata in the service and the status of the delete\
            \ operation is set to a completed state."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: "After the long running delete operation completes successfully,\
            \ a 404 Not Found is returned when the status polling request no longer\
            \ finds the Iot hub metadata in the service."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Delete an IoT hub
      tags:
      - DELETE
      x-ms-examples:
        IotHubResource_Delete:
          parameters:
            api-version: 2018-12-01-preview
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                      - "0"
                      - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                      - events
                      isEnabled: true
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.Devices/IotHubs
            "202":
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                      - "0"
                      - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                      - events
                      isEnabled: true
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.Devices/IotHubs
            "204": {}
            "404":
              body: {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.delete_controller
    get:
      deprecated: false
      description: Get the non-security related metadata of an IoT hub.
      operationId: iot_hub_resource_get
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
          description: The body contains all the non-security properties of the IoT
            hub. Security-related properties are set to null.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the non-security related metadata of an IoT hub
      tags:
      - GET
      x-ms-examples:
        IotHubResource_Get:
          parameters:
            api-version: 2018-12-01-preview
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  deviceStreams:
                    streamingEndpoints:
                    - https://streams.azure-devices-int.net:9443
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                      - "0"
                      - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                      - events
                      isEnabled: true
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.Devices/IotHubs
      x-openapi-router-controller: openapi_server.controllers.get_controller
    patch:
      description: Update an existing IoT Hub tags. to update other fields use the
        CreateOrUpdate method
      operationId: iot_hub_resource_update
      parameters:
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group identifier.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of iot hub to update.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsResource'
        description: Updated tag information to set into the iot hub instance.
        required: true
        x-body-name: IotHubTags
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
          description: Iot Hub was successfully updated
      summary: Update an existing IoT Hubs tags.
      tags:
      - PATCH
      x-ms-examples:
        IotHubResource_Update:
          parameters:
            IotHubTags:
              tags:
                foo: bar
            api-version: 2018-12-01-preview
            location: East US
            resourceGroupName: myResourceGroup
            resourceName: myHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            type: Microsoft.Devices/IotHubs
          responses:
            "200":
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/ae24ff83-d2ca-4fc8-9717-05dae4bba489/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                      - "0"
                      - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                      - events
                      isEnabled: true
                      name: $fallback
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags:
                  foo: bar
                type: Microsoft.Devices/IotHubs
      x-ms-long-running-operation: true
      x-codegen-request-body-name: IotHubTags
      x-openapi-router-controller: openapi_server.controllers.patch_controller
    put:
      deprecated: false
      description: "Create or update the metadata of an Iot hub. The usual pattern\
        \ to modify a property is to retrieve the IoT hub metadata and security metadata,\
        \ and then combine them with the modified values in a new body to update the\
        \ IoT hub."
      operationId: iot_hub_resource_create_or_update
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the IoT Hub. Do not specify for creating a brand new
          IoT Hub. Required to update an existing IoT Hub.
        in: header
        name: If-Match
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IotHubDescription'
        description: The IoT hub metadata and security metadata.
        required: true
        x-body-name: iotHubDescription
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
          description: This is returned as a response to the status polling request
            for the create or update operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
          description: "This is a long running operation. The operation returns a\
            \ 201 if the validation is complete. The response includes an Azure-AsyncOperation\
            \ header that contains a status URL. Clients are expected to poll the\
            \ status URL for the status of the operation. If successful, the operation\
            \ returns HTTP status code of 201 (OK)."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Create or update the metadata of an IoT hub.
      tags:
      - PUT
      x-ms-examples:
        IotHubResource_CreateOrUpdate:
          parameters:
            api-version: 2018-12-01-preview
            iotHubDescription:
              etag: AAAAAAFD6M4=
              location: centraluseuap
              name: iot-dps-cit-hub-1
              properties:
                cloudToDevice:
                  defaultTtlAsIso8601: PT1H
                  feedback:
                    lockDurationAsIso8601: PT1M
                    maxDeliveryCount: 10
                    ttlAsIso8601: PT1H
                  maxDeliveryCount: 10
                enableFileUploadNotifications: false
                eventHubEndpoints:
                  events:
                    endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                    partitionCount: 2
                    partitionIds:
                    - "0"
                    - "1"
                    path: iot-dps-cit-hub-1
                    retentionTimeInDays: 1
                features: None
                hostName: iot-dps-cit-hub-1.azure-devices.net
                ipFilterRules: []
                messagingEndpoints:
                  fileNotifications:
                    lockDurationAsIso8601: PT1M
                    maxDeliveryCount: 10
                    ttlAsIso8601: PT1H
                provisioningState: Succeeded
                routing:
                  endpoints:
                    eventHubs: []
                    serviceBusQueues: []
                    serviceBusTopics: []
                    storageContainers: []
                  fallbackRoute:
                    condition: "true"
                    endpointNames:
                    - events
                    isEnabled: true
                    name: $fallback
                    source: DeviceMessages
                  routes: []
                state: Active
                storageEndpoints:
                  $default:
                    connectionString: ""
                    containerName: ""
                    sasTtlAsIso8601: PT1H
              sku:
                capacity: 1
                name: S1
                tier: Standard
              tags: {}
              type: Microsoft.Devices/IotHubs
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/ae24ff83-d2ca-4fc8-9717-05dae4bba489/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                      - "0"
                      - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                      - events
                      isEnabled: true
                      name: $fallback
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.Devices/IotHubs
            "201":
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/ae24ff83-d2ca-4fc8-9717-05dae4bba489/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                      - "0"
                      - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                      - events
                      isEnabled: true
                      name: $fallback
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.Devices/IotHubs
      x-ms-long-running-operation: true
      x-codegen-request-body-name: iotHubDescription
      x-openapi-router-controller: openapi_server.controllers.put_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubKeys/{keyName}/listkeys
  : post:
      deprecated: false
      description: "Get a shared access policy by name from an IoT hub. For more information,\
        \ see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security."
      operationId: iot_hub_resource_get_keys_for_key_name
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the shared access policy.
        in: path
        name: keyName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule'
          description: "This is a synchronous operation. The body contains a JSON-serialized\
            \ shared access policy, including keys, that you can use to access one\
            \ or more IoT hub endpoints."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: "Get a shared access policy by name from an IoT hub. For more information,\
        \ see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security"
      tags:
      - POST
      x-ms-examples:
        IotHubResource_GetKeysForKeyName:
          parameters:
            api-version: 2018-12-01-preview
            keyName: iothubowner
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                keyName: iothubowner
                primaryKey: 2aWPrKloLLdcug12ZHNpA0e07yJmRRmYMXDLpEOTd/Y=
                rights: "RegistryWrite, ServiceConnect, DeviceConnect"
                secondaryKey: DLyFnDTGMDK0BU2QjT5TCkNBQ4h08mi20vOqWMC7TxU=
      x-openapi-router-controller: openapi_server.controllers.post_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubStats
  : get:
      deprecated: false
      description: Get the statistics from an IoT hub.
      operationId: iot_hub_resource_get_stats
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryStatistics'
          description: This is a synchronous operation. The body contains JSON-serialized
            statistics from the identity registry in the IoT hub.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the statistics from an IoT hub
      tags:
      - GET
      x-ms-examples:
        IotHubResource_GetStats:
          parameters:
            api-version: 2018-04-01
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                disabledDeviceCount: 0
                enabledDeviceCount: 0
                totalDeviceCount: 0
      x-openapi-router-controller: openapi_server.controllers.get_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates
  : get:
      deprecated: false
      description: Returns the list of certificates.
      operationId: certificates_list_by_iot_hub
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateListDescription'
          description: The body contains all the certificate list.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the certificate list.
      tags:
      - Certificates
      x-ms-examples:
        Certificates_ListByIotHub:
          parameters:
            api-version: 2018-12-01-preview
            resourceGroupName: myResourceGroup
            resourceName: testhub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                value:
                - etag: AAAAAAExpNs=
                  id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/andbuc-hub/certificates/cert
                  name: cert
                  properties:
                    created: "Thu, 12 Oct 2017 19:23:50 GMT"
                    expiry: "Sat, 31 Dec 2039 23:59:59 GMT"
                    isVerified: false
                    subject: CN=testdevice1
                    thumbprint: 97388663832D0393C9246CAB4FBA2C8677185A25
                    updated: "Thu, 12 Oct 2017 19:23:50 GMT"
                  type: Microsoft.Devices/IotHubs/Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}
  : delete:
      deprecated: false
      description: Deletes an existing X509 certificate or does nothing if it does
        not exist.
      operationId: certificates_delete
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the certificate
        in: path
        name: certificate_name
        required: true
        schema:
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Certificate.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Certificate has been deleted.
        "204":
          content: {}
          description: Certificate does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Delete an X509 certificate.
      tags:
      - Certificates
      x-ms-examples:
        Certificates_Delete:
          parameters:
            If-Match: AAAAAAAADGk=
            api-version: 2018-12-01-preview
            certificateName: cert
            resourceGroupName: myResourceGroup
            resourceName: myhub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    get:
      deprecated: false
      description: Returns the certificate.
      operationId: certificates_get
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the certificate
        in: path
        name: certificateName
        required: true
        schema:
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateDescription'
          description: The body contains the certificate.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the certificate.
      tags:
      - Certificates
      x-ms-examples:
        Certificates_Get:
          parameters:
            api-version: 2018-12-01-preview
            certificateName: cert
            resourceGroupName: myResourceGroup
            resourceName: testhub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                etag: AAAAAAExpNs=
                id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/andbuc-hub/certificates/cert
                name: cert
                properties:
                  created: "Thu, 12 Oct 2017 19:23:50 GMT"
                  expiry: "Sat, 31 Dec 2039 23:59:59 GMT"
                  isVerified: false
                  subject: CN=testdevice1
                  thumbprint: 97388663832D0393C9246CAB4FBA2C8677185A25
                  updated: "Thu, 12 Oct 2017 19:23:50 GMT"
                type: Microsoft.Devices/IotHubs/Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    put:
      deprecated: false
      description: Adds new or replaces existing certificate.
      operationId: certificates_create_or_update
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the certificate
        in: path
        name: certificate_name
        required: true
        schema:
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Certificate. Do not specify for creating a brand
          new certificate. Required to update an existing certificate.
        in: header
        name: If-Match
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateBodyDescription'
        description: The certificate body.
        required: true
        x-body-name: certificateDescription
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateDescription'
          description: "If certificate already exist and update was successful, the\
            \ operation returns HTTP status code of 201 (OK)."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateDescription'
          description: "If certificate didn't exist creation was successful, the operation\
            \ returns HTTP status code of 201 (OK)."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Upload the certificate to the IoT hub.
      tags:
      - Certificates
      x-ms-examples:
        Certificates_CreateOrUpdate:
          parameters:
            api-version: 2018-12-01-preview
            certificateDescription:
              certificate: '############################################'
            certificateName: cert
            resourceGroupName: myResourceGroup
            resourceName: iothub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                etag: AAAAAAExpNs=
                id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/ProvisioningServives/myFirstProvisioningService/certificates/cert
                name: cert
                properties:
                  created: "Thu, 12 Oct 2017 19:23:50 GMT"
                  expiry: "Sat, 31 Dec 2039 23:59:59 GMT"
                  isVerified: false
                  subject: CN=testdevice1
                  thumbprint: 97388663832D0393C9246CAB4FBA2C8677185A25
                  updated: "Thu, 12 Oct 2017 19:23:50 GMT"
                type: Microsoft.Devices/IotHubs/Certificates
            "201":
              body:
                etag: AAAAAAExpNs=
                id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/ProvisioningServives/myFirstProvisioningService/certificates/cert
                name: cert
                properties:
                  created: "Thu, 12 Oct 2017 19:23:50 GMT"
                  expiry: "Sat, 31 Dec 2039 23:59:59 GMT"
                  isVerified: false
                  subject: CN=testdevice1
                  thumbprint: 97388663832D0393C9246CAB4FBA2C8677185A25
                  updated: "Thu, 12 Oct 2017 19:23:50 GMT"
                type: Microsoft.Devices/IotHubs/Certificates
      x-codegen-request-body-name: certificateDescription
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/generateVerificationCode
  : post:
      deprecated: false
      description: Generates verification code for proof of possession flow. The verification
        code will be used to generate a leaf certificate.
      operationId: certificates_generate_verification_code
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the certificate
        in: path
        name: certificate_name
        required: true
        schema:
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Certificate.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateWithNonceDescription'
          description: The body contains the certificate.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Generate verification code for proof of possession flow.
      tags:
      - Certificates
      x-ms-examples:
        Certificates_GenerateVerificationCode:
          parameters:
            If-Match: AAAAAAAADGk=
            api-version: 2018-12-01-preview
            certificateName: cert
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                name: cert
                properties:
                  created: "Thu, 12 Oct 2017 19:23:50 GMT"
                  expiry: "Sat, 31 Dec 2039 23:59:59 GMT"
                  isVerified: false
                  subject: CN=andbucdevice1
                  thumbprint: '##############################'
                  updated: "Thu, 12 Oct 2017 19:26:56 GMT"
                  verificationCode: '##################################'
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/verify
  : post:
      deprecated: false
      description: Verifies the certificate's private key possession by providing
        the leaf cert issued by the verifying pre uploaded certificate.
      operationId: certificates_verify
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the certificate
        in: path
        name: certificate_name
        required: true
        schema:
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Certificate.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateVerificationDescription'
        description: The name of the certificate
        required: true
        x-body-name: certificateVerificationBody
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateDescription'
          description: The body contains the certificate.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Verify certificate's private key possession.
      tags:
      - Certificates
      x-ms-examples:
        Certificates_Verify:
          parameters:
            If-Match: AAAAAAAADGk=
            api-version: 2018-12-01-preview
            certificateName: cert
            certificateVerificationBody:
              certificate: '#####################################'
            resourceGroupName: myResourceGroup
            resourceName: myFirstProvisioningService
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                etag: AAAAAAExpTQ=
                id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/ProvisioningServices/myFirstProvisioningService/certificates/cert
                name: cert
                properties:
                  created: "Thu, 12 Oct 2017 19:23:50 GMT"
                  expiry: "Sat, 31 Dec 2039 23:59:59 GMT"
                  isVerified: true
                  subject: CN=andbucdevice1
                  thumbprint: 97388663832D0393C9246CAB4FBA2C8677185A25
                  updated: "Thu, 12 Oct 2017 19:26:56 GMT"
                type: Microsoft.Devices/IotHubs/Certificates
      x-codegen-request-body-name: certificateVerificationBody
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups
  : get:
      deprecated: false
      description: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud
        endpoint in an IoT hub.
      operationId: iot_hub_resource_list_event_hub_consumer_groups
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Event Hub-compatible endpoint.
        in: path
        name: eventHubEndpointName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupsListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            list of the consumer groups in the Event Hub-compatible endpoint in this
            IoT hub
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud
        endpoint in an IoT hub
      tags:
      - GET
      x-ms-examples:
        IotHubResource_ListEventHubConsumerGroups:
          parameters:
            api-version: 2018-12-01-preview
            eventHubEndpointName: events
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                value:
                - etag: AAAAAAFD6M4=
                  id: /subscriptions/cmd-sub-1/resourceGroups/cmd-rg-1/providers/Microsoft.Devices/IotHubs/test-hub-2/eventHubEndpoints/events/ConsumerGroups/%24Default
                  name: $Default
                  properties:
                    created: "Thu, 15 Jun 2017 19:20:58 GMT"
                  type: Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups/{name}
  : delete:
      deprecated: false
      description: Delete a consumer group from an Event Hub-compatible endpoint in
        an IoT hub.
      operationId: iot_hub_resource_delete_event_hub_consumer_group
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Event Hub-compatible endpoint in the IoT hub.
        in: path
        name: eventHubEndpointName
        required: true
        schema:
          type: string
      - description: The name of the consumer group to delete.
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: This is a synchronous operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Delete a consumer group from an Event Hub-compatible endpoint in an
        IoT hub
      tags:
      - DELETE
      x-ms-examples:
        IotHubResource_DeleteEventHubConsumerGroup:
          parameters:
            api-version: 2018-12-01-preview
            eventHubEndpointName: events
            name: test
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.delete_controller
    get:
      deprecated: false
      description: Get a consumer group from the Event Hub-compatible device-to-cloud
        endpoint for an IoT hub.
      operationId: iot_hub_resource_get_event_hub_consumer_group
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Event Hub-compatible endpoint in the IoT hub.
        in: path
        name: eventHubEndpointName
        required: true
        schema:
          type: string
      - description: The name of the consumer group to retrieve.
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupInfo'
          description: This is a synchronous operation. The body contains a JSON-serialized
            consumer group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get a consumer group from the Event Hub-compatible device-to-cloud
        endpoint for an IoT hub
      tags:
      - GET
      x-ms-examples:
        IotHubResource_ListEventHubConsumerGroups:
          parameters:
            api-version: 2018-12-01-preview
            eventHubEndpointName: events
            name: test
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/cmd-sub-1/resourceGroups/cmd-rg-1/providers/Microsoft.Devices/IotHubs/test-hub-2/eventHubEndpoints/events/ConsumerGroups/%24Default
                name: test
                properties:
                  created: "Thu, 15 Jun 2017 19:20:58 GMT"
                type: Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups
      x-openapi-router-controller: openapi_server.controllers.get_controller
    put:
      deprecated: false
      description: Add a consumer group to an Event Hub-compatible endpoint in an
        IoT hub.
      operationId: iot_hub_resource_create_event_hub_consumer_group
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Event Hub-compatible endpoint in the IoT hub.
        in: path
        name: eventHubEndpointName
        required: true
        schema:
          type: string
      - description: The name of the consumer group to add.
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupInfo'
          description: This is a synchronous operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Add a consumer group to an Event Hub-compatible endpoint in an IoT
        hub
      tags:
      - PUT
      x-ms-examples:
        IotHubResource_CreateEventHubConsumerGroup:
          parameters:
            api-version: 2018-12-01-preview
            eventHubEndpointName: events
            name: test
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/cmd-sub-1/resourceGroups/cmd-rg-1/providers/Microsoft.Devices/IotHubs/test-hub-2/eventHubEndpoints/events/ConsumerGroups/%24Default
                name: test
                properties:
                  created: "Thu, 15 Jun 2017 19:20:58 GMT"
                type: Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups
      x-openapi-router-controller: openapi_server.controllers.put_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/exportDevices
  : post:
      deprecated: false
      description: "Exports all the device identities in the IoT hub identity registry\
        \ to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities."
      operationId: iot_hub_resource_export_devices
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportDevicesRequest'
        description: The parameters that specify the export devices operation.
        required: true
        x-body-name: exportDevicesParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: "Exports all the device identities in the IoT hub identity registry\
        \ to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities"
      tags:
      - POST
      x-ms-examples:
        IotHubResource_ExportDevices:
          parameters:
            api-version: 2018-12-01-preview
            exportDevicesParameters:
              excludeKeys: true
              exportBlobContainerUri: testBlob
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            "200":
              body:
                endTimeUtc: "Thu, 15 Jun 2017 19:20:58 GMT"
                jobId: test
                startTimeUtc: "Thu, 15 Jun 2017 19:20:58 GMT"
                status: unknown
                type: unknown
      x-codegen-request-body-name: exportDevicesParameters
      x-openapi-router-controller: openapi_server.controllers.post_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/importDevices
  : post:
      deprecated: false
      description: "Import, update, or delete device identities in the IoT hub identity\
[...]
