openapi: 3.0.1
info:
  description: REST API for Azure SignalR Service
  title: SignalRManagementClient
  version: 2018-10-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/signalr/resource-manager/Microsoft.SignalRService/stable/2018-10-01/signalr.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: signalr
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.SignalRService/operations:
    get:
      description: Lists all of the available REST API operations of the Microsoft.SignalRService
        provider.
      operationId: Operations_List
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: Success. The response describes the list of operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2018-10-01
          responses:
            "200":
              body:
                nextLink: "providers/Microsoft.SignalRService?$skipToken={opaqueString}"
                value:
                - display:
                    description: View the SignalR's settings and configurations in
                      the management portal or through API
                    operation: Manage SignalR (read-only)
                    provider: Microsoft.SignalRService
                    resource: SignalR
                  name: Microsoft.SignalRService/SignalR/read
                  properties: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/SignalR:
    get:
      description: Handles requests to list all resources in a subscription.
      operationId: SignalR_ListBySubscription
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription Id which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResourceList'
          description: Success. The response describes the list of SignalR services
            in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        SignalR_ListBySubscription:
          parameters:
            api-version: 2018-10-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.SignalRService/SignalR/mySignalRService
                  location: eastus
                  name: mySignalRService
                  properties:
                    cors:
                      allowedOrigins:
                      - https://foo.com
                      - https://bar.com
                    externalIP: 10.0.0.1
                    features:
                    - flag: ServiceMode
                      properties: {}
                      value: Serverless
                    hostName: mysignalrservice.service.signalr.net
                    provisioningState: Succeeded
                    publicPort: 443
                    serverPort: 443
                    version: "1.0"
                  sku:
                    capacity: 1
                    name: Standard_S1
                    size: S1
                    tier: Standard
                  tags:
                    key1: value1
                  type: Microsoft.SignalRService/SignalR
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/checkNameAvailability:
    post:
      description: Checks that the SignalR name is valid and is not already in use.
      operationId: SignalR_CheckNameAvailability
      parameters:
      - description: the region
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription Id which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameAvailabilityParameters'
        description: Parameters supplied to the operation.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailability'
          description: Success. The response describes the name availability.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        SignalR_CheckNameAvailability:
          parameters:
            api-version: 2018-10-01
            location: eastus
            parameters:
              name: my-signalr-service
              type: Microsoft.SignalRService/SignalR
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                message: The leaf is already used by other people
                nameAvailable: false
                reason: AlreadyExists
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/usages:
    get:
      description: List usage quotas for Azure SignalR service by location.
      operationId: Usages_List
      parameters:
      - description: the location like "eastus"
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription Id which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRUsageList'
          description: Success. The response describe the usage quotas of a subscription
            in specified region.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        Usages_List:
          parameters:
            api-version: 2018-10-01
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToMoreResults...
                value:
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/Usage1
                  limit: 100
                  name:
                    localizedValue: Usage1
                    value: Usage1
                  unit: Count
                - currentValue: 0
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/Usage2
                  limit: 100
                  name:
                    localizedValue: Usage2
                    value: Usage2
                  unit: Count
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR:
    get:
      description: Handles requests to list all resources in a resource group.
      operationId: SignalR_ListByResourceGroup
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription Id which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResourceList'
          description: Success. The response describes the list of SignalR services
            in a resourceGroup.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        SignalR_ListByResourceGroup:
          parameters:
            api-version: 2018-10-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.SignalRService/SignalR/mySignalRService
                  location: eastus
                  name: mySignalRService
                  properties:
                    cors:
                      allowedOrigins:
                      - https://foo.com
                      - https://bar.com
                    externalIP: 10.0.0.1
                    features:
                    - flag: ServiceMode
                      properties: {}
                      value: Serverless
                    hostName: mysignalrservice.service.signalr.net
                    provisioningState: Succeeded
                    publicPort: 443
                    serverPort: 443
                    version: "1.0"
                  sku:
                    capacity: 1
                    name: Standard_S1
                    size: S1
                    tier: Standard
                  tags:
                    key1: value1
                  type: Microsoft.SignalRService/SignalR
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR/{resourceName}/listKeys
  : post:
      description: Get the access keys of the SignalR resource.
      operationId: SignalR_ListKeys
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription Id which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the SignalR resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRKeys'
          description: Success. The response describes SignalR service access keys.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        SignalR_ListKeys:
          parameters:
            api-version: 2018-10-01
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                primaryConnectionString: Endpoint=https://yourServiceName.service.signalr.net;AccessKey=primaryAccessKey;Version=1.0
                primaryKey: primaryAccessKey
                secondaryConnectionString: Endpoint=https://yourServiceName.service.signalr.net;AccessKey=secondaryAccessKey;Version=1.0
                secondaryKey: secondaryAccessKey
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR/{resourceName}/regenerateKey
  : post:
      description: Regenerate SignalR service access key. PrimaryKey and SecondaryKey
        cannot be regenerated at the same time.
      operationId: SignalR_RegenerateKey
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription Id which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the SignalR resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateKeyParameters'
        description: Parameter that describes the Regenerate Key Operation.
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRKeys'
          description: Created and an async operation is executing in background to
            make the new key to take effect. The response contains new keys and a
            Location header to query the async operation result.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        SignalR_RegenerateKey:
          parameters:
            api-version: 2018-10-01
            parameters:
              keyType: Primary
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                primaryConnectionString: Endpoint=https://yourServiceName.service.signalr.net;AccessKey=primaryAccessKey;Version=1.0;
                primaryKey: primaryAccessKey
                secondaryConnectionString: Endpoint=https://yourServiceName.service.signalr.net;AccessKey=secondaryAccessKey;Version=1.0;
                secondaryKey: secondaryAccessKey
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}:
    delete:
      description: Operation to delete a SignalR service.
      operationId: SignalR_Delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription Id which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the SignalR resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "202":
          content: {}
          description: Accepted. The response indicates the delete operation is performed
            in the background.
        "204":
          content: {}
          description: Success. The response indicates the resource is already deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        SignalR_Delete:
          parameters:
            api-version: 2018-10-01
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get the SignalR service and its properties.
      operationId: SignalR_Get
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription Id which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the SignalR resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResource'
          description: Success. The response describes the corresponding SignalR service.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        SignalR_Get:
          parameters:
            api-version: 2018-10-01
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.SignalRService/SignalR/mySignalRService
                location: eastus
                name: mySignalRService
                properties:
                  cors:
                    allowedOrigins:
                    - https://foo.com
                    - https://bar.com
                  externalIP: 10.0.0.1
                  features:
                  - flag: ServiceMode
                    properties: {}
                    value: Serverless
                  hostName: mysignalrservice.service.signalr.net
                  provisioningState: Succeeded
                  publicPort: 443
                  serverPort: 443
                  version: "1.0"
                sku:
                  capacity: 1
                  name: Standard_S1
                  size: S1
                  tier: Standard
                tags:
                  key1: value1
                type: Microsoft.SignalRService/SignalR
      x-accepts:
      - application/json
    patch:
      description: Operation to update an exiting SignalR service.
      operationId: SignalR_Update
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription Id which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the SignalR resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalRUpdateParameters'
        description: Parameters for the update operation
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResource'
          description: Success. The response describes a SignalR service.
        "202":
          content: {}
          description: Accepted. The response indicates the exiting SignalR service
            is now updating  and contains a Location header to query the operation
            result..
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        SignalR_Update:
          parameters:
            api-version: 2018-10-01
            parameters:
              properties:
                cors:
                  allowedOrigins:
                  - https://foo.com
                  - https://bar.com
                features:
                - flag: ServiceMode
                  properties: {}
                  value: Serverless
              sku:
                capacity: 1
                name: Standard_S1
                tier: Standard
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.SignalRService/SignalR/mySignalRService
                location: eastus
                name: mySignalRService
                properties:
                  cors:
                    allowedOrigins:
                    - https://foo.com
                    - https://bar.com
                  externalIP: 10.0.0.1
                  features:
                  - flag: ServiceMode
                    properties: {}
                    value: Serverless
                  hostName: mysignalrservice.service.signalr.net
                  provisioningState: Succeeded
                  publicPort: 443
                  serverPort: 443
                  version: "1.0"
                sku:
                  capacity: 1
                  name: Standard_S1
                  size: S1
                  tier: Standard
                tags:
                  key1: value1
                type: Microsoft.SignalRService/SignalR
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create a new SignalR service and update an exiting SignalR service.
      operationId: SignalR_CreateOrUpdate
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription Id which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the SignalR resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalRCreateParameters'
        description: Parameters for the create or update operation
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResource'
          description: Success. The response describes a SignalR service.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRResource'
          description: Created. The response describes the new service and contains
            a Location header to query the operation result.
        "202":
          content: {}
          description: Accepted. The response indicates the exiting SignalR service
            is now updating and contains a Location header to query the operation
            result..
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        SignalR_CreateOrUpdate:
          parameters:
            api-version: 2018-10-01
            parameters:
              location: eastus
              properties:
                cors:
                  allowedOrigins:
                  - https://foo.com
                  - https://bar.com
                features:
                - flag: ServiceMode
                  properties: {}
                  value: Serverless
              sku:
                capacity: 1
                name: Standard_S1
                tier: Standard
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.SignalRService/SignalR/mySignalRService
                location: eastus
                name: mySignalRService
                properties:
                  cors:
                    allowedOrigins:
                    - https://foo.com
                    - https://bar.com
                  externalIP: 10.0.0.1
                  features:
                  - flag: ServiceMode
                    properties: {}
                    value: Serverless
                  hostName: mysignalrservice.service.signalr.net
                  provisioningState: Succeeded
                  publicPort: 443
                  serverPort: 443
                  version: "1.0"
                sku:
                  capacity: 1
                  name: Standard_S1
                  size: S1
                  tier: Standard
                tags:
                  key1: value1
                type: Microsoft.SignalRService/SignalR
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.SignalRService/SignalR/mySignalRService
                location: eastus
                name: mySignalRService
                properties:
                  cors:
                    allowedOrigins:
                    - https://foo.com
                    - https://bar.com
                  externalIP: 10.0.0.1
                  features:
                  - flag: ServiceMode
                    properties: {}
                    value: Serverless
                  hostName: mysignalrservice.service.signalr.net
                  provisioningState: Succeeded
                  publicPort: 443
                  serverPort: 443
                  version: "1.0"
                sku:
                  capacity: 1
                  name: Standard_S1
                  size: S1
                  tier: Standard
                tags:
                  key1: value1
                type: Microsoft.SignalRService/SignalR
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/restart
  : post:
      description: Operation to restart a SignalR service.
      operationId: SignalR_Restart
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription Id which uniquely identify the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the SignalR resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "202":
          content: {}
          description: Accepted. The response indicates the restart operation is performed
            in the background.
        "204":
          content: {}
          description: Success. The response indicates the operation is successful
            and no content will be returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An unexpected error occurred during the operation.
      tags:
      - SignalR
      x-ms-examples:
        SignalR_Restart:
          parameters:
            api-version: 2018-10-01
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SignalRServiceName:
      description: The name of the SignalR resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Gets subscription Id which uniquely identify the Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Dimension:
      description: Specifications of the Dimension of metrics.
      example:
        internalName: internalName
        displayName: displayName
        name: name
        toBeExportedForShoebox: true
      properties:
        displayName:
          description: Localized friendly display name of the dimension.
          type: string
        internalName:
          description: Name of the dimension as it appears in MDM.
          type: string
        name:
          description: The public facing name of the dimension.
          type: string
        toBeExportedForShoebox:
          description: A Boolean flag indicating whether this dimension should be
            included for the shoebox export scenario.
          type: boolean
      type: object
    ErrorResponse:
      description: Contains information about an API error.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseBody'
      type: object
    ErrorResponseBody:
      description: Describes a particular API error with an error code and a message.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: "An error code that describes the error condition more precisely\
            \ than an HTTP status code. \r\nCan be used to programmatically handle\
            \ specific error cases."
          type: string
        details:
          description: Contains nested errors that are related to this error.
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
          type: array
        message:
          description: A message that describes the error in detail and provides debugging
            information.
          type: string
        target:
          description: "The target of the particular error (for example, the name\
            \ of the property in error)."
          type: string
      required:
      - code
      - message
      type: object
    LogSpecification:
      description: Specifications of the Logs for Azure Monitoring.
      example:
        displayName: displayName
        name: name
      properties:
        displayName:
          description: Localized friendly display name of the log.
          type: string
        name:
          description: Name of the log.
          type: string
      type: object
    MetricSpecification:
      description: Specifications of the Metrics for Azure Monitoring.
      example:
        displayDescription: displayDescription
        aggregationType: aggregationType
        unit: unit
        displayName: displayName
        fillGapWithZero: fillGapWithZero
        name: name
        category: category
        dimensions:
        - internalName: internalName
          displayName: displayName
          name: name
          toBeExportedForShoebox: true
        - internalName: internalName
          displayName: displayName
          name: name
          toBeExportedForShoebox: true
      properties:
        aggregationType:
          description: "Only provide one value for this field. Valid values: Average,\
            \ Minimum, Maximum, Total, Count."
          type: string
        category:
          description: The name of the metric category that the metric belongs to.
            A metric can only belong to a single category.
          type: string
        dimensions:
          description: The dimensions of the metrics.
          items:
            $ref: '#/components/schemas/Dimension'
          type: array
        displayDescription:
          description: Localized friendly description of the metric.
          type: string
        displayName:
          description: Localized friendly display name of the metric.
          type: string
        fillGapWithZero:
          description: "Optional. If set to true, then zero will be returned for time\
            \ duration where no metric is emitted/published. \r\nEx. a metric that\
            \ returns the number of times a particular error code was emitted. The\
            \ error code may not appear \r\noften, instead of the RP publishing 0,\
            \ Shoebox can auto fill in 0s for time periods where nothing was emitted."
          type: string
        name:
          description: Name of the metric.
          type: string
        unit:
          description: The unit that makes sense for the metric.
          type: string
      type: object
    NameAvailability:
      description: Result of the request to check name availability. It contains a
        flag and possible reason of failure.
      example:
        reason: reason
        nameAvailable: true
        message: message
      properties:
        message:
          description: The message of the operation.
          type: string
        nameAvailable:
          description: Indicates whether the name is available or not.
          type: boolean
        reason:
          description: The reason of the availability. Required if name is not available.
          type: string
      type: object
    NameAvailabilityParameters:
      description: Data POST-ed to the nameAvailability action
      example:
        name: name
        type: type
      properties:
        name:
          description: The SignalR service name to validate. e.g."my-signalR-name-here"
          type: string
        type:
          description: The resource type. Should be always "Microsoft.SignalRService/SignalR".
          type: string
      required:
      - name
      - type
      type: object
    Operation:
      description: REST API operation supported by SignalR resource provider.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
        properties:
          serviceSpecification:
            logSpecifications:
            - displayName: displayName
              name: name
            - displayName: displayName
              name: name
            metricSpecifications:
            - displayDescription: displayDescription
              aggregationType: aggregationType
              unit: unit
              displayName: displayName
              fillGapWithZero: fillGapWithZero
              name: name
              category: category
              dimensions:
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
            - displayDescription: displayDescription
              aggregationType: aggregationType
              unit: unit
              displayName: displayName
              fillGapWithZero: fillGapWithZero
              name: name
              category: category
              dimensions:
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: "Name of the operation with format: {provider}/{resource}/{operation}"
          type: string
        origin:
          description: Optional. The intended executor of the operation; governs the
            display of the operation in the RBAC UX and the audit logs UX.
          type: string
        properties:
          $ref: '#/components/schemas/OperationProperties'
      type: object
    OperationDisplay:
      description: The object that describes a operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The localized friendly description for the operation
          type: string
        operation:
          description: The localized friendly name for the operation.
          type: string
        provider:
          description: Friendly name of the resource provider
          type: string
        resource:
          description: Resource type on which the operation is performed.
          type: string
      type: object
    OperationList:
      description: Result of the request to list REST API operations. It contains
        a list of operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
          properties:
            serviceSpecification:
              logSpecifications:
              - displayName: displayName
                name: name
              - displayName: displayName
                name: name
              metricSpecifications:
              - displayDescription: displayDescription
                aggregationType: aggregationType
                unit: unit
                displayName: displayName
                fillGapWithZero: fillGapWithZero
                name: name
                category: category
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
              - displayDescription: displayDescription
                aggregationType: aggregationType
                unit: unit
                displayName: displayName
                fillGapWithZero: fillGapWithZero
                name: name
                category: category
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
          properties:
            serviceSpecification:
              logSpecifications:
              - displayName: displayName
                name: name
              - displayName: displayName
                name: name
              metricSpecifications:
              - displayDescription: displayDescription
                aggregationType: aggregationType
                unit: unit
                displayName: displayName
                fillGapWithZero: fillGapWithZero
                name: name
                category: category
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
              - displayDescription: displayDescription
                aggregationType: aggregationType
                unit: unit
                displayName: displayName
                fillGapWithZero: fillGapWithZero
                name: name
                category: category
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
        nextLink: nextLink
      properties:
        nextLink:
          description: "The URL the client should use to fetch the next page (per\
            \ server side paging).\r\nIt's null for now, added for future use."
          type: string
        value:
          description: List of operations supported by the resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    OperationProperties:
      description: Extra Operation properties.
      example:
        serviceSpecification:
          logSpecifications:
          - displayName: displayName
            name: name
          - displayName: displayName
            name: name
          metricSpecifications:
          - displayDescription: displayDescription
            aggregationType: aggregationType
            unit: unit
            displayName: displayName
            fillGapWithZero: fillGapWithZero
            name: name
            category: category
            dimensions:
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
          - displayDescription: displayDescription
            aggregationType: aggregationType
            unit: unit
            displayName: displayName
            fillGapWithZero: fillGapWithZero
            name: name
            category: category
            dimensions:
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecification'
      type: object
    RegenerateKeyParameters:
      description: Parameters describes the request to regenerate access keys
      example:
        keyType: Primary
      properties:
        keyType:
          description: The keyType to regenerate. Must be either 'primary' or 'secondary'(case-insensitive).
          enum:
          - Primary
          - Secondary
          type: string
          x-ms-enum:
            modelAsString: true
            name: KeyType
      type: object
    Resource:
      description: The core properties of ARM resources.
      properties:
        id:
          description: Fully qualified resource Id for the resource.
          readOnly: true
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        type:
          description: The type of the service - e.g. "Microsoft.SignalRService/SignalR"
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ResourceSku:
      description: The billing information of the SignalR resource.
      example:
        size: size
        tier: Free
        name: name
        family: family
        capacity: 1
      properties:
        capacity:
          description: "Optional, integer. The unit count of SignalR resource. 1 by\
            \ default.\r\n\r\nIf present, following values are allowed:\r\n    Free:\
            \ 1\r\n    Standard: 1,2,5,10,20,50,100"
          format: int32
          type: integer
        family:
          description: Optional string. For future use.
          type: string
        name:
          description: "The name of the SKU. Required.\r\n\r\nAllowed values: Standard_S1,\
            \ Free_F1"
          type: string
        size:
          description: Optional string. For future use.
          type: string
        tier:
          description: "Optional tier of this particular SKU. 'Standard' or 'Free'.\
            \ \r\n\r\n`Basic` is deprecated, use `Standard` instead."
          enum:
          - Free
          - Basic
          - Standard
          - Premium
          type: string
          x-ms-enum:
            modelAsString: true
            name: SignalRSkuTier
      required:
      - name
      type: object
    ServiceSpecification:
      description: An object that describes a specification.
      example:
        logSpecifications:
        - displayName: displayName
          name: name
        - displayName: displayName
          name: name
        metricSpecifications:
        - displayDescription: displayDescription
          aggregationType: aggregationType
          unit: unit
          displayName: displayName
          fillGapWithZero: fillGapWithZero
          name: name
          category: category
          dimensions:
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
        - displayDescription: displayDescription
          aggregationType: aggregationType
          unit: unit
          displayName: displayName
          fillGapWithZero: fillGapWithZero
          name: name
          category: category
          dimensions:
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
      properties:
        logSpecifications:
          description: Specifications of the Logs for Azure Monitoring.
          items:
            $ref: '#/components/schemas/LogSpecification'
          type: array
        metricSpecifications:
          description: Specifications of the Metrics for Azure Monitoring.
          items:
            $ref: '#/components/schemas/MetricSpecification'
          type: array
      type: object
    SignalRCorsSettings:
      description: Cross-Origin Resource Sharing (CORS) settings.
      example:
        allowedOrigins:
        - allowedOrigins
        - allowedOrigins
      properties:
        allowedOrigins:
          description: "Gets or sets the list of origins that should be allowed to\
            \ make cross-origin calls (for example: http://example.com:12345). Use\
            \ \"*\" to allow all. If omitted, allow all by default."
          items:
            type: string
          type: array
      type: object
    SignalRCreateOrUpdateProperties:
      description: Settings used to provision or configure the resource.
      example:
        hostNamePrefix: hostNamePrefix
        features:
        - flag: ServiceMode
          value: value
          properties:
            key: properties
        - flag: ServiceMode
          value: value
          properties:
            key: properties
        cors:
          allowedOrigins:
          - allowedOrigins
          - allowedOrigins
      properties:
        cors:
          $ref: '#/components/schemas/SignalRCorsSettings'
        features:
          description: "List of SignalR featureFlags. e.g. ServiceMode.\r\n\r\nFeatureFlags\
            \ that are not included in the parameters for the update operation will\
            \ not be modified.\r\nAnd the response will only include featureFlags\
            \ that are explicitly set. \r\nWhen a featureFlag is not explicitly set,\
            \ SignalR service will use its globally default value. \r\nBut keep in\
            \ mind, the default value doesn't mean \"false\". It varies in terms of\
            \ different FeatureFlags."
          items:
            $ref: '#/components/schemas/SignalRFeature'
          type: array
        hostNamePrefix:
          description: "Prefix for the hostName of the SignalR service. Retained for\
            \ future use.\r\nThe hostname will be of format: &lt;hostNamePrefix&gt;.service.signalr.net."
          type: string
      type: object
    SignalRCreateParameters:
      allOf:
      - $ref: '#/components/schemas/SignalRUpdateParameters'
      description: "Parameters for SignalR service create/update operation.\r\n\r\n\
        Keep the same schema as AzSignalR.Models.SignalRResource"
      example:
        location: location
      properties:
        location:
          description: "Azure GEO region: e.g. West US | East US | North Central US\
            \ | South Central US | West Europe | North Europe | East Asia | Southeast\
            \ Asia | etc. \r\nThe geo region of a resource never changes after it\
            \ is created."
          type: string
      required:
      - location
    SignalRFeature:
      description: "Feature of a SignalR resource, which controls the SignalR runtime\
        \ behavior."
      example:
        flag: ServiceMode
        value: value
        properties:
          key: properties
      properties:
        flag:
          description: "FeatureFlags is the supported features of Azure SignalR service.\r\
            \n- ServiceMode: Flag for backend server for SignalR service. Values allowed:\
            \ \"Default\": have your own backend server; \"Serverless\": your application\
            \ doesn't have a backend server; \"Classic\": for backward compatibility.\
            \ Support both Default and Serverless mode but not recommended; \"PredefinedOnly\"\
            : for future use.\r\n- EnableConnectivityLogs: \"true\"/\"false\", to\
            \ enable/disable the connectivity log category respectively."
          enum:
          - ServiceMode
          - EnableConnectivityLogs
          type: string
          x-ms-enum:
            modelAsString: true
            name: FeatureFlags
        properties:
          additionalProperties:
            type: string
          description: Optional properties related to this feature.
          type: object
        value:
          description: Value of the feature flag. See Azure SignalR service document
            https://docs.microsoft.com/azure/azure-signalr/ for allowed values.
          maxLength: 128
          minLength: 1
          type: string
      required:
      - flag
      - value
      type: object
    SignalRKeys:
      description: A class represents the access keys of SignalR service.
      example:
        secondaryKey: secondaryKey
        primaryConnectionString: primaryConnectionString
        secondaryConnectionString: secondaryConnectionString
        primaryKey: primaryKey
      properties:
        primaryConnectionString:
          description: SignalR connection string constructed via the primaryKey
          type: string
        primaryKey:
          description: The primary access key.
          type: string
        secondaryConnectionString:
          description: SignalR connection string constructed via the secondaryKey
          type: string
        secondaryKey:
          description: The secondary access key.
          type: string
      type: object
    SignalRProperties:
      allOf:
      - $ref: '#/components/schemas/SignalRCreateOrUpdateProperties'
      description: A class that describes the properties of the SignalR service that
        should contain more read-only properties than AzSignalR.Models.SignalRCreateOrUpdateProperties
      example:
        hostName: hostName
        publicPort: 0
        provisioningState: Unknown
        serverPort: 6
        externalIP: externalIP
        version: version
      properties:
        externalIP:
          description: The publicly accessible IP of the SignalR service.
          readOnly: true
          type: string
        hostName:
          description: "FQDN of the SignalR service instance. Format: xxx.service.signalr.net"
          readOnly: true
          type: string
        provisioningState:
          description: Provisioning state of the resource.
          enum:
          - Unknown
          - Succeeded
          - Failed
          - Canceled
          - Running
          - Creating
          - Updating
          - Deleting
          - Moving
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        publicPort:
          description: The publicly accessible port of the SignalR service which is
            designed for browser/client side usage.
          format: int32
          readOnly: true
          type: integer
        serverPort:
          description: The publicly accessible port of the SignalR service which is
            designed for customer server side usage.
          format: int32
          readOnly: true
          type: integer
        version:
          description: Version of the SignalR resource. Probably you need the same
            or higher version of client SDKs.
          type: string
    SignalRResource:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: A class represent a SignalR service resource.
      example:
        name: name
        id: id
        sku:
          size: size
          tier: Free
          name: name
          family: family
          capacity: 1
        type: type
        properties:
          hostName: hostName
          publicPort: 0
          provisioningState: Unknown
          serverPort: 6
          externalIP: externalIP
          version: version
      properties:
        id:
          description: Fully qualified resource Id for the resource.
          readOnly: true
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/SignalRProperties'
        sku:
          $ref: '#/components/schemas/ResourceSku'
        type:
          description: The type of the service - e.g. "Microsoft.SignalRService/SignalR"
          readOnly: true
          type: string
    SignalRResourceList:
      description: Object that includes an array of SignalR services and a possible
        link for next set.
      example:
        value:
        - name: name
          id: id
          sku:
            size: size
            tier: Free
            name: name
            family: family
            capacity: 1
          type: type
          properties:
            hostName: hostName
            publicPort: 0
            provisioningState: Unknown
            serverPort: 6
            externalIP: externalIP
            version: version
        - name: name
          id: id
          sku:
            size: size
            tier: Free
            name: name
            family: family
            capacity: 1
          type: type
          properties:
            hostName: hostName
            publicPort: 0
            provisioningState: Unknown
            serverPort: 6
            externalIP: externalIP
            version: version
        nextLink: nextLink
      properties:
        nextLink:
          description: "The URL the client should use to fetch the next page (per\
            \ server side paging).\r\nIt's null for now, added for future use."
          type: string
        value:
          description: List of SignalR services
          items:
            $ref: '#/components/schemas/SignalRResource'
          type: array
      type: object
    SignalRUpdateParameters:
      description: Parameters for SignalR service update operation
      example:
        sku:
          size: size
          tier: Free
          name: name
          family: family
          capacity: 1
        properties:
          hostNamePrefix: hostNamePrefix
          features:
          - flag: ServiceMode
            value: value
            properties:
              key: properties
          - flag: ServiceMode
            value: value
            properties:
              key: properties
          cors:
            allowedOrigins:
            - allowedOrigins
            - allowedOrigins
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/SignalRCreateOrUpdateProperties'
        sku:
          $ref: '#/components/schemas/ResourceSku'
        tags:
          additionalProperties:
            type: string
          description: A list of key value pairs that describe the resource.
          type: object
      type: object
    SignalRUsage:
      description: Object that describes a specific usage of SignalR resources.
      example:
        unit: unit
        limit: 6
        name:
          localizedValue: localizedValue
          value: value
        id: id
        currentValue: 0
      properties:
        currentValue:
          description: Current value for the usage quota.
          format: int64
          type: integer
        id:
          description: Fully qualified ARM resource id
          type: string
        limit:
          description: "The maximum permitted value for the usage quota. If there\
            \ is no limit, this value will be -1."
          format: int64
          type: integer
        name:
          $ref: '#/components/schemas/SignalRUsageName'
        unit:
          description: "Representing the units of the usage quota. Possible values\
            \ are: Count, Bytes, Seconds, Percent, CountPerSecond, BytesPerSecond."
          type: string
      type: object
    SignalRUsageList:
      description: Object that includes an array of SignalR resource usages and a
        possible link for next set.
      example:
        value:
        - unit: unit
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          id: id
          currentValue: 0
        - unit: unit
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          id: id
          currentValue: 0
        nextLink: nextLink
      properties:
        nextLink:
          description: "The URL the client should use to fetch the next page (per\
            \ server side paging).\r\nIt's null for now, added for future use."
          type: string
        value:
          description: List of SignalR usages
          items:
            $ref: '#/components/schemas/SignalRUsage'
          type: array
      type: object
    SignalRUsageName:
      description: Localizable String object containing the name and a localized value.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: Localized name of the usage.
          type: string
        value:
          description: The identifier of the usage.
          type: string
      type: object
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource.
      properties:
        location:
          description: The GEO location of the SignalR service. e.g. West US | East
            US | North Central US | South Central US.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          additionalProperties:
            type: string
          description: Tags of the service which is a list of key value pairs that
            describe the resource.
          type: object
          x-ms-mutability:
          - read
          - create
          - update
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

