openapi: 3.0.1
info:
  title: AppConfigurationManagementClient
  version: 2019-11-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/appconfiguration.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: appconfiguration
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.AppConfiguration/operations:
    get:
      description: Lists the operations available from this provider.
      operationId: Operations_List
      parameters:
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "A skip token is used to continue retrieving items after an operation\
          \ returns a partial result. If a previous response contains a nextLink element,\
          \ the value of the nextLink element will include a skipToken parameter that\
          \ specifies a starting point to use for subsequent calls."
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationDefinitionListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - Operations
      x-ms-examples: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/checkNameAvailability:
    post:
      description: Checks whether the configuration store name is available for use.
      operationId: Operations_CheckNameAvailability
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: The object containing information for the availability request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailabilityStatus'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - Operations
      x-ms-examples:
        ConfigurationStores_CheckNameAvailable:
          parameters:
            api-version: 2019-11-01-preview
            checkNameAvailabilityParameters:
              name: contoso
              type: Microsoft.AppConfiguration/configurationStores
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                message: The specified name is available.
                nameAvailable: true
        ConfigurationStores_CheckNameNotAvailable:
          parameters:
            api-version: 2019-11-01-preview
            checkNameAvailabilityParameters:
              name: contoso
              type: Microsoft.AppConfiguration/configurationStores
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                message: The specified name is already in use.
                nameAvailable: false
                reason: AlreadyExists
      x-codegen-request-body-name: checkNameAvailabilityParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/configurationStores:
    get:
      description: Lists the configuration stores for a given subscription.
      operationId: ConfigurationStores_List
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "A skip token is used to continue retrieving items after an operation\
          \ returns a partial result. If a previous response contains a nextLink element,\
          \ the value of the nextLink element will include a skipToken parameter that\
          \ specifies a starting point to use for subsequent calls."
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStoreListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_List:
          parameters:
            api-version: 2019-11-01-preview
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                  identity:
                    principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                    tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                    type: SystemAssigned
                  location: westus
                  name: contoso
                  properties:
                    creationDate: 2018-04-24T16:30:55+00:00
                    encryption:
                      keyVaultProperties: {}
                    endpoint: https://contoso.azconfig.io
                    provisioningState: Succeeded
                  sku:
                    name: Free
                  tags: {}
                  type: Microsoft.AppConfiguration/configurationStores
                - id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso2
                  identity:
                    principalId: CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC
                    tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                    type: SystemAssigned
                  location: westus
                  name: contoso2
                  properties:
                    creationDate: 2018-04-24T23:06:59+00:00
                    encryption:
                      keyVaultProperties: {}
                    endpoint: https://contoso2.azconfig.io
                    provisioningState: Succeeded
                  sku:
                    name: Free
                  tags: {}
                  type: Microsoft.AppConfiguration/configurationStores
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores:
    get:
      description: Lists the configuration stores for a given resource group.
      operationId: ConfigurationStores_ListByResourceGroup
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "A skip token is used to continue retrieving items after an operation\
          \ returns a partial result. If a previous response contains a nextLink element,\
          \ the value of the nextLink element will include a skipToken parameter that\
          \ specifies a starting point to use for subsequent calls."
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStoreListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_ListByResourceGroup:
          parameters:
            api-version: 2019-11-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                  location: westus
                  name: contoso
                  properties:
                    creationDate: 2018-04-24T16:30:55+00:00
                    encryption:
                      keyVaultProperties: {}
                    endpoint: https://contoso.azconfig.io
                    provisioningState: Succeeded
                  sku:
                    name: Free
                  tags: {}
                  type: Microsoft.AppConfiguration/configurationStores
                - id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso2
                  location: westus
                  name: contoso2
                  properties:
                    creationDate: 2018-04-24T23:06:59+00:00
                    encryption:
                      keyVaultProperties: {}
                    endpoint: https://contoso2.azconfig.io
                    provisioningState: Succeeded
                  sku:
                    name: Free
                  tags: {}
                  type: Microsoft.AppConfiguration/configurationStores
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}
  : delete:
      description: Deletes a configuration store.
      operationId: ConfigurationStores_Delete
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "202":
          content: {}
          description: The request was successful; the operation will complete asynchronously.
        "204":
          content: {}
          description: No Content - the specified resource was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_Delete:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the properties of the specified configuration store.
      operationId: ConfigurationStores_Get
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStore'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_Get:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                identity:
                  principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                  tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                  type: SystemAssigned
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  encryption:
                    keyVaultProperties: {}
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Succeeded
                sku:
                  name: Free
                tags: {}
                type: Microsoft.AppConfiguration/configurationStores
      x-accepts:
      - application/json
    patch:
      description: Updates a configuration store with the specified parameters.
      operationId: ConfigurationStores_Update
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationStoreUpdateParameters'
        description: The parameters for updating a configuration store.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStore'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStore'
          description: The request was successfully accepted; the operation will complete
            asynchronously. The provisioning state of the resource should indicate
            the current state of the resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_Update:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            configStoreUpdateParameters:
              sku:
                name: Standard
              tags:
                Category: Marketing
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  encryption:
                    keyVaultProperties: {}
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Succeeded
                sku:
                  name: Standard
                tags:
                  Category: Marketing
                type: Microsoft.AppConfiguration/configurationStores
            "201":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  encryption:
                    keyVaultProperties: {}
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Updating
                sku:
                  name: Standard
                tags:
                  Category: Marketing
                type: Microsoft.AppConfiguration/configurationStores
        ConfigurationStores_Update_WithIdentity:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            configStoreUpdateParameters:
              identity:
                type: "SystemAssigned, UserAssigned"
                userAssignedIdentities:
                  ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                  : {}
              sku:
                name: Standard
              tags:
                Category: Marketing
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                identity:
                  principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                  tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                  type: "SystemAssigned, UserAssigned"
                  userAssignedIdentities:
                    ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                    : clientId: CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC
                      principalId: DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  encryption:
                    keyVaultProperties: {}
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Succeeded
                sku:
                  name: Standard
                tags:
                  Category: Marketing
                type: Microsoft.AppConfiguration/configurationStores
            "201":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                identity:
                  principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                  tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                  type: "SystemAssigned, UserAssigned"
                  userAssignedIdentities:
                    ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                    : clientId: CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC
                      principalId: DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  encryption:
                    keyVaultProperties: {}
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Updating
                sku:
                  name: Standard
                tags:
                  Category: Marketing
                type: Microsoft.AppConfiguration/configurationStores
      x-ms-long-running-operation: true
      x-codegen-request-body-name: configStoreUpdateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a configuration store with the specified parameters.
      operationId: ConfigurationStores_Create
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationStore'
        description: The parameters for creating a configuration store.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStore'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStore'
          description: The request was successfully accepted; the operation will complete
            asynchronously. The provisioning state of the resource should indicate
            the current state of the resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_Create:
          parameters:
            api-version: 2019-11-01-preview
            configStoreCreationParameters:
              location: westus
              sku:
                name: Free
              tags:
                myTag: myTagValue
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  encryption:
                    keyVaultProperties: {}
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Succeeded
                sku:
                  name: Free
                tags:
                  myTag: myTagValue
                type: Microsoft.AppConfiguration/configurationStores
            "201":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  encryption:
                    keyVaultProperties: {}
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Creating
                sku:
                  name: Free
                tags:
                  myTag: myTagValue
                type: Microsoft.AppConfiguration/configurationStores
        ConfigurationStores_Create_WithIdentity:
          parameters:
            api-version: 2019-11-01-preview
            configStoreCreationParameters:
              identity:
                type: "SystemAssigned, UserAssigned"
                userAssignedIdentities:
                  ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                  : {}
              location: westus
              sku:
                name: Free
              tags:
                myTag: myTagValue
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                identity:
                  principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                  tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                  type: "SystemAssigned, UserAssigned"
                  userAssignedIdentities:
                    ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                    : clientId: CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC
                      principalId: DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  encryption:
                    keyVaultProperties: {}
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Succeeded
                sku:
                  name: Free
                tags:
                  myTag: myTagValue
                type: Microsoft.AppConfiguration/configurationStores
            "201":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                identity:
                  principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                  tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                  type: "SystemAssigned, UserAssigned"
                  userAssignedIdentities:
                    ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                    : clientId: CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC
                      principalId: DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  encryption:
                    keyVaultProperties: {}
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Creating
                sku:
                  name: Free
                tags:
                  myTag: myTagValue
                type: Microsoft.AppConfiguration/configurationStores
      x-ms-long-running-operation: true
      x-codegen-request-body-name: configStoreCreationParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/ListKeys
  : post:
      description: Lists the access key for the specified configuration store.
      operationId: ConfigurationStores_ListKeys
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "A skip token is used to continue retrieving items after an operation\
          \ returns a partial result. If a previous response contains a nextLink element,\
          \ the value of the nextLink element will include a skipToken parameter that\
          \ specifies a starting point to use for subsequent calls."
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_ListKeys:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                value:
                - connectionString: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  id: 439AD01B4BE67DB1
                  lastModified: 2018-04-24T16:30:54+00:00
                  name: Primary
                  readOnly: false
                  value: "000000000000000000000000000000000000000000000000000000"
                - connectionString: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  id: CB45E100456857B9
                  lastModified: 2018-04-24T16:30:54+00:00
                  name: Secondary
                  readOnly: false
                  value: "000000000000000000000000000000000000000000000000000000"
                - connectionString: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  id: B3AC55B7E71431A9
                  lastModified: 2018-04-24T16:30:54+00:00
                  name: Primary Read Only
                  readOnly: true
                  value: "000000000000000000000000000000000000000000000000000000"
                - connectionString: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  id: E2AF6A9A89DCC177
                  lastModified: 2018-04-24T16:30:54+00:00
                  name: Secondary Read Only
                  readOnly: true
                  value: "000000000000000000000000000000000000000000000000000000"
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/RegenerateKey
  : post:
      description: Regenerates an access key for the specified configuration store.
      operationId: ConfigurationStores_RegenerateKey
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateKeyParameters'
        description: The parameters for regenerating an access key.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_RegenerateKey:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            regenerateKeyParameters:
              id: 439AD01B4BE67DB1
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                connectionString: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                id: 439AD01B4BE67DB1
                lastModified: 2018-04-26T22:59:24.2370906+00:00
                name: Primary
                readOnly: false
                value: "000000000000000000000000000000000000000000000000000000"
      x-codegen-request-body-name: regenerateKeyParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/listKeyValue
  : post:
      description: Lists a configuration store key-value.
      operationId: ConfigurationStores_ListKeyValue
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListKeyValueParameters'
        description: The parameters for retrieving a key-value.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyValue'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_ListKeyValue:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: fayeh
            listKeyValueParameters:
              key: MaxRequests
              label: dev
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                contentType: ""
                eTag: 4f6dd610dd5e4deebc7fbaef685fb903
                key: MaxRequests
                label: dev
                lastModified: 2017-12-05T02:41:26+00:00
                locked: false
                tags:
                  t1: value1
                  t2: value2
                value: "100"
      x-codegen-request-body-name: listKeyValueParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateEndpointConnections
  : get:
      description: Lists all private endpoint connections for a configuration store.
      operationId: PrivateEndpointConnections_ListByConfigurationStore
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        PrivateEndpointConnection_List:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso/privateEndpointConnections/myConnection
                  name: myConnection
                  properties:
                    privateEndpoint:
                      id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.Network/privateEndpoints/peexample01
                    privateLinkServiceConnectionState:
                      actionsRequired: None
                      description: Auto-Approved
                      status: Approved
                    provisioningState: Succeeded
                  type: Microsoft.AppConfiguration/configurationStores/privateEndpointConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateEndpointConnections/{privateEndpointConnectionName}
  : delete:
      description: Deletes a private endpoint connection.
      operationId: PrivateEndpointConnections_Delete
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Private endpoint connection name
        in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "202":
          content: {}
          description: The request was successful; the operation will complete asynchronously.
        "204":
          content: {}
          description: No Content - the specified resource was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        PrivateEndpointConnections_Delete:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            privateEndpointConnectionName: myConnection
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the specified private endpoint connection associated with
        the configuration store.
      operationId: PrivateEndpointConnections_Get
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Private endpoint connection name
        in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        PrivateEndpointConnection_GetConnection:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            privateEndpointConnectionName: myConnection
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso/privateEndpointConnections/myConnection
                name: myConnection
                properties:
                  privateEndpoint:
                    id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.Network/privateEndpoints/peexample01
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Auto-Approved
                    status: Approved
                  provisioningState: Succeeded
                type: Microsoft.AppConfiguration/configurationStores/privateEndpointConnections
      x-accepts:
      - application/json
    put:
      description: Update the state of the specified private endpoint connection associated
        with the configuration store.
      operationId: PrivateEndpointConnections_CreateOrUpdate
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Private endpoint connection name
        in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        description: The private endpoint connection properties.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: The request was successfully accepted; the operation will complete
            asynchronously. The provisioning state of the resource should indicate
            the current state of the resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        PrivateEndpointConnection_CreateOrUpdate:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            privateEndpointConnection:
              properties:
                privateLinkServiceConnectionState:
                  description: Auto-Approved
                  status: Approved
            privateEndpointConnectionName: myConnection
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso/privateEndpointConnections/myConnection
                name: myConnection
                properties:
                  privateEndpoint:
                    id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.Network/privateEndpoints/peexample01
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Auto-Approved
                    status: Approved
                  provisioningState: Succeeded
                type: Microsoft.AppConfiguration/configurationStores/privateEndpointConnections
            "201":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso/privateEndpointConnections/myConnection
                name: myConnection
                properties:
                  privateEndpoint:
                    id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.Network/privateEndpoints/peexample01
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Auto-Approved
                    status: Approved
                  provisioningState: Succeeded
                type: Microsoft.AppConfiguration/configurationStores/privateEndpointConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: privateEndpointConnection
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateLinkResources
  : get:
      description: Gets the private link resources that need to be created for a configuration
        store.
      operationId: PrivateLinkResources_ListByConfigurationStore
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - PrivateLinkResources
      x-ms-examples:
        PrivateLinkResources_ListGroupIds:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso/privateLinkResources/configurationStores
                  name: configurationStores
                  properties:
                    groupId: configurationStores
                    requiredMembers:
                    - configurationStores
                  type: Microsoft.AppConfiguraiton/configurationStores/privateLinkResources
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateLinkResources/{groupName}
  : get:
      description: Gets a private link resource that need to be created for a configuration
        store.
      operationId: PrivateLinkResources_Get
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the private link resource group.
        in: path
        name: groupName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - PrivateLinkResources
      x-ms-examples:
        PrivateLinkResources_Get:
          parameters:
            api-version: 2019-11-01-preview
            configStoreName: contoso
            groupName: configurationStores
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso/privateLinkResources/configurationStores
                name: configurationStores
                properties:
                  groupId: configurationStores
                  requiredMembers:
                  - configurationStores
                type: Microsoft.AppConfiguraiton/configurationStores/privateLinkResources
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ConfigStoreNameParameter:
      description: The name of the configuration store.
      in: path
      name: configStoreName
      required: true
      schema:
        maxLength: 50
        minLength: 5
        pattern: "^[a-zA-Z0-9_-]*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group to which the container registry
        belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Microsoft Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiKey:
      description: An API key used for authenticating with a configuration store endpoint.
      example:
        connectionString: connectionString
        name: name
        readOnly: true
        id: id
        lastModified: 2000-01-23T04:56:07.000+00:00
        value: value
      properties:
        connectionString:
          description: A connection string that can be used by supporting clients
            for authentication.
          readOnly: true
          type: string
        id:
          description: The key ID.
          readOnly: true
          type: string
        lastModified:
          description: The last time any of the key's properties were modified.
          format: date-time
          readOnly: true
          type: string
        name:
          description: A name for the key describing its usage.
          readOnly: true
          type: string
        readOnly:
          description: Whether this key can only be used for read operations.
          readOnly: true
          type: boolean
        value:
          description: The value of the key that is used for authentication purposes.
          readOnly: true
          type: string
      type: object
    ApiKeyListResult:
      description: The result of a request to list API keys.
      example:
        value:
        - connectionString: connectionString
          name: name
          readOnly: true
          id: id
          lastModified: 2000-01-23T04:56:07.000+00:00
          value: value
        - connectionString: connectionString
          name: name
          readOnly: true
          id: id
          lastModified: 2000-01-23T04:56:07.000+00:00
          value: value
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/ApiKey'
          type: array
      type: object
    CheckNameAvailabilityParameters:
      description: Parameters used for checking whether a resource name is available.
      example:
        name: name
        type: Microsoft.AppConfiguration/configurationStores
      properties:
        name:
          description: The name to check for availability.
          type: string
        type:
          description: The resource type to check for name availability.
          enum:
          - Microsoft.AppConfiguration/configurationStores
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConfigurationResourceType
      required:
      - name
      - type
      type: object
    ConfigurationStore:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The configuration store along with all resource properties. The
        Configuration Store will have all information to begin utilizing it.
      example:
        identity:
          userAssignedIdentities:
            key:
              clientId: clientId
              principalId: principalId
          tenantId: tenantId
          principalId: principalId
          type: None
        sku:
          name: name
        properties:
          endpoint: endpoint
          encryption:
            keyVaultProperties:
              keyIdentifier: keyIdentifier
              identityClientId: identityClientId
          provisioningState: Creating
          creationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        identity:
          $ref: '#/components/schemas/ResourceIdentity'
        properties:
          $ref: '#/components/schemas/ConfigurationStoreProperties'
        sku:
          $ref: '#/components/schemas/Sku'
      required:
      - sku
    ConfigurationStoreListResult:
      description: The result of a request to list configuration stores.
      example:
        value:
        - identity:
            userAssignedIdentities:
              key:
                clientId: clientId
                principalId: principalId
            tenantId: tenantId
            principalId: principalId
            type: None
          sku:
            name: name
          properties:
            endpoint: endpoint
            encryption:
              keyVaultProperties:
                keyIdentifier: keyIdentifier
                identityClientId: identityClientId
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
        - identity:
            userAssignedIdentities:
              key:
                clientId: clientId
                principalId: principalId
            tenantId: tenantId
            principalId: principalId
            type: None
          sku:
            name: name
          properties:
            endpoint: endpoint
            encryption:
              keyVaultProperties:
                keyIdentifier: keyIdentifier
                identityClientId: identityClientId
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/ConfigurationStore'
          type: array
      type: object
    ConfigurationStoreProperties:
      description: The properties of a configuration store.
      example:
        endpoint: endpoint
        encryption:
          keyVaultProperties:
            keyIdentifier: keyIdentifier
            identityClientId: identityClientId
        provisioningState: Creating
        creationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        creationDate:
          description: The creation date of configuration store.
          format: date-time
          readOnly: true
          type: string
        encryption:
          $ref: '#/components/schemas/EncryptionProperties'
        endpoint:
          description: The DNS endpoint where the configuration store API will be
            available.
          readOnly: true
          type: string
        provisioningState:
          description: The provisioning state of the configuration store.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      type: object
    ConfigurationStorePropertiesUpdateParameters:
      description: The properties for updating a configuration store.
      example:
        encryption:
          keyVaultProperties:
            keyIdentifier: keyIdentifier
            identityClientId: identityClientId
      properties:
        encryption:
          $ref: '#/components/schemas/EncryptionProperties'
      type: object
    ConfigurationStoreUpdateParameters:
      description: The parameters for updating a configuration store.
      example:
        identity:
          userAssignedIdentities:
            key:
              clientId: clientId
              principalId: principalId
          tenantId: tenantId
          principalId: principalId
          type: None
        sku:
          name: name
        properties:
          encryption:
            keyVaultProperties:
              keyIdentifier: keyIdentifier
              identityClientId: identityClientId
        tags:
          key: tags
      properties:
        identity:
          $ref: '#/components/schemas/ResourceIdentity'
        properties:
          $ref: '#/components/schemas/ConfigurationStorePropertiesUpdateParameters'
        sku:
          $ref: '#/components/schemas/Sku'
        tags:
          additionalProperties:
            type: string
          description: The ARM resource tags.
          type: object
      type: object
    EncryptionProperties:
      description: The encryption settings for a configuration store.
      example:
        keyVaultProperties:
          keyIdentifier: keyIdentifier
          identityClientId: identityClientId
      properties:
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
      type: object
    Error:
      description: AppConfiguration error object.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
      type: object
    KeyValue:
      description: The result of a request to retrieve a key-value from the specified
        configuration store.
      example:
        eTag: eTag
        label: label
        lastModified: 2000-01-23T04:56:07.000+00:00
        locked: true
        contentType: contentType
        value: value
        key: key
        tags:
          key: tags
      properties:
        contentType:
          description: "The content type of the key-value's value.\r\nProviding a\
            \ proper content-type can enable transformations of values when they are\
            \ retrieved by applications."
          readOnly: true
          type: string
        eTag:
          description: An ETag indicating the state of a key-value within a configuration
            store.
          readOnly: true
          type: string
        key:
          description: "The primary identifier of a key-value.\r\nThe key is used\
            \ in unison with the label to uniquely identify a key-value."
          readOnly: true
          type: string
        label:
          description: "A value used to group key-values.\r\nThe label is used in\
            \ unison with the key to uniquely identify a key-value."
          readOnly: true
          type: string
        lastModified:
          description: The last time a modifying operation was performed on the given
            key-value.
          format: date-time
          readOnly: true
          type: string
        locked:
          description: "A value indicating whether the key-value is locked.\r\nA locked\
            \ key-value may not be modified until it is unlocked."
          readOnly: true
          type: boolean
        tags:
          additionalProperties:
            type: string
          description: A dictionary of tags that can help identify what a key-value
            may be applicable for.
          readOnly: true
          type: object
        value:
          description: The value of the key-value.
          readOnly: true
          type: string
      type: object
    KeyVaultProperties:
      description: Settings concerning key vault encryption for a configuration store.
      example:
        keyIdentifier: keyIdentifier
        identityClientId: identityClientId
      properties:
        identityClientId:
          description: The client id of the identity which will be used to access
            key vault.
          type: string
        keyIdentifier:
          description: The URI of the key vault key used to encrypt data.
          type: string
      type: object
    ListKeyValueParameters:
      description: The parameters used to list a configuration store key-value
      example:
        label: label
        key: key
      properties:
        key:
          description: The key to retrieve.
          type: string
        label:
          description: The label of the key.
          type: string
      required:
      - key
      type: object
    NameAvailabilityStatus:
      description: The result of a request to check the availability of a resource
        name.
      example:
        reason: reason
        nameAvailable: true
        message: message
      properties:
        message:
          description: "If any, the error message that provides more detail for the\
            \ reason that the name is not available."
          readOnly: true
          type: string
        nameAvailable:
          description: The value indicating whether the resource name is available.
          readOnly: true
          type: boolean
        reason:
          description: "If any, the reason that the name is not available."
          readOnly: true
          type: string
      type: object
    OperationDefinition:
      description: The definition of a configuration store operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDefinitionDisplay'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          type: string
      type: object
    OperationDefinitionDisplay:
      description: The display information for a configuration store operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description for the operation.
          type: string
        operation:
          description: The operation that users can perform.
          type: string
        provider:
          description: "The resource provider name: Microsoft App Configuration.\""
          readOnly: true
          type: string
        resource:
          description: The resource on which the operation is performed.
          type: string
      type: object
    OperationDefinitionListResult:
      description: The result of a request to list configuration store operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/OperationDefinition'
          type: array
      type: object
    PrivateEndpoint:
      description: Private endpoint which a connection belongs to.
      example:
        id: id
      properties:
        id:
          description: The resource Id for private endpoint
          type: string
      type: object
    PrivateEndpointConnection:
      description: A private endpoint connection
      example:
        name: name
        id: id
        type: type
        properties:
          privateLinkServiceConnectionState:
            actionsRequired: None
            description: description
            status: Pending
          privateEndpoint:
            id: id
          provisioningState: Creating
      properties:
        id:
          description: The resource ID.
          readOnly: true
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    PrivateEndpointConnectionListResult:
      description: A list of private endpoint connections
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            privateLinkServiceConnectionState:
              actionsRequired: None
              description: description
              status: Pending
            privateEndpoint:
              id: id
            provisioningState: Creating
        - name: name
          id: id
          type: type
          properties:
            privateLinkServiceConnectionState:
              actionsRequired: None
              description: description
              status: Pending
            privateEndpoint:
              id: id
            provisioningState: Creating
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          type: array
      type: object
    PrivateEndpointConnectionProperties:
      description: Properties of a private endpoint connection.
      example:
        privateLinkServiceConnectionState:
          actionsRequired: None
          description: description
          status: Pending
        privateEndpoint:
          id: id
        provisioningState: Creating
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
        provisioningState:
          description: The provisioning status of the private endpoint connection.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      required:
      - privateLinkServiceConnectionState
      type: object
    PrivateLinkResource:
      description: A resource that supports private link capabilities.
      example:
        name: name
        id: id
        type: type
        properties:
          requiredMembers:
          - requiredMembers
          - requiredMembers
          groupId: groupId
      properties:
        id:
          description: The resource ID.
          readOnly: true
          type: string
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
    PrivateLinkResourceListResult:
      description: A list of private link resources.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            groupId: groupId
        - name: name
          id: id
          type: type
          properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            groupId: groupId
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          type: array
      type: object
    PrivateLinkResourceProperties:
      description: Properties of a private link resource.
      example:
        requiredMembers:
        - requiredMembers
        - requiredMembers
        groupId: groupId
      properties:
        groupId:
          description: The private link resource group id.
          readOnly: true
          type: string
        requiredMembers:
          description: The private link resource required member names.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    PrivateLinkServiceConnectionState:
      description: The state of a private link service connection.
      example:
        actionsRequired: None
        description: description
        status: Pending
      properties:
        actionsRequired:
          description: Any action that is required beyond basic workflow (approve/
            reject/ disconnect)
          enum:
          - None
          - Recreate
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ActionsRequired
        description:
          description: The private link service connection description.
          type: string
        status:
          description: The private link service connection status.
          enum:
          - Pending
          - Approved
          - Rejected
          - Disconnected
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConnectionStatus
      type: object
    RegenerateKeyParameters:
      description: The parameters used to regenerate an API key.
      example:
        id: id
      properties:
        id:
          description: The id of the key to regenerate.
          type: string
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The resource ID.
          readOnly: true
          type: string
        location:
          description: The location of the resource. This cannot be changed after
            the resource is created.
          type: string
          x-ms-mutability:
          - read
          - create
        name:
          description: The name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      required:
      - location
      type: object
      x-ms-azure-resource: true
    ResourceIdentity:
      description: An identity that can be associated with a resource.
      example:
        userAssignedIdentities:
          key:
            clientId: clientId
            principalId: principalId
        tenantId: tenantId
        principalId: principalId
        type: None
      properties:
        principalId:
          description: The principal id of the identity. This property will only be
            provided for a system-assigned identity.
          readOnly: true
          type: string
        tenantId:
          description: The tenant id associated with the resource's identity. This
            property will only be provided for a system-assigned identity.
          readOnly: true
          type: string
        type:
          description: "The type of managed identity used. The type 'SystemAssigned,\
            \ UserAssigned' includes both an implicitly created identity and a set\
            \ of user-assigned identities. The type 'None' will remove any identities."
          enum:
          - None
          - SystemAssigned
          - UserAssigned
          - "SystemAssigned, UserAssigned"
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityType
        userAssignedIdentities:
          additionalProperties:
            $ref: '#/components/schemas/UserIdentity'
          description: "The list of user-assigned identities associated with the resource.\
            \ The user-assigned identity dictionary keys will be ARM resource ids\
            \ in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          type: object
      type: object
    Sku:
      description: Describes a configuration store SKU.
      example:
        name: name
      properties:
        name:
          description: The SKU name of the configuration store.
          type: string
      required:
      - name
      type: object
    UserIdentity:
      description: A resource identity that is managed by the user of the service.
      example:
        clientId: clientId
        principalId: principalId
      properties:
        clientId:
          description: The client ID of the user-assigned identity.
          readOnly: true
          type: string
        principalId:
          description: The principal ID of the user-assigned identity.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

