openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Creates and manages Redis instances on the Google Cloud Platform.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Cloud Memorystore for Redis API
  version: v1beta1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: openapi
    url: https://redis.googleapis.com/$discovery/rest?version=v1beta1
    version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: redis
externalDocs:
  url: https://cloud.google.com/memorystore/docs/redis/
servers:
- url: https://redis.googleapis.com/
tags:
- name: projects
paths:
  /v1beta1/{name}:
    delete:
      description: "Deletes a long-running operation. This method indicates that the\
        \ client is no longer interested in the operation result. It does not cancel\
        \ the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      operationId: redis.projects.locations.operations.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be deleted.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Idempotent request UUID.
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: Gets the latest state of a long-running operation. Clients can
        use this method to poll the operation result at intervals as recommended by
        the API service.
      operationId: redis.projects.locations.operations.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    patch:
      description: "Updates the metadata and configuration of a specific Redis instance.\
        \ Completed longrunning.Operation will contain the new instance object in\
        \ the response field. The returned operation is automatically deleted after\
        \ a few hours, so there is no need to call DeleteOperation."
      operationId: redis.projects.locations.instances.patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Unique name of the resource in this scope including\
          \ project and location using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}`\
          \ Note: Redis instances are managed and addressed at regional level so location_id\
          \ here refers to a GCP region; however, users may choose which specific\
          \ zone (or collection of zones for cross-zone instances) an instance should\
          \ be provisioned in. Refer to location_id and alternative_location_id fields\
          \ for more details."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. Mask of fields to update. At least one path must be\
          \ supplied in this field. The elements of the repeated paths field may only\
          \ include these fields from Instance: * `displayName` * `labels` * `memorySizeGb`\
          \ * `redisConfig` * `replica_count`"
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Instance'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta1/{name}/authString:
    get:
      description: Gets the AUTH string for a Redis instance. If AUTH is not enabled
        for the instance the response will be empty. This information is not included
        in the details returned to GetInstance.
      operationId: redis.projects.locations.instances.getAuthString
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}`\
          \ where `location_id` refers to a GCP region."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceAuthString'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1beta1/{name}/locations:
    get:
      description: Lists information about the supported locations for this service.
      operationId: redis.projects.locations.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The resource that owns the locations collection, if applicable."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "A filter to narrow down results to a preferred subset. The filtering\
          \ language accepts strings like `\"displayName=tokyo\"`, and is documented\
          \ in more detail in [AIP-160](https://google.aip.dev/160)."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of results to return. If not set, the service\
          \ selects a default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A page token received from the `next_page_token` field in the
          response. Send that page token to receive the subsequent page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1beta1/{name}/operations:
    get:
      description: "Lists operations that match the specified filter in the request.\
        \ If the server doesn't support this method, it returns `UNIMPLEMENTED`."
      operationId: redis.projects.locations.operations.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation's parent resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1beta1/{name}:cancel:
    post:
      description: "Starts asynchronous cancellation on a long-running operation.\
        \ The server makes a best effort to cancel the operation, but success is not\
        \ guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Clients can use Operations.GetOperation or other methods to check whether\
        \ the cancellation succeeded or whether the operation completed despite cancellation.\
        \ On successful cancellation, the operation is not deleted; instead, it becomes\
        \ an operation with an Operation.error value with a google.rpc.Status.code\
        \ of 1, corresponding to `Code.CANCELLED`."
      operationId: redis.projects.locations.operations.cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be cancelled.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1beta1/{name}:export:
    post:
      description: "Export Redis instance data into a Redis RDB format file in Cloud\
        \ Storage. Redis will continue serving during this operation. The returned\
        \ operation is automatically deleted after a few hours, so there is no need\
        \ to call DeleteOperation."
      operationId: redis.projects.locations.instances.export
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}`\
          \ where `location_id` refers to a GCP region."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportInstanceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta1/{name}:failover:
    post:
      description: Initiates a failover of the primary node to current replica node
        for a specific STANDARD tier Cloud Memorystore for Redis instance.
      operationId: redis.projects.locations.instances.failover
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}`\
          \ where `location_id` refers to a GCP region."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FailoverInstanceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta1/{name}:import:
    post:
      description: "Import a Redis RDB snapshot file from Cloud Storage into a Redis\
        \ instance. Redis may stop serving during this operation. Instance state will\
        \ be IMPORTING for entire operation. When complete, the instance will contain\
        \ only data from the imported file. The returned operation is automatically\
        \ deleted after a few hours, so there is no need to call DeleteOperation."
      operationId: redis.projects.locations.instances.import
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}`\
          \ where `location_id` refers to a GCP region."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportInstanceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta1/{name}:rescheduleMaintenance:
    post:
      description: Reschedule maintenance for a given instance in a given project
        and location.
      operationId: redis.projects.locations.instances.rescheduleMaintenance
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}`\
          \ where `location_id` refers to a GCP region."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RescheduleMaintenanceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta1/{name}:upgrade:
    post:
      description: Upgrades Redis instance to the newer Redis version specified in
        the request.
      operationId: redis.projects.locations.instances.upgrade
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}`\
          \ where `location_id` refers to a GCP region."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeInstanceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta1/{parent}/clusters:
    get:
      description: "Lists all Redis clusters owned by a project in either the specified\
        \ location (region) or all locations. The location should have the following\
        \ format: * `projects/{project_id}/locations/{location_id}` If `location_id`\
        \ is specified as `-` (wildcard), then all regions available to the project\
        \ are queried, and the results are aggregated."
      operationId: redis.projects.locations.clusters.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the cluster location using the\
          \ form: `projects/{project_id}/locations/{location_id}` where `location_id`\
          \ refers to a GCP region."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of items to return. If not specified, a default\
          \ value of 1000 will be used by the service. Regardless of the page_size\
          \ value, the response may include a partial list and a caller should only\
          \ rely on response's `next_page_token` to determine if there are more clusters\
          \ left to be queried."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "The `next_page_token` value returned from a previous ListClusters\
          \ request, if any."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListClustersResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: "Creates a Redis cluster based on the specified properties. The\
        \ creation is executed asynchronously and callers may check the returned operation\
        \ to track its progress. Once the operation is completed the Redis cluster\
        \ will be fully functional. The completed longrunning.Operation will contain\
        \ the new cluster object in the response field. The returned operation is\
        \ automatically deleted after a few hours, so there is no need to call DeleteOperation."
      operationId: redis.projects.locations.clusters.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the cluster location using the\
          \ form: `projects/{project_id}/locations/{location_id}` where `location_id`\
          \ refers to a GCP region."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The logical name of the Redis cluster in the customer\
          \ project with the following restrictions: * Must contain only lowercase\
          \ letters, numbers, and hyphens. * Must start with a letter. * Must be between\
          \ 1-63 characters. * Must end with a number or a letter. * Must be unique\
          \ within the customer project / location"
        explode: true
        in: query
        name: clusterId
        required: false
        schema:
          type: string
        style: form
      - description: Idempotent request UUID.
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta1/{parent}/instances:
    get:
      description: "Lists all Redis instances owned by a project in either the specified\
        \ location (region) or all locations. The location should have the following\
        \ format: * `projects/{project_id}/locations/{location_id}` If `location_id`\
        \ is specified as `-` (wildcard), then all regions available to the project\
        \ are queried, and the results are aggregated."
      operationId: redis.projects.locations.instances.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the instance location using the\
          \ form: `projects/{project_id}/locations/{location_id}` where `location_id`\
          \ refers to a GCP region."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of items to return. If not specified, a default\
          \ value of 1000 will be used by the service. Regardless of the page_size\
          \ value, the response may include a partial list and a caller should only\
          \ rely on response's `next_page_token` to determine if there are more instances\
          \ left to be queried."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "The `next_page_token` value returned from a previous ListInstances\
          \ request, if any."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInstancesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: "Creates a Redis instance based on the specified tier and memory\
        \ size. By default, the instance is accessible from the project's [default\
        \ network](https://cloud.google.com/vpc/docs/vpc). The creation is executed\
        \ asynchronously and callers may check the returned operation to track its\
        \ progress. Once the operation is completed the Redis instance will be fully\
        \ functional. The completed longrunning.Operation will contain the new instance\
        \ object in the response field. The returned operation is automatically deleted\
        \ after a few hours, so there is no need to call DeleteOperation."
      operationId: redis.projects.locations.instances.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the instance location using the\
          \ form: `projects/{project_id}/locations/{location_id}` where `location_id`\
          \ refers to a GCP region."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The logical name of the Redis instance in the customer\
          \ project with the following restrictions: * Must contain only lowercase\
          \ letters, numbers, and hyphens. * Must start with a letter. * Must be between\
          \ 1-40 characters. * Must end with a number or a letter. * Must be unique\
          \ within the customer project / location"
        explode: true
        in: query
        name: instanceId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Instance'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AvailabilityConfiguration:
      description: Configuration for availability of database instance
      properties:
        availabilityType:
          description: "Availability type. Potential values: * `ZONAL`: The instance\
            \ serves data from only one zone. Outages in that zone affect data accessibility.\
            \ * `REGIONAL`: The instance can serve data from more than one zone in\
            \ a region (it is highly available)."
          enum:
          - AVAILABILITY_TYPE_UNSPECIFIED
          - ZONAL
          - REGIONAL
          - MULTI_REGIONAL
          - AVAILABILITY_TYPE_OTHER
          type: string
        externalReplicaConfigured:
          type: boolean
        promotableReplicaConfigured:
          type: boolean
      type: object
    BackupConfiguration:
      description: Configuration for automatic backups
      properties:
        automatedBackupEnabled:
          description: Whether customer visible automated backups are enabled on the
            instance.
          type: boolean
        backupRetentionSettings:
          $ref: '#/components/schemas/RetentionSettings'
        pointInTimeRecoveryEnabled:
          description: "Whether point-in-time recovery is enabled. This is optional\
            \ field, if the database service does not have this feature or metadata\
            \ is not available in control plane, this can be omitted."
          type: boolean
      type: object
    BackupRun:
      description: A backup run.
      properties:
        endTime:
          description: The time the backup operation completed. REQUIRED
          format: google-datetime
          type: string
        error:
          $ref: '#/components/schemas/OperationError'
        startTime:
          description: The time the backup operation started. REQUIRED
          format: google-datetime
          type: string
        status:
          description: The status of this run. REQUIRED
          enum:
          - STATUS_UNSPECIFIED
          - SUCCESSFUL
          - FAILED
          type: string
      type: object
    CertChain:
      properties:
        certificates:
          description: "The certificates that form the CA chain, from leaf to root\
            \ order."
          items:
            type: string
          type: array
      type: object
    CertificateAuthority:
      description: Redis cluster certificate authority
      properties:
        managedServerCa:
          $ref: '#/components/schemas/ManagedCertificateAuthority'
        name:
          description: "Identifier. Unique name of the resource in this scope including\
            \ project, location and cluster using the form: `projects/{project}/locations/{location}/clusters/{cluster}/certificateAuthority`"
          type: string
      type: object
    Cluster:
      description: A cluster instance.
      example:
        sizeGb: 5
        discoveryEndpoints:
        - address: address
          port: 0
          pscConfig:
            network: network
        - address: address
          port: 0
          pscConfig:
            network: network
        pscConfigs:
        - network: network
        - network: network
        uid: uid
        replicaCount: 6
        createTime: createTime
        name: name
        pscConnections:
        - address: address
          forwardingRule: forwardingRule
          projectId: projectId
          pscConnectionId: pscConnectionId
          network: network
        - address: address
          forwardingRule: forwardingRule
          projectId: projectId
          pscConnectionId: pscConnectionId
          network: network
        stateInfo:
          updateInfo:
            targetReplicaCount: 5
            targetShardCount: 2
        authorizationMode: AUTH_MODE_UNSPECIFIED
        state: STATE_UNSPECIFIED
        shardCount: 1
        transitEncryptionMode: TRANSIT_ENCRYPTION_MODE_UNSPECIFIED
      properties:
        authorizationMode:
          description: "Optional. The authorization mode of the Redis cluster. If\
            \ not provided, auth feature is disabled for the cluster."
          enum:
          - AUTH_MODE_UNSPECIFIED
          - AUTH_MODE_IAM_AUTH
          - AUTH_MODE_DISABLED
          type: string
        createTime:
          description: Output only. The timestamp associated with the cluster creation
            request.
          format: google-datetime
          readOnly: true
          type: string
        discoveryEndpoints:
          description: "Output only. Endpoints created on each given network, for\
            \ Redis clients to connect to the cluster. Currently only one discovery\
            \ endpoint is supported."
          items:
            $ref: '#/components/schemas/DiscoveryEndpoint'
          readOnly: true
          type: array
        name:
          description: "Required. Unique name of the resource in this scope including\
            \ project and location using the form: `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}`"
          type: string
        pscConfigs:
          description: "Required. Each PscConfig configures the consumer network where\
            \ IPs will be designated to the cluster for client access through Private\
            \ Service Connect Automation. Currently, only one PscConfig is supported."
          items:
            $ref: '#/components/schemas/PscConfig'
          type: array
        pscConnections:
          description: Output only. PSC connections for discovery of the cluster topology
            and accessing the cluster.
          items:
            $ref: '#/components/schemas/PscConnection'
          readOnly: true
          type: array
        replicaCount:
          description: Optional. The number of replica nodes per shard.
          format: int32
          type: integer
        shardCount:
          description: Required. Number of shards for the Redis cluster.
          format: int32
          type: integer
        sizeGb:
          description: Output only. Redis memory size in GB for the entire cluster
            rounded up to the next integer.
          format: int32
          readOnly: true
          type: integer
        state:
          description: "Output only. The current state of this cluster. Can be CREATING,\
            \ READY, UPDATING, DELETING and SUSPENDED"
          enum:
          - STATE_UNSPECIFIED
          - CREATING
          - ACTIVE
          - UPDATING
          - DELETING
          readOnly: true
          type: string
        stateInfo:
          $ref: '#/components/schemas/StateInfo'
        transitEncryptionMode:
          description: "Optional. The in-transit encryption for the Redis cluster.\
            \ If not provided, encryption is disabled for the cluster."
          enum:
          - TRANSIT_ENCRYPTION_MODE_UNSPECIFIED
          - TRANSIT_ENCRYPTION_MODE_DISABLED
          - TRANSIT_ENCRYPTION_MODE_SERVER_AUTHENTICATION
          type: string
        uid:
          description: "Output only. System assigned, unique identifier for the cluster."
          readOnly: true
          type: string
      type: object
    Compliance:
      description: Contains compliance information about a security standard indicating
        unmet recommendations.
      properties:
        standard:
          description: "Industry-wide compliance standards or benchmarks, such as\
            \ CIS, PCI, and OWASP."
          type: string
        version:
          description: "Version of the standard or benchmark, for example, 1.1"
          type: string
      type: object
    CustomMetadataData:
      description: Any custom metadata associated with the resource. i.e. A spanner
        instance can have multiple databases with its own unique metadata. Information
        for these individual databases can be captured in custom metadata data
      properties:
        databaseMetadata:
          items:
            $ref: '#/components/schemas/DatabaseMetadata'
          type: array
      type: object
    DatabaseMetadata:
      description: Metadata for individual databases created in an instance. i.e.
        spanner instance can have multiple databases with unique configuration settings.
      properties:
        backupConfiguration:
          $ref: '#/components/schemas/BackupConfiguration'
        backupRun:
          $ref: '#/components/schemas/BackupRun'
        product:
          $ref: '#/components/schemas/Product'
        resourceId:
          $ref: '#/components/schemas/DatabaseResourceId'
        resourceName:
          description: Required. Database name. Resource name to follow CAIS resource_name
            format as noted here go/condor-common-datamodel
          type: string
      type: object
    DatabaseResourceFeed:
      description: DatabaseResourceFeed is the top level proto to be used to ingest
        different database resource level events into Condor platform.
      properties:
        feedTimestamp:
          description: Required. Timestamp when feed is generated.
          format: google-datetime
          type: string
        feedType:
          description: Required. Type feed to be ingested into condor
          enum:
          - FEEDTYPE_UNSPECIFIED
          - RESOURCE_METADATA
          - OBSERVABILITY_DATA
          - SECURITY_FINDING_DATA
          - RECOMMENDATION_SIGNAL_DATA
          type: string
        recommendationSignalData:
          $ref: '#/components/schemas/DatabaseResourceRecommendationSignalData'
        resourceHealthSignalData:
          $ref: '#/components/schemas/DatabaseResourceHealthSignalData'
        resourceId:
          $ref: '#/components/schemas/DatabaseResourceId'
        resourceMetadata:
          $ref: '#/components/schemas/DatabaseResourceMetadata'
      type: object
    DatabaseResourceHealthSignalData:
      description: Common model for database resource health signal data.
      properties:
        additionalMetadata:
          additionalProperties:
            description: Properties of the object.
          description: Any other additional metadata
          type: object
        compliance:
          description: "Industry standards associated with this signal; if this signal\
            \ is an issue, that could be a violation of the associated industry standard(s).\
            \ For example, AUTO_BACKUP_DISABLED signal is associated with CIS GCP\
            \ 1.1, CIS GCP 1.2, CIS GCP 1.3, NIST 800-53 and ISO-27001 compliance\
            \ standards. If a database resource does not have automated backup enable,\
            \ it will violate these following industry standards."
          items:
            $ref: '#/components/schemas/Compliance'
          type: array
        description:
          description: Description associated with signal
          type: string
        eventTime:
          description: Required. The last time at which the event described by this
            signal took place
          format: google-datetime
          type: string
        externalUri:
          description: "The external-uri of the signal, using which more information\
            \ about this signal can be obtained. In GCP, this will take user to SCC\
            \ page to get more details about signals."
          type: string
        name:
          description: "Required. The name of the signal, ex: PUBLIC_SQL_INSTANCE,\
            \ SQL_LOG_ERROR_VERBOSITY etc."
          type: string
        provider:
          description: "Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged"
          enum:
          - PROVIDER_UNSPECIFIED
          - GCP
          - AWS
          - AZURE
          - ONPREM
          - SELFMANAGED
          - PROVIDER_OTHER
          type: string
        resourceContainer:
          description: "Closest parent container of this resource. In GCP, 'container'\
            \ refers to a Cloud Resource Manager project. It must be resource name\
            \ of a Cloud Resource Manager project with the format of \"provider//\"\
            , such as \"projects/123\". For GCP provided resources, number should\
            \ be project number."
          type: string
        resourceName:
          description: Required. Database resource name associated with the signal.
            Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel
          type: string
        signalClass:
          description: "Required. The class of the signal, such as if it's a THREAT\
            \ or VULNERABILITY."
          enum:
          - CLASS_UNSPECIFIED
          - THREAT
          - VULNERABILITY
          - MISCONFIGURATION
          - OBSERVATION
          - ERROR
          type: string
        signalId:
          description: Required. Unique identifier for the signal. This is an unique
            id which would be mainatined by partner to identify a signal.
          type: string
        signalType:
          description: "Required. Type of signal, for example, `AVAILABLE_IN_MULTIPLE_ZONES`,\
            \ `LOGGING_MOST_ERRORS`, etc."
          enum:
          - SIGNAL_TYPE_UNSPECIFIED
          - SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER
          - SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS
          - SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES
          - SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS
          - SIGNAL_TYPE_NO_PROMOTABLE_REPLICA
          - SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY
          - SIGNAL_TYPE_SHORT_BACKUP_RETENTION
          - SIGNAL_TYPE_LAST_BACKUP_FAILED
          - SIGNAL_TYPE_LAST_BACKUP_OLD
          - SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0
          - SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3
          - SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2
          - SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1
          - SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0
          - SIGNAL_TYPE_VIOLATES_NIST_800_53
          - SIGNAL_TYPE_VIOLATES_ISO_27001
          - SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1
          - SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING
          - SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED
          - SIGNAL_TYPE_VERBOSE_ERROR_LOGGING
          - SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED
          - SIGNAL_TYPE_LOGGING_MOST_ERRORS
          - SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS
          - SIGNAL_TYPE_MINIMAL_ERROR_LOGGING
          - SIGNAL_TYPE_QUERY_STATISTICS_LOGGED
          - SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME
          - SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS
          - SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS
          - SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS
          - SIGNAL_TYPE_LOGGING_QUERY_STATISTICS
          - SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES
          - SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED
          - SIGNAL_TYPE_USER_OPTIONS_CONFIGURED
          - SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS
          - SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS
          - SIGNAL_TYPE_NO_ROOT_PASSWORD
          - SIGNAL_TYPE_WEAK_ROOT_PASSWORD
          - SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED
          - SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED
          - SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING
          - SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS
          - SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS
          - SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED
          - SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED
          - SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO
          - SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS
          - SIGNAL_TYPE_DATABASE_NAMES_EXPOSED
          - SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED
          - SIGNAL_TYPE_PUBLIC_IP_ENABLED
          - SIGNAL_TYPE_IDLE
          - SIGNAL_TYPE_OVERPROVISIONED
          - SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES
          - SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES
          - SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION
          - SIGNAL_TYPE_UNDERPROVISIONED
          - SIGNAL_TYPE_OUT_OF_DISK
          - SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY
          - SIGNAL_TYPE_DATABASE_AUDITING_DISABLED
          - SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS
          - SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP
          type: string
          x-enumDeprecated:
          - false
          - false
          - false
          - true
          - true
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
        state:
          enum:
          - STATE_UNSPECIFIED
          - ACTIVE
          - RESOLVED
          - MUTED
          type: string
      type: object
    DatabaseResourceId:
      description: DatabaseResourceId will serve as primary key for any resource ingestion
        event.
      properties:
        provider:
          description: "Required. Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged"
          enum:
          - PROVIDER_UNSPECIFIED
          - GCP
          - AWS
          - AZURE
          - ONPREM
          - SELFMANAGED
          - PROVIDER_OTHER
          type: string
        providerDescription:
          description: Optional. Needs to be used only when the provider is PROVIDER_OTHER.
          type: string
        resourceType:
          description: "Required. The type of resource this ID is identifying. Ex\
            \ redis.googleapis.com/Instance, redis.googleapis.com/Cluster, alloydb.googleapis.com/Cluster,\
            \ alloydb.googleapis.com/Instance, spanner.googleapis.com/Instance REQUIRED\
            \ Please refer go/condor-common-datamodel"
          type: string
        uniqueId:
          description: Required. A service-local token that distinguishes this resource
            from other resources within the same service.
          type: string
      type: object
    DatabaseResourceMetadata:
      description: Common model for database resource instance metadata.
      properties:
        availabilityConfiguration:
          $ref: '#/components/schemas/AvailabilityConfiguration'
        backupConfiguration:
          $ref: '#/components/schemas/BackupConfiguration'
        backupRun:
          $ref: '#/components/schemas/BackupRun'
        creationTime:
          description: "The creation time of the resource, i.e. the time when resource\
            \ is created and recorded in partner service."
          format: google-datetime
          type: string
        currentState:
          description: Current state of the instance.
          enum:
          - STATE_UNSPECIFIED
          - HEALTHY
          - UNHEALTHY
          - SUSPENDED
          - DELETED
          - STATE_OTHER
          type: string
        customMetadata:
          $ref: '#/components/schemas/CustomMetadataData'
        entitlements:
          description: Entitlements associated with the resource
          items:
            $ref: '#/components/schemas/Entitlement'
          type: array
        expectedState:
          description: "The state that the instance is expected to be in. For example,\
            \ an instance state can transition to UNHEALTHY due to wrong patch update,\
            \ while the expected state will remain at the HEALTHY."
          enum:
          - STATE_UNSPECIFIED
          - HEALTHY
          - UNHEALTHY
          - SUSPENDED
          - DELETED
          - STATE_OTHER
          type: string
        id:
          $ref: '#/components/schemas/DatabaseResourceId'
        instanceType:
          description: The type of the instance. Specified at creation time.
          enum:
          - INSTANCE_TYPE_UNSPECIFIED
          - SUB_RESOURCE_TYPE_UNSPECIFIED
          - PRIMARY
          - SECONDARY
          - READ_REPLICA
          - OTHER
          - SUB_RESOURCE_TYPE_PRIMARY
          - SUB_RESOURCE_TYPE_SECONDARY
          - SUB_RESOURCE_TYPE_READ_REPLICA
          - SUB_RESOURCE_TYPE_OTHER
          type: string
          x-enumDeprecated:
          - true
          - false
          - true
          - true
          - true
          - true
          - false
          - false
          - false
          - false
        location:
          description: The resource location. REQUIRED
          type: string
        primaryResourceId:
          $ref: '#/components/schemas/DatabaseResourceId'
        product:
          $ref: '#/components/schemas/Product'
        resourceContainer:
          description: "Closest parent Cloud Resource Manager container of this resource.\
            \ It must be resource name of a Cloud Resource Manager project with the\
            \ format of \"/\", such as \"projects/123\". For GCP provided resources,\
            \ number should be project number."
          type: string
        resourceName:
          description: "Required. Different from DatabaseResourceId.unique_id, a resource\
            \ name can be reused over time. That is, after a resource named \"ABC\"\
            \ is deleted, the name \"ABC\" can be used to to create a new resource\
            \ within the same source. Resource name to follow CAIS resource_name format\
            \ as noted here go/condor-common-datamodel"
          type: string
        updationTime:
          description: The time at which the resource was updated and recorded at
            partner service.
          format: google-datetime
          type: string
        userLabels:
          additionalProperties:
            type: string
          description: "User-provided labels, represented as a dictionary where each\
            \ label is a single key value pair."
          type: object
      type: object
    DatabaseResourceRecommendationSignalData:
      description: Common model for database resource recommendation signal data.
      properties:
        additionalMetadata:
          additionalProperties:
            description: Properties of the object.
          description: Optional. Any other additional metadata specific to recommendation
          type: object
        lastRefreshTime:
          description: Required. last time recommendationw as refreshed
          format: google-datetime
          type: string
        recommendationState:
          description: Required. Recommendation state
          enum:
          - UNSPECIFIED
          - ACTIVE
          - CLAIMED
          - SUCCEEDED
          - FAILED
          - DISMISSED
          type: string
        recommender:
          description: "Required. Name of recommendation. Examples: organizations/1234/locations/us-central1/recommenders/google.cloudsql.instance.PerformanceRecommender/recommendations/9876"
          type: string
        recommenderId:
          description: "Required. ID of recommender. Examples: \"google.cloudsql.instance.PerformanceRecommender\""
          type: string
        recommenderSubtype:
          description: "Required. Contains an identifier for a subtype of recommendations\
            \ produced for the same recommender. Subtype is a function of content\
            \ and impact, meaning a new subtype might be added when significant changes\
            \ to `content` or `primary_impact.category` are introduced. See the Recommenders\
            \ section to see a list of subtypes for a given Recommender. Examples:\
            \ For recommender = \"google.cloudsql.instance.PerformanceRecommender\"\
            , recommender_subtype can be \"MYSQL_HIGH_NUMBER_OF_OPEN_TABLES_BEST_PRACTICE\"\
            /\"POSTGRES_HIGH_TRANSACTION_ID_UTILIZATION_BEST_PRACTICE\""
          type: string
        resourceName:
          description: Required. Database resource name associated with the signal.
            Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel
          type: string
        signalType:
          description: "Required. Type of signal, for example, `SIGNAL_TYPE_IDLE`,\
            \ `SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES`, etc."
          enum:
          - SIGNAL_TYPE_UNSPECIFIED
          - SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER
          - SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS
          - SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES
          - SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS
          - SIGNAL_TYPE_NO_PROMOTABLE_REPLICA
          - SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY
          - SIGNAL_TYPE_SHORT_BACKUP_RETENTION
          - SIGNAL_TYPE_LAST_BACKUP_FAILED
          - SIGNAL_TYPE_LAST_BACKUP_OLD
          - SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0
          - SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3
          - SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2
          - SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1
          - SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0
          - SIGNAL_TYPE_VIOLATES_NIST_800_53
          - SIGNAL_TYPE_VIOLATES_ISO_27001
          - SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1
          - SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING
          - SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED
          - SIGNAL_TYPE_VERBOSE_ERROR_LOGGING
          - SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED
          - SIGNAL_TYPE_LOGGING_MOST_ERRORS
          - SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS
          - SIGNAL_TYPE_MINIMAL_ERROR_LOGGING
          - SIGNAL_TYPE_QUERY_STATISTICS_LOGGED
          - SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME
          - SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS
          - SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS
          - SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS
          - SIGNAL_TYPE_LOGGING_QUERY_STATISTICS
          - SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES
          - SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED
          - SIGNAL_TYPE_USER_OPTIONS_CONFIGURED
          - SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS
          - SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS
          - SIGNAL_TYPE_NO_ROOT_PASSWORD
          - SIGNAL_TYPE_WEAK_ROOT_PASSWORD
          - SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED
          - SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED
          - SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING
          - SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS
          - SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS
          - SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED
          - SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED
          - SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO
          - SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS
          - SIGNAL_TYPE_DATABASE_NAMES_EXPOSED
          - SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED
          - SIGNAL_TYPE_PUBLIC_IP_ENABLED
          - SIGNAL_TYPE_IDLE
          - SIGNAL_TYPE_OVERPROVISIONED
          - SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES
          - SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES
          - SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION
[...]
