openapi: 3.0.0
info:
  contact:
    x-twitter: api_dapp
  title: ApiDapp
  version: 2019-02-14T16:47:01Z
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://i2.wp.com/apidapp.com/wp-content/uploads/2019/03/cropped-ApiDappIcon.png?fit=180%2C180&ssl=1
  x-origin:
  - format: openapi
    url: https://apidapp.s3.amazonaws.com/ApiDapp-Start-swagger-7/ApiDapp-Start-swagger+(7).json
    version: "3.0"
  x-providerName: apidapp.com
servers:
- url: https://ethereum.apidapp.com/1
paths:
  /:
    options:
      operationId: root_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    x-amazon-apigateway-any-method:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
  /account:
    options:
      operationId: account_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: Create new account
      operationId: account_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /account/{id}:
    get:
      description: Get account balance
      operationId: account_id_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: account_id_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /block:
    get:
      description: Access detailed block information
      operationId: block_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: block_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /block/{id}:
    get:
      description: Get information about particular block
      operationId: block_id_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: block_id_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /block/{id}/transaction:
    get:
      description: Get transaction count within block
      operationId: block_id_transaction_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: block_id_transaction_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /block/{id}/transaction/{index}:
    get:
      description: Get information about particular transaction within block
      operationId: block_id_transaction_index_get
      parameters:
      - explode: false
        in: path
        name: index
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: block_id_transaction_index_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Automatically added
        explode: false
        in: path
        name: index
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /blockchain:
    get:
      description: Get a list of supported blockchains
      operationId: blockchain_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: blockchain_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /blockchain/{id}:
    get:
      description: Get information about blockchain woth given id
      operationId: blockchain_id_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: blockchain_id_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /contract:
    options:
      operationId: contract_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: Create a new smart contract
      operationId: contract_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /contract/{id}:
    get:
      description: Get contract balance
      operationId: contract_id_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: contract_id_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: Call the contract
      operationId: contract_id_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /echo:
    options:
      operationId: echo_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    x-amazon-apigateway-any-method:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
  /erc20:
    get:
      description: "Get token information such as name, total amount in circulation,\
        \ etc"
      operationId: erc20_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: erc20_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      operationId: erc20_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /erc20/{address}:
    get:
      description: Get information amout token balance in the account
      operationId: erc20_address_get
      parameters:
      - explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: erc20_address_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: Transfer tokens to another account
      operationId: erc20_address_post
      parameters:
      - explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /key:
    get:
      operationId: key_get
      parameters:
      - explode: true
        in: query
        name: token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: key_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      operationId: key_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /key/{key}:
    delete:
      operationId: key_key_delete
      parameters:
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: key_key_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /transaction:
    options:
      operationId: transaction_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: Create a new transaction. Transfer Ether between accounts
      operationId: transaction_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /transaction/{hash}:
    get:
      description: Get information about transaction by the transaction hash value
      operationId: transaction_hash_get
      parameters:
      - explode: false
        in: path
        name: hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: transaction_hash_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /transaction/{hash}/receipt:
    get:
      description: Get receipt detail information
      operationId: transaction_hash_receipt_get
      parameters:
      - explode: false
        in: path
        name: hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      security:
      - Key2: []
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: transaction_hash_receipt_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /version:
    get:
      description: Get API version info
      operationId: version_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: version_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /wallet:
    get:
      description: Get current account balance
      operationId: wallet_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: wallet_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: Create personal wallet
      operationId: wallet_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /wallet/account:
    get:
      operationId: wallet_account_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: wallet_account_options
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      operationId: wallet_account_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /wallet/account/{id}:
    get:
      description: Get account balance
      operationId: wallet_account_id_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
    options:
      operationId: wallet_account_id_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /wallet/account/{id}/contract:
    post:
      operationId: wallet_account_id_contract_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /wallet/account/{id}/erc20:
    post:
      operationId: wallet_account_id_erc20_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /wallet/account/{id}/pay:
    options:
      operationId: wallet_account_id_pay_options
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: Send payment from the account held within the wallet
      operationId: wallet_account_id_pay_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: 200 response
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Empty:
      title: Empty Schema
      type: object
  securitySchemes:
    Key2:
      in: header
      name: X-Api-Key
      type: apiKey
      x-amazon-apigateway-authtype: custom
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_Key2
