openapi: 3.0.1
info:
  contact: {}
  description: "Semantria applies Text and Sentiment Analysis to tweets, facebook\
    \ posts, surveys, reviews or enterprise content."
  title: Semantria
  version: "4.0"
  x-apisguru-categories:
  - social
  - text
  x-logo:
    url: https://twitter.com/semantria/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.11
    format: swagger
    url: https://semantria.com/developer/api-docs-prod
    version: "1.2"
  x-providerName: semantria.com
externalDocs:
  url: https://semantria.com/support/developer/
servers:
- url: https://api.semantria.com/
tags:
- description: Blacklisted output
  name: Blacklist
- description: User categories
  name: Categories
- description: Configurations
  name: Configuration
- description: User entities
  name: Entities
- description: Supported features
  name: Features
- description: Sentiment-Bearing Phrases
  name: Phrases
- description: Discovery analysis
  name: ProcessingCollections
- description: Basic analysis
  name: ProcessingDocuments
- description: Queries
  name: Queries
- description: Usage statistics
  name: Statistics
- description: API status
  name: Status
- description: Subscription details
  name: Subscription
- description: Taxonomy
  name: Taxonomy
paths:
  /blacklist.{content_type}:
    delete:
      description: This method removes certain blacklisted items by their values on
        Semantria side.
      operationId: delete_blacklist_items
      parameters:
      - description: Identifier of configuration blacklist items linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              items:
                type: string
              type: array
        description: List of unique blacklisted item identifiers (string).
        required: true
        x-body-name: Blacklisted item IDs
      responses:
        "200":
          content: {}
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "403":
          content: {}
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove items from blacklist
      tags:
      - Blacklist
      x-codegen-request-body-name: Blacklisted item IDs
      x-openapi-router-controller: openapi_server.controllers.blacklist_controller
    get:
      description: This method retrieves all backlisted items available on Semantria
        side.
      operationId: get_blacklist
      parameters:
      - description: Identifier of configuration blacklist linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BlacklistItem_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BlacklistItem_ResponseVersion'
                type: array
          description: Client request accepted and queued. Server responds with the
            blacklist.
        "202":
          content: {}
          description: "Client request accepted, no blacklist found. Server responds\
            \ with empty body."
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve blacklisted items
      tags:
      - Blacklist
      x-openapi-router-controller: openapi_server.controllers.blacklist_controller
    post:
      description: This method adds new unique items to the backlist on Semantria
        side.
      operationId: add_blacklist
      parameters:
      - description: Identifier of configuration blacklist linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Blacklisted items
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BlacklistItem_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BlacklistItem_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed blacklisted items per configuration achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add items to blacklist
      tags:
      - Blacklist
      x-codegen-request-body-name: Blacklisted items
      x-openapi-router-controller: openapi_server.controllers.blacklist_controller
    put:
      description: This method updates existing items by unique IDs in the backlist
        on Semantria side.
      operationId: update_blacklist
      parameters:
      - description: Identifier of configuration blacklist linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Blacklisted items
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BlacklistItem_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BlacklistItem_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed blacklisted items per configuration achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Update items in blacklist
      tags:
      - Blacklist
      x-codegen-request-body-name: Blacklisted items
      x-openapi-router-controller: openapi_server.controllers.blacklist_controller
  /categories.{content_type}:
    delete:
      description: This method removes certain user categories by their IDs on Semantria
        side.
      operationId: delete_categories
      parameters:
      - description: Identifier of configuration user categories linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              items:
                type: string
              type: array
        description: List of user category identifiers.
        required: true
        x-body-name: Category IDs
      responses:
        "200":
          content: {}
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "403":
          content: {}
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove user categories
      tags:
      - Categories
      x-codegen-request-body-name: Category IDs
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    get:
      description: This method retrieves list of user categories available on Semantria
        side.
      operationId: get_categories
      parameters:
      - description: Identifier of configuration user categories linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Category_ResponseVersion'
                type: array
          description: Client request accepted and queued. Server responds with the
            categories list.
        "202":
          content: {}
          description: "Client request accepted, no categories found. Server responds\
            \ with empty body."
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve user categories
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    post:
      description: This method adds user categories on Semantria side.
      operationId: add_categories
      parameters:
      - description: Identifier of configuration user categories linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Categories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Category_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed categories per configuration or samples per
            category achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add user categories
      tags:
      - Categories
      x-codegen-request-body-name: Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    put:
      description: This method updates user categories by unique IDs on Semantria
        side.
      operationId: update_categories
      parameters:
      - description: Identifier of configuration user categories linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Categories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Category_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed categories per configuration or samples per
            category achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Updates user categories
      tags:
      - Categories
      x-codegen-request-body-name: Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /collection.{content_type}:
    post:
      description: "This method queues collection of documents onto the server for\
        \ analysis. Queued collection of documents analyzes in common context as entire\
        \ thing. If unique configuration ID provided, Semantria uses settings of that\
        \ configuration during analysis, in opposite the primary configuration uses.\
        \ Collection IDs are unique in scope of configuration. If the same ID appears\
        \ twice, Semantria overrides existing collection with the new Data"
      operationId: queue_collection
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: Parametrized JSON or XML object.
        required: true
        x-body-name: Collection
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
            application/xml:
              schema:
                $ref: '#/components/schemas/Collection'
          description: Client request accepted and queued. Server responds with the
            sentiment-bearing phrases list.
        "202":
          content: {}
          description: Client request accepted and queued for processing.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Documents limit per collection is achieved.
        "413":
          content: {}
          description: Characters limit for single document exceeded.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Queue collection for analysis
      tags:
      - ProcessingCollections
      x-codegen-request-body-name: Collection
      x-openapi-router-controller: openapi_server.controllers.processing_collections_controller
  /collection/processed.{content_type}:
    get:
      description: "This method retrieves analysis results for processed collections\
        \ from Semantria. FAILED collections will have FAILED status in response.\
        \ Semantria responds with limited amount of results per API call. If configuration\
        \ ID provided, Semantria responds with the collections, which were queued\
        \ using the same configuration ID, in opposite Primary configuration uses."
      operationId: retrieve_processed_collections
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionAnalyticData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CollectionAnalyticData'
          description: Client request accepted and queued. Server responds with processed
            collections.
        "202":
          content: {}
          description: "Client request accepted, no processed collections found on\
            \ the server."
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve collections analysis
      tags:
      - ProcessingCollections
      x-openapi-router-controller: openapi_server.controllers.processing_collections_controller
  /collection/{collection_id}.{content_type}:
    delete:
      description: This method cancels collection analysis by unique ID on Semantria
        side if it is waiting for analysis in queue.
      operationId: cancel_collection
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        schema:
          type: string
      - description: Collection ID
        in: path
        name: collection_id
        required: true
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Client request accepted. Document canceled from processing
            on the server.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "404":
          content: {}
          description: No collections with provided ID found on server.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Cancel collection analysis
      tags:
      - ProcessingCollections
      x-openapi-router-controller: openapi_server.controllers.processing_collections_controller
    get:
      description: This method retrieves analysis results for documents collection
        by its unique ID or the collection’s status in queue if it did not analyzed
        yet. Semantria guarantees delivering of all collections back to the client
        even if they FAILED on Semantria side due to some reason.
      operationId: receive_collection_analytic_data
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        schema:
          type: string
      - description: Collection ID
        in: path
        name: collection_id
        required: true
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionAnalyticData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CollectionAnalyticData'
          description: Client request accepted. Server responds with processed document
            or its status.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "404":
          content: {}
          description: No collections with provided ID found on server.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve collection analysis or its status in queue
      tags:
      - ProcessingCollections
      x-openapi-router-controller: openapi_server.controllers.processing_collections_controller
  /configurations.{content_type}:
    delete:
      description: This method removes certain configuration by unique ID on Semantria
        side.
      operationId: delete_configurations
      parameters:
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              items:
                type: string
              type: array
        description: List of configuration identifiers.
        required: true
        x-body-name: Configuration IDs
      responses:
        "200":
          content: {}
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "403":
          content: {}
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove user configurations
      tags:
      - Configuration
      x-codegen-request-body-name: Configuration IDs
      x-openapi-router-controller: openapi_server.controllers.configuration_controller
    get:
      description: This method retrieves all user configurations available on Semantria
        side.
      operationId: get_configurations
      parameters:
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Configuration_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Configuration_ResponseVersion'
                type: array
          description: Client request accepted. Server responds with status object.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve user configurations
      tags:
      - Configuration
      x-openapi-router-controller: openapi_server.controllers.configuration_controller
    post:
      description: This method creates configurations on Semantria side.
      operationId: add_configurations
      parameters:
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Configurations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Configuration_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Configuration_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed configurations for user subscription is reached.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Create user configurations
      tags:
      - Configuration
      x-codegen-request-body-name: Configurations
      x-openapi-router-controller: openapi_server.controllers.configuration_controller
    put:
      description: This method updates specific configurations by unique IDs on Semantria
        side.
      operationId: update_configurations
      parameters:
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Configurations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Configuration_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Configuration_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed configurations for user subscription is reached.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Update user configurations
      tags:
      - Configuration
      x-codegen-request-body-name: Configurations
      x-openapi-router-controller: openapi_server.controllers.configuration_controller
  /document.{content_type}:
    post:
      description: "This method queues document onto the server for analysis. Queued\
        \ document analyzes individually and will have its own set of results. If\
        \ unique configuration ID provided, Semantria uses settings of that configuration\
        \ during analysis, in opposite the primary configuration uses. Document IDs\
        \ are unique in scope of configuration. If the same ID appears twice, Semantria\
        \ overrides existing document with the new Data."
      operationId: queue_document
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: Parametrized JSON or XML object.
        required: true
        x-body-name: Document
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
          description: Client request accepted and queued. Server responds with the
            sentiment-bearing phrases list.
        "202":
          content: {}
          description: Client request accepted and queued for processing.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "413":
          content: {}
          description: Characters limit for the document exceeded.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Queue document for analysis
      tags:
      - ProcessingDocuments
      x-codegen-request-body-name: Document
      x-openapi-router-controller: openapi_server.controllers.processing_documents_controller
  /document/batch.{content_type}:
    post:
      description: This method queues batch of documents for analysis. The rules are
        the same as for single document mode but here the documents ordered into the
        batch.
      operationId: queue_batch_of_documents
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Batch of Documents
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
          description: Client request accepted and queued. Server responds with the
            sentiment-bearing phrases list.
        "202":
          content: {}
          description: Client request accepted and queued for processing.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "403":
          content: {}
          description: Request is forbidden for selected processing mode.
        "406":
          content: {}
          description: Documents limit per batch is achieved.
        "413":
          content: {}
          description: Characters limit for the document exceeded.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Queue batch of documents for analysis
      tags:
      - ProcessingDocuments
      x-codegen-request-body-name: Batch of Documents
      x-openapi-router-controller: openapi_server.controllers.processing_documents_controller
  /document/processed.{content_type}:
    get:
      description: "This method retrieves analysis results for processed documents\
        \ from Semantria. FAILED documents will have FAILED status in response. Semantria\
        \ responds with limited amount of results per API call. If configuration ID\
        \ provided, Semantria responds with the document, which were queued using\
        \ the same configuration ID, in opposite Primary."
      operationId: retrieve_processed_documents
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentAnalyticData'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentAnalyticData'
          description: Client request accepted and queued. Server responds with processed
            documents.
        "202":
          content: {}
          description: "Client request accepted, no processed documents found on the\
            \ server."
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve documents analysis
      tags:
      - ProcessingDocuments
      x-openapi-router-controller: openapi_server.controllers.processing_documents_controller
  /document/{document_id}.{content_type}:
    delete:
      description: This method cancels document analysis by unique ID on Semantria
        side if it is waiting for analysis in queue.
      operationId: cancel_document
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        schema:
          type: string
      - description: Document ID
        in: path
        name: document_id
        required: true
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Client request accepted. Document canceled from processing
            on the server.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "404":
          content: {}
          description: No documents with provided ID found on server.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Cancel document analysis
      tags:
      - ProcessingDocuments
      x-openapi-router-controller: openapi_server.controllers.processing_documents_controller
    get:
      description: This method retrieves analysis results for the single document
        by its unique ID or the document’s status in queue if it did not analyzed
        yet. Semantria guarantees delivering of all documents back to the client even
        if they FAILED on Semantria side due to some reason.
      operationId: receive_document_analytic_data
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        schema:
          type: string
      - description: Document ID
        in: path
        name: document_id
        required: true
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentAnalyticData'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentAnalyticData'
          description: Client request accepted. Server responds with processed document
            or its status.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "404":
          content: {}
          description: No documents with provided ID found on server.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve document analysis or its status in queue
      tags:
      - ProcessingDocuments
      x-openapi-router-controller: openapi_server.controllers.processing_documents_controller
  /entities.{content_type}:
    delete:
      description: This method removes certain user entities by their names on Semantria
        side.
      operationId: delete_entities
      parameters:
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "403":
          content: {}
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove user entities
      tags:
      - Entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
    get:
      description: This method retrieves list of user entities available on Semantria
        side.
      operationId: get_entities
      parameters:
      - description: Identifier of configuration user entities linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Entity_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Entity_ResponseVersion'
                type: array
          description: Client request accepted and queued. Server responds with the
            entities list.
        "202":
          content: {}
          description: Client request accepted and no entities found. Server responds
            with empty body.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve user entities
      tags:
      - Entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
    post:
      description: This method adds user entities on Semantria side.
      operationId: add_entities
      parameters:
      - description: Identifier of configuration user entities linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: User entities
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Entity_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Entity_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed entities per configuration achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add user entities
      tags:
      - Entities
      x-codegen-request-body-name: User entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
    put:
      description: This method updates user entities by unique IDs on Semantria side.
      operationId: update_entities
      parameters:
      - description: Identifier of configuration user entities linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: User entities
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Entity_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Entity_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed entities per configuration achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Update user entities
      tags:
      - Entities
      x-codegen-request-body-name: User entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /features.{content_type}:
    get:
      description: This method returns list of supported features per languages supported
        by Semantria API. Let the users know about API capabilities.
      operationId: get_features
      parameters:
      - description: Filter features by specified language
        in: query
        name: language
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Feature'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Feature'
                type: array
          description: Client request accepted and queued. Server responds with subscription
            details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve supported features
      tags:
      - Features
      x-openapi-router-controller: openapi_server.controllers.features_controller
  /phrases.{content_type}:
    delete:
      description: This method removes certain sentiment-bearing phrases by their
        names on Semantria side.
      operationId: delete_phrases
      parameters:
      - description: Identifier of configuration phrases linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              items:
                type: string
              type: array
        description: List of sentiment-bearing phrase identifiers.
        required: true
        x-body-name: Sentiment phrase IDs
      responses:
        "200":
          content: {}
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "403":
          content: {}
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove sentiment-bearing phrases
      tags:
      - Phrases
      x-codegen-request-body-name: Sentiment phrase IDs
      x-openapi-router-controller: openapi_server.controllers.phrases_controller
    get:
      description: This method retrieves list of sentiment-bearing phrases available
        on Semantria side.
      operationId: get_phrases
      parameters:
      - description: Identifier of configuration phrases linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Phrase_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Phrase_ResponseVersion'
                type: array
          description: Client request accepted and queued. Server responds with the
            sentiment-bearing phrases list.
        "202":
          content: {}
          description: Client request accepted and no sentiment-bearing phrases found.
            Server responds with empty body.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve sentiment-bearing phrases
      tags:
      - Phrases
      x-openapi-router-controller: openapi_server.controllers.phrases_controller
    post:
      description: This method adds sentiment-bearing phrases on Semantria side.
      operationId: add_phrases
      parameters:
      - description: Identifier of configuration phrases linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Sentiment phrases
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Phrase_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Phrase_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed sentiment-bearing phrases per configuration
            achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add sentiment-bearing phrases
      tags:
      - Phrases
      x-codegen-request-body-name: Sentiment phrases
      x-openapi-router-controller: openapi_server.controllers.phrases_controller
    put:
      description: This method updates sentiment-bearing phrases by unique IDs on
        Semantria side.
      operationId: update_phrases
      parameters:
      - description: Identifier of configuration phrases linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Sentiment phrases
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Phrase_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Phrase_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed sentiment-bearing phrases per configuration
            achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Updates sentiment-bearing phrases
      tags:
      - Phrases
      x-codegen-request-body-name: Sentiment phrases
      x-openapi-router-controller: openapi_server.controllers.phrases_controller
  /queries.{content_type}:
    delete:
      description: This method removes certain queries by their IDs on Semantria side.
      operationId: delete_queries
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              items:
                type: string
              type: array
        description: List of query identifiers.
        required: true
        x-body-name: Query IDs
      responses:
        "200":
          content: {}
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "403":
          content: {}
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove queries
      tags:
      - Queries
      x-codegen-request-body-name: Query IDs
      x-openapi-router-controller: openapi_server.controllers.queries_controller
    get:
      description: This method retrieves list of queries available on Semantria side.
      operationId: get_queries
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Query_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Query_ResponseVersion'
                type: array
          description: Client request accepted and queued. Server responds with the
            queries list.
        "202":
          content: {}
          description: Client request accepted and no queries found. Server responds
            with empty body.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve queries
      tags:
      - Queries
      x-openapi-router-controller: openapi_server.controllers.queries_controller
    post:
      description: This method adds queries on Semantria side.
      operationId: add_queries
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Queries
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Query_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Query_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed queries per configuration achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add or update queries
      tags:
      - Queries
      x-codegen-request-body-name: Queries
      x-openapi-router-controller: openapi_server.controllers.queries_controller
    put:
      description: This method updates queries by unique IDs on Semantria side.
      operationId: update_queries
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Queries
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Query_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Query_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed queries per configuration achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Update queries
      tags:
      - Queries
      x-codegen-request-body-name: Queries
      x-openapi-router-controller: openapi_server.controllers.queries_controller
  /statistics.{content_type}:
    get:
      description: "This method retrieves overall and per configuration usage statistics\
        \ for specific timeframe. Statistics ordered per available configurations.\
        \ Available interval values are current <b>hour</b>, <b>day</b>, <b>week</b>,\
        \ <b>month</b> and <b>year</b>."
      operationId: get_statistic
      parameters:
      - description: Configuration identifier for usage statistics retrieving.
        in: query
        name: config_id
        schema:
          type: string
      - description: "Hour, Day, Week, Month, Year values are supported."
        in: query
        name: interval
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistic'
            application/xml:
              schema:
                $ref: '#/components/schemas/Statistic'
          description: Client request accepted. Server responds with statistics details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve usage statistics
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /status.{content_type}:
    get:
      description: "This method retrieves API status information such as the app version,\
        \ current API version, supported languages and encodings, the overall service\
        \ status, etc."
      operationId: get_status
      parameters:
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
            application/xml:
              schema:
                $ref: '#/components/schemas/Status'
          description: Client request accepted. Server responds with status object.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve API status
      tags:
      - Status
      x-openapi-router-controller: openapi_server.controllers.status_controller
  /subscription.{content_type}:
    get:
      description: "This method retrieves user's subscription details that consist\
        \ of the list of allowed features, configured limits and options on Semantria\
        \ side."
      operationId: get_subscription
      parameters:
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
            application/xml:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Client request accepted and queued. Server responds with subscription
            details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve subscription details
      tags:
      - Subscription
      x-openapi-router-controller: openapi_server.controllers.subscription_controller
  /taxonomy.{content_type}:
    delete:
      description: This method removes certain taxonomy nodes by their IDs on Semantria
        side.
      operationId: delete_taxonomy
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              items:
                type: string
              type: array
        description: List of taxonomy node identifiers.
        required: true
        x-body-name: Taxonomy node IDs
      responses:
        "200":
          content: {}
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "403":
          content: {}
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove taxonomy nodes
      tags:
      - Taxonomy
      x-codegen-request-body-name: Taxonomy node IDs
      x-openapi-router-controller: openapi_server.controllers.taxonomy_controller
    get:
      description: This method retrieves list of taxonomy available on Semantria side.
      operationId: get_taxonomy
      parameters:
      - description: Identifier of configuration taxonomy linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TaxonomyNode_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TaxonomyNode_ResponseVersion'
                type: array
          description: Client request accepted and queued. Server responds with the
            taxonomy list.
        "202":
          content: {}
          description: Client request accepted and no taxonomy found. Server responds
            with empty body.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve taxonomy
      tags:
      - Taxonomy
      x-openapi-router-controller: openapi_server.controllers.taxonomy_controller
    post:
      description: This method adds taxonomy nodes on Semantria side.
      operationId: add_taxonomy
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Taxonomy
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TaxonomyNode_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TaxonomyNode_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed queries per configuration achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add taxonomy nodes
      tags:
      - Taxonomy
      x-codegen-request-body-name: Taxonomy
      x-openapi-router-controller: openapi_server.controllers.taxonomy_controller
    put:
      description: This method updates taxonomy nodes on Semantria side.
      operationId: update_taxonomy
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        schema:
          type: string
      - in: path
        name: content_type
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Request%20class'
        description: List of parametrized JSON or XML objects.
        required: true
        x-body-name: Taxonomy
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TaxonomyNode_ResponseVersion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/TaxonomyNode_ResponseVersion'
                type: array
          description: No response was specified
        "202":
          content: {}
          description: Client request accepted and queued.
        "400":
          content: {}
          description: Incoming request body is incorrect. Server responds with details.
        "401":
          content: {}
          description: Authentication failed.
        "402":
          content: {}
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        "406":
          content: {}
          description: Number of allowed queries per configuration achieved.
        "500":
          content: {}
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Update taxonomy nodes
      tags:
      - Taxonomy
      x-codegen-request-body-name: Taxonomy
      x-openapi-router-controller: openapi_server.controllers.taxonomy_controller
components:
  schemas:
    Attribute:
      example:
        mentions:
        - is_negated: true
          negating_phrase: negating_phrase
          locations:
          - offset: 5
            length: 1
            index: 6
          - offset: 5
            length: 1
            index: 6
          label: label
        - is_negated: true
          negating_phrase: negating_phrase
          locations:
          - offset: 5
            length: 1
            index: 6
          - offset: 5
            length: 1
            index: 6
          label: label
        count: 0
        label: label
      properties:
        count:
          description: The count of occurrences of the attribute across the documents
          minimum: 0
          title: count
          type: integer
        label:
          description: The text of the attribute
          title: label
          type: string
        mentions:
          description: Returns genuine forms of attribute mentioned across the documents
          items:
            $ref: '#/components/schemas/Mention'
          title: mentions
          type: array
      required:
      - count
      - label
      - mentions
      title: Attribute
      type: object
    AutoCategory:
      example:
        sentiment_score: 6.027456183070403
        strength_score: 1.4658129805029452
        categories:
        - strength_score: 0.8008281904610115
          title: title
          type: type
        - strength_score: 0.8008281904610115
          title: title
          type: type
        title: title
        type: type
        sentiment_polarity: negative
      properties:
        categories:
          description: List of sub-categories of the current category if applicable
          items:
            $ref: '#/components/schemas/SubCategory'
          title: categories
          type: array
        sentiment_polarity:
          description: "Verbal representation of sentiment score. Can be \"negative\"\
            , \"positive\" or \"neutral\""
          enum:
          - negative
          - positive
          - neutral
          title: sentiment_polarity
          type: string
        sentiment_score:
          description: The sentiment score associated with this category
          format: double
          title: sentiment_score
          type: number
        strength_score:
          description: Strength of the category matches with the document content
          format: double
          title: strength_score
          type: number
        title:
          description: "The category title, which is its label in the text"
          title: title
          type: string
        type:
          description: Type of category; can be either "node" (root level) or "leaf"
            (nested) value
          title: type
          type: string
      required:
      - categories
      - sentiment_polarity
      - sentiment_score
      - strength_score
      - title
      - type
      title: AutoCategory
      type: object
    BlacklistItem_InsertVersion:
      properties:
        name:
          description: Blacklist item name
          type: string
      required:
      - name
      type: object
    BlacklistItem_ResponseVersion:
      example:
        name: name
        modified: modified
        id: id
      properties:
        id:
          description: Unique blacklist item identifier
          title: id
          type: string
        modified:
          description: The timestamp of the latest update of the record. Creation
            date of update didn't occur
          title: modified
          type: string
        name:
          description: Blacklist item name
          title: name
          type: string
      required:
      - id
      - modified
      - name
      title: BlacklistItem_ResponseVersion
      type: object
    BlacklistItem_UpdateVersion:
      properties:
        id:
          description: Unique blacklist item identifier
          type: string
        name:
          description: Blacklist item name
          type: string
      required:
      - id
      - name
      type: object
    Category_InsertVersion:
      properties:
        name:
          description: Category name
          type: string
        samples:
          description: Category samples
          items:
            type: string
          type: array
        weight:
          description: Category weight
          format: float
          type: number
      required:
      - name
      - samples
      - weight
      type: object
    Category_ResponseVersion:
      example:
        name: name
        modified: modified
        weight: 0.8008282
        id: id
        samples:
        - samples
        - samples
      properties:
        id:
          description: Unique category identifier
          title: id
          type: string
        modified:
          description: The timestamp of the latest update of the record. Creation
            date of update didn't occur
          title: modified
          type: string
        name:
          description: Category name
          title: name
          type: string
        samples:
          description: Category samples
          items:
            type: string
          title: samples
          type: array
        weight:
          description: Category weight
          format: float
          title: weight
          type: number
      required:
      - id
      - modified
      - name
      - samples
      - weight
      title: Category_ResponseVersion
      type: object
    Category_UpdateVersion:
      properties:
        id:
          description: Unique category identifier
          type: string
        name:
          description: Category name
          type: string
        samples:
          description: Category samples
          items:
            type: string
          type: array
        weight:
          description: Category weight
          format: float
          type: number
      required:
      - id
      - name
      - samples
      - weight
      type: object
    Collection:
      example:
        documents:
        - documents
        - documents
        job_id: job_id
        id: id
        tag: tag
      properties:
        documents:
          description: List of documents text that need to be analyzed by the service
          items:
            type: string
          title: documents
          type: array
        id:
          description: Up to 32 symbols unique identifier of document assigned and
            tracked by client
          title: id
          type: string
        job_id:
          description: Specific marker of incoming job that can be used then for collections
            retrieving
          title: job_id
          type: string
        tag:
          description: Any text of up to 50 characters used like marker
          title: tag
          type: string
      required:
      - documents
      - id
      - job_id
      - tag
      title: Collection
      type: object
    CollectionAnalyticData:
      example:
        themes:
        - sentiment_score: 6.84685269835264
          themes_count: 0
          stemmed: stemmed
          phrases_count: 0
          normalized: normalized
          mentions:
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          title: title
          sentiment_polarity: negative
        - sentiment_score: 6.84685269835264
          themes_count: 0
          stemmed: stemmed
          phrases_count: 0
          normalized: normalized
          mentions:
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          title: title
          sentiment_polarity: negative
        config_id: config_id
        entities:
        - entity_type: entity_type
          positive_count: 0
          mentions:
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          neutral_count: 0
          count: 0
          negative_count: 0
          label: label
          title: title
          type: named
        - entity_type: entity_type
          positive_count: 0
          mentions:
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          neutral_count: 0
          count: 0
          negative_count: 0
          label: label
          title: title
          type: named
        job_id: job_id
        topics:
        - sentiment_score: 1.0246457001441578
          id: id
          title: title
          type: concept
          hitcount: 0
          sentiment_polarity: negative
        - sentiment_score: 1.0246457001441578
          id: id
          title: title
          type: concept
          hitcount: 0
          sentiment_polarity: negative
        id: id
        tag: tag
        taxonomy:
        - sentiment_score: 1.0246457001441578
          id: id
          title: title
          type: concept
          hitcount: 0
          sentiment_polarity: negative
        - sentiment_score: 1.0246457001441578
          id: id
          title: title
          type: concept
          hitcount: 0
          sentiment_polarity: negative
        facets:
        - positive_count: 0
          mentions:
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          neutral_count: 0
          count: 0
          negative_count: 0
          attributes:
          - mentions:
            - is_negated: true
              negating_phrase: negating_phrase
              locations:
              - offset: 5
                length: 1
                index: 6
              - offset: 5
                length: 1
                index: 6
              label: label
            - is_negated: true
              negating_phrase: negating_phrase
              locations:
              - offset: 5
                length: 1
                index: 6
              - offset: 5
                length: 1
                index: 6
              label: label
            count: 0
            label: label
          - mentions:
            - is_negated: true
              negating_phrase: negating_phrase
              locations:
              - offset: 5
                length: 1
                index: 6
              - offset: 5
                length: 1
                index: 6
              label: label
            - is_negated: true
              negating_phrase: negating_phrase
              locations:
              - offset: 5
                length: 1
                index: 6
              - offset: 5
                length: 1
                index: 6
              label: label
            count: 0
            label: label
          label: label
        - positive_count: 0
          mentions:
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          - is_negated: true
            negating_phrase: negating_phrase
            locations:
            - offset: 5
              length: 1
              index: 6
            - offset: 5
              length: 1
              index: 6
            label: label
          neutral_count: 0
          count: 0
          negative_count: 0
          attributes:
          - mentions:
            - is_negated: true
              negating_phrase: negating_phrase
              locations:
              - offset: 5
                length: 1
                index: 6
              - offset: 5
                length: 1
                index: 6
              label: label
            - is_negated: true
              negating_phrase: negating_phrase
              locations:
              - offset: 5
                length: 1
                index: 6
              - offset: 5
                length: 1
                index: 6
              label: label
            count: 0
            label: label
          - mentions:
            - is_negated: true
              negating_phrase: negating_phrase
              locations:
              - offset: 5
                length: 1
                index: 6
              - offset: 5
                length: 1
                index: 6
              label: label
            - is_negated: true
              negating_phrase: negating_phrase
              locations:
              - offset: 5
                length: 1
                index: 6
              - offset: 5
                length: 1
                index: 6
              label: label
            count: 0
            label: label
          label: label
        status: queued
      properties:
        config_id:
          description: Unique configuration identifier. Usually 36 alphanumeric characters
          title: config_id
          type: string
        entities:
          description: Returns the named entities and user defined entities from the
            text
          items:
            $ref: '#/components/schemas/Entity'
          title: entities
          type: array
        facets:
          description: Returns the facets extracted across all documents in the collection
          items:
            $ref: '#/components/schemas/Facet'
          title: facets
          type: array
        id:
          description: Unique collection identifier. Can be up to 36 alphanumeric
            characters
          title: id
          type: string
        job_id:
          description: "Specific marker of a job collection belongs to, can be used\
            \ for collections ordering on client side."
          title: job_id
          type: string
        status:
          description: Status of the collection
          enum:
          - queued
          - processed
          - failed
          title: status
          type: string
        tag:
          description: Any text of up to 50 characters used like marker
          title: tag
          type: string
        taxonomy:
          description: Returns the taxonomy determined for the text
          items:
            $ref: '#/components/schemas/Topic'
          title: taxonomy
          type: array
        themes:
          description: Returns themes across the documents
          items:
            $ref: '#/components/schemas/Theme'
          title: themes
          type: array
        topics:
          description: Returns the concept and query defined topics determined for
            the text
          items:
            $ref: '#/components/schemas/Topic'
          title: topics
          type: array
      required:
      - config_id
      - entities
      - facets
      - id
      - job_id
      - status
      - tag
      - taxonomy
      - themes
      - topics
      title: CollectionAnalyticData
      type: object
    ConfigurationCollectionSection:
      example:
        themes_limit: 14
        facets_limit: 14
        facet_mentions_limit: 4
        user_entities_limit: 2
        named_entities_limit: 18
        user_mentions_limit: 2
        attribute_mentions_limit: 2
        facet_atts_limit: 11
        named_mentions_limit: 7
        concept_topics_limit: 11
        theme_mentions_limit: 8
        query_topics_limit: 4
      properties:
        attribute_mentions_limit:
          description: "Limits the number of mentions of attribute responded from\
            \ the server. Default: 0"
          maximum: 20
          minimum: 0
          title: attribute_mentions_limit
          type: integer
        concept_topics_limit:
          description: "Limits the number of concept topics responded from the service.\
            \ Default: 5"
          maximum: 20
          minimum: 0
          title: concept_topics_limit
          type: integer
        facet_atts_limit:
          description: "Limits the number of facets which will be responded from the\
            \ server. Default: 5"
          maximum: 20
          minimum: 0
          title: facet_atts_limit
          type: integer
        facet_mentions_limit:
          description: "Limits the number of mentions of facet responded from the\
            \ server. Default: 0"
          maximum: 20
          minimum: 0
          title: facet_mentions_limit
          type: integer
        facets_limit:
          description: "Limits the number of facets which will be responded from the\
            \ server.  Default: 15"
          maximum: 20
          minimum: 0
          title: facets_limit
          type: integer
        named_entities_limit:
          description: "Limits the number of named entities responded from the service.\
            \ Default: 5"
          maximum: 20
          minimum: 0
          title: named_entities_limit
          type: integer
        named_mentions_limit:
          description: "Limits the number of mentions of theme responded from the\
            \ server. Default: 0"
          maximum: 20
          minimum: 0
          title: named_mentions_limit
          type: integer
        query_topics_limit:
          description: "Limits the number of query topics responded from the service.\
            \ Default: 5"
          maximum: 20
          minimum: 0
          title: query_topics_limit
          type: integer
        theme_mentions_limit:
          description: "Limits the number of entity mentions responded from the server.\
            \ Default: 0"
          maximum: 20
          minimum: 0
          title: theme_mentions_limit
          type: integer
        themes_limit:
          description: "Limits the number of themes responded from the service. Default:\
            \ 5"
          maximum: 20
          minimum: 0
          title: themes_limit
          type: integer
        user_entities_limit:
          description: "Limits the number of user entities the service responds. Default:\
            \ 15"
          maximum: 20
          minimum: 0
          title: user_entities_limit
          type: integer
        user_mentions_limit:
          description: "Limits the number of user entity mentions the service responds.\
            \ Default: 0"
          maximum: 20
          minimum: 0
          title: user_mentions_limit
          type: integer
      required:
      - attribute_mentions_limit
      - concept_topics_limit
      - facet_atts_limit
      - facet_mentions_limit
      - facets_limit
      - named_entities_limit
      - named_mentions_limit
      - query_topics_limit
      - theme_mentions_limit
      - themes_limit
      - user_entities_limit
      - user_mentions_limit
      title: ConfigurationCollectionSection
      type: object
    ConfigurationDocumentSection:
      example:
        themes_limit: 7
        user_opinions_limit: 5
        user_relations_limit: 13
        user_mentions_limit: 2
        possible_phrases_limit: 13
        named_opinions_limit: 10
        intentions: true
        named_relations_limit: 19
        concept_topics_limit: 13
        theme_mentions_limit: 12
        detect_language: true
        query_topics_limit: 17
        user_entities_limit: 13
        named_entities_limit: 2
        summary_limit: 18
        entity_themes_limit: 14
        pos_types: All
        named_mentions_limit: 9
        auto_categories_limit: 2
        phrases_limit: 18
        model_sentiment: true
      properties:
        auto_categories_limit:
          description: "Limits the number of auto categories the service responds.\
            \ Default: 5"
          maximum: 20
          minimum: 0
          title: auto_categories_limit
          type: integer
        concept_topics_limit:
          description: "Limits the number of concept topics the service responds.\
            \ Default: 5"
          maximum: 20
          minimum: 0
          title: concept_topics_limit
          type: integer
        detect_language:
          description: "Switches on language detection feature. Default: true"
          title: detect_language
          type: boolean
        entity_themes_limit:
          description: "Limits the number of entity themes the service responds. Default:\
            \ 0"
          maximum: 20
          minimum: 0
          title: entity_themes_limit
          type: integer
        intentions:
          description: "Switches on intentions detection feature. Default: false"
          title: intentions
          type: boolean
        model_sentiment:
          description: "Switches on/off model-based sentiment feature. Default: false"
          title: model_sentiment
          type: boolean
        named_entities_limit:
          description: "Limits the number of named entities the service responds.\
            \ Default: 5"
          maximum: 20
          minimum: 0
          title: named_entities_limit
          type: integer
        named_mentions_limit:
          description: "Limits the number of named entity related mentions. Default:\
            \ 0"
          maximum: 20
          minimum: 0
          title: named_mentions_limit
          type: integer
        named_opinions_limit:
          description: "Limits the number of named entity opinions the service responds.\
            \ Default: 0"
          maximum: 20
          minimum: 0
          title: named_opinions_limit
          type: integer
        named_relations_limit:
          description: "Limits the number of named entity relations the service responds.\
            \ Default: 0"
          maximum: 20
          minimum: 0
          title: named_relations_limit
          type: integer
        phrases_limit:
          description: "Limits the number of responded sentiment-bearing phrases for\
            \ document. Default: 0"
          maximum: 20
          minimum: 0
          title: phrases_limit
          type: integer
        pos_types:
          description: Defines parts-of-speech which will be responded by the server
          enum:
          - All
          - Noun
          - Verb
          - Adjective
          - Determiner
          - Misc
          - Twitter
          - Chinese
          title: pos_types
          type: string
        possible_phrases_limit:
          description: "Limits the number of responded possible phrases which may\
            \ affect on sentiment score extraction. Default: 0"
          maximum: 20
          minimum: 0
          title: possible_phrases_limit
[...]
