openapi: 3.0.0
info:
  contact:
    email: RGD.Data2@mcw.edu
    name: Rat Genome Database
    url: http://rgd.mcw.edu
    x-twitter: medicalcollege
  description: The RGD REST API provides programmatic access to information and annotation
    stored in the Rat Genome Database
  license:
    name: Creative Commons
    url: https://creativecommons.org/licenses/by/4.0/legalcode
  termsOfService: http://rgd.mcw.edu/wg/citing-rgd
  title: Rat Genome Database REST API
  version: "1.1"
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://twitter.com/medicalcollege/profile_image?size=original
  x-origin:
  - format: swagger
    url: http://rest.rgd.mcw.edu/rgdws/v2/api-docs
    version: "2.0"
  - format: openapi
    url: http://rest.rgd.mcw.edu/rgdws/v2/api-docs
    version: "3.0"
  x-providerName: mcw.edu
servers:
- url: //rest.rgd.mcw.edu/rgdws
tags:
- description: Alliance of Genome Resources
  name: AGR
- name: Annotation
- name: Gene
- name: Lookup
- description: Map Web Service
  name: Map
- description: NIH Data Commons
  name: NIHdatacommons
- description: Ontology Web Service
  name: Ontology
- name: Pathway
- name: Phenotype
- name: QTL
- description: Phenotype Web Service
  name: Quantitative Phenotype
- name: Rat Strain
- description: SSLP Web Service
  name: SSLP
- description: Stats Web Service
  name: Statistics
- description: Enrichment Web Service
  name: enrichment-web-service
paths:
  /agr/affectedGenomicModels/{taxonId}:
    get:
      operationId: get_affected_genomic_models_using_get
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get affected genomic models (rat strains with gene alleles) submitted
        by RGD to AGR by taxonId
      tags:
      - AGR
      x-openapi-router-controller: openapi_server.controllers.agr_controller
  /agr/alleles/{taxonId}:
    get:
      operationId: get_alleles_for_taxon_using_get
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get gene allele records submitted by RGD to AGR by taxonId
      tags:
      - AGR
      x-openapi-router-controller: openapi_server.controllers.agr_controller
  /agr/expression/{taxonId}:
    get:
      operationId: get_expression_for_taxon_using_get
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get expression annotations submitted by RGD to AGR by taxonId
      tags:
      - AGR
      x-openapi-router-controller: openapi_server.controllers.agr_controller
  /agr/phenotypes/{taxonId}:
    get:
      operationId: get_phenotypes_for_taxon_using_get
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get phenotype annotations submitted by RGD to AGR by taxonId
      tags:
      - AGR
      x-openapi-router-controller: openapi_server.controllers.agr_controller
  /agr/variants/{taxonId}:
    get:
      operationId: get_variants_for_taxon_using_get
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get basic variant records submitted by RGD to AGR by taxonId
      tags:
      - AGR
      x-openapi-router-controller: openapi_server.controllers.agr_controller
  /agr/{taxonId}:
    get:
      operationId: get_genes_for_latest_assembly_using_get
      parameters:
      - description: The taxon ID for species
        explode: false
        in: path
        name: taxonId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get gene records submitted by RGD to AGR by taxonId
      tags:
      - AGR
      x-openapi-router-controller: openapi_server.controllers.agr_controller
  /annotations/:
    post:
      operationId: get_annotations_using_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnotationRequest'
        description: data
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes annotated to an ontology term
      tags:
      - Annotation
      x-openapi-router-controller: openapi_server.controllers.annotation_controller
      x-codegen-request-body-name: body
  /annotations/accId/{rgdId}:
    get:
      operationId: get_term_acc_ids_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MapPair'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list ontology term accession IDs annotated to an rgd object
      tags:
      - Annotation
      x-openapi-router-controller: openapi_server.controllers.annotation_controller
  /annotations/count/{accId}/{includeChildren}:
    get:
      operationId: get_annotation_count_by_acc_id_using_get
      parameters:
      - description: Ontology term accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: "true: return annotations for the term and children, false: return\
          \ annotations for the term only "
        explode: false
        in: path
        name: includeChildren
        required: true
        schema:
          type: boolean
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns annotation count for ontology accession ID
      tags:
      - Annotation
      x-openapi-router-controller: openapi_server.controllers.annotation_controller
  /annotations/count/{accId}/{speciesTypeKey}/{includeChildren}:
    get:
      operationId: get_annotation_count_by_acc_id_and_species_using_get
      parameters:
      - description: Ontology term accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: A list of species type keys can be found using the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "true: return annotations for the term and children, false: return\
          \ annotations for the term only "
        explode: false
        in: path
        name: includeChildren
        required: true
        schema:
          type: boolean
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns annotation count for ontology accession ID and speicies
      tags:
      - Annotation
      x-openapi-router-controller: openapi_server.controllers.annotation_controller
  /annotations/count/{accId}/{speciesTypeKey}/{includeChildren}/{objectType}:
    get:
      operationId: get_annotation_count_by_acc_id_and_object_type_using_get
      parameters:
      - description: Ontology term accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: A list of species type keys can be found using the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "true: return annotations for the term and children, false: return\
          \ annotations for the term only "
        explode: false
        in: path
        name: includeChildren
        required: true
        schema:
          type: boolean
        style: simple
      - description: A list of object types can be found using the lookup service
        explode: false
        in: path
        name: objectType
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns annotation count for ontology accession ID and object type
      tags:
      - Annotation
      x-openapi-router-controller: openapi_server.controllers.annotation_controller
  /annotations/reference/{refRgdId}:
    get:
      operationId: get_annots_by_refrerence_using_get
      parameters:
      - description: Reference RGD ID
        explode: false
        in: path
        name: refRgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list of annotations for a reference
      tags:
      - Annotation
      x-openapi-router-controller: openapi_server.controllers.annotation_controller
  /annotations/rgdId/{rgdId}:
    get:
      operationId: get_annotations_by_rgd_id_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list of annotations by RGD ID
      tags:
      - Annotation
      x-openapi-router-controller: openapi_server.controllers.annotation_controller
  /annotations/rgdId/{rgdId}/{ontologyPrefix}:
    get:
      operationId: get_annotations_by_rgd_id_and_ontology_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "Ontology Prefix.  The prefix can be found left of the semicolon\
          \ in an ontology term accession ID.  As an example, term accession PW:0000034\
          \ has the ontology prefix PW"
        explode: false
        in: path
        name: ontologyPrefix
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list of annotations by RGD ID and ontology prefix
      tags:
      - Annotation
      x-openapi-router-controller: openapi_server.controllers.annotation_controller
  /annotations/{accId}/{rgdId}:
    get:
      operationId: get_annotations_by_acc_id_and_rgd_id_using_get
      parameters:
      - description: Ontology Term Accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list of annotations by RGD ID and ontology term accession
        ID
      tags:
      - Annotation
      x-openapi-router-controller: openapi_server.controllers.annotation_controller
  /annotations/{accId}/{speciesTypeKey}/{includeChildren}:
    get:
      operationId: get_annotations_using_get
      parameters:
      - description: Ontology term accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: A list of species type keys can be found using the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "true: return annotations for the term and children, false: return\
          \ annotations for the term only "
        explode: false
        in: path
        name: includeChildren
        required: true
        schema:
          type: boolean
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list annotations for an ontology term or a term and it's
        children
      tags:
      - Annotation
      x-openapi-router-controller: openapi_server.controllers.annotation_controller
  /enrichment/annotatedGenes:
    post:
      operationId: get_enrichment_data_using_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichmentGeneRequest'
        description: geneRequest
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes annotated to the term.Genes are rgdids separated
        by comma.Species type is an integer value.term is the ontology
      tags:
      - enrichment-web-service
      x-openapi-router-controller: openapi_server.controllers.enrichment_web_service_controller
      x-codegen-request-body-name: body
  /enrichment/data:
    post:
      operationId: get_enrichment_data_using_post1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichmentRequest'
        description: enrichmentRequest
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a chart of ontology terms annotated to the genes.Genes are rgdids
        separated by comma.Species type is an integer value.Aspect is the Ontology
        group
      tags:
      - enrichment-web-service
      x-openapi-router-controller: openapi_server.controllers.enrichment_web_service_controller
      x-codegen-request-body-name: body
  /genes/affyId/{affyId}/{speciesTypeKey}:
    get:
      operationId: get_genes_by_affy_id_using_get
      parameters:
      - description: Affymetrix ID
        explode: false
        in: path
        name: affyId
        required: true
        schema:
          type: string
        style: simple
      - description: A list of RGD species type keys can be found in the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes for an affymetrix ID
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/alias/{aliasSymbol}/{speciesTypeKey}:
    get:
      operationId: get_genes_by_alias_symbol_using_get
      parameters:
      - description: Gene alias symbol
        explode: false
        in: path
        name: aliasSymbol
        required: true
        schema:
          type: string
        style: simple
      - description: A list of RGD species type keys can be found in the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes for an alias and species
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/allele/{rgdId}:
    get:
      operationId: get_gene_alleles_using_get
      parameters:
      - description: RGD ID of gene
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of gene alleles
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/annotation:
    post:
      operationId: get_annotated_genes_using_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnotatedGeneRequest'
        description: data
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes annotated to an ontology term
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
      x-codegen-request-body-name: body
  /genes/annotation/{accId}:
    get:
      operationId: get_all_annotated_genes_using_get
      parameters:
      - description: Accesstion ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes annotated to an ontology term
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/annotation/{accId}/{speciesTypeKey}:
    get:
      operationId: get_genes_annotated_using_get
      parameters:
      - description: Ontology term accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      - description: Species type key.  A list of species type keys can be found in
          the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes annotated to an ontology term
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/keyword/{keyword}/{speciesTypeKey}:
    get:
      operationId: get_genes_by_keyword_using_get
      parameters:
      - description: Search keyword
        explode: false
        in: path
        name: keyword
        required: true
        schema:
          type: string
        style: simple
      - description: Species type key.  A list of species type keys can be found in
          the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes by keyword and species type key
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/map/{mapKey}:
    get:
      operationId: get_gene_by_map_key_using_get
      parameters:
      - description: A list of RGD assembly map keys can be found in the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MappedGene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of all genes with position information for an assembly
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/mapped/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: get_mapped_genes_by_position_using_get
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of RGD assembly map keys can be found in the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MappedGene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes position and map key
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/orthologs:
    post:
      operationId: get_orthologs_by_list_using_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrthologRequest'
        description: orthologRequest
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/Gene'
                  type: array
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of gene orthologs
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
      x-codegen-request-body-name: body
  /genes/orthologs/{rgdId}:
    get:
      operationId: get_gene_orthologs_using_get
      parameters:
      - description: RGD ID of a gene
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of gene orthologs
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/region/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: get_genes_in_region_using_get
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of RGD assembly map keys can be found in the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MappedGenePosition'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes in region
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/species/{speciesTypeKey}:
    get:
      operationId: get_genes_by_species_using_get
      parameters:
      - description: A list of RGD species type keys can be found in the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of all genes for a species in RGD
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: get_genes_by_position_using_get
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of RGD assembly map keys can be found in the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Gene'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of genes position and map key
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/{rgdId}:
    get:
      operationId: get_gene_by_rgd_id_using_get
      parameters:
      - description: The RGD ID of a Gene in RGD
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Gene'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get a gene record by RGD ID
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /genes/{symbol}/{speciesTypeKey}:
    get:
      operationId: get_gene_by_symbol_using_get
      parameters:
      - description: Gene Symbol
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      - description: Species type key.  A list of species type keys can be found in
          the lookup service
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Gene'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get a gene record by symbol and species type key
      tags:
      - Gene
      x-openapi-router-controller: openapi_server.controllers.gene_controller
  /lookup/geneTypes:
    get:
      operationId: get_gene_types_using_get
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list of gene types avialable in RGD
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/id/map/EnsemblGene:
    post:
      operationId: get_ensembl_gene_mapping_using_post
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to Ensembl Gene IDs
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
      x-codegen-request-body-name: body
  /lookup/id/map/EnsemblGene/{rgdId}:
    get:
      operationId: get_ensembl_gene_mapping_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an Ensembl Gene  ID
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/id/map/EnsemblProtein:
    post:
      operationId: get_ensembl_protein_mapping_using_post
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to Ensembl Protein IDs
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
      x-codegen-request-body-name: body
  /lookup/id/map/EnsemblProtein/{rgdId}:
    get:
      operationId: get_ensembl_protein_mapping_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an Ensembl Protein ID
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/id/map/EnsemblTranscript:
    post:
      operationId: get_ensembl_transcript_mapping_using_post
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to Ensembl Transcript IDs
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
      x-codegen-request-body-name: body
  /lookup/id/map/EnsemblTranscript/{rgdId}:
    get:
      operationId: get_ensembl_transcript_mapping_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an Ensembl Transcript ID
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/id/map/GTEx:
    post:
      operationId: get_gtex_mapping_using_post
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to GTEx IDs
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
      x-codegen-request-body-name: body
  /lookup/id/map/GTEx/{rgdId}:
    get:
      operationId: get_gtex_mapping_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an GTEx ID
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/id/map/GenBankNucleotide:
    post:
      operationId: get_gen_bank_nucleotide_mapping_using_post
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to GenBank Nucleotide IDs
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
      x-codegen-request-body-name: body
  /lookup/id/map/GenBankNucleotide/{rgdId}:
    get:
      operationId: get_gen_bank_nucleotide_mapping_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to a GenBank Nucleotide ID
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/id/map/GenBankProtein:
    post:
      operationId: get_gen_bank_protein_mapping_using_post
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to GenBank Protein IDs
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
      x-codegen-request-body-name: body
  /lookup/id/map/GenBankProtein/{rgdId}:
    get:
      operationId: get_gen_bank_protein_mapping_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to a GenBank Protein ID
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/id/map/HGNC:
    post:
      operationId: get_hgnc_mapping_using_post
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to HGNC IDs
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
      x-codegen-request-body-name: body
  /lookup/id/map/HGNC/{rgdId}:
    get:
      operationId: get_hgnc_mapping_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an HGNC ID
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/id/map/MGI:
    post:
      operationId: get_mgi_mapping_using_post
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to MGI IDs
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
      x-codegen-request-body-name: body
  /lookup/id/map/MGI/{rgdId}:
    get:
      operationId: get_mgi_mapping_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an MGI ID
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/id/map/NCBIGene:
    post:
      operationId: get_ncbi_gene_mapping_using_post
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to NCBI Gene IDs
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
      x-codegen-request-body-name: body
  /lookup/id/map/NCBIGene/{rgdId}:
    get:
      operationId: get_ncbi_gene_mapping_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to an NCBI Gene ID
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/id/map/UniProt:
    post:
      operationId: get_uni_prot_mapping_using_post
      requestBody:
        $ref: '#/components/requestBodies/RGDIDListRequest'
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate RGD IDs to UniProt IDs
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
      x-codegen-request-body-name: body
  /lookup/id/map/UniProt/{rgdId}:
    get:
      operationId: get_uni_prot_mapping_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Translate an RGD ID to a UniProt ID
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/maps/{speciesTypeKey}:
    get:
      operationId: get_maps_using_get
      parameters:
      - description: "RGD species type key. A full list of keys is available throught\
          \ the lookup service.  1=human, 2=mouse, 3=rat,ect"
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Map'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list assembly maps for a species
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/speciesTypeKeys:
    get:
      operationId: get_species_types_using_get
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a Map of species type keys available in RGD
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /lookup/standardUnit/{accId}:
    get:
      operationId: get_maps_using_get1
      parameters:
      - description: RGD term acc
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a standardUnit for an ontology if it exists
      tags:
      - Lookup
      x-openapi-router-controller: openapi_server.controllers.lookup_controller
  /maps/chr/{chromosome}/{mapKey}:
    get:
      operationId: get_chromosome_by_assembly_using_get
      parameters:
      - description: chromosome
        explode: false
        in: path
        name: chromosome
        required: true
        schema:
          type: string
        style: simple
      - description: mapKey
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Chromosome'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of chromosomes
      tags:
      - Chromosome
      - Map
      x-openapi-router-controller: openapi_server.controllers.chromosome_controller
  /maps/chr/{mapKey}:
    get:
      operationId: get_chromosomes_by_assembly_using_get
      parameters:
      - description: mapKey
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of chromosomes
      tags:
      - Chromosome
      - Map
      x-openapi-router-controller: openapi_server.controllers.chromosome_controller
  /maps/{speciesTypeKey}:
    get:
      operationId: get_maps_by_species_using_get
      parameters:
      - description: species Key
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Map'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of assemblies
      tags:
      - Map
      x-openapi-router-controller: openapi_server.controllers.map_controller
  /ontology/ont/{accId}:
    get:
      operationId: get_ont_dags_using_get
      parameters:
      - description: Accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns child and parent terms for Accession ID
      tags:
      - Ontology
      x-openapi-router-controller: openapi_server.controllers.ontology_controller
  /ontology/term/{accId1}/{accId2}:
    get:
      operationId: is_descendant_of_using_get
      parameters:
      - description: Child Term Accession ID
        explode: false
        in: path
        name: accId1
        required: true
        schema:
          type: string
        style: simple
      - description: Parent Term Accession ID
        explode: false
        in: path
        name: accId2
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns true or false for terms
      tags:
      - Ontology
      x-openapi-router-controller: openapi_server.controllers.ontology_controller
  /ontology/term/{accId}:
    get:
      operationId: get_term_using_get
      parameters:
      - description: Term Accession ID
        explode: false
        in: path
        name: accId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Term'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns term for Accession ID
      tags:
      - Ontology
      x-openapi-router-controller: openapi_server.controllers.ontology_controller
  /pathways/diagrams/search/{searchString}:
    get:
      operationId: search_pathways_using_get
      parameters:
      - description: Free text search string
        explode: false
        in: path
        name: searchString
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Pathway'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of pathways based on search term
      tags:
      - Pathway
      x-openapi-router-controller: openapi_server.controllers.pathway_controller
  /pathways/diagramsForCategory/{category}:
    get:
      operationId: get_pathways_with_diagrams_for_category_using_get
      parameters:
      - description: Pathway Category
        explode: false
        in: path
        name: category
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Pathway'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a list of pathways based on category provided
      tags:
      - Pathway
      x-openapi-router-controller: openapi_server.controllers.pathway_controller
  /phenotype/phenominer/chart/{speciesTypeKey}/{refRgdId}/{termString}:
    get:
      operationId: get_chart_info_using_get
      parameters:
      - description: 'Species Type Key - 3=rat 4=chinchilla '
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Reference RGD ID for a study
        explode: false
        in: path
        name: refRgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: List of term accession IDs
        explode: false
        in: path
        name: termString
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Return a list of quantitative phenotypes values based on a combination\
        \ of Clinical Measurement, Experimental Condition, Rat Strain, and/or Measurement\
        \ Method ontology terms.  Results will be all records that match all terms\
        \ submitted.  Ontology ids should be submitted as a comma delimited list (ex.\
        \ RS:0000029,CMO:0000155,CMO:0000139).  Species type is an integer value (3=rat,\
        \ 4=chinchilla).  Reference RGD ID for a study works like a filter."
      tags:
      - Quantitative Phenotype
      x-openapi-router-controller: openapi_server.controllers.quantitative_phenotype_controller
  /phenotype/phenominer/chart/{speciesTypeKey}/{termString}:
    get:
      operationId: get_chart_info_using_get1
      parameters:
      - description: 'Species Type Key - 3=rat 4=chinchilla '
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: List of term accession IDs
        explode: false
        in: path
        name: termString
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: object
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Return a list of quantitative phenotypes values based on a combination\
        \ of Clinical Measurement, Experimental Condition, Rat Strain, and/or Measurement\
        \ Method ontology terms.  Results will be all records that match all terms\
        \ submitted.  Ontology ids should be submitted as a comma delimited list (ex.\
        \ RS:0000029,CMO:0000155,CMO:0000139).  Species type is an integer value (3=rat,\
        \ 4=chinchilla)"
      tags:
      - Quantitative Phenotype
      x-openapi-router-controller: openapi_server.controllers.quantitative_phenotype_controller
  /qtls/mapped/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: get_mapped_qtlby_position_using_get
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of assembly map keys can be found using the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MappedQTL'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list QTL for given position and assembly map
      tags:
      - QTL
      x-openapi-router-controller: openapi_server.controllers.qtl_controller
  /qtls/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: get_qtl_list_by_position_using_get
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of assembly map keys can be found using the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/QTL'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list QTL for given position and assembly map
      tags:
      - QTL
      x-openapi-router-controller: openapi_server.controllers.qtl_controller
  /qtls/{rgdId}:
    get:
      operationId: get_qtlby_rgd_id_using_get
      parameters:
      - description: RGD ID
        explode: false
        in: path
        name: rgdId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QTL'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Return a QTL for provided RGD ID
      tags:
      - QTL
      x-openapi-router-controller: openapi_server.controllers.qtl_controller
  /sslps/mapped/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: get_mapped_sslpby_position_using_get
      parameters:
      - description: Chromosome
        explode: false
        in: path
        name: chr
        required: true
        schema:
          type: string
        style: simple
      - description: Start Position
        explode: false
        in: path
        name: start
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Stop Position
        explode: false
        in: path
        name: stop
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: A list of assembly map keys can be found using the lookup service
        explode: false
        in: path
        name: mapKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MappedSSLP'
                type: array
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Returns a list SSLP for given position and assembly map
      tags:
      - SSLP
      x-openapi-router-controller: openapi_server.controllers.sslp_controller
  /stats/count/activeObject/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: get_active_object_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of active objects by type, for specified species and date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/count/geneType/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: get_gene_type_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of gene types, for specified species and date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/count/objectStatus/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: get_object_status_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of objects with given status, for specified species and date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/count/objectWithRefSeq/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: get_objects_with_ref_seq_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of objects with reference sequence(s), by object type, for specified\
        \ species and date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/count/objectWithReference/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: get_objects_with_reference_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of objects with reference, by object type, for specified species\
        \ and date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/count/objectWithXdb/{speciesTypeKey}/{objectKey}/{dateYYYYMMDD}:
    get:
      operationId: get_objects_with_xdbs_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: objectKey
        explode: false
        in: path
        name: objectKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of objects with external database ids, by database id, for specified\
        \ species, object type and date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/count/proteinInteraction/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: get_protein_interaction_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of protein interactions, for specified species and date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/count/qtlInheritanceType/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: get_qtl_inheritance_type_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of strains, by qtl inheritance type, for specified species and\
        \ date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/count/retiredObject/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: get_retired_object_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of retired objects by type, for specified species and date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/count/strainType/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: get_strain_type_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of strain types, for specified species and date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/count/withdrawnObject/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: get_withdrawn_object_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of withdrawn objects by type, for specified species and date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/count/xdb/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: get_xdbs_count_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateYYYYMMDD
        explode: false
        in: path
        name: dateYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count of external database ids, for specied species and date"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/diff/activeObject/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: get_active_object_diff_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of active objects, by type, for specified species\
        \ and date range"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/diff/geneType/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: get_gene_type_diff_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of gene types, for specified species and date range"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/diff/objectStatus/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: get_object_status_diff_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of objects with given status, for specified species\
        \ and date range"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/diff/objectWithRefSeq/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: get_objects_with_ref_seq_diff_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of objects with reference sequence(s), by object\
        \ type, for specified species and date range"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/diff/objectWithReference/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: get_objects_with_reference_diff_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of objects with reference, by object type, for specified\
        \ species and date range"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/diff/objectWithXdb/{speciesTypeKey}/{objectKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: get_objects_with_xdbs_diff_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: objectKey
        explode: false
        in: path
        name: objectKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of objects with external database ids, by database\
        \ id, for specified species, object type and date range"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/diff/proteinInteraction/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: get_protein_interaction_diff_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of protein interactions, for specified species and\
        \ date range"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/diff/qtlInheritanceType/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: get_qtl_inheritance_type_diff_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of strains, by qtl inheritance type, for specified\
        \ species and date range"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/diff/retiredObject/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: get_retired_object_diff_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of retired objects, by type, for specified species\
        \ and date range"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/diff/strainType/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: get_strain_type_diff_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: "Count difference of strain types, for specified species and date range"
      tags:
      - Statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /stats/diff/withdrawnObject/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: get_withdrawn_object_diff_using_get
      parameters:
      - description: speciesTypeKey
        explode: false
        in: path
        name: speciesTypeKey
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: dateFromYYYYMMDD
        explode: false
        in: path
        name: dateFromYYYYMMDD
        required: true
        schema:
          type: string
        style: simple
      - description: dateToYYYYMMDD
        explode: false
        in: path
        name: dateToYYYYMMDD
        required: true
        schema:
[...]
