openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: MLB play-by-play API.
  title: MLB v3 Play-by-Play
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/mlb-v3-play-by-play.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: mlb-v3-play-by-play
servers:
- url: http://azure-api.sportsdata.io/v3/mlb/pbp
- url: https://azure-api.sportsdata.io/v3/mlb/pbp
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/PlayByPlay/{gameid}:
    get:
      operationId: play_by_play
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: The GameID of an MLB game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14620</code> or <code>16905</code>
        explode: false
        in: path
        name: gameid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayByPlay'
          description: ""
      summary: Play By Play
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayByPlayDelta/{date}/{minutes}:
    get:
      operationId: play_by_play_delta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Only returns plays that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:
          <code>1</code>, <code>2</code> ... <code>all</code>.
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayByPlay'
                type: array
          description: ""
      summary: Play By Play Delta
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Game:
      example:
        InningDescription: InningDescription
        Innings:
        - InningID: 7
          AwayTeamRuns: 3
          InningNumber: 6
          HomeTeamRuns: 0
          GameID: 7
        - InningID: 7
          AwayTeamRuns: 3
          InningNumber: 6
          HomeTeamRuns: 0
          GameID: 7
        AwayTeam: AwayTeam
        ForecastDescription: ForecastDescription
        HomeTeamMoneyLine: 6
        AwayTeamRuns: 9
        HomeTeamID: 2
        ForecastTempHigh: 1
        RunnerOnThird: true
        DateTime: DateTime
        CurrentHittingTeamID: 7
        CurrentHitter: CurrentHitter
        CurrentHitterID: 4
        HomeTeamHits: 1
        AwayTeamErrors: 1
        AwayTeamHits: 5
        ForecastWindSpeed: 9
        GameID: 6
        OverPayout: 8
        AwayTeamStartingPitcherID: 3
        Outs: 4
        Status: Status
        ForecastWindDirection: 9
        LosingPitcher: LosingPitcher
        HomeTeam: HomeTeam
        Updated: Updated
        Channel: Channel
        Inning: 3
        DueUpHitterID2: 6
        DueUpHitterID3: 7
        HomeTeamRuns: 5
        RunnerOnFirst: true
        CurrentPitcher: CurrentPitcher
        DueUpHitterID1: 1
        HomeTeamStartingPitcherID: 6
        NeutralVenue: true
        StadiumID: 9
        SeriesInfo:
          GameNumber: 1
          MaxLength: 7
          AwayTeamWins: 4
          HomeTeamWins: 4
        AwayRotationNumber: 6
        PointSpreadAwayTeamMoneyLine: 3
        GlobalAwayTeamID: 8
        DateTimeUTC: DateTimeUTC
        RescheduledFromGameID: 5
        AwayTeamMoneyLine: 2
        HomeTeamErrors: 6
        RescheduledGameID: 3
        AwayTeamProbablePitcherID: 7
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 3
        InningHalf: InningHalf
        HomeTeamProbablePitcherID: 6
        AwayTeamID: 5
        IsClosed: true
        LastPlay: LastPlay
        ForecastWindChill: 5
        UnderPayout: 9
        GlobalHomeTeamID: 6
        WinningPitcher: WinningPitcher
        HomeTeamStartingPitcher: HomeTeamStartingPitcher
        Season: 0
        GlobalGameID: 9
        Attendance: 0
        RunnerOnSecond: true
        SavingPitcherID: 4
        OverUnder: 7.740351818741173
        Strikes: 0
        CurrentPitcherID: 1
        SeasonType: 6
        PointSpread: 3.0205796992916243
        SavingPitcher: SavingPitcher
        LosingPitcherID: 0
        ForecastTempLow: 4
        WinningPitcherID: 0
        AwayTeamStartingPitcher: AwayTeamStartingPitcher
        Balls: 2
        PointSpreadHomeTeamMoneyLine: 7
        CurrentPitchingTeamID: 1
        Day: Day
      properties:
        Attendance:
          nullable: true
          title: Attendance
          type: integer
        AwayRotationNumber:
          nullable: true
          title: AwayRotationNumber
          type: integer
        AwayTeam:
          nullable: true
          title: AwayTeam
          type: string
        AwayTeamErrors:
          nullable: true
          title: AwayTeamErrors
          type: integer
        AwayTeamHits:
          nullable: true
          title: AwayTeamHits
          type: integer
        AwayTeamID:
          nullable: false
          title: AwayTeamID
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          title: AwayTeamMoneyLine
          type: integer
        AwayTeamProbablePitcherID:
          nullable: true
          title: AwayTeamProbablePitcherID
          type: integer
        AwayTeamRuns:
          nullable: true
          title: AwayTeamRuns
          type: integer
        AwayTeamStartingPitcher:
          nullable: true
          title: AwayTeamStartingPitcher
          type: string
        AwayTeamStartingPitcherID:
          nullable: true
          title: AwayTeamStartingPitcherID
          type: integer
        Balls:
          nullable: true
          title: Balls
          type: integer
        Channel:
          nullable: true
          title: Channel
          type: string
        CurrentHitter:
          nullable: true
          title: CurrentHitter
          type: string
        CurrentHitterID:
          nullable: true
          title: CurrentHitterID
          type: integer
        CurrentHittingTeamID:
          nullable: true
          title: CurrentHittingTeamID
          type: integer
        CurrentPitcher:
          nullable: true
          title: CurrentPitcher
          type: string
        CurrentPitcherID:
          nullable: true
          title: CurrentPitcherID
          type: integer
        CurrentPitchingTeamID:
          nullable: true
          title: CurrentPitchingTeamID
          type: integer
        DateTime:
          nullable: true
          title: DateTime
          type: string
        DateTimeUTC:
          nullable: true
          title: DateTimeUTC
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        DueUpHitterID1:
          nullable: true
          title: DueUpHitterID1
          type: integer
        DueUpHitterID2:
          nullable: true
          title: DueUpHitterID2
          type: integer
        DueUpHitterID3:
          nullable: true
          title: DueUpHitterID3
          type: integer
        ForecastDescription:
          nullable: true
          title: ForecastDescription
          type: string
        ForecastTempHigh:
          nullable: true
          title: ForecastTempHigh
          type: integer
        ForecastTempLow:
          nullable: true
          title: ForecastTempLow
          type: integer
        ForecastWindChill:
          nullable: true
          title: ForecastWindChill
          type: integer
        ForecastWindDirection:
          nullable: true
          title: ForecastWindDirection
          type: integer
        ForecastWindSpeed:
          nullable: true
          title: ForecastWindSpeed
          type: integer
        GameEndDateTime:
          nullable: true
          title: GameEndDateTime
          type: string
        GameID:
          nullable: false
          title: GameID
          type: integer
        GlobalAwayTeamID:
          nullable: false
          title: GlobalAwayTeamID
          type: integer
        GlobalGameID:
          nullable: false
          title: GlobalGameID
          type: integer
        GlobalHomeTeamID:
          nullable: false
          title: GlobalHomeTeamID
          type: integer
        HomeRotationNumber:
          nullable: true
          title: HomeRotationNumber
          type: integer
        HomeTeam:
          nullable: true
          title: HomeTeam
          type: string
        HomeTeamErrors:
          nullable: true
          title: HomeTeamErrors
          type: integer
        HomeTeamHits:
          nullable: true
          title: HomeTeamHits
          type: integer
        HomeTeamID:
          nullable: false
          title: HomeTeamID
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          title: HomeTeamMoneyLine
          type: integer
        HomeTeamProbablePitcherID:
          nullable: true
          title: HomeTeamProbablePitcherID
          type: integer
        HomeTeamRuns:
          nullable: true
          title: HomeTeamRuns
          type: integer
        HomeTeamStartingPitcher:
          nullable: true
          title: HomeTeamStartingPitcher
          type: string
        HomeTeamStartingPitcherID:
          nullable: true
          title: HomeTeamStartingPitcherID
          type: integer
        Inning:
          nullable: true
          title: Inning
          type: integer
        InningDescription:
          nullable: true
          title: InningDescription
          type: string
        InningHalf:
          nullable: true
          title: InningHalf
          type: string
        Innings:
          items:
            $ref: '#/components/schemas/Inning'
          title: Innings
          type: array
        IsClosed:
          nullable: false
          title: IsClosed
          type: boolean
        LastPlay:
          nullable: true
          title: LastPlay
          type: string
        LosingPitcher:
          nullable: true
          title: LosingPitcher
          type: string
        LosingPitcherID:
          nullable: true
          title: LosingPitcherID
          type: integer
        NeutralVenue:
          nullable: true
          title: NeutralVenue
          type: boolean
        Outs:
          nullable: true
          title: Outs
          type: integer
        OverPayout:
          nullable: true
          title: OverPayout
          type: integer
        OverUnder:
          nullable: true
          title: OverUnder
          type: number
        PointSpread:
          nullable: true
          title: PointSpread
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          title: PointSpreadAwayTeamMoneyLine
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          title: PointSpreadHomeTeamMoneyLine
          type: integer
        RescheduledFromGameID:
          nullable: true
          title: RescheduledFromGameID
          type: integer
        RescheduledGameID:
          nullable: true
          title: RescheduledGameID
          type: integer
        RunnerOnFirst:
          nullable: true
          title: RunnerOnFirst
          type: boolean
        RunnerOnSecond:
          nullable: true
          title: RunnerOnSecond
          type: boolean
        RunnerOnThird:
          nullable: true
          title: RunnerOnThird
          type: boolean
        SavingPitcher:
          nullable: true
          title: SavingPitcher
          type: string
        SavingPitcherID:
          nullable: true
          title: SavingPitcherID
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          title: StadiumID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        Strikes:
          nullable: true
          title: Strikes
          type: integer
        UnderPayout:
          nullable: true
          title: UnderPayout
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        WinningPitcher:
          nullable: true
          title: WinningPitcher
          type: string
        WinningPitcherID:
          nullable: true
          title: WinningPitcherID
          type: integer
      title: Game
    Inning:
      example:
        InningID: 7
        AwayTeamRuns: 3
        InningNumber: 6
        HomeTeamRuns: 0
        GameID: 7
      properties:
        AwayTeamRuns:
          nullable: true
          title: AwayTeamRuns
          type: integer
        GameID:
          nullable: false
          title: GameID
          type: integer
        HomeTeamRuns:
          nullable: true
          title: HomeTeamRuns
          type: integer
        InningID:
          nullable: false
          title: InningID
          type: integer
        InningNumber:
          nullable: false
          title: InningNumber
          type: integer
      title: Inning
    Pitch:
      example:
        Ball: true
        Outs: 1
        Foul: true
        PitcherID: 8
        PitchNumberThisAtBat: 9
        Strike: true
        PitchID: 3
        PlayID: 0
        HitterID: 9
        Looking: true
        Swinging: true
        StrikesBeforePitch: 5
        BallsBeforePitch: 8
      properties:
        Ball:
          nullable: true
          title: Ball
          type: boolean
        BallsBeforePitch:
          nullable: true
          title: BallsBeforePitch
          type: integer
        Foul:
          nullable: true
          title: Foul
          type: boolean
        HitterID:
          nullable: true
          title: HitterID
          type: integer
        Looking:
          nullable: true
          title: Looking
          type: boolean
        Outs:
          nullable: true
          title: Outs
          type: integer
        PitchID:
          nullable: false
          title: PitchID
          type: integer
        PitchNumberThisAtBat:
          nullable: true
          title: PitchNumberThisAtBat
          type: integer
        PitcherID:
          nullable: true
          title: PitcherID
          type: integer
        PlayID:
          nullable: false
          title: PlayID
          type: integer
        Strike:
          nullable: true
          title: Strike
          type: boolean
        StrikesBeforePitch:
          nullable: true
          title: StrikesBeforePitch
          type: integer
        Swinging:
          nullable: true
          title: Swinging
          type: boolean
      title: Pitch
    Play:
      example:
        Walk: true
        PitcherID: 6
        PitcherName: PitcherName
        Strikeout: true
        Description: Description
        PitchNumberThisAtBat: 8
        Runner3ID: 3
        Runner2ID: 3
        InningHalf: InningHalf
        InningID: 3
        Runner1ID: 7
        AwayTeamRuns: 7
        HitterPosition: HitterPosition
        AtBat: true
        InningNumber: 0
        PlayID: 5
        PitcherThrowHand: PitcherThrowHand
        PlayNumber: 8
        Result: Result
        HitterTeamID: 6
        NumberOfOutsOnPlay: 2
        Sacrifice: true
        HitterName: HitterName
        Outs: 1
        Updated: Updated
        Error: true
        RunsBattedIn: 9
        HitterID: 4
        HomeTeamRuns: 8
        Strikes: 5
        Out: true
        InningBatterNumber: 4
        PitcherTeamID: 4
        Hit: true
        Balls: 5
        HitterBatHand: HitterBatHand
        Pitches:
        - Ball: true
          Outs: 1
          Foul: true
          PitcherID: 8
          PitchNumberThisAtBat: 9
          Strike: true
          PitchID: 3
          PlayID: 0
          HitterID: 9
          Looking: true
          Swinging: true
          StrikesBeforePitch: 5
          BallsBeforePitch: 8
        - Ball: true
          Outs: 1
          Foul: true
          PitcherID: 8
          PitchNumberThisAtBat: 9
          Strike: true
          PitchID: 3
          PlayID: 0
          HitterID: 9
          Looking: true
          Swinging: true
          StrikesBeforePitch: 5
          BallsBeforePitch: 8
      properties:
        AtBat:
          nullable: true
          title: AtBat
          type: boolean
        AwayTeamRuns:
          nullable: true
          title: AwayTeamRuns
          type: integer
        Balls:
          nullable: true
          title: Balls
          type: integer
        Description:
          nullable: true
          title: Description
          type: string
        Error:
          nullable: true
          title: Error
          type: boolean
        Hit:
          nullable: true
          title: Hit
          type: boolean
        HitterBatHand:
          nullable: true
          title: HitterBatHand
          type: string
        HitterID:
          nullable: true
          title: HitterID
          type: integer
        HitterName:
          nullable: true
          title: HitterName
          type: string
        HitterPosition:
          nullable: true
          title: HitterPosition
          type: string
        HitterTeamID:
          nullable: true
          title: HitterTeamID
          type: integer
        HomeTeamRuns:
          nullable: true
          title: HomeTeamRuns
          type: integer
        InningBatterNumber:
          nullable: true
          title: InningBatterNumber
          type: integer
        InningHalf:
          nullable: true
          title: InningHalf
          type: string
        InningID:
          nullable: false
          title: InningID
          type: integer
        InningNumber:
          nullable: true
          title: InningNumber
          type: integer
        NumberOfOutsOnPlay:
          nullable: true
          title: NumberOfOutsOnPlay
          type: integer
        Out:
          nullable: true
          title: Out
          type: boolean
        Outs:
          nullable: true
          title: Outs
          type: integer
        PitchNumberThisAtBat:
          nullable: true
          title: PitchNumberThisAtBat
          type: integer
        PitcherID:
          nullable: true
          title: PitcherID
          type: integer
        PitcherName:
          nullable: true
          title: PitcherName
          type: string
        PitcherTeamID:
          nullable: true
          title: PitcherTeamID
          type: integer
        PitcherThrowHand:
          nullable: true
          title: PitcherThrowHand
          type: string
        Pitches:
          items:
            $ref: '#/components/schemas/Pitch'
          title: Pitches
          type: array
        PlayID:
          nullable: false
          title: PlayID
          type: integer
        PlayNumber:
          nullable: true
          title: PlayNumber
          type: integer
        Result:
          nullable: true
          title: Result
          type: string
        Runner1ID:
          nullable: true
          title: Runner1ID
          type: integer
        Runner2ID:
          nullable: true
          title: Runner2ID
          type: integer
        Runner3ID:
          nullable: true
          title: Runner3ID
          type: integer
        RunsBattedIn:
          nullable: true
          title: RunsBattedIn
          type: integer
        Sacrifice:
          nullable: true
          title: Sacrifice
          type: boolean
        Strikeout:
          nullable: true
          title: Strikeout
          type: boolean
        Strikes:
          nullable: true
          title: Strikes
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        Walk:
          nullable: true
          title: Walk
          type: boolean
      title: Play
    PlayByPlay:
      example:
        Game:
          InningDescription: InningDescription
          Innings:
          - InningID: 7
            AwayTeamRuns: 3
            InningNumber: 6
            HomeTeamRuns: 0
            GameID: 7
          - InningID: 7
            AwayTeamRuns: 3
            InningNumber: 6
            HomeTeamRuns: 0
            GameID: 7
          AwayTeam: AwayTeam
          ForecastDescription: ForecastDescription
          HomeTeamMoneyLine: 6
          AwayTeamRuns: 9
          HomeTeamID: 2
          ForecastTempHigh: 1
          RunnerOnThird: true
          DateTime: DateTime
          CurrentHittingTeamID: 7
          CurrentHitter: CurrentHitter
          CurrentHitterID: 4
          HomeTeamHits: 1
          AwayTeamErrors: 1
          AwayTeamHits: 5
          ForecastWindSpeed: 9
          GameID: 6
          OverPayout: 8
          AwayTeamStartingPitcherID: 3
          Outs: 4
          Status: Status
          ForecastWindDirection: 9
          LosingPitcher: LosingPitcher
          HomeTeam: HomeTeam
          Updated: Updated
          Channel: Channel
          Inning: 3
          DueUpHitterID2: 6
          DueUpHitterID3: 7
          HomeTeamRuns: 5
          RunnerOnFirst: true
          CurrentPitcher: CurrentPitcher
          DueUpHitterID1: 1
          HomeTeamStartingPitcherID: 6
          NeutralVenue: true
          StadiumID: 9
          SeriesInfo:
            GameNumber: 1
            MaxLength: 7
            AwayTeamWins: 4
            HomeTeamWins: 4
          AwayRotationNumber: 6
          PointSpreadAwayTeamMoneyLine: 3
          GlobalAwayTeamID: 8
          DateTimeUTC: DateTimeUTC
          RescheduledFromGameID: 5
          AwayTeamMoneyLine: 2
          HomeTeamErrors: 6
          RescheduledGameID: 3
          AwayTeamProbablePitcherID: 7
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 3
          InningHalf: InningHalf
          HomeTeamProbablePitcherID: 6
          AwayTeamID: 5
          IsClosed: true
          LastPlay: LastPlay
          ForecastWindChill: 5
          UnderPayout: 9
          GlobalHomeTeamID: 6
          WinningPitcher: WinningPitcher
          HomeTeamStartingPitcher: HomeTeamStartingPitcher
          Season: 0
          GlobalGameID: 9
          Attendance: 0
          RunnerOnSecond: true
          SavingPitcherID: 4
          OverUnder: 7.740351818741173
          Strikes: 0
          CurrentPitcherID: 1
          SeasonType: 6
          PointSpread: 3.0205796992916243
          SavingPitcher: SavingPitcher
          LosingPitcherID: 0
          ForecastTempLow: 4
          WinningPitcherID: 0
          AwayTeamStartingPitcher: AwayTeamStartingPitcher
          Balls: 2
          PointSpreadHomeTeamMoneyLine: 7
          CurrentPitchingTeamID: 1
          Day: Day
        Plays:
        - Walk: true
          PitcherID: 6
          PitcherName: PitcherName
          Strikeout: true
          Description: Description
          PitchNumberThisAtBat: 8
          Runner3ID: 3
          Runner2ID: 3
          InningHalf: InningHalf
          InningID: 3
          Runner1ID: 7
          AwayTeamRuns: 7
          HitterPosition: HitterPosition
          AtBat: true
          InningNumber: 0
          PlayID: 5
          PitcherThrowHand: PitcherThrowHand
          PlayNumber: 8
          Result: Result
          HitterTeamID: 6
          NumberOfOutsOnPlay: 2
          Sacrifice: true
          HitterName: HitterName
          Outs: 1
          Updated: Updated
          Error: true
          RunsBattedIn: 9
          HitterID: 4
          HomeTeamRuns: 8
          Strikes: 5
          Out: true
          InningBatterNumber: 4
          PitcherTeamID: 4
          Hit: true
          Balls: 5
          HitterBatHand: HitterBatHand
          Pitches:
          - Ball: true
            Outs: 1
            Foul: true
            PitcherID: 8
            PitchNumberThisAtBat: 9
            Strike: true
            PitchID: 3
            PlayID: 0
            HitterID: 9
            Looking: true
            Swinging: true
            StrikesBeforePitch: 5
            BallsBeforePitch: 8
          - Ball: true
            Outs: 1
            Foul: true
            PitcherID: 8
            PitchNumberThisAtBat: 9
            Strike: true
            PitchID: 3
            PlayID: 0
            HitterID: 9
            Looking: true
            Swinging: true
            StrikesBeforePitch: 5
            BallsBeforePitch: 8
        - Walk: true
          PitcherID: 6
          PitcherName: PitcherName
          Strikeout: true
          Description: Description
          PitchNumberThisAtBat: 8
          Runner3ID: 3
          Runner2ID: 3
          InningHalf: InningHalf
          InningID: 3
          Runner1ID: 7
          AwayTeamRuns: 7
          HitterPosition: HitterPosition
          AtBat: true
          InningNumber: 0
          PlayID: 5
          PitcherThrowHand: PitcherThrowHand
          PlayNumber: 8
          Result: Result
          HitterTeamID: 6
          NumberOfOutsOnPlay: 2
          Sacrifice: true
          HitterName: HitterName
          Outs: 1
          Updated: Updated
          Error: true
          RunsBattedIn: 9
          HitterID: 4
          HomeTeamRuns: 8
          Strikes: 5
          Out: true
          InningBatterNumber: 4
          PitcherTeamID: 4
          Hit: true
          Balls: 5
          HitterBatHand: HitterBatHand
          Pitches:
          - Ball: true
            Outs: 1
            Foul: true
            PitcherID: 8
            PitchNumberThisAtBat: 9
            Strike: true
            PitchID: 3
            PlayID: 0
            HitterID: 9
            Looking: true
            Swinging: true
            StrikesBeforePitch: 5
            BallsBeforePitch: 8
          - Ball: true
            Outs: 1
            Foul: true
            PitcherID: 8
            PitchNumberThisAtBat: 9
            Strike: true
            PitchID: 3
            PlayID: 0
            HitterID: 9
            Looking: true
            Swinging: true
            StrikesBeforePitch: 5
            BallsBeforePitch: 8
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        Plays:
          items:
            $ref: '#/components/schemas/Play'
          title: Plays
          type: array
      title: PlayByPlay
    Series:
      example:
        GameNumber: 1
        MaxLength: 7
        AwayTeamWins: 4
        HomeTeamWins: 4
      properties:
        AwayTeamWins:
          nullable: false
          title: AwayTeamWins
          type: integer
        GameNumber:
          nullable: false
          title: GameNumber
          type: integer
        HomeTeamWins:
          nullable: false
          title: HomeTeamWins
          type: integer
        MaxLength:
          nullable: false
          title: MaxLength
          type: integer
      title: Series
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyHeader
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyQuery
