openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: CS:GO v3 Scores
  title: CS:GO v3 Scores
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/csgo-v3-scores.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: csgo-v3-scores
servers:
- url: http://azure-api.sportsdata.io/v3/csgo/scores
- url: https://azure-api.sportsdata.io/v3/csgo/scores
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/ActiveMemberships:
    get:
      description: Memberships (Active)
      operationId: MembershipsActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships (Active)
      x-accepts:
      - application/json
  /{format}/Areas:
    get:
      description: Areas (Countries)
      operationId: AreasCountries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Area'
                type: array
          description: ""
      summary: Areas (Countries)
      x-accepts:
      - application/json
  /{format}/CompetitionDetails/{competitionid}:
    get:
      description: Competition Fixtures (League Details)
      operationId: CompetitionFixturesLeagueDetails
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "A CS:GO competition/league unique CompetitionId. Possible values\
          \ include: <code>100000009</code>, etc."
        explode: false
        in: path
        name: competitionid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionDetail'
          description: ""
      summary: Competition Fixtures (League Details)
      x-accepts:
      - application/json
  /{format}/Competitions:
    get:
      description: Competitions (Leagues)
      operationId: CompetitionsLeagues
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Competition'
                type: array
          description: ""
      summary: Competitions (Leagues)
      x-accepts:
      - application/json
  /{format}/GamesByDate/{date}:
    get:
      description: Games by Date
      operationId: GamesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-01-13</code>, <code>2018-06-13</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-accepts:
      - application/json
  /{format}/HistoricalMemberships:
    get:
      description: Memberships (Historical)
      operationId: MembershipsHistorical
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships (Historical)
      x-accepts:
      - application/json
  /{format}/HistoricalMembershipsByTeam/{teamid}:
    get:
      description: Memberships by Team (Historical)
      operationId: MembershipsByTeamHistorical
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>100000001</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships by Team (Historical)
      x-accepts:
      - application/json
  /{format}/MembershipsByTeam/{teamid}:
    get:
      description: Memberships by Team (Active)
      operationId: MembershipsByTeamActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>100000001</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships by Team (Active)
      x-accepts:
      - application/json
  /{format}/Player/{playerid}:
    get:
      description: Player
      operationId: Player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>100000576</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player
      x-accepts:
      - application/json
  /{format}/Players:
    get:
      description: Players
      operationId: Players
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players
      x-accepts:
      - application/json
  /{format}/PlayersByTeam/{teamid}:
    get:
      description: Players by Team
      operationId: PlayersByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>100000001</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players by Team
      x-accepts:
      - application/json
  /{format}/Schedule/{roundid}:
    get:
      description: Schedule
      operationId: Schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Round ID. RoundIDs can be found in the Competitions\
          \ and Competition Details endpoints. \nExamples: <code>100000138</code>,\
          \ <code>1000001412</code>, etc"
        explode: false
        in: path
        name: roundid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedule
      x-accepts:
      - application/json
  /{format}/SeasonTeams/{seasonid}:
    get:
      description: Season Teams
      operationId: SeasonTeams
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Season ID. SeasonIDs can be found in the\
          \ Competitions and Competition Details endpoints. \nExamples: <code>100000023</code>,\
          \ <code>100000024</code>, etc"
        explode: false
        in: path
        name: seasonid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SeasonTeam'
                type: array
          description: ""
      summary: Season Teams
      x-accepts:
      - application/json
  /{format}/Standings/{roundid}:
    get:
      description: Schedule
      operationId: Standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Round ID. RoundIDs can be found in the Competitions\
          \ and Competition Details endpoints. \nExample: <code>100000138</code>,\
          \ etc"
        explode: false
        in: path
        name: roundid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-accepts:
      - application/json
  /{format}/Teams:
    get:
      description: Teams
      operationId: Teams
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams
      x-accepts:
      - application/json
  /{format}/Venues:
    get:
      description: Venues
      operationId: Venues
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Venue'
                type: array
          description: ""
      summary: Venues
      x-accepts:
      - application/json
components:
  schemas:
    Area:
      example:
        AreaId: 0
        CountryCode: CountryCode
        Name: Name
      properties:
        AreaId:
          nullable: false
          type: integer
        CountryCode:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
    Competition:
      example:
        AreaName: AreaName
        PlayerStatsCoverage: true
        Type: Type
        Format: Format
        AreaId: 0
        Gender: Gender
        Seasons:
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        CompetitionId: 6
        Name: Name
      properties:
        AreaId:
          nullable: false
          type: integer
        AreaName:
          nullable: true
          type: string
        CompetitionId:
          nullable: false
          type: integer
        Format:
          nullable: true
          type: string
        Gender:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        PlayerStatsCoverage:
          nullable: true
          type: boolean
        Seasons:
          items:
            $ref: '#/components/schemas/Season'
          type: array
        Type:
          nullable: true
          type: string
    CompetitionDetail:
      example:
        AreaName: AreaName
        PlayerStatsCoverage: true
        Type: Type
        Format: Format
        CurrentSeason:
          StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        Games:
        - Group: Group
          TeamAKey: TeamAKey
          TeamAMoneyLine: 1
          IsClosed: true
          TeamBMoneyLine: 9
          DateTime: DateTime
          TeamBId: 9
          TeamAName: TeamAName
          DrawMoneyLine: 4
          TeamAScore: 5
          Season: 1
          BestOf: BestOf
          TeamBName: TeamBName
          Status: Status
          RoundId: 1
          Updated: Updated
          TeamBPointSpreadPayout: 6
          TeamBKey: TeamBKey
          Winner: Winner
          TeamAId: 7
          SeasonType: 6
          PointSpread: 1.2315135367772556
          TeamAPointSpreadPayout: 4
          VenueType: VenueType
          UpdatedUtc: UpdatedUtc
          VenueId: 9
          Day: Day
          Week: 6
          GameId: 7
          TeamBScore: 8
        - Group: Group
          TeamAKey: TeamAKey
          TeamAMoneyLine: 1
          IsClosed: true
          TeamBMoneyLine: 9
          DateTime: DateTime
          TeamBId: 9
          TeamAName: TeamAName
          DrawMoneyLine: 4
          TeamAScore: 5
          Season: 1
          BestOf: BestOf
          TeamBName: TeamBName
          Status: Status
          RoundId: 1
          Updated: Updated
          TeamBPointSpreadPayout: 6
          TeamBKey: TeamBKey
          Winner: Winner
          TeamAId: 7
          SeasonType: 6
          PointSpread: 1.2315135367772556
          TeamAPointSpreadPayout: 4
          VenueType: VenueType
          UpdatedUtc: UpdatedUtc
          VenueId: 9
          Day: Day
          Week: 6
          GameId: 7
          TeamBScore: 8
        AreaId: 0
        Teams:
        - Email: Email
          Founded: 6
          AreaId: 3
          Twitter: Twitter
          Website: Website
          ShortName: ShortName
          TertiaryColor: TertiaryColor
          Gender: Gender
          TeamId: 2
          YouTube: YouTube
          Name: Name
          AreaName: AreaName
          Active: true
          Type: Type
          PrimaryColor: PrimaryColor
          SecondaryColor: SecondaryColor
          Instagram: Instagram
          Facebook: Facebook
          Key: Key
          QuaternaryColor: QuaternaryColor
          Players:
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
        - Email: Email
          Founded: 6
          AreaId: 3
          Twitter: Twitter
          Website: Website
          ShortName: ShortName
          TertiaryColor: TertiaryColor
          Gender: Gender
          TeamId: 2
          YouTube: YouTube
          Name: Name
          AreaName: AreaName
          Active: true
          Type: Type
          PrimaryColor: PrimaryColor
          SecondaryColor: SecondaryColor
          Instagram: Instagram
          Facebook: Facebook
          Key: Key
          QuaternaryColor: QuaternaryColor
          Players:
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
        Gender: Gender
        Seasons:
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        CompetitionId: 6
        Name: Name
      properties:
        AreaId:
          nullable: false
          type: integer
        AreaName:
          nullable: true
          type: string
        CompetitionId:
          nullable: false
          type: integer
        CurrentSeason:
          $ref: '#/components/schemas/Season'
        Format:
          nullable: true
          type: string
        Games:
          items:
            $ref: '#/components/schemas/Game'
          type: array
        Gender:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        PlayerStatsCoverage:
          nullable: true
          type: boolean
        Seasons:
          items:
            $ref: '#/components/schemas/Season'
          type: array
        Teams:
          items:
            $ref: '#/components/schemas/TeamDetail'
          type: array
        Type:
          nullable: true
          type: string
    Game:
      example:
        Group: Group
        TeamAKey: TeamAKey
        TeamAMoneyLine: 1
        IsClosed: true
        TeamBMoneyLine: 9
        DateTime: DateTime
        TeamBId: 9
        TeamAName: TeamAName
        DrawMoneyLine: 4
        TeamAScore: 5
        Season: 1
        BestOf: BestOf
        TeamBName: TeamBName
        Status: Status
        RoundId: 1
        Updated: Updated
        TeamBPointSpreadPayout: 6
        TeamBKey: TeamBKey
        Winner: Winner
        TeamAId: 7
        SeasonType: 6
        PointSpread: 1.2315135367772556
        TeamAPointSpreadPayout: 4
        VenueType: VenueType
        UpdatedUtc: UpdatedUtc
        VenueId: 9
        Day: Day
        Week: 6
        GameId: 7
        TeamBScore: 8
      properties:
        BestOf:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DrawMoneyLine:
          nullable: true
          type: integer
        GameId:
          nullable: false
          type: integer
        Group:
          nullable: true
          type: string
        IsClosed:
          nullable: true
          type: boolean
        PointSpread:
          nullable: true
          type: number
        RoundId:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Status:
          nullable: true
          type: string
        TeamAId:
          nullable: true
          type: integer
        TeamAKey:
          nullable: true
          type: string
        TeamAMoneyLine:
          nullable: true
          type: integer
        TeamAName:
          nullable: true
          type: string
        TeamAPointSpreadPayout:
          nullable: true
          type: integer
        TeamAScore:
          nullable: true
          type: integer
        TeamBId:
          nullable: true
          type: integer
        TeamBKey:
          nullable: true
          type: string
        TeamBMoneyLine:
          nullable: true
          type: integer
        TeamBName:
          nullable: true
          type: string
        TeamBPointSpreadPayout:
          nullable: true
          type: integer
        TeamBScore:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        UpdatedUtc:
          nullable: true
          type: string
        VenueId:
          nullable: true
          type: integer
        VenueType:
          nullable: true
          type: string
        Week:
          nullable: true
          type: integer
        Winner:
          nullable: true
          type: string
    Membership:
      example:
        StartDate: StartDate
        PlayerId: 6
        Active: true
        Updated: Updated
        MembershipId: 0
        PlayerName: PlayerName
        TeamArea: TeamArea
        TeamName: TeamName
        TeamId: 1
        EndDate: EndDate
      properties:
        Active:
          nullable: false
          type: boolean
        EndDate:
          nullable: true
          type: string
        MembershipId:
          nullable: false
          type: integer
        PlayerId:
          nullable: false
          type: integer
        PlayerName:
          nullable: true
          type: string
        StartDate:
          nullable: true
          type: string
        TeamArea:
          nullable: true
          type: string
        TeamId:
          nullable: false
          type: integer
        TeamName:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
    Player:
      example:
        PlayerId: 1
        Updated: Updated
        Position: Position
        FirstName: FirstName
        BirthCity: BirthCity
        MatchName: MatchName
        Gender: Gender
        LastName: LastName
        BirthCountry: BirthCountry
        Nationality: Nationality
        BirthDate: BirthDate
        CommonName: CommonName
      properties:
        BirthCity:
          nullable: true
          type: string
        BirthCountry:
          nullable: true
          type: string
        BirthDate:
          nullable: true
          type: string
        CommonName:
          nullable: true
          type: string
        FirstName:
          nullable: true
          type: string
        Gender:
          nullable: true
          type: string
        LastName:
          nullable: true
          type: string
        MatchName:
          nullable: true
          type: string
        Nationality:
          nullable: true
          type: string
        PlayerId:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
    Round:
      example:
        StartDate: StartDate
        Type: Type
        SeasonType: 9
        RoundId: 5
        CurrentRound: true
        SeasonId: 7
        CurrentWeek: 5
        Season: 2
        EndDate: EndDate
        Name: Name
      properties:
        CurrentRound:
          nullable: false
          type: boolean
        CurrentWeek:
          nullable: true
          type: integer
        EndDate:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        RoundId:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonId:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        StartDate:
          nullable: true
          type: string
        Type:
          nullable: true
          type: string
    Season:
      example:
        StartDate: StartDate
        Rounds:
        - StartDate: StartDate
          Type: Type
          SeasonType: 9
          RoundId: 5
          CurrentRound: true
          SeasonId: 7
          CurrentWeek: 5
          Season: 2
          EndDate: EndDate
          Name: Name
        - StartDate: StartDate
          Type: Type
          SeasonType: 9
          RoundId: 5
          CurrentRound: true
          SeasonId: 7
          CurrentWeek: 5
          Season: 2
          EndDate: EndDate
          Name: Name
        CurrentSeason: true
        CompetitionName: CompetitionName
        SeasonId: 2
        Season: 3
        CompetitionId: 1
        EndDate: EndDate
        Name: Name
      properties:
        CompetitionId:
          nullable: false
          type: integer
        CompetitionName:
          nullable: true
          type: string
        CurrentSeason:
          nullable: false
          type: boolean
        EndDate:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        Rounds:
          items:
            $ref: '#/components/schemas/Round'
          type: array
        Season:
          nullable: false
          type: integer
        SeasonId:
          nullable: false
          type: integer
        StartDate:
          nullable: true
          type: string
    SeasonTeam:
      example:
        Active: true
        Type: Type
        SeasonTeamId: 6
        Team:
          Email: Email
          Founded: 5
          AreaId: 1
          Twitter: Twitter
          Website: Website
          ShortName: ShortName
          TertiaryColor: TertiaryColor
          Gender: Gender
          TeamId: 5
          YouTube: YouTube
          Name: Name
          AreaName: AreaName
          Active: true
          Type: Type
          PrimaryColor: PrimaryColor
          SecondaryColor: SecondaryColor
          Instagram: Instagram
          Facebook: Facebook
          Key: Key
          QuaternaryColor: QuaternaryColor
        Gender: Gender
        SeasonId: 0
        TeamName: TeamName
        TeamId: 2
      properties:
        Active:
          nullable: false
          type: boolean
        Gender:
          nullable: true
          type: string
        SeasonId:
          nullable: false
          type: integer
        SeasonTeamId:
          nullable: false
          type: integer
        Team:
          $ref: '#/components/schemas/Team'
        TeamId:
          nullable: false
          type: integer
        TeamName:
          nullable: true
          type: string
        Type:
          nullable: true
          type: string
    Standing:
      example:
        Order: 1
        Group: Group
        RoundId: 5
        ScoreDifference: 7
        TeamId: 2
        Name: Name
        Points: 5
        Losses: 6
        StandingId: 3
        Games: 0
        ScoreAgainst: 2
        ScoreFor: 9
        Wins: 4
      properties:
        Games:
          nullable: false
          type: integer
        Group:
          nullable: true
          type: string
        Losses:
          nullable: false
          type: integer
        Name:
          nullable: true
          type: string
        Order:
          nullable: true
          type: integer
        Points:
          nullable: false
          type: integer
        RoundId:
          nullable: false
          type: integer
        ScoreAgainst:
          nullable: false
          type: integer
        ScoreDifference:
          nullable: false
          type: integer
        ScoreFor:
          nullable: false
          type: integer
        StandingId:
          nullable: false
          type: integer
        TeamId:
          nullable: false
          type: integer
        Wins:
          nullable: false
          type: integer
    Team:
      example:
        Email: Email
        Founded: 5
        AreaId: 1
        Twitter: Twitter
        Website: Website
        ShortName: ShortName
        TertiaryColor: TertiaryColor
        Gender: Gender
        TeamId: 5
        YouTube: YouTube
        Name: Name
        AreaName: AreaName
        Active: true
        Type: Type
        PrimaryColor: PrimaryColor
        SecondaryColor: SecondaryColor
        Instagram: Instagram
        Facebook: Facebook
        Key: Key
        QuaternaryColor: QuaternaryColor
      properties:
        Active:
          nullable: false
          type: boolean
        AreaId:
          nullable: true
          type: integer
        AreaName:
          nullable: true
          type: string
        Email:
          nullable: true
          type: string
        Facebook:
          nullable: true
          type: string
        Founded:
          nullable: true
          type: integer
        Gender:
          nullable: true
          type: string
        Instagram:
          nullable: true
          type: string
        Key:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        PrimaryColor:
          nullable: true
          type: string
        QuaternaryColor:
          nullable: true
          type: string
        SecondaryColor:
          nullable: true
          type: string
        ShortName:
          nullable: true
          type: string
        TeamId:
          nullable: false
          type: integer
        TertiaryColor:
          nullable: true
          type: string
        Twitter:
          nullable: true
          type: string
        Type:
          nullable: true
          type: string
        Website:
          nullable: true
          type: string
        YouTube:
          nullable: true
          type: string
    TeamDetail:
      example:
        Email: Email
        Founded: 6
        AreaId: 3
        Twitter: Twitter
        Website: Website
        ShortName: ShortName
        TertiaryColor: TertiaryColor
        Gender: Gender
        TeamId: 2
        YouTube: YouTube
        Name: Name
        AreaName: AreaName
        Active: true
        Type: Type
        PrimaryColor: PrimaryColor
        SecondaryColor: SecondaryColor
        Instagram: Instagram
        Facebook: Facebook
        Key: Key
        QuaternaryColor: QuaternaryColor
        Players:
        - PlayerId: 1
          Updated: Updated
          Position: Position
          FirstName: FirstName
          BirthCity: BirthCity
          MatchName: MatchName
          Gender: Gender
          LastName: LastName
          BirthCountry: BirthCountry
          Nationality: Nationality
          BirthDate: BirthDate
          CommonName: CommonName
        - PlayerId: 1
          Updated: Updated
          Position: Position
          FirstName: FirstName
          BirthCity: BirthCity
          MatchName: MatchName
          Gender: Gender
          LastName: LastName
          BirthCountry: BirthCountry
          Nationality: Nationality
          BirthDate: BirthDate
          CommonName: CommonName
      properties:
        Active:
          nullable: false
          type: boolean
        AreaId:
          nullable: true
          type: integer
        AreaName:
          nullable: true
          type: string
        Email:
          nullable: true
          type: string
        Facebook:
          nullable: true
          type: string
        Founded:
          nullable: true
          type: integer
        Gender:
          nullable: true
          type: string
        Instagram:
          nullable: true
          type: string
        Key:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        Players:
          items:
            $ref: '#/components/schemas/Player'
          type: array
        PrimaryColor:
          nullable: true
          type: string
        QuaternaryColor:
          nullable: true
          type: string
        SecondaryColor:
          nullable: true
          type: string
        ShortName:
          nullable: true
          type: string
        TeamId:
          nullable: false
          type: integer
        TertiaryColor:
          nullable: true
          type: string
        Twitter:
          nullable: true
          type: string
        Type:
          nullable: true
          type: string
        Website:
          nullable: true
          type: string
        YouTube:
          nullable: true
          type: string
    Venue:
      example:
        Zip: Zip
        Opened: 5
        Address: Address
        GeoLat: 6.027456183070403
        City: City
        Name: Name
        Open: true
        Nickname1: Nickname1
        Nickname2: Nickname2
        Capacity: 0
        Country: Country
        GeoLong: 1.4658129805029452
        VenueId: 5
      properties:
        Address:
          nullable: true
          type: string
        Capacity:
          nullable: true
          type: integer
        City:
          nullable: true
          type: string
        Country:
          nullable: true
          type: string
        GeoLat:
          nullable: true
          type: number
        GeoLong:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        Nickname1:
          nullable: true
          type: string
        Nickname2:
          nullable: true
          type: string
        Open:
          nullable: false
          type: boolean
        Opened:
          nullable: true
          type: integer
        VenueId:
          nullable: false
          type: integer
        Zip:
          nullable: true
          type: string
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

