openapi: 3.0.1
info:
  description: Azure Log Analytics API reference
  title: Azure Log Analytics
  version: 2019-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/Clusters.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: operationalinsights-Clusters
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/clusters:
    get:
      description: Gets the Log Analytics clusters in a subscription.
      operationId: Clusters_List
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        ClustersSubscriptionList:
          parameters:
            api-version: 2019-08-01-preview
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            "200":
              body:
              - id: /subscriptions/594038b5-1093-476e-a366-482775671c11/resourcegroups/calbot-rg/providers/microsoft.operationalinsights/clusters/testresourcelock
                identity:
                  principalId: 356d057d-cba5-44dd-8a30-b2e547bc416b
                  tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                  type: SystemAssigned
                location: eastus
                name: TestResourceLock
                properties:
                  clusterId: 5b02755b-5bf4-430c-9487-45502a2a7e62
                  encryptionKeyUri: https://aztest2170.vault.azure.net/certificates/aztest2170cert/654ft6c4e63845cbb50fd6fg51540429
                  provisioningState: Succeeded
                type: Microsoft.OperationalInsights/clusters
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/clusters:
    get:
      description: Gets Log Analytics clusters in a resource group.
      operationId: Clusters_ListByResourceGroup
      parameters:
      - description: The name of the resource group to get. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        ClustersGet:
          parameters:
            api-version: 2019-08-01-preview
            resourceGroupName: oiautorest6685
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            "200":
              body:
              - id: /subscriptions/594038b5-1093-476e-a366-482775671c11/resourcegroups/calbot-rg/providers/microsoft.operationalinsights/clusters/testresourcelock
                identity:
                  principalId: 356d057d-cba5-44dd-8a30-b2e547bc416b
                  tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                  type: SystemAssigned
                location: eastus
                name: TestResourceLock
                properties:
                  clusterId: 5b02755b-5bf4-430c-9487-45502a2a7e62
                  encryptionKeyUri: https://aztest2170.vault.azure.net/certificates/aztest2170cert/654ft6c4e63845cbb50fd6fg51540429
                  provisioningState: Succeeded
                type: Microsoft.OperationalInsights/clusters
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/clusters/{clusterName}
  : delete:
      description: Deletes a cluster instance.
      operationId: Clusters_Delete
      parameters:
      - description: The resource group name of the Log Analytics cluster.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the Log Analytics Cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK response definition.
        "204":
          content: {}
          description: NoContent response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        ClustersDelete:
          parameters:
            api-version: 2019-08-01-preview
            clusterName: oiautorest6685
            resourceGroupName: oiautorest6685
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets a Log Analytics cluster instance.
      operationId: Clusters_Get
      parameters:
      - description: The resource group name of the Log Analytics cluster.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the Log Analytics Cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        ClustersGet:
          parameters:
            api-version: 2019-08-01-preview
            clusterName: oiautorest6685
            resourceGroupName: oiautorest6685
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            "200":
              body:
              - id: /subscriptions/594038b5-1093-476e-a366-482775671c11/resourcegroups/calbot-rg/providers/microsoft.operationalinsights/clusters/testresourcelock
                identity:
                  principalId: 356d057d-cba5-44dd-8a30-b2e547bc416b
                  tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                  type: SystemAssigned
                location: eastus
                name: TestResourceLock
                properties:
                  clusterId: 5b02755b-5bf4-430c-9487-45502a2a7e62
                  encryptionKeyUri: https://aztest2170.vault.azure.net/certificates/aztest2170cert/654ft6c4e63845cbb50fd6fg51540429
                  provisioningState: Succeeded
                type: Microsoft.OperationalInsights/clusters
              - id: /subscriptions/594038b5-1093-476e-a366-482775671c11/resourcegroups/mms-eus/providers/microsoft.operationalinsights/clusters/southukws
                identity:
                  principalId: 356d057d-cba5-44dd-8a30-b2e547bc416b
                  tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                  type: SystemAssigned
                location: East US
                name: SouthUKWS
                properties:
                  clusterId: 5b02755b-5bf4-430c-9487-45502a2a7e62
                  encryptionKeyUri: https://aztest2170.vault.azure.net/certificates/aztest2170cert/654ft6c4e63845cbb50fd6fg51540429
                  provisioningState: Succeeded
                type: Microsoft.OperationalInsights/clusters
      x-accepts:
      - application/json
    patch:
      description: Updates a Log Analytics cluster.
      operationId: Clusters_Update
      parameters:
      - description: The resource group name of the cluster.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          maxLength: 63
          minLength: 4
          pattern: "^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterPatch'
        description: The parameters required to patch a Log Analytics cluster.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: The existing cluster was successfully updated. Check provisioningStatus
            to see detailed status.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        ClustersPatch:
          parameters:
            api-version: 2019-08-01-preview
            clusterName: oiautorest6685
            parameters:
              properties:
                encryptionKeyUri: https://aztest2170.vault.azure.net/certificates/aztest2170cert/654ft6c4e63845cbb50fd6fg51540429
              tags:
                tag1: val1
            resourceGroupName: oiautorest6685
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            "200":
              body:
                location: australiasoutheast
                properties:
                  encryptionKeyUri: https://aztest2170.vault.azure.net/certificates/aztest2170cert/654ft6c4e63845cbb50fd6fg51540429
                tags:
                  tag1: val1
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a Log Analytics cluster.
      operationId: Clusters_CreateOrUpdate
      parameters:
      - description: The resource group name of the Log Analytics cluster.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Log Analytics cluster.
        in: path
        name: clusterName
        required: true
        schema:
          maxLength: 63
          minLength: 4
          pattern: "^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
        description: The parameters required to create or update a Log Analytics cluster.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK response definition.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Created response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        ClustersCreate:
          parameters:
            api-version: 2019-08-01-preview
            clusterName: oiautorest6685
            parameters:
              location: australiasoutheast
              properties:
                encryptionKeyUri: https://aztest2170.vault.azure.net/certificates/aztest2170cert/654ft6c4e63845cbb50fd6fg51540429
              tags:
                tag1: val1
            resourceGroupName: oiautorest6685
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000005/resourcegroups/oiautorest6685/providers/microsoft.operationalinsights/clusters/aztest2170
                identity:
                  principalId: 356d057d-cba5-44dd-8a30-b2e547bc416b
                  tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                  type: SystemAssigned
                location: australiasoutheast
                name: AzTest2170
                properties:
                  clusterId: bc089d7b-485c-4aff-a71e-c00f362d8d2f
                  encryptionKeyUri: https://aztest2170.vault.azure.net/certificates/aztest2170cert/654ft6c4e63845cbb50fd6fg51540429
                  provisioningState: Creating
                tags:
                  tag1: val1
                type: Microsoft.OperationalInsights/clusters
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000005/resourcegroups/oiautorest6685/providers/microsoft.operationalinsights/clusters/aztest2170
                identity:
                  principalId: 356d057d-cba5-44dd-8a30-b2e547bc416b
                  tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                  type: SystemAssigned
                location: australiasoutheast
                name: AzTest2170
                properties:
                  clusterId: bc089d7b-485c-4aff-a71e-c00f362d8d2f
                  encryptionKeyUri: https://aztest2170.vault.azure.net/certificates/aztest2170cert/654ft6c4e63845cbb50fd6fg51540429
                  provisioningState: Creating
                tags:
                  tag1: val1
                type: Microsoft.OperationalInsights/clusters
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the resource group to get. The name is case insensitive.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Cluster:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The top level Log Analytics cluster resource container.
      example:
        identity:
          tenantId: tenantId
          principalId: principalId
          type: SystemAssigned
        properties:
          encryptionKeyUri: encryptionKeyUri
          clusterId: clusterId
          provisioningState: Creating
          nextLink: nextLink
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        properties:
          $ref: '#/components/schemas/ClusterProperties'
      x-ms-azure-resource: true
    ClusterListResult:
      description: The list clusters operation response.
      example:
        value:
        - identity:
            tenantId: tenantId
            principalId: principalId
            type: SystemAssigned
          properties:
            encryptionKeyUri: encryptionKeyUri
            clusterId: clusterId
            provisioningState: Creating
            nextLink: nextLink
        - identity:
            tenantId: tenantId
            principalId: principalId
            type: SystemAssigned
          properties:
            encryptionKeyUri: encryptionKeyUri
            clusterId: clusterId
            provisioningState: Creating
            nextLink: nextLink
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of recommendations.
          type: string
        value:
          description: A list of Log Analytics clusters.
          items:
            $ref: '#/components/schemas/Cluster'
          type: array
      type: object
    ClusterPatch:
      description: The top level Log Analytics cluster resource container.
      example:
        properties:
          encryptionKeyUri: encryptionKeyUri
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/ClusterPatchProperties'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
      type: object
      x-ms-azure-resource: true
    ClusterPatchProperties:
      description: Log Analytics cluster patch properties.
      example:
        encryptionKeyUri: encryptionKeyUri
      properties:
        encryptionKeyUri:
          description: The Key Vault key or certificate path associated with the Log
            Analytics cluster.
          type: string
      type: object
    ClusterProperties:
      description: Cluster properties.
      example:
        encryptionKeyUri: encryptionKeyUri
        clusterId: clusterId
        provisioningState: Creating
        nextLink: nextLink
      properties:
        clusterId:
          description: The ID associated with the cluster.
          readOnly: true
          type: string
        encryptionKeyUri:
          description: The Key Vault key or certificate path associated with the Log
            Analytics cluster.
          type: string
        nextLink:
          description: The link used to get the next page of recommendations.
          type: string
        provisioningState:
          description: The provisioning state of the cluster.
          enum:
          - Creating
          - Succeeded
          - Failed
          - Canceled
          - Deleting
          - ProvisioningAccount
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: EntityStatus
      type: object
    ErrorDetails:
      description: The details of the error.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          type: string
        target:
          description: The target of the particular error.
          readOnly: true
          type: string
      type: object
    ErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      type: object
    Identity:
      description: Identity for the resource.
      example:
        tenantId: tenantId
        principalId: principalId
        type: SystemAssigned
      properties:
        principalId:
          description: The principal ID of resource identity.
          readOnly: true
          type: string
        tenantId:
          description: The tenant ID of resource.
          readOnly: true
          type: string
        type:
          description: The identity type.
          enum:
          - SystemAssigned
          - None
          type: string
          x-ms-enum:
            modelAsString: false
            name: IdentityType
      required:
      - type
      type: object
    Resource:
      description: The resource definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

