openapi: 3.0.1
info:
  contact:
    name: Fun Translations
    url: http://funtranslations.com/
  description: "Funtranslations Starwars API gives access to the full set of starwars\
    \ language translations available at funtranslations.com so that you can integrate\
    \ them in your workflow or an app. [Click here to get details and subscribe](http://funtranslations.com/api/starwars)\
    \ .      \n\n  You can also subscribe to individual translators. Here are the\
    \ details.\n  \n  Ever wonder how to talk like Yoda? Well, use our API and let\
    \ your APP/webpage speak like Yoda too.[Click here to subscribe](http://funtranslations.com/api/yoda)\
    \  \n  \n  Sith Translator API. [Click here to subscribe](http://funtranslations.com/api/sith)\
    \ \n  \n  Cheunh Translator API. [Click here to subscribe](http://funtranslations.com/api/cheunh)\
    \ \n  \n  Huttese Translator API. [Click here to subscribe](http://funtranslations.com/api/huttese)\n\
    \  \n  Mandalorian Translator API. [Click here to subscribe](http://funtranslations.com/api/mandalorian)\n\
    \  \n  Gungan Translator API. [Click here to subscribe](http://funtranslations.com/api/gungan)\n"
  termsOfService: https://funtranslations.com/terms
  title: Starwars Translations API
  version: "2.3"
  x-apisguru-categories:
  - text
  x-logo:
    url: https://twitter.com/funtranslate/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://funtranslations.com/yaml/funtranslations.starwars.yaml
    version: "2.0"
  x-providerName: funtranslations.com
  x-serviceName: starwars
servers:
- url: https://api.funtranslations.com/
- url: http://api.funtranslations.com/
tags:
- description: Starwars Translation API
  externalDocs:
    description: Find out more
    url: http://funtranslations.com/api/starwars
  name: Starwars
paths:
  /translate/cheunh:
    get:
      description: Translate from English to Starwars cheunh.
      parameters:
      - description: Text to translate
        in: query
        name: text
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": 1
                  },
                  "contents": {
                    "translated": "Ch'ah went ch'at coruscant vea was bav parsec ch'itt'suvrecah!",
                    "text": "I went to coruscant which was ten parsec away!",
                    "translation": "cheunh"
                  }
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: "{\n    \"error\": {\n        \"code\": 401,\n        \"message\"\
                : \"Unauthorized\"\n    }\n}   "
          description: 401  response
      security:
      - X-Funtranslations-Api-Secret: []
      tags:
      - Starwars
      x-accepts:
      - application/json
  /translate/gungan:
    get:
      description: Translate from English to Starwars Gungan Language.
      parameters:
      - description: Text to translate
        in: query
        name: text
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": 1
                  },
                  "contents": {
                    "translated": "Yousa came to mesa home and mesa said okeeday!",
                    "text": "You came to my home and I said okay!",
                    "translation": "gungan"
                  }
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: "{\n    \"error\": {\n        \"code\": 401,\n        \"message\"\
                : \"Unauthorized\"\n    }\n} "
          description: 401  response
      security:
      - X-Funtranslations-Api-Secret: []
      tags:
      - Starwars
      x-accepts:
      - application/json
  /translate/huttese:
    get:
      description: Translate from English to Starwars Huttese Language.
      parameters:
      - description: Text to translate
        in: query
        name: text
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": 1
                  },
                  "contents": {
                    "translated": "Did u stuka doe murishani?",
                    "text": "Did you see the bounty hunter?",
                    "translation": "huttese"
                  }
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Funtranslations-Api-Secret: []
      tags:
      - Starwars
      x-accepts:
      - application/json
  /translate/mandalorian:
    get:
      description: Translate from English to Starwars Mandalorian Language.
      parameters:
      - description: Text to translate
        in: query
        name: text
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": 1
                  },
                  "contents": {
                    "translated": "Ni'd guuror a pint cuyir gal",
                    "text": "I'd like a pint of ale",
                    "translation": "mandalorian"
                  }
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Funtranslations-Api-Secret: []
      tags:
      - Starwars
      x-accepts:
      - application/json
  /translate/sith:
    get:
      description: Translate from English to Sith Speak.
      parameters:
      - description: Text to translate
        in: query
        name: text
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": 1
                  },
                  "contents": {
                    "translated": "Nu went kia coruscant which meo ten parsekas salini!",
                    "text": "I went to coruscant which was ten parsec away!",
                    "translation": "sith"
                  }
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: |-
                {
                    "error": {
                        "code": 401,
                        "message": "Unauthorized"
                    }
                }
          description: 401  response
      security:
      - X-Funtranslations-Api-Secret: []
      tags:
      - Starwars
      x-accepts:
      - application/json
  /translate/yoda:
    get:
      description: Translate from English to Yoda Speak.
      parameters:
      - description: Text to translate
        in: query
        name: text
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              example: |-
                {
                  "success": {
                    "total": 1
                  },
                  "contents": {
                    "translated": "Lost a planet,  master obiwan has. ",
                    "text": "Master Obiwan has lost a planet.",
                    "translation": "yoda"
                  }
                }
          description: 200  response
        "401":
          content:
            application/json:
              example: "{\n    \"error\": {\n        \"code\": 401,\n        \"message\"\
                : \"Unauthorized\"\n    }\n} "
          description: 401  response
      security:
      - X-Funtranslations-Api-Secret: []
      tags:
      - Starwars
      x-accepts:
      - application/json
components:
  schemas: {}
  securitySchemes:
    X-Funtranslations-Api-Secret:
      in: header
      name: X-Funtranslations-Api-Secret
      type: apiKey
x-original-swagger-version: "2.0"

