openapi: 3.0.1
info:
  description: Deployment Admin Client.
  title: DeploymentAdminClient
  version: 2019-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/deployment/Microsoft.Deployment.Admin/preview/2019-01-01/FileContainer.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-FileContainer
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers:
    get:
      description: Returns an array of file containers.
      operationId: file_containers_list
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContainersList'
          description: OK
      tags:
      - FileContainers
      x-ms-examples:
        Return file containers list.:
          parameters:
            api-version: 2019-01-01
            location: global
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/Microsoft.NullProvider.1.1
                  location: global
                  name: global/Microsoft.NullProvider.1.1
                  properties:
                    postCopyAction: Unzip
                    provisioningState: Succeeded
                    uri: https://deploymentrp.blob.redmond.ext-n22r1708.masd.stbtest.microsoft.com/msdpfilecontainer-cb72641657134ed79ffeb632a58a671e/
                  type: Microsoft.Deployment.Admin/locations/fileContainers
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.file_containers_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/{fileContainerId}:
    delete:
      description: Delete an existing file container.
      operationId: file_containers_delete
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The file container identifier.
        in: path
        name: file_container_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "404":
          content: {}
          description: Not found
      summary: Deletes specified file container.
      tags:
      - FileContainers
      x-ms-examples:
        Deletes specified file container.:
          parameters:
            api-version: 2019-01-01
            fileContainerId: Microsoft.NullProvider.1.1
            location: global
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200": {}
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.file_containers_controller
    get:
      description: Retrieves the specific file container details.
      operationId: file_containers_get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The file container identifier.
        in: path
        name: fileContainerId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContainer'
          description: OK
        "404":
          content: {}
          description: Not Found
      tags:
      - FileContainers
      x-ms-examples:
        Return the file container details.:
          parameters:
            api-version: 2019-01-01
            fileContainerId: Microsoft.NullProvider.1.1
            location: global
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200":
              body:
                id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/Microsoft.NullProvider.1.1
                location: global
                name: global/Microsoft.NullProvider.1.1
                properties:
                  postCopyAction: Unzip
                  provisioningState: Succeeded
                  uri: https://deploymentrp.blob.redmond.ext-n22r1708.masd.stbtest.microsoft.com/msdpfilecontainer-cb72641657134ed79ffeb632a58a671e/
                type: Microsoft.Deployment.Admin/locations/fileContainers
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.file_containers_controller
    put:
      description: Creates a new file container.
      operationId: file_containers_create
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-01-01
          type: string
      - description: The file container identifier.
        in: path
        name: file_container_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileContainerParameters'
        description: The parameters required to create a new file container.
        required: true
        x-ms-parameter-location: method
        x-body-name: fileContainerParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContainer'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - FileContainers
      x-ms-examples:
        Creates a new file container.:
          parameters:
            api-version: 2019-01-01
            fileContainerId: Microsoft.NullProvider.1.1
            fileContainerParameters:
              properties:
                postCopyAction: Unzip
                sourceUri: https://deploymentproviderbvts.blob.redmond.ext-n22r1708.masd.stbtest.microsoft.com/temp/Microsoft.NullProvider.1.1.zip
            location: global
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200":
              body:
                id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/Microsoft.NullProvider.1.1
                location: global
                name: global/Microsoft.NullProvider.1.1
                properties:
                  postCopyAction: Unzip
                  provisioningState: Creating
                type: Microsoft.Deployment.Admin/locations/fileContainers
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: fileContainerParameters
      x-openapi-router-controller: openapi_server.controllers.file_containers_controller
components:
  parameters:
    FileContainerIdParameter:
      description: The file container identifier.
      in: path
      name: fileContainerId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    FileContainerParameters:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileContainerParameters'
      description: The parameters required to create a new file container.
      required: true
      x-ms-parameter-location: method
      x-body-name: fileContainerParameters
  schemas:
    ErrorInfo:
      description: Extended Error Information.
      example:
        code: code
        details:
        - null
        - null
        message: message
      properties:
        code:
          description: The error code.
          title: code
          type: string
        details:
          description: The detailed error messages.
          items:
            $ref: '#/components/schemas/ErrorInfo'
          title: details
          type: array
        message:
          description: The error message.
          title: message
          type: string
      title: ErrorInfo
      type: object
    FileContainer:
      allOf:
      - description: Object model of azure resource manager base.
        properties:
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: File container entity.
      example:
        properties:
          sourceUri: sourceUri
          fileContainerId: fileContainerId
          provisioningState: provisioningState
          error:
            code: code
            details:
            - null
            - null
            message: message
          uri: uri
          postCopyAction: None
      properties:
        properties:
          $ref: '#/components/schemas/FileContainerAdminProperties'
      title: FileContainer
    FileContainerAdminProperties:
      description: File Container Properties.
      example:
        sourceUri: sourceUri
        fileContainerId: fileContainerId
        provisioningState: provisioningState
        error:
          code: code
          details:
          - null
          - null
          message: message
        uri: uri
        postCopyAction: None
      properties:
        error:
          $ref: '#/components/schemas/ErrorInfo'
        fileContainerId:
          description: File container resource identifier containing product manifest.
          title: FileContainerId
          type: string
        postCopyAction:
          $ref: '#/components/schemas/PostCopyAction'
        provisioningState:
          description: Provisioning state of the resource.
          title: provisioningState
          type: string
        sourceUri:
          description: Specifies The remote file location.
          title: SourceUri
          type: string
        uri:
          description: The file or container Uri. This is read-only property; a user
            cannot set it.
          title: uri
          type: string
      title: FileContainerAdminProperties
      type: object
    FileContainerId:
      description: File container resource identifier containing product manifest.
      title: FileContainerId
      type: string
    FileContainerParameters:
      description: Parameters for creating a new file container.
      example:
        sourceUri: sourceUri
        postCopyAction: None
      properties:
        postCopyAction:
          $ref: '#/components/schemas/PostCopyAction'
        sourceUri:
          description: Specifies The remote file location.
          title: SourceUri
          type: string
      title: FileContainerParameters
      type: object
    FileContainersList:
      description: List of file containers.
      example:
        value:
        - properties:
            sourceUri: sourceUri
            fileContainerId: fileContainerId
            provisioningState: provisioningState
            error:
              code: code
              details:
              - null
              - null
              message: message
            uri: uri
            postCopyAction: None
        - properties:
            sourceUri: sourceUri
            fileContainerId: fileContainerId
            provisioningState: provisioningState
            error:
              code: code
              details:
              - null
              - null
              message: message
            uri: uri
            postCopyAction: None
        nextLink: nextLink
      properties:
        nextLink:
          description: Continuation token.
          title: nextLink
          type: string
        value:
          description: List of file containers.
          items:
            $ref: '#/components/schemas/FileContainer'
          title: value
          type: array
      title: FileContainersList
      type: object
    PostCopyAction:
      description: Specifies the file post copy action.
      enum:
      - None
      - Unzip
      title: PostCopyAction
      type: string
      x-ms-enum:
        modelAsString: true
        name: PostCopyAction
    SourceUri:
      description: Specifies The remote file location.
      title: SourceUri
      type: string
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
