openapi: 3.0.0
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  description: "<fullname>AWS Import/Export Service</fullname> AWS Import/Export accelerates\
    \ transferring large amounts of data between the AWS cloud and portable storage\
    \ devices that you mail to us. AWS Import/Export transfers data directly onto\
    \ and off of your storage devices using Amazon's high-speed internal network and\
    \ bypassing the Internet. For large data sets, AWS Import/Export is often faster\
    \ than Internet transfer and more cost effective than upgrading your connectivity."
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  termsOfService: https://aws.amazon.com/service-terms/
  title: AWS Import/Export
  version: 2010-06-01
  x-release: v2
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: '#FFFFFF'
  x-providerName: amazonaws.com
  x-serviceName: importexport
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/importexport-2010-06-01.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/importexport/
servers:
- description: The general AWS Import/Export multi-region endpoint
  url: http://importexport.amazonaws.com
- description: The general AWS Import/Export multi-region endpoint
  url: https://importexport.amazonaws.com
- description: The AWS Import/Export endpoint for China (Beijing) and China (Ningxia)
  url: "http://importexport.{region}.amazonaws.com.cn"
  variables:
    region:
      default: cn-north-1
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
- description: The AWS Import/Export endpoint for China (Beijing) and China (Ningxia)
  url: "https://importexport.{region}.amazonaws.com.cn"
  variables:
    region:
      default: cn-north-1
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
security:
- hmac: []
paths:
  /#Operation=CancelJob&Action=CancelJob:
    get:
      description: This operation cancels a specified job. Only the job owner can
        cancel it. The operation fails if the job has already started or is complete.
      operationId: g_et_cancel_job
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: JobId
        required: true
        schema:
          description: A unique identifier which refers to a particular job.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: APIVersion
        required: false
        schema:
          description: Specifies the version of the client tool.
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - CancelJob
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CancelJobOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidJobIdException'
          description: InvalidJobIdException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredJobIdException'
          description: ExpiredJobIdException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CanceledJobIdException'
          description: CanceledJobIdException
          x-aws-exception: true
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UnableToCancelJobIdException'
          description: UnableToCancelJobIdException
          x-aws-exception: true
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
      x-aws-operation-name: CancelJob
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: This operation cancels a specified job. Only the job owner can
        cancel it. The operation fails if the job has already started or is complete.
      operationId: p_ost_cancel_job
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - CancelJob
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CancelJobInput'
        x-body-name: body
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CancelJobOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidJobIdException'
          description: InvalidJobIdException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredJobIdException'
          description: ExpiredJobIdException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CanceledJobIdException'
          description: CanceledJobIdException
          x-aws-exception: true
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UnableToCancelJobIdException'
          description: UnableToCancelJobIdException
          x-aws-exception: true
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
      x-aws-operation-name: CancelJob
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#Operation=CreateJob&Action=CreateJob:
    get:
      description: "This operation initiates the process of scheduling an upload or\
        \ download of your data. You include in the request a manifest that describes\
        \ the data transfer specifics. The response to the request includes a job\
        \ ID, which you can use in other operations, a signature that you use to identify\
        \ your storage device, and the address where you should ship your storage\
        \ device."
      operationId: g_et_create_job
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: JobType
        required: true
        schema:
          description: Specifies whether the job to initiate is an import or export
            job.
          enum:
          - Import
          - Export
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: Manifest
        required: true
        schema:
          description: The UTF-8 encoded text of the manifest file.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: ManifestAddendum
        required: false
        schema:
          description: For internal use only.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: ValidateOnly
        required: true
        schema:
          description: Validate the manifest and parameter values in the request but
            do not actually create a job.
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: APIVersion
        required: false
        schema:
          description: Specifies the version of the client tool.
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - CreateJob
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateJobOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingParameterException'
          description: MissingParameterException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidParameterException'
          description: InvalidParameterException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAddressException'
          description: InvalidAddressException
          x-aws-exception: true
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidManifestFieldException'
          description: InvalidManifestFieldException
          x-aws-exception: true
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingManifestFieldException'
          description: MissingManifestFieldException
          x-aws-exception: true
        "486":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchBucketException'
          description: NoSuchBucketException
          x-aws-exception: true
        "487":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingCustomsException'
          description: MissingCustomsException
          x-aws-exception: true
        "488":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidCustomsException'
          description: InvalidCustomsException
          x-aws-exception: true
        "489":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidFileSystemException'
          description: InvalidFileSystemException
          x-aws-exception: true
        "490":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MultipleRegionsException'
          description: MultipleRegionsException
          x-aws-exception: true
        "491":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/BucketPermissionException'
          description: BucketPermissionException
          x-aws-exception: true
        "492":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MalformedManifestException'
          description: MalformedManifestException
          x-aws-exception: true
        "493":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateJobQuotaExceededException'
          description: CreateJobQuotaExceededException
          x-aws-exception: true
        "494":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidJobIdException'
          description: InvalidJobIdException
          x-aws-exception: true
        "495":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
      x-aws-operation-name: CreateJob
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "This operation initiates the process of scheduling an upload or\
        \ download of your data. You include in the request a manifest that describes\
        \ the data transfer specifics. The response to the request includes a job\
        \ ID, which you can use in other operations, a signature that you use to identify\
        \ your storage device, and the address where you should ship your storage\
        \ device."
      operationId: p_ost_create_job
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - CreateJob
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateJobInput'
        x-body-name: body
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateJobOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingParameterException'
          description: MissingParameterException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidParameterException'
          description: InvalidParameterException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAddressException'
          description: InvalidAddressException
          x-aws-exception: true
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidManifestFieldException'
          description: InvalidManifestFieldException
          x-aws-exception: true
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingManifestFieldException'
          description: MissingManifestFieldException
          x-aws-exception: true
        "486":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchBucketException'
          description: NoSuchBucketException
          x-aws-exception: true
        "487":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingCustomsException'
          description: MissingCustomsException
          x-aws-exception: true
        "488":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidCustomsException'
          description: InvalidCustomsException
          x-aws-exception: true
        "489":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidFileSystemException'
          description: InvalidFileSystemException
          x-aws-exception: true
        "490":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MultipleRegionsException'
          description: MultipleRegionsException
          x-aws-exception: true
        "491":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/BucketPermissionException'
          description: BucketPermissionException
          x-aws-exception: true
        "492":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MalformedManifestException'
          description: MalformedManifestException
          x-aws-exception: true
        "493":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CreateJobQuotaExceededException'
          description: CreateJobQuotaExceededException
          x-aws-exception: true
        "494":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidJobIdException'
          description: InvalidJobIdException
          x-aws-exception: true
        "495":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
      x-aws-operation-name: CreateJob
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#Operation=GetShippingLabel&Action=GetShippingLabel:
    get:
      description: This operation generates a pre-paid UPS shipping label that you
        will use to ship your device to AWS for processing.
      operationId: g_et_get_shipping_label
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: jobIds
        required: true
        schema:
          items:
            $ref: '#/components/schemas/GenericString'
          type: array
        style: form
      - description: ""
        explode: true
        in: query
        name: name
        required: false
        schema:
          description: Specifies the name of the person responsible for shipping this
            package.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: company
        required: false
        schema:
          description: Specifies the name of the company that will ship this package.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          description: Specifies the phone number of the person responsible for shipping
            this package.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: country
        required: false
        schema:
          description: Specifies the name of your country for the return address.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: stateOrProvince
        required: false
        schema:
          description: Specifies the name of your state or your province for the return
            address.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: city
        required: false
        schema:
          description: Specifies the name of your city for the return address.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: postalCode
        required: false
        schema:
          description: Specifies the postal code for the return address.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: street1
        required: false
        schema:
          description: "Specifies the first part of the street address for the return\
            \ address, for example 1234 Main Street."
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: street2
        required: false
        schema:
          description: "Specifies the optional second part of the street address for\
            \ the return address, for example Suite 100."
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: street3
        required: false
        schema:
          description: "Specifies the optional third part of the street address for\
            \ the return address, for example c/o Jane Doe."
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: APIVersion
        required: false
        schema:
          description: Specifies the version of the client tool.
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - GetShippingLabel
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetShippingLabelOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidJobIdException'
          description: InvalidJobIdException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredJobIdException'
          description: ExpiredJobIdException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CanceledJobIdException'
          description: CanceledJobIdException
          x-aws-exception: true
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAddressException'
          description: InvalidAddressException
          x-aws-exception: true
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
        "486":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidParameterException'
          description: InvalidParameterException
          x-aws-exception: true
      x-aws-operation-name: GetShippingLabel
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: This operation generates a pre-paid UPS shipping label that you
        will use to ship your device to AWS for processing.
      operationId: p_ost_get_shipping_label
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - GetShippingLabel
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetShippingLabelInput'
        x-body-name: body
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetShippingLabelOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidJobIdException'
          description: InvalidJobIdException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredJobIdException'
          description: ExpiredJobIdException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CanceledJobIdException'
          description: CanceledJobIdException
          x-aws-exception: true
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAddressException'
          description: InvalidAddressException
          x-aws-exception: true
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
        "486":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidParameterException'
          description: InvalidParameterException
          x-aws-exception: true
      x-aws-operation-name: GetShippingLabel
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#Operation=GetStatus&Action=GetStatus:
    get:
      description: "This operation returns information about a job, including where\
        \ the job is in the processing pipeline, the status of the results, and the\
        \ signature value associated with the job. You can only return information\
        \ about jobs you own."
      operationId: g_et_get_status
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: JobId
        required: true
        schema:
          description: A unique identifier which refers to a particular job.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: APIVersion
        required: false
        schema:
          description: Specifies the version of the client tool.
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - GetStatus
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetStatusOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidJobIdException'
          description: InvalidJobIdException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredJobIdException'
          description: ExpiredJobIdException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CanceledJobIdException'
          description: CanceledJobIdException
          x-aws-exception: true
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
      x-aws-operation-name: GetStatus
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "This operation returns information about a job, including where\
        \ the job is in the processing pipeline, the status of the results, and the\
        \ signature value associated with the job. You can only return information\
        \ about jobs you own."
      operationId: p_ost_get_status
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - GetStatus
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/GetStatusInput'
        x-body-name: body
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetStatusOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidJobIdException'
          description: InvalidJobIdException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredJobIdException'
          description: ExpiredJobIdException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CanceledJobIdException'
          description: CanceledJobIdException
          x-aws-exception: true
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
      x-aws-operation-name: GetStatus
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#Operation=ListJobs&Action=ListJobs:
    get:
      description: "This operation returns the jobs associated with the requester.\
        \ AWS Import/Export lists the jobs in reverse chronological order based on\
        \ the date of creation. For example if Job Test1 was created 2009Dec30 and\
        \ Test2 was created 2010Feb05, the ListJobs operation would return Test2 followed\
        \ by Test1."
      operationId: g_et_list_jobs
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: MaxJobs
        required: false
        schema:
          description: "Sets the maximum number of jobs returned in the response.\
            \ If there are additional jobs that were not returned because MaxJobs\
            \ was exceeded, the response contains &lt;IsTruncated&gt;true&lt;/IsTruncated&gt;.\
            \ To return the additional jobs, see Marker."
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: Marker
        required: false
        schema:
          description: Specifies the JOBID to start after when listing the jobs created
            with your account. AWS Import/Export lists your jobs in reverse chronological
            order. See MaxJobs.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: APIVersion
        required: false
        schema:
          description: Specifies the version of the client tool.
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - ListJobs
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListJobsOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidParameterException'
          description: InvalidParameterException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
      x-aws-operation-name: ListJobs
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: "This operation returns the jobs associated with the requester.\
        \ AWS Import/Export lists the jobs in reverse chronological order based on\
        \ the date of creation. For example if Job Test1 was created 2009Dec30 and\
        \ Test2 was created 2010Feb05, the ListJobs operation would return Test2 followed\
        \ by Test1."
      operationId: p_ost_list_jobs
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - description: Pagination limit
        explode: true
        in: query
        name: MaxJobs
        required: false
        schema:
          type: string
        style: form
      - description: Pagination token
        explode: true
        in: query
        name: Marker
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - ListJobs
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/ListJobsInput'
        x-body-name: body
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ListJobsOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidParameterException'
          description: InvalidParameterException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
      x-aws-operation-name: ListJobs
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /#Operation=UpdateJob&Action=UpdateJob:
    get:
      description: You use this operation to change the parameters specified in the
        original manifest file by supplying a new manifest file. The manifest file
        attached to this request replaces the original manifest file. You can only
        use the operation after a CreateJob request but before the data transfer starts
        and you can only use it on jobs you own.
      operationId: g_et_update_job
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: JobId
        required: true
        schema:
          description: A unique identifier which refers to a particular job.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: Manifest
        required: true
        schema:
          description: The UTF-8 encoded text of the manifest file.
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: JobType
        required: true
        schema:
          description: Specifies whether the job to initiate is an import or export
            job.
          enum:
          - Import
          - Export
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: ValidateOnly
        required: true
        schema:
          description: Validate the manifest and parameter values in the request but
            do not actually create a job.
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: APIVersion
        required: false
        schema:
          description: Specifies the version of the client tool.
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - UpdateJob
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateJobOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingParameterException'
          description: MissingParameterException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidParameterException'
          description: InvalidParameterException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAddressException'
          description: InvalidAddressException
          x-aws-exception: true
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidManifestFieldException'
          description: InvalidManifestFieldException
          x-aws-exception: true
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidJobIdException'
          description: InvalidJobIdException
          x-aws-exception: true
        "486":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingManifestFieldException'
          description: MissingManifestFieldException
          x-aws-exception: true
        "487":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchBucketException'
          description: NoSuchBucketException
          x-aws-exception: true
        "488":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredJobIdException'
          description: ExpiredJobIdException
          x-aws-exception: true
        "489":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CanceledJobIdException'
          description: CanceledJobIdException
          x-aws-exception: true
        "490":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingCustomsException'
          description: MissingCustomsException
          x-aws-exception: true
        "491":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidCustomsException'
          description: InvalidCustomsException
          x-aws-exception: true
        "492":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidFileSystemException'
          description: InvalidFileSystemException
          x-aws-exception: true
        "493":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MultipleRegionsException'
          description: MultipleRegionsException
          x-aws-exception: true
        "494":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/BucketPermissionException'
          description: BucketPermissionException
          x-aws-exception: true
        "495":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MalformedManifestException'
          description: MalformedManifestException
          x-aws-exception: true
        "496":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UnableToUpdateJobIdException'
          description: UnableToUpdateJobIdException
          x-aws-exception: true
        "497":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
      x-aws-operation-name: UpdateJob
      x-openapi-router-controller: openapi_server.controllers.default_controller
    post:
      description: You use this operation to change the parameters specified in the
        original manifest file by supplying a new manifest file. The manifest file
        attached to this request replaces the original manifest file. You can only
        use the operation after a CreateJob request but before the data transfer starts
        and you can only use it on jobs you own.
      operationId: p_ost_update_job
      parameters:
      - explode: true
        in: query
        name: AWSAccessKeyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureMethod
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: SignatureVersion
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Timestamp
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Signature
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Operation
        required: true
        schema:
          enum:
          - UpdateJob
          type: string
        style: form
      - explode: true
        in: query
        name: Action
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: Version
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateJobInput'
        x-body-name: body
      responses:
        "200":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateJobOutput'
          description: Success
        "480":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingParameterException'
          description: MissingParameterException
          x-aws-exception: true
        "481":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidParameterException'
          description: InvalidParameterException
          x-aws-exception: true
        "482":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAccessKeyIdException'
          description: InvalidAccessKeyIdException
          x-aws-exception: true
        "483":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidAddressException'
          description: InvalidAddressException
          x-aws-exception: true
        "484":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidManifestFieldException'
          description: InvalidManifestFieldException
          x-aws-exception: true
        "485":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidJobIdException'
          description: InvalidJobIdException
          x-aws-exception: true
        "486":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingManifestFieldException'
          description: MissingManifestFieldException
          x-aws-exception: true
        "487":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/NoSuchBucketException'
          description: NoSuchBucketException
          x-aws-exception: true
        "488":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpiredJobIdException'
          description: ExpiredJobIdException
          x-aws-exception: true
        "489":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CanceledJobIdException'
          description: CanceledJobIdException
          x-aws-exception: true
        "490":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MissingCustomsException'
          description: MissingCustomsException
          x-aws-exception: true
        "491":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidCustomsException'
          description: InvalidCustomsException
          x-aws-exception: true
        "492":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidFileSystemException'
          description: InvalidFileSystemException
          x-aws-exception: true
        "493":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MultipleRegionsException'
          description: MultipleRegionsException
          x-aws-exception: true
        "494":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/BucketPermissionException'
          description: BucketPermissionException
          x-aws-exception: true
        "495":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/MalformedManifestException'
          description: MalformedManifestException
          x-aws-exception: true
        "496":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UnableToUpdateJobIdException'
          description: UnableToUpdateJobIdException
          x-aws-exception: true
        "497":
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/InvalidVersionException'
          description: InvalidVersionException
          x-aws-exception: true
      x-aws-operation-name: UpdateJob
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
components:
  parameters:
    AWSAccessKeyId:
      explode: true
      in: query
      name: AWSAccessKeyId
      required: true
      schema:
        type: string
      style: form
    Action:
      explode: true
      in: query
      name: Action
      required: true
      schema:
        type: string
      style: form
    SignatureMethod:
      explode: true
      in: query
      name: SignatureMethod
      required: true
      schema:
        type: string
      style: form
    SignatureVersion:
      explode: true
      in: query
      name: SignatureVersion
      required: true
      schema:
        type: string
      style: form
    Timestamp:
      explode: true
      in: query
      name: Timestamp
      required: true
      schema:
        type: string
      style: form
    Version:
      explode: true
      in: query
      name: Version
      required: true
      schema:
        type: string
      style: form
    Signature:
      explode: true
      in: query
      name: Signature
      required: true
      schema:
        type: string
      style: form
  schemas:
    CancelJobOutput:
      description: Output structure for the CancelJob operation.
      properties:
        Success:
          description: Specifies whether (true) or not (false) AWS Import/Export updated
            your job.
          title: Success
          type: boolean
      title: CancelJobOutput
      type: object
    InvalidJobIdException:
      description: "The JOBID was missing, not found, or not associated with the AWS\
        \ account."
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: InvalidJobIdException
      type: object
    ExpiredJobIdException:
      description: Indicates that the specified job has expired out of the system.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: ExpiredJobIdException
      type: object
    CanceledJobIdException:
      description: The specified job ID has been canceled and is no longer valid.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: CanceledJobIdException
      type: object
    UnableToCancelJobIdException:
      description: AWS Import/Export cannot cancel the job
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: UnableToCancelJobIdException
      type: object
    InvalidAccessKeyIdException:
      description: The AWS Access Key ID specified in the request did not match the
        manifest's accessKeyId value. The manifest and the request authentication
        must use the same AWS Access Key ID.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: InvalidAccessKeyIdException
      type: object
    InvalidVersionException:
      description: The client tool version is invalid.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: InvalidVersionException
      type: object
    CreateJobOutput:
      description: Output structure for the CreateJob operation.
      properties:
        JobId:
          description: A unique identifier which refers to a particular job.
          title: JobId
          type: string
        JobType:
          $ref: '#/components/schemas/JobType'
        Signature:
          description: "An encrypted code used to authenticate the request and response,\
            \ for example, \"DV+TpDfx1/TdSE9ktyK9k/bDTVI=\". Only use this value is\
            \ you want to create the signature file yourself. Generally you should\
            \ use the SignatureFileContents value."
          title: Signature
          type: string
        SignatureFileContents:
          description: The actual text of the SIGNATURE file to be written to disk.
          title: SignatureFileContents
          type: string
        WarningMessage:
          description: "An optional message notifying you of non-fatal issues with\
            \ the job, such as use of an incompatible Amazon S3 bucket name."
          title: WarningMessage
          type: string
        ArtifactList:
          description: A collection of artifacts.
          items:
            $ref: '#/components/schemas/Artifact'
          title: ArtifactList
          type: array
      title: CreateJobOutput
      type: object
    MissingParameterException:
      description: One or more required parameters was missing from the request.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: MissingParameterException
      type: object
    InvalidParameterException:
      description: One or more parameters had an invalid value.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: InvalidParameterException
      type: object
    InvalidAddressException:
      description: The address specified in the manifest is invalid.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: InvalidAddressException
      type: object
    InvalidManifestFieldException:
      description: One or more manifest fields was invalid. Please correct and resubmit.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: InvalidManifestFieldException
      type: object
    MissingManifestFieldException:
      description: One or more required fields were missing from the manifest file.
        Please correct and resubmit.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: MissingManifestFieldException
      type: object
    NoSuchBucketException:
      description: "The specified bucket does not exist. Create the specified bucket\
        \ or change the manifest's bucket, exportBucket, or logBucket field to a bucket\
        \ that the account, as specified by the manifest's Access Key ID, has write\
        \ permissions to."
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: NoSuchBucketException
      type: object
    MissingCustomsException:
      description: One or more required customs parameters was missing from the manifest.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: MissingCustomsException
      type: object
    InvalidCustomsException:
      description: One or more customs parameters was invalid. Please correct and
        resubmit.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: InvalidCustomsException
      type: object
    InvalidFileSystemException:
      description: File system specified in export manifest is invalid.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: InvalidFileSystemException
      type: object
    MultipleRegionsException:
      description: Your manifest file contained buckets from multiple regions. A job
        is restricted to buckets from one region. Please correct and resubmit.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: MultipleRegionsException
      type: object
    BucketPermissionException:
      description: The account specified does not have the appropriate bucket permissions.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: BucketPermissionException
      type: object
    MalformedManifestException:
      description: Your manifest is not well-formed.
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: MalformedManifestException
      type: object
    CreateJobQuotaExceededException:
      description: "Each account can create only a certain number of jobs per day.\
        \ If you need to create more than this, please contact awsimportexport@amazon.com\
        \ to explain your particular use case."
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: CreateJobQuotaExceededException
      type: object
    GetShippingLabelOutput:
      properties:
        ShippingLabelURL:
          title: GenericString
          type: string
        Warning:
          title: GenericString
          type: string
      title: GetShippingLabelOutput
      type: object
    GenericString:
      title: GenericString
      type: string
    GetStatusOutput:
      description: Output structure for the GetStatus operation.
      properties:
        JobId:
          description: A unique identifier which refers to a particular job.
          title: JobId
          type: string
        JobType:
          $ref: '#/components/schemas/JobType'
        LocationCode:
          description: "A token representing the location of the storage device, such\
            \ as \"AtAWS\"."
          title: LocationCode
          type: string
        LocationMessage:
          description: A more human readable form of the physical location of the
            storage device.
          title: LocationMessage
          type: string
        ProgressCode:
          description: "A token representing the state of the job, such as \"Started\"\
            ."
          title: ProgressCode
          type: string
        ProgressMessage:
          description: A more human readable form of the job status.
          title: ProgressMessage
          type: string
        Carrier:
          description: Name of the shipping company. This value is included when the
            LocationCode is "Returned".
          title: Carrier
          type: string
        TrackingNumber:
          description: The shipping tracking number assigned by AWS Import/Export
            to the storage device when it's returned to you. We return this value
            when the LocationCode is "Returned".
          title: TrackingNumber
          type: string
        LogBucket:
          description: Amazon S3 bucket for user logs.
          title: LogBucket
          type: string
        LogKey:
          description: The key where the user logs were stored.
          title: LogKey
          type: string
        ErrorCount:
          description: Number of errors. We return this value when the ProgressCode
            is Success or SuccessWithErrors.
          title: ErrorCount
          type: integer
        Signature:
          description: "An encrypted code used to authenticate the request and response,\
            \ for example, \"DV+TpDfx1/TdSE9ktyK9k/bDTVI=\". Only use this value is\
            \ you want to create the signature file yourself. Generally you should\
            \ use the SignatureFileContents value."
          title: Signature
          type: string
        SignatureFileContents:
          description: "An encrypted code used to authenticate the request and response,\
            \ for example, \"DV+TpDfx1/TdSE9ktyK9k/bDTVI=\". Only use this value is\
            \ you want to create the signature file yourself. Generally you should\
            \ use the SignatureFileContents value."
          title: Signature
          type: string
        CurrentManifest:
          description: "The last manifest submitted, which will be used to process\
            \ the job."
          title: CurrentManifest
          type: string
        CreationDate:
          description: Timestamp of the CreateJob request in ISO8601 date format.
            For example "2010-03-28T20:27:35Z".
          format: date-time
          title: CreationDate
          type: string
        ArtifactList:
          description: A collection of artifacts.
          items:
            $ref: '#/components/schemas/Artifact'
          title: ArtifactList
          type: array
      title: GetStatusOutput
      type: object
    ListJobsOutput:
      description: Output structure for the ListJobs operation.
      properties:
        Jobs:
          description: A list container for Jobs returned by the ListJobs operation.
          items:
            $ref: '#/components/schemas/Job'
          title: Jobs
          type: array
        IsTruncated:
          description: "Indicates whether the list of jobs was truncated. If true,\
            \ then call ListJobs again using the last JobId element as the marker."
          title: IsTruncated
          type: boolean
      title: ListJobsOutput
      type: object
    UpdateJobOutput:
      description: Output structure for the UpateJob operation.
      properties:
        Success:
          description: Specifies whether (true) or not (false) AWS Import/Export updated
            your job.
          title: Success
          type: boolean
        WarningMessage:
          description: "An optional message notifying you of non-fatal issues with\
            \ the job, such as use of an incompatible Amazon S3 bucket name."
          title: WarningMessage
          type: string
        ArtifactList:
          description: A collection of artifacts.
          items:
            $ref: '#/components/schemas/Artifact'
          title: ArtifactList
          type: array
      title: UpdateJobOutput
      type: object
    UnableToUpdateJobIdException:
      description: AWS Import/Export cannot update the job
      properties:
        message:
          description: The human-readable description of a particular error.
          title: message
          type: string
      title: UnableToUpdateJobIdException
      type: object
    APIVersion:
      description: Specifies the version of the client tool.
      title: APIVersion
      type: string
    Description:
      description: The associated description for this object.
      title: Description
      type: string
    URL:
      description: The URL for a given Artifact.
      title: URL
      type: string
    Artifact:
      description: A discrete item that contains the description and URL of an artifact
        (such as a PDF).
      properties:
        Description:
          description: The associated description for this object.
          title: Description
          type: string
        URL:
          description: The URL for a given Artifact.
          title: URL
          type: string
      title: Artifact
      type: object
    ArtifactList:
      description: A collection of artifacts.
      items:
        $ref: '#/components/schemas/Artifact'
      title: ArtifactList
      type: array
    ErrorMessage:
      description: The human-readable description of a particular error.
      title: message
      type: string
    JobId:
      description: A unique identifier which refers to a particular job.
      title: JobId
      type: string
    CancelJobInput:
      description: Input structure for the CancelJob operation.
      properties:
        JobId:
          description: A unique identifier which refers to a particular job.
          title: JobId
          type: string
        APIVersion:
          description: Specifies the version of the client tool.
          title: APIVersion
          type: string
      required:
      - JobId
      title: CancelJobInput
      type: object
    Success:
      description: Specifies whether (true) or not (false) AWS Import/Export updated
        your job.
      title: Success
      type: boolean
    Carrier:
      description: Name of the shipping company. This value is included when the LocationCode
        is "Returned".
      title: Carrier
      type: string
    JobType:
      description: Specifies whether the job to initiate is an import or export job.
      enum:
      - Import
      - Export
      title: JobType
      type: string
    Manifest:
      description: The UTF-8 encoded text of the manifest file.
      title: Manifest
      type: string
    ManifestAddendum:
      description: For internal use only.
      title: ManifestAddendum
      type: string
    ValidateOnly:
      description: Validate the manifest and parameter values in the request but do
        not actually create a job.
      title: ValidateOnly
      type: boolean
    CreateJobInput:
      description: Input structure for the CreateJob operation.
      properties:
        JobType:
          $ref: '#/components/schemas/JobType'
        Manifest:
          description: The UTF-8 encoded text of the manifest file.
          title: Manifest
          type: string
        ManifestAddendum:
          description: For internal use only.
          title: ManifestAddendum
          type: string
        ValidateOnly:
          description: Validate the manifest and parameter values in the request but
            do not actually create a job.
          title: ValidateOnly
          type: boolean
        APIVersion:
          description: Specifies the version of the client tool.
          title: APIVersion
          type: string
      required:
      - JobType
      - Manifest
      - ValidateOnly
      title: CreateJobInput
      type: object
    Signature:
      description: "An encrypted code used to authenticate the request and response,\
        \ for example, \"DV+TpDfx1/TdSE9ktyK9k/bDTVI=\". Only use this value is you\
        \ want to create the signature file yourself. Generally you should use the\
        \ SignatureFileContents value."
      title: Signature
      type: string
    SignatureFileContents:
      description: The actual text of the SIGNATURE file to be written to disk.
      title: SignatureFileContents
      type: string
    WarningMessage:
      description: "An optional message notifying you of non-fatal issues with the\
        \ job, such as use of an incompatible Amazon S3 bucket name."
      title: WarningMessage
      type: string
    CreationDate:
      description: Timestamp of the CreateJob request in ISO8601 date format. For
        example "2010-03-28T20:27:35Z".
      format: date-time
      title: CreationDate
      type: string
    CurrentManifest:
      description: "The last manifest submitted, which will be used to process the\
        \ job."
      title: CurrentManifest
      type: string
    ErrorCount:
      description: Number of errors. We return this value when the ProgressCode is
        Success or SuccessWithErrors.
      title: ErrorCount
      type: integer
    JobIdList:
      items:
        $ref: '#/components/schemas/GenericString'
      title: jobIds
      type: array
    name:
      description: Specifies the name of the person responsible for shipping this
        package.
      title: name
      type: string
    company:
      description: Specifies the name of the company that will ship this package.
      title: company
      type: string
    phoneNumber:
      description: Specifies the phone number of the person responsible for shipping
        this package.
      title: phoneNumber
      type: string
    country:
      description: Specifies the name of your country for the return address.
      title: country
      type: string
    stateOrProvince:
      description: Specifies the name of your state or your province for the return
        address.
      title: stateOrProvince
      type: string
    city:
      description: Specifies the name of your city for the return address.
      title: city
      type: string
    postalCode:
      description: Specifies the postal code for the return address.
      title: postalCode
      type: string
    street1:
      description: "Specifies the first part of the street address for the return\
        \ address, for example 1234 Main Street."
      title: street1
      type: string
    street2:
      description: "Specifies the optional second part of the street address for the\
        \ return address, for example Suite 100."
      title: street2
      type: string
    street3:
      description: "Specifies the optional third part of the street address for the\
        \ return address, for example c/o Jane Doe."
      title: street3
      type: string
    GetShippingLabelInput:
      properties:
        jobIds:
          items:
            $ref: '#/components/schemas/GenericString'
          title: jobIds
          type: array
        name:
          description: Specifies the name of the person responsible for shipping this
            package.
          title: name
          type: string
        company:
          description: Specifies the name of the company that will ship this package.
          title: company
          type: string
        phoneNumber:
          description: Specifies the phone number of the person responsible for shipping
            this package.
          title: phoneNumber
          type: string
        country:
          description: Specifies the name of your country for the return address.
          title: country
          type: string
        stateOrProvince:
          description: Specifies the name of your state or your province for the return
            address.
          title: stateOrProvince
          type: string
        city:
          description: Specifies the name of your city for the return address.
          title: city
          type: string
        postalCode:
          description: Specifies the postal code for the return address.
          title: postalCode
          type: string
        street1:
          description: "Specifies the first part of the street address for the return\
            \ address, for example 1234 Main Street."
          title: street1
          type: string
        street2:
          description: "Specifies the optional second part of the street address for\
            \ the return address, for example Suite 100."
          title: street2
          type: string
        street3:
          description: "Specifies the optional third part of the street address for\
            \ the return address, for example c/o Jane Doe."
          title: street3
          type: string
        APIVersion:
          description: Specifies the version of the client tool.
          title: APIVersion
          type: string
      required:
      - jobIds
      title: GetShippingLabelInput
      type: object
    GetStatusInput:
      description: Input structure for the GetStatus operation.
      properties:
        JobId:
          description: A unique identifier which refers to a particular job.
          title: JobId
          type: string
        APIVersion:
          description: Specifies the version of the client tool.
          title: APIVersion
          type: string
      required:
      - JobId
      title: GetStatusInput
      type: object
    LocationCode:
      description: "A token representing the location of the storage device, such\
        \ as \"AtAWS\"."
      title: LocationCode
      type: string
    LocationMessage:
      description: A more human readable form of the physical location of the storage
        device.
      title: LocationMessage
      type: string
    ProgressCode:
      description: "A token representing the state of the job, such as \"Started\"\
        ."
      title: ProgressCode
      type: string
    ProgressMessage:
      description: A more human readable form of the job status.
      title: ProgressMessage
      type: string
    TrackingNumber:
      description: The shipping tracking number assigned by AWS Import/Export to the
        storage device when it's returned to you. We return this value when the LocationCode
        is "Returned".
      title: TrackingNumber
      type: string
    LogBucket:
      description: Amazon S3 bucket for user logs.
      title: LogBucket
      type: string
    LogKey:
      description: The key where the user logs were stored.
      title: LogKey
      type: string
    IsCanceled:
      description: Indicates whether the job was canceled.
      title: IsCanceled
      type: boolean
    IsTruncated:
      description: "Indicates whether the list of jobs was truncated. If true, then\
        \ call ListJobs again using the last JobId element as the marker."
      title: IsTruncated
      type: boolean
    Job:
      description: Representation of a job returned by the ListJobs operation.
      properties:
        JobId:
          description: A unique identifier which refers to a particular job.
          title: JobId
          type: string
        CreationDate:
          description: Timestamp of the CreateJob request in ISO8601 date format.
            For example "2010-03-28T20:27:35Z".
          format: date-time
          title: CreationDate
          type: string
        IsCanceled:
          description: Indicates whether the job was canceled.
          title: IsCanceled
          type: boolean
        JobType:
          $ref: '#/components/schemas/JobType'
      title: Job
      type: object
    JobsList:
      description: A list container for Jobs returned by the ListJobs operation.
      items:
        $ref: '#/components/schemas/Job'
      title: Jobs
      type: array
    MaxJobs:
      description: "Sets the maximum number of jobs returned in the response. If there\
        \ are additional jobs that were not returned because MaxJobs was exceeded,\
        \ the response contains &lt;IsTruncated&gt;true&lt;/IsTruncated&gt;. To return\
        \ the additional jobs, see Marker."
      title: MaxJobs
      type: integer
    Marker:
      description: Specifies the JOBID to start after when listing the jobs created
        with your account. AWS Import/Export lists your jobs in reverse chronological
        order. See MaxJobs.
      title: Marker
      type: string
    ListJobsInput:
      description: Input structure for the ListJobs operation.
      properties:
        MaxJobs:
          description: "Sets the maximum number of jobs returned in the response.\
            \ If there are additional jobs that were not returned because MaxJobs\
            \ was exceeded, the response contains &lt;IsTruncated&gt;true&lt;/IsTruncated&gt;.\
            \ To return the additional jobs, see Marker."
          title: MaxJobs
          type: integer
        Marker:
          description: Specifies the JOBID to start after when listing the jobs created
            with your account. AWS Import/Export lists your jobs in reverse chronological
            order. See MaxJobs.
          title: Marker
          type: string
        APIVersion:
          description: Specifies the version of the client tool.
          title: APIVersion
          type: string
      title: ListJobsInput
      type: object
    UpdateJobInput:
      description: Input structure for the UpateJob operation.
      properties:
        JobId:
          description: A unique identifier which refers to a particular job.
          title: JobId
          type: string
        Manifest:
          description: The UTF-8 encoded text of the manifest file.
          title: Manifest
          type: string
        JobType:
          $ref: '#/components/schemas/JobType'
        ValidateOnly:
          description: Validate the manifest and parameter values in the request but
            do not actually create a job.
          title: ValidateOnly
          type: boolean
        APIVersion:
          description: Specifies the version of the client tool.
          title: APIVersion
          type: string
      required:
      - JobId
      - JobType
      - Manifest
      - ValidateOnly
      title: UpdateJobInput
      type: object
  securitySchemes:
    hmac:
      description: Amazon Signature authorization v2
      in: header
      name: Authorization
      type: apiKey
      x-amazon-apigateway-authtype: awsSigv2
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_hmac
x-hasEquivalentPaths: true
