openapi: 3.0.0
info:
  contact:
    x-twitter: jumpseller
  description: "# Endpoint Structure\n\nAll URLs are in the format: \n\n```text\n\
    https://api.jumpseller.com/v1/path.json?login=XXXXXX&authtoken=storetoken  \n\
    ```\n\nThe path is prefixed by the API version and the URL takes as parameters\
    \ the login (your store specific API login) and your authentication token.\n<br/><br/>\n\
    ***\n\n# Version\n\nThe current version of the API is **v1**.  \nIf we change\
    \ the API in backward-incompatible ways, we'll increase the version number and\
    \ maintain stable support for the old urls.\n<br/><br/>\n***\n\n# Authentication\n\
    \nThe API uses a token-based authentication with a combination of a login key\
    \ and an auth token. **Both parameters can be found on the left sidebar of the\
    \ Account section, accessed from the main menu of your Admin Panel**. The auth\
    \ token of the user can be reset on the same page.\n\n![Store Login](/images/support/api/apilogin.png)\n\
    \nThe auth token is a **32 characters** string.\n\nIf you are developing a Jumpseller\
    \ App, the authentication should be done using [OAuth-2](/support/oauth-2). Please\
    \ read the article [Build an App](/support/apps) for more information.\n<br/><br/>\n\
    ***\n\n# Curl Examples\n\nTo request all the products at your store, you would\
    \ append the products index path to the base url to create an URL with the format:\
    \  \n\n```text\nhttps://api.jumpseller.com/v1/products.json?login=XXXXXX&authtoken=XXXXX\n\
    ```\n\nIn curl, you can invoque that URL with:  \n\n```text\ncurl -X GET \"https://api.jumpseller.com/v1/products.json?login=XXXXXX&authtoken=XXXXX\"\
    \n```\n\nTo create a product, you will include the JSON data and specify the MIME\
    \ Type:  \n\n```text\ncurl -X POST -d '{ \"product\" : {\"name\": \"My new Product!\"\
    , \"price\": 100} }' \"https://api.jumpseller.com/v1/products.json?login=XXXXXX&authtoken=XXXXX\"\
    \ -H \"Content-Type:application/json\"\n```\n\nand to update the product identified\
    \ with 123:  \n\n```text\ncurl -X PUT -d '{ \"product\" : {\"name\": \"My updated\
    \ Product!\", \"price\": 99} }' \"https://api.jumpseller.com/v1/products/123.json?login=XXXXXX&authtoken=XXXXX\"\
    \ -H \"Content-Type:application/json\"\n```\n\nor delete it:  \n\n```text\ncurl\
    \ -X DELETE \"https://api.jumpseller.com/v1/products/123.json?login=XXXXXX&authtoken=XXXXX\"\
    \ -H \"Content-Type:application/json\"\n```\n<br/><br/>\n***\n\n# PHP Examples\n\
    \nCreate a new Product (POST method)\n\n```php\n$url = 'https://api.jumpseller.com/v1/products.json?login=XXXXX&authtoken=XXXXX;\n\
    $ch = curl_init($url);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch,\
    \ CURLOPT_HTTPHEADER, array('Content-Type: application/json'));\n\ncurl_setopt($ch,\
    \ CURLOPT_CUSTOMREQUEST, \"POST\"); //post method\ncurl_setopt($ch, CURLOPT_POSTFIELDS,\
    \ '{ \"product\" : {\"name\": \"My updated Product!\", \"price\": 99} }');\n\n\
    $result = curl_exec($ch);\nprint_r($result);\ncurl_close($ch);\n```\n<br/><br/>\n\
    ***\n\n# Plain JSON only. No XML.\n\n* We only support JSON for data serialization.\n\
    * Our node format has no root element.  \n* We use snake_case to describe attribute\
    \ keys (like \"created_at\").  \n* All empty value are replaced with **null**\
    \ strings.\n* All API URLs end in .json to indicate that they accept and return\
    \ JSON.\n* POST and PUT methods require you to explicitly state the MIME type\
    \ of your request's body content as **\"application/json\"**.\n<br/><br/>\n***\n\
    \n# Rate Limit\nYou can perform a maximum of:\n\n+ 240 (two hundred forty) requests\
    \ per minute and\n+ 8 (eight) requests per second \n\nIf you exceed this limit,\
    \ you'll get a 403 Forbidden (Rate Limit Exceeded) response for subsequent requests.\
    \  \n\nThe rate limits apply by IP address and by store. This means that multiple\
    \ requests on different stores are not counted towards the same rate limit.\n\n\
    This limits are necessary to ensure resources are correctly used. Your application\
    \ should be aware of this limits and retry any unsuccessful request, check the\
    \ following Ruby stub:\n\n```ruby\ntries = 0; max_tries = 3;\nbegin\n  HTTParty.send(method,\
    \ uri) # perform an API call.\n  sleep 0.5\n  tries += 1\nrescue\n  unless tries\
    \ >= max_tries\n    sleep 1.0 # wait the necessary time before retrying the call\
    \ again.\n    retry\n  end\nend\n```\n\nFinally, you can review the Response Headers\
    \ of each request:\n\n```text\nJumpseller-PerMinuteRateLimit-Limit: 60  \nJumpseller-PerMinuteRateLimit-Remaining:\
    \ 59 # requests available on the per-second interval  \nJumpseller-PerSecondRateLimit-Limit:\
    \ 2  \nJumpseller-PerSecondRateLimit-Remaining: 1 # requests available on the\
    \ per-second interval\n``` \n\nto better model your application requests intervals.\n\
    \nIn the event of getting your IP banned, the Response Header `Jumpseller-BannedByRateLimit-Reset`\
    \ informs you the time when will your ban be reseted.\n<br/><br/>\n***\n\n# Pagination\n\
    \nBy default we will return 50 objects (products, orders, etc) per page. There\
    \ is a maximum of 100, using a query string `&limit=100`.\nIf the result set gets\
    \ paginated it is your responsibility to check the next page for more objects\
    \ -- you do this by using query strings `&page=2`, `&page=3` and so on.\n\n```text\n\
    https://api.jumpseller.com/v1/products.json?login=XXXXXX&authtoken=XXXXX&page=3&limit=100\n\
    ```\n<br/><br/>\n***\n\n# More\n* [Jumpseller API wrapper](https://gitlab.com/jumpseller-api/ruby)\
    \ provides a public Ruby abstraction over our API;\n* [Apps Page](/apps) showcases\
    \ external integrations with Jumpseller done by technical experts;\n* [Imgbb API](https://api.imgbb.com/)\
    \ provides an easy way to upload and temporaly host for images and files.\n<br/><br/>\n\
    ***\n<br/><br/>\n"
  title: Jumpseller API
  version: 1.0.0
  x-apisguru-categories:
  - ecommerce
  x-logo:
    altText: Jumpseller logo
    href: /
    url: https://twitter.com/jumpseller/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://api.jumpseller.com/swagger.json
    version: "3.0"
  x-providerName: jumpseller.com
servers:
- url: https://api.jumpseller.com/v1
paths:
  /categories.json:
    get:
      operationId: categories_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: OK
      summary: Retrieve all Categories.
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    post:
      description: Category's permalink is automatically generated from the given
        category's name.
      operationId: categories_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/CategoryEdit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: OK
      summary: Create a new Category.
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
      x-codegen-request-body-name: body
  /categories/count.json:
    get:
      operationId: categories_count_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
          description: OK
      summary: Count all Categories.
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
  /categories/{id}.json:
    delete:
      operationId: categories_id_json_delete
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Category
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Category Not Found.
      summary: Delete an existing Category.
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    get:
      operationId: categories_id_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Category
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: The selected Category.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Category Not Found.
      summary: Retrieve a single Category.
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
    put:
      operationId: categories_id_json_put
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Category
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CategoryEdit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Category Not Found.
      summary: Modify an existing Category.
      tags:
      - Categories
      x-openapi-router-controller: openapi_server.controllers.categories_controller
      x-codegen-request-body-name: body
  /checkout_custom_fields.json:
    get:
      operationId: checkout_custom_fields_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: List restriction
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: integer
          maximum: 200
          type: integer
        style: form
      - description: List page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: integer
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CheckoutCustomField'
                type: array
          description: An array of Checkout Custom Fields
      summary: Retrieve all Checkout Custom Fields.
      tags:
      - Checkout Custom Fields
      x-openapi-router-controller: openapi_server.controllers.checkout_custom_fields_controller
    post:
      description: "Type values can be: input, selection, checkbox, date or text.\
        \ Area values can be: contact, billing_shipping or other."
      operationId: checkout_custom_fields_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/CheckoutCustomFieldEdit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutCustomField'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CheckoutCustomField Not Found.
      summary: Create a new CheckoutCustomField.
      tags:
      - Checkout Custom Fields
      x-openapi-router-controller: openapi_server.controllers.checkout_custom_fields_controller
      x-codegen-request-body-name: body
  /checkout_custom_fields/{id}.json:
    delete:
      operationId: checkout_custom_fields_id_json_delete
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CheckoutCustomField
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CheckoutCustomField Not Found.
      summary: Delete an existing CheckoutCustomField.
      tags:
      - Checkout Custom Fields
      x-openapi-router-controller: openapi_server.controllers.checkout_custom_fields_controller
    get:
      operationId: checkout_custom_fields_id_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CheckoutCustomField
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutCustomField'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CheckoutCustomField Not Found.
      summary: Retrieve a single CheckoutCustomField.
      tags:
      - Checkout Custom Fields
      x-openapi-router-controller: openapi_server.controllers.checkout_custom_fields_controller
    put:
      operationId: checkout_custom_fields_id_json_put
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CheckoutCustomField
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CheckoutCustomFieldEdit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutCustomField'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CheckoutCustomField Not Found.
      summary: Update a CheckoutCustomField.
      tags:
      - Checkout Custom Fields
      x-openapi-router-controller: openapi_server.controllers.checkout_custom_fields_controller
      x-codegen-request-body-name: body
  /countries.json:
    get:
      operationId: countries_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Country'
                type: array
          description: An array of Countries
      summary: Retrieve all Countries.
      tags:
      - Countries
      x-openapi-router-controller: openapi_server.controllers.countries_controller
  /countries/{country_code}.json:
    get:
      operationId: countries_country_code_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: ISO3166 Country Code
        explode: false
        in: path
        name: country_code
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
          description: A Country information object
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Country Not Found.
      summary: Retrieve a single Country information.
      tags:
      - Countries
      x-openapi-router-controller: openapi_server.controllers.countries_controller
  /countries/{country_code}/regions.json:
    get:
      operationId: countries_country_code_regions_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: ISO3166 Country Code
        explode: false
        in: path
        name: country_code
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Region'
                type: array
          description: An array of Regions from a single Country
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Country Not Found.
      summary: Retrieve all Regions from a single Country.
      tags:
      - Countries
      - Regions
      x-openapi-router-controller: openapi_server.controllers.countries_controller
  /countries/{country_code}/regions/{region_code}.json:
    get:
      operationId: countries_country_code_regions_region_code_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: ISO3166 Country Code
        explode: false
        in: path
        name: country_code
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Region Code
        explode: false
        in: path
        name: region_code
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
          description: A Region information object
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Country or Region not found.
      summary: Retrieve a single Region information object.
      tags:
      - Countries
      - Regions
      x-openapi-router-controller: openapi_server.controllers.countries_controller
  /custom_fields.json:
    get:
      operationId: custom_fields_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomField'
                type: array
          description: An array of Custom Fields
      summary: Retrieve all Store's Custom Fields.
      tags:
      - Custom Fields
      x-openapi-router-controller: openapi_server.controllers.custom_fields_controller
    post:
      operationId: custom_fields_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldEdit'
        description: Custom Field parameters.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
          description: OK
      summary: Create a new Custom Field.
      tags:
      - Custom Fields
      x-openapi-router-controller: openapi_server.controllers.custom_fields_controller
      x-codegen-request-body-name: body
  /custom_fields/{id}.json:
    delete:
      operationId: custom_fields_id_json_delete
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomField
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomField Not Found.
      summary: Delete an existing CustomField.
      tags:
      - Custom Fields
      x-openapi-router-controller: openapi_server.controllers.custom_fields_controller
    get:
      operationId: custom_fields_id_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomField
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomField Not Found.
      summary: Retrieve a single CustomField.
      tags:
      - Custom Fields
      x-openapi-router-controller: openapi_server.controllers.custom_fields_controller
    put:
      operationId: custom_fields_id_json_put
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomField
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldEdit'
        description: CustomField parameters.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomField Not Found.
      summary: Update a CustomField.
      tags:
      - Custom Fields
      x-openapi-router-controller: openapi_server.controllers.custom_fields_controller
      x-codegen-request-body-name: body
  /custom_fields/{id}/select_options.json:
    get:
      operationId: custom_fields_id_select_options_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomField
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomFieldSelectOption'
                type: array
          description: An array of Custom Fields Select Options
      summary: Retrieve all Store's Custom Fields.
      tags:
      - Custom Field Select Options
      x-openapi-router-controller: openapi_server.controllers.custom_field_select_options_controller
    post:
      operationId: custom_fields_id_select_options_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Automatically added
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldSelectOptionEdit'
        description: Custom Field Select Option parameters.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldSelectOption'
          description: OK
      summary: Create a new Custom Field Select Option.
      tags:
      - Custom Field Select Options
      x-openapi-router-controller: openapi_server.controllers.custom_field_select_options_controller
      x-codegen-request-body-name: body
  /custom_fields/{id}/select_options/{custom_field_select_option_id}.json:
    delete:
      operationId: custom_fields_id_select_options_custom_field_select_option_id_json_delete
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomField
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Id of the CustomFieldSelectOption
        explode: false
        in: path
        name: custom_field_select_option_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomFieldSelectOption Not Found.
      summary: Delete an existing CustomFieldSelectOption.
      tags:
      - Custom Fields
      x-openapi-router-controller: openapi_server.controllers.custom_fields_controller
    get:
      operationId: custom_fields_id_select_options_custom_field_select_option_id_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomField
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Id of the CustomFieldSelectOption
        explode: false
        in: path
        name: custom_field_select_option_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldSelectOption'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomFieldSelectOption Not Found.
      summary: Retrieve a single SelectOption from a CustomField.
      tags:
      - Custom Field Select Options
      x-openapi-router-controller: openapi_server.controllers.custom_field_select_options_controller
    put:
      operationId: custom_fields_id_select_options_custom_field_select_option_id_json_put
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomField
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Id of the CustomFieldSelectOption
        explode: false
        in: path
        name: custom_field_select_option_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldSelectOptionEdit'
        description: CustomFieldSelectOption parameters.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldSelectOption'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomFieldSelectOption Not Found.
      summary: Update a SelectOption from a CustomField.
      tags:
      - Custom Field Select Options
      x-openapi-router-controller: openapi_server.controllers.custom_field_select_options_controller
      x-codegen-request-body-name: body
  /customer_categories.json:
    get:
      operationId: customer_categories_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: List restriction
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: integer
          maximum: 200
          type: integer
        style: form
      - description: List page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: integer
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomerCategory'
                type: array
          description: An array of Customer Categories
      summary: Retrieve all Customer Categories.
      tags:
      - Customer Categories
      x-openapi-router-controller: openapi_server.controllers.customer_categories_controller
    post:
      operationId: customer_categories_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/CustomerCategoryEdit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCategory'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomerCategory Not Found.
      summary: Create a new CustomerCategory.
      tags:
      - Customer Categories
      x-openapi-router-controller: openapi_server.controllers.customer_categories_controller
      x-codegen-request-body-name: body
  /customer_categories/{id}.json:
    delete:
      operationId: customer_categories_id_json_delete
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomerCategory
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomerCategory Not Found.
      summary: Delete an existing CustomerCategory.
      tags:
      - Customer Categories
      x-openapi-router-controller: openapi_server.controllers.customer_categories_controller
    get:
      operationId: customer_categories_id_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomerCategory
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCategory'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomerCategory Not Found.
      summary: Retrieve a single CustomerCategory.
      tags:
      - Customer Categories
      x-openapi-router-controller: openapi_server.controllers.customer_categories_controller
    put:
      operationId: customer_categories_id_json_put
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomerCategory
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CustomerCategoryEdit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCategory'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomerCategory Not Found.
      summary: Update a CustomerCategory.
      tags:
      - Customer Categories
      x-openapi-router-controller: openapi_server.controllers.customer_categories_controller
      x-codegen-request-body-name: body
  /customer_categories/{id}/customers.json:
    delete:
      operationId: customer_categories_id_customers_json_delete
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomerCategory
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CustomersToCustomerCategory'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomerCategory Not Found.
      summary: Delete Customers from an existing CustomerCategory.
      tags:
      - Customer Categories
      x-openapi-router-controller: openapi_server.controllers.customer_categories_controller
      x-codegen-request-body-name: body
    get:
      operationId: customer_categories_id_customers_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomerCategory
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Customer'
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomerCategory Not Found.
      summary: Retrieves the customers in a CustomerCategory.
      tags:
      - Customer Categories
      x-openapi-router-controller: openapi_server.controllers.customer_categories_controller
    post:
      operationId: customer_categories_id_customers_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the CustomerCategory
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CustomersToCustomerCategory'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Customer'
                type: array
          description: Array of Customers in the Customer Category
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: CustomerCategory Not Found.
      summary: Adds Customers to a CustomerCategory.
      tags:
      - Customer Categories
      x-openapi-router-controller: openapi_server.controllers.customer_categories_controller
      x-codegen-request-body-name: body
  /customers.json:
    get:
      operationId: customers_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: List restriction
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: integer
          maximum: 200
          type: integer
        style: form
      - description: List page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: integer
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Customer'
                type: array
          description: An array of Orders
      summary: Retrieve all Customers.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    post:
      operationId: customers_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/CustomerWithPasswordNoID'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Customer Not Found.
      summary: Create a new Customer.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /customers/count.json:
    get:
      operationId: customers_count_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
          description: OK
      summary: Count all Customers.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /customers/email/{email}.json:
    get:
      operationId: customers_email_email_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Email of the Customer
        explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Customer Not Found.
      summary: Retrieve a single Customer by email.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /customers/{id}.json:
    delete:
      operationId: customers_id_json_delete
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Customer Not Found.
      summary: Delete an existing Customer.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    get:
      operationId: customers_id_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Customer Not Found.
      summary: Retrieve a single Customer by id.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    put:
      operationId: customers_id_json_put
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CustomerWithPasswordNoID'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Customer Not Found.
      summary: Update a new Customer.
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /customers/{id}/fields:
    get:
      operationId: customers_id_fields_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomerAdditionalField'
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Customer Not Found.
      summary: Retrieves the Customer Additional Field of a Customer.
      tags:
      - Customer Additional Fields
      x-openapi-router-controller: openapi_server.controllers.customer_additional_fields_controller
    post:
      operationId: customers_id_fields_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CustomerAdditionalFieldEdit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAdditionalField'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Customer Additional Field Not Found.
      summary: Adds Customer Additional Fields to a Customer.
      tags:
      - Customer Additional Fields
      x-openapi-router-controller: openapi_server.controllers.customer_additional_fields_controller
      x-codegen-request-body-name: body
  /customers/{id}/fields/{field_id}:
    delete:
      operationId: customers_id_fields_field_id_delete
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Id of the Customer Additional Field
        explode: false
        in: path
        name: field_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Customer Not Found.
      summary: Delete a Customer Additional Field.
      tags:
      - Customer Additional Fields
      x-openapi-router-controller: openapi_server.controllers.customer_additional_fields_controller
    get:
      operationId: customers_id_fields_field_id_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Id of the Customer Additional Field
        explode: false
        in: path
        name: field_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAdditionalField'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Customer Not Found.
      summary: Retrieve a single Customer Additional Field.
      tags:
      - Customer Additional Fields
      x-openapi-router-controller: openapi_server.controllers.customer_additional_fields_controller
    put:
      operationId: customers_id_fields_field_id_put
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Id of the Customer Additional Field
        explode: false
        in: path
        name: field_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CustomerAdditionalFieldEdit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAdditionalField'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadParams'
          description: Customer Additional Field Bad Parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Customer Additional Field Not Found.
      summary: Update a Customer Additional Field.
      tags:
      - Customer Additional Fields
      x-openapi-router-controller: openapi_server.controllers.customer_additional_fields_controller
      x-codegen-request-body-name: body
  /fulfillments.json:
    get:
      operationId: fulfillments_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: List restriction
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: integer
          maximum: 200
          type: integer
        style: form
      - description: List page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: integer
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fulfillment'
                type: array
          description: An array of Fulfillments
      summary: Retrieve all Fulfillments.
      tags:
      - Fulfillments
      x-openapi-router-controller: openapi_server.controllers.fulfillments_controller
  /fulfillments/count.json:
    get:
      operationId: fulfillments_count_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
          description: OK
      summary: Count all Fulfillments.
      tags:
      - Fulfillments
      x-openapi-router-controller: openapi_server.controllers.fulfillments_controller
  /fulfillments/{id}.json:
    get:
      operationId: fulfillments_id_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Fulfillment
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fulfillment'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Fulfillment Not Found.
      summary: Retrieve a single Fulfillment.
      tags:
      - Fulfillments
      x-openapi-router-controller: openapi_server.controllers.fulfillments_controller
  /hooks.json:
    get:
      operationId: hooks_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: List restriction
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: integer
          maximum: 200
          type: integer
        style: form
      - description: List page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: integer
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Hook'
                type: array
          description: An array of Hooks
      summary: Retrieve all Hooks.
      tags:
      - Hooks
      x-openapi-router-controller: openapi_server.controllers.hooks_controller
    post:
      operationId: hooks_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/HookEdit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Hook Not Found.
      summary: Create a new Hook.
      tags:
      - Hooks
      x-openapi-router-controller: openapi_server.controllers.hooks_controller
      x-codegen-request-body-name: body
  /hooks/{id}.json:
    delete:
      operationId: hooks_id_json_delete
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Hook
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Hook Not Found.
      summary: Delete an existing Hook.
      tags:
      - Hooks
      x-openapi-router-controller: openapi_server.controllers.hooks_controller
    get:
      operationId: hooks_id_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Hook
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Hook Not Found.
      summary: Retrieve a single Hook.
      tags:
      - Hooks
      x-openapi-router-controller: openapi_server.controllers.hooks_controller
    put:
      operationId: hooks_id_json_put
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Hook
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/HookEdit'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Hook Not Found.
      summary: Update a Hook.
      tags:
      - Hooks
      x-openapi-router-controller: openapi_server.controllers.hooks_controller
      x-codegen-request-body-name: body
  /jsapps.json:
    get:
      operationId: jsapps_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: OK
      summary: Retrieve all the Store's JSApps.
      tags:
      - Apps
      x-openapi-router-controller: openapi_server.controllers.apps_controller
    post:
      operationId: jsapps_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSAppEdit'
        description: JSApp parameters to create
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSApp'
          description: OK
      summary: Create a Store JSApp.
      tags:
      - Apps
      x-openapi-router-controller: openapi_server.controllers.apps_controller
      x-codegen-request-body-name: body
  /jsapps/{code}.json:
    delete:
      operationId: jsapps_code_json_delete
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Code of the App
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: App Not Found.
      summary: Delete an existing JSApp.
      tags:
      - Apps
      x-openapi-router-controller: openapi_server.controllers.apps_controller
    get:
      operationId: jsapps_code_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Code of the App
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSApp'
          description: OK
      summary: Retrieve a JSApp.
      tags:
      - Apps
      x-openapi-router-controller: openapi_server.controllers.apps_controller
  /order/{id}/fulfillments.json:
    get:
      operationId: order_id_fulfillments_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Fulfillment'
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Fulfillment Not Found.
      summary: Retrieve the Fulfillments associated with the Order.
      tags:
      - Fulfillments
      x-openapi-router-controller: openapi_server.controllers.fulfillments_controller
  /orders.json:
    get:
      operationId: orders_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: List restriction
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: integer
          maximum: 200
          type: integer
        style: form
      - description: List page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: integer
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Order'
                type: array
          description: An array of Orders
      summary: Retrieve all Orders.
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    post:
      description: Orders created externally keep the given order product's values
        (bypassing internal promotion or product amounts).
      operationId: orders_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
        description: Order parameters.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: OK
      summary: Create a new Order.
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /orders/after/{id}.json:
    get:
      description: "For example the GET /orders/after/5000 will return Order 5001,\
        \ 5002, 5003, etc."
      operationId: orders_after_id_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Order Not Found.
      summary: Retrieve orders filtered by Order Id.
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /orders/count.json:
    get:
      operationId: orders_count_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
          description: OK
      summary: Count all Orders.
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /orders/status/{status}.json:
    get:
      operationId: orders_status_status_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Status of the Order used as filter
        explode: false
        in: path
        name: status
        required: true
        schema:
          enum:
          - Abandoned
          - Canceled
          - Pending Payment
          - Paid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Order'
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusInvalid'
          description: Status Invalid.
      summary: Retrieve orders filtered by status.
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
  /orders/{id}.json:
    get:
      operationId: orders_id_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Order Not Found.
      summary: Retrieve a single Order.
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    put:
      description: "Only `status`, `shipment_status`, `tracking_number`, `tracking_company`,\
        \ `tracking_url`, `additional_information` and `additional_fields` are available\
        \ for update. An email is send if `shipment_status` changes."
      operationId: orders_id_json_put
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderEdit'
        description: Order parameters to change
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Order Not Found.
      summary: Modify an existing Order.
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /orders/{id}/history.json:
    get:
      operationId: orders_id_history_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrderHistory'
                type: array
          description: An array with Order History
      summary: Retrieve all Order History.
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    post:
      operationId: orders_id_history_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the OrderHistory
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderHistoryEdit'
        description: Order History parameters.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHistory'
          description: OK
      summary: Create a new Order History Entry.
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /pages.json:
    get:
      operationId: pages_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: List restriction
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: integer
          maximum: 200
          type: integer
        style: form
      - description: List page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: integer
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Page'
                type: array
          description: An array of Pages
      summary: Retrieve all Pages.
      tags:
      - Pages
      x-openapi-router-controller: openapi_server.controllers.pages_controller
    post:
      operationId: pages_json_post
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/PageModify'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: OK
      summary: Create a new Page.
      tags:
      - Pages
      x-openapi-router-controller: openapi_server.controllers.pages_controller
      x-codegen-request-body-name: body
  /pages/count.json:
    get:
      operationId: pages_count_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
          description: Total number of pages
      summary: Count all Pages.
      tags:
      - Pages
      x-openapi-router-controller: openapi_server.controllers.pages_controller
  /pages/{id}.json:
    delete:
      operationId: pages_id_json_delete
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Page
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Page Not Found.
      summary: Delete an existing Page.
      tags:
      - Pages
      x-openapi-router-controller: openapi_server.controllers.pages_controller
    get:
      operationId: pages_id_json_get
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Page
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Page Not Found.
      summary: Retrieve a single Page by id.
      tags:
      - Pages
      x-openapi-router-controller: openapi_server.controllers.pages_controller
    put:
      operationId: pages_id_json_put
      parameters:
      - description: API OAuth login.
        explode: true
        in: query
        name: login
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: API OAuth token.
        explode: true
        in: query
        name: authtoken
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Id of the Page
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PageModify'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Page Not Found.
      summary: Update a Page.
      tags:
      - Pages
      x-openapi-router-controller: openapi_server.controllers.pages_controller
      x-codegen-request-body-name: body
  /partners/stores.json:
    get:
      operationId: partners_stores_json_get
      parameters:
      - description: Partner code.
        explode: true
        in: query
        name: partner_code
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: Partner authentication token.
        explode: true
        in: query
        name: auth_token
        required: true
        schema:
          format: string
          type: string
        style: form
      - description: List page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: integer
[...]
