openapi: 3.0.0
info:
  description: The recommended REST API endpoints to be used when integrating with
    PatientView
  termsOfService: https://www.patientview.org/#/terms
  title: PatientView
  version: "1.0"
  x-logo:
    url: https://www.patientview.org/images/pv-logo.png
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: swagger
    url: https://www.patientview.org/api/api-docs
    version: "1.2"
  x-providerName: patientview.org
servers:
- url: https://www.patientview.org/
tags:
- description: Auth Controller
  name: auth-controller
- description: Observation Controller
  name: observation-controller
- description: Observation Heading Controller
  name: observation-heading-controller
- description: Patient Controller
  name: patient-controller
- description: Patient Management Controller
  name: patient-management-controller
paths:
  /auth/login:
    post:
      deprecated: false
      description: "Authenticate using username and password, returns token, which\
        \ must be added to X-Auth-Token in header of all future requests"
      operationId: log_in
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credentials'
        description: credentials
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserToken'
          description: Description was not specified
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Log In
      tags:
      - auth-controller
      x-openapi-router-controller: openapi_server.controllers.auth_controller_controller
      x-codegen-request-body-name: body
  /auth/logout/{token}:
    delete:
      deprecated: false
      description: Log Out
      operationId: log_out
      parameters:
      - description: token
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Description was not specified
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      summary: Log Out
      tags:
      - auth-controller
      x-openapi-router-controller: openapi_server.controllers.auth_controller_controller
  /auth/{token}/basicuserinformation:
    get:
      deprecated: false
      description: "Once logged in and have a token, get basic user information including\
        \ group role membership"
      operationId: get_basic_user_information
      parameters:
      - description: token
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Basic User Information
      tags:
      - auth-controller
      x-openapi-router-controller: openapi_server.controllers.auth_controller_controller
  /patient/{userId}/basic:
    get:
      deprecated: false
      description: "Given a User ID, get basic patient information for a user from\
        \ clinical data stored in FHIR"
      operationId: get_basic_patient_details
      parameters:
      - description: userId
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Patient'
                type: array
                uniqueItems: false
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Basic Patient Information
      tags:
      - patient-controller
      x-openapi-router-controller: openapi_server.controllers.patient_controller_controller
  /patientmanagement/diagnoses:
    get:
      deprecated: false
      description: getPatientManagementDiagnoses
      operationId: get_patient_management_diagnoses
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Code'
                type: array
                uniqueItems: false
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: getPatientManagementDiagnoses
      tags:
      - patient-management-controller
      x-openapi-router-controller: openapi_server.controllers.patient_management_controller_controller
  /patientmanagement/lookuptypes:
    get:
      deprecated: false
      description: getPatientManagementLookupTypes
      operationId: get_patient_management_lookup_types
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LookupType'
                type: array
                uniqueItems: false
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: getPatientManagementLookupTypes
      tags:
      - patient-management-controller
      x-openapi-router-controller: openapi_server.controllers.patient_management_controller_controller
  /patientmanagement/validate:
    post:
      deprecated: false
      description: validatePatientManagement
      operationId: validate_patient_management
      requestBody:
        $ref: '#/components/requestBodies/PatientManagement'
        x-body-name: body
      responses:
        "200":
          description: Description was not specified
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: validatePatientManagement
      tags:
      - patient-management-controller
      x-openapi-router-controller: openapi_server.controllers.patient_management_controller_controller
      x-codegen-request-body-name: body
  /patientmanagement/{userId}/group/{groupId}/identifier/{identifierId}:
    get:
      deprecated: false
      description: getPatientManagement
      operationId: get_patient_management
      parameters:
      - description: userId
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: groupId
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: identifierId
        explode: false
        in: path
        name: identifierId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientManagement'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: getPatientManagement
      tags:
      - patient-management-controller
      x-openapi-router-controller: openapi_server.controllers.patient_management_controller_controller
    post:
      deprecated: false
      description: savePatientManagement
      operationId: save_patient_management
      parameters:
      - description: userId
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: groupId
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: identifierId
        explode: false
        in: path
        name: identifierId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientManagement'
        description: patientManagement
        x-body-name: body
      responses:
        "200":
          description: Description was not specified
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: savePatientManagement
      tags:
      - patient-management-controller
      x-openapi-router-controller: openapi_server.controllers.patient_management_controller_controller
      x-codegen-request-body-name: body
  /patientmanagement/{userId}/group/{groupId}/identifier/{identifierId}/surgeries:
    post:
      deprecated: false
      description: savePatientManagementSurgeries
      operationId: save_patient_management_surgeries
      parameters:
      - description: userId
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: groupId
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: identifierId
        explode: false
        in: path
        name: identifierId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientManagement'
        description: patientManagement
        x-body-name: body
      responses:
        "200":
          description: Description was not specified
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: savePatientManagementSurgeries
      tags:
      - patient-management-controller
      x-openapi-router-controller: openapi_server.controllers.patient_management_controller_controller
      x-codegen-request-body-name: body
  /user/{userId}/availableobservationheadings:
    get:
      deprecated: false
      description: Given a User ID retrieve a list of available observation types
        for that user (where they have observation data).
      operationId: get_available_observation_headings
      parameters:
      - description: userId
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ObservationHeading'
                type: array
                uniqueItems: false
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Available Observations Types For a User
      tags:
      - observation-heading-controller
      x-openapi-router-controller: openapi_server.controllers.observation_heading_controller_controller
  /user/{userId}/observations:
    get:
      deprecated: false
      description: "Given a User ID and search parameters, retrieve a page of observations."
      operationId: get_observations_by_codes
      parameters:
      - description: userId
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: code
        explode: true
        in: query
        name: code
        required: true
        schema:
          items:
            type: string
          type: array
          uniqueItems: false
        style: form
      - description: limit
        explode: true
        in: query
        name: limit
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: offset
        explode: true
        in: query
        name: offset
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: orderDirection
        explode: true
        in: query
        name: orderDirection
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FhirObservationPage'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Observations of Multiple Types For a User
      tags:
      - observation-controller
      x-openapi-router-controller: openapi_server.controllers.observation_controller_controller
  /user/{userId}/observations/{code}:
    get:
      deprecated: false
      description: "Given a User ID and observation code, retrieve all observations."
      operationId: get_observations_by_code
      parameters:
      - description: userId
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: code
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/FhirObservation'
                type: array
                uniqueItems: false
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Observations of a Certain Type For a User
      tags:
      - observation-controller
      x-openapi-router-controller: openapi_server.controllers.observation_controller_controller
  /user/{userId}/observations/{code}/patiententered:
    get:
      deprecated: false
      description: "Given a User ID and observation code, retrieve patient entered\
        \ observations."
      operationId: get_patient_entered_observations_by_code
      parameters:
      - description: userId
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: code
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/FhirObservation'
                type: array
                uniqueItems: false
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get patient entered Observations of a Certain Type For a User
      tags:
      - observation-controller
      x-openapi-router-controller: openapi_server.controllers.observation_controller_controller
  /user/{userId}/patiententeredobservationheadings:
    get:
      deprecated: false
      description: Given a User ID retrieve a list of available observation types
        for that user (where they have patient entered observation data).
      operationId: get_patient_entered_observation_headings
      parameters:
      - description: userId
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ObservationHeading'
                type: array
                uniqueItems: false
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Available Patient Entered Observations Types For a User
      tags:
      - observation-heading-controller
      x-openapi-router-controller: openapi_server.controllers.observation_heading_controller_controller
components:
  requestBodies:
    PatientManagement:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PatientManagement'
      description: patientManagement
  schemas:
    ApiKey:
      example:
        expiryDate: 2000-01-23T04:56:07.000+00:00
        expired: true
        key: key
      properties:
        expired:
          title: expired
          type: boolean
        expiryDate:
          format: date-time
          title: expiryDate
          type: string
        key:
          title: key
          type: string
      title: ApiKey
      type: object
    BaseGroup:
      example:
        groupType:
          created: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          displayOrder: 2
          description: description
          lookupType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            description: description
            id: 9
            type: GROUP
          id: 7
          value: value
          descriptionFriendly: descriptionFriendly
        code: code
        visible: true
        lastImportDate: 2000-01-23T04:56:07.000+00:00
        name: name
        parentCodes:
        - parentCodes
        - parentCodes
        id: 1
        shortName: shortName
        visibleToJoin: true
      properties:
        code:
          title: code
          type: string
        groupType:
          $ref: '#/components/schemas/Lookup'
        id:
          format: int64
          title: id
          type: integer
        lastImportDate:
          format: date-time
          title: lastImportDate
          type: string
        name:
          title: name
          type: string
        parentCodes:
          items:
            type: string
          title: parentCodes
          type: array
        shortName:
          title: shortName
          type: string
        visible:
          title: visible
          type: boolean
        visibleToJoin:
          title: visibleToJoin
          type: boolean
      title: BaseGroup
      type: object
    Category:
      example:
        icd10Description: icd10Description
        number: 6
        hidden: true
        friendlyDescription: friendlyDescription
        id: 0
      properties:
        friendlyDescription:
          title: friendlyDescription
          type: string
        hidden:
          title: hidden
          type: boolean
        icd10Description:
          title: icd10Description
          type: string
        id:
          format: int64
          title: id
          type: integer
        number:
          format: int32
          title: number
          type: integer
      title: Category
      type: object
    Code:
      example:
        removedExternally: true
        code: code
        codeCategories:
        - id: 1
          category:
            icd10Description: icd10Description
            number: 6
            hidden: true
            friendlyDescription: friendlyDescription
            id: 0
        - id: 1
          category:
            icd10Description: icd10Description
            number: 6
            hidden: true
            friendlyDescription: friendlyDescription
            id: 0
        codeType:
          created: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          displayOrder: 2
          description: description
          lookupType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            description: description
            id: 9
            type: GROUP
          id: 7
          value: value
          descriptionFriendly: descriptionFriendly
        hideFromPatients: true
        created: 2000-01-23T04:56:07.000+00:00
        displayOrder: 5
        description: description
        fullDescription: fullDescription
        externalStandards:
        - codeString: codeString
          externalStandard:
            name: name
            description: description
            id: 0
          id: 5
        - codeString: codeString
          externalStandard:
            name: name
            description: description
            id: 0
          id: 5
        patientFriendlyName: patientFriendlyName
        sourceType: PATIENTVIEW
        lastUpdate: 2000-01-23T04:56:07.000+00:00
        links:
        - created: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          displayOrder: 1
          link: link
          name: name
          linkType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            lookupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              description: description
              id: 9
              type: GROUP
            id: 7
            value: value
            descriptionFriendly: descriptionFriendly
          id: 1
        - created: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          displayOrder: 1
          link: link
          name: name
          linkType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            lookupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              description: description
              id: 9
              type: GROUP
            id: 7
            value: value
            descriptionFriendly: descriptionFriendly
          id: 1
        standardType:
          created: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          displayOrder: 2
          description: description
          lookupType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            description: description
            id: 9
            type: GROUP
          id: 7
          value: value
          descriptionFriendly: descriptionFriendly
        id: 2
      properties:
        code:
          title: code
          type: string
        codeCategories:
          items:
            $ref: '#/components/schemas/CodeCategory'
          title: codeCategories
          type: array
          uniqueItems: true
        codeType:
          $ref: '#/components/schemas/Lookup'
        created:
          format: date-time
          title: created
          type: string
        description:
          title: description
          type: string
        displayOrder:
          format: int32
          title: displayOrder
          type: integer
        externalStandards:
          items:
            $ref: '#/components/schemas/CodeExternalStandard'
          title: externalStandards
          type: array
          uniqueItems: true
        fullDescription:
          title: fullDescription
          type: string
        hideFromPatients:
          title: hideFromPatients
          type: boolean
        id:
          format: int64
          title: id
          type: integer
        lastUpdate:
          format: date-time
          title: lastUpdate
          type: string
        links:
          items:
            $ref: '#/components/schemas/Link'
          title: links
          type: array
          uniqueItems: true
        patientFriendlyName:
          title: patientFriendlyName
          type: string
        removedExternally:
          title: removedExternally
          type: boolean
        sourceType:
          enum:
          - PATIENTVIEW
          - NHS_CHOICES
          title: sourceType
          type: string
        standardType:
          $ref: '#/components/schemas/Lookup'
      title: Code
      type: object
    CodeCategory:
      example:
        id: 1
        category:
          icd10Description: icd10Description
          number: 6
          hidden: true
          friendlyDescription: friendlyDescription
          id: 0
      properties:
        category:
          $ref: '#/components/schemas/Category'
        id:
          format: int64
          title: id
          type: integer
      title: CodeCategory
      type: object
    CodeExternalStandard:
      example:
        codeString: codeString
        externalStandard:
          name: name
          description: description
          id: 0
        id: 5
      properties:
        codeString:
          title: codeString
          type: string
        externalStandard:
          $ref: '#/components/schemas/ExternalStandard'
        id:
          format: int64
          title: id
          type: integer
      title: CodeExternalStandard
      type: object
    ContactPoint:
      example:
        created: 2000-01-23T04:56:07.000+00:00
        lastUpdate: 2000-01-23T04:56:07.000+00:00
        contactPointType:
          description: description
          lookupType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            description: description
            id: 9
            type: GROUP
          id: 3
          value: UNIT_WEB_ADDRESS
        id: 2
        content: content
      properties:
        contactPointType:
          $ref: '#/components/schemas/ContactPointType'
        content:
          title: content
          type: string
        created:
          format: date-time
          title: created
          type: string
        id:
          format: int64
          title: id
          type: integer
        lastUpdate:
          format: date-time
          title: lastUpdate
          type: string
      title: ContactPoint
      type: object
    ContactPointType:
      example:
        description: description
        lookupType:
          created: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          description: description
          id: 9
          type: GROUP
        id: 3
        value: UNIT_WEB_ADDRESS
      properties:
        description:
          title: description
          type: string
        id:
          format: int64
          title: id
          type: integer
        lookupType:
          $ref: '#/components/schemas/LookupType'
        value:
          enum:
          - UNIT_WEB_ADDRESS
          - TRUST_WEB_ADDRESS
          - PV_ADMIN_NAME
          - PV_ADMIN_PHONE
          - PV_ADMIN_EMAIL
          - UNIT_ENQUIRIES_PHONE
          - UNIT_ENQUIRIES_EMAIL
          - APPOINTMENT_PHONE
          - APPOINTMENT_EMAIL
          - OUT_OF_HOURS_INFO
          title: value
          type: string
      title: ContactPointType
      type: object
    Credentials:
      example:
        password: password
        apiKey: apiKey
        username: username
      properties:
        apiKey:
          title: apiKey
          type: string
        password:
          title: password
          type: string
        username:
          title: username
          type: string
      title: Credentials
      type: object
    Entry_long_Map_string_List_FhirObservation_:
      example:
        key:
        - key:
          - identifier: identifier
            comments: comments
            units: units
            diagram: diagram
            comparator: comparator
            bodySite: bodySite
            temporaryUuid: temporaryUuid
            applies: 2000-01-23T04:56:07.000+00:00
            name: name
            location: location
            id: 2
            value: value
            group:
              groupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              code: code
              visible: true
              address3: address3
              address2: address2
              address1: address1
              created: 2000-01-23T04:56:07.000+00:00
              contactPoints:
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                contactPointType:
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 3
                  value: UNIT_WEB_ADDRESS
                id: 2
                content: content
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                contactPointType:
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 3
                  value: UNIT_WEB_ADDRESS
                id: 2
                content: content
              postcode: postcode
              visibleToJoin: true
              lastImportDate: 2000-01-23T04:56:07.000+00:00
              parentGroups:
              - null
              - null
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              childGroups:
              - null
              - null
              groupFeatures:
              - feature:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  name: name
                  description: description
                  id: 6
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                id: 4
              - feature:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  name: name
                  description: description
                  id: 6
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                id: 4
              links:
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 1
                link: link
                name: name
                linkType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  displayOrder: 2
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 7
                  value: value
                  descriptionFriendly: descriptionFriendly
                id: 1
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 1
                link: link
                name: name
                linkType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  displayOrder: 2
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 7
                  value: value
                  descriptionFriendly: descriptionFriendly
                id: 1
              locations:
              - address: address
                phone: phone
                web: web
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                id: 1
                label: label
                email: email
              - address: address
                phone: phone
                web: web
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                id: 1
                label: label
                email: email
              id: 7
              shortName: shortName
              sftpUser: sftpUser
              fhirResourceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - identifier: identifier
            comments: comments
            units: units
            diagram: diagram
            comparator: comparator
            bodySite: bodySite
            temporaryUuid: temporaryUuid
            applies: 2000-01-23T04:56:07.000+00:00
            name: name
            location: location
            id: 2
            value: value
            group:
              groupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              code: code
              visible: true
              address3: address3
              address2: address2
              address1: address1
              created: 2000-01-23T04:56:07.000+00:00
              contactPoints:
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                contactPointType:
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 3
                  value: UNIT_WEB_ADDRESS
                id: 2
                content: content
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                contactPointType:
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 3
                  value: UNIT_WEB_ADDRESS
                id: 2
                content: content
              postcode: postcode
              visibleToJoin: true
              lastImportDate: 2000-01-23T04:56:07.000+00:00
              parentGroups:
              - null
              - null
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              childGroups:
              - null
              - null
              groupFeatures:
              - feature:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  name: name
                  description: description
                  id: 6
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                id: 4
              - feature:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  name: name
                  description: description
                  id: 6
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                id: 4
              links:
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 1
                link: link
                name: name
                linkType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  displayOrder: 2
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 7
                  value: value
                  descriptionFriendly: descriptionFriendly
                id: 1
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 1
                link: link
                name: name
                linkType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  displayOrder: 2
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 7
                  value: value
                  descriptionFriendly: descriptionFriendly
                id: 1
              locations:
              - address: address
                phone: phone
                web: web
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                id: 1
                label: label
                email: email
              - address: address
                phone: phone
                web: web
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                id: 1
                label: label
                email: email
              id: 7
              shortName: shortName
              sftpUser: sftpUser
              fhirResourceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - key:
          - identifier: identifier
            comments: comments
            units: units
            diagram: diagram
            comparator: comparator
            bodySite: bodySite
            temporaryUuid: temporaryUuid
            applies: 2000-01-23T04:56:07.000+00:00
            name: name
            location: location
            id: 2
            value: value
            group:
              groupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              code: code
              visible: true
              address3: address3
              address2: address2
              address1: address1
              created: 2000-01-23T04:56:07.000+00:00
              contactPoints:
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                contactPointType:
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 3
                  value: UNIT_WEB_ADDRESS
                id: 2
                content: content
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                contactPointType:
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 3
                  value: UNIT_WEB_ADDRESS
                id: 2
                content: content
              postcode: postcode
              visibleToJoin: true
              lastImportDate: 2000-01-23T04:56:07.000+00:00
              parentGroups:
              - null
              - null
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              childGroups:
              - null
              - null
              groupFeatures:
              - feature:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  name: name
                  description: description
                  id: 6
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                id: 4
              - feature:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  name: name
                  description: description
                  id: 6
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                id: 4
              links:
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 1
                link: link
                name: name
                linkType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  displayOrder: 2
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 7
                  value: value
                  descriptionFriendly: descriptionFriendly
                id: 1
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 1
                link: link
                name: name
                linkType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  displayOrder: 2
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 7
                  value: value
                  descriptionFriendly: descriptionFriendly
                id: 1
              locations:
              - address: address
                phone: phone
                web: web
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                id: 1
                label: label
                email: email
              - address: address
                phone: phone
                web: web
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                id: 1
                label: label
                email: email
              id: 7
              shortName: shortName
              sftpUser: sftpUser
              fhirResourceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - identifier: identifier
            comments: comments
            units: units
            diagram: diagram
            comparator: comparator
            bodySite: bodySite
            temporaryUuid: temporaryUuid
            applies: 2000-01-23T04:56:07.000+00:00
            name: name
            location: location
            id: 2
            value: value
            group:
              groupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              code: code
              visible: true
              address3: address3
              address2: address2
              address1: address1
              created: 2000-01-23T04:56:07.000+00:00
              contactPoints:
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                contactPointType:
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 3
                  value: UNIT_WEB_ADDRESS
                id: 2
                content: content
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                contactPointType:
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 3
                  value: UNIT_WEB_ADDRESS
                id: 2
                content: content
              postcode: postcode
              visibleToJoin: true
              lastImportDate: 2000-01-23T04:56:07.000+00:00
              parentGroups:
              - null
              - null
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              childGroups:
              - null
              - null
              groupFeatures:
              - feature:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  name: name
                  description: description
                  id: 6
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                id: 4
              - feature:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  name: name
                  description: description
                  id: 6
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                id: 4
              links:
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 1
                link: link
                name: name
                linkType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  displayOrder: 2
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 7
                  value: value
                  descriptionFriendly: descriptionFriendly
                id: 1
              - created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 1
                link: link
                name: name
                linkType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  displayOrder: 2
                  description: description
                  lookupType:
                    created: 2000-01-23T04:56:07.000+00:00
                    lastUpdate: 2000-01-23T04:56:07.000+00:00
                    description: description
                    id: 9
                    type: GROUP
                  id: 7
                  value: value
                  descriptionFriendly: descriptionFriendly
                id: 1
              locations:
              - address: address
                phone: phone
                web: web
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                id: 1
                label: label
                email: email
              - address: address
                phone: phone
                web: web
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                id: 1
                label: label
                email: email
              id: 7
              shortName: shortName
              sftpUser: sftpUser
              fhirResourceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        key:
          items:
            $ref: '#/components/schemas/Entry_string_List_FhirObservation_'
          title: key
          type: array
      title: Entry_long_Map_string_List_FhirObservation_
      type: object
    Entry_string_List_FhirObservation_:
      example:
        key:
        - identifier: identifier
          comments: comments
          units: units
          diagram: diagram
          comparator: comparator
          bodySite: bodySite
          temporaryUuid: temporaryUuid
          applies: 2000-01-23T04:56:07.000+00:00
          name: name
          location: location
          id: 2
          value: value
          group:
            groupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 2
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 7
              value: value
              descriptionFriendly: descriptionFriendly
            code: code
            visible: true
            address3: address3
            address2: address2
            address1: address1
            created: 2000-01-23T04:56:07.000+00:00
            contactPoints:
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              contactPointType:
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 3
                value: UNIT_WEB_ADDRESS
              id: 2
              content: content
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              contactPointType:
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 3
                value: UNIT_WEB_ADDRESS
              id: 2
              content: content
            postcode: postcode
            visibleToJoin: true
            lastImportDate: 2000-01-23T04:56:07.000+00:00
            parentGroups:
            - null
            - null
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            name: name
            childGroups:
            - null
            - null
            groupFeatures:
            - feature:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                description: description
                id: 6
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              id: 4
            - feature:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                description: description
                id: 6
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              id: 4
            links:
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 1
              link: link
              name: name
              linkType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              id: 1
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 1
              link: link
              name: name
              linkType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              id: 1
            locations:
            - address: address
              phone: phone
              web: web
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              id: 1
              label: label
              email: email
            - address: address
              phone: phone
              web: web
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              id: 1
              label: label
              email: email
            id: 7
            shortName: shortName
            sftpUser: sftpUser
            fhirResourceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - identifier: identifier
          comments: comments
          units: units
          diagram: diagram
          comparator: comparator
          bodySite: bodySite
          temporaryUuid: temporaryUuid
          applies: 2000-01-23T04:56:07.000+00:00
          name: name
          location: location
          id: 2
          value: value
          group:
            groupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 2
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 7
              value: value
              descriptionFriendly: descriptionFriendly
            code: code
            visible: true
            address3: address3
            address2: address2
            address1: address1
            created: 2000-01-23T04:56:07.000+00:00
            contactPoints:
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              contactPointType:
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 3
                value: UNIT_WEB_ADDRESS
              id: 2
              content: content
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              contactPointType:
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 3
                value: UNIT_WEB_ADDRESS
              id: 2
              content: content
            postcode: postcode
            visibleToJoin: true
            lastImportDate: 2000-01-23T04:56:07.000+00:00
            parentGroups:
            - null
            - null
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            name: name
            childGroups:
            - null
            - null
            groupFeatures:
            - feature:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                description: description
                id: 6
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              id: 4
            - feature:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                description: description
                id: 6
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              id: 4
            links:
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 1
              link: link
              name: name
              linkType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              id: 1
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 1
              link: link
              name: name
              linkType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              id: 1
            locations:
            - address: address
              phone: phone
              web: web
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              id: 1
              label: label
              email: email
            - address: address
              phone: phone
              web: web
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              id: 1
              label: label
              email: email
            id: 7
            shortName: shortName
            sftpUser: sftpUser
            fhirResourceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        key:
          items:
            $ref: '#/components/schemas/FhirObservation'
          title: key
          type: array
      title: Entry_string_List_FhirObservation_
      type: object
    ExternalStandard:
      example:
        name: name
        description: description
        id: 0
      properties:
        description:
          title: description
          type: string
        id:
          format: int64
          title: id
          type: integer
        name:
          title: name
          type: string
      title: ExternalStandard
      type: object
    Feature:
      example:
        created: 2000-01-23T04:56:07.000+00:00
        lastUpdate: 2000-01-23T04:56:07.000+00:00
        name: name
        description: description
        id: 6
      properties:
        created:
          format: date-time
          title: created
          type: string
        description:
          title: description
          type: string
        id:
          format: int64
          title: id
          type: integer
        lastUpdate:
          format: date-time
          title: lastUpdate
          type: string
        name:
          title: name
          type: string
      title: Feature
      type: object
    FhirAllergy:
      example:
        identifier: identifier
        confidenceLevel: confidenceLevel
        reaction: reaction
        recordedDate: 2000-01-23T04:56:07.000+00:00
        substance: substance
        id: 7
        type: type
        infoSource: infoSource
        group:
          groupType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            lookupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              description: description
              id: 9
              type: GROUP
            id: 7
            value: value
            descriptionFriendly: descriptionFriendly
          code: code
          visible: true
          address3: address3
          address2: address2
          address1: address1
          created: 2000-01-23T04:56:07.000+00:00
          contactPoints:
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            contactPointType:
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 3
              value: UNIT_WEB_ADDRESS
            id: 2
            content: content
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            contactPointType:
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 3
              value: UNIT_WEB_ADDRESS
            id: 2
            content: content
          postcode: postcode
          visibleToJoin: true
          lastImportDate: 2000-01-23T04:56:07.000+00:00
          parentGroups:
          - null
          - null
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          name: name
          childGroups:
          - null
          - null
          groupFeatures:
          - feature:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              description: description
              id: 6
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            id: 4
          - feature:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              description: description
              id: 6
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            id: 4
          links:
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 1
            link: link
            name: name
            linkType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 2
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 7
              value: value
              descriptionFriendly: descriptionFriendly
            id: 1
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 1
            link: link
            name: name
            linkType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 2
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 7
              value: value
              descriptionFriendly: descriptionFriendly
            id: 1
          locations:
          - address: address
            phone: phone
            web: web
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            name: name
            id: 1
            label: label
            email: email
          - address: address
            phone: phone
            web: web
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            name: name
            id: 1
            label: label
            email: email
          id: 7
          shortName: shortName
          sftpUser: sftpUser
          fhirResourceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: status
      properties:
        confidenceLevel:
          title: confidenceLevel
          type: string
        group:
          $ref: '#/components/schemas/Group'
        id:
          format: int64
          title: id
          type: integer
        identifier:
          title: identifier
          type: string
        infoSource:
          title: infoSource
          type: string
        reaction:
          title: reaction
          type: string
        recordedDate:
          format: date-time
          title: recordedDate
          type: string
        status:
          title: status
          type: string
        substance:
          title: substance
          type: string
        type:
          title: type
          type: string
      title: FhirAllergy
      type: object
    FhirCondition:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        severity: severity
        identifier: identifier
        code: code
        notes: notes
        description: description
        fullDescription: fullDescription
        asserter: asserter
        links:
        - created: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          displayOrder: 1
          link: link
          name: name
          linkType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            lookupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              description: description
              id: 9
              type: GROUP
            id: 7
            value: value
            descriptionFriendly: descriptionFriendly
          id: 1
        - created: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          displayOrder: 1
          link: link
          name: name
          linkType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            lookupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              description: description
              id: 9
              type: GROUP
            id: 7
            value: value
            descriptionFriendly: descriptionFriendly
          id: 1
        id: 9
        category: category
        group:
          groupType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            lookupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              description: description
              id: 9
              type: GROUP
            id: 7
            value: value
            descriptionFriendly: descriptionFriendly
          code: code
          visible: true
          address3: address3
          address2: address2
          address1: address1
          created: 2000-01-23T04:56:07.000+00:00
          contactPoints:
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            contactPointType:
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 3
              value: UNIT_WEB_ADDRESS
            id: 2
            content: content
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            contactPointType:
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 3
              value: UNIT_WEB_ADDRESS
            id: 2
            content: content
          postcode: postcode
          visibleToJoin: true
          lastImportDate: 2000-01-23T04:56:07.000+00:00
          parentGroups:
          - null
          - null
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          name: name
          childGroups:
          - null
          - null
          groupFeatures:
          - feature:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              description: description
              id: 6
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            id: 4
          - feature:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              description: description
              id: 6
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            id: 4
          links:
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 1
            link: link
            name: name
            linkType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 2
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 7
              value: value
              descriptionFriendly: descriptionFriendly
            id: 1
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 1
            link: link
            name: name
            linkType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 2
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 7
              value: value
              descriptionFriendly: descriptionFriendly
            id: 1
          locations:
          - address: address
            phone: phone
            web: web
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            name: name
            id: 1
            label: label
            email: email
          - address: address
            phone: phone
            web: web
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            name: name
            id: 1
            label: label
            email: email
          id: 7
          shortName: shortName
          sftpUser: sftpUser
          fhirResourceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: status
      properties:
        asserter:
          title: asserter
          type: string
        category:
          title: category
          type: string
        code:
          title: code
          type: string
        date:
          format: date-time
          title: date
          type: string
        description:
          title: description
          type: string
        fullDescription:
          title: fullDescription
          type: string
        group:
          $ref: '#/components/schemas/Group'
        id:
          format: int64
          title: id
          type: integer
        identifier:
          title: identifier
          type: string
        links:
          items:
            $ref: '#/components/schemas/Link'
          title: links
          type: array
          uniqueItems: true
        notes:
          title: notes
          type: string
        severity:
          title: severity
          type: string
        status:
          title: status
          type: string
      title: FhirCondition
      type: object
    FhirContact:
      example:
        system: system
        use: use
        id: 7
        value: value
      properties:
        id:
          format: int64
          title: id
          type: integer
        system:
          title: system
          type: string
        use:
          title: use
          type: string
        value:
          title: value
          type: string
      title: FhirContact
      type: object
    FhirEncounter:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        identifier: identifier
        observations:
        - identifier: identifier
          comments: comments
          units: units
          diagram: diagram
          comparator: comparator
          bodySite: bodySite
          temporaryUuid: temporaryUuid
          applies: 2000-01-23T04:56:07.000+00:00
          name: name
          location: location
          id: 2
          value: value
          group:
            groupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 2
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 7
              value: value
              descriptionFriendly: descriptionFriendly
            code: code
            visible: true
            address3: address3
            address2: address2
            address1: address1
            created: 2000-01-23T04:56:07.000+00:00
            contactPoints:
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              contactPointType:
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 3
                value: UNIT_WEB_ADDRESS
              id: 2
              content: content
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              contactPointType:
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 3
                value: UNIT_WEB_ADDRESS
              id: 2
              content: content
            postcode: postcode
            visibleToJoin: true
            lastImportDate: 2000-01-23T04:56:07.000+00:00
            parentGroups:
            - null
            - null
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            name: name
            childGroups:
            - null
            - null
            groupFeatures:
            - feature:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                description: description
                id: 6
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              id: 4
            - feature:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                description: description
                id: 6
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              id: 4
            links:
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 1
              link: link
              name: name
              linkType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              id: 1
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 1
              link: link
              name: name
              linkType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              id: 1
            locations:
            - address: address
              phone: phone
              web: web
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              id: 1
              label: label
              email: email
            - address: address
              phone: phone
              web: web
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              id: 1
              label: label
              email: email
            id: 7
            shortName: shortName
            sftpUser: sftpUser
            fhirResourceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - identifier: identifier
          comments: comments
          units: units
          diagram: diagram
          comparator: comparator
          bodySite: bodySite
          temporaryUuid: temporaryUuid
          applies: 2000-01-23T04:56:07.000+00:00
          name: name
          location: location
          id: 2
          value: value
          group:
            groupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 2
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 7
              value: value
              descriptionFriendly: descriptionFriendly
            code: code
            visible: true
            address3: address3
            address2: address2
            address1: address1
            created: 2000-01-23T04:56:07.000+00:00
            contactPoints:
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              contactPointType:
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 3
                value: UNIT_WEB_ADDRESS
              id: 2
              content: content
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              contactPointType:
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 3
                value: UNIT_WEB_ADDRESS
              id: 2
              content: content
            postcode: postcode
            visibleToJoin: true
            lastImportDate: 2000-01-23T04:56:07.000+00:00
            parentGroups:
            - null
            - null
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            name: name
            childGroups:
            - null
            - null
            groupFeatures:
            - feature:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                description: description
                id: 6
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              id: 4
            - feature:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                name: name
                description: description
                id: 6
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              id: 4
            links:
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 1
              link: link
              name: name
              linkType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              id: 1
            - created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 1
              link: link
              name: name
              linkType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                displayOrder: 2
                description: description
                lookupType:
                  created: 2000-01-23T04:56:07.000+00:00
                  lastUpdate: 2000-01-23T04:56:07.000+00:00
                  description: description
                  id: 9
                  type: GROUP
                id: 7
                value: value
                descriptionFriendly: descriptionFriendly
              id: 1
            locations:
            - address: address
              phone: phone
              web: web
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              id: 1
              label: label
              email: email
            - address: address
              phone: phone
              web: web
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              id: 1
              label: label
              email: email
            id: 7
            shortName: shortName
            sftpUser: sftpUser
            fhirResourceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        procedures:
        - bodySite: bodySite
          id: 4
          type: type
        - bodySite: bodySite
          id: 4
          type: type
        links:
        - created: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          displayOrder: 1
          link: link
          name: name
          linkType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            lookupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              description: description
              id: 9
              type: GROUP
            id: 7
            value: value
            descriptionFriendly: descriptionFriendly
          id: 1
        - created: 2000-01-23T04:56:07.000+00:00
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          displayOrder: 1
          link: link
          name: name
          linkType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            lookupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              description: description
              id: 9
              type: GROUP
            id: 7
            value: value
            descriptionFriendly: descriptionFriendly
          id: 1
        id: 3
        encounterType: encounterType
        group:
          groupType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            lookupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              description: description
              id: 9
              type: GROUP
            id: 7
            value: value
            descriptionFriendly: descriptionFriendly
          code: code
          visible: true
          address3: address3
          address2: address2
          address1: address1
          created: 2000-01-23T04:56:07.000+00:00
          contactPoints:
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            contactPointType:
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 3
              value: UNIT_WEB_ADDRESS
            id: 2
            content: content
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            contactPointType:
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 3
              value: UNIT_WEB_ADDRESS
            id: 2
            content: content
          postcode: postcode
          visibleToJoin: true
          lastImportDate: 2000-01-23T04:56:07.000+00:00
          parentGroups:
          - null
          - null
          lastUpdate: 2000-01-23T04:56:07.000+00:00
          name: name
          childGroups:
          - null
          - null
          groupFeatures:
          - feature:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              description: description
              id: 6
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            id: 4
          - feature:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              name: name
              description: description
              id: 6
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            id: 4
          links:
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 1
            link: link
            name: name
            linkType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 2
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 7
              value: value
              descriptionFriendly: descriptionFriendly
            id: 1
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 1
            link: link
            name: name
            linkType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              displayOrder: 2
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
                description: description
                id: 9
                type: GROUP
              id: 7
              value: value
              descriptionFriendly: descriptionFriendly
            id: 1
          locations:
          - address: address
            phone: phone
            web: web
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            name: name
            id: 1
            label: label
            email: email
          - address: address
            phone: phone
            web: web
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            name: name
            id: 1
            label: label
            email: email
          id: 7
          shortName: shortName
          sftpUser: sftpUser
          fhirResourceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: status
      properties:
        date:
          format: date-time
          title: date
          type: string
        encounterType:
          title: encounterType
          type: string
        group:
          $ref: '#/components/schemas/Group'
        id:
          format: int64
          title: id
          type: integer
        identifier:
          title: identifier
          type: string
        links:
          items:
            $ref: '#/components/schemas/Link'
          title: links
          type: array
          uniqueItems: true
        observations:
          items:
            $ref: '#/components/schemas/FhirObservation'
          title: observations
          type: array
          uniqueItems: true
        procedures:
          items:
            $ref: '#/components/schemas/FhirProcedure'
          title: procedures
          type: array
          uniqueItems: true
        status:
          title: status
          type: string
      title: FhirEncounter
      type: object
    FhirIdentifier:
      example:
        id: 1
        label: label
        value: value
      properties:
        id:
          format: int64
          title: id
          type: integer
        label:
          title: label
          type: string
        value:
          title: value
          type: string
      title: FhirIdentifier
      type: object
    FhirObservation:
      example:
        identifier: identifier
        comments: comments
        units: units
        diagram: diagram
        comparator: comparator
        bodySite: bodySite
        temporaryUuid: temporaryUuid
        applies: 2000-01-23T04:56:07.000+00:00
        name: name
        location: location
        id: 2
        value: value
        group:
          groupType:
            created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            displayOrder: 2
            description: description
            lookupType:
              created: 2000-01-23T04:56:07.000+00:00
              lastUpdate: 2000-01-23T04:56:07.000+00:00
              description: description
              id: 9
              type: GROUP
            id: 7
            value: value
            descriptionFriendly: descriptionFriendly
          code: code
          visible: true
          address3: address3
          address2: address2
          address1: address1
          created: 2000-01-23T04:56:07.000+00:00
          contactPoints:
          - created: 2000-01-23T04:56:07.000+00:00
            lastUpdate: 2000-01-23T04:56:07.000+00:00
            contactPointType:
              description: description
              lookupType:
                created: 2000-01-23T04:56:07.000+00:00
                lastUpdate: 2000-01-23T04:56:07.000+00:00
[...]
