openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Integrates Google Vision features, including image labeling, face,\
    \ logo, and landmark detection, optical character recognition (OCR), and detection\
    \ of explicit content, into applications."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Vision API
  version: v1p2beta1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: openapi
    url: https://vision.googleapis.com/$discovery/rest?version=v1p2beta1
    version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: vision
externalDocs:
  url: https://cloud.google.com/vision/
servers:
- url: https://vision.googleapis.com/
tags:
- name: files
- name: images
- name: projects
paths:
  /v1p2beta1/files:annotate:
    post:
      description: "Service that performs image detection and annotation for a batch\
        \ of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\"\
        \ are supported. This service will extract at most 5 (customers can specify\
        \ which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff)\
        \ from each file provided and perform detection and annotation for each image\
        \ extracted."
      operationId: vision_files_annotate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BatchAnnotateFilesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BatchAnnotateFilesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-vision
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-vision
      tags:
      - files
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /v1p2beta1/files:asyncBatchAnnotate:
    post:
      description: "Run asynchronous image detection and annotation for a list of\
        \ generic files, such as PDF files, which may contain multiple pages and multiple\
        \ images per page. Progress and results can be retrieved through the `google.longrunning.Operations`\
        \ interface. `Operation.metadata` contains `OperationMetadata` (metadata).\
        \ `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results)."
      operationId: vision_files_async_batch_annotate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-vision
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-vision
      tags:
      - files
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /v1p2beta1/images:annotate:
    post:
      description: Run image detection and annotation for a batch of images.
      operationId: vision_images_annotate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BatchAnnotateImagesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-vision
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-vision
      tags:
      - images
      x-openapi-router-controller: openapi_server.controllers.images_controller
      x-codegen-request-body-name: body
  /v1p2beta1/images:asyncBatchAnnotate:
    post:
      description: "Run asynchronous image detection and annotation for a list of\
        \ images. Progress and results can be retrieved through the `google.longrunning.Operations`\
        \ interface. `Operation.metadata` contains `OperationMetadata` (metadata).\
        \ `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results).\
        \ This service will write image annotation outputs to json files in customer\
        \ GCS bucket, each json file containing BatchAnnotateImagesResponse proto."
      operationId: vision_images_async_batch_annotate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1AsyncBatchAnnotateImagesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-vision
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-vision
      tags:
      - images
      x-openapi-router-controller: openapi_server.controllers.images_controller
      x-codegen-request-body-name: body
  /v1p2beta1/{parent}/files:annotate:
    post:
      description: "Service that performs image detection and annotation for a batch\
        \ of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\"\
        \ are supported. This service will extract at most 5 (customers can specify\
        \ which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff)\
        \ from each file provided and perform detection and annotation for each image\
        \ extracted."
      operationId: vision_projects_locations_files_annotate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Target project and location to make a call. Format:\
          \ `projects/{project-id}/locations/{location-id}`. If no parent is specified,\
          \ a region will be chosen automatically. Supported location-ids: `us`: USA\
          \ country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European\
          \ Union. Example: `projects/project-A/locations/eu`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BatchAnnotateFilesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BatchAnnotateFilesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-vision
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-vision
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1p2beta1/{parent}/files:asyncBatchAnnotate:
    post:
      description: "Run asynchronous image detection and annotation for a list of\
        \ generic files, such as PDF files, which may contain multiple pages and multiple\
        \ images per page. Progress and results can be retrieved through the `google.longrunning.Operations`\
        \ interface. `Operation.metadata` contains `OperationMetadata` (metadata).\
        \ `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results)."
      operationId: vision_projects_locations_files_async_batch_annotate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Target project and location to make a call. Format:\
          \ `projects/{project-id}/locations/{location-id}`. If no parent is specified,\
          \ a region will be chosen automatically. Supported location-ids: `us`: USA\
          \ country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European\
          \ Union. Example: `projects/project-A/locations/eu`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-vision
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-vision
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1p2beta1/{parent}/images:annotate:
    post:
      description: Run image detection and annotation for a batch of images.
      operationId: vision_projects_locations_images_annotate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Target project and location to make a call. Format:\
          \ `projects/{project-id}/locations/{location-id}`. If no parent is specified,\
          \ a region will be chosen automatically. Supported location-ids: `us`: USA\
          \ country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European\
          \ Union. Example: `projects/project-A/locations/eu`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BatchAnnotateImagesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-vision
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-vision
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1p2beta1/{parent}/images:asyncBatchAnnotate:
    post:
      description: "Run asynchronous image detection and annotation for a list of\
        \ images. Progress and results can be retrieved through the `google.longrunning.Operations`\
        \ interface. `Operation.metadata` contains `OperationMetadata` (metadata).\
        \ `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results).\
        \ This service will write image annotation outputs to json files in customer\
        \ GCS bucket, each json file containing BatchAnnotateImagesResponse proto."
      operationId: vision_projects_locations_images_async_batch_annotate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Target project and location to make a call. Format:\
          \ `projects/{project-id}/locations/{location-id}`. If no parent is specified,\
          \ a region will be chosen automatically. Supported location-ids: `us`: USA\
          \ country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European\
          \ Union. Example: `projects/project-A/locations/eu`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1AsyncBatchAnnotateImagesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-vision
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-vision
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AnnotateFileResponse:
      description: "Response to a single file annotation request. A file may contain\
        \ one or more images, which individually have their own responses."
      properties:
        error:
          $ref: '#/components/schemas/Status'
        inputConfig:
          $ref: '#/components/schemas/InputConfig'
        responses:
          description: Individual responses to images found within the file. This
            field will be empty if the `error` field is set.
          items:
            $ref: '#/components/schemas/AnnotateImageResponse'
          title: responses
          type: array
        totalPages:
          description: This field gives the total number of pages in the file.
          format: int32
          title: totalPages
          type: integer
      title: AnnotateFileResponse
      type: object
    AnnotateImageResponse:
      description: Response to an image annotation request.
      properties:
        context:
          $ref: '#/components/schemas/ImageAnnotationContext'
        cropHintsAnnotation:
          $ref: '#/components/schemas/CropHintsAnnotation'
        error:
          $ref: '#/components/schemas/Status'
        faceAnnotations:
          description: "If present, face detection has completed successfully."
          items:
            $ref: '#/components/schemas/FaceAnnotation'
          title: faceAnnotations
          type: array
        fullTextAnnotation:
          $ref: '#/components/schemas/TextAnnotation'
        imagePropertiesAnnotation:
          $ref: '#/components/schemas/ImageProperties'
        labelAnnotations:
          description: "If present, label detection has completed successfully."
          items:
            $ref: '#/components/schemas/EntityAnnotation'
          title: labelAnnotations
          type: array
        landmarkAnnotations:
          description: "If present, landmark detection has completed successfully."
          items:
            $ref: '#/components/schemas/EntityAnnotation'
          title: landmarkAnnotations
          type: array
        localizedObjectAnnotations:
          description: "If present, localized object detection has completed successfully.\
            \ This will be sorted descending by confidence score."
          items:
            $ref: '#/components/schemas/LocalizedObjectAnnotation'
          title: localizedObjectAnnotations
          type: array
        logoAnnotations:
          description: "If present, logo detection has completed successfully."
          items:
            $ref: '#/components/schemas/EntityAnnotation'
          title: logoAnnotations
          type: array
        productSearchResults:
          $ref: '#/components/schemas/ProductSearchResults'
        safeSearchAnnotation:
          $ref: '#/components/schemas/SafeSearchAnnotation'
        textAnnotations:
          description: "If present, text (OCR) detection has completed successfully."
          items:
            $ref: '#/components/schemas/EntityAnnotation'
          title: textAnnotations
          type: array
        webDetection:
          $ref: '#/components/schemas/WebDetection'
      title: AnnotateImageResponse
      type: object
    AsyncAnnotateFileResponse:
      description: The response for a single offline file annotation request.
      properties:
        outputConfig:
          $ref: '#/components/schemas/OutputConfig'
      title: AsyncAnnotateFileResponse
      type: object
    AsyncBatchAnnotateFilesResponse:
      description: Response to an async batch file annotation request.
      properties:
        responses:
          description: "The list of file annotation responses, one for each request\
            \ in AsyncBatchAnnotateFilesRequest."
          items:
            $ref: '#/components/schemas/AsyncAnnotateFileResponse'
          type: array
      type: object
    AsyncBatchAnnotateImagesResponse:
      description: Response to an async batch image annotation request.
      properties:
        outputConfig:
          $ref: '#/components/schemas/OutputConfig'
      type: object
    BatchAnnotateFilesResponse:
      description: A list of file annotation responses.
      properties:
        responses:
          description: "The list of file annotation responses, each response corresponding\
            \ to each AnnotateFileRequest in BatchAnnotateFilesRequest."
          items:
            $ref: '#/components/schemas/AnnotateFileResponse'
          type: array
      type: object
    BatchOperationMetadata:
      description: Metadata for the batch operations such as the current state. This
        is included in the `metadata` field of the `Operation` returned by the `GetOperation`
        call of the `google::longrunning::Operations` service.
      properties:
        endTime:
          description: The time when the batch request is finished and google.longrunning.Operation.done
            is set to true.
          format: google-datetime
          type: string
        state:
          description: The current state of the batch operation.
          enum:
          - STATE_UNSPECIFIED
          - PROCESSING
          - SUCCESSFUL
          - FAILED
          - CANCELLED
          type: string
        submitTime:
          description: The time when the batch request was submitted to the server.
          format: google-datetime
          type: string
      type: object
    Block:
      description: Logical element on the page.
      properties:
        blockType:
          description: "Detected block type (text, image etc) for this block."
          enum:
          - UNKNOWN
          - TEXT
          - TABLE
          - PICTURE
          - RULER
          - BARCODE
          title: blockType
          type: string
        boundingBox:
          $ref: '#/components/schemas/BoundingPoly'
        confidence:
          description: "Confidence of the OCR results on the block. Range [0, 1]."
          format: float
          title: confidence
          type: number
        paragraphs:
          description: List of paragraphs in this block (if this blocks is of type
            text).
          items:
            $ref: '#/components/schemas/Paragraph'
          title: paragraphs
          type: array
        property:
          $ref: '#/components/schemas/TextProperty'
      title: Block
      type: object
    BoundingPoly:
      description: A bounding polygon for the detected image annotation.
      properties:
        normalizedVertices:
          description: The bounding polygon normalized vertices.
          items:
            $ref: '#/components/schemas/NormalizedVertex'
          title: normalizedVertices
          type: array
        vertices:
          description: The bounding polygon vertices.
          items:
            $ref: '#/components/schemas/Vertex'
          title: vertices
          type: array
      title: BoundingPoly
      type: object
    Color:
      description: "Represents a color in the RGBA color space. This representation\
        \ is designed for simplicity of conversion to and from color representations\
        \ in various languages over compactness. For example, the fields of this representation\
        \ can be trivially provided to the constructor of `java.awt.Color` in Java;\
        \ it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha`\
        \ method in iOS; and, with just a little work, it can be easily formatted\
        \ into a CSS `rgba()` string in JavaScript. This reference page doesn't have\
        \ information about the absolute color space that should be used to interpret\
        \ the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default,\
        \ applications should assume the sRGB color space. When color equality needs\
        \ to be decided, implementations, unless documented otherwise, treat two colors\
        \ as equal if all their red, green, blue, and alpha values each differ by\
        \ at most `1e-5`. Example (Java): import com.google.type.Color; // ... public\
        \ static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha()\
        \ ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(),\
        \ protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color\
        \ toProto(java.awt.Color color) { float red = (float) color.getRed(); float\
        \ green = (float) color.getGreen(); float blue = (float) color.getBlue();\
        \ float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder()\
        \ .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue\
        \ / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha(\
        \ FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build());\
        \ } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static\
        \ UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float\
        \ green = [protocolor green]; float blue = [protocolor blue]; FloatValue*\
        \ alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper\
        \ != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red\
        \ green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color)\
        \ { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green\
        \ blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc]\
        \ init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue];\
        \ if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; }\
        \ [result autorelease]; return result; } // ... Example (JavaScript): // ...\
        \ var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red\
        \ || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue\
        \ || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac\
        \ * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color))\
        \ { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value\
        \ || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams,\
        \ ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green,\
        \ blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var\
        \ hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length;\
        \ var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0');\
        \ } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
      example:
        red: 6.965118
        green: 3.5571952
        blue: 6.4384236
        alpha: 9.018348
      properties:
        alpha:
          description: "The fraction of this color that should be applied to the pixel.\
            \ That is, the final pixel color is defined by the equation: `pixel color\
            \ = alpha * (this color) + (1.0 - alpha) * (background color)` This means\
            \ that a value of 1.0 corresponds to a solid color, whereas a value of\
            \ 0.0 corresponds to a completely transparent color. This uses a wrapper\
            \ message rather than a simple float scalar so that it is possible to\
            \ distinguish between a default value and the value being unset. If omitted,\
            \ this color object is rendered as a solid color (as if the alpha value\
            \ had been explicitly given a value of 1.0)."
          format: float
          title: alpha
          type: number
        blue:
          description: "The amount of blue in the color as a value in the interval\
            \ [0, 1]."
          format: float
          title: blue
          type: number
        green:
          description: "The amount of green in the color as a value in the interval\
            \ [0, 1]."
          format: float
          title: green
          type: number
        red:
          description: "The amount of red in the color as a value in the interval\
            \ [0, 1]."
          format: float
          title: red
          type: number
      title: Color
      type: object
    ColorInfo:
      description: "Color information consists of RGB channels, score, and the fraction\
        \ of the image that the color occupies in the image."
      properties:
        color:
          $ref: '#/components/schemas/Color'
        pixelFraction:
          description: "The fraction of pixels the color occupies in the image. Value\
            \ in range [0, 1]."
          format: float
          title: pixelFraction
          type: number
        score:
          description: "Image-specific score for this color. Value in range [0, 1]."
          format: float
          title: score
          type: number
      title: ColorInfo
      type: object
    CropHint:
      description: Single crop hint that is used to generate a new crop when serving
        an image.
      properties:
        boundingPoly:
          $ref: '#/components/schemas/BoundingPoly'
        confidence:
          description: "Confidence of this being a salient region. Range [0, 1]."
          format: float
          title: confidence
          type: number
        importanceFraction:
          description: Fraction of importance of this salient region with respect
            to the original image.
          format: float
          title: importanceFraction
          type: number
      title: CropHint
      type: object
    CropHintsAnnotation:
      description: Set of crop hints that are used to generate new crops when serving
        images.
      properties:
        cropHints:
          description: Crop hint results.
          items:
            $ref: '#/components/schemas/CropHint'
          title: cropHints
          type: array
      title: CropHintsAnnotation
      type: object
    DetectedBreak:
      description: Detected start or end of a structural component.
      properties:
        isPrefix:
          description: True if break prepends the element.
          title: isPrefix
          type: boolean
        type:
          description: Detected break type.
          enum:
          - UNKNOWN
          - SPACE
          - SURE_SPACE
          - EOL_SURE_SPACE
          - HYPHEN
          - LINE_BREAK
          title: type
          type: string
      title: DetectedBreak
      type: object
    DetectedLanguage:
      description: Detected language for a structural component.
      properties:
        confidence:
          description: "Confidence of detected language. Range [0, 1]."
          format: float
          title: confidence
          type: number
        languageCode:
          description: "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\"\
            . For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
          title: languageCode
          type: string
      title: DetectedLanguage
      type: object
    DominantColorsAnnotation:
      description: Set of dominant colors and their corresponding scores.
      properties:
        colors:
          description: RGB color values with their score and pixel fraction.
          items:
            $ref: '#/components/schemas/ColorInfo'
          title: colors
          type: array
      title: DominantColorsAnnotation
      type: object
    EntityAnnotation:
      description: Set of detected entity features.
      properties:
        boundingPoly:
          $ref: '#/components/schemas/BoundingPoly'
        confidence:
          deprecated: true
          description: "**Deprecated. Use `score` instead.** The accuracy of the entity\
            \ detection in an image. For example, for an image in which the \"Eiffel\
            \ Tower\" entity is detected, this field represents the confidence that\
            \ there is a tower in the query image. Range [0, 1]."
          format: float
          title: confidence
          type: number
        description:
          description: "Entity textual description, expressed in its `locale` language."
          title: description
          type: string
        locale:
          description: The language code for the locale in which the entity textual
            `description` is expressed.
          title: locale
          type: string
        locations:
          description: "The location information for the detected entity. Multiple\
            \ `LocationInfo` elements can be present because one location may indicate\
            \ the location of the scene in the image, and another location may indicate\
            \ the location of the place where the image was taken. Location information\
            \ is usually present for landmarks."
          items:
            $ref: '#/components/schemas/LocationInfo'
          title: locations
          type: array
        mid:
          description: "Opaque entity ID. Some IDs may be available in [Google Knowledge\
            \ Graph Search API](https://developers.google.com/knowledge-graph/)."
          title: mid
          type: string
        properties:
          description: "Some entities may have optional user-supplied `Property` (name/value)\
            \ fields, such a score or string that qualifies the entity."
          items:
            $ref: '#/components/schemas/Property'
          title: properties
          type: array
        score:
          description: "Overall score of the result. Range [0, 1]."
          format: float
          title: score
          type: number
        topicality:
          description: "The relevancy of the ICA (Image Content Annotation) label\
            \ to the image. For example, the relevancy of \"tower\" is likely higher\
            \ to an image containing the detected \"Eiffel Tower\" than to an image\
            \ containing a detected distant towering building, even though the confidence\
            \ that there is a tower in each image may be the same. Range [0, 1]."
          format: float
          title: topicality
          type: number
      title: EntityAnnotation
      type: object
    FaceAnnotation:
      description: A face annotation object contains the results of face detection.
      properties:
        angerLikelihood:
          description: Anger likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: angerLikelihood
          type: string
        blurredLikelihood:
          description: Blurred likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: blurredLikelihood
          type: string
        boundingPoly:
          $ref: '#/components/schemas/BoundingPoly'
        detectionConfidence:
          description: "Detection confidence. Range [0, 1]."
          format: float
          title: detectionConfidence
          type: number
        fdBoundingPoly:
          $ref: '#/components/schemas/BoundingPoly'
        headwearLikelihood:
          description: Headwear likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: headwearLikelihood
          type: string
        joyLikelihood:
          description: Joy likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: joyLikelihood
          type: string
        landmarkingConfidence:
          description: "Face landmarking confidence. Range [0, 1]."
          format: float
          title: landmarkingConfidence
          type: number
        landmarks:
          description: Detected face landmarks.
          items:
            $ref: '#/components/schemas/Landmark'
          title: landmarks
          type: array
        panAngle:
          description: "Yaw angle, which indicates the leftward/rightward angle that\
            \ the face is pointing relative to the vertical plane perpendicular to\
            \ the image. Range [-180,180]."
          format: float
          title: panAngle
          type: number
        rollAngle:
          description: "Roll angle, which indicates the amount of clockwise/anti-clockwise\
            \ rotation of the face relative to the image vertical about the axis perpendicular\
            \ to the face. Range [-180,180]."
          format: float
          title: rollAngle
          type: number
        sorrowLikelihood:
          description: Sorrow likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: sorrowLikelihood
          type: string
        surpriseLikelihood:
          description: Surprise likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: surpriseLikelihood
          type: string
        tiltAngle:
          description: "Pitch angle, which indicates the upwards/downwards angle that\
            \ the face is pointing relative to the image's horizontal plane. Range\
            \ [-180,180]."
          format: float
          title: tiltAngle
          type: number
        underExposedLikelihood:
          description: Under-exposed likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: underExposedLikelihood
          type: string
      title: FaceAnnotation
      type: object
    GcsDestination:
      description: The Google Cloud Storage location where the output will be written
        to.
      properties:
        uri:
          description: "Google Cloud Storage URI prefix where the results will be\
            \ stored. Results will be in JSON format and preceded by its corresponding\
            \ input URI prefix. This field can either represent a gcs file prefix\
            \ or gcs directory. In either case, the uri should be unique because in\
            \ order to get all of the output files, you will need to do a wildcard\
            \ gcs search on the uri prefix you provide. Examples: * File Prefix: gs://bucket-name/here/filenameprefix\
            \ The output files will be created in gs://bucket-name/here/ and the names\
            \ of the output files will begin with \"filenameprefix\". * Directory\
            \ Prefix: gs://bucket-name/some/location/ The output files will be created\
            \ in gs://bucket-name/some/location/ and the names of the output files\
            \ could be anything because there was no filename prefix specified. If\
            \ multiple outputs, each response is still AnnotateFileResponse, each\
            \ of which contains some subset of the full list of AnnotateImageResponse.\
            \ Multiple outputs can happen if, for example, the output JSON is too\
            \ large and overflows into multiple sharded files."
          title: uri
          type: string
      title: GcsDestination
      type: object
    GcsSource:
      description: The Google Cloud Storage location where the input will be read
        from.
      properties:
        uri:
          description: Google Cloud Storage URI for the input file. This must only
            be a Google Cloud Storage object. Wildcards are not currently supported.
          title: uri
          type: string
      title: GcsSource
      type: object
    GoogleCloudVisionV1p1beta1AnnotateFileResponse:
      description: "Response to a single file annotation request. A file may contain\
        \ one or more images, which individually have their own responses."
      properties:
        error:
          $ref: '#/components/schemas/Status'
        inputConfig:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1InputConfig'
        responses:
          description: Individual responses to images found within the file. This
            field will be empty if the `error` field is set.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1AnnotateImageResponse'
          type: array
        totalPages:
          description: This field gives the total number of pages in the file.
          format: int32
          type: integer
      type: object
    GoogleCloudVisionV1p1beta1AnnotateImageResponse:
      description: Response to an image annotation request.
      properties:
        context:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1ImageAnnotationContext'
        cropHintsAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1CropHintsAnnotation'
        error:
          $ref: '#/components/schemas/Status'
        faceAnnotations:
          description: "If present, face detection has completed successfully."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1FaceAnnotation'
          title: faceAnnotations
          type: array
        fullTextAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1TextAnnotation'
        imagePropertiesAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1ImageProperties'
        labelAnnotations:
          description: "If present, label detection has completed successfully."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1EntityAnnotation'
          title: labelAnnotations
          type: array
        landmarkAnnotations:
          description: "If present, landmark detection has completed successfully."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1EntityAnnotation'
          title: landmarkAnnotations
          type: array
        localizedObjectAnnotations:
          description: "If present, localized object detection has completed successfully.\
            \ This will be sorted descending by confidence score."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1LocalizedObjectAnnotation'
          title: localizedObjectAnnotations
          type: array
        logoAnnotations:
          description: "If present, logo detection has completed successfully."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1EntityAnnotation'
          title: logoAnnotations
          type: array
        productSearchResults:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1ProductSearchResults'
        safeSearchAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1SafeSearchAnnotation'
        textAnnotations:
          description: "If present, text (OCR) detection has completed successfully."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1EntityAnnotation'
          title: textAnnotations
          type: array
        webDetection:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1WebDetection'
      title: GoogleCloudVisionV1p1beta1AnnotateImageResponse
      type: object
    GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse:
      description: The response for a single offline file annotation request.
      properties:
        outputConfig:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1OutputConfig'
      title: GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse
      type: object
    GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesResponse:
      description: Response to an async batch file annotation request.
      properties:
        responses:
          description: "The list of file annotation responses, one for each request\
            \ in AsyncBatchAnnotateFilesRequest."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse'
          type: array
      type: object
    GoogleCloudVisionV1p1beta1Block:
      description: Logical element on the page.
      properties:
        blockType:
          description: "Detected block type (text, image etc) for this block."
          enum:
          - UNKNOWN
          - TEXT
          - TABLE
          - PICTURE
          - RULER
          - BARCODE
          title: blockType
          type: string
        boundingBox:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
        confidence:
          description: "Confidence of the OCR results on the block. Range [0, 1]."
          format: float
          title: confidence
          type: number
        paragraphs:
          description: List of paragraphs in this block (if this blocks is of type
            text).
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1Paragraph'
          title: paragraphs
          type: array
        property:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1TextAnnotationTextProperty'
      title: GoogleCloudVisionV1p1beta1Block
      type: object
    GoogleCloudVisionV1p1beta1BoundingPoly:
      description: A bounding polygon for the detected image annotation.
      properties:
        normalizedVertices:
          description: The bounding polygon normalized vertices.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1NormalizedVertex'
          title: normalizedVertices
          type: array
        vertices:
          description: The bounding polygon vertices.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1Vertex'
          title: vertices
          type: array
      title: GoogleCloudVisionV1p1beta1BoundingPoly
      type: object
    GoogleCloudVisionV1p1beta1ColorInfo:
      description: "Color information consists of RGB channels, score, and the fraction\
        \ of the image that the color occupies in the image."
      properties:
        color:
          $ref: '#/components/schemas/Color'
        pixelFraction:
          description: "The fraction of pixels the color occupies in the image. Value\
            \ in range [0, 1]."
          format: float
          title: pixelFraction
          type: number
        score:
          description: "Image-specific score for this color. Value in range [0, 1]."
          format: float
          title: score
          type: number
      title: GoogleCloudVisionV1p1beta1ColorInfo
      type: object
    GoogleCloudVisionV1p1beta1CropHint:
      description: Single crop hint that is used to generate a new crop when serving
        an image.
      properties:
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
        confidence:
          description: "Confidence of this being a salient region. Range [0, 1]."
          format: float
          title: confidence
          type: number
        importanceFraction:
          description: Fraction of importance of this salient region with respect
            to the original image.
          format: float
          title: importanceFraction
          type: number
      title: GoogleCloudVisionV1p1beta1CropHint
      type: object
    GoogleCloudVisionV1p1beta1CropHintsAnnotation:
      description: Set of crop hints that are used to generate new crops when serving
        images.
      properties:
        cropHints:
          description: Crop hint results.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1CropHint'
          title: cropHints
          type: array
      title: GoogleCloudVisionV1p1beta1CropHintsAnnotation
      type: object
    GoogleCloudVisionV1p1beta1DominantColorsAnnotation:
      description: Set of dominant colors and their corresponding scores.
      properties:
        colors:
          description: RGB color values with their score and pixel fraction.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1ColorInfo'
          title: colors
          type: array
      title: GoogleCloudVisionV1p1beta1DominantColorsAnnotation
      type: object
    GoogleCloudVisionV1p1beta1EntityAnnotation:
      description: Set of detected entity features.
      properties:
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
        confidence:
          deprecated: true
          description: "**Deprecated. Use `score` instead.** The accuracy of the entity\
            \ detection in an image. For example, for an image in which the \"Eiffel\
            \ Tower\" entity is detected, this field represents the confidence that\
            \ there is a tower in the query image. Range [0, 1]."
          format: float
          title: confidence
          type: number
        description:
          description: "Entity textual description, expressed in its `locale` language."
          title: description
          type: string
        locale:
          description: The language code for the locale in which the entity textual
            `description` is expressed.
          title: locale
          type: string
        locations:
          description: "The location information for the detected entity. Multiple\
            \ `LocationInfo` elements can be present because one location may indicate\
            \ the location of the scene in the image, and another location may indicate\
            \ the location of the place where the image was taken. Location information\
            \ is usually present for landmarks."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1LocationInfo'
          title: locations
          type: array
        mid:
          description: "Opaque entity ID. Some IDs may be available in [Google Knowledge\
            \ Graph Search API](https://developers.google.com/knowledge-graph/)."
          title: mid
          type: string
        properties:
          description: "Some entities may have optional user-supplied `Property` (name/value)\
            \ fields, such a score or string that qualifies the entity."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1Property'
          title: properties
          type: array
        score:
          description: "Overall score of the result. Range [0, 1]."
          format: float
          title: score
          type: number
        topicality:
          description: "The relevancy of the ICA (Image Content Annotation) label\
            \ to the image. For example, the relevancy of \"tower\" is likely higher\
            \ to an image containing the detected \"Eiffel Tower\" than to an image\
            \ containing a detected distant towering building, even though the confidence\
            \ that there is a tower in each image may be the same. Range [0, 1]."
          format: float
          title: topicality
          type: number
      title: GoogleCloudVisionV1p1beta1EntityAnnotation
      type: object
    GoogleCloudVisionV1p1beta1FaceAnnotation:
      description: A face annotation object contains the results of face detection.
      properties:
        angerLikelihood:
          description: Anger likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: angerLikelihood
          type: string
        blurredLikelihood:
          description: Blurred likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: blurredLikelihood
          type: string
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
        detectionConfidence:
          description: "Detection confidence. Range [0, 1]."
          format: float
          title: detectionConfidence
          type: number
        fdBoundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
        headwearLikelihood:
          description: Headwear likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: headwearLikelihood
          type: string
        joyLikelihood:
          description: Joy likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: joyLikelihood
          type: string
        landmarkingConfidence:
          description: "Face landmarking confidence. Range [0, 1]."
          format: float
          title: landmarkingConfidence
          type: number
        landmarks:
          description: Detected face landmarks.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1FaceAnnotationLandmark'
          title: landmarks
          type: array
        panAngle:
          description: "Yaw angle, which indicates the leftward/rightward angle that\
            \ the face is pointing relative to the vertical plane perpendicular to\
            \ the image. Range [-180,180]."
          format: float
          title: panAngle
          type: number
        rollAngle:
          description: "Roll angle, which indicates the amount of clockwise/anti-clockwise\
            \ rotation of the face relative to the image vertical about the axis perpendicular\
            \ to the face. Range [-180,180]."
          format: float
          title: rollAngle
          type: number
        sorrowLikelihood:
          description: Sorrow likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: sorrowLikelihood
          type: string
        surpriseLikelihood:
          description: Surprise likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: surpriseLikelihood
          type: string
        tiltAngle:
          description: "Pitch angle, which indicates the upwards/downwards angle that\
            \ the face is pointing relative to the image's horizontal plane. Range\
            \ [-180,180]."
          format: float
          title: tiltAngle
          type: number
        underExposedLikelihood:
          description: Under-exposed likelihood.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: underExposedLikelihood
          type: string
      title: GoogleCloudVisionV1p1beta1FaceAnnotation
      type: object
    GoogleCloudVisionV1p1beta1FaceAnnotationLandmark:
      description: "A face-specific landmark (for example, a face feature)."
      properties:
        position:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1Position'
        type:
          description: Face landmark type.
          enum:
          - UNKNOWN_LANDMARK
          - LEFT_EYE
          - RIGHT_EYE
          - LEFT_OF_LEFT_EYEBROW
          - RIGHT_OF_LEFT_EYEBROW
          - LEFT_OF_RIGHT_EYEBROW
          - RIGHT_OF_RIGHT_EYEBROW
          - MIDPOINT_BETWEEN_EYES
          - NOSE_TIP
          - UPPER_LIP
          - LOWER_LIP
          - MOUTH_LEFT
          - MOUTH_RIGHT
          - MOUTH_CENTER
          - NOSE_BOTTOM_RIGHT
          - NOSE_BOTTOM_LEFT
          - NOSE_BOTTOM_CENTER
          - LEFT_EYE_TOP_BOUNDARY
          - LEFT_EYE_RIGHT_CORNER
          - LEFT_EYE_BOTTOM_BOUNDARY
          - LEFT_EYE_LEFT_CORNER
          - RIGHT_EYE_TOP_BOUNDARY
          - RIGHT_EYE_RIGHT_CORNER
          - RIGHT_EYE_BOTTOM_BOUNDARY
          - RIGHT_EYE_LEFT_CORNER
          - LEFT_EYEBROW_UPPER_MIDPOINT
          - RIGHT_EYEBROW_UPPER_MIDPOINT
          - LEFT_EAR_TRAGION
          - RIGHT_EAR_TRAGION
          - LEFT_EYE_PUPIL
          - RIGHT_EYE_PUPIL
          - FOREHEAD_GLABELLA
          - CHIN_GNATHION
          - CHIN_LEFT_GONION
          - CHIN_RIGHT_GONION
          - LEFT_CHEEK_CENTER
          - RIGHT_CHEEK_CENTER
          title: type
          type: string
      title: GoogleCloudVisionV1p1beta1FaceAnnotationLandmark
      type: object
    GoogleCloudVisionV1p1beta1GcsDestination:
      description: The Google Cloud Storage location where the output will be written
        to.
      properties:
        uri:
          description: "Google Cloud Storage URI prefix where the results will be\
            \ stored. Results will be in JSON format and preceded by its corresponding\
            \ input URI prefix. This field can either represent a gcs file prefix\
            \ or gcs directory. In either case, the uri should be unique because in\
            \ order to get all of the output files, you will need to do a wildcard\
            \ gcs search on the uri prefix you provide. Examples: * File Prefix: gs://bucket-name/here/filenameprefix\
            \ The output files will be created in gs://bucket-name/here/ and the names\
            \ of the output files will begin with \"filenameprefix\". * Directory\
            \ Prefix: gs://bucket-name/some/location/ The output files will be created\
            \ in gs://bucket-name/some/location/ and the names of the output files\
            \ could be anything because there was no filename prefix specified. If\
            \ multiple outputs, each response is still AnnotateFileResponse, each\
            \ of which contains some subset of the full list of AnnotateImageResponse.\
            \ Multiple outputs can happen if, for example, the output JSON is too\
            \ large and overflows into multiple sharded files."
          title: uri
          type: string
      title: GoogleCloudVisionV1p1beta1GcsDestination
      type: object
    GoogleCloudVisionV1p1beta1GcsSource:
      description: The Google Cloud Storage location where the input will be read
        from.
      properties:
        uri:
          description: Google Cloud Storage URI for the input file. This must only
            be a Google Cloud Storage object. Wildcards are not currently supported.
          title: uri
          type: string
      title: GoogleCloudVisionV1p1beta1GcsSource
      type: object
    GoogleCloudVisionV1p1beta1ImageAnnotationContext:
      description: "If an image was produced from a file (e.g. a PDF), this message\
        \ gives information about the source of that image."
      properties:
        pageNumber:
          description: "If the file was a PDF or TIFF, this field gives the page number\
            \ within the file used to produce the image."
          format: int32
          title: pageNumber
          type: integer
        uri:
          description: The URI of the file used to produce the image.
          title: uri
          type: string
      title: GoogleCloudVisionV1p1beta1ImageAnnotationContext
      type: object
    GoogleCloudVisionV1p1beta1ImageProperties:
      description: "Stores image properties, such as dominant colors."
      properties:
        dominantColors:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1DominantColorsAnnotation'
      title: GoogleCloudVisionV1p1beta1ImageProperties
      type: object
    GoogleCloudVisionV1p1beta1InputConfig:
      description: The desired input location and metadata.
      properties:
        content:
          description: "File content, represented as a stream of bytes. Note: As with\
            \ all `bytes` fields, protobuffers use a pure binary representation, whereas\
            \ JSON representations use base64. Currently, this field only works for\
            \ BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles\
            \ requests."
          format: byte
          title: content
          type: string
        gcsSource:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1GcsSource'
        mimeType:
          description: "The type of the file. Currently only \"application/pdf\",\
            \ \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported."
          title: mimeType
          type: string
      title: GoogleCloudVisionV1p1beta1InputConfig
      type: object
    GoogleCloudVisionV1p1beta1LocalizedObjectAnnotation:
      description: Set of detected objects with bounding boxes.
      properties:
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
        languageCode:
          description: "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\"\
            . For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
          title: languageCode
          type: string
        mid:
          description: Object ID that should align with EntityAnnotation mid.
          title: mid
          type: string
        name:
          description: "Object name, expressed in its `language_code` language."
          title: name
          type: string
        score:
          description: "Score of the result. Range [0, 1]."
          format: float
          title: score
          type: number
      title: GoogleCloudVisionV1p1beta1LocalizedObjectAnnotation
      type: object
    GoogleCloudVisionV1p1beta1LocationInfo:
      description: Detected entity location information.
      properties:
        latLng:
          $ref: '#/components/schemas/LatLng'
      title: GoogleCloudVisionV1p1beta1LocationInfo
      type: object
    GoogleCloudVisionV1p1beta1NormalizedVertex:
      description: "A vertex represents a 2D point in the image. NOTE: the normalized\
        \ vertex coordinates are relative to the original image and range from 0 to\
        \ 1."
      properties:
        x:
          description: X coordinate.
          format: float
          title: x
          type: number
        "y":
          description: Y coordinate.
          format: float
          title: "y"
          type: number
      title: GoogleCloudVisionV1p1beta1NormalizedVertex
      type: object
    GoogleCloudVisionV1p1beta1OperationMetadata:
      description: Contains metadata for the BatchAnnotateImages operation.
      properties:
        createTime:
          description: The time when the batch request was received.
          format: google-datetime
          type: string
        state:
          description: Current state of the batch operation.
          enum:
          - STATE_UNSPECIFIED
          - CREATED
          - RUNNING
          - DONE
          - CANCELLED
          type: string
        updateTime:
          description: The time when the operation result was last updated.
          format: google-datetime
          type: string
      type: object
    GoogleCloudVisionV1p1beta1OutputConfig:
      description: The desired output location and metadata.
      properties:
        batchSize:
          description: "The max number of response protos to put into each output\
            \ JSON file on Google Cloud Storage. The valid range is [1, 100]. If not\
            \ specified, the default value is 20. For example, for one pdf file with\
            \ 100 pages, 100 response protos will be generated. If `batch_size` =\
            \ 20, then 5 json files each containing 20 response protos will be written\
            \ under the prefix `gcs_destination`.`uri`. Currently, batch_size only\
            \ applies to GcsDestination, with potential future support for other output\
            \ configurations."
          format: int32
          title: batchSize
          type: integer
        gcsDestination:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1GcsDestination'
      title: GoogleCloudVisionV1p1beta1OutputConfig
      type: object
    GoogleCloudVisionV1p1beta1Page:
      description: Detected page from OCR.
      properties:
        blocks:
          description: "List of blocks of text, images etc on this page."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1Block'
          title: blocks
          type: array
        confidence:
          description: "Confidence of the OCR results on the page. Range [0, 1]."
          format: float
          title: confidence
          type: number
        height:
          description: Page height. For PDFs the unit is points. For images (including
            TIFFs) the unit is pixels.
          format: int32
          title: height
          type: integer
        property:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1TextAnnotationTextProperty'
        width:
          description: Page width. For PDFs the unit is points. For images (including
            TIFFs) the unit is pixels.
          format: int32
          title: width
          type: integer
      title: GoogleCloudVisionV1p1beta1Page
      type: object
    GoogleCloudVisionV1p1beta1Paragraph:
      description: Structural unit of text representing a number of words in certain
        order.
      properties:
        boundingBox:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
        confidence:
          description: "Confidence of the OCR results for the paragraph. Range [0,\
            \ 1]."
          format: float
          title: confidence
          type: number
        property:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1TextAnnotationTextProperty'
        words:
          description: List of all words in this paragraph.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1Word'
          title: words
          type: array
      title: GoogleCloudVisionV1p1beta1Paragraph
      type: object
    GoogleCloudVisionV1p1beta1Position:
      description: "A 3D position in the image, used primarily for Face detection\
        \ landmarks. A valid Position must have both x and y coordinates. The position\
        \ coordinates are in the same scale as the original image."
      properties:
        x:
          description: X coordinate.
          format: float
          title: x
          type: number
        "y":
          description: Y coordinate.
          format: float
          title: "y"
          type: number
        z:
          description: Z coordinate (or depth).
          format: float
          title: z
          type: number
      title: GoogleCloudVisionV1p1beta1Position
      type: object
    GoogleCloudVisionV1p1beta1Product:
      description: A Product contains ReferenceImages.
      properties:
        description:
          description: User-provided metadata to be stored with this product. Must
            be at most 4096 characters long.
          title: description
          type: string
        displayName:
          description: The user-provided name for this Product. Must not be empty.
            Must be at most 4096 characters long.
          title: displayName
          type: string
        name:
          description: "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`.\
            \ This field is ignored when creating a product."
          title: name
          type: string
        productCategory:
          description: "Immutable. The category for the product identified by the\
            \ reference image. This should be one of \"homegoods-v2\", \"apparel-v2\"\
            , \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories\
            \ \"homegoods\", \"apparel\", and \"toys\" are still supported, but these\
            \ should not be used for new products."
          title: productCategory
          type: string
        productLabels:
          description: "Key-value pairs that can be attached to a product. At query\
            \ time, constraints can be specified based on the product_labels. Note\
            \ that integer values can be provided as strings, e.g. \"1199\". Only\
            \ strings with integer values can match a range-based restriction which\
            \ is to be supported soon. Multiple values can be assigned to the same\
            \ key. One product may have up to 500 product_labels. Notice that the\
            \ total number of distinct product_labels over all products in one ProductSet\
            \ cannot exceed 1M, otherwise the product search pipeline will refuse\
            \ to work for that ProductSet."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1ProductKeyValue'
          title: productLabels
          type: array
      title: GoogleCloudVisionV1p1beta1Product
      type: object
    GoogleCloudVisionV1p1beta1ProductKeyValue:
      description: A product label represented as a key-value pair.
      properties:
        key:
          description: The key of the label attached to the product. Cannot be empty
            and cannot exceed 128 bytes.
          title: key
          type: string
        value:
          description: The value of the label attached to the product. Cannot be empty
            and cannot exceed 128 bytes.
          title: value
          type: string
      title: GoogleCloudVisionV1p1beta1ProductKeyValue
      type: object
    GoogleCloudVisionV1p1beta1ProductSearchResults:
      description: Results for a product search request.
      properties:
        indexTime:
          description: Timestamp of the index which provided these results. Products
            added to the product set and products removed from the product set after
            this time are not reflected in the current results.
          format: google-datetime
          title: indexTime
          type: string
        productGroupedResults:
          description: "List of results grouped by products detected in the query\
            \ image. Each entry corresponds to one bounding polygon in the query image,\
            \ and contains the matching products specific to that region. There may\
            \ be duplicate product matches in the union of all the per-product results."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult'
          title: productGroupedResults
          type: array
        results:
          description: "List of results, one for each product match."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1ProductSearchResultsResult'
          title: results
          type: array
      title: GoogleCloudVisionV1p1beta1ProductSearchResults
      type: object
    GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult:
      description: Information about the products similar to a single product in a
        query image.
      properties:
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
        objectAnnotations:
          description: List of generic predictions for the object in the bounding
            box.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation'
          title: objectAnnotations
          type: array
        results:
          description: "List of results, one for each product match."
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1ProductSearchResultsResult'
          title: results
          type: array
      title: GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult
      type: object
    GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation:
      description: Prediction for what the object in the bounding box is.
      properties:
        languageCode:
          description: "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\"\
            . For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
          title: languageCode
          type: string
        mid:
          description: Object ID that should align with EntityAnnotation mid.
          title: mid
          type: string
        name:
          description: "Object name, expressed in its `language_code` language."
          title: name
          type: string
        score:
          description: "Score of the result. Range [0, 1]."
          format: float
          title: score
          type: number
      title: GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation
      type: object
    GoogleCloudVisionV1p1beta1ProductSearchResultsResult:
      description: Information about a product.
      properties:
        image:
          description: The resource name of the image from the product that is the
            closest match to the query.
          title: image
          type: string
        product:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1Product'
        score:
          description: "A confidence level on the match, ranging from 0 (no confidence)\
            \ to 1 (full confidence)."
          format: float
          title: score
          type: number
      title: GoogleCloudVisionV1p1beta1ProductSearchResultsResult
      type: object
    GoogleCloudVisionV1p1beta1Property:
      description: A `Property` consists of a user-supplied name/value pair.
      properties:
        name:
          description: Name of the property.
          title: name
          type: string
        uint64Value:
          description: Value of numeric properties.
          format: uint64
          title: uint64Value
          type: string
        value:
          description: Value of the property.
          title: value
          type: string
      title: GoogleCloudVisionV1p1beta1Property
      type: object
    GoogleCloudVisionV1p1beta1SafeSearchAnnotation:
      description: "Set of features pertaining to the image, computed by computer\
        \ vision methods over safe-search verticals (for example, adult, spoof, medical,\
        \ violence)."
      properties:
        adult:
          description: "Represents the adult content likelihood for the image. Adult\
            \ content may contain elements such as nudity, pornographic images or\
            \ cartoons, or sexual activities."
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: adult
          type: string
        medical:
          description: Likelihood that this is a medical image.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: medical
          type: string
        racy:
          description: "Likelihood that the request image contains racy content. Racy\
            \ content may include (but is not limited to) skimpy or sheer clothing,\
            \ strategically covered nudity, lewd or provocative poses, or close-ups\
            \ of sensitive body areas."
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: racy
          type: string
        spoof:
          description: Spoof likelihood. The likelihood that an modification was made
            to the image's canonical version to make it appear funny or offensive.
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: spoof
          type: string
        violence:
          description: "Likelihood that this image contains violent content. Violent\
            \ content may include death, serious harm, or injury to individuals or\
            \ groups of individuals."
          enum:
          - UNKNOWN
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
          title: violence
          type: string
      title: GoogleCloudVisionV1p1beta1SafeSearchAnnotation
      type: object
    GoogleCloudVisionV1p1beta1Symbol:
      description: A single symbol representation.
      properties:
        boundingBox:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
        confidence:
          description: "Confidence of the OCR results for the symbol. Range [0, 1]."
          format: float
          title: confidence
          type: number
        property:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1TextAnnotationTextProperty'
        text:
          description: The actual UTF-8 representation of the symbol.
          title: text
          type: string
      title: GoogleCloudVisionV1p1beta1Symbol
      type: object
[...]
