openapi: 3.0.1
info:
  description: The Azure Storage Management API.
  title: StorageManagementClient
  version: 2018-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/preview/2018-03-01-preview/managementpolicy.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: storage-managementpolicy
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/managementPolicies/{managementPolicyName}
  : delete:
      description: Deletes the data policy rules associated with the specified storage
        account.
      operationId: ManagementPolicies_Delete
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Storage Account Management Policy. It should
          always be 'default'
        in: path
        name: managementPolicyName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagementPolicyName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ManagementPolicyName
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK -- Delete management policies successfully.
        "204":
          content: {}
          description: No Content -- The management policies does not exist.
      tags:
      - ManagementPolicies
      x-ms-examples:
        StorageAccountDeleteManagementPolicies:
          parameters:
            accountName: sto2527
            api-version: 2018-03-01-preview
            managementPolicyName: default
            monitor: "true"
            resourceGroupName: res6977
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the data policy rules associated with the specified storage
        account.
      operationId: ManagementPolicies_Get
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Storage Account Management Policy. It should
          always be 'default'
        in: path
        name: managementPolicyName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagementPolicyName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ManagementPolicyName
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountManagementPolicies'
          description: OK -- Get management policies successfully.
      tags:
      - ManagementPolicies
      x-ms-examples:
        StorageAccountGetManagementPolicies:
          parameters:
            accountName: sto2527
            api-version: 2018-03-01-preview
            managementPolicyName: default
            monitor: "true"
            resourceGroupName: res6977
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/res7231/providers/Microsoft.Storage/storageAccounts/sto288/managementPolicies/default"
                name: DefaultManagementPolicy
                properties:
                  lastModifiedTime: 2018-06-08T03:01:55.7168089Z
                  policy:
                    rules:
                    - definition:
                        actions:
                          baseBlob:
                            delete:
                              daysAfterModificationGreaterThan: 1000
                            tierToArchive:
                              daysAfterModificationGreaterThan: 90
                            tierToCool:
                              daysAfterModificationGreaterThan: 30
                          snapshot:
                            delete:
                              daysAfterCreationGreaterThan: 30
                        filters:
                          blobTypes:
                          - blockBlob
                          prefixMatch:
                          - olcmtestcontainer
                      name: olcmtest
                      type: Lifecycle
                    version: "0.5"
                type: Microsoft.Storage/storageAccounts/managementPolicies
      x-accepts:
      - application/json
    put:
      description: Sets the data policy rules associated with the specified storage
        account.
      operationId: ManagementPolicies_CreateOrUpdate
      parameters:
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Storage Account Management Policy. It should
          always be 'default'
        in: path
        name: managementPolicyName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagementPolicyName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: ManagementPolicyName
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementPoliciesRulesSetParameter'
        description: The data policy rules to set to a storage account.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountManagementPolicies'
          description: OK -- Get management policies successfully.
      tags:
      - ManagementPolicies
      x-ms-examples:
        StorageAccountSetManagementPolicies:
          parameters:
            accountName: sto9699
            api-version: 2018-03-01-preview
            managementPolicyName: default
            monitor: "true"
            properties:
              properties:
                policy:
                  rules:
                  - definition:
                      actions:
                        baseBlob:
                          delete:
                            daysAfterModificationGreaterThan: 1000
                          tierToArchive:
                            daysAfterModificationGreaterThan: 90
                          tierToCool:
                            daysAfterModificationGreaterThan: 30
                        snapshot:
                          delete:
                            daysAfterCreationGreaterThan: 30
                      filters:
                        blobTypes:
                        - blockBlob
                        prefixMatch:
                        - olcmtestcontainer
                    name: olcmtest
                    type: Lifecycle
                  version: "0.5"
            resourceGroupName: res7687
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: "/subscriptions/{subscription-id}/resourceGroups/res7231/providers/Microsoft.Storage/storageAccounts/sto288/managementPolicies/default"
                name: DefaultManagementPolicy
                properties:
                  lastModifiedTime: 2018-06-08T02:53:39.0932539Z
                  policy:
                    rules:
                    - definition:
                        actions:
                          baseBlob:
                            delete:
                              daysAfterModificationGreaterThan: 1000
                            tierToArchive:
                              daysAfterModificationGreaterThan: 90
                            tierToCool:
                              daysAfterModificationGreaterThan: 30
                          snapshot:
                            delete:
                              daysAfterCreationGreaterThan: 30
                        filters:
                          blobTypes:
                          - blockBlob
                          prefixMatch:
                          - olcmtestcontainer
                      name: olcmtest
                      type: Lifecycle
                    version: "0.5"
                type: Microsoft.Storage/storageAccounts/managementPolicies
      x-codegen-request-body-name: properties
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ManagementPolicyName:
      description: The name of the Storage Account Management Policy. It should always
        be 'default'
      in: path
      name: managementPolicyName
      required: true
      schema:
        enum:
        - default
        type: string
        x-ms-enum:
          modelAsString: true
          name: ManagementPolicyName
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: ManagementPolicyName
      x-ms-parameter-location: method
  schemas:
    ManagementPoliciesRules:
      description: "The Storage Account ManagementPolicies Rules, in JSON format.\
        \ See more details in: https://docs.microsoft.com/en-us/azure/storage/common/storage-lifecycle-managment-concepts."
      example:
        policy: "{}"
      properties:
        policy:
          description: "The Storage Account ManagementPolicies Rules, in JSON format.\
            \ See more details in: https://docs.microsoft.com/en-us/azure/storage/common/storage-lifecycle-managment-concepts."
          properties: {}
          type: object
      type: object
    ManagementPoliciesRulesSetParameter:
      description: "The Storage Account ManagementPolicies Rules, in JSON format.\
        \ See more details in: https://docs.microsoft.com/en-us/azure/storage/common/storage-lifecycle-managment-concepts."
      example:
        properties:
          policy: "{}"
      properties:
        properties:
          $ref: '#/components/schemas/ManagementPoliciesRules'
      type: object
    StorageAccountManagementPolicies:
      allOf:
      - properties:
          id:
            description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
              or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: The Get Storage Account ManagementPolicies operation response.
      example:
        properties:
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/StorageAccountManagementPoliciesRulesProperty'
    StorageAccountManagementPoliciesRulesProperty:
      allOf:
      - $ref: '#/components/schemas/ManagementPoliciesRules'
      description: The Storage Account Data Policies properties.
      example:
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
      properties:
        lastModifiedTime:
          description: Returns the date and time the ManagementPolicies was last modified.
          format: date-time
          readOnly: true
          type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

