openapi: 3.0.1
info:
  description: The Azure Storage Management API.
  title: StorageManagementClient
  version: 2018-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/storage.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: storage
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Storage/operations:
    get:
      description: Lists all of the available Storage Rest API operations.
      operationId: Operations_List
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
      - Operations
      x-ms-examples:
        OperationsList:
          parameters:
            api-version: 2018-11-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Creates a storage account with the specified parameters
                      or update the properties or tags or adds custom domain for the
                      specified storage account.
                    operation: Create/Update Storage Account
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/write
                - display:
                    description: Deletes an existing storage account.
                    operation: Delete Storage Account
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/delete
                - display:
                    description: Returns the access keys for the specified storage
                      account.
                    operation: List Storage Account Keys
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/listkeys/action
                - display:
                    description: Regenerates the access keys for the specified storage
                      account.
                    operation: Regenerate Storage Account Keys
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/regeneratekey/action
                - display:
                    description: Checks that account name is valid and is not in use.
                    operation: Check Name Availability
                    provider: Microsoft Storage
                    resource: Name Availability
                  name: Microsoft.Storage/checknameavailability/read
                - display:
                    description: Returns the list of storage accounts or gets the
                      properties for the specified storage account.
                    operation: List/Get Storage Account(s)
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/read
                - display:
                    description: Returns the limit and the current usage count for
                      resources in the specified subscription
                    operation: Get Subscription Usages
                    provider: Microsoft Storage
                    resource: Usage Metrics
                  name: Microsoft.Storage/usages/read
                - display:
                    description: Returns the Account SAS token for the specified storage
                      account.
                    operation: Returns Storage Account SAS Token
                    provider: Microsoft Storage
                    resource: Storage Account SAS Token
                  name: Microsoft.Storage/storageAccounts/listAccountSas/action
                - display:
                    description: Storage Service SAS Token
                    operation: Returns Storage Service SAS Token
                    provider: Microsoft Storage
                    resource: Returns the Service SAS token for the specified storage
                      account.
                  name: Microsoft.Storage/storageAccounts/listServiceSas/action
                - display:
                    description: Notifies Microsoft.Storage that virtual network or
                      subnet is being deleted
                    operation: Delete virtual network or subnets notifications
                    provider: Microsoft Storage
                    resource: Location
                  name: Microsoft.Storage/locations/deleteVirtualNetworkOrSubnets/action
                - display:
                    description: Polls the status of an asynchronous operation.
                    operation: Poll Asynchronous Operation
                    provider: Microsoft Storage
                    resource: Operations
                  name: Microsoft.Storage/operations/read
                - display:
                    description: Registers the subscription for the storage resource
                      provider and enables the creation of storage accounts.
                    operation: Registers the Storage Resource Provider
                    provider: Microsoft Storage
                    resource: Storage Resource Provider
                  name: Microsoft.Storage/register/action
                - display:
                    description: Lists the Skus supported by Microsoft.Storage.
                    operation: List Skus
                    provider: Microsoft Storage
                    resource: Skus
                  name: Microsoft.Storage/skus/read
                - display:
                    description: Create/Update storage account diagnostic settings.
                    operation: Create/Update Diagnostic Settings
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/services/diagnosticSettings/write
                - display:
                    description: Get list of Microsoft Storage Metrics definitions.
                    operation: Get list of Microsoft Storage Metrics definitions
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: Account used capacity
                        displayName: Used capacity
                        fillGapWithZero: false
                        name: UsedCapacity
                        resourceIdDimensionNameOverride: AccountResourceId
                        unit: Bytes
                - display:
                    description: Gets the diagnostic setting for the resource.
                    operation: Read diagnostic setting
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource.
                    operation: Write diagnostic setting
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Get list of Microsoft Storage Metrics definitions.
                    operation: Get list of Microsoft Storage Metrics definitions
                    provider: Microsoft Storage
                    resource: Blob service
                  name: Microsoft.Storage/storageAccounts/blobServices/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Average
                        category: Capacity
                        dimensions:
                        - displayName: Blob type
                          name: BlobType
                        displayDescription: The amount of storage used by the storage
                          account’s Blob service in bytes.
                        displayName: Blob Capacity
                        fillGapWithZero: false
                        name: BlobCapacity
                        unit: Bytes
                      - aggregationType: Average
                        category: Capacity
                        dimensions:
                        - displayName: Blob type
                          name: BlobType
                        displayDescription: The number of Blob in the storage account’s
                          Blob service.
                        displayName: Blob Count
                        fillGapWithZero: false
                        name: BlobCount
                        unit: Count
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of containers in the storage
                          account’s Blob service.
                        displayName: Blob Container Count
                        fillGapWithZero: false
                        name: ContainerCount
                        unit: Count
                      - aggregationType: Average
                        category: Capacity
                        dimensions:
                        - displayName: Blob type
                          name: BlobType
                        displayDescription: The amount of storage provisioned in the
                          storage account’s Blob service in bytes.
                        displayName: Blob Provisioned Size
                        fillGapWithZero: false
                        name: BlobProvisionedSize
                        unit: Bytes
                - display:
                    description: Gets the diagnostic setting for the resource.
                    operation: Read diagnostic setting
                    provider: Microsoft Storage
                    resource: Blob service
                  name: Microsoft.Storage/storageAccounts/blobServices/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource.
                    operation: Write diagnostic setting
                    provider: Microsoft Storage
                    resource: Blob service
                  name: Microsoft.Storage/storageAccounts/blobServices/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Get list of Microsoft Storage Metrics definitions.
                    operation: Get list of Microsoft Storage Metrics definitions
                    provider: Microsoft Storage
                    resource: Table service
                  name: Microsoft.Storage/storageAccounts/tableServices/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The amount of storage used by the storage
                          account’s Table service in bytes.
                        displayName: Table Capacity
                        fillGapWithZero: false
                        name: TableCapacity
                        unit: Bytes
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of table in the storage account’s
                          Table service.
                        displayName: Table Count
                        fillGapWithZero: false
                        name: TableCount
                        unit: Count
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of table entities in the storage
                          account’s Table service.
                        displayName: Table Entity Count
                        fillGapWithZero: false
                        name: TableEntityCount
                        unit: Count
                - display:
                    description: Gets the diagnostic setting for the resource.
                    operation: Read diagnostic setting
                    provider: Microsoft Storage
                    resource: Table service
                  name: Microsoft.Storage/storageAccounts/tableServices/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource.
                    operation: Write diagnostic setting
                    provider: Microsoft Storage
                    resource: Table service
                  name: Microsoft.Storage/storageAccounts/tableServices/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Get list of Microsoft Storage Metrics definitions.
                    operation: Get list of Microsoft Storage Metrics definitions
                    provider: Microsoft Storage
                    resource: Queue service
                  name: Microsoft.Storage/storageAccounts/queueServices/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The amount of storage used by the storage
                          account’s Queue service in bytes.
                        displayName: Queue Capacity
                        fillGapWithZero: false
                        name: QueueCapacity
                        unit: Bytes
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of queue in the storage account’s
                          Queue service.
                        displayName: Queue Count
                        fillGapWithZero: false
                        name: QueueCount
                        unit: Count
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The approximate number of queue messages
                          in the storage account’s Queue service.
                        displayName: Queue Message Count
                        fillGapWithZero: false
                        name: QueueMessageCount
                        unit: Count
                - display:
                    description: Gets the diagnostic setting for the resource.
                    operation: Read diagnostic setting
                    provider: Microsoft Storage
                    resource: Queue service
                  name: Microsoft.Storage/storageAccounts/queueServices/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource.
                    operation: Write diagnostic setting
                    provider: Microsoft Storage
                    resource: Queue service
                  name: Microsoft.Storage/storageAccounts/queueServices/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Get list of Microsoft Storage Metrics definitions.
                    operation: Get list of Microsoft Storage Metrics definitions
                    provider: Microsoft Storage
                    resource: File service
                  name: Microsoft.Storage/storageAccounts/fileServices/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The amount of storage used by the storage
                          account’s File service in bytes.
                        displayName: File Capacity
                        fillGapWithZero: false
                        name: FileCapacity
                        unit: Bytes
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The amount of storage provisioned in the
                          storage account’s File service in bytes.
                        displayName: File Provisioned Size
                        fillGapWithZero: false
                        name: FileProvisionedSize
                        unit: Bytes
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of file in the storage account’s
                          File service.
                        displayName: File Count
                        fillGapWithZero: false
                        name: FileCount
                        unit: Count
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of file shares in the storage
                          account’s File service.
                        displayName: File Share Count
                        fillGapWithZero: false
                        name: FileShareCount
                        unit: Count
                - display:
                    description: Gets the diagnostic setting for the resource.
                    operation: Read diagnostic setting
                    provider: Microsoft Storage
                    resource: File service
                  name: Microsoft.Storage/storageAccounts/fileServices/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource.
                    operation: Write diagnostic setting
                    provider: Microsoft Storage
                    resource: File service
                  name: Microsoft.Storage/storageAccounts/fileServices/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability:
    post:
      description: Checks that the storage account name is valid and is not already
        in use.
      operationId: StorageAccounts_CheckNameAvailability
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageAccountCheckNameAvailabilityParameters'
        description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: OK -- Operation to check the storage account name availability
            was successful.
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountCheckNameAvailability:
          parameters:
            accountName:
              name: sto3363
              type: Microsoft.Storage/storageAccounts
            api-version: 2018-11-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nameAvailable: true
      x-codegen-request-body-name: accountName
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/locations/{location}/usages:
    get:
      description: Gets the current usage count and the limit for the resources of
        the location under the subscription.
      operationId: Usages_ListByLocation
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The location of the Azure Storage resource.
        in: path
        name: location
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageListResult'
          description: OK -- current usage count and limit retrieved and returned
            successfully.
      tags:
      - LocationUsage
      x-ms-examples:
        UsageList:
          parameters:
            api-version: 2018-11-01
            location: eastus2(stage)
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - currentValue: 55
                  limit: 250
                  name:
                    localizedValue: Storage Accounts
                    value: StorageAccounts
                  unit: Count
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/skus:
    get:
      description: Lists the available SKUs supported by Microsoft.Storage for given
        subscription.
      operationId: Skus_List
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSkuListResult'
          description: OK -- List of storage SKUs in the given subscription retrieved
            and returned successfully.
      tags:
      - Skus
      x-ms-examples:
        SkuList:
          parameters:
            api-version: 2018-11-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "true"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus2
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus2
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus2
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "true"
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "true"
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "true"
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsnetworkacls
                    value: "true"
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "true"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "true"
                  kind: BlobStorage
                  locations:
                  - eastus2(stage)
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "true"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "true"
                  kind: BlobStorage
                  locations:
                  - eastus2(stage)
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "true"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus2(stage)
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westeurope
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastasia
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southeastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southeastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southeastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japaneast
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japaneast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japaneast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japaneast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japanwest
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japanwest
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japanwest
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japanwest
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - centralus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - centralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - centralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - centralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northeurope
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - brazilsouth
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - brazilsouth
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - brazilsouth
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiaeast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiaeast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiaeast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiasoutheast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiasoutheast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiasoutheast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southindia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southindia
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
[...]
