openapi: 3.0.1
info:
  description: Azure Application Insights client for Components.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/components_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-components_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Insights/components:
    get:
      description: Gets a list of all Application Insights components within a subscription.
      operationId: components_list
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentListResult'
          description: A list containing 0 or more Application Insights component
            definitions.
      x-ms-examples:
        ComponentsList.json:
          parameters:
            api-version: 2015-05-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                  kind: web
                  location: South Central US
                  name: my-component
                  properties:
                    AppId: 16526d1a-dfba-4362-a9e9-123456789abc
                    ApplicationId: my-component
                    Application_Type: web
                    ConnectionString: InstrumentationKey=dc5931c7-a7ad-4ad0-89d6-123456789abc
                    CreationDate: 2017-02-14T12:24:05.0041213+00:00
                    DisableIpMasking: false
                    Flow_Type: Bluefield
                    HockeyAppId: ""
                    HockeyAppToken: ""
                    ImmediatePurgeDataOn30Days: false
                    InstrumentationKey: dc5931c7-a7ad-4ad0-89d6-123456789abc
                    Request_Source: rest
                    RetentionInDays: 90
                    SamplingPercentage: 75
                    TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                    provisioningState: Succeeded
                  tags: ""
                  type: Microsoft.Insights/components
                - id: /subscriptions/subid/resourceGroups/my-other-resource-group/providers/Microsoft.Insights/components/my-other-component
                  kind: web
                  location: South Central US
                  name: my-other-component
                  properties:
                    AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                    ApplicationId: my-other-component
                    Application_Type: web
                    ConnectionString: InstrumentationKey=bc095013-3cf2-45ac-ab47-123456789abc
                    CreationDate: 2017-01-24T01:05:38.5934061+00:00
                    DisableIpMasking: false
                    Flow_Type: Bluefield
                    HockeyAppId: ""
                    HockeyAppToken: ""
                    ImmediatePurgeDataOn30Days: false
                    InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                    Request_Source: rest
                    RetentionInDays: 90
                    SamplingPercentage: 30
                    TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                    provisioningState: Succeeded
                  tags: ""
                  type: Microsoft.Insights/components
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components:
    get:
      description: Gets a list of Application Insights components within a resource
        group.
      operationId: components_list_by_resource_group
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentListResult'
          description: A list containing 0 or more Application Insights component
            definitions.
      x-ms-examples:
        ComponentListByResourceGroup:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                  kind: web
                  location: South Central US
                  name: my-component
                  properties:
                    AppId: 16526d1a-dfba-4362-a9e9-123456789abc
                    ApplicationId: my-component
                    Application_Type: web
                    ConnectionString: InstrumentationKey=dc5931c7-a7ad-4ad0-89d6-123456789abc
                    CreationDate: 2017-02-14T12:24:05.0041213+00:00
                    DisableIpMasking: false
                    Flow_Type: Bluefield
                    HockeyAppId: ""
                    HockeyAppToken: ""
                    ImmediatePurgeDataOn30Days: false
                    InstrumentationKey: dc5931c7-a7ad-4ad0-89d6-123456789abc
                    Request_Source: rest
                    RetentionInDays: 90
                    SamplingPercentage: 100
                    TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                    provisioningState: Succeeded
                  tags: ""
                  type: Microsoft.Insights/components
                - id: /subscriptions/subid/resourceGroups/my-other-resource-group/providers/Microsoft.Insights/components/my-other-component
                  kind: web
                  location: South Central US
                  name: my-other-component
                  properties:
                    AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                    ApplicationId: my-other-component
                    Application_Type: web
                    ConnectionString: InstrumentationKey=bc095013-3cf2-45ac-ab47-123456789abc
                    CreationDate: 2017-01-24T01:05:38.5934061+00:00
                    DisableIpMasking: false
                    Flow_Type: Bluefield
                    HockeyAppId: ""
                    HockeyAppToken: ""
                    ImmediatePurgeDataOn30Days: false
                    InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                    Request_Source: rest
                    RetentionInDays: 90
                    SamplingPercentage: 50
                    TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                    provisioningState: Succeeded
                  tags: ""
                  type: Microsoft.Insights/components
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}:
    delete:
      description: Deletes an Application Insights component.
      operationId: components_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Successful request when deleting an Application Insights component.
        "204":
          content: {}
          description: The specified component does not exist.
      x-ms-examples:
        ComponentsDelete:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Returns an Application Insights component.
      operationId: components_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponent'
          description: An Application Insights Component definition.
      x-ms-examples:
        ComponentGet:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  ConnectionString: InstrumentationKey=bc095013-3cf2-45ac-ab47-123456789abc
                  CreationDate: 2017-01-24T01:05:38.5934061+00:00
                  DisableIpMasking: false
                  Flow_Type: Bluefield
                  HockeyAppId: ""
                  HockeyAppToken: ""
                  ImmediatePurgeDataOn30Days: false
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  RetentionInDays: 90
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags: ""
                type: Microsoft.Insights/components
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Updates an existing component's tags. To update other fields use
        the CreateOrUpdate method.
      operationId: components_update_tags
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsResource'
        description: Updated tag information to set into the component instance.
        required: true
        x-body-name: ComponentTags
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponent'
          description: Updating the Application Insights component's tags was successful.
            Component tags are updated and returned with the rest of the Component's
            object properties.
      x-ms-examples:
        ComponentUpdateTagsOnly:
          parameters:
            ComponentTags:
              tags:
                ApplicationGatewayType: Internal-Only
                BillingEntity: Self
                Color: AzureBlue
                CustomField_01: Custom text in some random field named randomly
                NodeType: Edge
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  ConnectionString: InstrumentationKey=bc095013-3cf2-45ac-ab47-123456789abc
                  CreationDate: 2017-01-24T01:05:38.5934061+00:00
                  DisableIpMasking: false
                  Flow_Type: Bluefield
                  HockeyAppId: ""
                  HockeyAppToken: ""
                  ImmediatePurgeDataOn30Days: false
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  RetentionInDays: 90
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags:
                  ApplicationGatewayType: Internal-Only
                  BillingEntity: Self
                  Color: AzureBlue
                  CustomField_01: Custom text in some random field named randomly
                  NodeType: Edge
                type: Microsoft.Insights/components
      x-codegen-request-body-name: ComponentTags
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: "Creates (or updates) an Application Insights component. Note:\
        \ You cannot specify a different value for InstrumentationKey nor AppId in\
        \ the Put operation."
      operationId: components_create_or_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInsightsComponent'
        description: Properties that need to be specified to create an Application
          Insights component.
        required: true
        x-body-name: InsightProperties
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponent'
          description: Successful request when creating or updating an Application
            Insights component. The updated component is returned.
      x-ms-examples:
        ComponentCreate:
          parameters:
            InsightProperties:
              kind: web
              location: South Central US
              properties:
                Application_Type: web
                Flow_Type: Bluefield
                Request_Source: rest
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  ConnectionString: InstrumentationKey=bc095013-3cf2-45ac-ab47-123456789abc
                  CreationDate: 2017-01-24T01:05:38.5934061+00:00
                  DisableIpMasking: false
                  Flow_Type: Bluefield
                  HockeyAppId: ""
                  HockeyAppToken: ""
                  ImmediatePurgeDataOn30Days: false
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  RetentionInDays: 90
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags: ""
                type: Microsoft.Insights/components
        ComponentUpdate:
          parameters:
            InsightProperties:
              kind: web
              location: South Central US
              tags:
                ApplicationGatewayType: Internal-Only
                BillingEntity: Self
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  ConnectionString: InstrumentationKey=bc095013-3cf2-45ac-ab47-123456789abc
                  CreationDate: 2017-01-24T01:05:38.5934061+00:00
                  DisableIpMasking: false
                  Flow_Type: Bluefield
                  HockeyAppId: ""
                  HockeyAppToken: ""
                  ImmediatePurgeDataOn30Days: false
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  RetentionInDays: 90
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags:
                  ApplicationGatewayType: Internal-Only
                  BillingEntity: Self
                type: Microsoft.Insights/components
      x-codegen-request-body-name: InsightProperties
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/operations/{purgeId}
  : get:
      description: Get status for an ongoing purge operation.
      operationId: components_get_purge_status
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "In a purge status request, this is the Id of the operation the\
          \ status of which is returned."
        in: path
        name: purgeId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentPurgeStatusResponse'
          description: "Returns status of purge operation in body of response. e.g.:\
            \  running, completed."
      x-ms-examples:
        ComponentPurge:
          parameters:
            api-version: 2015-05-01
            purgeId: purge-970318e7-b859-4edb-8903-83b1b54d0b74
            resourceGroupName: OIAutoRest5123
            resourceName: aztest5048
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            "200":
              body:
                status: completed
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/purge:
    post:
      description: |-
        Purges data in an Application Insights component by a set of user-defined filters.

        In order to manage system resources, purge requests are throttled at 50 requests per hour. You should batch the execution of purge requests by sending a single command whose predicate includes all user identities that require purging. Use the in operator to specify multiple identities. You should run the query prior to using for a purge request to verify that the results are expected.
      operationId: components_purge
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentPurgeBody'
        description: Describes the body of a request to purge data in a single table
          of an Application Insights component
        required: true
        x-ms-parameter-location: method
        x-body-name: body
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentPurgeResponse'
          description: Accepted request for purging an Application Insights component.
      x-ms-examples:
        ComponentPurge:
          parameters:
            api-version: 2015-03-20
            body:
              filters:
              - column: TimeGenerated
                operator: '>'
                value: 2017-09-01T00:00:00
              table: Heartbeat
            resourceGroupName: OIAutoRest5123
            resourceName: aztest5048
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            "202":
              body:
                operationId: 7d7cf277-9113-4ab3-8359-d0364b74d01d
              headers:
                x-ms-status-location: https://management.azure.com/subscriptions/b96161de-b34a-480f-7343-59b099299283/resourceGroups/example/providers/microsoft.insights/components/test/operations/purge-970318e7-b859-4edb-8903-83b1b54d0b74?api-version=2015-05-01
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ComponentPurgeIdParameter:
      description: "In a purge status request, this is the Id of the operation the\
        \ status of which is returned."
      in: path
      name: purgeId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    ComponentPurgeParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ComponentPurgeBody'
      description: Describes the body of a request to purge data in a single table
        of an Application Insights component
      required: true
      x-ms-parameter-location: method
      x-body-name: body
  schemas:
    ApplicationInsightsComponent:
      allOf:
      - $ref: '#/components/schemas/ComponentsResource'
      description: An Application Insights component definition.
      example:
        kind: kind
        properties:
          CreationDate: 2000-01-23T04:56:07.000+00:00
          Application_Type: web
          DisableIpMasking: true
          SamplingPercentage: 6.027456183070403
          provisioningState: provisioningState
          HockeyAppId: HockeyAppId
          ImmediatePurgeDataOn30Days: true
          InstrumentationKey: InstrumentationKey
          RetentionInDays: 0
          TenantId: TenantId
          AppId: AppId
          Flow_Type: Bluefield
          Request_Source: rest
          ApplicationId: ApplicationId
          ConnectionString: ConnectionString
          HockeyAppToken: HockeyAppToken
      properties:
        kind:
          description: "The kind of application that this component refers to, used\
            \ to customize UI. This value is a freeform string, values should typically\
            \ be one of the following: web, ios, other, store, java, phone."
          title: kind
          type: string
        properties:
          $ref: '#/components/schemas/ApplicationInsightsComponentProperties'
      required:
      - kind
      title: ApplicationInsightsComponent
    ApplicationInsightsComponentListResult:
      description: Describes the list of Application Insights Resources.
      example:
        value:
        - kind: kind
          properties:
            CreationDate: 2000-01-23T04:56:07.000+00:00
            Application_Type: web
            DisableIpMasking: true
            SamplingPercentage: 6.027456183070403
            provisioningState: provisioningState
            HockeyAppId: HockeyAppId
            ImmediatePurgeDataOn30Days: true
            InstrumentationKey: InstrumentationKey
            RetentionInDays: 0
            TenantId: TenantId
            AppId: AppId
            Flow_Type: Bluefield
            Request_Source: rest
            ApplicationId: ApplicationId
            ConnectionString: ConnectionString
            HockeyAppToken: HockeyAppToken
        - kind: kind
          properties:
            CreationDate: 2000-01-23T04:56:07.000+00:00
            Application_Type: web
            DisableIpMasking: true
            SamplingPercentage: 6.027456183070403
            provisioningState: provisioningState
            HockeyAppId: HockeyAppId
            ImmediatePurgeDataOn30Days: true
            InstrumentationKey: InstrumentationKey
            RetentionInDays: 0
            TenantId: TenantId
            AppId: AppId
            Flow_Type: Bluefield
            Request_Source: rest
            ApplicationId: ApplicationId
            ConnectionString: ConnectionString
            HockeyAppToken: HockeyAppToken
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to get the next set of Application Insights component
            definitions if too many components where returned in the result set.
          title: nextLink
          type: string
        value:
          description: List of Application Insights component definitions.
          items:
            $ref: '#/components/schemas/ApplicationInsightsComponent'
          title: value
          type: array
      required:
      - value
      title: ApplicationInsightsComponentListResult
      type: object
    ApplicationInsightsComponentProperties:
      description: Properties that define an Application Insights component resource.
      example:
        CreationDate: 2000-01-23T04:56:07.000+00:00
        Application_Type: web
        DisableIpMasking: true
        SamplingPercentage: 6.027456183070403
        provisioningState: provisioningState
        HockeyAppId: HockeyAppId
        ImmediatePurgeDataOn30Days: true
        InstrumentationKey: InstrumentationKey
        RetentionInDays: 0
        TenantId: TenantId
        AppId: AppId
        Flow_Type: Bluefield
        Request_Source: rest
        ApplicationId: ApplicationId
        ConnectionString: ConnectionString
        HockeyAppToken: HockeyAppToken
      properties:
        AppId:
          description: Application Insights Unique ID for your Application.
          readOnly: true
          title: AppId
          type: string
        ApplicationId:
          description: The unique ID of your application. This field mirrors the 'Name'
            field and cannot be changed.
          readOnly: true
          title: ApplicationId
          type: string
        Application_Type:
          default: web
          description: Type of application being monitored.
          enum:
          - web
          - other
          title: Application_Type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApplicationType
          x-ms-mutability:
          - create
          - read
        ConnectionString:
          description: Application Insights component connection string.
          readOnly: true
          title: ConnectionString
          type: string
        CreationDate:
          description: "Creation Date for the Application Insights component, in ISO\
            \ 8601 format."
          format: date-time
          readOnly: true
          title: CreationDate
          type: string
        DisableIpMasking:
          description: Disable IP masking.
          title: DisableIpMasking
          type: boolean
        Flow_Type:
          default: Bluefield
          description: Used by the Application Insights system to determine what kind
            of flow this component was created by. This is to be set to 'Bluefield'
            when creating/updating a component via the REST API.
          enum:
          - Bluefield
          title: Flow_Type
          type: string
          x-ms-enum:
            modelAsString: true
            name: FlowType
        HockeyAppId:
          description: "The unique application ID created when a new application is\
            \ added to HockeyApp, used for communications with HockeyApp."
          title: HockeyAppId
          type: string
        HockeyAppToken:
          description: Token used to authenticate communications with between Application
            Insights and HockeyApp.
          readOnly: true
          title: HockeyAppToken
          type: string
        ImmediatePurgeDataOn30Days:
          description: Purge data immediately after 30 days.
          title: ImmediatePurgeDataOn30Days
          type: boolean
        InstrumentationKey:
          description: Application Insights Instrumentation key. A read-only value
            that applications can use to identify the destination for all telemetry
            sent to Azure Application Insights. This value will be supplied upon construction
            of each new Application Insights component.
          readOnly: true
          title: InstrumentationKey
          type: string
        Request_Source:
          default: rest
          description: Describes what tool created this Application Insights component.
            Customers using this API should set this to the default 'rest'.
          enum:
          - rest
          title: Request_Source
          type: string
          x-ms-enum:
            modelAsString: true
            name: RequestSource
        RetentionInDays:
          description: Retention period in days.
          title: RetentionInDays
          type: integer
        SamplingPercentage:
          description: Percentage of the data produced by the application being monitored
            that is being sampled for Application Insights telemetry.
          format: double
          title: SamplingPercentage
          type: number
        TenantId:
          description: Azure Tenant Id.
          readOnly: true
          title: TenantId
          type: string
        provisioningState:
          description: "Current state of this component: whether or not is has been\
            \ provisioned within the resource group it is defined. Users cannot change\
            \ this value but are able to read from it. Values will include Succeeded,\
            \ Deploying, Canceled, and Failed."
          readOnly: true
          title: provisioningState
          type: string
      required:
      - Application_Type
      title: ApplicationInsightsComponentProperties
      type: object
    ComponentPurgeBody:
      description: Describes the body of a purge request for an App Insights component
      example:
        filters:
        - column: column
          value: "{}"
          key: key
          operator: operator
        - column: column
          value: "{}"
          key: key
          operator: operator
        table: table
      properties:
        filters:
          description: The set of columns and filters (queries) to run over them to
            purge the resulting data.
          items:
            $ref: '#/components/schemas/ComponentPurgeBodyFilters'
          title: filters
          type: array
        table:
          description: Table from which to purge data.
          title: table
          type: string
      required:
      - filters
      - table
      title: ComponentPurgeBody
      type: object
    ComponentPurgeBodyFilters:
      description: User-defined filters to return data which will be purged from the
        table.
      example:
        column: column
        value: "{}"
        key: key
        operator: operator
      properties:
        column:
          description: The column of the table over which the given query should run
          title: column
          type: string
        key:
          description: "When filtering over custom dimensions, this key will be used\
            \ as the name of the custom dimension."
          title: key
          type: string
        operator:
          description: "A query operator to evaluate over the provided column and\
            \ value(s). Supported operators are ==, =~, in, in~, >, >=, <, <=, between,\
            \ and have the same behavior as they would in a KQL query."
          title: operator
          type: string
        value:
          description: "the value for the operator to function over. This can be a\
            \ number (e.g., > 100), a string (timestamp >= '2017-09-01') or array\
            \ of values."
          title: value
          type: object
      title: ComponentPurgeBodyFilters
      type: object
    ComponentPurgeResponse:
      description: Response containing operationId for a specific purge action.
      example:
        operationId: operationId
      properties:
        operationId:
          description: Id to use when querying for status for a particular purge operation.
          title: operationId
          type: string
      required:
      - operationId
      title: ComponentPurgeResponse
      type: object
    ComponentPurgeStatusResponse:
      description: Response containing status for a specific purge operation.
      example:
        status: pending
      properties:
        status:
          description: Status of the operation represented by the requested Id.
          enum:
          - pending
          - completed
          title: status
          type: string
          x-ms-enum:
            modelAsString: true
            name: PurgeState
      required:
      - status
      title: ComponentPurgeStatusResponse
      type: object
    ComponentsResource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        tags:
          description: Resource tags
          title: tags
          type: object
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: ComponentsResource
      type: object
      x-ms-azure-resource: true
    TagsResource:
      description: "A container holding only the Tags for a resource, allowing the\
        \ user to update the tags on a WebTest instance."
      example:
        tags: "{}"
      properties:
        tags:
          description: Resource tags
          title: tags
          type: object
      title: TagsResource
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
