openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on Quota entity associated\
    \ with your Azure API Management deployment. To configure call rate limit and\
    \ quota policies refer to [how to configure call rate limit and quota](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies)."
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimquotas.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimquotas
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/quotas/{quotaCounterKey}
  : get:
      description: Lists a collection of current quota counter periods associated
        with the counter-key configured in the policy on the specified service instance.
        The api does not support paging yet.
      externalDocs:
        description: Document describing how to configure the quota policies.
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies
      operationId: quota_by_counter_keys_list_by_service
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Quota counter key identifier.
        in: path
        name: quotaCounterKey
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaCounterCollection'
          description: Lists a collection of the quota counter values.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaByCounterKeys_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - QuotaByCounterKeys
      x-openapi-router-controller: openapi_server.controllers.quota_by_counter_keys_controller
    patch:
      description: Updates all the quota counter values specified with the existing
        quota counter key to a value in the specified service instance. This should
        be used for reset of the quota counter values.
      operationId: quota_by_counter_keys_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Quota counter key identifier.
        in: path
        name: quota_counter_key
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotaCounterValueContract'
        description: The value of the quota counter to be applied to all quota counter
          periods.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: All the quota counter periods were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaByCounterKeys_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - QuotaByCounterKeys
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.quota_by_counter_keys_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/quotas/{quotaCounterKey}/{quotaPeriodKey}
  : get:
      description: Gets the value of the quota counter associated with the counter-key
        in the policy for the specific period in service instance.
      externalDocs:
        description: Document describing how to configure the quota policies.
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies
      operationId: quota_by_period_keys_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Quota counter key identifier.
        in: path
        name: quota_counter_key
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Quota period key identifier.
        in: path
        name: quotaPeriodKey
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaCounterContract'
          description: The response body contains the Quota counter details for the
            specified period.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaByCounterKeys_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - QuotaByPeriodKeys
      x-openapi-router-controller: openapi_server.controllers.quota_by_period_keys_controller
    patch:
      description: Updates an existing quota counter value in the specified service
        instance.
      operationId: quota_by_period_keys_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Quota counter key identifier.
        in: path
        name: quota_counter_key
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Quota period key identifier.
        in: path
        name: quota_period_key
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotaCounterValueContract'
        description: The value of the Quota counter to be applied on the specified
          period.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The quota counter value was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaByCounterKeys_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - QuotaByPeriodKeys
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.quota_by_period_keys_controller
components:
  parameters:
    QuotaCounterKeyParameter:
      description: Quota counter key identifier.
      in: path
      name: quotaCounterKey
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    QuotaPeriodKeyParameter:
      description: Quota period key identifier.
      in: path
      name: quotaPeriodKey
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    QuotaCounterCollection:
      description: Paged Quota Counter list representation.
      example:
        count: 0
        value:
        - counterKey: counterKey
          periodStartTime: 2000-01-23T04:56:07.000+00:00
          periodEndTime: 2000-01-23T04:56:07.000+00:00
          periodKey: periodKey
        - counterKey: counterKey
          periodStartTime: 2000-01-23T04:56:07.000+00:00
          periodEndTime: 2000-01-23T04:56:07.000+00:00
          periodKey: periodKey
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          title: count
          type: integer
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Quota counter values.
          items:
            $ref: '#/components/schemas/QuotaCounterContract'
          title: value
          type: array
      title: QuotaCounterCollection
      type: object
    QuotaCounterContract:
      allOf:
      - $ref: '#/components/schemas/QuotaCounterValueContract'
      description: Quota counter details.
      example:
        counterKey: counterKey
        periodStartTime: 2000-01-23T04:56:07.000+00:00
        periodEndTime: 2000-01-23T04:56:07.000+00:00
        periodKey: periodKey
      properties:
        counterKey:
          description: The Key value of the Counter. Must not be empty.
          minLength: 1
          title: counterKey
          type: string
        periodEndTime:
          description: |
            The date of the end of Counter Period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: periodEndTime
          type: string
        periodKey:
          description: Identifier of the Period for which the counter was collected.
            Must not be empty.
          minLength: 1
          title: periodKey
          type: string
        periodStartTime:
          description: |
            The date of the start of Counter Period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: periodStartTime
          type: string
      required:
      - counterKey
      - periodEndTime
      - periodKey
      - periodStartTime
      title: QuotaCounterContract
    QuotaCounterValueContract:
      description: Quota counter value details.
      example:
        callsCount: 0
        kbTransferred: 6.027456183070403
      properties:
        callsCount:
          description: Number of times Counter was called.
          format: int32
          title: callsCount
          type: integer
        kbTransferred:
          description: Data Transferred in KiloBytes.
          format: double
          title: kbTransferred
          type: number
      title: QuotaCounterValueContract
      type: object
    QuotaByCounterKeys_ListByService_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: QuotaByCounterKeys_ListByService_default_response_details_inner
      type: object
    QuotaByCounterKeys_ListByService_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/QuotaByCounterKeys_ListByService_default_response_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: QuotaByCounterKeys_ListByService_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
