openapi: 3.0.1
info:
  title: MonitorManagementClient
  version: 2017-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettings_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-diagnosticsSettings_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /{resourceUri}/providers/microsoft.insights/diagnosticSettings:
    get:
      description: Gets the active diagnostic settings list for the specified resource.
      operationId: DiagnosticSettings_List
      parameters:
      - description: The identifier of the resource.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticSettingsResourceCollection'
          description: Successful request to get more information about diagnostic
            setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticSettings
      x-ms-examples:
        Gets the diagnostic setting:
          parameters:
            api-version: 2017-05-01-preview
            resourceUri: subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/mysetting
                  name: mysetting
                  properties:
                    eventHubAuthorizationRuleId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                    logs:
                    - category: WorkflowRuntime
                      enabled: true
                      retentionPolicy:
                        days: 0
                        enabled: false
                    metrics:
                    - category: WorkflowMetrics
                      enabled: true
                      retentionPolicy:
                        days: 0
                        enabled: false
                    storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                    workspaceId: ""
                  type: microsoft.logic/workflows
              headers: {}
      x-accepts:
      - application/json
  /{resourceUri}/providers/microsoft.insights/diagnosticSettings/{name}:
    delete:
      description: Deletes existing diagnostic settings for the specified resource.
      operationId: DiagnosticSettings_Delete
      parameters:
      - description: The identifier of the resource.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the diagnostic setting.
        in: path
        name: name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Successful request to remove a diagnostic setting
        "204":
          content: {}
          description: Successful request to remove a diagnostic setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticSettings
      x-ms-examples:
        Deletes the diagnostic setting:
          parameters:
            api-version: 2017-05-01-preview
            name: mysetting
            resourceUri: subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the active diagnostic settings for the specified resource.
      operationId: DiagnosticSettings_Get
      parameters:
      - description: The identifier of the resource.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the diagnostic setting.
        in: path
        name: name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticSettingsResource'
          description: Successful request to get more information about diagnostic
            setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticSettings
      x-ms-examples:
        Gets the diagnostic setting:
          parameters:
            api-version: 2017-05-01-preview
            name: mysetting
            resourceUri: subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6
          responses:
            "200":
              body:
                id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service
                name: mysetting
                properties:
                  eventHubAuthorizationRuleId: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                  logs:
                  - category: WorkflowRuntime
                    enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                  metrics:
                  - category: WorkflowMetrics
                    enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                  storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                  workspaceId: ""
                type: ""
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Creates or updates diagnostic settings for the specified resource.
      operationId: DiagnosticSettings_CreateOrUpdate
      parameters:
      - description: The identifier of the resource.
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the diagnostic setting.
        in: path
        name: name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticSettingsResource'
        description: Parameters supplied to the operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticSettingsResource'
          description: Successful request to create a diagnostic setting
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticSettings
      x-ms-examples:
        Creates or Updates the diagnostic setting:
          parameters:
            api-version: 2017-05-01-preview
            name: mysetting
            parameters:
              properties:
                eventHubAuthorizationRuleId: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                eventHubName: myeventhub
                logAnalyticsDestinationType: Dedicated
                logs:
                - category: WorkflowRuntime
                  enabled: true
                  retentionPolicy:
                    days: 0
                    enabled: false
                metrics:
                - category: WorkflowMetrics
                  enabled: true
                  retentionPolicy:
                    days: 0
                    enabled: false
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                workspaceId: ""
            resourceUri: subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6
          responses:
            "200":
              body:
                id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/mysetting
                name: mysetting
                properties:
                  eventHubAuthorizationRuleId: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/microsoft.eventhub/namespaces/mynamespace/eventhubs/myeventhub/authorizationrules/myrule
                  eventHubName: myeventhub
                  logAnalyticsDestinationType: Dedicated
                  logs:
                  - category: WorkflowRuntime
                    enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                  metrics:
                  - category: WorkflowMetrics
                    enabled: true
                    retentionPolicy:
                      days: 0
                      enabled: false
                  storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                  workspaceId: ""
                type: ""
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    NameParameter:
      description: The name of the diagnostic setting.
      in: path
      name: name
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceUriParameter:
      description: The identifier of the resource.
      in: path
      name: resourceUri
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    DiagnosticSettings:
      description: The diagnostic settings.
      example:
        serviceBusRuleId: serviceBusRuleId
        storageAccountId: storageAccountId
        eventHubAuthorizationRuleId: eventHubAuthorizationRuleId
        metrics:
        - timeGrain: timeGrain
          retentionPolicy:
            days: 0
            enabled: true
          category: category
          enabled: true
        - timeGrain: timeGrain
          retentionPolicy:
            days: 0
            enabled: true
          category: category
          enabled: true
        eventHubName: eventHubName
        logs:
        - retentionPolicy:
            days: 0
            enabled: true
          category: category
          enabled: true
        - retentionPolicy:
            days: 0
            enabled: true
          category: category
          enabled: true
        logAnalyticsDestinationType: logAnalyticsDestinationType
        workspaceId: workspaceId
      properties:
        eventHubAuthorizationRuleId:
          description: The resource Id for the event hub authorization rule.
          type: string
        eventHubName:
          description: "The name of the event hub. If none is specified, the default\
            \ event hub will be selected."
          type: string
        logAnalyticsDestinationType:
          description: "A string indicating whether the export to Log Analytics should\
            \ use the default destination type, i.e. AzureDiagnostics, or use a destination\
            \ type constructed as follows: <normalized service identity>_<normalized\
            \ category name>. Possible values are: Dedicated and null (null is default.)"
          type: string
        logs:
          description: The list of logs settings.
          items:
            $ref: '#/components/schemas/LogSettings'
          type: array
        metrics:
          description: The list of metric settings.
          items:
            $ref: '#/components/schemas/MetricSettings'
          type: array
        serviceBusRuleId:
          description: The service bus rule Id of the diagnostic setting. This is
            here to maintain backwards compatibility.
          type: string
        storageAccountId:
          description: The resource ID of the storage account to which you would like
            to send Diagnostic Logs.
          type: string
        workspaceId:
          description: "The full ARM resource ID of the Log Analytics workspace to\
            \ which you would like to send Diagnostic Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2"
          type: string
      type: object
    DiagnosticSettingsResource:
      allOf:
      - $ref: '#/components/schemas/ProxyOnlyResource'
      description: The diagnostic setting resource.
      example:
        properties:
          serviceBusRuleId: serviceBusRuleId
          storageAccountId: storageAccountId
          eventHubAuthorizationRuleId: eventHubAuthorizationRuleId
          metrics:
          - timeGrain: timeGrain
            retentionPolicy:
              days: 0
              enabled: true
            category: category
            enabled: true
          - timeGrain: timeGrain
            retentionPolicy:
              days: 0
              enabled: true
            category: category
            enabled: true
          eventHubName: eventHubName
          logs:
          - retentionPolicy:
              days: 0
              enabled: true
            category: category
            enabled: true
          - retentionPolicy:
              days: 0
              enabled: true
            category: category
            enabled: true
          logAnalyticsDestinationType: logAnalyticsDestinationType
          workspaceId: workspaceId
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticSettings'
    DiagnosticSettingsResourceCollection:
      description: Represents a collection of alert rule resources.
      example:
        value:
        - properties:
            serviceBusRuleId: serviceBusRuleId
            storageAccountId: storageAccountId
            eventHubAuthorizationRuleId: eventHubAuthorizationRuleId
            metrics:
            - timeGrain: timeGrain
              retentionPolicy:
                days: 0
                enabled: true
              category: category
              enabled: true
            - timeGrain: timeGrain
              retentionPolicy:
                days: 0
                enabled: true
              category: category
              enabled: true
            eventHubName: eventHubName
            logs:
            - retentionPolicy:
                days: 0
                enabled: true
              category: category
              enabled: true
            - retentionPolicy:
                days: 0
                enabled: true
              category: category
              enabled: true
            logAnalyticsDestinationType: logAnalyticsDestinationType
            workspaceId: workspaceId
        - properties:
            serviceBusRuleId: serviceBusRuleId
            storageAccountId: storageAccountId
            eventHubAuthorizationRuleId: eventHubAuthorizationRuleId
            metrics:
            - timeGrain: timeGrain
              retentionPolicy:
                days: 0
                enabled: true
              category: category
              enabled: true
            - timeGrain: timeGrain
              retentionPolicy:
                days: 0
                enabled: true
              category: category
              enabled: true
            eventHubName: eventHubName
            logs:
            - retentionPolicy:
                days: 0
                enabled: true
              category: category
              enabled: true
            - retentionPolicy:
                days: 0
                enabled: true
              category: category
              enabled: true
            logAnalyticsDestinationType: logAnalyticsDestinationType
            workspaceId: workspaceId
      properties:
        value:
          description: The collection of diagnostic settings resources;.
          items:
            $ref: '#/components/schemas/DiagnosticSettingsResource'
          type: array
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    LogSettings:
      description: Part of MultiTenantDiagnosticSettings. Specifies the settings for
        a particular log.
      example:
        retentionPolicy:
          days: 0
          enabled: true
        category: category
        enabled: true
      properties:
        category:
          description: "Name of a Diagnostic Log category for a resource type this\
            \ setting is applied to. To obtain the list of Diagnostic Log categories\
            \ for a resource, first perform a GET diagnostic settings operation."
          type: string
        enabled:
          description: a value indicating whether this log is enabled.
          type: boolean
        retentionPolicy:
          $ref: '#/components/schemas/RetentionPolicy'
      required:
      - enabled
      type: object
    MetricSettings:
      description: Part of MultiTenantDiagnosticSettings. Specifies the settings for
        a particular metric.
      example:
        timeGrain: timeGrain
        retentionPolicy:
          days: 0
          enabled: true
        category: category
        enabled: true
      properties:
        category:
          description: "Name of a Diagnostic Metric category for a resource type this\
            \ setting is applied to. To obtain the list of Diagnostic metric categories\
            \ for a resource, first perform a GET diagnostic settings operation."
          type: string
        enabled:
          description: a value indicating whether this category is enabled.
          type: boolean
        retentionPolicy:
          $ref: '#/components/schemas/RetentionPolicy'
        timeGrain:
          description: the timegrain of the metric in ISO8601 format.
          format: duration
          type: string
      required:
      - enabled
      type: object
    ProxyOnlyResource:
      description: A proxy only azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          type: string
        name:
          description: Azure resource name
          readOnly: true
          type: string
        type:
          description: Azure resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    RetentionPolicy:
      description: Specifies the retention policy for the log.
      example:
        days: 0
        enabled: true
      properties:
        days:
          description: the number of days for the retention in days. A value of 0
            will retain the events indefinitely.
          format: int32
          minimum: 0
          type: integer
        enabled:
          description: a value indicating whether the retention policy is enabled.
          type: boolean
      required:
      - days
      - enabled
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

