openapi: 3.0.0
info:
  contact:
    name: Twitter Developers
    url: https://developer.twitter.com/
    x-twitter: twitter
  description: Twitter API v2 available endpoints
  license:
    name: Twitter Developer Agreement and Policy
    url: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  termsOfService: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  title: Twitter API v2
  version: "2.62"
  x-apisguru-categories:
  - social
  x-logo:
    url: https://twitter.com/twitter/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://api.twitter.com/2/openapi.json
    version: "3.0"
  x-providerName: twitter.com
  x-serviceName: current
  x-tags:
  - pii
servers:
- description: Twitter API
  url: https://api.twitter.com
tags:
- description: "Endpoints related to retrieving, managing bookmarks of a user"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/bookmarks
  name: Bookmarks
- description: Endpoints related to keeping Twitter data in your systems compliant
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-tweet/introduction
  name: Compliance
- description: "Endpoints related to retrieving, managing Direct Messages"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/direct-messages
  name: Direct Messages
- description: Miscellaneous endpoints for general API functionality
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api
  name: General
- description: "Endpoints related to retrieving, managing Lists"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/lists
  name: Lists
- description: "Endpoints related to retrieving, managing Spaces"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/spaces
  name: Spaces
- description: "Endpoints related to retrieving, searching, and modifying Tweets"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup
  name: Tweets
- description: "Endpoints related to retrieving, managing relationships of Users"
  externalDocs:
    description: Find out more
    url: https://developer.twitter.com/en/docs/twitter-api/users/lookup
  name: Users
paths:
  /2/compliance/jobs:
    get:
      description: Returns recent Compliance Jobs for a given job type and optional
        job status
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/get-compliance-jobs
      operationId: list_batch_compliance_jobs
      parameters:
      - description: Type of Compliance Job to list.
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - tweets
          - users
          type: string
        style: form
      - description: Status of Compliance Job to list.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - created
          - in_progress
          - failed
          - complete
          type: string
        style: form
      - description: A comma separated list of ComplianceJob fields to display.
        explode: false
        in: query
        name: compliance_job.fields
        required: false
        schema:
          description: The fields available for a ComplianceJob object.
          example:
          - created_at
          - download_expires_at
          - download_url
          - id
          - name
          - resumable
          - status
          - type
          - upload_expires_at
          - upload_url
          items:
            enum:
            - created_at
            - download_expires_at
            - download_url
            - id
            - name
            - resumable
            - status
            - type
            - upload_expires_at
            - upload_url
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ComplianceJobsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: List Compliance Jobs
      tags:
      - Compliance
      x-openapi-router-controller: openapi_server.controllers.compliance_controller
    post:
      description: Creates a compliance for the given job type
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/post-compliance-jobs
      operationId: create_batch_compliance_job
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComplianceJobRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateComplianceJobResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: Create compliance job
      tags:
      - Compliance
      x-openapi-router-controller: openapi_server.controllers.compliance_controller
      x-codegen-request-body-name: body
  /2/compliance/jobs/{id}:
    get:
      description: Returns a single Compliance Job by ID
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/get-compliance-jobs-id
      operationId: get_batch_compliance_job
      parameters:
      - description: The ID of the Compliance Job to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/JobId'
        style: simple
      - description: A comma separated list of ComplianceJob fields to display.
        explode: false
        in: query
        name: compliance_job.fields
        required: false
        schema:
          description: The fields available for a ComplianceJob object.
          example:
          - created_at
          - download_expires_at
          - download_url
          - id
          - name
          - resumable
          - status
          - type
          - upload_expires_at
          - upload_url
          items:
            enum:
            - created_at
            - download_expires_at
            - download_url
            - id
            - name
            - resumable
            - status
            - type
            - upload_expires_at
            - upload_url
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ComplianceJobsIdResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      summary: Get Compliance Job
      tags:
      - Compliance
      x-openapi-router-controller: openapi_server.controllers.compliance_controller
  /2/dm_conversations:
    post:
      description: Creates a new DM Conversation.
      operationId: dm_conversation_id_create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDmConversationRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDmEventResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - dm.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Create a new DM Conversation
      tags:
      - Direct Messages
      x-openapi-router-controller: openapi_server.controllers.direct_messages_controller
      x-codegen-request-body-name: body
  /2/dm_conversations/with/{participant_id}/dm_events:
    get:
      description: Returns DM Events for a DM Conversation
      operationId: get_dm_conversations_with_participant_id_dm_events
      parameters:
      - description: The ID of the participant user for the One to One DM conversation.
        explode: false
        in: path
        name: participant_id
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      - description: The maximum number of results.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken32'
        style: form
      - description: The set of event_types to include in the results.
        explode: false
        in: query
        name: event_types
        required: false
        schema:
          default:
          - MessageCreate
          - ParticipantsLeave
          - ParticipantsJoin
          example:
          - MessageCreate
          - ParticipantsLeave
          items:
            enum:
            - MessageCreate
            - ParticipantsJoin
            - ParticipantsLeave
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of DmEvent fields to display.
        explode: false
        in: query
        name: dm_event.fields
        required: false
        schema:
          description: The fields available for a DmEvent object.
          example:
          - attachments
          - created_at
          - dm_conversation_id
          - event_type
          - id
          - participant_ids
          - referenced_tweets
          - sender_id
          - text
          items:
            enum:
            - attachments
            - created_at
            - dm_conversation_id
            - event_type
            - id
            - participant_ids
            - referenced_tweets
            - sender_id
            - text
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [DmEvent](#DmEvent)\
            \ object. If the field has an ID, it can be expanded into a full object."
          example:
          - attachments.media_keys
          - participant_ids
          - referenced_tweets.id
          - sender_id
          items:
            enum:
            - attachments.media_keys
            - participant_ids
            - referenced_tweets.id
            - sender_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The fields available for a Media object.
          example:
          - alt_text
          - duration_ms
          - height
          - media_key
          - non_public_metrics
          - organic_metrics
          - preview_image_url
          - promoted_metrics
          - public_metrics
          - type
          - url
          - variants
          - width
          items:
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2DmConversationsWithParticipantIdDmEventsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - dm.read
        - tweet.read
        - users.read
      - UserToken: []
      summary: Get DM Events for a DM Conversation
      tags:
      - Direct Messages
      x-openapi-router-controller: openapi_server.controllers.direct_messages_controller
  /2/dm_conversations/with/{participant_id}/messages:
    post:
      description: Creates a new message for a DM Conversation with a participant
        user by ID
      operationId: dm_conversation_with_user_event_id_create
      parameters:
      - description: The ID of the recipient user that will receive the DM.
        explode: false
        in: path
        name: participant_id
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDmEventResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - dm.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Send a new message to a user
      tags:
      - Direct Messages
      x-openapi-router-controller: openapi_server.controllers.direct_messages_controller
      x-codegen-request-body-name: body
  /2/dm_conversations/{dm_conversation_id}/messages:
    post:
      description: Creates a new message for a DM Conversation specified by DM Conversation
        ID
      operationId: dm_conversation_by_id_event_id_create
      parameters:
      - description: The DM Conversation ID.
        explode: false
        in: path
        name: dm_conversation_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDmEventResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - dm.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Send a new message to a DM Conversation
      tags:
      - Direct Messages
      x-openapi-router-controller: openapi_server.controllers.direct_messages_controller
      x-codegen-request-body-name: body
  /2/dm_conversations/{id}/dm_events:
    get:
      description: Returns DM Events for a DM Conversation
      operationId: get_dm_conversations_id_dm_events
      parameters:
      - description: The DM Conversation ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/DmConversationId'
        style: simple
      - description: The maximum number of results.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken32'
        style: form
      - description: The set of event_types to include in the results.
        explode: false
        in: query
        name: event_types
        required: false
        schema:
          default:
          - MessageCreate
          - ParticipantsLeave
          - ParticipantsJoin
          example:
          - MessageCreate
          - ParticipantsLeave
          items:
            enum:
            - MessageCreate
            - ParticipantsJoin
            - ParticipantsLeave
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of DmEvent fields to display.
        explode: false
        in: query
        name: dm_event.fields
        required: false
        schema:
          description: The fields available for a DmEvent object.
          example:
          - attachments
          - created_at
          - dm_conversation_id
          - event_type
          - id
          - participant_ids
          - referenced_tweets
          - sender_id
          - text
          items:
            enum:
            - attachments
            - created_at
            - dm_conversation_id
            - event_type
            - id
            - participant_ids
            - referenced_tweets
            - sender_id
            - text
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [DmEvent](#DmEvent)\
            \ object. If the field has an ID, it can be expanded into a full object."
          example:
          - attachments.media_keys
          - participant_ids
          - referenced_tweets.id
          - sender_id
          items:
            enum:
            - attachments.media_keys
            - participant_ids
            - referenced_tweets.id
            - sender_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The fields available for a Media object.
          example:
          - alt_text
          - duration_ms
          - height
          - media_key
          - non_public_metrics
          - organic_metrics
          - preview_image_url
          - promoted_metrics
          - public_metrics
          - type
          - url
          - variants
          - width
          items:
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2DmConversationsIdDmEventsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - dm.read
        - tweet.read
        - users.read
      - UserToken: []
      summary: Get DM Events for a DM Conversation
      tags:
      - Direct Messages
      x-openapi-router-controller: openapi_server.controllers.direct_messages_controller
  /2/dm_events:
    get:
      description: Returns recent DM Events across DM conversations
      operationId: get_dm_events
      parameters:
      - description: The maximum number of results.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken32'
        style: form
      - description: The set of event_types to include in the results.
        explode: false
        in: query
        name: event_types
        required: false
        schema:
          default:
          - MessageCreate
          - ParticipantsLeave
          - ParticipantsJoin
          example:
          - MessageCreate
          - ParticipantsLeave
          items:
            enum:
            - MessageCreate
            - ParticipantsJoin
            - ParticipantsLeave
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of DmEvent fields to display.
        explode: false
        in: query
        name: dm_event.fields
        required: false
        schema:
          description: The fields available for a DmEvent object.
          example:
          - attachments
          - created_at
          - dm_conversation_id
          - event_type
          - id
          - participant_ids
          - referenced_tweets
          - sender_id
          - text
          items:
            enum:
            - attachments
            - created_at
            - dm_conversation_id
            - event_type
            - id
            - participant_ids
            - referenced_tweets
            - sender_id
            - text
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [DmEvent](#DmEvent)\
            \ object. If the field has an ID, it can be expanded into a full object."
          example:
          - attachments.media_keys
          - participant_ids
          - referenced_tweets.id
          - sender_id
          items:
            enum:
            - attachments.media_keys
            - participant_ids
            - referenced_tweets.id
            - sender_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The fields available for a Media object.
          example:
          - alt_text
          - duration_ms
          - height
          - media_key
          - non_public_metrics
          - organic_metrics
          - preview_image_url
          - promoted_metrics
          - public_metrics
          - type
          - url
          - variants
          - width
          items:
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2DmEventsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - dm.read
        - tweet.read
        - users.read
      - UserToken: []
      summary: Get recent DM Events
      tags:
      - Direct Messages
      x-openapi-router-controller: openapi_server.controllers.direct_messages_controller
  /2/lists:
    post:
      description: Creates a new List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/post-lists
      operationId: list_id_create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCreateRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCreateResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - list.read
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Create List
      tags:
      - Lists
      x-openapi-router-controller: openapi_server.controllers.lists_controller
      x-codegen-request-body-name: body
  /2/lists/{id}:
    delete:
      description: Delete a List that you own.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/delete-lists-id
      operationId: list_id_delete
      parameters:
      - description: The ID of the List to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeleteResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Delete List
      tags:
      - Lists
      x-openapi-router-controller: openapi_server.controllers.lists_controller
    get:
      description: Returns a List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-lookup/api-reference/get-lists-id
      operationId: list_id_get
      parameters:
      - description: The ID of the List.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - description: A comma separated list of List fields to display.
        explode: false
        in: query
        name: list.fields
        required: false
        schema:
          description: The fields available for a List object.
          example:
          - created_at
          - description
          - follower_count
          - id
          - member_count
          - name
          - owner_id
          - private
          items:
            enum:
            - created_at
            - description
            - follower_count
            - id
            - member_count
            - name
            - owner_id
            - private
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [List](#List) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - owner_id
          items:
            enum:
            - owner_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ListsIdResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      summary: List lookup by List ID.
      tags:
      - Lists
      x-openapi-router-controller: openapi_server.controllers.lists_controller
    put:
      description: Update a List that you own.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/put-lists-id
      operationId: list_id_update
      parameters:
      - description: The ID of the List to modify.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListUpdateRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUpdateResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Update List.
      tags:
      - Lists
      x-openapi-router-controller: openapi_server.controllers.lists_controller
      x-codegen-request-body-name: body
  /2/lists/{id}/followers:
    get:
      description: Returns a list of Users that follow a List by the provided List
        ID
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/get-users-id-followers
      operationId: list_get_followers
      parameters:
      - description: The ID of the List.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - description: The maximum number of results.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationTokenLong'
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [User](#User) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ListsIdFollowersResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      summary: Returns User objects that follow a List by the provided List ID
      tags:
      - Users
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /2/lists/{id}/members:
    get:
      description: Returns a list of Users that are members of a List by the provided
        List ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/get-users-id-list_memberships
      operationId: list_get_members
      parameters:
      - description: The ID of the List.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - description: The maximum number of results.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationTokenLong'
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [User](#User) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ListsIdMembersResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      summary: Returns User objects that are members of a List by the provided List
        ID.
      tags:
      - Users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    post:
      description: Causes a User to become a member of a List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/post-lists-id-members
      operationId: list_add_member
      parameters:
      - description: The ID of the List for which to add a member.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAddUserRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMutateResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Add a List member
      tags:
      - Lists
      x-openapi-router-controller: openapi_server.controllers.lists_controller
      x-codegen-request-body-name: body
  /2/lists/{id}/members/{user_id}:
    delete:
      description: Causes a User to be removed from the members of a List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/delete-lists-id-members-user_id
      operationId: list_remove_member
      parameters:
      - description: The ID of the List to remove a member.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - description: The ID of User that will be removed from the List.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMutateResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - list.write
        - tweet.read
        - users.read
      - UserToken: []
      summary: Remove a List member
      tags:
      - Lists
      x-openapi-router-controller: openapi_server.controllers.lists_controller
  /2/lists/{id}/tweets:
    get:
      description: Returns a list of Tweets associated with the provided List ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-tweets/api-reference/get-lists-id-tweets
      operationId: lists_id_tweets
      parameters:
      - description: The ID of the List.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/ListId'
        style: simple
      - description: The maximum number of results.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: This parameter is used to get the next 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken36'
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Tweet](#Tweet) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - attachments.media_keys
          - attachments.poll_ids
          - author_id
          - edit_history_tweet_ids
          - entities.mentions.username
          - geo.place_id
          - in_reply_to_user_id
          - referenced_tweets.id
          - referenced_tweets.id.author_id
          items:
            enum:
            - attachments.media_keys
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - referenced_tweets.id
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The fields available for a Media object.
          example:
          - alt_text
          - duration_ms
          - height
          - media_key
          - non_public_metrics
          - organic_metrics
          - preview_image_url
          - promoted_metrics
          - public_metrics
          - type
          - url
          - variants
          - width
          items:
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The fields available for a Poll object.
          example:
          - duration_minutes
          - end_datetime
          - id
          - options
          - voting_status
          items:
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The fields available for a Place object.
          example:
          - contained_within
          - country
          - country_code
          - full_name
          - geo
          - id
          - name
          - place_type
          items:
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2ListsIdTweetsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - list.read
        - tweet.read
        - users.read
      - UserToken: []
      summary: List Tweets timeline by List ID.
      tags:
      - Tweets
      x-openapi-router-controller: openapi_server.controllers.tweets_controller
  /2/openapi.json:
    get:
      description: Full OpenAPI Specification in JSON format. (See https://github.com/OAI/OpenAPI-Specification/blob/master/README.md)
      operationId: get_open_api_spec
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: The request was successful
      summary: Returns the OpenAPI Specification document.
      tags:
      - General
      x-openapi-router-controller: openapi_server.controllers.general_controller
  /2/spaces:
    get:
      description: Returns a variety of information about the Spaces specified by
        the requested IDs
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces
      operationId: find_spaces_by_ids
      parameters:
      - description: The list of Space IDs to return.
        explode: true
        in: query
        name: ids
        required: true
        schema:
          items:
            description: The unique identifier of this Space.
            example: 1SLjjRYNejbKM
            pattern: "^[a-zA-Z0-9]{1,13}$"
            type: string
          maxItems: 100
          minItems: 1
          type: array
        style: form
      - description: A comma separated list of Space fields to display.
        explode: false
        in: query
        name: space.fields
        required: false
        schema:
          description: The fields available for a Space object.
          example:
          - created_at
          - creator_id
          - ended_at
          - host_ids
          - id
          - invited_user_ids
          - is_ticketed
          - lang
          - participant_count
          - scheduled_start
          - speaker_ids
          - started_at
          - state
          - subscriber_count
          - title
          - topic_ids
          - updated_at
          items:
            enum:
            - created_at
            - creator_id
            - ended_at
            - host_ids
            - id
            - invited_user_ids
            - is_ticketed
            - lang
            - participant_count
            - scheduled_start
            - speaker_ids
            - started_at
            - state
            - subscriber_count
            - title
            - topic_ids
            - updated_at
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Space](#Space) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - creator_id
          - host_ids
          - invited_user_ids
          - speaker_ids
          - topic_ids
          items:
            enum:
            - creator_id
            - host_ids
            - invited_user_ids
            - speaker_ids
            - topic_ids
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Topic fields to display.
        explode: false
        in: query
        name: topic.fields
        required: false
        schema:
          description: The fields available for a Topic object.
          example:
          - description
          - id
          - name
          items:
            enum:
            - description
            - id
            - name
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Space lookup up Space IDs
      tags:
      - Spaces
      x-openapi-router-controller: openapi_server.controllers.spaces_controller
  /2/spaces/by/creator_ids:
    get:
      description: Returns a variety of information about the Spaces created by the
        provided User IDs
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-by-creator-ids
      operationId: find_spaces_by_creator_ids
      parameters:
      - description: The IDs of Users to search through.
        explode: true
        in: query
        name: user_ids
        required: true
        schema:
          items:
            $ref: '#/components/schemas/UserId'
          maxItems: 100
          minItems: 1
          type: array
        style: form
      - description: A comma separated list of Space fields to display.
        explode: false
        in: query
        name: space.fields
        required: false
        schema:
          description: The fields available for a Space object.
          example:
          - created_at
          - creator_id
          - ended_at
          - host_ids
          - id
          - invited_user_ids
          - is_ticketed
          - lang
          - participant_count
          - scheduled_start
          - speaker_ids
          - started_at
          - state
          - subscriber_count
          - title
          - topic_ids
          - updated_at
          items:
            enum:
            - created_at
            - creator_id
            - ended_at
            - host_ids
            - id
            - invited_user_ids
            - is_ticketed
            - lang
            - participant_count
            - scheduled_start
            - speaker_ids
            - started_at
            - state
            - subscriber_count
            - title
            - topic_ids
            - updated_at
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Space](#Space) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - creator_id
          - host_ids
          - invited_user_ids
          - speaker_ids
          - topic_ids
          items:
            enum:
            - creator_id
            - host_ids
            - invited_user_ids
            - speaker_ids
            - topic_ids
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Topic fields to display.
        explode: false
        in: query
        name: topic.fields
        required: false
        schema:
          description: The fields available for a Topic object.
          example:
          - description
          - id
          - name
          items:
            enum:
            - description
            - id
            - name
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesByCreatorIdsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Space lookup by their creators
      tags:
      - Spaces
      x-openapi-router-controller: openapi_server.controllers.spaces_controller
  /2/spaces/search:
    get:
      description: Returns Spaces that match the provided query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/search/api-reference/get-spaces-search
      operationId: search_spaces
      parameters:
      - description: The search query.
        example: crypto
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: crypto
          maxLength: 2048
          minLength: 1
          type: string
        style: form
      - description: The state of Spaces to search for.
        explode: true
        in: query
        name: state
        required: false
        schema:
          default: all
          enum:
          - live
          - scheduled
          - all
          type: string
        style: form
      - description: The number of results to return.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A comma separated list of Space fields to display.
        explode: false
        in: query
        name: space.fields
        required: false
        schema:
          description: The fields available for a Space object.
          example:
          - created_at
          - creator_id
          - ended_at
          - host_ids
          - id
          - invited_user_ids
          - is_ticketed
          - lang
          - participant_count
          - scheduled_start
          - speaker_ids
          - started_at
          - state
          - subscriber_count
          - title
          - topic_ids
          - updated_at
          items:
            enum:
            - created_at
            - creator_id
            - ended_at
            - host_ids
            - id
            - invited_user_ids
            - is_ticketed
            - lang
            - participant_count
            - scheduled_start
            - speaker_ids
            - started_at
            - state
            - subscriber_count
            - title
            - topic_ids
            - updated_at
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Space](#Space) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - creator_id
          - host_ids
          - invited_user_ids
          - speaker_ids
          - topic_ids
          items:
            enum:
            - creator_id
            - host_ids
            - invited_user_ids
            - speaker_ids
            - topic_ids
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Topic fields to display.
        explode: false
        in: query
        name: topic.fields
        required: false
        schema:
          description: The fields available for a Topic object.
          example:
          - description
          - id
          - name
          items:
            enum:
            - description
            - id
            - name
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesSearchResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Search for Spaces
      tags:
      - Spaces
      x-openapi-router-controller: openapi_server.controllers.spaces_controller
  /2/spaces/{id}:
    get:
      description: Returns a variety of information about the Space specified by the
        requested ID
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id
      operationId: find_space_by_id
      parameters:
      - description: The ID of the Space to be retrieved.
        example: 1YqKDqWqdPLsV
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of this Space.
          example: 1SLjjRYNejbKM
          pattern: "^[a-zA-Z0-9]{1,13}$"
          type: string
        style: simple
      - description: A comma separated list of Space fields to display.
        explode: false
        in: query
        name: space.fields
        required: false
        schema:
          description: The fields available for a Space object.
          example:
          - created_at
          - creator_id
          - ended_at
          - host_ids
          - id
          - invited_user_ids
          - is_ticketed
          - lang
          - participant_count
          - scheduled_start
          - speaker_ids
          - started_at
          - state
          - subscriber_count
          - title
          - topic_ids
          - updated_at
          items:
            enum:
            - created_at
            - creator_id
            - ended_at
            - host_ids
            - id
            - invited_user_ids
            - is_ticketed
            - lang
            - participant_count
            - scheduled_start
            - speaker_ids
            - started_at
            - state
            - subscriber_count
            - title
            - topic_ids
            - updated_at
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Space](#Space) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - creator_id
          - host_ids
          - invited_user_ids
          - speaker_ids
          - topic_ids
          items:
            enum:
            - creator_id
            - host_ids
            - invited_user_ids
            - speaker_ids
            - topic_ids
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Topic fields to display.
        explode: false
        in: query
        name: topic.fields
        required: false
        schema:
          description: The fields available for a Topic object.
          example:
          - description
          - id
          - name
          items:
            enum:
            - description
            - id
            - name
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesIdResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Space lookup by Space ID
      tags:
      - Spaces
      x-openapi-router-controller: openapi_server.controllers.spaces_controller
  /2/spaces/{id}/buyers:
    get:
      description: Retrieves the list of Users who purchased a ticket to the given
        space
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id-buyers
      operationId: space_buyers
      parameters:
      - description: The ID of the Space to be retrieved.
        example: 1YqKDqWqdPLsV
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of this Space.
          example: 1SLjjRYNejbKM
          pattern: "^[a-zA-Z0-9]{1,13}$"
          type: string
        style: simple
      - description: This parameter is used to get a specified 'page' of results.
        explode: true
        in: query
        name: pagination_token
        required: false
        schema:
          $ref: '#/components/schemas/PaginationToken32'
        style: form
      - description: The maximum number of results.
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [User](#User) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - pinned_tweet_id
          items:
            enum:
            - pinned_tweet_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesIdBuyersResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Retrieve the list of Users who purchased a ticket to the given space
      tags:
      - Spaces
      - Tweets
      x-openapi-router-controller: openapi_server.controllers.spaces_controller
  /2/spaces/{id}/tweets:
    get:
      description: Retrieves Tweets shared in the specified Space.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id-tweets
      operationId: space_tweets
      parameters:
      - description: The ID of the Space to be retrieved.
        example: 1YqKDqWqdPLsV
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of this Space.
          example: 1SLjjRYNejbKM
          pattern: "^[a-zA-Z0-9]{1,13}$"
          type: string
        style: simple
      - description: "The number of Tweets to fetch from the provided space. If not\
          \ provided, the value will default to the maximum of 100."
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          default: 100
          example: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A comma separated list of Tweet fields to display.
        explode: false
        in: query
        name: tweet.fields
        required: false
        schema:
          description: The fields available for a Tweet object.
          example:
          - attachments
          - author_id
          - context_annotations
          - conversation_id
          - created_at
          - edit_controls
          - edit_history_tweet_ids
          - entities
          - geo
          - id
          - in_reply_to_user_id
          - lang
          - non_public_metrics
          - organic_metrics
          - possibly_sensitive
          - promoted_metrics
          - public_metrics
          - referenced_tweets
          - reply_settings
          - source
          - text
          - withheld
          items:
            enum:
            - attachments
            - author_id
            - context_annotations
            - conversation_id
            - created_at
            - edit_controls
            - edit_history_tweet_ids
            - entities
            - geo
            - id
            - in_reply_to_user_id
            - lang
            - non_public_metrics
            - organic_metrics
            - possibly_sensitive
            - promoted_metrics
            - public_metrics
            - referenced_tweets
            - reply_settings
            - source
            - text
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of fields to expand.
        explode: false
        in: query
        name: expansions
        required: false
        schema:
          description: "The list of fields you can expand for a [Tweet](#Tweet) object.\
            \ If the field has an ID, it can be expanded into a full object."
          example:
          - attachments.media_keys
          - attachments.poll_ids
          - author_id
          - edit_history_tweet_ids
          - entities.mentions.username
          - geo.place_id
          - in_reply_to_user_id
          - referenced_tweets.id
          - referenced_tweets.id.author_id
          items:
            enum:
            - attachments.media_keys
            - attachments.poll_ids
            - author_id
            - edit_history_tweet_ids
            - entities.mentions.username
            - geo.place_id
            - in_reply_to_user_id
            - referenced_tweets.id
            - referenced_tweets.id.author_id
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Media fields to display.
        explode: false
        in: query
        name: media.fields
        required: false
        schema:
          description: The fields available for a Media object.
          example:
          - alt_text
          - duration_ms
          - height
          - media_key
          - non_public_metrics
          - organic_metrics
          - preview_image_url
          - promoted_metrics
          - public_metrics
          - type
          - url
          - variants
          - width
          items:
            enum:
            - alt_text
            - duration_ms
            - height
            - media_key
            - non_public_metrics
            - organic_metrics
            - preview_image_url
            - promoted_metrics
            - public_metrics
            - type
            - url
            - variants
            - width
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Poll fields to display.
        explode: false
        in: query
        name: poll.fields
        required: false
        schema:
          description: The fields available for a Poll object.
          example:
          - duration_minutes
          - end_datetime
          - id
          - options
          - voting_status
          items:
            enum:
            - duration_minutes
            - end_datetime
            - id
            - options
            - voting_status
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of User fields to display.
        explode: false
        in: query
        name: user.fields
        required: false
        schema:
          description: The fields available for a User object.
          example:
          - created_at
          - description
          - entities
          - id
          - location
          - name
          - pinned_tweet_id
          - profile_image_url
          - protected
          - public_metrics
          - url
          - username
          - verified
          - verified_type
          - withheld
          items:
            enum:
            - created_at
            - description
            - entities
            - id
            - location
            - name
            - pinned_tweet_id
            - profile_image_url
            - protected
            - public_metrics
            - url
            - username
            - verified
            - verified_type
            - withheld
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: A comma separated list of Place fields to display.
        explode: false
        in: query
        name: place.fields
        required: false
        schema:
          description: The fields available for a Place object.
          example:
          - contained_within
          - country
          - country_code
          - full_name
          - geo
          - id
          - name
          - place_type
          items:
            enum:
            - contained_within
            - country
            - country_code
            - full_name
            - geo
            - id
            - name
            - place_type
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2SpacesIdTweetsResponse'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: The request has failed.
      security:
      - BearerToken: []
      - OAuth2UserToken:
        - space.read
        - tweet.read
        - users.read
      summary: Retrieve Tweets from a Space.
      tags:
      - Spaces
      - Tweets
      x-openapi-router-controller: openapi_server.controllers.spaces_controller
  /2/tweets:
    get:
      description: Returns a variety of information about the Tweet specified by the
        requested ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup/api-reference/get-tweets
      operationId: find_tweets_by_id
[...]
