openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Generates performance reports, generates ad codes, and provides publisher\
    \ management capabilities for AdSense Hosts."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: AdSense Host API
  version: v4.1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://adsensehost.googleapis.com/$discovery/rest?version=v4.1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: adsensehost
externalDocs:
  url: https://developers.google.com/adsense/host/
servers:
- url: https://www.googleapis.com/adsensehost/v4.1
tags:
- name: accounts
- name: adclients
- name: associationsessions
- name: customchannels
- name: reports
- name: urlchannels
paths:
  /accounts:
    get:
      description: List hosted accounts associated with this AdSense account by ad
        client id.
      operationId: adsensehost.accounts.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad clients to list accounts for.
        explode: true
        in: query
        name: filterAdClientId
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-accepts:
      - application/json
  /accounts/{accountId}:
    get:
      description: Get information about the selected associated AdSense account.
      operationId: adsensehost.accounts.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account to get information about.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-accepts:
      - application/json
  /accounts/{accountId}/adclients:
    get:
      description: List all hosted ad clients in the specified hosted account.
      operationId: adsensehost.accounts.adclients.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account for which to list ad clients.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of ad clients to include in the response,\
          \ used for paging."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "A continuation token, used to page through ad clients. To retrieve\
          \ the next page, set this parameter to the value of \"nextPageToken\" from\
          \ the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdClients'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-accepts:
      - application/json
  /accounts/{accountId}/adclients/{adClientId}:
    get:
      description: Get information about one of the ad clients in the specified publisher's
        AdSense account.
      operationId: adsensehost.accounts.adclients.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad client.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client to get.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdClient'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-accepts:
      - application/json
  /accounts/{accountId}/adclients/{adClientId}/adunits:
    get:
      description: List all ad units in the specified publisher's AdSense account.
      operationId: adsensehost.accounts.adunits.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad client.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client for which to list ad units.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: "Whether to include inactive ad units. Default: true."
        explode: true
        in: query
        name: includeInactive
        required: false
        schema:
          type: boolean
        style: form
      - description: "The maximum number of ad units to include in the response, used\
          \ for paging."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "A continuation token, used to page through ad units. To retrieve\
          \ the next page, set this parameter to the value of \"nextPageToken\" from\
          \ the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnits'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-accepts:
      - application/json
    patch:
      description: Update the supplied ad unit in the specified publisher AdSense
        account. This method supports patch semantics.
      operationId: adsensehost.accounts.adunits.patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad client.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client which contains the ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad unit to get.
        explode: true
        in: query
        name: adUnitId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUnit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-content-type: application/json
      x-accepts:
      - application/json
    post:
      description: Insert the supplied ad unit into the specified publisher AdSense
        account.
      operationId: adsensehost.accounts.adunits.insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which will contain the ad unit.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client into which to insert the ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUnit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Update the supplied ad unit in the specified publisher AdSense
        account.
      operationId: adsensehost.accounts.adunits.update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad client.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client which contains the ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUnit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-content-type: application/json
      x-accepts:
      - application/json
  /accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}:
    delete:
      description: Delete the specified ad unit from the specified publisher AdSense
        account.
      operationId: adsensehost.accounts.adunits.delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad unit.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client for which to get ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad unit to delete.
        explode: false
        in: path
        name: adUnitId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-accepts:
      - application/json
    get:
      description: Get the specified host ad unit in this AdSense account.
      operationId: adsensehost.accounts.adunits.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad unit.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client for which to get ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad unit to get.
        explode: false
        in: path
        name: adUnitId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-accepts:
      - application/json
  /accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/adcode:
    get:
      description: "Get ad code for the specified ad unit, attaching the specified\
        \ host custom channels."
      operationId: adsensehost.accounts.adunits.getAdCode
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Account which contains the ad client.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad client with contains the ad unit.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Ad unit to get the code for.
        explode: false
        in: path
        name: adUnitId
        required: true
        schema:
          type: string
        style: simple
      - description: Host custom channel to attach to the ad code.
        explode: true
        in: query
        name: hostCustomChannelId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdCode'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-accepts:
      - application/json
  /accounts/{accountId}/reports:
    get:
      description: Generate an AdSense report based on the report request sent in
        the query parameters. Returns the result as JSON; to retrieve output in CSV
        format specify "alt=csv" as a query parameter.
      operationId: adsensehost.accounts.reports.generate
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Hosted account upon which to report.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: "Start of the date range to report on in \"YYYY-MM-DD\" format,\
          \ inclusive."
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: "End of the date range to report on in \"YYYY-MM-DD\" format,\
          \ inclusive."
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          type: string
        style: form
      - description: Dimensions to base the report on.
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filters to be run on the report.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Optional locale to use for translating report output to a local
          language. Defaults to "en_US" if not specified.
        explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of rows of report data to return.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 50000
          minimum: 0
          type: integer
        style: form
      - description: Numeric columns to include in the report.
        explode: true
        in: query
        name: metric
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The name of a dimension or metric to sort the resulting report\
          \ on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort\
          \ descending. If no prefix is specified, the column is sorted ascending."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Index of the first row of report data to return.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          maximum: 5000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - accounts
      x-accepts:
      - application/json
  /adclients:
    get:
      description: List all host ad clients in this AdSense account.
      operationId: adsensehost.adclients.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of ad clients to include in the response,\
          \ used for paging."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "A continuation token, used to page through ad clients. To retrieve\
          \ the next page, set this parameter to the value of \"nextPageToken\" from\
          \ the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdClients'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - adclients
      x-accepts:
      - application/json
  /adclients/{adClientId}:
    get:
      description: Get information about one of the ad clients in the Host AdSense
        account.
      operationId: adsensehost.adclients.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client to get.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdClient'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - adclients
      x-accepts:
      - application/json
  /adclients/{adClientId}/customchannels:
    get:
      description: List all host custom channels in this AdSense account.
      operationId: adsensehost.customchannels.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client for which to list custom channels.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of custom channels to include in the response,\
          \ used for paging."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "A continuation token, used to page through custom channels.\
          \ To retrieve the next page, set this parameter to the value of \"nextPageToken\"\
          \ from the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannels'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-accepts:
      - application/json
    patch:
      description: Update a custom channel in the host AdSense account. This method
        supports patch semantics.
      operationId: adsensehost.customchannels.patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client in which the custom channel will be updated.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Custom channel to get.
        explode: true
        in: query
        name: customChannelId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomChannel'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-content-type: application/json
      x-accepts:
      - application/json
    post:
      description: Add a new custom channel to the host AdSense account.
      operationId: adsensehost.customchannels.insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client to which the new custom channel will be added.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomChannel'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Update a custom channel in the host AdSense account.
      operationId: adsensehost.customchannels.update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client in which the custom channel will be updated.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomChannel'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-content-type: application/json
      x-accepts:
      - application/json
  /adclients/{adClientId}/customchannels/{customChannelId}:
    delete:
      description: Delete a specific custom channel from the host AdSense account.
      operationId: adsensehost.customchannels.delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client from which to delete the custom channel.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Custom channel to delete.
        explode: false
        in: path
        name: customChannelId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-accepts:
      - application/json
    get:
      description: Get a specific custom channel from the host AdSense account.
      operationId: adsensehost.customchannels.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client from which to get the custom channel.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: Custom channel to get.
        explode: false
        in: path
        name: customChannelId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - customchannels
      x-accepts:
      - application/json
  /adclients/{adClientId}/urlchannels:
    get:
      description: List all host URL channels in the host AdSense account.
      operationId: adsensehost.urlchannels.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client for which to list URL channels.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of URL channels to include in the response,\
          \ used for paging."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "A continuation token, used to page through URL channels. To\
          \ retrieve the next page, set this parameter to the value of \"nextPageToken\"\
          \ from the previous response."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlChannels'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - urlchannels
      x-accepts:
      - application/json
    post:
      description: Add a new URL channel to the host AdSense account.
      operationId: adsensehost.urlchannels.insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client to which the new URL channel will be added.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlChannel'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - urlchannels
      x-content-type: application/json
      x-accepts:
      - application/json
  /adclients/{adClientId}/urlchannels/{urlChannelId}:
    delete:
      description: Delete a URL channel from the host AdSense account.
      operationId: adsensehost.urlchannels.delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Ad client from which to delete the URL channel.
        explode: false
        in: path
        name: adClientId
        required: true
        schema:
          type: string
        style: simple
      - description: URL channel to delete.
        explode: false
        in: path
        name: urlChannelId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlChannel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - urlchannels
      x-accepts:
      - application/json
  /associationsessions/start:
    get:
      description: Create an association session for initiating an association with
        an AdSense user.
      operationId: adsensehost.associationsessions.start
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: Products to associate with the user.
        explode: true
        in: query
        name: productCode
        required: true
        schema:
          items:
            enum:
            - AFC
            - AFG
            - AFMC
            - AFS
            - AFV
            type: string
          type: array
        style: form
      - description: The URL of the user's hosted website.
        explode: true
        in: query
        name: websiteUrl
        required: true
        schema:
          type: string
        style: form
      - description: The URL to redirect the user to once association is completed.
          It receives a token parameter that can then be used to retrieve the associated
          account.
        explode: true
        in: query
        name: callbackUrl
        required: false
        schema:
          type: string
        style: form
      - description: The preferred locale of the user.
        explode: true
        in: query
        name: userLocale
        required: false
        schema:
          type: string
        style: form
      - description: The locale of the user's hosted website.
        explode: true
        in: query
        name: websiteLocale
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationSession'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - associationsessions
      x-accepts:
      - application/json
  /associationsessions/verify:
    get:
      description: Verify an association session after the association callback returns
        from AdSense signup.
      operationId: adsensehost.associationsessions.verify
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: The token returned to the association callback URL.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationSession'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - associationsessions
      x-accepts:
      - application/json
  /reports:
    get:
      description: Generate an AdSense report based on the report request sent in
        the query parameters. Returns the result as JSON; to retrieve output in CSV
        format specify "alt=csv" as a query parameter.
      operationId: adsensehost.reports.generate
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - csv
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Start of the date range to report on in \"YYYY-MM-DD\" format,\
          \ inclusive."
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: "End of the date range to report on in \"YYYY-MM-DD\" format,\
          \ inclusive."
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          type: string
        style: form
      - description: Dimensions to base the report on.
        explode: true
        in: query
        name: dimension
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filters to be run on the report.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Optional locale to use for translating report output to a local
          language. Defaults to "en_US" if not specified.
        explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of rows of report data to return.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 50000
          minimum: 0
          type: integer
        style: form
      - description: Numeric columns to include in the report.
        explode: true
        in: query
        name: metric
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The name of a dimension or metric to sort the resulting report\
          \ on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort\
          \ descending. If no prefix is specified, the column is sorted ascending."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Index of the first row of report data to return.
        explode: true
        in: query
        name: startIndex
        required: false
        schema:
          maximum: 5000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adsensehost
        Oauth2c:
        - https://www.googleapis.com/auth/adsensehost
      tags:
      - reports
      x-accepts:
      - application/json
components:
  parameters:
    alt:
      description: Data format for the response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - csv
        - json
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must
        not exceed 40 characters.
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    userIp:
      description: Deprecated. Please use quotaUser instead.
      explode: true
      in: query
      name: userIp
      required: false
      schema:
        type: string
      style: form
  schemas:
    Account:
      example:
        kind: adsensehost#account
        name: name
        id: id
        status: status
      properties:
        id:
          description: Unique identifier of this account.
          type: string
        kind:
          default: adsensehost#account
          description: "Kind of resource this is, in this case adsensehost#account."
          type: string
        name:
          description: Name of this account.
          type: string
        status:
          description: "Approval status of this account. One of: PENDING, APPROVED,\
            \ DISABLED."
          type: string
      type: object
    Accounts:
      example:
        kind: adsensehost#accounts
        etag: etag
        items:
        - kind: adsensehost#account
          name: name
          id: id
          status: status
        - kind: adsensehost#account
          name: name
          id: id
          status: status
      properties:
        etag:
          description: ETag of this response for caching purposes.
          type: string
        items:
          description: The accounts returned in this list response.
          items:
            $ref: '#/components/schemas/Account'
          type: array
        kind:
          default: adsensehost#accounts
          description: "Kind of list this is, in this case adsensehost#accounts."
          type: string
      type: object
    AdClient:
      example:
        arcOptIn: true
        productCode: productCode
        kind: adsensehost#adClient
        supportsReporting: true
        id: id
      properties:
        arcOptIn:
          description: Whether this ad client is opted in to ARC.
          type: boolean
        id:
          description: Unique identifier of this ad client.
          type: string
        kind:
          default: adsensehost#adClient
          description: "Kind of resource this is, in this case adsensehost#adClient."
          type: string
        productCode:
          description: "This ad client's product code, which corresponds to the PRODUCT_CODE\
            \ report dimension."
          type: string
        supportsReporting:
          description: Whether this ad client supports being reported on.
          type: boolean
      type: object
    AdClients:
      example:
        kind: adsensehost#adClients
        nextPageToken: nextPageToken
        etag: etag
        items:
        - arcOptIn: true
          productCode: productCode
          kind: adsensehost#adClient
          supportsReporting: true
          id: id
        - arcOptIn: true
          productCode: productCode
          kind: adsensehost#adClient
          supportsReporting: true
          id: id
      properties:
        etag:
          description: ETag of this response for caching purposes.
          type: string
        items:
          description: The ad clients returned in this list response.
          items:
            $ref: '#/components/schemas/AdClient'
          type: array
        kind:
          default: adsensehost#adClients
          description: "Kind of list this is, in this case adsensehost#adClients."
          type: string
        nextPageToken:
          description: "Continuation token used to page through ad clients. To retrieve\
            \ the next page of results, set the next request's \"pageToken\" value\
            \ to this."
          type: string
      type: object
    AdCode:
      example:
        kind: adsensehost#adCode
        adCode: adCode
      properties:
        adCode:
          description: The ad code snippet.
          type: string
        kind:
          default: adsensehost#adCode
          description: "Kind this is, in this case adsensehost#adCode."
          type: string
      type: object
    AdStyle:
      example:
        corners: corners
        kind: adsensehost#adStyle
        colors:
          border: border
          background: background
          text: text
          title: title
          url: url
        font:
          size: size
          family: family
      properties:
        colors:
          $ref: '#/components/schemas/AdStyle_colors'
        corners:
          description: "The style of the corners in the ad (deprecated: never populated,\
            \ ignored)."
          type: string
        font:
          $ref: '#/components/schemas/AdStyle_font'
        kind:
          default: adsensehost#adStyle
          description: "Kind this is, in this case adsensehost#adStyle."
          type: string
      type: object
    AdUnit:
      example:
        code: code
        customStyle:
          corners: corners
          kind: adsensehost#adStyle
          colors:
            border: border
            background: background
            text: text
            title: title
            url: url
          font:
            size: size
            family: family
        kind: adsensehost#adUnit
        name: name
        id: id
        mobileContentAdsSettings:
          markupLanguage: markupLanguage
          size: size
          scriptingLanguage: scriptingLanguage
          type: type
        contentAdsSettings:
          size: size
          backupOption:
            color: color
            type: type
            url: url
          type: type
        status: status
      properties:
        code:
          description: "Identity code of this ad unit, not necessarily unique across\
            \ ad clients."
          type: string
        contentAdsSettings:
          $ref: '#/components/schemas/AdUnit_contentAdsSettings'
        customStyle:
          $ref: '#/components/schemas/AdStyle'
        id:
          description: Unique identifier of this ad unit. This should be considered
            an opaque identifier; it is not safe to rely on it being in any particular
            format.
          type: string
        kind:
          default: adsensehost#adUnit
          description: "Kind of resource this is, in this case adsensehost#adUnit."
          type: string
        mobileContentAdsSettings:
          $ref: '#/components/schemas/AdUnit_mobileContentAdsSettings'
        name:
          description: Name of this ad unit.
          type: string
        status:
          description: |-
            Status of this ad unit. Possible values are:
            NEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.

            ACTIVE: Indicates that there has been activity on this ad unit in the last seven days.

            INACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.
          type: string
      type: object
    AdUnits:
      example:
        kind: adsensehost#adUnits
        nextPageToken: nextPageToken
        etag: etag
        items:
        - code: code
          customStyle:
            corners: corners
            kind: adsensehost#adStyle
            colors:
              border: border
              background: background
              text: text
              title: title
              url: url
            font:
              size: size
              family: family
          kind: adsensehost#adUnit
          name: name
          id: id
          mobileContentAdsSettings:
            markupLanguage: markupLanguage
            size: size
            scriptingLanguage: scriptingLanguage
            type: type
          contentAdsSettings:
            size: size
            backupOption:
              color: color
              type: type
              url: url
            type: type
          status: status
        - code: code
          customStyle:
            corners: corners
            kind: adsensehost#adStyle
            colors:
              border: border
              background: background
              text: text
              title: title
              url: url
            font:
              size: size
              family: family
          kind: adsensehost#adUnit
          name: name
          id: id
          mobileContentAdsSettings:
            markupLanguage: markupLanguage
            size: size
            scriptingLanguage: scriptingLanguage
            type: type
          contentAdsSettings:
            size: size
            backupOption:
              color: color
              type: type
              url: url
            type: type
          status: status
      properties:
        etag:
          description: ETag of this response for caching purposes.
          type: string
        items:
          description: The ad units returned in this list response.
          items:
            $ref: '#/components/schemas/AdUnit'
          type: array
        kind:
          default: adsensehost#adUnits
          description: "Kind of list this is, in this case adsensehost#adUnits."
          type: string
        nextPageToken:
          description: "Continuation token used to page through ad units. To retrieve\
            \ the next page of results, set the next request's \"pageToken\" value\
            \ to this."
          type: string
      type: object
    AssociationSession:
      example:
        accountId: accountId
        redirectUrl: redirectUrl
        userLocale: userLocale
        websiteUrl: websiteUrl
        kind: adsensehost#associationSession
        websiteLocale: websiteLocale
        id: id
        productCodes:
        - productCodes
        - productCodes
        status: status
      properties:
        accountId:
          description: Hosted account id of the associated publisher after association.
            Present if status is ACCEPTED.
          type: string
        id:
          description: Unique identifier of this association session.
          type: string
        kind:
          default: adsensehost#associationSession
          description: "Kind of resource this is, in this case adsensehost#associationSession."
          type: string
        productCodes:
          description: "The products to associate with the user. Options: AFC, AFG,\
            \ AFV, AFS (deprecated), AFMC (deprecated)"
          items:
            type: string
          type: array
        redirectUrl:
          description: Redirect URL of this association session. Used to redirect
            users into the AdSense association flow.
          type: string
        status:
          description: "Status of the completed association, available once the association\
            \ callback token has been verified. One of ACCEPTED, REJECTED, or ERROR."
          type: string
        userLocale:
          description: The preferred locale of the user themselves when going through
            the AdSense association flow.
          type: string
        websiteLocale:
          description: The locale of the user's hosted website.
          type: string
        websiteUrl:
          description: The URL of the user's hosted website.
          type: string
      type: object
    CustomChannel:
      example:
        code: code
        kind: adsensehost#customChannel
        name: name
        id: id
      properties:
        code:
          description: "Code of this custom channel, not necessarily unique across\
            \ ad clients."
          type: string
        id:
          description: Unique identifier of this custom channel. This should be considered
            an opaque identifier; it is not safe to rely on it being in any particular
            format.
          type: string
        kind:
          default: adsensehost#customChannel
          description: "Kind of resource this is, in this case adsensehost#customChannel."
          type: string
        name:
          description: Name of this custom channel.
          type: string
      type: object
    CustomChannels:
      example:
        kind: adsensehost#customChannels
        nextPageToken: nextPageToken
        etag: etag
        items:
        - code: code
          kind: adsensehost#customChannel
          name: name
          id: id
        - code: code
          kind: adsensehost#customChannel
          name: name
          id: id
      properties:
        etag:
          description: ETag of this response for caching purposes.
          type: string
        items:
          description: The custom channels returned in this list response.
          items:
            $ref: '#/components/schemas/CustomChannel'
          type: array
        kind:
          default: adsensehost#customChannels
          description: "Kind of list this is, in this case adsensehost#customChannels."
          type: string
        nextPageToken:
          description: "Continuation token used to page through custom channels. To\
            \ retrieve the next page of results, set the next request's \"pageToken\"\
            \ value to this."
          type: string
      type: object
    Report:
      example:
        headers:
        - name: name
          currency: currency
          type: type
        - name: name
          currency: currency
          type: type
        kind: adsensehost#report
        warnings:
        - warnings
        - warnings
        averages:
        - averages
        - averages
        totalMatchedRows: totalMatchedRows
        totals:
        - totals
        - totals
        rows:
        - - rows
          - rows
        - - rows
          - rows
      properties:
        averages:
          description: The averages of the report. This is the same length as any
            other row in the report; cells corresponding to dimension columns are
            empty.
          items:
            type: string
          type: array
        headers:
          description: "The header information of the columns requested in the report.\
            \ This is a list of headers; one for each dimension in the request, followed\
            \ by one for each metric in the request."
          items:
            $ref: '#/components/schemas/Report_headers_inner'
          type: array
        kind:
          default: adsensehost#report
          description: "Kind this is, in this case adsensehost#report."
          type: string
        rows:
          description: "The output rows of the report. Each row is a list of cells;\
            \ one for each dimension in the request, followed by one for each metric\
            \ in the request. The dimension cells contain strings, and the metric\
            \ cells contain numbers."
          items:
            items:
              type: string
            type: array
          type: array
        totalMatchedRows:
          description: The total number of rows matched by the report request. Fewer
            rows may be returned in the response due to being limited by the row count
            requested or the report row limit.
          format: int64
          type: string
        totals:
          description: The totals of the report. This is the same length as any other
            row in the report; cells corresponding to dimension columns are empty.
          items:
            type: string
          type: array
        warnings:
          description: Any warnings associated with generation of the report.
          items:
            type: string
          type: array
      type: object
    UrlChannel:
      example:
        kind: adsensehost#urlChannel
        id: id
        urlPattern: urlPattern
      properties:
        id:
          description: Unique identifier of this URL channel. This should be considered
            an opaque identifier; it is not safe to rely on it being in any particular
            format.
          type: string
        kind:
          default: adsensehost#urlChannel
          description: "Kind of resource this is, in this case adsensehost#urlChannel."
          type: string
        urlPattern:
          description: "URL Pattern of this URL channel. Does not include \"http://\"\
            \ or \"https://\". Example: www.example.com/home"
          type: string
      type: object
    UrlChannels:
      example:
        kind: adsensehost#urlChannels
        nextPageToken: nextPageToken
        etag: etag
        items:
        - kind: adsensehost#urlChannel
          id: id
          urlPattern: urlPattern
        - kind: adsensehost#urlChannel
          id: id
          urlPattern: urlPattern
      properties:
        etag:
[...]
