openapi: 3.0.1
info:
  description: Azure Cosmos DB Database Service Resource Provider REST API
  title: Cosmos DB
  version: 2019-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2019-08-01-preview/privateEndpointConnection.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: cosmos-db-privateEndpointConnection
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateEndpointConnections
  : get:
      description: List all private endpoint connections on a Cosmos DB account.
      operationId: private_endpoint_connections_list_by_database_account
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResult'
          description: Successfully retrieved private endpoint connections.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Gets private endpoint connection.:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01-preview
            resourceGroupName: rg1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDb/databaseAccounts/ddb1/privateEndpointConnections/privateEndpointConnectionName
                  name: privateEndpointConnectionName
                  properties:
                    privateEndpoint:
                      id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/rg1Network/providers/Microsoft.Network/privateEndpoints/privateEndpointName
                    privateLinkServiceConnectionState:
                      actionsRequired: None
                      description: Auto-approved
                      status: Approved
                  type: Microsoft.DocumentDb/databaseAccounts/privateEndpointConnections
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDb/databaseAccounts/ddb1/privateEndpointConnections/privateEndpointConnectionName2
                  name: privateEndpointConnectionName
                  properties:
                    privateEndpoint:
                      id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/rg1Network/providers/Microsoft.Network/privateEndpoints/privateEndpointName2
                    privateLinkServiceConnectionState:
                      actionsRequired: None
                      description: Auto-approved
                      status: Approved
                  type: Microsoft.DocumentDb/databaseAccounts/privateEndpointConnections
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.private_endpoint_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}
  : delete:
      description: Deletes a private endpoint connection with a given name.
      operationId: private_endpoint_connections_delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the private endpoint connection.
        in: path
        name: private_endpoint_connection_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "202":
          content: {}
          description: Accepted. The private endpoint connection delete will complete
            asynchronously.
        "204":
          content: {}
          description: Private endpoint connection does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Deletes a private endpoint connection with a given name.:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01-preview
            privateEndpointConnectionName: privateEndpointConnectionName
            resourceGroupName: rg1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.private_endpoint_connections_controller
    get:
      description: Gets a private endpoint connection.
      operationId: private_endpoint_connections_get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the private endpoint connection.
        in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Successfully retrieved a specified private endpoint connection.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Gets private endpoint connection.:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01-preview
            privateEndpointConnectionName: privateEndpointConnectionName
            resourceGroupName: rg1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/rg1/providers/Microsoft.DocumentDb/databaseAccounts/ddb1/privateEndpointConnections/privateEndpointConnectionName
                name: privateEndpointConnectionName
                properties:
                  privateEndpoint:
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/rg1Network/providers/Microsoft.Network/privateEndpoints/privateEndpointName
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Auto-approved
                    status: Approved
                type: Microsoft.DocumentDb/databaseAccounts/privateEndpointConnections
      x-openapi-router-controller: openapi_server.controllers.private_endpoint_connections_controller
    put:
      description: Approve or reject a private endpoint connection with a given name.
      operationId: private_endpoint_connections_create_or_update
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Cosmos DB database account name.
        in: path
        name: account_name
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the private endpoint connection.
        in: path
        name: private_endpoint_connection_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Successfully approved or rejected private endpoint connection.
        "202":
          content: {}
          description: Accepted. The private endpoint connection update will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        Approve or reject a private endpoint connection with a given name.:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01-preview
            parameters:
              properties:
                privateLinkServiceConnectionState:
                  description: Approved by johndoe@contoso.com
                  status: Approved
            privateEndpointConnectionName: privateEndpointConnectionName
            resourceGroupName: rg1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/rg1/providers/Microsoft.DocumentDb/databaseAccounts/ddb1/privateEndpointConnections/privateEndpointConnectionName
                name: privateEndpointConnectionName
                properties:
                  privateEndpoint:
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/rg1Network/providers/Microsoft.Network/privateEndpoints/privateEndpointName
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Auto-approved
                    status: Approved
                type: Microsoft.DocumentDb/databaseAccounts/privateEndpointConnections
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.private_endpoint_connections_controller
components:
  parameters:
    PrivateEndpointConnectionNameParameter:
      description: The name of the private endpoint connection.
      in: path
      name: privateEndpointConnectionName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    accountNameParameter:
      description: Cosmos DB database account name.
      in: path
      name: accountName
      required: true
      schema:
        maxLength: 50
        minLength: 3
        pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ErrorResponse:
      description: Error Response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    PrivateEndpointConnection:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource. It will
          have everything other than required location and tags
      description: A private endpoint connection
      example:
        properties:
          privateLinkServiceConnectionState:
            actionsRequired: actionsRequired
            description: description
            status: status
          privateEndpoint:
            id: id
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
      title: PrivateEndpointConnection
    PrivateEndpointConnectionListResult:
      description: A list of private endpoint connections
      example:
        value:
        - properties:
            privateLinkServiceConnectionState:
              actionsRequired: actionsRequired
              description: description
              status: status
            privateEndpoint:
              id: id
        - properties:
            privateLinkServiceConnectionState:
              actionsRequired: actionsRequired
              description: description
              status: status
            privateEndpoint:
              id: id
      properties:
        value:
          description: Array of private endpoint connections
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          title: value
          type: array
      title: PrivateEndpointConnectionListResult
      type: object
    PrivateEndpointConnectionProperties:
      description: Properties of a private endpoint connection.
      example:
        privateLinkServiceConnectionState:
          actionsRequired: actionsRequired
          description: description
          status: status
        privateEndpoint:
          id: id
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpointProperty'
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionStateProperty'
      title: PrivateEndpointConnectionProperties
      type: object
    PrivateEndpointProperty:
      description: Private endpoint which the connection belongs to.
      example:
        id: id
      properties:
        id:
          description: Resource id of the private endpoint.
          title: id
          type: string
      title: PrivateEndpointProperty
      type: object
    PrivateLinkServiceConnectionStateProperty:
      description: Connection State of the Private Endpoint Connection.
      example:
        actionsRequired: actionsRequired
        description: description
        status: status
      properties:
        actionsRequired:
          description: Any action that is required beyond basic workflow (approve/
            reject/ disconnect)
          readOnly: true
          title: actionsRequired
          type: string
        description:
          description: The private link service connection description.
          title: description
          type: string
        status:
          description: The private link service connection status.
          title: status
          type: string
      title: PrivateLinkServiceConnectionStateProperty
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
