openapi: 3.0.1
info:
  description: This API describe Azure Reservation
  title: Azure Reservation
  version: 2017-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/reservations/resource-manager/Microsoft.Capacity/stable/2017-11-01/reservations.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: reservations
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.Capacity/operations:
    get:
      description: List all the operations.
      operationId: operation_list
      parameters:
      - description: Supported version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: List all the operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get operations.
      tags:
      - Operation
      x-ms-examples:
        GetOperations:
          parameters:
            api-version: 2017-11-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Read All Reservations
                    operation: Get Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/read
                - display:
                    description: Create any Reservation
                    operation: Create Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/write
                - display:
                    description: Update any Reservation
                    operation: Update Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/action
                - display:
                    description: Delete any Reservation
                    operation: Delete Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/delete
                - display:
                    description: Read All Reservations
                    operation: Get Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/read
                - display:
                    description: Create any Reservation
                    operation: Create Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/write
                - display:
                    description: Update any Reservation
                    operation: Update Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/action
                - display:
                    description: Delete any Reservation
                    operation: Delete Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/delete
                - display:
                    description: Read All Reservations
                    operation: Get Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/revisions/read
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operation_controller
  /providers/Microsoft.Capacity/reservationOrders:
    get:
      description: List of all the `ReservationOrder`s that the user has access to
        in the current tenant.
      operationId: reservation_order_list
      parameters:
      - description: Supported version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationOrderList'
          description: List of `ReservationOrder`s
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get all `ReservationOrder`s.
      tags:
      - Reservation
      x-ms-examples:
        ReservationOrderList:
          parameters:
            api-version: 2017-11-01
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders?api-version=2017-11-01&%24skiptoken=eyJyZyI6IjIwNTkyMzdlLWY3MmYtNDczYi1hNTZiLWExOGJkM2UwMDhlZCIsImlnIjpudWxsLCJzdCI6bnVsbH0%3d
                value:
                - etag: 7
                  id: /providers/microsoft.capacity/reservationOrders/1e6407ba-37a5-499f-80ed-a3f0f338e443
                  name: 1e6407ba-37a5-499f-80ed-a3f0f338e443
                  properties:
                    createdDateTime: 2017-08-29T21:22:56.8541664Z
                    originalQuantity: 1
                    provisioningState: Succeeded
                    requestDateTime: 2017-08-29T21:20:23.8134834Z
                    reservations:
                    - id: /providers/microsoft.capacity/reservationOrders/1e6407ba-37a5-499f-80ed-a3f0f338e443/reservations/cae5924e-7a15-419f-a369-124f52d4a106
                    term: P1Y
                  type: Microsoft.Capacity/reservationOrders
                - etag: 7
                  id: /providers/microsoft.capacity/reservationOrders/1ea6e203-288e-4732-b9e1-da8bbe10c614
                  name: 1ea6e203-288e-4732-b9e1-da8bbe10c614
                  properties:
                    createdDateTime: 2017-08-30T12:58:20.526Z
                    originalQuantity: 9
                    provisioningState: Succeeded
                    requestDateTime: 2017-08-30T12:55:40.2799114Z
                    reservations:
                    - id: /providers/microsoft.capacity/reservationOrders/1ea6e203-288e-4732-b9e1-da8bbe10c614/reservations/d04fd48d-e3f6-42a3-a8f6-1ad0b7513e48
                    term: P1Y
                  type: Microsoft.Capacity/reservationOrders
                - etag: 7
                  id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa
                  name: 1f14354c-dc12-4c8d-8090-6f295a3a34aa
                  properties:
                    createdDateTime: 2017-08-30T03:51:49.8083758Z
                    originalQuantity: 7
                    provisioningState: Succeeded
                    requestDateTime: 2017-08-30T03:49:19.0252126Z
                    reservations:
                    - id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa/reservations/c8c926bd-fc5d-4e29-9d43-b68340ac23a6
                    term: P1Y
                  type: Microsoft.Capacity/reservationOrders
                - etag: 7
                  id: /providers/microsoft.capacity/reservationOrders/1f97f9a3-eaec-4f19-ab76-ccb53307aa54
                  name: 1f97f9a3-eaec-4f19-ab76-ccb53307aa54
                  properties:
                    createdDateTime: 2017-08-29T17:52:56.6426605Z
                    originalQuantity: 10
                    provisioningState: Succeeded
                    requestDateTime: 2017-08-29T17:50:22.0765208Z
                    reservations:
                    - id: /providers/microsoft.capacity/reservationOrders/1f97f9a3-eaec-4f19-ab76-ccb53307aa54/reservations/ca542bc5-94cb-4d42-b63a-393ef4f507d9
                    term: P1Y
                  type: Microsoft.Capacity/reservationOrders
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}:
    get:
      description: Get the details of the `ReservationOrder`.
      operationId: reservation_order_get
      parameters:
      - description: |
          Order Id of the reservation
        in: path
        name: reservationOrderId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationOrderResponse'
          description: Get the details of the `ReservationOrder`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get a specific `ReservationOrder`.
      tags:
      - Reservation
      x-ms-examples:
        GetReservation:
          parameters:
            api-version: 2017-11-01
            reservationOrderId: a075419f-44cc-497f-b68a-14ee811d48b9
          responses:
            "200":
              body:
                etag: 7
                id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa
                name: 1f14354c-dc12-4c8d-8090-6f295a3a34aa
                properties:
                  createdDateTime: 2017-08-30T03:51:49.8083758Z
                  originalQuantity: 7
                  provisioningState: Succeeded
                  requestDateTime: 2017-08-30T03:49:19.0252126Z
                  reservations:
                  - id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa/reservations/c8c926bd-fc5d-4e29-9d43-b68340ac23a6
                  term: P1Y
                type: Microsoft.Capacity/reservationOrders
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/merge:
    post:
      description: Merge the specified `Reservation`s into a new `Reservation`. The
        two `Reservation`s being merged must have same properties.
      operationId: reservation_merge
      parameters:
      - description: |
          Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeRequest'
        description: Information needed for commercial request for a reservation
        required: true
        x-ms-parameter-location: method
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ReservationResponse'
                type: array
          description: Returns the `Reservation` created after the merge.
        "202":
          content: {}
          description: The request is accepted and is being processed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Merges two `Reservation`s.
      tags:
      - "Reservation, Merge"
      x-ms-examples:
        Merge:
          parameters:
            api-version: 2017-11-01
            body:
              properties:
                sources:
                - /providers/Microsoft.Capacity/reservationOrders/c0565a8a-4491-4e77-b07b-5e6d66718e1c/reservations/cea04232-932e-47db-acb5-e29a945ecc73
                - /providers/Microsoft.Capacity/reservationOrders/c0565a8a-4491-4e77-b07b-5e6d66718e1c/reservations/5bf54dc7-dacd-4f46-a16b-7b78f4a59799
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
              - etag: 5
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/00238563-7312-4c20-a134-8c030bf938a7
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                  expiryDate: 2018-09-22
                  extendedStatusInfo:
                    message: This reservation was merged and is no longer active.
                    statusCode: Merged
                  lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                  mergeProperties:
                    mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                  provisioningState: Cancelled
                  quantity: 1
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 4
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                  expiryDate: 2018-09-22
                  extendedStatusInfo:
                    message: This reservation was merged and is no longer active.
                    statusCode: Merged
                  lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                  mergeProperties:
                    mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                  provisioningState: Cancelled
                  quantity: 2
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                  expiryDate: 2018-09-22
                  lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                  mergeProperties:
                    mergeSources:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  provisioningState: Succeeded
                  quantity: 3
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: body
      x-openapi-router-controller: "openapi_server.controllers.reservation,_merge_controller"
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations:
    get:
      description: List `Reservation`s within a single `ReservationOrder`.
      operationId: reservation_list
      parameters:
      - description: |
          Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationList'
          description: List `Reservation`s within a single `ReservationOrder`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get `Reservation`s in a given reservation Order
      tags:
      - Reservation
      x-ms-examples:
        ReservationList:
          parameters:
            api-version: 2017-11-01
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
                value:
                - etag: 10
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/bcae77cd-3119-4766-919f-b50d36c75c7a
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T01:00:30.9253826Z
                    expiryDate: 2018-09-22
                    extendedStatusInfo:
                      message: This reservation was split and is no longer active.
                      statusCode: Split
                    lastUpdatedDateTime: 2017-09-22T01:00:36.3191627Z
                    provisioningState: Cancelled
                    quantity: 3
                    splitProperties:
                      splitDestinations:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
                - etag: 5
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/00238563-7312-4c20-a134-8c030bf938a7
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                    expiryDate: 2018-09-22
                    extendedStatusInfo:
                      message: This reservation was merged and is no longer active.
                      statusCode: Merged
                    lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                    mergeProperties:
                      mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                    provisioningState: Cancelled
                    quantity: 1
                    splitProperties:
                      splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
                - etag: 4
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                    expiryDate: 2018-09-22
                    extendedStatusInfo:
                      message: This reservation was merged and is no longer active.
                      statusCode: Merged
                    lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                    mergeProperties:
                      mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                    provisioningState: Cancelled
                    quantity: 2
                    splitProperties:
                      splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
                - etag: 2
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                    expiryDate: 2018-09-22
                    lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}:
    get:
      description: Get specific `Reservation` details.
      operationId: reservation_get
      parameters:
      - description: Id of the Reservation Item
        in: path
        name: reservationId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |
          Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResponse'
          description: Get `Reservation` details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get `Reservation` details.
      tags:
      - Reservation
      x-ms-examples:
        GetReservation:
          parameters:
            api-version: 2017-11-01
            reservationId: 6ef59113-3482-40da-8d79-787f823e34bc
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
                etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                  expiryDate: 2018-09-22
                  lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                  mergeProperties:
                    mergeSources:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  provisioningState: Succeeded
                  quantity: 3
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
    patch:
      description: Updates the applied scopes of the `Reservation`.
      operationId: reservation_update
      parameters:
      - description: |
          Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Id of the Reservation Item
        in: path
        name: reservation_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch'
        description: Information needed to patch a reservation item
        required: true
        x-ms-parameter-location: method
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResponse'
          description: Returns the updated `Reservation`.
        "202":
          content: {}
          description: The request is accepted and is being processed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Updates a `Reservation`.
      tags:
      - Reservation
      - ApplyScope
      x-ms-examples:
        PatchReservation:
          parameters:
            api-version: 2017-11-01
            parameters:
              properties:
                appliedScopeType: Shared
            reservationId: 6ef59113-3482-40da-8d79-787f823e34bc
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
                etag: 4
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                properties:
                  appliedScopeType: Shared
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T23:57:48.1891638Z
                  expiryDate: 2018-09-22
                  lastUpdatedDateTime: 2017-09-22T23:57:54.3768768Z
                  mergeProperties:
                    mergeSources:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  provisioningState: Succeeded
                  quantity: 3
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}/revisions:
    get:
      description: |
        List of all the revisions for the `Reservation`.
      operationId: reservation_list_revisions
      parameters:
      - description: Id of the Reservation Item
        in: path
        name: reservation_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |
          Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationList'
          description: List of all the revisions for the `Reservation`.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get `Reservation` revisions.
      tags:
      - Reservation
      x-ms-examples:
        ReservationRevisions:
          parameters:
            api-version: 2017-11-01
            reservationId: 6ef59113-3482-40da-8d79-787f823e34bc
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
                value:
                - etag: 4
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/4
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/4
                  properties:
                    appliedScopeType: Shared
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T23:57:48.1891638Z
                    expiryDate: 2018-09-22
                    lastUpdatedDateTime: 2017-09-22T23:57:54.3768768Z
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
                - etag: 3
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/3
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/3
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                    expiryDate: 2018-09-22
                    extendedStatusInfo:
                      message: An operation is in progress on your reservation. Please
                        wait for operation to complete before taking further action
                      statusCode: Pending
                    lastUpdatedDateTime: 2017-09-22T23:57:47.488284Z
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
                - etag: 2
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/2
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/2
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:32.7632798Z
                    expiryDate: 2018-09-22
                    lastUpdatedDateTime: 2017-09-22T22:46:32.7632798Z
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
                - etag: 1
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/1
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/1
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: 2017-09-22T22:46:27.3313607Z
                    expiryDate: 2018-09-22
                    lastUpdatedDateTime: 2017-09-22T22:46:27.3313607Z
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Creating
                    quantity: 3
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reservation_controller
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/split:
    post:
      description: |
        Split a `Reservation` into two `Reservation`s with specified quantity distribution.
      operationId: reservation_split
      parameters:
      - description: |
          Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Supported version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitRequest'
        description: Information needed to Split a reservation item
        required: true
        x-ms-parameter-location: method
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ReservationResponse'
                type: array
          description: List of `Reservation`s created after the split operation.
        "202":
          content: {}
          description: The request is accepted and is being processed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Split the `Reservation`.
      tags:
      - "Reservation, Split"
      x-ms-examples:
        Split:
          parameters:
            api-version: 2017-11-01
            body:
              properties:
                quantities:
                - 1
                - 2
                reservationId: /providers/Microsoft.Capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            "200":
              body:
              - etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/00238563-7312-4c20-a134-8c030bf938a7
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T01:00:30.9253826Z
                  expiryDate: 2018-09-22
                  lastUpdatedDateTime: 2017-09-22T01:00:36.3191627Z
                  provisioningState: Succeeded
                  quantity: 1
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T01:00:30.9253826Z
                  expiryDate: 2018-09-22
                  lastUpdatedDateTime: 2017-09-22T01:00:36.3191627Z
                  provisioningState: Succeeded
                  quantity: 2
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 10
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/bcae77cd-3119-4766-919f-b50d36c75c7a
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: 2017-09-22T01:00:30.9253826Z
                  expiryDate: 2018-09-22
                  extendedStatusInfo:
                    message: This reservation was split and is no longer active.
                    statusCode: Split
                  lastUpdatedDateTime: 2017-09-22T01:00:36.3191627Z
                  provisioningState: Cancelled
                  quantity: 3
                  splitProperties:
                    splitDestinations:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: body
      x-openapi-router-controller: "openapi_server.controllers.reservation,_split_controller"
  /subscriptions/{subscriptionId}/providers/Microsoft.Capacity/appliedReservations:
    get:
      description: Get applicable `Reservation`s that are applied to this subscription.
      operationId: get_applied_reservation_list
      parameters:
      - description: Supported version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Id of the subscription
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedReservations'
          description: Applicable `Reservation`s.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get list of applicable `Reservation`s.
      tags:
      - AppliedReservation
      x-ms-examples:
        AppliedReservationList:
          parameters:
            api-version: 2017-11-01
            subscriptionId: 23bc208b-083f-4901-ae85-4f98c0c3b4b6
          responses:
            "200":
              body:
                id: /subscriptions/23bc208b-083f-4901-ae85-4f98c0c3b4b6/providers/microsoft.capacity/AppliedReservations/default
                name: default
                properties:
                  reservationOrderIds:
                    value:
                    - /providers/Microsoft.Capacity/reservationorders/e1eccf0b-2db4-4e84-97e7-98b50e9d46f7
                    - /providers/Microsoft.Capacity/reservationorders/741a32eb-6158-4cee-9642-a0243ae79fac
                    - /providers/Microsoft.Capacity/reservationorders/e061223d-fcff-4d10-bd49-56a740cfb96a
                    - /providers/Microsoft.Capacity/reservationorders/2eeb7234-970e-4663-b60b-85241b515901
                    - /providers/Microsoft.Capacity/reservationorders/9db2f4c5-b1c5-42a8-bd79-ee56cdde2c7f
                    - /providers/Microsoft.Capacity/reservationorders/5da7a877-6d6e-44af-8880-ed3f533bf928
                    - /providers/Microsoft.Capacity/reservationorders/f65b0d0a-f945-4105-821c-d00bc8bacde8
                    - /providers/Microsoft.Capacity/reservationorders/51304124-e477-4b07-b9fa-03b05c8b924b
                    - /providers/Microsoft.Capacity/reservationorders/f5409b98-8a42-4dc6-be0a-cc59bef4d0db
                    - /providers/Microsoft.Capacity/reservationorders/a495550a-80a4-46f8-8843-34d4df46f9a6
                    - /providers/Microsoft.Capacity/reservationorders/1a966e18-c272-4ce1-a0c2-d4e1039023c3
                    - /providers/Microsoft.Capacity/reservationorders/939310b4-f9de-4645-9569-ab5b6cfe958e
                    - /providers/Microsoft.Capacity/reservationorders/4193a889-7c3b-44dc-8b7b-bfd7aad6c723
                type: Microsoft.Capacity/AppliedReservations
      x-openapi-router-controller: openapi_server.controllers.applied_reservation_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Capacity/catalogs:
    get:
      operationId: get_catalog
      parameters:
      - description: Supported version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Id of the subscription
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Catalog'
                type: array
          description: List of available resources
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get the regions and skus that are available for RI purchase for the
        specified Azure subscription.
      tags:
      - Catalog
      x-ms-examples:
        Catalog:
          parameters:
            api-version: 2017-11-01
            subscriptionId: '23bc208b-083f-4901-ae85-4f98c0c3b4b6 '
          responses:
            "200":
              body:
              - locations:
                - eastus
                name: Standard_DS4_v2
                resourceType: virtualMachines
                restrictions: []
                size: DS4_v2
                terms:
                - P1Y
                - P3Y
                tier: Standard
              - locations:
                - CanadaCentral
                name: Standard_D14_v2_Promo
                resourceType: virtualMachines
                restrictions:
                - reasonCode: NotAvailableForSubscription
                  type: Term
                  values:
                  - P1Y
                - reasonCode: NotAvailableForSubscription
                  type: Term
                  values:
                  - P3Y
                size: D14_v2_Promo
                terms:
                - P1Y
                - P3Y
                tier: Standard
              - locations:
                - eastus
                name: Standard_DS2_v2
                resourceType: virtualMachines
                restrictions: []
                size: DS2_v2
                terms:
                - P1Y
                - P3Y
                tier: Standard
              - locations:
                - eastus
                name: Standard_DS1_v2
                resourceType: virtualMachines
                restrictions: []
                size: DS1_v2
                terms:
                - P1Y
                - P3Y
                tier: Standard
      x-openapi-router-controller: openapi_server.controllers.catalog_controller
components:
  parameters:
    ApiVersionParameter:
      description: Supported version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ReservationIdParameter:
      description: Id of the Reservation Item
      in: path
      name: reservationId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ReservationOrderIdParameter:
      description: |
        Order Id of the reservation
      in: path
      name: reservationOrderId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Id of the subscription
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    MergeParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MergeRequest'
      description: Information needed for commercial request for a reservation
      required: true
      x-ms-parameter-location: method
      x-body-name: body
    PatchParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Patch'
      description: Information needed to patch a reservation item
      required: true
      x-ms-parameter-location: method
      x-body-name: parameters
    SplitParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SplitRequest'
      description: Information needed to Split a reservation item
      required: true
      x-ms-parameter-location: method
      x-body-name: body
  schemas:
    AppliedReservationList:
      example:
        value:
        - value
        - value
        nextLink: nextLink
      properties:
        nextLink:
          description: Url to get the next page of reservations
          title: nextLink
          type: string
        value:
          items:
            description: "Reservation resource Id. \"/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}\""
            type: string
          title: value
          type: array
      title: AppliedReservationList
      type: object
    AppliedReservations:
      example:
        name: name
        id: id
        type: type
        properties:
          reservationOrderIds:
            value:
            - value
            - value
            nextLink: nextLink
      properties:
        id:
          description: Identifier of the applied reservations
          readOnly: true
          title: id
          type: string
        name:
          description: Name of resource
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/AppliedReservationsProperties'
        type:
          description: Type of resource. "Microsoft.Capacity/AppliedReservations"
          readOnly: true
          title: type
          type: string
      title: AppliedReservations
      type: object
    AppliedReservationsProperties:
      example:
        reservationOrderIds:
          value:
          - value
          - value
          nextLink: nextLink
      properties:
        reservationOrderIds:
          $ref: '#/components/schemas/AppliedReservationList'
      title: AppliedReservationsProperties
      type: object
    AppliedScopeType:
      description: Type of the Applied Scope.
      enum:
      - Single
      - Shared
      title: AppliedScopeType
      type: string
    AppliedScopes:
      description: List of the subscriptions that the benefit will be applied. Do
        not specify if AppliedScopeType is Shared.
      items:
        type: string
      title: AppliedScopes
      type: array
    Catalog:
      example:
        capabilities:
        - name: name
          value: value
        - name: name
          value: value
        size: size
        tier: tier
        terms:
        - P1Y
        - P1Y
        name: name
        restrictions:
        - values:
          - values
          - values
          reasonCode: reasonCode
          type: type
        - values:
          - values
          - values
          reasonCode: reasonCode
          type: type
        locations:
        - locations
        - locations
        resourceType: resourceType
      properties:
        capabilities:
          items:
            $ref: '#/components/schemas/SkuCapability'
          readOnly: true
          title: capabilities
          type: array
        locations:
          items:
            description: The set of locations that the SKU is available.
            type: string
          readOnly: true
          title: locations
          type: array
        name:
          description: The name of SKU
          readOnly: true
          title: name
          type: string
        resourceType:
          description: The type of resource the SKU applies to.
          readOnly: true
          title: resourceType
          type: string
        restrictions:
          items:
            $ref: '#/components/schemas/SkuRestriction'
          readOnly: true
          title: restrictions
          type: array
        size:
          description: The size of this SKU
          readOnly: true
          title: size
          type: string
        terms:
          description: Available reservation terms for this resource
          items:
            $ref: '#/components/schemas/ReservationTerm'
          readOnly: true
          title: terms
          type: array
        tier:
          description: The tier of this SKU
          readOnly: true
          title: tier
          type: string
      title: Catalog
      type: object
    Error:
      example:
        error:
          code: NotSpecified
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ExtendedErrorInfo'
      title: Error
      type: object
    ErrorResponseCode:
      enum:
      - NotSpecified
      - InternalServerError
      - ServerTimeout
      - AuthorizationFailed
      - BadRequest
      - ClientCertificateThumbprintNotSet
      - InvalidRequestContent
      - OperationFailed
      - HttpMethodNotSupported
      - InvalidRequestUri
      - MissingTenantId
      - InvalidTenantId
      - InvalidReservationOrderId
      - InvalidReservationId
      - ReservationIdNotInReservationOrder
      - ReservationOrderNotFound
      - InvalidSubscriptionId
      - InvalidAccessToken
      - InvalidLocationId
      - UnauthenticatedRequestsThrottled
      - InvalidHealthCheckType
      - Forbidden
      - BillingScopeIdCannotBeChanged
      - AppliedScopesNotAssociatedWithCommerceAccount
      - AppliedScopesSameAsExisting
      - RoleAssignmentCreationFailed
      - ReservationOrderCreationFailed
      - ReservationOrderNotEnabled
      - CapacityUpdateScopesFailed
      - UnsupportedReservationTerm
      - ReservationOrderIdAlreadyExists
      - RiskCheckFailed
      - CreateQuoteFailed
      - ActivateQuoteFailed
      - NonsupportedAccountId
      - PaymentInstrumentNotFound
      - MissingAppliedScopesForSingle
      - NoValidReservationsToReRate
      - ReRateOnlyAllowedForEA
      - OperationCannotBePerformedInCurrentState
      - InvalidSingleAppliedScopesCount
      - InvalidFulfillmentRequestParameters
      - NotSupportedCountry
      - InvalidRefundQuantity
      - PurchaseError
      - BillingCustomerInputError
      - BillingPaymentInstrumentSoftError
      - BillingPaymentInstrumentHardError
      - BillingTransientError
      - BillingError
      - FulfillmentConfigurationError
      - FulfillmentOutOfStockError
      - FulfillmentTransientError
      - FulfillmentError
      - CalculatePriceFailed
      title: ErrorResponseCode
      type: string
    ExtendedErrorInfo:
      example:
        code: NotSpecified
        message: message
      properties:
        code:
          $ref: '#/components/schemas/ErrorResponseCode'
        message:
          title: message
          type: string
      title: ExtendedErrorInfo
      type: object
    ExtendedStatusInfo:
      example:
        message: message
        statusCode: None
      properties:
        message:
          description: The message giving detailed information about the status code.
          title: message
          type: string
        statusCode:
          $ref: '#/components/schemas/ReservationStatusCode'
      title: ExtendedStatusInfo
      type: object
    Location:
      description: Location in which the Resources needs to be reserved. It cannot
        be changed after the resource has been created.
      enum:
      - westus
      - eastus
      - eastus2
      - northcentralus
      - westus2
      - southcentralus
      - centralus
      - westeurope
      - northeurope
      - eastasia
      - southeastasia
      - japaneast
      - japanwest
      - brazilsouth
      - australiaeast
      - australiasoutheast
      - southindia
      - westindia
      - centralindia
      - canadacentral
      - canadaeast
      - uksouth
      - westcentralus
      - ukwest
      title: Location
      type: string
    MergeProperties:
      example:
        sources:
        - sources
        - sources
      properties:
        sources:
          description: "Format of the resource id should be /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
          items:
            type: string
          title: sources
          type: array
      title: MergeProperties
      type: object
    MergeRequest:
      example:
        properties:
          sources:
          - sources
          - sources
      properties:
        properties:
          $ref: '#/components/schemas/MergeProperties'
      title: MergeRequest
      type: object
    OperationDisplay:
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          title: description
          type: string
        operation:
          title: operation
          type: string
        provider:
          title: provider
          type: string
        resource:
          title: resource
          type: string
      title: OperationDisplay
      type: object
    OperationList:
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: Url to get the next page of items.
          title: nextLink
          type: string
        value:
          items:
            $ref: '#/components/schemas/OperationResponse'
          title: value
          type: array
      title: OperationList
      type: object
    OperationResponse:
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          title: name
          type: string
        origin:
          title: origin
          type: string
      title: OperationResponse
      type: object
    Patch:
      example:
        properties:
          appliedScopes:
          - appliedScopes
          - appliedScopes
          appliedScopeType: Single
      properties:
        properties:
          $ref: '#/components/schemas/PatchProperties'
      title: Patch
      type: object
    PatchProperties:
      example:
        appliedScopes:
        - appliedScopes
        - appliedScopes
        appliedScopeType: Single
      properties:
        appliedScopeType:
          $ref: '#/components/schemas/AppliedScopeType'
        appliedScopes:
          description: List of the subscriptions that the benefit will be applied.
            Do not specify if AppliedScopeType is Shared.
          items:
            type: string
          title: AppliedScopes
          type: array
      title: PatchProperties
      type: object
    ProvisioningState:
      description: Represent the current state of the Reservation.
      enum:
      - Creating
      - PendingResourceHold
      - ConfirmedResourceHold
      - PendingBilling
      - ConfirmedBilling
      - Created
      - Succeeded
      - Cancelled
      - Expired
      - BillingFailed
      - Failed
      - Split
      - Merged
      title: ProvisioningState
      type: string
    ReservationList:
      example:
        value:
        - kind: Microsoft.Compute
          name: name
          etag: 1
          location: westus
          id: id
          sku:
            name: name
          type: type
          properties:
            expiryDate: 2000-01-23
            splitProperties:
              splitSource: splitSource
              splitDestinations:
              - splitDestinations
              - splitDestinations
            mergeProperties:
              mergeSources:
              - mergeSources
              - mergeSources
              mergeDestination: mergeDestination
            quantity: 5
            appliedScopes:
            - appliedScopes
            - appliedScopes
            effectiveDateTime: 2000-01-23T04:56:07.000+00:00
            displayName: displayName
            appliedScopeType: Single
            lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: null
            extendedStatusInfo:
              message: message
              statusCode: None
        - kind: Microsoft.Compute
          name: name
          etag: 1
          location: westus
          id: id
          sku:
            name: name
          type: type
          properties:
            expiryDate: 2000-01-23
            splitProperties:
              splitSource: splitSource
              splitDestinations:
              - splitDestinations
              - splitDestinations
            mergeProperties:
              mergeSources:
              - mergeSources
              - mergeSources
              mergeDestination: mergeDestination
            quantity: 5
            appliedScopes:
            - appliedScopes
            - appliedScopes
            effectiveDateTime: 2000-01-23T04:56:07.000+00:00
            displayName: displayName
            appliedScopeType: Single
            lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: null
            extendedStatusInfo:
              message: message
              statusCode: None
        nextLink: nextLink
      properties:
        nextLink:
          description: Url to get the next page of reservations.
          title: nextLink
          type: string
        value:
          items:
            $ref: '#/components/schemas/ReservationResponse'
          title: value
          type: array
      title: ReservationList
      type: object
    ReservationMergeProperties:
      example:
        mergeSources:
        - mergeSources
        - mergeSources
        mergeDestination: mergeDestination
      properties:
        mergeDestination:
          description: "Reservation Resource Id Created due to the merge. Format of\
            \ the resource Id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
          title: mergeDestination
          type: string
        mergeSources:
          description: "Resource Ids of the Source Reservation's merged to form this\
            \ Reservation. Format of the resource Id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
          items:
            type: string
          title: mergeSources
          type: array
      title: ReservationMergeProperties
      type: object
    ReservationOrderList:
      example:
        value:
        - name: name
          etag: 0
          id: id
          type: type
          properties:
            expiryDate: 2000-01-23
            reservations:
            - kind: Microsoft.Compute
              name: name
              etag: 1
              location: westus
              id: id
              sku:
                name: name
              type: type
              properties:
                expiryDate: 2000-01-23
                splitProperties:
                  splitSource: splitSource
                  splitDestinations:
                  - splitDestinations
                  - splitDestinations
                mergeProperties:
                  mergeSources:
                  - mergeSources
                  - mergeSources
                  mergeDestination: mergeDestination
                quantity: 5
                appliedScopes:
                - appliedScopes
                - appliedScopes
                effectiveDateTime: 2000-01-23T04:56:07.000+00:00
                displayName: displayName
                appliedScopeType: Single
                lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
                provisioningState: null
                extendedStatusInfo:
                  message: message
                  statusCode: None
            - kind: Microsoft.Compute
              name: name
              etag: 1
              location: westus
              id: id
              sku:
                name: name
              type: type
              properties:
                expiryDate: 2000-01-23
                splitProperties:
                  splitSource: splitSource
                  splitDestinations:
                  - splitDestinations
                  - splitDestinations
                mergeProperties:
                  mergeSources:
                  - mergeSources
                  - mergeSources
                  mergeDestination: mergeDestination
                quantity: 5
                appliedScopes:
                - appliedScopes
                - appliedScopes
                effectiveDateTime: 2000-01-23T04:56:07.000+00:00
                displayName: displayName
                appliedScopeType: Single
                lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
                provisioningState: null
                extendedStatusInfo:
                  message: message
                  statusCode: None
            displayName: displayName
            originalQuantity: 6
            requestDateTime: 2000-01-23T04:56:07.000+00:00
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            term: P1Y
            provisioningState: Creating
        - name: name
          etag: 0
          id: id
          type: type
          properties:
            expiryDate: 2000-01-23
            reservations:
            - kind: Microsoft.Compute
              name: name
              etag: 1
              location: westus
              id: id
              sku:
                name: name
              type: type
              properties:
                expiryDate: 2000-01-23
                splitProperties:
                  splitSource: splitSource
                  splitDestinations:
                  - splitDestinations
                  - splitDestinations
                mergeProperties:
                  mergeSources:
                  - mergeSources
                  - mergeSources
                  mergeDestination: mergeDestination
                quantity: 5
                appliedScopes:
                - appliedScopes
                - appliedScopes
                effectiveDateTime: 2000-01-23T04:56:07.000+00:00
                displayName: displayName
                appliedScopeType: Single
                lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
                provisioningState: null
                extendedStatusInfo:
                  message: message
                  statusCode: None
            - kind: Microsoft.Compute
              name: name
              etag: 1
              location: westus
              id: id
              sku:
                name: name
              type: type
              properties:
                expiryDate: 2000-01-23
                splitProperties:
                  splitSource: splitSource
                  splitDestinations:
                  - splitDestinations
                  - splitDestinations
                mergeProperties:
                  mergeSources:
                  - mergeSources
                  - mergeSources
                  mergeDestination: mergeDestination
                quantity: 5
                appliedScopes:
                - appliedScopes
                - appliedScopes
                effectiveDateTime: 2000-01-23T04:56:07.000+00:00
                displayName: displayName
                appliedScopeType: Single
                lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
                provisioningState: null
                extendedStatusInfo:
                  message: message
                  statusCode: None
            displayName: displayName
            originalQuantity: 6
            requestDateTime: 2000-01-23T04:56:07.000+00:00
            createdDateTime: 2000-01-23T04:56:07.000+00:00
            term: P1Y
            provisioningState: Creating
        nextLink: nextLink
      properties:
        nextLink:
          description: Url to get the next page of reservationOrders.
          title: nextLink
          type: string
        value:
          items:
            $ref: '#/components/schemas/ReservationOrderResponse'
          title: value
          type: array
      title: ReservationOrderList
      type: object
    ReservationOrderProperties:
      example:
        expiryDate: 2000-01-23
        reservations:
        - kind: Microsoft.Compute
          name: name
          etag: 1
          location: westus
          id: id
          sku:
            name: name
          type: type
          properties:
            expiryDate: 2000-01-23
            splitProperties:
              splitSource: splitSource
              splitDestinations:
              - splitDestinations
              - splitDestinations
            mergeProperties:
              mergeSources:
              - mergeSources
              - mergeSources
              mergeDestination: mergeDestination
            quantity: 5
            appliedScopes:
            - appliedScopes
            - appliedScopes
            effectiveDateTime: 2000-01-23T04:56:07.000+00:00
            displayName: displayName
            appliedScopeType: Single
            lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: null
            extendedStatusInfo:
              message: message
              statusCode: None
        - kind: Microsoft.Compute
          name: name
          etag: 1
          location: westus
          id: id
          sku:
            name: name
          type: type
          properties:
            expiryDate: 2000-01-23
            splitProperties:
              splitSource: splitSource
              splitDestinations:
              - splitDestinations
              - splitDestinations
            mergeProperties:
              mergeSources:
              - mergeSources
              - mergeSources
              mergeDestination: mergeDestination
            quantity: 5
            appliedScopes:
            - appliedScopes
            - appliedScopes
            effectiveDateTime: 2000-01-23T04:56:07.000+00:00
            displayName: displayName
            appliedScopeType: Single
            lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: null
            extendedStatusInfo:
              message: message
              statusCode: None
        displayName: displayName
        originalQuantity: 6
        requestDateTime: 2000-01-23T04:56:07.000+00:00
        createdDateTime: 2000-01-23T04:56:07.000+00:00
        term: P1Y
        provisioningState: Creating
      properties:
        createdDateTime:
          description: This is the DateTime when the reservation was created.
          format: date-time
          title: createdDateTime
          type: string
        displayName:
          description: Friendly name for user to easily identified the reservation.
          title: displayName
          type: string
        expiryDate:
          description: This is the date when the Reservation will expire.
          format: date
          title: expiryDate
          type: string
        originalQuantity:
          description: Total Quantity of the SKUs purchased in the Reservation.
          format: int32
          title: originalQuantity
          type: integer
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        requestDateTime:
          description: This is the DateTime when the reservation was initially requested
            for purchase.
          format: date-time
          title: requestDateTime
          type: string
        reservations:
          items:
            $ref: '#/components/schemas/ReservationResponse'
          title: reservations
          type: array
        term:
          $ref: '#/components/schemas/ReservationTerm'
      title: ReservationOrderProperties
      type: object
    ReservationOrderResponse:
      example:
        name: name
        etag: 0
        id: id
        type: type
        properties:
          expiryDate: 2000-01-23
          reservations:
          - kind: Microsoft.Compute
            name: name
            etag: 1
            location: westus
            id: id
            sku:
              name: name
            type: type
            properties:
              expiryDate: 2000-01-23
              splitProperties:
                splitSource: splitSource
                splitDestinations:
                - splitDestinations
                - splitDestinations
              mergeProperties:
                mergeSources:
                - mergeSources
                - mergeSources
                mergeDestination: mergeDestination
              quantity: 5
              appliedScopes:
              - appliedScopes
              - appliedScopes
              effectiveDateTime: 2000-01-23T04:56:07.000+00:00
              displayName: displayName
              appliedScopeType: Single
              lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
              provisioningState: null
              extendedStatusInfo:
                message: message
                statusCode: None
          - kind: Microsoft.Compute
            name: name
            etag: 1
            location: westus
            id: id
            sku:
              name: name
            type: type
            properties:
              expiryDate: 2000-01-23
              splitProperties:
                splitSource: splitSource
                splitDestinations:
                - splitDestinations
                - splitDestinations
              mergeProperties:
                mergeSources:
                - mergeSources
                - mergeSources
                mergeDestination: mergeDestination
              quantity: 5
              appliedScopes:
              - appliedScopes
              - appliedScopes
              effectiveDateTime: 2000-01-23T04:56:07.000+00:00
              displayName: displayName
              appliedScopeType: Single
              lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
              provisioningState: null
              extendedStatusInfo:
                message: message
                statusCode: None
          displayName: displayName
          originalQuantity: 6
          requestDateTime: 2000-01-23T04:56:07.000+00:00
          createdDateTime: 2000-01-23T04:56:07.000+00:00
          term: P1Y
          provisioningState: Creating
      properties:
        etag:
          title: etag
          type: integer
        id:
          description: Identifier of the reservation
          readOnly: true
          title: id
          type: string
        name:
          description: Name of the reservation
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ReservationOrderProperties'
        type:
          description: Type of resource. "Microsoft.Capacity/reservations"
          readOnly: true
          title: type
          type: string
      title: ReservationOrderResponse
      type: object
      x-ms-azure-resource: true
    ReservationProperties:
      example:
        expiryDate: 2000-01-23
        splitProperties:
          splitSource: splitSource
          splitDestinations:
          - splitDestinations
          - splitDestinations
        mergeProperties:
          mergeSources:
          - mergeSources
          - mergeSources
          mergeDestination: mergeDestination
        quantity: 5
        appliedScopes:
        - appliedScopes
        - appliedScopes
        effectiveDateTime: 2000-01-23T04:56:07.000+00:00
        displayName: displayName
        appliedScopeType: Single
        lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
        provisioningState: null
        extendedStatusInfo:
          message: message
          statusCode: None
      properties:
        appliedScopeType:
          $ref: '#/components/schemas/AppliedScopeType'
        appliedScopes:
          description: List of the subscriptions that the benefit will be applied.
            Do not specify if AppliedScopeType is Shared.
          items:
            type: string
          title: AppliedScopes
          type: array
        displayName:
          description: Friendly name for user to easily identify the reservation
          title: displayName
          type: string
        effectiveDateTime:
          description: DateTime of the Reservation starting when this version is effective
            from.
          format: date-time
          title: effectiveDateTime
          type: string
        expiryDate:
          description: This is the date when the Reservation will expire.
          format: date
          title: expiryDate
          type: string
        extendedStatusInfo:
          $ref: '#/components/schemas/ExtendedStatusInfo'
        lastUpdatedDateTime:
          description: DateTime of the last time the Reservation was updated.
          format: date-time
          readOnly: true
          title: lastUpdatedDateTime
          type: string
        mergeProperties:
          $ref: '#/components/schemas/ReservationMergeProperties'
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        quantity:
          description: Quantity of the SKUs that are part of the Reservation.
          format: int32
          title: quantity
          type: integer
        splitProperties:
          $ref: '#/components/schemas/ReservationSplitProperties'
      title: ReservationProperties
      type: object
    ReservationResponse:
      example:
        kind: Microsoft.Compute
        name: name
        etag: 1
        location: westus
        id: id
        sku:
          name: name
        type: type
        properties:
          expiryDate: 2000-01-23
          splitProperties:
            splitSource: splitSource
            splitDestinations:
            - splitDestinations
            - splitDestinations
          mergeProperties:
            mergeSources:
            - mergeSources
            - mergeSources
            mergeDestination: mergeDestination
          quantity: 5
          appliedScopes:
          - appliedScopes
          - appliedScopes
          effectiveDateTime: 2000-01-23T04:56:07.000+00:00
          displayName: displayName
          appliedScopeType: Single
          lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
          provisioningState: null
          extendedStatusInfo:
            message: message
            statusCode: None
      properties:
        etag:
          title: etag
          type: integer
        id:
          description: Identifier of the reservation
          readOnly: true
          title: id
          type: string
        kind:
          description: Resource Provider type to be reserved.
          enum:
          - Microsoft.Compute
          title: kind
          type: string
          x-ms-enum:
            modelAsString: false
            name: Kind
        location:
          $ref: '#/components/schemas/Location'
        name:
          description: Name of the reservation
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ReservationProperties'
        sku:
          $ref: '#/components/schemas/SkuName'
        type:
          description: Type of resource. "Microsoft.Capacity/reservationOrders/reservations"
          readOnly: true
          title: type
          type: string
      title: ReservationResponse
      type: object
      x-ms-azure-resource: true
    ReservationSplitProperties:
      example:
        splitSource: splitSource
        splitDestinations:
        - splitDestinations
        - splitDestinations
      properties:
        splitDestinations:
          description: "List of destination Resource Id that are created due to split.\
            \ Format of the resource Id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
          items:
            type: string
          title: splitDestinations
          type: array
        splitSource:
          description: "Resource Id of the Reservation from which this is split. Format\
            \ of the resource Id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
          title: splitSource
          type: string
      title: ReservationSplitProperties
      type: object
    ReservationStatusCode:
      enum:
      - None
      - Pending
      - Active
      - PurchaseError
      - PaymentInstrumentError
      - Split
      - Merged
      - Expired
      - Succeeded
      title: ReservationStatusCode
      type: string
    ReservationTerm:
      description: Represent the term of Reservation.
      enum:
      - P1Y
      - P3Y
      title: ReservationTerm
      type: string
    SkuCapability:
      example:
        name: name
        value: value
      properties:
        name:
          description: An invariant to describe the feature.
          title: name
          type: string
        value:
          description: An invariant if the feature is measured by quantity.
          title: value
          type: string
      title: SkuCapability
      type: object
    SkuName:
      example:
        name: name
      properties:
        name:
          title: name
          type: string
      title: SkuName
      type: object
    SkuRestriction:
      example:
        values:
        - values
        - values
        reasonCode: reasonCode
        type: type
      properties:
        reasonCode:
          description: The reason for restriction.
          title: reasonCode
          type: string
        type:
          description: The type of restrictions.
          title: type
          type: string
        values:
          description: The value of restrictions. If the restriction type is set to
            location. This would be different locations where the SKU is restricted.
          items:
            type: string
          title: values
          type: array
      title: SkuRestriction
      type: object
    SplitProperties:
      example:
        reservationId: reservationId
        quantities:
        - 0
        - 0
      properties:
        quantities:
          description: List of the quantities in the new reservations to create.
          items:
            type: integer
          title: quantities
          type: array
        reservationId:
          description: "Resource id of the reservation to be split. Format of the\
            \ resource id should be /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}"
          title: reservationId
          type: string
      title: SplitProperties
      type: object
    SplitRequest:
      example:
        properties:
          reservationId: reservationId
          quantities:
          - 0
          - 0
      properties:
        properties:
          $ref: '#/components/schemas/SplitProperties'
      title: SplitRequest
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
