openapi: 3.0.1
info:
  title: KustoManagementClient
  version: 2019-09-07
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-09-07/kusto.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azure-kusto
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.Kusto/operations:
    get:
      description: Lists available operations for the Microsoft.Kusto provider.
      operationId: operations_list
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: The operation was successful. The response contains the list
            of available operations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-examples:
        KustoOperationsList:
          parameters:
            api-version: 2019-09-07
          responses:
            "200":
              body:
                value:
                - display:
                    description: operation description
                    operation: operationName
                    provider: providerName
                    resource: resourceName
                  name: operationName
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Kusto/clusters:
    get:
      description: Lists all Kusto clusters within a subscription.
      operationId: clusters_list
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersList:
          parameters:
            api-version: 2019-09-07
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                  location: westus
                  name: KustoClusterRPTest4
                  properties:
                    keyVaultProperties:
                      keyName: keyName
                      keyVaultUri: https://dummy.keyvault.com
                      keyVersion: keyVersion
                    provisioningState: Succeeded
                  sku:
                    capacity: 2
                    name: Standard_L8s
                    tier: Standard
                  type: Microsoft.Kusto/Clusters
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest3
                  location: westus
                  name: KustoClusterRPTest3
                  properties:
                    provisioningState: Succeeded
                  sku:
                    capacity: 2
                    name: Standard_L8s
                    tier: Standard
                  type: Microsoft.Kusto/Clusters
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Kusto/locations/{location}/checkNameAvailability:
    post:
      description: Checks that the cluster name is valid and is not already in use.
      operationId: clusters_check_name_availability
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure location.
        in: path
        name: location
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterCheckNameRequest'
        description: The name of the cluster.
        required: true
        x-body-name: clusterName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameResult'
          description: OK -- Operation to check the kusto resource name availability
            was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersCheckNameAvailability:
          parameters:
            api-version: 2019-09-07
            clusterName:
              name: kuskusprod
              type: Microsoft.Kusto/clusters
            location: wus
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                message: Name 'kuskusprod' is already taken. Please specify a different
                  name
                name: kuskusprod
                nameAvailable: false
      x-codegen-request-body-name: clusterName
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Kusto/skus:
    get:
      description: Lists eligible SKUs for Kusto resource provider.
      operationId: clusters_list_skus
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuDescriptionList'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        KustoClustersListSkus:
          parameters:
            api-version: 2019-09-07
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - locationInfo:
                  - location: West US
                    zones:
                    - "1"
                    - "2"
                    - "3"
                  - location: West Europe
                    zones: []
                  locations:
                  - West US
                  - West Europe
                  name: Standard_D13_v2
                  tier: Standard
                - locationInfo:
                  - location: West US
                    zones:
                    - "1"
                    - "2"
                    - "3"
                  - location: West Europe
                    zones: []
                  locations:
                  - West US
                  - West Europe
                  name: Standard_D14_v2
                  tier: Standard
                - locationInfo:
                  - location: West US
                    zones:
                    - "1"
                    - "2"
                    - "3"
                  - location: West Europe
                    zones: []
                  locations:
                  - West US
                  - West Europe
                  name: L8
                  tier: Standard
                - locationInfo:
                  - location: West US
                    zones:
                    - "1"
                    - "2"
                    - "3"
                  - location: West Europe
                    zones: []
                  locations:
                  - West US
                  - West Europe
                  name: L16
                  tier: Standard
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters:
    get:
      description: Lists all Kusto clusters within a resource group.
      operationId: clusters_list_by_resource_group
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersListByResourceGroup:
          parameters:
            api-version: 2019-09-07
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                  location: westus
                  name: KustoClusterRPTest4
                  properties:
                    keyVaultProperties:
                      keyName: keyName
                      keyVaultUri: https://dummy.keyvault.com
                      keyVersion: keyVersion
                    provisioningState: Succeeded
                  sku:
                    capacity: 2
                    name: Standard_L8s
                    tier: Standard
                  type: Microsoft.Kusto/Clusters
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest3
                  location: westus
                  name: KustoClusterRPTest3
                  properties:
                    provisioningState: Succeeded
                  sku:
                    capacity: 2
                    name: Standard_L8s
                    tier: Standard
                  type: Microsoft.Kusto/Clusters
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}:
    delete:
      description: Deletes a Kusto cluster.
      operationId: clusters_delete
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK -- cluster deleted successfully.
        "202":
          content: {}
          description: Accepted the delete cluster request.
        "204":
          content: {}
          description: NoContent -- cluster does not exist in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersDelete:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
    get:
      description: Gets a Kusto cluster.
      operationId: clusters_get
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: The Kusto cluster.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersGet:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                identity:
                  principalId: faabad1f-4876-463c-af9d-6ba2d2d2394c
                  tenantId: b932977f-6277-4ab7-a2cd-5bd21f07aaf4
                  type: SystemAssigned
                  userAssignedIdentities: {}
                location: westus
                name: KustoClusterRPTest4
                properties:
                  enableStreamingIngest: true
                  keyVaultProperties:
                    keyName: keyName
                    keyVaultUri: https://dummy.keyvault.com
                    keyVersion: keyVersion
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: Standard_L8s
                  tier: Standard
                type: Microsoft.Kusto/Clusters
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
    patch:
      description: Update a Kusto cluster.
      operationId: clusters_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUpdate'
        description: The Kusto cluster parameters supplied to the Update operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully updated the Cluster.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully updated the cluster.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully updated the cluster.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersUpdate:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            identity:
              type: SystemAssigned
            parameters:
              location: westus
              properties:
                keyVaultProperties:
                  keyName: keyName
                  keyVaultUri: https://dummy.keyvault.com
                  keyVersion: keyVersion
            properties:
              enableStreamingIngest: true
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                identity:
                  principalId: faabad1f-4876-463c-af9d-6ba2d2d2394c
                  tenantId: b932977f-6277-4ab7-a2cd-5bd21f07aaf4
                  type: SystemAssigned
                  userAssignedIdentities: {}
                location: westus
                name: KustoClusterRPTest4
                properties:
                  enableStreamingIngest: true
                  keyVaultProperties:
                    keyName: keyName
                    keyVaultUri: https://dummy.keyvault.com
                    keyVersion: keyVersion
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: Standard_L8s
                  tier: Standard
                type: Microsoft.Kusto/Clusters
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                identity:
                  principalId: faabad1f-4876-463c-af9d-6ba2d2d2394c
                  tenantId: b932977f-6277-4ab7-a2cd-5bd21f07aaf4
                  type: SystemAssigned
                  userAssignedIdentities: {}
                location: westus
                name: KustoClusterRPTest4
                properties:
                  enableStreamingIngest: true
                  keyVaultProperties:
                    keyName: keyName
                    keyVaultUri: https://dummy.keyvault.com
                    keyVersion: keyVersion
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: Standard_L8s
                  tier: Standard
                type: Microsoft.Kusto/Clusters
            "202":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                identity:
                  principalId: faabad1f-4876-463c-af9d-6ba2d2d2394c
                  tenantId: b932977f-6277-4ab7-a2cd-5bd21f07aaf4
                  type: SystemAssigned
                  userAssignedIdentities: {}
                location: westus
                name: KustoClusterRPTest4
                properties:
                  enableStreamingIngest: true
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: Standard_L8s
                  tier: Standard
                type: Microsoft.Kusto/Clusters
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
    put:
      description: Create or update a Kusto cluster.
      operationId: clusters_create_or_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
        description: The Kusto cluster parameters supplied to the CreateOrUpdate operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully updated the Cluster.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Successfully created the cluster.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Clusters
      x-ms-examples:
        KustoClustersCreateOrUpdate:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            parameters:
              identity:
                type: SystemAssigned
              location: westus
              properties:
                enableStreamingIngest: true
                keyVaultProperties:
                  keyName: keyName
                  keyVaultUri: https://dummy.keyvault.com
                  keyVersion: keyVersion
              sku:
                capacity: 2
                name: Standard_L8s
                tier: Standard
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                identity:
                  principalId: faabad1f-4876-463c-af9d-6ba2d2d2394c
                  tenantId: b932977f-6277-4ab7-a2cd-5bd21f07aaf4
                  type: SystemAssigned
                  userAssignedIdentities: {}
                location: westus
                name: KustoClusterRPTest4
                properties:
                  enableStreamingIngest: true
                  keyVaultProperties:
                    keyName: keyName
                    keyVaultUri: https://dummy.keyvault.com
                    keyVersion: keyVersion
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: Standard_L8s
                  tier: Standard
                type: Microsoft.Kusto/Clusters
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                identity:
                  principalId: faabad1f-4876-463c-af9d-6ba2d2d2394c
                  tenantId: b932977f-6277-4ab7-a2cd-5bd21f07aaf4
                  type: SystemAssigned
                  userAssignedIdentities: {}
                location: westus
                name: KustoClusterRPTest4
                properties:
                  enableStreamingIngest: true
                  keyVaultProperties:
                    keyName: keyName
                    keyVaultUri: https://dummy.keyvault.com
                    keyVersion: keyVersion
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: Standard_L8s
                  tier: Standard
                type: Microsoft.Kusto/Clusters
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.clusters_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/attachedDatabaseConfigurations
  : get:
      description: Returns the list of attached database configurations of the given
        Kusto cluster.
      operationId: attached_database_configurations_list_by_cluster
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachedDatabaseConfigurationListResult'
          description: Successfully retrieved the list of attached database configurations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AttachedDatabaseConfigurations
      x-ms-examples:
        KustoAttachedDatabaseConfigurationsListByCluster:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/AttachedDatabaseConfigurations/KustoDatabase8
                  location: westus
                  name: KustoClusterRPTest4/KustoDatabase8
                  properties:
                    clusterResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterLeader
                    databaseName: db1
                    defaultPrincipalsModificationKind: Union
                    provisioningState: Succeeded
                  type: Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/AttachedDatabaseConfigurations/KustoDatabase9
                  location: westus
                  name: KustoClusterRPTest4/KustoDatabase9
                  properties:
                    clusterResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterLeader
                    databaseName: db1
                    defaultPrincipalsModificationKind: Union
                    provisioningState: Succeeded
                  type: Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.attached_database_configurations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/attachedDatabaseConfigurations/{attachedDatabaseConfigurationName}
  : delete:
      description: Deletes the attached database configuration with the given name.
      operationId: attached_database_configurations_delete
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the attached database configuration.
        in: path
        name: attached_database_configuration_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted the database.
        "202":
          content: {}
          description: Accepted.
        "204":
          content: {}
          description: The specified database does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AttachedDatabaseConfigurations
      x-ms-examples:
        AttachedDatabaseConfigurationsDelete:
          parameters:
            api-version: 2019-09-07
            attachedDatabaseConfigurationName: attachedDatabaseConfigurations1
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.attached_database_configurations_controller
    get:
      description: Returns an attached database configuration.
      operationId: attached_database_configurations_get
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the attached database configuration.
        in: path
        name: attachedDatabaseConfigurationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachedDatabaseConfiguration'
          description: Successfully retrieved the specified attached database configuration.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AttachedDatabaseConfigurations
      x-ms-examples:
        AttachedDatabaseConfigurationsGet:
          parameters:
            api-version: 2019-09-07
            attachedDatabaseConfigurationName: attachedDatabaseConfigurations1
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/AttachedDatabaseConfigurations/attachedDatabaseConfigurations1
                location: westus
                name: KustoClusterRPTest4/attachedDatabaseConfigurations1
                properties:
                  clusterResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                  databaseName: '*'
                  defaultPrincipalsModificationKind: Union
                  provisioningState: Succeeded
                type: Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations
      x-openapi-router-controller: openapi_server.controllers.attached_database_configurations_controller
    put:
      description: Creates or updates an attached database configuration.
      operationId: attached_database_configurations_create_or_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the attached database configuration.
        in: path
        name: attached_database_configuration_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachedDatabaseConfiguration'
        description: The database parameters supplied to the CreateOrUpdate operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachedDatabaseConfiguration'
          description: Successfully updated the database.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachedDatabaseConfiguration'
          description: Successfully created the database.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachedDatabaseConfiguration'
          description: Accepted the create database request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AttachedDatabaseConfigurations
      x-ms-examples:
        AttachedDatabaseConfigurationsCreateOrUpdate:
          parameters:
            api-version: 2019-09-07
            attachedDatabaseConfigurationName: attachedDatabaseConfigurations1
            clusterName: KustoClusterRPTest4
            parameters:
              location: westus
              properties:
                clusterResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterLeader
                databaseName: db1
                defaultPrincipalsModificationKind: Union
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/attachedDatabaseConfigurations/attachedDatabaseConfigurations1
                location: westus
                name: KustoClusterRPTest4/attachedDatabaseConfigurations1
                properties:
                  clusterResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterLeader
                  databaseName: db1
                  defaultPrincipalsModificationKind: Union
                  provisioningState: Succeeded
                type: Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/attachedDatabaseConfigurations/attachedDatabaseConfigurations1
                location: westus
                name: KustoClusterRPTest4/attachedDatabaseConfigurations1
                properties:
                  clusterResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterLeader
                  databaseName: db1
                  defaultPrincipalsModificationKind: Union
                  provisioningState: Creating
                type: Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations
            "202":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/attachedDatabaseConfigurations/attachedDatabaseConfigurations1
                location: westus
                name: KustoClusterRPTest4/attachedDatabaseConfigurations1
                properties:
                  clusterResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterLeader
                  databaseName: db1
                  defaultPrincipalsModificationKind: Union
                  provisioningState: Creating
                type: Microsoft.Kusto/Clusters/AttachedDatabaseConfigurations
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.attached_database_configurations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/checkNameAvailability
  : post:
      description: Checks that the database name is valid and is not already in use.
      operationId: databases_check_name_availability
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameRequest'
        description: The name of the resource.
        required: true
        x-body-name: resourceName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameResult'
          description: OK -- Operation to check the kusto resource name availability
            was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabaseCheckNameAvailability:
          parameters:
            api-version: 2019-09-07
            clusterName: kustoProd
            resourceGroupName: kustorptest
            resourceName:
              name: kuskus
              type: Microsoft.Kusto/clusters/databases
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                message: Name 'kuskus' is already taken. Please specify a different
                  name
                name: kuskus
                nameAvailable: false
      x-codegen-request-body-name: resourceName
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases:
    get:
      description: Returns the list of databases of the given Kusto cluster.
      operationId: databases_list_by_cluster
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseListResult'
          description: Successfully retrieved the list of databases.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabasesListByCluster:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                  location: westus
                  name: KustoClusterRPTest4/KustoDatabase8
                  properties:
                    provisioningState: Succeeded
                    softDeletePeriod: P1D
                  type: Microsoft.Kusto/Clusters/Databases
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase9
                  location: westus
                  name: KustoClusterRPTest4/KustoDatabase9
                  properties:
                    provisioningState: Succeeded
                    softDeletePeriod: P1D
                  type: Microsoft.Kusto/Clusters/Databases
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}
  : delete:
      description: Deletes the database with the given name.
      operationId: databases_delete
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted the database.
        "202":
          content: {}
          description: Accepted.
        "204":
          content: {}
          description: The specified database does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabasesDelete:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    get:
      description: Returns a database.
      operationId: databases_get
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully retrieved the specified database.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabasesGet:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                kind: ReadWrite
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/Clusters/Databases
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    patch:
      description: Updates a database.
      operationId: databases_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Database'
        description: The database parameters supplied to the Update operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully updated the database.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully updated the database.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Accepted the update database request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabasesUpdate:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            parameters:
              properties:
                softDeletePeriod: P1D
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                kind: ReadWrite
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/Clusters/Databases
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                kind: ReadWrite
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/Clusters/Databases
            "202":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                kind: ReadWrite
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/Clusters/Databases
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    put:
      description: Creates or updates a database.
      operationId: databases_create_or_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Database'
        description: The database parameters supplied to the CreateOrUpdate operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully updated the database.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully created the database.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Accepted the create database request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabasesCreateOrUpdate:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            parameters:
              location: westus
              properties:
                softDeletePeriod: P1D
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                kind: ReadWrite
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/Clusters/Databases
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                kind: ReadWrite
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/Clusters/Databases
            "202":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                kind: ReadWrite
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/Clusters/Databases
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/addPrincipals
  : post:
      description: Add Database principals permissions.
      operationId: databases_add_principals
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabasePrincipalListRequest'
        description: List of database principals to add.
        required: true
        x-body-name: databasePrincipalsToAdd
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabasePrincipalListResult'
          description: OK -- Successfully added the list of database principals. Returns
            the updated list of principals.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabaseAddPrincipals:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            databaseName: databaseName1
            databasePrincipalsToAdd:
              value:
              - appId: ""
                email: user@microsoft.com
                fqn: aaduser=some_guid
                name: Some User
                role: Admin
                type: User
              - appId: ""
                email: kusto@microsoft.com
                fqn: aadgroup=some_guid
                name: Kusto
                role: Viewer
                type: Group
              - appId: some_guid_app_id
                email: ""
                fqn: aadapp=some_guid_app_id
                name: SomeApp
                role: Admin
                type: App
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - appId: ""
                  email: user@microsoft.com
                  fqn: aaduser=some_guid
                  name: Some User
                  role: Admin
                  type: User
                - appId: ""
                  email: kusto@microsoft.com
                  fqn: aadgroup=some_guid
                  name: Kusto
                  role: Viewer
                  type: Group
                - appId: some_guid_app_id
                  email: ""
                  fqn: aadapp=some_guid_app_id
                  name: SomeApp
                  role: Admin
                  type: App
      x-codegen-request-body-name: databasePrincipalsToAdd
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/checkNameAvailability
  : post:
      description: Checks that the data connection name is valid and is not already
        in use.
      operationId: data_connections_check_name_availability
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataConnectionCheckNameRequest'
        description: The name of the data connection.
        required: true
        x-body-name: dataConnectionName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameResult'
          description: OK -- Operation to check the Kusto resource name availability
            was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DataConnections
      x-ms-examples:
        KustoDataConnectionsCheckNameAvailability:
          parameters:
            api-version: 2019-09-07
            clusterName: kustoProd
            dataConnectionName:
              name: DataConnections8
              type: Microsoft.Kusto/clusters/databases/dataConnections
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                message: Name 'DataConnections8' is already taken. Please specify
                  a different name.
                name: DataConnections8
                nameAvailable: false
                reason: AlreadyExists
      x-codegen-request-body-name: dataConnectionName
      x-openapi-router-controller: openapi_server.controllers.data_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnectionValidation
  : post:
      description: Checks that the data connection parameters are valid.
      operationId: data_connections_data_connection_validation
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataConnectionValidation'
        description: The data connection parameters supplied to the CreateOrUpdate
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnectionValidationListResult'
          description: OK -- Operation to check the kusto resource name availability
            was successful.
      tags:
      - DataConnections
      x-ms-examples:
        KustoDataConnectionValidation:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            parameters:
              dataConnectionName: DataConnections8
              properties:
                consumerGroup: testConsumerGroup1
                eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                kind: EventHub
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
              - errorMessage: event hub namespace does not exist
              - errorMessage: database does not exist
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.data_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnections
  : get:
      description: Returns the list of data connections of the given Kusto database.
      operationId: data_connections_list_by_database
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnectionListResult'
          description: Successfully retrieved the list of data connections.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DataConnections
      x-ms-examples:
        KustoDatabasesListByCluster:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/KustoDataConnection8
                  kind: EventHub
                  location: westus
                  name: KustoClusterRPTest4/KustoDatabase8/KustoDataConnection8
                  properties:
                    consumerGroup: testConsumerGroup1
                    eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                  type: Microsoft.Kusto/Clusters/Databases/DataConnections
                - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase9/DataConnections/KustoDataConnection9
                  kind: EventHub
                  location: westus
                  name: KustoClusterRPTest4/KustoDatabase9/KustoDataConnection9
                  properties:
                    consumerGroup: testConsumerGroup2
                    eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns2/eventhubs/eventhubTest2
                  type: Microsoft.Kusto/Clusters/Databases/DataConnections
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.data_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnections/{dataConnectionName}
  : delete:
      description: Deletes the data connection with the given name.
      operationId: data_connections_delete
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the data connection.
        in: path
        name: data_connection_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted the data connection.
        "202":
          content: {}
          description: Accepted.
        "204":
          content: {}
          description: The specified data connection does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DataConnections
      x-ms-examples:
        KustoDataConnectionsDelete:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            dataConnectionName: kustoeventhubconnection1
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.data_connections_controller
    get:
      description: Returns a data connection.
      operationId: data_connections_get
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the data connection.
        in: path
        name: dataConnectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Successfully retrieved the specified data connection.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DataConnections
      x-ms-examples:
        KustoDataConnectionsGet:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            dataConnectionName: DataConnections8
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/Clusters/Databases/DataConnections
      x-openapi-router-controller: openapi_server.controllers.data_connections_controller
    patch:
      description: Updates a data connection.
      operationId: data_connections_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the data connection.
        in: path
        name: data_connection_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataConnection'
        description: The data connection parameters supplied to the Update operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Successfully updated the data connection.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Successfully updated the data connection.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Accepted the update data connection request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DataConnections
      x-ms-examples:
        KustoDataConnectionsUpdate:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            dataConnectionName: DataConnections8
            databaseName: KustoDatabase8
            parameters:
              kind: EventHub
              location: westus
              properties:
                consumerGroup: testConsumerGroup1
                eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/Clusters/Databases/DataConnections
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/Clusters/Databases/DataConnections
            "202":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/Clusters/Databases/DataConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.data_connections_controller
    put:
      description: Creates or updates a data connection.
      operationId: data_connections_create_or_update
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the data connection.
        in: path
        name: data_connection_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataConnection'
        description: The data connection parameters supplied to the CreateOrUpdate
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Successfully updated the data connection.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Successfully created the data connection.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnection'
          description: Accepted the create data connection request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - DataConnections
      x-ms-examples:
        KustoDataConnectionsCreateOrUpdate:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            dataConnectionName: DataConnections8
            databaseName: KustoDatabase8
            parameters:
              kind: EventHub
              location: westus
              properties:
                consumerGroup: testConsumerGroup1
                eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/Clusters/Databases/DataConnections
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/Clusters/Databases/DataConnections
            "202":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/Clusters/Databases/DataConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.data_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/listPrincipals
  : post:
      description: Returns a list of database principals of the given Kusto cluster
        and database.
      operationId: databases_list_principals
      parameters:
      - description: The name of the resource group containing the Kusto cluster.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Kusto cluster.
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database in the Kusto cluster.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabasePrincipalListResult'
          description: Successfully retrieved the list of database principals.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Databases
      x-ms-examples:
        KustoDatabaseListPrincipals:
          parameters:
            api-version: 2019-09-07
            clusterName: KustoClusterRPTest4
            databaseName: databaseName1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
[...]
