openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Lookups
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_lookups_v2.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_lookups_v2
servers:
- url: https://lookups.twilio.com
tags:
- name: LookupsV2PhoneNumber
paths:
  /v2/PhoneNumbers/{PhoneNumber}:
    description: Query information on a phone number so that you can make a trusted
      interaction with your user
    get:
      description: ""
      operationId: FetchPhoneNumber
      parameters:
      - description: The phone number to lookup in E.164 or national format. Default
          country code is +1 (North America).
        explode: false
        in: path
        name: PhoneNumber
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "A comma-separated list of fields to return. Possible values\
          \ are validation, caller_name, sim_swap, call_forwarding, line_status, line_type_intelligence,\
          \ identity_match, reassigned_number, sms_pumping_risk, phone_number_quality_score."
        explode: true
        in: query
        name: Fields
        required: false
        schema:
          type: string
        style: form
      - description: "The [country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ used if the phone number provided is in national format."
        explode: true
        in: query
        name: CountryCode
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: User’s first name. This query parameter is only used (optionally)
          for identity_match package requests.
        explode: true
        in: query
        name: FirstName
        required: false
        schema:
          type: string
        style: form
      - description: User’s last name. This query parameter is only used (optionally)
          for identity_match package requests.
        explode: true
        in: query
        name: LastName
        required: false
        schema:
          type: string
        style: form
      - description: User’s first address line. This query parameter is only used
          (optionally) for identity_match package requests.
        explode: true
        in: query
        name: AddressLine1
        required: false
        schema:
          type: string
        style: form
      - description: User’s second address line. This query parameter is only used
          (optionally) for identity_match package requests.
        explode: true
        in: query
        name: AddressLine2
        required: false
        schema:
          type: string
        style: form
      - description: User’s city. This query parameter is only used (optionally) for
          identity_match package requests.
        explode: true
        in: query
        name: City
        required: false
        schema:
          type: string
        style: form
      - description: "User’s country subdivision, such as state, province, or locality.\
          \ This query parameter is only used (optionally) for identity_match package\
          \ requests."
        explode: true
        in: query
        name: State
        required: false
        schema:
          type: string
        style: form
      - description: User’s postal zip code. This query parameter is only used (optionally)
          for identity_match package requests.
        explode: true
        in: query
        name: PostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "User’s country, up to two characters. This query parameter is\
          \ only used (optionally) for identity_match package requests."
        explode: true
        in: query
        name: AddressCountryCode
        required: false
        schema:
          format: iso-country-code
          type: string
        style: form
      - description: "User’s national ID, such as SSN or Passport ID. This query parameter\
          \ is only used (optionally) for identity_match package requests."
        explode: true
        in: query
        name: NationalId
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: sensitive
      - description: "User’s date of birth, in YYYYMMDD format. This query parameter\
          \ is only used (optionally) for identity_match package requests."
        explode: true
        in: query
        name: DateOfBirth
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: sensitive
      - description: The date you obtained consent to call or text the end-user of
          the phone number or a date on which you are reasonably certain that the
          end-user could still be reached at that number. This query parameter is
          only used (optionally) for reassigned_number package requests.
        explode: true
        in: query
        name: LastVerifiedDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lookups.v2.phone_number'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - LookupsV2PhoneNumber
      x-maturity:
      - Beta
      x-accepts:
      - application/json
    servers:
    - url: https://lookups.twilio.com
    x-twilio:
      defaultOutputProperties:
      - calling_country_code
      - phone_number
      - country_code
      - valid
      - national_format
      pathType: instance
components:
  schemas:
    lookups.v2.phone_number:
      example:
        national_format: national_format
        phone_number_quality_score: ""
        calling_country_code: calling_country_code
        line_status: ""
        call_forwarding: ""
        url: https://openapi-generator.tech
        valid: true
        caller_name: ""
        country_code: country_code
        reassigned_number: ""
        sms_pumping_risk: ""
        identity_match: ""
        phone_number: phone_number
        validation_errors:
        - validation_errors
        - validation_errors
        sim_swap: ""
        line_type_intelligence: ""
      properties:
        call_forwarding:
          description: An object that contains information on the unconditional call
            forwarding status of mobile phone number.
          nullable: true
        caller_name:
          description: "An object that contains caller name information based on [CNAM](https://support.twilio.com/hc/en-us/articles/360051670533-Getting-Started-with-CNAM-Caller-ID)."
          nullable: true
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        calling_country_code:
          description: International dialing prefix of the phone number defined in
            the E.164 standard.
          nullable: true
          type: string
        country_code:
          description: "The phone number's [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        identity_match:
          description: "An object that contains identity match information. The result\
            \ of comparing user-provided information including name, address, date\
            \ of birth, national ID, against authoritative phone-based data sources"
          nullable: true
        line_status:
          description: An object that contains line status information for a mobile
            phone number.
          nullable: true
        line_type_intelligence:
          description: "An object that contains line type information including the\
            \ carrier name, mobile country code, and mobile network code."
          nullable: true
        national_format:
          description: "The phone number in [national format](https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers)."
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        phone_number:
          description: "The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164)\
            \ format, which consists of a + followed by the country code and subscriber\
            \ number."
          format: phone-number
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        phone_number_quality_score:
          description: An object that contains information of a mobile phone number
            quality score. Quality score will return a risk score about the phone
            number.
          nullable: true
        reassigned_number:
          description: An object that contains reassigned number information. Reassigned
            Numbers will return a phone number's reassignment status given a phone
            number and date
          nullable: true
        sim_swap:
          description: An object that contains information on the last date the subscriber
            identity module (SIM) was changed for a mobile phone number.
          nullable: true
        sms_pumping_risk:
          description: An object that contains information on if a phone number has
            been currently or previously blocked by Verify Fraud Guard for receiving
            malicious SMS pumping traffic as well as other signals associated with
            risky carriers and low conversion rates.
          nullable: true
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
        valid:
          description: Boolean which indicates if the phone number is in a valid range
            that can be freely assigned by a carrier to a user.
          nullable: true
          type: boolean
        validation_errors:
          description: "Contains reasons why a phone number is invalid. Possible values:\
            \ TOO_SHORT, TOO_LONG, INVALID_BUT_POSSIBLE, INVALID_COUNTRY_CODE, INVALID_LENGTH,\
            \ NOT_A_NUMBER."
          items:
            $ref: '#/components/schemas/phone_number_enum_validation_error'
          nullable: true
          type: array
      type: object
    phone_number_enum_type:
      enum:
      - landline
      - mobile
      - voip
      type: string
    phone_number_enum_validation_error:
      enum:
      - TOO_SHORT
      - TOO_LONG
      - INVALID_BUT_POSSIBLE
      - INVALID_COUNTRY_CODE
      - INVALID_LENGTH
      - NOT_A_NUMBER
      type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
- description: PLEASE NOTE that this is a Beta product that is subject to change.
    Use it with caution.
  name: Beta

