openapi: 3.0.1
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2015-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2015-12-01/farms.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-farms
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms:
    get:
      description: Returns a list of all storage farms.
      operationId: Farms_List
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmList'
          description: OK -- The list of storage farms has been returned.
      tags:
      - Farms
      x-ms-examples:
        Returns a list of all storage farms.:
          parameters:
            api-version: 2015-12-01-preview
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af
                  location: local
                  name: 3cf03497-c44a-4e51-a56f-3987d88c70af
                  properties:
                    farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
                    settings:
                      bandwidthThrottleIsEnabled: false
                      corsAllowedOriginsList: https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/
                      dataCenterUriHostSuffixes: local.azurestack.external
                      defaultEgressThresholdInGbps: 3
                      defaultIngressThresholdInGbps: 2
                      defaultIntranetEgressThresholdInGbps: 3
                      defaultIntranetIngressThresholdInGbps: 2
                      defaultRequestThresholdInTps: 200
                      defaultThrottleProbabilityDecayIntervalInSeconds: 240
                      defaultTotalEgressThresholdInGbps: 5
                      defaultTotalIngressThresholdInGbps: 5
                      feedbackRefreshIntervalInSeconds: 10
                      gracePeriodForFullThrottlingInRefreshIntervals: 3
                      gracePeriodMaxThrottleProbability: 0.9
                      hostStyleHttpPort: 0
                      hostStyleHttpsPort: 0
                      minimumEgressThresholdInGbps: 8.0E-4
                      minimumIngressThresholdInGbps: 8.0E-4
                      minimumIntranetEgressThresholdInGbps: 8.0E-4
                      minimumIntranetIngressThresholdInGbps: 8.0E-4
                      minimumRequestThresholdInTps: 1
                      minimumTotalEgressThresholdInGbps: 8.0E-4
                      minimumTotalIngressThresholdInGbps: 8.0E-4
                      numberOfAccountsToSync: 20
                      overallEgressThresholdInGbps: 30
                      overallIngressThresholdInGbps: 25
                      overallIntranetEgressThresholdInGbps: 30
                      overallIntranetIngressThresholdInGbps: 25
                      overallRequestThresholdInTps: 10000
                      overallTotalEgressThresholdInGbps: 50
                      overallTotalIngressThresholdInGbps: 50
                      retentionPeriodForDeletedStorageAccountsInDays: 0
                      settingsPollingIntervalInSecond: 60
                      toleranceFactorForEgress: 2
                      toleranceFactorForIngress: 2
                      toleranceFactorForIntranetEgress: 2
                      toleranceFactorForIntranetIngress: 2
                      toleranceFactorForTotalEgress: 2
                      toleranceFactorForTotalIngress: 2
                      toleranceFactorForTps: 2
                      usageCollectionIntervalInSeconds: 10
                    settingsStore: AzS-ACS01.azurestack.local:19000
                    version: 2015-12-01-preview
                  type: Microsoft.Storage.Admin/farms
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}:
    get:
      description: Returns the Storage properties and settings for a specified storage
        farm.
      operationId: Farms_Get
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Farm'
          description: OK -- The farm has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - Farms
      x-ms-examples:
        Returns the Storage properties and settings for a specified storage farm.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af
                properties:
                  farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
                  settings:
                    bandwidthThrottleIsEnabled: false
                    corsAllowedOriginsList: https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/
                    dataCenterUriHostSuffixes: local.azurestack.external
                    defaultEgressThresholdInGbps: 3
                    defaultIngressThresholdInGbps: 2
                    defaultIntranetEgressThresholdInGbps: 3
                    defaultIntranetIngressThresholdInGbps: 2
                    defaultRequestThresholdInTps: 200
                    defaultThrottleProbabilityDecayIntervalInSeconds: 240
                    defaultTotalEgressThresholdInGbps: 5
                    defaultTotalIngressThresholdInGbps: 5
                    feedbackRefreshIntervalInSeconds: 10
                    gracePeriodForFullThrottlingInRefreshIntervals: 3
                    gracePeriodMaxThrottleProbability: 0.9
                    hostStyleHttpPort: 0
                    hostStyleHttpsPort: 0
                    minimumEgressThresholdInGbps: 8.0E-4
                    minimumIngressThresholdInGbps: 8.0E-4
                    minimumIntranetEgressThresholdInGbps: 8.0E-4
                    minimumIntranetIngressThresholdInGbps: 8.0E-4
                    minimumRequestThresholdInTps: 1
                    minimumTotalEgressThresholdInGbps: 8.0E-4
                    minimumTotalIngressThresholdInGbps: 8.0E-4
                    numberOfAccountsToSync: 20
                    overallEgressThresholdInGbps: 30
                    overallIngressThresholdInGbps: 25
                    overallIntranetEgressThresholdInGbps: 30
                    overallIntranetIngressThresholdInGbps: 25
                    overallRequestThresholdInTps: 10000
                    overallTotalEgressThresholdInGbps: 50
                    overallTotalIngressThresholdInGbps: 50
                    retentionPeriodForDeletedStorageAccountsInDays: 0
                    settingsPollingIntervalInSecond: 60
                    toleranceFactorForEgress: 2
                    toleranceFactorForIngress: 2
                    toleranceFactorForIntranetEgress: 2
                    toleranceFactorForIntranetIngress: 2
                    toleranceFactorForTotalEgress: 2
                    toleranceFactorForTotalIngress: 2
                    toleranceFactorForTps: 2
                    usageCollectionIntervalInSeconds: 10
                  settingsStore: AzS-ACS01.azurestack.local:19000
                  version: 2015-12-01-preview
                type: Microsoft.Storage.Admin/farms
            "404": {}
      x-accepts:
      - application/json
    patch:
      description: Update an existing storage farm.
      operationId: Farms_Update
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Farm'
        description: Farm to update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Farm'
          description: OK -- The properties and settings of storage farm have been
            updated.
      tags:
      - Farms
      x-ms-examples:
        Update an existing storage farm.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            farmObject:
              id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af
              location: local
              name: 3cf03497-c44a-4e51-a56f-3987d88c70af
              properties:
                farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
                settings:
                  bandwidthThrottleIsEnabled: false
                  corsAllowedOriginsList: https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/
                  dataCenterUriHostSuffixes: local.azurestack.external
                  defaultEgressThresholdInGbps: 3
                  defaultIngressThresholdInGbps: 2
                  defaultIntranetEgressThresholdInGbps: 3
                  defaultIntranetIngressThresholdInGbps: 2
                  defaultRequestThresholdInTps: 200
                  defaultThrottleProbabilityDecayIntervalInSeconds: 240
                  defaultTotalEgressThresholdInGbps: 5
                  defaultTotalIngressThresholdInGbps: 5
                  feedbackRefreshIntervalInSeconds: 10
                  gracePeriodForFullThrottlingInRefreshIntervals: 3
                  gracePeriodMaxThrottleProbability: 0.9
                  hostStyleHttpPort: 0
                  hostStyleHttpsPort: 0
                  minimumEgressThresholdInGbps: 8.0E-4
                  minimumIngressThresholdInGbps: 8.0E-4
                  minimumIntranetEgressThresholdInGbps: 8.0E-4
                  minimumIntranetIngressThresholdInGbps: 8.0E-4
                  minimumRequestThresholdInTps: 1
                  minimumTotalEgressThresholdInGbps: 8.0E-4
                  minimumTotalIngressThresholdInGbps: 8.0E-4
                  numberOfAccountsToSync: 20
                  overallEgressThresholdInGbps: 30
                  overallIngressThresholdInGbps: 25
                  overallIntranetEgressThresholdInGbps: 30
                  overallIntranetIngressThresholdInGbps: 25
                  overallRequestThresholdInTps: 10000
                  overallTotalEgressThresholdInGbps: 50
                  overallTotalIngressThresholdInGbps: 50
                  retentionPeriodForDeletedStorageAccountsInDays: 0
                  settingsPollingIntervalInSecond: 60
                  toleranceFactorForEgress: 2
                  toleranceFactorForIngress: 2
                  toleranceFactorForIntranetEgress: 2
                  toleranceFactorForIntranetIngress: 2
                  toleranceFactorForTotalEgress: 2
                  toleranceFactorForTotalIngress: 2
                  toleranceFactorForTps: 2
                  usageCollectionIntervalInSeconds: 10
                settingsStore: AzS-ACS01.azurestack.local:19000
                version: 2015-12-01-preview
              type: Microsoft.Storage.Admin/farms
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af
                properties:
                  farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
                  settings:
                    bandwidthThrottleIsEnabled: false
                    corsAllowedOriginsList: https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/
                    dataCenterUriHostSuffixes: local.azurestack.external
                    defaultEgressThresholdInGbps: 3
                    defaultIngressThresholdInGbps: 2
                    defaultIntranetEgressThresholdInGbps: 3
                    defaultIntranetIngressThresholdInGbps: 2
                    defaultRequestThresholdInTps: 200
                    defaultThrottleProbabilityDecayIntervalInSeconds: 240
                    defaultTotalEgressThresholdInGbps: 5
                    defaultTotalIngressThresholdInGbps: 5
                    feedbackRefreshIntervalInSeconds: 10
                    gracePeriodForFullThrottlingInRefreshIntervals: 3
                    gracePeriodMaxThrottleProbability: 0.9
                    hostStyleHttpPort: 0
                    hostStyleHttpsPort: 0
                    minimumEgressThresholdInGbps: 8.0E-4
                    minimumIngressThresholdInGbps: 8.0E-4
                    minimumIntranetEgressThresholdInGbps: 8.0E-4
                    minimumIntranetIngressThresholdInGbps: 8.0E-4
                    minimumRequestThresholdInTps: 1
                    minimumTotalEgressThresholdInGbps: 8.0E-4
                    minimumTotalIngressThresholdInGbps: 8.0E-4
                    numberOfAccountsToSync: 20
                    overallEgressThresholdInGbps: 30
                    overallIngressThresholdInGbps: 25
                    overallIntranetEgressThresholdInGbps: 30
                    overallIntranetIngressThresholdInGbps: 25
                    overallRequestThresholdInTps: 10000
                    overallTotalEgressThresholdInGbps: 50
                    overallTotalIngressThresholdInGbps: 50
                    retentionPeriodForDeletedStorageAccountsInDays: 0
                    settingsPollingIntervalInSecond: 60
                    toleranceFactorForEgress: 2
                    toleranceFactorForIngress: 2
                    toleranceFactorForIntranetEgress: 2
                    toleranceFactorForIntranetIngress: 2
                    toleranceFactorForTotalEgress: 2
                    toleranceFactorForTotalIngress: 2
                    toleranceFactorForTps: 2
                    usageCollectionIntervalInSeconds: 10
                  settingsStore: AzS-ACS01.azurestack.local:19000
                  version: 2015-12-01-preview
                type: Microsoft.Storage.Admin/farms
      x-codegen-request-body-name: farmObject
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create a new storage farm.
      operationId: Farms_Create
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarmCreationProperties'
        description: Parameters used to create a farm
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Farm'
          description: OK -- The new storage farm has been created.
      tags:
      - Farms
      x-ms-examples:
        Create a new storage farm.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            farmObject:
              properties:
                settingAccessString: local
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af
                properties:
                  farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
                  settings:
                    bandwidthThrottleIsEnabled: false
                    corsAllowedOriginsList: https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/
                    dataCenterUriHostSuffixes: local.azurestack.external
                    defaultEgressThresholdInGbps: 3
                    defaultIngressThresholdInGbps: 2
                    defaultIntranetEgressThresholdInGbps: 3
                    defaultIntranetIngressThresholdInGbps: 2
                    defaultRequestThresholdInTps: 200
                    defaultThrottleProbabilityDecayIntervalInSeconds: 240
                    defaultTotalEgressThresholdInGbps: 5
                    defaultTotalIngressThresholdInGbps: 5
                    feedbackRefreshIntervalInSeconds: 10
                    gracePeriodForFullThrottlingInRefreshIntervals: 3
                    gracePeriodMaxThrottleProbability: 0.9
                    hostStyleHttpPort: 0
                    hostStyleHttpsPort: 0
                    minimumEgressThresholdInGbps: 8.0E-4
                    minimumIngressThresholdInGbps: 8.0E-4
                    minimumIntranetEgressThresholdInGbps: 8.0E-4
                    minimumIntranetIngressThresholdInGbps: 8.0E-4
                    minimumRequestThresholdInTps: 1
                    minimumTotalEgressThresholdInGbps: 8.0E-4
                    minimumTotalIngressThresholdInGbps: 8.0E-4
                    numberOfAccountsToSync: 20
                    overallEgressThresholdInGbps: 30
                    overallIngressThresholdInGbps: 25
                    overallIntranetEgressThresholdInGbps: 30
                    overallIntranetIngressThresholdInGbps: 25
                    overallRequestThresholdInTps: 10000
                    overallTotalEgressThresholdInGbps: 50
                    overallTotalIngressThresholdInGbps: 50
                    retentionPeriodForDeletedStorageAccountsInDays: 0
                    settingsPollingIntervalInSecond: 60
                    toleranceFactorForEgress: 2
                    toleranceFactorForIngress: 2
                    toleranceFactorForIntranetEgress: 2
                    toleranceFactorForIntranetIngress: 2
                    toleranceFactorForTotalEgress: 2
                    toleranceFactorForTotalIngress: 2
                    toleranceFactorForTps: 2
                    usageCollectionIntervalInSeconds: 10
                  settingsStore: AzS-ACS01.azurestack.local:19000
                  version: 2015-12-01-preview
                type: Microsoft.Storage.Admin/farms
      x-codegen-request-body-name: farmObject
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/metricdefinitions
  : get:
      description: Returns a list of metric definitions for a storage farm.
      operationId: Farms_ListMetricDefinitions
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Farms_ListMetricDefinitions_200_response'
          description: OK -- The list of metric definitions has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - Farms
      x-ms-examples:
        Returns a list of metric definitions for a storage farm.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Processor time percentage
                    value: ProcessorTime
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P10D
                    timeGrain: PT1M
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Available memory
                    value: AvailableMemory
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Total Capacity
                    value: TotalCapacity
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Used Capacity
                    value: UsedCapacity
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Free Space
                    value: FreeSpace
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Used Capacity Percentage
                    value: 'UsedCapacityPercentage '
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Free Space Percentage
                    value: 'FreeSpacePercentage '
                  primaryAggregationType: Average
                  unit: Count
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/metrics:
    get:
      description: Returns a list of storage farm metrics.
      operationId: Farms_ListMetrics
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Farms_ListMetrics_200_response'
          description: OK -- The list of metrics has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm was not found.
      tags:
      - Farms
      x-ms-examples:
        Returns a list of storage farm metrics.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                - endTime: 2018-01-30T19:31:03.1837713Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Processor time percentage
                    value: ProcessorTime
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:03.1837713Z
                  metricUnit: Count
                  metricValues: []
                  name:
                    localizedValue: Available memory
                    value: AvailableMemory
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:03.1837713Z
                  metricUnit: Count
                  metricValues:
                  - average: 2728176648192
                    timeStamp: 2018-01-29T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-23T00:00:00Z
                  name:
                    localizedValue: Total Capacity
                    value: TotalCapacity
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:03.1837713Z
                  metricUnit: Count
                  metricValues:
                  - average: 389873692672
                    timeStamp: 2018-01-29T00:00:00Z
                  - average: 3.796379987626667E11
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 369550244352
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 3.590998038186667E11
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 3.483433869653333E11
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 3.389106781866667E11
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 3.303349623466667E11
                    timeStamp: 2018-01-23T00:00:00Z
                  name:
                    localizedValue: Used Capacity
                    value: UsedCapacity
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:03.1837713Z
                  metricUnit: Count
                  metricValues:
                  - average: 2338302955520
                    timeStamp: 2018-01-29T00:00:00Z
                  - average: 2.3485386494293335E12
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 2358626403840
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 2.3690768443733335E12
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 2.3798332612266665E12
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 2.3892659700053335E12
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 2.3978416858453335E12
                    timeStamp: 2018-01-23T00:00:00Z
                  name:
                    localizedValue: Free Space
                    value: FreeSpace
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:03.1837713Z
                  metricUnit: Count
                  metricValues:
                  - average: 0.1429063227743609
                    timeStamp: 2018-01-29T00:00:00Z
                  - average: 0.139154478510128
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 0.13545686075603133
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 0.13162630215189586
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 0.12768358940253569
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 0.1242260754673886
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 0.12108268816302059
                    timeStamp: 2018-01-23T00:00:00Z
                  name:
                    localizedValue: Used Capacity Percentage
                    value: 'UsedCapacityPercentage '
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:03.1837713Z
                  metricUnit: Count
                  metricValues:
                  - average: 0.857093677225639
                    timeStamp: 2018-01-29T00:00:00Z
                  - average: 0.8608455214898721
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 0.8645431392439686
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 0.8683736978481039
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 0.8723164105974645
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 0.8757739245326116
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 0.8789173118369794
                    timeStamp: 2018-01-23T00:00:00Z
                  name:
                    localizedValue: Free Space Percentage
                    value: 'FreeSpacePercentage '
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/ondemandgc:
    post:
      description: Start garbage collection on deleted storage objects.
      operationId: Farms_StartGarbageCollection
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK -- Garbage collection has completed.
        "202":
          content: {}
          description: ACCEPTED -- Garbage collection has started.
      tags:
      - Farms
      x-ms-examples:
        Start garbage collection on deleted storage objects.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/operationresults/{operationId}
  : get:
      description: Returns the state of the garbage collection job.
      operationId: Farms_GetGarbageCollectionState
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Operation Id.
        in: path
        name: operationId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK -- The state of garbage collection has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The specified farm or garbage collection job can
            not be found.
      tags:
      - GC
      x-ms-examples:
        Returns the state of the garbage collection job.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            operationId: 5ad334a7-4f51-141a-b52f-39a7df8d7033
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body: Failed?
            "404": {}
      x-accepts:
      - application/json
components:
  schemas:
    Farm:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource Name.
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Storage farm.
      example:
        properties:
          settings:
            minimumRequestThresholdInTps: 1.1730742
            minimumTotalIngressThresholdInGbps: 5.025005
            gracePeriodForFullThrottlingInRefreshIntervals: 2
            toleranceFactorForTotalEgress: 3.3531933
            minimumTotalEgressThresholdInGbps: 4.9652185
            minimumEgressThresholdInGbps: 1.0246457
            minimumIntranetIngressThresholdInGbps: 7.4577446
            feedbackRefreshIntervalInSeconds: 3
            corsAllowedOriginsList: corsAllowedOriginsList
            defaultIntranetEgressThresholdInGbps: 1.4658129
            defaultTotalEgressThresholdInGbps: 7.0614014
            overallEgressThresholdInGbps: 9.36931
            toleranceFactorForEgress: 6.778325
            toleranceFactorForIngress: 6.878052
            toleranceFactorForIntranetIngress: 6.704019
            numberOfAccountsToSync: 9
            toleranceFactorForIntranetEgress: 5.9448957
            defaultRequestThresholdInTps: 5.637377
            defaultIntranetIngressThresholdInGbps: 5.962134
            defaultIngressThresholdInGbps: 6.0274563
            overallTotalEgressThresholdInGbps: 3.5571952
            hostStyleHttpsPort: 1
            overallIntranetIngressThresholdInGbps: 9.018348
            overallRequestThresholdInTps: 6.4384236
            defaultEgressThresholdInGbps: 0.8008282
            defaultTotalIngressThresholdInGbps: 9.301444
            dataCenterUriHostSuffixes: dataCenterUriHostSuffixes
            toleranceFactorForTps: 7.143538
            overallIngressThresholdInGbps: 6.6835623
            defaultThrottleProbabilityDecayIntervalInSeconds: 2
            overallTotalIngressThresholdInGbps: 6.965118
            usageCollectionIntervalInSeconds: 0
            minimumIngressThresholdInGbps: 1.4894159
            bandwidthThrottleIsEnabled: true
            gracePeriodMaxThrottleProbability: 4.145608
            minimumIntranetEgressThresholdInGbps: 6.846853
            hostStyleHttpPort: 7
            overallIntranetEgressThresholdInGbps: 8.762042
            retentionPeriodForDeletedStorageAccountsInDays: 1
            toleranceFactorForTotalIngress: 3.0937452
            settingsPollingIntervalInSecond: 2
          settingsStore: settingsStore
          farmId: farmId
          version: version
      properties:
        properties:
          $ref: '#/components/schemas/FarmProperties'
    FarmCreationProperties:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource Name.
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Storage farm properties.
      example:
        properties:
          settingAccessString: settingAccessString
      properties:
        properties:
          $ref: '#/components/schemas/SettingAccessString'
    FarmList:
      description: Pageable list of storage farms.
      example:
        value:
        - properties:
            settings:
              minimumRequestThresholdInTps: 1.1730742
              minimumTotalIngressThresholdInGbps: 5.025005
              gracePeriodForFullThrottlingInRefreshIntervals: 2
              toleranceFactorForTotalEgress: 3.3531933
              minimumTotalEgressThresholdInGbps: 4.9652185
              minimumEgressThresholdInGbps: 1.0246457
              minimumIntranetIngressThresholdInGbps: 7.4577446
              feedbackRefreshIntervalInSeconds: 3
              corsAllowedOriginsList: corsAllowedOriginsList
              defaultIntranetEgressThresholdInGbps: 1.4658129
              defaultTotalEgressThresholdInGbps: 7.0614014
              overallEgressThresholdInGbps: 9.36931
              toleranceFactorForEgress: 6.778325
              toleranceFactorForIngress: 6.878052
              toleranceFactorForIntranetIngress: 6.704019
              numberOfAccountsToSync: 9
              toleranceFactorForIntranetEgress: 5.9448957
              defaultRequestThresholdInTps: 5.637377
              defaultIntranetIngressThresholdInGbps: 5.962134
              defaultIngressThresholdInGbps: 6.0274563
              overallTotalEgressThresholdInGbps: 3.5571952
              hostStyleHttpsPort: 1
              overallIntranetIngressThresholdInGbps: 9.018348
              overallRequestThresholdInTps: 6.4384236
              defaultEgressThresholdInGbps: 0.8008282
              defaultTotalIngressThresholdInGbps: 9.301444
              dataCenterUriHostSuffixes: dataCenterUriHostSuffixes
              toleranceFactorForTps: 7.143538
              overallIngressThresholdInGbps: 6.6835623
              defaultThrottleProbabilityDecayIntervalInSeconds: 2
              overallTotalIngressThresholdInGbps: 6.965118
              usageCollectionIntervalInSeconds: 0
              minimumIngressThresholdInGbps: 1.4894159
              bandwidthThrottleIsEnabled: true
              gracePeriodMaxThrottleProbability: 4.145608
              minimumIntranetEgressThresholdInGbps: 6.846853
              hostStyleHttpPort: 7
              overallIntranetEgressThresholdInGbps: 8.762042
              retentionPeriodForDeletedStorageAccountsInDays: 1
              toleranceFactorForTotalIngress: 3.0937452
              settingsPollingIntervalInSecond: 2
            settingsStore: settingsStore
            farmId: farmId
            version: version
        - properties:
            settings:
              minimumRequestThresholdInTps: 1.1730742
              minimumTotalIngressThresholdInGbps: 5.025005
              gracePeriodForFullThrottlingInRefreshIntervals: 2
              toleranceFactorForTotalEgress: 3.3531933
              minimumTotalEgressThresholdInGbps: 4.9652185
              minimumEgressThresholdInGbps: 1.0246457
              minimumIntranetIngressThresholdInGbps: 7.4577446
              feedbackRefreshIntervalInSeconds: 3
              corsAllowedOriginsList: corsAllowedOriginsList
              defaultIntranetEgressThresholdInGbps: 1.4658129
              defaultTotalEgressThresholdInGbps: 7.0614014
              overallEgressThresholdInGbps: 9.36931
              toleranceFactorForEgress: 6.778325
              toleranceFactorForIngress: 6.878052
              toleranceFactorForIntranetIngress: 6.704019
              numberOfAccountsToSync: 9
              toleranceFactorForIntranetEgress: 5.9448957
              defaultRequestThresholdInTps: 5.637377
              defaultIntranetIngressThresholdInGbps: 5.962134
              defaultIngressThresholdInGbps: 6.0274563
              overallTotalEgressThresholdInGbps: 3.5571952
              hostStyleHttpsPort: 1
              overallIntranetIngressThresholdInGbps: 9.018348
              overallRequestThresholdInTps: 6.4384236
              defaultEgressThresholdInGbps: 0.8008282
              defaultTotalIngressThresholdInGbps: 9.301444
              dataCenterUriHostSuffixes: dataCenterUriHostSuffixes
              toleranceFactorForTps: 7.143538
              overallIngressThresholdInGbps: 6.6835623
              defaultThrottleProbabilityDecayIntervalInSeconds: 2
              overallTotalIngressThresholdInGbps: 6.965118
              usageCollectionIntervalInSeconds: 0
              minimumIngressThresholdInGbps: 1.4894159
              bandwidthThrottleIsEnabled: true
              gracePeriodMaxThrottleProbability: 4.145608
              minimumIntranetEgressThresholdInGbps: 6.846853
              hostStyleHttpPort: 7
              overallIntranetEgressThresholdInGbps: 8.762042
              retentionPeriodForDeletedStorageAccountsInDays: 1
              toleranceFactorForTotalIngress: 3.0937452
              settingsPollingIntervalInSecond: 2
            settingsStore: settingsStore
            farmId: farmId
            version: version
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          readOnly: true
          type: string
        value:
          description: List of storage farms.
          items:
            $ref: '#/components/schemas/Farm'
          type: array
      type: object
    FarmProperties:
      description: The properties of storage farm.
      example:
        settings:
          minimumRequestThresholdInTps: 1.1730742
          minimumTotalIngressThresholdInGbps: 5.025005
          gracePeriodForFullThrottlingInRefreshIntervals: 2
          toleranceFactorForTotalEgress: 3.3531933
          minimumTotalEgressThresholdInGbps: 4.9652185
          minimumEgressThresholdInGbps: 1.0246457
          minimumIntranetIngressThresholdInGbps: 7.4577446
          feedbackRefreshIntervalInSeconds: 3
          corsAllowedOriginsList: corsAllowedOriginsList
          defaultIntranetEgressThresholdInGbps: 1.4658129
          defaultTotalEgressThresholdInGbps: 7.0614014
          overallEgressThresholdInGbps: 9.36931
          toleranceFactorForEgress: 6.778325
          toleranceFactorForIngress: 6.878052
          toleranceFactorForIntranetIngress: 6.704019
          numberOfAccountsToSync: 9
          toleranceFactorForIntranetEgress: 5.9448957
          defaultRequestThresholdInTps: 5.637377
          defaultIntranetIngressThresholdInGbps: 5.962134
          defaultIngressThresholdInGbps: 6.0274563
          overallTotalEgressThresholdInGbps: 3.5571952
          hostStyleHttpsPort: 1
          overallIntranetIngressThresholdInGbps: 9.018348
          overallRequestThresholdInTps: 6.4384236
          defaultEgressThresholdInGbps: 0.8008282
          defaultTotalIngressThresholdInGbps: 9.301444
          dataCenterUriHostSuffixes: dataCenterUriHostSuffixes
          toleranceFactorForTps: 7.143538
          overallIngressThresholdInGbps: 6.6835623
          defaultThrottleProbabilityDecayIntervalInSeconds: 2
          overallTotalIngressThresholdInGbps: 6.965118
          usageCollectionIntervalInSeconds: 0
          minimumIngressThresholdInGbps: 1.4894159
          bandwidthThrottleIsEnabled: true
          gracePeriodMaxThrottleProbability: 4.145608
          minimumIntranetEgressThresholdInGbps: 6.846853
          hostStyleHttpPort: 7
          overallIntranetEgressThresholdInGbps: 8.762042
          retentionPeriodForDeletedStorageAccountsInDays: 1
          toleranceFactorForTotalIngress: 3.0937452
          settingsPollingIntervalInSecond: 2
        settingsStore: settingsStore
        farmId: farmId
        version: version
      properties:
        farmId:
          description: Farm identifier.
          type: string
        settings:
          $ref: '#/components/schemas/FarmSettings'
        settingsStore:
          description: The settings of storage farm.
          type: string
        version:
          description: Resource version.
          type: string
      type: object
    FarmSettings:
      description: Storage farm settings.
      example:
        minimumRequestThresholdInTps: 1.1730742
        minimumTotalIngressThresholdInGbps: 5.025005
        gracePeriodForFullThrottlingInRefreshIntervals: 2
        toleranceFactorForTotalEgress: 3.3531933
        minimumTotalEgressThresholdInGbps: 4.9652185
        minimumEgressThresholdInGbps: 1.0246457
        minimumIntranetIngressThresholdInGbps: 7.4577446
        feedbackRefreshIntervalInSeconds: 3
        corsAllowedOriginsList: corsAllowedOriginsList
        defaultIntranetEgressThresholdInGbps: 1.4658129
        defaultTotalEgressThresholdInGbps: 7.0614014
        overallEgressThresholdInGbps: 9.36931
        toleranceFactorForEgress: 6.778325
        toleranceFactorForIngress: 6.878052
        toleranceFactorForIntranetIngress: 6.704019
        numberOfAccountsToSync: 9
        toleranceFactorForIntranetEgress: 5.9448957
        defaultRequestThresholdInTps: 5.637377
        defaultIntranetIngressThresholdInGbps: 5.962134
        defaultIngressThresholdInGbps: 6.0274563
        overallTotalEgressThresholdInGbps: 3.5571952
        hostStyleHttpsPort: 1
        overallIntranetIngressThresholdInGbps: 9.018348
        overallRequestThresholdInTps: 6.4384236
        defaultEgressThresholdInGbps: 0.8008282
        defaultTotalIngressThresholdInGbps: 9.301444
        dataCenterUriHostSuffixes: dataCenterUriHostSuffixes
        toleranceFactorForTps: 7.143538
        overallIngressThresholdInGbps: 6.6835623
        defaultThrottleProbabilityDecayIntervalInSeconds: 2
        overallTotalIngressThresholdInGbps: 6.965118
        usageCollectionIntervalInSeconds: 0
        minimumIngressThresholdInGbps: 1.4894159
        bandwidthThrottleIsEnabled: true
        gracePeriodMaxThrottleProbability: 4.145608
        minimumIntranetEgressThresholdInGbps: 6.846853
        hostStyleHttpPort: 7
        overallIntranetEgressThresholdInGbps: 8.762042
        retentionPeriodForDeletedStorageAccountsInDays: 1
        toleranceFactorForTotalIngress: 3.0937452
        settingsPollingIntervalInSecond: 2
      properties:
        bandwidthThrottleIsEnabled:
          description: Switch of bandwidth throttle enablement.
          type: boolean
        corsAllowedOriginsList:
          description: The list of allowed origins.
          type: string
        dataCenterUriHostSuffixes:
          description: The suffixes of URI of hosts in data center.
          type: string
        defaultEgressThresholdInGbps:
          description: Default egress threshold (in Gbps).
          format: float
          type: number
        defaultIngressThresholdInGbps:
          description: Default ingress threshold (in Gbps).
          format: float
          type: number
        defaultIntranetEgressThresholdInGbps:
          description: Default Intranet egress threshold (in Gbps).
          format: float
          type: number
        defaultIntranetIngressThresholdInGbps:
          description: Default Intranet ingress threshold (in Gbps).
          format: float
          type: number
        defaultRequestThresholdInTps:
          description: Default request threshold (in TPS).
          format: float
          type: number
        defaultThrottleProbabilityDecayIntervalInSeconds:
          description: Interval (in seconds) of default throttle probability decay.
          format: int32
          type: integer
        defaultTotalEgressThresholdInGbps:
          description: Default total egress threshold (in Gbps).
          format: float
          type: number
        defaultTotalIngressThresholdInGbps:
          description: Default total ingress threshold (in Gbps).
          format: float
          type: number
        feedbackRefreshIntervalInSeconds:
          description: Interval (in seconds) of feedback refresh.
          format: int32
          type: integer
        gracePeriodForFullThrottlingInRefreshIntervals:
          description: Grace period for full throttling in refresh intervals.
          format: int32
          type: integer
        gracePeriodMaxThrottleProbability:
          description: Maximum probability of throttle in grace period.
          format: float
          type: number
        hostStyleHttpPort:
          description: Host style HTTP port.
          format: int32
          type: integer
        hostStyleHttpsPort:
          description: Host style HTTPs port.
          format: int32
          type: integer
        minimumEgressThresholdInGbps:
          description: Minimum egress threshold (in Gbps).
          format: float
          type: number
        minimumIngressThresholdInGbps:
          description: Minimum ingress threshold (in Gbps).
          format: float
          type: number
        minimumIntranetEgressThresholdInGbps:
          description: Minimum Intranet egress threshold (in Gbps).
          format: float
          type: number
        minimumIntranetIngressThresholdInGbps:
          description: Minimum Intranet ingress threshold (in Gbps).
          format: float
          type: number
        minimumRequestThresholdInTps:
          description: Minimum request threshold (in TPS).
          format: float
          type: number
        minimumTotalEgressThresholdInGbps:
          description: Minimum total egress threshold (in Gbp
          format: float
          type: number
        minimumTotalIngressThresholdInGbps:
          description: Minimum total ingress threshold (in Gbps).
          format: float
          type: number
        numberOfAccountsToSync:
          description: Number of accounts to sync.
          format: int32
          type: integer
        overallEgressThresholdInGbps:
          description: Overall egress threshold (in Gbps).
          format: float
          type: number
        overallIngressThresholdInGbps:
          description: Overall ingress threshold (in Gbps)
          format: float
          type: number
        overallIntranetEgressThresholdInGbps:
          description: Overall Intranet egress threshold (in Gbps).
          format: float
          type: number
        overallIntranetIngressThresholdInGbps:
          description: Overall Intranet ingress threshold (in Gbps).
          format: float
          type: number
        overallRequestThresholdInTps:
          description: Overall request threshold (in TPS).
          format: float
          type: number
        overallTotalEgressThresholdInGbps:
          description: Overall total egress threshold (in Gbps).
          format: float
          type: number
        overallTotalIngressThresholdInGbps:
          description: Overall total ingress threshold (in Gbps).
          format: float
          type: number
        retentionPeriodForDeletedStorageAccountsInDays:
          description: The retention period (in days) for deleted storage account.
          format: int32
          type: integer
        settingsPollingIntervalInSecond:
          description: The polling interval (in second).
          format: int32
          type: integer
        toleranceFactorForEgress:
          description: Tolerance factor for egress.
          format: float
          type: number
        toleranceFactorForIngress:
          description: Tolerance factor for ingress.
          format: float
          type: number
        toleranceFactorForIntranetEgress:
          description: Tolerance factor for Intranet egress.
          format: float
          type: number
        toleranceFactorForIntranetIngress:
          description: Tolerance factor for Intranet ingress.
          format: float
          type: number
        toleranceFactorForTotalEgress:
          description: Tolerance factor for total egress.
          format: float
          type: number
        toleranceFactorForTotalIngress:
          description: Tolerance factor for total ingress.
          format: float
          type: number
        toleranceFactorForTps:
          description: Tolerance factor for TPS.
          format: float
          type: number
        usageCollectionIntervalInSeconds:
          description: Interval (in seconds) of storage usage collection.
          format: int32
          type: integer
      type: object
    SettingAccessString:
      description: Setting access string.
      example:
        settingAccessString: settingAccessString
      properties:
        settingAccessString:
          description: Setting access string.
          type: string
      type: object
    Farms_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner:
      description: Metric availability.
      example:
        timeGrain: timeGrain
        retention: retention
      properties:
        retention:
          description: Retention of metric.
          type: string
        timeGrain:
          description: Time grain.
          type: string
      type: object
    Farms_ListMetricDefinitions_200_response_value_inner_name:
      description: Localizable string.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: Localized value of the string.
          type: string
        value:
          description: Value of the string.
          type: string
      type: object
    Farms_ListMetricDefinitions_200_response_value_inner:
      description: Metric definition.
      example:
        primaryAggregationType: None
        unit: Count
        name:
          localizedValue: localizedValue
          value: value
        metricAvailabilities:
        - timeGrain: timeGrain
          retention: retention
        - timeGrain: timeGrain
          retention: retention
      properties:
        metricAvailabilities:
          description: Metric availabilities.
          items:
            $ref: '#/components/schemas/Farms_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner'
          readOnly: true
          type: array
        name:
          $ref: '#/components/schemas/Farms_ListMetricDefinitions_200_response_value_inner_name'
        primaryAggregationType:
          description: Aggregate type.
          enum:
          - None
          - Average
          - Total
          - Minimum
          - Maximum
          - Last
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AggregateType
        unit:
          description: Metric unit.
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricUnit
      type: object
    Farms_ListMetricDefinitions_200_response:
      description: Pageable list of metric definitions.
      example:
        value:
        - primaryAggregationType: None
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
        - primaryAggregationType: None
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          readOnly: true
          type: string
        value:
          description: List of metric definitions.
          items:
            $ref: '#/components/schemas/Farms_ListMetricDefinitions_200_response_value_inner'
          readOnly: true
          type: array
      type: object
    Farms_ListMetrics_200_response_value_inner_metricValues_inner:
      description: Metric value.
      example:
        timeStamp: 2000-01-23T04:56:07.000+00:00
        average: 0.8008282
        total: 5.637377
        count: 6
        maximum: 1.4658129
        minimum: 5.962134
        properties: properties
      properties:
        average:
          description: Average value of metric.
          format: float
          readOnly: true
          type: number
        count:
          description: Count of metric values.
          format: int32
          readOnly: true
          type: integer
        maximum:
          description: Maximum value of metric.
          format: float
          readOnly: true
          type: number
        minimum:
          description: Minimum value of metric.
          format: float
          readOnly: true
          type: number
        properties:
          description: Metric value properties.
          readOnly: true
          type: string
        timeStamp:
          description: Timestamp of metric value.
          format: date-time
          readOnly: true
          type: string
        total:
          description: Total value of metric.
          format: float
          readOnly: true
          type: number
      type: object
    Farms_ListMetrics_200_response_value_inner:
      description: Metric information.
      example:
        timeGrain: timeGrain
        name:
          localizedValue: localizedValue
          value: value
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        metricUnit: Count
        metricValues:
        - timeStamp: 2000-01-23T04:56:07.000+00:00
          average: 0.8008282
          total: 5.637377
          count: 6
          maximum: 1.4658129
          minimum: 5.962134
          properties: properties
        - timeStamp: 2000-01-23T04:56:07.000+00:00
          average: 0.8008282
          total: 5.637377
          count: 6
          maximum: 1.4658129
          minimum: 5.962134
          properties: properties
      properties:
        endTime:
          description: Metric end time.
          format: date-time
          readOnly: true
          type: string
        metricUnit:
          description: Metric unit.
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricUnit
        metricValues:
          description: List of metric values.
          items:
            $ref: '#/components/schemas/Farms_ListMetrics_200_response_value_inner_metricValues_inner'
          readOnly: true
          type: array
        name:
          $ref: '#/components/schemas/Farms_ListMetricDefinitions_200_response_value_inner_name'
        startTime:
          description: Metric start time.
          format: date-time
          readOnly: true
          type: string
        timeGrain:
          description: Metric time grain.
          readOnly: true
          type: string
      type: object
    Farms_ListMetrics_200_response:
      description: Pageable list of metrics.
      example:
        value:
        - timeGrain: timeGrain
          name:
            localizedValue: localizedValue
            value: value
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          metricUnit: Count
          metricValues:
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
        - timeGrain: timeGrain
          name:
            localizedValue: localizedValue
            value: value
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          metricUnit: Count
          metricValues:
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          readOnly: true
          type: string
        value:
          description: List of metrics.
          items:
            $ref: '#/components/schemas/Farms_ListMetrics_200_response_value_inner'
          readOnly: true
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

