openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2015-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/allowedConnections.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-allowedConnections
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/allowedConnections:
    get:
      description: Gets the list of all possible traffic between resources for the
        subscription
      operationId: allowed_connections_list
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedConnectionsList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedConnections_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AllowedConnections
      x-ms-examples:
        Get allowed connections on a subscription:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 3eeab341-f466-499c-a8be-85427e154bad
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Security/locations/centralus/allowedConnections/Internal
                  location: centralus
                  name: Internal
                  properties:
                    calculatedDateTime: 2018-08-06T14:55:32.3518545Z
                    connectableResources:
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                      inboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      outboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                      inboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      outboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine3
                      inboundConnectedResources: []
                      outboundConnectedResources: []
                  type: Microsoft.Security/locations/allowedConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.allowed_connections_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/allowedConnections:
    get:
      description: Gets the list of all possible traffic between resources for the
        subscription and location.
      operationId: allowed_connections_list_by_home_region
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedConnectionsList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedConnections_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AllowedConnections
      x-ms-examples:
        Get allowed connections on a subscription from security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: centralus
            subscriptionId: 3eeab341-f466-499c-a8be-85427e154bad
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Security/locations/centralus/allowedConnections/Internal
                  location: centralus
                  name: Internal
                  properties:
                    calculatedDateTime: 2018-08-06T14:55:32.3518545Z
                    connectableResources:
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                      inboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      outboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                      inboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      outboundConnectedResources:
                      - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                        tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                        udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                    - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine3
                      inboundConnectedResources: []
                      outboundConnectedResources: []
                  type: Microsoft.Security/locations/allowedConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.allowed_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/allowedConnections/{connectionType}
  : get:
      description: "Gets the list of all possible traffic between resources for the\
        \ subscription and location, based on connection type."
      operationId: allowed_connections_get
      parameters:
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The location where ASC stores the data of the subscription. can
          be retrieved from Get locations
        in: path
        name: ascLocation
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The type of allowed connections (Internal, External)"
        in: path
        name: connectionType
        required: true
        schema:
          enum:
          - Internal
          - External
          type: string
          x-ms-enum:
            modelAsString: true
            name: connectionType
            values:
            - value: Internal
            - value: External
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: connectionType
          values:
          - value: Internal
          - value: External
        x-ms-parameter-location: method
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedConnectionsResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedConnections_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AllowedConnections
      x-ms-examples:
        Get allowed connections:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: centralus
            connectionType: Internal
            resourceGroupName: myResourceGroup
            subscriptionId: 3eeab341-f466-499c-a8be-85427e154bad
          responses:
            "200":
              body:
                id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Security/locations/centralus/allowedConnections/Internal
                location: centralus
                name: Internal
                properties:
                  calculatedDateTime: 2018-08-06T14:55:32.3518545Z
                  connectableResources:
                  - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                    inboundConnectedResources:
                    - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                      tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                    outboundConnectedResources:
                    - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                      tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                  - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine2
                    inboundConnectedResources:
                    - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                      tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                    outboundConnectedResources:
                    - connectedResourceId: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine1
                      tcpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                      udpPorts: "[0-21,23-3388,3390-5984,5987-65535]"
                  - id: /subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/virtaulMachine3
                    inboundConnectedResources: []
                    outboundConnectedResources: []
                type: Microsoft.Security/locations/allowedConnections
      x-openapi-router-controller: openapi_server.controllers.allowed_connections_controller
components:
  parameters:
    ConnectionType:
      description: "The type of allowed connections (Internal, External)"
      in: path
      name: connectionType
      required: true
      schema:
        enum:
        - Internal
        - External
        type: string
        x-ms-enum:
          modelAsString: true
          name: connectionType
          values:
          - value: Internal
          - value: External
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: connectionType
        values:
        - value: Internal
        - value: External
      x-ms-parameter-location: method
  schemas:
    AllowedConnectionsList:
      description: List of all possible traffic between Azure resources
      example:
        value:
        - properties:
            connectableResources:
            - inboundConnectedResources:
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              outboundConnectedResources:
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              id: id
            - inboundConnectedResources:
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              outboundConnectedResources:
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              id: id
            calculatedDateTime: 2000-01-23T04:56:07.000+00:00
        - properties:
            connectableResources:
            - inboundConnectedResources:
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              outboundConnectedResources:
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              id: id
            - inboundConnectedResources:
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              outboundConnectedResources:
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              - udpPorts: udpPorts
                tcpPorts: tcpPorts
                connectedResourceId: connectedResourceId
              id: id
            calculatedDateTime: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          items:
            $ref: '#/components/schemas/AllowedConnectionsResource'
          readOnly: true
          title: value
          type: array
      title: AllowedConnectionsList
      type: object
    AllowedConnectionsResource:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      - description: Describes an Azure resource with location
        properties:
          location:
            description: Location where the resource is stored
            readOnly: true
            type: string
        type: object
      description: The resource whose properties describes the allowed traffic between
        Azure resources
      example:
        properties:
          connectableResources:
          - inboundConnectedResources:
            - udpPorts: udpPorts
              tcpPorts: tcpPorts
              connectedResourceId: connectedResourceId
            - udpPorts: udpPorts
              tcpPorts: tcpPorts
              connectedResourceId: connectedResourceId
            outboundConnectedResources:
            - udpPorts: udpPorts
              tcpPorts: tcpPorts
              connectedResourceId: connectedResourceId
            - udpPorts: udpPorts
              tcpPorts: tcpPorts
              connectedResourceId: connectedResourceId
            id: id
          - inboundConnectedResources:
            - udpPorts: udpPorts
              tcpPorts: tcpPorts
              connectedResourceId: connectedResourceId
            - udpPorts: udpPorts
              tcpPorts: tcpPorts
              connectedResourceId: connectedResourceId
            outboundConnectedResources:
            - udpPorts: udpPorts
              tcpPorts: tcpPorts
              connectedResourceId: connectedResourceId
            - udpPorts: udpPorts
              tcpPorts: tcpPorts
              connectedResourceId: connectedResourceId
            id: id
          calculatedDateTime: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/AllowedConnectionsResourceProperties'
      title: AllowedConnectionsResource
    AllowedConnectionsResourceProperties:
      description: Describes the allowed traffic between Azure resources
      example:
        connectableResources:
        - inboundConnectedResources:
          - udpPorts: udpPorts
            tcpPorts: tcpPorts
            connectedResourceId: connectedResourceId
          - udpPorts: udpPorts
            tcpPorts: tcpPorts
            connectedResourceId: connectedResourceId
          outboundConnectedResources:
          - udpPorts: udpPorts
            tcpPorts: tcpPorts
            connectedResourceId: connectedResourceId
          - udpPorts: udpPorts
            tcpPorts: tcpPorts
            connectedResourceId: connectedResourceId
          id: id
        - inboundConnectedResources:
          - udpPorts: udpPorts
            tcpPorts: tcpPorts
            connectedResourceId: connectedResourceId
          - udpPorts: udpPorts
            tcpPorts: tcpPorts
            connectedResourceId: connectedResourceId
          outboundConnectedResources:
          - udpPorts: udpPorts
            tcpPorts: tcpPorts
            connectedResourceId: connectedResourceId
          - udpPorts: udpPorts
            tcpPorts: tcpPorts
            connectedResourceId: connectedResourceId
          id: id
        calculatedDateTime: 2000-01-23T04:56:07.000+00:00
      properties:
        calculatedDateTime:
          description: The UTC time on which the allowed connections resource was
            calculated
          format: date-time
          readOnly: true
          title: calculatedDateTime
          type: string
        connectableResources:
          description: List of connectable resources
          items:
            $ref: '#/components/schemas/ConnectableResource'
          readOnly: true
          title: connectableResources
          type: array
      title: AllowedConnectionsResourceProperties
      type: object
    ConnectableResource:
      description: Describes the allowed inbound and outbound traffic of an Azure
        resource
      example:
        inboundConnectedResources:
        - udpPorts: udpPorts
          tcpPorts: tcpPorts
          connectedResourceId: connectedResourceId
        - udpPorts: udpPorts
          tcpPorts: tcpPorts
          connectedResourceId: connectedResourceId
        outboundConnectedResources:
        - udpPorts: udpPorts
          tcpPorts: tcpPorts
          connectedResourceId: connectedResourceId
        - udpPorts: udpPorts
          tcpPorts: tcpPorts
          connectedResourceId: connectedResourceId
        id: id
      properties:
        id:
          description: The Azure resource id
          readOnly: true
          title: id
          type: string
        inboundConnectedResources:
          description: The list of Azure resources that the resource has inbound allowed
            connection from
          items:
            $ref: '#/components/schemas/ConnectedResource'
          readOnly: true
          title: inboundConnectedResources
          type: array
        outboundConnectedResources:
          description: The list of Azure resources that the resource has outbound
            allowed connection to
          items:
            $ref: '#/components/schemas/ConnectedResource'
          readOnly: true
          title: outboundConnectedResources
          type: array
      title: ConnectableResource
      type: object
    ConnectedResource:
      description: Describes properties of a connected resource
      example:
        udpPorts: udpPorts
        tcpPorts: tcpPorts
        connectedResourceId: connectedResourceId
      properties:
        connectedResourceId:
          description: The Azure resource id of the connected resource
          readOnly: true
          title: connectedResourceId
          type: string
        tcpPorts:
          description: The allowed tcp ports
          readOnly: true
          title: tcpPorts
          type: string
        udpPorts:
          description: The allowed udp ports
          readOnly: true
          title: udpPorts
          type: string
      title: ConnectedResource
      type: object
    AllowedConnections_List_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: AllowedConnections_List_default_response_error
      type: object
      x-ms-external: true
    AllowedConnections_List_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/AllowedConnections_List_default_response_error'
      title: AllowedConnections_List_default_response
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
