openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Data Pipelines provides an interface for creating, updating, and managing\
    \ recurring Data Analytics jobs."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Data pipelines API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://datapipelines.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: datapipelines
externalDocs:
  url: https://cloud.google.com/dataflow/docs/guides/data-pipelines
servers:
- url: https://datapipelines.googleapis.com/
tags:
- name: projects
paths:
  /v1/{name}:
    delete:
      description: "Deletes a pipeline. If a scheduler job is attached to the pipeline,\
        \ it will be deleted."
      operationId: datapipelines_projects_locations_pipelines_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Looks up a single pipeline. Returns a "NOT_FOUND" error if no such
        pipeline exists. Returns a "FORBIDDEN" error if the caller doesn't have permission
        to access it.
      operationId: datapipelines_projects_locations_pipelines_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDatapipelinesV1Pipeline'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: "Updates a pipeline. If successful, the updated Pipeline is returned.\
        \ Returns `NOT_FOUND` if the pipeline doesn't exist. If UpdatePipeline does\
        \ not return successfully, you can retry the UpdatePipeline request until\
        \ you receive a successful response."
      operationId: datapipelines_projects_locations_pipelines_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.\
          \ * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens\
          \ (-), colons (:), and periods (.). For more information, see [Identifying\
          \ projects](https://cloud.google.com/resource-manager/docs/creating-managing-projects#identifying_projects).\
          \ * `LOCATION_ID` is the canonical ID for the pipeline's location. The list\
          \ of available locations can be obtained by calling `google.cloud.location.Locations.ListLocations`.\
          \ Note that the Data Pipelines service is not available in all regions.\
          \ It depends on Cloud Scheduler, an App Engine application, so it's only\
          \ available in [App Engine regions](https://cloud.google.com/about/locations#region).\
          \ * `PIPELINE_ID` is the ID of the pipeline. Must be unique for the selected\
          \ project and location."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The list of fields to be updated.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDatapipelinesV1Pipeline'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDatapipelinesV1Pipeline'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}:run:
    post:
      description: Creates a job for the specified pipeline directly. You can use
        this method when the internal scheduler is not configured and you want to
        trigger the job directly or through an external system. Returns a "NOT_FOUND"
        error if the pipeline doesn't exist. Returns a "FORBIDDEN" error if the user
        doesn't have permission to access the pipeline or run jobs for the pipeline.
      operationId: datapipelines_projects_locations_pipelines_run
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDatapipelinesV1RunPipelineRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDatapipelinesV1RunPipelineResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}:stop:
    post:
      description: "Freezes pipeline execution permanently. If there's a corresponding\
        \ scheduler entry, it's deleted, and the pipeline state is changed to \"ARCHIVED\"\
        . However, pipeline metadata is retained."
      operationId: datapipelines_projects_locations_pipelines_stop
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDatapipelinesV1StopPipelineRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDatapipelinesV1Pipeline'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/jobs:
    get:
      description: Lists jobs for a given pipeline. Throws a "FORBIDDEN" error if
        the caller doesn't have permission to access it.
      operationId: datapipelines_projects_locations_pipelines_jobs_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of entities to return. The service may return\
          \ fewer than this value, even if there are additional pages. If unspecified,\
          \ the max limit will be determined by the backend implementation."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous `ListJobs` call. Provide\
          \ this to retrieve the subsequent page. When paginating, all other parameters\
          \ provided to `ListJobs` must match the call that provided the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDatapipelinesV1ListJobsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{parent}/pipelines:
    get:
      description: Lists pipelines. Returns a "FORBIDDEN" error if the caller doesn't
        have permission to access it.
      operationId: datapipelines_projects_locations_pipelines_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The location name. For example: `projects/PROJECT_ID/locations/LOCATION_ID`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "An expression for filtering the results of the request. If unspecified,\
          \ all pipelines will be returned. Multiple filters can be applied and must\
          \ be comma separated. Fields eligible for filtering are: + `type`: The type\
          \ of the pipeline (streaming or batch). Allowed values are `ALL`, `BATCH`,\
          \ and `STREAMING`. + `status`: The activity status of the pipeline. Allowed\
          \ values are `ALL`, `ACTIVE`, `ARCHIVED`, and `PAUSED`. For example, to\
          \ limit results to active batch processing pipelines: type:BATCH,status:ACTIVE"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of entities to return. The service may return\
          \ fewer than this value, even if there are additional pages. If unspecified,\
          \ the max limit is yet to be determined by the backend implementation."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous `ListPipelines` call.\
          \ Provide this to retrieve the subsequent page. When paginating, all other\
          \ parameters provided to `ListPipelines` must match the call that provided\
          \ the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDatapipelinesV1ListPipelinesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: "Creates a pipeline. For a batch pipeline, you can pass scheduler\
        \ information. Data Pipelines uses the scheduler information to create an\
        \ internal scheduler that runs jobs periodically. If the internal scheduler\
        \ is not configured, you can use RunPipeline to run jobs."
      operationId: datapipelines_projects_locations_pipelines_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The location name. For example: `projects/PROJECT_ID/locations/LOCATION_ID`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDatapipelinesV1Pipeline'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDatapipelinesV1Pipeline'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleCloudDatapipelinesV1DataflowJobDetails:
      description: Pipeline job details specific to the Dataflow API. This is encapsulated
        here to allow for more executors to store their specific details separately.
      example:
        currentWorkers: 0
        sdkVersion:
          sdkSupportStatus: UNKNOWN
          version: version
          versionDisplayName: versionDisplayName
        resourceInfo:
          key: 6.027456183070403
      properties:
        currentWorkers:
          description: Output only. The current number of workers used to run the
            jobs. Only set to a value if the job is still running.
          format: int32
          readOnly: true
          title: currentWorkers
          type: integer
        resourceInfo:
          additionalProperties:
            format: double
            type: number
          description: "Cached version of all the metrics of interest for the job.\
            \ This value gets stored here when the job is terminated. As long as the\
            \ job is running, this field is populated from the Dataflow API."
          title: resourceInfo
          type: object
        sdkVersion:
          $ref: '#/components/schemas/GoogleCloudDatapipelinesV1SdkVersion'
      title: GoogleCloudDatapipelinesV1DataflowJobDetails
      type: object
    GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment:
      description: The environment values to be set at runtime for a Flex Template.
      example:
        additionalUserLabels:
          key: additionalUserLabels
        workerRegion: workerRegion
        flexrsGoal: FLEXRS_UNSPECIFIED
        kmsKeyName: kmsKeyName
        network: network
        additionalExperiments:
        - additionalExperiments
        - additionalExperiments
        enableStreamingEngine: true
        tempLocation: tempLocation
        workerZone: workerZone
        maxWorkers: 6
        serviceAccountEmail: serviceAccountEmail
        zone: zone
        ipConfiguration: WORKER_IP_UNSPECIFIED
        subnetwork: subnetwork
        numWorkers: 1
        machineType: machineType
      properties:
        additionalExperiments:
          description: Additional experiment flags for the job.
          items:
            type: string
          title: additionalExperiments
          type: array
        additionalUserLabels:
          additionalProperties:
            type: string
          description: "Additional user labels to be specified for the job. Keys and\
            \ values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions).\
            \ An object containing a list of key/value pairs. Example: `{ \"name\"\
            : \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }`."
          title: additionalUserLabels
          type: object
        enableStreamingEngine:
          description: Whether to enable Streaming Engine for the job.
          title: enableStreamingEngine
          type: boolean
        flexrsGoal:
          description: Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs
          enum:
          - FLEXRS_UNSPECIFIED
          - FLEXRS_SPEED_OPTIMIZED
          - FLEXRS_COST_OPTIMIZED
          title: flexrsGoal
          type: string
        ipConfiguration:
          description: Configuration for VM IPs.
          enum:
          - WORKER_IP_UNSPECIFIED
          - WORKER_IP_PUBLIC
          - WORKER_IP_PRIVATE
          title: ipConfiguration
          type: string
        kmsKeyName:
          description: "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
          title: kmsKeyName
          type: string
        machineType:
          description: The machine type to use for the job. Defaults to the value
            from the template if not specified.
          title: machineType
          type: string
        maxWorkers:
          description: "The maximum number of Compute Engine instances to be made\
            \ available to your pipeline during execution, from 1 to 1000."
          format: int32
          title: maxWorkers
          type: integer
        network:
          description: "Network to which VMs will be assigned. If empty or unspecified,\
            \ the service will use the network \"default\"."
          title: network
          type: string
        numWorkers:
          description: The initial number of Compute Engine instances for the job.
          format: int32
          title: numWorkers
          type: integer
        serviceAccountEmail:
          description: The email address of the service account to run the job as.
          title: serviceAccountEmail
          type: string
        subnetwork:
          description: "Subnetwork to which VMs will be assigned, if desired. You\
            \ can specify a subnetwork using either a complete URL or an abbreviated\
            \ path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\"\
            \ or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located\
            \ in a Shared VPC network, you must use the complete URL."
          title: subnetwork
          type: string
        tempLocation:
          description: "The Cloud Storage path to use for temporary files. Must be\
            \ a valid Cloud Storage URL, beginning with `gs://`."
          title: tempLocation
          type: string
        workerRegion:
          description: "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones)\
            \ in which worker processing should occur, e.g. \"us-west1\". Mutually\
            \ exclusive with worker_zone. If neither worker_region nor worker_zone\
            \ is specified, defaults to the control plane region."
          title: workerRegion
          type: string
        workerZone:
          description: "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones)\
            \ in which worker processing should occur, e.g. \"us-west1-a\". Mutually\
            \ exclusive with worker_region. If neither worker_region nor worker_zone\
            \ is specified, a zone in the control plane region is chosen based on\
            \ available capacity. If both `worker_zone` and `zone` are set, `worker_zone`\
            \ takes precedence."
          title: workerZone
          type: string
        zone:
          description: "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones)\
            \ for launching worker instances to run your pipeline. In the future,\
            \ worker_zone will take precedence."
          title: zone
          type: string
      title: GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment
      type: object
    GoogleCloudDatapipelinesV1Job:
      description: Definition of the job information maintained by the pipeline. Fields
        in this entity are retrieved from the executor API (e.g. Dataflow API).
      example:
        createTime: createTime
        dataflowJobDetails:
          currentWorkers: 0
          sdkVersion:
            sdkSupportStatus: UNKNOWN
            version: version
            versionDisplayName: versionDisplayName
          resourceInfo:
            key: 6.027456183070403
        name: name
        endTime: endTime
        id: id
        state: STATE_UNSPECIFIED
        status:
          code: 1
          details:
          - key: ""
          - key: ""
          message: message
      properties:
        createTime:
          description: Output only. The time of job creation.
          format: google-datetime
          readOnly: true
          title: createTime
          type: string
        dataflowJobDetails:
          $ref: '#/components/schemas/GoogleCloudDatapipelinesV1DataflowJobDetails'
        endTime:
          description: Output only. The time of job termination. This is absent if
            the job is still running.
          format: google-datetime
          readOnly: true
          title: endTime
          type: string
        id:
          description: Output only. The internal ID for the job.
          readOnly: true
          title: id
          type: string
        name:
          description: Required. The fully qualified resource name for the job.
          title: name
          type: string
        state:
          description: The current state of the job.
          enum:
          - STATE_UNSPECIFIED
          - STATE_PENDING
          - STATE_RUNNING
          - STATE_DONE
          - STATE_FAILED
          - STATE_CANCELLED
          title: state
          type: string
        status:
          $ref: '#/components/schemas/GoogleRpcStatus'
      title: GoogleCloudDatapipelinesV1Job
      type: object
    GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter:
      description: Launch Flex Template parameter.
      example:
        jobName: jobName
        launchOptions:
          key: launchOptions
        environment:
          additionalUserLabels:
            key: additionalUserLabels
          workerRegion: workerRegion
          flexrsGoal: FLEXRS_UNSPECIFIED
          kmsKeyName: kmsKeyName
          network: network
          additionalExperiments:
          - additionalExperiments
          - additionalExperiments
          enableStreamingEngine: true
          tempLocation: tempLocation
          workerZone: workerZone
          maxWorkers: 6
          serviceAccountEmail: serviceAccountEmail
          zone: zone
          ipConfiguration: WORKER_IP_UNSPECIFIED
          subnetwork: subnetwork
          numWorkers: 1
          machineType: machineType
        transformNameMappings:
          key: transformNameMappings
        update: true
        containerSpecGcsPath: containerSpecGcsPath
        parameters:
          key: parameters
      properties:
        containerSpecGcsPath:
          description: Cloud Storage path to a file with a JSON-serialized ContainerSpec
            as content.
          title: containerSpecGcsPath
          type: string
        environment:
          $ref: '#/components/schemas/GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment'
        jobName:
          description: "Required. The job name to use for the created job. For an\
            \ update job request, the job name should be the same as the existing\
            \ running job."
          title: jobName
          type: string
        launchOptions:
          additionalProperties:
            type: string
          description: Launch options for this Flex Template job. This is a common
            set of options across languages and templates. This should not be used
            to pass job parameters.
          title: launchOptions
          type: object
        parameters:
          additionalProperties:
            type: string
          description: "The parameters for the Flex Template. Example: `{\"num_workers\"\
            :\"5\"}`"
          title: parameters
          type: object
        transformNameMappings:
          additionalProperties:
            type: string
          description: "Use this to pass transform name mappings for streaming update\
            \ jobs. Example: `{\"oldTransformName\":\"newTransformName\",...}`"
          title: transformNameMappings
          type: object
        update:
          description: "Set this to true if you are sending a request to update a\
            \ running streaming job. When set, the job name should be the same as\
            \ the running job."
          title: update
          type: boolean
      title: GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter
      type: object
    GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest:
      description: A request to launch a Dataflow job from a Flex Template.
      example:
        validateOnly: true
        location: location
        projectId: projectId
        launchParameter:
          jobName: jobName
          launchOptions:
            key: launchOptions
          environment:
            additionalUserLabels:
              key: additionalUserLabels
            workerRegion: workerRegion
            flexrsGoal: FLEXRS_UNSPECIFIED
            kmsKeyName: kmsKeyName
            network: network
            additionalExperiments:
            - additionalExperiments
            - additionalExperiments
            enableStreamingEngine: true
            tempLocation: tempLocation
            workerZone: workerZone
            maxWorkers: 6
            serviceAccountEmail: serviceAccountEmail
            zone: zone
            ipConfiguration: WORKER_IP_UNSPECIFIED
            subnetwork: subnetwork
            numWorkers: 1
            machineType: machineType
          transformNameMappings:
            key: transformNameMappings
          update: true
          containerSpecGcsPath: containerSpecGcsPath
          parameters:
            key: parameters
      properties:
        launchParameter:
          $ref: '#/components/schemas/GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter'
        location:
          description: "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints)\
            \ to which to direct the request. For example, `us-central1`, `us-west1`."
          title: location
          type: string
        projectId:
          description: Required. The ID of the Cloud Platform project that the job
            belongs to.
          title: projectId
          type: string
        validateOnly:
          description: "If true, the request is validated but not actually executed.\
            \ Defaults to false."
          title: validateOnly
          type: boolean
      title: GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest
      type: object
    GoogleCloudDatapipelinesV1LaunchTemplateParameters:
      description: Parameters to provide to the template being launched.
      example:
        jobName: jobName
        environment:
          additionalUserLabels:
            key: additionalUserLabels
          workerRegion: workerRegion
          kmsKeyName: kmsKeyName
          network: network
          additionalExperiments:
          - additionalExperiments
          - additionalExperiments
          enableStreamingEngine: true
          tempLocation: tempLocation
          workerZone: workerZone
          bypassTempDirValidation: true
          maxWorkers: 5
          serviceAccountEmail: serviceAccountEmail
          zone: zone
          ipConfiguration: WORKER_IP_UNSPECIFIED
          subnetwork: subnetwork
          numWorkers: 5
          machineType: machineType
        transformNameMapping:
          key: transformNameMapping
        update: true
        parameters:
          key: parameters
      properties:
        environment:
          $ref: '#/components/schemas/GoogleCloudDatapipelinesV1RuntimeEnvironment'
        jobName:
          description: Required. The job name to use for the created job.
          title: jobName
          type: string
        parameters:
          additionalProperties:
            type: string
          description: The runtime parameters to pass to the job.
          title: parameters
          type: object
        transformNameMapping:
          additionalProperties:
            type: string
          description: Map of transform name prefixes of the job to be replaced to
            the corresponding name prefixes of the new job. Only applicable when updating
            a pipeline.
          title: transformNameMapping
          type: object
        update:
          description: "If set, replace the existing pipeline with the name specified\
            \ by jobName with this pipeline, preserving state."
          title: update
          type: boolean
      title: GoogleCloudDatapipelinesV1LaunchTemplateParameters
      type: object
    GoogleCloudDatapipelinesV1LaunchTemplateRequest:
      description: A request to launch a template.
      example:
        gcsPath: gcsPath
        validateOnly: true
        launchParameters:
          jobName: jobName
          environment:
            additionalUserLabels:
              key: additionalUserLabels
            workerRegion: workerRegion
            kmsKeyName: kmsKeyName
            network: network
            additionalExperiments:
            - additionalExperiments
            - additionalExperiments
            enableStreamingEngine: true
            tempLocation: tempLocation
            workerZone: workerZone
            bypassTempDirValidation: true
            maxWorkers: 5
            serviceAccountEmail: serviceAccountEmail
            zone: zone
            ipConfiguration: WORKER_IP_UNSPECIFIED
            subnetwork: subnetwork
            numWorkers: 5
            machineType: machineType
          transformNameMapping:
            key: transformNameMapping
          update: true
          parameters:
            key: parameters
        location: location
        projectId: projectId
      properties:
        gcsPath:
          description: "A Cloud Storage path to the template from which to create\
            \ the job. Must be a valid Cloud Storage URL, beginning with 'gs://'."
          title: gcsPath
          type: string
        launchParameters:
          $ref: '#/components/schemas/GoogleCloudDatapipelinesV1LaunchTemplateParameters'
        location:
          description: "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints)\
            \ to which to direct the request."
          title: location
          type: string
        projectId:
          description: Required. The ID of the Cloud Platform project that the job
            belongs to.
          title: projectId
          type: string
        validateOnly:
          description: "If true, the request is validated but not actually executed.\
            \ Defaults to false."
          title: validateOnly
          type: boolean
      title: GoogleCloudDatapipelinesV1LaunchTemplateRequest
      type: object
    GoogleCloudDatapipelinesV1ListJobsResponse:
      description: Response message for ListJobs
      example:
        nextPageToken: nextPageToken
        jobs:
        - createTime: createTime
          dataflowJobDetails:
            currentWorkers: 0
            sdkVersion:
              sdkSupportStatus: UNKNOWN
              version: version
              versionDisplayName: versionDisplayName
            resourceInfo:
              key: 6.027456183070403
          name: name
          endTime: endTime
          id: id
          state: STATE_UNSPECIFIED
          status:
            code: 1
            details:
            - key: ""
            - key: ""
            message: message
        - createTime: createTime
          dataflowJobDetails:
            currentWorkers: 0
            sdkVersion:
              sdkSupportStatus: UNKNOWN
              version: version
              versionDisplayName: versionDisplayName
            resourceInfo:
              key: 6.027456183070403
          name: name
          endTime: endTime
          id: id
          state: STATE_UNSPECIFIED
          status:
            code: 1
            details:
            - key: ""
            - key: ""
            message: message
      properties:
        jobs:
          description: Results that were accessible to the caller. Results are always
            in descending order of job creation date.
          items:
            $ref: '#/components/schemas/GoogleCloudDatapipelinesV1Job'
          title: jobs
          type: array
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          title: nextPageToken
          type: string
      title: GoogleCloudDatapipelinesV1ListJobsResponse
      type: object
    GoogleCloudDatapipelinesV1ListPipelinesResponse:
      description: Response message for ListPipelines.
      example:
        pipelines:
        - schedulerServiceAccountEmail: schedulerServiceAccountEmail
          createTime: createTime
          scheduleInfo:
            schedule: schedule
            nextJobTime: nextJobTime
            timeZone: timeZone
          displayName: displayName
          name: name
          workload:
            dataflowFlexTemplateRequest:
              validateOnly: true
              location: location
              projectId: projectId
              launchParameter:
                jobName: jobName
                launchOptions:
                  key: launchOptions
                environment:
                  additionalUserLabels:
                    key: additionalUserLabels
                  workerRegion: workerRegion
                  flexrsGoal: FLEXRS_UNSPECIFIED
                  kmsKeyName: kmsKeyName
                  network: network
                  additionalExperiments:
                  - additionalExperiments
                  - additionalExperiments
                  enableStreamingEngine: true
                  tempLocation: tempLocation
                  workerZone: workerZone
                  maxWorkers: 6
                  serviceAccountEmail: serviceAccountEmail
                  zone: zone
                  ipConfiguration: WORKER_IP_UNSPECIFIED
                  subnetwork: subnetwork
                  numWorkers: 1
                  machineType: machineType
                transformNameMappings:
                  key: transformNameMappings
                update: true
                containerSpecGcsPath: containerSpecGcsPath
                parameters:
                  key: parameters
            dataflowLaunchTemplateRequest:
              gcsPath: gcsPath
              validateOnly: true
              launchParameters:
                jobName: jobName
                environment:
                  additionalUserLabels:
                    key: additionalUserLabels
                  workerRegion: workerRegion
                  kmsKeyName: kmsKeyName
                  network: network
                  additionalExperiments:
                  - additionalExperiments
                  - additionalExperiments
                  enableStreamingEngine: true
                  tempLocation: tempLocation
                  workerZone: workerZone
                  bypassTempDirValidation: true
                  maxWorkers: 5
                  serviceAccountEmail: serviceAccountEmail
                  zone: zone
                  ipConfiguration: WORKER_IP_UNSPECIFIED
                  subnetwork: subnetwork
                  numWorkers: 5
                  machineType: machineType
                transformNameMapping:
                  key: transformNameMapping
                update: true
                parameters:
                  key: parameters
              location: location
              projectId: projectId
          pipelineSources:
            key: pipelineSources
          state: STATE_UNSPECIFIED
          type: PIPELINE_TYPE_UNSPECIFIED
          jobCount: 0
          lastUpdateTime: lastUpdateTime
        - schedulerServiceAccountEmail: schedulerServiceAccountEmail
          createTime: createTime
          scheduleInfo:
            schedule: schedule
            nextJobTime: nextJobTime
            timeZone: timeZone
          displayName: displayName
          name: name
          workload:
            dataflowFlexTemplateRequest:
              validateOnly: true
              location: location
              projectId: projectId
              launchParameter:
                jobName: jobName
                launchOptions:
                  key: launchOptions
                environment:
                  additionalUserLabels:
                    key: additionalUserLabels
                  workerRegion: workerRegion
                  flexrsGoal: FLEXRS_UNSPECIFIED
                  kmsKeyName: kmsKeyName
                  network: network
                  additionalExperiments:
                  - additionalExperiments
                  - additionalExperiments
                  enableStreamingEngine: true
                  tempLocation: tempLocation
                  workerZone: workerZone
                  maxWorkers: 6
                  serviceAccountEmail: serviceAccountEmail
                  zone: zone
                  ipConfiguration: WORKER_IP_UNSPECIFIED
                  subnetwork: subnetwork
                  numWorkers: 1
                  machineType: machineType
                transformNameMappings:
                  key: transformNameMappings
                update: true
                containerSpecGcsPath: containerSpecGcsPath
                parameters:
                  key: parameters
            dataflowLaunchTemplateRequest:
              gcsPath: gcsPath
              validateOnly: true
              launchParameters:
                jobName: jobName
                environment:
                  additionalUserLabels:
                    key: additionalUserLabels
                  workerRegion: workerRegion
                  kmsKeyName: kmsKeyName
                  network: network
                  additionalExperiments:
                  - additionalExperiments
                  - additionalExperiments
                  enableStreamingEngine: true
                  tempLocation: tempLocation
                  workerZone: workerZone
                  bypassTempDirValidation: true
                  maxWorkers: 5
                  serviceAccountEmail: serviceAccountEmail
                  zone: zone
                  ipConfiguration: WORKER_IP_UNSPECIFIED
                  subnetwork: subnetwork
                  numWorkers: 5
                  machineType: machineType
                transformNameMapping:
                  key: transformNameMapping
                update: true
                parameters:
                  key: parameters
              location: location
              projectId: projectId
          pipelineSources:
            key: pipelineSources
          state: STATE_UNSPECIFIED
          type: PIPELINE_TYPE_UNSPECIFIED
          jobCount: 0
          lastUpdateTime: lastUpdateTime
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          title: nextPageToken
          type: string
        pipelines:
          description: Results that matched the filter criteria and were accessible
            to the caller. Results are always in descending order of pipeline creation
            date.
          items:
            $ref: '#/components/schemas/GoogleCloudDatapipelinesV1Pipeline'
          title: pipelines
          type: array
      title: GoogleCloudDatapipelinesV1ListPipelinesResponse
      type: object
    GoogleCloudDatapipelinesV1Pipeline:
      description: The main pipeline entity and all the necessary metadata for launching
        and managing linked jobs.
      example:
        schedulerServiceAccountEmail: schedulerServiceAccountEmail
        createTime: createTime
        scheduleInfo:
          schedule: schedule
          nextJobTime: nextJobTime
          timeZone: timeZone
        displayName: displayName
        name: name
        workload:
          dataflowFlexTemplateRequest:
            validateOnly: true
            location: location
            projectId: projectId
            launchParameter:
              jobName: jobName
              launchOptions:
                key: launchOptions
              environment:
                additionalUserLabels:
                  key: additionalUserLabels
                workerRegion: workerRegion
                flexrsGoal: FLEXRS_UNSPECIFIED
                kmsKeyName: kmsKeyName
                network: network
                additionalExperiments:
                - additionalExperiments
                - additionalExperiments
                enableStreamingEngine: true
                tempLocation: tempLocation
                workerZone: workerZone
                maxWorkers: 6
                serviceAccountEmail: serviceAccountEmail
                zone: zone
                ipConfiguration: WORKER_IP_UNSPECIFIED
                subnetwork: subnetwork
                numWorkers: 1
                machineType: machineType
              transformNameMappings:
                key: transformNameMappings
              update: true
              containerSpecGcsPath: containerSpecGcsPath
              parameters:
                key: parameters
          dataflowLaunchTemplateRequest:
            gcsPath: gcsPath
            validateOnly: true
            launchParameters:
              jobName: jobName
              environment:
                additionalUserLabels:
                  key: additionalUserLabels
                workerRegion: workerRegion
                kmsKeyName: kmsKeyName
                network: network
                additionalExperiments:
                - additionalExperiments
                - additionalExperiments
                enableStreamingEngine: true
                tempLocation: tempLocation
                workerZone: workerZone
                bypassTempDirValidation: true
                maxWorkers: 5
                serviceAccountEmail: serviceAccountEmail
                zone: zone
                ipConfiguration: WORKER_IP_UNSPECIFIED
                subnetwork: subnetwork
                numWorkers: 5
                machineType: machineType
              transformNameMapping:
                key: transformNameMapping
              update: true
              parameters:
                key: parameters
            location: location
            projectId: projectId
        pipelineSources:
          key: pipelineSources
        state: STATE_UNSPECIFIED
        type: PIPELINE_TYPE_UNSPECIFIED
        jobCount: 0
        lastUpdateTime: lastUpdateTime
      properties:
        createTime:
          description: Output only. Immutable. The timestamp when the pipeline was
            initially created. Set by the Data Pipelines service.
          format: google-datetime
          readOnly: true
          title: createTime
          type: string
        displayName:
          description: "Required. The display name of the pipeline. It can contain\
            \ only letters ([A-Za-z]), numbers ([0-9]), hyphens (-), and underscores\
            \ (_)."
          title: displayName
          type: string
        jobCount:
          description: Output only. Number of jobs.
          format: int32
          readOnly: true
          title: jobCount
          type: integer
        lastUpdateTime:
          description: Output only. Immutable. The timestamp when the pipeline was
            last modified. Set by the Data Pipelines service.
          format: google-datetime
          readOnly: true
          title: lastUpdateTime
          type: string
        name:
          description: "The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.\
            \ * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens\
            \ (-), colons (:), and periods (.). For more information, see [Identifying\
            \ projects](https://cloud.google.com/resource-manager/docs/creating-managing-projects#identifying_projects).\
            \ * `LOCATION_ID` is the canonical ID for the pipeline's location. The\
            \ list of available locations can be obtained by calling `google.cloud.location.Locations.ListLocations`.\
            \ Note that the Data Pipelines service is not available in all regions.\
            \ It depends on Cloud Scheduler, an App Engine application, so it's only\
            \ available in [App Engine regions](https://cloud.google.com/about/locations#region).\
            \ * `PIPELINE_ID` is the ID of the pipeline. Must be unique for the selected\
            \ project and location."
          title: name
          type: string
        pipelineSources:
          additionalProperties:
            type: string
          description: "Immutable. The sources of the pipeline (for example, Dataplex).\
            \ The keys and values are set by the corresponding sources during pipeline\
            \ creation."
          title: pipelineSources
          type: object
        scheduleInfo:
          $ref: '#/components/schemas/GoogleCloudDatapipelinesV1ScheduleSpec'
        schedulerServiceAccountEmail:
          description: "Optional. A service account email to be used with the Cloud\
            \ Scheduler job. If not specified, the default compute engine service\
            \ account will be used."
          title: schedulerServiceAccountEmail
          type: string
        state:
          description: "Required. The state of the pipeline. When the pipeline is\
            \ created, the state is set to 'PIPELINE_STATE_ACTIVE' by default. State\
            \ changes can be requested by setting the state to stopping, paused, or\
            \ resuming. State cannot be changed through UpdatePipeline requests."
          enum:
          - STATE_UNSPECIFIED
          - STATE_RESUMING
          - STATE_ACTIVE
          - STATE_STOPPING
          - STATE_ARCHIVED
          - STATE_PAUSED
          title: state
          type: string
        type:
          description: Required. The type of the pipeline. This field affects the
            scheduling of the pipeline and the type of metrics to show for the pipeline.
          enum:
          - PIPELINE_TYPE_UNSPECIFIED
          - PIPELINE_TYPE_BATCH
          - PIPELINE_TYPE_STREAMING
          title: type
          type: string
        workload:
          $ref: '#/components/schemas/GoogleCloudDatapipelinesV1Workload'
      title: GoogleCloudDatapipelinesV1Pipeline
      type: object
    GoogleCloudDatapipelinesV1RunPipelineRequest:
      description: Request message for RunPipeline
      properties: {}
      type: object
    GoogleCloudDatapipelinesV1RunPipelineResponse:
      description: Response message for RunPipeline
      example:
        job:
          createTime: createTime
          dataflowJobDetails:
            currentWorkers: 0
            sdkVersion:
              sdkSupportStatus: UNKNOWN
              version: version
              versionDisplayName: versionDisplayName
            resourceInfo:
              key: 6.027456183070403
          name: name
          endTime: endTime
          id: id
          state: STATE_UNSPECIFIED
          status:
            code: 1
            details:
            - key: ""
            - key: ""
            message: message
      properties:
        job:
          $ref: '#/components/schemas/GoogleCloudDatapipelinesV1Job'
      title: GoogleCloudDatapipelinesV1RunPipelineResponse
      type: object
    GoogleCloudDatapipelinesV1RuntimeEnvironment:
      description: The environment values to set at runtime.
      example:
        additionalUserLabels:
          key: additionalUserLabels
        workerRegion: workerRegion
        kmsKeyName: kmsKeyName
        network: network
        additionalExperiments:
        - additionalExperiments
        - additionalExperiments
        enableStreamingEngine: true
        tempLocation: tempLocation
        workerZone: workerZone
        bypassTempDirValidation: true
        maxWorkers: 5
        serviceAccountEmail: serviceAccountEmail
        zone: zone
        ipConfiguration: WORKER_IP_UNSPECIFIED
        subnetwork: subnetwork
        numWorkers: 5
        machineType: machineType
      properties:
        additionalExperiments:
          description: Additional experiment flags for the job.
          items:
            type: string
          title: additionalExperiments
          type: array
        additionalUserLabels:
          additionalProperties:
            type: string
          description: "Additional user labels to be specified for the job. Keys and\
            \ values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions)\
            \ page. An object containing a list of key/value pairs. Example: { \"\
            name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }."
          title: additionalUserLabels
          type: object
        bypassTempDirValidation:
          description: Whether to bypass the safety checks for the job's temporary
            directory. Use with caution.
          title: bypassTempDirValidation
          type: boolean
        enableStreamingEngine:
          description: Whether to enable Streaming Engine for the job.
          title: enableStreamingEngine
          type: boolean
        ipConfiguration:
          description: Configuration for VM IPs.
          enum:
          - WORKER_IP_UNSPECIFIED
          - WORKER_IP_PUBLIC
          - WORKER_IP_PRIVATE
          title: ipConfiguration
          type: string
        kmsKeyName:
          description: "Name for the Cloud KMS key for the job. The key format is:\
            \ projects//locations//keyRings//cryptoKeys/"
          title: kmsKeyName
          type: string
        machineType:
          description: The machine type to use for the job. Defaults to the value
            from the template if not specified.
          title: machineType
          type: string
        maxWorkers:
          description: "The maximum number of Compute Engine instances to be made\
            \ available to your pipeline during execution, from 1 to 1000."
          format: int32
          title: maxWorkers
          type: integer
        network:
          description: "Network to which VMs will be assigned. If empty or unspecified,\
            \ the service will use the network \"default\"."
          title: network
          type: string
        numWorkers:
          description: The initial number of Compute Engine instances for the job.
          format: int32
          title: numWorkers
          type: integer
        serviceAccountEmail:
          description: The email address of the service account to run the job as.
          title: serviceAccountEmail
          type: string
        subnetwork:
          description: "Subnetwork to which VMs will be assigned, if desired. You\
            \ can specify a subnetwork using either a complete URL or an abbreviated\
            \ path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\"\
            \ or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located\
            \ in a Shared VPC network, you must use the complete URL."
          title: subnetwork
          type: string
        tempLocation:
          description: "The Cloud Storage path to use for temporary files. Must be\
            \ a valid Cloud Storage URL, beginning with `gs://`."
          title: tempLocation
          type: string
        workerRegion:
          description: "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones)\
            \ in which worker processing should occur, e.g. \"us-west1\". Mutually\
            \ exclusive with worker_zone. If neither worker_region nor worker_zone\
            \ is specified, default to the control plane's region."
          title: workerRegion
          type: string
        workerZone:
          description: "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones)\
            \ in which worker processing should occur, e.g. \"us-west1-a\". Mutually\
            \ exclusive with worker_region. If neither worker_region nor worker_zone\
            \ is specified, a zone in the control plane's region is chosen based on\
            \ available capacity. If both `worker_zone` and `zone` are set, `worker_zone`\
            \ takes precedence."
          title: workerZone
          type: string
        zone:
          description: "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones)\
            \ for launching worker instances to run your pipeline. In the future,\
            \ worker_zone will take precedence."
          title: zone
          type: string
      title: GoogleCloudDatapipelinesV1RuntimeEnvironment
      type: object
    GoogleCloudDatapipelinesV1ScheduleSpec:
      description: Details of the schedule the pipeline runs on.
      example:
        schedule: schedule
        nextJobTime: nextJobTime
        timeZone: timeZone
      properties:
        nextJobTime:
          description: Output only. When the next Scheduler job is going to run.
          format: google-datetime
          readOnly: true
          title: nextJobTime
          type: string
        schedule:
          description: Unix-cron format of the schedule. This information is retrieved
            from the linked Cloud Scheduler.
          title: schedule
          type: string
        timeZone:
          description: "Timezone ID. This matches the timezone IDs used by the Cloud\
            \ Scheduler API. If empty, UTC time is assumed."
          title: timeZone
          type: string
      title: GoogleCloudDatapipelinesV1ScheduleSpec
      type: object
    GoogleCloudDatapipelinesV1SdkVersion:
      description: The version of the SDK used to run the job.
      example:
        sdkSupportStatus: UNKNOWN
        version: version
        versionDisplayName: versionDisplayName
      properties:
        sdkSupportStatus:
          description: The support status for this SDK version.
          enum:
          - UNKNOWN
          - SUPPORTED
          - STALE
          - DEPRECATED
          - UNSUPPORTED
          title: sdkSupportStatus
          type: string
        version:
          description: The version of the SDK used to run the job.
          title: version
          type: string
        versionDisplayName:
          description: A readable string describing the version of the SDK.
          title: versionDisplayName
          type: string
      title: GoogleCloudDatapipelinesV1SdkVersion
      type: object
    GoogleCloudDatapipelinesV1StopPipelineRequest:
      description: Request message for StopPipeline.
      properties: {}
      type: object
    GoogleCloudDatapipelinesV1Workload:
      description: Workload details for creating the pipeline jobs.
      example:
        dataflowFlexTemplateRequest:
          validateOnly: true
          location: location
          projectId: projectId
          launchParameter:
            jobName: jobName
            launchOptions:
              key: launchOptions
            environment:
              additionalUserLabels:
                key: additionalUserLabels
              workerRegion: workerRegion
              flexrsGoal: FLEXRS_UNSPECIFIED
              kmsKeyName: kmsKeyName
              network: network
              additionalExperiments:
              - additionalExperiments
              - additionalExperiments
              enableStreamingEngine: true
              tempLocation: tempLocation
              workerZone: workerZone
              maxWorkers: 6
              serviceAccountEmail: serviceAccountEmail
              zone: zone
              ipConfiguration: WORKER_IP_UNSPECIFIED
              subnetwork: subnetwork
              numWorkers: 1
              machineType: machineType
            transformNameMappings:
              key: transformNameMappings
            update: true
            containerSpecGcsPath: containerSpecGcsPath
            parameters:
              key: parameters
        dataflowLaunchTemplateRequest:
          gcsPath: gcsPath
          validateOnly: true
          launchParameters:
            jobName: jobName
            environment:
              additionalUserLabels:
                key: additionalUserLabels
              workerRegion: workerRegion
              kmsKeyName: kmsKeyName
              network: network
              additionalExperiments:
              - additionalExperiments
              - additionalExperiments
              enableStreamingEngine: true
              tempLocation: tempLocation
              workerZone: workerZone
              bypassTempDirValidation: true
              maxWorkers: 5
              serviceAccountEmail: serviceAccountEmail
              zone: zone
              ipConfiguration: WORKER_IP_UNSPECIFIED
              subnetwork: subnetwork
              numWorkers: 5
              machineType: machineType
            transformNameMapping:
              key: transformNameMapping
            update: true
            parameters:
              key: parameters
          location: location
          projectId: projectId
      properties:
        dataflowFlexTemplateRequest:
          $ref: '#/components/schemas/GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest'
        dataflowLaunchTemplateRequest:
          $ref: '#/components/schemas/GoogleCloudDatapipelinesV1LaunchTemplateRequest'
      title: GoogleCloudDatapipelinesV1Workload
      type: object
    GoogleProtobufEmpty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    GoogleRpcStatus:
      description: "The `Status` type defines a logical error model that is suitable\
        \ for different programming environments, including REST APIs and RPC APIs.\
        \ It is used by [gRPC](https://github.com/grpc). Each `Status` message contains\
        \ three pieces of data: error code, error message, and error details. You\
        \ can find out more about this error model and how to work with it in the\
        \ [API Design Guide](https://cloud.google.com/apis/design/errors)."
      example:
        code: 1
        details:
        - key: ""
        - key: ""
        message: message
      properties:
        code:
          description: "The status code, which should be an enum value of google.rpc.Code."
          format: int32
          title: code
          type: integer
        details:
          description: A list of messages that carry the error details. There is a
            common set of message types for APIs to use.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type
                URL.
            type: object
          title: details
          type: array
        message:
          description: "A developer-facing error message, which should be in English.\
            \ Any user-facing error message should be localized and sent in the google.rpc.Status.details\
            \ field, or localized by the client."
          title: message
          type: string
      title: GoogleRpcStatus
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
