openapi: 3.0.1
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/runbook.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: automation-runbook
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks
  : get:
      description: Retrieve a list of runbooks.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      operationId: Runbook_ListByAutomationAccount
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunbookListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Runbook
      x-ms-examples:
        List runbooks by automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/ASR-AddPublicIp
                  location: East US 2
                  name: ASR-AddPublicIp
                  properties:
                    creationTime: 2017-03-28T21:32:25.78+00:00
                    lastModifiedTime: 2017-03-28T21:32:25.81+00:00
                    logActivityTrace: 1
                    logProgress: true
                    logVerbose: true
                    runbookType: PowerShell
                    state: Published
                  type: Microsoft.Automation/AutomationAccounts/Runbooks
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/AutoExport
                  location: East US 2
                  name: AutoExport
                  properties:
                    creationTime: 2017-03-28T21:32:27.327+00:00
                    lastModifiedTime: 2017-03-28T21:32:27.327+00:00
                    logActivityTrace: 1
                    logProgress: true
                    logVerbose: true
                    runbookType: PowerShell
                    state: Published
                  type: Microsoft.Automation/AutomationAccounts/Runbooks
                - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                  location: East US 2
                  name: Get-AzureVMTutorial
                  properties:
                    creationTime: 2017-03-28T21:32:23.75+00:00
                    lastModifiedTime: 2017-03-28T21:32:23.75+00:00
                    logActivityTrace: 1
                    logProgress: true
                    logVerbose: false
                    runbookType: PowerShellWorkflow
                    state: Published
                  type: Microsoft.Automation/AutomationAccounts/Runbooks
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}
  : delete:
      description: Delete the runbook by name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      operationId: Runbook_Delete
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Runbook
      x-ms-examples:
        Delete a runbook:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Retrieve the runbook identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      operationId: Runbook_Get
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Runbook
      x-ms-examples:
        Get runbook:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: '"636263335437500000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                location: East US 2
                name: Get-AzureVMTutorial
                properties:
                  creationTime: 2017-03-28T21:32:23.75+00:00
                  description: Description of the Runbook
                  jobCount: 0
                  lastModifiedBy: myEmaild@microsoft.com
                  lastModifiedTime: 2017-03-28T21:32:23.75+00:00
                  logActivityTrace: 1
                  logProgress: true
                  logVerbose: false
                  outputTypes: []
                  parameters: {}
                  provisioningState: Succeeded
                  runbookType: PowerShellWorkflow
                  state: Published
                tags:
                  tag01: value01
                  tag02: value02
                type: Microsoft.Automation/AutomationAccounts/Runbooks
              headers: {}
      x-accepts:
      - application/json
    patch:
      description: Update the runbook identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      operationId: Runbook_Update
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunbookUpdateParameters'
        description: The update parameters for runbook.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Runbook
      x-ms-examples:
        Update runbook:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            parameters:
              properties:
                description: Updated Description of the Runbook
                logActivityTrace: 1
                logProgress: true
                logVerbose: false
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: '"636265044994500000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                location: East US 2
                name: Get-AzureVMTutorial
                properties:
                  creationTime: 2017-03-30T21:01:33.777+00:00
                  description: Updated Description of the Runbook
                  jobCount: 0
                  lastModifiedBy: myEmaild@microsoft.com
                  lastModifiedTime: 2017-03-30T21:01:39.45+00:00
                  logActivityTrace: 1
                  logProgress: true
                  logVerbose: false
                  outputTypes: []
                  parameters: {}
                  provisioningState: Succeeded
                  runbookType: PowerShellWorkflow
                  state: Published
                tags:
                  tag01: value01
                  tag02: value02
                type: Microsoft.Automation/AutomationAccounts/Runbooks
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create the runbook identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      operationId: Runbook_CreateOrUpdate
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunbookCreateOrUpdateParameters'
        description: "The create or update parameters for runbook. Provide either\
          \ content link for a published runbook or draft, not both."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook'
          description: Created
        "400":
          content: {}
          description: Bad Request. Cannot specify the content link for a published
            runbook and draft at the same time.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Runbook
      x-ms-examples:
        Create or update runbook and publish it:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            parameters:
              location: East US 2
              name: Get-AzureVMTutorial
              properties:
                description: Description of the Runbook
                logActivityTrace: 1
                logProgress: true
                logVerbose: false
                publishContentLink:
                  contentHash:
                    algorithm: SHA256
                    value: 115775B8FF2BE672D8A946BD0B489918C724DDE15A440373CA54461D53010A80
                  uri: https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-automation-runbook-getvms/Runbooks/Get-AzureVMTutorial.ps1
                runbookType: PowerShellWorkflow
              tags:
                tag01: value01
                tag02: value02
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: '"636263318866000000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                location: East US 2
                name: Get-AzureVMTutorial
                properties:
                  creationTime: 2017-03-28T21:04:43.66+00:00
                  description: Description of the Runbook
                  jobCount: 0
                  lastModifiedBy: myEmaild@microsoft.com
                  lastModifiedTime: 2017-03-28T21:04:46.6+00:00
                  logActivityTrace: 1
                  logProgress: true
                  logVerbose: true
                  outputTypes: []
                  parameters: {}
                  provisioningState: Succeeded
                  runbookType: PowerShellWorkflow
                  state: Published
                tags:
                  tag01: value01
                  tag02: value02
                type: Microsoft.Automation/AutomationAccounts/Runbooks
              headers: {}
            "201":
              body:
                etag: '"636263318837230000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                location: East US 2
                name: Get-AzureVMTutorial
                properties:
                  creationTime: 2017-03-28T21:04:43.66+00:00
                  description: Description of the Runbook
                  jobCount: 0
                  lastModifiedBy: myEmaild@microsoft.com
                  lastModifiedTime: 2017-03-28T21:04:43.723+00:00
                  logActivityTrace: 1
                  logProgress: true
                  logVerbose: false
                  outputTypes: []
                  parameters: {}
                  provisioningState: Succeeded
                  runbookType: PowerShellWorkflow
                  state: Published
                tags:
                  tag01: value01
                  tag02: value02
                type: Microsoft.Automation/AutomationAccounts/Runbooks
              headers: {}
            "400":
              code: BadRequest
              message: "{\"Message\":\"Cannot specify the content link for a published\
                \ runbook and draft at the same time.\"}"
        Create runbook as draft:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            parameters:
              location: East US 2
              name: Get-AzureVMTutorial
              properties:
                description: Description of the Runbook
                draft: {}
                logProgress: false
                logVerbose: false
                runbookType: PowerShellWorkflow
              tags:
                tag01: value01
                tag02: value02
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: '"636263318866000000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                location: East US 2
                name: Get-AzureVMTutorial
                properties:
                  creationTime: 2018-02-09T03:25:59.097+00:00
                  description: Description of the Runbook
                  jobCount: 0
                  lastModifiedTime: 2018-02-09T03:25:59.097+00:00
                  logActivityTrace: 0
                  logProgress: false
                  logVerbose: false
                  parameters: {}
                  provisioningState: Succeeded
                  runbookType: Script
                  state: New
                tags:
                  tag01: value01
                  tag02: value02
                type: Microsoft.Automation/AutomationAccounts/Runbooks
              headers: {}
            "201":
              body:
                etag: '"636263318837230000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                location: East US 2
                name: Get-AzureVMTutorial
                properties:
                  creationTime: 2018-02-09T03:25:59.097+00:00
                  description: Description of the Runbook
                  jobCount: 0
                  lastModifiedTime: 2018-02-09T03:25:59.097+00:00
                  logActivityTrace: 0
                  logProgress: false
                  logVerbose: false
                  outputTypes: []
                  parameters: {}
                  provisioningState: Succeeded
                  runbookType: Script
                  state: New
                tags:
                  tag01: value01
                  tag02: value02
                type: Microsoft.Automation/AutomationAccounts/Runbooks
              headers: {}
            "400":
              code: BadRequest
              message: "{\"Message\":\"Cannot specify the content link for a published\
                \ runbook and draft at the same time.\"}"
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/content
  : get:
      description: Retrieve the content of runbook identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookoperations
      operationId: Runbook_GetContent
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            text/powershell:
              schema:
                format: binary
                type: string
          description: OK
        default:
          content:
            text/powershell:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Runbook
      x-ms-examples:
        Get runbook content:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            "200":
              body: "<#\r\n    .DESCRIPTION\r\n        An example runbook which prints\
                \ out the first10 Azure VMs in your subscription (ordered alphabetically).\r\
                \n        For more information about how this runbook authenticates\
                \ to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\
                \n\r\n    .NOTES\r\n        AUTHOR: Azure Automation Team\r\n    \
                \    LASTEDIT: Mar27,\r\n            2015\r\n#>\r\nworkflow Get-AzureVMTutorial{\r\
                \n    #The name of the Automation Credential Asset this runbook will\
                \ use to authenticate to Azure.\r\n    $CredentialAssetName = 'DefaultAzureCredential'\r\
                \n\r\n    #Get the credential with the above name from the Automation\
                \ Asset store\r\n    $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\
                \n    if(!$Cred){\r\n        Throw\"Could not find an Automation Credential\
                \ Asset named '${CredentialAssetName}'. Make sure you have created\
                \ one in this Automation Account.\"\r\n                }\r\n\r\n \
                \   #Connect to your Azure Account\r\n    $Account = Add-AzureAccount\
                \ -Credential $Cred\r\n    if(!$Account){\r\n        Throw\"Could\
                \ not authenticate to Azure using the credential asset '${CredentialAssetName}'.\
                \ Make sure the user name and password are correct.\"\r\n        \
                \        }\r\n\r\n    #TODO (optional): pick the right subscription\
                \ to use. Without this line, the default subscription for your Azure\
                \ Account will be used.\r\n    #Select-AzureSubscription -SubscriptionName\"\
                TODO: your Azure subscription name here\"\r\n    \r\n    #Get all\
                \ the VMs you have in your Azure subscription\r\n    $VMs = Get-AzureVM\r\
                \n\r\n    #Print out up to10 of those VMs\r\n    if(!$VMs){\r\n  \
                \      Write-Output\"No VMs were found in your subscription.\"\r\n\
                \                } else{\r\n        Write-Output $VMs[0..9\r\n   \
                \                 ]\r\n                }\r\n            }"
              headers:
                Content-Type: text/powershell
      x-accepts:
      - text/powershell
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft
  : get:
      description: Retrieve the runbook draft identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookdraftoperations
      operationId: RunbookDraft_Get
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunbookDraft'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - RunbookDraft
      x-ms-examples:
        Get runbook draft:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            "200":
              body:
                creationTime: 2018-02-09T03:25:59.11+00:00
                inEdit: true
                lastModifiedTime: 2018-02-09T04:48:56.43+00:00
                outputTypes: []
                parameters: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/content
  : get:
      description: Retrieve the content of runbook draft identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookdraftoperations
      operationId: RunbookDraft_GetContent
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            text/powershell:
              schema:
                format: binary
                type: string
          description: OK
        default:
          content:
            text/powershell:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - RunbookDraft
      x-ms-examples:
        Get runbook draft content:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            "200":
              body: "<#\r\n    .DESCRIPTION\r\n        An example runbook which prints\
                \ out the first10 Azure VMs in your subscription (ordered alphabetically).\r\
                \n        For more information about how this runbook authenticates\
                \ to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\
                \n\r\n    .NOTES\r\n        AUTHOR: Azure Automation Team\r\n    \
                \    LASTEDIT: Mar27,\r\n            2015\r\n#>\r\nworkflow Get-AzureVMTutorial{\r\
                \n    #The name of the Automation Credential Asset this runbook will\
                \ use to authenticate to Azure.\r\n    $CredentialAssetName = 'DefaultAzureCredential'\r\
                \n\r\n    #Get the credential with the above name from the Automation\
                \ Asset store\r\n    $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\
                \n    if(!$Cred){\r\n        Throw\"Could not find an Automation Credential\
                \ Asset named '${CredentialAssetName}'. Make sure you have created\
                \ one in this Automation Account.\"\r\n                }\r\n\r\n \
                \   #Connect to your Azure Account\r\n    $Account = Add-AzureAccount\
                \ -Credential $Cred\r\n    if(!$Account){\r\n        Throw\"Could\
                \ not authenticate to Azure using the credential asset '${CredentialAssetName}'.\
                \ Make sure the user name and password are correct.\"\r\n        \
                \        }\r\n\r\n    #TODO (optional): pick the right subscription\
                \ to use. Without this line, the default subscription for your Azure\
                \ Account will be used.\r\n    #Select-AzureSubscription -SubscriptionName\"\
                TODO: your Azure subscription name here\"\r\n    \r\n    #Get all\
                \ the VMs you have in your Azure subscription\r\n    $VMs = Get-AzureVM\r\
                \n\r\n    #Print out up to10 of those VMs\r\n    if(!$VMs){\r\n  \
                \      Write-Output\"No VMs were found in your subscription.\"\r\n\
                \                } else{\r\n        Write-Output $VMs[0..9\r\n   \
                \                 ]\r\n                }\r\n            }"
              headers:
                Content-Type: text/powershell
      x-accepts:
      - text/powershell
    put:
      description: Replaces the runbook draft content.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookdraftoperations
      operationId: RunbookDraft_ReplaceContent
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/powershell:
            schema:
              format: file
              type: object
        description: The runbook draft content.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: OK
        "202":
          content: {}
          description: Accepted and  the operation will complete asynchronously.
          headers:
            location:
              description: URL to query for status of the operation.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - RunbookDraft
      x-ms-examples:
        Create or update runbook draft:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookContent: "<#\r\n        .DESCRIPTION\r\n            An example\
              \ runbook which prints out the first10 Azure VMs in your subscription\
              \ (ordered alphabetically).\r\n            For more information about\
              \ how this runbook authenticates to your Azure subscription, see our\
              \ documentation here: http: //aka.ms/fxu3mn\r\n\r\n        .NOTES\r\n\
              \            AUTHOR: Azure Automation Team\r\n            LASTEDIT:\
              \ Mar27,\r\n            2015\r\n    #>\r\n    workflow Get-AzureVMTutorial{\r\
              \n        #The name of the Automation Credential Asset this runbook\
              \ will use to authenticate to Azure.\r\n        $CredentialAssetName\
              \ = 'DefaultAzureCredential'\r\n\r\n        #Get the credential with\
              \ the above name from the Automation Asset store\r\n        $Cred =\
              \ Get-AutomationPSCredential -Name $CredentialAssetName\r\n        if(!$Cred){\r\
              \n            Throw\"Could not find an Automation Credential Asset named\
              \ '${CredentialAssetName}'. Make sure you have created one in this Automation\
              \ Account.\"\r\n                }\r\n\r\n        #Connect to your Azure\
              \ Account\r\n        $Account = Add-AzureAccount -Credential $Cred\r\
              \n        if(!$Account){\r\n            Throw\"Could not authenticate\
              \ to Azure using the credential asset '${CredentialAssetName}'. Make\
              \ sure the user name and password are correct.\"\r\n               \
              \ }\r\n\r\n        #TODO (optional): pick the right subscription to\
              \ use. Without this line, the default subscription for your Azure Account\
              \ will be used.\r\n        #Select-AzureSubscription -SubscriptionName\"\
              TODO: your Azure subscription name here\"\r\n        \r\n        #Get\
              \ all the VMs you have in your Azure subscription\r\n        $VMs =\
              \ Get-AzureVM\r\n\r\n        #Print out up to10 of those VMs\r\n   \
              \     if(!$VMs){\r\n            Write-Output\"No VMs were found in your\
              \ subscription.\"\r\n                } else{\r\n            Write-Output\
              \ $VMs[0..9\r\n                    ]\r\n                }\r\n      \
              \      }"
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/resourcegroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial/draft/content/operationResults/9bd70be2-cf73-49b4-9467-5261d48c2b3d?api-version=2015-10-31
      x-ms-long-running-operation: true
      x-codegen-request-body-name: runbookContent
      x-content-type: text/powershell
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/publish
  : post:
      description: Publish runbook draft.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookdraftoperations
      operationId: RunbookDraft_Publish
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The parameters supplied to the publish runbook operation.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted and  the operation will complete asynchronously.
          headers:
            location:
              description: URL to query for status of the operation.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - RunbookDraft
      x-ms-examples:
        Publish runbook draft:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/resourcegroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial/draft/publish/operationResults/9bd70be2-cf73-49b4-9467-5261d48c2b3d?api-version=2015-10-31
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob
  : get:
      description: Retrieve the test job for the specified runbook.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/testjoboperations
      operationId: TestJob_Get
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestJob'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - TestJob
      x-ms-examples:
        Get test job:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: mygroup
            runbookName: Get-AzureVMTutorial
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                creationTime: 2018-02-09T05:52:00.9344172+00:00
                endTime: 2018-02-09T05:55:16.7827254+00:00
                lastModifiedTime: 2018-02-09T05:55:16.7827254+00:00
                lastStatusModifiedTime: 2018-02-09T05:55:16.7827254+00:00
                parameters: {}
                startTime: 2018-02-09T05:55:10.8344743+00:00
                status: Completed
                statusDetails: None
              headers: {}
      x-accepts:
      - application/json
    put:
      description: Create a test job of the runbook.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/testjoboperations
      operationId: TestJob_Create
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The parameters supplied to the create test job operation.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestJobCreateParameters'
        description: The parameters supplied to the create test job operation.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestJob'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - TestJob
      x-ms-examples:
        Create test job:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            parameters:
              parameters:
                key01: value01
                key02: value02
              runOn: ""
            resourceGroupName: mygroup
            runbookName: Get-AzureVMTutorial
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "201":
              body:
                creationTime: 2018-02-09T05:51:59.82+00:00
                lastModifiedTime: 2018-02-09T05:51:59.82+00:00
                lastStatusModifiedTime: 2018-02-09T05:51:59.82+00:00
                parameters: {}
                status: New
                statusDetails: None
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/resume
  : post:
      description: Resume the test job.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/testjoboperations
      operationId: TestJob_Resume
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - TestJob
      x-ms-examples:
        Resume test job:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: mygroup
            runbookName: Get-AzureVMTutorial
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200": {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/stop
  : post:
      description: Stop the test job.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/testjoboperations
      operationId: TestJob_Stop
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - TestJob
      x-ms-examples:
        Stop test job:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: mygroup
            runbookName: Get-AzureVMTutorial
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200": {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/streams
  : get:
      description: Retrieve a list of test job streams identified by runbook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      operationId: TestJobStreams_ListByTestJob
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestJobStreams_ListByTestJob_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - TestJobStream
      x-ms-examples:
        List job streams by job name:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: mygroup
            runbookName: Get-AzureVMTutorial
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourcegroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/jobName/streams/24456a8a-2857-4af6-932c-3455f38bd05e_00636535675981232703_00000000000000000001
                  properties:
                    jobStreamId: 24456a8a-2857-4af6-932c-3455f38bd05e_00636535675981232703_00000000000000000001
                    streamType: Output
                    time: 2018-02-07T02:33:18.1232703+00:00
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourcegroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/jobName/streams/24456a8a-2857-4af6-932c-3455f38bd05e_00636535675984691350_00000000000000000002
                  properties:
                    jobStreamId: 24456a8a-2857-4af6-932c-3455f38bd05e_00636535675984691350_00000000000000000002
                    streamType: Output
                    time: 2018-02-07T02:33:18.469135+00:00
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/streams/{jobStreamId}
  : get:
      description: Retrieve a test job stream of the test job identified by runbook
        name and stream id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      operationId: TestJobStreams_Get
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: The job stream id.
        in: path
        name: jobStreamId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestJobStreams_ListByTestJob_200_response_value_inner'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - TestJobStream
      x-ms-examples:
        Get test job stream:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            jobStreamId: 851b2101-686f-40e2-8a4b-5b8df08afbd1_00636535684910693884_00000000000000000001
            resourceGroupName: mygroup
            runbookName: Get-AzureVMTutorial
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourcegroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/foo/draft/testJob/streams/851b2101-686f-40e2-8a4b-5b8df08afbd1_00636535684910693884_00000000000000000001
                properties:
                  jobStreamId: 851b2101-686f-40e2-8a4b-5b8df08afbd1:00636535684910693884:00000000000000000001
                  streamText: ""
                  streamType: Output
                  time: 2018-02-07T02:48:11.0693884+00:00
                  value: {}
              headers: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/suspend
  : post:
      description: Suspend the test job.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/testjoboperations
      operationId: TestJob_Suspend
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - TestJob
      x-ms-examples:
        Suspend test job:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: mygroup
            runbookName: Get-AzureVMTutorial
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200": {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/undoEdit
  : post:
      description: Undo draft edit to last known published state identified by runbook
        name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/runbookdraftoperations
      operationId: RunbookDraft_UndoEdit
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The runbook name.
        in: path
        name: runbookName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunbookDraftUndoEditResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Runbook_ListByAutomationAccount_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - RunbookDraft
      x-ms-examples:
        Undo draft edit to last known published state:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            "200": {}
      x-accepts:
      - application/json
components:
  schemas:
    ContentHash:
      description: Definition of the runbook property type.
      example:
        value: value
        algorithm: algorithm
      properties:
        algorithm:
          description: Gets or sets the content hash algorithm used to hash the content.
          type: string
        value:
          description: Gets or sets expected hash value of the content.
          type: string
      required:
      - algorithm
      - value
      type: object
    ContentLink:
      description: Definition of the content link.
      example:
        uri: uri
        version: version
        contentHash:
          value: value
          algorithm: algorithm
      properties:
        contentHash:
          $ref: '#/components/schemas/ContentHash'
        uri:
          description: Gets or sets the uri of the runbook content.
          type: string
        version:
          description: Gets or sets the version of the content.
          type: string
      type: object
    Runbook:
      allOf:
      - allOf:
        - description: The core properties of ARM resources
          properties:
            id:
              description: Fully qualified resource Id for the resource
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The Azure Region where the resource lives
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
      description: Definition of the runbook type.
      example:
        etag: etag
        properties:
          runbookType: Script
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          lastModifiedBy: lastModifiedBy
          description: description
          provisioningState: Succeeded
          publishContentLink:
            uri: uri
            version: version
            contentHash:
              value: value
              algorithm: algorithm
          draft:
            draftContentLink:
              uri: uri
              version: version
              contentHash:
                value: value
                algorithm: algorithm
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            inEdit: true
            outputTypes:
            - outputTypes
            - outputTypes
            parameters:
              key:
                defaultValue: defaultValue
                position: 0
                type: type
                isMandatory: true
          logVerbose: true
          logProgress: true
          logActivityTrace: 1
          outputTypes:
          - outputTypes
          - outputTypes
          state: New
          jobCount: 6
          parameters:
            key:
              defaultValue: defaultValue
              position: 0
              type: type
              isMandatory: true
      properties:
        etag:
          description: Gets or sets the etag of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/RunbookProperties'
    RunbookCreateOrUpdateDraftParameters:
      description: The parameters supplied to the create or update runbook operation.
      properties:
        runbookContent:
          description: Content of the Runbook.
          type: string
      required:
      - runbookContent
      type: object
      x-ms-client-flatten: true
    RunbookCreateOrUpdateDraftProperties:
      description: The parameters supplied to the create or update draft runbook properties.
      properties:
        description:
          description: Gets or sets the description of the runbook.
          type: string
        draft:
          $ref: '#/components/schemas/RunbookDraft'
        logActivityTrace:
          description: Gets or sets the activity-level tracing options of the runbook.
          format: int32
          type: integer
        logProgress:
          description: Gets or sets progress log option.
          type: boolean
        logVerbose:
          description: Gets or sets verbose log option.
          type: boolean
        runbookType:
          description: Gets or sets the type of the runbook.
          enum:
          - Script
          - Graph
          - PowerShellWorkflow
          - PowerShell
          - GraphPowerShellWorkflow
          - GraphPowerShell
          type: string
          x-ms-enum:
            modelAsString: true
            name: RunbookTypeEnum
      required:
      - draft
      - runbookType
      type: object
    RunbookCreateOrUpdateParameters:
      description: The parameters supplied to the create or update runbook operation.
      example:
        name: name
        location: location
        properties:
          runbookType: Script
          publishContentLink:
            uri: uri
            version: version
            contentHash:
              value: value
              algorithm: algorithm
          draft:
            draftContentLink:
              uri: uri
              version: version
              contentHash:
                value: value
                algorithm: algorithm
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            inEdit: true
            outputTypes:
            - outputTypes
            - outputTypes
            parameters:
              key:
                defaultValue: defaultValue
                position: 0
                type: type
                isMandatory: true
          logVerbose: true
          description: description
          logProgress: true
          logActivityTrace: 0
        tags:
          key: tags
      properties:
        location:
          description: Gets or sets the location of the resource.
          type: string
        name:
          description: Gets or sets the name of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/RunbookCreateOrUpdateProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
          type: object
      required:
      - properties
      type: object
    RunbookCreateOrUpdateProperties:
      description: The parameters supplied to the create or update runbook properties.
      example:
        runbookType: Script
        publishContentLink:
          uri: uri
          version: version
          contentHash:
            value: value
            algorithm: algorithm
        draft:
          draftContentLink:
            uri: uri
            version: version
            contentHash:
              value: value
              algorithm: algorithm
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          inEdit: true
          outputTypes:
          - outputTypes
          - outputTypes
          parameters:
            key:
              defaultValue: defaultValue
              position: 0
              type: type
              isMandatory: true
        logVerbose: true
        description: description
        logProgress: true
        logActivityTrace: 0
      properties:
        description:
          description: Gets or sets the description of the runbook.
          type: string
        draft:
          $ref: '#/components/schemas/RunbookDraft'
        logActivityTrace:
          description: Gets or sets the activity-level tracing options of the runbook.
          format: int32
          type: integer
        logProgress:
          description: Gets or sets progress log option.
          type: boolean
        logVerbose:
          description: Gets or sets verbose log option.
          type: boolean
        publishContentLink:
          $ref: '#/components/schemas/ContentLink'
        runbookType:
          description: Gets or sets the type of the runbook.
          enum:
          - Script
          - Graph
          - PowerShellWorkflow
          - PowerShell
          - GraphPowerShellWorkflow
          - GraphPowerShell
          type: string
          x-ms-enum:
            modelAsString: true
            name: RunbookTypeEnum
      required:
      - runbookType
      type: object
    RunbookDraft:
      example:
        draftContentLink:
          uri: uri
          version: version
          contentHash:
            value: value
            algorithm: algorithm
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        creationTime: 2000-01-23T04:56:07.000+00:00
        inEdit: true
        outputTypes:
        - outputTypes
        - outputTypes
        parameters:
          key:
            defaultValue: defaultValue
            position: 0
            type: type
            isMandatory: true
      properties:
        creationTime:
          description: Gets or sets the creation time of the runbook draft.
          format: date-time
          nullable: false
          type: string
        draftContentLink:
          $ref: '#/components/schemas/ContentLink'
        inEdit:
          description: Gets or sets whether runbook is in edit mode.
          type: boolean
        lastModifiedTime:
          description: Gets or sets the last modified time of the runbook draft.
          format: date-time
          nullable: false
          type: string
        outputTypes:
          description: Gets or sets the runbook output types.
          items:
            type: string
          type: array
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/RunbookParameter'
          description: Gets or sets the runbook draft parameters.
          type: object
      type: object
    RunbookDraftUndoEditResult:
      description: The response model for the undo edit runbook operation.
      example:
        requestId: requestId
        statusCode: Continue
      properties:
        requestId:
          type: string
        statusCode:
          enum:
          - Continue
          - SwitchingProtocols
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultipleChoices
          - Ambiguous
          - MovedPermanently
          - Moved
          - Found
          - Redirect
          - SeeOther
          - RedirectMethod
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - RedirectKeepVerb
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - UpgradeRequired
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
          type: string
          x-ms-enum:
            modelAsString: false
            name: HttpStatusCode
      type: object
    RunbookListResult:
      description: The response model for the list runbook operation.
      example:
        value:
        - etag: etag
          properties:
            runbookType: Script
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy: lastModifiedBy
            description: description
            provisioningState: Succeeded
            publishContentLink:
              uri: uri
              version: version
              contentHash:
                value: value
                algorithm: algorithm
            draft:
              draftContentLink:
                uri: uri
                version: version
                contentHash:
                  value: value
                  algorithm: algorithm
              lastModifiedTime: 2000-01-23T04:56:07.000+00:00
              creationTime: 2000-01-23T04:56:07.000+00:00
              inEdit: true
              outputTypes:
              - outputTypes
              - outputTypes
              parameters:
                key:
                  defaultValue: defaultValue
                  position: 0
                  type: type
                  isMandatory: true
            logVerbose: true
            logProgress: true
            logActivityTrace: 1
            outputTypes:
            - outputTypes
            - outputTypes
            state: New
            jobCount: 6
            parameters:
              key:
                defaultValue: defaultValue
                position: 0
                type: type
                isMandatory: true
        - etag: etag
          properties:
            runbookType: Script
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            creationTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy: lastModifiedBy
            description: description
            provisioningState: Succeeded
            publishContentLink:
              uri: uri
              version: version
              contentHash:
                value: value
                algorithm: algorithm
            draft:
              draftContentLink:
                uri: uri
                version: version
                contentHash:
                  value: value
                  algorithm: algorithm
              lastModifiedTime: 2000-01-23T04:56:07.000+00:00
              creationTime: 2000-01-23T04:56:07.000+00:00
              inEdit: true
              outputTypes:
              - outputTypes
              - outputTypes
              parameters:
                key:
                  defaultValue: defaultValue
                  position: 0
                  type: type
                  isMandatory: true
            logVerbose: true
            logProgress: true
            logActivityTrace: 1
            outputTypes:
            - outputTypes
            - outputTypes
            state: New
            jobCount: 6
            parameters:
              key:
                defaultValue: defaultValue
                position: 0
                type: type
                isMandatory: true
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        value:
          description: Gets or sets a list of runbooks.
          items:
            $ref: '#/components/schemas/Runbook'
          type: array
      type: object
    RunbookParameter:
      description: Definition of the runbook parameter type.
      example:
        defaultValue: defaultValue
        position: 0
        type: type
        isMandatory: true
      properties:
        defaultValue:
          description: Gets or sets the default value of parameter.
          type: string
        isMandatory:
          description: Gets or sets a Boolean value to indicate whether the parameter
            is mandatory or not.
          type: boolean
        position:
          description: Get or sets the position of the parameter.
          format: int32
          type: integer
        type:
          description: Gets or sets the type of the parameter.
          type: string
      type: object
    RunbookProperties:
      description: Definition of the runbook property type.
      example:
        runbookType: Script
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        creationTime: 2000-01-23T04:56:07.000+00:00
        lastModifiedBy: lastModifiedBy
        description: description
        provisioningState: Succeeded
        publishContentLink:
          uri: uri
          version: version
          contentHash:
            value: value
            algorithm: algorithm
        draft:
          draftContentLink:
            uri: uri
            version: version
            contentHash:
              value: value
              algorithm: algorithm
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          creationTime: 2000-01-23T04:56:07.000+00:00
          inEdit: true
          outputTypes:
          - outputTypes
          - outputTypes
          parameters:
            key:
              defaultValue: defaultValue
              position: 0
              type: type
              isMandatory: true
        logVerbose: true
        logProgress: true
        logActivityTrace: 1
        outputTypes:
        - outputTypes
        - outputTypes
        state: New
        jobCount: 6
        parameters:
          key:
            defaultValue: defaultValue
            position: 0
            type: type
            isMandatory: true
      properties:
        creationTime:
          description: Gets or sets the creation time.
          format: date-time
          nullable: false
          type: string
        description:
          description: Gets or sets the description.
          type: string
        draft:
          $ref: '#/components/schemas/RunbookDraft'
        jobCount:
          description: Gets or sets the job count of the runbook.
          format: int32
          type: integer
        lastModifiedBy:
          description: Gets or sets the last modified by.
          type: string
        lastModifiedTime:
          description: Gets or sets the last modified time.
          format: date-time
          nullable: false
          type: string
        logActivityTrace:
          description: Gets or sets the option to log activity trace of the runbook.
          format: int32
          type: integer
        logProgress:
          description: Gets or sets progress log option.
          type: boolean
        logVerbose:
          description: Gets or sets verbose log option.
          type: boolean
        outputTypes:
          description: Gets or sets the runbook output types.
          items:
            type: string
          type: array
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/RunbookParameter'
          description: Gets or sets the runbook parameters.
          type: object
        provisioningState:
          description: Gets or sets the provisioning state of the runbook.
          enum:
          - Succeeded
          type: string
          x-ms-enum:
            modelAsString: false
            name: RunbookProvisioningState
        publishContentLink:
          $ref: '#/components/schemas/ContentLink'
        runbookType:
          description: Gets or sets the type of the runbook.
          enum:
          - Script
          - Graph
          - PowerShellWorkflow
          - PowerShell
          - GraphPowerShellWorkflow
          - GraphPowerShell
          type: string
          x-ms-enum:
            modelAsString: true
            name: RunbookTypeEnum
        state:
          description: Gets or sets the state of the runbook.
          enum:
          - New
          - Edit
          - Published
          type: string
          x-ms-enum:
            modelAsString: true
            name: RunbookState
      type: object
    RunbookUpdateParameters:
      description: The parameters supplied to the update runbook operation.
      example:
        name: name
        location: location
        properties:
          logVerbose: true
          description: description
          logProgress: true
          logActivityTrace: 0
        tags:
          key: tags
      properties:
        location:
          description: Gets or sets the location of the resource.
          type: string
        name:
          description: Gets or sets the name of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/RunbookUpdateProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
          type: object
      type: object
    RunbookUpdateProperties:
      description: The parameters supplied to the update runbook properties.
      example:
        logVerbose: true
        description: description
        logProgress: true
        logActivityTrace: 0
      properties:
        description:
          description: Gets or sets the description of the runbook.
          type: string
        logActivityTrace:
          description: Gets or sets the activity-level tracing options of the runbook.
          format: int32
          type: integer
        logProgress:
          description: Gets or sets progress log option.
          type: boolean
        logVerbose:
          description: Gets or sets verbose log option.
          type: boolean
      type: object
    TestJob:
      description: Definition of the test job.
      example:
        exception: exception
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        creationTime: 2000-01-23T04:56:07.000+00:00
        lastStatusModifiedTime: 2000-01-23T04:56:07.000+00:00
        runOn: runOn
        statusDetails: statusDetails
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        logActivityTrace: 0
        parameters:
          key: parameters
        status: status
      properties:
        creationTime:
          description: Gets or sets the creation time of the test job.
          format: date-time
          nullable: false
          type: string
        endTime:
          description: Gets or sets the end time of the test job.
          format: date-time
          nullable: true
          type: string
        exception:
          description: Gets or sets the exception of the test job.
          type: string
        lastModifiedTime:
          description: Gets or sets the last modified time of the test job.
          format: date-time
          nullable: false
          type: string
        lastStatusModifiedTime:
          description: Gets or sets the last status modified time of the test job.
          format: date-time
          nullable: true
          type: string
        logActivityTrace:
          description: The activity-level tracing options of the runbook.
          format: int32
          type: integer
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the test job.
          type: object
        runOn:
          description: Gets or sets the runOn which specifies the group name where
            the job is to be executed.
          type: string
        startTime:
          description: Gets or sets the start time of the test job.
          format: date-time
          nullable: true
          type: string
        status:
          description: Gets or sets the status of the test job.
          type: string
        statusDetails:
          description: Gets or sets the status details of the test job.
          type: string
      type: object
      x-ms-mutability:
      - read
      - create
    TestJobCreateParameters:
      description: The parameters supplied to the create test job operation.
      example:
        runOn: runOn
        parameters:
          key: parameters
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the test job.
          type: object
        runOn:
          description: Gets or sets the runOn which specifies the group name where
            the job is to be executed.
          type: string
      type: object
    Runbook_ListByAutomationAccount_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    TestJobStreams_ListByTestJob_200_response_value_inner_properties:
      description: Definition of the job stream.
      example:
        summary: summary
        streamType: Progress
        streamText: streamText
        time: 2000-01-23T04:56:07.000+00:00
        value:
          key: "{}"
        jobStreamId: jobStreamId
      properties:
        jobStreamId:
          description: Gets or sets the id of the job stream.
          type: string
        streamText:
          description: Gets or sets the stream text.
          type: string
        streamType:
          description: Gets or sets the stream type.
          enum:
          - Progress
          - Output
          - Warning
          - Error
          - Debug
          - Verbose
          - Any
          type: string
          x-ms-enum:
            modelAsString: true
            name: JobStreamType
        summary:
          description: Gets or sets the summary.
          type: string
        time:
          description: Gets or sets the creation time of the job.
          format: date-time
          nullable: false
          type: string
        value:
          additionalProperties:
            properties: {}
            type: object
          description: Gets or sets the values of the job stream.
          type: object
      type: object
      x-ms-client-flatten: true
    TestJobStreams_ListByTestJob_200_response_value_inner:
      description: Definition of the job stream.
      example:
        id: id
        properties:
          summary: summary
          streamType: Progress
          streamText: streamText
          time: 2000-01-23T04:56:07.000+00:00
          value:
            key: "{}"
          jobStreamId: jobStreamId
      properties:
        id:
          description: Gets or sets the id of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/TestJobStreams_ListByTestJob_200_response_value_inner_properties'
      type: object
    TestJobStreams_ListByTestJob_200_response:
      description: The response model for the list job stream operation.
      example:
        value:
        - id: id
          properties:
            summary: summary
            streamType: Progress
            streamText: streamText
            time: 2000-01-23T04:56:07.000+00:00
            value:
              key: "{}"
            jobStreamId: jobStreamId
        - id: id
          properties:
            summary: summary
            streamType: Progress
            streamText: streamText
            time: 2000-01-23T04:56:07.000+00:00
            value:
              key: "{}"
            jobStreamId: jobStreamId
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the next link.
          type: string
        value:
          description: A list of job streams.
          items:
            $ref: '#/components/schemas/TestJobStreams_ListByTestJob_200_response_value_inner'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

