openapi: 3.0.1
info:
  title: LogicAppsManagementClient
  version: 2015-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/preview/2015-08-01-preview/logicAppsManagementClient.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-logicAppsManagementClient
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis:
    get:
      deprecated: false
      description: Gets a list of managed APIs.
      operationId: managed_apis_list
      parameters:
      - description: The location.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApisCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ApisCollection'
          description: OK
      summary: List managed Apis
      tags:
      - Managed Apis
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.managed_apis_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis/{apiName}:
    get:
      deprecated: false
      description: Gets a managed API.
      operationId: managed_apis_get
      parameters:
      - description: The location.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: The managed API name.
        in: path
        name: apiName
        required: true
        schema:
          type: string
      - description: flag showing whether to export API definition in format specified
          by Accept header.
        in: query
        name: export
        schema:
          type: boolean
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiEntity'
          description: OK
      summary: Get managed API
      tags:
      - Managed Apis
      x-openapi-router-controller: openapi_server.controllers.managed_apis_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections:
    get:
      description: Gets a list of connections.
      operationId: connections_list
      parameters:
      - description: Resource Group Name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionCollection'
          description: OK
      summary: Get Connections
      tags:
      - Connections
      x-ms-odata: '#/definitions/Connection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.connections_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}:
    delete:
      description: Deletes a connection.
      operationId: connections_delete
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - Connections
      x-openapi-router-controller: openapi_server.controllers.connections_controller
    get:
      description: Gets a connection.
      operationId: connections_get
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
            text/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
      tags:
      - Connections
      x-openapi-router-controller: openapi_server.controllers.connections_controller
    put:
      description: Creates or updates a connection.
      operationId: connections_create_or_update
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
          text/json:
            schema:
              $ref: '#/components/schemas/Connection'
        description: The connection.
        required: true
        x-body-name: connection
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
            text/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
            text/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: Created
      tags:
      - Connections
      x-codegen-request-body-name: connection
      x-openapi-router-controller: openapi_server.controllers.connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/confirmConsentCode
  : post:
      description: Confirms consent code of a connection.
      operationId: connections_confirm_consent_code
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmConsentCodeInput'
          text/json:
            schema:
              $ref: '#/components/schemas/ConfirmConsentCodeInput'
        description: The content.
        required: true
        x-body-name: content
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
            text/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
      tags:
      - Connections
      x-codegen-request-body-name: content
      x-openapi-router-controller: openapi_server.controllers.connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/listConnectionKeys
  : post:
      description: Lists connection keys.
      operationId: connections_list_connection_keys
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListConnectionKeysInput'
          text/json:
            schema:
              $ref: '#/components/schemas/ListConnectionKeysInput'
        description: The content.
        required: true
        x-body-name: content
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSecrets'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSecrets'
          description: OK
      tags:
      - Connections
      x-codegen-request-body-name: content
      x-openapi-router-controller: openapi_server.controllers.connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/listConsentLinks
  : post:
      description: Lists consent links of a connection.
      operationId: connections_list_consent_links
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentLinkInput'
          text/json:
            schema:
              $ref: '#/components/schemas/ConsentLinkInput'
        description: The content.
        required: true
        x-body-name: content
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentLinkPayload'
            text/json:
              schema:
                $ref: '#/components/schemas/ConsentLinkPayload'
          description: OK
      tags:
      - Connections
      x-codegen-request-body-name: content
      x-openapi-router-controller: openapi_server.controllers.connections_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: Subscription Id
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiEntity:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: API Management
      example:
        properties: "{}"
      properties:
        properties:
          properties:
            apiDefinitionUrl:
              description: API definition Url - url where the swagger can be downloaded
                from
              title: apiDefinitionUrl
              type: string
            backendService:
              $ref: '#/components/schemas/BackendServiceDefinition'
            capabilities:
              description: Capabilities
              items:
                type: string
              title: capabilities
              type: array
            changedTime:
              description: Timestamp of last connection change.
              format: date-time
              title: changedTime
              type: string
            connectionParameters:
              additionalProperties:
                $ref: '#/components/schemas/ConnectionParameter'
              description: Connection parameters
              title: connectionParameters
              type: object
            createdTime:
              description: Timestamp of the connection creation
              format: date-time
              title: createdTime
              type: string
            generalInformation:
              $ref: '#/components/schemas/GeneralApiInformation'
            metadata:
              $ref: '#/components/schemas/Object'
            name:
              description: "Name of the API\r\n            the URL path of this API\
                \ when exposed via APIM"
              title: name
              type: string
            path:
              description: the URL path of this API when exposed via APIM
              title: path
              type: string
            policies:
              $ref: '#/components/schemas/ApiPolicies'
            protocols:
              description: Protocols supported by the front end - http/https
              items:
                type: string
              title: protocols
              type: array
            runtimeUrls:
              description: Read only property returning the runtime endpoints where
                the API can be called
              items:
                type: string
              title: runtimeUrls
              type: array
          title: properties
          type: object
          x-ms-client-flatten: true
      title: ApiEntity
    ApiOAuthSettings:
      description: OAuth settings for the connection provider
      properties:
        clientId:
          description: Resource provider client id
          title: clientId
          type: string
        clientSecret:
          description: Client Secret needed for OAuth
          title: clientSecret
          type: string
        customParameters:
          additionalProperties:
            $ref: '#/components/schemas/ApiOAuthSettingsParameter'
          description: OAuth parameters key is the name of parameter
          title: customParameters
          type: object
        identityProvider:
          description: Identity provider
          title: identityProvider
          type: string
        properties:
          title: Object
          type: object
        redirectUrl:
          description: Url
          title: redirectUrl
          type: string
        scopes:
          description: OAuth scopes
          items:
            type: string
          title: scopes
          type: array
      title: ApiOAuthSettings
      type: object
    ApiOAuthSettingsParameter:
      description: OAuth Settings Parameter
      properties:
        options:
          title: Object
          type: object
        uiDefinition:
          title: Object
          type: object
        value:
          description: Value
          title: value
          type: string
      title: ApiOAuthSettingsParameter
      type: object
    ApiPolicies:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: API policies
      properties:
        properties:
          properties:
            content:
              description: Content of xml policy
              title: content
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: ApiPolicies
    ApisCollection:
      description: Collection of Apis
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources
          title: nextLink
          type: string
        value:
          description: Collection of resources
          items:
            $ref: '#/components/schemas/ApiEntity'
          title: value
          type: array
      title: ApisCollection
      type: object
    ArmPlan:
      description: "The plan object in an ARM, represents a marketplace plan"
      properties:
        name:
          description: The name
          title: name
          type: string
        product:
          description: The product
          title: product
          type: string
        promotionCode:
          description: The promotion code
          title: promotionCode
          type: string
        publisher:
          description: The publisher
          title: publisher
          type: string
        version:
          description: Version of product
          title: version
          type: string
      title: ArmPlan
      type: object
    BackendServiceDefinition:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: API definitions with backend urls
      properties:
        properties:
          properties:
            hostingEnvironmentServiceUrls:
              description: Service Urls per Hosting environment
              items:
                $ref: '#/components/schemas/HostingEnvironmentServiceDescriptions'
              title: hostingEnvironmentServiceUrls
              type: array
            serviceUrl:
              description: Url from which the swagger payload will be fetched
              title: serviceUrl
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: BackendServiceDefinition
    ConfirmConsentCodeInput:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Confirm Consent Code Input payload
      example:
        properties: "{}"
      properties:
        properties:
          properties:
            code:
              description: Code that was returned during consent flow
              title: code
              type: string
            objectId:
              description: AAD object ID. This is userId
              title: objectId
              type: string
            principalType:
              description: Principal type
              enum:
              - ActiveDirectory
              - Connection
              - MicrosoftAccount
              title: principalType
              type: string
              x-ms-enum:
                modelAsString: false
                name: PrincipalType
            tenantId:
              description: Tenant Id
              title: tenantId
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: ConfirmConsentCodeInput
    Connection:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: API Connection
      example:
        properties: "{}"
      properties:
        properties:
          properties:
            api:
              $ref: "#/components/schemas/ExpandedParent[ApiEntity]"
            changedTime:
              description: Timestamp of last connection change.
              format: date-time
              title: changedTime
              type: string
            createdTime:
              description: Timestamp of the connection creation
              format: date-time
              title: createdTime
              type: string
            customParameterValues:
              additionalProperties:
                $ref: '#/components/schemas/ParameterCustomLoginSettingValues'
              description: Custom login setting values.
              title: customParameterValues
              type: object
            displayName:
              description: display name
              title: displayName
              type: string
            firstExpirationTime:
              description: Time in UTC when the first expiration of OAuth tokens
              format: date-time
              title: firstExpirationTime
              type: string
            keywords:
              description: List of Keywords that tag the acl
              items:
                type: string
              title: keywords
              type: array
            metadata:
              $ref: '#/components/schemas/Object'
            name:
              description: connection name
              title: name
              type: string
            nonSecretParameterValues:
              additionalProperties:
                $ref: '#/components/schemas/Object'
              description: Tokens/Claim
              title: nonSecretParameterValues
              type: object
            parameterValues:
              additionalProperties:
                $ref: '#/components/schemas/Object'
              description: Tokens/Claim
              title: parameterValues
              type: object
            statuses:
              description: Status of the connection
              items:
                $ref: '#/components/schemas/ConnectionStatus'
              title: statuses
              type: array
            tenantId:
              description: ""
              title: tenantId
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: Connection
    ConnectionCollection:
      description: Collection of connections
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources
          title: nextLink
          type: string
        value:
          description: Collection of resources
          items:
            $ref: '#/components/schemas/Connection'
          title: value
          type: array
      title: ConnectionCollection
      type: object
    ConnectionError:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Connection error
      properties:
        properties:
          properties:
            code:
              description: code of the status
              title: code
              type: string
            message:
              description: Description of the status
              title: message
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: ConnectionError
    ConnectionParameter:
      description: connection provider parameters
      properties:
        defaultValue:
          title: Object
          type: object
        oAuthSettings:
          $ref: '#/components/schemas/ApiOAuthSettings'
        type:
          description: Type of the parameter
          enum:
          - string
          - securestring
          - secureobject
          - int
          - bool
          - object
          - array
          - oauthSetting
          - connection
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: ConnectionParameterType
        uiDefinition:
          title: Object
          type: object
      title: ConnectionParameter
      type: object
    ConnectionSecrets:
      description: ""
      example:
        connectionKey: connectionKey
        parameterValues:
          key: null
      properties:
        connectionKey:
          description: Connection Key
          title: connectionKey
          type: string
        parameterValues:
          additionalProperties:
            $ref: '#/components/schemas/Object'
          description: Tokens/Claim
          title: parameterValues
          type: object
      title: ConnectionSecrets
      type: object
    ConnectionStatus:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Connection status
      properties:
        properties:
          properties:
            error:
              $ref: '#/components/schemas/ConnectionError'
            status:
              description: Status
              title: status
              type: string
            target:
              description: Target of the error
              title: target
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: ConnectionStatus
    ConsentLink:
      description: ""
      example:
        displayName: displayName
        link: link
        firstPartyLoginUri: firstPartyLoginUri
        status: Unauthenticated
      properties:
        displayName:
          description: Display Name of the parameter in the connection provider's
            oauthSettings
          title: displayName
          type: string
        firstPartyLoginUri:
          description: Uri for first party login
          title: firstPartyLoginUri
          type: string
        link:
          description: Uri for the consent link
          title: link
          type: string
        status:
          description: Status of the link
          enum:
          - Unauthenticated
          - Authenticated
          - Error
          title: status
          type: string
          x-ms-enum:
            modelAsString: false
            name: LinkState
      title: ConsentLink
      type: object
    ConsentLinkInput:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Connection Consent Link payload
      example:
        properties: "{}"
      properties:
        properties:
          properties:
            parameters:
              description: Array of links
              items:
                $ref: '#/components/schemas/ConsentLinkInputParameter'
              title: parameters
              type: array
          title: properties
          type: object
          x-ms-client-flatten: true
      title: ConsentLinkInput
    ConsentLinkInputParameter:
      description: ""
      properties:
        objectId:
          description: "AAD OID (user or group) if the principal type is ActiveDirectory.\r\
            \n            MSA PUID if the principal type is MicrosoftAccount."
          title: objectId
          type: string
        parameterName:
          description: Name of the parameter in the connection provider's oauthSettings
          title: parameterName
          type: string
        principalType:
          description: Principal type
          enum:
          - ActiveDirectory
          - Connection
          - MicrosoftAccount
          title: principalType
          type: string
          x-ms-enum:
            modelAsString: false
            name: PrincipalType
        redirectUrl:
          description: Name of the parameter in the connection provider's oauthSettings
          title: redirectUrl
          type: string
        tenantId:
          description: Tenant Id
          title: tenantId
          type: string
      title: ConsentLinkInputParameter
      type: object
    ConsentLinkPayload:
      description: Collection of consent links
      example:
        value:
        - displayName: displayName
          link: link
          firstPartyLoginUri: firstPartyLoginUri
          status: Unauthenticated
        - displayName: displayName
          link: link
          firstPartyLoginUri: firstPartyLoginUri
          status: Unauthenticated
      properties:
        value:
          description: Collection of resources
          items:
            $ref: '#/components/schemas/ConsentLink'
          title: value
          type: array
      title: ConsentLinkPayload
      type: object
    CustomLoginSettingValue:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Custom logging setting value
      properties:
        properties:
          properties:
            option:
              description: Option selected for this custom login setting value
              title: option
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: CustomLoginSettingValue
    ExpandedParent[ApiEntity]:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: expanded parent object for expansion
      properties:
        properties:
          properties:
            entity:
              $ref: "#/components/schemas/ResponseMessageEnvelope[ApiEntity]"
            id:
              description: Id of connection provider
              title: id
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: "ExpandedParent[ApiEntity]"
    GeneralApiInformation:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: General API information
      properties:
        properties:
          properties:
            connectionDisplayName:
              description: DefaultConnectionNameTemplate
              title: connectionDisplayName
              type: string
            connectionPortalUrl:
              $ref: '#/components/schemas/Object'
            description:
              description: Description
              title: description
              type: string
            displayName:
              description: Display Name
              title: displayName
              type: string
            iconUrl:
              description: Icon Url
              title: iconUrl
              type: string
            termsOfUseUrl:
              description: a public accessible url of the Terms Of Use Url of this
                API
              title: termsOfUseUrl
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: GeneralApiInformation
    HostingEnvironmentServiceDescriptions:
      description: Back end service per ASE
      properties:
        hostId:
          description: Host Id
          title: hostId
          type: string
        hostingEnvironmentId:
          description: Hosting environment Id
          title: hostingEnvironmentId
          type: string
        serviceUrl:
          description: service url to use
          title: serviceUrl
          type: string
        useInternalRouting:
          description: "When the backend url is in same ASE, for performance reason\
            \ this flag can be set to true\r\n            If WebApp.DisableHostNames\
            \ is also set it improves the security by making the back end accessible\
            \ only \r\n            via API calls\r\n            Note: calls will fail\
            \ if this option is used but back end is not on the same ASE"
          title: useInternalRouting
          type: boolean
      title: HostingEnvironmentServiceDescriptions
      type: object
    ListConnectionKeysInput:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: List Connection Keys Input payload
      example:
        properties: "{}"
      properties:
        properties:
          properties:
            validityTimeSpan:
              description: time span for how long the keys will be valid
              title: validityTimeSpan
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: ListConnectionKeysInput
    Object:
      title: Object
      type: object
    ParameterCustomLoginSettingValues:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Custom logging setting values
      properties:
        properties:
          properties:
            customParameters:
              additionalProperties:
                $ref: '#/components/schemas/CustomLoginSettingValue'
              description: Custom parameters.
              title: customParameters
              type: object
          title: properties
          type: object
          x-ms-client-flatten: true
      title: ParameterCustomLoginSettingValues
    Resource:
      properties:
        id:
          description: Resource Id
          title: id
          type: string
        kind:
          description: Kind of resource
          title: kind
          type: string
        location:
          description: Resource Location
          title: location
          type: string
        name:
          description: Resource Name
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
        type:
          description: Resource type
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResponseMessageEnvelope[ApiEntity]:
      description: Message envelope that contains the common Azure resource manager
        properties and the resource provider specific content
      properties:
        id:
          description: "Resource Id. Typically id is populated only for responses\
            \ to GET requests. Caller is responsible for passing in this\r\n     \
            \       value for GET requests only.\r\n            For example: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupId}/providers/Microsoft.Web/sites/{sitename}"
          title: id
          type: string
        location:
          description: "Geo region resource belongs to e.g. SouthCentralUS, SouthEastAsia"
          title: location
          type: string
        name:
          description: Name of resource
          title: name
          type: string
        plan:
          $ref: '#/components/schemas/ArmPlan'
        properties:
          $ref: '#/components/schemas/ApiEntity'
        sku:
          $ref: '#/components/schemas/SkuDescription'
        tags:
          additionalProperties:
            type: string
          description: Tags associated with resource
          title: tags
          type: object
        type:
          description: Type of resource e.g Microsoft.Web/sites
          title: type
          type: string
      title: "ResponseMessageEnvelope[ApiEntity]"
      type: object
    SkuDescription:
      description: Describes a sku for a scalable resource
      properties:
        capacity:
          description: Current number of instances assigned to the resource
          format: int32
          title: capacity
          type: integer
        family:
          description: Family code of the resource sku
          title: family
          type: string
        name:
          description: Name of the resource sku
          title: name
          type: string
        size:
          description: Size specifier of the resource sku
          title: size
          type: string
        tier:
          description: Service Tier of the resource sku
          title: tier
          type: string
      title: SkuDescription
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
