openapi: 3.0.1
info:
  title: TrafficManagerManagementClient
  version: 2017-09-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/trafficmanager/resource-manager/Microsoft.Network/preview/2017-09-01-preview/trafficmanageranalytics.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: trafficmanager-trafficmanageranalytics
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficManagerUserMetricsKeys:
    delete:
      description: Delete a subscription-level key used for Real User Metrics collection.
      operationId: TrafficManagerUserMetricsKeys_Delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOperationResult'
          description: The Traffic Manager Real User Metrics key was deleted successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RealUserMetrics
      x-ms-examples:
        TrafficManagerUserMetricsKeys-DELETE:
          parameters:
            api-version: 2017-09-01-preview
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body: ""
      x-accepts:
      - application/json
    get:
      description: Get the subscription-level key used for Real User Metrics collection.
      operationId: TrafficManagerUserMetricsKeys_Get
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerUserMetricsKeyModel'
          description: The subscription-level Traffic Manager Real User Metrics key.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RealUserMetrics
      x-ms-examples:
        TrafficManagerUserMetricsKeys-GET:
          parameters:
            api-version: 2017-09-01-preview
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /providers/Microsoft.Network/trafficManagerUserMetricsKeys/default
                key: 9ea056eb38f145a0891b5d5dc15e9aa2
                name: default
                type: Microsoft.Network/trafficManagerUserMetricsKeys
      x-accepts:
      - application/json
    put:
      description: Create or update a subscription-level key used for Real User Metrics
        collection.
      operationId: TrafficManagerUserMetricsKeys_CreateOrUpdate
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerUserMetricsKeyModel'
          description: A new subscription-level key has been created for Real User
            Metrics collection.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RealUserMetrics
      x-ms-examples:
        TrafficManagerUserMetricsKeys-PUT:
          parameters:
            api-version: 2017-09-01-preview
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "201":
              body:
                id: /providers/Microsoft.Network/trafficManagerUserMetricsKeys/default
                key: 9ea056eb38f145a0891b5d5dc15e9aa2
                name: default
                type: Microsoft.Network/trafficManagerUserMetricsKeys
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/heatMaps/{heatMapType}
  : get:
      description: Gets latest heatmap for Traffic Manager profile.
      operationId: HeatMap_Get
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group containing the Traffic Manager
          endpoint.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: The type of HeatMap for the Traffic Manager profile.
        in: path
        name: heatMapType
        required: true
        schema:
          enum:
          - default
          type: string
      - allowEmptyValue: true
        description: "The top left latitude,longitude pair of the rectangular viewport\
          \ to query for."
        explode: false
        in: query
        name: topLeft
        schema:
          items:
            format: double
            type: number
          maxItems: 2
          minItems: 2
          type: array
        style: form
      - allowEmptyValue: true
        description: "The bottom right latitude,longitude pair of the rectangular\
          \ viewport to query for."
        explode: false
        in: query
        name: botRight
        schema:
          items:
            format: double
            type: number
          maxItems: 2
          minItems: 2
          type: array
        style: form
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeatMapModel'
          description: The Traffic Manager heatmap.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - HeatMaps
      x-ms-examples:
        HeatMap-GET:
          parameters:
            api-version: 2017-09-01-preview
            heatMapType: default
            profileName: azuresdkfornetautoresttrafficmanager3880
            resourceGroupName: azuresdkfornetautoresttrafficmanager1323
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/heatMaps/latencyVolumeByLocation
                name: default
                properties:
                  endTime: 2017-08-22T12:50:00Z
                  endpoints:
                  - endpointId: 1
                    resourceId: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/externalEndpoints/azuresdkfornetautoresttrafficmanager3880
                  - endpointId: 2
                    resourceId: /subscriptions/562d4115-c01e-4m67-9bbd-c11c2d58ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1300/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3885/externalEndpoints/azuresdkfornetautoresttrafficmanager3881
                  startTime: 2017-08-15T12:00:00Z
                  trafficFlows:
                  - latitude: 99.99
                    longitude: 0
                    queryExperiences:
                    - endpointId: 1
                      latency: 99.222
                      queryCount: 1000000
                    - endpointId: 2
                      latency: 1.222
                      queryCount: 1
                    sourceIp: 1.1.1.1
                  - latitude: -99.99
                    longitude: 1
                    queryExperiences:
                    - endpointId: 1
                      latency: 96.222
                      queryCount: 100
                    - endpointId: 2
                      latency: 4.222
                      queryCount: 500
                    sourceIp: 2.255.1.1
                type: Microsoft.Network/trafficManagerProfiles/heatMaps/latencyVolumeByLocation
        HeatMap-GET-With-Null-Values:
          parameters:
            api-version: 2017-09-01-preview
            heatMapType: default
            profileName: azuresdkfornetautoresttrafficmanager3880
            resourceGroupName: azuresdkfornetautoresttrafficmanager1323
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/heatMaps/default
                name: default
                properties:
                  endTime: 2017-08-22T12:50:00Z
                  endpoints:
                  - endpointId: 0
                    resourceId: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/externalEndpoints/azuresdkfornetautoresttrafficmanager3880
                  - endpointId: 1
                    resourceId: /subscriptions/562d4115-c01e-4m67-9bbd-c11c2d58ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1300/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3885/externalEndpoints/azuresdkfornetautoresttrafficmanager3881
                  startTime: 2017-08-15T12:00:00Z
                  trafficFlows:
                  - latitude: 99.99
                    longitude: 0
                    queryExperiences:
                    - endpointId: 0
                      latency: 99
                      queryCount: 1000000
                    - endpointId: 1
                      latency: 1
                      queryCount: 1
                    sourceIp: 1.1.1.1
                  - latitude: 1.11
                    longitude: -2.35
                    queryExperiences:
                    - endpointId: 0
                      queryCount: 100
                    - endpointId: 1
                      latency: 4.222
                      queryCount: 500
                    sourceIp: 2.255.1.1
                type: Microsoft.Network/trafficManagerProfiles/heatMaps/default
        HeatMap-GET-With-TopLeft-BotRight:
          parameters:
            api-version: 2017-09-01-preview
            botRight:
            - -50.001
            - 80
            heatMapType: default
            profileName: azuresdkfornetautoresttrafficmanager3880
            resourceGroupName: azuresdkfornetautoresttrafficmanager1323
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
            topLeft:
            - 10
            - 50.001
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/heatMaps/latencyVolumeByLocation
                name: default
                properties:
                  endTime: 2017-08-22T12:50:00Z
                  endpoints:
                  - endpointId: 1
                    resourceId: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/externalEndpoints/azuresdkfornetautoresttrafficmanager3880
                  - endpointId: 2
                    resourceId: /subscriptions/562d4115-c01e-4m67-9bbd-c11c2d58ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1300/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3885/externalEndpoints/azuresdkfornetautoresttrafficmanager3881
                  startTime: 2017-08-15T12:00:00Z
                  trafficFlows:
                  - latitude: 9.99
                    longitude: 75.01
                    queryExperiences:
                    - endpointId: 1
                      latency: 99.222
                      queryCount: 1000000
                    - endpointId: 2
                      latency: 1.222
                      queryCount: 1
                    sourceIp: 1.1.1.1
                  - latitude: -49.99
                    longitude: 51
                    queryExperiences:
                    - endpointId: 1
                      latency: 96.222
                      queryCount: 100
                    - endpointId: 2
                      latency: 4.222
                      queryCount: 500
                    sourceIp: 2.255.1.1
                type: Microsoft.Network/trafficManagerProfiles/heatMaps/latencyVolumeByLocation
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CloudError:
      description: An error returned by the Azure Resource Manager
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: The content of an error returned by the Azure Resource Manager
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: Error code
          type: string
        details:
          description: Error details
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          description: Error message
          type: string
        target:
          description: Error target
          type: string
      type: object
      x-ms-external: true
    DeleteOperationResult:
      description: The result of the request or operation.
      example:
        boolean: true
      properties:
        boolean:
          description: The result of the operation or request.
          readOnly: true
          type: boolean
          x-ms-client-name: operationResult
      type: object
    HeatMapEndpoint:
      description: Class which is a sparse representation of a Traffic Manager endpoint.
      example:
        resourceId: resourceId
        endpointId: 0
      properties:
        endpointId:
          description: A number uniquely identifying this endpoint in query experiences.
          type: integer
        resourceId:
          description: The ARM Resource ID of this Traffic Manager endpoint.
          type: string
      type: object
    HeatMapModel:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Class representing a Traffic Manager HeatMap.
      example:
        properties:
          endpoints:
          - resourceId: resourceId
            endpointId: 0
          - resourceId: resourceId
            endpointId: 0
          trafficFlows:
          - sourceIp: sourceIp
            latitude: 6.027456183070403
            queryExperiences:
            - endpointId: 5
              latency: 5.637376656633329
              queryCount: 2
            - endpointId: 5
              latency: 5.637376656633329
              queryCount: 2
            longitude: 1.4658129805029452
          - sourceIp: sourceIp
            latitude: 6.027456183070403
            queryExperiences:
            - endpointId: 5
              latency: 5.637376656633329
              queryCount: 2
            - endpointId: 5
              latency: 5.637376656633329
              queryCount: 2
            longitude: 1.4658129805029452
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
      properties:
        properties:
          $ref: '#/components/schemas/HeatMapProperties'
    HeatMapProperties:
      description: Class representing a Traffic Manager HeatMap properties.
      example:
        endpoints:
        - resourceId: resourceId
          endpointId: 0
        - resourceId: resourceId
          endpointId: 0
        trafficFlows:
        - sourceIp: sourceIp
          latitude: 6.027456183070403
          queryExperiences:
          - endpointId: 5
            latency: 5.637376656633329
            queryCount: 2
          - endpointId: 5
            latency: 5.637376656633329
            queryCount: 2
          longitude: 1.4658129805029452
        - sourceIp: sourceIp
          latitude: 6.027456183070403
          queryExperiences:
          - endpointId: 5
            latency: 5.637376656633329
            queryCount: 2
          - endpointId: 5
            latency: 5.637376656633329
            queryCount: 2
          longitude: 1.4658129805029452
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
      properties:
        endTime:
          description: "The ending of the time window for this HeatMap, exclusive."
          format: date-time
          type: string
        endpoints:
          description: The endpoints used in this HeatMap calculation.
          items:
            $ref: '#/components/schemas/HeatMapEndpoint'
          type: array
        startTime:
          description: "The beginning of the time window for this HeatMap, inclusive."
          format: date-time
          type: string
        trafficFlows:
          description: The traffic flows produced in this HeatMap calculation.
          items:
            $ref: '#/components/schemas/TrafficFlow'
          type: array
      type: object
    ProxyResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
    QueryExperience:
      description: Class representing a Traffic Manager HeatMap query experience properties.
      example:
        endpointId: 5
        latency: 5.637376656633329
        queryCount: 2
      properties:
        endpointId:
          description: The id of the endpoint from the 'endpoints' array which these
            queries were routed to.
          type: integer
        latency:
          description: The latency experienced by queries originating from this location.
          format: double
          type: number
        queryCount:
          description: The number of queries originating from this location.
          type: integer
      required:
      - endpointId
      - queryCount
      type: object
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}"
          readOnly: true
          type: string
        name:
          description: The name of the resource
          readOnly: true
          type: string
        type:
          description: The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource
      properties:
        location:
          description: The Azure Region where the resource lives
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
          x-ms-mutability:
          - read
          - create
          - update
    TrafficFlow:
      description: Class representing a Traffic Manager HeatMap traffic flow properties.
      example:
        sourceIp: sourceIp
        latitude: 6.027456183070403
        queryExperiences:
        - endpointId: 5
          latency: 5.637376656633329
          queryCount: 2
        - endpointId: 5
          latency: 5.637376656633329
          queryCount: 2
        longitude: 1.4658129805029452
      properties:
        latitude:
          description: The approximate latitude that these queries originated from.
          format: double
          type: number
        longitude:
          description: The approximate longitude that these queries originated from.
          format: double
          type: number
        queryExperiences:
          description: The query experiences produced in this HeatMap calculation.
          items:
            $ref: '#/components/schemas/QueryExperience'
          type: array
        sourceIp:
          description: The IP address that this query experience originated from.
          type: string
      type: object
    TrafficManagerUserMetricsKeyModel:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Class representing a Traffic Manager Real User Metrics key response.
      example:
        name: name
        id: id
        type: type
        key: key
      properties:
        id:
          description: Fully qualified resource Id for the resource. Ex - /providers/Microsoft.Network/trafficManagerUserMetricsKeys
          type: string
        key:
          description: The key returned by the Real User Metrics operation.
          type: string
        name:
          description: The word default.
          type: string
        type:
          description: The type of the resource. Ex- Microsoft.Network/trafficManagerUserMetricsKeys.
          type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

