openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Verify
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_verify_v2.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_verify_v2
servers:
- url: https://verify.twilio.com
tags:
- name: VerifyV2AccessToken
- name: VerifyV2Bucket
- name: VerifyV2Challenge
- name: VerifyV2Entity
- name: VerifyV2Factor
- name: VerifyV2Form
- name: VerifyV2MessagingConfiguration
- name: VerifyV2NewFactor
- name: VerifyV2Notification
- name: VerifyV2RateLimit
- name: VerifyV2Safelist
- name: VerifyV2Service
- name: VerifyV2Template
- name: VerifyV2Verification
- name: VerifyV2VerificationAttempt
- name: VerifyV2VerificationAttemptsSummary
- name: VerifyV2VerificationCheck
- name: VerifyV2Webhook
paths:
  /v2/Attempts:
    description: "TODO: Resource-level docs"
    get:
      description: List all the verification attempts for a given Account.
      operationId: ListVerificationAttempt
      parameters:
      - description: "Datetime filter used to consider only Verification Attempts\
          \ created after this datetime on the summary aggregation. Given as GMT in\
          \ ISO 8601 formatted datetime string: yyyy-MM-dd'T'HH:mm:ss'Z."
        explode: true
        in: query
        name: DateCreatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Datetime filter used to consider only Verification Attempts\
          \ created before this datetime on the summary aggregation. Given as GMT\
          \ in ISO 8601 formatted datetime string: yyyy-MM-dd'T'HH:mm:ss'Z."
        explode: true
        in: query
        name: DateCreatedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Destination of a verification. It is phone number in E.164 format.
        explode: true
        in: query
        name: ChannelData.To
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: Filter used to query Verification Attempts sent to the specified
          destination country.
        explode: true
        in: query
        name: Country
        required: false
        schema:
          format: iso-country-code
          type: string
        style: form
      - description: Filter used to query Verification Attempts by communication channel.
          Valid values are `SMS` and `CALL`
        explode: true
        in: query
        name: Channel
        required: false
        schema:
          $ref: '#/components/schemas/verification_attempt_enum_channels'
        style: form
      - description: Filter used to query Verification Attempts by verify service.
          Only attempts of the provided SID will be returned.
        explode: true
        in: query
        name: VerifyServiceSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: Filter used to return all the Verification Attempts of a single
          verification. Only attempts of the provided verification SID will be returned.
        explode: true
        in: query
        name: VerificationSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VE[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "Filter used to query Verification Attempts by conversion status.\
          \ Valid values are `UNCONVERTED`, for attempts that were not converted,\
          \ and `CONVERTED`, for attempts that were confirmed."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/verification_attempt_enum_conversion_status'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVerificationAttemptResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2VerificationAttempt
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - date_created
      - date_updated
      - conversion_status
      - channel
      mountName: verification_attempts
      pathType: list
  /v2/Attempts/Summary:
    description: "TODO: Resource-level docs"
    get:
      description: Get a summary of how many attempts were made and how many were
        converted.
      operationId: FetchVerificationAttemptsSummary
      parameters:
      - description: Filter used to consider only Verification Attempts of the given
          verify service on the summary aggregation.
        explode: true
        in: query
        name: VerifyServiceSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "Datetime filter used to consider only Verification Attempts\
          \ created after this datetime on the summary aggregation. Given as GMT in\
          \ ISO 8601 formatted datetime string: yyyy-MM-dd'T'HH:mm:ss'Z."
        explode: true
        in: query
        name: DateCreatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Datetime filter used to consider only Verification Attempts\
          \ created before this datetime on the summary aggregation. Given as GMT\
          \ in ISO 8601 formatted datetime string: yyyy-MM-dd'T'HH:mm:ss'Z."
        explode: true
        in: query
        name: DateCreatedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter used to consider only Verification Attempts sent to the
          specified destination country on the summary aggregation.
        explode: true
        in: query
        name: Country
        required: false
        schema:
          format: iso-country-code
          type: string
        style: form
      - description: "Filter Verification Attempts considered on the summary aggregation\
          \ by communication channel. Valid values are `SMS`, `CALL` and `WHATSAPP`"
        explode: true
        in: query
        name: Channel
        required: false
        schema:
          $ref: '#/components/schemas/verification_attempts_summary_enum_channels'
        style: form
      - description: Filter the Verification Attempts considered on the summary aggregation
          by Destination prefix. It is the prefix of a phone number in E.164 format.
        explode: true
        in: query
        name: DestinationPrefix
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.verification_attempts_summary'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2VerificationAttemptsSummary
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - total_attempts
      - total_converted
      - total_unconverted
      - conversion_rate_percentage
      mountName: verification_attempts_summary
      pathType: instance
  /v2/Attempts/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific verification attempt.
      operationId: FetchVerificationAttempt
      parameters:
      - description: The unique SID identifier of a Verification Attempt
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.verification_attempt'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2VerificationAttempt
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - date_created
      - date_updated
      - conversion_status
      - channel
      mountName: verification_attempts
      pathType: instance
  /v2/Forms/{FormType}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch the forms for a specific Form Type.
      operationId: FetchForm
      parameters:
      - description: The Type of this Form. Currently only `form-push` is supported.
        explode: false
        in: path
        name: FormType
        required: true
        schema:
          $ref: '#/components/schemas/form_enum_form_types'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.form'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Form
      x-maturity:
      - Beta
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - form_type
      pathType: instance
  /v2/SafeList/Numbers:
    description: "TODO: Resource-level docs"
    post:
      description: Add a new phone number to SafeList.
      operationId: CreateSafelist
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSafelistRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.safelist'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Safelist
      x-maturity:
      - Beta
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - phone_number
      mountName: safelist
      pathType: list
  /v2/SafeList/Numbers/{PhoneNumber}:
    delete:
      description: Remove a phone number from SafeList.
      operationId: DeleteSafelist
      parameters:
      - description: "The phone number to be removed from SafeList. Phone numbers\
          \ must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164)."
        explode: false
        in: path
        name: PhoneNumber
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 0
            handling: standard
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Safelist
      x-maturity:
      - Beta
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Check if a phone number exists in SafeList.
      operationId: FetchSafelist
      parameters:
      - description: "The phone number to be fetched from SafeList. Phone numbers\
          \ must be in [E.164 format](https://www.twilio.com/docs/glossary/what-e164)."
        explode: false
        in: path
        name: PhoneNumber
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 0
            handling: standard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.safelist'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Safelist
      x-maturity:
      - Beta
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - phone_number
      mountName: safelist
      pathType: instance
  /v2/Services:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Verification Services for an account.
      operationId: ListService
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Service
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Create a new Verification Service.
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Service
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        access_tokens:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/AccessTokens"
        entities:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Entities"
        messaging_configurations:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/MessagingConfigurations"
        rate_limits:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/RateLimits"
        verification_checks:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/VerificationCheck"
        verifications:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Verifications"
        webhooks:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Webhooks"
      pathType: list
  /v2/Services/{ServiceSid}/AccessTokens:
    description: "TODO: Resource-level docs"
    post:
      description: Create a new enrollment Access Token for the Entity
      operationId: CreateAccessToken
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAccessTokenRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.access_token'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2AccessToken
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - account_sid
      - service_sid
      - entity_identity
      - factor_type
      - factor_friendly_name
      - token
      - ttl
      - date_created
      parent: "/Services/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/AccessTokens/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch an Access Token for the Entity
      operationId: FetchAccessToken
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this Access Token.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^YK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.access_token'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2AccessToken
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - account_sid
      - service_sid
      - entity_identity
      - factor_type
      - factor_friendly_name
      - token
      - ttl
      - date_created
      parent: "/Services/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Entities:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Entities for a Service.
      operationId: ListEntity
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEntityResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Entity
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Create a new Entity for the Service
      operationId: CreateEntity
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateEntityRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.entity'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Entity
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      dependentProperties:
        challenges:
          mapping:
            identity: identity
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Entities/{identity}/Challenges"
        factors:
          mapping:
            identity: identity
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Entities/{identity}/Factors"
        new_factors:
          mapping:
            identity: identity
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Entities/{identity}/Factors"
      parent: "/Services/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Entities/{Identity}:
    delete:
      description: Delete a specific Entity.
      operationId: DeleteEntity
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique external identifier for the Entity of the Service.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Entity
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Entity.
      operationId: FetchEntity
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique external identifier for the Entity of the Service.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.entity'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Entity
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      dependentProperties:
        challenges:
          mapping:
            identity: identity
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Entities/{identity}/Challenges"
        factors:
          mapping:
            identity: identity
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Entities/{identity}/Factors"
        new_factors:
          mapping:
            identity: identity
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Entities/{identity}/Factors"
      parent: "/Services/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Entities/{Identity}/Challenges:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Challenges for a Factor.
      operationId: ListChallenge
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Customer unique identity for the Entity owner of the Challenge.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: The unique SID identifier of the Factor.
        explode: true
        in: query
        name: FactorSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^YF[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "The Status of the Challenges to fetch. One of `pending`, `expired`,\
          \ `approved` or `denied`."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/challenge_enum_challenge_statuses'
        style: form
      - description: The desired sort order of the Challenges list. One of `asc` or
          `desc` for ascending and descending respectively. Defaults to `asc`.
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/challenge_enum_list_orders'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChallengeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Challenge
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Create a new Challenge for the Factor
      operationId: CreateChallenge
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Customer unique identity for the Entity owner of the Challenge.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateChallengeRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.entity.challenge'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Challenge
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - factor_type
      - status
      - responded_reason
      - date_created
      dependentProperties:
        notifications:
          mapping:
            challenge_sid: sid
            identity: identity
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Entities/{identity}/Challenges/{challenge_sid}/Notifications"
      parent: "/Services/{ServiceSid}/Entities/{Identity}"
      pathType: list
  /v2/Services/{ServiceSid}/Entities/{Identity}/Challenges/{ChallengeSid}/Notifications:
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Notification for the corresponding Challenge
      operationId: CreateNotification
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Customer unique identity for the Entity owner of the Challenge.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: The unique SID identifier of the Challenge.
        explode: false
        in: path
        name: ChallengeSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^YC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateNotificationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.entity.challenge.notification'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Notification
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - challenge_sid
      - date_created
      parent: "/Services/{ServiceSid}/Entities/{Identity}/Challenges/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Entities/{Identity}/Challenges/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Challenge.
      operationId: FetchChallenge
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Customer unique identity for the Entity owner of the Challenges.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: A 34 character string that uniquely identifies this Challenge.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^YC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.entity.challenge'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Challenge
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Verify a specific Challenge.
      operationId: UpdateChallenge
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Customer unique identity for the Entity owner of the Challenge.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: A 34 character string that uniquely identifies this Challenge.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^YC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateChallengeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.entity.challenge'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Challenge
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - factor_type
      - status
      - responded_reason
      - date_created
      dependentProperties:
        notifications:
          mapping:
            challenge_sid: sid
            identity: identity
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/Entities/{identity}/Challenges/{challenge_sid}/Notifications"
      parent: "/Services/{ServiceSid}/Entities/{Identity}"
      pathType: instance
  /v2/Services/{ServiceSid}/Entities/{Identity}/Factors:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Factors for an Entity.
      operationId: ListFactor
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Customer unique identity for the Entity owner of the Factors.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFactorResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Factor
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Create a new Factor for the Entity
      operationId: CreateNewFactor
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Customer unique identity for the Entity owner of the Factor.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateNewFactorRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.entity.new_factor'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2NewFactor
      x-maturity:
      - GA
      x-twilio:
        mountName: new_factors
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      - factor_type
      parent: "/Services/{ServiceSid}/Entities/{Identity}"
      pathType: list
  /v2/Services/{ServiceSid}/Entities/{Identity}/Factors/{Sid}:
    delete:
      description: Delete a specific Factor.
      operationId: DeleteFactor
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Customer unique identity for the Entity owner of the Factor.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: A 34 character string that uniquely identifies this Factor.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^YF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Factor
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Factor.
      operationId: FetchFactor
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Customer unique identity for the Entity owner of the Factor.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: A 34 character string that uniquely identifies this Factor.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^YF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.entity.factor'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Factor
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Update a specific Factor. This endpoint can be used to Verify a
        Factor if passed an `AuthPayload` param.
      operationId: UpdateFactor
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Customer unique identity for the Entity owner of the Factor.\
          \ This identifier should be immutable, not PII, length between 8 and 64\
          \ characters, and generated by your external system, such as your user's\
          \ UUID, GUID, or SID. It can only contain dash (-) separated alphanumeric\
          \ characters."
        explode: false
        in: path
        name: Identity
        required: true
        schema:
          type: string
        style: simple
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: A 34 character string that uniquely identifies this Factor.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^YF[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateFactorRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.entity.factor'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Factor
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      - factor_type
      parent: "/Services/{ServiceSid}/Entities/{Identity}"
      pathType: instance
  /v2/Services/{ServiceSid}/MessagingConfigurations:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Messaging Configurations for a Service.
      operationId: ListMessagingConfiguration
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ that the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessagingConfigurationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2MessagingConfiguration
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Create a new MessagingConfiguration for a service.
      operationId: CreateMessagingConfiguration
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ that the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMessagingConfigurationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.messaging_configuration'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2MessagingConfiguration
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - service_sid
      - country
      - messaging_service_sid
      - date_created
      - date_updated
      parent: "/Services/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/MessagingConfigurations/{Country}:
    delete:
      description: Delete a specific MessagingConfiguration.
      operationId: DeleteMessagingConfiguration
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ that the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country this configuration will be applied to. If\
          \ this is a global configuration, Country will take the value `all`."
        explode: false
        in: path
        name: Country
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2MessagingConfiguration
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific MessagingConfiguration.
      operationId: FetchMessagingConfiguration
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ that the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country this configuration will be applied to. If\
          \ this is a global configuration, Country will take the value `all`."
        explode: false
        in: path
        name: Country
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.messaging_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2MessagingConfiguration
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Update a specific MessagingConfiguration
      operationId: UpdateMessagingConfiguration
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ that the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country this configuration will be applied to. If\
          \ this is a global configuration, Country will take the value `all`."
        explode: false
        in: path
        name: Country
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateMessagingConfigurationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.messaging_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2MessagingConfiguration
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - service_sid
      - country
      - messaging_service_sid
      - date_created
      - date_updated
      parent: "/Services/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/RateLimits:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Rate Limits for a service.
      operationId: ListRateLimit
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRateLimitResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2RateLimit
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Create a new Rate Limit for a Service
      operationId: CreateRateLimit
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateRateLimitRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.rate_limit'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2RateLimit
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - service_sid
      - account_sid
      - unique_name
      - description
      - date_created
      - date_updated
      dependentProperties:
        buckets:
          mapping:
            rate_limit_sid: sid
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/RateLimits/{rate_limit_sid}/Buckets"
      parent: "/Services/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/RateLimits/{RateLimitSid}/Buckets:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Buckets for a Rate Limit.
      operationId: ListBucket
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Rate
          Limit resource.
        explode: false
        in: path
        name: RateLimitSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBucketResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Bucket
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Create a new Bucket for a Rate Limit
      operationId: CreateBucket
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Rate
          Limit resource.
        explode: false
        in: path
        name: RateLimitSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBucketRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.rate_limit.bucket'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Bucket
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - service_sid
      - rate_limit_sid
      - account_sid
      - max
      - interval
      - date_created
      - date_updated
      parent: "/Services/{ServiceSid}/RateLimits/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/RateLimits/{RateLimitSid}/Buckets/{Sid}:
    delete:
      description: Delete a specific Bucket.
      operationId: DeleteBucket
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Rate
          Limit resource.
        explode: false
        in: path
        name: RateLimitSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this Bucket.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Bucket
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Bucket.
      operationId: FetchBucket
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Rate
          Limit resource.
        explode: false
        in: path
        name: RateLimitSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this Bucket.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.rate_limit.bucket'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Bucket
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Update a specific Bucket.
      operationId: UpdateBucket
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Rate
          Limit resource.
        explode: false
        in: path
        name: RateLimitSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this Bucket.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^BL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateBucketRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.rate_limit.bucket'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Bucket
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - service_sid
      - rate_limit_sid
      - account_sid
      - max
      - interval
      - date_created
      - date_updated
      parent: "/Services/{ServiceSid}/RateLimits/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/RateLimits/{Sid}:
    delete:
      description: Delete a specific Rate Limit.
      operationId: DeleteRateLimit
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Rate
          Limit resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2RateLimit
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Rate Limit.
      operationId: FetchRateLimit
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Rate
          Limit resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.rate_limit'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2RateLimit
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Update a specific Rate Limit.
      operationId: UpdateRateLimit
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/verify/api/service)\
          \ the resource is associated with."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Rate
          Limit resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RK[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateRateLimitRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.rate_limit'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2RateLimit
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - service_sid
      - account_sid
      - unique_name
      - description
      - date_created
      - date_updated
      dependentProperties:
        buckets:
          mapping:
            rate_limit_sid: sid
            service_sid: service_sid
          resource_url: "/v2/Services/{service_sid}/RateLimits/{rate_limit_sid}/Buckets"
      parent: "/Services/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/VerificationCheck:
    description: "TODO: Resource-level docs"
    post:
      description: challenge a specific Verification Check.
      operationId: CreateVerificationCheck
      parameters:
      - description: "The SID of the verification [Service](https://www.twilio.com/docs/verify/api/service)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateVerificationCheckRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.verification_check'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2VerificationCheck
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - to
      - channel
      - status
      - valid
      - date_created
      mountName: verification_checks
      parent: "/Services/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Verifications:
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Verification using a Service
      operationId: CreateVerification
      parameters:
      - description: "The SID of the verification [Service](https://www.twilio.com/docs/verify/api/service)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateVerificationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.verification'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Verification
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - to
      - channel
      - status
      - valid
      - date_created
      parent: "/Services/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Verifications/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Verification
      operationId: FetchVerification
      parameters:
      - description: "The SID of the verification [Service](https://www.twilio.com/docs/verify/api/service)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Verification
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.verification'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Verification
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Update a Verification status
      operationId: UpdateVerification
      parameters:
      - description: "The SID of the verification [Service](https://www.twilio.com/docs/verify/api/service)\
          \ to update the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Verification
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateVerificationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.verification'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Verification
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - to
      - channel
      - status
      - valid
      - date_created
      parent: "/Services/{Sid}"
      pathType: instance
  /v2/Services/{ServiceSid}/Webhooks:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Webhooks for a Service.
      operationId: ListWebhook
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWebhookResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Webhook
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Create a new Webhook for the Service
      operationId: CreateWebhook
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.webhook'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Webhook
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - service_sid
      - friendly_name
      - event_types
      - webhook_url
      - webhook_method
      - status
      - date_created
      parent: "/Services/{Sid}"
      pathType: list
  /v2/Services/{ServiceSid}/Webhooks/{Sid}:
    delete:
      description: Delete a specific Webhook.
      operationId: DeleteWebhook
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Webhook
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^YW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Webhook
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Webhook.
      operationId: FetchWebhook
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Webhook
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^YW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.webhook'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Webhook
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateWebhook
      parameters:
      - description: The unique SID identifier of the Service.
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Webhook
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^YW[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service.webhook'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Webhook
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - service_sid
      - friendly_name
      - event_types
      - webhook_url
      - webhook_method
      - status
      - date_created
      parent: "/Services/{Sid}"
      pathType: instance
  /v2/Services/{Sid}:
    delete:
      description: Delete a specific Verification Service Instance.
      operationId: DeleteService
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Verification
          Service resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Service
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Fetch specific Verification Service Instance.
      operationId: FetchService
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Verification
          Service resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Service
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Update a specific Verification Service.
      operationId: UpdateService
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Service
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify.v2.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Service
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        access_tokens:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/AccessTokens"
        entities:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Entities"
        messaging_configurations:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/MessagingConfigurations"
        rate_limits:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/RateLimits"
        verification_checks:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/VerificationCheck"
        verifications:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Verifications"
        webhooks:
          mapping:
            service_sid: sid
          resource_url: "/v2/Services/{service_sid}/Webhooks"
      pathType: instance
  /v2/Templates:
    description: "TODO: Resource-level docs"
    get:
      description: List all the available templates for a given Account.
      operationId: ListVerificationTemplate
      parameters:
      - description: String filter used to query templates with a given friendly name.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVerificationTemplateResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - VerifyV2Template
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://verify.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
components:
  schemas:
    access_token_enum_factor_types:
      enum:
      - push
      type: string
    challenge_enum_challenge_reasons:
      enum:
      - none
      - not_needed
      - not_requested
      type: string
    challenge_enum_challenge_statuses:
      enum:
      - pending
      - expired
      - approved
      - denied
      type: string
    challenge_enum_factor_types:
      enum:
      - push
      - totp
      type: string
    challenge_enum_list_orders:
      enum:
      - asc
      - desc
      type: string
    factor_enum_factor_statuses:
      enum:
      - unverified
      - verified
      type: string
    factor_enum_factor_types:
      enum:
      - push
      - totp
      type: string
    factor_enum_notification_platforms:
      enum:
      - apn
      - fcm
      - none
      type: string
    factor_enum_totp_algorithms:
      enum:
      - sha1
      - sha256
      - sha512
      type: string
    form_enum_form_types:
      enum:
      - form-push
      type: string
    new_factor_enum_factor_statuses:
      enum:
      - unverified
      - verified
      type: string
    new_factor_enum_factor_types:
      enum:
      - push
      - totp
      type: string
    new_factor_enum_notification_platforms:
      enum:
      - apn
      - fcm
      - none
      type: string
    new_factor_enum_totp_algorithms:
      enum:
      - sha1
      - sha256
      - sha512
      type: string
    verification_attempt_enum_attempt_status:
      enum:
      - confirmed
      - unconfirmed
      - expired
      type: string
    verification_attempt_enum_call_status:
      enum:
      - queued
      - in-progress
      - completed
      - busy
      - failed
      - no-answer
      - ringing
      - canceled
      type: string
    verification_attempt_enum_channels:
      enum:
      - sms
      - call
      - email
      - whatsapp
      type: string
    verification_attempt_enum_conversion_status:
      enum:
      - converted
      - unconverted
      type: string
    verification_attempt_enum_message_status:
      enum:
      - queued
      - sending
      - sent
      - failed
      - delivered
      - undelivered
      - receiving
      - received
      - accepted
      - scheduled
      - read
      - partially_delivered
      - canceled
      type: string
    verification_attempts_summary_enum_channels:
      enum:
      - sms
      - call
      - email
      - whatsapp
      type: string
    verification_check_enum_channel:
      enum:
      - sms
      - call
      - email
      - whatsapp
      - sna
      type: string
    verification_enum_channel:
      enum:
      - sms
      - call
      - email
      - whatsapp
      - sna
      type: string
    verification_enum_risk_check:
      enum:
      - enable
      - disable
      type: string
    verification_enum_status:
      enum:
      - canceled
      - approved
      type: string
    verify.v2.form:
      example:
        form_meta: ""
        form_type: form_type
        forms: ""
        url: https://openapi-generator.tech
      properties:
        form_meta:
          description: Additional information for the available forms for this type.
            E.g. The separator string used for `binding` in a Factor push.
          nullable: true
        form_type:
          $ref: '#/components/schemas/form_enum_form_types'
        forms:
          description: "Object that contains the available forms for this type. This\
            \ available forms are given in the standard [JSON Schema](https://json-schema.org/)\
            \ format"
          nullable: true
        url:
          description: The URL to access the forms for this type.
          format: uri
          nullable: true
          type: string
      type: object
    verify.v2.safelist:
      example:
        phone_number: phone_number
        url: https://openapi-generator.tech
        sid: sid
      properties:
        phone_number:
          description: The phone number in SafeList.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 0
              handling: standard
        sid:
          description: The unique string that we created to identify the SafeList
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^GN[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the SafeList resource.
          format: uri
          nullable: true
          type: string
      type: object
    verify.v2.service:
      example:
        code_length: 0
        totp: ""
        friendly_name: friendly_name
        lookup_enabled: true
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        default_template_sid: default_template_sid
        custom_code_enabled: true
        verify_event_subscription_enabled: true
        skip_sms_to_landlines: true
        do_not_share_warning_enabled: true
        dtmf_input_required: true
        push: ""
        url: https://openapi-generator.tech
        sid: sid
        tts_name: tts_name
        psd2_enabled: true
        account_sid: account_sid
        links: "{}"
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Service resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        code_length:
          description: The length of the verification code to generate.
          nullable: true
          type: integer
        custom_code_enabled:
          description: Whether to allow sending verifications with a custom code instead
            of a randomly generated one. Not available for all customers.
          nullable: true
          type: boolean
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          type: string
        default_template_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^HJ[0-9a-fA-F]{32}$"
          type: string
        do_not_share_warning_enabled:
          description: "Whether to add a security warning at the end of an SMS verification\
            \ body. Disabled by default and applies only to SMS. Example SMS body:\
            \ `Your AppName verification code is: 1234. Don’t share this code with\
            \ anyone; our employees will never ask for the code`"
          nullable: true
          type: boolean
        dtmf_input_required:
          description: Whether to ask the user to press a number before delivering
            the verify code in a phone call.
          nullable: true
          type: boolean
        friendly_name:
          description: The string that you assigned to describe the verification service.
            It can be up to 32 characters long. **This value should not contain PII.**
          nullable: true
          type: string
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          type: object
        lookup_enabled:
          description: Whether to perform a lookup with each verification started
            and return info about the phone number.
          nullable: true
          type: boolean
        psd2_enabled:
          description: Whether to pass PSD2 transaction parameters when starting a
            verification.
          nullable: true
          type: boolean
        push:
          description: Configurations for the Push factors (channel) created under
            this Service.
          nullable: true
        sid:
          description: The unique string that we created to identify the Service resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^VA[0-9a-fA-F]{32}$"
          type: string
        skip_sms_to_landlines:
          description: Whether to skip sending SMS verifications to landlines. Requires
            `lookup_enabled`.
          nullable: true
          type: boolean
        totp:
          description: Configurations for the TOTP factors (channel) created under
            this Service.
          nullable: true
        tts_name:
          description: The name of an alternative text-to-speech service to use in
[...]
