openapi: 3.0.0
info:
  contact:
    email: support@files.com
    name: Files.com Customer Success Team
  title: Files.com API
  version: 0.0.1
  x-apisguru-categories:
  - developer_tools
  x-origin:
  - format: openapi
    url: https://app.files.com/api/rest/v1/swagger_doc.json
    version: "3.0"
  x-providerName: files.com
servers:
- url: //app.files.com/api/rest/v1
tags:
- description: Operations about action_notification_exports
  name: action_notification_exports
- description: Operations about action_notification_export_results
  name: action_notification_export_results
- description: Operations about action_webhook_failures
  name: action_webhook_failures
- description: Operations about api_keys
  name: api_key
- description: Operations about api_keys
  name: api_keys
- description: Operations about sites
  name: site
- description: Operations about users
  name: user
- description: Operations about users
  name: users
- description: Operations about apps
  name: apps
- description: Operations about as2_incoming_messages
  name: as2_incoming_messages
- description: Operations about as2_outgoing_messages
  name: as2_outgoing_messages
- description: Operations about as2_partners
  name: as2_partners
- description: Operations about as2_stations
  name: as2_stations
- description: Operations about automations
  name: automations
- description: Operations about automation_runs
  name: automation_runs
- description: Operations about bandwidth_snapshots
  name: bandwidth_snapshots
- description: Operations about behaviors
  name: behaviors
- description: Operations about bundles
  name: bundles
- description: Operations about bundle_downloads
  name: bundle_downloads
- description: Operations about bundle_notifications
  name: bundle_notifications
- description: Operations about bundle_recipients
  name: bundle_recipients
- description: Operations about bundle_registrations
  name: bundle_registrations
- description: Operations about clickwraps
  name: clickwraps
- description: Operations about dns_records
  name: dns_records
- description: Operations about external_events
  name: external_events
- description: Operations about files
  name: files
- description: Operations about file_actions
  name: file_actions
- description: Operations about file_comments
  name: file_comments
- description: Operations about file_comment_reactions
  name: file_comment_reactions
- description: Operations about file_migrations
  name: file_migrations
- description: Operations about folders
  name: folders
- description: Operations about form_field_sets
  name: form_field_sets
- description: Operations about groups
  name: groups
- description: Operations about group_users
  name: group_users
- description: Operations about histories
  name: history
- description: Operations about history_exports
  name: history_exports
- description: Operations about history_export_results
  name: history_export_results
- description: Operations about inbox_recipients
  name: inbox_recipients
- description: Operations about inbox_registrations
  name: inbox_registrations
- description: Operations about inbox_uploads
  name: inbox_uploads
- description: Operations about invoices
  name: invoices
- description: Operations about ip_addresses
  name: ip_addresses
- description: Operations about locks
  name: locks
- description: Operations about messages
  name: messages
- description: Operations about message_comments
  name: message_comments
- description: Operations about message_comment_reactions
  name: message_comment_reactions
- description: Operations about message_reactions
  name: message_reactions
- description: Operations about notifications
  name: notifications
- description: Operations about payments
  name: payments
- description: Operations about permissions
  name: permissions
- description: Operations about priorities
  name: priorities
- description: Operations about projects
  name: projects
- description: Operations about public_keys
  name: public_keys
- description: Operations about remote_bandwidth_snapshots
  name: remote_bandwidth_snapshots
- description: Operations about remote_servers
  name: remote_servers
- description: Operations about requests
  name: requests
- description: Operations about sessions
  name: sessions
- description: Operations about settings_changes
  name: settings_changes
- description: Operations about sftp_host_keys
  name: sftp_host_keys
- description: Operations about sso_strategies
  name: sso_strategies
- description: Operations about styles
  name: styles
- description: Operations about usage_snapshots
  name: usage_snapshots
- description: Operations about usage_daily_snapshots
  name: usage_daily_snapshots
- description: Operations about user_cipher_uses
  name: user_cipher_uses
- description: Operations about user_requests
  name: user_requests
- description: Operations about webhook_tests
  name: webhook_tests
paths:
  /action_notification_export_results:
    get:
      description: List Action Notification Export Results
      operationId: get_action_notification_export_results
      parameters:
      - description: User ID.  Provide a value of `0` to operate the current session's
          user.
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: User ID.  Provide a value of `0` to operate the current session's
          user.
      - description: "Used for pagination.  When a list request has more records available,\
          \ cursors are provided in the response headers `X-Files-Cursor-Next` and\
          \ `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "Used for pagination.  When a list request has more records\
          \ available, cursors are provided in the response headers `X-Files-Cursor-Next`\
          \ and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
      - description: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
      - description: ID of the associated action notification export.
        explode: true
        in: query
        name: action_notification_export_id
        required: true
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: ID of the associated action notification export.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ActionNotificationExportResultEntity'
                type: array
          description: A list of ActionNotificationExportResults objects.
          x-ms-summary: A list of ActionNotificationExportResults objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Action Notification Export Results
      tags:
      - action_notification_export_results
      x-authentication:
      - folder_admin
      x-openapi-router-controller: openapi_server.controllers.action_notification_export_results_controller
  /action_notification_exports:
    post:
      description: Create Action Notification Export
      operationId: post_action_notification_exports
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PostActionNotificationExports_request'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionNotificationExportEntity'
          description: The ActionNotificationExports object.
          x-ms-summary: The ActionNotificationExports object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create Action Notification Export
      tags:
      - action_notification_exports
      x-authentication:
      - folder_admin
      - path_params:
        - query_path
        - query_folder
      x-openapi-router-controller: openapi_server.controllers.action_notification_exports_controller
      x-codegen-request-body-name: body
  /action_notification_exports/{id}:
    get:
      description: Show Action Notification Export
      operationId: get_action_notification_exports_id
      parameters:
      - description: Action Notification Export ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: Action Notification Export ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionNotificationExportEntity'
          description: The ActionNotificationExports object.
          x-ms-summary: The ActionNotificationExports object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show Action Notification Export
      tags:
      - action_notification_exports
      x-authentication:
      - folder_admin
      x-openapi-router-controller: openapi_server.controllers.action_notification_exports_controller
  /action_webhook_failures/{id}/retry:
    post:
      description: retry Action Webhook Failure
      operationId: post_action_webhook_failures_id_retry
      parameters:
      - description: Action Webhook Failure ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: Action Webhook Failure ID.
      responses:
        "201":
          description: The ActionWebhookFailures object.
          x-ms-summary: The ActionWebhookFailures object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: retry Action Webhook Failure
      tags:
      - action_webhook_failures
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.action_webhook_failures_controller
  /api_key:
    delete:
      description: Delete current API key.  (Requires current API connection to be
        using an API key.)
      operationId: api_key_delete_current
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete current API key.  (Requires current API connection to be using
        an API key.)
      tags:
      - api_key
      x-authentication:
      - native_app
      - office_integration
      x-openapi-router-controller: openapi_server.controllers.api_key_controller
    get:
      description: Show information about current API key.  (Requires current API
        connection to be using an API key.)
      operationId: api_key_find_current
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyEntity'
          description: The ApiKey object.
          x-ms-summary: The ApiKey object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show information about current API key.  (Requires current API connection
        to be using an API key.)
      tags:
      - api_key
      x-authentication:
      - native_app
      - office_integration
      x-openapi-router-controller: openapi_server.controllers.api_key_controller
    patch:
      description: Update current API key.  (Requires current API connection to be
        using an API key.)
      operationId: api_key_update_current
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateCurrent_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyEntity'
          description: The ApiKey object.
          x-ms-summary: The ApiKey object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update current API key.  (Requires current API connection to be using
        an API key.)
      tags:
      - api_key
      x-authentication:
      - native_app
      - office_integration
      x-openapi-router-controller: openapi_server.controllers.api_key_controller
      x-codegen-request-body-name: body
  /api_keys:
    get:
      description: List Api Keys
      operationId: get_api_keys
      parameters:
      - description: User ID.  Provide a value of `0` to operate the current session's
          user.
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: User ID.  Provide a value of `0` to operate the current session's
          user.
      - description: "Used for pagination.  When a list request has more records available,\
          \ cursors are provided in the response headers `X-Files-Cursor-Next` and\
          \ `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "Used for pagination.  When a list request has more records\
          \ available, cursors are provided in the response headers `X-Files-Cursor-Next`\
          \ and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
      - description: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
      - description: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[expires_at]=desc`). Valid fields are\
          \ `expires_at`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[expires_at]=desc`). Valid fields are\
          \ `expires_at`."
      - description: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `expires_at`."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `expires_at`."
      - description: "If set, return records where the specified field is greater\
          \ than the supplied value. Valid fields are `expires_at`."
        explode: true
        in: query
        name: filter_gt
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is greater\
          \ than the supplied value. Valid fields are `expires_at`."
      - description: "If set, return records where the specified field is greater\
          \ than or equal the supplied value. Valid fields are `expires_at`."
        explode: true
        in: query
        name: filter_gteq
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is greater\
          \ than or equal the supplied value. Valid fields are `expires_at`."
      - description: "If set, return records where the specified field is less than\
          \ the supplied value. Valid fields are `expires_at`."
        explode: true
        in: query
        name: filter_lt
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is less than\
          \ the supplied value. Valid fields are `expires_at`."
      - description: "If set, return records where the specified field is less than\
          \ or equal the supplied value. Valid fields are `expires_at`."
        explode: true
        in: query
        name: filter_lteq
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is less than\
          \ or equal the supplied value. Valid fields are `expires_at`."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKeyEntity'
                type: array
          description: A list of ApiKeys objects.
          x-ms-summary: A list of ApiKeys objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Api Keys
      tags:
      - api_keys
      x-authentication:
      - self_managed
      x-path_aliases:
      - site/api_keys
      - user/api_keys
      - users/:user_id/api_keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
    post:
      description: Create Api Key
      operationId: post_api_keys
      requestBody:
        $ref: '#/components/requestBodies/PostApiKeys'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyEntity'
          description: The ApiKeys object.
          x-ms-summary: The ApiKeys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create Api Key
      tags:
      - api_keys
      x-authentication: []
      x-path_aliases:
      - site/api_keys
      - user/api_keys
      - users/:user_id/api_keys
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
      x-codegen-request-body-name: body
  /api_keys/{id}:
    delete:
      description: Delete Api Key
      operationId: delete_api_keys_id
      parameters:
      - description: Api Key ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: Api Key ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete Api Key
      tags:
      - api_keys
      x-authentication:
      - self_managed
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
    get:
      description: Show Api Key
      operationId: get_api_keys_id
      parameters:
      - description: Api Key ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: Api Key ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyEntity'
          description: The ApiKeys object.
          x-ms-summary: The ApiKeys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show Api Key
      tags:
      - api_keys
      x-authentication:
      - self_managed
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
    patch:
      description: Update Api Key
      operationId: patch_api_keys_id
      parameters:
      - description: Api Key ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: Api Key ID.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchApiKeysId_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyEntity'
          description: The ApiKeys object.
          x-ms-summary: The ApiKeys object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update Api Key
      tags:
      - api_keys
      x-authentication:
      - self_managed
      x-openapi-router-controller: openapi_server.controllers.api_keys_controller
      x-codegen-request-body-name: body
  /apps:
    get:
      description: List Apps
      operationId: get_apps
      parameters:
      - description: "Used for pagination.  When a list request has more records available,\
          \ cursors are provided in the response headers `X-Files-Cursor-Next` and\
          \ `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "Used for pagination.  When a list request has more records\
          \ available, cursors are provided in the response headers `X-Files-Cursor-Next`\
          \ and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
      - description: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
      - description: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[name]=desc`). Valid fields are `name`\
          \ and `app_type`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[name]=desc`). Valid fields are `name`\
          \ and `app_type`."
      - description: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `name` and `app_type`. Valid field\
          \ combinations are `[ name, app_type ]` and `[ app_type, name ]`."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `name` and `app_type`. Valid field\
          \ combinations are `[ name, app_type ]` and `[ app_type, name ]`."
      - description: "If set, return records where the specified field is prefixed\
          \ by the supplied value. Valid fields are `name`."
        explode: true
        in: query
        name: filter_prefix
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is prefixed\
          \ by the supplied value. Valid fields are `name`."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppEntity'
                type: array
          description: A list of Apps objects.
          x-ms-summary: A list of Apps objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Apps
      tags:
      - apps
      x-authentication:
      - none
      x-openapi-router-controller: openapi_server.controllers.apps_controller
  /as2_incoming_messages:
    get:
      description: List As2 Incoming Messages
      operationId: get_as2_incoming_messages
      parameters:
      - description: "Used for pagination.  When a list request has more records available,\
          \ cursors are provided in the response headers `X-Files-Cursor-Next` and\
          \ `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "Used for pagination.  When a list request has more records\
          \ available, cursors are provided in the response headers `X-Files-Cursor-Next`\
          \ and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
      - description: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
      - description: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are\
          \ `created_at` and `as2_partner_id`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are\
          \ `created_at` and `as2_partner_id`."
      - description: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `created_at`."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `created_at`."
      - description: "If set, return records where the specified field is greater\
          \ than the supplied value. Valid fields are `created_at`."
        explode: true
        in: query
        name: filter_gt
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is greater\
          \ than the supplied value. Valid fields are `created_at`."
      - description: "If set, return records where the specified field is greater\
          \ than or equal the supplied value. Valid fields are `created_at`."
        explode: true
        in: query
        name: filter_gteq
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is greater\
          \ than or equal the supplied value. Valid fields are `created_at`."
      - description: "If set, return records where the specified field is less than\
          \ the supplied value. Valid fields are `created_at`."
        explode: true
        in: query
        name: filter_lt
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is less than\
          \ the supplied value. Valid fields are `created_at`."
      - description: "If set, return records where the specified field is less than\
          \ or equal the supplied value. Valid fields are `created_at`."
        explode: true
        in: query
        name: filter_lteq
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is less than\
          \ or equal the supplied value. Valid fields are `created_at`."
      - description: "As2 Partner ID.  If provided, will return message specific to\
          \ that partner."
        explode: true
        in: query
        name: as2_partner_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "As2 Partner ID.  If provided, will return message specific\
          \ to that partner."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/As2IncomingMessageEntity'
                type: array
          description: A list of As2IncomingMessages objects.
          x-ms-summary: A list of As2IncomingMessages objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List As2 Incoming Messages
      tags:
      - as2_incoming_messages
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_incoming_messages_controller
  /as2_outgoing_messages:
    get:
      description: List As2 Outgoing Messages
      operationId: get_as2_outgoing_messages
      parameters:
      - description: "Used for pagination.  When a list request has more records available,\
          \ cursors are provided in the response headers `X-Files-Cursor-Next` and\
          \ `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "Used for pagination.  When a list request has more records\
          \ available, cursors are provided in the response headers `X-Files-Cursor-Next`\
          \ and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
      - description: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
      - description: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are\
          \ `created_at` and `as2_partner_id`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are\
          \ `created_at` and `as2_partner_id`."
      - description: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `created_at`."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `created_at`."
      - description: "If set, return records where the specified field is greater\
          \ than the supplied value. Valid fields are `created_at`."
        explode: true
        in: query
        name: filter_gt
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is greater\
          \ than the supplied value. Valid fields are `created_at`."
      - description: "If set, return records where the specified field is greater\
          \ than or equal the supplied value. Valid fields are `created_at`."
        explode: true
        in: query
        name: filter_gteq
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is greater\
          \ than or equal the supplied value. Valid fields are `created_at`."
      - description: "If set, return records where the specified field is less than\
          \ the supplied value. Valid fields are `created_at`."
        explode: true
        in: query
        name: filter_lt
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is less than\
          \ the supplied value. Valid fields are `created_at`."
      - description: "If set, return records where the specified field is less than\
          \ or equal the supplied value. Valid fields are `created_at`."
        explode: true
        in: query
        name: filter_lteq
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is less than\
          \ or equal the supplied value. Valid fields are `created_at`."
      - description: "As2 Partner ID.  If provided, will return message specific to\
          \ that partner."
        explode: true
        in: query
        name: as2_partner_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "As2 Partner ID.  If provided, will return message specific\
          \ to that partner."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/As2OutgoingMessageEntity'
                type: array
          description: A list of As2OutgoingMessages objects.
          x-ms-summary: A list of As2OutgoingMessages objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List As2 Outgoing Messages
      tags:
      - as2_outgoing_messages
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_outgoing_messages_controller
  /as2_partners:
    get:
      description: List As2 Partners
      operationId: get_as2_partners
      parameters:
      - description: "Used for pagination.  When a list request has more records available,\
          \ cursors are provided in the response headers `X-Files-Cursor-Next` and\
          \ `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "Used for pagination.  When a list request has more records\
          \ available, cursors are provided in the response headers `X-Files-Cursor-Next`\
          \ and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
      - description: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/As2PartnerEntity'
                type: array
          description: A list of As2Partners objects.
          x-ms-summary: A list of As2Partners objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List As2 Partners
      tags:
      - as2_partners
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_partners_controller
    post:
      description: Create As2 Partner
      operationId: post_as2_partners
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PostAs2Partners_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/As2PartnerEntity'
          description: The As2Partners object.
          x-ms-summary: The As2Partners object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create As2 Partner
      tags:
      - as2_partners
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_partners_controller
      x-codegen-request-body-name: body
  /as2_partners/{id}:
    delete:
      description: Delete As2 Partner
      operationId: delete_as2_partners_id
      parameters:
      - description: As2 Partner ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: As2 Partner ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete As2 Partner
      tags:
      - as2_partners
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_partners_controller
    get:
      description: Show As2 Partner
      operationId: get_as2_partners_id
      parameters:
      - description: As2 Partner ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: As2 Partner ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/As2PartnerEntity'
          description: The As2Partners object.
          x-ms-summary: The As2Partners object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show As2 Partner
      tags:
      - as2_partners
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_partners_controller
    patch:
      description: Update As2 Partner
      operationId: patch_as2_partners_id
      parameters:
      - description: As2 Partner ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: As2 Partner ID.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchAs2PartnersId_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/As2PartnerEntity'
          description: The As2Partners object.
          x-ms-summary: The As2Partners object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update As2 Partner
      tags:
      - as2_partners
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_partners_controller
      x-codegen-request-body-name: body
  /as2_stations:
    get:
      description: List As2 Stations
      operationId: get_as2_stations
      parameters:
      - description: "Used for pagination.  When a list request has more records available,\
          \ cursors are provided in the response headers `X-Files-Cursor-Next` and\
          \ `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "Used for pagination.  When a list request has more records\
          \ available, cursors are provided in the response headers `X-Files-Cursor-Next`\
          \ and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
      - description: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/As2StationEntity'
                type: array
          description: A list of As2Stations objects.
          x-ms-summary: A list of As2Stations objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List As2 Stations
      tags:
      - as2_stations
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_stations_controller
    post:
      description: Create As2 Station
      operationId: post_as2_stations
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PostAs2Stations_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/As2StationEntity'
          description: The As2Stations object.
          x-ms-summary: The As2Stations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create As2 Station
      tags:
      - as2_stations
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_stations_controller
      x-codegen-request-body-name: body
  /as2_stations/{id}:
    delete:
      description: Delete As2 Station
      operationId: delete_as2_stations_id
      parameters:
      - description: As2 Station ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: As2 Station ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete As2 Station
      tags:
      - as2_stations
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_stations_controller
    get:
      description: Show As2 Station
      operationId: get_as2_stations_id
      parameters:
      - description: As2 Station ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: As2 Station ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/As2StationEntity'
          description: The As2Stations object.
          x-ms-summary: The As2Stations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show As2 Station
      tags:
      - as2_stations
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_stations_controller
    patch:
      description: Update As2 Station
      operationId: patch_as2_stations_id
      parameters:
      - description: As2 Station ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: As2 Station ID.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchAs2StationsId_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/As2StationEntity'
          description: The As2Stations object.
          x-ms-summary: The As2Stations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update As2 Station
      tags:
      - as2_stations
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.as2_stations_controller
      x-codegen-request-body-name: body
  /automation_runs:
    get:
      description: List Automation Runs
      operationId: get_automation_runs
      parameters:
      - description: User ID.  Provide a value of `0` to operate the current session's
          user.
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: User ID.  Provide a value of `0` to operate the current session's
          user.
      - description: "Used for pagination.  When a list request has more records available,\
          \ cursors are provided in the response headers `X-Files-Cursor-Next` and\
          \ `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "Used for pagination.  When a list request has more records\
          \ available, cursors are provided in the response headers `X-Files-Cursor-Next`\
          \ and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
      - description: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
      - description: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are\
          \ `created_at` and `status`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[created_at]=desc`). Valid fields are\
          \ `created_at` and `status`."
      - description: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `status`."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `status`."
      - description: ID of the associated Automation.
        example: 1
        explode: true
        in: query
        name: automation_id
        required: true
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: ID of the associated Automation.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AutomationRunEntity'
                type: array
          description: A list of AutomationRuns objects.
          x-ms-summary: A list of AutomationRuns objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Automation Runs
      tags:
      - automation_runs
      x-authentication: []
      x-openapi-router-controller: openapi_server.controllers.automation_runs_controller
  /automation_runs/{id}:
    get:
      description: Show Automation Run
      operationId: get_automation_runs_id
      parameters:
      - description: Automation Run ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: Automation Run ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationRunEntity'
          description: The AutomationRuns object.
          x-ms-summary: The AutomationRuns object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show Automation Run
      tags:
      - automation_runs
      x-authentication: []
      x-openapi-router-controller: openapi_server.controllers.automation_runs_controller
  /automations:
    get:
      description: List Automations
      operationId: get_automations
      parameters:
      - description: "Used for pagination.  When a list request has more records available,\
          \ cursors are provided in the response headers `X-Files-Cursor-Next` and\
          \ `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "Used for pagination.  When a list request has more records\
          \ available, cursors are provided in the response headers `X-Files-Cursor-Next`\
          \ and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
      - description: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
      - description: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[automation]=desc`). Valid fields are\
          \ `automation`, `disabled`, `last_modified_at` or `name`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[automation]=desc`). Valid fields are\
          \ `automation`, `disabled`, `last_modified_at` or `name`."
      - description: "If set, return records where the specified field is equal to\
          \ the supplied value."
        explode: true
        in: query
        name: automation
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "If set, return records where the specified field is equal to\
          \ the supplied value."
      - description: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `disabled`, `last_modified_at` or\
          \ `automation`. Valid field combinations are `[ automation, disabled ]`\
          \ and `[ disabled, automation ]`."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `disabled`, `last_modified_at` or\
          \ `automation`. Valid field combinations are `[ automation, disabled ]`\
          \ and `[ disabled, automation ]`."
      - description: "If set, return records where the specified field is greater\
          \ than the supplied value. Valid fields are `last_modified_at`."
        explode: true
        in: query
        name: filter_gt
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is greater\
          \ than the supplied value. Valid fields are `last_modified_at`."
      - description: "If set, return records where the specified field is greater\
          \ than or equal the supplied value. Valid fields are `last_modified_at`."
        explode: true
        in: query
        name: filter_gteq
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is greater\
          \ than or equal the supplied value. Valid fields are `last_modified_at`."
      - description: "If set, return records where the specified field is less than\
          \ the supplied value. Valid fields are `last_modified_at`."
        explode: true
        in: query
        name: filter_lt
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is less than\
          \ the supplied value. Valid fields are `last_modified_at`."
      - description: "If set, return records where the specified field is less than\
          \ or equal the supplied value. Valid fields are `last_modified_at`."
        explode: true
        in: query
        name: filter_lteq
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is less than\
          \ or equal the supplied value. Valid fields are `last_modified_at`."
      - description: Set to true to include deleted automations in the results.
        explode: true
        in: query
        name: with_deleted
        required: false
        schema:
          type: boolean
        style: form
        x-ms-summary: Set to true to include deleted automations in the results.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AutomationEntity'
                type: array
          description: A list of Automations objects.
          x-ms-summary: A list of Automations objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Automations
      tags:
      - automations
      x-authentication:
      - folder_admin
      x-openapi-router-controller: openapi_server.controllers.automations_controller
    post:
      description: Create Automation
      operationId: post_automations
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PostAutomations_request'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationEntity'
          description: The Automations object.
          x-ms-summary: The Automations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Create Automation
      tags:
      - automations
      x-authentication:
      - folder_admin
      x-openapi-router-controller: openapi_server.controllers.automations_controller
      x-codegen-request-body-name: body
  /automations/{id}:
    delete:
      description: Delete Automation
      operationId: delete_automations_id
      parameters:
      - description: Automation ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: Automation ID.
      responses:
        "204":
          description: No body.
          x-ms-summary: No body.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Delete Automation
      tags:
      - automations
      x-authentication:
      - folder_admin
      x-openapi-router-controller: openapi_server.controllers.automations_controller
    get:
      description: Show Automation
      operationId: get_automations_id
      parameters:
      - description: Automation ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: Automation ID.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationEntity'
          description: The Automations object.
          x-ms-summary: The Automations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Show Automation
      tags:
      - automations
      x-authentication:
      - folder_admin
      x-openapi-router-controller: openapi_server.controllers.automations_controller
    patch:
      description: Update Automation
      operationId: patch_automations_id
      parameters:
      - description: Automation ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
        x-ms-summary: Automation ID.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchAutomationsId_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationEntity'
          description: The Automations object.
          x-ms-summary: The Automations object.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: Update Automation
      tags:
      - automations
      x-authentication:
      - folder_admin
      x-openapi-router-controller: openapi_server.controllers.automations_controller
      x-codegen-request-body-name: body
  /bandwidth_snapshots:
    get:
      description: List Bandwidth Snapshots
      operationId: get_bandwidth_snapshots
      parameters:
      - description: "Used for pagination.  When a list request has more records available,\
          \ cursors are provided in the response headers `X-Files-Cursor-Next` and\
          \ `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "Used for pagination.  When a list request has more records\
          \ available, cursors are provided in the response headers `X-Files-Cursor-Next`\
          \ and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
      - description: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
      - description: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[logged_at]=desc`). Valid fields are\
          \ `logged_at`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[logged_at]=desc`). Valid fields are\
          \ `logged_at`."
      - description: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `logged_at`."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `logged_at`."
      - description: "If set, return records where the specified field is greater\
          \ than the supplied value. Valid fields are `logged_at`."
        explode: true
        in: query
        name: filter_gt
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is greater\
          \ than the supplied value. Valid fields are `logged_at`."
      - description: "If set, return records where the specified field is greater\
          \ than or equal the supplied value. Valid fields are `logged_at`."
        explode: true
        in: query
        name: filter_gteq
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is greater\
          \ than or equal the supplied value. Valid fields are `logged_at`."
      - description: "If set, return records where the specified field is less than\
          \ the supplied value. Valid fields are `logged_at`."
        explode: true
        in: query
        name: filter_lt
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is less than\
          \ the supplied value. Valid fields are `logged_at`."
      - description: "If set, return records where the specified field is less than\
          \ or equal the supplied value. Valid fields are `logged_at`."
        explode: true
        in: query
        name: filter_lteq
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is less than\
          \ or equal the supplied value. Valid fields are `logged_at`."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BandwidthSnapshotEntity'
                type: array
          description: A list of BandwidthSnapshots objects.
          x-ms-summary: A list of BandwidthSnapshots objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Bandwidth Snapshots
      tags:
      - bandwidth_snapshots
      x-authentication:
      - site
      x-openapi-router-controller: openapi_server.controllers.bandwidth_snapshots_controller
  /behaviors:
    get:
      description: List Behaviors
      operationId: get_behaviors
      parameters:
      - description: "Used for pagination.  When a list request has more records available,\
          \ cursors are provided in the response headers `X-Files-Cursor-Next` and\
          \ `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "Used for pagination.  When a list request has more records\
          \ available, cursors are provided in the response headers `X-Files-Cursor-Next`\
          \ and `X-Files-Cursor-Prev`.  Send one of those cursor value here to resume\
          \ an existing list from the next available record.  Note: many of our SDKs\
          \ have iterator methods that will automatically handle cursor-based pagination."
      - description: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-ms-summary: "Number of records to show per page.  (Max: 10,000, 1,000 or\
          \ less is recommended)."
      - description: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[behavior]=desc`). Valid fields are\
          \ `behavior`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, sort records by the specified field in either `asc`\
          \ or `desc` direction (e.g. `sort_by[behavior]=desc`). Valid fields are\
          \ `behavior`."
      - description: "If set, return records where the specified field is equal to\
          \ the supplied value."
        explode: true
        in: query
        name: behavior
        required: false
        schema:
          type: string
        style: form
        x-ms-summary: "If set, return records where the specified field is equal to\
          \ the supplied value."
      - description: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `behavior`."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is equal to\
          \ the supplied value. Valid fields are `behavior`."
      - description: "If set, return records where the specified field is prefixed\
          \ by the supplied value. Valid fields are `behavior`."
        explode: true
        in: query
        name: filter_prefix
        required: false
        schema:
          type: object
        style: form
        x-ms-summary: "If set, return records where the specified field is prefixed\
          \ by the supplied value. Valid fields are `behavior`."
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BehaviorEntity'
                type: array
          description: A list of Behaviors objects.
          x-ms-summary: A list of Behaviors objects.
        "400":
          description: Bad Request
          x-ms-summary: Bad Request
        "401":
          description: Unauthorized
          x-ms-summary: Unauthorized
        "403":
          description: Forbidden
          x-ms-summary: Forbidden
        "404":
          description: Not Found
          x-ms-summary: Not Found
        "405":
          description: Method Not Allowed
          x-ms-summary: Method Not Allowed
        "409":
          description: Conflict
          x-ms-summary: Conflict
        "412":
          description: Precondition Failed
          x-ms-summary: Precondition Failed
        "422":
          description: Unprocessable Entity
          x-ms-summary: Unprocessable Entity
        "423":
          description: Locked
          x-ms-summary: Locked
        "429":
          description: Too Many Requests
          x-ms-summary: Too Many Requests
      summary: List Behaviors
      tags:
      - behaviors
      x-authentication: []
      x-openapi-router-controller: openapi_server.controllers.behaviors_controller
    post:
      description: Create Behavior
      operationId: post_behaviors
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PostBehaviors_request'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BehaviorEntity'
          description: The Behaviors object.
          x-ms-summary: The Behaviors object.
        "400":
          description: Bad Request
[...]
