openapi: 3.0.1
info:
  description: "Taxamo’s elegant suite of APIs and comprehensive reporting dashboard\
    \ enables digital merchants to easily comply with EU regulatory requirements on\
    \ tax calculation, evidence collection, tax return creation and data storage."
  title: Taxamo
  version: "1"
  x-apisguru-categories:
  - payment
  x-logo:
    url: http://i.imgur.com/C7ouKJt.png
  x-origin:
  - format: swagger
    url: https://api.taxamo.com/swagger
    version: "1.2"
  x-providerName: taxamo.com
servers:
- url: https://api.taxamo.com/
tags:
- description: Dictionaries
  name: dictionaries
- description: GeoIP
  name: geoip
- description: Invoices
  name: invoices
- description: Payments
  name: payments
- description: Refunds
  name: refunds
- description: Reporting
  name: reporting
- description: Settlement
  name: settlement
- description: Statistics
  name: statistics
- description: Tax
  name: tax
- description: Transactions
  name: transactions
- description: Verification
  name: verification
paths:
  /api/v1/dictionaries/countries:
    get:
      operationId: get_countries_dict
      parameters:
      - description: Should only countries with tax supported be listed?
        in: query
        name: tax_supported
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCountriesDictOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Countries
      tags:
      - dictionaries
      x-openapi-router-controller: openapi_server.controllers.dictionaries_controller
  /api/v1/dictionaries/currencies:
    get:
      operationId: get_currencies_dict
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCurrenciesDictOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Currencies
      tags:
      - dictionaries
      x-openapi-router-controller: openapi_server.controllers.dictionaries_controller
  /api/v1/dictionaries/product_types:
    get:
      operationId: get_product_types_dict
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProductTypesDictOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Product types
      tags:
      - dictionaries
      x-openapi-router-controller: openapi_server.controllers.dictionaries_controller
  /api/v1/geoip:
    get:
      operationId: locate_my_ip
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locateMyIPOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Locate IP
      tags:
      - geoip
      x-openapi-router-controller: openapi_server.controllers.geoip_controller
  /api/v1/geoip/{ip}:
    get:
      operationId: locate_given_ip
      parameters:
      - description: IP address.
        in: path
        name: ip
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locateGivenIPOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Locate provided IP
      tags:
      - geoip
      x-openapi-router-controller: openapi_server.controllers.geoip_controller
  /api/v1/reports/domestic/summary:
    get:
      operationId: get_domestic_summary_report
      parameters:
      - description: Output format. 'xml' and 'csv' values are accepted. Default format
          - json
        in: query
        name: format
        schema:
          type: string
      - description: ISO 2-letter country code which will be used for determining
          which country is domestic.
        in: query
        name: country_code
        required: true
        schema:
          type: string
      - description: "ISO 3-letter currency code, e.g. EUR or USD. Defaults to the\
          \ one assigned to MOSS calculations for a given country code."
        in: query
        name: currency_code
        schema:
          type: string
      - description: Period start month in yyyy-MM format.
        in: query
        name: start_month
        required: true
        schema:
          type: string
      - description: Period end month in yyyy-MM format.
        in: query
        name: end_month
        required: true
        schema:
          type: string
      - description: Which date should be used for FX.
        in: query
        name: fx_date_type
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDomesticSummaryReportOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Calculate domestic summary
      tags:
      - reporting
      x-openapi-router-controller: openapi_server.controllers.reporting_controller
  /api/v1/reports/eu/vies:
    get:
      operationId: get_eu_vies_report
      parameters:
      - description: "Length of report period. 'month', 'quarter' and 'year' values\
          \ are accepted. Required only if Large Filer Format is requested."
        in: query
        name: period_length
        schema:
          type: string
      - description: Sequence number used to generate report in Large Filer Format.
          If not specified then '0000000001' will be used.
        in: query
        name: lff_sequence_number
        schema:
          type: string
      - description: Which transformation should be applied. Please note that transformation
          will be applied only for xml and csv formats.
        in: query
        name: transformation
        schema:
          type: string
      - description: "ISO 3-letter currency code, e.g. EUR or USD. Defaults to the\
          \ one assigned to MOSS calculations for a given country code."
        in: query
        name: currency_code
        schema:
          type: string
      - description: Period end month in yyyy-MM format.
        in: query
        name: end_month
        required: true
        schema:
          type: string
      - description: "MOSS-assigned tax ID - if not provided, merchant's national\
          \ tax number will be used."
        in: query
        name: tax_id
        schema:
          type: string
      - description: Period start month in yyyy-MM format.
        in: query
        name: start_month
        required: true
        schema:
          type: string
      - description: ISO 2-letter country code which will be used for determining
          which country is domestic.
        in: query
        name: eu_country_code
        required: true
        schema:
          type: string
      - description: Which date should be used for FX.
        in: query
        name: fx_date_type
        schema:
          type: string
      - description: "Output format. 'xml', 'csv' and 'lff' (only for Ireland) values\
          \ are accepted as well"
        in: query
        name: format
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEuViesReportOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Calculate EU VIES report
      tags:
      - reporting
      x-openapi-router-controller: openapi_server.controllers.reporting_controller
  /api/v1/settlement/detailed_refunds:
    get:
      operationId: get_detailed_refunds
      parameters:
      - description: Output format. 'json' or 'csv'. Default value is 'json'
        in: query
        name: format
        schema:
          type: string
      - description: Comma separated list of 2-letter country codes
        in: query
        name: country_codes
        schema:
          type: string
      - description: "Take only refunds issued at or after the date. Format: yyyy-MM-dd"
        in: query
        name: date_from
        schema:
          type: string
      - description: "Take only refunds issued at or before the date. Format: yyyy-MM-dd"
        in: query
        name: date_to
        schema:
          type: string
      - description: "Limit (no more than 1000, defaults to 100)."
        in: query
        name: limit
        schema:
          type: number
      - description: Offset. Defaults to 0
        in: query
        name: offset
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDetailedRefundsOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Detailed refunds
      tags:
      - settlement
      x-openapi-router-controller: openapi_server.controllers.settlement_controller
  /api/v1/settlement/refunds:
    get:
      operationId: get_refunds
      parameters:
      - description: Output format. 'csv' value is accepted as well
        in: query
        name: format
        schema:
          type: string
      - description: "MOSS country code, used to determine currency. If ommited, merchant\
          \ default setting is used."
        in: query
        name: moss_country_code
        schema:
          type: string
      - description: "Tax region key, defaults to EU for backwards compatibility."
        in: query
        name: tax_region
        schema:
          type: string
      - description: "Take only refunds issued at or after the date. Format: yyyy-MM-dd"
        in: query
        name: date_from
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRefundsOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Fetch refunds
      tags:
      - settlement
      x-openapi-router-controller: openapi_server.controllers.settlement_controller
  /api/v1/settlement/summary/{quarter}:
    get:
      operationId: get_settlement_summary
      parameters:
      - description: "MOSS country code, used to determine currency. If ommited, merchant\
          \ default setting is used."
        in: query
        name: moss_country_code
        schema:
          type: string
      - description: Tax region key
        in: query
        name: tax_region
        schema:
          type: string
      - description: Period start month in yyyy-MM format. Either quarter or start-month
          and end-month have to be provided.
        in: query
        name: start_month
        schema:
          type: string
      - description: Period end month in yyyy-MM format. Either quarter or start-month
          and end-month have to be provided.
        in: query
        name: end_month
        schema:
          type: string
      - description: "Quarter in yyyy-MM format. If start-date and end-date are provided,\
          \ quarter is ignored and should be set to 'range'."
        in: path
        name: quarter
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSettlementSummaryOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Fetch summary
      tags:
      - settlement
      x-openapi-router-controller: openapi_server.controllers.settlement_controller
  /api/v1/settlement/{quarter}:
    get:
      operationId: get_settlement
      parameters:
      - description: "MOSS-assigned tax ID - if not provided, merchant's national\
          \ tax number will be used. Deprecated, please use tax-id."
        in: query
        name: moss_tax_id
        schema:
          type: string
      - description: "ISO 3-letter currency code, e.g. EUR or USD. If provided, all\
          \ amounts will be coerced for this currency. Defaults to region's currency\
          \ code."
        in: query
        name: currency_code
        schema:
          type: string
      - description: Period end month in yyyy-MM format. Either quarter or start-month
          and end-month have to be provided.
        in: query
        name: end_month
        schema:
          type: string
      - description: "MOSS-assigned tax ID - if not provided, merchant's national\
          \ tax number will be used. Deprecated, please use tax-id."
        in: query
        name: tax_id
        schema:
          type: string
      - description: Set to 'order_date' to show only refunds for the transactions
          in the selected reporting period. Set to 'refund_timestamp' to show refunds
          that were created in the selected reporting period. Do not set to use the
          default region's setting.
        in: query
        name: refund_date_kind_override
        schema:
          type: string
      - description: Period start month in yyyy-MM format. Either quarter or start-month
          and end-month have to be provided.
        in: query
        name: start_month
        schema:
          type: string
      - description: "MOSS country code, used to determine currency/region. If ommited,\
          \ merchant default setting is used. Deprecated: please use tax-country-code."
        in: query
        name: moss_country_code
        schema:
          type: string
      - description: Output format. 'csv' value is accepted as well
        in: query
        name: format
        schema:
          type: string
      - description: "Tax entity country code, used to determine currency/region. "
        in: query
        name: tax_country_code
        schema:
          type: string
      - description: "Quarter in yyyy-MM format. If start-date and end-date are provided,\
          \ quarter is ignored and should be set to 'range'."
        in: path
        name: quarter
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSettlementOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Fetch settlement
      tags:
      - settlement
      x-openapi-router-controller: openapi_server.controllers.settlement_controller
  /api/v1/stats/settlement/by_country:
    get:
      operationId: get_settlement_stats_by_country
      parameters:
      - description: Date from in yyyy-MM format.
        in: query
        name: date_from
        required: true
        schema:
          type: string
      - description: Date to in yyyy-MM format.
        in: query
        name: date_to
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSettlementStatsByCountryOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Settlement by country
      tags:
      - statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /api/v1/stats/settlement/by_taxation_type:
    get:
      operationId: get_settlement_stats_by_taxation_type
      parameters:
      - description: Date from in yyyy-MM format.
        in: query
        name: date_from
        required: true
        schema:
          type: string
      - description: Date to in yyyy-MM format.
        in: query
        name: date_to
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSettlementStatsByTaxationTypeOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Settlement by tax type
      tags:
      - statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /api/v1/stats/settlement/daily:
    get:
      operationId: get_daily_settlement_stats
      parameters:
      - description: "Interval type - day, week, month."
        in: query
        name: interval
        required: true
        schema:
          type: string
      - description: Date from in yyyy-MM format.
        in: query
        name: date_from
        required: true
        schema:
          type: string
      - description: Date to in yyyy-MM format.
        in: query
        name: date_to
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDailySettlementStatsOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Settlement stats over time
      tags:
      - statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /api/v1/stats/transactions:
    get:
      operationId: get_transactions_stats
      parameters:
      - description: Date from in yyyy-MM format.
        in: query
        name: date_from
        required: true
        schema:
          type: string
      - description: Date to in yyyy-MM format.
        in: query
        name: date_to
        required: true
        schema:
          type: string
      - description: "Interval. Accepted values are 'day', 'week' and 'month'."
        in: query
        name: interval
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTransactionsStatsOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Transaction stats
      tags:
      - statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /api/v1/stats/transactions/by_country:
    get:
      operationId: get_transactions_stats_by_country
      parameters:
      - description: Global currency code to use for conversion - in addition to country's
          currency if rate is available. Conversion is indicative and based on most-recent
          rate from ECB.
        in: query
        name: global_currency_code
        schema:
          type: string
      - description: Date from in yyyy-MM format.
        in: query
        name: date_from
        required: true
        schema:
          type: string
      - description: Date to in yyyy-MM format.
        in: query
        name: date_to
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTransactionsStatsByCountryOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Settlement by country
      tags:
      - statistics
      x-openapi-router-controller: openapi_server.controllers.statistics_controller
  /api/v1/tax/calculate:
    get:
      operationId: calculate_simple_tax
      parameters:
      - description: "Product type, according to dictionary /dictionaries/product_types. "
        in: query
        name: product_type
        schema:
          type: string
      - description: Invoice address/postal_code
        in: query
        name: invoice_address_city
        schema:
          type: string
      - description: First 6 digits of buyer's credit card prefix.
        in: query
        name: buyer_credit_card_prefix
        schema:
          type: string
      - description: Currency code for transaction - e.g. EUR.
        in: query
        name: currency_code
        required: true
        schema:
          type: string
      - description: Invoice address/region
        in: query
        name: invoice_address_region
        schema:
          type: string
      - description: Unit price.
        in: query
        name: unit_price
        schema:
          type: number
      - description: Quantity Defaults to 1.
        in: query
        name: quantity
        schema:
          type: number
      - description: " Buyer's tax number - EU VAT number for example. If using EU\
          \ VAT number, it is possible to provide country code in it (e.g. IE1234567X)\
          \ or simply use billing_country_code field for that. In the first case,\
          \ if billing_country_code value was provided, it will be overwritten with\
          \ country code value extracted from VAT number - but only if the VAT has\
          \ been verified properly."
        in: query
        name: buyer_tax_number
        schema:
          type: string
      - description: "Two-letter ISO country code, e.g. FR. Use it to force country\
          \ code for tax calculation."
        in: query
        name: force_country_code
        schema:
          type: string
      - description: "Order date in yyyy-MM-dd format, in merchant's timezone. If\
          \ provided by the API caller, no timezone conversion is performed. Default\
          \ value is current date and time. When using public token, the default value\
          \ is used."
        in: query
        name: order_date
        schema:
          type: string
      - description: Amount. Required if total amount or both unit price and quantity
          are not provided.
        in: query
        name: amount
        schema:
          type: number
      - description: Billing two letter ISO country code.
        in: query
        name: billing_country_code
        schema:
          type: string
      - description: Invoice address/postal_code
        in: query
        name: invoice_address_postal_code
        schema:
          type: string
      - description: Total amount. Required if amount or both unit price and quantity
          are not provided.
        in: query
        name: total_amount
        schema:
          type: number
      - description: "If the transaction is in a country supported by Taxamo, but\
          \ the tax is not calculated due to merchant settings or EU B2B transaction\
          \ for example."
        in: query
        name: tax_deducted
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calculateSimpleTaxOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Simple tax
      tags:
      - tax
      x-openapi-router-controller: openapi_server.controllers.tax_controller
    post:
      operationId: calculate_tax
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/calculateTaxIn'
        description: Input
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calculateTaxOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Calculate tax
      tags:
      - tax
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.tax_controller
  /api/v1/tax/location/calculate:
    get:
      operationId: calculate_tax_location
      parameters:
      - description: Billing two letter ISO country code.
        in: query
        name: billing_country_code
        schema:
          type: string
      - description: First 6 digits of buyer's credit card prefix.
        in: query
        name: buyer_credit_card_prefix
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calculateTaxLocationOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Calculate location
      tags:
      - tax
      x-openapi-router-controller: openapi_server.controllers.tax_controller
  /api/v1/tax/vat_numbers/{tax_number}/validate:
    get:
      operationId: validate_tax_number
      parameters:
      - description: Two-letter ISO country code.
        in: query
        name: country_code
        schema:
          type: string
      - description: Tax number
        in: path
        name: tax_number
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateTaxNumberOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Validate VAT number
      tags:
      - tax
      x-openapi-router-controller: openapi_server.controllers.tax_controller
  /api/v1/transactions:
    get:
      operationId: list_transactions
      parameters:
      - description: Filtering expression
        in: query
        name: filter_text
        schema:
          type: string
      - description: Offset
        in: query
        name: offset
        schema:
          type: integer
      - description: Return only transactions with a note field set.
        in: query
        name: has_note
        schema:
          type: boolean
      - description: Taxamo provided transaction key or custom id
        in: query
        name: key_or_custom_id
        schema:
          type: string
      - description: Three letter ISO currency code.
        in: query
        name: currency_code
        schema:
          type: string
      - description: Order date to in yyyy-MM-dd format.
        in: query
        name: order_date_to
        schema:
          type: string
      - description: "If true, results are sorted in descending order."
        in: query
        name: sort_reverse
        schema:
          type: boolean
      - description: "Limit (no more than 1000, defaults to 100)."
        in: query
        name: limit
        schema:
          type: integer
      - description: Transaction invoice number.
        in: query
        name: invoice_number
        schema:
          type: string
      - description: Comma separated list of two letter ISO tax country codes.
        in: query
        name: tax_country_codes
        schema:
          type: string
      - description: "Comma separated list of of transaction statuses. 'N' - unconfirmed\
          \ transaction, 'C' - confirmed transaction."
        in: query
        name: statuses
        schema:
          type: string
      - description: Taxamo provided original transaction key
        in: query
        name: original_transaction_key
        schema:
          type: string
      - description: Order date from in yyyy-MM-dd format.
        in: query
        name: order_date_from
        schema:
          type: string
      - description: Return only transactions with total amount greater than given
          number. Transactions with total amount equal to a given number (e.g. 0)
          are not returned.
        in: query
        name: total_amount_greater_than
        schema:
          type: string
      - description: Output format - supports 'csv' value for this operation.
        in: query
        name: format
        schema:
          type: string
      - description: Return only transactions with total amount less than a given
          number. Transactions with total amount equal to a given number (e.g. 1)
          are not returned.
        in: query
        name: total_amount_less_than
        schema:
          type: string
      - description: Two letter ISO tax country code.
        in: query
        name: tax_country_code
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listTransactionsOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Browse transactions
      tags:
      - transactions
      x-openapi-router-controller: openapi_server.controllers.transactions_controller
    post:
      operationId: create_transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createTransactionIn'
        description: Input
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTransactionOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Store transaction
      tags:
      - transactions
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.transactions_controller
  /api/v1/transactions/{key}:
    delete:
      operationId: cancel_transaction
      parameters:
      - description: Transaction key
        in: path
        name: key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelTransactionOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Delete transaction
      tags:
      - transactions
      x-openapi-router-controller: openapi_server.controllers.transactions_controller
    get:
      operationId: get_transaction
      parameters:
      - description: Transaction key
        in: path
        name: key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTransactionOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Retrieve transaction data.
      tags:
      - transactions
      x-openapi-router-controller: openapi_server.controllers.transactions_controller
    put:
      operationId: update_transaction
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateTransactionIn'
        description: Input
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTransactionOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Update transaction
      tags:
      - transactions
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.transactions_controller
  /api/v1/transactions/{key}/confirm:
    post:
      operationId: confirm_transaction
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/confirmTransactionIn'
        description: Input
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/confirmTransactionOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Confirm transaction
      tags:
      - transactions
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.transactions_controller
  /api/v1/transactions/{key}/invoice/refunds/{refund_note_number}/send_email:
    post:
      operationId: email_refund
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        schema:
          type: string
      - description: Refund note id.
        in: path
        name: refund_note_number
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailRefundIn'
        description: Input
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emailRefundOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Email credit note
      tags:
      - invoices
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.invoices_controller
  /api/v1/transactions/{key}/invoice/send_email:
    post:
      operationId: email_invoice
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailInvoiceIn'
        description: Input
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emailInvoiceOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Email invoice
      tags:
      - invoices
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.invoices_controller
  /api/v1/transactions/{key}/payments:
    get:
      operationId: list_payments
      parameters:
      - description: "Max record count (no more than 100, defaults to 10)."
        in: query
        name: limit
        schema:
          type: string
      - description: "How many records need to be skipped, defaults to 0."
        in: query
        name: offset
        schema:
          type: string
      - description: Transaction key.
        in: path
        name: key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listPaymentsOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: List payments
      tags:
      - payments
      x-openapi-router-controller: openapi_server.controllers.payments_controller
    post:
      operationId: create_payment
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentIn'
        description: Input
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createPaymentOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Register a payment
      tags:
      - payments
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.payments_controller
  /api/v1/transactions/{key}/payments/capture:
    post:
      operationId: capture_payment
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capturePaymentOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Capture payment
      tags:
      - payments
      x-openapi-router-controller: openapi_server.controllers.payments_controller
  /api/v1/transactions/{key}/refunds:
    get:
      operationId: list_refunds
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listRefundsOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Get transaction refunds
      tags:
      - refunds
      x-openapi-router-controller: openapi_server.controllers.refunds_controller
    post:
      operationId: create_refund
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRefundIn'
        description: Input
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRefundOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Create a refund
      tags:
      - refunds
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.refunds_controller
  /api/v1/transactions/{key}/unconfirm:
    post:
      operationId: unconfirm_transaction
      parameters:
      - description: Transaction key.
        in: path
        name: key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unconfirmTransactionIn'
        description: Input
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unconfirmTransactionOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Un-confirm the transaction
      tags:
      - transactions
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.transactions_controller
  /api/v1/verification/sms:
    post:
      operationId: create_sms_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSMSTokenIn'
        description: Input
        required: true
        x-body-name: input
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSMSTokenOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Create SMS token
      tags:
      - verification
      x-codegen-request-body-name: input
      x-openapi-router-controller: openapi_server.controllers.verification_controller
  /api/v1/verification/sms/{token}:
    get:
      operationId: verify_sms_token
      parameters:
      - description: Provided token.
        in: path
        name: token
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verifySMSTokenOut'
          description: OK
        "400":
          content: {}
          description: "Validation failed, see JSON body response for details."
        "401":
          content: {}
          description: Incorrect token
      summary: Verify SMS token
      tags:
      - verification
      x-openapi-router-controller: openapi_server.controllers.verification_controller
components:
  schemas:
    C:
      example:
        day: day
        value: 0.8008281904610115
        day_raw: day_raw
        status: status
      properties:
        day:
          description: Date for stats in yyyy-MM-dd format.
          title: day
          type: string
        day_raw:
          description: Date for stats in yyyy-MM-dd'T'hh:mm:ss'Z' format.
          title: day_raw
          type: string
        status:
          description: Transaction status (C or N).
          title: status
          type: string
        value:
          description: Transaction count.
          title: value
          type: number
      title: C
      type: object
    "N":
      example:
        day: day
        value: 6.027456183070403
        day_raw: day_raw
        status: status
      properties:
        day:
          description: Date for stats in yyyy-MM-dd format.
          title: day
          type: string
        day_raw:
          description: Date for stats in yyyy-MM-dd'T'hh:mm:ss'Z' format.
          title: day_raw
          type: string
        status:
          description: Transaction status (C or N).
          title: status
          type: string
        value:
          description: Transaction count.
          title: value
          type: number
      title: "N"
      type: object
    additional_currencies:
      example:
        invoice:
          tax_amount: 1.4658129805029452
          amount: 0.8008281904610115
          total_amount: 5.962133916683182
          fx_rate: 6.027456183070403
          currency_code: currency_code
      properties:
        invoice:
          $ref: '#/components/schemas/additional_currency'
      title: additional_currencies
      type: object
    additional_currency:
      example:
        tax_amount: 1.4658129805029452
        amount: 0.8008281904610115
        total_amount: 5.962133916683182
        fx_rate: 6.027456183070403
        currency_code: currency_code
      properties:
        amount:
          description: Amount (w/o TAX) in designated currency.
          title: amount
          type: number
        currency_code:
          description: 3-letter ISO currency code.
          title: currency_code
          type: string
        fx_rate:
          description: Foreign exchange rate used in calculation
          title: fx_rate
          type: number
        tax_amount:
          description: Tax amount in designated currency.
          title: tax_amount
          type: number
        total_amount:
          description: Total amount in designated currency.
          title: total_amount
          type: number
      title: additional_currency
      type: object
    by_country:
      example:
        tax_country_code: tax_country_code
        tax_country_name: tax_country_name
        value: 0.8008281904610115
        currency_code: currency_code
      properties:
        currency_code:
          description: Three-letter ISO currency code.
          title: currency_code
          type: string
        tax_country_code:
          description: Two letter ISO country code.
          title: tax_country_code
          type: string
        tax_country_name:
          description: Country name
          title: tax_country_name
          type: string
        value:
          description: Tax amount
          title: value
          type: number
      title: by_country
      type: object
    by_status:
      example:
        C:
        - day: day
          value: 0.8008281904610115
          day_raw: day_raw
          status: status
        - day: day
          value: 0.8008281904610115
          day_raw: day_raw
          status: status
        "N":
        - day: day
          value: 6.027456183070403
          day_raw: day_raw
          status: status
        - day: day
          value: 6.027456183070403
          day_raw: day_raw
          status: status
      properties:
        C:
          description: Confirmed transactions
          items:
            $ref: '#/components/schemas/C'
          title: C
          type: array
        "N":
          description: New transactions
          items:
            $ref: '#/components/schemas/N'
          title: "N"
          type: array
      title: by_status
      type: object
    by_taxation_type:
      example:
        transactions_count: 5.637376656633329
        deducted_count: 0.8008281904610115
        eu_b2b: 6
        eu_taxed: 1
        taxed_count: 5.962133916683182
      properties:
        deducted_count:
          description: Number of tax deducted transactions.
          title: deducted_count
          type: number
        eu_b2b:
          description: Total EU B2B transaction count.
          title: eu_b2b
          type: integer
        eu_taxed:
          description: Total EU Taxed transaction count.
          title: eu_taxed
          type: integer
        taxed_count:
          description: Number of taxed transactions.
          title: taxed_count
          type: number
        transactions_count:
          description: Total number of transactions
          title: transactions_count
          type: number
      title: by_taxation_type
      type: object
    calculateSimpleTaxIn:
      properties:
        amount:
          description: Amount. Required if total amount or both unit price and quantity
            are not provided.
          type: number
        billing_country_code:
          description: Billing two letter ISO country code.
          type: string
        buyer_credit_card_prefix:
          description: First 6 digits of buyer's credit card prefix.
          type: string
        buyer_tax_number:
          description: " Buyer's tax number - EU VAT number for example. If using\
            \ EU VAT number, it is possible to provide country code in it (e.g. IE1234567X)\
            \ or simply use billing_country_code field for that. In the first case,\
            \ if billing_country_code value was provided, it will be overwritten with\
            \ country code value extracted from VAT number - but only if the VAT has\
            \ been verified properly."
          type: string
        currency_code:
          description: Currency code for transaction - e.g. EUR.
          type: string
        force_country_code:
          description: "Two-letter ISO country code, e.g. FR. Use it to force country\
            \ code for tax calculation."
          type: string
        invoice_address_city:
          description: Invoice address/postal_code
          type: string
        invoice_address_postal_code:
          description: Invoice address/postal_code
          type: string
        invoice_address_region:
          description: Invoice address/region
          type: string
        order_date:
          description: "Order date in yyyy-MM-dd format, in merchant's timezone. If\
            \ provided by the API caller, no timezone conversion is performed. Default\
            \ value is current date and time. When using public token, the default\
            \ value is used."
          type: string
        product_type:
          description: "Product type, according to dictionary /dictionaries/product_types. "
          type: string
        quantity:
          description: Quantity Defaults to 1.
          type: number
        tax_deducted:
          description: "If the transaction is in a country supported by Taxamo, but\
            \ the tax is not calculated due to merchant settings or EU B2B transaction\
            \ for example."
          type: boolean
        total_amount:
          description: Total amount. Required if amount or both unit price and quantity
            are not provided.
          type: number
        unit_price:
          description: Unit price.
          type: number
      required:
      - currency_code
      type: object
    calculateSimpleTaxOut:
      example:
        tax_required_fields:
        - field_name: field_name
        - field_name: field_name
        storage_required_fields:
        - field_name: field_name
        - field_name: field_name
        transaction:
          tax_amount: 3.616076749251911
          external_key: external_key
          refunded_total_amount: 9.301444243932576
          evidence:
            by_ip:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            guessed_from_ip:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_cc:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            other_commercially_relevant_info:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            forced:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            self_declaration:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_token:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_billing:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_2003_rules:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_payment_method:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_tax_number:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
          refunded_tax_amount: 7.061401241503109
          buyer_name: buyer_name
          source: source
          buyer_credit_card_prefix: buyer_credit_card_prefix
          original_transaction_key: original_transaction_key
          confirm_timestamp: confirm_timestamp
          tax_country_code: tax_country_code
          create_timestamp: create_timestamp
          buyer_ip: buyer_ip
          invoice_number: invoice_number
          verification_token: verification_token
          buyer_email: buyer_email
          test: true
          custom_fields:
          - value: value
            key: key
          - value: value
            key: key
          kind: kind
          custom_id: custom_id
          countries:
            by_ip:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            guessed_from_ip:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            by_cc:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            other_commercially_relevant_info:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            forced:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            self_declaration:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            by_token:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            detected:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            by_billing:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            by_2003_rules:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            by_tax_number:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
          fully_informative: true
          tax_deducted: true
          tax_timezone: tax_timezone
          total_amount: 2.027123023002322
          force_country_code: force_country_code
          supply_date: supply_date
          invoice_image_url: invoice_image_url
          tax_number_service: tax_number_service
          buyer_tax_number_valid: true
          invoice_place: invoice_place
          custom_data: custom_data
          status: status
          buyer_tax_number: buyer_tax_number
          note: note
          description: description
          manual: true
          sub_account_id: sub_account_id
          tax_data:
            us_tax_exemption_certificate:
              certificate_id: certificate_id
              detail:
                purchaser_exemption_reason: purchaser_exemption_reason
                purchaser_business_type: purchaser_business_type
                purchaser_exemption_reason_value: purchaser_exemption_reason_value
                purchaser_state: purchaser_state
                purchaser_title: purchaser_title
                purchaser_business_type_other_value: purchaser_business_type_other_value
                purchaser_first_name: purchaser_first_name
                purchaser_zip: purchaser_zip
                single_purchase: true
                purchaser_address1: purchaser_address1
                purchaser_address2: purchaser_address2
                exempt_states:
                - reason_for_exemption: reason_for_exemption
                  identifier_for_exemption_reason: identifier_for_exemption_reason
                  state_abbr: state_abbr
                - reason_for_exemption: reason_for_exemption
                  identifier_for_exemption_reason: identifier_for_exemption_reason
                  state_abbr: state_abbr
                purchaser_city: purchaser_city
                purchaser_tax_id:
                  tax_id_type: tax_id_type
                  state_of_issue: state_of_issue
                  tax_id: tax_id
                single_purchase_order_identifier: single_purchase_order_identifier
                purchaser_last_name: purchaser_last_name
          currency_code: currency_code
          invoice_date: invoice_date
          additional_currencies:
            invoice:
              tax_amount: 1.4658129805029452
              amount: 0.8008281904610115
              total_amount: 5.962133916683182
              fx_rate: 6.027456183070403
              currency_code: currency_code
          key: key
          amount: 5.637376656633329
          comments: comments
          tax_supported: true
          invoice_address:
            address_detail: address_detail
            country: country
            freeform_address: freeform_address
            city: city
            postal_code: postal_code
            region: region
            building_number: building_number
            street_name: street_name
          order_date: order_date
          billing_country_code: billing_country_code
          deducted_tax_amount: 2.3021358869347655
          customer_id: customer_id
          tax_entity_name: tax_entity_name
          transaction_lines:
          - tax_amount: 1.1730742509559433
            amount: 4.145608029883936
            quantity: 1.4894159098541704
            refunded_total_amount: 7.457744773683766
            custom_fields:
            - value: value
              key: key
            - value: value
              key: key
            refunded_tax_amount: 6.84685269835264
            custom_id: custom_id
            tax_name: tax_name
            description: description
            informative: true
            line_key: line_key
            product_code: product_code
            unit_price: 9.965781217890562
            tax_rate: 4.965218492984954
            product_tax_code: product_tax_code
            product_type: product_type
            additional_currencies:
              invoice:
                tax_amount: 1.4658129805029452
                amount: 0.8008281904610115
                total_amount: 5.962133916683182
                fx_rate: 6.027456183070403
                currency_code: currency_code
            deducted_tax_amount: 7.386281948385884
            total_amount: 5.025004791520295
            supply_date: supply_date
            unit_of_measure: unit_of_measure
            id: 1.0246457001441578
            deducted_tax_rate: 1.2315135367772556
          - tax_amount: 1.1730742509559433
            amount: 4.145608029883936
            quantity: 1.4894159098541704
            refunded_total_amount: 7.457744773683766
            custom_fields:
            - value: value
              key: key
            - value: value
              key: key
            refunded_tax_amount: 6.84685269835264
            custom_id: custom_id
            tax_name: tax_name
            description: description
            informative: true
            line_key: line_key
            product_code: product_code
            unit_price: 9.965781217890562
            tax_rate: 4.965218492984954
            product_tax_code: product_tax_code
            product_type: product_type
            additional_currencies:
              invoice:
                tax_amount: 1.4658129805029452
                amount: 0.8008281904610115
                total_amount: 5.962133916683182
                fx_rate: 6.027456183070403
                currency_code: currency_code
            deducted_tax_amount: 7.386281948385884
            total_amount: 5.025004791520295
            supply_date: supply_date
            unit_of_measure: unit_of_measure
            id: 1.0246457001441578
            deducted_tax_rate: 1.2315135367772556
      properties:
        storage_required_fields:
          description: Fields required for transaction storage (can be added later
            - it's up to merchant software). Depends on the region/transaction type.
          items:
            $ref: '#/components/schemas/storage_required_fields'
          title: storage_required_fields
          type: array
        tax_required_fields:
          description: Fields required for tax calculation. Depends on the region/transaction
            type.
          items:
            $ref: '#/components/schemas/tax_required_fields'
          title: tax_required_fields
          type: array
        transaction:
          $ref: '#/components/schemas/transaction'
      title: calculateSimpleTaxOut
      type: object
    calculateTaxIn:
      properties:
        transaction:
          $ref: '#/components/schemas/input_transaction'
      required:
      - transaction
      title: calculateTaxIn
      type: object
    calculateTaxLocationIn:
      properties:
        billing_country_code:
          description: Billing two letter ISO country code.
          type: string
        buyer_credit_card_prefix:
          description: First 6 digits of buyer's credit card prefix.
          type: string
      type: object
    calculateTaxLocationOut:
      example:
        tax_deducted: true
        billing_country_code: billing_country_code
        tax_country_code: tax_country_code
        evidence:
          by_ip:
            evidence_type: evidence_type
            evidence_value: evidence_value
            used: true
            resolved_country_code: resolved_country_code
          guessed_from_ip:
            evidence_type: evidence_type
            evidence_value: evidence_value
            used: true
            resolved_country_code: resolved_country_code
          by_cc:
            evidence_type: evidence_type
            evidence_value: evidence_value
            used: true
            resolved_country_code: resolved_country_code
          other_commercially_relevant_info:
            evidence_type: evidence_type
            evidence_value: evidence_value
            used: true
            resolved_country_code: resolved_country_code
          forced:
            evidence_type: evidence_type
            evidence_value: evidence_value
            used: true
            resolved_country_code: resolved_country_code
          self_declaration:
            evidence_type: evidence_type
            evidence_value: evidence_value
            used: true
            resolved_country_code: resolved_country_code
          by_token:
            evidence_type: evidence_type
            evidence_value: evidence_value
            used: true
            resolved_country_code: resolved_country_code
          by_billing:
            evidence_type: evidence_type
            evidence_value: evidence_value
            used: true
            resolved_country_code: resolved_country_code
          by_2003_rules:
            evidence_type: evidence_type
            evidence_value: evidence_value
            used: true
            resolved_country_code: resolved_country_code
          by_payment_method:
            evidence_type: evidence_type
            evidence_value: evidence_value
            used: true
            resolved_country_code: resolved_country_code
          by_tax_number:
            evidence_type: evidence_type
            evidence_value: evidence_value
            used: true
            resolved_country_code: resolved_country_code
        buyer_ip: buyer_ip
        countries:
          by_ip:
            callingCode:
            - callingCode
            - callingCode
            code_long: code_long
            tax_region: tax_region
            code: code
            tax_number_country_code: tax_number_country_code
            name: name
            codenum: codenum
            currency:
            - currency
            - currency
            ccn3: ccn3
            cca3: cca3
            cca2: cca2
            tax_supported: true
          guessed_from_ip:
            callingCode:
            - callingCode
            - callingCode
            code_long: code_long
            tax_region: tax_region
            code: code
            tax_number_country_code: tax_number_country_code
            name: name
            codenum: codenum
            currency:
            - currency
            - currency
            ccn3: ccn3
            cca3: cca3
            cca2: cca2
            tax_supported: true
          by_cc:
            callingCode:
            - callingCode
            - callingCode
            code_long: code_long
            tax_region: tax_region
            code: code
            tax_number_country_code: tax_number_country_code
            name: name
            codenum: codenum
            currency:
            - currency
            - currency
            ccn3: ccn3
            cca3: cca3
            cca2: cca2
            tax_supported: true
          other_commercially_relevant_info:
            callingCode:
            - callingCode
            - callingCode
            code_long: code_long
            tax_region: tax_region
            code: code
            tax_number_country_code: tax_number_country_code
            name: name
            codenum: codenum
            currency:
            - currency
            - currency
            ccn3: ccn3
            cca3: cca3
            cca2: cca2
            tax_supported: true
          forced:
            callingCode:
            - callingCode
            - callingCode
            code_long: code_long
            tax_region: tax_region
            code: code
            tax_number_country_code: tax_number_country_code
            name: name
            codenum: codenum
            currency:
            - currency
            - currency
            ccn3: ccn3
            cca3: cca3
            cca2: cca2
            tax_supported: true
          self_declaration:
            callingCode:
            - callingCode
            - callingCode
            code_long: code_long
            tax_region: tax_region
            code: code
            tax_number_country_code: tax_number_country_code
            name: name
            codenum: codenum
            currency:
            - currency
            - currency
            ccn3: ccn3
            cca3: cca3
            cca2: cca2
            tax_supported: true
          by_token:
            callingCode:
            - callingCode
            - callingCode
            code_long: code_long
            tax_region: tax_region
            code: code
            tax_number_country_code: tax_number_country_code
            name: name
            codenum: codenum
            currency:
            - currency
            - currency
            ccn3: ccn3
            cca3: cca3
            cca2: cca2
            tax_supported: true
          detected:
            callingCode:
            - callingCode
            - callingCode
            code_long: code_long
            tax_region: tax_region
            code: code
            tax_number_country_code: tax_number_country_code
            name: name
            codenum: codenum
            currency:
            - currency
            - currency
            ccn3: ccn3
            cca3: cca3
            cca2: cca2
            tax_supported: true
          by_billing:
            callingCode:
            - callingCode
            - callingCode
            code_long: code_long
            tax_region: tax_region
            code: code
            tax_number_country_code: tax_number_country_code
            name: name
            codenum: codenum
            currency:
            - currency
            - currency
            ccn3: ccn3
            cca3: cca3
            cca2: cca2
            tax_supported: true
          by_2003_rules:
            callingCode:
            - callingCode
            - callingCode
            code_long: code_long
            tax_region: tax_region
            code: code
            tax_number_country_code: tax_number_country_code
            name: name
            codenum: codenum
            currency:
            - currency
            - currency
            ccn3: ccn3
            cca3: cca3
            cca2: cca2
            tax_supported: true
          by_tax_number:
            callingCode:
            - callingCode
            - callingCode
            code_long: code_long
            tax_region: tax_region
            code: code
            tax_number_country_code: tax_number_country_code
            name: name
            codenum: codenum
            currency:
            - currency
            - currency
            ccn3: ccn3
            cca3: cca3
            cca2: cca2
            tax_supported: true
        buyer_credit_card_prefix: buyer_credit_card_prefix
        tax_supported: true
      properties:
        billing_country_code:
          description: Billing two letter ISO country code.
          title: billing_country_code
          type: string
        buyer_credit_card_prefix:
          description: First 6 digits of buyer's credit card prefix.
          title: buyer_credit_card_prefix
          type: string
        buyer_ip:
          description: IP address of the buyer in dotted decimal (IPv4) or text format
            (IPv6).
          title: buyer_ip
          type: string
        countries:
          $ref: '#/components/schemas/countries'
        evidence:
          $ref: '#/components/schemas/evidence'
        tax_country_code:
          description: "Two-letter ISO country code, e.g. FR. This code applies to\
            \ detected/set country for transaction, but can be set using manual mode."
          title: tax_country_code
          type: string
        tax_deducted:
          description: "If the transaction is in a country supported by Taxamo, but\
            \ the tax is not calculated due to merchant settings or EU B2B transaction\
            \ for example."
          title: tax_deducted
          type: boolean
        tax_supported:
          description: Is tax calculation supported for a detected tax location?
          title: tax_supported
          type: boolean
      title: calculateTaxLocationOut
      type: object
    calculateTaxOut:
      example:
        tax_required_fields:
        - field_name: field_name
        - field_name: field_name
        storage_required_fields:
        - field_name: field_name
        - field_name: field_name
        transaction:
          tax_amount: 3.616076749251911
          external_key: external_key
          refunded_total_amount: 9.301444243932576
          evidence:
            by_ip:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            guessed_from_ip:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_cc:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            other_commercially_relevant_info:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            forced:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            self_declaration:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_token:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_billing:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_2003_rules:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_payment_method:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_tax_number:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
          refunded_tax_amount: 7.061401241503109
          buyer_name: buyer_name
          source: source
          buyer_credit_card_prefix: buyer_credit_card_prefix
          original_transaction_key: original_transaction_key
          confirm_timestamp: confirm_timestamp
          tax_country_code: tax_country_code
          create_timestamp: create_timestamp
          buyer_ip: buyer_ip
          invoice_number: invoice_number
          verification_token: verification_token
          buyer_email: buyer_email
          test: true
          custom_fields:
          - value: value
            key: key
          - value: value
            key: key
          kind: kind
          custom_id: custom_id
          countries:
            by_ip:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            guessed_from_ip:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            by_cc:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            other_commercially_relevant_info:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            forced:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            self_declaration:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            by_token:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            detected:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            by_billing:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            by_2003_rules:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            by_tax_number:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
          fully_informative: true
          tax_deducted: true
          tax_timezone: tax_timezone
          total_amount: 2.027123023002322
          force_country_code: force_country_code
          supply_date: supply_date
          invoice_image_url: invoice_image_url
          tax_number_service: tax_number_service
          buyer_tax_number_valid: true
          invoice_place: invoice_place
          custom_data: custom_data
          status: status
          buyer_tax_number: buyer_tax_number
          note: note
          description: description
          manual: true
          sub_account_id: sub_account_id
          tax_data:
            us_tax_exemption_certificate:
              certificate_id: certificate_id
              detail:
                purchaser_exemption_reason: purchaser_exemption_reason
                purchaser_business_type: purchaser_business_type
                purchaser_exemption_reason_value: purchaser_exemption_reason_value
                purchaser_state: purchaser_state
                purchaser_title: purchaser_title
                purchaser_business_type_other_value: purchaser_business_type_other_value
                purchaser_first_name: purchaser_first_name
                purchaser_zip: purchaser_zip
                single_purchase: true
                purchaser_address1: purchaser_address1
                purchaser_address2: purchaser_address2
                exempt_states:
                - reason_for_exemption: reason_for_exemption
                  identifier_for_exemption_reason: identifier_for_exemption_reason
                  state_abbr: state_abbr
                - reason_for_exemption: reason_for_exemption
                  identifier_for_exemption_reason: identifier_for_exemption_reason
                  state_abbr: state_abbr
                purchaser_city: purchaser_city
                purchaser_tax_id:
                  tax_id_type: tax_id_type
                  state_of_issue: state_of_issue
                  tax_id: tax_id
                single_purchase_order_identifier: single_purchase_order_identifier
                purchaser_last_name: purchaser_last_name
          currency_code: currency_code
          invoice_date: invoice_date
          additional_currencies:
            invoice:
              tax_amount: 1.4658129805029452
              amount: 0.8008281904610115
              total_amount: 5.962133916683182
              fx_rate: 6.027456183070403
              currency_code: currency_code
          key: key
          amount: 5.637376656633329
          comments: comments
          tax_supported: true
          invoice_address:
            address_detail: address_detail
            country: country
            freeform_address: freeform_address
            city: city
            postal_code: postal_code
            region: region
            building_number: building_number
            street_name: street_name
          order_date: order_date
          billing_country_code: billing_country_code
          deducted_tax_amount: 2.3021358869347655
          customer_id: customer_id
          tax_entity_name: tax_entity_name
          transaction_lines:
          - tax_amount: 1.1730742509559433
            amount: 4.145608029883936
            quantity: 1.4894159098541704
            refunded_total_amount: 7.457744773683766
            custom_fields:
            - value: value
              key: key
            - value: value
              key: key
            refunded_tax_amount: 6.84685269835264
            custom_id: custom_id
            tax_name: tax_name
            description: description
            informative: true
            line_key: line_key
            product_code: product_code
            unit_price: 9.965781217890562
            tax_rate: 4.965218492984954
            product_tax_code: product_tax_code
            product_type: product_type
            additional_currencies:
              invoice:
                tax_amount: 1.4658129805029452
                amount: 0.8008281904610115
                total_amount: 5.962133916683182
                fx_rate: 6.027456183070403
                currency_code: currency_code
            deducted_tax_amount: 7.386281948385884
            total_amount: 5.025004791520295
            supply_date: supply_date
            unit_of_measure: unit_of_measure
            id: 1.0246457001441578
            deducted_tax_rate: 1.2315135367772556
          - tax_amount: 1.1730742509559433
            amount: 4.145608029883936
            quantity: 1.4894159098541704
            refunded_total_amount: 7.457744773683766
            custom_fields:
            - value: value
              key: key
            - value: value
              key: key
            refunded_tax_amount: 6.84685269835264
            custom_id: custom_id
            tax_name: tax_name
            description: description
            informative: true
            line_key: line_key
            product_code: product_code
            unit_price: 9.965781217890562
            tax_rate: 4.965218492984954
            product_tax_code: product_tax_code
            product_type: product_type
            additional_currencies:
              invoice:
                tax_amount: 1.4658129805029452
                amount: 0.8008281904610115
                total_amount: 5.962133916683182
                fx_rate: 6.027456183070403
                currency_code: currency_code
            deducted_tax_amount: 7.386281948385884
            total_amount: 5.025004791520295
            supply_date: supply_date
            unit_of_measure: unit_of_measure
            id: 1.0246457001441578
            deducted_tax_rate: 1.2315135367772556
      properties:
        storage_required_fields:
          description: Fields required for transaction storage (can be added later
            - it's up to merchant software). Depends on the region/transaction type.
          items:
            $ref: '#/components/schemas/storage_required_fields'
          title: storage_required_fields
          type: array
        tax_required_fields:
          description: Fields required for tax calculation. Depends on the region/transaction
            type.
          items:
            $ref: '#/components/schemas/tax_required_fields'
          title: tax_required_fields
          type: array
        transaction:
          $ref: '#/components/schemas/transaction'
      title: calculateTaxOut
      type: object
    cancelTransactionOut:
      example:
        success: true
      properties:
        success:
          description: Was operation successful?
          title: success
          type: boolean
      title: cancelTransactionOut
      type: object
    capturePaymentOut:
      example:
        success: true
      properties:
        success:
          description: Was the operation successful?
          title: success
          type: boolean
      title: capturePaymentOut
      type: object
    confirmTransactionIn:
      properties:
        transaction:
          $ref: '#/components/schemas/input_transaction_update'
      title: confirmTransactionIn
      type: object
    confirmTransactionOut:
      example:
        tax_required_fields:
        - field_name: field_name
        - field_name: field_name
        storage_required_fields:
        - field_name: field_name
        - field_name: field_name
        transaction:
          tax_amount: 3.616076749251911
          external_key: external_key
          refunded_total_amount: 9.301444243932576
          evidence:
            by_ip:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            guessed_from_ip:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_cc:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            other_commercially_relevant_info:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            forced:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            self_declaration:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_token:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_billing:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_2003_rules:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_payment_method:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
            by_tax_number:
              evidence_type: evidence_type
              evidence_value: evidence_value
              used: true
              resolved_country_code: resolved_country_code
          refunded_tax_amount: 7.061401241503109
          buyer_name: buyer_name
          source: source
          buyer_credit_card_prefix: buyer_credit_card_prefix
          original_transaction_key: original_transaction_key
          confirm_timestamp: confirm_timestamp
          tax_country_code: tax_country_code
          create_timestamp: create_timestamp
          buyer_ip: buyer_ip
          invoice_number: invoice_number
          verification_token: verification_token
          buyer_email: buyer_email
          test: true
          custom_fields:
          - value: value
            key: key
          - value: value
            key: key
          kind: kind
          custom_id: custom_id
          countries:
            by_ip:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            guessed_from_ip:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            by_cc:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            other_commercially_relevant_info:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
              tax_number_country_code: tax_number_country_code
              name: name
              codenum: codenum
              currency:
              - currency
              - currency
              ccn3: ccn3
              cca3: cca3
              cca2: cca2
              tax_supported: true
            forced:
              callingCode:
              - callingCode
              - callingCode
              code_long: code_long
              tax_region: tax_region
              code: code
[...]
