openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on Identity Provider
    entity associated with your Azure API Management deployment. Setting up an external
    Identity Provider for authentication can help you manage the developer portal
    logins using the OAuth2 flow.
  title: ApiManagementClient
  version: 2019-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimidentityprovider.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimidentityprovider
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/identityProviders
  : get:
      description: Lists a collection of Identity Provider configured in the specified
        service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#how-to-authorize-developer-accounts-using-azure-active-directory
      operationId: IdentityProvider_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_200_response'
          description: Lists a collection of Identity Providers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementListIdentityProviders:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/Google
                  name: Google
                  properties:
                    clientId: googleId
                    type: google
                  type: Microsoft.ApiManagement/service/identityProviders
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/Aad
                  name: Aad
                  properties:
                    allowedTenants:
                    - samiraad.onmicrosoft.com
                    clientId: aadapplicationid
                    type: aad
                  type: Microsoft.ApiManagement/service/identityProviders
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/AadB2C
                  name: AadB2C
                  properties:
                    allowedTenants:
                    - samirtestbc.onmicrosoft.com
                    clientId: aadb2clientId
                    signinPolicyName: B2C_1_Signin_Default
                    signupPolicyName: B2C_1_Signup_Default
                    type: aadB2C
                  type: Microsoft.ApiManagement/service/identityProviders
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/identityProviders/{identityProviderName}
  : delete:
      description: Deletes the specified identity provider configuration.
      operationId: IdentityProvider_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identity Provider Type identifier.
        in: path
        name: identityProviderName
        required: true
        schema:
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The identity provider configuration was successfully deleted.
        "204":
          content: {}
          description: The identity provider configuration was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementDeleteIdentityProvider:
          parameters:
            If-Match: '*'
            api-version: 2019-12-01-preview
            identityProviderName: aad
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the configuration details of the identity Provider configured
        in specified service instance.
      operationId: IdentityProvider_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identity Provider Type identifier.
        in: path
        name: identityProviderName
        required: true
        schema:
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_Get_200_response'
          description: The response body contains the specified IdentityProvider entity
            configuration details.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementGetIdentityProvider:
          parameters:
            api-version: 2019-12-01-preview
            identityProviderName: aadB2C
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/AadB2C
                name: AadB2C
                properties:
                  allowedTenants:
                  - contosoaadb2c.onmicrosoft.com
                  - contoso2aadb2c.onmicrosoft.com
                  authority: login.microsoftonline.com
                  clientId: f02dafe2-b8b8-48ec-a38e-27e5c16c51e5
                  signinPolicyName: B2C_1_policy-signin
                  signinTenant: contosoaadb2c.onmicrosoft.com
                  signupPolicyName: B2C_1_policy-signup
                  type: aadB2C
                type: Microsoft.ApiManagement/service/identityProviders
      x-accepts:
      - application/json
    head:
      description: Gets the entity state (Etag) version of the identityProvider specified
        by its identifier.
      operationId: IdentityProvider_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identity Provider Type identifier.
        in: path
        name: identityProviderName
        required: true
        schema:
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified identity provider entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementHeadIdentityProvider:
          parameters:
            api-version: 2019-12-01-preview
            identityProviderName: aadB2C
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    patch:
      description: Updates an existing IdentityProvider configuration.
      operationId: IdentityProvider_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identity Provider Type identifier.
        in: path
        name: identityProviderName
        required: true
        schema:
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProvider_Update_request'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The existing identity provider configuration was successfully
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementUpdateIdentityProvider:
          parameters:
            If-Match: '*'
            api-version: 2019-12-01-preview
            identityProviderName: facebook
            parameters:
              properties:
                clientId: updatedfacebookid
                clientSecret: updatedfacebooksecret
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or Updates the IdentityProvider configuration.
      operationId: IdentityProvider_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identity Provider Type identifier.
        in: path
        name: identityProviderName
        required: true
        schema:
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProvider_Get_200_response'
        description: Create parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_Get_200_response'
          description: The existing Identity Provider was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_Get_200_response'
          description: IdentityProvider configuration were successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementCreateIdentityProvider:
          parameters:
            api-version: 2019-12-01-preview
            identityProviderName: facebook
            parameters:
              properties:
                clientId: facebookid
                clientSecret: facebookapplicationsecret
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/Facebook
                name: Facebook
                properties:
                  clientId: facebookid
                  clientSecret: facebookapplicationsecret
                  type: facebook
                type: Microsoft.ApiManagement/service/identityProviders
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/identityProviders/Facebook
                name: Facebook
                properties:
                  clientId: facebookid
                  clientSecret: facebookapplicationsecret
                  type: facebook
                type: Microsoft.ApiManagement/service/identityProviders
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/identityProviders/{identityProviderName}/listSecrets
  : post:
      description: Gets the client secret details of the Identity Provider.
      operationId: IdentityProvider_ListSecrets
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identity Provider Type identifier.
        in: path
        name: identityProviderName
        required: true
        schema:
          enum:
          - facebook
          - google
          - microsoft
          - twitter
          - aad
          - aadB2C
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityProviderType
            values:
            - description: Facebook as Identity provider.
              value: facebook
            - description: Google as Identity provider.
              value: google
            - description: Microsoft Live as Identity provider.
              value: microsoft
            - description: Twitter as Identity provider.
              value: twitter
            - description: Azure Active Directory as Identity provider.
              value: aad
            - description: Azure Active Directory B2C as Identity provider.
              value: aadB2C
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: IdentityProviderType
          values:
          - description: Facebook as Identity provider.
            value: facebook
          - description: Google as Identity provider.
            value: google
          - description: Microsoft Live as Identity provider.
            value: microsoft
          - description: Twitter as Identity provider.
            value: twitter
          - description: Azure Active Directory as Identity provider.
            value: aad
          - description: Azure Active Directory B2C as Identity provider.
            value: aadB2C
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListSecrets_200_response'
          description: The response body contains the client secret.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProvider_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - IdentityProvider
      x-ms-examples:
        ApiManagementListSecretsIdentityProvider:
          parameters:
            api-version: 2019-12-01-preview
            identityProviderName: aadB2C
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                clientSecret: XXXXXXX
      x-accepts:
      - application/json
components:
  schemas:
    IdentityProvider_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    IdentityProvider_ListSecrets_200_response:
      description: "Client or app secret used in IdentityProviders, Aad, OpenID or\
        \ OAuth."
      example:
        clientSecret: clientSecret
      properties:
        clientSecret:
          description: "Client or app secret used in IdentityProviders, Aad, OpenID\
            \ or OAuth."
          type: string
      type: object
    IdentityProvider_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/IdentityProvider_ListByService_default_response_error'
      type: object
    IdentityProvider_Update_request_properties:
      description: Parameters supplied to the Update Identity Provider operation.
      properties:
        clientId:
          description: "Client Id of the Application in the external Identity Provider.\
            \ It is App ID for Facebook login, Client ID for Google login, App ID\
            \ for Microsoft."
          minLength: 1
          type: string
        clientSecret:
          description: "Client secret of the Application in external Identity Provider,\
            \ used to authenticate login request. For example, it is App Secret for\
            \ Facebook login, API Key for Google login, Public Key for Microsoft."
          minLength: 1
          type: string
      type: object
    IdentityProvider_Update_request:
      description: Parameters supplied to update Identity Provider
      properties:
        properties:
          $ref: '#/components/schemas/IdentityProvider_Update_request_properties'
      type: object
    IdentityProvider_Get_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Identity Provider details.
      example:
        properties:
          clientId: clientId
          clientSecret: clientSecret
      properties:
        properties:
          $ref: '#/components/schemas/IdentityProvider_ListByService_200_response_value_inner_properties'
    IdentityProvider_ListByService_200_response:
      description: List of all the Identity Providers configured on the service instance.
      example:
        value:
        - properties:
            clientId: clientId
            clientSecret: clientSecret
        - properties:
            clientId: clientId
            clientSecret: clientSecret
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Identity Provider configuration values.
          items:
            $ref: '#/components/schemas/IdentityProvider_ListByService_200_response_value_inner'
          type: array
      type: object
    IdentityProvider_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/IdentityProvider_ListByService_default_response_error_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    IdentityProvider_ListByService_200_response_value_inner:
      description: Identity Provider details.
      example:
        properties:
          clientId: clientId
          clientSecret: clientSecret
      properties:
        properties:
          $ref: '#/components/schemas/IdentityProvider_ListByService_200_response_value_inner_properties'
      type: object
    IdentityProvider_ListByService_200_response_value_inner_properties:
      description: "The external Identity Providers like Facebook, Google, Microsoft,\
        \ Twitter or Azure Active Directory which can be used to enable access to\
        \ the API Management service developer portal for all users."
      example:
        clientId: clientId
        clientSecret: clientSecret
      properties:
        clientId:
          description: "Client Id of the Application in the external Identity Provider.\
            \ It is App ID for Facebook login, Client ID for Google login, App ID\
            \ for Microsoft."
          minLength: 1
          type: string
        clientSecret:
          description: "Client secret of the Application in external Identity Provider,\
            \ used to authenticate login request. For example, it is App Secret for\
            \ Facebook login, API Key for Google login, Public Key for Microsoft.\
            \ This property will not be filled on 'GET' operations! Use '/listSecrets'\
            \ POST request to get the value."
          minLength: 1
          type: string
      required:
      - clientId
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

