openapi: 3.0.1
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: 2015-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/AcquiredPlan.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-AcquiredPlan
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans:
    get:
      description: Get a collection of all acquired plans that subscription has access
        to.
      operationId: acquired_plans_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The target subscription ID.
        in: path
        name: targetSubscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAcquisitionList'
          description: OK
      tags:
      - AcquiredPlans
      x-ms-examples:
        Get a collection of all acquired plans that subscription has access to.:
          parameters:
            api-version: 2015-11-01
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            targetSubscriptionId: 8158498d-27b1-4ccf-9aa1-de0f925731e6
          responses:
            "200":
              body:
                value:
                - acquisitionId: 718c7f7c-4868-479a-98ce-5caaa8f158c8
                  acquisitionTime: 2018-02-17T05:50:51.48Z
                  id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8
                  planId: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan
                  provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.acquired_plans_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans/{planAcquisitionId}
  : delete:
      description: Deletes an acquired plan.
      operationId: acquired_plans_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The target subscription ID.
        in: path
        name: target_subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The plan acquisition Identifier
        in: path
        name: plan_acquisition_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - AcquiredPlans
      x-ms-examples:
        Deletes an acquired plan.:
          parameters:
            api-version: 2015-11-01
            location: local
            planAcquisitionId: 718c7f7c-4868-479a-98ce-5caaa8f158c8
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            targetSubscriptionId: 8158498d-27b1-4ccf-9aa1-de0f925731e6
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.acquired_plans_controller
    get:
      description: Gets the specified plan acquired by a subscription consuming the
        offer.
      operationId: acquired_plans_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The target subscription ID.
        in: path
        name: target_subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The plan acquisition Identifier
        in: path
        name: planAcquisitionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAcquisition'
          description: OK
      tags:
      - AcquiredPlans
      x-ms-examples:
        Gets the specified plan acquired by a subscription consuming the offer:
          parameters:
            api-version: 2015-11-01
            location: local
            newAcquiredPlan: ""
            planAcquisitionId: 718c7f7c-4868-479a-98ce-5caaa8f158c8
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            targetSubscriptionId: 8158498d-27b1-4ccf-9aa1-de0f925731e6
          responses:
            "200":
              body:
                acquisitionId: 718c7f7c-4868-479a-98ce-5caaa8f158c8
                acquisitionTime: 2018-02-17T05:50:51.48Z
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8
                planId: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan
                provisioningState: Succeeded
      x-openapi-router-controller: openapi_server.controllers.acquired_plans_controller
    put:
      description: Creates an acquired plan.
      operationId: acquired_plans_create
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The target subscription ID.
        in: path
        name: target_subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The plan acquisition Identifier
        in: path
        name: plan_acquisition_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanAcquisition'
        description: The new acquired plan.
        required: true
        x-ms-parameter-location: method
        x-body-name: newAcquiredPlan
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAcquisition'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAcquisition'
          description: Created
      tags:
      - AcquiredPlans
      x-ms-examples:
        Creates or updates the acquired plan.:
          parameters:
            api-version: 2015-11-01
            location: local
            newAcquiredPlan:
              properties:
                acquisitionId: 718c7f7c-4868-479a-98ce-5caaa8f158c8
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8
                planId: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan
            planAcquisitionId: 718c7f7c-4868-479a-98ce-5caaa8f158c8
            subscriptionId: 8158498d-27b1-4ccf-9aa1-de0f925731e6
            targetSubscriptionId: 8158498d-27b1-4ccf-9aa1-de0f925731e6
          responses:
            "200":
              body:
                acquisitionId: 718c7f7c-4868-479a-98ce-5caaa8f158c8
                acquisitionTime: 2018-02-17T05:50:51.48Z
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8
                planId: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan
                provisioningState: Succeeded
            "201":
              body:
                acquisitionId: 718c7f7c-4868-479a-98ce-5caaa8f158c8
                acquisitionTime: 2018-02-17T05:50:51.48Z
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8
                planId: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan
                provisioningState: Succeeded
      x-codegen-request-body-name: newAcquiredPlan
      x-openapi-router-controller: openapi_server.controllers.acquired_plans_controller
components:
  parameters:
    PlanAcquisitionIdParameter:
      description: The plan acquisition Identifier
      in: path
      name: planAcquisitionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    TargetSubscriptionIdParameter:
      description: The target subscription ID.
      in: path
      name: targetSubscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    NewAcquiredPlanParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PlanAcquisition'
      description: The new acquired plan.
      required: true
      x-ms-parameter-location: method
      x-body-name: newAcquiredPlan
  schemas:
    PlanAcquisition:
      description: Represents the acquisition of an add-on plan for a subscription.
      example:
        externalReferenceId: externalReferenceId
        acquisitionId: acquisitionId
        planId: planId
        acquisitionTime: 2000-01-23T04:56:07.000+00:00
        id: id
        provisioningState: NotSpecified
      properties:
        acquisitionId:
          description: Acquisition identifier.
          title: acquisitionId
          type: string
        acquisitionTime:
          description: Acquisition time.
          format: date-time
          title: acquisitionTime
          type: string
        externalReferenceId:
          description: External reference identifier.
          title: externalReferenceId
          type: string
        id:
          description: Identifier in the tenant subscription context.
          title: id
          type: string
        planId:
          description: Plan identifier in the tenant subscription context.
          title: planId
          type: string
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
      title: PlanAcquisition
      type: object
    PlanAcquisitionList:
      description: List of acquired plans.
      example:
        value:
        - externalReferenceId: externalReferenceId
          acquisitionId: acquisitionId
          planId: planId
          acquisitionTime: 2000-01-23T04:56:07.000+00:00
          id: id
          provisioningState: NotSpecified
        - externalReferenceId: externalReferenceId
          acquisitionId: acquisitionId
          planId: planId
          acquisitionTime: 2000-01-23T04:56:07.000+00:00
          id: id
          provisioningState: NotSpecified
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          title: nextLink
          type: string
        value:
          description: List of acquired plans.
          items:
            $ref: '#/components/schemas/PlanAcquisition'
          title: value
          type: array
      title: PlanAcquisitionList
      type: object
    ProvisioningState:
      description: "Provisioning state for subscriptions service resources, for example,\
        \ resource provider registration."
      enum:
      - NotSpecified
      - Accepted
      - Failed
      - Succeeded
      title: ProvisioningState
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
        values:
        - description: The provisioning state is not specified.
          name: NotSpecified
          value: NotSpecified
        - description: "The provisioning state is accepted, and indicates provisioning\
            \ is ongoing."
          name: Accepted
          value: Accepted
        - description: "The provisioning state is failed, and indicates the data is\
            \ potentially out-of-sync with third parties."
          name: Failed
          value: Failed
        - description: "The provisioning state is succeeded, and indicates the data\
            \ is in-sync with third-parties."
          name: Succeeded
          value: Succeeded
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
