openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on Group entity in your\
    \ Azure API Management deployment. Groups are used to manage the visibility of\
    \ products to developers. Each API Management service instance comes with the\
    \ following immutable system groups whose membership is automatically managed\
    \ by API Management.  - **Administrators** - Azure subscription administrators\
    \ are members of this group. - **Developers** - Authenticated developer portal\
    \ users fall into this group. - **Guests** - Unauthenticated developer portal\
    \ users are placed into this group. In addition to these system groups, administrators\
    \ can create custom groups or [leverage external groups in associated Azure Active\
    \ Directory tenants](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#how-to-add-an-external-azure-active-directory-group).\
    \ Custom and external groups can be used alongside system groups in giving developers\
    \ visibility and access to API products. For example, you could create one custom\
    \ group for developers affiliated with a specific partner organization and allow\
    \ them access to the APIs from a product containing relevant APIs only. A user\
    \ can be a member of more than one group."
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimgroups.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimgroups
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups
  : get:
      description: Lists a collection of groups defined within a service instance.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/dn776329.aspx
      operationId: Groups_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions                         |
          |-------------|------------------------|---------------------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | type        | eq, ne                 | N/A                                         |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollection'
          description: Lists a collection of Group entities.
      tags:
      - Groups
      x-ms-odata: '#/definitions/GroupContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}
  : delete:
      description: Deletes specific group of the API Management service instance.
      operationId: Groups_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Group Entity. ETag should match the current entity
          state from the header response of the GET request or it should be * for
          unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The group was successfully deleted.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups_Get_default_response'
          description: The specified group cannot be updated because it is a built-in
            group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Groups
      x-accepts:
      - application/json
    get:
      description: Gets the details of the group specified by its identifier.
      operationId: Groups_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupContract'
          description: The response body contains the specified Group entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Groups
      x-accepts:
      - application/json
    patch:
      description: Updates the details of the group specified by its identifier.
      operationId: Groups_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Group Entity. ETag should match the current entity
          state from the header response of the GET request or it should be * for
          unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdateParameters'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The group details were successfully updated.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups_Get_default_response'
          description: The specified group cannot be updated because it is a built-in
            group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Groups
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or Updates a group.
      operationId: Groups_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateParameters'
        description: Create parameters.
        required: true
      responses:
        "201":
          content: {}
          description: Group was created successfully.
        "204":
          content: {}
          description: Group already exists.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Groups
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}/users
  : get:
      description: "Lists a collection of the members of the group, specified by its\
        \ identifier."
      operationId: GroupUsers_ListByGroups
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field            | Supported operators    | Supported functions               |
          |------------------|------------------------|-----------------------------------|
          | id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | firstName        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | lastName         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | email            | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | state            | eq                     | N/A                               |
          | registrationDate | ge, le, eq, ne, gt, lt | N/A                               |
          | note             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupUsers_ListByGroups_200_response'
          description: Lists a collection of user entities associated with the group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - GroupUsers
      x-ms-odata: ./apimusers.json#/definitions/UserContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}/users/{uid}
  : delete:
      description: Remove existing user from existing group.
      operationId: GroupUsers_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The user was successfully removed from the group.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups_Get_default_response'
          description: Attempt was made to delete a user from a built-in group. Built-in
            group membership is managed by the API Management service.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - GroupUsers
      x-accepts:
      - application/json
    put:
      description: Adds a user to the specified group.
      operationId: GroupUsers_Create
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "201":
          content: {}
          description: The user was successfully added to the group.
        "204":
          content: {}
          description: The specified user is already a member of the specified group.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups_Get_default_response'
          description: Attempt was made to add a user to a built-in group. Built-in
            group membership is managed by the system.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - GroupUsers
      x-accepts:
      - application/json
components:
  parameters:
    GroupIdParameter:
      description: Group identifier. Must be unique in the current API Management
        service instance.
      in: path
      name: groupId
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    GroupCollection:
      description: Paged Group list representation.
      example:
        count: 0
        value:
        - builtIn: true
          name: name
          description: description
          externalId: externalId
          id: id
          type: Custom
        - builtIn: true
          name: name
          description: description
          externalId: externalId
          id: id
          type: Custom
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/GroupContract'
          type: array
      type: object
    GroupContract:
      description: Developer group.
      example:
        builtIn: true
        name: name
        description: description
        externalId: externalId
        id: id
        type: Custom
      properties:
        builtIn:
          description: "true if the group is one of the three system groups (Administrators,\
            \ Developers, or Guests); otherwise false."
          readOnly: true
          type: boolean
        description:
          description: Group description. Can contain HTML formatting tags.
          maxLength: 1000
          type: string
        externalId:
          description: "For external groups, this property contains the id of the\
            \ group from the external identity provider, e.g. for Azure Active Directory\
            \ aad://<tenant>.onmicrosoft.com/groups/<group object id>; otherwise the\
            \ value is null."
          readOnly: true
          type: string
        id:
          description: "Uniquely identifies the group within the current API Management\
            \ service instance. The value is a valid relative URL in the format of\
            \ /groups/{groupId} where {groupId} is a group identifier."
          readOnly: true
          type: string
        name:
          description: Group name.
          maxLength: 300
          minLength: 1
          type: string
        type:
          description: Group type.
          enum:
          - Custom
          - System
          - External
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: GroupTypeContract
      required:
      - name
      type: object
    GroupCreateParameters:
      description: Parameters supplied to the Create Group operation.
      example:
        name: name
        description: description
        externalId: externalId
        type: Custom
      properties:
        description:
          description: Group description.
          type: string
        externalId:
          description: "Identifier of the external groups, this property contains\
            \ the id of the group from the external identity provider, e.g. for Azure\
            \ Active Directory aad://<tenant>.onmicrosoft.com/groups/<group object\
            \ id>; otherwise the value is null."
          type: string
        name:
          description: Group name.
          maxLength: 300
          minLength: 1
          type: string
        type:
          description: Group type.
          enum:
          - Custom
          - System
          - External
          type: string
          x-ms-enum:
            modelAsString: false
            name: GroupTypeContract
      required:
      - name
      type: object
    GroupUpdateParameters:
      description: Parameters supplied to the Update Group operation.
      example:
        name: name
        description: description
        externalId: externalId
        type: Custom
      properties:
        description:
          description: Group description.
          type: string
        externalId:
          description: "Identifier of the external groups, this property contains\
            \ the id of the group from the external identity provider, e.g. for Azure\
            \ Active Directory aad://<tenant>.onmicrosoft.com/groups/<group object\
            \ id>; otherwise the value is null."
          type: string
        name:
          description: Group name.
          maxLength: 300
          minLength: 1
          type: string
        type:
          description: Group type.
          enum:
          - Custom
          - System
          - External
          type: string
          x-ms-enum:
            modelAsString: false
            name: GroupTypeContract
      type: object
    Groups_Get_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    Groups_Get_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Groups_Get_default_response_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    GroupUsers_ListByGroups_200_response_value_inner_identities_inner:
      description: User identity details.
      example:
        provider: provider
        id: id
      properties:
        id:
          description: Identifier value within provider.
          type: string
        provider:
          description: Identity provider name.
          type: string
      type: object
    GroupUsers_ListByGroups_200_response_value_inner:
      description: User profile.
      example:
        firstName: firstName
        lastName: lastName
        note: note
        identities:
        - provider: provider
          id: id
        - provider: provider
          id: id
        registrationDate: 2000-01-23T04:56:07.000+00:00
        id: id
        state: Active
        email: email
      properties:
        email:
          description: Email address.
          type: string
        firstName:
          description: First name.
          type: string
        id:
          description: User identifier path.
          type: string
        identities:
          description: Collection of user identities.
          items:
            $ref: '#/components/schemas/GroupUsers_ListByGroups_200_response_value_inner_identities_inner'
          readOnly: true
          type: array
        lastName:
          description: Last name.
          type: string
        note:
          description: Administrator's note about given user.
          type: string
        registrationDate:
          description: |
            Date of user registration. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        state:
          description: User state.
          enum:
          - Active
          - Blocked
          type: string
          x-ms-enum:
            modelAsString: false
            name: UserStateContract
      type: object
    GroupUsers_ListByGroups_200_response:
      description: Paged Users list representation.
      example:
        count: 0
        value:
        - firstName: firstName
          lastName: lastName
          note: note
          identities:
          - provider: provider
            id: id
          - provider: provider
            id: id
          registrationDate: 2000-01-23T04:56:07.000+00:00
          id: id
          state: Active
          email: email
        - firstName: firstName
          lastName: lastName
          note: note
          identities:
          - provider: provider
            id: id
          - provider: provider
            id: id
          registrationDate: 2000-01-23T04:56:07.000+00:00
          id: id
          state: Active
          email: email
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/GroupUsers_ListByGroups_200_response_value_inner'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

