openapi: 3.0.1
info:
  description: Azure Cosmos DB Database Service Resource Provider REST API
  title: Cosmos DB
  version: 2019-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/preview/2019-08-01-preview/privateLinkResources.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: cosmos-db-privateLinkResources
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateLinkResources
  : get:
      description: Gets the private link resources that need to be created for a Cosmos
        DB account.
      operationId: PrivateLinkResources_ListByDatabaseAccount
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
          description: Successfully retrieved private link resources.
      tags:
      - PrivateLinkResources
      x-ms-examples:
        Gets private endpoint connection.:
          parameters:
            accountName: ddb1
            api-version: 2015-04-08
            resourceGroupName: rg1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DocumentDb/databaseAccounts/ddb1/privateLinkResources/sql
                  name: sql
                  properties:
                    groupId: sql
                    requiredMembers:
                    - ddb1
                    - ddb1-westus
                  type: Microsoft.DocumentDB/databaseAccounts/privateLinkResources
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateLinkResources/{groupName}
  : get:
      description: Gets the private link resources that need to be created for a Cosmos
        DB account.
      operationId: PrivateLinkResources_Get
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2019-08-01.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Cosmos DB database account name.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 50
          minLength: 3
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the private link resource.
        in: path
        name: groupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
          description: Successfully retrieved a specified private link resource.
      tags:
      - PrivateLinkResources
      x-ms-examples:
        Gets private endpoint connection.:
          parameters:
            accountName: ddb1
            api-version: 2015-04-08
            groupName: sql
            resourceGroupName: rg1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DocumentDb/databaseAccounts/ddb1/privateLinkResources/sql
                name: sql
                properties:
                  groupId: sql
                  requiredMembers:
                  - ddb1
                  - ddb1-westus
                type: Microsoft.DocumentDB/databaseAccounts/privateLinkResources
      x-accepts:
      - application/json
components:
  parameters:
    GroupNameParameter:
      description: The name of the private link resource.
      in: path
      name: groupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    PrivateLinkResource:
      allOf:
      - description: The resource model definition for a ARM proxy resource. It will
          have everything other than required location and tags
        properties:
          id:
            description: The unique resource identifier of the database account.
            readOnly: true
            type: string
          name:
            description: The name of the database account.
            readOnly: true
            type: string
          type:
            description: The type of Azure resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A private link resource
      example:
        properties:
          requiredMembers:
          - requiredMembers
          - requiredMembers
          groupId: groupId
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
    PrivateLinkResourceListResult:
      description: A list of private link resources
      example:
        value:
        - properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            groupId: groupId
        - properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            groupId: groupId
      properties:
        value:
          description: Array of private link resources
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          type: array
      type: object
    PrivateLinkResourceProperties:
      description: Properties of a private link resource.
      example:
        requiredMembers:
        - requiredMembers
        - requiredMembers
        groupId: groupId
      properties:
        groupId:
          description: The private link resource group id.
          readOnly: true
          type: string
        requiredMembers:
          description: The private link resource required member names.
          items:
            type: string
          readOnly: true
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

