openapi: 3.0.1
info:
  description: Use this API to manage Microsoft HealthcareApis services in your Azure
    subscription.
  title: HealthcareApisClient
  version: 2019-09-16
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/stable/2019-09-16/healthcare-apis.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: healthcareapis-healthcare-apis
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.HealthcareApis/operations:
    get:
      deprecated: false
      description: Lists all of the available Healthcare service REST API operations.
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Proxy
      x-ms-examples:
        List operations:
          parameters:
            api-version: 2019-09-16
          responses:
            "200":
              body:
                value:
                - display: {}
                  name: Microsoft.HealthcareApis/services/read
                  origin: "user,system"
                - display: {}
                  name: Microsoft.HealthcareApis/services/write
                  origin: "user,system"
                - display: {}
                  name: Microsoft.HealthcareApis/services/delete
                  origin: "user,system"
                - display:
                    description: Get the status of an asynchronous operation
                    operation: read
                    provider: Microsoft.HealthcareApis
                    resource: operationresults
                  name: Microsoft.HealthcareApis/locations/operationresults/read
                  origin: "user,system"
                - display: {}
                  name: Microsoft.HealthcareApis/checkNameAvailability/post
                  origin: user
                - display:
                    description: Get the list of operations supported by this Resource
                      Provider.
                    operation: read
                    provider: Microsoft.HealthcareApis
                    resource: operations
                  name: Microsoft.HealthcareApis/Operations/read
                  origin: "user,system"
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.proxy_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/checkNameAvailability:
    post:
      deprecated: false
      description: Check if a service instance name is available.
      operationId: services_check_name_availability
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: Set the name parameter in the CheckNameAvailabilityParameters
          structure to the name of the service instance to check.
        required: true
        x-body-name: checkNameAvailabilityInputs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesNameAvailabilityInfo'
          description: "This is a synchronous operation. The body contains a JSON-serialized\
            \ response that specifies whether the service name is available. If the\
            \ name is not available, the body contains the reason."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Proxy
      x-ms-examples:
        Check name availability:
          parameters:
            api-version: 2019-09-16
            checkNameAvailabilityInputs:
              name: serviceName
              type: Microsoft.HealthcareApis/services
            subscriptionId: subid
          responses:
            "200":
              body:
                message: Service name is not available.
                nameAvailable: false
                reason: AlreadyExists
      x-codegen-request-body-name: checkNameAvailabilityInputs
      x-openapi-router-controller: openapi_server.controllers.proxy_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/locations/{locationName}/operationresults/{operationResultId}
  : get:
      deprecated: false
      description: Get the operation result for a long running operation.
      operationId: operation_results_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The location of the operation.
        in: path
        name: locationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ID of the operation result to get.
        in: path
        name: operationResultId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultsDescription'
          description: The body contains all of the properties of the operation result.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: No operation result was found matching operationResultId.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Default error response
      tags:
      - Resource
      x-ms-examples:
        Get operation result:
          parameters:
            api-version: 2019-09-16
            locationName: westus
            operationResultId: exampleid
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.HealthcareApis/locations/westus/operationresults/exampleid
                name: servicename
                properties: {}
                startTime: 2019-01-21T06:03:30.2716301Z
                status: Requested
            "404":
              body:
                error:
                  code: OperationResultNotFound
                  message: The operation result was not found.
      x-openapi-router-controller: openapi_server.controllers.resource_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/services:
    get:
      deprecated: false
      description: Get all the service instances in a subscription.
      operationId: services_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescriptionListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the service instances in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Collection
      x-ms-examples:
        List all services in subscription:
          parameters:
            api-version: 2019-09-16
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://host/subscriptions/subid/providers/Microsoft.HealthcareApis/services?api-version=2018-08-20-preview&%24skipToken=e30%3d
                value:
                - etag: etag
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1
                  kind: fhir-R4
                  location: West US
                  name: service1
                  properties:
                    accessPolicies:
                    - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                    - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                    authenticationConfiguration:
                      audience: https://azurehealthcareapis.com
                      authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                      smartProxyEnabled: true
                    corsConfiguration:
                      allowCredentials: false
                      headers:
                      - '*'
                      maxAge: 1440
                      methods:
                      - DELETE
                      - GET
                      - OPTIONS
                      - PATCH
                      - POST
                      - PUT
                      origins:
                      - '*'
                    cosmosDbConfiguration:
                      offerThroughput: 1000
                    provisioningState: Creating
                  tags: {}
                  type: Microsoft.HealthcareApis/services
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.collection_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services:
    get:
      deprecated: false
      description: Get all the service instances in a resource group.
      operationId: services_list_by_resource_group
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the service instance.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescriptionListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the service instances in the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Collection
      x-ms-examples:
        List all services in resource group:
          parameters:
            api-version: 2019-09-16
            resourceGroupName: rgname
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://host/subscriptions/subid/resourceGroups/rgname/providers/Microsoft.HealthcareApis/services?api-version=2018-08-20-preview&%24skipToken=e30%3d
                value:
                - etag: etagvalue
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/dddb8dcb-effb-4290-bb47-ce1e8440c729
                  kind: fhir-R4
                  location: westus
                  name: service1
                  properties:
                    accessPolicies:
                    - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                    - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                    authenticationConfiguration:
                      audience: https://azurehealthcareapis.com
                      authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                      smartProxyEnabled: true
                    corsConfiguration:
                      allowCredentials: false
                      headers:
                      - '*'
                      maxAge: 1440
                      methods:
                      - DELETE
                      - GET
                      - OPTIONS
                      - PATCH
                      - POST
                      - PUT
                      origins:
                      - '*'
                    cosmosDbConfiguration:
                      offerThroughput: 1000
                    provisioningState: Creating
                  tags: {}
                  type: Microsoft.HealthcareApis/services
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.collection_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services/{resourceName}:
    delete:
      description: Delete a service instance.
      operationId: services_delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the service instance.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the service instance.
        in: path
        name: resource_name
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "202":
          content: {}
          description: Accepted - Delete request accepted; the operation will complete
            asynchronously.
        "204":
          content: {}
          description: The resource does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Resource
      x-ms-examples:
        Delete service:
          parameters:
            api-version: 2019-09-16
            resourceGroupName: rg1
            resourceName: service1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.resource_controller
    get:
      deprecated: false
      description: Get the metadata of a service instance.
      operationId: services_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the service instance.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the service instance.
        in: path
        name: resourceName
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
          description: The body contains all of the properties of the service instance.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: Default error response
      tags:
      - Resource
      x-ms-examples:
        Get metadata:
          parameters:
            api-version: 2019-09-16
            resourceGroupName: rg1
            resourceName: service1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: etagvalue
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1
                kind: fhir-R4
                location: West US
                name: service1
                properties:
                  accessPolicies:
                  - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                  - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                  authenticationConfiguration:
                    audience: https://azurehealthcareapis.com
                    authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                    smartProxyEnabled: true
                  corsConfiguration:
                    allowCredentials: false
                    headers:
                    - '*'
                    maxAge: 1440
                    methods:
                    - DELETE
                    - GET
                    - OPTIONS
                    - PATCH
                    - POST
                    - PUT
                    origins:
                    - '*'
                  cosmosDbConfiguration:
                    offerThroughput: 1000
                  provisioningState: Creating
                tags: {}
                type: Microsoft.HealthcareApis/services
      x-openapi-router-controller: openapi_server.controllers.resource_controller
    patch:
      deprecated: false
      description: Update the metadata of a service instance.
      operationId: services_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the service instance.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the service instance.
        in: path
        name: resource_name
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicesPatchDescription'
        description: The service instance metadata and security metadata.
        required: true
        x-body-name: servicePatchDescription
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
          description: The tags for the resource were updated successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Resource
      x-ms-examples:
        Patch service:
          parameters:
            api-version: 2019-09-16
            resourceGroupName: rg1
            resourceName: service1
            servicePatchDescription:
              tags:
                tag1: value1
                tag2: value2
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: etagvalue
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1
                kind: fhir-R4
                location: West US
                name: service1
                properties:
                  accessPolicies:
                  - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                  - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                  authenticationConfiguration:
                    audience: https://azurehealthcareapis.com
                    authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                    smartProxyEnabled: true
                  corsConfiguration:
                    allowCredentials: false
                    headers:
                    - '*'
                    maxAge: 1440
                    methods:
                    - DELETE
                    - GET
                    - OPTIONS
                    - PATCH
                    - POST
                    - PUT
                    origins:
                    - '*'
                  cosmosDbConfiguration:
                    offerThroughput: 1000
                  provisioningState: Creating
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.HealthcareApis/services
      x-ms-long-running-operation: true
      x-codegen-request-body-name: servicePatchDescription
      x-openapi-router-controller: openapi_server.controllers.resource_controller
    put:
      deprecated: false
      description: Create or update the metadata of a service instance.
      operationId: services_create_or_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the service instance.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the service instance.
        in: path
        name: resource_name
        required: true
        schema:
          maxLength: 24
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicesDescription'
        description: The service instance metadata.
        required: true
        x-body-name: serviceDescription
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
          description: Updated - Put request accepted and an existing resource is
            being updated; the operation will complete asynchronously.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
          description: Created - Put request accepted and a new resource was created;
            the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Resource
      x-ms-examples:
        Create or Update a service with all parameters:
          parameters:
            api-version: 2019-09-16
            resourceGroupName: rg1
            resourceName: service1
            serviceDescription:
              kind: fhir-R4
              location: westus2
              properties:
                accessPolicies:
                - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                authenticationConfiguration:
                  audience: https://azurehealthcareapis.com
                  authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                  smartProxyEnabled: true
                corsConfiguration:
                  allowCredentials: false
                  headers:
                  - '*'
                  maxAge: 1440
                  methods:
                  - DELETE
                  - GET
                  - OPTIONS
                  - PATCH
                  - POST
                  - PUT
                  origins:
                  - '*'
                cosmosDbConfiguration:
                  offerThroughput: 1000
              tags: {}
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: etagvalue
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1
                kind: fhir-R4
                location: West US 2
                name: service1
                properties:
                  accessPolicies:
                  - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                  - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                  authenticationConfiguration:
                    audience: https://azurehealthcareapis.com
                    authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                    smartProxyEnabled: true
                  corsConfiguration:
                    allowCredentials: false
                    headers:
                    - '*'
                    maxAge: 1440
                    methods:
                    - DELETE
                    - GET
                    - OPTIONS
                    - PATCH
                    - POST
                    - PUT
                    origins:
                    - '*'
                  cosmosDbConfiguration:
                    offerThroughput: 1000
                  provisioningState: Creating
                tags: {}
                type: Microsoft.HealthcareApis/services
            "201":
              body:
                etag: etagvalue
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1
                kind: fhir-R4
                location: West US 2
                name: service1
                properties:
                  accessPolicies:
                  - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                  - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                  authenticationConfiguration:
                    audience: https://azurehealthcareapis.com
                    authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                    smartProxyEnabled: true
                  corsConfiguration:
                    allowCredentials: false
                    headers:
                    - '*'
                    maxAge: 1440
                    methods:
                    - DELETE
                    - GET
                    - OPTIONS
                    - PATCH
                    - POST
                    - PUT
                    origins:
                    - '*'
                  cosmosDbConfiguration:
                    offerThroughput: 1000
                  provisioningState: Creating
                tags: {}
                type: Microsoft.HealthcareApis/services
        Create or Update a service with minimum parameters:
          parameters:
            api-version: 2019-09-16
            resourceGroupName: rg1
            resourceName: service2
            serviceDescription:
              kind: fhir-R4
              location: westus2
              properties:
                accessPolicies:
                - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
              tags: {}
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: etagvalue
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service2
                kind: fhir-R4
                location: westus2
                name: service2
                properties:
                  accessPolicies:
                  - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                  authenticationConfiguration:
                    audience: https://azurehealthcareapis.com
                    authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                    smartProxyEnabled: false
                  corsConfiguration:
                    allowCredentials: false
                    headers: []
                    methods: []
                    origins: []
                  cosmosDbConfiguration:
                    offerThroughput: 1000
                  provisioningState: Creating
                tags: {}
                type: Microsoft.HealthcareApis/services
            "201":
              body:
                etag: etagvalue
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service2
                kind: fhir-R4
                location: westus2
                name: service2
                properties:
                  accessPolicies:
                  - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                  authenticationConfiguration:
                    audience: https://azurehealthcareapis.com
                    authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                    smartProxyEnabled: false
                  corsConfiguration:
                    allowCredentials: false
                    headers: []
                    methods: []
                    origins: []
                  cosmosDbConfiguration:
                    offerThroughput: 1000
                  provisioningState: Creating
                tags: {}
                type: Microsoft.HealthcareApis/services
      x-ms-long-running-operation: true
      x-codegen-request-body-name: serviceDescription
      x-openapi-router-controller: openapi_server.controllers.resource_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    locationName:
      description: The location of the operation.
      in: path
      name: locationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    operationResultId:
      description: The ID of the operation result to get.
      in: path
      name: operationResultId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupName:
      description: The name of the resource group that contains the service instance.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceName:
      description: The name of the service instance.
      in: path
      name: resourceName
      required: true
      schema:
        maxLength: 24
        minLength: 3
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionId:
      description: The subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CheckNameAvailabilityParameters:
      description: Input values.
      example:
        name: name
        type: type
      properties:
        name:
          description: The name of the service instance to check.
          title: name
          type: string
        type:
          description: The fully qualified resource type which includes provider namespace.
          title: type
          type: string
      required:
      - name
      - type
      title: CheckNameAvailabilityParameters
      type: object
    ErrorDetails:
      description: Error details.
      example:
        error:
          code: code
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetailsInternal'
      title: ErrorDetails
      type: object
    ErrorDetailsInternal:
      description: Error details.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: The error code.
          readOnly: true
          title: code
          type: string
        message:
          description: The error message.
          readOnly: true
          title: message
          type: string
        target:
          description: The target of the particular error.
          readOnly: true
          title: target
          type: string
      title: ErrorDetailsInternal
      type: object
    Operation:
      description: Service REST API operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: "Operation name: {provider}/{resource}/{read | write | action\
            \ | delete}"
          readOnly: true
          title: name
          type: string
        origin:
          description: "Default value is 'user,system'."
          readOnly: true
          title: origin
          type: string
      title: Operation
      type: object
    OperationDisplay:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: "Friendly description for the operation,"
          readOnly: true
          title: description
          type: string
        operation:
          description: Name of the operation
          readOnly: true
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft.HealthcareApis"
          readOnly: true
          title: provider
          type: string
        resource:
          description: "Resource Type: Services"
          readOnly: true
          title: resource
          type: string
      title: OperationDisplay
      type: object
    OperationListResult:
      description: A list of service operations. It contains a list of operations
        and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of service description objects.
          title: nextLink
          type: string
        value:
          description: A list of service operations supported by the Microsoft.HealthcareApis
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationListResult
      type: object
    OperationResultsDescription:
      description: The properties indicating the operation result of an operation
        on a service.
      example:
        name: name
        startTime: startTime
        id: id
        properties: "{}"
        status: Canceled
      properties:
        id:
          description: The ID of the operation returned.
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the operation result.
          readOnly: true
          title: name
          type: string
        properties:
          description: Additional properties of the operation result.
          title: properties
          type: object
          x-ms-client-flatten: false
        startTime:
          description: The time that the operation was started.
          readOnly: true
          title: startTime
          type: string
        status:
          description: The status of the operation being performed.
          enum:
          - Canceled
          - Succeeded
          - Failed
          - Requested
          - Running
          readOnly: true
          title: status
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperationResultStatus
      title: OperationResultsDescription
      type: object
    Resource:
      description: The common properties of a service.
      properties:
        etag:
          description: "An etag associated with the resource, used for optimistic\
            \ concurrency when editing it."
          title: etag
          type: string
        id:
          description: The resource identifier.
          readOnly: true
          title: id
          type: string
        kind:
          description: The kind of the service.
          enum:
          - fhir
          - fhir-Stu3
          - fhir-R4
          title: kind
          type: string
          x-ms-enum:
            modelAsString: false
            name: kind
        location:
          description: The resource location.
          title: location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: The resource name.
          pattern: "^[a-z0-9][a-z0-9-]{1,21}[a-z0-9]$"
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          title: tags
          type: object
        type:
          description: The resource type.
          readOnly: true
          title: type
          type: string
      required:
      - kind
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    ServiceAccessPoliciesInfo:
      description: The access policies of the service instance.
      items:
        $ref: '#/components/schemas/ServiceAccessPolicyEntry'
      minItems: 1
      title: ServiceAccessPoliciesInfo
      type: array
    ServiceAccessPolicyEntry:
      description: An access policy entry.
      example:
        objectId: objectId
      properties:
        objectId:
          description: An Azure AD object ID (User or Apps) that is allowed access
            to the FHIR service.
          pattern: "^(([0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}){1})+$"
          title: objectId
          type: string
      required:
      - objectId
      title: ServiceAccessPolicyEntry
      type: object
    ServiceAuthenticationConfigurationInfo:
      description: Authentication configuration information
      example:
        smartProxyEnabled: true
        audience: audience
        authority: authority
      properties:
        audience:
          description: The audience url for the service
          title: audience
          type: string
        authority:
          description: The authority url for the service
          title: authority
          type: string
        smartProxyEnabled:
          description: If the SMART on FHIR proxy is enabled
          title: smartProxyEnabled
          type: boolean
      title: ServiceAuthenticationConfigurationInfo
      type: object
    ServiceCorsConfigurationHeaderEntry:
      description: A header for CORS.
      title: ServiceCorsConfigurationHeaderEntry
      type: string
    ServiceCorsConfigurationInfo:
      description: The settings for the CORS configuration of the service instance.
      example:
        headers:
        - null
        - null
        maxAge: 8008
        methods:
        - null
        - null
        origins:
        - null
        - null
        allowCredentials: true
      properties:
        allowCredentials:
          description: If credentials are allowed via CORS.
          title: allowCredentials
          type: boolean
        headers:
          description: The headers to be allowed via CORS.
          items:
            $ref: '#/components/schemas/ServiceCorsConfigurationHeaderEntry'
          title: headers
          type: array
        maxAge:
          description: The max age to be allowed via CORS.
          maximum: 99999
          minimum: 0
          title: maxAge
          type: integer
        methods:
          description: The methods to be allowed via CORS.
          items:
            $ref: '#/components/schemas/ServiceCorsConfigurationMethodEntry'
          title: methods
          type: array
        origins:
          description: The origins to be allowed via CORS.
          items:
            $ref: '#/components/schemas/ServiceCorsConfigurationOriginEntry'
          title: origins
          type: array
      title: ServiceCorsConfigurationInfo
      type: object
    ServiceCorsConfigurationMethodEntry:
      description: A method for CORS.
      title: ServiceCorsConfigurationMethodEntry
      type: string
    ServiceCorsConfigurationOriginEntry:
      description: An origin for CORS.
      pattern: "^(?:(?:(?:[hH][tT][tT][pP](?:[sS]|))\\:\\/\\/(?:[a-zA-Z0-9-]+[.]?)+(?:\\\
        :[0-9]{1,5})?|[*]))$"
      title: ServiceCorsConfigurationOriginEntry
      type: string
    ServiceCosmosDbConfigurationInfo:
      description: The settings for the Cosmos DB database backing the service.
      example:
        offerThroughput: 6186
      properties:
        offerThroughput:
          description: The provisioned throughput for the backing database.
          maximum: 10000
          minimum: 400
          title: offerThroughput
          type: integer
      title: ServiceCosmosDbConfigurationInfo
      type: object
    ServicesDescription:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The description of the service.
      example:
        properties:
          corsConfiguration:
            headers:
            - null
            - null
            maxAge: 8008
            methods:
            - null
            - null
            origins:
            - null
            - null
            allowCredentials: true
          cosmosDbConfiguration:
            offerThroughput: 6186
          accessPolicies:
          - objectId: objectId
          - objectId: objectId
          provisioningState: Deleting
          authenticationConfiguration:
            smartProxyEnabled: true
            audience: audience
            authority: authority
      properties:
        properties:
          $ref: '#/components/schemas/ServicesProperties'
      title: ServicesDescription
    ServicesDescriptionListResult:
      description: A list of service description objects with a next link.
      example:
        value:
        - properties:
            corsConfiguration:
              headers:
              - null
              - null
              maxAge: 8008
              methods:
              - null
              - null
              origins:
              - null
              - null
              allowCredentials: true
            cosmosDbConfiguration:
              offerThroughput: 6186
            accessPolicies:
            - objectId: objectId
            - objectId: objectId
            provisioningState: Deleting
            authenticationConfiguration:
              smartProxyEnabled: true
              audience: audience
              authority: authority
        - properties:
            corsConfiguration:
              headers:
              - null
              - null
              maxAge: 8008
              methods:
              - null
              - null
              origins:
              - null
              - null
              allowCredentials: true
            cosmosDbConfiguration:
              offerThroughput: 6186
            accessPolicies:
            - objectId: objectId
            - objectId: objectId
            provisioningState: Deleting
            authenticationConfiguration:
              smartProxyEnabled: true
              audience: audience
              authority: authority
        nextLink: nextLink
      properties:
        nextLink:
          description: The link used to get the next page of service description objects.
          title: nextLink
          type: string
        value:
          description: A list of service description objects.
          items:
            $ref: '#/components/schemas/ServicesDescription'
          title: value
          type: array
      title: ServicesDescriptionListResult
      type: object
    ServicesNameAvailabilityInfo:
      description: The properties indicating whether a given service name is available.
      example:
        reason: Invalid
        nameAvailable: true
        message: message
      properties:
        message:
          description: The detailed reason message.
          title: message
          type: string
        nameAvailable:
          description: The value which indicates whether the provided name is available.
          readOnly: true
          title: nameAvailable
          type: boolean
        reason:
          description: The reason for unavailability.
          enum:
          - Invalid
          - AlreadyExists
          readOnly: true
          title: reason
          type: string
          x-ms-enum:
            modelAsString: false
            name: ServiceNameUnavailabilityReason
      title: ServicesNameAvailabilityInfo
      type: object
    ServicesPatchDescription:
      description: The description of the service.
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: Instance tags
          title: tags
          type: object
      title: ServicesPatchDescription
      type: object
    ServicesProperties:
      description: The properties of a service instance.
      example:
        corsConfiguration:
          headers:
          - null
          - null
          maxAge: 8008
          methods:
          - null
          - null
          origins:
          - null
          - null
          allowCredentials: true
        cosmosDbConfiguration:
          offerThroughput: 6186
        accessPolicies:
        - objectId: objectId
        - objectId: objectId
        provisioningState: Deleting
        authenticationConfiguration:
          smartProxyEnabled: true
          audience: audience
          authority: authority
      properties:
        accessPolicies:
          description: The access policies of the service instance.
          items:
            $ref: '#/components/schemas/ServiceAccessPolicyEntry'
          minItems: 1
          title: ServiceAccessPoliciesInfo
          type: array
        authenticationConfiguration:
          $ref: '#/components/schemas/ServiceAuthenticationConfigurationInfo'
        corsConfiguration:
          $ref: '#/components/schemas/ServiceCorsConfigurationInfo'
        cosmosDbConfiguration:
          $ref: '#/components/schemas/ServiceCosmosDbConfigurationInfo'
        provisioningState:
          description: The provisioning state.
          enum:
          - Deleting
          - Succeeded
          - Creating
          - Accepted
          - Verifying
          - Updating
          - Failed
          - Canceled
          - Deprovisioned
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: provisioningState
      required:
      - accessPolicies
      title: ServicesProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
