openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: NBA v3 RotoBaller Premium News
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nba-v3-rotoballer-premium-news.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nba-v3-rotoballer-premium-news
servers:
- url: http://azure-api.sportsdata.io/v3/nba/news-rotoballer
- url: https://azure-api.sportsdata.io/v3/nba/news-rotoballer
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/RotoBallerPremiumNews:
    get:
      operationId: premium_news
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: Premium News
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/RotoBallerPremiumNewsByDate/{date}:
    get:
      operationId: premium_news_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the news.
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: Premium News by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/RotoBallerPremiumNewsByPlayerID/{playerid}:
    get:
      operationId: premium_news_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10000507</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: Premium News by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    News:
      example:
        PlayerID: 6
        OriginalSourceUrl: OriginalSourceUrl
        Updated: Updated
        Categories: Categories
        TermsOfUse: TermsOfUse
        Title: Title
        PlayerID2: 1
        TeamID: 5
        Source: Source
        Url: Url
        NewsID: 0
        TeamID2: 5
        Content: Content
        OriginalSource: OriginalSource
        Author: Author
        Team: Team
        Team2: Team2
        TimeAgo: TimeAgo
      properties:
        Author:
          nullable: true
          title: Author
          type: string
        Categories:
          nullable: true
          title: Categories
          type: string
        Content:
          nullable: true
          title: Content
          type: string
        NewsID:
          nullable: false
          title: NewsID
          type: integer
        OriginalSource:
          nullable: true
          title: OriginalSource
          type: string
        OriginalSourceUrl:
          nullable: true
          title: OriginalSourceUrl
          type: string
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        PlayerID2:
          nullable: true
          title: PlayerID2
          type: integer
        Source:
          nullable: true
          title: Source
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        Team2:
          nullable: true
          title: Team2
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        TeamID2:
          nullable: true
          title: TeamID2
          type: integer
        TermsOfUse:
          nullable: true
          title: TermsOfUse
          type: string
        TimeAgo:
          nullable: true
          title: TimeAgo
          type: string
        Title:
          nullable: true
          title: Title
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
        Url:
          nullable: true
          title: Url
          type: string
      title: News
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyHeader
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyQuery
