openapi: 3.0.1
info:
  description: AzureBridge Admin Client.
  title: AzureBridgeAdminClient
  version: 2016-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/AzureBridge.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-AzureBridge
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.AzureBridge.Admin/operations:
    get:
      description: Returns the list of support REST operations.
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-01-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
      - AzureBridge
      x-ms-examples:
        Returns the list of support REST operations.:
          parameters:
            api-version: 2016-05-01
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.azure_bridge_controller
components:
  parameters:
    ActivationNameParameter:
      description: Name of the activation.
      in: path
      name: activationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2016-01-01
        type: string
    ProductNameParameter:
      description: Name of the product.
      in: path
      name: productName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    RegistrationNameParameter:
      description: Name of the registration.
      in: path
      name: registrationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The resource group the resource is located under.
      in: path
      name: resourceGroup
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Compatibility:
      description: Product compatibility
      properties:
        description:
          description: Full error message if any compatibility issues are found
          type: string
        isCompatible:
          description: Tells if product is compatible with current device
          type: boolean
        issues:
          description: List of all issues found
          items:
            description: Compatibility issue
            enum:
            - HigherDeviceVersionRequired
            - LowerDeviceVersionRequired
            - CapacityBillingModelRequired
            - PayAsYouGoBillingModelRequired
            - DevelopmentBillingModelRequired
            - AzureADIdentitySystemRequired
            - ADFSIdentitySystemRequired
            - ConnectionToInternetRequired
            - ConnectionToAzureRequired
            - DisconnectedEnvironmentRequired
            type: string
            x-ms-enum:
              modelAsString: true
              name: CompatibilityIssue
          type: array
        message:
          description: Short error message if any compatibility issues are found
          type: string
      type: object
    CompatibilityIssue:
      description: Compatibility issue
      enum:
      - HigherDeviceVersionRequired
      - LowerDeviceVersionRequired
      - CapacityBillingModelRequired
      - PayAsYouGoBillingModelRequired
      - DevelopmentBillingModelRequired
      - AzureADIdentitySystemRequired
      - ADFSIdentitySystemRequired
      - ConnectionToInternetRequired
      - ConnectionToAzureRequired
      - DisconnectedEnvironmentRequired
      type: string
      x-ms-enum:
        modelAsString: true
        name: CompatibilityIssue
    ComputeRole:
      description: Compute role type (IaaS or PaaS).
      enum:
      - None
      - IaaS
      - PaaS
      title: ComputeRole
      type: string
      x-ms-enum:
        modelAsString: true
        name: ComputeRole
    DataDiskImage:
      description: Data disk image.
      properties:
        lun:
          description: The LUN.
          format: int32
          readOnly: true
          title: lun
          type: integer
        sourceBlobSasUri:
          description: SAS key for source blob.
          readOnly: true
          title: sourceBlobSasUri
          type: string
      title: DataDiskImage
      type: object
    Display:
      description: Contains the localized display information for this particular
        operation / action.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: "The localized, friendly description for the operation. The\
            \ description will be displayed to the user. It should be thorough and\
            \ concise for used in both tooltips and detailed views."
          readOnly: true
          title: description
          type: string
        operation:
          description: "The localized, friendly name for the operation. Use the name\
            \ as it will displayed to the user."
          readOnly: true
          title: operation
          type: string
        provider:
          description: The localized friendly form of the resource provider name –
            it is expected to also include the publisher/company responsible. It should
            use Title Casing and begin with "Microsoft" for 1st party services. e.g.
            "Microsoft Monitoring Insights" or "Microsoft Compute."
          readOnly: true
          title: provider
          type: string
        resource:
          description: "The localized, friendly version of the resource type related\
            \ to this action or operation; the resource type should match the public\
            \ documentation for the resource provider."
          readOnly: true
          title: resource
          type: string
      title: Display
      type: object
    DownloadedProduct:
      allOf:
      - description: Base object for all product classes.
        properties:
          billingPartNumber:
            description: Billing part number.
            type: string
          compatibility:
            $ref: '#/components/schemas/DownloadedProduct_allOf_compatibility'
          description:
            description: Description of the product.
            type: string
          displayName:
            description: Name displayed for the product.
            type: string
          galleryItemIdentity:
            description: Gallery item identity.
            type: string
          iconUris:
            $ref: '#/components/schemas/DownloadedProduct_allOf_iconUris'
          offer:
            description: Offer name.
            type: string
          offerVersion:
            description: Offer version.
            type: string
          payloadLength:
            description: Size in bytes.
            format: int64
            type: integer
          productKind:
            description: "The kind. E.g. VirtualMachineProductProperties.ProductKind\
              \ or WebApp, SolutionTemplate."
            type: string
          productProperties:
            $ref: '#/components/schemas/DownloadedProduct_allOf_productProperties'
          publisherDisplayName:
            description: Name of publisher.
            type: string
          publisherIdentifier:
            description: Publisher identifier.
            type: string
          sku:
            description: Product SKU.
            type: string
        type: object
      description: Properties for aggregate usage.
      properties:
        galleryPackageBlobSasUri:
          description: The URI to the .azpkg file that provides information required
            for showing product in the gallery.
          readOnly: true
          title: galleryPackageBlobSasUri
          type: string
        legalTerms:
          description: Legal terms for the product.
          title: legalTerms
          type: string
        links:
          description: List of product links.
          items:
            description: Link to a product.
            properties:
              displayName:
                description: Displayed name of product.
                type: string
              uri:
                description: URI to product.
                type: string
            type: object
          title: links
          type: array
        privacyPolicy:
          description: Privacy policy of the product.
          title: privacyPolicy
          type: string
        productDetailsProperties:
          $ref: '#/components/schemas/ExtendedProductProperties'
        provisioningState:
          description: The provisioning state of the resource.
          enum:
          - Stopped
          - Starting
          - Running
          - Stopping
          - Succeeded
          - Downloading
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        vmExtensionType:
          description: Extension type of the VM.
          title: vmExtensionType
          type: string
      title: DownloadedProduct
    DownloadedProductResource:
      allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource
            readOnly: true
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            readOnly: true
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Downloaded product resource.
      properties:
        properties:
          $ref: '#/components/schemas/DownloadedProduct'
    ExtendedProductProperties:
      allOf:
      - $ref: '#/components/schemas/VirtualMachineExtensionProductProperties'
      - $ref: '#/components/schemas/VirtualMachineProductProperties'
      description: Product information.
      title: ExtendedProductProperties
    GalleryIcons:
      description: Icons for the gallery items.
      properties:
        hero:
          description: The hero (815x290) icon relative path.
          type: string
        large:
          description: The large (115x115) icon relative path.
          type: string
        medium:
          description: The medium (90x90) icon relative path.
          type: string
        small:
          description: The small (40x40) icon relative path.
          type: string
        wide:
          description: The wide (255x115) icon relative path.
          type: string
      type: object
    OperatingSystem:
      description: Operating system type (Windows or Linux).
      enum:
      - None
      - Windows
      - Linux
      title: OperatingSystem
      type: string
      x-ms-enum:
        modelAsString: true
        name: OperatingSystem
    Operation:
      description: Describes the supported REST operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Display'
        name:
          description: The name of the operation being performed on this particular
            object. This name should match the name that appears in RBAC or the event
            service.
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationList:
      description: List of Operations
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page of operations.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationList
      type: object
    OsDiskImage:
      description: OS disk image.
      properties:
        operatingSystem:
          $ref: '#/components/schemas/OperatingSystem'
        sourceBlobSasUri:
          description: SAS key for source blob.
          readOnly: true
          title: sourceBlobSasUri
          type: string
      title: OsDiskImage
      type: object
    ProductBase:
      description: Base object for all product classes.
      properties:
        billingPartNumber:
          description: Billing part number.
          type: string
        compatibility:
          $ref: '#/components/schemas/DownloadedProduct_allOf_compatibility'
        description:
          description: Description of the product.
          type: string
        displayName:
          description: Name displayed for the product.
          type: string
        galleryItemIdentity:
          description: Gallery item identity.
          type: string
        iconUris:
          $ref: '#/components/schemas/DownloadedProduct_allOf_iconUris'
        offer:
          description: Offer name.
          type: string
        offerVersion:
          description: Offer version.
          type: string
        payloadLength:
          description: Size in bytes.
          format: int64
          type: integer
        productKind:
          description: "The kind. E.g. VirtualMachineProductProperties.ProductKind\
            \ or WebApp, SolutionTemplate."
          type: string
        productProperties:
          $ref: '#/components/schemas/DownloadedProduct_allOf_productProperties'
        publisherDisplayName:
          description: Name of publisher.
          type: string
        publisherIdentifier:
          description: Publisher identifier.
          type: string
        sku:
          description: Product SKU.
          type: string
      type: object
    ProductLink:
      description: Link to a product.
      properties:
        displayName:
          description: Displayed name of product.
          type: string
        uri:
          description: URI to product.
          type: string
      type: object
    ProductLinks:
      description: List of product links.
      items:
        $ref: '#/components/schemas/ProductLinks_inner'
      type: array
    ProductProperties:
      description: Additional properties of the product
      properties:
        version:
          description: The version of the product
          type: string
      type: object
    ProvisioningState:
      description: The provisioning state of the resource.
      enum:
      - Stopped
      - Starting
      - Running
      - Stopping
      - Succeeded
      - Downloading
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    Resource:
      description: Base Resource Object
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Location of the resource
          readOnly: true
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key value pairs.
          readOnly: true
          type: object
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    Uri:
      description: The URI.
      properties:
        uri:
          description: The URI.
          readOnly: true
          title: uri
          type: string
      title: Uri
      type: object
    VirtualMachineExtensionProductProperties:
      description: Product information.
      properties:
        computeRole:
          $ref: '#/components/schemas/ComputeRole'
        isSystemExtension:
          description: Specifies if product is a Virtual Machine Extension.
          readOnly: true
          title: isSystemExtension
          type: boolean
        sourceBlob:
          $ref: '#/components/schemas/Uri'
        supportMultipleExtensions:
          description: Indicates if specified product supports multiple extensions.
          readOnly: true
          title: supportMultipleExtensions
          type: boolean
        version:
          description: Specifies product version.
          readOnly: true
          title: version
          type: string
        vmOsType:
          $ref: '#/components/schemas/OperatingSystem'
        vmScaleSetEnabled:
          description: Indicates if virtual machine Scale Set is enabled in the specified
            product.
          readOnly: true
          title: vmScaleSetEnabled
          type: boolean
      title: VirtualMachineExtensionProductProperties
      type: object
    VirtualMachineProductProperties:
      description: Product information.
      properties:
        dataDiskImages:
          description: List of attached data disks.
          items:
            $ref: '#/components/schemas/DataDiskImage'
          readOnly: true
          title: dataDiskImages
          type: array
        osDiskImage:
          $ref: '#/components/schemas/OsDiskImage'
        version:
          description: Specifies product version.
          readOnly: true
          title: version
          type: string
      title: VirtualMachineProductProperties
      type: object
    DownloadedProduct_allOf_compatibility:
      description: Product compatibility
      properties:
        description:
          description: Full error message if any compatibility issues are found
          title: description
          type: string
        isCompatible:
          description: Tells if product is compatible with current device
          title: isCompatible
          type: boolean
        issues:
          description: List of all issues found
          items:
            description: Compatibility issue
            enum:
            - HigherDeviceVersionRequired
            - LowerDeviceVersionRequired
            - CapacityBillingModelRequired
            - PayAsYouGoBillingModelRequired
            - DevelopmentBillingModelRequired
            - AzureADIdentitySystemRequired
            - ADFSIdentitySystemRequired
            - ConnectionToInternetRequired
            - ConnectionToAzureRequired
            - DisconnectedEnvironmentRequired
            type: string
            x-ms-enum:
              modelAsString: true
              name: CompatibilityIssue
          title: issues
          type: array
        message:
          description: Short error message if any compatibility issues are found
          title: message
          type: string
      title: DownloadedProduct_allOf_compatibility
      type: object
    DownloadedProduct_allOf_iconUris:
      description: Icons for the gallery items.
      properties:
        hero:
          description: The hero (815x290) icon relative path.
          title: hero
          type: string
        large:
          description: The large (115x115) icon relative path.
          title: large
          type: string
        medium:
          description: The medium (90x90) icon relative path.
          title: medium
          type: string
        small:
          description: The small (40x40) icon relative path.
          title: small
          type: string
        wide:
          description: The wide (255x115) icon relative path.
          title: wide
          type: string
      title: DownloadedProduct_allOf_iconUris
      type: object
    DownloadedProduct_allOf_productProperties:
      description: Additional properties of the product
      properties:
        version:
          description: The version of the product
          title: version
          type: string
      title: DownloadedProduct_allOf_productProperties
      type: object
    ProductLinks_inner:
      description: Link to a product.
      properties:
        displayName:
          description: Displayed name of product.
          type: string
        uri:
          description: URI to product.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
