openapi: 3.0.1
info:
  title: Domains API Client
  version: 2018-02-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.DomainRegistration/stable/2018-02-01/Domains.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: web-Domains
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/checkDomainAvailability:
    post:
      description: Check if a domain is available for registration.
      operationId: domains_check_availability
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domains_CheckAvailability_request'
        description: Name of the domain.
        required: true
        x-body-name: identifier
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Check if a domain is available for registration.
      tags:
      - Domains
      x-codegen-request-body-name: identifier
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/domains:
    get:
      description: Get all domains in a subscription.
      operationId: domains_list
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Get all domains in a subscription.
      tags:
      - Domains
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/generateSsoRequest:
    post:
      description: Generate a single sign-on request for the domain management portal.
      operationId: domains_get_control_center_sso_request
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Generate a single sign-on request for the domain management portal.
      tags:
      - Domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/listDomainRecommendations:
    post:
      description: Get domain name recommendations based on keywords.
      operationId: domains_list_recommendations
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
        description: Search parameters for domain name recommendations.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameIdentifierCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Get domain name recommendations based on keywords.
      tags:
      - Domains
      x-ms-pageable:
        nextLinkName: nextLink
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains:
    get:
      description: Get all domains in a resource group.
      operationId: domains_list_by_resource_group
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Get all domains in a resource group.
      tags:
      - Domains
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}:
    delete:
      description: Delete a domain.
      operationId: domains_delete
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Specify <code>true</code> to delete the domain immediately. The
          default is <code>false</code> which deletes the domain after 24 hours.
        in: query
        name: forceHardDeleteDomain
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted domain.
        "204":
          content: {}
          description: Domain does not exist in Azure database probably because it
            has already been deleted
      summary: Delete a domain.
      tags:
      - Domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    get:
      description: Get a domain.
      operationId: domains_get
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Get a domain.
      tags:
      - Domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    patch:
      description: Creates or updates a domain.
      operationId: domains_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          pattern: "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainPatchResource'
        description: Domain registration information.
        required: true
        x-body-name: domain
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase was successful.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Creates or updates a domain.
      tags:
      - Domains
      x-codegen-request-body-name: domain
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    put:
      description: Creates or updates a domain.
      operationId: domains_create_or_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          pattern: "[a-zA-Z0-9][a-zA-Z0-9\\.-]+"
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
        description: Domain registration information.
        required: true
        x-body-name: domain
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase was successful.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase is in progress.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Creates or updates a domain.
      tags:
      - Domains
      x-ms-long-running-operation: true
      x-codegen-request-body-name: domain
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers
  : get:
      description: Lists domain ownership identifiers.
      operationId: domains_list_ownership_identifiers
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifierCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Lists domain ownership identifiers.
      tags:
      - Domains
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers/{name}
  : delete:
      description: Delete ownership identifier for domain
      operationId: domains_delete_ownership_identifier
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Name of identifier.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted domain ownership identifier.
        "204":
          content: {}
          description: Domain ownership identifier does not exist.
      summary: Delete ownership identifier for domain
      tags:
      - Domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    get:
      description: Get ownership identifier for domain
      operationId: domains_get_ownership_identifier
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Name of identifier.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Get ownership identifier for domain
      tags:
      - Domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    patch:
      description: Creates an ownership identifier for a domain or updates identifier
        details for an existing identifer
      operationId: domains_update_ownership_identifier
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Name of identifier.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainOwnershipIdentifier'
        description: A JSON representation of the domain ownership properties.
        required: true
        x-body-name: domainOwnershipIdentifier
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Creates an ownership identifier for a domain or updates identifier
        details for an existing identifer
      tags:
      - Domains
      x-codegen-request-body-name: domainOwnershipIdentifier
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    put:
      description: Creates an ownership identifier for a domain or updates identifier
        details for an existing identifer
      operationId: domains_create_or_update_ownership_identifier
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Name of identifier.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainOwnershipIdentifier'
        description: A JSON representation of the domain ownership properties.
        required: true
        x-body-name: domainOwnershipIdentifier
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domains_CheckAvailability_default_response'
          description: App Service error response.
      summary: Creates an ownership identifier for a domain or updates identifier
        details for an existing identifer
      tags:
      - Domains
      x-codegen-request-body-name: domainOwnershipIdentifier
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/renew
  : post:
      description: Renew a domain.
      operationId: domains_renew
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the domain.
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Domain renewal was successful.
        "202":
          content: {}
          description: Domain renewal in progress.
        "204":
          content: {}
          description: Domain does not exist.
        "400":
          content: {}
          description: Malformed domain renewal request.
        "500":
          content: {}
          description: Domain renewal request failed.
      summary: Renew a domain.
      tags:
      - Domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Address:
      description: Address information for domain registration.
      properties:
        address1:
          description: First line of an Address.
          title: address1
          type: string
        address2:
          description: The second line of the Address. Optional.
          title: address2
          type: string
        city:
          description: The city for the address.
          title: city
          type: string
        country:
          description: The country for the address.
          title: country
          type: string
        postalCode:
          description: The postal code for the address.
          title: postalCode
          type: string
        state:
          description: The state or province for the address.
          title: state
          type: string
      required:
      - address1
      - city
      - country
      - postalCode
      - state
      title: Address
      type: object
    Contact:
      description: "Contact information for domain registration. If 'Domain Privacy'\
        \ option is not selected then the contact information is made publicly available\
        \ through the Whois \ndirectories as per ICANN requirements."
      properties:
        addressMailing:
          $ref: '#/components/schemas/Address'
        email:
          description: Email address.
          title: email
          type: string
        fax:
          description: Fax number.
          title: fax
          type: string
        jobTitle:
          description: Job title.
          title: jobTitle
          type: string
        nameFirst:
          description: First name.
          title: nameFirst
          type: string
        nameLast:
          description: Last name.
          title: nameLast
          type: string
        nameMiddle:
          description: Middle name.
          title: nameMiddle
          type: string
        organization:
          description: Organization contact belongs to.
          title: organization
          type: string
        phone:
          description: Phone number.
          title: phone
          type: string
      required:
      - email
      - nameFirst
      - nameLast
      - phone
      title: Contact
      type: object
    Domain:
      allOf:
      - description: Azure resource. This resource is tracked in Azure Resource Manager
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          location:
            description: Resource Location.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        required:
        - location
        type: object
        x-ms-azure-resource: true
      description: Information about a domain.
      example:
        properties: "{}"
      properties:
        properties:
          description: Domain resource specific properties
          properties:
            authCode:
              title: authCode
              type: string
              x-ms-mutability:
              - create
              - read
            autoRenew:
              default: true
              description: "<code>true</code> if the domain should be automatically\
                \ renewed; otherwise, <code>false</code>."
              title: autoRenew
              type: boolean
            consent:
              $ref: '#/components/schemas/DomainPurchaseConsent'
            contactAdmin:
              $ref: '#/components/schemas/Contact'
            contactBilling:
              $ref: '#/components/schemas/Contact'
            contactRegistrant:
              $ref: '#/components/schemas/Contact'
            contactTech:
              $ref: '#/components/schemas/Contact'
            createdTime:
              description: Domain creation timestamp.
              format: date-time
              readOnly: true
              title: createdTime
              type: string
            dnsType:
              description: Current DNS type
              enum:
              - AzureDns
              - DefaultDomainRegistrarDns
              title: dnsType
              type: string
              x-ms-enum:
                modelAsString: false
                name: DnsType
            dnsZoneId:
              description: Azure DNS Zone to use
              title: dnsZoneId
              type: string
            domainNotRenewableReasons:
              description: Reasons why domain is not renewable.
              items:
                enum:
                - RegistrationStatusNotSupportedForRenewal
                - ExpirationNotInRenewalTimeRange
                - SubscriptionNotActive
                type: string
              readOnly: true
              title: domainNotRenewableReasons
              type: array
            expirationTime:
              description: Domain expiration timestamp.
              format: date-time
              readOnly: true
              title: expirationTime
              type: string
            lastRenewedTime:
              description: Timestamp when the domain was renewed last time.
              format: date-time
              readOnly: true
              title: lastRenewedTime
              type: string
            managedHostNames:
              description: All hostnames derived from the domain and assigned to Azure
                resources.
              items:
                $ref: '#/components/schemas/HostName'
              readOnly: true
              title: managedHostNames
              type: array
            nameServers:
              description: Name servers.
              items:
                type: string
              readOnly: true
              title: nameServers
              type: array
            privacy:
              description: "<code>true</code> if domain privacy is enabled for this\
                \ domain; otherwise, <code>false</code>."
              title: privacy
              type: boolean
            provisioningState:
              description: Domain provisioning state.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              readOnly: true
              title: provisioningState
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            readyForDnsRecordManagement:
              description: "<code>true</code> if Azure can assign this domain to App\
                \ Service apps; otherwise, <code>false</code>. This value will be\
                \ <code>true</code> if domain registration status is active and \n\
                \ it is hosted on name servers Azure has programmatic access to."
              readOnly: true
              title: readyForDnsRecordManagement
              type: boolean
            registrationStatus:
              description: Domain registration status.
              enum:
              - Active
              - Awaiting
              - Cancelled
              - Confiscated
              - Disabled
              - Excluded
              - Expired
              - Failed
              - Held
              - Locked
              - Parked
              - Pending
              - Reserved
              - Reverted
              - Suspended
              - Transferred
              - Unknown
              - Unlocked
              - Unparked
              - Updated
              - JsonConverterFailed
              readOnly: true
              title: registrationStatus
              type: string
              x-ms-enum:
                modelAsString: false
                name: DomainStatus
            targetDnsType:
              description: Target DNS type (would be used for migration)
              enum:
              - AzureDns
              - DefaultDomainRegistrarDns
              title: targetDnsType
              type: string
              x-ms-enum:
                modelAsString: false
                name: DnsType
          required:
          - consent
          - contactAdmin
          - contactBilling
          - contactRegistrant
          - contactTech
          title: properties
          type: object
          x-ms-client-flatten: true
      title: Domain
    DomainAvailablilityCheckResult:
      description: Domain availability check result.
      example:
        domainType: Regular
        available: true
        name: name
      properties:
        available:
          description: "<code>true</code> if domain can be purchased using CreateDomain\
            \ API; otherwise, <code>false</code>."
          title: available
          type: boolean
        domainType:
          description: "Valid values are Regular domain: Azure will charge the full\
            \ price of domain registration, SoftDeleted: Purchasing this domain will\
            \ simply restore it and this operation will not cost anything."
          enum:
          - Regular
          - SoftDeleted
          title: domainType
          type: string
          x-ms-enum:
            modelAsString: false
            name: DomainType
        name:
          description: Name of the domain.
          title: name
          type: string
      title: DomainAvailablilityCheckResult
      type: object
    DomainCollection:
      description: Collection of domains.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/Domain'
          title: value
          type: array
      required:
      - value
      title: DomainCollection
      type: object
    DomainControlCenterSsoRequest:
      description: Single sign-on request information for domain management.
      example:
        postParameterValue: postParameterValue
        postParameterKey: postParameterKey
        url: url
      properties:
        postParameterKey:
          description: Post parameter key.
          readOnly: true
          title: postParameterKey
          type: string
        postParameterValue:
          description: Post parameter value. Client should use 'application/x-www-form-urlencoded'
            encoding for this value.
          readOnly: true
          title: postParameterValue
          type: string
        url:
          description: URL where the single sign-on request is to be made.
          readOnly: true
          title: url
          type: string
      title: DomainControlCenterSsoRequest
      type: object
    DomainOwnershipIdentifier:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Domain ownership Identifier.
      example:
        properties: "{}"
      properties:
        properties:
          description: DomainOwnershipIdentifier resource specific properties
          properties:
            ownershipId:
              description: Ownership Id.
              title: ownershipId
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: DomainOwnershipIdentifier
    DomainOwnershipIdentifierCollection:
      description: Collection of domain ownership identifiers.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/DomainOwnershipIdentifier'
          title: value
          type: array
      required:
      - value
      title: DomainOwnershipIdentifierCollection
      type: object
    DomainPatchResource:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: ARM resource for a domain.
      example:
        properties: "{}"
      properties:
        properties:
          description: DomainPatchResource resource specific properties
          properties:
            authCode:
              title: authCode
              type: string
              x-ms-mutability:
              - create
              - read
            autoRenew:
              default: true
              description: "<code>true</code> if the domain should be automatically\
                \ renewed; otherwise, <code>false</code>."
              title: autoRenew
              type: boolean
            consent:
              $ref: '#/components/schemas/DomainPurchaseConsent'
            contactAdmin:
              $ref: '#/components/schemas/Contact'
            contactBilling:
              $ref: '#/components/schemas/Contact'
            contactRegistrant:
              $ref: '#/components/schemas/Contact'
            contactTech:
              $ref: '#/components/schemas/Contact'
            createdTime:
              description: Domain creation timestamp.
              format: date-time
              readOnly: true
              title: createdTime
              type: string
            dnsType:
              description: Current DNS type
              enum:
              - AzureDns
              - DefaultDomainRegistrarDns
              title: dnsType
              type: string
              x-ms-enum:
                modelAsString: false
                name: DnsType
            dnsZoneId:
              description: Azure DNS Zone to use
              title: dnsZoneId
              type: string
            domainNotRenewableReasons:
              description: Reasons why domain is not renewable.
              items:
                enum:
                - RegistrationStatusNotSupportedForRenewal
                - ExpirationNotInRenewalTimeRange
                - SubscriptionNotActive
                type: string
              readOnly: true
              title: domainNotRenewableReasons
              type: array
            expirationTime:
              description: Domain expiration timestamp.
              format: date-time
              readOnly: true
              title: expirationTime
              type: string
            lastRenewedTime:
              description: Timestamp when the domain was renewed last time.
              format: date-time
              readOnly: true
              title: lastRenewedTime
              type: string
            managedHostNames:
              description: All hostnames derived from the domain and assigned to Azure
                resources.
              items:
                $ref: '#/components/schemas/HostName'
              readOnly: true
              title: managedHostNames
              type: array
            nameServers:
              description: Name servers.
              items:
                type: string
              readOnly: true
              title: nameServers
              type: array
            privacy:
              description: "<code>true</code> if domain privacy is enabled for this\
                \ domain; otherwise, <code>false</code>."
              title: privacy
              type: boolean
            provisioningState:
              description: Domain provisioning state.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              readOnly: true
              title: provisioningState
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            readyForDnsRecordManagement:
              description: "<code>true</code> if Azure can assign this domain to App\
                \ Service apps; otherwise, <code>false</code>. This value will be\
                \ <code>true</code> if domain registration status is active and \n\
                \ it is hosted on name servers Azure has programmatic access to."
              readOnly: true
              title: readyForDnsRecordManagement
              type: boolean
            registrationStatus:
              description: Domain registration status.
              enum:
              - Active
              - Awaiting
              - Cancelled
              - Confiscated
              - Disabled
              - Excluded
              - Expired
              - Failed
              - Held
              - Locked
              - Parked
              - Pending
              - Reserved
              - Reverted
              - Suspended
              - Transferred
              - Unknown
              - Unlocked
              - Unparked
              - Updated
              - JsonConverterFailed
              readOnly: true
              title: registrationStatus
              type: string
              x-ms-enum:
                modelAsString: false
                name: DomainStatus
            targetDnsType:
              description: Target DNS type (would be used for migration)
              enum:
              - AzureDns
              - DefaultDomainRegistrarDns
              title: targetDnsType
              type: string
              x-ms-enum:
                modelAsString: false
                name: DnsType
          required:
          - consent
          - contactAdmin
          - contactBilling
          - contactRegistrant
          - contactTech
          title: properties
          type: object
          x-ms-client-flatten: true
      title: DomainPatchResource
    DomainPurchaseConsent:
      description: "Domain purchase consent object, representing acceptance of applicable\
        \ legal agreements."
      properties:
        agreedAt:
          description: Timestamp when the agreements were accepted.
          format: date-time
          title: agreedAt
          type: string
        agreedBy:
          description: Client IP address.
          title: agreedBy
          type: string
        agreementKeys:
          description: List of applicable legal agreement keys. This list can be retrieved
            using ListLegalAgreements API under <code>TopLevelDomain</code> resource.
          items:
            type: string
          title: agreementKeys
          type: array
      title: DomainPurchaseConsent
      type: object
    DomainRecommendationSearchParameters:
      description: Domain recommendation search parameters.
      example:
        keywords: keywords
        maxDomainRecommendations: 0
      properties:
        keywords:
          description: Keywords to be used for generating domain recommendations.
          title: keywords
          type: string
        maxDomainRecommendations:
          description: Maximum number of recommendations.
          format: int32
          title: maxDomainRecommendations
          type: integer
      title: DomainRecommendationSearchParameters
      type: object
    HostName:
      description: Details of a hostname derived from a domain.
      properties:
        azureResourceName:
          description: Name of the Azure resource the hostname is assigned to. If
            it is assigned to a Traffic Manager then it will be the Traffic Manager
            name otherwise it will be the app name.
          title: azureResourceName
          type: string
        azureResourceType:
          description: Type of the Azure resource the hostname is assigned to.
          enum:
          - Website
          - TrafficManager
          title: azureResourceType
          type: string
          x-ms-enum:
            modelAsString: false
            name: AzureResourceType
        customHostNameDnsRecordType:
          description: Type of the DNS record.
          enum:
          - CName
          - A
          title: customHostNameDnsRecordType
          type: string
          x-ms-enum:
            modelAsString: false
            name: CustomHostNameDnsRecordType
        hostNameType:
          description: Type of the hostname.
          enum:
          - Verified
          - Managed
          title: hostNameType
          type: string
          x-ms-enum:
            modelAsString: false
            name: HostNameType
        name:
          description: Name of the hostname.
          title: name
          type: string
        siteNames:
          description: List of apps the hostname is assigned to. This list will have
            more than one app only if the hostname is pointing to a Traffic Manager.
          items:
            type: string
          title: siteNames
          type: array
      title: HostName
      type: object
    NameIdentifierCollection:
      description: Collection of domain name identifiers.
      example:
        value:
        - name: name
        - name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/Domains_CheckAvailability_request'
          title: value
          type: array
      required:
      - value
      title: NameIdentifierCollection
      type: object
    Domains_CheckAvailability_request:
      description: Identifies an object.
      example:
        name: name
      properties:
        name:
          description: Name of the object.
          title: name
          type: string
      title: Domains_CheckAvailability_request
      type: object
    Domains_CheckAvailability_default_response_error_details_inner:
      description: Detailed errors.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: Domains_CheckAvailability_default_response_error_details_inner
      type: object
    Domains_CheckAvailability_default_response_error:
      description: Error model.
      example:
        code: code
        innererror: innererror
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        details:
          items:
            $ref: '#/components/schemas/Domains_CheckAvailability_default_response_error_details_inner'
          title: details
          type: array
        innererror:
          description: More information to debug error.
          readOnly: true
          title: innererror
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: Domains_CheckAvailability_default_response_error
      type: object
    Domains_CheckAvailability_default_response:
      description: App Service error response.
      example:
        error:
          code: code
          innererror: innererror
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/Domains_CheckAvailability_default_response_error'
      title: Domains_CheckAvailability_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
