openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/serviceEndpointPolicy.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-serviceEndpointPolicy
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/ServiceEndpointPolicies:
    get:
      description: Gets all the service endpoint policies in a subscription.
      operationId: ServiceEndpointPolicies_List
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEndpointPolicyListResult'
          description: Request successful. The operation returns a list of ServiceEndpointPolicy
            resources.
      tags:
      - ServiceEndpointPolicies
      x-ms-examples:
        List all service endpoint policy:
          parameters:
            api-version: 2018-07-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testPolicy
                  location: westus
                  name: testPolicy
                  properties:
                    serviceEndpointPolicyDefinitions:
                    - name: StorageServiceEndpointPolicyDefinition1
                      properties:
                        description: Storage Service EndpointPolicy Definition
                        service: Microsoft.Storage
                        serviceResources:
                        - /subscriptions/subid1
                        - /subscriptions/subid1/resourceGroups/storageRg
                        - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                  type: Microsoft.Network/serviceEndpointPolicies
                - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/serviceEndpointPolicies/testPolicy2
                  location: westus
                  name: testPolicy1
                  properties:
                    serviceEndpointPolicyDefinitions:
                    - name: StorageServiceEndpointPolicyDefinition2
                      properties:
                        description: Storage Service EndpointPolicy Definition
                        service: Microsoft.Storage
                        serviceResources:
                        - /subscriptions/subid1
                        - /subscriptions/subid1/resourceGroups/storageRg
                        - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                  type: Microsoft.Network/serviceEndpointPolicies
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceEndpointPolicies:
    get:
      description: Gets all service endpoint Policies in a resource group.
      operationId: serviceEndpointPolicies_ListByResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEndpointPolicyListResult'
          description: Request successful. The operation returns a list of ServiceEndpointPolicy
            resources.
      tags:
      - serviceEndpointPolicies
      x-ms-examples:
        List resource group service endpoint policies:
          parameters:
            api-version: 2018-07-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testServiceEndpointPolicy
                  location: westus
                  name: testServiceEndpointPolicy
                  properties:
                    serviceEndpointPolicyDefinitions:
                    - name: StorageServiceEndpointPolicyDefinition
                      properties:
                        description: Storage Service EndpointPolicy Definition
                        service: Microsoft.Storage
                        serviceResources:
                        - /subscriptions/subid1
                        - /subscriptions/subid1resourceGroups/storageRg
                        - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testServiceEndpointPolicy1
                  location: westus
                  name: testServiceEndpointPolicy1
                  properties:
                    serviceEndpointPolicyDefinitions:
                    - name: StorageServiceEndpointPolicyDefinition1
                      properties:
                        description: Storage Service EndpointPolicy Definition
                        service: Microsoft.Storage
                        serviceResources:
                        - /subscriptions/subid1
                        - /subscriptions/subid1/resourceGroups/storageRg
                        - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceEndpointPolicies/{serviceEndpointPolicyName}
  : delete:
      description: Deletes the specified service endpoint policy.
      operationId: ServiceEndpointPolicies_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the service endpoint policy.
        in: path
        name: serviceEndpointPolicyName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource does not exist.
      tags:
      - ServiceEndpointPolicies
      x-ms-examples:
        Delete service endpoint Policy:
          parameters:
            api-version: 2018-07-01
            resourceGroupName: rg1
            serviceEndpointPolicyName: serviceEndpointPolicy1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the specified service Endpoint Policies in a specified resource
        group.
      operationId: ServiceEndpointPolicies_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the service endpoint policy.
        in: path
        name: serviceEndpointPolicyName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands referenced resources.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEndpointPolicy'
          description: Request successful. The operation returns the resulting ServiceEndpointPolicy
            resource.
      tags:
      - ServiceEndpointPolicies
      x-ms-examples:
        Get service endPoint Policy:
          parameters:
            api-version: 2018-07-01
            resourceGroupName: rg1
            serviceEndpointPolicyName: testServiceEndpointPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testServiceEndpointPolicy
                location: westus
                name: testServiceEndpointPolicy
                properties:
                  serviceEndpointPolicyDefinitions:
                  - name: StorageServiceEndpointPolicyDefinition
                    properties:
                      description: Storage Service EndpointPolicy Definition
                      service: Microsoft.Storage
                      serviceResources:
                      - /subscriptions/subid1
                      - /subscriptions/subid1/resourceGroups/storageRg
                      - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                type: Microsoft.Network/serviceEndpointPolicies
      x-accepts:
      - application/json
    patch:
      description: Updates service Endpoint Policies.
      operationId: ServiceEndpointPolicies_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the service endpoint policy.
        in: path
        name: serviceEndpointPolicyName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceEndpointPolicies_Update_request'
        description: Parameters supplied to update service endpoint policy tags.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEndpointPolicy'
          description: Update successful. The operation returns the resulting ServiceEndpointPolicy
            resource.
      tags:
      - ServiceEndpointPolicies
      x-ms-examples: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a service Endpoint Policies.
      operationId: ServiceEndpointPolicies_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the service endpoint policy.
        in: path
        name: serviceEndpointPolicyName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceEndpointPolicy'
        description: Parameters supplied to the create or update service endpoint
          policy operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEndpointPolicy'
          description: Update successful. The operation returns the resulting ServiceEndpointPolicy
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEndpointPolicy'
          description: Create successful. The operation returns the resulting ServiceEndpointPolicy
            resource.
      tags:
      - ServiceEndpointPolicies
      x-ms-examples:
        Create service endpoint policy:
          parameters:
            api-version: 2018-07-01
            parameters: {}
            resourceGroupName: rg1
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/ServiceEndpointPolicies/testpolicy
                location: westus
                name: testnsg
                properties:
                  serviceEndpointPolicyDefinitions: []
                type: Microsoft.Network/ServiceEndpointPolicies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testpolicy
                location: westus
                name: testnsg
                properties:
                  serviceEndpointPolicyDefinitions: []
                type: Microsoft.Network/ServiceEndpointPolicies
        Create service endpoint policy with definition:
          parameters:
            api-version: 2018-07-01
            parameters:
              properties:
                serviceEndpointPolicyDefinitions:
                - name: StorageServiceEndpointPolicyDefinition
                  properties:
                    description: Storage Service EndpointPolicy Definition
                    service: Microsoft.Storage
                    serviceResources:
                    - /subscriptions/subid1
                    - /subscriptions/subid1/resourceGroups/storageRg
                    - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
            resourceGroupName: rg1
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/ServiceEndpointPolicies/testpolicy
                location: westus
                name: testnsg
                properties:
                  serviceEndpointPolicyDefinitions:
                  - name: StorageServiceEndpointPolicyDefinition
                    properties:
                      description: Storage Service EndpointPolicy Definition
                      service: Microsoft.Storage
                      serviceResources:
                      - /subscriptions/subid1
                      - /subscriptions/subid1/resourceGroups/storageRg
                      - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                type: Microsoft.Network/ServiceEndpointPolicies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/ServiceEndpointPolicies/testpolicy
                location: westus
                name: testnsg
                properties:
                  serviceEndpointPolicyDefinitions:
                  - name: StorageServiceEndpointPolicyDefinition
                    properties:
                      description: Storage Service EndpointPolicy Definition
                      service: Microsoft.Storage
                      serviceResources:
                      - /subscriptions/subid1
                      - /subscriptions/subid1/resourceGroups/storageRg
                      - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                type: Microsoft.Network/ServiceEndpointPolicies
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceEndpointPolicies/{serviceEndpointPolicyName}/serviceEndpointPolicyDefinitions
  : get:
      description: Gets all service endpoint policy definitions in a service end point
        policy.
      operationId: ServiceEndpointPolicyDefinitions_ListByResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the service endpoint policy name.
        in: path
        name: serviceEndpointPolicyName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEndpointPolicyDefinitionListResult'
          description: Request successful. The operation returns a list of ServiceEndpointPolicyDefinition
            resources.
      tags:
      - ServiceEndpointPolicyDefinitions
      x-ms-examples:
        List service endpoint definitions in service end point policy:
          parameters:
            api-version: 2018-07-01
            resourceGroupName: rg1
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testPolicy/serviceEndpointPolicyDefinitions/testDef
                  name: testDef
                  properties:
                    description: Storage Service EndpointPolicy Definition
                    service: Microsoft.Storage
                    serviceResources:
                    - /subscriptions/subid1
                    - /subscriptions/subid1/resourceGroups/storageRg
                    - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceEndpointPolicies/{serviceEndpointPolicyName}/serviceEndpointPolicyDefinitions/{serviceEndpointPolicyDefinitionName}
  : delete:
      description: Deletes the specified ServiceEndpoint policy definitions.
      operationId: ServiceEndpointPolicyDefinitions_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Service Endpoint Policy.
        in: path
        name: serviceEndpointPolicyName
        required: true
        schema:
          type: string
      - description: The name of the service endpoint policy definition.
        in: path
        name: serviceEndpointPolicyDefinitionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource does not exist.
      tags:
      - ServiceEndpointPolicyDefinitions
      x-ms-examples:
        Delete service endpoint policy definitions from service endpoint policy:
          parameters:
            api-version: 2018-07-01
            resourceGroupName: rg1
            serviceEndpointPolicyDefinitionName: testDefinition
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get the specified service endpoint policy definitions from service
        endpoint policy.
      operationId: ServiceEndpointPolicyDefinitions_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the service endpoint policy name.
        in: path
        name: serviceEndpointPolicyName
        required: true
        schema:
          type: string
      - description: The name of the service endpoint policy definition name.
        in: path
        name: serviceEndpointPolicyDefinitionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEndpointPolicyDefinition'
          description: Request successful. The operation returns the resulting ServiceEndpointPolicyDefinition
            resource.
      tags:
      - serviceEndpointPolicyDefinitions
      x-ms-examples:
        Get service endpoint definition in service endpoint policy:
          parameters:
            api-version: 2018-07-01
            resourceGroupName: rg1
            serviceEndpointPolicyDefinitionName: testDefinition
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testPolicy/serviceEndpointPolicyDefinitions/testDefinition
                name: testDefinition
                properties:
                  description: Storage Service EndpointPolicy Definition
                  service: Microsoft.Storage
                  serviceResources:
                  - /subscriptions/subid1
                  - /subscriptions/subid1/resourceGroups/storageRg
                  - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
      x-accepts:
      - application/json
    put:
      description: Creates or updates a service endpoint policy definition in the
        specified service endpoint policy.
      operationId: ServiceEndpointPolicyDefinitions_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the service endpoint policy.
        in: path
        name: serviceEndpointPolicyName
        required: true
        schema:
          type: string
      - description: The name of the service endpoint policy definition name.
        in: path
        name: serviceEndpointPolicyDefinitionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceEndpointPolicyDefinition'
        description: Parameters supplied to the create or update service endpoint
          policy operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEndpointPolicyDefinition'
          description: Update successful. The operation returns the resulting ServiceEndpointPolicyDefinition
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEndpointPolicyDefinition'
          description: Create successful. The operation returns the resulting ServiceEndpointPolicyDefinition
            resource.
      tags:
      - serviceEndpointPolicyDefinitions
      x-ms-examples:
        Create service endpoint policy definition:
          parameters:
            ServiceEndpointPolicyDefinitions:
              properties:
                description: Storage Service EndpointPolicy Definition
                service: Microsoft.Storage
                serviceResources:
                - /subscriptions/subid1
                - /subscriptions/subid1/resourceGroups/storageRg
                - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
            api-version: 2018-07-01
            resourceGroupName: rg1
            serviceEndpointPolicyDefinitionName: testDefinition
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testPolicy/serviceEndpointPolicyDefinitions/testDefinition
                name: testDefinition
                properties:
                  description: Storage Service EndpointPolicy Definition
                  service: Microsoft.Storage
                  serviceResources:
                  - /subscriptions/subid1
                  - /subscriptions/subid1/resourceGroups/storageRg
                  - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/securityRules/rule1
                name: rule1
                properties:
                  description: Storage Service EndpointPolicy Definition
                  service: Microsoft.Storage
                  serviceResources:
                  - /subscriptions/subid1
                  - /subscriptions/subid1/resourceGroups/storageRg
                  - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
      x-ms-long-running-operation: true
      x-codegen-request-body-name: ServiceEndpointPolicyDefinitions
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    ServiceEndpointPolicy:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Service End point policy resource.
      example:
        etag: etag
        properties:
          resourceGuid: resourceGuid
          provisioningState: provisioningState
          serviceEndpointPolicyDefinitions:
          - name: name
            etag: etag
            properties:
              service: service
              serviceResources:
              - serviceResources
              - serviceResources
              description: description
              provisioningState: provisioningState
          - name: name
            etag: etag
            properties:
              service: service
              serviceResources:
              - serviceResources
              - serviceResources
              description: description
              provisioningState: provisioningState
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          type: string
        properties:
          $ref: '#/components/schemas/ServiceEndpointPolicyPropertiesFormat'
    ServiceEndpointPolicyDefinition:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Service Endpoint policy definitions.
      example:
        name: name
        etag: etag
        properties:
          service: service
          serviceResources:
          - serviceResources
          - serviceResources
          description: description
          provisioningState: provisioningState
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/ServiceEndpointPolicyDefinitionPropertiesFormat'
    ServiceEndpointPolicyDefinitionListResult:
      description: Response for ListServiceEndpointPolicyDefinition API service call.
        Retrieves all service endpoint policy definition that belongs to a service
        endpoint policy.
      example:
        value:
        - name: name
          etag: etag
          properties:
            service: service
            serviceResources:
            - serviceResources
            - serviceResources
            description: description
            provisioningState: provisioningState
        - name: name
          etag: etag
          properties:
            service: service
            serviceResources:
            - serviceResources
            - serviceResources
            description: description
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: The service endpoint policy definition in a service endpoint
            policy.
          items:
            $ref: '#/components/schemas/ServiceEndpointPolicyDefinition'
          type: array
      type: object
    ServiceEndpointPolicyDefinitionPropertiesFormat:
      description: Service Endpoint policy definition resource.
      example:
        service: service
        serviceResources:
        - serviceResources
        - serviceResources
        description: description
        provisioningState: provisioningState
      properties:
        description:
          description: A description for this rule. Restricted to 140 chars.
          type: string
        provisioningState:
          description: "The provisioning state of the service end point policy definition.\
            \ Possible values are: 'Updating', 'Deleting', and 'Failed'."
          type: string
        service:
          description: service endpoint name.
          type: string
        serviceResources:
          description: A list of service resources.
          items:
            type: string
          type: array
      type: object
    ServiceEndpointPolicyListResult:
      description: Response for ListServiceEndpointPolicies API service call.
      example:
        value:
        - etag: etag
          properties:
            resourceGuid: resourceGuid
            provisioningState: provisioningState
            serviceEndpointPolicyDefinitions:
            - name: name
              etag: etag
              properties:
                service: service
                serviceResources:
                - serviceResources
                - serviceResources
                description: description
                provisioningState: provisioningState
            - name: name
              etag: etag
              properties:
                service: service
                serviceResources:
                - serviceResources
                - serviceResources
                description: description
                provisioningState: provisioningState
        - etag: etag
          properties:
            resourceGuid: resourceGuid
            provisioningState: provisioningState
            serviceEndpointPolicyDefinitions:
            - name: name
              etag: etag
              properties:
                service: service
                serviceResources:
                - serviceResources
                - serviceResources
                description: description
                provisioningState: provisioningState
            - name: name
              etag: etag
              properties:
                service: service
                serviceResources:
                - serviceResources
                - serviceResources
                description: description
                provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          readOnly: true
          type: string
        value:
          description: A list of ServiceEndpointPolicy resources.
          items:
            $ref: '#/components/schemas/ServiceEndpointPolicy'
          type: array
      type: object
    ServiceEndpointPolicyPropertiesFormat:
      description: Service Endpoint Policy resource.
      example:
        resourceGuid: resourceGuid
        provisioningState: provisioningState
        serviceEndpointPolicyDefinitions:
        - name: name
          etag: etag
          properties:
            service: service
            serviceResources:
            - serviceResources
            - serviceResources
            description: description
            provisioningState: provisioningState
        - name: name
          etag: etag
          properties:
            service: service
            serviceResources:
            - serviceResources
            - serviceResources
            description: description
            provisioningState: provisioningState
      properties:
        provisioningState:
          description: "The provisioning state of the service endpoint policy. Possible\
            \ values are: 'Updating', 'Deleting', and 'Failed'."
          type: string
        resourceGuid:
          description: The resource GUID property of the service endpoint policy resource.
          type: string
        serviceEndpointPolicyDefinitions:
          description: A collection of service endpoint policy definitions of the
            service endpoint policy.
          items:
            $ref: '#/components/schemas/ServiceEndpointPolicyDefinition'
          type: array
      type: object
    ServiceEndpointPolicies_Update_request:
      description: Tags object for patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

