openapi: 3.0.0
info:
  description: "A web service for near earth objects. All the data is from the <a\
    \ href=\"http://neo.jpl.nasa.gov/\" target=\"_blank\">NASA JPL Asteroid team</a>.\
    \ \n\n \n\nNeoWs is proud to power AsteroidTracker on <a href=\"https://itunes.apple.com/us/app/asteroid-tracker/id689684901?mt=8\"\
    \ target=\"_blank\">iOS</a> and <a href=\"https://play.google.com/store/apps/details?id=com.vitruviussoftware.bunifish.asteroidtracker&feature\"\
    \ target=\"_blank\">Android</a> as well as related apps. \n\n Follow us on <a\
    \ href=\"https://twitter.com/AsteroidTracker\" target=\"_blank\">Twitter</a>"
  title: NeoWs - (Near Earth Object Web Service)
  version: "1.0"
  x-apisguru-categories:
  - open_data
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: swagger
    url: http://www.neowsapp.com/api-docs
    version: "1.2"
  x-providerName: neowsapp.com
servers:
- url: http://www.neowsapp.com/
tags:
- description: Operations with NearEarthObjects
  name: feed
- description: Operations with NearEarthObjects
  name: neo
- description: Operations with Sentry NearEarthObjects
  name: neosentry
- description: Stats on Near Earth Object data sets
  name: stats
paths:
  /rest/v1/feed:
    get:
      deprecated: false
      description: "Get a list of Near Earth Objects within a date range, The max\
        \ range in one query is 7 days"
      operationId: retrieve_near_earth_object_feed
      parameters:
      - description: "Start of date range search, format: yyyy-MM-dd - (ex: 2015-04-28)"
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: "End of date range search, format: yyyy-MM-dd - (ex: 2015-04-28).\
          \ If left off search will extends 7 days from start_date"
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: detailed
        explode: true
        in: query
        name: detailed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearEarthObjectList'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Find Near Earth Objects by date
      tags:
      - feed
      x-openapi-router-controller: openapi_server.controllers.feed_controller
  /rest/v1/feed/today:
    get:
      deprecated: false
      description: Get a list of Near Earth Objects for today
      operationId: retrieve_neo_feed_today
      parameters:
      - description: detailed
        explode: true
        in: query
        name: detailed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearEarthObjectList'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Find Near Earth Objects for today
      tags:
      - feed
      x-openapi-router-controller: openapi_server.controllers.feed_controller
  /rest/v1/neo/browse:
    get:
      deprecated: false
      description: Retieve a paginated list of Near Earth Objects
      operationId: browse_near_earth_objects
      parameters:
      - description: page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearEarthObject'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Browse the Near Earth Objects service
      tags:
      - neo
      x-openapi-router-controller: openapi_server.controllers.neo_controller
  /rest/v1/neo/sentry:
    get:
      deprecated: false
      description: Retrieves Near Earth Objects listed in the NASA sentry data set
      operationId: retrieve_sentry_risk_data
      parameters:
      - description: "show current list of Sentry objects, or show removed Sentry\
          \ objects"
        explode: true
        in: query
        name: is_active
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentryObjectPagingDto'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Retrieve Sentry (Impact Risk ) Near Earth Objects
      tags:
      - neosentry
      x-openapi-router-controller: openapi_server.controllers.neosentry_controller
  /rest/v1/neo/sentry/{asteroid_id}:
    get:
      deprecated: false
      description: Retrieves Sentry Near Earth Object by ID
      operationId: retrieve_sentry_risk_data_by_id
      parameters:
      - description: "ID of NearEarth object.  ID can be SPK_ID, Asteroid des (designation)\
          \ or Sentry ID"
        explode: false
        in: path
        name: asteroid_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentryImpactRiskObject'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: 'Retrieve Sentry (Impact Risk ) Near Earth Objectby ID '
      tags:
      - neosentry
      x-openapi-router-controller: openapi_server.controllers.neosentry_controller
  /rest/v1/neo/{asteroid_id}:
    get:
      deprecated: false
      description: Retrieve a Near Earth Objects with a given id
      operationId: retrieve_near_earth_object_by_id
      parameters:
      - description: "ID of Near Earth Object - (ex: 3729835)"
        explode: false
        in: path
        name: asteroid_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearEarthObject'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Find Near Earth Objects by id
      tags:
      - neo
      x-openapi-router-controller: openapi_server.controllers.neo_controller
  /rest/v1/stats:
    get:
      deprecated: false
      description: retrieveCurrentNeoStatistics
      operationId: retrieve_current_neo_statistics
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistics'
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get the Near Earth Object data set totals
      tags:
      - stats
      x-openapi-router-controller: openapi_server.controllers.stats_controller
components:
  schemas:
    CloseApproachData:
      example:
        relative_velocity:
          kilometers_per_hour: kilometers_per_hour
          miles_per_hour: miles_per_hour
        orbiting_body: orbiting_body
        close_approach_date: close_approach_date
        epoch_date_close_approach: 6
        close_approach_date_full: close_approach_date_full
        miss_distance:
          astronomical: astronomical
          kilometers: kilometers
          lunar: lunar
          miles: miles
      properties:
        close_approach_date:
          title: close_approach_date
          type: string
        close_approach_date_full:
          title: close_approach_date_full
          type: string
        epoch_date_close_approach:
          format: int64
          title: epoch_date_close_approach
          type: integer
        miss_distance:
          $ref: '#/components/schemas/MissDistance'
        orbiting_body:
          title: orbiting_body
          type: string
        relative_velocity:
          $ref: '#/components/schemas/RelVelocity'
      title: CloseApproachData
      type: object
    EstimatedDiameter:
      example:
        estimated_diameter_max: 1.4658129805029452
        estimated_diameter_min: 5.962133916683182
      properties:
        estimated_diameter_max:
          description: An estimate of the maximum size of the Asteroid - bases on
            the abosolute magnitude
          format: double
          title: estimated_diameter_max
          type: number
        estimated_diameter_min:
          description: An estimate of the minimum size of the Asteroid - bases on
            the abosolute magnitude
          format: double
          title: estimated_diameter_min
          type: number
      title: EstimatedDiameter
      type: object
    EstimatedDiameterContainer:
      example:
        feet:
          estimated_diameter_max: 1.4658129805029452
          estimated_diameter_min: 5.962133916683182
        kilometers:
          estimated_diameter_max: 1.4658129805029452
          estimated_diameter_min: 5.962133916683182
        meters:
          estimated_diameter_max: 1.4658129805029452
          estimated_diameter_min: 5.962133916683182
        miles:
          estimated_diameter_max: 1.4658129805029452
          estimated_diameter_min: 5.962133916683182
      properties:
        feet:
          $ref: '#/components/schemas/EstimatedDiameter'
        kilometers:
          $ref: '#/components/schemas/EstimatedDiameter'
        meters:
          $ref: '#/components/schemas/EstimatedDiameter'
        miles:
          $ref: '#/components/schemas/EstimatedDiameter'
      title: EstimatedDiameterContainer
      type: object
    HashMap_string_List_NearEarthObject_:
      title: near_earth_objects
    MissDistance:
      example:
        astronomical: astronomical
        kilometers: kilometers
        lunar: lunar
        miles: miles
      properties:
        astronomical:
          title: astronomical
          type: string
        kilometers:
          title: kilometers
          type: string
        lunar:
          title: lunar
          type: string
        miles:
          title: miles
          type: string
      title: MissDistance
      type: object
    NearEarthObject:
      example:
        estimated_diameter:
          feet:
            estimated_diameter_max: 1.4658129805029452
            estimated_diameter_min: 5.962133916683182
          kilometers:
            estimated_diameter_max: 1.4658129805029452
            estimated_diameter_min: 5.962133916683182
          meters:
            estimated_diameter_max: 1.4658129805029452
            estimated_diameter_min: 5.962133916683182
          miles:
            estimated_diameter_max: 1.4658129805029452
            estimated_diameter_min: 5.962133916683182
        is_potentially_hazardous_asteroid: true
        nasa_jpl_url: nasa_jpl_url
        neo_reference_id: neo_reference_id
        orbital_data:
          inclination: inclination
          mean_anomaly: mean_anomaly
          minimum_orbit_intersection: minimum_orbit_intersection
          orbit_determination_date: orbit_determination_date
          perihelion_argument: perihelion_argument
          orbit_class:
            orbit_class_description: orbit_class_description
            orbit_class_range: orbit_class_range
            orbit_class_type: IEO
          aphelion_distance: aphelion_distance
          eccentricity: eccentricity
          last_observation_date: last_observation_date
          perihelion_distance: perihelion_distance
          perihelion_time: perihelion_time
          first_observation_date: first_observation_date
          data_arc_in_days: 5
          orbit_id: orbit_id
          jupiter_tisserand_invariant: jupiter_tisserand_invariant
          orbital_period: orbital_period
          semi_major_axis: semi_major_axis
          epoch_osculation: epoch_osculation
          orbit_uncertainty: orbit_uncertainty
          ascending_node_longitude: ascending_node_longitude
          mean_motion: mean_motion
          equinox: equinox
          observations_used: 2
        is_sentry_object: true
        name_limited: name_limited
        name: name
        absolute_magnitude_h: 0.8008281904610115
        sentry_data: sentry_data
        designation: designation
        close_approach_data:
        - relative_velocity:
            kilometers_per_hour: kilometers_per_hour
            miles_per_hour: miles_per_hour
          orbiting_body: orbiting_body
          close_approach_date: close_approach_date
          epoch_date_close_approach: 6
          close_approach_date_full: close_approach_date_full
          miss_distance:
            astronomical: astronomical
            kilometers: kilometers
            lunar: lunar
            miles: miles
        - relative_velocity:
            kilometers_per_hour: kilometers_per_hour
            miles_per_hour: miles_per_hour
          orbiting_body: orbiting_body
          close_approach_date: close_approach_date
          epoch_date_close_approach: 6
          close_approach_date_full: close_approach_date_full
          miss_distance:
            astronomical: astronomical
            kilometers: kilometers
            lunar: lunar
            miles: miles
      properties:
        absolute_magnitude_h:
          description: Is a measure of an asteroids brightness
          format: double
          title: absolute_magnitude_h
          type: number
        close_approach_data:
          description: Close approach information of the Asteroid
          items:
            $ref: '#/components/schemas/CloseApproachData'
          title: close_approach_data
          type: array
        designation:
          title: designation
          type: string
        estimated_diameter:
          $ref: '#/components/schemas/EstimatedDiameterContainer'
        is_potentially_hazardous_asteroid:
          title: is_potentially_hazardous_asteroid
          type: boolean
        is_sentry_object:
          title: is_sentry_object
          type: boolean
        name:
          title: name
          type: string
        name_limited:
          title: name_limited
          type: string
        nasa_jpl_url:
          description: A Link to the NASA JPL Small-Body Database website
          title: nasa_jpl_url
          type: string
        neo_reference_id:
          description: The reference ID of the Asteroid - This correlates to the SPK
            ID for the JPL NEO data
          title: neo_reference_id
          type: string
        orbital_data:
          $ref: '#/components/schemas/OrbitalData'
        sentry_data:
          title: sentry_data
          type: string
      title: NearEarthObject
      type: object
    NearEarthObjectList:
      example:
        near_earth_objects: ""
        element_count: 0
        links: "{}"
      properties:
        element_count:
          description: Number of NEOs in list
          format: int32
          title: element_count
          type: integer
        links:
          description: Hypermedia links to collection
          title: links
          type: object
        near_earth_objects:
          title: near_earth_objects
      title: NearEarthObjectList
      type: object
    OrbitClass:
      example:
        orbit_class_description: orbit_class_description
        orbit_class_range: orbit_class_range
        orbit_class_type: IEO
      properties:
        orbit_class_description:
          title: orbit_class_description
          type: string
        orbit_class_range:
          title: orbit_class_range
          type: string
        orbit_class_type:
          enum:
          - IEO
          - ATE
          - APO
          - AMO
          - MCA
          - IMB
          - MBA
          - OMB
          - TJN
          - CEN
          - TNO
          - PAA
          - HYA
          - HYP
          - PAR
          - COM
          - JFC
          - HTC
          - ETC
          - CTC
          - JFc
          title: orbit_class_type
          type: string
      title: OrbitClass
      type: object
    OrbitalData:
      example:
        inclination: inclination
        mean_anomaly: mean_anomaly
        minimum_orbit_intersection: minimum_orbit_intersection
        orbit_determination_date: orbit_determination_date
        perihelion_argument: perihelion_argument
        orbit_class:
          orbit_class_description: orbit_class_description
          orbit_class_range: orbit_class_range
          orbit_class_type: IEO
        aphelion_distance: aphelion_distance
        eccentricity: eccentricity
        last_observation_date: last_observation_date
        perihelion_distance: perihelion_distance
        perihelion_time: perihelion_time
        first_observation_date: first_observation_date
        data_arc_in_days: 5
        orbit_id: orbit_id
        jupiter_tisserand_invariant: jupiter_tisserand_invariant
        orbital_period: orbital_period
        semi_major_axis: semi_major_axis
        epoch_osculation: epoch_osculation
        orbit_uncertainty: orbit_uncertainty
        ascending_node_longitude: ascending_node_longitude
        mean_motion: mean_motion
        equinox: equinox
        observations_used: 2
      properties:
        aphelion_distance:
          title: aphelion_distance
          type: string
        ascending_node_longitude:
          title: ascending_node_longitude
          type: string
        data_arc_in_days:
          format: int64
          title: data_arc_in_days
          type: integer
        eccentricity:
          title: eccentricity
          type: string
        epoch_osculation:
          title: epoch_osculation
          type: string
        equinox:
          title: equinox
          type: string
        first_observation_date:
          title: first_observation_date
          type: string
        inclination:
          title: inclination
          type: string
        jupiter_tisserand_invariant:
          title: jupiter_tisserand_invariant
          type: string
        last_observation_date:
          title: last_observation_date
          type: string
        mean_anomaly:
          title: mean_anomaly
          type: string
        mean_motion:
          title: mean_motion
          type: string
        minimum_orbit_intersection:
          title: minimum_orbit_intersection
          type: string
        observations_used:
          format: int64
          title: observations_used
          type: integer
        orbit_class:
          $ref: '#/components/schemas/OrbitClass'
        orbit_determination_date:
          title: orbit_determination_date
          type: string
        orbit_id:
          title: orbit_id
          type: string
        orbit_uncertainty:
          title: orbit_uncertainty
          type: string
        orbital_period:
          title: orbital_period
          type: string
        perihelion_argument:
          title: perihelion_argument
          type: string
        perihelion_distance:
          title: perihelion_distance
          type: string
        perihelion_time:
          title: perihelion_time
          type: string
        semi_major_axis:
          title: semi_major_axis
          type: string
      title: OrbitalData
      type: object
    PageMetaData:
      example:
        number: 0
        size: 6
        total_elements: 1
        total_pages: 5
      properties:
        number:
          format: int64
          title: number
          type: integer
        size:
          format: int64
          title: size
          type: integer
        total_elements:
          format: int64
          title: total_elements
          type: integer
        total_pages:
          format: int64
          title: total_pages
          type: integer
      title: PageMetaData
      type: object
    RelVelocity:
      example:
        kilometers_per_hour: kilometers_per_hour
        miles_per_hour: miles_per_hour
      properties:
        kilometers_per_hour:
          title: kilometers_per_hour
          type: string
        miles_per_hour:
          title: miles_per_hour
          type: string
      title: RelVelocity
      type: object
    SentryImpactRiskObject:
      example:
        estimated_diameter: estimated_diameter
        is_active_sentry_object: true
        v_infinity: v_infinity
        palermo_scale_ave: palermo_scale_ave
        removal_date: removal_date
        year_range_max: year_range_max
        absolute_magnitude: absolute_magnitude
        last_obs_jd: last_obs_jd
        year_range_min: year_range_min
        Palermo_scale_max: Palermo_scale_max
        potential_impacts: potential_impacts
        sentryId: sentryId
        average_lunar_distance: 5.637376656633329
        designation: designation
        fullname: fullname
        torino_scale: torino_scale
        impact_probability: impact_probability
        last_obs: last_obs
      properties:
        Palermo_scale_max:
          title: Palermo_scale_max
          type: string
        absolute_magnitude:
          title: absolute_magnitude
          type: string
        average_lunar_distance:
          format: double
          title: average_lunar_distance
          type: number
        designation:
          title: designation
          type: string
        estimated_diameter:
          title: estimated_diameter
          type: string
        fullname:
          title: fullname
          type: string
        impact_probability:
          title: impact_probability
          type: string
        is_active_sentry_object:
          title: is_active_sentry_object
          type: boolean
        last_obs:
          title: last_obs
          type: string
        last_obs_jd:
          title: last_obs_jd
          type: string
        palermo_scale_ave:
          title: palermo_scale_ave
          type: string
        potential_impacts:
          title: potential_impacts
          type: string
        removal_date:
          title: removal_date
          type: string
        sentryId:
          title: sentryId
          type: string
        torino_scale:
          title: torino_scale
          type: string
        v_infinity:
          title: v_infinity
          type: string
        year_range_max:
          title: year_range_max
          type: string
        year_range_min:
          title: year_range_min
          type: string
      title: SentryImpactRiskObject
      type: object
    SentryObjectPagingDto:
      example:
        links: "{}"
        page:
          number: 0
          size: 6
          total_elements: 1
          total_pages: 5
        sentry_objects:
        - estimated_diameter: estimated_diameter
          is_active_sentry_object: true
          v_infinity: v_infinity
          palermo_scale_ave: palermo_scale_ave
          removal_date: removal_date
          year_range_max: year_range_max
          absolute_magnitude: absolute_magnitude
          last_obs_jd: last_obs_jd
          year_range_min: year_range_min
          Palermo_scale_max: Palermo_scale_max
          potential_impacts: potential_impacts
          sentryId: sentryId
          average_lunar_distance: 5.637376656633329
          designation: designation
          fullname: fullname
          torino_scale: torino_scale
          impact_probability: impact_probability
          last_obs: last_obs
        - estimated_diameter: estimated_diameter
          is_active_sentry_object: true
          v_infinity: v_infinity
          palermo_scale_ave: palermo_scale_ave
          removal_date: removal_date
          year_range_max: year_range_max
          absolute_magnitude: absolute_magnitude
          last_obs_jd: last_obs_jd
          year_range_min: year_range_min
          Palermo_scale_max: Palermo_scale_max
          potential_impacts: potential_impacts
          sentryId: sentryId
          average_lunar_distance: 5.637376656633329
          designation: designation
          fullname: fullname
          torino_scale: torino_scale
          impact_probability: impact_probability
          last_obs: last_obs
      properties:
        links:
          title: links
          type: object
        page:
          $ref: '#/components/schemas/PageMetaData'
        sentry_objects:
          items:
            $ref: '#/components/schemas/SentryImpactRiskObject'
          title: sentry_objects
          type: array
      title: SentryObjectPagingDto
      type: object
    Statistics:
      example:
        last_updated: last_updated
        nasa_jpl_url:
          defaultPort: 6
          path: path
          userInfo: userInfo
          protocol: protocol
          ref: ref
          file: file
          port: 1
          authority: authority
          query: query
          host: host
          content: "{}"
        near_earth_object_count: 5
        source: source
        close_approach_count: 0
      properties:
        close_approach_count:
          description: Number of Close Approach listings across all NEOs listed in
            NeoWs
          format: int64
          title: close_approach_count
          type: integer
        last_updated:
          description: TimeStamp the last time the DB was updated
          title: last_updated
          type: string
        nasa_jpl_url:
          $ref: '#/components/schemas/URL'
        near_earth_object_count:
          description: Number of NearEarthObjects listed in NeoWs
          format: int64
          title: near_earth_object_count
          type: integer
        source:
          title: source
          type: string
      title: Statistics
      type: object
    URL:
      example:
        defaultPort: 6
        path: path
        userInfo: userInfo
        protocol: protocol
        ref: ref
        file: file
        port: 1
        authority: authority
        query: query
        host: host
        content: "{}"
      properties:
        authority:
          title: authority
          type: string
        content:
          title: content
          type: object
        defaultPort:
          format: int32
          title: defaultPort
          type: integer
        file:
          title: file
          type: string
        host:
          title: host
          type: string
        path:
          title: path
          type: string
        port:
          format: int32
          title: port
          type: integer
        protocol:
          title: protocol
          type: string
        query:
          title: query
          type: string
        ref:
          title: ref
          type: string
        userInfo:
          title: userInfo
          type: string
      title: URL
      type: object
