openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Network Management API provides a collection of network performance
    monitoring and diagnostic capabilities.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Network Management API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: openapi
    url: https://networkmanagement.googleapis.com/$discovery/rest?version=v1
    version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: networkmanagement
externalDocs:
  url: https://cloud.google.com/
servers:
- url: https://networkmanagement.googleapis.com/
tags:
- name: projects
paths:
  /v1/{name}:
    delete:
      description: "Deletes a long-running operation. This method indicates that the\
        \ client is no longer interested in the operation result. It does not cancel\
        \ the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      operationId: networkmanagement_projects_locations_global_operations_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be deleted.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Gets the latest state of a long-running operation. Clients can
        use this method to poll the operation result at intervals as recommended by
        the API service.
      operationId: networkmanagement_projects_locations_global_operations_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: "Updates the configuration of an existing `ConnectivityTest`. After\
        \ you update a test, the reachability analysis is performed as part of the\
        \ long running operation, which completes when the analysis completes. The\
        \ Reachability state in the test resource is updated with the new result.\
        \ If the endpoint specifications in `ConnectivityTest` are invalid (for example,\
        \ they contain non-existent resources in the network, or the user does not\
        \ have read permissions to the network configurations of listed projects),\
        \ then the reachability result returns a value of UNKNOWN. If the endpoint\
        \ specifications in `ConnectivityTest` are incomplete, the reachability result\
        \ returns a value of `AMBIGUOUS`. See the documentation in `ConnectivityTest`\
        \ for for more details."
      operationId: networkmanagement_projects_locations_global_connectivity_tests_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Unique name of the resource using the form: `projects/{project_id}/locations/global/connectivityTests/{test_id}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Required. Mask of fields to update. At least one path must be
          supplied in this field.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectivityTest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}/locations:
    get:
      description: Lists information about the supported locations for this service.
      operationId: networkmanagement_projects_locations_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The resource that owns the locations collection, if applicable."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "A filter to narrow down results to a preferred subset. The filtering\
          \ language accepts strings like `\"displayName=tokyo\"`, and is documented\
          \ in more detail in [AIP-160](https://google.aip.dev/160)."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of results to return. If not set, the service\
          \ selects a default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A page token received from the `next_page_token` field in the
          response. Send that page token to receive the subsequent page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{name}/operations:
    get:
      description: "Lists operations that match the specified filter in the request.\
        \ If the server doesn't support this method, it returns `UNIMPLEMENTED`."
      operationId: networkmanagement_projects_locations_global_operations_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation's parent resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{name}:cancel:
    post:
      description: "Starts asynchronous cancellation on a long-running operation.\
        \ The server makes a best effort to cancel the operation, but success is not\
        \ guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Clients can use Operations.GetOperation or other methods to check whether\
        \ the cancellation succeeded or whether the operation completed despite cancellation.\
        \ On successful cancellation, the operation is not deleted; instead, it becomes\
        \ an operation with an Operation.error value with a google.rpc.Status.code\
        \ of 1, corresponding to `Code.CANCELLED`."
      operationId: networkmanagement_projects_locations_global_operations_cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be cancelled.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOperationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}:rerun:
    post:
      description: "Rerun an existing `ConnectivityTest`. After the user triggers\
        \ the rerun, the reachability analysis is performed as part of the long running\
        \ operation, which completes when the analysis completes. Even though the\
        \ test configuration remains the same, the reachability result may change\
        \ due to underlying network configuration changes. If the endpoint specifications\
        \ in `ConnectivityTest` become invalid (for example, specified resources are\
        \ deleted in the network, or you lost read permissions to the network configurations\
        \ of listed projects), then the reachability result returns a value of `UNKNOWN`."
      operationId: networkmanagement_projects_locations_global_connectivity_tests_rerun
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Connectivity Test resource name using the form: `projects/{project_id}/locations/global/connectivityTests/{test_id}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerunConnectivityTestRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/connectivityTests:
    get:
      description: Lists all Connectivity Tests owned by a project.
      operationId: networkmanagement_projects_locations_global_connectivity_tests_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource of the Connectivity Tests: `projects/{project_id}/locations/global`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Lists the `ConnectivityTests` that match the filter expression.\
          \ A filter expression filters the resources listed in the response. The\
          \ expression must be of the form ` ` where operators: `<`, `>`, `<=`, `>=`,\
          \ `!=`, `=`, `:` are supported (colon `:` represents a HAS operator which\
          \ is roughly synonymous with equality). can refer to a proto or JSON field,\
          \ or a synthetic field. Field names can be camelCase or snake_case. Examples:\
          \ - Filter by name: name = \"projects/proj-1/locations/global/connectivityTests/test-1\
          \ - Filter by labels: - Resources that have a key called `foo` labels.foo:*\
          \ - Resources that have a key called `foo` whose value is `bar` labels.foo\
          \ = bar"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Field to use to sort the list.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Number of `ConnectivityTests` to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page token from an earlier query, as returned in `next_page_token`."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectivityTestsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: "Creates a new Connectivity Test. After you create a test, the\
        \ reachability analysis is performed as part of the long running operation,\
        \ which completes when the analysis completes. If the endpoint specifications\
        \ in `ConnectivityTest` are invalid (for example, containing non-existent\
        \ resources in the network, or you don't have read permissions to the network\
        \ configurations of listed projects), then the reachability result returns\
        \ a value of `UNKNOWN`. If the endpoint specifications in `ConnectivityTest`\
        \ are incomplete, the reachability result returns a value of AMBIGUOUS. For\
        \ more information, see the Connectivity Test documentation."
      operationId: networkmanagement_projects_locations_global_connectivity_tests_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent resource of the Connectivity Test to create:\
          \ `projects/{project_id}/locations/global`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The logical name of the Connectivity Test in your\
          \ project with the following restrictions: * Must contain only lowercase\
          \ letters, numbers, and hyphens. * Must start with a letter. * Must be between\
          \ 1-40 characters. * Must end with a number or a letter. * Must be unique\
          \ within the customer project"
        explode: true
        in: query
        name: testId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectivityTest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{resource}:getIamPolicy:
    get:
      description: Gets the access control policy for a resource. Returns an empty
        policy if the resource exists and does not have a policy set.
      operationId: networkmanagement_projects_locations_global_connectivity_tests_get_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being requested.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The maximum policy version that will be used to format\
          \ the policy. Valid values are 0, 1, and 3. Requests specifying an invalid\
          \ value will be rejected. Requests for policies with any conditional role\
          \ bindings must specify version 3. Policies with no conditional role bindings\
          \ may specify any valid value or leave the field unset. The policy in the\
          \ response might use the policy version that you specified, or it might\
          \ use a lower policy version. For example, if you specify version 3, but\
          \ the policy has no conditional role bindings, the response uses version\
          \ 1. To learn which resources support conditions in their IAM policies,\
          \ see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        explode: true
        in: query
        name: options.requestedPolicyVersion
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{resource}:setIamPolicy:
    post:
      description: "Sets the access control policy on the specified resource. Replaces\
        \ any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED`\
        \ errors."
      operationId: networkmanagement_projects_locations_global_connectivity_tests_set_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being specified.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetIamPolicyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{resource}:testIamPermissions:
    post:
      description: "Returns permissions that a caller has on the specified resource.\
        \ If the resource does not exist, this will return an empty set of permissions,\
        \ not a `NOT_FOUND` error. Note: This operation is designed to be used for\
        \ building permission-aware UIs and command-line tools, not for authorization\
        \ checking. This operation may \"fail open\" without warning."
      operationId: networkmanagement_projects_locations_global_connectivity_tests_test_iam_permissions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy detail is being\
          \ requested. See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestIamPermissionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestIamPermissionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AbortInfo:
      description: Details of the final state "abort" and associated resource.
      example:
        projectsMissingPermission:
        - projectsMissingPermission
        - projectsMissingPermission
        ipAddress: ipAddress
        cause: CAUSE_UNSPECIFIED
        resourceUri: resourceUri
      properties:
        cause:
          description: Causes that the analysis is aborted.
          enum:
          - CAUSE_UNSPECIFIED
          - UNKNOWN_NETWORK
          - UNKNOWN_PROJECT
          - NO_EXTERNAL_IP
          - UNINTENDED_DESTINATION
          - SOURCE_ENDPOINT_NOT_FOUND
          - MISMATCHED_SOURCE_NETWORK
          - DESTINATION_ENDPOINT_NOT_FOUND
          - MISMATCHED_DESTINATION_NETWORK
          - UNKNOWN_IP
          - SOURCE_IP_ADDRESS_NOT_IN_SOURCE_NETWORK
          - PERMISSION_DENIED
          - PERMISSION_DENIED_NO_CLOUD_NAT_CONFIGS
          - PERMISSION_DENIED_NO_NEG_ENDPOINT_CONFIGS
          - NO_SOURCE_LOCATION
          - INVALID_ARGUMENT
          - TRACE_TOO_LONG
          - INTERNAL_ERROR
          - UNSUPPORTED
          - MISMATCHED_IP_VERSION
          - GKE_KONNECTIVITY_PROXY_UNSUPPORTED
          - RESOURCE_CONFIG_NOT_FOUND
          - VM_INSTANCE_CONFIG_NOT_FOUND
          - NETWORK_CONFIG_NOT_FOUND
          - FIREWALL_CONFIG_NOT_FOUND
          - ROUTE_CONFIG_NOT_FOUND
          - GOOGLE_MANAGED_SERVICE_AMBIGUOUS_PSC_ENDPOINT
          - SOURCE_PSC_CLOUD_SQL_UNSUPPORTED
          - SOURCE_FORWARDING_RULE_UNSUPPORTED
          - NON_ROUTABLE_IP_ADDRESS
          title: cause
          type: string
          x-enumDeprecated:
          - false
          - true
          - true
          - true
          - true
          - true
          - true
          - true
          - true
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
        ipAddress:
          description: IP address that caused the abort.
          title: ipAddress
          type: string
        projectsMissingPermission:
          description: "List of project IDs the user specified in the request but\
            \ lacks access to. In this case, analysis is aborted with the PERMISSION_DENIED\
            \ cause."
          items:
            type: string
          title: projectsMissingPermission
          type: array
        resourceUri:
          description: URI of the resource that caused the abort.
          title: resourceUri
          type: string
      title: AbortInfo
      type: object
    AppEngineVersionEndpoint:
      description: Wrapper for the App Engine service version attributes.
      example:
        uri: uri
      properties:
        uri:
          description: "An [App Engine](https://cloud.google.com/appengine) [service\
            \ version](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions)\
            \ name."
          title: uri
          type: string
      title: AppEngineVersionEndpoint
      type: object
    AppEngineVersionInfo:
      description: For display only. Metadata associated with an App Engine version.
      example:
        environment: environment
        displayName: displayName
        runtime: runtime
        uri: uri
      properties:
        displayName:
          description: Name of an App Engine version.
          title: displayName
          type: string
        environment:
          description: App Engine execution environment for a version.
          title: environment
          type: string
        runtime:
          description: Runtime of the App Engine version.
          title: runtime
          type: string
        uri:
          description: URI of an App Engine version.
          title: uri
          type: string
      title: AppEngineVersionInfo
      type: object
    AuditConfig:
      description: "Specifies the audit configuration for a service. The configuration\
        \ determines which permission types are logged, and what identities, if any,\
        \ are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.\
        \ If there are AuditConfigs for both `allServices` and a specific service,\
        \ the union of the two AuditConfigs is used for that service: the log_types\
        \ specified in each AuditConfig are enabled, and the exempted_members in each\
        \ AuditLogConfig are exempted. Example Policy with multiple AuditConfigs:\
        \ { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\"\
        : [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\"\
        \ ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" }\
        \ ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\"\
        : [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\"\
        : [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy\
        \ enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com`\
        \ from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      example:
        auditLogConfigs:
        - logType: LOG_TYPE_UNSPECIFIED
          exemptedMembers:
          - exemptedMembers
          - exemptedMembers
        - logType: LOG_TYPE_UNSPECIFIED
          exemptedMembers:
          - exemptedMembers
          - exemptedMembers
        service: service
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: '#/components/schemas/AuditLogConfig'
          title: auditLogConfigs
          type: array
        service:
          description: "Specifies a service that will be enabled for audit logging.\
            \ For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices`\
            \ is a special value that covers all services."
          title: service
          type: string
      title: AuditConfig
      type: object
    AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions.\
        \ Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\"\
        : [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This\
        \ enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com\
        \ from DATA_READ logging."
      example:
        logType: LOG_TYPE_UNSPECIFIED
        exemptedMembers:
        - exemptedMembers
        - exemptedMembers
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this
            type of permission. Follows the same format of Binding.members.
          items:
            type: string
          title: exemptedMembers
          type: array
        logType:
          description: The log type that this config enables.
          enum:
          - LOG_TYPE_UNSPECIFIED
          - ADMIN_READ
          - DATA_WRITE
          - DATA_READ
          title: logType
          type: string
      title: AuditLogConfig
      type: object
    Binding:
      description: "Associates `members`, or principals, with a `role`."
      example:
        condition:
          expression: expression
          description: description
          location: location
          title: title
        role: role
        members:
        - members
        - members
      properties:
        condition:
          $ref: '#/components/schemas/Expr'
        members:
          description: "Specifies the principals requesting access for a Google Cloud\
            \ resource. `members` can have the following values: * `allUsers`: A special\
            \ identifier that represents anyone who is on the internet; with or without\
            \ a Google account. * `allAuthenticatedUsers`: A special identifier that\
            \ represents anyone who is authenticated with a Google account or a service\
            \ account. Does not include identities that come from external identity\
            \ providers (IdPs) through identity federation. * `user:{emailid}`: An\
            \ email address that represents a specific Google account. For example,\
            \ `alice@example.com` . * `serviceAccount:{emailid}`: An email address\
            \ that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`.\
            \ * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`:\
            \ An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts).\
            \ For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`.\
            \ * `group:{emailid}`: An email address that represents a Google group.\
            \ For example, `admins@example.com`. * `domain:{domain}`: The G Suite\
            \ domain (primary) that represents all the users of that domain. For example,\
            \ `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`:\
            \ All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`:\
            \ All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`:\
            \ A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All identities in a workload identity pool with a certain attribute.\
            \ * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`:\
            \ All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a user that has\
            \ been recently deleted. For example, `alice@example.com?uid=123456789012345678901`.\
            \ If the user is recovered, this value reverts to `user:{emailid}` and\
            \ the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a service account\
            \ that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\
            \ If the service account is undeleted, this value reverts to `serviceAccount:{emailid}`\
            \ and the undeleted service account retains the role in the binding. *\
            \ `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\
            \ identifier) representing a Google group that has been recently deleted.\
            \ For example, `admins@example.com?uid=123456789012345678901`. If the\
            \ group is recovered, this value reverts to `group:{emailid}` and the\
            \ recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          items:
            type: string
          title: members
          type: array
        role:
          description: "Role that is assigned to the list of `members`, or principals.\
            \ For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an\
            \ overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview).\
            \ For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          title: role
          type: string
      title: Binding
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    CloudFunctionEndpoint:
      description: Wrapper for Cloud Function attributes.
      example:
        uri: uri
      properties:
        uri:
          description: "A [Cloud Function](https://cloud.google.com/functions) name."
          title: uri
          type: string
      title: CloudFunctionEndpoint
      type: object
    CloudFunctionInfo:
      description: For display only. Metadata associated with a Cloud Function.
      example:
        versionId: versionId
        displayName: displayName
        location: location
        uri: uri
      properties:
        displayName:
          description: Name of a Cloud Function.
          title: displayName
          type: string
        location:
          description: Location in which the Cloud Function is deployed.
          title: location
          type: string
        uri:
          description: URI of a Cloud Function.
          title: uri
          type: string
        versionId:
          description: Latest successfully deployed version id of the Cloud Function.
          format: int64
          title: versionId
          type: string
      title: CloudFunctionInfo
      type: object
    CloudRunRevisionEndpoint:
      description: Wrapper for Cloud Run revision attributes.
      example:
        uri: uri
      properties:
        uri:
          description: "A [Cloud Run](https://cloud.google.com/run) [revision](https://cloud.google.com/run/docs/reference/rest/v1/namespaces.revisions/get)\
            \ URI. The format is: projects/{project}/locations/{location}/revisions/{revision}"
          title: uri
          type: string
      title: CloudRunRevisionEndpoint
      type: object
    CloudRunRevisionInfo:
      description: For display only. Metadata associated with a Cloud Run revision.
      example:
        serviceUri: serviceUri
        displayName: displayName
        location: location
        uri: uri
      properties:
        displayName:
          description: Name of a Cloud Run revision.
          title: displayName
          type: string
        location:
          description: Location in which this revision is deployed.
          title: location
          type: string
        serviceUri:
          description: URI of Cloud Run service this revision belongs to.
          title: serviceUri
          type: string
        uri:
          description: URI of a Cloud Run revision.
          title: uri
          type: string
      title: CloudRunRevisionInfo
      type: object
    CloudSQLInstanceInfo:
      description: For display only. Metadata associated with a Cloud SQL instance.
      example:
        networkUri: networkUri
        displayName: displayName
        region: region
        externalIp: externalIp
        internalIp: internalIp
        uri: uri
      properties:
        displayName:
          description: Name of a Cloud SQL instance.
          title: displayName
          type: string
        externalIp:
          description: External IP address of a Cloud SQL instance.
          title: externalIp
          type: string
        internalIp:
          description: Internal IP address of a Cloud SQL instance.
          title: internalIp
          type: string
        networkUri:
          description: URI of a Cloud SQL instance network or empty string if the
            instance does not have one.
          title: networkUri
          type: string
        region:
          description: Region in which the Cloud SQL instance is running.
          title: region
          type: string
        uri:
          description: URI of a Cloud SQL instance.
          title: uri
          type: string
      title: CloudSQLInstanceInfo
      type: object
    ConnectivityTest:
      description: A Connectivity Test for a network reachability analysis.
      example:
        probingDetails:
          result: PROBING_RESULT_UNSPECIFIED
          destinationEgressLocation:
            metropolitanArea: metropolitanArea
          endpointInfo:
            destinationIp: destinationIp
            destinationPort: 6
            protocol: protocol
            sourcePort: 1
            sourceIp: sourceIp
            sourceNetworkUri: sourceNetworkUri
            sourceAgentUri: sourceAgentUri
            destinationNetworkUri: destinationNetworkUri
          successfulProbeCount: 2
          abortCause: PROBING_ABORT_CAUSE_UNSPECIFIED
          probingLatency:
            latencyPercentiles:
            - latencyMicros: latencyMicros
              percent: 5
            - latencyMicros: latencyMicros
              percent: 5
          verifyTime: verifyTime
          error:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          sentProbeCount: 5
        relatedProjects:
        - relatedProjects
        - relatedProjects
        protocol: protocol
        createTime: createTime
        displayName: displayName
        destination:
          loadBalancerId: loadBalancerId
          cloudRunRevision:
            uri: uri
          loadBalancerType: LOAD_BALANCER_TYPE_UNSPECIFIED
          instance: instance
          cloudSqlInstance: cloudSqlInstance
          forwardingRule: forwardingRule
          ipAddress: ipAddress
          forwardingRuleTarget: FORWARDING_RULE_TARGET_UNSPECIFIED
          gkeMasterCluster: gkeMasterCluster
          network: network
          cloudFunction:
            uri: uri
          appEngineVersion:
            uri: uri
          port: 0
          networkType: NETWORK_TYPE_UNSPECIFIED
          projectId: projectId
        name: name
        description: description
        reachabilityDetails:
          result: RESULT_UNSPECIFIED
          traces:
          - endpointInfo:
              destinationIp: destinationIp
              destinationPort: 6
              protocol: protocol
              sourcePort: 1
              sourceIp: sourceIp
              sourceNetworkUri: sourceNetworkUri
              sourceAgentUri: sourceAgentUri
              destinationNetworkUri: destinationNetworkUri
            steps:
            - causesDrop: true
              drop:
                destinationIp: destinationIp
                sourceIp: sourceIp
                cause: CAUSE_UNSPECIFIED
                resourceUri: resourceUri
                region: region
              instance:
                networkUri: networkUri
                networkTags:
                - networkTags
                - networkTags
                displayName: displayName
                serviceAccount: serviceAccount
                interface: interface
                externalIp: externalIp
                internalIp: internalIp
                uri: uri
              cloudSqlInstance:
                networkUri: networkUri
                displayName: displayName
                region: region
                externalIp: externalIp
                internalIp: internalIp
                uri: uri
              forwardingRule:
                networkUri: networkUri
                displayName: displayName
                matchedPortRange: matchedPortRange
                matchedProtocol: matchedProtocol
                vip: vip
                uri: uri
                target: target
              deliver:
                ipAddress: ipAddress
                resourceUri: resourceUri
                target: TARGET_UNSPECIFIED
              description: description
              vpnTunnel:
                networkUri: networkUri
                remoteGatewayIp: remoteGatewayIp
                sourceGateway: sourceGateway
                routingType: ROUTING_TYPE_UNSPECIFIED
                displayName: displayName
                sourceGatewayIp: sourceGatewayIp
                region: region
                remoteGateway: remoteGateway
                uri: uri
              vpnGateway:
                networkUri: networkUri
                vpnTunnelUri: vpnTunnelUri
                displayName: displayName
                ipAddress: ipAddress
                region: region
                uri: uri
              network:
                matchedIpRange: matchedIpRange
                displayName: displayName
                uri: uri
              cloudFunction:
                versionId: versionId
                displayName: displayName
                location: location
                uri: uri
              storageBucket:
                bucket: bucket
              endpoint:
                destinationIp: destinationIp
                destinationPort: 6
                protocol: protocol
                sourcePort: 1
                sourceIp: sourceIp
                sourceNetworkUri: sourceNetworkUri
                sourceAgentUri: sourceAgentUri
                destinationNetworkUri: destinationNetworkUri
              appEngineVersion:
                environment: environment
                displayName: displayName
                runtime: runtime
                uri: uri
              loadBalancer:
                healthCheckUri: healthCheckUri
                loadBalancerType: LOAD_BALANCER_TYPE_UNSPECIFIED
                backendType: BACKEND_TYPE_UNSPECIFIED
                backendUri: backendUri
                backends:
                - healthCheckFirewallState: HEALTH_CHECK_FIREWALL_STATE_UNSPECIFIED
                  healthCheckAllowingFirewallRules:
                  - healthCheckAllowingFirewallRules
                  - healthCheckAllowingFirewallRules
                  displayName: displayName
                  healthCheckBlockingFirewallRules:
                  - healthCheckBlockingFirewallRules
                  - healthCheckBlockingFirewallRules
                  uri: uri
                - healthCheckFirewallState: HEALTH_CHECK_FIREWALL_STATE_UNSPECIFIED
                  healthCheckAllowingFirewallRules:
                  - healthCheckAllowingFirewallRules
                  - healthCheckAllowingFirewallRules
                  displayName: displayName
                  healthCheckBlockingFirewallRules:
                  - healthCheckBlockingFirewallRules
                  - healthCheckBlockingFirewallRules
                  uri: uri
              googleService:
                sourceIp: sourceIp
                googleServiceType: GOOGLE_SERVICE_TYPE_UNSPECIFIED
              state: STATE_UNSPECIFIED
              nat:
                networkUri: networkUri
                routerUri: routerUri
                natGatewayName: natGatewayName
                newDestinationPort: 3
                oldSourcePort: 7
                type: TYPE_UNSPECIFIED
                newDestinationIp: newDestinationIp
                oldDestinationPort: 4
                protocol: protocol
                oldSourceIp: oldSourceIp
                oldDestinationIp: oldDestinationIp
                newSourceIp: newSourceIp
                newSourcePort: 2
              cloudRunRevision:
                serviceUri: serviceUri
                displayName: displayName
                location: location
                uri: uri
              forward:
                ipAddress: ipAddress
                resourceUri: resourceUri
                target: TARGET_UNSPECIFIED
              vpcConnector:
                displayName: displayName
                location: location
                uri: uri
              proxyConnection:
                networkUri: networkUri
                protocol: protocol
                oldSourceIp: oldSourceIp
                oldDestinationIp: oldDestinationIp
                newDestinationPort: 1
                oldSourcePort: 6
                subnetUri: subnetUri
                newSourceIp: newSourceIp
                newDestinationIp: newDestinationIp
                newSourcePort: 1
                oldDestinationPort: 1
              gkeMaster:
                clusterUri: clusterUri
                clusterNetworkUri: clusterNetworkUri
                externalIp: externalIp
                internalIp: internalIp
              route:
                networkUri: networkUri
                nextHop: nextHop
                srcPortRanges:
                - srcPortRanges
                - srcPortRanges
                nccHubUri: nccHubUri
                displayName: displayName
                nextHopType: NEXT_HOP_TYPE_UNSPECIFIED
                instanceTags:
                - instanceTags
                - instanceTags
                destPortRanges:
                - destPortRanges
                - destPortRanges
                priority: 7
                uri: uri
                srcIpRange: srcIpRange
                nccSpokeUri: nccSpokeUri
                destIpRange: destIpRange
                protocols:
                - protocols
                - protocols
                routeScope: ROUTE_SCOPE_UNSPECIFIED
                routeType: ROUTE_TYPE_UNSPECIFIED
              abort:
                projectsMissingPermission:
                - projectsMissingPermission
                - projectsMissingPermission
                ipAddress: ipAddress
                cause: CAUSE_UNSPECIFIED
                resourceUri: resourceUri
              firewall:
                networkUri: networkUri
                targetServiceAccounts:
                - targetServiceAccounts
                - targetServiceAccounts
                firewallRuleType: FIREWALL_RULE_TYPE_UNSPECIFIED
                displayName: displayName
                action: action
                targetTags:
                - targetTags
                - targetTags
                priority: 9
                uri: uri
                direction: direction
                policy: policy
              loadBalancerBackendInfo:
                healthCheckFirewallsConfigState: HEALTH_CHECK_FIREWALLS_CONFIG_STATE_UNSPECIFIED
                healthCheckUri: healthCheckUri
                pscGoogleApiTarget: pscGoogleApiTarget
                backendServiceUri: backendServiceUri
                instanceUri: instanceUri
                name: name
                pscServiceAttachmentUri: pscServiceAttachmentUri
                instanceGroupUri: instanceGroupUri
                networkEndpointGroupUri: networkEndpointGroupUri
                backendBucketUri: backendBucketUri
              projectId: projectId
            - causesDrop: true
              drop:
                destinationIp: destinationIp
                sourceIp: sourceIp
                cause: CAUSE_UNSPECIFIED
                resourceUri: resourceUri
                region: region
              instance:
                networkUri: networkUri
                networkTags:
                - networkTags
                - networkTags
                displayName: displayName
                serviceAccount: serviceAccount
                interface: interface
                externalIp: externalIp
                internalIp: internalIp
                uri: uri
              cloudSqlInstance:
                networkUri: networkUri
                displayName: displayName
                region: region
                externalIp: externalIp
                internalIp: internalIp
                uri: uri
              forwardingRule:
                networkUri: networkUri
                displayName: displayName
                matchedPortRange: matchedPortRange
                matchedProtocol: matchedProtocol
                vip: vip
                uri: uri
                target: target
              deliver:
                ipAddress: ipAddress
                resourceUri: resourceUri
                target: TARGET_UNSPECIFIED
              description: description
              vpnTunnel:
                networkUri: networkUri
                remoteGatewayIp: remoteGatewayIp
                sourceGateway: sourceGateway
                routingType: ROUTING_TYPE_UNSPECIFIED
                displayName: displayName
                sourceGatewayIp: sourceGatewayIp
                region: region
                remoteGateway: remoteGateway
                uri: uri
              vpnGateway:
                networkUri: networkUri
                vpnTunnelUri: vpnTunnelUri
                displayName: displayName
                ipAddress: ipAddress
                region: region
                uri: uri
              network:
                matchedIpRange: matchedIpRange
                displayName: displayName
                uri: uri
              cloudFunction:
                versionId: versionId
                displayName: displayName
                location: location
                uri: uri
              storageBucket:
                bucket: bucket
              endpoint:
                destinationIp: destinationIp
                destinationPort: 6
                protocol: protocol
                sourcePort: 1
                sourceIp: sourceIp
                sourceNetworkUri: sourceNetworkUri
                sourceAgentUri: sourceAgentUri
                destinationNetworkUri: destinationNetworkUri
              appEngineVersion:
                environment: environment
                displayName: displayName
                runtime: runtime
                uri: uri
              loadBalancer:
                healthCheckUri: healthCheckUri
                loadBalancerType: LOAD_BALANCER_TYPE_UNSPECIFIED
                backendType: BACKEND_TYPE_UNSPECIFIED
                backendUri: backendUri
                backends:
                - healthCheckFirewallState: HEALTH_CHECK_FIREWALL_STATE_UNSPECIFIED
                  healthCheckAllowingFirewallRules:
                  - healthCheckAllowingFirewallRules
                  - healthCheckAllowingFirewallRules
                  displayName: displayName
                  healthCheckBlockingFirewallRules:
                  - healthCheckBlockingFirewallRules
                  - healthCheckBlockingFirewallRules
                  uri: uri
                - healthCheckFirewallState: HEALTH_CHECK_FIREWALL_STATE_UNSPECIFIED
                  healthCheckAllowingFirewallRules:
                  - healthCheckAllowingFirewallRules
                  - healthCheckAllowingFirewallRules
                  displayName: displayName
                  healthCheckBlockingFirewallRules:
                  - healthCheckBlockingFirewallRules
                  - healthCheckBlockingFirewallRules
                  uri: uri
              googleService:
                sourceIp: sourceIp
                googleServiceType: GOOGLE_SERVICE_TYPE_UNSPECIFIED
              state: STATE_UNSPECIFIED
              nat:
                networkUri: networkUri
                routerUri: routerUri
                natGatewayName: natGatewayName
                newDestinationPort: 3
                oldSourcePort: 7
                type: TYPE_UNSPECIFIED
                newDestinationIp: newDestinationIp
                oldDestinationPort: 4
                protocol: protocol
                oldSourceIp: oldSourceIp
                oldDestinationIp: oldDestinationIp
                newSourceIp: newSourceIp
                newSourcePort: 2
              cloudRunRevision:
                serviceUri: serviceUri
                displayName: displayName
                location: location
                uri: uri
              forward:
                ipAddress: ipAddress
                resourceUri: resourceUri
                target: TARGET_UNSPECIFIED
              vpcConnector:
                displayName: displayName
                location: location
                uri: uri
              proxyConnection:
                networkUri: networkUri
                protocol: protocol
                oldSourceIp: oldSourceIp
                oldDestinationIp: oldDestinationIp
                newDestinationPort: 1
                oldSourcePort: 6
                subnetUri: subnetUri
                newSourceIp: newSourceIp
                newDestinationIp: newDestinationIp
                newSourcePort: 1
                oldDestinationPort: 1
              gkeMaster:
                clusterUri: clusterUri
                clusterNetworkUri: clusterNetworkUri
                externalIp: externalIp
                internalIp: internalIp
              route:
                networkUri: networkUri
                nextHop: nextHop
                srcPortRanges:
                - srcPortRanges
                - srcPortRanges
                nccHubUri: nccHubUri
                displayName: displayName
                nextHopType: NEXT_HOP_TYPE_UNSPECIFIED
                instanceTags:
                - instanceTags
                - instanceTags
                destPortRanges:
                - destPortRanges
                - destPortRanges
                priority: 7
                uri: uri
                srcIpRange: srcIpRange
                nccSpokeUri: nccSpokeUri
                destIpRange: destIpRange
                protocols:
                - protocols
                - protocols
                routeScope: ROUTE_SCOPE_UNSPECIFIED
                routeType: ROUTE_TYPE_UNSPECIFIED
              abort:
                projectsMissingPermission:
                - projectsMissingPermission
                - projectsMissingPermission
                ipAddress: ipAddress
                cause: CAUSE_UNSPECIFIED
                resourceUri: resourceUri
              firewall:
                networkUri: networkUri
                targetServiceAccounts:
                - targetServiceAccounts
                - targetServiceAccounts
                firewallRuleType: FIREWALL_RULE_TYPE_UNSPECIFIED
                displayName: displayName
                action: action
                targetTags:
                - targetTags
                - targetTags
                priority: 9
                uri: uri
                direction: direction
                policy: policy
              loadBalancerBackendInfo:
                healthCheckFirewallsConfigState: HEALTH_CHECK_FIREWALLS_CONFIG_STATE_UNSPECIFIED
                healthCheckUri: healthCheckUri
                pscGoogleApiTarget: pscGoogleApiTarget
                backendServiceUri: backendServiceUri
                instanceUri: instanceUri
                name: name
                pscServiceAttachmentUri: pscServiceAttachmentUri
                instanceGroupUri: instanceGroupUri
                networkEndpointGroupUri: networkEndpointGroupUri
                backendBucketUri: backendBucketUri
              projectId: projectId
            forwardTraceId: 7
          - endpointInfo:
              destinationIp: destinationIp
              destinationPort: 6
              protocol: protocol
              sourcePort: 1
              sourceIp: sourceIp
              sourceNetworkUri: sourceNetworkUri
              sourceAgentUri: sourceAgentUri
              destinationNetworkUri: destinationNetworkUri
            steps:
            - causesDrop: true
              drop:
                destinationIp: destinationIp
                sourceIp: sourceIp
                cause: CAUSE_UNSPECIFIED
                resourceUri: resourceUri
                region: region
              instance:
                networkUri: networkUri
                networkTags:
                - networkTags
                - networkTags
                displayName: displayName
                serviceAccount: serviceAccount
                interface: interface
                externalIp: externalIp
                internalIp: internalIp
                uri: uri
              cloudSqlInstance:
                networkUri: networkUri
                displayName: displayName
                region: region
                externalIp: externalIp
                internalIp: internalIp
                uri: uri
              forwardingRule:
                networkUri: networkUri
                displayName: displayName
                matchedPortRange: matchedPortRange
                matchedProtocol: matchedProtocol
                vip: vip
                uri: uri
                target: target
              deliver:
                ipAddress: ipAddress
                resourceUri: resourceUri
                target: TARGET_UNSPECIFIED
              description: description
              vpnTunnel:
                networkUri: networkUri
                remoteGatewayIp: remoteGatewayIp
                sourceGateway: sourceGateway
                routingType: ROUTING_TYPE_UNSPECIFIED
                displayName: displayName
                sourceGatewayIp: sourceGatewayIp
                region: region
                remoteGateway: remoteGateway
                uri: uri
              vpnGateway:
                networkUri: networkUri
                vpnTunnelUri: vpnTunnelUri
                displayName: displayName
                ipAddress: ipAddress
                region: region
                uri: uri
              network:
                matchedIpRange: matchedIpRange
                displayName: displayName
                uri: uri
              cloudFunction:
                versionId: versionId
                displayName: displayName
                location: location
                uri: uri
              storageBucket:
                bucket: bucket
              endpoint:
                destinationIp: destinationIp
                destinationPort: 6
                protocol: protocol
                sourcePort: 1
                sourceIp: sourceIp
                sourceNetworkUri: sourceNetworkUri
                sourceAgentUri: sourceAgentUri
                destinationNetworkUri: destinationNetworkUri
              appEngineVersion:
                environment: environment
                displayName: displayName
                runtime: runtime
                uri: uri
              loadBalancer:
                healthCheckUri: healthCheckUri
                loadBalancerType: LOAD_BALANCER_TYPE_UNSPECIFIED
                backendType: BACKEND_TYPE_UNSPECIFIED
                backendUri: backendUri
                backends:
                - healthCheckFirewallState: HEALTH_CHECK_FIREWALL_STATE_UNSPECIFIED
                  healthCheckAllowingFirewallRules:
                  - healthCheckAllowingFirewallRules
                  - healthCheckAllowingFirewallRules
                  displayName: displayName
                  healthCheckBlockingFirewallRules:
                  - healthCheckBlockingFirewallRules
                  - healthCheckBlockingFirewallRules
                  uri: uri
                - healthCheckFirewallState: HEALTH_CHECK_FIREWALL_STATE_UNSPECIFIED
                  healthCheckAllowingFirewallRules:
                  - healthCheckAllowingFirewallRules
                  - healthCheckAllowingFirewallRules
                  displayName: displayName
                  healthCheckBlockingFirewallRules:
                  - healthCheckBlockingFirewallRules
                  - healthCheckBlockingFirewallRules
                  uri: uri
              googleService:
                sourceIp: sourceIp
                googleServiceType: GOOGLE_SERVICE_TYPE_UNSPECIFIED
              state: STATE_UNSPECIFIED
              nat:
                networkUri: networkUri
                routerUri: routerUri
                natGatewayName: natGatewayName
                newDestinationPort: 3
                oldSourcePort: 7
                type: TYPE_UNSPECIFIED
                newDestinationIp: newDestinationIp
                oldDestinationPort: 4
                protocol: protocol
                oldSourceIp: oldSourceIp
                oldDestinationIp: oldDestinationIp
                newSourceIp: newSourceIp
                newSourcePort: 2
              cloudRunRevision:
                serviceUri: serviceUri
                displayName: displayName
                location: location
                uri: uri
              forward:
                ipAddress: ipAddress
                resourceUri: resourceUri
                target: TARGET_UNSPECIFIED
              vpcConnector:
                displayName: displayName
                location: location
                uri: uri
              proxyConnection:
                networkUri: networkUri
                protocol: protocol
                oldSourceIp: oldSourceIp
                oldDestinationIp: oldDestinationIp
                newDestinationPort: 1
                oldSourcePort: 6
                subnetUri: subnetUri
                newSourceIp: newSourceIp
                newDestinationIp: newDestinationIp
                newSourcePort: 1
                oldDestinationPort: 1
              gkeMaster:
                clusterUri: clusterUri
                clusterNetworkUri: clusterNetworkUri
                externalIp: externalIp
                internalIp: internalIp
              route:
                networkUri: networkUri
                nextHop: nextHop
                srcPortRanges:
                - srcPortRanges
                - srcPortRanges
                nccHubUri: nccHubUri
                displayName: displayName
                nextHopType: NEXT_HOP_TYPE_UNSPECIFIED
                instanceTags:
                - instanceTags
                - instanceTags
                destPortRanges:
                - destPortRanges
                - destPortRanges
                priority: 7
[...]
