openapi: 3.0.0
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: "This API provides current weather information for US Cities, including\
    \ temperatures, wind speeds, wind direction, relative humidity, and visibility."
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid Get Weather By Zip Code API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/interzoid/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://oas.interzoid.com/api/getweatherzip.json
    version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: getweatherzip
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/getweatherzipcode
servers:
- url: https://api.interzoid.com
paths:
  /getweatherzipcode:
    get:
      description: Use a US zip code to retrieve current weather information
      operationId: getweatherzipcode
      parameters:
      - description: Your Interzoid license API key. Register at www.interzoid.com/register
        explode: true
        in: query
        name: license
        required: true
        schema:
          type: string
        style: form
      - description: Zip code for weather information
        explode: true
        in: query
        name: zip
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getweatherzipcode_200_response'
          description: Current weather information for zip code
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "404":
          description: zip code not found
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets current weather information for a US zip code
      tags:
      - Weather by Zip Code
      x-openapi-router-controller: openapi_server.controllers.weather_by_zip_code_controller
components:
  schemas:
    getweatherzipcode_200_response:
      example:
        TempC: TempC
        Weather: Weather
        Credits: Credits
        WindDir: WindDir
        RelativeHumidity: RelativeHumidity
        State: State
        WindMPH: WindMPH
        City: City
        VisibilityMiles: VisibilityMiles
        Code: Code
        TempF: TempF
      properties:
        City:
          title: City
          type: string
        Code:
          title: Code
          type: string
        Credits:
          title: Credits
          type: string
        RelativeHumidity:
          title: RelativeHumidity
          type: string
        State:
          title: State
          type: string
        TempC:
          title: TempC
          type: string
        TempF:
          title: TempF
          type: string
        VisibilityMiles:
          title: VisibilityMiles
          type: string
        Weather:
          title: Weather
          type: string
        WindDir:
          title: WindDir
          type: string
        WindMPH:
          title: WindMPH
          type: string
      title: getweatherzipcode_200_response
      type: object
