openapi: 3.0.1
info:
  contact:
    name: Work Data Initiative
    url: http://www.dataatwork.org
  description: "A complete and standard data store for canonical and emerging skills,\
    \ knowledge, abilities, tools, technolgies, and how they relate to jobs."
  title: Open Skills API
  version: "1.0"
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://pbs.twimg.com/profile_images/593962900408008704/WT7rcPhZ_400x400.jpg
  x-origin:
  - format: swagger
    url: http://api.dataatwork.org/v1/spec/skills-api.json
    version: "2.0"
  x-providerName: dataatwork.org
servers:
- url: http://api.dataatwork.org/v1
paths:
  /jobs:
    get:
      description: "Retrieves the names, descriptions, and UUIDs of all job titles."
      operationId: jobs_get
      parameters:
      - description: Pagination offset. Default is 0.
        in: query
        name: offset
        schema:
          type: integer
      - description: Maximum number of items per page. Default is 20 and cannot exceed
          500.
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jobs'
          description: A collection of jobs
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Job Titles and Descriptions
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /jobs/autocomplete:
    get:
      description: "Retrieves the names, descriptions, and UUIDs of all job titles\
        \ matching a given search criteria."
      operationId: jobs_autocomplete_get
      parameters:
      - description: Find job titles beginning with the given text fragment
        in: query
        name: begins_with
        schema:
          type: string
      - description: Find job titles containing the given text fragment
        in: query
        name: contains
        schema:
          type: string
      - description: Find job titles ending with the given text fragment
        in: query
        name: ends_with
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jobs'
          description: A collection of jobs
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Job Title Autocomplete
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /jobs/normalize:
    get:
      description: Retrieves the canonical job title for a synonymous job title
      operationId: jobs_normalize_get
      parameters:
      - description: Find the canonical job title(s) for jobs matching the given text
          fragment
        in: query
        name: job_title
        required: true
        schema:
          type: string
      - description: Maximumn number of job title synonyms to return. Default is 1
          and cannot exceed 10.
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NormalizedJobs'
          description: A collection of normalized jobs
      summary: Job Title Normalization
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /jobs/unusual_titles:
    get:
      description: Retrieves a list of unusual job titles and the UUIDs of their canonical
        jobs.
      operationId: jobs_unusual_titles_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NormalizedJobs'
          description: A collection of normalized jobs
      summary: Unusual Job Titles
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /jobs/{id}:
    get:
      description: "Retrieves the name, description, and UUID of a job by specifying\
        \ its O*NET SOC Code or UUID."
      operationId: jobs_id_get
      parameters:
      - description: The O*NET SOC Code or UUID of the job title to retrieve
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The FIPS Code of a Core-Based Statistical Area. Only return the
          job if present in this area
        in: query
        name: fips
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: A job
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Job Title and Description
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /jobs/{id}/related_jobs:
    get:
      description: Retrieves a collection of jobs associated with a specified job.
      operationId: jobs_id_related_jobs_get
      parameters:
      - description: The UUID of the job to retrieve related jobs for
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobRelatedJobs'
          description: A job and its related jobs
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Jobs Associated with a Job
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /jobs/{id}/related_skills:
    get:
      description: Retrieves a collection of skills associated with a specified job.
      operationId: jobs_id_related_skills_get
      parameters:
      - description: The UUID of the job to retrieve skills for
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSkills'
          description: A job and its related skills
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Skills Associated with a Job
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /skills:
    get:
      description: "Retrieve the names, descriptions, and UUIDs of all skills."
      operationId: skills_get
      parameters:
      - description: Pagination offset. Default is 0.
        in: query
        name: offset
        schema:
          type: integer
      - description: Maximum number of items per page. Default is 20 and cannot exceed
          500.
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skills'
          description: A collection of skills
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Skill Names and Descriptions
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /skills/autocomplete:
    get:
      description: "Retrieves the names, descriptions, and UUIDs of all skills matching\
        \ a given search criteria."
      operationId: skills_autocomplete_get
      parameters:
      - description: Find skill names beginning with the given text fragment
        in: query
        name: begins_with
        schema:
          type: string
      - description: Find skill names containing the given text fragment
        in: query
        name: contains
        schema:
          type: string
      - description: Find skill names ending with the given text fragment
        in: query
        name: ends_with
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillJobs'
          description: A collection of skills
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Skill Name Autocomplete
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /skills/normalize:
    get:
      description: Retrieves the canonical skill name for a synonymous skill name
      operationId: skills_normalize_get
      parameters:
      - description: Find the canonical skill name(s) for skills matching the given
          text fragment
        in: query
        name: skill_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NormalizedSkills'
          description: A collection of normalized skills
      summary: Skill Name Normalization
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /skills/{id}:
    get:
      description: "Retrieves the name, description, and UUID of a job by specifying\
        \ its UUID."
      operationId: skills_id_get
      parameters:
      - description: The UUID of the skill name to retrieve
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
          description: A skill
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Skill Name and Description
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /skills/{id}/related_jobs:
    get:
      description: Retrieves a collection of jobs associated with a specified skill.
      operationId: skills_id_related_jobs_get
      parameters:
      - description: The UUID of the skill to retrieve jobs for
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillJobs'
          description: A skill and its related jobs
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Jobs Associated with a Skill
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /skills/{id}/related_skills:
    get:
      description: Retrieves a collection of skills associated with a specified skill.
      operationId: skills_id_related_skills_get
      parameters:
      - description: The UUID of the skill to retrieve related skills for
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillRelatedSkills'
          description: A skill and its related skills
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Skills Associated with a Skill
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Error:
      example:
        code: 0
        message: message
      properties:
        code:
          format: int32
          title: code
          type: integer
        message:
          title: message
          type: string
      title: Error
      type: object
    Job:
      example:
        normalized_job_title: normalized_job_title
        parent_uuid: parent_uuid
        title: title
        uuid: uuid
      properties:
        normalized_job_title:
          description: Normalized job title
          title: normalized_job_title
          type: string
        parent_uuid:
          description: UUID for the job's parent job category
          title: parent_uuid
          type: string
        title:
          description: Job title
          title: title
          type: string
        uuid:
          description: Universally Unique Identifier for the job
          title: uuid
          type: string
      title: Job
      type: object
    JobRelatedJob:
      example:
        parent_uuid: parent_uuid
        title: title
        uuid: uuid
      properties:
        parent_uuid:
          description: Universally Unique Identifier for the job's canonical job title
          title: parent_uuid
          type: string
        title:
          description: Job title
          title: title
          type: string
        uuid:
          description: Universally Unique Identifier for the job
          title: uuid
          type: string
      title: JobRelatedJob
      type: object
    JobRelatedJobs:
      example:
        related_job_titles:
        - parent_uuid: parent_uuid
          title: title
          uuid: uuid
        - parent_uuid: parent_uuid
          title: title
          uuid: uuid
        uuid: uuid
      properties:
        related_job_titles:
          items:
            $ref: '#/components/schemas/JobRelatedJob'
          title: related_job_titles
          type: array
        uuid:
          description: Universally Unique Identifier for the job
          title: uuid
          type: string
      title: JobRelatedJobs
      type: object
    JobSkill:
      example:
        job_uuid: job_uuid
        normalized_job_title: normalized_job_title
        level: 6.027456183070403
        importance: 0.8008281904610115
        job_title: job_title
      properties:
        importance:
          description: O*NET importance score indicating how important skill is to
            job.
          title: importance
          type: number
        job_title:
          description: Job title
          title: job_title
          type: string
        job_uuid:
          description: Universally Unique Identifier for the job
          title: job_uuid
          type: string
        level:
          description: O*NET level score indicating the skill level required for the
            job.
          title: level
          type: number
        normalized_job_title:
          description: Normalized job title
          title: normalized_job_title
          type: string
      title: JobSkill
      type: object
    JobSkills:
      example:
        skills:
        - level: 6.027456183070403
          importance: 0.8008281904610115
          skill_name: skill_name
          skill_uuid: skill_uuid
          description: description
          normalized_skill_name: normalized_skill_name
        - level: 6.027456183070403
          importance: 0.8008281904610115
          skill_name: skill_name
          skill_uuid: skill_uuid
          description: description
          normalized_skill_name: normalized_skill_name
        job_uuid: job_uuid
        normalized_job_title: normalized_job_title
        job_title: job_title
      properties:
        job_title:
          description: Title of the job associated with the UUID
          title: job_title
          type: string
        job_uuid:
          description: Universally Unique Identifier for the job
          title: job_uuid
          type: string
        normalized_job_title:
          description: Normalized title of the job associated with the UUID
          title: normalized_job_title
          type: string
        skills:
          items:
            $ref: '#/components/schemas/SkillJob'
          title: skills
          type: array
      title: JobSkills
      type: object
    Jobs:
      items:
        $ref: '#/components/schemas/Job'
      properties:
        links:
          items:
            $ref: '#/components/schemas/PageLink'
          type: array
      type: array
    NormalizedJob:
      example:
        parent_uuid: parent_uuid
        title: title
        uuid: uuid
        relevance_score: relevance_score
      properties:
        parent_uuid:
          description: Universal Unique Identifier for the canonical job title
          title: parent_uuid
          type: string
        relevance_score:
          description: Relevance score for job title.
          title: relevance_score
          type: string
        title:
          description: Job title for the synonymous job title
          title: title
          type: string
        uuid:
          description: Universally Unique Identifier for the synonymous job title
          title: uuid
          type: string
      title: NormalizedJob
      type: object
    NormalizedJobs:
      items:
        $ref: '#/components/schemas/NormalizedJob'
      type: array
    NormalizedSkill:
      example:
        skill_name: skill_name
        uuid: uuid
      properties:
        skill_name:
          description: Canonical skill name
          title: skill_name
          type: string
        uuid:
          description: Universally Unique Identifier for the canonical skill name
          title: uuid
          type: string
      title: NormalizedSkill
      type: object
    NormalizedSkills:
      items:
        $ref: '#/components/schemas/NormalizedSkill'
      type: array
    PageLink:
      properties:
        href:
          description: Link URI
          type: string
        rel:
          description: "Link descriptor (e.g. self, first, prev, next, last)"
          type: string
      type: object
    Skill:
      example:
        name: name
        normalized_skill_name: normalized_skill_name
        onet_element_id: onet_element_id
        uuid: uuid
      properties:
        name:
          description: Skill name
          title: name
          type: string
        normalized_skill_name:
          description: Normalized skill name
          title: normalized_skill_name
          type: string
        onet_element_id:
          description: O*NET Element Identifier
          title: onet_element_id
          type: string
        uuid:
          description: Universally Unique Identifier for the skill
          title: uuid
          type: string
      title: Skill
      type: object
    SkillJob:
      example:
        level: 6.027456183070403
        importance: 0.8008281904610115
        skill_name: skill_name
        skill_uuid: skill_uuid
        description: description
        normalized_skill_name: normalized_skill_name
      properties:
        description:
          description: Description of the skill
          title: description
          type: string
        importance:
          description: O*NET importance score
          title: importance
          type: number
        level:
          description: O*NET level score
          title: level
          type: number
        normalized_skill_name:
          description: Normalized skill name
          title: normalized_skill_name
          type: string
        skill_name:
          description: Name of the skill
          title: skill_name
          type: string
        skill_uuid:
          description: Universally Unique Identifier for the skill
          title: skill_uuid
          type: string
      title: SkillJob
      type: object
    SkillJobs:
      example:
        normalized_job_title: normalized_job_title
        jobs:
        - job_uuid: job_uuid
          normalized_job_title: normalized_job_title
          level: 6.027456183070403
          importance: 0.8008281904610115
          job_title: job_title
        - job_uuid: job_uuid
          normalized_job_title: normalized_job_title
          level: 6.027456183070403
          importance: 0.8008281904610115
          job_title: job_title
        skill_name: skill_name
        skill_uuid: skill_uuid
      properties:
        jobs:
          items:
            $ref: '#/components/schemas/JobSkill'
          title: jobs
          type: array
        normalized_job_title:
          description: Normalized title of the job associated with the UUID
          title: normalized_job_title
          type: string
        skill_name:
          description: Title of the job associated with the UUID
          title: skill_name
          type: string
        skill_uuid:
          description: Universally Unique Identifier for the job
          title: skill_uuid
          type: string
      title: SkillJobs
      type: object
    SkillRelatedSkill:
      example:
        skill_name: skill_name
        uuid: uuid
      properties:
        skill_name:
          description: Skill name
          title: skill_name
          type: string
        uuid:
          description: Universally Unique Identifier for the skill
          title: uuid
          type: string
      title: SkillRelatedSkill
      type: object
    SkillRelatedSkills:
      example:
        related_skill_name:
        - skill_name: skill_name
          uuid: uuid
        - skill_name: skill_name
          uuid: uuid
        uuid: uuid
      properties:
        related_skill_name:
          items:
            $ref: '#/components/schemas/SkillRelatedSkill'
          title: related_skill_name
          type: array
        uuid:
          description: Universally Unique Identifier for the skills
          title: uuid
          type: string
      title: SkillRelatedSkills
      type: object
    Skills:
      items:
        $ref: '#/components/schemas/Skill'
      properties:
        links:
          items:
            $ref: '#/components/schemas/PageLink'
          type: array
      type: array
x-original-swagger-version: "2.0"
