openapi: 3.0.1
info:
  description: Microsoft Storage Sync Service API
  title: Microsoft Storage Sync
  version: 2019-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: StorageSyncManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2019-03-01/storagesync.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: storagesync
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.StorageSync/operations:
    get:
      deprecated: false
      description: Lists all of the available Storage Sync Rest API operations.
      operationId: operations_list
      parameters:
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationEntityListResult'
          description: Array of operations resources in the Resource Provider
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - ResourceProvider
      - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2019-03-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Read any Storage Sync Services
                    operation: Read Storage Sync Services
                    provider: Microsoft.StorageSync
                    resource: Storage Sync Services
                  name: Microsoft.StorageSync/storageSyncServices/read
                  origin: User
                - display:
                    description: Create or Update any Storage Sync Services
                    operation: Create or Update Storage Sync Services
                    provider: Microsoft.StorageSync
                    resource: Storage Sync Services
                  name: Microsoft.StorageSync/storageSyncServices/write
                  origin: User
                - display:
                    description: Delete any Storage Sync Services
                    operation: Delete Storage Sync Services
                    provider: Microsoft.StorageSync
                    resource: Storage Sync Services
                  name: Microsoft.StorageSync/storageSyncServices/delete
                  origin: User
                - display:
                    description: Read any Sync Groups
                    operation: Read Sync Groups
                    provider: Microsoft.StorageSync
                    resource: Sync Groups
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/read
                  origin: User
                - display:
                    description: Create or Update any Sync Groups
                    operation: Create or Update Sync Groups
                    provider: Microsoft.StorageSync
                    resource: Sync Groups
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/write
                  origin: User
                - display:
                    description: Delete any Sync Groups
                    operation: Delete Sync Groups
                    provider: Microsoft.StorageSync
                    resource: Sync Groups
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/delete
                  origin: User
                - display:
                    description: Read any Cloud Endpoints
                    operation: Read Cloud Endpoints
                    provider: Microsoft.StorageSync
                    resource: Cloud Endpoints
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/read
                  origin: User
                - display:
                    description: Create or Update any Cloud Endpoints
                    operation: Create or Update Cloud Endpoints
                    provider: Microsoft.StorageSync
                    resource: Cloud Endpoints
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/write
                  origin: User
                - display:
                    description: Delete any Cloud Endpoints
                    operation: Delete Cloud Endpoints
                    provider: Microsoft.StorageSync
                    resource: Cloud Endpoints
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/delete
                  origin: User
                - display:
                    description: Call this action before backup
                    operation: prebackup
                    provider: Microsoft.StorageSync
                    resource: Cloud Endpoints
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/prebackup/action
                  origin: User
                - display:
                    description: Call this action after backup
                    operation: postbackup
                    provider: Microsoft.StorageSync
                    resource: Cloud Endpoints
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/postbackup/action
                  origin: User
                - display:
                    description: Call this action before restore
                    operation: prerestore
                    provider: Microsoft.StorageSync
                    resource: Cloud Endpoints
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/prerestore/action
                  origin: User
                - display:
                    description: Call this action after restore
                    operation: postrestore
                    provider: Microsoft.StorageSync
                    resource: Cloud Endpoints
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/postrestore/action
                  origin: User
                - display:
                    description: Read any Server Endpoints
                    operation: Read Server Endpoints
                    provider: Microsoft.StorageSync
                    resource: Server Endpoints
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints/read
                  origin: User
                - display:
                    description: Create or Update any Server Endpoints
                    operation: Create or Update Server Endpoints
                    provider: Microsoft.StorageSync
                    resource: Server Endpoints
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints/write
                  origin: User
                - display:
                    description: Delete any Server Endpoints
                    operation: Delete Server Endpoints
                    provider: Microsoft.StorageSync
                    resource: Server Endpoints
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints/delete
                  origin: User
                - display:
                    description: Call this action to recall files to a server
                    operation: recallAction
                    provider: Microsoft.StorageSync
                    resource: Server Endpoints
                  name: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints/recallAction/action
                  origin: User
                - display:
                    description: Read any Registered Server
                    operation: Read Registered Server
                    provider: Microsoft.StorageSync
                    resource: Registered Server
                  name: Microsoft.StorageSync/storageSyncServices/registeredServers/read
                  origin: User
                - display:
                    description: Create or Update any Registered Server
                    operation: Create or Update Registered Server
                    provider: Microsoft.StorageSync
                    resource: Registered Server
                  name: Microsoft.StorageSync/storageSyncServices/registeredServers/write
                  origin: User
                - display:
                    description: Delete any Registered Server
                    operation: Delete Registered Server
                    provider: Microsoft.StorageSync
                    resource: Registered Server
                  name: Microsoft.StorageSync/storageSyncServices/registeredServers/delete
                  origin: User
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.resource_provider_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/locations/{locationName}/checkNameAvailability:
    post:
      description: Check the give namespace name availability.
      operationId: storage_sync_services_check_name_availability
      parameters:
      - description: The desired region for the name check.
        in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: Parameters to check availability of the given namespace name
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: check availability returned successfully.
      tags:
      - StorageSyncService
      x-ms-examples:
        StorageSyncServiceCheckNameAvailability_AlreadyExists:
          parameters:
            api-version: 2019-03-01
            locationName: westus
            parameters:
              name: newstoragesyncservicename
              type: Microsoft.StorageSync/storageSyncServices
            subscriptionId: 5c6bc8e1-1eaf-4192-94d8-58ce463ac86c
          responses:
            "200":
              body:
                message: An account named 'newstoragesyncservicename' is already in
                  use.
                nameAvailable: false
                reason: AlreadyExists
        StorageSyncServiceCheckNameAvailability_Available:
          parameters:
            api-version: 2019-03-01
            locationName: westus
            parameters:
              name: newstoragesyncservicename
              type: Microsoft.StorageSync/storageSyncServices
            subscriptionId: 5c6bc8e1-1eaf-4192-94d8-58ce463ac86c
          responses:
            "200":
              body:
                nameAvailable: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.storage_sync_service_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/storageSyncServices:
    get:
      description: Get a StorageSyncService list by subscription.
      operationId: storage_sync_services_list_by_subscription
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncServiceArray'
          description: Array of registered Storage Sync Service resources in the subscription.
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_ListBySubscription:
          parameters:
            api-version: 2019-03-01
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1
                  location: WestUS
                  name: SampleStorageSyncService_1
                  properties:
                    storageSyncServiceStatus: 0
                    storageSyncServiceUid: '"3d1bf292-0f2a-4cc1-a3e1-60f35800e40c"'
                  tags: {}
                  type: Microsoft.StorageSync/storageSyncServices
                - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_2
                  location: WestUS
                  name: SampleStorageSyncService_2
                  properties:
                    storageSyncServiceStatus: 0
                    storageSyncServiceUid: '"2de01144-72da-4d7f-9d0c-e858855114a8"'
                  tags: {}
                  type: Microsoft.StorageSync/storageSyncServices
                - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_3
                  location: WestUS
                  name: SampleStorageSyncService_3
                  properties:
                    storageSyncServiceStatus: 0
                    storageSyncServiceUid: '"b2c58ee5-933e-462c-8a9e-b30f2bdd8fa3"'
                  tags: {}
                  type: Microsoft.StorageSync/storageSyncServices
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.storage_sync_services_resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/locations/{locationName}/workflows/{workflowId}/operations/{operationId}
  : get:
      description: Get Operation status
      operationId: operation_status_get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The desired region to obtain information from.
        in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: workflow Id
        in: path
        name: workflowId
        required: true
        schema:
          type: string
      - description: operation Id
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: Operation Status
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - Operation Status
      x-ms-examples:
        Workflows_Get:
          parameters:
            api-version: 2019-03-01
            locationName: westus
            operationId: 14b50e24-f68d-4b29-a882-38be9dfb8bd1
            resourceGroupName: SampleResourceGroup_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            workflowId: 828219ea-083e-48b5-89ea-8fd9991b2e75
          responses:
            "200":
              body:
                endTime: 2019-05-09T23:53:23.3735483Z
                name: 14b50e24-f68d-4b29-a882-38be9dfb8bd1
                startTime: 2019-05-09T23:53:21.7328715Z
                status: Succeeded
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-openapi-router-controller: openapi_server.controllers.operation_status_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices:
    get:
      description: Get a StorageSyncService list by Resource group name.
      operationId: storage_sync_services_list_by_resource_group
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncServiceArray'
          description: Array of registered Storage Sync Service resources in the Resource
            Group
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_ListByResourceGroup:
          parameters:
            api-version: 2019-03-01
            resourceGroupName: SampleResourceGroup_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1
                  location: WestUS
                  name: SampleStorageSyncService_1
                  properties:
                    storageSyncServiceStatus: 0
                    storageSyncServiceUid: '"3d1bf292-0f2a-4cc1-a3e1-60f35800e40c"'
                  tags: {}
                  type: Microsoft.StorageSync/storageSyncServices
                - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_2
                  location: WestUS
                  name: SampleStorageSyncService_2
                  properties:
                    storageSyncServiceStatus: 0
                    storageSyncServiceUid: '"2de01144-72da-4d7f-9d0c-e858855114a8"'
                  tags: {}
                  type: Microsoft.StorageSync/storageSyncServices
                - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_3
                  location: WestUS
                  name: SampleStorageSyncService_3
                  properties:
                    storageSyncServiceStatus: 0
                    storageSyncServiceUid: '"b2c58ee5-933e-462c-8a9e-b30f2bdd8fa3"'
                  tags: {}
                  type: Microsoft.StorageSync/storageSyncServices
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.storage_sync_services_resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}
  : delete:
      description: Delete a given StorageSyncService.
      operationId: storage_sync_services_delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Storage Sync Service object was deleted.
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        "204":
          content: {}
          description: Storage Sync Service Resource doesn't exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_Delete:
          parameters:
            api-version: 2019-03-01
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.storage_sync_services_resource_controller
    get:
      description: Get a given StorageSyncService.
      operationId: storage_sync_services_get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncService'
          description: Storage Sync Service object
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_Get:
          parameters:
            api-version: 2019-03-01
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1
                location: WestUS
                name: SampleStorageSyncService_1
                properties:
                  storageSyncServiceStatus: 0
                  storageSyncServiceUid: '"2de01144-72da-4d7f-9d0c-e858855114a8"'
                tags: {}
                type: Microsoft.StorageSync/storageSyncServices
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-openapi-router-controller: openapi_server.controllers.storage_sync_services_resource_controller
    patch:
      description: Patch a given StorageSyncService.
      operationId: storage_sync_services_update
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageSyncServiceUpdateParameters'
        description: Storage Sync Service resource.
        required: false
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncService'
          description: Storage Sync Service object created/updated
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_Update:
          parameters:
            api-version: 2019-03-01
            parameters:
              tags:
                Dept: IT
                Environment: Test
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1
                location: WestUS
                name: SampleStorageSyncService_1
                tags:
                  Dept: IT
                  Environment: Test
                type: Microsoft.StorageSync/storageSyncServices
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.storage_sync_services_resource_controller
    put:
      description: Create a new StorageSyncService.
      operationId: storage_sync_services_create
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageSyncServiceCreateParameters'
        description: Storage Sync Service resource name.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncService'
          description: Storage Sync Service object created/updated
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_Create:
          parameters:
            api-version: 2019-03-01
            parameters:
              location: WestUS
              tags: {}
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1
                location: WestUS
                name: SampleStorageSyncService_1
                tags: {}
                type: Microsoft.StorageSync/storageSyncServices
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.storage_sync_services_resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers
  : get:
      description: Get a given registered server list.
      operationId: registered_servers_list_by_storage_sync_service
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredServerArray'
          description: Array of Registered Server resources in Storage Sync Service
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - RegisteredServer Resource
      x-ms-examples:
        RegisteredServers_ListByStorageSyncService:
          parameters:
            api-version: 2019-03-01
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/registeredServers/080d4133-bdb5-40a0-96a0-71a6057bfe9a
                  name: SampleRegisteredServer_1.redmond.corp.microsoft.com
                  properties:
                    agentVersion: 3.1.5.0
                    clusterId: '"00000000-0000-0000-0000-000000000000"'
                    clusterName: ""
                    discoveryEndpointUri: '"https://kailanitest99.one.microsoft.com:443"'
                    friendlyName: afscv-2304-139
                    lastHeartBeat: '"2018-06-11T21:50:40.5840543Z"'
                    lastOperationName: ICreateRegisteredServerWorkflow
                    lastWorkflowId: storageSyncServices/CV_FileStore_F1D485AA/workflows/4eecfbcf-9537-4b61-8fee-aaa3ace11c44
                    managementEndpointUri: '"https://kailanitest99.one.microsoft.com:443/"'
                    provisioningState: Succeeded
                    resourceLocation: westus
                    serverId: '"3635ca8b-5cc8-4a5c-bd43-c2de5ad8dc64"'
                    serverManagementErrorCode: 0
                    serverOSVersion: 10.0.14393.0
                    serverRole: Standalone
                    serviceLocation: westus
                    storageSyncServiceUid: '"4aa14534-1c61-483b-b6a6-9630a76f109a"'
                  type: Microsoft.StorageSync/storageSyncServices/registeredServers
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.registered_server_resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}
  : delete:
      description: Delete the given registered server.
      operationId: registered_servers_delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: GUID identifying the on-premises server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Ok
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        "202":
          content: {}
          description: Asynchronous Operation Status Location
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
        "204":
          content: {}
          description: Resource doesn't exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - RegisteredServer Resource
      x-ms-examples:
        RegisteredServers_Delete:
          parameters:
            api-version: 2019-03-01
            resourceGroupName: SampleResourceGroup_1
            serverId: 41166691-ab03-43e9-ab3e-0330eda162ac
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/cdb963fd-ea36-457e-9222-f85754ff398c/operations/20675646-8111-4158-954b-6b637e922cbf?api-version=2019-03-01
                Location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/cdb963fd-ea36-457e-9222-f85754ff398c/operationresults/20675646-8111-4158-954b-6b637e922cbf?api-version=2019-03-01
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.registered_server_resource_controller
    get:
      description: Get a given registered server.
      operationId: registered_servers_get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: GUID identifying the on-premises server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredServer'
          description: Registered Server resources in Sync Group
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - RegisteredServer Resource
      x-ms-examples:
        RegisteredServers_Get:
          parameters:
            api-version: 2019-03-01
            resourceGroupName: SampleResourceGroup_1
            serverId: 080d4133-bdb5-40a0-96a0-71a6057bfe9a
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/registeredServers/080d4133-bdb5-40a0-96a0-71a6057bfe9a
                name: SampleRegisteredServer_1.redmond.corp.microsoft.com
                properties:
                  agentVersion: 3.1.5.0
                  clusterId: '"00000000-0000-0000-0000-000000000000"'
                  clusterName: ""
                  discoveryEndpointUri: '"https://kailanitest99.one.microsoft.com:443"'
                  friendlyName: afscv-2304-139
                  lastHeartBeat: '"2018-06-11T21:50:40.5840543Z"'
                  lastOperationName: ICreateRegisteredServerWorkflow
                  lastWorkflowId: storageSyncServices/CV_FileStore_F1D485AA/workflows/4eecfbcf-9537-4b61-8fee-aaa3ace11c44
                  managementEndpointUri: '"https://kailanitest99.one.microsoft.com:443/"'
                  provisioningState: Succeeded
                  resourceLocation: westus
                  serverId: '"3635ca8b-5cc8-4a5c-bd43-c2de5ad8dc64"'
                  serverManagementErrorCode: 0
                  serverOSVersion: 10.0.14393.0
                  serverRole: Standalone
                  serviceLocation: westus
                  storageSyncServiceUid: '"4aa14534-1c61-483b-b6a6-9630a76f109a"'
                type: Microsoft.StorageSync/storageSyncServices/registeredServers
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-openapi-router-controller: openapi_server.controllers.registered_server_resource_controller
    put:
      description: Add a new registered server.
      operationId: registered_servers_create
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: GUID identifying the on-premises server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisteredServerCreateParameters'
        description: Body of Registered Server object.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredServer'
          description: Registered Server resources in Sync Group
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        "202":
          content: {}
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - RegisteredServer Resource
      x-ms-examples:
        RegisteredServers_Create:
          parameters:
            api-version: 2019-03-01
            parameters:
              name: SampleServer-prod3.redmond.corp.microsoft.com
              properties:
                agentVersion: 1.0.277.0
                lastHeartBeat: '"2017-08-08T18:29:06.470652Z"'
                serverCertificate: '"MIIDFjCCAf6gAwIBAgIQQS+DS8uhc4VNzUkTw7wbRjANBgkqhkiG9w0BAQ0FADAzMTEwLwYDVQQDEyhhbmt1c2hiLXByb2QzLnJlZG1vbmQuY29ycC5taWNyb3NvZnQuY29tMB4XDTE3MDgwMzE3MDQyNFoXDTE4MDgwNDE3MDQyNFowMzExMC8GA1UEAxMoYW5rdXNoYi1wcm9kMy5yZWRtb25kLmNvcnAubWljcm9zb2Z0LmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALDRvV4gmsIy6jGDPiHsXmvgVP749NNP7DopdlbHaNhjFmYINHl0uWylyaZmgJrROt2mnxN/zEyJtGnqYHlzUr4xvGq/qV5pqgdB9tag/sw9i22gfe9PRZ0FmSOZnXMbLYgLiDFqLtut5gHcOuWMj03YnkfoBEKlFBxWbagvW2yxz/Sxi9OVSJOKCaXra0RpcIHrO/KFl6ho2eE1/7Ykmfa8hZvSdoPd5gHdLiQcMB/pxq+mWp1fI6c8vFZoDu7Atn+NXTzYPKUxKzaisF12TsaKpohUsJpbB3Wocb0F5frn614D2pg14ERB5otjAMWw1m65csQWPI6dP8KIYe0+QPkCAwEAAaMmMCQwIgYDVR0lAQH/BBgwFgYIKwYBBQUHAwIGCisGAQQBgjcKAwwwDQYJKoZIhvcNAQENBQADggEBAA4RhVIBkw34M1RwakJgHvtjsOFxF1tVQA941NtLokx1l2Z8+GFQkcG4xpZSt+UN6wLerdCbnNhtkCErWUDeaT0jxk4g71Ofex7iM04crT4iHJr8mi96/XnhnkTUs+GDk12VgdeeNEczMZz+8Mxw9dJ5NCnYgTwO0SzGlclRsDvjzkLo8rh2ZG6n/jKrEyNXXo+hOqhupij0QbRP2Tvexdfw201kgN1jdZify8XzJ8Oi0bTS0KpJf2pNPOlooK2bjMUei9ANtEdXwwfVZGWvVh6tJjdv6k14wWWJ1L7zhA1IIVb1J+sQUzJji5iX0DrezjTz1Fg+gAzITaA/WsuujlM="'
                serverOSVersion: 10.0.14393.0
                serverRole: Standalone
              type: Microsoft.StorageSync/storageSyncServices/registeredServers
            resourceGroupName: SampleResourceGroup_1
            serverId: '"080d4133-bdb5-40a0-96a0-71a6057bfe9a"'
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                id: /subscriptions/52b8da2f-61e0-4a1f-8dde-336911f367fb/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/registeredServers/530a0384-50ac-456d-8240-9d6621404151
                name: ankushb-prod3.redmond.corp.microsoft.com
                properties:
                  agentVersion: 3.1.5.0
                  clusterId: '"00000000-0000-0000-0000-000000000000"'
                  clusterName: ""
                  discoveryEndpointUri: '"https://kailanitest99.one.microsoft.com:443"'
                  friendlyName: afscv-2304-139
                  lastHeartBeat: '"2018-06-11T21:50:40.5840543Z"'
                  lastOperationName: ICreateRegisteredServerWorkflow
                  lastWorkflowId: storageSyncServices/CV_FileStore_F1D485AA/workflows/4eecfbcf-9537-4b61-8fee-aaa3ace11c44
                  managementEndpointUri: '"https://kailanitest99.one.microsoft.com:443/"'
                  provisioningState: Succeeded
                  resourceLocation: westus
                  serverId: '"3635ca8b-5cc8-4a5c-bd43-c2de5ad8dc64"'
                  serverManagementErrorCode: 0
                  serverOSVersion: 10.0.14393.0
                  serverRole: Standalone
                  serviceLocation: westus
                  storageSyncServiceUid: '"4aa14534-1c61-483b-b6a6-9630a76f109a"'
                type: Microsoft.StorageSync/storageSyncServices/registeredServers
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/63e554fd-4d27-4b91-8249-2fc697de7c69/operations/d4b00aa1-7ae0-47f0-9fa7-7ed3ea527bc9?api-version=2019-03-01
                Location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/63e554fd-4d27-4b91-8249-2fc697de7c69/operationresults/d4b00aa1-7ae0-47f0-9fa7-7ed3ea527bc9?api-version=2019-03-01
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.registered_server_resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}/triggerRollover
  : post:
      description: Triggers Server certificate rollover.
      operationId: registered_servers_trigger_rollover
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: Server Id
        in: path
        name: serverId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerRolloverRequest'
        description: Body of Trigger Rollover request.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content: {}
          description: Trigger Rollover success status
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        "202":
          content: {}
          description: Asynchronous Operation Status Location
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - RegisteredServer Resource
      - Actions
      x-ms-examples:
        RegisteredServers_triggerRollover:
          parameters:
            api-version: 2019-03-01
            parameters:
              serverCertificate: '"MIIDFjCCAf6gAwIBAgIQQS+DS8uhc4VNzUkTw7wbRjANBgkqhkiG9w0BAQ0FADAzMTEwLwYDVQQDEyhhbmt1c2hiLXByb2QzLnJlZG1vbmQuY29ycC5taWNyb3NvZnQuY29tMB4XDTE3MDgwMzE3MDQyNFoXDTE4MDgwNDE3MDQyNFowMzExMC8GA1UEAxMoYW5rdXNoYi1wcm9kMy5yZWRtb25kLmNvcnAubWljcm9zb2Z0LmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALDRvV4gmsIy6jGDPiHsXmvgVP749NNP7DopdlbHaNhjFmYINHl0uWylyaZmgJrROt2mnxN/zEyJtGnqYHlzUr4xvGq/qV5pqgdB9tag/sw9i22gfe9PRZ0FmSOZnXMbLYgLiDFqLtut5gHcOuWMj03YnkfoBEKlFBxWbagvW2yxz/Sxi9OVSJOKCaXra0RpcIHrO/KFl6ho2eE1/7Ykmfa8hZvSdoPd5gHdLiQcMB/pxq+mWp1fI6c8vFZoDu7Atn+NXTzYPKUxKzaisF12TsaKpohUsJpbB3Wocb0F5frn614D2pg14ERB5otjAMWw1m65csQWPI6dP8KIYe0+QPkCAwEAAaMmMCQwIgYDVR0lAQH/BBgwFgYIKwYBBQUHAwIGCisGAQQBgjcKAwwwDQYJKoZIhvcNAQENBQADggEBAA4RhVIBkw34M1RwakJgHvtjsOFxF1tVQA941NtLokx1l2Z8+GFQkcG4xpZSt+UN6wLerdCbnNhtkCErWUDeaT0jxk4g71Ofex7iM04crT4iHJr8mi96/XnhnkTUs+GDk12VgdeeNEczMZz+8Mxw9dJ5NCnYgTwO0SzGlclRsDvjzkLo8rh2ZG6n/jKrEyNXXo+hOqhupij0QbRP2Tvexdfw201kgN1jdZify8XzJ8Oi0bTS0KpJf2pNPOlooK2bjMUei9ANtEdXwwfVZGWvVh6tJjdv6k14wWWJ1L7zhA1IIVb1J+sQUzJji5iX0DrezjTz1Fg+gAzITaA/WsuujlM="'
            resourceGroupName: SampleResourceGroup_1
            serverId: d166ca76-dad2-49df-b409-12345642d730
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d222
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47222
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/828219ea-083e-48b5-89ea-8fd9991b2e75/operations/fe680c98-5725-49c8-b0dc-5e29745f752b?api-version=2019-03-01
                Location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/828219ea-083e-48b5-89ea-8fd9991b2e75/operationresults/fe680c98-5725-49c8-b0dc-5e29745f752b?api-version=2019-03-01
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.registered_server_resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups
  : get:
      description: Get a SyncGroup List.
      operationId: sync_groups_list_by_storage_sync_service
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroupArray'
          description: Array of Sync Group resources in Storage Sync Service
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - SyncGroup Resource
      x-ms-examples:
        SyncGroups_ListByStorageSyncService:
          parameters:
            api-version: 2019-03-01
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SSS_Restore_08-08_Test112/syncGroups/SampleSyncGroup_1
                  name: SampleSyncGroup_1
                  properties:
                    syncGroupStatus: "0"
                    uniqueId: 191660cd-6a1a-4f8c-9787-a6bed206a1dd
                  type: Microsoft.StorageSync/storageSyncServices/syncGroups
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.sync_group_resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}
  : delete:
      description: Delete a given SyncGroup.
      operationId: sync_groups_delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: Name of Sync Group resource.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Sync Group object was deleted
          headers:
            x-ms-request-id:
              description: Request id
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id
              schema:
                type: string
        "204":
          content: {}
          description: Resource doesn't exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - SyncGroup Resource
      x-ms-examples:
        SyncGroups_Delete:
          parameters:
            api-version: 2019-03-01
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.sync_group_resource_controller
    get:
      description: Get a given SyncGroup.
      operationId: sync_groups_get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: Name of Sync Group resource.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroup'
          description: Sync Group object
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - SyncGroup Resource
      x-ms-examples:
        SyncGroups_Get:
          parameters:
            api-version: 2019-03-01
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SSS_Restore_08-08_Test112/syncGroups/SampleSyncGroup_1
                name: SampleSyncGroup_1
                properties:
                  syncGroupStatus: "0"
                  uniqueId: 191660cd-6a1a-4f8c-9787-a6bed206a1dd
                type: Microsoft.StorageSync/storageSyncServices/syncGroups
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-openapi-router-controller: openapi_server.controllers.sync_group_resource_controller
    put:
      description: Create a new SyncGroup.
      operationId: sync_groups_create
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: Name of Sync Group resource.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncGroupCreateParameters'
        description: Sync Group Body
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroup'
          description: Sync Group object
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - SyncGroup Resource
      x-ms-examples:
        SyncGroups_Create:
          parameters:
            api-version: 2019-03-01
            parameters:
              type: Microsoft.StorageSync/storageSyncServices/syncGroups
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/syncGroups/SampleSyncGroup_1
                name: SampleSyncGroup_1
                properties:
                  uniqueId: 7868e4ee-8ddd-4a2d-941b-0041f6052a8a
                type: Microsoft.StorageSync/storageSyncServices/syncGroups
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.sync_group_resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints
  : get:
      description: Get a CloudEndpoint List.
      operationId: cloud_endpoints_list_by_sync_group
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: Name of Sync Group resource.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudEndpointArray'
          description: Array of Cloud Endpoint resources in Sync Group
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - CloudEndpoint Resource
      x-ms-examples:
        CloudEndpoints_ListBySyncGroup:
          parameters:
            api-version: 2019-03-01
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/syncGroups/SyncGroup_Restore_08-08_Test112/cloudEndpoints/CEP_Restore_08-08_Test112
                  name: CEP_Restore_08-08_Test112
                  properties:
                    azureFileShareName: ""
                    friendlyName: SampleAzureFileShareName_1
                    lastOperationName: ICreateCloudEndpointWorkflow
                    lastWorkflowId: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/a377fdd5-949a-40ab-9629-06cd0e9852f9
                    partnershipId: 1|U0VSVkVSQVNTWU5DQ0xJRU5Udfsdfdsfs8MTkxNjYwQ0QtNkExQS00RjhDLTk3ODctQTZCRUQyMDZBMUREfEdFTkVSSUN8M0EwNDgyODMtMzM4Ri00MDAyLUE5REQtQTUwRkRBRENCMzky
                    provisioningState: Succeeded
                    storageAccountResourceId: ""
                    storageAccountTenantId: '"a4d1b191-c1af-4cef-a14b-f670e0beea52"'
                  type: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.cloud_endpoint_resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}
  : delete:
      description: Delete a given CloudEndpoint.
      operationId: cloud_endpoints_delete
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: Name of Sync Group resource.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: Name of Cloud Endpoint object.
        in: path
        name: cloudEndpointName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Ok
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        "202":
          content: {}
          description: Asynchronous Operation Status Location
          headers:
            Retry-After:
              description: Retry After
              schema:
                type: string
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-request-id:
              description: Request id
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
        "204":
          content: {}
          description: Resource doesn't exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - CloudEndpoint Resource
      x-ms-examples:
        CloudEndpoints_Delete:
          parameters:
            api-version: 2019-03-01
            cloudEndpointName: SampleCloudEndpoint_1
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/78a71465-77ef-4509-a026-2c0cd8b30208/operations/2d7f573a-7acd-4a3c-9425-fed7d029c69d?api-version=2019-03-01
                Location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/78a71465-77ef-4509-a026-2c0cd8b30208/operationresults/2d7f573a-7acd-4a3c-9425-fed7d029c69d?api-version=2019-03-01
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.cloud_endpoint_resource_controller
    get:
      description: Get a given CloudEndpoint.
      operationId: cloud_endpoints_get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: Name of Sync Group resource.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: Name of Cloud Endpoint object.
        in: path
        name: cloudEndpointName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudEndpoint'
          description: Cloud Endpoint object
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - CloudEndpoint Resource
      x-ms-examples:
        CloudEndpoints_Get:
          parameters:
            api-version: 2019-03-01
            cloudEndpointName: SampleCloudEndpoint_1
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/syncGroups/SyncGroup_Restore_08-08_Test112/cloudEndpoints/CEP_Restore_08-08_Test112
                name: SampleCloudEndpoint_1
                properties:
                  azureFileShareName: ""
                  friendlyName: SampleAzureFileShareName_1
                  lastOperationName: ICreateCloudEndpointWorkflow
                  lastWorkflowId: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/a377fdd5-949a-40ab-9629-06cd0e9852f9
                  partnershipId: 1|U0VSVkVSQVNTWU5DQ0xJRU5USEZTVjJ8MTkxNjYwQ0QtNkExQS00RjhDLTk3ODctQTZCRUQyMDZBMUREfEdFTkVSSUN8M0EwNDgyODMtMzM4Ri00MDAyLUE5REQtQTUwRkRBRENCMzky
                  provisioningState: Succeeded
                  storageAccountResourceId: ""
                  storageAccountTenantId: '"a4d1b191-c1af-4cef-a14b-f670e0beea52"'
                type: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-openapi-router-controller: openapi_server.controllers.cloud_endpoint_resource_controller
    put:
      description: Create a new CloudEndpoint.
      operationId: cloud_endpoints_create
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: Name of Sync Group resource.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: Name of Cloud Endpoint object.
        in: path
        name: cloudEndpointName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudEndpointCreateParameters'
        description: Body of Cloud Endpoint resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudEndpoint'
          description: Cloud Endpoint object
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        "202":
          content: {}
          description: Asynchronous Operation Status Location
          headers:
            Retry-After:
              description: Retry After
              schema:
                type: string
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-request-id:
              description: Request id
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - CloudEndpoint Resource
      x-ms-examples:
        CloudEndpoints_Create:
          parameters:
            api-version: 2019-03-01
            cloudEndpointName: SampleCloudEndpoint_1
            parameters:
              properties:
                azureFileShareName: cvcloud-afscv-0719-058-a94a1354-a1fd-4e9a-9a50-919fad8c4ba4
                friendlyName: ankushbsubscriptionmgmtmab
                storageAccountResourceId: /subscriptions/744f4d70-6d17-4921-8970-a765d14f763f/resourceGroups/tminienv59svc/providers/Microsoft.Storage/storageAccounts/tminienv59storage
                storageAccountTenantId: '"72f988bf-86f1-41af-91ab-2d7cd011db47"'
              type: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/52b8da2f-61e0-4a1f-8dde-336911f367fb/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/syncGroups/SampleSyncGroup_1/cloudEndpoints/SampleCloudEndpoint_1
                name: SampleCloudEndpoint_1
                properties:
                  azureFileShareName: cvcloud-afscv-0719-058-a94a1354-a1fd-4e9a-9a50-919fad8c4ba4
                  backupEnabled: "false"
                  friendlyName: ankushbsubscriptionmgmtmab
                  lastOperationName: ICreateCloudEndpointWorkflow
                  lastWorkflowId: storageSyncServices/GATest/workflows/24ba0c4a-348e-419b-8f7a-091d0d9f07a4
                  partnershipId: 1|U0VSVkVSQVNTWU5DQ0xJRU5USEZTVjJ8RjhDODcwQTItMkFGNi00NDUyLTgzMDgtRjJCQTZEQjI3RkEwfEdFTkVSSUN8NTJCOERBMkYtNjFFMC00QTFGLThEREUtMzM2OTExRjM2N0ZC
                  provisioningState: Succeeded
                  storageAccountResourceId: /subscriptions/744f4d70-6d17-4921-8970-a765d14f763f/resourceGroups/tminienv59svc/providers/Microsoft.Storage/storageAccounts/tminienv59storage
                  storageAccountTenantId: '"72f988bf-86f1-41af-91ab-2d7cd011db47"'
                type: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncservice_1/workflows/c1d54be7-4738-4898-8212-cc36774314f8/operations/7ce689b2-0eca-48f5-86f0-0b8d6ceef14a?api-version=2019-03-01
                Location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncservice_1/workflows/c1d54be7-4738-4898-8212-cc36774314f8/operationresults/7ce689b2-0eca-48f5-86f0-0b8d6ceef14a?api-version=2019-03-01
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.cloud_endpoint_resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postbackup
  : post:
      description: Post Backup a given CloudEndpoint.
      operationId: cloud_endpoints_post_backup
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: Name of Sync Group resource.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: Name of Cloud Endpoint object.
        in: path
        name: cloudEndpointName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Body of Backup request.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostBackupResponse'
          description: Ok
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
        "202":
          content: {}
          description: Asynchronous Operation Status Location
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - CloudEndpoint Resource
      - Actions
      - Backup Restore
      x-ms-examples:
        CloudEndpoints_PostBackup:
          parameters:
            api-version: 2019-03-01
            cloudEndpointName: SampleCloudEndpoint_1
            parameters:
              azureFileShare: https://sampleserver.file.core.test-cint.azure-test.net/sampleFileShare
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                backupMetadata:
                  cloudEndpointName: subscriptions/52b8da2f-61e0-4a1f-8dde-336911f367fb/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/syncGroups/SampleSyncGroup_1/cloudEndpoints/SampleCloudEndpoint_1
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/HfsMabFS1/syncGroups/HfsMabDS1/cloudEndpoints/HfsMabCE1/operationresults/baa40401-b043-4d1b-a80b-cb4e79fa1398?api-version=2019-03-01&resourcetype=PostBackupResourceType&ifxctx3=1847a938-7638-4d1b-943c-96ff2f8a2ec8
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.cloud_endpoint_resource_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postrestore
  : post:
      description: Post Restore a given CloudEndpoint.
      operationId: cloud_endpoints_post_restore
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: Name of Storage Sync Service resource.
        in: path
        name: storageSyncServiceName
        required: true
        schema:
          type: string
      - description: Name of Sync Group resource.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: Name of Cloud Endpoint object.
        in: path
        name: cloudEndpointName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRestoreRequest'
        description: Body of Cloud Endpoint object.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content: {}
          description: Ok
        "202":
          content: {}
          description: Asynchronous Operation Status Location
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
          description: Error message indicating why the operation failed.
      tags:
      - CloudEndpoint Resource
      - Actions
[...]
