openapi: 3.0.1
info:
  description: "Provides create, read, update and delete functionality for Azure SQL\
    \ Database resources including servers, databases, elastic pools, recommendations,\
    \ operations, and usage metrics."
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/queries.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-queries
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries
  : get:
      description: Gets a list of top queries by database.
      operationId: queries_list_by_database
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopQueriesListResult'
          description: OK
      tags:
      - Queries
      x-ms-examples:
        List top queries:
          parameters:
            api-version: 2014-04-01
            databaseName: db1
            resourceGroupName: group1
            serverName: sqlcrudtest
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - aggregationFunction: sum
                  executionType: any
                  intervalType: PT1H
                  numberOfTopQueries: 1
                  observationEndTime: 2017-07-12T16:21:54.0916567Z
                  observationStartTime: 2017-07-11T16:21:54.0916567Z
                  observedMetric: cpu
                  queries:
                  - intervals:
                    - executionCount: 12
                      intervalStartTime: 2017-07-11T16:00:00
                      metrics:
                      - displayName: Cpu
                        name: cpu
                        unit: percentage
                        value: 7.63888888888889E-4
                      - displayName: Physical Io Reads
                        name: io
                        unit: percentage
                        value: 0
                      - displayName: Log Writes
                        name: logIo
                        unit: percentage
                        value: 0
                      - displayName: Memory consumption
                        name: memory
                        unit: KB
                        value: 0
                      - displayName: Query duration
                        name: duration
                        unit: microseconds
                        value: 3308
                    queryId: "19"
                  type: Microsoft.Sql/servers/databases/topQueries
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.queries_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries/{queryId}/queryText
  : get:
      description: Gets a query's text.
      operationId: query_texts_list_by_query
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The id of the query
        in: path
        name: queryId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTextListResult'
          description: OK
      tags:
      - Queries
      x-ms-examples:
        Get a query:
          parameters:
            api-version: 2014-04-01
            databaseName: db1
            queryId: "19"
            resourceGroupName: group1
            serverName: sqlcrudtest
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - name: current
                  queryText: select 1
                  type: Microsoft.Sql/servers/databases/topQueries/queryText
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.queries_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries/{queryId}/statistics
  : get:
      description: Lists a query's statistics.
      operationId: query_statistics_list_by_query
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The id of the query
        in: path
        name: queryId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryStatisticListResult'
          description: OK
      tags:
      - Queries
      x-ms-examples:
        Get a query:
          parameters:
            api-version: 2014-04-01
            databaseName: db1
            queryId: "19"
            resourceGroupName: group1
            serverName: sqlcrudtest
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - intervals:
                  - executionCount: 12
                    intervalStartTime: 2017-07-11T16:00:00
                    metrics:
                    - displayName: Cpu
                      name: cpu
                      unit: percentage
                      value: 7.63888888888889E-4
                    - displayName: Physical Io Reads
                      name: io
                      unit: percentage
                      value: 0
                    - displayName: Log Writes
                      name: logIo
                      unit: percentage
                      value: 0
                    - displayName: Memory consumption
                      name: memory
                      unit: KB
                      value: 0
                    - displayName: Query duration
                      name: duration
                      unit: microseconds
                      value: 3308
                  queryId: "19"
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.queries_controller
components:
  parameters:
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    QueryInterval:
      description: A database query.
      example:
        intervalStartTime: 2000-01-23T04:56:07.000+00:00
        executionCount: 6.027456183070403
        metrics:
        - unit: percentage
          displayName: displayName
          name: name
          value: 1.4658129805029452
        - unit: percentage
          displayName: displayName
          name: name
          value: 1.4658129805029452
      properties:
        executionCount:
          description: The number of times the query was executed during this interval.
          format: int32
          readOnly: true
          title: executionCount
          type: number
        intervalStartTime:
          description: The start time of the measurement interval (ISO8601 format).
          format: date-time
          readOnly: true
          title: intervalStartTime
          type: string
        metrics:
          description: The list of query metrics during this interval.
          items:
            $ref: '#/components/schemas/QueryMetric'
          readOnly: true
          title: metrics
          type: array
      title: QueryInterval
      type: object
    QueryMetric:
      description: A database query.
      example:
        unit: percentage
        displayName: displayName
        name: name
        value: 1.4658129805029452
      properties:
        displayName:
          description: The name of the metric for display in user interface
          readOnly: true
          title: displayName
          type: string
        name:
          description: The name of the metric
          readOnly: true
          title: name
          type: string
        unit:
          description: The unit of measurement
          enum:
          - percentage
          - KB
          - microseconds
          readOnly: true
          title: unit
          type: string
          x-ms-enum:
            modelAsString: false
            name: QueryMetricUnit
        value:
          description: The measured value
          format: double
          readOnly: true
          title: value
          type: number
      title: QueryMetric
      type: object
    QueryStatistic:
      description: A database query.
      example:
        intervals:
        - intervalStartTime: 2000-01-23T04:56:07.000+00:00
          executionCount: 6.027456183070403
          metrics:
          - unit: percentage
            displayName: displayName
            name: name
            value: 1.4658129805029452
          - unit: percentage
            displayName: displayName
            name: name
            value: 1.4658129805029452
        - intervalStartTime: 2000-01-23T04:56:07.000+00:00
          executionCount: 6.027456183070403
          metrics:
          - unit: percentage
            displayName: displayName
            name: name
            value: 1.4658129805029452
          - unit: percentage
            displayName: displayName
            name: name
            value: 1.4658129805029452
        queryId: queryId
      properties:
        intervals:
          description: The list of query intervals.
          items:
            $ref: '#/components/schemas/QueryInterval'
          readOnly: true
          title: intervals
          type: array
        queryId:
          description: The id of the query
          readOnly: true
          title: queryId
          type: string
      title: QueryStatistic
      type: object
    QueryStatisticListResult:
      description: Represents the response to a get query request.
      example:
        value:
        - intervals:
          - intervalStartTime: 2000-01-23T04:56:07.000+00:00
            executionCount: 6.027456183070403
            metrics:
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
          - intervalStartTime: 2000-01-23T04:56:07.000+00:00
            executionCount: 6.027456183070403
            metrics:
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
          queryId: queryId
        - intervals:
          - intervalStartTime: 2000-01-23T04:56:07.000+00:00
            executionCount: 6.027456183070403
            metrics:
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
          - intervalStartTime: 2000-01-23T04:56:07.000+00:00
            executionCount: 6.027456183070403
            metrics:
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
          queryId: queryId
      properties:
        value:
          description: The query.
          items:
            $ref: '#/components/schemas/QueryStatistic'
          title: value
          type: array
      required:
      - value
      title: QueryStatisticListResult
      type: object
    QueryText:
      example:
        name: name
        queryText: queryText
        type: type
      properties:
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        queryText:
          description: Query text.
          readOnly: true
          title: queryText
          type: string
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: QueryText
      type: object
    QueryTextListResult:
      description: Represents the response to a get query text request.
      example:
        value:
        - name: name
          queryText: queryText
          type: type
        - name: name
          queryText: queryText
          type: type
      properties:
        value:
          description: The query text.
          items:
            $ref: '#/components/schemas/QueryText'
          title: value
          type: array
      required:
      - value
      title: QueryTextListResult
      type: object
    TopQueries:
      description: A database query.
      example:
        intervalType: intervalType
        numberOfTopQueries: 0.8008281904610115
        observedMetric: cpu
        executionType: any
        aggregationFunction: min
        observationStartTime: 2000-01-23T04:56:07.000+00:00
        observationEndTime: 2000-01-23T04:56:07.000+00:00
        queries:
        - intervals:
          - intervalStartTime: 2000-01-23T04:56:07.000+00:00
            executionCount: 6.027456183070403
            metrics:
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
          - intervalStartTime: 2000-01-23T04:56:07.000+00:00
            executionCount: 6.027456183070403
            metrics:
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
          queryId: queryId
        - intervals:
          - intervalStartTime: 2000-01-23T04:56:07.000+00:00
            executionCount: 6.027456183070403
            metrics:
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
          - intervalStartTime: 2000-01-23T04:56:07.000+00:00
            executionCount: 6.027456183070403
            metrics:
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
            - unit: percentage
              displayName: displayName
              name: name
              value: 1.4658129805029452
          queryId: queryId
      properties:
        aggregationFunction:
          description: The function that is used to aggregate each query's metrics.
          enum:
          - min
          - max
          - avg
          - sum
          readOnly: true
          title: aggregationFunction
          type: string
          x-ms-enum:
            modelAsString: false
            name: QueryAggregationFunction
        executionType:
          description: The execution type that is used to filter the query instances
            that are returned.
          enum:
          - any
          - regular
          - irregular
          - aborted
          - exception
          readOnly: true
          title: executionType
          type: string
          x-ms-enum:
            modelAsString: false
            name: QueryExecutionType
        intervalType:
          description: The duration of the interval (ISO8601 duration format).
          readOnly: true
          title: intervalType
          type: string
        numberOfTopQueries:
          description: The number of requested queries.
          format: int32
          readOnly: true
          title: numberOfTopQueries
          type: number
        observationEndTime:
          description: The end time for queries that are returned (ISO8601 format)
          format: date-time
          readOnly: true
          title: observationEndTime
          type: string
        observationStartTime:
          description: The start time for queries that are returned (ISO8601 format)
          format: date-time
          readOnly: true
          title: observationStartTime
          type: string
        observedMetric:
          description: The type of metric to use for ordering the top metrics.
          enum:
          - cpu
          - io
          - logio
          - duration
          - executionCount
          readOnly: true
          title: observedMetric
          type: string
          x-ms-enum:
            modelAsString: false
            name: QueryObservedMetricType
        queries:
          description: The list of queries.
          items:
            $ref: '#/components/schemas/QueryStatistic'
          readOnly: true
          title: queries
          type: array
      title: TopQueries
      type: object
    TopQueriesListResult:
      description: Represents the response to a get top queries request.
      example:
        value:
        - intervalType: intervalType
          numberOfTopQueries: 0.8008281904610115
          observedMetric: cpu
          executionType: any
          aggregationFunction: min
          observationStartTime: 2000-01-23T04:56:07.000+00:00
          observationEndTime: 2000-01-23T04:56:07.000+00:00
          queries:
          - intervals:
            - intervalStartTime: 2000-01-23T04:56:07.000+00:00
              executionCount: 6.027456183070403
              metrics:
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
            - intervalStartTime: 2000-01-23T04:56:07.000+00:00
              executionCount: 6.027456183070403
              metrics:
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
            queryId: queryId
          - intervals:
            - intervalStartTime: 2000-01-23T04:56:07.000+00:00
              executionCount: 6.027456183070403
              metrics:
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
            - intervalStartTime: 2000-01-23T04:56:07.000+00:00
              executionCount: 6.027456183070403
              metrics:
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
            queryId: queryId
        - intervalType: intervalType
          numberOfTopQueries: 0.8008281904610115
          observedMetric: cpu
          executionType: any
          aggregationFunction: min
          observationStartTime: 2000-01-23T04:56:07.000+00:00
          observationEndTime: 2000-01-23T04:56:07.000+00:00
          queries:
          - intervals:
            - intervalStartTime: 2000-01-23T04:56:07.000+00:00
              executionCount: 6.027456183070403
              metrics:
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
            - intervalStartTime: 2000-01-23T04:56:07.000+00:00
              executionCount: 6.027456183070403
              metrics:
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
            queryId: queryId
          - intervals:
            - intervalStartTime: 2000-01-23T04:56:07.000+00:00
              executionCount: 6.027456183070403
              metrics:
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
            - intervalStartTime: 2000-01-23T04:56:07.000+00:00
              executionCount: 6.027456183070403
              metrics:
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
              - unit: percentage
                displayName: displayName
                name: name
                value: 1.4658129805029452
            queryId: queryId
      properties:
        value:
          description: The list of top queries.
          items:
            $ref: '#/components/schemas/TopQueries'
          title: value
          type: array
      required:
      - value
      title: TopQueriesListResult
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
