openapi: 3.0.1
info:
  description: |
    Postmark makes sending and receiving email
    incredibly easy. The Account-level API allows users to
    configure all Servers, Domains, and Sender Signatures associated
    with an Account.
  title: Postmark Account-level API
  version: 0.9.0
  x-apisguru-categories:
  - email
  x-logo:
    url: https://pbs.twimg.com/profile_images/879295889185157120/ZYlwxzeY_400x400.jpg
  x-origin:
  - format: swagger
    url: https://postmarkapp.com/swagger/account.yml
    version: "2.0"
  x-providerName: postmarkapp.com
  x-serviceName: account
servers:
- url: //api.postmarkapp.com/
paths:
  /domains:
    get:
      operationId: listDomains
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: Number of records to return per request. Max 500.
        in: query
        name: count
        required: true
        schema:
          maximum: 500
          minimum: 1
          type: integer
      - description: Number of records to skip
        in: query
        name: offset
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListingResults'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: List Domains
      tags:
      - Domains API
      x-accepts:
      - application/json
    post:
      operationId: createDomain
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCreationModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainExtendedInformation'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Create a Domain
      tags:
      - Domains API
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /domains/{domainid}:
    delete:
      operationId: deleteDomain
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Domain that should be deleted by the request.
        in: path
        name: domainid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Delete a Domain
      tags:
      - Domains API
      x-accepts:
      - application/json
    get:
      operationId: getDomain
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Domain that should be retrieved.
        in: path
        name: domainid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainExtendedInformation'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Get a Domain
      tags:
      - Domains API
      x-accepts:
      - application/json
    put:
      operationId: editDomain
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Domain that should be modified by the request.
        in: path
        name: domainid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainEditingModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainExtendedInformation'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Update a Domain
      tags:
      - Domains API
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /domains/{domainid}/rotatedkim:
    post:
      description: |
        Creates a new DKIM key to replace your current key. Until the DNS entries are confirmed,
        the new values will be in the `DKIMPendingHost` and `DKIMPendingTextValue` fields.
        After the new DKIM value is verified in DNS, the pending values will migrate to
        `DKIMTextValue` and `DKIMPendingTextValue` and Postmark will begin to sign emails
        with the new DKIM key.
      operationId: rotateDKIMKeyForDomain
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Sender Signature for which a new DKIM Key should
          be generated.
        in: path
        name: domainid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DKIMRotationResponse'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Rotate DKIM Key
      tags:
      - Domains API
      x-accepts:
      - application/json
  /domains/{domainid}/verifydkim:
    put:
      operationId: requestDkimVerificationForDomain
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Domain for which DKIM DNS records should be verified.
        in: path
        name: domainid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainExtendedInformation'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Request DNS Verification for DKIM
      tags:
      - Domains API
      x-accepts:
      - application/json
  /domains/{domainid}/verifyreturnpath:
    put:
      operationId: requestReturnPathVerificationForDomain
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Domain for which Return-Path DNS records should
          be verified.
        in: path
        name: domainid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainExtendedInformation'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Request DNS Verification for Return-Path
      tags:
      - Domains API
      x-accepts:
      - application/json
  /domains/{domainid}/verifyspf:
    post:
      operationId: requestSPFVerificationForDomain
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Domain for which SPF DNS records should be verified.
        in: path
        name: domainid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSPFResult'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Request DNS Verification for SPF
      tags:
      - Domains API
      x-accepts:
      - application/json
  /senders:
    get:
      operationId: listSenderSignatures
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: Number of records to return per request. Max 500.
        in: query
        name: count
        required: true
        schema:
          maximum: 500
          minimum: 1
          type: integer
      - description: Number of records to skip
        in: query
        name: offset
        required: true
        schema:
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderListingResults'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: List Sender Signatures
      tags:
      - Sender Signatures API
      x-accepts:
      - application/json
    post:
      operationId: createSenderSignature
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SenderSignatureCreationModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderSignatureExtendedInformation'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Create a Sender Signature
      tags:
      - Sender Signatures API
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /senders/{signatureid}:
    delete:
      operationId: deleteSenderSignature
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Sender Signature that should be deleted by the
          request.
        in: path
        name: signatureid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Delete a Sender Signature
      tags:
      - Sender Signatures API
      x-accepts:
      - application/json
    get:
      operationId: getSenderSignature
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Sender Signature that should be retrieved.
        in: path
        name: signatureid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderSignatureExtendedInformation'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Get a Sender Signature
      tags:
      - Sender Signatures API
      x-accepts:
      - application/json
    put:
      operationId: editSenderSignature
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Sender Signature that should be modified by the
          request.
        in: path
        name: signatureid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SenderSignatureEditingModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderSignatureExtendedInformation'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Update a Sender Signature
      tags:
      - Sender Signatures API
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /senders/{signatureid}/requestnewdkim:
    post:
      description: |
        Requests a new DKIM key to be created. Until the DNS entries are confirmed,
        the new values will be in the `DKIMPendingHost` and `DKIMPendingTextValue` fields.
        After the new DKIM value is verified in DNS, the pending values will migrate to
        `DKIMTextValue` and `DKIMPendingTextValue` and Postmark will begin to sign emails
        with the new DKIM key.
      operationId: requestNewDKIMKeyForSenderSignature
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Sender Signature for which a new DKIM Key should
          be generated.
        in: path
        name: signatureid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Request a new DKIM Key
      tags:
      - Sender Signatures API
      x-accepts:
      - application/json
  /senders/{signatureid}/resend:
    post:
      operationId: resendSenderSignatureConfirmationEmail
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Sender Signature that should have its confirmation
          email resent.
        in: path
        name: signatureid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Resend Signature Confirmation Email
      tags:
      - Sender Signatures API
      x-accepts:
      - application/json
  /senders/{signatureid}/verifyspf:
    post:
      operationId: requestSPFVerificationForSenderSignature
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID for the Sender Signature for which SPF DNS records should
          be verified.
        in: path
        name: signatureid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderSignatureExtendedInformation'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Request DNS Verification for SPF
      tags:
      - Sender Signatures API
      x-accepts:
      - application/json
  /servers:
    get:
      operationId: listServers
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: Number of servers to return per request.
        in: query
        name: count
        required: true
        schema:
          type: integer
      - description: Number of servers to skip.
        in: query
        name: offset
        required: true
        schema:
          type: integer
      - description: Filter by a specific server name
        in: query
        name: name
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerListingResponse'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: List servers
      tags:
      - Server Management API
      x-accepts:
      - application/json
    post:
      operationId: createServer
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServerPayload'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedServerInfo'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Create a Server
      tags:
      - Server Management API
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /servers/{serverid}:
    delete:
      operationId: deleteServer
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID of the Server that should be deleted.
        in: path
        name: serverid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content: {}
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Delete a Server
      tags:
      - Server Management API
      x-accepts:
      - application/json
    get:
      operationId: getServerInformation
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID of the Server to get.
        in: path
        name: serverid
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedServerInfo'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Get a Server
      tags:
      - Server Management API
      x-accepts:
      - application/json
    put:
      operationId: editServerInformation
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      - description: The ID of the Server to update.
        in: path
        name: serverid
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditServerPayload'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedServerInfo'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Edit a Server
      tags:
      - Server Management API
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /templates/push:
    put:
      operationId: pushTemplates
      parameters:
      - description: The token associated with the Account on which this request will
          operate.
        in: header
        name: X-Postmark-Account-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatesPushModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesPushResponse'
          description: ok
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPostmarkResponse'
          description: An error was generated due to incorrect use of the API. See
            the Message associated with this response for more information.
        "500":
          content: {}
          description: Indicates an internal server error occurred.
      summary: Push templates from one server to another
      tags:
      - Templates API
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  responses:
    "422":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardPostmarkResponse'
      description: An error was generated due to incorrect use of the API. See the
        Message associated with this response for more information.
    "500":
      content: {}
      description: Indicates an internal server error occurred.
  schemas:
    CreateServerPayload:
      description: ""
      example:
        ClickHookUrl: ClickHookUrl
        Color: Color
        DeliveryHookUrl: DeliveryHookUrl
        RawEmailEnabled: true
        TrackLinks: None
        InboundSpamThreshold: 0
        OpenHookUrl: OpenHookUrl
        BounceHookUrl: BounceHookUrl
        InboundHookUrl: InboundHookUrl
        Name: Name
        TrackOpens: true
        PostFirstOpenOnly: true
        InboundDomain: InboundDomain
        SmtpApiActivated: true
      properties:
        BounceHookUrl:
          type: string
        ClickHookUrl:
          type: string
        Color:
          type: string
        DeliveryHookUrl:
          type: string
        InboundDomain:
          type: string
        InboundHookUrl:
          type: string
        InboundSpamThreshold:
          type: integer
        Name:
          type: string
        OpenHookUrl:
          type: string
        PostFirstOpenOnly:
          type: boolean
        RawEmailEnabled:
          type: boolean
        SmtpApiActivated:
          type: boolean
        TrackLinks:
          enum:
          - None
          - HtmlAndTextTracking
          - HtmlOnlyTracking
          - TextOnlyTracking
          type: string
        TrackOpens:
          type: boolean
      type: object
    DKIMRotationResponse:
      description: ""
      example:
        DKIMUpdateStatus: DKIMUpdateStatus
        DKIMVerified: true
        DKIMPendingTextValue: DKIMPendingTextValue
        DKIMRevokedHost: DKIMRevokedHost
        WeakDKIM: true
        DKIMHost: DKIMHost
        SafeToRemoveRevokedKeyFromDNS: true
        DKIMPendingHost: DKIMPendingHost
        DKIMRevokedTextValue: DKIMRevokedTextValue
        ID: 0
        DKIMTestValue: DKIMTestValue
        Name: Name
      properties:
        DKIMHost:
          type: string
        DKIMPendingHost:
          type: string
        DKIMPendingTextValue:
          type: string
        DKIMRevokedHost:
          type: string
        DKIMRevokedTextValue:
          type: string
        DKIMTestValue:
          type: string
        DKIMUpdateStatus:
          type: string
        DKIMVerified:
          type: boolean
        ID:
          format: int64
          type: integer
        Name:
          type: string
        SafeToRemoveRevokedKeyFromDNS:
          type: boolean
        WeakDKIM:
          type: boolean
      type: object
    DomainCreationModel:
      description: ""
      example:
        Name: Name
        ReturnPathDomain: ReturnPathDomain
      properties:
        Name:
          type: string
        ReturnPathDomain:
          type: string
      type: object
    DomainEditingModel:
      description: ""
      example:
        ReturnPathDomain: ReturnPathDomain
      properties:
        ReturnPathDomain:
          type: string
      type: object
    DomainExtendedInformation:
      description: ""
      example:
        DKIMUpdateStatus: DKIMUpdateStatus
        DKIMVerified: true
        DKIMPendingTextValue: DKIMPendingTextValue
        SPFTextValue: SPFTextValue
        WeakDKIM: true
        DKIMHost: DKIMHost
        DKIMTestValue: DKIMTestValue
        ReturnPathDomainVerified: true
        Name: Name
        ReturnPathDomain: ReturnPathDomain
        ReturnPathDomainCNAMEValue: ReturnPathDomainCNAMEValue
        SPFHost: SPFHost
        DKIMRevokedHost: DKIMRevokedHost
        SafeToRemoveRevokedKeyFromDNS: true
        DKIMPendingHost: DKIMPendingHost
        DKIMRevokedTextValue: DKIMRevokedTextValue
        ID: 0
        SPFVerified: true
      properties:
        DKIMHost:
          type: string
        DKIMPendingHost:
          type: string
        DKIMPendingTextValue:
          type: string
        DKIMRevokedHost:
          type: string
        DKIMRevokedTextValue:
          type: string
        DKIMTestValue:
          type: string
        DKIMUpdateStatus:
          type: string
        DKIMVerified:
          type: boolean
        ID:
          format: int64
          type: integer
        Name:
          type: string
        ReturnPathDomain:
          type: string
        ReturnPathDomainCNAMEValue:
          type: string
        ReturnPathDomainVerified:
          type: boolean
        SPFHost:
          type: string
        SPFTextValue:
          type: string
        SPFVerified:
          type: boolean
        SafeToRemoveRevokedKeyFromDNS:
          type: boolean
        WeakDKIM:
          type: boolean
      type: object
    DomainInformation:
      description: ""
      example:
        DKIMVerified: true
        WeakDKIM: true
        ID: 0
        SPFVerified: true
        ReturnPathDomainVerified: true
        Name: Name
      properties:
        DKIMVerified:
          type: boolean
        ID:
          format: int64
          type: integer
        Name:
          type: string
        ReturnPathDomainVerified:
          type: boolean
        SPFVerified:
          type: boolean
        WeakDKIM:
          type: boolean
      type: object
    DomainListingResults:
      description: ""
      example:
        Domains:
        - DKIMVerified: true
          WeakDKIM: true
          ID: 0
          SPFVerified: true
          ReturnPathDomainVerified: true
          Name: Name
        - DKIMVerified: true
          WeakDKIM: true
          ID: 0
          SPFVerified: true
          ReturnPathDomainVerified: true
          Name: Name
        TotalCount: 6
      properties:
        Domains:
          items:
            $ref: '#/components/schemas/DomainInformation'
          type: array
        TotalCount:
          type: integer
      type: object
    DomainSPFResult:
      description: ""
      example:
        SPFTextValue: SPFTextValue
        SPFHost: SPFHost
        SPFVerified: true
      properties:
        SPFHost:
          type: string
        SPFTextValue:
          type: string
        SPFVerified:
          type: boolean
      type: object
    EditServerPayload:
      description: ""
      example:
        ClickHookUrl: ClickHookUrl
        Color: Color
        DeliveryHookUrl: DeliveryHookUrl
        RawEmailEnabled: true
        TrackLinks: None
        InboundSpamThreshold: 0
        OpenHookUrl: OpenHookUrl
        BounceHookUrl: BounceHookUrl
        InboundHookUrl: InboundHookUrl
        Name: Name
        TrackOpens: true
        PostFirstOpenOnly: true
        InboundDomain: InboundDomain
        SmtpApiActivated: true
      properties:
        BounceHookUrl:
          type: string
        ClickHookUrl:
          type: string
        Color:
          type: string
        DeliveryHookUrl:
          type: string
        InboundDomain:
          type: string
        InboundHookUrl:
          type: string
        InboundSpamThreshold:
          type: integer
        Name:
          type: string
        OpenHookUrl:
          type: string
        PostFirstOpenOnly:
          type: boolean
        RawEmailEnabled:
          type: boolean
        SmtpApiActivated:
          type: boolean
        TrackLinks:
          enum:
          - None
          - HtmlAndTextTracking
          - HtmlOnlyTracking
          - TextOnlyTracking
          type: string
        TrackOpens:
          type: boolean
      type: object
    ExtendedServerInfo:
      description: ""
      example:
        ClickHookUrl: ClickHookUrl
        ApiTokens:
        - ApiTokens
        - ApiTokens
        ServerLink: ServerLink
        Color: Color
        DeliveryHookUrl: DeliveryHookUrl
        RawEmailEnabled: true
        TrackLinks: None
        InboundHash: InboundHash
        InboundSpamThreshold: 6
        OpenHookUrl: OpenHookUrl
        BounceHookUrl: BounceHookUrl
        InboundAddress: InboundAddress
        InboundHookUrl: InboundHookUrl
        Name: Name
        TrackOpens: true
        PostFirstOpenOnly: true
        ID: 0
        InboundDomain: InboundDomain
        SmtpApiActivated: true
      properties:
        ApiTokens:
          items:
            type: string
          type: array
        BounceHookUrl:
          type: string
        ClickHookUrl:
          type: string
        Color:
          type: string
        DeliveryHookUrl:
          type: string
        ID:
          type: integer
        InboundAddress:
          type: string
        InboundDomain:
          type: string
        InboundHash:
          type: string
        InboundHookUrl:
          type: string
        InboundSpamThreshold:
          type: integer
        Name:
          type: string
        OpenHookUrl:
          type: string
        PostFirstOpenOnly:
          type: boolean
        RawEmailEnabled:
          type: boolean
        ServerLink:
          type: string
        SmtpApiActivated:
          type: boolean
        TrackLinks:
          enum:
          - None
          - HtmlAndTextTracking
          - HtmlOnlyTracking
          - TextOnlyTracking
          type: string
        TrackOpens:
          type: boolean
      type: object
    SenderListingResults:
      description: ""
      example:
        TotalCount: 6
        SenderSignatures:
        - ReplyToEmailAddress: ReplyToEmailAddress
          Confirmed: true
          ID: 0
          Domain: Domain
          EmailAddress: EmailAddress
          Name: Name
        - ReplyToEmailAddress: ReplyToEmailAddress
          Confirmed: true
          ID: 0
          Domain: Domain
          EmailAddress: EmailAddress
          Name: Name
      properties:
        SenderSignatures:
          items:
            $ref: '#/components/schemas/SenderSignatureInformation'
          type: array
        TotalCount:
          type: integer
      type: object
    SenderSignatureCreationModel:
      description: ""
      example:
        ReplyToEmail: ReplyToEmail
        FromEmail: FromEmail
        Name: Name
        ReturnPathDomain: ReturnPathDomain
      properties:
        FromEmail:
          format: email
          type: string
        Name:
          type: string
        ReplyToEmail:
          format: email
          type: string
        ReturnPathDomain:
          type: string
      type: object
    SenderSignatureEditingModel:
      description: ""
      example:
        ReplyToEmail: ReplyToEmail
        Name: Name
        ReturnPathDomain: ReturnPathDomain
      properties:
        Name:
          type: string
        ReplyToEmail:
          format: email
          type: string
        ReturnPathDomain:
          type: string
      type: object
    SenderSignatureExtendedInformation:
      description: ""
      example:
        ReplyToEmailAddress: ReplyToEmailAddress
        DKIMUpdateStatus: DKIMUpdateStatus
        DKIMVerified: true
        DKIMPendingTextValue: DKIMPendingTextValue
        SPFTextValue: SPFTextValue
        WeakDKIM: true
        DKIMHost: DKIMHost
        DKIMTestValue: DKIMTestValue
        EmailAddress: EmailAddress
        ReturnPathDomainVerified: true
        Name: Name
        ReturnPathDomain: ReturnPathDomain
        ReturnPathDomainCNAMEValue: ReturnPathDomainCNAMEValue
        SPFHost: SPFHost
        DKIMRevokedHost: DKIMRevokedHost
        SafeToRemoveRevokedKeyFromDNS: true
        DKIMPendingHost: DKIMPendingHost
        DKIMRevokedTextValue: DKIMRevokedTextValue
        Confirmed: true
        ID: 0
        SPFVerified: true
        Domain: Domain
      properties:
        Confirmed:
          type: boolean
        DKIMHost:
          type: string
        DKIMPendingHost:
          type: string
        DKIMPendingTextValue:
          type: string
        DKIMRevokedHost:
          type: string
        DKIMRevokedTextValue:
          type: string
        DKIMTestValue:
          type: string
        DKIMUpdateStatus:
          type: string
        DKIMVerified:
          type: boolean
        Domain:
          type: string
        EmailAddress:
          format: email
          type: string
        ID:
          format: int64
          type: integer
        Name:
          type: string
        ReplyToEmailAddress:
          format: email
          type: string
        ReturnPathDomain:
          type: string
        ReturnPathDomainCNAMEValue:
          type: string
        ReturnPathDomainVerified:
          type: boolean
        SPFHost:
          type: string
        SPFTextValue:
          type: string
        SPFVerified:
          type: boolean
        SafeToRemoveRevokedKeyFromDNS:
          type: boolean
        WeakDKIM:
          type: boolean
      type: object
    SenderSignatureInformation:
      description: ""
      example:
        ReplyToEmailAddress: ReplyToEmailAddress
        Confirmed: true
        ID: 0
        Domain: Domain
        EmailAddress: EmailAddress
        Name: Name
      properties:
        Confirmed:
          type: boolean
        Domain:
          type: string
        EmailAddress:
          format: email
          type: string
        ID:
          format: int64
          type: integer
        Name:
          type: string
        ReplyToEmailAddress:
          format: email
          type: string
      type: object
    ServerListingResponse:
      description: The results of listing servers.
      example:
        TotalCount: 1
        Servers:
        - ClickHookUrl: ClickHookUrl
          ApiTokens:
          - ApiTokens
          - ApiTokens
          ServerLink: ServerLink
          Color: Color
          DeliveryHookUrl: DeliveryHookUrl
          RawEmailEnabled: true
          TrackLinks: None
          InboundHash: InboundHash
          InboundSpamThreshold: 6
          OpenHookUrl: OpenHookUrl
          BounceHookUrl: BounceHookUrl
          InboundAddress: InboundAddress
          InboundHookUrl: InboundHookUrl
          Name: Name
          TrackOpens: true
          PostFirstOpenOnly: true
          ID: 0
          InboundDomain: InboundDomain
          SmtpApiActivated: true
        - ClickHookUrl: ClickHookUrl
          ApiTokens:
          - ApiTokens
          - ApiTokens
          ServerLink: ServerLink
          Color: Color
          DeliveryHookUrl: DeliveryHookUrl
          RawEmailEnabled: true
          TrackLinks: None
          InboundHash: InboundHash
          InboundSpamThreshold: 6
          OpenHookUrl: OpenHookUrl
          BounceHookUrl: BounceHookUrl
          InboundAddress: InboundAddress
          InboundHookUrl: InboundHookUrl
          Name: Name
          TrackOpens: true
          PostFirstOpenOnly: true
          ID: 0
          InboundDomain: InboundDomain
          SmtpApiActivated: true
      properties:
        Servers:
          items:
            $ref: '#/components/schemas/ExtendedServerInfo'
          type: array
        TotalCount:
          type: integer
      type: object
    StandardPostmarkResponse:
      description: A Postmark API error.
      example:
        Message: Message
        ErrorCode: 1
      properties:
        ErrorCode:
          type: integer
        Message:
          type: string
      type: object
    TemplatesPushModel:
      description: ""
      example:
        PerformChanges: true
        DestinationServerId: 0
        SourceServerId: 6
      properties:
        DestinationServerId:
          type: integer
        PerformChanges:
          type: boolean
        SourceServerId:
          type: integer
      type: object
    TemplatesPushResponse:
      description: ""
      example:
        TotalCount: 6
        Templates:
        - Action: Action
          Alias: Alias
          TemplateId: 0
          Name: Name
        - Action: Action
          Alias: Alias
          TemplateId: 0
          Name: Name
      properties:
        Templates:
          items:
            $ref: '#/components/schemas/TemplatesPushResponse_Templates_inner'
          type: array
        TotalCount:
          type: integer
      type: object
    TemplatesPushResponse_Templates_inner:
      example:
        Action: Action
        Alias: Alias
        TemplateId: 0
        Name: Name
      properties:
        Action:
          type: string
        Alias:
          type: string
        Name:
          type: string
        TemplateId:
          type: integer
      type: object
x-original-swagger-version: "2.0"

