openapi: 3.0.1
info:
  description: The DNS Management Client.
  title: DnsManagementClient
  version: 2018-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/dns/resource-manager/Microsoft.Network/preview/2018-03-01-preview/dns.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: dns
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/dnszones:
    get:
      description: Lists the DNS zones in all resource groups in a subscription.
      operationId: zones_list
      parameters:
      - description: "The maximum number of DNS zones to return. If not specified,\
          \ returns up to 100 zones."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Zones
      x-ms-examples:
        List zones by subscription:
          parameters:
            api-version: 2018-03-01-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/providers/Microsoft.Network/dnsZones?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                  location: global
                  name: zone1
                  properties:
                    maxNumberOfRecordSets: 5000
                    nameServers:
                    - ns1-01.azure-dns.com
                    - ns2-01.azure-dns.net
                    - ns3-01.azure-dns.org
                    - ns4-01.azure-dns.info
                    numberOfRecordSets: 2
                  tags:
                    key1: value1
                  type: Microsoft.Network/dnsZones
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/dnsZones/zone2
                  location: global
                  name: zone2
                  properties:
                    maxNumberOfRecordSets: 5000
                    nameServers:
                    - ns1-02.azure-dns.com
                    - ns2-02.azure-dns.net
                    - ns3-02.azure-dns.org
                    - ns4-02.azure-dns.info
                    numberOfRecordSets: 300
                  type: Microsoft.Network/dnsZones
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.zones_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones:
    get:
      description: Lists the DNS zones within a resource group.
      operationId: zones_list_by_resource_group
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The maximum number of record sets to return. If not specified,\
          \ returns up to 100 record sets."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Zones
      x-ms-examples:
        List zones by resource group:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                  location: global
                  name: zone1
                  properties:
                    maxNumberOfRecordSets: 5000
                    nameServers:
                    - ns1-01.azure-dns.com
                    - ns2-01.azure-dns.net
                    - ns3-01.azure-dns.org
                    - ns4-01.azure-dns.info
                    numberOfRecordSets: 2
                  tags:
                    key1: value1
                  type: Microsoft.Network/dnsZones
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone2
                  location: global
                  name: zone2
                  properties:
                    maxNumberOfRecordSets: 5000
                    nameServers:
                    - ns1-02.azure-dns.com
                    - ns2-02.azure-dns.net
                    - ns3-02.azure-dns.org
                    - ns4-02.azure-dns.info
                    numberOfRecordSets: 300
                  type: Microsoft.Network/dnsZones
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.zones_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}:
    delete:
      description: "Deletes a DNS zone. WARNING: All DNS records in the zone will\
        \ also be deleted. This operation cannot be undone."
      operationId: zones_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: The etag of the DNS zone. Omit this value to always delete the
          current zone. Specify the last-seen etag value to prevent accidentally deleting
          any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content: {}
          description: The DNS zone has been deleted.
        "202":
          content: {}
          description: The DNS zone delete operation has been accepted and will complete
            asynchronously.
        "204":
          content: {}
          description: The DNS zone was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Zones
      x-ms-examples:
        Delete zone:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200": {}
            "202":
              headers:
                Azure-AsyncOperation: https://asyncoperationstatusurl
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.zones_controller
    get:
      description: "Gets a DNS zone. Retrieves the zone properties, but not the record\
        \ sets within the zone."
      operationId: zones_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Zones
      x-ms-examples:
        Get zone:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                location: global
                name: zone1
                properties:
                  maxNumberOfRecordSets: 5000
                  nameServers:
                  - ns1-01.azure-dns.com
                  - ns2-01.azure-dns.net
                  - ns3-01.azure-dns.org
                  - ns4-01.azure-dns.info
                  numberOfRecordSets: 2
                tags:
                  key1: value1
                type: Microsoft.Network/dnsZones
      x-openapi-router-controller: openapi_server.controllers.zones_controller
    patch:
      description: Updates a DNS zone. Does not modify DNS records within the zone.
      operationId: zones_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: The etag of the DNS zone. Omit this value to always overwrite
          the current zone. Specify the last-seen etag value to prevent accidentally
          overwriting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneUpdate'
        description: Parameters supplied to the Update operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: The DNS zone has been updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Zones
      x-ms-examples:
        Patch zone:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              tags:
                key2: value2
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                location: global
                name: zone1
                properties:
                  maxNumberOfRecordSets: 5000
                  nameServers:
                  - ns1-01.azure-dns.com
                  - ns2-01.azure-dns.net
                  - ns3-01.azure-dns.org
                  - ns4-01.azure-dns.info
                  numberOfRecordSets: 2
                tags:
                  key2: value2
                type: Microsoft.Network/dnsZones
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.zones_controller
    put:
      description: Creates or updates a DNS zone. Does not modify DNS records within
        the zone.
      operationId: zones_create_or_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: The etag of the DNS zone. Omit this value to always overwrite
          the current zone. Specify the last-seen etag value to prevent accidentally
          overwriting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: "Set to '*' to allow a new DNS zone to be created, but to prevent\
          \ updating an existing zone. Other values will be ignored."
        in: header
        name: If-None-Match
        schema:
          type: string
          x-ms-client-name: IfNoneMatch
        x-ms-client-name: IfNoneMatch
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zone'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: The DNS zone has been updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
          description: The DNS zone has been created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - Zones
      x-ms-examples:
        Create private zone:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              location: Global
              tags:
                key1: value1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                location: global
                name: zone1
                properties:
                  maxNumberOfRecordSets: 5000
                  nameServers: []
                  numberOfRecordSets: 1
                  registrationVirtualNetworks:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1
                  resolutionVirtualNetworks:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2
                  zoneType: Private
                tags:
                  key1: value1
                type: Microsoft.Network/dnsZones
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                location: global
                name: zone1
                properties:
                  maxNumberOfRecordSets: 5000
                  nameServers: []
                  numberOfRecordSets: 1
                  registrationVirtualNetworks:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1
                  resolutionVirtualNetworks:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2
                  zoneType: Private
                tags:
                  key1: value1
                type: Microsoft.Network/dnsZones
        Create zone:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              location: Global
              tags:
                key1: value1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                location: global
                name: zone1
                properties:
                  maxNumberOfRecordSets: 5000
                  nameServers:
                  - ns1-01.azure-dns.com
                  - ns2-01.azure-dns.net
                  - ns3-01.azure-dns.org
                  - ns4-01.azure-dns.info
                  numberOfRecordSets: 2
                  zoneType: Public
                tags:
                  key1: value1
                type: Microsoft.Network/dnsZones
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1
                location: global
                name: zone1
                properties:
                  maxNumberOfRecordSets: 5000
                  nameServers:
                  - ns1-01.azure-dns.com
                  - ns2-01.azure-dns.net
                  - ns3-01.azure-dns.org
                  - ns4-01.azure-dns.info
                  numberOfRecordSets: 2
                  zoneType: Public
                tags:
                  key1: value1
                type: Microsoft.Network/dnsZones
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.zones_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/all:
    get:
      description: Lists all record sets in a DNS zone.
      operationId: record_sets_list_all_by_dns_zone
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: "The maximum number of record sets to return. If not specified,\
          \ returns up to 100 record sets."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The suffix label of the record set name that has to be used\
          \ to filter the record set enumerations. If this parameter is specified,\
          \ Enumeration will return only records that end with .<recordSetNameSuffix>"
        in: query
        name: $recordsetnamesuffix
        schema:
          type: string
          x-ms-client-name: recordSetNameSuffix
        x-ms-client-name: recordSetNameSuffix
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        List recordsets by zone:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                  name: record1
                  properties:
                    TTL: 3600
                    caaRecords:
                    - flags: 0
                      tag: issue
                      value: ca.contoso.com
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/CAA
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/A/record1
                  name: record1
                  properties:
                    ARecords:
                    - ipv4Address: 127.0.0.1
                    TTL: 3600
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/A
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CNAME/record2
                  name: record2
                  properties:
                    CNAMERecord:
                      cname: contoso.com
                    TTL: 3600
                    fqdn: record2.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/CNAME
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/recordsets:
    get:
      description: Lists all record sets in a DNS zone.
      operationId: record_sets_list_by_dns_zone
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: "The maximum number of record sets to return. If not specified,\
          \ returns up to 100 record sets."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The suffix label of the record set name that has to be used\
          \ to filter the record set enumerations. If this parameter is specified,\
          \ Enumeration will return only records that end with .<recordSetNameSuffix>"
        in: query
        name: $recordsetnamesuffix
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        List recordsets by zone:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                  name: record1
                  properties:
                    TTL: 3600
                    caaRecords:
                    - flags: 0
                      tag: issue
                      value: ca.contoso.com
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/CAA
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/A/record1
                  name: record1
                  properties:
                    ARecords:
                    - ipv4Address: 127.0.0.1
                    TTL: 3600
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/A
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CNAME/record2
                  name: record2
                  properties:
                    CNAMERecord:
                      cname: contoso.com
                    TTL: 3600
                    fqdn: record2.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/CNAME
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}:
    get:
      description: Lists the record sets of a specified type in a DNS zone.
      operationId: record_sets_list_by_type
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: The type of record sets to enumerate.
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - MX
          - NS
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: "The maximum number of record sets to return. If not specified,\
          \ returns up to 100 record sets."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The suffix label of the record set name that has to be used\
          \ to filter the record set enumerations. If this parameter is specified,\
          \ Enumeration will return only records that end with .<recordSetNameSuffix>"
        in: query
        name: $recordsetnamesuffix
        schema:
          type: string
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        List A recordsets:
          parameters:
            api-version: 2018-03-01-preview
            recordType: A
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/A?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/A/record1
                  name: record1
                  properties:
                    ARecords:
                    - ipv4Address: 127.0.0.1
                    TTL: 3600
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/A
        List AAAA recordsets:
          parameters:
            api-version: 2018-03-01-preview
            recordType: AAAA
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/AAAA?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/AAAA/record1
                  name: record1
                  properties:
                    AAAARecords:
                    - ipv6Address: ::1
                    TTL: 3600
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/AAAA
        List CAA recordsets:
          parameters:
            api-version: 2018-03-01-preview
            recordType: CAA
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                  name: record1
                  properties:
                    TTL: 3600
                    caaRecords:
                    - flags: 0
                      tag: issue
                      value: ca.contoso.com
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/CAA
        List CNAME recordsets:
          parameters:
            api-version: 2018-03-01-preview
            recordType: CNAME
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CNAME?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CNAME/record1
                  name: record1
                  properties:
                    CNAMERecord:
                      cname: contoso.com
                    TTL: 3600
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/CNAME
        List MX recordsets:
          parameters:
            api-version: 2018-03-01-preview
            recordType: MX
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/MX?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/MX/record1
                  name: record1
                  properties:
                    MXRecords:
                    - exchange: mail.contoso.com
                      preference: 0
                    TTL: 3600
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/MX
        List NS recordsets:
          parameters:
            api-version: 2018-03-01-preview
            recordType: NS
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/NS?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/NS/record1
                  name: record1
                  properties:
                    NSRecords:
                    - nsdname: ns1.contoso.com
                    TTL: 3600
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/NS
        List PTR recordsets:
          parameters:
            api-version: 2018-03-01-preview
            recordType: PTR
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: 0.0.127.in-addr.arpa
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/0.0.127.in-addr.arpa/PTR?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/0.0.127.in-addr.arpa/PTR/1
                  name: "1"
                  properties:
                    PTRRecords:
                    - ptrdname: localhost
                    TTL: 3600
                    fqdn: 1.0.0.127.in-addr.arpa
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/PTR
        List SOA recordsets:
          parameters:
            api-version: 2018-03-01-preview
            recordType: SOA
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SOA?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SOA/@
                  name: '@'
                  properties:
                    SOARecord:
                      email: hostmaster.contoso.com
                      expireTime: 2419200
                      host: ns1.contoso.com
                      minimumTTL: 300
                      refreshTime: 3600
                      retryTime: 300
                      serialNumber: 1
                    TTL: 3600
                    fqdn: zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/SOA
        List SRV recordsets:
          parameters:
            api-version: 2018-03-01-preview
            recordType: SRV
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SRV?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SRV/record1
                  name: record1
                  properties:
                    SRVRecords:
                    - port: 80
                      priority: 0
                      target: contoso.com
                      weight: 10
                    TTL: 3600
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/SRV
        List TXT recordsets:
          parameters:
            api-version: 2018-03-01-preview
            recordType: TXT
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                nextLink: https://servicehost/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/TXT?api-version=2018-03-01-preview&$skipToken=skipToken
                value:
                - etag: 00000000-0000-0000-0000-000000000000
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/TXT/record1
                  name: record1
                  properties:
                    TTL: 3600
                    TXTRecords:
                    - value:
                      - string1
                      - string2
                    fqdn: record1.zone1
                    metadata:
                      key1: value1
                  type: Microsoft.Network/dnsZones/TXT
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}/{relativeRecordSetName}
  : delete:
      description: Deletes a record set from a DNS zone. This operation cannot be
        undone.
      operationId: record_sets_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The type of DNS record in this record set. Record sets of type
          SOA cannot be deleted (they are deleted when the DNS zone is deleted).
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - MX
          - NS
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: The etag of the record set. Omit this value to always delete
          the current record set. Specify the last-seen etag value to prevent accidentally
          deleting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content: {}
          description: The record set has been deleted.
        "204":
          content: {}
          description: The record set was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        Delete A recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: A
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200": {}
            "204": {}
        Delete AAAA recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: AAAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200": {}
            "204": {}
        Delete CAA recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: CAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200": {}
            "204": {}
        Delete CNAME recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: A
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200": {}
            "204": {}
        Delete MX recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: A
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200": {}
            "204": {}
        Delete NS recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: A
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200": {}
            "204": {}
        Delete PTR recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: PTR
            relativeRecordSetName: "1"
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: 0.0.127.in-addr.arpa
          responses:
            "200": {}
            "204": {}
        Delete SRV recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: SRV
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200": {}
            "204": {}
        Delete TXT recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: TXT
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
    get:
      description: Gets a record set.
      operationId: record_sets_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The type of DNS record in this record set.
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - MX
          - NS
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: Success.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        Get A recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: A
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/A/record1
                name: record1
                properties:
                  ARecords:
                  - ipv4Address: 127.0.0.1
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/A
        Get AAAA recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: AAAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/AAAA/record1
                name: record1
                properties:
                  AAAARecords:
                  - ipv6Address: ::1
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/AAAA
        Get CAA recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: CAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                name: record1
                properties:
                  TTL: 3600
                  caaRecords:
                  - flags: 0
                    tag: issue
                    value: ca.contoso.com
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/CAA
        Get CNAME recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: CNAME
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CNAME/record1
                name: record1
                properties:
                  CNAMERecord:
                    cname: contoso.com
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/CNAME
        Get MX recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: MX
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/MX/record1
                name: record1
                properties:
                  MXRecords:
                  - exchange: mail.contoso.com
                    preference: 0
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/MX
        Get NS recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: NS
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/NS/record1
                name: record1
                properties:
                  NSRecords:
                  - nsdname: ns1.contoso.com
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/NS
        Get PTR recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: PTR
            relativeRecordSetName: "1"
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: 0.0.127.in-addr.arpa
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/0.0.127.in-addr.arpa/PTR/1
                name: "1"
                properties:
                  PTRRecords:
                  - ptrdname: localhost
                  TTL: 3600
                  fqdn: 1.0.0.127.in-addr.arpa
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/PTR
        Get SOA recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: SOA
            relativeRecordSetName: '@'
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SOA/@
                name: '@'
                properties:
                  SOARecord:
                    email: hostmaster.contoso.com
                    expireTime: 2419200
                    host: ns1.contoso.com
                    minimumTTL: 300
                    refreshTime: 3600
                    retryTime: 300
                    serialNumber: 1
                  TTL: 3600
                  fqdn: zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/SOA
        Get SRV recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: SRV
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SRV/record1
                name: record1
                properties:
                  SRVRecords:
                  - port: 80
                    priority: 0
                    target: contoso.com
                    weight: 10
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/SRV
        Get TXT recordset:
          parameters:
            api-version: 2018-03-01-preview
            recordType: TXT
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/TXT/record1
                name: record1
                properties:
                  TTL: 3600
                  TXTRecords:
                  - value:
                    - string1
                    - string2
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/TXT
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
    patch:
      description: Updates a record set within a DNS zone.
      operationId: record_sets_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The type of DNS record in this record set.
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - MX
          - NS
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: The etag of the record set. Omit this value to always overwrite
          the current record set. Specify the last-seen etag value to prevent accidentally
          overwriting concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the Update operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        Patch A recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                metadata:
                  key2: value2
            recordType: A
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/A/record1
                name: record1
                properties:
                  ARecords:
                  - ipv4Address: 127.0.0.1
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key2: value2
                type: Microsoft.Network/dnsZones/A
        Patch AAAA recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                metadata:
                  key2: value2
            recordType: AAAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/AAAA/record1
                name: record1
                properties:
                  AAAARecords:
                  - ipv6Address: ::1
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key2: value2
                type: Microsoft.Network/dnsZones/AAAA
        Patch CAA recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                metadata:
                  key2: value2
            recordType: CAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                name: record1
                properties:
                  TTL: 3600
                  caaRecords:
                  - flags: 0
                    tag: issue
                    value: ca.contoso.com
                  fqdn: record1.zone1
                  metadata:
                    key2: value2
                type: Microsoft.Network/dnsZones/CAA
        Patch CNAME recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                metadata:
                  key2: value2
            recordType: CNAME
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CNAME/record1
                name: record1
                properties:
                  CNAMERecord:
                    cname: contoso.com
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key2: value2
                type: Microsoft.Network/dnsZones/CNAME
        Patch MX recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                metadata:
                  key2: value2
            recordType: MX
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/MX/record1
                name: record1
                properties:
                  MXRecords:
                  - exchange: mail.contoso.com
                    preference: 0
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key2: value2
                type: Microsoft.Network/dnsZones/MX
        Patch NS recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                metadata:
                  key2: value2
            recordType: NS
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/NS/record1
                name: record1
                properties:
                  NSRecords:
                  - nsdname: ns1.contoso.com
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key2: value2
                type: Microsoft.Network/dnsZones/NS
        Patch PTR recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                metadata:
                  key2: value2
            recordType: PTR
            relativeRecordSetName: "1"
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: 0.0.127.in-addr.arpa
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/0.0.127.in-addr.arpa/PTR/1
                name: "1"
                properties:
                  PTRRecords:
                  - ptrdname: localhost
                  TTL: 3600
                  fqdn: 1.0.0.127.in-addr.arpa
                  metadata:
                    key2: value2
                type: Microsoft.Network/dnsZones/PTR
        Patch SOA recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                metadata:
                  key2: value2
            recordType: SOA
            relativeRecordSetName: '@'
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SOA/@
                name: '@'
                properties:
                  SOARecord:
                    email: hostmaster.contoso.com
                    expireTime: 2419200
                    host: ns1.contoso.com
                    minimumTTL: 300
                    refreshTime: 3600
                    retryTime: 300
                    serialNumber: 1
                  TTL: 3600
                  fqdn: zone1
                  metadata:
                    key2: value2
                type: Microsoft.Network/dnsZones/SOA
        Patch SRV recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                metadata:
                  key2: value2
            recordType: SRV
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SRV/record1
                name: record1
                properties:
                  SRVRecords:
                  - port: 80
                    priority: 0
                    target: contoso.com
                    weight: 10
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key2: value2
                type: Microsoft.Network/dnsZones/SRV
        Patch TXT recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                metadata:
                  key2: value2
            recordType: TXT
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/TXT/record1
                name: record1
                properties:
                  TTL: 3600
                  TXTRecords:
                  - value:
                    - string1
                    - string2
                  fqdn: record1.zone1
                  metadata:
                    key2: value2
                type: Microsoft.Network/dnsZones/TXT
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
    put:
      description: Creates or updates a record set within a DNS zone.
      operationId: record_sets_create_or_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the DNS zone (without a terminating dot).
        in: path
        name: zoneName
        required: true
        schema:
          type: string
      - description: "The name of the record set, relative to the name of the zone."
        in: path
        name: relativeRecordSetName
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The type of DNS record in this record set. Record sets of type
          SOA can be updated but not created (they are created when the DNS zone is
          created).
        in: path
        name: recordType
        required: true
        schema:
          enum:
          - A
          - AAAA
          - CAA
          - CNAME
          - MX
          - NS
          - PTR
          - SOA
          - SRV
          - TXT
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        x-ms-enum:
          modelAsString: false
          name: RecordType
      - description: The etag of the record set. Omit this value to always overwrite
          the current record set. Specify the last-seen etag value to prevent accidentally
          overwriting any concurrent changes.
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-client-name: IfMatch
        x-ms-client-name: IfMatch
      - description: "Set to '*' to allow a new record set to be created, but to prevent\
          \ updating an existing record set. Other values will be ignored."
        in: header
        name: If-None-Match
        schema:
          type: string
          x-ms-client-name: IfNoneMatch
        x-ms-client-name: IfNoneMatch
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
          description: The record set has been created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Default response. It will be deserialized as per the Error
            definition.
      tags:
      - RecordSets
      x-ms-examples:
        Create A recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                ARecords:
                - ipv4Address: 127.0.0.1
                TTL: 3600
                metadata:
                  key1: value1
            recordType: A
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/A/record1
                name: record1
                properties:
                  ARecords:
                  - ipv4Address: 127.0.0.1
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/A
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/A/record1
                name: record1
                properties:
                  ARecords:
                  - ipv4Address: 127.0.0.1
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/A
        Create AAAA recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                AAAARecords:
                - ipv6Address: ::1
                TTL: 3600
                metadata:
                  key1: value1
            recordType: AAAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/AAAA/record1
                name: record1
                properties:
                  AAAARecords:
                  - ipv6Address: ::1
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/AAAA
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/AAAA/record1
                name: record1
                properties:
                  AAAARecords:
                  - ipv6Address: ::1
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/AAAA
        Create CAA recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                TTL: 3600
                caaRecords:
                - flags: 0
                  tag: issue
                  value: ca.contoso.com
                metadata:
                  key1: value1
            recordType: CAA
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                name: record1
                properties:
                  TTL: 3600
                  caaRecords:
                  - flags: 0
                    tag: issue
                    value: ca.contoso.com
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/CAA
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CAA/record1
                name: record1
                properties:
                  TTL: 3600
                  caaRecords:
                  - flags: 0
                    tag: issue
                    value: ca.contoso.com
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/CAA
        Create CNAME recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                CNAMERecord:
                  cname: contoso.com
                TTL: 3600
                metadata:
                  key1: value1
            recordType: CNAME
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CNAME/record1
                name: record1
                properties:
                  CNAMERecord:
                    cname: contoso.com
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/CNAME
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/CNAME/record1
                name: record1
                properties:
                  CNAMERecord:
                    cname: contoso.com
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/CNAME
        Create MX recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                MXRecords:
                - exchange: mail.contoso.com
                  preference: 0
                TTL: 3600
                metadata:
                  key1: value1
            recordType: MX
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/MX/record1
                name: record1
                properties:
                  MXRecords:
                  - exchange: mail.contoso.com
                    preference: 0
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/MX
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/MX/record1
                name: record1
                properties:
                  MXRecords:
                  - exchange: mail.contoso.com
                    preference: 0
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/MX
        Create NS recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                NSRecords:
                - nsdname: ns1.contoso.com
                TTL: 3600
                metadata:
                  key1: value1
            recordType: NS
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/NS/record1
                name: record1
                properties:
                  NSRecords:
                  - nsdname: ns1.contoso.com
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/NS
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/NS/record1
                name: record1
                properties:
                  NSRecords:
                  - nsdname: ns1.contoso.com
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/NS
        Create PTR recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                PTRRecords:
                - ptrdname: localhost
                TTL: 3600
                metadata:
                  key1: value1
            recordType: PTR
            relativeRecordSetName: "1"
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: 0.0.127.in-addr.arpa
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/0.0.127.in-addr.arpa/PTR/1
                name: "1"
                properties:
                  PTRRecords:
                  - ptrdname: localhost
                  TTL: 3600
                  fqdn: 1.0.0.127.in-addr.arpa
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/PTR
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/0.0.127.in-addr.arpa/PTR/1
                name: "1"
                properties:
                  PTRRecords:
                  - ptrdname: localhost
                  TTL: 3600
                  fqdn: 1.0.0.127.in-addr.arpa
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/PTR
        Create SOA recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                SOARecord:
                  email: hostmaster.contoso.com
                  expireTime: 2419200
                  host: ns1.contoso.com
                  minimumTTL: 300
                  refreshTime: 3600
                  retryTime: 300
                  serialNumber: 1
                TTL: 3600
                metadata:
                  key1: value1
            recordType: SOA
            relativeRecordSetName: '@'
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SOA/@
                name: '@'
                properties:
                  SOARecord:
                    email: hostmaster.contoso.com
                    expireTime: 2419200
                    host: ns1.contoso.com
                    minimumTTL: 300
                    refreshTime: 3600
                    retryTime: 300
                    serialNumber: 1
                  TTL: 3600
                  fqdn: zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/SOA
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SOA/@
                name: '@'
                properties:
                  SOARecord:
                    email: hostmaster.contoso.com
                    expireTime: 2419200
                    host: ns1.contoso.com
                    minimumTTL: 300
                    refreshTime: 3600
                    retryTime: 300
                    serialNumber: 1
                  TTL: 3600
                  fqdn: zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/SOA
        Create SRV recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                SRVRecords:
                - port: 80
                  priority: 0
                  target: contoso.com
                  weight: 10
                TTL: 3600
                metadata:
                  key1: value1
            recordType: SRV
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SRV/record1
                name: record1
                properties:
                  SRVRecords:
                  - port: 80
                    priority: 0
                    target: contoso.com
                    weight: 10
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/SRV
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/SRV/record1
                name: record1
                properties:
                  SRVRecords:
                  - port: 80
                    priority: 0
                    target: contoso.com
                    weight: 10
                  TTL: 3600
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/SRV
        Create TXT recordset:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                TTL: 3600
                TXTRecords:
                - value:
                  - string1
                  - string2
                metadata:
                  key1: value1
            recordType: TXT
            relativeRecordSetName: record1
            resourceGroupName: rg1
            subscriptionId: subid
            zoneName: zone1
          responses:
            "200":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/TXT/record1
                name: record1
                properties:
                  TTL: 3600
                  TXTRecords:
                  - value:
                    - string1
                    - string2
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/TXT
            "201":
              body:
                etag: 00000000-0000-0000-0000-000000000000
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/dnsZones/zone1/TXT/record1
                name: record1
                properties:
                  TTL: 3600
                  TXTRecords:
                  - value:
                    - string1
                    - string2
                  fqdn: record1.zone1
                  metadata:
                    key1: value1
                type: Microsoft.Network/dnsZones/TXT
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.record_sets_controller
components:
  schemas:
    ARecord:
      description: An A record.
      example:
        ipv4Address: ipv4Address
      properties:
        ipv4Address:
          description: The IPv4 address of this A record.
          title: ipv4Address
          type: string
      title: ARecord
      type: object
    AaaaRecord:
      description: An AAAA record.
      example:
        ipv6Address: ipv6Address
      properties:
        ipv6Address:
          description: The IPv6 address of this AAAA record.
          title: ipv6Address
          type: string
      title: AaaaRecord
      type: object
    CaaRecord:
      description: A CAA record.
      example:
        flags: 4
        tag: tag
        value: value
      properties:
        flags:
          description: The flags for this CAA record as an integer between 0 and 255.
          format: int32
          title: flags
          type: integer
        tag:
          description: The tag for this CAA record.
          title: tag
          type: string
        value:
          description: The value for this CAA record.
          title: value
          type: string
      title: CaaRecord
      type: object
    CloudError:
      description: An error message
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: The body of an error message
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: The error code
          title: code
          type: string
        details:
          description: Extra error information
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          title: details
          type: array
        message:
          description: A description of what caused the error
          title: message
          type: string
        target:
          description: The target resource of the error message
          title: target
          type: string
      title: CloudErrorBody
      type: object
      x-ms-external: true
    CnameRecord:
      description: A CNAME record.
      example:
        cname: cname
      properties:
        cname:
          description: The canonical name for this CNAME record.
          title: cname
          type: string
      title: CnameRecord
      type: object
    MxRecord:
      description: An MX record.
      example:
        preference: 0
        exchange: exchange
      properties:
        exchange:
          description: The domain name of the mail host for this MX record.
          title: exchange
          type: string
        preference:
          description: The preference value for this MX record.
          format: int32
          title: preference
          type: integer
      title: MxRecord
      type: object
    NsRecord:
      description: An NS record.
      example:
        nsdname: nsdname
      properties:
        nsdname:
          description: The name server name for this NS record.
          title: nsdname
          type: string
      title: NsRecord
      type: object
    PtrRecord:
      description: A PTR record.
      example:
        ptrdname: ptrdname
      properties:
        ptrdname:
          description: The PTR target domain name for this PTR record.
          title: ptrdname
          type: string
      title: PtrRecord
      type: object
    RecordSet:
      description: Describes a DNS record set (a collection of DNS records with the
        same name and type).
      example:
        name: name
        etag: etag
        id: id
        type: type
        properties:
          AAAARecords:
          - ipv6Address: ipv6Address
          - ipv6Address: ipv6Address
          metadata:
            key: metadata
          fqdn: fqdn
          NSRecords:
          - nsdname: nsdname
          - nsdname: nsdname
          MXRecords:
          - preference: 0
            exchange: exchange
          - preference: 0
            exchange: exchange
          SRVRecords:
          - port: 7
            weight: 3
            priority: 9
            target: target
          - port: 7
            weight: 3
            priority: 9
            target: target
          ARecords:
          - ipv4Address: ipv4Address
          - ipv4Address: ipv4Address
          TTL: 2
          CNAMERecord:
            cname: cname
          PTRRecords:
          - ptrdname: ptrdname
          - ptrdname: ptrdname
          TXTRecords:
          - value:
            - value
            - value
          - value:
            - value
            - value
          caaRecords:
          - flags: 4
            tag: tag
            value: value
          - flags: 4
            tag: tag
            value: value
          SOARecord:
            expireTime: 6
            serialNumber: 2
            minimumTTL: 1
[...]
