openapi: 3.0.1
info:
  description: REST APIs for Azure Alerts Management Service.
  title: Azure Alerts Management Service Resource Provider
  version: 2018-11-02-privatepreview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2018-11-02-privatepreview/AlertsManagement.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: alertsmanagement-AlertsManagement
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.AlertsManagement/operations:
    get:
      description: List all operations available through Azure Alerts Management Resource
        Provider.
      operationId: operations_list
      parameters:
      - description: client API version
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-11-02-privatepreview
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationsList'
          description: OK. Successfully retrieved operations list.
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/actionRules:
    get:
      description: List all action rules of the subscription and given input filters
      operationId: action_rules_get_all_subscription
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: filter by target resource group name
        in: query
        name: targetResourceGroup
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by target resource type
        in: query
        name: targetResourceType
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by target resource
        in: query
        name: targetResource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by severity
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: filter by monitor service which is the source of the alert object.
        in: query
        name: monitorService
        schema:
          enum:
          - Platform
          - Application Insights
          - Log Analytics
          - Zabbix
          - SCOM
          - Nagios
          - Infrastructure Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - ServiceHealth
          - SmartDetector
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
        x-ms-enum:
          modelAsString: true
          name: MonitorService
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actionRulesList'
          description: OK. Return the list of action rules
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get all action rule in a given subscription
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts:
    get:
      description: "List all the existing alerts, where the results can be selective\
        \ by passing multiple filter parameters including time range and sorted on\
        \ specific fields. "
      operationId: alerts_get_all
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: filter by target resource
        in: query
        name: target_resource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by target resource group name
        in: query
        name: target_resource_group
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by target resource type
        in: query
        name: target_resource_type
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by monitor service which is the source of the alert object.
        in: query
        name: monitor_service
        schema:
          enum:
          - Platform
          - Application Insights
          - Log Analytics
          - Zabbix
          - SCOM
          - Nagios
          - Infrastructure Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - ServiceHealth
          - SmartDetector
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
        x-ms-enum:
          modelAsString: true
          name: MonitorService
      - description: filter by monitor condition which is the state of the alert at
          monitor service
        in: query
        name: monitorCondition
        schema:
          enum:
          - Fired
          - Resolved
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorCondition
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
        x-ms-parameter-location: method
      - description: filter by severity
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: filter by state
        in: query
        name: alertState
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      - description: filter by smart Group Id
        in: query
        name: smartGroupId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "include payload field content, default value is 'false'."
        in: query
        name: includePayload
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "number of items per page, default value is '25'."
        in: query
        name: pageCount
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "sort the query results by input field, default value is 'lastModifiedDateTime'."
        in: query
        name: sortBy
        schema:
          enum:
          - name
          - severity
          - alertState
          - monitorCondition
          - targetResource
          - targetResourceName
          - targetResourceGroup
          - targetResourceType
          - startDateTime
          - lastModifiedDateTime
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertsSortByFields
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertsSortByFields
        x-ms-parameter-location: method
      - description: "sort the query results order in either ascending or descending,\
          \ default value is 'desc' for time fields and 'asc' for others."
        in: query
        name: sortOrder
        schema:
          enum:
          - asc
          - desc
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "filter by time range, default value is 1 day"
        in: query
        name: timeRange
        schema:
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeRange
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TimeRange
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-11-02-privatepreview
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertsList'
          description: OK. Successfully listed alert objects.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        ListAlerts:
          parameters:
            api-version: 2018-05-05-preview
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alerts?api-version=2018-05-05-preview&timeRange=1d&ctoken=%2bRID%3aPlwOAPHEGwB9UwEAAAAgCw%3d%3d%23RT%3a2%23TRC%3a500%23RTD%3aqtQyMDE4LTA2LTEyVDE1OjEyOjE1
                value:
                - id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                  name: cpu alert
                  properties:
                    alertState: New
                    lastModifiedDateTime: 2018-06-12T22:05:09Z
                    lastModifiedUserName: System
                    monitorCondition: Fired
                    monitorService: Application Insights
                    payload: {}
                    severity: Sev3
                    signalType: Log
                    smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                    smartGroupingReason: Alerts that frequently occur together have
                      been grouped.
                    sourceCreatedId: 57c049b5-9654-4bb4-a443-3bac3f725d34
                    startDateTime: 2018-06-12T22:05:09Z
                    targetResource: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                    targetResourceGroup: alertscorrelationrg
                    targetResourceName: alertscorrelationworkerrole_int
                    targetResourceType: components
                  type: Microsoft.AlertsManagement/alerts
                - id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alerts/239f0e9f-9871-4c8b-a6a2-b893853d1066
                  name: cpu alert
                  properties:
                    alertState: New
                    lastModifiedDateTime: 2018-06-12T21:40:09Z
                    lastModifiedUserName: System
                    monitorCondition: Fired
                    monitorService: Application Insights
                    payload: {}
                    severity: Sev3
                    signalType: Log
                    smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                    smartGroupingReason: Alerts that frequently occur together have
                      been grouped.
                    sourceCreatedId: e1c5c974-b796-46a1-bb59-740eeca48c15
                    startDateTime: 2018-06-12T21:40:09Z
                    targetResource: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                    targetResourceGroup: alertscorrelationrg
                    targetResourceName: alertscorrelationworkerrole_int
                    targetResourceType: components
                  type: Microsoft.AlertsManagement/alerts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts/{alertId}:
    get:
      description: Get information related to a specific alert
      operationId: alerts_get_by_id
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Unique ID of an alert object.
        in: path
        name: alertId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-11-02-privatepreview
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert'
          description: OK. Returns the alert with the specified ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get a specific alert.
      x-ms-examples:
        GetById:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2018-05-05-preview
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                name: cpu alert
                properties:
                  alertState: New
                  lastModifiedDateTime: 2018-06-12T22:05:09Z
                  lastModifiedUserName: System
                  monitorCondition: Fired
                  monitorService: Application Insights
                  payload: {}
                  severity: Sev3
                  signalType: Log
                  smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                  smartGroupingReason: Alerts that frequently occur together have
                    been grouped.
                  sourceCreatedId: 57c049b5-9654-4bb4-a443-3bac3f725d34
                  startDateTime: 2018-06-12T22:05:09Z
                  targetResource: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  targetResourceGroup: alertscorrelationrg
                  targetResourceName: alertscorrelationworkerrole_int
                  targetResourceType: components
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts/{alertId}/changestate:
    post:
      description: Change the state of the alert.
      operationId: alerts_change_state
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Unique ID of an alert object.
        in: path
        name: alert_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-11-02-privatepreview
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      - description: filter by state
        in: query
        name: newState
        required: true
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert'
          description: OK. Alert state updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Resolve:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2018-05-05-preview
            body:
              comments: Acknowledging alert
            newState: Acknowledged
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                name: cpu alert
                properties:
                  alertState: New
                  lastModifiedDateTime: 2018-06-12T22:05:09Z
                  lastModifiedUserName: vikramm@microsoft.com
                  monitorCondition: Fired
                  monitorService: Application Insights
                  payload: {}
                  severity: Sev3
                  signalType: Log
                  smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                  smartGroupingReason: Alerts that frequently occur together have
                    been grouped.
                  sourceCreatedId: 57c049b5-9654-4bb4-a443-3bac3f725d34
                  startDateTime: 2018-06-12T22:05:09Z
                  targetResource: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  targetResourceGroup: alertscorrelationrg
                  targetResourceName: alertscorrelationworkerrole_int
                  targetResourceType: components
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts/{alertId}/history:
    get:
      description: Get the history of the changes of an alert.
      operationId: alerts_get_history
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Unique ID of an alert object.
        in: path
        name: alert_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-11-02-privatepreview
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertModification'
          description: OK. Returns the list of changes of alert.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Resolve:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2018-05-05-preview
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100/history/default
                name: CPU Alert
                properties:
                  alertId: 66114d64-d9d9-478b-95c9-b789d6502100
                  modifications:
                  - comments: Acknowledging alert
                    description: State changed from 'New' to 'Acknowledged'
                    modificationEvent: StateChange
                    modifiedAt: 2018-06-13T06:14:15.7378737Z
                    modifiedBy: vikramm@microsoft.com
                    newValue: Acknowledged
                    oldValue: New
                  - comments: ""
                    description: New Alert Object is created
                    modificationEvent: AlertCreated
                    modifiedAt: 2018-06-13T06:09:01Z
                    modifiedBy: System
                    newValue: ""
                    oldValue: ""
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alertsSummary:
    get:
      description: Summary of alerts with the count each severity.
      operationId: alerts_get_summary
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: filter by target resource group name
        in: query
        name: target_resource_group
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "filter by time range, default value is 1 day"
        in: query
        name: time_range
        schema:
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeRange
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TimeRange
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-11-02-privatepreview
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alertsSummary'
          description: OK. Alert state updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Summary:
          parameters:
            api-version: 2018-05-05-preview
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alertsSummary/current
                name: current
                properties:
                  smartGroupsCount: 2
                  summaryByMonitorService:
                    activityLog Administrative: 0
                    activityLog Autoscale: 0
                    activityLog Policy: 0
                    activityLog Recommendation: 0
                    activityLog Security: 0
                    application Insights: 290
                    infrastructure Insights: 0
                    log Analytics: 595
                    nagios: 0
                    platform: 0
                    scom: 0
                    serviceHealth: 0
                    smartDetector: 0
                    zabbix: 0
                  summaryBySeverity:
                    sev0:
                      acknowledged: 0
                      closed: 0
                      new: 286
                    sev1:
                      acknowledged: 0
                      closed: 0
                      new: 309
                    sev2:
                      acknowledged: 0
                      closed: 0
                      new: 0
                    sev3:
                      acknowledged: 1
                      closed: 0
                      new: 289
                    sev4:
                      acknowledged: 0
                      closed: 0
                      new: 0
                  summaryBySeverityAndMonitorCondition:
                    sev0:
                      fired: 286
                      resolved: 0
                    sev1:
                      fired: 309
                      resolved: 0
                    sev2:
                      fired: 0
                      resolved: 0
                    sev3:
                      fired: 290
                      resolved: 0
                    sev4:
                      fired: 0
                      resolved: 0
                  summaryByState:
                    acknowledged: 1
                    closed: 0
                    new: 884
                  total: 885
                type: Microsoft.AlertsManagement/alertsSummary
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups:
    get:
      description: 'List all the smartGroups within the specified subscription. '
      operationId: smart_groups_get_all
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: filter by target resource
        in: query
        name: target_resource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by target resource group name
        in: query
        name: target_resource_group
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by target resource type
        in: query
        name: target_resource_type
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by monitor service which is the source of the alert object.
        in: query
        name: monitor_service
        schema:
          enum:
          - Platform
          - Application Insights
          - Log Analytics
          - Zabbix
          - SCOM
          - Nagios
          - Infrastructure Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - ServiceHealth
          - SmartDetector
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
        x-ms-enum:
          modelAsString: true
          name: MonitorService
      - description: filter by monitor condition which is the state of the alert at
          monitor service
        in: query
        name: monitor_condition
        schema:
          enum:
          - Fired
          - Resolved
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorCondition
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
        x-ms-parameter-location: method
      - description: filter by severity
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: filter by state
        in: query
        name: smartGroupState
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      - description: "filter by time range, default value is 1 day"
        in: query
        name: time_range
        schema:
          enum:
          - 1h
          - 1d
          - 7d
          - 30d
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeRange
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: TimeRange
        x-ms-parameter-location: method
      - description: "number of items per page, default value is '25'."
        in: query
        name: page_count
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "sort the query results by input field, default value is 'lastModifiedDateTime'."
        in: query
        name: sortBy
        schema:
          enum:
          - alertsCount
          - state
          - severity
          - startDateTime
          - lastModifiedDateTime
          type: string
          x-ms-enum:
            modelAsString: true
            name: SmartGroupsSortByFields
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: SmartGroupsSortByFields
        x-ms-parameter-location: method
      - description: "sort the query results order in either ascending or descending,\
          \ default value is 'desc' for time fields and 'asc' for others."
        in: query
        name: sort_order
        schema:
          enum:
          - asc
          - desc
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-11-02-privatepreview
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroupsList'
          description: OK. Returns list of all smartGroups.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get all smartGroups within the subscription
      x-ms-examples:
        List:
          parameters:
            api-version: 2018-05-05-preview
            subscriptionId: dd91de05-d791-4ceb-b6dc-988682dc7d72
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                  name: cpu alert
                  properties:
                    alertSeverities:
                    - count: 1942
                      name: Sev3
                    alertStates:
                    - count: 1941
                      name: New
                    - count: 1
                      name: Acknowledged
                    alertsCount: 1942
                    lastModifiedDateTime: 2018-06-13T06:30:09Z
                    lastModifiedUserName: System
                    monitorConditions:
                    - count: 1942
                      name: Fired
                    monitorServices:
                    - count: 1942
                      name: Application Insights
                    resourceGroups:
                    - count: 1942
                      name: alertscorrelationrg
                    resourceTypes:
                    - count: 1942
                      name: components
                    resources:
                    - count: 1942
                      name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                    severity: Sev3
                    smartGroupState: New
                    startDateTime: 2018-06-06T12:35:09Z
                  type: Microsoft.AlertsManagement/smartGroups
                - id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/01114c7c-769f-4fd4-b6fa-ab77693b83cd
                  name: CPU Alert
                  properties:
                    alertSeverities:
                    - count: 6984
                      name: Sev0
                    - count: 6927
                      name: Sev1
                    alertStates:
                    - count: 15358
                      name: New
                    - count: 12
                      name: Acknowledged
                    - count: 4
                      name: Closed
                    alertsCount: 15374
                    lastModifiedDateTime: 2018-06-13T06:29:01Z
                    lastModifiedUserName: System
                    monitorConditions:
                    - count: 15374
                      name: Fired
                    monitorServices:
                    - count: 13911
                      name: Log Analytics
                    resourceGroups:
                    - count: 15374
                      name: mms-eus
                    resourceTypes:
                    - count: 6912
                      name: microsoft.operationalinsights/workspaces
                    - count: 8462
                      name: workspaces
                    resources:
                    - count: 15374
                      name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/mms-eus/providers/microsoft.operationalinsights/workspaces/alertsint
                    severity: Sev0
                    smartGroupState: Acknowledged
                    startDateTime: 2018-05-17T10:18:44.2020997Z
                  type: Microsoft.AlertsManagement/smartGroups
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}:
    get:
      description: Get details of smart group.
      operationId: smart_groups_get_by_id
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Smart Group Id
        in: path
        name: smartGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-11-02-privatepreview
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroup'
          description: OK. Returns the group with the specified smart group Id.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get information of smart alerts group.
      x-ms-examples:
        Get:
          parameters:
            api-version: 2018-05-05-preview
            smartGroupId: 603675da-9851-4b26-854a-49fc53d32715
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                name: cpu alert
                properties:
                  alertSeverities:
                  - count: 1942
                    name: Sev3
                  alertStates:
                  - count: 1941
                    name: New
                  - count: 1
                    name: Acknowledged
                  alertsCount: 1942
                  lastModifiedDateTime: 2018-06-13T06:30:09Z
                  lastModifiedUserName: System
                  monitorConditions:
                  - count: 1942
                    name: Fired
                  monitorServices:
                  - count: 1942
                    name: Application Insights
                  resourceGroups:
                  - count: 1942
                    name: alertscorrelationrg
                  resourceTypes:
                  - count: 1942
                    name: components
                  resources:
                  - count: 1942
                    name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  severity: Sev3
                  smartGroupState: New
                  startDateTime: 2018-06-06T12:35:09Z
                type: Microsoft.AlertsManagement/smartGroups
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}/changeState:
    post:
      description: Change the state from unresolved to resolved and all the alerts
        within the smart group will also be resolved.
      operationId: smart_groups_change_state
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Smart Group Id
        in: path
        name: smart_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-11-02-privatepreview
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      - description: filter by state
        in: query
        name: new_state
        required: true
        schema:
          enum:
          - New
          - Acknowledged
          - Closed
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroup'
          description: OK. Alert state updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        changestate:
          parameters:
            api-version: 2018-05-05-preview
            body:
              comments: Acknowledging smart group
            newState: Acknowledged
            smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
            subscriptionId: dd91de05-d791-4ceb-b6dc-988682dc7d72
          responses:
            "200":
              body:
                id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                name: cpu alert
                properties:
                  alertSeverities:
                  - count: 1942
                    name: Sev3
                  alertStates:
                  - count: 1941
                    name: New
                  - count: 1
                    name: Acknowledged
                  alertsCount: 1942
                  lastModifiedDateTime: 2018-06-13T06:30:09Z
                  lastModifiedUserName: System
                  monitorConditions:
                  - count: 1942
                    name: Fired
                  monitorServices:
                  - count: 1942
                    name: Application Insights
                  resourceGroups:
                  - count: 1942
                    name: alertscorrelationrg
                  resourceTypes:
                  - count: 1942
                    name: components
                  resources:
                  - count: 1942
                    name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  severity: Sev3
                  smartGroupState: Acknowledged
                  startDateTime: 2018-06-06T12:35:09Z
                type: Microsoft.AlertsManagement/smartGroups
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}/history:
    get:
      description: Get the history of the changes of smart group.
      operationId: smart_groups_get_history
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Smart Group Id
        in: path
        name: smart_group_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: client API version
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2018-11-02-privatepreview
          - 2018-05-05
          type: string
          x-ms-enum:
            modelAsString: true
            name: api-version
        x-ms-enum:
          modelAsString: true
          name: api-version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smartGroupModification'
          description: OK. Returns the list of changes of smart group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Resolve:
          parameters:
            api-version: 2018-05-05-preview
            smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059/history/default
                name: cpu alert
                properties:
                  modifications:
                  - comments: ""
                    description: New Smart Group is created
                    modificationEvent: SmartGroupCreated
                    modifiedAt: 2018-06-06T12:35:09Z
                    modifiedBy: System
                    newValue: ""
                    oldValue: ""
                  smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                type: Microsoft.AlertsManagement/alerts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/actionRules:
    get:
      description: "List all action rules of the subscription, created in given resource\
        \ group and given input filters"
      operationId: action_rules_get_all_resource_group
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group name where the resource is created.
        in: path
        name: resourceGroup
        required: true
        schema:
          type: string
      - description: filter by target resource group name
        in: query
        name: target_resource_group
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by target resource type
        in: query
        name: target_resource_type
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by target resource
        in: query
        name: target_resource
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: filter by severity
        in: query
        name: severity
        schema:
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      - description: filter by monitor service which is the source of the alert object.
        in: query
        name: monitor_service
        schema:
          enum:
          - Platform
          - Application Insights
          - Log Analytics
          - Zabbix
          - SCOM
          - Nagios
          - Infrastructure Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - ServiceHealth
          - SmartDetector
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
        x-ms-enum:
          modelAsString: true
          name: MonitorService
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actionRulesList'
          description: OK. Return the list of action rules
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get all action rules created in a resource group
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/actionRules/{actionRuleName}
  : delete:
      description: Deletes a given action rule
      operationId: action_rules_delete
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group name where the resource is created.
        in: path
        name: resource_group
        required: true
        schema:
          type: string
      - description: The name that needs to be deleted
        in: path
        name: actionRuleName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. Returns true if deleted successfully
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Delete action rule
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Get a specific action rule
      operationId: action_rules_get_by_name
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group name where the resource is created.
        in: path
        name: resource_group
        required: true
        schema:
          type: string
      - description: The name of action rule that needs to be fetched
        in: path
        name: actionRuleName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actionRule'
          description: OK. Returns the specific action rule
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Get action rule by name
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Update enabled flag and/or tags for the given action rule
      operationId: action_rules_patch
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group name where the resource is created.
        in: path
        name: resource_group
        required: true
        schema:
          type: string
      - description: The name that needs to be updated
        in: path
        name: actionRuleName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchObject'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: actionRulePatch
      responses:
        "200":
          content: {}
          description: OK. Returns the created/updated action rule
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Patch action rule
      x-codegen-request-body-name: actionRulePatch
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Creates/Updates a specific action rule
      operationId: action_rules_create_update
      parameters:
      - description: subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Resource group name where the resource is created.
        in: path
        name: resource_group
        required: true
        schema:
          type: string
      - description: The name of action rule that needs to be created/updated
        in: path
        name: actionRuleName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/actionRule'
        description: action rule to be created/updated
        required: true
        x-body-name: actionRule
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actionRule'
          description: OK. Returns the created/updated action rule
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Error response describing why the operation failed.
      summary: Create/update an action rule
      x-codegen-request-body-name: actionRule
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    alertId:
      description: Unique ID of an alert object.
      in: path
      name: alertId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    alertState:
      description: filter by state
      in: query
      name: alertState
      schema:
        enum:
        - New
        - Acknowledged
        - Closed
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertState
      x-ms-parameter-location: method
    alertsSortBy:
      description: "sort the query results by input field, default value is 'lastModifiedDateTime'."
      in: query
      name: sortBy
      schema:
        enum:
        - name
        - severity
        - alertState
        - monitorCondition
        - targetResource
        - targetResourceName
        - targetResourceGroup
        - targetResourceType
        - startDateTime
        - lastModifiedDateTime
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertsSortByFields
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertsSortByFields
      x-ms-parameter-location: method
    api-version:
      description: client API version
      in: query
      name: api-version
      required: true
      schema:
        enum:
        - 2018-11-02-privatepreview
        - 2018-05-05
        type: string
        x-ms-enum:
          modelAsString: true
          name: api-version
      x-ms-enum:
        modelAsString: true
        name: api-version
    includePayload:
      description: "include payload field content, default value is 'false'."
      in: query
      name: includePayload
      schema:
        type: boolean
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    monitorCondition:
      description: filter by monitor condition which is the state of the alert at
        monitor service
      in: query
      name: monitorCondition
      schema:
        enum:
        - Fired
        - Resolved
        type: string
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: MonitorCondition
      x-ms-parameter-location: method
    monitorService:
      description: filter by monitor service which is the source of the alert object.
      in: query
      name: monitorService
      schema:
        enum:
        - Platform
        - Application Insights
        - Log Analytics
        - Zabbix
        - SCOM
        - Nagios
        - Infrastructure Insights
        - ActivityLog Administrative
        - ActivityLog Security
        - ActivityLog Recommendation
        - ActivityLog Policy
        - ActivityLog Autoscale
        - ServiceHealth
        - SmartDetector
        type: string
        x-ms-enum:
          modelAsString: true
          name: MonitorService
      x-ms-enum:
        modelAsString: true
        name: MonitorService
    newState:
      description: filter by state
      in: query
      name: newState
      required: true
      schema:
        enum:
        - New
        - Acknowledged
        - Closed
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertState
      x-ms-parameter-location: method
    pageCount:
      description: "number of items per page, default value is '25'."
      in: query
      name: pageCount
      schema:
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroup:
      description: Resource group name where the resource is created.
      in: path
      name: resourceGroup
      required: true
      schema:
        type: string
    severity:
      description: filter by severity
      in: query
      name: severity
      schema:
        enum:
        - Sev0
        - Sev1
        - Sev2
        - Sev3
        - Sev4
        type: string
        x-ms-enum:
          modelAsString: true
          name: Severity
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: Severity
      x-ms-parameter-location: method
    smartGroupId:
      description: Smart Group Id
      in: path
      name: smartGroupId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    smartGroupIdFilter:
      description: filter by smart Group Id
      in: query
      name: smartGroupId
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    smartGroupState:
      description: filter by state
      in: query
      name: smartGroupState
      schema:
        enum:
        - New
        - Acknowledged
        - Closed
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertState
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: AlertState
      x-ms-parameter-location: method
    smartGroupsSortBy:
      description: "sort the query results by input field, default value is 'lastModifiedDateTime'."
      in: query
      name: sortBy
      schema:
        enum:
        - alertsCount
        - state
        - severity
        - startDateTime
        - lastModifiedDateTime
        type: string
        x-ms-enum:
          modelAsString: true
          name: SmartGroupsSortByFields
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: SmartGroupsSortByFields
      x-ms-parameter-location: method
    sortOrder:
      description: "sort the query results order in either ascending or descending,\
        \ default value is 'desc' for time fields and 'asc' for others."
      in: query
      name: sortOrder
      schema:
        enum:
        - asc
        - desc
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionId:
      description: subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    targetResource:
      description: filter by target resource
      in: query
      name: targetResource
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    targetResourceGroup:
      description: filter by target resource group name
      in: query
      name: targetResourceGroup
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    targetResourceType:
      description: filter by target resource type
      in: query
      name: targetResourceType
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    timeRange:
      description: "filter by time range, default value is 1 day"
      in: query
      name: timeRange
      schema:
        enum:
        - 1h
        - 1d
        - 7d
        - 30d
        type: string
        x-ms-enum:
          modelAsString: true
          name: TimeRange
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: TimeRange
      x-ms-parameter-location: method
  schemas:
    ManagedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An azure managed resource object
      properties:
        location:
          description: Resource location
          title: location
          type: string
          x-ms-mutability:
          - create
          - read
        tags:
          description: Resource tags
          title: tags
          type: object
      required:
      - location
      title: ManagedResource
      x-ms-azure-resource: true
    Resource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    actionRule:
      allOf:
      - $ref: '#/components/schemas/ManagedResource'
      description: "Action rule object containing target scope, conditions and suppression\
        \ logic"
      example:
        properties:
          createdAt: 2000-01-23T04:56:07.000+00:00
          resourceGroup: resourceGroup
          lastModifiedAt: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          lastModifiedBy: lastModifiedBy
          scope:
            values:
            - values
            - values
            type: ResourceGroup
          description: description
          suppressionConfig:
            schedule:
              endDate: endDate
              recurrenceValues:
              - 0
              - 0
              startTime: startTime
              endTime: endTime
              startDate: startDate
            recurrenceType: Always
          conditions:
            monitorCondition:
              values:
              - values
              - values
              operator: Equals
            severity:
              values:
              - values
              - values
              operator: Equals
            targetResourceGroup:
              values:
              - values
              - values
              operator: Equals
            signalType:
              values:
              - values
              - values
              operator: Equals
            description:
              values:
              - values
              - values
              operator: Equals
            targetResource:
              values:
              - values
              - values
              operator: Equals
            monitorService:
              values:
              - values
              - values
              operator: Equals
            applicationInsightsSearchResults:
              values:
              - values
              - values
              operator: Equals
            logAnalyticsSearchResults:
              values:
              - values
              - values
              operator: Equals
            alertRuleId:
              values:
              - values
              - values
              operator: Equals
            targetResourceType:
              values:
              - values
              - values
              operator: Equals
          status: enabled
      properties:
        properties:
          $ref: '#/components/schemas/actionRuleProperties'
      title: actionRule
    actionRuleProperties:
      description: "Action rule properties defining scope, conditions, suppression\
        \ logic for action rule"
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        resourceGroup: resourceGroup
        lastModifiedAt: 2000-01-23T04:56:07.000+00:00
        createdBy: createdBy
        lastModifiedBy: lastModifiedBy
        scope:
          values:
          - values
          - values
          type: ResourceGroup
        description: description
        suppressionConfig:
          schedule:
            endDate: endDate
            recurrenceValues:
            - 0
            - 0
            startTime: startTime
            endTime: endTime
            startDate: startDate
          recurrenceType: Always
        conditions:
          monitorCondition:
            values:
            - values
            - values
            operator: Equals
          severity:
            values:
            - values
            - values
            operator: Equals
          targetResourceGroup:
            values:
            - values
            - values
            operator: Equals
          signalType:
            values:
            - values
            - values
            operator: Equals
          description:
            values:
            - values
            - values
            operator: Equals
          targetResource:
            values:
            - values
            - values
            operator: Equals
          monitorService:
            values:
            - values
            - values
            operator: Equals
          applicationInsightsSearchResults:
            values:
            - values
            - values
            operator: Equals
          logAnalyticsSearchResults:
            values:
            - values
            - values
            operator: Equals
          alertRuleId:
            values:
            - values
            - values
            operator: Equals
          targetResourceType:
            values:
            - values
            - values
            operator: Equals
        status: enabled
      properties:
        conditions:
          $ref: '#/components/schemas/conditions'
        createdAt:
          description: Creation time of action rule. Date-Time in ISO-8601 format.
          format: date-time
          readOnly: true
          title: createdAt
          type: string
        createdBy:
          description: Created by user name.
          readOnly: true
          title: createdBy
          type: string
        description:
          description: Description of action rule
          title: description
          type: string
        lastModifiedAt:
          description: Last updated time of action rule. Date-Time in ISO-8601 format.
          format: date-time
          readOnly: true
          title: lastModifiedAt
          type: string
        lastModifiedBy:
          description: Last modified by user name.
          readOnly: true
          title: lastModifiedBy
          type: string
        resourceGroup:
          description: Resource group where action rule is stored
          readOnly: true
          title: resourceGroup
          type: string
        scope:
          $ref: '#/components/schemas/scope'
        status:
          description: Indicates if the given action rule is enabled or disabled
          enum:
          - enabled
          - disabled
          title: status
          type: string
          x-ms-enum:
            modelAsString: true
            name: ActionRuleStatus
        suppressionConfig:
          $ref: '#/components/schemas/suppressionConfig'
      title: actionRuleProperties
      type: object
    actionRulesList:
      description: List of action rules
      example:
        value:
        - properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            resourceGroup: resourceGroup
            lastModifiedAt: 2000-01-23T04:56:07.000+00:00
            createdBy: createdBy
            lastModifiedBy: lastModifiedBy
            scope:
              values:
              - values
              - values
              type: ResourceGroup
            description: description
            suppressionConfig:
              schedule:
                endDate: endDate
                recurrenceValues:
                - 0
                - 0
                startTime: startTime
                endTime: endTime
                startDate: startDate
              recurrenceType: Always
            conditions:
              monitorCondition:
                values:
                - values
                - values
                operator: Equals
              severity:
                values:
                - values
                - values
                operator: Equals
              targetResourceGroup:
                values:
                - values
                - values
                operator: Equals
              signalType:
                values:
                - values
                - values
                operator: Equals
              description:
                values:
                - values
                - values
                operator: Equals
              targetResource:
                values:
                - values
                - values
                operator: Equals
              monitorService:
                values:
                - values
                - values
                operator: Equals
              applicationInsightsSearchResults:
                values:
                - values
                - values
                operator: Equals
              logAnalyticsSearchResults:
                values:
                - values
                - values
                operator: Equals
              alertRuleId:
                values:
                - values
                - values
                operator: Equals
              targetResourceType:
                values:
                - values
                - values
                operator: Equals
            status: enabled
        - properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            resourceGroup: resourceGroup
            lastModifiedAt: 2000-01-23T04:56:07.000+00:00
            createdBy: createdBy
            lastModifiedBy: lastModifiedBy
            scope:
              values:
              - values
              - values
              type: ResourceGroup
            description: description
            suppressionConfig:
              schedule:
                endDate: endDate
                recurrenceValues:
                - 0
                - 0
                startTime: startTime
                endTime: endTime
                startDate: startDate
              recurrenceType: Always
            conditions:
              monitorCondition:
                values:
                - values
                - values
                operator: Equals
              severity:
                values:
                - values
                - values
                operator: Equals
              targetResourceGroup:
                values:
                - values
                - values
                operator: Equals
              signalType:
                values:
                - values
                - values
                operator: Equals
              description:
                values:
                - values
                - values
                operator: Equals
              targetResource:
                values:
                - values
                - values
                operator: Equals
              monitorService:
                values:
                - values
                - values
                operator: Equals
              applicationInsightsSearchResults:
                values:
                - values
                - values
                operator: Equals
              logAnalyticsSearchResults:
                values:
                - values
                - values
                operator: Equals
              alertRuleId:
                values:
                - values
                - values
                operator: Equals
              targetResourceType:
                values:
                - values
                - values
                operator: Equals
            status: enabled
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to fetch the next set of action rules
          title: nextLink
          type: string
        value:
          description: List of action rules
          items:
            $ref: '#/components/schemas/actionRule'
          title: value
          type: array
      title: actionRulesList
      type: object
    alert:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An alert created in alert management service.
      example:
        properties:
          monitorCondition: Fired
          severity: Sev0
          lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
          sourceCreatedId: sourceCreatedId
          smartGroupId: smartGroupId
          lastModifiedUserName: lastModifiedUserName
          monitorService: Platform
          targetResourceType: targetResourceType
          targetResourceGroup: targetResourceGroup
          startDateTime: 2000-01-23T04:56:07.000+00:00
          payload: "{}"
          signalType: Metric
          targetResourceName: targetResourceName
          targetResource: targetResource
          alertState: New
          smartGroupingReason: smartGroupingReason
      properties:
        properties:
          $ref: '#/components/schemas/alertProperties'
      title: alert
    alertModification:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Alert Modification details
      example:
        properties:
          alertId: alertId
          modifications:
          - newValue: newValue
            comments: comments
            modifiedAt: modifiedAt
            description: description
            modifiedBy: modifiedBy
            oldValue: oldValue
            modificationEvent: AlertCreated
          - newValue: newValue
            comments: comments
            modifiedAt: modifiedAt
            description: description
            modifiedBy: modifiedBy
            oldValue: oldValue
            modificationEvent: AlertCreated
      properties:
        properties:
          $ref: '#/components/schemas/alertModificationProperties'
      title: alertModification
    alertModificationItem:
      description: Alert modification item.
      example:
        newValue: newValue
        comments: comments
        modifiedAt: modifiedAt
        description: description
        modifiedBy: modifiedBy
        oldValue: oldValue
        modificationEvent: AlertCreated
      properties:
        comments:
          description: Modification comments
          title: comments
          type: string
        description:
          description: Description of the modification
          title: description
          type: string
        modificationEvent:
          description: Reason for the modification
          enum:
          - AlertCreated
          - StateChange
          - MonitorConditionChange
          title: modificationEvent
          type: string
          x-ms-enum:
            name: AlertModificationEvent
        modifiedAt:
          description: Modified date and time
          title: modifiedAt
          type: string
        modifiedBy:
          description: Modified user details (Principal client name)
          title: modifiedBy
          type: string
        newValue:
          description: New value
          title: newValue
          type: string
        oldValue:
          description: Old value
          title: oldValue
          type: string
      title: alertModificationItem
      type: object
    alertModificationProperties:
      description: Properties of the alert modification item.
      example:
        alertId: alertId
        modifications:
        - newValue: newValue
          comments: comments
          modifiedAt: modifiedAt
          description: description
          modifiedBy: modifiedBy
          oldValue: oldValue
          modificationEvent: AlertCreated
        - newValue: newValue
          comments: comments
          modifiedAt: modifiedAt
          description: description
          modifiedBy: modifiedBy
          oldValue: oldValue
          modificationEvent: AlertCreated
      properties:
        alertId:
          description: Unique Id of the alert for which the history is being retrieved
          readOnly: true
          title: alertId
          type: string
        modifications:
          description: Modification details
          items:
            $ref: '#/components/schemas/alertModificationItem'
          title: modifications
          type: array
      title: alertModificationProperties
      type: object
    alertProperties:
      description: An alert created in alert management service.
      example:
        monitorCondition: Fired
        severity: Sev0
        lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
        sourceCreatedId: sourceCreatedId
        smartGroupId: smartGroupId
        lastModifiedUserName: lastModifiedUserName
        monitorService: Platform
        targetResourceType: targetResourceType
        targetResourceGroup: targetResourceGroup
        startDateTime: 2000-01-23T04:56:07.000+00:00
        payload: "{}"
        signalType: Metric
        targetResourceName: targetResourceName
        targetResource: targetResource
        alertState: New
        smartGroupingReason: smartGroupingReason
      properties:
        alertState:
          description: Alert object state
          enum:
          - New
          - Acknowledged
          - Closed
          readOnly: true
          title: alertState
          type: string
          x-ms-enum:
            modelAsString: true
            name: AlertState
        lastModifiedDateTime:
          description: Last modification time(ISO-8601 format).
          format: date-time
          readOnly: true
          title: lastModifiedDateTime
          type: string
        lastModifiedUserName:
          description: User who last modified the alert.
          readOnly: true
          title: lastModifiedUserName
          type: string
        monitorCondition:
          description: Condition of the rule at the monitor service
          enum:
          - Fired
          - Resolved
          readOnly: true
          title: monitorCondition
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorCondition
        monitorService:
          description: Monitor service which is the source of the alert object.
          enum:
          - Platform
          - Application Insights
          - Log Analytics
          - Infrastructure Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - ServiceHealth
          - SmartDetector
          - Zabbix
          - SCOM
          - Nagios
          readOnly: true
          title: monitorService
          type: string
          x-ms-enum:
            modelAsString: true
            name: MonitorService
        payload:
          description: More details which are contextual to the monitor service.
          properties: {}
          readOnly: true
          title: payload
          type: object
        severity:
          description: Severity of alert Sev1 being highest and Sev3 being lowest.
          enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
          readOnly: true
          title: severity
          type: string
          x-ms-enum:
            modelAsString: true
            name: Severity
        signalType:
          description: Log based alert or metric based alert
          enum:
          - Metric
          - Log
          - Unknown
          readOnly: true
          title: signalType
          type: string
          x-ms-enum:
            modelAsString: true
            name: SignalType
        smartGroupId:
          description: Unique Id of the smart group
          readOnly: true
          title: smartGroupId
          type: string
        smartGroupingReason:
          description: Reason for addition to a smart group
          readOnly: true
          title: smartGroupingReason
          type: string
        sourceCreatedId:
          description: Unique Id created by monitor service
          readOnly: true
          title: sourceCreatedId
          type: string
        startDateTime:
          description: Creation time(ISO-8601 format).
          format: date-time
          readOnly: true
          title: startDateTime
          type: string
        targetResource:
          description: "Target ARM resource, on which alert got created."
          title: targetResource
          type: string
        targetResourceGroup:
          description: Resource group of target ARM resource.
          title: targetResourceGroup
          type: string
        targetResourceName:
          description: "Target ARM resource name, on which alert got created."
          title: targetResourceName
          type: string
        targetResourceType:
          description: Resource type of target ARM resource
          title: targetResourceType
          type: string
      title: alertProperties
      type: object
    alertsList:
      description: List the alerts.
      example:
        value:
        - properties:
            monitorCondition: Fired
            severity: Sev0
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            sourceCreatedId: sourceCreatedId
            smartGroupId: smartGroupId
            lastModifiedUserName: lastModifiedUserName
            monitorService: Platform
            targetResourceType: targetResourceType
            targetResourceGroup: targetResourceGroup
            startDateTime: 2000-01-23T04:56:07.000+00:00
            payload: "{}"
            signalType: Metric
            targetResourceName: targetResourceName
            targetResource: targetResource
            alertState: New
            smartGroupingReason: smartGroupingReason
        - properties:
            monitorCondition: Fired
            severity: Sev0
            lastModifiedDateTime: 2000-01-23T04:56:07.000+00:00
            sourceCreatedId: sourceCreatedId
            smartGroupId: smartGroupId
            lastModifiedUserName: lastModifiedUserName
            monitorService: Platform
            targetResourceType: targetResourceType
            targetResourceGroup: targetResourceGroup
            startDateTime: 2000-01-23T04:56:07.000+00:00
            payload: "{}"
            signalType: Metric
            targetResourceName: targetResourceName
            targetResource: targetResource
            alertState: New
            smartGroupingReason: smartGroupingReason
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to fetch the next set of alerts.
          title: nextLink
          type: string
        value:
          description: List of alerts
          items:
            $ref: '#/components/schemas/alert'
          title: value
          type: array
      title: alertsList
      type: object
    alertsSummary:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Summary of the alerts.
      example:
        properties:
          total: 6
          summaryByMonitorService: "{}"
          summaryByState: "{}"
          smartGroupsCount: 0
          summaryBySeverity:
            sev4: "{}"
            sev1: "{}"
            sev0: "{}"
            sev3: "{}"
            sev2: "{}"
          summaryBySeverityAndMonitorCondition: "{}"
          nextLink: nextLink
      properties:
        properties:
          $ref: '#/components/schemas/alertsSummaryProperties'
      title: alertsSummary
    alertsSummaryByMonitorCondition:
      description: Summary of the alerts by monitor condition
      properties:
        fired:
          description: Count of alerts with monitorCondition 'Fired'
          title: fired
          type: integer
        resolved:
          description: Count of alerts with monitorCondition 'Resolved'
          title: resolved
          type: integer
      title: alertsSummaryByMonitorCondition
      type: object
    alertsSummaryByMonitorService:
      description: Summary of the alerts by monitor service
      properties:
        activityLog Administrative:
          description: Count of alerts of "ActivityLog Administrative"
          title: activityLog Administrative
          type: integer
        activityLog Autoscale:
          description: Count of alerts of "ActivityLog Autoscale"
          title: activityLog Autoscale
          type: integer
        activityLog Policy:
          description: Count of alerts of "ActivityLog Policy"
          title: activityLog Policy
          type: integer
        activityLog Recommendation:
          description: Count of alerts of "ActivityLog Recommendation"
          title: activityLog Recommendation
          type: integer
        activityLog Security:
          description: Count of alerts of "ActivityLog Security"
          title: activityLog Security
          type: integer
        application Insights:
          description: Count of alerts of "Application Insights"
          title: application Insights
          type: integer
        infrastructure Insights:
          description: Count of alerts of "Infrastructure Insights"
          title: infrastructure Insights
          type: integer
        log Analytics:
          description: Count of alerts of "Log Analytics"
          title: log Analytics
          type: integer
        nagios:
          description: Count of alerts of "Nagios"
          title: nagios
          type: integer
        platform:
          description: Count of alerts of "Platform"
          title: platform
          type: integer
        scom:
          description: Count of alerts of "SCOM"
          title: scom
          type: integer
        serviceHealth:
          description: Count of alerts of "ServiceHealth"
          title: serviceHealth
          type: integer
        smartDetector:
          description: Count of alerts of "Smart Detector"
          title: smartDetector
          type: integer
        zabbix:
          description: Count of alerts of "Zabbix"
          title: zabbix
          type: integer
      title: alertsSummaryByMonitorService
      type: object
    alertsSummaryBySeverityAndMonitorCondition:
      description: Summary of the alerts by severity and monitor condition
      properties:
        sev0:
          allOf:
          - $ref: '#/components/schemas/alertsSummaryByMonitorCondition'
          description: Summary of alerts by monitor condition with severity 'Sev0'
          title: sev0
          type: object
        sev1:
          allOf:
          - $ref: '#/components/schemas/alertsSummaryByMonitorCondition'
          description: Summary of alerts by monitor condition with severity 'Sev1'
          title: sev1
          type: object
        sev2:
          allOf:
          - $ref: '#/components/schemas/alertsSummaryByMonitorCondition'
          description: Summary of alerts by monitor condition with severity 'Sev2'
          title: sev2
          type: object
        sev3:
          allOf:
          - $ref: '#/components/schemas/alertsSummaryByMonitorCondition'
          description: Summary of alerts by monitor condition with severity 'Sev3'
          title: sev3
          type: object
        sev4:
          allOf:
          - $ref: '#/components/schemas/alertsSummaryByMonitorCondition'
          description: Summary of alerts by monitor condition with severity 'Sev4'
          title: sev4
          type: object
      title: alertsSummaryBySeverityAndMonitorCondition
      type: object
    alertsSummaryByState:
      description: Summary of alerts by state
      properties:
        acknowledged:
          description: Count of alerts with state 'Acknowledged'
          title: acknowledged
          type: integer
        closed:
          description: Count of alerts with state 'Closed'
          title: closed
          type: integer
        new:
          description: Count of alerts with state 'New'
          title: new
          type: integer
      title: alertsSummaryByState
      type: object
    alertsSummaryProperties:
      description: Summary of the alerts
      example:
        total: 6
        summaryByMonitorService: "{}"
        summaryByState: "{}"
        smartGroupsCount: 0
        summaryBySeverity:
          sev4: "{}"
          sev1: "{}"
          sev0: "{}"
          sev3: "{}"
          sev2: "{}"
        summaryBySeverityAndMonitorCondition: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to fetch the next set of results.
          title: nextLink
          type: string
        smartGroupsCount:
          description: Total number of smart groups.
          title: smartGroupsCount
          type: integer
        summaryByMonitorService:
          allOf:
          - $ref: '#/components/schemas/alertsSummaryByMonitorService'
          description: Summary of alerts by severity
          title: summaryByMonitorService
          type: object
        summaryBySeverity:
          $ref: '#/components/schemas/alertsSummaryProperties_summaryBySeverity'
        summaryBySeverityAndMonitorCondition:
          allOf:
          - $ref: '#/components/schemas/alertsSummaryBySeverityAndMonitorCondition'
          description: Summary of alerts by severity and monitor condition
          title: summaryBySeverityAndMonitorCondition
          type: object
        summaryByState:
          allOf:
          - $ref: '#/components/schemas/alertsSummaryByState'
          description: Summary of alerts by state
          title: summaryByState
          type: object
        total:
          description: Total number of alerts.
          title: total
          type: integer
      title: alertsSummaryProperties
      type: object
    condition:
      description: condition to trigger an action rule
      example:
        values:
        - values
        - values
        operator: Equals
      properties:
        operator:
          description: operator for a given condition
          enum:
          - Equals
          - NotEquals
          - Contains
          - DoesNotContain
          title: operator
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScopeType
        values:
          description: list of values to match for a given condition.
          items:
            type: string
          title: values
          type: array
      title: condition
      type: object
    conditions:
      description: Conditions in alert instance to be matched for a given action rule.
        Default value is all. Multiple values could be provided with comma separation.
      example:
        monitorCondition:
          values:
          - values
          - values
          operator: Equals
        severity:
          values:
          - values
          - values
          operator: Equals
        targetResourceGroup:
          values:
          - values
          - values
          operator: Equals
        signalType:
          values:
          - values
          - values
          operator: Equals
        description:
          values:
          - values
          - values
          operator: Equals
        targetResource:
          values:
          - values
          - values
          operator: Equals
        monitorService:
          values:
          - values
          - values
          operator: Equals
        applicationInsightsSearchResults:
          values:
          - values
          - values
          operator: Equals
        logAnalyticsSearchResults:
          values:
          - values
          - values
          operator: Equals
        alertRuleId:
          values:
          - values
          - values
          operator: Equals
        targetResourceType:
          values:
          - values
          - values
          operator: Equals
      properties:
        alertRuleId:
          $ref: '#/components/schemas/condition'
        applicationInsightsSearchResults:
          $ref: '#/components/schemas/condition'
        description:
          $ref: '#/components/schemas/condition'
        logAnalyticsSearchResults:
          $ref: '#/components/schemas/condition'
        monitorCondition:
          $ref: '#/components/schemas/condition'
        monitorService:
          $ref: '#/components/schemas/condition'
        severity:
          $ref: '#/components/schemas/condition'
        signalType:
          $ref: '#/components/schemas/condition'
        targetResource:
          $ref: '#/components/schemas/condition'
        targetResourceGroup:
[...]
