openapi: 3.0.1
info:
  description: This Swagger was generated by the API Framework.
  title: Azure Media Services
  version: 2018-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-05-01-preview/AccountFilters.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: mediaservices-AccountFilters
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/accountFilters
  : get:
      description: List Account Filters in the Media Services account.
      operationId: AccountFilters_List
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFilterCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: List Account Filters
      x-ms-examples:
        List all Account Filters:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/accountFilters/accountFilterWithTimeWindowAndTrack
                  name: accountFilterWithTimeWindowAndTrack
                  properties:
                    firstQuality:
                      bitrate: 128000
                    presentationTimeRange:
                      endTimestamp: 170000000
                      forceEndTimestamp: false
                      liveBackoffDuration: 0
                      presentationWindowDuration: 900000000000
                      startTimestamp: 0
                      timescale: 10000000
                    tracks:
                    - trackSelections:
                      - operation: Equal
                        property: Type
                        value: Audio
                      - operation: NotEqual
                        property: Language
                        value: en
                      - operation: NotEqual
                        property: FourCC
                        value: EC-3
                    - trackSelections:
                      - operation: Equal
                        property: Type
                        value: Video
                      - operation: Equal
                        property: Bitrate
                        value: 3000000-5000000
                  type: Microsoft.Media/mediaservices/accountFilters
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/accountFilters/accountFilterWithTrack
                  name: accountFilterWithTrack
                  properties:
                    tracks:
                    - trackSelections:
                      - operation: Equal
                        property: Type
                        value: Audio
                      - operation: NotEqual
                        property: Language
                        value: en
                      - operation: NotEqual
                        property: FourCC
                        value: EC-3
                    - trackSelections:
                      - operation: Equal
                        property: Type
                        value: Video
                      - operation: Equal
                        property: Bitrate
                        value: 3000000-5000000
                  type: Microsoft.Media/mediaservices/accountFilters
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/accountFilters/{filterName}
  : delete:
      description: Deletes an Account Filter in the Media Services account.
      operationId: AccountFilters_Delete
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Account Filter name
        in: path
        name: filterName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Delete an Account Filter.
      x-ms-examples:
        Delete an Account Filter:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            filterName: accountFilterWithTimeWindowAndTrack
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get the details of an Account Filter in the Media Services account.
      operationId: AccountFilters_Get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Account Filter name
        in: path
        name: filterName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFilter'
          description: OK
        "404":
          content: {}
          description: NotFound
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Get an Account Filter.
      x-ms-examples:
        Get an Account Filter by name:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            filterName: accountFilterWithTrack
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/accountFilters/accountFilterWithTrack
                name: accountFilterWithTrack
                properties:
                  tracks:
                  - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Audio
                    - operation: NotEqual
                      property: Language
                      value: en
                    - operation: NotEqual
                      property: FourCC
                      value: EC-3
                  - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Video
                    - operation: Equal
                      property: Bitrate
                      value: 3000000-5000000
                type: Microsoft.Media/mediaservices/accountFilters
            "404": {}
      x-accepts:
      - application/json
    patch:
      description: Updates an existing Account Filter in the Media Services account.
      operationId: AccountFilters_Update
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Account Filter name
        in: path
        name: filterName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountFilter'
        description: The request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFilter'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Update an Account Filter
      x-ms-examples:
        Update an Account Filter:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            filterName: accountFilterWithTimeWindowAndTrack
            parameters:
              properties:
                firstQuality:
                  bitrate: 128000
                presentationTimeRange:
                  endTimestamp: 170000000
                  forceEndTimestamp: false
                  liveBackoffDuration: 0
                  presentationWindowDuration: 900000000000
                  startTimestamp: 10
                  timescale: 10000000
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/accountFilters/accountFilterWithTimeWindowAndTrack
                name: accountFilterWithTimeWindowAndTrack
                properties:
                  firstQuality:
                    bitrate: 128000
                  presentationTimeRange:
                    endTimestamp: 170000000
                    forceEndTimestamp: false
                    liveBackoffDuration: 0
                    presentationWindowDuration: 900000000000
                    startTimestamp: 10
                    timescale: 10000000
                  tracks:
                  - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Audio
                    - operation: NotEqual
                      property: Language
                      value: en
                    - operation: NotEqual
                      property: FourCC
                      value: EC-3
                  - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Video
                    - operation: Equal
                      property: Bitrate
                      value: 3000000-5000000
                type: Microsoft.Media/mediaservices/accountFilters
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates an Account Filter in the Media Services account.
      operationId: AccountFilters_CreateOrUpdate
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Account Filter name
        in: path
        name: filterName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountFilter'
        description: The request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFilter'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFilter'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Create or update an Account Filter
      x-ms-examples:
        Create an Account Filter:
          parameters:
            accountName: contosomedia
            api-version: 2018-07-01
            filterName: newAccountFilter
            parameters:
              properties:
                firstQuality:
                  bitrate: 128000
                presentationTimeRange:
                  endTimestamp: 170000000
                  forceEndTimestamp: false
                  liveBackoffDuration: 0
                  presentationWindowDuration: 900000000000
                  startTimestamp: 0
                  timescale: 10000000
                tracks:
                - trackSelections:
                  - operation: Equal
                    property: Type
                    value: Audio
                  - operation: NotEqual
                    property: Language
                    value: en
                  - operation: NotEqual
                    property: FourCC
                    value: EC-3
                - trackSelections:
                  - operation: Equal
                    property: Type
                    value: Video
                  - operation: Equal
                    property: Bitrate
                    value: 3000000-5000000
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/accountFilters/newAccountFilter
                name: newAccountFilter
                properties:
                  firstQuality:
                    bitrate: 128000
                  presentationTimeRange:
                    endTimestamp: 170000000
                    forceEndTimestamp: false
                    liveBackoffDuration: 0
                    presentationWindowDuration: 900000000000
                    startTimestamp: 0
                    timescale: 10000000
                  tracks:
                  - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Audio
                    - operation: NotEqual
                      property: Language
                      value: en
                    - operation: NotEqual
                      property: FourCC
                      value: EC-3
                  - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Video
                    - operation: Equal
                      property: Bitrate
                      value: 3000000-5000000
                type: Microsoft.Media/mediaservices/accountFilters
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/accountFilters/newAccountFilter
                name: newAccountFilter
                properties:
                  firstQuality:
                    bitrate: 128000
                  presentationTimeRange:
                    endTimestamp: 170000000
                    forceEndTimestamp: false
                    liveBackoffDuration: 0
                    presentationWindowDuration: 900000000000
                    startTimestamp: 0
                    timescale: 10000000
                  tracks:
                  - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Audio
                    - operation: NotEqual
                      property: Language
                      value: en
                    - operation: NotEqual
                      property: FourCC
                      value: EC-3
                  - trackSelections:
                    - operation: Equal
                      property: Type
                      value: Video
                    - operation: Equal
                      property: Bitrate
                      value: 3000000-5000000
                type: Microsoft.Media/mediaservices/accountFilters
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersion:
      description: The Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    MediaServicesAccountName:
      description: The Media Services account name.
      in: path
      name: accountName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupName:
      description: The name of the resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The unique identifier for a Microsoft Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AccountFilter:
      allOf:
      - allOf:
        - description: The core properties of ARM resources.
          properties:
            id:
              description: Fully qualified resource ID for the resource.
              readOnly: true
              type: string
            name:
              description: The name of the resource.
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource.
      description: An Account Filter.
      example:
        properties:
          firstQuality:
            bitrate: 0
          presentationTimeRange:
            liveBackoffDuration: 1
            presentationWindowDuration: 5
            timescale: 2
            endTimestamp: 6
            forceEndTimestamp: true
            startTimestamp: 5
          tracks:
          - trackSelections:
            - property: Unknown
              operation: Equal
              value: value
            - property: Unknown
              operation: Equal
              value: value
          - trackSelections:
            - property: Unknown
              operation: Equal
              value: value
            - property: Unknown
              operation: Equal
              value: value
      properties:
        properties:
          $ref: '#/components/schemas/MediaFilterProperties'
    AccountFilterCollection:
      description: A collection of AccountFilter items.
      example:
        '@odata.nextLink': '@odata.nextLink'
        value:
        - properties:
            firstQuality:
              bitrate: 0
            presentationTimeRange:
              liveBackoffDuration: 1
              presentationWindowDuration: 5
              timescale: 2
              endTimestamp: 6
              forceEndTimestamp: true
              startTimestamp: 5
            tracks:
            - trackSelections:
              - property: Unknown
                operation: Equal
                value: value
              - property: Unknown
                operation: Equal
                value: value
            - trackSelections:
              - property: Unknown
                operation: Equal
                value: value
              - property: Unknown
                operation: Equal
                value: value
        - properties:
            firstQuality:
              bitrate: 0
            presentationTimeRange:
              liveBackoffDuration: 1
              presentationWindowDuration: 5
              timescale: 2
              endTimestamp: 6
              forceEndTimestamp: true
              startTimestamp: 5
            tracks:
            - trackSelections:
              - property: Unknown
                operation: Equal
                value: value
              - property: Unknown
                operation: Equal
                value: value
            - trackSelections:
              - property: Unknown
                operation: Equal
                value: value
              - property: Unknown
                operation: Equal
                value: value
      properties:
        '@odata.nextLink':
          description: A link to the next page of the collection (when the collection
            contains too many results to return in one response).
          type: string
        value:
          description: A collection of AccountFilter items.
          items:
            $ref: '#/components/schemas/AccountFilter'
          type: array
      type: object
    ApiError:
      description: The API error.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ODataError'
      type: object
    FilterTrackPropertyCondition:
      description: The class to specify one track property condition.
      example:
        property: Unknown
        operation: Equal
        value: value
      properties:
        operation:
          description: The track property condition operation.
          enum:
          - Equal
          - NotEqual
          type: string
          x-ms-enum:
            modelAsString: true
            name: FilterTrackPropertyCompareOperation
            values:
            - description: The equal operation.
              value: Equal
            - description: The not equal operation.
              value: NotEqual
        property:
          description: The track property type.
          enum:
          - Unknown
          - Type
          - Name
          - Language
          - FourCC
          - Bitrate
          type: string
          x-ms-enum:
            modelAsString: true
            name: FilterTrackPropertyType
            values:
            - description: The unknown track property type.
              value: Unknown
            - description: The type.
              value: Type
            - description: The name.
              value: Name
            - description: The language.
              value: Language
            - description: The fourCC.
              value: FourCC
            - description: The bitrate.
              value: Bitrate
        value:
          description: The track property value.
          type: string
      required:
      - operation
      - property
      - value
      type: object
    FilterTrackSelection:
      description: Representing a list of FilterTrackPropertyConditions to select
        a track.  The filters are combined using a logical AND operation.
      example:
        trackSelections:
        - property: Unknown
          operation: Equal
          value: value
        - property: Unknown
          operation: Equal
          value: value
      properties:
        trackSelections:
          description: The track selections.
          items:
            $ref: '#/components/schemas/FilterTrackPropertyCondition'
          type: array
      required:
      - trackSelections
      type: object
    FirstQuality:
      description: Filter First Quality
      example:
        bitrate: 0
      properties:
        bitrate:
          description: The first quality bitrate.
          format: int32
          type: integer
      required:
      - bitrate
      type: object
    MediaFilterProperties:
      description: The Media Filter properties.
      example:
        firstQuality:
          bitrate: 0
        presentationTimeRange:
          liveBackoffDuration: 1
          presentationWindowDuration: 5
          timescale: 2
          endTimestamp: 6
          forceEndTimestamp: true
          startTimestamp: 5
        tracks:
        - trackSelections:
          - property: Unknown
            operation: Equal
            value: value
          - property: Unknown
            operation: Equal
            value: value
        - trackSelections:
          - property: Unknown
            operation: Equal
            value: value
          - property: Unknown
            operation: Equal
            value: value
      properties:
        firstQuality:
          $ref: '#/components/schemas/FirstQuality'
        presentationTimeRange:
          $ref: '#/components/schemas/PresentationTimeRange'
        tracks:
          description: The tracks selection conditions.
          items:
            $ref: '#/components/schemas/FilterTrackSelection'
          type: array
      type: object
    ODataError:
      description: Information about an error.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: A language-independent error name.
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/ODataError'
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: "The target of the error (for example, the name of the property\
            \ in error)."
          type: string
      type: object
    PresentationTimeRange:
      description: "The presentation time range, this is asset related and not recommended\
        \ for Account Filter."
      example:
        liveBackoffDuration: 1
        presentationWindowDuration: 5
        timescale: 2
        endTimestamp: 6
        forceEndTimestamp: true
        startTimestamp: 5
      properties:
        endTimestamp:
          description: The absolute end time boundary.
          format: int64
          type: integer
        forceEndTimestamp:
          description: The indicator of forcing existing of end time stamp.
          type: boolean
        liveBackoffDuration:
          description: The relative to end right edge.
          format: int64
          type: integer
        presentationWindowDuration:
          description: The relative to end sliding window.
          format: int64
          type: integer
        startTimestamp:
          description: The absolute start time boundary.
          format: int64
          type: integer
        timescale:
          description: The time scale of time stamps.
          format: int64
          type: integer
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

