openapi: 3.0.1
info:
  description: Consumption management client provides access to consumption resources
    for Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: 2018-10-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-10-01/consumption.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: consumption
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/tenants
  : get:
      description: Gets a Tenant Properties.
      operationId: tenants_get
      parameters:
      - description: Billing Account Id.
        in: path
        name: billingAccountId
        required: true
        schema:
          type: string
      - description: Billing Profile Id.
        in: path
        name: billingProfileId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Tenants
      x-ms-examples:
        TenantPropertiesGet:
          parameters:
            api-version: 2019-01-01
            billingAccountId: 0d49b9e9-dfe7-536e-ede4-bae1d63adbb7
            billingProfileId: dd21e577-ec81-45ec-b08a-622213737978
          responses:
            "200":
              body:
                value:
                - id: /billingAccounts/0d49b9e9-dfe7-536e-ede4-bae1d63adbb7/billingProfiles/dd21e577-ec81-45ec-b08a-622213737978/providers/Microsoft.Consumption/tenants/tenant1
                  name: tenant1
                  properties:
                    billingAccountId: 0d49b9e9-dfe7-536e-ede4-bae1d63adbb7
                    billingAccountName: Create Customer
                    billingProfileName: PayByCheck01
                    tenantId: 251d3d06-c6e0-487b-bd5e-5c2e4c23d51a
                  type: Microsoft.Consumption/tenants
      x-openapi-router-controller: openapi_server.controllers.tenants_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/charges
  : get:
      description: Lists the charges based on departmentId by billing period.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: charges_list_for_billing_period_by_department
      parameters:
      - description: BillingAccount ID
        in: path
        name: billingAccountId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Department ID
        in: path
        name: departmentId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Period Name.
        in: path
        name: billingPeriodName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "May be used to filter charges by properties/usageEnd (Utc time),\
          \ properties/usageStart (Utc time). The filter supports 'eq', 'lt', 'gt',\
          \ 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.\
          \ Tag filter is a key value pair string where key and value is separated\
          \ by a colon (:)."
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeSummary'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Charges
      x-ms-examples:
        ChangesForBillingPeriodByDepartment:
          parameters:
            api-version: 2018-10-01
            billingAccountId: "1234"
            billingPeriodName: "201804"
            departmentId: "42425"
          responses:
            "200":
              body:
                id: /providers/Microsoft.Billing/BillingAccounts/1234/departments/42425/providers/Microsoft.Consumption/charges/chargeSummaryId1
                name: chargeSummaryId1
                properties:
                  azureCharges: 5000
                  billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201804
                  chargesBilledSeparately: 60.9
                  currency: USD
                  marketplaceCharges: 100
                  usageEnd: 2018-04-30
                  usageStart: 2018-04-01
                type: Microsoft.Consumption/charges
      x-openapi-router-controller: openapi_server.controllers.charges_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.Consumption/charges
  : get:
      description: Lists the charges by departmentId.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: charges_list_by_department
      parameters:
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "May be used to filter charges by properties/usageEnd (Utc time),\
          \ properties/usageStart (Utc time). The filter supports 'eq', 'lt', 'gt',\
          \ 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.\
          \ Tag filter is a key value pair string where key and value is separated\
          \ by a colon (:)."
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Charges
      x-ms-examples:
        ChargesListByDepartment:
          parameters:
            $filter: usageStart eq '2018-04-01' AND usageEnd eq '2018-05-30'
            api-version: 2018-10-01
            billingAccountId: "1234"
            departmentId: "42425"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/BillingAccounts/1234/departments/42425/providers/Microsoft.Consumption/charges/chargeSummaryId1
                  name: chargeSummaryId1
                  properties:
                    azureCharges: 5000
                    billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201804
                    chargesBilledSeparately: 60.9
                    currency: USD
                    marketplaceCharges: 100
                    usageEnd: 2018-04-30
                    usageStart: 2018-04-01
                  type: Microsoft.Consumption/charges
                - id: /providers/Microsoft.Billing/BillingAccounts/1234/departments/42425/providers/Microsoft.Consumption/charges/chargeSummaryId2
                  name: chargeSummaryId2
                  properties:
                    azureCharges: 5000
                    billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201805
                    chargesBilledSeparately: 60.9
                    currency: USD
                    marketplaceCharges: 100
                    usageEnd: 2018-05-30
                    usageStart: 2018-05-01
                  type: Microsoft.Consumption/charges
      x-openapi-router-controller: openapi_server.controllers.charges_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/charges
  : get:
      description: Lists the charges based on enrollmentAccountId by billing period.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: charges_list_for_billing_period_by_enrollment_account
      parameters:
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: EnrollmentAccount ID
        in: path
        name: enrollmentAccountId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Period Name.
        in: path
        name: billing_period_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "May be used to filter charges by properties/usageEnd (Utc time),\
          \ properties/usageStart (Utc time). The filter supports 'eq', 'lt', 'gt',\
          \ 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.\
          \ Tag filter is a key value pair string where key and value is separated\
          \ by a colon (:)."
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeSummary'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Charges
      x-ms-examples:
        ChangesForBillingPeriodByEnrollmentAccount:
          parameters:
            api-version: 2018-10-01
            billingAccountId: "1234"
            billingPeriodName: "201804"
            enrollmentAccountId: "42425"
          responses:
            "200":
              body:
                id: /providers/Microsoft.Billing/BillingAccounts/1234/enrollmentAccounts/42425/providers/Microsoft.Consumption/charges/chargeSummaryId1
                name: chargeSummaryId1
                properties:
                  azureCharges: 5000
                  billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201804
                  chargesBilledSeparately: 60.9
                  currency: USD
                  marketplaceCharges: 100
                  usageEnd: 2018-04-30
                  usageStart: 2018-04-01
                type: Microsoft.Consumption/charges
      x-openapi-router-controller: openapi_server.controllers.charges_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Consumption/charges
  : get:
      description: Lists the charges by enrollmentAccountId.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: charges_list_by_enrollment_account
      parameters:
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: EnrollmentAccount ID
        in: path
        name: enrollment_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "May be used to filter charges by properties/usageEnd (Utc time),\
          \ properties/usageStart (Utc time). The filter supports 'eq', 'lt', 'gt',\
          \ 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.\
          \ Tag filter is a key value pair string where key and value is separated\
          \ by a colon (:)."
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Charges
      x-ms-examples:
        ChargesListForEnrollmentAccount:
          parameters:
            api-version: 2018-10-01
            billingAccountId: "1234"
            enrollmentAccountId: "42425"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/BillingAccounts/1234/enrollmentAccounts/42425/providers/Microsoft.Consumption/charges/chargeSummaryId1
                  name: chargeSummaryId1
                  properties:
                    azureCharges: 5000
                    billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201804
                    chargesBilledSeparately: 60.9
                    currency: USD
                    marketplaceCharges: 100
                    usageEnd: 2018-04-30
                    usageStart: 2018-04-01
                  type: Microsoft.Consumption/charges
                - id: /providers/Microsoft.Billing/BillingAccounts/1234/enrollmentAccounts/42425/providers/Microsoft.Consumption/charges/chargeSummaryId2
                  name: chargeSummaryId2
                  properties:
                    azureCharges: 5000
                    billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201805
                    chargesBilledSeparately: 60.9
                    currency: USD
                    marketplaceCharges: 100
                    usageEnd: 2018-05-30
                    usageStart: 2018-05-01
                  type: Microsoft.Consumption/charges
      x-openapi-router-controller: openapi_server.controllers.charges_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/balances
  : get:
      description: "Gets the balances for a scope by billing period and billingAccountId.\
        \ Balances are available via this API only for May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: balances_get_for_billing_period_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Period Name.
        in: path
        name: billing_period_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Balances
      x-ms-examples:
        Balances:
          parameters:
            api-version: 2018-10-01
            billingAccountId: "123456"
            billingPeriodName: "201702"
          responses:
            "200":
              body:
                id: providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/balances/balanceId1
                name: balanceId1
                properties:
                  adjustmentDetails:
                  - name: Promo Credit
                    value: 1.1
                  - name: SIE Credit
                    value: 1
                  adjustments: 0
                  azureMarketplaceServiceCharges: 609.82
                  beginningBalance: 3396469.19
                  billingFrequency: Month
                  chargesBilledSeparately: 0
                  currency: 'USD  '
                  endingBalance: 2922371.02
                  newPurchases: 0
                  newPurchasesDetails:
                  - name: Promo Purchase
                    value: 1
                  priceHidden: false
                  serviceOverage: 0
                  totalOverage: 0
                  totalUsage: 474098.17
                  utilized: 474098.17
                type: Microsoft.Consumption/balances
      x-openapi-router-controller: openapi_server.controllers.balances_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces
  : get:
      description: "Lists the marketplaces for a scope by billing period and billingAccountId.\
        \ Marketplaces are available via this API only for May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: marketplaces_list_for_billing_period_by_billing_account
      parameters:
      - description: "May be used to filter marketplaces by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'."
        in: query
        name: $filter
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Period Name.
        in: path
        name: billing_period_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Marketplaces
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          parameters:
            api-version: 2018-10-01
            billingAccountId: "123456"
            billingPeriodName: "201702"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                  name: marketplacesId1
                  properties:
                    accountName: Account1
                    additionalProperties: additionalProperties
                    billingPeriodId: /providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702
                    consumedQuantity: 0.00328
                    costCenter: Center1
                    currency: USD
                    departmentName: Department1
                    instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceName: shared1
                    isEstimated: false
                    isRecurringCharge: false
                    meterId: 00000000-0000-0000-0000-000000000000
                    offerName: offer1
                    orderNumber: 00000000-0000-0000-0000-000000000000
                    planName: plan2
                    pretaxCost: 0.67
                    publisherName: xyz
                    resourceGroup: TEST
                    resourceRate: 0.24
                    subscriptionGuid: 00000000-0000-0000-0000-000000000000
                    subscriptionName: azure subscription
                    unitOfMeasure: 10 Hours
                    usageEnd: 2017-02-13T23:59:59Z
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/marketPlaces
      x-ms-odata: '#/definitions/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.marketplaces_controller
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      description: "Lists the usage details based on billingAccountId for a scope\
        \ by billing period. Usage details are available via this API only for May\
        \ 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: usage_details_list_for_billing_period_by_billing_account
      parameters:
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Period Name.
        in: path
        name: billing_period_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to expand the properties/additionalProperties or\
          \ properties/meterDetails within a list of usage details. By default, these\
          \ fields are not included when listing usage details."
        in: query
        name: $expand
        schema:
          type: string
      - description: "May be used to filter usageDetails by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag\
          \ filter is a key value pair string where key and value is separated by\
          \ a colon (:)."
        in: query
        name: $filter
        schema:
          type: string
      - description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        name: $apply
        schema:
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Apply
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - UsageDetails
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          parameters:
            api-version: 2018-10-01
            billingAccountId: "1234"
            billingPeriodName: "201702"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                  name: usageDetailsId1
                  properties:
                    billableQuantity: 0.00328
                    billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702
                    chargesBilledSeparately: true
                    currency: USD
                    instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceLocation: eastasia
                    instanceName: shared1
                    invoiceId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/invoices/201703-123456789
                    isEstimated: false
                    location: EU West
                    meterId: 00000000-0000-0000-0000-000000000000
                    offerId: Offer Id 1
                    partNumber: Part Number 1
                    pretaxCost: 0.67
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    usageEnd: 2017-02-13T23:59:59Z
                    usageQuantity: 0.00328
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_details_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/balances:
    get:
      description: "Gets the balances for a scope by billingAccountId. Balances are\
        \ available via this API only for May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: balances_get_by_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Balances
      x-ms-examples:
        Balances:
          parameters:
            api-version: 2018-10-01
            billingAccountId: "123456"
          responses:
            "200":
              body:
                id: /providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/balances/balanceId1
                name: balanceId1
                properties:
                  adjustmentDetails:
                  - name: Promo Credit
                    value: 1.1
                  - name: SIE Credit
                    value: 1
                  adjustments: 0
                  azureMarketplaceServiceCharges: 609.82
                  beginningBalance: 3396469.19
                  billingFrequency: Month
                  chargesBilledSeparately: 0
                  currency: 'USD  '
                  endingBalance: 2922371.02
                  newPurchases: 0
                  newPurchasesDetails:
                  - name: Promo Purchase
                    value: 1
                  priceHidden: false
                  serviceOverage: 0
                  totalOverage: 0
                  totalUsage: 474098.17
                  utilized: 474098.17
                type: Microsoft.Consumption/balances
      x-openapi-router-controller: openapi_server.controllers.balances_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/marketplaces:
    get:
      description: "Lists the marketplaces for a scope by billingAccountId and current\
        \ billing period. Marketplaces are available via this API only for May 1,\
        \ 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: marketplaces_list_by_billing_account
      parameters:
      - description: "May be used to filter marketplaces by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'."
        in: query
        name: $filter
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Marketplaces
      x-ms-examples:
        MarketplacesList:
          parameters:
            api-version: 2018-10-01
            billingAccountId: "123456"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                  name: marketplaceId1
                  properties:
                    accountName: Account1
                    additionalProperties: additionalProperties
                    billingPeriodId: /providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702
                    consumedQuantity: 0.00328
                    costCenter: Center1
                    currency: USD
                    departmentName: Department1
                    instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceName: shared1
                    isEstimated: false
                    isRecurringCharge: false
                    offerName: offer1
                    orderNumber: 00000000-0000-0000-0000-000000000000
                    planName: plan1
                    pretaxCost: 0.67
                    publisherName: xyz
                    resourceGroup: TEST
                    resourceRate: 0.24
                    subscriptionGuid: 00000000-0000-0000-0000-000000000000
                    subscriptionName: azure subscription
                    unitOfMeasure: 10 Hours
                    usageEnd: 2017-02-13T23:59:59Z
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/marketPlaces
      x-ms-odata: '#/definitions/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.marketplaces_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/usageDetails:
    get:
      description: "Lists the usage details by billingAccountId for a scope by current\
        \ billing period. Usage details are available via this API only for May 1,\
        \ 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: usage_details_list_by_billing_account
      parameters:
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to expand the properties/additionalProperties or\
          \ properties/meterDetails within a list of usage details. By default, these\
          \ fields are not included when listing usage details."
        in: query
        name: $expand
        schema:
          type: string
      - description: "May be used to filter usageDetails by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,\
          \ properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag\
          \ filter is a key value pair string where key and value is separated by\
          \ a colon (:)."
        in: query
        name: $filter
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        name: $apply
        schema:
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Apply
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - UsageDetails
      x-ms-examples:
        UsageDetailsList:
          parameters:
            api-version: 2018-10-01
            billingAccountId: "1234"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                  name: usageDetailsId1
                  properties:
                    billableQuantity: 0.00328
                    billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702
                    chargesBilledSeparately: true
                    currency: USD
                    instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceLocation: eastasia
                    instanceName: shared1
                    invoiceId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/invoices/201703-123456789
                    isEstimated: false
                    location: EU West
                    meterId: 00000000-0000-0000-0000-000000000000
                    offerId: Offer Id 1
                    partNumber: Part Number 1
                    pretaxCost: 0.67
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    usageEnd: 2017-02-13T23:59:59Z
                    usageQuantity: 0.00328
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_details_controller
  ? /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces
  : get:
      description: "Lists the marketplaces for a scope by billing period and departmentId.\
        \ Marketplaces are available via this API only for May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: marketplaces_list_for_billing_period_by_department
      parameters:
      - description: "May be used to filter marketplaces by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'."
        in: query
        name: $filter
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Period Name.
        in: path
        name: billing_period_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Marketplaces
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          parameters:
            api-version: 2018-10-01
            billingPeriodName: "201702"
            departmentId: "123456"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/departments/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                  name: marketplacesId1
                  properties:
                    accountName: Account1
                    additionalProperties: additionalProperties
                    billingPeriodId: /providers/Microsoft.Billing/departments/123456/providers/Microsoft.Billing/billingPeriods/201702
                    consumedQuantity: 0.00328
                    costCenter: Center1
                    currency: USD
                    departmentName: Department1
                    instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceName: shared1
                    isEstimated: false
                    isRecurringCharge: false
                    meterId: 00000000-0000-0000-0000-000000000000
                    offerName: offer1
                    orderNumber: 00000000-0000-0000-0000-000000000000
                    planName: plan2
                    pretaxCost: 0.67
                    publisherName: xyz
                    resourceGroup: TEST
                    resourceRate: 0.24
                    subscriptionGuid: 00000000-0000-0000-0000-000000000000
                    subscriptionName: azure subscription
                    unitOfMeasure: 10 Hours
                    usageEnd: 2017-02-13T23:59:59Z
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/marketPlaces
      x-ms-odata: '#/definitions/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.marketplaces_controller
  ? /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      description: "Lists the usage details based on departmentId for a scope by billing\
        \ period. Usage details are available via this API only for May 1, 2014 or\
        \ later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: usage_details_list_for_billing_period_by_department
      parameters:
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Period Name.
        in: path
        name: billing_period_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to expand the properties/additionalProperties or\
          \ properties/meterDetails within a list of usage details. By default, these\
          \ fields are not included when listing usage details."
        in: query
        name: $expand
        schema:
          type: string
      - description: "May be used to filter usageDetails by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag\
          \ filter is a key value pair string where key and value is separated by\
          \ a colon (:)."
        in: query
        name: $filter
        schema:
          type: string
      - description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        name: $apply
        schema:
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Apply
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - UsageDetails
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          parameters:
            api-version: 2018-10-01
            billingPeriodName: "201702"
            departmentId: "1234"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                  name: usageDetailsId1
                  properties:
                    billableQuantity: 0.00328
                    billingPeriodId: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Billing/billingPeriods/201702
                    chargesBilledSeparately: true
                    currency: USD
                    instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceLocation: eastasia
                    instanceName: shared1
                    invoiceId: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Billing/invoices/201703-123456789
                    isEstimated: false
                    location: EU West
                    meterId: 00000000-0000-0000-0000-000000000000
                    offerId: Offer Id 1
                    partNumber: Part Number 1
                    pretaxCost: 0.67
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    usageEnd: 2017-02-13T23:59:59Z
                    usageQuantity: 0.00328
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_details_controller
  /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Consumption/marketplaces:
    get:
      description: "Lists the marketplaces for a scope by departmentId and current\
        \ billing period. Marketplaces are available via this API only for May 1,\
        \ 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: marketplaces_list_by_department
      parameters:
      - description: "May be used to filter marketplaces by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'."
        in: query
        name: $filter
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Marketplaces
      x-ms-examples:
        MarketplacesList:
          parameters:
            api-version: 2018-10-01
            billingPeriodName: "201702"
            departmentId: "123456"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/departments/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                  name: marketplacesId1
                  properties:
                    accountName: Account1
                    additionalProperties: additionalProperties
                    billingPeriodId: /providers/Microsoft.Billing/departments/123456/providers/Microsoft.Billing/billingPeriods/201702
                    consumedQuantity: 0.00328
                    costCenter: Center1
                    currency: USD
                    departmentName: Department1
                    instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceName: shared1
                    isEstimated: false
                    isRecurringCharge: false
                    meterId: 00000000-0000-0000-0000-000000000000
                    offerName: offer1
                    orderNumber: 00000000-0000-0000-0000-000000000000
                    planName: plan2
                    pretaxCost: 0.67
                    publisherName: xyz
                    resourceGroup: TEST
                    resourceRate: 0.24
                    subscriptionGuid: 00000000-0000-0000-0000-000000000000
                    subscriptionName: azure subscription
                    unitOfMeasure: 10 Hours
                    usageEnd: 2017-02-13T23:59:59Z
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/marketPlaces
      x-ms-odata: '#/definitions/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.marketplaces_controller
  /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Consumption/usageDetails:
    get:
      description: "Lists the usage details by departmentId for a scope by current\
        \ billing period. Usage details are available via this API only for May 1,\
        \ 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: usage_details_list_by_department
      parameters:
      - description: Department ID
        in: path
        name: department_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to expand the properties/additionalProperties or\
          \ properties/meterDetails within a list of usage details. By default, these\
          \ fields are not included when listing usage details."
        in: query
        name: $expand
        schema:
          type: string
      - description: "May be used to filter usageDetails by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,\
          \ properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag\
          \ filter is a key value pair string where key and value is separated by\
          \ a colon (:)."
        in: query
        name: $filter
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        name: $apply
        schema:
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Apply
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - UsageDetails
      x-ms-examples:
        UsageDetailsList:
          parameters:
            api-version: 2018-10-01
            departmentId: "1234"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                  name: usageDetailsId1
                  properties:
                    billableQuantity: 0.00328
                    billingPeriodId: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Billing/billingPeriods/201702
                    chargesBilledSeparately: true
                    currency: USD
                    instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceLocation: eastasia
                    instanceName: shared1
                    invoiceId: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Billing/invoices/201703-123456789
                    isEstimated: false
                    location: EU West
                    meterId: 00000000-0000-0000-0000-000000000000
                    offerId: Offer Id 1
                    partNumber: Part Number 1
                    pretaxCost: 0.67
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    usageEnd: 2017-02-13T23:59:59Z
                    usageQuantity: 0.00328
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_details_controller
  ? /providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces
  : get:
      description: "Lists the marketplaces for a scope by billing period and enrollmentAccountId.\
        \ Marketplaces are available via this API only for May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: marketplaces_list_for_billing_period_by_enrollment_account
      parameters:
      - description: "May be used to filter marketplaces by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'."
        in: query
        name: $filter
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: EnrollmentAccount ID
        in: path
        name: enrollment_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Period Name.
        in: path
        name: billing_period_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Marketplaces
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          parameters:
            api-version: 2018-10-01
            billingPeriodName: "201702"
            enrollmentAccountId: "123456"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/enrollmentAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                  name: marketplacesId1
                  properties:
                    accountName: Account1
                    additionalProperties: additionalProperties
                    billingPeriodId: /providers/Microsoft.Billing/enrollmentAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702
                    consumedQuantity: 0.00328
                    costCenter: Center1
                    currency: USD
                    departmentName: Department1
                    instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceName: shared1
                    isEstimated: false
                    isRecurringCharge: false
                    meterId: 00000000-0000-0000-0000-000000000000
                    offerName: offer1
                    orderNumber: 00000000-0000-0000-0000-000000000000
                    planName: plan2
                    pretaxCost: 0.67
                    publisherName: xyz
                    resourceGroup: TEST
                    resourceRate: 0.24
                    subscriptionGuid: 00000000-0000-0000-0000-000000000000
                    subscriptionName: azure subscription
                    unitOfMeasure: 10 Hours
                    usageEnd: 2017-02-13T23:59:59Z
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/marketPlaces
      x-ms-odata: '#/definitions/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.marketplaces_controller
  ? /providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      description: "Lists the usage details based on enrollmentAccountId for a scope\
        \ by billing period. Usage details are available via this API only for May\
        \ 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: usage_details_list_for_billing_period_by_enrollment_account
      parameters:
      - description: EnrollmentAccount ID
        in: path
        name: enrollment_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Billing Period Name.
        in: path
        name: billing_period_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to expand the properties/additionalProperties or\
          \ properties/meterDetails within a list of usage details. By default, these\
          \ fields are not included when listing usage details."
        in: query
        name: $expand
        schema:
          type: string
      - description: "May be used to filter usageDetails by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag\
          \ filter is a key value pair string where key and value is separated by\
          \ a colon (:)."
        in: query
        name: $filter
        schema:
          type: string
      - description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        name: $apply
        schema:
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Apply
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - UsageDetails
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          parameters:
            api-version: 2018-10-01
            billingPeriodName: "201702"
            enrollmentAccountId: "1234"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                  name: usageDetailsId1
                  properties:
                    billableQuantity: 0.00328
                    billingPeriodId: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702
                    chargesBilledSeparately: true
                    currency: USD
                    instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceLocation: eastasia
                    instanceName: shared1
                    invoiceId: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Billing/invoices/201703-123456789
                    isEstimated: false
                    location: EU West
                    meterId: 00000000-0000-0000-0000-000000000000
                    offerId: Offer Id 1
                    partNumber: Part Number 1
                    pretaxCost: 0.67
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    usageEnd: 2017-02-13T23:59:59Z
                    usageQuantity: 0.00328
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_details_controller
  /providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Consumption/marketplaces:
    get:
      description: "Lists the marketplaces for a scope by enrollmentAccountId and\
        \ current billing period. Marketplaces are available via this API only for\
        \ May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: marketplaces_list_by_enrollment_account
      parameters:
      - description: "May be used to filter marketplaces by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'."
        in: query
        name: $filter
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: EnrollmentAccount ID
        in: path
        name: enrollment_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Marketplaces
      x-ms-examples:
        MarketplacesList:
          parameters:
            api-version: 2018-10-01
            billingPeriodName: "201702"
            enrollmentAccountId: "123456"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/enrollmentAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                  name: marketplacesId1
                  properties:
                    accountName: Account1
                    additionalProperties: additionalProperties
                    billingPeriodId: /providers/Microsoft.Billing/enrollmentAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702
                    consumedQuantity: 0.00328
                    costCenter: Center1
                    currency: USD
                    departmentName: Department1
                    instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceName: shared1
                    isEstimated: false
                    isRecurringCharge: false
                    meterId: 00000000-0000-0000-0000-000000000000
                    offerName: offer1
                    orderNumber: 00000000-0000-0000-0000-000000000000
                    planName: plan2
                    pretaxCost: 0.67
                    publisherName: xyz
                    resourceGroup: TEST
                    resourceRate: 0.24
                    subscriptionGuid: 00000000-0000-0000-0000-000000000000
                    subscriptionName: azure subscription
                    unitOfMeasure: 10 Hours
                    usageEnd: 2017-02-13T23:59:59Z
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/marketPlaces
      x-ms-odata: '#/definitions/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.marketplaces_controller
  /providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Consumption/usageDetails:
    get:
      description: "Lists the usage details by enrollmentAccountId for a scope by\
        \ current billing period. Usage details are available via this API only for\
        \ May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: usage_details_list_by_enrollment_account
      parameters:
      - description: EnrollmentAccount ID
        in: path
        name: enrollment_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to expand the properties/additionalProperties or\
          \ properties/meterDetails within a list of usage details. By default, these\
          \ fields are not included when listing usage details."
        in: query
        name: $expand
        schema:
          type: string
      - description: "May be used to filter usageDetails by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,\
          \ properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag\
          \ filter is a key value pair string where key and value is separated by\
          \ a colon (:)."
        in: query
        name: $filter
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        name: $apply
        schema:
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        x-ms-client-name: Apply
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - UsageDetails
      x-ms-examples:
        UsageDetailsList:
          parameters:
            api-version: 2018-10-01
            enrollmentAccountId: "1234"
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                  name: usageDetailsId1
                  properties:
                    billableQuantity: 0.00328
                    billingPeriodId: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702
                    chargesBilledSeparately: true
                    currency: USD
                    instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceLocation: eastasia
                    instanceName: shared1
                    invoiceId: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Billing/invoices/201703-123456789
                    isEstimated: false
                    location: EU West
                    meterId: 00000000-0000-0000-0000-000000000000
                    offerId: Offer Id 1
                    partNumber: Part Number 1
                    pretaxCost: 0.67
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    usageEnd: 2017-02-13T23:59:59Z
                    usageQuantity: 0.00328
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_details_controller
  /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationDetails:
    get:
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: reservations_details_list_by_reservation_order
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservationOrderId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: 'Filter reservation details by date range. The properties/UsageDate
          for start date and end date. The filter supports ''le'' and  ''ge'' '
        in: query
        name: $filter
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ReservedInstances
      x-ms-examples:
        ReservationDetails:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate
              le '2017-12-05'
            api-version: 2018-10-01
            reservationOrderId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationDetails/20171129
                  name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000_20171129
                  properties:
                    instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/wvn-sql/providers/microsoft.compute/virtualmachines/abc-sql2014sp33
                    reservationId: 00000000-0000-0000-0000-000000000000
                    reservationOrderId: 00000000-0000-0000-0000-000000000000
                    reservedHours: 24
                    skuName: Standard_D2_v2
                    totalReservedQuantity: 1
                    usageDate: 2017-11-29T00:00:00Z
                    usedHours: 24
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/reservationDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reserved_instances_controller
  /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationSummaries:
    get:
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: reservations_summaries_list_by_reservation_order
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Can be daily or monthly
        in: query
        name: grain
        required: true
        schema:
          enum:
          - daily
          - monthly
          type: string
          x-ms-enum:
            modelAsString: true
            name: datagrain
            values:
            - description: Daily grain of data
              name: DailyGrain
              value: daily
            - description: Monthly grain of data
              name: MonthlyGrain
              value: monthly
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: datagrain
          values:
          - description: Daily grain of data
            name: DailyGrain
            value: daily
          - description: Monthly grain of data
            name: MonthlyGrain
            value: monthly
        x-ms-parameter-location: method
      - description: Required only for daily grain. The properties/UsageDate for start
          date and end date. The filter supports 'le' and  'ge'
        in: query
        name: $filter
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationSummariesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ReservedInstances
      x-ms-examples:
        ReservationSummariesDaily:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate
              le '2017-11-20'
            api-version: 2018-10-01
            grain: daily
            reservationOrderId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationSummaries/20171001
                  name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000_20171001
                  properties:
                    avgUtilizationPercentage: 0
                    maxUtilizationPercentage: 0
                    minUtilizationPercentage: 0
                    reservationId: 00000000-0000-0000-0000-000000000000
                    reservationOrderId: 00000000-0000-0000-0000-000000000000
                    reservedHours: 0
                    skuName: Standard_D8s_v3
                    usageDate: 2017-10-01T00:00:00Z
                    usedHours: 0
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/reservationsummaries
        ReservationSummariesMonthly:
          parameters:
            api-version: 2018-10-01
            grain: monthly
            reservationOrderId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationSummaries/20171001
                  name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000_20171001
                  properties:
                    avgUtilizationPercentage: 0
                    maxUtilizationPercentage: 0
                    minUtilizationPercentage: 0
                    reservationId: 00000000-0000-0000-0000-000000000000
                    reservationOrderId: 00000000-0000-0000-0000-000000000000
                    reservedHours: 0
                    skuName: Standard_D8s_v3
                    usageDate: 2017-10-01T00:00:00Z
                    usedHours: 0
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/reservationsummaries
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reserved_instances_controller
  ? /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationDetails
  : get:
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: reservations_details_list_by_reservation_order_and_reservation
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Id of the reservation
        in: path
        name: reservationId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: 'Filter reservation details by date range. The properties/UsageDate
          for start date and end date. The filter supports ''le'' and  ''ge'' '
        in: query
        name: $filter
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ReservedInstances
      x-ms-examples:
        ReservationDetailsWithReservationId:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate
              le '2017-12-05'
            api-version: 2018-10-01
            reservationId: 00000000-0000-0000-0000-000000000000
            reservationOrderId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationDetails/20171129
                  name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000_20171129
                  properties:
                    instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/wvn-sql/providers/microsoft.compute/virtualmachines/wvn-sql2014sp33
                    reservationId: 00000000-0000-0000-0000-000000000000
                    reservationOrderId: 00000000-0000-0000-0000-000000000000
                    reservedHours: 24
                    skuName: Standard_D2_v2
                    totalReservedQuantity: 1
                    usageDate: 2017-11-29T00:00:00Z
                    usedHours: 24
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/reservationDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reserved_instances_controller
  ? /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationSummaries
  : get:
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: reservations_summaries_list_by_reservation_order_and_reservation
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Id of the reservation
        in: path
        name: reservation_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Can be daily or monthly
        in: query
        name: grain
        required: true
        schema:
          enum:
          - daily
          - monthly
          type: string
          x-ms-enum:
            modelAsString: true
            name: datagrain
            values:
            - description: Daily grain of data
              name: DailyGrain
              value: daily
            - description: Monthly grain of data
              name: MonthlyGrain
              value: monthly
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: datagrain
          values:
          - description: Daily grain of data
            name: DailyGrain
            value: daily
          - description: Monthly grain of data
            name: MonthlyGrain
            value: monthly
        x-ms-parameter-location: method
      - description: Required only for daily grain. The properties/UsageDate for start
          date and end date. The filter supports 'le' and  'ge'
        in: query
        name: $filter
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-10-01.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationSummariesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ReservedInstances
      x-ms-examples:
        ReservationSummariesDailyWithReservationId:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate
              le '2017-11-20'
            api-version: 2018-10-01
            grain: daily
            reservationId: 00000000-0000-0000-0000-000000000000
            reservationOrderId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationSummaries/20171001
                  name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000_20171001
[...]
