# SwaggerHubRegistryApi.ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**validation** | [**[ValidationErrors]**](ValidationErrors.md) | An array of standardization issues | [optional] 


