openapi: 3.0.1
info:
  description: "To manage and control access to your resources, you can define customized\
    \ policies and assign them at a scope."
  title: PolicyClient
  version: 2016-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Authorization/stable/2016-04-01/policy.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: resources-policy
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyassignments:
    get:
      description: Gets all the policy assignments for a subscription.
      operationId: policy_assignments_list
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: OK - Returns an array of policy assignments.
      tags:
      - PolicyAssignments
      x-ms-odata: '#/definitions/PolicyAssignment'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policydefinitions:
    get:
      description: Gets all the policy definitions for a subscription.
      operationId: policy_definitions_list
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinitionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinitionListResult'
          description: OK - Returns ana array of policy definitions.
      tags:
      - PolicyDefinitions
      x-ms-odata: '#/definitions/PolicyDefinition'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policydefinitions/{policyDefinitionName}:
    delete:
      description: Deletes a policy definition.
      operationId: policy_definitions_delete
      parameters:
      - description: The name of the policy definition to delete.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - PolicyDefinitions
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
    get:
      description: Gets the policy definition.
      operationId: policy_definitions_get
      parameters:
      - description: The name of the policy definition to get.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
          description: OK - Returns information about the policy definition.
      tags:
      - PolicyDefinitions
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
    put:
      description: Creates or updates a policy definition.
      operationId: policy_definitions_create_or_update
      parameters:
      - description: The name of the policy definition to create.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyDefinition'
          text/json:
            schema:
              $ref: '#/components/schemas/PolicyDefinition'
        description: The policy definition properties.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
          description: Created - Returns information about the policy definition.
      tags:
      - PolicyDefinitions
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.policy_definitions_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/policyAssignments:
    get:
      description: Gets policy assignments for the resource group.
      operationId: policy_assignments_list_for_resource_group
      parameters:
      - description: The name of the resource group that contains policy assignments.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: OK - Returns an array of policy assignments.
      tags:
      - PolicyAssignments
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/policyassignments
  : get:
      description: Gets policy assignments for a resource.
      operationId: policy_assignments_list_for_resource
      parameters:
      - description: The name of the resource group containing the resource. The name
          is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource path.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource with policy assignments.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: OK - Returns an array of policy assignments.
      tags:
      - PolicyAssignments
      x-ms-odata: '#/definitions/PolicyAssignment'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
  /{policyAssignmentId}:
    delete:
      description: "When providing a scope for the assignment, use '/subscriptions/{subscription-id}/'\
        \ for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'\
        \ for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}'\
        \ for resources."
      operationId: policy_assignments_delete_by_id
      parameters:
      - description: "The ID of the policy assignment to delete. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'."
        in: path
        name: policyAssignmentId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the policy assignment.
      summary: Deletes a policy assignment by ID.
      tags:
      - PolicyAssignments
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
    get:
      description: "When providing a scope for the assignment, use '/subscriptions/{subscription-id}/'\
        \ for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'\
        \ for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}'\
        \ for resources."
      operationId: policy_assignments_get_by_id
      parameters:
      - description: "The ID of the policy assignment to get. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'."
        in: path
        name: policyAssignmentId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the policy assignment.
      summary: Gets a policy assignment by ID.
      tags:
      - PolicyAssignments
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
    put:
      description: "Policy assignments are inherited by child resources. For example,\
        \ when you apply a policy to a resource group that policy is assigned to all\
        \ resources in the group. When providing a scope for the assignment, use '/subscriptions/{subscription-id}/'\
        \ for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'\
        \ for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}'\
        \ for resources."
      operationId: policy_assignments_create_by_id
      parameters:
      - description: "The ID of the policy assignment to create. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'."
        in: path
        name: policyAssignmentId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
          text/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
        description: Parameters for policy assignment.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: Created - Returns information about the policy assignment.
      summary: Creates a policy assignment by ID.
      tags:
      - PolicyAssignments
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
  /{scope}/providers/Microsoft.Authorization/policyassignments/{policyAssignmentName}:
    delete:
      description: Deletes a policy assignment.
      operationId: policy_assignments_delete
      parameters:
      - description: The scope of the policy assignment.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the policy assignment to delete.
        in: path
        name: policyAssignmentName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the deleted assignment.
      tags:
      - PolicyAssignments
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
    get:
      description: Gets a policy assignment.
      operationId: policy_assignments_get
      parameters:
      - description: The scope of the policy assignment.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the policy assignment to get.
        in: path
        name: policyAssignmentName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: OK - Returns information about the policy assignment.
      tags:
      - PolicyAssignments
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
    put:
      description: "Policy assignments are inherited by child resources. For example,\
        \ when you apply a policy to a resource group that policy is assigned to all\
        \ resources in the group."
      operationId: policy_assignments_create
      parameters:
      - description: The scope of the policy assignment.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the policy assignment.
        in: path
        name: policyAssignmentName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
          text/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
        description: Parameters for the policy assignment.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: Created - Returns information about the new policy assignment.
      summary: Creates a policy assignment.
      tags:
      - PolicyAssignments
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.policy_assignments_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    PolicyAssignment:
      description: The policy assignment.
      example:
        name: name
        id: id
        type: type
        properties:
          policyDefinitionId: policyDefinitionId
          displayName: displayName
          scope: scope
      properties:
        id:
          description: The ID of the policy assignment.
          title: id
          type: string
        name:
          description: The name of the policy assignment.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/PolicyAssignmentProperties'
        type:
          description: The type of the policy assignment.
          title: type
          type: string
      title: PolicyAssignment
      type: object
      x-ms-azure-resource: true
    PolicyAssignmentListResult:
      description: List of policy assignments.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            policyDefinitionId: policyDefinitionId
            displayName: displayName
            scope: scope
        - name: name
          id: id
          type: type
          properties:
            policyDefinitionId: policyDefinitionId
            displayName: displayName
            scope: scope
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          description: An array of policy assignments.
          items:
            $ref: '#/components/schemas/PolicyAssignment'
          title: value
          type: array
      title: PolicyAssignmentListResult
      type: object
    PolicyAssignmentProperties:
      description: The policy assignment properties.
      example:
        policyDefinitionId: policyDefinitionId
        displayName: displayName
        scope: scope
      properties:
        displayName:
          description: The display name of the policy assignment.
          title: displayName
          type: string
        policyDefinitionId:
          description: The ID of the policy definition.
          title: policyDefinitionId
          type: string
        scope:
          description: The scope for the policy assignment.
          title: scope
          type: string
      title: PolicyAssignmentProperties
      type: object
    PolicyDefinition:
      description: The policy definition.
      example:
        name: name
        id: id
        properties:
          policyRule: "{}"
          displayName: displayName
          policyType: NotSpecified
          description: description
      properties:
        id:
          description: The ID of the policy definition.
          readOnly: true
          title: id
          type: string
        name:
          description: "The name of the policy definition. If you do not specify a\
            \ value for name, the value is inferred from the name value in the request\
            \ URI."
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/PolicyDefinitionProperties'
      title: PolicyDefinition
      type: object
      x-ms-azure-resource: true
    PolicyDefinitionListResult:
      description: List of policy definitions.
      example:
        value:
        - name: name
          id: id
          properties:
            policyRule: "{}"
            displayName: displayName
            policyType: NotSpecified
            description: description
        - name: name
          id: id
          properties:
            policyRule: "{}"
            displayName: displayName
            policyType: NotSpecified
            description: description
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          description: An array of policy definitions.
          items:
            $ref: '#/components/schemas/PolicyDefinition'
          title: value
          type: array
      title: PolicyDefinitionListResult
      type: object
    PolicyDefinitionProperties:
      description: The policy definition properties.
      example:
        policyRule: "{}"
        displayName: displayName
        policyType: NotSpecified
        description: description
      properties:
        description:
          description: The policy definition description.
          title: description
          type: string
        displayName:
          description: The display name of the policy definition.
          title: displayName
          type: string
        policyRule:
          description: The policy rule.
          properties: {}
          title: policyRule
          type: object
        policyType:
          description: "The type of policy definition. Possible values are NotSpecified,\
            \ BuiltIn, and Custom."
          enum:
          - NotSpecified
          - BuiltIn
          - Custom
          title: policyType
          type: string
          x-ms-enum:
            modelAsString: true
            name: policyType
      title: PolicyDefinitionProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
