openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "The Blogger API provides access to posts, comments and pages of a\
    \ Blogger blog."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Blogger API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: openapi
    url: https://blogger.googleapis.com/$discovery/rest?version=v2
    version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: blogger
externalDocs:
  url: https://developers.google.com/blogger/docs/3.0/getting_started
servers:
- url: https://blogger.googleapis.com/
tags:
- name: blogs
- name: comments
- name: pages
- name: posts
- name: users
paths:
  /v2/blogs/{blogId}:
    get:
      description: Gets a blog by id.
      operationId: blogger.blogs.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: blogId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blog'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/blogger
        Oauth2c:
        - https://www.googleapis.com/auth/blogger
      tags:
      - blogs
      x-accepts:
      - application/json
  /v2/blogs/{blogId}/pages:
    get:
      description: Lists pages.
      operationId: blogger.pages.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: blogId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: fetchBodies
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/blogger
        Oauth2c:
        - https://www.googleapis.com/auth/blogger
      tags:
      - pages
      x-accepts:
      - application/json
  /v2/blogs/{blogId}/pages/{pageId}:
    get:
      description: Gets a page by blog id and page id.
      operationId: blogger.pages.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: blogId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/blogger
        Oauth2c:
        - https://www.googleapis.com/auth/blogger
      tags:
      - pages
      x-accepts:
      - application/json
  /v2/blogs/{blogId}/posts:
    get:
      description: Lists posts.
      operationId: blogger.posts.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: blogId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: fetchBodies
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/blogger
        Oauth2c:
        - https://www.googleapis.com/auth/blogger
      tags:
      - posts
      x-accepts:
      - application/json
  /v2/blogs/{blogId}/posts/{postId}:
    get:
      description: Gets a post by blog id and post id
      operationId: blogger.posts.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: blogId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/blogger
        Oauth2c:
        - https://www.googleapis.com/auth/blogger
      tags:
      - posts
      x-accepts:
      - application/json
  /v2/blogs/{blogId}/posts/{postId}/comments:
    get:
      description: Lists comments.
      operationId: blogger.comments.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: blogId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: fetchBodies
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/blogger
        Oauth2c:
        - https://www.googleapis.com/auth/blogger
      tags:
      - comments
      x-accepts:
      - application/json
  /v2/blogs/{blogId}/posts/{postId}/comments/{commentId}:
    get:
      description: "Gets a comment by blog id, post id and comment id."
      operationId: blogger.comments.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: blogId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/blogger
        Oauth2c:
        - https://www.googleapis.com/auth/blogger
      tags:
      - comments
      x-accepts:
      - application/json
  /v2/users/{userId}:
    get:
      description: Gets a user by user id.
      operationId: blogger.users.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/blogger
        Oauth2c:
        - https://www.googleapis.com/auth/blogger
      tags:
      - users
      x-accepts:
      - application/json
  /v2/users/{userId}/blogs:
    get:
      description: "Lists blogs by user id, possibly filtered."
      operationId: blogger.blogs.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/blogger
        Oauth2c:
        - https://www.googleapis.com/auth/blogger
      tags:
      - blogs
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Blog:
      example:
        kind: kind
        customMetaData: customMetaData
        description: description
        published: published
        locale:
          country: country
          variant: variant
          language: language
        posts:
          totalItems: 5
          items:
          - images:
            - url: url
            - url: url
            author:
              image:
                url: url
              displayName: displayName
              id: id
              url: url
            kind: kind
            customMetaData: customMetaData
            published: published
            blog:
              id: id
            title: title
            content: content
            url: url
            labels:
            - labels
            - labels
            selfLink: selfLink
            replies:
              totalItems: totalItems
              items:
              - post:
                  id: id
                author:
                  image:
                    url: url
                  displayName: displayName
                  id: id
                  url: url
                kind: kind
                inReplyTo:
                  id: id
                id: id
                published: published
                blog:
                  id: id
                updated: updated
                content: content
                selfLink: selfLink
                status: LIVE
              - post:
                  id: id
                author:
                  image:
                    url: url
                  displayName: displayName
                  id: id
                  url: url
                kind: kind
                inReplyTo:
                  id: id
                id: id
                published: published
                blog:
                  id: id
                updated: updated
                content: content
                selfLink: selfLink
                status: LIVE
              selfLink: selfLink
            readerComments: ALLOW
            etag: etag
            location:
              lng: 1.4658129805029452
              name: name
              lat: 6.027456183070403
              span: span
            id: id
            titleLink: titleLink
            updated: updated
            status: LIVE
            trashed: trashed
          - images:
            - url: url
            - url: url
            author:
              image:
                url: url
              displayName: displayName
              id: id
              url: url
            kind: kind
            customMetaData: customMetaData
            published: published
            blog:
              id: id
            title: title
            content: content
            url: url
            labels:
            - labels
            - labels
            selfLink: selfLink
            replies:
              totalItems: totalItems
              items:
              - post:
                  id: id
                author:
                  image:
                    url: url
                  displayName: displayName
                  id: id
                  url: url
                kind: kind
                inReplyTo:
                  id: id
                id: id
                published: published
                blog:
                  id: id
                updated: updated
                content: content
                selfLink: selfLink
                status: LIVE
              - post:
                  id: id
                author:
                  image:
                    url: url
                  displayName: displayName
                  id: id
                  url: url
                kind: kind
                inReplyTo:
                  id: id
                id: id
                published: published
                blog:
                  id: id
                updated: updated
                content: content
                selfLink: selfLink
                status: LIVE
              selfLink: selfLink
            readerComments: ALLOW
            etag: etag
            location:
              lng: 1.4658129805029452
              name: name
              lat: 6.027456183070403
              span: span
            id: id
            titleLink: titleLink
            updated: updated
            status: LIVE
            trashed: trashed
          selfLink: selfLink
        url: url
        selfLink: selfLink
        pages:
          totalItems: 0
          selfLink: selfLink
        name: name
        id: id
        updated: updated
        status: LIVE
      properties:
        customMetaData:
          description: The JSON custom meta-data for the Blog.
          type: string
        description:
          description: The description of this blog. This is displayed underneath
            the title.
          type: string
        id:
          description: The identifier for this resource.
          type: string
        kind:
          description: The kind of this entry. Always blogger#blog.
          type: string
        locale:
          $ref: '#/components/schemas/Blog_locale'
        name:
          description: The name of this blog. This is displayed as the title.
          type: string
        pages:
          $ref: '#/components/schemas/Blog_pages'
        posts:
          $ref: '#/components/schemas/Blog_posts'
        published:
          description: RFC 3339 date-time when this blog was published.
          type: string
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        status:
          description: The status of the blog.
          enum:
          - LIVE
          - DELETED
          type: string
        updated:
          description: RFC 3339 date-time when this blog was last updated.
          type: string
        url:
          description: The URL where this blog is published.
          type: string
      type: object
    BlogList:
      example:
        kind: kind
        items:
        - kind: kind
          customMetaData: customMetaData
          description: description
          published: published
          locale:
            country: country
            variant: variant
            language: language
          posts:
            totalItems: 5
            items:
            - images:
              - url: url
              - url: url
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              customMetaData: customMetaData
              published: published
              blog:
                id: id
              title: title
              content: content
              url: url
              labels:
              - labels
              - labels
              selfLink: selfLink
              replies:
                totalItems: totalItems
                items:
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                selfLink: selfLink
              readerComments: ALLOW
              etag: etag
              location:
                lng: 1.4658129805029452
                name: name
                lat: 6.027456183070403
                span: span
              id: id
              titleLink: titleLink
              updated: updated
              status: LIVE
              trashed: trashed
            - images:
              - url: url
              - url: url
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              customMetaData: customMetaData
              published: published
              blog:
                id: id
              title: title
              content: content
              url: url
              labels:
              - labels
              - labels
              selfLink: selfLink
              replies:
                totalItems: totalItems
                items:
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                selfLink: selfLink
              readerComments: ALLOW
              etag: etag
              location:
                lng: 1.4658129805029452
                name: name
                lat: 6.027456183070403
                span: span
              id: id
              titleLink: titleLink
              updated: updated
              status: LIVE
              trashed: trashed
            selfLink: selfLink
          url: url
          selfLink: selfLink
          pages:
            totalItems: 0
            selfLink: selfLink
          name: name
          id: id
          updated: updated
          status: LIVE
        - kind: kind
          customMetaData: customMetaData
          description: description
          published: published
          locale:
            country: country
            variant: variant
            language: language
          posts:
            totalItems: 5
            items:
            - images:
              - url: url
              - url: url
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              customMetaData: customMetaData
              published: published
              blog:
                id: id
              title: title
              content: content
              url: url
              labels:
              - labels
              - labels
              selfLink: selfLink
              replies:
                totalItems: totalItems
                items:
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                selfLink: selfLink
              readerComments: ALLOW
              etag: etag
              location:
                lng: 1.4658129805029452
                name: name
                lat: 6.027456183070403
                span: span
              id: id
              titleLink: titleLink
              updated: updated
              status: LIVE
              trashed: trashed
            - images:
              - url: url
              - url: url
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              customMetaData: customMetaData
              published: published
              blog:
                id: id
              title: title
              content: content
              url: url
              labels:
              - labels
              - labels
              selfLink: selfLink
              replies:
                totalItems: totalItems
                items:
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                selfLink: selfLink
              readerComments: ALLOW
              etag: etag
              location:
                lng: 1.4658129805029452
                name: name
                lat: 6.027456183070403
                span: span
              id: id
              titleLink: titleLink
              updated: updated
              status: LIVE
              trashed: trashed
            selfLink: selfLink
          url: url
          selfLink: selfLink
          pages:
            totalItems: 0
            selfLink: selfLink
          name: name
          id: id
          updated: updated
          status: LIVE
        blogUserInfos:
        - blog_user_info:
            role: VIEW_TYPE_UNSPECIFIED
            kind: kind
            blogId: blogId
            photosAlbumKey: photosAlbumKey
            userId: userId
            hasAdminAccess: true
          kind: kind
          blog:
            kind: kind
            customMetaData: customMetaData
            description: description
            published: published
            locale:
              country: country
              variant: variant
              language: language
            posts:
              totalItems: 5
              items:
              - images:
                - url: url
                - url: url
                author:
                  image:
                    url: url
                  displayName: displayName
                  id: id
                  url: url
                kind: kind
                customMetaData: customMetaData
                published: published
                blog:
                  id: id
                title: title
                content: content
                url: url
                labels:
                - labels
                - labels
                selfLink: selfLink
                replies:
                  totalItems: totalItems
                  items:
                  - post:
                      id: id
                    author:
                      image:
                        url: url
                      displayName: displayName
                      id: id
                      url: url
                    kind: kind
                    inReplyTo:
                      id: id
                    id: id
                    published: published
                    blog:
                      id: id
                    updated: updated
                    content: content
                    selfLink: selfLink
                    status: LIVE
                  - post:
                      id: id
                    author:
                      image:
                        url: url
                      displayName: displayName
                      id: id
                      url: url
                    kind: kind
                    inReplyTo:
                      id: id
                    id: id
                    published: published
                    blog:
                      id: id
                    updated: updated
                    content: content
                    selfLink: selfLink
                    status: LIVE
                  selfLink: selfLink
                readerComments: ALLOW
                etag: etag
                location:
                  lng: 1.4658129805029452
                  name: name
                  lat: 6.027456183070403
                  span: span
                id: id
                titleLink: titleLink
                updated: updated
                status: LIVE
                trashed: trashed
              - images:
                - url: url
                - url: url
                author:
                  image:
                    url: url
                  displayName: displayName
                  id: id
                  url: url
                kind: kind
                customMetaData: customMetaData
                published: published
                blog:
                  id: id
                title: title
                content: content
                url: url
                labels:
                - labels
                - labels
                selfLink: selfLink
                replies:
                  totalItems: totalItems
                  items:
                  - post:
                      id: id
                    author:
                      image:
                        url: url
                      displayName: displayName
                      id: id
                      url: url
                    kind: kind
                    inReplyTo:
                      id: id
                    id: id
                    published: published
                    blog:
                      id: id
                    updated: updated
                    content: content
                    selfLink: selfLink
                    status: LIVE
                  - post:
                      id: id
                    author:
                      image:
                        url: url
                      displayName: displayName
                      id: id
                      url: url
                    kind: kind
                    inReplyTo:
                      id: id
                    id: id
                    published: published
                    blog:
                      id: id
                    updated: updated
                    content: content
                    selfLink: selfLink
                    status: LIVE
                  selfLink: selfLink
                readerComments: ALLOW
                etag: etag
                location:
                  lng: 1.4658129805029452
                  name: name
                  lat: 6.027456183070403
                  span: span
                id: id
                titleLink: titleLink
                updated: updated
                status: LIVE
                trashed: trashed
              selfLink: selfLink
            url: url
            selfLink: selfLink
            pages:
              totalItems: 0
              selfLink: selfLink
            name: name
            id: id
            updated: updated
            status: LIVE
        - blog_user_info:
            role: VIEW_TYPE_UNSPECIFIED
            kind: kind
            blogId: blogId
            photosAlbumKey: photosAlbumKey
            userId: userId
            hasAdminAccess: true
          kind: kind
          blog:
            kind: kind
            customMetaData: customMetaData
            description: description
            published: published
            locale:
              country: country
              variant: variant
              language: language
            posts:
              totalItems: 5
              items:
              - images:
                - url: url
                - url: url
                author:
                  image:
                    url: url
                  displayName: displayName
                  id: id
                  url: url
                kind: kind
                customMetaData: customMetaData
                published: published
                blog:
                  id: id
                title: title
                content: content
                url: url
                labels:
                - labels
                - labels
                selfLink: selfLink
                replies:
                  totalItems: totalItems
                  items:
                  - post:
                      id: id
                    author:
                      image:
                        url: url
                      displayName: displayName
                      id: id
                      url: url
                    kind: kind
                    inReplyTo:
                      id: id
                    id: id
                    published: published
                    blog:
                      id: id
                    updated: updated
                    content: content
                    selfLink: selfLink
                    status: LIVE
                  - post:
                      id: id
                    author:
                      image:
                        url: url
                      displayName: displayName
                      id: id
                      url: url
                    kind: kind
                    inReplyTo:
                      id: id
                    id: id
                    published: published
                    blog:
                      id: id
                    updated: updated
                    content: content
                    selfLink: selfLink
                    status: LIVE
                  selfLink: selfLink
                readerComments: ALLOW
                etag: etag
                location:
                  lng: 1.4658129805029452
                  name: name
                  lat: 6.027456183070403
                  span: span
                id: id
                titleLink: titleLink
                updated: updated
                status: LIVE
                trashed: trashed
              - images:
                - url: url
                - url: url
                author:
                  image:
                    url: url
                  displayName: displayName
                  id: id
                  url: url
                kind: kind
                customMetaData: customMetaData
                published: published
                blog:
                  id: id
                title: title
                content: content
                url: url
                labels:
                - labels
                - labels
                selfLink: selfLink
                replies:
                  totalItems: totalItems
                  items:
                  - post:
                      id: id
                    author:
                      image:
                        url: url
                      displayName: displayName
                      id: id
                      url: url
                    kind: kind
                    inReplyTo:
                      id: id
                    id: id
                    published: published
                    blog:
                      id: id
                    updated: updated
                    content: content
                    selfLink: selfLink
                    status: LIVE
                  - post:
                      id: id
                    author:
                      image:
                        url: url
                      displayName: displayName
                      id: id
                      url: url
                    kind: kind
                    inReplyTo:
                      id: id
                    id: id
                    published: published
                    blog:
                      id: id
                    updated: updated
                    content: content
                    selfLink: selfLink
                    status: LIVE
                  selfLink: selfLink
                readerComments: ALLOW
                etag: etag
                location:
                  lng: 1.4658129805029452
                  name: name
                  lat: 6.027456183070403
                  span: span
                id: id
                titleLink: titleLink
                updated: updated
                status: LIVE
                trashed: trashed
              selfLink: selfLink
            url: url
            selfLink: selfLink
            pages:
              totalItems: 0
              selfLink: selfLink
            name: name
            id: id
            updated: updated
            status: LIVE
      properties:
        blogUserInfos:
          description: Admin level list of blog per-user information.
          items:
            $ref: '#/components/schemas/BlogUserInfo'
          type: array
        items:
          description: The list of Blogs this user has Authorship or Admin rights
            over.
          items:
            $ref: '#/components/schemas/Blog'
          type: array
        kind:
          description: The kind of this entity. Always blogger#blogList.
          type: string
      type: object
    BlogPerUserInfo:
      example:
        role: VIEW_TYPE_UNSPECIFIED
        kind: kind
        blogId: blogId
        photosAlbumKey: photosAlbumKey
        userId: userId
        hasAdminAccess: true
      properties:
        blogId:
          description: ID of the Blog resource.
          type: string
        hasAdminAccess:
          description: True if the user has Admin level access to the blog.
          type: boolean
        kind:
          description: The kind of this entity. Always blogger#blogPerUserInfo.
          type: string
        photosAlbumKey:
          description: The Photo Album Key for the user when adding photos to the
            blog.
          type: string
        role:
          description: "Access permissions that the user has for the blog (ADMIN,\
            \ AUTHOR, or READER)."
          enum:
          - VIEW_TYPE_UNSPECIFIED
          - READER
          - AUTHOR
          - ADMIN
          type: string
        userId:
          description: ID of the User.
          type: string
      type: object
    BlogUserInfo:
      example:
        blog_user_info:
          role: VIEW_TYPE_UNSPECIFIED
          kind: kind
          blogId: blogId
          photosAlbumKey: photosAlbumKey
          userId: userId
          hasAdminAccess: true
        kind: kind
        blog:
          kind: kind
          customMetaData: customMetaData
          description: description
          published: published
          locale:
            country: country
            variant: variant
            language: language
          posts:
            totalItems: 5
            items:
            - images:
              - url: url
              - url: url
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              customMetaData: customMetaData
              published: published
              blog:
                id: id
              title: title
              content: content
              url: url
              labels:
              - labels
              - labels
              selfLink: selfLink
              replies:
                totalItems: totalItems
                items:
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                selfLink: selfLink
              readerComments: ALLOW
              etag: etag
              location:
                lng: 1.4658129805029452
                name: name
                lat: 6.027456183070403
                span: span
              id: id
              titleLink: titleLink
              updated: updated
              status: LIVE
              trashed: trashed
            - images:
              - url: url
              - url: url
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              customMetaData: customMetaData
              published: published
              blog:
                id: id
              title: title
              content: content
              url: url
              labels:
              - labels
              - labels
              selfLink: selfLink
              replies:
                totalItems: totalItems
                items:
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                - post:
                    id: id
                  author:
                    image:
                      url: url
                    displayName: displayName
                    id: id
                    url: url
                  kind: kind
                  inReplyTo:
                    id: id
                  id: id
                  published: published
                  blog:
                    id: id
                  updated: updated
                  content: content
                  selfLink: selfLink
                  status: LIVE
                selfLink: selfLink
              readerComments: ALLOW
              etag: etag
              location:
                lng: 1.4658129805029452
                name: name
                lat: 6.027456183070403
                span: span
              id: id
              titleLink: titleLink
              updated: updated
              status: LIVE
              trashed: trashed
            selfLink: selfLink
          url: url
          selfLink: selfLink
          pages:
            totalItems: 0
            selfLink: selfLink
          name: name
          id: id
          updated: updated
          status: LIVE
      properties:
        blog:
          $ref: '#/components/schemas/Blog'
        blog_user_info:
          $ref: '#/components/schemas/BlogPerUserInfo'
        kind:
          description: The kind of this entity. Always blogger#blogUserInfo.
          type: string
      type: object
    Comment:
      example:
        post:
          id: id
        author:
          image:
            url: url
          displayName: displayName
          id: id
          url: url
        kind: kind
        inReplyTo:
          id: id
        id: id
        published: published
        blog:
          id: id
        updated: updated
        content: content
        selfLink: selfLink
        status: LIVE
      properties:
        author:
          $ref: '#/components/schemas/Comment_author'
        blog:
          $ref: '#/components/schemas/Comment_blog'
        content:
          description: The actual content of the comment. May include HTML markup.
          type: string
        id:
          description: The identifier for this resource.
          type: string
        inReplyTo:
          $ref: '#/components/schemas/Comment_inReplyTo'
        kind:
          description: The kind of this entry. Always blogger#comment.
          type: string
        post:
          $ref: '#/components/schemas/Comment_post'
        published:
          description: RFC 3339 date-time when this comment was published.
          type: string
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        status:
          description: The status of the comment (only populated for admin users).
          enum:
          - LIVE
          - EMPTIED
          - PENDING
          - SPAM
          type: string
        updated:
          description: RFC 3339 date-time when this comment was last updated.
          type: string
      type: object
    CommentList:
      example:
        prevPageToken: prevPageToken
        kind: kind
        nextPageToken: nextPageToken
        etag: etag
        items:
        - post:
            id: id
          author:
            image:
              url: url
            displayName: displayName
            id: id
            url: url
          kind: kind
          inReplyTo:
            id: id
          id: id
          published: published
          blog:
            id: id
          updated: updated
          content: content
          selfLink: selfLink
          status: LIVE
        - post:
            id: id
          author:
            image:
              url: url
            displayName: displayName
            id: id
            url: url
          kind: kind
          inReplyTo:
            id: id
          id: id
          published: published
          blog:
            id: id
          updated: updated
          content: content
          selfLink: selfLink
          status: LIVE
      properties:
        etag:
          description: Etag of the response.
          type: string
        items:
          description: The List of Comments for a Post.
          items:
            $ref: '#/components/schemas/Comment'
          type: array
        kind:
          description: The kind of this entry. Always blogger#commentList.
          type: string
        nextPageToken:
          description: "Pagination token to fetch the next page, if one exists."
          type: string
        prevPageToken:
          description: "Pagination token to fetch the previous page, if one exists."
          type: string
      type: object
    Page:
      example:
        author:
          image:
            url: url
          displayName: displayName
          id: id
          url: url
        kind: kind
        published: published
        blog:
          id: id
        title: title
        content: content
        url: url
        selfLink: selfLink
        etag: etag
        id: id
        updated: updated
        status: LIVE
        trashed: trashed
      properties:
        author:
          $ref: '#/components/schemas/Page_author'
        blog:
          $ref: '#/components/schemas/Page_blog'
        content:
          description: "The body content of this Page, in HTML."
          type: string
        etag:
          description: Etag of the resource.
          type: string
        id:
          description: The identifier for this resource.
          type: string
        kind:
          description: The kind of this entity. Always blogger#page.
          type: string
        published:
          description: RFC 3339 date-time when this Page was published.
          type: string
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        status:
          description: The status of the page for admin resources (either LIVE or
            DRAFT).
          enum:
          - LIVE
          - DRAFT
          - SOFT_TRASHED
          type: string
        title:
          description: The title of this entity. This is the name displayed in the
            Admin user interface.
          type: string
        trashed:
          description: RFC 3339 date-time when this Page was trashed.
          type: string
        updated:
          description: RFC 3339 date-time when this Page was last updated.
          type: string
        url:
          description: The URL that this Page is displayed at.
          type: string
      type: object
    PageList:
      example:
        kind: kind
        nextPageToken: nextPageToken
        etag: etag
        items:
        - author:
            image:
              url: url
            displayName: displayName
            id: id
            url: url
          kind: kind
          published: published
          blog:
            id: id
          title: title
          content: content
          url: url
          selfLink: selfLink
          etag: etag
          id: id
          updated: updated
          status: LIVE
          trashed: trashed
        - author:
            image:
              url: url
            displayName: displayName
            id: id
            url: url
          kind: kind
          published: published
          blog:
            id: id
          title: title
          content: content
          url: url
          selfLink: selfLink
          etag: etag
          id: id
          updated: updated
          status: LIVE
          trashed: trashed
      properties:
        etag:
          description: Etag of the response.
          type: string
        items:
          description: The list of Pages for a Blog.
          items:
            $ref: '#/components/schemas/Page'
          type: array
        kind:
          description: The kind of this entity. Always blogger#pageList.
          type: string
        nextPageToken:
          description: "Pagination token to fetch the next page, if one exists."
          type: string
      type: object
    Post:
      example:
        images:
        - url: url
        - url: url
        author:
          image:
            url: url
          displayName: displayName
          id: id
          url: url
        kind: kind
        customMetaData: customMetaData
        published: published
        blog:
          id: id
        title: title
        content: content
        url: url
        labels:
        - labels
        - labels
        selfLink: selfLink
        replies:
          totalItems: totalItems
          items:
          - post:
              id: id
            author:
              image:
                url: url
              displayName: displayName
              id: id
              url: url
            kind: kind
            inReplyTo:
              id: id
            id: id
            published: published
            blog:
              id: id
            updated: updated
            content: content
            selfLink: selfLink
            status: LIVE
          - post:
              id: id
            author:
              image:
                url: url
              displayName: displayName
              id: id
              url: url
            kind: kind
            inReplyTo:
              id: id
            id: id
            published: published
            blog:
              id: id
            updated: updated
            content: content
            selfLink: selfLink
            status: LIVE
          selfLink: selfLink
        readerComments: ALLOW
        etag: etag
        location:
          lng: 1.4658129805029452
          name: name
          lat: 6.027456183070403
          span: span
        id: id
        titleLink: titleLink
        updated: updated
        status: LIVE
        trashed: trashed
      properties:
        author:
          $ref: '#/components/schemas/Post_author'
        blog:
          $ref: '#/components/schemas/Post_blog'
        content:
          description: The content of the Post. May contain HTML markup.
          type: string
        customMetaData:
          description: The JSON meta-data for the Post.
          type: string
        etag:
          description: Etag of the resource.
          type: string
        id:
          description: The identifier of this Post.
          type: string
        images:
          description: Display image for the Post.
          items:
            $ref: '#/components/schemas/Post_images_inner'
          type: array
        kind:
          description: The kind of this entity. Always blogger#post.
          type: string
        labels:
          description: The list of labels this Post was tagged with.
          items:
            type: string
          type: array
        location:
          $ref: '#/components/schemas/Post_location'
        published:
          description: RFC 3339 date-time when this Post was published.
          type: string
        readerComments:
          description: Comment control and display setting for readers of this post.
          enum:
          - ALLOW
          - DONT_ALLOW_SHOW_EXISTING
          - DONT_ALLOW_HIDE_EXISTING
          type: string
        replies:
          $ref: '#/components/schemas/Post_replies'
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        status:
          description: Status of the post. Only set for admin-level requests.
          enum:
          - LIVE
          - DRAFT
          - SCHEDULED
          - SOFT_TRASHED
          type: string
        title:
          description: The title of the Post.
          type: string
        titleLink:
          description: "The title link URL, similar to atom's related link."
          type: string
        trashed:
          description: RFC 3339 date-time when this Post was last trashed.
          type: string
        updated:
          description: RFC 3339 date-time when this Post was last updated.
          type: string
        url:
          description: The URL where this Post is displayed.
          type: string
      type: object
    PostList:
      example:
        prevPageToken: prevPageToken
        kind: kind
        nextPageToken: nextPageToken
        etag: etag
        items:
        - images:
          - url: url
          - url: url
          author:
            image:
              url: url
            displayName: displayName
            id: id
            url: url
          kind: kind
          customMetaData: customMetaData
          published: published
          blog:
            id: id
          title: title
          content: content
          url: url
          labels:
          - labels
          - labels
          selfLink: selfLink
          replies:
            totalItems: totalItems
            items:
            - post:
                id: id
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              inReplyTo:
                id: id
              id: id
              published: published
              blog:
                id: id
              updated: updated
              content: content
              selfLink: selfLink
              status: LIVE
            - post:
                id: id
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              inReplyTo:
                id: id
              id: id
              published: published
              blog:
                id: id
              updated: updated
              content: content
              selfLink: selfLink
              status: LIVE
            selfLink: selfLink
          readerComments: ALLOW
          etag: etag
          location:
            lng: 1.4658129805029452
            name: name
            lat: 6.027456183070403
            span: span
          id: id
          titleLink: titleLink
          updated: updated
          status: LIVE
          trashed: trashed
        - images:
          - url: url
          - url: url
          author:
            image:
              url: url
            displayName: displayName
            id: id
            url: url
          kind: kind
          customMetaData: customMetaData
          published: published
          blog:
            id: id
          title: title
          content: content
          url: url
          labels:
          - labels
          - labels
          selfLink: selfLink
          replies:
            totalItems: totalItems
            items:
            - post:
                id: id
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              inReplyTo:
                id: id
              id: id
              published: published
              blog:
                id: id
              updated: updated
              content: content
              selfLink: selfLink
              status: LIVE
            - post:
                id: id
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              inReplyTo:
                id: id
              id: id
              published: published
              blog:
                id: id
              updated: updated
              content: content
              selfLink: selfLink
              status: LIVE
            selfLink: selfLink
          readerComments: ALLOW
          etag: etag
          location:
            lng: 1.4658129805029452
            name: name
            lat: 6.027456183070403
            span: span
          id: id
          titleLink: titleLink
          updated: updated
          status: LIVE
          trashed: trashed
      properties:
        etag:
          description: Etag of the response.
          type: string
        items:
          description: The list of Posts for this Blog.
          items:
            $ref: '#/components/schemas/Post'
          type: array
        kind:
          description: The kind of this entity. Always blogger#postList.
          type: string
        nextPageToken:
          description: "Pagination token to fetch the next page, if one exists."
          type: string
        prevPageToken:
          description: "Pagination token to fetch the previous page, if one exists."
          type: string
      type: object
    User:
      example:
        blogs:
          selfLink: selfLink
        created: created
        displayName: displayName
        kind: kind
        about: about
        id: id
        locale:
          country: country
          variant: variant
          language: language
        url: url
        selfLink: selfLink
      properties:
        about:
          description: Profile summary information.
          type: string
        blogs:
          $ref: '#/components/schemas/User_blogs'
        created:
          description: "The timestamp of when this profile was created, in seconds\
            \ since epoch."
          type: string
        displayName:
          description: The display name.
          type: string
        id:
          description: The identifier for this User.
          type: string
        kind:
          description: The kind of this entity. Always blogger#user.
          type: string
        locale:
          $ref: '#/components/schemas/User_locale'
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        url:
          description: The user's profile page.
          type: string
      type: object
    Blog_locale:
      description: The locale this Blog is set to.
      example:
        country: country
        variant: variant
        language: language
      properties:
        country:
          description: The country this blog's locale is set to.
          type: string
        language:
          description: The language this blog is authored in.
          type: string
        variant:
          description: The language variant this blog is authored in.
          type: string
      type: object
    Blog_pages:
      description: The container of pages in this blog.
      example:
        totalItems: 0
        selfLink: selfLink
      properties:
        selfLink:
          description: The URL of the container for pages in this blog.
          type: string
        totalItems:
          description: The count of pages in this blog.
          format: int32
          type: integer
      type: object
    Blog_posts:
      description: The container of posts in this blog.
      example:
        totalItems: 5
        items:
        - images:
          - url: url
          - url: url
          author:
            image:
              url: url
            displayName: displayName
            id: id
            url: url
          kind: kind
          customMetaData: customMetaData
          published: published
          blog:
            id: id
          title: title
          content: content
          url: url
          labels:
          - labels
          - labels
          selfLink: selfLink
          replies:
            totalItems: totalItems
            items:
            - post:
                id: id
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              inReplyTo:
                id: id
              id: id
              published: published
              blog:
                id: id
              updated: updated
              content: content
              selfLink: selfLink
              status: LIVE
            - post:
                id: id
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              inReplyTo:
                id: id
              id: id
              published: published
              blog:
                id: id
              updated: updated
              content: content
              selfLink: selfLink
              status: LIVE
            selfLink: selfLink
          readerComments: ALLOW
          etag: etag
          location:
            lng: 1.4658129805029452
            name: name
            lat: 6.027456183070403
            span: span
          id: id
          titleLink: titleLink
          updated: updated
          status: LIVE
          trashed: trashed
        - images:
          - url: url
          - url: url
          author:
            image:
              url: url
            displayName: displayName
            id: id
            url: url
          kind: kind
          customMetaData: customMetaData
          published: published
          blog:
            id: id
          title: title
          content: content
          url: url
          labels:
          - labels
          - labels
          selfLink: selfLink
          replies:
            totalItems: totalItems
            items:
            - post:
                id: id
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              inReplyTo:
                id: id
              id: id
              published: published
              blog:
                id: id
              updated: updated
              content: content
              selfLink: selfLink
              status: LIVE
            - post:
                id: id
              author:
                image:
                  url: url
                displayName: displayName
                id: id
                url: url
              kind: kind
              inReplyTo:
                id: id
              id: id
              published: published
              blog:
                id: id
              updated: updated
              content: content
              selfLink: selfLink
              status: LIVE
            selfLink: selfLink
          readerComments: ALLOW
          etag: etag
          location:
            lng: 1.4658129805029452
            name: name
            lat: 6.027456183070403
            span: span
          id: id
          titleLink: titleLink
          updated: updated
          status: LIVE
          trashed: trashed
        selfLink: selfLink
      properties:
        items:
          description: The List of Posts for this Blog.
          items:
            $ref: '#/components/schemas/Post'
          type: array
        selfLink:
          description: The URL of the container for posts in this blog.
          type: string
        totalItems:
          description: The count of posts in this blog.
          format: int32
          type: integer
      type: object
    Comment_author_image:
      description: The creator's avatar.
      example:
        url: url
      properties:
        url:
          description: The creator's avatar URL.
          type: string
      type: object
    Comment_author:
      description: The author of this Comment.
      example:
        image:
          url: url
        displayName: displayName
        id: id
        url: url
      properties:
        displayName:
          description: The display name.
          type: string
        id:
          description: The identifier of the creator.
          type: string
        image:
          $ref: '#/components/schemas/Comment_author_image'
        url:
          description: The URL of the creator's Profile page.
          type: string
      type: object
    Comment_blog:
      description: Data about the blog containing this comment.
      example:
        id: id
      properties:
        id:
          description: The identifier of the blog containing this comment.
          type: string
      type: object
    Comment_inReplyTo:
      description: Data about the comment this is in reply to.
      example:
        id: id
      properties:
        id:
          description: The identified of the parent of this comment.
          type: string
      type: object
    Comment_post:
      description: Data about the post containing this comment.
      example:
        id: id
      properties:
        id:
          description: The identifier of the post containing this comment.
          type: string
      type: object
    Page_author:
      description: The author of this Page.
      example:
        image:
          url: url
        displayName: displayName
        id: id
        url: url
      properties:
        displayName:
          description: The display name.
          type: string
        id:
          description: The identifier of the creator.
          type: string
        image:
          $ref: '#/components/schemas/Comment_author_image'
        url:
          description: The URL of the creator's Profile page.
          type: string
      type: object
    Page_blog:
      description: Data about the blog containing this Page.
      example:
        id: id
      properties:
        id:
          description: The identifier of the blog containing this page.
          type: string
      type: object
    Post_author:
      description: The author of this Post.
      example:
        image:
          url: url
        displayName: displayName
        id: id
        url: url
      properties:
        displayName:
          description: The display name.
          type: string
        id:
          description: The identifier of the creator.
          type: string
        image:
          $ref: '#/components/schemas/Comment_author_image'
        url:
          description: The URL of the creator's Profile page.
          type: string
      type: object
    Post_blog:
      description: Data about the blog containing this Post.
      example:
        id: id
      properties:
        id:
          description: The identifier of the Blog that contains this Post.
          type: string
      type: object
    Post_images_inner:
      example:
        url: url
      properties:
        url:
          type: string
      type: object
    Post_location:
      description: The location for geotagged posts.
      example:
        lng: 1.4658129805029452
        name: name
        lat: 6.027456183070403
        span: span
      properties:
        lat:
          description: Location's latitude.
          format: double
          type: number
        lng:
          description: Location's longitude.
          format: double
          type: number
        name:
          description: Location name.
          type: string
        span:
          description: Location's viewport span. Can be used when rendering a map
            preview.
          type: string
      type: object
    Post_replies:
      description: The container of comments on this Post.
      example:
        totalItems: totalItems
        items:
        - post:
            id: id
          author:
            image:
              url: url
            displayName: displayName
            id: id
            url: url
          kind: kind
          inReplyTo:
            id: id
          id: id
          published: published
          blog:
            id: id
          updated: updated
          content: content
          selfLink: selfLink
          status: LIVE
        - post:
            id: id
          author:
            image:
              url: url
            displayName: displayName
            id: id
            url: url
          kind: kind
          inReplyTo:
            id: id
          id: id
          published: published
          blog:
            id: id
          updated: updated
          content: content
          selfLink: selfLink
          status: LIVE
        selfLink: selfLink
      properties:
        items:
          description: The List of Comments for this Post.
          items:
            $ref: '#/components/schemas/Comment'
          type: array
        selfLink:
          description: The URL of the comments on this post.
          type: string
        totalItems:
          description: The count of comments on this post.
          format: int64
          type: string
      type: object
    User_blogs:
      description: The container of blogs for this user.
      example:
        selfLink: selfLink
      properties:
        selfLink:
          description: The URL of the Blogs for this user.
          type: string
      type: object
    User_locale:
      description: This user's locale
      example:
        country: country
        variant: variant
        language: language
      properties:
        country:
          description: The country this blog's locale is set to.
          type: string
        language:
          description: The language this blog is authored in.
          type: string
        variant:
          description: The language variant this blog is authored in.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/blogger: Manage your Blogger account
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/blogger: Manage your Blogger account
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2

