openapi: 3.0.1
info:
  contact:
    email: pim.360.team@intel.com
  description: "This is the documentation for PIM Micro services. In order to use\
    \ this tool you need to have Basic Auth credentials and a client id. If you dont\
    \ have one, please make sure to request one by sending an email to the PIM MS\
    \ team: [pim.360.team@intel.com](mailto:pim.360.team@intel.com?subject=PIMServices)"
  termsOfService: http://www.intel.com/content/www/us/en/legal/terms-of-use.html
  title: Intel Product Catalogue Service
  version: 0.1.0
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://www.intel.com/content/dam/logos/logo-energyblue-1x1.png
  x-origin:
  - format: swagger
    url: https://productapi.intel.com/swagger.json
    version: "2.0"
  x-providerName: intel.com
  x-serviceName: product-catalogue
servers:
- url: https://productapi.intel.com/
security:
- BasicAuth: []
- ClientId: []
tags:
- description: Product details.
  name: products
paths:
  /api/products/get-codename:
    get:
      description: Use this to get codename details for Intel products. No pagination
        supported.
      operationId: getCodeName
      parameters:
      - description: Locale and Geo code used to get localised data.<br/><br/>
        in: query
        name: locale_geo_id
        required: true
        schema:
          enum:
          - zh-TW
          - de-DE
          - en-US
          - es-ES
          - fr-FR
          - it-IT
          - ja-JP
          - ko-KR
          - nl-NL
          - pl-PL
          - pt-BR
          - ru-RU
          - sv-SE
          - th-TH
          - tr-TR
          - ur-PK
          - id-ID
          - uk-UA
          - vi-VN
          - si-LK
          - en-NE
          - zh-CN
          - en-UK
          - es-MX
          - pt-PT
          - bn-BD
          - en-EG
          - en-AU
          - en-CA
          - en-NZ
          - en-IE
          - en-VE
          - en-CO
          - en-PE
          - en-AR
          - en-PH
          - es-CL
          - en-HK
          - en-IN
          - en-MY
          - en-SG
          - en-ZA
          - es-XL
          - fr-CA
          - en-XR
          - en-XA
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Complete_codename_lsit'
          description: successful operation
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/unsuccessful_operation'
          description: unsuccessful operation
      summary: 5. Get list of codename details for Intel products.
      tags:
      - products
      x-accepts:
      - '*/*'
  /api/products/get-ordering-info:
    get:
      description: Use this to fetch ordering info details for Intel products. No
        pagination supported.
      operationId: getorderinginfo
      parameters:
      - description: "Filter ordering info details based on one or multiple product\
          \ id's. Values must be enclosed in [ square brackets ] and each value must\
          \ be in \"double quotes\". Use comma to add multiple values. <br/><br/>Example:\
          \ [\"123003\"]"
        in: query
        name: product_id
        required: true
        schema:
          type: string
      - description: Locale and Geo code used to get localised data.<br/><br/>
        in: query
        name: locale_geo_id
        required: true
        schema:
          enum:
          - zh-TW
          - de-DE
          - en-US
          - es-ES
          - fr-FR
          - it-IT
          - ja-JP
          - ko-KR
          - nl-NL
          - pl-PL
          - pt-BR
          - ru-RU
          - sv-SE
          - th-TH
          - tr-TR
          - ur-PK
          - id-ID
          - uk-UA
          - vi-VN
          - si-LK
          - en-NE
          - zh-CN
          - en-UK
          - es-MX
          - pt-PT
          - bn-BD
          - en-EG
          - en-AU
          - en-CA
          - en-NZ
          - en-IE
          - en-VE
          - en-CO
          - en-PE
          - en-AR
          - en-PH
          - es-CL
          - en-HK
          - en-IN
          - en-MY
          - en-SG
          - en-ZA
          - es-XL
          - fr-CA
          - en-XR
          - en-XA
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Detailed_ordering_level_info'
          description: successful operation
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/unsuccessful_operation'
          description: unsuccessful operation
      summary: 3. Get ordering info for product id's requested.
      tags:
      - products
      x-accepts:
      - '*/*'
  /api/products/get-products:
    get:
      description: Use this to get basic details of products with pagination. Can
        be used to generate listing page for products.
      operationId: getProductList
      parameters:
      - description: Locale and Geo code used to get localised data.<br/><br/>
        in: query
        name: locale_geo_id
        required: true
        schema:
          enum:
          - zh-TW
          - de-DE
          - en-US
          - es-ES
          - fr-FR
          - it-IT
          - ja-JP
          - ko-KR
          - nl-NL
          - pl-PL
          - pt-BR
          - ru-RU
          - sv-SE
          - th-TH
          - tr-TR
          - ur-PK
          - id-ID
          - uk-UA
          - vi-VN
          - si-LK
          - en-NE
          - zh-CN
          - en-UK
          - es-MX
          - pt-PT
          - bn-BD
          - en-EG
          - en-AU
          - en-CA
          - en-NZ
          - en-IE
          - en-VE
          - en-CO
          - en-PE
          - en-AR
          - en-PH
          - es-CL
          - en-HK
          - en-IN
          - en-MY
          - en-SG
          - en-ZA
          - es-XL
          - fr-CA
          - en-XR
          - en-XA
          type: string
      - description: "Filter products based on one or multiple category id. Either\
          \ category id or product id is mandatory for any request. Values must be\
          \ enclosed in [ square brackets ] and each value must be in \"double quotes\"\
          . Use comma to add multiple values. <br/><br/>Example: [\"873\"]<br/><br/>Categories\
          \ Available:<br/> Processors = 873, Server Products = 1201, Mini PC's =\
          \ 98414, Wireless Networking = 59485, Ethernet Products = 36773, Fabric\
          \ products = 70021, Memory and Storage = 35125, Chipsets = 53, Graphics\
          \ Drivers = 80939 <br/><br/>"
        in: query
        name: category_id
        schema:
          type: string
      - description: "Filter products based on one or multiple product id. Either\
          \ category id or product id is mandatory for any request. Values must be\
          \ enclosed in [ square brackets ] and each value must be in \"double quotes\"\
          . Use comma to add multiple values. <br/><br/>Example: [\"123003\"]<br/><br/>"
        in: query
        name: product_id
        schema:
          type: string
      - description: "Specification values which needs to be pulled from product data.\
          \ Values must be enclosed in [ square brackets ] and each value must be\
          \ in \"double quotes\". Use comma to add multiple values. <br/><br/>Example:\
          \ [\"CoreCount\", \"StatusCodeText\"]<br/><br/>"
        in: query
        name: highlights
        schema:
          type: string
      - description: "Indicates sorting fields. Accepts array of objects in format\
          \ like: [{\"field\":\"name\",\"order\":\"ASC\"}].<br/><br/>Any specification\
          \ that we get from get-product-info can be used to sort result. Other generic\
          \ sort field is \"name\".<br/><br/>"
        in: query
        name: sort
        schema:
          type: string
      - description: "Allows to filter data.<br/><br/>Format of filter: [{\"type\"\
          :\"specvalue\",\"name\":\"ThreadCount\",\"gteq\":\"4\"}]<br/><br/><b>Available\
          \ operators are:</b> \"eq\": equal to, \"neq\": not equal to, \"lteq\":\
          \ less than or equal to, \"gteq\": greater than or equal to, \"swc\": starts\
          \ with characters, \"nswc\": not starting with characters, \"cts\": contains,\
          \ \"ncts\": not contains<br/><br/><b>Conditions:</b> By default all objects\
          \ works on an AND condition. But inside an object we have the capability\
          \ to put an \"OR\" or \"AND\" condition.<br/>Example conditions: [{\"type\"\
          :\"specvalue\",\"name\":\"ThreadCount\",\"ncts\":\"4,5\",\"cond\":\"AND\"\
          }]<br/><br/><br/>"
        in: query
        name: filters
        schema:
          type: string
      - description: Filter number of products in response to desired size.
        in: query
        name: per_page
        schema:
          type: integer
      - description: Indicates page number for pagination of results.
        in: query
        name: page_no
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Product_listing_level_info'
          description: successful operation
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/unsuccessful_operation'
          description: unsuccessful operation
      summary: 1. Find products by product id or category id
      tags:
      - products
      x-accepts:
      - '*/*'
  /api/products/get-products-info:
    get:
      description: Use this to get complete product info. No pagination supported.
      operationId: getProductInfo
      parameters:
      - description: Locale and Geo code used to get localised data.<br/><br/>
        in: query
        name: locale_geo_id
        required: true
        schema:
          enum:
          - zh-TW
          - de-DE
          - en-US
          - es-ES
          - fr-FR
          - it-IT
          - ja-JP
          - ko-KR
          - nl-NL
          - pl-PL
          - pt-BR
          - ru-RU
          - sv-SE
          - th-TH
          - tr-TR
          - ur-PK
          - id-ID
          - uk-UA
          - vi-VN
          - si-LK
          - en-NE
          - zh-CN
          - en-UK
          - es-MX
          - pt-PT
          - bn-BD
          - en-EG
          - en-AU
          - en-CA
          - en-NZ
          - en-IE
          - en-VE
          - en-CO
          - en-PE
          - en-AR
          - en-PH
          - es-CL
          - en-HK
          - en-IN
          - en-MY
          - en-SG
          - en-ZA
          - es-XL
          - fr-CA
          - en-XR
          - en-XA
          type: string
      - description: "Product id's that needs to be filtered. Only max of 40 products\
          \ are supported now. Values must be enclosed in [ square brackets ] and\
          \ each value must be in \"double quotes\". Use comma to add multiple values.<br/><br/>Example:\
          \ [\"223\",\"224\"]"
        in: query
        name: product_id
        required: true
        schema:
          type: string
      - description: "If send \"true\", this will fetch variant/compatible info into\
          \ result set. Default is false."
        in: query
        name: include_reference
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Detailed_product_information'
          description: Successful operation.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/unsuccessful_operation'
          description: unsuccessful operation
      summary: 2. Get complete product info with product id.
      tags:
      - products
      x-accepts:
      - '*/*'
components:
  schemas:
    Complete_codename_lsit:
      example:
        result:
        - CodeNameId: "37567"
          CodeNameText: Products formerly Tunnel Creek
          CodeNameType: CODENAME
          UrlText: Tunnel-Creek
        - CodeNameId: "37567"
          CodeNameText: Products formerly Tunnel Creek
          CodeNameType: CODENAME
          UrlText: Tunnel-Creek
        total_count: 909
        status: success
      properties:
        result:
          items:
            $ref: '#/components/schemas/Complete_codename_lsit_result_inner'
          type: array
        status:
          example: success
          type: string
        total_count:
          example: 909
          type: integer
      title: Complete codename lsit
      type: object
    Product_listing_level_info_result_inner:
      example:
        product_name_raw: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"
        product_id: "120475"
        highlights_info:
        - highlight_key: StatusCodeText
          raw_value: "4"
          label: Status
          value: Launched
        - highlight_key: StatusCodeText
          raw_value: "4"
          label: Status
          value: Launched
        mktg_prd_type: "18"
        product_on_market_date: 2017-07-11T00:00:00:000-0400
        created_date: 2018-04-17T08:29:13:770-0400
        product_manufacturer: Intel
        updated_date: 2018-10-11T07:20:11:500-0400
        product_description: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60\
          \ GHz)"
        product_name: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"
        product_category:
        - "51163"
        - "12201"
      properties:
        created_date:
          example: 2018-04-17T08:29:13:770-0400
          type: string
        highlights_info:
          items:
            $ref: '#/components/schemas/Product_listing_level_info_result_inner_highlights_info_inner'
          type: array
        mktg_prd_type:
          example: "18"
          type: string
        product_category:
          description: Multiple product category
          example:
          - "51163"
          - "12201"
          items:
            type: string
          type: array
        product_description:
          example: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"
          type: string
        product_id:
          example: "120475"
          type: string
        product_manufacturer:
          example: Intel
          type: string
        product_name:
          example: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"
          type: string
        product_name_raw:
          example: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"
          type: string
        product_on_market_date:
          example: 2017-07-11T00:00:00:000-0400
          type: string
        updated_date:
          example: 2018-10-11T07:20:11:500-0400
          type: string
      type: object
    Detailed_ordering_level_info:
      example:
        result:
        - product_id: "123003"
          attributes:
          - highlight_key: OrderingCode
            tool_tip: tool tip
            raw_value: CM8068403377111
            label: Ordering Code
            value: CM8068403377111
          - highlight_key: OrderingCode
            tool_tip: tool tip
            raw_value: CM8068403377111
            label: Ordering Code
            value: CM8068403377111
        - product_id: "123003"
          attributes:
          - highlight_key: OrderingCode
            tool_tip: tool tip
            raw_value: CM8068403377111
            label: Ordering Code
            value: CM8068403377111
          - highlight_key: OrderingCode
            tool_tip: tool tip
            raw_value: CM8068403377111
            label: Ordering Code
            value: CM8068403377111
        total_count: 1
        status: success
      properties:
        result:
          items:
            $ref: '#/components/schemas/Detailed_ordering_level_info_result_inner'
          type: array
        status:
          example: success
          type: string
        total_count:
          example: 1
          type: integer
      title: Detailed ordering level info
      type: object
    Detailed_ordering_level_info_result_inner_attributes_inner:
      example:
        highlight_key: OrderingCode
        tool_tip: tool tip
        raw_value: CM8068403377111
        label: Ordering Code
        value: CM8068403377111
      properties:
        highlight_key:
          example: OrderingCode
          type: string
        label:
          example: Ordering Code
          type: string
        raw_value:
          example: CM8068403377111
          type: string
        tool_tip:
          example: tool tip
          type: string
        value:
          example: CM8068403377111
          type: string
      type: object
    Detailed_product_information_result_inner:
      allOf:
      - properties:
          created_date:
            example: 2017-12-18T03:40:13:990-0500
            type: string
          media_asset:
            $ref: '#/components/schemas/Detailed_product_information_result_inner_allOf_media_asset'
          mktg_prd_type:
            example: "18"
            type: string
          product_category:
            description: Product category
            items:
              example: ""
              type: string
            type: array
          product_description:
            example: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
            type: string
          product_id:
            example: "123003"
            type: string
          product_manufacturer:
            example: Intel
            type: string
          product_name:
            example: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
            type: string
          product_name_raw:
            example: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
            type: string
          product_on_market_date:
            example: 2017-07-11T00:00:00:000-0400
            type: string
          product_picture:
            example: https://www.intel.com/content/dam/www/global/ark/badges/36866_128.gif/jcr:content/renditions/_64.gif
            type: string
          reference:
            items:
              $ref: '#/components/schemas/Detailed_product_information_result_inner_allOf_reference_inner'
            type: array
          tech_spec:
            description: tech spec
            items:
              $ref: '#/components/schemas/Detailed_product_information_result_inner_allOf_tech_spec_inner'
            type: array
          updated_date:
            example: 2018-10-15T03:42:52:320-0400
            type: string
        type: object
      example:
        media_asset:
          picture_5: picture_5
          picture_2: picture_2
          picture_1: picture_1
          picture_4: picture_4
          picture_3: picture_3
        product_name_raw: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
        product_manufacturer: Intel
        product_picture: https://www.intel.com/content/dam/www/global/ark/badges/36866_128.gif/jcr:content/renditions/_64.gif
        product_name: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
        tech_spec:
        - highlight_key: TBTVersion
          tool_tip: "Intel® Turbo Boost Technology dynamically increases the processor's\
            \ frequency as needed by taking advantage of thermal and power headroom\
            \ to give you a burst of speed when you need it, and increased energy\
            \ efficiency when you don’t."
          raw_value: "2"
          label: Intel® Turbo Boost Technology <small><sup>‡</sup></small>
          value: "2.0"
          disclaimer: Max Turbo Frequency refers to the maximum single-core processor
            frequency that can be achieved with Intel® Turbo Boost Technology.  See
            <a href="http://www.intel.com/technology/turboboost/">www.intel.com/technology/turboboost/</a>
            for more information.
        - highlight_key: TBTVersion
          tool_tip: "Intel® Turbo Boost Technology dynamically increases the processor's\
            \ frequency as needed by taking advantage of thermal and power headroom\
            \ to give you a burst of speed when you need it, and increased energy\
            \ efficiency when you don’t."
          raw_value: "2"
          label: Intel® Turbo Boost Technology <small><sup>‡</sup></small>
          value: "2.0"
          disclaimer: Max Turbo Frequency refers to the maximum single-core processor
            frequency that can be achieved with Intel® Turbo Boost Technology.  See
            <a href="http://www.intel.com/technology/turboboost/">www.intel.com/technology/turboboost/</a>
            for more information.
        reference:
        - category_id:
          - ""
          - ""
          reference_id: "2345"
          reference_type: Compatible
        - category_id:
          - ""
          - ""
          reference_id: "2345"
          reference_type: Compatible
        product_id: "123003"
        mktg_prd_type: "18"
        product_on_market_date: 2017-07-11T00:00:00:000-0400
        created_date: 2017-12-18T03:40:13:990-0500
        updated_date: 2018-10-15T03:42:52:320-0400
        product_description: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
        product_category:
        - ""
        - ""
      type: object
    Detailed_ordering_level_info_result_inner:
      example:
        product_id: "123003"
        attributes:
        - highlight_key: OrderingCode
          tool_tip: tool tip
          raw_value: CM8068403377111
          label: Ordering Code
          value: CM8068403377111
        - highlight_key: OrderingCode
          tool_tip: tool tip
          raw_value: CM8068403377111
          label: Ordering Code
          value: CM8068403377111
      properties:
        attributes:
          items:
            $ref: '#/components/schemas/Detailed_ordering_level_info_result_inner_attributes_inner'
          type: array
        product_id:
          example: "123003"
          type: string
      type: object
    Product_listing_level_info:
      example:
        result:
        - product_name_raw: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"
          product_id: "120475"
          highlights_info:
          - highlight_key: StatusCodeText
            raw_value: "4"
            label: Status
            value: Launched
          - highlight_key: StatusCodeText
            raw_value: "4"
            label: Status
            value: Launched
          mktg_prd_type: "18"
          product_on_market_date: 2017-07-11T00:00:00:000-0400
          created_date: 2018-04-17T08:29:13:770-0400
          product_manufacturer: Intel
          updated_date: 2018-10-11T07:20:11:500-0400
          product_description: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60\
            \ GHz)"
          product_name: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"
          product_category:
          - "51163"
          - "12201"
        - product_name_raw: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"
          product_id: "120475"
          highlights_info:
          - highlight_key: StatusCodeText
            raw_value: "4"
            label: Status
            value: Launched
          - highlight_key: StatusCodeText
            raw_value: "4"
            label: Status
            value: Launched
          mktg_prd_type: "18"
          product_on_market_date: 2017-07-11T00:00:00:000-0400
          created_date: 2018-04-17T08:29:13:770-0400
          product_manufacturer: Intel
          updated_date: 2018-10-11T07:20:11:500-0400
          product_description: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60\
            \ GHz)"
          product_name: "Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)"
          product_category:
          - "51163"
          - "12201"
        per_page: 10
        total_count: 230
        page_no: "1"
        status: success
      properties:
        page_no:
          example: "1"
          type: string
        per_page:
          example: 10
          type: integer
        result:
          description: Multiple objects with product data.
          items:
            $ref: '#/components/schemas/Product_listing_level_info_result_inner'
          type: array
        status:
          example: success
          type: string
        total_count:
          example: 230
          type: integer
      required:
      - page_no
      - per_page
      - result
      - status
      - total_count
      title: Product listing level info
      type: object
    Complete_codename_lsit_result_inner:
      example:
        CodeNameId: "37567"
        CodeNameText: Products formerly Tunnel Creek
        CodeNameType: CODENAME
        UrlText: Tunnel-Creek
      properties:
        CodeNameId:
          example: "37567"
          type: string
        CodeNameText:
          example: Products formerly Tunnel Creek
          type: string
        CodeNameType:
          example: CODENAME
          type: string
        UrlText:
          example: Tunnel-Creek
          type: string
      type: object
    Detailed_product_information:
      example:
        result:
        - media_asset:
            picture_5: picture_5
            picture_2: picture_2
            picture_1: picture_1
            picture_4: picture_4
            picture_3: picture_3
          product_name_raw: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
          product_manufacturer: Intel
          product_picture: https://www.intel.com/content/dam/www/global/ark/badges/36866_128.gif/jcr:content/renditions/_64.gif
          product_name: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
          tech_spec:
          - highlight_key: TBTVersion
            tool_tip: "Intel® Turbo Boost Technology dynamically increases the processor's\
              \ frequency as needed by taking advantage of thermal and power headroom\
              \ to give you a burst of speed when you need it, and increased energy\
              \ efficiency when you don’t."
            raw_value: "2"
            label: Intel® Turbo Boost Technology <small><sup>‡</sup></small>
            value: "2.0"
            disclaimer: Max Turbo Frequency refers to the maximum single-core processor
              frequency that can be achieved with Intel® Turbo Boost Technology.  See
              <a href="http://www.intel.com/technology/turboboost/">www.intel.com/technology/turboboost/</a>
              for more information.
          - highlight_key: TBTVersion
            tool_tip: "Intel® Turbo Boost Technology dynamically increases the processor's\
              \ frequency as needed by taking advantage of thermal and power headroom\
              \ to give you a burst of speed when you need it, and increased energy\
              \ efficiency when you don’t."
            raw_value: "2"
            label: Intel® Turbo Boost Technology <small><sup>‡</sup></small>
            value: "2.0"
            disclaimer: Max Turbo Frequency refers to the maximum single-core processor
              frequency that can be achieved with Intel® Turbo Boost Technology.  See
              <a href="http://www.intel.com/technology/turboboost/">www.intel.com/technology/turboboost/</a>
              for more information.
          reference:
          - category_id:
            - ""
            - ""
            reference_id: "2345"
            reference_type: Compatible
          - category_id:
            - ""
            - ""
            reference_id: "2345"
            reference_type: Compatible
          product_id: "123003"
          mktg_prd_type: "18"
          product_on_market_date: 2017-07-11T00:00:00:000-0400
          created_date: 2017-12-18T03:40:13:990-0500
          updated_date: 2018-10-15T03:42:52:320-0400
          product_description: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
          product_category:
          - ""
          - ""
        - media_asset:
            picture_5: picture_5
            picture_2: picture_2
            picture_1: picture_1
            picture_4: picture_4
            picture_3: picture_3
          product_name_raw: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
          product_manufacturer: Intel
          product_picture: https://www.intel.com/content/dam/www/global/ark/badges/36866_128.gif/jcr:content/renditions/_64.gif
          product_name: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
          tech_spec:
          - highlight_key: TBTVersion
            tool_tip: "Intel® Turbo Boost Technology dynamically increases the processor's\
              \ frequency as needed by taking advantage of thermal and power headroom\
              \ to give you a burst of speed when you need it, and increased energy\
              \ efficiency when you don’t."
            raw_value: "2"
            label: Intel® Turbo Boost Technology <small><sup>‡</sup></small>
            value: "2.0"
            disclaimer: Max Turbo Frequency refers to the maximum single-core processor
              frequency that can be achieved with Intel® Turbo Boost Technology.  See
              <a href="http://www.intel.com/technology/turboboost/">www.intel.com/technology/turboboost/</a>
              for more information.
          - highlight_key: TBTVersion
            tool_tip: "Intel® Turbo Boost Technology dynamically increases the processor's\
              \ frequency as needed by taking advantage of thermal and power headroom\
              \ to give you a burst of speed when you need it, and increased energy\
              \ efficiency when you don’t."
            raw_value: "2"
            label: Intel® Turbo Boost Technology <small><sup>‡</sup></small>
            value: "2.0"
            disclaimer: Max Turbo Frequency refers to the maximum single-core processor
              frequency that can be achieved with Intel® Turbo Boost Technology.  See
              <a href="http://www.intel.com/technology/turboboost/">www.intel.com/technology/turboboost/</a>
              for more information.
          reference:
          - category_id:
            - ""
            - ""
            reference_id: "2345"
            reference_type: Compatible
          - category_id:
            - ""
            - ""
            reference_id: "2345"
            reference_type: Compatible
          product_id: "123003"
          mktg_prd_type: "18"
          product_on_market_date: 2017-07-11T00:00:00:000-0400
          created_date: 2017-12-18T03:40:13:990-0500
          updated_date: 2018-10-15T03:42:52:320-0400
          product_description: "Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)"
          product_category:
          - ""
          - ""
        total_count: 10
        status: success
      properties:
        result:
          description: Product info for a locale.
          items:
            $ref: '#/components/schemas/Detailed_product_information_result_inner'
          type: array
        status:
          example: success
          type: string
        total_count:
          example: 10
          type: integer
      title: Detailed product information
      type: object
    Detailed_product_information_result_inner_allOf_tech_spec_inner:
      example:
        highlight_key: TBTVersion
        tool_tip: "Intel® Turbo Boost Technology dynamically increases the processor's\
          \ frequency as needed by taking advantage of thermal and power headroom\
          \ to give you a burst of speed when you need it, and increased energy efficiency\
          \ when you don’t."
        raw_value: "2"
        label: Intel® Turbo Boost Technology <small><sup>‡</sup></small>
        value: "2.0"
        disclaimer: Max Turbo Frequency refers to the maximum single-core processor
          frequency that can be achieved with Intel® Turbo Boost Technology.  See
          <a href="http://www.intel.com/technology/turboboost/">www.intel.com/technology/turboboost/</a>
          for more information.
      properties:
        disclaimer:
          example: Max Turbo Frequency refers to the maximum single-core processor
            frequency that can be achieved with Intel® Turbo Boost Technology.  See
            <a href="http://www.intel.com/technology/turboboost/">www.intel.com/technology/turboboost/</a>
            for more information.
          type: string
        highlight_key:
          example: TBTVersion
          type: string
        label:
          example: Intel® Turbo Boost Technology <small><sup>‡</sup></small>
          type: string
        raw_value:
          example: "2"
          type: string
        tool_tip:
          example: "Intel® Turbo Boost Technology dynamically increases the processor's\
            \ frequency as needed by taking advantage of thermal and power headroom\
            \ to give you a burst of speed when you need it, and increased energy\
            \ efficiency when you don’t."
          type: string
        value:
          example: "2.0"
          type: string
      type: object
    unsuccessful_operation:
      example:
        error_code: SERVICE_ERROR
        message: "Something went wrong, we have already captured log. Will fix this\
          \ asap."
      properties:
        error_code:
          example: SERVICE_ERROR
          type: string
        message:
          example: "Something went wrong, we have already captured log. Will fix this\
            \ asap."
          type: string
      title: unsuccessful operation
      type: object
    Product_listing_level_info_result_inner_highlights_info_inner:
      example:
        highlight_key: StatusCodeText
        raw_value: "4"
        label: Status
        value: Launched
      properties:
        highlight_key:
          example: StatusCodeText
          type: string
        label:
          example: Status
          type: string
        raw_value:
          example: "4"
          type: string
        value:
          example: Launched
          type: string
      type: object
    Detailed_product_information_result_inner_allOf_reference_inner:
      example:
        category_id:
        - ""
        - ""
        reference_id: "2345"
        reference_type: Compatible
      properties:
        category_id:
          description: Array of category id's to which the product belong to.
          items:
            example: ""
            type: string
          type: array
        reference_id:
          example: "2345"
          type: string
        reference_type:
          example: Compatible
          type: string
      type: object
    Detailed_product_information_result_inner_allOf_media_asset:
      description: product media asset
      example:
        picture_5: picture_5
        picture_2: picture_2
        picture_1: picture_1
        picture_4: picture_4
        picture_3: picture_3
      properties:
        picture_1:
          type: string
        picture_2:
          type: string
        picture_3:
          type: string
        picture_4:
          type: string
        picture_5:
          type: string
      type: object
  securitySchemes:
    BasicAuth:
      scheme: basic
      type: http
    ClientId:
      in: header
      name: client_id
      type: apiKey
x-navigateMethodsByName: true
x-sortMethodsBy:
- summary
- operation
x-original-swagger-version: "2.0"

