openapi: 3.0.1
info:
  title: ContainerInstanceManagementClient
  version: 2018-02-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2018-02-01-preview/containerInstance.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: containerinstance-containerInstance
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ContainerInstance/operations:
    get:
      description: List the operations for Azure Container Instance service.
      operationId: operations_list
      parameters:
      - description: Client API version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
      tags:
      - Operations
      x-ms-examples:
        OperationsList:
          parameters:
            api-version: 2018-02-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Get all container goups.
                    operation: Get Container Groups
                    provider: Microsoft Container Instance
                    resource: Container Group
                  name: Microsoft.ContainerInstance/containerGroups/read
                  origin: User
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/containerGroups:
    get:
      description: "Get a list of container groups in the specified subscription.\
        \ This operation returns properties of each container group including containers,\
        \ image registry credentials, restart policy, IP address type, OS type, state,\
        \ and volumes."
      operationId: container_groups_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroupListResult'
          description: OK
      summary: Get a list of container groups in the specified subscription.
      x-ms-examples:
        ContainerGroupsList:
          parameters:
            api-version: 2018-02-01-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                  location: WestUs
                  name: demo1
                  properties:
                    containers:
                    - name: demo1
                      properties:
                        command: []
                        environmentVariables: []
                        image: nginx
                        instanceView:
                          currentState:
                            detailStatus: ""
                            startTime: 2017-10-17T17:27:21Z
                            state: Running
                          events: []
                          restartCount: 0
                        ports:
                        - port: 80
                        resources:
                          requests:
                            cpu: 1
                            memoryInGB: 1.5
                        volumeMounts:
                        - mountPath: /mnt/volume1
                          name: volume1
                          readOnly: false
                    imageRegistryCredentials:
                    - server: azcloudconsoleregistry.azurecr.io
                      username: azcloudconsoleregistry
                    ipAddress:
                      ip: 10.0.0.1
                      ports:
                      - port: 80
                        protocol: TCP
                      type: Public
                    osType: Linux
                    provisioningState: Succeeded
                    volumes:
                    - azureFile:
                        readOnly: false
                        shareName: share1
                        storageAccountName: stroage1
                      name: volume1
                  type: Microsoft.ContainerInstance/containerGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/usages:
    get:
      description: Get the usage for a subscription
      operationId: container_group_usage_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The identifier for the physical azure location.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageListResult'
          description: OK
      x-ms-examples:
        ContainerUsage:
          parameters:
            api-version: 2018-02-01-preview
            location: westcentralus
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - currentValue: 1
                  limit: 2000
                  name:
                    localizedValue: Container Groups
                    value: ContainerGroups
                  unit: Count
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups:
    get:
      description: "Get a list of container groups in a specified subscription and\
        \ resource group. This operation returns properties of each container group\
        \ including containers, image registry credentials, restart policy, IP address\
        \ type, OS type, state, and volumes."
      operationId: container_groups_list_by_resource_group
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroupListResult'
          description: OK
      summary: Get a list of container groups in the specified subscription and resource
        group.
      x-ms-examples:
        ContainerGroupsListByResourceGroup:
          parameters:
            api-version: 2018-02-01-preview
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                  location: WestUs
                  name: demo1
                  properties:
                    containers:
                    - name: demo1
                      properties:
                        command: []
                        environmentVariables: []
                        image: nginx
                        ports:
                        - port: 80
                        resources:
                          requests:
                            cpu: 1
                            memoryInGB: 1.5
                        volumeMounts:
                        - mountPath: /mnt/volume1
                          name: volume1
                          readOnly: false
                    imageRegistryCredentials:
                    - server: azcloudconsoleregistry.azurecr.io
                      username: azcloudconsoleregistry
                    ipAddress:
                      ip: 10.0.0.1
                      ports:
                      - port: 80
                        protocol: TCP
                      type: Public
                    osType: Linux
                    provisioningState: Succeeded
                    volumes:
                    - azureFile:
                        readOnly: false
                        shareName: share1
                        storageAccountName: stroage1
                      name: volume1
                  type: Microsoft.ContainerInstance/containerGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}
  : delete:
      description: "Delete the specified container group in the specified subscription\
        \ and resource group. The operation does not delete other resources provided\
        \ by the user, such as volumes."
      operationId: container_groups_delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
        "204":
          content: {}
          description: No Content - the specified container group was not found.
      summary: Delete the specified container group.
      x-ms-examples:
        ContainerGroupsDelete:
          parameters:
            api-version: 2018-02-01-preview
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: "Gets the properties of the specified container group in the specified\
        \ subscription and resource group. The operation returns the properties of\
        \ each container group including containers, image registry credentials, restart\
        \ policy, IP address type, OS type, state, and volumes."
      operationId: container_groups_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: containerGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
      summary: Get the properties of the specified container group.
      x-ms-examples:
        ContainerGroupsGet_Failed:
          parameters:
            api-version: 2018-02-01-preview
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                  - name: demo1
                    properties:
                      command: []
                      environmentVariables: []
                      image: nginx
                      instanceView:
                        currentState:
                          detailStatus: ""
                          startTime: 2017-08-08T00:09:10Z
                          state: Waiting
                        events:
                        - count: 1
                          firstTimestamp: 2017-08-08T00:09:01Z
                          lastTimestamp: 2017-08-08T00:09:01Z
                          message: pulling image "nginx"
                          name: Pulling
                          type: Normal
                        - count: 1
                          firstTimestamp: 2017-08-08T00:09:10Z
                          lastTimestamp: 2017-08-08T00:09:10Z
                          message: Successfully pulled image "nginx"
                          name: Pulled
                          type: Normal
                        restartCount: 0
                      ports:
                      - port: 80
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1.5
                      volumeMounts:
                      - mountPath: /mnt/volume1
                        name: volume1
                        readOnly: false
                  imageRegistryCredentials:
                  - server: azcloudconsoleregistry.azurecr.io
                    username: azcloudconsoleregistry
                  instanceView:
                    events:
                    - count: 1
                      firstTimestamp: 2017-10-08T00:19:10Z
                      lastTimestamp: 2017-10-08T00:19:10Z
                      message: "Output: mount error(2): Permission denied"
                      name: FailedMount
                      type: Normal
                    state: Pending
                  ipAddress:
                    ip: 10.0.0.1
                    ports:
                    - port: 80
                      protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Failed
                  volumes:
                  - azureFile:
                      readOnly: false
                      shareName: share1
                      storageAccountName: stroage1
                    name: volume1
                type: Microsoft.ContainerInstance/containerGroups
        ContainerGroupsGet_Succeeded:
          parameters:
            api-version: 2018-02-01-preview
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                  - name: demo1
                    properties:
                      command: []
                      environmentVariables: []
                      image: nginx
                      ports:
                      - port: 80
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1.5
                      volumeMounts:
                      - mountPath: /mnt/volume1
                        name: volume1
                        readOnly: false
                  imageRegistryCredentials:
                  - server: azcloudconsoleregistry.azurecr.io
                    username: azcloudconsoleregistry
                  ipAddress:
                    ip: 10.0.0.1
                    ports:
                    - port: 80
                      protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  volumes:
                  - azureFile:
                      readOnly: false
                      shareName: share1
                      storageAccountName: stroage1
                    name: volume1
                type: Microsoft.ContainerInstance/containerGroups
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Updates container group tags with specified values.
      operationId: container_groups_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
        description: The container group resource with just the tags to be updated.
        required: true
        x-body-name: Resource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
      summary: Update container groups.
      x-ms-examples:
        ContainerGroupsUpdate:
          parameters:
            Resource:
              tags:
                tag1key: tag1Value
                tag2key: tag2Value
            api-version: 2018-02-01-preview
            containerGroupName: demo1
            resourceGroupName: demoResource
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demoResource/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                  - name: demo1
                    properties:
                      command: []
                      environmentVariables: []
                      image: nginx
                      ports:
                      - port: 80
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1.5
                      volumeMounts:
                      - mountPath: /mnt/volume1
                        name: volume1
                        readOnly: false
                      - mountPath: /mnt/volume2
                        name: volume2
                        readOnly: false
                      - mountPath: /mnt/volume3
                        name: volume3
                        readOnly: true
                  imageRegistryCredentials: []
                  ipAddress:
                    dnsNameLabel: dnsnamelabel1
                    fqdn: dnsnamelabel1.azure-container.io
                    ip: 10.0.0.1
                    ports:
                    - port: 80
                      protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  tags:
                    tag1key: tag1Value
                    tag2key: tag2Value
                  volumes:
                  - azureFile:
                      shareName: shareName
                      storageAccountName: accountName
                    name: volume1
                  - emptyDir: {}
                    name: volume2
                  - name: volume3
                    secret: {}
                type: Microsoft.ContainerInstance/containerGroups
      x-codegen-request-body-name: Resource
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Create or update container groups with specified configurations.
      operationId: container_groups_create_or_update
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerGroup'
        description: The properties of the container group to be created or updated.
        required: true
        x-body-name: containerGroup
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: Created - the container group is created.
      summary: Create or update container groups.
      x-ms-examples:
        ContainerGroupsCreateOrUpdate:
          parameters:
            api-version: 2018-02-01-preview
            containerGroup:
              id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
              location: west us
              name: demo1
              properties:
                containers:
                - name: demo1
                  properties:
                    command: []
                    environmentVariables: []
                    image: nginx
                    ports:
                    - port: 80
                    resources:
                      requests:
                        cpu: 1
                        memoryInGB: 1.5
                    volumeMounts:
                    - mountPath: /mnt/volume1
                      name: volume1
                      readOnly: false
                    - mountPath: /mnt/volume2
                      name: volume2
                      readOnly: false
                    - mountPath: /mnt/volume3
                      name: volume3
                      readOnly: true
                imageRegistryCredentials: []
                ipAddress:
                  dnsNameLabel: dnsnamelabel1
                  ports:
                  - port: 80
                    protocol: TCP
                  type: Public
                osType: Linux
                volumes:
                - azureFile:
                    shareName: shareName
                    storageAccountKey: accountKey
                    storageAccountName: accountName
                  name: volume1
                - emptyDir: {}
                  name: volume2
                - name: volume3
                  secret:
                    secretKey1: SecretValue1InBase64
                    secretKey2: SecretValue2InBase64
              type: Microsoft.ContainerInstance/containerGroups
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                  - name: demo1
                    properties:
                      command: []
                      environmentVariables: []
                      image: nginx
                      ports:
                      - port: 80
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1.5
                      volumeMounts:
                      - mountPath: /mnt/volume1
                        name: volume1
                        readOnly: false
                      - mountPath: /mnt/volume2
                        name: volume2
                        readOnly: false
                      - mountPath: /mnt/volume3
                        name: volume3
                        readOnly: true
                  imageRegistryCredentials: []
                  ipAddress:
                    dnsNameLabel: dnsnamelabel1
                    fqdn: dnsnamelabel1.azure-container.io
                    ip: 10.0.0.1
                    ports:
                    - port: 80
                      protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  volumes:
                  - azureFile:
                      shareName: shareName
                      storageAccountName: accountName
                    name: volume1
                  - emptyDir: {}
                    name: volume2
                  - name: volume3
                    secret: {}
                type: Microsoft.ContainerInstance/containerGroups
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                  - name: demo1
                    properties:
                      command: []
                      environmentVariables: []
                      image: nginx
                      ports:
                      - port: 80
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1.5
                      volumeMounts:
                      - mountPath: /mnt/volume1
                        name: volume1
                        readOnly: false
                      - mountPath: /mnt/volume2
                        name: volume2
                        readOnly: false
                      - mountPath: /mnt/volume3
                        name: volume3
                        readOnly: true
                  imageRegistryCredentials: []
                  ipAddress:
                    dnsNameLabel: dnsnamelabel1
                    fqdn: dnsnamelabel1.azure-container.io
                    ip: 10.0.0.1
                    ports:
                    - port: 80
                      protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  volumes:
                  - azureFile:
                      shareName: shareName
                      storageAccountName: accountName
                    name: volume1
                  - emptyDir: {}
                    name: volume2
                  - name: volume3
                    secret: {}
                type: Microsoft.ContainerInstance/containerGroups
      x-ms-long-running-operation: true
      x-codegen-request-body-name: containerGroup
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/exec
  : post:
      description: Starts the exec command for a specified container instance in a
        specified resource group and container group.
      operationId: start_container_launch_exec
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container instance.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerExecRequest'
        description: The request for the exec command.
        required: true
        x-body-name: containerExecRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerExecResponse'
          description: OK
      summary: Starts the exec command for a specific container instance.
      x-ms-examples:
        ContainerExecStart:
          parameters:
            api-version: 2018-02-01-preview
            containerExecRequest:
              command: /bin/bash
              terminalSize:
                column: 12
                row: 12
            containerGroupName: demo1
            containerName: container1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                password: password
                webSocketUri: wss://web-socket-uri
      x-codegen-request-body-name: containerExecRequest
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/logs
  : get:
      description: Get the logs for a specified container instance in a specified
        resource group and container group.
      operationId: container_logs_list
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: Client API version
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container group.
        in: path
        name: container_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container instance.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: "The number of lines to show from the tail of the container instance\
          \ log. If not provided, all available logs are shown up to 4mb."
        in: query
        name: tail
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Logs'
          description: OK
      summary: Get the logs for a specified container instance.
      x-ms-examples:
        ContainerLogsList:
          parameters:
            api-version: 2018-02-01-preview
            containerGroupName: demo1
            containerName: container1
            resourceGroupName: demo
            subscriptionId: subid
            tail: 10
          responses:
            "200":
              body:
                content: log content
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API version
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    ContainerGroupNameParameter:
      description: The name of the container group.
      in: path
      name: containerGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    LocationParameter:
      description: The identifier for the physical azure location.
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    OperationIdParameter:
      description: The operation Id.
      in: path
      name: operationId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
  schemas:
    AzureFileVolume:
      description: The properties of the Azure File volume. Azure File shares are
        mounted as volumes.
      example:
        storageAccountName: storageAccountName
        readOnly: true
        storageAccountKey: storageAccountKey
        shareName: shareName
      properties:
        readOnly:
          description: The flag indicating whether the Azure File shared mounted as
            a volume is read-only.
          title: readOnly
          type: boolean
        shareName:
          description: The name of the Azure File share to be mounted as a volume.
          title: shareName
          type: string
        storageAccountKey:
          description: The storage account access key used to access the Azure File
            share.
          title: storageAccountKey
          type: string
        storageAccountName:
          description: The name of the storage account that contains the Azure File
            share.
          title: storageAccountName
          type: string
      required:
      - shareName
      - storageAccountName
      title: AzureFileVolume
      type: object
    Container:
      description: A container instance.
      example:
        name: name
        properties:
          image: image
          instanceView:
            restartCount: 1
            currentState:
              detailStatus: detailStatus
              finishTime: 2000-01-23T04:56:07.000+00:00
              exitCode: 0
              startTime: 2000-01-23T04:56:07.000+00:00
              state: state
            events:
            - firstTimestamp: 2000-01-23T04:56:07.000+00:00
              lastTimestamp: 2000-01-23T04:56:07.000+00:00
              count: 6
              name: name
              message: message
              type: type
            - firstTimestamp: 2000-01-23T04:56:07.000+00:00
              lastTimestamp: 2000-01-23T04:56:07.000+00:00
              count: 6
              name: name
              message: message
              type: type
            previousState:
              detailStatus: detailStatus
              finishTime: 2000-01-23T04:56:07.000+00:00
              exitCode: 0
              startTime: 2000-01-23T04:56:07.000+00:00
              state: state
          environmentVariables:
          - name: name
            value: value
          - name: name
            value: value
          resources:
            requests:
              cpu: 7.061401241503109
              memoryInGB: 9.301444243932576
            limits:
              cpu: 5.637376656633329
              memoryInGB: 2.3021358869347655
          ports:
          - protocol: TCP
            port: 5
          - protocol: TCP
            port: 5
          command:
          - command
          - command
          volumeMounts:
          - mountPath: mountPath
            name: name
            readOnly: true
          - mountPath: mountPath
            name: name
            readOnly: true
      properties:
        name:
          description: The user-provided name of the container instance.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ContainerProperties'
      required:
      - name
      - properties
      title: Container
      type: object
    ContainerExecRequest:
      description: The start container exec request.
      example:
        terminalSize:
          rows: 6
          cols: 0
        command: command
      properties:
        command:
          description: The command to be executed.
          title: command
          type: string
        terminalSize:
          $ref: '#/components/schemas/ContainerExecRequest_terminalSize'
      title: ContainerExecRequest
      type: object
    ContainerExecResponse:
      description: The information for the container exec command.
      example:
        password: password
        webSocketUri: webSocketUri
      properties:
        password:
          description: The password to start the exec command.
          title: password
          type: string
        webSocketUri:
          description: The uri for the exec websocket.
          title: webSocketUri
          type: string
      title: ContainerExecResponse
      type: object
    ContainerGroup:
      allOf:
      - $ref: '#/components/schemas/Resource'
      - properties:
          properties:
            $ref: '#/components/schemas/ContainerGroup_allOf_properties'
        required:
        - properties
        type: object
      description: A container group.
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          instanceView:
            state: state
            events:
            - firstTimestamp: 2000-01-23T04:56:07.000+00:00
              lastTimestamp: 2000-01-23T04:56:07.000+00:00
              count: 6
              name: name
              message: message
              type: type
            - firstTimestamp: 2000-01-23T04:56:07.000+00:00
              lastTimestamp: 2000-01-23T04:56:07.000+00:00
              count: 6
              name: name
              message: message
              type: type
          imageRegistryCredentials:
          - server: server
            password: password
            username: username
          - server: server
            password: password
            username: username
          ipAddress:
            dnsNameLabel: dnsNameLabel
            fqdn: fqdn
            ip: ip
            ports:
            - protocol: TCP
              port: 3
            - protocol: TCP
              port: 3
            type: Public
          osType: Windows
          volumes:
          - azureFile:
              storageAccountName: storageAccountName
              readOnly: true
              storageAccountKey: storageAccountKey
              shareName: shareName
            emptyDir: "{}"
            name: name
            secret:
              key: secret
            gitRepo:
              repository: repository
              directory: directory
              revision: revision
          - azureFile:
              storageAccountName: storageAccountName
              readOnly: true
              storageAccountKey: storageAccountKey
              shareName: shareName
            emptyDir: "{}"
            name: name
            secret:
              key: secret
            gitRepo:
              repository: repository
              directory: directory
              revision: revision
          containers:
          - name: name
            properties:
              image: image
              instanceView:
                restartCount: 1
                currentState:
                  detailStatus: detailStatus
                  finishTime: 2000-01-23T04:56:07.000+00:00
                  exitCode: 0
                  startTime: 2000-01-23T04:56:07.000+00:00
                  state: state
                events:
                - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                  lastTimestamp: 2000-01-23T04:56:07.000+00:00
                  count: 6
                  name: name
                  message: message
                  type: type
                - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                  lastTimestamp: 2000-01-23T04:56:07.000+00:00
                  count: 6
                  name: name
                  message: message
                  type: type
                previousState:
                  detailStatus: detailStatus
                  finishTime: 2000-01-23T04:56:07.000+00:00
                  exitCode: 0
                  startTime: 2000-01-23T04:56:07.000+00:00
                  state: state
              environmentVariables:
              - name: name
                value: value
              - name: name
                value: value
              resources:
                requests:
                  cpu: 7.061401241503109
                  memoryInGB: 9.301444243932576
                limits:
                  cpu: 5.637376656633329
                  memoryInGB: 2.3021358869347655
              ports:
              - protocol: TCP
                port: 5
              - protocol: TCP
                port: 5
              command:
              - command
              - command
              volumeMounts:
              - mountPath: mountPath
                name: name
                readOnly: true
              - mountPath: mountPath
                name: name
                readOnly: true
          - name: name
            properties:
              image: image
              instanceView:
                restartCount: 1
                currentState:
                  detailStatus: detailStatus
                  finishTime: 2000-01-23T04:56:07.000+00:00
                  exitCode: 0
                  startTime: 2000-01-23T04:56:07.000+00:00
                  state: state
                events:
                - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                  lastTimestamp: 2000-01-23T04:56:07.000+00:00
                  count: 6
                  name: name
                  message: message
                  type: type
                - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                  lastTimestamp: 2000-01-23T04:56:07.000+00:00
                  count: 6
                  name: name
                  message: message
                  type: type
                previousState:
                  detailStatus: detailStatus
                  finishTime: 2000-01-23T04:56:07.000+00:00
                  exitCode: 0
                  startTime: 2000-01-23T04:56:07.000+00:00
                  state: state
              environmentVariables:
              - name: name
                value: value
              - name: name
                value: value
              resources:
                requests:
                  cpu: 7.061401241503109
                  memoryInGB: 9.301444243932576
                limits:
                  cpu: 5.637376656633329
                  memoryInGB: 2.3021358869347655
              ports:
              - protocol: TCP
                port: 5
              - protocol: TCP
                port: 5
              command:
              - command
              - command
              volumeMounts:
              - mountPath: mountPath
                name: name
                readOnly: true
              - mountPath: mountPath
                name: name
                readOnly: true
          provisioningState: provisioningState
          restartPolicy: Always
        tags:
          key: tags
      title: ContainerGroup
    ContainerGroupListResult:
      description: The container group list response that contains the container group
        properties.
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          properties:
            instanceView:
              state: state
              events:
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
            imageRegistryCredentials:
            - server: server
              password: password
              username: username
            - server: server
              password: password
              username: username
            ipAddress:
              dnsNameLabel: dnsNameLabel
              fqdn: fqdn
              ip: ip
              ports:
              - protocol: TCP
                port: 3
              - protocol: TCP
                port: 3
              type: Public
            osType: Windows
            volumes:
            - azureFile:
                storageAccountName: storageAccountName
                readOnly: true
                storageAccountKey: storageAccountKey
                shareName: shareName
              emptyDir: "{}"
              name: name
              secret:
                key: secret
              gitRepo:
                repository: repository
                directory: directory
                revision: revision
            - azureFile:
                storageAccountName: storageAccountName
                readOnly: true
                storageAccountKey: storageAccountKey
                shareName: shareName
              emptyDir: "{}"
              name: name
              secret:
                key: secret
              gitRepo:
                repository: repository
                directory: directory
                revision: revision
            containers:
            - name: name
              properties:
                image: image
                instanceView:
                  restartCount: 1
                  currentState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                  events:
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  previousState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                environmentVariables:
                - name: name
                  value: value
                - name: name
                  value: value
                resources:
                  requests:
                    cpu: 7.061401241503109
                    memoryInGB: 9.301444243932576
                  limits:
                    cpu: 5.637376656633329
                    memoryInGB: 2.3021358869347655
                ports:
                - protocol: TCP
                  port: 5
                - protocol: TCP
                  port: 5
                command:
                - command
                - command
                volumeMounts:
                - mountPath: mountPath
                  name: name
                  readOnly: true
                - mountPath: mountPath
                  name: name
                  readOnly: true
            - name: name
              properties:
                image: image
                instanceView:
                  restartCount: 1
                  currentState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                  events:
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  previousState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                environmentVariables:
                - name: name
                  value: value
                - name: name
                  value: value
                resources:
                  requests:
                    cpu: 7.061401241503109
                    memoryInGB: 9.301444243932576
                  limits:
                    cpu: 5.637376656633329
                    memoryInGB: 2.3021358869347655
                ports:
                - protocol: TCP
                  port: 5
                - protocol: TCP
                  port: 5
                command:
                - command
                - command
                volumeMounts:
                - mountPath: mountPath
                  name: name
                  readOnly: true
                - mountPath: mountPath
                  name: name
                  readOnly: true
            provisioningState: provisioningState
            restartPolicy: Always
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          properties:
            instanceView:
              state: state
              events:
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
            imageRegistryCredentials:
            - server: server
              password: password
              username: username
            - server: server
              password: password
              username: username
            ipAddress:
              dnsNameLabel: dnsNameLabel
              fqdn: fqdn
              ip: ip
              ports:
              - protocol: TCP
                port: 3
              - protocol: TCP
                port: 3
              type: Public
            osType: Windows
            volumes:
            - azureFile:
                storageAccountName: storageAccountName
                readOnly: true
                storageAccountKey: storageAccountKey
                shareName: shareName
              emptyDir: "{}"
              name: name
              secret:
                key: secret
              gitRepo:
                repository: repository
                directory: directory
                revision: revision
            - azureFile:
                storageAccountName: storageAccountName
                readOnly: true
                storageAccountKey: storageAccountKey
                shareName: shareName
              emptyDir: "{}"
              name: name
              secret:
                key: secret
              gitRepo:
                repository: repository
                directory: directory
                revision: revision
            containers:
            - name: name
              properties:
                image: image
                instanceView:
                  restartCount: 1
                  currentState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                  events:
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  previousState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                environmentVariables:
                - name: name
                  value: value
                - name: name
                  value: value
                resources:
                  requests:
                    cpu: 7.061401241503109
                    memoryInGB: 9.301444243932576
                  limits:
                    cpu: 5.637376656633329
                    memoryInGB: 2.3021358869347655
                ports:
                - protocol: TCP
                  port: 5
                - protocol: TCP
                  port: 5
                command:
                - command
                - command
                volumeMounts:
                - mountPath: mountPath
                  name: name
                  readOnly: true
                - mountPath: mountPath
                  name: name
                  readOnly: true
            - name: name
              properties:
                image: image
                instanceView:
                  restartCount: 1
                  currentState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                  events:
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                    lastTimestamp: 2000-01-23T04:56:07.000+00:00
                    count: 6
                    name: name
                    message: message
                    type: type
                  previousState:
                    detailStatus: detailStatus
                    finishTime: 2000-01-23T04:56:07.000+00:00
                    exitCode: 0
                    startTime: 2000-01-23T04:56:07.000+00:00
                    state: state
                environmentVariables:
                - name: name
                  value: value
                - name: name
                  value: value
                resources:
                  requests:
                    cpu: 7.061401241503109
                    memoryInGB: 9.301444243932576
                  limits:
                    cpu: 5.637376656633329
                    memoryInGB: 2.3021358869347655
                ports:
                - protocol: TCP
                  port: 5
                - protocol: TCP
                  port: 5
                command:
                - command
                - command
                volumeMounts:
                - mountPath: mountPath
                  name: name
                  readOnly: true
                - mountPath: mountPath
                  name: name
                  readOnly: true
            provisioningState: provisioningState
            restartPolicy: Always
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page of container groups.
          title: nextLink
          type: string
        value:
          description: The list of container groups.
          items:
            $ref: '#/components/schemas/ContainerGroup'
          title: value
          type: array
      title: ContainerGroupListResult
      type: object
    ContainerPort:
      description: The port exposed on the container instance.
      example:
        protocol: TCP
        port: 5
      properties:
        port:
          description: The port number exposed within the container group.
          format: int32
          title: port
          type: integer
        protocol:
          description: The protocol associated with the port.
          enum:
          - TCP
          - UDP
          title: protocol
          type: string
          x-ms-enum:
            modelAsString: true
            name: ContainerNetworkProtocol
      required:
      - port
      title: ContainerPort
      type: object
    ContainerProperties:
      description: The container instance properties.
      example:
        image: image
        instanceView:
          restartCount: 1
          currentState:
            detailStatus: detailStatus
            finishTime: 2000-01-23T04:56:07.000+00:00
            exitCode: 0
            startTime: 2000-01-23T04:56:07.000+00:00
            state: state
          events:
          - firstTimestamp: 2000-01-23T04:56:07.000+00:00
            lastTimestamp: 2000-01-23T04:56:07.000+00:00
            count: 6
            name: name
            message: message
            type: type
          - firstTimestamp: 2000-01-23T04:56:07.000+00:00
            lastTimestamp: 2000-01-23T04:56:07.000+00:00
            count: 6
            name: name
            message: message
            type: type
          previousState:
            detailStatus: detailStatus
            finishTime: 2000-01-23T04:56:07.000+00:00
            exitCode: 0
            startTime: 2000-01-23T04:56:07.000+00:00
            state: state
        environmentVariables:
        - name: name
          value: value
        - name: name
          value: value
        resources:
          requests:
            cpu: 7.061401241503109
            memoryInGB: 9.301444243932576
          limits:
            cpu: 5.637376656633329
            memoryInGB: 2.3021358869347655
        ports:
        - protocol: TCP
          port: 5
        - protocol: TCP
          port: 5
        command:
        - command
        - command
        volumeMounts:
        - mountPath: mountPath
          name: name
          readOnly: true
        - mountPath: mountPath
          name: name
          readOnly: true
      properties:
        command:
          description: The commands to execute within the container instance in exec
            form.
          items:
            type: string
          title: command
          type: array
        environmentVariables:
          description: The environment variables to set in the container instance.
          items:
            $ref: '#/components/schemas/EnvironmentVariable'
          title: environmentVariables
          type: array
        image:
          description: The name of the image used to create the container instance.
          title: image
          type: string
        instanceView:
          $ref: '#/components/schemas/ContainerProperties_instanceView'
        ports:
          description: The exposed ports on the container instance.
          items:
            $ref: '#/components/schemas/ContainerPort'
          title: ports
          type: array
        resources:
          $ref: '#/components/schemas/ResourceRequirements'
        volumeMounts:
          description: The volume mounts available to the container instance.
          items:
            $ref: '#/components/schemas/VolumeMount'
          title: volumeMounts
          type: array
      required:
      - image
      - resources
      title: ContainerProperties
      type: object
    ContainerState:
      description: The container instance state.
      example:
        detailStatus: detailStatus
        finishTime: 2000-01-23T04:56:07.000+00:00
        exitCode: 0
        startTime: 2000-01-23T04:56:07.000+00:00
        state: state
      properties:
        detailStatus:
          description: The human-readable status of the container instance state.
          title: detailStatus
          type: string
        exitCode:
          description: The container instance exit codes correspond to those from
            the `docker run` command.
          title: exitCode
          type: integer
        finishTime:
          description: The date-time when the container instance state finished.
          format: date-time
          title: finishTime
          type: string
        startTime:
          description: The date-time when the container instance state started.
          format: date-time
          title: startTime
          type: string
        state:
          description: The state of the container instance.
          title: state
          type: string
      title: ContainerState
      type: object
    EmptyDirVolume:
      description: The empty directory volume.
      title: EmptyDirVolume
      type: object
    EnvironmentVariable:
      description: The environment variable to set within the container instance.
      example:
        name: name
        value: value
      properties:
        name:
          description: The name of the environment variable.
          title: name
          type: string
        value:
          description: The value of the environment variable.
          title: value
          type: string
      required:
      - name
      - value
      title: EnvironmentVariable
      type: object
    Event:
      description: A container group or container instance event.
      example:
        firstTimestamp: 2000-01-23T04:56:07.000+00:00
        lastTimestamp: 2000-01-23T04:56:07.000+00:00
        count: 6
        name: name
        message: message
        type: type
      properties:
        count:
          description: The count of the event.
          title: count
          type: integer
        firstTimestamp:
          description: The date-time of the earliest logged event.
          format: date-time
          title: firstTimestamp
          type: string
        lastTimestamp:
          description: The date-time of the latest logged event.
          format: date-time
          title: lastTimestamp
          type: string
        message:
          description: The event message.
          title: message
          type: string
        name:
          description: The event name.
          title: name
          type: string
        type:
          description: The event type.
          title: type
          type: string
      title: Event
      type: object
    GitRepoVolume:
      description: Represents a volume that is populated with the contents of a git
        repository
      example:
        repository: repository
        directory: directory
        revision: revision
      properties:
        directory:
          description: "Target directory name. Must not contain or start with '..'.\
            \  If '.' is supplied, the volume directory will be the git repository.\
            \  Otherwise, if specified, the volume will contain the git repository\
            \ in the subdirectory with the given name."
          title: directory
          type: string
        repository:
          description: Repository URL
          title: repository
          type: string
        revision:
          description: Commit hash for the specified revision.
          title: revision
          type: string
      required:
      - repository
      title: GitRepoVolume
      type: object
    ImageRegistryCredential:
      description: Image registry credential.
      example:
        server: server
        password: password
        username: username
      properties:
        password:
          description: The password for the private registry.
          title: password
          type: string
        server:
          description: The Docker image registry server without a protocol such as
            "http" and "https".
          title: server
          type: string
        username:
          description: The username for the private registry.
          title: username
          type: string
      required:
      - server
      - username
      title: ImageRegistryCredential
      type: object
    IpAddress:
      description: IP address for the container group.
      example:
        dnsNameLabel: dnsNameLabel
        fqdn: fqdn
        ip: ip
        ports:
        - protocol: TCP
          port: 3
        - protocol: TCP
          port: 3
        type: Public
      properties:
        dnsNameLabel:
          description: The Dns name label for the IP.
          title: dnsNameLabel
          type: string
        fqdn:
          description: The FQDN for the IP.
          readOnly: true
          title: fqdn
          type: string
        ip:
          description: The IP exposed to the public internet.
          title: ip
          type: string
        ports:
          description: The list of ports exposed on the container group.
          items:
            $ref: '#/components/schemas/Port'
          title: ports
          type: array
        type:
          description: Specifies if the IP is exposed to the public internet.
          enum:
          - Public
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ContainerGroupIpAddressType
      required:
      - ports
      - type
      title: IpAddress
      type: object
    Logs:
      description: The logs.
      example:
        content: content
      properties:
        content:
          description: The content of the log.
          title: content
          type: string
      title: Logs
      type: object
    Operation:
      description: An operation for Azure Container Instance service.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: User
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: The name of the operation.
          title: name
          type: string
        origin:
          description: The intended executor of the operation.
          enum:
          - User
          - System
          title: origin
          type: string
          x-ms-enum:
            modelAsString: true
            name: ContainerInstanceOperationsOrigin
      required:
      - display
      - name
      title: Operation
      type: object
    OperationListResult:
      description: The operation list response that contains all operations for Azure
        Container Instance service.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: User
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: User
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page of operations.
          title: nextLink
          type: string
        value:
          description: The list of operations.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    Port:
      description: The port exposed on the container group.
      example:
        protocol: TCP
        port: 3
      properties:
        port:
          description: The port number.
          format: int32
          title: port
          type: integer
        protocol:
          description: The protocol associated with the port.
          enum:
          - TCP
          - UDP
          title: protocol
          type: string
          x-ms-enum:
            modelAsString: true
            name: ContainerGroupNetworkProtocol
      required:
      - port
      title: Port
      type: object
    Resource:
      description: The Resource model definition.
      example:
        name: name
        location: location
        id: id
        type: type
        tags:
          key: tags
      properties:
        id:
          description: The resource id.
          readOnly: true
          title: id
          type: string
        location:
          description: The resource location.
          title: location
          type: string
        name:
          description: The resource name.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          title: tags
          type: object
        type:
          description: The resource type.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceLimits:
      description: The resource limits.
      example:
        cpu: 5.637376656633329
        memoryInGB: 2.3021358869347655
      properties:
        cpu:
          description: The CPU limit of this container instance.
          format: double
          title: cpu
          type: number
        memoryInGB:
          description: The memory limit in GB of this container instance.
          format: double
          title: memoryInGB
          type: number
      title: ResourceLimits
      type: object
    ResourceRequests:
      description: The resource requests.
      example:
        cpu: 7.061401241503109
        memoryInGB: 9.301444243932576
      properties:
        cpu:
          description: The CPU request of this container instance.
          format: double
          title: cpu
          type: number
        memoryInGB:
          description: The memory request in GB of this container instance.
          format: double
          title: memoryInGB
          type: number
      required:
      - cpu
      - memoryInGB
      title: ResourceRequests
      type: object
    ResourceRequirements:
      description: The resource requirements.
      example:
        requests:
          cpu: 7.061401241503109
          memoryInGB: 9.301444243932576
        limits:
          cpu: 5.637376656633329
          memoryInGB: 2.3021358869347655
      properties:
        limits:
          $ref: '#/components/schemas/ResourceLimits'
        requests:
          $ref: '#/components/schemas/ResourceRequests'
      required:
      - requests
      title: ResourceRequirements
      type: object
    SecretVolume:
      additionalProperties:
        type: string
      description: The secret volume.
      title: SecretVolume
      type: object
    Usage:
      description: A single usage result
      example:
        unit: unit
        limit: 6
        name:
          localizedValue: localizedValue
          value: value
        currentValue: 0
      properties:
        currentValue:
          description: The current usage of the resource
          readOnly: true
          title: currentValue
          type: integer
        limit:
          description: The maximum permitted usage of the resource.
          readOnly: true
          title: limit
          type: integer
        name:
          $ref: '#/components/schemas/Usage_name'
        unit:
          description: Unit of the usage result
          readOnly: true
          title: unit
          type: string
      title: Usage
      type: object
    UsageListResult:
      description: The response containing the usage data
      example:
        value:
        - unit: unit
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          currentValue: 0
        - unit: unit
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          currentValue: 0
      properties:
        value:
          items:
            $ref: '#/components/schemas/Usage'
          readOnly: true
          title: value
          type: array
      title: UsageListResult
      type: object
    Volume:
      description: The properties of the volume.
      example:
        azureFile:
          storageAccountName: storageAccountName
          readOnly: true
          storageAccountKey: storageAccountKey
          shareName: shareName
        emptyDir: "{}"
        name: name
        secret:
          key: secret
        gitRepo:
          repository: repository
          directory: directory
          revision: revision
      properties:
        azureFile:
          $ref: '#/components/schemas/AzureFileVolume'
        emptyDir:
          description: The empty directory volume.
          title: EmptyDirVolume
          type: object
        gitRepo:
          $ref: '#/components/schemas/GitRepoVolume'
        name:
          description: The name of the volume.
          title: name
          type: string
        secret:
          additionalProperties:
            type: string
          description: The secret volume.
          title: SecretVolume
          type: object
      required:
      - name
      title: Volume
      type: object
    VolumeMount:
      description: The properties of the volume mount.
      example:
        mountPath: mountPath
        name: name
        readOnly: true
      properties:
        mountPath:
          description: The path within the container where the volume should be mounted.
            Must not contain colon (:).
          title: mountPath
          type: string
        name:
          description: The name of the volume mount.
          title: name
          type: string
        readOnly:
          description: The flag indicating whether the volume mount is read-only.
          title: readOnly
          type: boolean
      required:
      - mountPath
      - name
      title: VolumeMount
      type: object
    ContainerExecRequest_terminalSize:
      description: The size of the terminal.
      example:
        rows: 6
        cols: 0
      properties:
        cols:
          description: The column size of the terminal
          title: cols
          type: integer
        rows:
          description: The row size of the terminal
          title: rows
          type: integer
      title: ContainerExecRequest_terminalSize
      type: object
    ContainerGroup_allOf_properties_instanceView:
      description: The instance view of the container group. Only valid in response.
      example:
        state: state
        events:
        - firstTimestamp: 2000-01-23T04:56:07.000+00:00
          lastTimestamp: 2000-01-23T04:56:07.000+00:00
          count: 6
          name: name
          message: message
          type: type
        - firstTimestamp: 2000-01-23T04:56:07.000+00:00
          lastTimestamp: 2000-01-23T04:56:07.000+00:00
          count: 6
          name: name
          message: message
          type: type
      properties:
        events:
          description: The events of this container group.
          items:
            $ref: '#/components/schemas/Event'
          readOnly: true
          title: events
          type: array
        state:
          description: The state of the container group. Only valid in response.
          readOnly: true
          title: state
          type: string
      readOnly: true
      title: ContainerGroup_allOf_properties_instanceView
      type: object
    ContainerGroup_allOf_properties:
      example:
        instanceView:
          state: state
          events:
          - firstTimestamp: 2000-01-23T04:56:07.000+00:00
            lastTimestamp: 2000-01-23T04:56:07.000+00:00
            count: 6
            name: name
            message: message
            type: type
          - firstTimestamp: 2000-01-23T04:56:07.000+00:00
            lastTimestamp: 2000-01-23T04:56:07.000+00:00
            count: 6
            name: name
            message: message
            type: type
        imageRegistryCredentials:
        - server: server
          password: password
          username: username
        - server: server
          password: password
          username: username
        ipAddress:
          dnsNameLabel: dnsNameLabel
          fqdn: fqdn
          ip: ip
          ports:
          - protocol: TCP
            port: 3
          - protocol: TCP
            port: 3
          type: Public
        osType: Windows
        volumes:
        - azureFile:
            storageAccountName: storageAccountName
            readOnly: true
            storageAccountKey: storageAccountKey
            shareName: shareName
          emptyDir: "{}"
          name: name
          secret:
            key: secret
          gitRepo:
            repository: repository
            directory: directory
            revision: revision
        - azureFile:
            storageAccountName: storageAccountName
            readOnly: true
            storageAccountKey: storageAccountKey
            shareName: shareName
          emptyDir: "{}"
          name: name
          secret:
            key: secret
          gitRepo:
            repository: repository
            directory: directory
            revision: revision
        containers:
        - name: name
          properties:
            image: image
            instanceView:
              restartCount: 1
              currentState:
                detailStatus: detailStatus
                finishTime: 2000-01-23T04:56:07.000+00:00
                exitCode: 0
                startTime: 2000-01-23T04:56:07.000+00:00
                state: state
              events:
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
              previousState:
                detailStatus: detailStatus
                finishTime: 2000-01-23T04:56:07.000+00:00
                exitCode: 0
                startTime: 2000-01-23T04:56:07.000+00:00
                state: state
            environmentVariables:
            - name: name
              value: value
            - name: name
              value: value
            resources:
              requests:
                cpu: 7.061401241503109
                memoryInGB: 9.301444243932576
              limits:
                cpu: 5.637376656633329
                memoryInGB: 2.3021358869347655
            ports:
            - protocol: TCP
              port: 5
            - protocol: TCP
              port: 5
            command:
            - command
            - command
            volumeMounts:
            - mountPath: mountPath
              name: name
              readOnly: true
            - mountPath: mountPath
              name: name
              readOnly: true
        - name: name
          properties:
            image: image
            instanceView:
              restartCount: 1
              currentState:
                detailStatus: detailStatus
                finishTime: 2000-01-23T04:56:07.000+00:00
                exitCode: 0
                startTime: 2000-01-23T04:56:07.000+00:00
                state: state
              events:
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
              - firstTimestamp: 2000-01-23T04:56:07.000+00:00
                lastTimestamp: 2000-01-23T04:56:07.000+00:00
                count: 6
                name: name
                message: message
                type: type
              previousState:
                detailStatus: detailStatus
                finishTime: 2000-01-23T04:56:07.000+00:00
                exitCode: 0
                startTime: 2000-01-23T04:56:07.000+00:00
                state: state
            environmentVariables:
            - name: name
              value: value
            - name: name
              value: value
            resources:
              requests:
                cpu: 7.061401241503109
                memoryInGB: 9.301444243932576
              limits:
                cpu: 5.637376656633329
                memoryInGB: 2.3021358869347655
            ports:
            - protocol: TCP
              port: 5
            - protocol: TCP
              port: 5
            command:
            - command
            - command
            volumeMounts:
            - mountPath: mountPath
              name: name
              readOnly: true
            - mountPath: mountPath
              name: name
              readOnly: true
        provisioningState: provisioningState
        restartPolicy: Always
      properties:
        containers:
          description: The containers within the container group.
          items:
            $ref: '#/components/schemas/Container'
          title: containers
          type: array
        imageRegistryCredentials:
          description: The image registry credentials by which the container group
            is created from.
          items:
            $ref: '#/components/schemas/ImageRegistryCredential'
          title: imageRegistryCredentials
          type: array
        instanceView:
          $ref: '#/components/schemas/ContainerGroup_allOf_properties_instanceView'
        ipAddress:
          $ref: '#/components/schemas/IpAddress'
        osType:
          description: The operating system type required by the containers in the
            container group.
          enum:
          - Windows
          - Linux
          title: osType
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperatingSystemTypes
        provisioningState:
          description: The provisioning state of the container group. This only appears
            in the response.
          readOnly: true
          title: provisioningState
          type: string
        restartPolicy:
          description: "Restart policy for all containers within the container group.\
            \ \n- `Always` Always restart\n- `OnFailure` Restart on failure\n- `Never`\
            \ Never restart\n"
          enum:
          - Always
          - OnFailure
          - Never
          title: restartPolicy
          type: string
          x-ms-enum:
            modelAsString: true
            name: ContainerGroupRestartPolicy
        volumes:
          description: The list of volumes that can be mounted by containers in this
            container group.
          items:
            $ref: '#/components/schemas/Volume'
          title: volumes
          type: array
      required:
      - containers
      - osType
      title: ContainerGroup_allOf_properties
      type: object
      x-ms-client-flatten: true
    ContainerProperties_instanceView:
      description: The instance view of the container instance. Only valid in response.
      example:
        restartCount: 1
        currentState:
          detailStatus: detailStatus
          finishTime: 2000-01-23T04:56:07.000+00:00
          exitCode: 0
          startTime: 2000-01-23T04:56:07.000+00:00
          state: state
        events:
        - firstTimestamp: 2000-01-23T04:56:07.000+00:00
          lastTimestamp: 2000-01-23T04:56:07.000+00:00
          count: 6
          name: name
          message: message
          type: type
        - firstTimestamp: 2000-01-23T04:56:07.000+00:00
          lastTimestamp: 2000-01-23T04:56:07.000+00:00
          count: 6
          name: name
          message: message
          type: type
        previousState:
          detailStatus: detailStatus
          finishTime: 2000-01-23T04:56:07.000+00:00
          exitCode: 0
          startTime: 2000-01-23T04:56:07.000+00:00
          state: state
      properties:
        currentState:
          $ref: '#/components/schemas/ContainerState'
        events:
          description: The events of the container instance.
          items:
            $ref: '#/components/schemas/Event'
          readOnly: true
          title: events
          type: array
        previousState:
          $ref: '#/components/schemas/ContainerState'
        restartCount:
          description: The number of times that the container instance has been restarted.
          readOnly: true
          title: restartCount
          type: integer
      readOnly: true
      title: ContainerProperties_instanceView
      type: object
    Operation_display:
      description: The display information of the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description of the operation.
          title: description
          type: string
        operation:
          description: The friendly name of the operation.
          title: operation
          type: string
        provider:
          description: The name of the provider of the operation.
          title: provider
          type: string
        resource:
          description: The name of the resource type of the operation.
          title: resource
          type: string
      title: Operation_display
      type: object
    Usage_name:
      description: The name object of the resource
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: The localized name of the resource
          readOnly: true
          title: localizedValue
          type: string
        value:
          description: The name of the resource
          readOnly: true
          title: value
          type: string
      readOnly: true
      title: Usage_name
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
