openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "The Cloud Channel API enables Google Cloud partners to have a single\
    \ unified resale platform and APIs across all of Google Cloud including GCP, Workspace,\
    \ Maps and Chrome."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Channel API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: openapi
    url: https://cloudchannel.googleapis.com/$discovery/rest?version=v1
    version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: cloudchannel
externalDocs:
  url: https://cloud.google.com/channel
servers:
- url: https://cloudchannel.googleapis.com/
tags:
- name: accounts
- name: operations
- name: products
paths:
  /v1/products:
    get:
      description: "Lists the Products the reseller is authorized to sell. Possible\
        \ error codes: * INVALID_ARGUMENT: Required request parameters are missing\
        \ or invalid."
      operationId: cloudchannel_products_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the reseller account. Format:\
          \ accounts/{account_id}."
        explode: true
        in: query
        name: account
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. The BCP-47 language code. For example, \"en-US\".\
          \ The response will localize in the corresponding language code, if specified.\
          \ The default value is \"en-US\"."
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Requested page size. Server might return fewer results\
          \ than requested. If unspecified, returns at most 100 Products. The maximum\
          \ value is 1000; the server will coerce values above 1000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Optional. A token for a page of results other than the first
          page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudChannelV1ListProductsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /v1/{account}:listSubscribers:
    get:
      description: "Lists service accounts with subscriber privileges on the Cloud\
        \ Pub/Sub topic created for this Channel Services account. Possible error\
        \ codes: * PERMISSION_DENIED: The reseller account making the request and\
        \ the provided reseller account are different, or the impersonated user is\
        \ not a super admin. * INVALID_ARGUMENT: Required request parameters are missing\
        \ or invalid. * NOT_FOUND: The topic resource doesn't exist. * INTERNAL: Any\
        \ non-user error related to a technical issue in the backend. Contact Cloud\
        \ Channel support. * UNKNOWN: Any non-user error related to a technical issue\
        \ in the backend. Contact Cloud Channel support. Return value: A list of service\
        \ email addresses."
      operationId: cloudchannel_accounts_list_subscribers
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Resource name of the account.
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The maximum number of service accounts to return.\
          \ The service may return fewer than this value. If unspecified, returns\
          \ at most 100 service accounts. The maximum value is 1000; the server will\
          \ coerce values above 1000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. A page token, received from a previous `ListSubscribers`\
          \ call. Provide this to retrieve the subsequent page. When paginating, all\
          \ other parameters provided to `ListSubscribers` must match the call that\
          \ provided the page token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudChannelV1ListSubscribersResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /v1/{account}:register:
    post:
      description: "Registers a service account with subscriber privileges on the\
        \ Cloud Pub/Sub topic for this Channel Services account. After you create\
        \ a subscriber, you get the events through SubscriberEvent Possible error\
        \ codes: * PERMISSION_DENIED: The reseller account making the request and\
        \ the provided reseller account are different, or the impersonated user is\
        \ not a super admin. * INVALID_ARGUMENT: Required request parameters are missing\
        \ or invalid. * INTERNAL: Any non-user error related to a technical issue\
        \ in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error\
        \ related to a technical issue in the backend. Contact Cloud Channel support.\
        \ Return value: The topic name with the registered service email address."
      operationId: cloudchannel_accounts_register
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Resource name of the account.
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudChannelV1RegisterSubscriberRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudChannelV1RegisterSubscriberResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /v1/{account}:unregister:
    post:
      description: "Unregisters a service account with subscriber privileges on the\
        \ Cloud Pub/Sub topic created for this Channel Services account. If there\
        \ are no service accounts left with subscriber privileges, this deletes the\
        \ topic. You can call ListSubscribers to check for these accounts. Possible\
        \ error codes: * PERMISSION_DENIED: The reseller account making the request\
        \ and the provided reseller account are different, or the impersonated user\
        \ is not a super admin. * INVALID_ARGUMENT: Required request parameters are\
        \ missing or invalid. * NOT_FOUND: The topic resource doesn't exist. * INTERNAL:\
        \ Any non-user error related to a technical issue in the backend. Contact\
        \ Cloud Channel support. * UNKNOWN: Any non-user error related to a technical\
        \ issue in the backend. Contact Cloud Channel support. Return value: The topic\
        \ name that unregistered the service email address. Returns a success response\
        \ if the service email address wasn't registered with the topic."
      operationId: cloudchannel_accounts_unregister
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Resource name of the account.
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudChannelV1UnregisterSubscriberRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudChannelV1UnregisterSubscriberResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /v1/{customer}:listPurchasableOffers:
    get:
      description: "Lists the following: * Offers that you can purchase for a customer.\
        \ * Offers that you can change for an entitlement. Possible error codes: *\
        \ PERMISSION_DENIED: * The customer doesn't belong to the reseller * The reseller\
        \ is not authorized to transact on this Product. See https://support.google.com/channelservices/answer/9759265\
        \ * INVALID_ARGUMENT: Required request parameters are missing or invalid."
      operationId: cloudchannel_accounts_customers_list_purchasable_offers
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the customer to list Offers for.\
          \ Format: accounts/{account_id}/customers/{customer_id}."
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. Resource name of the new target Billing Account. Provide\
          \ this Billing Account when setting up billing for a trial subscription.\
          \ Format: accounts/{account_id}/billingAccounts/{billing_account_id}. This\
          \ field is only relevant for multi-currency accounts. It should be left\
          \ empty for single currency accounts."
        explode: true
        in: query
        name: changeOfferPurchase.billingAccount
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        explode: true
        in: query
        name: changeOfferPurchase.entitlement
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Resource name of the new target SKU. Provide this\
          \ SKU when upgrading or downgrading an entitlement. Format: products/{product_id}/skus/{sku_id}"
        explode: true
        in: query
        name: changeOfferPurchase.newSku
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Billing account that the result should be restricted\
          \ to. Format: accounts/{account_id}/billingAccounts/{billing_account_id}."
        explode: true
        in: query
        name: createEntitlementPurchase.billingAccount
        required: false
        schema:
          type: string
        style: form
      - description: "Required. SKU that the result should be restricted to. Format:\
          \ products/{product_id}/skus/{sku_id}."
        explode: true
        in: query
        name: createEntitlementPurchase.sku
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. The BCP-47 language code. For example, \"en-US\".\
          \ The response will localize in the corresponding language code, if specified.\
          \ The default value is \"en-US\"."
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Requested page size. Server might return fewer results\
          \ than requested. If unspecified, returns at most 100 Offers. The maximum\
          \ value is 1000; the server will coerce values above 1000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Optional. A token for a page of results other than the first
          page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudChannelV1ListPurchasableOffersResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /v1/{customer}:listPurchasableSkus:
    get:
      description: "Lists the following: * SKUs that you can purchase for a customer\
        \ * SKUs that you can upgrade or downgrade for an entitlement. Possible error\
        \ codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller.\
        \ * INVALID_ARGUMENT: Required request parameters are missing or invalid."
      operationId: cloudchannel_accounts_customers_list_purchasable_skus
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the customer to list SKUs for.\
          \ Format: accounts/{account_id}/customers/{customer_id}."
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      - description: Required. Change Type for the entitlement.
        explode: true
        in: query
        name: changeOfferPurchase.changeType
        required: false
        schema:
          enum:
          - CHANGE_TYPE_UNSPECIFIED
          - UPGRADE
          - DOWNGRADE
          type: string
        style: form
      - description: "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        explode: true
        in: query
        name: changeOfferPurchase.entitlement
        required: false
        schema:
          type: string
        style: form
      - description: "Required. List SKUs belonging to this Product. Format: products/{product_id}.\
          \ Supports products/- to retrieve SKUs for all products."
        explode: true
        in: query
        name: createEntitlementPurchase.product
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. The BCP-47 language code. For example, \"en-US\".\
          \ The response will localize in the corresponding language code, if specified.\
          \ The default value is \"en-US\"."
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Requested page size. Server might return fewer results\
          \ than requested. If unspecified, returns at most 100 SKUs. The maximum\
          \ value is 1000; the server will coerce values above 1000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Optional. A token for a page of results other than the first
          page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudChannelV1ListPurchasableSkusResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /v1/{customer}:provisionCloudIdentity:
    post:
      description: "Creates a Cloud Identity for the given customer using the customer's\
        \ information, or the information provided here. Possible error codes: * PERMISSION_DENIED:\
        \ * The customer doesn't belong to the reseller. * You are not authorized\
        \ to provision cloud identity id. See https://support.google.com/channelservices/answer/9759265\
        \ * INVALID_ARGUMENT: Required request parameters are missing or invalid.\
        \ * NOT_FOUND: The customer was not found. * ALREADY_EXISTS: The customer's\
        \ primary email already exists. Retry after changing the customer's primary\
        \ contact email. * INTERNAL: Any non-user error related to a technical issue\
        \ in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error\
        \ related to a technical issue in the backend. Contact Cloud Channel support.\
        \ Return value: The ID of a long-running operation. To get the results of\
        \ the operation, call the GetOperation method of CloudChannelOperationsService.\
        \ The Operation metadata contains an instance of OperationMetadata."
      operationId: cloudchannel_accounts_customers_provision_cloud_identity
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudChannelV1ProvisionCloudIdentityRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /v1/{customer}:queryEligibleBillingAccounts:
    get:
      description: "Lists the billing accounts that are eligible to purchase particular\
        \ SKUs for a given customer. Possible error codes: * PERMISSION_DENIED: The\
        \ customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request\
        \ parameters are missing or invalid. Return value: Based on the provided list\
        \ of SKUs, returns a list of SKU groups that must be purchased using the same\
        \ billing account and the billing accounts eligible to purchase each SKU group."
      operationId: cloudchannel_accounts_customers_query_eligible_billing_accounts
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the customer to list eligible\
          \ billing accounts for. Format: accounts/{account_id}/customers/{customer_id}."
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. List of SKUs to list eligible billing accounts for.\
          \ At least one SKU is required. Format: products/{product_id}/skus/{sku_id}."
        explode: true
        in: query
        name: skus
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudChannelV1QueryEligibleBillingAccountsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /v1/{entitlement}:lookupOffer:
    get:
      description: "Returns the requested Offer resource. Possible error codes: *\
        \ PERMISSION_DENIED: The entitlement doesn't belong to the reseller. * INVALID_ARGUMENT:\
        \ Required request parameters are missing or invalid. * NOT_FOUND: Entitlement\
        \ or offer was not found. Return value: The Offer resource."
      operationId: cloudchannel_accounts_customers_entitlements_lookup_offer
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the entitlement to retrieve the\
          \ Offer. Entitlement uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        explode: false
        in: path
        name: entitlement
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudChannelV1Offer'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  /v1/{name}:
    delete:
      description: "Deletes a long-running operation. This method indicates that the\
        \ client is no longer interested in the operation result. It does not cancel\
        \ the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      operationId: cloudchannel_operations_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be deleted.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
    get:
      description: "Lists operations that match the specified filter in the request.\
        \ If the server doesn't support this method, it returns `UNIMPLEMENTED`."
      operationId: cloudchannel_operations_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation's parent resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - UNSPECIFIED
          - BASIC
          - FULL
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
    patch:
      description: "Updates a CustomerRepricingConfig. Call this method to set modifications\
        \ for a specific customer's bill. This method overwrites the existing CustomerRepricingConfig.\
        \ You can only update configs if the RepricingConfig.effective_invoice_month\
        \ is a future month. To make changes to configs for the current month, use\
        \ CreateCustomerRepricingConfig, taking note of its restrictions. You cannot\
        \ update the RepricingConfig.effective_invoice_month. When updating a config\
        \ in the future: * This config must already exist. Possible Error Codes: *\
        \ PERMISSION_DENIED: If the account making the request and the account being\
        \ queried are different. * INVALID_ARGUMENT: Missing or invalid required parameters\
        \ in the request. Also displays if the updated config is for the current month\
        \ or past months. * NOT_FOUND: The CustomerRepricingConfig specified does\
        \ not exist or is not associated with the given account. * INTERNAL: Any non-user\
        \ error related to technical issues in the backend. In this case, contact\
        \ Cloud Channel support. Return Value: If successful, the updated CustomerRepricingConfig\
        \ resource, otherwise returns an error."
      operationId: cloudchannel_accounts_customers_customer_repricing_configs_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Output only. Resource name of the CustomerRepricingConfig. Format:\
          \ accounts/{account_id}/customers/{customer_id}/customerRepricingConfigs/{id}."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The update mask that applies to the resource. Optional.
        explode: true
        in: query
        name: updateMask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudChannelV1CustomerRepricingConfig'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudChannelV1CustomerRepricingConfig'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /v1/{name}:activate:
    post:
      description: "Activates a previously suspended entitlement. Entitlements suspended\
        \ for pending ToS acceptance can't be activated using this method. An entitlement\
        \ activation is a long-running operation and it updates the state of the customer\
        \ entitlement. Possible error codes: * PERMISSION_DENIED: The reseller account\
        \ making the request is different from the reseller account in the API request.\
        \ * INVALID_ARGUMENT: Required request parameters are missing or invalid.\
        \ * NOT_FOUND: Entitlement resource not found. * SUSPENSION_NOT_RESELLER_INITIATED:\
        \ Can only activate reseller-initiated suspensions and entitlements that have\
        \ accepted the TOS. * NOT_SUSPENDED: Can only activate suspended entitlements\
        \ not in an ACTIVE state. * INTERNAL: Any non-user error related to a technical\
        \ issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user\
        \ error related to a technical issue in the backend. Contact Cloud Channel\
        \ support. Return value: The ID of a long-running operation. To get the results\
        \ of the operation, call the GetOperation method of CloudChannelOperationsService.\
        \ The Operation metadata will contain an instance of OperationMetadata."
      operationId: cloudchannel_accounts_customers_entitlements_activate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the entitlement to activate.\
          \ Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudChannelV1ActivateEntitlementRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /v1/{name}:cancel:
    post:
      description: "Starts asynchronous cancellation on a long-running operation.\
        \ The server makes a best effort to cancel the operation, but success is not\
        \ guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Clients can use Operations.GetOperation or other methods to check whether\
        \ the cancellation succeeded or whether the operation completed despite cancellation.\
        \ On successful cancellation, the operation is not deleted; instead, it becomes\
        \ an operation with an Operation.error value with a google.rpc.Status.code\
        \ of 1, corresponding to `Code.CANCELLED`."
      operationId: cloudchannel_operations_cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be cancelled.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleLongrunningCancelOperationRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
      x-codegen-request-body-name: body
  /v1/{name}:changeOffer:
    post:
      description: "Updates the Offer for an existing customer entitlement. An entitlement\
        \ update is a long-running operation and it updates the entitlement as a result\
        \ of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer\
        \ doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters\
        \ are missing or invalid. * NOT_FOUND: Offer or Entitlement resource not found.\
        \ * INTERNAL: Any non-user error related to a technical issue in the backend.\
        \ Contact Cloud Channel support. * UNKNOWN: Any non-user error related to\
        \ a technical issue in the backend. Contact Cloud Channel support. Return\
        \ value: The ID of a long-running operation. To get the results of the operation,\
        \ call the GetOperation method of CloudChannelOperationsService. The Operation\
        \ metadata will contain an instance of OperationMetadata."
      operationId: cloudchannel_accounts_customers_entitlements_change_offer
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the entitlement to update. Name\
          \ uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudChannelV1ChangeOfferRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /v1/{name}:changeParameters:
    post:
      description: "Change parameters of the entitlement. An entitlement update is\
        \ a long-running operation and it updates the entitlement as a result of fulfillment.\
        \ Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to\
        \ the reseller. * INVALID_ARGUMENT: Required request parameters are missing\
        \ or invalid. For example, the number of seats being changed is greater than\
        \ the allowed number of max seats, or decreasing seats for a commitment based\
        \ plan. * NOT_FOUND: Entitlement resource not found. * INTERNAL: Any non-user\
        \ error related to a technical issue in the backend. Contact Cloud Channel\
        \ support. * UNKNOWN: Any non-user error related to a technical issue in the\
        \ backend. Contact Cloud Channel support. Return value: The ID of a long-running\
        \ operation. To get the results of the operation, call the GetOperation method\
        \ of CloudChannelOperationsService. The Operation metadata will contain an\
        \ instance of OperationMetadata."
      operationId: cloudchannel_accounts_customers_entitlements_change_parameters
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the entitlement to update. Name uses the\
          \ format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudChannelV1ChangeParametersRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /v1/{name}:changeRenewalSettings:
    post:
      description: "Updates the renewal settings for an existing customer entitlement.\
        \ An entitlement update is a long-running operation and it updates the entitlement\
        \ as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The\
        \ customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request\
        \ parameters are missing or invalid. * NOT_FOUND: Entitlement resource not\
        \ found. * NOT_COMMITMENT_PLAN: Renewal Settings are only applicable for a\
        \ commitment plan. Can't enable or disable renewals for non-commitment plans.\
        \ * INTERNAL: Any non-user error related to a technical issue in the backend.\
        \ Contact Cloud Channel support. * UNKNOWN: Any non-user error related to\
        \ a technical issue in the backend. Contact Cloud Channel support. Return\
        \ value: The ID of a long-running operation. To get the results of the operation,\
        \ call the GetOperation method of CloudChannelOperationsService. The Operation\
        \ metadata will contain an instance of OperationMetadata."
      operationId: cloudchannel_accounts_customers_entitlements_change_renewal_settings
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the entitlement to update. Name uses the\
          \ format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudChannelV1ChangeRenewalSettingsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /v1/{name}:run:
    post:
      description: "Begins generation of data for a given report. The report identifier\
        \ is a UID (for example, `613bf59q`). Possible error codes: * PERMISSION_DENIED:\
        \ The user doesn't have access to this report. * INVALID_ARGUMENT: Required\
        \ request parameters are missing or invalid. * NOT_FOUND: The report identifier\
        \ was not found. * INTERNAL: Any non-user error related to a technical issue\
        \ in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error\
        \ related to a technical issue in the backend. Contact Cloud Channel support.\
        \ Return value: The ID of a long-running operation. To get the results of\
        \ the operation, call the GetOperation method of CloudChannelOperationsService.\
        \ The Operation metadata contains an instance of OperationMetadata. To get\
        \ the results of report generation, call CloudChannelReportsService.FetchReportResults\
        \ with the RunReportJobResponse.report_job. Deprecated: Please use [Export\
        \ Channel Services data to BigQuery](https://cloud.google.com/channel/docs/rebilling/export-data-to-bigquery)\
        \ instead."
      operationId: cloudchannel_accounts_reports_run
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The report's resource name. Specifies the account\
          \ and report used to generate report data. The report_id identifier is a\
          \ UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudChannelV1RunReportJobRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.reports.usage.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/apps.reports.usage.readonly
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /v1/{name}:startPaidService:
    post:
      description: "Starts paid service for a trial entitlement. Starts paid service\
        \ for a trial entitlement immediately. This method is only applicable if a\
        \ plan is set up for a trial entitlement but has some trial days remaining.\
        \ Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to\
        \ the reseller. * INVALID_ARGUMENT: Required request parameters are missing\
        \ or invalid. * NOT_FOUND: Entitlement resource not found. * FAILED_PRECONDITION/NOT_IN_TRIAL:\
        \ This method only works for entitlement on trial plans. * INTERNAL: Any non-user\
        \ error related to a technical issue in the backend. Contact Cloud Channel\
        \ support. * UNKNOWN: Any non-user error related to a technical issue in the\
        \ backend. Contact Cloud Channel support. Return value: The ID of a long-running\
        \ operation. To get the results of the operation, call the GetOperation method\
        \ of CloudChannelOperationsService. The Operation metadata will contain an\
        \ instance of OperationMetadata."
      operationId: cloudchannel_accounts_customers_entitlements_start_paid_service
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the entitlement to start a paid service\
          \ for. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudChannelV1StartPaidServiceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /v1/{name}:suspend:
    post:
      description: "Suspends a previously fulfilled entitlement. An entitlement suspension\
        \ is a long-running operation. Possible error codes: * PERMISSION_DENIED:\
        \ The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required\
        \ request parameters are missing or invalid. * NOT_FOUND: Entitlement resource\
        \ not found. * NOT_ACTIVE: Entitlement is not active. * INTERNAL: Any non-user\
        \ error related to a technical issue in the backend. Contact Cloud Channel\
        \ support. * UNKNOWN: Any non-user error related to a technical issue in the\
        \ backend. Contact Cloud Channel support. Return value: The ID of a long-running\
        \ operation. To get the results of the operation, call the GetOperation method\
        \ of CloudChannelOperationsService. The Operation metadata will contain an\
        \ instance of OperationMetadata."
      operationId: cloudchannel_accounts_customers_entitlements_suspend
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the entitlement to suspend. Name\
          \ uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudChannelV1SuspendEntitlementRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.order
        Oauth2c:
        - https://www.googleapis.com/auth/apps.order
      tags:
      - accounts
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
      x-codegen-request-body-name: body
  /v1/{parent}/billableSkus:
    get:
      description: "Lists the Billable SKUs in a given SKU group. Possible error codes:\
        \ PERMISSION_DENIED: If the account making the request and the account being\
        \ queried for are different, or the account doesn't exist. INVALID_ARGUMENT:\
        \ Missing or invalid required parameters in the request. INTERNAL: Any non-user\
        \ error related to technical issue in the backend. In this case, contact cloud\
[...]
