openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations to retrieve Products
    by Tags in Azure API Management deployment.
  title: ApiManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimproductsByTags.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimproductsByTags
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/productsByTags
  : get:
      description: Lists a collection of products associated with tags.
      operationId: Product_ListByTags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "| Field       | Supported operators    | Supported functions\
          \               |\n|-------------|------------------------|-----------------------------------|\n\
          \r\n|name | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith|\n|displayName | ge, le, eq, ne, gt, lt | substringof, contains,\
          \ startswith, endswith|\n|description | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith|\n|terms | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith|\n|state | eq | substringof, contains,\
          \ startswith, endswith|\n"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Include not tagged Products.
        in: query
        name: includeNotTaggedProducts
        schema:
          type: boolean
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByTags_200_response'
          description: Lists a collection of TagResource entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_ListByTags_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductsByTag
      x-ms-examples:
        ApiManagementListProductsByTags:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                count: 1
                value:
                - product:
                    approvalRequired: false
                    description: Subscribers will be able to run 5 calls/minute up
                      to a maximum of 100 calls/week.
                    id: /products/starter
                    name: Starter
                    state: published
                    subscriptionRequired: true
                    subscriptionsLimit: 1
                    terms: ""
                  tag:
                    id: /tags/apitag123
                    name: awesomeTag
      x-ms-odata: ./definitions.json#/definitions/TagResourceContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  schemas:
    Product_ListByTags_200_response_value_inner:
      description: TagResource contract properties.
      example:
        product:
          name: name
          id: id
        api:
          path: path
          name: name
          serviceUrl: serviceUrl
          id: id
          protocols:
          - http
          - http
        tag:
          name: name
          id: id
        operation:
          apiName: apiName
          apiVersion: apiVersion
          method: method
          urlTemplate: urlTemplate
          name: name
          description: description
          id: id
          apiRevision: apiRevision
      properties:
        api:
          $ref: '#/components/schemas/Product_ListByTags_200_response_value_inner_api'
        operation:
          $ref: '#/components/schemas/Product_ListByTags_200_response_value_inner_operation'
        product:
          $ref: '#/components/schemas/Product_ListByTags_200_response_value_inner_product'
        tag:
          $ref: '#/components/schemas/Product_ListByTags_200_response_value_inner_tag'
      required:
      - tag
      type: object
    Product_ListByTags_200_response:
      description: Paged Tag list representation.
      example:
        value:
        - product:
            name: name
            id: id
          api:
            path: path
            name: name
            serviceUrl: serviceUrl
            id: id
            protocols:
            - http
            - http
          tag:
            name: name
            id: id
          operation:
            apiName: apiName
            apiVersion: apiVersion
            method: method
            urlTemplate: urlTemplate
            name: name
            description: description
            id: id
            apiRevision: apiRevision
        - product:
            name: name
            id: id
          api:
            path: path
            name: name
            serviceUrl: serviceUrl
            id: id
            protocols:
            - http
            - http
          tag:
            name: name
            id: id
          operation:
            apiName: apiName
            apiVersion: apiVersion
            method: method
            urlTemplate: urlTemplate
            name: name
            description: description
            id: id
            apiRevision: apiRevision
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/Product_ListByTags_200_response_value_inner'
          type: array
      type: object
    Product_ListByTags_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Product_ListByTags_default_response_error_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    Product_ListByTags_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    Product_ListByTags_200_response_value_inner_product:
      description: Product profile.
      example:
        name: name
        id: id
      properties:
        id:
          description: "Identifier of the product in the form of /products/{productId}"
          type: string
        name:
          description: Product name.
          maxLength: 300
          minLength: 1
          type: string
      required:
      - name
      type: object
    Product_ListByTags_200_response_value_inner_tag:
      description: Contract defining the Tag property in the Tag Resource Contract
      example:
        name: name
        id: id
      properties:
        id:
          description: Tag identifier
          type: string
        name:
          description: Tag Name
          maxLength: 160
          minLength: 1
          type: string
      type: object
    Product_ListByTags_200_response_value_inner_api:
      description: API contract properties for the Tag Resources.
      example:
        path: path
        name: name
        serviceUrl: serviceUrl
        id: id
        protocols:
        - http
        - http
      properties:
        id:
          description: "API identifier in the form /apis/{apiId}."
          type: string
        name:
          description: API name.
          maxLength: 300
          minLength: 1
          type: string
        path:
          description: Relative URL uniquely identifying this API and all of its resource
            paths within the API Management service instance. It is appended to the
            API endpoint base URL specified during the service instance creation to
            form a public URL for this API.
          maxLength: 400
          minLength: 0
          type: string
        protocols:
          description: Describes on which protocols the operations in this API can
            be invoked.
          items:
            enum:
            - http
            - https
            type: string
            x-ms-enum:
              modelAsString: false
              name: Protocol
          type: array
        serviceUrl:
          description: Absolute URL of the backend service implementing this API.
          maxLength: 2000
          minLength: 1
          type: string
      type: object
    Product_ListByTags_200_response_value_inner_operation:
      description: Operation Entity contract Properties.
      example:
        apiName: apiName
        apiVersion: apiVersion
        method: method
        urlTemplate: urlTemplate
        name: name
        description: description
        id: id
        apiRevision: apiRevision
      properties:
        apiName:
          description: Api Name.
          readOnly: true
          type: string
        apiRevision:
          description: Api Revision.
          readOnly: true
          type: string
        apiVersion:
          description: Api Version.
          readOnly: true
          type: string
        description:
          description: Operation Description.
          readOnly: true
          type: string
        id:
          description: "Identifier of the operation in form /operations/{operationId}."
          type: string
        method:
          description: "A Valid HTTP Operation Method. Typical Http Methods like GET,\
            \ PUT, POST but not limited by only them."
          readOnly: true
          type: string
        name:
          description: Operation name.
          readOnly: true
          type: string
        urlTemplate:
          description: "Relative URL template identifying the target resource for\
            \ this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}"
          readOnly: true
          type: string
      type: object
    Product_ListByTags_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Product_ListByTags_default_response_error'
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

