openapi: 3.0.1
info:
  description: Network operation results.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/NetworkOperationResults.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-NetworkOperationResults
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/networkOperationResults
  : get:
      description: Returns a list of all network operation results at a location.
      operationId: network_operation_results_list
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkOperationResultList'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - NetworkOperationResults
      x-ms-examples:
        Returns a list of all network operation results at a location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - properties:
                    provisioningState: Succeeded
                - error:
                    code: OperationBlockedDueToUpdateInProgress
                    message: "The operation cannot be performed at the present time,\
                      \ because there is an Azure Stack update in progress. Wait until\
                      \ the Azure Stack update is complete and then try your operation\
                      \ again."
                  properties:
                    provisioningState: Failed
            "404": {}
      x-ms-odata: '#/definitions/NetworkOperationResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_operation_results_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/networkOperationResults/{operation}
  : get:
      description: Returns the status of a network operation.
      operationId: network_operation_results_get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Operation identifier.
        in: path
        name: operation
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkOperationResult'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - NetworkOperationResults
      x-ms-examples:
        Returns the status of the operation.:
          parameters:
            api-version: 2016-05-01
            location: local
            operation: 7129ebd4-efb5-4faf-89a5-9b9071811610
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                properties:
                  provisioningState: Succeeded
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.network_operation_results_controller
components:
  parameters:
    OperationParameter:
      description: Operation identifier.
      in: path
      name: operation
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    NetworkOperationResult:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Network operation result description.
      example:
        properties:
          instances:
          - instances
          - instances
          provisioningState: provisioningState
      properties:
        properties:
          $ref: '#/components/schemas/NetworkOperationResultModel'
      title: NetworkOperationResult
    NetworkOperationResultList:
      description: Pageable list of network operation results.
      example:
        value:
        - properties:
            instances:
            - instances
            - instances
            provisioningState: provisioningState
        - properties:
            instances:
            - instances
            - instances
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          title: nextLink
          type: string
        value:
          description: List of network operation results.
          items:
            $ref: '#/components/schemas/NetworkOperationResult'
          title: value
          type: array
      title: NetworkOperationResultList
      type: object
    NetworkOperationResultModel:
      description: Network operation result properties.
      example:
        instances:
        - instances
        - instances
        provisioningState: provisioningState
      properties:
        instances:
          description: List of operation result instances.
          items:
            type: string
          title: instances
          type: array
        provisioningState:
          description: Success or failure of operation.
          title: provisioningState
          type: string
      title: NetworkOperationResultModel
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
