openapi: 3.0.1
info:
  description: SlideRoom provides a RESTful API for exporting data out of your organizations
    SlideRoom account.
  title: SlideRoom API V2
  version: v2
  x-logo:
    backgroundColor: '#000000'
    url: https://www.slideroom.com/wp-content/themes/slideroom/assets/img/slideroom-by-liaison-logo-white.png
  x-origin:
  - format: swagger
    url: https://api.slideroom.com/schema/v2
    version: "2.0"
  x-providerName: slideroom.com
servers:
- url: https://api.slideroom.com/
paths:
  /api/v2/applicant/attributes:
    delete:
      operationId: applicant_delete_attributes_v2
      parameters:
      - description: The email address of the applicant.
        in: query
        name: email
        required: true
        schema:
          type: string
      - description: The name of the attribute to be deleted.
        in: query
        name: name
        required: true
        schema:
          type: string
      - in: query
        name: pool
        schema:
          enum:
          - Standard
          - CommonAppSDS
          type: string
      - in: query
        name: commonAppYear
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
      summary: Deletes a custom attribute for an applicant.
      tags:
      - Applicant
      x-openapi-router-controller: openapi_server.controllers.applicant_controller
    get:
      operationId: applicant_get_attributes_v2
      parameters:
      - description: The email address of the applicant.
        in: query
        name: email
        required: true
        schema:
          type: string
      - in: query
        name: pool
        schema:
          enum:
          - Standard
          - CommonAppSDS
          type: string
      - in: query
        name: commonAppYear
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
                name1: Value1
                name2: Value2
              schema:
                additionalProperties:
                  type: string
                type: object
            text/json:
              schema:
                additionalProperties:
                  type: string
                type: object
            application/xml:
              schema:
                additionalProperties:
                  type: string
                type: object
            text/xml:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
      summary: Gets the custom attributes for an applicant.
      tags:
      - Applicant
      x-openapi-router-controller: openapi_server.controllers.applicant_controller
    post:
      description: "This method only adds or updates attributes. Null values will\
        \ be updated as nulls, but not deleted. API Import is available in the Advanced\
        \ Plan."
      operationId: applicant_post_attributes_v2
      parameters:
      - description: The email address of the applicant.
        in: query
        name: email
        required: true
        schema:
          type: string
      - in: query
        name: pool
        schema:
          enum:
          - Standard
          - CommonAppSDS
          type: string
      - in: query
        name: commonAppYear
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              example:
                name1: Value1
                name2: Value2
              type: object
          text/json:
            schema:
              additionalProperties:
                type: string
              example:
                name1: Value1
                name2: Value2
              type: object
          application/xml:
            schema:
              additionalProperties:
                type: string
              example:
                name1: Value1
                name2: Value2
              type: object
          text/xml:
            schema:
              additionalProperties:
                type: string
              example:
                name1: Value1
                name2: Value2
              type: object
          application/x-www-form-urlencoded:
            schema:
              additionalProperties:
                type: string
              example:
                name1: Value1
                name2: Value2
              type: object
        description: The name/value pairs of the attributes.
        required: true
        x-body-name: data
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
      summary: Updates the custom attributes for an applicant.
      tags:
      - Applicant
      x-codegen-request-body-name: data
      x-openapi-router-controller: openapi_server.controllers.applicant_controller
  /api/v2/applicant/attributes/names:
    get:
      operationId: applicant_get_attribute_names_v2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets the custom applicant attributes used by the organization.
      tags:
      - Applicant
      x-openapi-router-controller: openapi_server.controllers.applicant_controller
  /api/v2/application/attributes/names:
    get:
      operationId: application_get_attribute_names_v2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets the custom application attributes used by the organization.
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
  /api/v2/application/request-export:
    post:
      description: "Exports are generated asynchronously within SlideRoom.  To retrieve\
        \ the export file generated by this request, use the api/v#/export/{token}\
        \ endpoint to check the progress/result of the generation process.\r\nPDF\
        \ and ZIP exports are available in the Advanced Plan."
      operationId: application_request_export_v2
      parameters:
      - in: query
        name: format
        schema:
          enum:
          - csv
          - tsv
          - txt
          - tab
          - xlsx
          - pdf
          - zip
          - json
          type: string
      - in: query
        name: roundType
        schema:
          enum:
          - Assigned
          - Current
          - Named
          - All
          type: string
      - in: query
        name: roundName
        schema:
          type: string
      - in: query
        name: tab.export
        schema:
          type: string
      - in: query
        name: pdf.includeForms
        schema:
          type: boolean
      - in: query
        name: pdf.includeReferences
        schema:
          type: boolean
      - in: query
        name: pdf.includeMedia
        schema:
          type: boolean
      - in: query
        name: pdf.includeApplicantAttachments
        schema:
          type: boolean
      - in: query
        name: pdf.includeOrganizationAttachments
        schema:
          type: boolean
      - in: query
        name: pdf.includeRatings
        schema:
          type: boolean
      - in: query
        name: pdf.includeFullPageMedia
        schema:
          type: boolean
      - in: query
        name: pdf.includeHighlights
        schema:
          type: boolean
      - in: query
        name: pdf.includeComments
        schema:
          type: boolean
      - in: query
        name: pdf.includeCommonApp
        schema:
          type: boolean
      - in: query
        name: zip.originalMedia
        schema:
          type: boolean
      - in: query
        name: zip.includeForms
        schema:
          type: boolean
      - in: query
        name: zip.includeReferences
        schema:
          type: boolean
      - in: query
        name: zip.includeMedia
        schema:
          type: boolean
      - in: query
        name: zip.includeApplicantAttachments
        schema:
          type: boolean
      - in: query
        name: zip.includeOrganizationAttachments
        schema:
          type: boolean
      - in: query
        name: zip.includeRatings
        schema:
          type: boolean
      - in: query
        name: zip.includeComments
        schema:
          type: boolean
      - in: query
        name: zip.includeCommonApp
        schema:
          type: boolean
      - in: query
        name: delivery.account
        schema:
          type: string
      - in: query
        name: delivery.folder
        schema:
          type: string
      - in: query
        name: since
        schema:
          format: int32
          type: integer
      - in: query
        name: pool
        schema:
          enum:
          - All
          - Current
          - Archived
          - CommonAppSDS
          type: string
      - in: query
        name: status
        schema:
          enum:
          - All
          - InProgress
          - Submitted
          type: string
      - in: query
        name: searchName
        schema:
          type: string
      - in: query
        name: email
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestApplicationExportResultV2'
            text/json:
              schema:
                $ref: '#/components/schemas/RequestApplicationExportResultV2'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestApplicationExportResultV2'
            text/xml:
              schema:
                $ref: '#/components/schemas/RequestApplicationExportResultV2'
          description: OK
      summary: "Requests the generation of application export files (tabular, pdf,\
        \ zip)."
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
  /api/v2/application/{applicationId}/attributes:
    delete:
      operationId: application_delete_attributes_v2
      parameters:
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: The name of the attribute to be deleted.
        in: query
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
      summary: Deletes a custom attribute for an application.
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
    get:
      operationId: application_get_attributes_v2
      parameters:
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                name1: Value1
                name2: Value2
              schema:
                additionalProperties:
                  type: string
                type: object
            text/json:
              schema:
                additionalProperties:
                  type: string
                type: object
            application/xml:
              schema:
                additionalProperties:
                  type: string
                type: object
            text/xml:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
      summary: Gets the custom attributes for an application.
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
    post:
      description: "This method only adds or updates attributes. Null values will\
        \ be updated as nulls, but not deleted."
      operationId: application_post_attributes_v2
      parameters:
      - description: The ID of the application.
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              example:
                name1: Value1
                name2: Value2
              type: object
          text/json:
            schema:
              additionalProperties:
                type: string
              example:
                name1: Value1
                name2: Value2
              type: object
          application/xml:
            schema:
              additionalProperties:
                type: string
              example:
                name1: Value1
                name2: Value2
              type: object
          text/xml:
            schema:
              additionalProperties:
                type: string
              example:
                name1: Value1
                name2: Value2
              type: object
          application/x-www-form-urlencoded:
            schema:
              additionalProperties:
                type: string
              example:
                name1: Value1
                name2: Value2
              type: object
        description: The name/value pairs of the attributes.
        required: true
        x-body-name: data
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
      summary: Updates the custom attributes for an application. API Import is available
        in the Advanced Plan.
      tags:
      - Application
      x-codegen-request-body-name: data
      x-openapi-router-controller: openapi_server.controllers.application_controller
  /api/v2/application/{applicationId}/request-export:
    post:
      description: "Exports are generated asynchronously within SlideRoom.  To retrieve\
        \ the export file generated by this request, use the api/v#/export/{token}\
        \ endpoint to check the progress/result of the generation process."
      operationId: application_request_export_by_application_id_v2
      parameters:
      - description: The id of the application to export
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - in: query
        name: format
        schema:
          enum:
          - csv
          - tsv
          - txt
          - tab
          - xlsx
          - pdf
          - zip
          - json
          type: string
      - in: query
        name: roundType
        schema:
          enum:
          - Assigned
          - Current
          - Named
          - All
          type: string
      - in: query
        name: roundName
        schema:
          type: string
      - in: query
        name: tab.export
        schema:
          type: string
      - in: query
        name: pdf.includeForms
        schema:
          type: boolean
      - in: query
        name: pdf.includeReferences
        schema:
          type: boolean
      - in: query
        name: pdf.includeMedia
        schema:
          type: boolean
      - in: query
        name: pdf.includeApplicantAttachments
        schema:
          type: boolean
      - in: query
        name: pdf.includeOrganizationAttachments
        schema:
          type: boolean
      - in: query
        name: pdf.includeRatings
        schema:
          type: boolean
      - in: query
        name: pdf.includeFullPageMedia
        schema:
          type: boolean
      - in: query
        name: pdf.includeHighlights
        schema:
          type: boolean
      - in: query
        name: pdf.includeComments
        schema:
          type: boolean
      - in: query
        name: pdf.includeCommonApp
        schema:
          type: boolean
      - in: query
        name: zip.originalMedia
        schema:
          type: boolean
      - in: query
        name: zip.includeForms
        schema:
          type: boolean
      - in: query
        name: zip.includeReferences
        schema:
          type: boolean
      - in: query
        name: zip.includeMedia
        schema:
          type: boolean
      - in: query
        name: zip.includeApplicantAttachments
        schema:
          type: boolean
      - in: query
        name: zip.includeOrganizationAttachments
        schema:
          type: boolean
      - in: query
        name: zip.includeRatings
        schema:
          type: boolean
      - in: query
        name: zip.includeComments
        schema:
          type: boolean
      - in: query
        name: zip.includeCommonApp
        schema:
          type: boolean
      - in: query
        name: delivery.account
        schema:
          type: string
      - in: query
        name: delivery.folder
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestApplicationExportResultV2'
            text/json:
              schema:
                $ref: '#/components/schemas/RequestApplicationExportResultV2'
            application/xml:
              schema:
                $ref: '#/components/schemas/RequestApplicationExportResultV2'
            text/xml:
              schema:
                $ref: '#/components/schemas/RequestApplicationExportResultV2'
          description: Accepted
        "400":
          content: {}
          description: Bad Request
      summary: "Requests the generation of a single application export file (tabular,\
        \ pdf, zip)."
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
  /api/v2/export/{token}:
    get:
      operationId: export_get_v2
      parameters:
      - in: path
        name: token
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResultV2'
            text/json:
              schema:
                $ref: '#/components/schemas/ExportResultV2'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExportResultV2'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExportResultV2'
          description: OK
      summary: Gets the status/result of a requested export.
      tags:
      - Export
      x-openapi-router-controller: openapi_server.controllers.export_controller
components:
  schemas:
    ExportResultV2:
      example:
        total_files: 6
        file_urls:
        - file_urls
        - file_urls
        completed_files: 0
        status: status
      properties:
        completed_files:
          format: int32
          title: completed_files
          type: integer
        file_urls:
          items:
            type: string
          title: file_urls
          type: array
        status:
          title: status
          type: string
        total_files:
          format: int32
          title: total_files
          type: integer
      title: ExportResultV2
      type: object
    RequestApplicationExportResultV2:
      example:
        submissions: 0
        message: message
        token: 6
      properties:
        message:
          title: message
          type: string
        submissions:
          format: int32
          title: submissions
          type: integer
        token:
          format: int32
          title: token
          type: integer
      title: RequestApplicationExportResultV2
      type: object
x-original-swagger-version: "2.0"
