openapi: 3.0.1
info:
  title: ResourceManagementClient
  version: 2015-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Resources/stable/2015-11-01/resources.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Resources/calculateTemplateHash:
    post:
      description: Calculate the hash of the given template.
      operationId: Deployments_CalculateTemplateHash
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The template provided to calculate hash.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateHashResult'
          description: OK - Returns the hash.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Deployments
      x-ms-examples:
        Calculate template hash:
          parameters:
            api-version: 2015-11-01
            template:
              $schema: http://schemas.management.azure.com/deploymentTemplate?api-version=2014-04-01-preview
              contentVersion: 1.0.0.0
              outputs:
                string:
                  type: string
                  value: myvalue
              parameters:
                string:
                  type: string
              resources: []
              variables:
                array:
                - 1
                - 2
                - 3
                - 4
                bool: true
                int: 42
                object:
                  object:
                    location: West US
                    vmSize: Large
                string: string
          responses:
            "200":
              body:
                minifiedTemplate: "{\"$SCHEMA\":\"HTTP://SCHEMAS.MANAGEMENT.AZURE.COM/DEPLOYMENTTEMPLATE?API-VERSION=2014-04-01-PREVIEW\"\
                  ,\"CONTENTVERSION\":\"1.0.0.0\",\"PARAMETERS\":{\"STRING\":{\"TYPE\"\
                  :\"STRING\"}},\"VARIABLES\":{\"STRING\":\"STRING\",\"INT\":42,\"\
                  BOOL\":TRUE,\"ARRAY\":[1,2,3,4],\"OBJECT\":{\"OBJECT\":{\"VMSIZE\"\
                  :\"LARGE\",\"LOCATION\":\"WEST US\"}}},\"RESOURCES\":[],\"OUTPUTS\"\
                  :{\"STRING\":{\"TYPE\":\"STRING\",\"VALUE\":\"MYVALUE\"}}}"
                templateHash: "695440707931307747"
      x-codegen-request-body-name: template
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/{resourceProviderNamespace}/operations:
    get:
      description: Gets a list of resource providers.
      operationId: ResourceProviderOperationDetails_List
      parameters:
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationDetailListResult'
          description: ""
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationDetailListResult'
          description: ""
      tags:
      - ResourceProviderOperationDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers:
    get:
      description: Gets a list of resource providers.
      operationId: Providers_List
      parameters:
      - description: Query parameters. If null is passed returns all deployments.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResult'
          description: ""
      tags:
      - Providers
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyAssignments:
    get:
      description: Gets policy assignments of the subscription.
      operationId: PolicyAssignments_List
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: ""
      tags:
      - PolicyAssignments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policydefinitions/{policyDefinitionName}:
    delete:
      description: Deletes policy definition.
      operationId: PolicyDefinitions_Delete
      parameters:
      - description: The policy definition name.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
      tags:
      - PolicyDefinitions
      x-accepts:
      - application/json
    get:
      description: Gets policy definition.
      operationId: PolicyDefinitions_Get
      parameters:
      - description: The policy definition name.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
          description: ""
      tags:
      - PolicyDefinitions
      x-accepts:
      - application/json
    put:
      description: Create or update policy definition.
      operationId: PolicyDefinitions_CreateOrUpdate
      parameters:
      - description: The policy definition name.
        in: path
        name: policyDefinitionName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyDefinition'
        description: The policy definition properties
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDefinition'
          description: ""
      tags:
      - PolicyDefinitions
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}:
    get:
      description: Gets a resource provider.
      operationId: Providers_Get
      parameters:
      - description: Namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - Providers
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register:
    post:
      description: Registers provider to be used with a subscription.
      operationId: Providers_Register
      parameters:
      - description: Namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - Providers
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister:
    post:
      description: Unregisters provider from a subscription.
      operationId: Providers_Unregister
      parameters:
      - description: Namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: ""
      tags:
      - Providers
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/policyAssignments:
    get:
      description: Gets policy assignments of the resource group.
      operationId: PolicyAssignments_ListForResourceGroup
      parameters:
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: ""
      tags:
      - PolicyAssignments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources:
    get:
      description: Get all of the resources under a subscription.
      operationId: ResourceGroups_ListResources
      parameters:
      - description: Query parameters. If null is passed returns all resource groups.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Query parameters. If null is passed returns all resource groups.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
          description: ""
      tags:
      - ResourceGroups
      x-ms-odata: '#/definitions/GenericResourceFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{sourceResourceGroupName}/moveResources:
    post:
      description: "Begin moving resources.To determine whether the operation has\
        \ finished processing the request, call GetLongRunningOperationStatus."
      operationId: Resources_MoveResources
      parameters:
      - description: Source resource group name.
        in: path
        name: sourceResourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcesMoveInfo'
        description: move resources' parameters.
        required: true
      responses:
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Resources
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups:
    get:
      description: Gets a collection of resource groups.
      operationId: ResourceGroups_List
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Query parameters. If null is passed returns all resource groups.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupListResult'
          description: ""
      tags:
      - ResourceGroups
      x-ms-odata: '#/definitions/ResourceGroupFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}:
    delete:
      description: "Begin deleting resource group.To determine whether the operation\
        \ has finished processing the request, call GetLongRunningOperationStatus."
      operationId: ResourceGroups_Delete
      parameters:
      - description: The name of the resource group to be deleted. The name is case
          insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
      tags:
      - ResourceGroups
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get a resource group.
      operationId: ResourceGroups_Get
      parameters:
      - description: The name of the resource group to get. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: ""
      tags:
      - ResourceGroups
      x-accepts:
      - application/json
    head:
      description: Checks whether resource group exists.
      operationId: ResourceGroups_CheckExistence
      parameters:
      - description: The name of the resource group to check. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: ""
        "404":
          content: {}
          description: ""
      tags:
      - ResourceGroups
      x-accepts:
      - application/json
    patch:
      description: "Resource groups can be updated through a simple PATCH operation\
        \ to a group address. The format of the request is the same as that for creating\
        \ a resource groups, though if a field is unspecified current value will be\
        \ carried over. "
      operationId: ResourceGroups_Patch
      parameters:
      - description: The name of the resource group to be created or updated. The
          name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroup'
        description: Parameters supplied to the update state resource group service
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: ""
      tags:
      - ResourceGroups
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create a resource group.
      operationId: ResourceGroups_CreateOrUpdate
      parameters:
      - description: The name of the resource group to be created or updated.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroup'
        description: Parameters supplied to the create or update resource group service
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
          description: ""
      tags:
      - ResourceGroups
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations:
    get:
      description: Gets a list of deployments operations.
      operationId: DeploymentOperations_List
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Query parameters.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
          description: ""
      tags:
      - DeploymentOperations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations/{operationId}:
    get:
      description: Get a list of deployments operations.
      operationId: DeploymentOperations_Get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Operation Id.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
          description: ""
      tags:
      - DeploymentOperations
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/:
    get:
      description: Get a list of deployments.
      operationId: Deployments_List
      parameters:
      - description: The name of the resource group to filter by. The name is case
          insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Query parameters. If null is passed returns all deployments.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
          description: ""
      tags:
      - Deployments
      x-ms-odata: '#/definitions/DeploymentExtendedFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}:
    delete:
      description: "Begin deleting deployment.To determine whether the operation has\
        \ finished processing the request, call GetLongRunningOperationStatus."
      operationId: Deployments_Delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment to be deleted.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get a deployment.
      operationId: Deployments_Get
      parameters:
      - description: The name of the resource group to get. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: ""
      tags:
      - Deployments
      x-accepts:
      - application/json
    head:
      description: Checks whether deployment exists.
      operationId: Deployments_CheckExistence
      parameters:
      - description: The name of the resource group to check. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: ""
        "404":
          content: {}
          description: ""
      tags:
      - Deployments
      x-accepts:
      - application/json
    put:
      description: Create a named template deployment using a template.
      operationId: Deployments_CreateOrUpdate
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Additional parameters supplied to the operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
          description: ""
      tags:
      - Deployments
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel
  : post:
      description: Cancel a currently running template deployment.
      operationId: Deployments_Cancel
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: ""
      tags:
      - Deployments
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/validate
  : post:
      description: Validate a deployment template.
      operationId: Deployments_Validate
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the deployment.
        in: path
        name: deploymentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Deployment to validate.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentValidateResult'
          description: ""
      tags:
      - Deployments
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}
  : delete:
      description: 'Delete resource and all of its resources. '
      operationId: Resources_Delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Resources
      x-accepts:
      - application/json
    get:
      description: Returns a resource belonging to a resource group.
      operationId: Resources_Get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: ""
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: ""
      tags:
      - Resources
      x-accepts:
      - application/json
    head:
      description: Checks whether resource exists.
      operationId: Resources_CheckExistence
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: ""
        "404":
          content: {}
          description: ""
      tags:
      - Resources
      x-accepts:
      - application/json
    patch:
      description: Updates a resource.
      operationId: Resources_Update
      parameters:
      - description: The name of the resource group for the resource. The name is
          case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The namespace of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The resource type of the resource to update.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The name of the resource to update.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericResource'
        description: Parameters for updating the resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: OK - Returns information about the resource.
        "202":
          content: {}
          description: Accepted
      tags:
      - Resources
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create a resource.
      operationId: Resources_CreateOrUpdate
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: Resource identity.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: Resource identity.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Resource identity.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericResource'
        description: Create or update resource parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
          description: ""
      tags:
      - Resources
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}providers/Microsoft.Authorization/policyAssignments
  : get:
      description: Gets policy assignments of the resource.
      operationId: PolicyAssignments_ListForResource
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
      - description: The name of the resource provider.
        in: path
        name: resourceProviderNamespace
        required: true
        schema:
          type: string
      - description: The parent resource path.
        in: path
        name: parentResourcePath
        required: true
        schema:
          type: string
      - description: The resource type.
        in: path
        name: resourceType
        required: true
        schema:
          type: string
      - description: The resource name.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: ""
      tags:
      - PolicyAssignments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resources:
    get:
      description: Get all of the resources under a subscription.
      operationId: Resources_List
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Query parameters. If null is passed returns all resource groups.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
          description: ""
      tags:
      - Resources
      x-ms-odata: '#/definitions/GenericResourceFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/tagNames:
    get:
      description: Get a list of subscription resource tags.
      operationId: Tags_List
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsListResult'
          description: ""
      tags:
      - Tags
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/tagNames/{tagName}:
    delete:
      description: Delete a subscription resource tag.
      operationId: Tags_Delete
      parameters:
      - description: The name of the tag.
        in: path
        name: tagName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Tags
      x-accepts:
      - application/json
    put:
      description: Create a subscription resource tag.
      operationId: Tags_CreateOrUpdate
      parameters:
      - description: The name of the tag.
        in: path
        name: tagName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetails'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetails'
          description: ""
      tags:
      - Tags
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/tagNames/{tagName}/tagValues/{tagValue}:
    delete:
      description: Delete a subscription resource tag value.
      operationId: Tags_DeleteValue
      parameters:
      - description: The name of the tag.
        in: path
        name: tagName
        required: true
        schema:
          type: string
      - description: The value of the tag.
        in: path
        name: tagValue
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Tags
      x-accepts:
      - application/json
    put:
      description: Create a subscription resource tag value.
      operationId: Tags_CreateOrUpdateValue
      parameters:
      - description: The name of the tag.
        in: path
        name: tagName
        required: true
        schema:
          type: string
      - description: The value of the tag.
        in: path
        name: tagValue
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagValue'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagValue'
          description: ""
      tags:
      - Tags
      x-accepts:
      - application/json
  /{policyAssignmentId}:
    delete:
      description: Delete policy assignment.
      operationId: PolicyAssignments_DeleteById
      parameters:
      - description: Policy assignment Id
        in: path
        name: policyAssignmentId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: ""
      tags:
      - PolicyAssignments
      x-accepts:
      - application/json
    get:
      description: Get single policy assignment.
      operationId: PolicyAssignments_GetById
      parameters:
      - description: Policy assignment Id
        in: path
        name: policyAssignmentId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: ""
      tags:
      - PolicyAssignments
      x-accepts:
      - application/json
    put:
      description: Create policy assignment by Id.
      operationId: PolicyAssignments_CreateById
      parameters:
      - description: Policy assignment Id
        in: path
        name: policyAssignmentId
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
        description: Policy assignment.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: ""
      tags:
      - PolicyAssignments
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.Authorization/policyAssignments:
    get:
      description: Gets policy assignments of the scope.
      operationId: PolicyAssignments_ListForScope
      parameters:
      - description: Scope.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignmentListResult'
          description: ""
      tags:
      - PolicyAssignments
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.Authorization/policyAssignments/{policyAssignmentName}:
    delete:
      description: Delete policy assignment.
      operationId: PolicyAssignments_Delete
      parameters:
      - description: Scope.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Policy assignment name.
        in: path
        name: policyAssignmentName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: ""
      tags:
      - PolicyAssignments
      x-accepts:
      - application/json
    get:
      description: Get single policy assignment.
      operationId: PolicyAssignments_Get
      parameters:
      - description: Scope.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Policy assignment name.
        in: path
        name: policyAssignmentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: ""
      tags:
      - PolicyAssignments
      x-accepts:
      - application/json
    put:
      description: Create policy assignment.
      operationId: PolicyAssignments_Create
      parameters:
      - description: Scope.
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Policy assignment name.
        in: path
        name: policyAssignmentName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyAssignment'
        description: Policy assignment.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyAssignment'
          description: ""
      tags:
      - PolicyAssignments
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    BasicDependency:
      description: Deployment dependency information.
      example:
        resourceName: resourceName
        id: id
        resourceType: resourceType
      properties:
        id:
          description: Gets or sets the ID of the dependency.
          type: string
        resourceName:
          description: Gets or sets the dependency resource name.
          type: string
        resourceType:
          description: Gets or sets the dependency resource type.
          type: string
      type: object
    CloudError:
      description: An error response for a resource management request.
      example:
        error:
          code: code
          additionalInfo:
          - type: type
            info: "{}"
          - type: type
            info: "{}"
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudError_error'
      type: object
      x-ms-external: true
    Dependency:
      description: Deployment dependency information.
      example:
        dependsOn:
        - resourceName: resourceName
          id: id
          resourceType: resourceType
        - resourceName: resourceName
          id: id
          resourceType: resourceType
        resourceName: resourceName
        id: id
        resourceType: resourceType
      properties:
        dependsOn:
          description: Gets the list of dependencies.
          items:
            $ref: '#/components/schemas/BasicDependency'
          type: array
        id:
          description: Gets or sets the ID of the dependency.
          type: string
        resourceName:
          description: Gets or sets the dependency resource name.
          type: string
        resourceType:
          description: Gets or sets the dependency resource type.
          type: string
      type: object
    Deployment:
      description: Deployment operation parameters.
      example:
        properties:
          mode: Incremental
          parametersLink:
            contentVersion: contentVersion
            uri: uri
          template: "{}"
          templateLink:
            contentVersion: contentVersion
            uri: uri
          parameters: "{}"
      properties:
        properties:
          $ref: '#/components/schemas/DeploymentProperties'
      type: object
    DeploymentExtended:
      description: Deployment information.
      example:
        name: name
        id: id
        properties:
          mode: Incremental
          outputs: "{}"
          parametersLink:
            contentVersion: contentVersion
            uri: uri
          template: "{}"
          templateLink:
            contentVersion: contentVersion
            uri: uri
          correlationId: correlationId
          provisioningState: provisioningState
          parameters: "{}"
          providers:
          - resourceTypes:
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            namespace: namespace
            id: id
            registrationState: registrationState
          - resourceTypes:
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            namespace: namespace
            id: id
            registrationState: registrationState
          dependencies:
          - dependsOn:
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            resourceName: resourceName
            id: id
            resourceType: resourceType
          - dependsOn:
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            resourceName: resourceName
            id: id
            resourceType: resourceType
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Gets or sets the ID of the deployment.
          readOnly: true
          type: string
        name:
          description: Gets or sets the name of the deployment.
          type: string
        properties:
          $ref: '#/components/schemas/DeploymentPropertiesExtended'
      required:
      - name
      type: object
      x-ms-azure-resource: true
    DeploymentExtendedFilter:
      description: Deployment filter.
      properties:
        provisioningState:
          description: Gets or sets the provisioning state.
          type: string
      type: object
    DeploymentListResult:
      description: List of deployments.
      example:
        value:
        - name: name
          id: id
          properties:
            mode: Incremental
            outputs: "{}"
            parametersLink:
              contentVersion: contentVersion
              uri: uri
            template: "{}"
            templateLink:
              contentVersion: contentVersion
              uri: uri
            correlationId: correlationId
            provisioningState: provisioningState
            parameters: "{}"
            providers:
            - resourceTypes:
              - apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              - apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              namespace: namespace
              id: id
              registrationState: registrationState
            - resourceTypes:
              - apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              - apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              namespace: namespace
              id: id
              registrationState: registrationState
            dependencies:
            - dependsOn:
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              resourceName: resourceName
              id: id
              resourceType: resourceType
            - dependsOn:
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              resourceName: resourceName
              id: id
              resourceType: resourceType
            timestamp: 2000-01-23T04:56:07.000+00:00
        - name: name
          id: id
          properties:
            mode: Incremental
            outputs: "{}"
            parametersLink:
              contentVersion: contentVersion
              uri: uri
            template: "{}"
            templateLink:
              contentVersion: contentVersion
              uri: uri
            correlationId: correlationId
            provisioningState: provisioningState
            parameters: "{}"
            providers:
            - resourceTypes:
              - apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              - apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              namespace: namespace
              id: id
              registrationState: registrationState
            - resourceTypes:
              - apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              - apiVersions:
                - apiVersions
                - apiVersions
                locations:
                - locations
                - locations
                properties:
                  key: properties
                resourceType: resourceType
              namespace: namespace
              id: id
              registrationState: registrationState
            dependencies:
            - dependsOn:
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              resourceName: resourceName
              id: id
              resourceType: resourceType
            - dependsOn:
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              - resourceName: resourceName
                id: id
                resourceType: resourceType
              resourceName: resourceName
              id: id
              resourceType: resourceType
            timestamp: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets the list of deployments.
          items:
            $ref: '#/components/schemas/DeploymentExtended'
          type: array
      type: object
    DeploymentOperation:
      description: Deployment operation information.
      example:
        operationId: operationId
        id: id
        properties:
          targetResource:
            resourceName: resourceName
            id: id
            resourceType: resourceType
          provisioningState: provisioningState
          statusMessage: "{}"
          statusCode: statusCode
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Gets or sets full deployment operation id.
          type: string
        operationId:
          description: Gets or sets deployment operation id.
          type: string
        properties:
          $ref: '#/components/schemas/DeploymentOperationProperties'
      type: object
    DeploymentOperationProperties:
      description: Deployment operation properties.
      example:
        targetResource:
          resourceName: resourceName
          id: id
          resourceType: resourceType
        provisioningState: provisioningState
        statusMessage: "{}"
        statusCode: statusCode
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        provisioningState:
          description: Gets or sets the state of the provisioning.
          type: string
        statusCode:
          description: Gets or sets operation status code.
          type: string
        statusMessage:
          description: Gets or sets operation status message.
          type: object
        targetResource:
          $ref: '#/components/schemas/TargetResource'
        timestamp:
          description: Gets or sets the date and time of the operation.
          format: date-time
          type: string
      type: object
    DeploymentOperationsListResult:
      description: List of deployment operations.
      example:
        value:
        - operationId: operationId
          id: id
          properties:
            targetResource:
              resourceName: resourceName
              id: id
              resourceType: resourceType
            provisioningState: provisioningState
            statusMessage: "{}"
            statusCode: statusCode
            timestamp: 2000-01-23T04:56:07.000+00:00
        - operationId: operationId
          id: id
          properties:
            targetResource:
              resourceName: resourceName
              id: id
              resourceType: resourceType
            provisioningState: provisioningState
            statusMessage: "{}"
            statusCode: statusCode
            timestamp: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets the list of deployments.
          items:
            $ref: '#/components/schemas/DeploymentOperation'
          type: array
      type: object
    DeploymentProperties:
      description: Deployment properties.
      example:
        mode: Incremental
        parametersLink:
          contentVersion: contentVersion
          uri: uri
        template: "{}"
        templateLink:
          contentVersion: contentVersion
          uri: uri
        parameters: "{}"
      properties:
        mode:
          description: Gets or sets the deployment mode.
          enum:
          - Incremental
          - Complete
          type: string
          x-ms-enum:
            modelAsString: false
            name: DeploymentMode
        parameters:
          description: Deployment parameters. Use only one of Parameters or ParametersLink.
          properties: {}
          type: object
        parametersLink:
          $ref: '#/components/schemas/ParametersLink'
        template:
          description: Gets or sets the template content. Use only one of Template
            or TemplateLink.
          properties: {}
          type: object
        templateLink:
          $ref: '#/components/schemas/TemplateLink'
      type: object
    DeploymentPropertiesExtended:
      description: Deployment properties with additional details.
      example:
        mode: Incremental
        outputs: "{}"
        parametersLink:
          contentVersion: contentVersion
          uri: uri
        template: "{}"
        templateLink:
          contentVersion: contentVersion
          uri: uri
        correlationId: correlationId
        provisioningState: provisioningState
        parameters: "{}"
        providers:
        - resourceTypes:
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          namespace: namespace
          id: id
          registrationState: registrationState
        - resourceTypes:
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          namespace: namespace
          id: id
          registrationState: registrationState
        dependencies:
        - dependsOn:
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          resourceName: resourceName
          id: id
          resourceType: resourceType
        - dependsOn:
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          - resourceName: resourceName
            id: id
            resourceType: resourceType
          resourceName: resourceName
          id: id
          resourceType: resourceType
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        correlationId:
          description: Gets or sets the correlation ID of the deployment.
          type: string
        dependencies:
          description: Gets the list of deployment dependencies.
          items:
            $ref: '#/components/schemas/Dependency'
          type: array
        mode:
          description: Gets or sets the deployment mode.
          enum:
          - Incremental
          - Complete
          type: string
          x-ms-enum:
            modelAsString: false
            name: DeploymentMode
        outputs:
          description: Gets or sets key/value pairs that represent deployment output.
          properties: {}
          type: object
        parameters:
          description: Deployment parameters. Use only one of Parameters or ParametersLink.
          properties: {}
          type: object
        parametersLink:
          $ref: '#/components/schemas/ParametersLink'
        providers:
          description: Gets the list of resource providers needed for the deployment.
          items:
            $ref: '#/components/schemas/Provider'
          type: array
        provisioningState:
          description: Gets or sets the state of the provisioning.
          type: string
        template:
          description: Gets or sets the template content. Use only one of Template
            or TemplateLink.
          properties: {}
          type: object
        templateLink:
          $ref: '#/components/schemas/TemplateLink'
        timestamp:
          description: Gets or sets the timestamp of the template deployment.
          format: date-time
          type: string
      type: object
    DeploymentValidateResult:
      description: Information from validate template deployment response.
      example:
        error:
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
        properties:
          mode: Incremental
          outputs: "{}"
          parametersLink:
            contentVersion: contentVersion
            uri: uri
          template: "{}"
          templateLink:
            contentVersion: contentVersion
            uri: uri
          correlationId: correlationId
          provisioningState: provisioningState
          parameters: "{}"
          providers:
          - resourceTypes:
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            namespace: namespace
            id: id
            registrationState: registrationState
          - resourceTypes:
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            - apiVersions:
              - apiVersions
              - apiVersions
              locations:
              - locations
              - locations
              properties:
                key: properties
              resourceType: resourceType
            namespace: namespace
            id: id
            registrationState: registrationState
          dependencies:
          - dependsOn:
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            resourceName: resourceName
            id: id
            resourceType: resourceType
          - dependsOn:
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            - resourceName: resourceName
              id: id
              resourceType: resourceType
            resourceName: resourceName
            id: id
            resourceType: resourceType
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        error:
          $ref: '#/components/schemas/ResourceManagementErrorWithDetails'
        properties:
          $ref: '#/components/schemas/DeploymentPropertiesExtended'
      type: object
    ErrorResponse:
      type: object
    GenericResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information.
      example:
        plan:
          product: product
          name: name
          promotionCode: promotionCode
          publisher: publisher
        properties: "{}"
      properties:
        plan:
          $ref: '#/components/schemas/Plan'
        properties:
          description: Gets or sets the resource properties.
          properties: {}
          type: object
    GenericResourceFilter:
      description: Resource filter.
      properties:
        resourceType:
          description: Gets or sets the resource type.
          type: string
        tagname:
          description: Gets or sets the tag name.
          type: string
        tagvalue:
          description: Gets or sets the tag value.
          type: string
      type: object
    ParametersLink:
      description: Entity representing the reference to the deployment parameters.
      example:
        contentVersion: contentVersion
        uri: uri
      properties:
        contentVersion:
          description: If included it must match the ContentVersion in the template.
          type: string
        uri:
          description: URI referencing the template.
          type: string
      required:
      - uri
      type: object
    Plan:
      description: Plan for the resource.
      example:
        product: product
        name: name
        promotionCode: promotionCode
        publisher: publisher
      properties:
        name:
          description: Gets or sets the plan ID.
          type: string
        product:
          description: Gets or sets the offer ID.
          type: string
        promotionCode:
          description: Gets or sets the promotion code.
          type: string
        publisher:
          description: Gets or sets the publisher ID.
          type: string
      type: object
    PolicyAssignment:
      description: Policy assignment.
      example:
        name: name
        properties:
          policyDefinitionId: policyDefinitionId
          displayName: displayName
          scope: scope
      properties:
        name:
          description: Gets or sets the policy assignment name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/PolicyAssignmentProperties'
      type: object
    PolicyAssignmentListResult:
      description: Policy assignment list operation result.
      example:
        value:
        - name: name
          properties:
            policyDefinitionId: policyDefinitionId
            displayName: displayName
            scope: scope
        - name: name
          properties:
            policyDefinitionId: policyDefinitionId
            displayName: displayName
            scope: scope
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of policy assignment
            results.
          type: string
        value:
          description: Policy assignment list.
          items:
            $ref: '#/components/schemas/PolicyAssignment'
          type: array
      type: object
    PolicyAssignmentProperties:
      description: Policy Assignment properties.
      example:
        policyDefinitionId: policyDefinitionId
        displayName: displayName
        scope: scope
      properties:
        displayName:
          description: Gets or sets the policy assignment display name.
          type: string
        policyDefinitionId:
          description: Gets or sets the policy definition Id.
          type: string
        scope:
          description: Gets or sets the policy assignment scope.
          type: string
      type: object
    PolicyDefinition:
      description: Policy definition.
      example:
        name: name
        properties:
          policyRule: "{}"
          displayName: displayName
          description: description
      properties:
        name:
          description: Gets or sets the policy definition name.
          type: string
        properties:
          $ref: '#/components/schemas/PolicyDefinitionProperties'
      type: object
    PolicyDefinitionProperties:
      description: Policy definition properties.
      example:
        policyRule: "{}"
        displayName: displayName
        description: description
      properties:
        description:
          description: Gets or sets the policy definition description.
          type: string
        displayName:
          description: Gets or sets the policy definition display name.
          type: string
        policyRule:
          description: The policy rule json.
          properties: {}
          type: object
      type: object
    Provider:
      description: Resource provider information.
      example:
        resourceTypes:
        - apiVersions:
          - apiVersions
          - apiVersions
          locations:
          - locations
          - locations
          properties:
            key: properties
          resourceType: resourceType
        - apiVersions:
          - apiVersions
          - apiVersions
          locations:
          - locations
          - locations
          properties:
            key: properties
          resourceType: resourceType
        namespace: namespace
        id: id
        registrationState: registrationState
      properties:
        id:
          description: Gets or sets the provider id.
          type: string
        namespace:
          description: Gets or sets the namespace of the provider.
          type: string
        registrationState:
          description: Gets or sets the registration state of the provider.
          type: string
        resourceTypes:
          description: Gets or sets the collection of provider resource types.
          items:
            $ref: '#/components/schemas/ProviderResourceType'
          type: array
      type: object
    ProviderListResult:
      description: List of resource providers.
      example:
        value:
        - resourceTypes:
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          namespace: namespace
          id: id
          registrationState: registrationState
        - resourceTypes:
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          - apiVersions:
            - apiVersions
            - apiVersions
            locations:
            - locations
            - locations
            properties:
              key: properties
            resourceType: resourceType
          namespace: namespace
          id: id
          registrationState: registrationState
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets the list of resource providers.
          items:
            $ref: '#/components/schemas/Provider'
          type: array
      type: object
    ProviderResourceType:
      description: Resource type managed by the resource provider.
      example:
        apiVersions:
        - apiVersions
        - apiVersions
        locations:
        - locations
        - locations
        properties:
          key: properties
        resourceType: resourceType
      properties:
        apiVersions:
          description: Gets or sets the api version.
          items:
            type: string
          type: array
        locations:
          description: Gets or sets the collection of locations where this resource
            type can be created in.
          items:
            type: string
          type: array
        properties:
          additionalProperties:
            type: string
          description: Gets or sets the properties.
          type: object
        resourceType:
          description: Gets or sets the resource type.
          type: string
      type: object
    Resource:
      properties:
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        type:
          description: Resource type
          readOnly: true
          type: string
      required:
      - location
      type: object
      x-ms-azure-resource: true
    ResourceGroup:
      description: Resource group information.
      example:
        name: name
        location: location
        id: id
        properties:
          provisioningState: provisioningState
        tags:
          key: tags
      properties:
        id:
          description: Gets the ID of the resource group.
          readOnly: true
          type: string
        location:
          description: "Gets or sets the location of the resource group. It cannot\
            \ be changed after the resource group has been created. Has to be one\
            \ of the supported Azure Locations, such as West US, East US, West Europe,\
            \ East Asia, etc."
          type: string
        name:
          description: Gets or sets the Name of the resource group.
          type: string
        properties:
          $ref: '#/components/schemas/ResourceGroupProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource group.
          type: object
      required:
      - location
      type: object
      x-ms-azure-resource: true
    ResourceGroupFilter:
      description: Resource group filter.
      properties:
        tagName:
          description: Gets or sets the tag name.
          type: string
        tagValue:
          description: Gets or sets the tag value.
          type: string
      type: object
    ResourceGroupListResult:
      description: List of resource groups.
      example:
        value:
        - name: name
          location: location
          id: id
          properties:
            provisioningState: provisioningState
          tags:
            key: tags
        - name: name
          location: location
[...]
