openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/virtualNetworkGateway.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-virtualNetworkGateway
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections:
    get:
      description: The List VirtualNetworkGatewayConnections operation retrieves all
        the virtual network gateways connections created.
      operationId: virtual_network_gateway_connections_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
          description: Request successful. The operation resets the virtual network
            gateway connection shared key.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-examples:
        ListVirtualNetworkGatewayConnectionsinResourceGroup:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/conn1
                  location: centralus
                  name: conn1
                  properties:
                    connectionProtocol: IKEv1
                    connectionType: IPsec
                    egressBytesTransferred: 0
                    enableBgp: false
                    ingressBytesTransferred: 0
                    ipsecPolicies: []
                    localNetworkGateway2:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw1
                      properties: {}
                    provisioningState: Succeeded
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    routingWeight: 0
                    usePolicyBasedTrafficSelectors: false
                    virtualNetworkGateway1:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw1
                      properties: {}
                  type: Microsoft.Network/connections
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/conn2
                  location: eastus
                  name: conn2
                  properties:
                    connectionProtocol: IKEv2
                    connectionType: IPsec
                    egressBytesTransferred: 0
                    enableBgp: false
                    ingressBytesTransferred: 0
                    ipsecPolicies: []
                    localNetworkGateway2:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw2
                      properties: {}
                    provisioningState: Succeeded
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    routingWeight: 0
                    usePolicyBasedTrafficSelectors: false
                    virtualNetworkGateway1:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw2
                      properties: {}
                  type: Microsoft.Network/connections
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}
  : delete:
      description: Deletes the specified virtual network Gateway connection.
      operationId: virtual_network_gateway_connections_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-examples:
        DeleteVirtualNetworkGatewayConnection:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: conn1
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
    get:
      description: Gets the specified virtual network gateway connection by resource
        group.
      operationId: virtual_network_gateway_connections_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: Request successful. The operation returns the resulting VirtualNetworkGatewayConnection
            resource.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-examples:
        GetVirtualNetworkGatewayConnection:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: connS2S
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/connS2S
                location: centralus
                name: connS2S
                properties:
                  connectionProtocol: IKEv2
                  connectionStatus: Connecting
                  connectionType: IPsec
                  egressBytesTransferred: 0
                  enableBgp: false
                  ingressBytesTransferred: 0
                  ipsecPolicies: []
                  localNetworkGateway2:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                    properties: {}
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  routingWeight: 0
                  sharedKey: Abc123
                  usePolicyBasedTrafficSelectors: false
                  virtualNetworkGateway1:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                    properties: {}
                type: Microsoft.Network/connections
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
    patch:
      description: Updates a virtual network gateway connection tags.
      operationId: virtual_network_gateway_connections_update_tags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnections_UpdateTags_request'
        description: Parameters supplied to update virtual network gateway connection
          tags.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: Update successful. The operation returns the resulting VirtualNetworkGatewayConnection
            resource.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-examples:
        UpdateVirtualNetworkGatewayConnectionTags:
          parameters:
            api-version: 2019-04-01
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: test
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/test
                location: westus
                name: test
                properties:
                  connectionStatus: Unknown
                  connectionType: IPsec
                  egressBytesTransferred: 0
                  enableBgp: false
                  ingressBytesTransferred: 0
                  ipsecPolicies: []
                  localNetworkGateway2:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/lgw
                    properties: {}
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  routingWeight: 0
                  sharedKey: temp1234
                  usePolicyBasedTrafficSelectors: false
                  virtualNetworkGateway1:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                    properties: {}
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/connections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
    put:
      description: Creates or updates a virtual network gateway connection in the
        specified resource group.
      operationId: virtual_network_gateway_connections_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
        description: Parameters supplied to the create or update virtual network gateway
          connection operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: Update successful. The operation returns the resulting VirtualNetworkGatewayConnection
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: Create successful. The operation returns the resulting VirtualNetworkGatewayConnection
            resource.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-examples:
        CreateVirtualNetworkGatewayConnection_S2S:
          parameters:
            api-version: 2019-04-01
            parameters:
              location: centralus
              properties:
                connectionProtocol: IKEv2
                connectionType: IPsec
                enableBgp: false
                ipsecPolicies: []
                localNetworkGateway2:
                  etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                  location: centralus
                  properties:
                    gatewayIpAddress: x.x.x.x
                    localNetworkAddressSpace:
                      addressPrefixes:
                      - 10.1.0.0/16
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                  tags: {}
                routingWeight: 0
                sharedKey: Abc123
                usePolicyBasedTrafficSelectors: false
                virtualNetworkGateway1:
                  etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                  location: centralus
                  properties:
                    activeActive: false
                    bgpSettings:
                      asn: 65514
                      bgpPeeringAddress: 10.0.1.30
                      peerWeight: 0
                    enableBgp: false
                    gatewayType: Vpn
                    ipConfigurations:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/gwipconfig1
                      name: gwipconfig1
                      properties:
                        privateIPAllocationMethod: Dynamic
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    sku:
                      capacity: 2
                      name: VpnGw1
                      tier: VpnGw1
                    vpnType: RouteBased
                  tags: {}
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: connS2S
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/connS2S
                location: centralus
                name: connS2S
                properties:
                  connectionProtocol: IKEv2
                  connectionType: IPsec
                  egressBytesTransferred: 0
                  enableBgp: false
                  ingressBytesTransferred: 0
                  ipsecPolicies: []
                  localNetworkGateway2:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                    properties: {}
                  provisioningState: Updating
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  routingWeight: 0
                  sharedKey: Abc123
                  usePolicyBasedTrafficSelectors: false
                  virtualNetworkGateway1:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                    properties: {}
                type: Microsoft.Network/connections
            "201":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/connS2S
                location: centralus
                name: connS2S
                properties:
                  connectionProtocol: IKEv2
                  connectionType: IPsec
                  egressBytesTransferred: 0
                  enableBgp: false
                  ingressBytesTransferred: 0
                  ipsecPolicies: []
                  localNetworkGateway2:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                    properties: {}
                  provisioningState: Updating
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  routingWeight: 0
                  sharedKey: Abc123
                  usePolicyBasedTrafficSelectors: false
                  virtualNetworkGateway1:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                    properties: {}
                type: Microsoft.Network/connections
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey
  : get:
      description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves
        information about the specified virtual network gateway connection shared
        key through Network resource provider.
      operationId: virtual_network_gateway_connections_get_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection shared key name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: Request successful. The operation returns a list of VirtualNetworkGatewayConnection
            resources.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-examples:
        GetVirtualNetworkGatewayConnectionSharedKey:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: connS2S
          responses:
            "200":
              body:
                value: AzureAbc123
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
    put:
      description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      operationId: virtual_network_gateway_connections_set_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
        description: Parameters supplied to the Begin Set Virtual Network Gateway
          connection Shared key operation throughNetwork resource provider.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: Request successful. The operation returns the resulting ConnectionSharedKey
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: Request successful. The operation returns the resulting ConnectionSharedKey
            resource.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-examples:
        SetVirtualNetworkGatewayConnectionSharedKey:
          parameters:
            api-version: 2019-04-01
            parameters:
              value: AzureAbc123
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: connS2S
          responses:
            "200":
              body:
                value: AzureAbc123
            "201":
              body:
                value: AzureAbc123
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset
  : post:
      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      operationId: virtual_network_gateway_connections_reset_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection reset shared key Name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
        description: Parameters supplied to the begin reset virtual network gateway
          connection shared key operation through network resource provider.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
          description: Request successful. The operation sets the virtual network
            gateway connection shared key.
        "202":
          content: {}
          description: Request successful. The operation sets the virtual network
            gateway connection shared key.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-examples:
        ResetVirtualNetworkGatewayConnectionSharedKey:
          parameters:
            api-version: 2019-04-01
            parameters:
              keyLength: 128
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: conn1
          responses:
            "200":
              body:
                keyLength: 128
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/vpndeviceconfigurationscript
  : post:
      description: Gets a xml format representation for vpn device configuration script.
      operationId: virtual_network_gateways_vpn_device_configuration_script
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection for which
          the configuration script is generated.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnDeviceScriptParameters'
        description: Parameters supplied to the generate vpn device script operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Xml format representation for vpn device configuration script.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        GetVPNDeviceConfigurationScript:
          parameters:
            api-version: 2019-04-01
            parameters:
              deviceFamily: ISR
              firmwareVersion: IOS 15.1 (Preview)
              vendor: Cisco
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: vpngw
          responses:
            "200":
              body: "! Microsoft Corporation\r\n! ---------------------------------------------------------------------------------------------------------------------\r\
                \n! Sample VPN tunnel configuration template for IOS-based devices\r\
                \n!\r\n! This configuration template applies to Cisco VPN devices\
                \ running IOS 15.1 or beyond (ISR or ASR)\r\n!\r\n\r\n\r\n\t\t\r\n\
                \r\n! ---------------------------------------------------------------------------------------------------------------------\r\
                \n! ACL rules\r\n!\r\n! Some VPN devices require explicit ACL rules\
                \ to allow cross-premises traffic:\r\n!\r\n! 1. Allow traffic between\
                \ on premises address ranges and VNet address ranges\r\n! 2. Allow\
                \ IKE traffic (UDP:500) between on premises VPN devices and Azure\
                \ VPN gateway\r\n! 3. Allow IPsec traffic (Proto:ESP) between on premises\
                \ VPN devices and Azure VPN gateway\r\n!\r\n\t\t\r\naccess-list 101\
                \ permit ip 10.1.0.0 0.0.255.255 10.0.0.0 0.0.255.255\r\n\r\n! ---------------------------------------------------------------------------------------------------------------------\r\
                \n! Internet Key Exchange (IKE) configuration\r\n!\r\n! This section\
                \ specifies the authentication, encryption, hashing, and Diffie-Hellman\
                \ group parameters for IKE\r\n! main mode or phase 1\r\n!\r\n\r\n\
                crypto ikev2 proposal SwaggerS2S-proposal\r\n  encryption DES3\r\n\
                \  integrity  SHA384\r\n  group      DHGroup24\r\n  lifetime   3600\r\
                \n exit\r\n\r\ncrypto ikev2 policy SwaggerS2S-policy\r\n  proposal\
                \ SwaggerS2S-proposal\r\n  exit\r\n\r\ncrypto ikev2 keyring SwaggerBranch-keyring\r\
                \n\t\t\r\n\t\tpeer 52.173.199.254\r\n\t\taddress        52.173.199.254\r\
                \n\t\tpre-shared-key lALEHuppeopJmA94exRNiRr2QzuZ6lOsvzu5IlJUEA6LthbTc8g5MTT86MCsGNMzGkTAaLuLnEJoD1Cn4cIlr94qKZm9drsgllzWvsPNezS71stAkaW1Bb7h6GBnDlDP\r\
                \n  exit\r\n\r\ncrypto ikev2 profile  SwaggerS2S-profile\r\n  match\
                \ address  local 10.3.0.0\r\n\tmatch identity remote address 52.173.199.254\
                \ 255.255.255.255\r\n\t\t\r\n  authentication remote pre-share\r\n\
                \  authentication local  pre-share\r\n  keyring        SwaggerBranch-keyring\r\
                \n  exit\r\n\r\n! ---------------------------------------------------------------------------------------------------------------------\r\
                \n! IPsec configuration\r\n!\r\n! This section specifies encryption,\
                \ authentication, tunnel mode properties for the Phase 2 negotiation\r\
                \n!\r\ncrypto ipsec transform-set SwaggerS2S-TransformSet DES3 DES3\r\
                \n mode  tunnel\r\n exit\r\n\r\n! ---------------------------------------------------------------------------------------------------------------------\r\
                \n! Crypto map configuration\r\n!\r\n! This section defines a crypto\
                \ profile that binds the cross-premises network traffic to the IPsec\
                \ and IKE\r\n! policy profiles for this connection. Then defines the\
                \ VTI (virtual tunnel interface) with the crypto\r\n! profile. A random\
                \ interface number (tunnel 1) was used with a random link local address\
                \ (169.254.0.1/28)\r\n! for the tunnel interface. If either selection\
                \ is already used in the VPN device, please select another\r\n! interface\
                \ number or address.  The only requirement is that they must not overlap\
                \ with another interface\r\n! on the same VPN device.\r\n!\r\ncrypto\
                \ ipsec profile SwaggerS2S-IPsecProfile\r\n  set transform-set  SwaggerS2S-TransformSet\r\
                \n  set ikev2-profile  SwaggerS2S-profile\r\n  set pfs           \
                \ None\r\n  set security-association lifetime 3600\r\n exit\r\n\r\n\
                \r\nint tunnel 52.173.199.254\r\n  ip address 169.254.0.1 255.255.255.252\r\
                \n  ip tcp adjust-mss 1350\r\n  tunnel source 10.3.0.0\r\n  tunnel\
                \ mode ipsec ipv4\r\n  tunnel destination 52.173.199.254\r\n  tunnel\
                \ protection ipsec profile SwaggerS2S-IPsecProfile\r\n  exit\r\n\r\
                \n\tip route 10.0.0.0 255.255.0.0 tunnel 52.173.199.254 "
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways:
    get:
      description: Gets all the local network gateways in a resource group.
      operationId: local_network_gateways_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
          description: Request successful. The operation returns a list of LocalNetworkGateway
            resources.
      tags:
      - LocalNetworkGateways
      x-ms-examples:
        ListLocalNetworkGateways:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw1
                  location: centralus
                  name: localgw1
                  properties:
                    gatewayIpAddress: x.x.x.x
                    localNetworkAddressSpace:
                      addressPrefixes:
                      - 10.1.0.0/16
                    provisioningState: Succeeded
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                  type: Microsoft.Network/localNetworkGateways
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw2
                  location: eastus
                  name: localgw2
                  properties:
                    gatewayIpAddress: x.x.x.x
                    localNetworkAddressSpace:
                      addressPrefixes:
                      - 10.2.0.0/16
                    provisioningState: Succeeded
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                  type: Microsoft.Network/localNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}
  : delete:
      description: Deletes the specified local network gateway.
      operationId: local_network_gateways_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - LocalNetworkGateways
      x-ms-examples:
        DeleteLocalNetworkGateway:
          parameters:
            api-version: 2019-04-01
            localNetworkGatewayName: localgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
    get:
      description: Gets the specified local network gateway in a resource group.
      operationId: local_network_gateways_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: Request successful. The operation returns the resulting LocalNetworkGateway
            resource.
      tags:
      - LocalNetworkGateways
      x-ms-examples:
        GetLocalNetworkGateway:
          parameters:
            api-version: 2019-04-01
            localNetworkGatewayName: localgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                location: centralus
                name: localgw
                properties:
                  gatewayIpAddress: x.x.x.x
                  localNetworkAddressSpace:
                    addressPrefixes:
                    - 10.1.0.0/16
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Network/localNetworkGateways
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
    patch:
      description: Updates a local network gateway tags.
      operationId: local_network_gateways_update_tags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnections_UpdateTags_request'
        description: Parameters supplied to update local network gateway tags.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: Update successful. The operation returns the resulting LocalNetworkGateway
            resource.
      tags:
      - LocalNetworkGateways
      x-ms-examples:
        UpdateLocalNetworkGatewayTags:
          parameters:
            api-version: 2019-04-01
            localNetworkGatewayName: lgw
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/lgw
                location: westus
                name: lgw
                properties:
                  gatewayIpAddress: 12.0.0.1
                  localNetworkAddressSpace:
                    addressPrefixes:
                    - 12.0.0.0/8
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/localNetworkGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
    put:
      description: Creates or updates a local network gateway in the specified resource
        group.
      operationId: local_network_gateways_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
        description: Parameters supplied to the create or update local network gateway
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: Update successful. The operation returns the resulting LocalNetworkGateway
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: Create successful. The operation returns the resulting LocalNetworkGateway
            resource.
      tags:
      - LocalNetworkGateways
      x-ms-examples:
        CreateLocalNetworkGateway:
          parameters:
            api-version: 2019-04-01
            localNetworkGatewayName: localgw
            parameters:
              location: Central US
              properties:
                gatewayIpAddress: x.x.x.x
                localNetworkAddressSpace:
                  addressPrefixes:
                  - 10.1.0.0/16
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                location: centralus
                name: localgw
                properties:
                  gatewayIpAddress: x.x.x.x
                  localNetworkAddressSpace:
                    addressPrefixes:
                    - 10.1.0.0/16
                  provisioningState: Updating
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Network/localNetworkGateways
            "201":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                location: centralus
                name: localgw
                properties:
                  gatewayIpAddress: x.x.x.x
                  localNetworkAddressSpace:
                    addressPrefixes:
                    - 10.1.0.0/16
                  provisioningState: Updating
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Network/localNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways:
    get:
      description: Gets all virtual network gateways by resource group.
      operationId: virtual_network_gateways_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayListResult'
          description: Request successful. The operation returns a list of VirtualNetworkGateway
            resources.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        ListVirtualNetworkGatewaysinResourceGroup:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw1
                  location: loc1
                  name: vpngw1
                  properties:
                    activeActive: false
                    bgpSettings:
                      asn: 65515
                      bgpPeeringAddress: 10.0.0.14
                      peerWeight: 0
                    customRoutes:
                      addressPrefixes:
                      - 101.168.0.6/32
                    enableBgp: false
                    gatewayType: Vpn
                    ipConfigurations:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw1/ipConfigurations/default
                      name: default
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/vpngw1-ip
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                    provisioningState: Succeeded
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    sku:
                      capacity: 2
                      name: VpnGw1
                      tier: VpnGw1
                    vpnClientConfiguration:
                      vpnClientProtocols: []
                      vpnClientRevokedCertificates: []
                      vpnClientRootCertificates: []
                    vpnType: RouteBased
                  type: Microsoft.Network/virtualNetworkGateways
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw2
                  location: loc2
                  name: vpngw2
                  properties:
                    activeActive: false
                    bgpSettings:
                      asn: 65515
                      bgpPeeringAddress: 10.1.0.46
                      peerWeight: 0
                    customRoutes:
                      addressPrefixes:
                      - 101.168.0.6/32
                    enableBgp: false
                    gatewayType: Vpn
                    ipConfigurations:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw2/ipConfigurations/default
                      name: default
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/vpngw2-ip
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/GatewaySubnet
                    provisioningState: Succeeded
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    sku:
                      capacity: 2
                      name: VpnGw1
                      tier: VpnGw1
                    vpnClientConfiguration:
                      aadAudience: fd11706c-e78c-4828-8be7-ac7dcefd4b17
                      aadIssuer: https://sts.windows.net/99163270-c9ab-4279-bb12-5353ed9bf6e1/
                      aadTenant: https://login.microsoftonline.com/99163270-c9ab-4279-bb12-5353ed9bf6e1
                      vpnClientProtocols:
                      - OpenVPN
                      vpnClientRevokedCertificates: []
                      vpnClientRootCertificates: []
                    vpnType: RouteBased
                  type: Microsoft.Network/virtualNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}
  : delete:
      description: Deletes the specified virtual network gateway.
      operationId: virtual_network_gateways_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        DeleteVirtualNetworkGateway:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
    get:
      description: Gets the specified virtual network gateway by resource group.
      operationId: virtual_network_gateways_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Request successful. The operation returns a VirtualNetworkGateway
            resource.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        GetVirtualNetworkGateway:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                location: centralus
                name: vpngw
                properties:
                  activeActive: false
                  bgpSettings:
                    asn: 65514
                    bgpPeeringAddress: 10.0.1.30
                    peerWeight: 0
                  customRoutes:
                    addressPrefixes:
                    - 101.168.0.6/32
                  enableBgp: false
                  gatewayType: Vpn
                  ipConfigurations:
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/gwipconfig1
                    name: gwipconfig1
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 0
                    name: VpnGw1
                    tier: VpnGw1
                  vpnClientConfiguration:
                    aadAudience: fd11706c-e78c-4828-8be7-ac7dcefd4b17
                    aadIssuer: https://sts.windows.net/99163270-c9ab-4279-bb12-5353ed9bf6e1/
                    aadTenant: https://login.microsoftonline.com/99163270-c9ab-4279-bb12-5353ed9bf6e1
                    vpnClientProtocols:
                    - OpenVPN
                    vpnClientRevokedCertificates: []
                    vpnClientRootCertificates: []
                  vpnType: RouteBased
                type: Microsoft.Network/virtualNetworkGateways
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
    patch:
      description: Updates a virtual network gateway tags.
      operationId: virtual_network_gateways_update_tags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnections_UpdateTags_request'
        description: Parameters supplied to update virtual network gateway tags.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Update successful. The operation returns the resulting VirtualNetworkGateway
            resource.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        UpdateVirtualNetworkGatewayTags:
          parameters:
            api-version: 2019-04-01
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                location: westus
                name: vpngw
                properties:
                  activeActive: false
                  bgpSettings:
                    asn: 65515
                    bgpPeeringAddress: 10.0.0.254
                    peerWeight: 0
                  customRoutes:
                    addressPrefixes:
                    - 101.168.0.6/32
                  enableBgp: false
                  gatewayType: Vpn
                  ipConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/default
                    name: default
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/testpub1
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/GatewaySubnet
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 2
                    name: VpnGw1
                    tier: VpnGw1
                  vpnType: RouteBased
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/virtualNetworkGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
    put:
      description: Creates or updates a virtual network gateway in the specified resource
        group.
      operationId: virtual_network_gateways_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
        description: Parameters supplied to create or update virtual network gateway
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Update successful. The operation returns the resulting VirtualNetworkGateway
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Create successful. The operation returns the resulting VirtualNetworkGateway
            resource.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        UpdateVirtualNetworkGateway:
          parameters:
            api-version: 2019-04-01
            parameters:
              location: centralus
              properties:
                activeActive: false
                bgpSettings:
                  asn: 65515
                  bgpPeeringAddress: 10.0.1.30
                  peerWeight: 0
                customRoutes:
                  addressPrefixes:
                  - 101.168.0.6/32
                enableBgp: false
                gatewayType: Vpn
                ipConfigurations:
                - name: gwipconfig1
                  properties:
                    privateIPAllocationMethod: Dynamic
                    publicIPAddress:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                    subnet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                sku:
                  name: VpnGw1
                  tier: VpnGw1
                vpnType: RouteBased
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                location: centralus
                name: vpngw
                properties:
                  activeActive: false
                  bgpSettings:
                    asn: 65515
                    bgpPeeringAddress: 10.0.1.30
                    peerWeight: 0
                  customRoutes:
                    addressPrefixes:
                    - 101.168.0.6/32
                  enableBgp: false
                  gatewayType: Vpn
                  ipConfigurations:
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/gwipconfig1
                    name: gwipconfig1
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 0
                    name: VpnGw1
                    tier: VpnGw1
                  vpnClientConfiguration:
                    aadAudience: ""
                    aadIssuer: ""
                    aadTenant: ""
                    vpnClientProtocols:
                    - OpenVPN
                    vpnClientRevokedCertificates: []
                    vpnClientRootCertificates: []
                  vpnType: RouteBased
                type: Microsoft.Network/virtualNetworkGateways
            "201":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                location: centralus
                name: vpngw
                properties:
                  activeActive: false
                  bgpSettings:
                    asn: 65515
                    bgpPeeringAddress: 10.0.1.30
                    peerWeight: 0
                  customRoutes:
                    addressPrefixes:
                    - 101.168.0.6/32
                  enableBgp: false
                  gatewayType: Vpn
                  ipConfigurations:
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/gwipconfig1
                    name: gwipconfig1
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 0
                    name: VpnGw1
                    tier: VpnGw1
                  vpnClientConfiguration:
                    aadAudience: fd11706c-e78c-4828-8be7-ac7dcefd4b17
                    aadIssuer: https://sts.windows.net/99163270-c9ab-4279-bb12-5353ed9bf6e1/
                    aadTenant: https://login.microsoftonline.com/99163270-c9ab-4279-bb12-5353ed9bf6e1
                    vpnClientProtocols:
                    - OpenVPN
                    vpnClientRevokedCertificates: []
                    vpnClientRootCertificates: []
                  vpnType: RouteBased
                type: Microsoft.Network/virtualNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/connections
  : get:
      description: Gets all the connections in a virtual network gateway.
      operationId: virtual_network_gateways_list_connections
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayListConnectionsResult'
          description: Request successful. The operation returns a list of VirtualNetworkGatewayConnection
            resource.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        VirtualNetworkGatewaysListConnections:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: testrg
            subscriptionId: subid
            virtualNetworkGatewayName: test-vpn-gateway-1
          responses:
            "200":
              body:
                value:
                - etag: W/\"00000000-0000-0000-0000-000000000000\"
                  id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/connections/test-vpn-connection
                  location: eastus
                  name: test-vpn-connection
                  properties:
                    connectionType: Vnet2Vnet
                    egressBytesTransferred: 0
                    enableBgp: true
                    ingressBytesTransferred: 0
                    ipsecPolicies: []
                    provisioningState: Succeeded
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    routingWeight: 22
                    usePolicyBasedTrafficSelectors: false
                    virtualNetworkGateway1:
                      id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworkGateways/test-vpn-gateway-1
                    virtualNetworkGateway2:
                      id: /subscriptions/subid/resourceGroups/testrg-2/providers/Microsoft.Network/virtualNetworkGateways/test-vpn-gateway-2
                  type: Microsoft.Network/connections
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage
  : post:
      description: Generates VPN client package for P2S client of the virtual network
        gateway in the specified resource group.
      operationId: virtual_network_gateways_generatevpnclientpackage
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnClientParameters'
        description: Parameters supplied to the generate virtual network gateway VPN
          client package operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: VPN client package URL.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        GenerateVPNClientPackage:
          parameters:
            api-version: 2019-04-01
            parameters: {}
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: ""
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnprofile
  : post:
      description: Generates VPN profile for P2S client of the virtual network gateway
        in the specified resource group. Used for IKEV2 and radius based authentication.
      operationId: virtual_network_gateways_generate_vpn_profile
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnClientParameters'
        description: Parameters supplied to the generate virtual network gateway VPN
          client package operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: VPN profile package URL.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        GenerateVirtualNetworkGatewayVPNProfile:
          parameters:
            api-version: 2019-04-01
            parameters: {}
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: ""
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getAdvertisedRoutes
  : post:
      description: This operation retrieves a list of routes the virtual network gateway
        is advertising to the specified peer.
      operationId: virtual_network_gateways_get_advertised_routes
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: The IP address of the peer.
        in: query
        name: peer
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
          description: List of learned BGP routes.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        GetVirtualNetworkGatewayAdvertisedRoutes:
          parameters:
            api-version: 2019-04-01
            peer: test
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getBgpPeerStatus
  : post:
      description: The GetBgpPeerStatus operation retrieves the status of all BGP
        peers.
      operationId: virtual_network_gateways_get_bgp_peer_status
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: The IP address of the peer to retrieve the status of.
        in: query
        name: peer
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeerStatusListResult'
          description: List of BGP peer statuses.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        GetVirtualNetworkGatewayBGPPeerStatus:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getLearnedRoutes
  : post:
      description: "This operation retrieves a list of routes the virtual network\
        \ gateway has learned, including routes learned from BGP peers."
      operationId: virtual_network_gateways_get_learned_routes
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
          description: List of advertised BGP routes.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        GetVirtualNetworkGatewayLearnedRoutes:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getVpnClientConnectionHealth
  : post:
      description: Get VPN client connection health detail per P2S client connection
        of the virtual network gateway in the specified resource group.
      operationId: virtual_network_gateways_get_vpnclient_connection_health
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnClientConnectionHealthDetailListResult'
          description: List of VPN client connection health details.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        GetVirtualNetworkGatewayVpnclientConnectionHealth:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: p2s-vnet-test
            subscriptionId: subid
            virtualNetworkGatewayName: vpnp2sgw
          responses:
            "200":
              body:
                value:
                - egressBytesTransferred: 33420
                  egressPacketsTransferred: 557
                  ingressBytesTransferred: 33420
                  ingressPacketsTransferred: 557
                  maxBandwidth: 240000000
                  maxPacketsPerSecond: 4
                  privateIpAddress: 192.168.210.2
                  publicIpAddress: 167.220.2.232:45522
                  vpnConnectionDuration: 900
                  vpnConnectionId: IKEv2_1e1cfe59-5c7c-4315-a876-b11fbfdfeed4
                  vpnConnectionTime: 2019-05-02T22:26:22
                  vpnUserName: gwp2schildcert
                - egressBytesTransferred: 23420
                  egressPacketsTransferred: 357
                  ingressBytesTransferred: 23420
                  ingressPacketsTransferred: 357
                  maxBandwidth: 220000000
                  maxPacketsPerSecond: 4
                  privateIpAddress: 192.168.210.1
                  publicIpAddress: 167.220.2.232:45213
                  vpnConnectionDuration: 800
                  vpnConnectionId: IKEv2_571cfe59-2c7d-1415-e813-c51fbfdfea16
                  vpnConnectionTime: 2019-05-01T21:06:12
                  vpnUserName: gwp2schildcert
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getvpnclientipsecparameters
  : post:
      description: The Get VpnclientIpsecParameters operation retrieves information
        about the vpnclient ipsec policy for P2S client of virtual network gateway
        in the specified resource group through Network resource provider.
      operationId: virtual_network_gateways_get_vpnclient_ipsec_parameters
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway name.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnClientIPsecParameters'
          description: Request successful. The operation returns the set vpnclient
            ipsec parameters for P2S client of VirtualNetworkGateway resource.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        Get VirtualNetworkGateway VpnClientIpsecParameters:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body:
                dhGroup: DHGroup2
                ikeEncryption: AES256
                ikeIntegrity: SHA384
                ipsecEncryption: AES256
                ipsecIntegrity: SHA256
                pfsGroup: PFS2
                saDataSizeKilobytes: 429497
                saLifeTimeSeconds: 86473
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getvpnprofilepackageurl
  : post:
      description: Gets pre-generated VPN profile for P2S client of the virtual network
        gateway in the specified resource group. The profile needs to be generated
        first using generateVpnProfile.
      operationId: virtual_network_gateways_get_vpn_profile_package_url
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: VPN profile package URL.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        GetVirtualNetworkGatewayVPNProfilePackageURL:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: ""
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset
  : post:
      description: Resets the primary of the virtual network gateway in the specified
        resource group.
      operationId: virtual_network_gateways_reset
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Virtual network gateway vip address supplied to the begin reset
          of the active-active feature enabled gateway.
        in: query
        name: gatewayVip
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Request successful. The operation reset the primary of the
            virtual network gateway.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-examples:
        ResetVirtualNetworkGateway:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                location: centralus
                name: vpngw
                properties:
                  activeActive: false
                  bgpSettings:
                    asn: 65514
                    bgpPeeringAddress: 10.0.1.30
                    peerWeight: 0
                  customRoutes:
                    addressPrefixes:
                    - 101.168.0.6/32
                  enableBgp: false
                  gatewayType: Vpn
                  ipConfigurations:
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/gwipconfig1
                    name: gwipconfig1
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
[...]
