

# ValidationResult


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**result** | **String** | The result of the check.  Possible values:  - **valid**: The validation was successful.  - **invalid**: The validation failed.  - **notValidated**: The validation was not performed because some services were unreachable or Adyen does not have the information needed to perform the check.  - **notApplicable**: The validation is not applicable. |  [optional] |
|**type** | **String** | Type of check. |  [optional] |



