openapi: 3.0.1
info:
  description: "Provides create, read, update and delete functionality Azure SQL server\
    \ communication links."
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/serverCommunicationLinks.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-serverCommunicationLinks
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/communicationLinks
  : get:
      description: Gets a list of server communication links.
      operationId: ServerCommunicationLinks_ListByServer
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerCommunicationLinkListResult'
          description: OK
      tags:
      - ServerCommunicationLinks
      x-ms-examples:
        List server communication links:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/communicationLinks/link1
                  location: Central US
                  name: link1
                  properties:
                    partnerServer: sqlcrudtest-test
                    state: Ready
                  type: Microsoft.Sql/servers/communicationLinks
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/communicationLinks/{communicationLinkName}
  : delete:
      description: Deletes a server communication link.
      operationId: ServerCommunicationLinks_Delete
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server communication link.
        in: path
        name: communicationLinkName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - ServerCommunicationLinks
      x-ms-examples:
        Delete a server communication link:
          parameters:
            api-version: 2014-04-01
            communicationLinkName: link1
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      description: Returns a server communication link.
      operationId: ServerCommunicationLinks_Get
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server communication link.
        in: path
        name: communicationLinkName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerCommunicationLink'
          description: OK
      tags:
      - ServerCommunicationLinks
      x-ms-examples:
        Get a server communication link:
          parameters:
            api-version: 2014-04-01
            communicationLinkName: link1
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/communicationLinks/link1
                location: Central US
                name: link1
                properties:
                  partnerServer: sqlcrudtest-test
                  state: Ready
                type: Microsoft.Sql/servers/communicationLinks
      x-accepts:
      - application/json
    put:
      description: Creates a server communication link.
      operationId: ServerCommunicationLinks_CreateOrUpdate
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server communication link.
        in: path
        name: communicationLinkName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerCommunicationLink'
        description: The required parameters for creating a server communication link.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerCommunicationLink'
          description: Created
        "202":
          content: {}
          description: Accepted
      tags:
      - ServerCommunicationLinks
      x-ms-examples:
        Create a server communication link:
          parameters:
            api-version: 2014-04-01
            communicationLinkName: link1
            parameters:
              properties:
                partnerServer: sqldcrudtest-test
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/communicationLinks/link1
                location: Central US
                name: link1
                properties:
                  partnerServer: sqlcrudtest-test
                  state: Ready
                type: Microsoft.Sql/servers/communicationLinks
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ServerCommunicationLink:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Server communication link.
      example:
        kind: kind
        location: location
        properties:
          partnerServer: partnerServer
          state: state
      properties:
        kind:
          description: Communication link kind.  This property is used for Azure Portal
            metadata.
          readOnly: true
          type: string
        location:
          description: Communication link location.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ServerCommunicationLinkProperties'
    ServerCommunicationLinkListResult:
      description: A list of server communication links.
      example:
        value:
        - kind: kind
          location: location
          properties:
            partnerServer: partnerServer
            state: state
        - kind: kind
          location: location
          properties:
            partnerServer: partnerServer
            state: state
      properties:
        value:
          description: The list of server communication links.
          items:
            $ref: '#/components/schemas/ServerCommunicationLink'
          type: array
      type: object
    ServerCommunicationLinkProperties:
      description: The properties of a server communication link.
      example:
        partnerServer: partnerServer
        state: state
      properties:
        partnerServer:
          description: The name of the partner server.
          type: string
          x-ms-mutability:
          - create
          - read
        state:
          description: The state.
          readOnly: true
          type: string
      required:
      - partnerServer
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

