openapi: 3.0.1
info:
  title: DeletedWebApps API Client
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/DeletedWebApps.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-DeletedWebApps
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites:
    get:
      description: Description for Get all deleted apps for a subscription.
      operationId: DeletedWebApps_List
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedWebAppCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedWebApps_List_default_response'
          description: App Service error response.
      summary: Get all deleted apps for a subscription.
      tags:
      - DeletedWebApps
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites:
    get:
      description: Description for Get all deleted apps for a subscription at location
      operationId: DeletedWebApps_ListByLocation
      parameters:
      - in: path
        name: location
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedWebAppCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedWebApps_List_default_response'
          description: App Service error response.
      summary: Get all deleted apps for a subscription at location
      tags:
      - DeletedWebApps
      x-ms-examples:
        List Deleted Web App by Location:
          parameters:
            api-version: 2019-08-01
            location: West US 2
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - name: wussite6
                  properties:
                    deletedSiteId: 9
                    deletedSiteName: wussite6
                    deletedTimestamp: 2019-05-09T22:29:05.1337007
                    geoRegionName: West US 2
                    kind: app
                    resourceGroup: rg1
                    slot: Production
                    subscription: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  type: Microsoft.Web/locations/deletedSites
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites/{deletedSiteId}:
    get:
      description: Description for Get deleted app for a subscription at location.
      operationId: DeletedWebApps_GetDeletedWebAppByLocation
      parameters:
      - in: path
        name: location
        required: true
        schema:
          type: string
      - description: "The numeric ID of the deleted app, e.g. 12345"
        in: path
        name: deletedSiteId
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedWebApps_GetDeletedWebAppByLocation_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedWebApps_List_default_response'
          description: App Service error response.
      summary: Get deleted app for a subscription at location.
      tags:
      - DeletedWebApps
      x-ms-examples:
        Get Deleted Web App by Location:
          parameters:
            api-version: 2019-08-01
            deletedSiteId: "9"
            location: West US 2
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                name: wussite6
                properties:
                  deletedSiteId: 9
                  deletedSiteName: wussite6
                  deletedTimestamp: 2019-05-09T22:29:05.1337007
                  geoRegionName: West US 2
                  kind: app
                  resourceGroup: rg1
                  slot: Production
                  subscription: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                type: Microsoft.Web/locations/deletedSites
              headers: {}
      x-accepts:
      - application/json
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    DeletedWebAppCollection:
      description: Collection of deleted apps.
      example:
        value:
        - properties:
            geoRegionName: geoRegionName
            resourceGroup: resourceGroup
            deletedSiteName: deletedSiteName
            kind: kind
            deletedSiteId: 0
            slot: slot
            subscription: subscription
            deletedTimestamp: deletedTimestamp
        - properties:
            geoRegionName: geoRegionName
            resourceGroup: resourceGroup
            deletedSiteName: deletedSiteName
            kind: kind
            deletedSiteId: 0
            slot: slot
            subscription: subscription
            deletedTimestamp: deletedTimestamp
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/DeletedWebAppCollection_value_inner'
          type: array
      required:
      - value
      type: object
    DeletedWebApps_List_default_response_error_details_inner:
      description: Detailed errors.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
      readOnly: true
      type: object
    DeletedWebApps_List_default_response_error:
      description: Error model.
      example:
        code: code
        innererror: innererror
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          type: string
        details:
          items:
            $ref: '#/components/schemas/DeletedWebApps_List_default_response_error_details_inner'
          type: array
        innererror:
          description: More information to debug error.
          readOnly: true
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          type: string
      readOnly: true
      type: object
    DeletedWebApps_List_default_response:
      description: App Service error response.
      example:
        error:
          code: code
          innererror: innererror
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/DeletedWebApps_List_default_response_error'
      type: object
    DeletedWebApps_GetDeletedWebAppByLocation_200_response_properties:
      description: DeletedSite resource specific properties
      example:
        geoRegionName: geoRegionName
        resourceGroup: resourceGroup
        deletedSiteName: deletedSiteName
        kind: kind
        deletedSiteId: 0
        slot: slot
        subscription: subscription
        deletedTimestamp: deletedTimestamp
      properties:
        deletedSiteId:
          description: Numeric id for the deleted site
          format: int32
          readOnly: true
          type: integer
        deletedSiteName:
          description: Name of the deleted site
          readOnly: true
          type: string
        deletedTimestamp:
          description: Time in UTC when the app was deleted.
          readOnly: true
          type: string
        geoRegionName:
          description: Geo Region of the deleted site
          readOnly: true
          type: string
        kind:
          description: Kind of site that was deleted
          readOnly: true
          type: string
        resourceGroup:
          description: ResourceGroup that contained the deleted site
          readOnly: true
          type: string
        slot:
          description: Slot of the deleted site
          readOnly: true
          type: string
        subscription:
          description: Subscription containing the deleted site
          readOnly: true
          type: string
      type: object
      x-ms-client-flatten: true
    DeletedWebApps_GetDeletedWebAppByLocation_200_response:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A deleted app.
      example:
        properties:
          geoRegionName: geoRegionName
          resourceGroup: resourceGroup
          deletedSiteName: deletedSiteName
          kind: kind
          deletedSiteId: 0
          slot: slot
          subscription: subscription
          deletedTimestamp: deletedTimestamp
      properties:
        properties:
          $ref: '#/components/schemas/DeletedWebApps_GetDeletedWebAppByLocation_200_response_properties'
    DeletedWebAppCollection_value_inner:
      description: A deleted app.
      example:
        properties:
          geoRegionName: geoRegionName
          resourceGroup: resourceGroup
          deletedSiteName: deletedSiteName
          kind: kind
          deletedSiteId: 0
          slot: slot
          subscription: subscription
          deletedTimestamp: deletedTimestamp
      properties:
        properties:
          $ref: '#/components/schemas/DeletedWebApps_GetDeletedWebAppByLocation_200_response_properties'
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

