

# GoogleCloudDialogflowV2beta1ValidationResult

Represents the output of agent validation.

## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**validationErrors** | [**List&lt;GoogleCloudDialogflowV2beta1ValidationError&gt;**](GoogleCloudDialogflowV2beta1ValidationError.md) | Contains all validation errors. |  [optional] |



