

# GoogleCloudDialogflowV2ValidationResult

Represents the output of agent validation.

## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**validationErrors** | [**List&lt;GoogleCloudDialogflowV2ValidationError&gt;**](GoogleCloudDialogflowV2ValidationError.md) | Contains all validation errors. |  [optional] |



