openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on OpenId Connect Provider\
    \ entity associated with your Azure API Management deployment. API Management\
    \ allows you to access APIs secured with token from [OpenID Connect Provider ](http://openid.net/connect/)\
    \ to be accessed from the Developer Console."
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimopenidconnectproviders.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimopenidconnectproviders
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders
  : get:
      description: Lists all OpenID Connect Providers.
      operationId: OpenIdConnectProviders_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field | Supported operators    | Supported functions                         |
          |-------|------------------------|---------------------------------------------|
          | id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProviderCollection'
          description: Lists of all the OpenId Connect Providers.
      tags:
      - OpenIdConnectProviders
      x-ms-odata: '#/definitions/OpenidConnectProviderContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders/{opid}
  : delete:
      description: Deletes specific OpenID Connect Provider of the API Management
        service instance.
      operationId: OpenIdConnectProviders_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the OpenID Connect Provider.
        in: path
        name: opid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the OpenID Connect Provider
          to delete. A value of "*" can be used for If-Match to unconditionally apply
          the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: OpenId Connect Provider was successfully deleted.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProviders_Get_default_response'
          description: The specified OpenIdConnect Provider cannot be deleted because
            it is in use in a policy. You must remove all references to this property
            before it can be deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProviders_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - OpenIdConnectProviders
      x-accepts:
      - application/json
    get:
      description: Gets specific OpenID Connect Provider.
      operationId: OpenIdConnectProviders_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the OpenID Connect Provider.
        in: path
        name: opid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenidConnectProviderContract'
          description: The response body contains the specified OpenId Connect Provider
            entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProviders_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - OpenIdConnectProviders
      x-accepts:
      - application/json
    patch:
      description: Updates the specific OpenID Connect Provider.
      operationId: OpenIdConnectProviders_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the OpenID Connect Provider.
        in: path
        name: opid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the OpenID Connect Provider
          to update. A value of "*" can be used for If-Match to unconditionally apply
          the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenidConnectProviderUpdateContract'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: OpenId Connect Provider was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProviders_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - OpenIdConnectProviders
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates the OpenID Connect Provider.
      operationId: OpenIdConnectProviders_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the OpenID Connect Provider.
        in: path
        name: opid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenidConnectProviderCreateContract'
        description: Create parameters.
        required: true
      responses:
        "201":
          content: {}
          description: OpenIdConnect Provider was successfully created.
        "204":
          content: {}
          description: OpenIdConnect Provider was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProviders_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - OpenIdConnectProviders
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    OpenIdConnectIdParameter:
      description: Identifier of the OpenID Connect Provider.
      in: path
      name: opid
      required: true
      schema:
        maxLength: 256
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    OpenIdConnectProviderCollection:
      description: Paged OpenIdProviders list representation.
      example:
        count: 0
        value:
        - metadataEndpoint: metadataEndpoint
          clientId: clientId
          name: name
          description: description
          clientSecret: clientSecret
          id: id
        - metadataEndpoint: metadataEndpoint
          clientId: clientId
          name: name
          description: description
          clientSecret: clientSecret
          id: id
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/OpenidConnectProviderContract'
          type: array
      type: object
    OpenidConnectProviderContract:
      description: OpenID Connect Providers Contract.
      example:
        metadataEndpoint: metadataEndpoint
        clientId: clientId
        name: name
        description: description
        clientSecret: clientSecret
        id: id
      properties:
        clientId:
          description: Client ID of developer console which is the client application.
          type: string
        clientSecret:
          description: Client Secret of developer console which is the client application.
          type: string
        description:
          description: User-friendly description of OpenID Connect Provider.
          type: string
        id:
          description: OpenID Connect Provider identifier.
          type: string
        metadataEndpoint:
          description: Metadata endpoint URI.
          type: string
        name:
          description: User-friendly OpenID Connect Provider name.
          maxLength: 50
          type: string
      required:
      - clientId
      - metadataEndpoint
      - name
      type: object
    OpenidConnectProviderCreateContract:
      description: Parameters supplied to the Create OpenID Connect Provider operation.
      example:
        metadataEndpoint: metadataEndpoint
        clientId: clientId
        name: name
        description: description
        clientSecret: clientSecret
      properties:
        clientId:
          description: Client ID of developer console which is the client application.
          type: string
        clientSecret:
          description: Client Secret of developer console which is the client application.
          type: string
        description:
          description: User-friendly description of OpenID Connect Provider.
          type: string
        metadataEndpoint:
          description: Metadata endpoint URI.
          type: string
        name:
          description: User-friendly OpenID Connect Provider name.
          maxLength: 50
          type: string
      required:
      - clientId
      - metadataEndpoint
      - name
      type: object
    OpenidConnectProviderUpdateContract:
      description: Parameters supplied to the Update OpenID Connect Provider operation.
      example:
        metadataEndpoint: metadataEndpoint
        clientId: clientId
        name: name
        description: description
        clientSecret: clientSecret
      properties:
        clientId:
          description: Client ID of developer console which is the client application.
          type: string
        clientSecret:
          description: Client Secret of developer console which is the client application.
          type: string
        description:
          description: User-friendly description of OpenID Connect Provider.
          type: string
        metadataEndpoint:
          description: Metadata endpoint URI.
          type: string
        name:
          description: User-friendly OpenID Connect Provider name.
          maxLength: 50
          type: string
      type: object
    OpenIdConnectProviders_Get_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    OpenIdConnectProviders_Get_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/OpenIdConnectProviders_Get_default_response_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

