openapi: 3.0.1
info:
  description: "To manage and control access to your resources, you can define customized\
    \ policies and assign them at a scope."
  title: PolicyClient
  version: 2019-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Authorization/stable/2019-09-01/policySetDefinitions.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources-policySetDefinitions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Authorization/policySetDefinitions:
    get:
      description: This operation retrieves a list of all the built-in policy set
        definitions.
      operationId: PolicySetDefinitions_ListBuiltIn
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinitionListResult'
          description: OK - Returns an array of built in policy set definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Retrieves built-in policy set definitions.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        List built-in policy set definitions:
          parameters:
            api-version: 2019-09-01
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                  name: 1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                  properties:
                    description: Monitor all the available security recommendations
                      in Azure Security Center. This is the default policy for Azure
                      Security Center.
                    displayName: "[Preview]: Enable Monitoring in Azure Security Center"
                    metadata:
                      category: Security Center
                    parameters: {}
                    policyDefinitions:
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/a8bef009-a5c9-4d0f-90d7-6018734e8a16
                      policyDefinitionReferenceId: RefId1
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/af8051bf-258b-44e2-a2bf-165330459f9d
                      policyDefinitionReferenceId: RefId2
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/86b3d65f-7626-441e-b690-81a8b71cff60
                      policyDefinitionReferenceId: RefId3
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/655cb504-bcee-4362-bd4c-402e6aa38759
                      policyDefinitionReferenceId: RefId4
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/b0f33259-77d7-4c9e-aac6-3aabcfae693c
                      policyDefinitionReferenceId: RefId5
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/47a6b606-51aa-4496-8bb7-64b11cf66adc
                      policyDefinitionReferenceId: RefId6
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/44452482-524f-4bf4-b852-0bff7cc4a3ed
                      policyDefinitionReferenceId: RefId7
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/e1e5fd5d-3e4c-4ce1-8661-7d1873ae6b15
                      policyDefinitionReferenceId: RefId8
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/af6cd1bd-1635-48cb-bde7-5b15693900b9
                      policyDefinitionReferenceId: RefId9
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/0961003e-5a0a-4549-abde-af6a37f2724d
                      policyDefinitionReferenceId: RefId10
                    policyType: BuiltIn
                  type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}:
    get:
      description: This operation retrieves the built-in policy set definition with
        the given name.
      operationId: PolicySetDefinitions_GetBuiltIn
      parameters:
      - description: The name of the policy set definition to get.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: OK - Returns information about the built in policy set definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Retrieves a built in policy set definition.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Retrieve a built-in policy set definition:
          parameters:
            api-version: 2019-09-01
            policySetDefinitionName: 1f3afdf9-d0c9-4c3d-847f-89da613e70a8
          responses:
            "200":
              body:
                id: /providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                name: 1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                properties:
                  description: Monitor all the available security recommendations
                    in Azure Security Center. This is the default policy for Azure
                    Security Center.
                  displayName: "[Preview]: Enable Monitoring in Azure Security Center"
                  metadata:
                    category: Security Center
                  parameters: {}
                  policyDefinitions:
                  - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/a8bef009-a5c9-4d0f-90d7-6018734e8a16
                    policyDefinitionReferenceId: RefId1
                  - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/af8051bf-258b-44e2-a2bf-165330459f9d
                    policyDefinitionReferenceId: RefId2
                  - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/86b3d65f-7626-441e-b690-81a8b71cff60
                    policyDefinitionReferenceId: RefId3
                  - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/655cb504-bcee-4362-bd4c-402e6aa38759
                    policyDefinitionReferenceId: RefId4
                  - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/b0f33259-77d7-4c9e-aac6-3aabcfae693c
                    policyDefinitionReferenceId: RefId5
                  - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/47a6b606-51aa-4496-8bb7-64b11cf66adc
                    policyDefinitionReferenceId: RefId6
                  - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/44452482-524f-4bf4-b852-0bff7cc4a3ed
                    policyDefinitionReferenceId: RefId7
                  - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/e1e5fd5d-3e4c-4ce1-8661-7d1873ae6b15
                    policyDefinitionReferenceId: RefId8
                  - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/af6cd1bd-1635-48cb-bde7-5b15693900b9
                    policyDefinitionReferenceId: RefId9
                  - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/0961003e-5a0a-4549-abde-af6a37f2724d
                    policyDefinitionReferenceId: RefId10
                  policyType: BuiltIn
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-accepts:
      - application/json
  /providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policySetDefinitions:
    get:
      description: This operation retrieves a list of all the a policy set definition
        in the given management group.
      operationId: PolicySetDefinitions_ListByManagementGroup
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinitionListResult'
          description: OK - Returns an array of policy set definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Retrieves all policy set definitions in management group.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        List policy set definitions at management group level:
          parameters:
            api-version: 2019-09-01
            managementGroupId: MyManagementGroup
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                  name: 1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                  properties:
                    description: Monitor all the available security recommendations
                      in Azure Security Center. This is the default policy for Azure
                      Security Center.
                    displayName: "[Preview]: Enable Monitoring in Azure Security Center"
                    metadata:
                      category: Security Center
                    parameters: {}
                    policyDefinitions:
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/a8bef009-a5c9-4d0f-90d7-6018734e8a16
                      policyDefinitionReferenceId: RefId1
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/af8051bf-258b-44e2-a2bf-165330459f9d
                      policyDefinitionReferenceId: RefId2
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/86b3d65f-7626-441e-b690-81a8b71cff60
                      policyDefinitionReferenceId: RefId3
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/655cb504-bcee-4362-bd4c-402e6aa38759
                      policyDefinitionReferenceId: RefId4
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/b0f33259-77d7-4c9e-aac6-3aabcfae693c
                      policyDefinitionReferenceId: RefId5
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/47a6b606-51aa-4496-8bb7-64b11cf66adc
                      policyDefinitionReferenceId: RefId6
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/44452482-524f-4bf4-b852-0bff7cc4a3ed
                      policyDefinitionReferenceId: RefId7
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/e1e5fd5d-3e4c-4ce1-8661-7d1873ae6b15
                      policyDefinitionReferenceId: RefId8
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/af6cd1bd-1635-48cb-bde7-5b15693900b9
                      policyDefinitionReferenceId: RefId9
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/0961003e-5a0a-4549-abde-af6a37f2724d
                      policyDefinitionReferenceId: RefId10
                    policyType: BuiltIn
                  type: Microsoft.Authorization/policySetDefinitions
                - id: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                  name: CostManagement
                  properties:
                    description: Policies to enforce low cost storage SKUs
                    displayName: Cost Management
                    metadata:
                      category: Cost Management
                    policyDefinitions:
                    - parameters:
                        listOfAllowedSKUs:
                          value:
                          - Standard_GRS
                          - Standard_LRS
                      policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                      policyDefinitionReferenceId: Limit_Skus
                    - parameters:
                        prefix:
                          value: DeptA
                        suffix:
                          value: -LC
                      policyDefinitionId: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                      policyDefinitionReferenceId: Resource_Naming
                  type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /providers/Microsoft.Management/managementgroups/{managementGroupId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}
  : delete:
      description: This operation deletes the policy set definition in the given management
        group with the given name.
      operationId: PolicySetDefinitions_DeleteAtManagementGroup
      parameters:
      - description: The name of the policy set definition to delete.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content - the policy set definition doesn't exist in the
            subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Deletes a policy set definition.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Delete a policy set definition at management group level:
          parameters:
            api-version: 2019-09-01
            managementGroupId: MyManagementGroup
            policySetDefinitionName: CostManagement
          responses:
            "200":
              headers: {}
            "204":
              headers: {}
      x-accepts:
      - application/json
    get:
      description: This operation retrieves the policy set definition in the given
        management group with the given name.
      operationId: PolicySetDefinitions_GetAtManagementGroup
      parameters:
      - description: The name of the policy set definition to get.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: OK - Returns information about the policy set definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Retrieves a policy set definition.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Retrieve a policy set definition at management group level:
          parameters:
            api-version: 2019-09-01
            managementGroupId: MyManagementGroup
            policySetDefinitionName: CostManagement
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                name: CostManagement
                properties:
                  description: Policies to enforce low cost storage SKUs
                  displayName: Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                    policyDefinitionReferenceId: Limit_Skus
                  - parameters:
                      prefix:
                        value: DeptA
                      suffix:
                        value: -LC
                    policyDefinitionId: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                    policyDefinitionReferenceId: Resource_Naming
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-accepts:
      - application/json
    put:
      description: This operation creates or updates a policy set definition in the
        given management group with the given name.
      operationId: PolicySetDefinitions_CreateOrUpdateAtManagementGroup
      parameters:
      - description: The name of the policy set definition to create.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the management group.
        in: path
        name: managementGroupId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicySetDefinition'
        description: The policy set definition properties.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: OK - Returns information about the policy set definition.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: Created - Returns information about the policy set definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Creates or updates a policy set definition.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Create or update a policy set definition at management group level:
          parameters:
            api-version: 2019-09-01
            managementGroupId: MyManagementGroup
            parameters:
              properties:
                description: Policies to enforce low cost storage SKUs
                displayName: Cost Management
                metadata:
                  category: Cost Management
                policyDefinitions:
                - parameters:
                    listOfAllowedSKUs:
                      value:
                      - Standard_GRS
                      - Standard_LRS
                  policyDefinitionId: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                  policyDefinitionReferenceId: Limit_Skus
                - parameters:
                    prefix:
                      value: DeptA
                    suffix:
                      value: -LC
                  policyDefinitionId: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                  policyDefinitionReferenceId: Resource_Naming
            policySetDefinitionName: CostManagement
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                name: CostManagement
                properties:
                  description: Policies to enforce low cost storage SKUs
                  displayName: Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                    policyDefinitionReferenceId: Limit_Skus
                  - parameters:
                      prefix:
                        value: DeptA
                      suffix:
                        value: -LC
                    policyDefinitionId: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                    policyDefinitionReferenceId: Resource_Naming
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
            "201":
              body:
                id: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                name: CostManagement
                properties:
                  description: Policies to enforce low cost storage SKUs
                  displayName: Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                    policyDefinitionReferenceId: Limit_Skus
                  - parameters:
                      prefix:
                        value: DeptA
                      suffix:
                        value: -LC
                    policyDefinitionId: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                    policyDefinitionReferenceId: Resource_Naming
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
        Create or update a policy set definition with groups at management group level:
          parameters:
            api-version: 2019-09-01
            managementGroupId: MyManagementGroup
            parameters:
              properties:
                description: Policies to enforce low cost storage SKUs
                displayName: Cost Management
                metadata:
                  category: Cost Management
                policyDefinitionGroups:
                - description: Policies designed to control spend within a subscription.
                  displayName: Cost Management Policies
                  name: CostSaving
                - description: Policies that help enforce resource organization standards
                    within a subscription.
                  displayName: Organizational Policies
                  name: Organizational
                policyDefinitions:
                - groupNames:
                  - CostSaving
                  parameters:
                    listOfAllowedSKUs:
                      value:
                      - Standard_GRS
                      - Standard_LRS
                  policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                  policyDefinitionReferenceId: Limit_Skus
                - groupNames:
                  - Organizational
                  parameters:
                    prefix:
                      value: DeptA
                    suffix:
                      value: -LC
                  policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                  policyDefinitionReferenceId: Resource_Naming
            policySetDefinitionName: CostManagement
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                name: CostManagement
                properties:
                  description: Policies to enforce low cost storage SKUs
                  displayName: Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitionGroups:
                  - description: Policies designed to control spend within a subscription.
                    displayName: Cost Management Policies
                    name: CostSaving
                  - description: Policies that help enforce resource organization
                      standards within a subscription.
                    displayName: Organizational Policies
                    name: Organizational
                  policyDefinitions:
                  - groupNames:
                    - CostSaving
                    parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                    policyDefinitionReferenceId: Limit_Skus
                  - groupNames:
                    - Organizational
                    parameters:
                      prefix:
                        value: DeptA
                      suffix:
                        value: -LC
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                    policyDefinitionReferenceId: Resource_Naming
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
            "201":
              body:
                id: /providers/Microsoft.Management/managementgroups/MyManagementGroup/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                name: CostManagement
                properties:
                  description: Policies to enforce low cost storage SKUs
                  displayName: Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitionGroups:
                  - description: Policies designed to control spend within a subscription.
                    displayName: Cost Management Policies
                    name: CostSaving
                  - description: Policies that help enforce resource organization
                      standards within a subscription.
                    displayName: Organizational Policies
                    name: Organizational
                  policyDefinitions:
                  - groupNames:
                    - CostSaving
                    parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                    policyDefinitionReferenceId: Limit_Skus
                  - groupNames:
                    - Organizational
                    parameters:
                      prefix:
                        value: DeptA
                      suffix:
                        value: -LC
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                    policyDefinitionReferenceId: Resource_Naming
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions:
    get:
      description: This operation retrieves a list of all the policy set definitions
        in the given subscription.
      operationId: PolicySetDefinitions_List
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinitionListResult'
          description: OK - Returns an array of policy set definitions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Retrieves the policy set definitions for a subscription.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        List policy set definitions:
          parameters:
            api-version: 2019-09-01
            subscriptionId: ae640e6b-ba3e-4256-9d62-2993eecfa6f2
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                  name: 1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                  properties:
                    description: Monitor all the available security recommendations
                      in Azure Security Center. This is the default policy for Azure
                      Security Center.
                    displayName: "[Preview]: Enable Monitoring in Azure Security Center"
                    metadata:
                      category: Security Center
                    parameters: {}
                    policyDefinitions:
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/a8bef009-a5c9-4d0f-90d7-6018734e8a16
                      policyDefinitionReferenceId: RefId1
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/af8051bf-258b-44e2-a2bf-165330459f9d
                      policyDefinitionReferenceId: RefId2
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/86b3d65f-7626-441e-b690-81a8b71cff60
                      policyDefinitionReferenceId: RefId3
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/655cb504-bcee-4362-bd4c-402e6aa38759
                      policyDefinitionReferenceId: RefId4
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/b0f33259-77d7-4c9e-aac6-3aabcfae693c
                      policyDefinitionReferenceId: RefId5
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/47a6b606-51aa-4496-8bb7-64b11cf66adc
                      policyDefinitionReferenceId: RefId6
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/44452482-524f-4bf4-b852-0bff7cc4a3ed
                      policyDefinitionReferenceId: RefId7
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/e1e5fd5d-3e4c-4ce1-8661-7d1873ae6b15
                      policyDefinitionReferenceId: RefId8
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/af6cd1bd-1635-48cb-bde7-5b15693900b9
                      policyDefinitionReferenceId: RefId9
                    - policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/0961003e-5a0a-4549-abde-af6a37f2724d
                      policyDefinitionReferenceId: RefId10
                    policyType: BuiltIn
                  type: Microsoft.Authorization/policySetDefinitions
                - id: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                  name: CostManagement
                  properties:
                    description: Policies to enforce low cost storage SKUs
                    displayName: Cost Management
                    metadata:
                      category: Cost Management
                    policyDefinitions:
                    - parameters:
                        listOfAllowedSKUs:
                          value:
                          - Standard_GRS
                          - Standard_LRS
                      policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                      policyDefinitionReferenceId: Limit_Skus
                    - parameters:
                        prefix:
                          value: DeptA
                        suffix:
                          value: -LC
                      policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                      policyDefinitionReferenceId: Resource_Naming
                  type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}:
    delete:
      description: This operation deletes the policy set definition in the given subscription
        with the given name.
      operationId: PolicySetDefinitions_Delete
      parameters:
      - description: The name of the policy set definition to delete.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content - the policy set definition doesn't exist in the
            subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Deletes a policy set definition.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Delete a policy set definition:
          parameters:
            api-version: 2019-09-01
            policySetDefinitionName: CostManagement
            subscriptionId: ae640e6b-ba3e-4256-9d62-2993eecfa6f2
          responses:
            "200":
              headers: {}
            "204":
              headers: {}
      x-accepts:
      - application/json
    get:
      description: This operation retrieves the policy set definition in the given
        subscription with the given name.
      operationId: PolicySetDefinitions_Get
      parameters:
      - description: The name of the policy set definition to get.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: OK - Returns information about the policy set definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Retrieves a policy set definition.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Retrieve a policy set definition:
          parameters:
            api-version: 2019-09-01
            policySetDefinitionName: CostManagement
            subscriptionId: ae640e6b-ba3e-4256-9d62-2993eecfa6f2
          responses:
            "200":
              body:
                id: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                name: CostManagement
                properties:
                  description: Policies to enforce low cost storage SKUs
                  displayName: Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitionGroups:
                  - description: Policies designed to control spend within a subscription.
                    displayName: Cost Management Policies
                    name: CostSaving
                  - description: Policies that help enforce resource organization
                      standards within a subscription.
                    displayName: Organizational Policies
                    name: Organizational
                  policyDefinitions:
                  - groupNames:
                    - CostSaving
                    parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                    policyDefinitionReferenceId: Limit_Skus
                  - groupNames:
                    - Organizational
                    parameters:
                      prefix:
                        value: DeptA
                      suffix:
                        value: -LC
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                    policyDefinitionReferenceId: Resource_Naming
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-accepts:
      - application/json
    put:
      description: This operation creates or updates a policy set definition in the
        given subscription with the given name.
      operationId: PolicySetDefinitions_CreateOrUpdate
      parameters:
      - description: The name of the policy set definition to create.
        in: path
        name: policySetDefinitionName
        required: true
        schema:
          type: string
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicySetDefinition'
        description: The policy set definition properties.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: OK - Returns information about the policy set definition.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySetDefinition'
          description: Created - Returns information about the policy set definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      summary: Creates or updates a policy set definition.
      tags:
      - PolicySetDefinitions
      x-ms-examples:
        Create or update a policy set definition:
          parameters:
            api-version: 2019-09-01
            parameters:
              properties:
                description: Policies to enforce low cost storage SKUs
                displayName: Cost Management
                metadata:
                  category: Cost Management
                parameters:
                  namePrefix:
                    defaultValue: myPrefix
                    metadata:
                      displayName: Prefix to enforce on resource names
                    type: String
                policyDefinitions:
                - parameters:
                    listOfAllowedSKUs:
                      value:
                      - Standard_GRS
                      - Standard_LRS
                  policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                  policyDefinitionReferenceId: Limit_Skus
                - parameters:
                    prefix:
                      value: "[parameters('namePrefix')]"
                    suffix:
                      value: -LC
                  policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                  policyDefinitionReferenceId: Resource_Naming
            policySetDefinitionName: CostManagement
            subscriptionId: ae640e6b-ba3e-4256-9d62-2993eecfa6f2
          responses:
            "200":
              body:
                id: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                name: CostManagement
                properties:
                  description: Policies to enforce low cost storage SKUs
                  displayName: Cost Management
                  metadata:
                    category: Cost Management
                  parameters:
                    namePrefix:
                      defaultValue: myPrefix
                      metadata:
                        displayName: Prefix to enforce on resource names
                      type: String
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                    policyDefinitionReferenceId: Limit_Skus
                  - parameters:
                      prefix:
                        value: "[parameters('namePrefix')]"
                      suffix:
                        value: -LC
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                    policyDefinitionReferenceId: Resource_Naming
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
            "201":
              body:
                id: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                name: CostManagement
                properties:
                  description: Policies to enforce low cost storage SKUs
                  displayName: Cost Management
                  metadata:
                    category: Cost Management
                  parameters:
                    namePrefix:
                      defaultValue: myPrefix
                      metadata:
                        displayName: Prefix to enforce on resource names
                      type: String
                  policyDefinitions:
                  - parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                    policyDefinitionReferenceId: Limit_Skus
                  - parameters:
                      prefix:
                        value: "[parameters('namePrefix')]"
                      suffix:
                        value: -LC
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                    policyDefinitionReferenceId: Resource_Naming
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
        Create or update a policy set definition with groups:
          parameters:
            api-version: 2019-09-01
            parameters:
              properties:
                description: Policies to enforce low cost storage SKUs
                displayName: Cost Management
                metadata:
                  category: Cost Management
                policyDefinitionGroups:
                - description: Policies designed to control spend within a subscription.
                  displayName: Cost Management Policies
                  name: CostSaving
                - description: Policies that help enforce resource organization standards
                    within a subscription.
                  displayName: Organizational Policies
                  name: Organizational
                policyDefinitions:
                - groupNames:
                  - CostSaving
                  parameters:
                    listOfAllowedSKUs:
                      value:
                      - Standard_GRS
                      - Standard_LRS
                  policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                  policyDefinitionReferenceId: Limit_Skus
                - groupNames:
                  - Organizational
                  parameters:
                    prefix:
                      value: DeptA
                    suffix:
                      value: -LC
                  policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                  policyDefinitionReferenceId: Resource_Naming
            policySetDefinitionName: CostManagement
            subscriptionId: ae640e6b-ba3e-4256-9d62-2993eecfa6f2
          responses:
            "200":
              body:
                id: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                name: CostManagement
                properties:
                  description: Policies to enforce low cost storage SKUs
                  displayName: Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitionGroups:
                  - description: Policies designed to control spend within a subscription.
                    displayName: Cost Management Policies
                    name: CostSaving
                  - description: Policies that help enforce resource organization
                      standards within a subscription.
                    displayName: Organizational Policies
                    name: Organizational
                  policyDefinitions:
                  - groupNames:
                    - CostSaving
                    parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                    policyDefinitionReferenceId: Limit_Skus
                  - groupNames:
                    - Organizational
                    parameters:
                      prefix:
                        value: DeptA
                      suffix:
                        value: -LC
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                    policyDefinitionReferenceId: Resource_Naming
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
            "201":
              body:
                id: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policySetDefinitions/CostManagement
                name: CostManagement
                properties:
                  description: Policies to enforce low cost storage SKUs
                  displayName: Cost Management
                  metadata:
                    category: Cost Management
                  policyDefinitionGroups:
                  - description: Policies designed to control spend within a subscription.
                    displayName: Cost Management Policies
                    name: CostSaving
                  - description: Policies that help enforce resource organization
                      standards within a subscription.
                    displayName: Organizational Policies
                    name: Organizational
                  policyDefinitions:
                  - groupNames:
                    - CostSaving
                    parameters:
                      listOfAllowedSKUs:
                        value:
                        - Standard_GRS
                        - Standard_LRS
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/7433c107-6db4-4ad1-b57a-a76dce0154a1
                    policyDefinitionReferenceId: Limit_Skus
                  - groupNames:
                    - Organizational
                    parameters:
                      prefix:
                        value: DeptA
                      suffix:
                        value: -LC
                    policyDefinitionId: /subscriptions/ae640e6b-ba3e-4256-9d62-2993eecfa6f2/providers/Microsoft.Authorization/policyDefinitions/ResourceNaming
                    policyDefinitionReferenceId: Resource_Naming
                type: Microsoft.Authorization/policySetDefinitions
              headers: {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ManagementGroupIdParameter:
      description: The ID of the management group.
      in: path
      name: managementGroupId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CloudError:
      description: An error response from a policy operation.
      example:
        error:
          code: code
          additionalInfo:
          - type: type
            info: "{}"
          - type: type
            info: "{}"
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/CloudError_error'
      type: object
      x-ms-external: true
    ErrorResponse:
      type: object
    PolicyDefinitionGroup:
      description: The policy definition group.
      example:
        displayName: displayName
        name: name
        description: description
        category: category
        additionalMetadataId: additionalMetadataId
      properties:
        additionalMetadataId:
          description: A resource ID of a resource that contains additional metadata
            about the group.
          type: string
        category:
          description: The group's category.
          type: string
        description:
          description: The group's description.
          type: string
        displayName:
          description: The group's display name.
          type: string
        name:
          description: The name of the group.
          type: string
      required:
      - name
      type: object
    PolicyDefinitionReference:
      description: The policy definition reference.
      example:
        groupNames:
        - groupNames
        - groupNames
        policyDefinitionId: policyDefinitionId
        policyDefinitionReferenceId: policyDefinitionReferenceId
        parameters:
          key:
            value: "{}"
      properties:
        groupNames:
          description: The name of the groups that this policy definition reference
            belongs to.
          items:
            type: string
          type: array
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/PolicyDefinitionReference_parameters_value'
          description: The parameter values for the policy rule. The keys are the
            parameter names.
          type: object
        policyDefinitionId:
          description: The ID of the policy definition or policy set definition.
          type: string
        policyDefinitionReferenceId:
          description: A unique id (within the policy set definition) for this policy
            definition reference.
          type: string
      required:
      - policyDefinitionId
      type: object
    PolicySetDefinition:
      description: The policy set definition.
      example:
        name: name
        id: id
        type: type
        properties:
          metadata: "{}"
          policyDefinitionGroups:
          - displayName: displayName
            name: name
            description: description
            category: category
            additionalMetadataId: additionalMetadataId
          - displayName: displayName
            name: name
            description: description
            category: category
            additionalMetadataId: additionalMetadataId
          displayName: displayName
          policyType: NotSpecified
          description: description
          policyDefinitions:
          - groupNames:
            - groupNames
            - groupNames
            policyDefinitionId: policyDefinitionId
            policyDefinitionReferenceId: policyDefinitionReferenceId
            parameters:
              key:
                value: "{}"
          - groupNames:
            - groupNames
            - groupNames
            policyDefinitionId: policyDefinitionId
            policyDefinitionReferenceId: policyDefinitionReferenceId
            parameters:
              key:
                value: "{}"
          parameters:
            key:
              allowedValues:
              - "{}"
              - "{}"
              metadata:
                key: "{}"
              defaultValue: "{}"
              type: String
      properties:
        id:
          description: The ID of the policy set definition.
          readOnly: true
          type: string
        name:
          description: The name of the policy set definition.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/PolicySetDefinitionProperties'
        type:
          description: The type of the resource (Microsoft.Authorization/policySetDefinitions).
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    PolicySetDefinitionListResult:
      description: List of policy set definitions.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            metadata: "{}"
            policyDefinitionGroups:
            - displayName: displayName
              name: name
              description: description
              category: category
              additionalMetadataId: additionalMetadataId
            - displayName: displayName
              name: name
              description: description
              category: category
              additionalMetadataId: additionalMetadataId
            displayName: displayName
            policyType: NotSpecified
            description: description
            policyDefinitions:
            - groupNames:
              - groupNames
              - groupNames
              policyDefinitionId: policyDefinitionId
              policyDefinitionReferenceId: policyDefinitionReferenceId
              parameters:
                key:
                  value: "{}"
            - groupNames:
              - groupNames
              - groupNames
              policyDefinitionId: policyDefinitionId
              policyDefinitionReferenceId: policyDefinitionReferenceId
              parameters:
                key:
                  value: "{}"
            parameters:
              key:
                allowedValues:
                - "{}"
                - "{}"
                metadata:
                  key: "{}"
                defaultValue: "{}"
                type: String
        - name: name
          id: id
          type: type
          properties:
            metadata: "{}"
            policyDefinitionGroups:
            - displayName: displayName
              name: name
              description: description
              category: category
              additionalMetadataId: additionalMetadataId
            - displayName: displayName
              name: name
              description: description
              category: category
              additionalMetadataId: additionalMetadataId
            displayName: displayName
            policyType: NotSpecified
            description: description
            policyDefinitions:
            - groupNames:
              - groupNames
              - groupNames
              policyDefinitionId: policyDefinitionId
              policyDefinitionReferenceId: policyDefinitionReferenceId
              parameters:
                key:
                  value: "{}"
            - groupNames:
              - groupNames
              - groupNames
              policyDefinitionId: policyDefinitionId
              policyDefinitionReferenceId: policyDefinitionReferenceId
              parameters:
                key:
                  value: "{}"
            parameters:
              key:
                allowedValues:
                - "{}"
                - "{}"
                metadata:
                  key: "{}"
                defaultValue: "{}"
                type: String
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: An array of policy set definitions.
          items:
            $ref: '#/components/schemas/PolicySetDefinition'
          type: array
      type: object
    PolicySetDefinitionProperties:
      description: The policy set definition properties.
      example:
        metadata: "{}"
        policyDefinitionGroups:
        - displayName: displayName
          name: name
          description: description
          category: category
          additionalMetadataId: additionalMetadataId
        - displayName: displayName
          name: name
          description: description
          category: category
          additionalMetadataId: additionalMetadataId
        displayName: displayName
        policyType: NotSpecified
        description: description
        policyDefinitions:
        - groupNames:
          - groupNames
          - groupNames
          policyDefinitionId: policyDefinitionId
          policyDefinitionReferenceId: policyDefinitionReferenceId
          parameters:
            key:
              value: "{}"
        - groupNames:
          - groupNames
          - groupNames
          policyDefinitionId: policyDefinitionId
          policyDefinitionReferenceId: policyDefinitionReferenceId
          parameters:
            key:
              value: "{}"
        parameters:
          key:
            allowedValues:
            - "{}"
            - "{}"
            metadata:
              key: "{}"
            defaultValue: "{}"
            type: String
      properties:
        description:
          description: The policy set definition description.
          type: string
        displayName:
          description: The display name of the policy set definition.
          type: string
        metadata:
          description: The policy set definition metadata.  Metadata is an open ended
            object and is typically a collection of key value pairs.
          properties: {}
          type: object
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/PolicySetDefinitionProperties_parameters_value'
          description: The parameter definitions for parameters used in the policy.
            The keys are the parameter names.
          type: object
        policyDefinitionGroups:
          description: The metadata describing groups of policy definition references
            within the policy set definition.
          items:
            $ref: '#/components/schemas/PolicyDefinitionGroup'
          type: array
        policyDefinitions:
          description: An array of policy definition references.
          items:
            $ref: '#/components/schemas/PolicyDefinitionReference'
          type: array
        policyType:
          description: "The type of policy definition. Possible values are NotSpecified,\
            \ BuiltIn, Custom, and Static."
          enum:
          - NotSpecified
          - BuiltIn
          - Custom
          - Static
          type: string
          x-ms-enum:
            modelAsString: true
            name: policyType
      required:
      - policyDefinitions
      type: object
    CloudError_error_additionalInfo_inner:
      description: The resource management error additional info.
      example:
        type: type
        info: "{}"
      properties:
        info:
          description: The additional info.
          properties: {}
          readOnly: true
          type: object
        type:
          description: The additional info type.
          readOnly: true
          type: string
      type: object
    CloudError_error:
      description: The resource management error response.
      example:
        code: code
        additionalInfo:
        - type: type
          info: "{}"
        - type: type
          info: "{}"
        details:
        - null
        - null
        message: message
        target: target
      properties:
        additionalInfo:
          description: The error additional info.
          items:
            $ref: '#/components/schemas/CloudError_error_additionalInfo_inner'
          readOnly: true
          type: array
        code:
          description: The error code.
          readOnly: true
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/ErrorResponse'
          readOnly: true
          type: array
        message:
          description: The error message.
          readOnly: true
          type: string
        target:
          description: The error target.
          readOnly: true
          type: string
      type: object
    PolicyDefinitionReference_parameters_value:
      description: The value of a parameter.
      example:
        value: "{}"
      properties:
        value:
          description: The value of the parameter.
          properties: {}
          type: object
      type: object
    PolicySetDefinitionProperties_parameters_value:
      description: The definition of a parameter that can be provided to the policy.
      example:
        allowedValues:
        - "{}"
        - "{}"
        metadata:
          key: "{}"
        defaultValue: "{}"
        type: String
      properties:
        allowedValues:
          description: The allowed values for the parameter.
          items:
            properties: {}
            type: object
          type: array
        defaultValue:
          description: The default value for the parameter if no value is provided.
          properties: {}
          type: object
        metadata:
          additionalProperties:
            properties: {}
            type: object
          description: General metadata for the parameter.
          type: object
        type:
          description: The data type of the parameter.
          enum:
          - String
          - Array
          - Object
          - Boolean
          - Integer
          - Float
          - DateTime
          type: string
          x-ms-enum:
            modelAsString: true
            name: parameterType
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

