openapi: 3.0.1
info:
  description: |-
    Documentation of the EAN-Search.org API, see [https://www.ean-search.org/ean-database-api.html](https://www.ean-search.org/ean-database-api.html).
    Please consult the PDF manual in your account for more details.
  title: EAN-Search.org API
  version: 1.50.0
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://www.ean-search.org/ean-logo.svg
  x-origin:
  - format: swagger
    url: https://www.ean-search.org/eansearch-swagger2.json
    version: "2.0"
  x-providerName: ean-search.org
servers:
- url: https://api.ean-search.org/
paths:
  /barcode-image:
    get:
      operationId: barcode-image
      parameters:
      - description: API operation
        in: query
        name: op
        required: true
        schema:
          enum:
          - barcode-image
          type: string
      - description: EAN code to search for
        in: query
        name: ean
        required: true
        schema:
          format: unsigned64
          type: integer
      - in: query
        name: width
        schema:
          default: 102
          type: integer
      - in: query
        name: height
        schema:
          default: 50
          type: integer
      - description: output format
        in: query
        name: format
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Barcode'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Barcode'
                type: array
          description: OK
        "400":
          content: {}
          description: Invalid operation requested
        "401":
          content: {}
          description: Invalid access token
        "402":
          content: {}
          description: Request limit reached
        "405":
          content: {}
          description: Must use HTTP GET to access the API
        "429":
          content: {}
          description: Too many requests (eg. rate limit exeeded)
      security:
      - ApiKeyAuth: []
      summary: Generate a PNG barcode image
      x-accepts:
      - application/json
      - application/xml
  /barcode-lookup:
    get:
      description: Search by EAN code
      operationId: barcode-lookup
      parameters:
      - description: API operation
        in: query
        name: op
        required: true
        schema:
          enum:
          - barcode-lookup
          type: string
      - description: EAN code to search for
        in: query
        name: ean
        required: true
        schema:
          format: unsigned64
          type: integer
      - description: preferred language for the product name
        in: query
        name: language
        schema:
          default: 1
          type: integer
      - description: output format
        in: query
        name: format
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Product'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Product'
                type: array
          description: OK
        "400":
          content: {}
          description: Invalid operation requested
        "401":
          content: {}
          description: Invalid access token
        "402":
          content: {}
          description: Request limit reached
        "405":
          content: {}
          description: Must use HTTP GET to access the API
        "429":
          content: {}
          description: Too many requests (eg. rate limit exeeded)
      security:
      - ApiKeyAuth: []
      summary: Look up an EAN
      x-accepts:
      - application/json
      - application/xml
  /barcode-prefix-search:
    get:
      operationId: barcode-prefix-search
      parameters:
      - description: API operation
        in: query
        name: op
        required: true
        schema:
          enum:
          - barcode-prefix-search
          type: string
      - description: "barcode prefix to search for, at least 4 digits"
        in: query
        name: prefix
        required: true
        schema:
          type: string
      - description: preferred language for the product name
        in: query
        name: language
        schema:
          default: 1
          type: integer
      - description: result page
        in: query
        name: page
        schema:
          default: 0
          type: integer
      - description: output format
        in: query
        name: format
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Product'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Product'
                type: array
          description: OK
        "400":
          content: {}
          description: Invalid operation requested
        "401":
          content: {}
          description: Invalid access token
        "402":
          content: {}
          description: Request limit reached
        "405":
          content: {}
          description: Must use HTTP GET to access the API
        "429":
          content: {}
          description: Too many requests (eg. rate limit exeeded)
      security:
      - ApiKeyAuth: []
      summary: Query the database for all barcodes with the same beginning
      x-accepts:
      - application/json
      - application/xml
  /category-search:
    get:
      operationId: category-search
      parameters:
      - description: API operation
        in: query
        name: op
        required: true
        schema:
          enum:
          - category-search
          type: string
      - description: category number
        in: query
        name: category
        required: true
        schema:
          type: integer
      - description: name or keyords to search for
        in: query
        name: name
        schema:
          type: string
      - description: preferred language for the product name (default any language)
        in: query
        name: language
        schema:
          default: 99
          type: integer
      - description: result page
        in: query
        name: page
        schema:
          default: 0
          type: integer
      - description: output format
        in: query
        name: format
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Product'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Product'
                type: array
          description: OK
        "400":
          content: {}
          description: Invalid operation requested
        "401":
          content: {}
          description: Invalid access token
        "402":
          content: {}
          description: Request limit reached
        "405":
          content: {}
          description: Must use HTTP GET to access the API
        "429":
          content: {}
          description: Too many requests (eg. rate limit exeeded)
      security:
      - ApiKeyAuth: []
      summary: Search for products form a certain category
      x-accepts:
      - application/json
      - application/xml
  /issuing-country:
    get:
      description: "Search for a issuing country of a barcode. In contrast to barcode-lookup,\
        \ this will always give a result, even if we don't know the product name."
      operationId: issuing-country
      parameters:
      - description: API operation
        in: query
        name: op
        required: true
        schema:
          enum:
          - issuing-country
          type: string
      - description: EAN code to search for
        in: query
        name: ean
        required: true
        schema:
          format: unsigned64
          type: integer
      - description: output format
        in: query
        name: format
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IssuingCountry'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/IssuingCountry'
                type: array
          description: OK
        "400":
          content: {}
          description: Invalid operation requested
        "401":
          content: {}
          description: Invalid access token
        "402":
          content: {}
          description: Request limit reached
        "405":
          content: {}
          description: Must use HTTP GET to access the API
        "429":
          content: {}
          description: Too many requests (eg. rate limit exeeded)
      security:
      - ApiKeyAuth: []
      summary: Search for a issuing country of a barcode
      x-accepts:
      - application/json
      - application/xml
  /product-search:
    get:
      operationId: product-search
      parameters:
      - description: API operation
        in: query
        name: op
        required: true
        schema:
          enum:
          - product-search
          type: string
      - description: name or keyords to search for
        in: query
        name: name
        required: true
        schema:
          type: string
      - description: preferred language for the product name (default any language)
        in: query
        name: language
        schema:
          default: 99
          type: integer
      - description: result page
        in: query
        name: page
        schema:
          default: 0
          type: integer
      - description: output format
        in: query
        name: format
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Product'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Product'
                type: array
          description: OK
        "400":
          content: {}
          description: Invalid operation requested
        "401":
          content: {}
          description: Invalid access token
        "402":
          content: {}
          description: Request limit reached
        "405":
          content: {}
          description: Must use HTTP GET to access the API
        "429":
          content: {}
          description: Too many requests (eg. rate limit exeeded)
      security:
      - ApiKeyAuth: []
      summary: Search by product name
      x-accepts:
      - application/json
      - application/xml
  /verify-checksum:
    get:
      operationId: verify-checksum
      parameters:
      - description: API operation
        in: query
        name: op
        required: true
        schema:
          enum:
          - verify-checksum
          type: string
      - description: EAN code to search for
        in: query
        name: ean
        required: true
        schema:
          format: unsigned64
          type: integer
      - description: output format
        in: query
        name: format
        schema:
          enum:
          - json
          - xml
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VerifyChecksum'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/VerifyChecksum'
                type: array
          description: OK
        "400":
          content: {}
          description: Invalid operation requested
        "401":
          content: {}
          description: Invalid access token
        "402":
          content: {}
          description: Request limit reached
        "405":
          content: {}
          description: Must use HTTP GET to access the API
        "429":
          content: {}
          description: Too many requests (eg. rate limit exeeded)
      security:
      - ApiKeyAuth: []
      summary: Verify the checksum of an EAN code
      x-accepts:
      - application/json
      - application/xml
components:
  schemas:
    Barcode:
      example:
        ean: ean
        barcode: barcode
      properties:
        barcode:
          description: base64 encoded PNG image
          type: string
        ean:
          type: string
      required:
      - barcode
      - ean
      type: object
      xml:
        name: product
    IssuingCountry:
      example:
        ean: ean
        issuingCountry: issuingCountry
      properties:
        ean:
          type: string
        issuingCountry:
          format: ISO 3166 Alpha-2
          type: string
      required:
      - ean
      - issuingCountry
      type: object
      xml:
        name: product
    Product:
      example:
        ean: ean
        issuingCountry: issuingCountry
        name: name
        categoryName: categoryName
        categoryId: categoryId
      properties:
        categoryId:
          type: string
        categoryName:
          type: string
        ean:
          type: string
        issuingCountry:
          format: ISO 3166 Alpha-2
          type: string
        name:
          type: string
      required:
      - ean
      - issuingCountry
      - name
      type: object
      xml:
        name: product
    VerifyChecksum:
      example:
        valid: "0"
        ean: ean
      properties:
        ean:
          type: string
        valid:
          enum:
          - "0"
          - "1"
          type: string
      required:
      - ean
      - valid
      type: object
      xml:
        name: product
  securitySchemes:
    ApiKeyAuth:
      in: query
      name: token
      type: apiKey
x-original-swagger-version: "2.0"

