openapi: 3.0.1
info:
  description: Azure Application Insights client for ProactiveDetection configurations
    of a component.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentProactiveDetection_API.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: applicationinsights-componentProactiveDetection_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ProactiveDetectionConfigs
  : get:
      description: Gets a list of ProactiveDetection configurations of an Application
        Insights component.
      operationId: ProactiveDetectionConfigurations_List
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfigurationListResult'
          description: A list containing 0 or more ProactiveDetection configurations
            of an Application Insights component.
      x-ms-examples:
        ProactiveDetectionConfigurationsList:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
              - CustomEmails:
                - foo@microsoft.com
                - foo2@microsoft.com
                Enabled: true
                Name: slowpageloadtime
                RuleDefinitions:
                  Description: Smart Detection rules notify you of performance anomaly
                    issues.
                  DisplayName: Slow page load time
                  HelpUrl: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics
                  IsEnabledByDefault: true
                  IsHidden: false
                  IsInPreview: false
                  Name: slowpageloadtime
                  SupportsEmailNotifications: true
                SendEmailsToSubscriptionOwners: true
              - CustomEmails: []
                Enabled: true
                Name: slowpageloadtime
                RuleDefinitions:
                  Description: Smart Detection rules notify you of performance anomaly
                    issues.
                  DisplayName: Slow server response time
                  HelpUrl: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics
                  IsEnabledByDefault: true
                  IsHidden: false
                  IsInPreview: false
                  Name: slowserverresponsetime
                  SupportsEmailNotifications: true
                SendEmailsToSubscriptionOwners: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/ProactiveDetectionConfigs/{ConfigurationId}
  : get:
      description: Get the ProactiveDetection configuration for this configuration
        id.
      operationId: ProactiveDetectionConfigurations_Get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ProactiveDetection configuration ID. This is unique within
          a Application Insights component.
        in: path
        name: ConfigurationId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration'
          description: The ProactiveDetection configuration for this configuration
            id.
      x-ms-examples:
        ProactiveDetectionConfigurationGet:
          parameters:
            ConfigurationId: slowpageloadtime
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                CustomEmails:
                - foo@microsoft.com
                - foo2@microsoft.com
                Enabled: true
                Name: slowpageloadtime
                RuleDefinitions:
                  Description: Smart Detection rules notify you of performance anomaly
                    issues.
                  DisplayName: Slow page load time
                  HelpUrl: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics
                  IsEnabledByDefault: true
                  IsHidden: false
                  IsInPreview: false
                  Name: slowpageloadtime
                  SupportsEmailNotifications: true
                SendEmailsToSubscriptionOwners: true
      x-accepts:
      - application/json
    put:
      description: Update the ProactiveDetection configuration for this configuration
        id.
      operationId: ProactiveDetectionConfigurations_Update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The ProactiveDetection configuration ID. This is unique within
          a Application Insights component.
        in: path
        name: ConfigurationId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration'
        description: Properties that need to be specified to update the ProactiveDetection
          configuration.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration'
          description: The ProactiveDetection configuration that was successfully
            updated.
      x-ms-examples:
        ProactiveDetectionConfigurationUpdate:
          parameters:
            ConfigurationId: slowpageloadtime
            ProactiveDetectionProperties:
              CustomEmails:
              - foo@microsoft.com
              - foo2@microsoft.com
              Enabled: true
              Name: slowpageloadtime
              RuleDefinitions:
                Description: Smart Detection rules notify you of performance anomaly
                  issues.
                DisplayName: Slow page load time
                HelpUrl: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics
                IsEnabledByDefault: true
                IsHidden: false
                IsInPreview: false
                Name: slowpageloadtime
                SupportsEmailNotifications: true
              SendEmailsToSubscriptionOwners: true
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                CustomEmails:
                - foo@microsoft.com
                - foo2@microsoft.com
                Enabled: true
                Name: slowpageloadtime
                RuleDefinitions:
                  Description: Smart Detection rules notify you of performance anomaly
                    issues.
                  DisplayName: Slow page load time
                  HelpUrl: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-proactive-performance-diagnostics
                  IsEnabledByDefault: true
                  IsHidden: false
                  IsInPreview: false
                  Name: slowpageloadtime
                  SupportsEmailNotifications: true
                SendEmailsToSubscriptionOwners: true
      x-codegen-request-body-name: ProactiveDetectionProperties
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ConfigurationId:
      description: The ProactiveDetection configuration ID. This is unique within
        a Application Insights component.
      in: path
      name: ConfigurationId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ApplicationInsightsComponentProactiveDetectionConfiguration:
      description: Properties that define a ProactiveDetection configuration.
      example:
        CustomEmails:
        - CustomEmails
        - CustomEmails
        SendEmailsToSubscriptionOwners: true
        Enabled: true
        LastUpdatedTime: LastUpdatedTime
        RuleDefinitions:
          IsHidden: true
          IsInPreview: true
          SupportsEmailNotifications: true
          Description: Description
          DisplayName: DisplayName
          IsEnabledByDefault: true
          HelpUrl: HelpUrl
          Name: Name
        Name: Name
      properties:
        CustomEmails:
          description: Custom email addresses for this rule notifications
          items:
            type: string
          type: array
        Enabled:
          description: A flag that indicates whether this rule is enabled by the user
          type: boolean
        LastUpdatedTime:
          description: The last time this rule was updated
          type: string
        Name:
          description: The rule name
          type: string
        RuleDefinitions:
          $ref: '#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration_RuleDefinitions'
        SendEmailsToSubscriptionOwners:
          description: A flag that indicated whether notifications on this rule should
            be sent to subscription owners
          type: boolean
      type: object
      x-ms-azure-resource: true
    ApplicationInsightsComponentProactiveDetectionConfigurationListResult:
      description: A list of ProactiveDetection configurations.
      items:
        $ref: '#/components/schemas/ApplicationInsightsComponentProactiveDetectionConfiguration'
      type: array
    ApplicationInsightsComponentProactiveDetectionConfiguration_RuleDefinitions:
      description: Static definitions of the ProactiveDetection configuration rule
        (same values for all components).
      example:
        IsHidden: true
        IsInPreview: true
        SupportsEmailNotifications: true
        Description: Description
        DisplayName: DisplayName
        IsEnabledByDefault: true
        HelpUrl: HelpUrl
        Name: Name
      properties:
        Description:
          description: The rule description
          type: string
        DisplayName:
          description: The rule name as it is displayed in UI
          type: string
        HelpUrl:
          description: URL which displays additional info about the proactive detection
            rule
          type: string
        IsEnabledByDefault:
          description: A flag indicating whether the rule is enabled by default
          type: boolean
        IsHidden:
          description: A flag indicating whether the rule is hidden (from the UI)
          type: boolean
        IsInPreview:
          description: A flag indicating whether the rule is in preview
          type: boolean
        Name:
          description: The rule name
          type: string
        SupportsEmailNotifications:
          description: A flag indicating whether email notifications are supported
            for detections for this rule
          type: boolean
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

