openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2018-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/stable/2018-06-01/pricings.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: security-pricings
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings:
    get:
      description: Lists Security Center pricing configurations in the subscription.
      operationId: pricings_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2018-06-01
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/VirtualMachines
                  name: VirtualMachines
                  properties:
                    pricingTier: Standard
                  type: Microsoft.Security/pricings
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/SqlServers
                  name: SqlServers
                  properties:
                    pricingTier: Standard
                  type: Microsoft.Security/pricings
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/AppServices
                  name: AppServices
                  properties:
                    pricingTier: Free
                  type: Microsoft.Security/pricings
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/StorageAccounts
                  name: StorageAccounts
                  properties:
                    pricingTier: Standard
                  type: Microsoft.Security/pricings
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}:
    get:
      description: Gets a provided Security Center pricing configuration in the subscription.
      operationId: pricings_get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: name of the pricing configuration
        in: path
        name: pricingName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2018-06-01
            pricingName: VirtualMachines
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/VirtualMachines
                name: VirtualMachines
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
    put:
      description: Updates a provided Security Center pricing configuration in the
        subscription.
      operationId: pricings_update
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: name of the pricing configuration
        in: path
        name: pricing_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing'
        description: Pricing object
        required: true
        x-ms-parameter-location: method
        x-body-name: pricing
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Update pricing on subscription:
          parameters:
            api-version: 2018-06-01
            pricing:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/VirtualMachines
              name: VirtualMachines
              properties:
                pricingTier: Standard
              type: Microsoft.Security/pricings
            pricingName: VirtualMachines
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/VirtualMachines
                name: VirtualMachines
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
      x-codegen-request-body-name: pricing
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
components:
  parameters:
    PricingName:
      description: name of the pricing configuration
      in: path
      name: pricingName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    Pricing:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Pricing'
      description: Pricing object
      required: true
      x-ms-parameter-location: method
      x-body-name: pricing
  schemas:
    Pricing:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: "Azure Security Center is provided in two pricing tiers: free and\
        \ standard, with the standard tier available with a trial period. The standard\
        \ tier offers advanced security capabilities, while the free tier offers basic\
        \ security features."
      example:
        properties:
          freeTrialRemainingTime: freeTrialRemainingTime
          pricingTier: Free
      properties:
        properties:
          $ref: '#/components/schemas/PricingProperties'
      title: Pricing
    PricingList:
      description: List of pricing configurations response.
      example:
        value:
        - properties:
            freeTrialRemainingTime: freeTrialRemainingTime
            pricingTier: Free
        - properties:
            freeTrialRemainingTime: freeTrialRemainingTime
            pricingTier: Free
      properties:
        value:
          description: List of pricing configurations
          items:
            $ref: '#/components/schemas/Pricing'
          title: value
          type: array
      required:
      - value
      title: PricingList
      type: object
    PricingProperties:
      description: Pricing properties for the relevant scope
      example:
        freeTrialRemainingTime: freeTrialRemainingTime
        pricingTier: Free
      properties:
        freeTrialRemainingTime:
          description: The duration left for the subscriptions free trial period -
            in ISO 8601 format (e.g. P3Y6M4DT12H30M5S).
          format: duration
          readOnly: true
          title: freeTrialRemainingTime
          type: string
        pricingTier:
          description: "The pricing tier value. Azure Security Center is provided\
            \ in two pricing tiers: free and standard, with the standard tier available\
            \ with a trial period. The standard tier offers advanced security capabilities,\
            \ while the free tier offers basic security features."
          enum:
          - Free
          - Standard
          title: pricingTier
          type: string
          x-ms-enum:
            modelAsString: true
            name: pricingTier
            values:
            - description: Get free Azure security center experience with basic security
                features
              value: Free
            - description: Get the standard Azure security center experience with
                advanced security features
              value: Standard
      required:
      - pricingTier
      title: PricingProperties
      type: object
    Pricings_List_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: Pricings_List_default_response_error
      type: object
      x-ms-external: true
    Pricings_List_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Pricings_List_default_response_error'
      title: Pricings_List_default_response
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
