openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Google Drive API allows clients to access resources from Google
    Drive.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Drive API
  version: v3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://www.googleapis.com/discovery/v1/apis/drive/v3/rest
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: drive
externalDocs:
  url: https://developers.google.com/drive/
servers:
- url: https://www.googleapis.com/drive/v3
tags:
- name: about
- name: apps
- name: changes
- name: channels
- name: comments
- name: drives
- name: files
- name: permissions
- name: replies
- name: revisions
- name: teamdrives
paths:
  /about:
    get:
      description: "Gets information about the user, the user's Drive, and system\
        \ capabilities."
      operationId: drive_about_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/About'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - about
      x-openapi-router-controller: openapi_server.controllers.about_controller
  /apps:
    get:
      description: Lists a user's installed apps.
      operationId: drive_apps_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "A comma-separated list of file extensions to limit returned\
          \ results. All results within the given app query scope which can open any\
          \ of the given file extensions are included in the response. If `appFilterMimeTypes`\
          \ are provided as well, the result is a union of the two resulting app lists."
        explode: true
        in: query
        name: appFilterExtensions
        required: false
        schema:
          type: string
        style: form
      - description: "A comma-separated list of file extensions to limit returned\
          \ results. All results within the given app query scope which can open any\
          \ of the given MIME types will be included in the response. If `appFilterExtensions`\
          \ are provided as well, the result is a union of the two resulting app lists."
        explode: true
        in: query
        name: appFilterMimeTypes
        required: false
        schema:
          type: string
        style: form
      - description: "A language or locale code, as defined by BCP 47, with some extensions\
          \ from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
        explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive.apps.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.apps.readonly
      tags:
      - apps
      x-openapi-router-controller: openapi_server.controllers.apps_controller
  /apps/{appId}:
    get:
      description: Gets a specific app.
      operationId: drive_apps_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.apps.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.apps.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - apps
      x-openapi-router-controller: openapi_server.controllers.apps_controller
  /changes:
    get:
      description: Lists the changes for a user or shared drive.
      operationId: drive_changes_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The token for continuing a previous list request on the next
          page. This should be set to the value of 'nextPageToken' from the previous
          response or to the response from the getStartPageToken method.
        explode: true
        in: query
        name: pageToken
        required: true
        schema:
          type: string
        style: form
      - description: The shared drive from which changes will be returned. If specified
          the change IDs will be reflective of the shared drive; use the combined
          drive ID and change ID as an identifier.
        explode: true
        in: query
        name: driveId
        required: false
        schema:
          type: string
        style: form
      - description: "Whether changes should include the file resource if the file\
          \ is still accessible by the user at the time of the request, even when\
          \ a file was removed from the list of changes and there will be no further\
          \ change entries for this file."
        explode: true
        in: query
        name: includeCorpusRemovals
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether both My Drive and shared drive items should be included
          in results.
        explode: true
        in: query
        name: includeItemsFromAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: A comma-separated list of IDs of labels to include in the `labelInfo`
          part of the response.
        explode: true
        in: query
        name: includeLabels
        required: false
        schema:
          type: string
        style: form
      - description: Specifies which additional view's permissions to include in the
          response. Only 'published' is supported.
        explode: true
        in: query
        name: includePermissionsForView
        required: false
        schema:
          type: string
        style: form
      - description: "Whether to include changes indicating that items have been removed\
          \ from the list of changes, for example by deletion or loss of access."
        explode: true
        in: query
        name: includeRemoved
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `includeItemsFromAllDrives` instead."
        explode: true
        in: query
        name: includeTeamDriveItems
        required: false
        schema:
          type: boolean
        style: form
      - description: The maximum number of changes to return per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Whether to restrict the results to changes inside the My Drive
          hierarchy. This omits changes to files such as those in the Application
          Data folder or shared files which have not been added to My Drive.
        explode: true
        in: query
        name: restrictToMyDrive
        required: false
        schema:
          type: boolean
        style: form
      - description: A comma-separated list of spaces to query within the corpora.
          Supported values are 'drive' and 'appDataFolder'.
        explode: true
        in: query
        name: spaces
        required: false
        schema:
          type: string
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `driveId` instead."
        explode: true
        in: query
        name: teamDriveId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - changes
      x-openapi-router-controller: openapi_server.controllers.changes_controller
  /changes/startPageToken:
    get:
      description: Gets the starting pageToken for listing future changes.
      operationId: drive_changes_get_start_page_token
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive for which the starting pageToken for
          listing future changes from that shared drive will be returned.
        explode: true
        in: query
        name: driveId
        required: false
        schema:
          type: string
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `driveId` instead."
        explode: true
        in: query
        name: teamDriveId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartPageToken'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - changes
      x-openapi-router-controller: openapi_server.controllers.changes_controller
  /changes/watch:
    post:
      description: Subscribes to changes for a user.
      operationId: drive_changes_watch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The token for continuing a previous list request on the next
          page. This should be set to the value of 'nextPageToken' from the previous
          response or to the response from the getStartPageToken method.
        explode: true
        in: query
        name: pageToken
        required: true
        schema:
          type: string
        style: form
      - description: The shared drive from which changes will be returned. If specified
          the change IDs will be reflective of the shared drive; use the combined
          drive ID and change ID as an identifier.
        explode: true
        in: query
        name: driveId
        required: false
        schema:
          type: string
        style: form
      - description: "Whether changes should include the file resource if the file\
          \ is still accessible by the user at the time of the request, even when\
          \ a file was removed from the list of changes and there will be no further\
          \ change entries for this file."
        explode: true
        in: query
        name: includeCorpusRemovals
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether both My Drive and shared drive items should be included
          in results.
        explode: true
        in: query
        name: includeItemsFromAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: A comma-separated list of IDs of labels to include in the `labelInfo`
          part of the response.
        explode: true
        in: query
        name: includeLabels
        required: false
        schema:
          type: string
        style: form
      - description: Specifies which additional view's permissions to include in the
          response. Only 'published' is supported.
        explode: true
        in: query
        name: includePermissionsForView
        required: false
        schema:
          type: string
        style: form
      - description: "Whether to include changes indicating that items have been removed\
          \ from the list of changes, for example by deletion or loss of access."
        explode: true
        in: query
        name: includeRemoved
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `includeItemsFromAllDrives` instead."
        explode: true
        in: query
        name: includeTeamDriveItems
        required: false
        schema:
          type: boolean
        style: form
      - description: The maximum number of changes to return per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Whether to restrict the results to changes inside the My Drive
          hierarchy. This omits changes to files such as those in the Application
          Data folder or shared files which have not been added to My Drive.
        explode: true
        in: query
        name: restrictToMyDrive
        required: false
        schema:
          type: boolean
        style: form
      - description: A comma-separated list of spaces to query within the corpora.
          Supported values are 'drive' and 'appDataFolder'.
        explode: true
        in: query
        name: spaces
        required: false
        schema:
          type: string
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `driveId` instead."
        explode: true
        in: query
        name: teamDriveId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - changes
      x-openapi-router-controller: openapi_server.controllers.changes_controller
      x-codegen-request-body-name: body
  /channels/stop:
    post:
      description: Stops watching resources through this channel.
      operationId: drive_channels_stop
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        x-body-name: body
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - channels
      x-openapi-router-controller: openapi_server.controllers.channels_controller
      x-codegen-request-body-name: body
  /drives:
    get:
      description: " Lists the user's shared drives. This method accepts the `q` parameter,\
        \ which is a search query combining one or more search terms. For more information,\
        \ see the [Search for shared drives](/drive/api/guides/search-shareddrives)\
        \ guide."
      operationId: drive_drives_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of shared drives to return per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Page token for shared drives.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Query string for searching shared drives.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: "Issue the request as a domain administrator; if set to true,\
          \ then all shared drives of the domain in which the requester is an administrator\
          \ are returned."
        explode: true
        in: query
        name: useDomainAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
    post:
      description: Creates a shared drive.
      operationId: drive_drives_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. An ID, such as a random UUID, which uniquely identifies\
          \ this user's request for idempotent creation of a shared drive. A repeated\
          \ request by the same user and with the same request ID will avoid creating\
          \ duplicates by attempting to create the same shared drive. If the shared\
          \ drive already exists a 409 error will be returned."
        explode: true
        in: query
        name: requestId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Drive'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
      x-codegen-request-body-name: body
  /drives/{driveId}:
    delete:
      description: Permanently deletes a shared drive for which the user is an `organizer`.
        The shared drive cannot contain any untrashed items.
      operationId: drive_drives_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive.
        explode: false
        in: path
        name: driveId
        required: true
        schema:
          type: string
        style: simple
      - description: Whether any items inside the shared drive should also be deleted.
          This option is only supported when `useDomainAdminAccess` is also set to
          `true`.
        explode: true
        in: query
        name: allowItemDeletion
        required: false
        schema:
          type: boolean
        style: form
      - description: "Issue the request as a domain administrator; if set to true,\
          \ then the requester will be granted access if they are an administrator\
          \ of the domain to which the shared drive belongs."
        explode: true
        in: query
        name: useDomainAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
    get:
      description: Gets a shared drive's metadata by ID.
      operationId: drive_drives_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive.
        explode: false
        in: path
        name: driveId
        required: true
        schema:
          type: string
        style: simple
      - description: "Issue the request as a domain administrator; if set to true,\
          \ then the requester will be granted access if they are an administrator\
          \ of the domain to which the shared drive belongs."
        explode: true
        in: query
        name: useDomainAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
    patch:
      description: Updates the metadate for a shared drive.
      operationId: drive_drives_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive.
        explode: false
        in: path
        name: driveId
        required: true
        schema:
          type: string
        style: simple
      - description: "Issue the request as a domain administrator; if set to true,\
          \ then the requester will be granted access if they are an administrator\
          \ of the domain to which the shared drive belongs."
        explode: true
        in: query
        name: useDomainAdminAccess
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Drive'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
      x-codegen-request-body-name: body
  /drives/{driveId}/hide:
    post:
      description: Hides a shared drive from the default view.
      operationId: drive_drives_hide
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive.
        explode: false
        in: path
        name: driveId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
  /drives/{driveId}/unhide:
    post:
      description: Restores a shared drive to the default view.
      operationId: drive_drives_unhide
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the shared drive.
        explode: false
        in: path
        name: driveId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      tags:
      - drives
      x-openapi-router-controller: openapi_server.controllers.drives_controller
  /files:
    get:
      description: " Lists the user's files. This method accepts the `q` parameter,\
        \ which is a search query combining one or more search terms. For more information,\
        \ see the [Search for files & folders](/drive/api/guides/search-files) guide.\
        \ *Note:* This method returns *all* files by default, including trashed files.\
        \ If you don't want trashed files to appear in the list, use the `trashed=false`\
        \ query parameter to remove trashed files from the results."
      operationId: drive_files_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Bodies of items (files/documents) to which the query applies.\
          \ Supported bodies are 'user', 'domain', 'drive', and 'allDrives'. Prefer\
          \ 'user' or 'drive' to 'allDrives' for efficiency. By default, corpora is\
          \ set to 'user'. However, this can change depending on the filter set through\
          \ the 'q' parameter."
        explode: true
        in: query
        name: corpora
        required: false
        schema:
          type: string
        style: form
      - description: "Deprecated: The source of files to list. Use 'corpora' instead."
        explode: true
        in: query
        name: corpus
        required: false
        schema:
          enum:
          - domain
          - user
          type: string
        style: form
      - description: ID of the shared drive to search.
        explode: true
        in: query
        name: driveId
        required: false
        schema:
          type: string
        style: form
      - description: Whether both My Drive and shared drive items should be included
          in results.
        explode: true
        in: query
        name: includeItemsFromAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: A comma-separated list of IDs of labels to include in the `labelInfo`
          part of the response.
        explode: true
        in: query
        name: includeLabels
        required: false
        schema:
          type: string
        style: form
      - description: Specifies which additional view's permissions to include in the
          response. Only 'published' is supported.
        explode: true
        in: query
        name: includePermissionsForView
        required: false
        schema:
          type: string
        style: form
      - description: "Deprecated: Use `includeItemsFromAllDrives` instead."
        explode: true
        in: query
        name: includeTeamDriveItems
        required: false
        schema:
          type: boolean
        style: form
      - description: "A comma-separated list of sort keys. Valid keys are 'createdTime',\
          \ 'folder', 'modifiedByMeTime', 'modifiedTime', 'name', 'name_natural',\
          \ 'quotaBytesUsed', 'recency', 'sharedWithMeTime', 'starred', and 'viewedByMeTime'.\
          \ Each key sorts ascending by default, but can be reversed with the 'desc'\
          \ modifier. Example usage: ?orderBy=folder,modifiedTime desc,name."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of files to return per page. Partial or empty
          result pages are possible even before the end of the files list has been
          reached.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The token for continuing a previous list request on the next
          page. This should be set to the value of 'nextPageToken' from the previous
          response.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: A query for filtering the file results. See the "Search for files
          & folders" guide for supported syntax.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: A comma-separated list of spaces to query within the corpora.
          Supported values are 'drive' and 'appDataFolder'.
        explode: true
        in: query
        name: spaces
        required: false
        schema:
          type: string
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `driveId` instead."
        explode: true
        in: query
        name: teamDriveId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.metadata.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.metadata.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.photos.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.photos.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/drive.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/drive.readonly
      tags:
      - files
      x-openapi-router-controller: openapi_server.controllers.files_controller
    post:
      description: " Creates a new file. This method supports an */upload* URI and\
        \ accepts uploaded media with the following characteristics: - *Maximum file\
        \ size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid\
        \ MIME type, rather than the literal `*/*` value. The literal `*/*` is only\
        \ used to indicate that any valid MIME type can be uploaded. For more information\
        \ on uploading files, see [Upload file data](/drive/api/guides/manage-uploads).\
        \ Apps creating shortcuts with `files.create` must specify the MIME type `application/vnd.google-apps.shortcut`.\
        \ Apps should specify a file extension in the `name` property when inserting\
        \ files with the API. For example, an operation to insert a JPEG file should\
        \ specify something like `\"name\": \"cat.jpg\"` in the metadata. Subsequent\
        \ `GET` requests include the read-only `fileExtension` property populated\
        \ with the extension originally specified in the `title` property. When a\
        \ Google Drive user requests to download a file, or when the file is downloaded\
        \ through the sync client, Drive builds a full filename (with extension) based\
        \ on the title. In cases where the extension is missing, Drive attempts to\
        \ determine the extension based on the file's MIME type."
      operationId: drive_files_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Creating files in multiple folders is no longer supported.
        explode: true
        in: query
        name: enforceSingleParent
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to ignore the domain's default visibility settings for
          the created file. Domain administrators can choose to make all uploaded
          files visible to the domain by default; this parameter bypasses that behavior
          for the request. Permissions are still inherited from parent folders.
        explode: true
        in: query
        name: ignoreDefaultVisibility
        required: false
        schema:
          type: boolean
        style: form
      - description: A comma-separated list of IDs of labels to include in the `labelInfo`
          part of the response.
        explode: true
        in: query
        name: includeLabels
        required: false
        schema:
          type: string
        style: form
      - description: Specifies which additional view's permissions to include in the
          response. Only 'published' is supported.
        explode: true
        in: query
        name: includePermissionsForView
        required: false
        schema:
          type: string
        style: form
      - description: "Whether to set the 'keepForever' field in the new head revision.\
          \ This is only applicable to files with binary content in Google Drive.\
          \ Only 200 revisions for the file can be kept forever. If the limit is reached,\
          \ try deleting pinned revisions."
        explode: true
        in: query
        name: keepRevisionForever
        required: false
        schema:
          type: boolean
        style: form
      - description: A language hint for OCR processing during image import (ISO 639-1
          code).
        explode: true
        in: query
        name: ocrLanguage
        required: false
        schema:
          type: string
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to use the uploaded content as indexable text.
        explode: true
        in: query
        name: useContentAsIndexableText
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/File'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      tags:
      - files
      x-openapi-router-controller: openapi_server.controllers.files_controller
      x-codegen-request-body-name: body
  /files/generateIds:
    get:
      description: Generates a set of file IDs which can be provided in create or
        copy requests.
      operationId: drive_files_generate_ids
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The number of IDs to return.
        explode: true
        in: query
        name: count
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "The space in which the IDs can be used to create new files.\
          \ Supported values are 'drive' and 'appDataFolder'. (Default: 'drive')"
        explode: true
        in: query
        name: space
        required: false
        schema:
          type: string
        style: form
      - description: "The type of items which the IDs can be used for. Supported values\
          \ are 'files' and 'shortcuts'. Note that 'shortcuts' are only supported\
          \ in the `drive` 'space'. (Default: 'files')"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedIds'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      tags:
      - files
      x-openapi-router-controller: openapi_server.controllers.files_controller
  /files/trash:
    delete:
      description: Permanently deletes all of the user's trashed files.
      operationId: drive_files_empty_trash
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "If set, empties the trash of the provided shared drive."
        explode: true
        in: query
        name: driveId
        required: false
        schema:
          type: string
        style: form
      - description: "Deprecated: If an item is not in a shared drive and its last\
          \ parent is deleted but the item itself is not, the item will be placed\
          \ under its owner's root."
        explode: true
        in: query
        name: enforceSingleParent
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      tags:
      - files
      x-openapi-router-controller: openapi_server.controllers.files_controller
  /files/{fileId}:
    delete:
      description: "Permanently deletes a file owned by the user without moving it\
        \ to the trash. If the file belongs to a shared drive, the user must be an\
        \ `organizer` on the parent folder. If the target is a folder, all descendants\
        \ owned by the user are also deleted."
      operationId: drive_files_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the file.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          type: string
        style: simple
      - description: "Deprecated: If an item is not in a shared drive and its last\
          \ parent is deleted but the item itself is not, the item will be placed\
          \ under its owner's root."
        explode: true
        in: query
        name: enforceSingleParent
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether the requesting application supports both My Drives and
          shared drives.
        explode: true
        in: query
        name: supportsAllDrives
        required: false
        schema:
          type: boolean
        style: form
      - description: "Deprecated: Use `supportsAllDrives` instead."
        explode: true
        in: query
        name: supportsTeamDrives
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/drive
        Oauth2c:
        - https://www.googleapis.com/auth/drive
      - Oauth2:
        - https://www.googleapis.com/auth/drive.appdata
        Oauth2c:
        - https://www.googleapis.com/auth/drive.appdata
      - Oauth2:
        - https://www.googleapis.com/auth/drive.file
        Oauth2c:
        - https://www.googleapis.com/auth/drive.file
      tags:
      - files
      x-openapi-router-controller: openapi_server.controllers.files_controller
    get:
      description: " Gets a file's metadata or content by ID. If you provide the URL\
        \ parameter `alt=media`, then the response includes the file contents in the\
        \ response body. Downloading content with `alt=media` only works if the file\
        \ is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](/drive/api/reference/rest/v3/files/export)\
        \ instead. For more information, see [Download & export files](/drive/api/guides/manage-downloads)."
      operationId: drive_files_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
[...]
