openapi: 3.0.1
info:
  description: All resource groups and resources exist within subscriptions. These
    operation enable you get information about your subscriptions and tenants. A tenant
    is a dedicated instance of Azure Active Directory (Azure AD) for your organization.
  title: SubscriptionClient
  version: 2016-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/subscription/resource-manager/Microsoft.Subscription/stable/2016-06-01/subscriptions.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: subscription-subscriptions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions:
    get:
      description: Gets all subscriptions for a tenant.
      operationId: Subscriptions_List
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResult'
          description: OK - Returns an array of subscriptions.
      tags:
      - Subscriptions
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}:
    get:
      description: Gets details about a specified subscription.
      operationId: Subscriptions_Get
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: OK - Returns information about the subscription.
      tags:
      - Subscriptions
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/locations:
    get:
      description: "This operation provides all the locations that are available for\
        \ resource providers; however, each resource provider may support a subset\
        \ of this list."
      operationId: Subscriptions_ListLocations
      parameters:
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListResult'
          description: OK - Returns an array of locations.
      summary: Gets all available geo-locations.
      tags:
      - Subscriptions
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /tenants:
    get:
      description: Gets the tenants for your account.
      operationId: Tenants_List
      parameters:
      - description: The API version to use for the operation.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantListResult'
          description: OK - Returns an array of tenants.
      tags:
      - Tenants
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the operation.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    SubscriptionIdParameter:
      description: The ID of the target subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Location:
      description: Location information.
      example:
        displayName: displayName
        latitude: latitude
        name: name
        id: id
        subscriptionId: subscriptionId
        longitude: longitude
      properties:
        displayName:
          description: The display name of the location.
          readOnly: true
          type: string
        id:
          description: "The fully qualified ID of the location. For example, /subscriptions/00000000-0000-0000-0000-000000000000/locations/westus."
          readOnly: true
          type: string
        latitude:
          description: The latitude of the location.
          readOnly: true
          type: string
        longitude:
          description: The longitude of the location.
          readOnly: true
          type: string
        name:
          description: The location name.
          readOnly: true
          type: string
        subscriptionId:
          description: The subscription ID.
          readOnly: true
          type: string
      type: object
    LocationListResult:
      description: Location list operation response.
      example:
        value:
        - displayName: displayName
          latitude: latitude
          name: name
          id: id
          subscriptionId: subscriptionId
          longitude: longitude
        - displayName: displayName
          latitude: latitude
          name: name
          id: id
          subscriptionId: subscriptionId
          longitude: longitude
      properties:
        value:
          description: An array of locations.
          items:
            $ref: '#/components/schemas/Location'
          type: array
      type: object
    Subscription:
      description: Subscription information.
      example:
        displayName: displayName
        id: id
        state: Enabled
        subscriptionId: subscriptionId
        subscriptionPolicies:
          spendingLimit: "On"
          locationPlacementId: locationPlacementId
          quotaId: quotaId
        authorizationSource: authorizationSource
      properties:
        authorizationSource:
          description: "The authorization source of the request. Valid values are\
            \ one or more combinations of Legacy, RoleBased, Bypassed, Direct and\
            \ Management. For example, 'Legacy, RoleBased'."
          type: string
        displayName:
          description: The subscription display name.
          readOnly: true
          type: string
        id:
          description: "The fully qualified ID for the subscription. For example,\
            \ /subscriptions/00000000-0000-0000-0000-000000000000."
          readOnly: true
          type: string
        state:
          description: "The subscription state. Possible values are Enabled, Warned,\
            \ PastDue, Disabled, and Deleted."
          enum:
          - Enabled
          - Warned
          - PastDue
          - Disabled
          - Deleted
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: SubscriptionState
        subscriptionId:
          description: The subscription ID.
          readOnly: true
          type: string
        subscriptionPolicies:
          $ref: '#/components/schemas/SubscriptionPolicies'
      type: object
    SubscriptionListResult:
      description: Subscription list operation response.
      example:
        value:
        - displayName: displayName
          id: id
          state: Enabled
          subscriptionId: subscriptionId
          subscriptionPolicies:
            spendingLimit: "On"
            locationPlacementId: locationPlacementId
            quotaId: quotaId
          authorizationSource: authorizationSource
        - displayName: displayName
          id: id
          state: Enabled
          subscriptionId: subscriptionId
          subscriptionPolicies:
            spendingLimit: "On"
            locationPlacementId: locationPlacementId
            quotaId: quotaId
          authorizationSource: authorizationSource
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: An array of subscriptions.
          items:
            $ref: '#/components/schemas/Subscription'
          type: array
      required:
      - nextLink
      type: object
    SubscriptionPolicies:
      description: Subscription policies.
      example:
        spendingLimit: "On"
        locationPlacementId: locationPlacementId
        quotaId: quotaId
      properties:
        locationPlacementId:
          description: "The subscription location placement ID. The ID indicates which\
            \ regions are visible for a subscription. For example, a subscription\
            \ with a location placement Id of Public_2014-09-01 has access to Azure\
            \ public regions."
          readOnly: true
          type: string
        quotaId:
          description: The subscription quota ID.
          readOnly: true
          type: string
        spendingLimit:
          description: The subscription spending limit.
          enum:
          - "On"
          - "Off"
          - CurrentPeriodOff
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: spendingLimit
      type: object
    TenantIdDescription:
      description: Tenant Id information.
      example:
        tenantId: tenantId
        id: id
      properties:
        id:
          description: "The fully qualified ID of the tenant. For example, /tenants/00000000-0000-0000-0000-000000000000."
          readOnly: true
          type: string
        tenantId:
          description: "The tenant ID. For example, 00000000-0000-0000-0000-000000000000."
          readOnly: true
          type: string
      type: object
    TenantListResult:
      description: Tenant Ids information.
      example:
        value:
        - tenantId: tenantId
          id: id
        - tenantId: tenantId
          id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          description: An array of tenants.
          items:
            $ref: '#/components/schemas/TenantIdDescription'
          type: array
      required:
      - nextLink
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

