openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2015-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/operations.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: sql-operations
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.Sql/operations:
    get:
      description: Lists all of the available SQL Rest API operations.
      operationId: operations_list
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: Successfully retrieved operations.
        default:
          content: {}
          description: "*** Error Responses: ***"
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
  schemas:
    Operation:
      description: SQL REST API operation definition.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: user
        name: name
        properties:
          key: "{}"
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        name:
          description: The name of the operation being performed on this particular
            object.
          readOnly: true
          title: name
          type: string
        origin:
          description: The intended executor of the operation.
          enum:
          - user
          - system
          readOnly: true
          title: origin
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperationOrigin
        properties:
          additionalProperties:
            properties: {}
            type: object
          description: Additional descriptions for the operation.
          readOnly: true
          title: properties
          type: object
          x-ms-client-flatten: false
      title: Operation
      type: object
    OperationDisplay:
      description: Display metadata associated with the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The localized friendly description for the operation.
          readOnly: true
          title: description
          type: string
        operation:
          description: The localized friendly name for the operation.
          readOnly: true
          title: operation
          type: string
        provider:
          description: The localized friendly form of the resource provider name.
          readOnly: true
          title: provider
          type: string
        resource:
          description: The localized friendly form of the resource type related to
            this action/operation.
          readOnly: true
          title: resource
          type: string
      title: OperationDisplay
      type: object
    OperationListResult:
      description: Result of the request to list SQL operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: user
          name: name
          properties:
            key: "{}"
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: user
          name: name
          properties:
            key: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationListResult
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
