openapi: 3.0.1
info:
  description: A plugin that allows users to interact with Slack using ChatGPT
  title: Slack AI Plugin
  version: v1
  x-apisguru-categories:
  - collaboration
  - messaging
  - developer_tools
  x-logo:
    url: http://static.tumblr.com/wvuzcz9/LlKncfhmp/slack_logo_240.png
  x-origin:
  - format: openapi
    url: https://api.slack.com/specs/openapi/ai-plugin.yaml
    version: "3.0"
  x-providerName: slack.com
  x-serviceName: openai
servers:
- url: https://slack.com/api
paths:
  /ai.alpha.search.messages:
    post:
      description: Search for messages matching a query
      operationId: ai_alpha_search_messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/searchRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ai_alpha_search_messages_200_response'
          description: Success response
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
components:
  schemas:
    Result:
      example:
        message: message
        permalink: permalink
      properties:
        message:
          title: message
          type: string
        permalink:
          title: permalink
          type: string
      title: Result
      type: object
    searchRequest:
      properties:
        query:
          description: Search query
          title: query
          type: string
      required:
      - query
      title: searchRequest
      type: object
    ai_alpha_search_messages_200_response:
      example:
        ok: true
        results:
        - message: message
          permalink: permalink
        - message: message
          permalink: permalink
      properties:
        ok:
          description: Boolean indicating whether or not the request was successful
          title: ok
          type: boolean
        results:
          items:
            $ref: '#/components/schemas/Result'
          title: results
          type: array
      required:
      - ok
      title: ai_alpha_search_messages_200_response
      type: object
