openapi: 3.0.0
info:
  description: Interactive Brokers Web API for 3rd Party Companies
  title: IBKR 3rd Party Web API
  version: 1.0.0
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://interactivebrokers.com/images/web/favicons/apple-touch-icon-57x57.png
  x-origin:
  - format: swagger
    url: https://www.interactivebrokers.co.uk/webtradingapi/swagger.yaml
    version: "2.0"
  x-providerName: interactivebrokers.com
servers:
- url: https://www.interactivebrokers.com/tradingapi/v1
security:
- cookieAuth: []
paths:
  /accounts:
    get:
      description: Allows the caller to request a list of accounts associated with
        the session.
      operationId: accounts_get
      parameters:
      - description: Account Number
        explode: true
        in: query
        name: account
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_accounts_get_200_response'
          description: An array of accounts
        "202":
          description: Unsuccessfull response
        "204":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Brokerage Accounts
      tags:
      - Account & Portfolio
      x-openapi-router-controller: openapi_server.controllers.account_&_portfolio_controller
  /accounts/{account}/order_impact:
    post:
      description: |
        This endpoint allows the consumer to check the impact that an order would have on the account, including margin, NLV and estimated commission costs.
        To specify the contract, you provide a value for the ContractId field, OR Ticker/ListingExchange/InstrumentType=STK for stocks OR Ticker/Currency/InstrumentType=CASH for FX.
      operationId: accounts_account_order_impact_post
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_accounts__account__order_impact_post_request'
        description: Order Parameters
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_accounts__account__order_impact_post_200_response'
          description: Order impact info
        "202":
          description: Unsuccessfull response
        "204":
          description: Unsuccessfull response
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Return margin impact info
      tags:
      - Order Margin Requirements
      x-openapi-router-controller: openapi_server.controllers.order_margin_requirements_controller
      x-codegen-request-body-name: body
  /accounts/{account}/orders:
    get:
      description: Returns a list of orders for the account passed in the URL
      operationId: accounts_account_orders_get
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/orderState'
                type: array
          description: Returns a list of orders for the indicated account
        "202":
          description: Unsuccessfull response
        "204":
          description: Unsuccessfull response
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Open Orders
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    post:
      description: Places order
      operationId: accounts_account_orders_post
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_accounts__account__orders_post_request'
        description: Order Parameters
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/orderState'
                type: array
          description: Returns order status information
        "202":
          description: Unsuccessfull response
        "204":
          description: Unsuccessfull response
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Place Order
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /accounts/{account}/orders/{CustomerOrderId}:
    delete:
      description: Cancels the order with the referenced Customer Order ID for the
        account passed in the URL.
      operationId: accounts_account_orders_customer_order_id_delete
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      - description: Customer Order ID
        explode: false
        in: path
        name: CustomerOrderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/_accounts__account__orders__CustomerOrderId__put_200_response_inner'
                type: array
          description: Returns result of cancellation attempt
        "202":
          description: Unsuccessfull response
        "204":
          description: Unsuccessfull response
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Cancel Order
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    get:
      description: Returns the order with the referenced Customer Order ID for the
        account passed in the URL.
      operationId: accounts_account_orders_customer_order_id_get
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      - description: Customer Order ID
        explode: false
        in: path
        name: CustomerOrderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/orderState'
                type: array
          description: Returns order status information
        "202":
          description: Unsuccessfull response
        "204":
          description: Unsuccessfull response
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Return specific order info
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    put:
      description: Allows the caller to modify the order with the referenced Customer
        Order ID specified in the URL. A separate Customer Order ID must be provided
        in the request body for the modification.
      operationId: accounts_account_orders_customer_order_id_put
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      - description: Customer Order ID
        explode: false
        in: path
        name: CustomerOrderId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_accounts__account__orders__CustomerOrderId__put_request'
        description: Order Parameters
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/_accounts__account__orders__CustomerOrderId__put_200_response_inner'
                type: array
          description: Result of order modification attempt
        "202":
          description: Unsuccessfull response
        "204":
          description: Unsuccessfull response
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Modify Order
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
      x-codegen-request-body-name: body
  /accounts/{account}/positions:
    get:
      description: 'Returns a list of positions for the indicated account. '
      operationId: accounts_account_positions_get
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/_accounts__account__positions_get_200_response_inner'
                type: array
          description: Returns a list of positions for the indicated account
        "202":
          description: Unsuccessfull response
        "204":
          description: Unsuccessfull response
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Account Positions
      tags:
      - Account & Portfolio
      x-openapi-router-controller: openapi_server.controllers.account_&_portfolio_controller
  /accounts/{account}/summary:
    get:
      description: Returns a list of account and margin balances associated with the
        account passed in the URL
      operationId: accounts_account_summary_get
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_accounts__account__summary_get_200_response'
          description: "Returns object for account summary with multiple properties.\
            \ \nA property is sufficed with -c if it provides commodity value, -s\
            \ if it provides security value, and -c if its UKL segment value. \n\"\
            These values correspond to the TWS Account Window: https://www.interactivebrokers.com/en/software/tws/usersguidebook/realtimeactivitymonitoring/account_window.htm\"\
            \n"
        "202":
          description: Unsuccessfull response
        "204":
          description: Unsuccessfull response
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Account Values Summary
      tags:
      - Account & Portfolio
      x-openapi-router-controller: openapi_server.controllers.account_&_portfolio_controller
  /accounts/{account}/trades:
    get:
      description: |
        Returns a list of trades for the account starting at the given 'since' date to the current time (now()). Timezone is UTC. Any request with a future since date or going further than one week will result in an HTTP 400 bad request response. Calling /trades without since will return all trades for the past 24 hours.
      operationId: accounts_account_trades_get
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: |
          Start time specified in UTC. Allowed formats are "yyyy-MM-dd" or "yyyy-MM-dd'T'HH:mm:ss". Time is optional and is set to midnight if omitted, e.g. "00:00:00 hh:mm:ss".
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/_accounts__account__trades_get_200_response_inner'
                type: array
          description: List of Trades
        "202":
          description: Unsuccessfull response
        "204":
          description: Unsuccessfull response
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Returns trades in account
      tags:
      - Trades
      x-openapi-router-controller: openapi_server.controllers.trades_controller
      x-codegen-request-body-name: body
  /marketdata/exchange_components:
    get:
      description: 'This endpoint provides a bit mapping for the bid/ask/last ''market''
        values in the snapshot response. '
      operationId: marketdata_exchange_components_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/_marketdata_exchange_components_get_200_response_inner'
                type: array
          description: Exchange Components
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Exchange Components
      tags:
      - Market Data
      x-openapi-router-controller: openapi_server.controllers.market_data_controller
  /marketdata/snapshot:
    get:
      description: "This endpoint allows the consumer to request a market data snapshot\
        \ for one or more trading products. \nConsumers need to provide unique identifiers\
        \ (conids) for the products in the IB product database (retrievable using\
        \ the /secdef endpoint). The 'market' values are integers whose bits indicate\
        \ the exchange(s) making up the quote. \n\nThe mapping of bit to exchange\
        \ is obtained from the marketdata/exchange_component endpoint. For example,\
        \ if a bid has a 'market' value of 5 and the exchange_component result has\
        \ the map \n0 => NYSE, 1 => ISLAND, 2 => ARCA then the exchanges contributing\
        \ to the bid size are NYSE and ARCA. \n\nSimilarly, if market=2, then only\
        \ ISLAND is contributing.\n"
      operationId: marketdata_snapshot_get
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/_marketdata_snapshot_get_request_inner'
              type: array
        description: "Contract. Allowed combinations are [type and symbol and currency],\
          \ or [type, symbol, exchange, and currency], or [conid]."
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/_marketdata_snapshot_get_200_response_inner'
                type: array
          description: Financial Instrument Definition
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Market Data Snapshot
      tags:
      - Market Data
      x-openapi-router-controller: openapi_server.controllers.market_data_controller
      x-codegen-request-body-name: body
  /oauth/access_token:
    post:
      description: "Obtain an access token using the request token and the verification\
        \ code you received after the user provided authorization. See section 6.3\
        \ of the OAuth v1.0a specification for more details. \n"
      operationId: oauth_access_token_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_oauth_access_token_post_request'
        description: OAuth Parameters
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_oauth_access_token_post_200_response'
          description: Access token and token secret
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Obtain a access token
      tags:
      - OAuth
      x-openapi-router-controller: openapi_server.controllers.o_auth_controller
      x-codegen-request-body-name: body
  /oauth/live_session_token:
    post:
      description: |
        In order to access protected IB resources, a live session token is required. This endpoint allows consumers to obtain a live session token to access these resources using an OAuth access token and the Diffie-Hellman prime and generator supplied during the registration process.
        Note this is an additional IB-specific step, and not part of the OAuth v1.0a specification. Please refer to the "OAuth at Interactive Brokers" document for more details.  https://www.interactivebrokers.com/webtradingapi/oauth.pdf
      operationId: oauth_live_session_token_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_oauth_live_session_token_post_request'
        description: OAuth Parameters
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_oauth_live_session_token_post_200_response'
          description: DH response
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Obtain a live session token
      tags:
      - OAuth
      x-openapi-router-controller: openapi_server.controllers.o_auth_controller
      x-codegen-request-body-name: body
  /oauth/request_token:
    post:
      description: "Obtain a request token. See section 6.1 of the OAuth v1.0a specification\
        \ for more information. http://oauth.net/core/1.0a/#auth_step1\n\nNote we\
        \ do not return an oauth_token_secret in the response as we are using RSA\
        \ signatures rather than PLAINTEXT authentication. \n"
      operationId: oauth_request_token_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_oauth_request_token_post_request'
        description: OAuth Parameters
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_oauth_request_token_post_200_response'
          description: OAuth token
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Obtain a request token
      tags:
      - OAuth
      x-openapi-router-controller: openapi_server.controllers.o_auth_controller
      x-codegen-request-body-name: body
  /secdef:
    get:
      description: |
        Fields that compose security definition. Allowed combinations,
        (1) type and symbol and currency, or
        (2) type, symbol, exchange, and currency, or
        (3) conid
      operationId: secdef_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_marketdata_snapshot_get_request_inner'
        description: Order Parameters
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/_secdef_get_200_response_inner'
                type: array
          description: Financial Instrument Definition
        "202":
          description: Unsuccessfull response
        "204":
          description: Unsuccessfull response
        "400":
          description: Unsuccessfull response
        "401":
          description: Unsuccessfull response
        "403":
          description: Unsuccessfull response
        "408":
          description: Unsuccessfull response
      summary: Get security definition
      tags:
      - Financial Instrument Definitions
      x-openapi-router-controller: openapi_server.controllers.financial_instrument_definitions_controller
      x-codegen-request-body-name: body
components:
  schemas:
    orderState:
      description: An object containing all the properties defining an order
      example:
        Status: "-1"
        Warning: Warning
        OutsideRTH: OutsideRTH
        RemainingQuantity: 2.3021358869347655
        Ticker: Ticker
        ListingExchange: ListingExchange
        FilledQuantity: 1.4658129805029452
        ContractId: 0.8008281904610115
        Side: "1"
        TransactionTime: TransactionTime
        OrderType: 5.962133916683182
        CustomerOrderId: 6.027456183070403
        Price: 5.637376656633329
        TimeInForce: 7.061401241503109
      properties:
        ContractId:
          title: ContractId
          type: number
        CustomerOrderId:
          title: CustomerOrderId
          type: number
        FilledQuantity:
          title: FilledQuantity
          type: number
        ListingExchange:
          title: ListingExchange
          type: string
        OrderType:
          $ref: '#/components/schemas/orderType'
        OutsideRTH:
          title: OutsideRTH
          type: string
        Price:
          title: Price
          type: number
        RemainingQuantity:
          title: RemainingQuantity
          type: number
        Side:
          enum:
          - "1"
          - "2"
          title: Side
          type: string
        Status:
          $ref: '#/components/schemas/orderStatus'
        Ticker:
          title: Ticker
          type: string
        TimeInForce:
          $ref: '#/components/schemas/timeInForce'
        TransactionTime:
          title: TransactionTime
          type: string
        Warning:
          title: Warning
          type: string
      title: orderState
      type: object
    orderStatus:
      description: |
        Status of the order
        InvalidOrderStatus = '-1'
        New = '0'
        PartiallyFilled = '1'
        Filled = '2'
        DoneForTheDay = '3'
        Canceled = '4'
        Replaced = '5'
        PendingCancelReplace = '6'
        Stopped = '7'
        Rejected = '8'
        Suspended = '9'
        PendingNew = 'A'
        Calculated = 'B'
        Expired = 'C'
        AcceptedForBidding = 'D'
        PendingReplace = 'E'
      enum:
      - "-1"
      - "0"
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
      - "7"
      - "8"
      - "9"
      - A
      - B
      - C
      - D
      - E
      title: orderStatus
      type: string
    orderType:
      description: |
        Market = '1'
        Limit = '2'
        Stop = '3'
        StopLimit = '4'
      enum:
      - 1
      - 2
      - 3
      - 4
      title: orderType
      type: number
    timeInForce:
      description: |
        Defines order's active lifetime.
        Day = '0'
        GTC (Good till Cancel) = '1'
        IOC (Immediate or Cancel) = '3'
        Open = '2'
        Close = '7'
      enum:
      - 0
      - 1
      - 2
      - 3
      - 7
      title: timeInForce
      type: number
    _accounts_get_200_response:
      example:
        accounts:
        - accounts
        - accounts
      properties:
        accounts:
          description: Unique account id
          items:
            type: string
          title: accounts
          type: array
      title: _accounts_get_200_response
      type: object
    _accounts__account__order_impact_post_request:
      properties:
        Aux Price:
          description: Required price to support Stop and Stop Limit orders
          title: Aux Price
          type: number
        ContractId:
          description: The internal IB identifier for the trading product specified
            as an integer (can be obtained in response to /secdef request)
          title: ContractId
          type: number
        Currency:
          description: The currency in which the FX pair trades (only for InstrumentType=CASH)
          title: Currency
          type: string
        CustomerOrderId:
          description: The order ID assigned by the customer.
          title: CustomerOrderId
          type: string
        InstrumentType:
          description: The instrument type of the contract
          title: InstrumentType
          type: string
        ListingExchange:
          description: The exchange on which the trading product is listed (only for
            InstrumentType=STK)
          title: ListingExchange
          type: string
        Order Type:
          $ref: '#/components/schemas/orderType'
        Price:
          description: The order price
          title: Price
          type: number
        Quantity:
          description: The number of units in the order; contracts or shares
          title: Quantity
          type: number
        Side:
          description: "Buy = '1', Sell = '2'"
          enum:
          - 1
          - 2
          title: Side
          type: number
        Ticker:
          description: The symbol that identifies the trading product
          title: Ticker
          type: string
        Time in Force:
          $ref: '#/components/schemas/timeInForce'
      title: _accounts__account__order_impact_post_request
      type: object
    _accounts__account__order_impact_post_200_response:
      example:
        EquityWithLoan: 6.027456183070403
        CommissionsCurrency: CommissionsCurrency
        InitMargin: 1.4658129805029452
        MinCommissions: 9.301444243932576
        MarginCurrency: MarginCurrency
        Commission: 0.8008281904610115
        MaintMarginBefore: 2.3021358869347655
        MaxCommissions: 7.061401241503109
        MaintMargin: 5.637376656633329
        InitMarginBefore: 5.962133916683182
      properties:
        Commission:
          title: Commission
          type: number
        CommissionsCurrency:
          title: CommissionsCurrency
          type: string
        EquityWithLoan:
          title: EquityWithLoan
          type: number
        InitMargin:
          title: InitMargin
          type: number
        InitMarginBefore:
          title: InitMarginBefore
          type: number
        MaintMargin:
          title: MaintMargin
          type: number
        MaintMarginBefore:
          title: MaintMarginBefore
          type: number
        MarginCurrency:
          title: MarginCurrency
          type: string
        MaxCommissions:
          title: MaxCommissions
          type: number
        MinCommissions:
          title: MinCommissions
          type: number
      title: _accounts__account__order_impact_post_200_response
      type: object
    _accounts__account__orders_post_request:
      properties:
        Aux Price:
          description: Required Price to support Stop and Stop Limit orders
          title: Aux Price
          type: number
        ContractId:
          description: The internal IB identifier for the trading product specified
            as an integer (can be obtained in response to /secdef request)
          title: ContractId
          type: number
        Currency:
          description: The currency in which the FX pair trades (only for InstrumentType=CASH)
          title: Currency
          type: string
        CustomerOrderId:
          description: The order ID assigned by the customer.
          title: CustomerOrderId
          type: string
        GermanHftAlgo:
          description: "By setting this bool to false the customer attests that the\
            \ order is not subject to German HFT Act, was not generated using any\
            \ automated algorithm, and no algorithm determined or changed financial\
            \ instrument, side, quantity, order type, limit or other price, trading\
            \ venue or timing of this order. Currently we cannot accept orders where\
            \ this flag is set to true. Such orders will be rejected."
          title: GermanHftAlgo
          type: boolean
        InstrumentType:
          description: The instrument type of the contract
          title: InstrumentType
          type: string
        ListingExchange:
          description: The exchange on which the trading product is listed (only for
            InstrumentType=STK)
          title: ListingExchange
          type: string
        Mifid2Algo:
          description: This field permits specification of the user's preregistered
            (via account management) MiFID II short code for algos that are responsible
            for investment decisions
          title: Mifid2Algo
          type: string
        Mifid2DecisionMaker:
          description: This field permits specification of the user's preregistered
            (via account management) MiFID II short code for decision makers.
          title: Mifid2DecisionMaker
          type: string
        Mifid2ExecutionAlgo:
          description: This field permits specification of the user's preregistered
            (via account management) MiFID II short code for algos that are responsible
            for handling/routing of the order.
          title: Mifid2ExecutionAlgo
          type: string
        Mifid2ExecutionTrader:
          description: This field permits specification of the user's preregistered
            (via account management) MiFID II person responsible for handling/routing
            of the order
          title: Mifid2ExecutionTrader
          type: string
        Order Type:
          $ref: '#/components/schemas/orderType'
        OrderRestrictions:
          description: "MultiValueString representing the restrictions associated\
            \ with\nan order. If more than one restriction is applicable to an\norder,\
            \ this field can contain multiple instructions separated\nby space. \n\
            '1' Program Trade\n'2' Index Arbitrage \n'3' Non-Index Arbitrage\n"
          title: OrderRestrictions
          type: number
        Outside RTH:
          description: "Indicates if order is active outside regular trading hours,\
            \ where defined. 0 = no (default), 1 = yes"
          title: Outside RTH
          type: number
        Price:
          description: The order price
          title: Price
          type: number
        Quantity:
          description: The number of units in the order; contracts or shares
          title: Quantity
          type: number
        Side:
          description: "Buy = '1', Sell = '2'"
          enum:
          - 1
          - 2
          title: Side
          type: number
        Ticker:
          description: The symbol that identifies the trading product
          title: Ticker
          type: string
        Time in Force:
          $ref: '#/components/schemas/timeInForce'
      title: _accounts__account__orders_post_request
      type: object
    _accounts__account__orders__CustomerOrderId__put_request:
      properties:
        Aux Price:
          description: Required Price to support Stop and Stop Limit orders
          title: Aux Price
          type: number
        CustomerOrderId:
          description: The new order ID assigned by the customer for the modification.
          title: CustomerOrderId
          type: string
        GermanHftAlgo:
          description: "By setting this bool to false the customer attests that the\
            \ order is not subject to German HFT Act, was not generated using any\
            \ automated algorithm, and no algorithm determined or changed financial\
            \ instrument, side, quantity, order type, limit or other price, trading\
            \ venue or timing of this order. Currently we cannot accept orders where\
            \ this flag is set to true. Such orders will be rejected."
          title: GermanHftAlgo
          type: boolean
        Mifid2Algo:
          description: This field permits specification of the user's preregistered
            (via account management) MiFID II short code for algos that are responsible
            for investment decisions
          title: Mifid2Algo
          type: string
        Mifid2DecisionMaker:
          description: This field permits specification of the user's preregistered
            (via account management) MiFID II short code for decision makers.
          title: Mifid2DecisionMaker
          type: string
        Mifid2ExecutionAlgo:
          description: This field permits specification of the user's preregistered
            (via account management) MiFID II short code for algos that are responsible
            for handling/routing of the order.
          title: Mifid2ExecutionAlgo
          type: string
        Mifid2ExecutionTrader:
          description: This field permits specification of the user's preregistered
            (via account management) MiFID II person responsible for handling/routing
            of the order
          title: Mifid2ExecutionTrader
          type: string
        Order Type:
          $ref: '#/components/schemas/orderType'
        OrigCustomerOrderId:
          description: The order ID assigned by the customer
          title: OrigCustomerOrderId
          type: string
        Outside RTH:
          description: "Indicates if order is active outside regular trading hours,\
            \ where defined. 0 = no (default), 1 = yes"
          title: Outside RTH
          type: number
        Price:
          description: The order price
          title: Price
          type: number
        Quantity:
          description: The number of units in the order; contracts or shares
          title: Quantity
          type: number
        Side:
          description: "Buy = '1', Sell = '2'"
          enum:
          - 1
          - 2
          title: Side
          type: number
        Time in Force:
          $ref: '#/components/schemas/timeInForce'
      title: _accounts__account__orders__CustomerOrderId__put_request
      type: object
    _accounts__account__orders__CustomerOrderId__put_200_response_inner:
      example:
        Side: 1.4658129805029452
        Status: "-1"
        Warning: Warning
        OrderType: 6.027456183070403
        OrderQty: 0.8008281904610115
        CustomerOrderId: CustomerOrderId
        Price: Price
        Symbol: 5.962133916683182
      properties:
        CustomerOrderId:
          title: CustomerOrderId
          type: string
        OrderQty:
          title: OrderQty
          type: number
        OrderType:
          $ref: '#/components/schemas/orderType'
        Price:
          title: Price
          type: string
        Side:
          enum:
          - 1
          - 2
          title: Side
          type: number
        Status:
          $ref: '#/components/schemas/orderStatus'
        Symbol:
          title: Symbol
          type: number
        Warning:
          title: Warning
          type: string
      title: _accounts__account__orders__CustomerOrderId__put_200_response_inner
      type: object
    _accounts__account__positions_get_200_response_inner:
      example:
        Position: 1.4658129805029452
        AverageCost: 0.8008281904610115
        ContractId: 6.027456183070403
      properties:
        AverageCost:
          title: AverageCost
          type: number
        ContractId:
          title: ContractId
          type: number
        Position:
          title: Position
          type: number
      title: _accounts__account__positions_get_200_response_inner
      type: object
    _accounts__account__summary_get_200_response_Info:
      example:
        SegmentTitle-S: SegmentTitle-S
        HighestSeverity: HighestSeverity
        Leverage-S: Leverage-S
        Cushion: Cushion
        DayTradesRemainingT+4: DayTradesRemainingT+4
        AccountReady: AccountReady
        AccountType: AccountType
        WhatIfPMEnabled: WhatIfPMEnabled
        DayTradesRemainingT+2: DayTradesRemainingT+2
        DayTradesRemainingT+3: DayTradesRemainingT+3
        SegmentTitle-C: SegmentTitle-C
        DayTradesRemaining: DayTradesRemaining
        DayTradesRemainingT: DayTradesRemainingT
        AccountCode: AccountCode
        TradingType-S: TradingType-S
        LookAheadNextChange: LookAheadNextChange
      properties:
        AccountCode:
          title: AccountCode
          type: string
        AccountReady:
          title: AccountReady
          type: string
        AccountType:
          title: AccountType
          type: string
        Cushion:
          title: Cushion
          type: string
        DayTradesRemaining:
          title: DayTradesRemaining
          type: string
        DayTradesRemainingT:
          title: DayTradesRemainingT
          type: string
        DayTradesRemainingT+2:
          title: DayTradesRemainingT+2
          type: string
        DayTradesRemainingT+3:
          title: DayTradesRemainingT+3
          type: string
        DayTradesRemainingT+4:
          title: DayTradesRemainingT+4
          type: string
        HighestSeverity:
          title: HighestSeverity
          type: string
        Leverage-S:
          title: Leverage-S
          type: string
        LookAheadNextChange:
          title: LookAheadNextChange
          type: string
        SegmentTitle-C:
          title: SegmentTitle-C
          type: string
        SegmentTitle-S:
          title: SegmentTitle-S
          type: string
        TradingType-S:
          title: TradingType-S
          type: string
        WhatIfPMEnabled:
          title: WhatIfPMEnabled
          type: string
      title: _accounts__account__summary_get_200_response_Info
      type: object
    _accounts__account__summary_get_200_response_Ledger_inner:
      example:
        CashCumQty: 1.4658129805029452
        ExchangeRate: 5.962133916683182
        NetInterest: 9.301444243932576
        RealizedPNL: 4.145608029883936
        FuturePNL: 2.3021358869347655
        UnrealizedPNL: 1.0246457001441578
        OptionMarketValue: 2.027123023002322
        StockMarketValue: 7.386281948385884
        CashBalance: 0.8008281904610115
        FutureOptionMarketValue: 5.637376656633329
        NetDividend: 7.061401241503109
        NetLiquidation: 3.616076749251911
        TotalCashBalance: 1.2315135367772556
        CashBalanceFXSegment: 6.027456183070403
      properties:
        CashBalance:
          title: CashBalance
          type: number
        CashBalanceFXSegment:
          title: CashBalanceFXSegment
          type: number
        CashCumQty:
          title: CashCumQty
          type: number
        ExchangeRate:
          title: ExchangeRate
          type: number
        FutureOptionMarketValue:
          title: FutureOptionMarketValue
          type: number
        FuturePNL:
          title: FuturePNL
          type: number
        NetDividend:
          title: NetDividend
          type: number
        NetInterest:
          title: NetInterest
          type: number
        NetLiquidation:
          title: NetLiquidation
          type: number
        OptionMarketValue:
          title: OptionMarketValue
          type: number
        RealizedPNL:
          title: RealizedPNL
          type: number
        StockMarketValue:
          title: StockMarketValue
          type: number
        TotalCashBalance:
          title: TotalCashBalance
          type: number
        UnrealizedPNL:
          title: UnrealizedPNL
          type: number
      title: _accounts__account__summary_get_200_response_Ledger_inner
      type: object
    _accounts__account__summary_get_200_response_Summary:
      example:
        ExcessLiquidity-S: 5.944895607614016
        FullExcessLiquidity-S: 7.058770351582356
        TotalCashValue-S: 8.675064425986758
        LookAheadInitMarginReq: 6.073898085781152
        PostExpirationMargin-C: 7.606863723092579
        AccruedCash-C: 6.84685269835264
        RegTMargin-S: 7.835035282970782
        FullAvailableFunds: 6.704019297950036
        AvailableFunds-S: 6.683562403749608
        FullExcessLiquidity-C: 0.8851374739011653
        InsuredDeposit: 4.678947989005849
        FullMaintMarginReq: 8.969578798196912
        PASharesValue: 3.502657762086401
        AccruedCash-S: 7.457744773683766
        PostExpirationExcess-C: 5.299143560275359
        SMA-S: 3.1497903714250555
        FullMaintMarginReq-C: 7.740351818741173
        RegTEquity: 3.111202833403195
        AccruedDividend: 1.1730742509559433
        PostExpirationMargin: 8.37823741034869
        AvailableFunds-C: 9.369310271410669
        SMA: 0.4768402382624515
        InitMarginReq-S: 1.041444916118296
        PostExpirationExcess-S: 5.312489704336296
        InsuredDeposit-S: 9.132027271330688
        BuyingPower: 3.5571952270680973
        InitMarginReq: 6.628464275087742
        ExcessLiquidity-C: 6.878052220127876
        IndianStockHaircut-S: 0.2025324113236393
        GrossPositionValue: 3.0576100241049344
        PostExpirationMargin-S: 3.7814124730767915
        RegTMargin: 5.877124706116695
        FullExcessLiquidity: 7.143538047012306
        Billable-S: 6.438423552598547
        GrossPositionValue-C: 7.04836565559697
        NetLiquidation-S: 9.254183946267839
        LookAheadInitMarginReq-S: 4.459605034958679
        InsuredDeposit-C: 7.260521264802104
        AccruedCash: 1.4894159098541704
        FullInitMarginReq: 6.519180951018382
        EquityWithLoanValue-C: 1.284659006116532
        IndianStockHaircut-C: 4.078845849666752
        NetLiquidationUncertainty: 1.8268702177058116
        FullAvailableFunds-C: 3.353193347011243
        MaintMarginReq-C: 8.28965939814297
        Billable-C: 9.018348186070783
        LookAheadAvailableFunds: 0.8774076871421566
        GrossPositionValue-S: 5.533258397034986
        NetLiquidation-C: 8.863729185622827
        LookAheadAvailableFunds-C: 9.702963800023566
        LookAheadExcessLiquidity: 7.933506881737151
        LookAheadInitMarginReq-C: 8.251625748923757
        IndianStockHaircut: 3.2588565619047607
        EquityWithLoanValue-S: 2.8841621266687802
        RegTEquity-S: 9.897492629215506
        FullAvailableFunds-S: 3.0937452626664474
        MaintMarginReq-S: 6.623518433804886
        InitMarginReq-C: 4.258773108174356
        LookAheadExcessLiquidity-S: 4.86315908102884
        ExcessLiquidity: 6.778324963048013
        AvailableFunds: 9.965781217890562
        FullInitMarginReq-S: 4.652396432933246
        AccruedDividend-C: 4.965218492984954
        PASharesValue-S: 8.761432466225475
        Billable: 8.762042012749001
        EquityWithLoanValue: 6.965117697638846
        LookAheadExcessLiquidity-C: 5.507386964179881
        FullMaintMarginReq-S: 3.0205796992916243
        LookAheadMaintMarginReq-C: 0.43431398824148815
        FullInitMarginReq-C: 0.10263654006109402
        AccruedDividend-S: 5.025004791520295
        PASharesValue-C: 9.183123594773994
        TotalCashValue-C: 3.804112695731078
        LookAheadMaintMarginReq: 3.901545264248647
        MaintMarginReq: 1.7325933120207193
        LookAheadMaintMarginReq-S: 2.9409642974827896
        NetLiquidation: 4.573936264232251
        TotalCashValue: 2.380090174313445
        LookAheadAvailableFunds-S: 0.5199002018724985
        PostExpirationExcess: 0.4182561061793122
      properties:
        AccruedCash:
          title: AccruedCash
          type: number
        AccruedCash-C:
          title: AccruedCash-C
          type: number
        AccruedCash-S:
          title: AccruedCash-S
          type: number
        AccruedDividend:
          title: AccruedDividend
          type: number
        AccruedDividend-C:
          title: AccruedDividend-C
          type: number
        AccruedDividend-S:
          title: AccruedDividend-S
          type: number
        AvailableFunds:
          title: AvailableFunds
          type: number
        AvailableFunds-C:
          title: AvailableFunds-C
          type: number
        AvailableFunds-S:
          title: AvailableFunds-S
          type: number
        Billable:
          title: Billable
          type: number
        Billable-C:
          title: Billable-C
          type: number
        Billable-S:
          title: Billable-S
          type: number
        BuyingPower:
          title: BuyingPower
          type: number
        EquityWithLoanValue:
          title: EquityWithLoanValue
          type: number
        EquityWithLoanValue-C:
          title: EquityWithLoanValue-C
          type: number
        EquityWithLoanValue-S:
          title: EquityWithLoanValue-S
          type: number
        ExcessLiquidity:
          title: ExcessLiquidity
          type: number
        ExcessLiquidity-C:
          title: ExcessLiquidity-C
          type: number
        ExcessLiquidity-S:
          title: ExcessLiquidity-S
          type: number
        FullAvailableFunds:
          title: FullAvailableFunds
          type: number
        FullAvailableFunds-C:
          title: FullAvailableFunds-C
          type: number
        FullAvailableFunds-S:
          title: FullAvailableFunds-S
          type: number
        FullExcessLiquidity:
          title: FullExcessLiquidity
          type: number
        FullExcessLiquidity-C:
          title: FullExcessLiquidity-C
          type: number
        FullExcessLiquidity-S:
          title: FullExcessLiquidity-S
          type: number
        FullInitMarginReq:
          title: FullInitMarginReq
          type: number
        FullInitMarginReq-C:
          title: FullInitMarginReq-C
          type: number
        FullInitMarginReq-S:
          title: FullInitMarginReq-S
          type: number
        FullMaintMarginReq:
          title: FullMaintMarginReq
          type: number
        FullMaintMarginReq-C:
          title: FullMaintMarginReq-C
          type: number
        FullMaintMarginReq-S:
          title: FullMaintMarginReq-S
          type: number
        GrossPositionValue:
          title: GrossPositionValue
          type: number
        GrossPositionValue-C:
          title: GrossPositionValue-C
          type: number
        GrossPositionValue-S:
          title: GrossPositionValue-S
          type: number
        IndianStockHaircut:
          title: IndianStockHaircut
          type: number
        IndianStockHaircut-C:
          title: IndianStockHaircut-C
          type: number
        IndianStockHaircut-S:
          title: IndianStockHaircut-S
          type: number
        InitMarginReq:
          title: InitMarginReq
          type: number
        InitMarginReq-C:
          title: InitMarginReq-C
          type: number
        InitMarginReq-S:
          title: InitMarginReq-S
          type: number
        InsuredDeposit:
          title: InsuredDeposit
          type: number
        InsuredDeposit-C:
          title: InsuredDeposit-C
          type: number
        InsuredDeposit-S:
          title: InsuredDeposit-S
          type: number
        LookAheadAvailableFunds:
          title: LookAheadAvailableFunds
          type: number
        LookAheadAvailableFunds-C:
          title: LookAheadAvailableFunds-C
          type: number
        LookAheadAvailableFunds-S:
          title: LookAheadAvailableFunds-S
          type: number
        LookAheadExcessLiquidity:
          title: LookAheadExcessLiquidity
          type: number
        LookAheadExcessLiquidity-C:
          title: LookAheadExcessLiquidity-C
          type: number
        LookAheadExcessLiquidity-S:
          title: LookAheadExcessLiquidity-S
          type: number
        LookAheadInitMarginReq:
          title: LookAheadInitMarginReq
          type: number
        LookAheadInitMarginReq-C:
          title: LookAheadInitMarginReq-C
          type: number
        LookAheadInitMarginReq-S:
          title: LookAheadInitMarginReq-S
          type: number
        LookAheadMaintMarginReq:
          title: LookAheadMaintMarginReq
          type: number
        LookAheadMaintMarginReq-C:
          title: LookAheadMaintMarginReq-C
          type: number
        LookAheadMaintMarginReq-S:
          title: LookAheadMaintMarginReq-S
          type: number
        MaintMarginReq:
          title: MaintMarginReq
          type: number
        MaintMarginReq-C:
          title: MaintMarginReq-C
          type: number
        MaintMarginReq-S:
          title: MaintMarginReq-S
          type: number
        NetLiquidation:
          title: NetLiquidation
          type: number
        NetLiquidation-C:
          title: NetLiquidation-C
          type: number
        NetLiquidation-S:
          title: NetLiquidation-S
          type: number
        NetLiquidationUncertainty:
          title: NetLiquidationUncertainty
          type: number
        PASharesValue:
          title: PASharesValue
          type: number
        PASharesValue-C:
          title: PASharesValue-C
          type: number
        PASharesValue-S:
          title: PASharesValue-S
          type: number
        PostExpirationExcess:
          title: PostExpirationExcess
          type: number
        PostExpirationExcess-C:
          title: PostExpirationExcess-C
          type: number
        PostExpirationExcess-S:
          title: PostExpirationExcess-S
          type: number
        PostExpirationMargin:
          title: PostExpirationMargin
          type: number
        PostExpirationMargin-C:
          title: PostExpirationMargin-C
          type: number
        PostExpirationMargin-S:
          title: PostExpirationMargin-S
          type: number
        RegTEquity:
          title: RegTEquity
          type: number
        RegTEquity-S:
          title: RegTEquity-S
          type: number
        RegTMargin:
          title: RegTMargin
          type: number
        RegTMargin-S:
          title: RegTMargin-S
          type: number
        SMA:
          title: SMA
          type: number
        SMA-S:
          title: SMA-S
          type: number
        TotalCashValue:
          title: TotalCashValue
          type: number
        TotalCashValue-C:
          title: TotalCashValue-C
          type: number
        TotalCashValue-S:
          title: TotalCashValue-S
          type: number
      title: _accounts__account__summary_get_200_response_Summary
      type: object
    _accounts__account__summary_get_200_response:
      example:
        Ledger:
        - CashCumQty: 1.4658129805029452
          ExchangeRate: 5.962133916683182
          NetInterest: 9.301444243932576
          RealizedPNL: 4.145608029883936
          FuturePNL: 2.3021358869347655
          UnrealizedPNL: 1.0246457001441578
          OptionMarketValue: 2.027123023002322
          StockMarketValue: 7.386281948385884
          CashBalance: 0.8008281904610115
          FutureOptionMarketValue: 5.637376656633329
          NetDividend: 7.061401241503109
          NetLiquidation: 3.616076749251911
          TotalCashBalance: 1.2315135367772556
          CashBalanceFXSegment: 6.027456183070403
        - CashCumQty: 1.4658129805029452
          ExchangeRate: 5.962133916683182
          NetInterest: 9.301444243932576
          RealizedPNL: 4.145608029883936
          FuturePNL: 2.3021358869347655
          UnrealizedPNL: 1.0246457001441578
          OptionMarketValue: 2.027123023002322
          StockMarketValue: 7.386281948385884
          CashBalance: 0.8008281904610115
          FutureOptionMarketValue: 5.637376656633329
          NetDividend: 7.061401241503109
          NetLiquidation: 3.616076749251911
          TotalCashBalance: 1.2315135367772556
          CashBalanceFXSegment: 6.027456183070403
        Summary:
          ExcessLiquidity-S: 5.944895607614016
          FullExcessLiquidity-S: 7.058770351582356
          TotalCashValue-S: 8.675064425986758
          LookAheadInitMarginReq: 6.073898085781152
          PostExpirationMargin-C: 7.606863723092579
          AccruedCash-C: 6.84685269835264
          RegTMargin-S: 7.835035282970782
          FullAvailableFunds: 6.704019297950036
          AvailableFunds-S: 6.683562403749608
          FullExcessLiquidity-C: 0.8851374739011653
          InsuredDeposit: 4.678947989005849
          FullMaintMarginReq: 8.969578798196912
          PASharesValue: 3.502657762086401
          AccruedCash-S: 7.457744773683766
          PostExpirationExcess-C: 5.299143560275359
          SMA-S: 3.1497903714250555
          FullMaintMarginReq-C: 7.740351818741173
          RegTEquity: 3.111202833403195
          AccruedDividend: 1.1730742509559433
          PostExpirationMargin: 8.37823741034869
          AvailableFunds-C: 9.369310271410669
          SMA: 0.4768402382624515
          InitMarginReq-S: 1.041444916118296
          PostExpirationExcess-S: 5.312489704336296
          InsuredDeposit-S: 9.132027271330688
          BuyingPower: 3.5571952270680973
          InitMarginReq: 6.628464275087742
          ExcessLiquidity-C: 6.878052220127876
          IndianStockHaircut-S: 0.2025324113236393
          GrossPositionValue: 3.0576100241049344
          PostExpirationMargin-S: 3.7814124730767915
          RegTMargin: 5.877124706116695
          FullExcessLiquidity: 7.143538047012306
          Billable-S: 6.438423552598547
          GrossPositionValue-C: 7.04836565559697
          NetLiquidation-S: 9.254183946267839
          LookAheadInitMarginReq-S: 4.459605034958679
          InsuredDeposit-C: 7.260521264802104
          AccruedCash: 1.4894159098541704
          FullInitMarginReq: 6.519180951018382
          EquityWithLoanValue-C: 1.284659006116532
          IndianStockHaircut-C: 4.078845849666752
          NetLiquidationUncertainty: 1.8268702177058116
          FullAvailableFunds-C: 3.353193347011243
          MaintMarginReq-C: 8.28965939814297
          Billable-C: 9.018348186070783
          LookAheadAvailableFunds: 0.8774076871421566
          GrossPositionValue-S: 5.533258397034986
          NetLiquidation-C: 8.863729185622827
          LookAheadAvailableFunds-C: 9.702963800023566
          LookAheadExcessLiquidity: 7.933506881737151
          LookAheadInitMarginReq-C: 8.251625748923757
          IndianStockHaircut: 3.2588565619047607
          EquityWithLoanValue-S: 2.8841621266687802
          RegTEquity-S: 9.897492629215506
          FullAvailableFunds-S: 3.0937452626664474
          MaintMarginReq-S: 6.623518433804886
          InitMarginReq-C: 4.258773108174356
          LookAheadExcessLiquidity-S: 4.86315908102884
          ExcessLiquidity: 6.778324963048013
          AvailableFunds: 9.965781217890562
          FullInitMarginReq-S: 4.652396432933246
          AccruedDividend-C: 4.965218492984954
          PASharesValue-S: 8.761432466225475
          Billable: 8.762042012749001
          EquityWithLoanValue: 6.965117697638846
          LookAheadExcessLiquidity-C: 5.507386964179881
          FullMaintMarginReq-S: 3.0205796992916243
          LookAheadMaintMarginReq-C: 0.43431398824148815
          FullInitMarginReq-C: 0.10263654006109402
          AccruedDividend-S: 5.025004791520295
          PASharesValue-C: 9.183123594773994
          TotalCashValue-C: 3.804112695731078
          LookAheadMaintMarginReq: 3.901545264248647
          MaintMarginReq: 1.7325933120207193
          LookAheadMaintMarginReq-S: 2.9409642974827896
          NetLiquidation: 4.573936264232251
          TotalCashValue: 2.380090174313445
          LookAheadAvailableFunds-S: 0.5199002018724985
          PostExpirationExcess: 0.4182561061793122
        Info:
          SegmentTitle-S: SegmentTitle-S
          HighestSeverity: HighestSeverity
          Leverage-S: Leverage-S
          Cushion: Cushion
          DayTradesRemainingT+4: DayTradesRemainingT+4
          AccountReady: AccountReady
          AccountType: AccountType
          WhatIfPMEnabled: WhatIfPMEnabled
          DayTradesRemainingT+2: DayTradesRemainingT+2
          DayTradesRemainingT+3: DayTradesRemainingT+3
          SegmentTitle-C: SegmentTitle-C
          DayTradesRemaining: DayTradesRemaining
          DayTradesRemainingT: DayTradesRemainingT
          AccountCode: AccountCode
          TradingType-S: TradingType-S
          LookAheadNextChange: LookAheadNextChange
      properties:
        Info:
          $ref: '#/components/schemas/_accounts__account__summary_get_200_response_Info'
        Ledger:
          items:
            $ref: '#/components/schemas/_accounts__account__summary_get_200_response_Ledger_inner'
          title: Ledger
          type: array
        Summary:
          $ref: '#/components/schemas/_accounts__account__summary_get_200_response_Summary'
      title: _accounts__account__summary_get_200_response
      type: object
    _accounts__account__trades_get_200_response_inner:
      example:
        ExecId: ExecId
        RemainingQuantity: 9.301444243932576
        Ticker: Ticker
        Commission: 6.027456183070403
        ListingExchange: ListingExchange
        Quantity: 7.061401241503109
        FilledQuantity: 5.637376656633329
        ContractId: 1.4658129805029452
        OrderId: OrderId
        TradePrice: 3.616076749251911
        CommissionCurrency: CommissionCurrency
        Side: "1"
        ExecutionTime: ExecutionTime
        OrderType: 2.3021358869347655
        CustomerOrderId: 5.962133916683182
        LastMarket: LastMarket
        Currency: Currency
        TradeSize: 2.027123023002322
        AvgPrice: 0.8008281904610115
      properties:
        AvgPrice:
          title: AvgPrice
          type: number
        Commission:
          title: Commission
          type: number
        CommissionCurrency:
          title: CommissionCurrency
          type: string
        ContractId:
          title: ContractId
          type: number
        Currency:
          title: Currency
          type: string
        CustomerOrderId:
          title: CustomerOrderId
          type: number
        ExecId:
          title: ExecId
          type: string
        ExecutionTime:
          title: ExecutionTime
          type: string
        FilledQuantity:
          title: FilledQuantity
          type: number
        LastMarket:
          title: LastMarket
          type: string
        ListingExchange:
          title: ListingExchange
          type: string
        OrderId:
          title: OrderId
          type: string
        OrderType:
          $ref: '#/components/schemas/orderType'
        Quantity:
          title: Quantity
          type: number
        RemainingQuantity:
          title: RemainingQuantity
          type: number
        Side:
          enum:
          - "1"
          - "2"
          title: Side
          type: string
        Ticker:
          title: Ticker
          type: string
        TradePrice:
          title: TradePrice
          type: number
        TradeSize:
          title: TradeSize
          type: number
      title: _accounts__account__trades_get_200_response_inner
      type: object
    _marketdata_exchange_components_get_200_response_inner_mapping_inner:
      example:
        code: code
        exchange: exchange
        bit: 6.027456183070403
      properties:
        bit:
          title: bit
          type: number
        code:
          title: code
          type: string
        exchange:
          title: exchange
          type: string
      title: _marketdata_exchange_components_get_200_response_inner_mapping_inner
      type: object
    _marketdata_exchange_components_get_200_response_inner:
      example:
        mapping:
        - code: code
          exchange: exchange
          bit: 6.027456183070403
        - code: code
          exchange: exchange
          bit: 6.027456183070403
        Complete: true
        ConId: 0.8008281904610115
      properties:
        Complete:
          title: Complete
          type: boolean
        ConId:
          title: ConId
          type: number
        mapping:
          items:
            $ref: '#/components/schemas/_marketdata_exchange_components_get_200_response_inner_mapping_inner'
          title: mapping
          type: array
      title: _marketdata_exchange_components_get_200_response_inner
      type: object
    _marketdata_snapshot_get_request_inner:
      properties:
        conid:
          description: The internal IB identifier for the trading product specified
            as an integer.
          title: conid
          type: number
        currency:
          description: The currency in which the given pair trades.
          title: currency
          type: string
        exchange:
          description: The exchange on which the trading product is listed (required
            for type=STK).
          title: exchange
          type: string
        symbol:
          description: The symbol that identifies the trading product.
          title: symbol
          type: string
        type:
          description: The instrument type of the contract (CASH).
          title: type
          type: string
      title: _marketdata_snapshot_get_request_inner
      type: object
    _marketdata_snapshot_get_200_response_inner_Bid:
      example:
        market: 0.8008281904610115
        size: 1.4658129805029452
        price: 6.027456183070403
      properties:
        market:
          title: market
          type: number
        price:
          title: price
          type: number
        size:
          title: size
          type: number
      title: _marketdata_snapshot_get_200_response_inner_Bid
      type: object
    _marketdata_snapshot_get_200_response_inner_Closing:
      example:
        price: 5.962133916683182
      properties:
        price:
          title: price
          type: number
      title: _marketdata_snapshot_get_200_response_inner_Closing
      type: object
    _marketdata_snapshot_get_200_response_inner_Trade:
      example:
        market: 2.3021358869347655
        size: 9.301444243932576
        price: 7.061401241503109
        time: 3.616076749251911
      properties:
        market:
          title: market
          type: number
        price:
          title: price
          type: number
        size:
          title: size
          type: number
        time:
          title: time
          type: number
      title: _marketdata_snapshot_get_200_response_inner_Trade
      type: object
    _marketdata_snapshot_get_200_response_inner:
      example:
        Trade:
          market: 2.3021358869347655
          size: 9.301444243932576
          price: 7.061401241503109
          time: 3.616076749251911
        Offer:
          market: 0.8008281904610115
          size: 1.4658129805029452
          price: 6.027456183070403
        Complete: true
        Conid: Conid
        Closing:
          price: 5.962133916683182
        Bid:
          market: 0.8008281904610115
          size: 1.4658129805029452
          price: 6.027456183070403
        Temporality: 5.637376656633329
      properties:
        Bid:
          $ref: '#/components/schemas/_marketdata_snapshot_get_200_response_inner_Bid'
        Closing:
          $ref: '#/components/schemas/_marketdata_snapshot_get_200_response_inner_Closing'
        Complete:
          title: Complete
          type: boolean
        Conid:
          title: Conid
          type: string
        Offer:
          $ref: '#/components/schemas/_marketdata_snapshot_get_200_response_inner_Bid'
        Temporality:
          description: |
            0 = Real time data
            1 = Delayed data
          enum:
          - 0
          - 1
          title: Temporality
          type: number
        Trade:
          $ref: '#/components/schemas/_marketdata_snapshot_get_200_response_inner_Trade'
      title: _marketdata_snapshot_get_200_response_inner
      type: object
    _oauth_access_token_post_request:
      properties:
        oauth_consumer_key:
          description: The 25-character hexadecimal string that was obtained from
            Interactive Brokers during the OAuth consumer registration process.
          title: oauth_consumer_key
          type: string
        oauth_nonce:
          description: A random string uniquely generated for each request.
          title: oauth_nonce
          type: string
        oauth_signature:
          description: The signature for the request generated using the method specified
            in the oauth_signature_method parameter. See section 9 of the OAuth v1.0a
            specification for more details on signing requests.
          title: oauth_signature
          type: string
        oauth_signature_method:
          description: The signature method used to sign the request. Currently only
            'RSA-SHA256' is supported.
          title: oauth_signature_method
          type: string
        oauth_timestamp:
          description: Timestamp expressed in seconds since 1/1/1970 00:00:00 GMT.
            Must be a positive integer and greater than or equal to any timestamp
            used in previous requests.
          title: oauth_timestamp
          type: string
        oauth_token:
          description: The request token obtained from IB via /request_token.
          title: oauth_token
          type: string
        oauth_verifier:
          description: The verification code received from IB after the user has granted
            authorization.
          title: oauth_verifier
          type: string
      title: _oauth_access_token_post_request
      type: object
    _oauth_access_token_post_200_response:
      example:
        oauth_token: oauth_token
        oauth_token_secret: oauth_token_secret
      properties:
        oauth_token:
          title: oauth_token
          type: string
        oauth_token_secret:
          title: oauth_token_secret
          type: string
      title: _oauth_access_token_post_200_response
      type: object
    _oauth_live_session_token_post_request:
      properties:
        diffie_hellman_challenge:
          description: "Challenge value calculated using the Diffie-Hellman prime\
            \ and generated provided during the registration process. See the \"OAuth\
            \ at Interactive Brokers\" document for more details. \n"
          title: diffie_hellman_challenge
          type: string
        oauth_consumer_key:
          description: The 25-character hexadecimal string that was obtained from
            Interactive Brokers during the OAuth consumer registration process.
          title: oauth_consumer_key
          type: string
        oauth_nonce:
          description: A random string uniquely generated for each request.
          title: oauth_nonce
          type: string
        oauth_signature:
          description: The signature for the request generated using the method specified
            in the oauth_signature_method parameter. See section 9 of the OAuth v1.0a
            specification for more details on signing requests.
          title: oauth_signature
          type: string
        oauth_signature_method:
          description: The signature method used to sign the request. Currently only
            'RSA-SHA256' is supported.
          title: oauth_signature_method
          type: string
        oauth_timestamp:
          description: Timestamp expressed in seconds since 1/1/1970 00:00:00 GMT.
            Must be a positive integer and greater than or equal to any timestamp
            used in previous requests.
          title: oauth_timestamp
          type: string
        oauth_token:
          description: The request token obtained from IB via /request_token.
          title: oauth_token
          type: string
      title: _oauth_live_session_token_post_request
      type: object
    _oauth_live_session_token_post_200_response:
      example:
        diffie_hellman_response: diffie_hellman_response
        live_session_token_signature: live_session_token_signature
      properties:
        diffie_hellman_response:
          title: diffie_hellman_response
          type: string
        live_session_token_signature:
          title: live_session_token_signature
          type: string
      title: _oauth_live_session_token_post_200_response
      type: object
    _oauth_request_token_post_request:
      properties:
        oauth_callback:
          description: 'An absolute URL to which IB will redirect the user. This URL
            is provided by the consumer during registration. This parameter must be
            set to ''oob''.  '
          title: oauth_callback
          type: string
        oauth_consumer_key:
          description: The 25-character hexadecimal string that was obtained from
            Interactive Brokers during the OAuth consumer registration process.
          title: oauth_consumer_key
          type: string
        oauth_nonce:
          description: A random string uniquely generated for each request.
          title: oauth_nonce
          type: string
        oauth_signature:
          description: The signature for the request generated using the method specified
            in the oauth_signature_method parameter. See section 9 of the OAuth v1.0a
            specification for more details on signing requests.
          title: oauth_signature
          type: string
        oauth_signature_method:
          description: The signature method used to sign the request. Currently only
            'RSA-SHA256' is supported.
          title: oauth_signature_method
          type: string
        oauth_timestamp:
          description: Timestamp expressed in seconds since 1/1/1970 00:00:00 GMT.
            Must be a positive integer and greater than or equal to any timestamp
            used in previous requests.
          title: oauth_timestamp
          type: string
      title: _oauth_request_token_post_request
      type: object
    _oauth_request_token_post_200_response:
      example:
        oauth_token: oauth_token
      properties:
        oauth_token:
          title: oauth_token
          type: string
      title: _oauth_request_token_post_200_response
      type: object
    _secdef_get_200_response_inner:
      example:
        Exchange: Exchange
        CompanyName: CompanyName
        SecurityType: SecurityType
        Currency: Currency
        Ticker: Ticker
        ContractId: 0.8008281904610115
      properties:
        CompanyName:
          title: CompanyName
          type: string
        ContractId:
          title: ContractId
          type: number
        Currency:
          title: Currency
          type: string
        Exchange:
          title: Exchange
          type: string
        SecurityType:
          title: SecurityType
          type: string
        Ticker:
          title: Ticker
          type: string
      title: _secdef_get_200_response_inner
      type: object
  securitySchemes:
    cookieAuth:
      in: header
      name: portal
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_cookieAuth
