openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2017-10-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/ManagedInstanceKeys.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-ManagedInstanceKeys
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/keys
  : get:
      description: Gets a list of managed instance keys.
      operationId: ManagedInstanceKeys_ListByInstance
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the managed instance.
        in: path
        name: managedInstanceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: An OData filter expression that filters elements in the collection.
        in: query
        name: $filter
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstanceKeyListResult'
          description: Successfully retrieved the list of managed instance keys.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidKeyName - An invalid value was given for the server key name.

             * 400 InvalidKeyType - The create server key type is not supported.

             * 400 InvalidUpsertKeyType - Service Managed type keys are managed by Azure SQL. This key type does not support create or update by the user.

             * 400 InvalidKeyUpsertRequest - The create server key request does not exist or has no properties object.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - ManagedInstanceKeys
      x-ms-examples:
        List the keys for a managed instance.:
          parameters:
            api-version: 2017-10-01-preview
            managedInstanceName: sqlcrudtest-4645
            resourceGroupName: sqlcrudtest-7398
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/managedInstances/sqlcrudtest-4645/keys/someVault_someKey_01234567890123456789012345678901
                  kind: azurekeyvault
                  name: someVault_someKey_01234567890123456789012345678901
                  properties:
                    creationDate: 2017-05-01T00:00:00.0Z
                    serverKeyType: AzureKeyVault
                    thumbprint: 00112233445566778899AABBCCDDEEFFAABBCCDD
                    uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
                  type: Microsoft.Sql/managedInstances/keys
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/managedInstances/sqlcrudtest-4645/keys/myVault_myKey_11111111111111111111111111111111
                  kind: azurekeyvault
                  name: myVault_myKey_11111111111111111111111111111111
                  properties:
                    creationDate: 2017-05-01T00:00:00.0Z
                    serverKeyType: AzureKeyVault
                    thumbprint: AAAAAAAAAAAAAAABBBBBBBBBBBBBBBBBBBBBBBBB
                    uri: https://myVault.vault.azure.net/keys/myKey/11111111111111111111111111111111
                  type: Microsoft.Sql/managedInstances/keys
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/managedInstances/sqlcrudtest-4645/keys/ServiceManaged
                  kind: servicemanaged
                  name: ServiceManaged
                  properties:
                    serverKeyType: ServiceManaged
                  type: Microsoft.Sql/managedInstances/keys
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/keys/{keyName}
  : delete:
      description: Deletes the managed instance key with the given name.
      operationId: ManagedInstanceKeys_Delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the managed instance.
        in: path
        name: managedInstanceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the managed instance key to be deleted.
        in: path
        name: keyName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully deleted the managed instance key.
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: The specified managed instance key does not exist.
        default:
          content: {}
          description: "*** Error Responses: ***\n\n * 400 InvalidKeyName - An invalid\
            \ value was given for the server key name.\n\n * 400 InvalidKeyType -\
            \ The create server key type is not supported.\n\n * 400 InvalidUpsertKeyType\
            \ - Service Managed type keys are managed by Azure SQL. This key type\
            \ does not support create or update by the user.\n\n * 400 InvalidKeyUpsertRequest\
            \ - The create server key request does not exist or has no properties\
            \ object.\n\n * 400 AzureKeyVaultInvalidExpirationDate - The operation\
            \ could not be completed because the Azure Key Vault key expiration date\
            \ is invalid.\n\n * 400 SecurityAzureKeyVaultUrlNullOrEmpty - The operation\
            \ could not be completed because the Azure Key Vault Uri is null or empty.\n\
            \n * 400 AzureKeyVaultInvalidUri - An invalid response from Azure Key\
            \ Vault. Please use a valid Azure Key Vault URI.\n\n * 400 SecurityAzureKeyVaultInvalidKeyName\
            \ - The operation could not be completed because of an invalid Server\
            \ Key name.\n\n * 400 AzureKeyVaultMalformedVaultUri - The provided Key\
            \ Vault uri is not valid.\n\n * 400 SecurityAdalPrincipalCertExpiredError\
            \ - The operation could not be completed because the Azure Key Vault principal\
            \ certificate has expired.\n\n * 400 SecurityInvalidAzureKeyVaultRecoveryLevel\
            \ - The provided Key Vault uri is not valid.\n\n * 400 KeyMaterialNotFoundOnRemoteServer\
            \ - Remote server does not have access to key material used as a TDE protector.\n\
            \n * 400 AzureKeyVaultMismatchError - Unexpected Key Vault region found\
            \ in the http response.\n\n * 400 AzureKeyVaultRsaKeyNotSupported - The\
            \ provided key vault uses unsupported RSA Key Size or Key Type. The supported\
            \ RSA key size is 2048 and Key Type is RSA.\n\n * 401 AzureKeyVaultKeyDisabled\
            \ - The operation could not be completed on the server because the Azure\
            \ Key Vault key is disabled.\n\n * 401 AzureKeyVaultNoServerIdentity -\
            \ The server identity is not correctly configured.\n\n * 401 AzureKeyVaultMissingPermissions\
            \ - The server is missing required permissions on the Azure Key Vault.\
            \ \n\n * 401 AdalGenericError - The operation could not be completed because\
            \ an Azure Active Directory error was encountered.\n\n * 401 AdalServicePrincipalNotFound\
            \ - The operation could not be completed because an Azure Active Directory\
            \ library Service Principal not found error was encountered.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 ResourceNotFound - The requested resource was not found.\n\n\
            \ * 409 ServerKeyNameAlreadyExists - The server key already exists on\
            \ the server.\n\n * 409 ServerKeyUriAlreadyExists - The server key URI\
            \ already exists on the server.\n\n * 409 ServerKeyDoesNotExists - The\
            \ server key does not exist.\n\n * 409 AzureKeyVaultKeyNameNotFound -\
            \ The operation could not be completed because the Azure Key Vault Key\
            \ name does not exist.\n\n * 409 AzureKeyVaultKeyInUse - The key is currently\
            \ being used by the server.\n\n * 503 AzureKeyVaultConnectionFailed -\
            \ The operation could not be completed on the server because attempts\
            \ to connect to Azure Key Vault have failed\n\n * 503 AzureKeyVaultGenericConnectionError\
            \ - The operation could not be completed because an error was encountered\
            \ when attempting to retrieve Key Vault information ."
      tags:
      - ManagedInstanceKeys
      x-ms-examples:
        Delete the managed instance key:
          parameters:
            api-version: 2017-10-01-preview
            keyName: someVault_someKey_01234567890123456789012345678901
            managedInstanceName: sqlcrudtest-4645
            resourceGroupName: sqlcrudtest-7398
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a managed instance key.
      operationId: ManagedInstanceKeys_Get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the managed instance.
        in: path
        name: managedInstanceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the managed instance key to be retrieved.
        in: path
        name: keyName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstanceKey'
          description: Successfully retrieved the specified managed instance key.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidKeyName - An invalid value was given for the server key name.

             * 400 InvalidKeyType - The create server key type is not supported.

             * 400 InvalidUpsertKeyType - Service Managed type keys are managed by Azure SQL. This key type does not support create or update by the user.

             * 400 InvalidKeyUpsertRequest - The create server key request does not exist or has no properties object.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
      - ManagedInstanceKeys
      x-ms-examples:
        Get the managed instance key:
          parameters:
            api-version: 2017-10-01-preview
            keyName: someVault_someKey_01234567890123456789012345678901
            managedInstanceName: sqlcrudtest-4645
            resourceGroupName: sqlcrudtest-7398
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/managedInstances/sqlcrudtest-4645/keys/someVault_someKey_01234567890123456789012345678901
                kind: azurekeyvault
                name: sqlcrudtest-4645
                properties:
                  creationDate: 2017-05-01T00:00:00.0Z
                  serverKeyType: AzureKeyVault
                  thumbprint: 00112233445566778899AABBCCDDEEFFAABBCCDD
                  uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
                type: Microsoft.Sql/managedInstances/keys
      x-accepts:
      - application/json
    put:
      description: Creates or updates a managed instance key.
      operationId: ManagedInstanceKeys_CreateOrUpdate
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the managed instance.
        in: path
        name: managedInstanceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the managed instance key to be operated on (updated
          or created).
        in: path
        name: keyName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedInstanceKey'
        description: The requested managed instance key resource state.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstanceKey'
          description: Successfully updated the managed instance key.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstanceKey'
          description: Successfully created the managed instance key.
        "202":
          content: {}
          description: Accepted
        default:
          content: {}
          description: "*** Error Responses: ***\n\n * 400 InvalidKeyName - An invalid\
            \ value was given for the server key name.\n\n * 400 InvalidKeyType -\
            \ The create server key type is not supported.\n\n * 400 InvalidUpsertKeyType\
            \ - Service Managed type keys are managed by Azure SQL. This key type\
            \ does not support create or update by the user.\n\n * 400 InvalidKeyUpsertRequest\
            \ - The create server key request does not exist or has no properties\
            \ object.\n\n * 400 AzureKeyVaultInvalidExpirationDate - The operation\
            \ could not be completed because the Azure Key Vault key expiration date\
            \ is invalid.\n\n * 400 SecurityAzureKeyVaultUrlNullOrEmpty - The operation\
            \ could not be completed because the Azure Key Vault Uri is null or empty.\n\
            \n * 400 AzureKeyVaultInvalidUri - An invalid response from Azure Key\
            \ Vault. Please use a valid Azure Key Vault URI.\n\n * 400 SecurityAzureKeyVaultInvalidKeyName\
            \ - The operation could not be completed because of an invalid Server\
            \ Key name.\n\n * 400 AzureKeyVaultMalformedVaultUri - The provided Key\
            \ Vault uri is not valid.\n\n * 400 SecurityAdalPrincipalCertExpiredError\
            \ - The operation could not be completed because the Azure Key Vault principal\
            \ certificate has expired.\n\n * 400 SecurityInvalidAzureKeyVaultRecoveryLevel\
            \ - The provided Key Vault uri is not valid.\n\n * 400 KeyMaterialNotFoundOnRemoteServer\
            \ - Remote server does not have access to key material used as a TDE protector.\n\
            \n * 400 AzureKeyVaultMismatchError - Unexpected Key Vault region found\
            \ in the http response.\n\n * 400 AzureKeyVaultRsaKeyNotSupported - The\
            \ provided key vault uses unsupported RSA Key Size or Key Type. The supported\
            \ RSA key size is 2048 and Key Type is RSA.\n\n * 401 AzureKeyVaultKeyDisabled\
            \ - The operation could not be completed on the server because the Azure\
            \ Key Vault key is disabled.\n\n * 401 AzureKeyVaultNoServerIdentity -\
            \ The server identity is not correctly configured.\n\n * 401 AzureKeyVaultMissingPermissions\
            \ - The server is missing required permissions on the Azure Key Vault.\
            \ \n\n * 401 AdalGenericError - The operation could not be completed because\
            \ an Azure Active Directory error was encountered.\n\n * 401 AdalServicePrincipalNotFound\
            \ - The operation could not be completed because an Azure Active Directory\
            \ library Service Principal not found error was encountered.\n\n * 404\
            \ SubscriptionDoesNotHaveServer - The requested server was not found\n\
            \n * 404 ResourceNotFound - The requested resource was not found.\n\n\
            \ * 409 ServerKeyNameAlreadyExists - The server key already exists on\
            \ the server.\n\n * 409 ServerKeyUriAlreadyExists - The server key URI\
            \ already exists on the server.\n\n * 409 ServerKeyDoesNotExists - The\
            \ server key does not exist.\n\n * 409 AzureKeyVaultKeyNameNotFound -\
            \ The operation could not be completed because the Azure Key Vault Key\
            \ name does not exist.\n\n * 409 AzureKeyVaultKeyInUse - The key is currently\
            \ being used by the server.\n\n * 503 AzureKeyVaultConnectionFailed -\
            \ The operation could not be completed on the server because attempts\
            \ to connect to Azure Key Vault have failed\n\n * 503 AzureKeyVaultGenericConnectionError\
            \ - The operation could not be completed because an error was encountered\
            \ when attempting to retrieve Key Vault information ."
      tags:
      - ManagedInstanceKeys
      x-ms-examples:
        Creates or updates a managed instance key:
          parameters:
            api-version: 2017-10-01-preview
            keyName: someVault_someKey_01234567890123456789012345678901
            managedInstanceName: sqlcrudtest-4645
            parameters:
              properties:
                serverKeyType: AzureKeyVault
                uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
            resourceGroupName: sqlcrudtest-7398
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/managedInstances/sqlcrudtest-4645/keys/someVault_someKey_01234567890123456789012345678901
                kind: azurekeyvault
                name: sqlcrudtest-4645
                properties:
                  creationDate: 2017-05-01T00:00:00.0Z
                  serverKeyType: AzureKeyVault
                  thumbprint: 00112233445566778899AABBCCDDEEFFAABBCCDD
                  uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
                type: Microsoft.Sql/managedInstances/keys
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/managedInstances/sqlcrudtest-4645/keys/someVault_someKey_01234567890123456789012345678901
                kind: azurekeyvault
                name: sqlcrudtest-4645
                properties:
                  creationDate: 2017-05-01T00:00:00.0Z
                  serverKeyType: AzureKeyVault
                  thumbprint: 00112233445566778899AABBCCDDEEFFAABBCCDD
                  uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
                type: Microsoft.Sql/managedInstances/keys
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
        - default
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ManagedInstanceKey:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: A managed instance key.
      example:
        kind: kind
        properties:
          serverKeyType: ServiceManaged
          thumbprint: thumbprint
          creationDate: 2000-01-23T04:56:07.000+00:00
          uri: uri
      properties:
        kind:
          description: Kind of encryption protector. This is metadata used for the
            Azure portal experience.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ManagedInstanceKeyProperties'
    ManagedInstanceKeyListResult:
      description: A list of managed instance keys.
      example:
        value:
        - kind: kind
          properties:
            serverKeyType: ServiceManaged
            thumbprint: thumbprint
            creationDate: 2000-01-23T04:56:07.000+00:00
            uri: uri
        - kind: kind
          properties:
            serverKeyType: ServiceManaged
            thumbprint: thumbprint
            creationDate: 2000-01-23T04:56:07.000+00:00
            uri: uri
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/ManagedInstanceKey'
          readOnly: true
          type: array
      type: object
    ManagedInstanceKeyProperties:
      description: Properties for a key execution.
      example:
        serverKeyType: ServiceManaged
        thumbprint: thumbprint
        creationDate: 2000-01-23T04:56:07.000+00:00
        uri: uri
      properties:
        creationDate:
          description: The key creation date.
          format: date-time
          readOnly: true
          type: string
        serverKeyType:
          description: "The key type like 'ServiceManaged', 'AzureKeyVault'."
          enum:
          - ServiceManaged
          - AzureKeyVault
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServerKeyType
          x-ms-mutability:
          - create
        thumbprint:
          description: Thumbprint of the key.
          readOnly: true
          type: string
        uri:
          description: "The URI of the key. If the ServerKeyType is AzureKeyVault,\
            \ then the URI is required."
          type: string
          x-ms-mutability:
          - create
      required:
      - serverKeyType
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

